include templates/_mixins
- var skillPairs = [["Identify", "Obscure"],["Persuade","Dissuade"],["Escape","Pursue"],["Assault","Protect"]];
.wrapper
    input.tabstoggle(type="hidden", name="attr_sheetTab", value="character")
    .tabs.u-flex
        button.button.button--tab(type="action", name="act_character")
            span.button__tab-text.u-font-med Character Sheet
        button.button.button--tab(type="action", name="act_edit")
            span.button__tab-text.u-font-med Modify Stats
    .tabcharacter
        .main
            .skills.section
                each skill, index in skillPairs
                    .skill
                        .skill__row.u-flex.u-flex-align-center
                            .skill__column.skill__column--left
                                .skill__column-head.u-text-right
                                    h3.skill__heading= skill[0]
                                .skill__column-body.u-text-right
                                    +button("Skill Roll", skill[0].toLowerCase(), skill[0])
                            .skill__column.skill__column--right
                                .skill__column-head
                                    h3.skill__heading= skill[1]
                                .skill__column-body
                                    +button("Skill Roll", skill[1].toLowerCase(), skill[1])
                                        span(name="attr_" + skill[1].toLowerCase())
                        fieldset.skill__row.hidebuttons(class="repeating_specs-"+index)
                            .skill--specs.u-flex.u-flex-align-center
                                .skill__column.skill__column--left
                                    .skill__column-head.u-text-right
                                        // Need the inputs for the roll button to work
                                        input.u-hide(type="text", name="attr_specname")
                                        input.u-hide(type="number", name="attr_specval", value="0")
                                        span(name="attr_specname")
                                .skill__column.skill__column--right
                                    +button("Specialty Roll", "specval", "@{specname}")

            .notes.section
                h2.u-font-small.u-ucase Notes:
                textarea(name="attr_notes")
            .survival.section
                h2.u-font-small.u-ucase Survival Points:
                .skill__row
                    input.u-hide(type="number", name="attr_survival", value="5")
                    button.button.button--mod.button--mod-sub(type="action", name="act_survivalSub")
                        span -
                    span.display-number.u-font-large(name="attr_survival")
                    button.button.button--mod.button--mod-add(type="action", name="act_survivalAdd")
                        span +
            .target.section
                h2.u-font-small.u-ucase Roll Target:
                .skill__row
                    input.u-hide(type="number", name="attr_target", value="15")
                    button.button.button--mod.button--mod-sub(type="action", name="act_targetSub")
                        span -
                    span.display-number.u-font-large(name="attr_target")
                    button.button.button--mod.button--mod-add(type="action", name="act_targetAdd")
                        span +
            .habits.section
                h2.u-font-small.u-ucase Bad Habits:
                textarea(name="attr_habits")
    .tabedit
        .edit
            .edit__section
                each skill, index in skillPairs
                    .skill
                        .skill__row.u-flex.u-flex-align-center
                            .skill__column.skill__column--left
                                .skill__column-head.u-text-right
                                    h3.skill__heading= skill[0]
                                .skill__column-body.u-text-right
                                    input.modify-input.u-font-large.u-text-center(type="number", name="attr_"+skill[0].toLowerCase(), value="1")
                            .skill__column.skill__column--right
                                .skill__column-head
                                    h3.skill__heading= skill[1]
                                .skill__column-body
                                    input.modify-input.u-font-large.u-text-center(type="number", name="attr_"+skill[1].toLowerCase(), value="1")
                        .skill__row.edit__specs
                            h3.u-font-small.u-text-center Specialties
                            fieldset(class="repeating_specs-"+index)
                                .skill--specs.u-flex.u-flex-align-center.u-flex-justify-center
                                    input.modify-input(type="text", name="attr_specname")
                                    input.modify-input(type="number", name="attr_specval", value="0")
    .footer.u-text-right
        span.u-block version 1.01

include templates/_rolltemplates
//- SCRIPTS
script(type="text/worker")
    include js/scripts.js
