.charsheet {
    background: url('http://www.gsa.europa.eu/sites/default/files/files/content/news/images/home/cracked-asphalt-closeup.jpg')
}

/*----------- Tabs Setup -------------*/

div.sheet-core-content { display: none; width:840px;}

.charsheet div[class^="sheet-section"] {     
    /*visibility: hidden;
    opacity: 0;
    max-height:0;
	overflow: hidden;*/
	display: none;
}

.charsheet input.sheet-tab1:checked ~ div.sheet-section-1,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-2,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-3,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-4,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-5,
.charsheet input.sheet-tab6:checked ~ div.sheet-section-6 {
	/*max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: auto;*/
	display: block;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	/*max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;*/
	display: block;
}

.charsheet input.sheet-tab {
    width: 100px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.charsheet span.sheet-tab {
	text-align: center;
    display: inline-block; /*originally inline-block*/  
	font-size: 13px;	
	background: white;
	color: black; /*originally white*/
    border: 2px solid black;
	/*font-family: "Tinos", "Quattrocento", "Lustria", "Buenardserif", serif;*/
	font-weight: bold;
	border-radius: 4px;
	
	width: 100px; /*originally 87px*/
    height: 20px; /*originally 20px*/
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -101px;/*originally 91px*/
}

.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6,
.charsheet input.sheet-tab7:checked + span.sheet-tab7,
.charsheet input.sheet-tab8:checked + span.sheet-tab8,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 {
    
    background: black;  /*originally ab8b57*/  
    color: white; /*originally white*/
	border-radius: 4px;
    border: 2px solid white;
}

/*----------- End Tab Setup -----------*/

/* ===== Fonts =====*/

@font-face {
    font-family: 'Distress';
    src: url('http://www.geeksville.us/fonts/Coal/Distress.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ===== End of Fonts =====*/

h1.sheet-main_title {
    font-family: 'Distress';
    font-variant: small-caps;
    font-weight:normal;
    font-size:3em;
    text-align:right;
    padding-right:200px;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white;
}

h1.sheet-main_title2 {
    font-family: 'Distress';
    font-variant: small-caps;
    font-weight:normal;
    font-size:3em;
    text-align:right;
    padding-right:200px;
    color:yellow;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

.sheet-attrib {
    font-family: 'Distress';
    font-size:1.1em;
    text-align:left;
    color:yellow;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
    padding-left:10px;
}
table.sheet-bright th {
    color:white;
    text-shadow: 0px 0px 2px black;
}
div.sheet-circle {
    width:3em;
    height:3em;
    border:2px solid gray;
    border-radius:50%;
    margin-left:20px;
    background:white;
}
.sheet-attribute[type="number"] {
    position:relative;
    left:-15px;
    top:8px;
    font-size:1.5em;
    text-align:center;
    padding:0px;
    margin:0px;
    border:none;
    box-shadow:none;
    background:transparent;
}

input.sheet-attribute[type=number]::-webkit-inner-spin-button, 
input.sheet-attribute[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

.sheet-Pictos_3 {
    font-family: 'Pictos Three';
    display:inline;
    font-variant: normal;
}

.sheet-input {
    box-shadow:none;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius:0;   
}

.sheet-skillname {
    box-shadow:none;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius:0; 
    width:50px;
    font-size:1.1em;
}

select.sheet-skillname {
    box-shadow:none;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius:0; 
    width:85px;
    font-size:1.1em;
    margin:0;
    
    overflow: hidden;
    -webkit-appearance: none;
    box-shadow:none;
    margin-top: 0px;
    padding-top:0px;
    
    text-align: center;
    text-indent: 0.01px; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 00px;
    -moz-padding-end: 00px;
}
.sheet-tiny {
    font-size:10px;
    width:20px;
    height:12px;
    line-height:12px;
    border-top:none;
    border-left:none;
    border-right:none;
    background:#BEBEBE;
    color:black;
    border-radius:5px;
    
}
table.sheet-armored {
    background:white;
    border-collapse: separate; /* IE7 and lower */
    border-spacing: 0; 
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    border:1px solid black;
    text-align:right;
    width:100%;
    font-size:10px;
    padding:0px;
}
table.sheet-armored th {
    font-family: 'Distress';
    font-variant: small-caps;
    border-bottom:1px solid black;
    text-align:center;
    font-size:1.4em;
    font-weight:normal;
}

table.sheet-armored td {
    margin:0;
    padding:0;
}
/*-----cols-----*/
.charsheet .sheet-3colrow .sheet-col {
    width: calc(25% - 9px) !important;
    margin-right: 5px !important;
}

.charsheet .sheet-3colrow .sheet-col:nth-child(2) {
    width: calc(40% - 9px) !important;
    margin-right:5px;
}
.charsheet .sheet-3colrow .sheet-col:nth-child(3){
    width: calc(30% - 8px) !important;
    margin-right: 0px !important;
}
.charsheet .sheet-2colrow .sheet-col {
    width: calc(25% - 3px) !important;
    margin-right: 2px !important;
}
.charsheet .sheet-2colrow .sheet-col:nth-child(2) {
    width: calc(75% - 3px) !important;
    margin-right: 0 !important;
}
.charsheet .sheet-1colrow .sheet-col {
    width: calc(100% - 3px) !important;
    margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-2colrow .sheet-col {
    width: calc(65% - 3px) !important;
    margin-right: 2px !important;
}
.charsheet .sheet-wrapper .sheet-2colrow .sheet-col:nth-child(2) {
    width: calc(30% - 3px) !important;
    margin-right: 0 !important;
}
/*----------- End cols -----------*/
/*-----radio boxes-----*/

/* -----Hide actual radio----- */
input.sheet-normal[type="radio"]
{
    opacity: 0;
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
    left: 4px;
    margin: -6px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake radio----- */
input.sheet-normal[type="radio"] + span::before
{
    margin-right: 2px;
    border: solid 1px #a8a8a8;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    font-family: 'New Times Roman';
    color:black;
    content: "•";
    width: 8px;
    height: 8px;
    font-size: 2.5em;
    text-shadow:none;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-normal[type="radio"]:checked ~ input.sheet-normal[type="radio"] + span::before
{    
    content: "";
}

/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}

input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}

input.sheet-zero[type="radio"] + span::before
{
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
}

/*--------------Fortune--------------*/

/* ----Hide actual sheet-fortune checkbox---- */
input.sheet-fortune[type="checkbox"]
{
    opacity: 0;
    width: 20px;
    height: 20px;
    position: relative;
    top: 0px;
    left: -10px;
    margin-right: -18px;
    margin-left: -18px;
    margin-top: -8px;
    margin-bottom: -8px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake sheet-fortune checkbox---- */
input.sheet-fortune[type="checkbox"] + span::before
{
    position: relative;
    top: 0px;
    left: -10px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    color: gray;
    font-family: 'Pictos Three';
    content: "l";
    font-size:2em;
    
}
input.sheet-fortune[type="checkbox"]:checked + span::before
{
    color: black;
    text-shadow: 0px 0px 3px yellow, 0px 0px 3px yellow, 0px 0px 10px green;
}
/*--------------hands--------------*/

/* ----Hide actual sheet-hands checkbox---- */
input.sheet-hands[type="checkbox"]
{
    opacity: 0;
    width: 10px;
    height: 20px;
    position: relative;
    top: 0px;
    left: -5px;
    margin: -8px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake sheet-fortune checkbox---- */
input.sheet-hands[type="checkbox"] + span::before
{
    display:inline-block;
}

input.sheet-hands[type="checkbox"] + span::before
{
    position: relative;
    left: -7px;
    margin-right: 0px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    color: gray;
    content: "1";
    font-size:2em;
    
}
input.sheet-hands[type="checkbox"]:checked + span::before
{
    color: gray;
    content: "2";
    font-size:2em;
}

/* ----Big Check checkbox---- */
/* ----Hide actual sheet-bigcheck checkbox---- */
input.sheet-bigcheck[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -8px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake sheet-bigcheck checkbox---- */
input.sheet-bigcheck[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-bigcheck[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-bigcheck[type="checkbox"]:checked + span::before
{
    color: red;
    content: "✓";
}
/*--------------End of Big Check checkbox--------------*/
/* ----Hide actual chipped Checkbox---- */
input.sheet-refresh[type="checkbox"] {
    opacity: 0;
    width: 50px;
    height: 14px;
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
    z-index: 1;
    
}

/* ----Fake Big Checkbox-- .sheet-bigcheck -- */
input.sheet-refresh[type="checkbox"] + span::before {
    position: relative;
    top: 5px;
    left: -50px;
    
    margin-bottom: 6px;
    margin-left: 0px;
    border: solid none;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    
    background: none;
    
    content: "Health";
    color:black;
    width: 34px;
    height: 14px;
    font-size: 14px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input.sheet-refresh[type="checkbox"]:active + span::before {
    color: red;
    content: "Health"; /*   "?" */
    text-shadow: 0px 0px 0.5em #A52A2A;
}
/*=====Buttons=====*/
/*=====Sheet Big=====*/
button[type=roll].sheet-big:before { 
    background-image: none;
    /*background-color: #f2f5d3;*/
    /*background-color: white;*/
    content: "";
}

button[type=roll].sheet-big {
    background: rgba(255,255,255,0.5) ;
    color:black;
    padding-bottom:10px;
    font-size:1.1em;
    font-weight:400;
    border-radius: 8px;
    box-shadow:none;
    height:28px;
    width:120px;
    border: none;
    padding:none;
    font-family: 'Distress';
    text-align:left;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white;
}

button[type=roll].sheet-big:hover {
    border: none;
    background:black;
    color:white;
    text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
}

button[type=roll].sheet-big:active {
    border: none;
    background:red;
    color:black;
    text-shadow: 0px 0px 2px red, 0px 0px 2px red, 0px 0px 2px red;
}
/*=====Sheet Car=====*/
button[type=roll].sheet-car:before { 
    background-image: none;
    /*background-color: #f2f5d3;*/
    /*background-color: white;*/
    content: "";
}

button[type=roll].sheet-car {
    background-image: none;
    background: transparent;
    color:black;
    padding-bottom:10px;
    font-size:1.1em;
    font-weight:400;
    border-radius: 8px;
    box-shadow:none;
    height:28px;
    width:120px;
    border: none;
    padding:none;
    font-family: 'Distress';
    text-align:left;
    color:yellow;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

button[type=roll].sheet-car:hover {
    border: none;
    background:black;
    color:white;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

button[type=roll].sheet-car:active {
    border: none;
    background:red;
    color:black;
    text-shadow: 0px 0px 3px red, 0px 0px 3px red, 0px 0px 3px red;
}
/*----- End ofSheet Car -----*/
/*----- End of Buttons -----*/

/*==========health grid==========*/

div.sheet-health {
    width: 20px;
    height: 20px;
    position: relative;
}

input.sheet-health {
    margin: 10px 0 0 00px;
    opacity: 00;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
}

span.sheet-health {
    margin: 10px 0 0 00px;
    display: none;
}

input.sheet-blank { z-index: 2; }

input.sheet-blank:checked + input.sheet-square,
input.sheet-square:checked + input.sheet-slash,
input.sheet-slash:checked + input.sheet-exe{ z-index: 3; }

input.sheet-blank:checked ~ span.sheet-blank,
input.sheet-square:checked ~ span.sheet-square,
input.sheet-slash:checked ~ span.sheet-slash,
input.sheet-exe:checked ~ span.sheet-exe { display: inline-block; }

.sheet-blank {
    width: 20px;
    height: 20px;
    background: url("http://ylwebsite.com/uploads/grey-box-shadow-418px-ylwebsite-transparent.png") no-repeat 0 0;
    background-size: 100%;
}
.sheet-square {
    width: 18px;
    height: 18px;
    background: none;
    background-size: 100%;
    border:1px solid black;
    margin:2px;
}

.sheet-slash {
    width: 20px;
    height: 20px;
    position:relative;
    top:-5px;
    left:0px;
    background: none;
    background-size: 100%;
    font-weight:bold;
    color:red;
    text-align:center;
    vertical-align:top;
    font-size:20px;
}

.sheet-exe {
    width: 20px;
    height: 20px;
    position:relative;
    top:-5px;
    left:0px;
    background: none;
    background-size: 100%;
    font-weight:bold;
    color:red;
    text-align:center;
    vertical-align:top;
    font-size:20px;
}

.sheet-grid {
    margin-bottom: 25px;
}
