* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif, sans-serif;
    font-weight: normal;
}

.sheet-strong {
    font-weight: bold;
}
.sheet-zero-padding {
    padding: 0px !important;
}

.charsheet {
    background: white;
    text-align: center;
}

.sheet-isPC {
    margin-right: 5px;
}

.sheet-isNPC,
.sheet-isAdversary {
    margin: 0 5px 0 20px;
}

.sheet-main {
    display: inline-block;
    text-align: left;
}

.sheet-pc-wrapper {
    margin-left:-189px;
    margin-right:-180px;
}

.sheet-npc,
.sheet-adversary {
    min-width: 600px;
    background:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/parchment.jpg');
    border:50px solid transparent;
    border-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/character_sheet_frame-65pourcent.png') 305 repeat;
}

.sheet-pc {
    min-width: 500px;
    background:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/parchment.jpg');
    border:240px solid transparent;
  	border-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/character_sheet_frame-65pourcent.png') 305 repeat;
}

.sheet-logo {
    text-align: center;
    margin-top: -175px;
    margin-bottom: 30px;
    height: 145px;
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/logo-eng.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.lang-de .sheet-logo {
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/logo-de.gif');
}

.lang-fr .sheet-logo {
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/logo-fr.png');
}

.lang-es .sheet-logo {
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/logo-es.png');
}

label {
    margin-bottom: 0;
    display: inline !important;
    line-height: 26px;
    padding: 0 !important;
}

.charsheet .sheet-pod {
    width: 25%;
}

.lang-de .sheet-pc-wrapper {
    min-width: 880px;
}

.sheet-pod,
.sheet-pod label {
    text-align: center !important;
}

h2 {
    /*font-family: 'Copperplate';*/
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 36px;
}

button[type=roll] {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    padding: 0;
    margin: 0 5px;
    outline: none;
}

button[type=roll]:hover {
    opacity: .5;
}

/* change D20 to system-appropriate D12 */
button[type=roll]:before {
    font-family: "dicefontd12" !important;
    content: "0" !important;
}

input,
textarea {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: rgba(255,255,255,.5);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background: rgba(255,255,255,1);
}

input[type="text"],
input[type="number"],
input.sheet-number {
    background: none !important;
    border-radius: 0;
    border-bottom: 2px solid rgba(0,0,0,.15);
}

input.sheet-number {
    width: 3.5em !important;
}

textarea {
    border: 2px solid rgba(0,0,0,.15);
}

input[type="text"] {
    /*width: 100%;*/
}

input[type="checkbox"]:checked + input[type="number"],
input[type="checkbox"]:checked + input[type="text"],
input[type="checkbox"]:checked + label,
input[type="checkbox"]:checked + span {
    text-decoration: underline;
}

.sheet-endurance, .sheet-hope, .sheet-armour {
    display: inline-block;
}
.sheet-endurance tr td:nth-child(2),
.sheet-hope tr td:nth-child(2),
.sheet-armour tr td:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
}

.sheet-endurance {
    width: 41%;
}
.sheet-hope {
    width: 38%;
}
.sheet-armour {
    width: 20%;
}

.sheet-4colrow .sheet-col {
    width: 24%;
}

.sheet-2colrow {
}

.sheet-1colrow {
}

table.sheet-wide {
    width: 100%;
}

table.sheet-wide-PC {
    width: 100%;
}

td.sheet-label-cell {
    width: 20%;
}

td {
    vertical-align: top;
}

td.sheet-small {
    white-space: nowrap;
}

textarea {
    text-align: left !important;
}

.sheet-attribute {
    position: relative;
}

.sheet-attribute-favoured,
.sheet-attribute td {
    padding-right: 0px !important;
}

.sheet-attribute span.sheet-label {
    line-height: 50px;
    text-align: right !important;
    display: block !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: black;
}

.sheet-attribute input {
    border: 2px solid #000;
    width: 60px !important;
    height: 60px !important;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    background: white;
    padding-bottom: 10px !important;
}

.sheet-attribute-favoured span.sheet-label {
    position: relative;
    top: -16px;
    right: -4px;
    text-align: right;
    width: 70px;
    display: inline-block;
}

.sheet-attribute-favoured input {
    border: 2px solid #000;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    float: none !important;
    margin-top: -30px;
    margin-left: -10px;
    background:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/parchment.jpg') !important;
    text-align: center;
    font-size: 18px;
}

.sheet-group-attrs-skills {
    width: 100%;
}

.sheet-group-attrs-skills td {
    position: relative;
    padding: 1px;
}
.sheet-group-attrs-skills.sheet-horizontal-pad td {
    padding-left: 10px;
    padding-right: 10px;
}

.sheet-group-attrs-skills input[type=checkbox] {
    position: absolute;
    top: 5px;
    height: 20px;
    width: 85px;
    opacity: 0;
    /*outline: 1px solid red;*/
}

.sheet-group-attrs-skills input[type=number] {
    float: right;
}

.sheet-skill-groups,
.sheet-attr-group-skills td:last-child {
    padding-left: 35px !important;
    width: 155px;
}


[name*="attr_gear_name"] {
    width: 100%;
}

.sheet-nowrap {
    white-space: nowrap;
}

.sheet-weapon-skills tr td:nth-of-type(2) ~ td {
    text-align: center;
}

.sheet-weapon-skills tr td:nth-child(2) input {
    display: inline-block;
}

.sheet-weapon-skills tr td:nth-child(2) input[type=text] {
    margin-left: 5px;
    width: 190px
}

.sheet-weapon-skills tr td:nth-child(2) input:checked + input {
    text-decoration: underline
}

.sheet-lmc-skills tr td:nth-child(2) input {
    display: inline-block;
}

.sheet-lmc-skills tr td:nth-child(2) input[type=text] {
    margin-left: 5px;
    width: 180px
}

.sheet-lmc-skills tr td:nth-child(2) input:checked + input {
    text-decoration: underline
}

.sheet-combat-values label,
.sheet-combat-values input {
    display: block;
}

.sheet-combat-values input {
    text-align: center;
}

.sheet-combat-values td {
    padding: 0 10px
}

.sheet-combat {
    width: 100%;
}

.sheet-armour-container {
    position: relative;
}

.sheet-armour-container button {
    position: absolute;
    bottom: 4px;
    right: 0;
}

.sheet-gear-list {
}

.sheet-gear-name {
    padding-right: 10px;
}

.sheet-gear-enc {
    padding: 0 5px;
}

.sheet-gear-enc input {
    padding-bottom: 1px;
}

.sheet-gear-list td:nth-child(2) {
    padding-right: 20px
}

.sheet-weapon-skills tbody td {
    padding: 0 3px;
}

.sheet-weapon-skills .sheet-number {
    width: 30px !important;
}

.sheet-lmc-skills tbody td {
    padding: 0 5px;
}

.sheet-lmc-skills .sheet-number {
    width: 30px !important;
}

[name*='attr_weapon_called_shot'] {
    width: 100px !important;
}

.sheet-center,
.sheet-center label {
    text-align: center;
}

.sheet-section-heading {
    text-align: center !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 20px 0;
}

/******* NPC *******/

.sheet-isAdversary:checked~.sheet-pc,
.sheet-isAdversary:checked~.sheet-lm-character,
.sheet-isPC:checked~.sheet-adversary,
.sheet-isPC:checked~.sheet-lm-character,
.sheet-isNPC:checked~.sheet-adversary,
.sheet-isNPC:checked~.sheet-pc {
    display: none;
}

td.sheet-width-50 {
    width: 50%;
}

.sheet-isNPC {
    display: inline-block;
}

.sheet-weapon-skill-row input[checked] + label {
    text-decoration: underline
}

.sheet-lmc-skill-row input[checked] + label {
    text-decoration: underline
}

.sheet-npc label.sheet-name {
    width: 218px;
}

[name=attr_npc_weapon_skill_name] {
    width: 140px;
}

[name=attr_npc_weapon_edge] {
    width: 3.5em;
}

[name=attr_npc_weapon_called_shot] {
    width: 90px;
}

.sheet-npc .sheet-npc-weapon-labels label {
    display: inline-block !important;
}

.sheet-npc label.sheet-name {
    width: 140px;
    margin-left: 48px;
}

.sheet-npc label.sheet-rating,
.sheet-npc label.sheet-damage,
.sheet-npc label.sheet-edge,
.sheet-npc label.sheet-injury {
    width: calc(3.5em + 4px);
}

.sheet-npc label.sheet-called-shot {
    width: 100px;
}

.sheet-npc .sheet-weapon-skills tr td:last-child {
    text-align: left;
}
.sheet-npc [name*="attr_weapon_skill_name"] {
    width: 200px !important;
}

/*.sheet-npc [name*='attr_weapon_called_shot'] {
    width: 100px !important;
}*/


/*
    Dots
 */


td.sheet-attr-skill-wrapper,
td.sheet-attr-skill-group {
    position: relative;
}

.sheet-dots {
    display: inline-block;
    float: right;
    top: 2px;
    right: 0;
}
.sheet-attr-skill-group .sheet-dots {
    position: absolute;
}
/* move  skill 'dots' to left closer to skill name for English */
.lang-en .sheet-dots {
    margin-right: 20px;
}
.lang-en .sheet-attr-skill-group .sheet-dots {
    margin-right: 0px;
}

.sheet-dots input[type='radio'] {
    opacity:0;
    position:absolute;
    z-index: 1;
    cursor:pointer;
    /* Palatino font */
    top: 8px;
}
.sheet-attr-skill-group .sheet-dots input[type='radio'] {
    /* Palatino font */
    top: 5px;
}

.sheet-dots input[type="radio"] + span {
    height: 10px;
    width: 10px;
    display: inline-block;
    padding: 0 0 0 0px;
    /* Palatino font
    vertical-align: middle; */
    vertical-align: bottom;
    position: relative;
}

.sheet-dots input[type="radio"]:not([value="0"]) + span {
    background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/square-filled.png") no-repeat;
    background-size:100%;
}

.sheet-dots input[type='radio']:checked ~ input[type='radio'] + span {
    background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/square-empty.png") no-repeat;
    background-size:100%;
}

.sheet-dots input[type="radio"][value="0"] + span:before {
    content: "x";
    font-size: 11px;
    position: relative;
    top: -5px;
    left: 1px;
    opacity: 0;
}

.sheet-dots:hover input[type="radio"][value="0"] + span:before {
    opacity: 1;
}

.sheet-attr-skill-group .sheet-dots input[type="radio"][value="0"] + span {
    left: 5px;
}

.sheet-attr-skill-group span.sheet-label {
    top: 1px;
    position: absolute;
}

.sheet-attr-skill-group .sheet-dots input[type='radio'] + span {
    height: 12px;
    width: 12px;
    top: -2px;
}

.sheet-attr-skill-group .sheet-dots input[type="radio"]:not([value="0"]) + span {
    background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/diamond-filled.png") no-repeat;
    background-size:100%;
}

.sheet-attr-skill-group .sheet-dots input[type='radio']:checked ~ input[type='radio'] + span {
    background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/diamond-empty.png") no-repeat;
    background-size:100%;
}


.sheet-hover-info {
    position: absolute;
    background: white;
    z-index: 10;
    padding: 20px;
    width: 300px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 3px 15px rgba(0,0,0,.1);
    transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    text-align: left;
}
.sheet-hover-info.sheet-margin-left-140px {
    margin-left: -140px;
}

span.label:hover + .sheet-hover-info,
span.sheet-label:hover + .sheet-hover-info,
input:hover + span.sheet-label + .sheet-hover-info {
    visibility: visible;
    opacity: 1;
    transition-delay: 1s;
}

.sheet-attr-skill-group .sheet-hover-info  {
    margin-left: -140px;
}

.sheet-rating-wrapper .sheet-hover-info {
    margin-left: -200px;
}

.attr_background {
    height: 300px;
}

select {
    width: 110px;
}

span.sheet-label {
    font-weight: normal;
    font-size: 18px;
}

table.sheet-group-attrs-skills span.sheet-label {
    font-weight: normal;
    font-size: 16px;
}

tr.sheet-attr-group-skills td {
    vertical-align: bottom;
}

.sheet-wide-PC td.sheet-small {
    vertical-align: bottom;
}

tr.sheet-attr-group-skills td.sheet-attr-skill-wrapper button[type=roll] {
    margin-right: 0px;
}

.sheet-pc input, .sheet-pc textarea {
    font-size: 16px;
    color: black;
}

.sheet-pc input[type=text] {
    padding-bottom: 1px;
}


[name*="attr_weapon_skill_name"] {
    width: 160px !important;
}

td#sheet-upper-right-section {
	padding-left: 25px;
	vertical-align: top;
}

.sheet-rating-wrapper {
	width:100px;
	height:105px;
	text-align: center;
	position: relative;
	float: right;
	clear: both;
}

.sheet-rating-wrapper span.sheet-label {
	text-align: center;
	display: inline-block;
	font-size: 18px;
	width: 100%;
}

.sheet-rating-wrapper img {
	width:84px;
	height:84px;
	position:relative;
	z-index: 0;
}

.sheet-rating-wrapper input {
	width:50px;
	height:50px;
	top:-68px;
	left:15px;
	position: relative;
	z-index: 1;
	font-size:22px;
	text-align: center;
	border:none;
	background-color: transparent;
	font-family: dum1;
	color:black;
}

input#sheet-xp-spent {
    font-size: 22px;
    margin-left: -29px;
}

input#sheet-xp-input {
    font-size: 15px;
    position: absolute;
    top: 30px;
    left: 8px;
    padding-bottom: 4px;
}

.sheet-rating-wrapper .sheet-nw-sub-rating {
  border-radius: 100%;
  background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/The%20One%20Ring/assets/images/parchment.jpg') !important;
  width: 34px;
  height: 28px;
  border: 2px solid black;
  font-size:16px;
  position:relative;
  top:-130px;
  left:-0px;
  z-index: 1;
}

.sheet-rating-wrapper button {
    position: relative;
    top: -100px;
    left: -60px;
}

table.sheet-wide-PC-container {
    width: 100%;
}

