@-moz-document domain("app.roll20.net") {
/*
new styling for The Fellowship of the Roll20 Character Sheet
*/

/* hide the roll command formula */
div.rollresult > div.formula {
    display: none;
}

div.rollresult > div.formula ~ div.formula {
    display: block;
}

/* get Dumbledor font (not loaded as 'unsafe' content in standard css) */

@font-face {
    font-family: "dum2";
    src: url("https://raw.githubusercontent.com/stuartj/roll20-character-sheets/master/The%20One%20Ring/assets/fonts/dum1.ttf");
}

.charsheet * {
    font-family: dum2 !important;
}

/* save original styling fbefore font-size changes for switching default to Palatino */i
h2 {
    /*font-family: 'Copperplate';*/
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 36px;
}

.sheet-attribute span.sheet-label {
    line-height: 50px;
    text-align: right !important;
    display: block !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: black;
}

.sheet-attribute input {
    border: 2px solid #000;
    width: 60px !important;
    height: 60px !important;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    background: white;
    padding-bottom: 10px !important;
}

.sheet-attribute-favoured input {
    border: 2px solid #000;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    float: none !important;
    margin-top: -30px;
    margin-left: -10px;
    background:url('https://raw.githubusercontent.com/stuartj/roll20-character-sheets/master/The%20One%20Ring/assets/images/parchment.jpg') !important;
    text-align: center;
    font-size: 18px;
}

.sheet-dots input[type="radio"][value="0"] + span:before {
    content: "x";
    font-size: 11px;
    position: relative;
    top: -5px;
    left: 1px;
    opacity: 0;
}

span.sheet-label {
    font-weight: normal;
    font-size: 18px;
}

table.sheet-group-attrs-skills span.sheet-label {
    font-weight: normal;
    font-size: 16px;
}

.sheet-pc input, .sheet-pc textarea {
    font-size: 16px;
    color: black;
}

.sheet-rating-wrapper span.sheet-label {
	text-align: center;
	display: inline-block;
	font-size: 18px;
	width: 100%;
}

.sheet-rating-wrapper input {
	width:50px;
	height:50px;
	top:-68px;
	left:15px;
	position: relative;
	z-index: 1;
	font-size:22px;
	text-align: center;
	border:none;
	background-color: transparent;
	font-family: dum1;
	color:black;
}

input#sheet-xp-spent {
    font-size: 22px;
    margin-left: -29px;
}

input#sheet-xp-input {
    font-size: 15px;
    position: absolute;
    top: 30px;
    left: 8px;
    padding-bottom: 4px;
}

.sheet-rating-wrapper .sheet-nw-sub-rating {
  border-radius: 100%;
  background: url('https://raw.githubusercontent.com/stuartj/roll20-character-sheets/master/The%20One%20Ring/assets/images/parchment.jpg') !important;
  width: 34px;
  height: 28px;
  border: 2px solid black;
  font-size:16px;
  position:relative;
  top:-130px;
  left:-0px;
  z-index: 1;
}


/* --------------------------------------------------------------- */
/*
original styling from 'The One Ring on Roll20' sheet
except substitute github hosted graphics for the background styling
*/
html,
body {
    height: 100% !important;
}

body {
    background: url('https://raw.githubusercontent.com/stuartj/roll20-character-sheets/master/The%20One%20Ring/assets/images/ring.png') center center no-repeat, url('https://raw.githubusercontent.com/stuartj/roll20-character-sheets/master/The%20One%20Ring/assets/images/wood.jpg') !important;
    box-shadow: inset 0 0 200px rgba(0, 0, 0, .8) !important;
}

#floatingtoolbar {
    background-color: rgba(0, 0, 0, .9) !important;
    border: none !important;
    box-shadow: none !important;
    width: 50px !important;
}

#floatingtoolbar div.submenu {
    left: 50px !important;
    padding: 0 !important;
    top: 0 !important;
}

#floatingtoolbar div.submenu .pictos,
#floatingtoolbar div.submenu .pictosthree,
#floatingtoolbar div.submenu .pictostwo {
    left: 15px !important;
    position: absolute !important;
    text-align: center !important;
    width: 20px !important;
}

#floatingtoolbar div.submenu ul {
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
    width: 200px !important;
}

#floatingtoolbar div.submenu ul li {
    color: #444 !important;
    padding-left: 45px !important;
    padding-right: 20px !important;
}

#floatingtoolbar div.submenu ul li span {
    padding: 0 !important;
}

#floatingtoolbar div.submenu ul li:hover {
    background-color: #99d8ed !important;
}

#floatingtoolbar li {
    border: 0 !important;
    color: #ccc !important;
    height: 50px !important;
    line-height: 50px !important;
    padding: 0 !important;
}

#floatingtoolbar li.activebutton,
#floatingtoolbar li:hover {
    background-color: white !important;
    color: #111 !important;
}

#floatingtoolbar li:last-child {
    border-bottom: none !important;
}

#floatingtoolbar ul {
    box-shadow: none !important;
}

#page-toolbar {
    background-color: #111 !important;
    border-radius: 0 !important;
    height: 160px !important;
    left: 0 !important;
    right: 0 !important;
    width: initial !important;
}

#page-toolbar .availablepage {
    box-sizing: border-box !important;
    height: 160px !important;
    margin: 0 !important;
    padding: 10px !important;
    vertical-align: top !important;
    width: 160px !important;
}

#page-toolbar .availablepage .pagethumb {
    margin-top: 15px !important;
}

#page-toolbar .availablepage span {
    bottom: 20px !important;
    left: 0 !important;
    right: 0 !important;
    text-shadow: none !important;
    color: #eee !important;
    font-size: 12px !important;
}

#page-toolbar .container {
    transition: opacity .4s ease-in-out !important;
}

#page-toolbar .handle {
    background: #111 !important;
    border-radius: 0 0 100% 100% !important;
    bottom: -29px !important;
    color: #eee !important;
    height: 29px !important;
    opacity: 1 !important;
    width: 100px !important;
    right: 50% !important;
    margin-left: -50px !important;
    padding: 0 !important;
}

#page-toolbar .handle .pictos {
    display: none !important;
}

#page-toolbar .handle:after {
    content: 'PAGES' !important;
    font-size: 11px !important;
    letter-spacing: 2px !important;
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
}

#page-toolbar .playerbookmark {
    left: 30px !important;
    top: 25px !important;
}

#page-toolbar.closed .container {
    box-shadow: 0 0 50px rgba(0, 0, 0, .15) !important;
    opacity: 0 !important;
}

#playerzone {
    bottom: 20px !important;
    left: 20px !important;
}

#playerzone .player {
    margin: 0 !important;
    margin-right: 10px !important;
}

#playerzone .player .color_picker {
    top: 0 !important;
}

#playerzone .player .playername {
    background-color: #111 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    padding: 0 !important;
}

#rightsidebar {
    -moz-border-radius-bottomleft: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-style: none !important;
    overflow: initial !important;
    box-shadow: 0 0 50px rgba(0, 0, 0, .15) !important;
}

#secondary-toolbar {
    background-color: #222 !important;
    border: 0 !important;
    box-shadow: none !important;
    left: 90px !important;
    opacity: 1 !important;
}

#secondary-toolbar .btn {
    border: 0 !important;
    border-radius: 0 !important;
    margin: 5px !important;
}

#secondary-toolbar li {
    border: 0 !important;
    height: initial !important;
}

#textchat .message.system {
    background-color: #eee !important;
}

#textchat .message.system .spacer {
    background-color: #ddd !important;
}

#rightsidebar .ui-tabs-panel {
    top: 70px !important;
}

#rightsidebar .ui-tabs-panel#textchat {
    position: absolute !important;
    top: 50px !important;
    height: initial !important;
    bottom: 150px !important;
}

#textchat-input {
    border-top: 0 !important;
    padding: 10px !important;
    height: initial !important;
    min-width: 260px !important;
    box-sizing: border-box !important;
}

#textchat-input * {
    box-sizing: border-box !important;
}

#textchat-input textarea {
    width: 100% !important;
    height: 80px !important;
    resize: none !important;
}

.actions_menu {
    width: 120px !important;
    z-index: 110 !important;
    /* above sidebar */;
}

.actions_menu > ul {
    width: initial !important;
    padding: 0 !important;
    border: 0 !important;
}

.actions_menu ul li {
    padding: 0 10px !important;
    line-height: 30px !important;
    min-width: 90px !important;
    border-color: #ddd !important;
    white-space: nowrap !important;
}

.actions_menu ul li:lastchild {
    border-bottom: 0 !important;
}

.actions_menu ul li ul.submenu {
    left: 90px !important;
    border: 0 !important;
    width: initial !important;
    opacity: 1 !important;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .1) !important;
}

#measure img {
    -webkit-filter: brightness(2.3) !important;
}

.nav-tabs li a {
    outline: none !important;
}

#sidebarcontrol {
    opacity: 1 !important;
    padding: 0 !important;
    -webkit-transform: translateX(0) rotate(-90deg) !important;
    -moz-transform: translateX(0) rotate(-90deg) !important;
    width: 100px !important;
    text-align: center !important;
    border: none !important;
    font-size: 12px !important;
    color: #eee !important;
    background-color: #111 !important;
    height: 30px !important;
    line-height: 30px !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    -webkit-transform-origin: 100% 100% !important;
    -moz-transform-origin: 100% 100% !important;
    border-radius: 100% 100% 0 0 !important;
    top: 50% !important;
    margin-top: -75px !important;
}

#sidebarcontrol .fonticon-menu {
    display: none !important;
}

#sidebarcontrol:after {
    content: 'Menu' !important;
}
}
