/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* configure the tab buttons */
.charsheet .sheet-pcSheet,
.charsheet .sheet-vehicles,
.charsheet .sheet-npc,
.charsheet .sheet-creature {
    display: none;
}

/* style the active button */
.charsheet .sheet-tabstoggle[value="pcSheet"] ~ div .sheet-button1 {
    outline: 2px solid red;
}

.charsheet .sheet-tabstoggle[value="vehicles"] ~ div .sheet-button2 {
    outline: 2px solid red;
}

.charsheet .sheet-tabstoggle[value="npc"] ~ div .sheet-button3 {
    outline: 2px solid red;
}

.charsheet .sheet-tabstoggle[value="creature"] ~ div .sheet-button4 {
    outline: 2px solid red;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="pcSheet"] ~ div.sheet-pcSheet,
.charsheet .sheet-tabstoggle[value="vehicles"] ~ div.sheet-vehicles,
.charsheet .sheet-tabstoggle[value="npc"] ~ div.sheet-npc,
.charsheet .sheet-tabstoggle[value="creature"] ~ div.sheet-creature {
    display: block;
}

div.sheet-pcSheet,
div.sheet-vehicles,
div.sheet-npc,
div.sheet-creature{
    position: relative;
    text-align: center;
    width:920px;
    min-height: 700px;
    max-height: auto;
    margin-top: 3px;
    padding: 0;
    background-image: url(https://i.ibb.co/HLYdjS64/DT-CHARACTER-BACKGROUND.png);
    background-repeat: no-repeat;
    background-position:top left;
    background-size: 920px 690px;
    background-color: transparent;
}

/* Titles */
.vehicles-infos-title{
    font-family: "Anton", sans-serif;
    font-size: 20px;
    text-align: left;
}

/* Areas */
.creature-special-habilities{
    position: absolute;
    left: 510px;
    top: 95px;
    width: 350px;
    height: auto;
}

.creature-special-attacks{
    position: absolute;
    left: 50px;
    top: 350px;
    width: 390px;
    height: auto;
}

.creature-notes{
    position: absolute;
    left: 470px;
    top: 350px;
    width: 390px;
    height: auto;
}

.creature-combat-attributes{
    position: absolute;
    left: 230px;
    top: 180px;
    width: 200px;
    height: auto;
}

.creature-damages{
    position: absolute;
    left: 230px;
    top: 270px;
    width: 220px;
    height: auto;
}

.creature-size{
    position: absolute;
    left: 30px;
    top: 180px;
    width: 180px;
    height: auto;
}

.creature-vitality{
    position: absolute;
    left: 30px;
    top: 270px;
    width: 170px;
    height: auto;
}

.creature-name{
    position: absolute;
    left: 30px;
    top: 95px;
    width: 145px;
    height: auto;
}

.creature-abilities{
    position: absolute;
    left: 230px;
    top: 95px;
    width: 150px;
    height: auto;
}

.vehicles-infos{
    position: absolute;
    left: 0px;
    top: 35px;
    width: 890px;
    height: auto;
}

.logo{
    position: absolute;
    left: 350px;
    top: 15px;
    width: 250px;
    height: auto;
}

.pieces1{
    position: absolute;
    left: 50px;
    top: 20px;
    width: 130px;
    height: auto;
}

.pieces2{
    position: absolute;
    left: 340px;
    top: 85px;
    width: 130px;
    height: auto;
}

.pieces3{
    position: absolute;
    left: 25px;
    top: 565px;
    width: 130px;
    height: auto;
}

.barrel{
    position: absolute;
    left: 540px;
    top: 15px;
    width: 290px;
    height: auto;
}

.abilities{
    position: absolute;
    left: 30px;
    top: 215px;
    width: 145px;
    height: auto;
}

.character{
    position: absolute;
    left: 30px;
    top: 100px;
    width: 300px;
    height: auto;
}

.boons{
    position: absolute;
    left: 252px;
    top: 215px;
    width: 250px;
    height: auto;
}

.flaws{
    position: absolute;
    left: 252px;
    top: 335px;
    width: 250px;
    height: auto;
}

.careers{
    position: absolute;
    left: 30px;
    top: 325px;
    width: 160px;
    height: auto;
}

.weapons{
    position: absolute;
    left: 215px;
    top: 460px;
    width: 145px;
    height: auto;
}

.equipment{
    position: absolute;
    left: 395px;
    top: 460px;
    width: 145px;
    height: auto;
}

.languages{
    position: absolute;
    left: 550px;
    top: 325px;
    width: 145px;
    height: auto;
}

.arcanePoints{
    position: absolute;
    left: 550px;
    top: 485px;
    width: 145px;
    height: auto;
}

.researchPoints{
    position: absolute;
    left: 550px;
    top: 545px;
    width: 145px;
    height: auto;
}

.advancePoints{
    position: absolute;
    left: 550px;
    top: 605px;
    width: 145px;
    height: auto;
}

.picturesNotes{
    position: absolute;
    left: 705px;
    top: 325px;
    width: 145px;
    height: auto;
}

.bullet1{
    position: absolute;
    right: 1px;
    top: 15px;
    width: 60px;
    height: auto;
}

.bullet2{
    position: absolute;
    right: 1px;
    top: 355px;
    width: 60px;
    height: auto;
}


/* Fields */
.creature-select{
    position: absolute;
    border: none;
    background-color: transparent;
}

.field-box{
    position: absolute;
    border: none;
    background: transparent;
}

.field-box-border{
    border: 1px solid black;
    background: transparent;
}

.center-field-box{
    position: absolute;
    border: none;
    background: transparent;
    text-align: center;
}

input[type="number"].field-box{
    position: absolute;
    border: none;
    background: transparent;
    text-align: center;
}

.checkbox-bullet{
    position: absolute;
    border: none;
    background: transparent;
}

/* Dice button appearance */
button[type=roll].d6-button,
button[type=roll].d6-button-green,
button[type=roll].d6-button-red{
    position: absolute;
    box-sizing: border-box;
    text-align: center !important;
    padding: 1px 1px 1px 1px !important;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background:transparent;
    box-shadow: none;
    text-shadow: none;
    -webkit-box-shadow: none;
}

button[type=roll].d6-button-repeating {
    box-sizing: border-box;
    text-align: center !important;
    padding: 1px 1px 1px 1px !important;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background:transparent;
    box-shadow: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    margin: 0px;
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button::before{
    font-family: "dicefontd6";
    content: "f";
    font-size: 23px;
    color: rgba(10, 10, 10, 0.9);
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button-repeating::before{
    font-family: "dicefontd6";
    content: "f";
    font-size: 23px;
    color: rgba(10, 10, 10, 0.9);
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button-green::before{
    font-family: "dicefontd6";
    content: "f";
    font-size: 23px;
    color: rgba(111,179,135,0.9);
}


.ui-dialog .tab-content .charsheet button[type=roll].d6-button-red::before{
    font-family: "dicefontd6";
    content: "f";
    font-size: 23px;
    color: rgba(147,35,21,0.9);
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button:hover:before{
    color: black;
    content: 'F';
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button-repeating:hover:before{
    color: black;
    content: 'F';
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button-green:hover:before{
    color: #6FB387;
    content: 'F';
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button-red:hover:before{
    color: #932315;
    content: 'F';
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button:hover{
    font-family: "dicefontd6";
    content: "f";
    font-size: 23px;
    color: black;
    box-shadow: 2px 4px 2px 2px rgba(141,141,141,0.8)
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button-repeating:hover{
    font-family: "dicefontd6";
    content: "f";
    font-size: 23px;
    color: black;
    box-shadow: 2px 4px 2px 2px rgba(141,141,141,0.8)
}

.ui-dialog .tab-content .charsheet button[type=roll].d6-button-green:hover{
    font-family: "dicefontd6";
    content: "f";
    font-size: 23px;
    color: #6FB387;
    box-shadow: 2px 4px 2px 2px rgba(111,179,135,0.8);
}


.ui-dialog .tab-content .charsheet button[type=roll].d6-button-red:hover{
    font-family: "dicefontd6";
    content: "f";
    font-size: 23px;
    color: #932315;
    box-shadow: 2px 4px 2px 2px rgba(147,35,21,0.8);
}


/*Chrome appearance for number field like a textfield*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Mozilla appearance for number field like a textfield*/
input[type="number"] {
    -moz-appearance: textfield;
}

/* Appearance of the navtab of character viewer */
ul.nav-tabs.nav{ 
    position:sticky; 
    top:0;
    background-color: black;
    z-index:9999; 
}

.characterviewer > ul.nav-tabs a[data-tab="charsheet"]{
    background-image:url('https://i.ibb.co/CKsVG6Cz/DICEY-LOGO-FINAL-PNG-300.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    color:transparent;
    text-decoration: none;
}

.characterviewer > ul.nav-tabs a[data-tab="charsheet"]:hover{
    background-image:url('https://i.ibb.co/CKsVG6Cz/DICEY-LOGO-FINAL-PNG-300.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    color:transparent;
    text-decoration: none;
}
.characterviewer {
    width: 930px;
}

/* Roll template */
.sheet-rolltemplate-dicey_tales div{
    text-align: center;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    display: block;
    box-sizing: border-box;
}

.sheet-rolltemplate-dicey_tales div.sheet-tplmain{
    width: 100%;
    background-color: transparent;
}

.sheet-rolltemplate-dicey_tales div.sheet-head{
    padding: 2px 2px 0px 2px;
    border: 1px solid black;
    width: 220px;
    height: 100px;
    font-family: "Anton", sans-serif;
    display: block;
    background-color: #353434;
}

.sheet-rolltemplate-dicey_tales div.sheet-char{
    color: #FF541A;
    font-size: 27px;
    margin-top: 5px;
    height: 32px;
    width: 218px;
}

.sheet-rolltemplate-dicey_tales div.sheet-title{
    font-size: 23px;
    color: white;
    margin-top: 5px;
    height: 28px;
    width: 218px;
}

.sheet-rolltemplate-dicey_tales div.sheet-subtitle{
    font-size: 19px;
    color: white;
    margin-top: 1px;
    height: 21px;
    width: 218px;
}

.sheet-rolltemplate-dicey_tales div.sheet-body{
    width: 220px;
    min-height: 70px;
    max-height: 300px;
    overflow-y: auto;
    padding: 0px 0px 2px 0px;
    background-color: #483E37;
    color: white;
    border: 1px solid black;
    margin: 0px;
}

.sheet-rolltemplate-dicey_tales div.sheet-bodycontent{
    padding: 10px 5px 5px 10px;
}

.sheet-rolltemplate-dicey_tales .inlinerollresult {
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    font-weight: bold;
    cursor: help;
    font-size: 24px;
    font-family: 'Candal';
}

.sheet-rolltemplate-dicey_tales .inlinerollresult.fullcrit{
    border: none;
    color: #6FB387;
}

.sheet-rolltemplate-dicey_tales .inlinerollresult.importantroll{
    border: none;
    color: #4A57ED;
}

.sheet-rolltemplate-dicey_tales .inlinerollresult.fullfail{
    border: none;
    color: #932315;
}