.sheet-container {
    padding: 75px;
}

.charsheet table {
    width:100%;
    border:1px solid;
}
.charsheet body{
    font-family: Corsiva;
}

.sheet-background::after{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background: url('http://i.imgur.com/k7GD79m.png');
    background-size: 100%;
}




input[type=checkbox] {
    display:inline;
}


input[type=checkbox] + label {
    display:inline-block;
    padding: 0 0 0 0px;
    background:url("http://i.imgur.com/MNHI6lJ.png") no-repeat;
    height:30px;
    width: 30px;;
    background-size: 100%;
}

input[type=checkbox]:checked + label {
    background:url("http://i.imgur.com/goHzOeE.png") no-repeat;
    height: 30px;
    width: 30px;
    display:inline-block;
    background-size: 100%;
}
