mixin InsProf(name)
  - 
    const typebox = (name.toLowerCase() === "inspiration") ? "inspprof--inspiration" : 
                    (name.toLowerCase() === "pass-wis") ? "inspprof--passive" 
                    : "";

  .inspprof(class=typebox)
    .inspprof__value
      if (block)
        block
    .inspprof__label
      span(data-i18n=name)