mixin PersonalityTrait(name)
  - const attr = name.replace(/ /g, '_').replace(/[^a-zA-Z_]/g, "").replace(/__/g, "_").toLowerCase();
  - const i18n = `${attr}-s`;
  - const flag = attr.split(attr.indexOf('_'))[0];
  .personalitytrait
    .personalitytrait__label(data-i18n=name)
    textarea(name=`attr_${attr}`)
