input(type='hidden', name='attr_unskilled', value='d4-2')
input(type='hidden', name='attr_unskilled_roll', value='1d4!cs2 - 2')
input(type='hidden', name='attr_unskilled_wd_roll', value='1d6!cs2 - 2')
input(type='hidden', name='attr_unskilled_extra_wd_roll', value='-10000')
