span.sheet-hidden(data-i18n="query-rate-of-fire") Rate of Fire
span.sheet-hidden(data-i18n="query-modifier") Modifier
span.sheet-hidden(data-i18n="query-wild-die") Wild Die
span.sheet-hidden(data-i18n="query_target_number") Target Number
span.sheet-hidden(data-i18n="query_roll_result") Roll Result
span.sheet-hidden(data-i18n="query_damage_modifier") Damage Modifier
span.sheet-hidden(data-i18n="none") None
