-// Query translations
span.sheet-hidden(data-i18n="query-rate-of-fire") Rate of Fire
span.sheet-hidden(data-i18n="query-modifier") Modifier
span.sheet-hidden(data-i18n="query-wild-die") Wild Die
span.sheet-hidden(data-i18n="query_target_number") Target Number
span.sheet-hidden(data-i18n="query_roll_result") Roll Result
span.sheet-hidden(data-i18n="query_damage_modifier") Damage Modifier
span.sheet-hidden(data-i18n="none") None

-// Attributes
input(type='hidden', name=`attr_query_skill_rof`, value='1')

input(type='hidden', name='attr_unskilled', value='d4-2')
input(type='hidden', name='attr_unskilled_roll', value='1d4!cs2 - 2')
input(type='hidden', name='attr_unskilled_wd_roll', value='1d6!cs2 - 2')
input(type='hidden', name='attr_unskilled_extra_wd_roll', value='-10000')
