.sheet-encumbrance
  .sheet-encumbrance__container
    .sheet-label
      span(data-i18n='weapons') Weapons
    .sheet-encumbrance__content
      span(name='attr_carry-weight-weapons') 0.0

  .sheet-encumbrance__container
    .sheet-label
      span(data-i18n='apparel') Apparel
    .sheet-encumbrance__content
      span(name='attr_carry-weight-apparel') 0.0

  .sheet-encumbrance__container
    .sheet-label
      span(data-i18n='inventory') Inventory
    .sheet-encumbrance__content
      span(name='attr_carry-weight-inventory') 0.0

  .sheet-encumbrance__container.sheet-encumbrance__container--summary
    .sheet-label
      span(data-i18n='carried-weight-total') Total Carried Weight
    .sheet-encumbrance__content.sheet-encumbrance__content--summary
      input(type='text',
            name='attr_carry-weight-max',
            placeholder='20',
            data-i18n-placeholder='carried-weight-max-placeholder',
            value='20')

      div /

      span(name='attr_carry-weight') 0.0
