.sheet-encumbrance
  .sheet-encumbrance__container
    .sheet-label Weapons
    .sheet-encumbrance__content
      span(name='attr_carry-weight-weapons') 0.0
      
  .sheet-encumbrance__container
    .sheet-label Apparel
    .sheet-encumbrance__content
      span(name='attr_carry-weight-apparel') 0.0
      
  .sheet-encumbrance__container
    .sheet-label Inventory
    .sheet-encumbrance__content
      span(name='attr_carry-weight-inventory') 0.0
      
  .sheet-encumbrance__container.sheet-encumbrance__container--summary
    .sheet-label Total Carry Weight
    .sheet-encumbrance__content.sheet-encumbrance__content--summary
      input(type='text',
            name='attr_carry-weight-max',
            value='20')
            
      div /
            
      span(name='attr_carry-weight') 0.0
