.sheet-encumbrance
  .sheet-encumbrance__container
    .sheet-label(data-i18n='weapons') Weapons
    .sheet-encumbrance__content
      span(name='attr_carry_weight_weapons') 0.0

  .sheet-encumbrance__container
    .sheet-label(data-i18n='apparel') Apparel
    .sheet-encumbrance__content
      span(name='attr_carry_weight_apparel') 0.0

  .sheet-encumbrance__container
    .sheet-label(data-i18n='inventory') Inventory
    .sheet-encumbrance__content
      span(name='attr_carry_weight_inventory') 0.0

  .sheet-encumbrance__container.sheet-encumbrance__container--summary
    .sheet-label(data-i18n='carried-weight-total') Total Carried Weight
    .sheet-encumbrance__content.sheet-encumbrance__content--summary
      input(type='text',
            name='attr_carry_weight_maximum',
            placeholder='20',
            value='20')

      div /

      span(name='attr_carry_weight') 0.0
