.sheet-meta
  .sheet-container
    +meta_field('name', 'Name')
    +meta_field('origin', 'Origin')
    +meta_field('rank', 'Rank')
    +meta_field('size', 'Size')
    +meta_field('level', 'Level')
    +meta_field('exp', 'EXP')
    +meta_field('bennies', 'Bennies')

  .sheet-container
    +meta_field('gender', 'Gender')
    +meta_field('age', 'Age')
    +meta_field('hair', 'Hair')
    +meta_field('eyes', 'Eyes')
    +meta_field('height', 'Height')
    +meta_field('weight', 'Weight')
    +meta_field('bits', '#Bits')
