rolltemplate.sheet-rolltemplate-TraitRoll
  .sheet-rolltemplate
    .sheet-rolltemplate__header {{name}} rolls {{trait}}
    .sheet-rolltemplate__content
      = '{{#traitdie}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{trait}}
        .sheet-right
          span {{traitdie}}&nbsp;
          = '{{#flat}}'
          span ({{flat}})
          = '{{/flat}}'
      = '{{/traitdie}}'
      = '{{#wd}}'
      = '{{#rollGreater() wdroll -1000}}'
      .sheet-rolltemplate__content-row
        .sheet-left Wild Die
        .sheet-right {{wd}}
      = '{{/rollGreater() wdroll -1000}}'
      = '{{/wd}}'
      = '{{#commander}}'
      .sheet-rolltemplate__content-row
        .sheet-left Commander
        .sheet-right {{commander}}
      = '{{/commander}}'
      .sheet-rolltemplate__content-row
        .sheet-left Modifier
        .sheet-right {{modifier}}
      = '{{#rollGreater() rof 1}}'
      .sheet-rolltemplate__content-row
        .sheet-left Dice/RoF
        .sheet-right {{rof}}
      = '{{/rollGreater() rof 1}}'
      = '{{#rollGreater() wounds 0}}'
      .sheet-rolltemplate__content-row
        .sheet-left Wounds
        .sheet-right {{wounds}}
      = '{{/rollGreater() wounds 0}}'
      = '{{#rollGreater() fatigue 0}}'
      .sheet-rolltemplate__content-row
        .sheet-left Fatigue
        .sheet-right {{fatigue}}
      = '{{/rollGreater() fatigue 0}}'
    .sheet-rolltemplate__dice
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--1
        = '{{traitroll1}}'
      = '{{#rollGreater() rof 1}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--2
        = '{{traitroll2}}'
      = '{{/rollGreater() rof 1}}'
      = '{{#rollGreater() rof 2}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--3
        = '{{traitroll3}}'
      = '{{/rollGreater() rof 2}}'
      = '{{#rollGreater() rof 3}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--4
        = '{{traitroll4}}'
      = '{{/rollGreater() rof 3}}'
      = '{{#rollGreater() rof 4}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--5
        = '{{traitroll5}}'
      = '{{/rollGreater() rof 4}}'
      = '{{#rollGreater() rof 5}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--6
        = '{{traitroll6}}'
      = '{{/rollGreater() rof 5}}'
      = '{{#rollGreater() wdroll -1000}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--wd
        = '{{wdroll}}'
      = '{{/rollGreater() wdroll -1000}}'

rolltemplate.sheet-rolltemplate-DiceRoller
  .sheet-rolltemplate
    .sheet-rolltemplate__header {{name}} rolls {{code}}
    = '{{#rollGreater() rof 1}}'
    .sheet-rolltemplate__content
      .sheet-rolltemplate__content-row
        .sheet-left Dice/RoF
        .sheet-right {{rof}}
    = '{{/rollGreater() rof 1}}'
    .sheet-rolltemplate__dice
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--1
        = '{{roll1}}'
      = '{{#rollGreater() rof 1}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--2
        = '{{roll2}}'
      = '{{/rollGreater() rof 1}}'
      = '{{#rollGreater() rof 2}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--3
        = '{{roll3}}'
      = '{{/rollGreater() rof 2}}'
      = '{{#rollGreater() rof 3}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--4
        = '{{roll4}}'
      = '{{/rollGreater() rof 3}}'
      = '{{#rollGreater() rof 4}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--5
        = '{{roll5}}'
      = '{{/rollGreater() rof 4}}'
      = '{{#rollGreater() rof 5}}'
      .sheet-rolltemplate__roll.sheet-rolltemplate__roll--6
        = '{{roll6}}'
      = '{{/rollGreater() rof 5}}'

rolltemplate.sheet-rolltemplate-RunRoll
  .sheet-rolltemplate
    .sheet-rolltemplate__header {{name}} runs...
    .sheet-rolltemplate__content
      = 'Pace ({{pace}}) {{#mod}}+ Mod ({{mod}}) {{/mod}}{{#rollGreater() wounds 0}}- Wounds ({{wounds}}) {{/rollGreater() wounds 0}}+ {{rundie}} = {{roll}}'
      
rolltemplate.sheet-rolltemplate-InfoBox
  .sheet-rolltemplate
    .sheet-rolltemplate__content {{info}}

rolltemplate.sheet-rolltemplate-DamageRoll
  .sheet-rolltemplate
    .sheet-rolltemplate__header {{name}} rolls Damage
    .sheet-rolltemplate__content
      = '{{#weapon}}'
      .sheet-rolltemplate__content-row
        .sheet-left Weapon
        .sheet-right {{weapon}}
      = '{{/weapon}}'
      .sheet-rolltemplate__content-row
        .sheet-left Damage
        .sheet-right {{code}}
      = '{{#modifier}}'
      .sheet-rolltemplate__content-row
        .sheet-left Damage Modifier
        .sheet-right {{modifier}}
      = '{{/modifier}}'
      = '{{#ap}}'
      .sheet-rolltemplate__content-row
        .sheet-left Armor Piercing
        .sheet-right {{ap}}
      = '{{/ap}}'
      = '{{#rollGreater() rof 1}}'
      .sheet-rolltemplate__content-row
        .sheet-left Hits/RoF
        .sheet-right {{rof}}
      = '{{/rollGreater() rof 1}}'
      = '{{#range}}'
      .sheet-rolltemplate__content-row
        .sheet-left Range
        .sheet-right {{range}}
      = '{{/range}}'
      = '{{#trapping}}'
      .sheet-rolltemplate__content-row
        .sheet-left Trapping
        .sheet-right {{trapping}}
      = '{{/trapping}}'
    .sheet-rolltemplate__dice
      .sheet-rolltemplate__damage-roll
        = '{{roll1}}'
      = '{{#rollGreater() rof 1}}'
      .sheet-rolltemplate__damage-roll
        = '{{roll2}}'
      = '{{/rollGreater() rof 1}}'
      = '{{#rollGreater() rof 2}}'
      .sheet-rolltemplate__damage-roll
        = '{{roll3}}'
      = '{{/rollGreater() rof 2}}'
      = '{{#rollGreater() rof 3}}'
      .sheet-rolltemplate__damage-roll
        = '{{roll4}}'
      = '{{/rollGreater() rof 3}}'
      = '{{#rollGreater() rof 4}}'
      .sheet-rolltemplate__damage-roll
        = '{{roll5}}'
      = '{{/rollGreater() rof 4}}'
      = '{{#rollGreater() rof 5}}'
      .sheet-rolltemplate__damage-roll
        = '{{roll6}}'
      = '{{/rollGreater() rof 5}}'
