.sheet-silhouette
  input(type='checkbox',
        name='attr_silhouette-selection',
        class='sheet-silhouette__switch')
        
  .sheet-silhouette__image

  +color_circle('head', 'sheet-silhouette__head')
  +color_circle('torso-upper', 'sheet-silhouette__torso-upper')
  +color_circle('torso-lower', 'sheet-silhouette__torso-lower')
  +color_circle('left-arm-upper', 'sheet-silhouette__left-arm-upper')
  +color_circle('left-arm-lower', 'sheet-silhouette__left-arm-lower')
  +color_circle('left-hand', 'sheet-silhouette__left-hand')
  +color_circle('right-arm-upper', 'sheet-silhouette__right-arm-upper')
  +color_circle('right-arm-lower', 'sheet-silhouette__right-arm-lower')
  +color_circle('right-hand', 'sheet-silhouette__right-hand')
  +color_circle('left-leg-upper', 'sheet-silhouette__left-leg-upper')
  +color_circle('left-leg-lower', 'sheet-silhouette__left-leg-lower')
  +color_circle('right-leg-upper', 'sheet-silhouette__right-leg-upper')
  +color_circle('right-leg-lower', 'sheet-silhouette__right-leg-lower')
