doctype html
html
  head
    meta(charset='utf-8')
    style
      include ../../SavageWorldsGraphPaper.css
  body
    include _sheet.pug

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script
    include ../scripts/preview.js
