//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-13

//
    ********************************
    * START src/html/dicebot.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-dicebot-container")
    div(class="sheet-dicebot" role="form" aria-label="Automatische Eingaben für den Würfelbot" lang="de")
        div(class="sheet-dicebot-row")
            span(name="attr_probe_skill")
            span -
            span(name="attr_probe_attribut")
            span :
            span(name="attr_probe_summe_wuerfel")
            span(data-i18n="wuerfel")
            | -/-
            span(data-i18n="info-skill-notiz")
            span(name="attr_probe_skill_notiz")
        div(class="sheet-dicebot-row")
            label(data-i18n="hazard-di")
            input(type="number" name="attr_probe_hazard_wuerfel")
            label(data-i18n="regulaere-di")
            input(type="number" name="attr_probe_standard_wuerfel")
            label(data-i18n="bonus-di")
            input(type="number" name="attr_probe_bonus_wuerfel")
            label(data-i18n="bonus")
            input(type="number" name="attr_probe_bonus")
            button(type="action" name="act_wirf-probe" data-i18n="wuerfeln")            

            input(type="number" name="attr_probe_original_hazard_wuerfel" hidden)
            input(type="number" name="attr_probe_original_standard_wuerfel" hidden)
            input(type="number" name="attr_probe_biomechanik" hidden)    

//
    ********************************
    * ENDE src/html/dicebot.pug
    ********************************