//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-13

//
    ********************************
    * START src/html/page-three.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-page-three" role="section")
    include page-three/block-one.pug
    
//
    ********************************
    * ENDE src/html/page-three.pug
    ********************************