//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-13

//
    ********************************
    * START src/html/page-one.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-page-one" role="section")
    include page-one/block-one.pug
    include page-one/block-two.pug
    include dicebot.pug
    include page-one/block-three.pug

//
    ********************************
    * ENDE src/html/page-one.pug
    ********************************