//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-13

//
    ********************************
    * START src/html/page-four.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-page-four" role="section")
    h1 Seite 4
    
//
    ********************************
    * ENDE src/html/page-four.pug
    ********************************