//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-13

//
    ********************************
    * START src/html/page-two.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-page-two")
    include page-two/block-one.pug
    include page-two/block-two.pug
    include page-two/block-three.pug
    include page-two/block-four.pug

//
    ********************************
    * ENDE src/html/page-two.pug
    ********************************