//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-07

//
    ********************************
    * START src/html/rolltemplate.pug
    ********************************

//- MIXINs

//- SEITENINHALT

//- Trefferzone bestimmen
rolltemplate(class="sheet-rolltemplate-trefferzone")
    div(class="sheet-template-container" role="section")
        div(class="sheet-template-header") 
            span(data-i18n="trefferzone")
        hr
        div(class="sheet-template-row")
            span {{computed::zone}}
            span {{zone}}            
        img(src="https://raw.githubusercontent.com/Gorthian/Roll20_NoReturn_CharacterSheet/main/images/trefferzonen_300px.png")

//- Offene Probe auf Fertigkeiten und Attribute
rolltemplate(class="sheet-rolltemplate-probe_offen")
    div(class="sheet-template-container" role="section")
        div(class="sheet-template-header") {{charaktername}}
        div(class="sheet-template-header") {{fertigkeit}}{{#attribut}} - {{attribut}}{{/attribut}}
        | {{#modifiziert}}
        div(class="sheet-template-header")
            span(data-i18n="modifiziert")
        | {{/modifiziert}}
        | {{#biomechanik}}
        div(class="sheet-template-header")
            span(data-i18n="biomechanik")
        | {{/biomechanik}}
        hr
        | {{#rollGreater() hazard 0}}
        div(class="sheet-template-row") 
            span(data-i18n="hazard-di")
            span
                img(src='https://raw.githubusercontent.com/Gorthian/Roll20_NoReturn_CharacterSheet/main/images/dice_red.png' width='25px')
        div(class="sheet-template-row")
            span(class="sheet-template-zahlen sheet-template-hazard-di") {{computed::hazard}}
            span(class="sheet-template-zahlen") = {{hazard}}
        | {{/rollGreater() hazard 0}}
        | {{#rollGreater() wurf 0}}
        div(class="sheet-template-row") 
            span(data-i18n="regulaere-di")
            span
                img(src='https://raw.githubusercontent.com/Gorthian/Roll20_NoReturn_CharacterSheet/main/images/dice_white.png' width='25px')
        div(class="sheet-template-row")
            span(class="sheet-template-zahlen sheet-template-regular-di") {{computed::wurf}}
            span(class="sheet-template-zahlen") = {{wurf}}
        | {{/rollGreater() wurf 0}}
        | {{#rollGreater() bonuswurf 0}}
        div(class="sheet-template-row") 
            span(data-i18n="bonus-di")
            span
                img(src='https://raw.githubusercontent.com/Gorthian/Roll20_NoReturn_CharacterSheet/main/images/dice_white.png' width='25px')        
        div(class="sheet-template-row")
            span(class="sheet-template-zahlen sheet-template-regular-di") {{computed::bonuswurf}}
            span(class="sheet-template-zahlen") = {{bonuswurf}}
        | {{/rollGreater() bonuswurf 0}}
        | {{#rollGreater() bonus 0}}
        div(class="sheet-template-row")
            span(data-i18n="bonus")
            span(class="sheet-template-zahlen") + {{bonus}}
        | {{/rollGreater() bonus 0}}
        | {{#rollLess() bonus 0}}
        div(class="sheet-template-row")
            span(data-i18n="bonus")
            span(class="sheet-template-zahlen") {{bonus}}
        | {{/rollLess() bonus 0}}
        hr
        div(class="sheet-template-row")
            span(data-i18n="summe")
            span(class="sheet-template-zahlen") = {{computed::summe}}

//- Infektionsresistenz
rolltemplate(class="sheet-rolltemplate-infektionsresistenz")
    div(class="sheet-template-container" role="section")
        div(class="sheet-template-header") {{charaktername}}
        div(class="sheet-template-header")
            span(data-i18n="infektionsresistenz")
        hr
        div(class="sheet-template-row") 
            span(data-i18n="regulaere-di")
            span
                img(src='https://raw.githubusercontent.com/Gorthian/Roll20_NoReturn_CharacterSheet/main/images/dice_white.png' width='25px')
        div(class="sheet-template-row")
            span(class="sheet-template-zahlen sheet-template-regular-di") {{computed::wurf}}
            span(class="sheet-template-zahlen") = {{wurf}}
        | {{#rollGreater() bonus 0}}
        div(class="sheet-template-row")
            span(data-i18n="bonus")
            span(class="sheet-template-zahlen") + {{bonus}}
        | {{/rollGreater() bonus 0}}
        hr
        div(class="sheet-template-row")
            span(data-i18n="summe")
            span(class="sheet-template-zahlen") = {{computed::summe}}        

//
    ********************************
    * ENDE src/html/rolltemplate.pug
    ********************************