mixin challengeDice
  div.sheet-result-body.sheet-result-row
    div Challenge Dice: 
    div {{challenge1}} {{challenge2}}

mixin actionBody
  div.sheet-result-body.sheet-result-row
    div Action Score: 
    div {{action}}
  +challengeDice

mixin progressBody
  div.sheet-result-body.sheet-result-row
    div {{progress_type}} Progress: 
    div {{progress}}
  +challengeDice