mixin actionDieNegated
  div.sheet-result-row
    td Previous Action Score:
    td {{action}}
  div.sheet-result-row
    div.sheet-subfooter.sheet-alert Action die cancelled for matching negative momentum.
  div.sheet-result-row
    td Stat + Add:
    td {{stat}} + {{add}}
  div.sheet-result-row
    div New Action Score:
    div {{modifiers}}
  div.sheet-result-row
    div Challenge Dice:
    div {{challenge1}} {{challenge2}}