mixin opportunity
  tr
    td(colspan="2" class="sheet-subfooter sheet-opportunity") Opportunity

mixin strongHit
  tr
    td(colspan="2" class="sheet-subfooter sheet-strong-hit") Strong Hit

mixin weakHit
  tr
    td(colspan="2" class="sheet-subfooter sheet-weak-hit") Weak Hit

mixin miss
  tr
    td(colspan="2" class="sheet-subfooter sheet-miss") Miss

mixin complication
  tr
    td(colspan="2" class="sheet-subfooter sheet-complication") Complication