mixin opportunity
  tr
    td(colspan="2" class="sheet-subfooter sheet-opportunity") OPPORTUNITY

mixin strongHit
  tr
    td(colspan="2" class="sheet-subfooter sheet-strong-hit") STRONG HIT

mixin weakHit
  tr
    td(colspan="2" class="sheet-subfooter sheet-weak-hit") WEAK HIT

mixin miss
  tr
    td(colspan="2" class="sheet-subfooter sheet-miss") MISS

mixin complication
  tr
    td(colspan="2" class="sheet-subfooter sheet-complication") COMPLICATION