include ./body

mixin opportunity
  div.sheet-result-row.sheet-roll-outcome
    div.sheet-opportunity
    div.sheet-subfooter OPPORTUNITY

mixin strongHit
  div.sheet-result-row.sheet-roll-outcome
    div.sheet-strong-hit
    div.sheet-subfooter STRONG HIT

mixin momentumStrongHit
  +momentumBody
  div.sheet-result-row.sheet-roll-outcome
    div.sheet-strong-hit
    div.sheet-subfooter Burn Momentum: Strong Hit

mixin weakHit
  div.sheet-result-row.sheet-roll-outcome
    div.sheet-weak-hit
    div.sheet-subfooter WEAK HIT

mixin momentumWeakHit
  +momentumBody
  div.sheet-result-row.sheet-roll-outcome
    div.sheet-weak-hit
    div.sheet-subfooter Burn Momentum: Weak Hit

mixin miss
  div.sheet-result-row.sheet-roll-outcome
    div.sheet-miss
    div.sheet-subfooter MISS

mixin complication
  div.sheet-result-row.sheet-roll-outcome
    div.sheet-complication
    div.sheet-subfooter COMPLICATION
