//
    CREATED by          Gorthian
    Version				1.1 HF1
    Letzte Änderung		2025-04-22
    GitHub				https://github.com/Gorthian/Roll20_HORDE_CharacterSheet
    Wiki				
    Bugs & Issues		

// Globale Variablen
// - Platz für globale Variablen, falls benötigt

- const imagePath = "https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/HORDE/images/" //Für CSS zusätzlich in horde.css definiert
//- const imagePath = "https://gorthian.de/roll20/horde/" //Für CSS zusätzlich in horde.css definiert

//
    ********************************
    * START horde.pug
    ********************************
//- MIXINs

//- SEITENINHALT
include src/html/sheet.pug

//- ROLL TEMPLATES
include src/html/rolltemplates.pug

// SHEET WORKERS
script(type="text/worker")
    include src/js/sheetworker.js

//
    ********************************
    * ENDE horde.pug
    ********************************