
<div class="sheet-resources">
  <div class="sheet-resource">
    <label class="sheet-health-reset">RESET
      <input class="sheet-health-reset sheet-hide" type="checkbox" name="attr_health_reset"/>
    </label>
    <h2 class="sheet-resource-title">HEALTH</h2>
    <div class="sheet-health-status-box">
      <input class="sheet-resource-value" type="text" name="attr_health" value="20"/>
      <div class="sheet-health-max-box">
        <h3 class="sheet-health-max">/</h3>
        <h3 class="sheet-health-max-value"><span class="sheet-health-max-value" name="attr_max_health"></span>
          <input class="sheet-hide" type="text" name="attr_max_health" value="20"/>
        </h3>
      </div>
    </div>
  </div>
  <div class="sheet-resource">
    <h2 class="sheet-resource-title">SPIRIT</h2>
    <select class="sheet-resource-value" name="attr_spirit">
      <option value="10">+10</option>
      <option value="9">+9</option>
      <option value="8">+8</option>
      <option value="7">+7</option>
      <option value="6">+6</option>
      <option value="5">+5</option>
      <option value="4">+4</option>
      <option value="3">+3</option>
      <option value="2">+2</option>
      <option value="1">+1</option>
      <option value="0">+0</option>
    </select>
  </div>
  <div class="sheet-resource">
    <h2 class="sheet-resource-title">SUPPLY</h2>
    <select class="sheet-resource-value" name="attr_supply">
      <option value="10">+10</option>
      <option value="9">+9</option>
      <option value="8">+8</option>
      <option value="7">+7</option>
      <option value="6">+6</option>
      <option value="5">+5</option>
      <option value="4">+4</option>
      <option value="3">+3</option>
      <option value="2">+2</option>
      <option value="1">+1</option>
      <option value="0">+0</option>
    </select>
  </div>
  <div class="sheet-resource">
    <h2 class="sheet-resource-title">WEALTH</h2>
    <select class="sheet-resource-value" name="attr_wealth">
      <option value="10">+10</option>
      <option value="9">+9</option>
      <option value="8">+8</option>
      <option value="7">+7</option>
      <option value="6">+6</option>
      <option value="5">+5</option>
      <option value="4">+4</option>
      <option value="3">+3</option>
      <option value="2">+2</option>
      <option value="1">+1</option>
      <option value="0">+0</option>
    </select>
  </div>
  <div class="sheet-resource">
    <h2 class="sheet-resource-title">LOAD</h2>
    <select class="sheet-resource-value" name="attr_load">
      <option value="12">12</option>
      <option value="11">11</option>
      <option value="10">10</option>
      <option value="9">9</option>
      <option value="8">8</option>
      <option value="7">7</option>
      <option value="6">6</option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
      <option value="0">0</option>
    </select>
  </div>
  <div class="sheet-resource">
    <h2 class="sheet-resource-title">EXPERIENCE</h2>
    <div class="sheet-health-status-box">
      <input class="sheet-resource-value" type="text" name="attr_xp" value="0"/>
    </div>
    <h2 class="sheet-resource-title">SPENT</h2>
    <div class="sheet-health-status-box">
      <input class="sheet-resource-value" type="text" name="attr_total_xp" value="0"/>
    </div>
  </div>
</div>