
<div class="sheet-resources">
  <div>
    <h2>Health</h2><img/>
    <select name="attr_health_ten">
      <option value="40">40</option>
      <option value="30">30</option>
      <option value="20">20</option>
      <option value="10">10</option>
      <option value="0">0</option>
    </select>
    <select name="attr_health_one">
      <option value="9">9</option>
      <option value="8">8</option>
      <option value="7">7</option>
      <option value="6">6</option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
      <option value="0">0</option>
    </select>
    <div class="sheet-health-status-box">
      <h3 class="sheet-health-max">MAX</h3>
      <h3><span name="attr_max_health"></span>
        <input class="sheet-hide" type="text" name="attr_max_health" value="20"/>
      </h3>
    </div>
  </div>
  <div>
    <h2>Spirit</h2><img/>
    <select name="attr_spirit">
      <option value="10">+10</option>
      <option value="9">+9</option>
      <option value="8">+8</option>
      <option value="7">+7</option>
      <option value="6">+6</option>
      <option value="5">+5</option>
      <option value="4">+4</option>
      <option value="3">+3</option>
      <option value="2">+2</option>
      <option value="1">+1</option>
      <option value="0">+0</option>
    </select>
  </div>
  <div>
    <h2>Supply</h2><img/>
    <select name="attr_supply">
      <option value="10">+10</option>
      <option value="9">+9</option>
      <option value="8">+8</option>
      <option value="7">+7</option>
      <option value="6">+6</option>
      <option value="5">+5</option>
      <option value="4">+4</option>
      <option value="3">+3</option>
      <option value="2">+2</option>
      <option value="1">+1</option>
      <option value="0">+0</option>
    </select>
  </div>
  <div>
    <h2>Wealth</h2><img/>
    <select name="attr_wealth">
      <option value="10">+10</option>
      <option value="9">+9</option>
      <option value="8">+8</option>
      <option value="7">+7</option>
      <option value="6">+6</option>
      <option value="5">+5</option>
      <option value="4">+4</option>
      <option value="3">+3</option>
      <option value="2">+2</option>
      <option value="1">+1</option>
      <option value="0">+0</option>
    </select>
  </div>
  <div>
    <h2>Load</h2><img/>
    <select name="attr_load">
      <option value="12">12</option>
      <option value="11">11</option>
      <option value="10">10</option>
      <option value="9">9</option>
      <option value="8">8</option>
      <option value="7">7</option>
      <option value="6">6</option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
      <option value="0">0</option>
    </select>
  </div>
</div>