<div class="wrap-box">
  <div class="shaped-row">
    <div class="col-03 small-label"></div>
    <div class="col-20 wrap-box-label light-label pad-r-sm" data-i18n="ARMOR"></div>
    <div class="col-17 wrap-box-label light-label center pad-r-sm" data-i18n="TYPE"></div>
    <div class="edit col-05 wrap-box-label light-label center" data-i18n="AC"></div>
    <div class="edit col-02"></div>
    <div class="edit col-07 wrap-box-label light-label center" data-i18n="BONUS"></div>
    <div class="edit col-02"></div>
    <div class="col-06 wrap-box-label light-label center" data-i18n="TOTAL"></div>
    <div class="col-11 wrap-box-label light-label pad-l-md" data-i18n="STRENGTH"></div>
    <div class="col-09 wrap-box-label light-label center pad-l-md" data-i18n="STEALTH"></div>
    <div class="col-10 wrap-box-label light-label center" data-i18n="USES"></div>
    <div class="col-08 wrap-box-label light-label center pad-l-md" data-i18n="WEIGHT"></div>
  </div>
  <fieldset class="repeating_armor">
    <div class="shaped-row compendium-drop-target vert-center">
      <input type="hidden" name="attr_modifiers" accept="Modifiers">

      <div class="col-03 center">
        <input type="checkbox" name="attr_worn" checked>
      </div>
      <div class="col-20 pad-r-sm">
        <input type="text" name="attr_name" accept="Name">
      </div>
      <div class="col-17 center pad-r-sm">
        <select name="attr_type" accept="Item Type">
          <option value="Light Armor" data-i18n="LIGHT_ARMOR"></option>
          <option value="Medium Armor" data-i18n="MEDIUM_ARMOR"></option>
          <option value="Heavy Armor" data-i18n="HEAVY_ARMOR"></option>
          <option value="Armored" data-i18n="OTHER_ARMOR"></option>
          <option value="Shield" data-i18n="SHIELD"></option>
          <option value="AC" data-i18n="ARMORED_AND_UNARMORED"></option>
          <option value="Unarmored" data-i18n="UNARMORED"></option>
        </select>
      </div>
      <div class="edit col-05 center">
        <input type="number" name="attr_ac_base" class="no-spin" value="0" step="1" accept="AC">
      </div>
      <div class="edit col-02 center">+</div>
      <div class="edit col-07 center">
        <input type="number" name="attr_ac_bonus" class="no-spin" value="0" step="1">
      </div>
      <div class="edit col-02 center">=</div>
      <div class="col-06 center">
        <span name="attr_ac_total" class="pseudo-input center border-bottom"></span>
      </div>
      <div class="col-11 pad-l-md">
        <select name="attr_strength_requirements">
          <option value="no">&#8212;</option>
          <option value="Str 13" data-i18n="STR_13"></option>
          <option value="Str 15" data-i18n="STR_15"></option>
        </select>
      </div>
      <div class="col-09 center pad-l-md">
        <input type="checkbox" name="attr_stealth" value="Disadvantage" accept="Stealth">
      </div>
      <div class="col-10">
        <div class="shaped-row flex-end no-wrap">
          <input type="checkbox" name="attr_show_uses" class="edit small-checkbox show-uses" value="1">
          <div class="col-42 show-uses pad-r-sm">
            <input type="number" name="attr_uses" class="no-spin no-border" step="1">
          </div>
          <div class="show-uses">/</div>
          <div class="col-42 show-uses pad-l-sm">
            <input type="number" name="attr_uses_max" class="no-spin no-border" step="1">
          </div>
        </div>
      </div>
      <div class="col-08 center pad-l-md">
        <input type="number" name="attr_weight" class="no-spin" step="1" accept="Weight">
      </div>
    </div>
  </fieldset>
  <div class="shaped-row center pad-t-md pad-b-md">
    <div class="col-12 center pad-r-md">
      <span name="attr_ac_armored_calc" class="pseudo-input center border-bottom"></span>
      <div class="small-label" data-i18n="AC_ARMORED"></div>
    </div>
    <div class="col-12 center pad-r-md">
      <select name="attr_ac_unarmored_ability">
        <option value="" selected>&#8212;</option>
        <option value="strength" data-i18n="STR"></option>
        <option value="dexterity" data-i18n="DEX"></option>
        <option value="constitution" data-i18n="CON"></option>
        <option value="intelligence" data-i18n="INT"></option>
        <option value="wisdom" data-i18n="WIS"></option>
        <option value="charisma" data-i18n="CHA"></option>
      </select>
      <div class="small-label" data-i18n="AC_UNARMORED_ABILITY"></div>
    </div>
    <div class="col-12 center pad-r-md">
      <span name="attr_ac_unarmored_calc" class="pseudo-input center border-bottom"></span>
      <div class="small-label" data-i18n="AC_UNARMORED"></div>
    </div>
    <div class="col-15 center">
      <button type="roll" name="roll_shaped_ac" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{AC}}} {{text_big=[[@{ac}]]}}">
        <div class="shield">
          <span name="attr_AC" class="pseudo-input center big-text"></span>
          <div class="wrap-box-title center" data-i18n="ARMOR_CLASS"></div>
        </div>
      </button>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="ARMOR"></div>
</div>
