<div class="section-equipment pc">
  <div class="shaped-row mar-b-smd">
    <div class="col-70 pad-r-md">
      //= include armor.html
    </div>
    <div class="col-30 pad-r-sm">
      //= include weight.html
    </div>
  </div>

  <div class="wrap-box">
    <div class="shaped-row">
      <div class="col-10">
        //= include coins.html
      </div>
      <div class="col-90 pad-l-md">
        //= include equipmentItems.html
        <hr>
        //= include attacks.html
      </div>
    </div>
    <div class="wrap-box-title center">{{'EQUIPMENT' | translate}}</div>
  </div>
</div>