<div class="shaped-row">
  <div class="col-02"></div>
  <div class="col-20 wrap-box-label light-label pad-r-sm">{{'EQUIPMENT' | translate}}</div>
  <div class="col-45 wrap-box-label light-label pad-r-sm">{{'CONTENT' | translate}}</div>
  <div class="col-10 wrap-box-label light-label center">{{'USES' | translate}}</div>
  <div class="col-07 wrap-box-label light-label center pad-l-md">{{'QTY' | translate}}</div>
  <div class="col-01"></div>
  <div class="col-07 wrap-box-label light-label center">{{'WEIGHT' | translate}}</div>
  <div class="col-01"></div>
  <div class="col-07 wrap-box-label light-label center">{{'TOTAL' | translate}}</div>
</div>
<fieldset class="repeating_equipment">
  <div class="shaped-row compendium-drop-target vert-center">
    <div class="col-02 center">
      <input type="checkbox" name="attr_carried" checked>
    </div>
    <div class="col-20 pad-r-sm">
      <input type="text" name="attr_name" accept="Name">
    </div>
    <div class="col-45 pad-r-sm">
      <textarea name="attr_content" class="one-line-textarea" accept="Content"></textarea>
    </div>
    <div class="col-10">
      <div class="shaped-row vert-center no-wrap">
        <div class="pad-r-sm">
          <input type="number" name="attr_uses" class="no-spin" step="1">
        </div>
        <div>/</div>
        <div class="pad-l-sm">
          <input type="number" name="attr_uses_max" class="no-spin" step="1">
        </div>
      </div>
    </div>
    <div class="col-07 center pad-l-md">
      <input type="number" name="attr_qty" value="1" min="0" step="1">
    </div>
    <div class="col-01 center">&times;</div>
    <div class="col-07 center">
      <input type="number" name="attr_weight" value="0" step="0.01" accept="Weight">
    </div>
    <div class="col-01 center">=</div>
    <div class="col-07 center">
      <span name="attr_weight_total" class="pseudo-input center border-bottom"></span>
    </div>
  </div>
</fieldset>