<div class="section-equipment pc">
  <div class="shaped-row mar-b-smd">
    <div class="12-em pad-r-smd">
      //= include weight.html
    </div>
    <div class="13-em">
      //= include carryingCapacity.html
    </div>
  </div>
  <div class="wrap-box">
    <div class="shaped-row">
      <div class="col-10">
        //= include coins.html
      </div>
      <div class="col-90 pad-l-md">
        //= include equipmentItems.html
        <hr>
        //= include attacks.html
      </div>
    </div>
    <div class="wrap-box-title center" data-i18n="EQUIPMENT"></div>
  </div>
</div>