datalist(id='melee-weapons')
    each weapon in data
        if (!weapon.category.includes('Melee'))
            - continue;
        - let group = weapon.group || ''
        if (weapon.book !== 'PHB')
            - group += (group ? ', ' : '') + weapon.book 
        option(value=weapon.name)= group
            
datalist(id='ranged-weapons')
    each weapon in data
        if (!weapon.category.includes('Range'))
            - continue;
        - let group = weapon.group || ''
        if (weapon.book !== 'PHB')
            - group += (group ? ', ' : '') + weapon.book
        option(value=weapon.name)= group

datalist(id='all-weapons')
    each weapon in data
        - let group = weapon.group || ''
        if (weapon.book !== 'PHB')
            - group += (group ? ', ' : '') + weapon.book
        option(value=weapon.name)= group

- let usedWeapons = new Set();
datalist(id='weapon-proficiencies')
    each weapon in data
        if (weapon.noProf)
            - continue;
        - let weaponName = weapon.name.split(/\s\(|,/)[0]
        if (usedWeapons.has(weaponName))
            - continue;
        - usedWeapons.add(weaponName);
        - let group = weapon.group || ''
        if (weapon.book !== 'PHB')
            - group += (group ? ', ' : '') + weapon.book
        option(value=weaponName)= group