-const DEBUG = false
if (DEBUG)
	include src/pug/_debug.pug

//- VERSION
//- =============================
input(name='attr_version' type='hidden' value='1.99')

//- MIXINS
include src/pug/variables/_mixins.pug
include src/pug/sections/_ritual_activation.pug

//- OBJECTS
//- ============================={{/damage}}
include src/pug/variables/_objects.pug
// Link stats to skills
input(type='hidden' name='attr_cd_bar1_l' value='sanity_points')
input(type='hidden' name='attr_cd_bar2_l' value='willpower_points')
input(type='hidden' name='attr_cd_bar3_l' value='hit_points')
//- SETUP INITIAL SAN, STR,CON, AND HP FLAGS THE FIRST TIME  THE PLAYER INPUT POW
input(name='attr_initial_san' type='hidden' value=1)
input(name='attr_initial_con' type='hidden' value=1)
input(name='attr_initial_str' type='hidden' value=1)
input(name='attr_initial_hp' type='hidden'  value=1)
input(name='attr_sanity_points_old' type='hidden'  value=0)
input(name='attr_breaking_point_old' type='hidden' value=0)
input(name='attr_reached_breaking_points' type='hidden' value=0)
input(name='attr_ritual_skill' type='hidden' value=0)
input(type='hidden' name='attr_character_creation_bonds' value=true)

//- Use for the buttons lead to nothing
button.none(type='action' name='act_nothing') 

//TABS & LOGO
// =============================
.datahide
	input(data-i18n-value='accounting' name='attr_accounting_name' value='accounting')
	input(data-i18n-value='alertness' name='attr_alertness_name' value='alertness')
	input(data-i18n-value='anthropology' name='attr_anthropology_name' value='anthropology')
	input(data-i18n-value='archeology' name='attr_archeology_name' value='archeology')
	input(data-i18n-value='art 1' name='attr_art_1_name' value='art_1')
	input(data-i18n-value='art 2' name='attr_art_2_name' value='art_2')
	input(data-i18n-value='artillery' name='attr_artillery_name' value='artillery')
	input(data-i18n-value='athletics' name='attr_athletics_name' value='athletics')
	input(data-i18n-value='bureaucracy' name='attr_bureaucracy_name' value='bureaucracy')
	input(data-i18n-value='computer science' name='attr_computer_science_name' value='computer science')
	input(data-i18n-value='craft 1' name='attr_craft_1_name' value='craft_1')
	input(data-i18n-value='craft 2' name='attr_craft_2_name' value='craft_2')
	input(data-i18n-value='criminology' name='attr_criminology_name' value='criminology')
	input(data-i18n-value='demolitions' name='attr_demolitions_name' value='demolitions')
	input(data-i18n-value='disguise' name='attr_disguise_name' value='disguise')
	input(data-i18n-value='dodge' name='attr_dodge_name' value='dodge')
	input(data-i18n-value='drive' name='attr_drive_name' value='drive')
	input(data-i18n-value='firearms' name='attr_firearms_name' value='firearms')
	input(data-i18n-value='first aid' name='attr_first_aid_name' value='first aid')
	input(data-i18n-value='forensics' name='attr_forensics_name' value='forensics')
	input(data-i18n-value='heavy machinery' name='attr_heavy_machinery_name' value='heavy machinery')
	input(data-i18n-value='heavy weapons' name='attr_heavy_weapons_name' value='heavy weapons')
	input(data-i18n-value='history' name='attr_history_name' value='history')
	input(data-i18n-value='humint' name='attr_humint_name' value='humint')
	input(data-i18n-value='law' name='attr_law_name' value='law')
	input(data-i18n-value='medicine' name='attr_medicine_name' value='medicine')
	input(data-i18n-value='melee weapons' name='attr_melee_weapons_name' value='melee weapons')
	input(data-i18n-value='military science 1' name='attr_military_science_1_name' value='military science 1')
	input(data-i18n-value='military science 2' name='attr_military_science_2_name' value='military science 2')
	input(data-i18n-value='navigate' name='attr_navigate_name' value='navigate')
	input(data-i18n-value='occult' name='attr_occult_name' value='occult')
	input(data-i18n-value='persuade' name='attr_persuade_name' value='persuade')
	input(data-i18n-value='pharmacy' name='attr_pharmacy_name' value='pharmacy')
	input(data-i18n-value='pilot' name='attr_pilot_name' value='pilot')
	input(data-i18n-value='pilot' name='attr_pilot_name' value='pilot')
	input(data-i18n-value='psychotherapy' name='attr_psychotherapy_name' value='psychotherapy')
	input(data-i18n-value='ride' name='attr_ride_name' value='ride')
	input(data-i18n-value='science 1' name='attr_science_1_name' value='science 1')
	input(data-i18n-value='science 2' name='attr_science_2_name' value='science 2')
	input(data-i18n-value='search' name='attr_search_name' value='search')
	input(data-i18n-value='sigint' name='attr_sigint_name' value='sigint')
	input(data-i18n-value='stealth' name='attr_stealth_name' value='stealth')
	input(data-i18n-value='surgery' name='attr_surgery_name' value='surgery')
	input(data-i18n-value='survival' name='attr_survival_name' value='survival')
	input(data-i18n-value='swim' name='attr_swim_name' value='swim')
	input(data-i18n-value='unarmed combat' name='attr_unarmed_combat_name' value='unarmed combat')
	  

//- SKILL ROWS

//datalist(id="")
	each (skill,_) in skills1
		+listskills(skill)


datalist(id="weaponskills")
	each skill in weaponskills
		+listskills(skill)

datalist(id="ritualskills")
	each skill in ritualskills
		+listskills(skill)


datalist(id="allskills")
	each val,key in skills1
		+listskills(key)
	each val,key in skills2
		+listskills(key)
	each val,key in skills3
		+listskills(key)
	each val,key in skills4
		+listskills(key)
	each val,key in statsObject
		+listskills(key)

//datalist(id="defensive-qualities")
	each val,key in defensiveQualities
		+listskills(key)

div.compendium-drop-target
	include src/pug/compendium/_compendium.pug
	// TABS
	// =============================
	
	.picture
		include charimg.pug
	include src/pug/_navigation.pug
		
	// COMPENDIUM DATA
	// SETTINGS

	input.setting_gear(type='hidden' name='attr_mysettings')
	.settings
		// SETTINGS
		// =============================
		include src/pug/_settings.pug
	
	.mainsheet
	
		input.type(name='attr_sheet_type' type='hidden' value='pc')
		input.display_string(name='attr_toggles' type='hidden' value='')
		// CHARACTER SHEETS
		include src/pug/sections/equipment.pug
		// NPC SHEET
		// =============================
		include src/pug/_npc.pug
		// PC SHEET
		// =============================
		include src/pug/_pc.pug
		include src/pug/_handler.pug


	// ROLL TEMPLATE
	// =============================
	include src/pug/rolltemplates/_rolltemplate.pug

	
				
//SHEETWORKERS
// =============================
script(type='text/worker')
		include deltagreen_scripts.pug