include src/js/sheetworkers_constants.js
include src/js/sheetworkers_helpers.js
include src/js/sheetworkers.js
include src/js/sheetworkers_important_automations.js
include src/js/sheetworkers_reset.js
include src/js/sheetworkers_breaking_points.js
include src/js/sheetworkers_versioning.js
include src/js/sheetworkers_parseinput.js 
include src/js/sheetworkers_rolls.js
include src/js/sheetworkers_ritual_activation.js
include src/js/sheetworkers_jquery.js
include src/js/sheetworkers_onclicked.js
include src/js/sheetworkers_onchange.js
include src/js/sheetworkers_onopen.js
include src/js/sheetworkers_compendium.js 
include src/js/sheetworkers_handlersheet.js