- var d10 = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "k"];

rolltemplate.sheet-rolltemplate-skill
    .sheet-template-container
        .sheet-template-header
            .sheet-title {{name}}
            .sheet-subtitle {{attribute}} {{modifier}}
        .sheet-template-row
            .sheet-template-dice
                each val, index in d10
                    - var rollNumber = index+1;
                    != `{{#rollTotal() r1 `+rollNumber+`}}`+val+`{{/rollTotal() r1 `+rollNumber+`}} \n`
                each val, index in d10
                    - var rollNumber = index+1;
                    != `{{#rollTotal() r2 `+rollNumber+`}}`+val+`{{/rollTotal() r2 `+rollNumber+`}}\n`
        | {{#^rollLess() roll rollTarget}}
        .sheet-template-footer.sheet-template-footer--success
            .sheet-template-row-head Target {{rollTargetDisplay}}: Success!
            .sheet-template-total {{roll}}
                | {{#rollTotal() r1 r2}}
                .sheet-template-equal Roll Match! +1 Survival
                | {{/rollTotal() r1 r2}}
        | {{/^rollLess() roll rollTarget}}
        | {{#rollLess() roll rollTarget}}
        .sheet-template-footer.sheet-template-footer--fail
            .sheet-template-row-head Target {{rollTargetDisplay}}: Fail!
            .sheet-template-total {{roll}}
        | {{/rollLess() roll rollTarget}}
