<div class="sheet-row sheet-sub-header">
  <div class="sheet-col-1-3 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Weapons</span>
    <span class="sheet-german">Waffen</span>
  </div>
  <div class="sheet-col-1-3 sheet-center sheet-small-label sheet-sub-header sheet-pc-version-inline-block">
    <span class="sheet-english">Melee</span>
    <span class="sheet-german">Nahkampf</span>
  </div>
  <div class="sheet-col-1-3 sheet-center sheet-small-label sheet-sub-header sheet-pc-version-inline-block">
    <span class="sheet-english">Ranged</span>
    <span class="sheet-german">Fernkampf</span>
  </div>
</div>
<div class="sheet-row sheet-mar-b-sm">
  <div class="sheet-col-1-6 sheet-center">
    <input class="sheet-center" type="text" name="attr_global_weapon_attack_bonus" value="0">
    <div class="sheet-small-label">
      <span class="sheet-english">Atk</span>
      <span class="sheet-german">Ang.</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pad-r-sm">
    <input class="sheet-center" type="text" name="attr_global_weapon_damage_bonus" value="0">
    <div class="sheet-small-label">
      <span class="sheet-english">Dmg</span>
      <span class="sheet-german">Scha.</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pc-version-inline-block sheet-pad-l-sm">
    <input class="sheet-center" type="text" name="attr_global_melee_attack_bonus" value="0">
    <div class="sheet-small-label">
      <span class="sheet-english">Atk</span>
      <span class="sheet-german">Ang.</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pc-version-inline-block sheet-pad-r-sm">
    <input class="sheet-center" type="text" name="attr_global_melee_damage_bonus" value="0">
    <div class="sheet-small-label">
      <span class="sheet-english">Dmg</span>
      <span class="sheet-german">Scha.</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pc-version-inline-block sheet-pad-l-sm">
    <input class="sheet-center" type="text" name="attr_global_ranged_attack_bonus" value="0">
    <div class="sheet-small-label">
      <span class="sheet-english">Atk</span>
      <span class="sheet-german">Ang.</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pc-version-inline-block">
    <input class="sheet-center" type="text" name="attr_global_ranged_damage_bonus" value="0">
    <div class="sheet-small-label">
      <span class="sheet-english">Dmg</span>
      <span class="sheet-german">Scha.</span>
    </div>
  </div>
</div>