.cyberdeck
	include ../../../html/matrix.html
	.rows.repeating-container.programs
		h2(data-i18n='programs') Programs
		fieldset(class=`repeating_programs`)
			input.toggle.indicator(name='attr_program_on' type='checkbox' checked)
			span.pictos Q
			span.eclipse(name='attr_program')
			button.pictos(name="program_chat" type="roll" value="@{gm_toggle} &{template:rolls}{{header=@{program}}}{{desc=@{notes}}}") w
			+repeatingSectionFlags()
			.settings
				label(data-i18n-title='programs' title='programs')
					input(name='attr_program' placeholder='Program name' title='@{repeating_programs_${x}_program}' type='text' value='')
				+repeatingSectionNotes('programs')