.skills {
  @extend %TextBox;
  display: grid;
  grid-gap: 0.25rem;
  padding: 1rem;
}

.skill {
  display: grid;
  grid-template-columns: 1rem 2rem 1fr;
  grid-gap: 0.5rem;
  width: auto;

  &__button[type="roll"] {
    @extend %RollButton;

    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;
  }

  &__value {
    text-align: center;
  }

  &__checkbox {
    display: grid;
    grid-template-areas: "checkbox";
    align-items: center;

    > * {
      grid-area: checkbox;
      width: 100%;
      height: 100%;
    }

    input[type="checkbox"] {
      opacity: 0;

      &:checked ~ span {
        &:before {
          background-color: #c00;
        }
      }
    }

    span {
      &:before {
        display: block;
        content: " ";
        width: 1rem;
        height: 1rem;

        border: 1px solid black;
        border-radius: 50%;

        font-family: Pictos;
        font-size: 1rem;
        line-height: 1rem;
      }
    }
  }
}
