/*-----background-----*/

.charsheet {
    background-color: #000000;
    background-size: 100%;
}

.sheet-clear {
    background:none;
}
/*-----tabs-----*/

input.sheet-tab1:not(:checked) ~ .sheet-tab1,
input.sheet-tab2:not(:checked) ~ .sheet-tab2,
input.sheet-tab3:not(:checked) ~ .sheet-tab3,
input.sheet-tab4:not(:checked) ~ .sheet-tab4,
input.sheet-tab5:not(:checked) ~ .sheet-tab5,
input.sheet-tab6:not(:checked) ~ .sheet-tab6 {
    display: none;
}

input.sheet-tab {
    width: calc(25% - 5px);
    height: 20px;

    outline: none !important;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab1 {
    margin-left: 1px;
}

input.sheet-tab::before {
    content: attr(title);
    display: inline-block;
    color: #F1C11E;

    background: #000000;
    border: solid 1px #F1C11E;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    
    width: 100%;
    height: 20px;
}

input.sheet-tab:checked::before {
    color: #000000;

    background: #F1C11E;
}

.sheet-tab-br {
    margin-bottom: 5px;
    margin-top: 1px;
}

    /*-----Sheet Arrow-----*/
input.sheet-arrow {
    float: left;
}

div.sheet-body {
    display: none;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}



.sheet-prime {
    width: 600px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    background-color: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

}

.sheet-prime > div {
    color: #F1C11E;
    font-weight: bold;
    line-height: 20px;
    margin: 1px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    flex: 2
}

/* ----Hide actual sheet-arrow checkbox---- */

input.sheet-arrow[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/*-----Fake sheet-arrow checkbox-----*/

input.sheet-arrow[type="checkbox"] + span::before
{
    color:white;
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
}

input.sheet-arrow[type="checkbox"]:checked + span::before
{
    color:white;
    content: "▼";
}

    /*-----sheet select-----*/

.sheet-select {
    margin-bottom: 0;
    color: #F1C11E;
    font-weight: bold;
    font-size:0.8em;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 12%;
    margin: 5px;
}
    /*-----text-----*/

h5 {
    color: #F1C11E;
    font-weight: bold;
}

th {
    text-shadow: 0px 0px 10px #F1C11E;
    color:#F1C11E;
}

h4 {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 10px; 
    box-shadow: 0 0 5px 3px #000000;
    margin: 5px;
}

h3 {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    margin: 5px;
}

h2 {
    text-shadow: 0px 0px 20px black;
    color:#F1C11E;
}

{
    text-shadow: 0px 0px 10px black;
    color:#F1C11E;
}

.sheet-center {
    text-align: center
}

.sheet-left {
    text-align: left
}

.sheet-right {
    text-align: right
}

.sheet-thin {
    font-weight: none;
    font-size: 0.6em
}

/*-----textarea-----*/

.sheet-center {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
}

.sheet-center_armor {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
}

.sheet-center_stat {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
}

.sheet-center_stats {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
}

.sheet-center_skill {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;

    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
}

.sheet-left {
    text-align: left;
    margin-left: auto; 
    margin-right: auto;
    
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
}

.sheet-center td, th {
    padding: 5px;
}


/*--------------Big Checkbox--------------*/

/* ----Hide actual sheet-arrow checkbox---- */
input.sheet-bigcheck[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake sheet-arrow checkbox---- */
input.sheet-bigcheck[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #F1C11E;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #000000;
    -webkit-box-shadow: 0 0 2px #000000;
    box-shadow: 0 0 2px #000000;
    
    background: #F1C11E;
    background: -moz-radial-gradient(#000000, #F1C11E);
    background: -webkit-radial-gradient(#000000, #F1C11E);
    background: -ms-radial-gradient(#000000, #F1C11E);
    background: -o-radial-gradient(#000000, #F1C11E);
    background: radial-gradient(#000000, #F1C11E);
}

input.sheet-bigcheck[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-bigcheck[type="checkbox"]:checked + span::before
{
    color: red;
    content: "X";
}

/*-----Hidden-----*/
.sheet-hidden {
    display:block;
}

/*--------------Round checkbox--------------*/

/* ----Hide actual roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #F1C11E;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px 20px 20px 20px;

    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #F1C11E;
    
    background: #000000;
    background: -moz-radial-gradient(#000000, #F1C11E);
    background: -webkit-radial-gradient(#000000, #F1C11E);
    background: -ms-radial-gradient(#000000, #F1C11E);
    background: -o-radial-gradient(#000000, #F1C11E);
    background: radial-gradient(#000000, #F1C11E);
    
    -moz-border-radius:  20px 20px 20px 20px;
    -webkit-border-radius:  20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

input.sheet-roundcheck[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
input.sheet-roundcheck[type="checkbox"]:checked + span::before
{
    color: red;
    font-size: 1em;
    content: "✓";
}

.sheet-text_stat {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 10%;
    margin: 5px;
}
.sheet-text_stats {
    color: #F1C11E;
    font-weight: bold;
    text-align: right;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 16%;
    margin: 5px;
}

.sheet-text_statscenter {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 16%;
    margin: 5px;
}

.sheet-text_formula {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 20%;
    margin: 5px;
}

.sheet-text_statplus {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 8.5%;
    margin: 6px;
}

.sheet-text_stattag {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    width: 7.5%;
}
.sheet-text_dtdr {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    width: 8%;
}

.sheet-text_damage {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    width: 20%;
}
.sheet-text_damagetext {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    font-size:9px;
}

.sheet-text_statname {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 20%;
    margin: 3px;
}

.sheet-text_statistic {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    width: 20%;
    margin: 3px;
}

.sheet-text_statsname {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    width: 30%;
    margin: 3px;
}

.sheet-text_skillname {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 

    width: 33%;
    margin: 3px;
}

.sheet-text_statsseq {
    color: #F1C11E;
    font-weight: bold;
    text-align: right;
    background: #000000;
    border: 0px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 0px #000000;
    width: 18%;
    margin: 3px;
}

.sheet-text_left {
    color: #F1C11E;
    font-weight: bold;
    text-align: right;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 20%;
    margin: 5px;
}

.sheet-text_level {
    color: #F1C11E;
    font-weight: bold;
    text-align: right;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 22%;
    margin: 5px;
}

.sheet-text_perk {
    color: #F1C11E;
    font-weight: bold;
    text-align: right;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 32%;
    margin: 5px;
}

.sheet-text_center {
    color: #F1C11E;
    font-weight: bold;
    text-align: center;
    background: #000000;
    border: 1px solid #F1C11E; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 0px #000000;
    width: 120px;
    margin: 5px;
}

.sheet-text_right {
    color: #000000;
    font-weight: bold;
    text-align: left;
    background: #F1C11E;
    border: 1px solid #000000; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 26%;
}

#level {
    width: 5em;
}

.sheet-text_name {
    color: #000000;
    font-weight: bold;
    text-align: left;
    background: #F1C11E;
    border: 1px solid #000000; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 76%;
}

textarea {
    height: 60px;
    color: #000000;
    font-weight: bold;
    text-align: left;
    background: #F1C11E;
    border: 1px solid #000000; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #000000;
    width: 120px;
    margin: 5px;
}

.sheet-number {
    height: 20px;
    width: 5%;
    color: #000000;
    font-weight: bold;
    text-align: center;
    background: #F1C11E;
    border: 1px solid #000000; 
    border-radius: 5px; 
    box-shadow: 0 0 0px 0px #000000;
}
.sheet-number_formula {
    height: 20px;
    width: 30%;
    color: #000000;
    font-weight: bold;
    text-align: center;
    background: #F1C11E;
    border: 1px solid #000000; 
    border-radius: 5px; 
    box-shadow: 0 0 0px 0px #000000;
}

.sheet-number_skill {
    height: 20px;
    width: 20%;
    color: #000000;
    font-weight: bold;
    text-align: center;
    background: #F1C11E;
    border: 1px solid #000000; 
    border-radius: 5px; 
    box-shadow: 0 0 0px 0px #000000;
}

/*----Sheet Skill Button----*/

.sheet-skill_button {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #FFE000, #000000);
  background-image: -moz-linear-gradient(top, #FFE000, #000000);
  background-image: -ms-linear-gradient(top, #FFE000, #000000);
  background-image: -o-linear-gradient(top, #FFE000, #000000);
  background-image: linear-gradient(bottom, #FFE000, #000000);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: #FFE000;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}

.sheet-skill_button:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #F1C11E, #000000);
  background-image: -moz-linear-gradient(top, #F1C11E, #000000);
  background-image: -ms-linear-gradient(top, #F1C11E, #000000);
  background-image: -o-linear-gradient(top, #F1C11E, #000000);
  background-image: linear-gradient(to bottom, #F1C11E, #000000);
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/*----removing spinner on numbers----*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
