include ../fields.pug

mixin feat()
  .card.feat
    .head
      +labelledBoxH('Lv', { i18n: 'level-abbrev' }).level: +select('level')(style='width: 0.5in;')
        option(value=1) 1
        option(value=3) 3
        option(value=5) 5
        option(value=7) 7
        option(value=9) 9
        option(value=11) 11
        option(value=13) 13
        option(value=15) 15
        option(value=17) 17
        option(value=19) 19
        option(value='b', data-i18n='bonus') bonus
      .name: +input('text', 'name', { i18n: 'feat-name-place' })(placeholder='Feat name', style='width: 2.8in;')
    .body: .description: +textarea('description', { i18n: 'description-place' })(placeholder='Description')

mixin specialAbility()
  .card.specialAbility
    .head
      .name: +input('text', 'name', { i18n: 'ability-name-place' })(placeholder='Ability name')
      +labelledBoxH('Uses', { i18n: 'uses' }).uses: +fraction('uses')
    .body: .description: +textarea('description', { i18n: 'description-place' })(placeholder='Description')

mixin trait()
  .card.trait
    .head
      .name: +input('text', 'name', { i18n: 'trait-name-place' })(placeholder='Trait name')
    .body: .description: +textarea('description', { i18n: 'description-place' })(placeholder='Description')

.specialFeatsTab
  .inlineBlock(style='float: left; width: 45%;')
    h2(data-i18n='racial-abilities') Racial Abilities
    +repeating('raceabilities')
      +specialAbility()

    h2(data-i18n='class-abilities') Class Abilities
    +repeating('classabilities')
      +specialAbility()

    h2(data-i18n='other-abilities') Other Abilities
    +repeating('otherabilities')
      +specialAbility()

  .inlineBlock(style='float: right; width: 45%;')
    h2(data-i18n='feats') Feats
    +repeating('feats')
      +feat()

    h2(data-i18n='traits') Traits
    +repeating('traits')
      +trait()

    h2(data-i18n='favored-class-options') Favored Class Options
    .card: .body: +textarea('favoredClassOptions')(style='height: 3in;')
