include ../fields.pug

mixin feat()
  .card.feat
    .head
      +labelledBoxH('Lv').level: +select('level')(style='width: 0.5in;')
        option(value=1) 1
        option(value=3) 3
        option(value=5) 5
        option(value=7) 7
        option(value=9) 9
        option(value=11) 11
        option(value=13) 13
        option(value=15) 15
        option(value=17) 17
        option(value=19) 19
        option(value='b') bonus
      .name: +input('text', 'name')(placeholder='Feat name', style='width: 2.8in;')
    .body: .description: +textarea('description')(placeholder='Description')

mixin specialAbility()
  .card.specialAbility
    .head
      .name: +input('text', 'name')(placeholder='Ability name')
      +labelledBoxH('Uses').uses: +fraction('uses')
    .body: .description: +textarea('description')(placeholder='Description')

mixin trait()
  .card.trait
    .head
      .name: +input('text', 'name')(placeholder='Trait name')
    .body: .description: +textarea('description')(placeholder='Description')

.specialFeatsTab
  .inlineBlock(style='float: left; width: 45%;')
    h2 Racial Abilities
    +repeating('raceabilities')
      +specialAbility()

    h2 Class Abilities
    +repeating('classabilities')
      +specialAbility()

    h2 Other Abilities
    +repeating('otherabilities')
      +specialAbility()

  .inlineBlock(style='float: right; width: 45%;')
    h2 Feats
    +repeating('feats')
      +feat()

    h2 Traits
    +repeating('traits')
      +trait()
