//- @pugdoc
    - name: skill
    - description: A simple skill field with display label, value and half value
    - arguments:
        - {string} attrName - The r20 attribute name
        - {string} label - The displayed label. If not specified, a text input
mixin skill(attrName, label='')
    label.skill
        if label == ''
            +textInput(`${attrName}_name`, '')
        else
            span.skillLabel!= label
        +numberInput(attrName, '')
        +numberInput(`${attrName}_half`)(readonly)

//- @pugdoc
    - name: headerSkill
    - description: A skill field with an emphasized label
    - arguments
        - {string} attrName - The r20 attribute name
        - {string} label - The displayed label
        - {integer} value - The default value
mixin headerSkill(attrName, label='', value=0)
    label.skill.headerskill
        h4(class!=attributes.class)!= label
        +numberInput(attrName, value)