rolltemplate.sheet-rolltemplate-deeperunderstanding
  .sheet-roll-header Deeper Understanding
  .sheet-roll-subheader {{charName}}
  .sheet-roll-result
    .sheet-roll-result-num {{result}}
    .sheet-roll-result-label success(es)
