rolltemplate.sheet-rolltemplate-luck
  .sheet-roll-header Luck {{numDice}}
  .sheet-roll-subheader {{charName}}
  .sheet-roll-result
    .sheet-roll-result-num {{result}}
    .sheet-roll-result-label success(es)