rolltemplate.sheet-rolltemplate-ofcourse
  .sheet-roll-header Of Course {{numDice}}
  .sheet-roll-subheader {{charName}}
  .sheet-roll-result
    .sheet-roll-result-num {{result}}
    .sheet-roll-result-label success(es)
