rolltemplate.sheet-rolltemplate-skillcheck 
  .sheet-roll-header {{rollName}} {{numDice}}
  .sheet-row
    .sheet-roll-subheader {{charName}}
    .sheet-roll-subheader {{grindTurns}} turn(s) of the grind
  .sheet-roll-result
    .sheet-roll-dice
      .sheet-roll-result-num {{result}}
        | {{#otherSuccesses}}
        .sheet-roll-success-mod ({{otherSuccesses}}s)
        | {{/otherSuccesses}}
      .sheet-roll-result-label success(es)
    | {{#independent}}
    .sheet-roll-vs vs
    .sheet-roll-ob
      .sheet-roll-ob-num {{ob}}
      .sheet-roll-ob-label obstacle
    | {{/independent}}
    | {{#versus}}
    .sheet-roll-vs vs
        .sheet-roll-ob
    .sheet-opponent-dice
      .sheet-roll-ob-num {{opponentRoll}}
      .sheet-roll-ob-label opponent
    | {{/versus}}
    | {{#disposition}}
    .sheet-roll-disposition
      .sheet-added-to +
      .sheet-attribute
        .sheet-attribute-num {{dispositionAttribute}}
        .sheet-attribute-label {{dispositionAttributeName}}
    | {{/disposition}}
  //- ul
  // TODO beginners luck/nature
  // TODO Trait
  // TODO Channel nature
  // TODO persona
  // TODO fresh, injured, sick
  // TODO Gear, supplies, etc.
  // TODO Help
  // TODO Aid
  // TODO Synergy
  // TODO Conflicts
