<div class="wrap-box pc mar-b-smd">
  <fieldset class="repeating_resource">
    <div class="resource relative mar-b-sm">
      <div class="shaped-row vert-center">
        <div class="col-58 pad-r-sm">
          <button type="roll" name="roll_resource" class="wrapper-button"
                  value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=@{name} (@{uses}&#47;@{uses|max})}}  {{recharge=@{recharge}}}   @{heal_toggle}   @{extras_toggle}">
            <div>
              <input type="text" name="attr_name" readonly>
            </div>
          </button>
        </div>
        <div class="col-14 center">
          <input type="number" name="attr_uses" class="no-spin">
        </div>
        <div class="col-04 center">/</div>
        <div class="col-14 center">
          <input type="number" name="attr_uses_max" class="no-spin">
        </div>
      </div>
      <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings" checked><span class="toggle-icon-settings pictos">y</span>

      <div class="details">
        <div class="shaped-row vert-center">
          <div class="col-54 pad-r-sm">
            <input type="text" name="attr_name">
          </div>
          <div class="col-46 center">
          <span class="en">
            <select name="attr_recharge">
              <option></option>
              <option value="Short Rest">Short Rest</option>
              <option value="Long rest">Long Rest</option>
              <option value="Other">Other</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_recharge">
              <option></option>
              <option value="Short Rest">Kurze Ruhe</option>
              <option value="Long rest">Lange Ruhe</option>
              <option value="Other">Andere</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_recharge">
              <option></option>
              <option value="Short Rest">Repos Court</option>
              <option value="Long rest">Repos Long</option>
              <option value="Other">Autre</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_recharge">
              <option></option>
              <option value="Short Rest">Short Rest</option>
              <option value="Long rest">Long Rest</option>
              <option value="Other">Other</option>
            </select>
          </span>
          </div>
        </div>

        //= include ../actionComponents/healResource.html

        <div class="shaped-row relative mar-t-sm">
          <input type="hidden" name="attr_extras_var" value="{{freetext=@{freetext}}} @{freeform}">
          <input type="checkbox" name="attr_extras_toggle" value="@{extras_var}" class="attack-toggle absolute">

          <div class="col-10"></div>
          <div class="col-30 bold italic">{{'EXTRAS' | translate}}.</div>
          <div class="col-100 attack-toggle">
            <div class="center">
              <textarea name="attr_freetext" class="one-line-textarea"></textarea>

              <div class="small-label">{{'FREETEXT' | translate}}</div>
            </div>
            <div class="center mar-t-sm">
              <textarea name="attr_freeform" class="one-line-textarea"></textarea>

              <div class="small-label">{{'FREEFORM' | translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="wrap-box-title center">{{'RESOURCES' | translate}}</div>
</div>