<fieldset class="repeating_resource">
  <div class="shaped-row vert-center">
    <div class="col-40 pad-r-sm">
      <input type="text" name="attr_name">
    </div>
    <div class="col-10 center pad-r-sm">
      <input type="number" name="attr_uses">
    </div>
    <div class="col-10 center pad-r-sm">
      <input type="number" name="attr_uses_max">
    </div>
    <div class="col-40 center pad-r-sm">
      <span class="en">
        <select name="attr_recharge">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Short Rest</option>
          <option value="Long rest">Long Rest</option>
          <option value="Other">Other</option>
        </select>
      </span>
      <span class="de">
        <select name="attr_recharge">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Short Rest</option>
          <option value="Long rest">Long Rest</option>
          <option value="Other">Other</option>
        </select>
      </span>
      <span class="fr">
        <select name="attr_recharge">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Repos Court</option>
          <option value="Long rest">Repos Long</option>
          <option value="Other">Autre</option>
        </select>
      </span>
      <span class="ru">
        <select name="attr_recharge">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Краткий отдых</option>
          <option value="Long rest">Прод.отдых</option>
          <option value="Other">Другое</option>
        </select>
      </span>
    </div>
  </div>
</fieldset>
