<div class="has-fighter-levels mar-b-smd">
  <div class="wrap-box center">
    <textarea name="attr_action_surge_text" class="edit eight-line-textarea">Starting at 2nd level, You can push yourself beyond your normal limits for a moment. On your turn, you can take one additional action on top of your regular action and a possible bonus action.
      Once you use this feature, you must finish a short or long rest before you can use it again. Starting at 17th level, you can use it twice before a rest, but only once on the same turn.</textarea>
    <div class="col-100">
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_action_surge_uses" value="0" min="0" step="1">
        </div>
        <div class="col-06 center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_action_surge_uses_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
    </div>

    <button type="roll" name="roll_action_surege" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Action Surge}} {{uses=@{action_surge_uses}}} {{uses_max=@{action_surge_uses|max}}} {{text=@{action_surge_text}}}">
      <div class="wrap-box-title center">
        {{'ACTION_SURGE' | translate}}
      </div>
    </button>
  </div>
</div>