<div class="has-fighter-levels mar-b-smd">
  <div class="wrap-box center">
    <div class="mar-b-md">
      <button type="roll" name="roll_action_surge" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Action Surge}} {{uses=@{action_surge_uses}}} {{uses_max=@{action_surge_uses|max}}} {{recharge=Short Rest}}">
        <div class="wrap-box-label">
          {{'ACTION_SURGE' | translate}}
        </div>
      </button>
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_action_surge_uses" value="0" min="0" step="1">
        </div>
        <div class="center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_action_surge_uses_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
    </div>

    <div class="mar-b-md">
      <button type="roll" name="roll_second_wind" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Second Wind}} {{heal=[[d10+@{fighter_level}]]}} {{recharge=Short Rest}}">
        <div class="wrap-box-label">
          {{'SECOND_WIND' | translate}}
        </div>
      </button>
    </div>

    <div class="mar-b-md">
      <button type="roll" name="roll_superiority_dice" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Superiority Dice}} {{uses=@{action_surge_uses}}} {{uses_max=@{action_surge_uses|max}}}">
        <div class="wrap-box-label">
          {{'SUPERIORITY_DICE' | translate}}
        </div>
      </button>
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_superiority_dice_uses" value="0" min="0" step="1">
        </div>
        <div class="center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_superiority_dice_uses_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>

      <div class="shaped-row center vert-center mar-b-sm">
        <div class="edit col-23 center pad-r-sm">
          <select name="attr_maneuver_die">
            <option>d8</option>
            <option>d10</option>
            <option>d12</option>
          </select>
        </div>
        <span class="small-label">{{'MANEUVER_SAVE_DC' | translate}}</span>
        <div class="col-20">
          <input type="number" name="attr_maneuver_dc" readonly>
        </div>
      </div>
    </div>

    <div class="wrap-box-title center">
      {{'CLASSES.FIGHTER' | translate}}
    </div>
  </div>
</div>