<div class="wrap-box has-fighter-levels mar-b-smd">
  <div class="shaped-row vert-center mar-b-sm">
    <button type="roll" name="roll_action_surge" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Action Surge}} {{uses=@{action_surge_uses}}} {{uses_max=@{action_surge_uses|max}}} {{recharge=Short Rest}}">
      {{'ACTION_SURGE' | translate}}
    </button>
    <div class="col-14">
      <input type="number" name="attr_action_surge_uses" class="no-spin" value="0" min="0" step="1">
    </div>
    <div>/</div>
    <div class="col-14">
      <span name="attr_action_surge_uses_max" class="pseudo-input center border-bottom"></span>
    </div>
  </div>

  <div class="mar-b-sm">
    <button type="roll" name="roll_second_wind" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Second Wind}} {{heal=[[d10+@{fighter_level}]]}} {{recharge=Short Rest}}">
      {{'SECOND_WIND' | translate}}
    </button>
  </div>

  <div class="wrap-box-title center">
    {{'CLASSES.FIGHTER' | translate}}
  </div>
</div>