<div class="wrap-box has-paladin-levels mar-b-smd">
  <div class="shaped-row vert-center mar-b-sm">
    <button type="roll" name="roll_divine_sense" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Divine Sense}} {{uses=@{divine_sense_uses}}} {{uses_max=@{divine_sense_uses_max|max}}} {{recharge=Long Rest}}">
      {{'DIVINE_SENSE' | translate}}
    </button>
    <div class="col-14">
      <input type="number" name="attr_divine_sense_uses" class="no-spin" value="0" min="0" step="1">
    </div>
    <div>/</div>
    <div class="col-14">
      <span name="attr_divine_sense_uses_max" class="pseudo-input center border-bottom"></span>
    </div>
  </div>

  <div class="edit shaped-row center vert-center mar-b-sm">
    <button type="roll" name="roll_divine_smite" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Divine Smite}} {{targetName=@{attacks_vs_target_name}}} {{damage=[[(?{Spell Level|1|2|3|4+, 4} + 1)@{divine_smite_die}]]}} {{second_damage=[[@{divine_smite_die}]]}} {{second_damage_type=vs undead / fiend}}">
      {{'DIVINE_SMITE' | translate}}
    </button>

    <div class="col-23 center pad-r-sm">
      <select name="attr_divine_smite_die">
        <option>d2</option>
        <option>d4</option>
        <option>d6</option>
        <option selected>d8</option>
        <option>d10</option>
        <option>d12</option>
        <option>d20</option>
      </select>
    </div>
  </div>

  <div class="shaped-row vert-center mar-b-sm">
    <button type="roll" name="roll_lay_on_hands" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Lay on Hands}} {{uses=@{lay_on_hands_uses}}} {{uses_max=@{lay_on_hands_uses|max}}} {{targetName=@{attacks_vs_target_name}}} {{heal=[[?{Amount}]]}}">
      {{'LAY_ON_HANDS' | translate}}
    </button>
    <div class="col-14">
      <input type="number" name="attr_lay_on_hands_uses" class="no-spin" value="0" min="0" step="1">
    </div>
    <div>/</div>
    <div class="col-14">
      <span name="attr_lay_on_hands_uses_max" class="pseudo-input center border-bottom"></span>
    </div>
  </div>

  <div class="shaped-row vert-centermar-b-sm">
    <button type="roll" name="roll_divine_sense" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Channel Divinity}} {{uses=@{channel_divinity_uses}}} {{uses_max=@{channel_divinity_uses|max}}} {{recharge=Short Rest}}">
      {{'CHANNEL_DIVINITY' | translate}}
    </button>
    <div class="col-14">
      <input type="number" name="attr_channel_divinity_uses" class="no-spin" value="0" min="0" step="1">
    </div>
    <div>/</div>
    <div class="col-14">
      <span name="attr_channel_divinity_uses_max" class="pseudo-input center border-bottom"></span>
    </div>
  </div>

  <div class="shaped-row vert-center">
    <button type="roll" name="roll_divine_sense" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Cleansing Touch}} {{uses=@{cleansing_touch_uses}}} {{uses_max=@{cleansing_touch_uses|max}}} {{recharge=Long Rest}}">
      {{'CLEANSING_TOUCH' | translate}}
    </button>
    <div class="col-14">
      <input type="number" name="attr_cleansing_touch_uses" class="no-spin" value="0" min="0" step="1">
    </div>
    <div>/</div>
    <div class="col-14">
      <span name="attr_cleansing_touch_uses_max" class="pseudo-input center border-bottom"></span>
    </div>
  </div>

  <div class="wrap-box-title center">
    {{'CLASSES.PALADIN' | translate}}
  </div>
</div>