<div class="has-paladin-levels mar-b-smd">
  <div class="wrap-box center">
    <div class="mar-b-md">
      <button type="roll" name="roll_divine_sense" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Divine Sense}} {{uses=@{divine_sense_uses}}} {{uses_max=@{divine_sense_uses_max|max}}} {{recharge=Long Rest}}">
        <div class="wrap-box-label">
          {{'DIVINE_SENSE' | translate}}
        </div>
      </button>
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_divine_sense_uses" value="0" min="0" step="1">
        </div>
        <div class="center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_divine_sense_uses_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
    </div>

    <div class="mar-b-md">
      <div class="edit shaped-row center vert-center">
        <div class="col-23 center pad-r-sm">
          <select name="attr_divine_smite_die">
            <option>d2</option>
            <option>d4</option>
            <option>d6</option>
            <option selected>d8</option>
            <option>d10</option>
            <option>d12</option>
            <option>d20</option>
          </select>
        </div>
      </div>

      <button type="roll" name="roll_divine_smite" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Divine Smite}} {{targetName=@{attacks_vs_target_name}}} {{damage=[[(?{Spell Level|1|2|3|4+, 4} + 1)@{divine_smite_die}]]}} {{second_damage=[[@{divine_smite_die}]]}} {{second_damage_type=vs undead / fiend}}">
        <div class="wrap-box-label">
          {{'DIVINE_SMITE' | translate}}
        </div>
      </button>
    </div>

    <div class="mar-b-md">
      <button type="roll" name="roll_lay_on_hands" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Lay on Hands}} {{uses=@{lay_on_hands_uses}}} {{uses_max=@{lay_on_hands_uses|max}}} {{targetName=@{attacks_vs_target_name}}} {{heal=[[?{Amount}]]}}">
        <div class="wrap-box-label">
          {{'LAY_ON_HANDS' | translate}}
        </div>
      </button>
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_lay_on_hands_uses" value="0" min="0" step="1">
        </div>
        <div class="center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_lay_on_hands_uses_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
    </div>

    <div class="mar-b-md">
      <button type="roll" name="roll_divine_sense" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Channel Divinity}} {{uses=@{channel_divinity_uses}}} {{uses_max=@{channel_divinity_uses|max}}} {{recharge=Short Rest}}">
        <div class="wrap-box-label">
          {{'CHANNEL_DIVINITY' | translate}}
        </div>
      </button>
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_channel_divinity_uses" value="0" min="0" step="1">
        </div>
        <div class="center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_channel_divinity_uses_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
    </div>

    <div>
      <button type="roll" name="roll_divine_sense" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Cleansing Touch}} {{uses=@{cleansing_touch_uses}}} {{uses_max=@{cleansing_touch_uses|max}}} {{recharge=Long Rest}}">
        <div class="wrap-box-label">
          {{'CLEANING_TOUCH' | translate}}
        </div>
      </button>
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_cleansing_touch_uses" value="0" min="0" step="1">
        </div>
        <div class="center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_cleansing_touch_uses_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
    </div>

    <div class="wrap-box-title center">
      {{'CLASSES.PALADIN' | translate}}
    </div>
  </div>
</div>