<div class="has-paladin-levels mar-b-smd">
  <div class="wrap-box center">
    <div class="edit shaped-row center vert-center">
      <div class="col-23 center pad-r-sm">
        <select name="attr_divine_smite_die">
          <option>d2</option>
          <option>d4</option>
          <option>d6</option>
          <option selected>d8</option>
          <option>d10</option>
          <option>d12</option>
          <option>d20</option>
        </select>
      </div>
    </div>

    <button type="roll" name="roll_divine_smite" class="visible-button" value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=Divine Smite}}   {{subheader=Paladin}}   {{targetName=@{attacks_vs_target_name}}}   {{damage=[[(?{Spell Level|1|2|3|4+, 4} + 1)@{divine_smite_die}]]}} {{second_damage=[[@{divine_smite_die}]]}} {{second_damage_type=vs undead / fiend}}">
      {{'DIVINE_SMITE' | translate}}
    </button>

    <div class="wrap-box-title center">
      {{'CLASSES.PALADIN' | translate}}
    </div>
  </div>
</div>

<div class="has-fighter-levels mar-b-smd">
  <div class="wrap-box center">
    <div class="col-100">
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_lay_on_hands_uses" value="0" min="0" step="1">
        </div>
        <div class="col-06 center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_lay_on_hands_uses_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
    </div>

    <button type="roll" name="roll_lay_on_hands" value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=Lay on Hands}}   {{subheader=Paladin}}   {{targetName=@{attacks_vs_target_name}}}   {{heal=[[?{Amount}]]}}">
      <div class="wrap-box-title center">
        {{'LAY_ON_HANDS' | translate}}
      </div>
    </button>
  </div>
</div>