div(class="container")
    include HTML/nav_tab.html
    include HTML/menu-roll.html
    include HTML/data.html
    include HTML/skills.html
    include HTML/equipment.html
script(type="text/worker")
    include script.js
include ./HTML/roll_template.html