<div class="general-bonuses wrap-box relative center mar-b-smd">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-left small-label">{{'BONUSES_AND_PENALTIES_TOOLTIP' | translate}}</div>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-1-3 wrap-box-label light-label center">{{'ATTACKS' | translate}}</div>
    <div class="col-1-3 wrap-box-label light-label center">{{'MELEE' | translate}}</div>
    <div class="col-1-3 wrap-box-label light-label center">{{'RANGED' | translate}}</div>
  </div>
  <div class="shaped-row mar-b-sm">
    <div class="col-1-6 center">
      <input type="text" name="attr_global_attack_bonus" class="center" value="0">

      <div class="small-label">{{'ATTACK' | translate}}</div>
    </div>
    <div class="col-1-6 center pad-r-sm">
      <input type="text" name="attr_global_damage_bonus" class="center" value="0">

      <div class="small-label">{{'DAMAGE' | translate}}</div>
    </div>
    <div class="col-1-6 center pad-l-sm">
      <input type="text" name="attr_global_melee_attack_bonus" class="center" value="0">

      <div class="small-label">{{'ATTACK' | translate}}</div>
    </div>
    <div class="col-1-6 center pad-r-sm">
      <input type="text" name="attr_global_melee_damage_bonus" class="center" value="0">

      <div class="small-label">{{'DAMAGE' | translate}}</div>
    </div>
    <div class="col-1-6 center pad-l-sm">
      <input type="text" name="attr_global_ranged_attack_bonus" class="center" value="0">

      <div class="small-label">{{'ATTACK' | translate}}</div>
    </div>
    <div class="col-1-6 center">
      <input type="text" name="attr_global_ranged_damage_bonus" class="center" value="0">

      <div class="small-label">{{'DAMAGE' | translate}}</div>
    </div>
  </div>

  //= include ../spells/spellcasting_bonuses.html
  <div class="wrap-box-title">{{'BONUSES_AND_PENALTIES' | translate}}</div>
</div>