<div class="section-settings">
  <div class="wrap-box mar-b-smd">

    <div class="shaped-row mar-b-md">
      <div class="col-50 pad-r-lg">
        <div class="shaped-row vert-center">
          <div class="col-50">{{'OUTPUT_SHEET' | translate}}</div>
          <div class="col-50">
            <input type="hidden" name="attr_output_to_all" value="">
            <input type="hidden" name="attr_output_to_gm" value="/w GM">
            <span class="en">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Public for all to see</option>
                <option value="@{output_to_gm}">Whispered to the GM</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Öffentliche für alle zu sehen</option>
                <option value="@{output_to_gm}">Raunte der GM</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
                <option value="@{output_to_gm}">Chuchotés au MJ</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Всем в кампании</option>
                <option value="@{output_to_gm}">Только для ГМ</option>
              </select>
            </span>
          </div>
        </div>

        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">{{'OUTPUT_DEATH_SAVING_THROWS' | translate}}</div>
          <div class="col-50">
            <span class="en">
              <select name="attr_death_save_output_option" class="mar-t-md">
                <option value="@{output_to_all}" selected>Public for all to see</option>
                <option value="@{output_to_gm}">Whispered to the GM</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_death_save_output_option" class="mar-t-md">
                <option value="@{output_to_all}" selected>Öffentliche für alle zu sehen</option>
                <option value="@{output_to_gm}">Raunte der GM</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_death_save_output_option" class="mar-t-md">
                <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
                <option value="@{output_to_gm}">Chuchoter au MJ</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_death_save_output_option" class="mar-t-md">
                <option value="@{output_to_all}" selected>Всем в кампании</option>
                <option value="@{output_to_gm}">Только для ГМ</option>
              </select>
            </span>
          </div>
        </div>

        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">{{'OUTPUT_INITIATIVE' | translate}}</div>
          <div class="col-50">
            <span class="en">
              <select name="attr_initiative_output_option" class="mar-t-md">
                <option value="@{output_to_all}" selected>Public for all to see</option>
                <option value="@{output_to_gm}">Whispered to the GM</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_initiative_output_option" class="mar-t-md">
                <option value="@{output_to_all}" selected>Öffentliche für alle zu sehen</option>
                <option value="@{output_to_gm}">Raunte der GM</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_initiative_output_option" class="mar-t-md">
                <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
                <option value="@{output_to_gm}">Chuchoter au MJ</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_initiative_output_option" class="mar-t-md">
                <option value="@{output_to_all}" selected>Всем в кампании</option>
                <option value="@{output_to_gm}">Только для ГМ</option>
              </select>
            </span>
          </div>
        </div>

        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">{{'CHARACTER_NAME_ON_ROLL_TEMPLATES' | translate}}</div>
          <div class="col-50">
            <input type="hidden" name="attr_show_character_name_no" value="">
            <input type="hidden" name="attr_show_character_name_yes" value="{{show_character_name=1}}">
          <span class="en">
            <select name="attr_show_character_name" class="mar-t-md">
              <option value="@{show_character_name_no}" selected>No</option>
              <option value="@{show_character_name_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_show_character_name" class="mar-t-md">
              <option value="@{show_character_name_no}" selected>Nein</option>
              <option value="@{show_character_name_yes}">Ja</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_show_character_name" class="mar-t-md">
              <option value="@{show_character_name_no}" selected>Non</option>
              <option value="@{show_character_name_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_show_character_name" class="mar-t-md">
              <option value="@{show_character_name_no}" selected>Нет</option>
              <option value="@{show_character_name_yes}">Да</option>
            </select>
          </span>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">{{'ROLL_OPTIONS' | translate}}:</div>
          <div class="col-50">
            <input type="hidden" name="attr_roll_2" value="{{advantage=1}} {{roll2=[[d20">
            <input type="hidden" name="attr_roll_2_disadvantage" value="{{disadvantage=1}} {{roll2=[[d20">
            <input type="hidden" name="attr_advantage_query" value="?{Advantage?|Normal Roll,{{only_roll_1=1&#125&#125 {{ignore=|Advantage,{{advantage=1&#125&#125 {{roll2=[[1d20|Disadvantage,{{disadvantage=1&#125&#125 {{roll2=[[1d20}">
            <input type="hidden" name="attr_roll_1" value="{{only_roll_1=1}} {{ignore=">
            <span class="en">
              <select name="attr_roll_setting">
                <option value="@{roll_2}" selected>Roll with Advantage</option>
                <option value="@{roll_2_disadvantage}">Roll with Disadvantage</option>
                <option value="@{advantage_query}">Query for (dis)advantage</option>
                <option value="@{roll_1}">Roll 1 dice</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_roll_setting">
                <option value="@{roll_2}" selected>Roll mit Vorteil</option>
                <option value="@{roll_2_disadvantage}">Roll mit Nachteil</option>
                <option value="@{advantage_query}">Query for Vorteil/Nachteil</option>
                <option value="@{roll_1}">Rolle 1 sagt</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_roll_setting">
                <option value="@{roll_2}" selected>Jeter avec avantage</option>
                <option value="@{roll_2_disadvantage}">Jeter avec désavantage</option>
                <option value="@{advantage_query}">Demander pour le (dés)avantage</option>
                <option value="@{roll_1}">Faire un jet</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_roll_setting">
                <option value="@{roll_2}" selected>Roll with Advantage</option>
                <option value="@{roll_2_disadvantage}">Roll with Disadvantage</option>
                <option value="@{advantage_query}">Query for (dis)advantage</option>
                <option value="@{roll_1}">Roll 1 dice</option>
              </select>
            </span>
          </div>
        </div>
        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">{{'INITIATIVE' | translate}}:</div>
          <div class="col-50">
            <input type="hidden" name="attr_advantage_on_initiative" value="{{roll1=[[2d20kh1">
            <input type="hidden" name="attr_disadvantage_on_initiative" value="{{roll1=[[2d20kl1">
            <input type="hidden" name="attr_initiative_query" value="?{Advantage?|Normal Roll,{{roll1=[[d20|Advantage,{{roll1=[[2d20kh1|Disadvantage,{{roll1=[[2d20kl1}">
            <input type="hidden" name="attr_normal_initiative" value=" {{roll1=[[d20">
            <span class="en">
              <select name="attr_initiative_roll">
                <option value="@{advantage_on_initiative}">Roll with Advantage</option>
                <option value="@{disadvantage_on_initiative}">Roll with Disadvantage</option>
                <option value="@{initiative_query}">Query for (dis)advantage</option>
                <option value="@{normal_initiative}" selected>Roll 1 Roll</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_initiative_roll">
                <option value="@{advantage_on_initiative}">Roll mit Vorteil</option>
                <option value="@{disadvantage_on_initiative}">Roll mit Nachteil</option>
                <option value="@{initiative_query}">Query for Vorteil/Nachteil</option>
                <option value="@{normal_initiative}" selected>Rolle 1 sagt</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_initiative_roll">
                <option value="@{advantage_on_initiative}">Rouleau avec Advantage</option>
                <option value="@{disadvantage_on_initiative}">Rouleau avec Inconvénient</option>
                <option value="@{initiative_query}">Demander pour le (dés)avantage</option>
                <option value="@{normal_initiative}" selected>Faire un jet</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_initiative_roll">
                <option value="@{advantage_on_initiative}">Roll with Advantage</option>
                <option value="@{disadvantage_on_initiative}">Roll with Disadvantage</option>
                <option value="@{initiative_query}">Query for (dis)advantage</option>
                <option value="@{normal_initiative}" selected>Roll 1 Roll</option>
              </select>
            </span>
          </div>
        </div>
        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">{{'INITIATIVE_BREAK_TIES' | translate}}</div>
          <div class="col-50">
            <input type="hidden" name="attr_initiative_tie_breaker_var" value="[[@{initiative} / 100]][tie breaker]">
            <input type="checkbox" name="attr_initiative_tie_breaker" value="@{initiative_tie_breaker_var}">
          </div>
        </div>
        <div class="shaped-row mar-t-md">
          <div class="col-50">{{'INITIATIVE_ROLL' | translate}}</div>
          <div class="col-50">
            <input type="hidden" name="attr_initiative_to_tracker_yes" value="@{selected|initiative_formula} &{tracker}">
            <input type="hidden" name="attr_initiative_to_tracker_no" value="@{initiative_formula}">
          <span class="en">
            <select name="attr_initiative_to_tracker" class="mar-t-md">
              <option value="@{initiative_to_tracker_yes}" selected>Send to Tracker</option>
              <option value="@{initiative_to_tracker_no}">Don't</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_initiative_to_tracker" class="mar-t-md">
              <option value="@{initiative_to_tracker_yes}" selected>Schicken Tracker</option>
              <option value="@{initiative_to_tracker_no}">Nacht</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_initiative_to_tracker" class="mar-t-md">
              <option value="@{initiative_to_tracker_yes}" selected>Envoyer au "Turn Order"</option>
              <option value="@{initiative_to_tracker_no}">Ne pas envoyer</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_initiative_to_tracker" class="mar-t-md">
              <option value="@{initiative_to_tracker_yes}" selected>Добавлять в список</option>
              <option value="@{initiative_to_tracker_no}">Не добавлять</option>
            </select>
          </span>
          </div>
        </div>
        <div class="shaped-row mar-t-md">
          <div class="col-50">{{'SHOW_TARGET_AC_ON_ATTACKS' | translate}}</div>
          <div class="col-50">
            <input type="hidden" name="attr_attacks_vs_target_ac_no" value="">
            <input type="hidden" name="attr_attacks_vs_target_ac_yes" value="[[@{target|AC}]]">
          <span class="en">
            <select name="attr_attacks_vs_target_ac" class="mar-t-md">
              <option value="@{attacks_vs_target_ac_no}" selected>No</option>
              <option value="@{attacks_vs_target_ac_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_attacks_vs_target_ac" class="mar-t-md">
              <option value="@{attacks_vs_target_ac_no}" selected>Nein</option>
              <option value="@{attacks_vs_target_ac_yes}">Ja</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_attacks_vs_target_ac" class="mar-t-md">
              <option value="@{attacks_vs_target_ac_no}" selected>Non</option>
              <option value="@{attacks_vs_target_ac_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_attacks_vs_target_ac" class="mar-t-md">
              <option value="@{attacks_vs_target_ac_no}" selected>Нет</option>
              <option value="@{attacks_vs_target_ac_yes}">Да</option>
            </select>
          </span>
          </div>
        </div>
        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">{{'SHOW_TARGET_NAME_ON_ATTACKS' | translate}}</div>
          <div class="col-50">
            <input type="hidden" name="attr_attacks_vs_target_name_no" value="">
            <input type="hidden" name="attr_attacks_vs_target_name_yes" value="@{target|token_name}">
          <span class="en">
            <select name="attr_attacks_vs_target_name" class="mar-t-md">
              <option value="@{attacks_vs_target_name_no}" selected>No</option>
              <option value="@{attacks_vs_target_name_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_attacks_vs_target_name" class="mar-t-md">
              <option value="@{attacks_vs_target_name_no}" selected>Nein</option>
              <option value="@{attacks_vs_target_name_yes}">Ja</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_attacks_vs_target_name" class="mar-t-md">
              <option value="@{attacks_vs_target_name_no}" selected>Non</option>
              <option value="@{attacks_vs_target_name_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_attacks_vs_target_name" class="mar-t-md">
              <option value="@{attacks_vs_target_name_no}" selected>Нет</option>
              <option value="@{attacks_vs_target_name_yes}">Да</option>
            </select>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-box-title center">{{'OUTPUT' | translate}}</div>
  </div>

  <div class="wrap-box mar-b-smd">
    <div class="shaped-row">
      <div class="col-50 pad-r-md">
        <div class="shaped-row">
          <div class="col-25 wrap-box-label light-label center">{{'ABILITY' | translate}}</div>
          <div class="col-25 wrap-box-label light-label center">{{'ABILITY_SCORE_BONUS' | translate}}</div>
          <div class="col-25 wrap-box-label light-label center">{{'CHECK_BONUS' | translate}}</div>
          <div class="col-25 wrap-box-label light-label center">{{'SAVING_THROW_BONUS' | translate}}</div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.strength.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_strength_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_strength_check_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.dexterity.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_dexterity_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_dexterity_check_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.constitution.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_constitution_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_constitution_check_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.intelligence.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_intelligence_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_intelligence_check_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.wisdom.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_wisdom_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_wisdom_check_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.charisma.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_charisma_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_charisma_check_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ALL' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_global_ability_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="text" name="attr_global_check_bonus" class="center" value="0">
          </div>
          <div class="col-25">
            <input type="text" name="attr_global_saving_throw_bonus" class="center" value="0">
          </div>
        </div>

        <hr>

        <div class="col-30">
          <input type="text" name="attr_medium_armor_max_dex" value="2">

          <div class="small-label">{{'MEDIUM_ARMOR_MAX_DEX' | translate}}</div>
        </div>
      </div>
      <div class="col-25 pad-l-md">
        <div class="shaped-row">
          <div class="col-60">{{'INITIATIVE_BONUS' | translate}}</div>
          <div class="col-40">
            <input type="text" name="attr_initiative_bonus" class="center initiative-bonus" value="0">
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-box-title center">{{'BONUSES' | translate}}</div>
  </div>

  <div class="shaped-row">
    <div class="col-40 pad-r-sm">
      //= include bonuses.html
    </div>
    <div class="col-30 pad-l-sm pad-r-sm npc">
      //= include ../character/spellSlotAdjustments.html
    </div>
    <div class="col-30 pad-l-sm">
      <div class="wrap-box mar-b-smd">
        <div class="shaped-row vert-center">
          <div class="col-80">{{'COIN_CONVERSION_GP_PER_CP' | translate}}:</div>
          <div class="col-20">
            <input type="number" name="attr_copper_per_gold" value="100">
          </div>
        </div>
        <div class="shaped-row vert-center">
          <div class="col-80">{{'COIN_CONVERSION_GP_PER_SP' | translate}}:</div>
          <div class="col-20">
            <input type="number" name="attr_silver_per_gold" value="10">
          </div>
        </div>
        <div class="shaped-row vert-center">
          <div class="col-80">{{'COIN_CONVERSION_GP_PER_EP' | translate}}:</div>
          <div class="col-20">
            <input type="number" name="attr_electrum_per_gold" value="2">
          </div>
        </div>
        <div class="shaped-row vert-center">
          <div class="col-80">{{'COIN_CONVERSION_GP_PER_PP' | translate}}:</div>
          <div class="col-20">
            <input type="number" name="attr_platinum_per_gold" value="10">
          </div>
        </div>
        <div class="wrap-box-title center">{{'CUSTOM_GOLD_VALUES' | translate}}</div>
      </div>
    </div>
  </div>

  //= include attachers.html

  <div class="wrap-box mar-b-smd">
    <div>{{'HIDE_NPC_INFO_NOTE' | translate}}</div>

    <div class="shaped-row vert-center">
      <input type="hidden" name="attr_hide_gm_info" value="@{hide_saving_throw_dc} @{hide_spell_content} @{hide_action_freetext} @{hide_saving_throw_failure} @{hide_saving_throw_success} @{hide_recharge}">

      <div class="col-20 center">
        {{'HIDE_NPC_INFO_SAVING_THROW_DC' | translate}}
        <input type="hidden" name="attr_hide_saving_throw_dc_var" value="{{hide_saving_throw_dc=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_dc" value="@{hide_saving_throw_dc_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_SPELL_CONTENT' | translate}}
        <input type="hidden" name="attr_hide_spell_content_var" value="{{hide_spell_content=1}}">
        <input type="checkbox" name="attr_hide_spell_content" value="@{hide_spell_content_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_ACTION_FREETEXT' | translate}}
        <input type="hidden" name="attr_hide_action_freetext_var" value="{{hide_freetext=1}}">
        <input type="checkbox" name="attr_hide_action_freetext" value="@{hide_action_freetext_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_SAVING_THROW_FAILURE' | translate}}
        <input type="hidden" name="attr_hide_saving_throw_failure_var" value="{{hide_saving_throw_failure=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_failure" value="@{hide_saving_throw_failure_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_SAVING_THROW_SUCCESS' | translate}}
        <input type="hidden" name="attr_hide_saving_throw_success_var" value="{{hide_saving_throw_success=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_success" value="@{hide_saving_throw_success_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_RECHARGE' | translate}}
        <input type="hidden" name="attr_hide_recharge_var" value="{{hide_recharge=1}}">
        <input type="checkbox" name="attr_hide_recharge" value="@{hide_recharge_var}">
      </div>
    </div>
    <div class="wrap-box-title center">{{'HIDE_NPC_INFO' | translate}}</div>
  </div>

  //= include ../macros/macros.html
</div>
