<div class="section-settings">
  <div class="shaped-row mar-b-smd">
    <div class="pad-r-sm">
      <div class="wrap-box">
        <div class="shaped-row vert-center">
          <div class="center pad-l-sm pad-r-sm">
            <span class="en">
              <select name="attr_initiative_output_option">
                <option value="@{output_to_all}" selected>Public for all to see</option>
                <option value="@{output_to_gm}">Whispered to the GM</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_initiative_output_option">
                <option value="@{output_to_all}" selected>Öffentliche für alle zu sehen</option>
                <option value="@{output_to_gm}">Raunte der GM</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_initiative_output_option">
                <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
                <option value="@{output_to_gm}">Chuchoter au MJ</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_initiative_output_option">
                <option value="@{output_to_all}" selected>Всем в кампании</option>
                <option value="@{output_to_gm}">Только для ГМ</option>
              </select>
            </span>
            <div class="small-label">{{'OUTPUT' | translate}}</div>
          </div>
          <div class="center pad-l-sm pad-r-sm">
            <input type="hidden" name="attr_advantage_on_initiative" value="{{roll1=[[2d20kh1">
            <input type="hidden" name="attr_disadvantage_on_initiative" value="{{roll1=[[2d20kl1">
            <input type="hidden" name="attr_normal_initiative" value="{{roll1=[[d20">
            <span class="en">
              <select name="attr_initiative_roll">
                <option value="@{normal_initiative}">Roll normally</option>
                <option value="@{advantage_on_initiative}">Roll with Advantage</option>
                <option value="@{disadvantage_on_initiative}">Roll with Disadvantage</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_initiative_roll">
                <option value="@{normal_initiative}">Rollen normalerweise</option>
                <option value="@{advantage_on_initiative}">Roll mit Vorteil</option>
                <option value="@{disadvantage_on_initiative}">Roll mit Nachteil</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_initiative_roll">
                <option value="@{normal_initiative}">Jeter normalement</option>
                <option value="@{advantage_on_initiative}">Jeter avec avantage</option>
                <option value="@{disadvantage_on_initiative}">Jeter avec désavantage</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_initiative_roll">
                <option value="@{normal_initiative}">Roll normally</option>
                <option value="@{advantage_on_initiative}">Roll with Advantage</option>
                <option value="@{disadvantage_on_initiative}">Roll with Disadvantage</option>
              </select>
            </span>
            <div class="small-label">{{'ROLL_OPTIONS' | translate}}</div>
          </div>
          <div class="center pad-l-sm pad-r-sm">
            <input type="hidden" name="attr_initiative_to_tracker_yes" value="@{selected|initiative_formula} &{tracker}">
            <input type="hidden" name="attr_initiative_to_tracker_no" value="@{initiative_formula}">
            <span class="en">
              <select name="attr_initiative_to_tracker">
                <option value="@{initiative_to_tracker_yes}" selected>Send to Tracker</option>
                <option value="@{initiative_to_tracker_no}">Don't</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_initiative_to_tracker">
                <option value="@{initiative_to_tracker_yes}" selected>Schicken Tracker</option>
                <option value="@{initiative_to_tracker_no}">Nacht</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_initiative_to_tracker">
                <option value="@{initiative_to_tracker_yes}" selected>Envoyer au "Turn Order"</option>
                <option value="@{initiative_to_tracker_no}">Ne pas envoyer</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_initiative_to_tracker">
                <option value="@{initiative_to_tracker_yes}" selected>Добавлять в список</option>
                <option value="@{initiative_to_tracker_no}">Не добавлять</option>
              </select>
            </span>
            <div class="small-label">{{'TRACKER' | translate}}</div>
          </div>
          <div class="center pad-l-sm pad-r-sm">
            <input type="hidden" name="attr_initiative_tie_breaker_var" value="[[@{initiative} / 100]][tie breaker]">
            <input type="checkbox" name="attr_initiative_tie_breaker" value="@{initiative_tie_breaker_var}">
            <div class="small-label">{{'BREAK_TIES' | translate}}</div>
          </div>
        </div>
        <div class="wrap-box-title center">{{'INITIATIVE' | translate}}</div>
      </div>
    </div>
    <div class="pad-l-sm">
      <div class="wrap-box">
        <div class="shaped-row vert-center">
          <div class="center pad-r-sm">
            <input type="hidden" name="attr_output_to_all" value="">
            <input type="hidden" name="attr_output_to_gm" value="/w GM">
            <span class="en">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Public for all to see</option>
                <option value="@{output_to_gm}">Whispered to the GM</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Öffentliche für alle zu sehen</option>
                <option value="@{output_to_gm}">Raunte der GM</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
                <option value="@{output_to_gm}">Chuchotés au MJ</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Всем в кампании</option>
                <option value="@{output_to_gm}">Только для ГМ</option>
              </select>
            </span>
            <div class="small-label">{{'OUTPUT_SHEET' | translate}}</div>
          </div>
          <div class="center pad-l-sm pad-r-sm">
            <span class="en">
              <select name="attr_death_save_output_option">
                <option value="@{output_to_all}" selected>Public for all to see</option>
                <option value="@{output_to_gm}">Whispered to the GM</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_death_save_output_option">
                <option value="@{output_to_all}" selected>Öffentliche für alle zu sehen</option>
                <option value="@{output_to_gm}">Raunte der GM</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_death_save_output_option">
                <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
                <option value="@{output_to_gm}">Chuchoter au MJ</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_death_save_output_option">
                <option value="@{output_to_all}" selected>Всем в кампании</option>
                <option value="@{output_to_gm}">Только для ГМ</option>
              </select>
            </span>
            <div class="small-label">{{'OUTPUT_DEATH_SAVING_THROWS' | translate}}</div>
          </div>
          <div class="center pad-l-sm">
            <input type="hidden" name="attr_preroll">
            <input type="hidden" name="attr_postroll">
            <input type="hidden" name="attr_roll_2" value="{{roll2=[[d20">
            <input type="hidden" name="attr_roll_advantage" value="{{ignore=">
            <input type="hidden" name="attr_roll_disadvantage" value="{{ignore=">
            <input type="hidden" name="attr_roll_1" value="{{ignore=">
            <input type="radio" name="attr_roll_setting" class="toggle-roll-two" value="@{roll_2}"><span class="toggle-roll-two button">{{'ROLL_2' | translate}}</span>
            <div class="small-label">{{'ROLL_OPTIONS' | translate}}</div>
          </div>
        </div>

        <div class="wrap-box-title center">{{'OUTPUT' | translate}}</div>
      </div>
    </div>
  </div>

  <div class="shaped-row mar-b-smd">
    <div class="pad-r-sm">
      <div class="wrap-box">
        <div class="center mar-b-smd">
          <input type="hidden" name="attr_show_character_name_no" value="">
          <input type="hidden" name="attr_show_character_name_yes" value="{{show_character_name=1}}">
          <span class="en">
            <select name="attr_show_character_name">
              <option value="@{show_character_name_no}" selected>No</option>
              <option value="@{show_character_name_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_show_character_name">
              <option value="@{show_character_name_no}" selected>Nein</option>
              <option value="@{show_character_name_yes}">Ja</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_show_character_name">
              <option value="@{show_character_name_no}" selected>Non</option>
              <option value="@{show_character_name_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_show_character_name">
              <option value="@{show_character_name_no}" selected>Нет</option>
              <option value="@{show_character_name_yes}">Да</option>
            </select>
          </span>
          <div class="small-label">{{'CHARACTER_NAME_ON_ROLL_TEMPLATES' | translate}}</div>
        </div>
        <div class="center mar-b-smd">
          <input type="hidden" name="attr_attacks_vs_target_ac_no" value="">
          <input type="hidden" name="attr_attacks_vs_target_ac_yes" value="[[@{target|AC}]]">
          <span class="en">
            <select name="attr_attacks_vs_target_ac">
              <option value="@{attacks_vs_target_ac_no}" selected>No</option>
              <option value="@{attacks_vs_target_ac_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_attacks_vs_target_ac">
              <option value="@{attacks_vs_target_ac_no}" selected>Nein</option>
              <option value="@{attacks_vs_target_ac_yes}">Ja</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_attacks_vs_target_ac">
              <option value="@{attacks_vs_target_ac_no}" selected>Non</option>
              <option value="@{attacks_vs_target_ac_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_attacks_vs_target_ac">
              <option value="@{attacks_vs_target_ac_no}" selected>Нет</option>
              <option value="@{attacks_vs_target_ac_yes}">Да</option>
            </select>
          </span>
          <div class="small-label">{{'SHOW_TARGET_AC_ON_ATTACKS' | translate}}</div>
        </div>
        <div class="center mar-b-smd">
          <input type="hidden" name="attr_attacks_vs_target_name_no" value="">
          <input type="hidden" name="attr_attacks_vs_target_name_yes" value="@{target|token_name}">
          <span class="en">
            <select name="attr_attacks_vs_target_name">
              <option value="@{attacks_vs_target_name_no}" selected>No</option>
              <option value="@{attacks_vs_target_name_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_attacks_vs_target_name">
              <option value="@{attacks_vs_target_name_no}" selected>Nein</option>
              <option value="@{attacks_vs_target_name_yes}">Ja</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_attacks_vs_target_name">
              <option value="@{attacks_vs_target_name_no}" selected>Non</option>
              <option value="@{attacks_vs_target_name_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_attacks_vs_target_name">
              <option value="@{attacks_vs_target_name_no}" selected>Нет</option>
              <option value="@{attacks_vs_target_name_yes}">Да</option>
            </select>
          </span>
          <div class="small-label">{{'SHOW_TARGET_NAME_ON_ATTACKS' | translate}}</div>
        </div>
        <div class="wrap-box-title center">{{'ROLL_TEMPLATE' | translate}}</div>
      </div>
    </div>
    <div class="pad-l-sm pad-r-sm">
      <div class="wrap-box center">
        <div class="center pad-l-sm pad-r-sm">
          <input type="checkbox" name="attr_saving_throws_half_proficiency">
          <div class="small-label">{{'ADD_HALF_PROFICIENCY_TO_UNPROFICIENT_SAVING_THROWS' | translate}}</div>
        </div>
        <div>
          <input type="number" name="attr_medium_armor_max_dex" value="2">
          <div class="small-label center">{{'MEDIUM_ARMOR_MAX_DEX' | translate}}</div>
        </div>
        <div class="wrap-box-title center">{{'HOUSERULES' | translate}}</div>
      </div>
    </div>
    <div class="col-22 pad-l-sm pad-r-sm">
      <div class="wrap-box mar-b-smd">
        <div class="shaped-row vert-center">
          <div class="col-75">{{'COIN_CONVERSION_GP_PER_CP' | translate}}:</div>
          <div class="col-25">
            <input type="number" name="attr_copper_per_gold" value="100">
          </div>
        </div>
        <div class="shaped-row vert-center">
          <div class="col-75">{{'COIN_CONVERSION_GP_PER_SP' | translate}}:</div>
          <div class="col-25">
            <input type="number" name="attr_silver_per_gold" value="10">
          </div>
        </div>
        <div class="shaped-row vert-center">
          <div class="col-75">{{'COIN_CONVERSION_GP_PER_EP' | translate}}:</div>
          <div class="col-25">
            <input type="number" name="attr_electrum_per_gold" value="2">
          </div>
        </div>
        <div class="shaped-row vert-center">
          <div class="col-75">{{'COIN_CONVERSION_GP_PER_PP' | translate}}:</div>
          <div class="col-25">
            <input type="number" name="attr_platinum_per_gold" value="10">
          </div>
        </div>
        <div class="wrap-box-title center">{{'CUSTOM_GOLD_VALUES' | translate}}</div>
      </div>
    </div>
    <div class="pad-l-sm">
      <div class="wrap-box center relative">
        <div class="tooltip-position-wrapper">
          <div class="tooltip">
            <div class="tooltip-toggle-text center">A</div>
            <div class="tooltip-content-left small-label">{{'REQUIRES_API' | translate}}</div>
          </div>
        </div>
        <div class="center">
          <input type="hidden" name="attr_ammo_auto_use_var" value="1">
          <input type="checkbox" name="attr_ammo_auto_use" value="@{ammo_auto_use_var}">
          <div class="small-label">{{'AMMO_AUTO_USE' | translate}}</div>
        </div>
        <div class="wrap-box-title center">{{'AMMO' | translate}}</div>
      </div>
    </div>
  </div>

  <div class="shaped-row">
    <div class="col-40 pad-r-sm">
      //= include bonuses.html
    </div>
  </div>

  //= include attachers.html

  <div class="wrap-box mar-b-smd">
    <div>{{'HIDE_NPC_INFO_NOTE' | translate}}</div>

    <div class="shaped-row vert-center">
      <input type="hidden" name="attr_hide_gm_info" value="@{hide_attack} @{hide_damage} @{hide_saving_throw_dc} @{hide_spell_content} @{hide_action_freetext} @{hide_saving_throw_failure} @{hide_saving_throw_success} @{hide_recharge}">

      <div class="col-20 center">
        {{'HIDE_NPC_INFO_ATTACK' | translate}}
        <input type="hidden" name="attr_hide_attack_var" value="{{hide_attack=1}}">
        <input type="checkbox" name="attr_hide_attack" value="@{hide_attack_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_DAMAGE' | translate}}
        <input type="hidden" name="attr_hide_damage_var" value="{{hide_damage=1}}">
        <input type="checkbox" name="attr_hide_damage" value="@{hide_damage_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_SAVING_THROW_DC' | translate}}
        <input type="hidden" name="attr_hide_saving_throw_dc_var" value="{{hide_saving_throw_dc=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_dc" value="@{hide_saving_throw_dc_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_SPELL_CONTENT' | translate}}
        <input type="hidden" name="attr_hide_spell_content_var" value="{{hide_spell_content=1}}">
        <input type="checkbox" name="attr_hide_spell_content" value="@{hide_spell_content_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_ACTION_FREETEXT' | translate}}
        <input type="hidden" name="attr_hide_action_freetext_var" value="{{hide_freetext=1}}">
        <input type="checkbox" name="attr_hide_action_freetext" value="@{hide_action_freetext_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_SAVING_THROW_FAILURE' | translate}}
        <input type="hidden" name="attr_hide_saving_throw_failure_var" value="{{hide_saving_throw_failure=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_failure" value="@{hide_saving_throw_failure_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_SAVING_THROW_SUCCESS' | translate}}
        <input type="hidden" name="attr_hide_saving_throw_success_var" value="{{hide_saving_throw_success=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_success" value="@{hide_saving_throw_success_var}">
      </div>
      <div class="col-20 center">
        {{'HIDE_NPC_INFO_RECHARGE' | translate}}
        <input type="hidden" name="attr_hide_recharge_var" value="{{hide_recharge=1}}">
        <input type="checkbox" name="attr_hide_recharge" value="@{hide_recharge_var}">
      </div>
    </div>
    <div class="wrap-box-title center">{{'HIDE_NPC_INFO' | translate}}</div>
  </div>

  //= include ../macros/macros.html
</div>
