$black: #0a0a0a;
$white: #fff;
$bottomlabel: grey;
$pipoutline: #ccc;
$darkgrey: darkgrey;
$rulelines: tan;
$darklines: darken($rulelines,30%);
$font-size-large: 1rem;
$font-size-medium: 0.9rem;
$font-size-small: 0.7rem;
$font-size-smallest: 0.6rem;

@mixin input-cell {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
}

.sheet-hex {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 512px;
    min-width: 512px;

    button[type="roll"] {
        border: 1px solid $darkgrey;
        border-radius: 0;
        display: inline-block;
        font-size: $font-size-small;
        width: 100%;

        &.sheet-roll-button {
            width: 1.6rem;
        }
    }

    a {
        cursor: pointer;

        &:hover {
            color: rosybrown;
            text-decoration: none;
        }
    }

    h1 {
        background-color: $darklines;
        color: $white;
        font-size: $font-size-large;
        line-height: 1.4rem;
        padding: 0 0 0.1rem 0.3rem;
    }

    .repcontainer {
        margin: 0 0 0.5rem 0;
    }

    .repcontrol {
        button {
            &.btn {
                &.repcontrol_add,
                &.repcontrol_edit {
                    border: 1px solid $darkgrey;
                    border-radius: 0;
                    font-size: $font-size-small;
                    padding: 0.2rem 0.6rem;
                }
            }
        }
    }

    .sheet-2colrow {
        font-size: 0;

        .sheet-col {
            &.sheet-primary {
                width: 79%;
            }

            &.sheet-sidebar {
                width: 15%;
            }

            &.sheet-collapse-margin {
                margin-right: 0;
                width: 50%;
            }

            &.sheet-encumbrance {
                width: 34%;

                .sheet-field {
                    display: inline-block;
                    width: 4rem;
                }
            }

            &.sheet-languages-money {
                margin-right: 1rem;
                width: 62%;

                textarea {
                    border-top: none;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    height: 3.5rem;
                    width: 96%;

                    &.sheet-money {
                        height: 3rem;
                    }
                }
            }
        }
    }

    .sheet-attr-input-label {
        border-bottom: 1px solid $rulelines;
        font-size: $font-size-medium;
        font-weight: normal;
        margin: 0.3rem 0 0.3rem 0;
        padding: 0 0 0.3rem 0;
    }

    .sheet-side-input-label {
        @extend .sheet-attr-input-label;
        
        padding: 0 0 0.5rem 0;

        .sheet-side-heading {
            display:block;
            font-size:$font-size-large;
            margin:0 0 0.2rem 0;
        }
    }

    .sheet-top-input-label {
        display: inline;
        font-size: $font-size-large;
        font-weight: bold;
        margin: 0.3rem 1rem 0.3rem 0;
        padding: 0 0 0.3rem 0;

        &.sheet-collapse-margin {
            margin-right: 0;
        }
    }

    input[type="text"],
    input[type="number"] {
        border-radius: 0;
        box-shadow: none;
        color: $black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        &.sheet-free-input {
            border: none;
            border-bottom: 1px solid $rulelines;
            font-size: $font-size-medium;
            margin: 0.2rem 0 0 0;
            width: 100%;

            &.small {
                font-size: $font-size-small;
            }

            & + span {
                color: $bottomlabel;
                font-size: $font-size-small;
                font-style: italic;
                margin: 0 0 0 0.4rem;
            }
        }

        &.sheet-skill-input {
            @extend .sheet-free-input;
            display: inline;
        }
    }

    .sheet-footnote {
        color: $bottomlabel;
        font-size: $font-size-small;
        font-style: italic;
    }

    .sheet-paren {
        font-weight: normal;
    }

    .sheet-attr-input-text {
        width: 2rem;
    }

    .sheet-wide-input-text {
        width: 2.4rem;
    }

    .sheet-widest-input-text {
        width: 3rem;
    }

    .sheet-sub-label {
        font-size: $font-size-smallest;
    }

    .sheet-heading-with-columns {
        position: relative;

        .sheet-column-headings {
            display: block;
            position: absolute;
            top: 0.1rem;
            width: 100%;

            div {
                color: $white;
                font-size: $font-size-small;
                font-weight: normal;

                &.sheet-skill-name,
                &.sheet-skill-base,
                &.sheet-skill-levels,
                &.sheet-skill-rating,
                &.sheet-skill-avg,
                &.sheet-skill-roll {
                    display: inline-block;
                    text-align: left;
                }
            }
        }
    }

    .sheet-skill-row-1 {
        margin: 0 0 0.5rem 0;
    }

    .sheet-skill-name {
        @include input-cell;
        width: 50%;
    }

    .sheet-skill-base,
    .sheet-skill-levels,
    .sheet-skill-rating,
    .sheet-skill-avg {
        @include input-cell;
        width: 10%;
    }

    .sheet-skill-roll,
    .sheet-weapon-roll {
        @include input-cell;
        width: 8%;
    }

    .sheet-weapons {

        .sheet-weapon-row-1 {
            display: block;
        }

        .sheet-weapon-row-2 {
            border-bottom: 1px dashed $darkgrey;
            display: block;
            margin: 0 0 0.5rem 0;
            padding: 0 0 0.5rem 0;
            position: relative;
        }
    }

    .sheet-weapon-isranged {
        position: absolute;
        top: -1rem;
        left: 0.6rem;

        + span {
            color: $bottomlabel;
            font-size: $font-size-small;
            font-style: italic;
            position: absolute;
            left: 1.6rem;
            top: -1.1rem;
        }

        ~ .sheet-ranged-stats {
            display: none;
        }

        &:checked {
            ~ .sheet-ranged-stats {
                display: block;
            }
        }
    }

    .sheet-ranged-stats {
        width: 100%;
    }

    .sheet-weapon-name {
        @include input-cell;
        width: 50%;
    }

    .sheet-weapon-dmg,
    .sheet-weapon-attack,
    .sheet-weapon-range,
    .sheet-weapon-capacity {
        @include input-cell;
        width: 12%;
    }

    .sheet-weapon-ammo,
    .sheet-weapon-avg {
        @include input-cell;
        width: 10%;
    }

    .sheet-weapon-mod,
    .sheet-weapon-rate,
    .sheet-weapon-speed {
        @include input-cell;
        width: 8%;
    }

    .sheet-weapon-notes {
        @include input-cell;
        width: 42%;
    }

    .sheet-equip-item {
        display: inline-block;
        padding: 0 0.1rem;
        width: 70%;
    }

    .sheet-equip-num {
        display: inline-block;
        padding: 0 0.1rem;
        width: 10%;
    }

    .sheet-equip-weight {
        display: inline-block;
        padding: 0 0.1rem;
        width: 17%;
    }

    .sheet-bottom-separator {
        margin-bottom: 1rem;
    }

    .sheet-left-separator {
        margin-left: 1rem;
    }

    .sheet-top-separator {
        margin-top: 1rem;
    }

    .sheet-subtext {
        font-size: $font-size-small;
    }

    .sheet-health-meter {
        border-bottom: 1px solid $rulelines;
        padding: 0 0 0.5rem 0;

        th {
            font-size: $font-size-large;
            font-weight: normal;
            padding: 0 0 0.2rem 0;
            text-align: left;
            width: 25%;
        }

        td {
            font-size: $font-size-large;
            text-align: right;

            &:first-child {
                padding: 0.1rem 0.4rem 0.1rem 0;
                width: 33%;
            }
        }

        p {
            border-bottom: 1px solid $bottomlabel;
            font-size: $font-size-small;
            margin: 0.4rem 0 0 0.4rem;
            padding: 0 0 0.3rem 0;

            span.sheet-large-icon {
                font-size: $font-size-large;
            }
        }

        div.sheet-pip-circle {
            border: 1px solid $pipoutline;
            border-radius: 10px;
            width: 20px;
            height: 20px;
            position: relative;
        }

        input.sheet-pip-circle {
            height: 18px;
            left: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            width: 18px;
            z-index: 1;

            &.sheet-healthy-pip {
                z-index: 2;
            }
        }

        span.sheet-pip-circle {
            margin: 0;
            display: none;
        }

        input.sheet-healthy-pip:checked + input.sheet-l-pip,
        input.sheet-l-pip:checked + input.sheet-nl-pip {
            z-index: 3;
        }

        input.sheet-healthy-pip:checked ~ span.sheet-l-pip,
        input.sheet-l-pip:checked ~ span.sheet-nl-pip,
        input.sheet-nl-pip:checked ~ span.sheet-healthy-pip {
            display: inline-block;
        }

        @mixin pip {
            border-radius: 8px;
            height: 32px;
            position: absolute;
            width: 32px;
            font-size: 1.3rem;
            top: 0;
        }

        .sheet-healthy-pip {
            @include pip;
        }

        .sheet-nl-pip {
            @include pip;
            left: -12px;
        }

        .sheet-l-pip {
            @include pip;
            left: -12px;
        }
    }
}
