.sheet-hex {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 512px;
  min-width: 512px; }
  .sheet-hex button[type="roll"] {
    border: 1px solid darkgrey;
    border-radius: 0;
    display: inline-block;
    font-size: 0.7rem;
    width: 100%; }
    .sheet-hex button[type="roll"].sheet-roll-button {
      width: 1.6rem; }
  .sheet-hex a {
    cursor: pointer; }
    .sheet-hex a:hover {
      color: rosybrown;
      text-decoration: none; }
  .sheet-hex h1 {
    background-color: #8e6937;
    color: #fff;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 0 0.1rem 0.3rem; }
  .sheet-hex .repcontainer {
    margin: 0 0 0.5rem 0; }
  .sheet-hex .repcontrol button.btn.repcontrol_add, .sheet-hex .repcontrol button.btn.repcontrol_edit {
    border: 1px solid darkgrey;
    border-radius: 0;
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem; }
  .sheet-hex .sheet-2colrow {
    font-size: 0; }
    .sheet-hex .sheet-2colrow .sheet-col.sheet-primary {
      width: 79%; }
    .sheet-hex .sheet-2colrow .sheet-col.sheet-sidebar {
      width: 15%; }
    .sheet-hex .sheet-2colrow .sheet-col.sheet-collapse-margin {
      margin-right: 0;
      width: 50%; }
    .sheet-hex .sheet-2colrow .sheet-col.sheet-encumbrance {
      width: 34%; }
      .sheet-hex .sheet-2colrow .sheet-col.sheet-encumbrance .sheet-field {
        display: inline-block;
        width: 4rem; }
    .sheet-hex .sheet-2colrow .sheet-col.sheet-languages-money {
      margin-right: 1rem;
      width: 62%; }
      .sheet-hex .sheet-2colrow .sheet-col.sheet-languages-money textarea {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 3.5rem;
        width: 96%; }
        .sheet-hex .sheet-2colrow .sheet-col.sheet-languages-money textarea.sheet-money {
          height: 3rem; }
  .sheet-hex .sheet-attr-input-label, .sheet-hex .sheet-side-input-label {
    border-bottom: 1px solid tan;
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0.3rem 0 0.3rem 0;
    padding: 0 0 0.3rem 0; }
  .sheet-hex .sheet-side-input-label {
    padding: 0 0 0.5rem 0; }
    .sheet-hex .sheet-side-input-label .sheet-side-heading {
      display: block;
      font-size: 1rem;
      margin: 0 0 0.2rem 0; }
  .sheet-hex .sheet-top-input-label {
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3rem 1rem 0.3rem 0;
    padding: 0 0 0.3rem 0; }
    .sheet-hex .sheet-top-input-label.sheet-collapse-margin {
      margin-right: 0; }
  .sheet-hex input[type="text"],
  .sheet-hex input[type="number"] {
    border-radius: 0;
    box-shadow: none;
    color: #0a0a0a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
    .sheet-hex input[type="text"].sheet-free-input, .sheet-hex input[type="text"].sheet-skill-input,
    .sheet-hex input[type="number"].sheet-free-input,
    .sheet-hex input[type="number"].sheet-skill-input {
      border: none;
      border-bottom: 1px solid tan;
      font-size: 0.9rem;
      margin: 0.2rem 0 0 0;
      width: 100%; }
      .sheet-hex input[type="text"].sheet-free-input.small, .sheet-hex input[type="text"].small.sheet-skill-input,
      .sheet-hex input[type="number"].sheet-free-input.small,
      .sheet-hex input[type="number"].small.sheet-skill-input {
        font-size: 0.7rem; }
      .sheet-hex input[type="text"].sheet-free-input + span, .sheet-hex input[type="text"].sheet-skill-input + span,
      .sheet-hex input[type="number"].sheet-free-input + span,
      .sheet-hex input[type="number"].sheet-skill-input + span {
        color: grey;
        font-size: 0.7rem;
        font-style: italic;
        margin: 0 0 0 0.4rem; }
    .sheet-hex input[type="text"].sheet-skill-input,
    .sheet-hex input[type="number"].sheet-skill-input {
      display: inline; }
  .sheet-hex .sheet-footnote {
    color: grey;
    font-size: 0.7rem;
    font-style: italic; }
  .sheet-hex .sheet-paren {
    font-weight: normal; }
  .sheet-hex .sheet-attr-input-text {
    width: 2rem; }
  .sheet-hex .sheet-wide-input-text {
    width: 2.4rem; }
  .sheet-hex .sheet-widest-input-text {
    width: 3rem; }
  .sheet-hex .sheet-sub-label {
    font-size: 0.6rem; }
  .sheet-hex .sheet-heading-with-columns {
    position: relative; }
    .sheet-hex .sheet-heading-with-columns .sheet-column-headings {
      display: block;
      position: absolute;
      top: 0.1rem;
      width: 100%; }
      .sheet-hex .sheet-heading-with-columns .sheet-column-headings div {
        color: #fff;
        font-size: 0.7rem;
        font-weight: normal; }
        .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-name, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-base, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-levels, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-rating, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-avg, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-roll {
          display: inline-block;
          text-align: left; }
  .sheet-hex .sheet-skill-row-1 {
    margin: 0 0 0.5rem 0; }
  .sheet-hex .sheet-skill-name {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
    width: 50%; }
  .sheet-hex .sheet-skill-base,
  .sheet-hex .sheet-skill-levels,
  .sheet-hex .sheet-skill-rating,
  .sheet-hex .sheet-skill-avg {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
    width: 10%; }
  .sheet-hex .sheet-skill-roll,
  .sheet-hex .sheet-weapon-roll {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
    width: 8%; }
  .sheet-hex .sheet-weapons .sheet-weapon-row-1 {
    display: block; }
  .sheet-hex .sheet-weapons .sheet-weapon-row-2 {
    border-bottom: 1px dashed darkgrey;
    display: block;
    margin: 0 0 0.5rem 0;
    padding: 0 0 0.5rem 0;
    position: relative; }
  .sheet-hex .sheet-weapon-isranged {
    position: absolute;
    top: -1rem;
    left: 0.6rem; }
    .sheet-hex .sheet-weapon-isranged + span {
      color: grey;
      font-size: 0.7rem;
      font-style: italic;
      position: absolute;
      left: 1.6rem;
      top: -1.1rem; }
    .sheet-hex .sheet-weapon-isranged ~ .sheet-ranged-stats {
      display: none; }
    .sheet-hex .sheet-weapon-isranged:checked ~ .sheet-ranged-stats {
      display: block; }
  .sheet-hex .sheet-ranged-stats {
    width: 100%; }
  .sheet-hex .sheet-weapon-name {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
    width: 50%; }
  .sheet-hex .sheet-weapon-dmg,
  .sheet-hex .sheet-weapon-attack,
  .sheet-hex .sheet-weapon-range,
  .sheet-hex .sheet-weapon-capacity {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
    width: 12%; }
  .sheet-hex .sheet-weapon-ammo,
  .sheet-hex .sheet-weapon-avg {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
    width: 10%; }
  .sheet-hex .sheet-weapon-mod,
  .sheet-hex .sheet-weapon-rate,
  .sheet-hex .sheet-weapon-speed {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
    width: 8%; }
  .sheet-hex .sheet-weapon-notes {
    display: table-cell;
    text-align: left;
    padding: 0 0.1rem;
    width: 42%; }
  .sheet-hex .sheet-equip-item {
    display: inline-block;
    padding: 0 0.1rem;
    width: 70%; }
  .sheet-hex .sheet-equip-num {
    display: inline-block;
    padding: 0 0.1rem;
    width: 10%; }
  .sheet-hex .sheet-equip-weight {
    display: inline-block;
    padding: 0 0.1rem;
    width: 17%; }
  .sheet-hex .sheet-bottom-separator {
    margin-bottom: 1rem; }
  .sheet-hex .sheet-left-separator {
    margin-left: 1rem; }
  .sheet-hex .sheet-top-separator {
    margin-top: 1rem; }
  .sheet-hex .sheet-subtext {
    font-size: 0.7rem; }
  .sheet-hex .sheet-health-meter {
    border-bottom: 1px solid tan;
    padding: 0 0 0.5rem 0; }
    .sheet-hex .sheet-health-meter th {
      font-size: 1rem;
      font-weight: normal;
      padding: 0 0 0.2rem 0;
      text-align: left;
      width: 25%; }
    .sheet-hex .sheet-health-meter td {
      font-size: 1rem;
      text-align: right; }
      .sheet-hex .sheet-health-meter td:first-child {
        padding: 0.1rem 0.4rem 0.1rem 0;
        width: 33%; }
    .sheet-hex .sheet-health-meter p {
      border-bottom: 1px solid grey;
      font-size: 0.7rem;
      margin: 0.4rem 0 0 0.4rem;
      padding: 0 0 0.3rem 0; }
      .sheet-hex .sheet-health-meter p span.sheet-large-icon {
        font-size: 1rem; }
    .sheet-hex .sheet-health-meter div.sheet-pip-circle {
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 20px;
      height: 20px;
      position: relative; }
    .sheet-hex .sheet-health-meter input.sheet-pip-circle {
      height: 18px;
      left: 0;
      margin: 0;
      opacity: 0;
      position: absolute;
      width: 18px;
      z-index: 1; }
      .sheet-hex .sheet-health-meter input.sheet-pip-circle.sheet-healthy-pip {
        z-index: 2; }
    .sheet-hex .sheet-health-meter span.sheet-pip-circle {
      margin: 0;
      display: none; }
    .sheet-hex .sheet-health-meter input.sheet-healthy-pip:checked + input.sheet-l-pip,
    .sheet-hex .sheet-health-meter input.sheet-l-pip:checked + input.sheet-nl-pip {
      z-index: 3; }
    .sheet-hex .sheet-health-meter input.sheet-healthy-pip:checked ~ span.sheet-l-pip,
    .sheet-hex .sheet-health-meter input.sheet-l-pip:checked ~ span.sheet-nl-pip,
    .sheet-hex .sheet-health-meter input.sheet-nl-pip:checked ~ span.sheet-healthy-pip {
      display: inline-block; }
    .sheet-hex .sheet-health-meter .sheet-healthy-pip {
      border-radius: 8px;
      height: 32px;
      position: absolute;
      width: 32px;
      font-size: 1.3rem;
      top: 0; }
    .sheet-hex .sheet-health-meter .sheet-nl-pip {
      border-radius: 8px;
      height: 32px;
      position: absolute;
      width: 32px;
      font-size: 1.3rem;
      top: 0;
      left: -12px; }
    .sheet-hex .sheet-health-meter .sheet-l-pip {
      border-radius: 8px;
      height: 32px;
      position: absolute;
      width: 32px;
      font-size: 1.3rem;
      top: 0;
      left: -12px; }

