.sheet-macro-show:not(:checked)~.sheet-macro {
    display:none;
}

input[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    content: "►";
    width: 10px;
    height: 10px;
    font-size: 10px;
}
input[type="checkbox"]:checked + span::before
{
    content: "▼";
}

hr {
    border-color:black;
}

.sheet-table {
    display:table;
    width:100%;
}

.sheet-table-row {
    display:table-row;
    vertical-align:middle;
    width:100%;
}

.sheet-table-header {
    display:table-cell;
    text-align:center;
    font-weight:bold;
    vertical-align:bottom;
}

.sheet-table-data {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

input[type="text"], select {
    width:100%;
    margin:0;
}

textarea {
    width:95%;
}

/* Fake tabs style1 (reskinned radio button; fixed to work properly in firefox */
div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab11:checked ~ div.sheet-tab11,
input.sheet-tab12:checked ~ div.sheet-tab12,
input.sheet-tab13:checked ~ div.sheet-tab13,
input.sheet-tab99:checked ~ div.sheet-tab99 {
    display: block;
}

input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab11:checked ~ span.sheet-tab11,
input.sheet-tab12:checked ~ span.sheet-tab12,
input.sheet-tab13:checked ~ span.sheet-tab13,
input.sheet-tab99:checked ~ span.sheet-tab99 {
    background: rgba(243,112,36,0.5);
    color: black;
}

input.sheet-tab {
    width: 263px;
    height: 24px;
    position: relative;
    top: 8px;
    left: 6px;
    margin: 2.4px;
    cursor: pointer;
	opacity: 0;
    z-index: 9999;
}
span.sheet-tab {
	text-align: center;
	display: inline-block;
	font-size: 13px;
	background: white;
	color: black;
	font-weight: bold;
	width: 259px;
	height: 20px;
	position: relative;
    margin-left: -263.4px;
	 margin-top: 4px;
}

input.sheet-tab11, input.sheet-tab12, input.sheet-tab13, input.sheet-tab99 {
	width: 124px;
}

span.sheet-tab11, span.sheet-tab12, span.sheet-tab13, span.sheet-tab99 {
    width: 120px;
	 margin-left: -124.4px;
}

input.sheet-tab::before {
    content: attr(title);

    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    
    width: 240px;
    height: 20px;
    font-size: 18px;
}

input.sheet-tab:checked::before {
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child)::before { border-left: none; }

div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}

/* tabs style2 (with span) works even in firefox */
.sheet-character-sheet,
.sheet-expand {
    display: none;
    padding: 3px;
}

.sheet-expand:checked ~ .sheet-show {
    display: block;
    background-color: white;
    margin: 1px 0px 0px -2px;
}

.sheet-tab {
    display: inline-block;
    text-align: center;
    margin: -2px;
    padding: 2px;
    width: 124px;
    height: 24px;
    background-color: gray;
    border-top-left-radius: 1em 3em;
    border-top-right-radius: 1em 3em;
    border: solid thin gray;
    border-bottom: none;
}

.sheet-expand:checked ~ .sheet-tab { background-color: white; }
//span { display: inline; }
//span, span div { font-size: 12px;    font-weight: normal; }
textarea { height: auto;	color: black; }
input {	color: black; }
input, select { width:100%; }

.sheet-small-label1 select {
    display: inline-block;
    margin-top: 10px;
    width: 110px;
    border: 1px;
}

.sheet-section-abilities, 
.sheet-section-skills, 
.sheet-section-offense,
.sheet-section-defenses,
.sheet-section-complications,
.sheet-section-powers,
.sheet-section-advantages,
.sheet-section-equipment,
.sheet-section-details,
.sheet-section-points,
.sheet-section-modifiers,
.sheet-section-import,
.sheet-section-options {
background: rgba(243,112,36,0.5);
}

div.sheet-mnm-footer {
    background-color: rgba(243,112,36,1);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7332+0,ff7332+100&0.01+1,1+75 */
background-image: -moz-linear-gradient(left,  rgba(243,112,36,0.01) 0%, rgba(243,112,36,0.01) 10%, rgba(243,112,36,1) 95%, rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* FF3.6-15 */
background-image: -webkit-linear-gradient(left,  rgba(243,112,36,0.01) 0%,rgba(243,112,36,0.01) 10%,rgba(243,112,36,1) 95%,rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* Chrome10-25,Safari5.1-6 */
background-image: linear-gradient(to right,  rgba(243,112,36,0.01) 0%,rgba(243,112,36,0.01) 10%,rgba(243,112,36,1) 95%,rgba(243,112,36,1) 100%), url('http://fyndhal.woobsha.com/graphics/circuit-board-hero-patterns-orange.png'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ff7332', endColorstr='#ff7332',GradientType=1 ); /* IE6-9 */
	min-height: 50px;
}
.sheet-mnm-logo {
height: 48px;
width: auto;
float: right;
margin: 1px;
}