include ../../../../Ironsworn/src/components/nav/nav-bar
include ../../../../Ironsworn/src/components/resources/resources
include ../../../../Ironsworn/src/pages/common/vows
include ../../../../Ironsworn/src/pages/common/progress
include ../../../../Ironsworn/src/pages/common/sites
include ../common/bonds

- var type = 'shared'

div.header
  +resources(type)

//- Pages
+navBar(type)
+vowsPage(type)
+bondsPage(type)
+progressPage(type)
+sitesPage(type)