/* ATTRIBUTS */
.attributes {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 0 1.4rem;

    .attribute:before {
        position: absolute;
        height: calc(100% - 0.8rem);
        top: 0.6rem;
        left: -0.6rem;
        content: "";
        width: 1rem;
        border-right: .2rem solid black;
        border-radius: 100% / 50%;
    }

    .attribute:after {
        position: absolute;
        height: calc(100% - 0.8rem);
        top: 0.6rem;
        right: -0.6rem;
        content: "";
        width: 1rem;
        border-left: .2rem solid black;
        border-radius: 100% / 50%;
    }

    .attribute {
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        border-top: 0.2rem solid black;
        border-bottom: 0.2rem solid black;
        border-radius: 50% 50% 50% 50% / 1rem 1rem .5rem .5rem;
        padding: 0;
        align-items: center;

        .button-label {
            font-weight: bolder;
            width: 80%;
            font-size: 1rem;
            text-align: center;
            padding: 0;
        }

        div.base {
            width: 66%;
            border: .2rem solid black;
            border-radius: 50% 50% 50% 50% / 0.5rem 0.5rem 0.5rem 0.5rem;
            text-align: center;
            margin-bottom: -1.5rem;
            background-color: #fff;

            position: relative;

            span{
                padding:.2rem;
            }
            input{
                opacity : 0;
                position: absolute;
                top : 0;
                left : 0;
                width:100%;
                height:100%;
                z-index:1;
            }
            input[name*="_modified"][value="true"] ~ span{
                color: dodgerblue;
                font-weight: bold;
            }
            input:focus{
                opacity:100%
            }
        }

        span.mod{
            width: 90%;
            border: none;
            font-size: 3rem;
            font-weight: bolder;
            text-align: center;
        }
    }
}