@use 'sass:math';
@use 'sass:map';

// bootstrap containers
.container {
  background: transparent;
}

.grid,
.row {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  gap: $grid-gutter-width;
  justify-items: center;
  align-items: start;

  width: 100%;

  &:before,
  &:after {
    display: none;
  }

  // margin: auto;
  // padding: math.div($grid-gutter-width, 2);

  // > * {
  //   width: 100%;
  //   grid-column: 1 / -1;
  // }
}

.col {
  grid-column: 1 / -1;
  background: lightblue;
  div {
    border: 1px solid darkblue;
  }
}

// bootstrap columns
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    position: initial;
    grid-column-start: auto;
    grid-column-end: span $i;
    background: lightblue;
    div {
      border: 1px solid darkblue;
    }
  }
}

// bootstrap grid
@each $breakpoint in map-keys($grid-breakpoints) {
  @media (min-width: map.get($grid-breakpoints, $breakpoint)) {
    @for $i from 1 through $grid-columns {
      .col-#{$breakpoint}-#{$i} {
        position: initial;
        grid-column-start: auto;
        grid-column-end: span $i;
      }
    }
  }
}

@for $i from 2 through $grid-columns {
  .rowspan-#{$i} {
    height: 100%;
    grid-row: span $i;
  }
  .colspan-#{$i} {
    height: 100%;
    grid-column: span $i;
  }
}
