include ../../components/nav/nav-bar
include ../../components/resources/resources
include ../common/vows
include ../common/connections
include ../common/progress
include ../common/ship

- var type = 'shared'

div.header
  +resources(type)

//- Pages
+navBar(type)
+vowsPage(type)
+connectionsPage(type)
+progressPage(type)
+shipPage(type)