* {
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  background-image: none;
  font-size: 0.8em;
  text-shadow: none;

  &[type='roll'],
  &[type='action'] {
    font-size: 1em;
    padding: 1px 2px;

    border: {
        bottom             : 0.01em solid #666;
        bottom-right-radius: 0.01em;
        color              : $lightgray;
        radius             : 0.25em !important; 
        right              : 0.02em solid $graytrans;
        style              : outset;
    }
  }

  &:hover, &:focus, &:active { 
    font-weight: bold; 
    background-color: $red;
    color: $white;
  }

  & > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  &:before {
    display: none;
  }
}

div {background-color: transparent;}

fieldset { background: transparent;}

hr {
  border: 0.5px solid $gray;
}

label {
  display: inline-block;
  font-size: 0.9em;
  margin-bottom: 0px;
  padding-right: 5px;
  text-transform: capitalize;
  width: auto;}

input {
  background-color: $lightgray;
  color: $blacker;
  border: none;
  cursor: auto;
  font-weight: normal;
  margin: 0px;
  text-align: center;
  vertical-align: middle;

  &[type='text'],
  &[type='number'] {
    height    : 20px;

    &:hover, &:focus {
      background-color: #d2d1cd;
      color: $blackish;
    }

    &:placeholder-shown {
      border: 1px dotted $gray;
      background-color: $graytrans;
      color: $white;
    }
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[name='attr_stats_toggle'],
  &[name='attr_stats_toggle'] + span {
    position: relative;
  }

  &[name='attr_stats_toggle'] {
    opacity: 0;
    z-index: 2;
  }
}

select {
  border-radius: 2px;
  border: 1px solid $blacker;
  box-shadow: $box-shadow;
  margin-bottom: 0px;
  width: auto;}

span { 
  word-break: break-word; 
}

textarea {
  border-radius: 2px;
  border: 1px solid $blacker;
  box-shadow: $box-shadow;
  height: 50px;
  overflow-wrap: break-word;
  overflow: hidden;
  resize: vertical;
  vertical-align: top;
  white-space: pre-line;
}