div.sheet-equipment {
  input[name="attr_category"] {
    font-weight: bold;
  }

  div.sheet-2autocolumn {
    align-content: end;
  }

  span[name="attr_equipment"],
  span[name="attr_category"] {
    min-height: 20px;
  }

  div.sheet-repeating-container {
    div.sheet-flags {
      grid-template-columns: 1fr 25px;
    }

    div.sheet-notes {
      grid-area: 3 / 1 / 4 / -1;
    }

    input.sheet-flag + span.sheet-pictos,
    input.sheet-flag {
      grid-area: 1 / 2 / 2/ 3;
    }

    .repitem {
      margin-bottom: 1%;
    }
  }
}
