div.sheet-skills {
  grid-row-gap: 5px;

  div.sheet-body {
    grid-row-gap: 5px;
    grid-auto-flow: column;
    display: grid;

    div.sheet-subheader {
      grid-column: 1/-1;
    }
  }

  div.sheet-core-skills {
    grid-template-rows: repeat(10, 1fr);
  }

  div.sheet-combat-skills {
    grid-template-rows: repeat(7, 1fr);
  }

  div.sheet-repeating-container {
    div.sheet-row {
      @extend %repeatingCheckboxRollRow;
    }
  }
}
