.row.grid.attacks
    .header
        h1(data-i18n='attacks')
    .table
        .grid.header
            h3.small-caps.text-left(data-i18n='weapon')
            each value in ['skill', 'value', 'damage']
                if value === 'skill'
                    .row
                        h3.small-caps.text-left(data-i18n=value)
                else
                    .flex-center(class=value)
                        h3.small-caps(data-i18n=value)
        .grid.brawling.mb
            .row.align-center
                h3.text-left.ml(data-i18n='brawling')
                span.capitalize(data-i18n='brawling')
                span.text-center(name="attr_brawling")
                span.display.text-center(name=`attr_brawling_damage`)
                +brawlDamageRollButton('brawling damage', 'brawling')
            .row.align-center
                h3.text-left.ml(data-i18n='brawling (open hand)')
                span.capitalize(data-i18n='brawling')
                span.text-center(name="attr_brawling")
                span.display.text-center(name=`attr_brawling_damage_open`)
                +brawlDamageRollButton('brawling damage open', 'brawling (open hand)')
        .row.subheader.mt.flex-center
            +accentSubheader('other')
        .repeating-container
            fieldset(class='repeating_attacks')
                .row.grid
                    +textInput('name')
                    select(name="attr_skill"  title="@{battle}" value="@{battle}")
                        each val in combatSkills
                            option(data-i18n=val value=`@{${attrName(val)}}`)
                    label(data-i18n-title=`enter damage` title=`enter damage`)
                        input(name=`attr_damage` placeholder='5d6+5' title=`@{damage}` type='text' value='')
                    +repeatingAttackRollButton('name')
