.grid.attacks
    .header
        h1(data-i18n='attacks')
    .table.damage
        .grid.header
            h3.small-caps.text-left(data-i18n='damage type')
            h3.small-caps.center(data-i18n='damage')
        .grid.body
            .row.align-center
                input.hidden(name='attr_brawling_damage' type='hidden' value='0')
                h3.text-left(data-i18n='brawling damage')
                span.display.text-center(name=`attr_brawling_damage`)
                +damageButtonD20('brawling damage')
            .row.align-center
                input.hidden(name='attr_brawling_damage_open' type='hidden' value='0')
                h3.text-left(data-i18n='brawling (open hand)')
                span.display.text-center(name=`attr_brawling_damage_open`)
                +damageButtonD20('brawling damage open', 'brawling (open hand)')
            .row.align-center
                input.hidden(name='attr_character_damage' type='hidden' value='0')
                h3.text-left(data-i18n='character damage')
                span.display.text-center(name=`attr_character_damage`)
                +damageButtonD20('character damage')
            .row.align-center
                input.hidden(name='attr_critical_damage' type='hidden' value='4d6')
                h3.text-left(data-i18n='critical damage')
                span.display.text-center(name=`attr_critical_damage`)
                +damageButtonD20('critical damage')

    .repeating-container.table
        .grid.header
            h3.small-caps.text-left(data-i18n='weapon')
            h3.small-caps.text-left(data-i18n='skill')
            h3.small-caps.center(data-i18n='damage')
        .grid.body
            .row.align-center
                h3.text-left(data-i18n='brawling')
                span.capitalize(data-i18n='brawling')
                span.display.text-center(name=`attr_brawling_damage`)
                +brawlDamageRollButton('brawling damage', 'brawling')
            .row.align-center
                h3.text-left(data-i18n='brawling (open hand)')
                span.capitalize(data-i18n='brawling')
                span.display.text-center(name=`attr_brawling_damage_open`)
                +brawlDamageRollButton('brawling damage open', 'brawling (open hand)')
        fieldset(class='repeating_attacks')
            .row.grid
                +textInput('name')
                .grid.auto-flow-col
                    select(name="attr_skill"  title="@{skill}" value="@{battle}")
                        each val in combatSkills
                            option(data-i18n=val value=`@{${attrName(val)}}`)
                        option(data-i18n='other' value='@{other_skill}'	)
                    input(type='hidden' name='attr_skill')
                    +numberInput('other skill')
                label(data-i18n-title=`damage` title=`damage`)
                    input(name=`attr_damage` placeholder='5d6+5' title=`@{damage}` type='text' value='') 
                +repeatingAttackRollButton('name')
