.grid.attacks
    .header
        h1(data-i18n='attacks')
    .table.brawling
        .grid.header
            h3.small-caps.text-left(data-i18n='weapon')
            each value in ['skill', 'damage']
                if value === 'skill'
                    .row
                        h3.small-caps.text-left(data-i18n=value)
                else
                    .flex-center(class=value)
                        h3.small-caps(data-i18n=value)
        .grid.body
            .row.align-center
                h3.text-left.ml(data-i18n='brawling')
                span.capitalize(data-i18n='brawling')
                span.display.text-center(name=`attr_brawling_damage`)
                +brawlDamageRollButton('brawling damage', 'brawling')
            .row.align-center
                h3.text-left.ml(data-i18n='brawling (open hand)')
                span.capitalize(data-i18n='brawling')
                span.display.text-center(name=`attr_brawling_damage_open`)
                +brawlDamageRollButton('brawling damage open', 'brawling (open hand)')
            .row.align-center
                input.hidden(name='attr_critical_damage' type='hidden' value='2d6')
                h3.text-left.ml(data-i18n='critical damage')
                span.capitalize -
                span.display.text-center(name=`attr_critical_damage`)
                +criticalDamageButton()
    .row.subheader
        +primarySubheader('other')
    .repeating-container.table
        .grid.header
            h3.small-caps.text-left(data-i18n='weapon')
            each value in ['skill', 'damage']
                h3.small-caps.text-left(data-i18n=value)
        fieldset(class='repeating_attacks')
            .row.grid
                +textInput('name')
                .grid.auto-flow-col
                    select(name="attr_skill"  title="@{skill}" value="@{battle}")
                        each val in combatSkills
                            option(data-i18n=val value=`@{${attrName(val)}}`)
                        option(data-i18n='other' value='@{other_skill}'	)
                    input(type='hidden' name='attr_skill')
                    +numberInput('other skill')
                label(data-i18n-title=`damage` title=`damage`)
                    input(name=`attr_damage` placeholder='5d6+5' title=`@{damage}` type='text' value='') 
                +repeatingAttackRollButton('name')
