.characteristics.grid
    .header
        h1(data-i18n='characteristics')
    .grid.core
        each value in ['size', 'dexterity', 'strength', 'constitution', 'appearance']
            .row.2autocolumn
                +attributeButton(value)
                br
                +numberInput(value)
    .row.grid.2column.statistic
        .row
            +primarySubheader('health')
            - const healthRows = ['hit points', 'knockdown', 'major wound', 'unconscious']
            +table(healthRows)
        .row
            +primarySubheader('other')
            - const otherRows = ['movement', 'armor points', 'current glory', 'healing rate']
            +table(otherRows)
    .row.grid.attacks
        +primarySubheader('attacks')
        .table
            .grid.header
                h3.small-caps.text-left(data-i18n='weapon')
                each value in ['skill', 'value', 'damage']
                    .flex-center(class=value)
                        h3.small-caps(data-i18n=value)
            .repeating-container
                fieldset(class='repeating_attacks')
                    .row.grid
                        +textInput('name')
                        +textInput('skill')
                        +numberInput('value')
                        label(data-i18n-title=`enter damage` title=`enter damage`)
                            input(data-i18n-placeholder='5d6+5' name=`attr_damage` placeholder=name title=`@{damage}` type='text' value='')
                        +repeatingAttackRollButton('name')
