.characteristics.grid
    +header('characteristics')
    .grid.core.hide
        each value in characteristics
            .grid.row.centered
                +attributeButton(value)
                .shield.mt
                    +numberInput(value)
    .row.grid.2column.statistic.hide
        .row
            +primarySubheader('health')
            +table(healthRows)
        .row
            +primarySubheader('other')
            +table(otherRows)
