.characteristics.grid
    .header
        h1(data-i18n='characteristics')
    .grid.core
        each value in ['size', 'dexterity', 'strength', 'constitution', 'appearance']
            .grid.row.centered
                +attributeButton(value)
                .shield.mt
                    +hoverSpan(value)
    .row.grid.2column.statistic
        .row
            +primarySubheader('health')
            - const healthRows = ['hit points', 'knockdown', 'major wound', 'unconscious']
            +table(healthRows)
        .row
            +primarySubheader('other')
            - const otherRows = ['movement', 'armor points', 'current glory', 'healing rate']
            +table(otherRows)
