.equipment.grid
    .header
        h1(data-i18n='equipment')
    .repeating-container
        fieldset(class='repeating_equipment')
            .row.grid
                .grid.2autocolumn
                    +textInput('category')
                    +textInput('equipment')
                .collapse
                    +textArea('notes')
