.equipment.grid
    .header
        h1(data-i18n='equipment')
    .repeating-container
        fieldset(class='repeating_equipment')
            .row.grid.flags
                +repeatingFlags()
                .row.grid.2autocolumn
                    +subHeader('equipment')
                    span.display.bottom-border(name='attr_equipment')
                    +textInput('equipment')
                .row.grid.category
                    .grid.2autocolumn
                        +subHeader('category')
                        span.display.bottom-border(name='attr_category')
                        +textInput('category')
                    .grid.2autocolumn 
                        +subHeader('period restriction')
                        span.display.bottom-border(name='attr_period_restriction')
                        +textInput('period restriction')
                    .grid.2autocolumn
                        +subHeader('value')
                        span.display.bottom-border(name='attr_value')
                        +textInput('value')
                .row.notes
                    span.display(name='attr_notes')
                    +textArea('notes')

