.equipment.grid
    .header
        h1(data-i18n='equipment')
    .repeating-container
        fieldset(class='repeating_equipment')
            .row.grid.flags
                +repeatingFlags()
                .row.grid.2autocolumn
                    +subHeader('equipment')
                    span.display.bottom-border(name='attr_equipment')
                    +textInput('equipment')
                .row.grid.category
                    each val in ['category', 'period restriction', 'value']
                        .row.grid.2autocolumn
                            +subHeader(val)
                            span.display.bottom-border(name=`attr_${val}`)
                            +textInput(val)
                .row.notes
                    span.display(name='attr_notes')
                    +textArea('notes')

