.equipment.grid
    .header
        h1(data-i18n='equipment')
    .repeating-container
        fieldset(class='repeating_equipment')
            .row.grid.flags
                +repeatingFlags()
                .row
                    span.display.bottom-border(name='attr_category')
                    +textInput('category')
                .row
                    span.display.bottom-border(name='attr_equipment')
                    +textInput('equipment')
                .row.notes
                    span.display(name='attr_notes')
                    +textArea('notes')

