mixin equipment(name)
  .grid.gap.col
    +header(name)
    .repeating-container.hide
      fieldset(class=`repeating_${attrName(name)}`)
        .row.grid.flags
          +repeatingFlags()
          .row.grid.2autocolumn
            +subHeader('name')
            span.display.bottom-border(name=`attr_${attrName('name')}`)
            +textInput('name')
          .row.grid
              .grid.gap.category
                  each val in ['category', 'value']
                      .row.grid.2autocolumn
                          +subHeader(val)
                          span.display.bottom-border(name=`attr_${val}`)
                          +textInput(val)
              each val in ['period restriction']
                  .row.grid.2autocolumn
                      +subHeader(val)
                      span.display.bottom-border(name=`attr_${val}`)
                      +textInput(val)
          .row.notes
              span.display(name='attr_notes')
              +textArea('notes')

.equipment.grid.gap.2column
    +equipment('equipment')
    +equipment('arms')
