.horse.grid
    .header
        h1(data-i18n='horses')
    .body.grid
        .col.grid
            .row.flex-center 
                +accentSubheader('warhorse')
            .grid.2column
                each val in ['armor', 'siz','move', 'dex',  'damage', 'str', 'hp',  'con']
                    - const horseAttr = `warhorse ${val}`
                    .row.grid.2autocolumn
                        .flex-center
                            if val === 'damage'
                                +damageButton(horseAttr, val)
                            else
                                +boldSubheader(val)
                        +numberInput(horseAttr, val)
        .col.grid.gold-left-border
            .other-horses.grid.gold-bottom-border
                .flex-center
                    +accentSubheader('other horses')
                +textArea('other horses')
            .joust-score
                .flex-center
                    +accentSubheader('joust score')
                .row.2column
                    each val in ['win', 'losses']
                        .col.2autocolumn
                            .flex-center
                                +boldSubheader(val)
                            +numberInput(val)
    .row.grid
        .flex-center
            +accentSubheader('equestrian notes')
        +textArea('equestrian notes')
