.horse.grid
    +header('horses')
    .body.grid.hide
        .col.grid
            .row.grid.2column
                .flex-center    
                    +accentSubheader('warhorse')
                .grid.2autocolumn
                    .flex-center
                        +boldSubheader("type")
                    +textInput('warhorse type')
            .grid.2column.attributes
                each val in ['armor', 'siz','move', 'dex',  'damage', 'str', 'hp',  'con']
                    - const horseAttr = `warhorse ${val}`
                    if val === 'damage'
                        .row.grid.2autocolumn
                            .flex-center
                                +boldSubheader(val)
                            .grid.2column
                                .grid.2autocolumn
                                    .flex-center
                                        +damageButtonD20(horseAttr, val)
                                    label(data-i18n-title=`damage` title=`damage`)
                                        input(name=`attr_warhorse_damage` placeholder='3D6' title=`@{warhorse_damage}` type='text' value='3D6')
                                .grid.2autocolumn
                                    .flex-center
                                        +damageButtonD20(`warhorse_charge_damage`, `charge damage`)
                                    label(data-i18n-title=`charge damage` title=`charge damage`)
                                        input(name=`attr_warhorse_charge_damage` placeholder='6D6' title=`@{warhorse_charge_damage}` type='text' value='6D6')
                    else
                        .row.grid.2autocolumn
                            .flex-center
                                if ['siz', 'dex', 'str', 'con'].includes(val)
                                    +attributeButton(horseAttr, val)
                                else
                                    +boldSubheader(val)
                            if val === 'armor'
                                +textInput(horseAttr, val)
                            else
                                +numberInput(horseAttr, val)
        .col.grid.gold-left-border
            .other-horses.grid.gold-bottom-border
                .flex-center
                    +accentSubheader('other horses')
                .grid.notes
                    +notesTextarea('other horses')
            .joust-score
                .flex-center
                    +accentSubheader('joust score')
                .row.2column
                    each val in ['win', 'losses']
                        .col.2autocolumn
                            .flex-center
                                +boldSubheader(val)
                            +numberInput(val)
    .row.grid
        .flex-center
            +accentSubheader('equestrian notes')
        .grid.notes
            +notesTextarea('equestrian notes')
