.horse.grid
    .header
        h1(data-i18n='horses')

    .body.grid
        .col.grid
            .row.grid.2column
                .flex-center
                    +accentSubheader('warhorse')
                .grid.2autocolumn
                    .flex-center
                        +boldSubheader("type")
                    +textInput('warhorse type')
            .grid.2column
                each val in ['armor', 'siz','move', 'dex',  'damage', 'str', 'hp',  'con']
                    - const horseAttr = `warhorse ${val}`
                    if val === 'damage'
                        .row.grid.3autocolumn
                            .flex-center
                                +damageButton(horseAttr, val)
                            +numberInput(horseAttr, val)
                            .flex-center
                                +boldSubheader('d6')    
                    else
                        .row.grid.2autocolumn
                            .flex-center
                                +boldSubheader(val)
                            if val === 'armor'
                                +textInput(horseAttr, val)
                            else
                                +numberInput(horseAttr, val)
        .col.grid.gold-left-border
            .other-horses.grid.gold-bottom-border
                .flex-center
                    +accentSubheader('other horses')
                .grid.notes
                    +notesTextarea('other horses')
            .joust-score
                .flex-center
                    +accentSubheader('joust score')
                .row.2column
                    each val in ['win', 'losses']
                        .col.2autocolumn
                            .flex-center
                                +boldSubheader(val)
                            +numberInput(val)
    .row.grid
        .flex-center
            +accentSubheader('equestrian notes')
        .grid.notes
            +notesTextarea('equestrian notes')
