div.sheet-horse {
  div.sheet-body {
    grid-template-columns: 1fr 1fr;
  }

  div.sheet-repeating-container {
    div.sheet-row {
      grid-template-columns: 3fr auto 1fr;
    }
  }

  input[name="attr_warhorse_armor"] {
    text-align: center;
  }
}
