.passions.grid
    .header
        h1(data-i18n='passions')
    .repeating-container
        fieldset(class='repeating_passions')
            .row
                +checkboxInput(`check`)
                +textInput('name')
                +numberInput('target value')
                +repeatingRollButton('target value')