.passions.grid
    .header
        h1(data-i18n='passions')
    .repeating-container
        fieldset(class='repeating_passion')
            .row
                +checkboxInput(`check`)
                +textInput('name')
                +numberInput('passion')
                +repeatingRollButton('passion')