.passions.grid
    +header('passions')
    .repeating-container.hide
        fieldset(class='repeating_passions')
            .row
                +checkboxInput(`check`)
                +textInput('name')
                +numberInput('target value')
                +repeatingRollButton('target value')