.personality-traits
    .header
        h1(data-i18n='personality traits')
    .row.2autocolumn
        h2(data-i18n='religious virtues')
        +textInput('religious virtues')
    each val, key in personalityTraits
        .row.traits
            +checkboxInput(`${key} check`)
            +rollButton(key)
            +numberInput(key)
            span /
            +numberInput(val)
            +rollButton(val)
            +checkboxInput(`${val} check`)
    .repeating-container
        fieldset(class='repeating_directed-trait')
            .row
                +checkboxInput(`check`)
                +textInput('name')
                +numberInput('trait')
                +repeatingRollButton('trait')