.personality-traits
    +header('personality traits')
    .row.2autocolumn.hide
        h2(data-i18n='religious virtues')
        +textInput('religious virtues')
    each val, key in personalityTraits
        .row.traits.hide
            +checkboxInput(`${key} check`)
            +rollButton(key)
            +numberInput(key)
            span /
            +numberInput(val)
            +rollButton(val)
            +checkboxInput(`${val} check`)
    .repeating-container.hide
        fieldset(class='repeating_traits')
            .row
                +checkboxInput(`check`)
                +nameTargetValue()