.grid.skills
    .header
        h1(data-i18n='skills')
    .grid.body.2column.core-skills
        each val in skills
            .row.col-3(class=`${val} ${classNotation}`)
                +checkboxInput(`${val} check`)
                +rollButton(val)
                +numberInput(val)
    .grid.body.2column.combat-skills
        .row.subheader.mt.flex-center
            +accentSubheader('combat skills')
        each val in ['battle', 'bow', 'brawling', 'charge', 'crossbow', 'halfed', 'two-handed hafted', 'horsemanship', 'spear', 'sword', 'thrown weapon']
            .row.col-3
                +checkboxInput(`${val} check`)
                +rollButton(val)
                +numberInput(val)
    .row.subheader.mt.flex-center
        +accentSubheader('other')
    .repeating-container
        fieldset(class='repeating_skills')
            .row
                +checkboxInput(`check`)
                +textInput('name')
                +numberInput('skill')
                +repeatingRollButton('skill')