.grid.skills
    +header('skills')
    .grid.body.2column.core-skills.hide
        each val in skills
            .row.col-3(class=`${val} ${classNotation}`)
                +checkboxInput(`${val} check`)
                +rollButton(val)
                +numberInput(val)
    .grid.body.2column.combat-skills.hide
        .row.subheader.mt.flex-center
            +accentSubheader('combat skills')
        each val in combatSkills
            .row.col-3
                +checkboxInput(`${val} check`)
                +rollButton(val)
                +numberInput(val)
    .row.subheader.mt.flex-center.hide
        +accentSubheader('other')
    .repeating-container.hide
        fieldset(class='repeating_skills')
            .row
                +checkboxInput(`check`)
                +nameTargetValue()