.grid.squire
    .header
        h1(data-i18n='squire')
    .grid.body
        .grid.2autocolumn
            .flex-center
                +boldSubheader('name')
            +textInput(`squire name`, 'name')
        .grid.age
            .grid.2autocolumn 
                .flex-center
                    +boldSubheader('age')
                +textInput('squire age', 'age')
            .grid.skill
                .flex-center
                    +boldSubheader('skill')
                +numberInput(`squire skill`)
                +squireButton(`squire skill`, 'skill')
        .repeating-container
            fieldset(class='repeating_squire_skills')
                .row
                    +checkboxInput(`check`)
                    +textInput('name')
                    +numberInput('skill')
                    +repeatingRollButton('skill')