.grid.squire
    .header
        h1(data-i18n='squire')
    .grid.body
        .grid.2autocolumn
            h2(data-i18n='name')
            +textInput(`squire name`)
        .grid.age
            .grid.2autocolumn 
                h2(data-i18n='age')
                +textInput('squire age')
            .grid.skill
                h2(data-i18n='skill')
                +numberInput(`squire skill`)
                +squireButton(`squire skill`)
        .repeating-container
            fieldset(class='repeating_squire_skills')
                .row
                    +checkboxInput(`check`)
                    +textInput('name')
                    +numberInput('skill')
                    +repeatingRollButton('skill')