@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

.sheet-main
{
	display: grid;
	grid-template-columns: minmax(256px, 1fr);
	grid-template-rows: 165px auto auto auto auto;
	grid-gap: 1em;
	gap: 1em;
	height: 100%;
	width: 100%;
	font-family: 'Mansalva', cursive;
	min-height: 0;
}

.sheet-navbar
{
	display: flex;
	justify-items: left;
}

.sheet-navbar > button
{
	margin: 0 0.25em 0 0;
}

.sheet-header
{
	display: grid;
	grid-template-columns: minmax(256px, 1fr) repeat(2, minmax(150px, 1fr));
	grid-template-rows: 1fr 1fr;
	align-content: stretch;
	justify-content: space-evenly;
	grid-gap: 0.5em;
	gap: 0.5em;
}

.sheet-logo
{
	background-image: image("./logo.png");
	background-repeat: no-repeat;
	background-position: center;
	grid-row: span 2;
}

.sheet-underlabelled
{
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: left;
	grid-gap: 0.1em;
	gap: 0.1em;
}

.sheet-underlabelled > label
{
	vertical-align: text-top;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	width: 100%;
	color: grey;
	display: inline-block;
}

.sheet-underlabelled > input
{
	max-height: 3em;
	width: 100%;
}

div.sheet-hp-display
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background-image: image("./Heart.png");
	background-repeat: no-repeat;
	background-position: center 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0.5em;
}

.sheet-hp-display > input
{
	width: 3em;
}

.sheet-statline
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 1em;
	gap: 1em;
	align-items: center;
	justify-items: stretch;
	vertical-align: middle;
}

.sheet-stat
{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	align-self: center;
	justify-self: center;
	background-color: rgb(255, 239, 241);
	border: 3px solid rgb(255, 146, 164);
	padding: 0.6em;
}

.sheet-stat > input
{
	width: 2.5em;
	padding: 0.3em;
}

.sheet-stat > label
{
	width: 100%;
}

button.sheet-nav
{
	color: black;
	background-color: white;
	border: 1px solid black;
	font-size: large;
	padding: 0.7em;
}

button.sheet-nav:hover
{
	background-color: dimgrey;
}

.sheet-footer
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10;
	color: grey;
	font-style: italic;
	display: flex;
	justify-content: space-between;
}

.sheet-pg1,
.sheet-pg2,
.sheet-pg3 {
	display: none;
}

.sheet-tabstoggle[value="pg1"] ~ div.sheet-pg1,
.sheet-tabstoggle[value="pg2"] ~ div.sheet-pg2,
.sheet-tabstoggle[value="pg3"] ~ div.sheet-pg3 {
	display: block;
}

.sheet-nametype[value="char"] ~ input[name="attr_char_name"],
.sheet-nametype[value="hero"] ~ input[name="attr_hero_name"],
.sheet-nametype[value="pc"] ~ input[name="attr_pc_name"]
{
	background-color: pink;
}

.sheet-section-header
{
	font-style: italic;
	text-align: center;
	font-size: large;
	width: 100%;
}

.sheet-pg1-upper,
.sheet-pg1-lower
{
	height: 100%;
}

.sheet-pg1-upper
{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	gap: 2em;
	justify-content: space-between;
}

.sheet-pg1-box
{
	display: grid;
	padding: 1em;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-gap: 0.25em;
	gap: 0.25em;
	justify-content: start;
	align-content: start;
	text-align: left;
	border: 2px solid black;
}

.sheet-pg1-counter-list
{
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0.25em;
	grid-gap: 0.25em;
	align-items: stretch;
	width: 100%;
}

.sheet-pg1-counter-list > .sheet-stat > label
{
	grid-column: span 2;
}

.sheet-pg1-counter-list > .sheet-stat > input
{
	justify-self: center;
	align-self: center;
}

.sheet-pg1-counter-list > .sheet-stat 
{
	width: 90%;
}

.sheet-layout
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(150px, auto) minmax(150px, auto);
	gap: 1em;
	grid-gap: 1em;
}

.sheet-move-list
.sheet-move-header
{
	display: grid;
	grid-template-columns: 3fr 3em;
	grid-template-rows: 2em minmax(auto, 1fr);
	justify-content: left;
	grid-gap: 0.25em;
	gap: 0.25em;
	align-content: start;
	justify-content: center;
	height: 100%;
}

.sheet-class-selection
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3em 3em;
}

.sheet-move
{
	display: grid;
	grid-template-columns: 4fr 3em;
	grid-template-rows: 1fr;
	justify-content: left;
	margin-right: 4em;
	margin-bottom: 0.25em;
	width: 100%;
}

.sheet-class-selection > select,
.sheet-move > input,
.sheet-condition > input
{
	width: 98%;
}

.sheet-condition
{
	margin-bottom: 0.25em;
}

.sheet-pg1-lower
{
	display: grid;
	align-items: start;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: minmax(auto, 1fr);
	grid-gap: 1em;
	gap: 1em;
}

.sheet-condition-counters
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	gap: 0.5em;
}

input[type=text],
input[type=number],
select,
textarea
{
	font-family: Arial, Helvetica, sans-serif;
}

.sheet-pg1-conditions-list
{
	border: 2px solid black;
}

.sheet-pg1-relationship-list
{
	grid-row: span 3;
	grid-template-rows: 3em 3em 1fr;
	grid-template-columns: 2fr 1fr;
	justify-content: space-evenly;
}

.sheet-relationship-block
{
	grid-row: span 3;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0.5em;
	gap: 0.5em;
	margin-bottom: 0.25em;
}

.sheet-relationship-block,
.sheet-relationship-block > input,
.sheet-relationship-block > select
{
	width: 100%;
	height: 2em;
}

.sheet-pg-layout
{
	display: grid;
	grid-template-rows: 3em 1fr;
	grid-template-columns: 1fr;
}

.sheet-pg2-achievement
{
	display: grid;
	grid-template-columns: 2em 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0.3em;
	gap: 0.3em;
	align-items: center;
}

.sheet-pg2-achievement > input[type=text]
{
	width: 100%;
	margin-bottom: 0.25em;
}

/* Roll Template*/
.sheet-rolltemplate-glitterhearts .sheet-template
{
	border: black solid 5px;
	background-color: white;
	width: 90%;
	display: block;
}

.sheet-rolltemplate-glitterhearts .sheet-template div
{
	padding: 0.5em;
}

.sheet-rolltemplate-glitterhearts .sheet-template-title
{
	font-style: italic;
	font-size: large;
	font-weight: bold;
	text-align: center;
}

.sheet-rolltemplate-glitterhearts .sheet-template-6minus
{
	color: white;
	background-color: rgb(141, 3, 3);
}

.sheet-rolltemplate-glitterhearts .sheet-template-7-9
{
	color: black;
	background-color: yellow;
}

.sheet-rolltemplate-glitterhearts .sheet-template-11-12
{
	color: white;
	background-color: green;
}

.sheet-rolltemplate-glitterhearts .sheet-template-12plus
{
	color: white;
	background-color: darkblue;
}

.sheet-rolltemplate-glitterhearts .sheet-template-6minus,
.sheet-rolltemplate-glitterhearts .sheet-template-7-9,
.sheet-rolltemplate-glitterhearts .sheet-template-11-12,
.sheet-rolltemplate-glitterhearts .sheet-template-12plus
{
	text-align: center;
}

.sheet-rolltemplate-glitterhearts .sheet-template-6minus span,
.sheet-rolltemplate-glitterhearts .sheet-template-7-9 span,
.sheet-rolltemplate-glitterhearts .sheet-template-11-12 span,
.sheet-rolltemplate-glitterhearts .sheet-template-12plus span
{
	color: black;
	height: 2em;
	width: 2em;
}