.charsheet label {
    display: inline-block;
	width: 75px;
	text-align: right;
}

.charsheet input {
	display: inline-block;
	width: 165px;
}

.sheet-col strong.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	padding-right: 4px;
}

.charsheet input.sheet-short {
	width: 3.5em;
}

.charsheet {
	background-image: url("http://freeseamlesstextures.com/images/28-faded-parchment-background-sml.jpg");
}

.charsheet table td, .charsheet table th {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

select.sheet-dtype {
    width: 60px;
    vertical-align: top;
}