.sheet-row1{
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	height: 190px;
	border-bottom: 1px solid #000;
	padding: 20px;
	width: 700px;

}

.sheet-rowOnePointFive{ 
	display: flex; 
	flex-flow: column wrap;
	align-content: flex-end;
	height: 65px;
	border-bottom: 1px solid #000;
	padding: 20px;
	width: 700px;

}


.sheet-item-r15_col_1 {
	width: 100px;
	position: relative;
	margin-bottom: 2%;
	color: #000;
	padding: 5px;

}

.sheet-item-r15_col_2 {
	width: 100px;
	position: relative;
	margin-bottom: 2%;
	color: #000;
	padding: 5px;

}

.sheet-item_col_1_A {
	width: 400px;
	position: relative;
	margin-bottom: 2%;
	color: #000;
	padding: 5px;

}

.sheet-item_col_2_A {
	width: 200px;
	position: relative;
	margin-bottom: 2%;
	color: #000;
	padding: 15px;

}

.sheet-item_col_3_A {
	width: 150px;
	position: relative;
	margin-bottom: 2%;
	color: #000;
	padding: 15px;

}

.sheet-row2 {
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	height: 665px;
	padding: 20px;
	width: 700px;

}
.sheet-item_row2_col1_A {
	display: flex;
	width: 400px;
	height: 33px;
	margin-bottom: 10px;
}

.sheet-item_row2_col1_B {
	display: flex;
	width: 400px;
	height: 33px;
}

.sheet-item_row2_col1 {
	width: 400px;
	height: 350px;

}

.sheet-item_row2_col2 {
	height: 650px;
	width: 100px;
	margin-left: 3px;
	padding-left: 3px;
}

.sheet-item_row2_col2 {

}
.sheet-item_row2_col2 label{
	margin-left: 3px;
	padding-left: 3px;
	margin-top: 5px;

}
.sheet-item_row2_col3 {
	height: auto;
	width: 200px;
	border-left: 1px solid #aaaaaa;
	padding-left: 5px;
	size: unset;
	margin-bottom: 25px;

}

.sheet-item_row2_col3_A {
	width: 400px;
	position: relative;
	margin-bottom: 2%;
	color: #000;
	height: 40px;
	text-align: center;

}

.sheet-id-tb {
	width: 98%;
	height: 150px;
	text-align: left;
	border: dashed 1px #000;
	outline: none;


}

.sheet-specialAbilities {
	width: 98%;
	height: 300px;
	text-align: left;
	border: 1px;
	border-style: dashed;
	margin-right: 10px;
	overflow: auto;

}

.sheet-equipment {
	width: 98%;
	height: 300px;
	text-align: left;
	border: 1px;
	border-style: dashed;
	margin-right: 10px;
	overflow: auto;

}

.sheet-nodec {
	list-style: none;
}

.sheet-ix {
	width: 200px;
	height: 30px;
	text-align: center;
	border: none;
	border-bottom: 1px dashed;
}

textarea,
input,
button, select
{
	outline: none;
}

.sheet-label_A {
	font-size: 12px;
	width: 75px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}

.attr_in {
	width: 75px;
	text-align: center;
	display: block;
	margin: auto;
	font-size: 14px;
	border: none;
	border-bottom: 1px dashed;


}


.sheet-genButton {
	text-align: center;
	background-color: #eff0f0;
	margin-bottom: 15px;
	line-height: 10px;
	margin: 0;
	overflow: visible;
	text-transform: none;
	border-style: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
	color: #000;
	font-size: 20px !important;
	font-weight: bold;
}

.sheet-genButton:before {
	color: white;
	font-weight: normal;
	border: 1px solid lightgrey;
	height: 20px;
	width: 20px;
	//font-size: 42px;
	background-color: lightgrey;
	border-radius: 50%;
	padding: 5px;
}

.sheet-genButtonM {
	text-align: center;
	background-color: #eff0f0;
	margin-bottom: 15px;
	line-height: 10px;
	margin: 0;
	overflow: visible;
	text-transform: none;
	border-style: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
	color: #000;
	font-size: 20px !important;
	font-weight: bold;
}

.sheet-genButtonM:before {
	display: none;
}

.sheet-radio-toolbar {
	display: inline-block;
	text-align: center;
	align-content: center;
	background-color: #fff !important;
	vertical-align: center;
	height: 12px;
}

.sheet-radio-toolbar b {
	line-height: 4px;
	color: white;
	font-weight: normal;
	border-radius: 50%;
	padding: 1px 5px;
	font-size: 20px;
	margin-left: 5px;
}

.sheet-d {
	border: 1px solid #edc0c0;
	background-color: #edc0c0;
}

.sheet-a {
	border: 1px solid #daedc0;
	background-color: #daedc0;
}



.sheet-rolltemplate-saveCheck,
.sheet-rolltemplate-saveCheck-disadvantage,
.sheet-rolltemplate-saveCheck-advantage, .sheet-rolltemplate-attack {
	padding: 2px;
	line-height: 1.6em;
	font-size: 16px;
	width: 100%;
	margin-right: 10px;
}

.sheet-rolltemplate-saveCheck div.sheet-template-container,
.sheet-rolltemplate-saveCheck-advantage div.sheet-template-container,
.sheet-rolltemplate-saveCheck-disadvantage div.sheet-template-container div.sheet-template-container, .sheet-rolltemplate-attack div.sheet-template-container
 {
	background-color: white !important;
	color: black;
	padding: 5px;

}
.sheet-rolltemplate-v {
	font-size: 10px;
	font-weight: bolder;
}

.sheet-rolltemplate-saveCheck, .sheet-rolltemplate-attack,
.inlinerollresult,
.sheet-rolltemplate-saveCheck-advantage,
.sheet-rolltemplate-saveCheck-disadvantage {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;

}

.sheet-rolltemplate-saveCheck-disadvantage .inlinerollresult.fullcrit, .sheet-rolltemplate-attack .inlinerollresult.fullcrit,
.sheet-rolltemplate-saveCheck-advantage .inlinerollresult.fullcrit,
.sheet-rolltemplate-saveCheck .inlinerollresult.fullcrit {
	border: 0px solid #3FB315 !important;
}

.sheet-rolltemplate-saveCheck-advantage .inlinerollresult.fullfail, .sheet-rolltemplate-attack .inlinerollresult.fullfail,
.sheet-rolltemplate-saveCheck-disadvantage .inlinerollresult.fullfail,
.sheet-rolltemplate-saveCheck .inlinerollresult.fullfail {
	border: 0px solid #B31515 !important;
}
.sheet-rolltemplate-saveCheck .inlinerollresult.importantroll, .sheet-rolltemplate-attack .inlinerollresult.importantroll,
.sheet-rolltemplate-saveCheck-advantage .inlinerollresult.importantroll,
.sheet-rolltemplate-saveCheck-disadvantage .inlinerollresult.importantroll, .sheet-rolltemplate-attack .inlinerollresult {
	border: 0px solid #4A57ED;
	background-color: white;
}
.sheet-rolltemplate-attributes .sheet-template-header, .sheet-rolltemplate-attack .sheet-template-header,
.sheet-rolltemplate-resources .sheet-template-header {
	text-align: center;
}



.attr_in_damage{

	vertical-align: top;
}


.attr_in_weapon, .attr_in_damage, .attr_in_tohit, .attr_in_damB, .sheet-fstyle {
	text-align: center;
	display: block;
	font-size: 18px;
	border: none;
	margin-right: 5px;

}


.sheet-fstyle {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
}

.attr_in_weapon {

	text-align: left;
}
.sheet-w {
	border: 1px dashed #edc0c0;
	max-width: 85px;
	text-align: center;
}

.sheet-tw {
	border: 1px dashed #c0dfed;
	margin-bottom: 0px !important;
}
.sheet-ew {
	max-width: 85px;
	border: 1px dashed #ede9c0;
	font-size: small;
	font-weight: bold;

}
.sheet-item_row2_col1_A {
	width: 400px;

}
.sheet-weaponTitle1, .sheet-weaponTitle2, .sheet-weaponTitle3{
	position: relative;

	font-weight: bold;
	font-size: 18px;
	border: none;
	text-align: left;

}
.sheet-weaponTitle1{
	width: 27%;
	text-align: center;
}

.sheet-weaponTitle2 {
	margin-left: 10px;
	width: 30%;
}
.sheet-weaponTitle3 {
	width: 36%;
	margin-left: 4px;
}

.sheet-plus {
	font-size: 18px;
}

.sheet-b{
	font-weight: bolder;
	margin-right: 0px;

}

.sheet-attr { margin-top: 10px }


.sheet-ix_lang{
	height: 40px;
	width: 200px !important;
}


