<div class="flex-column list modifiers frame-cb">
    <div class="flex-row top align-center">
        <label class="w-1"></label>
        <label class="w-5">Nom</label>
        <label class="w-4 text-center">Appli.</label>
        <label class="w-2 text-center">Valeur</label>
    </div>
    <fieldset class="repeating_modifiers">
        <div class="list-element modifier">
            <input class="options-flag" type="checkbox" name="attr_options-flag"
                   checked><span>y</span>
            <div class="flex-row gray-line align-center">
                <div class="w-1 flex-row justify-center align-center">
                    <input type="checkbox" name="attr_enabled">
                </div>
                <label class="w-5"> <span name="attr_name"></span></label>
                <label class="w-4 text-center"><span name="attr_apply-to-desc"></span></label>
                <label class="w-2 text-center"><span name="attr_value"></span></label>
            </div>
            <div class="flex-column options-options border-bottom">
                <div class="flex-row align-center">
                    <label class="label w-4 text-right">Nom :</label>
                    <input name="attr_name" type="text" class="visible-input w-8" />
                </div>
                <div class="flex-row align-center">
                    <label class="label w-4 text-right">Valeur :</label>
                    <input name="attr_value" type="number" class="visible-input w-8" />
                </div>
                <div class="flex-row align-center">
                    <label class="label w-4 text-right">Type : </label>
                    <select class="w-8" name="attr_type">
                        <option value="alchemical">Alchemical Bonus</option>
                        <option value="circumstance">Circumstance Modifier</option>
                        <option value="competence">Competence Modifier</option>
                        <option value="enhancement">Enhancement Bonus</option>
                        <option value="insight">Insight Bonus</option>
                        <option value="luck">Luck Modifier</option>
                        <option value="morale">Morale Modifier</option>
                        <option value="profane">Profane Modifier</option>
                        <option value="racial">Racial Bonus</option>
                        <option value="resistance">Resistance Bonus</option>
                        <option value="sacred">Sacred Modifier</option>
                        <option value="divine">Divine bonus</option>
                        <option value="epic">Epic bonus</option>
                        <option value="dodge">Dodge Bonus</option>
                        <option value="deflection">Deflection Bonus</option>
                        <option value="natural_armor">Natural Armor Bonus</option>
                        <option value="untyped">Untyped Bonus</option>
                    </select>
                </div>
                <div class="flex-row align-center">
                    <label class="label w-4 text-right">Appliqué à :</label>
                    <select class="w-8" name="attr_apply-to">
                        <option value="carac_all">Caractéristiques (Toutes)</option>
                        <option value="carac_other">Caractéristiques</option>
                        <option value="init">Initiative</option>
                        <option value="speed">Vitesse</option>
                        <option value="skill_all">Compétences (Toutes)</option>
                        <option value="skill_other">Compétences</option>
                        <option value="save_all">Sauvegardes (Toutes)</option>
                        <option value="save_ref">Réflexe</option>
                        <option value="save_vig">Vigueur</option>
                        <option value="save_vol">Volonté</option>
                        <option value="armor_ca">CA (Universel)</option>
                        <option value="armor_cac">CA (Contact)</option>
                        <option value="armor_cad">CA (Dépourvu)</option>
                    </select>
                </div>
                <input type="hidden" class="apply_to_switch" name="attr_apply-to">
                <div class="flex-row align-center apply_to_other">
                    <label class="label w-4 text-right">Spécifiez :</label>
                    <input type="text" class="visible-input w-8" placeholder="skill 1;skill2;..." name="attr_apply-to-other">
                </div>
            </div>

        </div>
    </fieldset>
    <h4 class="bottom-title">Modificateurs</h4>
</div>