<div class="flex-column options-options border-bottom">
    <div class="flex-row align-center">
        <label class="skill-label w-5"><span data-i18n="skills.name">Name</span> :</label>
        <input type="text" class="w-7 visible-input" name="attr_name">
    </div>
    <div class="flex-row align-center">
        <label class="skill-label w-5"><span data-i18n="skills.ranks">Rangs</span> :</label>
        <input type="number" class="visible-input w-7" name="attr_ranks">
    </div>
    <div class="flex-row align-center">
        <label class="skill-label w-5"><span data-i18n="skills.caracteristics">Carac.</span> :</label>
        <select class="w-7" name="attr_carac">
            <option value="@{for_mod}" data-i18n="attribute.strength.long">Force</option>
            <option value="@{dex_mod}" data-i18n="attribute.dexterity.long">Dextérité</option>
            <option value="@{con_mod}" data-i18n="attribute.constitution.long">Constitution</option>
            <option value="@{int_mod}" data-i18n="attribute.intelligence.long">Intelligence</option>
            <option value="@{sag_mod}" data-i18n="attribute.wisdom.long">Sagesse</option>
            <option value="@{cha_mod}" data-i18n="attribute.charisma.long">Charisme</option>
        </select>
        <input type="hidden" name="attr_caracname">
    </div>
    <div class="flex-row align-center">
        <label class="skill-label w-5"><span data-i18n="skills.malus">Malus*</span> :</label>
        <select class="w-7" name="attr_has_armor_malus">
            <option value="off" data-i18n="common.no">Non</option>
            <option value="on" data-i18n="common.yes">Oui</option>
            <option value="double" data-i18n="skills.x2">x2</option>
        </select>
    </div>
    <div class="flex-row align-center">
        <label class="skill-label w-5"><span data-i18n="skills.modifier">Mod</span> :</label>
        <input type="number" class="visible-input w-7" name="attr_mod">
    </div>
    <div class="flex-row align-center">
        <label class="skill-label w-5"><span data-i18n="skills.synergy">Synergie</span> :</label>
        <input type="number" class="visible-input w-7" name="attr_synergy">
    </div>
    <label class="skill-label w-5"><span data-i18n="common.notes">Notes</span> :</label>
    <input type="text" class="w-12 visible-input" name="attr_notes">
</div>