<div class="skills frame-cm">
    <h4 class="top-title">Compétences</h4>
    <div class="flex-column">
        <div class="flex-row">
            <label class="label w-2 text-center">Tot.</label>
            <label class="label w-10">Nom</label>
        </div>
        <input type="hidden" name="attr_skills_malus">
        <fieldset class="repeating_skills">
            <div class="skill">
                <input class="options-flag" type="checkbox" name="attr_options-flag"
                       checked><span>y</span>
                <div class="flex-row align-center">
                    <input type="hidden" name="attr_modified">
                    <input type="number" class="input w-2" name="attr_total" value="0" readonly>
                    <div class="wa">
                        <input type="hidden" name="attr_skillrollvalue"
                               value="&{template:main} {{titre=Test de '@{name}'}} {{subtitle=@{character_name} }} {{Jet=[[1d20+@{total}]]}}">
                        <button name="attr_skillroll" type="roll" value="@{skillrollvalue}"
                                class="button-label bold w-10 text-left">
                            <span name="attr_name"></span>&nbsp;<span name="attr_caracname"></span>
                        </button>
                    </div>
                </div>
                <div class="flex-column options-options border-bottom">
                    <div class="flex-row align-center">
                        <label class="skill-label w-5">Nom :</label>
                        <input type="text" class="w-7 visible-input" name="attr_name">
                    </div>
                    <div class="flex-row align-center">
                        <label class="skill-label w-5">Rangs :</label>
                        <input type="number" class="visible-input w-7" name="attr_ranks">
                    </div>
                    <div class="flex-row align-center">
                        <label class="skill-label w-5">Carac :</label>
                        <select class="w-7" name="attr_carac">
                            <option value="@{for_mod}">Force</option>
                            <option value="@{dex_mod}">Dextérité</option>
                            <option value="@{con_mod}">Constitution</option>
                            <option value="@{int_mod}">Intelligence</option>
                            <option value="@{sag_mod}">Sagesse</option>
                            <option value="@{cha_mod}">Charisme</option>
                        </select>
                        <input type="hidden" name="attr_caracname">
                    </div>
                    <div class="flex-row align-center">
                        <label class="skill-label w-5">Malus* :</label>
                        <select class="w-7" name="attr_has_armor_malus">
                            <option value="off">Non</option>
                            <option value="on">Oui</option>
                            <option value="double">x2</option>
                        </select>
                    </div>
                    <div class="flex-row align-center">
                        <label class="skill-label w-5">Mod :</label>
                        <input type="number" class="visible-input w-7" name="attr_mod">
                    </div>
                    <div class="flex-row align-center">
                        <label class="skill-label w-5">Synergie :</label>
                        <input type="number" class="visible-input w-7" name="attr_synergy">
                    </div>
                        <label class="skill-label w-5">Notes :</label>
                        <input type="text" class="w-12 visible-input" name="attr_notes">
                </div>
            </div>
        </fieldset>
    </div>
</div>
