div.sheet-feast-record,
div.sheet-gamemaster-characters {
  min-height: 800px;

  div.sheet-row, div.sheet-col {
      @extend %gridRowCol
  }
}

div.sheet-feast-record {
    grid-row-gap: 0;
    
    div.sheet-sub-header,
    div.sheet-repeating-container div.sheet-row {
        grid-template-columns: 1fr 5em 5em 60%;
        grid-row-gap: 2%;
    }

    div.sheet-6column {
        grid-column-gap: 5%;

        h3 {
            font-size: 1em;
        }
    }

    div.sheet-sub-header {
        div.sheet-table {
            grid-column: 1 / 4;
        }
    }

    div.sheet-sub-header:nth-of-type(even) {
        background-color: $light;          
    }
}

div.sheet-gamemaster-characters {
    div.sheet-sub-header,
    div.sheet-repeating-row {
        grid-template-columns: 2fr repeat(8, 1fr);
        grid-row-gap: 5%;
    }

    div.sheet-bottom-border,
    div.sheet-3column,
    div.sheet-notes {
        margin-top: 2%;
    }

    div.sheet-sub-header {
        margin-top: 1%;
    }

    div.sheet-repeating-row {
        padding-bottom: 1%;
    }
}

