input[name='attr_sheet_type'][value='npc'] ~ div.sheet-tabs {
    margin-bottom: -3%;
    width: 85%;
}

div.sheet-npc {
  width: 600px;

  div.sheet-row {
    @extend %gridRowCol
  }

  input[name="attr_character_name"] {
    font-size: 1.2em;
    font-weight: bolder;
    color: $primary;
  }

  div.sheet-name {
    grid-template-columns: 1fr auto 3.5em;
    margin-bottom: 2%;
  }

  div.sheet-stats {
    margin-left: 5%;

    div.sheet-move {
      grid-template-columns: auto 2.5em 1fr;
    }

    div.sheet-damage {
      align-items: end;
      grid-template-columns: 1fr 2.5em 12%;
    }
  }

  div.sheet-skills {
    margin-top: 2%;
    margin-bottom: 2%;
    div.sheet-repeating-container {
      div.sheet-row {
        grid-template-columns: 30% 4em 1fr 8%;
      }
    }
  }

  div.sheet-abilities {
    input[type='text'] {
      font-style: italic;
    }
  }
}