
datalist(id="race")
    each race in ["Aturen", "Noxian Pacifist", "Human", "Abydonian", "Tollan", "Jaffa", "Hak’tyl Jaffa", "Tok’Ra", "Pangaran", "Unas", "Possessed Unas"]
        option(value=`${race}`)= race

datalist(id="origin")
    each origin in ["Arboreal", "Artificial", "Desert","Grasslands","Lunar","Mountainous", "Oceanic", "Rainforest","Starship","Terraformed","Toxic","Tundra","Subterranean","Swamp","Urban","Volcanic"]
        option(value=`${origin}`)= origin

datalist(id="rpgclass")
    each rpgclass in ["Diplomat","Engineer","Medic","Scientist","Scout","Soldier"]
        option(value=`${rpgclass}`)= rpgclass

each skillmod in ["str", "dex", "con", "int", "wis", "cha"]
    input(name=`attr_${skillmod}_mod` type="hidden" value="+0")

