rolltemplate.sheet-rolltemplate-stargate
  .sheet-container(class="sheet-color-{{color}}")
    .sheet-header
      | {{#title}}
      .sheet-title
        | {{title}}
        img.sheet-phoenix(src=`${url}SG-phoenix.png` alt="Stargate Phoenix logo")
      | {{/title}}
      |       {{#subtitle}}
      .sheet-subtitle {{subtitle}}
      | {{/subtitle}}
    .sheet-content
      | {{#allprops() title subtitle desc color}}
      .sheet-key {{key}}
      .sheet-value {{value}}
      |       {{/allprops() title subtitle desc color}}
      |       {{#desc}}
      .sheet-desc {{desc}}
      | {{/desc}}
