//- variables & mixin
- var url = "https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Stargate-RPG/images/";
- var urldev = "https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Stargate-RPG/images/";
- var pages = ["character", "background", "npc", "settings"];
//- var attr-abr = ["str", "dex", "con", "wis", "int", "cha"]; //- key-value instead?
- var attrnames = {str: "strength", dex: "dexterity", con: "constitution", int: "intelligence", wis: "wisdom", cha: "charisma"};
- var skills = [{"attr": "acrobatics","name": "Acrobatics","keyattr": "dex"},{"attr": "animalhandling","name": "Animal Handling","keyattr": "wis"},{"attr": "athletics","name": "Athletics","keyattr": "str"},{"attr": "culture","name": "Culture","keyattr": "wis"},{"attr": "deception","name": "Deception","keyattr": "cha"},{"attr": "engineering","name": "Engineering","keyattr": "int"},{"attr": "insight","name": "Insight","keyattr": "wis"},{"attr": "intimidation","name": "Intimidation","keyattr": "cha"},{"attr": "investigation","name": "Investigation","keyattr": "int"},{"attr": "medicine","name": "Medicine","keyattr": "wis"},{"attr": "nature","name": "Nature","keyattr": "int"},{"attr": "perception","name": "Perception","keyattr": "wis"},{"attr": "performance","name": "performance","keyattr": "cha"},{"attr": "persuasion","name": "Persuasion","keyattr": "cha"},{"attr": "pilot","name": "Pilot","keyattr": "dex"},{"attr": "science","name": "Science","keyattr": "int"},{"attr": "sleight","name": "Sleight of Hand","keyattr": "dex"},{"attr": "stealth","name": "Stealth","keyattr": "dex"},{"attr": "survival","name": "Survival","keyattr": "wis"}];
- var condition = {1: "Disadv: skill checks", 2: "Speed Halved", 3: "Disadv: Attacks, Saves", 4: "Max HP Halved", 5: "Speed Zero", 6: "Death"};
//- var skill-at = [];
//- var skill-name = [];
- var dice = ["d4", "d6", "d8", "d10", "d12"];
- var N = number => [...Array(number+1).keys()].slice(1)
- var cap = word => word.charAt(0).toUpperCase() + word.slice(1)