@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

body {

    font-family: "Viga", Arial;
    font-size: 12px;

}

.sheet-character {
    width: 800px;
    height: auto;
    border: 3px double rgb(57, 9, 9);
    border-radius: 5px;
    display: flex;
    box-shadow: inset 0px 0px 3px 0px rgb(127, 113, 49), 0px 0px 3px 0px rgb(0, 0, 0);
    background: rgb(239, 237, 237);
    flex-wrap: wrap;
    box-sizing: border-box;
}

.sheet-header {
    display: flex;
    height: auto;
    margin: 15px;
    width: 100%;
    flex-direction: row;
}

.sheet-logo-header {
    display: block;
    width: 29%;

    height: 200px;
    position: relative;
    left: 50px;
}

.sheet-profile {
    display: flex;
    overflow: auto;
    width: 50%;
    height: 60%;
    border-radius: 5px;
    border: 3px double black;
    padding: 10px;
    margin-left: 114px;
    box-shadow: inset 0px 0px 3px 0px rgb(127, 113, 49), 0px 0px 3px 0px rgb(0, 0, 0);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
}

label {
    display: inline;
    text-align: center;
}

input {
    background: none;
    margin: 4px;
    width: auto;
    border: none;
    color: rgb(69, 139, 196);
    text-align: center;
    font-weight: bolder;
}

span input {
    display: inline;
    background: none;
    border-bottom: 2px solid rgb(88, 78, 21);
}

.sheet-token img {
    width: 80px;
    height: 80px;
    flex-wrap: wrap;
    position: flex;
    margin: 10px;
    margin-top: 10px;
    order: 2;
}
.insp-prof-container {
    background:none;
    background-repeat: no-repeat;
    background-size:contain;
    height: 50px;
  width: 30%;
    display: flex;
    position: relative;
    left:465px;
   
}


 .ispirationdragon{
  
    padding-left: 55px;
    padding-top: 15px;
  font-size: 14px;
  color: rgb(69, 139, 196);
  width: 100px;
}
div.value{
width: 40%;
box-sizing: content-box;
}
.value{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    align-items: stretch;
    
}
.value input[type="checkbox"]{
opacity: 0;
}
.value input[type="checkbox"]{
transform:rotate(45deg);

}
.value label::before{
    content: "";
    display: inline-block;
    
    height: 16px;
    width: 16px;
    
    border: 1px solid;   
}
.value label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
}
.value label {
    position: relative;
}
.value label::before,
.value label::after {
    position: absolute;
}
/*Outer-box*/
.value label::before {
    bottom: -6px;
    left: -31px;
    width:40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
/*Hide the checkmark by default*/
.value input[type="checkbox"] + label::after {
    content: none;
}
/*Unhide the checkmark on the checked state*/
.value input[type="checkbox"]:checked + label::after {
    content: "";
}
/*Checkmark*/
.value label::after {
    left: -10px;
    bottom:-8px;
    width: 45px;
    height: 45px;
    background: url('https://images.vexels.com/media/users/3/166448/isolated/lists/bfe0a91ecb79df0e300d7a2d8214278c-mythical-dragon-silhouette.png');
    border-radius: 100%;
    border: none;
    background-size: cover;
  
}
.sheet-stat-charbox {
    width: 45%;
    display: flex;
    flex-direction: row;
    order: 3;

}

.sheet-label-hp {
    border: none;
}

img {

    border: none;
}

.sheet-ac-charbox {

    border: none;
}

.deadthrown {
    display: flex;
    border: 3px double black;
    border-radius: 10px;
    position: relative;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 3px 0px rgb(127, 113, 49), 0px 0px 3px 0px rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    height: 75px;
    left: 11px;
    top: 10px;
    padding: 10px;
}

input[type=checkbox]#dead {
    box-shadow: 0px 0px 3px 3px red;
    margin-left: 8.99px;
    border-radius: 10px;
}

input[type=checkbox]#save {
    box-shadow: 0px 0px 3px 3px green;
    margin-right: 10.70px;
}

/* The original width of the "button" displaying the word "Core" */
input[type=radio].sheet-tab-button.sheet-core,
input[type=radio].sheet-tab-button.sheet-core+span {
    right: 116px;
    width: 45px;
}

/* The shifted position and increased width for the same "button", making the longer   */
.lang-es input[type=radio].sheet-tab-button.sheet-core,
.lang-es input[type=radio].sheet-tab-button.sheet-core+span {
    right: 137px;
    width: 76px;
}

/*Configure the tab buttons*/
.charsheet .sheet-character,
.charsheet .sheet-equipment,
.charsheet .sheet-spell,
.charsheet .sheet-features {
    display: none;


}

.tabs {
    border: none;
    background-color: red;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 10%;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"]~div.sheet-character,
.charsheet .sheet-tabstoggle[value="equipment"]~div.sheet-equipment,
.charsheet .sheet-tabstoggle[value="spell"]~div.sheet-spell,
.charsheet .sheet-tabstoggle[value="features"]~div.sheet-features {
    display: block;

}

.sheet-gamestat {
    display: flex;
    height: auto;
    flex-direction: row-reverse;
    box-sizing: border-box;

}

.labelstat {
    border: 3px double black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0px 0px 3px 0px rgb(127, 113, 49), 0px 0px 3px 0px rgb(0, 0, 0);
}

.containerstat1 {
    border: 3px double black;
    width: 76%;
    height: auto;
    float: right;
    display: flex;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(231, 230, 230);
    box-shadow: inset 0px 0px 3px 0px rgb(127, 113, 49), 0px 0px 3px 0px rgb(0, 0, 0);

}

/*stile button*/
.ui-dialog .charsheet button[type=roll]::before {

    content: "";
    background: none;
}

.ui-dialog .charsheet button[type=roll] {

    font-size: 14px;

}

.mod {
    width: 28px;

    border: 3px double black;
    border-top: none;
    border-bottom: none;
}

.iniziative {
    border-radius: 10px;
    text-shadow: none;
    box-shadow: none;
    color: black;
    border: none;
    background: none;
}

.iniziative:hover {
    color: rgb(69, 139, 196);
    background: none;
}

#rollimg {
    position: relative;
    display: flex;
    left: 97px;
}

button {

    width: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(87, 29, 73);
    padding: 5px;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

button:hover {


    color: rgb(69, 139, 196);
    background: black;

}


.statbutton {
    width: 5%;
    background: none;
    border-radius: 100px;
    border: none;
    box-shadow: none;
    color: black;
}

.statbutton:hover {
    background: none;
    border: none;
    box-shadow: none;
}

.sheet-rolltemplate-test div.sheet-template-container {
    border: 2px solid #000 !important;
    border-radius: 3px 3px 3px 3px;
}

.sheet-rolltemplate-test .sheet-template-header {
    background-color: rgba(112, 32, 130, 1);
    color: #000;
    padding: 2px;
    border-bottom: 1px solid black;
    line-height: 1.6em;
    font-size: 1.2em;
}

/* Sheet Rolltemplate*/

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-custom {
    margin-left: -37px;
}

.withoutavatars .sheet-rolltemplate-custom {
    margin-left: -7px;

}

.sheet-rolltemplate-custom .sheet-container {
    border: 3px double rgb(0, 0, 0);
    box-shadow: 0px 0px 3px 0px rgb(127, 113, 49), inset 0px 0px 3px 0px rgb(0, 0, 0);
    font-family: 'Viga', Arial;
    border-radius: 10px;
    /* by default, the border is the same color as the header. You can change this here, e.g. to black */
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-header {
    background-color: var(--header-bg-color);
    /* change text-align to center to center the header text */
    text-align: left;
    color: pink;
    padding: 5px;
}

.sheet-rolltemplate-custom .sheet-title {
    font-size: 1.1em;
}

.sheet-rolltemplate-custom .sheet-subtitle {
    font-size: .9em;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-container {
    /* this is the default color */
    --header-bg-color: rgb(3, 0, 4);
    --header-text-color: ;
}

.sheet-rolltemplate-custom .sheet-container.sheet-color-red {
    --header-bg-color: #F00;
}

.sheet-rolltemplate-custom .sheet-container.sheet-color-green {
    --header-bg-color: #0F0;
    --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-custom .sheet-content {
    display: grid;
    background: black;
    color: rgb(69, 139, 196);
    /* Header formatting - modify the column layout below */
    grid-template-columns: auto auto;
    /* Line height to match default roll template */
    line-height: 1.4em;
}

.sheet-rolltemplate-custom .sheet-content>div {
    padding: 5px;
}

/* Left column */
.sheet-rolltemplate-custom .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;

}

/* Empty rule, use this if you want to change the right column 
  .sheet-rolltemplate-custom .sheet-value {
  }
  */

/* Make even-numbered rows grey */
.sheet-rolltemplate-custom .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content :nth-child(4n) {
    background: #EEE;
}

/* Description field */
.sheet-rolltemplate-custom .sheet-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}