mixin armor
  .sheet-armor-component
    fieldset.repeating_armor
      .sheet-armor-container
        .sheet-armor-type
          input(type='text' class='sheet-armor-type' value='attr_armor_type')
        .sheet-armor-class
          label.sheet-common-btn
            input(type='radio' class='sheet-armor-class' name='attr_armor_class' value='light')
            .sheet-btn-content LIGHT
          label.sheet-common-btn
            input(type='radio' class='sheet-armor-class' name='attr_armor_class' value='heavy')
            .sheet-btn-content HEAVY
        .sheet-armor-protection
          input(type='text' class='sheet-armor-protection' value='attr_armor_protection')
        .sheet-armor-addition
          input(type='text' class='sheet-armor-addition' value='attr_armor_addition')
        .sheet-armor-weight
          input(type='text' class='sheet-armor-weight' value='attr_armor_weight')