mixin armor
  .sheet-equipment-component
    .sheet-equipment-container.sheet-table-header
      .sheet-equipment-container-child.sheet-armor-column-1
        p.sheet-equipment-title TYPE
      .sheet-equipment-container-child.sheet-armor-column-2
        p.sheet-equipment-title CLASS
      .sheet-equipment-container-child.sheet-armor-column-3
        p.sheet-equipment-title PROTECTION
      .sheet-equipment-container-child.sheet-armor-column-4
        p.sheet-equipment-title <em>ENDURE HARM</em> ADDITION
      .sheet-equipment-container-child.sheet-armor-column-5
        p.sheet-equipment-title WEIGHT
    fieldset.repeating_armor
      .sheet-equipment-container
        .sheet-equipment-container-child.sheet-armor-column-1
          input(type='text' class='sheet-armor-type' name='attr_armor_type' placeholder='Type')
        .sheet-equipment-container-child.sheet-armor-column-2
          input(type='text' class='sheet-armor-class' name='attr_armor_class' placeholder='Light/Heavy')
        .sheet-equipment-container-child.sheet-armor-column-3
          input(type='text' class='sheet-armor-protection' name='attr_armor_protection' placeholder='0' value='0')
        .sheet-equipment-container-child.sheet-armor-column-4
          input(type='text' class='sheet-armor-addition' name='attr_armor_addition' placeholder='0' value='0')
        .sheet-equipment-container-child.sheet-armor-column-5
          input(type='text' class='sheet-armor-weight' name='attr_armor_weight' placeholder='0' value='0')