- const imgsrc = 'https://raw.githubusercontent.com/clevett/roll20-character-sheets/blackvoidv1/'

- const trait = ['intellect', 'agility', 'persuasion', 'awareness', 'presence', 'stamina', 'willpower', 'strength'];
- const movementSpeeds = ['walking speed', 'running speed (x2)', 'sprinting speed (x4)']
- const defenceValues = ['agility modifier', 'skill modifier', 'shield modifier', 'other modifiers']
- const weaponFields = ['type', 'size', 'range', 'attack modifier', 'speed', 'damage', 'properties', 'special']