- const imgsrc = 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master'
- const trait = ['intellect', 'agility', 'persuasion', 'awareness', 'presence', 'stamina', 'willpower', 'strength'];
- const movementSpeeds = ['walking speed', 'running speed (x2)', 'sprinting speed (x4)'];
- const defenceValues = ['agility modifier', 'skill modifier', 'shield modifier', 'other modifiers'];
- const weaponFields = ['type', 'size', 'range', 'attack modifier', 'speed', 'damage', 'properties', 'special'];
- const npcTraits = ['agility', 'awareness', 'stamina', 'strength', 'intellect', 'persuasion', 'presence', 'willpower'];
- 
    const npcAttributes = [
        {name: 'health', type:'number'},
        {name: 'size', type:'text'},
        {name: 'move', type:'number'},
        {name: 'defence value', type:'number'},
        {name: 'protection', type:'text'},
    ];
    const npcWeaponFields = [
        {name: 'reach', type:'text'}, 
        {name: 'attack modifier', type:'text'}, 
        {name: 'attack speed', type:'text'}, 
        {name: 'damage', type:'text'}, 
    ];
    const npcRepeating = ['talents', 'flaws', 'attributes', 'skills', 'combat skills', 'attributes', 'powers', 'special', 'equipment'];