.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

@mixin grid-cols($number) {
  grid-template-columns: repeat($number, minmax(0, 1fr));
}

.grid-cols-2 {
  @include grid-cols(2);
}

.grid-cols-3 {
  @include grid-cols(3);
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}
