$spacing: 4px;

.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: calc(#{$spacing} * 1);
}
.gap-2 {
  gap: calc(#{$spacing} * 2);
}
.gap-3 {
  gap: calc(#{$spacing} * 3);
}
.gap-4 {
  gap: calc(#{$spacing} * 4);
}
.gap-5 {
  gap: calc(#{$spacing} * 5);
}
.gap-6 {
  gap: calc(#{$spacing} * 6);
}
.gap-8 {
  gap: calc(#{$spacing} * 8);
}
.gap-10 {
  gap: calc(#{$spacing} * 10);
}
.gap-12 {
  gap: calc(#{$spacing} * 12);
}
.gap-16 {
  gap: calc(#{$spacing} * 16);
}
.gap-20 {
  gap: calc(#{$spacing} * 20);
}
.gap-24 {
  gap: calc(#{$spacing} * 24);
}
.gap-32 {
  gap: calc(#{$spacing} * 32);
}
.gap-40 {
  gap: calc(#{$spacing} * 40);
}
.gap-48 {
  gap: calc(#{$spacing} * 48);
}
.gap-56 {
  gap: calc(#{$spacing} * 56);
}
.gap-64 {
  gap: calc(#{$spacing} * 64);
}

.p-1 {
  padding: calc(#{$spacing} * 1);
}
.p-2 {
  padding: calc(#{$spacing} * 2);
}
.p-3 {
  padding: calc(#{$spacing} * 3);
}
.p-4 {
  padding: calc(#{$spacing} * 4);
}
.p-5 {
  padding: calc(#{$spacing} * 5);
}
.p-6 {
  padding: calc(#{$spacing} * 6);
}
.p-8 {
  padding: calc(#{$spacing} * 8);
}
.p-10 {
  padding: calc(#{$spacing} * 10);
}

.pl-1 {
  padding-left: calc(#{$spacing} * 1);
}
.pl-2 {
  padding-left: calc(#{$spacing} * 2);
}
.pl-3 {
  padding-left: calc(#{$spacing} * 3);
}
.pl-4 {
  padding-left: calc(#{$spacing} * 4);
}
.pl-5 {
  padding-left: calc(#{$spacing} * 5);
}
.pl-6 {
  padding-left: calc(#{$spacing} * 6);
}
.pl-8 {
  padding-left: calc(#{$spacing} * 8);
}
.pl-10 {
  padding-left: calc(#{$spacing} * 10);
}

.pr-1 {
  padding-right: calc(#{$spacing} * 1);
}
.pr-2 {
  padding-right: calc(#{$spacing} * 2);
}
.pr-3 {
  padding-right: calc(#{$spacing} * 3);
}
.pr-4 {
  padding-right: calc(#{$spacing} * 4);
}
.pr-5 {
  padding-right: calc(#{$spacing} * 5);
}
.pr-6 {
  padding-right: calc(#{$spacing} * 6);
}
.pr-8 {
  padding-right: calc(#{$spacing} * 8);
}
.pr-10 {
  padding-right: calc(#{$spacing} * 10);
}

.pt-1 {
  padding-top: calc(#{$spacing} * 1);
}
.pt-2 {
  padding-top: calc(#{$spacing} * 2);
}
.pt-3 {
  padding-top: calc(#{$spacing} * 3);
}
.pt-4 {
  padding-top: calc(#{$spacing} * 4);
}
.pt-5 {
  padding-top: calc(#{$spacing} * 5);
}
.pt-6 {
  padding-top: calc(#{$spacing} * 6);
}
.pt-8 {
  padding-top: calc(#{$spacing} * 8);
}
.pt-10 {
  padding-top: calc(#{$spacing} * 10);
}

.pb-1 {
  padding-bottom: calc(#{$spacing} * 1);
}
.pb-2 {
  padding-bottom: calc(#{$spacing} * 2);
}
.pb-3 {
  padding-bottom: calc(#{$spacing} * 3);
}
.pb-4 {
  padding-bottom: calc(#{$spacing} * 4);
}
.pb-5 {
  padding-bottom: calc(#{$spacing} * 5);
}
.pb-6 {
  padding-bottom: calc(#{$spacing} * 6);
}
.pb-8 {
  padding-bottom: calc(#{$spacing} * 8);
}
.pb-10 {
  padding-bottom: calc(#{$spacing} * 10);
}

.m-1 {
  margin: calc(#{$spacing} * 1);
}
.m-2 {
  margin: calc(#{$spacing} * 2);
}
.m-3 {
  margin: calc(#{$spacing} * 3);
}
.m-4 {
  margin: calc(#{$spacing} * 4);
}
.m-5 {
  margin: calc(#{$spacing} * 5);
}
.m-6 {
  margin: calc(#{$spacing} * 6);
}
.m-8 {
  margin: calc(#{$spacing} * 8);
}
.m-10 {
  margin: calc(#{$spacing} * 10);
}

.ml-1 {
  margin-left: calc(#{$spacing} * 1);
}
.ml-2 {
  margin-left: calc(#{$spacing} * 2);
}
.ml-3 {
  margin-left: calc(#{$spacing} * 3);
}
.ml-4 {
  margin-left: calc(#{$spacing} * 4);
}
.ml-5 {
  margin-left: calc(#{$spacing} * 5);
}
.ml-6 {
  margin-left: calc(#{$spacing} * 6);
}
.ml-8 {
  margin-left: calc(#{$spacing} * 8);
}
.ml-10 {
  margin-left: calc(#{$spacing} * 10);
}

.mr-1 {
  margin-right: calc(#{$spacing} * 1);
}
.mr-2 {
  margin-right: calc(#{$spacing} * 2);
}
.mr-3 {
  margin-right: calc(#{$spacing} * 3);
}
.mr-4 {
  margin-right: calc(#{$spacing} * 4);
}
.mr-5 {
  margin-right: calc(#{$spacing} * 5);
}
.mr-6 {
  margin-right: calc(#{$spacing} * 6);
}
.mr-8 {
  margin-right: calc(#{$spacing} * 8);
}
.mr-10 {
  margin-right: calc(#{$spacing} * 10);
}

.mt-1 {
  margin-top: calc(#{$spacing} * 1);
}
.mt-2 {
  margin-top: calc(#{$spacing} * 2);
}
.mt-3 {
  margin-top: calc(#{$spacing} * 3);
}
.mt-4 {
  margin-top: calc(#{$spacing} * 4);
}
.mt-5 {
  margin-top: calc(#{$spacing} * 5);
}
.mt-6 {
  margin-top: calc(#{$spacing} * 6);
}
.mt-8 {
  margin-top: calc(#{$spacing} * 8);
}
.mt-10 {
  margin-top: calc(#{$spacing} * 10);
}

.mb-1 {
  margin-bottom: calc(#{$spacing} * 1);
}
.mb-2 {
  margin-bottom: calc(#{$spacing} * 2);
}
.mb-3 {
  margin-bottom: calc(#{$spacing} * 3);
}
.mb-4 {
  margin-bottom: calc(#{$spacing} * 4);
}
.mb-5 {
  margin-bottom: calc(#{$spacing} * 5);
}
.mb-6 {
  margin-bottom: calc(#{$spacing} * 6);
}
.mb-8 {
  margin-bottom: calc(#{$spacing} * 8);
}
.mb-10 {
  margin-bottom: calc(#{$spacing} * 10);
}
