div.sheet-tab-content { display: none; }
input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5
{
    display: block;
}
input.sheet-secondary_tab1:checked ~ div.sheet-secondary_tab1,
input.sheet-secondary_tab2:checked ~ div.sheet-secondary_tab2,
input.sheet-secondary_tab3:checked ~ div.sheet-secondary_tab3,
input.sheet-secondary_tab4:checked ~ div.sheet-secondary_tab4,
input.sheet-secondary_tab5:checked ~ div.sheet-secondary_tab5,
input.sheet-secondary_tab6:checked ~ div.sheet-secondary_tab6,
input.sheet-secondary_tab7:checked ~ div.sheet-secondary_tab7,
input.sheet-secondary_tab8:checked ~ div.sheet-secondary_tab8
{
    display:block;
}
input.sheet-tab{
    width:150px;
    height: 20px;
    top: 5px;
    left: 6px;
    margin: 5px;
    cursor: pointer;
    z-index: 1;
}
input.sheet-tab::before{
    content: attr(title);

    border-radius:.5em;
    border:2px solid black;
    text-align: center;
    display: inline-block;
    
    background: black;
    color:white;
    width: 150px;
    height: 20px;
    font-size: 18px;
}
input.sheet-tab:checked::before{
    background:#CCCCCC;
    color:black;
    border-radius:.5em;
    border:2px solid black;
}

input.sheet-small_tab{
    width:90px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
    margin:5px;
}
input.sheet-small_tab::before{
    content: attr(title);
    
    border-radius:.5em;
    text-align: center;
    display: inline-block;
    color:white;
    background:black;
    border:2px solid black;
    width: 90px;
    height:20px;
    font-size: 14px;

}
input.sheet-small_tab:checked::before{
    border:2px solid black;
    background:#CCCCCC;
    color:black;
    border-radius:.5em;
}

div.sheet-tab-content{
    border-top-color: #000;
    margin: 2px 0 0 0;
}

select { margin-bottom: 0; }
button[type=roll].sheet-d10-roll-button::before{
    font-family: "dicefontd10";
    content: "t";
}
button[type=roll].sheet-d100-roll-button::before{
    font-family: "dicefontd10";
    content: "T";
}
button[type=roll].sheet-widebutton{
    width:90px;   
}
input[type=number].sheet-longnum{width:60px;}
input[type=text]{text-align:center;}
input[disabled=true]{
    background-color:#c6c6c6;
    border:1px solid black;
}

div.sheet-wrapper{
    position:relative;
    margin:3px;
    border:5px solid black;
    display:inline-block;
}
div.sheet-page_wrapper{
    width:815px;
    display:block;
}
/* help make room to prevent row from wrapping due to translation */
div.sheet-tab1 div.sheet-style_row > div.sheet-wrapper {
    margin-right: -2px;
}
.sheet-sidebubbled{
    font-size: 11pt;
    width:40px;
    font-weight:bold;
    border:2px solid black;
    color:white;
    float:left;
    background-color:black;
    text-align: center;
    padding-top:1px;
    padding-left:3px;
    padding-bottom:4px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.sheet-characteristic_mod{
    width:60px;
    margin-left:2px;
}
.sheet-title{
    text-align: center;
    font-family: 'station';
    background-color: black;
    color: white;
    padding-bottom:8px;
    padding-top:8px;
    width: 100%;
    font-size: 20pt;
}
.sheet-dark_row{
    color:white;
    background-color:black;
}
.sheet-style_row{
    position:relative;
    display:block;
    margin: 3px;
}

.sheet-cell{display:inline-block;}
.sheet-actual_cell{
    width:55px;
    font-size:9pt;
    padding-top:7px;
    padding-left:7px;
    font-weight:bold
}
.sheet-advantage_text{width:300px;}
div[data-groupname="repeating_initiative"] .repitem:nth-child(even),
div[data-groupname="repeating_secondaryabilities"] .repitem:nth-child(even),
div[data-groupname="repeating_advantage"] .repitem:nth-child(even),
div[data-groupname="repeating_spellpaths"] .repitem:nth-child(even),
div[data-groupname="repeating_spells"] .repitem:nth-child(even),
div[data-groupname="repeating_invocations"] .repitem:nth-child(even),
div[data-groupname="repeating_spellcreature"] .repitem:nth-child(even),
div[data-groupname="repeating_mentalpatterns"] .repitem:nth-child(even),
div[data-groupname="repeating_mentalmods"] .repitem:nth-child(even),
div[data-groupname="repeating_maintainedpowers"] .repitem:nth-child(even),
div[data-groupname="repeating_psychicpowers"] .repitem:nth-child(even),
div[data-groupname="repeating_arsmagnus"] .repitem:nth-child(even),
div[data-groupname="repeating_martialarts"] .repitem:nth-child(even),
div[data-groupname="repeating_kicreatures"] .repitem:nth-child(even),
div[data-groupname="repeating_weaponpoficiencies"] .repitem:nth-child(even)
{
    background:#85D6FF;
}
div[data-groupname="repeating_disciplines"] .repitem
{
    display: inline-block;    
}
div[data-groupname="repeating_weapons"],
div[data-groupname="repeating_rangedweapons"],
div[data-groupname="repeating_kitechniques"]
{
    background:#B2B2B2;
}
div[data-groupname="repeating_weapons"] .repitem,
div[data-groupname="repeating_rangedweapons"] .repitem,
div[data-groupname="repeating_kitechniques"] .repitem
{
    padding:0px;
    border:2px solid black;
    background:white;
    margin:4px;
    display: inline-block;
}
.sheet-kipool{
    width: 30px;
    padding-left:2px;
}
div .repitem{
    padding:4px;
}

.sheet-longbubble{
    width:70px;    
}
.sheet-secondary_bubble{
    width:80px;
    float:none;
}
.sheet-red{
    color:red;
    font-weight:bold;
}
.sheet-secondary_bubble.sheet-red{
    color:white;
    border:2px solid red;
}
.sheet-smalltitle{
    font-size:13pt;    
}
.sheet-point_tracker{
    border-radius:1em;
}
.sheet-ki_row{
    position:relative;
    width:93%;
    display:inline-block;
}
.sheet-ki_cost{
    float:right;
    margin-right:3px;
}
.sheet-ki_title{
    margin-right:10px;
    font-weight:bold;
}
.sheet-ki_indent1{
    margin-left:10px;    
}
.sheet-ki_indent2{
    margin-left:15px;    
}
.sheet-ki_indent3{
    margin-left:25px;    
}
.sheet-ki_indent4{
    margin-left:40px;    
}
.sheet-ki_seal_checkbox{
    margin-left:22px;
    margin-right:21px;
    margin-top:2px;
}
.sheet-fullbubble{
    border:3px solid black;
    border-radius:.5em;
    width:40px;
    margin:5px;
    text-align:center;
    background-color:black;
    color:white;
    font-weight:bold;
}
/* Start CSS for ki ability box here*/
input.sheet-useofki:not(:checked) ~ .sheet-req_useofki{
    display:none;
}
input.sheet-kidetection:not(:checked) ~ .sheet-req_kidetection{
    display:none;
}
input.sheet-weightelim:not(:checked) ~ .sheet-req_weightelim{
    display:none;
}
input.sheet-levitation:not(:checked) ~ .sheet-req_levitation{
    display:none;
}
input.sheet-pext:not(:checked) ~ .sheet-req_pext{
    display:none;
}
input.sheet-enearmor:not(:checked) ~ .sheet-req_enearmor{
    display:none;
}
input.sheet-grtarmor:not(:checked) ~ .sheet-req_grtarmor{
    display:none;
}
input.sheet-aext:not(:checked) ~ .sheet-req_aext{
    display:none;
}
input.sheet-kitransmit:not(:checked) ~ .sheet-req_kitransmit{
    display:none;
}
input.sheet-kiheal:not(:checked) ~ .sheet-req_kiheal{
    display:none;
}
input.sheet-useofnecenergy:not(:checked) ~ .sheet-req_useofnecenergy{
    display:none;
}
input.sheet-useofnecenergy:not(:checked) ~ .sheet-req_kiconceal{
    display:none;
}
input.sheet-elimofnecess:not(:checked) ~ .sheet-req_elimofnecess{
    display:none;
}
input.sheet-penreduction:not(:checked) ~ .sheet-req_penreduction{
    display:none;
}
input.sheet-charaugment:not(:checked) ~ .sheet-req_charaugment{
    display:none;
}
input.sheet-physdom:not(:checked) ~ .sheet-req_physdom{
    display:none;
}
input.sheet-physchange:not(:checked) ~ .sheet-req_physchange{
    display:none;
}
input.sheet-multbody:not(:checked) ~ .sheet-req_multbody{
    display:none;
}
input.sheet-grtmultbody:not(:checked) ~ .sheet-req_grtmultbody{
    display:none;
}
input.sheet-magnitude:not(:checked) ~ .sheet-req_magnitude{
    display:none;
}
input.sheet-ki_inhumanity:not(:checked) ~ .sheet-req_ki_inhumanity{
    display:none;
}
/* end CSS for ki abilities*/
/* CSS for nemesis abilities */

input.sheet-useofnemesis:not(:checked) ~ .sheet-req_useofnemesis{
    display:none;
}

input.sheet-armemptiness:not(:checked) ~ .sheet-req_armemptiness{
    display:none;
}

input.sheet-kicancel:not(:checked) ~ .sheet-req_kicancel{
    display:none;
}
input.sheet-magicancel:not(:checked) ~ .sheet-req_magicancel{
    display:none;
}
input.sheet-matricancel:not(:checked) ~ .sheet-req_matricancel{
    display:none;
}
input.sheet-bodyofempty:not(:checked) ~ .sheet-req_bodyofempty{
    display:none;
}
input.sheet-essenceempty:not(:checked) ~ .sheet-req_essenceempty{
    display:none;
}
input.sheet-nem_inhumanity:not(:checked) ~ .sheet-req_nem_inhumanity{
    display:none;
}
/* end CSS for nemesis abilities*/
