<input type="hidden" name="attr_ability_checks_query_var">
<button type="roll" name="roll_ability_checks_query_macro" class="visible-button" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{subheader=Ability Check}} @{roll_info} @{ability_checks_query_var}">
  {{'ABILITY_CHECKS_QUERY' | translate}}
</button>
<div class="mar-t-sm"></div>
<input type="hidden" name="attr_ability_checks_macro_var">
<button type="roll" name="roll_ability_checks_macro" class="visible-button" value="/w @{character_name} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Ability Checks}} {{text=@{ability_checks_macro_var}}}">
  {{'ABILITY_CHECKS' | translate}}
</button>