<div class="wrap-box macros-for-consumption center">
  <div class="shaped-row">
    <div class="col-13">
      <!-- inject:saveQuery:html -->
      <!-- endinject -->
      <button type="roll" name="roll_save_query_macro" value="@{save_query_macro}">Saving throw</button>
    </div>
    <div class="col-10">
      <!-- inject:checkQuery:html -->
      <!-- endinject -->
      <button type="roll" name="roll_check_query_macro" value="@{check_query_macro}">Check</button>
    </div>
    <div class="hidden">
      <!-- inject:meleeQuery:html -->
      <!-- endinject -->
      <button type="roll" name="roll_melee_query_macro" value="NOT WORKING"></button>
    </div>
  </div>

  <div class="wrap-box-title">{{'MACROS' | translate}}</div>
</div>