.charsheet {
  font-family: 'Roboto', Helvetica, sans-serif;
}
.charsheet div div.sheet-pane {
  display: none;
}
.charsheet input.sheet-tab,
.charsheet input.sheet-tab + span {
  margin: 0 15px 15px 0;
  display: inline-block;
  vertical-align: middle;
}
.charsheet input.sheet-tab1:checked ~ .sheet-pane.sheet-maindiv,
.charsheet input.sheet-tab2:checked ~ .sheet-pane.sheet-maindiv2,
.charsheet input.sheet-tab3:checked ~ .sheet-pane.sheet-maindiv3 {
  display: block;
}
.charsheet .sheet-pane {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -10px;
  height: 1139px;
  width: 880px;
}
.charsheet .sheet-pane label {
  display: block;
  float: none;
  width: 100%;
  margin-bottom: 5px;
  font-size: 1em;
}
.charsheet .sheet-pane input,
.charsheet .sheet-pane textarea {
  background: rgba(242, 242, 242, 0.5);
  border: none;
  padding: 4px;
  width: 100%;
  border-radius: 2px;
}
.charsheet .sheet-pane textarea {
  box-sizing: border-box;
  width: 100%;
}
.charsheet .sheet-pane input.sheet-encircled {
  position: absolute;
  background: none;
  font-size: 1.5em;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-width: 0;
  border-color: #ff0031;
  font-family: 'Metal Mania', Helvetica, sans-serif;
}
.charsheet .sheet-pane input.sheet-encircled[type="number"] {
  padding: 10px 1px 10px 15px;
}
.charsheet .sheet-pane input.sheet-encircled.sheet-lg {
  border-radius: 35px;
  height: 67px;
  width: 67px;
}
.charsheet .sheet-pane input.sheet-encircled.sheet-lg + input + button[type="roll"] {
  position: absolute;
  border-radius: 20px;
  height: 39px;
  width: 39px;
}
.charsheet .sheet-pane input.sheet-encircled.sheet-sm + input + button[type="roll"] {
  position: absolute;
  border-radius: 15px;
  height: 29px;
  width: 29px;
}
.charsheet .sheet-pane input.sheet-encircled:focus {
  border-width: 2px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 2px black;
}
.charsheet .sheet-pane input.sheet-mod {
  background: rgba(255, 255, 255, 0.4);
  font-size: 1.25em;
  text-align: center;
  padding: 3px;
  width: 25px;
  border-radius: 10px;
  position: absolute;
  /* turn off number arrows/spinners */
}
.charsheet .sheet-pane input.sheet-mod::-webkit-inner-spin-button, .charsheet .sheet-pane input.sheet-mod::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet .sheet-pane fieldset {
  border: none;
  padding: 0;
}
.charsheet .sheet-maindiv {
  background: url("http://s20.postimg.org/bozp7kxel/sheet_final.jpg") no-repeat center center transparent;
  background-size: cover;
  /* 1st Row */
  /* 2nd Row */
  /* 3rd Row */
}
.charsheet .sheet-maindiv .sheet-3colrow {
  padding-top: 15px;
}
.charsheet .sheet-maindiv .sheet-3colrow .sheet-col {
  box-sizing: border-box;
  margin: 0;
  padding: 15px 30px 0 30px;
  width: 33%;
}
.charsheet .sheet-maindiv .sheet-3colrow .sheet-col:nth-child(1) {
  padding-right: 0px;
}
.charsheet .sheet-maindiv .sheet-3colrow .sheet-col:nth-child(1) label {
  text-align: left;
  font-size: 1em;
}
.charsheet .sheet-maindiv .sheet-3colrow .sheet-col:nth-child(2) label {
  text-align: center;
  font-size: 1em;
}
.charsheet .sheet-maindiv .sheet-3colrow .sheet-col:nth-child(3) {
  padding-left: 0px;
  width: 32%;
}
.charsheet .sheet-maindiv .sheet-3colrow .sheet-col:nth-child(3) label {
  text-align: right;
  font-size: 1em;
}
.charsheet .sheet-maindiv .sheet-row-1 {
  height: 275px;
  position: relative;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-ancestry-select {
  width: 50%;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-col:nth-child(1) textarea {
  height: 185px;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-col:nth-child(2) input {
  height: 40px;
  margin-bottom: 4px;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-col:nth-child(3) textarea {
  height: 185px;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-col .sheet-box {
  position: relative;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-col .sheet-box label.sheet-lvl {
  display: none;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-col .sheet-box input {
  box-sizing: border-box;
  width: 100%;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-col .sheet-box input[name="attr_ancestry"] {
  width: 75%;
}
.charsheet .sheet-maindiv .sheet-row-1 .sheet-col .sheet-box input[name="attr_lvl"] {
  left: 186px;
  top: -5px;
  width: 50px;
  height: 50px;
}
.charsheet .sheet-maindiv .sheet-row-2 {
  height: 620px;
  position: relative;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-left-col,
.charsheet .sheet-maindiv .sheet-row-2 .sheet-right-col {
  width: 175px;
  height: 580px;
  padding: 15px 0 15px 25px;
  position: absolute;
  top: 0;
  left: 0;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-left-col label,
.charsheet .sheet-maindiv .sheet-row-2 .sheet-right-col label {
  text-align: left;
  font-size: 1em;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-left-col textarea,
.charsheet .sheet-maindiv .sheet-row-2 .sheet-right-col textarea {
  width: 100%;
  height: 95%;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-right-col {
  padding: 15px 25px 15px 0;
  right: 0;
  left: auto;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-right-col label {
  text-align: right;
  font-size: 1em;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box label {
  display: none;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box label.sheet-damage-max {
  display: inline-block;
  position: absolute;
  bottom: 300px;
  right: 430px;
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  width: auto;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input {
  /*	Begin positioning attributes */
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input.sheet-lg:not([name="attr_damage"]) {
  font-size: 2em;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input.sheet-lg:not([name="attr_health"]) {
  padding-bottom: 18px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_strength"] {
  left: 297px;
  top: 100px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_strength"] + input + button[type="roll"] {
  left: 341px;
  top: 156px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_strength"] + .sheet-mod {
  left: 317px;
  top: 142px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_size"] {
  left: 235px;
  top: 152px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_intellect"] {
  right: 303px;
  top: 100px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_intellect"] + input + button[type="roll"] {
  right: 351px;
  top: 152px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_intellect"] + .sheet-mod {
  right: 323px;
  top: 143px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_perception"] {
  right: 245px;
  top: 93px;
  padding-bottom: 20px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_perception"] + input + button[type="roll"] {
  right: 270px;
  top: 136px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_perception"] + .sheet-mod {
  right: 259px;
  top: 122px;
  font-size: 1em;
  line-height: 1em;
  padding: 2px 0;
  width: 20px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_agility"] {
  left: 221px;
  top: 280px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_agility"] + input + button[type="roll"] {
  left: 285px;
  top: 286px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_agility"] + .sheet-mod {
  left: 240px;
  top: 322px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_speed"] {
  left: 198px;
  top: 200px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_will"] {
  right: 227px;
  top: 280px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_will"] + input + button[type="roll"] {
  right: 290px;
  top: 285px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_will"] + .sheet-mod {
  right: 248px;
  top: 321px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_insanity"] {
  right: 241px;
  top: 218px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_health"] {
  bottom: 118px;
  left: 405px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_healing"] {
  left: 416px;
  bottom: 196px;
  height: 42px;
  width: 42px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_defense"] {
  bottom: 155px;
  left: 265px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_corruption"] {
  bottom: 155px;
  right: 271px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_power"] {
  right: 246px;
  top: 7px;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_damage"] {
  bottom: 288px;
  right: 377px;
  width: 139px;
  height: 139px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 70px;
  font-size: 3em;
  color: #ff0031;
  text-shadow: 1px 1px 1px #000;
}
.charsheet .sheet-maindiv .sheet-row-2 .sheet-attr-box input[name="attr_damage_max"] {
  bottom: 300px;
  right: 416px;
  background: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 0;
  font-size: 1em;
}
.charsheet .sheet-maindiv .sheet-2colrow .sheet-col {
  box-sizing: border-box;
  padding: 0 15px 0 30px;
  width: 75%;
  margin-right: 0;
}
.charsheet .sheet-maindiv .sheet-2colrow .sheet-col.sheet-even {
  width: 24.5%;
  padding-left: 0;
}
.charsheet .sheet-maindiv .sheet-2colrow .sheet-col label {
  text-align: left;
  font-size: 1em;
}
.charsheet .sheet-maindiv .sheet-2colrow .sheet-col textarea {
  height: 180px;
}
.charsheet .sheet-maindiv .sheet-row-3 label {
  display: inline-block;
  font-size: 1em;
}
.charsheet .sheet-maindiv .sheet-row-3 label:nth-child(1) {
  width: 330px;
}
.charsheet .sheet-maindiv .sheet-row-3 label:nth-child(2) {
  width: 75px;
}
.charsheet .sheet-maindiv .sheet-row-3 label:nth-child(3) {
  width: 50px;
}
.charsheet .sheet-maindiv .sheet-row-3 label:nth-child(4) {
  width: 100px;
}
.charsheet .sheet-maindiv .sheet-row-3 .repeating_weapons + .repcontainer {
  max-height: 177px;
  overflow: auto;
}
.charsheet .sheet-maindiv .sheet-row-3 .attr_weapon_name {
  display: inline-block;
  width: 275px;
}
.charsheet .sheet-maindiv .sheet-row-3 select {
  margin-bottom: 0;
}
.charsheet .sheet-maindiv .sheet-row-3 select.sheet-dtype {
  width: 55px;
}
.charsheet .sheet-maindiv .sheet-row-3 select.sheet-dnumber {
  width: 55px;
}
.charsheet .sheet-maindiv .sheet-row-3 .attr_ddamage {
  display: inline-block;
  width: 80px;
}
.charsheet .sheet-maindiv2 {
  background: url("http://s20.postimg.org/p61pnke1p/sheet_final_bkg.jpg") no-repeat center center transparent;
  background-size: cover;
}
.charsheet .sheet-maindiv2 .sheet-row-1 {
  padding: 15px 30px 0 30px;
}
.charsheet .sheet-maindiv2 .sheet-row-1 label {
  text-align: left;
  font-size: 1em;
}
.charsheet .sheet-maindiv3 {
  background: url("http://s20.postimg.org/p61pnke1p/sheet_final_bkg.jpg") no-repeat center center transparent;
  background-size: cover;
}
.charsheet .sheet-maindiv3 .sheet-row-1 {
  padding: 15px 30px 0 30px;
}
.charsheet .sheet-maindiv3 .sheet-row-1 label {
  text-align: left;
  font-size: 1em;
}
