include ../fields.pug

.gearTab
  .specialGear
    h2(data-i18n='special-gear') Special Gear
    +repeating('specialGear')
      .card.specialItem
        .head
          .name: +input('text', 'name', { i18n: 'item-name-place' })(placeholder='Item name', style='width: 2.3in;')
          .floatRight
            +labelledBoxH('Type', { i18n: 'type' }).type: +select('type')(style='width: 1in;')
              +option('Main hand', { i18n: 'main-hand' })
              +option('Off hand', { i18n: 'off-hand' })
              +option('Armor', { i18n: 'armor' })
              +option('Belt', { i18n: 'belt' })
              +option('Body', { i18n: 'body' })
              +option('Chest', { i18n: 'chest' })
              +option('Eyes', { i18n: 'eyes' })
              +option('Feet', { i18n: 'feet' })
              +option('Hands', { i18n: 'hands' })
              +option('Head', { i18n: 'head' })
              +option('Headband', { i18n: 'headband' })
              +option('Neck', { i18n: 'neck' })
              +option('Ring 1', { i18n: 'ring-one' })
              +option('Ring 2', { i18n: 'ring-two' })
              +option('Shield', { i18n: 'shield' })
              +option('Shoulders', { i18n: 'shoulders' })
              +option('Wrists', { i18n: 'wrists' })
              +option('Other', { i18n: 'other' })
              +option('Consumable', { i18n: 'consumable' })
              +option('Slotless', { i18n: 'slotless' })
            +labelledBoxH('Count', { i18n: 'count' }).count: +input('number', 'count')(style='width: 0.5in;')
        .body: .description: +textarea('description', { i18n: 'description-place' })(placeholder='Description')
  .mundaneGear
    h2(data-i18n='mundane-gear') Mundane Gear
    +textarea('mundaneGear')(style='height: 5in;')
    .money
      h2(data-i18n='money') Money
      .centeredH
        +labelledBoxV('PP', { i18n: 'platinum-pieces-u' }): +input('number', 'money_pp')
        +labelledBoxV('GP', { i18n: 'gold-pieces-u' }): +input('number', 'money_gp')
        +labelledBoxV('SP', { i18n: 'silver-pieces-u' }): +input('number', 'money_sp')
        +labelledBoxV('CP', { i18n: 'copper-pieces-u' }): +input('number', 'money_cp')
