include ../fields.pug

.gearTab
  .specialGear
    h2 Special Gear
    +repeating('specialGear')
      .card.specialItem
        .head
          .name: +input('text', 'name')(placeholder='Item name', style='width: 2.3in;')
          .floatRight
            +labelledBoxH('Type').type: +select('type')(style='width: 1in;')
              +option('Main hand')
              +option('Off hand')
              +option('Armor')
              +option('Belt')
              +option('Body')
              +option('Chest')
              +option('Eyes')
              +option('Feet')
              +option('Hands')
              +option('Head')
              +option('Headband')
              +option('Neck')
              +option('Ring 1')
              +option('Ring 2')
              +option('Shield')
              +option('Shoulders')
              +option('Wrists')
              +option('Other')
              +option('Slotless')
            +labelledBoxH('Count').count: +input('number', 'count')(style='width: 0.5in;')
        .body: .description: +textarea('description')(placeholder='Description')
  .mundaneGear
    h2 Mundane Gear
    +textarea('mundaneGear')(style='height: 5in;')
    .money
      h2 Money
      .centeredH
        +labelledBoxV('PP'): +input('number', 'money_pp')
        +labelledBoxV('GP'): +input('number', 'money_gp')
        +labelledBoxV('SP'): +input('number', 'money_sp')
        +labelledBoxV('CP'): +input('number', 'money_cp')
