include ../../data/difficulties

.sites-container
  fieldset.repeating_sites
    .site-container
      .site-row
        .site-column.site-background
          p.site-title Site Name:
          input(type="text" class="site-name" name="attr_site-name" placeholder="Site Name")
        .site-column.site-background
          p.site-title Objective:
          input(type="text" class="site-name" name="attr_site-objective" placeholder="Objective")
      .site-row.site-background
        .site-column
          p.site-title Theme:
          input(type="text" class="site-name" name="attr_site-theme" placeholder="Theme")
        .site-column
          p.site-title Domain:
          input(type="text" class="site-name" name="attr_site-domain" placeholder="Domain")
      .site-details-bar
        label.site-details.btn
          input(type='checkbox' class='hide site-details-button' name='attr_site_details_button')
          .site-details-content DETAILS
        label.site-details.btn
          input(type='checkbox' class='hide site-details-button' name='attr_site_theme_domain_button')
          .site-details-content THEMES & DOMAINS
      
      input(type="checkbox" class="show-site-info hide" name="attr_site_details")
      .show-site-info.showhide
        .full-width
          .site-progress-header
            each difficulty, index in difficulties
              label.difficulty
                if difficulty.checked
                  input(type="radio" class="hide" name="attr_rank" value=index checked)
                else
                  input(type="radio" class="hide" name="attr_rank" value=index)
                h5=difficulty.text
          .progress
            div
              select(name="attr_progress_one" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_two" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_three" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_four" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_five" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_six" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_seven" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_eight" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_nine" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              select(name="attr_progress_ten" class="progress-input") 
                option(value="0" selected) 
                option(value="1") -
                option(value="2") +
                option(value="3") *
                option(value="4") #
              button(type="roll" title="Conclude your progress" name="rollprogress1" value="&{template:ironsworn_progress} {{header=@{character_name} Conclude Your Progress}} {{progressname=@{site-name}}} {{progress=[[@{progress-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}")
              input(type="text" class="hide" name="attr_progress-filled" value="floor((@{progress_one}+@{progress_two}+@{progress_three}+@{progress_four}+@{progress_five}+@{progress_six}+@{progress_seven}+@{progress_eight}+@{progress_nine}+@{progress_ten})/4)" disabled="true")
        
        .full-width
          h3.site-denizens-divide &emsp;DENIZENS&emsp;
          
          .denizen-row
            .denizen-column
              p.denizen-title Very Common 01-27
              input(type="text" class="denizen-input denizen-background" name="attr_vCommonDen1" placeholder="Denizen")
            .denizen-column
              p.denizen-title Common 28-41
              input(type="text" class="denizen-input denizen-background" name="attr_CommonDen1" placeholder="Denizen") 
            .denizen-column
              p.denizen-title Common 42-55
              input(type="text" class="denizen-input denizen-background" name="attr_CommonDen2" placeholder="Denizen") 
            .denizen-column
              p.denizen-title Common 56-69
              input(type="text" class="denizen-input denizen-background" name="attr_CommonDen3" placeholder="Denizen") 
          
          .denizen-row 
            .denizen-column
              p.denizen-title Uncommon 70-75
              input(type="text" class="denizen-input denizen-background" name="attr_uncommonDen1" placeholder="Denizen") 
            .denizen-column
              p.denizen-title Uncommon 76-81
              input(type="text" class="denizen-input denizen-background" name="attr_uncommonDen2" placeholder="Denizen") 
            .denizen-column
              p.denizen-title Uncommon 82-87
              input(type="text" class="denizen-input denizen-background" name="attr_uncommonDen3" placeholder="Denizen") 
            .denizen-column
              p.denizen-title Uncommon 88-93
              input(type="text" class="denizen-input denizen-background" name="attr_uncommonDen4" placeholder="Denizen") 
          
          .denizen-row 
            .denizen-column
              p.denizen-title Rare 94-95
              input(type="text" class="denizen-input denizen-background" name="attr_rareDen1" placeholder="Denizen") 
            .denizen-column
              p.denizen-title Rare 96-97
              input(type="text" class="denizen-input denizen-background" name="attr_rareDen2" placeholder="Denizen") 
            .denizen-column
              p.denizen-title Rare 98-99
              input(type="text" class="denizen-input denizen-background" name="attr_rareDen3" placeholder="Denizen") 
            .denizen-column
              p.denizen-title Unforeseen 100
              input(type="text" class="denizen-input denizen-background" name="attr_unforeseenDen1" placeholder="Denizen") 
          
          .denizen-row 
            .denizen-option-column 
              p.denizen-option When the outcome of a move prompts an encounter with a denizen, you may:
            .denizen-operand-column 
              p.denizen-operand >
            .denizen-option-column 
              p.denizen-option Choose or introduce a denizen based on the situation and what you know of this place.
            .denizen-operand-column 
              p.denizen-operand or
            .denizen-option-column 
              p.denizen-option Roll on the matrix to generate a random encounter. If the field is blank, add a new denizen.
            .denizen-operand-column 
              p.denizen-operand or
            .denizen-option-column 
              p.denizen-option Identify a denizen as ‘likely’ to appear, and Ask the Oracle. If the answer is “no,” roll on the matrix.
            .denizen-operand-column 
              p.denizen-operand or
            .denizen-option-column 
              p.denizen-option Pick two denizens, rate one as ‘likely’, and Ask the Oracle to determine which you encounter.

        .full-width
          h3.site-divide-notes &emsp;NOTES&emsp;
          textarea(class="site-notes" name="attr_site-notes")

      input(type="checkbox" class="show-theme-domains hide" name="attr_site_theme_domain")
      .show-theme-domains.showhide
        .card-column
          h3 Theme
          include ./cards/themes
        .card-column
          h3 Domain
          include ./cards/domains
