/* #region WHOLE-SHEET USE */

@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/orbitron/v25/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
  }

.charsheet {
	min-height: 100%; 
	font-family: 'Arial';
	color: white;
	font-size: 14px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c64027+0,193d57+18,20364e+83,0e202e+99 */
	background: #c64027; /* Old browsers */
	background: -moz-linear-gradient(top, #c64027 0%, #193d57 18%, #20364e 83%, #0e202e 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #c64027 0%,#193d57 18%,#20364e 83%,#0e202e 99%); /* Chrome10-20,Safari5.1-6 */
	background: linear-gradient(to bottom, #c64027 0%,#193d57 18%,#20364e 83%,#0e202e 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera20+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c64027', endColorstr='#0e202e',GradientType=0 ); /* IE6-9 */
}

.width-half {
	width: 50%;
}

.width-tiny {
	width: 1%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.stats-center {
	text-align: center;
}

.stats-center table {
	display: inline-table;
}

.InputText {
	font-size: 14px;
	color: black;
	vertical-align: middle;
}

.left,
input.left {
	text-align: left;
	padding-left: 4px;
}

.number {
	width: 50px;
}

.number td {
	width: 50px;
}

button[type=roll] {
	font-size: 1em;
	font-family: initial;
}

/* #region: Input & Buttons */

	.charactersheet .hover-blue {
		background: white;
		color: var(--dark-secondarytext);
		font-family: 'Orbitron';
		font-weight: bold;
	}

	.charactersheet .hover-blue:hover {
		cursor: pointer;
		background: #dddddd;
	}

	.charactersheet .hover-blue:active {
		color: white;
		background-color: #3399FF;
	}

/* #endregion: Buttons */

	/* #region Tables */
		table {
			border-collapse: collapse;
			margin-top: -2px;
			margin-bottom: 5px;
			width: 100%;
		}

		.repcontainer > .repitem table,
		table.repeating-header {
			margin-bottom: 0;
		}

		.NPC td {
			background-color: white;
			text-align: center;
		}

		td,
		th {
			border-color: #70c4db;
			border-style: solid;
			border-width: 2px;
			border-collapse: collapse;
		}

		td.empty {
			border-style: none;
		}
	/* #endregion */

	/* #region Input fields*/
		.charactersheet input[type=text] {
			border: none;
			width: 100%;
			font-size: 15px;
			font-family: Arial;
		}

		.charactersheet input[type=number] {
			border: none;
			width: 98%;
			font-size: 15px;
			font-family: Arial;
			text-align: center;
			-moz-appearance: textfield;
			appearance: textfield;
		}

		.charactersheet input[type=number]::-webkit-inner-spin-button, 
		.charactersheet input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			appearance: none;
			margin: 0; 
		}

		.charactersheet input[type=text] {
			text-align: center;
		}

		.charactersheet input[type=radio]+label:hover,
		input[type=radio]:hover + span {
			cursor: pointer;
			background: #dddddd;
		}

		.charactersheet textarea {
			border: none;
			margin: 0;
			width: calc(100% - 8px);
			outline: none;
			resize: vertical;
			height: 100%;
		}

		.charactersheet fieldset {
			border: none;
			padding: 0;
			margin: 0;
		}

		.charactersheet select {
			border: none;
			margin: 0;
			width: 100%;
			height: 22px;
			font-size: 12px;
		}
	/* #endregion */

	/* #region Headers */
		.header-banner,
		.charactersheet h1 {
			background-image: linear-gradient(to bottom left, transparent 50%, black 50%), linear-gradient(black, black), linear-gradient(black, black);
			background-size: 20px 20px, 100% 100%, 100% 100%;
			background-position: 100% 0%, -20px 0%, 100% 20px;
			background-repeat: no-repeat;
			font-family: 'Orbitron';
			font-weight: bold;
			font-size: 1.3em;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 8px;
			color: #f3a715;
			width: calc(100% - 6px);
			background-image: linear-gradient(#70c4db, #70c4db), linear-gradient(#70c4db, #70c4db), linear-gradient(#70c4db, #70c4db), linear-gradient(#70c4db, #70c4db), linear-gradient(to bottom left, transparent calc(50% - 1px), #70c4db calc(50% - 1px), #70c4db calc(50% + 1px), black calc(50% + 1px)), linear-gradient(black, black), linear-gradient(black, black);
			background-size: 2px 100%, 2px 100%, 100% 2px, 100% 2px, 20px 20px, 100% 100%, 100% 100%;
			background-position: 0% 0%, 100% 20px, -20px 0%, 0px 100%, 100% 0%, -20px 0%, 100% 20px;

		}

		.header-banner span {
			text-align: left;
			text-transform: uppercase;
		}

		div.column div.header-banner {
			margin-bottom: 0;
		}
	/* #endregion */

	/* #region StatLabel/StatInput */
		.StatInput {
			background: white;
			font-size: 0;
		}

		.StatInput input[type=number],
		.charactersheet td.StatInput > input[type=number] {
			width: 100%;
		}

		.StatInput label {
			width: 12px;
			margin-bottom: 0px;
		}

		.StatLabel,
		td.StatLabel,
		.charactersheet h3 {
			font-family: Arial;
			color: White;
			text-align: center;
			background: #1c3156;
			padding: 5px;
			font-size: 1.0em;
			font-weight: bold;
			text-transform: uppercase;
		}

		.charactersheet h3 {
			border: 2px solid #70c4db;
		}

		.StatLabelSub,
		th {
			font-family: 'Arial Narrow';
			font-weight: bold;
			text-align: center;
			background: #b9e1ef;
			color: #2d320c;
			font-size: 90%;
			text-transform: uppercase;
			vertical-align: bottom;
			line-height: 22px;
		}
	/* #endregion */

	/* #region Flexbox */
	.container {
		display: flex;
	}

	.row {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 0;
	}

	.column {
		display: flex;
		flex-direction: column;
		width: 100%;
	/* 	float: left;
		width: 48%;
		padding-top: 4px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px; */
	}

	/* #endregion */

/* #endregion Whole-sheet use */

/* #region GENERAL SECTION RULES */

div.section {
	padding-top: 4px;
}

/* #endregion */

/* #region: Sheet tabs */

	input[id^=tab]:checked + label[for^=tab],
	input[id^=type-tab]:checked + label[for^=type-tab] {
		background: Black;
		color: #ff9900;
	}

	label[for^=type-tab],
	label[for^=tab] {
		font-family: 'Orbitron';
		text-align: center;
		display: inline-block;
		background: #eeeeee;
		color: darkgray;
		font-weight: bold;
		vertical-align: middle;
		margin: 0;
		margin-bottom: 5px;
		border-color: #66cccc;
		border-style: solid;
		position: relative;
		padding-right: 0;
	}

	label[for^=type-tab] {
		border-width: 1px;
		font-size: 1em;	
		width: 60px;
		height: 20px;
		line-height: 20px;
		top: 2px;
	}

	label[for^=tab] {
		font-size: 1.3em;
		line-height: 24px;
		border-width: 2px;
		width: 110px;
		height: 24px;
		position: static;
	}

	/*this hides the contents of each tab by default*/
	div#type-PC > div[id^=section],
	div[id^="type"] { 	
		display: none;
	}

	/*this shows the tab content when the appropriate input field is selected*/
	input#tab1:checked ~ div#section-overview,
	input#tab2:checked ~ div#section-talents,
	input#tab3:checked ~ div#section-gear,
	input#tab4:checked ~ div#section-host,
	input#tab5:checked ~ div#section-sheut,
	input#type-tab1:checked ~ div#type-PC,
	input#type-tab2:checked ~ div#type-NPC,
	input#type-tab3:checked ~ div#type-Geist,
	input#type-tab4:checked ~ div#type-Shell,
	input#type-tab5:checked ~ div#type-Vehicle,
	input#type-tab-legacy:checked ~ div#type-Legacy,
	input#type-tab-group:checked ~ div#type-Group {
		display: inherit;
	}

	/* Displays all tabs when the "all" button is selected. */
	input#tab99:checked ~ div[id^=section] { 	
		display: block;
	}

	input[id^=tab],
	input[id^=type-tab] {
		display: none;
	}

/* #endregion: Sheet Tabs */

/* #region: Non-PC Sheets */

	div#type-PC ~ div[id^=type] {
		margin-top: 2px;
	}

/* #endregion: NPC Sheets */

/* #region OVERVIEW TAB*/

	div#overview-column-left {
		width: 60%;
	}

	div#overview-column-right {
		width: 40%;
		padding-left: 4px;
	}

	/* #region CHARACTER INFO */
	table#character-info {
		margin-top: 0;
	}

	td.StatInput.width-small {
		width: 15%;
	}

	td.StatLabel.font-small {
		font-size: 0.8em;
	}

	table#character-info tr:nth-child(4) td:nth-child(4),
	table#tracker-assets tr:nth-child(2) td:nth-child(3) {
		text-align: center;
	}

	table#character-info input[name="attr_cashflow"],
	table#character-info input[name="attr_cashflow_max"] {
		width: 43%;
	}

	/* #endregion */

	/* #region Infinity points / reactions trackers */

	#trackers-action {
		justify-content: space-between;
		align-items: center;
	}

	#tracker-infinity-points,
	#tracker-reactions {
		width: auto;
	}

	#tracker-refresh,
	#tracker-momentum {
		width: 96px;
	}

	#tracker-refresh input,
	#tracker-momentum input {
		height: 22px;
	}

	#tracker-infinity-points tr.tracker-radio td,
	#tracker-reactions tr.tracker-radio td {
		width: 22px;
	}
	
	/* #endregion */

	/* #region Damage bonus / XP */
	table#damage-bonus {
		width: 60%;
	}

	table#damage-bonus tr td.StatLabelSub {
		width: 25%;
	}

	table#damage-bonus tr td.StatInput input[type=number] {
		width: 30%;
	}

	table#xp {
		width: 30%;
	}

	table#xp tr td.StatLabelSub {
		width: 50%;
	}
	/* #endregion */

	/* #region Damage Trackers */

		tr.tracker-radio td {
			height: 22px;
			background-color: white;
		}

		table.tracker-damage tr.tracker-radio td {
			width: calc(100% / 9);
		}

		tr.tracker-radio td label {
			color: black;
			font-size: medium;
			text-align: center;
			line-height: 22px;
			padding: 0;
			width: 100%;
			height: 100%;
			margin: 0;
		}

		tr.tracker-radio td input[type=radio] {
			display: none;
		}

		tr.tracker-radio td input[type=radio]:checked + label {
			color: white;
			background-color: #3399FF;
		}

		table.tracker-damage tr:nth-child(4) td {
			text-align: center;
		}

		table.tracker-damage tr:nth-child(4) td input[type=number] {
			height: 22px;
			width: 28%;
		}

	/* #endregion */

	/* #region Harm Effects */
	table#tracker-harms {
		min-width: 236px;
	}
	/* #endregion */

	/* #region: Defences */
	
		div#column-defences {
			padding-left: 4px;
			margin-right: 0;
		}

		div#column-defences table {
			margin-right: 0;
		}

		table#defences-soaks td,
		table#defences-armour-soaks td,
		table#defences-armour-equipped td {
			width: 33%;
		}

		table#defences-soaks .StatInput > input[type="number"] {
			width: 30%;
		}
	
	/* #endregion: Defences */

	/* #region Traits */
		table#tracker-traits tr td.StatLabelSub {
			width: 25px;
		}
	/* #endregion */

	/* #region Skills */
		.SkillTable {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		.SkillTable input[disabled] {
			display: none
		}

		.SkillTableHeader td:first-child {
			font-family: Arial;
			color: White;
			text-align: left;
			background: #1c3156;
			padding-left: 10px;
			font-size: 1em;
			font-weight: bold;
			text-transform: uppercase;
		}

		.SkillTableHeader td:nth-child(2) {
			background: white;
		}

		.SkillTableHeader td:nth-child(2) span {
			margin: 0 -2px 0 -2px;
		}

		.SkillTableHeader td:nth-child(2) input[type=number]:nth-child(1) {
			width: 26px;
		}

		.SkillTableHeader td:nth-child(2) input[type=number]:nth-child(3) {
			width: 18px;
		}

		tr.SkillTableHeader td:nth-child(3) {
			background: white;
			font-size: 1em;
			border-left-style: none;
		}

		tr.SkillTableHeaderSub td {
			font-family: Arial Narrow;
			font-weight: bold;
			text-align: center;
			background: #b9e1ef;
			color: #2d320c;
			font-size: 90%;
			width: 50px;
		}

		tr.SkillTableHeaderSub td:first-child {
			text-align: left;
			width: 30%;
			border-right-style: none;
			padding-left: 10px;
		}

		tr.SkillTableHeaderSub td:nth-child(2) {
			border-left-style: none;
			width: auto;
		}

		tr.Skill td {
			background: white;
		}

		tr.Skill td:first-child {
			padding-left: 10px;
			border-right-style: none;
			font-family: Arial Narrow, Arial, sans-serif;
			font-weight: normal;
			text-align: left;
			background: #ebf7fb;
			color: #2d320c;
			font-size: 90%
		}

		tr.Skill td:nth-child(2) {
			border-left-style:none;
			font-family: Arial Narrow;
			font-weight: normal;
			text-align: center;
			background: #ebf7fb;
			color: #2d320c;
			font-size: 90%
		}
	/* #endregion */

/* #endregion */

/* #region TALENTS TAB */

	div#section-talents table tr:first-child td.StatLabelSub {
		width: 13%;
	}

	div#section-talents table tr:first-child td.StatInput {
		width: 10%;
	}

/* #endregion */

/* #region GEAR TAB */

#section-gear #gear-column-left {
	width: 48%;
}

	/* #region Weapon Stats Repeating */
		table.WeaponStats {
			margin: 0;
			margin-top: 4px;
		}

		/* Range, Burst, Size headers */
		.WeaponStats-EvenLabel {
			width: 10%;
		}

		/* Damage fields */
		table.WeaponStats tr:nth-child(3) td:nth-child(2),
		table.WeaponStats tr:nth-child(3) td:nth-child(4) {
			width: 10%;
		}

		/* Damage cell "merge" */
		table.WeaponStats tr:nth-child(3) td:nth-child(2) {
			border-right-style: none;
		}

		table.WeaponStats tr:nth-child(3) td:nth-child(3) {
			border-left-style: none;
			border-right-style: none;
			text-align: center;
			width: 1%;
		}

		table.WeaponStats tr:nth-child(3) td:nth-child(4) {
			border-left-style: none;
		}

		table.WeaponStats tr:nth-child(3) td:nth-child(4) input[type=text] {
			width: 50%;
		}

		/* Bottom row: Damage type & reloads */

		td.WeaponType {
			font-size: 1em;
			color: black;
			padding-left: 4px;
		}

		span.symbol-a {
			font-family: 'Pictos';
		}

		span.symbol-b {
			font-family: 'Pictos Custom';
		}

		.WeaponStats-radio {
			width: 22px;
		}

		.WeaponStats-bottom button {
			margin: 0;
			height: 22px;
		}

		.WeaponStats-bottom span {
			color: white;
		}

		.WeaponStats-bottom tr td:nth-child(4) {
			width: 10%;
		}

	/* #endregion */

	/* #region: Right Column */

		#header-gear {
			width: 48%;
			margin-left: 4px;
		}

		/* #region: Assets table */

			/* Header row */
			table#tracker-assets tr:first-child td {
				width: 22%;
			}

			table#tracker-assets tr:first-child td:last-child {
				width: 12%;
			}

			/* Input row */
			table#tracker-assets tr:nth-child(2) td:last-child {
				background-color: white;
				text-align: center;
			}

			table#tracker-assets tr:nth-child(2) td:last-child button[type=roll] {
				display: inline;
			}

			table#tracker-assets tr:nth-child(2) td:nth-child(3) input[type=number] {
				width: 24%;
			}

		/* #endregion: Assets table */

		/* #region: Items table */

			/* Table header */

			#table-items-header tr td:first-child,
			.repcontainer[data-groupname="repeating_gear"] > .repitem table tr td:nth-child(2) input[type=text] {
				text-align: left;
				padding-left: 4px;
			}

			#table-items-header tr td:nth-child(2),
			#table-items-header tr td:nth-child(3),
			.repcontainer[data-groupname="repeating_gear"] > .repitem table tr td:nth-child(2),
			.repcontainer[data-groupname="repeating_gear"] > .repitem table tr td:nth-child(3) {
				width: 15%;
			}

		/* #endregion: Items table */

	/* #endregion: Right column */

	/* #region: Ammo and Resources */

		/* #region: Ammo */

			#column-ammo {
				width: 58%;
			}

			/* Repeating ammo rows */

			#column-ammo .repcontainer[data-groupname="repeating_Ammo"] > .repitem table tr:first-child td:last-child {
				width: 10%;
			}

		/* #endregion: Ammo */

		/* #region: Resources */

			/* Section header */
			#column-resources {
				width: 38%;
				margin-left: 4px;
			}

			/* Repeating table */
			#table-resources-header tr td:last-child,
			#column-resources .repcontainer[data-groupname="repeating_resources"] > .repitem table tr td:last-child {
				width: 20%;
			}

			/* Repeating table */

		/* #endregion: Resources */

	/* #endregion: Ammo and Resources */

	/* #region: Hacking */

		/* Hacking device info */
		#header-hacking-device {
			margin-top: 4px;
		}

		#table-hacking-device tr td {
			width: 7%;
		}

		#table-hacking-device tr td:first-child,
		#table-hacking-device tr td:nth-child(2) {
			width: auto;
		}

		/* Programs */
		#table-hacking-programs tr:nth-child(2) td:nth-child(1),
		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(1) {
			width: 12%
		}

		#table-hacking-programs tr:nth-child(2) td:nth-child(2),
		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(2) {
			width: 8%
		}

		#table-hacking-programs tr:nth-child(2) td:nth-child(3),
		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(3) {
			width: 15%
		}

		#table-hacking-programs tr:nth-child(2) td:nth-child(4) {
			width: 10%
		}

		#table-hacking-programs tr:nth-child(2) td:nth-child(5),
		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(7) {
			width: 50%
		}

		#table-hacking-programs tr:nth-child(2) td:nth-child(6),
		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(8) {
			width: 5%
		}
		
		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(4) {
			width: 3%;
			border-right-style: none;
		}

		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(5) {
			width: 2%;
			background-color: white;
			text-align: center;
			border-left-style: none;
			border-right-style: none;
		}

		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(6) {
			width: 5%;
			border-left-style: none;
		}

		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(6) input {
			width: 50%;
		}

		.repcontainer[data-groupname="repeating_programs"] > .repitem table tr td:nth-child(8) {
			background-color: white;
			text-align: center;
		}
		
	/* #endregion: Hacking */

/* #endregion: GEAR TAB */

/* #region: HOST TAB */

	/* Host info */
	table#host-attributes tr:nth-child(2) td {
		width: 14%;
	}

	/* #region: Augmentations */
		table#augmentations-headers tr:nth-child(2) td:nth-child(1),
		table#augmentations-headers tr:nth-child(2) td:nth-child(2),
		table#augmentations-headers tr:nth-child(2) td:nth-child(4),
		.repcontainer[data-groupname="repeating_augmentations"] > .repitem table tr td:nth-child(1),
		.repcontainer[data-groupname="repeating_augmentations"] > .repitem table tr td:nth-child(2),
		.repcontainer[data-groupname="repeating_augmentations"] > .repitem table tr td:nth-child(4) {
			width: 20%;
		}

		table#augmentations-headers tr:nth-child(2) td:nth-child(3),
		.repcontainer[data-groupname="repeating_augmentations"] > .repitem table tr td:nth-child(3) {
			width: 30%;
		}

		table#augmentations-headers tr:nth-child(2) td:nth-child(5),
		.repcontainer[data-groupname="repeating_augmentations"] > .repitem table tr td:nth-child(5) {
			width: 10%;
		}

	/* #endregion: Augmentations */

	table#character-description tr:nth-child(3) td {
		width: 25%;
	}

/* #endregion: HOST TAB */

/* #region: SHEUT TAB */

	/* #region: Left column */

		table#age-languages tr:first-child td:first-child {
			width: 10%;
		}

		/* Character background */

		table#character-background td {
			padding: 0;
			font-size: 0.8em;
			line-height: 1em;
			vertical-align: middle;
		}

		table#character-background tr:first-child td {
			font-size: 1em;
			padding: 4px;
		}

		table#character-background tr:nth-child(n+2):nth-child(-n+10) td:first-child {
			width: 20%;
		}

		table#lifepath-notes tr:nth-child(2) td {
			background-color: white;
		}

		table#faction-handler tr:first-child td:first-child,
		table#contacts tr:nth-child(2) td:first-child {
			width: 20%;
		}

		table#faction-handler tr:first-child td:nth-child(2),
		table#contacts tr:nth-child(2) td:nth-child(2) {
			width: 80%;
		}
	
	/* #endregion: Left column */

	/* #region: Right column */
	
		#section-sheut > .row > .column:nth-child(2) {
			padding-left: 4px;
		}

		.repcontainer[data-groupname="repeating_contacts"] > .repitem table tr td:first-child,
		table#personality tr:nth-child(2) td:nth-child(1),
		table#family tr:nth-child(2) td:nth-child(1) {
			width: 20%;
			vertical-align: middle;
		}

		.repcontainer[data-groupname="repeating_contacts"] > .repitem table tr td:nth-child(2),
		table#personality tr:nth-child(2) td:nth-child(2),
		table#family tr:nth-child(2) td:nth-child(2) {
			width: 80%;
		}

		/* Lifestyles */
		table#lifestyles tr:nth-child(2) td:nth-child(1),
		.repcontainer[data-groupname="repeating_lifestyles"] > .repitem table tr td:nth-child(1) {
			width: 65%;
		}

		table#lifestyles tr:nth-child(2) td:nth-child(2),
		.repcontainer[data-groupname="repeating_lifestyles"] > .repitem table tr td:nth-child(2) {
			width: 20%;
		}

		table#lifestyles tr:nth-child(2) td:nth-child(3),
		.repcontainer[data-groupname="repeating_lifestyles"] > .repitem table tr td:nth-child(3) {
			width: 15%;
		}

		/* Family */
		table#family td:first-child {
			vertical-align: middle;
		}

		/* Fake IDs */
		table#fake-ids tr:nth-child(2) td:nth-child(1),
		.repcontainer[data-groupname="repeating_ids"] > .repitem table tr td:nth-child(1) {
			width: 85%;
		}

		table#fake-ids tr:nth-child(2) td:nth-child(2),
		.repcontainer[data-groupname="repeating_ids"] > .repitem table tr td:nth-child(2) {
			width: 15%;
		}
	
	/* #endregion: Right column */

	#section-sheut > .column > div {
		border: solid #70c4db;
		border-width: 0px 2px 2px 2px;
		background: white;
	}

/* #endregion: SHEUT TAB */

/* #region: GROUP TAB */

	#type-Group .grid {
		display: grid;
		grid-template-columns: 1fr 30px 1fr;
		justify-items: center;
		justify-content: space-between;
		align-items: center;
		margin-top: 25px;
	}

	#type-Group input {
		width: 100%;
	}

	#type-Group .grid > div {
		text-align: center;
		width: 200px;
	}

	#type-Group .grid div.row {
		background: white;
		border: solid 2px #70c4db;
		border-width: 0px 2px 2px 2px;
		width: auto;
	}

	#type-Group img {
		margin-bottom: 1em;
		width: 150px;
		height: 150px;
	}

	#type-Group button {
		width: 30px;
		border: solid #70c4db;
		border-width: 0px 1px 0px 1px;
		text-align: center;
		justify-content: center;
	}

	#type-Group button[name="act_momentum-to-heat"] {
		width: 30px;
		height: 30px;
		padding: 0;
	}

/* #endregion: GROUP TAB */

/* === Legacy selectors === */

table.NPC {
	color: black;
}

table.expertise th {
	width: 12%;
}

table.expertise td {
	width: 7%;
	text-align: center;
}

table.defences th {
	width: 15%;
}

table.defences td {
	width: 18%;
}

table.defences tr:nth-child(2) td.StatInput input {
	width: 47%;
}

/* === FONT SIZING === */

.font-small {
	font-size: 0.7em;
}

.button-damage {
	display: none;
}

input[value="Infowar"]:checked ~ button.button-infowar,
input[value="Psywar"]:checked ~ button.button-psywar,
input[value="Melee"]:checked ~ button.button-melee,
input[value="Ranged"]:checked ~ button.button-ranged {
	display: inline;
}

input.weapon-tab {
    width: 50px;
    height: 28px;
    cursor: pointer;	
	position: static;
	opacity: 0;
	z-index: 9999;
	margin: 0;
}

span.weapon-tab {
	font-family: Tahoma;
	text-align: center;
    display: inline;
	font-size: 16px;	
	background: #eeeeee;
	color: DarkGrey;
	font-weight: bold;
	
	border: 1px solid #66cccc;
	
	width: 50px;
    height: 28px;
    cursor: pointer;	
	position: static;
	margin: 0;
	vertical-align: middle;
	margin-left: -50px;
}

input.weapon-tab-1:checked + span.weapon-tab-1,
input.weapon-tab-2:checked + span.weapon-tab-2,
input.weapon-tab-3:checked + span.weapon-tab-3,
input.weapon-tab-4:checked + span.weapon-tab-4 {
    background: #333366;
    color: white;
}

table.WeaponStats-bottom td.StatInput button {
	margin: 0;
	width: 24px;
	height: 24px;
	text-align: center;
	position: relative;
	left: 5px;
}

/* #region: NPC */

	#npc-attributes input,
	#geist-attributes input,
	#shell-attributes input {
		width: 30%;
	}

	#npc-attributes td,
	#geist-attributes td,
	#shell-attributes td {
		text-align: center;
	}

/* #endregion: NPC */

/* === ROLL TEMPLATES === */

.sheet-rolltemplate-skillroll table {
	border-collapse: collapse;
	width: 100%;
}

.sheet-rolltemplate-skillroll td {
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: .8em;
	border-style: none;
	color: black;
	background: #eff7fa;
	font-family: Arial;
}

.sheet-rolltemplate-label {
	text-align: right;
	width: 80px;
	padding-right: 3px;
}

.sheet-rolltemplate-body span {
	padding: 2px;
	background: #ffff99;
	font-weight: bold;
}

.sheet-rolltemplate-greenborder {
	border: 1px solid #33cc00;
}

.sheet-rolltemplate-blueborder {
	border: 1px solid #3366ff;
}

.sheet-rolltemplate-skillroll .sheet-subheader {
	text-align: center;
	padding: 2px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#981c1c+0,281c26+52 */
	background: #981c1c; /* Old browsers */
	background: -moz-linear-gradient(top, #981c1c 0%, #281c26 52%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #981c1c 0%,#281c26 52%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #981c1c 0%,#281c26 52%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#981c1c', endColorstr='#281c26',GradientType=0 ); /* IE6-9 */
	color: white;
	border-style: solid;
	border-width: 1px;
	border-collapse: separate;
	border-color: #be4135;
}

.sheet-rolltemplate-skillroll .subheader span.inlinerollresult {
	background-color: transparent;
	border-style: none;
	padding: 0;
	margin: 0;
}

.sheet-rolltemplate-skillroll th {
	height: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Infinity-2d20/rolltemplate-header.png");
	background-color: #0d3956;
	color: white;
	padding: 5px;
	font-size: 1.3em;
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;
	border-style: solid solid none;
	border-width: 1px;
	border-color: black;
	font-family: Arial;	
}

.icon-N-small {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
}

/* #region: Legacy sheet styles */

	

	/* === GENERAL === */
	.type-legacy {
		min-width: 820px;
		color: black;
	}

	.type-legacy .legacy-header-fight {
		margin-bottom: 2px;
		padding: 1px 2px;

		background: #00008B;
		color: white;
		font-weight: bold;
	}

	.type-legacy .legacy-header {
		margin-bottom: 4px;
		padding: 2px 4px;

		background: #00008B;
		color: white;
		font-weight: bold;
	}

	.type-legacy .legacy-section {
		float: left;
		width: 100%;

		margin: 4px 0;
		padding: 1px;
		box-sizing: border-box;
	}

	.type-legacy .legacy-half {
		max-width: 50%;
	}

	.type-legacy .legacy-break {
		clear: both;
	}

	.type-legacy label,
	.type-legacy select {
		margin: 0;
		color: black;
	}

	.sheet-darkmode .type-legacy label {
		color: black;
	}

	.type-legacy input[type=text] {
		text-align: left;
	}

	.type-legacy textarea {
		margin: 0;
		width: 100%;
		height: 215px;
		resize: vertical;
		box-sizing: border-box;
	}

	.type-legacy .legacy-repitem,
	.type-legacy .repitem {
		margin-bottom: 2px;
	}

	/* Override Roll20 Button styling for something less conspicious */
	.type-legacy button {
		height: 22px;
		line-height: 16px;
		margin: 0 !important;
		border-radius: 0 !important;
		background-image: none !important;
		border: none !important;
		box-shadow: none !important;
	}

	.type-legacy .repitem button {
		height: 28px;
		line-height: 20px;
	}

	/* === BASIC === */
	.type-legacy .legacy-logo {
		width: 820px;
		margin: 4px 4px;
		float: center;

	}

	input#type-tab-legacy:checked ~ div#type-Legacy {
		background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Infinity-2d20/Infinitybackground.png") repeat, none;
	}

	.type-legacy .legacy-section-basic .legacy-column {
		width: calc(50% - 200px);
	}

	/* === SKILLS === */
	.type-legacy .legacy-section-skills {
		min-width: 400px;
	}

	.type-legacy .legacy-section-skills input[type=number] {
		width: 60px;
	}

	.type-legacy .legacy-section-skills {
		text-align: right;
		font-weight: bold;
		padding: 0 4px;
	}

	.type-legacy .legacy-skill-on {
		border: 1px solid black;
	}

	.type-legacy .legacy-skill-off {
		background-color: #E3E3E3;
		border: 1px solid gray;
	}

	/* === Momentum Tracker === */

	.type-legacy .legacy-radio-tracker label {
		display: inline;
	}

	.type-legacy .legacy-radio-tracker input[type=radio] {
		width: auto;
		margin-right: 2px;
		position: relative;
		top: -2px;
	}

	.type-legacy td.legacy-radio-tracker {
		text-align: right;
	}

	/* STRESS TRACKERS */

	.type-legacy table.legacy-stress-tracker label {
		text-align: center;
		font-weight: normal;
		color: DarkGrey;
	}

	.type-legacy table.legacy-stress-tracker input[type=radio] {
		display: none;
		width: 5px;
	}

	.type-legacy table.legacy-stress-tracker input[type=checkmark] {
		display: inline;
		width: auto;
		margin: 0px;
	}

	.type-legacy table.legacy-stress-tracker input[type=text] {
		text-align: center;
	}

	.type-legacy table.legacy-stress-tracker label:hover {
		cursor: pointer;
		color: Red;
	}

	.type-legacy table.legacy-stress-tracker td {
		width: 9%;
		padding: 1px;
		margin: 0px;
		text-align: center;
	}

	.type-legacy table.legacy-stress-tracker input:checked + span {
		color: Black;
		font-weight: bold;
	}

	.type-legacy tr.legacy-stress-tracker-harms td:first-child {
		text-align: right;
		font-weight: bold;
		border-right-style: none;
	}

	.type-legacy tr.legacy-stress-tracker-harms td:nth-child(2),
	.type-legacy tr.legacy-stress-tracker-harms td:nth-child(3),
	.type-legacy tr.legacy-stress-tracker-harms td:nth-child(4),
	.type-legacy tr.legacy-stress-tracker-harms td:nth-child(5),
	.type-legacy tr.legacy-stress-tracker-harms td:nth-child(6) {
		border-left-style: none;
		border-right-style: none;
	}

	.type-legacy tr.legacy-stress-tracker-harms td:nth-child(7) {
		border-right-style: none;
	}

	.type-legacy tr.legacy-stress-tracker-harms td:nth-child(8) {
		border-left-style: none;
	}

	/* === CONSEQUENCES === */
	.type-legacy .legacy-section-consequences {
		float: right;
	}

	.type-legacy .legacy-section-consequences select {
		width: 100px;
		float: left;
	}

	/* === VERSION INFO ===*/

	.type-legacy td.legacy-version-info span,
	.type-legacy td.legacy-version-info label,
	.type-legacy span.legacy-version-info {
		font-family: "Lucida Console";
		font-size: 0.8em;
		font-weight: normal;
		text-align: left;
	}

	/* SHEET TRANSFER */
	.type-legacy div.legacy-old-stress {
		display:none;
	}

	.type-legacy input.legacy-old-stress:checked ~ div.legacy-old-stress{
		display:block;
	}

	.note {
		font-size: 0.7em;
	}

/* #endregion: Legacy sheet styles */