/*============= TABS =============*/
/*----------- Tabs Setup -------------*/

div.sheet-core-content { 
    display: none; 
    width:840px;
}

.charsheet div[class^="sheet-section"] { 	
	/*visibility: hidden;
	opacity: 0;
	max-height:0;
	overflow: hidden;*/
	display: none;
}
.charsheet {
    background: url('http://mrgone.rocksolidshells.com/pdf/Borders/NWoD_ChangingBreeds_Border_NoLogo.jpg');
    background-size:100%;
}

.charsheet input.sheet-tab1:checked ~ div.sheet-section-1,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-2,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-3,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-4,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-5,
.charsheet input.sheet-tab6:checked ~ div.sheet-section-6,
.charsheet input.sheet-tab7:checked ~ div.sheet-section-7,
.charsheet input.sheet-tab8:checked ~ div.sheet-section-8,
.charsheet input.sheet-tab9:checked ~ div.sheet-section-9 {
	/*max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: auto;*/
	display: block;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	/*max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;*/
	display: block;
}

.charsheet input.sheet-tab {
    width: 100px;
    height: 40px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
    margin-bottom:10px;
}

.charsheet span.sheet-tab {
	text-align: center;
    display: inline-block; 
	font-size: 13px;	
	background: white; 
	color: black; 
	font-weight: bold;
	border-radius: 4px;
	
	width: 100px; /*originally 87px*/
    height: 40px; /*originally 20px*/
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -101px;/*originally 91px*/
    text-shadow: none;
    border:2px solid black;
}

.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6,
.charsheet input.sheet-tab7:checked + span.sheet-tab7,
.charsheet input.sheet-tab8:checked + span.sheet-tab8,
.charsheet input.sheet-tab9:checked + span.sheet-tab9,
.charsheet input.sheet-tab10:checked + span.sheet-tab10,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 {
    
    background: black;  /*originally ab8b57*/  
    color: white; /*originally white*/
	border-radius: 4px;
    border:2px solid white;
}

/*----------- End Tab Setup -----------*/

.charsheet label {
    display: inline-block;
    width: 75px;
    text-align: right;
    padding-bottom: 0px;
}

.charsheet input {
    display: inline-block;
    width: 150px;
}

.charsheet {
    background-color: white;
}

.charsheet select {
    width: 42px;
    margin-bottom:0;
}
.charsheet textarea {
    resize:vertical;
}

.charsheet {
    font-family: 'RufscriptRegular'; 
    text-shadow: 0em 0em 0.3em white, 0em 0em 0.3em white, 0em 0em 0.3em white, 0em 0em 0.3em white, 0em 0em 0.3em white;
}
    
@font-face {
    font-family: 'RufscriptRegular'; 
    src: url('http://openfontlibrary.org/assets/fonts/rufscript/92112519f91e7a5ab80261a017c09b72/f886671cdc88e2725676a457e14e8512/RufscriptRegular.ttf');
    font-weight: normal; 
    font-style: normal;
}
/*-----radio boxes-----*/

/* -----Hide actual radio----- */
input.sheet-normal[type="radio"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake radio----- */
input.sheet-normal[type="radio"] + span::before
{
    margin-right: 0px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    font-family: 'New Time Roman'; 
    color:black;
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 3em;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-normal[type="radio"]:checked ~ input.sheet-normal[type="radio"] + span::before
{    
    content: "";
}

/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}

input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}

input.sheet-zero[type="radio"] + span::before
{
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
}
/*------------end of traits-----------*/
/*===== Sheet-Dots ======*/
div.sheet-dots,
input[class^=sheet-dots],
input[class^=sheet-dots] + span {
    width: 100px;
}

input[class^=sheet-dots],
input[class^=sheet-dots] + span,
input[class^=sheet-dots] + span::before {
    position: absolute;
    top: 0;
    left: 0;
}

div.sheet-dots {
    display: inline-block;
    position: relative;
    padding: 0;
}

input[class^=sheet-dots] + span {
    display: inline-block;
    z-index: 0;
}

input[class^=sheet-dots] {
    opacity: 0;
    z-index: 1;
}

input.sheet-dots0 { z-index: 2; }

input.sheet-dots0:checked ~ input.sheet-dots1,
input.sheet-dots1:checked ~ input.sheet-dots2,
input.sheet-dots2:checked ~ input.sheet-dots3,
input.sheet-dots3:checked ~ input.sheet-dots4,
input.sheet-dots4:checked ~ input.sheet-dots5,
input.sheet-dots5:checked ~ input.sheet-dots6,
input.sheet-dots6:checked ~ input.sheet-dots7,
input.sheet-dots7:checked ~ input.sheet-dots8,
input.sheet-dots8:checked ~ input.sheet-dots9,
input.sheet-dots9:checked ~ input.sheet-dots10 { z-index: 3; }

input.sheet-dots0:checked + span::before { content: url(http://i.imgur.com/eUXnlQL.gif); }
input.sheet-dots1:checked + span::before { content: url(http://i.imgur.com/B56grPL.gif); }
input.sheet-dots2:checked + span::before { content: url(http://i.imgur.com/OvEM9Nz.gif); }
input.sheet-dots3:checked + span::before { content: url(http://i.imgur.com/JD00nZ8.gif); }
input.sheet-dots4:checked + span::before { content: url(http://i.imgur.com/yQEgEN4.gif); }
input.sheet-dots5:checked + span::before { content: url(http://i.imgur.com/ifyabX6.gif); }
input.sheet-dots6:checked + span::before { content: url(http://i.imgur.com/7zqn2Ah.gif); }
input.sheet-dots7:checked + span::before { content: url(http://i.imgur.com/9qKJMZN.gif); }
input.sheet-dots8:checked + span::before { content: url(http://i.imgur.com/8OOQGjn.gif); }
input.sheet-dots9:checked + span::before { content: url(http://i.imgur.com/doV4Ctw.gif); }
input.sheet-dots10:checked + span::before { content: url(http://i.imgur.com/h0lObrB.gif); }

input.sheet-dots0,
input[class^=sheet-dots]:checked + span + input { cursor: pointer; }

input[class^=sheet-dots]:hover + span { box-shadow: inset 0 0 8px 4px #88f; }

span.sheet-attribute-name {
    font-weight: bold;
    font-size: 20px;
    vertical-align: super;
    display: inline-block;
width:100px;    height: 57px;
}

/*------------Better Checkbox-----------*/
/* Hide actual radio/checkbox */
input[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin-top: -18px;
    margin-left: -10px;
    margin-right: -11px;
    margin-bottom: 0px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio/checkbox */
input[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Fake checkbox */
input[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + span::before
{
    content: "✓";
}
/*------------End of Better Checkbox-----------*/
/*------------Claw Checkbox-----------*/
/* Hide actual radio/checkbox */
input.sheet-claw[type="checkbox"] {
    opacity: 0;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0px;
    left: 30px;
    margin-top: 0px;
    margin-left: 00px;
    margin-right: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input.sheet-claw[type="checkbox"] + span::before {
    background:url('http://mongoosemachine.com/images/interface/claw-mark-mid-left.png') no-repeat;
    background-size:100%;
    width: 30px;
    height: 30px;
    box-shadow:none;
    border:none;
    -webkit-filter: drop-shadow(0px 0px 5px red);

    position: relative;
    top: 0px;
    left: 0px;
}

input.sheet-claw[type="checkbox"]:checked + span::before {
    background:url('http://pngimg.com/upload/scratches_PNG6175.png') no-repeat;
    background-size:100%;
    content:"";
    width: 30px;
    height: 30px;
    box-shadow:none;
    border:none;
    -webkit-filter: drop-shadow(0px 0px 5px white);

}

input.sheet-claw:checked ~ div.sheet-body {
    display: none;
}

/*------------Dice Pools-----------*/

input.sheet-DP1Spec + span::before,
input.sheet-DP2Spec + span::before,
input.sheet-DP2Spec + span::before,
input.sheet-DP3Spec + span::before,
input.sheet-DP4Spec + span::before,
input.sheet-DP5Spec + span::before
{
    opacity: 1;
    margin-bottom: 10px;
}

div.sheet-DP1,
div.sheet-DP2,
div.sheet-DP2,
div.sheet-DP3,
div.sheet-DP4,
div.sheet-DP5
{
    display: inline;
}
div.sheet-DP1wSpec,
div.sheet-DP2wSpec,
div.sheet-DP2wSpec,
div.sheet-DP3wSpec,
div.sheet-DP4wSpec,
div.sheet-DP5wSpec
{
    display: none;
}

input.sheet-DP1Spec:checked ~ div.sheet-DP1,
input.sheet-DP2Spec:checked ~ div.sheet-DP2,
input.sheet-DP2Spec:checked ~ div.sheet-DP2,
input.sheet-DP3Spec:checked ~ div.sheet-DP3,
input.sheet-DP4Spec:checked ~ div.sheet-DP4,
input.sheet-DP5Spec:checked ~ div.sheet-DP5
{
    display: none;
}

input.sheet-DP1Spec:checked ~ div.sheet-DP1wSpec,
input.sheet-DP2Spec:checked ~ div.sheet-DP2wSpec,
input.sheet-DP2Spec:checked ~ div.sheet-DP2wSpec,
input.sheet-DP3Spec:checked ~ div.sheet-DP3wSpec,
input.sheet-DP4Spec:checked ~ div.sheet-DP4wSpec,
input.sheet-DP5Spec:checked ~ div.sheet-DP5wSpec
{
    display: inline;
}
/*------------End of Dice Pools-----------*/

/*------------Forms-----------*/
.sheet-center {
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
 }

input.sheet-forms[type="radio"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-forms[type="radio"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

.sheet-formsbanner {
    background: url('http://www.allmystery.de/i/t6ea465_Full_Moon_Offering_I_by_fobiapharmer.jpg') no-repeat;
    background-size:100%;
}

.sheet-shifter {
    color:white;
    text-shadow: 0px 0px 3px black,0px 0px 3px black,0px 0px 3px black;
    font-size:1.2em;
}

.sheet-shifter th {
    color:black;
    text-shadow: 0px 0px 3px white,0px 0px 3px white,0px 0px 3px white;
    font-size:1.4em;
}

.sheet-red {
    color:red;
    text-shadow: 0px 0px 3px black,0px 0px 3px black,0px 0px 3px black;
    font-size:1.4em;
}

.sheet-smallcaps {
    font-variant: small-caps;
}
/*===== Other Radio Buttons =====*/
/* Fake radio */
input.sheet-forms[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Fake radio */
input.sheet-forms[type="radio"] + span::before {
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-forms[type="radio"]:checked + span::before {
    content: "";
    background: black;
    background: -moz-radial-gradient(white,green, red);
    background: -webkit-radial-gradient(white, green,red);
    background: -ms-radial-gradient(white,green, red);
    background: -o-radial-gradient(white,green, red);
    background: radial-gradient(white, green,red);
}

/* =====Buttons ===== */


button[type=roll].sheet-adv:before { 
    background-image: none;
    /*background-color: #f2f5d3;*/
    /*background-color: white;*/
    content: "";
}

button[type=roll].sheet-adv {
    background-image: none;
    background: transparent;
    font-family:"RufscriptRegular";
    color:black;
    font-size:1.4em;
    font-weight:700;
    border-radius: 4px;
    box-shadow:none;
    height:28px;
    width:150px;
    border: 1px solid transparent;
}

button[type=roll].sheet-adv:hover {
    border: 1px solid transparent;
    background:black;
    color:white;
}

button[type=roll].sheet-adv:active {
    border: 1px solid transparent;
    background:red;
    color:black;
}

