
/*Configure the tab buttons*/
.charsheet .sheet-main_char,
.charsheet .sheet-equipment,
.charsheet .sheet-spells {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="main_char"] ~ div.sheet-main_char,
.charsheet .sheet-tabstoggle[value="equipment"] ~ div.sheet-equipment,
.charsheet .sheet-tabstoggle[value="spells"] ~ div.sheet-spells {
    display: grid;
}


.tab_button{
  background-color: olive;
  color: ghostwhite;
}

.tab_button:focus, .tab_button:active{
  background-color: darkolivegreen;
  color: black;
}

.tab_button_selected{
  background-color: darkolivegreen;
  color: black;
}



/*----------------- main_char Layout ------------------*/

/* A CSS Grid example using "grid-template-areas"
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/
.sheet-main_char {
  display: grid;
  width: 800px;
  height: 1200px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 2fr 1fr 1fr 3fr;
  grid-template-areas:
    "mc_header  mc_header  mc_header mc_header   mc_header"
    "common     common     common    common      common"
    "stress     stress     soak      injuries    injuries"
    "attr       attr       attr      attr        attr"
    "skills     skills     skills    skills      skills";
}


/*----------------- equipment Layout ------------------*/

/* A CSS Grid example using "grid-template-areas"
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/
.sheet-equipment {
  display: grid;
  width: 800px;
  height: 600px;
  grid-gap: 4px;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 250px 1fr 1fr;
  grid-template-areas:
    "e_header"
    "equip"
    "weapons"
    "talents";
}

/*----------------- spells Layout ------------------*/

/* A CSS Grid example using "grid-template-areas"
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/
.sheet-spells {
  display: grid;
  width: 800px;
  height: 400;
  grid-gap: 4px;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "s_header"
    "spells";
}



/*----------------- GENERAL CSS ------------------*/

section {
  padding: 5px;
  border-style: solid;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.f-center {
  align-items: center;
  justify-content: center;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

.f5 {
  flex: 5;
}

.f6 {
  flex: 6;
}

.f7 {
  flex: 7;
}

.f8 {
  flex: 8;
}

.f12 {
  flex: 12;
}

/*----------------- Text & Input styling -----------------*/

@import url("https://fonts.googleapis.com/css?family=Lexend&display=swap");


/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
  font-family: "Lexend";
}

.charsheet h1 {
  display: inline;
}

.charsheet h3 {
  text-align: center;
}

.charsheet label {
  margin: 3px;
  padding: 3px 0 0 0;
}

.charsheet input[type="text"],
input[type="number"] {
  margin: 2px 4px;
  font-size: 1.1em;
}

.charsheet textarea {
  width: 95%;
  height: 85%;
  resize: none;
  font-size: 1.1em;
}

.charsheet hr {
  border-top: 1px solid black;
  margin: 5px;
}
/*------------- main_char Section-specific CSS -------------*/
.mc_header {
  grid-area: mc_header;
  background-color: darkolivegreen;
  flex-direction: row;
  justify-content: space-between;
  color: ghostwhite;
}
.mc_header h1 {
  color:ghostwhite;
}

.mc_header span {
  font-size: 2em;
}

.common {
  grid-area: common;
  background-color: linen;
  justify-content: space-between;
}

.common label{
  background-color: darkolivegreen;
  padding-right: 25px;
  padding-top: 3px;
  color: ghostwhite;
  width: fit-content;
}

.common .truth_text {
  height: 75px;

}

.stress {
  grid-area: stress;
  background-color: linen;
  justify-content: space-evenly;
}

.stress label{
  background-color: darkolivegreen;
  padding-right: 25px;
  padding-top: 3px;
  color: ghostwhite;
  width: fit-content;
}

.stress input[type="checkbox"]{

  width: 1.75em;
  height: 1.75em;
  position: relative;
  margin: 1px;

}

.stress input[type="checkbox"]:checked:after {
  content: " ";
  width: 100%;
  height: 100%;
  background: dimgray;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.soak {
  grid-area: soak;
  background-color: linen;
  justify-content: space-evenly;
}

.soak label{
  background-color: darkolivegreen;
  padding-right: 25px;
  padding-top: 3px;
  color: ghostwhite;
  width: fit-content;
}

.injuries {
  grid-area: injuries;
  background-color: linen;
  justify-content: space-evenly;
}

.injuries label{
  background-color: darkolivegreen;
  padding-right: 25px;
  padding-top: 3px;
  color: ghostwhite;
  width: fit-content;
}

.injuries div {
  height: 90%;
}

.attr {
  grid-area: attr;
  background-color: linen;
  justify-content: space-evenly;
}

.attr label{
  background-color: olive;
  padding-right: 5px;
  padding-top: 3px;
  color: ghostwhite;
}

.attr h3{
  background-color: darkolivegreen;
  padding-right: 5px;
  padding-top: 3px;
  margin: 3px;
  color: ghostwhite;
}

.attribute_header {
  display: inline-flex;
  flex-wrap: nowrap;
}

.skills {
  grid-area: skills;
  background-color: linen;
  justify-content: space-evenly;
}

.skills label{
  background-color: olive;
  padding-right: 5px;
  padding-top: 3px;
  color: ghostwhite;
}

.skills h3{
  background-color: darkolivegreen;
  padding-right: 5px;
  padding-top: 3px;
  margin: 3px;
  color: ghostwhite;
}

.skill_row {
  justify-content: start;
}

.skill_row div {
  padding-left: 5px;
}

.skill_row span {
  padding-left: 5px;
}

.power {
  grid-area: power;
  background-color: linen;
}

.power .repcontainer[data-groupname="repeating_power"] {
  padding-bottom: 0.2em;
}

.power .repcontainer[data-groupname="repeating_power"] .repitem {
  margin: 4px 0px;
}

.attack {
  grid-area: attack;
  background-color: green;
}

.inv {
  grid-area: inv;
  background-color: grey;
}

.misc {
  grid-area: misc;
  background-color: chocolate;
}




/*------------- equipment Section-specific CSS -------------*/
.e_header {
  grid-area: e_header;
  background-color: darkolivegreen;
  flex-direction: row;
  justify-content: space-between;
  color: ghostwhite;
}
.e_header h1 {
  color:ghostwhite;
}

.e_header span {
  font-size: 2em;
}

.weapons {
  grid-area: weapons;
  background-color: linen;
  justify-content: space-evenly;
}

.weapons label{
  background-color: olive;
  padding-right: 5px;
  padding-top: 3px;
  color: ghostwhite;
}

.weapons h3{
  background-color: darkolivegreen;
  padding-right: 25px;
  padding-top: 3px;
  color: ghostwhite;
  width: fit-content;
}

.equip {
  grid-area: equip;
  background-color: linen;
  justify-content: space-evenly;
}

.equip label{
  background-color: olive;
  padding-right: 5px;
  padding-top: 3px;
  color: ghostwhite;
}

.equip h3{
  background-color: darkolivegreen;
  padding-right: 25px;
  padding-top: 3px;
  color: ghostwhite;
  width: fit-content;
}

.talents {
  grid-area: talents;
  background-color: linen;
  justify-content: space-evenly;
}

.talents label{
  background-color: olive;
  padding-right: 5px;
  padding-top: 3px;
  color: ghostwhite;
}

.talents h3{
  background-color: darkolivegreen;
  padding-right: 25px;
  padding-top: 3px;
  color: ghostwhite;
  width: fit-content;
}

.talent_row{
  height:75px;
}


/*------------- spells Section-specific CSS -------------*/

.s_header {
  grid-area: s_header;
  background-color: darkolivegreen;
  flex-direction: row;
  justify-content: space-between;
  color: ghostwhite;
}
.s_header h1 {
  color:ghostwhite;
}

.s_header span {
  font-size: 2em;
}

.spells {
  grid-area: spells;
  background-color: linen;
  /* justify-content: space-evenly; */
}

.spells label{
  background-color: olive;
  padding-right: 25px;
  padding-top: 3px;
  color: ghostwhite;
  width: fit-content;
}

.spells h3{
  background-color: darkolivegreen;
  padding-right: 5px;
  padding-top: 3px;
  margin: 3px;
  color: ghostwhite;
}

.spell_row2{
  height:110px;
}

.spell_row2 div{
  height:75px;
  width: 95%;
}

/*------------------------------------*\
    #ROLL TEMPLATES
  \*------------------------------------*/

.sheet-rolltemplate-rolls {
  font-family: "Lexend";
}

.sheet-rolltemplate-rolls .sheet-container {
  border: 3px solid black;
  border-radius: 3px;
}

.sheet-rolltemplate-rolls .sheet-header {
  background-color: var(--header-bg-color, #a83521);
  color: var(--header-text-color, #FFF);
  text-align: left;
  text-transform: capitalize;
  padding: 5px;
  border-bottom: 2px solid black;
}

.sheet-rolltemplate-rolls .sheet-title,
.sheet-rolltemplate-rolls .sheet-name {
  font-size: 1.4em;
  font-weight: bold;
}

.sheet-rolltemplate-rolls .sheet-subtitle {
  font-size: 1em;
}

.sheet-rolltemplate-rolls .sheet-container {
  --header-bg-color: #a83521;
  --header-text-color: #FFF;
}

.sheet-rolltemplate-rolls .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height: 1.4em;
}

.sheet-rolltemplate-rolls .sheet-content>div {
  padding: 5px;
}

.sheet-rolltemplate-rolls .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

.sheet-rolltemplate-rolls .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-rolls .sheet-content :nth-child(4n) {
  background: #EEE;
}


/*------------------------------------*\
    #skill TEMPLATES
  \*------------------------------------*/

  .sheet-rolltemplate-skill {
    font-family: "Lexend";
  }

  .sheet-rolltemplate-skill .sheet-container {
    border: 3px solid black;
    border-radius: 3px;
  }

  .sheet-rolltemplate-skill .sheet-header {
    background-color: var(--header-bg-color, #a83521);
    color: var(--header-text-color, #FFF);
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 2px solid black;
  }

  .sheet-rolltemplate-skill .sheet-title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
  }

  .sheet-rolltemplate-skill .sheet-subtitle {
    font-size: 1.2em;
    text-align: center;
  }

  .sheet-rolltemplate-skill .sheet-container {
    --header-bg-color: darkolivegreen;
    --header-text-color: #FFF;
  }

  .sheet-rolltemplate-skill .sheet-content {
    display: grid;
    background: #FFF;
    grid-template-columns: auto auto;
    line-height: 1.4em;
    font-size: 1.1em;
  }

  .sheet-rolltemplate-skill .sheet-content>div {
    padding: 5px;
  }

  .sheet-rolltemplate-skill .sheet-content :nth-child(4n+3),
  .sheet-rolltemplate-skill .sheet-content :nth-child(4n) {
    background: #EEE;
  }

  .sheet-rolltemplate-skill .sheet-target-number .inlinerollresult {
    background-color:transparent;
    border:0px transparent !important;
    font-weight:700;
    font-size:13pt;
    line-height:1.4em;
}




/*------------------------------------*\
    #talent TEMPLATES
  \*------------------------------------*/

  .sheet-rolltemplate-talent {
    font-family: "Lexend";
  }

  .sheet-rolltemplate-talent .sheet-container {
    border: 3px solid black;
    border-radius: 3px;
  }

  .sheet-rolltemplate-talent .sheet-header {
    background-color: var(--header-bg-color, darkolivegreen);
    color: var(--header-text-color, #FFF);
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 2px solid black;
  }

  .sheet-rolltemplate-talent .sheet-title{
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
  }

  .sheet-rolltemplate-talent .sheet-name {
    font-size: 1.2em;
    text-align: center;
  }

  .sheet-rolltemplate-talent .sheet-keywords {
    font-size: 1.1em;
    text-align: center;
  }

  .sheet-rolltemplate-talent .sheet-container {
    --header-bg-color: darkolivegreen;
    --header-text-color: #FFF;
  }

  .sheet-rolltemplate-talent .sheet-content {
    background: #FFF;
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .sheet-rolltemplate-talent .sheet-content>div {
    padding: 5px;
  }


  /*------------------------------------*\
    #spell TEMPLATES
  \*------------------------------------*/

  .sheet-rolltemplate-spell {
    font-family: "Lexend";
  }

  .sheet-rolltemplate-spell .sheet-container {
    border: 3px solid black;
    border-radius: 3px;
  }

  .sheet-rolltemplate-spell .sheet-header {
    background-color: var(--header-bg-color, #a83521);
    color: var(--header-text-color, #FFF);
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 2px solid black;
  }

  .sheet-rolltemplate-spell .sheet-title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
  }

  .sheet-rolltemplate-spell .sheet-name {
    font-size: 1.2em;
    text-align: center;
  }

  .sheet-rolltemplate-spell .sheet-container {
    --header-bg-color: darkolivegreen;
    --header-text-color: #FFF;
  }

  .sheet-rolltemplate-spell .sheet-content {
    display: grid;
    background: #FFF;
    grid-template-columns: auto auto;
    line-height: 1.4em;
    font-size: 1.1em;
  }

  .sheet-rolltemplate-spell .sheet-content>div {
    padding: 5px;
  }

  .sheet-rolltemplate-spell .sheet-content :nth-child(4n+3),
  .sheet-rolltemplate-spell .sheet-content :nth-child(4n) {
    background: #EEE;
  }

  .sheet-rolltemplate-spell .sheet-content2 {
    display: grid;
    background: #FFF;
    grid-template-columns: auto;
    line-height: 1.4em;
    font-size: 1.1em;
  }

  .sheet-rolltemplate-spell .sheet-content2 :nth-child(2n){
    background: #EEE;
  }
