/* Settings */
input.sheet-campaign-settings-toggle:not(:checked) ~ div.sheet-campaign-settings {
    display: none;
}
input.sheet-campaign-settings-toggle:checked ~ div.sheet-campaign-settings {
    display: initial;
}

input.sheet-default-style-toggle:not(:checked) ~ div .sheet-default-style,
input.sheet-classic-fantasy-style-toggle:not(:checked) ~ div .sheet-classic-fantasy-style,
input.sheet-luther-arkwright-style-toggle:not(:checked) ~ div .sheet-luther-arkwright-style,
input.sheet-m-space-style-toggle:not(:checked) ~ div .sheet-m-space-style,
input.sheet-m-space-style-toggle:not(:checked) ~ input[type="radio"].sheet-m-space-style,
input.sheet-m-space-style-toggle:not(:checked) ~ span.sheet-m-space-style,
input.sheet-odd-soot-style-toggle:not(:checked) ~ div .sheet-odd-soot-style,
input.sheet-odd-soot-style-toggle:not(:checked) ~ input[type="radio"].sheet-odd-soot-style,
input.sheet-odd-soot-style-toggle:not(:checked) ~ span.sheet-odd-soot-style,
input.sheet-thennla-style-toggle:not(:checked) ~ div .sheet-thennla-style {
    display: none;
}

input.sheet-default-style-toggle:checked ~ div .sheet-default-style,
input.sheet-classic-fantasy-style-toggle:checked ~ div .sheet-classic-fantasy-style,
input.sheet-luther-arkwright-style-toggle:checked ~ div .sheet-luther-arkwright-style,
input.sheet-m-space-style-toggle:checked ~ div .sheet-m-space-style,
input.sheet-m-space-style-toggle:checked ~ input[type="radio"].sheet-m-space-style,
input.sheet-m-space-style-toggle:checked ~ span.sheet-m-space-style,
input.sheet-odd-soot-style-toggle:checked ~ div .sheet-odd-soot-style,
input.sheet-odd-soot-style-toggle:checked ~ input[type="radio"].sheet-odd-soot-style,
input.sheet-odd-soot-style-toggle:checked ~ span.sheet-odd-soot-style,
input.sheet-thennla-style-toggle:checked ~ div .sheet-thennla-style {
    display: initial;
}

input.sheet-extended-conflict-toggle:not(:checked) ~ div .sheet-extended-conflict {
    display: none;
}

input.sheet-battle-units-enabled-toggle:not(:checked) ~ .sheet-battle-units-enabled {
    display: none;
}

input.sheet-simplified-combat-toggle:not(:checked) ~ div .sheet-simplified-combat {
    display: none;
}
input.sheet-simplified-combat-toggle:checked ~ div .sheet-complex-combat {
    display: none;
}

input.sheet-sns-vehicles-toggle ~ .sheet-sns-vehicles {
    display: none;
}
input.sheet-sns-vehicles-toggle:checked ~ .sheet-sns-vehicles {
    display: initial;
}
input.sheet-mythras-vehicles-toggle ~ .sheet-mythras-vehicles {
    display: none;
}
input.sheet-mythras-vehicles-toggle:checked ~ .sheet-mythras-vehicles {
    display: initial;
}
input.sheet-mspace-vehicles-toggle ~ .sheet-mspace-vehicles {
    display: none;
}
input.sheet-mspace-vehicles-toggle:checked ~ .sheet-mspace-vehicles {
    display: initial;
}

input.sheet-linguistics-enabled-toggle:not(:checked) ~ div .sheet-linguistics-enabled {
    display: none;
}
input.sheet-linguistics-enabled-toggle:checked ~ div .sheet-languages-enabled {
    display: none;
}

input.sheet-dependencies-enabled-toggle ~ div .sheet-dependencies-enabled {
    display: none;
}
input.sheet-dependencies-enabled-toggle:checked ~ div .sheet-dependencies-enabled {
    display: initial;
}

input.sheet-peculiarities-enabled-toggle ~ div .sheet-peculiarities-enabled {
    display: none;
}
input.sheet-peculiarities-enabled-toggle:checked ~ div .sheet-peculiarities-enabled {
    display: initial;
}

input.sheet-rank-enabled-toggle:not(:checked) ~ div .sheet-rank-enabled {
    display: none;
}
input.sheet-rank-enabled-toggle:checked ~ div .sheet-info-career {
    width: 17.75%;
}

input.sheet-spirits-enabled-toggle:not(:checked) ~ div .sheet-spirits-enabled {
    display: none;
}
input.sheet-spirits-enabled-toggle:checked ~ div .sheet-info-species {
    width: 15.75%;
}
input.sheet-spirits-enabled-toggle:checked ~ div .sheet-info-name {
    width: 15.75%;
}

input.sheet-tenacity-enabled-toggle:not(:checked) ~ div .sheet-tenacity-enabled {
    display: none;
}

input.sheet-magic-points-enabled-toggle:not(:checked) ~ div .sheet-magic-points-enabled {
    display: none;
}

input.sheet-power-points-enabled-toggle:not(:checked) ~ div .sheet-power-points-enabled {
    display: none;
}

input.sheet-prana-points-enabled-toggle:not(:checked) ~ div .sheet-prana-points-enabled {
    display: none;
}

input.sheet-reach-enabled-toggle:not(:checked) ~ div .sheet-reach-enabled {
    display: none;
}

input.sheet-fire-rate-enabled-toggle:not(:checked) ~ div .sheet-fire-rate-enabled {
    display: none;
}

input.sheet-boating-standard-toggle ~ div .sheet-boating-standard {
    display: none;
}
input.sheet-boating-standard-toggle:checked ~ div .sheet-boating-standard {
    display: initial;
}

input.sheet-status-standard-toggle ~ div .sheet-status-standard {
    display: none;
}
input.sheet-status-standard-toggle:checked ~ div .sheet-status-standard {
    display: initial;
}

input.sheet-strangeness-standard-toggle:not(:checked) ~ div .sheet-strangeness-standard {
    display: none;
}

input.sheet-the-soot-standard-toggle:not(:checked) ~ div .sheet-the-soot-standard {
    display: none;
}

input.sheet-superstition-standard-toggle ~ div .sheet-superstition-standard {
    display: none;
}
input.sheet-superstition-standard-toggle:checked ~ div .sheet-superstition-standard {
    display: initial;
}

input.sheet-ms-psionics-enabled-toggle:not(:checked) ~ div .sheet-ms-psionics-enabled {
    display: none;
}

input.sheet-os-magic-enabled-toggle:not(:checked) ~ div .sheet-os-magic-enabled {
    display: none;
}

input.sheet-roman-magic-enabled-toggle:not(:checked) ~ div .sheet-roman-magic-enabled {
    display: none;
}

input.sheet-arcane-magic-enabled-toggle:not(:checked) ~ div .sheet-arcane-magic-enabled {
    display: none;
}

input.sheet-divine-magic-enabled-toggle:not(:checked) ~ div .sheet-divine-magic-enabled {
    display: none;
}

input.sheet-superpowers-enabled-toggle:not(:checked) ~ div .sheet-superpowers-enabled {
    display: none;
}

input.sheet-fae-powers-enabled-toggle:not(:checked) ~ div .sheet-fae-powers-enabled {
    display: none;
}

input.sheet-folk-magic-enabled-toggle:not(:checked) ~ div .sheet-folk-magic-enabled {
    display: none;
}

input.sheet-work-songs-enabled-toggle:not(:checked) ~ div .sheet-work-songs-enabled {
    display: none;
}

input.sheet-alchemy-enabled-toggle:not(:checked) ~ div .sheet-alchemy-enabled {
    display: none;
}

input.sheet-animism-enabled-toggle:not(:checked) ~ div .sheet-animism-enabled {
    display: none;
}

input.sheet-artifice-enabled-toggle:not(:checked) ~ div .sheet-artifice-enabled {
    display: none;
}

input.sheet-mysticism-enabled-toggle:not(:checked) ~ div .sheet-mysticism-enabled {
    display: none;
}

input.sheet-mythras-psionics-enabled-toggle:not(:checked) ~ div .sheet-mythras-psionics-enabled {
    display: none;
}

input.sheet-sorcery-enabled-toggle:not(:checked) ~ div .sheet-sorcery-enabled {
    display: none;
}

input.sheet-theism-enabled-toggle:not(:checked) ~ div .sheet-theism-enabled {
    display: none;
}

input.sheet-affiliations-enabled-toggle:not(:checked) ~ div .sheet-affiliations-enabled {
    display: none;
}

input.sheet-social-conflict-enabled-toggle:not(:checked) ~ div .sheet-social-conflict-enabled {
    display: none;
}

/* Sheet Types */
input.sheet-type-toggle-battle-unit:not(:checked) ~ div.sheet-type-battle-unit,
input.sheet-type-toggle-json:not(:checked) ~ div.sheet-type-json,
input.sheet-type-toggle-pc:not(:checked) ~ div.sheet-type-pc,
input.sheet-type-toggle-ship:not(:checked) ~ div.sheet-type-ship,
input.sheet-type-toggle-vehicle:not(:checked) ~ div.sheet-type-vehicle,
input.sheet-type-toggle-solar-system:not(:checked) ~ div.sheet-type-solar-system {
    display: none;
}