//-
    CREATED by          Gorthian
    Letzte Änderung		2023-10-05

//
    ********************************
    * START src/html/page-one/block-three.pug
    ********************************

//- MIXINs
mixin fertigkeitskopfzeile()
    // MIXIN : src/html/page-one/block-three.pug : fertigkeitskopfzeile
    h1(data-i18n="fertigkeiten")
    div(class="sheet-fertigkeiten-zeile")
        div(class="sheet-kopfzeile")
            span(data-i18n="fertigkeit")
        div(class="sheet-kopfzeile")
            span(data-i18n="attr")        
        div(class="sheet-kopfzeile sheet-tooltip")
            span(data-i18n="biomechanik_kurz")
            span(class="sheet-tooltiptext" data-i18n="biomechanik")
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")
        div(class="sheet-kopfzeile")
            span(data-i18n="note")

mixin fertigkeitszeile(skill,attribute)
    // MIXIN : src/html/page-one/block-three.pug : fertigkeitszeile
    details(class="sheet-fertigkeiten") 
        summary
            div(class="sheet-fertigkeiten-zeile")
                div(class="sheet-tooltip")
                    button(type="action" class="sheet-button-transparent" name="act_probe-"+skill+"-"+attribute)
                        span(data-i18n=skill)
                    span(class="sheet-tooltiptext" name="attr_"+skill+"-beschreibung")
                div(class="sheet-tooltip")
                    span(data-i18n=attribute+"_kurz")
                    span(class="sheet-tooltiptext")
                        span(name="attr_"+attribute)        
                div
                    input(type="checkbox" value="1" name="attr_"+skill+"_biomechanik")
                div
                    input(type="number" name="attr_"+skill value=0)
                div
                    input(type="text" name="attr_"+skill+"_mod")
        div 
            textarea(name="attr_"+skill+"-beschreibung" class="sheet-textarea-klein")

//- SEITENINHALT
div(class="sheet-3cols")
    include block-three-first-row.pug
    include block-three-second-row.pug
    include block-three-third-row.pug    
//
    ********************************
    * ENDE src/html/page-one/block-three.pug
    ********************************