//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23
    
//
    ********************************
    * START src/html/page-one/block-one.pug
    ********************************

//- SEITENINHALT
div(class="sheet-3cols")
    include ../bloecke/charakterdaten.pug
    include ../bloecke/logo_und_infos.pug
    include ../bloecke/charakterkonditionen.pug   
    
//
    ********************************
    * ENDE src/html/page-one/block-one.pug
    ********************************