//-
    CREATED by          Gorthian
    Letzte Änderung		2023-05-27

//
    ********************************
    * START src/html/page-one/block-two.pug
    ********************************

//- MIXINs
mixin kopfzeile
    // MIXIN : src/html/page-one/block-two.pug : kopfzeile
    div(class="sheet-attribut-zeile")
        div
        div(class="sheet-kopfzeile sheet-tooltip")
            span(data-i18n="biomechanik_kurz")
            span(class="sheet-tooltiptext" data-i18n="biomechanik")      
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")
        div
        div(class="sheet-kopfzeile")
            span(data-i18n="modifikatoren")
        div        

mixin attributszeile(attribut)
    // MIXIN : src/html/page-one/block-two.pug : attributszeile
    div(class="sheet-attribut-zeile")
        div(class="sheet-titel sheet-tooltip")
            button(type="action" class="sheet-button-transparent" name="act_probe-"+attribut)
                span(data-i18n=attribut)
            span(class="sheet-tooltiptext" data-i18n="tooltip-probe")        
        div
            input(type="checkbox" value="1" name="attr_"+attribut+"-biomechanik")
        div
            input(type="number" name="attr_"+attribut value=1)
        div(class="sheet-titel sheet-tooltip")
            button(type="action" class="sheet-button-d6" name="act_probe-ohne-mod-"+attribut)
            span(class="sheet-tooltiptext" data-i18n="tooltip-probe-ohne-mod")
        div
            input(type="number" name="attr_"+attribut+"-mod1")
            input(type="number" name="attr_"+attribut+"-mod2")        
        div(class="sheet-font-darkgray-highlight") 
            | [
            span(data-i18n=attribut+"_kurz")
            | ]

mixin sonderattributskopfzeile(text)
    // MIXIN : src/html/page-one/block-two.pug : sonderattributskopfzeile
    div(class="sheet-sonderattribut-zeile")
        div 
        div(class="sheet-kopfzeile")
            span(data-i18n=text)

mixin sonderattributszeile(attribute)
    // MIXIN : src/html/page-one/block-two.pug : sonderattributszeile
    div(class="sheet-sonderattribut-zeile")
        div(class="sheet-sonderattribut-titel")
            span(data-i18n=attribute)
        div
            input(type="number" name="attr_"+attribute value=0)

//- SEITENINHALT
div
    div(class="sheet-box" role="section")
        h1(data-i18n="attribute")
        div(class="sheet-attribute")
            div
                +kopfzeile
                +attributszeile("geschick")
                +attributszeile("staerke")
                +attributszeile("konstitution")
                +attributszeile("beweglichkeit")
            div
                +kopfzeile
                +attributszeile("wahrnehmung")
                +attributszeile("wissen")
                +attributszeile("charisma")
                +attributszeile("handwerk")
        p 
        div(class="sheet-sonderattribute")
            div
                +sonderattributskopfzeile("wert")
                +sonderattributszeile("trefferpunkte")
                div(class="sheet-sonderattribut-zeile")
                    div(class="sheet-sonderattribut-titel")
                        span(data-i18n="dmg_schwellwert")
                    div
                        input(type="number" name="attr_dmg_schwellwert" readonly="readonly")
                div(class="sheet-sonderattribut-zeile")
                    div(class="sheet-sonderattribut-titel")
                        span(data-i18n="regeneration")
                    div
            div 
                +sonderattributskopfzeile("stufe")
                +sonderattributszeile("schmerztoleranz")
                +sonderattributszeile("blutpunkte")
                +sonderattributszeile("regeneration-geschwindigkeit")
            div 
                +sonderattributskopfzeile("stufe")
                +sonderattributszeile("adrenalin")
                +sonderattributszeile("meditation")
                +sonderattributszeile("regeneration-pool")
//
    ********************************
    * ENDE src/html/page-one/block-two.pug
    ********************************