//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/page-one/block-three-second-row.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div 
    //- Fortsetzung Fertigkeiten. Erster Teil in block-three-first-row.pug
    div(class="sheet-box")
        +fertigkeitskopfzeile()
        //- Die restlichen Skills anzeigen
        each skill in skills
            if skill.id > 36
                +fertigkeitszeile(skill.name,skill.attribute)
    include ../bloecke/sprachkentnisse.pug
    include ../bloecke/besondere_fertigkeiten.pug    
//
    ********************************
    * ENDE src/html/page-one/block-three-second-row.pug
    ********************************