//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-07

//
    ********************************
    * START src/html/page-one/block-three-third-row.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div
    include ../bloecke/koerperzonen.pug
    include ../bloecke/trefferzonen.pug
    include ../bloecke/style_skills.pug    
    include ../bloecke/charaktermerkmale.pug            

//
    ********************************
    * ENDE src/html/page-one/block-three-third-row.pug
    ********************************