//-
    CREATED by          Gorthian
    Letzte Änderung		2023-04-02

//
    ********************************
    * START src/html/page-one/block-three-first-row.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box" role="section")
    //- Anfang Fertigkeiten. Zweiter Teil in block-three-second-row.pug
    +fertigkeitskopfzeile()
    //- Die ersten 36 Skills anzeigen
    each skill in skills
        if skill.id < 37
            +fertigkeitszeile(skill.name,skill.attribute)

//
    ********************************
    * ENDE src/html/page-one/block-three-first-row.pug
    ********************************