mixin swordbar()
    div#swordbar
        +healthBox('health_1', 'V')
        +healthBox('health_2')
        +healthBox('health_3')
        +healthBox('health_4')
        +healthBox('health_5')
        +healthBox('health_6')
        +healthBox('health_7')
        +healthBox('health_8', 'T')