/* ------------- Background ------------- */

.charsheet {
	background: black;
	width: 840px;
}

.sheet-banner-content {
	margin: 0 auto;
	padding: 100px;
}

.sheet-top_half {
	background: black;
	width: 840px;
	border-radius: 15px;
	box-shadow: inset 0px 0px 10px white, inset 0px 0px 8px white, inset 0px 0px 4px white;
	padding: 2px;
	margin-right: auto;
	margin-left: auto;
}

.sheet-top_half table tbody tr:first-child th {
    padding-top: 5px;
}
.sheet-top_half table tbody tr:last-child input {
    padding: 0 0 5px 0;
	margin-top: 0;
}
.sheet-top_half table tbody td {
    padding-left: 10px;
}


/*------------------------General Formatting-----------------------------*/

@font-face {
	font-family: 'QuatumLeap';
	src: url('http://www.geeksville.us/fonts/Coal/QuatumLeap.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Necrotype';
	src: url('http://www.geeksville.us/fonts/Coal/Necrotype.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
input[type="radio"].sheet-tab + span {
	color: white;
	text-shadow: 0px 0px 2px blue, 0px 0px 5px blue;
	font-family: "Crystal";
	font-variant: small-caps;
}

h4 {
	text-shadow: 0px 0px 2px blue, 0px 0px 2px blue;
	color: white;
	font-family: "Crystal";
}

input[type="text"] {
	border: none;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	background: transparent;
	color: white;
	font-family: "Contrail One", sans-serif;
}

input[type="number"] {
	border: none;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	background: transparent;
	color: white;
	font-family: "Contrail One", sans-serif;
}

input:focus {
	background-color: #add8e6;
	border: 1px solid blue;
	box-shadow: blue;
	color: black;
}

input[type="number"].sheet-stat {
	background: transparent;
	border: none;
	box-shadow: none;
	text-shadow: 0px 0px 5px white, 0px 0px 4px blue, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
	color: white;
	font-family: "Quantum Leap", "Crystal", Georgia, Serif;
	font-size: 23px;
	text-align: center;
}


/*---- lining up select boxes & text areas---- */

select {
	margin: 0;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-top: 0px;
}

select {
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 2px;
	margin-bottom: 0px;
	display: inline-block;
	background: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}

option {
	background: black;
}

textarea {
	margin: 0;
	height: 30px;
	resize: vertical;
	margin: 0;
	height: 30px;
	resize: vertical;
	height: 100px;
	width: 375px;
	border: none;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	background: transparent;
	color: white;
	font-family: "Contrail One", sans-serif;
}

textarea:focus {
	background-color: #add8e6;
	border: 1px solid blue;
	color: black;
}

.sheet-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


/* -----     Tables     ----- */

.sheet-damagetable,
.sheet-damagetable tr,
.sheet-damagetable td,
.sheet-damagetable th {
	border: 2px solid black;
	width: 9%;
	text-align: center;
	margin: 0;
}

.sheet-skilltable {
	border: 2px solid black;
	width: 390px;
	text-align: center;
}

.sheet-skilltable-otherskill {
	border: 2px solid black;
	border-bottom: none;
	width: 390px;
}

.sheet-skilltable-otherskill-openup {
	border: 2px solid black;
	border-top: none;
	width: 390px;
	text-align: center;
}

.sheet-skilltable_wide,
table.sheet-skilltable_wide {
	border: 2px solid black;
	text-align: center;
	margin: 1px;
	margin-left: auto;
	margin-right: auto;
}

.sheet-skilltable_wide tr,
.sheet-skilltable_wide td,
.sheet-skilltable_wide th {
	border: 2px solid black;
	text-align: center;
	margin: 0;
}

.sheet-skilltable .sheet-subskill,
.sheet-skilltable-otherskill-openup .sheet-subskill {
	font-weight: 400;
	font-style: italic;
}

.sheet-skilltable .sheet-subskill-header,
.sheet-skilltable-otherskill-openup .sheet-subskill-header {
	font-weight: 700;
	text-shadow: 0px 0px 2px black, 0px 0px 5px black;
}

.sheet-language {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px dotted white;
	background-color: transparent;
	color: white;
	font-style: italic;
}


/*============= TABS =============*/

div.sheet-tab-content {
	display: none;
}

input.sheet-tab1:checked~div.sheet-tab1,
input.sheet-tab2:checked~div.sheet-tab2,
input.sheet-tab3:checked~div.sheet-tab3,
input.sheet-tab4:checked~div.sheet-tab4,
input.sheet-tab5:checked~div.sheet-tab5,
input.sheet-tab6:checked~div.sheet-tab6,
input.sheet-tab7:checked~div.sheet-tab7 {
	display: block;
}

input.sheet-tab {
	width: 20px;
	height: 20px;
	position: relative;
	left: 0px;
	top: -5px;
	margin-left: 0px;
	cursor: pointer;
	z-index: 1;
	border-radius: 5px 5px 5px 5px;
	opacity: 0;
}

input.sheet-tab+span::before {
	content: attr(title);
	margin-left: -20px;
	padding-top: -10px;
	color: white;
	text-shadow: 0px 0px 0.5em black;
	text-align: center;
	display: inline-block;
	background: #fff;
	background: -moz-linear-gradient(to top, #fff, #000, #fff);
	background: -webkit-linear-gradient(to top, #fff, #000, #fff);
	background: -ms-linear-gradient(to top, #fff, #000, #fff);
	background: -o-linear-gradient(to top, #fff, #000, #fff);
	background: linear-gradient(to top, #fff, #000, #fff);
	width: 20px;
	height: 20px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 15px 15px 15px 15px;
	border: 1px solid black;
}

input.sheet-tab:checked+span::before {
	background: #dcdcdc;
	background: -moz-linear-gradient(to top, #0000ff, #dcdcdc, #0000ff);
	background: -webkit-linear-gradient(to top, #0000ff, #dcdcdc, #0000ff);
	background: -ms-linear-gradient(to top, #0000ff, #dcdcdc, #0000ff);
	background: -o-linear-gradient(to top, #0000ff, #dcdcdc, #0000ff);
	background: linear-gradient(to top, #0000ff, #dcdcdc, #0000ff);
	/* border-bottom-color: #fff; */
}

input.sheet-tab:not(:first-child)+span::before {
	border-left: none;
}

div.sheet-tab-content {
	/*  border: 1px solid #a8a8a8;
    border-top-color: #000;*/
	margin: 2px 0 0 5px;
	padding: 5px;
}


/* ============== Big Checkbox ==============*/


/* ----Hide actual Big Checkbox---- */

input.sheet-checkbox[type="checkbox"] {
	opacity: 0;
	width: 16px;
	height: 16px;
	position: relative;
	top: 5px;
	left: 6px;
	margin: -10px;
	cursor: pointer;
	z-index: 1;
}


/* ----Fake Big Checkbox-- .sheet-bigcheck -- */

input.sheet-checkbox[type="checkbox"]+span::before {
	margin-bottom: 2px;
	border: solid 1px #a8a8a8;
	line-height: 14px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-moz-box-shadow: 0 0 2px #ccc;
	-webkit-box-shadow: 0 0 2px #ccc;
	box-shadow: 0px 0px 2px black, 0px 0px 5px black;
	background: #f6f6f6;
	background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
	background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
	background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
	background: -o-radial-gradient(#f6f6f6, #dfdfdf);
	background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-checkbox[type="checkbox"]+span::before {
	content: "";
	width: 14px;
	height: 14px;
	font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input.sheet-checkbox[type="checkbox"]:checked+span::before {
	color: red;
	content: "✖";
	/*   "?" */
	text-shadow: 0px 0px 0.5em #A52A2A;
}


/* ----Hide actual chipped Checkbox---- */

input.sheet-chipped[type="checkbox"] {
	opacity: 0;
	width: 34px;
	height: 14px;
	position: relative;
	top: 5px;
	left: 0px;
	cursor: pointer;
	z-index: 1;
}


/* ----Fake Big Checkbox-- .sheet-bigcheck -- */

input.sheet-chipped[type="checkbox"]+span::before {
	position: relative;
	top: 5px;
	left: -34px;
	margin-bottom: 2px;
	margin-left: 0px;
	border: solid 1px #a8a8a8;
	line-height: 14px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-moz-box-shadow: 0 0 2px #ccc;
	-webkit-box-shadow: 0 0 2px #ccc;
	box-shadow: 0px 0px 2px black, 0px 0px 5px black;
	background: #f6f6f6;
	background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
	background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
	background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
	background: -o-radial-gradient(#f6f6f6, #dfdfdf);
	background: radial-gradient(#f6f6f6, #dfdfdf);
	content: "";
	width: 34px;
	height: 14px;
	font-size: 12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input.sheet-chipped[type="checkbox"]:checked+span::before {
	color: red;
	content: "Chip";
	/*   "?" */
	text-shadow: 0px 0px 0.5em #A52A2A;
}

/* =====Button Reset =====*/

button[type="roll"].sheet-skillroll:before {
	content: ""!important;
	display: none;
}

button[type="roll"].sheet-skillroll,
.sheet-roll {
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	font-weight: 700;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	background-color: transparent;
	border: outset 4px solid gray;
	/* 1px solid black */
	padding: 2px;
	padding-bottom: 4px;
	font-size: 1em;
	color: white;
	text-shadow: 0px 0px 2px blue;
	white-space: nowrap;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-weight: 700;
	font-family: "Crystal";
}

button[type="roll"].sheet-sub_skill,
button[type="roll"].sheet-sub_skill {
	width: 160px;
	height: 28px;
	margin-right: 0px;
	margin-left: auto;
	vertical-align: middle;
	display: inline-block;
	font-weight: 700;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	background-color: transparent;
	border: outset 4px solid gray;
	/* 1px solid black */
	padding: 2px;
	padding-bottom: 4px;
	font-size: 1em;
	color: white;
	text-shadow: 0px 0px 2px blue;
	white-space: nowrap;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-style: italic;
	font-weight: 700;
	font-family: "Crystal";
}

button[type="roll"].sheet-skillroll:hover,
.sheet-roll:hover,
.sheet-hider input[type=checkbox]:checked~.sheet-btn {
	color: white;
	border: 4px solid gray;
	border-style: inset;
	background-color: transparent;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 0px;
	text-shadow: 0px 0px 2px blue;
}

button[type="roll"].sheet-skillroll label,
button[type="roll"].sheet-skillroll input {
	text-align: right;
	width: 99%;
	cursor: pointer;
	background: none;
	box-shadow: none;
	transition: none;
	border-radius: none;
	border: none;
	color: white;
	font-weight: 700;
	font-size: 1em;
	text-shadow: 0px 0px 2px black, 0px 0px 5px black;
}

.sheet-front {
	line-height: inherit;
	width: 80px;
}

.sheet-set {
	width: 220px;
}

.sheet-front:hover {
	text-shadow: 0px 0px 0.5em blue;
}

.sheet-skillroll button[type="roll"]:hover label,
.sheet-skillroll button[type="roll"]:hover input {
	color: white;
	text-shadow: 0px 0px 0.5em blue;
	border: black;
	background-color: transparent;
}

.sheet-left td input[type="checkbox"] {
	margin-left: 10px;
}


/* ============== Nice Radio Buttons ==============*/


/* ----Hide actual radio button---- */

.sheet-damagetable th input[type="radio"],
.sheet-damagetable td input[type="radio"] {
	opacity: 0;
	width: 14px;
	height: 14px;
	position: relative;
	top: 5px;
	left: 6px;
	margin: -10px;
	cursor: pointer;
	z-index: 1;
}


/*========== sheet skillbox ==========*/


/* ----Hide actual sheet-skillbox checkbox---- */

input.sheet-skillbox[type="checkbox"] {
	opacity: 0;
	width: 100px;
	position: relative;
	top: 0px;
	left: 20px;
	margin: -30px;
	cursor: pointer;
	z-index: 1;
}


/* -----Fake sheet-gear skillbox----- */

input.sheet-skillbox[type="checkbox"]::before+span::before {
	margin-right: 4px;
	margin-left: 0px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	content: "";
	width: 100px;
	height: 14px;
	position: relative;
}

span.sheet-skillbox {
	position: relative;
	left: -40px;
	width: 100px;
	color: gray;
	text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

input.sheet-skillbox[type="checkbox"]:checked+span {
	color: red;
	text-shadow: none;
}


/*==== weapon roll button ====*/

.sheet-weaponroll button[type="roll"]:before,
.sheet-weaponroll:before {
	content: ""!important;
	display: none;
	border: none;
}

.sheet-weaponroll button[type="roll"],
.sheet-weaponroll {
	display: block;
	background: black;
	border-radius: 25%;
	height: 30px;
	width: 30px;
	margin: 0;
	background: radial-gradient(circle at 20px 20px, #fff, #000);
	border: none;
	box-shadow: 0px 0px 5px blue;
}

.sheet-weaponroll button[type="roll"]:hover,
.sheet-weaponroll:hover {
	display: block;
	background: black;
	height: 30px;
	width: 30px;
	margin: 0;
	background: radial-gradient(circle at 15px 15px, #fff, #000);
	box-shadow: 0px 0px 5px blue, 0px 0px 10px black;
}

.sheet-weaponroll button[type="roll"]:active,
.sheet-weaponroll:active {
	display: block;
	background: black;
	height: 30px;
	width: 30px;
	margin: 0;
	background: radial-gradient(circle at 20px 20px, #fff, #add8e6);
}


/* ======== Sheet Autofire========*/


/* ======== Sheet Autofire========*/

.sheet-autofire button[type="roll"]:before,
.sheet-autofire:before {
	content: ""!important;
	display: none;
	border: none;
}

.sheet-autofire button[type="roll"],
.sheet-autofire {
	display: block;
	background: blue;
	border-radius: 5px;
	height: 20px;
	width: 44px;
	margin: 0;
	background: radial-gradient(circle at 20px 20px, blue, #000);
	border: none;
	box-shadow: 0px 0px 5px white;
}

.sheet-autofire button[type="roll"]:hover,
.sheet-autofire:hover {
	background: radial-gradient(circle at 10px 10px, blue, #000);
}

.sheet-autofire button[type="roll"]:active,
.sheet-autofire:active {
	background: radial-gradient(circle at 20px 20px, #000, blue);
}


/* ======== Sheet-arrow to hide things========*/

input.sheet-arrow {
	float: left;
}

input.sheet-hider:checked~div.sheet-hold,
input.sheet-arrow:checked~div.sheet-hold {
	display: none;
}

input.sheet-arrow[type="checkbox"],
.sheet-arrow {
	opacity: 0;
	width: 16px;
	height: 16px;
	position: relative;
	top: 5px;
	left: 6px;
	margin: 10px;
	cursor: pointer;
	z-index: 1;
	margin-bottom: 0px;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
}

input.sheet-arrow[type="checkbox"]+span::before {
	line-height: 14px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	position: relative;
	top: 18px;
	left: -18px;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: radial-gradient(circle at 8px 8px, #fff, #000);
	width: 14px;
	height: 14px;
	font-size: 12px;
}

input.sheet-arrow[type="checkbox"]:checked+span::before {
	content: "";
	background: radial-gradient(circle at 8px 8px, #fff, #000);
	text-shadow: 0px 0px 10px blue;
	box-shadow: 0px 0px 10px blue;
	width: 14px;
	height: 14px;
	font-size: 12px;
}

input.sheet-arrow[type="checkbox"]:hover+span::before {
	text-shadow: 0px 0px 10px blue;
	box-shadow: 0px 0px 10px blue;
	background: radial-gradient(circle at 8px 8px, #000, #fff);
}


/*  ====    =====   =====   =====   */

input.sheet-dot[type="checkbox"] {
	opacity: 0;
	width: 16px;
	height: 16px;
	position: relative;
	top: -2px;
	left: 10px;
	margin: 10px;
	cursor: pointer;
	z-index: 1;
	margin-bottom: 0px;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
}

input.sheet-dot[type="checkbox"]+span::before {
	line-height: 14px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 0px;
	left: -18px;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	content: "";
	background: radial-gradient(circle at 0px 0px, #fff, green);
	text-shadow: 0px 0px 10px blue;
	box-shadow: 0px 0px 10px blue;
	width: 14px;
	height: 14px;
	font-size: 12px;
}

input.sheet-dot[type="checkbox"]:checked+span::before {
	content: "";
	background: radial-gradient(circle at 8px 8px, #fff, red);
	text-shadow: 0px 0px 10px blue;
	box-shadow: 0px 0px 10px blue;
	width: 14px;
	height: 14px;
	font-size: 12px;
}

input.sheet-dot[type="checkbox"]:hover+span::before {
	text-shadow: 0px 0px 10px blue;
	box-shadow: 0px 0px 10px blue;
	background: radial-gradient(circle at 8px 8px, #000, #fff);
}


/* ----Hide actual radio button---- */

input[type="radio"].sheet-damage {
	opacity: 0;
	width: 14px;
	height: 14px;
	position: relative;
	top: 5px;
	left: 6px;
	margin: -10px;
	cursor: pointer;
	z-index: 1;
}


/* ----Fake radio button---- */


/* Fake radio */

input[type="radio"].sheet-damage+span::before {
	content: "";
	border-radius: 100%;
	height: 12px;
	width: 12px;
	margin: 2px;
	border: solid 1px #a8a8a8;
	line-height: 12px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: black;
	border-radius: 100%;
	height: 12px;
	width: 12px;
	margin: 2px;
	background: radial-gradient(circle at 12px 12px, red, black);
	box-shadow: 0 0 3px white, 0 0 4px white, 0 0 5px white;
}

input[type="radio"].sheet-damage:checked~input[type="radio"].sheet-damage+span::before {
	border: solid 1px #a8a8a8;
	line-height: 12px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #f6f6f6;
	background: -moz-radial-gradient(#00008b, #add8e6);
	background: -webkit-radial-gradient(#00008b, #add8e6);
	background: -ms-radial-gradient(#00008b, #add8e6);
	background: -o-radial-gradient(#00008b, #add8e6);
	background: radial-gradient(#00008b, #add8e6);
}

.sheet-hidden {
	display: none;
}


/*===== Tool Tips =====*/

.sheet-tooltips {
	position: relative;
	display: inline;
}

.sheet-tooltips span {
	position: absolute;
	width: 200px;
	color: #000000;
	background: #FFFFFF;
	border: 2px solid #000000;
	line-height: 20px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
	text-shadow: none;
}

.sheet-tooltips span:before {
	content: '';
	position: absolute;
	top: 75%;
	right: 100%;
	margin-top: -5px;
	width: 0;
	height: 0;
	border-right: 12px solid #000000;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.sheet-tooltips span:after {
	content: '';
	position: absolute;
	top: 140%;
	right: 100%;
	margin-top: -25px;
	width: 0;
	height: 0;
	border-right: 8px solid #FFFFFF;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

:hover.sheet-tooltips span {
	visibility: visible;
	opacity: 1;
	left: 100%;
	top: 40%;
	margin-top: -25px;
	margin-left: 15px;
	z-index: 999;
}

.sheet-tooltips_small {
	position: relative;
	display: inline;
}

.sheet-tooltips_small span {
	position: absolute;
	width: 200px;
	color: #000000;
	background: #FFFFFF;
	border: 2px solid #000000;
	line-height: 20px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
	text-shadow: none;
}

.sheet-tooltips_small span:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -12px;
	width: 0;
	height: 0;
	border-right: 12px solid #000000;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.sheet-tooltips_small span:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -8px;
	width: 0;
	height: 0;
	border-right: 8px solid #FFFFFF;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

:hover.sheet-tooltips_small span {
	visibility: visible;
	opacity: 1;
	left: 100%;
	top: 50%;
	margin-top: -15px;
	margin-left: 15px;
	z-index: 999;
}

.sheet-hidden {
	display: none;
}


/*=== Roll Templates ===*/


/*======================*/


/*======================*/


/*======= ranged =======*/

.sheet-rolltemplate-ranged table {
	width: 100%;
	border: 3px ridge gray;
	color: white;
	text-shadow: 0px -0px 2px black, 0px -0px 2px black, 0px -0px 2px black;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: -5px -5px 5px black;
	background: url('http://th05.deviantart.net/fs45/PRE/i/2009/086/7/e/Hex_background_by_hardwayjackson.jpg');
}

.sheet-rolltemplate-ranged th {
	font-family: 'Crystal';
	color: white;
	padding: 4px;
	line-height: 1.6em;
	font-size: 1.4em;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	background: rgb(169, 3, 41);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(70%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
	/* IE6-9 */
	box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-rolltemplate-ranged .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-ranged td {
	padding: 2px;
}

.sheet-rolltemplate-ranged .inlinerollresult {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #add8e6;
	color: #add8e6;
	background: transparent;
}

.sheet-rolltemplate-ranged .sheet-no_border .inlinerollresult {
	display: inline-block;
	min-width: 1.5em;
	border: 2px solid transparent;
	color: white;
	background: transparent;
	font-weight: 400;
}

.sheet-rolltemplate-ranged .inlinerollresult.fullfail {
	border: 2px solid #add8e6;
	color: #add8e6;
}

.sheet-rolltemplate-ranged .inlinerollresult.importantroll {
	border: 2px solid #add8e6;
	color: #add8e6;
}

.sheet-rolltemplate-ranged .sheet-point_blank {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #add8e6;
	color: #add8e6;
	background: transparent;
	font-weight: 700;
}


/*----INITIATIVE-----*/

.sheet-rolltemplate-initiative table {
	width: 100%;
	border: 4px ridge #999999;
	color: black;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: -5px -5px 5px black;
	color: #add8e6;
	background: url('http://th05.deviantart.net/fs45/PRE/i/2009/086/7/e/Hex_background_by_hardwayjackson.jpg');
}

.sheet-rolltemplate-initiative th {
	font-family: 'Crystal';
	color: white;
	padding: 4px;
	line-height: 1.6em;
	font-size: 1.4em;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	background: rgb(169, 3, 41);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(70%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
	/* IE6-9 */
	box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-rolltemplate-initiative .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-ranged td {
	padding: 2px;
}

.sheet-rolltemplate-initiative .inlinerollresult {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #add8e6;
	background: transparent;
}

.sheet-rolltemplate-initiative .inlinerollresult.fullfail {
	border: 2px solid #add8e6;
}

.sheet-rolltemplate-initiative .inlinerollresult.importantroll {
	border: 2px solid #add8e6;
}


/*----Skill Rolls----*/


/*----  Tech ----*/

.sheet-rolltemplate-skill-spec table {
	width: 100%;
	background: white;
	border: 3px ridge gray;
	color: black;
	font-size: 0.9em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: -5px -5px 5px black;
	color: #add8e6;
	background: url('http://th05.deviantart.net/fs45/PRE/i/2009/086/7/e/Hex_background_by_hardwayjackson.jpg');
}

.sheet-rolltemplate-skill-spec th {
	font-family: 'Crystal';
	color: white;
	padding: 4px;
	line-height: 1.4em;
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	background: rgb(167, 207, 223);
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(167, 207, 223, 1)), color-stop(100%, rgba(35, 83, 138, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, rgba(167, 207, 223, 1) 0%, rgba(35, 83, 138, 1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-rolltemplate-skill-spec .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-skill-spec td {
	padding: 0px;
	text-align: center;
}

.sheet-rolltemplate-skill-spec .inlinerollresult {
	display: inline-block;
	min-width: 1.2em;
	text-align: center;
	border: 1px solid #add8e6;
	background: transparent;
}

.sheet-rolltemplate-skill-spec .inlinerollresult.fullfail {
	border: 1px solid #add8e6;
}

.sheet-rolltemplate-skill-tech .inlinerollresult.importantroll {
	border: 1px solid #add8e6;
}

.sheet-rolltemplate-skill-spec .sheet-no_border .inlinerollresult {
	display: inline-block;
	min-width: 1.5em;
	border: 2px solid transparent;
	background: transparent;
	font-weight: 400;
}


/*----  general ----*/

.sheet-rolltemplate-skill-general table,
.sheet-rolltemplate-general table {
	margin-top: 5px;
	width: 100%;
	background: white;
	border: 3px ridge gray;
	color: black;
	font-size: 0.9em;
	font-family: "Contrail One", Helvetica, sans-serif;
	box-shadow: -5px -5px 5px black;
	color: #add8e6;
	background: url('http://th05.deviantart.net/fs45/PRE/i/2009/086/7/e/Hex_background_by_hardwayjackson.jpg');
}

.sheet-rolltemplate-skill-general th,
.sheet-rolltemplate-general th {
	font-family: 'Contrail One';
	color: white;
	padding: 4px;
	line-height: 1.4em;
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	background: #cedce7;
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #cedce7), color-stop(100%, #596a72));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #cedce7 0%, #596a72 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-rolltemplate-skill-general .sheet-tcat,
.sheet-rolltemplate-general .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-skill-general td,
.sheet-rolltemplate-general td  {
	padding: 0px;
	text-align: center;
}

.sheet-rolltemplate-skill-general .inlinerollresult,
.sheet-rolltemplate-general .inlinerollresult {
	display: inline-block;
	min-width: 1.2em;
	text-align: center;
	border: 1px solid #add8e6;
	background: transparent;
}

.sheet-rolltemplate-skill-general .inlinerollresult.fullfail,
.sheet-rolltemplate-general .inlinerollresult.fullfail {
	border: 1px solid #add8e6;
}

.sheet-rolltemplate-skill-general .inlinerollresult.importantroll,
.sheet-rolltemplate-general .inlinerollresult.importantroll {
	border: 1px solid #add8e6;
}

.sheet-rolltemplate-skill-general .sheet-no_border .inlinerollresult,
.sheet-rolltemplate-general .sheet-no_border .inlinerollresult {
	display: inline-block;
	min-width: 1.5em;
	border: 2px solid transparent;
	background: transparent;
	font-weight: 400;
}


/*----  autofire ----*/

.sheet-rolltemplate-autofire table {
	width: 100%;
	background: white;
	border: 3px ridge gray;
	color: black;
	font-size: 0.9em;
	font-family: "Contrail One", Helvetica, sans-serif;
	box-shadow: -5px -5px 5px black;
	color: #add8e6;
	background: url('http://th05.deviantart.net/fs45/PRE/i/2009/086/7/e/Hex_background_by_hardwayjackson.jpg');
}

.sheet-rolltemplate-autofire th {
	font-family: 'Contrail One';
	color: #add8e6;
	padding: 4px;
	line-height: 1.4em;
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	background: #cedce7;
	/* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #cedce7), color-stop(100%, #596a72));
	/* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	/* IE10+ */
	background: radial-gradient(ellipse at center, #cedce7 0%, #596a72 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-rolltemplate-autofire .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-autofire td {
	padding: 0px;
	text-align: center;
}

.sheet-rolltemplate-autofire .inlinerollresult {
	display: inline-block;
	min-width: 1.2em;
	text-align: center;
	border: 1px solid #add8e6;
	background: transparent;
}


/*======= save =======*/

.sheet-rolltemplate-save table {
	width: 100%;
	background: url('http://th05.deviantart.net/fs45/PRE/i/2009/086/7/e/Hex_background_by_hardwayjackson.jpg');
	color: #add8e6;
	border: 4px ridge #999999;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: -5px -5px 5px black;
}

.sheet-rolltemplate-save th {
	font-family: 'Crystal';
	color: white;
	padding: 4px;
	line-height: 1.6em;
	font-size: 1.4em;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	background: #87e0fd;
	/* Old browsers */
	background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=0);
	/* IE6-9 */
	box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-save {
	border-top: 4px ridge #999999;
}

.sheet-rolltemplate-save .sheet-stun {
	height: 30px;
	width: 30px;
	float: left;
	background: url('http://aqworldswiki.com/images/aqworldswiki.com/9/97/Stun.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 22px;
}

.sheet-rolltemplate-save .sheet-death {
	height: 30px;
	width: 30px;
	float: left;
	background: url('http://images.onlinelabels.com/images/clip-art/liftarn/liftarn_Skull_07.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 22px;
	-webkit-filter: drop-shadow(0px 0px 10px white);
}

.sheet-rolltemplate-save .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-save td {
	padding: 5px;
}

.sheet-rolltemplate-save .inlinerollresult {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #add8e6;
	background: transparent;
}


/*======= NetCombat =======*/

.sheet-rolltemplate-netcombat table {
	width: 100%;
	background: white;
	border: 3px ridge gray;
	color: black;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	box-shadow: -5px -5px 5px black;
	color: #89E799;
	background: #114C12;
}

.sheet-rolltemplate-netcombat th {
	font-family: 'Crystal';
	color: white;
	padding: 4px;
	line-height: 1.6em;
	font-size: 1.4em;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	background: rgb(169, 3, 41);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(70%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 70%, rgba(109, 0, 25, 1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
	/* IE6-9 */
	box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-rolltemplate-netcombat .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-netcombat .inlinerollresult {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #89E799;
	background: transparent;
}

.sheet-rolltemplate-netcombat .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-netcombat .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}