 
.charsheet {
    background: url('http://www.samuriah.com/images/CementTileable03_Thumb.jpg')
}

.sheet-banner { 
    background: url('http://www.el33tonline.com/wp-content/uploads/2012/10/33122.jpg'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top;
}

.sheet-banner-content { 
    margin: 0 auto; 
    padding: 100px; 
}

, h1, h2, h3, h4, h5, h6, th, td {
    color:white;
    text-shadow: 0px 0px 2px black, 0px 0px 5px black;
    font-family: "Crystal";
}

.sheet-damagetable, .sheet-damagetable tr, .sheet-damagetable td, .sheet-damagetable th {
    border: 2px solid black;
    width: 500px;
    text-align: center;
    margin: 0;
}

.sheet-skilltable {
    border: 2px solid black;
    width: 390px;
    text-align: center;
}

.sheet-skilltable-otherskill {
    border: 2px solid black;
    border-bottom: none;
    width: 390px;
}

.sheet-skilltable-otherskill-openup {
    border: 2px solid black;
    border-top: none;
    width: 390px;
    text-align: center;
}

.sheet-skilltable_wide,
 table.sheet-skilltable_wide {
    border: 2px solid black;
    text-align: center;
    margin: 1px;
    margin-left:auto; 
    margin-right:auto;
}

.sheet-skilltable_wide tr, .sheet-skilltable_wide td, .sheet-skilltable_wide th {
    border: 2px solid black;
    text-align: center;
    margin: 0;
}

.sheet-skilltable .sheet-subskill, 
.sheet-skilltable-otherskill-openup .sheet-subskill {
    font-weight:400;
    font-style:italic;
}

.sheet-skilltable .sheet-subskill-header, 
.sheet-skilltable-otherskill-openup .sheet-subskill-header  {
    font-weight:700;
    text-shadow: 0px 0px 2px black, 0px 0px 5px black;
}

.sheet-language {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 2px dotted white;
    background-color: transparent;
    color: white;
    font-style:italic;
}
/*============= TABS =============*/

div.sheet-tab-content
{ display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6
{
    display: block;
}

input.sheet-tab
{
    width: 150px;
    height: 20px;
    position: relative;
    left: 6px; 
    margin: 0px -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before
{
    content: attr(title);
    font-family: "Crystal";

    text-align: center;
    display: inline-block;
    
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    
    width: 150px;
    height: 20px;
    font-size: 18px;
}

input.sheet-tab:checked::before
{
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    /* border-bottom-color: #fff; */
}

input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}

div.sheet-tab-content
{
   /*  border: 1px solid #a8a8a8;
    border-top-color: #000;*/    
    margin: 2px 0 0 5px;
    padding: 5px;
}
    /*---- lining up select boxes & text areas---- */

select {
    margin: 0;
}

textarea {
    margin: 0;
    height: 30px;
}

/* ============== Big Checkbox ==============*/

/* ----Hide actual Big Checkbox---- */
input[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake Big Checkbox-- .sheet-bigcheck -- */
input[type="checkbox"] + span::before
{
    margin-bottom: 2px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0px 0px 2px black, 0px 0px 5px black;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input[type="checkbox"]:checked + span::before
{
    color: red;
    content: "✖"; /*   "✓" */
    text-shadow: 0px 0px 0.5em #A52A2A;
}

/* =====Button Reset =====*/
.sheet-wrapper button[type="roll"]:before {
    content: ""!important;
    display: none;
    
}
.sheet-wrapper button[type="roll"],
.sheet-wrapper .sheet-roll {
    width: 100%;
    height:28px;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    
    background-color: transparent;
    border: 4px solid transparent; /* 1px solid black */;
    padding: 2px;
    padding-bottom:4px;

    font-size: 1em;
    color: white; 
    
    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    font-weight: 700;
    font-family: "Crystal";

}

.sheet-wrapper button[type="roll"]:hover,
.sheet-wrapper .sheet-roll:hover,
.sheet-wrapper .sheet-hider input[type=checkbox]:checked ~ .sheet-btn {
    color: white;
    border: 4px solid gray;
    border-style: inset;
    background-color: transparent;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 0px;

}

.sheet-wrapper button[type="roll"] label,
.sheet-wrapper button[type="roll"] input {
    text-align:right;
    width: 99%;
    cursor: pointer;
    background: none;
    box-shadow: none;
    transition: none;
    border-radius: none;
    border:none;
    
    color: white;
    font-weight:700;
    font-size: 1em; 
    text-shadow: 0px 0px 2px black, 0px 0px 5px black;
}
    
.sheet-front {
    line-height:inherit;
}

.sheet-front:hover {
    text-shadow: 0px 0px 0.5em blue;
}

.sheet-wrapper button[type="roll"]:hover label,
.sheet-wrapper button[type="roll"]:hover input {
    color: white;
    text-shadow: 0px 0px 0.5em blue;
    border: black;
    background-color: transparent;
}
.sheet-left td input[type="checkbox"] {
    margin-left:10px;
}
/* Hide actual radio/checkbox */
.sheet-damagetable th input[type="radio"], 
.sheet-damagetable td input[type="radio"] {
    opacity: 0;
    width: 14px;
    height: 14px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio/checkbox */
.sheet-damagetable th input[type="radio"] + span::before, 
.sheet-damagetable td input[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Fake radio */
.sheet-damagetable th input[type="radio"] + span::before, 
.sheet-damagetable td input[type="radio"] + span::before {
    content: "";
    background: black;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin: 2px;
    background: radial-gradient(circle at 12px 12px, white, black);
    box-shadow:0 0 3px white, 0 0 4px white, 0 0 5px white;
}
.sheet-damagetable th input[type="radio"]:checked + span::before, 
.sheet-damagetable td input[type="radio"]:checked + span::before {
    background: black;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin: 2px;
    background: radial-gradient(circle at 12px 12px, red, black);
    box-shadow:0 0 3px white, 0 0 4px white, 0 0 5px white;

}

/*==== weapon roll button ====*/
.sheet-weaponroll button[type="roll"]:before,
.sheet-weaponroll:before  {
    content: ""!important;
    display: none;
    border:none;
}
.sheet-weaponroll button[type="roll"],
.sheet-weaponroll {
    display: block;
    background: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0;
    background: radial-gradient(circle at 20px 20px, #fff, #000);
    border:none;
    box-shadow: 0px 0px 5px blue;

}

.sheet-weaponroll button[type="roll"]:hover,
.sheet-weaponroll:hover  {
    display: block;
    background: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0;
    background: radial-gradient(circle at 15px 15px, #fff, #000);
    box-shadow: 0px 0px 5px blue, 0px 0px 10px green;
}

.sheet-weaponroll button[type="roll"]:active,
.sheet-weaponroll:active  {
    display: block;
    background: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0;
    background: radial-gradient(circle at 20px 20px, #fff, #66FF00);
}

/* ======== Sheet-arrow to hide things========*/
input.sheet-arrow
{
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-hold
{
    display: none;
}

input.sheet-arrow[type="checkbox"], .sheet-arrow
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: 10px;
    cursor: pointer;
    z-index: 1;

    margin-bottom: 0px;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;

}

input.sheet-arrow[type="checkbox"] + span::before
{
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    background:transparent;
    
    position: relative;
    top: 18px;
    left: -18px;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    
    background: radial-gradient(circle at 8px 8px, #fff, #000);
    width: 14px;
    height: 14px;
    font-size: 12px;
}

input.sheet-arrow[type="checkbox"]:checked + span::before
{
    content: "";
    background: radial-gradient(circle at 8px 8px, #fff, #000);
    text-shadow: 0px 0px 10px blue;
    box-shadow: 0px 0px 10px blue;
    width: 14px;
    height: 14px;
    font-size: 12px;
}

input.sheet-arrow[type="checkbox"]:hover + span::before {
    text-shadow: 0px 0px 10px blue;
    box-shadow: 0px 0px 10px blue;
    background: radial-gradient(circle at 8px 8px, #000, #fff);
}
    
.sheet-tooltips {
  position: relative;
  display: inline;
}

.sheet-tooltips span {
  position: absolute;
  width:200px;
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #000000;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  text-shadow: none;
}

.sheet-tooltips span:before {
  content: '';
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -6px;
  width: 0; height: 0;
  border-right: 12px solid #000000;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.sheet-tooltips span:after {
  content: '';
  position: absolute;
  top: 45%;
  right: 100%;
  margin-top: -6px;
  width: 0; height: 0;
  border-right: 8px solid #FFFFFF;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

:hover.sheet-tooltips span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 10%;
  margin-top: -50px;
  margin-left: 15px;
  z-index: 999;
}
/*---------Little Tooltips------------*/
.sheet-tooltips_small {
  position: relative;
  display: inline;
}

.sheet-tooltips_small span {
  position: absolute;
  width:200px;
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #000000;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  text-shadow: none;
}

.sheet-tooltips_small span:before {
  content: '';
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -6px;
  width: 0; height: 0;
  border-right: 12px solid #000000;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.sheet-tooltips_small span:after {
  content: '';
  position: absolute;
  top: 45%;
  right: 100%;
  margin-top: -6px;
  width: 0; height: 0;
  border-right: 8px solid #FFFFFF;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

:hover.sheet-tooltips_small span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 10%;
  margin-top: -10px;
  margin-left: 15px;
  z-index: 999;
}

.sheet-hidden {
    display: none;
}
        /*=== Roll Templates ===*/
        /*======================*/
        /*======================*/
        /*======= ranged =======*/
.sheet-rolltemplate-ranged table {
    width: 100%;
    background: white;
    border: 3px ridge gray;
    color: black;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    box-shadow: -5px -5px 5px black;
    color: #89E799;
    background: #114C12;
}

.sheet-rolltemplate-ranged th {
    font-family: 'Crystal';
    color: white;
    padding: 4px;
    line-height: 1.6em;
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
    
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 70%, rgba(109,0,25,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(70%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 70%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 70%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 70%,rgba(109,0,25,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 70%,rgba(109,0,25,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    
    box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-rolltemplate-ranged .sheet-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-ranged td {
    padding: 2px;
}

.sheet-rolltemplate-ranged .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #89E799; 
    background:transparent;
}

.sheet-rolltemplate-ranged .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-ranged .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}

        /*======= save =======*/
.sheet-rolltemplate-save table {
    width: 100%;
    background: white;
    border: 4px ridge #999999;
    color: black;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    box-shadow: -5px -5px 5px black;
    color: #89E799;
    background: #114C12;
}

.sheet-rolltemplate-save th {
    font-family: 'Crystal';
    color: white;
    padding: 4px;
    line-height: 1.6em;
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
    
    background: #EEFF99;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EEFF99), to(#66EE33));
    background: -webkit-linear-gradient(#EEFF99, #66EE33);
    background: -moz-linear-gradient(#EEFF99, #66EE33);
    background: -ms-linear-gradient(#EEFF99, #66EE33);
    background: -o-linear-gradient(#EEFF99, #66EE33);
    background: linear-gradient(#EEFF99, #66EE33);
    
    box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
}

.sheet-save {
    border-top: 4px ridge #999999;
}

.sheet-rolltemplate-save .sheet-stun {
    height:30px;
    width:30px;
    float:left;
    background: url('http://aqworldswiki.com/images/aqworldswiki.com/9/97/Stun.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding:5px 5px 5px 22px;
}

.sheet-rolltemplate-save .sheet-death {
    height:30px;
    width:30px;
    float:left;
    background: url('http://images.onlinelabels.com/images/clip-art/liftarn/liftarn_Skull_07.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding:5px 5px 5px 22px;
    -webkit-filter: drop-shadow(0px 0px 10px white);

}

.sheet-rolltemplate-save .sheet-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-save td {
	padding: 5px;
}

.sheet-rolltemplate-save .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #89E799; 
    background:transparent;
}

@font-face {
    font-family: 'Crystal'; 
    src: url('http://openfontlibrary.org/assets/fonts/crystal/3b1efb28a7300d5c3053d5c8d7d1132a/f089659f43914b0f63620effd47c046b/CRYSTALRegular.ttf');
    font-weight: normal; 
    font-style: normal;
}













