//- Header
.header.flex-center
	img.logo(src="https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/logo.png", alt="Stars Without Number")

	label.npc-chooser
		input(type="checkbox", name="attr_npc", value="1")
		span.pc-label(data-i18n="PC")
		span.npc-label(data-i18n="NPC")
	label.edit-button
		input(type="checkbox", name="attr_edit_mode", value="1", checked)
		span p
	label.settings-gear
		input(type="checkbox", name="attr_show_settings", value="1")
		span y

//- Settings
input(type="hidden", name="attr_show_settings" value="0").hider
.settings.thirdsgrid
	div
		h2(data-i18n="HOMEBREW_OPTIONS")
		p
			label
				span(data-i18n="ADD_LUCK_SAVE").colon-after
				input(type="checkbox", name="attr_homebrew_luck_save", value="1")
			span(data-i18n="ADD_LUCK_SAVE_DESC")
		p
			label
				span(data-i18n="SKILL_LIST").colon-after
				select(name="attr_homebrew_skill_list")
					option(selected="", value="revised", data-i18n="REVISED_EDITION")
					option(value="first", data-i18n="FIRST_EDITION")
					option(value="neither", data-i18n="NEITHER")
			span(data-i18n="SKILL_LIST_DESC")
		p
			label
				span(data-i18n="ADD_EXTRA_SKILLS").colon-after
				input(type="checkbox", name="attr_homebrew_extra_skills", value="1")
			span(data-i18n="ADD_EXTRA_SKILLS_DESC")
		h2 API
		p
			label
				span.colon
					span(data-i18n="USE_AMMO_AUTOMATICALLY")
					span.api API
				input(type="checkbox", name="attr_setting_use_ammo", value="1")
			span(data-i18n="REQUIRES_CHATSETATTR")
	div
		h2(data-i18n="CHARACTER_OPTIONS")
		p
			label
				span(data-i18n="HEROIC_CHARACTERS").colon-after
				input(type="checkbox", name="attr_setting_heroic_enable", value="1")
			span(data-i18n="HEROIC_CHARACTERS_DESC")
			input(type="hidden", name="attr_setting_heroic_enable", value="0").hider
			label
				span(data-i18n="DEFY_DOOM_DIE_SIZE")
				input(type="number", name="attr_doom_size", value="6")
		p
			label
				span(data-i18n="SUBSYSTEMS").colon-after
				select(name="attr_setting_super_type").wide
					option(value="psionics", data-i18n="PSIONICS", selected)
					option(value="magic", data-i18n="SPACE_MAGIC")
					option(value="both", data-i18n="PSIONICS_AND_SPACE_MAGIC")
					option(value="neither", data-i18n="NEITHER")
			span(data-i18n="SUBSYSTEMS_DESC")
		p
			label
				span(data-i18n="XP_SCHEME").colon-after
				select(name="attr_setting_xp_scheme")
					option(value="xp", data-i18n="NORMAL_XP", selected)
					option(value="money", data-i18n="MONEY")
					option(value="custom", data-i18n="CUSTOM_AMOUNTS")
			span(data-i18n="XP_SCHEME_DESC")
		p
			label
				span(data-i18n="SKILL_ATTRIBUTE_CHOICE").colon-after
				select(name="attr_setting_skill_query")
					option(value="hover", data-i18n="CHOOSE_ON_HOVER", selected)
					option(value="query", data-i18n="QUERY")
					option(value="hide", data-i18n="EDIT_MODE_ONLY")
	div
		h2(data-i18n="GENERAL SETTINGS")
		p
			label
				span(data-i18n="FOCI_LOCATION").colon-after
				select(name="attr_setting_foci_location")
					option(value="left", data-i18n="LEFT_COLUMN")
					option(value="right", data-i18n="RIGHT_COLUMN")
			span(data-i18n="FOCI_LOCATION_DESC")
		p
			label
				span(data-i18n="UNTRAINED_SKILLS_IN_QUICK_MACRO").colon-after
				input(type="checkbox", name="attr_setting_show_untrained_skills", value="1", checked)
		p
			label
				span(data-i18n="QUERY_FOR_MODIFIERS").colon-after
				input(type="checkbox", name="attr_setting_modifier_query", value="1", checked)
			span(data-i18n="QUERY_FOR_MODIFIERS_DESC")
		p
			label
				span(data-i18n="FINE_NPC_WHISPERING").colon-after
				input(type="checkbox", name="attr_setting_individual_hidden", value="1", checked)
			span(data-i18n="FINE_NPC_WHISPERING_DESC")
		h2(data-i18n="GLOBAL_STATS")
		p
			label
				span(data-i18n="EFFORT_MODIFIER")
				input(type="number", name="attr_psionics_extra_effort", value="0")
//- Choose Character/Ship
.tabs.flex
	label
		input(type="radio", name="attr_tab", value="ship")
		span(name="attr_ship_vehicle_type", data-i18n-dynamic)
	label.pc-tab
		input(type="radio", name="attr_tab", value="drones")
		span(data-i18n="DRONES")
	label.pc-tab
		input(type="radio", name="attr_tab", value="character", checked)
		span(data-i18n="CHARACTER")
	label.npc-tab
		input(type="radio", name="attr_tab", value="npc")
		span(data-i18n="NPC")
