rolltemplate.sheet-rolltemplate-swn-default
	.container
		.header
			.name {{charname}}
			.title {{title}}
		.content
			| {{#reaction}}
			.rolls
				.rollname
					span {{#rollLess() reaction 3}} #[span(data-i18n="HOSTILE")] {{/rollLess() reaction 3}}
					span {{#rollBetween() reaction 3 5}} #[span(data-i18n="NEGATIVE")] {{/rollBetween() reaction 3 5}}
					span {{#rollBetween() reaction 6 8}} #[span(data-i18n="NEUTRAL")] {{/rollBetween() reaction 6 8}}
					span {{#rollBetween() reaction 9 11}} #[span(data-i18n="POSITIVE")] {{/rollBetween() reaction 9 11}}
					span {{#rollGreater() reaction 11}} #[span(data-i18n="FRIENDLY")] {{/rollGreater() reaction 11}}
				.roll {{reaction}}
			| {{/reaction}} {{#info}}
			.info {{info}}
			| {{/info}} {{#rollGreater() damage 0}}
			.rolls
				.rollname(data-i18n="DAMAGE")
				.roll {{damage}}
			| {{/rollGreater() damage 0}} {{#allprops() charname title damage reaction desc info buttons}}
			.rolls
				.rollname {{key}}
				.roll {{value}}
			| {{/allprops() charname title damage reaction desc info buttons}}
			.desc {{desc}}
			.buttons {{buttons}}

rolltemplate.sheet-rolltemplate-swn-attack
	.container
		.header
			.name {{charname}}
			.title
				| {{title}} {{#rollGreater() burst 0}}(#[span(data-i18n="BURST")]){{/rollGreater() burst 0}} {{#rollLess() mod 0}}{{mod}}{{/rollLess() mod 0}}{{#rollGreater() mod 0}}+ {{mod}}{{/rollGreater() mod 0}}
		.content
			.rolls
				.rollname(data-i18n="ATTACK")
				.roll {{attack}}
				.rollname.damage(data-i18n="DAMAGE")
				.roll {{damage}}
			| {{#attack2}}
			.rolls
				.rollname(data-i18n="ATTACK")
				.roll {{attack2}}
				.rollname.damage(data-i18n="DAMAGE")
				.roll {{damage2}}
			| {{/attack2}}{{#attack3}}
			.rolls
				.rollname(data-i18n="ATTACK")
				.roll {{attack3}}
				.rollname.damage(data-i18n="DAMAGE")
				.roll {{damage3}}
			| {{/attack3}}{{#attack4}}
			.rolls
				.rollname(data-i18n="ATTACK")
				.roll {{attack4}}
				.rollname.damage(data-i18n="DAMAGE")
				.roll {{damage4}}
			| {{/attack4}} {{#attack5}}
			.rolls
				.rollname(data-i18n="ATTACK")
				.roll {{attack5}}
				.rollname.damage(data-i18n="DAMAGE")
				.roll {{damage5}}
			| {{/attack5}} {{#attack6}}
			.rolls
				.rollname(data-i18n="ATTACK")
				.roll {{attack6}}
				.rollname.damage(data-i18n="DAMAGE")
				.roll {{damage6}}
			| {{/attack6}} {{#attack7}}
			.rolls
				.rollname(data-i18n="ATTACK")
				.roll {{attack7}}
				.rollname.damage(data-i18n="DAMAGE")
				.roll {{damage7}}
			| {{/attack7}} {{#attack8}}
			.rolls
				.rollname(data-i18n="ATTACK")
				.roll {{attack8}}
				.rollname.damage(data-i18n="DAMAGE")
				.roll {{damage8}}
			| {{/attack8}} {{#shock}}
			.shock {{shock}}
			| {{/shock}}
			.info
				| {{#range}}
				span #[span(data-i18n="RANGE")] {{range}}
				| {{/range}}{{#ammo}}
				span #[span(data-i18n="AMMO")] {{ammo}}
				| {{/ammo}}
			.desc {{desc}}

rolltemplate.sheet-rolltemplate-swn-skill
	.container
		.header
			.name {{charname}}
			.title
				| {{title}} #[span.italic {{attribute}} {{#rollLess() mod 0}}{{mod}}{{/rollLess() mod 0}}{{#rollGreater() mod 0}}+ {{mod}}{{/rollGreater() mod 0}}]
		.content
			.rolls
				.rollname(data-i18n="CHECK_RESULT")
				.roll {{dice}}

mixin save-success
	.container.success
		.header
			.name {{charname}}
			.title {{title}}
		.content
			.rolls
				.rollname(data-i18n="SUCCESS!")
				.roll {{dice}}
				.vs(data-i18n="VS")
				.roll {{save}}{{morale}}

mixin save-failure
	.container.failure
		.header
			.name {{charname}}
			.title {{title}}
		.content
			.rolls
				.rollname(data-i18n="FAILURE!")
				.roll {{dice}}
				.vs(data-i18n="VS")
				.roll {{save}}{{morale}}

rolltemplate.sheet-rolltemplate-swn-save
	| {{#save}} {{#^rollLess() dice save}}
	+save-success
	| {{/^rollLess() dice save}} {{#rollLess() dice save}}
	+save-failure
	| {{/rollLess() dice save}} {{/save}} {{#morale}} {{#^rollGreater() dice morale}}
	+save-success
	| {{/^rollGreater() dice morale}} {{#rollGreater() dice morale}}
	+save-failure
	| {{/rollGreater() dice morale}} {{/morale}}
