include ../../components/bonds/track
include ../../components/bonds/bonds

mixin bondsPage(sheetType)
  div.page-container
    input(type='radio' name=`attr_${sheetType}_page` class='bonds hide' value='3')
    div.bonds.showhide
      h3.divide &emsp;BONDS&emsp;
      if sheetType == 'character'
        +bondsTrack
      +bonds