
mixin progressPage(sheetType)
  div.page-container
    input(type='radio' name=`attr_${sheetType}_page` class='progress hide' value='4')
    div.progress.showhide
      h3.divide &emsp;PROGRESS&emsp;
      include ../../components/progress/progress