include ../../components/settings/menu

mixin settingsPage(sheetType)
  div.page-container
    input(type='radio' name=`attr_${sheetType}_page` class='settings hide' value='9')
    div.settings.showhide
      h3.divide &emsp;settings&emsp;
      +settings