mixin sitesPage(sheetType)
  div.page-container
    input(type='radio' name=`attr_${sheetType}_page` class='sites hide' value='8')
    div.sites.showhide
      h3.divide &emsp;SITES&emsp;
      include ../../components/sites/sites