- var legacyVows = [ 1, 2, 3, 4, 5 ]
include ../../components/vows/vow-container

mixin vowsPage(sheetType)
  div.page-container
    if sheetType == 'shared'
      input(type='radio' name=`attr_${sheetType}_page` class='vows hide' value='2' checked)
    else
      input(type='radio' name=`attr_${sheetType}_page` class='vows hide' value='2')
    div.vows.showhide
      h3.divide &emsp;VOWS&emsp;
      div.vows
        if sheetType == 'shared'
          fieldset.repeating_vow
            +repeatingVow()
        else
          each vow in legacyVows
            +vowLegacy(vow)
          fieldset.repeating_vow
            +repeatingVow()