.menu
    +rdButton('attr_tab', 'Nephilim', 1)
    +rdButton('attr_tab', 'Selenim', 11)
    +rdButton('attr_tab', 'Simulacre', 2)
    +rdButton('attr_tab', "Epoques d'incarnation", 3)
    +rdButton('attr_tab', 'Combat', 4)
    +rdButton('attr_tab', 'Arcadia', 10)
    +rdButton('attr_tab', 'Magie', 5)
    +rdButton('attr_tab', 'Kabbale', 6)
    +rdButton('attr_tab', 'Alchimie', 7)
    +rdButton('attr_tab', 'Contructs', 8)
    +rdButton('attr_tab', 'Nécromancie', 12)
    +rdButton('attr_tab', 'Kabbale noire', 13)
    +rdButton('attr_tab', 'Imago', 14)
    +rdButton('attr_tab', 'Fraternité', 9)

+hiddenInput('tab', 1).menu