.menuTop
    label.sapience
        span Points de Sapience
        +numberInput("sapience", 0)
    .options
        //- +cbButton("options", "Options", 1)
        label
            input(type='checkbox', name='attr_options', value='1')
            span
        +hiddenInput("options", 1)
        div
            label
                select(name="attr_nature", title="Nature ?")
                    option(value="nephilim", selected) Nephilim
                    option(value="humain") Humain
                    option(value="selenim") Selenim
            +cbButton("attr_gm", "Jets privés", "/w gm")
            +cbButton("attr_initiative_variable", "Initiative variable", "1d6")
            +cbButton("attr_practice_magie", "Pratique la magie")
            +cbButton("attr_practice_kabb", "Pratique la kabbale")
            +cbButton("attr_practice_alch", "Pratique l'alchimie")
            +cbButton("attr_practice_necro", "Pratique la nécro.")
            +cbButton("attr_practice_kabnoire", "Kabbale noire")
            +cbButton("attr_practice_imago", "Imago")
            +cbButton("attr_view_arcadia", "Arcadia")

+hiddenInput("practice_magie", 0).magie
+hiddenInput("practice_kabb", 0).kabbale
+hiddenInput("practice_alch", 0).alchimie
+hiddenInput("view_arcadia", 0).arcadia
+hiddenInput("nature", "nephilim").nature
+hiddenInput("practice_necro", 0).necro
+hiddenInput("practice_kabnoire", 0).kabnoire
+hiddenInput("practice_imago", 0).imago