mixin repeatingNPCSkills(name)
	.npc-repeatingname(data-i18n=name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.npc-skillrow.grid.descriptor
			+skillButton(name)
			.row.text-center
				span(name='attr_rank')
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				h3.font-smallcaps(data-i18n='description')
				span.collapse.description(name='attr_description')
			.settings
				.grid.mb-1
					h3.font-smallcaps(data-i18n='name')
					+textInput(`name`)
					h3.font-smallcaps(data-i18n='rank')
					+numberInput(`rank`)
				.grid.mb-1
					h3.font-smallcaps(data-i18n='trait')
					select(name='attr_trait_modifier' value='@{agility_modifier}')
						each val in trait
							option(data-i18n=val value=`@{${val}_modifier}`)
					h3.font-smallcaps(data-i18n='modifier')
					+numberInput(`modifier`)
				.row
					h3.font-smallcaps(data-i18n='description')
					+textarea('description')