mixin repeatingNPCAttacks(name)
    fieldset(class=`repeating_${buttonName(name)}`)
        .grid.descriptor.npc-weapon
            +npcWeaponButton(name)
            each field in npcWeaponFields
                .grid.column.text-center.ellipsis(class=field.name)
                    span(name=`attr_${attrName(field.name)}`)
            +checkboxSymbol('collapse', 'i')
            +checkboxSymbol('settings', 'p')
            .collapse
                span.description(name=`attr_description`)
            .settings
                .grid.npc-settings
                    each field in [{name:'name', type:'text'}, ...npcWeaponFields]
                        .grid(class=field.name)
                            h3.font-smallcaps(data-i18n=field.name)
                
                            if (field.type === "number")
                                +numberInput(field.name)
                            
                            if (field.type === "text")
                                +textInput(field.name)
                .row
                    h3.font-smallcaps(data-i18n='description')
                    +textarea('description')
