mixin repeatingBenefits(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			button.text-left.ellipsis.font-weight-bold(name='roll_button' type='roll')
				span(name='attr_name')
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				.grid.benefit-cost-row
					h3.font-smallcaps(data-i18n='benefit')
					h3.font-smallcaps(data-i18n='cost')
					span(name='attr_cost')
				.row
					span.collapse.description(name='attr_benefit')
			.rowx.settings
				.grid.mb-1.benefit-cost-row
					h3.font-smallcaps(data-i18n='name')
					+textInput(`name`)
					h3.font-smallcaps(data-i18n='cost')
					+textInput(`cost`)
				.row
					h3.font-smallcaps(data-i18n='benefit')
					+textarea('benefit')