mixin repeatingWithChecks(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			+checkboxInput('check')
			+repeatingRollButton(name)
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				span.collapse.description(name='attr_description')
			.rowx.settings
				+textInput(`name`)
				+textarea('description')