mixin repeatingSkills(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			+skillButton(name)
			.row.ellipsis.text-center
				span(name='attr_specialization')
			.row.text-center
				span(name='attr_rank')
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				.grid.benefit-cost-row
					h3.font-smallcaps(data-i18n='description')
					h3.font-smallcaps(data-i18n='cost')
					span.text-center(name='attr_cost')
				.row
					span.collapse.description(name='attr_description')
			.rowx.settings
				.grid.mb-1
					h3.font-smallcaps(data-i18n='name')
					+textInput(`name`)
					h3.font-smallcaps(data-i18n='rank')
					+numberInput(`rank`)
				.grid.mb-1
					h3.font-smallcaps(data-i18n='specialization')
					+textInput(`specialization`)
					h3.font-smallcaps(data-i18n='cost')
					+textInput(`cost`)
				.grid.mb-1
					h3.font-smallcaps(data-i18n='trait')
					select(name='attr_trait_modifier' value='@{agility_modifier}')
						each val in trait
							option(data-i18n=val value=`@{${val}_modifier}`)
					h3.font-smallcaps(data-i18n='modifier')
					+numberInput(`modifier`)
				.row
					h3.font-smallcaps(data-i18n='description')
					+textarea('description')