mixin repeatingTraits(name)
	.npc-repeatingname(data-i18n=name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.npc-traitrow.grid.descriptor
			+repeatingRollButton(name)
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.collapse
				span.collapse.description(name='attr_description')
			.settings
				+textInput(`name`)
				+textarea('description')