mixin repeatingPowers(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			+repeatingRollButton(name)
			.row.text-center
				span(name='attr_rank')
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				.grid
					h3.font-smallcaps(data-i18n='description')
					h3.font-smallcaps(data-i18n='cost')
					span.text-center(name='attr_cost')
				.row
					span.collapse.description(name='attr_description')
			.rowx.settings
				.grid.2autocolumn.mb-1
					h3.font-smallcaps(data-i18n='name')
					+textInput(`name`)
				.grid.2column.mb-1
					.grid.2autocolumn
						h3.font-smallcaps(data-i18n='cost')
						+textInput(`cost`)
					.grid.2autocolumn
						h3.font-smallcaps(data-i18n='rank')
						+numberInput(`rank`)
				.row
					h3.font-smallcaps(data-i18n='description')
					+textarea('description')