mixin repeatingBenefits(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			+repeatingRollButton(name)
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				.grid.header
					.row
						h3.font-smallcaps(data-i18n='benefit')
					.grid.text-center.2autocolumn
						h3.font-smallcaps(data-i18n='type')
						span.text-capitalize(name='attr_type')
					.grid.text-center.2autocolumn
						h3.font-smallcaps(data-i18n='cost')
						span(name='attr_cost')
				.row
					span.collapse.description(name='attr_description')
			.rowx.settings
				.grid.mb-1
					.grid.2autocolumn.mb-2
						h3.font-smallcaps(data-i18n='name')
						+textInput(`name`)
					.grid.2column
						.grid.column.2autocolumn
							h3.font-smallcaps(data-i18n='type')
							select(name='attr_type')
								each val in ['attribute', 'background', 'talent', 'other']
									option(data-i18n=val value=val)
						.grid.column.2autocolumn
							h3.font-smallcaps(data-i18n='cost')
							+textInput(`cost`)
				.row
					h3.font-smallcaps(data-i18n='benefit')
					+textarea('description')