{% from "selection-input.html" import selectionInput %}
{% from "input.html" import numberInput, textInput, textareaInput %}
{% from "table.html" import tableHeaderCell %}

{% macro baseProperties(mode,
                        sectionName,
                        name=false,
                        description=false,
                        location=false,
                        encumbrance=false,
                        value=false,
                        tech=false,
                        slots=false,
                        editable='auto') %}
    {% if name %}
        {% if mode == 'header' %}
            {{ tableHeaderCell(translationBase=sectionName,
                               content=sectionName) }}
        {% else %}
            <span class="sheet-user-text">
                {{ textInput(attributeName=sectionName+'_name',
                             editable=editable) }}
            </span>
        {% endif %}
    {% endif %}

    {% if location %}
        {% if mode == 'header' %}
            {{ tableHeaderCell(translationBase='equipment-location',
                               content='location') }}
        {% else %}
            <span>
                {{ selectionInput(attributeName=sectionName+'_location',
                                  translationBase='equipment-location',
                                  title='location',
                                  options=[{value: 'at hand',
                                            translationBase: 'at-hand',
                                            content: 'at hand',
                                            title: 'The item is readily available',
                                            class: 'sheet-positive-background'},
                                           {value: 'backpack',
                                            translationBase: 'stowed',
                                            class: 'sheet-stowed',
                                            content: 'stowed',
                                            title: "The item can't be retrieved immediately"},
                                           {value: 'away',
                                            translationBase: 'away',
                                            class: 'sheet-negative-background',
                                            content: 'away',
                                            title: "The item can't be accessed at all"}]) }}
            </span>
        {% endif %}
    {% endif %}

    {% if description %}
        {% if mode == 'header' %}
            {{ tableHeaderCell(translationBase='description',
                               content='description',
                               class='sheet-use-2-cells') }}
        {% else %}
            <span class="sheet-user-text sheet-use-2-cells">
                {{ textareaInput(attributeName=sectionName+'_description',
                                 editable=editable) }}
            </span>
        {% endif %}
    {% endif %}

    {% if encumbrance %}
        {% if mode == 'header' %}
            {{ tableHeaderCell(translationBase='encumbrance',
                               content='encumbrance',
                               title='measures how hard the equipment is to carry around') }}
        {% else %}
            <span class="sheet-user-text">
                {{ numberInput(attributeName=sectionName+'_encumbrance',
                               editable=editable,
                               allowDecimal=true,
                               translationBase='encumbrance',
                               title='measures how hard the equipment is to carry around') }}
            </span>
        {% endif %}
    {% endif %}

    {% if value %}
        {% if mode == 'header' %}
            {{ tableHeaderCell(translationBase='value',
                               content='value',
                               title='trade value (Chroniclers’ Drafts or Dinars)') }}
        {% else %}
            <span class="sheet-user-text">
                {{ numberInput(attributeName=sectionName+'_value',
                               editable=editable,
                               allowDecimal=true,
                               min=0,
                               translationBase='value',
                               title='trade value (Chroniclers’ Drafts or Dinars)') }}
            </span>
        {% endif %}
    {% endif %}

    {% if tech %}
        {% if mode == 'header' %}
            {{ tableHeaderCell(translationBase='tech',
                               content='tech',
                               title='technological level') }}
        {% else %}
            {#
            <span class="sheet-user-text">
                {{ numberInput(attributeName=sectionName+'_tech',
                               editable=editable,
                               class='sheet-tech',
                               min=1, max=6) }}
            </span>
            #}

            <span>
                <select name="{{sectionName}}_tech"
                        class="sheet-tech"
                        title="technological level",
                        data-i18n-title="tech-title">
                    {% for name in ['Ⅰ', 'Ⅱ', 'Ⅲ', 'Ⅳ', 'Ⅴ', 'Ⅵ'] %}
                        <option value="{{loop.index}}"
                                data-i18n-title="tech-{{loop.index}}-title">{{name}}</option>
                    {% endfor %}
                </select>
            </span>
        {% endif %}
    {% endif %}

    {% if slots %}
        {% if mode == 'header' %}
            {{ tableHeaderCell(translationBase='slots',
                               content='slots',
                               title='used for augmentations/modifications') }}
        {% else %}
            <!-- SLOTS -->
            <span class="sheet-user-text"
                  data-i18n-title="slots-title"
                  title="used for augmentations/modifications">
                {{ numberInput(attributeName=sectionName+'_slots',
                               editable=editable,
                               translationBase='slots-used',
                               title='active slots',
                               placeholder='used') }}<!-- TODO: wording -->
                <span class="sheet-fraction-slash"></span>
                {{ numberInput(attributeName=sectionName+'_slots_max',
                               editable=editable,
                               translationBase='slots-maximum',
                               title='maximum slots',
                               placeholder='max.') }}
            </span>
        {% endif %}
    {% endif %}
{% endmacro %}
