{# Option fields:
   - class
   - value
   - content (permanently displayed text)
   - title (mouseover text)
   - translationBase
#}
{% macro selectionInput(attributeName,
                        translationBase,
                        title,
                        options,
                        useSelect=false,
                        class) %}
    {% if useSelect %}
        <select name="attr_{{attributeName}}"
                class="{{class}}"
                {% if title %}
                    title="{{title}}"
                    data-i18n-title="{{translationBase}}-title"
                {% endif %} >
            {% for option in options %}
                <option value="{{option.value}}"
                        class="{{option.class}}"
                        {% if option.title %}
                            title="{{option.title}}"
                            data-i18n-title="{{translationBase}}-{{option.translationBase}}-title"
                        {% endif %}
                        data-i18n="{{translationBase}}-{{option.translationBase}}">
                    {{option.content}}
                </option>
            {% endfor %}
        </select>
    {% else %}
        <span class="sheet-cycling-button-container {{class}}">
            {% for option in options %}
                {% if loop.index == 1 %}
                    {% set previousOption = options[loop.length-1] %}
                {% else %}
                    {% set previousOption = options[loop.index0-1] %}
                {% endif %}
                <input type="radio"
                       class="sheet-cycling-button sheet-cycling-button-{{loop.index}}-{{loop.length}}"
                       name="attr_{{attributeName}}"
                       value="{{option.value}}"
                       {% if loop.index == 1 %}
                           checked
                       {% endif %}
                       {% if previousOption.title %}
                           data-i18n-title="{{translationBase}}-{{previousOption.translationBase}}-title"
                           title="{{previousOption.title}}"
                       {% endif %} >
            {% endfor %}

            {% for option in options %}
                <span class="sheet-cycling-button sheet-cycling-button-{{loop.index}}-{{loop.length}} {{option.class}}"
                      data-i18n="{{translationBase}}-{{option.translationBase}}">
                    {{option.content}}
                </span>
            {% endfor %}
        </span>
    {% endif %}
{% endmacro %}
