.sheet-main-div .sheet-row .sheet-col {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.sheet-main-div label {
  display: inline;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  padding-right: .15em;
}

.sheet-main-div label.sheet-label-bold {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Contrail One', Courier, monospace;
  font-weight: bold;
  font-size: 1.25em;
  width: 100%;
}

.sheet-main-div label.sheet-label-bold-inline {
  display: inline;
  text-transform: uppercase;
  font-family: 'Contrail One', Courier, monospace;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 2;
  margin-right: .25em;
  vertical-align: middle;
}

.sheet-main-div label.sheet-label-full {
  display: inline-block;
  margin: .5em 0 .25em 0;
  padding: .25em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #036;
  background: #369;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.6em;
  line-height: 1.25;
  font-family: 'Contrail One', Courier, monospace;
  font-weight: bold;
}

.sheet-main-div input, select, textarea {
  margin-bottom: 0;
}

.sheet-main-div input[type="radio"],
.sheet-main-div input[type="checkbox"] {
  margin: 0 .25em 0 0;
}

.sheet-main-div input[type="text"],
.sheet-main-div input[type="number"] {
  padding: .25em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1em;
  line-height: 1em;
}

.sheet-main-div .sheet-input-full {
  width: 100%;
  margin-bottom: .5em;
}

.sheet-main-div textarea {
  padding: .5em .25em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1em;
  line-height: 1em;
}

.sheet-main-div textarea.sheet-textarea-small {
  height: 4em;
}

.sheet-main-div textarea.sheet-textarea-medium {
  height: 7em;
}

.sheet-main-div textarea.sheet-textarea-large {
  height: 10em;
}

.sheet-main-div .sheet-repeated-item-wrapper {
  padding-bottom: .5em;
  border-bottom: 1px solid #999;
  margin-bottom: .75em;
}

.sheet-main-div .sheet-note {
  padding: 0;
  margin: 0 0 .5em 0;
}

.sheet-main-div .sheet-list-plain {
  list-style-type: none;
  padding: 0;
  margin: 0 0 .5em 0;
}

.sheet-main-div .sheet-list-plain li {
  margin-bottom: .5em;
}

.sheet-tab-content {
  background: #d6f5ff url('http://i.imgur.com/HoueEPm.gif');
  border: 1px solid #a8a8a8;
  border-top-color: #000;
  margin-top: .5em;
  padding: 1em;
  display: none;
}

input.sheet-type-char:checked ~ div.sheet-type-char,
input.sheet-type-ship:checked ~ div.sheet-type-ship {
  display: block;
}

/*-----------------*
 * Character Sheet *
 *-----------------*/
.sheet-advances-wrapper input[type="checkbox"],
.sheet-stress-wrapper input[type="checkbox"] {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
}

.sheet-advances-wrapper input[type="checkbox"] + span::before,
.sheet-stress-wrapper input[type="checkbox"] + span::before {
  margin: 0 .5em;
  border: solid 1px #036;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);

  content: "";
  width: 14px;
  height: 14px;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.sheet-advances-wrapper input[type="checkbox"]:checked + span::before,
.sheet-stress-wrapper input[type="checkbox"]:checked + span::before {
  background: #369;
}

.sheet-attr-wrapper {
  width: 100%;
  margin-bottom: .5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table;
}

.sheet-attr-wrapper .sheet-attr-box {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  padding: .5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
}

.sheet-attr-wrapper .sheet-attr-box label {
  text-align: center;
}

.sheet-attr-wrapper .sheet-attr-box.sheet-odd {
  background-color: rgba(255, 255, 255, 0.5);
}

.sheet-attr-wrapper .sheet-attr-box > * {
  display: inline;
}

.sheet-moves-wrapper input[type="text"],
.sheet-moves-wrapper textarea,
.sheet-foibles-wrapper textarea,
.sheet-hooks-wrapper textarea {
  margin-bottom: .5em;
}

/*drives*/

/*div.sheet-tab-content { display: none; }*/

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5 {
  display: block;
}

input.sheet-drivetab
{
  width: 19%;
  height: 20px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: -1.5px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-drivetab::before
{
  content: attr(title);

  border: solid 1px #a8a8a8;
  border-bottom-color: black;
  text-align: center;
  display: inline-block;

  background: #fff;
  background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
  background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
  background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
  background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
  background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
  width: 100%;
  height: 20px;
  font-size: 18px;
}

input.sheet-drivetab:checked::before
{
  background: #dcdcdc;
  background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
  background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
  background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
  background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
  background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
  border-bottom-color: #fff;
}

input.sheet-drivetab:not(:first-child)::before
{
  border-left: none;
}

div.sheet-drivetab-content
{
  background: #D6F5FF;
  border: 1px solid #a8a8a8;
  border-top-color: #000;
  margin: 2px 0 0 5px;
  padding: 5px;
}

/* ROLL TEMPLATE */

.sheet-rolltemplate-id_appr {
  width: 100%;
  padding: 1em;
  background: #d6f5ff url('http://i.imgur.com/HoueEPm.gif');
  border: 2px solid #036;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.sheet-rolltemplate-id_appr table {
  width: 100%;
  font-family: "Contrail One", Courier, monospace;
  border-spacing: 0;
  margin-bottom: .5em;
}

.sheet-rolltemplate-id_appr table div,
.sheet-rolltemplate-id_appr table span {
  font-weight: bold;
  text-transform: uppercase;
}

.sheet-rolltemplate-id_appr th {
  color: rgb(0, 0, 0);
  padding-bottom: 1em;
  line-height: 1.2;
  font-size: 1.5em;
  font-weight: normal;
  text-align: left;
}

.sheet-rolltemplate-id_appr th div.sheet-rt-character-name {
  color: #036;
}

.sheet-rolltemplate-id_appr th span.sheet-rt-roll-attr {
  color: #369;
}

.sheet-rolltemplate-id_appr td {

}

.sheet-rolltemplate-id_appr .sheet-result {
  font-size: 2.5em;
  padding: 0;
  width: 20%;
  text-align: center;
}

.sheet-rolltemplate-id_appr .inlinerollresult,
.sheet-rolltemplate-id_appr .inlinerollresult.fullcrit,
.sheet-rolltemplate-id_appr .inlinerollresult.fullfail,
.sheet-rolltemplate-id_appr .inlinerollresult.importantroll {
  background-color: transparent;
  color: #000000;
  border: none;
}

.sheet-rolltemplate-id_appr th span.sheet-rt-roll-effect-adv,
.sheet-rolltemplate-id_appr .sheet-success .inlinerollresult,
.sheet-rolltemplate-id_appr .sheet-success .inlinerollresult.fullcrit,
.sheet-rolltemplate-id_appr .sheet-success .inlinerollresult.fullfail,
.sheet-rolltemplate-id_appr .sheet-success .inlinerollresult.importantroll {
  background-color: transparent;
  color: #3FB315;
  border: none;
}

.sheet-rolltemplate-id_appr th span.sheet-rt-roll-effect-dis,
.sheet-rolltemplate-id_appr .sheet-failure .inlinerollresult,
.sheet-rolltemplate-id_appr .sheet-failure .inlinerollresult.fullcrit,
.sheet-rolltemplate-id_appr .sheet-failure .inlinerollresult.fullfail,
.sheet-rolltemplate-id_appr .sheet-failure .inlinerollresult.importantroll {
  background-color: transparent;
  color: #B31515;
  border: none;
}