input(name="attr_version" type="hidden" value="2.2")

include src/pug/settings.pug

.sheets
    input.hidden.easy-font(name="attr_sheet_font_easy" type="checkbox" value="font-easy")
    input.hidden.stl-cypher(name="attr_sheet_style_0" type="checkbox" value="1")
    input.hidden.stl-numenera(name="attr_sheet_style_1" type="checkbox" value="1")
    input.hidden.stl-strange(checked="checked" name="attr_sheet_style_2" type="checkbox" value="1")
    input.hidden.stl-npc(name="attr_sheet_style_99" type="checkbox" value="1")
    input.hidden.useaction(checked="checked" name="attr_sheet_rolls" type="checkbox" value="1")
    input.hidden(name="attr_sheetuseapi" type="checkbox" value="[[1]]")
    input.hidden.imgbg(checked="checked" name="attr_sheet_background" type="checkbox" value="1")
    input.hidden.useasset(name="attr_showuseasset" type="checkbox" value="1")
    input.hidden.usebonus(name="attr_showusebonus" type="checkbox" value="1")
    input.hidden.usecost(name="attr_showusecost" type="checkbox" value="1")
    input.hidden.subsection-height(name="attr_sheet_subsection_height" type="checkbox" value="1")

    // PC SHEET
    .pc
        //left column
        .mycol.leftcol
            include src/pug/pc-identity.pug
            include src/pug/pc-stats.pug
            include src/pug/pc-skills.pug
            include src/pug/pc-abilities.pug
            include src/pug/pc-background.pug
        .mycol.midcol
            // Logo
            .ablock.logo
                input(type="checkbox" name="attr_settings_show" class="pseudocheck showsettings" data-i18n-title="show-hide-settings" title="Show / Hide Settings" value="1" checked="checked")
                span
                input(type="checkbox" name="attr_expand_all" value="1" class="pseudocheck expand" data-i18n-title="click-expand-all" title="Click to expand or reduce all sections")
                span
            include src/pug/pc-tracks.pug
            include src/pug/pc-attacks.pug
            include src/pug/pc-weapons.pug
            include src/pug/pc-advancement.pug
        .mycol.rightcol
            include src/pug/pc-xp.pug
            include src/pug/pc-recovery.pug
            include src/pug/pc-cyphers.pug
            include src/pug/pc-equipment.pug
            include src/pug/pc-artifacts.pug

    // NPC SHEET
    include src/pug/npc.pug

.copyright
    | &copy;2019-2021 Monte Cook Games, LLC. Cypher System, Numenera and The Strange are trademarks of Monte Cook Games, LLC, in the U.S.A. and other countries.&nbsp;v
    span(name="attr_version")

include src/pug/hidden.pug

include src/pug/roll-template.pug

// SHEET WORKERS
script(type="text/worker")
    include src/js/cypher_system_by_roll20.js

