
<div class="sheet-footer">
  <div class="sheet-momentum">
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="20"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+20</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="19"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+19</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="18"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+18</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="17"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+17</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="16"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+16</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="15"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+15</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="14"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+14</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="13"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+13</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="12"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+12</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="11"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+11</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="10"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+10</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="9"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+9</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="8"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+8</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="7"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+7</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="6"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+6</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="5"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+5</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="4"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+4</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="3"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+3</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="2"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+2</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="1"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">+1</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="0"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">0</h3>
      </div>
    </div>
  </div>
  <div class="sheet-momentum">
    <div class="sheet-momentum sheet-momentum-dark">
      <h3 class="sheet-momentum-title">Momentum</h3>
    </div>
    <div class="sheet-momentum-burn">
      <input class="sheet-momentum-burn" type="checkbox" title="Burn Momentum" name="attr_momentumBurn"/><span class="sheet-momentum-burn">BURN</span>
      <div class="sheet-momentum-burn-back"></div>
    </div>
    <div class="sheet-momentum-status-box">
      <h3 class="sheet-momentum-max">MAX</h3>
      <h3 class="sheet-momentum-status-value"><span name="attr_momentum_max"></span></h3>
      <input class="sheet-hide" type="text" name="attr_momentum_max" value="20"/>
    </div>
    <div class="sheet-momentum-status-box">
      <h3 class="sheet-momentum-reset">RESET</h3>
      <h3 class="sheet-momentum-status-value"><span name="attr_momentum_reset"></span></h3>
      <input class="sheet-hide" type="text" name="attr_momentum_reset" value="2"/>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="-1"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">-1</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="-2"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">-2</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="-3"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">-3</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="-4"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">-4</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="-5"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">-5</h3>
      </div>
    </div>
    <div class="sheet-momentum-box">
      <input class="sheet-momentum-box-input" type="radio" name="attr_momentum" value="-6"/>
      <div class="sheet-momentum-box-back">
        <h3 class="sheet-momentum-box-value">-6</h3>
      </div>
    </div>
  </div>
</div>