div.compendium-drop-target
	input(name='attr_drop_name' type='hidden' accept="Name")
	input(name='attr_drop_data' type='hidden' accept="data")
	input(name='attr_drop_category' type='hidden' accept="category")
