input.use_global_modifier(type='hidden' name='attr_use_global_modifier')
.tabs.grid
	// Buttons to toggle on GM whisper
	div.first
		span(data-i18n-title='GM Whisper') GM Whisper
		label.switch(data-i18-titlen='whisper rolls to gm' title='whisper rolls to gm')
			input.whisper-toggle(name='attr_gm_toggle' type='checkbox' value='/w gm')
			span.slider
	// LOGO
	img.logo(alt='Delta Green' src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/refs/heads/master/Delta%20Green%202/img/deltagreenlogo.svg')
	//img(alt='Delta Green' src='https://raw.githubusercontent.com/uriele/roll20-character-sheets/8cc07dbbf9acafd43b1de49bcaf08dbcee19e3a6/Delta%20Green%202/img/deltagreenlogo.svg')
	div.last
		input.settinggear(name='attr_mysettings' type='checkbox' value='settings')
		span
	input.setting_gear(type='hidden' name='attr_mysettings')
	input.use_global_modifier(type='hidden' name='attr_use_global_modifier')
	.grid.global-modifier
		span.capitalize(data-i18n='global modifier') Global Modifier
		input(type='text' name='attr_global_modifier_number' placeholder='0' )
		button(data-i18n='reset' type='action' name='act_reset_global_modifier') reset
		span
	if (DEBUG)
		+debug_top_tab()
	.grid.navmenu
			
			input.onsettings(name='attr_mysettings',type='hidden' )
			input.type(name='attr_sheet_type' type='hidden' )

			a.pc.nosettings(href='#personal-data-pc' data-i18n='personal data') Personal Data 
			a.pc.nosettings(href='#statistical-data-pc' data-i18n='statistical data') Statistical Data
			a.pc.nosettings(href='#psychological-data-pc' data-i18n='psychological data') Psychological Data
			a.pc.nosettings(href='#applicable-skills-pc' data-i18n='applicable skill sets') Applicable Skill sets
			a.pc.nosettings(href='#injuries-pc' data-i18n='injuries') Injuries
			a.pc.nosettings(href='#equipment-pc' data-i18n='equipment') Equipment
			a.pc.nosettings(href='#remarks-pc' data-i18n='remarks') Remarks
					
			a.npc.nosettings(href='#personal-data-npc' data-i18n='personal data') Personal Data 
			a.npc.nosettings(href='#source-information-npc' data-i18n='source of information') source of information
			a.npc.nosettings(href='#statistical-data-npc' data-i18n='statistical data') Statistical Data
			a.npc.nosettings(href='#applicable-skills-npc' data-i18n='applicable skill sets') Applicable Skill sets
			a.npc.nosettings(href='#equipment-npc' data-i18n='equipment') equipment
			a.npc.nosettings(href='#abilities-npc' data-i18n='abilities') abilities
			a.npc.nosettings(href='#remarks-npc' data-i18n='remarks') Remarks
		
			- const link_settings = ['general', 'modifier', 'automations', 'experimental']
			
			each setting in link_settings
				a.navsettings(href='#'+setting+'-settings' data-i18n=setting) #{setting} 			
			
	.grid.empty
