//- PLAYER CHARACTER
.pc
	input.use_global_modifier(type='hidden' name='attr_use_global_modifier')
	//PERSONAL DATA
	include sections/personal-data.pug


	//STATISTICAL DATA
	include sections/statistical-data.pug
	
	//PSYCHOLOGICAL DATA
	include sections/psychological-data.pug
	//APPLICABLE SKILL SETS
	include sections/applicable-skills.pug
	//INJURIES
	include sections/injuries.pug
	
	//EQUIPMENT
	+allequipment('pc')
	//REMARKS
	include sections/remarks.pug
	
	//AUTHORIZING OFFICER
	.grid.authorizing-officer.border
		.section
			h2.margin-left(data-i18n='20. authorizing officer' data-i18n-title='20. authorizing officer') 20. authorizing officer
			label(data-i18n-title='authorizing officer' title='authorizing officer')
				input(data-i18n-placeholder='authorizing officer' name='attr_authorizing_officer' placeholder='authorizing officer' title='authorizing officer' type='text' value='')
		.vert-line
		.section
			h2.margin-left(data-i18n='21. agent signature' data-i18n-title='21. agent signature') 21. agent signature
			label(data-i18n-title='agent signature' title='agent signature')
				input(data-i18n-placeholder='agent signature' name='attr_agent_signature' placeholder='agent signature' title='agent signature' type='text' value='')

	//BOTTOM DECORATION
	.grid.section-bottom-decor
		span(data-i18n='DD' class='uppercase') DD
		span(data-i18n='united states form' class='uppercase') united states form
		span(data-i18n='315' ) 315
		span
		span(data-i18n='top secret//orcon//special access required delta green agent documenation sheet' class='uppercase') top secret//orcon//special access required delta green agent documenation sheet 
			span(name='attr_version')
		span(data-i18n='112382' ) 112382
