
.section-main.border(id='general-settings')
    .section-title(data-i18n-title="general" ) general
    .section-content.threecolumns 
        .section-item 
            .radio
                label.settingradio Sheet Type
                span
                    input(name='attr_sheet_type' type='radio' value='pc'  checked)
                    span(data-i18n-value='agent' ) agent
                span
                    input(name='attr_sheet_type' type='radio' value='npc' )
                    span(data-i18n-value='npc') NPC
                
                span
                    input(name='attr_sheet_type' type='radio' value='handler' )
                    span(data-i18n-value='handler') Handler
                span 
                    |      
        .section-item 
            .radio
                label.settingradio Sheet Features
                
                //span(style='margin-left: 0;')
                    input(name='attr_visible_pc_rituals' type='checkbox' value='active'  checked)
                    span(data-i18n-value='Agent rituals' ) Agents rituals
                span(style='margin-left: 0;')
                    input(name='attr_character_creation_bonds' type='checkbox' value='active' )
                    span(data-i18n-value='character creations bonds' ) Character creation bonds
        .section-item23
            .column-reset 
                label.settingradio Reset Sheet
                
                span.breakingpoints-reset
                    span(data-i18n='breaking point' ) breaking point
                    input.settinginput(name='attr_breaking_point_reset' type='text' )
                button(data-i18n='reset' type='action' name='act_reset_breaking_point') reset
                
                span(data-i18n-value='stats' ) stats 
                button(data-i18n='reset' type='action' name='act_reset_stats') reset
                
                span(data-i18n-value='skills' ) skills
                button(data-i18n='reset' type='action' name='act_reset_skills') reset
                
                span(data-i18n-value='equipment' ) equipment
                button(data-i18n='reset' type='action' name='act_reset_equipment') reset
                
                span(data-i18n-value='reset all' ) reset all
                button(data-i18n='reset' type='action' name='act_reset_all') reset
                   
                
    .section-title(id='modifier-settings' , data-i18n-title="modifier") Modifiers
    .section-content.threecolumns 
        .section-item 
            .radio
                label.settingradio WillPower
                span
                    input(name='attr_mod_willpower_check' type='radio' value='none'  checked)
                    span(data-i18n-value='none' ) none
                span
                    input(name='attr_mod_willpower_check' type='radio' value='lowonly' )
                    span(data-i18n-value='low willpower' for='low_willpower') low willpower
                span
                    input(name='attr_mod_willpower_check' type='radio' value='all' )
                    span(data-i18n-value='zero_willpower' for='zero_willpower') zero willpower
            input(type='hidden' name='attr_zero_willpower' value=0)
            input(type='hidden' name='attr_low_willpower' value=0)
        .section-item
            .radio
                label.settingradio Combat
                span.workinprogress
                    input.styled-checkbox(name='attr_aim_button' type='checkbox' value='active' id='aim_button'  disabled="disabled")
                    span(data-i18n-value='aim' for='aim_button') Aim
        .section-item
            .radio
                label.settingradio General

                _modifierFlag
                span 
                    input(name='attr_useKey' type='radio' value='shift'  checked)
                    span(data-i18n-value='shiftKey' ) Shift Key 
                span
                    input(name='attr_useKey' type='radio' value='ctrl' )
                    span(data-i18n-value='ctrlKey' ) Ctrl Key
                span
                    input(name='attr_useKey' type='radio' value='alt' )
                    span(data-i18n-value='altKey' ) Alt Key
                span
                    input(name='attr_useKey' type='radio' value='meta' )
                    span(data-i18n-value='metaKey' ) Meta Key
                span
                    input(name='attr_useKey' type='radio' value='none' )
                    span(data-i18n-value='noKey' ) No Key
                span
                    input(name='attr_useKey' type='radio' value='global' )
                    span(data-i18n-value='globalModifier' ) Global Modifier
                    input(type='checkbox' name='attr_use_global_modifier' value='active' style="display:none" unchecked)
                
    .section-title(id='automations-settings', data-i18n-title="automations") Automations
    .section-content.threecolumns
        .section-item.workinprogress 
            input.styled-checkbox(name='attr_allow_reaction' type='checkbox' value='active' id='allow_reaction'  disabled="disabled")
            span(data-i18n-value='allow reaction' for='allow_reaction') Allow Reaction
        .section-item
            input.styled-checkbox(name='attr_track_bullets' type='checkbox' value='active' id='track_bullets' )
            span(data-i18n-value='track bullets' for='track_bullets') Track Bullets
        .section-item.workinprogress
            input.styled-checkbox(name='attr_track_disorder_triggers' type='checkbox' value='active' id='track_disorder_triggers'  disabled="disabled")
            span(data-i18n-value='track disorder triggers' for='track_disorder_triggers') Track Disorder Triggers
        .section-item 
            input.styled-checkbox(name='attr_track_breaking_points' type='checkbox' value='active' id='track_breaking_points')
            span(data-i18n-value='track breaking points' for='track_breaking_points') Track Breaking Points
    .section-title(id='experimental-settings', data-i18n-title="experimental") Experimental
    .section-content.threecolumns
        .section-item.workinprogress
            input.styled-checkbox(name='attr_use_new_motivation' type='checkbox' value='active' id='use_new_motivation'  disabled="disabled")
            span(data-i18n-value='use new motivation' for='use_new_motivation') Use New Motivation
        .section-item
            input.styled-checkbox(name='attr_advanced_weapons' type='checkbox' value='active' id='use_advanced_weapons')
            span(data-i18n-value='use advanced weapons' for='use_advanced_weapons') Use Advanced Weapons
