.section-main.border
    .section-title General Settings
    .section-content.threecolumns 
        .section-item 
            .radio
                label.settingradio Sheet Type
                span
                    input(name='attr_sheet_type' type='radio' value='pc'  checked)
                    span(data-i18n-value='agent' ) agent
                span
                    input(name='attr_sheet_type' type='radio' value='npc' )
                    span(data-i18n-value='npc') NPC
    .section-title Modifiers
    .section-content.threecolumns 
        .section-item 
            .radio
                label.settingradio Will Power Modifiers
                span
                    input(name='attr_mod_will_power_check' type='radio' value='none'  checked)
                    span(data-i18n-value='none' ) none
                span
                    input(name='attr_mod_will_power_check' type='radio' value='lowonly' )
                    span(data-i18n-value='low will power' for='low_will_power') low will power
                span
                    input(name='attr_mod_will_power_check' type='radio' value='all' )
                    span(data-i18n-value='zero_will_power' for='zero_will_power') zero will power
            input(type='hidden' name='attr_zero_will_power' value=0)
            input(type='hidden' name='attr_low_will_power' value=0)
        .section-item
            .radio
                label.settingradio Combat Modifiers
                span.workinprogress
                    input.styled-checkbox(name='attr_aim_button' type='checkbox' value='active' id='aim_button'  disabled="disabled")
                    span(data-i18n-value='aim' for='aim_button') Aim
        .section-item
            .radio
                label.settingradio Status Modifiers
                span
    .section-title Automations 
    .section-content.threecolumns
        .section-item.workinprogress 
            input.styled-checkbox(name='attr_allow_reaction' type='checkbox' value='active' id='allow_reaction'  disabled="disabled")
            span(data-i18n-value='allow reaction' for='allow_reaction') Allow Reaction
        .section-item
            input.styled-checkbox(name='attr_track_bullets' type='checkbox' value='active' id='track_bullets' )
            span(data-i18n-value='track bullets' for='track_bullets') Track Bullets
        .section-item.workinprogress
            input.styled-checkbox(name='attr_track_disorder_triggers' type='checkbox' value='active' id='track_disorder_triggers'  disabled="disabled")
            span(data-i18n-value='track disorder triggers' for='track_disorder_triggers') Track Disorder Triggers
        .section-item 
            input.styled-checkbox(name='attr_track_breaking_points' type='checkbox' value='active' id='track_breaking_points')
            span(data-i18n-value='track breaking points' for='track_breaking_points') Track Breaking Points
    .section-title Experimental 
    .section-content.threecolumns
        .section-item.workinprogress
            input.styled-checkbox(name='attr_use_new_motivation' type='checkbox' value='active' id='use_new_motivation'  disabled="disabled")
            span(data-i18n-value='use new motivation' for='use_new_motivation') Use New Motivation
        .section-item
            input.styled-checkbox(name='attr_advanced_weapons' type='checkbox' value='active' id='use_advanced_weapons')
            span(data-i18n-value='use advanced weapons' for='use_advanced_weapons') Use Advanced Weapons
