//- ROLL TEMPLATE
//- ============================= -->
.rolltemplates
  rolltemplate.sheet-rolltemplate-rolls
    .sheet-template-container
      //- Display a header on the template -
      | {{#header}}
      .sheet-template-header
        h1 {{header}} 
        h2 {{#subheader}}({{subheader}}%){{/subheader}}
      | {{/header}}
      //- Display the dice roll in the template -
      .sheet-template-body
        | {{#dice}}
        .sheet-template-row
          span.inlinerollresult {{dice}}
          span.percent %
        | {{/dice}}
        //- Damage die roll
        | {{#damage}}
        .sheet-template-row 
          span.inlinerollresult {{damage}}
        | {{/damage}}
        //- Display a description. This is great for text included with a roll -
        | {{#desc}}
        .sheet-template-row
          span.sheet-template-desc {{desc}}
        | {{/desc}}