/* CSS Reset */{}
.charsheet .sheet-wrapper div, 
.charsheet .sheet-wrapper span, 
.charsheet .sheet-wrapper label,
.charsheet .sheet-wrapper h1, 
.charsheet .sheet-wrapper h2,
.charsheet .sheet-wrapper h3,
.charsheet .sheet-wrapper h4,
.charsheet .sheet-wrapper h5,
.charsheet .sheet-wrapper h6,
.charsheet .sheet-wrapper p,
.charsheet .sheet-wrapper table,
.charsheet .sheet-wrapper caption,
.charsheet .sheet-wrapper tbody,
.charsheet .sheet-wrapper tfoot,
.charsheet .sheet-wrapper thead,
.charsheet .sheet-wrapper tr,
.charsheet .sheet-wrapper th,
.charsheet .sheet-wrapper td {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: #404040;
	vertical-align: baseline;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-ms-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* Main Styles */{}

@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: local('Corben'), url(http://themes.googleusercontent.com/static/fonts/corben/v6/ljkAb4w-83fUltRn9aENdbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Corben Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Corben Regular'), local('Corben-Regular'), url(http://themes.googleusercontent.com/static/fonts/corben/v6/uWWoJk4JhWoRrYEm4mc4D-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

.charsheet {
	background-color: white;
}

.charsheet .sheet-wrapper input,
.charsheet .sheet-wrapper textarea,
.charsheet .sheet-wrapper select,
.charsheet .sheet-wrapper input[type="number"] {
	display: inline-block;
	border: 0px solid #000;
	padding: 2px;
	height: 28px;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	margin: 0;
	color: #333;
	background-color: white;
	vertical-align: middle;
	cursor: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;

	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
	
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-ms-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	
	-webkit-writing-mode: horizontal-tb;
	-moz-appearance: textfield;
}

.charsheet .sheet-wrapper input,
.charsheet .sheet-wrapper input[type="number"] {
border: 0;
border-bottom: 3px solid #404040;
}

.charsheet .sheet-wrapper select {
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.charsheet .sheet-wrapper input::-webkit-outer-spin-button,
.charsheet .sheet-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.charsheet .sheet-wrapper input[disabled],
.charsheet .sheet-wrapper select[disabled],
.charsheet .sheet-wrapper textarea[disabled],
.charsheet .sheet-wrapper input[readonly],
.charsheet .sheet-wrapper select[readonly],
.charsheet .sheet-wrapper textarea[readonly] {
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: not-allowed;
}

.charsheet .sheet-wrapper h2 {
	margin: 15px 0 2px;
	font-weight:bold;
	font-size: 15px;
	font-family: 'Corben';
	height: 18px;
}

.charsheet .sheet-wrapper label {
	font-family: 'Corben';
	display: inline-block;
	width: 100%;
	font-size: 11px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
}

.charsheet .sheet-wrapper table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 2px solid #404040;
}

.charsheet .sheet-wrapper td,
.charsheet .sheet-wrapper tr,
.charsheet .sheet-wrapper tbody,
.charsheet .sheet-wrapper thead {
	border: 1px solid #404040;
	padding: 5px;
}

.charsheet .sheet-wrapper textarea {
  resize: none;
}

/* Columns */{}

.charsheet .sheet-wrapper .sheet-3colrow .sheet-col {
	width: calc(33% - 3px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-3colrow .sheet-col:last-child {
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-2colrow .sheet-col {
	width: calc(50% - 3px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-2colrow .sheet-col:last-child {
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-item.sheet-square {
	width: 32px;
}

.charsheet .sheet-wrapper .sheet-item.sheet-eensy {
	width: calc(3% - 0.5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-tiny {
	width: calc(12% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-small {
	width: calc(20% - 0.5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-med {
	width: calc(25% - 0.5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-large {
	width: calc(50% - 5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-huge {
	width: calc(80% - 3%);
}



/* Row And Items */{}

.charsheet .sheet-wrapper .sheet-header {
    height: 20px;
    margin: 0;
}

.charsheet .sheet-wrapper .sheet-row {
    height: 32px;
    margin: 0 0 2px;
}

.charsheet .sheet-wrapper .sheet-header label {
    padding: 0;
    font-size: 9px;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    word-wrap:break-word;
	font-family: 'Corben Regular';
}

.charsheet .sheet-wrapper .sheet-item {
	display: inline-block;
	width: 100%;
	height: 34px;
	vertical-align: middle;
	margin: 0 -2px;
	padding: 3px 2px;
}

.charsheet .sheet-wrapper .sheet-item.sheet-multiline label {
	line-height: 9px;
	padding-top: 1px;
}

.charsheet .sheet-wrapper .sheet-rowcol1 {
	text-align: right;
	white-space: nowrap;
}

.charsheet .sheet-wrapper .sheet-item input.sheet-square, 
.charsheet .sheet-wrapper .sheet-item button.sheet-square, 
.charsheet .sheet-wrapper .sheet-item input.sheet-bigsquare  {
	width: 28px;
	text-align: center;
}

.charsheet .sheet-wrapper .sheet-item input.sheet-bigsquare {
	font-size: 17px;
	
}

/* Stat Blocks */{}

.charsheet .sheet-wrapper .sheet-statblock {
    margin-bottom: 5px;
	display: block;
    visibility: visible;
	
	-webkit-transition: .125s linear;
    -moz-transition: .125s linear;
    -ms-transition: .125s linear;
    -o-transition: .125s linear;
    transition: .125s linear;
}

/* Hidden Roll buttons */{}

.charsheet .sheet-wrapper .sheet-hidden {
	display: none;
    visibility: hidden;
}

.charsheet .sheet-wrapper button[type="roll"].sheet-hidden-roll:before {
    content: ""!important;
	display: none;
}

.charsheet .sheet-wrapper button[type="roll"],
.charsheet .sheet-wrapper .sheet-btn {
	width: 100%;
	height:28px;
	vertical-align: middle;
	padding: 0;
	display: inline-block;
	margin: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
	white-space: nowrap;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.charsheet .sheet-wrapper button[type="roll"]:hover,
.charsheet .sheet-wrapper .sheet-btn:hover, 
.charsheet .sheet-wrapper button[type="roll"]:hover input {
	background-color: #ebebeb;
	border-color: #adadad;
}

.charsheet .sheet-wrapper button[type="roll"] label,
.charsheet .sheet-wrapper button[type="roll"] input {
	border:0;
	vertical-align: middle;
	text-align:center;
	width: 99%;
	cursor: pointer;
	box-shadow: none;
	transition: none;
	border-radius: none;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -ms-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(top,#fff,#e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
}


/* Bits */ {}

.charsheet .sheet-wrapper textarea.sheet-inventory {
    width: 98%;
    height: 170px;
    font-size: 13px;
    line-height: 16px;
}




input.sheet-baseinfo,
.charsheet .sheet-wrapper input[type="number"].sheet-baseinfo {
	font-size: 15px;
}

.charsheet .sheet-wrapper .sheet-center {
	text-align: center;
}

.charsheet .sheet-wrapper input.sheet-AC,
.charsheet .sheet-wrapper input.sheet-HP,
.charsheet .sheet-wrapper select.sheet-AD {
	margin-top: 16px;
	margin-bottom: 34px;
	padding: 0px;
	height: 44px;
	width: 48px;
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	border: 0;
}

.charsheet .sheet-wrapper select.sheet-AD {
	height: 38px;
	font-size: 32px;
	margin-top: 23px;
	margin-bottom: 30px;
	width: 56px;
	text-align: center;
}

.charsheet .sheet-wrapper .sheet-ACBG {
	background: url('http://i.imgur.com/6lUoOzW.png') no-repeat center top;
}

.charsheet .sheet-wrapper .sheet-HPBG {
	background: url('http://i.imgur.com/37exssR.png') no-repeat center top;
}

.charsheet .sheet-wrapper .sheet-ADBG {
	background: url('http://i.imgur.com/M3KREye.png') no-repeat center top;
}

.charsheet .sheet-wrapper .sheet-combatbasics,
.charsheet .sheet-wrapper .sheet-statblock input,
.charsheet .sheet-wrapper textarea,
.charsheet .sheet-wrapper .sheet-item select {
	border: 2px solid #404040;
}

.charsheet .sheet-wrapper label.sheet-logo {
	height: 40px;
}

/* Combat Basics */ {}
.charsheet .sheet-wrapper .sheet-combatbasics .sheet-row {
	height: 26px;
}

.charsheet .sheet-wrapper .sheet-combatbasics .sheet-row input,
.charsheet .sheet-wrapper .sheet-combatbasics .sheet-row label,
.charsheet .sheet-wrapper .sheet-combatbasics .sheet-row button,
.charsheet .sheet-wrapper .sheet-combatbasics .sheet-row select {
	height: 22px;
}

/* TABS */

.sheet-wrapper input.sheet-isWarrior,
.sheet-wrapper input.sheet-isWizard,
.sheet-wrapper input.sheet-isCleric,
.sheet-wrapper input.sheet-isThief,
.sheet-wrapper input.sheet-isHalfling,
.sheet-wrapper input.sheet-isDwarf,
.sheet-wrapper input.sheet-isElf,
.sheet-wrapper input.sheet-isNPC,
.charsheet .sheet-wrapper label.sheet-tab {
    display: inline;
	width:24px;
}

.charsheet .sheet-wrapper label.sheet-tab {
	width:40px;
}

.sheet-wrapper .sheet-isWarrior:checked~.sheet-wizard,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-cleric,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-thief,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-halfling,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-elf,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-npc,
.sheet-wrapper .sheet-isWizard:checked~.sheet-warrior,
.sheet-wrapper .sheet-isWizard:checked~.sheet-cleric,
.sheet-wrapper .sheet-isWizard:checked~.sheet-thief,
.sheet-wrapper .sheet-isWizard:checked~.sheet-halfling,
.sheet-wrapper .sheet-isWizard:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isWizard:checked~.sheet-elf,
.sheet-wrapper .sheet-isWizard:checked~.sheet-npc,
.sheet-wrapper .sheet-isCleric:checked~.sheet-warrior,
.sheet-wrapper .sheet-isCleric:checked~.sheet-wizard,
.sheet-wrapper .sheet-isCleric:checked~.sheet-thief,
.sheet-wrapper .sheet-isCleric:checked~.sheet-halfling,
.sheet-wrapper .sheet-isCleric:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isCleric:checked~.sheet-elf,
.sheet-wrapper .sheet-isCleric:checked~.sheet-npc,
.sheet-wrapper .sheet-isThief:checked~.sheet-warrior,
.sheet-wrapper .sheet-isThief:checked~.sheet-wizard,
.sheet-wrapper .sheet-isThief:checked~.sheet-cleric,
.sheet-wrapper .sheet-isThief:checked~.sheet-halfling,
.sheet-wrapper .sheet-isThief:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isThief:checked~.sheet-elf,
.sheet-wrapper .sheet-isThief:checked~.sheet-npc,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-warrior,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-wizard,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-cleric,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-thief,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-elf,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-npc,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-warrior,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-wizard,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-cleric,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-thief,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-halfling,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-elf,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-npc,
.sheet-wrapper .sheet-isElf:checked~.sheet-warrior,
.sheet-wrapper .sheet-isElf:checked~.sheet-wizard,
.sheet-wrapper .sheet-isElf:checked~.sheet-cleric,
.sheet-wrapper .sheet-isElf:checked~.sheet-thief,
.sheet-wrapper .sheet-isElf:checked~.sheet-halfling,
.sheet-wrapper .sheet-isElf:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isElf:checked~.sheet-npc {
	display: none;
}

.sheet-wrapper .sheet-isNPC:checked~.sheet-pc,
.sheet-wrapper .sheet-isPC:checked~.sheet-npc {
	display: none;	
}


/* Extra Classes */

.sheet-wrapper input.sheet-isBard,
.sheet-wrapper input.sheet-isGnome,
.sheet-wrapper input.sheet-isPaladin,
.sheet-wrapper input.sheet-isRanger,
.sheet-wrapper input.sheet-isKith,
.sheet-wrapper input.sheet-isNPC,
.charsheet .sheet-wrapper label.sheet-tab {
    display: inline;
	width:24px;
}


.sheet-wrapper .sheet-isBard:checked~.sheet-warrior,
.sheet-wrapper .sheet-isBard:checked~.sheet-wizard,
.sheet-wrapper .sheet-isBard:checked~.sheet-cleric,
.sheet-wrapper .sheet-isBard:checked~.sheet-thief,
.sheet-wrapper .sheet-isBard:checked~.sheet-halfling,
.sheet-wrapper .sheet-isBard:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isBard:checked~.sheet-elf,
.sheet-wrapper .sheet-isBard:checked~.sheet-gnome,
.sheet-wrapper .sheet-isBard:checked~.sheet-paladin,
.sheet-wrapper .sheet-isBard:checked~.sheet-ranger,
.sheet-wrapper .sheet-isBard:checked~.sheet-kith,
.sheet-wrapper .sheet-isGnome:checked~.sheet-warrior,
.sheet-wrapper .sheet-isGnome:checked~.sheet-wizard,
.sheet-wrapper .sheet-isGnome:checked~.sheet-cleric,
.sheet-wrapper .sheet-isGnome:checked~.sheet-thief,
.sheet-wrapper .sheet-isGnome:checked~.sheet-halfling,
.sheet-wrapper .sheet-isGnome:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isGnome:checked~.sheet-elf,
.sheet-wrapper .sheet-isGnome:checked~.sheet-bard,
.sheet-wrapper .sheet-isGnome:checked~.sheet-paladin,
.sheet-wrapper .sheet-isGnome:checked~.sheet-ranger,
.sheet-wrapper .sheet-isGnome:checked~.sheet-kith,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-warrior,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-wizard,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-cleric,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-thief,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-halfling,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-elf,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-bard,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-gnome,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-ranger,
.sheet-wrapper .sheet-isPaladin:checked~.sheet-kith,
.sheet-wrapper .sheet-isRanger:checked~.sheet-warrior,
.sheet-wrapper .sheet-isRanger:checked~.sheet-wizard,
.sheet-wrapper .sheet-isRanger:checked~.sheet-cleric,
.sheet-wrapper .sheet-isRanger:checked~.sheet-thief,
.sheet-wrapper .sheet-isRanger:checked~.sheet-halfling,
.sheet-wrapper .sheet-isRanger:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isRanger:checked~.sheet-elf,
.sheet-wrapper .sheet-isRanger:checked~.sheet-bard,
.sheet-wrapper .sheet-isRanger:checked~.sheet-gnome,
.sheet-wrapper .sheet-isRanger:checked~.sheet-paladin,
.sheet-wrapper .sheet-isRanger:checked~.sheet-kith,
.sheet-wrapper .sheet-isKith:checked~.sheet-warrior,
.sheet-wrapper .sheet-isKith:checked~.sheet-wizard,
.sheet-wrapper .sheet-isKith:checked~.sheet-cleric,
.sheet-wrapper .sheet-isKith:checked~.sheet-thief,
.sheet-wrapper .sheet-isKith:checked~.sheet-halfling,
.sheet-wrapper .sheet-isKith:checked~.sheet-dwarf,
.sheet-wrapper .sheet-isKith:checked~.sheet-elf,
.sheet-wrapper .sheet-isKith:checked~.sheet-bard,
.sheet-wrapper .sheet-isKith:checked~.sheet-gnome,
.sheet-wrapper .sheet-isKith:checked~.sheet-paladin,
.sheet-wrapper .sheet-isKith:checked~.sheet-ranger,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-ranger,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-bard,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-gnome,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-paladin,
.sheet-wrapper .sheet-isWarrior:checked~.sheet-kith,
.sheet-wrapper .sheet-isWizard:checked~.sheet-ranger,
.sheet-wrapper .sheet-isWizard:checked~.sheet-bard,
.sheet-wrapper .sheet-isWizard:checked~.sheet-gnome,
.sheet-wrapper .sheet-isWizard:checked~.sheet-paladin,
.sheet-wrapper .sheet-isWizard:checked~.sheet-kith,
.sheet-wrapper .sheet-isCleric:checked~.sheet-ranger,
.sheet-wrapper .sheet-isCleric:checked~.sheet-bard,
.sheet-wrapper .sheet-isCleric:checked~.sheet-gnome,
.sheet-wrapper .sheet-isCleric:checked~.sheet-paladin,
.sheet-wrapper .sheet-isCleric:checked~.sheet-kith,
.sheet-wrapper .sheet-isThief:checked~.sheet-ranger,
.sheet-wrapper .sheet-isThief:checked~.sheet-bard,
.sheet-wrapper .sheet-isThief:checked~.sheet-gnome,
.sheet-wrapper .sheet-isThief:checked~.sheet-paladin,
.sheet-wrapper .sheet-isThief:checked~.sheet-kith,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-ranger,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-bard,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-gnome,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-paladin,
.sheet-wrapper .sheet-isHalfling:checked~.sheet-kith,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-ranger,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-bard,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-gnome,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-paladin,
.sheet-wrapper .sheet-isDwarf:checked~.sheet-kith,
.sheet-wrapper .sheet-isElf:checked~.sheet-ranger,
.sheet-wrapper .sheet-isElf:checked~.sheet-bard,
.sheet-wrapper .sheet-isElf:checked~.sheet-gnome,
.sheet-wrapper .sheet-isElf:checked~.sheet-kith,
.sheet-wrapper .sheet-isElf:checked~.sheet-paladin {
	display: none;
}

