
include src/pug/variables.pug
include src/pug/mixins.pug

// main sheet code
include src/pug/core.pug

//hidden inputs & datalists
include src/pug/data.pug

//roll templates
include src/pug/rolltemplate.pug

//sheetworkers
script(type="text/worker")
    include src/js/sheetworker.js
