
// main sheet code
include src/pug/core.html

//hidden inputs & datalists
include src/pug/data.pug

//roll templates
include src/pug/rolltemplate.html

//sheetworkers
script(type="sheet/worker")
    include src/js/sheetworker.js
