/*#region Toast styling*/
.sheet-toast {
    position: fixed;
    right: 30px;
    bottom: -13px;
    text-align: center;
    width: 300px;
    height: 200px;
}

.sheet-toast div {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid;
    border-radius: 10px;
    cursor: text;
}

input.sheet-toast-success:checked ~ .sheet-toast-content {
    border-color: #badbcc;
    background-color: #d1e7dd;
}
input.sheet-toast-info:checked ~ .sheet-toast-content {
    border-color: #b6d4fe;
    background-color: #cfe2ff;
}
input.sheet-toast-warning:checked ~ .sheet-toast-content {
    border-color: #ffecb5;
    background-color: #fff3cd;
}
input.sheet-toast-error:checked ~ .sheet-toast-content {
    border-color: #f5c2c7;
    background-color: #f8d7da;
}

.sheet-toast input {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.sheet-toast input,
.sheet-toast textarea {
    border: 0;
    background-color: transparent;
    cursor: text;
    margin-bottom: 0;
    resize: none;
}

.sheet-hide-toast {
    position: absolute;
    top: -10px;
    right: -12px;
    z-index: 1;
    border-radius: 20px;
    border-color: black;
    background-color: white;
    font-weight: bold;
}
/*#endregion Toast styling end*/
