//- MIXINS
include src/pug/_mixins.pug

//- VARIABLES
include src/pug/_variables.pug

// This is the current version of the sheet code
input(name='attr_version' type='hidden' value='3.1')
input.build_message(name='attr_build_message' type='hidden' value='')
div.build_message
    div.build_text
        span(name='attr_build_message')

// PRIMARY SHEET DISPLAY
input.toggles(name='attr_toggles' type='hidden' value='color:default,innate,focus,cantrips,normalspells,')
div.backdrop
    div.container
        input.type(name='attr_sheet_type' type='hidden' value='character')
        input.toggles(name='attr_toggles' type='hidden' value='color:default,innate,focus,cantrips,normalspells,')

        include src/html/pc-info-header.html

        include src/pug/tab-buttons.pug

        // NPC SHEET
        include src/html/npc.html

        // PC SHEET
        include src/pug/tabs/character.pug

        include src/html/tabs/details.html

        include src/html/tabs/feats.html

        include src/html/tabs/inventory.html

        include src/pug/tabs/spells.pug

        include src/pug/tabs/options.pug

    // FOOTER
    include src/html/footer.html

// HIDDEN ATTRIBUTES
include src/html/hidden-attributes.html

// ROLL TEMPLATES
include src/html/roll-templates.html

// SHEET WORKERS
script(type='text/worker')
    include src/js/module.js
    include src/js/event-handling.js
