.grid.mb-2.character-info
	.grid.bottom-border.name-row
		each val in ['name', 'species', 'homeworld']
			.column.grid.2autocolumn
				h2.colon.font-smallcaps(data-i18n=val)
				+textInput(val)
	.grid.bottom-border.5column.gender-row
		each val in ['gender', 'age', 'skin', 'eyes', 'hair']
			.column.grid.2autocolumn
				h2.colon.font-smallcaps(data-i18n=val)
				+textInput(val)
	.grid.bottom-border.2column.build-row
		each val in ['build', 'appearence']
			.column.grid.2autocolumn
				h2.colon.font-smallcaps(data-i18n=val)
				+textInput(val)
	.grid.bottom-border
		+textInput('notes')
	