.grid.health-row
	.grid.health
		.grid.column.input
			+numberInput('health')
		.grid.column.header
			h2.text-uppercase(data-i18n='health')
	.grid.total
		.grid.column.input
			+numberInput('total health')
		.grid.column.header
			h2.font-smallcaps(data-i18n='total health')
	.grid.anxious-hurt
		.grid.column.input
			+numberInput('hurt')
		.grid.column.header
			h2.font-smallcaps(data-i18n='hurt (-1 penality)')
	.grid.disturbed-injured
		.grid.column.input
			+numberInput('injured')
		.grid.column.header
			h2.font-smallcaps(data-i18n='injured (-3 penality)')
	.grid.dead
		.grid.column.input
			+numberInput('dead')
		.grid.column.header
			h2.text-uppercase(data-i18n='dead')