.grid.sanity-row
	.grid.sanity
		.grid.column.input
			+numberInput('sanity')
		.grid.column.header
			h2.text-uppercase(data-i18n='sanity')
	.grid.total
		.grid.column.input
			+numberInput('total sanity')
		.grid.column.header
			h2.font-smallcaps(data-i18n='total sanity')
	.grid.anxious-hurt
		.grid.column.input
			+numberInput('anxious')
		.grid.column.header
			h2.font-smallcaps(data-i18n='anxious (+1 to madness)')
	.grid.disturbed-injured
		.grid.column.input
			+numberInput('disturbed')
		.grid.column.header
			h2.font-smallcaps(data-i18n='disturbed (+3 to madness)')
	.grid.2autocolumn.madness
		h2.text-uppercase(data-i18n='madness')
		+textInput('madness')