-
  data.translation.factions = {
    brb: 'BRB',
    brb_description: 'A crew of straight-laced, athletic, and super competitive laserbladers.',
    jet_collective: 'Jet Collective',
    jet_collective_description:
      'A large crew of inclusive activists with an addiction to petty drama.',
    null_range: 'Null Range',
    null_range_description: 'An obnoxious, anti-authoritarian crew of older kids from Hillview.',
    lazy_bunny: 'Lazy Bunny',
    lazy_bunny_description:
      'Super mainstream, super broish, super nice live-streamers having their moment.',
    the_wicks: 'The Wicks',
    the_wicks_description: 'A crew of young, rowdy, disenfranchised up-and-comers.',
    miper: 'Miper',
    miper_description: 'A sleek, idealistic big-tech company.',
    hardecker: 'Hardecker.',
    hardecker_description: 'A clueless blue-collar brand that’s just been made cool.',
    wilkies: 'Wilkie’s',
    wilkies_description: 'Candy, toys, energy drinks, x-treme sports.',
    scram_cat: 'Scram Cat',
    scram_cat_description:
      'The original indie slugblasting shop, in the process of becoming a Miper subsidiary.',
    fust: 'FUST',
    fust_description: 'Last real indie sponsor, owned/operated by total a-holes.',
    dara: 'DARA',
    dara_description:
      'Big, mysterious research facility. Its Rescue division act as Hillview’s portal cops.',
    the_arborists: 'The Arborists',
    the_arborists_description: 'An ancient sect of planeswalkers from Thennis Spar.',
    shimmer: 'Shimmer',
    shimmer_description: 'Transversal criminal syndicate.',
    doorways: 'Doorways',
    doorways_description: 'Concerned parent group from Hillview.',
    the_old_guard: 'The Old Guard',
    the_old_guard_description: 'Promoters, magazine editors, and retired slugblasters.',
    the_thrashers: 'The Thrashers',
    the_thrashers_description:
      'The partiers, hipsters, and artists. They value authenticity, aesthetic, and attitude.',
    the_heads: 'The Heads',
    the_heads_description: 'The nerds, athletes, and aficionados. They value skill and innovation.',
    the_mavens: 'The Mavens',
    the_mavens_description:
      'The activists, punks, and die-hards. They value community and standing for something.',
    the_freaks: 'The Freaks',
    the_freaks_description:
      'The ravers, crusties, and oddballs. They value originality and expression.',
    the_normies: 'The Normies',
    the_normies_description: 'The mainstreamers, pre-teens, and basics. They value fun.',
  };
