-
  data.translation.gear = {
    //- your_phone: 'your phone',
    //- your_phone_cost: '',
    //- your_phone_description: '',
  };

    //- grappling_hook: 'grappling hook',
    //- grappling_hook_cost: '',
    //- grappling_hook_description: '',
    //- spacetime_ampimeter: 'spacetime ampimeter',
    //- spacetime_ampimeter_cost: '',
    //- spacetime_ampimeter_description: '',
    //- hacking_tools: 'hacking tools',
    //- hacking_tools_cost: '',
    //- hacking_tools_description: '',
    //- multiversal_maps: 'multiversal maps',
    //- multiversal_maps_cost: '',
    //- multiversal_maps_description: '',
    //- repair_tools: 'repair tools',
    //- repair_tools_cost: '',
    //- repair_tools_description: '',
    //- small_drone: 'a small drone',
    //- small_drone_cost: '',
    //- small_drone_description: '',
    //- pro_camera_gear: 'pro camera gear',
    //- pro_camera_gear_cost: '',
    //- pro_camera_gear_description: '',
    //- peel_back_kit: 'peel back kit',
    //- peel_back_kit_cost: '',
    //- peel_back_kit_description: '',
    //- hazwear: 'Hazwear',
    //- hazwear_cost: '',
    //- hazwear_description: '',
    //- backup_portaling_device: 'Backup Portaling Device',
    //- backup_portaling_device_cost: '',
    //- backup_portaling_device_description: '',
    //- logic_binder: 'Logic Binder',
    //- logic_binder_cost: '',
    //- logic_binder_description: '',
    //- advanced_portal_tech: 'Advanced Portal Tech',
    //- advanced_portal_tech_cost: '',
    //- advanced_portal_tech_description: '',
    //- hardecker_sludge_flares: 'Hardecker sludge flares',
    //- hardecker_sludge_flares_cost: '',
    //- hardecker_sludge_flares_description: '',
    //- hardlight_marker: 'Hardlight Marker',
    //- hardlight_marker_cost: '',
    //- hardlight_marker_description: '',
    //- maser_grenades: 'Maser Grenades',
    //- maser_grenades_cost: '',
    //- maser_grenades_description: '',
    //- smartcord: 'smartcord',
    //- smartcord_cost: '',
    //- smartcord_description: '',
    //- the_fust_mix: 'the FUST mix',
    //- the_fust_mix_cost: '',
    //- the_fust_mix_description: '',
    //- beam_filter: 'beam filter',
    //- beam_filter_cost: '',
    //- beam_filter_description: '',
    //- wilkies_gravity_stickers: 'Wilkie’S gravity stickers',
    //- wilkies_gravity_stickers_cost: '',
    //- wilkies_gravity_stickers_description: '',
    //- panic_energy_fuel_line: 'PANIC energy fuel-line',
    //- panic_energy_fuel_line_cost: '',
    //- panic_energy_fuel_line_description: '',
    //- fust_stasis_stickers: 'FUST stasis stickers',
    //- fust_stasis_stickers_cost: '',
    //- fust_stasis_stickers_description: '',
    //- aug_band: 'aug band',
    //- aug_band_cost: '',
    //- aug_band_description: '',
    //- particle_bond_tights: 'particle bond tights',
    //- particle_bond_tights_cost: '',
    //- particle_bond_tights_description: '',
    //- '3d_printed_ablatine': '3D-printed ablatine',
    //- '3d_printed_ablatine_cost': '',
    //- '3d_printed_ablatine_description': '',
    //- knock_off_scram_cat_tee: 'knock-off Scram Cat tee',
    //- knock_off_scram_cat_tee_cost: '',
    //- knock_off_scram_cat_tee_description: '',
    //- miper_escape_bag: 'Miper escape bag',
    //- miper_escape_bag_cost: '',
    //- miper_escape_bag_description: '',
    //- awf_bracelet: 'awf bracelet',
    //- awf_bracelet_cost: '',
    //- awf_bracelet_description: '',
    //- duraweave_jacket: 'duraweave jacket',
    //- duraweave_jacket_cost: '',
    //- duraweave_jacket_description: '',
    //- link_patch_duo: 'link patch duo',
    //- link_patch_duo_cost: '',
    //- link_patch_duo_description: '',
    //- slam_patch: 'slam patch',
    //- slam_patch_cost: '',
    //- slam_patch_description: '',
