-
  data.translation.personalities = {
    misc: {
      personal_growth: "Personal Growth",
      personal_growth_description:
        "A trait from another personality. How are you changing? Who are you learning from?",
    },
    grit: {
      // attitude
      grit_attitude:
        "Describe how your grit helps your action, then boost or kick as needed. Also, refill 1 attitude whenever you fail any action. When the going gets tough, ya know?",

      // style
      grit_style: "Get +1 style after runs where you show toughness or focus.",

      // extra gear
      something_everyone_else_forgot: "Something Everyone Else Forgot",
      backup_portaling_device: "Backup Portaling Device",

      // traits
      patient: "Patient",
      patient_description:
        "When you reveal how you’ve been waiting to act, get +1d6 or +1 kick on your action.",
      sacrifice_your_body: "Sacrifice Your Body",
      sacrifice_your_body_description:
        "Take a slam (exhausted, strained, etc.) to get +2d6 to your action. This slam can’t be noped or avoided in any way. You gotta actually take it, kid.",
      diligent: "Diligent",
      diligent_description:
        "You can reroll In the Lab. Also clear +1 trouble when Being Good once per downtime.",
      walk_it_off: "Walk It Off",
      walk_it_off_description:
        "You gain 1 extra slam box. Mark 1 style every time you take a slam.",
      skill: "Skill",
      skill_description:
        "You’ve spent hours and hours practicing ____________. If this would help you with an action, you can mark 1 trouble to upgrade a 1–3 result into a 4/5 result.",

      // vibes
      one_song_on_repeat: "one song on repeat",
      never_smile: "never smile",
      your_drink_matches_your_shoes: "your drink matches your shoes",
      sleep_when_youre_dead: "sleep when you’re dead",
      adult_in_residence: "adult-in-residence",
      overachiever: "overachiever",
    },
    guts: {
      // attitude
      guts_attitude:
        "Describe how your guts help your action, then boost or kick as needed. Also, refill 1 attitude whenever you attempt a trick, even if you fail. Feel the rush?",

      // style
      guts_style:
        "Get +1 style after runs where you show boldness or risk-taking.",

      something_youre_not_supposed_to_have: 'Something You’re Not Supposed to Have',
      a_portable_speaker: 'A Portable Speaker',

      show_off: "Show Off",
      show_off_description:
        "You get +1d6 when you do a trick. You just can’t help it, the spotlight loves you.",
      snake: "Snake",
      snake_description:
        "If there is any question about who goes first, it’s you.",
      double_dare: "Double Dare",
      double_dare_description:
        "Instead of taking a dare, you can mark 2 trouble for +2d6 or +2 kick to an action roll.",
      walking_disaster: "Walking Disaster",
      walking_disaster_description:
        "You don’t just flirt with disaster, you’re dating it. You get +1d6 on disaster rolls, and can choose to take a disaster for a willing teammate. If you do, mark 2 style.",
      raw_talent: "Raw Talent",
      raw_talent_description:
        "You’ve always just been amazing at ____________. If this would help you with an action, you can mark 1 trouble to upgrade a 1–3 result into a 4/5 result.",
    },
    smarts: {
      // attitude
      smarts_attitude:
        "Describe how your smarts help your action, then boost or kick as needed. If you fail, refill any attitude you just spent. You learn from failure.",

      // style
      smarts_style:
        "+1 style after runs where you show curiosity or creativity.",

      a_work_in_progress: 'A Work-In-Progress',
      a_vital_screenshot_or_image_file: 'A Vital Screenshot or Image File',

      lateral_thinking: "Lateral Thinking",
      lateral_thinking_description:
        "When you try a trick with a creative approach, mark 1 style even on failed roll.",
      technobabble: "Technobabble",
      technobabble_description:
        "Twice per run, ex- plain something technical with jargon or a fun metaphor for 1 style and +1d6 to a roll.",
      power_user: "Power User",
      power_user_description:
        "Gain a secondary signature of your choosing. It shares the turbo pool of your primary one and has space for one mod (sold seperately).",
      actually_reads_the_manual: "Actually Reads the Manual",
      actually_reads_the_manual_description:
        "You can break mods down into components and install new mods on the fly. It takes either an action roll or a few minutes.",
      know_how: "Know-How",
      know_how_description:
        "You know everything about ____________. If this would help you with an action, you can mark 1 trouble to upgrade a 1–3 re- sult into a 4/5 result.",
    },
    heart: {
      // attitude
      heart_attitude:
        "Describe how your heart helps your action, then boost or kick as needed. Also, anytime you (or a teammate you’re helping) succeed on any action, refill 1 attitude.",

      // style
      heart_style: "+1 style after runs where you show passion or empathy.",

      something_from_someone_special: 'Something From Someone Special',
      an_important_pamphlet: 'An Important Pamphlet',

      team_player: "Team Player",
      team_player_description:
        "Mark 1 style whenever you take (or nope) a slam for some- one else. ",
      pep_talk: "Pep Talk",
      pep_talk_description:
        "Once per run, refill 3 hype or clear a slam for a teammate. What do they need to hear the most right now? ",
      middle_finger: "Middle Finger",
      middle_finger_description:
        "Once per run, auto- matically get a 6 on any action, no roll required. Add up to 2 kick, baby. Nothing can stand in your way. ",
      intuition: "Intuition",
      intuition_description:
        "You can always tell who likes/dislikes who, what someone really wants, and if someone’s vibes are off. ",
      passion: "Passion",
      passion_description:
        "You care a lot about ___________. If this would help you with an action, you can mark 1 trouble to upgrade a 1−3 result into a 4/5 result.",
    },
    chill: {
      // attitude
      chill_attitude:
        "Sit back, relax, and get +1d6 to all your actions. Things just tend to work out.",

      // style
      chill_style: "Get +1 style after runs where you show ease or flow.",

      something_you_found_on_your_way_here: 'Something You Found on Your Way Here',
      a_pet: 'A Pet',

      steezey: "Steezey",
      steezey_description:
        "Mark 1 style anytime you roll doubles. You look cool without even knowing it.",
      umm_guys: "Umm… Guys",
      umm_guys_description:
        "You accidentally notice the stuff everyone else didn’t, like hidden panels, perfect skate spots, looming monsters, etc.",
      button_masher: "Button Masher",
      button_masher_description:
        "Mark 1 turbo to use a locked mod for the length of one action—or 2 turbo if the mod is from another device. Be careful, potential problems are worse.",
      lucky: "Lucky",
      lucky_description:
        "Once per run, dumb luck helps you. A tree falls on a monster, lasers miss as you tie your shoes, you unknowingly give someone a perfect gift, etc.",
      quirk: "Quirk",
      quirk_description:
        "For some weird reason, you are good at ___________. If this would help you with an action, you can mark 1 trouble to upgrade a 1−3 result into a 4/5 result.",
    },
    custom: {
      // attitude
      custom_attitude: "Add a custom attitude!",

      // style
      custom_style: "What makes you unique?",
    },
  };
