    label.sheet-styled-checkbox {
        display: grid;
        align-self: center;
        justify-content: center;
        grid-template-columns: 1fr;

        input, span {
            grid-area: 1 / 1 / 1 / 1;
            height: 15px;
            width: 15px;
            position: relative;
        }

        span {
            border: 2px solid $primary;
            display: inline-block;
            color: transparent;
            text-align: center;
            font-size: 1em;
            line-height: 90%;
        }

        input {
            opacity: 0;
            z-index: 2;

            &[type="checkbox"]:checked + span {
                background-color: $primary;
                color           : #fff;
            }
        }

    }
  