.charsheet label {
    display: inline-block;
    width: 75px;
    text-align: right;
}

.charsheet input {
	display: inline-block;
	width: 165px;
}

.sheet-col strong.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	padding-right: 4px;
}

.charsheet input.sheet-short {
	width: 3.5em;
}

.charsheet input.sheet-hit {
    width: 4em;
}


.charsheet {
    background-color:#F9F9FB;

}

.charsheet table td, .charsheet table th {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.charsheet textarea.sheet-powers {
    resize: vertical;
    height: 5ex;
    width:95%;

}

select.sheet-dtype {
    width: 2em;
    vertical-align: top;
}

select.sheet-IconType{
    width: 90px;
    vertical-align: top
}
