.container.npc
  input.npc-button.npcs(name='attr_npc_tab' type='radio' value!='npcs' checked='checked')
  span(data-i18n='npcs-u') NPC
  input.npc-button.ships(name='attr_npc_tab' type='radio' value!='ships')
  span(data-i18n='ships-u') SHIP
  .page.npcs
    input.npc_options-flag(type='checkbox' name='attr_npc_options-flag' checked='checked')
    span y
    .npc_options
      .row.title
        span(data-i18n='npc-options-u') NPC OPTIONS
      .row
        span(data-i18n='name-u') NAME
        input(type='text' name='attr_npc_name')
      .row
        span(data-i18n='npc-type-u') NPC TYPE
        input(type='text' name='attr_npc_type' placeholder='Medium cyborg, any evil alignment' data-i18n-placeholder='npc-type-place')
      .row
        span(data-i18n='armor-class-u') ARMOR CLASS
        input.num(type='text' name='attr_npc_ac' placeholder='10')
        span(data-i18n='type-u') TYPE
        input(type='text' name='attr_npc_actype' placeholder='light trooper' data-i18n-placeholder='npc-armor-place' value!='')
      .row
        span(data-i18n='hit-points-u') HIT POINTS
        input.num(type='text' name='attr_hp_max' placeholder='82')
        span(data-i18n='formula-u') FORMULA
        input(type='text' name='attr_npc_hpformula' placeholder='11d8 + 33')
      .row
        span(data-i18n='speed-u') SPEED
        input(type='text' name='attr_npc_speed' placeholder='30 ft., fly 60ft.' data-i18n-placeholder='npc-speed-place')
      .spacer
      .row
        span(data-i18n='attributes-u') ATTRIBUTES
      .row
        span(data-i18n='str-u') STR
        input.num(type='text' name='attr_strength_base' value!='10')
        span(data-i18n='dex-u') DEX
        input.num(type='text' name='attr_dexterity_base' value!='10')
        span(data-i18n='con-u') CON
        input.num(type='text' name='attr_constitution_base' value!='10')
        span(data-i18n='int-u') INT
        input.num(type='text' name='attr_intelligence_base' value!='10')
        span(data-i18n='wis-u') WIS
        input.num(type='text' name='attr_wisdom_base' value!='10')
        span(data-i18n='cha-u') CHA
        input.num(type='text' name='attr_charisma_base' value!='10')
      .spacer
      .row
        span(data-i18n='saves-u') SAVES
      .row
        span(data-i18n='str-u') STR
        input.num(type='text' name='attr_npc_str_save_base' placeholder='0')
        span(data-i18n='dex-u') DEX
        input.num(type='text' name='attr_npc_dex_save_base' placeholder='0')
        span(data-i18n='con-u') CON
        input.num(type='text' name='attr_npc_con_save_base' placeholder='0')
        span(data-i18n='int-u') INT
        input.num(type='text' name='attr_npc_int_save_base' placeholder='0')
        span(data-i18n='wis-u') WIS
        input.num(type='text' name='attr_npc_wis_save_base' placeholder='0')
        span(data-i18n='cha-u') CHA
        input.num(type='text' name='attr_npc_cha_save_base' placeholder='0')
        input(type='hidden' name='attr_npc_str_save' value!='@{strength_mod}')
        input(type='hidden' name='attr_npc_dex_save' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_con_save' value!='@{constitution_mod}')
        input(type='hidden' name='attr_npc_int_save' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_wis_save' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_cha_save' value!='@{charisma_mod}')
      .spacer
      .row
        span(data-i18n='skills-u') SKILLS
      .row.skills-list(data-i18n-list='skills-list')
        .col
          .row(data-i18n-list-item='acrobatics')
            span(data-i18n='acrobatics-u') ACROBATICS
            input.num(type='text' name='attr_npc_acrobatics_base' placeholder='0')
          .row(data-i18n-list-item='astrophysics')
            span(data-i18n='astrophysics-u') ASTROPHYSICS
            input.num(type='text' name='attr_npc_astrophysics_base' placeholder='0')
          .row(data-i18n-list-item='athletics')
            span(data-i18n='athletics-u') ATHLETICS
            input.num(type='text' name='attr_npc_athletics_base' placeholder='0')
          .row(data-i18n-list-item='computers')
            span(data-i18n='computers-u') COMPUTERS
            input.num(type='text' name='attr_npc_computers_base' placeholder='0')
          .row(data-i18n-list-item='deception')
            span(data-i18n='deception-u') DECEPTION
            input.num(type='text' name='attr_npc_deception_base' placeholder='0')
          .row(data-i18n-list-item='insight')
            span(data-i18n='insight-u') INSIGHT
            input.num(type='text' name='attr_npc_insight_base' placeholder='0')
        .col(data-i18n-list-sublist='')
          .row(data-i18n-list-item='intimidation')
            span(data-i18n='intimidation-u') INTIMIDATION
            input.num(type='text' name='attr_npc_intimidation_base' placeholder='0')
          .row(data-i18n-list-item='investigation')
            span(data-i18n='investigation-u') INVESTIGATION
            input.num(type='text' name='attr_npc_investigation_base' placeholder='0')
          .row(data-i18n-list-item='lore')
            span(data-i18n='lore-u') LORE
            input.num(type='text' name='attr_npc_lore_base' placeholder='0')
          .row(data-i18n-list-item='mechanics')
            span(data-i18n='mechanics-u') MECHANICS
            input.num(type='text' name='attr_npc_animal_handling_base' placeholder='0')
          .row(data-i18n-list-item='medicine')
            span(data-i18n='medicine-u') MEDICINE
            input.num(type='text' name='attr_npc_medicine_base' placeholder='0')
          .row(data-i18n-list-item='perception')
            span(data-i18n='perception-u') PERCEPTION
            input.num(type='text' name='attr_npc_perception_base' placeholder='0')
        .col(data-i18n-list-sublist='')
          .row(data-i18n-list-item='performance')
            span(data-i18n='performance-u') PERFORMANCE
            input.num(type='text' name='attr_npc_performance_base' placeholder='0')
          .row(data-i18n-list-item='persuasion')
            span(data-i18n='persuasion-u') PERSUASION
            input.num(type='text' name='attr_npc_persuasion_base' placeholder='0')
          .row(data-i18n-list-item='sleight_of_hand')
            span(data-i18n='sleight_of_hand-u') SLEIGHT OF HAND
            input.num(type='text' name='attr_npc_sleight_of_hand_base' placeholder='0')
          .row(data-i18n-list-item='stealth')
            span(data-i18n='stealth-u') STEALTH
            input.num(type='text' name='attr_npc_stealth_base' placeholder='0')
          .row(data-i18n-list-item='survival')
            span(data-i18n='survival-u') SURVIVAL
            input.num(type='text' name='attr_npc_survival_base' placeholder='0')
          .row(data-i18n-list-item='xenobiology')
            span(data-i18n='xenobiology-u') XENOBIOLOGY
            input.num(type='text' name='attr_npc_xenobiology_base' placeholder='0')
        input(type='hidden' name='attr_npc_acrobatics' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_astrophysics' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_athletics' value!='@{strength_mod}')
        input(type='hidden' name='attr_npc_computers' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_deception' value!='@{charisma_mod}')
        input(type='hidden' name='attr_npc_insight' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_intimidation' value!='@{charisma_mod}')
        input(type='hidden' name='attr_npc_investigation' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_lore' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_mechanics' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_medicine' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_perception' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_performance' value!='@{charisma_mod}')
        input(type='hidden' name='attr_npc_persuasion' value!='@{charisma_mod}')
        input(type='hidden' name='attr_npc_piloting' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_sleight_of_hand' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_stealth' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_survival' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_xenobiology' value!='@{intelligence_mod}')
      .row
        span(data-i18n='damage-vuln-u') DAMAGE VULNERABILITIES
        input(type='text' name='attr_npc_vulnerabilities' placeholder='fire' data-i18n-placeholder='npc-dmg-vuln-place')
      .row
        span(data-i18n='damage-res-u') DAMAGE RESISTANCES
        input(type='text' name='attr_npc_resistances' placeholder='cold' data-i18n-placeholder='npc-dmg-res-place')
      .row
        span(data-i18n='damage-imm-u') DAMAGE IMMUNITIES
        input(type='text' name='attr_npc_immunities' placeholder='lighting, thunder' data-i18n-placeholder='npc-dmg-imm-place')
      .row
        span(data-i18n='cond-imm-u') CONDITION IMMUNITIES
        input(type='text' name='attr_npc_condition_immunities' placeholder='charmed' data-i18n-placeholder='npc-cond-imm-place')
      .row
        span(data-i18n='senses-u') SENSES
        input(type='text' name='attr_npc_senses' placeholder='darkvision 120ft., passive Perception 16' data-i18n-placeholder='npc-senses-place')
      .row
        span(data-i18n='langs-u') LANGUAGES
        input(type='text' name='attr_npc_languages' placeholder='Alphaline, Common, Nesieve' value!='—' data-i18n-placeholder='npc-langs-place')
      .row
        span(data-i18n='challenge-u') CHALLENGE
        input.num(type='text' name='attr_npc_challenge' placeholder='1')
        span(data-i18n='xp-u') XP
        input(type='text' name='attr_npc_xp' placeholder='250')
      .row
        span(data-i18n='token_size-u') TOKEN SIZE
        input.text(name='attr_token_size' value!='1' placeholder='1')
      .row
        input.npcspellcastingflag(type='checkbox' name='attr_npcspellcastingflag' value!='1')
        span(data-i18n='spellcast-npc-u') ESPER NPC
        .npcspelloptions
          span(data-i18n='spell-ability-u') ESPER ABILITY
          select(name='attr_spellcasting_ability' style='margin: 0px; width: auto; padding: 0px; height: 15px;')
            option(value!='0*' data-i18n='none-u') NONE
            option(value!='@{strength_mod}+' data-i18n='strength-u') STRENGTH
            option(value!='@{dexterity_mod}+' data-i18n='dexterity-u') DEXTERITY
            option(value!='@{constitution_mod}+' data-i18n='constitution-u') CONSTITUTION
            option(value!='@{intelligence_mod}+' data-i18n='intelligence-u') INTELLIGENCE
            option(value!='@{wisdom_mod}+' data-i18n='wisdom-u') WISDOM
            option(value!='@{charisma_mod}+' data-i18n='charisma-u') CHARISMA
        .npcspelloptions
          .row
            span(data-i18n='glob-atk-mod:-u') GLOBAL POWER ATTACK MODIFIER:
            input.num(type='text' name='attr_globalmagicmod' placeholder='0' value!='0')
          .row
            span(data-i18n='magic-caster-lvl:-u') ESPER LEVEL:
            input.num(type='text' name='attr_caster_level')
          .row
            span(data-i18n='spell_dc_mod:-u') POWER SAVE DC MOD:
            input.num(type='text' name='attr_spell_dc_mod' placeholder='0' value!='0')
      .row
        input(type='checkbox' name='attr_npcreactionsflag' value!='1')
        span(data-i18n='has-reaction-u') HAS REACTIONS
      .row
        span(data-i18n='leg-actions:-u') LEGENDARY ACTIONS:
        input.num(type='text' name='attr_npc_legendary_actions' value!='0' placeholder='0')
      .row.title
        span(data-i18n='gen-opts-u') GENERAL OPTIONS
      .row
        input(type='checkbox' name='attr_npc' value!='1')
        span(data-i18n='npc-u') NPC/SHIP
      .row
        span(data-i18n='roll-queries:-u') ROLL QUERIES:
        select(name='attr_rtype')
          option(value!='@{advantagetoggle}' data-i18n='adv-toggle') Advantage Toggle
          option(value!='{{always=1}} {{r2=[[@{d20}' data-i18n='always-adv') Always Roll Advantage
          option(value!='{{query=1}} ?{Advantage?|Normal Roll,&#123&#123normal=1&#125&#125 &#123&#123r2=[[0d20|Advantage,&#123&#123advantage=1&#125&#125 &#123&#123r2=[[@{d20}|Disadvantage,&#123&#123disadvantage=1&#125&#125 &#123&#123r2=[[@{d20}}' data-i18n='query-adv') Query Advantage
          option(value!='{{normal=1}} {{r2=[[0d20' data-i18n='never-adv') Never Roll Advantage
      .row
        span(data-i18n='whisp-rolls-gm:-u') WHISPER ROLLS TO GM:
        select(name='attr_wtype')
          option(value!='' data-i18n='never-whisper-roll') Never Whisper Rolls
          option(value!='@{whispertoggle}' data-i18n='toggle-roll-whisper') Whisper Toggle
          option(value!='?{Whisper?|Public Roll,|Whisper Roll,/w gm }' data-i18n='query-whisper-roll') Query Whisper
          option(value!='/w gm ' data-i18n='always-whisper-roll') Always Whisper Rolls
      .row
        span(data-i18n='auto-dmg-roll:-u') AUTO DAMAGE ROLL:
        select.dtype(name='attr_dtype')
          option(value!='full' data-i18n='always-dmg') Auto Roll Damage &amp; Crit
          option(value!='pick' data-i18n='never-dmg') Don&apos;t Auto Roll Damage
      .row
        span(data-i18n='npc-name-in-rolls:-u') NPC NAME IN ROLLS:
        select(name='attr_npc_name_flag')
          option(value!='{{name=@{npc_name}}}' data-i18n='show') Show
          option(value!='0' data-i18n='hide') Hide
      .row
        input(type='checkbox' name='attr_init_tiebreaker' value!='@{dexterity}/100')
        span(data-i18n='add-dex-tiebreaker-u') ADD DEX TIEBREAKER TO INITIATIVE
    .display.stat-block
      .row.title.red
        button(type='roll' name='roll_npc_init' style='width: 100%;' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{init}}} {{mod=[[[[@{initiative_bonus}]][DEX]]]}} {{r1=[[@{d20}+[[@{initiative_bonus}]][DEX] &{tracker}]]}} {{normal=1}} {{type=Initiative}}')
          span(name='attr_npc_name')
      .row.subtitle(style='margin-top: -5px;')
        span.italics(name='attr_npc_type')
      .triangle
      .row.red(style='position:relative;')
        span.bold(data-i18n='ac') Armor Class
        span.num(name='attr_npc_ac')
        input.actype(type='hidden' name='attr_npc_actype' value!='')
        span.parens(name='attr_npc_actype')
        button(type='roll' name='roll_npc_init' style='position: absolute; right: 5px; height: 30px; width: 20px;' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{init}}} {{mod=[[[[@{initiative_bonus}]][DEX]]]}} {{r1=[[@{d20}+[[@{initiative_bonus}]][DEX] &{tracker}]]}} {{normal=1}} {{type=Initiative}}')
          span.npc-init-die t
          span(style='display: block;') INIT
      .row.red
        span.bold(data-i18n='hp') Hit Points
        span.num3(name='attr_hp_max')
        button(type='roll' name='roll_npc_hpformula' value!='@{wtype}&{template:npc} {{type=Hit Points}} {{normal=1}} @{npc_name_flag} {{rname=^{hp}}} {{mod=@{npc_hpformula}}} {{r1=[[@{npc_hpformula}]]}} charname=@{character_name}')
          span.parens(name='attr_npc_hpformula' style='font-size: 12px; font-weight: normal;')
      .row.red
        span.bold(data-i18n='speed') Speed
        span(name='attr_npc_speed')
      .triangle
      .row.red
        .attr-container
          button(type='roll' name='roll_npc_str' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{strength}}} {{mod=[[[[@{strength_mod}]][STR]]]}} {{r1=[[@{d20}+[[@{strength_mod}]][STR]]]}} @{rtype}+[[@{strength_mod}]][STR]]]}} {{type=Ability}}')
            span.bold(data-i18n='str-u') STR
            span(name='attr_strength')
            input.negativeflag(type='hidden' name='attr_npc_str_negative' value!='0')
            span.npcattr(name='attr_strength_mod')
        .attr-container
          button(type='roll' name='roll_npc_dex' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{dexterity}}} {{mod=[[[[@{dexterity_mod}]][DEX]]]}} {{r1=[[@{d20}+[[@{dexterity_mod}]][DEX]]]}} @{rtype}+[[@{dexterity_mod}]][DEX]]]}} {{type=Ability}}')
            span.bold(data-i18n='dex-u') DEX
            span(name='attr_dexterity')
            input.negativeflag(type='hidden' name='attr_npc_dex_negative' value!='0')
            span.npcattr(name='attr_dexterity_mod')
        .attr-container
          button(type='roll' name='roll_npc_con' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{constitution}}} {{mod=[[[[@{constitution_mod}]][CON]]]}} {{r1=[[@{d20}+[[@{constitution_mod}]][CON]]]}} @{rtype}+[[@{constitution_mod}]][CON]]]}} {{type=Ability}}')
            span.bold(data-i18n='con-u') CON
            span(name='attr_constitution')
            input.negativeflag(type='hidden' name='attr_npc_con_negative' value!='0')
            span.npcattr(name='attr_constitution_mod')
        .attr-container
          button(type='roll' name='roll_npc_int' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{intelligence}}} {{mod=[[[[@{intelligence_mod}]][INT]]]}} {{r1=[[@{d20}+[[@{intelligence_mod}]][INT]]]}} @{rtype}+[[@{intelligence_mod}]][INT]]]}} {{type=Ability}}')
            span.bold(data-i18n='int-u') INT
            span(name='attr_intelligence')
            input.negativeflag(type='hidden' name='attr_npc_int_negative' value!='0')
            span.npcattr(name='attr_intelligence_mod')
        .attr-container
          button(type='roll' name='roll_npc_wis' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{wisdom}}} {{mod=[[[[@{wisdom_mod}]][WIS]]]}} {{r1=[[@{d20}+[[@{wisdom_mod}]][WIS]]]}} @{rtype}+[[@{wisdom_mod}]][WIS]]]}} {{type=Ability}}')
            span.bold(data-i18n='wis-u') WIS
            span(name='attr_wisdom')
            input.negativeflag(type='hidden' name='attr_npc_wis_negative' value!='0')
            span.npcattr(name='attr_wisdom_mod')
        .attr-container
          button(type='roll' name='roll_npc_cha' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{charisma}}} {{mod=[[[[@{charisma_mod}]][CHA]]]}} {{r1=[[@{d20}+[[@{charisma_mod}]][CHA]]]}} @{rtype}+[[@{charisma_mod}]][CHA]]]}} {{type=Ability}}')
            span.bold(data-i18n='cha-u') CHA
            span(name='attr_charisma')
            input.negativeflag(type='hidden' name='attr_npc_cha_negative' value!='0')
            span.npcattr(name='attr_charisma_mod')
      .triangle
      input.flag(type='hidden' name='attr_npc_saving_flag' value!='')
      .row.saving.red
        span.bold(data-i18n='saving-throw') Saving Throws
        input.flag(type='hidden' name='attr_npc_str_save_flag' value!='0')
        button(type='roll' name='roll_npc_str_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{strength-save}}} {{mod=[[[[@{npc_str_save}]][STR SAVE]]]}} {{r1=[[@{d20}+[[@{npc_str_save}]][STR SAVE]]]}} @{rtype}+[[@{npc_str_save}]][STR SAVE]]]}} {{type=Save}}')
          span(data-i18n='str') Str
          span.stat(name='attr_npc_str_save')
        input.flag(type='hidden' name='attr_npc_dex_save_flag' value!='0')
        button(type='roll' name='roll_npc_dex_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{dexterity-save}}} {{mod=[[[[@{npc_dex_save}]][DEX SAVE]]]}} {{r1=[[@{d20}+[[@{npc_dex_save}]][DEX SAVE]]]}} @{rtype}+[[@{npc_dex_save}]][DEX SAVE]]]}} {{type=Save}}')
          span(data-i18n='dex') Dex
          span.stat(name='attr_npc_dex_save')
        input.flag(type='hidden' name='attr_npc_con_save_flag' value!='0')
        button(type='roll' name='roll_npc_con_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{constitution-save}}} {{mod=[[[[@{npc_con_save}]][CON SAVE]]]}} {{r1=[[@{d20}+[[@{npc_con_save}]][CON SAVE]]]}} @{rtype}+[[@{npc_con_save}]][CON SAVE]]]}} {{type=Save}}')
          span(data-i18n='con') Con
          span.stat(name='attr_npc_con_save')
        input.flag(type='hidden' name='attr_npc_int_save_flag' value!='0')
        button(type='roll' name='roll_npc_int_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{intelligence-save}}} {{mod=[[[[@{npc_int_save}]][INT SAVE]]]}} {{r1=[[@{d20}+[[@{npc_int_save}]][INT SAVE]]]}} @{rtype}+[[@{npc_int_save}]][INT SAVE]]]}} {{type=Save}}')
          span(data-i18n='int') Int
          span.stat(name='attr_npc_int_save')
        input.flag(type='hidden' name='attr_npc_wis_save_flag' value!='0')
        button(type='roll' name='roll_npc_wis_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{wisdom-save}}} {{mod=[[[[@{npc_wis_save}]][WIS SAVE]]]}} {{r1=[[@{d20}+[[@{npc_wis_save}]][WIS SAVE]]]}} @{rtype}+[[@{npc_wis_save}]][WIS SAVE]]]}} {{type=Save}}')
          span(data-i18n='wis') Wis
          span.stat(name='attr_npc_wis_save')
        input.flag(type='hidden' name='attr_npc_cha_save_flag' value!='0')
        button(type='roll' name='roll_npc_cha_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{charisma-save}}} {{mod=[[[[@{npc_cha_save}]][CHA SAVE]]]}} {{r1=[[@{d20}+[[@{npc_cha_save}]][CHA SAVE]]]}} @{rtype}+[[@{npc_cha_save}]][CHA SAVE]]]}} {{type=Save}}')
          span(data-i18n='cha') Cha
          span.stat(name='attr_npc_cha_save')
      input.flag(type='hidden' name='attr_npc_skills_flag' value!='')
      .row.skills.skills-list.red(data-i18n-list='skills-list')
        span.bold(data-i18n='skills') Skills
        span(data-i18n-list-item='acrobatics')
          input.flag(type='hidden' name='attr_npc_acrobatics_flag' value!='0')
          button(type='roll' name='roll_npc_acrobatics' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{acrobatics}}} {{mod=@{npc_acrobatics}}} {{r1=[[@{d20}+@{npc_acrobatics}]]}} @{rtype}+@{npc_acrobatics}]]}} {{type=Skill}}')
            span(data-i18n='acrobatics') Acrobatics
            span.stat(name='attr_npc_acrobatics')
        span(data-i18n-list-item='astrophysics')
          input.flag(type='hidden' name='attr_npc_astrophysics_flag' value!='0')
          button(type='roll' name='roll_npc_astrophysics' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{astrophysics}}} {{mod=@{npc_astrophysics}}} {{r1=[[@{d20}+@{npc_astrophysics}]]}} @{rtype}+@{npc_astrophysics}]]}} {{type=Skill}}')
            span(data-i18n='astrophysics') Astrophysics
            span.stat(name='attr_npc_astrophysics')
        span(data-i18n-list-item='athletics')
          input.flag(type='hidden' name='attr_npc_athletics_flag' value!='0')
          button(type='roll' name='roll_npc_athletics' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{athletics}}} {{mod=@{npc_athletics}}} {{r1=[[@{d20}+@{npc_athletics}]]}} @{rtype}+@{npc_athletics}]]}} {{type=Skill}}')
            span(data-i18n='athletics') Athletics
            span.stat(name='attr_npc_athletics')
        span(data-i18n-list-item='computers')
          input.flag(type='hidden' name='attr_npc_computers_flag' value!='0')
          button(type='roll' name='roll_npc_computers' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{computers}}} {{mod=@{npc_computers}}} {{r1=[[@{d20}+@{npc_computers}]]}} @{rtype}+@{npc_computers}]]}} {{type=Skill}}')
            span(data-i18n='computers') Computers
            span.stat(name='attr_npc_computers')
        span(data-i18n-list-item='deception')
          input.flag(type='hidden' name='attr_npc_deception_flag' value!='0')
          button(type='roll' name='roll_npc_deception' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{deception}}} {{mod=@{npc_deception}}} {{r1=[[@{d20}+@{npc_deception}]]}} @{rtype}+@{npc_deception}]]}} {{type=Skill}}')
            span(data-i18n='deception') Deception
            span.stat(name='attr_npc_deception')
        span(data-i18n-list-item='insight')
          input.flag(type='hidden' name='attr_npc_insight_flag' value!='0')
          button(type='roll' name='roll_npc_insight' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{insight}}} {{mod=@{npc_insight}}} {{r1=[[@{d20}+@{npc_insight}]]}} @{rtype}+@{npc_insight}]]}} {{type=Skill}}')
            span(data-i18n='insight') Insight
            span.stat(name='attr_npc_insight')
        span(data-i18n-list-item='intimidation')
          input.flag(type='hidden' name='attr_npc_intimidation_flag' value!='0')
          button(type='roll' name='roll_npc_intimidation' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{intimidation}}} {{mod=@{npc_intimidation}}} {{r1=[[@{d20}+@{npc_intimidation}]]}} @{rtype}+@{npc_intimidation}]]}} {{type=Skill}}')
            span(data-i18n='intimidation') Intimidation
            span.stat(name='attr_npc_intimidation')
        span(data-i18n-list-item='investigation')
          input.flag(type='hidden' name='attr_npc_investigation_flag' value!='0')
          button(type='roll' name='roll_npc_investigation' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{investigation}}} {{mod=@{npc_investigation}}} {{r1=[[@{d20}+@{npc_investigation}]]}} @{rtype}+@{npc_investigation}]]}} {{type=Skill}}')
            span(data-i18n='investigation') Investigation
            span.stat(name='attr_npc_investigation')
        span(data-i18n-list-item='lore')
          input.flag(type='hidden' name='attr_npc_lore_flag' value!='0')
          button(type='roll' name='roll_npc_lore' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{lore}}} {{mod=@{npc_lore}}} {{r1=[[@{d20}+@{npc_lore}]]}} @{rtype}+@{npc_lore}]]}} {{type=Skill}}')
            span(data-i18n='lore') Lore
            span.stat(name='attr_npc_lore')
        span(data-i18n-list-item='mechanics')
          input.flag(type='hidden' name='attr_npc_mechanics_flag' value!='0')
          button(type='roll' name='roll_npc_mechanics' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{mechanics}}} {{mod=@{npc_mechanics}}} {{r1=[[@{d20}+@{npc_mechanics}]]}} @{rtype}+@{npc_mechanics}]]}} {{type=Skill}}')
            span(data-i18n='mechanics') Mechanics
            span.stat(name='attr_npc_mechanics')
        span(data-i18n-list-item='medicine')
          input.flag(type='hidden' name='attr_npc_medicine_flag' value!='0')
          button(type='roll' name='roll_npc_medicine' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{medicine}}} {{mod=@{npc_medicine}}} {{r1=[[@{d20}+@{npc_medicine}]]}} @{rtype}+@{npc_medicine}]]}} {{type=Skill}}')
            span(data-i18n='medicine') Medicine
            span.stat(name='attr_npc_medicine')
        span(data-i18n-list-item='perception')
          input.flag(type='hidden' name='attr_npc_perception_flag' value!='0')
          button(type='roll' name='roll_npc_perception' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{perception}}} {{mod=@{npc_perception}}} {{r1=[[@{d20}+@{npc_perception}]]}} @{rtype}+@{npc_perception}]]}} {{type=Skill}}')
            span(data-i18n='perception') Perception
            span.stat(name='attr_npc_perception')
        span(data-i18n-list-item='performance')
          input.flag(type='hidden' name='attr_npc_performance_flag' value!='0')
          button(type='roll' name='roll_npc_performance' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{performance}}} {{mod=@{npc_performance}}} {{r1=[[@{d20}+@{npc_performance}]]}} @{rtype}+@{npc_performance}]]}} {{type=Skill}}')
            span(data-i18n='performance') Performance
            span.stat(name='attr_npc_performance')
        span(data-i18n-list-item='persuasion')
          input.flag(type='hidden' name='attr_npc_persuasion_flag' value!='0')
          button(type='roll' name='roll_npc_persuasion' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{persuasion}}} {{mod=@{npc_persuasion}}} {{r1=[[@{d20}+@{npc_persuasion}]]}} @{rtype}+@{npc_persuasion}]]}} {{type=Skill}}')
            span(data-i18n='persuasion') Persuasion
            span.stat(name='attr_npc_persuasion')
        span(data-i18n-list-item='sleight_of_hand')
          input.flag(type='hidden' name='attr_npc_sleight_of_hand_flag' value!='0')
          button(type='roll' name='roll_npc_sleight_of_hand' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{sleight_of_hand}}} {{mod=@{npc_sleight_of_hand}}} {{r1=[[@{d20}+@{npc_sleight_of_hand}]]}} @{rtype}+@{npc_sleight_of_hand}]]}} {{type=Skill}}')
            span(data-i18n='sleight_of_hand') Sleight of Hand
            span.stat(name='attr_npc_sleight_of_hand')
        span(data-i18n-list-item='stealth')
          input.flag(type='hidden' name='attr_npc_stealth_flag' value!='0')
          button(type='roll' name='roll_npc_stealth' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{stealth}}} {{mod=@{npc_stealth}}} {{r1=[[@{d20}+@{npc_stealth}]]}} @{rtype}+@{npc_stealth}]]}} {{type=Skill}}')
            span(data-i18n='stealth') Stealth
            span.stat(name='attr_npc_stealth')
        span(data-i18n-list-item='survival')
          input.flag(type='hidden' name='attr_npc_survival_flag' value!='0')
          button(type='roll' name='roll_npc_survival' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{survival}}} {{mod=@{npc_survival}}} {{r1=[[@{d20}+@{npc_survival}]]}} @{rtype}+@{npc_survival}]]}} {{type=Skill}}')
            span(data-i18n='survival') Survival
            span.stat(name='attr_npc_survival')
        span(data-i18n-list-item='xenobiology')
          input.flag(type='hidden' name='attr_npc_xenobiology_flag' value!='0')
          button(type='roll' name='roll_npc_xenobiology' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{xenobiology}}} {{mod=@{npc_xenobiology}}} {{r1=[[@{d20}+@{npc_xenobiology}]]}} @{rtype}+@{npc_xenobiology}]]}} {{type=Skill}}')
            span(data-i18n='xenobiology') Xenobiology
            span.stat(name='attr_npc_xenobiology')
      input.flag(type='hidden' name='attr_npc_vulnerabilities')
      .row.status.vulnerabilities.red
        span.bold(data-i18n='dmg-vuln') Damage Vulnerabilities
        span.info(name='attr_npc_vulnerabilities')
      input.flag(type='hidden' name='attr_npc_resistances')
      .row.status.resistances.red
        span.bold(data-i18n='dmg-res') Damage Resistances
        span.info(name='attr_npc_resistances')
      input.flag(type='hidden' name='attr_npc_immunities')
      .row.status.immunities.red
        span.bold(data-i18n='dmg-imm') Damage Immunities
        span.info(name='attr_npc_immunities')
      input.flag(type='hidden' name='attr_npc_condition_immunities')
      .row.status.condition_immunities.red
        span.bold(data-i18n='cond-imm') Condition Immunities
        span.info(name='attr_npc_condition_immunities')
      .row.senses.red
        span.bold(data-i18n='senses') Senses
        span.info(name='attr_npc_senses')
      .row.languages.red
        span.bold(data-i18n='langs') Languages
        span.info.languages(name='attr_npc_languages' value!='—')
      .row.red
        span.bold(data-i18n='challenge') Challenge
        span.num(name='attr_npc_challenge')
        span.parens.xp(name='attr_npc_xp')
      .triangle
      .row.traits
        fieldset.repeating_npctrait
          .trait
            input(type='text' name='attr_name' placeholder='False Appearance.' data-i18n-placeholder='npc-trait-name-place')
            textarea(name='attr_description' placeholder='If the velbast fails...' data-i18n-placeholder='npc-trait-desc-place')
    .actions_container
    input.dflag(type='hidden' name='attr_dflag' value!='pick')
    .row.actions
      .row.actiontitle(style='position: relative;')
        span.title.red(data-i18n='actions') Actions
      fieldset.repeating_npcaction
        .action
          input.npc_options-flag(type='checkbox' name='attr_npc_options-flag' checked='checked')
          span y
          .npc_options
            .row
              span(data-i18n='name:-u') NAME:
              input(type='text' name='attr_name')
            .row
              input(type='checkbox' name='attr_attack_flag' value!='on')
              span(data-i18n='attack-u') ATTACK
            input.attack_options(type='hidden' name='attr_attack_flag' value!='0')
            .row.attack_option
              span(data-i18n='type:-u') TYPE:
              select(name='attr_attack_type')
                option(value!='Melee' data-i18n='melee') Melee
                option(value!='Ranged' data-i18n='ranged') Ranged
              span(style='margin-left: 15px;' data-i18n='range-reach:-u') RANGE/REACH:
              input(type='text' name='attr_attack_range' placeholder='5 ft.' style='width: 100px;' data-i18n-placeholder='range-reach-place')
            .row.attack_option
              span(data-i18n='to-hit:-u') TO HIT:
              input(type='text' name='attr_attack_tohit' value!='0' placeholder='5' style='width: 30px;')
              span(style='margin-left: 15px;' data-i18n='target:-u') TARGET:
              input(type='text' name='attr_attack_target' placeholder='One target' style='width: 100px;' data-i18n-placeholder='to-hit-place')
            input(type='hidden' name='attr_damage_flag')
            .row.attack_option
              span(data-i18n='on-hit:-u') ON HIT:
              input(type='text' name='attr_attack_damage' placeholder='1d10' style='width: 65px;')
              input(type='text' name='attr_attack_damagetype' placeholder='slashing' style='width: 100px;' data-i18n-placeholder='on-hit-place')
              input(type='hidden' name='attr_attack_crit')
            .row.attack_option
              span(data-i18n='on-hit2:-u') ON HIT 2:
              input(type='text' name='attr_attack_damage2' placeholder='2d6+5' style='width: 65px;')
              input(type='text' name='attr_attack_damagetype2' placeholder='fire' style='width: 100px;' data-i18n-placeholder='on-hit-2-place')
              input(type='hidden' name='attr_attack_crit2')
            .row.attack_option
              span(data-i18n='desc:-u') DESCRIPTION:
              select(name='attr_show_desc')
                option(value!='@{description}' data-i18n='show') Show
                option(value!=' ' data-i18n='hide') Hide
            .row
              textarea(name='attr_description')
          .display
            button.pick(type='roll' name='roll_npc_action' value!='@{rollbase}')
              .row.wide
                span.bold.wide(name='attr_name')
              input.attack_options(type='hidden' name='attr_attack_flag')
              .row.attack.attack_option
                span.italics(name='attr_attack_type')
                span.italics  Weapon Attack: 
                span(name='attr_attack_tohitrange')
              .row.attack.attack_option
                span.italics(style='font-size: 13px; font-weight: normal; vertical-align: middle;' data-i18n='hit:') Hit: 
                span(name='attr_attack_onhit' style='vertical-align: middle;')
              span.description(name='attr_description')
          input(type='hidden' name='attr_rollbase')
          button(type='roll' style='display: none;' name='roll_npc_dmg' value!='@{wtype}&{template:npcdmg} @{damage_flag} {{dmg1=[[@{attack_damage}+0]]}} {{dmg1type=@{attack_damagetype}}} {{dmg2=[[@{attack_damage2}+0]]}} {{dmg2type=@{attack_damagetype2}}}')
          button(type='roll' style='display: none;' name='roll_npc_crit' value!='@{wtype}&{template:npcdmg} @{damage_flag} {{crit=1}} {{dmg1=[[@{attack_damage}+0]]}} {{dmg1type=@{attack_damagetype}}} {{dmg2=[[@{attack_damage2}+0]]}} {{dmg2type=@{attack_damagetype2}}} {{crit1=[[@{attack_crit}+0]]}} {{crit2=[[@{attack_crit2}+0]]}}')
    input.reaction_flag(type='hidden' name='attr_npcreactionsflag')
    .row.actions.reaction
      .row.actiontitle
        span.title.red(data-i18n='reactions') Reactions
      fieldset.repeating_npcreaction
        .trait
          input(type='text' name='attr_name' placeholder='Parry.' data-i18n-placeholder='npc-repeating-name-place')
          textarea(name='attr_description' placeholder='The creature adds 2 to its AC against...' data-i18n-placeholder='npc-repeating-desc-place')
    input.legendary_flag(type='hidden' name='attr_npc_legendary_actions' value!='0')
    .row.actions.legendary
      .row.actiontitle
        span.title.red(data-i18n='leg-actions') Legendary Actions
      .row
        .legendaryactions(data-i18n='leg-actions-desc')
          span(name='attr_npc_legendary_actions_desc')
      fieldset.repeating_npcaction-l
        .action
          input.npc_options-flag(type='checkbox' name='attr_npc_options-flag' checked='checked')
          span y
          .npc_options
            .row
              span(data-i18n='name:-u') NAME:
              input(type='text' name='attr_name')
            .row
              input(type='checkbox' name='attr_attack_flag' value!='on')
              span(data-i18n='attack-u') ATTACK
            input.attack_options(type='hidden' name='attr_attack_flag' value!='0')
            .row.attack_option
              span(data-i18n='type:-u') TYPE:
              select(name='attr_attack_type')
                option(value!='Melee' data-i18n='melee') Melee
                option(value!='Ranged' data-i18n='ranged') Ranged
              span(style='margin-left: 15px;' data-i18n='range-reach:-u') RANGE/REACH:
              input(type='text' name='attr_attack_range' placeholder='5 ft.' style='width: 100px;' data-i18n-placeholder='range-reach-place')
            .row.attack_option
              span(data-i18n='to-hit:-u') TO HIT:
              input(type='text' name='attr_attack_tohit' value!='0' placeholder='5' style='width: 30px;')
              span(style='margin-left: 15px;' data-i18n='target:-u') TARGET:
              input(type='text' name='attr_attack_target' placeholder='One target' style='width: 100px;' data-i18n-placeholder='to-hit-place')
            input(type='hidden' name='attr_damage_flag')
            .row.attack_option
              span(data-i18n='on-hit:-u') ON HIT:
              input(type='text' name='attr_attack_damage' placeholder='1d10' style='width: 65px;')
              input(type='text' name='attr_attack_damagetype' placeholder='slashing' style='width: 100px;' data-i18n-placeholder='on-hit-place')
              input(type='hidden' name='attr_attack_crit')
            .row.attack_option
              span(data-i18n='on-hit2:-u') ON HIT 2:
              input(type='text' name='attr_attack_damage2' placeholder='2d6+5' style='width: 65px;')
              input(type='text' name='attr_attack_damagetype2' placeholder='fire' style='width: 100px;' data-i18n-placeholder='on-hit-2-place')
              input(type='hidden' name='attr_attack_crit2')
            .row.attack_option
              span(data-i18n='desc:-u') DESCRIPTION:
              select(name='attr_show_desc')
                option(value!='@{description}' data-i18n='show') Show
                option(value!=' ' data-i18n='hide') Hide
            .row
              textarea(name='attr_description')
          .display
            button.pick(type='roll' name='roll_npc_action' value!='@{rollbase}')
              .row.wide
                span.bold.wide(name='attr_name')
            input.attack_options(type='hidden' name='attr_attack_flag')
            .row.attack.attack_option
              span.italics(name='attr_attack_type')
              span.italics  Weapon Attack: 
              span(name='attr_attack_tohitrange')
            .row.attack.attack_option
              span.italics(style='font-size: 13px; font-weight: normal; vertical-align: middle;' data-i18n='hit:') Hit: 
              span(name='attr_attack_onhit' style='vertical-align: middle;')
            span.description(name='attr_description')
          input(type='hidden' name='attr_rollbase')
          button(type='roll' style='display: none;' name='roll_npc_dmg' value!='@{wtype}&{template:npcdmg} @{damage_flag} {{dmg1=[[@{attack_damage}+0]]}} {{dmg1type=@{attack_damagetype}}} {{dmg2=[[@{attack_damage2}+0]]}} {{dmg2type=@{attack_damagetype2}}}')
          button(type='roll' style='display: none;' name='roll_npc_crit' value!='@{wtype}&{template:npcdmg} @{damage_flag} {{crit=1}} {{dmg1=[[@{attack_damage}+0]]}} {{dmg1type=@{attack_damagetype}}} {{dmg2=[[@{attack_damage2}+0]]}} {{dmg2type=@{attack_damagetype2}}} {{crit1=[[@{attack_crit}+0]]}} {{crit2=[[@{attack_crit2}+0]]}}')
    input.npcspell_flag(type='hidden' name='attr_npcspell_flag')
    .row.actions.npcspell.spells
      .row.actiontitle
        span.title.red(style='font-weight: normal; text-align: left;' data-i18n='spells') Powers
  .page.ships
    input.npc_options-flag(type='checkbox' name='attr_npc_options-flag' checked='checked')
    span y
    .npc_options
      .row.title
        span(data-i18n='ship-options-u') SHIP OPTIONS
      .row
        span(data-i18n='name-u') NAME
        input(type='text' name='attr_npc_name')
      .row
        span(data-i18n='ship-type-u') SHIP TYPE
        input(type='text' name='attr_npc_type' placeholder='Medium ship' data-i18n-placeholder='ship-type-place')
      .row
        span(data-i18n='armor-class-u') ARMOR CLASS
        input.num(type='text' name='attr_npc_ac' placeholder='10')
      .row
        span(data-i18n='maneuver-defense-u') MANEUVER DEFENSE
        input.num(type='text' name='attr_npc_md' placeholder='10')
      .row
        span(data-i18n='maneuver-save-u') MANEUVER SAVE DC
        input.num(type='text' name='attr_npc_mnv_save' placeholder='8')
      .row
        span(data-i18n='hull-points-u') HULL POINTS
        input.num(type='text' name='attr_hp_max' placeholder='82')
        span(data-i18n='formula-u') FORMULA
        input(type='text' name='attr_npc_hpformula' placeholder='11d8 + 33')
      .row
        span(data-i18n='structural-integrity-u') STRUCTURAL INTEGRITY
        input(type='text' name='attr_ship_si' placeholder='1' data-i18n-placeholder='ship-si-place')
      .row
        span(data-i18n='speed-u') SPEED
        input(type='text' name='attr_ship_speed' placeholder='6' data-i18n-placeholder='ship-speed-place')
      .row(data-i18n-list-item='piloting')
        span(data-i18n='piloting-u') PILOTING BONUS
        input.num(type='text' name='attr_npc_piloting_base' placeholder='0')
      .spacer
      .row
        span(data-i18n='ship-attributes-u') ATTRIBUTES (PILOT/CREW)
      .row
        span(data-i18n='ship-dex-u') DEX&mdash;[PILOT]
        input.num(type='text' name='attr_dexterity_base' value!='10')
        span(data-i18n='ship-int-u') INT&mdash;[TECH]
        input.num(type='text' name='attr_intelligence_base' value!='10')
        span(data-i18n='ship-wis-u') WIS&mdash;[TECH]
        input.num(type='text' name='attr_wisdom_base' value!='10')
        input(type='hidden' name='attr_strength_base' value!='0')
        input(type='hidden' name='attr_constitution_base' value!='0')
        input(type='hidden' name='attr_charisma_base' value!='0')
      .spacer
      .row
        span(data-i18n='saves-u') SAVES
      .row
        span(data-i18n='dex-u') DEX
        input.num(type='text' name='attr_npc_dex_save_base' placeholder='0')
        span(data-i18n='int-u') INT
        input.num(type='text' name='attr_npc_int_save_base' placeholder='0')
        span(data-i18n='wis-u') WIS
        input.num(type='text' name='attr_npc_wis_save_base' placeholder='0')
        input(type='hidden' name='attr_npc_str_save_base' placeholder='0')
        input(type='hidden' name='attr_npc_con_save_base' placeholder='0')
        input(type='hidden' name='attr_npc_cha_save_base' placeholder='0')
        input(type='hidden' name='attr_npc_str_save' value!='@{strength_mod}')
        input(type='hidden' name='attr_npc_dex_save' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_con_save' value!='@{constitution_mod}')
        input(type='hidden' name='attr_npc_int_save' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_wis_save' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_cha_save' value!='@{charisma_mod}')
      .spacer
      .row
        span(data-i18n='skills-u') SKILLS
      .row.skills-list(data-i18n-list='skills-list')
        .col
          .row(data-i18n-list-item='astrophysics')
            span(data-i18n='astrophysics-u') ASTROPHYSICS
            input.num(type='text' name='attr_npc_astrophysics_base' placeholder='0')
          .row(data-i18n-list-item='computers')
            span(data-i18n='computers-u') COMPUTERS
            input.num(type='text' name='attr_npc_computers_base' placeholder='0')
          .row(data-i18n-list-item='mechanics')
            span(data-i18n='mechanics-u') MECHANICS
            input.num(type='text' name='attr_npc_animal_handling_base' placeholder='0')
        .col(data-i18n-list-sublist='')
          .row(data-i18n-list-item='perception')
            span(data-i18n='perception-u') PERCEPTION
            input.num(type='text' name='attr_npc_perception_base' placeholder='0')
          .row(data-i18n-list-item='survival')
            span(data-i18n='survival-u') SURVIVAL
            input.num(type='text' name='attr_npc_survival_base' placeholder='0')
          .row(data-i18n-list-item='xenobiology')
            span(data-i18n='xenobiology-u') XENOBIOLOGY
            input.num(type='text' name='attr_npc_xenobiology_base' placeholder='0')
        input(type='hidden' name='attr_npc_deception_base' placeholder='0')
        input(type='hidden' name='attr_npc_athletics_base' placeholder='0')
        input(type='hidden' name='attr_npc_insight_base' placeholder='0')
        input(type='hidden' name='attr_npc_intimidation_base' placeholder='0')
        input(type='hidden' name='attr_npc_investigation_base' placeholder='0')
        input(type='hidden' name='attr_npc_lore_base' placeholder='0')
        input(type='hidden' name='attr_npc_medicine_base' placeholder='0')
        input(type='hidden' name='attr_npc_performance_base' placeholder='0')
        input(type='hidden' name='attr_npc_persuasion_base' placeholder='0')
        input(type='hidden' name='attr_npc_sleight_of_hand_base' placeholder='0')
        input(type='hidden' name='attr_npc_stealth_base' placeholder='0')
        input(type='hidden' name='attr_npc_piloting' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_acrobatics' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_astrophysics' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_athletics' value!='@{strength_mod}')
        input(type='hidden' name='attr_npc_computers' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_deception' value!='@{charisma_mod}')
        input(type='hidden' name='attr_npc_insight' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_intimidation' value!='@{charisma_mod}')
        input(type='hidden' name='attr_npc_investigation' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_lore' value!='@{intelligence_mod}')
        input(type='hidden' name='attr_npc_mechanics' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_medicine' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_perception' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_performance' value!='@{charisma_mod}')
        input(type='hidden' name='attr_npc_persuasion' value!='@{charisma_mod}')
        input(type='hidden' name='attr_npc_sleight_of_hand' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_stealth' value!='@{dexterity_mod}')
        input(type='hidden' name='attr_npc_survival' value!='@{wisdom_mod}')
        input(type='hidden' name='attr_npc_xenobiology' value!='@{intelligence_mod}')
      .row
        span(data-i18n='damage-vuln-u') DAMAGE VULNERABILITIES
        input(type='text' name='attr_npc_vulnerabilities' placeholder='lightning' data-i18n-placeholder='ship-dmg-vuln-place')
      .row
        span(data-i18n='damage-res-u') DAMAGE RESISTANCES
        input(type='text' name='attr_npc_resistances' placeholder='acid, fire' data-i18n-placeholder='ship-dmg-res-place')
      .row
        span(data-i18n='damage-imm-u') DAMAGE IMMUNITIES
        input(type='text' name='attr_npc_immunities' placeholder='cold' data-i18n-placeholder='ship-dmg-imm-place')
      .row
        span(data-i18n='cond-imm-u') CONDITION IMMUNITIES
        input(type='text' name='attr_npc_condition_immunities' placeholder='impaired' data-i18n-placeholder='ship-cond-imm-place')
      .row
        span(data-i18n='sensor-u') SENSOR RANGE
        input(type='text' name='attr_ship_senses' placeholder='6' data-i18n-placeholder='ship-senses-place')
      .row
        span(data-i18n='token_size-u') TOKEN SIZE
        input.text(name='attr_token_size' value!='1' placeholder='1')
      .row
        input.npcspellcastingflag(type='checkbox' name='attr_npcspellcastingflag' value!='1')
        span(data-i18n='spellcast-npc-u') ESPER NPC
        .npcspelloptions
          span(data-i18n='spell-ability-u') ESPER ABILITY
          select(name='attr_spellcasting_ability' style='margin: 0px; width: auto; padding: 0px; height: 15px;')
            option(value!='0*' data-i18n='none-u') NONE
            option(value!='@{strength_mod}+' data-i18n='strength-u') STRENGTH
            option(value!='@{dexterity_mod}+' data-i18n='dexterity-u') DEXTERITY
            option(value!='@{constitution_mod}+' data-i18n='constitution-u') CONSTITUTION
            option(value!='@{intelligence_mod}+' data-i18n='intelligence-u') INTELLIGENCE
            option(value!='@{wisdom_mod}+' data-i18n='wisdom-u') WISDOM
            option(value!='@{charisma_mod}+' data-i18n='charisma-u') CHARISMA
        .npcspelloptions
          .row
            span(data-i18n='glob-atk-mod:-u') GLOBAL POWER ATTACK MODIFIER:
            input.num(type='text' name='attr_globalmagicmod' placeholder='0' value!='0')
          .row
            span(data-i18n='magic-caster-lvl:-u') ESPER LEVEL:
            input.num(type='text' name='attr_caster_level')
          .row
            span(data-i18n='spell_dc_mod:-u') POWER SAVE DC MOD:
            input.num(type='text' name='attr_spell_dc_mod' placeholder='0' value!='0')
      .row
        input(type='checkbox' name='attr_npcreactionsflag' value!='1')
        span(data-i18n='has-reaction-u') HAS REACTIONS
      .row.title
        span(data-i18n='gen-opts-u') GENERAL OPTIONS
      .row
        input(type='checkbox' name='attr_npc' value!='1')
        span(data-i18n='npc-u') NPC/SHIP
      .row
        span(data-i18n='roll-queries:-u') ROLL QUERIES:
        select(name='attr_rtype')
          option(value!='@{advantagetoggle}' data-i18n='adv-toggle') Advantage Toggle
          option(value!='{{always=1}} {{r2=[[@{d20}' data-i18n='always-adv') Always Roll Advantage
          option(value!='{{query=1}} ?{Advantage?|Normal Roll,&#123&#123normal=1&#125&#125 &#123&#123r2=[[0d20|Advantage,&#123&#123advantage=1&#125&#125 &#123&#123r2=[[@{d20}|Disadvantage,&#123&#123disadvantage=1&#125&#125 &#123&#123r2=[[@{d20}}' data-i18n='query-adv') Query Advantage
          option(value!='{{normal=1}} {{r2=[[0d20' data-i18n='never-adv') Never Roll Advantage
      .row
        span(data-i18n='whisp-rolls-gm:-u') WHISPER ROLLS TO GM:
        select(name='attr_wtype')
          option(value!='' data-i18n='never-whisper-roll') Never Whisper Rolls
          option(value!='@{whispertoggle}' data-i18n='toggle-roll-whisper') Whisper Toggle
          option(value!='?{Whisper?|Public Roll,|Whisper Roll,/w gm }' data-i18n='query-whisper-roll') Query Whisper
          option(value!='/w gm ' data-i18n='always-whisper-roll') Always Whisper Rolls
      .row
        span(data-i18n='auto-dmg-roll:-u') AUTO DAMAGE ROLL:
        select.dtype(name='attr_dtype')
          option(value!='full' data-i18n='always-dmg') Auto Roll Damage &amp; Crit
          option(value!='pick' data-i18n='never-dmg') Don&apos;t Auto Roll Damage
      .row
        span(data-i18n='ship-name-in-rolls:-u') SHIP NAME IN ROLLS:
        select(name='attr_npc_name_flag')
          option(value!='{{name=@{npc_name}}}' data-i18n='show') Show
          option(value!='0' data-i18n='hide') Hide
      .row
        input(type='checkbox' name='attr_init_tiebreaker' value!='@{dexterity}/100')
        span(data-i18n='add-dex-tiebreaker-u') ADD DEX TIEBREAKER TO INITIATIVE
    .display.stat-block
      .row.title.red
        button(type='roll' name='roll_npc_init' style='width: 100%;' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{init}}} {{mod=[[[[@{initiative_bonus}]][DEX]]]}} {{r1=[[@{d20}+[[@{initiative_bonus}]][DEX] &{tracker}]]}} {{normal=1}} {{type=Initiative}}')
          span(name='attr_npc_name')
      .row.subtitle(style='margin-top: -5px;')
        span.italics(name='attr_npc_type')
      .triangle
      .row.red(style='position:relative;')
        span.bold(data-i18n='ac') Armor Class
        span.num(name='attr_npc_ac')
        input.actype(type='hidden' name='attr_npc_actype' value!='')
        button(type='roll' name='roll_npc_init' style='position: absolute; right: 5px; height: 30px; width: 20px;' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{init}}} {{mod=[[[[@{initiative_bonus}]][DEX]]]}} {{r1=[[@{d20}+[[@{initiative_bonus}]][DEX] &{tracker}]]}} {{normal=1}} {{type=Initiative}}')
          span.npc-init-die t
          span(style='display: block;') INIT
      .row.red
        span.bold(data-i18n='maneuver-defense') Maneuver Defense
        span(name='attr_npc_md')
      .row.red
        span.bold(data-i18n='hlp') Hull Points
        span.num3(name='attr_hp_max')
        button(type='roll' name='roll_npc_hpformula' value!='@{wtype}&{template:npc} {{type=Hit Points}} {{normal=1}} @{npc_name_flag} {{rname=^{hp}}} {{mod=@{npc_hpformula}}} {{r1=[[@{npc_hpformula}]]}} charname=@{character_name}')
          span.parens(name='attr_npc_hpformula' style='font-size: 12px; font-weight: normal;')
      .row.red
        span.bold(data-i18n='structural-integrity') Structural Integrity
        span(name='attr_ship_si')
      .row.red
        span.bold(data-i18n='speed') Speed
        span(name='attr_npc_speed')
      .triangle
      .row.red
        .attr-container
          button(type='roll' name='roll_npc_str' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{strength}}} {{mod=[[[[@{strength_mod}]][STR]]]}} {{r1=[[@{d20}+[[@{strength_mod}]][STR]]]}} @{rtype}+[[@{strength_mod}]][STR]]]}} {{type=Ability}}')
            span.bold(data-i18n='str-u') STR
            span(name='attr_strength')
            input.negativeflag(type='hidden' name='attr_npc_str_negative' value!='0')
            span.npcattr(name='attr_strength_mod')
        .attr-container
          button(type='roll' name='roll_npc_dex' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{dexterity}}} {{mod=[[[[@{dexterity_mod}]][DEX]]]}} {{r1=[[@{d20}+[[@{dexterity_mod}]][DEX]]]}} @{rtype}+[[@{dexterity_mod}]][DEX]]]}} {{type=Ability}}')
            span.bold(data-i18n='dex-u') DEX
            span(name='attr_dexterity')
            input.negativeflag(type='hidden' name='attr_npc_dex_negative' value!='0')
            span.npcattr(name='attr_dexterity_mod')
        .attr-container
          button(type='roll' name='roll_npc_con' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{constitution}}} {{mod=[[[[@{constitution_mod}]][CON]]]}} {{r1=[[@{d20}+[[@{constitution_mod}]][CON]]]}} @{rtype}+[[@{constitution_mod}]][CON]]]}} {{type=Ability}}')
            span.bold(data-i18n='con-u') CON
            span(name='attr_constitution')
            input.negativeflag(type='hidden' name='attr_npc_con_negative' value!='0')
            span.npcattr(name='attr_constitution_mod')
        .attr-container
          button(type='roll' name='roll_npc_int' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{intelligence}}} {{mod=[[[[@{intelligence_mod}]][INT]]]}} {{r1=[[@{d20}+[[@{intelligence_mod}]][INT]]]}} @{rtype}+[[@{intelligence_mod}]][INT]]]}} {{type=Ability}}')
            span.bold(data-i18n='int-u') INT
            span(name='attr_intelligence')
            input.negativeflag(type='hidden' name='attr_npc_int_negative' value!='0')
            span.npcattr(name='attr_intelligence_mod')
        .attr-container
          button(type='roll' name='roll_npc_wis' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{wisdom}}} {{mod=[[[[@{wisdom_mod}]][WIS]]]}} {{r1=[[@{d20}+[[@{wisdom_mod}]][WIS]]]}} @{rtype}+[[@{wisdom_mod}]][WIS]]]}} {{type=Ability}}')
            span.bold(data-i18n='wis-u') WIS
            span(name='attr_wisdom')
            input.negativeflag(type='hidden' name='attr_npc_wis_negative' value!='0')
            span.npcattr(name='attr_wisdom_mod')
        .attr-container
          button(type='roll' name='roll_npc_cha' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{charisma}}} {{mod=[[[[@{charisma_mod}]][CHA]]]}} {{r1=[[@{d20}+[[@{charisma_mod}]][CHA]]]}} @{rtype}+[[@{charisma_mod}]][CHA]]]}} {{type=Ability}}')
            span.bold(data-i18n='cha-u') CHA
            span(name='attr_charisma')
            input.negativeflag(type='hidden' name='attr_npc_cha_negative' value!='0')
            span.npcattr(name='attr_charisma_mod')
      .triangle
      .row.skills.red(style='position:relative;')
        span.bold(data-i18n='piloting') Piloting Bonus
        input.npc-piloting-val(type="text" name='attr_npc_piloting' value!='@{dexterity_mod}' disabled="true")
        input.flag(type='hidden' name='attr_npc_piloting_flag' value!='0')
        button(type='roll' name='roll_npc_piloting' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{piloting}}} {{mod=@{npc_piloting}}} {{r1=[[@{d20}+@{npc_piloting}]]}} @{rtype}+@{npc_piloting}]]}} {{type=Vehicle}}')
          span.stat(name='attr_npc_piloting')
      button(type='roll' name='roll_npc_piloting' style='position: absolute; right: 5px; height: 30px; width: 25px; text-align: center;' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{piloting}}} {{mod=@{npc_piloting}}} {{r1=[[@{d20}+@{npc_piloting}]]}} @{rtype}+@{npc_piloting}]]}} {{type=Vehicle}}')
        span.npc-init-die t
        span(style='display: block;') PILOT
      .row.red
        span.bold(data-i18n='maneuver-save') Maneuver Save DC
        span(name='attr_npc_mnv_save')
      .row.saving.red
        span.bold(data-i18n='saving-throw') Saving Throws
        input.flag(type='hidden' name='attr_npc_str_save_flag' value!='0')
        button(type='roll' name='roll_npc_str_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{strength-save}}} {{mod=[[[[@{npc_str_save}]][STR SAVE]]]}} {{r1=[[@{d20}+[[@{npc_str_save}]][STR SAVE]]]}} @{rtype}+[[@{npc_str_save}]][STR SAVE]]]}} {{type=Save}}')
          span(data-i18n='str') Str
          span.stat(name='attr_npc_str_save')
        input.flag(type='hidden' name='attr_npc_dex_save_flag' value!='0')
        button(type='roll' name='roll_npc_dex_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{dexterity-save}}} {{mod=[[[[@{npc_dex_save}]][DEX SAVE]]]}} {{r1=[[@{d20}+[[@{npc_dex_save}]][DEX SAVE]]]}} @{rtype}+[[@{npc_dex_save}]][DEX SAVE]]]}} {{type=Save}}')
          span(data-i18n='dex') Dex
          span.stat(name='attr_npc_dex_save')
        input.flag(type='hidden' name='attr_npc_con_save_flag' value!='0')
        button(type='roll' name='roll_npc_con_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{constitution-save}}} {{mod=[[[[@{npc_con_save}]][CON SAVE]]]}} {{r1=[[@{d20}+[[@{npc_con_save}]][CON SAVE]]]}} @{rtype}+[[@{npc_con_save}]][CON SAVE]]]}} {{type=Save}}')
          span(data-i18n='con') Con
          span.stat(name='attr_npc_con_save')
        input.flag(type='hidden' name='attr_npc_int_save_flag' value!='0')
        button(type='roll' name='roll_npc_int_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{intelligence-save}}} {{mod=[[[[@{npc_int_save}]][INT SAVE]]]}} {{r1=[[@{d20}+[[@{npc_int_save}]][INT SAVE]]]}} @{rtype}+[[@{npc_int_save}]][INT SAVE]]]}} {{type=Save}}')
          span(data-i18n='int') Int
          span.stat(name='attr_npc_int_save')
        input.flag(type='hidden' name='attr_npc_wis_save_flag' value!='0')
        button(type='roll' name='roll_npc_wis_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{wisdom-save}}} {{mod=[[[[@{npc_wis_save}]][WIS SAVE]]]}} {{r1=[[@{d20}+[[@{npc_wis_save}]][WIS SAVE]]]}} @{rtype}+[[@{npc_wis_save}]][WIS SAVE]]]}} {{type=Save}}')
          span(data-i18n='wis') Wis
          span.stat(name='attr_npc_wis_save')
        input.flag(type='hidden' name='attr_npc_cha_save_flag' value!='0')
        button(type='roll' name='roll_npc_cha_save' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{charisma-save}}} {{mod=[[[[@{npc_cha_save}]][CHA SAVE]]]}} {{r1=[[@{d20}+[[@{npc_cha_save}]][CHA SAVE]]]}} @{rtype}+[[@{npc_cha_save}]][CHA SAVE]]]}} {{type=Save}}')
          span(data-i18n='cha') Cha
          span.stat(name='attr_npc_cha_save')
      input.flag(type='hidden' name='attr_npc_skills_flag' value!='')
      .row.skills.skills-list.red(data-i18n-list='skills-list')
        span.bold(data-i18n='skills') Skills
        span(data-i18n-list-item='astrophysics')
          input.flag(type='hidden' name='attr_npc_astrophysics_flag' value!='0')
          button(type='roll' name='roll_npc_astrophysics' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{astrophysics}}} {{mod=@{npc_astrophysics}}} {{r1=[[@{d20}+@{npc_astrophysics}]]}} @{rtype}+@{npc_astrophysics}]]}} {{type=Skill}}')
            span(data-i18n='astrophysics') Astrophysics
            span.stat(name='attr_npc_astrophysics')
        span(data-i18n-list-item='athletics')
          input.flag(type='hidden' name='attr_npc_athletics_flag' value!='0')
          button(type='roll' name='roll_npc_athletics' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{athletics}}} {{mod=@{npc_athletics}}} {{r1=[[@{d20}+@{npc_athletics}]]}} @{rtype}+@{npc_athletics}]]}} {{type=Skill}}')
            span(data-i18n='athletics') Athletics
            span.stat(name='attr_npc_athletics')
        span(data-i18n-list-item='computers')
          input.flag(type='hidden' name='attr_npc_computers_flag' value!='0')
          button(type='roll' name='roll_npc_computers' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{computers}}} {{mod=@{npc_computers}}} {{r1=[[@{d20}+@{npc_computers}]]}} @{rtype}+@{npc_computers}]]}} {{type=Skill}}')
            span(data-i18n='computers') Computers
            span.stat(name='attr_npc_computers')
        span(data-i18n-list-item='deception')
          input.flag(type='hidden' name='attr_npc_deception_flag' value!='0')
          button(type='roll' name='roll_npc_deception' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{deception}}} {{mod=@{npc_deception}}} {{r1=[[@{d20}+@{npc_deception}]]}} @{rtype}+@{npc_deception}]]}} {{type=Skill}}')
            span(data-i18n='deception') Deception
            span.stat(name='attr_npc_deception')
        span(data-i18n-list-item='insight')
          input.flag(type='hidden' name='attr_npc_insight_flag' value!='0')
          button(type='roll' name='roll_npc_insight' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{insight}}} {{mod=@{npc_insight}}} {{r1=[[@{d20}+@{npc_insight}]]}} @{rtype}+@{npc_insight}]]}} {{type=Skill}}')
            span(data-i18n='insight') Insight
            span.stat(name='attr_npc_insight')
        span(data-i18n-list-item='intimidation')
          input.flag(type='hidden' name='attr_npc_intimidation_flag' value!='0')
          button(type='roll' name='roll_npc_intimidation' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{intimidation}}} {{mod=@{npc_intimidation}}} {{r1=[[@{d20}+@{npc_intimidation}]]}} @{rtype}+@{npc_intimidation}]]}} {{type=Skill}}')
            span(data-i18n='intimidation') Intimidation
            span.stat(name='attr_npc_intimidation')
        span(data-i18n-list-item='investigation')
          input.flag(type='hidden' name='attr_npc_investigation_flag' value!='0')
          button(type='roll' name='roll_npc_investigation' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{investigation}}} {{mod=@{npc_investigation}}} {{r1=[[@{d20}+@{npc_investigation}]]}} @{rtype}+@{npc_investigation}]]}} {{type=Skill}}')
            span(data-i18n='investigation') Investigation
            span.stat(name='attr_npc_investigation')
        span(data-i18n-list-item='lore')
          input.flag(type='hidden' name='attr_npc_lore_flag' value!='0')
          button(type='roll' name='roll_npc_lore' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{lore}}} {{mod=@{npc_lore}}} {{r1=[[@{d20}+@{npc_lore}]]}} @{rtype}+@{npc_lore}]]}} {{type=Skill}}')
            span(data-i18n='lore') Lore
            span.stat(name='attr_npc_lore')
        span(data-i18n-list-item='mechanics')
          input.flag(type='hidden' name='attr_npc_mechanics_flag' value!='0')
          button(type='roll' name='roll_npc_mechanics' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{mechanics}}} {{mod=@{npc_mechanics}}} {{r1=[[@{d20}+@{npc_mechanics}]]}} @{rtype}+@{npc_mechanics}]]}} {{type=Skill}}')
            span(data-i18n='mechanics') Mechanics
            span.stat(name='attr_npc_mechanics')
        span(data-i18n-list-item='medicine')
          input.flag(type='hidden' name='attr_npc_medicine_flag' value!='0')
          button(type='roll' name='roll_npc_medicine' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{medicine}}} {{mod=@{npc_medicine}}} {{r1=[[@{d20}+@{npc_medicine}]]}} @{rtype}+@{npc_medicine}]]}} {{type=Skill}}')
            span(data-i18n='medicine') Medicine
            span.stat(name='attr_npc_medicine')
        span(data-i18n-list-item='perception')
          input.flag(type='hidden' name='attr_npc_perception_flag' value!='0')
          button(type='roll' name='roll_npc_perception' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{perception}}} {{mod=@{npc_perception}}} {{r1=[[@{d20}+@{npc_perception}]]}} @{rtype}+@{npc_perception}]]}} {{type=Skill}}')
            span(data-i18n='perception') Perception
            span.stat(name='attr_npc_perception')
        span(data-i18n-list-item='performance')
          input.flag(type='hidden' name='attr_npc_performance_flag' value!='0')
          button(type='roll' name='roll_npc_performance' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{performance}}} {{mod=@{npc_performance}}} {{r1=[[@{d20}+@{npc_performance}]]}} @{rtype}+@{npc_performance}]]}} {{type=Skill}}')
            span(data-i18n='performance') Performance
            span.stat(name='attr_npc_performance')
        span(data-i18n-list-item='persuasion')
          input.flag(type='hidden' name='attr_npc_persuasion_flag' value!='0')
          button(type='roll' name='roll_npc_persuasion' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{persuasion}}} {{mod=@{npc_persuasion}}} {{r1=[[@{d20}+@{npc_persuasion}]]}} @{rtype}+@{npc_persuasion}]]}} {{type=Skill}}')
            span(data-i18n='persuasion') Persuasion
            span.stat(name='attr_npc_persuasion')
        span(data-i18n-list-item='sleight_of_hand')
          input.flag(type='hidden' name='attr_npc_sleight_of_hand_flag' value!='0')
          button(type='roll' name='roll_npc_sleight_of_hand' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{sleight_of_hand}}} {{mod=@{npc_sleight_of_hand}}} {{r1=[[@{d20}+@{npc_sleight_of_hand}]]}} @{rtype}+@{npc_sleight_of_hand}]]}} {{type=Skill}}')
            span(data-i18n='sleight_of_hand') Sleight of Hand
            span.stat(name='attr_npc_sleight_of_hand')
        span(data-i18n-list-item='stealth')
          input.flag(type='hidden' name='attr_npc_stealth_flag' value!='0')
          button(type='roll' name='roll_npc_stealth' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{stealth}}} {{mod=@{npc_stealth}}} {{r1=[[@{d20}+@{npc_stealth}]]}} @{rtype}+@{npc_stealth}]]}} {{type=Skill}}')
            span(data-i18n='stealth') Stealth
            span.stat(name='attr_npc_stealth')
        span(data-i18n-list-item='survival')
          input.flag(type='hidden' name='attr_npc_survival_flag' value!='0')
          button(type='roll' name='roll_npc_survival' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{survival}}} {{mod=@{npc_survival}}} {{r1=[[@{d20}+@{npc_survival}]]}} @{rtype}+@{npc_survival}]]}} {{type=Skill}}')
            span(data-i18n='survival') Survival
            span.stat(name='attr_npc_survival')
        span(data-i18n-list-item='xenobiology')
          input.flag(type='hidden' name='attr_npc_xenobiology_flag' value!='0')
          button(type='roll' name='roll_npc_xenobiology' value!='@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{xenobiology}}} {{mod=@{npc_xenobiology}}} {{r1=[[@{d20}+@{npc_xenobiology}]]}} @{rtype}+@{npc_xenobiology}]]}} {{type=Skill}}')
            span(data-i18n='xenobiology') Xenobiology
            span.stat(name='attr_npc_xenobiology')
      input.flag(type='hidden' name='attr_npc_vulnerabilities')
      .row.status.vulnerabilities.red
        span.bold(data-i18n='dmg-vuln') Damage Vulnerabilities
        span.info(name='attr_npc_vulnerabilities')
      input.flag(type='hidden' name='attr_npc_resistances')
      .row.status.resistances.red
        span.bold(data-i18n='dmg-res') Damage Resistances
        span.info(name='attr_npc_resistances')
      input.flag(type='hidden' name='attr_npc_immunities')
      .row.status.immunities.red
        span.bold(data-i18n='dmg-imm') Damage Immunities
        span.info(name='attr_npc_immunities')
      input.flag(type='hidden' name='attr_npc_condition_immunities')
      .row.status.condition_immunities.red
        span.bold(data-i18n='cond-imm') Condition Immunities
        span.info(name='attr_npc_condition_immunities')
      .row.senses.red
        span.bold(data-i18n='sensors') Sensor Range
        span.info(name='attr_ship_senses')
      .triangle
      .row.traits
        fieldset.repeating_npctrait
          .trait
            input(type='text' name='attr_name' placeholder='Cloaking.' data-i18n-placeholder='ship-trait-name-place')
            textarea(name='attr_description' placeholder='The ship has...' data-i18n-placeholder='ship-trait-desc-place')
    .actions_container
    input.dflag(type='hidden' name='attr_dflag' value!='pick')
    .row.actions
      .row.actiontitle(style='position: relative;')
        span.title.red(data-i18n='actions') Actions
      fieldset.repeating_npcaction
        .action
          input.npc_options-flag(type='checkbox' name='attr_npc_options-flag' checked='checked')
          span y
          .npc_options
            .row
              span(data-i18n='name:-u') NAME:
              input(type='text' name='attr_name')
            .row
              input(type='checkbox' name='attr_attack_flag' value!='on')
              span(data-i18n='attack-u') ATTACK
            input.attack_options(type='hidden' name='attr_attack_flag' value!='0')
            .row.attack_option
              span(data-i18n='type:-u') TYPE:
              select(name='attr_attack_type')
                option(value!='Melee' data-i18n='melee') Melee
                option(value!='Ranged' data-i18n='ranged') Ranged
              span(style='margin-left: 15px;' data-i18n='range-reach:-u') RANGE/REACH:
              input(type='text' name='attr_attack_range' placeholder='5 ft.' style='width: 100px;' data-i18n-placeholder='range-reach-place')
            .row.attack_option
              span(data-i18n='to-hit:-u') TO HIT:
              input(type='text' name='attr_attack_tohit' value!='0' placeholder='5' style='width: 30px;')
              span(style='margin-left: 15px;' data-i18n='target:-u') TARGET:
              input(type='text' name='attr_attack_target' placeholder='One target' style='width: 100px;' data-i18n-placeholder='to-hit-place')
            input(type='hidden' name='attr_damage_flag')
            .row.attack_option
              span(data-i18n='on-hit:-u') ON HIT:
              input(type='text' name='attr_attack_damage' placeholder='1d10' style='width: 65px;')
              input(type='text' name='attr_attack_damagetype' placeholder='slashing' style='width: 100px;' data-i18n-placeholder='on-hit-place')
              input(type='hidden' name='attr_attack_crit')
            .row.attack_option
              span(data-i18n='on-hit2:-u') ON HIT 2:
              input(type='text' name='attr_attack_damage2' placeholder='2d6+5' style='width: 65px;')
              input(type='text' name='attr_attack_damagetype2' placeholder='fire' style='width: 100px;' data-i18n-placeholder='on-hit-2-place')
              input(type='hidden' name='attr_attack_crit2')
            .row.attack_option
              span(data-i18n='desc:-u') DESCRIPTION:
              select(name='attr_show_desc')
                option(value!='@{description}' data-i18n='show') Show
                option(value!=' ' data-i18n='hide') Hide
            .row
              textarea(name='attr_description')
          .display
            button.pick(type='roll' name='roll_npc_action' value!='@{rollbase}')
              .row.wide
                span.bold.wide(name='attr_name')
              input.attack_options(type='hidden' name='attr_attack_flag')
              .row.attack.attack_option
                span.italics(name='attr_attack_type')
                span.italics  Weapon Attack: 
                span(name='attr_attack_tohitrange')
              .row.attack.attack_option
                span.italics(style='font-size: 13px; font-weight: normal; vertical-align: middle;' data-i18n='hit:') Hit: 
                span(name='attr_attack_onhit' style='vertical-align: middle;')
              span.description(name='attr_description')
          input(type='hidden' name='attr_rollbase')
          button(type='roll' style='display: none;' name='roll_npc_dmg' value!='@{wtype}&{template:npcdmg} @{damage_flag} {{dmg1=[[@{attack_damage}+0]]}} {{dmg1type=@{attack_damagetype}}} {{dmg2=[[@{attack_damage2}+0]]}} {{dmg2type=@{attack_damagetype2}}}')
          button(type='roll' style='display: none;' name='roll_npc_crit' value!='@{wtype}&{template:npcdmg} @{damage_flag} {{crit=1}} {{dmg1=[[@{attack_damage}+0]]}} {{dmg1type=@{attack_damagetype}}} {{dmg2=[[@{attack_damage2}+0]]}} {{dmg2type=@{attack_damagetype2}}} {{crit1=[[@{attack_crit}+0]]}} {{crit2=[[@{attack_crit2}+0]]}}')
    input.reaction_flag(type='hidden' name='attr_npcreactionsflag')
    .row.actions.reaction
      .row.actiontitle
        span.title.red(data-i18n='reactions') Reactions
      fieldset.repeating_npcreaction
        .trait
          input(type='text' name='attr_name' placeholder='Parry.' data-i18n-placeholder='npc-repeating-name-place')
          textarea(name='attr_description' placeholder='The creature adds 2 to its AC against...' data-i18n-placeholder='npc-repeating-desc-place')
  