- 
  var companions = [ 
    { 
      id: 'cave-lion',
      name: 'Cave Lion',
      description: 'Your cat takes down its prey.',
      abilities: [ 
        "<b>Eager:</b> When your cat chases down big game, you may <em>Resupply</em> with +edge (instead of +wits). If you do, take +1 supply or +1 momentum on a strong hit.",
        "<b>Inescapable:</b> When you <em>Enter the Fray</em> or <em>Strike</em> by sending your cat to attack, roll +edge. On a hit, take +2 momentum.",
        "<b>Protective:</b> When you <em>Make Camp</em>, your cat is alert to trouble. If you or an ally choose to relax, take +1 spirit. If you focus, take +1 momentum." ], 
      tracks: [ '0','+1', '+2', '+3', '+4' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
    { 
      id: '',
      name: '',
      description: '',
      abilities: [ 
        "",
        "",
        "" ], 
      tracks: [ '0' ] 
    },
  ]