<div class="section-character pc">
  <div class="shaped-row mar-b-smd">
    <input type="hidden" attr="attr_caster_level">

    <div class="col-70 pad-r-sm">
      //= include classes.html

      <div class="col-12 float-right mar-b-smd mar-r-sm">
        //= include defaultAbility.html
      </div>
    </div>
    <div class="col-30 pad-l-sm">
      //= include spellSlotAdjustments.html
    </div>
  </div>

  //= include appearance.html

  <div class="shaped-row mar-b-smd">
    <div class="col-50 pad-r-sm">
      //= include vision.html
    </div>
    <div class="col-50 pad-l-sm">
      //= include movement.html
    </div>
  </div>

  <div class="wrap-box center mar-b-smd">
    <input type="hidden" attr="attr_jack_of_all_trades">
    <input type="checkbox" name="attr_jack_of_all_trades_toggle" value="@{jack_of_all_trades}" class="toggle-jack-of-all-trades"><span class="toggle-jack-of-all-trades">{{'JACK_OF_ALL_TRADES' | translate}}</span>

    <input type="hidden" attr="attr_remarkable_athlete">
    <input type="checkbox" name="attr_remarkable_athlete_toggle" value="@{remarkable_athlete}" class="toggle-remarkable-athlete"><span class="toggle-remarkable-athlete">{{'REMARKABLE_ATHLETE' | translate}}</span>

    <input type="hidden" name="attr_d20_mod">
    <input type="checkbox" name="attr_halfling_luck" class="toggle-halfling-luck"><span class="toggle-halfling-luck">{{'HALFLING_LUCK' | translate}}</span>

    <div class="shaped-row">
      <div class="col-20">
        <div class="shaped-row center vert-center mar-b-sm">
          <div class="col-20 center pad-r-sm">
            <select name="attr_sneak_attack_die">
              <option>d2</option>
              <option>d4</option>
              <option selected>d6</option>
              <option>d8</option>
              <option>d10</option>
              <option>d12</option>
              <option>d20</option>
            </select>
          </div>
          <span>{{'EVERY' | translate}}</span>
          <div class="col-14 center pad-r-sm">
            <input type="number" name="attr_sneak_attack_die_per_rogue_levels" class="no-spin" value="2">
          </div>
          <span>{{'CLASSES.ROGUE' | translate}}&nbsp;{{'LEVELS' | translate}}</span>
        </div>

        <button type="roll" name="roll_sneak_attack" class="visible-button" value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=Sneak Attack}}   {{subheader=Rogue}}   {{targetName=@{attacks_vs_target_name}}}   {{damage=[[([[round(@{rogue_level}/@{sneak_attack_die_per_rogue_levels})]])@{sneak_attack_die}]]}}">
          {{'SNEAK_ATTACK' | translate}}
        </button>
      </div>
      <div class="col-20">
        <div class="shaped-row center vert-center mar-b-sm">
          <div class="col-20 center pad-r-sm">
            <select name="attr_divine_smite_die">
              <option>d2</option>
              <option>d4</option>
              <option>d6</option>
              <option selected>d8</option>
              <option>d10</option>
              <option>d12</option>
              <option>d20</option>
            </select>
          </div>
        </div>

        <button type="roll" name="roll_divine_smite" class="visible-button" value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=Divine Smite}}   {{subheader=Paladin}}   {{targetName=@{attacks_vs_target_name}}}   {{damage=[[(?{Spell Level|1|2|3|4+, 4} + 1)@{divine_smite_die}]]}} {{second_damage=[[@{divine_smite_die}]]}} {{second_damage_type=vs undead / fiend}}">
          {{'DIVINE_SMITE' | translate}}
        </button>
      </div>
    </div>

    <div class="wrap-box-title">{{'FEATURES' | translate}}</div>
  </div>

  <div class="wrap-box center">
    <textarea name="attr_miscellaneous_notes" class="eight-line-textarea"></textarea>

    <div class="wrap-box-title">{{'MISCELLANEOUS_NOTES' | translate}}</div>
  </div>
</div>
