<div class="wrap-box mar-b-smd">
  <input type="hidden" name="attr_level">

  <div class="shaped-row vert-center">
    <div class="col-12 wrap-box-label light-label center pad-r-sm">{{'CLASS' | translate}}</div>
    <div class="col-10 wrap-box-label light-label center pad-l-sm pad-r-sm">{{'LEVEL' | translate}}</div>
    <div class="col-10 wrap-box-label light-label center pad-l-sm pad-r-sm">{{'HIT_DICE' | translate}}</div>
    <div class="col-30 wrap-box-label light-label center pad-l-sm">{{'SPELLCASTING' | translate}}</div>
    <div class="col-20 wrap-box-label light-label center pad-l-sm pad-r-sm">{{'CUSTOM_NAME' | translate}}</div>
  </div>
  <fieldset class="repeating_class">
    <div class="shaped-row vert-center">
      <div class="col-12 pad-r-sm">
        <span class="en">
          <select name="attr_name">
            <option value="barbarian">Barbarian</option>
            <option value="bard">Bard</option>
            <option value="cleric">Cleric</option>
            <option value="druid">Druid</option>
            <option value="fighter">Fighter</option>
            <option value="monk">Monk</option>
            <option value="paladin">Paladin</option>
            <option value="ranger">Ranger</option>
            <option value="rogue">Rogue</option>
            <option value="sorcerer">Sorcerer</option>
            <option value="warlock">Warlock</option>
            <option value="wizard">Wizard</option>
            <option value="custom">Custom</option>
          </select>
        </span>
        <span class="de">
          <select name="attr_name">
            <option value="barbarian">Barbar</option>
            <option value="bard">Barde</option>
            <option value="cleric">Kleriker</option>
            <option value="druid">Druide</option>
            <option value="fighter">Kämpfer</option>
            <option value="monk">Mönch</option>
            <option value="paladin">Paladin</option>
            <option value="ranger">Waldläufer</option>
            <option value="rogue">Schurke</option>
            <option value="sorcerer">Hexenmeister</option>
            <option value="warlock">Hexer</option>
            <option value="wizard">Zauberer</option>
            <option value="custom">Andere</option>
          </select>
        </span>
        <span class="fr">
          <select name="attr_name">
            <option value="barbarian">Barbare</option>
            <option value="bard">Barde</option>
            <option value="cleric">Clerc</option>
            <option value="druid">Druide</option>
            <option value="fighter">Guerrier</option>
            <option value="monk">Moine</option>
            <option value="paladin">Paladin</option>
            <option value="ranger">Rôdeur</option>
            <option value="rogue">Roublard</option>
            <option value="sorcerer">Ensorceleur</option>
            <option value="warlock">Sorcier</option>
            <option value="wizard">Magicien</option>
            <option value="custom">Autre</option>
          </select>
        </span>
        <span class="ru">
          <select name="attr_name">
            <option value="barbarian">Варвар</option>
            <option value="bard">Бард</option>
            <option value="cleric">Жрец</option>
            <option value="druid">Друид</option>
            <option value="fighter">Воин</option>
            <option value="monk">Монах</option>
            <option value="paladin">Паладин</option>
            <option value="ranger">Следопыт</option>
            <option value="rogue">Плут</option>
            <option value="sorcerer">Чародей</option>
            <option value="warlock">Колдун</option>
            <option value="wizard">Волшебник</option>
            <option value="custom">Другое</option>
          </select>
        </span>
      </div>
      <div class="col-10 pad-l-sm pad-r-sm">
        <input type="number" name="attr_level">
      </div>
      <div class="col-10 pad-l-sm pad-r-sm">
        <select name="attr_hd">
          <option value="d0">&#8212;</option>
          <option>d2</option>
          <option>d4</option>
          <option>d6</option>
          <option>d8</option>
          <option>d10</option>
          <option selected>d12</option>
          <option>d20</option>
        </select>
      </div>
      <div class="col-30 pad-l-sm">
        <span class="en">
          <select name="attr_spellcasting">
            <option value="none">&#8212;</option>
            <option value="full">Full (9th level: Bard, Cleric, Druid, Sorcerer, Wizard)</option>
            <option value="half">Half (5th level: Paladin, Ranger)</option>
            <option value="third">Third (3rd level: Arcane Archetypes)</option>
            <option value="warlock">Warlock</option>
          </select>
        </span>
        <span class="de">
          <select name="attr_spellcasting">
            <option value="none">&#8212;</option>
            <option value="full">Voll (9. ebene: Barde, Kleriker, Druide, Hexenmeister, Zauberer)</option>
            <option value="half">Hälfte (5. ebene: Paladin, Waldläufer)</option>
            <option value="third">Dritte (3. ebene: Arcane Urbilder)</option>
            <option value="warlock">Hexer</option>
          </select>
        </span>
        <span class="fr">
          <select name="attr_spellcasting">
            <option value="none">&#8212;</option>
            <option value="full">Total (9ème niveau: Barde, Clerc, Druide, Ensorceleur, Magicien)</option>
            <option value="half">Moitié (5ème niveau: Paladin, Rôdeur)</option>
            <option value="third">Tiers (3ème niveau: Archetypes d'Arcane)</option>
            <option value="warlock">Sorcier</option>
          </select>
        </span>
        <span class="ru">
          <select name="attr_spellcasting">
            <option value="none">&#8212;</option>
            <option value="full">Full (9th level: Bard, Cleric, Druid, Sorcerer, Wizard)</option>
            <option value="half">Half (5th level: Paladin, Ranger)</option>
            <option value="third">Third (3rd level: Arcane Archetypes)</option>
            <option value="warlock">Warlock</option>
          </select>
        </span>
      </div>
      <div class="col-20 pad-l-sm pad-r-sm">
        <input type="checkbox" name="attr_custom_class_toggle" class="toggle-custom-class hidden">
        <input type="text" name="attr_custom_name" class="custom-class">
      </div>
    </div>
  </fieldset>

  <div class="wrap-box-title center">{{'CLASS_LEVELS' | translate}}</div>
</div>
