<div class="wrap-box movement">
  <div class="shaped-row">
    <div class="col-25 speed mar-t-md pad-r-sm">
      <input type="text" name="attr_speed_burrow" class="center">

      <div class="small-label center">{{'BURROW' | translate}}</div>
    </div>
    <div class="col-25 speed mar-t-md pad-l-sm pad-r-sm">
      <input type="text" name="attr_speed_climb" class="center">

      <div class="small-label center">{{'CLIMB' | translate}}</div>
    </div>
    <div class="col-25 speed relative pad-l-sm pad-r-sm">
      <label class="checkbox-label-sm absolute">
        <input type="checkbox" name="attr_speed_fly_hover"><span>{{'HOVER' | translate}}</span>
      </label>
      <input type="text" name="attr_speed_fly" class="center mar-t-md">

      <div class="small-label center">{{'FLY' | translate}}</div>
    </div>
    <div class="col-25 speed mar-t-md pad-l-sm">
      <input type="text" name="attr_speed_swim" class="center">

      <div class="small-label center">{{'SWIM' | translate}}</div>
    </div>
  </div>
  <div class="wrap-box-title center">{{'MOVEMENT' | translate}}</div>
</div>