@import 'variables.scss';

/* Complex Roll Styling */
.sheet-modal-flag[value="1"]+.sheet-complex-roll-modal {
  display: block;
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  width: 500px;
  background: rgb(240, 240, 240);
  border: 2px solid rgba(64, 64, 64, 0.8);
  border-radius: 5px;
  padding: 10px;
}

input[type="checkbox"].sheet-close-complex-modal,
input[type="checkbox"].sheet-close-complex-modal+span {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
}

input[type="checkbox"].sheet-close-complex-modal {
  cursor: pointer;
  opacity: 0;
  z-index: 101;
}

input[type="checkbox"].sheet-close-complex-modal+span::before {
  content: "✖";
}

.sheet-check-container {
  position: relative;
  height: 25px;
}

input.sheet-ob-flag[value="independent"]~.sheet-independent,
input.sheet-ob-flag[value="versus"]~.sheet-versus,
input.sheet-ob-flag[value="versus"]~div .sheet-versus,
input.sheet-ob-flag[value="conflict"]~.sheet-conflict {
  display: block;
}

.sheet-roll-choices {
  border-top: 2px solid rgba(165, 165, 165, 0.8);
  margin-top: 10px;
  padding-top: 10px;
}

.sheet-trait-mod:checked~.sheet-trait-mod-options,
.sheet-persona:checked~.sheet-persona-options,
.sheet-nature:checked~.sheet-nature-options,
.sheet-help:checked~.sheet-help-options,
.sheet-gear:checked~.sheet-gear-options,
.sheet-other:checked~.sheet-other-options,
input.sheet-town-ability-flag[value="circles"]+.sheet-town-ability,
input.sheet-town-ability-flag[value="resources"]+.sheet-town-ability,
input.sheet-mod-flag:not([value="0"])+.sheet-mod,
/* input.sheet-mod-flag[value="1"] + .sheet-mod, */
input.sheet-mod-flag[value="1"]+input.sheet-not-town[value="1"]+.sheet-mod,
input.sheet-mod-flag-bl[value="ceil(("]+.sheet-mod,
input.sheet-in-or-out[value="outside"]+.sheet-out {
  display: inline-block;
}

.sheet-row.sheet-check-container.sheet-hidden,
.sheet-row.sheet-conflict.sheet-hidden {
  display: none;
}

.sheet-trait-select {
  width: 130px;
}

.sheet-nature-select {
  width: 80px;
}

input[type="number"].sheet-ob-input {
  font-family: $font_family_2;
  color: $blue;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: $blue;
  letter-spacing: normal;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-bottom: 2px solid rgba(165, 165, 165, 0.8);
  width: 50px;
  text-align: center;
  padding: 0px;
  font-size: 2.5em;
}

.sheet-roll-obstacle {
  position: relative;
}

.sheet-rolling {
  margin-top: 17px;
}

button[type="roll"].sheet-complex-roll-button {
  position: absolute;
  right: 10px;
  bottom: -5px;
  width: 33%;
  height: 25px;
  background: $blue;
  border: 2px solid rgba(165, 165, 165, 0.8);
  text-align: center;
  z-index: 10;
}

/* input[type=checkbox].sheet-complex-roll-listener {
    position: absolute;
    right: 10px;
    bottom: -5px;
    width: 33%;
    height: 25px;
    opacity: 0.1;
    z-index: 10;
} */

button[type="roll"].sheet-complex-roll-button span {
  color: $white;
  -webkit-text-stroke-color: $white;
}

.sheet-disposition-type {
  width: 110%;
}

.sheet-disposition-type input[type="radio"].sheet-underlined+span {
  margin-right: 3px;
}

.sheet-disposition-type input[type="radio"].sheet-underlined+span::before {
  left: 3px;
}

.sheet-disposition-type input[type="radio"].sheet-underlined,
.sheet-disposition-type input[type="radio"].sheet-underlined+span {
  width: 15px !important;
}

.sheet-disposition-type div {
  display: inline-block;
}

.sheet-disposition-type .sheet-disposition-subtype {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 85px;
}

.sheet-check-container.sheet-bottom {
  height: 40px;
}

/* Roll Template Styling */

.sheet-rolltemplate-simple .sheet-container,
.sheet-rolltemplate-complex .sheet-container {
  background: rgb(240, 240, 240);
  border: 2px solid $grey;
  border-radius: 5px;
  padding: 10px;
}

.sheet-rolltemplate-simple .sheet-name,
.sheet-rolltemplate-complex .sheet-name {
  color: $blue;
  font-family: $font_family_1;
  font-size: 1.4em;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: -2px;
  text-shadow: 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0,
    0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0,
    0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0,
    0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0;
}

.sheet-rolltemplate-simple .sheet-faint,
.sheet-rolltemplate-complex .sheet-faint {
  color: $grey;
  font-size: 0.85em;
  font-family: $font_family_1;
  letter-spacing: -1px;
}

.sheet-rolltemplate-simple .sheet-result,
.sheet-rolltemplate-complex .sheet-result {
  text-align: center;
  font-size: 2em;
}

.sheet-rolltemplate-simple .sheet-success-footer,
.sheet-rolltemplate-complex .sheet-success-footer {
  font-size: 0.35em;
}

.sheet-rolltemplate-simple .sheet-dead,
.sheet-rolltemplate-complex .sheet-dead {
  font-size: 0.8em;
  line-height: 1;
}

.sheet-rolltemplate-simple .sheet-conditions,
.sheet-rolltemplate-complex .sheet-conditions {
  line-height: 10px;
}

.sheet-rolltemplate-simple .sheet-conditions .sheet-handwritten,
.sheet-rolltemplate-complex .sheet-conditions .sheet-handwritten {
  font-size: 0.8em;
  color: $grey;
  -webkit-text-stroke-color: $grey;
}

.sheet-rolltemplate-simple .inlinerollresult,
.sheet-rolltemplate-simple .inlinerollresult.fullcrit,
.sheet-rolltemplate-simple .inlinerollresult.fullfail,
.sheet-rolltemplate-simple .inlinerollresult.importantroll,
.sheet-rolltemplate-complex .inlinerollresult,
.sheet-rolltemplate-complex .inlinerollresult.fullcrit,
.sheet-rolltemplate-complex .inlinerollresult.fullfail,
.sheet-rolltemplate-complex .inlinerollresult.importantroll {
  background: none !important;
  border: none !important;
}

.sheet-rolltemplate-simple .sheet-caps,
.sheet-rolltemplate-complex .sheet-caps {
  text-transform: uppercase;
}

.sheet-rolltemplate-simple .sheet-handwritten,
.sheet-rolltemplate-complex .sheet-handwritten {
  font-family: $font_family_2;
  color: $blue;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: $blue;
  letter-spacing: normal;
}

.sheet-rolltemplate-simple .sheet-handwritten.sheet-failure,
.sheet-rolltemplate-complex .sheet-handwritten.sheet-failure {
  color: $dark_red;
  -webkit-text-stroke-color: $dark_red;
}

.sheet-rolltemplate-complex .sheet-comma {
  margin-left: -5px;
}

.sheet-rolltemplate-complex .sheet-column-3 {
  /* width: calc(30% - 5px); */
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}

.sheet-rolltemplate-complex .sheet-vs {
  color: $grey;
  font-size: 0.55em;
  font-family: $font_family_1;
  letter-spacing: -1px;
  margin-left: -15px;
  margin-right: -15px;
}

.sheet-rolltemplate-complex .sheet-conflict-subtype {
  text-align: center;
}

.sheet-rolltemplate-complex .sheet-operator {
  margin-right: -15px;
}