<div class="ammo mar-t-md">
  <div class="edit wrap-box-label light-label mar-b-sm">{{'AMMO' | translate}}</div>
  <fieldset class="repeating_ammo">
    <div class="shaped-row compendium-drop-target no-wrap">
      <div>
        <input type="number" name="attr_qty" min="0" step="1">
        <div class="small-label edit center">{{'QTY' | translate}}</div>
      </div>
      <div class="edit pad-l-sm">
        <input type="number" name="attr_weight" class="no-spin" value=".05" step=".005" accept="Weight">
        <div class="small-label center">{{'WEIGHT' | translate}}</div>
      </div>
    </div>
    <div class="small-label center">
      <button type="roll" name="roll_ammo" class="presentation" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{subheader=Ammo}} {{text_top=@{qty}}}" tabindex="-1">
        <span name="attr_name" class="pseudo-input"></span>
      </button>
      <input type="text" name="attr_name" class="edit center small-label no-border" placeholder="arrows" accept="Name">
    </div>
  </fieldset>
</div>