<div class="wrap-box">
  <input type="hidden" name="attr_armor_stealth" value="Disadvantage on Stealth">

  <input type="hidden" name="attr_armor_strength_no" value="no">
  <input type="hidden" name="attr_armor_strength_13" value="Str 13">
  <input type="hidden" name="attr_armor_strength_15" value="Str 15">

  <div class="shaped-row sub-header">
    <div class="col-04 small-label"></div>
    <div class="col-31 small-label pad-r-sm">{{'NAME' | translate}}</div>
    <div class="col-05 small-label center">{{'AC' | translate}}</div>
    <div class="col-02"></div>
    <div class="col-10 small-label center">{{'TYPE' | translate}}</div>
    <div class="col-02"></div>
    <div class="col-08 small-label center">{{'BONUS' | translate}}</div>
    <div class="col-02"></div>
    <div class="col-06 small-label center">{{'TOTAL' | translate}}</div>
    <div class="col-11 small-label pad-l-md">{{'ABILITIES.strength.NAME' | translate}}</div>
    <div class="col-10 small-label center pad-l-md">{{'SKILLS.stealth.NAME' | translate}}</div>
    <div class="col-09 small-label center pad-l-md">{{'WEIGHT' | translate}}</div>
  </div>
  <fieldset class="repeating_armor">
    <div class="shaped-row vert-center">
      <div class="col-04 center">
        <input type="checkbox" name="attr_worn" checked>
      </div>
      <div class="col-31 pad-r-sm">
        <input type="text" name="attr_name">
      </div>
      <div class="col-05 center">
        <input type="number" name="attr_ac_base" class="no-spin" value="0" step="1">
      </div>
      <div class="col-02 center">+</div>
      <div class="col-10 center">
        <select name="attr_type">
          <option value="light">Light</option>
          <option value="medium">Medium</option>
          <option value="heavy">Heavy</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="col-02 center">+</div>
      <div class="col-08 center">
        <input type="number" name="attr_ac_bonus" class="no-spin" value="0" step="1">
      </div>
      <div class="col-02 center">=</div>
      <div class="col-06 center">
        <input type="number" name="attr_ac_total" class="no-spin" readonly>
      </div>
      <div class="col-11 pad-l-md">
        <select name="attr_strength">
          <option value="@{armor_strength_no}" selected>&#8212;</option>
          <option value="@{armor_strength_13}">Str 13</option>
          <option value="@{armor_strength_15}">Str 15</option>
        </select>
      </div>
      <div class="col-10 center pad-l-md">
        <input type="checkbox" name="attr_stealth" value="@{armor_stealth}">
      </div>
      <div class="col-09 center pad-l-md">
        <input type="number" name="attr_weight" class="no-spin" step="1">
      </div>
    </div>
  </fieldset>

  <div class="shaped-row center pad-t-md pad-b-md">
    <div class="col-10 center pad-r-md">
      <input type="number" name="attr_ac_armored_calc" class="no-spin" readonly>

      <div class="small-label">{{'AC_ARMORED' | translate}}</div>
    </div>
    <div class="col-10 center">
      <select name="attr_ac_unarmored_ability_bonus">
        <option value="">&#8212;</option>
      </select>

      <div class="small-label">{{'AC_UNARMORED_ABILITY_BONUS' | translate}}</div>
    </div>
    <div class="col-10 center">
      <input type="number" class="center" name="attr_ac_unarmored_bonus" value="0">

      <div class="small-label">{{'AC_UNARMORED_BONUS' | translate}}</div>
    </div>
    <div class="col-10 center pad-r-md">
      <input type="number" name="attr_ac_unarmored_calc" class="no-spin" readonly>

      <div class="small-label">{{'AC_UNARMORED' | translate}}</div>
    </div>
    <div class="col-10 center">
      <input type="number" class="center" name="attr_global_ac_bonus" value="0">

      <div class="small-label">{{'AC_BONUS' | translate}}</div>
    </div>
    <div class="col-10 center bold">
      <input type="number" name="attr_ac" class="no-spin" readonly>

      <div class="small-label">{{'AC' | translate}}</div>
    </div>
  </div>
  <div class="wrap-box-title center">{{'ARMOR' | translate}}</div>
</div>