<div class="shaped-row vert-center mar-t-md">
  <div class="col-04"></div>
  <div class="col-25 wrap-box-label light-label pad-r-sm">{{'ATTACK' | translate}}</div>
  <div class="col-36"></div>
  <div class="col-08 wrap-box-label light-label center">{{'WEIGHT' | translate}}</div>
  <div class="col-01"></div>
  <div class="col-08 wrap-box-label light-label center">{{'AMMO' | translate}}</div>
  <div class="col-01"></div>
  <div class="col-08 wrap-box-label light-label center">{{'AMMO_WEIGHT' | translate}}</div>
  <div class="col-01"></div>
  <div class="col-08 wrap-box-label light-label center">{{'TOTAL' | translate}}</div>
</div>
<fieldset class="repeating_attack">
  <div class="shaped-row compendium-drop-target vert-center">
    <input type="hidden" name="attr_type" accept="Item Type">
    <input type="hidden" name="attr_modifiers" accept="Modifiers">
    <input type="hidden" name="attr_properties" accept="Properties">
    <input type="hidden" name="attr_damage_type" accept="Damage Type">
    <input type="hidden" name="attr_damage" accept="Damage">
    <input type="hidden" name="attr_second_damage" accept="Secondary Damage">
    <input type="hidden" name="attr_range" accept="Range">

    <div class="col-04 center">
      <input type="checkbox" name="attr_carried" checked>
    </div>
    <div class="col-25">
      <input type="text" name="attr_name" placeholder="name" accept="Name">
    </div>
    <div class="col-36"></div>
    <div class="col-08 center">
      <input type="number" name="attr_weight" value="0" step=".25" accept="Weight">
    </div>
    <div class="col-01 center">+</div>
    <div class="col-08 center">
      <input type="number" name="attr_ammo">
    </div>
    <div class="col-01 center">&times;</div>
    <div class="col-08 center">
      <input type="number" name="attr_ammo_weight" step=".005">
    </div>
    <div class="col-01 center">=</div>
    <div class="col-08 center">
      <span name="attr_weight_total" class="pseudo-input center border-bottom"></span>
    </div>
  </div>
</fieldset>