<div class="coin shaped-row no-wrap vert-center mar-t-md">
  <div class="wrap-box col-38">
    <button type="roll" name="roll_coinage_cp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Copper Pieces}} {{text_big=[[@{cp}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm">{{'COINS_CP' | translate}}</div>
    </button>
  </div>
  <div class="wrap-box coin-value-wrap">
    <input type="number" name="attr_cp" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-lg">
  <div class="wrap-box col-38">
    <button type="roll" name="roll_coinage_sp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Silver Pieces}} {{text_big=[[@{sp}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm">{{'COINS_SP' | translate}}</div>
    </button>
  </div>
  <div class="wrap-box coin-value-wrap">
    <input type="number" name="attr_sp" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-lg">
  <div class="wrap-box col-38">
    <button type="roll" name="roll_coinage_ep" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Electrum Pieces}} {{text_big=[[@{ep}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm">{{'COINS_EP' | translate}}</div>
    </button>
  </div>
  <div class="wrap-box coin-value-wrap">
    <input type="number" name="attr_ep" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-lg">
  <div class="wrap-box col-38">
    <button type="roll" name="roll_coinage_gp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Gold Pieces}} {{text_big=[[@{gp}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm">{{'COINS_GP' | translate}}</div>
    </button>
  </div>
  <div class="wrap-box coin-value-wrap">
    <input type="number" name="attr_gp" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-lg">
  <div class="wrap-box col-38">
    <button type="roll" name="roll_coinage_pp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Platinum Pieces}} {{text_big=[[@{pp}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm">{{'COINS_PP' | translate}}</div>
    </button>
  </div>
  <div class="wrap-box coin-value-wrap">
    <input type="number" name="attr_pp" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-lg">
  <div class="wrap-box col-38">
    <button type="roll" name="roll_coinage_total_gp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Total Gold Value}} {{text_big=[[@{total_gp}]]}}" tabindex="-1">
      <div class="light-label bold pad-r-sm">{{'COINS_GP' | translate}}</div>
    </button>
  </div>
  <div class="wrap-box coin-value-wrap">
    <input type="number" name="attr_total_gp" class="bold no-border" value="0" readonly>
  </div>
</div>