<div class="shaped-row">
  <div class="col-50 pad-r-sm">
    <div class="wrap-box">
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'ATTACKS' | translate}}
        </div>
        <div class="col-50">
          <input type="number" name="attr_weight_attacks" readonly>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'ARMOR' | translate}}
        </div>
        <div class="col-50">
          <input type="number" name="attr_weight_armor" readonly>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'EQUIPMENT' | translate}}
        </div>
        <div class="col-50">
          <input type="number" name="attr_weight_equipment" readonly>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'COINAGE' | translate}}
        </div>
        <div class="col-50">
          <input type="number" name="attr_weight_coinage" readonly>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'MISC' | translate}}
        </div>
        <div class="col-50">
          <input type="number" name="attr_weight_misc" class="no-spin" value="0" step="0.01">
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'TOTAL' | translate}}
        </div>
        <div class="col-50">
          <input type="number" name="attr_weight_total" readonly>
        </div>
      </div>
      <div class="wrap-box-title center">{{'WEIGHT' | translate}}</div>
    </div>
  </div>
  <div class="col-50 pad-l-sm">
    <div class="wrap-box">
      <div class="shaped-row">
        <div class="col-80 small-label">
          {{'CARRYING_CAPACITY' | translate}}
        </div>
        <div class="col-20">
          <input type="number" name="attr_carrying_capacity" readonly>
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-80 small-label">
          {{'CARRYING_PUSH_DRAG_LIFT' | translate}}
        </div>
        <div class="col-20">
          <input type="number" name="attr_max_push_drag_lift" readonly>
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-80 small-label">
          {{'ENCUMBERED' | translate}}
        </div>
        <div class="col-20">
          <input type="number" name="attr_encumbered" readonly>
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-80 small-label">
          {{'ENCUMBERED_HEAVILY' | translate}}
        </div>
        <div class="col-20">
          <input type="number" name="attr_heavily_encumbered" readonly>
        </div>
      </div>
      <div class="wrap-box-title center">{{'WEIGHT' | translate}}</div>
    </div>
  </div>
</div>