<div class="shaped-row">
  <div class="col-50 pad-r-sm">
    <div class="wrap-box">
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'ATTACKS' | translate}}
        </div>
        <div class="col-50">
          <span name="attr_weight_attacks" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'AMMO' | translate}}
        </div>
        <div class="col-50">
          <span name="attr_weight_ammo" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'ARMOR' | translate}}
        </div>
        <div class="col-50">
          <span name="attr_weight_armor" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'EQUIPMENT' | translate}}
        </div>
        <div class="col-50">
          <span name="attr_weight_equipment" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'COINAGE' | translate}}
        </div>
        <div class="col-50">
          <span name="attr_weight_coinage" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <div class="col-50 small-label">
          {{'TOTAL' | translate}}
        </div>
        <div class="col-50">
          <span name="attr_weight_total" class="pseudo-input center border-bottom bold"></span>
        </div>
      </div>
      <div class="wrap-box-title center">{{'WEIGHT' | translate}}</div>
    </div>
  </div>
  <div class="col-50 pad-l-sm">
    <div class="wrap-box">
      <div class="shaped-row">
        <div class="col-75 small-label">
          {{'MULTIPLIER' | translate}}
        </div>
        <div class="col-25">
          <input type="number" name="attr_weight_multiplier" class="no-spin" value="1" step=".05">
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-75 small-label">
          {{'CARRYING_CAPACITY' | translate}}
        </div>
        <div class="col-25">
          <span name="attr_carrying_capacity" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-75 small-label">
          {{'CARRYING_PUSH_DRAG_LIFT' | translate}}
        </div>
        <div class="col-25">
          <span name="attr_max_push_drag_lift" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-75 small-label">
          {{'ENCUMBERED' | translate}}
        </div>
        <div class="col-25">
          <span name="attr_encumbered" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-75 small-label">
          {{'ENCUMBERED_HEAVILY' | translate}}
        </div>
        <div class="col-25">
          <span name="attr_heavily_encumbered" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
      <div class="wrap-box-title center">{{'CARRYING_CAPACITY' | translate}}</div>
    </div>
  </div>
</div>