/* TEMPLATES */
.sheet-rolltemplate-pmt hr{
    padding: 0px;
    margin: 2px;
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}
.sheet-rolltemplate-pmt table {
    width: 189px;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
    background-image:url(https://lh4.googleusercontent.com/-le0NmFIQGQ0/VIIlSitbl6I/AAAAAAAATP0/5rPXPhYzId0/w611-h788-no/vieuxpapier5.jpg);
    background-repeat:no-repeat;
    background-origin: border-box;
    background-size: cover;
}
.sheet-rolltemplate-pmt th {
    color: rgb(126, 45, 64);
    padding-left: 5px;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Courier New';
    font-variant: small-caps;
    font-weight: bold;
}
.sheet-rolltemplate-pmt .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
    text-align: right;
}
.sheet-rolltemplate-pmt .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
}
.sheet-rolltemplate-pmt .sheet-tcat {
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: bold;
}
.sheet-rolltemplate-pmt td {
    padding-left: 5px;
    font-size: 14px;
 }
.sheet-rolltemplate-pmt .inlinerollresult  {
    background-color: rgba(255,255,255,0.9);
    border-width: 0px 0px 0px 1px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
.sheet-rolltemplate-pmt .inlinerollresult.fullcrit {
    color: #3FB315;
    border-width: 0px 0px 0px 1px;
    border-color: #3FB315;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
.sheet-rolltemplate-pmt .inlinerollresult.fullfail {
    color: #B31515;
    border-width: 0px 0px 0px 1px;
    border-color: #B31515;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
.sheet-rolltemplate-pmt .inlinerollresult.importantroll {
    color: #4A57ED;
    border-width: 0px 0px 0px 1px;
    border-color: #4A57ED;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
/* FDP */
div,
textarea,
span,
input,
select{
    box-sizing: border-box;
    color: black;
    font-family: 'Courier New';
    font-size: 14px;
    font-weight: normal;
    border-radius: 0px;
    text-align:left;
}
input{
    background-color:rgba(255,255,255,0.9);
    padding-left: 0.3em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    margin: 0px;
    border-bottom-left-radius: 4px;
}
.charsheet button[type="roll"] {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    height: 26px;
    text-align: left;
    color:black;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 12px;
    transition: border 2s;
}
.charsheet button[type="roll"]:hover{
    border: 2px black inset;
}
select{
    background-color:rgba(255,255,255,0.5);
    padding: 0px;
    margin: 0px;
    height: 1.6em;
    line-height: 1.6em;
    max-height 1.6em;
    font-weight:normal;
    border-width: 1px 2px 1px 2px;
    border-color: black;
    border-style: solid;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
hr{
    padding: 0px;
    margin: 4px;
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}
span{
    text-align: left;
    padding-left: 0.3em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
}
textarea {
    resize: vertical;
    display: inline-block;
    text-align: left;
    background-color:rgba(255,255,255,0.9);
    padding-left: 0.3em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    margin: 0px;
    border-bottom-left-radius: 4px;
}
.sheet-mainBg{
    /*
    background: linear-gradient(#F8ECC2, #FFF8CB, #F8ECC2);
    background: linear-gradient(#B4C6B5, #D3E8D4, #B4C6B5);
    */
    background-image:url(https://lh4.googleusercontent.com/-le0NmFIQGQ0/VIIlSitbl6I/AAAAAAAATP0/5rPXPhYzId0/w611-h788-no/vieuxpapier5.jpg);
    background-repeat:no-repeat;
    background-origin: border-box;
    background-size: cover;
    padding-top : 6px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6px;
    border: none;
}
.sheet-portrait{
    width: 100px;
    max-width: 100px;
}
.sheet-libel1{
    padding-bottom: 6px;
    padding-top: 0px;
    font-weight: bold;
}
input.sheet-inMainNum{
    text-align: right;
    border-width: 0px 0px 1px 2px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
    /* box-shadow: 4px 4px 8px rgba(0,0,0,.3); */
}
input.sheet-inPetitNum{
    max-width: 44px;
    text-align: right;
    border-width: 0px 0px 0px 1px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
input.sheet-inMainTxt{
    border-width: 0px 0px 1px 2px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
input.sheet-inCA{
    height: 35px;
    max-width: 35px;
    text-align: center;
    border : solid black 2px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
}
input.sheet-inPV{
    height: 35px;
    max-width: 40px;
    text-align: center;
    border : solid black 2px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3);
    border-top-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 100px;
}
input.sheet-inPVMax{
    height: 35px;
    max-width: 40px;
    text-align: center;
    border : solid black 2px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3);
    border-top-left-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 0px;
}
div.sheet-titre1{
    display: table-cell;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    padding: 4px;
    text-decoration: underline;
}
div.sheet-carac-num{
    display: table-cell;
    padding: 5px;
    background-color: black;
    text-align: center;
}
input.sheet-carac-num{
    width: 26px;
    height: 26px;
    background-color: rgba(255,255,255,0.95);
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius:15px;
    font-weight: bold;
}
div.sheet-carac-lib{
    display: table-cell;
    padding-left: 4px;
    padding-right: 6px;
    text-align: left;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    font-weight: bold;
}
div.sheet-carac-roll{
    display: table-cell;
}
div.sheet-carac-mod{
    display: table-cell;
    text-align: left;
    width: 25px;
    padding-right: 6px;
}
input.sheet-carac-mod{
    font-size:12px;
    text-align: right;
    border-width: 0px 0px 1px 2px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
