/* FDP */
input[type='checkbox']{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
input[type=radio].sheet-optionCaDesc,
input[type=radio].sheet-optionCaAsc{
    margin-left: 10px;
    margin-right: 2px;
}
input[type=radio].sheet-optionCaDesc + span,
input[type=radio].sheet-optionCaAsc + span{
    font-size:11px;
    color: #888888;
    text-align:left;
}
span.sheet-smallspan{
    font-size:11px;
    color: #888888;
    text-align:left;
}
input[type=radio].sheet-optionCaDesc:checked ~ div.sheet-mainBg div.sheet-optionCaDesc{
    display: inline-block;
}
input[type=radio].sheet-optionCaAsc:checked ~ div.sheet-mainBg div.sheet-optionCaDesc{
    display: none;
}
input[type=radio].sheet-optionCaAsc:checked ~ div.sheet-mainBg div.sheet-optionCaAsc{
    display: inline-block;
}
input[type=radio].sheet-optionCaDesc:checked ~ div.sheet-mainBg div.sheet-optionCaAsc{
    display: none;
}
/* Class Tabs */

.charsheet input.sheet-classeClerc,
.charsheet input.sheet-classeNain,
.charsheet input.sheet-classeElfe,
.charsheet input.sheet-classeGuerrier,
.charsheet input.sheet-classeHalfelin,
.charsheet input.sheet-classeMagicien,
.charsheet input.sheet-classeVoleur {
    display: none;
}

.charsheet .sheet-classeClerc:checked~ div.sheet-mainBg div.sheet-Nain,
.charsheet .sheet-classeClerc:checked~ div.sheet-mainBg div.sheet-Elfe,
.charsheet .sheet-classeClerc:checked~ div.sheet-mainBg div.sheet-Halfelin,
.charsheet .sheet-classeClerc:checked~ div.sheet-mainBg div.sheet-Voleur,
.charsheet .sheet-classeClerc:checked~ div.sheet-mainBg div.sheet-Guerrier,
.charsheet .sheet-classeClerc:checked~ div.sheet-mainBg div.sheet-Magicien,
.charsheet .sheet-classeNain:checked~ div.sheet-mainBg div.sheet-Clerc,
.charsheet .sheet-classeNain:checked~ div.sheet-mainBg div.sheet-Elfe,
.charsheet .sheet-classeNain:checked~ div.sheet-mainBg div.sheet-Halfelin,
.charsheet .sheet-classeNain:checked~ div.sheet-mainBg div.sheet-Voleur,
.charsheet .sheet-classeNain:checked~ div.sheet-mainBg div.sheet-Guerrier,
.charsheet .sheet-classeNain:checked~ div.sheet-mainBg div.sheet-Magicien,
.charsheet .sheet-classeNain:checked~ div.sheet-mainBg div.sheet-sorts,
.charsheet .sheet-classeElfe:checked~ div.sheet-mainBg div.sheet-Clerc,
.charsheet .sheet-classeElfe:checked~ div.sheet-mainBg div.sheet-Nain,
.charsheet .sheet-classeElfe:checked~ div.sheet-mainBg div.sheet-Halfelin,
.charsheet .sheet-classeElfe:checked~ div.sheet-mainBg div.sheet-Voleur,
.charsheet .sheet-classeElfe:checked~ div.sheet-mainBg div.sheet-Guerrier,
.charsheet .sheet-classeElfe:checked~ div.sheet-mainBg div.sheet-Magicien,
.charsheet .sheet-classeHalfelin:checked~ div.sheet-mainBg div.sheet-Clerc,
.charsheet .sheet-classeHalfelin:checked~ div.sheet-mainBg div.sheet-Nain,
.charsheet .sheet-classeHalfelin:checked~ div.sheet-mainBg div.sheet-Elfe,
.charsheet .sheet-classeHalfelin:checked~ div.sheet-mainBg div.sheet-Voleur,
.charsheet .sheet-classeHalfelin:checked~ div.sheet-mainBg div.sheet-Guerrier,
.charsheet .sheet-classeHalfelin:checked~ div.sheet-mainBg div.sheet-Magicien,
.charsheet .sheet-classeHalfelin:checked~ div.sheet-mainBg div.sheet-sorts,
.charsheet .sheet-classeVoleur:checked~ div.sheet-mainBg div.sheet-Clerc,
.charsheet .sheet-classeVoleur:checked~ div.sheet-mainBg div.sheet-Nain,
.charsheet .sheet-classeVoleur:checked~ div.sheet-mainBg div.sheet-Elfe,
.charsheet .sheet-classeVoleur:checked~ div.sheet-mainBg div.sheet-Halfelin,
.charsheet .sheet-classeVoleur:checked~ div.sheet-mainBg div.sheet-Guerrier,
.charsheet .sheet-classeVoleur:checked~ div.sheet-mainBg div.sheet-Magicien,
.charsheet .sheet-classeVoleur:checked~ div.sheet-mainBg div.sheet-sorts,
.charsheet .sheet-classeGuerrier:checked~ div.sheet-mainBg div.sheet-Clerc,
.charsheet .sheet-classeGuerrier:checked~ div.sheet-mainBg div.sheet-Nain,
.charsheet .sheet-classeGuerrier:checked~ div.sheet-mainBg div.sheet-Elfe,
.charsheet .sheet-classeGuerrier:checked~ div.sheet-mainBg div.sheet-Halfelin,
.charsheet .sheet-classeGuerrier:checked~ div.sheet-mainBg div.sheet-Voleur,
.charsheet .sheet-classeGuerrier:checked~ div.sheet-mainBg div.sheet-Magicien,
.charsheet .sheet-classeGuerrier:checked~ div.sheet-mainBg div.sheet-sorts,
.charsheet .sheet-classeMagicien:checked~ div.sheet-mainBg div.sheet-Clerc,
.charsheet .sheet-classeMagicien:checked~ div.sheet-mainBg div.sheet-Nain,
.charsheet .sheet-classeMagicien:checked~ div.sheet-mainBg div.sheet-Elfe,
.charsheet .sheet-classeMagicien:checked~ div.sheet-mainBg div.sheet-Halfelin,
.charsheet .sheet-classeMagicien:checked~ div.sheet-mainBg div.sheet-Voleur,
.charsheet .sheet-classeMagicien:checked~ div.sheet-mainBg div.sheet-Guerrier {
    display: none;
}
/** Autres */
div,
textarea,
span,
input,
select{
    box-sizing: border-box;
    color: black;
    font-family: 'Courier New';
    font-size: 14px;
    font-weight: normal;
    border-radius: 0px;
    text-align:left;
}
div,
span,
select{
    font-family: 'Courier New';
}
input{
    background-color:rgba(255,255,255,0.9);
    padding-left: 0.3em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    margin: 0px;
    border-bottom-left-radius: 4px;
    font-family:'Patrick Hand', cursive;
    font-size: 14px;
}
input[type=number]{
    font-size: 14px;
    padding: 0;
    text-align: right;
}
.charsheet button[type="roll"] {
    box-sizing: border-box;
    padding: none;
    margin: none;
    height: 22px;
    width: 22px;
    line-height: 16px;
    text-align: left;
    color:black;
    border: 1px solid black;
    border-radius: 12px;
    font-size:10px;
}
.charsheet button[type="roll"]:hover{
    border: 1px solid red;
    font-weight: bolder;
    color: red;
}
button[type=roll].sheet-btDesc{
    color: black;
    height:20px;
    width:20px;
    line-height: 16px;
    padding:0;
    margin: 0;
    border:none;
    background:none;
    opacity: 0.4;
    font-weight: normal;
}
button[type=roll].sheet-btDesc:before{
    font-family: "Pictos";
    font-size: 1.0em;
    content: 'i';
}
button[type=roll].sheet-btDesc:hover{
    font-weight: normal;
    opacity: 1.0;
}
select{
    background-color:rgba(255,255,255,0.5);
    padding: 0px;
    margin: 0px;
    height: 1.6em;
    line-height: 1.6em;
    max-height 1.6em;
    font-weight:normal;
    border-width: 1px 2px 1px 2px;
    border-color: black;
    border-style: solid;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
hr{
    padding: 0px;
    margin: 4px;
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}
span{
    text-align: left;
    padding-left: 0.3em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
}
textarea {
    resize: vertical;
    display: inline-block;
    text-align: left;
    background-color:rgba(255,255,255,0.9);
    padding-left: 0.3em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    margin: 0px;
    border-bottom-left-radius: 4px;
    font-family:'Patrick Hand', cursive;
    font-size: 14px;
    box-shadow: none;
    text-shadow: none;
}
/************ DESCRIPTION TAILLE VARIABLE **************************/
input[type="checkbox"].sheet-dispcheck{
    width: 18px;
    height: 18px;
    max-width: 18px;
    opacity: 0;
    z-index: 2;
}
span.sheet-dispcheck{
    display: inline-block;
    text-align: center;
    margin-left: -18px;
    width: 18px;
    max-width: 18px;
    height: 18px;
    z-index: 1;
    font-family: pictos;
    color: #888888;
    font-size: 15px;
}
input[type="checkbox"].sheet-dispcheck:hover + span.sheet-dispcheck{
    color: black;
}
input[type="checkbox"].sheet-dispcheck:checked + span.sheet-dispcheck{
    font-weight: bold;
    color: black;
}
textarea.sheet-textdesc{
    height: 22px;
    resize: none;
    font-size: 14px;
}
input[type="checkbox"].sheet-dispcheck:checked + span.sheet-dispcheck + textarea.sheet-textdesc{
    height: 140px;
}
/************ FIN DESCRIPTION TAILLE VARIABLE **************************/
.sheet-mainBg{
    background-image:url(https://lh4.googleusercontent.com/-le0NmFIQGQ0/VIIlSitbl6I/AAAAAAAATP0/5rPXPhYzId0/w611-h788-no/vieuxpapier5.jpg);
    background-repeat:no-repeat;
    background-origin: border-box;
    background-size: cover;
    padding-top : 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    border: none;
}
.sheet-portrait{
    width: 100px;
    max-width: 100px;
}
.sheet-libel1{
    padding-bottom: 6px;
    padding-top: 0px;
    font-weight: bold;
}
input.sheet-inMainNum{
    text-align: right;
    border-width: 0px 0px 1px 2px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
input.sheet-inMainNum:read-only,
input.sheet-inMainNum:disabled{
    background-color:rgba(255,255,255,0.5);
}
input.sheet-inPetitNum{
    max-width: 44px;
    text-align: right;
    border-width: 0px 0px 0px 1px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
input.sheet-inPetitNum:read-only,
input.sheet-inPetitNum:disabled{
    background-color:rgba(255,255,255,0.5);
}
input.sheet-inMainTxt{
    border-width: 0px 0px 1px 2px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
input.sheet-inPetitTxt{
    border-width: 0px 0px 1px 2px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
    font-size: 12px;
}
input.sheet-inCA{
    padding: 0;
    height: 35px;
    max-width: 40px;
    text-align: center;
    border : solid black 2px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color:rgba(255,255,255,0.5);
}
input[type=number].sheet-inPV{
    height: 35px;
    max-width: 45px;
    border : solid black 2px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 100px;
}
input[type=number].sheet-inPVMax{
    height: 35px;
    max-width: 45px;
    text-align: center;
    border : solid black 2px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 0px;
}
div.sheet-titre1{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    padding: 4px;
    text-decoration: underline;
}
div.sheet-carac-num{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}
input[type=number].sheet-carac-num{
    width: 26px;
    max-width: 26px;
    height: 26px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius:15px;
    font-weight: bold;
    font-size: 18px;
}
input[type=number].sheet-carac-num::-webkit-inner-spin-button,
input[type=number].sheet-carac-num::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number].sheet-carac-num{
    -moz-appearance:textfield;
}
div.sheet-carac-lib{
    display: inline-block;
    padding-left: 4px;
    padding-right: 6px;
    text-align: left;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    font-weight: bold;
    width: 85px;
}
div.sheet-js-lib{
    display: inline-block;
    padding-left: 4px;
    padding-right: 6px;
    text-align: left;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    font-weight: bold;
}
div.sheet-carac-roll{
    display: inline-block;
}
div.sheet-carac-mod{
    display: inline-block;
    text-align: left;
    width: 47px;
    padding-right: 6px;
}
input[type=number].sheet-carac-mod{
    display: inline-block;
    width: 30px;
    font-size:14px;
    text-align: right;
    border-width: 0px 0px 1px 2px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
/* TEMPLATES */
.sheet-rolltemplate-pmt hr,
.sheet-rolltemplate-pmtchar hr
{
    padding: 0px;
    margin: 2px;
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}
.sheet-rolltemplate-pmt table,
.sheet-rolltemplate-pmtchar table{
    width: 100%;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
    background-image:url(https://lh4.googleusercontent.com/-le0NmFIQGQ0/VIIlSitbl6I/AAAAAAAATP0/5rPXPhYzId0/w611-h788-no/vieuxpapier5.jpg);
    background-repeat:no-repeat;
    background-origin: border-box;
    background-size: cover;
}
.sheet-rolltemplate-pmt th,
.sheet-rolltemplate-pmtchar th{
    color: rgb(126, 45, 64);
    padding-left: 5px;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Courier New';
    font-variant: small-caps;
    font-weight: bold;
}
.sheet-rolltemplate-pmt .sheet-subheader,
.sheet-rolltemplate-pmtchar .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
    text-align: right;
}
.sheet-rolltemplate-pmt .sheet-arrow-right,
.sheet-rolltemplate-pmtchar .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
}
.sheet-rolltemplate-pmt .sheet-tcat,
.sheet-rolltemplate-pmtchar .sheet-tcat {
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: bold;
}
.sheet-rolltemplate-pmt td,
.sheet-rolltemplate-pmtchar td {
    padding-left: 5px;
    font-size: 14px;
 }
.sheet-rolltemplate-pmt .inlinerollresult,
.sheet-rolltemplate-pmtchar .inlinerollresult {
    background-color: rgba(255,255,255,0.9);
    border-width: 0px 0px 0px 1px;
    border-color: black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
.sheet-rolltemplate-pmt .inlinerollresult.fullcrit,
.sheet-rolltemplate-pmtchar .inlinerollresult.fullcrit {
    color: #3FB315;
    border-width: 0px 0px 0px 1px;
    border-color: #3FB315;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
.sheet-rolltemplate-pmt .inlinerollresult.fullfail,
.sheet-rolltemplate-pmtchar .inlinerollresult.fullfail {
    color: #B31515;
    border-width: 0px 0px 0px 1px;
    border-color: #B31515;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
.sheet-rolltemplate-pmt .inlinerollresult.importantroll,
.sheet-rolltemplate-pmtchar .inlinerollresult.importantroll {
    color: #4A57ED;
    border-width: 0px 0px 0px 1px;
    border-color: #4A57ED;
    border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-right-radius: 3px;
}
.sheet-rolltemplate-pmt div.sheet-jetdesc{
    font-family: 'Verdana', serif;
    font-size: 0.9em;
    max-height: 180px;
    overflow-y: auto;
}