.charsheet {
    background-color: #f9f4ee;
}

/* -----------
Tables! Wohoo!
----------- */
.sheet-table-middle {
    padding:5px;
	margin: 5px;
    display: inline-block;
    width: 375px;
    vertical-align: top;
    text-align: left;
}

.sheet-table-inner {
	padding: 0px;
	margin: 0px;
    width: 375px;
	margin-top: 5px;
    margin-bottom: 5px;
	background-color: #f2e8db;
	text-align: right;
}

.sheet-table-inner-noback {
	padding: 0px;
	margin: 0px;
    width: 375px;
    margin-top: 5px;
    margin-bottom: 5px;
	text-align: right;
}

/* -------------
Labels! So hawt!
------------- */

.sheet-header1 {
    text-align:center;
    color: #3c2f2f;
    text-transform: uppercase;
    letter-spacing: 16px;
    font-family: "Times New Roman", Times, serif;
}

.sheet-header2{
    text-align:center;
    color: #854442;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Times New Roman", Times, serif;
}

.sheet-medium-label {
    border-bottom: 3px double #635042;
	color: #854442;
	text-transform: uppercase;
    font-weight: bold;
	letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
}
.sheet-small-label {
	text-transform: Uppercase;
	text-align:right;
	color: #000;
	font-size: 80%;
}
.sheet-tiny-label-bottom{
	text-transform: capitalize;
	font-weight: bold;
	font-size: 66%;
	text-align:right;
	border-bottom: 1px solid #b8b8b8;
	padding-bottom: 5px;
}
.sheet-tiny-label {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 66%;
    text-align: right;
}

/* -------------
Inputs! Aw-rite!
------------- */

.sheet-erfarenheter-textarea {
    min-width: 300px;
	max-height: 40px;
	min-height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 1px dotted #bbb;
	resize: none;
}
.sheet-text-input-noback {
    border: 0px;
    max-height: 30px;
    min-height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-bottom: 1px dotted black;
	background: #fff;
	text-align: left;
	resize: none;
}

.sheet-number-input-tight-noback {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 0px;
    border-bottom: 1px dotted black;
    background: #fff;
}

.sheet-number-input-tight {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 0px;
    border-bottom: 1px dotted #ddd;
}



.sheet-erfarenheter-checkbox{
    text-align: center;
	width: 100%;
	vertical-align: middle;
    box-shadow: 0px 0px 0px;
}

.sheet-formagor-input {
	border: 0px;
	border-bottom: 1px dotted #ddd;
	text-align: left;
	resize: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

