.charsheet label {
    display: inline-block;
    width: 75px;
    text-align: right;
    padding-bottom: 0px;
}

.charsheet input {
    display: inline-block;
    width: 155px;
}

.charsheet {
    background: rgb(249, 243, 233);
}

.charsheet select {
    width: 42px;
}

/* Hide actual dot/checkbox */
input.sheet-defaultRadioBox,
input.sheet-defaultCheckBox
{
    position: absolute;
    opacity: 0;
    width:15px;
    cursor: pointer;
    z-index: 1;
    margin-top: 6px;
}

/* Styles common to fake dot and checkbox */
input.sheet-defaultRadioBox + span::before,
input.sheet-defaultCheckBox + span::before
{
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: middle;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Styles unique to fake dot (checked or left of checked) */
input.sheet-defaultRadioBox + span::before
{
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 36px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Styles unique to fake checkbox (unchecked) */
input.sheet-defaultCheckBox + span::before
{
    position:relative;
    content: "";
    opacity: .25;
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Styles unique to fake checkbox (checked) */
input.sheet-defaultCheckBox:checked + span::before
{
    content: "✖";
    color: #a00;
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

/* Remove dot from all radios _after_ selected one */
input.sheet-defaultRadioBox:checked ~ input.sheet-defaultRadioBox + span::before
{    
    content: "";
}

input.sheet-used+span::before
{
    content: "✖";
    width: 12px;
    height: 12px;
    font-size: 12px;
    
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
}

input.sheet-zero:checked + span::before
{
    opacity: 0;
}

input.sheet-zero:hover + span::before
{
    opacity: 1;
}

input.sheet-zero+ span::before
{
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
}

input.sheet-DP1Spec + span::before,
input.sheet-DP2Spec + span::before,
input.sheet-DP2Spec + span::before,
input.sheet-DP3Spec + span::before,
input.sheet-DP4Spec + span::before,
input.sheet-DP5Spec + span::before
{
    opacity: 1;
    margin-bottom: 10px;
}

div.sheet-DP1,
div.sheet-DP2,
div.sheet-DP2,
div.sheet-DP3,
div.sheet-DP4,
div.sheet-DP5
{
    display: inline;
}
div.sheet-DP1wSpec,
div.sheet-DP2wSpec,
div.sheet-DP2wSpec,
div.sheet-DP3wSpec,
div.sheet-DP4wSpec,
div.sheet-DP5wSpec
{
    display: none;
}

input.sheet-DP1Spec:checked ~ div.sheet-DP1,
input.sheet-DP2Spec:checked ~ div.sheet-DP2,
input.sheet-DP2Spec:checked ~ div.sheet-DP2,
input.sheet-DP3Spec:checked ~ div.sheet-DP3,
input.sheet-DP4Spec:checked ~ div.sheet-DP4,
input.sheet-DP5Spec:checked ~ div.sheet-DP5
{
    display: none;
}

input.sheet-DP1Spec:checked ~ div.sheet-DP1wSpec,
input.sheet-DP2Spec:checked ~ div.sheet-DP2wSpec,
input.sheet-DP2Spec:checked ~ div.sheet-DP2wSpec,
input.sheet-DP3Spec:checked ~ div.sheet-DP3wSpec,
input.sheet-DP4Spec:checked ~ div.sheet-DP4wSpec,
input.sheet-DP5Spec:checked ~ div.sheet-DP5wSpec
{
    display: inline;
}

h4.sheet-SCorI1,
h4.sheet-SCorI2,
h4.sheet-CorC1,
h4.sheet-CorC2
{
    display: block;
}

h1, 
h2,
h3,
h4,
label,
th {
    color: black;
    font-family: Fremont;
}

textarea 
{
    resize: none;
    margin-right:5px;
    margin-bottom: 5px;
}

input.sheet-SCorI1,
input.sheet-SCorI2,
input.sheet-CorC1,
input.sheet-CorC2
{
    width: 120px;
}

input.sheet-SCorI1:checked ~ h4.sheet-SCorI1,
input.sheet-SCorI2:checked ~ h4.sheet-SCorI2
{
    display: none;
}

input.sheet-CorC1:checked ~ h4.sheet-CorC1,
input.sheet-CorC2:checked ~ h4.sheet-CorC2
{
    display: none;
}

.sheet-vtmcontainer {
    display: grid;
    grid-template-columns: 85px 155px 85px 155px 85px 155px;
    background-color: #3e2723;
    padding: 10px;
    border-radius: 10px;
    justify-items: left;
    grid-gap: 5px;

  }
.sheet-vtmitem {
    text-align: left;
    vertical-align: middle
  }

.sheet-wholeRow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 7;
  }

.sheet-labelAndInput {
    height: auto
  }

div.sheet-damage-box {
    width: 40x;
    height: 40px;
    position: relative;
    display: block;
    float: left;
    margin: 0 x 0 0;
    padding: 1px 2px 0px 2px;
}

input.sheet-damage-box {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 1;
    margin: 20px 0 0 2px;
    opacity:1;
}

span.sheet-damage-box {
    width: 15px;
    height: 15px;
    margin: 0 0 0 0;
    display: none;
    color:black;
    border: 1px solid black;   
}

span.sheet-no-damage {
    background-color: rgb(126, 24, 42);
}

span.sheet-aggravated-damage {
    border: 0px solid transparent;   
}

input.sheet-no-damage { z-index: 2; }

input.sheet-no-damage:checked + input.sheet-bashing-damage,
input.sheet-bashing-damage:checked + input.sheet-lethal-damage,
input.sheet-lethal-damage:checked + input.sheet-aggravated-damage { z-index: 3; }

input.sheet-no-damage:checked ~ span.sheet-no-damage,
input.sheet-bashing-damage:checked ~ span.sheet-bashing-damage,
input.sheet-lethal-damage:checked ~ span.sheet-lethal-damage,
input.sheet-aggravated-damage:checked ~ span.sheet-aggravated-damage { display: inline-block; }

.sheet-auto-style1 {
	text-align: center;
}
.sheet-auto-style2 {
	color: #C0C0C0;
}
.sheet-auto-style3 {
	font-size: xx-small;
}
.sheet-auto-style5 {
	margin-bottom: 0px;
}
.sheet-auto-style7 {
	text-align: center;
	font-size: x-small;
}
.sheet-auto-style8 {
	margin-right: 26px;
}
.sheet-auto-style9 {
	font-family: Fremont;
	font-size: x-small;
}
.sheet-auto-style10 {
	text-align: left;
}
.sheet-auto-style11 {
	font-weight: bold;
	color: #C0C0C0;
}
.sheet-thin-divide {
    border-top:1px solid gray;
}
.sheet-thick-divide {
    border-top:2px solid gray;
}

.sheet-header{
    color:rgb(126, 24, 42);
}

[data-groupname=repeating_discipline] > button.btn.repcontrol_add::after {
	content: " Discipline";
}

[data-groupname=repeating_meritflaw] > button.btn.repcontrol_add::after {
	content: " Merit/Flaw";
}

.sheet-top-label {
    width: 80px;
}

/* Health Radio Buttons */
div.sheet-health-box {
    width: 40x;
    height: 40px;
    position: relative;
    display: block;
    float: left;
    margin: 0 x 0 0;
    padding: 1px 2px 0px 2px;
}

input.sheet-health-box {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 0;
    margin: 0px 0 0 2px;
    opacity:0;
    cursor: pointer;
}

span.sheet-health-box {
    width: 15px;
    height: 15px;
    margin: 0 0 0 0;
    display: none;
    color:black;
    border: 1px solid black;   
}

span.sheet-no-health {
    background-color: rgb(126, 24, 42);
}

span.sheet-no-willpower {
    background-color: rgb(24, 126, 42);
}

input.sheet-no-health { z-index: 2; }

input.sheet-no-health:checked + input.sheet-bashing-health,
input.sheet-bashing-health:checked + input.sheet-lethal-health,
input.sheet-lethal-health:checked + input.sheet-aggravated-health { z-index: 3; }

input.sheet-no-health:checked ~ span.sheet-no-willpower,
input.sheet-no-health:checked ~ span.sheet-no-health,
input.sheet-bashing-health:checked ~ span.sheet-bashing-health,
input.sheet-lethal-health:checked ~ span.sheet-lethal-health,
input.sheet-aggravated-health:checked ~ span.sheet-aggravated-health { display: inline-block; }

/* Humanity Radio Buttons */
div.sheet-humanity-box {
    width: 40x;
    height: 40px;
    position: relative;
    display: block;
    float: left;
    margin: 0 x 0 0;
    padding: 1px 2px 0px 2px;
}

input.sheet-humanity-box {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 0;
    margin: 0px 0 0 2px;
    opacity:0;
    cursor: pointer;
}

span.sheet-humanity-box {
    width: 15px;
    height: 15px;
    margin: 0 0 0 0;
    display: none;
    color:black;
    border: 1px solid black;   
}

span.sheet-no-humanity {
    background-color: rgb(126, 24, 42);
}

input.sheet-no-humanity { z-index: 2; }

input.sheet-no-humanity:checked + input.sheet-bashing-humanity,
input.sheet-bashing-humanity:checked + input.sheet-lethal-humanity { z-index: 3; }

input.sheet-no-humanity:checked ~ span.sheet-no-humanity,
input.sheet-bashing-humanity:checked ~ span.sheet-bashing-humanity,
input.sheet-lethal-humanity:checked ~ span.sheet-lethal-humanity { display: inline-block; }

/* Tabs */ 
.charsheet div.sheet-clear { 
    clear:both; 
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }

div.sheet-tab-content{ 
    display: none; 
}

input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6,
input.sheet-tab8:checked ~ div.sheet-tab8{
    display: block;
}

input.sheet-tab7:checked ~ input.sheet-tab4,
input.sheet-tab7:checked ~ input.sheet-tab5{
    visibility: hidden;
}

input.sheet-tab1:checked ~ input.sheet-tab7 ~ div.sheet-taba,
input.sheet-tab1:checked ~ input.sheet-tab7:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ input.sheet-tab7 ~ div.sheet-tabb,
input.sheet-tab2:checked ~ input.sheet-tab7:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ input.sheet-tab7 ~ div.sheet-tabc,
input.sheet-tab3:checked ~ input.sheet-tab7:checked ~ div.sheet-tab3,
.sheet-npc_toggle[value="1"] ~ input.sheet-tab_player,
.sheet-npc_toggle[value="0"] ~ input.sheet-tab_group{
    display: none;
}

input.sheet-tab1:checked ~ input.sheet-tab7 ~ div.sheet-tab1,
input.sheet-tab1:checked ~ input.sheet-tab7:checked ~ div.sheet-taba,
input.sheet-tab2:checked ~ input.sheet-tab7 ~ div.sheet-tab2,
input.sheet-tab2:checked ~ input.sheet-tab7:checked ~ div.sheet-tabb,
input.sheet-tab3:checked ~ input.sheet-tab7 ~ div.sheet-tab3,
input.sheet-tab3:checked ~ input.sheet-tab7:checked ~ div.sheet-tabc{
    display: block;
}

input.sheet-tab {
    width: 100px;
    height: 30px;
    position: relative;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before {
    content: attr(title);
    text-align: center;
    display: inline-block;
    
    background: rgb(249, 243, 233);
    color:rgb(126, 24, 42);
    
    width: 100px;
    line-height: 30px;
    font-size: 17px;
    font-family: Calibri;
    vertical-align: middle;

    position: absolute;
    top: 69px;
    left: 30px;
}

.sheet-npc_toggle[value="0"] ~ input.sheet-tab_group + span::before,
.sheet-npc_toggle[value="1"] ~ input.sheet-tab_player + span::before {
    display: none;
}

.sheet-npc_toggle[value="0"] ~ input.sheet-tab_player,
.sheet-npc_toggle[value="0"] ~ input.sheet-tab_player + span::before,
.sheet-npc_toggle[value="1"] ~ input.sheet-tab_group,
.sheet-npc_toggle[value="1"] ~ input.sheet-tab_group + span::before {
    display: inline-block;
}

.sheet-npc_toggle[value="0"] ~ input.sheet-tab1 + span::before{
    content: "CORE";
}

.sheet-npc_toggle[value="1"] ~ input.sheet-tab1 + span::before{
    content: "COTERIE";
}

.sheet-npc_toggle[value="0"] ~ input.sheet-tab2 + span::before{
    content: "CHRONICLE";
}

.sheet-npc_toggle[value="1"] ~ input.sheet-tab2 + span::before{
    content: "DOMAIN";
}

.sheet-npc_toggle[value="0"] ~ input.sheet-tab3 + span::before{
    content: "BLOOD & XP";
}

.sheet-npc_toggle[value="1"] ~ input.sheet-tab3 + span::before{
    content: "HAVEN";
}

.sheet-npc_toggle[value="0"] ~ input.sheet-tab7 + span::before{
    content: "COTERIE";
}

.sheet-npc_toggle[value="1"] ~ input.sheet-tab7 + span::before{
    content: "CHARACTER";
}

.sheet-npc_toggle[value="0"] ~ input.sheet-tab6 + span::before{
    left: 530px;
}

.sheet-npc_toggle[value="1"] ~ input.sheet-tab6 + span::before{
    left: 330px;
}

.sheet-npc_toggle[value="0"] ~ input.sheet-tab8 + span::before{
    left: 630px;
}

.sheet-npc_toggle[value="1"] ~ input.sheet-tab8 + span::before{
    left: 430px;
}

input.sheet-tab:checked + span::before {
    color: rgb(249, 243, 233);
    background:rgb(126, 24, 42);
}

input.sheet-tab2 + span::before {
    left: 130px;
}

input.sheet-tab3 + span::before { left: 230px; }
input.sheet-tab4 + span::before { left: 330px; }
input.sheet-tab5 + span::before { left: 430px; }
input.sheet-tab7 + span::before { left: 765px; }

input.sheet-tab7 {
    position: absolute;
    top: 71px;
    left: 765px;
}

/* Roll Template */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cinzel/v7/8vIJ7ww63mVu7gt79mT7.woff2) format('woff2');
    
  }
.sheet-rolltemplate-wod table {
    width: 220px;
    height: auto;
    padding: 6px;
    background: white;
    border: 1px solid grey;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
    font-weight: bold;
    color: black;
    border-spacing: 0;
    padding-bottom: 15px
}

.sheet-rolltemplate-wod table tbody {
    display: block;
    margin: 2px;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}
 
.sheet-rolltemplate-wod th {
	color: rgb(112, 0, 0);
    padding: 15px 2px 2px 20px;
	line-height: 1.21em;
	font-size: 1.21em;
    text-align: left;
    font-weight: bold;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}
  
.sheet-rolltemplate-wod td {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.0em;
    vertical-align: top;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}
 
.sheet-rolltemplate-wod .sheet-result {
    font-size: 1.2em;
    text-align: center;
    color: rgb(112, 0, 0);
    padding-bottom: 20px;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}
 
.sheet-rolltemplate-wod .inlinerollresult  {
    background-color: transparent;
    color: #000000;
    border: none;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}
 
.sheet-rolltemplate-wod .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}
 
.sheet-rolltemplate-wod .inlinerollresult.fullfail {
    color: #000000;
    border: none;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}
 
.sheet-rolltemplate-wod .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}

.sheet-rolltemplate-wod hr {
    margin-bottom: 5px;
    margin-top: 2px;
    font-family: 'Cinzel',"Courier New", Courier, monospace;
}

/* - diebutton-simple = inline die roll; diebutton-api = call to the api - */
button.sheet-diebutton-simple { /*  Simple Roll is the default roller */
    
}
button.sheet-diebutton-api { 	
	display: none;             /* - Note: Simple Roll is the default and will be visible - */
}

/* - for the toggle to work on tables you need the div table - */
input.sheet-roll-useDice:unchecked 	~ div table button.sheet-diebutton-api { display: none; }
input.sheet-roll-useDice:unchecked 	~ div table button.sheet-diebutton-simple { display: inline-block; }
input.sheet-roll-useDice:checked    ~ div table button.sheet-diebutton-simple { display: none; }
input.sheet-roll-useDice:checked    ~ div table button.sheet-diebutton-api { display: inline-block; }
input.sheet-roll-useDice:unchecked 	~ div div button.sheet-diebutton-api { display: none; }
input.sheet-roll-useDice:unchecked 	~ div div button.sheet-diebutton-simple { display: inline-block; }
input.sheet-roll-useDice:checked    ~ div div button.sheet-diebutton-simple { display: none; }
input.sheet-roll-useDice:checked    ~ div div button.sheet-diebutton-api { display: inline-block; }

/** Checkbox with arrow **/
/* Hide actual checkbox */
input.sheet-arrowBox[type="checkbox"]
{
    opacity: 0;
    width: 80px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 80px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input.sheet-arrowBox[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: relative;
    vertical-align: middle;
    
    content: "Powers ◄";
    width: 80px;
    height: 14px;
    font-size: 16px;
    font-weight: bold;
    font-family: Fremont;
}
input.sheet-arrowBox[type="checkbox"]:checked + span::before
{
    content: "Powers  ▼";
}

div.sheet-arrowBox
{
    display:none;
}

input.sheet-arrowBox[type="checkbox"]:checked + span + div.sheet-arrowBox{
    display:block;
}