-
  const details1 = [
    'character_name', 
    'kin', 
    'job'
  ];
-
  const details2 = [
    'gender', 
    'culture', 
    'bond'
  ];
- 

article#details.details.character-header.paper-background
  .character-details
    each name in details1
      .auto
        +input-label({
          label:`${name}`, 
          inputObj:{name, class:'info-label underlined', type:'text', spellcheck:'false'}, 
          spanObj:{role:'heading', 'aria-level':5}
        })
        if name === 'job'
          .color-selector
            +hidden({name:'class', class:'color-control', value:'general'})
            +select({name:'class', class:'color-selector color-receiver'})
              +option({value:'general', 'data-i18n':'class', selected:true})
              +option({value:'stalwart', 'data-i18n':'stalwart'})
              +option({value:'vagabond', 'data-i18n':'vagabond'})
              +option({value:'mendicant', 'data-i18n':'mendicant'})
              +option({value:'wright', 'data-i18n':'wright'})
              +option({value:'npc', 'data-i18n':'npc'})
    .auto
      +input-label({
        label:'level', 
        inputObj:{name:'level', class:'numb-label underlined', type:'number'}, 
        spanObj:{role:'heading', 'aria-level':5, class:'uppercase'}
      })
    each name in details2
      .auto
        +input-label({
          label:`${name}`, 
          inputObj:{name, class:'info-label underlined', type:'text'}, 
          spanObj:{role:'heading', 'aria-level':5}
        })
    .chapter-select
      +label({class:'input-label', style:'height:26px;'})
        +span({class:'uppercase input-label__text', 'data-i18n':'chapter', role:'heading', 'aria-level':5})
        +select({name:'chapter', class:'input-label__input numb-label underlined chapter-select'})
          option(value="0")|—
          option(value="1")|Ⅰ
          option(value="2")|Ⅱ
          option(value="3")|Ⅲ
          option(value="4")|Ⅳ
          //- option(value="5")|Ⅴ
  .desc-label.center
    +text({name:'short desc', class:'underlined',  'data-i18n-placeholder':'brief character description', style:'width:99%;'})
  .icon-logo
    span.icon-logo.header__image
