article#journal.journal.paper-background.nav-display
  section#auto-fit
    include shared/sections/_xp.pug
    include shared/sections/_dust.pug
  section#auto-fit
    .span-2
      include shared/sections/_ideals.pug
    include journal/sections/_ambitions.pug
    //- .span-2
    //-   include journal/sections/_advancement.pug
    //-   include shared/sections/_dust.pug
    include journal/sections/_camp.pug
    include journal/sections/_kin_culture.pug
    include journal/sections/_notes.pug
    include journal/sections/_possessions.pug
    .span-2
      include shared/sections/_reminders.pug