article#narrative.narrative.paper-background.nav-display
  section#auto-fit
    include narrative/sections/_resources.pug
  .span-all.center
    p(class='mono')|Known Bug: Please double click the diamonds to select your current Effort / Strain.
  section#auto-fill
    include narrative/sections/_actions.pug
    include narrative/sections/_bond.pug
    include narrative/sections/_powers.pug
    include shared/sections/_ideals.pug
    include narrative/sections/_burdens.pug
      include shared/sections/_dust.pug