article#roster.roster.paper-background.nav-display
  section#auto-fill
    include roster/sections/_npcs.pug
    include roster/sections/_add_abilities.pug
    include roster/sections/_clocks.pug
    include shared/sections/_reminders.pug