article#roster.roster.paper-background.nav-display
  section#auto-fill
    .span-2
      include roster/sections/_npcs.pug
    include roster/sections/_clocks.pug
    include shared/sections/_reminders.pug