article#tactics.tactics.paper-background.nav-display
  section#auto-fit.stats.no-gap
    include tactics/sections/_health.pug
    include tactics/sections/_stats.pug
    include tactics/sections/_attacks.pug
  section#auto-fit.span-all
    include tactics/_job_class.pug
  section#auto-fill
    include tactics/sections/_traits.pug
    include tactics/sections/_relics.pug
    include tactics/sections/_abilities.pug