
<div class="sheet-character-details">
  <div class="sheet-details-row">
    <div class="sheet-character-detail">
      <p>Ancestry</p>
      <input type="text" name="attr_ancestry" placeholder="Ancestry"/>
    </div>
    <div class="sheet-character-detail">
      <p>Sex</p>
      <input type="text" name="attr_sex" placeholder="Sex"/>
    </div>
    <div class="sheet-character-detail">
      <p>Age</p>
      <input type="text" name="attr_age" placeholder="age"/>
    </div>
    <div class="sheet-character-detail">
      <p>Speed</p>
      <input type="text" name="attr_speed" placeholder="Speed"/>
    </div>
    <div class="sheet-character-detail">
      <p>Resilience</p>
      <input type="text" name="attr_resilience" placeholder="Resilience"/>
    </div>
  </div>
  <div class="sheet-details-row">
    <div class="sheet-character-detail">
      <p>Appearance</p>
      <input type="text" name="attr_appearance" placeholder="Appearance"/>
    </div>
    <div class="sheet-character-detail">
      <p>Alignment</p>
      <input type="text" name="attr_alignment" placeholder="Alignment"/>
    </div>
  </div>
</div>