/* latin-ext */
@font-face {
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rye Regular'), local('Rye-Regular'), url(https://fonts.gstatic.com/s/rye/v7/r05XGLJT86YzH57tbOo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rye Regular'), local('Rye-Regular'), url(https://fonts.gstatic.com/s/rye/v7/r05XGLJT86YzEZ7t.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Allows use of btn class outside of Roll buttons */
.charsheet .sheet-btn {
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  cursor: pointer;
}

.charsheet button[type="action"].sheet-button-reload:before {
  content: '1';
  font-family: 'Pictos';
}

.charsheet button[type="roll"].sheet-button-attack-melee:before {
  content: 't';
  font-family: 'Pictos Custom';
}

.charsheet button[type="roll"].sheet-button-attack-ranged:before {
  content: '[';
  font-family: 'Pictos Custom';
}

.charsheet h1, .charsheet h2, .charsheet h3 {
  font-family: 'Rye';
  font-weight: 400;
}

/* Resets some Roll20 attributes */
.charsheet * {
  box-sizing: border-box;
}

.charsheet .sheet-error {
  display: none;
}

.charsheet label, .charsheet input, .charsheet select {
  width: auto;
  height: auto;
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: normal;
  font-size: inherit;
}

.charsheet label, .charsheet input, .charsheet select {
  line-height: 36px;
}

.charsheet input, .charsheet select {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.charsheet textarea {
  width: auto;
  height: 54px;
  padding: 0.2em;
  font-weight: normal;
  font-size: inherit;
  align-self: flex-start;
}

.charsheet textarea.sheet-textarea-large {
  height: 150px;
}

.charsheet .sheet-span-cols {
  grid-column: 1 / -1;
}

.charsheet select {
  height: 100%;
  max-width: 100%;
}

.charsheet input[type="number"] {
  text-align: right;
}

/* ===== ROLL20 CONTROLS - START ===== */
.repcontrol {
  min-height: 27px;
}

.repcontrol .btn {
  border: medium none;
  background: none;
  box-shadow: none;
  font-size: 0; 
}

.repcontrol .btn:focus {
  outline: 0;
}

.repcontrol .repcontrol_edit:after {
  content: '(';
  visibility: visible;
  font-family: pictos;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
  height: 12px;
  width: 12px;
  padding: 2px 4px 2px 4px;
  color: black;
}

.editmode ~ .repcontrol .repcontrol_edit:after {
  content: ')';
}

.repcontrol .repcontrol_add:before {
  content: '&';
  visibility: visible;
  font-family: pictos;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
  height: 12px;
  width: 12px;
  padding: 2px 4px 2px 4px;
  color: black;
}
/* ===== ROLL20 CONTROLS - END ===== */

/* ===== GENERAL - START ==== */
.charsheet .sheet-borderdiv {
  border: groove 5px #999;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

/* Hides the radio buttons -- be sure to style labels as appropriate */
.charsheet input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  width: 100%;
}

.charsheet input.sheet-optional-input[value="0"] + .sheet-optional-container {
  display: none;
}

/* Tab Background */
.charsheet input[type="radio"] + label {
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.charsheet .sheet-item {
  display: grid;
  grid-gap: 1rem;
  margin: 10px;
  align-items: baseline;
}

.charsheet .sheet-item button,
.charsheet .sheet-item input[type="button"] {
  align-self: stretch;
}

.charsheet .sheet-common {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.charsheet .sheet-common > h3 {
  flex-basis: 100%;
}

.charsheet .sheet-core {
  grid-column: 1 / -1;
  text-align: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.charsheet .sheet-core label {
  text-align: right;
}

.charsheet .sheet-item-traits {
  grid-template-columns: 6fr 100px 50px;
}

/* Add padding to concentrations -- do not change repeating class names or you break attributes */
.charsheet .sheet-item-traits-concentration,
.charsheet fieldset.repeating_areakno + .repcontainer + .repcontrol,
.charsheet fieldset.repeating_fightin + .repcontainer + .repcontrol,
.charsheet fieldset.repeating_language + .repcontainer + .repcontrol,
.charsheet fieldset.repeating_medicine + .repcontainer + .repcontrol,
.charsheet fieldset.repeating_professional + .repcontainer + .repcontrol,
.charsheet fieldset.repeating_science + .repcontainer + .repcontrol,
.charsheet fieldset.repeating_survivalcon + .repcontainer + .repcontrol,
.charsheet fieldset.repeating_trade + .repcontainer + .repcontrol,
.charsheet fieldset[class$="conc"] + .repcontainer + .repcontrol {
  padding-left: 10px;
}

.charsheet .sheet-item-ammo {
  grid-template-columns: 3fr 1fr 3fr;
}

.charsheet .sheet-item-armor {
  grid-template-columns: 3fr 1fr 1fr 5fr;
}

.charsheet .sheet-item-armor-location {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-gap: 0.2rem;
  align-items: center;
  justify-items: center;
  font-size: 0.8rem;
}

.charsheet .sheet-item-blessed {
  grid-template-columns: 3fr repeat(4, 1fr) 50px;
}

.charsheet .sheet-item-common {
  grid-template-columns: 1fr 50px;
  align-items: center;
}

.charsheet .sheet-item-edges {
  grid-template-columns: 3fr 1fr;
  grid-template-rows: max-content 1fr;
}

.charsheet .sheet-item-favor {
  grid-template-columns: 3fr repeat(3, 1fr) 50px;
}

.charsheet .sheet-item-melee {
  grid-template-columns: 3fr 1fr 1fr 2fr 50px;
}

.charsheet .sheet-item-melee .sheet-grid-1m1 {
  grid-template-columns: max-content max-content 1fr;
}

.charsheet .sheet-item-hexslingin {
  grid-template-columns: 3fr repeat(5, 1fr) 50px;
}

.charsheet .sheet-item-madscience {
  grid-template-columns: 3fr 1fr 1fr 50px;
}

.charsheet .sheet-item-misc * {
  width: 100%;
}

.charsheet .sheet-item-ranged {
  grid-template-columns: 3fr 1fr 1fr 2fr 1fr 50px;
}

.charsheet .sheet-item-ranged-ammo {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.charsheet .sheet-item-ranged-ammo h4:first-child {
  grid-column: 1 / -1;
  border-bottom: 1px solid rgb(125, 125, 125);
}

.charsheet .sheet-item-ritual {
  grid-template-columns: 3fr repeat(5, 1fr) 50px;
}

.charsheet .repcontainer .sheet-item-hexslingin,
.charsheet .repcontainer .sheet-item-madscience,
.charsheet .repcontainer .sheet-item-blessed,
.charsheet .repcontainer .sheet-item-ritual,
.charsheet .repcontainer .sheet-item-favor,
.charsheet .repcontainer .sheet-item-edges {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.charsheet .sheet-item-hexslingin textarea,
.charsheet .sheet-item-madscience textarea,
.charsheet .sheet-item-blessed textarea,
.charsheet .sheet-item-ritual textarea,
.charsheet .sheet-item-favor textarea,
.charsheet .sheet-item-edges textarea {
  grid-column: 1 / -1;
}

.charsheet .sheet-valign-bottom {
  align-self: flex-end;
}

.charsheet .sheet-align-center {
  text-align: center;
}
/* ===== GENERAL - END ===== */

/* ===== FAUX SELECT - START ===== */
.charsheet .sheet-faux-select {
  border: 1px solid rgb(204,204,204);
  background-color: white;
  height: 100%;
  overflow: visible;
  position: relative;
  top: 0;
  left: 0;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper:hover {
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  z-index: 101;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper {
  float: left;
  width: 99.9%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper:hover input,
.charsheet .sheet-faux-select .sheet-faux-select-wrapper input:hover {
  z-index: 100;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper input,
.charsheet .sheet-faux-select .sheet-faux-select-wrapper span {
  grid-column: 1 / -1;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper input:nth-of-type(1),
.charsheet .sheet-faux-select .sheet-faux-select-wrapper span:nth-of-type(1) {
  grid-row-start: 1;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper input:nth-of-type(2),
.charsheet .sheet-faux-select .sheet-faux-select-wrapper span:nth-of-type(2) {
  grid-row-start: 2;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper input:nth-of-type(3),
.charsheet .sheet-faux-select .sheet-faux-select-wrapper span:nth-of-type(3) {
  grid-row-start: 3;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper input:nth-of-type(4),
.charsheet .sheet-faux-select .sheet-faux-select-wrapper span:nth-of-type(4) {
  grid-row-start: 4;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper input:nth-of-type(5),
.charsheet .sheet-faux-select .sheet-faux-select-wrapper span:nth-of-type(5) {
  grid-row-start: 5;
}

.charsheet .sheet-faux-select .sheet-faux-select-wrapper input:nth-of-type(6),
.charsheet .sheet-faux-select .sheet-faux-select-wrapper span:nth-of-type(6) {
  grid-row-start: 6;
}

.charsheet .sheet-faux-select input,
.charsheet .sheet-faux-select span {
  display: none;
}

.charsheet .sheet-faux-select input:checked,
.charsheet .sheet-faux-select input:checked + span,
.charsheet .sheet-faux-select:hover input,
.charsheet .sheet-faux-select:hover span {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.charsheet .sheet-faux-select:hover input:checked + span {
  background-color: rgb(204, 204, 204);
}

.charsheet .sheet-faux-select:hover input:hover + span {
  background-color: rgb(204, 204, 204);
}
/* ===== FAUX SELECT - END ===== */

/* ===== CHECKBOX TOGGLE - START ===== */
.charsheet .sheet-toggle {
  display: inline-block;
  width: 60px;
  height: 30px;
  border: 3px solid #bfbebe;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-color: #f5f2f2;
  transition: border-color 300ms;
  overflow: hidden;
}

.charsheet .sheet-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 9999;
  width: 100%;
}

.charsheet .sheet-toggle input[type="checkbox"] + .sheet-toggle-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 300ms;
  font-size: 0;
  background-color: red;
}

.charsheet .sheet-toggle input[type="checkbox"] + .sheet-toggle-button::before {
  content: '';
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5) ;
  transition: all 300ms ease-in-out;
}
     
.charsheet .sheet-toggle input[type="checkbox"]:checked + .sheet-toggle-button {
  background-color: #32db64;
}
.charsheet .sheet-toggle input[type="checkbox"]:checked + .sheet-toggle-button::before {
  content: '';
  margin-left: 30px;
}
/* ===== CHECKBOX TOGGLE - END ===== */

/* ===== WOUND SCALE - START ===== */
.charsheet .sheet-wounds {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: repeat(6, 1fr);
}

.charsheet .sheet-wounds *:first-child {
  grid-column: 1 / -1;
}

.charsheet .sheet-wounds input[type="radio"] {
  grid-row-start: 3;
  min-width: 100%;
}

.charsheet .sheet-wounds input[value="0"] {
  grid-column-start: 1;
}

.charsheet .sheet-wounds input[value="1"] {
  grid-column-start: 2;
}

.charsheet .sheet-wounds input[value="2"] {
  grid-column-start: 3;
}

.charsheet .sheet-wounds input[value="3"] {
  grid-column-start: 4;
}

.charsheet .sheet-wounds input[value="4"] {
  grid-column-start: 5;
}

.charsheet .sheet-wounds input[value="5"] {
  grid-column-start: 6;
}

.charsheet .sheet-wounds input[type="radio"] + label {
  grid-column: 1 / -1;
  grid-row-start: 2;
  visibility: hidden;
}

.charsheet .sheet-wounds .sheet-wounds-background {
  grid-row-start: 3;
  grid-column: 1 / -1;
  border-radius: 4px;
  transition: all 300ms;
}

.charsheet .sheet-wounds input[value="0"]:hover ~ .sheet-wounds-background,
.charsheet .sheet-wounds:not(:hover) input[value="0"]:checked ~ .sheet-wounds-background {
  border: 2px solid #bfbebe;
}

.charsheet .sheet-wounds input[value="1"]:hover ~ .sheet-wounds-background,
.charsheet .sheet-wounds:not(:hover) input[value="1"]:checked ~ .sheet-wounds-background {
  background-color: grey;
  clip-path: polygon(0% 100%, 0% 80%, 20% 80%, 20% 100%);
}

.charsheet .sheet-wounds input[value="2"]:hover ~ .sheet-wounds-background,
.charsheet .sheet-wounds:not(:hover) input[value="2"]:checked ~ .sheet-wounds-background {
  background-color: green;
  clip-path: polygon(0% 100%, 0% 80%, 20% 80%, 20% 60%, 40% 60%, 40% 100%);
}

.charsheet .sheet-wounds input[value="3"]:hover ~ .sheet-wounds-background,
.charsheet .sheet-wounds:not(:hover) input[value="3"]:checked ~ .sheet-wounds-background {
  background-color: yellow;
  clip-path: polygon(0% 100%, 0% 80%, 20% 80%, 20% 60%, 40% 60%, 40% 40%, 60% 40%, 60% 100%);
}

.charsheet .sheet-wounds input[value="4"]:hover ~ .sheet-wounds-background,
.charsheet .sheet-wounds:not(:hover) input[value="4"]:checked ~ .sheet-wounds-background {
  background-color: red;
  clip-path: polygon(0% 100%, 0% 80%, 20% 80%, 20% 60%, 40% 60%, 40% 40%, 60% 40%, 60% 20%, 80% 20%, 80% 100%);
}

.charsheet .sheet-wounds input[value="5"]:hover ~ .sheet-wounds-background,
.charsheet .sheet-wounds:not(:hover) input[value="5"]:checked ~ .sheet-wounds-background {
  background-color: black;
  clip-path: polygon(0% 100%, 0% 80%, 20% 80%, 20% 60%, 40% 60%, 40% 40%, 60% 40%, 60% 20%, 80% 20%, 80% 0%, 100% 0%, 100% 100%);
}

.charsheet .sheet-wounds:not(:hover) input[type="radio"]:not(:hover):checked + label,
.charsheet .sheet-wounds input[type="radio"]:hover + label {
  visibility: visible;
}
/* ===== WOUND SCALE - END ===== */

/* ===== NUMBERLIST - START ===== */
.charsheet .sheet-numberlist .sheet-numberlist-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 0px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: all 300ms;
}

.charsheet .sheet-numberlist .sheet-numberlist-item input,
.charsheet .sheet-numberlist .sheet-numberlist-item label {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  align-self: center;
}

.charsheet .sheet-numberlist-item input[type="radio"]:checked + label {
  font-weight: bold;
  font-size: 150%;
}

.charsheet .sheet-numberlist h2,
.charsheet .sheet-numberlist h3,
.charsheet .sheet-numberlist h4 {
  grid-column: 1 / -1;
}

.charsheet .sheet-numberlist.sheet-chips,
.charsheet .sheet-numberlist.sheet-wind {
  display: grid;
  grid-template-columns: repeat(11, minmax(50px, 1fr));
}
/* ===== NUMBERLIST - END ===== */

/* ===== GRIDS - START ===== */
.charsheet .sheet-wrapper {
  background: url('https://user-images.githubusercontent.com/27373135/81526066-70866280-930b-11ea-841a-6338f6293d23.jpg');
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

/* Main grid areas */
.charsheet .sheet-banner {
  grid-row: 1 / 3;
  grid-column: 5 / 9;
}

.charsheet .sheet-name {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.charsheet .sheet-occupation {
  grid-row: 1 / 2;
  grid-column: 9 / -1;
}

.charsheet .sheet-gmrolltoggle {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
}

.charsheet .sheet-bounty {
  grid-row: 2 / 3;
  grid-column: 9 / -1;
}

.charsheet .sheet-wrapper > input.sheet-tab,
.charsheet .sheet-wrapper > input.sheet-tab + label {
  grid-row-start: 6;
  grid-column-end: span 3;
}

.charsheet .sheet-wrapper > input.sheet-tab:nth-of-type(1),
.charsheet .sheet-wrapper > input.sheet-tab:nth-of-type(1) + label {
  grid-column-start: 1;
}

.charsheet .sheet-wrapper > input.sheet-tab:nth-of-type(2),
.charsheet .sheet-wrapper > input.sheet-tab:nth-of-type(2) + label {
  grid-column-start: 4;
}

.charsheet .sheet-wrapper > input.sheet-tab:nth-of-type(3),
.charsheet .sheet-wrapper > input.sheet-tab:nth-of-type(3) + label {
  grid-column-start: 7;
}

.charsheet .sheet-wrapper > input.sheet-tab:nth-of-type(4),
.charsheet .sheet-wrapper > input.sheet-tab:nth-of-type(4) + label {
  grid-column-start: 10;
}

.charsheet .sheet-sidebar {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 1rem;
  align-items: flex-start;
}

.charsheet .sheet-sidebar h2:first-child {
  grid-column: 1 / -1;
}

.charsheet .sheet-sidebar h1,
.charsheet .sheet-sidebar h2,
.charsheet .sheet-sidebar h3 {
  text-align: center;
  grid-column: 1 / -1;
}

.charsheet .sheet-sidebar-left {
  grid-column: 1 / -1;
  grid-row-start: 4;
  grid-template-columns: 1fr;
}

.charsheet .sheet-sidebar-right {
  grid-column: 1 / -1;
  grid-row-start: 5;
  grid-template-columns: repeat(6, 1fr);
}

.charsheet .sheet-sidebar-right .sheet-wind {
  grid-column: 1 / -1;
}

/* Hides the contents of each tab by default*/
.charsheet .sheet-section {
  display: none;
  grid-column: 1 / -1;
}

.charsheet .sheet-header {
  display: grid;
  grid-template-rows: auto;
}

.charsheet .sheet-section-traits {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.charsheet .sheet-section-arcane > div {
  display: none;
  grid-area: spells;
}

.charsheet .sheet-section-arcane .sheet-arcane-select:checked + label + div {
  display: grid;
}

.charsheet .sheet-section-arcane {
  grid-template-areas:
    "header header header header header"
    "tab1   tab2   tab3   tab4   tab5"
    "spells spells spells spells spells";  
}

.charsheet .sheet-section-arcane > h3 {
  grid-area: header;
}

.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(1),
.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(1) + label {
  grid-area: tab1;
}

.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(2),
.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(2) + label {
  grid-area: tab2;
}

.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(3),
.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(3) + label {
  grid-area: tab3;
}

.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(4),
.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(4) + label {
  grid-area: tab4;
}

.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(5),
.charsheet .sheet-section-arcane > input.sheet-tab:nth-of-type(5) + label {
  grid-area: tab5;
}


.charsheet .sheet-section-misc {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* Generic 3-column grid consisting of equal columns on left and right and a short string in the middle (good for min/max, #d# setups) */
.charsheet .sheet-grid-1m1 {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-gap: 0.1rem;
  align-items: baseline;  
}
/* ===== GRIDS - END ===== */

/* ===== NAVIGATION TABS - START ===== */
/* Highlights selected tab */
.charsheet input[type="radio"].sheet-tab:checked + label {
    background: #2c424e;
    color: #cdd5d8;
}

/* Unhides control on appropriate radio button selection */
.charsheet input[type="radio"].sheet-tab:checked + label + div.sheet-section {
  display: grid;
  grid-gap: 1rem;
}

/* Styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet input.sheet-tab + label {
    background: #83AFC7;
    color: black;
    border-radius: 10px;
}
/* ===== NAVIGATION TABS - END ===== */

/* ===== SECTION TOGGLE - START ===== */
.charsheet input.sheet-section-toggle {
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  width: 100%;
}

.charsheet input.sheet-section-toggle,
.charsheet input.sheet-section-toggle + h2 {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.charsheet input.sheet-section-toggle ~ h2 label {
  cursor: pointer;
}

.charsheet input.sheet-section-toggle ~ h2 .sheet-arrow {
  color: black;
  font-size: 0.5em;
}

.charsheet input.sheet-section-toggle ~ h2 .sheet-arrow-up,
.charsheet input.sheet-section-toggle:checked ~ h2 .sheet-arrow-down {
  display: inline-block;
  margin-left: 0.5em;
} 

.charsheet input.sheet-section-toggle:checked ~ h2 .sheet-arrow-up,
.charsheet input.sheet-section-toggle ~ h2 .sheet-arrow-down,
.charsheet input.sheet-section-toggle:not(:checked) ~ div {
  display: none;
}
/* ===== SECTION TOGGLE - END ===== */

/* ===== NUMBERLIST COLORS - START ==== */
.charsheet .sheet-numberlist-blue .sheet-numberlist-item input:checked + label {
  background-color: darkblue;
  color: #fff;
}

.charsheet .sheet-numberlist-red .sheet-numberlist-item input:checked + label {
  background-color: red;
  color: #fff;
}

.charsheet .sheet-numberlist-white .sheet-numberlist-item input:checked + label {
  background-color: black;
  color: #fff;
}

.charsheet .sheet-numberlist-gold .sheet-numberlist-item input:checked + label {
  background-color: goldenrod;
  color: #fff;
}

.charsheet .sheet-numberlist-grey .sheet-numberlist-item input:checked + label {
  background-color: gray;
  color: #fff;
}
/* ===== NUMBERLIST COLORS - END ===== */

/* ===== MULTI-COLUMN WIDER SCREENS ===== */
@media only screen and (min-width: 751px) {
  .charsheet .sheet-wrapper {
    grid-gap: 2rem;
    grid-template-areas:
      "name name name name banner  banner  banner  banner occ occ occ occ" 
      "gmtoggle gmtoggle gmtoggle gmtoggle banner  banner  banner  banner bounty bounty bounty bounty"
      "core core core core core core core core core core core core"
      "tab1 tab1 tab1 tab2 tab2 tab2 tab3 tab3 tab3 tab4 tab4 tab4"
      "lcol lcol sheet sheet sheet sheet sheet sheet sheet sheet rcol rcol";
  }

  .charsheet .sheet-sidebar {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .charsheet .sheet-numberlist.sheet-chips,
  .charsheet .sheet-numberlist.sheet-wind {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }

  /* Disable section-toggle on larger screens */
  .charsheet .sheet-section-toggle ~ h2 label {
    cursor: auto;
  }
  
  .charsheet input.sheet-section-toggle ~ h2 .sheet-arrow-up,
  .charsheet input.sheet-section-toggle:checked ~ h2 .sheet-arrow-down {
    display: none;
  }

  .charsheet input.sheet-section-toggle:not(:checked) ~ div {
    display: inherit;
  }
}