input,
textarea {
  background-color: rgba(255, 255, 255, 0.sheet-5);
  border-radius: 5px;
  position: absolute;
  resize: none;
}

/* Fix for arrows in number fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.sheet-character-sheet {
  width: 867px;
  height: 1121px;
  background: url('TauraSheet.png') top left no-repeat;
}

/* Personal details */
.sheet-character-name {
  top: 45px;
  left: 152px;
  width: 240px;
}

.sheet-character-race {
  left: 179px;
  top: 70px;
  width: 213px;
}

.sheet-character-concept {
  left: 157px;
  top: 95px;
  width: 235px;
}

/* Attributes */
.sheet-fortitude-value,
.sheet-reflexes-value,
.sheet-willpower-value,
.sheet-intellect-value {
  left: 106px;
  text-align: center;
  font-size: 20;
  border-radius: 25px;
  width: 30px;
  height: 30px;
}

.sheet-fortitude-value {
  top: 160px;
}

.sheet-reflexes-value {
  top: 246px;
}

.sheet-willpower-value {
  top: 329px;
}

.sheet-intellect-value {
  top: 413px;
}

.sheet-fortitude-aspect,
.sheet-reflexes-aspect,
.sheet-willpower-aspect,
.sheet-intellect-aspect {
  left: 144px;
  height: 24px;
  width: 198px;
}

.sheet-fortitude-aspect {
  top: 162px;
}

.sheet-reflexes-aspect {
  top: 246px;
}

.sheet-willpower-aspect {
  top: 330px;
}

.sheet-intellect-aspect {
  top: 414px;
}

/* General checkbox configuration */
.sheet-health-point-1,
.sheet-health-point-2,
.sheet-health-point-3,
.sheet-health-point-4,
.sheet-health-point-5,
.sheet-fatigue-point-1,
.sheet-fatigue-point-2,
.sheet-fatigue-point-3,
.sheet-fatigue-point-4,
.sheet-fatigue-point-5,
.sheet-position-point-1,
.sheet-position-point-2,
.sheet-position-point-3,
.sheet-position-point-4,
.sheet-position-point-5,
.sheet-sanity-point-1,
.sheet-sanity-point-2,
.sheet-sanity-point-3,
.sheet-sanity-point-4,
.sheet-sanity-point-5,
.sheet-drama-point-1,
.sheet-drama-point-2,
.sheet-drama-point-3,
.sheet-drama-point-4,
.sheet-drama-point-5,
.sheet-drama-point-6,
.sheet-drama-point-7,
.sheet-drama-point-8,
.sheet-drama-point-9,
.sheet-drama-point-10 {
  -webkit-appearance: none;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 15px;
  outline: none;
  vertical-align: middle;
  width: 15px;
}

.sheet-health-point-1:checked,
.sheet-health-point-2:checked,
.sheet-health-point-3:checked,
.sheet-health-point-4:checked,
.sheet-health-point-5:checked,
.sheet-fatigue-point-1:checked,
.sheet-fatigue-point-2:checked,
.sheet-fatigue-point-3:checked,
.sheet-fatigue-point-4:checked,
.sheet-fatigue-point-5:checked,
.sheet-position-point-1:checked,
.sheet-position-point-2:checked,
.sheet-position-point-3:checked,
.sheet-position-point-4:checked,
.sheet-position-point-5:checked,
.sheet-sanity-point-1:checked,
.sheet-sanity-point-2:checked,
.sheet-sanity-point-3:checked,
.sheet-sanity-point-4:checked,
.sheet-sanity-point-5:checked,
.sheet-drama-point-1:checked,
.sheet-drama-point-2:checked,
.sheet-drama-point-3:checked,
.sheet-drama-point-4:checked,
.sheet-drama-point-5:checked,
.sheet-drama-point-6:checked,
.sheet-drama-point-7:checked,
.sheet-drama-point-8:checked,
.sheet-drama-point-9:checked,
.sheet-drama-point-10:checked {
  background-color: black;
}

/* Health points */
.sheet-health-point-1,
.sheet-health-point-2,
.sheet-health-point-3,
.sheet-health-point-4,
.sheet-health-point-5 {
  top: 190px;
}

.sheet-health-point-1 {
  left: 219px;
}

.sheet-health-point-2 {
  left: 243px;
}

.sheet-health-point-3 {
  left: 267px;
}

.sheet-health-point-4 {
  left: 291px;
}

.sheet-health-point-5 {
  left: 315px;
}

/* Fatigue points */
.sheet-fatigue-point-1,
.sheet-fatigue-point-2,
.sheet-fatigue-point-3,
.sheet-fatigue-point-4,
.sheet-fatigue-point-5 {
  top: 272px;
}

.sheet-fatigue-point-1 {
  left: 219px;
}

.sheet-fatigue-point-2 {
  left: 243px;
}

.sheet-fatigue-point-3 {
  left: 267px;
}

.sheet-fatigue-point-4 {
  left: 291px;
}

.sheet-fatigue-point-5 {
  left: 315px;
}

/* Position points */
.sheet-position-point-1,
.sheet-position-point-2,
.sheet-position-point-3,
.sheet-position-point-4,
.sheet-position-point-5 {
  top: 358px;
}

.sheet-position-point-1 {
  left: 219px;
}

.sheet-position-point-2 {
  left: 243px;
}

.sheet-position-point-3 {
  left: 267px;
}

.sheet-position-point-4 {
  left: 291px;
}

.sheet-position-point-5 {
  left: 315px;
}

/* Sanity points */
.sheet-sanity-point-1,
.sheet-sanity-point-2,
.sheet-sanity-point-3,
.sheet-sanity-point-4,
.sheet-sanity-point-5 {
  top: 442px;
}

.sheet-sanity-point-1 {
  left: 219px;
}

.sheet-sanity-point-2 {
  left: 243px;
}

.sheet-sanity-point-3 {
  left: 267px;
}

.sheet-sanity-point-4 {
  left: 291px;
}

.sheet-sanity-point-5 {
  left: 315px;
}

/* Drama points */
.sheet-drama-value {
  left: 471px;
  top: 162px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
}

.sheet-drama-point-1 {
  top: 175px;
  left: 437px;
}

.sheet-drama-point-2 {
  top: 195px;
  left: 439px;
}

.sheet-drama-point-3 {
  top: 214px;
  left: 448px;
}

.sheet-drama-point-4 {
  top: 227px;
  left: 462px;
}

.sheet-drama-point-5 {
  top: 235px;
  left: 480px;
}

.sheet-drama-point-6 {
  top: 234px;
  left: 502px;
}

.sheet-drama-point-7 {
  top: 226px;
  left: 521px;
}

.sheet-drama-point-8 {
  top: 213px;
  left: 535px;
}

.sheet-drama-point-9 {
  top: 194px;
  left: 544px;
}

.sheet-drama-point-10 {
  top: 173px;
  left: 545px;
}

/* Approaches points */
.sheet-discipline-value,
.sheet-rush-value,
.sheet-caution-value {
  border-radius: 50%;
  font-size: 19px;
  height: 33px;
  text-align: center;
  width: 33px;
}

.sheet-discipline-value {
  left: 716px;
  top: 133px;
}

.sheet-rush-value {
  left: 679px;
  top: 201px;
}

.sheet-caution-value {
  left: 756px;
  top: 201px;
}

/* Additional stats */
.sheet-initiative-value,
.sheet-melee-damage-value,
.sheet-ranged-damage-value,
.sheet-supernatural-damage-value,
.sheet-defense-value,
.sheet-unprepared-value {
  border-radius: 50%;
  font-size: 14px;
  height: 24px;
  left: 417px;
  text-align: center;
  top: 281px;
  width: 24px;
}

.sheet-melee-damage-value {
  top: 308px;
}

.sheet-ranged-damage-value {
  top: 336px;
}

.sheet-supernatural-damage-value {
  top: 363px;
}

.sheet-defense-value {
  top: 391px;
}

.sheet-unprepared-value {
  top: 418px;
}

.sheet-weapon-1-value,
.sheet-weapon-2-value,
.sheet-armor-value,
.sheet-reinforcement-value,
.sheet-shield-value,
.sheet-toughness-value,
.sheet-pa-value,
.sheet-minus-defense-value {
  top: 280px;
  left: 634px;
  width: 186px;
}

.sheet-weapon-2-value {
  top: 307px;
  left: 603px;
  width: 226px;
}

.sheet-armor-value {
  top: 335px;
  left: 655px;
  width: 173px;
}

.sheet-reinforcement-value {
  top: 362px;
  left: 649px;
  width: 180px;
}

.sheet-shield-value {
  top: 391px;
  left: 637px;
  width: 192px;
}

.sheet-toughness-value,
.sheet-pa-value,
.sheet-minus-defense-value {
  border-radius: 50%;
  font-size: 14px;
  height: 25px;
  left: 651px;
  text-align: center;
  top: 420px;
  width: 25px;
}

.sheet-pa-value {
  left: 717px;
}

.sheet-minus-defense-value {
  left: 786px;
}

.sheet-hitos {
  top: 529px;
  left: 137px;
  width: 400px;
  height: 200px;
}

.sheet-talents {
  top: 529px;
  left: 588px;
  width: 203px;
  height: 130px;
}

hr {
  border-width: 3px;
  left: 584px;
  position: absolute;
  top: 653px;
  width: 208px;
}

.sheet-label {
  left: 624px;
  padding-top: 3px;
  position: absolute;
}

.sheet-potence,
.sheet-potence-value {
  top: 670px;
}

.sheet-structure,
.sheet-structure-value {
  top: 695px;
}

.sheet-versatility,
.sheet-versatility-value {
  top: 720;
}

.sheet-potence-value,
.sheet-structure-value,
.sheet-versatility-value {
  border-radius: 50%;
  font-size: 14px;
  height: 24px;
  left: 593px;
  text-align: center;
  width: 24px;
}

.sheet-ship-talents {
  height: 41px;
  left: 588px;
  width: 204px;
  top: 747px;
}

.sheet-problem {
  top: 769px;
  left: 137px;
  width: 400px;
}

.sheet-consecuences,
.sheet-equipment,
.sheet-relationships {
  top: 877px;
  left: 137px;
  width: 196px;
  height: 155px;
}

.sheet-equipment {
  left: 336px;
}

.sheet-relationships {
  left: 603px;
  width: 173px;
}
