.sheet-rolltemplate-toe table {
  background: #fff;
  border: solid 2px #7e3fc1;
  border-collapse: separate;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
}
.sheet-rolltemplate-toe table thead th {
  background: #7e3fc1;
  color: #fff;
  padding: 0.5em 1em;
}
.sheet-rolltemplate-toe table tbody {
  text-align: center;
}
.sheet-rolltemplate-toe table tbody td {
  padding: 0.5em 0;
}
.sheet-rolltemplate-toe table tbody .sheet-notes {
  font-size: 0.8em;
  font-style: italic;
}
.charsheet {
  background: #fff;
  color: #5e3dba;
  width: 8in;
}
.charsheet input {
  border: none;
  box-shadow: none;
}
.charsheet input[type=number]::-webkit-inner-spin-button, .charsheet input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet label {
  color: #5e3dba;
}
.charsheet select {
  box-shadow: none;
  height: auto;
  line-height: 18px;
  margin-bottom: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.charsheet textarea {
  background: linear-gradient(to bottom, transparent, transparent 17px, #5e3dba);
  background-attachment: local;
  background-size: 1px 18px;
  border: none;
  box-shadow: none;
  color: #5e3dba;
  padding: 0;
  resize: none;
}
.charsheet .sheet-labelledAbove {
  display: inline-block;
}
.charsheet .sheet-labelledAbove label {
  font-size: 0.8em;
  margin-bottom: 0;
  padding-top: 0.5em;
}
.charsheet .sheet-labelledBoxH {
  background: #aaa;
  display: inline-block;
  overflow: hidden;
}
.charsheet .sheet-labelledBoxH > label {
  display: inline;
  font-weight: bold;
  padding: 0 0.25em;
  vertical-align: middle;
}
.charsheet .sheet-labelledBoxH > .sheet-inner {
  display: inline-block;
  float: right;
  vertical-align: middle;
}
.charsheet .sheet-labelledBoxH > .sheet-inner > * {
  vertical-align: middle;
}
.charsheet .sheet-labelledBoxH > .sheet-inner .sheet-fraction {
  display: inline-block;
}
.charsheet .sheet-labelledBoxH > .sheet-inner .sheet-fraction input {
  border: none;
  display: inline;
}
.charsheet .sheet-labelledBoxV {
  background: #aaa;
  display: inline-block;
  overflow: hidden;
}
.charsheet .sheet-labelledBoxV > label {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
.charsheet .sheet-labelledBoxV > .sheet-inner {
  text-align: center;
  width: 100%;
}
.charsheet .sheet-labelledBoxV > .sheet-inner input {
  text-align: center;
  width: 100%;
}
.charsheet .sheet-labelledBoxV > .sheet-inner .sheet-fraction {
  display: inline-block;
}
.charsheet .sheet-labelledBoxV > .sheet-inner .sheet-fraction input {
  border: none;
  display: inline;
}
.charsheet .sheet-labelledUnderlined {
  display: inline-block;
  margin-bottom: 1em;
  min-width: 0.45in;
  position: relative;
}
.charsheet .sheet-labelledUnderlined label {
  position: absolute;
  font-size: 0.75em;
  line-height: 0.75em;
  top: 110%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner {
  border-bottom: dotted 1px #5e3dba;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner input {
  border: none;
  border-radius: 0;
  padding-bottom: 0;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner select {
  border: none;
  border-radius: 0;
  padding-bottom: 0;
  width: 100%;
}
.charsheet .sheet-labelledUnderlined .sheet-inner .sheet-readOnlyBox {
  padding: 0;
  padding-top: initial;
  width: 100%;
}
.charsheet .sheet-mathOperator {
  display: inline-block;
  margin-bottom: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.charsheet .sheet-readOnlyBox {
  background: #ddd;
  display: inline-block;
  padding: 4px;
  width: 3.5em;
}
.charsheet .sheet-main-container {
  border: solid 5px #ea60e1;
  border-radius: 0.25in;
  padding: 1em;
  position: relative;
}
.charsheet .sheet-main-container > div {
  margin-bottom: 0.2in;
}
.charsheet .sheet-main-container .sheet-bio {
  background: #DECFE1;
  border-radius: 0.1in;
  display: inline-block;
  padding: 1em;
  width: 5in;
}
.charsheet .sheet-main-container .sheet-bio .sheet-labelledUnderlined {
  display: block;
  font-size: 2em;
  margin-bottom: 0.5em;
  width: 100%;
}
.charsheet .sheet-main-container .sheet-bio .sheet-labelledUnderlined label {
  display: inline-block;
  line-height: 1em;
  margin: 0;
  position: relative;
  text-align: right;
  width: 1.5in;
}
.charsheet .sheet-main-container .sheet-bio .sheet-labelledUnderlined .sheet-inner {
  display: inline-block;
  width: auto;
}
.charsheet .sheet-main-container .sheet-bio .sheet-labelledUnderlined .sheet-inner input, .charsheet .sheet-main-container .sheet-bio .sheet-labelledUnderlined .sheet-inner select {
  background: transparent;
  color: #5e3dba;
  font-size: 0.7em;
  padding: 0;
  width: 3in;
}
.charsheet .sheet-main-container .sheet-friendshipTokens {
  background: #f226e4;
  border-radius: 0.75in;
  display: inline-block;
  height: 1.5in;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.5in;
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 {
  color: #fff;
  font-size: 1.75em;
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span {
  height: 100%;
  position: absolute;
  text-align: center;
  transform-origin: center;
  width: 100%;
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(1) {
  transform: rotate(-63deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(2) {
  transform: rotate(-49deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(3) {
  transform: rotate(-35deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(4) {
  transform: rotate(-21deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(5) {
  transform: rotate(-7deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(6) {
  transform: rotate(7deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(7) {
  transform: rotate(21deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(8) {
  transform: rotate(35deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(9) {
  transform: rotate(49deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens h1 span:nth-of-type(10) {
  transform: rotate(63deg);
}
.charsheet .sheet-main-container .sheet-friendshipTokens input {
  background: transparent;
  color: #fff;
  font-size: 5em;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
.charsheet .sheet-main-container .sheet-quirks {
  background: #DECFE1;
  border-radius: 0.1in;
  padding: 1em;
}
.charsheet .sheet-main-container .sheet-quirks h1 {
  color: #5e3dba;
  font-size: 2em;
}
.charsheet .sheet-main-container .sheet-quirks .sheet-quirk > label {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0.25em;
  vertical-align: middle;
  width: 0.3in;
}
.charsheet .sheet-main-container .sheet-quirks .sheet-quirk input {
  background: transparent;
}
.charsheet .sheet-main-container .sheet-quirks .sheet-quirk .sheet-labelledUnderlined:nth-of-type(2) {
  width: 4.5in;
}
.charsheet .sheet-main-container .sheet-stamina {
  background: #F9B6DD;
  border-radius: 0.1in;
  display: inline-block;
  padding: 1em;
  vertical-align: middle;
}
.charsheet .sheet-main-container .sheet-stamina h1 {
  color: #5e3dba;
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
}
.charsheet .sheet-main-container .sheet-stamina .sheet-fraction {
  display: inline-block;
}
.charsheet .sheet-main-container .sheet-stamina .sheet-fraction input {
  background: transparent;
  border-bottom: dotted 1px #5e3dba;
  color: #5e3dba;
  font-size: 2em;
  padding: 0;
  text-align: center;
  width: 2em;
}
.charsheet .sheet-main-container .sheet-talents {
  background: #B3E7EF;
  border-radius: 0.1in;
  padding: 1em;
}
.charsheet .sheet-main-container .sheet-talents h1 {
  color: #5e3dba;
  font-size: 2em;
}
.charsheet .sheet-main-container .sheet-talents .sheet-talent {
  background: #B3E7EF;
  border-radius: 0.1in;
  padding: 0.25em;
  position: relative;
  transition: background 0.5s;
  width: 7in;
}
.charsheet .sheet-main-container .sheet-talents .sheet-talent:hover {
  background: #5fccdd;
}
.charsheet .sheet-main-container .sheet-talents .sheet-talent > label {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0.5em;
  vertical-align: middle;
  width: 0.3in;
}
.charsheet .sheet-main-container .sheet-talents .sheet-talent button {
  background: #5fccdd;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.charsheet .sheet-main-container .sheet-talents .sheet-talent input, .charsheet .sheet-main-container .sheet-talents .sheet-talent select {
  background: transparent;
  color: #5e3dba;
}
.charsheet .sheet-main-container .sheet-talents .sheet-talent .sheet-labelledUnderlined:nth-of-type(4) {
  width: 3.5in;
}
.charsheet .sheet-main-container .sheet-traits {
  display: inline-block;
  vertical-align: middle;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait {
  background: #aaa;
  border-radius: 0.1in;
  display: inline-block;
  height: 0.6in;
  padding: 1em;
  position: relative;
  transition: background 0.5s;
  width: 0.8in;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait button {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait label {
  font-size: 2em;
  text-align: center;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait select {
  background: transparent;
  border: none;
  color: #5e3dba;
  font-size: 1.75em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  width: 0.75in;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait.sheet-body {
  background: #B3E7EF;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait.sheet-body:hover {
  background: #89dae6;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait.sheet-mind {
  background: #DECFE1;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait.sheet-mind:hover {
  background: #c8b0cd;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait.sheet-charm {
  background: #FAD1E4;
}
.charsheet .sheet-main-container .sheet-traits .sheet-trait.sheet-charm:hover {
  background: #f5a3c9;
}
.charsheet h1 {
  color: #5e3dba;
}
.charsheet .sheet-centeredH {
  text-align: center;
}
.charsheet .sheet-centeredV > * {
  vertical-align: middle;
}
.charsheet .sheet-floatLeft {
  float: left;
}
.charsheet .sheet-floatRight {
  float: right;
}
.charsheet .sheet-inlineBlock {
  display: inline-block;
}
.charsheet .sheet-top {
  height: 2.6in;
  overflow: hidden;
  position: relative;
  width: 8in;
}
.charsheet .sheet-top .sheet-mask {
  height: 1in;
  left: 0;
  position: absolute;
  top: 1.65in;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), #fff);
}
