//- @pugdoc
    name: rdLeft
    description: an alternative to rdButton designed for the fillLeft component
    arguments:
        - {string} attrName - The r20 attribute name
        - {integer} value - The value borne by the rdLeft
mixin rdLeft(attrName, value)
    label(class!=attributes.class, data-value=`${value}`)
        input(name=`attr_${attrName}`, type='radio', value=value)
        span

//- @pugdoc
    name: fillLeft
    description: a collection of thickboxes which of each box left to the selected one is ticked. This is
        | roughly equivalent to a input type number, but with a sexier look & feel
    arguments:
        - {string} attrName - The r20 attribute name
        - {string} wrapperClass - A specific wrapper class which comes alongside the default fillLeft
        - {integer} number - the max value of the widget
        - {integer} startInedx - the first value of the counter, defaults to 1
mixin fillLeft(attrName, wrapperClass, number, startIndex=1)
    .fillLeft(class!=wrapperClass)
        +hiddenInput(attrName, 0)
        +hiddenInput(`${attrName}_max`, 0)
        - for (i = startIndex; i <= number; i++)
            +rdLeft(attrName, i)(class!=attributes.class)