mixin is-repeating-empty(fieldset)
  input(name=`attr_is_${fieldset}_empty`, value="0" type="hidden").repeating__is-empty
  label.repeating__empty(data-i18n=`${fieldset}_is_empty`)=`No ${fieldset} recorded.`
