@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Encode+Sans+SC:wght@100..900&family=UnifrakturMaguntia&family=UnifrakturCook:wght@700&family=Pirata+One&display=swap");

.charsheet {
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Black%20Powder%20and%20Brimstone/BPaB_820px.png?raw=true"); 	
	/* background-image: url("https://github.com/WilliamBarkerCoC/Public-Domain-Images/blob/main/BPaB_820px.png?raw=true"); */
	
	background-repeat: no-repeat;

    border: 2px solid Black;
	width: 800px;
	min-width: 800px;
/*	min-height: 570px; */
	min-height: 630px; 

	font-family: "Courier New, serif";
}
/*
.charsheet .textchatcontainer a[href^="!"], .textchatcontainer a[href^="~"] {
    background-color: rgb(206, 15, 105);
    padding: 5px;
    color: white;
    display: inline-block;
    border: 1px solid white;
}
*/
/* From https://stackoverflow.com/questions/75992689/change-the-label-background-color-when-a-checkbox-is-checked */
input[type="checkbox"].suppress {
  display: none;
  text-align: left;
  font-size: 10px;
}

input[type="checkbox"].suppress:checked + label.suppress {
  color: DarkRed;
  text-align: left;
  /*font-size: 1.0em; */
  font-size: 10px;
}
/* Remove the pink box */
.charsheet .textchatcontainer a {
	background-color: rgb(176,176,176);
    padding: 5px;
    color: black;
    display: inline-block;
    border: 1px solid white;
}
/* Hide actual dot/checkbox */
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
  margin-top: 6px;
}
/* Compendium support */
.sheet-block-a,
.charsheet .sheet-block-switch:checked ~ .sheet-block-b {
  display: block;
}

.charsheet .sheet-block-b,
.charsheet .sheet-block-switch:checked ~ .sheet-block-a {
  display: none;
}

/* Styles common to fake dot and checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: middle;
  display: inline-block;
  vertical-align: middle;
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);
}

input[type="checkbox"].gearCheck {
	display: inline-block; 
	vertical-align: top; 
	opacity: 1; 
	color: Black; 
	width: 10px; 
	height: 10px; 
	margin: 6px 2px 0px -3px; 
	accent-color: Black; 
	border: 0px solid Red;
}

.sheet-healthrow {
  display: grid;
  grid-template-columns: 1fr 10px 40px;
  grid-gap: 20px;
  justify-content: center;
  text-align: left;
  padding: 5px 0 5px 0;
}

.sheet-healthrow > select {
  width: fit-content;
}

													
input.sheet-health-toggle[value="0"] + div.sheet-health-hide {
	display: none;
}
													
/* Health Radio Buttons */
div.sheet-health {
	width: 36x;
	height: 36px;
	position: relative;
	display: block;
	float: left;
	margin: 3px 0 3px 0;
	padding: 1px 2px 0px 2px;
}

input.sheet-health {
	width: 36px;
	height: 36px;
	position: absolute;
	z-index: 0;
	margin: 3px 0 3px 2px;
	opacity:0;
	cursor: pointer;
}

span.sheet-health {
	width: 36px;
	height: 36px;
	margin: 4px 0 3px 0;
	display: none;
	color:black;
	border: 2px solid Black;   
}

span.sheet-no-health {
	background-color: rgb(126, 24, 42);
}

span.sheet-no-willpower {
	background-color: rgb(24, 126, 42);
}

span.sheet-no-crinos {
	background-color: rgb(8, 7, 23);
}

input.sheet-health-toggle[value="0"] + div.sheet-health-hide {
	display: none;
}

input.sheet-no-health { z-index: 2; }

input.sheet-no-health:checked + input.sheet-superficial-health,
input.sheet-superficial-health:checked + input.sheet-aggravated-health { z-index: 3; }

input.sheet-no-health:checked ~ span.sheet-no-crinos,
input.sheet-no-health:checked ~ span.sheet-no-willpower,
input.sheet-no-health:checked ~ span.sheet-no-health,
input.sheet-superficial-health:checked ~ span.sheet-superficial-health,
input.sheet-aggravated-health:checked ~ span.sheet-aggravated-health { display: inline-block; }



.charsheet .custom-checkbox-input {
  display: none;
}

.charsheet .custom-checkbox-text {
  padding: 5px;
  background-color: transparent;
  color: Black;
  cursor: pointer;
  user-select: none;
  font-size: 26px;
  width: 180px;
  height: 30px;
  border: 2px solid Black;
}

.charsheet .custom-checkbox-input:checked ~ .custom-checkbox-text {
  background-color: rgb(179,37,27);
  color: White;
}


input[type="checkbox"].sheet-toggle-show:not(:checked) ~ div.sheet-body {
    display: none;
}

/* Trying  Hide Area */
.charsheet input[type="checkbox"].showNoArchetype:checked ~ div.noArchetype {
    display: none;
}

.charsheet input[type="checkbox"].showNoArchetypenot(:checked) ~ div.noArchetype {
	display: inline-block; 
	vertical-align: top;
}


.charsheet .sheet-container1 {
	width: 820px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  overflow: visible;
  gap: 5px 4px;
  grid-template-areas:
	"logo profile profile"
}

/* Layout */
.charsheet .sheet-logo {
	grid-area: logo;
	height: 170px; 
	width: 270px;
	border: 0px solid Black;
}
.charsheet .sheet-profile {
	grid-area: profile;
	grid-column: span 2;
	height: 170px;
	border: 0px solid Black;
}

/* General Styles */
.charsheet .sheet-profileTitle{
	display: inline-block; 
	vertical-align: bottom; 
	box-sizing: border-box;
	font-family: "Russo One";
	font-weight: 500;
	font-size: 32px;	
	width: 99%; 
	height: 50px; 
	text-align: center; 
	color: White; 
	background-color: Black;
	border: 4px solid Black;	
	margin: 50px 0px 0px 0px; 
	padding: 12px 0px 6px 0px;"
}
.charsheet .sheet-profileLabel{
	display: inline-block; 
	vertical-align: bottom; 
	box-sizing: border-box;
	font-family: "Barlow Condensed";
	font-weight: 500;
	font-size: 20px;	
	width: 80px; 
	height: 44px; 
	text-align: left; 
	color: Black; 
	background-color: White;
	border-top: 6px solid transparent;	
	margin: 4px 0px 0px 0px; 
	padding: 20px 0px 0px 0px;"
}
.charsheet .sheet-profileInput{
	box-sizing: content-box;
	width:  250px;
	height: 44px ;
	font-family: "Barlow Condensed";
	font-weight: 500;
	font-size: 16px;	
	margin: 0px 0px 0px -4px;
	display: inline-block;
	text-align: left;
	padding: 0px 4px 1px 6px;
	border: 2px solid Transparent;
}
.charsheet button[type=roll].sheet-profileInput::before {
	margin: 0;
	padding: 0;
	content: "" ;
}

.charsheet label.sheet-profileInput:hover {
	background-color: rgba(255,255,0,0.3)!important;
}
.charsheet button[type=action].sheet-profileInput:hover,
.charsheet button[type=roll].sheet-profileInput:hover {
	background-color: rgba(255,255,0,0.3)!important;
}
.charsheet .sheet-level{
	display: inline-block;
	vertical-align: top;
	width:  50px;
	height: 80px !important;
	font-family: "Barlow Condensed";
	font-weight: 500;
	font-size: 28px;
	margin: 0px 0px 0px -4px;	
	text-align: center;
	padding: 0px 2px 1px 2px;
	border: 3px solid Black;
}
.charsheet .sheet-AuxName,
.charsheet .sheet-skillName{
	display: inline-block;
	vertical-align: top;
	box-sizing: content-box;
	width:  200px;
	height: 36px;
	color: White;
	background-color: Black;
	font-family: "Russo One";
	font-weight: 300;
	font-size: 30px;	
	margin: 0px 0px 0px 0px;
	text-align: right;
	padding: 3px 0px 0px 0px;
	border-top: 6px solid Black;
}
.charsheet .sheet-skillDefnLeft{
	display: inline-block;
	vertical-align: top;
	box-sizing: content-box;
	width:  100px;
	height: 52px;
	color: White;
	background-color: Black;
	font-family: "Barlow Condensed";
	font-weight: 200;
	font-size: 16px;	
	margin: 0px 0px 0px 0px;
	text-align: right;
	margin-top: -40px;
	padding: 0px 6px 0px 96px;
	border: 0px solid White;
	border-right: 10px solid Black;
}
.charsheet .sheet-skillDefnRight{
	display: inline-block;
	vertical-align: top;
	box-sizing: content-box;
	width:  112px;
	height: 52px;
	color: White;
	background-color: Black;
	font-family: "Barlow Condensed";
	font-weight: 200;
	font-size: 16px;	
	margin: 0px 0px 0px 0px;
	text-align: right;
	margin-top: -40px;
	margin-left: 48px;
	padding: 0px 6px 0px 76px;
	border: 0px solid White;
	border-right: 18px solid Black;
}
.charsheet input[type="text"]{
	display: inline-block;
	color: Black;
}
.charsheet textarea{
	display: inline-block;
	color: Black;
	margin: 2px 2px 2px 2px; 
	border: 0; 
	font-size: 18px; 
	line-height: 22px;
	resize: none;
	box-sizing: border-box;
}

.charsheet .sheet-skill{
	display: inline-block; 
	vertical-align: top;
	font-family: "Barlow Condensed";
	font-weight: 500;
	font-size: 16px;	
	width: 137px; 
	height: 26px; 
	text-align: left; 
	color: Black; 
	background-color: White; 
	margin: 0px 0px 0px 0px; 
	padding: 4px 0px 0px 0px;
}

.charsheet button{
	text-align: left;
	color: black;
}
.charsheet button:hover{
	background: black;
	color: #968c6a;
	text-shadow: none;
}

/* Buttons Styling */
.charsheet button[type=action].sheet-skillName,
.charsheet button[type=roll].sheet-skillName {
	display: inline-block;
	vertical-align: top;
	box-sizing: content-box;
	background-color: Black;
	width:  200px;
	height: 36px;
	color: White;
	font-family: "Barlow Condensed";
	font-weight: 500;
	font-size: 36px;	
	margin: 0px 0px 0px 0px;
	text-align: right;
	padding: 0px 0px 0px 0px;
	border: 6px solid Black;
}
.charsheet button[type=action].sheet-textButton,
.charsheet button[type=roll].sheet-textButton {
    background-color: transparent;
    color: black;
    border: none;
	height: 18px;
	width: 136px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
 }

.charsheet button[type=roll].sheet-textButton::before,
.charsheet button[type=action].sheet-textButton::before {
    content: "" !important;
}
.charsheet button[type=roll].sheet-skillName::before,
.charsheet button[type=action].sheet-skillName::before {
	padding: 0px 0px 0px 0px;
    content: "" ;
}


.charsheet label.sheet-skillName:hover {
	background-color: rgba(255,255,0,0.3)!important;
}
/*End Button Styling*/


/* Roll Template */
/* Check, Melee, WarDie, Initiative Templates */
.sheet-rolltemplate-check .sheet-container {
	color: Black;
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}
.sheet-rolltemplate-warDie .sheet-container,
.sheet-rolltemplate-melee .sheet-container {
    background-color: rgb(153, 0, 0); /* Dark Red */
	color: rgb(255, 179, 179);        /* Light Red */
    border: 3px solid rgb(255, 179, 179);
    padding: 2px;
    width: 189px;
}											 
/*																														  
.sheet-rolltemplate-initiative .sheet-container {
    background-color: Thistle;
	color: Blue;
    border: 3px solid Blue;
    padding: 2px;
    width: 189px;
}
background-color: rgba(136, 79, 0, 0.4)
*/																														  
.sheet-rolltemplate-initiative .sheet-container {
    background-color: rgba(136, 79, 0, 0.4);
	color: Black;
    border: 3px solid rgba(136, 79, 0, 0.7);
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-check .sheet-container h1,
.sheet-rolltemplate-warDie .sheet-container h1,
.sheet-rolltemplate-melee .sheet-container h1,
.sheet-rolltemplate-initiative .sheet-container h1{
	color: inherit;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-warDie div,
.sheet-rolltemplate-melee div,
.sheet-rolltemplate-initiative div,
.sheet-rolltemplate-check div {
    padding: 2px;
}

.sheet-rolltemplate-check span,
.sheet-rolltemplate-warDie span,
.sheet-rolltemplate-melee span,
.sheet-rolltemplate-initiative span {
    color: currentColor;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.4em;
    padding-left: 5px;
    text-align: left;
}

.sheet-rolltemplate-check .sheet-subheader,
.sheet-rolltemplate-melee .sheet-subheader,
.sheet-rolltemplate-initiative .sheet-subheader {
	color: currentColor;
    font-size: 1em;
    font-style: italic;
}
										   
.sheet-rolltemplate-check .sheet-arrow-right,
.sheet-rolltemplate-melee .sheet-arrow-right,
.sheet-rolltemplate-initiative .sheet-arrow-right {
    border-bottom: 3px solid transparent;
    border-left: 180px solid currentColor;
    border-top: 3px solid transparent;
}
.sheet-rolltemplate-warDie .sheet-tcat,											 
.sheet-rolltemplate-melee .sheet-tcat,
.sheet-rolltemplate-initiative .sheet-tcat,
.sheet-rolltemplate-check .sheet-tcat {
    font-style: italic;
}


.sheet-rolltemplate-check .inlinerollresult  {
    /*background-color: #ffffff;*/
	background-color: LightGray !important;
    border: none;
}
.sheet-rolltemplate-initiative .inlinerollresult,
.sheet-rolltemplate-warDie .inlinerollresult,
.sheet-rolltemplate-melee .inlinerollresult {
	color: Red;
    background-color: Yellow;
    border: none;
}

.sheet-rolltemplate-check .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-check .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-check .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}
/* End Check, Ranged & Manifest templates*/