/* ROLL TEMPLATE
============================= */

.sheet-rolltemplate-fancy-damages,.sheet-rolltemplate-fancy-sanloss,.sheet-rolltemplate-fancy-bonds,.sheet-rolltemplate-fancy-rolls  {
        position: relative; // Add this to position the new div relative to this container

        min-width: 15em;
        max-width: 30em;
        padding-top: 2em; // Add padding to the top of the div
        padding-bottom: 2em; // Add padding to the bottom of the div
        .sheet-template-plus {
            &::before {
              content: "+";
              display: inline-block;
            }  
        }
        .sheet-template-button {
            font-size: 1.2em;
            text-align: center;
            display: inline;
            line-height: 1.2em;
            font-size: 1.5em;
            font-weight: bold;
            padding: 0 3px 0 3px;
            font-style: capitalize;
            cursor: help;
            text-align: left;
            float: left;
            // make the link a with <a> transparent background and centered
            a {
                background-color: transparent;
                display: block;
                text-align: center;
                padding: 0.5em 0;
                color: $maincolor;
                font-weight: bold;
                border: none
            }
          }
        .sheet-template-percent{
            &::after {
              content: "%";
              display: inline-block;
            }  
        }
        // I want to style the sheet-template-attack-buttons in the 
        //same way, but unlike .sheet-template-reaction
        // the button need to fit in the row
        .sheet-template-attack-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5em;
            background: linear-gradient(to bottom right, $palecolor, $accent1);
            box-shadow: 
            1px 1px 1px rgba(0, 0, 0, 0.1), 
            2px 2px 2px rgba(0, 0, 0, 0.1), 
            3px 3px 3px rgba(0, 0, 0, 0.1), 
            4px 4px 4px rgba(0, 0, 0, 0.1), 
            5px 5px 5px rgba(0, 0, 0, 0.1);
            &:hover {
                a {color: $accent1;}
                text-shadow: 1px 1px 2px $maincolor, 0 0 25px $accent2, 0 0 5px $accent1; 
                background: linear-gradient(to bottom, $accent3,$maincolor);
            }
        }         

        .sheet-template-reaction {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            border: 0.1em solid $maincolor;
            border-radius: 0.6em;
            width: 10em;
            margin-top: -0.6em; // Overlap the previous div by 0.5em
            left: 50%; // Center the div
            transform: translateX(-55%);
            z-index: 1; // Ensure the new div is on top of the parent container
            // set the same color of buttons
            
            background: linear-gradient(to bottom right, $palecolor, $accent1);
            box-shadow: 
            1px 1px 1px rgba(0, 0, 0, 0.1), 
            2px 2px 2px rgba(0, 0, 0, 0.1), 
            3px 3px 3px rgba(0, 0, 0, 0.1), 
            4px 4px 4px rgba(0, 0, 0, 0.1), 
            5px 5px 5px rgba(0, 0, 0, 0.1);
            // center any element in the div vertically and horizontally
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;

            
            
            &:hover {
                a {color: $accent1;}
                text-shadow: 1px 1px 2px $maincolor, 0 0 25px $accent2, 0 0 5px $accent1; 
                background: linear-gradient(to bottom, $accent3,$maincolor);
            
            }
        }

        .sheet-template-container {
            position: absolute;
            border: 0.2em solid $maincolor;
            margin-right: 1em;
            border-top-left-radius: 1.5em;
            border-bottom-right-radius: 1.5em; 
            //box-shadow: inset 0px 0px 3px 1px $maincolor, 0px 3px 6px rgba(0, 0, 0, 0.2);           
            box-shadow: 
            1px 1px 1px rgba(0, 0, 0, 0.1), 
            2px 2px 2px rgba(0, 0, 0, 0.1), 
            3px 3px 3px rgba(0, 0, 0, 0.1), 
            4px 4px 4px rgba(0, 0, 0, 0.1), 
            5px 5px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: grid;
            grid-template-columns: 1fr ;  
            position: relative;
            overflow: hidden; // Add this line
            
            .sheet-template-superheader + .sheet-template-header {
                background: linear-gradient(to bottom, $gray 10%, $maincolor);
            }

            .sheet-template-superheader {
                color: $namecolor;
                background-color: $gray;
                text-decoration: underline;
                font-weight: bold;
                text-transform: capitalize;
                padding: 0%;
                h2{
                    font-size: 1.2em;
                    line-height: 1.4em;
                }
            }
           
            .sheet-template-header {
                background-color: $maincolor;
                border-bottom: 2px solid $gray   ;
                padding: 2%;
                text-transform: capitalize;

                h1, h2 {
                    display: inline;
                    line-height: 1.2em;
                }

                h1 {
                    color: $accent1;
                    font-variant: small-caps;
                    font-size: 1.6em;
                }

                h2 {
                    color: $lightgray;
                    font-size: 1.15em;
                }
            }
            
            /* DICE ROLL STYLES
            ----------------------------- */
            .inlinerollresult.fullfail,
            .inlinerollresult.fullcrit,
            .inlinerollresult.importantroll {
                border: none;
            }

            .inlinerollresult.fullfail, .inlinerollresult.fullcrit {
                color: $maincolor;
            }

            .inlinerollresult {
                background-color: transparent;
                border: none;
                font-weight: unset; //reset defaults
                font-size: unset; //reset defaults
                padding: unset; //reset defaults
            }

            .sheet-template-computed{
                font-weight: bold;
                font-size: 1.8em;
                color: $maincolor;
                .inlinerollresult {
                    pointer-events: none;
                    &:hover {
                        display:none;
                    }
                } // to not interfere with interactions with the div content
            }

            .sheet-template-onerow{
                grid-column: 1/4;
                grid-template-columns: 1fr;
            }
            .sheet-template-tworows{
                grid-column: 1/4;
                grid-template-columns: 2fr 1fr;
                align-items: center;
                .sheet-rolltitle{
                    text-align: left;
                    float: left;
                }

                .sheet-template-computed{
                    text-align: center
                }
            }
            .sheet-template-overlay-low-wp ,.sheet-template-overlay-low-wp .sheet-template-overlay-low-wp90
            .sheet-template-overlay-zero-wp, .sheet-template-overlay-zero-wp .sheet-template-overlay-zero-wp90{
                
                width: 100%;
            }
            .sheet-template-overlay-low-wp {
                position: relative;
                // other styles
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    //background: linear-gradient(  $redtransparent,transparent 2%, $redtransparent 98%);
                    // elliptical gradient
                    background: radial-gradient(ellipse at center,transparent 40%, $redtransparent1 85%, $redtransparent2 );
                    // background: radial-gradient()
                    // linear-gradient(  $redtransparent,transparent 2%, $redtransparent 98%);
                    
                }
             
            }
        //}

            
            .sheet-template-overlay-zero-wp {
                position: relative;
                // other styles
                &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                pointer-events: none; // to not interfere with interactions with the div content
               // background: linear-gradient( $maincolortransparent , $graytransparent 2%, $maincolortransparent 98%);
                background: radial-gradient(ellipse at center, $graytransparent1 40%, $graytransparent2 85%,  $maincolortransparent );
                    
                }
            }
            
            .sheet-template-outcome{
                font-weight: bold;
                font-size: 1.8em;
                color: $maincolor;
                font-style: capitalize;  
            }

            .sheet-template-body {
                grid-template-columns: 1fr 1fr 1fr ;
                row-gap: 0.5em; // Add gap between rows
                padding: 0.0em 0; // Add padding to the top and bottom of the div
                grid-template-columns: 3em;
                
                .sheet-template-row{
                    background-color: $accent1;
                    padding: 3%;
    
                    &:nth-child(2n+0) { background-color: $accent2; }

                    a[href^="~"] {
                        background-color: $palecolor !important;
                        font-weight: bold !important;
                        color: $maincolor;
                        font-size: 0.8em;
                        border: {
                            bottom             : 0.01em solid #666;
                            bottom-right-radius: 0.01em;
                            color              : hsl(0, 0%, 70%);
                            radius             : 0.25em;
                            right              : 0.02em solid hsl(0, 0%, 20%);
                            style              : outset;
                        }
                    }

                    span {

                        &.sheet-explanation{
                            font-size: 1.2em;
                            color: $maincolor;
                            font-style: italic;
                            text-align: left;
                            
                        }

                        &.sheet-inlinerollresult, &.sheet-rolltitle  {
                            color: $maincolor;
                            font-size: 1.5em;
                            font-weight: bold;
                            padding: 0 3px 0 3px;
                            font-style: capitalize;
                        }

                        &.sheet-inlinerollresult {
                            cursor: help;
                        }


                        &.sheet-rolltitle{
                            text-align:left;
                            float:left
                        }
                        

                        &.sheet-rolltext,
                        &.sheet-template-desc,
                        &.sheet-rollbefore, 
                        &.sheet-rollafter {
                            font-size: 1.2em;
                        }

                        
                        &.sheet-percent,
                        &.sheet-rolltext,
                        &.sheet-template-desc {
                            color: $maincolor;
                        }
    
                        &.sheet-rollbefore {
                            color: $before;
                        }
    
                        &.sheet-rollafter {
                            color: $after;
                        }

                    
                    }
                    
                    .aligned-left{
                        text-align:left;
                        float:left;
                    }
                }
            }
        }
}