.charsheet {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.charsheet section {
	flex-direction: column;
	gap: 1em;
}

.charsheet>div>div:first-child {
	gap: 4px;
}

.ui-dialog .charsheet input[type=number] {
	width: auto;
	min-width: 100px;
	max-width: fit-content;
}

.sheet-character,
.sheet-action,
.sheet-animon,
.sheet-option {
	display: none;
}

.sheet-tabstoggle[value="character"]~div.sheet-character,
.sheet-tabstoggle[value="action"]~div.sheet-action,
.sheet-tabstoggle[value="animon"]~div.sheet-animon,
.sheet-tabstoggle[value="option"]~div.sheet-option {
	display: grid;
}

div.sheet-folder {
	width: 18px;
}
input.sheet-foldable[type="checkbox"] {
	opacity: 0;
	min-width: 18px;
	position: relative;
	z-index: 1;
}
span.sheet-foldable {
	left: -15px;
	display: inline-flex;
	cursor: pointer;
	font-size: larger;
	position: relative;
	z-index: 0;
}
span.sheet-foldable::before {
	z-index: 1;
	content: "▼";
	display: inline-block;
	transition: transform 0.2s ease;
}
input.sheet-foldable[type="checkbox"]:not(:checked)+span.sheet-foldable::before {
	transform: rotate(-90deg);
}
input.sheet-foldable[type="checkbox"]:checked+div.sheet-foldable {
	display: none;
}
input.sheet-foldable[type="hidden"][value="0"]+div.sheet-foldable {
	display: none;
}

span, label, h1, h2, h3, h4, h5 {
	font-weight: bold;
}

input {
	border: 0;
}

input[type="text"] {
	background-color: transparent;
}

section {
	display: flex;
	background-color: #bcbdc0;
	border: 6px solid #808285;
	border-radius: 20px;
	padding: 6px;
}

article {
	display: flex;
	background-color: white;
	border: 4px solid black;
	border-radius: 15px;
	padding: 4px;
}

span.sheet-stage,
h3.sheet-stage {
	text-transform: uppercase;
}

fieldset.sheet-noModifs ~ div.repcontrol {
	display: none;
}

.sheet-grid {
	display: grid;
}

article.sheet-flexContent div {
	display: flex;
}

article span,
article h1,
article h2,
article h3 {
	align-self: center;
}

article h2 {
	text-transform: uppercase;
}

article h3 {
	text-transform: capitalize;
	font-size: x-large;
}

article h4 {
	text-transform: capitalize;
	font-size: large;
    vertical-align: middle;
}

article.sheet-kid h3, article.sheet-kid h4 {
	align-self: flex-end;
}
article.sheet-kid input {
	flex: 1 1 auto;
	width: fit-content;
}

article.sheet-kid div {
	padding: 2px;
	border-bottom: 2px dashed gray;
}
article.sheet-grid div:nth-child(2),
article.sheet-grid div:nth-child(3) {
	border-right: 2px solid gray;
}

article.sheet-traits {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	flex-flow: column nowrap;
	align-items: stretch;
}

article.sheet-traits header {
	flex: 1 1 auto;
	height: 32px;
	border-bottom: 1px solid gray;
}

article.sheet-traits header h2 {
	text-align: center;
	font-size: x-large;
}

article.sheet-traits>div {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}

article.sheet-traits div button,
article.sheet-kid-type button {
	margin: 0 !important;
	border: 0;
	padding: 0 !important;
	border-radius: 0;
	background: none;
}

article.sheet-traits div button::before,
article.sheet-kid-type button::before {
	content: "" !important;
}

article.sheet-traits div input {
	padding-left: 13px;
	border: 0;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

article.sheet-traits>div>div {
	border-right: 4px dotted lightgray;
	padding-right: 4px;
	margin-right: 4px;
	flex: 1 1 auto;
	display: grid;
}

article.sheet-traits>div>div:last-child {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}

article.sheet-stamina {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
	flex-flow: row nowrap;
	align-items: stretch;
}

article.sheet-stamina header {
	flex: 0 0 auto;
	padding-right: 4px;
	border-right: 2px solid gray;
	margin-right: 4px;
	display: flex;
}

article.sheet-stamina header h2 {
	text-align: start;
	font-size: x-large;
	vertical-align: middle;
}

article.sheet-stamina>div {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}

article.sheet-stamina input {
	align-self: flex-start;
	flex: 1 1 auto;
	font-size: large;
	background-color: transparent;
}

article.sheet-stamina span {
	align-self: flex-end;
	flex: 1 1 auto;
	font-size: large;
}

div.bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom right,
		transparent 49%,
		black 50%,
		transparent 51%
	);
	pointer-events: none;
}

article.sheet-harm {
	grid-row: 4 / 5;
	grid-column: 1 / 2;
	flex-flow: column nowrap;
	align-items: stretch;
}

article.sheet-harm header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2px;
	border-bottom: 2px solid lightgray;
	margin-bottom: 2px;
}

article.sheet-harm header h3 {
	text-align: left;
	vertical-align: bottom;
}

article.sheet-harm header div {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

article.sheet-harm header div h4 {
	font-size: larger;
	vertical-align: bottom;
}

article.sheet-harm>div {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

article.sheet-harm>div>div {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	border-bottom: 2px dashed lightgray;
}

article.sheet-harm div.no-border {
	border: 0;
}

article.sheet-harm>div input {
	flex: 1 1 auto;
	font-size: large;
}

article.sheet-kid-type {
	grid-row: 2 / 5;
	grid-column: 2 / 3;
	flex-flow: column nowrap;
	align-items: stretch;
}

article.sheet-kid-type div,
article.sheet-kid-type header {
	display: flex;
	justify-content: stretch;
	gap: 4px;
}

article.sheet-kid-type header {
	padding-bottom: 2px;
	border-bottom: 2px solid lightgray;
	margin-bottom: 2px;
}

article.sheet-kid-type header h2 {
	text-align: center;
	font-size: x-large;
}

article.sheet-kid-type header input {
	flex: 1 1 auto;
	font-size: large;
}

article.sheet-kid-type>div span {
	font-size: large;
	vertical-align: middle;
}

article.sheet-kid-type>div input {
	flex: 1 1 auto;
	font-size: large;
}

article.sheet-kid-type textarea {
	flex: 1 1 auto;
	font-size: large;
	border: 0;
	width: auto;
}

article.sheet-relationships {
	grid-row: 5 / 6;
	grid-column: 1 / 2;
	flex-flow: column nowrap;
	align-items: stretch;
}

article.sheet-relationships header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2px;
	border-bottom: 2px solid lightgray;
	margin-bottom: 2px;
}

div.repcontainer[data-groupname="repeating_relationship"] div.itemcontrol {
	z-index: 2;
}
div.repcontainer[data-groupname="repeating_relationship"] div.repitem {
	border-bottom: 2px dashed lightgray;
}
div.repcontainer[data-groupname="repeating_relationship"] div.repitem:last-child {
	border-bottom: 0;
}

div.repeating_relationship_row {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

div.repeating_relationship_row div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

div.repeating_relationship_row div input[type="text"] {
	flex: 1 1 auto;
	font-size: large;
}

div.repeating_relationship_row span.sheet-foldable {
	font-size: large;
}

div.repeating_relationship_row textarea {
	flex: 1 1 auto;
	border: 0;
	width: auto;
}

article.sheet-talents {
	grid-row: 5 / 6;
	grid-column: 2 / 3;
	flex-flow: column nowrap;
	gap: 2px;
}

div.sheet-action article.sheet-talents div.repcontrol {
	display: none;
}

article.sheet-talents header {
	grid-column: 1 / 4;
	border-bottom: 2px solid lightgray;
	display: grid;
	grid-template-columns: 1fr 70px;
}

div.repcontainer[data-groupname="repeating_talent"] div.repeating_talent_row {
	display: grid;
	grid-template-columns: 30px 1fr 70px;
}

div.repeating_talent_row input {
	width: auto;
	font-size: large;
}

div.repeating_talent_row input[type="number"] {
	font-size: large;
	background-color: transparent;
}

div.repeating_talent_row button {
	background-color: transparent;
    background-image: none;
    border: none;
    align-self: self-end;
}

div.repcontainer[data-groupname="repeating_talent"] div.repitem {
	border-bottom: 2px dashed lightgray;
}
div.repcontainer[data-groupname="repeating_talent"] div.repitem:last-child {
	border-bottom: 0;
}

article.sheet-stuff {
	grid-row: 6 / 7;
	grid-column: 1 / 3;
	flex-flow: column nowrap;
	align-items: stretch;
}

article.sheet-stuff header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid lightgray;
	margin-bottom: 2px;
}

div.repeating_stuff_row {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

div.repeating_stuff_row div {
	display: flex;
	flex-flow: row nowrap;
}

div.repcontainer[data-groupname="repeating_stuff"] {
	display: flex;
	flex-flow: row wrap;
	gap: 4px;
}

div.repcontainer[data-groupname="repeating_stuff"] div.repitem {
	flex: 1 1 auto;
}

div.repcontainer[data-groupname="repeating_stuff"] div.repitem input[type="text"] {
	flex: 1 1 auto;
	font-size: large;
}

div.repcontainer[data-groupname="repeating_stuff"] div.repitem textarea {
	flex: 1 1 auto;
	border: 0;
	width: auto;
}

article.sheet-notes {
	grid-column: 1 / 3;
	flex-flow: column nowrap;
	align-items: stretch;
}

article.sheet-notes header {
	border-bottom: 2px solid lightgray;
	margin-bottom: 2px;
}

div.repcontainer[data-groupname="repeating_note"] {
	display: flex;
	flex-flow: row wrap;
	gap: 4px;
}

div.repcontainer[data-groupname="repeating_note"] div.repitem {
	flex: 1 1 auto;
}

div.repeating_note_row {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

div.repeating_note_row div {
	display: flex;
	flex-flow: row nowrap;
}

div.repeating_note_row input[type="text"] {
	flex: 1 1 auto;
	font-size: large;
}

div.repeating_note_row textarea {
	flex: 1 1 auto;
	border: 0;
	width: auto;
}

div.sheet-action article.sheet-traits button {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: center;
}

div.sheet-action {
	flex-flow: column nowrap;
	gap: 4px;
}

div.sheet-action>div {
	display: flex;
	flex-flow: row nowrap;
	gap: 4px;
}

div.sheet-action>div>div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

article.sheet-bondLevel {
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	display: flex;
	flex-flow: flex nowrap;
	align-items: stretch;
}

article.sheet-bondLevel header {
	display: flex;
	border-right: 2px solid lightgray;
	margin-right: 2px;
}

article.sheet-bondLevel * {
	flex: 1 1 auto;
}

article.sheet-bondLevel input {
	text-align: center;
    font-weight: bolder;
    background-color: transparent;
	font-size: medium;
}

article.sheet-xp {
	grid-column: 1 / 2;
	grid-row: 2 / 6;
	flex-flow: column nowrap;
	align-items: center;
	gap: 4px;
}

article.sheet-xp header {
	display: flex;
	justify-content: stretch;
}

article.sheet-xp input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	appearance: none;
	border: 2px solid black;
}

article.sheet-xp input[type="checkbox"]:checked {
	background-color: black;
}

article.sheet-xp div.sheet-circle {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

article.sheet-xp div.sheet-circle.sheet-half {
	border-style: dashed;
}

article.sheet-bonds {
	display: flex;
	flex-flow: row nowrap;
	gap: 4px;
}

article.sheet-bonds header {
	flex: 0 0 auto;
}

article.sheet-bonds>div {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	position: relative;
}

article.sheet-bonds>div>input[type="number"] {
	font-size: large;
	background-color: transparent;
	text-align: start;
	width: 40% !important;
	min-width: 0 !important;
}

article.sheet-bonds>div>span {
	flex: 1 1 auto;
	text-align: center;
}

article.sheet-bonds div.bar {
	left: 40%;
	width: 20%;
}

article.sheet-strain header {
	flex: 0 0 auto;
}

article.sheet-strain input {
	font-size: large;
	background-color: transparent;
	flex: 1 1 auto;
	text-align: center;
}

article.sheet-attack-uses header {
	flex: 0 0 auto;
}

article.sheet-attack-uses input[type="number"] {
	font-size: large;
	background-color: transparent;
	width: 40% !important;
	min-width: 0 !important;
	text-align: center;
}

article.sheet-attack-uses>div {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	position: relative;
}

article.sheet-attack-uses span {
	flex: 1 1 auto;
	text-align: center;
}

article.sheet-attack-uses div.bar {
	left: 40%;
	width: 20%;
}

section.sheet-animon-preview {
	flex-flow: row nowrap;
}

section.sheet-animon-preview>button {
	border-radius: 8px;
}

section.sheet-animon-preview>div {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	gap: 4px;
	justify-content: stretch;
}

section.sheet-animon-preview>div>div {
	display: flex;
	flex-flow: column nowrap;
	gap: 4px;
}

section.sheet-animon-preview>div div {
	flex: 1 1 auto;
}

section.sheet-animon-preview article {
	flex-flow: column nowrap;
}

section.sheet-animon-preview article.sheet-animon-preview {
	flex-flow: row nowrap;
}

section.sheet-animon-preview article.sheet-animon-preview ~ div {
	display: flex;
	flex-flow: row nowrap;
}

article.sheet-animon-stats {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 auto;
}

article.sheet-animon-stats div {
	flex: 1 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
}

article.sheet-animon-stats h2 {
	text-align: center;
	font-size: x-large;
	border-bottom: 2px solid #808285;
	align-self: stretch;
}

article.sheet-animon-stats h4 {
	text-align: center;
	font-size: large;
	border-top: 2px dashed #808285;
	padding: 4px 0 2px 0;
	flex: 0 0 auto;
}

article.sheet-animon-stats button {
	flex: 1 1 auto;
	background-color: transparent;
	background-image: none;
	border: 0;
}

div.sheet-animon-stats {
	display: flex;
	flex-flow: column nowrap;
	gap: 4px;
	justify-content: space-between;
}

div.sheet-animon-stats article {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	gap: 4px;
}

div.sheet-animon-stats article h4 {
	text-align: center;
	font-size: large;
	border-bottom: 2px solid #808285;
}

div.sheet-animon-stats article span {
	text-align: center;
	font-size: large;
	flex: 1 1 auto;
	align-content: center;
}

div.sheet-animon-stats article button {
	background-color: transparent;
	background-image: none;
	border: 0;
	flex: 1 1 auto;
}

div.sheet-animon-metas {
	display: flex;
	flex-flow: column nowrap;
	gap: 4px;
}

div.sheet-animon-metas>div {
	display: flex;
	flex-flow: row nowrap;
	gap: 4px;
}

div.sheet-animon-metas article {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	gap: 4px;
}

div.sheet-animon-metas article h3 {
	flex: 0 0 auto;
	text-align: start;
}

div.sheet-animon-metas article span {
	flex: 1 1 auto;
	text-align: start;
	font-size: large;
}

article.sheet-animon-sigattack-table {
	display: flex;
	flex-flow: column nowrap;
}

article.sheet-animon-sigattack-table div {
	display: flex;
	flex-flow: row nowrap;
}

article.sheet-animon-quality {
	display: grid;
	grid-template-columns: 1fr 90px;
}

article.sheet-animon-quality>h3 {
	border-bottom: 2px solid #808285;
}

article.sheet-animon-quality div {
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 2px dashed #808285;
	gap: 4px;
}

article.sheet-animon-quality div:nth-child(even),
article.sheet-animon-quality h3:nth-child(even) {
	border-left: 2px solid #808285;
	padding-left: 4px;
}
