include rolls/pj/art.js
include rolls/pj/bard.js
include rolls/pj/berserk.js
include rolls/pj/combatAutre.js
include rolls/pj/combatContact.js
include rolls/pj/combatDistance.js
include rolls/pj/combatGrenade.js
include rolls/pj/combatImprovise.js
include rolls/pj/druid.js
include rolls/pj/mechaArmure.js
include rolls/pj/monk.js
include rolls/pj/priest.js
include rolls/pj/ranger.js
include rolls/pj/recuperation.js
include rolls/pj/simple.js
include rolls/pj/warlock.js
include rolls/pj/wizard.js

include rolls/pnj/simple.js
include rolls/pnj/combatContact.js
include rolls/pnj/combatDistance.js
include rolls/pnj/combatGrenade.js
include rolls/pnj/combatImprovise.js
include rolls/pnj/combatAutre.js

include rolls/vehicules/simple.js