mixin page(index, name)
  .page(class=`page-${index} page-tab-${name}`)
    img.page__logo(src=fhtagnLogo.path)
    if block
      block
    else
      p Please provide page content!

    .footer.h-flex.h-space-between.h-mt-5
      div &nbsp;
      div FHTAGN © 2019 Deutsche Lovecraft Gesellschaft e.V. – fhtagn-rpg.de – Vervielfältigung für persönlichen Gebrauch erlaubt.
      div v13
