/**********************************************************************
    bfrpg sheet css start
**********************************************************************/

.sheet-bfrpgsheet {
    font-family: Gothic A1, Century Gothic, Arial, Helvetica, sans-serif;
}

.sheet-bfrpgsheet hr {
    border-top: 1px solid black;
    width: 98%;
    margin: 0;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    clear: both;
}

.sheet-bfrpgsheet div.sheet-floater {
    float: left;
    margin-right: 0.5em;
    max-width: 48%;
    min-width: 30em;
}

.sheet-bfrpgsheet input[type='text'] {
    margin-right: 1em;
}

.sheet-bfrpgsheet label {
    display: inline-block;
    width: 3.5em;
}

.sheet-bfrpgsheet label.sheet-basic {
    display: inline;
}

.sheet-bfrpgsheet input.sheet-fillbox {
    width: 90%;
}

.sheet-bfrpgsheet label.sheet-wide {
    width: 10em;
}

.sheet-bfrpgsheet label.sheet-extrawide {
    width: 15em;
}

.sheet-bfrpgsheet input.sheet-wide, .sheet-bfrpgsheet span.sheet-wide {
    width: 24em;
}

.sheet-bfrpgsheet input.sheet-medium, .sheet-bfrpgsheet span.sheet-medium {
    width: 12em;
}

.sheet-bfrpgsheet input.sheet-narrow, .sheet-bfrpgsheet span.sheet-narrow {
    width: 6em;
}

.sheet-bfrpgsheet .sheet-attrgrid {
    display: grid;
    grid-template-columns: 40% 25% 25%;
}

.sheet-bfrpgsheet button[type=roll] {
    font-size: 90%;
    margin-top: 0.1em;
}

.sheet-bfrpgsheet input[name=attr_weaponnotes] {
    margin-right: 0;
}

.sheet-bfrpgsheet div.sheet-weapons {
    width: 100%;
}

.sheet-bfrpgsheet div.repcontrol {
    width: 97%;
}
    
.sheet-bfrpgsheet div.sheet-weapons thead td {
    font-weight: bold;
}

.sheet-bfrpgsheet td.sheet-wide {
    width: 20%;
}

.sheet-bfrpgsheet td.sheet-narrow {
    width: 12%;
}

.sheet-bfrpgsheet td input {
    width: 90%;
}

.sheet-bfrpgsheet input[type=text], .sheet-bfrpgsheet input[type=number] {
    padding-left: 2px;
    border: 1px solid #333333;
}

.sheet-bfrpgsheet span.sheet-spellcolumn {
    display: inline-block;
    width: 3em;
    margin: 0;
    margin-right: 0.4em;
    margin-left: 0.3em;
    padding: 0;
    text-align: center;
}

.sheet-bfrpgsheet textarea {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    resize: vertical;
    overflow-y: auto;
    min-height: 5em;
    border: 1px solid black;
}

.sheet-shortnum {
    width: 2.5em;
    text-align: center;
}

/**********************************************************************
    weapons block 
**********************************************************************/

.sheet-bfrpgsheet .sheet-weaponsblock input[type=text].sheet-weaponab {
    width: 60%;
    margin-right: 0;
}

.sheet-bfrpgsheet .sheet-weaponsblock span {
    display: inline-block;
    width: 19%;
    white-space: nowrap;
}

.sheet-bfrpgsheet .sheet-weaponsblock input[type=text] {
    width: 90%;
}

.sheet-bfrpgsheet .sheet-weaponsblock label {
    display: inline;
}

/**********************************************************************
    show/hide blocks 
**********************************************************************/

.sheet-bfrpgsheet div.sheet-thiefabilitiesblock {
    display: none;
}

.sheet-bfrpgsheet input.sheet-showthiefabilities:checked ~ div.sheet-thiefabilitiesblock {
    display: block;
}

.sheet-bfrpgsheet div.sheet-spellsblock {
    display: none;
}

.sheet-bfrpgsheet input.sheet-showspells:checked ~ div.sheet-spellsblock {
    display: block;
}

.sheet-bfrpgsheet div.sheet-turnundeadblock {
    display: none;
}

.sheet-bfrpgsheet input.sheet-showturnundead:checked ~ div.sheet-turnundeadblock {
    display: block;
}

/**********************************************************************
    bfrpg sheet css end
**********************************************************************/

