// ------------------------------------
//  #ROLL TEMPLATES
//------------------------------------

// Smaller margins - remove these if you want the huge default left margin

.withoutavatars .sheet-rolltemplate-rolls {
  margin-left: -7px;
}

.sheet-rolltemplate-rolls {
  margin-left: -37px;
  font-family: "Yanone Kaffeesatz";

    .sheet-container {
      border: 3px solid black;
      border-radius: 3px;
    }

    // Header formatting - title and subtitle 
    .sheet-header {
      background-color: var(--header-bg-color, #a83521);
      color: var(--header-text-color, #FFF);
      text-align: left;
      text-transform: capitalize;
      padding: 5px;
      border-bottom: 2px solid black;
    }
    .sheet-title,
    .sheet-name{
      font-size: 1.4em;
      font-weight: bold;
    }
    .sheet-subtitle {
      font-size: 1em;
    }

    .sheet-container {
      --header-bg-color: #c87d00;
      --header-text-color: #FFF;
    }

    // alt template colors
    .sheet-container.sheet-color-green {
      --header-bg-color: #008000;
    }
    .sheet-container.sheet-color-blue {
      --header-bg-color: #0000e0;
    }
    .sheet-container.sheet-color-gold {
      --header-bg-color: #ffdd1f;
      --header-text-color: #000;
    }
    .sheet-container.sheet-color-purple {
      --header-bg-color: #c200c2;
    }
    .sheet-container.sheet-color-black {
      --header-bg-color: #000;
    }
    .sheet-container.sheet-color-white {
      --header-bg-color: #FFF;
      --header-text-color: #000;
    }

    // Allprops part
    .sheet-content {
      display: grid;
      background: #FFF;
      grid-template-columns: auto auto;
      line-height:1.4em;
    }
    .sheet-content > div {
      padding: 5px;
    }

    .sheet-content .sheet-key {
      font-weight: bold;
      padding-right: 10px;
      text-align: right;
    }

    // Make even-numbered rows grey 
    .sheet-content :nth-child(4n+3),
    .sheet-content :nth-child(4n) {
      background:#EEE;
    }

    // Description field
    .sheet-desc, .sheet-crit, .sheet-fail {
      grid-column: span 2;
      padding: 5px;
      text-align: center;
    }
    .sheet-crit, .sheet-fail{
        font-weight: bold;
        font-size: 1.3em;
    }
    .sheet-crit {
        color: green;
    }
    .sheet-fail {
        color: red;
    }
}