/* CSS Reset */{}
.charsheet .sheet-wrapper div, .charsheet .sheet-wrapper span, .charsheet .sheet-wrapper label,
.charsheet .sheet-wrapper h1, .charsheet .sheet-wrapper h2, .charsheet .sheet-wrapper h3, .charsheet .sheet-wrapper h4, .charsheet .sheet-wrapper h5, .charsheet .sheet-wrapper h6, .charsheet .sheet-wrapper p,
.charsheet .sheet-wrapper table, .charsheet .sheet-wrapper caption, .charsheet .sheet-wrapper tbody, .charsheet .sheet-wrapper tfoot, .charsheet .sheet-wrapper thead, .charsheet .sheet-wrapper tr, .charsheet .sheet-wrapper th, .charsheet .sheet-wrapper td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: #404040;
    vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.charsheet .sheet-wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
}

.charsheet .sheet-wrapper input::-webkit-outer-spin-button,
.charsheet .sheet-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.charsheet .sheet-wrapper input[type="number"] {
-moz-appearance: textfield;
}

.charsheet .sheet-wrapper textarea {
  resize: none;
}

/* Button Reset */


.charsheet .sheet-wrapper button[type="roll"]:before {
    content: ""!important;
    display: none;
}

.charsheet .sheet-wrapper button[type="roll"],
.charsheet .sheet-wrapper .sheet-btn {
    width: 100%;
    height:24px;
	vertical-align: middle;
	padding: 0;
	display: inline-block;
	margin: 0;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	background-image: none;
	background-color: transparent;
	border: 1px solid #ccc;
	white-space: nowrap;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.charsheet .sheet-wrapper button[type="roll"]:hover,
.charsheet .sheet-wrapper .sheet-btn:hover,
.charsheet .sheet-wrapper .sheet-hider input[type=checkbox]:checked ~ .sheet-btn {
	background-color: #8C001A;
	border-color: #8C001A;
}

.charsheet .sheet-wrapper .sheet-hider input[type=checkbox]:checked ~ .sheet-btn {
	
}

.charsheet .sheet-wrapper button[type="roll"] label,
.charsheet .sheet-wrapper button[type="roll"] input {
	height:24px;
	line-height: 24px;
	font-size: 12px;
	vertical-align: middle;
	text-align:center;
	width: 99%;
	cursor: pointer;
	background: none;
	box-shadow: none;
	transition: none;
	border-radius: none;
    border:none;
}

.charsheet .sheet-wrapper button[type="roll"] input {
}

.charsheet .sheet-wrapper button[type="roll"]:hover label,
.charsheet .sheet-wrapper button[type="roll"]:hover input {
	color: white;
    border: none;
}

/* Main Styles */

.charsheet {
    background-color: #ECECEC;   
}

.charsheet .sheet-wrapper h3 {
    background-color:#3F0001;
    color:#fff;
    padding:3px;
	margin-bottom:5px;
    font-size:18px;
    font-weight:700;
}

.charsheet .sheet-wrapper input, .charsheet .sheet-wrapper textarea, .charsheet .sheet-wrapper select, .charsheet .sheet-wrapper input[type="number"] {
	display: inline-block;
	border: 1px solid #aaa;
	padding: 2px;
	height: 24px;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	margin: 0;
	color: #555;
	background-color: white;
	vertical-align: middle;
	cursor: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-ms-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-writing-mode: horizontal-tb;
}

.charsheet .sheet-wrapper input:not([type='checkbox']) {
	-webkit-appearance: textfield;
}

.charsheet .sheet-wrapper input[type="checkbox"] {
	margin-top: 7px;
	height: 13px;
	width: 13px;
	color: #555;
	border: 1px solid #aaa;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-ms-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}

.charsheet .sheet-wrapper input[disabled],
.charsheet .sheet-wrapper select[disabled],
.charsheet .sheet-wrapper textarea[disabled],
.charsheet .sheet-wrapper input[readonly],
.charsheet .sheet-wrapper select[readonly],
.charsheet .sheet-wrapper textarea[readonly] {
    background-color: transparent;
    border-color: #aaa;
    cursor: not-allowed;
}

.charsheet .sheet-wrapper textarea {
    width: 98%;
    height: 90px;
    font-size: 13px;
    line-height: 18px;
}

.charsheet .sheet-wrapper label {
	display: inline-block;
	width: 100%;
	font-size: 12px;
	text-align: left;
	font-weight:700;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
}

.charsheet .sheet-wrapper .sheet-4colrow .sheet-col {
	width: calc(25% - 3px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-4colrow .sheet-col:last-child {
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-3colrow .sheet-col {
	width: calc(33% - 3px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-3colrow .sheet-col:last-child {
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-2colrow .sheet-col {
	width: calc(50% - 3px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-2colrow .sheet-col:last-child {
	margin-right: 0 !important;
}

/* Special Styles */
.charsheet .sheet-wrapper .sheet-box {
    padding: 5px;
    margin-top:-5px;
    border-top: 1px solid #8C001A;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8C001A), to(transparent));
    background-image: -webkit-linear-gradient(#8C001A, transparent);
    background-image:
        -moz-linear-gradient(#8C001A, transparent),
        -moz-linear-gradient(#8C001A, transparent)
    ;
    background-image:
        -o-linear-gradient(#8C001A, transparent),
        -o-linear-gradient(#8C001A, transparent)
    ;
    background-image: 
        linear-gradient(#8C001A, transparent),
        linear-gradient(#8C001A, transparent)
    ;
    -moz-background-size:1px 100%;
    background-size:1px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}	

.charsheet .sheet-wrapper .sheet-transparent {
    background:transparent;
    border:transparent;
}

.charsheet .sheet-wrapper .sheet-inline {
	display:inline-block;
}

/* Rows and Items */

.charsheet .sheet-wrapper .sheet-fiftypercent {
    display:inline-block;
	width: calc(50% - 4px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-fiftypercent:last-child {
    display:inline-block;    
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-sixtysixpercent {
	display:inline-block;
    width: calc(66% - 3px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-sixtysixypercent:last-child {
	display:inline-block;
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-thirtythreepercent {
	display:inline-block;
    width: calc(33% - 3px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-thirtythreepercent:last-child {
	display:inline-block;
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-sixteenpercent {
	display:inline-block;
    width: calc(16% - 3px) !important;
    margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-sixteenpercent:last-child {
	display:inline-block;
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-row {
    height: 28px;
    margin: 0 0 2px;
}

.charsheet .sheet-wrapper .sheet-doublerow {
    height: 48px;
    margin: 0 0 2px;
}

.charsheet .sheet-wrapper .sheet-alternative:nth-child(even) {
    background-color: #DBB0B1;
}
	.charsheet .sheet-wrapper .sheet-alternative:nth-child(even) input {
    background-color: transparent;
}

.charsheet .sheet-wrapper .sheet-header {
    height: 20px;
    margin: 0;
}

.charsheet .sheet-wrapper .sheet-header label {
    padding: 0;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
}

.charsheet .sheet-wrapper .sheet-footer {
    height: 20px;
    margin-bottom: -5px;
}

.charsheet .sheet-wrapper .sheet-footer label {
	padding: 0;
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	font-weight: 700;
	vertical-align: super;
}

.charsheet .sheet-wrapper .sheet-doublefooter {
	height: 46px;
	margin: 0;
}

.charsheet .sheet-wrapper .sheet-doublefooter label {
	padding: 0;
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	font-weight: 700;
	vertical-align: super;
}

.charsheet .sheet-wrapper .sheet-item {
	display: inline-block;
	width: 100%;
	height: 28px;
	vertical-align: middle;
	margin: 0 -2px;
	text-align: left;
	padding: 3px 2px;
}

.charsheet .sheet-wrapper .sheet-item.sheet-center {
	text-align: center;
}

.charsheet .sheet-wrapper .sheet-item.sheet-multiline label {
	line-height: 12px;
	padding-top: 1px;
}

.charsheet .sheet-wrapper .sheet-item.sheet-pico {
	width: calc(4% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-micro {
	width: calc(5% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-halflittle {
	width: calc(6% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-halftiny {
	width: calc(9% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-puny {
	width: calc(10% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-puny2 {
	width: calc(11% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-little {
	width: calc(12% - 0.5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-tiny {
	width: calc(15% - 2.2%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-doubletiny {
	width: calc(30% - 4.4%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-small {
	width: calc(20% - 0.5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-small2 {
	width: calc(22% - 0.5%);
}

.charsheet .sheet-wrapper textarea.sheet-small {
	height: 32px;
}

.charsheet .sheet-wrapper .sheet-item.sheet-med {
	width: calc(30% - 0.5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-large {
	width: calc(40% - 4%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-big {
	width: calc(50% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-morebig {
	width: calc(60% - 3%);	
}
.charsheet .sheet-wrapper .sheet-item.sheet-bigger {
	width: calc(70% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-huge {
	width: calc(80% - 3%);
}

/* Notes Textfield */

.charsheet .sheet-wrapper .sheet-notesfield textarea {
  	resize: vertical;
	padding: 2px;
	height: 18px;
	width: 95%;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	margin: 0;
	color: #555;
	background-color: white;
	vertical-align: middle;
}

/* Drawing the Lines! */

.charsheet .sheet-wrapper .sheet-topline label {
    border-top: 1px solid #8C001A;
    width: 100%;
    margin:auto;
	font-size:11px;
	font-weight:bold;
    vertical-align:super;
    line-height:15px;
}

.charsheet .sheet-wrapper .sheet-footer.sheet-topline label {
    margin-top:-10px;
}

.charsheet .sheet-wrapper .sheet-bottomline label {
    border-bottom: 1px solid #8C001A;
    width: 100%;
    margin:auto;
	font-size:11px;
	font-weight:bold;    
}

.charsheet .sheet-wrapper .sheet-footer.sheet-bottomline label {
    margin-bottom:-10px;
}

/* Baseinfo */

.charsheet .sheet-wrapper .sheet-baseinfo {
	display: inline-block;
	width: 145px;
}