mixin weapons
  .sheet-equipment-component
    .sheet-equipment-container.sheet-table-header
      .sheet-equipment-container-child.sheet-weapons-column-1
        p.sheet-equipment-title TYPE
      .sheet-equipment-container-child.sheet-weapons-column-2
        p.sheet-equipment-title HARM
      .sheet-equipment-container-child.sheet-weapons-column-3
        p.sheet-equipment-title ASPECTS
      .sheet-equipment-container-child.sheet-weapons-column-4
        p.sheet-equipment-title WEIGHT
    fieldset.repeating_weapon
      .sheet-equipment-container
        .sheet-equipment-container-child.sheet-weapons-column-1
          input(type='text' class='sheet-weapon-type' name='attr_weapon_type' placeholder='Type')
        .sheet-equipment-container-child.sheet-weapons-column-2
          input(type='text' class='sheet-weapon-harm' name='attr_weapon_harm' placeholder='0')
        .sheet-equipment-container-child.sheet-weapons-column-3
          input(type='text' class='sheet-weapon-aspects' name='attr_weapon_aspects' placeholder='Aspects')
        .sheet-equipment-container-child.sheet-weapons-column-4
          input(type='text' class='sheet-weapon-weight' name='attr_weapon_weight' placeholder='0')