mixin weapons
  .sheet-weapons-component
    fieldset.repeating_weapon
      .sheet-weapon-container
        .sheet-weapon-type
          input(type='text' class='sheet-weapon-type' value='attr_weapon_type')
        .sheet-weapon-harm
          input(type='text' class='sheet-weapon-harm' value='attr_weapon_harm')
        .sheet-weapon-aspects
          input(type='text' class='sheet-weapon-aspects' value='attr_weapon_aspects')
        .sheet-weapon-weight
          input(type='text' class='sheet-weapon-weight' value='attr_weapon_weight')