mixin weapons
  .sheet-equipment-component
    fieldset.repeating_weapon
      .sheet-equipment-container
        .sheet-equipment-container-child
          p TYPE
          input(type='text' class='sheet-weapon-type' name='attr_weapon_type')
        .sheet-equipment-container-child
          p HARM
          input(type='text' class='sheet-weapon-harm' name='attr_weapon_harm')
        .sheet-equipment-container-child
          p ASPECTS
          input(type='text' class='sheet-weapon-aspects' name='attr_weapon_aspects')
        .sheet-equipment-container-child
          p WEIGHT
          input(type='text' class='sheet-weapon-weight' name='attr_weapon_weight')