//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/page-two/block-two.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div
    include ../bloecke/fernkampfwaffen.pug


    
//
    ********************************
    * ENDE src/html/page-two/block-two.pug
    ********************************