//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/page-two/block-three.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div(class="sheet-2cols")
    div
        include ../bloecke/waffenkampf_nahkampf.pug
        
        div(class="sheet-2cols-50-50")
            include ../bloecke/bio_abnormitaeten.pug
            include ../bloecke/bio_eigenschaften.pug
    div 
        include ../bloecke/wichtige_notiz.pug
        include ../bloecke/physiologische_stoerungen.pug   
//
    ********************************
    * ENDE src/html/page-two/block-three.pug
    ********************************