//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/page-two/block-four.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div(class="sheet-3cols")    
    div
        include ../bloecke/vorteile_nachteile.pug 
    div 
    div         
//
    ********************************
    * ENDE src/html/page-two/block-four.pug
    ********************************