//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-07

//
    ********************************
    * START src/html/page-two/block-one.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div(class="sheet-3cols")
    div(class="sheet-box")
        div(class="sheet-input-line")
            +input-text("character_name","charaktername")
    div(class="sheet-box")
        div(class="sheet-input-line")
            +input-text("bargeld","bargeld")
            div N$ 
    div(classs="sheet-logo")
        img(src="https://raw.githubusercontent.com/Gorthian/Roll20_NoReturn_CharacterSheet/main/images/logo_200px.png")

//
    ********************************
    * ENDE src/html/page-two/block-one.pug
    ********************************