//-
    CREATED by          Gorthian
    Letzte Änderung		2023-06-30

//
    ********************************
    * START src/html/page-two/block-three.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div(class="sheet-2cols")
    div 
        div(class="sheet-box")
            h1(data-i18n="waffenkampf_und_nahkampf")
            div(class="sheet-nahkampfwaffen")
                div(class="sheet-nahkampfwaffen-kopfzeile")
                    span(data-i18n="bezeichnung")
                    span(data-i18n="fertigkeit")
                    span(data-i18n="angriff")
                    span(data-i18n="parade")
                    span(data-i18n="schaden")
                fieldset(class="repeating_nahkampfwaffen")
                    div(class="sheet-nahkampfwaffen-zeile")
                        div
                            input(type="text" name="attr_nahkampfwaffe_bezeichnung")
                        div
                            input(type="text" name="attr_nahkampfwaffe_fertigkeit")
                        div
                            input(type="text" name="attr_nahkampfwaffe_angriff")
                        div
                            input(type="text" name="attr_nahkampfwaffe_parade")
                        div
                            input(type="text" name="attr_nahkampfwaffe_schaden")
                    details 
                        summary(class="sheet-summary-nahkampfwaffen") &nbsp;
                        textarea(name="attr_nahkampfwaffe-info" class="sheet-nahkampfwaffen")
        div(class="sheet-2cols-50-50")
            +repeating-textarea("bio-abnormitaeten")
            +repeating-textarea("bio-eigenschaften")
    div 
        +repeating-textarea("wichtige-notiz")
        +repeating-textarea("physiologische-stoerungen")
    
//
    ********************************
    * ENDE src/html/page-two/block-three.pug
    ********************************