rolltemplate.sheet-rolltemplate-attack
  .sheet-template-container
    .sheet-template-header
      | {{#character}}
      span.sheet-template-character {{character}}
      | {{/character}}
      | Attaque sauvagement
      | {{#equipment}}
      span.sheet-template-equipment ( {{equipment}} )
      | {{/equipment}}
    .sheet-template-body
      | {{#jet}}
      span {{jet}}
      | {{/jet}}
