rolltemplate.sheet-rolltemplate-base
  .sheet-template-container
    .sheet-template-header
      | {{#character}}
      span.sheet-template-character {{character}}
      | {{/character}}
      | Fait appel au destin
    .sheet-template-body
      | {{#jet}}
      span {{jet}}
      | {{/jet}}
