%hide {
    display: none;
}

%show {
    display: block;
}

%show-grid {
    display: grid;
}

// Attribute Settings

@each $attribute in $attributes {
    .sheet-control__hide--#{$attribute} {
        @extend %hide;
    }
}

input[name*="characteristic"] {
    @each $attribute in $attributes {
        &[value="#{$attribute}"] ~ .sheet-control__hide--#{$attribute} {
            @extend %show;
        }    
    }
}

// Skill Settings

@each $skill in $skills {
    .sheet-control__hide--#{$skill}_settings {
        @extend %hide;
    }
    .sheet-control__hide--settings {
        @extend %hide;
    }
}

@each $skill in $specialisations {
    .sheet-control__hide--#{$skill}_settings {
        @extend %hide;
    }
    .sheet-control__hide--settings {
        @extend %hide;
    }
}

input[name*="settings"] {
    @each $skill in $skills {
        &[value="1"] ~ div > .sheet-control__hide--#{$skill}_settings {
            @extend %show-grid;
        }
        &[value="1"] ~ div > div[class*="settings"] {
            @extend %show-grid;
        }
    }

    @each $skill in $specialisations {
        &[value="1"] ~ div > .sheet-control__hide--#{$skill}_settings {
            @extend %show-grid;
        }
        &[value="1"] ~ div > div[class*="settings"] {
            @extend %show-grid;
        }
    }
}

// Specialisation Rows

@each $specialisation in $specialisations {

    .sheet-control__hide--#{$specialisation} {
        @extend %hide;
    }
}

input[name*="control"] {
    @each $specialisation in $specialisations {
        &[value="on"] + .sheet-control__hide--#{$specialisation} {
            @extend %show-grid;
        }
    }
}

// Custom Selections

.sheet-control__custom {
    display: none;
}

input.sheet-control__custom[value*=Custom] {
    display: none; 

    & + select.sheet-control__custom {
        display: none;
    }

    & ~ .sheet-control__custom {
        display: grid;
            grid-template-columns: 1fr 2em;
    }
}

// Talent Setting Control

@each $block in "talent", "condition", "psychology", "corruption", "critical", "career", "species" {
    .sheet-control__hide--#{$block}_settings {
        @extend %hide;
    }
    .sheet-control__hide--settings {
        @extend %hide;
    }
}

input[name*="settings"] {
    @each $block in "talent", "condition", "psychology", "corruption", "critical", "career", "species" {
        &[value="1"] + div > .sheet-control__hide--#{$block}_settings {
            @extend %show-grid;
        }
        &[value="1"] + div > div[class*="settings"] {
            @extend %show-grid;
        }
        &[value="1"] + div > .sheet-wfrp-#{$block}table__cell--description {
            display: none !important;
        }
    }
}

// Combat Settings Setting Control

@each $block in "trappings", "armour", "critical", "weapon", "spell" {
    .sheet-control__hide--#{$block}_settings {
        @extend %hide;
    }
    .sheet-control__hide--settings {
        @extend %hide;
    }
}

input[name*="settings"] {
    @each $block in "trappings", "armour", "critical", "weapon", "spell" {
        &[value="1"] + div > .sheet-control__hide--#{$block}_settings {
            @extend %show-grid;
        }
        &[value="1"] + div > div[class*="settings"] {
            @extend %show-grid;
        }
        &[value="1"] + div > .sheet-wfrp-#{$block}table__cell--description {
            display: none !important;
        }
    }
}

// Trait Toggle 

.sheet-wfrp-traittoggle {

    @at-root label#{&} {
        text-align: left;
    
        cursor: pointer;
    }

    @at-root input#{&}__hide {
        display: none;
    }

    &__span {
        text-align: left;
    }
}

@each $trait in "talent","condition","psychology","corruption", "critical" {
    
    .sheet-wfrp-#{$trait}table__row {
        
        .sheet-wfrp-#{$trait}table__cell--description {
            @extend %hide;
        }
    
        input[name="attr_#{$trait}_toggle"][value="1"]
        { 
            & + .sheet-wfrp-#{$trait}table__cell--description {
                @extend %show-grid;
            }
        }
    } 
}


// Talent Test Control

@each $element in "characteristic", "skill" {

    .sheet-control__hide--#{$element} {
        @extend %hide;
    }
}

input[name="attr_talent_test_type"] {
    @each $element in "characteristic", "skill" {
        &[value="#{$element}"] ~ .sheet-control__hide--#{$element} {
            @extend %show-grid;
        }
    }
}

// Spell Control

@each $type in "Spell", "Prayer", "Custom" {
    .sheet-control__hide--#{$type} {
        @extend %hide;
    }
}

input[name*="type"] {
    @each $type in "Spell", "Prayer", "Custom" {
        &[value="#{$type}"] ~ .sheet-control__hide--#{$type} {
            @extend %show-grid;
        }
    }
}

input[name*=attack_damage_bonus],
input[name*=weapon_damage_bonus] {
    + span {
        display: none;
    }

    &[value="on"] + span {
        display: inline-block;
    }
}

input[name*=setting_button_hide] {
    &[value="2"] ~ * .repcontrol {
        display: none;
    }
}

// NPC Settings Control

@each $block in "npcattack", "npctrait", "npctalent" {
    .sheet-control__hide--#{$block}_settings {
        @extend %hide;
    }
    .sheet-control__hide--settings {
        @extend %hide;
    }
}

input[name*="settings"] {
    @each $block in "npcattack", "npctrait", "npctalent" {
        &[value="1"] + div > .sheet-control__hide--#{$block}_settings {
            @extend %show-grid;
        }
        &[value="1"] + div > div[class*="settings"] {
            @extend %show-grid;
        }
        &[value="1"] + div > .sheet-wfrp-#{$block}table__cell--description {
            display: none !important;
        }
    }
}

// NPC Settings Control

.sheet-wfrp-npcsettings__wrapper {
    @extend %hide;
}

input[name*="npc_settings"] {
    &[value="on"] + .sheet-wfrp-npcsettings__wrapper {
        @extend %show-grid;
    }
}

// NPC Block Control

.sheet-wfrp-npc__skills,
.sheet-wfrp-npctrappings {
    display: none;
}

input[name*="skill_flag"][value="on"] + .sheet-wfrp-npc__skills {
    display: block;
}

input[name*="trapping_flag"][value="on"] + .sheet-wfrp-npctrappings {
    display: block;
}


.sheet-wfrp-compendium_warning {
    display: none;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;

    background-color: rgba(0,0,0,.6);

    &_inside {
        display: block;
        position: sticky;
        top: 50%;
        width: 50%;
        margin: 5em auto;
        padding: $margin-general * 4;
        
        background: #eff2f1;
        background: url('https://s3.amazonaws.com/files.d20.io/images/144589463/lqxlbyKEgMXnVw8VajQTCQ/max.png') #eff2f1 center/cover;
        border: 15px solid transparent;
        border-image: url("https://s3.amazonaws.com/files.d20.io/images/149238777/ywxEJDLgdNlQGlSSRbjpmw/max.png?1594320939") 30 round;

        font-family: $font-family-general;
        font-size: $h2-size;
        text-align: center;
        text-transform: uppercase;
    }
}

.sheet-wfrp-wrapper.active-drop-target.dropping .sheet-wfrp-compendium_warning {
    display: block;
}

input[type="hidden"][name*="species_disable3"]{

    &[value="1"] {

        & ~ * input[type="radio"][value="3"]:not(:checked) {
            pointer-events: none;
            opacity: .5;
        }
    }
}

input[type="hidden"][name*="species_disable5"]{

    &[value="1"] {

        & ~ * input[type="radio"][value="5"]:not(:checked) {
            pointer-events: none;
            opacity: .5;
        }
    }
}