//
  CREATED by      Gorthian
  Version			    v2.0
  Letzte Änderung 2022-11-25
  GitHub			    https://github.com/Gorthian/Roll20_NHKS_CharacterSheet
  Wiki			      https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/wiki
  Bugs & Issues	  https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/issues

// Variablen
-
  //- Aktuell noch nicht genutzt

//
  ********************************
  * START SRC/HTML/MAIN-TAB.pug
  ********************************
.sheet-main-tab
    .sheet-general
      div
        h1
          span(data-i18n='actor')
        span.sheet-input-line
          span.sheet-label(data-i18n='name')
          input(type='text' name='attr_character_name')
        span.sheet-input-line
          span.sheet-label(data-i18n='gender')
          input(type='text' name='attr_actor-gender')
        span.sheet-input-line
          span.sheet-label(data-i18n='age')
          input(type='text' name='attr_actor-age')
        span.sheet-input-line
          span.sheet-label(data-i18n='weight')
          input(type='text' name='attr_actor-weight')
        span.sheet-input-line
          span.sheet-label(data-i18n='size')
          input(type='text' name='attr_actor-size')
        span.sheet-input-line
          span.sheet-label(data-i18n='nationality')
          input(type='text' name='attr_actor-nationality')
        p
          span.sheet-label(data-i18n='stature')
          textarea(name='attr_actor-stature' value='')
        p
          span.sheet-label(data-i18n='description')
          textarea(name='attr_actor-description' value='')
      div
        h1
          span(data-i18n='role')
        span.sheet-input-line
          span.sheet-label(data-i18n='role-name')
          input(type='text' name='attr_role-name' value='')
        span.sheet-input-line
          span.sheet-label(data-i18n='role-type')
          select(name='attr_role-type')
            option(value='main' data-i18n='main-role' selected='selected')
            option(value='supporting' data-i18n='supporting-role')
        span.sheet-input-line
          span.sheet-label(data-i18n='movieplot')
          textarea(name='attr_movieplot' value='')
        span.sheet-input-line
          span.sheet-label(data-i18n='role-description')
          textarea(name='attr_role-description' value='')
        span.sheet-input-line.sheet-height-45
          span.sheet-label(data-i18n='role-inventory')
          textarea.sheet-textarea-big(name='attr_role-inventory' value='')
    h1
      span(data-i18n='attributes')
    .sheet-attributes
      .sheet-attributes-base
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-knowledge')
              span.sheet-attr-short(data-i18n='knowledge-short')
              br
              span.sheet-attr-full(data-i18n='knowledge')
          input.sheet-attribute-value(type='number' name='attr_knowledge')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-strength')
              span.sheet-attr-short(data-i18n='strength-short')
              br
              span.sheet-attr-full(data-i18n='strength')
          input.sheet-attribute-value(type='number' name='attr_strength')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-coolness')
              span.sheet-attr-short(data-i18n='coolness-short')
              br
              span.sheet-attr-full(data-i18n='coolness')
          input.sheet-attribute-value(type='number' name='attr_coolness')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-stamina')
              span.sheet-attr-short(data-i18n='stamina-short')
              br
              span.sheet-attr-full(data-i18n='stamina')
          input.sheet-attribute-value(type='number' name='attr_stamina')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-chi')
              span.sheet-attr-short(data-i18n='chi-short')
              br
              span.sheet-attr-full(data-i18n='chi')
          input.sheet-attribute-value(type='number' name='attr_chi')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-dexterity')
              span.sheet-attr-short(data-i18n='dexterity-short')
              br
              span.sheet-attr-full(data-i18n='dexterity')
          input.sheet-attribute-value(type='number' name='attr_dexterity')
      .sheet-attributes-calc
        .sheet-input-line
          span.sheet-attr-name(data-i18n='hitpoints')
          br
          span.sheet-attr-desc(data-i18n='hitpoints-desc')
          br
          input(type='number' name='attr_hitpoints_current')
          |  / 
          input.sheet-no-arrows(type='number' name='attr_hitpoints_max' readonly='')
          br
          span.sheet-attr-name(data-i18n='role')
          br
          input(type='number' name='attr_role_hitpoints_current')
          |  / 
          input.sheet-no-arrows(type='number' name='attr_role_hitpoints_max' readonly='')
        .sheet-input-line
          span.sheet-attr-name(data-i18n='chipoints')
          br
          span.sheet-attr-desc(data-i18n='chipoints-desc')
          br
          input(type='number' name='attr_chipoints_current')
          |  / 
          input.sheet-no-arrows(type='number' name='attr_chipoints_max' readonly='')
          br
          span.sheet-attr-name(data-i18n='role')
          br
          input(type='number' name='attr_role_chipoints_current')
          |  / 
          input.sheet-no-arrows(type='number' name='attr_role_chipoints_max' readonly='')
        .sheet-input-line
          button(type='action' name='act_initiative')
            span.sheet-attr-name(data-i18n='initiative')
          span.sheet-attr-desc(data-i18n='initiative-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_initiative' readonly='')
        .sheet-input-line
          span.sheet-attr-name(data-i18n='famepoints')
          br
          input(type='number' name='attr_famepoints')
          br
          span.sheet-attr-name(data-i18n='awardpoints')
          br
          input(type='number' name='attr_awardpoints')
          br
          span.sheet-attr-name(data-i18n='take2points')
          br
          input(type='number' name='attr_take2points')
        .sheet-input-line
          span.sheet-attr-name(data-i18n='melee-attack')
          br
          span.sheet-attr-desc(data-i18n='melee-attack-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_melee-attack' readonly='')
          br
          span.sheet-attr-name(data-i18n='melee-defense')
          br
          span.sheet-attr-desc(data-i18n='melee-defense-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_melee-defense' readonly='')
          br
          span.sheet-attr-name(data-i18n='melee-damage')
          br
          span.sheet-attr-desc(data-i18n='melee-damage-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_melee-damage' readonly='')
        .sheet-input-line
          span.sheet-attr-name(data-i18n='ranged-attack')
          br
          span.sheet-attr-desc(data-i18n='ranged-attack-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_ranged-attack' readonly='')
          br
          span.sheet-attr-name(data-i18n='ranged-damage')
          br
          span.sheet-attr-desc(data-i18n='ranged-damage-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_ranged-damage' readonly='')    
    .sheet-skills
      .sheet-skills-left

        include skill-list.pug

        div
          h1
            span(data-i18n='misc')
          textarea(name='attr_actor-misc' value='')
      .sheet-skills-right
        div
          h1
            span(data-i18n='advantages-and-disadvantages')
          fieldset.repeating_actor-advantages-disadvantages
            .sheet-actor-advantage
              input(type='text' name='attr_actor-advantage-name' value='')
              textarea(name='attr_actor-advantage-description' value='')
              span.sheet-label(data-i18n='is-role-advantage')
              input(type='checkbox' name='attr_actor-advantage-is-role-advantage' value='1')
        .sheet-martialarts
          h1
            span(data-i18n='martialarts')
          fieldset.repeating_actor-martialarts
            .sheet-martialarts
              input(type='text' name='attr_actor-martialarts-name' value='')
              .sheet-radio-set
                input.sheet-radiobox.sheet-reset(checked='checked' type='radio' name='attr_actor-martialarts-level' value='0')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='1')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='2')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='3')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='4')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='5')
              textarea(name='attr_actor-martialarts-description' value='')
        .sheet-movies
          h1
            span(data-i18n='movies')
          fieldset.repeating_actor-movies
            .sheet-movies
              input(type='text' name='attr_actor-movie-name' value='')
              .sheet-radio-set
                input.sheet-radiobox.sheet-reset(checked='checked' type='radio' name='attr_movie-award' value='0')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='1')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='2')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='3')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='4')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='5')
        div
          h1
            span(data-i18n='awards')
          textarea(name='attr_actor-awards' value='')

//
  ********************************
  * ENDE SRC/HTML/MAIN-TAB.pug
  ********************************