//
    CREATED by      Gorthian
    Version				  v2.0
    Letzte Änderung	2022-11-25
    GitHub				  https://github.com/Gorthian/Roll20_NHKS_CharacterSheet
    Wiki				    https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/wiki
    Bugs & Issues		https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/issues

// Variablen
-
    //- Aktuell noch nicht genutzt

//
    ********************************
    * START SRC/HTML/ROLLTEMPLATES.pug
    ********************************

rolltemplate(class="sheet-rolltemplate-skill")
    div(class="sheet-template-container")
        div(class="sheet-template-header")
            | {{name}}
        div(class="sheet-template-header")
            span(data-i18n="{{type}}")
            | {{role-name}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                | {{skill}}
            div(class="sheet-template-value")
                | {{skillValue}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                | {{attribute}}
            div(class="sheet-template-value")
                | {{attributeValue}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                | {{modifier}}
            div(class="sheet-template-value")
                | {{modifierValue}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                span(data-i18n="target-value")
            div(class="sheet-template-value")
                | {{computed::target}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                span(data-i18n="roll")
            div(class="sheet-template-value")
                | {{roll1}}
        div(class="sheet-template-result")
            | {{computed::roll1}}

rolltemplate(class="sheet-rolltemplate-attribute")
    div(class="sheet-template-container")
        div(class="sheet-template-header")
            | {{name}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                | {{attribute}}
            div(class="sheet-template-value")
                | {{attributeValue}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                | {{modifier}}
            div(class="sheet-template-value")
                | {{modifierValue}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                span(data-i18n="target-value")
            div(class="sheet-template-value")
                | {{computed::target}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                span(data-i18n="roll")
            div(class="sheet-template-value")
                | {{roll1}}
        div(class="sheet-template-result")
            | {{computed::roll1}}

rolltemplate(class="sheet-rolltemplate-initiative")
    div(class="sheet-template-container")
        div(class="sheet-template-header")
            | {{name}}
        div(class="sheet-template-row")
            div(class="sheet-template-key")
                | {{initiative}}
            div(class="sheet-template-value")
                | {{roll1}}
        div(class="sheet-template-result")
            span(data-i18n="rolltemplate-intiative-desc")

//
    ********************************
    * ENDE SRC/HTML/ROLLTEMPLATES.pug
    ********************************