//
    CREATED by      Gorthian
    Version			v2.0
    Letzte Änderung 2022-11-25
    GitHub			https://github.com/Gorthian/Roll20_NHKS_CharacterSheet
    Wiki			https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/wiki
    Bugs & Issues	https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/issues

// Variablen
-
    //- Aktuell noch nicht genutzt

//
    ********************************
    * START SRC/HTML/WEAPON-TAB.pug
    ********************************
.sheet-weapon-tab
    h1
      span(data-i18n='role-weapons')
    .sheet-role-weapon-table
      fieldset.repeating_role-weapons
        .sheet-weapon-entry
          div
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-name')
              input(type='text' name='attr_weapon-name')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-damage')
              input(type='number' name='attr_weapon-damage')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-strength')
              input(type='number' name='attr_weapon-strength')
            .sheet-input-line
              span.sheet-label(data-i18n='skill')
              select(name='attr_weapon-skill')
                option(value='melee-small' data-i18n='melee-small' selected='selected')
                option(value='melee-medium' data-i18n='melee-medium' selected='selected')
                option(value='melee-big' data-i18n='melee-big' selected='selected')
                option(value='pistols' data-i18n='pistols' selected='selected')
                option(value='rifles' data-i18n='rifles' selected='selected')
                option(value='heavy-weapons' data-i18n='heavy-weapons' selected='selected')
                option(value='melee-misc' data-i18n='melee-misc' selected='selected')
                option(value='ranged-misc' data-i18n='ranged-misc' selected='selected')
                option(value='unarmed' data-i18n='unarmed' selected='selected')
            .sheet-input-line
              span.sheet-label(data-i18n='description')
              textarea(name='attr_weapon-description')
          div
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-attention')
              input(type='checkbox' name='attr_weapon-attention')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-burst')
              input(type='checkbox' name='attr_weapon-burst')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-flexible')
              input(type='checkbox' name='attr_weapon-flexible')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-grib')
              input(type='checkbox' name='attr_weapon-grib')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-delicate')
              input(type='checkbox' name='attr_weapon-delicate')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-reload')
              input(type='checkbox' name='attr_weapon-reload')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-martial')
              input(type='checkbox' name='attr_weapon-martial')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-recoil')
              input(type='checkbox' name='attr_weapon-recoil')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-painful')
              input(type='checkbox' name='attr_weapon-painful')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-painful+')
              input(type='checkbox' name='attr_weapon-painful+')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-whip')
              input(type='checkbox' name='attr_weapon-whip')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-defense')
              input(type='checkbox' name='attr_weapon-defense')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-throw')
              input(type='checkbox' name='attr_weapon-throw')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-2handbonus')
              input(type='checkbox' name='attr_weapon-2handbonus')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-2hand')
              input(type='checkbox' name='attr_weapon-2hand')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-twin')
              input(type='checkbox' name='attr_weapon-twin')
        br
//
    ********************************
    * ENDE SRC/HTML/WEAPON-TAB.pug
    ********************************