.charsheet div,
.charsheet textarea,
.charsheet input,
.charsheet span,
{
    box-sizing: border-box;
}
/* Roll templates  */
.sheet-rolltemplate-nathaNumMsg table {
    width: 189px;
    padding: 2px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border: none;
    background-color: #FEFAFA;
    border-bottom: 1px solid #B80000;
}
.sheet-rolltemplate-nathaNumMsg tr {
    border-left: 1px solid #B80000;
    border-right: 1px solid #B80000;
}
.sheet-rolltemplate-nathaNumMsg th {
    background-color: #B80000;
    color : #FBFCFC;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    margin-bottom: 6px;
}
.sheet-rolltemplate-nathaNumInit table {
    width: 189px;
    padding: 2px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border: none;
    background-color: #FAF4FA;
    border-bottom: 1px solid #931693;
}
.sheet-rolltemplate-nathaNumInit tr {
    border-left: 1px solid #931693;
    border-right: 1px solid #931693;
}
.sheet-rolltemplate-nathaNumInit th {
    background-color: #931693;
    color : #FBFCFC;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    margin-bottom: 6px;
}
.sheet-rolltemplate-nathaNumRecovery table {
    width: 189px;
    padding: 2px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border: none;
    background-color: #EAF3EA;
    border-bottom: 1px solid #2E8A2E;
}
.sheet-rolltemplate-nathaNumRecovery tr {
    border-left: 1px solid #2E8A2E;
    border-right: 1px solid #2E8A2E;
}
.sheet-rolltemplate-nathaNumRecovery th {
    background-color: #2E8A2E;
    color : #FBFCFC;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    margin-bottom: 6px;
}
.sheet-rolltemplate-nathaNumRoll table
, .sheet-rolltemplate-nathaNumBasicRoll table {
    width: 189px;
    padding: 2px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border: none;
    background-color: #FBFCFC;
    border-bottom: 1px solid #4E686A;
}
.sheet-rolltemplate-nathaNumRoll tr:first-child
, .sheet-rolltemplate-nathaNumBasicRoll tr:first-child
, .sheet-rolltemplate-nathaNumRecovery tr:first-child
, .sheet-rolltemplate-nathaNumInit tr:first-child
, .sheet-rolltemplate-nathaNumMsg tr:first-child {
    border:none;
}
.sheet-rolltemplate-nathaNumRoll tr
, .sheet-rolltemplate-nathaNumBasicRoll tr {
    border-left: 1px solid #4E686A;
    border-right: 1px solid #4E686A;
}
.sheet-rolltemplate-nathaNumRoll th
, .sheet-rolltemplate-nathaNumBasicRoll th {
    background-color: #4E686A;
    color : #FBFCFC;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    margin-bottom: 6px;
}
.sheet-rolltemplate-nathaNumRoll td
, .sheet-rolltemplate-nathaNumBasicRoll td
, .sheet-rolltemplate-nathaNumRecovery td
, .sheet-rolltemplate-nathaNumInit td
,.sheet-rolltemplate-nathaNumMsg td {
    padding-left: 5px;
    font-family: "Verdana";
    font-size: 0.9em;
}
.sheet-rolltemplate-nathaNumRoll hr
, .sheet-rolltemplate-nathaNumBasicRoll hr
, .sheet-rolltemplate-nathaNumRecovery hr
, .sheet-rolltemplate-nathaNumInit hr
,.sheet-rolltemplate-nathaNumMsg hr {
    margin: 4px 0 4px 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
}
.sheet-rolltemplate-nathaNumRoll .sheet-tcat
, .sheet-rolltemplate-nathaNumBasicRoll .sheet-tcat
, .sheet-rolltemplate-nathaNumRecovery .sheet-tcat
, .sheet-rolltemplate-nathaNumInit .sheet-tcat
,.sheet-rolltemplate-nathaNumMsg .sheet-tcat {
    font-style: italic;
    font-variant: small-caps;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
}
.sheet-rolltemplate-nathaNumRoll .inlinerollresult
, .sheet-rolltemplate-nathaNumMsg .inlinerollresult {
    font-weight:normal;
    background-color: transparent;
    border: none;
    font-family: "Verdana";
    font-size: 1em;
}
.sheet-rolltemplate-nathaNumBasicRoll .inlinerollresult
, .sheet-rolltemplate-nathaNumRecovery .inlinerollresult
, .sheet-rolltemplate-nathaNumInit .inlinerollresult {
    font-weight:normal;
    background-color: transparent;
    font-family: "Verdana";
    font-size: 1em;
    border: 1px solid LightGray;
}
/* RADIO  */
.charsheet input[type="radio"].sheet-falseRadio
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 65px;
    cursor: pointer;
    opacity: 0;
    z-index: 9999;
}
.charsheet span.sheet-falseRadio {
    position: relative;
    top: -10px;
    left: 0px;
    text-align: center;
    display: inline-block;
    margin-left, margin-right: 2px;
    padding-left, padding-right: 3px;
    width: 65px;
    cursor: pointer;
    border: none;
    color: #000000;
    background: transparent;
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
}
.charsheet input.sheet-falseRadio:checked + span.sheet-falseRadio
{
    font-weight: bold;
    color: #000077;
}
.charsheet input.sheet-falseRadio:checked + span.sheet-falseRadio::after
{
    content: '✔';
}
/* TABS HANDLING */
.charsheet div[class^="sheet-section"] {
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}
.charsheet div[class^="sheet-npc"] {
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}
.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] {
    max-height: 999998px;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: auto;
}
.charsheet input.sheet-tab {
    width: 180px;
    height: 17px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    z-index: 9999;
}
.charsheet span.sheet-tab {
    text-align: center;
    display: inline-block;
    padding-left, padding-right: 3px;
    width: 180px;
    height: 20px;
    cursor: pointer;
    position: relative;
    margin-left: -185px;
    border: 1px solid #4E686A;
    color: #000000;
    background: lightgrey;
    border-radius:6px;
    font-size: 11px;
}
.charsheet input.sheet-tab::before {
    content: attr(title);
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #4E686A;
    color:white;
}
.charsheet input.sheet-tab:checked::before {
    background: #4E686A;
    color:white;
}
.charsheet input.sheet-tab1:checked ~ div.sheet-section-pc1,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-pc2,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-pc3,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-npc {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: hidden;
    width: 100%;
}
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
{
    background: #4E686A;
    color: white;
}
/* END TABS HANDLING */
.charsheet span.sheet-heavy {
    font-size: 13px;
    color: #000066;
    font-weight: bold;
}
.charsheet label {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    font-family: "Verdana";
    vertical-align: middle;
    color: #000000;
    display: inline-block;
}
.charsheet input[type=text] {
    margin: 1px 1px 1px 1px;
    width: 100%;
    height: 24px;
    display: inline-block;
    border: 1px solid #4E686A;
    color: #000000;
    text-align: left;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}
.charsheet input[type=text].boldInput {
    font-weight: bold;
}
.charsheet input[type=number] {
    margin: 1px 1px 1px 1px;
    width: 100%;
    display: inline-block;
    height: 24px;
    text-align: right;
    border: 1px solid #4E686A;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}
.charsheet input:disabled {
    margin: 1px 1px 1px 1px;
    display: inline-block;
    height: 24px;
    text-align: right;
    border: 0px;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}
.charsheet input[type=checkbox] {
    margin: 1px 1px 1px 1px;
    display: inline-block;
    border: 1px solid #4E686A;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}
.charsheet div.sheet-inputlike {
    margin:0px;
    padding: 0px 3px 0px 3px;
    color: #000000;
    display: inline-block;
    background: #FBFCFC;
    height: 20px;
    border: 1px solid #4E686A;
    border-radius:6px;
    font-size: 11px;
    font-weight:normal;
    text-align: left;
}
.charsheet select {
    margin: 1px 1px 1px 1px;
    height: 24px;
    display: inline-block;
    border: 1px solid #4E686A;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}
.charsheet textarea {
    margin: 1px 1px 1px 1px;
    resize: vertical;
    display: inline-block;
    text-align: left;
    border: 1px solid #4E686A;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}
.charsheet table td, .charsheet table th {
    border-collapse : collapse;
    font-size: 12px;
    font-weight: bold;
    font-family: "Verdana";
    text-align: center;
    vertical-align: middle;
    border: 0px solid black;
    padding: 0px;
    color: #000000;
}
.charsheet table td.sheet-tdsmall-center {
    text-align: center;
    font-weight: normal;
}
.charsheet table td.sheet-td-left {
    text-align: left;
    font-weight: bold;
}
.charsheet table td.sheet-tdsmall-left {
    text-align: left;
    font-weight: normal;
}
.charsheet table td.sheet-td-right {
    text-align: right;
    font-weight: bold;
}
.charsheet table td.sheet-tdsmall-right {
    text-align: right;
    font-weight: normal;
}
.charsheet button {
    display: inline-block;
    box-shadow: 0px 0px 5px 1px #056da1 inset;
    font-size: 12px;
    font-family: "Verdana";
    color: #000066;
    text-align: right;
}
.charsheet button[type=roll] {
    display: inline-block;
    box-shadow: 0px 0px 5px 1px #056da1 inset;
    font-size: 11px;
    font-family: "Verdana";
    color: #000066;
}
button[type=roll].sheet-apibt{
    padding: 2px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-shadow: none;
    box-shadow: none;
    text-align:center;
    vertical-align: middle;
    line-height: 0px;
    font-size: 1em;
    font-weight: normal;
    width:15px;
    height: 15px;
    color: #6D0100;
    border: 1px solid #CC9F9F;
    border-radius: 0px 3px 0px 3px;
}
button[type=roll].sheet-apibt:hover{
    border-color: #6D0100;
    font-weight: bold;
}
.charsheet hr {
    margin: 4px 0 4px 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0));
}
.charsheet hr.sheet-two {
    margin: 4px 4px 4px 4px;
    border: 1px dashed #000066;
}
.charsheet {
    box-shadow: 0px 0px 12px 1px #4E686A inset;
    background-image: url("");
    background-color: #FEFEFF;
    background-attachment: fixed;
    font-family: "Verdana";
    font-size: 12px;
    text-align: left;
    color: #000000;
}
