/*  ====    ====    ===     */
input.sheet-new:checked ~ div.sheet-all {
    background: white;
    width:840px;
    height: 800px;
}
input.sheet-old:checked ~ div.sheet-all {
    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(-90deg, transparent 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size:
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px;
    width:840px;
    height: 800px;
}
.charsheet {
    background:white;
}

@font-face {
    font-family: 'Lenkastabilo'; 
    src: url('http://openfontlibrary.org/assets/fonts/lenka-stabilo/0665402e6f5dd451c8978a69f025cb0a/95711ccb070a792fa44c7d5a58ecaca8/Lenkastabilo.ttf');
    font-weight: normal; 
    font-style: normal;
}
/*  ====    ====    ===     */
/*============= TABS =============*/

div.sheet-tab-content
{ display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6
{
    display: block;
}

input.sheet-tab
{
    width: 150px;
    height: 20px;
    position: relative;
    left: 6px; 
    margin: 0px -1.5px;
    cursor: pointer;
    z-index: 1;
    border: 5px #A52A2A;
}

input.sheet-tab::before
{
    content: attr(title);
    /* 
    border: solid 1px #c8c8c8;
    border-bottom-color: black; */
    text-align: center;
    display: inline-block;
    
    background: #fff;
    color: black;
    
    width: 150px;
    height: 20px;
    font-size: 18px;

    border: 2px solid #A52A2A;
    font-family:"Lenkastabilo";
    padding:2px;
}

input.sheet-tab:checked::before
{
    background: black;
    color: white;
    border: 2px solid #A52A2A;
    font-family:"Lenkastabilo";
    padding:2px;
}

input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}

div.sheet-tab-content
{
    background: ;
    width:830px;   
    margin: 2px 0 0 5px;
    padding: 5px;
}

input.sheet-new:checked ~ div.sheet-tab1 {
    background: url('http://cdn.obsidianportal.com/assets/47485/BloodSplatter.png') no-repeat;
    background-position: right;
}

input.sheet-new:checked ~ div.sheet-tab2 {
    background: url('http://2.bp.blogspot.com/-zZ9ZOA0bpF4/U11yJA5BK9I/AAAAAAAAMTw/XlVFtPdiZoI/s1600/PNG+-+Vampiro+sangue+7.png') no-repeat; 
    background-position: right;
}

input.sheet-new:checked ~ div.sheet-tab3 {
    background: url('http://cdn.obsidianportal.com/assets/47485/BloodSplatter.png') no-repeat;
    background-position: right;
}

input.sheet-new:checked ~ div.sheet-tab4 {
    background: url('http://4.bp.blogspot.com/-NmRjgJI0FZA/UYgtnt9haPI/AAAAAAAANGU/gM9aoCNljh4/s1600/BETTER-BLOOD-SPLATTER-psd11647.png');
}

input.sheet-new:checked ~ div.sheet-tab5 {
    background: url('http://cdn.obsidianportal.com/assets/47485/BloodSplatter.png') no-repeat;
    background-position: right;
}

input.sheet-new:checked ~ .sheet-col {
    background: url('http://4.bp.blogspot.com/-NmRjgJI0FZA/UYgtnt9haPI/AAAAAAAANGU/gM9aoCNljh4/s1600/BETTER-BLOOD-SPLATTER-psd11647.png') no-repeat;
    background-size: 100%;

}
/*----- text styling-----*/

h3, h4, h5, th {
    font-family:"Lenkastabilo";
    text-shadow: 0px 0px 5px black,0px 0px 5px black,0px 0px 5px black;
    color:red;
}

/*-----textbox-----*/
.sheet-black {
    background:black;
    color:white;
    font-family:"Lenkastabilo";
}

.sheet-black h3 {
    color:white;
}

.sheet-center {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.sheet-bigname {
    text-align:center;
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:1em; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
    padding-top:10px;
    margin:2px;
    font-family:"Lenkastabilo";
    font-size:1.4em;
}

.sheet-bigname::-webkit-input-placeholder {
    padding-bottom:0px;
    padding-top:5px;
}


.sheet-mediumname {
    text-align:center;
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:1em; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
}

.sheet-textarea {
    background: url('');
    background-size:100%;
    width:97%;
    resize:vertical;
}
 
.sheet-hidden {
    display:none;
}

.sheet-textbox {
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:1em; 
    width: 260px; 
    padding-left:10px; 
    padding-right:10px; 
}

.sheet-numberbox[type="number"] {
    text-align:center;
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    height:28px; 
    padding-left:10px; 
    padding-right:10px; 
    width:100px; 
}

.sheet-numberbox[type="number"]::-webkit-inner-spin-button, 
.sheet-numberbox[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.sheet-skill_select {
    text-align:center;
    width:40px;
    height:25px;
    margin-bottom:0;
    overflow: hidden;
    padding-left:6px; 
    
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
}

select.sheet-skill_select  {
    position:relative;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom:0px;
    vertical-align:middle;
    margin-bottom:0;
    line-height: 100%;
}

select.sheet-skill_select option {
    color:red;
    padding-top:0px;
}

.sheet-lb {
    border-left: 1px solid black;
}

.sheet-rb {
    border-right: 1px solid black;
}
/*===== tables =====*/
.sheet-skilltable {
    background: url('');
    background-size:100%;
    color:black;
    font-weight:400;
    width:75%;
}

/* ======== Sheet-arrow to hide things========*/
input.sheet-arrow[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake sheet-arrow checkbox----- */

input.sheet-arrow[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 14px;
    height: 14px;
    content: "▼";
    transform: rotate(-90deg);
}

input.sheet-arrow[type="checkbox"]:checked + span::before {
    width: 14px;
    height: 14px;
    content: "▼";
    transform: rotate(0deg);
}

div.sheet-body {
    display: none;
}
/* -----Hiding areas with sheet-arrow ----- */

input.sheet-arrow {
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}
    /* -----Hide actual radio----- */
input.sheet-gore[type="radio"]
{
    opacity: 0;
    width: 30px;
    height: 15px;
    position: relative;
    top: 0px;
    left: 15px;
    margin: -15px;
    cursor: pointer;
    z-index: 1;
    box-shadow: inset 0px 0px 5px green;
}

    /* -----Fake radio----- */
input.sheet-gore[type="radio"] + span::before
{
    margin-right: 2px;
    border: solid 1px #a8a8a8;
    width: 30px;
    height: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    border:1px solid black;    
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: inset 0 0 5px black;
    
    background:white;
    
    content: "";
    width: 30px;
    height: 15px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}  
input.sheet-gore[type="radio"]:checked + span::before {
    background:black;
    
}

/*-----radio boxes-----*/

/*==========buttons=====|=====*/
    /*=====traits=====*/

.sheet-trait_roll[type="roll"]:before {
    content: ""!important;
    display: none;
}

.sheet-trait_roll[type="roll"] {
    width: 95%;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    line-height: 25px;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    
    background-color: transparent;
    border: 2px solid transparent; /* 1px solid black */;
    padding: 2px;
    padding-bottom:4px;

    font-size: 1em;
    color:white;

    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    font-weight: 700;
    font-family:"Lenkastabilo";
}

.sheet-trait_roll[type="roll"]:hover {
    border: 2px inset white; /* 1px solid black */;
    padding-left:4px;
    padding-top:4px;
    padding-right:2px;
    padding-bottom:0px;
    color:red;
}

.sheet-trait_roll[type="roll"]:active {
    color:black;
    background:red;
}
    /*=====skill button=====*/
.sheet-skillbutton[type="roll"]:before {
    content: ""!important;
    display: none;
}

.sheet-skillbutton[type="roll"] label,
.sheet-skillbutton[type="roll"] input,
.sheet-skillbutton[type="roll"] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    line-height: 0.7em;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    
    background-color: transparent;
    border: 1px solid black; /* 1px solid black */;
    padding: 2px;
    padding-bottom:4px;
    
    white-space: nowrap;
    border-radius: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.sheet-skillbutton[type="roll"]:hover {
    border: 2px inset gray; /* 1px solid black */;
    background:black;
}

.sheet-skillbutton[type="roll"]:active {
    border: 2px inset gray; /* 1px solid black */;
    background:red;
}
    /*=====traits=====*/

.sheet-Initiative_roll[type="roll"]:before {
    content: ""!important;
    display: none;
}

.sheet-Initiative_roll[type="roll"] {
    display: inline-block;
    margin: 0;
    line-height: 25px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    
    background: black;
    border: 2px solid transparent; /* 1px solid black */;
    padding: 2px;
    padding-bottom:4px;

    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    font-size: 1em;
    color:white;
    font-weight: 700;
    font-family:"Lenkastabilo";
}

.sheet-Initiative_roll[type="roll"]:hover {
    border: 2px inset white; 
    padding-left:4px;
    padding-top:4px;
    padding-right:2px;
    padding-bottom:0px;
    color:red;
}

.sheet-Initiative_roll[type="roll"]:active {
    color:black;
    background:red;
}


    
    















