@import url("https://fonts.googleapis.com/css?family=Almendra&display=swap");

.sheet-reasonabletextarea {
  width: 95%;
  height: 95px;
}
Input[type=text] {
    width: 9em;
}

input.sheet-fourshorttextinput {
    width: 4em;
}

input.sheet-eightmidtextinput {
    width: 8em;
}

input.sheet-sixteenlongtextinput {
    width: 16em;
}

input.sheet-twelvemidlongtextinput {
    width: 16em;
}

/*Configure the tab buttons*/
.sheet-character,
.sheet-skills,
.sheet-inventory,
.sheet-magic,
.sheet-languages,
.sheet-biographical,
.sheet-release,
.sheet-documentation {
	display: none;
    font-family: 'Almendra', serif;
    text-align: justify;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory,
.sheet-tabstoggle[value="magic"] ~ div.sheet-magic,
.sheet-tabstoggle[value="languages"] ~ div.sheet-languages,
.sheet-tabstoggle[value="biographical"] ~ div.sheet-biographical,
.sheet-tabstoggle[value="release"] ~ div.sheet-release,
.sheet-tabstoggle[value="documentation"] ~ div.sheet-documentation {
	display: grid;
	font-family: 'Almendra', serif;
    text-align: justify;
}

/*define tab pages*/

.sheet-character {
    width: 800px;
    height: 740px;
    font-family: 'Almendra', serif;
    text-align: justify;
    grid-gap: 5px;
	grid-template-columns: 170px 160px 160px 160px 150px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-areas:
        "common common common common common"
        "attributes atkdefattributes weaponattributes weaponattributes weaponattributes"
        "attributes atkdefattributes weaponattributes weaponattributes weaponattributes"
        "attributes evaattribute weaponattributes weaponattributes weaponattributes"
        "attributes steperattributes weaponattributes weaponattributes weaponattributes"
        "attributes steperattributes weaponattributes weaponattributes weaponattributes"
        "hpattributes AFattributes weaponattributes weaponattributes weaponattributes"
        "hpattributes AFattributes weaponattributes weaponattributes weaponattributes"
        "hpattributes AFattributes weaponattributes weaponattributes weaponattributes"
        "professionskillsattributes AFattributes posessionsattributes posessionsattributes posessionsattributes"
        "professionskillsattributes mamdattributes posessionsattributes posessionsattributes posessionsattributes"
        "professionskillsattributes mamdattributes posessionsattributes posessionsattributes posessionsattributes"
        "professionskillsattributes mamdattributes posessionsattributes posessionsattributes posessionsattributes"
        "professionskillsattributes moneyattributes posessionsattributes posessionsattributes posessionsattributes"
        "expattributes moneyattributes posessionsattributes posessionsattributes posessionsattributes"
        "expattributes moneyattributes posessionsattributes posessionsattributes posessionsattributes";
}

.sheet-skills {
    width: 800px;
    height: 950px;
    font-family: 'Almendra', serif;
    text-align: justify;
    grid-gap: 5px;
	grid-template-columns: 800px;
    grid-template-rows: 600px 300px;
    grid-template-areas:
        "professionskills"
        "secondaryskills";
}

.sheet-inventory {
    width: 800px;
    height: 950px;
    font-family: 'Almendra', serif;
    text-align: justify;
    grid-gap: 5px;
	grid-template-columns: 400px 400px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 20px 100px 150px;
    grid-template-areas:
        "posessions posessions"
        "posessions posessions"
        "posessions posessions"
        "posessions posessions"
        "money armour"
        "money armour"
        "money armour"
        "weapons weapons"
        "weapons weapons";
}

.sheet-magic {
    width: 800px;
    height: 1300px;
    font-family: 'Almendra', serif;
    text-align: justify;
    grid-gap: 5px;
	grid-template-columns: 400px 400px;
    grid-template-rows: 100px 100px 1000px;
    grid-template-areas:
        "sorcerermana elementalistmana"
        "mysticmana elementalistmana"
        "spells spells"
        "spells spells"
        "spells spells"
        "spells spells"
        "spells spells"
        "spells spells"
        "spells spells";
}

.sheet-languages {
    width: 800px;
    height: 2000px;
    font-family: 'Almendra', serif;
    text-align: justify;
    grid-gap: 5px;
	grid-template-columns: 600px;
    grid-template-rows: 775px 330px;
    grid-template-areas:
    "modlang"
    "anclang";
}

.sheet-biographical {
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}


.sheet-common {
    grid-area: common;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-attributes {
    grid-area: attributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-atkdefattributes {
    grid-area: atkdefattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-evaattribute {
    grid-area: evaattribute;
    font-family: 'Almendra', serif;
    border-style: solid;
    border-width: 2px;
}

.sheet-steperattributes {
    grid-area: steperattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-mamdattributes {
    grid-area: mamdattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-hpattributes {
    grid-area: hpattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-AFattributes {
    grid-area: AFattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-expattributes {
    grid-area: expattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-weaponattributes {
    grid-area: weaponattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-professionskillsattributes {
    grid-area: professionskillsattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-posessionsattributes {
    grid-area: posessionsattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-moneyattributes {
    grid-area: moneyattributes;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-professionskills {
    grid-area: professionskills;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-secondaryskillssec {
    grid-area: secondaryskills;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-posessions {
    grid-area: posessions;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-money {
    grid-area: money;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-armour {
    grid-area: armour;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-weapons {
    grid-area: weapons;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-sorcerermana {
    grid-area: sorcerermana;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-elementalistmana {
    grid-area: elementalistmana;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-mysticmana {
    grid-area: mysticmana;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-spells {
    grid-area: spells;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-modlang {
    grid-area: modlang;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

.sheet-anclang {
    grid-area: anclang;
    font-family: 'Almendra', serif;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}