div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4
{
    display: block;
}

input.sheet-tab
{
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before
{
    content: attr(title);


    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    
    width: 150px;
    height: 20px;
    font-size: 18px;
}

input.sheet-tab:checked::before
{
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}


div.sheet-tab-content
{
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}

button[type=roll].sheet-blank-roll-button::before {
    content: none;
}

button[type=roll].sheet-blank-roll-button {
    text-align: center;
    text-decoration: none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: inherit;
    margin: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: none;
}

.charsheet{
    background-color:white;
    font-family: Narkisim;
    font-size: medium;
}

.sheet-wrapper{
    overflow: auto;
    border-style: solid;
	background-color: White;
	border-color: lightGray;
	margin: 5px auto;
	border-width: thin;
	padding: 10px;
    width:800px;
	max-width: 90%;
}

.sheet-section{
    overflow: auto;
    border-bottom: solid 1px #1E9EE3;
}

.sheet-col{
    display:block;
    float:left;
    width:342px;
    margin-right:5px;
    margin-left:5px;
}

.sheet-input-field{
    background-color: #1E9EE3;
    display:block;
    border-radius: 5px;
    color: white;
    padding:5px;
    margin:5px;
    float: left;
}

.sheet-input-field2{
    background-color: #565F67;
    display:block;
    border-radius: 5px;
    color: white;
    padding:5px;
    margin:5px;
    float: left;
}

.sheet-input-field input{
    font-family: Narkisim;
    font-size: medium;
    margin-left:5px;
}

.sheet-input-field2 input{
    font-family: Narkisim;
    font-size: medium;
    margin-left:5px;
}

.sheet-abilities-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-spacing: 3px;
    border-collapse: separate;
}

.sheet-abilities-table th{
    background-color: #1E9EE3;
    color:white;
    font-weight: normal;
    border-radius: 5px;
    padding:5px;
}

.sheet-abilities-table td{
    padding:5px;
    background-color: #9DD6F5;
    border-radius: 5px;
    text-align: center;
}

.sheet-specialties{
    width: 170px;
    height: 38px;
    margin-bottom: 0;
    resize:none;
}

.sheet-section-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-spacing: 2px;
    border-collapse: separate;
}

.sheet-section-table th{
    width:150px;
    background-color: #303030;
    color:white;
    font-weight: normal;
    border-radius: 5px;
    padding:5px;
}

.sheet-section-table td{
    text-align: center;
    width:150px;
    background-color: white;
    color:#303030;
    font-weight: normal;
    border-radius: 5px;
    padding:5px;
}

.sheet-section-table2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-spacing: 2px;
    border-collapse: separate;
}

.sheet-section-table2 th{
    background-color: #303030;
    color:white;
    font-weight: normal;
    border-radius: 5px;
    padding:5px;
}

.sheet-section-table2 td{
    text-align: center;
    background-color: white;
    color:#303030;
    font-weight: normal;
    border-radius: 5px;
    padding:5px;
}

.sheet-info{
    text-align: center;
    width:150px;
    color:#303030;
    font-weight: normal;
    font-size: 70%;
    border-radius: 5px;
    padding:2px;
}

.sheet-info2{
    text-align: center;
    color:#303030;
    font-weight: normal;
    font-size: 70%;
    border-radius: 5px;
    padding:2px;
}

