.sheet-footer
  margin-top 1em

.sheet-momentum
  display flex

input[type=checkbox].sheet-momentum-burn:hover ~ div.sheet-momentum-burn-back
  background-color #ccc
  transition: .5s ease;

.sheet-momentum-box-input:hover ~ .sheet-momentum-box-back
  background: #ccc
  transition: .5s ease;

.sheet-momentum-box-input:checked ~ .sheet-momentum-box-back
  background: #4C4D4F
  color: white
  transition: .5s ease;

input[type=checkbox].sheet-momentum-burn
  opacity 0
  border 0

div.sheet-momentum-burn-back
  font-weight bold
  text-align center
  line-height 22px
  padding 0em 0.2em

label.sheet-momentum-burn
  borderCommon()
  padding 0
  cursor pointer
  margin 0
  font-size 1em

.sheet-momentum-box-input
  opacity 0
  border 0

.sheet-momentum-status-box
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  border-radius: 0%
  background: transparent
  border 2px solid #4c4d4f
  padding-left 0.2em

.sheet-momentum-status-value
  width auto
  font-size 1em

h3.sheet-momentum-max-box,
h3.sheet-momentum-reset-box
  display: inline
  padding-left: 1em

.sheet-momentum-box-value
  font-weight bold 
  font-size 16px
  color inherit

.sheet-momentum-input
  font-weight bold
  width 30px
  font-size 13px
  text-align center
  background transparent

.sheet-momentum-box
  cursor pointer
  borderCommon()
  padding 0
  margin 0

.sheet-momentum-dark
  color white
  border: 2px solid #4b4d4f
  background: #4b4d4f
  width: 100%

.sheet-momentum-max,
.sheet-momentum-reset
  line-height 1.4em
  font-size 1em

.sheet-momentum-title
  color white
  line-height 1.2em
  font-size 1.2em


.sheet-momentum-header
  height 20px

.sheet-sub-header-static
  margin-top 0.2em

.sheet-momentum-status-attr
  padding 0em 0.2em