//- Used for character stats and reusable variables. Often overlaps constants.ts
- const attributes = ['str', 'dex', 'end', 'luck', 'awr', 'int', 'cha']
- const combatAttributes = ['str', 'dex', 'end', 'awr', 'int', 'cha', 'luck', 'cor']
- const derivedAttributes = ['ref', 'for', 'ant', 'log', 'wil']