//- Used for character stats and reusable variables. Often overlaps constants.ts
- const mentalAttributes = ["awareness", "intellect", "charisma"];
- const metaphysicAttributes = ["luck", "coordination"];
- const physicalAttributes = ["strength", "dexterity", "endurance"];

- const attributes = ['str', 'dex', 'end', 'luck', 'awr', 'int', 'cha']
- const combatAttributes = ['str', 'dex', 'end', 'awr', 'int', 'cha', 'luck', 'cor']
- const derivedAttributes = ['ref', 'for', 'ant', 'log', 'wil']