
//- Used for character stats and reusable variables. Often overlaps constants.ts
- const mentalAttributes = ["awareness", "intellect", "charisma"];
- const metaphysicAttributes = ["luck", "coordination"];
- const physicalAttributes = ["strength", "dexterity", "endurance"];
- const attributes = [...mentalAttributes, ...metaphysicAttributes, ...physicalAttributes];

- const coreAttributes = [...physicalAttributes,  ...mentalAttributes, 'luck',];
- const combatAttributes = [...physicalAttributes, ...mentalAttributes, ...metaphysicAttributes];
- const derivedAttributes = ['reflexes', 'fortitude', 'anticipation', 'logic', 'willpower'];

- const magicSources = ['arcane', 'divine', 'primal', 'psionic', 'occult'];

- const sheetTypes = ['pc', 'creature'];