.creature.p-2.relative.auto-rows-max
	input.settings-creature(type='hidden' name="attr_toggle_creature_settings")
	input.edit-creature(type="hidden" name="attr_toggle_edit_creature_edit")
	input.sections(type="hidden" name="attr_creature_sections" value="")
	.grid.grid-flow-col.auto-cols-min.gap-2.settings-toggle.absolute
		.grid.relative.grid-flow-col.auto-cols-min.gap-2
			+editToggle('creature edit', true)
		.grid.relative.grid-flow-col.auto-cols-min.gap-2
			+settingsToggle('creature settings')
	.grid.gap-4.sheet
		.display-mode
			span.display(name="attr_character_name")
			.grid.col-auto-fr.gap-1.grid-flow-col.items-center
				span.italic Monster Level:
				span.italic(name="attr_level")
			.grid.gap-1.grid-flow-col.items-center.auto-cols-max
				each val in ['size', 'tags']
					+attrSpan(val)(class='italic')
		.inputs.grid.gap-2
			.grid.gap-2.grid-flow-col.bio
				.grid.grid-flow-col.gap-2
					+headerInput('character name')
				.grid.col-auto-fr.gap-1.grid-flow-col.items-center
					h3(data-i18n="level")
					+numberInput("level")(class="text-center")
			.grid.grid-flow-col.gap-2.size-tags
				each val in ['size', 'tags']
					+headerInput(val)

		+combatAttributes()

		.display-mode.grid
			.grid.gap-4.grid-flow-col.items-center.auto-cols-max
				each val in ['hp', 'armor rating']
					.grid.gap-2.grid-flow-cols.col-auto-fr.items-center.display-span
						h3(data-i18n=val === 'armor rating' ? 'AR' : val)
						+attrSpan(val)(class='font-base')
			.grid.gap-2.grid-flow-col.items-center.items-center.mb-2.auto-cols-max.display-span
				h3(data-i18n="speed")
				+attrSpan("speed")(class='font-base')
			.grid.gap-2.items-center.auto-cols-max.grid-flow-col
				each val in ['resist', 'immune']
					.grid.gap-2.grid-flow-col.items-center.auto-cols-max.display-span.display-span
						h3(data-i18n=val)
						+attrSpan(val)(class='font-base')
			.grid.gap-2.items-center.auto-cols-max.grid-flow-col
				each val in ['vulnerable', 'damage reduction']
					.grid.gap-2.grid-flow-col.items-center.auto-cols-max.display-span
						h3(data-i18n=val)
						+attrSpan(val)(class='font-base')
			.grid.gap-2.grid-flow-col.items-center.items-center.mb-2.auto-cols-max.display-span
				h3(data-i18n="senses")
				+attrSpan("senses")(class='font-base')
			.grid.gap-2.grid-flow-col.items-center.items-center.mb-2.auto-cols-max.display-span
				h3(data-i18n="traits")
				+attrSpan("traits")(class='font-base')

		.inputs.grid.gap-4
			.grid.gap-2.grid-flow-col.items-center.hp-armor-speed
				each val in ["hp", "armor rating", "speed"]
					.grid.grid-gap-2.grid-flow-col.items-center
						+headerInput(val)

			.grid.gap-2.grid-flow-col.items-center
				each val in ['resist', 'immune']
					+headerInput(val)

			.grid.gap-2.grid-flow-col.items-center
				each val in ['vulnerable', 'damage reduction']
					+headerInput(val)

			.grid.gap-2.items-center
				each val in ['senses', 'traits']
					+headerInput(val)

		.grid.gap-2.items-center.section-skills
			.grid.gap-2.header-toggle
				h2.text-primary(data-i18n="skills")
				label.switch(data-i18n-title="toggle skills")
					input(type="checkbox" name="attr_section_skills")
					span.slider
			+repeatingSkills()(class="repeating_skills")

		.grid.gap-2.items-center.section-features
			.grid.gap-2.header-toggle
				h2.text-primary(data-i18n="features")
				label.switch(data-i18n-title="toggle features")
					input(type="checkbox" name="attr_section_features")
					span.slider
			fieldset(class=`repeating_features`)
				input(type="hidden" name="attr_link" value="")
				.grid.gap-2.relative.repeating-grid.features
					.grid.grid-flow-col.gap-2.displayed.custom-grid
						p
							+repeatingChatButton(attrName("features"))
							input(type="hidden" name="attr_damage" value="")
							span.hit.font-bold(data-i18n="hit")
							+repeatingDamageButton("damage")(class="text-center")
							+attrSpan("damage type")
							span(name='attr_description')
					+editToggle()
					.edit.grid.gap-2
						+headerInput('name')
						.grid.gap-2.grid-flow-col.damage
							each val in ['damage', 'damage type']
								+headerInput(val)
						.description
							+textarea('description')


		.grid.gap-2.items-center.actions.section-actions
			.grid.gap-2.header-toggle
				h2.text-primary(data-i18n="actions")
				label.switch(data-i18n-title="toggle actions")
					input(type="checkbox" name="attr_section_actions")
					span.slider
			.display-mode
				span(name='attr_action_description')
			.inputs
				textarea(name='attr_action_description' title='@{action_description}')
			fieldset(class=`repeating_actions`)
				input(type="hidden" name="attr_roll_formula" value=`{{dice=[[1d20+(?{TA/TD|0}[tactical bonus])]]}} {{description=@{description}}}`)
				.grid.gap-2.relative.repeating-grid
					input(type='hidden' name='attr_name')
					.grid.grid-flow-col.gap-2.displayed.custom-grid
						span.or.font-bold(name="attr_name")
						span.or(name="attr_description")
						input(type="hidden" name="attr_toggle_action_attack")
						p
							+repeatingAttackRollButton('name')
							span(name='attr_description')
							+attrSpan("range")(class="italic")
							+attrSpan("type")(class="italic")
							+attrSpan("bonus")
							span.vs vs
							+attrSpan("defense")
							span.hit.font-bold(data-i18n="hit")
							+attrSpan("damage average")(class="text-center mr-1")
							+repeatingDamageButton("damage")
							+attrSpan("damage type")(class="ml-1")
							+attrSpan("effect")
					+editToggle()
					.edit.grid.gap-2
						.grid.gap-2.grid-flow-col.col-fr-auto
							+headerInput('name')
							.grid.gap-2.grid-flow-col.items-center.attack-toggle.auto-cols-min
								h3(data-i18n="attack")
								label.switch(data-i18n-title="toggle attack")
									input(type="checkbox" name="attr_toggle_action_attack")
									span.slider
						.grid.gap-2.grid-flow-col.range
							each val in ['range', 'type']
								+headerInput(val)
						.grid.gap-2.grid-flow-col.items-center.bonus
							+headerInput('bonus')(class="text-center")
							span vs
							+headerInput('defense')
						h3.capitalize(data-i18n="hit")
						.grid.gap-2.grid-flow-col.damage
							.grid.col-auto-fr.gap-1.grid-flow-col.items-center
								h3(data-i18n='damage')
								.grid.grid-flow-col.items-center.dmg
									+textInput('damage average')(class="text-center")
									.grid.grid-flow-col.items-center
										span (
										+textInput('damage')
										span )
							+headerInput('damage type', 'type')
						+headerInput('effect')
						.description
							+textarea('description')

		.grid.gap-2.items-center.section-reactions
			.grid.gap-2.header-toggle
				h2.text-primary(data-i18n="reactions")
				label.switch(data-i18n-title="toggle reactions")
					input(type="checkbox" name="attr_section_reactions")
					span.slider
			fieldset(class=`repeating_reactions`)
				input(type="hidden" name="attr_link" value="")
				.grid.gap-2.relative.repeating-grid
					.grid.grid-flow-col.gap-2.displayed.custom-grid
						p
							+repeatingChatButton('reactions')
							span(name='attr_description')
					+editToggle()
					.edit.grid.gap-2
						+headerInput('name')
						.description
						+textarea('description')


		.grid.gap-2.items-center.section-spells
			.grid.gap-2.header-toggle
				h2.text-primary(data-i18n="spells")
				label.switch(data-i18n-title="toggle spells")
					input(type="checkbox" name="attr_section_spells")
					span.slider
			+repeatingSpellCards()

	.grid.gap-6.settings
		+sheetSelect()
