
input(type="hidden"  name="attr_action_points_base" value="3")
input(type="hidden"  name="attr_action_points_per_round" value="3")
//- Hit Points
input(type="hidden"  name="attr_hit_points_base" value="10")
input(type="hidden"  name="attr_hit_die_formula" value="10+0+0")
input(type="hidden"  name="attr_set_hit_points" value="2")
input(type="hidden"  name="attr_hit_point_die" value="1d4")
//- Luck modifiers
input(type="hidden"  name="attr_luck_negative_modifier" value="0")
input(type="hidden"  name="attr_luck_critical_modifier" value="0")
//- Crit Range
input(type="hidden"  name="attr_critical_range_base" value="20")
input(type="hidden"  name="attr_critical_range" value="20")
//- Rerolls
input(type="hidden"  name="attr_rerolls_max" value="3")
//- Defenses
each val in ["armor rating", ...derivedAttributes]
    input(type="hidden"  name=`attr_${attrName(val)}_base` value="10")
