.pc.grid.gap-6.p-2.w-full
  .flex.flex-wrap.flex-row.gap-4
    .logo.grow-0
      img(src='images/logo.png')
    .grid.gap-1.grow.bio
      .grid.grid-flow-col.gap-1
        +headerInput('character name')
        +headerInput('lineage')
      .grid.grid-flow-col.gap-1
        +headerInput('level')
        +headerInput('height')
        +headerInput('weight')
      .grid.grid-flow-col.gap-1
        +headerInput('eye color')
        +headerInput('hair color')
        +headerInput('other')
  .div
    h2.text-center(data-i18n='personality / background')
    +textarea('personality background')
  .grid.gap-4.justify-between.items-center.attributes
    each val in ['str', 'dex', 'end', 'luck', 'awr', 'int', 'cha']
      .grid.attribute.justify-center.items-center.border
        .circle.rounded-full.border.grid.justify-center.items-center.font-bold
          h3.text-center(data-i18n=val)
          +numberInput(val)
        .box.grid.justify-center.items-center.skill
          h3.text-center(data-i18n='skills/bonus')
          +textarea(`${val} skills bonus`)
    .grid.justify-center.items-center.border.relative
      .grid.justify-center.items-center.currency-header.absolute
        h2.text-center.font-bold(data-i18n="currency")
      .box.grid.justify-center.items-center.h-full.w-full
        +textarea("currency")
	
  .grid.gap-4.inventory
    h2.text-center(data-i18n='inventory')
    fieldset(class=`repeating_inventory`)
      .grid.descriptor
        +repeatingChatButton("item")
        +checkboxSymbol('collapse', 'i')
        +checkboxSymbol('settings', 'p')
        .collapse
          span.collapse.description(name='attr_description')
        .settings
          +textInput(`name`)
          +textInput('qty')
          +textarea('description')

      .notes
        span.display(name='attr_notes')
        +textarea('notes')