.charsheet label {
    display: column;
    width: 700px;
        text-align: left;
    font-weight: normal;
}

div.sheet-List-Full { display: block; }

input[type=checkbox].sheet-List:checked + div.sheet-List-Full { display: none; }

.charsheet select {
    width: 50px;
}

div.sheet-col {
    width: 50%;
}

div.sheet-Condition-Desc { display: none; }

input[type=checkbox].sheet-Condition:checked + div.sheet-Condition-Desc { display: block; }

div.sheet-LeftCol { 
    float: left; 
    width: 210px;
    text-align: right;
}

div.sheet-SpaceCol {
    width: 150px;
    float: left;
}

div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2, { display: block; }

input.sheet-tab {
    width: 150px;
    height: 20px;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}