.charsheet label {
    display: column;
    width: 700px;
        text-align: left;
    font-weight: normal;
}

div.sheet-List-Full { display: block; }

input[type=checkbox].sheet-List:checked + div.sheet-List-Full { display: none; }

.charsheet select {
    width: 50px;
}

div.sheet-col {
    width: 50%;
}

div.sheet-Condition-Desc { display: none; }

input[type=checkbox].sheet-Condition:checked + div.sheet-Condition-Desc { display: block; }

div.sheet-LeftCol { 
    float: left; 
    width: 21%;
    text-align: right;
}

div.sheet-RightCol { 
    float: right; 
    width: 20%;
    text-align: right;
}

div.sheet-SpaceCol {
    width: 15%;
    float: left;
}