include character/character.pug
//- include abilities/abilities.pug

mixin tabsJavascript()
    |
    | // Sheetworkers for each tab
    | // Sheetworkers for the "character" tab
    |
    include character/character.js
    | // Sheetworkers for the "abilities" tab
    |
    //- include abilities/abilities.js