/* ROLL TEMPLATES */
/* Container */
.sheet-rolltemplate-bitd {
	.sheet-roll-holder {
		margin-left: -45px;
		margin-right: -1px;
		padding: 0 30px;
		box-sizing: border-box;
		font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
		width: 299px;
		user-select: none;
		cursor: default;
		overflow: hidden;
		font-variant-numeric: lining-nums;
	}
	.sheet-roll-holder.sheet-roll-resist.sheet-roll-short,
	.sheet-roll-holder.sheet-roll-vice.sheet-roll-short {
		height: 171px;
	}
	.sheet-roll-holder.sheet-roll-action.sheet-roll-short {
		height: 195px;
	}
	.sheet-roll-holder.sheet-roll-fortune.sheet-roll-short {
		min-height: 199px;
	}
	.sheet-roll-action,
	.sheet-roll-resist,
	.sheet-roll-vice {
		height: 258px;
	}
	.sheet-roll-fortune {
		background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-fortune.jpg');
		background-position: bottom right;
		background-repeat: no-repeat;
		background-color: #fff;
		height: auto;
		min-height: 250px;
	}
	/* Background images */
	.sheet-roll-action {
		background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-action.gif');
	}
	.sheet-roll-resist {
		background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-resist.jpg');
	}
	.sheet-roll-vice {
		background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-vice.jpg');
	}
	/* Images */
	img {
		display: block;
		height: 100%;
	}
	/* Header */
	.sheet-roll-header {
		display: -webkit-box;
		margin: 16px 0 0;
		font-size: 15px;
		height: 35px;
		line-height: 17.5px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		font-variant: small-caps;
		text-overflow: ellipsis;
	}
	.sheet-roll-resist .sheet-roll-header {
		color: #8da8bb;
	}
	.sheet-roll-vice .sheet-roll-header {
		color: #fff;
	}
	.sheet-roll-fortune .sheet-roll-header {
		color: #303032;
	}
	.sheet-roll-action .sheet-roll-header {
		color: #e74a10;
	}
	> .sheet-roll-action .sheet-roll-header,
	> .sheet-roll-fortune .sheet-roll-header {
		letter-spacing: 1px;
		font-weight: 800;
	}
	.sheet-roll-holder.sheet-roll-fortune.sheet-roll-short .sheet-roll-header {
		margin-bottom: -51px;
	}
	/* Title */
	.sheet-roll-title {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
	}
	.sheet-roll-action .sheet-roll-title,
	.sheet-roll-fortune .sheet-roll-title {
		margin: 22px 0 0;
		font-size: 36px;
		line-height: 31px;
		height: 31px;
	}
	.sheet-roll-vice .sheet-roll-title,
	.sheet-roll-resist .sheet-roll-title {
		margin: 11px 0 0;
		font-size: 24px;
		line-height: 24px;
		height: 24px;
	}
	.sheet-roll-fortune .sheet-roll-title {
		color: #000;
	}
	.sheet-roll-small-title {
		font-size: 28px;
	}
	/* Position and Effect */
	.sheet-roll-position,
	.sheet-roll-effect {
			display: inline-block;
			box-sizing: border-box;
			width: 50%;
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
			padding: 20px 0 0;
	}
	.sheet-roll-effect {
			padding-left: 14px;
	}
	/* Dice */
	.sheet-roll-dice {
		height: 27px;
		font-size: 19px;
		line-height: 20px;
		color: #fff;
	}
	.sheet-roll-action .sheet-roll-dice {
		margin: 47px 0 19px;
	}
	.sheet-roll-resist .sheet-roll-dice,
	.sheet-roll-vice .sheet-roll-dice {
		margin: 35px 0 23px;
	}
	.sheet-roll-fortune .sheet-roll-dice {
		margin: 15px 0 10px;
		color: #303032;
	}
	/* Zerodice dice holder */
	.sheet-roll-action .sheet-zerodice1 {
		text-shadow: 0px 0px 6px rgb(255, 158, 0);
		color: #fff;
	}
	.sheet-roll-fortune .sheet-zerodice1 {
		text-shadow: 0px 0px 6px rgb(136, 219, 215);
		color: #1e1e1e;
	}
	.sheet-roll-vice .sheet-zerodice1,
	.sheet-roll-resist .sheet-zerodice1 {
		text-shadow: 0px 0px 6px rgb(9, 199, 208);
		color: #fff;
	}
	/* Zerodice text */
	.sheet-zerodice2 {
		line-height: 1;
		font-size: 12.5px;
		margin-top: 7px;
		font-style: italic;
	}
	.sheet-roll-vice .sheet-zerodice2,
	.sheet-roll-resist .sheet-zerodice2 {
		text-shadow: 0px 0px 6px rgb(9, 199, 208);
		color: #d8e4ef;
	}
	.sheet-roll-action .sheet-zerodice2 {
		text-shadow: 0px 0px 6px rgb(255, 158, 0);
		color: #ffd8ca;
	}
	.sheet-roll-fortune .sheet-zerodice2 {
		width: 60%;
		text-shadow: 0px 0px 6px rgb(136, 219, 215);
		color: #1e1e1e;
	}

	/* Inlinerolls */
	.inlinerollresult {
		border: none !important;
		background-color: transparent;
		font-weight: normal;
		padding: 0 3px 0 0;
	}
	.sheet-comma:last-child {
		display: none;
	}

	/* Instructions and Notes */
	.sheet-roll-instructions {
		padding: 15px 0 0;
		line-height: 1.3;
	}
	.sheet-roll-resist .sheet-roll-instructions {
		color: #d3dde4;
		font-size: 13px;
	}
	.sheet-roll-vice .sheet-roll-instructions {
		color: #c9c9c9;
		font-size: 11px;
	}
	.sheet-roll-notes {
		width: 56%;
		line-height: 1.2;
		font-size: 13px;
		padding: 20px 0;
		color: #1e1e1e;
	}
}

/* BROADCAST TEMPLATE */
.sheet-rolltemplate-bitd-broadcast {
	margin: 0 -1px 0 -45px;
	padding: 16px 20px 15px;
	overflow: hidden;
	box-sizing: border-box;
	font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
	width: 299px;
	background-color: #180d06;

	.sheet-roll-header {
		color: #e74a10;
		font-size: 15px;
		line-height: 19px;
		font-variant: small-caps;
		letter-spacing: 1px;
		font-weight: 800;
	}
	.sheet-roll-flex {
		display: flex;
		align-items: center;
		margin: 5px 0 0;
	}
	.sheet-roll-flex .sheet-roll-title {
		margin: 0;
		font-size: 20px;
		line-height: 1.2;
	}
	.sheet-roll-title {
		margin: 9px 0 0;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 23px;
		line-height: 29px;
	}
	.sheet-roll-content {
		padding: 15px 0 5px;
		line-height: 1.3;
		font-size: 13px;
		color: #ccc;
	}
	img {
		margin: 9px 0 0;
		display: block;
		height: 31px;
	}
	.sheet-roll-harm {
		color: #fff;
		width: 100%;
		margin: 15px 0 0;
		border: 1px solid #fff;
	}
	.sheet-roll-harm td {
		text-align: center;
		padding: 5px;
		border: 1px solid #fff;
	}
	.sheet-roll-harm td:first-child {
		width: 10px;
	}
	.sheet-roll-harm td:nth-child(2n+1) {
		font-weight: bold;
	}
	.sheet-roll-harm td:nth-child(2) {
		padding: 5px 0;
	}
	.sheet-roll-harm td:last-child {
		width: 60px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}
	.sheet-roll-harm-inner {
		color: #e74a10;
		padding: 0 5px;
	}
	.sheet-roll-harm-inner:first-child:not(:last-child) {
		padding-bottom: 2.5px;
		border-bottom: 1px solid #fff;
	}
	.sheet-roll-harm-inner:last-child:not(:first-child) {
		padding-top: 2.5px;
	}
	.sheet-roll-clock {
		width: 88px;
		flex: 0 0 auto;
		box-sizing: border-box;
		position: relative;
		background: white;
		height: 88px;
		border: 4px solid black;
		border-radius: 50%;
		margin-right: 4px;
	}
	.sheet-roll-spoke {
		height: 88px;
		width: 4px;
		position: absolute;
		background: black;
	}
	.sheet-roll-spoke:not(.sheet-roll-spoke-0) {
		display: none;
	}
	.sheet-roll-size-4 .sheet-roll-spoke-90,
	.sheet-roll-size-6 .sheet-roll-spoke-60,
	.sheet-roll-size-6 .sheet-roll-spoke-120,
	.sheet-roll-size-8 .sheet-roll-spoke-45,
	.sheet-roll-size-8 .sheet-roll-spoke-90,
	.sheet-roll-size-8 .sheet-roll-spoke-135,
	.sheet-roll-size-10 .sheet-roll-spoke-36,
	.sheet-roll-size-10 .sheet-roll-spoke-72,
	.sheet-roll-size-10 .sheet-roll-spoke-108,
	.sheet-roll-size-10 .sheet-roll-spoke-144,
	.sheet-roll-size-12 .sheet-roll-spoke-30,
	.sheet-roll-size-12 .sheet-roll-spoke-60,
	.sheet-roll-size-12 .sheet-roll-spoke-90,
	.sheet-roll-size-12 .sheet-roll-spoke-120,
	.sheet-roll-size-12 .sheet-roll-spoke-150 {
		display: block;
	}
	.sheet-roll-spoke-0 {
		transform: translate(39px, -4px);
	}
	.sheet-roll-spoke-30 {
		transform: translate(39px, -4px) rotate(30deg);
	}
	.sheet-roll-spoke-36 {
		transform: translate(39px, -4px) rotate(36deg);
	}
	.sheet-roll-spoke-45 {
		transform: translate(39px, -4px) rotate(45deg);
	}
	.sheet-roll-spoke-60 {
		transform: translate(39px, -4px) rotate(60deg);
	}
	.sheet-roll-spoke-72 {
		transform: translate(39px, -4px) rotate(72deg);
	}
	.sheet-roll-spoke-90 {
		transform: translate(39px, -4px) rotate(90deg);
	}
	.sheet-roll-spoke-108 {
		transform: translate(39px, -4px) rotate(108deg);
	}
	.sheet-roll-spoke-120 {
		transform: translate(39px, -4px) rotate(120deg);
	}
	.sheet-roll-spoke-135 {
		transform: translate(39px, -4px) rotate(135deg);
	}
	.sheet-roll-spoke-144 {
		transform: translate(39px, -4px) rotate(144deg);
	}
	.sheet-roll-spoke-150 {
		transform: translate(39px, -4px) rotate(150deg);
	}
	.sheet-roll-size-4.sheet-roll-progress-1,
	.sheet-roll-size-8.sheet-roll-progress-2,
	.sheet-roll-size-12.sheet-roll-progress-3 {
		background-image: linear-gradient(180deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-4.sheet-roll-progress-2,
	.sheet-roll-size-6.sheet-roll-progress-3,
	.sheet-roll-size-8.sheet-roll-progress-4,
	.sheet-roll-size-10.sheet-roll-progress-5,
	.sheet-roll-size-12.sheet-roll-progress-6 {
		background-image: linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-4.sheet-roll-progress-3,
	.sheet-roll-size-8.sheet-roll-progress-6,
	.sheet-roll-size-12.sheet-roll-progress-9 {
		background-image: linear-gradient(180deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-4.sheet-roll-progress-4,
	.sheet-roll-size-6.sheet-roll-progress-6,
	.sheet-roll-size-8.sheet-roll-progress-8,
	.sheet-roll-size-10.sheet-roll-progress-10,
	.sheet-roll-size-12.sheet-roll-progress-12 {
		background: red;
	}
	.sheet-roll-size-6.sheet-roll-progress-1,
	.sheet-roll-size-12.sheet-roll-progress-2 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(150deg, red 50%, white 50%);
	}
	.sheet-roll-size-6.sheet-roll-progress-2,
	.sheet-roll-size-12.sheet-roll-progress-4 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(210deg, red 50%, white 50%);
	}
	.sheet-roll-size-6.sheet-roll-progress-4,
	.sheet-roll-size-12.sheet-roll-progress-8 {
		background-image: linear-gradient(150deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-6.sheet-roll-progress-5,
	.sheet-roll-size-12.sheet-roll-progress-10 {
		background-image: linear-gradient(210deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-8.sheet-roll-progress-1 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(135deg, red 50%, white 50%);
	}
	.sheet-roll-size-8.sheet-roll-progress-3 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(225deg, red 50%, white 50%);
	}
	.sheet-roll-size-8.sheet-roll-progress-5 {
		background-image: linear-gradient(135deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-8.sheet-roll-progress-7 {
		background-image: linear-gradient(225deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-10.sheet-roll-progress-1 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(126deg, red 50%, white 50%);
	}
	.sheet-roll-size-10.sheet-roll-progress-2 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(162deg, red 50%, white 50%);
	}
	.sheet-roll-size-10.sheet-roll-progress-3 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(198deg, red 50%, white 50%);
	}
	.sheet-roll-size-10.sheet-roll-progress-4 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(234deg, red 50%, white 50%);
	}
	.sheet-roll-size-10.sheet-roll-progress-6 {
		background-image: linear-gradient(126deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-10.sheet-roll-progress-7 {
		background-image: linear-gradient(162deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-10.sheet-roll-progress-8 {
		background-image: linear-gradient(198deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-10.sheet-roll-progress-9 {
		background-image: linear-gradient(234deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-12.sheet-roll-progress-1 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(120deg, red 50%, white 50%);
	}
	.sheet-roll-size-12.sheet-roll-progress-5 {
		background-image: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(240deg, red 50%, white 50%);
	}
	.sheet-roll-size-12.sheet-roll-progress-7 {
		background-image: linear-gradient(120deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
	.sheet-roll-size-12.sheet-roll-progress-11 {
		background-image: linear-gradient(240deg, transparent 50%, red 50%), linear-gradient(90deg, white 50%, red 50%);
	}
}
