/* ROLL TEMPLATES */
/* Container */
.sheet-rolltemplate-bitd .sheet-roll-holder {
	margin-left: -45px;
	margin-right: -1px;
	width: 299px;
	font-variant-numeric: lining-nums;
}
.sheet-rolltemplate-bitd .sheet-roll-holder.sheet-roll-short {
	height: 171px;
}
.sheet-rolltemplate-bitd .sheet-roll-action,
.sheet-rolltemplate-bitd .sheet-roll-resist,
.sheet-rolltemplate-bitd .sheet-roll-vice {
	height: 258px;
}
.sheet-rolltemplate-bitd .sheet-roll-fortune {
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-fortune.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: white;
	height: auto;
	min-height: 250px;
}

/* Background images */
.sheet-rolltemplate-bitd .sheet-roll-action {
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-action.gif);
}
.sheet-rolltemplate-bitd .sheet-roll-resist {
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-resist.jpg);
}
.sheet-rolltemplate-bitd .sheet-roll-vice {
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Blades%20in%20the%20Dark/Assets/rolltemplate/rolltemplate-vice.jpg);
}

/* Images */
.sheet-rolltemplate-bitd .sheet-roll-resist img,
.sheet-rolltemplate-bitd .sheet-roll-vice img {
	height: 22px;
}
.sheet-rolltemplate-bitd .sheet-roll-action img,
.sheet-rolltemplate-bitd .sheet-roll-fortune img {
	height: 31px;
}

/* Name */
.sheet-rolltemplate-bitd .sheet-roll-name {
	line-height: 0px;
	height: 20px;
	padding: 32px 0 0 30px;
	width: 237px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sheet-rolltemplate-bitd .sheet-roll-action .sheet-roll-name,
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-roll-name,
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-roll-name {
	font-family: "Hoefler Text", Georgia, "Baskerville Old Face", Garamond, "Times New Roman", serif;
	text-transform: uppercase;
}
.sheet-rolltemplate-bitd .sheet-roll-action .sheet-roll-name,
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-roll-name {
	font-size: 103%;
	letter-spacing: 1px;
	font-weight: 800;
}
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-roll-name {
	color: #8da8bb;
	font-size: 91%;
}
.sheet-rolltemplate-bitd .sheet-roll-vice .sheet-roll-name {
	font-family: serif;
	color: #ffffff;
	font-size: 110%;
}
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-roll-name {
	color: #303032;
}
.sheet-rolltemplate-bitd .sheet-roll-action .sheet-roll-name {
	color: #e74a10;
}

/* Title */
.sheet-rolltemplate-bitd .sheet-roll-vice .sheet-roll-title {
	padding-left: 27px;
	padding-top: 8px;
	position: relative;
	top: 5px;
}
.sheet-rolltemplate-bitd .sheet-roll-action .sheet-roll-title,
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-roll-title {
	padding-left: 30px;
	padding-top: 22px;
}
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-roll-title {
	padding-left: 30px;
	padding-top: 7px;
}

/* Zerodice dice holder */
.sheet-rolltemplate-bitd .sheet-zerodice1 {
	position: relative;
	top: 4px;
	font-size: 103%;
}
.sheet-rolltemplate-bitd .sheet-roll-action .sheet-zerodice1 {
	text-shadow: 0px 0px 6px rgb(255, 158, 0);
	color: #ffffff;
}
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-zerodice1 {
	text-shadow: 0px 0px 6px rgb(136, 219, 215);
	color: #1e1e1e;
}
.sheet-rolltemplate-bitd .sheet-roll-vice .sheet-zerodice1,
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-zerodice1 {
	font-family: serif;
	text-shadow: 0px 0px 6px rgb(9, 199, 208);
	color: #ffffff;
}
/* Zerodice text */
.sheet-rolltemplate-bitd .sheet-zerodice2 {
	line-height: 100%;
	font-size: 67%;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}
.sheet-rolltemplate-bitd .sheet-roll-vice .sheet-zerodice2,
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-zerodice2 {
	padding-top: 8px;
	text-shadow: 0px 0px 6px rgb(9, 199, 208);
	color: #d8e4ef;
}
.sheet-rolltemplate-bitd .sheet-roll-action .sheet-zerodice2 {
	padding-top: 11px;
	text-shadow: 0px 0px 6px rgb(255, 158, 0);
	color: #ffd8ca;
}
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-zerodice2 {
	width: 60%;
	padding-top: 11px;
	text-shadow: 0px 0px 6px rgb(136, 219, 215);
	color: #1e1e1e;
}
/* Subtitle */
.sheet-rolltemplate-bitd .sheet-roll-subtitle {
	padding-left: 30px;
}
.sheet-rolltemplate-bitd .sheet-roll-action .sheet-roll-subtitle,
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-roll-subtitle {
	font-family: "Hoefler Text", Georgia, "Baskerville Old Face", Garamond, "Times New Roman", serif;
	text-transform: uppercase;
	font-size: 103%;
	letter-spacing: 1px; 
	font-weight: 800;
	line-height: 0px;
	font-style: italic;
}
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-roll-subtitle {
	color: #303032;
}
.sheet-rolltemplate-bitd .sheet-roll-action .sheet-roll-subtitle {
	color: #e74a10;
}
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-roll-subtitle,
.sheet-rolltemplate-bitd .sheet-roll-vice .sheet-roll-subtitle {
	letter-spacing: 0px;
	font-weight: 400;
	line-height: 0px;
	font-style: normal;
	position: relative;
	top: -5px;
}
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-roll-subtitle {
	font-family: "Hoefler Text", Georgia, "Baskerville Old Face", Garamond, "Times New Roman", serif;
	text-transform: uppercase;
	font-size: 91%;
	color: #8da8bb;
}
.sheet-rolltemplate-bitd .sheet-roll-vice .sheet-roll-subtitle {
	font-family: serif;
	color: #ffffff;
	text-transform: none;
	font-size: 110%;
}

/* Inlinerolls */
.sheet-rolltemplate-bitd .inlinerollresult {
	border: 0px solid white !important;
	background-color: rgba(158, 100, 81, 0);
	font-weight: normal;
	padding-left: 0;
}

/* Position and Effect */
.sheet-rolltemplate-bitd .sheet-roll-position,
.sheet-rolltemplate-bitd .sheet-roll-effect {
		display: inline-block;
		box-sizing: border-box;
		width: 49%;
		font-family: "Hoefler Text", Georgia, "Baskerville Old Face", Garamond, "Times New Roman", serif;
		color: white;
		text-transform: uppercase;
		font-size: 82%;
		letter-spacing: 1px;
		padding-top: 20px;
		padding-left: 29px;
}
.sheet-rolltemplate-bitd .sheet-roll-effect {
		padding-left: 15px;
}
/* Dice */
.sheet-rolltemplate-bitd .sheet-roll-dice {
	font-family: Georgia, Times, "Times New Roman", serif;
	text-transform: uppercase;
	height: 27px;
	font-size: 137%;
	letter-spacing: 0px;	
	font-weight: 800;
	line-height: 20px;
	padding: 41px 30px 20px;
	color: white;
}
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-roll-dice,
.sheet-rolltemplate-bitd .sheet-roll-vice .sheet-roll-dice {
	position: relative;
	top: -4px;
}
.sheet-rolltemplate-bitd .sheet-roll-fortune .sheet-roll-dice {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #303032;
}

/* Instructions and Notes */
.sheet-rolltemplate-bitd .sheet-roll-instructions {
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 15px 56px 0px 27px;
	font-weight: 200;
}
.sheet-rolltemplate-bitd .sheet-roll-instructions em {
	font-style: normal;
	font-weight: 800;
}
.sheet-rolltemplate-bitd .sheet-roll-resist .sheet-roll-instructions {
	color: #d3dde4;
	font-size: 95%;
}
.sheet-rolltemplate-bitd .sheet-roll-vice .sheet-roll-instructions {
	color: #c9c9c9;
	font-size: 81%;
	line-height: 119%;
}
.sheet-rolltemplate-bitd .sheet-roll-notes {
	width: 46%;
	line-height: 112%;
	font-size: 98%;
	padding: 20px 0 30px 29px;
	color: #1e1e1e;
	font-family: Georgia, serif;
}
/* Dice rolls */
.sheet-rolltemplate-bitd .sheet-comma:last-child {
		display: none;
}