.#{$pref}page {
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.3);
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 1rem 2rem 1.5rem;
  background: white;

  &__logo {
    display: block;
    width: 120px;
    margin-bottom: $margin-bottom-table;
  }

  &[class*="page-tab-"] {
    display: none;
  }
}

/* show the selected tab */
.#{$pref}page-tabstoggle[value="front"] ~ div.#{$pref}page-tab-front,
.#{$pref}page-tabstoggle[value="back"] ~ div.#{$pref}page-tab-back {
  display: block;
}
