.#{$pref}sheet {
  overflow-x: scroll;

  &__container {
    min-width: 830px;
  }

  &__tabs {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }

  &__tab-button {
    &:not(:last-child) {
      margin-right: 1px;
    }

    background: black;
    border: 1px solid black;
    font-family: $body-font-family;
    color: white;
    @include bold;
    padding: 7px 10px 6px;
  }
}

.#{$pref}rolltemplate-default {
  caption {
    background: black;
  }
}
