# Auto detect text files and perform LF normalization
* text=auto  eol=lf

# Ensure LF line endings for these files
*.css   text eol=lf
*.htm	  text eol=lf
*.html  text eol=lf
*.json  text eol=lf

# Scripts
*.bash  text eol=lf
*.fish  text eol=lf
*.sh    text eol=lf
*.zsh   text eol=lf
# These are explicitly windows files and should use crlf
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.ps1   text eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.md   text diff=markdown
*.MD   text diff=markdown