
Free Spacer/.vs/slnx.sqlite
Free Spacer/.vs/ProjectSettings.json
Free Spacer/.vs/Free Spacer/v16/.suo
Free Spacer/.vs/Free Spacer/config/applicationhost.config
Free Spacer/.vs/VSWorkspaceState.json
Free Spacer/.vs/slnx.sqlite-journal
