/*  ====    ====    ===     */
input.sheet-new:checked ~ div.sheet-all {
    background: white;
    width:840px;
    height: 800px;
}
input.sheet-old:checked ~ div.sheet-all {
    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(-90deg, transparent 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size:
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px,
        16px 16px;
    width:840px;
    height: 800px;
}
.charsheet {
    background:white;
}
@import url('https://fonts.googleapis.com/css?family=Julee&display=swap');

/*  ====    ====    ===     */
/*============= TABS =============*/

.charsheet div[class^="sheet-section"] {
	display: none;
}
.charsheet input.sheet-tab1:checked ~ div.sheet-section-1,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-2,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-3,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-4,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-5,
.charsheet input.sheet-tab6:checked ~ div.sheet-section-6{
	display: block;
}
.charsheet input.sheet-tab {
	width: 95px;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin-bottom:10px;
}
.charsheet span.sheet-tab {
	text-align: center;
	display: inline-block;
	font-size: 16px;
	background: #FFFFFF;
	color: #000000;
	font-weight: bold;
	border-radius: 4px;
	width: 100px;
	height: 20px;
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	margin-left: -101px;
	text-shadow: none;
	border-top:2px solid black;
	border-bottom:2px solid black;
	border-left:none;
	border-right:none;
    font-family:"Julee";
}
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6{
	background: #000000;
	/*originally ab8b57*/
	color: #FFFFFF;
	/*originally white*/
	border-radius: 4px;
	border:2px solid white;
}
/*----------- End Tab Setup -----------*/

input.sheet-new:checked ~ div.sheet-tab1 {
    background: url('http://cdn.obsidianportal.com/assets/47485/BloodSplatter.png') no-repeat;
    background-position: right;
}

input.sheet-new:checked ~ div.sheet-tab2 {
    background: url('http://2.bp.blogspot.com/-zZ9ZOA0bpF4/U11yJA5BK9I/AAAAAAAAMTw/XlVFtPdiZoI/s1600/PNG+-+Vampiro+sangue+7.png') no-repeat; 
    background-position: right;
}

input.sheet-new:checked ~ div.sheet-tab3 {
    background: url('http://cdn.obsidianportal.com/assets/47485/BloodSplatter.png') no-repeat;
    background-position: right;
}

input.sheet-new:checked ~ div.sheet-tab4 {
    background: url('http://4.bp.blogspot.com/-NmRjgJI0FZA/UYgtnt9haPI/AAAAAAAANGU/gM9aoCNljh4/s1600/BETTER-BLOOD-SPLATTER-psd11647.png');
}

input.sheet-new:checked ~ div.sheet-tab5 {
    background: url('http://cdn.obsidianportal.com/assets/47485/BloodSplatter.png') no-repeat;
    background-position: right;
}

input.sheet-new:checked ~ .sheet-col {
    background: url('http://4.bp.blogspot.com/-NmRjgJI0FZA/UYgtnt9haPI/AAAAAAAANGU/gM9aoCNljh4/s1600/BETTER-BLOOD-SPLATTER-psd11647.png') no-repeat;
    background-size: 100%;

}
/*----- text styling-----*/

h3, h4, h5, th {
    font-family:"Julee";
    text-shadow: 0px 0px 10px white,0px 0px 10px white,0px 0px 15px white;
    color:red;
}
.sheet-dark {
	background:#3D4849;
}
.sheet-center {
	text-align:center;
}

/*-----textbox-----*/
.sheet-black {
    background:black;
    color:white;
    font-family:"Julee";
}

.sheet-black h3 {
    color:white;;
    text-shadow:none;
}

.sheet-center {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.sheet-bigname {
    text-align:center;
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:1em; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
    padding-top:10px;
    margin:2px;
    font-family:"Julee";
    font-size:1.4em;
}
.sheet-big_number {
    text-align:center;
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:2em; 
    width: 2em; 
    padding-left:10px; 
    padding-right:10px; 
    padding-top:3px;
    padding-bottom:3px;
    margin:2px;
    font-family:"Julee";
    font-size:1.4em;
}

.sheet-bigname::-webkit-input-placeholder {
    padding-bottom:0px;
    padding-top:5px;
}


.sheet-mediumname {
    text-align:center;
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:1em; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
}

.sheet-textarea {
    background: url('');
    background-size:100%;
    width:97%;
    resize:vertical;
}
 
.sheet-hidden {
    display:none;
}

.sheet-textbox {
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:1em; 
    width: 260px; 
    padding-left:10px; 
    padding-right:10px; 
}

.sheet-numberbox[type="number"] {
    text-align:center;
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    height:28px; 
    padding-left:10px; 
    padding-right:10px; 
    width:100px; 
}
input[type="number"] {
	-webkit-appearance: textfield; 
    -moz-appearance: textfield; 
    appearance: textfield;
}
.sheet-numberbox[type="number"]::-webkit-inner-spin-button, 
.sheet-numberbox[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.sheet-skill_select {
    text-align:center;
    width:40px;
    height:25px;
    margin-bottom:0;
    overflow: hidden;
    padding-left:6px; 
    
    border: 1px solid black; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
}

select.sheet-skill_select  {
    position:relative;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom:0px;
    vertical-align:middle;
    margin-bottom:0;
    line-height: 100%;
}

select.sheet-skill_select option {
    color:red;
    padding-top:0px;
}

.sheet-lb {
    border-left: 1px solid black;
}

.sheet-rb {
    border-right: 1px solid black;
}
/*===== tables =====*/
.sheet-skilltable {
    background: url('');
    background-size:100%;
    color:black;
    font-weight:400;
    width:75%;
}

/* ======== Sheet-arrow to hide things========*/
input.sheet-arrow[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake sheet-arrow checkbox----- */

input.sheet-arrow[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 14px;
    height: 14px;
    content: "▼";
    transform: rotate(-90deg);
}

input.sheet-arrow[type="checkbox"]:checked + span::before {
    width: 14px;
    height: 14px;
    content: "▼";
    transform: rotate(0deg);
}

div.sheet-body {
    display: none;
}
/* -----Hiding areas with sheet-arrow ----- */

input.sheet-arrow {
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}
    /* -----Hide actual radio----- */
input.sheet-gore[type="radio"]
{
    opacity: 0;
    width: 30px;
    height: 15px;
    position: relative;
    top: 0px;
    left: 15px;
    margin: -15px;
    cursor: pointer;
    z-index: 1;
    box-shadow: inset 0px 0px 5px green;
}

    /* -----Fake radio----- */
input.sheet-gore[type="radio"] + span::before
{
    margin-right: 2px;
    border: solid 1px #a8a8a8;
    width: 30px;
    height: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    border:1px solid black;    
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: inset 0 0 5px black;
    
    background:white;
    
    content: "";
    width: 30px;
    height: 15px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}  
input.sheet-gore[type="radio"]:checked + span::before {
    background:black;
    
}

/*-----radio boxes-----*/
/*-------Start of sheet-Query-----------*/
div.sheet-Query {
	position: relative;
	left: 0px;
	top: 5px;
	width: 30px;
	height: 20px;
	margin-left: 0px;
}
input.sheet-Query {
	width: 30px;
	height: 20px;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 1;
	opacity: 0;
}
span.sheet-Query {
	margin: 0px 0 0 0px;
	display: none;
	position: absolute;
	left:0px;
	top:0px;
	width:30px;
	text-align:center;
}
input.sheet-no {
	z-index: 2;
}
input.sheet-no:checked + input.sheet-yes,input.sheet-yes:checked + input.sheet-no {
	z-index: 3;
}
input.sheet-no:checked ~ span.sheet-no,input.sheet-yes:checked ~ span.sheet-yes {
	display: inline-block;
}
/*==========buttons=====|=====*/
    /*=====traits=====*/

.sheet-trait_roll[type="roll"]:before {
    content: ""!important;
    display: none;
}

.sheet-trait_roll[type="roll"] {
    width: 95%;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    line-height: 25px;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    
    background-color: transparent;
    border: 2px solid transparent; /* 1px solid black */;
    padding: 2px;
    padding-bottom:4px;

    font-size: 1em;
    color:white;

    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    font-weight: 700;
    font-family:"Julee";
}

.sheet-trait_roll[type="roll"]:hover {
    border: 2px inset white; /* 1px solid black */;
    padding-left:4px;
    padding-top:4px;
    padding-right:2px;
    padding-bottom:0px;
    color:red;
}

.sheet-trait_roll[type="roll"]:active {
    color:black;
    background:red;
}
    /*=====skill button=====*/
.sheet-skillbutton[type="roll"]:before {
    content: ""!important;
    display: none;
}

.sheet-skillbutton[type="roll"] label,
.sheet-skillbutton[type="roll"] input,
.sheet-skillbutton[type="roll"] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    line-height: 0.7em;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    
    background-color: transparent;
    border: 1px solid black; /* 1px solid black */;
    padding: 2px;
    padding-bottom:4px;
    
    white-space: nowrap;
    border-radius: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.sheet-skillbutton[type="roll"]:hover {
    border: 2px inset gray; /* 1px solid black */;
    background:black;
}

.sheet-skillbutton[type="roll"]:active {
    border: 2px inset gray; /* 1px solid black */;
    background:red;
}
    /*=====traits=====*/

.sheet-Initiative_roll[type="roll"]:before {
    content: ""!important;
    display: none;
}

.sheet-Initiative_roll[type="roll"] {
    display: inline-block;
    margin: 0;
    line-height: 25px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    
    background: black;
    border: 2px solid transparent; /* 1px solid black */;
    padding: 2px;
    padding-bottom:4px;

    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    font-size: 1em;
    color:white;
    font-weight: 700;
    font-family:"Julee";
}

.sheet-Initiative_roll[type="roll"]:hover {
    border: 2px inset white; 
    padding-left:4px;
    padding-top:4px;
    padding-right:2px;
    padding-bottom:0px;
    color:red;
}

.sheet-Initiative_roll[type="roll"]:active {
    color:black;
    background:red;
}
/* %%%%% %%%%% %%%%% */
/* afmbe */
/* %%%%% %%%%% %%%%% */
.sheet-rolltemplate-afmbe {
	width: 190px;
	padding: 2px;
	background: white;
	border-radius:8px;
	border-width:1px;
	border-style:solid;
	color:black;
    font-family: 'Courier New';
}
.sheet-rolltemplate-afmbe hr {
	height:5px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.sheet-rolltemplate-afmbe b.sheet-1 {
    color:red;
    font-size:1em;
    font-family:"Julee";
}
.sheet-rolltemplate-afmbe b.sheet-2 {
    color:darkred;
    font-size:1.4em;
    font-variant:small-caps;
    font-family:"Julee";
}
.sheet-rolltemplate-afmbe span {
    color:red;
    font-size:1.2em;
    background:transparent;
    border:none;
    font-family:"Julee";
}
.sheet-rolltemplate-afmbe span.sheet-success {
    font-family:"Julee";
    color:green;
    font-size:1.1em;
    font-weight:bold;
}
.sheet-rolltemplate-afmbe span.sheet-failure {
    font-family:"Julee";
    color:red;
    font-size:1.1em;
    font-weight:bold;
}
.sheet-rolltemplate-afmbe .sheet-result {
	font-size: 1.1em;
	text-align: center;
	color: rgb(112, 0, 0);
	padding-bottom: 20px;
}
.sheet-rolltemplate-afmbe .inlinerollresult {
	background-color: transparent;
	color: #000000;
	border: none;
}
.sheet-rolltemplate-afmbe .inlinerollresult.fullcrit {
	background-color: transparent;
	color: #009800;
	border: none;
}
.sheet-rolltemplate-afmbe .inlinerollresult.fullfail {
	background-color: transparent;
	color: #A00000;
	border: none;
}
.sheet-rolltemplate-afmbe .inlinerollresult.importantroll {
	background-color: transparent;
	color: #3FB315;
	border: none;
}


/* Rows and Items */
.sheet-rolltemplate-afmbe .sheet-row,
.charsheet .sheet-row {
	height: 24px;
	margin: 2px 0px 2px;
}
.charsheet .sheet-doublerow {
	height: 48px;
	margin: 2px 0px 2px;
}
.charsheet .sheet-halfrow {
	height: 12px;
	margin: 2px 0px 2px;
}
.sheet-rolltemplate-afmbe .sheet-item,
.charsheet .sheet-item {
	display: inline-block;
	width: 100%;
	height: 28px;
	vertical-align: middle;
	margin: 0 -2px;
	text-align: left;
	padding: 3px 2px;
}
.charsheet .sheet-trait {
    position: relative; 
}
.charsheet .sheet-item.sheet-5 {
	width: 5px;
}
.charsheet .sheet-item.sheet-8 {
	width: 8px;
}
.charsheet .sheet-item.sheet-10 {
	width: 10px;
}
.charsheet .sheet-item.sheet-14 {
	width: 14px;
}
.charsheet .sheet-item.sheet-20 {
	width: 20px;
}
.charsheet .sheet-item.sheet-25 {
	width: 25px;
}
.charsheet .sheet-item.sheet-30 {
	width: 30px;
}
.charsheet .sheet-item.sheet-40 {
	width: 40px;
}
.sheet-rolltemplate-afmbe .sheet-item.sheet-50,
.charsheet .sheet-item.sheet-50 {
	width: 50px;
}
.charsheet .sheet-item.sheet-60 {
	width: 60px;
}
.charsheet .sheet-item.sheet-65 {
	width: 65px;
}
.charsheet .sheet-item.sheet-70 {
	width: 70px;
}
.sheet-rolltemplate-afmbe .sheet-item.sheet-80,
.charsheet .sheet-item.sheet-80 {
	width: 80px;
}
.charsheet .sheet-item.sheet-85 {
	width: 85px;
}
.sheet-rolltemplate-afmbe .sheet-item.sheet-90,
.charsheet .sheet-item.sheet-90 {
	width: 90px;
}
.sheet-rolltemplate-afmbe .sheet-item.sheet-100,
.charsheet .sheet-item.sheet-100 {
	width: 100px;
}
.charsheet .sheet-item.sheet-110 {
	width: 110px;
}
.charsheet .sheet-item.sheet-120 {
	width: 120px;
}
.sheet-rolltemplate-afmbe .sheet-item.sheet-130,
.charsheet .sheet-item.sheet-130 {
	width: 130px;
}
.charsheet .sheet-item.sheet-140 {
	width: 140px;
}
.charsheet .sheet-item.sheet-150 {
	width: 150px;
}
.charsheet .sheet-item.sheet-160 {
	width: 160px;
}
.sheet-rolltemplate-afmbe .sheet-item.sheet-180,
.charsheet .sheet-item.sheet-180 {
	width: 180px;
}
.charsheet .sheet-item.sheet-195 {
	width: 195px;
}
.sheet-rolltemplate-afmbe .sheet-item.sheet-200,
.charsheet .sheet-item.sheet-200 {
	width: 200px;
}
.charsheet .sheet-item.sheet-210 {
	width: 210px;
}
.charsheet .sheet-item.sheet-230 {
	width: 230px;
}
.charsheet .sheet-item.sheet-250 {
	width: 250px;
}
.charsheet .sheet-item.sheet-395 {
	width: 395px;
}
.charsheet .sheet-item.sheet-400 {
	width: 400px;
}