# Scoping given folders to particular publishers and agents

/'Sword & Scoundrel'/ @GrandHeresy
/"Bluebeard's Bride"/ @jasonslanga
/Agon Official/ @fredhicks
/Alice Is Missing/ @spenserstarke
/Altered Carbon Official/ @nmbradley
/APOCTHULHU/ @dean-cthulhu
/Aquablue/ @Zakarik
/ARC/ @morgdalaine
/Awaken/ @Zekarik
/Awfully Cheerful Engine!/ @seregrauko
/Band Of Blades Official/ @fredhicks
/Barbaric/ @Anduh
/Basic Fantasy RPG/ @Solomoriah
/Blades in the Dark/ @fredhicks
/cepheus-atom/ @Anduh
/Changed Stars/ @nicho-hoffman
/Chasing Adventure/ @SpencerMoore
/City of Mist Official/ @nmbradley
/Das Schwarze Auge (TDE) 5 OFFICIAL by Ulisses/ @Plushtoast
/Delta Green 2/ @uriele
/Draci Hlidka/ @DraciHlidka
/Earthdawn (FASA Official)/ @ChrisDDickey
/Esper_Genesis_5e/ @nmbradley
/Excellents/ @9thLevel
/Fate/ @fredhicks
/FreeSpacer/ @XohpRA
/Genefunk 2090/ @Kurohyou
/GODSEND-Agenda/ @Anduh
/Hc Svnt Dracones Second Edition/ @Anduh
/Ironsworn-Starforged/ @aureyia
/Ironsworn/ @aureyia
/Kids on Bikes Official/ @nmbradley
/Kids on Brooms Official/ @nmbradley
/Level Up - Advanced 5th Edition/ @seregrauko
/Ludosystem/ @ViniciusAlmeida25
/Malmsturm/ @Trestolt
/Mazes/ @9thLevel
/Monster of the Week Official/ @fredhicks
/Mothership Official/ @nmbradley
/Mutants and Masterminds 3E Official/ @Medieve
/MythicD6/ @Anduh
/Odyssey Aquatica/ @timdenee
/Old School Essentials - AAC/ @wesbaker
/Outbreak: Undead by Hunters Entertainment/ @clevett
/ReachofTitan/ @clevett
/Relics by Tin Star Games/ @DoctorHays
/SCP The Tabletop Roleplaying Game/ @Kurohyou
/Scum - Villainy/ @fredhicks
/Seigneurs Des Arcanes/ @Zakarik
/Sig City of Blades/ @stevenpaulr
/Sports Brawl by Lost West Media/ @LostWestMedia
/Stargate-RPG/ @Anduh
/Tales from the Loop Official/ @nmbradley
/Teens in Space Official/ @nmbradley
/Tesoro-y-Gloria/ @Anduh
/Thirsty Sword Lesbians/ @fredhicks
/Valor/ @ProfessorProf
/Warhammer Fantasy Roleplay 4e Official/ @nmbradley
/WarlockOSR/ @osshhub
/Yatzoid/ @Runnetty1
/YnnPryddein/ @diverss
/Zafir/ @RandyKnapp
/Zweihänder Grim & Perilous/ @CoalPoweredPuppet

# Unclear Providence

/Tormenta20/ @roll20/Sheetmaintainers
