# Scoping given folders to particular publishers and agents

Sword\ *\ Scoundrel/ @Roll20/sheetmaintainers # @GrandHeresy
Bluebeard*s\ Bride/ @Roll20/sheetmaintainers # @jasonslanga
Agon\ Official/ @Roll20/sheetmaintainers # @fredhicks
Alice\ Is\ Missing/ @Roll20/sheetmaintainers # @spenserstarke
Altered\ Carbon\ Official/ @Roll20/sheetmaintainers # @nmbradley
APOCTHULHU/ @Roll20/sheetmaintainers # @dean-cthulhu
Aquablue/ @Roll20/sheetmaintainers # @Zakarik
ARC/ @Roll20/sheetmaintainers # @morgdalaine
Awaken/ @Roll20/sheetmaintainers # @Zekarik
Awfully\ Cheerful\ Engine*/ @Roll20/sheetmaintainers # @seregrauko
Band\ Of\ Blades\ Official/ @Roll20/sheetmaintainers # @fredhicks
Barbaric/ @Roll20/sheetmaintainers # @Anduh
Basic\ Fantasy\ RPG/ @Roll20/sheetmaintainers # @Solomoriah
Blades\ in\ the\ Dark/ @Roll20/sheetmaintainers # @fredhicks
cepheus-atom/ @Roll20/sheetmaintainers # @Anduh
Changed\ Stars/ @Roll20/sheetmaintainers # @nicho-hoffman
Chasing\ Adventure/ @Roll20/sheetmaintainers # @SpencerMoore
City\ of\ Mist\ Official/ @Roll20/sheetmaintainers # @nmbradley
Das\ Schwarze\ Auge\ (TDE)\ 5\ OFFICIAL\ by\ Ulisses/ @Roll20/sheetmaintainers # @Plushtoast
Delta\ Green\ 2/ @Roll20/sheetmaintainers # @uriele
Draci\ Hlidka/ @Roll20/sheetmaintainers # @DraciHlidka
Earthdawn\ (FASA\ Official)/ @Roll20/sheetmaintainers # @ChrisDDickey
Esper_Genesis_5e/ @Roll20/sheetmaintainers # @nmbradley
Excellents/ @Roll20/sheetmaintainers # @9thLevel
Fate/ @Roll20/sheetmaintainers # @fredhicks
FreeSpacer/ @Roll20/sheetmaintainers # @XohpRA
Genefunk\ 2090/ @Roll20/sheetmaintainers # @Kurohyou
GODSEND-Agenda/ @Roll20/sheetmaintainers # @Anduh
Hc\ Svnt\ Dracones\ Second\ Edition/ @Roll20/sheetmaintainers # @Anduh
Ironsworn-Starforged/ @Roll20/sheetmaintainers #  @aureyia @rsek
Ironsworn/ @Roll20/sheetmaintainers # @aureyia @rsek
Kids\ on\ Bikes\ Official/ @Roll20/sheetmaintainers # @nmbradley
Kids\ on\ Brooms\ Official/ @Roll20/sheetmaintainers # @nmbradley
Level\ Up\ -\ Advanced\ 5th\ Edition/ @Roll20/sheetmaintainers # @seregrauko
Ludosystem/ @Roll20/sheetmaintainers # @ViniciusAlmeida25
Malmsturm/ @Roll20/sheetmaintainers # @Trestolt
Mazes/ @Roll20/sheetmaintainers # @9thLevel
Monster\ of\ the\ Week\ Official/ @Roll20/sheetmaintainers # @fredhicks
Mothership\ Official/ @Roll20/sheetmaintainers # @nmbradley
Mutants\ and\ Masterminds\ 3E\ Official/ @Roll20/sheetmaintainers # @Medieve
MythicD6/@Roll20/sheetmaintainers # @Anduh
Odyssey\ Aquatica/ @Roll20/sheetmaintainers # @timdenee
Official\ Savage\ Worlds/ @Roll20/sheetmaintainers # @Kurohyou @finderski
Old\ School\ Essentials\ -\ AAC/ @Roll20/sheetmaintainers # @wesbaker
Outbreak*\ Undead\ by\ Hunters\ Entertainment/ @Roll20/sheetmaintainers # Contact Publisher
rapidfire_system/ @Roll20/sheetmaintainers # @Kurohyou
ReachofTitan/ @Roll20/sheetmaintainers # Contact Publisher
Relics\ by\ Tin\ Star\ Games/ @Roll20/sheetmaintainers # @DoctorHays
SCP\ The\ Tabletop\ Roleplaying\ Game/ @Roll20/sheetmaintainers # @Kurohyou
Scum\ -\ Villainy/ @Roll20/sheetmaintainers # @fredhicks
Seigneurs\ Des\ Arcanes/ @Roll20/sheetmaintainers # @Zakarik
Sentinel\ Comics\ Roleplaying\ Game/ @Roll20/sheetmaintainers # @fredhicks
Sig\ City\ of\ Blades/ @Roll20/sheetmaintainers # @stevenpaulr
Sports\ Brawl\ by\ Lost\ West\ Media/ @Roll20/sheetmaintainers # @LostWestMedia
Stargate-RPG/ @Roll20/sheetmaintainers # @Anduh
Tales\ from\ the\ Loop\ Official/ @Roll20/sheetmaintainers # @nmbradley
Teens\ in\ Space\ Official/ @Roll20/sheetmaintainers # @nmbradley
Tesoro-y-Gloria/ @Roll20/sheetmaintainers # @Tenfes
Thirsty\ Sword\ Lesbians/ @Roll20/sheetmaintainers # @fredhicks
Valor/ @Roll20/sheetmaintainers # @ProfessorProf
Warhammer\ Fantasy\ Roleplay\ 4e\ Official/ @Roll20/sheetmaintainers # @nmbradley
WarlockOSR/ @Roll20/sheetmaintainers # @osshhub
Yatzoid/ @Roll20/sheetmaintainers # @Runnetty1
YnnPryddein/@Roll20/sheetmaintainers #  @diverss
Zafir/ @Roll20/sheetmaintainers # @RandyKnapp
Zweih*nder\ Grim\ *\ Perilous/ @Roll20/sheetmaintainers # @CoalPoweredPuppet

# Unclear Providence

/Tormenta20/ @Roll20/sheetmaintainers
