# Scoping given folders to particular publishers and agents

Sword\ *\ Scoundrel/ @Roll20/sheetmaintainers # @GrandHeresy
Bluebeard*s\ Bride/ @Roll20/sheetmaintainers # @jasonslanga
aetherial_expanse/ @Roll20/sheetmaintainers # @Kurohyou
Agon\ Official/ @Roll20/sheetmaintainers # @fredhicks
Alice\ Is\ Missing/ @Roll20/sheetmaintainers # @spenserstarke
alien_rpg/ @Roll20/sheetmaintainers # @Kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
Altered\ Carbon\ Official/ @Roll20/sheetmaintainers # @nmbradley
anime5e/ @Roll20/sheetmaintainers # @VJRolmasters
Animon_Story/ @Roll20/sheetmaintainers # @Wagii
Apocalyse\ Keys/ @Roll20/sheetmaintainers # @fredhicks
APOCTHULHU/ @Roll20/sheetmaintainers # @dean-cthulhu
Aquablue/ @Roll20/sheetmaintainers # @Zakarik
ARC/ @Roll20/sheetmaintainers # @morgdalaine
AvatarLegendsMagpie/ @Roll20/sheetmaintainers # @ChubertoM / @akibi90
Awaken/ @Roll20/sheetmaintainers # @Zekarik
Awfully\ Cheerful\ Engine*/ @Roll20/sheetmaintainers # @seregrauko
Band\ Of\ Blades\ Official/ @Roll20/sheetmaintainers # @fredhicks
Barbaric/ @Roll20/sheetmaintainers # @Anduh
Basic\ Fantasy\ RPG/ @Roll20/sheetmaintainers # @Solomoriah
blade_runner_rpg/ @Roll20/sheetmaintainers # @Kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
Blades\ 68/ @Roll20/sheetmaintainers #timdenee
Blades\ in\ the\ Dark/ @Roll20/sheetmaintainers # @fredhicks
Blue\ Archive/ @Roll20/sheetmaintainers # @colearkenach
The\ Breach/ @Roll20/sheetmaintainers # @wellenina
Brigandyne\ 2e\ *dition/ @Roll20/sheetmaintainers # @CuracaoGold
cepheus-atom/ @Roll20/sheetmaintainers # @Anduh
Changed\ Stars/ @Roll20/sheetmaintainers # @nicho-hoffman
Chasing\ Adventure/ @Roll20/sheetmaintainers # @SpencerMoore
ChroniquesOublieesFantasy2/ @Roll20/sheetmaintainers # @stephaned68
City\ of\ Mist\ Official/ @Roll20/sheetmaintainers # @nmbradley
Cloudbreaker_Alliance @Roll20/sheetmaintainers # @Wagii
cosmere @Roll20/sheetmaintainers # @kurohyou
Cthulhu\ Kami/ @Roll20/sheetmaintainers # @Zakarik
d20age/ @Roll20/sheetmaintainers # @machado-cesar
Das\ Schwarze\ Auge\ (TDE)\ 5\ OFFICIAL\ by\ Ulisses/ @Roll20/sheetmaintainers # @Plushtoast
Dark\ Horizons\ Mechanized\ Corps/ @Roll20/sheetmaintainers # @edgardnerNESP
dcc_official/ @Roll20/sheetmaintainers # @Kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
Deathmatch\ Island/ @Roll20/sheetmaintainers # @timdenee
Delta\ Green\ 2/ @Roll20/sheetmaintainers # @uriele
Dirty\ System/ @Roll20/sheetmaintainers # @ctotone
Draci\ Hlidka/ @Roll20/sheetmaintainers # @DraciHlidka
dragonbane/ @Roll20/sheetmaintainers # @kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
Earthdawn\ (FASA\ Official)/ @Roll20/sheetmaintainers # @ChrisDDickey @jiboux
Esper_Genesis_5e/ @Roll20/sheetmaintainers # @nmbradley
everyday_heroes/ @Roll20/sheetmaintainers # @kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
Excellents/ @Roll20/sheetmaintainers # @9thLevel
Fantasy-Gits/ @Roll20/sheetmaintainers # @pktome
Fate/ @Roll20/sheetmaintainers # @fredhicks
FreeSpacer/ @Roll20/sheetmaintainers # @XohpRA
Fur\ *\ Forge/ @Roll20/sheetmaintainers # @colearkenach
Genefunk\ 2090/ @Roll20/sheetmaintainers # @kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
GODSEND-Agenda/ @Roll20/sheetmaintainers # @Anduh
Hc\ Svnt\ Dracones\ Second\ Edition/ @Roll20/sheetmaintainers # @Anduh
Hexen\ Academy/ @Roll20/sheetmaintainers # @colearkenach
HeXXen-1733-2E/ @Roll20/sheetmaintainers # @sh-dave / Ulisses
Hollow_Knight_Unofficial_TTRPG/ @Roll20/sheetmaintainers # @Ccmaci
Ironsworn-Starforged/ @Roll20/sheetmaintainers #  @aureyia @rsek
Ironsworn/ @Roll20/sheetmaintainers # @aureyia @rsek
Kids\ on\ Bikes\ Official/ @Roll20/sheetmaintainers # @nmbradley
Kids\ on\ Brooms\ Official/ @Roll20/sheetmaintainers # @nmbradley
Lames\ du\ Cardinal\ v2/ @Roll20/sheetmaintainers # @Calmacil
Level\ Up\ -\ Advanced\ 5th\ Edition/ @Roll20/sheetmaintainers # @seregrauko
Ludosystem/ @Roll20/sheetmaintainers # @ViniciusAlmeida25
Malmsturm/ @Roll20/sheetmaintainers # @Trestolt
Mazes/ @Roll20/sheetmaintainers # @9thLevel
Medievo\ Oscuro/ @Roll20/sheetmaintainers # @VJRolmasters
Monster\ of\ the\ Week\ Official/ @Roll20/sheetmaintainers # @fredhicks
Mothership\ Official/ @Roll20/sheetmaintainers # @nmbradley
Mutants\ and\ Masterminds\ 3E\ Official/ @Roll20/sheetmaintainers # @Medieve
Mystery-dark-age/ @Roll20/sheetmaintainers # @Velczer
MythicD6/ @Roll20/sheetmaintainers # @Anduh
NoReturn_2E/ @Roll20/sheetmaintainers # @Gorthian 
Odyssey\ Aquatica/ @Roll20/sheetmaintainers # @timdenee
Official\ Savage\ Worlds/ @Roll20/sheetmaintainers # @Kurohyou / @christopherhopper / @finderski / @rpgnerdz / Metamorphic
Old\ School\ Essentials\ -\ AAC/ @Roll20/sheetmaintainers # @wesbaker
olddragon2e/ @Roll20/sheetmaintainers # @guilhermemir
Outbreak*\ Undead\ by\ Hunters\ Entertainment/ @Roll20/sheetmaintainers # Contact Publisher
Paranoia\ Perfect\ Edition\ Official/ @Roll20/sheetmaintainers # @VTTKenny
Pendragon6thEdition/ @Roll20/sheetmaintainers # @clevett
Rangers\ of\ a\ Broken\ World/ @Roll20/sheetmaintainers # @fredhicks
rapidfire_system/ @Roll20/sheetmaintainers # @Kurohyou
ReachofTitan/ @Roll20/sheetmaintainers # Contact Publisher
Relics\ by\ Tin\ Star\ Games/ @Roll20/sheetmaintainers # @DoctorHays
RolemasterUnified_Official/ @Roll20/sheetmaintainers # @nashidau
root/ @Roll20/sheetmaintainers # @ChubertoM / @akibi90
SabreRPG/ @Roll20/sheetmaintainers # @Savant1974
SCP\ The\ Tabletop\ Roleplaying\ Game/ @Roll20/sheetmaintainers # @Kurohyou
Scum\ -\ Villainy/ @Roll20/sheetmaintainers # @fredhicks
Seigneurs\ Des\ Arcanes/ @Roll20/sheetmaintainers # @Zakarik
Sentinel\ Comics\ Roleplaying\ Game/ @Roll20/sheetmaintainers # @fredhicks
Sig\ City\ of\ Blades/ @Roll20/sheetmaintainers # @stevenpaulr
Skyfall/ @Roll20/sheetmaintainers # @MarcusMichelin @RoenMidnight
Sports\ Brawl\ by\ Lost\ West\ Media/ @Roll20/sheetmaintainers # @LostWestMedia
Stargate-RPG/ @Roll20/sheetmaintainers # @Anduh
Stewpot/ @Roll20/sheetmaintainers # @fredhicks
Storypath/ @Roll20/sheetmaintainers # @Kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
Table\ Top\ Defined/ @Roll20/sheetmaintainers # @eGellman89
Tales\ from\ the\ Loop\ Official/ @Roll20/sheetmaintainers # @nmbradley
Tales\ Of\ Argosa/ @Roll20/sheetmaintainers # @Audemar-Codding
Teens\ in\ Space\ Official/ @Roll20/sheetmaintainers # @nmbradley
Terre2/ @Roll20/sheetmaintainers # @Micahdo
Tesoro-y-Gloria/ @Roll20/sheetmaintainers # @Tenfes
The\ Fade\ 3e/ @Roll20/sheetmaintainers # @colearkenach
they_came_from/ @Roll20/sheetmaintainers # @Kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
Thirsty\ Sword\ Lesbians/ @Roll20/sheetmaintainers # @fredhicks
Valor/ @Roll20/sheetmaintainers # @ProfessorProf
velvet_generation/ @Roll20/sheetmaintainers # @richranallo
walking_dead/ @Roll20/sheetmaintainers # @Kurohyou / @christopherhopper / @rpgnerdz / Metamorphic
Warhammer\ Fantasy\ Roleplay\ 4e\ Official/ @Roll20/sheetmaintainers # @nmbradley
WarlockOSR/ @Roll20/sheetmaintainers # @osshhub
Without\ Numbers/ @Roll20/sheetmaintainers # @clevett 
Yatzoid/ @Roll20/sheetmaintainers # @Runnetty1
YnnPryddein/ @Roll20/sheetmaintainers #  @diverss
Zafir/ @Roll20/sheetmaintainers # @RandyKnapp
Zweih*nder\ Grim\ *\ Perilous/ @Roll20/sheetmaintainers # @CoalPoweredPuppet
Cruelty\ Squad/ @Roll20/sheetmaintainers # @colearkenach
Pirate\ Borg/ @Roll20/sheetmaintainers # @sneat
Dragon\ Ball/ @Roll20/sheetmaintainers # @VJRolmasters
4d6\ Morgalad/ @Roll20/sheetmaintainers # @McnabbGames
Fire\ Emblem\ Ultimate\ Edition/ @Roll20/sheetmaintainers # @colearkenach
Into\ the\ Odd\ 2nd\ edition/ @Roll20/sheetmaintainers # @ctotone @morgdalaine
The\ Aethyrblood\ Chronicles/ @Roll20/sheetmaintainers # @VJRolmasters
Please\ Rule\ the\ North\ with\ me*\ Grand\ Duke*/ @Roll20/sheetmaintainers # @headdrop 
Fire\ Emblem/ @Roll20/sheetmaintainers # @VJRolmasters
The\ Worst\ Days/ @Roll20/sheetmaintainers # @JoshuaWWise

Negocios_Infernales/  @Roll20/sheetmaintainers # @RyanMakesBoardGames
Official_100DOS_Mythic_by_100DOS/ @Roll20/sheetmaintainers # @michaelvanweelde
Dyskami\ Tri-Stat_BESM_and\ Absolute\ Power/ @Roll20/sheetmaintainers # @Darth-John
Mongoose\ Traveller\ 2e\ Official/ @Roll20/sheetmaintainers # @madbeardman
Shadownrun\ Sixth\ World/ @Roll20/sheetmaintainers # @jaculpiii
The\ Maddening\ Red\ Wastes/ @Roll20/sheetmaintainers # @JesterKnightGames


# Unclear Providence

/Black\ Troopers/ @Roll20/sheetmaintainers #  @jarbascjunior2
/Cairn/ @Roll20/sheetmaintainers # @carpedavid
/Tormenta20/ @Roll20/sheetmaintainers
/Super_T_Show/ @Roll20/sheetmaintainers #  @jarbascjunior2
/sinistros_e_monstros/ @Roll20/sheetmaintainers #  @jarbascjunior2
/Solo10\ Vampiro_Sozinho_Na_Escuridao/ @Roll20/sheetmaintainers # @jarbascjunior2

# Sheets that got past initial screening and are now hidden
Omegaverse_Trpg/ @Roll20/sheetmaintainers # violates ToS
AvatarLegends/ @Roll20/sheetmaintainers # IP violation
