.charsheet label {
    display: inline-block;
    width: 75px;
	text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.charsheet .sheet-3colrowCust .sheet-col {
    width: calc(33% - 4px);
    margin-right: 5px;
}
.charsheet input {
	display: inline-block;
	width: 165px;
}

.sheet-col strong.sheet-dee {
	font-size: 1em;
	font-weight: bold;
	padding-right: 1px;
}

.charsheet input.sheet-short {
	width: 45px;
}

.charsheet {
    background-image: url("");
}


.charsheet table td, .charsheet table th {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 0%;
    border: 1px solid black;
    padding: 0px;
}

select.sheet-dtype {
    width: 60px;
    vertical-align: top;
}

.charsheet textarea {
    resize: none;
}
