.charsheet {
	background-color: #eee;
	padding: 1em;
	font-family: Georgia, serif;
	overflow: clip;
}

.sheet-body {
	min-width:800px;
}

.sheet-body > :not(.v-spacer):not(.h-spacer) {
	background-color: #fdfdfd;
}

.border {
	border: 3px solid #aaa;
	border-radius: 4px;
	padding: 0.5em;
}

.border-right {
	border-right: 1px solid #aaa;
}

.v-spacer {
	height: 1em;
}

.hexagon {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.charsheet input {
	width: unset;
}
.charsheet input[type=number] {
	text-align: center;
}
.charsheet input[type=number].no-spin::-webkit-inner-spin-button,
.charsheet input[type=number].no-spin::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.charsheet input.input-md {
	height: 20px;
	font-size: 0.9em;
}
.charsheet input.input-stamina {
	height: 20px;
	font-size: 0.9em;
        width: 100%;
 	box-sizing: border-box;
  	min-width: 6em;
}
.charsheet label {
	display: unset;
	margin: unset;
	padding: unset;
	width: unset;
	text-align: unset;
	float: unset;
	font-size: 1em;
}
label.sublabel {
	height: 16px;
	font-size: 0.8em;
	font-weight: normal;
}
.charsheet label.sublabel input {
	padding: 0;
	font-size: 1em;
}
.charsheet select {
	margin: unset;
	width: unset;
}
.charsheet textarea {
	margin: unset;
	width: unset;
}

.progressbox-group {
	display: flex;
}
.progressbox-group > input {
	display: none;
}
.progressbox-group > .progressbox {
	display: block;
	height: 1.5em;
	width: 1.3em;
	border: 1px solid #aaa;
	cursor: pointer;
}
.progressbox-group > .progressbox:has(~ input:checked),
.progressbox-group > input:checked + .progressbox {
	background-color: #777;
}

.header-panel {
	display: flex;
	gap: 0.5em;
}
.header-panel > * {
	flex: 1 1 0;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

.text-warning {
	color: orangered;
}

.minimizable:has(.minimize-control > .minimize:checked) > :not(.minimize-control):not(.minimize-ignore):not(.minimize-show),
.minimizable:has(.minimize-control > .minimize:checked) > .minimize-ignore > :not(.minimize-ignore),
.minimizable:has(.minimize-control > .minimize:not(:checked)) > .minimize-show {
	display: none;
}

.profile-panel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 0.5em;
}
.profile-panel > * {
  display: flex;
  flex-direction: column;
}
.profile-panel .name-input-group {
	grid-column-end: span 2;
}

.progress-panel {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0.5em;
}
.progress-panel > * {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.victories-input-group {
	grid-column-end: span 5;
}
.wealth-input-group, .renown-input-group, .experience-input-group {
	grid-column-end: span 2;
}

.stats-panel {
	position: sticky;
	top: 0;
	z-index: 10;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 0.25em;
}
.stats-panel > .minimize-control {
	grid-column-start: 1;
	grid-column-end: -1;
}

.core-panel {
	grid-column-end: span 6;
	grid-row-end: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.characteristics {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.25em;
}
.characteristics > span {
	grid-column-start: 1;
	grid-column-end: -1;
}
.characteristic-input-group > label {
	cursor: pointer;
}
.characteristic-input-group > input {
	text-align: center;
}

.potencies, .potencies > div {
	display: flex;
	align-items: center;
	gap: 0.25em;
}

.movement {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.1em;
}
.movement-input-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.movement-input-group > input {
	width: 3.75em;
	text-align: center;
}

.stamina-panel {
	grid-column-end: span 3;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	column-gap: 0.5em;
}
.stamina-panel > .panel-title {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
}
.stamina-input-group,
.stamina-temporary-input-group {
	grid-row-end: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stamina-input-group input,
.stamina-temporary-input-group input {
  width: 100%;
  box-sizing: border-box;
  min-width: 6em;
}

.recoveries-panel {
	grid-column-end: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: min-content;
	gap: 0.1em;
}
.recoveries-panel > .panel-title {
	grid-column-start: 1;
	grid-column-end: -1;
	justify-self: center;
}
.recoveries-input-group {
	grid-column-start: 1;
	grid-column-end: -1;
	justify-self: center;
}
.recovery-amount-input-group,
.recoveries-max-input-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.damage-mod-panel {
	grid-column-end: span 6;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0.25em;
}

.resource-description-panel {
	grid-column-end: span 4;
}
.resource-description-panel > textarea {
	width: 100%;
	height: 6em;
}

.resource-panel {
	grid-column-end: span 2;
	justify-self: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
	justify-items: center;
}
.resource-panel > .panel-title {
	overflow-wrap: break-word;
	text-align: center;
}
.resource-name-input-group > input {
	width: 100px;
	text-align: center;
}

.surges-panel {
	grid-column-end: span 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
	justify-items: center;
}
.surges-panel > label {
	justify-self: start;
}

.conditions-panel {
	grid-column-end: span 4;
}
.repcontainer[data-groupname="repeating_conditions"] > .repitem {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0.25em;
	align-items: start;
}
.repcontainer[data-groupname="repeating_conditions"] > .repitem > input {
	grid-row-end: span 2;
}

.biography-panel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5em;
}
.biography-panel > .minimize-control {
	grid-column-start: 1;
	grid-column-end: -1;
}
.career-panel {
	display: grid;
}
.career-panel > .panel-title,
.career-panel > input,
.career-panel > label {
	text-align: center;
}
.career-panel > input {
	font-weight: bold;
}
.career-panel > textarea {
	height: 75px;
}
.complication-panel {
	display: grid;
}
.complication-panel > .panel-title,
.complication-panel > input,
.complication-panel > label {
	text-align: center;
}
.complication-panel > input {
	font-weight: bold;
}
.complication-panel > textarea {
	height: 75px;
}
.culture-panel {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.2em;
}
.culture-panel > .panel-title {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
}
.culture-panel > label {
	text-align: center;
}
.culture-panel > textarea {
	height: 75px;
}

.skills-panel {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.25em;
	align-items: center;
}
.skills-panel > .panel-title {
	grid-column-start: 1;
	grid-column-end: -1;
}

.languages-panel {
	display: grid;
	grid-template-columns: 1fr;
}
.languages-panel > .panel-title {
	grid-column-start: 1;
	grid-column-end: -1;
}

.features-panel {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0.5em;
}
.features-panel > .minimize-control {
	grid-column-start: 1;
	grid-column-end: -1;
}

.class-panel {
	grid-column-end: span 4;
}
.ancestry-panel {
	grid-column-end: span 2;
}
.class-panel > .panel-title,
.ancestry-panel > .panel-title {
	text-align: center;
}
.repcontainer[data-groupname="repeating_classfeatures"] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.2em;
}
.repcontainer[data-groupname="repeating_classfeatures"] > .repitem,
.repcontainer[data-groupname="repeating_ancestrytraits"] > .repitem {
	display: grid;
	grid-gap: 0.2em;
}
.repcontainer[data-groupname="repeating_classfeatures"] > .repitem > input,
.repcontainer[data-groupname="repeating_ancestrytraits"] > .repitem > input {
	font-weight: bold;
}
.repcontainer[data-groupname="repeating_classfeatures"] > .repitem > textarea,
.repcontainer[data-groupname="repeating_ancestrytraits"] > .repitem > textarea {
	height: 50px;
}

.perks-panel {
	grid-column-end: span 4;
}
.titles-panel {
	grid-column-end: span 2;
}
.perks-panel > .panel-title,
.titles-panel > .panel-title {
	text-align: center;
}
.repcontainer[data-groupname="repeating_perks"] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.2em;
}
.repcontainer[data-groupname="repeating_titles"] {
	display: grid;
	grid-gap: 0.2em;
}
.perk-card,
.title-card {
	display: grid;
	grid-gap: 0.2em;
}
.perk-card > input,
.title-card > input {
	font-weight: bold;
}
.perk-card > textarea,
.title-card > textarea {
	height: 75px;
}

.modifiers-panel {
	grid-column-start: 1;
	grid-column-end: -1;
}
.modifiers-panel > .panel-title {
	text-align: center;
}
.repcontainer[data-groupname="repeating_modifiers"] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5em;
}
.modifier-card {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0.2em;
}
.modifier-name {
	grid-column-end: span 4;
	font-weight: bold;
}
.modifier-card:has(> .modifier-type > option[value="kit"]:checked) > :not(.kit):not(.modifier-all),
.modifier-card:has(> .modifier-type > option[value="kit"]:not(:checked)) > .kit {
	display: none;
}
.modifier-type {
	grid-column-end: span 2;
}
.modifier-card > .input-group {
	display: grid;
}
.modifier-card > .input-group > input[type] {
	width: 100%;
}
.modifier-card > .input-group > label {
	text-align: center;
}
.kit-weapon-input-group,
.kit-armor-input-group {
	grid-column-end: span 3;
}
.modifier-card > .kit-damage-label {
	grid-column-end: span 3;
	text-align: center;
}
.modifier-card:has(> .modifier-type > option[value="kit"]:checked) > .modifier-description {
	grid-column-end: span 3;
	grid-row-end: span 4;
	height: 100%;
}
.modifier-card:has(> .modifier-type > option[value="kit"]:not(:checked)) > .modifier-description {
	grid-column-start: 1;
	grid-column-end: -1;
	height: 75px;
}

.abilities-panel {
	display: grid;
	grid-gap: 0.5em;
}
.free-strikes,
.repcontainer[data-groupname="repeating_abilities"] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5em;
}
.ability-card {
	display: grid;
	grid-template-columns: repeat(4, 1fr) repeat(2, auto);
}
.ability-name {
	grid-column-end: span 4;
	font-weight: bold;
}
.ability-cost-input-group {
	justify-self: end;
}
.ability-cost-input-group > input {
	font-weight: bold;
}
.ability-description {
	grid-column-start: 1;
	grid-column-end: -1;
	font-size: 0.8em;
	font-style: italic;
}
.ability-keywords {
	grid-column-end: span 4;
	font-size: 0.8em;
	font-weight: bold;
}
.ability-type {
	grid-column-end: span 2;
	text-align: end;
	font-weight: bold;
}
.ability-type:has(> option[value*="triggered"]:checked) ~ .triggered-hide,
.ability-type:not(:has(> option[value*="triggered"]:checked)) ~ .triggered-show {
	display: none;
}
.ability-distance {
	grid-column-end: span 3;
}
.ability-target {
	grid-column-end: span 3;
	font-size: 0.8em;
	text-align: end;
}

.ability-card:has([name="attr_has_power_roll"]:not(:checked)) > .power-roll > .power-roll-mods > :not(input[type="checkbox"]):not(label),
.ability-card:has([name="attr_has_power_roll"]:not(:checked)) > .power-roll > :not(.power-roll-mods) {
	display: none;
}
.ability-card > .power-roll-hide,
.ability-card > .power-roll {
	grid-column-start: 1;
	grid-column-end: -1;
}
.power-roll {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
.power-roll-mods {
	grid-column-start: 1;
	grid-column-end: -1;
}
.power-roll-characteristic {
	font-weight: bold;
}
.power-roll-tier-effect {
	font-size: 0.8em;
}
.ability-card > .ability-trigger,
.ability-card > .ability-effect {
	grid-column-start: 1;
	grid-column-end: -1;
	height: 50px;
}

.repcontainer[data-groupname="repeating_projects"] > .repitem {
	display: grid;
	grid-template-columns: 5fr 4fr 3fr 3fr;
}
.project-goal-input-group {
	display: flex;
	align-items: center;
}
.project-goal-input-group > input {
	flex-grow: 1;
}

.import-panel > textarea {
	height: 50px;
}

.sheet-rolltemplate-powerroll,
.sheet-rolltemplate-ability {
  background-color: #f5f5f5; /* eggshell */
  font-family: 'Georgia', serif;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: 264px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.sheet-rolltemplate-powerroll.sheet-rolltemplate-darkmode,
.sheet-rolltemplate-ability.sheet-rolltemplate-darkmode {
	background-color: #333333;
}

.sheet-rolltemplate-powerroll .sheet-header,
.sheet-rolltemplate-ability .sheet-header {
	grid-column-start: 1;
	grid-column-end: -1;
  font-size: 2em;
  font-weight: bold;
}

.sheet-rolltemplate-powerroll {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.sheet-rolltemplate-powerroll .sheet-header {
	margin-bottom: 3px;
	border-bottom: 1px solid #bbb;
	padding-bottom: 3px;
        line-height: 1.4;
}

.sheet-rolltemplate-ability .sheet-header {
	margin-bottom: 3px;
	padding-bottom: 3px;
        line-height: 1.4;
}
.sheet-rolltemplate-powerroll label,
.sheet-rolltemplate-powerroll .sheet-powerroll-edge-bane {
	display: unset;
	margin: unset;
	padding: unset;
	width: unset;
	text-align: unset;
	float: unset;
	font-size: 1em;
	font-weight: bold;
}
.sheet-rolltemplate-powerroll .sheet-powerroll-bonus-penalty {
	grid-column-start: -2;
}
.sheet-rolltemplate-powerroll .sheet-powerroll-crit,
.sheet-rolltemplate-powerroll .sheet-powerroll-total,
.sheet-rolltemplate-powerroll .sheet-powerroll-tier {
	margin-top: 3px;
	border-top: 1px solid #bbb;
	padding-top: 3px;
}
.sheet-rolltemplate-powerroll .sheet-powerroll-crit {
	grid-column-start: 1;
	grid-column-end: -1;
	font-weight: bold;
	color: red;
	text-transform: uppercase;
}
.sheet-rolltemplate-powerroll .sheet-powerroll-total {
	grid-column-start: 1;
}

.sheet-rolltemplate-ability .sheet-description {
  font-size: 0.80em;
  font-style: italic;
  margin-bottom: 10px;
  border-bottom: 2px solid #aaa;
  padding-bottom: 6px;
}

.sheet-rolltemplate-ability .sheet-meta-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sheet-rolltemplate-ability .sheet-keywords {
  font-weight: bold;
  font-size: 0.90em;
}

.sheet-rolltemplate-ability .sheet-action-type {
  font-weight: bold;
  font-size: 0.90em;
}

.sheet-rolltemplate-ability .sheet-action-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sheet-rolltemplate-ability .sheet-distance,
.sheet-rolltemplate-ability .sheet-target {
  font-size: 0.80em;
}

.sheet-rolltemplate-ability .sheet-stat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.sheet-rolltemplate-ability .sheet-roll-label {
  font-weight: bold;
  font-size: 1em;
}

.sheet-rolltemplate-ability .sheet-roll-formula {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-family: monospace;
  box-shadow: inset 0 0 2px #aaa;
}

.sheet-rolltemplate-ability .sheet-tiers {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sheet-rolltemplate-ability .sheet-tier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.sheet-rolltemplate-ability .sheet-range {
	flex-shrink: 0;
  background-color: #e0dbce;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}
.sheet-rolltemplate-ability.sheet-rolltemplate-darkmode .sheet-range {
  background-color: #5f5d58;
}

.sheet-rolltemplate-ability .sheet-damage {
  font-size: 0.95em;
}

.sheet-rolltemplate-ability .sheet-effect-block {
  margin-top: 14px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.sheet-rolltemplate-ability.sheet-rolltemplate-darkmode .sheet-effect-block {
	background-color: #0f0f0f;
}

.sheet-rolltemplate-ability .sheet-effect-label {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 1em;
}

.sheet-rolltemplate-ability .sheet-effect-text {
  font-size: 0.95em;
  line-height: 1.4;
}

/* NPC Sheet */
.npc-sheet-body {
	min-width: 566px;
}

.npc-header-panel {
	background: #fff;
	display: grid;
	grid-template-columns: 1fr auto;
	border-bottom: 2px solid #aaa;
	padding: 10px;
}

.npc-stats-panel {
	background: #fff;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 10px;
}

.npc-stats-panel div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.npc-name {
	font-size: 2em;
	font-weight: 800;
}

.npc-stat {
	font-size: 1.5em;
}

.npc-marip-panel {
	background: #fff;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	border-bottom: 2px solid #aaa;
	padding: 10px;
}

.npc-marip-panel div {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: baseline;
}

.npc-marip-panel div span {
	font-size: 1.2em;
}

.npc-skills-panel {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.25em;
	align-items: center;
	background: #fff;
	justify-items: end;
	padding: 10px;
	border-bottom: 2px solid #aaa;
}

.npc.ability-card {
  margin: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #fff;
  padding: 5px;
}

.npc.ability-card .ability-effect, .npc.ability-card .ability-trigger {
	height: auto;
}

.charsheet .npc-checkbox:not(:checked) ~ .npc-sheet-body,
.charsheet .npc-checkbox:checked ~ .sheet-body,
.npc-abilities-panel .repcontrol {
  display: none;
}
