.sheet-wfrp-wrapper {

    input[type="text"],
    input[type="number"],
    textarea,
    select {
        padding: 0 3px;

        background: $form-input-background; 
        color: $form-input-foreground;
        
        vertical-align: baseline;
        
        &:focus,
        &:active,
        &:hover {
            background: $form-active;

            outline: 0;
        }
    }

    input[type="text"],
    textarea,
    select {
        
        text-align: left;  
    }

    input[type="number"] {
        text-align: center;

    }

    input[type="checkbox"] {
        margin: auto;
        width: 1em;
    }

    textarea {

    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-overflow: '';

        cursor: pointer;
    }

    button {
        text-shadow: none;
    }

    button.sheet-wfrp-advancenotify__button {
        display: block;
        margin: 2px;
        padding: $margin-general;

        border-radius: 5px;

        background-color: #28a745;
        color: #fff;

        font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-size: 8pt;
        font-weight: bold;
        text-align: center;
        
    }

}