

/*----------- Tabs Setup -------------*/

/*this hides the contents of each tab by default*/
.sheet-character,
.sheet-ship {
    display: none;
}

/*this shows the tab content when the appropriate input field is selected*/
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="ship"] ~ div.sheet-ship {
    display: block;
}


/*-------------Profiles----------------*/

.charsheet .sheet-character{ 
    background-color: white;
    background-repeat: no-repeat;   
}

.charsheet .sheet-heading{
    text-align: center;
}

.charsheet .sheet-subheading{
    text-align: center;
}

.charsheet .sheet-features-header{
    text-align: center;
}

.charsheet .sheet-equipment-header{
    text-align: center;
}

.charsheet .sheet-col{
    text-align: right;
    padding-bottom: 10px;
}

.charsheet .sheet-rolls{
    text-align: center;
    padding-top: 10px;
}

.charsheet .stat-field{
    text-align: left;
}

.charsheet .sheet-stat-field{
    text-align: left;
    padding-top: 5px;
}

.charsheet .sheet-cred-field{
    text-align: center;
}

.charsheet .sheet-tracker-field{
    text-align: center;
}

.charsheet .sheet-flex-container{
    display: flex;
}

.charsheet .sheet-inventory-desc{
    width: 500px;
}

.charsheet .sheet-feature-description{
    width: 50%;
}

.charsheet .sheet-features{
    max-width: 100%;
}

.charsheet .sheet-rolltype{
    text-align: center;
}


input[type=text],
input[type=number] {
    display: inline-block;
    margin-right: 5px;
    box-shadow: none;
    border: none;
    border-bottom: 1px dotted black;
    -moz-appearance:textfield;
}

textarea{
    max-width: 100%;
}

/*------------------------------------*\
  #ROLL TEMPLATES
\*------------------------------------*/

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-ob {
    margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-ob {
    margin-left: -7px;
}

.sheet-rolltemplate-ob .sheet-container {
    border: 3px solid var(--ob-color);
    border-radius: 3px;
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-ob .sheet-header {
    background-color: var(--ob-color);
    color: var(--ob-text);
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 2px solid var(--ob-color);
}
.sheet-rolltemplate-ob .sheet-title {
    font-size:1.2em;
    font-weight: bold;
}
.sheet-rolltemplate-ob .sheet-subtitle {
    font-size:.9em;
}


.sheet-rolltemplate-ob .sheet-container {
    --ob-color: #e1d1b7;
    --ob-text: black;
}

.sheet-rolltemplate-ob .sheet-container.sheet-color-space {
    --ob-color: #080705;
    --ob-text: red;
  }

/* Allprops part */
.sheet-rolltemplate-ob .sheet-content {
    display: grid;
    background: #FFF;
    /* Header formatting - modify the column layout below */
    grid-template-columns: auto auto;
    /* Line height to match default roll template */
    line-height:1.4em;
}
.sheet-rolltemplate-ob .sheet-content > div {
    padding: 5px;
}

/* Left column */
.sheet-rolltemplate-ob .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-ob .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-ob .sheet-content :nth-child(4n) {
    background:#EEE;
}

/* Wide Description field */
.sheet-rolltemplate-ob .sheet-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}