rolltemplate.sheet-rolltemplate-tftl
    .sheet-tftl-container
        | {{#name}}
        h1 {{name}} 
        | {{/name}}
        | {{#character_name}}
        h2 {{character_name}} 
        | {{/character_name}}
        .sheet-tftl-body
            | {{#stat_value}}
            .sheet-tftl-roll-row
                span +
                span {{stat_title}}
                span ({{stat_value}})
            | {{/stat_value}}
            | {{#skill_value}}
            .sheet-tftl-roll-row
                span +
                span {{skill_title}}
                span ({{skill_value}})
            | {{/skill_value}}
            | {{#reroll_dice}}
            .sheet-tftl-roll-row
                span +
                span(data-i18n="Reroll") Reroll
                span ({{reroll_dice}}) 
            | {{/reroll_dice}}
            | {{#bonus_dice}}
            .sheet-tftl-roll-row
                span +
                span(data-i18n="Bonus") Bonus
                span ({{bonus_dice}}) 
            | {{/bonus_dice}}
            | {{#rollGreater() upset 0}}
            .sheet-tftl-roll-row
                span -
                span(data-i18n="Upset") Upset
                span ({{upset}}) 
            | {{/rollGreater() upset 0}}
            | {{#rollGreater() scared 0}}
            .sheet-tftl-roll-row
                span -
                span(data-i18n="Scared") Scared
                span ({{scared}}) 
            | {{/rollGreater() scared 0}}
            | {{#rollGreater() exhausted 0}}
            .sheet-tftl-roll-row
                span -
                span(data-i18n="Exhausted") Exhausted
                span (({{exhausted}})) 
            | {{/rollGreater() exhausted 0}}
            | {{#rollGreater() injured 0}}
            .sheet-tftl-roll-row
                span -
                span(data-i18n="Injured") Injured
                span ({{injured}}) 
            | {{/rollGreater() injured 0}}
            | {{#rollGreater() broken 0}}
            .sheet-tftl-roll-row
                span -
                span(data-i18n="Broken") Broken
                span ({{broken}}) 
            | {{/rollGreater() broken 0}}
        .sheet-tftl-roll
            span {{roll}}
            span Successes
        .sheet-tftl-buttons
            | {{#reroll1}}
            each number in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
                | {{#rollTotal() roll #{number}}}
                | {{reroll#{number}}}
                | {{/rollTotal() roll #{number}}}
            .sheet-tftl-buttontext(data-i18n="Spend a point of luck, or take a condition") Spend a point of luck, or take a condition
            | {{/reroll1}}
        .sheet-tftl-footer