
table
  | {{#action}}
  tr
    td(colspan="2" class="sheet-subheader") {{header}}
  tr
    th(colspan="2") {{name}}  
  tr
    td span Action Score: 
    td span {{action}}
  tr
    td
      span Challenge Dice: 
    td
      span {{challenge1}} {{challenge2}}
  | {{#rollGreater() action challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  //- CHALLENGE DIE MATCH
  tr
    td(colspan="2" class="sheet-subfooter sheet-opportunity") Opportunity
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() action challenge2}}
  //- Strong Hit
  tr
    td(colspan="2" class="sheet-subfooter sheet-strong-hit") Strong Hit
  | {{/rollGreater() action challenge2}}
  | {{#^rollGreater() action challenge2}}
  //- Weak Hit
  tr
    td(colspan="2" class="sheet-subfooter sheet-weak-hit") Weak Hit
  | {{/^rollGreater() action challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() action challenge1}}
  | {{#^rollGreater() action challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  //- CHALLENGE DIE MATCH
  tr
    td(colspan="2" class="sheet-subfooter sheet-complication") Complication
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() action challenge2}}
  //- Weak Hit
  tr
    td(colspan="2" class="sheet-subfooter sheet-weak-hit") Weak Hit
  | {{/rollGreater() action challenge2}}
  | {{#^rollGreater() action challenge2}}
  //- Miss
  tr
    td(colspan="2" class="sheet-subfooter sheet-miss") Miss
  | {{/^rollGreater() action challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() action challenge1}}
  | {{/action}}
  | {{#vow}}
  tr
    td(colspan="2" class="sheet-subheader") {{header}}
  tr
    th(colspan="2") {{vowname}}  
  tr
    td span Vow Progress: 
    td span {{vow}}
  tr
    td span Challenge Dice: 
    td span {{challenge1}} {{challenge2}}
  | {{#rollGreater() vow challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  //- CHALLENGE DIE MATCH
  tr
    td(colspan="2" class="sheet-subfooter sheet-opportunity") Opportunity
  
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() vow challenge2}}
  //- Strong Hit
  tr
    td(colspan="2" class="sheet-subfooter sheet-strong-hit") Strong Hit
  
  | {{/rollGreater() vow challenge2}}
  | {{#^rollGreater() vow challenge2}}
  //- Weak Hit
  tr
    td(colspan="2" class="sheet-subfooter sheet-weak-hit") Weak Hit
  | {{/^rollGreater() vow challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() vow challenge1}}
  | {{#^rollGreater() vow challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  //- CHALLENGE DIE MATCH
  tr
    td(colspan="2" class="sheet-subfooter sheet-complication") Complication
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() vow challenge2}}
  //- Weak Hit
  tr
    td(colspan="2" class="sheet-subfooter sheet-weak-hit") Weak Hit
  | {{/rollGreater() vow challenge2}}
  | {{#^rollGreater() vow challenge2}}
  //- Miss
  tr
    td(colspan="2" class="sheet-subfooter sheet-miss") Miss
  | {{/^rollGreater() vow challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() vow challenge1}}
  | {{/vow}}
  | {{#custom}}
  | {{#header}}
  tr
    td(colspan="2" class="sheet-subheader") {{header}}
  | {{/header}}
  tr
    th(colspan="2") {{name}}  
  | {{#allprops() custom name header}}
  tr
    td
      span {{key}}
    td
      span {{value}}
  | {{/allprops() custom name header}}
  | {{/custom}}