include ./body

mixin opportunity
  .sheet-result-row.sheet-roll-outcome
    .sheet-opportunity
    .sheet-subfooter OPPORTUNITY

mixin strongHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-strong-hit
    .sheet-subfooter STRONG HIT

mixin momentumStrongHit
  +momentumBody
  .sheet-result-row.sheet-roll-outcome
    .sheet-strong-hit
    .sheet-subfooter Burn Momentum: Strong Hit

mixin weakHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-weak-hit
    .sheet-subfooter WEAK HIT

mixin momentumWeakHit
  +momentumBody
  .sheet-result-row.sheet-roll-outcome
    .sheet-weak-hit
    .sheet-subfooter Burn Momentum: Weak Hit

mixin miss
  .sheet-result-row.sheet-roll-outcome
    .sheet-miss
    .sheet-subfooter MISS

mixin complication
  .sheet-result-row.sheet-roll-outcome
    .sheet-complication
    .sheet-subfooter COMPLICATION

mixin rarityDramatic
  .sheet-result-row.sheet-roll-outcome
    .sheet-rarity-die
    .sheet-subfooter The power of the rarity manifests in a dramatic and obvious way

mixin raritySubtle
  .sheet-result-row.sheet-roll-outcome
    .sheet-rarity-die
    .sheet-subfooter The power of the rarity manifests in a subtle way

mixin rarityFail
  .sheet-result-row.sheet-roll-outcome
    .sheet-rarity-die
    .sheet-subfooter The rarity’s power fails or works against you
