.sheet-main {
    background: rgba(0, 255, 255, 0.141);
    border: solid 1px #1aa2e1;
    box-sizing: border-box;
    width: 800px;
    padding: 5px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 35px 50px 1fr;
    grid-template-rows: repeat(40, 50px);
}

.headertitle {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    display: grid;
}
.header {
    grid-column: 3 / 5;
    grid-row: 1 / 1;
    display: grid;
    height: 30px;
}
.headerdice {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: grid;
}
.charimage {
    grid-column: 6  / 8;
    grid-row: 1 / 4;    
}
.sheet-tabselector {
    grid-column: 1 / 5 ;
    grid-row: 2 / 2;    
}

/* --------------------------------Hide and Display section of Code-------------------------------- */
/* Configure the tab buttons*/
.attributes,
.truths,
.talents,
.equipment {display: none;}

/* show the selected tab */
.sheet-tabstoggle[value="attributes"] ~ div.attributes,
.sheet-tabstoggle[value="truths"] ~ div.truths,
.sheet-tabstoggle[value="talents"] ~ div.talents,
.sheet-tabstoggle[value="equipment"] ~ div.equipment {display: block;}

.attributes{
    grid-column: 1 / 8;
    grid-row: 3 / 3;
}
.attribute-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(40, 50px);
}
.attributes-title{
    grid-column: 1 / 7;
    grid-row: 1 / 1;
    align-items: center;
}
.attributes-might{
    grid-column: 1 / 1;
    grid-row: 2 / 5;
}
.attributes-quickness{
    grid-column: 2 / 2;
    grid-row: 2 / 5;
}
.attributes-insight{
    grid-column: 3 / 3;
    grid-row: 2 / 5;
}
.attributes-resolve{
    grid-column: 4 / 4;
    grid-row: 2 / 5;
}
.spiritpool{
    grid-column: 5 / 5;
    grid-row: 2 / 5;
}
.skills-title{
    grid-column: 1 / 7;
    grid-row: 5 / 5;
}
.skills-fight{
    grid-column: 1 / 1;
    grid-row: 6 / 7;
}
.skills-move{
    grid-column: 2 / 2;
    grid-row: 6 / 7;
}
.skills-operate{
    grid-column: 3 / 3;
    grid-row: 6 / 7;
}
.skills-sneak{
    grid-column: 4 / 4;
    grid-row: 6 / 7;
}
.skills-study{
    grid-column: 5 / 5;
    grid-row: 6 / 7;
}
.skills-survive{
    grid-column: 6 / 6;
    grid-row: 6 / 7;
}
.skills-talk{
    grid-column: 7 / 7;
    grid-row: 6 / 7;
}
.techlevel{
    grid-column: 1 / 1;
    grid-row: 8 / 9;
}
.supplypoints{
    grid-column: 2 / 2;
    grid-row: 8 / 9;
}
.growth{
    grid-column: 3 / 3;
    grid-row: 8 / 9;
}
.harms{
    grid-column: 4 / 7;
    grid-row: 8 / 9;
}

.truths{
    grid-column: 1 / 8;
    grid-row: 3 / 3;
}
.truths-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(40, 50px);
}
.truths-title{
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}
.truths-origin{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}
.truths-archtype{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
.truths-temperament{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}
.truths-other{
    grid-column: 1 / 4;
    grid-row: 4 / 4;
}
.bonds{
    grid-column: 1 / 4;
    grid-row: 6 / 6;
}

.talents{
    grid-column: 1 / 8;
    grid-row: 3 / 3;
}
.talents-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(40, 50px);
}
.archtypegoals{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.exhaustion{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}
.attitude{
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}
.talents-title{
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}
.talents-list{
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}
.goals{
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}

.equipment{
    grid-column: 1 / 8;
    grid-row: 3 / 3;
}
.equipment-grid{
    display: grid;
    grid-template-columns: 1.15fr 0.40fr 0.7fr 0.7fr 3fr;
    grid-template-rows: repeat(40, 50px);
}
.coin{
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}
.equipment-title{
    grid-column: 1 / 5;
    grid-row: 2 / 2;
}
.equipment-title-name{
    grid-column: 1 / 2;
    grid-row: 3 / 3;
}
.equipment-title-desc{
    grid-column: 4 / 5;
    grid-row: 3 / 3;
}
.equipment-list{
    grid-column: 1 / 8;
    grid-row: 4 / 4;
}
.weapons-title{
    grid-column: 1 / 5;
    grid-row: 7 / 7;
}
.weapons-title-name{
    grid-column: 1 / 1;
    grid-row: 8 / 8;
}
.weapons-title-tech{
    grid-column: 2 / 2;
    grid-row: 8 / 8;
}
.weapons-title-type{
    grid-column: 3 / 3;
    grid-row: 8 / 8;
}
.weapons-title-damage{
    grid-column: 4 / 4;
    grid-row: 8 / 8;
}
.weapons-title-qual{
    grid-column: 5 / 5;
    grid-row: 8 / 8;
}
.weapons-list{
    grid-column: 1 / 8;
    grid-row: 9 / 9;
}



.char-inputs{
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:150px;
}

.skill-character {
    box-shadow: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 0;
    margin: 0 0 0 2px;
    padding: 0;
    outline: none;    
}

img{
    width: 200px;
    height: 200px;
}

.char-inputs{
    width: 220px;
    height: 20px;
}
.char-select{
    width: 100px;
    height: 30px;
}
.char-inputs-short{
    width: 100px;
    height: 30px;
}
.char-inputs-shortish{
    width: 150px;
    height: 30px;
}
.char-inputs-long{
    width: 500px;
    height: 30px;
}
.char-inputs-longish{
    width: 350px;
    height: 30px;
}

/* Roll templates*/

.sheet-rolltemplate-foraw,
.sheet-rolltemplate-focd,
.sheet-rolltemplate-fohitlocation,
.sheet-rolltemplate-foskill,
.sheet-rolltemplate-foattribute {
    background: rgba(0, 255, 255, 0.141);
    border: solid 1px #1aa2e1;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin-right: 10px;
}
.sheet-rolltemplate-foraw .sheet-container,
.sheet-rolltemplate-focd .sheet-container,
.sheet-rolltemplate-fohitlocation .sheet-container,
.sheet-rolltemplate-foskill .sheet-container,
.sheet-rolltemplate-foattribute .sheet-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 5px 5px 55px;
}
.sheet-rolltemplate-foraw *,
.sheet-rolltemplate-focd *,
.sheet-rolltemplate-fohitlocation *,
.sheet-rolltemplate-foskill *,
.sheet-rolltemplate-foattribute * {
    font: 400 14px/20px 'Roboto', monospace;
    color: #4f43d2;
}
.sheet-rolltemplate-foraw strong,
.sheet-rolltemplate-focd strong,
.sheet-rolltemplate-fohitlocation strong,
.sheet-rolltemplate-foskill strong,
.sheet-rolltemplate-foattribute strong {
    font-weight: bold;
    color: #1aa2e1;
}
.sheet-rolltemplate-foraw h1,
.sheet-rolltemplate-focd h1,
.sheet-rolltemplate-fohitlocation h1,
.sheet-rolltemplate-foskill h1,
.sheet-rolltemplate-foattribute h1 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #4f43d2;
}
.sheet-rolltemplate-foraw .sheet-container p,
.sheet-rolltemplate-focd .sheet-container p,
.sheet-rolltemplate-fohitlocation .sheet-container p,
.sheet-rolltemplate-foskill .sheet-container p,
.sheet-rolltemplate-foattribute .sheet-container p {
    margin-top: 5px;
}

.sheet-rolltemplate-focd .inlinerollresult,
.sheet-rolltemplate-fohitlocation .inlinerollresult,
.sheet-rolltemplate-foskill .inlinerollresult,
.sheet-rolltemplate-foattribute .inlinerollresult,
.sheet-rolltemplate-focd .inlinerollresult.fullcrit,
.sheet-rolltemplate-fohitlocation .inlinerollresult.fullcrit,
.sheet-rolltemplate-foskill .inlinerollresult.fullcrit,
.sheet-rolltemplate-foattribute .inlinerollresult.fullcrit,
.sheet-rolltemplate-focd .inlinerollresult.fullfail,
.sheet-rolltemplate-fohitlocation .inlinerollresult.fullfail,
.sheet-rolltemplate-foskill .inlinerollresult.fullfail,
.sheet-rolltemplate-foattribute .inlinerollresult.fullfail,
.sheet-rolltemplate-focd .inlinerollresult.importantroll,
.sheet-rolltemplate-fohitlocation .inlinerollresult.importantroll,
.sheet-rolltemplate-foskill .inlinerollresult.importantroll,
.sheet-rolltemplate-foattribute .inlinerollresult.importantroll {
    background: none;
    color: #4f43d2;
    border: none;
}
.sheet-rolltemplate-focd.sheet-rolltemplate-darkmode .inlinerollresult,
.sheet-rolltemplate-fohitlocation.sheet-rolltemplate-darkmode .inlinerollresult,
.sheet-rolltemplate-foskill.sheet-rolltemplate-darkmode .inlinerollresult,
.sheet-rolltemplate-foattribute.sheet-rolltemplate-darkmode .inlinerollresult {
    background: none;
    border: none;
}
.sheet-rolltemplate-focd .inlinerollresult,
.sheet-rolltemplate-fohitlocation .inlinerollresult,
.sheet-rolltemplate-foskill .inlinerollresult,
.sheet-rolltemplate-foattribute .inlinerollresult,
.sheet-rolltemplate-focd .inlinerollresult.fullcrit,
.sheet-rolltemplate-fohitlocation .inlinerollresult.fullcrit,
.sheet-rolltemplate-foskill .inlinerollresult.fullcrit,
.sheet-rolltemplate-foattribute .inlinerollresult.fullcrit,
.sheet-rolltemplate-focd .inlinerollresult.fullfail,
.sheet-rolltemplate-fohitlocation .inlinerollresult.fullfail,
.sheet-rolltemplate-foskill .inlinerollresult.fullfail,
.sheet-rolltemplate-foattribute .inlinerollresult.fullfail,
.sheet-rolltemplate-focd .inlinerollresult.importantroll,
.sheet-rolltemplate-fohitlocation .inlinerollresult.importantroll,
.sheet-rolltemplate-foskill .inlinerollresult.importantroll,
.sheet-rolltemplate-foattribute .inlinerollresult.importantroll {
    color: #1aa2e1;
}

.sheet-rolltemplate-focd .sheet-die {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Fallout%202d20/images/die_blank_pb.png')
        left top / 35px no-repeat;
}
.sheet-rolltemplate-focd .sheet-diehit {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Fallout%202d20/images/die_hit_pb.png')
        left top / 35px no-repeat;
}
.sheet-rolltemplate-focd .sheet-diehitx2 {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Fallout%202d20/images/die_hitx2_pb.png')
        left top / 35px no-repeat;
}
.sheet-rolltemplate-foraw .sheet-container,
.sheet-rolltemplate-focd .sheet-dievb {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Fallout%202d20/images/die_vaultboy_pb.png')
        left top / 35px no-repeat;
}

.sheet-rolltemplate-focd a[href^="!"],
.sheet-rolltemplate-focd a[href^="~"] {
    background: none;
    color: #4f43d2;
    border: solid 1px #4f43d2;
}
.sheet-rolltemplate-focd a[href^="!"]:hover,
.sheet-rolltemplate-focd a[href^="~"]:hover {
    background: #4f43d2;
    color: #1aa2e1;
    border: solid 1px #1aa2e1;
}

.sheet-rolltemplate-foskill .sheet-hidden {
    display: none;
}
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=strength] ~ .sheet-container .sheet-strength,
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=perception] ~ .sheet-container .sheet-perception,
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=endurance] ~ .sheet-container .sheet-endurance,
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=charisma] ~ .sheet-container .sheet-charisma,
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=intelligence] ~ .sheet-container .sheet-intelligence,
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=agility] ~ .sheet-container .sheet-agility,
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=luck] ~ .sheet-container .sheet-luck,
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=body] ~ .sheet-container .sheet-body,
.sheet-rolltemplate-foskill .sheet-hidden-attribute[data-i18n-placeholder*=mind] ~ .sheet-container .sheet-mind,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=athletics] ~ .sheet-container .sheet-athletics,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=barter] ~ .sheet-container .sheet-barter,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=big_guns] ~ .sheet-container .sheet-big_guns,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=energy_weapons] ~ .sheet-container .sheet-energy_weapons,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=explosives] ~ .sheet-container .sheet-explosives,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=lockpick] ~ .sheet-container .sheet-lockpick,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=medicine] ~ .sheet-container .sheet-medicine,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=melee_weapons] ~ .sheet-container .sheet-melee_weapons,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=pilot] ~ .sheet-container .sheet-pilot,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=repair] ~ .sheet-container .sheet-repair,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=science] ~ .sheet-container .sheet-science,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=small_guns] ~ .sheet-container .sheet-small_guns,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=sneak] ~ .sheet-container .sheet-sneak,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=speech] ~ .sheet-container .sheet-speech,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=survival] ~ .sheet-container .sheet-survival,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=throwing] ~ .sheet-container .sheet-throwing,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=unarmed] ~ .sheet-container .sheet-unarmed,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=melee]:not([data-i18n-placeholder*=melee_]) ~ .sheet-container .sheet-melee,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=guns]:not([data-i18n-placeholder*=_guns]) ~ .sheet-container .sheet-guns,
.sheet-rolltemplate-foskill .sheet-hidden-skill[data-i18n-placeholder*=other] ~ .sheet-container .sheet-other {
    display: inline-block;
}

.sheet-rolltemplate-focd .sheet-results,
.sheet-rolltemplate-fohitlocation .sheet-results,
.sheet-rolltemplate-foskill .sheet-results {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    margin: 5px 0;
}
.sheet-rolltemplate-focd .sheet-result,
.sheet-rolltemplate-fohitlocation .sheet-result,
.sheet-rolltemplate-foskill .sheet-result {
    border: 1px #4f43d2 solid;
    text-align: center;
    width: 35px;
    height: 35px;
    margin: 2px 0px;
}
.sheet-rolltemplate-focd .sheet-result {
    border: none;
    text-indent: -9999px;
}
.sheet-rolltemplate-foskill .sheet-total,
.sheet-rolltemplate-foskill .sheet-total * {
    font-size: 16px;
}

.sheet-rolltemplate-foskill .sheet-success {
    border: 1px #4f43d2 solid;
    background: #4f43d2;
}
.sheet-rolltemplate-foskill .sheet-success * {
    color: black;
}
.sheet-rolltemplate-foskill .sheet-critical {
    border: 1px #1aa2e1 solid;
    background: #1aa2e1;
}
.sheet-rolltemplate-foskill .sheet-critical *,
.sheet-rolltemplate-foskill .sheet-critical .inlinerollresult {
    color: black;
}
.sheet-rolltemplate-foskill .sheet-critical .sheet-total,
.sheet-rolltemplate-foskill .sheet-critical .sheet-total * {
    font-weight: bold;
}
.sheet-rolltemplate-foskill .sheet-complication {
    border: 1px #4f43d2 dashed;
}
.sheet-rolltemplate-foskill .sheet-complication .sheet-total,
.sheet-rolltemplate-foskill .sheet-complication .sheet-total * {
    font-weight: bold;
    color: #1aa2e1;
}
.sheet-rolltemplate-foskill .sheet-dice,
.sheet-rolltemplate-foskill .sheet-dice * {
    font-size: 12px;
    line-height: 8px;
}
.sheet-rolltemplate-foskill .sheet-options,
.sheet-rolltemplate-focd .sheet-options {
    text-align: center;
}
.sheet-rolltemplate-foskill .sheet-options a[href^="~"],
.sheet-rolltemplate-focd .sheet-options a[href^="~"] {
    background: rgb(7, 82, 233);
    border: solid 1px black;
    color: #bebae9;
    font-size: 12px;
    padding: 0 10px;
}
.sheet-rolltemplate-foskill .sheet-options a[href^="~"]:hover,
.sheet-rolltemplate-focd .sheet-options a[href^="~"]:hover {
    background: #4f43d2;
    border: solid 1px #1aa2e1;
    color: #1aa2e1;
}
