div.explodingHooves.api
  h1 Exploding Hoof Dice:
  .explodingHoof
    button(type='roll', value='!tailsOfEquestriaHelper_explodingHoof @{character_name} 4', title='Click to roll!')
  .explodingHoof
    button(type='roll', value='!tailsOfEquestriaHelper_explodingHoof @{character_name} 6', title='Click to roll!')
  .explodingHoof
    button(type='roll', value='!tailsOfEquestriaHelper_explodingHoof @{character_name} 8', title='Click to roll!')
  .explodingHoof
    button(type='roll', value='!tailsOfEquestriaHelper_explodingHoof @{character_name} 10', title='Click to roll!')
  .explodingHoof
    button(type='roll', value='!tailsOfEquestriaHelper_explodingHoof @{character_name} 12', title='Click to roll!')
  .explodingHoof
    button(type='roll', value='!tailsOfEquestriaHelper_explodingHoof @{character_name} 20', title='Click to roll!')
div.explodingHooves.noApi
  h1 Exploding Hoof Dice:
  -
    var exd12 = '1d11, floor(1d12/12)*{{0} + 12, 1d20}k1';
    var exd10 = '1d9, floor(1d10/10)*{{0} + 10, ' + exd12 + '}k1';
    var exd8 = '1d7, floor(1d8/8)*{{0} + 8, ' + exd10 + '}k1';
    var exd6 = '1d5, floor(1d6/6)*{{0} + 6, ' + exd8 + '}k1';
    var exd4 = '1d3, floor(1d4/4)*{{0} + 4, ' + exd6 + '}k1';
  .explodingHoof
    +input('hidden', 'exploding_hoof_d4')(value='{' + exd4 + '}k1', style='display: none;')
    +rollButton('exploding_hoof_d4')
  .explodingHoof
    +input('hidden', 'exploding_hoof_d6')(value='{' + exd6 + '}k1', style='display: none;')
    +rollButton('exploding_hoof_d6')
  .explodingHoof
    +input('hidden', 'exploding_hoof_d8')(value='{' + exd8 + '}k1', style='display: none;')
    +rollButton('exploding_hoof_d8')
  .explodingHoof
    +input('hidden', 'exploding_hoof_d10')(value='{' + exd10 + '}k1', style='display: none;')
    +rollButton('exploding_hoof_d10')
  .explodingHoof
    +input('hidden', 'exploding_hoof_d12')(value='{' + exd12 + '}k1', style='display: none;')
    +rollButton('exploding_hoof_d12') 
  .explodingHoof
    +input('hidden', 'exploding_hoof_d20')(value='1d20', style='display: none;')
    +rollButton('exploding_hoof_d20') 
