include fields.pug
include tabs.pug

+input('hidden', 'character_sheet')(value='TailsOfEquestria', style='display: none;')
+input('hidden', 'debug')(value='', style='display: none;')
+input('checkbox', 'useApiExplodingHoof')(style="display: none;")

.top
  img(src='https://i.pinimg.com/originals/15/90/a7/1590a71a0c382f70a499c977caa6e3bb.jpg')
  .mask

+tabs('sheet_type', [
  { id: 'sheetTabPC', label: 'PC', include: 'tabPC.pug' },
  { id: 'sheetTabNPC', label: 'NPC', include: 'tabNPC.pug' },
  { id: 'sheetTabVehicle', label: 'Vehicle', include: 'tabVehicle.pug' }
])
  mixin renderTab(id)
    .main-container
      if id === 'sheetTabPC'
        include tabPC.pug
      if id === 'sheetTabNPC'
        include tabNPC.pug
      if id === 'sheetTabVehicle'
        include tabVehicle.pug

script(type='text/worker')
  include ../js/worker.js

include rolltemplate.pug
