include fields.pug
include tabs.pug

+input('hidden', 'character_sheet')(value='TailsOfEquestria', style='display: none;')
+input('hidden', 'debug')(value='', style='display: none;')
+input('checkbox', 'useApiExplodingHoof')(style="display: none;")

.top
  img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/TailsOfEquestria/banner.jpeg')
  .mask
  .version Version SCRIPT_VERSION

+tabs('sheet_type', [
  { id: 'sheetTabPC', label: 'PC', include: 'tabPC.pug', tooltip: 'Main sheet for Player Characters.' },
  { id: 'sheetTabNPC', label: 'NPC', include: 'tabNPC.pug', tooltip: 'Main sheet for Non-Player Characters.' },
  { id: 'sheetTabVehicle', label: 'Vehicle', include: 'tabVehicle.pug', tooltip: 'Main sheet for Vehicles.' },
  { id: 'sheetTabEquipment', label: 'Equipment', include: 'tabEquipment.pug', tooltip: 'Keep track of your character\'s equipment here.' },
  { id: 'sheetTabNotes', label: 'Campaign Notes', include: 'tabNotes.pug', tooltip: 'Record additional notes about your character, the campaign world, or anything else here.' }
])
  mixin renderTab(id)
    .main-container
      if id === 'sheetTabPC'
        include tabPC.pug
      if id === 'sheetTabNPC'
        include tabNPC.pug
      if id === 'sheetTabEquipment'
        include tabEquipment.pug
      if id === 'sheetTabVehicle'
        include tabVehicle.pug
      if id === 'sheetTabNotes'
        include tabNotes.pug

script(type='text/worker')
  include ../js/worker.js

include rolltemplate.pug
