rolltemplate.sheet-rolltemplate-toe
  table
    thead: tr: th {{charName}} &#x21D2; {{attr}}
    tbody
      tr: td Result {{result}}
      
      | {{#updowngrade}}
      tr: td.updowngrade
        span Up/Downgrade:
        span {{updowngrade}}
      | {{/updowngrade}}
      
      | {{#notes}}
      tr: td.notes
        div Notes:
        div {{notes}}
      | {{/notes}}
