include fields.pug
.tabSheet.equipmentSheet
  .equipmentHeader
    span(style='width: 2in;') Item Name
    span(style='width: 0.5in;') Qty.
    span(style='width: 4.5in;') Notes
  .equipmentBody
    +repeating('equipment')
      +labelledUnderlined('')(style='width: 2in;'): +input('text', 'name')
      +labelledUnderlined('')(style='width: 0.5in;'): +input('number', 'quantity')
      +labelledUnderlined('')(style='width: 4.5in;'): +input('text', 'notes')
