include fields.pug

.tabSheet.npcSheet
  div
    .bio
      +input('text', 'character_name')(placeholder='NPC/Creature name')
      +checkbox('isUnique', 'Unique?', '1')

  div
    .traits
      .trait.body
        label.traitName Body
        +rollButton({
          attr: 'Body',
          result: 'body_equation',
          updowngrade: 'body_updowngrade'
        })
        +selectDice('body')
        +updowngrade("body")
        +input('hidden', 'body_equation')
      .trait.mind 
        label.traitName Mind
        +rollButton({
          attr: 'Mind',
          result: 'mind_equation',
          updowngrade: 'mind_updowngrade'
        })
        +selectDice('mind')
        +updowngrade("mind")
        +input('hidden', 'mind_equation')
      .trait.charm
        label.traitName Charm
        +rollButton({
          attr: 'Charm',
          result: 'charm_equation',
          updowngrade: 'charm_updowngrade'
        })
        +selectDice('charm')
        +updowngrade("charm")
        +input('hidden', 'charm_equation')
    .stamina
      div.staminaInner
        label Stamina:
        +fraction('stamina')
      div.damageModifiers
        +labelledUnderlined('Damage Modifiers:'): +input('text', 'damageReduction')

  div
    .talents
      mixin talent()
        .talent
          +input('hidden', 'equation')
          +input('hidden', 'readOnlyView')
          
          +input('checkbox', 'editMode')(title='Click to edit').editCheckbox
          .editIcon
          
          .viewMode
            +rollButton({
              attr: '@{name}',
              result: 'equation',
              notes: 'notes',
              updowngrade: 'updowngrade'
            })
            span(name='attr_readOnlyView') New talent
          .editMode
            div(style="display: inline-block; width: 6.5in;")
              +labelledUnderlined('')(style='width: 2.5in;'): +input('text', 'name')
              +labelledUnderlined('Dice:'): +selectDice('dice')
              +labelledUnderlined('Trait'): +selectTrait('trait')
              +updowngrade('')
              .notes
                +labelledUnderlined('Notes:'): +input('text', 'notes')

      label Talents:
      +repeating('talents')
        +talent()      
  div
    .quirks
      mixin quirk()
        .quirk
          +input('checkbox', 'editMode')(title='Click to edit').editCheckbox
          .editIcon
          
          .viewMode
            span(name='attr_name') New quirk
          .editMode
            +labelledUnderlined(''): +input('text', 'name')
            +labelledUnderlined('Notes'): +input('text', 'notes')
      
      label Quirks:
      +repeating('quirks')
        +quirk()
  
  div
    include explodingHooves.pug
    
  div
    .inlineBlock(style='margin-right: 1em; vertical-align: top; width: 48%;')
      h1 Description:
      +textarea('appearance')(style='height: 4in;')
    .inlineBlock(style='width: 48%;')
      h1 Equipment:
      +textarea('equipment')
      
      h1 Campaign Notes:
      +textarea('campaignNotes')  
