include fields.pug
.tabSheet.pcSheet
  div
    .bio
      +labelledUnderlined('Pony Name:'): +input('text', 'character_name')
      +labelledUnderlined('Player Name:'): +input('text', 'player_name')
      +labelledUnderlined('Race:'): +input('text', 'race')
      +labelledUnderlined('Level:'): +input('number', 'level')
      +labelledUnderlined('Element of Harmony:'): +select('elementOfHarmony')
        +option('generosity')
        +option('honesty')
        +option('kindness')
        +option('laughter')
        +option('loyalty')
        +option('magic')
        +option('other')
    div(style='display: inline-block; width: 2.2in;')
      .friendshipTokens
        h1
          span F
          span R
          span I
          span E
          span N
          span D
          span S
          span H
          span I
          span P
        +input('number', 'friendshipTokens')(value='0')
      include explodingHooves.pug

  div
    .stamina
      div
        h1 Stamina:
        +fraction('stamina')
      div
        +labelledUnderlined('Damage Modifiers:')(style='font-size: 1.5em;  max-width: 2in;'): +input('text', 'damageReduction')(style='width: 2.4in;')
    .traits
      .trait.body
        label.traitName Body
        +rollButton({
          attr: 'Body',
          result: 'body_equation',
          updowngrade: 'body_updowngrade'
        })
        +selectDice('body')
        +updowngrade("body")
        +input('hidden', 'body_equation')
      .trait.mind 
        label.traitName Mind
        +rollButton({
          attr: 'Mind',
          result: 'mind_equation',
          updowngrade: 'mind_updowngrade'
        })
        +selectDice('mind')
        +updowngrade("mind")
        +input('hidden', 'mind_equation')
      .trait.charm
        label.traitName Charm
        +rollButton({
          attr: 'Charm',
          result: 'charm_equation',
          updowngrade: 'charm_updowngrade'
        })
        +selectDice('charm')
        +updowngrade("charm")
        +input('hidden', 'charm_equation')

  div
    .talents
      mixin talent(prefix, placeholder)
        - 
          prefix = prefix || '';
          var isCutieMark = prefix === 'talent_cutieMark_';
          var isRacial = prefix === 'talent_racial_';
        .talent(class=isCutieMark ? 'isCutieMark' : '')
          +rollButton({
            attr: '@{' + prefix + 'name}',
            result: prefix + 'equation',
            notes: prefix + 'notes',
            updowngrade: prefix + 'updowngrade'
          })
          div(style="display: inline-block; vertical-align: top; width: 0.4in;")
            .talentIcon(style='font-size: 3em;')
          div(style="display: inline-block; width: 6.5in;")
            +labelledUnderlined('')(style='width: 2.5in;'): +input('text', prefix + 'name')(placeholder=placeholder)
            +labelledUnderlined('Dice:'): +selectDice(prefix + 'dice')
            +labelledUnderlined('Trait'): +selectTrait(prefix + 'trait')
            +updowngrade(prefix)
            .notes
              +labelledUnderlined('Notes:'): +input('text', prefix + 'notes')
          +input('hidden', prefix + 'equation')

      h1 Talents:
      +talent('talent_cutieMark_', 'Cutie mark talent')
      +talent('talent_racial_', 'Racial talent')
      +repeating('talents')
        +talent('', '')      
  div
    .quirks
      mixin quirk(isMain)
        -var prefix = isMain ? 'quirk_main_' : '';
        .quirk(class=isMain ? 'quirkMain' : '')
          .quirkIcon(style='font-size: 2em;')
          +labelledUnderlined(''): +input('text', prefix + 'name')
          +labelledUnderlined('Notes'): +input('text', prefix + 'notes')
      
      h1 Quirks:
      +quirk(true)
      +repeating('quirks')
        +quirk(false)

  div
    .reputations
      h1 Reputation:
      +repeating('reputations')
        .reputation
          .reputationIcon(style='font-size: 2em;')
          +labelledUnderlined('Faction/Individual'): +input('text', 'name')
          +labelledUnderlined('Level'): +select('level')
            +option('Esteemed (2x upgrade)', 2)
            +option('Friendly (1x upgrade)', 1)
            +option('Neutral', 0, true)
            +option('Unfriendly (1x downgrade)', -1)
            +option('Hostile (2x downgrade)', -2)
          +labelledUnderlined('Notes')(style='width: 3in;'): +input('text', 'notes')
    
  div
    .inlineBlock(style='margin-right: 1em; vertical-align: top; width: 48%;')
      h1 Equipment:
      +textarea('equipment')(style='height: 4in;')
    .inlineBlock(style='width: 48%;')
      h1 Appearance/Cutie Mark:
      +textarea('appearance')
      
      h1 Campaign Notes:
      +textarea('campaignNotes')  
