include fields.pug

.tabSheet.vehicleSheet
  .bio
    +input('text', 'character_name')(placeholder='Vehicle Name')
    +checkbox('isUnique', 'Unique?', '1')
  div
    table.vehicleStats
      thead
        tr
          th Type
          th(style='width: 0.5in;') Speed
          th Handling
          th Stability
          th(style='width: 0.5in;') Armor
          th Misc. Damage Modifiers
      tbody
        tr
          td: +select('vehicleType')
            +option('Pick One')
            +option('Land')
            +option('Water')
            +option('Air')
            +option('Other')
          td: +input('number', 'vehicleSpeed')
          td: +select('vehicleHandling')
            +option('Pick One')
            +option('2x Downgrade')
            +option('1x Downgrade')
            +option('-')
            +option('1x Upgrade')
            +option('2x Upgrade')
          td: +fraction('vehicleStability')
          td: +input('number', 'vehicleArmor')
          td: +input('text', 'vehicleDamageModifiers')
  
  div
    .systems
      mixin system()
        .system
          +input('checkbox', 'editMode')(title='Click to edit').editCheckbox
          .editIcon
          
          .viewMode
            span(name='attr_name') New system
          .editMode
            +labelledUnderlined(''): +input('text', 'name')
            +labelledUnderlined('Notes'): +input('text', 'notes')
      
      label Systems:
      +repeating('systems')
        +system()
  
  div
    .inlineBlock(style='margin-right: 1em; vertical-align: top; width: 48%;')
      h1 Description:
      +textarea('appearance')(style='height: 5.7in;')
    .inlineBlock(style='width: 48%;')
      h1 Crew:
      +textarea('vehicleCrew')
      
      h1 Cargo:
      +textarea('equipment')
      
      h1 Campaign Notes:
      +textarea('campaignNotes')  
