header.header
  -
    const { player } = data.character.header.fields;
    const { sheetname, sectionzero } = data.character.header.headers;
  .header__character
    .header__name(data-i18n="death_in_space") Death in Space
    label.header__sheet(data-i18n=sheetname.name)=sheetname.label
  .header__section-zero
    span.header__section-zero--span(data-i18n=sectionzero.name)=sectionzero.label
    label.death__label(data-i18n=player.name)=player.label
    +field(player).header__section-zero--input

+navigation("character")

//- pages
input.navigator(name="attr_nav" type="hidden")
.page-container.page--personal
  include ../pages/character/personal
.page-container.page--situation
  include ../pages/character/situation
.page-container.page--belongings
  include ../pages/character/belongings
.page-container.page--notes
  +notes
.page-container.page--config
  +config
