header.header
  -
    const { owner } = data.hub.header.fields;
    const { hubsheet, ownerinfo } = data.hub.header.headers;
  .header__hub
    .header__name(data-i18n="death_in_space") Death in Space
    label.header__sheet(data-i18n=hubsheet.name)=hubsheet.label
  .header__section-zero
    span.header__section-zero--span(data-i18n=ownerinfo.name)=ownerinfo.label
    label.death__label(data-i18n=owner.name)=owner.label
    +field(owner).header__section-zero--input

+navigation("hub")

//- pages
input.navigator(name="attr_nav" type="hidden")
.page-container.page--hubinfo
  include ../pages/hub/hubinfo
.page-container.page--hubdata
  include ../pages/hub/hubdata
.page-container.page--hublayout
  include ../pages/hub/hublayout
.page-container.page--hubcargo
  include ../pages/hub/hubcargo
.page-container.page--hubnotes
  +notes()
.page-container.page--config
  +config
