mixin selectHitDice(attr = "hitdiceroll", defaultOption, mixinSettings={} )
  - const { chooseOption = true, classNames = []} = mixinSettings;
  - const className = classNames.join(" ");

  select(name=`attr_${attr}`, class=className)
    each dieSize in globalAttributesByCategory.diceSizes
      - const value = dieSize.split(1);
      option(value=value) #{dieSize}