mixin selectClass(attr = "class", defaultOption, mixinSettings )
  - const { chooseOption = true, classNames = [] } = mixinSettings;
  - const className = classNames.join(" ");
  select.hiding.class(name=`attr_${attr}`, class=className)
  
    if (chooseOption)
      option(value=`` data-i18n=`choose`) Choose

    for classAttr in globalAttributesByCategory.classes
      - const name = classAttr.charAt(0).toUpperCase() + classAttr.slice(1);
      - const selected = (classAttr === defaultOption) ? "selected" : "";
      option(value=name data-i18n=classAttr) #{name}
