mixin sitesPage(sheetType)
  div.page-container
    input(type='radio' name=`attr_${sheetType}_page` class='sites hide-element' value='8')
    div.sites.showhide
      include ../../components/sites/sites