
<input type="hidden" class="alert-hidder" name="attr_alert-161-spell-update" value="0">
    <div class="alert alert-warning">
        <div>
            <h3> Warning - February 2021 v1.6.1 update - ERROR: Spell's arts conversion</h3>
            <div>The conversion script that updates your spell's arts to the new format failed to run. This means you need to setup the arts of your spells again.<br><br>
                <b>Note:</b>The script is run each time you open your character sheet, as long as this banner is visible. If it completes normally, it will hide this banner before you can see it.
            </div>
        </div>
        <label class="fakebutton">
            <input type="checkbox" name="attr_alert-161-spell-update" value="1" > ×
        </label>
    </div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1_6-dataloss" value="0">
    <div class="alert alert-warning">
        <div>
            <h3> Warning - February 2021 v1.6 Update</h3>
            <div>In the 'Ability' tab, the characteristic of each ability must be selected again.</div>
        </div>
        <label class="fakebutton">
            <input type="checkbox" name="attr_alert-alert-update-v1_6-dataloss" value="1" > ×
        </label>
    </div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-7-armorylegacy" value="0">
    <div class="alert alert-warning">
        <div>
            <h3> Warning - January 2022 - v1.7 - Armory Update</h3>
            <div>The armory and Combat modifiers list replace the old armor and combat modifier text areas. The old entries and data can be found in the 'Sheet' tab, under 'Legacy'.</div>
        </div>
        <label class="fakebutton">
            <input type="checkbox" name="attr_alert-alert-update-v1-7-armorylegacy" value="1" > ×
        </label>
    </div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-7-1" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>February 2022 - v1.7.1 - Fix</strong></h3>
        <div>
            <ul>
                <li>Fixed accelerated abilities</li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-7-1" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-7" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>January 2022 - v1.7 - Magic &amp; Armory update</strong></h3>
        <div>
            <ul>
                <li>
                    <em>General changes</em>:
                    <ul>
                        <li>Added Welcome message to the "Sheet" tab, and made that tab the default tab</li>
                        <li>Added tooltips to some elements of the sheet to provide info about them (e.g. XP fields)</li>
                        <li>Repeated items (such as items, abilities, spells...) start expanded for easier completion.</li>
                    </ul>
                </li>
                <li>
                    <em>Magic Update</em>:
                    <ul>
                        <li>Added a toggle to hide elements of the sheet that are specific to Magi (see Sheet tab)</li>
                        <li>Added deficiency toggles that halves casting totals</li>
                        <li>Added a roll button for non-fatiguing spontaneous casting</li>
                        <li>Separated the Artes Liberales and Philosophiae fields of ceremonial and ritual casting, to accomodate specialisation in either</li>
                        <li>Added Soak computations with Form bonuses</li>
                        <li>Added list for useful spontaneous spells in the "Spells" tab</li>
                    </ul>
                </li>
                <li>
                    <em>Armory Update</em>:
                    <ul>
                        <li>Added an armor list with togglable elements. Can store multiple armor (parts).</li>
                        <li>Burden and Encumbrance are now computed automatically</li>
                        <li>Added combat modifiers list that is applied to rolls</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-7" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-6-5" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>October 2021 v1.6.5</strong></h3>
        <div>
            <ul>
                <li>Fix to laboratory focus for characters with an affinity bonus to one of the arts used.</li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-6-5" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-6-4" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>March 2021, v1.6.4</strong></h3>
        <div>
            <ul>
                <li>Added
                    <span class=" codespan" >lalign</span>and
                    <span class=" codespan" >ralign</span>to the
                    <span class=" codespan" >custom</span>rolltemplate
                </li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-6-4" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-6-3" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>March 2021, v1.6.3</strong></h3>
        <div>
            <ul>
                <li>Added
                    <span class=" codespan" >roll-color</span>and
                    <span class=" codespan" >button-color</span>properties to the
                    <span class=" codespan" >custom</span>rolltemplate, with all CSSv3 colors
                </li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-6-3" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-6-2" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>February 2021, v1.6.2</strong></h3>
        <div>
            <ul>
                <li>Fixed centering not working</li>
                <li>Fixed translation of spellcasting words options</li>
                <li>Added support for the
                    <span class=" codespan" >custom</span>rolltemplate from the forum, with all CSS colors. Can be useful for spell tables or similar chat menus
                </li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-6-2" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-6-1" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>February 2021, v1.6.1</strong></h3>
        <div>
            <ul>
                <li>Fixed botch die botching on 1s instead of 10s</li>
                <li>Fixed critical dice displaying 10s as exploding, instead of 1s</li>
                <li>Fixed spell's arts value not being updated when the character's arts are modified
                    <ul>
                        <li>Completely changed how arts are handled inside spells</li>
                        <li>A script will be run to convert your data to the new format, but may fail for some spells</li>
                    </ul>
                </li>
                <li>Added a critical roll for initiative that sets the turn tracker initiative (not visible in the sheet, use the chat button)</li>
                <li>Added option to always ask which characteristic to use when rolling abilities</li>
                <li>Centered the sheet in its tab</li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-6-1" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-6" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>February 2021, v1.6</strong></h3>
        <div>
            <ul>
                <li>Added inline labels to all rolls, hover rolls in chat to see details</li>
                <li>Fixed tabs not displaying properly
                    <em>(tabs are again attached to an attribute)</em>
                </li>
                <li>Added simple/stress die handling. See the "Help" tab for explanation, there's a catch</li>
                <li>Support for focus in magic totals & rolls</li>
                <li>Support for additional fatigue levels</li>
                <li>Fixed ability rolltemplate being too wide in some cases</li>
                <li>Added documentation direclty to the sheet, see the "Help" tab</li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-6" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-51" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>May 2020, v1.51</strong></h3>
        <div>
            <ul>
                <li>Small change to the Ability roll template for legibility</li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-51" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-5" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>April 2020, v1.5</strong></h3>
        <div>
            <ul>
                <li>Incorporated new fonts throughout the sheet!</li>
                <li>Polished several roll templates and added new ones for Defending. Stylish!</li>
                <li>Added an extra button for rerolling stress explosions, can be found next to the botch button.</li>
                <li>Fixed several missing translation tags and side-effects of having translations added into the sheet. In particular, Abilities should now have access to the Accelerated Ability option.</li>
                <li>Updated the sheet space and button for Soak/Armor Protection to use the combat roller templates.</li>
                <li>Relinked images from imgur to github asset folders.</li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-5" value="1" > ×
    </label>
</div>
<input type="hidden" class="alert-hidder" name="attr_alert-alert-update-v1-4" value="0">
<div class="alert alert-info">
    <div>
        <h3> Info - <strong>October 2019, v1.4</strong></h3>
        <div>
            <ul>
                <li>Initiatives now output to Roll20's Tracker while selecting a token.</li>
                <li>Character sheet tabs no longer attached to an attribute, so multiple players can view the same character sheet without wrestling over tab controls.</li>
            </ul>
        </div>
    </div>
    <label class="fakebutton">
        <input type="checkbox" name="attr_alert-alert-update-v1-4" value="1" > ×
    </label>
</div>

<!-- Used by the alert system to hide old alerts on new sheets -->
//- this has been moved to source/helpers/updater/updater.pug
//- <input name="attr_notNew" type="hidden" value="0" >