include tabs/tabs.pug

include rolltemplates.pug
include translations.pug

<!-- Attributes used for the defered attribute access system -->
<!-- See Readme.md for explanation of how it works -->
<input name="attr_Unselected_Score" type="hidden" value="0" >
<input name="attr_Unselected_Puissant" type="hidden" value="0" >
<input name="attr_ask_Score" type="hidden" value="?{@{characteristic_i18n}|@{intelligence_i18n},@{intelligence_Score} [@{intelligence_i18n}]| @{perception_i18n},@{perception_Score} [@{perception_i18n}]| @{presence_i18n},@{presence_Score} [@{presence_i18n}]| @{communication_i18n},@{communication_Score} [@{communication_i18n}]| @{strength_i18n},@{strength_Score} [@{strength_i18n}]| @{stamina_i18n},@{stamina_Score} [@{stamina_i18n}]| @{dexterity_i18n},@{dexterity_Score} [@{dexterity_i18n}]| @{quickness_i18n},@{quickness_Score} [@{quickness_i18n}]}" >
<!-- Those two attribute delegates to the global selector using another deferred attribute -->
<input name="attr_global_char_Score" type="hidden" value="@{sys_at}@{character_name}@{sys_pipe}@{global_Ability_CharacName}_Score@{sys_rbk}" >
<input name="attr_global_char_i18n" type="hidden" value="@{sys_at}@{character_name}@{sys_pipe}@{global_Ability_CharacName}_i18n@{sys_rbk}" >
<input name ="attr_sys_at" type="hidden" value="@{" >
<input name ="attr_sys_pipe" type="hidden" value="|" >
<input name ="attr_sys_rbk" type="hidden" value="}" >

