
<!-- Roll Templates -->
<div class="hidden">
    <!-- melee -->
    <rolltemplate class="sheet-rolltemplate-spell">
        <table class="sheet-rolltemplate-all">
            <tr>
                <td class="spellsubheader" colspan="3"><i><b>{{character}}</b> <div data-i18n="casts-rt" style="padding-left: 112px;">casts</div></i></td>
            </tr>
            <tr>
                <th colspan="3">{{spell}}</th>
            </tr>
            |{{#sigil}}
            <tr>
                <td colspan="3"><i class="spelldescription" style="margin-left:5px;">{{sigil}}</i></td>
            </tr>
            |{{/sigil}}
            <tr>
                <td class="top_bottom" style="padding-left:5px;padding-right:5px;"><i>{{Technique}}</i></td>
                <td class="top_bottom" style="padding-left:5px;padding-right:5px;"><i>{{Form}}</i></td>
                <td class="top_bottom" style="padding-left:5px;padding-right:5px;"><i>{{Level}}</i></td>
            </tr>
            <tr>
                
                <td><div style="padding-left:5px;padding-right:5px;">R</div></td>
                <td><div style="padding-left:5px;padding-right:5px;">D</div></td>
                <td><div style="padding-left:5px;padding-right:5px;">T</div></td>
            </tr>
            <tr>
                <td><div style="padding-left:5px;padding-right:5px;" class="spelllabel">{{range}}</div></td>
                <td><div style="padding-left:5px;padding-right:5px;" class="spelllabel">{{duration}}</div></td>
                <td><div style="padding-left:5px;padding-right:5px;" class="spelllabel">{{target}}</div></td>
            </tr>
            <tr>
                <td><div style="padding-left:5px;padding-right:5px;"><b data-i18n="roll">Roll:</b></div></td>
                |{{^stress}}
                <td class="display-simple"><span class="tcat"></span>{{roll}}</td>
                |{{/stress}}
                |{{#stress}}
                <td class="display-stress">
                    <span class="tcat"></span>
                    |{{roll}}

                    |{{#rollWasFumble() roll}}
                    <span class="sheet-rolltemplate-botchbt">{{botch-button}}</span>
                    |{{/rollWasFumble() roll}}

                    |{{#rollWasCrit() roll}}
                    <span class="sheet-rolltemplate-critbt">{{crit-button}}</span>
                    |{{/rollWasCrit() roll}}
                </td>
                |{{/stress}}
                <td></td>
            </tr>
            |{{#effect}}
            <tr>
                <td colspan="3"><div style="padding-left:5px;padding-right:5px;"><b data-i18n="effect" >Effect</b></div></td>
            </tr>
            <tr>
                <td colspan="3"><div style="padding-left:5px;padding-right:5px;" class="spelldescription">{{effect}}</div></td>
            </tr>
            |{{/effect}}
            |{{#mastery}}
            <tr>
                <td colspan="3"><div style="padding-left:5px;padding-right:5px;"><b data-i18n="mastery">Mastery</b></div> </td>
            </tr>
            <tr>
                <td colspan="3"><div style="padding-left:5px;padding-right:5px;" class="spelldescription">{{mastery}}</div></td>
            </tr>
            |{{/mastery}}
        </table>
    </rolltemplate>
    
    <rolltemplate class="sheet-rolltemplate-botch">
        <table class="sheet-rolltemplate-all">
            <tr>
                <th colspan="3">
                    <span data-i18n="botch">Botch</span>
                    |{{#type}}
                    <span> ({{type}})</span>
                    |{{/type}}
                </th>
            </tr>
            <tr>
                <td colspan="3">{{roll}}</td>
            </tr>
        </table>
    </rolltemplate>
	
    <rolltemplate class="sheet-rolltemplate-reroll">
        <table class="sheet-rolltemplate-all">
            <tr>
                <th colspan="3" data-i18n="roll">Roll</th>
            </tr>
            <tr>
                <td colspan="3">{{roll}}</td>
            </tr>
        </table>
    </rolltemplate>

    <rolltemplate class="sheet-rolltemplate-critical">
        <table class="sheet-rolltemplate-all">
            <tr>
                <th colspan="3">
                    <span data-i18n="critical">Critical</span>
                    |{{#type}}
                    <span> ({{type}})</span>
                    |{{/type}}
                </th>
            </tr>
            <tr>
                <td colspan="3">{{roll}}</td>
            </tr>
        </table>
    </rolltemplate>
    
    <rolltemplate class="sheet-rolltemplate-attack">
        <table class="combatroller sheet-rolltemplate-all">
            <tr>
                <th colspan="2">{{name}}</th>
            </tr>
            |{{#weapon}}
            <tr>
                <td colspan="2" style="text-align: center;">{{weapon}}</td>
            </tr>
            |{{/weapon}}
            <tr>
                <td><div style="text-align:center;" data-i18n="attack">Attack</div></td>
                |{{^stress}}
                <td class="display-simple-light"><div style="text-align:center;">{{attack}}</div></td>
                |{{/stress}}
                |{{#stress}}
                <td class="display-stress-light">
                    <div style="text-align:center;">{{attack}}</div>

                    |{{#rollWasFumble() attack}}
                    <span class="sheet-rolltemplate-botchbt">{{botch-button}}</span>
                    |{{/rollWasFumble() attack}}

                    |{{#rollWasCrit() attack}}
                    <span class="sheet-rolltemplate-critbt">{{crit-button}}</span>
                    |{{/rollWasCrit() attack}}
                </td>
                |{{/stress}}
            </tr>
            <tr>
                <td><div style="text-align:center;" data-i18n="damage">Damage</div></td>
                <td class="display-default"><div style="text-align:center;">{{#^rollLess() damage 0}}<span class="inlinerollresult" style="min-width:0; margin-right: -15px">+</span>{{/^rollLess() damage 0}}{{damage}}</div></td>
            </tr>
        </table>
    </rolltemplate>

    <rolltemplate class="sheet-rolltemplate-defend">
        <div class="combatroller sheet-rolltemplate-all">
            <table>
                <tr>
                    <th colspan="2">{{name}}</th>
                </tr>
                |{{#weapon}}
                <tr>
                    <td colspan="2" style="text-align: center;">{{weapon}}</td>
                </tr>
                |{{/weapon}}
                <tr>
                    <td data-i18n="defend-rt">Defend</td>
                    |{{^stress}}
                    <td class="display-simple-light">{{defend}}</td>
                    |{{/stress}}
                    |{{#stress}}
                    <td class="display-stress-light">
                        |{{defend}}

                        |{{#rollWasFumble() defend}}
                        <span class="sheet-rolltemplate-botchbt">{{botch-button}}</span>
                        |{{/rollWasFumble() defend}}

                        |{{#rollWasCrit() defend}}
                        <span class="sheet-rolltemplate-critbt">{{crit-button}}</span>
                        |{{/rollWasCrit() defend}}
                    </td>
                    |{{/stress}}
                </tr>
            </table>
        </div>
    </rolltemplate>

    <rolltemplate class="sheet-rolltemplate-soak">
        <table class="combatroller sheet-rolltemplate-all">
            <tr>
                <th colspan="2">{{name}}</th>
            </tr>
            <tr>
                <td><div style="text-align:center;" data-i18n="soak">Soak</div></td>
                |{{^stress}}
                <td class="display-simple-light"><div style="text-align:center;">{{rollsoak}}</div></td>
                |{{/stress}}
                |{{#stress}}
                <td class="display-stress-light">
                    <div style="text-align:center;">{{rollsoak}}</div>

                    |{{#rollWasFumble() rollsoak}}
                    <span class="sheet-rolltemplate-botchbt">{{botch-button}}</span>
                    |{{/rollWasFumble() rollsoak}}

                    |{{#rollWasCrit() rollsoak}}
                    <span class="sheet-rolltemplate-critbt">{{crit-button}}</span>
                    |{{/rollWasCrit() rollsoak}}
                </td>
                |{{/stress}}
            </tr>
            <tr>
                <td><div style="text-align:center;" data-i18n="armor-protection">Armor Protection</div></td>
                <td class="display-default"><div style="text-align:center;">{{armorsoak}}</div></td>
            </tr>
            |{{#soakbonus}}
            <tr>
                <td><div style="text-align:center;" data-i18n="bonus">Bonus</div></td>
                <td class="display-default"><div style="text-align:center;">{{soakbonus}}</div></td>
            </tr>
            |{{/soakbonus}}
            |{{#formlabel}}
            <tr>
                <td><div style="text-align:center;">{{formlabel}}</div></td>
                <td class="display-default"><div style="text-align:center;">{{formbonus}}</div></td>
            </tr>
            |{{/formlabel}}
        </table>
    </rolltemplate>
    
    <rolltemplate class="sheet-rolltemplate-initiative">
        <table class="combatroller sheet-rolltemplate-all">
            <tr>
                <th>{{name}}</th>
            </tr>
            <tr>
                |{{^stress}}
                <td class="display-simple-light">
                    <div style="text-align:center;">
                        <div data-i18n="initiative">Initiative</div>
                        |{{roll}}
                        <div data-i18n="with-rt">with</div>
                        |{{weapon}}
                    </div>
                </td>
                |{{/stress}}
                |{{#stress}}
                <td class="display-stress-light">
                    <div style="text-align:center;">
                        <div>
                            <div data-i18n="initiative">Initiative</div>
                            |{{roll}}

                            |{{#rollWasFumble() roll}}
                            <span class="sheet-rolltemplate-botchbt">{{botch-button}}</span>
                            |{{/rollWasFumble() roll}}

                            |{{#rollWasCrit() roll}}
                            <span class="sheet-rolltemplate-critbt">{{crit-button}}</span>
                            |{{/rollWasCrit() roll}}
                        </div>
                        <div data-i18n="with-rt">with</div>
                        |{{weapon}}
                    </div>
                </td>
                |{{/stress}}
            </tr>
        </table>
    </rolltemplate>
    
    <rolltemplate class="sheet-rolltemplate-ability">
        <table class="sheet-rolltemplate-all">
            <tr>
                <th colspan="2"><b>{{name}}</b> <div data-i18n="leverages-rt" style="font-size:24px; padding-left:95px;">leverages</div></th>
            </tr>
            <tr class="subheader">
                <td class="label" colspan="2" style="width:100%">
                    <div class="define">{{label0}}</div>
                    <div class="flex_item" data-i18n="attaining-rt">Attaining</div>
                </td>
            </tr>
            <tr class="subheader">
                <td class="label" colspan="2">
                    |{{^stress}}
                    <div class="display-simple bigresult">{{result0}}</div>
                    |{{/stress}}

                    |{{#stress}}
                    <div class="display-stress bigresult">{{result0}}

                        |{{#rollWasFumble() result0}}
                        <span class="sheet-rolltemplate-botchbt">{{botch-button}}</span>
                        |{{/rollWasFumble() result0}}
                        
                        |{{#rollWasCrit() result0}}
                        <span class="sheet-rolltemplate-critbt">{{crit-button}}</span>
                        |{{/rollWasCrit() result0}}
                    </div>
                    |{{/stress}}
                </td>
            </tr>
            <tr>
                <td class="banner" colspan="2">{{banner}}</td>
            </tr>
            <tr>
                <td class="label">{{label1}}</td>
                <td class="result">{{result1}}</td>
            </tr>
            <tr>
                <td class="label">{{label2}}</td>
                <td class="result">{{result2}}</td>
            </tr>
            <tr>
                <td class="label">{{label3}}</td>
                <td class="result">{{result3}}</td>
            </tr>
            <tr>
                <td class="label">{{label4}}</td>
                <td class="result">{{result4}}</td>
            </tr>
        </table>
    </rolltemplate>
    
    <rolltemplate class="sheet-rolltemplate-generic">
        <table class="sheet-rolltemplate-all">
            <tr>
                <th colspan=2><span style="position:relative;bottom:5px;">{{Banner}}</span></th>
            </tr>
            <tr>
                <td class="Label">{{Label}}</td>
                |{{^stress}}
                <td class="Result display-simple">{{Result}}</td>
                |{{/stress}}
                |{{#stress}}
                <td class="Result display-stress">
                    |{{Result}}

                    |{{#rollWasFumble() Result}}
                    <span class="sheet-rolltemplate-botchbt">{{botch-button}}</span>
                    |{{/rollWasFumble() Result}}

                    |{{#rollWasCrit() Result}}
                    <span class="sheet-rolltemplate-critbt">{{crit-button}}</span>
                    |{{/rollWasCrit() Result}}
                </td>
                |{{/stress}}
            </tr>
        </table>
    </rolltemplate>

    <rolltemplate class="sheet-rolltemplate-arcane">
        <div style="background-image:url(https://i.imgur.com/gIacv0f.jpg);box-shadow: 0px 0px 4px black;">
        <div style="background-image:url(https://i.imgur.com/q9tcTtR.jpg);width:235px;height:125px"></div>
        <table class="sheet-rolltemplate-all">
            <tr>
                |{{^stress}}
                <td class="bigresult display-simple-light" colspan="2">{{result0}}</td>
                |{{/stress}}
                |{{#stress}}
                <td class="bigresult display-stress-light" colspan="2">{{result0}}</td>
                |{{/stress}}
            </tr>
            |{{#rollWasFumble() result0}}
            <tr style="text-align: center;"><td colspan="2"><span class="sheet-rolltemplate-botchbt">{{botch-button}}</span></td></tr>
            |{{/rollWasFumble() result0}}

            |{{#rollWasCrit() result0}}
            <tr style="text-align: center;"><td colspan="2"><span class="sheet-rolltemplate-critbt">{{crit-button}}</span></td></tr>
            |{{/rollWasCrit() result0}}
            <tr>
                <th colspan="2"><span>{{label0}}</span></th>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            |{{#label1}}
            <tr>
                <td class="label">{{label1}}</td>
                <td class="result">{{result1}}</td>
            </tr>
            |{{/label1}}
            |{{#label2}}
            <tr>
                <td class="label">{{label2}}</td>
                <td class="result">{{result2}}</td>
            </tr>
            |{{/label2}}
            |{{#label3}}
            <tr>
                <td class="label">{{label3}}</td>
                <td class="result">{{result3}}</td>
            </tr>
            |{{/label3}}
            |{{#label4}}
            <tr>
                <td class="label">{{label4}}</td>
                <td class="result">{{result4}}</td>
            </tr>
            |{{/label4}}
            |{{#label5}}
            <tr>
                <td class="label">{{label5}}</td>
                <td class="result">{{result5}}</td>
            </tr>
            |{{/label5}}
            |{{#label6}}
            <tr>
                <td class="label">{{label6}}</td>
                <td class="result">{{result6}}</td>
            </tr>
            |{{/label6}}
            |{{#textlabel}}
            <!--<tr name="divider">
                <td colspan="2"><hr style="margin-bottom:0px;"></td>
            </tr>-->
            <tr>
                <td class="label" colspan="2" style="padding-top: 20px;">{{textlabel}}</td>
            </tr>
            |{{/textlabel}}
            |{{#textsublabel}}
            <tr>
                <td class="textfield" colspan="2" style="text-align: center;">{{textsublabel}}</td>
            </tr>
            |{{/textsublabel}}
            |{{#textfield}}
            <tr>
                <td class="textfield" colspan="2">{{textfield}}</td>
            </tr>
            |{{/textfield}}
        </table>
        </div>
        <div style="background-image:url(https://i.imgur.com/DdTHJT1.jpg); width:235px; height:125px; position:relative; top:-50px;"></div>
    
    </rolltemplate>

    <rolltemplate class="sheet-rolltemplate-custom">
        <div class="sheet-crt-container sheet-crt-color-{{color}} sheet-crt-rlcolor-{{roll-color}} sheet-crt-btcolor-{{button-color}}">
            <div class="sheet-crt-header">
                |{{#title}}<div class="sheet-crt-title"><b>{{title}}</b></div>{{/title}}
                |{{#subtitle}}<div class="sheet-crt-subtitle">{{subtitle}}</div>{{/subtitle}}
            </div>
            <div class="sheet-crt-content">
                |{{#allprops() title subtitle desc color roll-color button-color left-align right-align}}
                <div class="sheet-crt-key sheet-crt-lalign-{{left-align}}">{{key}}</div>
                <div class="sheet-crt-value sheet-crt-ralign-{{right-align}}">{{value}}</div>
                |{{/allprops() title subtitle desc color roll-color button-color left-align right-align}}
                |{{#desc}}<div class="sheet-crt-desc">{{desc}}</div>{{/desc}}
            </div>
        </div>
    </rolltemplate>
</div>
    