
mixin legacy_header()
    .artcontainer&attributes(attributes)
        <div class='sheet-col'>
            <table class="table_1">
                <tr>
                    <th data-i18n="character" >Character</th>
                    <td><input type="text" class="heading_1" name="attr_character_name"></td>
                </tr>
                <tr>
                    <th data-i18n="player" >Player</th>
                    <td><input type="text" class="heading_3" name="attr_player_name"></td>
                </tr>
                <tr>
                    <th data-i18n="unspent-xp" >Unspent XP</th>
                    <td><input type="text" class="heading_3" name="attr_unspent_xp"></td>
                </tr>
            </table>
        </div>
        <div class='sheet-col'>
            <div class="banner">
                <div class="banner-content"></div>
            </div>
        </div>
        <div class='sheet-col'>
            <table class="table_1">
                <tr>
                    <th data-i18n="saga" >Saga</th>
                    <td colspan="3"><input type="text" class="heading_2" name="attr_saga"></td>
                </tr>
                <tr>
                    <th data-i18n="current-year" >Current Year</th>
                    <td colspan="3"><input type="text" class="heading_2" name="attr_year"></td>
                </tr>
                <tr>
                    <th data-i18n="confidence" >Confidence</th>
                    <td><input type="text" data-i18n-placeholder="score" placeholder="Score" class="heading_2" style="width:50px;" name="attr_Confidence"></td>
                    <th data-i18n="pool" >Pool</th>
                    <td style="text-align:right;"><input data-i18n-placeholder="points" placeholder="Points" type="text" class="heading_2" style="width:50px;" name="attr_ConfidencePoints"></td>
                </tr>
            </table>
        </div>