
<!-- Translation keys -->
<input name ="attr_ability_i18n" type="hidden" value="Abiliy" >
<input name ="attr_armor_i18n" type="hidden" value="Armor" >
<input name ="attr_artes_i18n" type="hidden" value="Artes Lib." >
<input name ="attr_attack_i18n" type="hidden" value="Attack" >
<input name ="attr_aura_i18n" type="hidden" value="Aura" >
<input name ="attr_bold_i18n" type="hidden" value="Bold" >
<input name ="attr_bonus_i18n" type="hidden" value="Bonus" >
<input name ="attr_botch_i18n" type="hidden" value="Botch" >
<input name ="attr_characteristic_i18n" type="hidden" value="Characteristic" >
<input name ="attr_botch_num_i18n" type="hidden" value="Number of botch dice" >
<input name ="attr_circumstances_i18n" type="hidden" value="Circumstances" >
<input name ="attr_circumstantial_i18n" type="hidden" value="Circumstancial" >
<input name ="attr_critical_i18n" type="hidden" value="Critical" >
<input name ="attr_damage_i18n" type="hidden" value="Damage" >
<input name ="attr_defense_i18n" type="hidden" value="Defense" >
<input name ="attr_deficiency_i18n" type="hidden" value="Deficiency" >
<input name ="attr_encumbrance_i18n" type="hidden" value="Encumbrance" >
<input name ="attr_exaggerated_i18n" type="hidden" value="Exaggerated" >
<input name ="attr_fatigue_i18n" type="hidden" value="Fatigue" >
<input name ="attr_firm_i18n" type="hidden" value="Firm" >
<input name ="attr_focus_i18n" type="hidden" value="Focus" >
<input name ="attr_form_i18n" type="hidden" value="Form" >
<input name ="attr_gestures_i18n" type="hidden" value="Gestures" >
<input name ="attr_gest-none_i18n" type="hidden" value="None" >
<input name ="attr_initiative_i18n" type="hidden" value="Initiative" >
<input name ="attr_loud_i18n" type="hidden" value="Loud" >
<input name ="attr_modifiers_i18n" type="hidden" value="Modifiers" >
<input name ="attr_philos_i18n" type="hidden" value="Philos." >
<input name ="attr_quiet_i18n" type="hidden" value="Quiet" >
<input name ="attr_simple-die_i18n" type="hidden" value="Simple" >
<input name ="attr_soakbns_i18n" type="hidden" value="Soak Bonus" >
<input name ="attr_spontaneous_i18n" type="hidden" value="Spontaneous" >
<input name ="attr_stress-die_i18n" type="hidden" value="Stress" >
<input name ="attr_subtle_i18n" type="hidden" value="Subtle" >
<input name ="attr_technique_i18n" type="hidden" value="Technique" >
<input name ="attr_total_i18n" type="hidden" value="Total" >
<input name ="attr_unselected_i18n" type="hidden" value="Unselected" >
<input name ="attr_words_i18n" type="hidden" value="Words" >
<input name ="attr_words-none_i18n" type="hidden" value="None" >
<input name ="attr_wounds_i18n" type="hidden" value="Wounds" >
<input name ="attr_intelligence_i18n" type="hidden" value="Intelligence" >
<input name ="attr_perception_i18n" type="hidden" value="Perception" >
<input name ="attr_presence_i18n" type="hidden" value="Presence" >
<input name ="attr_communication_i18n" type="hidden" value="Communication" >
<input name ="attr_strength_i18n" type="hidden" value="Strength" >
<input name ="attr_stamina_i18n" type="hidden" value="Stamina" >
<input name ="attr_dexterity_i18n" type="hidden" value="Dexterity" >
<input name ="attr_quickness_i18n" type="hidden" value="Quickness" >
<input name ="attr_ask_short_i18n" type="hidden" value="Ask" >
<input name ="attr_global_char_short_i18n" type="hidden" value="Gbl" >
<input name ="attr_intelligence_short_i18n" type="hidden" value="Int" >
<input name ="attr_perception_short_i18n" type="hidden" value="Per" >
<input name ="attr_presence_short_i18n" type="hidden" value="Prs" >
<input name ="attr_communication_short_i18n" type="hidden" value="Com" >
<input name ="attr_strength_short_i18n" type="hidden" value="Str" >
<input name ="attr_stamina_short_i18n" type="hidden" value="Sta" >
<input name ="attr_dexterity_short_i18n" type="hidden" value="Dex" >
<input name ="attr_quickness_short_i18n" type="hidden" value="Qik" >
<input name ="attr_creo_i18n" type="hidden" value="Creo" >
<input name ="attr_intellego_i18n" type="hidden" value="Intellego" >
<input name ="attr_muto_i18n" type="hidden" value="Muto" >
<input name ="attr_perdo_i18n" type="hidden" value="Perdo" >
<input name ="attr_rego_i18n" type="hidden" value="Rego" >
<input name ="attr_animal_i18n" type="hidden" value="Animal" >
<input name ="attr_aquam_i18n" type="hidden" value="Aquam" >
<input name ="attr_auram_i18n" type="hidden" value="Auram" >
<input name ="attr_corpus_i18n" type="hidden" value="Corpus" >
<input name ="attr_herbam_i18n" type="hidden" value="Herbam" >
<input name ="attr_ignem_i18n" type="hidden" value="Ignem" >
<input name ="attr_imaginem_i18n" type="hidden" value="Imaginem" >
<input name ="attr_mentem_i18n" type="hidden" value="Mentem" >
<input name ="attr_terram_i18n" type="hidden" value="Terram" >
<input name ="attr_vim_i18n" type="hidden" value="Vim" >