input(type='radio' name='attr_companion_page' class='sheet-proficiencies sheet-hide' value='2')
div.sheet-proficiencies.sheet-showhide
  h3.sheet-divide &emsp;WEAPON PROFICIENCIES&emsp;
  include ../../components/proficiencies/weapons