rolltemplate.sheet-rolltemplate-fhtagn
  table.sheet-rolltemplate__table
    thead.sheet-rolltemplate__header 
      th(colspan="2") {{rollname}}
    tbody.sheet-rolltemplate__body
      | {{#probe}}
      tr.sheet-rolltemplate__row 
        td Ergebnis: 
        td {{probe}}
      | {{/probe}}

      | {{#basiswert}}
      tr.sheet-rolltemplate__row 
        td Basiswert: 
        td {{basiswert}} 
      | {{/basiswert}}

      | {{#grundwert}}
      tr.sheet-rolltemplate__row 
        td Grundwert: 
        td {{grundwert}} 
      | {{/grundwert}}

      | {{#schaden}}
      tr.sheet-rolltemplate__row 
        td Schaden: 
        td {{schaden}} 
      | {{/schaden}}

      | {{#hinweis}}
      tr.sheet-rolltemplate__row 
        td Hinweis: 
        td {{grundwert}} 
      | {{/hinweis}}
