section.hubcargo
  -
    const cargo = data.hub.cargo;
    const { cargotitle, cargocount, cargobody } = data.hub.cargo.fields;
    const cargoubs = cargo.subtitles;

  .death__block.hubcargo__cargo
    .cargo__header
      label.death__label(data-i18n="cargo") Cargo
      label.death__label.text-center(data-i18n=cargocount.name)=cargocount.label
    +is-repeating-empty("cargo")
    fieldset.repeating_cargo
      .cargo
        .cargo--block
          +field(cargotitle).cargo__title
          +field(cargocount).cargo__count
          +field(cargobody).cargo__body
