/*----------------- GRID MAIN DEFINITIONS ------------------*/
@import url('https://fonts.googleapis.com/css?family=New Rocker|Rosarivo&display=swap');

.grid-main-container {
	font-family: New Rocker;
	font-size: 1em;
	display: grid;
	gap: 1.5em;
	max-width: 800px;
	min-height: 600px;
	/*justify-items: center;*/
	grid-template-columns: 0.5fr 1fr 1fr;
	grid-template-rows: auto auto auto 1fr 1fr 1fr auto;
	grid-template-areas: "header     header     header" 
											 "defs       defs       defs" 
											 "other-attr other-attr other-attr"
											 "main-attr  weapons    equipment" 
											 "coins      habilities spells" 
											 "notes      habilities spells" 
											 "footer     footer     footer";
}

/*----------------- GENERAL CSS ------------------*/

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.nowrap {
	flex-wrap: nowrap;
}

.grid-main-container input {
	margin: 0 2px 0 2px;
}

.grid-main-container input[type=number] {
	width: 40px;
}

.grid-main-container fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.grid-main-container textarea {
	width: 100%;
}

.section-title {
	margin-bottom: 10px;
}

.grow {
	flex-grow: 1;
}

.center {
	justify-content: center;
	align-items: center;
}

.border {
	border-width: 1px;
	border-style: outset;
	padding: 2px;
}

.second-font {
	font-family: Rosarivo;
	font-size: 0.8em;
}

/*------------- GRID SECTIONS -------------*/
.header {
	grid-area: header;
}

.header h1 {
	margin: 0px;
}

.sharp-swords {
	border-width:0px 0px 4px 0px; 
	border-style:solid;
}

.and {
	font-size: 4em;
}

.sinister-spells {
	border-width:4px 0px 0px 0px; 
	border-style:solid;
}


.char-definitions {
	grid-area: defs;
	justify-content: space-between;
}

.char-definitions-margin {
	margin: 4px;
}

.char-definitions-input {
	min-width: 15em;
}

.char-level-row {
	justify-content: space-evenly;
	flex-grow: 1;
}

.main-attributes {
	grid-area: main-attr;
	display: grid;
	grid-template-columns: 1fr auto 1fr 2fr;
	justify-items: stretch;
	align-items: center;
}

.other-attributes {
	grid-area: other-attr;
	justify-content: space-evenly;
	align-items: center;
}

.health-points {
	align-items: center;
}

.habilities {
	grid-area: habilities;
}

.equipment {
	grid-area: equipment;
}

.notes {
	grid-area: notes;
}

.spells {
	grid-area: spells;
}

.weapons {
	grid-area: weapons;
}

.weapons-damage {
	width: 4em;
}

.coins {
	grid-area: coins;
}

.coins-grid {
	display: grid;
	grid-template-columns: auto 2fr;
	gap: 4px;
}

.footer {
	grid-area: footer;
	font-style: italic;
	font-size: 0.7em;
	justify-content: flex-end;
}