- 
  var conditions = [
    { type: 'checkbox', attribute: 'amnesiac', text: 'Amnesiac', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'amok', text: 'Amok', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'attached', text: 'Attached', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'blinded', text: 'Blinded', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'compulsed', text: 'Compulsed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'corrupted', text: 'Corrupted', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'cursed', text: 'Cursed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'dazed', text: 'Dazed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'deafened', text: 'Deafened', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'dying', text: 'Dying', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'encumbered', text: 'Encumbered', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hallucinating', text: 'Hallucinating', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hyperthermic', text: 'Hyperthermic', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hypothermic', text: 'Hypothermic', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'maimed', text: 'Maimed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'mute', text: 'Mute', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'palsied', text: 'Palsied', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'phobiac', text: 'Phobiac', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'poisoned', text: 'Poisoned', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'reeled', text: 'Reeled', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'shaken', text: 'Shaken', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'starved', text: 'Starved', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'stupefied', text: 'Stupefied', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'suffocated', text: 'Suffocated', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'tormented', text: 'Tormented', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unconscious', text: 'Unconscious', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unprepared', text: 'Unprepared', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unsteady', text: 'Unsteady', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'weakened', text: 'Weakened', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'wounded', text: 'Wounded', classes: 'sheet-condition-btn' }
  ]

- 
  var conditionsBody = {
    amnesiac: {
      description: 'You have forgotten your abilities.',
      points: [
        { 
          char: true,
          text: "Take two asset cards and pair them with this condition. You can't use them. If severity 2 or below is marked, unpair one asset card."
        }
      ],
      severity: {
        reduce: {
          text: 'Reduce the severity by 1...',
          point: 'When you <em>Sojourn</em>, and score a <strong>strong hit</strong>.'
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: 'Clear this condition',
        point: 'When you <em>Take a Downtime</em>.'
      }
    },
    amok: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    attached: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    blinded: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    compulsed: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    corrupted: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    cursed: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    dazed: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    deafened: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    dying: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    encumbered: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    hallucinating: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    hyperthermic: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    hypothermic: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    maimed: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    mute: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    palsied: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    phobiac: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    poisoned: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    reeled: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    shaken: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    starved: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    stupefied: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    suffocated: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    tormented: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    unconscious: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    unprepared: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    unsteady: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    weakened: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    },
    wounded: {
      description: '',
      points: [
        { 
          char: true,
          text: ""
        }
      ],
      severity: {
        reduce: {
          text: '',
          point: ''
        },
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: {
        text: '',
        point: ''
      }
    }
  }
