- 
  var conditions = [
    { type: 'checkbox', attribute: 'amnesiac', text: 'Amnesiac', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'amok', text: 'Amok', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'attached', text: 'Attached', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'blinded', text: 'Blinded', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'compulsed', text: 'Compulsed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'corrupted', text: 'Corrupted', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'cursed', text: 'Cursed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'dazed', text: 'Dazed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'deafened', text: 'Deafened', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'dying', text: 'Dying', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'encumbered', text: 'Encumbered', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hallucinating', text: 'Hallucinating', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hyperthermic', text: 'Hyperthermic', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hypothermic', text: 'Hypothermic', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'maimed', text: 'Maimed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'mute', text: 'Mute', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'palsied', text: 'Palsied', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'phobiac', text: 'Phobiac', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'poisoned', text: 'Poisoned', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'reeled', text: 'Reeled', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'shaken', text: 'Shaken', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'starved', text: 'Starved', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'stupefied', text: 'Stupefied', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'suffocated', text: 'Suffocated', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'Tormented', text: 'Tormented', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unconscious', text: 'Unconscious', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unprepared', text: 'Unprepared', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unsteady', text: 'Unsteady', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'weakened', text: 'Weakened', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'wounded', text: 'Wounded', classes: 'sheet-condition-btn' }
  ]