- 
  var conditions = [
    { type: 'checkbox', attribute: 'amnesiac', text: 'Amnesiac', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'amok', text: 'Amok', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'attached', text: 'Attached', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'blinded', text: 'Blinded', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'compulsed', text: 'Compulsed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'corrupted', text: 'Corrupted', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'cursed', text: 'Cursed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'dazed', text: 'Dazed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'deafened', text: 'Deafened', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'dying', text: 'Dying', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'encumbered', text: 'Encumbered', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hallucinating', text: 'Hallucinating', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hyperthermic', text: 'Hyperthermic', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'hypothermic', text: 'Hypothermic', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'maimed', text: 'Maimed', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'mute', text: 'Mute', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'palsied', text: 'Palsied', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'phobiac', text: 'Phobiac', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'poisoned', text: 'Poisoned', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'reeled', text: 'Reeled', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'shaken', text: 'Shaken', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'starved', text: 'Starved', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'stupefied', text: 'Stupefied', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'suffocated', text: 'Suffocated', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'tormented', text: 'Tormented', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unconscious', text: 'Unconscious', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unprepared', text: 'Unprepared', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'unsteady', text: 'Unsteady', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'weakened', text: 'Weakened', classes: 'sheet-condition-btn' },
    { type: 'checkbox', attribute: 'wounded', text: 'Wounded', classes: 'sheet-condition-btn' }
  ]

- 
  var conditionsBody = {
    amnesiac: {
      description: 'You have forgotten your abilities.',
      points: [
        { 
          char: true,
          text: "Take two asset cards and pair them with this condition. You can't use them. If severity 2 or below is marked, unpair one asset card."
        }
      ],
      severity: {
        reduce: [
          {
            char: true,
            text: 'When you <em>Sojourn</em>, and score a <strong>strong hit</strong>.'
          }
        ],
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: [
        {
          char: true,
          text: 'When you <em>Take a Downtime</em>.'
        }
      ]
    },
    amok: {
      description: 'You suffer outbursts of violent and homicidal rages directed at anyone near you.',
      points: [
        { 
          char: true,
          text: "When you <em>Inflict Harm</em>, add +X."
        },
        { 
          char: true,
          text: "When <strong>you make a move and score a strong hit</strong>, roll an additional 1d8. If you roll as your heart or above, you give up to your behavior and Strike the nearest target, whether they are an ally, companion, foe or else"
        }
      ],
      severity: {
        reduce: [
          {
            char: true,
            text: 'When you <em>Inflict Harm.</em>'
          }
        ],
        track: [{ value: 1 }, { value: 2 }, { value: 3 }]
      }
    },
    attached: {
      description: "You became obsessively attached to an object, type of object or person, and don't function properly without this",
      points: [
        { 
          char: true,
          text: "When you make a move while being more than 30 ft. away from the object or person, subtract -1."
        }
      ],
      severity: {
        reduce: [
          {
            char: true,
            text: 'When you make a move by being more than a 30 ft. away from the object, or person, and score a strong hit.'
          }
        ],
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      }
    },
    blinded: {
      description: 'You are suffering from vision loss.',
      points: [
        { 
          char: true,
          text: "When <em>you make a move involving this impairment</em> (if such move is possible with this condition),subtract -1."
        },
        { 
          foe: true,
          text: " When <em>you make a physical move against this foe involving this impairment</em>, add +1."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you <em>Make Camp</em> and choose to recuperate or <em>Sojourn</em> and choose to mend.'
        },
        { 
          foe: true,
          text: 'When you score a miss or as appropriate to the situation.'
        }
      ]
    },
    compulsed: {
      description: 'You feel uncontrollably compelled to perform certain action, over and over (such as washing hands; touching things; praying; counting coins; touching a doorway at left, right and top before passing through it; constantly checking to see if your projectile weapon is loaded; eat something strange, dirt, slime, or offal; and so on).',
      points: [
        { 
          char: true,
          text: "When you have the opportunity to perform your compulsive action, roll an additional 1d8. If you roll as your heart or above, you feel the uncontrollable urge to perform your compulsive action. If you don't, <em>Endure Stress</em> (1 stress)."
        }
      ],
      severity: {
        reduce: [
          {
            char: true,
            text: 'When you <em>Hearten</em> and score a strong hit.'
          },
          {
            char: true,
            text: 'When you <em>Sojourn</em> and choose to cheer.'
          }
        ],
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      }
    },
    corrupted: {
      description: 'Your experiences have left you emotionally scarred. You are at the threshold of losing yourself to darkness.',
      points: [
        { 
          char: true,
          text: "Reduce your maximum momentum by 1."
        },
        { 
          char: true,
          text: "You struggle with a compulsion, quirk, or fear. Take a condition that can be taken from the <em>Manifest Insanity</em> tables (not amok nor amnesiac) and permanently pair it with this one; it cannot be cleared."
        }
      ]
    },
    cursed: {
      description: 'Your faced death and returned with a soul-bond quest.',
      points: [
        { 
          char: true,
          text: "Reduce your max momentum by 1."
        },
        { 
          char: true,
          text: "You have walked the lands beyond death. Take a condition that can be taken from the Manifest Insanity tables and pair it with this one; it is cleared once you are no longer cursed."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you <em>Fulfill Your Vow</em> bond to this condition.'
        }
      ]
    },
    dazed: {
      description: 'You are unable to act or react properly.',
      points: [
        { 
          char: true,
          text: "When you make a move, subtract -1."
        },
        { 
          foe: true,
          text: "When you make a move against this foe involving their impairment, add +1."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When make a move and score strong hit.'
        },
        { 
          char: true,
          text: 'When you Make Camp or Sojourn and score a hit.'
        },
        { 
          foe: true,
          text: 'When you make a move and score a miss, or as appropriate to the situation.'
        }
      ]
    },
    deafened: {
      description: 'You are suffering from hearing loss.',
      points: [
        { 
          char: true,
          text: "When you make a move relying on hearing (if such move is possible with this condition), subtract -X."
        },
        { 
          foe: true,
          text: "When you make a physical move against this foe involving this impairment, add +X."
        }
      ],
      severity: {
        reduce: [
          {
            char: true,
            text: 'When you Secure an Advantage by taking a breather in moderate ambience and score a strong hit. '
          },
          {
            foe: true,
            text: 'When you score a miss or as appropriate to the situation.'
          }
        ],
        track: [{ value: 1, text: 'moderate' }, { value: 2, text: 'severe' }]
      },
      clear: [
        { 
          char: true,
          text: 'When you Make Camp and choose to recuperate or Sojourn and choose to mend.'
        },
        { 
          foe: true,
          text: 'As appropriate to the circumstances.'
        }
      ]
    },
    dying: {
      description: 'Your life is running out.',
      points: [
        { 
          char: true,
          text: "If you don't Heal within an hour or two, Face Death"
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When someone else makes the Heal move on you and scores a hit.'
        }
      ]
    },
    encumbered: {
      description: 'You are carrying excessive or cumbersome weight',
      points: [
        { 
          char: true,
          foe: true,
          text: "Reduce the speed by -5 ft. (1 unit)."
        },
        { 
          char: true,
          text: "When you make a move, cancel your action die (without additions) when it matches your maximum load and up to 12."
        },
        { 
          foe: true,
          text: "When you make a physical move against this foe, add +2."
        }
      ],
      clear: [
        { 
          char: true,
          text: ' When you have a total of weight up to your maximum load or below'
        },
        { 
          foe: true,
          text: 'As appropriate to the circumstances.'
        }
      ]
    },
    hallucinating: {
      description: 'You tend to sense what is not there.',
      points: [
        { 
          char: true,
          text: "When you make a move, roll an additional 1d8. If you roll as your wits or above, you sense a hallucination; Endure Stress (X stress)."
        },
        { 
          foe: true,
          text: "When you make a move and score a strong hit, this foe suffers -1 morale."
        }
      ],
      severity: {
        reduce: [
          {
            char: true,
            text: 'When you Hearten and score a strong hit.'
          },
          {
            char: true,
            text: 'When you Sojourn and choose to cheer.'
          },
          {
            foe: true,
            text: 'When you score a miss.'
          }
        ],
        track: [{ value: 1 }, { value: 2 }]
      }
    },
    hyperthermic: {
      description: 'Your body is dangerously overheated.',
      points: [
        { 
          char: true,
          text: "When you make a move and fail to score a strong hit, Endure Harm (as per the severity). This is in addition to the move outcome."
        },
        { 
          foe: true,
          text: "When you make a move against this foe, and score a hit, they suffer -health as per the severity."
        }
      ],
      severity: {
        track: [{ value: 1, text: '104º F/40º C<br>(1d3P harm)' }, { value: 2, text: '140º F/60º C<br>(1d4P harm)' }]
      },
      clear: [
        { 
          char: true,
          text: 'When you make a move while staying in an environment below 104º F/40º C, and score a strong hit.'
        },
        { 
          foe: true,
          text: 'When this foe stays in an environment below 104º F/40º C while you score a weak hit or miss.'
        }
      ]
    },
    hypothermic: {
      description: 'Your body is dangerously overcold.',
      points: [
        { 
          char: true,
          text: "When you make a move and fail to score a strong hit, Endure Harm (as per the severity). This is in addition to the move outcome"
        },
        { 
          foe: true,
          text: "When you make a move against this foe, and score a hit, they suffer -health as per the severity."
        }
      ],
      severity: {
        track: [{ value: 1, text: '40º F/4º C<br>(1d3P harm)' }, { value: 2, text: '-20º F/-28º C<br>(1d4Pharm)' }]
      },
      clear: [
        { 
          char: true,
          text: 'When you make a move while staying in an environment above 40º F/4º C, and score a strong hit.'
        },
        { 
          foe: true,
          text: ' When this foe stays in an environment above 40º F/40º C while you score a weak hit or miss.'
        }
      ]
    },
    maimed: {
      description: 'You have suffered a wound which causes you ongoing physical challenges.',
      points: [
        { 
          char: true,
          text: " Reduce your maximum momentum by 1."
        },
        { 
          char: true,
          text: "You have a permanent injury that impacts your approach when facing physical challenges."
        },
        { 
          char: true,
          text: "When you make a move +iron or +edge involving this impairment (if such move is possible with this condition), subtract -1."
        },
        { 
          foe: true,
          text: "When you make a physical move against this foe involving this impairment, add +1."
        }
      ]
    },
    mute: {
      description: 'You lost the ability to communicate via speech.',
      points: [
        { 
          char: true,
          text: "When you make a move relying on your speech, subtract -2."
        },
        { 
          foe: true,
          text: "When you make a move against this foe involving this impairment, add +2."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you make a move relying on your speech and score a strong hit'
        },
        { 
          char: true,
          text: 'When you score a miss or as appropriate to the situation.'
        }
      ]
    },
    palsied: {
      description: 'Your mobility is constrained.',
      points: [
        { 
          char: true,
          text: "On severity 1, reduce the speed by -5 ft (1 unit)."
        },
        { 
          char: true,
          text: "On severity 2, reduce the speed to 0 ft."
        },
        { 
          char: true,
          text: "When you make a physical move, subtract -X."
        },
        { 
          foe: true,
          text: "When you make a physical move against this foe, add +X."
        }
      ],
      severity: {
        track: [{ value: 1, text: 'Cramped<br>Sprained<br>Strained' }, { value: 2, text: 'Restrained' }]
      },
      clear: [
        { 
          char: true,
          text: 'On severity 1, when you Heal, Make Camp and choose to recuperate, or Sojourn and choose to mend.'
        },
        { 
          foe: true,
          text: 'On severity 1, as appropriate to the situation.'
        },
        { 
          char: true,
          foe: true,
          text: 'On 2, by getting free.'
        }
      ]
    },
    phobiac: {
      description: 'You persistently fear a particular object or situation (if possible, the source of mental shock). You might realize that the fear is excessive and irrational, but it is disturbing enough for you that your mind rejects it.',
      points: [
        { 
          char: true,
          text: "When you approach the object of the phobia, roll 1d8. If you roll as your heart or above, Endure Stress (1 stress)."
        },
        {
          foe: true,
          text: "When this foe approaches the object of the phobia roll 1d20. If you roll as the creature's standard morale or above, they suffer -1 morale."
        }
      ],
      severity: {
        track: [{ value: 1 }, { value: 2 }, { value: 3 }, { value: 4 }]
      },
      clear: [
        {
          char: true,
          text: 'When you Endure Stress because of this phobia, and score a strong hit, reduce your severity by 1.'
        },
        {
          foe: true,
          text: "When this foe approaches the object of the phobia, and you roll 1d20 scoring below the creatures standard morale, creature's standard morale reduce the severity by 1."
        }
      ]
    },
    poisoned: {
      description: 'A toxin corrodes your body.',
      points: [
        { 
          char: true,
          text: "When you roll up to X on your action die, Endure Harm (XP harm)."
        },
        { 
          foe: true,
          text: "When you roll on your action die as per X (1=12, 2=11-12, 3=10-12, 4=9-12), this foe suffers -X health."
        }
      ],
      severity: {
        reduce: [
          {
            char: true,
            text: 'When you Heal with an antivenom.'
          },
          {
            foe: true,
            text: 'As appropriate to the situation.'
          }
        ],
        track: [{ value: 1, text: 'Minor' }, { value: 2, text: 'Mod.' }, { value: 3, text: 'Severe' }, { value: 4, text: 'Fatal' }]
      },
      clear: [
        { 
          char: true,
          text: 'When you Sojourn and choose to mend.'
        },
        { 
          foe: true,
          text: 'As appropriate to the situation.'
        }
      ]
    },
    reeled: {
      description: 'You are fighting to stay conscious.',
      points: [
        { 
          char: true,
          text: "Reduce your speed by -5 ft. (1 unit)."
        },
        { 
          char: true,
          text: "When you make a move +iron, subtract -1."
        },
        { 
          char: true,
          text: "If you engage in any vigorous activity (such as running or fighting) before taking a breather for a few minutes, roll on the Endure Harm table (before resolving the other move)."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you, or someone else, makes the Heal move on you and scores a hit.'
        }
      ]
    },
    shaken: {
      description: 'You are despairing, distraught or frightened.',
      points: [
        { 
          char: true,
          text: "Reduce your maximum momentum by 1."
        },
        { 
          char: true,
          text: "You cannot increase spirit."
        },
        { 
          char: true,
          text: "When you make a move +heart, subtract -1."
        },
        { 
          foe: true,
          text: "Reduce this foe's morale by 2d4+2."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you Sojourn and choose to cheer.'
        },
        { 
          char: true,
          text: 'When you Hearten and score a hit.'
        },
        { 
          char: true,
          text: 'When you Endure Stress, roll on the table, and roll 81 or above'
        }
      ]
    },
    starved: {
      description: 'Your body lacks enough energy to sustain itself.',
      points: [
        { 
          char: true,
          text: "When you make a move, subtract -1."
        },
        { 
          char: true,
          text: "When you make a move and fail to score a strong hit, Endure Harm (on a weak hit, 1P harm; on a miss, 2P harm). This is in addition to the move outcome."
        },
        { 
          char: true,
          text: "When you make a physical move against this foe, add +1."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you Make Camp or Sojourn and score a hit.'
        },
        { 
          char: true,
          text: 'As appropriate to the situation.'
        }
      ]
    },
    stupefied: {
      description: 'You are deprived of sensitive cognition and acuity.',
      points: [
        { 
          char: true,
          text: "When you make a move +shadow or +wits, subtract -1."
        },
        { 
          foe: true,
          text: " When you make a move against this foe, add +1."
        },
        { 
          foe: true,
          text: "When this Foe Inflicts Harm, subtract -1."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you Sojourn and choose to cheer or Make Camp and choose to focus.'
        },
        { 
          char: true,
          text: 'When you score a miss or as appropriate to the situation.'
        }
      ]
    },
    suffocated: {
      description: 'You are deprived of air or unable to breathe.',
      points: [
        { 
          char: true,
          text: "When you make a move and fail to score a strong hit, Endure Harm (1d4P harm). This is in addition to the move outcome."
        },
        { 
          foe: true,
          text: "When you make a move and score a hit, this foe suffers -1d4P harm)."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you Face Danger or Secure an Advantage by taking a breather, and score a hit'
        },
        { 
          foe: true,
          text: 'When you score a miss or as appropriate to the situation.'
        }
      ]
    },
    tormented: {
      description: 'You faced desolation and undertook a quest to prevent a dire future.',
      points: [
        { 
          char: true,
          text: "Reduce your maximum momentum by 1."
        },
        { 
          char: true,
          text: "You suffered visions of your greatest fears."
        },
        { 
          char: true,
          text: "Take another condition (one that can be taken from the Manifest Insanity tables) and pair it with this one; it is cleared once you are no longer tormented."
        },
        { 
          foe: true,
          text: "Reduce this foe's morale by 3d4+6."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you Fulfill Your Vow bond to this condition'
        }
      ]
    },
    unconscious: {
      description: 'You are incapacitated and out of action.',
      points: [
        { 
          char: true,
          text: "If you are vulnerable to a foe not inclined to show mercy, Face Death."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'If left alone, you come back to your senses in an hour or two.'
        }
      ]
    },
    unprepared: {
      description: 'You are lacking the most basic provisions for a journey.',
      points: [
        { 
          char: true,
          text: "Reduce your max momentum by 1."
        },
        { 
          char: true,
          text: "You cannot increase supply."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you Sojourn and choose to equip.'
        }
      ]
    },
    unsteady: {
      description: 'Your psychomotor abilities are impaired.',
      points: [
        { 
          char: true,
          text: "When you make a move +edge, subtract -X, where X is the character marked state."
        },
        { 
          foe: true,
          text: "When you make a physical move against this foe, add +X."
        }
      ],
      severity: {
        track: [{ value: 1, text: 'Dizzy' }, { value: 2, text: 'Shaky' }]
      },
      clear: [
        { 
          char: true,
          text: 'When you Sojourn and choose to cheer or Make Camp and choose to relax.'
        },
        { 
          char: true,
          text: 'When you Face Danger or Secure an Advantage by recovering your steadiness and score a strong hit'
        },
        { 
          foe: true,
          text: 'When you score a miss or as appropriate to the situation.'
        }
      ]
    },
    weakened: {
      description: 'Your energies are drained.',
      points: [
        { 
          char: true,
          text: "When you make a move +iron, subtract -X"
        },
        { 
          char: true,
          text: "When you Inflict Harm, subtract -X."
        },
        { 
          foe: true,
          text: "When you make a physical move against this foe, add +X."
        },
        { 
          foe: true,
          text: "When this Foe Inflicts Harm, subtract -X."
        }
      ],
      severity: {
        track: [{ value: 1, text: 'Fatigued' }, { value: 2, text: 'Exhausted' }]
      },
      clear: [
        { 
          char: true,
          text: 'When you Sojourn and choose to mend, or Make Camp and choose to recuperate'
        },
        { 
          foe: true,
          text: 'As appropriate to the situation.'
        }
      ]
    },
    wounded: {
      description: 'You are severely injured and need treatment to recover.',
      points: [
        { 
          char: true,
          text: "Reduce your maximum momentum by 1."
        },
        { 
          char: true,
          text: "You cannot increase health."
        }
      ],
      clear: [
        { 
          char: true,
          text: 'When you Sojourn and choose to mend.'
        },
        { 
          char: true,
          text: 'When you Heal and score a hit'
        }
      ]
    }
  }
