.charsheet input {
    display: inline-block;
    width: 165px;
}
.charsheet input.sheet-tiny {
    display: inline-block;
    width: 20px;
}
.charsheet input.sheet-small {
    display: inline-block;
    width: 30px;
}
.charsheet input.sheet-cent {
    display: inline-block;
    width: 47px;
}
.charsheet input.sheet-short {
   display: inline-block;
   width: 3.5em;
}
.charsheet input.sheet-shortish {
    display: inline-block;
    width: 4.1em;
}
.charsheet input.sheet-min {
    display: inline-block;
    width: 2.7em;
}
.charsheet input.sheet-mintext {
    display: inline-block;
    width: 74px;
}
.charsheet input.sheet-maxtext {
    display: inline-block;
    width: 100px;
}
.charsheet input.sheet-middle {
    display: inline-block;
    width: 138px;
}
.charsheet input.sheet-medium {
   display: inline-block;
   width: 115px;
}
.charsheet input.sheet-display {
    display: inline-block;
    width: 150px;
}
.charsheet input.sheet-length {
    display: inline-block;
    width: 170px;
}
.charsheet input.sheet-spell {
    display: inline-block;
    width: 215px;
}
.charsheet input.sheet-long {
    display: inline-block;
    width: 400px;
}
.charsheet input[type="number"].sheet-tiny {
    display: inline-block;
    width: 23px;
}
    input[type="number"].sheet-tiny::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
    input[type="number"].sheet-nobut::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.charsheet input.sheet-tiny {
    display: inline-block;
    width: 20px;
}
.charsheet select.sheet-small {
    display: inline-block;
    width: 29px;
}
.charsheet select.sheet-short {
    display: inline-block;
    margin: 0px 0px;
    width: 4em;
}
.charsheet select.sheet-mintext {
    display: inline-block;
    margin: 0px 0px;
    width: 74px;
}
.charsheet input[type="checkbox"].left {
    float: left;
    margin: 5px 0px;
    width: 2px;
}
input.sheet-arrow
{
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-body
{
    display: none;
}

/* Hide actual radio/checkbox */
input[type="radio"],
input[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio/checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Fake radio */
input[type="radio"] + span::before
{
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
input[type="radio"]:checked + span::before
{
    content: "•";
}

/* Fake checkbox */
input[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + span::before
{
    content: "✓";
}

.charsheet div.sheet-tab-content { display: none; }

.charsheet input.sheet-tab1:checked ~ div.sheet-tab1,
.charsheet input.sheet-tab2:checked ~ div.sheet-tab2,
.charsheet input.sheet-tab3:checked ~ div.sheet-tab3,
.charsheet input.sheet-tab4:checked ~ div.sheet-tab4,
.charsheet input.sheet-tab5:checked ~ div.sheet-tab5,
.charsheet input.sheet-tab6:checked ~ div.sheet-tab6,
.charsheet input.sheet-tab7:checked ~ div.sheet-tab7,
.charsheet input.sheet-tab8:checked ~ div.sheet-tab8,
.charsheet input.sheet-tab9:checked ~ div.sheet-tab9,
.charsheet input.sheet-tab10:checked ~ div.sheet-tab10,
.charsheet input.sheet-tab11:checked ~ div.sheet-tab11,
.charsheet input.sheet-tab12:checked ~ div.sheet-tab12,
.charsheet input.sheet-tab13:checked ~ div.sheet-tab13,
.charsheet input.sheet-tab14:checked ~ div.sheet-tab14,
.charsheet input.sheet-tab15:checked ~ div.sheet-tab15
{
    display: block;
}
.charsheet input.sheet-tab + span::before,
.charsheet input.sheet-tab + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Fake radio */
.charsheet input.sheet-tab + span::before
{
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.charsheet input.sheet-tab:checked + span::before
{
    content: "•";
}
.charsheet input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}


label {
    display:inline;
    font-size:.8125rem;
    line-height:1em;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

h2,h3,h4,h5,h6,h7,h8,h9 {
    line-height:1em;
	margin:inherit;
    text-shadow: 2px 2px #000;
	display:inline;
    font-family: Arial;
	font-size:.8125rem;
	color: rgb(189, 191, 188);
}


h1 {
	width: 100%;
	background-color: #FFF;
	color: #000;
	padding:.2em 0em 0em 0em;
	min-height: 1em;
	margin:0px 0px .5em 0px;
	font-size:.8125rem;
	line-height:1.4em;
	display:block;
	text-align:center;
	vertical-align:bottom;
}

.sheet-small-label1 {
    display: inline-block;
    padding: .5em .07em 0em .07em;
	margin: .75rem .4em 1.125rem .4em;
	height: 1.85em;
    width: 72px;
	vertical-align: middle;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}

.sheet-small-label1  span {
	padding: .5em .07em 0em .07em;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	float:left; /* floats but 100% wide. */
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}
.sheet-small-label1  input::-moz-focus-inner {
	padding:0px;
}
.sheet-small-label1 select {
    margin-top:-2px;
    width: 72px;
    border: .5px;
}
.sheet-small-label2 {
    display: inline-block;
	padding: .5em .07em 0em .07em;
	margin: .75rem .4em 1.125rem .4em;
	height: 1.85em;
    width: 63px;
	vertical-align: middle;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}

.sheet-small-label2  span {
	padding: .5em .07em 0em .07em;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	float:left; /* floats but 100% wide. */
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}
.sheet-small-label2  input::-moz-focus-inner {
	padding:0px;
}
.sheet-small-label2 select {
    margin-top:-2px;
    width: 63px;
    border: .5px;
}
.sheet-small-label3 {
    display: inline-block;
    padding: .5em .07em 0em .07em;
	margin: .75rem .4em 1.125rem .4em;
	height: 1.85em;
    width: 85px;
	vertical-align: middle;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}

.sheet-small-label3  span {
	padding: .5em .07em 0em .07em;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	float:left; /* floats but 100% wide. */
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}
.sheet-small-label3  input::-moz-focus-inner {
	padding:0px;
}
.sheet-small-label3 select {
    margin-top:-2px;
    width: 85px;
    border: .5px;
}
.sheet-small-label4 {
    display: inline-block;
    padding: .5em .07em 0em .07em;
	margin: .75rem .4em 1.125rem .4em;
	height: 1.85em;
    width: 67px;
	vertical-align: middle;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}

.sheet-small-label4  span {
	padding: .5em .07em 0em .07em;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	float:left; /* floats but 100% wide. */
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}
.sheet-small-label4  input::-moz-focus-inner {
	padding:0px;
}
.sheet-small-label4 select {
    margin-top:-2px;
    width: 67px;
    border: .5px;
}
.sheet-small-label5 {
    display: inline-block;
    padding: .5em .07em 0em .07em;
    margin: .75rem .4em 1.125rem .4em;
	height: 1.85em;
    width: 105px;
	vertical-align: middle;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}

.sheet-small-label5  span {
	padding: .5em .07em 0em .07em;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	float:left; /* floats but 100% wide. */
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}
.sheet-small-label5  input::-moz-focus-inner {
	padding:0px;
}
.sheet-small-label5 select {
    margin-top:-2px;
    width: 105px;
    border: .5px;
}
.sheet-small-label6 {
    display: inline-block;
    padding: .5em .07em 0em .07em;
    margin: .75rem .4em 1.125rem .4em;
    height: 1.85em;
    width: 75px;
	vertical-align: middle;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}

.sheet-small-label6  span {
	padding: .5em .07em 0em .07em;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	float:left; /* floats but 100% wide. */
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}
.sheet-small-label6  input::-moz-focus-inner {
	padding:0px;
}
.sheet-small-label6 select {
    margin-top:-2px;
    width: 75px;
    border: .5px;
}
.sheet-small-label7 {
    display: inline-block;
    padding: .5em .07em 0em .07em;
    margin: .75rem .4em 1.125rem .4em;
    height: 1.85em;
    width: 125px;
    vertical-align: middle;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}

.sheet-small-label7  span {
	padding: .5em .07em 0em .07em;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;	
	float:left; /* floats but 100% wide. */
	/*firefox has to be squeezed */
	-moz-margin-start:-2px;
	-moz-margin-end:-2px;
}
.sheet-small-label7  input::-moz-focus-inner {
	padding:0px;
}
.sheet-small-label7 select {
    margin-top:-2px;
    width: 125px;
    border: .5px;
}

button,
button:hover, {
    background-color: rgb(3, 71, 132);
}
button:active