//- An array of all the attributes for the system. We'll iterate through this so we don't have to write the same code 6 times.
- const attributes = ['heart','books','fierce','slick','weird'];
- const attributeOpts = attributes.map((attr)=>`${capitalize(attr)},@{${attr}}`).join('|');
- varObjects.attributeNames = attributes;
//- A mixin that will create a checkbox for use in controlling the display of extra information on an item. Takes an optional name property to override the name of the checkbox.
mixin collapse(name='collapse')
  +checkbox({name,value:1,class:'collapse'})
//- End Mixin
mixin attributeOptions(defaultValue)
  - const baseObj = {value:`?{Which Stat|${attributeOpts}}`,'data-i18n':'query'};
  if !defaultValue
    - baseObj.selected = '';
  +option(baseObj)
  each value in varObjects.attributeNames
    - const optObj = {value:`@{${value}}`,'data-i18n':value}
    if value === defaultValue
      - optObj.selected = '';
    +option(optObj)
//- End Mixin