.npc
    .grid.button
        input.sheet-npc-toggle(name='attr_sheet_type' type='checkbox' value='npc')
        .option 
            span.pictos U
    .grid.npc-display

        h1.npc-title
            input(name="attr_npc_name_toggle", type="hidden", value="1")
            button(name="act_edit_npc_name", type="action")
                span(name="attr_character_name")
            label.grid.npc-name-edit
                input(name="attr_character_name", type="text")
                button.pictos(name="act_save_npc_name", type="action") 3

        .grid.column.npc-traits

            each trait in npcTraits

                +traitButton(trait)
                +numberInput(trait)

        .grid.column.npc-attributes

            each attribute in npcAttributes

                .sheet-npc-attribute(data-i18n=`npc ${attribute.name}`)
                
                if (attribute.type === "number")
                    +numberInput(attribute.name)
                
                if (attribute.type === "text")
                    +textInput(attribute.name)

        .grid.column.npc-weapons

            .grid.npc-weapons-header
        
                h2.text-left(data-i18n='weapons')

                each field in npcWeaponFields
                    .text-center(data-i18n=field.name)
        
        .grid.npc-weapons
            
            .repeating-container
                
                +repeatingNPCAttacks('weapons')

        .grid.column.2autocolumn.npc-repeating

            each section in npcRepeating

                if (section === "skills" || section === "combat skills")

                    +repeatingNPCSkills(section)

                else

                    +repeatingTraits(section)

                .npc-rowdivider