.pc.container
  .grid.2column.logo.mb-3
    .column.grid.2autocolumn.bottom-border
      h2.colon(data-i18n='player name')
      +textInput('player name')
    .column
      img(src=`${imgsrc}/Black%20Void%20by%20Penny%20for%20a%20Tale/src/imgs/logo.png` alt='Black Void')

  .grid.box
    .grid.character-info
      .grid.bottom-border.name-row
        each val in ['name', 'species', 'homeworld']
          .column.grid.2autocolumn
            h2.colon(data-i18n=val)
            +textInput(val)
      .grid.bottom-border.5column.gender-row
        each val in ['gender', 'age', 'skin', 'eyes', 'hair']
          .column.grid.2autocolumn
            h2.colon(data-i18n=val)
            +textInput(val)
      .grid.bottom-border.2column.build-row
        each val in ['build', 'appearence']
          .column.grid.2autocolumn
            h2.colon(data-i18n=val)
            +textInput(val)
      .grid.bottom-border
        +textInput('notes')
    .grid.3column.personality-row
      .grid.column.personality
        .row
          h2(data-i18n='personality')
        .row
          h3(data-i18n='desire and motivation')
          +textarea('desire motivation')
        .row
          h3(data-i18n='dislikes, secrets and regrets')
          +textarea('dislikes secrets regrets')
        .row
          h3(data-i18n='philosophy & principles')
          +textarea('philosophy principles')
      .grid.column.mannerism
        .row
          h2(data-i18n='mannerism')
        .row
          h3(data-i18n='')

      .grid.column.origin
        h2(data-i18n='origin')

    .grid
      .column.personality

      .column.mannerism

      .column.origin

  .grid
    .column.wastah.box

    .column.abilities

    .column.enlightenment.box

  .grid
    .column
      .grid.background.box

      .grid.attributes.box

      .grid.powers.box

    .column.box
      .grid.skills

      .grid.combat-skills