.pc.container
  .grid.2column.logo-row.mb-3
    .column.grid.2autocolumn.bottom-border
      h2.colon(data-i18n='player name')
      +textInput('player name')
    .column.grid.logo
      img(src=`${imgsrc}/Black%20Void%20by%20Penny%20for%20a%20Tale/src/imgs/logo.png` alt='Black Void')

  .grid.box
    .grid.mb-3.character-info
      .grid.bottom-border.name-row
        each val in ['name', 'species', 'homeworld']
          .column.grid.2autocolumn
            h2.colon(data-i18n=val)
            +textInput(val)
      .grid.bottom-border.5column.gender-row
        each val in ['gender', 'age', 'skin', 'eyes', 'hair']
          .column.grid.2autocolumn
            h2.colon(data-i18n=val)
            +textInput(val)
      .grid.bottom-border.2column.build-row
        each val in ['build', 'appearence']
          .column.grid.2autocolumn
            h2.colon(data-i18n=val)
            +textInput(val)
      .grid.bottom-border
        +textInput('notes')
    .grid.3column.personality-row
      .grid.column.personality
        .row
          h2.text-center(data-i18n='personality')
        each val in ['desire and motivation', 'dislikes secrets regrets', 'philosophy principles']
          .row
            h3.colon(data-i18n=val)
            +textarea(val)
      .grid.column.mannerism
        .row
          h2.text-center(data-i18n='mannerism')
        each val in ['quirk and habits', 'sayings']
          .row
            h3.colon(data-i18n=val)
            +textarea(val)
      .grid.column.origin
        .row
          h2.text-center(data-i18n='origin')
        .row
          h3.colon(data-i18n='ancestry and relations')
          +textarea('ancestry and relations')
        .grid.2autocolumn.bottom-border
          h3.colon(data-i18n='caste')
          +textInput('caste')
        .row
          h3.colon(data-i18n='faction and allegiance')
          +textarea('faction and allegiance')
        each val in ['occupation', 'patron']
          .grid.2autocolumn.bottom-border
            h3.colon(data-i18n=val)
            +textInput(val)

    .grid
      .column.personality

      .column.mannerism

      .column.origin

  .grid
    .column.wastah.box

    .column.abilities

    .column.enlightenment.box

  .grid
    .column
      .grid.background.box

      .grid.attributes.box

      .grid.powers.box

    .column.box
      .grid.skills

      .grid.combat-skills