.pc.container
  .row.grid.logo
    .column.2autocolumn
      +textInput('player name')
    .column
      img(src=`${imgsrc}/Black%20Void%20by%20Penny%20for%20a%20Tale/src/imgs/logo.png` alt='Black Void')

  .column
    .row.grid.2column
      .col
        h2(data-i18n='name')
        +textInput('character name')
      .col
        h2(data-i18n='player')
        +textInput('player')
    .row.grid.2column
      .col
        h2(data-i18n='occupation')
        +textInput('occupation')
        span(data-i18n='occupation description')
      .col.repeating-container
        h3(data-i18n='skills')
        +repeatingText('occupation skills')
    .row.grid.2column
      .col
        h2(data-i18n='background')
        +textInput('background')
      .col
        h3(data-i18n='skill')
        +textInput('background skill')
    .row.grid.2column
      .col
        h2(data-i18n='training')
        span(data-i18n='training description')
      .col.repeating-container
        h3(data-i18n='skills')
        +repeatingText('training skills')
    .row.grid.2column
      .col
        h2(data-i18n='household')
        span(data-i18n='training description')
      .col
        h3(data-i18n='household name & description')
        +textarea('household description')
    .row.grid.2column
      .col
        h2(data-i18n='rituals')
        span(data-i18n='rituals description')
      .col.repeating-container
        h3(data-i18n='rituals')
        +repeatingText('rituals')
    .row.grid.2column
      .col
        h2(data-i18n='library')
        span(data-i18n='library description')
      .col.repeating-container
        h3(data-i18n='rituals')
        +repeatingText('library rituals')

  .column
    .row
      h2(data-i18n='drive')
      +textarea('drive')
    .row.grid.hoard
      h2(data-i18n='hoard')
      -const hoardChecks = 0
      while hoardChecks < 50
        +checkboxInput(`hoard ${hoardChecks}`)
    .row.equipment
      h2(data-i18n='equipment')
      .row
        h3(data-i18n='backpack')
      .row
        h3(data-i18n='combat')
      .row
        h3(data-i18n='found equipment')
    .row.conditions.repeating-container
      h2(data-i18n='conditions')
      +repeatingText('conditions')

  .column
    .row
      h2(data-i18n='burdens')
    .row
      h2(data-i18n='gold')
    .row
      h2(data-i18n='ruin')
      