

.sheet-clear {
    clear: both
}

.sheet-divider {
    border-top: 1px solid #e3e3e3
}


/*-----------Mise en forme des bouton number (pas de fleche)-------------- */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    vertical-align: middle;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*----------------------------------- */

/* ===== DIV AS TABLE ===== */


.sheet-ttable {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.sheet-panneau {
    display: table;
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    border: none;
}

.sheet-btn {
    vertical-align: middle;
}

.sheet-thead {
    display: block;
    background-color: #6E6E6E;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 3px 0px 3px 0px;
    margin: 0px 0px 2px 0px;
}


.sheet-ligne {
    display: table-row;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 1px;
    white-space: nowrap;
}

.sheet-tcell{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 1px 1px 1px 1px;
}

.sheet-tcell2{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding: 1px 1px 1px 1px;
}

/* ---------------Weapon Mastery------------------------------------ */
input.sheet-radioChoice {
    width: 100px;
    cursor: pointer;    
    position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-radioChoice {
    text-align: center;
    display: inline-block; 	
	background: #BDBDBD;
	color: black;
	border-radius: 4px;
	width: 130px;
    cursor: pointer;	
	position: relative;
	margin-left: -100px;
    font-weight: bold;
    margin-bottom: 5px;
}

input.sheet-radioChoice1:checked + span.sheet-radioChoice1,
input.sheet-radioChoice2:checked + span.sheet-radioChoice2,
input.sheet-radioChoice3:checked + span.sheet-radioChoice3,
input.sheet-radioChoice4:checked + span.sheet-radioChoice4,
input.sheet-radioChoice5:checked + span.sheet-radioChoice5,
input.sheet-radioChoice6:checked + span.sheet-radioChoice6 {
    background: #6E6E6E;
    border-radius: 4px;
}

/* ---------------Page cachée------------------------------------ */

.sheet-showDiv {
    display: none;
}

.sheet-showDiv:not(:checked) ~ div, fieldset {
    display: none !important;
}

.sheet-showDiv:checked ~ div, fieldset  {
    display: block;
}

/* -------------------------------------TEMPLATE ---------------------------------*/
.sheet-rolltemplate-base .sheet-container {
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-base .sheet-container h1 {
    color: rgb(126, 45, 64);
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-base div {
    padding: 2px;
};
 
.sheet-rolltemplate-base span {
    color: rgb(126, 45, 64);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
 
.sheet-rolltemplate-base .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}
 
.sheet-rolltemplate-base .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
    border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-base .sheet-tcat {
    font-style: bold;
}
 
.sheet-rolltemplate-base .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-base .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-base .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-base .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-base .sheet-critical {
    color:green;
    font-weight:bold;
    margin-top: 5px;
}

.sheet-rolltemplate-base .sheet-fumble {
    color:red;
    font-weight:bold;
    margin-top: 5px;
}


/* -------------------------------------FIN TEMPLATE ---------------------------------*/


/* -------- Fenetre à l'affiche de souris-----*/

/* -------- Centrer vers la droite-----*/
div.sheet-tooltipsdown {
  position: relative;
  display: inline;
}

div.sheet-tooltipsdown span {
  position: absolute;
  width:270px;
  color: #fff;
  background: #6E6E6E;
  height: 33px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  border:3px solid black;
}

div:hover.sheet-tooltipsdown span {
  visibility: visible;
  opacity: 1;
  left: 0%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}


/* -------- Centrer au milieu -----*/

div.sheet-tooltipsdownMid {
  position: relative;
  display: inline;
}

div.sheet-tooltipsdownMid span {
  position: absolute;
  width:250px;
  color: #fff;
  background: #6E6E6E;
  height: 35px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  border:3px solid black;
}

div:hover.sheet-tooltipsdownMid span {
  visibility: visible;
  opacity: 1;
  left: 0%;
  top: 50%;
  margin-top: -15px;
  margin-left: -150px;
  z-index: 999;
}


/* GRID
 * ----------------------------------------------------------------- */

.sheet-column {
    margin: 0 1%;
    float: left;
}

.sheet-column .sheet-column {
    margin: 0 0%;
    float: left;
}

.sheet-row .sheet-column:last-child {
    float: right
}


/* Switch
 * ------------------------------------ */
.sheet-switch {
    position: relative;
    margin: 0px auto;
    height: 27px;
    width: 120px;
    background: rgba(0, 0, 0, 0.40);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.sheet-switch [type=radio] {
    width: 60px;
    height: 27px;
    float: left;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.sheet-switch [type=radio]::before {
    content: attr(title);
    display: block;
    width: 60px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

.sheet-switch [type=radio]:checked,
.sheet-switch [type=radio]:active,
.sheet-switch [type=radio]:focus {
    font-weight: normal;
    background: transparent;
    color: #fff;
}

.sheet-switch-input-on:checked ~ .sheet-switch-selection {
    left: 2px;
}

.sheet-switch-input-off:checked ~ .sheet-switch-selection {
    left: 60px;
}

.sheet-switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 23px;
    background: #65bd63;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #485a6d, #2c3947);
    background-image: -moz-linear-gradient(top, #485a6d, #2c3947);
    background-image: -o-linear-gradient(top, #485a6d, #2c3947);
    background-image: linear-gradient(to bottom, #485a6d, #2c3947);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

/* Form Options
 * ------------------------------------ */

table .sheet-opt-content {
    display: none;
}

input.sheet-opt {
    height: 30px;
    margin-right: 120px;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

input.sheet-opt::after {
    content: attr(title);
    text-align: left;
    display: block;
    color: #444;
    width: 120px;
    padding-left: 20px;
    line-height: 30px;
    font-size: 16px;
}

input.sheet-opt-vehicle {
    margin-left: 10px;
}

input.sheet-opt:active,
input.sheet-op:focus {
    outline: none;
}

/* START TAB CODE */

input.sheet-tab-new {
    cursor: pointer;
    height: 20px;
    opacity: 0;
    position: relative;
    width: 120px;
    z-index: 9999;
}

span.sheet-tab-new {
    border: 1px solid #51597f;
    background-color: white;
    border-radius: 4px;
    color: #51597f;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    margin-left: -122px;
    position: relative;
    text-align: center;
    line-height: 20px;
    width: 120px;
}

input.sheet-tab-new:checked + span {
    background: #51597f none repeat scroll 0 0;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    /*color: #692927;*/
}

/* END TAB CODE */

div.sheet-tab-content {
    display: none;
    border-top: 1px solid #444;
    margin-top: 2px;
    background-image: url('https://i.imgur.com/cLCuOaA.jpg'); /* Grey Background */
    background-position: center center;
    background-repeat: repeat;
}

div.sheet-separator {
    border-top: 1px solid #444;
    margin-top: 5px;
}

/* Top Level Tabs */
input.sheet-tab-character-sheet:checked ~ div.sheet-tab-character-sheet,
input.sheet-tab-npc-sheet:checked ~ div.sheet-tab-npc-sheet, /* NPC Short Sheet*/
input.sheet-tab-gm-sheet:checked ~ div.sheet-tab-gm-sheet,

/* Character Sheet Tab SubTabs */
input.sheet-tab-character:checked ~ div.sheet-tab-character,
input.sheet-tab-skills:checked ~ div.sheet-tab-skills,
input.sheet-tab-weapon:checked ~ div.sheet-tab-weapon,
input.sheet-tab-item:checked ~ div.sheet-tab-item,
input.sheet-tab-notes:checked ~ div.sheet-tab-notes,
input.sheet-tab-animal1:checked ~ div.sheet-tab-animal1,
input.sheet-tab-animal2:checked ~ div.sheet-tab-animal2,
input.sheet-tab-animal3:checked ~ div.sheet-tab-animal3,
input.sheet-tab-animal4:checked ~ div.sheet-tab-animal4,
input.sheet-tab-animal5:checked ~ div.sheet-tab-animal5,
input.sheet-tab-xp:checked ~ div.sheet-tab-xp
{
    display: block;
}

input.sheet-player:checked ~ .sheet-player-sheet{
    display: inline-block;
}


/* ------------------------------------ */

.charsheet {
    padding: 0px !important;
    margin: 0px !important;
}

.charsheet input[type=text],
.charsheet textarea,
.charsheet select {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.charsheet input,
.charsheet textarea {
    background: #e3e3e3;
}

.charsheet input:focus,
.charsheet textarea:focus {
    background: #fff;
}

.charsheet textarea {
    width: calc(100% - 15px);
    height: auto;
    text-align: left;
}

.charsheet label {
    font-size: 11px;
    color: #444;
    margin: 0px;
    padding: 0px;
}

.sheet-bg-gray label {
    color: #eee
}

.sheet-bg-gray td,
.sheet-bg-gray:hover td,
.charsheet .sheet-sub-header,
.charsheet .sheet-sub-header:hover {
    background: #D3D3D3;
    color: #eee;
}

.sheet-bg-blue label {
    color: #fff
}

.sheet-bg-blue td,
.sheet-bg-blue:hover td,
.charsheet .sheet-sub-header,
.charsheet .sheet-sub-header:hover {
    background: #78728f;
    color: #fff;
}

.charsheet h3 {
    display: block;
    background-color: #51597f;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

.charsheet .sheet-sub-header,
.charsheet .sheet-sub-header:hover {
    background: #485a6d;
    color: #fff;
}

label.sheet-label-title {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    line-height: 25px;
    padding-bottom: 6px;
}

label.sheet-label-committed,
label.sheet-label-casedroite,
label.sheet-label-casegauche{
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    width: 38px;
    padding: 0px;
}


label.sheet-label-middle {
    color: black;
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    width: 160px;
    padding: 0px;
}

label.sheet-label-casegauche {
    padding-left: 25px; /*16px*/
}




/* TIP HELP */

.sheet-tips {
    float: left;
    margin-left: 5px;
}

.sheet-help {
    display: none;
}

.sheet-help-def {
    display: block
}

.sheet-tips:hover .sheet-help {
    display: block
}

.sheet-icon-question {
    width: 14px;
    margin: auto;
    line-height: 14px;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #444;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

th .sheet-icon-question {
    color: #444;
    background: #fff;
}

.sheet-help .sheet-icon {
    position: absolute;
    width: 21px;
    height: 16px;
    padding: 4px 2px 2px 2px;
    text-align: center;
    margin-top: -2px;
    cursor: pointer;
}

.sheet-help-def .sheet-icon {
    margin-left: 0px
}

.sheet-help-content {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    width: 400px;
    margin-left: -25px;
    white-space:normal;
    margin-top: 19px;
    padding: 10px;
    font-size: 12px;
    text-align: left;
    -webkit-border-radius: 0px 3px 3px 3px;
    border-radius: 0px 3px 3px 3px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
    /* -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.75); */
    box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

th .sheet-help-content {
    color: #444;
    font-weight: normal;
}

.sheet-helper {
    cursor: help;
}

.sheet-icon:hover ~ .sheet-help-content {
    display: block;
    z-index: 10
}

.sheet-icon:hover {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    padding: 3px 1px 1px 1px;
    z-index: 15;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

.sheet-help-content h5 {
    padding-bottom: 8px;
}

.sheet-help-content ul li {
    line-height: 14px;
    padding-bottom: 8px;
}


/* ---------------------------------------------------------- Panneau */

.sheet-pj-attribut {
    background: url('https://i.imgur.com/lXf8wbf.png') center center no-repeat; 
    width: 302px;
    height: 236px;
    text-align: center;
    vertical-align: top;
}

.sheet-monstre-attribut {
    background: url('https://i.imgur.com/wz2TpCb.png') center center no-repeat; 
    width: 302px;
    height: 236px;
    text-align: center;
    vertical-align: top;
}

.sheet-panneau {
    border: 5px solid #6E6E6E;
    background: #fff;
    vertical-align: top;
    width: 170px; 
    height: 87px;
    text-align: center;
    margin: 20px 5px 2px 0
}

.sheet-pj-attribut label {
    color: #fff;
    text-align: center
}

.sheet-monstre-attribut label {
    color: #fff;
    text-align: center
}

.sheet-Panneau-label {
    position: absolute;
    width: 50px;
    margin-left: 220px;
    margin-top: 48px;
    font-size: 14px
}

.sheet-haut,
.sheet-droite,
.sheet-bas,
.sheet-gauche {
    width: 99px;
    height: 66px;
    position: absolute;
}

.sheet-haut {
    width: 199px;
    margin-left: 49px;
    margin-top: 2px;
}

.sheet-droite {
    margin-left: 203px;
    margin-top: 91px;
}

.sheet-bas {
    margin-left: 99px;
    margin-top: 172px;
}

.sheet-gauche {
    margin-left: 0px;
    margin-top: 91px;
}

.sheet-spacer {
    padding: 1% 0%;
}

.sheet-textbox {
    height: 164px;
    width: 100%;
    box-sizing: border-box;
}

/************************
 * Sheet Toggle Section *
 ************************/
div.sheet-section-spacer {
    margin-bottom: 20px;
}

/* Hide actual checkbox */
input[type="checkbox"].sheet-toggle {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input[type="checkbox"].sheet-toggle + span::before {
    content: "?";
    margin-left: .5em;
}

input[type="checkbox"].sheet-toggle:checked + span::before {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "?";
    width: 14px;
    height: 14px;
    font-size: 12px;
}


.repcontrol_add, .repcontrol_edit, .repcontrol_del, .repcontrol_move {
    background: #444;
    color: #f3f3f3;
}