*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
  
.charsheet {
    margin: 0px;
    background-color: white;
}

[class*='sheet-col-'] {
    float: left;
    padding-right: 20px;
}

[class*='sheet-col-']:last-of-type {
	padding-right: 0px;
}

.sheet-charsheet {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.sheet-charsheet:after {
	content: "";
	display: table;
	clear: both;
}

.sheet-charsheet-pad {
	padding: 20px 0 0px 20px;
}

.sheet-charsheet-pad  [class*='sheet-col-']:last-of-type {
	padding-right: 20px;
}

.sheet-push-right {
	float: right;
}

/* Content Columns */

.sheet-col-1-1 {
	width: 100%;
}
.sheet-col-2-3, .sheet-col-8-12 {
	width: 66.66%;
}

.sheet-col-1-2, .sheet-col-6-12 {
	width: 50%;
}

.sheet-col-1-3, .sheet-col-4-12 {
	width: 33.33%;
}

.sheet-col-1-4, .sheet-col-3-12 {
	width: 25%;
}

.sheet-col-1-5 {
	width: 20%;
}

.sheet-col-1-6, .sheet-cvol-2-12 {
	width: 16.667%;
}

.sheet-col-1-7 {
	width: 14.28%;
}

.sheet-col-1-8 {
	width: 12.5%;
}

.sheet-col-1-9 {
	width: 11.1%;
}

.sheet-col-1-10 {
	width: 10%;
}

.sheet-fdx col-1-11 {
	width: 9.09%;
}

.sheet-col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.sheet-col-11-12 {
	width: 91.66%
}

.sheet-col-10-12 {
	width: 83.333%;
}

.sheet-col-9-12 {
	width: 75%;
}

.sheet-col-5-12 {
	width: 41.66%;
}

.sheet-col-7-12 {
	width: 58.33%
}



.sheet-sideways {
    -webkit-transform:rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
}

h1.sheet-characteristics {
    display: table-row;
}

.sheet-characteristics .sheet-col-1-9 {
    display: table-cell;
    vertical-align: bottom;
}

.charsheet tr:nth-child(2n)
{
    background-color: lightgrey;
}
.charsheet tr:nth-child(2n+1)
{
    background-color: white;
}

.charsheet .sheet-character-data {
    box-shadow: 0 0 5px 2px black;
}

.charsheet {
    background-color: #333333;
    color: white;
}

.charsheet .sheet-header {
    height: 200px;
    color: white;
    background-image: url('https://s3.amazonaws.com/files.d20.io/images/3757288/DWviwEtUDK9uHPRN9hdBNg/max.png?13977411574');
    background-position: 50% 0%;
    background-attachment: scroll;
    background-repeat: no-repeat;
}