- 
    const stat_roll = [
        `&{template:ms-cm}`,
        `{{title=stats roll}}`,
        `{{strength=[[6d10]]}}`,
        `{{speed=[[6d10]]}}`, 
        `{{intellect=[[6d10]]}}`, 
        `{{dexterity=[[6d10]]}}`     
    ].join();

charmancer.sheet-charmancer-stats
    .ms-cm-wrapper
        .t__topbar
        .ms-cm-container
            .ms-cm-panel
                input(name=`comp_rolled_stats`, type="hidden", value="false")

                input(name=`comp_health`, type="hidden")
                input(name=`comp_stress`, type="hidden")
                input(name=`comp_resolve`, type="hidden")

                h2.ms-cm-guidetitle(data-i18n="stats")
                p.ms-cm-guidetext(data-i18n="charmancer-step2")
            
            .ms-cm-panel

                .ms-cm-stats--main.choice.showstats
                    each stat in stats
                        .ms-cm-mainstat
                            .ms-cm-mainstat__title(data-i18n=stat.attr)
                            .ms-cm-mainstat__value(class=`t__${stat.attr}`)
                            input(name=`comp_${stat.attr}`, type="hidden")
                .ms-cm-center
                    button.ms-cm-button--roll(data-i18n="Roll Stats", name="roll_stats", type="roll", value=stat_roll)

        +charmancer-pagecontrol({action: "intro", text:"previous"},{action: "cancel", text: "cancel"},{action: "class", text: "next"})