- 
    const credit_roll = [
        `&{template:ms-cm}`,
        `{{title=credit roll}}`,
        `{{credits=[[5d10*10]]}}`   
    ].join();

charmancer.sheet-charmancer-equipment
    .ms-cm-wrapper
        .t__topbar
        .ms-cm-container
            .ms-cm-panel

                h2.ms-cm-guidetitle(data-i18n="choose equipment")
                p.ms-cm-guidetext(data-i18n="charmancer-step5")
                
            .ms-cm-panel

                .ms-cm-package
                    .ms-cm-package__title(data-i18n="choose an equipment package")
                    input(name="comp_equipment", type="hidden")
                    select.ms-cm-skill__select(name="comp_package")
                        option(data-i18n="choose", value="choose")
                    .t__package
                    .choice.custompackage
                        span(data-i18n="You can add custom equipment to the character sheet after completing the charactermancer.")
                                        
                .ms-cm-credits
                    .ms-cm-credits__title(data-i18n="starting credits")
                    .ms-cm-credits__roll
                        button(name="roll_credits", type="roll", value=credit_roll)
                        input(name="comp_credits", type="hidden")
                    .ms-cm-credits__display.t__credits

                .ms-cm-trinket
                    .ms-cm-trinket__title(data-i18n="trinket")
                    .ms-cm-trinket__roll.t__trinketroll
                    .ms-cm-trinket__display.t__trinket
                    .choice.customtrinket
                        span(data-i18n="Add a custom trinket.")
                        input(name="comp_trinket", type="hidden")

                .ms-cm-patch
                    .ms-cm-patch__title(data-i18n="patch")
                    .ms-cm-patch__roll.t__patchroll
                    .ms-cm-patch__display.t__patch
                    .choice.custompatch
                        span(data-i18n="Add a custom patch.")
                        input(name="comp_patch", type="hidden")

        +charmancer-pagecontrol({action: "skills", text:"previous"},{action: "cancel", text: "cancel"},{action: "review", text: "next"})
