charmancer.sheet-charmancer-final
    .ms-cm-wrapper
        .ms-cm-panel--full
            h1(data-i18n="Building character...")
            .ms-cm-progressbar.t__progressbar
                div(style="width: 0%;")