.charsheet input.sheet-page1:checked ~ div.sheet-page1, .charsheet input.sheet-page2:checked ~ div.sheet-page2, .charsheet input.sheet-page3:checked ~ div.sheet-page3, .charsheet input.sheet-page4:checked ~ div.sheet-page4{
    display: block;
	border-top: 1px black solid;
	}
    .charsheet div.sheet-page1, .charsheet div.sheet-page2, .charsheet div.sheet-page3, .charsheet div.sheet-page4{
    display: none;
	}
	.charsheet input.sheet-tab{
	display: none;
	float: left;
	}
	.charsheet input[type=radio] + label{
        content: '';
       	border: solid 1px black;
        background: white;
        color: black;
        font-weight: bold;
        width: 10%;
        text-align: center;
        padding: 0%;
        float: left;
		border-radius: 10% 10% 0% 0%;
		margin-bottom: -1px;
    }
    .charsheet input[type=radio]:hover + label{
        background: gray;
    }
    .charsheet input[type=radio]:checked + label{
        border-bottom: 1px white solid;
	}
.charsheet div.sheet-page1,.charsheet div.sheet-page2{
        display: none;
    }
	.charsheet .sheet-col input[type=text]{
	width: 75%;
	float: right;
	border: none;
	border-radius: 0%;
	border-bottom: 1px black solid;
	height: 1em;
	}
	.charsheet h2{
	text-align: center;
	}
	.charsheet h4{
	float: left;
	}
	.charsheet .sheet-dots{
	float: right;
	}
	.charsheet h3{
	text-align: center;
	}
	.charsheet .sheet-skillnote{
	text-align: center;
	font-style: italic;
	}
.charsheet .sheet-merits input[type="text"]{
	float: left;
	width: 63%;
	height: 1.5em !important;
}
/* Hide actual dot/checkbox */
.charsheet input[type="radio"], .charsheet input[type="checkbox"]
{
    position: absolute;
    opacity: 0;
    width: 10px;
    cursor: pointer;
    z-index: 1;
}

/* Styles common to fake dot and checkbox */
.charsheet input[type="radio"] + span::before, .charsheet input[type="checkbox"] + span::before
{
    border: solid 1px black;
    line-height: 10px;
    display: inline-block;
    vertical-align: middle;
    background: white;
}

/* Styles unique to fake dot (checked or left of checked) */
.charsheet input[type="radio"] + span::before
{
    background: black;
	content: '';
    width: 10px;
    height: 10px;
    font-size: 36px;

    border-radius: 50%;
}

/* Styles unique to fake checkbox (unchecked) */
.charsheet input[type="checkbox"] + span::before
{
    position:relative;
    content: "";
    width: 10px;
    height: 10px;
}

/* Styles unique to fake checkbox (checked) */
.charsheet input[type="checkbox"]:checked + span::before
{
    background: 
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}

/* Remove dot from all radios _after_ selected one */
.charsheet input[type="radio"]:checked ~ input[type="radio"] + span::before
{    
    background: white;
}

.charsheet input.sheet-zero:checked + span::before
{
    opacity: 0;
}

.charsheet input.sheet-zero:hover + span::before
{
    opacity: 1;
}

.charsheet input.sheet-zero+ span::before
{
    font-size: 12px;
    content: "";
    opacity: 0.25;
	background: 
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
.charsheet .sheet-aspcon textarea{
	height: 50px;
	width: 100%;
	border: 1px solid black;
	border-radius: 0%;
	resize: none;
}
.charsheet .sheet-aspcon textarea:focus{
	outline: none;
}
.charsheet .sheet-healthboxcontainer .sheet-healthbox + span::before{
	border-radius: 0%;
	display: none;
	background: white;
}
.charsheet .sheet-healthboxcontainer .sheet-healthbox:checked + span::before{
	display: inline-block;
}
.charsheet .sheet-healthboxcontainer .sheet-bash + span::before{
	background: 
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
.charsheet .sheet-healthboxcontainer .sheet-leth + span::before{
	background: 
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
.charsheet .sheet-healthboxcontainer .sheet-agg + span::before{
	background: 
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
        linear-gradient(to right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
.charsheet .sheet-healthboxcontainer .sheet-blank + span::before{
	background: black;
}
.charsheet .sheet-healthboxcontainer .sheet-healthbox{
	z-index: 101;
}
.charsheet .sheet-healthboxcontainer .sheet-empty{
	z-index: 102;
}
input.sheet-empty:checked ~ input.sheet-bash,
input.sheet-bash:checked ~ input.sheet-leth,
input.sheet-leth:checked ~ input.sheet-agg,
input.sheet-agg:checked ~ input.sheet-blank,
input.sheet-blank:checked ~ input.sheet-empty
{
	z-index: 103;
	margin-top: -10px;
}
.charsheet .sheet-healthboxcontainer{
	float: left;
}
.charsheet .sheet-willpowercontainer{
	text-align: center;
}
.charsheet .sheet-zeroh + span::before{
	background: 
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
.charsheet .sheet-touchstone{
	float: none !important;
}
.charsheet .sheet-harmony{
	text-align: center;
}
.charsheet .sheet-triggers input[type=text]{
	width: 70%;
}
.charsheet input[type=number]{
	border: none;
	border-radius: 0px;
	border-bottom: 1px black solid;
	height: 1em;
	width: 3em !important;
	-moz-appearance: textfield;
	padding: 0px;
}
.charsheet .sheet-hbspace{
	display: block;
    float: left;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.charsheet .sheet-woundpen h4{
	display: block;
	float: right;
	margin-right: 5.5%;
}
.charsheet .sheet-wwform{
	width: 20%;
	float: left;
}
.charsheet .sheet-wwformnotes{
	text-align: right;
	border-top: 1px solid grey;
	height: 340px;
}
.charsheet input.sheet-armorfield{
	width: 3em !important;
	height: 1em;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0%;
}
.charsheet .sheet-page2att{
	height: 80px;
}
.charsheet .sheet-totemstats .sheet-col{
	text-align: right;
}
.charsheet .sheet-totemstats input[type=text], .charsheet .sheet-giftsrites input[type=text]{
	float: left;
	width: 63%;
}
.charsheet .sheet-giftsrites input[type=text]{
	margin-bottom: 5px;
}
.charsheet .sheet-gift{
	border: black 1px solid;
}
.charsheet input.sheet-expander + span::before{
	border: none;
	background:
		linear-gradient(to right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
		linear-gradient(to top,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
.charsheet input.sheet-expander:checked + span::before{
	background:
		linear-gradient(to top,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}
.charsheet div.sheet-facets{
	display: none;
}
.charsheet input.sheet-facets:checked ~ div.sheet-facets{
	display: block;
	height: 110px;
}
.charsheet .sheet-facetinfo{
	float: right;
}
.charsheet .sheet-facets textarea{
	height: 80px;
	width: 94%;
	border: 1px black solid;
	border-radius: 0%;
	resize: none;
	margin-left: 1%;
}
.charsheet select{
	border: 1px solid black;
	width: 4em;
	height: 2em;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 1%;
	border-radius: 0%;
}
.charsheet table{
	border-top: 1px solid black;
	border-left: 1px solid black;
	display: inline-block;
}
.charsheet tr{
	border-bottom: 1px solid black;
}
.charsheet td{
	border-right: 1px solid black;
}
.charsheet td input[type=number]{
	border:none;
	border-radius: 0%;
}
.charsheet td input[type=text]{
	border:none;
	border-radius: 0%;
}
.charsheet td select{
	border: none;
	width: 3em;
}
.charsheet .sheet-armorinfo{
	display: inline-block;
}
.charsheet .sheet-armorinfo input[type=text]{
	border-radius: 0%;
	border: none;
	border-bottom: 1px solid black;
	height: 1em;
}
.charsheet .sheet-page4 textarea{
	border-radius: 0%;
	border: 1px solid black;
	resize: none;
	width: 100%;
}
.charsheet .sheet-description input[type=text]{
	width: 60%;
} 
