.flex-box.center.well-padded.boxed
  +input-label({
    label:'dust',
    inputObj:{name:'dust', class:'info-label center dust', type:'number', value:'0'}, 
    spanObj:{role:'heading', class:'dust', 'aria-level':3}
  })