.flex-box.col.center
  +div({class:'flex-box row boxed center half-gap', style:'height:50px !important; width:50%; left:0%;'})
    div
      p(class='h3-style-input center dust', data-i18n='dust')
    div
      +input({name:'dust', class:'h3-style-input center dust', type:'number', value:'0', min:'0'})