section#ideals.ideals
  h1(data-i18n='ideals')
  +fieldset({name:'ideal'})
    .flex-box
      +checkbox({name:'check', class:'checkbox magenta tick', value:'1'})
      +textarea({name:'notes', class:'textarea-3', 'data-i18n-placeholder':'write your ideal here'})
      +button({name:'quote', type:'roll', class:'roll-quote', value:"&{template:icon} {{name=ideal}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{text=@{notes}}}"})
  .hide-note
    p(class='bold', 'data-i18n'='xp reminder title')
    +checkbox({class:'collapse', value:'0', name:'collapse-ideals'})
    .notes.expanded
      p(class='indent bullet', 'data-i18n'="xp reminder line 0")
      p(class='indent bullet', 'data-i18n'="xp reminder line 1")
      p(class='indent bullet', 'data-i18n'="xp reminder line 2")
      p(class='indent bullet', 'data-i18n'="xp reminder line 3")