section#reminders.reminders
  .hide-note
    h1(data-i18n='reminders')
    +collapse
    .notes.expanded
      h3(data-i18n='interludes')
      p(class='indent bullet', 'data-i18n'="interlude reminder line 1")
      p(class='indent bullet', 'data-i18n'="interlude reminder line 2")
      p(class='indent bullet', 'data-i18n'="interlude reminder line 3")
      p(class='indent bullet', 'data-i18n'="interlude reminder line 4")
  p(class='center smaller', 'data-i18n'="rules reminders info line 0")