section#reminders.reminders
  .hide-note
    h1(data-i18n='reminders')
    +collapse
    .notes.expanded
      h3(data-i18n='interludes')
      p(class='indent bullet', 'data-i18n'="clear all strain")
      p(class='indent bullet', 'data-i18n'="regain all effort")
      p(class='indent bullet', 'data-i18n'="regain all hp")
      p(class='indent bullet', 'data-i18n'="spend any xp")
  p(class='center smaller', 'data-i18n'="rules reminders info line 0")