.flex-box.center.well-padded.boxed
  +input-label({
    label:'xp',
    inputObj:{name:'xp', class:'info-label center xp', type:'number', value:'0'}, 
    spanObj:{role:'heading', class:'xp', 'aria-level':3}
  })
  +number({name:'xp_max', class:'xp', value:'15'})
  +number({name:'xp interval', class:'xp', value:'5'})