%repeatingCheckboxRollRow {
  grid-template-columns: 15px 1fr 3.5em 2.5em;
}

div.grid {
  display: inline-grid;
  grid-column-gap: 1%;
  grid-row-gap: 5px;
}

div.background {
  background-color: $transparentGray;
}

.border {
  border: 0.15em solid $gray;
}

.bottom-border {
  border-bottom: 2px solid $dark;
}

.pictos {
  font-family: "pictos";
}

.d20 {
  font-family: "dicefontd20";
}

.font-medium {
  font-size: medium;
}

.font-small {
  font-size: small;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-primary {
  color: $primary;
}

.text-accent {
  color: $accent;
}

.small-caps {
  font-variant: small-caps;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

div.2column {
  grid-template-columns: repeat(2, 1fr);
}

div.3column {
  grid-template-columns: repeat(3, 1fr);
}

div.4column {
  grid-template-columns: repeat(4, 1fr);
}

div.5column {
  grid-template-columns: repeat(5, 1fr);
}

div.6column {
  grid-template-columns: repeat(6, 1fr);
}

div.2autocolumn {
  grid-template-columns: auto 1fr;
}

div.3autocolumn {
  grid-template-columns: auto 1fr 10%;
}

div.4autocolumn {
  grid-template-columns: auto 1fr auto 1fr;
}

div.col-3 {
  grid-template-columns: 15px minmax(150px, 1fr) 3.5em;
}

div.gold-left-border {
  border-left: 0.2em solid $secondary;
  padding-left: 1%;
}

div.gold-bottom-border {
  border-bottom: 0.2em solid $secondary;
  padding-bottom: 2%;
}

div.header {
  display: flex;
  padding: 4px;
  justify-content: center;
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  text-align: center;
  background-color: $light;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.mt {
  margin-top: 2%;
}

.mb {
  margin-bottom: 2%;
}

.ml {
  margin-left: 2%;
}

.mr {
  margin-right: 2%;
}
