%repeatingCheckboxRollRow {
  grid-template-columns: 15px 1fr 3.5em 2.5em;
}

div.sheet-grid {
  display: inline-grid;
  grid-column-gap: 1%;
  grid-row-gap: 5px;
}

div.sheet-background {
  background-color: $transparentGray;
}

.sheet-border {
  border: 0.15em solid $gray;
}

.sheet-bottom-border {
  border-bottom: 0.2em solid $dark;
}

.sheet-pictos {
  font-family: "pictos";
}

.sheet-d20 {
  font-family: "dicefontd20";
}

.sheet-font-medium {
  font-size: medium;
}

.sheet-font-small {
  font-size: small;
}

.sheet-text-center {
  text-align: center;
}

.sheet-text-left {
  text-align: left;
}

.sheet-text-right {
  text-align: right;
}

.sheet-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sheet-bold {
  font-weight: bold;
}

.sheet-italic {
  font-style: italic;
}

.sheet-text-primary {
  color: $primary;
}

.sheet-text-accent {
  color: $accent;
}

.sheet-small-caps {
  font-variant: small-caps;
}

.sheet-uppercase {
  text-transform: uppercase;
}

.sheet-capitalize {
  text-transform: capitalize;
}

div.sheet-2column {
  grid-template-columns: repeat(2, 1fr);
}

div.sheet-3column {
  grid-template-columns: repeat(3, 1fr);
}

div.sheet-4column {
  grid-template-columns: repeat(4, 1fr);
}

div.sheet-5column {
  grid-template-columns: repeat(5, 1fr);
}

div.sheet-6column {
  grid-template-columns: repeat(6, 1fr);
}

div.sheet-2autocolumn {
  grid-template-columns: auto 1fr;
}

div.sheet-3autocolumn {
  grid-template-columns: auto 1fr 10%;
}

div.sheet-4autocolumn {
  grid-template-columns: auto 1fr auto 1fr;
}

div.sheet-col-3 {
  grid-template-columns: 15px minmax(150px, 1fr) 3.5em;
}

div.sheet-gold-left-border {
  border-left: 0.2em solid $secondary;
  padding-left: 1%;
}

div.sheet-gold-bottom-border {
  border-bottom: 0.2em solid $secondary;
  padding-bottom: 2%;
}

div.sheet-header {
  display: flex;
  padding: 4px;
  justify-content: center;
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  text-align: center;
  background-color: $light;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

span.sheet-display {
  border-bottom: 2px dotted $dark;
  padding-top: 3%;
}

.sheet-mt {
  margin-top: 2%;
}

.sheet-mb {
  margin-bottom: 2%;
}
