    div.sheet-background {
        background-color: $transparentGray;
    }

    .sheet-border {
        border: 0.15em solid $gray;
    }

    .sheet-bottom-border {
        border-bottom: 0.2em solid $dark;
    }

    .sheet-pictos {
       font-family: "pictos";
    }

    .sheet-d20 {
        font-family: "dicefontd20";
    }

    .sheet-text-center {
        text-align: center;
    }
    
    .sheet-text-right {
        text-align: right;
    }
    .sheet-font-weight-bold {
        font-weight: bold;
    }

    .sheet-text-primary {
        color: $primary;
    }

    .sheet-text-uppercase {
        text-transform: uppercase;
    }

    .sheet-text-lowercase {
        text-transform: lowercase;
    }

    .sheet-text-capitalize {
        text-transform: capitalize;
    }

    div.sheet-2column {
        grid-template-columns: repeat(2, 1fr); 
    }

    div.sheet-3column {
        grid-template-columns: repeat(3, 1fr); 
    }

    div.sheet-4column {
        grid-template-columns: repeat(4, 1fr);
    }

    div.sheet-6column {
        grid-template-columns: repeat(6, 1fr);
    }

    div.sheet-2autocolumn {
        grid-template-columns: auto 1fr;
    }

    div.sheet-3autocolumn {
        grid-template-columns: auto 1fr 10%;
    }
    
    div.sheet-col-3 {
        grid-template-columns: 1fr 3.5em 10%;
    }

    div.sheet-gold-left-border {
        border-left: 0.2em solid $secondary;
        padding-left: 1%;
    }

    div.sheet-gold-bottom-border {
        border-bottom: 0.2em solid $secondary;
        padding-bottom: 2%;
    }
  
    div.sheet-header {
        margin-top: 2%;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        text-align: center;
        background-color: $gold;
        background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    }

    span.sheet-display {
        border-bottom: 2px dotted $dark;
        padding-top: 3%;
    }

    div.sheet-repeating-container {
        button { 
            font-variant: none; 
        }
    }