
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    text-overflow: ellipsis;
    font-family: serif;
    font-variant: small-caps;

    &:before {
        display: none;
    }
    &:focus,
    &:hover,
    &:active {
        background: none;
        background-color: $primary !important;
        color: #fff;
    }
    &[type="roll"],
    &[type="action"] {
        background-color: $white;
        border: {
            bottom             : 0.01em solid #666;
            bottom-right-radius: 0.01em;
            color              : hsl(0, 0%, 70%);
            radius             : 0.25em;
            right              : 0.02em solid hsl(0, 0%, 20%);
            style              : outset;
        }
        margin: 0.2em !important;
        padding: 0.1em !important;
        box-shadow: $box-shadow;
    }
}

div {
    background-color: transparent;
    width: 100%;
}

fieldset {
    background-color: transparent;
}

h1 {
    color: $primary;
    text-transform: capitalize;
    font-family: 'El Messiri', sans-serif;
    padding: 1% 2%;
    font-size: 1.9em;
}

h2 {
    font-size: 1em;
    line-height: 1.4em;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    &.sheet-label {
        border-bottom: 0.15em solid $dark;
        text-align: center;
        margin-left: 3%;
    }
}

h3 {
    font-size: 1.25em;
    line-height: 36px;
    text-transform: capitalize;
}

input {
    &[type="text"],
    &[type="number"] {
        background-color: transparent;
        border-bottom: 0.15em solid $dark;

        border: {
            left  : 0em;
            radius: 0em;
            right : 0em;
            top   : 0em;
        };
        height       : 2.1em;
        width: 100%;

        &::placeholder {
            background-color: $light;
            border: 0.1em dotted $primary;
        }
    }
    &[type='number'] {
        text-align: center;
        width: 100% !important;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        margin: 0;
    }
}

label {
    margin-bottom: 0px;
    padding-right: 0px;
    vertical-align: middle;
}

select {
    margin-bottom: 0px;
    vertical-align: bottom;
    border: 2px solid $primary;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
}

span {
    word-break: break-word;
}

textarea {
    text-align: left;
    border-bottom : 0.2em dotted $light;
    font-size     : 12px;
    font-weight   : normal;
    min-height     : 50px;
    line-height   : 18px;
    overflow      : hidden;
    overflow-wrap : break-word;
    padding       : 2px;
    resize        : vertical;
    vertical-align: top;
    overflow: scroll;
}

.charsheet {
    width: 850px;

    div.sheet-row {
        margin-bottom: 0px;
    }
}