.charsheet {
    background-color: white;
    width: 840px;
    font-family: "Times New Roman";
}

.sheet-isPC {
    margin-right: 5px;
}

.sheet-isNPC {
    margin: 0 5px 0 20px;
}

.sheet-creature {
    margin: 0 5px 0 20px;
}

label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
    display: inline !important;
    line-height: 26px;
    padding: 0 !important;
    text-align: center !important;
}

/*-----------------------------------------------input ------------------------------------------------*/
.charsheet input[type=text], .charsheet input[type=number] {
    padding-left: 2px;
}
.charsheet input[type="text"], .charsheet input[type="number"] {
    background-color: white;
    border-width: 0px 0px 0px 0px;
}
.charsheetinput [type="text"]:disabled, .charsheet input[type="number"]:disabled {
    background-color: lightgray;
    border-width: 0px 0px 0px 0px;
}
.charsheet input[type="text"], select {
    width:100%;
    margin:0;
    background-color: white;
    border-width: 0px 0px 0px 0px;
}

.charsheet input[type=number]:disabled {
    background-color:#FFFFFF;
}
td {
    padding: 0px;
}
input{
    font-family: "Times New Roman";
}
input[type="text"]:disabled {
    background-color:#81BEF7;
}

/*-------------------------------------------------Tabs--------------------------------------*/


div[class^="sheet-section"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}
input.sheet-tab {
    width: 190px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    opacity: 0;
    z-index: 9999;
}
span.sheet-tab {
    text-align: center;
    display: inline-block;   
    font-size: 12px;    
    background: #0489B1; 
    color: white;
    font-weight: bold;
    
    border: solid 1px #a8a8a8;
    text-align: center;

    width: 190px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    margin-left: -197px;
}
input.sheet-tab::before {
    content: attr(title);
    text-align: center;
    display: inline-block;    
    width: 100%;
    height: 100%;

    background: black; 
    color: white;
    font-weight: bold;
}

.sheet-isPC:checked~.sheet-pc,
.sheet-isNPC:checked~.sheet-npc,
.sheet-isCreature:checked~.sheet-creature {
    display: inline-block;
}

.sheet-isPC:checked~.sheet-creature,
.sheet-isPC:checked~.sheet-npc,
.sheet-isNPC:checked~.sheet-creature,
.sheet-isNPC:checked~.sheet-pc, 
.sheet-isCreature:checked~.sheet-npc,
.sheet-isCreature:checked~.sheet-pc {
    display: none;
}

/*.sheet-isNPC:checked~.sheet-creature,
.sheet-isNPC:checked~.sheet-pc {
    display: none;
}

.sheet-isCreature:checked~.sheet-npc,
.sheet-isCreature:checked~.sheet-pc {
    display: none;
} */

input.sheet-tab1:checked ~ div.sheet-section-Grundwerte,
input.sheet-tab2:checked ~ div.sheet-section-Fertigkeiten,,
input.sheet-tab21:checked ~ div.sheet-section-Fertigkeiten,
input.sheet-tab3:checked ~ div.sheet-section-Kampf,
input.sheet-tab4:checked ~ div.sheet-section-Entwicklung,
input.sheet-tab5:checked ~ div.sheet-section-Einstellungen,
input.sheet-tab6:checked ~ div.sheet-section-Werkzeuge,
input.sheet-tab29:checked ~ div.sheet-section-npc {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: hidden;
    
    border: 1px solid #222;
    margin: 7px 0 0 5px;
    padding: 5px
}

input.sheet-tab42:checked ~ div.sheet-section-Updates {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: hidden;
    
    border: 1px solid #222;
    margin: 7px 0 0 5px;
    padding: 5px
}

input.sheet-tab42:checked {
    display: none;
}

input.sheet-tab42:checked ~ span.sheet-tab42 {
    display: none;
}

/*--------------------------------------------Roll Templates-------------------------------------*/

.sheet-rolltemplate-splittermond_generic .sheet-rolltemplate-table-generic,
.sheet-rolltemplate-splittermond_patzer .sheet-rolltemplate-table-patzer,
.sheet-rolltemplate-splittermond_initiative .sheet-rolltemplate-table-initiative,
.sheet-rolltemplate-splittermond_aktiveabwehr .sheet-rolltemplate-table-aktiveabwehr,
.sheet-rolltemplate-splittermond_damage .sheet-rolltemplate-table-damage{
    width:100%;
    background-color: white;
    border:2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-splittermond_generic .sheet-rolltemplate-table-generic th,
.sheet-rolltemplate-splittermond_patzer .sheet-rolltemplate-table-patzer th,
.sheet-rolltemplate-splittermond_initiative .sheet-rolltemplate-table-initiative th,
.sheet-rolltemplate-splittermond_aktiveabwehr .sheet-rolltemplate-table-aktiveabwehr th,
.sheet-rolltemplate-splittermond_damage .sheet-rolltemplate-table-damage th{
    width:100%;
    background-color: #0489B1;
    color: white;
    text-align: center;
}

div.sheet-body {
    display: none;
}

input.sheet-arrow {
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}

div .repitem:nth-child(odd),
div .repitem:nth-child(odd) input,
div .repitem:nth-child(odd) select {
    background-color: #81BEF7;
}

div[data-groupname="repeating_ressources"] .repitem:nth-child(odd) {
    background-color: white;
}