.charsheet {
    background-color: white;
    width: 840px;
    font-family: "Times New Roman";
}

.sheet-isPC {
    margin-right: 5px;
}

.sheet-isNPC {
    margin: 0 5px 0 20px;
}

.sheet-creature {
    margin: 0 5px 0 20px;
}

label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
    display: inline !important;
    line-height: 26px;
    padding: 0 !important;
    text-align: center !important;
}

/*-----------------------------------------------input ------------------------------------------------*/
.charsheet input[type=text], .charsheet input[type=number] {
    padding-left: 2px;
}
.charsheet input[type="text"], .charsheet input[type="number"] {
    background-color: white;
    border-width: 0px 0px 0px 0px;
}
.charsheetinput [type="text"]:disabled, .charsheet input[type="number"]:disabled {
    background-color: lightgray;
    border-width: 0px 0px 0px 0px;
}
.charsheet input[type="text"], select {
    width:100%;
    margin:0;
    background-color: white;
    border-width: 0px 0px 0px 0px;
}

.charsheet input[type=number]:disabled {
    background-color:#FFFFFF;
}
td {
    padding: 0px;
}
input{
    font-family: "Times New Roman";
}
input[type="text"]:disabled {
    background-color:#81BEF7;
}
/*-------------------------------------------------Tabs--------------------------------------*/


div[class^="sheet-section"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}
input.sheet-tab {
    width: 190px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    opacity: 0;
    z-index: 9999;
}
span.sheet-tab {
    text-align: center;
    display: inline-block;   
    font-size: 12px;    
    background: #0489B1; 
    color: white;
    font-weight: bold;
    
    border: solid 1px #a8a8a8;
    text-align: center;

    width: 190px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    margin-left: -197px;
}
input.sheet-tab::before {
    content: attr(title);
    text-align: center;
    display: inline-block;    
    width: 100%;
    height: 100%;

    background: black; 
    color: white;
    font-weight: bold;
}

.sheet-isPC:checked~.sheet-pc,
.sheet-isNPC:checked~.sheet-npc,
.sheet-isCreature:checked~.sheet-creature {
    display: inline-block;
}

.sheet-isPC:checked~.sheet-creature,
.sheet-isPC:checked~.sheet-npc,
.sheet-isNPC:checked~.sheet-creature,
.sheet-isNPC:checked~.sheet-pc, 
.sheet-isCreature:checked~.sheet-npc,
.sheet-isCreature:checked~.sheet-pc {
    display: none;
}

input.sheet-tab1:checked ~ div.sheet-section-Grundwerte,
input.sheet-tab2:checked ~ div.sheet-section-Fertigkeiten,,
input.sheet-tab21:checked ~ div.sheet-section-Fertigkeiten,
input.sheet-tab3:checked ~ div.sheet-section-Kampf,
input.sheet-tab4:checked ~ div.sheet-section-Entwicklung,
input.sheet-tab5:checked ~ div.sheet-section-Einstellungen,
input.sheet-tab6:checked ~ div.sheet-section-Ausruestung,
input.sheet-tab7:checked ~ div.sheet-section-Genesis,
input.sheet-tab29:checked ~ div.sheet-section-npc {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: hidden;
    
    border: 1px solid #222;
    margin: 7px 0 0 5px;
    padding: 5px
}

input.sheet-tab42:checked ~ div.sheet-section-Updates {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: hidden;
    
    border: 1px solid #222;
    margin: 7px 0 0 5px;
    padding: 5px
}

input.sheet-tab42:checked {
    display: none;
}

input.sheet-tab42:checked ~ span.sheet-tab42 {
    display: none;
}

/*--------------------------------------------Roll Templates-------------------------------------*/

.sheet-rolltemplate-splittermond_generic .sheet-rolltemplate-table-generic,
.sheet-rolltemplate-splittermond_patzer .sheet-rolltemplate-table-patzer,
.sheet-rolltemplate-splittermond_initiative .sheet-rolltemplate-table-initiative,
.sheet-rolltemplate-splittermond_aktiveabwehr .sheet-rolltemplate-table-aktiveabwehr,
.sheet-rolltemplate-splittermond_damage .sheet-rolltemplate-table-damage{
    width:100%;
    background-color: white;
    border:2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-splittermond_generic .sheet-rolltemplate-table-generic th,
.sheet-rolltemplate-splittermond_patzer .sheet-rolltemplate-table-patzer th,
.sheet-rolltemplate-splittermond_initiative .sheet-rolltemplate-table-initiative th,
.sheet-rolltemplate-splittermond_aktiveabwehr .sheet-rolltemplate-table-aktiveabwehr th,
.sheet-rolltemplate-splittermond_damage .sheet-rolltemplate-table-damage th{
    width:100%;
    background-color: #0489B1;
    color: white;
    text-align: center;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}

div .repitem:nth-child(odd),
div .repitem:nth-child(odd) input,
div .repitem:nth-child(odd) select,
div .repitem:nth-child(odd) textarea.sheet-textarea-description {
    background-color: #81BEF7;
}

div.sheet-creature .repitem:nth-child(odd),
div.sheet-creature .repitem:nth-child(odd) input,
div.sheet-creature .repitem:nth-child(odd) select {
    background-color: #C7EAFF;
}

.sheet-button-attack,
.sheet-button-ability,
.sheet-button-dm,
.sheet-button-defense {
    background: #66BDED;
}
button[type=roll].sheet-button-attack::before {
    font-family: "Times New Roman";
    content: "AT";
    font-size: 0.75em;
    color: white;
}
button[type=roll].sheet-button-defense::before {
    font-family: "Times New Roman";
    content: "AA";
    font-size: 0.75em;
    color: white;
}
button[type=roll].sheet-button-ability::before {
    font-family: "Times New Roman";
    content: "SP";
    font-size: 0.75em;
    color: white;
} 
button[type=roll].sheet-button-dm::before {
    font-family: "Times New Roman";
    content: "SL";
    font-size: 0.75em;
    color: white;
}

.sheet-tooltip,
.sheet-tooltip-small {
    outline: none;
    cursor: help; /* you might want to remove this line */
}

.sheet-tooltip strong,
.sheet-tooltip-small strong { line-height: 30px; }

input.sheet-toggletooltips-inside[value="1"] ~ .sheet-tooltip:hover textarea {
    display: block;
    position: absolute;
}

.sheet-tooltip:hover,
.sheet-tooltip-small:hover { text-decoration: none; }

.sheet-tooltip-small:hover textarea { 
    display: block;
    position: absolute;
}

.sheet-tooltip textarea {
    display: none;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 600px;
    line-height: 16px;
    border: 1px solid #66BDED;
    background: #C7EAFF;
}

.sheet-tooltip-small textarea {
    display: none;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 70px;
    line-height: 16px;
    border: 1px solid #66BDED;
    background: #C7EAFF;
}

.sheet-textarea-description {
    height: 50px;
    border: none;
    width: 99%;
    resize: none;
}

.sheet-textarea-description-small {
    height: 50px;
    border: none;
    width: 45%;
    resize: none;
}

.sheet-hidden {        
     display:none;
}

div.sheet-behaelter1,
div.sheet-behaelter2,
div.sheet-behaelter3,
div.sheet-behaelter4,
div.sheet-behaelter5 {
    display: none;
}

input.sheet-behaelter1:checked ~ div.sheet-behaelter1,
input.sheet-behaelter2:checked ~ div.sheet-behaelter2,
input.sheet-behaelter3:checked ~ div.sheet-behaelter3,
input.sheet-behaelter4:checked ~ div.sheet-behaelter4,
input.sheet-behaelter5:checked ~ div.sheet-behaelter5 {
    display: block;
}

div.sheet-behaelter1,
div.sheet-behaelter2,
div.sheet-behaelter3
div.sheet-behaelter4
div.sheet-behaelter5 {
    border: 1px solid gray;
}