.charsheet {
    background-color: white;
}
.charsheet { 
    font-family: "Times New Roman";
}

/*-----------------------------------------------input ------------------------------------------------*/
.charsheet input[type=text], .charsheet input[type=number] {
    padding-left: 2px;
}
.charsheet input[type="text"], .charsheet input[type="number"] {
    background-color: white;
    border-width: 0px 0px 0px 0px;
}
.charsheetinput [type="text"]:disabled, .charsheet input[type="number"]:disabled {
    background-color: lightgray;
    border-width: 0px 0px 0px 0px;
}
.charsheet input[type="text"], select {
    width:100%;
    margin:0;
    background-color: white;
    border-width: 0px 0px 0px 0px;
}

.charsheet input[type=number]:disabled {
    background-color:#FFFFFF;
}
td {
    padding: 0px;
}
input{
    font-family: "Times New Roman";
}
input[type="checkbox"]:checked + span::before{
    content: "[verstecken]";
}
input[type="text"]:disabled {
    background-color:#81BEF7;
}
input[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    content: "[anzeigen]";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
/* */  

/*-------------------------------------------------Tabs--------------------------------------*/


div[class^="sheet-section"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}
input.sheet-tab {
    width: 140px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    opacity: 0;
    z-index: 9999;
}
span.sheet-tab {
    text-align: center;
    display: inline-block;   
    font-size: 12px;    
    background: #0489B1; 
    color: white;
    font-weight: bold;
    
    border: solid 1px #a8a8a8;
    text-align: center;

    width: 140px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    margin-left: -145px;
}
input.sheet-tab::before {
    content: attr(title);
    text-align: center;
    display: inline-block;    
    width: 100%;
    height: 100%;

    background: black; 
    color: white;
    font-weight: bold;
}

input.sheet-tab1:checked ~ div.sheet-section-Grundwerte,
input.sheet-tab2:checked ~ div.sheet-section-Fertigkeiten,,
input.sheet-tab21:checked ~ div.sheet-section-Fertigkeiten,
input.sheet-tab3:checked ~ div.sheet-section-Kampf,
input.sheet-tab4:checked ~ div.sheet-section-Entwicklung,
input.sheet-tab5:checked ~ div.sheet-section-Tiergefaehrten,
input.sheet-tab6:checked ~ div.sheet-section-Genesis,
input.sheet-tab29:checked ~ div.sheet-section-npc {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: hidden;
    
    border: 1px solid #222;
    margin: 7px 0 0 5px;
    padding: 5px
}
/*--------------------------------------------Roll Templates-------------------------------------*/

.sheet-rolltemplate-splittermond_generic table {
    width:100%;
    background-color: white;
    border:2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-splittermond_generic th {
    width:100%;
    background-color: #0489B1;
    color: white;
}