include meta/data/data
include meta/translations
include components/index

include pages/common/config
include pages/common/notes

include meta/variables

.deathinspace
  main.character
    include layouts/character
  main.hub
    include layouts/hub

include templates/mixins
include templates/rolltemplate

script(type="text/worker")
  include ../js/globals.js
  include ../js/helpers.js
  include ../js/repeatingsections.js
  include ../js/sheetworkers.js
  include ../js/eventlisteners.js
  include ../js/diceworkers.js
  include ../js/dicelisteners.js
