mixin endureStressTable
  .oracle-table 
    .oracle-row 
      span.oracle-roll 1-10 (10%)
      span.oracle-result You are overwhelmed. <em>Face Desolation.</em>
    .oracle-row 
      span.oracle-roll 11-25 (15%)
      span.oracle-result You give up. <em>Forsake Your Vow</em> (if possible, one relevant to your current crisis). If this is a companion, <em>Test Their Loyalty</em>.
    .oracle-row 
      span.oracle-roll 26-50 (25%)
      span.oracle-result You give in to a fear or compulsion, and act against your better instincts. <em>Manifest Insanity</em>.
    .oracle-row 
      span.oracle-roll 51-80 (30%)
      span.oracle-result You persevere.
    .oracle-row 
      span.oracle-roll 81-85 (5%)
      span.oracle-result You get a moment of clarity in the eye of the storm. If you have the shaken condition card, discard it. Take +4 spirit and +8 momentum. Then, add +2 to your next move.
    .oracle-row 
      span.oracle-roll 86-90 (5%)
      span.oracle-result You get virtuous in the face of chaos. If you have the shaken condition card, discard it. Then, take +4 spirit and draw up to your maximum of resilience cards.
    .oracle-row 
      span.oracle-roll 91-95 (5%)
      span.oracle-result Your body harvest vigor. If you have the shaken condition card, discard it. Then, take +4 spirit and +1d6 health.
    .oracle-row 
      span.oracle-roll 96-100 (5%)
      span.oracle-result Your spirit shines brightest against a backdrop of desolation. If you have the shaken condition card, discard it. Then, take +8 spirit.

mixin endureHarmTable
  .oracle-table 
    .oracle-row 
      span.oracle-roll 1-10 (10%)
      span.oracle-result The harm is mortal. <em>Face Death.</em>
    .oracle-row 
      span.oracle-roll 11-20 (10%)
      span.oracle-result Take the dying condition.
    .oracle-row 
      span.oracle-roll 21-35 (15%)
      span.oracle-result Take the unconscious condition.
    .oracle-row 
      span.oracle-roll 36-50 (15%)
      span.oracle-result Take the reeled condition.
    .oracle-row 
      span.oracle-roll 51-100 (50%)
      span.oracle-result You are battered but still standing.