.sheet-rolltemplate-dis {
  max-width: 400px;

  .sheet-template {
    &-container {
      position: relative;
      display: grid;
      gap: $m-md;

      padding: $m-md $m-lg;

      border: 1px solid $rolltemplate-background;
      background: linear-gradient(
        90deg,
        $rolltemplate-background 95%,
        $rolltemplate-accent-color 0,
        $rolltemplate-accent-color 100%
      );

      font-family: $font-roll;

      .inlinerollresult {
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
        margin: 0;

        border: 0;
        background: none;

        color: $rolltemplate-color;

        &.fullcrit {
          color: $green;
        }
        &.fullfail {
          color: $blood;
        }
        &.importantroll {
          color: $rolltemplate-color;
        }
      }
    }

    &-character-name {
      color: $rolltemplate-color;
      border-bottom: 1px dotted $rolltemplate-accent-color;

      font-family: $font-body;
      font-size: $font-s;
      text-transform: uppercase;
      text-align: start;
      letter-spacing: 2px;
      &::before {
        content: '// ';
      }
    }

    &-header {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'header roll';
      padding: $p-sm;

      &__text {
        grid-area: header;
        display: inline-block;

        span {
          padding: $p-sm;

          background: $rolltemplate-accent-color;
          color: $white;

          font-family: $font-roll;
          font-size: $font-h4;
          font-weight: $font-bold;
          text-transform: uppercase;
        }
      }
      &__roll {
        grid-area: roll;
        position: absolute;
        top: 10px;
        right: 10px;

        font-size: 5rem;
        font-weight: $font-bold;
        text-align: center;
      }
    }

    &-result {
      &--fail,
      &--success {
        font-size: $font-m;
        font-family: $font-body;
        text-transform: uppercase;
      }

      &--fail {
        color: $blood;
        &::before {
          content: '* ';
          font-family: Pictos;
        }
      }
      &--success {
        color: $green;
        &::before {
          content: '3 ';
          font-family: Pictos;
        }
      }
    }

    &-damage {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: $m-lg;

      &__text {
        margin: 0 $m-md;
        font-family: $font-body;
        font-size: $font-m;
        text-transform: uppercase;
      }
    }
  }
}
