<input type="hidden" name="attr_attack_formula">

<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_roll_toggle_var" value="{{vs_ac=1}} @{roll_info} {{roll1=[[@{preroll}d20cs>@{crit_range}@{postroll}@{d20_mod} + @{attack_formula}]]}} @{roll_setting}cs>@{crit_range}@{d20_mod} + @{attack_formula}]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="checkbox" name="attr_roll_toggle" value="@{roll_toggle_var}" class="attack-toggle" checked>

  <div class="bold italic mar-r-sm">{{'ATTACK' | translate}}.</div>
  <div class="attack-toggle col-08 center pad-r-sm">
    <input type="checkbox" name="attr_proficiency" checked>

    <div class="small-label">{{'PROF' | translate}}</div>
  </div>
  <div class="attack-toggle col-16 center pad-r-sm">
    <span class="en">
      <select name="attr_attack_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}" selected>Str</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_attack_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}" selected>Str</option>
        <option value="@{dexterity_mod}">Ges</option>
        <option value="@{constitution_mod}">Kon</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wei</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_attack_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}" selected>For</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Sag</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_attack_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Фехтовальное</option>
        <option value="@{strength_mod}" selected>Сил</option>
        <option value="@{dexterity_mod}">Лов</option>
        <option value="@{constitution_mod}">Тел</option>
        <option value="@{intelligence_mod}">Инт</option>
        <option value="@{wisdom_mod}">Муд</option>
        <option value="@{charisma_mod}">Хар</option>
      </select>
    </span>
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-12 center pad-r-sm">
    <input type="number" name="attr_attack_bonus" class="center" value="0">
  </div>
  <div class="attack-toggle col-16 center pad-l-sm">
    <input type="number" name="attr_crit_range" class="center" value="20" step="1" min="1" max="20">

    <div class="small-label">{{'CRIT_RANGE' | translate}}</div>
  </div>
</div>
