<input type="hidden" name="attr_damage_formula">

<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_damage_toggle_var" value="{{damage=[[@{damage_formula}]]}} {{damage_type=@{damage_type}}} {{crit_damage=[[0d0 + @{damage}[damage] + @{damage_crit}[crit damage]]]}}">
  <input type="checkbox" name="attr_damage_toggle" value="@{damage_toggle_var}" class="attack-toggle" checked>

  <div class="bold italic mar-r-sm">{{'DAMAGE' | translate}}.</div>
  <div class="attack-toggle col-12 center">
    <input type="text" name="attr_damage" class="center" value="0" accept="Damage">
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-16 center">
    <span class="en">
      <select name="attr_damage_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}" selected>Str</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_damage_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}" selected>Str</option>
        <option value="@{dexterity_mod}">Ges</option>
        <option value="@{constitution_mod}">Kon</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wei</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_damage_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}" selected>For</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Sag</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_damage_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Фехтовальное</option>
        <option value="@{strength_mod}" selected>Сил</option>
        <option value="@{dexterity_mod}">Лов</option>
        <option value="@{constitution_mod}">Тел</option>
        <option value="@{intelligence_mod}">Инт</option>
        <option value="@{wisdom_mod}">Муд</option>
        <option value="@{charisma_mod}">Хар</option>
      </select>
    </span>
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-12 center pad-r-sm">
    <input type="number" name="attr_damage_bonus" value="0">
  </div>
  <div class="attack-toggle col-18 center pad-r-sm">
    <input type="text" name="attr_damage_type" class="center" placeholder="damage type" accept="Damage Type">
  </div>
  <div class="attack-toggle col-12 center pad-l-sm">
    <input type="text" name="attr_damage_crit" class="center">

    <div class="small-label">{{'CRIT' | translate}}</div>
  </div>
</div>
