<div class="shaped-row mar-t-sm">
  <input type="hidden" name="attr_extas_var" value="{{emote=@{emote}}} {{freetext=@{freetext}}} @{freeform}">
  <input type="checkbox" name="attr_extras_toggle" value="@{extas_var}" class="attack-toggle" checked>

  <div class="bold italic mar-r-sm">{{'EXTRAS' | translate}}.</div>
  <div class="attack-toggle col-80 center mar-b-sm">
    <textarea class="xs-textarea" name="attr_emote"></textarea>

    <div class="small-label">{{'EMOTE' | translate}}</div>
  </div>
  <div class="attack-toggle col-100"></div>
  <div class="attack-toggle col-50 center pad-r-sm">
    <textarea class="two-line-textarea" name="attr_freetext"></textarea>

    <div class="small-label">{{'FREETEXT' | translate}}</div>
  </div>
  <div class="attack-toggle col-50 center pad-r-sm">
    <textarea class="two-line-textarea" name="attr_freeform"></textarea>

    <div class="small-label">{{'FREEFORM' | translate}}</div>
  </div>
</div>