<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_extras_var" value="{{freetext=@{freetext}}} @{freeform}">
  <input type="checkbox" name="attr_extras_toggle" value="@{extras_var}" class="attack-toggle">

  <div class="bold italic mar-r-sm">{{'EXTRAS' | translate}}.</div>
  <div class="attack-toggle col-100">
    <textarea name="attr_freetext" class="two-line-textarea"></textarea>

    <div class="small-label">{{'FREETEXT' | translate}}</div>
  </div>
  <div class="attack-toggle col-100 mar-t-sm">
    <textarea name="attr_freeform" class="two-line-textarea"></textarea>

    <div class="small-label">{{'FREEFORM' | translate}}</div>
  </div>
</div>