<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_extras_var" value="{{emote=@{emote}}} {{freetext=@{freetext}}} @{freeform}">
  <input type="checkbox" name="attr_extras_toggle" value="@{extras_var}" class="attack-toggle">

  <div class="bold italic mar-r-sm">{{'EXTRAS' | translate}}.</div>
  <div class="attack-toggle col-75 center mar-b-sm">
    <textarea class="one-line-textarea" name="attr_emote"></textarea>

    <div class="small-label">{{'EMOTE' | translate}}</div>
  </div>
  <div class="attack-toggle col-100 center">
    <textarea name="attr_freetext" class="two-line-textarea"></textarea>

    <div class="small-label">{{'FREETEXT' | translate}}</div>
  </div>
  <div class="attack-toggle col-100 center mar-t-sm">
    <textarea name="attr_freeform" class="one-line-textarea"></textarea>

    <div class="small-label">{{'FREEFORM' | translate}}</div>
  </div>
</div>