<input type="hidden" name="attr_heal_formula">

<div class="shaped-row vert-center mar-t-sm">
  <input type="hidden" name="attr_heal_toggle_var" value=" {{heal=[[@{heal_formula}]]}}">
  <input type="checkbox" name="attr_heal_toggle" value="@{heal_toggle_var}" class="attack-toggle">

  <div class="bold italic mar-r-sm">{{'HEAL' | translate}}.</div>
  <div class="attack-toggle col-12">
    <input type="text" name="attr_heal" class="center" value="0" accept="Healing">
  </div>
  <div class="attack-toggle pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-16">
    <span class="en">
      <select name="attr_heal_ability">
        <option value="0" selected>&#8212;</option>
        <option value="@{strength_mod}">Str</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_heal_ability">
        <option value="0" selected>&#8212;</option>
        <option value="@{strength_mod}">Str</option>
        <option value="@{dexterity_mod}">Ges</option>
        <option value="@{constitution_mod}">Kon</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wei</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_heal_ability">
        <option value="0" selected>&#8212;</option>
        <option value="@{strength_mod}">For</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Sag</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_heal_ability">
        <option value="0" selected>&#8212;</option>
        <option value="@{strength_mod}">Сил</option>
        <option value="@{dexterity_mod}">Лов</option>
        <option value="@{constitution_mod}">Тел</option>
        <option value="@{intelligence_mod}">Инт</option>
        <option value="@{wisdom_mod}">Муд</option>
        <option value="@{charisma_mod}">Хар</option>
      </select>
    </span>
  </div>
  <div class="attack-toggle pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-12 center">
    <input type="number" name="attr_heal_bonus" value="0">
  </div>
  <div class="attack-toggle pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle center">
    <input type="hidden" name="attr_heal_query" value="?{Heal Bonus Amount|}">
    <input type="checkbox" name="attr_heal_query_toggle" value="@{heal_query}" class="toggle-query"><span class="toggle-query button">{{'QUERY' | translate}}</span>
  </div>
</div>