<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_saving_throw_toggle_var" value="{{saving_throw_condition=@{saving_throw_condition}}} {{saving_throw_dc=@{saving_throw_dc}}} {{saving_throw_vs_ability=@{saving_throw_vs_ability}}} {{saving_throw_failure=@{saving_throw_failure}}} {{saving_throw_success=@{saving_throw_success}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="checkbox" name="attr_saving_throw_toggle" value="@{saving_throw_toggle_var}" class="attack-toggle">

  <div class="bold italic mar-r-sm">{{'SAVING_THROW' | translate}}.</div>
  <div class="attack-toggle col-65">
    <textarea class="one-line-textarea" name="attr_saving_throw_condition" placeholder="if the target is.."></textarea>
  </div>
  <div class="attack-toggle col-100"></div>
  <div class="attack-toggle col-16 center">
    <span class="en">
      <select name="attr_saving_throw_ability">
        <option value="0">&#8212;</option>
        <option value="@{strength_mod}" selected>Str</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_saving_throw_ability">
        <option value="0">&#8212;</option>
        <option value="@{strength_mod}" selected>Str</option>
        <option value="@{dexterity_mod}">Ges</option>
        <option value="@{constitution_mod}">Kon</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wei</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_saving_throw_ability">
        <option value="0">&#8212;</option>
        <option value="@{strength_mod}" selected>For</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Sag</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_saving_throw_ability">
        <option value="0">&#8212;</option>
        <option value="@{strength_mod}" selected>Сил</option>
        <option value="@{dexterity_mod}">Лов</option>
        <option value="@{constitution_mod}">Тел</option>
        <option value="@{intelligence_mod}">Инт</option>
        <option value="@{wisdom_mod}">Муд</option>
        <option value="@{charisma_mod}">Хар</option>
      </select>
    </span>
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-12 center pad-r-sm">
    <input type="number" name="attr_saving_throw_bonus" value="0">
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">=</div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">
    {{'DC' | translate}}
  </div>
  <div class="attack-toggle col-09 center">
    <input type="number" name="attr_saving_throw_dc" readonly>
  </div>
  <div class="attack-toggle col-16 center">
    <span class="en">
      <select name="attr_saving_throw_vs_ability" accept="Save">
        <option value="Strength">Str</option>
        <option value="Dexterity">Dex</option>
        <option value="Constitution">Con</option>
        <option value="Intelligence">Int</option>
        <option value="Wisdom">Wis</option>
        <option value="Charisma">Cha</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_saving_throw_vs_ability">
        <option value="Strength">Str</option>
        <option value="Dexterity">Ges</option>
        <option value="Constitution">Kon</option>
        <option value="Intelligence">Int</option>
        <option value="Wisdom">Wei</option>
        <option value="Charisma">Cha</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_saving_throw_vs_ability">
        <option value="Strength">For</option>
        <option value="Dexterity">Dex</option>
        <option value="Constitution">Con</option>
        <option value="Intelligence">Int</option>
        <option value="Wisdom">Sag</option>
        <option value="Charisma">Cha</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_saving_throw_vs_ability">
        <option value="Strength">Сил</option>
        <option value="Dexterity">Лов</option>
        <option value="Constitution">Тел</option>
        <option value="Intelligence">Инт</option>
        <option value="Wisdom">Муд</option>
        <option value="Charisma">Хар</option>
      </select>
    </span>
  </div>
  <div class="attack-toggle col-100"></div>
  <div class="attack-toggle col-50 pad-r-sm">
    <textarea class="one-line-textarea" name="attr_saving_throw_failure" placeholder="or.."></textarea>
  </div>
  <div class="attack-toggle col-50 pad-l-sm">
    <textarea class="one-line-textarea" name="attr_saving_throw_success" placeholder="half damage" accept="Save Success"></textarea>
  </div>
</div>
