<div class="shaped-row vert-top mar-t-sm relative">
  <input type="hidden" name="attr_special_effects_var" value="">
  <input type="checkbox" name="attr_extras_toggle" value="@{special_effects_var}" class="attack-toggle">

  <div class="bold italic mar-r-sm">{{'SPECIAL_EFFECTS' | translate}}.</div>
  <div class="attack-toggle col-30 center mar-b-sm">
    <input type="text" name="attr_type" class="center" placeholder="explode-fire">

    <div class="small-label">{{'TYPE' | translate}}</div>
  </div>
  <div class="pad-l-sm pad-r-sm"></div>
  <input type="checkbox" name="attr_target_toggle" class="toggle-target attack-toggle"><span class="toggle-target button attack-toggle">{{'TARGET' | translate}}</span>
  <div class="pad-l-sm pad-r-sm"></div>
  <input type="checkbox" name="attr_source_toggle" class="toggle-source attack-toggle"><span class="toggle-source button attack-toggle">{{'SOURCE' | translate}}</span>
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">A</div>
      <div class="tooltip-content-left small-label">{{'REQUIRES_API' | translate}}</div>
    </div>
  </div>
</div>