<div class="col-17 center pad-l-sm pad-r-sm">
  <span class="en">
    <select name="attr_type">
      <option value="Melee Weapon">Melee</option>
      <option value="Ranged Weapon">Ranged</option>
      <option value="Other">Other</option>
    </select>
  </span>
  <span class="de">
    <select name="attr_type">
      <option value="Melee Weapon">Nahkampf</option>
      <option value="Ranged Weapon">Reichweite</option>
      <option value="Other">Andere</option>
    </select>
  </span>
  <span class="fr">
    <select name="attr_type">
      <option value="Melee Weapon">Mêlée</option>
      <option value="Ranged Weapon">Tir</option>
      <option value="Other">Autre</option>
    </select>
  </span>
  <span class="ru">
    <select name="attr_type">
      <option value="Melee Weapon">Melee</option>
      <option value="Ranged Weapon">Ranged</option>
      <option value="Other">Other</option>
    </select>
  </span>
  <div class="small-label">{{'TYPE' | translate}}</div>
</div>