include ./scaffold/_k.pug
include mixins/_sheetmixins.pug
- const templateName = 'backbone';
//- sheet_state will contain which display of the sheet is currently enabled
+hidden({name:'sheet version',value:0})
+hidden({name:'sheet state',value:'settings'})
//- collapsed will contain the sections that are currently collapsed as a space separated list
+hidden({name:'collapsed',value:''})
//- Now, for our actual sheet. We'll wrap this in a main element and give it an ID of main.
main#main
  +tabs({name:"backbone",defaultActiveTab:"settings",navFuncs:['refreshAnimations']})
    include articles/_pc.pug
    +bestWorstToggle
    include articles/_npc.pug
    include articles/_settings.pug

include rolltemplates/_backbone.pug
+hidden({
  name:'template start',
  value:`@{whisper}&{template:${templateName}} {{character_name=@{character_name}}} {{character_id=@{character_id}}}`
  })
+kscript
  //- All additional javascript files should start here
  include javascript/_index.pug
  