body{
  line-height: 14px !important;
  }
  .sheet-addon{
  width: 75%;
  margin: 0px 12.5%;
  background-color: #fee9e9;
  }
  .sheet-buttonlabel{
  width: 85px;
  margin-left: 12px;
  display: inline-block;
  }
  .sheet-header{
  margin-top: 24px;
  }
  input[type=text]{
  display: inline-block;
  border: 0px;
  border-bottom: 1px solid #000;
  background: transparent;
  }
  input[type=number]{
  display: inline-block;
  border: 0px;
  border-bottom: 1px solid #000;
  background: transparent;
  width: 3em !important;
  }
  .sheet-paper{
  background-color: #eaf2f5;
  box-shadow: 2px 2px 3px #eee;
  z-index: -2;
  }
  .sheet-bioq{
  display: inline-block;
  margin-left: 2%;
  }
  .sheet-biol{
  display: inline-block;
  width: 86%;
  }
  .sheet-biom{
  display: inline-block;
  width: 70%;
  }
  .sheet-bios{
  display: inline-block;
  width: 12%;
  }
  .sheet-biot{
  background: transparent;
  width: 94% !important;
  height: 60px !important;
  margin-left: 2%;
  border: 0px;
  border-bottom: 1px solid #000;
  resize: none;
  }
  .sheet-h1{
  font-size: 24px;
  font-family: Impact, Charcoal, sans-serif;
  }
  .sheet-h3{
  font-size: 14px;
  font-family: Impact, Charcoal, sans-serif;
  }
  .sheet-inputs{
  border-bottom: 2px solid black !important;
  }
  .sheet-sticky{
  width: 18%;
  margin-left: 1.6%;
  background-color: #f7f4a7;
  display: inline-block;
  }
  .sheet-blurb{
  background: transparent;
  width: 93% !important;
  height: 60px !important;
  margin-left: 1%;
  border: 0px;
  resize: none;
  }
  .sheet-relatlab{
  margin-left: 2%;
  display: inline-block;
  }
  .sheet-percentages{
  margin-left: 110px;
  }
  .sheet-percent{
  display: inline-block;
  margin: 0px 15px;
  }
  .sheet-stressname{
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 110px;
  }
  .sheet-stressopp{
  text-align: center;
  }
  .sheet-upbeat{
  position: relative;
  left: 15px;
  width: 1px;
  }
  .sheet-downbeat{
  text-align: right !important;
  position: relative;
  right: 45px;
  margin-right: -20px;
  }
  .sheet-half{
  width: calc(50% - 2px);
  display: inline-block;
  }
  .sheet-swf{
  margin: -8px;
  font-weight: bold;
  position: relative;
  top: 5px;
  }
  .sheet-fails{
  position: relative;
  right: 20px;
  border-right: 1px solid black;
  }
  .sheet-failbox{
  opacity: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 0px;
  left: 14px;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
  }
  .sheet-failbox + span::before{
  margin-right: -10px;
  border: solid 1px #121212;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
    
  background: #eaf2f5;
    
  color: black;
  content: "✕";
  width: 12px;
  height: 12px;
  font-size: 1.15em;
    
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  }
  .sheet-failbox:checked ~ .sheet-failbox + span::before{
  content: "";
  }
  .sheet-failbox0 + span::before{
  opacity: 0;
  }
  .sheet-failbox0:hover + span::before{
  opacity: .5;
  }
  button[type=roll]{
  height: 16px;
  width: 16px;
  border-radius: 50%;
  }
  button[type=roll]:before{
  content: "" !important;
  }
  .sheet-rage{
  border-bottom: 3px solid black;
  margin: 0px 25px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  width: 125px;
  height: 20px;
  position: relative;
  top: 15px;
  }
  .sheet-noble{
  border-bottom: 1px solid black;
  border-radius: 25%;
  margin: 0px 20px;
  text-align: center;
  font-size: 2.5em;
  font-weight: italic;
  width: 135px;
  height: 20px;
  position: relative;
  top: 15px;
  }
  .sheet-fear{
  border-bottom: 1px solid black;
  border-radius: -25%;
  margin: 0px 20px;
  text-align: center;
  font-size: 2.5em;
  font-family: "Courier New", Courier, monospace;
  width: 135px;
  height: 20px;
  position: relative;
  top: 15px;
  }  
  .sheet-obsession{
  border-bottom: 1px double black;
  border-radius: -25%;
  margin: 0px 32px;
  text-align: center;
  font-size: 1.5em;
  width: 110px;
  height: 20px;
  position: relative;
  top: 15px;
  }  
  .sheet-obsessions{
  margin-top: 20px;
  margin-bottom: -5px;
  height: 40px !important;
  }
  .sheet-identitywrapper{
  background-color: #ebecde;
  padding: 5px;
  }
  .sheet-identitylabel{
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  }
  .sheet-identity{
  border: 2px solid black;
  border-top: none;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  }
  .sheet-identityname{
  width: 33%;
  border-bottom: none !important;
  }
  .sheet-identitycap{
  width: 100%;
  border-bottom: none !important;
  }
  .sheet-identityspace{
  border-top: 1px solid black;
  padding: 0px 5px;
  }
  .sheet-identityhead{
  padding 0px 5px;
  }
  .sheet-identityinfo{
  width: 83%;
  border-bottom: none !important;
  }
  .sheet-idnumb{
  font-size: 1.5em;
  padding-top: 8px;
  padding-left: 5px;
  }
  .sheet-idbox{
  border: 1px solid #256eb7;
  border-right: none;
  height: 30px;
  width: 100px;
  margin: 2px;
  display: inline-block;
  position: relative;
  left: 3px;
  }
  .sheet-idbox + span::before{
  border-left: 2px solid #256eb7;
  border-top: 2px solid #256eb7;
  content: "";
  width: 20px;
  height: 20px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -11px;
  left: -106px;
  margin-right: -35px;
  }
  .sheet-percbox{
  border: 3px solid #256eb7;
  height: 30px;
  width: 150px;
  margin-left: 3px;
  padding-left: 5px;
  display: inline-block;
  position: relative;
  top: -6px;
  left: 3px;
  }
  .sheet-suplab{
  color: #256eb7;
  display: inline-block;
  position: relative;
  top: -4px;
  }
  .sheet-idofflabel{
  border: 1px solid #256eb7;
  border-left: none;
  height: 30px;
  width: 135px;
  margin: 2px;
  display: inline-block;
  position: relative;
  left: -3px;
  top: 3px;
  }
  .sheet-offlabtxt{
  color: #256eb7;
  font-weight: bold;
  }
  .sheet-idofflabel + span::before{
  border-right: 2px solid #256eb7;
  border-top: 2px solid #256eb7;
  content: "";
  width: 20px;
  height: 20px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -95px;
  left: 418px;
  margin: -35px;
  }
  .sheet-supidabbox{
  border: 1px solid #256eb7;
  border-top: none;
  padding-left: 4px;
  padding-top: 10px;
  width: 97px;
  display: inline-block;
  position: relative;
  left: 53px;
  top: -8px;
  }
  .sheet-supernaturalability{
  width: 90px;
  margin-bottom: 25px !important;
  }
  .sheet-superabil2a{
  display: inline-block;
  border-bottom: 1px solid #256eb7;
  border-right: 1px solid #256eb7;
  width: 284px;
  height: 20px;
  position: relative;
  top: -59px;
  left: 53px;
  padding: 5px;
  }
  .sheet-cblab{
  position: relative;
  top: 3px;
  width: 65px;
  }
  .sheet-superabil2b{
  display: inline-block;
  border-bottom: 1px solid #256eb7;
  border-right: 1px solid #256eb7;
  width: 284px;
  height: 20px;
  position: relative;
  top: -69px;
  left: 108px;
  padding: 5px;
  }
  .sheet-superabil2c{
  display: inline-block;
  border-bottom: 1px solid #256eb7;
  border-right: 1px solid #256eb7;
  width: 284px;
  height: 20px;
  position: relative;
  top: -70px;
  left: 108px;
  padding: 5px;
  }
  input[type="checkbox"]{
  width: 13px;
  height: 13px;
  opacity: 0;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  left: 8px;
  }
  input[type="checkbox"].sheet-superabilcb + span::before{
  margin-right: 2px;
  border: solid 2px #256eb7;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  
  background: transparent;
  
  color: black;
  content: "";
  width: 12px;
  height: 12px;
  font-size: 1.15em;
  }
  input[type="checkbox"].sheet-superabilcb:checked + span::before{
  color: black;
  content: "✕";
  width: 12px;
  height: 12px;
  font-size: 1.15em;
  }
  .sheet-superabilnotes{
  width: 396px;
  border: 1px solid #256eb7;
  border-top: none;
  height: 100px;
  position: relative;
  top: -70px;
  left: 5px;
  }
  .sheet-notes{
  background: transparent;
  width: 96% !important;
  height: 65px !important;
  margin-left: 1%;
  border: 0px;
  resize: none;
  position: relative;
  top: 5px;
  }
  .sheet-superabilnotes + span::before{
  border-left: 2px solid #256eb7;
  border-bottom: 2px solid #256eb7;
  content: "";
  width: 20px;
  height: 20px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -87px;
  left: 38px;
  margin: -35px;
  }
  .sheet-superidentity{
  background-color: #f3f5f6;
  height: 260px;
  }
  .sheet-superidfooter{
  position: relative;
  top: -75px;
  left: 12px;
  }
  .sheet-supformtype{
  display: inline-block;
  margin-left: 3px;
  color: #256eb7;
  font-size: 1.5em;
  font-weight: bold;
  }
  .sheet-supformfooter{
  display: inline-block;
  text-align: right;
  color: #256eb7;
  font-size: .75em;
  position: relative;
  left: 70px;
  bottom: 8px;
  }
  .sheet-supformfooter + span::before{
  border-right: 2px solid #256eb7;
  border-bottom: 2px solid #256eb7;
  content: "";
  width: 20px;
  height: 20px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -29px;
  left: 47px;
  }
  .sheet-idtypecb + span::before{
  margin-right: 2px;
  border: solid 2px black;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  
  background: transparent;
  
  color: black;
  content: "";
  width: 12px;
  height: 12px;
  font-size: 1.15em;
  
  position: relative;
  left: 4px;
  }
  .sheet-idtypecb:checked + span::before{
  color: black;
  content: "✕";
  width: 12px;
  height: 12px;
  font-size: 1.15em;
  }
  .sheet-typelab{
  display: inline-block;
  }
  .sheet-cb1 + span::before{
  border: solid 2px #256eb7;
  }
  .sheet-cb2 + span::before{
  border: solid 2px #67486a;
  }
  .sheet-cb3 + span::before{
  border: solid 2px #3fa09a;
  }
  input.sheet-notch{
  width: 13px;
  height: 13px;
  opacity: 0;
  margin: -10px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  left: 13px;
  }
  input.sheet-notch + span::before{
  margin-right: 2px;
  border: solid 1px black;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 7px;
  
  background: white;
  
  content: "";
  width: 12px;
  height: 12px;
  font-size: 1.15em;
  
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  }
  input.sheet-notch[value="60"] + span::before{
  background: #101010;
  }
  input.sheet-notch:checked + span::before{
  color: #101010;
  content: "✖";
  }
  .sheet-stresswave{
  margin-top: -30px;
  margin-right: -400px;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 425px solid black; 
  position: relative;
  left: 125px;
  top: 0px;
  z-index: 0;
  }
  .sheet-adeptidleaf{
  padding: 5px;
  background-color: #f6f3ef;
  }
  .sheet-adeptidbox{
  border: 1px solid #67486a;
  width: 100px;
  height: 30px;
  display: inline-block;
  border-right: none;
  }
  .sheet-adeptidbox + span::before{
  width: 15px;
  height: 15px;
  border-top: 3px solid #67486a;
  border-left: 3px solid #67486a;
  content: "";
  margin: -15px;
  position: relative;
  bottom: 13px;
  right: 87px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  }
  .sheet-adeptleaf1a{
  border: 3px solid #67486a;
  width: 200px;
  height: 28px; 
  display: inline-block;
  position: relative;
  top: 4px;
  left: 3px;
  }
  .sheet-adeptleaf1b{
  border: 1px solid #67486a;
  width: 94px;
  height: 28px; 
  display: inline-block;
  border-left: none;
  position: relative;
  top: 6px;
  right: 1px;
  }
  .sheet-adeptleaftext{
  color: #67486a;
  font-size: .8em;
  display: inline-block;
  }
  .sheet-adeptleafinputt{
  font-size: .8em;
  height: 14px !important;
  width: 98% !important;
  border-bottom: none !important;
  }
  .sheet-adeptleafinputn{
  font-size: .8em;
  height: 14px !important;
  border-bottom: none !important;
  display: inline-block;
  }
  .sheet-adeptleaf1b + span::before{
  width: 15px;
  height: 15px;
  border-top: 3px solid #67486a;
  border-right: 3px solid #67486a;
  content: "";
  margin: -15px;
  position: relative;
  bottom: 11px;
  right: 3px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  }
  .sheet-adeptleafoffbox{
  border: 1px solid #67486a;
  width: 96px;
  height: 28px;
  display: inline-block;
  border-top: none;
  }
  .sheet-adeptleafofftxt{
  color: #67486a;
  font-size: .8em;
  font-weight: bold;
  }
  .sheet-adeptleaf2{
  border: 1px solid #67486a;
  width: 96px;
  height: 86px;
  display: inline-block;
  border-top: none;
  position: relative;
  bottom: 70px;
  }
  .sheet-adeptspellset{
  display: inline-block;
  width: 299px;
  height: 63px;
  margin-left: -4px;
  }
  .sheet-adeptleafspella{
  border: 1px solid #67486a;
  border-top: none;
  border-left: none;
  display: inline-block;
  width: 200px;
  position: relative;
  top: 5px;
  margin-right: -4px;
  height: 24px;
  }
  .sheet-adeptspellname{
  width: 60%;
  border-bottom: none !important;
  }
  .sheet-adeptleafspellb{
  border: 1px solid #67486a;
  border-top: none;
  border-left: none;
  display: inline-block;
  position: relative;
  width: 97px;
  height: 24px;
  }
  .sheet-adeptleafspellc{
  border: 1px solid #67486a;
  border-top: none;
  border-left: none;
  display: inline-block;
  width: 298px;
  position: relative;
  height: 42px;
  }
  .sheet-adeptspelleffect{
  height: 28px !important;
  font-size: 1em !important;
  }
  .sheet-adeptleafta{
  background: transparent;
  border: none;
  width: 93% !important;
  resize: none;
  height: 75% !important;
  }
  .sheet-adeptleaf7{
  width: 395px;
  height: 28px;
  border: 1px solid #67486a;
  border-top: none;
  }
  .sheet-adeptleaf7 + span::before{
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #67486a;
  border-left: 3px solid #67486a;
  content: "";
  margin: -15px;
  position: relative;
  bottom: 16px;
  left: 14px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  }
  .sheet-adeptidfooter{
  margin-top: -10px;
  }
  .sheet-adeptformtype{
  font-size: 1.5em;
  font-weight: bold;
  color: #67486a;
  display: inline-block;
  }
  .sheet-adeptleafend + span::before{
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #67486a;
  border-right: 3px solid #67486a;
  content: "";
  margin: -15px;
  position: relative;
  bottom: 23px;
  left: 28px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  }
  .sheet-avataridleaf{
  background-color: #f3f5f6;
  padding: 5px;
  height: 350px;
  }
  .sheet-avatarleafidnumbox{
  border: 1px solid #3fa09a;
  width: 100px;
  height: 30px;
  display: inline-block;
  border-right: none;
  }
  .sheet-avatarleaf1a{
  border: 3px solid #3fa09a;
  display: inline-block;
  width: 197px;
  height: 30px;
  margin-left: -5px;
  position: relative;
  top: 2px;
  }
  .sheet-avatartext{
  font-size: .8em;
  color: #3fa09a;
  display: inline-block;
  }
  .sheet-avatarleaf1b{
  border: 1px solid #3fa09a;
  border-left: none;
  display: inline-block;
  width: 90px;
  height: 30px;
  position: relative;
  top: 2px;
  right: 4px;
  }
  .sheet-avatarleaf2{
  border: 1px solid #3fa09a;
  width: 100px;
  height: 86px;
  display: inline-block;
  border-top: none;
  margin-top: -1px;
  }
  .sheet-avatarleaf4{
  display: inline-block;
  width: 291px;
  height: 30px;
  border: 1px solid #3fa09a;
  border-left: none;
  border-top: none;
  margin-top: -1px;
  }
  .sheet-avatarleafchannels{
  display: inline-block;
  width: 291px;
  height: 28px;
  border: 1px solid #3fa09a;
  border-left: none;
  border-top: none;
  }
  .sheet-avatarpowers{
  width: 290px;
  display: inline-block;
  margin-left: -4px;
  margin-top: -2px;
  }
  .sheet-avatarnotes{
  border: 1px solid #3fa09a;
  border-top: none;
  width: 392px;
  margin-top: -147px;
  }
  .sheet-avatarformtype{
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: #3fa09a;
  }
  .sheet-avatarleafidnumbox + span::before{
  width: 15px;
  height: 15px;
  border-top: 3px solid #3fa09a;
  border-left: 3px solid #3fa09a;
  content: "";
  margin: -11px;
  position: relative;
  bottom: 13px;
  right: 95px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  }
  .sheet-avatarleaf1b + span::before{
  width: 15px;
  height: 15px;
  border-top: 3px solid #3fa09a;
  border-right: 3px solid #3fa09a;
  content: "";
  margin: -11px;
  position: relative;
  bottom: 195px;
  left: 388px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  }
  .sheet-avatarnotes + span::before{
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #3fa09a;
  border-left: 3px solid #3fa09a;
  content: "";
  margin: -20px;
  position: relative;
  bottom: 16px;
  left: 19px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  }
  .sheet-avatarfooter + span::before{
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #3fa09a;
  border-right: 3px solid #3fa09a;
  content: "";
  margin: -11px;
  position: relative;
  bottom: 48px;
  left: 388px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  }
  .sheet-avnotesend + span::before{
  color: #3fa09a;
  content: "For Official Use Only GRG-ST-LZ3";
  width: -200px;
  height: -30px;
  margin-left: 85px;
  font-weight: bold;
  }
  .sheet-idswitcher{
  margin-left: 60px;
  }