include pug/mixins.pug

//- Hidden translated attributes
div
	input(type="hidden", name="attr_attribute_query_str", value="+ @{strength_mod}[Strength]]]}} {{attribute= + STR}}")
	input(type="hidden", name="attr_attribute_query_dex", value="+ @{dexterity_mod}[Dexterity]]]}} {{attribute= + DEX}}")
	input(type="hidden", name="attr_attribute_query_con", value="+ @{constitution_mod}[Constitution]]]}} {{attribute= + CON}}")
	input(type="hidden", name="attr_attribute_query_int", value="+ @{intelligence_mod}[Intelligence]]]}} {{attribute= + INT}}")
	input(type="hidden", name="attr_attribute_query_wis", value="+ @{wisdom_mod}[Wisdom]]]}} {{attribute= + WIS}}")
	input(type="hidden", name="attr_attribute_query_cha", value="+ @{charisma_mod}[Charisma]]]}} {{attribute= + CHA}}")
	input(type="hidden", name="attr_attribute_query", value="?{Attribute|Strength,+ @{strength_mod}[Strength]]]&#125;&#125; {{attribute= + STR&#125;&#125;|Dexterity,+ @{dexterity_mod}[Dexterity]]]&#125;&#125; {{attribute= + DEX&#125;&#125;|Constitution,+ @{constitution_mod}[Constitution]]]&#125;&#125; {{attribute= + CON&#125;&#125;|Intelligence,+ @{intelligence_mod}[Intelligence]]]&#125;&#125; {{attribute= + INT&#125;&#125;|Wisdom,+ @{wisdom_mod}[Wisdom]]]&#125;&#125; {{attribute= + WIS&#125;&#125;|Charisma,+ @{charisma_mod}[Charisma]]]&#125;&#125; {{attribute= + CHA&#125;&#125;}")
	input(type="hidden", name="attr_burst_query", value="?{Burst|Yes,+ 2[Burst]|No,&#32;}")
	input(type="hidden", name="attr_extra_hp_query", value!="?{Extra hit points? Enter 2 for Warrior|0}[Bonus]")
	input(type="hidden", name="attr_modifier_query", value="+ ?{Modifier|0}[Mod]")
	input(type="hidden", name="attr_proficient_query", value="?{Proficient|Yes, @{npc_skills}|No, 0}[Skill]")
	input(type="hidden", name="attr_skill_name_query", value="?{Skill name|Skill}")
	input(type="hidden", name="attr_translation_numdice", value="Number of dice")

input(type="hidden", name="attr_edit_mode", value="1").editmode
input(type="hidden", name="attr_npc", value="0").npc-input
input(type="hidden", name="attr_tab", value="character").tab-input

include pug/header.pug

.character.content.halfgrid
	include pug/character.pug
.ship.content
	include pug/ship.pug
.npc.content
	include pug/npc.pug
.drones.content
	include pug/drones.pug

.footer.flex-between
	span(name="attr_character_sheet")
	button(type="roll", data-i18n="REPORT_AN_ISSUE", value=`/w "@{character_name}" [Issue tracker(Github)](https://github.com/Karlinator/roll20-character-sheets/issues)`).unstyled-button
|
|
include pug/rolltemplate.pug
|
|
script(type="text/worker")
	include:uglify-es workers.js
|
|
