
/*============= Fonts =============*/
@font-face {
    font-family: 'Dominican_Small_Caps';
    src: url('http://www.geeksville.us/fonts/Dominican_Small_Caps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*============= TABS =============*/
/*----------- Tabs Setup -------------*/

div.sheet-core-content { 
    display: none; 
    width:840px;
}

.charsheet div[class^="sheet-section"] {     
    /*visibility: hidden;
    opacity: 0;
    max-height:0;
	overflow: hidden;*/
	display: none;
}
.charsheet {
    background: white;
    background-size:100%;
    width:840px;
}

.charsheet input.sheet-tab1:checked ~ div.sheet-section-1,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-2,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-3,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-4,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-5,
.charsheet input.sheet-tab6:checked ~ div.sheet-section-6,
.charsheet input.sheet-tab7:checked ~ div.sheet-section-7,
.charsheet input.sheet-tab8:checked ~ div.sheet-section-8,
.charsheet input.sheet-tab9:checked ~ div.sheet-section-9 {
	display: block;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	display: block;
}

.charsheet input.sheet-tab {
    width: 150px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
    margin-bottom:10px;
}

.charsheet span.sheet-tab {
	text-align: center;
    display: inline-block; 
	font-size: 13px;	
	background: #C1B39A; 
	color: black; 
	font-weight: bold;
	border-radius: 4px;
	
	width: 150px; /*originally 87px*/
    height: 20px; /*originally 20px*/
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -151px;/*originally 91px*/
    text-shadow: none;
    border:2px solid black;
    font-family: 'Dominican_Small_Caps', Courier, monospace;
}

.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6,
.charsheet input.sheet-tab7:checked + span.sheet-tab7,
.charsheet input.sheet-tab8:checked + span.sheet-tab8,
.charsheet input.sheet-tab9:checked + span.sheet-tab9,
.charsheet input.sheet-tab10:checked + span.sheet-tab10,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 {
    
    background: #706658;  /*originally ab8b57*/  
    color: white; /*originally white*/
	border-radius: 4px;
    border:2px solid black;
}

/*============= End of TABS =============*/
/*============= top_bar & div =============*/
div.sheet-top_bar {
    background:#EDE9E0;
    }
div.sheet-background_light,
tr.sheet-background_light,
td.sheet-background_light {
    background:#EDE9E0;
    color:black;
    }
div.sheet-background_medium,
tr.sheet-background_medium,
td.sheet-background_medium {
    background:#C1B39A;
    color:black;
    font-family: 'Dominican_Small_Caps';
    }
div.sheet-background_dark {
    background:#706658;
    color:white;
    font-family: 'Dominican_Small_Caps', Courier, monospace;
    }
div.sheet-border_light {
    border: 2px solid #EDE9E0;
}
div.sheet-border_medium {
    border: 2px solid #C1B39A;
}
div.sheet-border_medium2 {
    box-shadow:inset 0px 0px 15px #C1B39A,inset 0px 0px 15px #C1B39A,inset 0px 0px 15px #C1B39A;
}
div.sheet-border_dark {
    border: 2px solid #706658;
}
/*============= End top_bar =============*/
/*============= Tables =============*/
.sheet-table1 {
    margin-left:10px;
    margin-left:10px;
    }
.sheet-table1 th {
    font-family: 'Dominican_Small_Caps', Courier, monospace;
}
.sheet-table1 tr.sheet-pale {
    background:white;
}

.sheet-table2 {
    margin-left:0px;
    margin-left:0px;
    background: #C1B39A; 
    }
.sheet-table3,
.sheet-table2 th,
.sheet-table4 {
    font-family: "Dominican_Small_Caps", Courier, monospace;
}
.sheet-table4 {
    border-collapse: collapse; 
}
.sheet-table4 th.sheet-border_right,
.sheet-table4 td.sheet-border_right {
    border-right:2px solid black;
}
.sheet-table4 th.sheet-border_bottom,
.sheet-table4 td.sheet-border_bottom, 
.sheet-table4 tr.sheet-border_bottom {
    border-bottom:2px solid black;
}
/*============= End of Tables =============*/
/*============= Text  =============*/
.sheet-header {
    font-size:1.4em;
    color:black;
    text-align:left;
    text-align:center;
}

h4 {
    font-family: "Dominican_Small_Caps", Courier, monospace;
}
.sheet-left_side {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    font-family: "Dominican_Small_Caps", Courier, monospace;
    font-size:18px;
    font-weight:bold;
    margin-left:-20%;
    font-variant:small-caps;
    width:20px;
    
    }
.sheet-right_side {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    font-family: "Dominican_Small_Caps", Courier, monospace;
    font-size:18px;
    font-weight:bold;
    margin-right:-10px;
    font-variant:small-caps;
    }
/*============= End of Text =============*/
/*============= Inputs: Text & Number  =============*/
input[type="number"].sheet-heading1,
input[type="text"].sheet-heading1 {
    border-top:none;
    border-left:none;
    border-right:none;
    box-shadow:none;
}

.sheet-heading1:focus {
    color:white;
    background: #C1B39A;
    border:none;
    box-shadow:none;
}

input[type="text"].sheet-text1 {
    border-top:none;
    border-left:none;
    border-right:none;
    box-shadow:none;
    border-radius:0px;
}
.sheet-text2:focus,
.sheet-text1:focus {
    color:white;
    background: #C1B39A;
    border:none;
    box-shadow:none;
    } 
input[type="text"].sheet-text2 {
    border-top:none;
    border-left:none;
    border-right:none;
    box-shadow:none;
    border-radius:0px;
    width:120px;
} 
input[type="text"].sheet-text3 {
    border-top:none;
    border-left:none;
    border-right:none;
    box-shadow:none;
    border-radius:0px;
    width:280px;
    line-height:12px;
    font-size:11px;
} 
input[type="text"].sheet-text4 {
    border-top:none;
    border-left:none;
    border-right:none;
    box-shadow:none;
    border-radius:0px;
    width:200px;
} 
input[type="number"].sheet-number2 {
    border-top:none;
    border-left:none;
    border-right:none;
    box-shadow:none;
    border-radius:0px;
}
.sheet-number2:focus {
    color:white;
    background: #C1B39A;
    border:none;
    box-shadow:none;
    }
input[type="number"].sheet-big_ring {
    font-size:30px;
    height:60px;
    width:60px;
    background:white;
    border: 3px solid black;
    border-radius:50%;
    text-align:center;
}
input.sheet-big_ring::-webkit-outer-spin-button,
input.sheet-big_ring::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"].sheet-little_ring {
    font-size:15px;
    height:30px;
    width:30px;
    background:white;
    border: 3px solid black;
    border-radius:50%;
    text-align:center;
}
input.sheet-little_box::-webkit-outer-spin-button,
input.sheet-little_box::-webkit-inner-spin-button,
input.sheet-little_ring::-webkit-outer-spin-button,
input.sheet-little_ring::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
.sheet-medium_box:focus,
.sheet-little_box:focus,
.sheet-big_ring:focus,
.sheet-little_ring:focus {
    box-shadow: 0px 0px 20px black;
    } 
.sheet-tier {
    margin-top:3px;
    margin-bottom:3px;
    margin-left:3px;
    line-height: 10px; 
    height: 12px;
    font-size:10px;
}
input[type="number"].sheet-little_box {
    height:24px;
    width:24px;
    font-size:12px;
    line-height:12px;
    border:none;
    border-radius:3px;
    border:1px solid black;
}
input[type="number"].sheet-medium_box {
    height:48px;
    width:48px;
    font-size:24px;
    line-height:24px;
    border:none;
    border-radius:3px;
    border:1px solid black;
}
/*============= End of Text & Number Inputs =============*/
/*============= Textarea  =============*/
textarea.sheet-textarea1 {
    height: 42px;
    width:500px;
    margin: 5px 0px 0px 0px;
    resize:vertical;
    overflow-y:hidden;
}
textarea.sheet-textarea2 {
    height: 42px;
    width:150px;
    margin: 5px 0px 0px 0px;
    resize:vertical;
    overflow-y:hidden;
}
textarea.sheet-textarea3 {
    height: 36px;
    width:200px;
    margin: 5px 0px 0px 0px;
    resize:vertical;
    overflow-y:hidden;
    border-radius:15px;
}
textarea.sheet-textarea4 {
    width:200px;
    margin: 5px 0px 0px 0px;
    resize:vertical;
    overflow-y:hidden;
    border-radius:15px;
}
/*============= End of Textarea =============*/
/*============= Select/Dropdown =============*/
select.sheet-select2 {
    width:110px;
    margin-bottom:2px;
    font-size:11px;
}
/*============= End of Select/Dropdown =============*/
/*============= Checkboxes =============*/
    /*========== circle ==========*/

    /* ----Hide actual circle---- */
input.sheet-circle[type="radio"],
input.sheet-circle[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

    /* ----Fake circle ---- */
input.sheet-circle[type="radio"] + span::before,
input.sheet-circle[type="checkbox"] + span::before {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    -moz-box-shadow: 0 0 15px black;
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 15px black;
    
    background: white;
    
}

input.sheet-circle[type="radio"] + span::before,
input.sheet-circle[type="checkbox"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius:50%;
}
input.sheet-circle[type="radio"]:checked + span::before,
input.sheet-circle[type="checkbox"]:checked + span::before {
    color: red;
    content: "֍";
    text-shadow:none;
    font-weight:bold;
    background: black;
}

    /*========== End of circle ==========*/
    /*========== Sheet arrow ==========*/

        /* ----Hide actual sheet-arrow checkbox---- */

input.sheet-arrow[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

        /* -----Fake sheet-arrow checkbox----- */

input.sheet-arrow[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0px;
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
}

input.sheet-arrow[type="checkbox"]:checked + span::before {
    content: "▼";
}

        /* -----Hiding areas with sheet-arrow ----- */
input.sheet-hider:checked ~ div.sheet-hide {
    display: block;
}
.sheet-hidden,
div.sheet-hide {
    display: none;
}

        /* -----Hiding areas with sheet-arrow ----- */
    /*========== End of Arrow ==========*/
    
    /*========== Tooltips ==========*/
.sheet-tooltips_small {
  position: relative;
  display: inline;
}

.sheet-tooltips_small span {
  position: absolute;
  width:200px;
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #000000;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  text-shadow: none;
}

.sheet-tooltips_small span:before {
  content: '';
  position: absolute;
  top: 15%;
  right: 100%;
  margin-top: -12px;
  width: 0; height: 0;
  border-right: 12px solid #000000;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.sheet-tooltips_small span:after {
  content: '';
  position: absolute;
  top: 15%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #FFFFFF;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

:hover.sheet-tooltips_small span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 0px;
  z-index: 999;
}
    /*========== End of Tooltip ==========*/