- var n = 1;
.u-flex
  .u-w50
    while n <= 6
      - var inventoryIndex = n++;
      .u-flex.u-flex-align-center
        span.inventory-index= inventoryIndex
        +attrInput("o-input-line","text","inventory"+inventoryIndex)
        +buttonsInvGrab(inventoryIndex)
        if n!==2
          +buttonsInvMoveUp(inventoryIndex)
        if n===2
          span.button.button--inv.button--inv-move.u-hidden
        +buttonsInvMoveDown(inventoryIndex)
  .u-w50
    while n <= 12
      - var inventoryIndex = n++;
      .u-flex.u-flex-align-center
        span.inventory-index.u-inline-block= inventoryIndex
        +attrInput("o-input-line","text","inventory"+inventoryIndex)
        +buttonsInvGrab(inventoryIndex)
        +buttonsInvMoveUp(inventoryIndex)
        if n!==13
          +buttonsInvMoveDown(inventoryIndex)
        if n===13
          span.button.button--inv.button--inv-move.u-hidden
