- var n = 1;
// provisions
.grid-provisions
  while n <= 20
    - var provisionIndex = n++;
    label.provision
      +attrInput("provision-input","checkbox","provision"+provisionIndex)
      span.checked.u-font-icon 3
