- var d6 = ["a", "b", "c", "d", "e", "f"];

rolltemplate.sheet-rolltemplate-troika
  .sheet-template-container
    | {{  #luckRoll  }}
    // Header - Luck
    .sheet-template-header.sheet-template-header--luck
      .sheet-title {{ title }}
      .sheet-subtitle {{ subTitle }}
    | {{  /luckRoll  }}
    | {{  #damageRoll  }}
    // Header - Damage
    .sheet-template-header.sheet-template-header--damage
      .sheet-title {{ title }}
      .sheet-subtitle {{ subTitle }}
    | {{  /damageRoll  }}
    | {{  #rollSkill  }}
    // Header - Skill
    .sheet-template-header.sheet-template-header--skill
      .sheet-title {{ title }}
      .sheet-subtitle {{ subTitle }}
    | {{  /rollSkill  }}
    | {{  #rollModifier  }}
    .sheet-title
      span(data-i18n="Roll Modifier:") Roll Modifier:
      | {{ rollModifier }}
    | {{  /rollModifier  }}
    | {{  #rollInventory  }}
    // Header - Inventory
    .sheet-template-header.sheet-template-header--inventory
      .sheet-title {{ title }}
      .sheet-subtitle {{ subTitle }}
    | {{  /rollInventory  }}
    // Row (Body)
    .sheet-template-row
      // Dice
      .sheet-template-dice
        each val, index in d6
          - var rollNumber = index + 1;
          != `\n{{#rollTotal() r1 ` + rollNumber + `}}` + val + `{{/rollTotal() r1 ` + rollNumber + `}}`
        each val, index in d6
          - var rollNumber = index + 1;
          != `\n{{#rollTotal() r2 ` + rollNumber + `}}` + val + `{{/rollTotal() r2 ` + rollNumber + `}}`
        | {{  #luckRoll  }}
        span.sheet-template-dice-total= ` = {{luckRoll}}`
        | {{  /luckRoll  }}
        | {{  #rollSkillUnder  }}
        span.sheet-template-dice-total= ` = {{rollSkill}}`
        | {{  /rollSkillUnder  }}
        | {{  #rollInventory  }}
        span.sheet-template-dice-total= ` = {{rollInventory}}`
        | {{  /rollInventory  }}
    | {{  #damageRoll  }}
    // Footer Damage
    .sheet-template-footer.sheet-template-footer--fail
      .sheet-template-total
        != `{{#rollLess() damageRoll 1}}Roll: 1 Damage: {{wD1}}{{/rollLess() damageRoll 1}}\n`
        each val, index in d6
          - var rollNumber = index + 1;
          != `{{#rollTotal() damageRoll ` + rollNumber + `}}Roll: ` + rollNumber + ` Damage: {{wD` + rollNumber + `}}{{/rollTotal() damageRoll ` + rollNumber + `}}\n`
        != `{{#rollGreater() damageRoll 6}}Roll: 7+ Damage: {{wD7}}{{/rollGreater() damageRoll 6}}\n`
    | {{  /damageRoll  }}
    | {{  #luckRoll  }}
    // Footer Luck
    | {{  #^rollGreater() luckRoll attribute  }}
    .sheet-template-footer.sheet-template-footer--success
      .sheet-template-total(data-i18n="Success") Success
    | {{  /^rollGreater() luckRoll attribute  }}
    | {{  #rollGreater() luckRoll attribute  }}
    .sheet-template-footer.sheet-template-footer--fail
      .sheet-template-total Fail
    | {{  /rollGreater() luckRoll attribute  }}
    // Note
    .sheet-template-note
      .sheet-title(data-i18n="Nt: Reduce Luck by 1") Nt: Reduce Luck by 1
    | {{  /luckRoll  }}
    | {{  #rollSkillUnder  }}
    // Footer Skill Under
    | {{  #^rollGreater() rollSkill attribute  }}
    .sheet-template-footer.sheet-template-footer--success
      .sheet-template-total(data-i18n="Success") Success
    | {{  /^rollGreater() rollSkill attribute  }}
    | {{  #rollGreater() rollSkill attribute  }}
    .sheet-template-footer.sheet-template-footer--fail
      .sheet-template-total(data-i18n="Fail") Fail
    | {{  /rollGreater() rollSkill attribute  }}
    | {{  /rollSkillUnder  }}
    | {{  #rollSkillVersus  }}
    .sheet-template-footer.sheet-template-footer--success
      .sheet-template-row-head(data-i18n="Total") Total
        .sheet-template-total
      .sheet-template-total= `{{rollSkill}}`
      // Skill Vs: Fumble
      | {{  #rollTotal() r1 1  }}{{  #rollTotal() r2 1  }}
      .sheet-template-row-head(data-i18n="Fumble!") Fumble!
      | {{  /rollTotal() r2 1  }}{{  /rollTotal() r1 1  }}
      // Skill Vs: Mighty blow
      | {{  #rollTotal() r1 6  }}{{  #rollTotal() r2 6  }}
      .sheet-template-row-head(data-i18n="Mighty Blow!") Mighty Blow!
      | {{  /rollTotal() r2 6  }}{{  /rollTotal() r1 6  }}
    | {{  /rollSkillVersus  }}
    | {{  #rollInventory  }}
    // Footer - Inventory (Fumble on 2 otherwise roll higher or equal than inv slot)
    | {{  #rollTotal() rollInventory 2  }}
    .sheet-template-footer.sheet-template-footer--fail
      .sheet-template-total(data-i18n="Oops: Critical Fumble") Oops: Critical Fumble
    | {{  /rollTotal() rollInventory 2  }}
    | {{  #rollGreater() rollInventory 2  }}
    | {{  #^rollLess() rollInventory inventoryIndex  }}
    .sheet-template-footer.sheet-template-footer--success
      .sheet-template-total(data-i18n="Grabbed") Grabbed
    | {{  /^rollLess() rollInventory inventoryIndex  }}
    | {{  #rollLess() rollInventory inventoryIndex  }}
    .sheet-template-footer.sheet-template-footer--fail
      .sheet-template-total(data-i18n="Fumble") Fumble
    | {{  /rollLess() rollInventory inventoryIndex  }}
    | {{  /rollGreater() rollInventory 2  }}
    | {{  /rollInventory  }}
