.grid-skills.sheet-u-font-heading.sheet-u-font-small
  span(data-i18n="Roll") Roll
  span(data-i18n="Skill/Spell") Skill/Spell
  span(data-i18n="Rank") Rank
  span(data-i18n="Skill + Mod.") Skill + Mod.
  span.u-text-center(data-i18n="Total") Total
  span(data-i18n="Success") Success
fieldset.repeating_skills
  .grid-skills
    .grid-skills-item-buttons.u-flex.u-flex-align-center
      +buttonSkillUnder("Skill Roll: Equal Or Under", "rollSkill", "Under")
      +buttonSkillOver("Skill Roll: Versus", "rollSkill", "Vs")
    .grid-skills-item-title
      +attrInput("skill-name o-input-line","text","skillName")
    .grid-skills-item-rank.u-flex.u-flex-align-center.u-flex-justify-between
      .skill-mod.u-text-center
        +attrInput("o-input-number","number","skillRank",false)
      span.u-block.u-font-heading.u-font-large +
    .grid-skills-item-skill.u-flex.u-flex-align-center.u-flex-justify-between
      .skill-mod.u-text-center
        +attrInput("o-input-number","number","skillValue", true)
      span.u-block.u-font-heading.u-font-large =
    .grid-skills-item-total
      .skill-mod.u-text-center
        +attrInput("o-input-number","number","skillTotal", true)
    .grid-skills-success.u-flex.u-flex-align-center.u-flex-justify-center
      +attrInput("skill-success o-input-checkbox","checkbox","skillSuccess")
