.grid-stat-item-input.u-flex
  .column
    +attrInput("o-input-number o-input-number--large","number","staminaCurrent",false,14)
  .u-flex.u-flex-column.u-flex-justify-end.u-mr-small
    +buttonsAddSub("Stamina")
  .column.u-text-center.u-mr-small
    +attrInput("o-input-number u-gray-dark","number","stamina",false,14)
    span.u-block.u-font-tiny.u-font-heading.u-gray-dark Max
