// skill
.grid-stat-item-input.u-flex
  .column
    +attrInput("o-input-number o-input-number--large","number","skill",false,4)
  .u-flex.u-flex-column.u-flex-justify-end.u-mr-small
    +buttonsAddSub("Skill")
