.grid-stat-item-input.u-flex
  .column
    +attrInput("o-input-number o-input-number--large","number","luckCurrent",false,7)
  .u-flex.u-flex-column.u-flex-justify-end.u-mr-small
    +buttonsAddSub("Luck")
  .column.u-text-center
    +attrInput("o-input-number u-gray-dark","number","luck",false,7)
    span.u-block.u-font-tiny.u-font-heading.u-gray-dark(data-i18n="Max") Max
.grid-stat-item-footer
  +buttonLuck("luckCurrent")
