- var arrDamage = ["1", "2", "3", "4", "5", "6", "7+"];

.grid-weapons.sheet-u-font-heading.sheet-u-font-small
  span.grid-weapons-item(data-i18n="Roll") Roll
  span.grid-weapons-item(data-i18n="Weapon") Weapon
  each damageTitle in arrDamage
    span.grid-weapons-item.u-text-center= damageTitle
fieldset.repeating_weapons
  .grid-weapons
    .grid-weapons-item.u-flex.u-flex-align-center
      +buttonDamage("damage")
    +attrInput("o-input-line","text","weapon")
    +attrInput("o-input-line","hidden","repDamageRollModifier",false,"@{damageRollModifier}")
    each damageTitle, index in arrDamage
      - var damageIndex = index + 1;
      +attrInput("o-input-number","number","weaponDamage"+damageIndex)
