<div class="shaped-row">
  <div class="col-1-6 center mar-t-md mar-b-md">
    <h4 class="uppercase">{{'ABILITIES.strength.SHORT_NAME' | translate}}</h4>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_strength" class="no-border no-spin">
      </div>
      <div class="col-45 parenthesis-wrapper">
        <input type="number" name="attr_strength_mod" class="no-border" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-1-6 center mar-t-md mar-b-md">
    <h4 class="uppercase">{{'ABILITIES.dexterity.SHORT_NAME' | translate}}</h4>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_dexterity" class="no-border no-spin">
      </div>
      <div class="col-45 parenthesis-wrapper">
        <input type="number" name="attr_dexterity_mod" class="no-border" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-1-6 center mar-t-md mar-b-md">
    <h4 class="uppercase">{{'ABILITIES.constitution.SHORT_NAME' | translate}}</h4>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_constitution" class="no-border no-spin">
      </div>
      <div class="col-45 parenthesis-wrapper">
        <input type="number" name="attr_constitution_mod" class="no-border" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-1-6 center mar-t-md mar-b-md">
    <h4 class="uppercase">{{'ABILITIES.intelligence.SHORT_NAME' | translate}}</h4>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_intelligence" class="no-border no-spin">
      </div>
      <div class="col-45 parenthesis-wrapper">
        <input type="number" name="attr_intelligence_mod" class="no-border" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-1-6 center mar-t-md mar-b-md">
    <h4 class="uppercase">{{'ABILITIES.wisdom.SHORT_NAME' | translate}}</h4>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_wisdom" class="no-border no-spin">
      </div>
      <div class="col-45 parenthesis-wrapper">
        <input type="number" name="attr_wisdom_mod" class="no-border" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-1-6 center mar-t-md mar-b-md">
    <h4 class="uppercase">{{'ABILITIES.charisma.SHORT_NAME' | translate}}</h4>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_charisma" class="no-border no-spin">
      </div>
      <div class="col-45 parenthesis-wrapper">
        <input type="number" name="attr_charisma_mod" class="no-border" readonly tabindex="-1">
      </div>
    </div>
  </div>
</div>