<div class="shaped-row">
  <div class="col-15 center">
    <div class="heading uppercase">{{'ABILITIES.strength.SHORT_NAME' | translate}}</div>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_strength" class="no-border no-spin">
      </div>
      <div class="col-50 parenthesis-wrapper">
        <input type="hidden" name="attr_strength_mod">
        <input type="text" name="attr_strength_mod_with_sign" class="no-border center" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-15 center">
    <div class="heading uppercase">{{'ABILITIES.dexterity.SHORT_NAME' | translate}}</div>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_dexterity" class="no-border no-spin">
      </div>
      <div class="col-50 parenthesis-wrapper">
        <input type="hidden" name="attr_dexterity_mod">
        <input type="text" name="attr_dexterity_mod_with_sign" class="no-border center" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-15 center">
    <div class="heading uppercase">{{'ABILITIES.constitution.SHORT_NAME' | translate}}</div>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_constitution" class="no-border no-spin">
      </div>
      <div class="col-50 parenthesis-wrapper">
        <input type="hidden" name="attr_constitution_mod">
        <input type="text" name="attr_constitution_mod_with_sign" class="no-border center" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-15 center">
    <div class="heading uppercase">{{'ABILITIES.intelligence.SHORT_NAME' | translate}}</div>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_intelligence" class="no-border no-spin">
      </div>
      <div class="col-50 parenthesis-wrapper">
        <input type="hidden" name="attr_intelligence_mod">
        <input type="text" name="attr_intelligence_mod_with_sign" class="no-border center" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-15 center">
    <div class="heading uppercase">{{'ABILITIES.wisdom.SHORT_NAME' | translate}}</div>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_wisdom" class="no-border no-spin">
      </div>
      <div class="col-50 parenthesis-wrapper">
        <input type="hidden" name="attr_wisdom_mod">
        <input type="text" name="attr_wisdom_mod_with_sign" class="no-border center" readonly tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-15 center">
    <div class="heading uppercase">{{'ABILITIES.charisma.SHORT_NAME' | translate}}</div>
    <div class="shaped-row center">
      <div class="col-40">
        <input type="number" name="attr_charisma" class="no-border no-spin">
      </div>
      <div class="col-50 parenthesis-wrapper">
        <input type="hidden" name="attr_charisma_mod">
        <input type="text" name="attr_charisma_mod_with_sign" class="no-border center" readonly tabindex="-1">
      </div>
    </div>
  </div>
</div>