<div>
  <div class="shaped-row vert-center">
    <div class="heading">{{'ARMOR_CLASS' | translate}}</div>
    <div class="col-06">
      <input type="hidden" name="attr_ac_srd" accept="AC">
      <input type="number" name="attr_ac" class="no-border no-spin">
    </div>
    <div class="col-25">
      <div class="parenthesis-wrapper wrapper-button small-label">
        <input type="text" name="attr_ac_note" class="no-border mar-l-md">
      </div>
    </div>
  </div>
</div>
<div>
  <div class="shaped-row vert-center">
    <div class="heading">{{'HIT_POINTS' | translate}}</div>
    <div class="col-06">
      <input type="hidden" name="attr_hp_srd" accept="HP">
      <input type="number" name="attr_hp" class="no-border no-spin" readonly title="edit the formula to adjust this number">
    </div>
    <div class="col-18 pad-l-sm presentation">
      <div class="parenthesis-wrapper wrapper-button small-label">
        <button type="roll" name="roll_hp" class="wrapper-button" value="/w GM &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Points Rolled}} {{text_top=[[@{hp_formula}]]}} {{text=Average [[@{hp}]]}}">
          <div>
            <input type="text" name="attr_hp_formula" class="no-border" readonly>
          </div>
        </button>
      </div>
    </div>
    <div class="col-76 pad-l-sm details">
      <div class="shaped-row">
        <div class="col-10 pad-r-sm">
          <input type="number" name="attr_hit_dice" class="no-border no-spin" class="no-spin" step="1">
        </div>
        <div class="col-12 pad-r-sm">
          <select name="attr_hit_die" class="no-border">
            <option>d2</option>
            <option>d4</option>
            <option>d6</option>
            <option>d8</option>
            <option>d10</option>
            <option>d12</option>
            <option>d20</option>
          </select>
        </div>
        <div class="col-40 pad-l-sm">
          <input type="text" name="attr_hp_extra" class="no-border">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="heading">{{'SPEED' | translate}}</div>
  <div class="col-80 pad-l-sm">
    <input type="text" name="attr_npc_speed" class="no-border" accept="Speed">
  </div>
</div>