<div>
  <div class="shaped-row vert-center">
    <div class="heading">{{'ARMOR_CLASS' | translate}}</div>
    <div class="col-06">
      <input type="hidden" name="attr_ac_srd" accept="AC">
      <input type="number" name="attr_ac" class="no-border no-spin">
    </div>
    <div class="col-25">
      <div class="parenthesis-wrapper wrapper-button small-label">
        <input type="text" name="attr_ac_note" class="no-border mar-l-md">
      </div>
    </div>
  </div>
</div>
<div>
  <div class="shaped-row vert-center">
    <div class="heading">{{'HIT_POINTS' | translate}}</div>
    <div class="col-06">
      <input type="hidden" name="attr_hp_srd" accept="HP">
      <input type="number" name="attr_hp" class="no-border no-spin" readonly>
    </div>
    <div class="col-18">
      <div class="parenthesis-wrapper wrapper-button small-label">
        <div class="details">
          <input type="text" name="attr_hp_formula">
        </div>
        <button type="roll" name="roll_hp" class="wrapper-button presentation" value="/w GM &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Points Rolled}} {{text_top=[[@{hp_formula}]]}} {{text=Average [[@{hp}]]}}">
          <div>
            <input type="text" name="attr_hp_formula" class="no-border" readonly>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="heading">{{'SPEED' | translate}}</div>
  <div class="col-80 pad-l-sm">
    <input type="text" name="attr_npc_speed" class="no-border" accept="Speed">
  </div>
</div>