<h3>Actions</h3>
<fieldset class="repeating_action">
  <div class="mar-b-md">
    <button type="roll" name="roll_action"
            value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=@{name}}}   {{action=1}}   {{reach=@{reach}}}   {{range=@{range}}}   {{recharge=@{recharge}}}   {{targetName=@{attacks_vs_target_name}}}   @{roll_toggle}   @{saving_throw_toggle}   @{damage_toggle}   @{second_damage_toggle}   @{extras_toggle}    @{attacher_attack}">
      <span class="presentation">
        <span class="bold italic">
          <span name="attr_name"></span><span name="attr_recharge_display" class="pad-l-sm"></span>.
        </span>
        <span name="attr_freetext"></span>
      </span>
    </button>
    <div class="details">
      <div class="shaped-row">
        <div class="col-40 center">
          <input type="text" name="attr_name" class="bold italic details" placeholder="Bite">

          <div class="small-label">{{'NAME' | translate}}</div>
        </div>
        <div class="col-17 center pad-l-sm pad-r-sm">
            <span class="en">
              <select name="attr_type">
                <option value="Melee Weapon">Melee</option>
                <option value="Ranged Weapon">Ranged</option>
                <option value="Other">Other</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_type">
                <option value="Melee Weapon">Melee</option>
                <option value="Ranged Weapon">Ranged</option>
                <option value="Other">Other</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_type">
                <option value="Melee Weapon">Mêlée</option>
                <option value="Ranged Weapon">Tir</option>
                <option value="Other">Autre</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_type">
                <option value="Melee Weapon">Melee</option>
                <option value="Ranged Weapon">Ranged</option>
                <option value="Other">Other</option>
              </select>
            </span>

          <div class="small-label">{{'TYPE' | translate}}</div>
        </div>
        <div class="col-10 center pad-l-sm pad-r-sm">
          <input type="text" name="attr_reach" class="center">

          <div class="small-label">{{'REACH' | translate}}</div>
        </div>

        <div class="col-18 center pad-l-sm pad-r-sm">
          <input type="text" name="attr_range" class="center">

          <div class="small-label">{{'RANGE' | translate}}</div>
        </div>

        <div class="col-15 center pad-l-sm">
          <input type="text" name="attr_recharge" class="center">

          <div class="small-label">{{'RECHARGE' | translate}}</div>
        </div>
      </div>

      //= include ../attacks/components/attack.html
      //= include ../attacks/components/savingThrow.html
      //= include ../attacks/components/damage.html
      //= include ../attacks/components/damageSecondary.html
      //= include ../attacks/components/extras.html
    </div>
  </div>
</fieldset>