<fieldset class="repeating_action">
  <div class="mar-b-md">
    <span class="presentation">
      <span class="bold italic">
        <span name="attr_name"></span>.
      </span>
      <span name="attr_freetext"></span>
    </span>
    <input type="text" name="attr_name" class="bold italic no-border details" placeholder="Bite">
    <textarea name="attr_freetext" class="three-line-textarea no-border details" placeholder="Melee Weapon Attack: +15 to hit, reach 15 ft., one target. Hit: 19 (2d10 +8) piercing damage plus 9 (2d8) acid damage."></textarea>
  </div>
</fieldset>