<div>
  <h4>{{'SAVING_THROWS' | translate}}</h4>
</div>
<div>
  <h4>{{'SKILLS' | translate}}</h4>
</div>
//= include ../core/resistancesVulnerabilities.html
<div>
  <h4>{{'SENSES' | translate}}</h4>
  <input type="text" name="attr_senses" class="no-border">
</div>
<div>
  //= include ../core/languages.html
</div>
<div>
  <h4>{{'CHALLENGE' | translate}}</h4>
  <div class="shaped-row">
    <div class="col-10">
      <input type="text" name="attr_challenge" class="no-border">
    </div>
    <div class="col-20">
      <div class="parenthesis-wrapper wrapper-button small-label">
        <input type="text" name="attr_xp" class="no-border">
        XP
      </div>
    </div>
  </div>
</div>