<div class="shaped-row vert-center">
  <h4>{{'SAVING_THROWS' | translate}}</h4>
  <div class="col-80 pad-l-sm">
    <input type="text" name="attr_saving_throws" class="no-border">
  </div>
</div>
<div class="shaped-row vert-center">
  <h4>{{'SKILLS_TITLE' | translate}}</h4>
  <div class="col-80 pad-l-sm">
    <input type="text" name="attr_skills" class="no-border">
  </div>
</div>
//= include ../core/resistancesVulnerabilities.html
<div class="shaped-row vert-center">
  <h4>{{'SENSES' | translate}}</h4>
  <div class="col-80 pad-l-sm">
    <input type="text" name="attr_senses" class="no-border">
  </div>
</div>
<div class="shaped-row vert-center">
  <h4>{{'LANGUAGES' | translate}}</h4>
  <div class="col-80 pad-l-sm">
    <input type="text" name="attr_languages" class="no-border">
  </div>
</div>
<div class="shaped-row vert-center">
  <h4>{{'CHALLENGE' | translate}}</h4>
  <div class="col-10">
    <input type="number" name="attr_challenge" class="no-border">
  </div>
  <div class="col-20 pad-l-sm">
    <div class="parenthesis-wrapper wrapper-button small-label">
      <div class="shaped-row center">
        <div class="col-75">
          <input type="number" name="attr_xp" class="no-border">
        </div>
        <div class="col-25">XP</div>
      </div>
    </div>
  </div>
</div>