<div class="shaped-row vert-center">
  <div class="heading">{{'SAVING_THROWS' | translate}}</div>
  <div class="col-70 pad-l-sm">
    <div class="shaped-row"></div>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="heading">{{'SKILLS_TITLE' | translate}}</div>
  <div class="col-80 pad-l-sm">
    <div class="shaped-row"></div>
  </div>
</div>
//= include resistancesVulnerabilities.html
<div class="shaped-row vert-center">
  <div class="heading">{{'SENSES' | translate}}</div>
  <div class="col-80 pad-l-sm">
    <input type="text" name="attr_senses" class="no-border" accept="Senses">
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="heading">{{'LANGUAGES' | translate}}</div>
  <div class="col-80 pad-l-sm">
    <input type="text" name="attr_languages" class="no-border">
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="heading">{{'CHALLENGE' | translate}}</div>
  <div class="col-05 pad-l-sm">
    <input type="number" name="attr_challenge" class="no-border no-spin" accept="Challenge Rating">
  </div>
  <div class="col-18 pad-l-sm">
    <div class="parenthesis-wrapper wrapper-button small-label">
      <div class="shaped-row center vert-center">
        <div class="col-72">
          <input type="number" name="attr_xp" class="no-border no-spin">
        </div>
        <div class="col-28">XP</div>
      </div>
    </div>
  </div>
</div>