<input type="hidden" name="attr_legendaryactions_exist" class="item-toggle">
<div class="item-to-toggle">
  <h3>Legendary Actions</h3>
  <div class="mar-b-md">
    The <span name="attr_character_name"></span> can take <span name="attr_legendary_action_amount"></span> legendary actions, choosing from the options below. Only one legendary option can be used at a time and only at the end of another creature's turn. The <span name="attr_character_name"></span> regains spent legendary actions at the start of its turn.
  </div>
  <fieldset class="repeating_legendaryaction">
    <div class="mar-b-sm">
      <span class="presentation">
        <span class="bold italic">
          <span name="attr_name"></span>.
        </span>
        <span name="attr_freetext"></span>
      </span>
      <input type="text" name="attr_name" class="bold italic no-border details" placeholder="Detect">
      <textarea name="attr_freetext" class="three-line-textarea no-border details" placeholder="The dragon makes a Wisdom (Perception) check."></textarea>
    </div>
  </fieldset>
</div>