<input type="hidden" name="attr_legendaryactions_exist" class="item-toggle">
<div class="item-to-toggle">
  <h3>{{'LEGENDARY_ACTIONS' | translate}}</h3>
  <div class="mar-b-md">
    {{'LEGENDARY_ACTIONS_TEXT_1' | translate}} <span name="attr_character_name"></span> {{'LEGENDARY_ACTIONS_TEXT_2' | translate}}
    <span name="attr_legendary_action_amount" class="presentation"></span>
    <div class="col-2-em inline-block edit"><input type="number" name="attr_legendary_action_amount" class="no-border no-spin"></div>
    &nbsp;{{'LEGENDARY_ACTIONS_TEXT_3' | translate}} <span name="attr_character_name"></span> {{'LEGENDARY_ACTIONS_TEXT_4' | translate}}
  </div>
  <fieldset class="repeating_legendaryaction">
    //= include actionContents.html
  </fieldset>
</div>