<fieldset class="repeating_legendary_action">
  <div class="mar-b-md">
    <span class="presentation">
      <span class="bold italic">
        <span name="attr_name"></span>.
      </span>
      <span name="attr_freetext"></span>
    </span>
    <input type="text" name="attr_name" class="bold italic no-border details" placeholder="Detect">
    <textarea name="attr_freetext" class="three-line-textarea no-border details" placeholder="The dragon makes a Wisdom (Perception) check."></textarea>
  </div>
</fieldset>