<div class="section-npc">
  <div class="bar"></div>
  <div class="npc-content-wrap">
    <div class="compendium-drop-target">
      <input type="hidden" name="attr_content_srd" accept="Content">
      <input type="hidden" name="attr_spells_srd" accept="Spell Book">
      <input type="checkbox" name="attr_npc_edit" class="toggle-npc-edit hidden">

      <div class="shaped-row">
        <div class="col-50 pad-r-md">
          <div class="shaped-row">
            <div class="col-94">
              <span name="attr_character_name" class="creature-name presentation"></span>
              <input type="text" name="attr_character_name" class="details creature-name no-border" accept="Name" placeholder="Dragon">
            </div>
            <div class="col-06">
              <input type="checkbox" name="attr_npc_edit" class="toggle-npc-edit"><span class="toggle-npc-edit pictos">p</span>
            </div>
          </div>
          //= include sizeTypeAlignment.html
          <div class="divider"></div>
          <div class="top-stats">
            //= include acHpSpeed.html
            <div class="divider"></div>
            //= include abilities.html
            <div class="divider"></div>
            //= include details.html
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-50 pad-l-md">
          //= include traits.html
          <h3>Actions</h3>
          //= include actions.html

          <h3>Legendary Actions</h3>
          <textarea name="attr_legendary_actions_blurb" class="four-line-textarea no-border"></textarea>
          //= include legendaryActions.html

          <h3>Lair Actions</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="bar"></div>
</div>
