<div class="section-npc">
  <div class="col-50 npc npc-area compendium-drop-target">
    <input type="checkbox" name="attr_npc_toggle_details" class="sheet-toggle-icon-settings" checked><span class="sheet-toggle-icon-settings pictos">y</span>
    <div class="details">
    </div>

    <div class="top-stats">
      <h1>
        <input type="text" name="attr_character_name" readonly>
      </h1>
      <h2>
        <input type="text" name="attr_npc_details" class="italic" readonly>
      </h2>
      <div class="divider"></div>
      <div>
        <h4>{{'ARMOR_CLASS' | translate}}</h4>
        <div class="shaped-row">
          <div class="col-10">
            <input type="number" name="attr_ac" readonly>
          </div>
          <div class="col-90">
            <input type="text" name="attr_npc_AC_note">
          </div>
        </div>
      </div>
      <div>
        <h4>{{'HIT_POINTS' | translate}}</h4>
        <div class="shaped-row">
          <div class="col-10">
            <input type="text" name="attr_HP_max">
          </div>
          <div class="col-90">
            <button type="roll" name="roll_hp" value="">
              <input type="text" name="attr_hp_formula">
            </button>
          </div>
        </div>
      </div>
      <div>
        <h4>{{'SPEED' | translate}}</h4>
        <input type="text" name="attr_npc_speed">
      </div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div>
        <h4>{{'SAVING_THROWS' | translate}}</h4>
      </div>
      <div>
        <h4>{{'SKILLS' | translate}}</h4>
      </div>
      //= include ../core/resistancesVulnerabilities.html
      <div>
        <h4>{{'SENSES' | translate}}</h4>
        <input type="text" name="attr_senses">
      </div>
      <div>
        //= include ../core/languages.html
      </div>
      <div>
        <h4>{{'CHALLENGE' | translate}}</h4>
        <input type="text" name="attr_challenge">
        <input type="text" name="attr_xp">
      </div>
      <div class="divider"></div>
      <div>
        <fieldset class="repeating_trait">
          <input type="text" name="attr_name" placeholder="Amphibious.">
          <textarea name="attr_desc" placeholder="The dragon can breathe air and water"></textarea>
        </fieldset>
      </div>
    </div>
  </div>
</div>