<div class="section-npc npc">
  <div class="col-50 npc-area compendium-drop-target">
    <input type="checkbox" name="attr_npc_toggle_details" class="sheet-toggle-icon-settings" checked><span class="sheet-toggle-icon-settings pictos">y</span>
    <div class="details"></div>
  
    <div class="stat-block relative">
      <div class="background-pattern"></div>
  
      <div class="bar"></div>
      <div class="npc-content-wrap">
        //= include name.html
        //= include sizeTypeAlignment.html
        <div class="divider"></div>
        <div class="top-stats">
          //= include acHpSpeed.html
          <div class="divider"></div>
          //= include abilities.html
          <div class="divider"></div>
          //= include details.html
          <div class="divider"></div>
          //= include traits.html
        </div>
      </div>
      <div class="bar"></div>
    </div>
  </div>
</div>
