<div class="damage-vulnerabilities relative">
  <button type="roll" name="roll_damage_vulnerabilities" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Damage vulnerabilities}} {{text=@{damage_vulnerabilities}}}">
    <span class="heading">{{'DAMAGE_VULNERABILITIES' | translate}}</span>
    <span name="attr_damage_vulnerabilities" class="presentation"></span>
  </button>
  <textarea name="attr_damage_vulnerabilities" class="details two-line-textarea no-border" accept="Vulnerabilities"></textarea>
</div>
<div class="damage-resistances relative">
  <button type="roll" name="roll_damage_resistances" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Damage resistances}} {{text=@{damage_resistances}}}">
    <span class="heading">{{'DAMAGE_RESISTANCES' | translate}}</span>
    <span name="attr_damage_resistances" class="presentation"></span>
  </button>
  <textarea name="attr_damage_resistances" class="details two-line-textarea no-border" accept="Resistances"></textarea>
</div>
<div class="damage-immunities relative">
  <button type="roll" name="roll_damage_immunities" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Damage immunities}} {{text=@{damage_immunities}}}">
    <span class="heading">{{'DAMAGE_IMMUNITIES' | translate}}</span>
    <span name="attr_damage_immunities" class="presentation"></span>
  </button>
  <textarea name="attr_damage_immunities" class="details two-line-textarea no-border" accept="Immunities"></textarea>
</div>
<div class="condition-immunities relative">
  <button type="roll" name="roll_condition_immunities" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Condition immunities}} {{text=@{condition_immunities}}}">
    <span class="heading">{{'CONDITION_IMMUNITIES' | translate}}</span>
    <span name="attr_condition_immunities" class="presentation"></span>
  </button>
  <textarea name="attr_condition_immunities" class="details two-line-textarea no-border" accept="Condition Immunities"></textarea>
</div>