<div class="saving-throws shaped-row vert-center">
  <div class="col-22 heading">{{'SAVING_THROWS' | translate}}</div>
  <div class="col-78 pad-l-sm">
    <div class="shaped-row vert-center">
      <div class="col-11">
        <button type="roll" name="roll_strength_save" value="@{output_option} &{template:5e-shaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Saving Throw}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{strength_save_mod}]]}} @{roll_setting}@{d20_mod} + @{strength_save_mod}]]}} @{attacher_strength_saving_throw}" tabindex="-1">
          <div class="shaped-row vert-center">
            <div class="col-55 capitalize">
              {{'ABILITIES.strength.SHORT_NAME' | translate}}
            </div>
            <div class="col-45">
              <input type="number" name="attr_strength_save_mod" class="no-spin no-border" value="@{strength_mod}[str] + @{strength_save_prof}[proficiency] + @{strength_save_bonus}[str saving throw bonus] + (@{global_saving_throw_bonus})[global saving throw bonus]" disabled tabindex="-1">
            </div>
          </div>
        </button>
      </div>
      <div class="col-02 pad-r-sm">,</div>
      <div class="col-13">
        <button type="roll" name="roll_dexterity_save" value="@{output_option} &{template:5e-shaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Saving Throw}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{dexterity_save_mod}]]}} @{roll_setting}@{d20_mod} + @{dexterity_save_mod}]]}} @{attacher_dexterity_saving_throw}" tabindex="-1">
          <div class="shaped-row vert-center">
            <div class="col-55 capitalize">
              {{'ABILITIES.dexterity.SHORT_NAME' | translate}}
            </div>
            <div class="col-45">
              <input type="number" name="attr_dexterity_save_mod" class="no-spin no-border" value="@{dexterity_mod}[dex] + @{dexterity_save_prof}[proficiency] + @{dexterity_save_bonus}[dex saving throw bonus] + (@{global_saving_throw_bonus})[global saving throw bonus]" disabled tabindex="-1">
            </div>
          </div>
        </button>
      </div>
      <div class="col-02 pad-r-sm">,</div>
      <div class="col-13">
        <button type="roll" name="roll_constitution_save" value="@{output_option} &{template:5e-shaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Saving Throw}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{constitution_save_mod}]]}} @{roll_setting}@{d20_mod} + @{constitution_save_mod}]]}} @{attacher_constitution_saving_throw}" tabindex="-1">
          <div class="shaped-row vert-center">
            <div class="col-55 capitalize">
              {{'ABILITIES.constitution.SHORT_NAME' | translate}}
            </div>
            <div class="col-45">
              <input type="number" name="attr_constitution_save_mod" class="no-spin no-border" value="@{constitution_mod}[con] + @{constitution_save_prof}[proficiency] + @{constitution_save_bonus}[con saving throw bonus] + (@{global_saving_throw_bonus})[global saving throw bonus]" disabled tabindex="-1">
            </div>
          </div>
        </button>
      </div>
      <div class="col-02 pad-r-sm">,</div>
      <div class="col-11">
        <button type="roll" name="roll_intelligence_save" value="@{output_option} &{template:5e-shaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Saving Throw}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{intelligence_save_mod}]]}} @{roll_setting}@{d20_mod} + @{intelligence_save_mod}]]}} @{attacher_intelligence_saving_throw}" tabindex="-1">
          <div class="shaped-row vert-center">
            <div class="col-50 capitalize">
              {{'ABILITIES.intelligence.SHORT_NAME' | translate}}
            </div>
            <div class="col-50">
              <input type="number" name="attr_intelligence_save_mod" class="no-spin no-border" value="@{intelligence_mod}[int] + @{intelligence_save_prof}[proficiency] + @{intelligence_save_bonus}[int saving throw bonus] + (@{global_saving_throw_bonus})[global saving throw bonus]" disabled tabindex="-1">
            </div>
          </div>
        </button>
      </div>
      <div class="col-02 pad-r-sm">,</div>
      <div class="col-13">
        <button type="roll" name="roll_wisdom_save" value="@{output_option} &{template:5e-shaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Saving Throw}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{wisdom_save_mod}]]}} @{roll_setting}@{d20_mod} + @{wisdom_save_mod}]]}} @{attacher_wisdom_saving_throw}" tabindex="-1">
          <div class="shaped-row vert-center">
            <div class="col-55 capitalize">
              {{'ABILITIES.wisdom.SHORT_NAME' | translate}}
            </div>
            <div class="col-45">
              <input type="number" name="attr_wisdom_save_mod" class="no-spin no-border" value="@{wisdom_mod}[wis] + @{wisdom_save_prof}[proficiency] + @{wisdom_save_bonus}[wis saving throw bonus] + (@{global_saving_throw_bonus})[global saving throw bonus]" disabled tabindex="-1">
            </div>
          </div>
        </button>
      </div>
      <div class="col-02 pad-r-sm">,</div>
      <div class="col-13">
        <button type="roll" name="roll_charisma_save" value="@{output_option} &{template:5e-shaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Saving Throw}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{charisma_save_mod}]]}} @{roll_setting}@{d20_mod} + @{charisma_save_mod}]]}} @{attacher_charisma_saving_throw}" tabindex="-1">
          <div class="shaped-row vert-center">
            <div class="col-55 capitalize">
              {{'ABILITIES.charisma.SHORT_NAME' | translate}}
            </div>
            <div class="col-45">
              <input type="number" name="attr_charisma_save_mod" class="no-spin no-border" value="@{charisma_mod}[cha] + @{charisma_save_prof}[proficiency] + @{charisma_save_bonus}[cha saving throw bonus] + (@{global_saving_throw_bonus})[global saving throw bonus]" disabled tabindex="-1">
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>