<div class="shaped-row details">
  <div class="col-20 pad-r-sm">
    <select name="attr_size" class="italic no-border" accept="Size">
      <option value="Tiny">Tiny</option>
      <option value="Small">Small</option>
      <option value="Medium">Medium</option>
      <option value="Large" selected>Large</option>
      <option value="Huge">Huge</option>
      <option value="Gargantuan">Gargantuan</option>
    </select>
  </div>
  <div class="col-30 pad-l-sm pad-r-sm">
    <input type="text" name="attr_type" class="italic no-border" placeholder="dragon" accept="Type">
  </div>
  <div class="col-23 pad-l-sm">
    <input type="text" name="attr_alignment" class="italic no-border" placeholder="lawful evil" accept="Alignment">
  </div>
</div>
<span name="attr_size_type_alignment" class="italic presentation"></span>
<input type="hidden" name="attr_size_type_alignment">