<fieldset class="repeating_trait">
  <div class="mar-b-md">
    <button type="roll" name="roll_trait" class="presentation" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{freetext=@{freetext}}}">
      <span class="bold italic">
        <span name="attr_name"></span>.
      </span>
      <span name="attr_freetext"></span>
    </button>
    <input type="text" name="attr_name" class="bold italic no-border details" placeholder="Amphibious">
    <textarea name="attr_freetext" class="two-line-textarea no-border details" placeholder="The dragon can breathe air and water"></textarea>
  </div>
</fieldset>