.sheet-grid-container {
  display: grid;
  grid-template-areas: "level level meta meta meta meta meta meta meta meta levelling levelling levelling levelling levelling levelling levelling levelling" "abilities abilities abilities abilities abilities resources resources resources resources resources resources resources resources skills skills skills skills skills" "c_actions c_actions c_actions c_actions c_actions c_actions c_actions c_actions c_actions c_stats c_stats c_stats c_stats c_stats c_stats c_stats c_stats c_stats";
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.sheet-grid-container .sheet-grid-level {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: level;
}
.sheet-grid-container .sheet-grid-meta {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 15;
  grid-area: meta;
}
.sheet-grid-container .sheet-grid-levelling {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
  -ms-grid-column-span: 15;
  grid-area: levelling;
}
.sheet-grid-container .sheet-grid-abilities {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: abilities;
}
.sheet-grid-container .sheet-grid-resources {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 15;
  grid-area: resources;
}
.sheet-grid-container .sheet-grid-skills {
  -ms-grid-row: 3;
  -ms-grid-column: 27;
  -ms-grid-column-span: 9;
  grid-area: skills;
}
.sheet-grid-container .sheet-grid-combat-actions {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 17;
  grid-area: c_actions;
}
.sheet-grid-container .sheet-grid-combat-stats {
  -ms-grid-row: 5;
  -ms-grid-column: 19;
  -ms-grid-column-span: 17;
  grid-area: c_stats;
}