.sheet-grid-container
    .sheet-grid-level
        | level
    .sheet-grid-meta
        | level
    .sheet-grid-levelling
        | level
    .sheet-grid-abilities
        | level
    .sheet-grid-resources
        | level
    .sheet-grid-skills
        | level
    .sheet-grid-combat-actions
        | level
    .sheet-grid-combat-stats
        | level