<rolltemplate class="sheet-rolltemplate-base">
	<h1 class="titre">{{Nom}}</h1>
	<h2 class="titre2">
		{{type}}
	</h2>
	<div class="ligne f14">
		<span data-i18n="resultat">Résultat</span>
		<span>{{jet}}</span>
	</div>
	{{#oldE}}
		{{#gainBonus}}
			<div class="ligne f12">
				<span data-i18n="bonus-gain-espoir">Bonus au gain d'espoir</span>
				<span>{{gainBonus}}</span>
			</div>
		{{/gainBonus}}
		<div class="ligne f12">
			<span data-i18n="espoir-precedent">Espoir précédent</span>
			<span>{{oldE}}</span>
		</div>
		<div class="ligne f12">
			<span data-i18n="espoir-actuel">Espoir actuel</span>
			<span>{{computed::oldE}}</span>
		</div>
	{{/oldE}}
</rolltemplate>