<rolltemplate class="sheet-rolltemplate-combat">
	<h1 class="titre">{{Nom}}</h1>
	{{#special1}}
		<h2 class="titre2">{{special1}}</h2>
	{{/special1}}
	{{#special1B}}
		<h2 class="titre2">{{special1B}}</h2>
	{{/special1B}}
	
	{{#special2}}
		<h3 class="titre3">{{special2}}</h3>
	{{/special2}}

	{{#MALspecial2}}
		<h3 class="titre3">{{MALspecial2}}</h3>
	{{/MALspecial2}}

	{{#herauts}}
		<div class="ligneFullHerauts">
			<span>{{herauts}}</span>
		</div>
	{{/herauts}}

	{{#portee}}
		<h3 class="titre3">{{portee}}</h3>
	{{/portee}}

	{{#style}}
		<h3 class="titre3">{{style}}</h3>
	{{/style}}

	{{#goliath}}
	<div class="ligne f12">
		<span data-i18n="taille-mode-goliath">Taille du mode goliath</span>
		<span>{{goliath}}</span>
	</div>
	{{/goliath}}

	{{#MALGoliath}}
	<div class="ligne f12">
		<span data-i18n="taille-mode-goliath">Taille du mode goliath</span>
		<span>{{MALGoliath}}</span>
	</div>
	{{/MALGoliath}}

	{{#mod}}
		<div class="ligne f12">
			<span data-i18n="malus/bonus">Malus / Bonus</span>
			<span>{{mod}}</span>
		</div>
	{{/mod}}

	{{#cBase}}
		<h2 class="titre2">{{cBase}}</h2>
	{{/cBase}}

	{{#cBonus}}
		<h2 class="titre2">{{cBonus}}</h2>
	{{/cBonus}}

	{{#cPrecis}}
		<h2 class="titre2">{{cPrecis}}</h2>
	{{/cPrecis}}

	{{#totem1}}
		<h2 class="titre2">{{totem1}}</h2>
	{{/totem1}}
	{{#totem2}}
		<h2 class="titre2">{{totem2}}</h2>
	{{/totem2}}
	{{#totem3}}
		<h2 class="titre2">{{totem3}}</h2>
	{{/totem3}}

	{{#MALTotem1}}
		<h2 class="titre2">{{MALTotem1}}</h2>
	{{/MALTotem1}}
	{{#MALTotem2}}
		<h2 class="titre2">{{MALTotem2}}</h2>
	{{/MALTotem2}}
	{{#MALTotem3}}
		<h2 class="titre2">{{MALTotem3}}</h2>
	{{/MALTotem3}}
	
	{{#jet}}
		<div class="ligneM f14">
			<span class="nom" data-i18n="succes">Succès</span>
			<span class="value">{{computed::jet}}</span>
			{{#OD}}
				<span class="full"><span data-i18n="od-inclus">OD inclus</span> ({{vOD}})</span>
			{{/OD}}
			{{#vAE}}
				<span class="full"><span data-i18n="ae-inclus">AE inclus</span> ({{vAE}})</span>
			{{/vAE}}
			
			{{#vMStyleA}}
				<span class="full"><span data-i18n="style-inclus">Style inclus</span> ({{vMStyleA}})</span>
			{{/vMStyleA}}

			{{#vODBarbarian}}
				<span class="full"><span data-i18n="goliath-inclus">Bonus du mode goliath inclus</span> ({{vODBarbarian}})</span>
			{{/vODBarbarian}}
			{{#vGhostA}}
				<span class="full"><span data-i18n="ghost-inclus">Bonus du mode ghost inclus</span> ({{vGhostA}})</span>
			{{/vGhostA}}
			{{#vODShaman}}
				<span class="full"><span data-i18n="totem-inclus">Bonus du mode totem inclus</span> ({{vODShaman}})</span>
			{{/vODShaman}}
			{{#vODWarrior}}
				<span class="full"><span data-i18n="warrior-inclus">Bonus du type de la warrior inclus</span> ({{vODWarrior}})</span>
			{{/vODWarrior}}
			{{#vODSorcerer}}
				<span class="full"><span data-i18n="sorcerer-immobilisation-inclus">Bonus du sorcerer pour immobiliser inclus</span> ({{vODSorcerer}})</span>
			{{/vODSorcerer}}

			{{#vODMALBarbarian}}
				<span class="full"><span data-i18n="goliath-inclus">Bonus du mode goliath inclus</span> ({{vODMALBarbarian}})</span>
			{{/vODMALBarbarian}}
			{{#vMALGhostA}}
				<span class="full"><span data-i18n="ghost-inclus">Bonus du mode ghost inclus</span> ({{vMALGhostA}})</span>
			{{/vMALGhostA}}
			{{#vODMALShaman}}
				<span class="full"><span data-i18n="totem-inclus">Bonus du mode totem inclus</span> ({{vODMALShaman}})</span>
			{{/vODMALShaman}}
			{{#vODMALWarrior}}
				<span class="full"><span data-i18n="warrior-inclus">Bonus du type de la warrior inclus</span> ({{vODMALWarrior}})</span>
			{{/vODMALWarrior}}

			{{#vMDrone}}
				<span class="full"><span data-i18n="munitions-drones-inclus">Munitions drones inclus</span> ({{vMDrone}})</span>
			{{/vMDrone}}

			{{#vMPLaser}}
				<span class="full"><span data-i18n="pointeur-laser-inclus">Pointeur laser inclus</span> ({{vMPLaser}})</span>
			{{/vMPLaser}}

			{{#vCadence}}
				<span class="full">{{rCadence}} (-{{vCadence}})</span>
			{{/vCadence}}

			{{#vChambreDouble}}
				<span class="full"><span data-i18n="chambre-double-inclus">Chambre double inclus</span> (-{{vChambreDouble}})</span>
			{{/vChambreDouble}}
		</div>
	{{/jet}}
	
	{{#initiative}}
		<div class="ligneM f14">
			<span class="nom" data-i18n="initiative">Succès</span>
			<span class="value">{{computed::jet}}</span>
			{{#OD}}
				<span class="full"><span data-i18n="od-inclus">OD inclus</span> ({{vOD}})</span>
			{{/OD}}
			{{#vAE}}
				<span class="full"><span data-i18n="ae-inclus">AE inclus</span> ({{vAE}})</span>
			{{/vAE}}
		</div>
	{{/initiative}}

	{{#succesConditionnel}}
		<h4 class="sousTitre" data-i18n="effets-conditionnels">Effets Conditionnels</h4>
		{{#chocAutomatique}}
			<div class="ligneF f12">
				<span class="nom">{{chocAutomatique}}</span>
				<span class="full">
					{{chocAutomatiqueCondition}}
				</span>
			</div>
		{{/chocAutomatique}}
		{{#vODMALGhostA}}
			<div class="ligneM f12">
				<span class="nom">+{{vODMALGhostA}}</span>
				<span class="value">{{vODMALGhostAValue}}</span>
				<span class="full">
					{{vODMALGhostACondition}}
				</span>
			</div>
		{{/vODMALGhostA}}
		{{#artillerie}}
			<div class="ligneF f12">
				<span class="nom">{{artillerie}}</span>
				<span class="full">
					{{artillerieCondition}}
				</span>
			</div>
		{{/artillerie}}
		{{#choc}}
			<div class="ligneF f12">
				<span class="nom">{{choc}}</span>
				<span class="full">
					{{chocCondition}}
				</span>
			</div>
		{{/choc}}
		{{#demoralisant}}
			<div class="ligneF f12">
				<span class="nom">{{demoralisant}}</span>
				<span class="full">
					{{demoralisantCondition}}
				</span>
			</div>
		{{/demoralisant}}
		{{#parasitage}}
			<div class="ligneF f12">
				<span class="nom">{{parasitage}}</span>
				<span class="full">
					{{parasitageCondition}}
				</span>
			</div>
		{{/parasitage}}
		{{#soumission}}
			<div class="ligneF f12">
				<span class="nom">{{soumission}}</span>
				<span class="full">
					{{soumissionCondition}}
				</span>
			</div>
		{{/soumission}}

		{{#canonLong}}
			<div class="ligneF f12">
				<span class="nom">{{canonLong}}</span>
				<span class="full">
					{{canonLongCondition}}
				</span>
			</div>
		{{/canonLong}}
		{{#canonRaccourci}}
			<div class="ligneF f12">
				<span class="nom">{{canonRaccourci}}</span>
				<span class="full">
					{{canonRaccourciCondition}}
				</span>
			</div>
		{{/canonRaccourci}}
		{{#lunetteIntelligente}}
			<div class="ligneF f12">
				<span class="nom">{{lunetteIntelligente}}</span>
				<span class="full">
					{{lunetteIntelligenteCondition}}
				</span>
			</div>
		{{/lunetteIntelligente}}
	{{/succesConditionnel}}

	{{#degats}}
		<div class="ligneM f14 doubleBordureTop">
			<span class="nom" data-i18n="degats">Dégâts</span>
			<span class="value">{{computed::degats}}</span>
			{{#vForce}}
				<span class="full"><span data-i18n="bonus-force-inclus">Bonus force inclus</span> ({{vForce}})</span>
			{{/vForce}}
			{{#vChair}}
				<span class="full"><span data-i18n="bonus-chair-inclus">Bonus chair inclus</span> ({{vChair}})</span>
			{{/vChair}}

			{{#vBeteD}}
				<span class="full"><span data-i18n="bonus-bete-inclus">Bonus bête inclus</span> ({{vBeteD}})</span>
			{{/vBeteD}}
			{{#vBarbarianD}}
				<span class="full"><span data-i18n="goliath-inclus">Bonus du Mode Goliath inclus</span> ({{vBarbarianD}})</span>
			{{/vBarbarianD}}
			{{#vMALBarbarianD}}
				<span class="full"><span data-i18n="goliath-inclus">Bonus du Mode Goliath inclus</span> ({{vMALBarbarianD}})</span>
			{{/vMALBarbarianD}}
			{{#vGhostD}}
				<span class="full"><span data-i18n="ghost-inclus">Bonus du Mode Ghost inclus</span> ({{vGhostD}})</span>
			{{/vGhostD}}
			{{#vMALGhostD}}
				<span class="full"><span data-i18n="ghost-inclus">Bonus du Mode Ghost inclus</span> ({{vMALGhostD}})</span>
			{{/vMALGhostD}}

			{{#vMStyleD}}
				<span class="full"><span data-i18n="style-inclus">Style inclus</span> ({{vMStyleD}})</span>
			{{/vMStyleD}}

			{{#vSilencieuxD}}
				<span class="full"><span data-i18n="silencieux-inclus">Silencieux inclus</span> ({{vSilencieuxD}})</span>
			{{/vSilencieuxD}}

			{{#vRayonDegats}}
				<span class="full"><span data-i18n="monk-bonus-maintien-inclus">Bonus de maintien inclus</span> (+{{vRayonDegats}})</span>
			{{/vRayonDegats}}
						
			{{#vAgressive}}
				<span class="full"><span data-i18n="agressive-inclus">Bonus agressive inclus</span> ({{vAgressive}})</span>
			{{/vAgressive}}
			{{#vAllegee}}
				<span class="full"><span data-i18n="allegee-inclus">Allégée inclus</span> ({{vAllegee}})</span>
			{{/vAllegee}}
			{{#vAssassineD}}
				<span class="full"><span data-i18n="assassine-inclus">Assassine inclus</span> ({{vAssassineD}})</span>
			{{/vAssassineD}}
			{{#vLeste}}
				<span class="full"><span data-i18n="leste-inclus">Bonus lesté inclus</span> ({{vLeste}})</span>
			{{/vLeste}}			
			{{#vMassive}}
				<span class="full"><span data-i18n="massive-inclus">Bonus massive inclus</span> ({{vMassive}})</span>
			{{/vMassive}}			
			{{#vOrfevrerie}}
				<span class="full"><span data-i18n="orfevrerie-inclus">Bonus orfévrerie inclus</span> ({{vOrfevrerie}})</span>
			{{/vOrfevrerie}}
			{{#vSournoise}}
				<span class="full"><span data-i18n="sournoise-inclus">Bonus sournoise inclus</span> ({{vSournoise}})</span>
			{{/vSournoise}}
			{{#vSubsoniqueD}}
				<span class="full"><span data-i18n="munitions-subsoniques-inclus">Subsonique inclus</span> ({{vSubsoniqueD}})</span>
			{{/vSubsoniqueD}}
			{{#vSurMesure}}
				<span class="full"><span data-i18n="sur-mesure-inclus">Sur mesure inclus</span> ({{vSurMesure}})</span>
			{{/vSurMesure}}
			{{#vPrecision}}
				<span class="full"><span data-i18n="precision-inclus">Bonus precision inclus</span> ({{vPrecision}})</span>
			{{/vPrecision}}

			{{#vMGrappeD}}
				<span class="full"><span data-i18n="chargeur-balles-grappes-inclus">Chargeur et balles grappes inclus</span> ({{vMGrappeD}})</span>
			{{/vMGrappeD}}
			{{#vMExplosiveD}}
				<span class="full"><span data-i18n="chargeur-munitions-explosives-inclus">Chargeur et munitions explosives inclus</span> ({{vMExplosiveD}})</span>
			{{/vMExplosiveD}}
			{{#vMIEMD}}
				<span class="full"><span data-i18n="munitions-iem-inclus">Munitions IEM inclus</span> ({{vMIEMD}})</span>
			{{/vMIEMD}}
			{{#vMSpecialD}}
				<span class="full"><span data-i18n="bonus-special-inclus">Bonus spécial inclus</span> ({{vMSpecialD}})</span>
			{{/vMSpecialD}}
			{{#vFaucheuse}}
				<span class="full"><span data-i18n="faucheuse-gravee-inclus">Faucheuse Gravée inclus</span> ({{vFaucheuse}})</span>
			{{/vFaucheuse}}
			{{#vSillonsFLF}}
				<span class="full"><span data-i18n="sillons-inclus">Sillons inclus</span> ({{vSillonsFLF}})</span>
			{{/vSillonsFLF}}

			{{#vGrenadesAmeliorees}}
				<span class="full"><span data-i18n="grenades-intelligentes-avancees-inclus">Grenades intelligentes avancées inclus</span> ({{vGrenadesAmeliorees}})</span>
			{{/vGrenadesAmeliorees}}
		</div>
	{{/degats}}
	{{#degatsConditionnel}}
		<h4 class="sousTitre" data-i18n="effets-conditionnels">Effets Conditionnels</h4>
		{{#assistanceAttaque}}
			<div class="ligneF f12">
				<span class="nom">+{{assistanceAttaque}}</span>
				<span class="full">
					{{assistanceAttaqueCondition}}
				</span>
			</div>
		{{/assistanceAttaque}}
		{{#attaqueSurprise}}
			<div class="ligneM f12">
				<span class="nom">+{{attaqueSurprise}}</span>
				<span class="value">{{computed::attaqueSurpriseValue}}</span>
				<span class="full">
					{{attaqueSurpriseCondition}}
				</span>
			</div>
		{{/attaqueSurprise}}
		{{#destructeur}}
			<div class="ligneM f12">
				<span class="nom">+{{destructeur}}</span>
				<span class="value">{{computed::destructeurValue}}</span>
				<span class="full">
					{{destructeurCondition}}
				</span>
			</div>
		{{/destructeur}}
		{{#meurtrier}}
			<div class="ligneM f12">
				<span class="nom">+{{meurtrier}}</span>
				<span class="value">{{computed::meurtrierValue}}</span>
				<span class="full">
					{{meurtrierCondition}}
				</span>
			</div>
		{{/meurtrier}}
		{{#armeAzurine}}
			<div class="ligneM f12">
				<span class="nom">+{{armeAzurine}}</span>
				<span class="value">{{computed::armeAzurineValueD}}</span>
				<span class="full">
					{{armeAzurineCondition}}
				</span>
			</div>
		{{/armeAzurine}}
		{{#armeRougeSang}}
			<div class="ligneM f12">
				<span class="nom">+{{armeRougeSang}}</span>
				<span class="value">{{computed::armeRougeSangValueD}}</span>
				<span class="full">
					{{armeRougeSangCondition}}
				</span>
			</div>
		{{/armeRougeSang}}
		{{#cheneSculpte}}
			<div class="ligneM f12">
				<span class="nom">+{{cheneSculpte}}</span>
				<span class="value">{{computed::cheneSculpteValue}}</span>
				<span class="full">
					{{cheneSculpteCondition}}
				</span>
			</div>
		{{/cheneSculpte}}
		{{#griffuresGravees}}
			<div class="ligneM f12">
				<span class="nom">+{{griffuresGravees}}</span>
				<span class="value">{{computed::griffuresGraveesValueD}}</span>
				<span class="full">
					{{griffuresGraveesCondition}}
				</span>
			</div>
		{{/griffuresGravees}}
		{{#masqueBrise}}
			<div class="ligneM f12">
				<span class="nom">+{{masqueBrise}}</span>
				<span class="value">{{computed::masqueBriseValueD}}</span>
				<span class="full">
					{{masqueBriseCondition}}
				</span>
			</div>
		{{/masqueBrise}}
		{{#rouagesCasses}}
			<div class="ligneM f12">
				<span class="nom">+{{rouagesCasses}}</span>
				<span class="value">{{computed::rouagesCassesValueD}}</span>
				<span class="full">
					{{rouagesCassesCondition}}
				</span>
			</div>
		{{/rouagesCasses}}
		{{#affecteAnathemeD}}
			<div class="ligneF f12">
				<span class="nom">{{affecteAnathemeD}}</span>
			</div>
		{{/affecteAnathemeD}}
		{{#antiAnatheme}}
			<div class="ligneF f12">
				<span class="nom">{{antiAnatheme}}</span>
				<span class="full">
					{{antiAnathemeCondition}}
				</span>
			</div>
		{{/antiAnatheme}}
		{{#enChaine}}
			<div class="ligneF f12">
				<span class="nom">{{enChaine}}</span>
				<span class="full">
					{{enChaineCondition}}
				</span>
			</div>
		{{/enChaine}}
		{{#esperance}}
			<div class="ligneF f12">
				<span class="nom">{{esperance}}</span>
				<span class="full">
					{{esperanceConditionD}}
				</span>
			</div>
		{{/esperance}}
		{{#obliteration}}
			<div class="ligneM f12">
				<span class="nom">{{obliteration}}</span>
				<span class="value">{{obliterationValue}}</span>
				{{#tenebricideAS}}
					<div class="subValue">
						<span>+{{obliterationAS}}</span>
						<span>{{obliterationASValue}}</span>
					</div>
				
				{{/tenebricideAS}}
				{{#destructeur}}
					<div class="subValue">
						<span>+{{destructeur}}</span>
						<span>{{obliterationDestructeurValue}}</span>
					</div>				
				{{/destructeur}}
				{{#meurtrier}}
					<div class="subValue">
						<span>+{{meurtrier}}</span>
						<span>{{obliterationMeurtrierValue}}</span>
					</div>				
				{{/meurtrier}}
				{{#armeAzurine}}
					<div class="subValue">
						<span>+{{armeAzurine}}</span>
						<span>{{obliterationArmeAzurineValue}}</span>
					</div>				
				{{/armeAzurine}}
				{{#armeRougeSang}}
					<div class="subValue">
						<span>+{{armeRougeSang}}</span>
						<span>{{obliterationArmeRougeSangValue}}</span>
					</div>				
				{{/armeRougeSang}}
				{{#cheneSculpte}}
					<div class="subValue">
						<span>+{{cheneSculpte}}</span>
						<span>{{obliterationCheneSculpteValue}}</span>
					</div>				
				{{/cheneSculpte}}
				{{#griffuresGravees}}
					<div class="subValue">
						<span>+{{griffuresGravees}}</span>
						<span>{{obliterationGriffureGraveeValue}}</span>
					</div>				
				{{/griffuresGravees}}
				{{#masqueBrise}}
					<div class="subValue">
						<span>+{{masqueBrise}}</span>
						<span>{{obliterationMasqueBriseValue}}</span>
					</div>				
				{{/masqueBrise}}
				{{#rouagesCasses}}
					<div class="subValue">
						<span>+{{rouagesCasses}}</span>
						<span>{{obliterationRouagesCassesValue}}</span>
					</div>				
				{{/rouagesCasses}}
				<span class="full">
					{{obliterationCondition}}
				</span>
			</div>
		{{/obliteration}}
		{{#tenebricide}}
			<div class="ligneM f12">
				<span class="nom">{{tenebricide}}</span>
				<span class="value">{{computed::tenebricideValueD}}</span>
				{{#tenebricideAS}}
					<div class="subValue">
						<span>+{{tenebricideAS}}</span>
						<span>{{computed::tenebricideASValue}}</span>
					</div>
				{{/tenebricideAS}}
				{{#destructeur}}
					<div class="subValue">
						<span>+{{destructeur}}</span>
						<span>{{computed::tDestructeurValue}}</span>
					</div>				
				{{/destructeur}}
				{{#meurtrier}}
					<div class="subValue">
						<span>+{{meurtrier}}</span>
						<span>{{computed::tMeurtrierValue}}</span>
					</div>				
				{{/meurtrier}}
				{{#cheneSculpte}}
					<div class="subValue">
						<span class="nom">+{{cheneSculpte}}</span>
						<span class="value">{{computed::tCheneSculpteValue}}</span>
					</div>
				{{/cheneSculpte}}
				<span class="full">
					{{tenebricideConditionD}}
				</span>
			</div>
		{{/tenebricide}}
		{{#tirRafale}}
			<div class="ligneF f12">
				<span class="nom">{{tirRafale}}</span>
				<span class="full">
					{{tirRafaleCondition}}
				</span>
			</div>
		{{/tirRafale}}

		{{#grenadeExplosive}}
			<div class="ligneM f12">
				<span class="nom">{{grenadeExplosive}}</span>
				<span class="value">{{grenadeExplosiveD}}</span>
			</div>
		{{/grenadeExplosive}}

		{{#subsonique}}
			<div class="ligneM f12">
				<span class="nom">+{{subsonique}}</span>
				<span class="value">{{subsoniqueValue}}</span>
				<span class="full">
					{{subsoniqueCondition}}
				</span>
			</div>
		{{/subsonique}}
	{{/degatsConditionnel}}

	{{#violence}}
		<div class="ligneM f14 doubleBordureTop">
			<span class="nom" data-i18n="violence">Violence</span>
			<span class="value">{{computed::violence}}</span>
			{{#vBarbarianV}}
				<span class="full"><span data-i18n="goliath-inclus">Bonus du Mode Goliath inclus</span> ({{vBarbarianV}})</span>
			{{/vBarbarianV}}
			{{#vMALBarbarianV}}
				<span class="full"><span data-i18n="goliath-inclus">Bonus du Mode Goliath inclus</span> ({{vMALBarbarianV}})</span>
			{{/vMALBarbarianV}}
			{{#vMStyleV}}
				<span class="full"><span data-i18n="style-inclus">Style inclus</span> ({{vMStyleV}})</span>
			{{/vMStyleV}}
			{{#vMGrappeV}}
				<span class="full"><span data-i18n="chargeur-balles-grappes-inclus">Chargeur et balles grappes inclus</span> ({{vMGrappeV}})</span>
			{{/vMGrappeV}}
			{{#vMExplosiveV}}
				<span class="full"><span data-i18n="chargeur-munitions-explosives-inclus">Chargeur et munitions explosives inclus</span> ({{vMExplosiveV}})</span>
			{{/vMExplosiveV}}
			{{#vMIEMV}}
				<span class="full"><span data-i18n="munitions-iem-inclus">Munitions IEM inclus</span> ({{vMIEMV}})</span>
			{{/vMIEMV}}
			{{#vMSpecialV}}
				<span class="full"><span data-i18n="bonus-special-inclus">Bonus spécial inclus</span> ({{vMSpecialV}})</span>
			{{/vMSpecialV}}
			{{#vFlammesStylisees}}
				<span class="full"><span data-i18n="flammes-stylisées-inclus">Flammes Stylisées inclus</span> ({{vFlammesStylisees}})</span>
			{{/vFlammesStylisees}}

			{{#vGrenadesAmeliorees}}
				<span class="full"><span data-i18n="grenades-intelligentes-avancees-inclus">Grenades intelligentes avancées inclus</span> ({{vGrenadesAmeliorees}})</span>
			{{/vGrenadesAmeliorees}}
		</div>
	{{/violence}}
	{{#violenceConditionnel}}
		<h4 class="sousTitre" data-i18n="effets-conditionnels">Effets Conditionnels</h4>
		{{#assistanceAttaque}}
			<div class="ligneF f12">
				<span class="nom">+{{assistanceAttaque}}</span>
				<span class="full">
					{{assistanceAttaqueCondition}}
				</span>
			</div>
		{{/assistanceAttaque}}
		{{#fureur}}
			<div class="ligneM f12">
				<span class="nom">+{{fureur}}</span>
				<span class="value">{{computed::fureurValue}}</span>
				<span class="full">
					{{fureurCondition}}
				</span>
			</div>
		{{/fureur}}
		{{#ultraviolence}}
			<div class="ligneM f12">
				<span class="nom">+{{ultraviolence}}</span>
				<span class="value">{{computed::ultraviolenceValue}}</span>
				<span class="full">
					{{ultraviolenceCondition}}
				</span>
			</div>
		{{/ultraviolence}}
		{{#armeAzurine}}
			<div class="ligneM f12">
				<span class="nom">+{{armeAzurine}}</span>
				<span class="value">{{computed::armeAzurineValueV}}</span>
				<span class="full">
					{{armeAzurineCondition}}
				</span>
			</div>
		{{/armeAzurine}}
		{{#armeRougeSang}}
			<div class="ligneM f12">
				<span class="nom">+{{armeRougeSang}}</span>
				<span class="value">{{computed::armeRougeSangValueV}}</span>
				<span class="full">
					{{armeRougeSangCondition}}
				</span>
			</div>
		{{/armeRougeSang}}
		{{#griffuresGravees}}
			<div class="ligneM f12">
				<span class="nom">+{{griffuresGravees}}</span>
				<span class="value">{{computed::griffuresGraveesValueV}}</span>
				<span class="full">
					{{griffuresGraveesCondition}}
				</span>
			</div>
		{{/griffuresGravees}}
		{{#masqueBrise}}
			<div class="ligneM f12">
				<span class="nom">+{{masqueBrise}}</span>
				<span class="value">{{computed::masqueBriseValueV}}</span>
				<span class="full">
					{{masqueBriseCondition}}
				</span>
			</div>
		{{/masqueBrise}}
		{{#rouagesCasses}}
			<div class="ligneM f12">
				<span class="nom">+{{rouagesCasses}}</span>
				<span class="value">{{computed::rouagesCassesValueV}}</span>
				<span class="full">
					{{rouagesCassesCondition}}
				</span>
			</div>
		{{/rouagesCasses}}
		{{#affecteAnathemeV}}
			<div class="ligneF f12">
				<span class="nom">{{affecteAnathemeV}}</span>
			</div>
		{{/affecteAnathemeV}}
		{{#antiAnatheme}}
			<div class="ligneF f12">
				<span class="nom">{{antiAnatheme}}</span>
				<span class="full">
					{{antiAnathemeCondition}}
				</span>
			</div>
		{{/antiAnatheme}}
		{{#esperance}}
			<div class="ligneF f12">
				<span class="nom">{{esperance}}</span>
				<span class="full">
					{{esperanceConditionV}}
				</span>
			</div>
		{{/esperance}}
		{{#tenebricide}}
			<div class="ligneM f12">
				<span class="nom">{{tenebricide}}</span>
				<span class="value">{{computed::tenebricideValueV}}</span>
				{{#fureur}}
					<div class="subValue">
						<span>+{{fureur}}</span>
						<span>{{computed::tFureurValue}}</span>
					</div>				
				{{/fureur}}
				{{#ultraviolence}}
					<div class="subValue">
						<span>+{{ultraviolence}}</span>
						<span>{{computed::tUltraviolenceValue}}</span>
					</div>				
				{{/ultraviolence}}
				<span class="full">
					{{tenebricideConditionV}}
				</span>
			</div>
		{{/tenebricide}}
	{{/violenceConditionnel}}

	{{#effets}}
		<h2 class="titre2 doubleBordureTop" data-i18n="effets-de-l'arme">Autres effets de l'Arme</h2>
		<div class="ligneFull">
			<span>{{effets}}</span>
		</div>
	{{/effets}}

	{{#ameliorationsS}}
		<h2 class="titre2 doubleBordureTop" data-i18n="autres-ameliorations-structurelles">Autres améliorations structurelles</h2>
		<div class="ligneFull">
			<span>{{ameliorationsS}}</span>
		</div>
	{{/ameliorationsS}}

	{{#ameliorationsO}}
		<h2 class="titre2 doubleBordureTop" data-i18n="autres-ameliorations-d'ornement">Autres améliorations d'Ornement</h2>
		<div class="ligneFull">
			<span>{{ameliorationsO}}</span>
		</div>
	{{/ameliorationsO}}

	{{#ameliorations}}
		<h2 class="titre2 doubleBordureTop" data-i18n="ameliorations-de-l'arme">Autres améliorations de l'Arme</h2>
		<div class="ligneFull">
			<span>{{ameliorations}}</span>
		</div>
	{{/ameliorations}}

	{{#special}}
		<h2 class="titre2 doubleBordureTop" data-i18n="special">Spécial</h2>
		<div class="ligneFull">
			<span>{{special}}</span>
		</div>
	{{/special}}

	{{#Exploit}}
		{{#^rollTotal() Exploit 0}}
			{{#rollTotal() Exploit jet}}
				<h1 class="exploit" data-i18n="exploit">Exploit</h1>
			{{/rollTotal() Exploit jet}}
		{{/^rollTotal() Exploit 0}}
		{{#rollTotal() jet 0}}
			<h1 class="echecCritique" data-i18n="echec-critique">Échec Critique</h1>
		{{/rollTotal() jet 0}}
	{{/Exploit}}

	{{#debordement}}
		<div class="ligneM f14">
			<span class="nom" data-i18n="debordement">Débordement</span>
			<span class="value">{{debordement}}</span>
		</div>
	{{/debordement}}
</rolltemplate>