<rolltemplate class="sheet-rolltemplate-mechaArmure">
	<h1 class="titre">{{Nom}}</h1>
	{{#special1}}
		<h2 class="titre2">{{special1}}</h2>
	{{/special1}}
	{{#special1B}}
		<h2 class="titre2">{{special1B}}</h2>
	{{/special1B}}
	{{#special2}}
		<h3 class="titre3">{{special2}}</h3>
	{{/special2}}
	{{#special2B}}
		<h3 class="titre3">{{special2B}}</h3>
	{{/special2B}}

	{{#herauts}}
		<div class="ligneFullHerauts">
			<span>{{herauts}}</span>
		</div>
	{{/herauts}}

	{{#portee}}
		<h3 class="titre3">{{portee}}</h3>
	{{/portee}}

	{{#style}}
		<h3 class="titre3">{{style}}</h3>
	{{/style}}

	{{#mod}}
		<div class="ligne f12">
			<span data-i18n="malus/bonus">Malus / Bonus</span>
			<span>{{mod}}</span>
		</div>
	{{/mod}}

	{{#cBase}}
		<h2 class="titre2">{{cBase}}</h2>
	{{/cBase}}

	{{#cBonus}}
		<h2 class="titre2">{{cBonus}}</h2>
	{{/cBonus}}

	{{#jet}}
		<div class="ligneM f14">
			<span class="nom" data-i18n="succes">Succès</span>
			<span class="value">{{computed::jet}}</span>
			{{#vOD}}
				<span class="full"><span data-i18n="od-inclus">OD inclus</span> ({{vOD}})</span>
			{{/vOD}}
			{{#vManoeuvrabilite}}
				<span class="full"><span data-i18n="vehicule-manoeuvrabilite-inclus">Manoeuvrabilité inclus</span> ({{vManoeuvrabilite}})</span>
			{{/vManoeuvrabilite}}
			{{#vPuissance}}
				<span class="full"><span data-i18n="puissance-inclus">Puissance inclus</span> ({{vPuissance}})</span>
			{{/vPuissance}}
			{{#vSenseurs}}
				<span class="full"><span data-i18n="senseurs-inclus">Senseurs inclus</span> ({{vSenseurs}})</span>
			{{/vSenseurs}}
			{{#vSystemes}}
				<span class="full"><span data-i18n="systemes-inclus">Systemes inclus</span> ({{vSystemes}})</span>
			{{/vSystemes}}
			{{#vWraithA}}
				<span class="full"><span data-i18n="wraith-inclus">Bonus du mode wraith inclus</span> ({{vWraithA}})</span>
			{{/vWraithA}}
		</div>
	{{/jet}}

	{{#succesConditionnel}}
		<h4 class="sousTitre" data-i18n="effets-conditionnels">Effets Conditionnels</h4>
		{{#parasitage}}
			<div class="ligneF f12">
				<span class="nom">{{parasitage}}</span>
				<span class="full">
					{{parasitageCondition}}
				</span>
			</div>
		{{/parasitage}}
	{{/succesConditionnel}}

	{{#degats}}
		<div class="ligneM f14 doubleBordureTop">
			<span class="nom" data-i18n="degats">Dégâts</span>
			<span class="value">{{computed::degats}}</span>
			{{#vForce}}
				<span class="full"><span data-i18n="bonus-force-inclus">Bonus force inclus</span> ({{vForce}})</span>
			{{/vForce}}

			{{#vBeteD}}
				<span class="full"><span data-i18n="bonus-bete-inclus">Bonus bête inclus</span> ({{vBeteD}})</span>
			{{/vBeteD}}

			{{#vMStyleD}}
				<span class="full"><span data-i18n="style-inclus">Style inclus</span> ({{vMStyleD}})</span>
			{{/vMStyleD}}

			{{#vWraithD}}
				<span class="full"><span data-i18n="wraith-inclus">Bonus du mode wraith inclus</span> ({{vWraithD}})</span>
			{{/vWraithD}}
		</div>
	{{/degats}}
	{{#degatsConditionnel}}
		<h4 class="sousTitre" data-i18n="effets-conditionnels">Effets Conditionnels</h4>
		{{#attaqueSurprise}}
			<div class="ligneM f12">
				<span class="nom">+{{attaqueSurprise}}</span>
				<span class="value">{{computed::attaqueSurpriseValue}}</span>
				<span class="full">
					{{attaqueSurpriseCondition}}
				</span>
			</div>
		{{/attaqueSurprise}}
		{{#antiAnatheme}}
			<div class="ligneF f12">
				<span class="nom">{{antiAnatheme}}</span>
				<span class="full">
					{{antiAnathemeCondition}}
				</span>
			</div>
		{{/antiAnatheme}}
		{{#meurtrier}}
			<div class="ligneM f12">
				<span class="nom">+{{meurtrier}}</span>
				<span class="value">{{computed::meurtrierValue}}</span>
				<span class="full">
					{{meurtrierCondition}}
				</span>
			</div>
		{{/meurtrier}}
	{{/degatsConditionnel}}

	{{#violence}}
		<div class="ligneM f14 doubleBordureTop">
			<span class="nom" data-i18n="violence">Violence</span>
			<span class="value">{{computed::violence}}</span>

			{{#vMStyleV}}
				<span class="full"><span data-i18n="style-inclus">Style inclus</span> ({{vMStyleV}})</span>
			{{/vMStyleV}}
		</div>
	{{/violence}}
	{{#violenceConditionnel}}
		<h4 class="sousTitre" data-i18n="effets-conditionnels">Effets Conditionnels</h4>
		{{#antiAnatheme}}
			<div class="ligneF f12">
				<span class="nom">{{antiAnatheme}}</span>
				<span class="full">
					{{antiAnathemeCondition}}
				</span>
			</div>
		{{/antiAnatheme}}
		{{#fureur}}
			<div class="ligneM f12">
				<span class="nom">+{{fureur}}</span>
				<span class="value">{{computed::fureurValue}}</span>
				<span class="full">
					{{fureurCondition}}
				</span>
			</div>
		{{/fureur}}
	{{/violenceConditionnel}}

	{{#jDivers}}
		<div class="ligneM f14">
			<span class="nom">{{jDivers}}</span>
			<span class="value">{{jDiversV}}</span>
		</div>
	{{/jDivers}}

	{{#jDivers2}}
		<div class="ligneM f14">
			<span class="nom">{{jDivers2}}</span>
			<span class="value">{{jDivers2V}}</span>
		</div>
	{{/jDivers2}}

	{{#jDivers3}}
		<div class="ligneM f14">
			<span class="nom">{{jDivers3}}</span>
			<span class="value">{{jDivers3V}}</span>
		</div>
	{{/jDivers3}}

	{{#jDivers2F12}}
		<div class="ligneM f12">
			<span class="nom">{{jDivers2F12}}</span>
			<span class="value">{{jDivers2F12V}}</span>
		</div>
	{{/jDivers2F12}}

	{{#jDivers3F12}}
		<div class="ligneM f12">
			<span class="nom">{{jDivers3F12}}</span>
			<span class="value">{{jDiver3F12V}}</span>
		</div>
	{{/jDivers3F12}}

	{{#jDivers4F12}}
		<div class="ligneM f12">
			<span class="nom">{{jDivers4F12}}</span>
			<span class="value">{{jDiver4F12V}}</span>
		</div>
	{{/jDivers4F12}}

	{{#jDivers5F12}}
		<div class="ligneM f12">
			<span class="nom">{{jDivers5F12}}</span>
			<span class="value">{{jDiver5F12V}}</span>
		</div>
	{{/jDivers5F12}}

	{{#text}}
		<div class="ligneF f12">
			<span class="fullText">{{text}}</span>
		</div>
	{{/text}}

	{{#rollText}}		
		<div class="ligneF f12">
			<span class="fullText">{{computed::rollText}}</span>
		</div>
	{{/rollText}}

	{{#effets}}
		<h2 class="titre2 doubleBordureTop" data-i18n="effets-de-l'arme">Autres effets de l'Arme</h2>
		<div class="ligneFull">
			<span>{{effets}}</span>
		</div>
	{{/effets}}

	{{#Exploit}}
		{{#^rollTotal() Exploit 0}}
			{{#rollTotal() Exploit jet}}
				<h1 class="exploit" data-i18n="exploit">Exploit</h1>
			{{/rollTotal() Exploit jet}}
		{{/^rollTotal() Exploit 0}}
		{{#rollTotal() jet 0}}
			<h1 class="echecCritique" data-i18n="echec-critique">Échec Critique</h1>
		{{/rollTotal() jet 0}}
	{{/Exploit}}
</rolltemplate>