<rolltemplate class="sheet-rolltemplate-simple">
	<h1 class="titre">{{Nom}}</h1>
	{{#special1}}
		<h2 class="titre2">{{special1}}</h2>
	{{/special1}}
	{{#special1B}}
		<h2 class="titre2">{{special1B}}</h2>
	{{/special1B}}
	{{#special2}}
		<h3 class="titre3">{{special2}}</h3>
	{{/special2}}

	{{#MALspecial2}}
		<h3 class="titre3">{{MALspecial2}}</h3>
	{{/MALspecial2}}

	{{#goliath}}
	<div class="ligne f12">
		<span data-i18n="taille-mode-goliath">Taille du mode goliath</span>
		<span>{{goliath}}</span>
	</div>
	{{/goliath}}

	{{#MALGoliath}}
	<div class="ligne f12">
		<span data-i18n="taille-mode-goliath">Taille du mode goliath</span>
		<span>{{MALGoliath}}</span>
	</div>
	{{/MALGoliath}}

	{{#mod}}
		<div class="ligne f12">
			<span data-i18n="malus/bonus">Malus / Bonus</span>
			<span>{{mod}}</span>
		</div>
	{{/mod}}

	{{#cBase}}
		<h2 class="titre2">{{cBase}}</h2>
	{{/cBase}}

	{{#cBonus}}
		<h2 class="titre2">{{cBonus}}</h2>
	{{/cBonus}}

	{{#totem1}}
		<h2 class="titre2">{{totem1}}</h2>
	{{/totem1}}
	{{#totem2}}
		<h2 class="titre2">{{totem2}}</h2>
	{{/totem2}}
	{{#totem3}}
		<h2 class="titre2">{{totem3}}</h2>
	{{/totem3}}

	{{#MALTotem1}}
		<h2 class="titre2">{{MALTotem1}}</h2>
	{{/MALTotem1}}
	{{#MALTotem2}}
		<h2 class="titre2">{{MALTotem2}}</h2>
	{{/MALTotem2}}
	{{#MALTotem3}}
		<h2 class="titre2">{{MALTotem3}}</h2>
	{{/MALTotem3}}
	
	{{#jet}}
		<div class="ligneM f14">
			<span class="nom" data-i18n="succes">Succès</span>
			<span class="value">{{computed::jet}}</span>
			{{#OD}}
				<span class="full"><span data-i18n="od-inclus">OD inclus</span> ({{vOD}})</span>
			{{/OD}}
			{{#vAE}}
				<span class="full"><span data-i18n="ae-inclus">AE inclus</span> ({{vAE}})</span>
			{{/vAE}}
			{{#vManoeuvrabilite}}
				<span class="full"><span data-i18n="vehicule-manoeuvrabilite-inclus">Manoeuvrabilité inclus</span> ({{vManoeuvrabilite}})</span>
			{{/vManoeuvrabilite}}

			{{#vODBarbarian}}
				<span class="full"><span data-i18n="goliath-inclus">Bonus du mode goliath inclus</span> ({{vODBarbarian}})</span>
			{{/vODBarbarian}}
			{{#vODShaman}}
				<span class="full"><span data-i18n="totem-inclus">Bonus du mode totem inclus</span> ({{vODShaman}})</span>
			{{/vODShaman}}
			{{#vODWarrior}}
				<span class="full"><span data-i18n="warrior-inclus">Bonus du type de la warrior inclus</span> ({{vODWarrior}})</span>
			{{/vODWarrior}}
			{{#vODSorcerer}}
				<span class="full"><span data-i18n="sorcerer-immobilisation-inclus">Bonus du sorcerer pour immobiliser inclus</span> ({{vODSorcerer}})</span>
			{{/vODSorcerer}}

			{{#vODMALBarbarian}}
				<span class="full"><span data-i18n="goliath-inclus">Bonus du mode goliath inclus</span> ({{vODMALBarbarian}})</span>
			{{/vODMALBarbarian}}
			{{#vODMALShaman}}
				<span class="full"><span data-i18n="totem-inclus">Bonus du mode totem inclus</span> ({{vODMALShaman}})</span>
			{{/vODMALShaman}}
			{{#vODMALWarrior}}
				<span class="full"><span data-i18n="warrior-inclus">Bonus du type de la warrior inclus</span> ({{vODMALWarrior}})</span>
			{{/vODMALWarrior}}
		</div>
	{{/jet}}
	
	{{#initiative}}
		<div class="ligneM f14">
			<span class="nom" data-i18n="initiative">Initiative</span>
			<span class="value">{{initiative}}</span>
			{{#OD}}
				<span class="full"><span data-i18n="od-inclus">OD inclus</span> ({{vOD}})</span>
			{{/OD}}
			{{#vAE}}
				<span class="full"><span data-i18n="ae-inclus">AE inclus</span> ({{vAE}})</span>
			{{/vAE}}
		</div>
	{{/initiative}}

	{{#jDivers}}
		<div class="ligneM f14">
			<span class="nom">{{jDivers}}</span>
			<span class="value">{{jDiversV}}</span>
		</div>
	{{/jDivers}}

	{{#conditionnel}}
		<h4 class="sousTitre" data-i18n="effets-conditionnels">Effets Conditionnels</h4>
		{{#vODGhostA}}
			<div class="ligneM f12">
				<span class="nom">+{{vODGhostA}}</span>
				<span class="value">{{vODGhostAValue}}</span>
				<span class="full" data-i18n="mode-ghost-deplacement-condition">
					S'applique pour passer inaperçu.
				</span>
			</div>
		{{/vODGhostA}}
		{{#vODMALGhostA}}
			<div class="ligneM f12">
				<span class="nom">+{{vODMALGhostA}}</span>
				<span class="value">{{vODMALGhostAValue}}</span>
				<span class="full" data-i18n="mode-ghost-deplacement-condition">
					S'applique pour passer inaperçu.
				</span>
			</div>
		{{/vODMALGhostA}}
	{{/conditionnel}}

	{{#text}}
		<div class="ligneF f12">
			<span class="fullText">{{text}}</span>
		</div>
	{{/text}}
	{{#rollTitre}}
		<h2 class="titre2">{{computed::rollTitre}}</h2>
	{{/rollTitre}}
	{{#rollText}}		
		<div class="ligneF f12">
			<span class="fullText">{{computed::rollText}}</span>
		</div>
	{{/rollText}}

	{{#qualiteApprenti}}
		<h2 class="titre2 borderTop borderBottom space">
			<span data-i18n="art-qualite-apprenti">Apprenti</span> <span data-i18n="art-qualite-apprenti-score">(3 à 5)</span>
		</h2>
		<div class="ligneF">
			<span class="fullText">
				{{qualiteApprenti}}
			</span>
		</div>
	{{/qualiteApprenti}}

	{{#qualiteInitie}}
		<h2 class="titre2 borderTop borderBottom space">
			<span data-i18n="art-qualite-initie">Initié</span> <span data-i18n="art-qualite-initie-score">(6 à 8)</span>
		</h2>
		<div class="ligneF">
			<span class="fullText">
				{{qualiteInitie}}
			</span>
		</div>
	{{/qualiteInitie}}

	{{#qualiteMaitre}}
		<h2 class="titre2 borderTop borderBottom space">
			<span data-i18n="art-qualite-maitre">Maître</span> <span data-i18n="art-qualite-maitre-score">(9+)</span>
		</h2>
		<div class="ligneF">
			<span class="fullText">
				{{qualiteMaitre}}
			</span>
		</div>
	{{/qualiteMaitre}}

	{{#effetsArt}}
		<h2 class="titre2 borderTop borderBottom" data-i18n="effet">Effet</h2>
		<div class="ligneF">
			<span class="fullText">
				{{effetsArt}}
			</span>
		</div>
	{{/effetsArt}}

	{{#button}}
		<h2 class="titre2 borderTop borderBottom">
			<span data-i18n="degats">Dégâts</span> / <span data-i18n="violence">Violence</span> / <span data-i18n="espoir">Espoir</span>
		</h2>
		<div class="button">
			{{1d6}} {{2d6}} {{3d6}} {{4d6}}
		</div>
	{{/button}}

	{{#Exploit}}
		{{#^rollTotal() Exploit 0}}
			{{#rollTotal() Exploit jet}}
				<h1 class="exploit" data-i18n="exploit">Exploit</h1>
			{{/rollTotal() Exploit jet}}
		{{/^rollTotal() Exploit 0}}
		{{#rollTotal() jet 0}}
			<h1 class="echecCritique" data-i18n="echec-critique">Échec Critique</h1>
		{{/rollTotal() jet 0}}
	{{/Exploit}}
</rolltemplate>