h1.sheet-title {
    color: black;
    border: 1px solid gray;
}


div {
    padding:5px;
}

.sheet-tr {
    display:table-row;
}

.sheet-td {
    display: table-cell;
    text-align: center;
}
.sheet-power1name {
  margin: auto;
  width: 40%;
}
.sheet-power2name {
  margin: auto;
  width: 40%;
}
.sheet-power3name {
  margin: auto;
  width: 40%;
}
.sheet-power4name {
  margin: auto;
  width: 40%;
}
.sheet-power5name {
  margin: auto;
  width: 40%;
}
.sheet-headheight {
    margin-left: 45px;
    margin-right: 15px;
}
.sheet-torsoheight {
    margin-left: 35px;
}
.sheet-rarmheight {
    margin-left: 42px;
}
.sheet-larmheight {
    margin-left: 42px;
}
.sheet-rlegheight {
    margin-left: 47px;
    margin-right: 15px;
}
.sheet-llegheight {
    margin-left: 47px;
    margin-right: 15px;
}


div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,

{
    display: block;
}

input.sheet-tab
{
    width: 50px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-right: -50px;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before
{
    content: attr(title);

    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    
    width: 50px;
    height: 20px;
    font-size: 18px;
    
    position: relative;
    top: 5px;
    left: 0px;
}

input.sheet-tab:checked + span::before {
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }


th {
  text-align: center;
  vertical-align: middle;
}

input.sheet-tab2 + span::before {

   
    


input.sheet-tab2:checked + span::before {


input.sheet-tab3 + span::before { left: 0px; }




input.sheet-tab4 + span::before { left: 0px; }

input.sheet-tab5 + span::before { left: 0px; }




    border-style:solid;
    border-top:thick double #000000;




div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}

div.sheet-tab2 { }



.sheet-rightalign {
    text-align: right;
}

tr.sheet-headerrow {
    font-weight: bold;
}

select {
    width: 60px;
}

section.sheet-headerarea {
    width: 100%;
    border: 5px solid gray;
}
