text
{
    font-family: Verdana, Helvetica, "Times New Roman", serif;
    font-size: 10px;
	color: #222222;
}



.sheet-weapon_name{
	width: 100px;
}

.sheet-weapon_pen{
	width: 50px;
}

.sheet-weapon_range{
	width: 118px;
}

.largedialog textarea {
	height: !important
}

.ui-dialog .charsheet .sheet-3colrow .sheet-col {
    margin-right: 20px !important;

}

.sheet-Langauge-Skill{
	width:80px;
	display:inline;
}

.sheet-characteristic-roll{
	font-size: 0.8em !important;
	margin-left: 3px;
	margin-right: 3px;
	font-weight: bold;
	margin-bottom: 0px;
	
}	
.sheet-skills-header{
	margin-bottom: 8px;
	text-align: center; 
	color: #FFF; 
	background-color: #000;
}

.charsheet{
	/*background-color: lightgray;*/
}

/*Hide stuff*/


.charsheet div.sheet-skills-magic1{
    display: none;    
}
		          
.charsheet input.sheet-toggle-magic1:checked ~ div.sheet-skills-magic1 {
    display: inline;
}



.charsheet div.sheet-strike-rank{
    display: none;    
}
		          
.charsheet input.sheet-showstrike-rank:checked ~ div.sheet-strike-rank {
    display: inline;
}



.charsheet span.sheet-strike-rank{
    display: inline;    
}
		          
.charsheet input.sheet-showstrike-rank:checked ~ span.sheet-strike-rank {
    display: none;
}


/*
input.sheet-showstrike-rank:checked ~ .repcontainer[data-groupname="repeating_Hand-to-Hand"] sheet-strike-rank  {
    display: inline;
}

div[data-groupname="repeating_Hand-to-Hand"] .sheet-strike-rank
{
    display: inline-block;
	border: 5px solid green;
}
*/


.sheet-melee-toggle { display: none; }
.sheet-check-melee-toggle:checked ~ [data-groupname=repeating_melee] > .repitem .sheet-melee-toggle { display: inline; }


.sheet-example-toggle { display: none; }
.sheet-check-toggle:checked ~ [data-groupname=repeating_example] > .repitem .sheet-example-toggle { display: inline; }


.sheet-repeat-strike-rank{ display: none; border: 5px soild pink; }
.sheet-showstrike-rank:checked ~ [data-groupname=repeating_Hand-to-Hand] > .repitem .sheet-repeat-strike-rank { display: inline; }


/*	
	input.sheet-collapse-example::checked ~ .repcontainer[data-groupname=repeating_example] .repeating-content {
    display: none;
}
*/

/*
.charsheet div.sheet-skills-alphabetical{
    display: inline;    
}

.charsheet input.sheet-toggle-alphabetical:not(:checked) ~ div.sheet-skills-alphabetical {
    display: none;
*/

.charsheet div.sheet-skills-alphabetical{
    display: none;    
}


.charsheet input.sheet-toggle-alphabetical:checked ~ div.sheet-skills-alphabetical {
    display: inline;
}



.charsheet div.sheet-skills-by-category{
    display: none;    
}
		          
.charsheet input.sheet-toggle-categories:checked ~ div.sheet-skills-by-category {
    display: inline;
}

.charsheet div.sheet-strike-rank{
    display: none;    
}
		          
.charsheet input.sheet-showstrike-rank:checked ~ div.sheet-strike-rank {
    display: inline;
}

.charsheet div.sheet-hpbl {
    display: none;    
}

.charsheet input.sheet-showhbpl:checked ~ div.sheet-hpbl {
    display: block;
}


.charsheet div.sheet-hitloc{
    display: none;    
}
		          
.charsheet input.sheet-showhitloc:checked ~ div.sheet-hitloc {
    display: inline;
}


.charsheet div.sheet-edufld{
    display: none;    
}

.charsheet input.sheet-showedufld:checked ~ div.sheet-edufld {
    display: inline;
}

.charsheet div.sheet-mjrwnd{
    display: none;    
}

.charsheet input.sheet-showmjrwnd:checked ~ div.sheet-mjrwnd {
    display: inline;
}

/* Configuration Window*/
.charsheet .sheet-cdiv {
    width:810px;
    /*border: 1px dotted;*/
    padding-right: 15px;
    padding-left: 15px;
}

.sheet-HideConfig:checked ~ *.sheet-config {
	display:none;
}

.charsheet span.sheet-is-config::after { /*Close Config: grayish background with black text*/
	content: "^";
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config::after { /*Show Configuration: Black background with grayish text*/
	content: "v";
}

.charsheet span.sheet-is-config {
    text-align: center;
    display: inline-block;    
    width: 5%;
    height: 16px;
    font-size: 9px;
    /*font-family: "Pictos";*/
    /*background: #65763c;*/
    background: black; /*#93537c;*/
	color: white; /*white;*/
	font-weight: bold;
	border-radius: 4px;
	margin-left: -5%;
}

.charsheet input.sheet-HideConfig {
     width: 5%;
    height: 16px;
    cursor: pointer;	
    margin-left: auto;
    margin-top: auto;
	/*position: absolute;
	right: 20%;*/
	opacity: 0;
	z-index: 9999;
}
.sheet-details p{
	margin-bottom: 0px;
	
}

.sheet-details{
	margin-right: 5px;
}

.sheet-details-title{	
	width: 100px;
	display:inline;
}

.sheet-details  input[type=text] {
	display: inline;
	box-shadow: none;
	border: 0px; 
	border-bottom: 1px solid black;
	width: 160px;
	
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config {
    background: black;
    border-radius: 4px;
	color: white;
}

.charsheet label.sheet-configitem {
    margin-left: 10px; 
    width: 50px; 
    font-size: .9em; 
    font-weight: normal
}

/*End Configuration Window*/

.sheet-section-header{
	text-align: center; 
	color: #FFF; 
	background-color: #000;
}

.sheet-col h3{
	margin-bottom: 10px;
}


.repcontrol{
	margin-right: 7px;
}

div.repcontrol button
{
    width: 20px;
    height: 20px;
    color: transparent;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	 
}

div.repcontrol button.repcontrol_add::before,
div.repcontrol button.repcontrol_edit::before
{
    font-family: Pictos;
    position: relative;
    color: #000;
}

/* +Add */
div.repcontrol button.repcontrol_add::before
{
	
    content: "&"; /* & in Pictos is a + sign, while + is a plus inside a circle */    
    left: -5px;
    top: -4px;
}

/* Modify */
div.repcontrol button.repcontrol_edit::before
{
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    content: "x"; /* x in Pictos is a crossed hammer and wrench */
    left: -5px;
    top: -4px;
}
/* Done */
div.repcontrol.editmode button.repcontrol_edit::before
{
    content: "3"; /* 3 in Pictos is a check mark */
	 
}

.sheet-big-col{
	width: calc(60% - 20px) !important;
}
.sheet-small-col{
	width: calc(40% - 20px) !important;
}


.sheet-characteristics 
{
	border: 3px solid black;
	width: 100%
}

.sheet-characteristics p
{
	margin-left: 3px;
	margin-right: 7px;
	font-weight: bold;
	margin-bottom: 0px;
}

button[type="roll"].sheet-plain
{
	width:100%;
}
button[type="roll"].sheet-plain-major-wound
{
background:    #000;
background:    -webkit-linear-gradient(#000, #000);
background:    linear-gradient(#000, #000);
border-radius: 5px;
color:         #fff;
display:       inline-block;
text-align:    center;
text-shadow:   1px 1px 0 #000;
font-size: 1.0em;
	
}

button[type="roll"].sheet-plain-major-wound::before
{
    content: "";
	width: 117px;
	color: #fff ; 
	background-color: #000
	
}


button[type="roll"].sheet-plain::before
{
    content: "";

}


.sheet-hit-location-selection {
	color: #ffffff;
    background-color: #000000;
	width:100%
}


.sheet-hit-location-selection td{
	padding-left: 20px;
}

.sheet-hit-location-selection  select{
	color: #ffffff;
    background-color: #000000;
	margin-top: 3px;
}

.sheet-loc-text{
	text-align:left;
	
}


.sheet-header-text{
	font-size: 10px;
}
.sheet-armor-name{
	width:100px;
}


.sheet-template_value{
	text-align: right;
}

.sheet-rolltemplate-melee-damage th {
	text-align: center;
	color: #ffffff;
    background-color: #000000;
}
.sheet-rolltemplate-melee-damage table {
    width: 230px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}


.sheet-rolltemplate-missile-damage th {
	text-align: center;
	color: #ffffff;
    background-color: #000000;
}
.sheet-rolltemplate-missile-damage table {
    width: 230px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}



.sheet-rolltemplate-skillRoll-template_value{
	text-align: right;
}

.sheet-template_value{
	text-align: right;
}

.sheet-rolltemplate-Hit-Location-template_value{
	text-align: center;
}
.sheet-rolltemplate-Hit-Location th {
	text-align: center;
	color: #ffffff;
    background-color: #000000;
}
.sheet-rolltemplate-Hit-Location table {
    width: 230px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}

.sheet-rolltemplate-skillRoll th {
	text-align: centre;
	color: #ffffff;
    background-color: #000000;
}
.sheet-rolltemplate-skillRoll table {
    width: 230px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-melee-roll th {
	text-align: centre;
	color: #ffffff;
    background-color: #000000;
}
.sheet-rolltemplate-melee-roll table {
    width: 230px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}

.sheet-rolltemplate-melee-roll .template_value{
	text-align: right;
}
.charsheet .sheet-cat_header{
	font-size:1.3em;
}

.charsheet .sheet-chkfiller{
	width:12px;
}

.charsheet .sheet-skillname{
	width:150px;
}

.charsheet .sheet-repeat-skillname{
	width:151px;
}

.charsheet button[type=roll].sheet-textButton {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    /*margin-top: -5px;*/
    /*width: 70%;*/
}

.charsheet span.sheet-diceroll {
    font-family: "dicefontd20";
}

.charsheet button[type=roll].sheet-textButton::before,
.charsheet button[type=roll].sheet-powerButton::before {
    content: "" !important;
}

.charsheet input[type=text].sheet-standard {
    border-top: none;
    border-right: none;
	border-left: none;
	border-bottom: dotted 1px black;
    color: black;
}