{% set hdArray = [2,4,6,8,10,12,20] %}
{% for hd in hdArray %}
  <input type="hidden" name="attr_hd_d{$ hd $}_toggle" class="toggle-hd-d{$ hd $}">
  <div class="shaped-row center flex-end toggle-hd-d{$ hd $}">
    <div class="1-rem">
      <input type="number" name="attr_hd_d{$ hd $}" class="no-spin no-border" min="0" step="1">
    </div>
    <div>&#47;</div>
    <div>
      <span name="attr_hd_d{$ hd $}_max" class="center"></span>
    </div>
    <input type="hidden" name="attr_hd_d{$ hd $}_query">
    <div>
      <button type="roll" name="roll_shaped_hd_d{$ hd $}" class="bold" value="@{hit_dice_output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{hd_d{$ hd $}_query}d{$ hd $} ^{HIT_DICE}}} {{uses=@{hd_d{$ hd $}}}} {{uses_max=@{hd_d{$ hd $}|max}}} @{roll_info} {{roll1=[[{((@{hd_d{$ hd $}_query})d{$ hd $}[d{$ hd $} * hd] + ((@{hd_d{$ hd $}_query}) * @{constitution_mod})[con mod * hd]), 0d0+1}kh1[minimum of 1]]]}} @{attacher_hit_dice}">
        d{$ hd $}
      </button>
    </div>
  </div>
{% endfor %}