<input type="checkbox" name="attr_hd_d2_toggle" value="1" class="toggle-hd-d2 hidden">
<input type="checkbox" name="attr_hd_d4_toggle" value="1" class="toggle-hd-d4 hidden">
<input type="checkbox" name="attr_hd_d6_toggle" value="1" class="toggle-hd-d6 hidden">
<input type="checkbox" name="attr_hd_d8_toggle" value="1" class="toggle-hd-d8 hidden">
<input type="checkbox" name="attr_hd_d10_toggle" value="1" class="toggle-hd-d10 hidden">
<input type="checkbox" name="attr_hd_d12_toggle" value="1" class="toggle-hd-d12 hidden">
<input type="checkbox" name="attr_hd_d20_toggle" value="1" class="toggle-hd-d20 hidden">

<div class="shaped-row center flex-end toggle-hd-d2">
  <div class="1-5-rem pad-r-sm">
    <input type="number" name="attr_hd_d2" class="no-spin no-border" min="0" step="1">
  </div>
  <div>&#47;</div>
  <div class="1-5-rem">
    <span name="attr_hd_d2_max" class="center"></span>
  </div>
  <input type="hidden" name="attr_hd_d2_query">
  <div class="1-5-rem center">
    <button type="roll" name="roll_shaped_hd_d2" class="bold" value="@{hit_dice_output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{hd_d2_query}d2 ^{HIT_DICE}}} {{uses=@{hd_d2}}} {{uses_max=@{hd_d2|max}}} @{roll_info} {{roll1=[[{((@{hd_d2_query})d2[d2 * hd] + ((@{hd_d2_query}) * @{constitution_mod})[con mod * hd]), 0d0+1}kh1[minimum of 1]]]}} @{attacher_hit_dice}">
      d2
    </button>
  </div>
</div>
<div class="shaped-row center flex-end toggle-hd-d4">
  <div class="1-5-rem pad-r-sm">
    <input type="number" name="attr_hd_d4" class="no-spin no-border" min="0" step="1">
  </div>
  <div>&#47;</div>
  <div class="1-5-rem">
    <span name="attr_hd_d4_max" class="center"></span>
  </div>
  <input type="hidden" name="attr_hd_d4_query">
  <div class="1-5-rem center">
    <button type="roll" name="roll_shaped_hd_d4" class="bold" value="@{hit_dice_output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{hd_d4_query}d4 ^{HIT_DICE}}} {{uses=@{hd_d4}}} {{uses_max=@{hd_d4|max}}} @{roll_info} {{roll1=[[{((@{hd_d4_query})d4[d4 * hd] + ((@{hd_d4_query}) * @{constitution_mod})[con mod * hd]), 0d0+1}kh1[minimum of 1]]]}} @{attacher_hit_dice}">
      d4
    </button>
  </div>
</div>
<div class="shaped-row center flex-end toggle-hd-d6">
  <div class="1-5-rem pad-r-sm">
    <input type="number" name="attr_hd_d6" class="no-spin no-border" min="0" step="1">
  </div>
  <div>&#47;</div>
  <div class="1-5-rem">
    <span name="attr_hd_d6_max" class="center"></span>
  </div>
  <input type="hidden" name="attr_hd_d6_query">
  <div class="1-5-rem center">
    <button type="roll" name="roll_shaped_hd_d6" class="bold" value="@{hit_dice_output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{hd_d6_query}d6 ^{HIT_DICE}}} {{uses=@{hd_d6}}} {{uses_max=@{hd_d6|max}}} @{roll_info} {{roll1=[[{((@{hd_d6_query})d6[d6 * hd] + ((@{hd_d6_query}) * @{constitution_mod})[con mod * hd]), 0d0+1}kh1[minimum of 1]]]}} @{attacher_hit_dice}">
      d6
    </button>
  </div>
</div>
<div class="shaped-row center flex-end toggle-hd-d8">
  <div class="1-5-rem pad-r-sm">
    <input type="number" name="attr_hd_d8" class="no-spin no-border" min="0" step="1">
  </div>
  <div>&#47;</div>
  <div class="1-5-rem">
    <span name="attr_hd_d8_max" class="center"></span>
  </div>
  <input type="hidden" name="attr_hd_d8_query">
  <div class="1-5-rem center">
    <button type="roll" name="roll_shaped_hd_d8" class="bold" value="@{hit_dice_output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{hd_d8_query}d8 ^{HIT_DICE}}} {{uses=@{hd_d8}}} {{uses_max=@{hd_d8|max}}} @{roll_info} {{roll1=[[{((@{hd_d8_query})d8[d8 * hd] + ((@{hd_d8_query}) * @{constitution_mod})[con mod * hd]), 0d0+1}kh1[minimum of 1]]]}} @{attacher_hit_dice}">
      d8
    </button>
  </div>
</div>
<div class="shaped-row center flex-end toggle-hd-d10">
  <div class="1-5-rem pad-r-sm">
    <input type="number" name="attr_hd_d10" class="no-spin no-border" min="0" step="1">
  </div>
  <div>&#47;</div>
  <div class="1-5-rem">
    <span name="attr_hd_d10_max" class="center"></span>
  </div>
  <input type="hidden" name="attr_hd_d10_query">
  <div class="1-5-rem center">
    <button type="roll" name="roll_shaped_hd_d10" class="bold" value="@{hit_dice_output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{hd_d10_query}d10 ^{HIT_DICE}}} {{uses=@{hd_d10}}} {{uses_max=@{hd_d10|max}}} @{roll_info} {{roll1=[[{((@{hd_d10_query})d10[d10 * hd] + ((@{hd_d10_query}) * @{constitution_mod})[con mod * hd]), 0d0+1}kh1[minimum of 1]]]}} @{attacher_hit_dice}">
      d10
    </button>
  </div>
</div>
<div class="shaped-row center flex-end toggle-hd-d12">
  <div class="1-5-rem pad-r-sm">
    <input type="number" name="attr_hd_d12" class="no-spin no-border" min="0" step="1">
  </div>
  <div>&#47;</div>
  <div class="1-5-rem">
    <span name="attr_hd_d12_max" class="center"></span>
  </div>
  <input type="hidden" name="attr_hd_d12_query">
  <div class="1-5-rem center">
    <button type="roll" name="roll_shaped_hd_d12" class="bold" value="@{hit_dice_output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{hd_d12_query}d12 ^{HIT_DICE}}} {{uses=@{hd_d12}}} {{uses_max=@{hd_d12|max}}} @{roll_info} {{roll1=[[{((@{hd_d12_query})d12[d12 * hd] + ((@{hd_d12_query}) * @{constitution_mod})[con mod * hd]), 0d0+1}kh1[minimum of 1]]]}} @{attacher_hit_dice}">
      d12
    </button>
  </div>
</div>
<div class="shaped-row center flex-end toggle-hd-d20">
  <div class="1-5-rem pad-r-sm">
    <input type="number" name="attr_hd_d20" class="no-spin no-border" min="0" step="1">
  </div>
  <div>&#47;</div>
  <div class="1-5-rem">
    <span name="attr_hd_d20_max" class="center"></span>
  </div>
  <input type="hidden" name="attr_hd_d20_query">
  <div class="1-5-rem center">
    <button type="roll" name="roll_shaped_hd_d20" class="bold" value="@{hit_dice_output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{hd_d20_query}d20 ^{HIT_DICE}}} {{uses=@{hd_d20}}} {{uses_max=@{hd_d20|max}}} @{roll_info} {{roll1=[[{((@{hd_d20_query})d20[d20 * hd] + ((@{hd_d20_query}) * @{constitution_mod})[con mod * hd]), 0d0+1}kh1[minimum of 1]]]}} @{attacher_hit_dice}">
      d20
    </button>
  </div>
</div>