#page-wrap {
  width: 1024px;
}

input.sheet-oldtab1:not(:checked) ~ .sheet-oldtab1,
input.sheet-oldtab2:not(:checked) ~ .sheet-oldtab2,
input.sheet-oldtab3:not(:checked) ~ .sheet-oldtab3,
input.sheet-oldtab4:not(:checked) ~ .sheet-oldtab4,
input.sheet-oldtab5:not(:checked) ~ .sheet-oldtab5{
    display: none;
}

table.sheet-status-table td:nth-child(odd) {
    width:40%;
}

table.sheet-status-table td:nth-child(even) {
    width:10%;
}

input.sheet-oldtab {
    width: calc(20% - 4px);
    max-width: 150px;
    height: 20px;
    
    outline: none !important;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

input.sheet-oldtab1 {
    margin-left: 1px;
}

input.sheet-oldtab::before {
    content: attr(title);
    display: inline-block;

    background: #fff;
    border: solid 1px #a8a8a8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    
    width: 100%;
    height: 20px;
}

input.sheet-oldtab:checked::before {
    border-bottom-color: white;
}

.sheet-oldtab-br {
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 5px;
    margin-top: 1px;
}

.sheet-tabs {
      position: relative;   
      min-height: 200px; /* This part sucks */
      clear: both;
      margin: 25px 0;      
    }

.sheet-tab {
  /*float: left; */
}

.sheet-tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px;        
  width: 80px;
  display: block;
}

/*.sheet-clear { clear: both; }*/

.sheet-tab [type=radio] {
  display: none;   
}

.sheet-content {
  position: absolute;
  top: 0px;
  left: 102px;
  background: white;
  overflow: auto;
  height: auto;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;       
}

.sheet-tab [type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

.sheet-tab [type=radio]:checked ~ label ~ .sheet-content {
  z-index: 1;
}
    
div.sheet-checklist {
    display: none;
}

input.sheet-arrow[type="checkbox"] {
    color: #E0E0E0;
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-arrow[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 14px;
    height: 14px;
    content: "▼";
    color: #E0E0E0;
    transform: rotate(-90deg);
}

input.sheet-arrow[type="checkbox"]:checked + span::before {
    width: 14px;
    height: 14px;
    content: "▼";
    
    transform: rotate(0deg);
}

input.sheet-arrow {
    float: left;
}

input.sheet-arrow:checked ~ table div.sheet-checklist {
    display: block;
}

tr.sheet-featlist {
    display: none;
}

input.sheet-arrow:checked ~ table tr.sheet-featlist {
    display: table-row;
}

.sheet-rolltemplate-PTU table {
    width: 100%;
    border: 1px solid;
    color: black;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sheet-rolltemplate-PTU th {
    background: url(http://i.imgur.com/5aRtcpq.png) top no-repeat, url(http://i.imgur.com/yyzOMmI.png top no-repeat);
    color: #ffffff;
    padding: 2px 2px 2px 40px;
    border-bottom: 1px solid black;
    line-height: 1.6em;
    font-size: 1.2em;
}

.sheet-rolltemplate-PTU .userscript-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-PTU td {
	padding: 5px;
	border-bottom: 1px solid black;
}

.sheet-rolltemplate-PTU tr:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}

.sheet-rolltemplate-PTU tr:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}

.sheet-rolltemplate-PTU .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1); /*Cool Gray 6 C*/
}

.sheet-rolltemplate-PTU .inlinerollresult.fullcrit {
	border: 2px solid #3FB315;
}

.sheet-rolltemplate-PTU .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-PTU .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}

.sheet-rolltemplate-PTU .sheet-hit {
    background-color: #3ADF00;
    text-align: center;
    font-size: 150%;
    font-family: ,Serif;
}

.sheet-rolltemplate-PTU .sheet-miss {
    background-color: #DF0101;
    text-align: center;
    font-size: 150%;
    font-family: "Courier New",Serif;
}

.sheet-table tr:nth-child(odd) {
    background-color: #E5E5E5;
}

.sheet-table tr:nth-child(even) {
    background-color: white;
}

.sheet-big-table tr:nth-child(even),
.sheet-left-half-table tr:nth-child(even),
.sheet-right-half-table tr:nth-child(even){
    background-color: #E5E5E5;
}

.sheet-shortfield{
 width:100%; 
}

.sheet-shortfield2{
 width:4em;   
}

.sheet-shortfield3{
 width:62%;  
}

.sheet-shortfield4{
 width:32%;   
}

.sheet-shortfield5{
 width:85%;   
}

.sheet-shortfield6{
 width:20%;
}

.sheet-shortfield7{
 width: 70%;
}

.sheet-shortfield8{
 width: 10%;
}

.sheet-header{
 color: white;
 background: black;
 text-align: center;
}

.sheet-table-header{
 font-weight: bold;
}

.sheet-table-header-1{
 font-weight: bold;
 width: 39%;
}

.sheet-banded{
 background: #E5E5E5;   
}

.sheet-table,
.sheet-big-table{
 width: 100%;
}

.sheet-table-1{
 width: 33%;
}

.sheet-left-half-table{
 width: 48%;
 float: left;
}


.sheet-right-half-table{
 width: 48%;
 float: right;
}

.sheet-main-header{
 width:100%;
}

tr.sheet-five-strike,
tr.sheet-double-strike,
tr.sheet-rollout{
  display: none;
}

input.sheet-five-strike:checked ~ table tr.sheet-normal,
input.sheet-double-strike:checked ~ table tr.sheet-normal,
input.sheet-rollout:checked ~ table tr.sheet-normal{
 display: none;
}

.sheet-target,
input.sheet-targeted:checked ~ div input.sheet-five-strike:checked ~ table tr.sheet-normal.sheet-target,
input.sheet-targeted:checked ~ div input.sheet-double-strike:checked ~ table tr.sheet-normal.sheet-target,
input.sheet-targeted:checked ~ div input.sheet-rollout:checked ~ table tr.sheet-normal.sheet-target,
input.sheet-targeted:checked ~ div input.sheet-five-strike:checked ~ table tr.sheet-five-strike:not(.sheet-target),
input.sheet-targeted:checked ~ div input.sheet-double-strike:checked ~ table tr.sheet-double-strike:not(.sheet-target),
input.sheet-targeted:checked ~ div input.sheet-rollout:checked ~ table tr.sheet-rollout:not(.sheet-target){
    display: none;
}

input.sheet-targeted:not(:checked) ~ div input.sheet-five-strike:checked ~ table tr.sheet-five-strike:not(.sheet-target),
input.sheet-targeted:not(:checked) ~ div input.sheet-double-strike:checked ~ table tr.sheet-double-strike:not(.sheet-target),
input.sheet-targeted:not(:checked) ~ div input.sheet-rollout:checked ~ table tr.sheet-rollout:not(.sheet-target),
input.sheet-targeted:checked ~ div .sheet-target:not(.sheet-rollout):not(.sheet-double-strike):not(.sheet-five-strike),
input.sheet-targeted:checked ~ div input.sheet-five-strike:checked ~ table tr.sheet-five-strike.sheet-target,
input.sheet-targeted:checked ~ div input.sheet-double-strike:checked ~ table tr.sheet-double-strike.sheet-target,
input.sheet-targeted:checked ~ div input.sheet-rollout:checked ~ table tr.sheet-rollout.sheet-target{
    display: table-row;
}

input.sheet-targeted:checked ~ div .sheet-nontarget{
    display: none;
}

.sheet-center-img{
 margin: 0 auto;
}

.sheet-minihead{
 color: white;
 background: gray;
 text-align: center;
}

.sheet-bold{
    font-weight: bold;
}

.sheet-allign-1{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: 24.2%;
}

.sheet-allign-2{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: 5%;
}

.sheet-allign{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: .2%;
}

.sheet-textarea{
    resize: none;
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.sheet-textarea-b{
    resize: none;
    border-width: 1px;
    border-color: black;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

select { margin-bottom: 0; }
