input.sheet-tab1:not(:checked) ~ .sheet-tab1,
input.sheet-tab2:not(:checked) ~ .sheet-tab2,
input.sheet-tab3:not(:checked) ~ .sheet-tab3{
    display: none;
}

input.sheet-tab {
    width: calc(20% - 4px);
    max-width: 150px;
    height: 20px;
    
    outline: none !important;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab1 {
    margin-left: 1px;
}

input.sheet-tab::before {
    content: attr(title);
    display: inline-block;

    background: #fff;
    border: solid 1px #a8a8a8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    
    width: 100%;
    height: 20px;
}

input.sheet-tab:checked::before {
    border-bottom-color: white;
}

.sheet-tab-br {
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 5px;
    margin-top: 1px;
}


.sheet-rolltemplate-PTU table {
    width: 100%;
    border: 1px solid;
    color: black;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sheet-rolltemplate-PTU th {
	background: url(http://i.imgur.com/5aRtcpq.png) top no-repeat, url(http://i.imgur.com/yyzOMmI.png top no-repeat);
	color: #ffffff;
	padding: 2px 2px 2px 40px;
	border-bottom: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
}

.sheet-rolltemplate-PTU .userscript-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-PTU td {
	padding: 5px;
	border-bottom: 1px solid black;
}

.sheet-rolltemplate-PTU tr:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}

.sheet-rolltemplate-PTU tr:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}

.sheet-rolltemplate-PTU .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1); /*Cool Gray 6 C*/
}

.sheet-rolltemplate-PTU .inlinerollresult.fullcrit {
	border: 2px solid #3FB315;
}

.sheet-rolltemplate-PTU .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-PTU .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}

tr:nth-child(odd) {
    background-color: #E5E5E5;
}

.sheet-shortfield{
 width:100%; 
}

.sheet-shortfield2{
 width:4em;   
}

.sheet-shortfield3{
 width:62%;  
}

.sheet-shortfield4{
 width:32%;   
}

.sheet-shortfield5{
 width:85%;   
}

.sheet-shortfield6{
 width:20%;
}

.sheet-shortfield7{
 width: 70%;
}

.sheet-shortfield8{
 width: 10%;
}

.sheet-header{
 color: white;
 background: black;
 text-align: center;
}

.sheet-table-header{
 font-weight: bold;
}

.sheet-table-header-1{
 font-weight: bold;
 width: 39%;
}

.sheet-banded{
 background: #E5E5E5;   
}

.sheet-table{
 width: 100%;
}

.sheet-table-1{
 width: 33%;
}

.sheet-left-half-table{
 width: 48%;
 float: left;
}


.sheet-right-half-table{
 width: 48%;
 float: right;
}

.sheet-main-header{
 width:100%;
}

tr.sheet-five-strike{
  display: none;
}

input.sheet-five-strike:checked ~ table tr.sheet-normal{
 display: none;
}

input.sheet-five-strike:checked ~ table tr.sheet-five-strike{
  display: table-row;
}


.sheet-center-img{
 margin: 0 auto;
}

.sheet-minihead{
 color: white;
 background: gray;
 text-align: center;
}

.sheet-bold{
    font-weight: bold;
}

.sheet-allign-1{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: 24.2%;
}

.sheet-allign-2{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: 15%;
}

.sheet-allign{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: .2%;
}

.sheet-textarea{
    resize: none;
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.sheet-textarea-b{
    resize: none;
    border-width: 1px;
    border-color: black;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

select { margin-bottom: 0; }
