section.page#page-ressources
    .col.col-2#inventory
        h4.blue Ressources
        +fillLeft('resources', '', 8, 0)
        h4.red Possessions
        +textareaInput(`inventory`)#inventory
    .col.col-2#contacts
        h4.red Contacts
        +fillLeft('concacts', '', 8, 0)
        h4.blue Relations
            span Niveau
        fieldset.repeating_relations
            +cbButton('expand', ' ', 1)
            +textInput('name')
            +numberInput('level')
            +hiddenInput('expand')
            +textareaInput('description')

