.charsheet {
    width: 842px !important;
    margin: 0 auto !important;
}
h3 {
    line-height: 27px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
select {
    margin-bottom: 0;
}
h3::after, h3::before {
    display: inline-block;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #000;
    width: 80px;
}
h3::after {
    margin: 0 0 5px 20px;
}
h3::before {
    margin: 0 20px 5px 0;
}
.repitem {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    justify-content: space-between;
}
.sheet-flex-between {
    display: flex;
    justify-content: space-between;
}
.sheet-flex {
    display: flex;
    align-items: start;
}
.sheet-noborder, .sheet-thick-border {
    padding: 15px;
}
.sheet-col-1, .sheet-col-2, .sheet-thick-border {
    box-sizing: border-box;
}
.sheet-thick-border {
    border: 4px solid;
    overflow: auto;
    margin-bottom: 10px;
}
.sheet-col-left {
    width: 48%;
}
.sheet-col-right {
    width: 51%;
}
.sheet-save-col {
    flex-direction: column;
}
.sheet-logo {
    margin: 12px auto;
    display: block;
}
input {
    border-radius: 0;
    border: 1px solid;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* INFO BLOCK */
.sheet-info-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.sheet-info-name input {
    flex: 1 1 0;
    margin: 0 1%;
}
.sheet-info-row {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sheet-info-row input {
    text-align: center;
}
.sheet-info1 {
    width: 11%;
}
.sheet-info2 {
    width: 20%;
}
.sheet-info3 {
    width: 32%;
}
.sheet-bottom-line {
    border: none;
    border-bottom: 1px solid;
}
/* Abilities */
.sheet-ability-column-value {
    width: 32%;
    height: 90px;
    text-align: center;
    font-weight: bold;
}
.sheet-ability-column-modifier {
    width: 50%;
    height: 90px;
    align-items: center;
    font-weight: bold;
}
.sheet-ability-column-roll {
    width: 15%;
    height: 90px;
}
input[type=number].sheet-ability-modifier {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 0;
}
.sheet-subtext {
    width: 118px;
}
input[type=number].sheet-ability-value {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 6px auto;
}
button[type=roll].sheet-ability-button {
    width: 40px;
    height: 40px;
    font-size: 26px;
    background-color: white;
    background-image: none;
    color: black;
    text-shadow: none;
    margin: auto;
    display: block;
}
/* SAVINGS */
.sheet-hp {
    background-color: #ffcc00;
}
.sheet-svblock {
    width: 20%;
    text-align: center;
}
.sheet-svbtitle {
    font-size: 16px;
    display: block;
    height: 34px;
}
.sheet-svnsubtext {
    font-size: 11px;
    width: 90%;
    margin: 10px auto;
    min-height: 80px;
    display: block;
}
input[type=number].sheet-savingthrow {
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 10px auto;
}
.sheet-equipmentname {
    width: 87%;
    padding-left: 4px;
}
.sheet-skillname {
    width: 76%;
}
button[type=roll].sheet-skill-button {
    width: 30px;
    height: 28px;
    font-size: 20px !important;
    background-color: white;
    background-image: none;
    color: black;
    text-shadow: none;
    margin-right: 0;
}
button[type=roll].sheet-skill-button::before {
    font-family: "dicefontd6";
    content: "f";
}
.sheet-equipment {
    display: flex;
    flex-wrap: wrap;
}
.sheet-equipment .repcontainer {
    width: 100%;
    order: 2;
}
.sheet-equipment h3 {
    order: 1;
}
.sheet-equipment .repcontrol {
    order: 4;
    width: 100%;
}
input[type=number].sheet-encumbrance,
select.sheet-encumbrance,
select.sheet-skillvalue {
    width: 39px;
    text-align: center;
}
.sheet-encumbrance-total .sheet-encumbrance {
    font-weight: bold;
}
.sheet-encumbrance-total {
    font-weight: bold;
    align-items: center;
    margin: 5px 0;
    padding-top: 3px;
    order: 3;
    width: 100%;
}
.sheet-top-line {
    border-top: 2px solid black;
}
/* Weapons */
.sheet-weapon-title {
    text-align: center;
    padding: 2px 0;
    font-weight: bold;
    align-items: center;
    margin-bottom: 3px;
}
.sheet-weaponname {
    width: 31%;
}
.sheet-attackbonus,
input[type=number].sheet-attackbonus,
.sheet-damage,
.sheet-weapontype {
    width: 10%;
    text-align: center;
}
button[type=roll].sheet-attack-button {
    width: 30px;
    height: 28px;
    font-size: 20px;
    background-color: white;
    background-image: none;
    color: black;
    margin-right: 0;
    text-Shadow: none;
}
.sheet-dummy-attack-button {
    width: 30px;
    margin-left: 3px;
}
/* Spells */
.sheet-spells .repitem {
    flex-wrap: wrap;
    width: 49.5%;
    justify-content: space-between;
}
.sheet-spells .repcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sheet-spellname {
    width: 69%;
    font-weight: bold;
}
.sheet-spelltype {
    width: 24%;
}
.sheet-spelllevel,
.sheet-spellprepared,
.sheet-spellduration,
.sheet-spellrange {
    text-align: center;
}
.sheet-spelllevel {
    width: 6%;
}
input[type=number].sheet-spellprepared {
    width: 23px;
}
.sheet-spellduration {
    width: 41%;
}
.sheet-spellrange {
    width: 23%;
}
.sheet-spelldescription {
    resize: vertical;
    box-sizing: border-box;
    border-radius: 0;
    height: 80px;
    margin-bottom: 4px;
    min-height: 60px;
}
.sheet-spells-per-level {
    align-items: center;
    font-weight: bold;
    margin: 0 0 12px;
}
.sheet-spells-per-level > div {
    align-items: center;
    width: 82px;
}
.sheet-spells-per-level input[type=number] {
    border-radius: 3px;
    width: 2em;
    padding: 1px 4px;
    border: 1px solid #ccc;
}
/* sheet roll template for Saga Default */
.sheet-rolltemplate-lotfp_check table {
    width: 100%;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border-collapse: separate;
    border: solid black 1px;
}
.sheet-rolltemplate-lotfp_check th {
    background-color: #000000;
    color: #ffffff;
    padding: 2px;
    line-height: 1.6em;
    font-size: 1.2em;
    border-top: none;
}
.sheet-rolltemplate-lotfp_check .sheet-subheader {
    background-color: #333333;
    color: #ffffff;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}
.sheet-rolltemplate-lotfp_check .sheet-tcat {
    font-weight: bold;
}
.sheet-rolltemplate-lotfp_check td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
.sheet-rolltemplate-lotfp_check tr:nth-child(odd) {
    background-color: #ffffff;
}
.sheet-rolltemplate-lotfp_check tr:nth-child(even) {
    background-color: #ededed;
}
.sheet-rolltemplate-lotfp_check .inlinerollresult {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #c5c6c7; /*Cool Gray 6 C*/
}
.sheet-rolltemplate-lotfp_check .inlinerollresult.fullcrit {
    background-color: #3FB315;
    color: white;
}
.sheet-rolltemplate-lotfp_check .inlinerollresult.fullfail {
    background-color: #B31515;
    color: white;
}
.sheet-rolltemplate-lotfp_check .inlinerollresult.importantroll {
    background-color: #4A57ED;
    color: white;
}
.sheet-rolltemplate-lotfp_check div {
    width: 100%;
    max-width: 400px;
}
