.charsheet{
    width:842px !important;
    margin:0 auto !important;
}
h3 {
    line-height: 27px;
    font-size: 17px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
}
h3:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #000;
    width: 80px;
}
h3:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #000;
    width: 80px;
}
.sheet-hp{
    background-color#ffcc00 !important;
}
.sheet-noborder{
    border:none !important;
    padding: 15px;
}
.sheet-col-border{
    border: 4px solid;
    overflow: auto;
    margin-bottom: 10px;
    padding: 15px;
}
.sheet-col-1{
    width: calc(45% - 20px) !important;
    margin-right: 10px !important;  
}
.sheet-col-2{
    width: calc(49% - 20px) !important;
}
.sheet-weapons{
    width: calc(98% - 20px) !important;
}
.sheet-logo{
    margin: 12px auto;
    display: block;
}
input{border-radius:0;border:1px solid;}
.attr_info1{
    width:11%;
    margin-left:1%;
    float:left;
    text-align:center;
}
.attr_info2{
    width:20%;
    margin-left:1%;
    float:left;
    text-align:center;
}
.attr_info3{
    width:32%;
    margin-left:1%;
    float:left;
    text-align:center;
}
select.attr_info3{
    border-radius:none !important;
    border:1px solid !important;
    text-align:center !important;
}
.attr_info{
    width:89%;
    margin-left:1%;
    margin-bottom:5px;
}
.attr_bottom_line{
    border:none;
    border-bottom:1px solid;
}
/* Abilities */
div.sheet-ability-column-value{
    float:left;
    width:32%;
    text-align:center;
    font-weight:bold;
}
div.sheet-ability-column-modifier{
    float:left;
    width:50%;
}
div.sheet-ability-column-roll{
    float:left;
    width:15%
}
div.attr_block{
    overflow:auto;
}
input.attr_ability_modifier {
    width: 40px !important;
    height: 40px !important;
    display: block;
    border: 1px solid;
    border-radius: 20px;
    font-size: 20px;
    text-align: center !important;
    padding: 0;
    float:left;
    margin: 25px 0 !important;
}
span.attr_subtext{
    display: block;
    width: 118px;
    float: left;
    margin-top: 25px;
    margin-left: 15px;
}
input.attr_ability_modifier::-webkit-outer-spin-button,
input.attr_ability_modifier::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input.attr_ability_value {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 0;
    display: block;
    margin: 6px auto;
}
button.sheet-ability-button{
    width: 40px;
    height: 40px;
    font-size: 26px !important;
    background-color: white;
    background-image: none;
    color: black;
    text-Shadow: none;
    margin: 18px auto !important;
    display: block;
}
/* SAVINGS */
.attr_svblock {
    width: 20%;
    float: left;
    text-align: center;
}
.attr_svbtitle{
    font-size: 16px;
    display: block;
    vertical-align: middle;
    height: 34px;
    text-align: center;
}
.attr_svnsubtext{
    font-size: 11px;
    margin: 0 5%;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    min-height: 80px;
    display: block;
}
.sheet-savingthrow{
    width: 40px !important;
    height: 40px !important;
    display: block;
    border: 1px solid;
    border-radius: 20px;
    font-size: 20px;
    text-align: center !important;
    padding: 0;
    margin: 10px auto !important;
}
input.sheet-savingthrow::-webkit-outer-spin-button,
input.sheet-savingthrow::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.attr_equipment{
    width:87%;
}
.attr_skillname{
    width:76%;
}
button.sheet-skill-button{
    width: 30px;
    height: 30px;
    font-size: 20px !important;
    background-color: white;
    background-image: none;
    color: black;
    text-Shadow: none;
}
button.sheet-skill-button:before {
    font-family: "dicefontd6" !important;
    content: "f" !important;
}
select.sheet-encumbrance, select.sheet-skillvalue {
    width: 39px;
} 
/*Weapons*/
.attr_weapon_title{
    display: block;
    float: left;
    text-align: center;
    margin: 2px;
    font-weight: bold !important;
}
.attr_weaponname{
    width:31%;
}
.attr_attackBonus,.attr_damage,.attr_weapontype{
    width:10%;
    text-align:center;
}
button.sheet-attack-button{
    width: 30px;
    height: 30px;
    font-size: 20px !important;
    background-color: white;
    background-image: none;
    color: black;
    text-Shadow: none;
}
/* sheet roll template for Saga Default */
.sheet-rolltemplate-lotfp_check table {
    width:100%;
    font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	border-collapse:separate;
    border:solid black 1px;
}

.sheet-rolltemplate-lotfp_check th {
	background-color: #000000;
	color: #ffffff;
	padding: 2px;
	line-height: 1.6em;
	font-size: 1.2em;	
    border-top: none;
}
.sheet-rolltemplate-lotfp_check .sheet-subheader {
	background-color: #333333;
    color: #ffffff;
    font-size: 1em;
    font-style: italic;
	text-align: center;
}
.sheet-rolltemplate-lotfp_check .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-lotfp_check td {
	padding: 5px;
	border: 1px solid black;
	text-align: center;
}

.sheet-rolltemplate-lotfp_check tr:nth-child(odd) {
	background-color: #ffffff;
}

.sheet-rolltemplate-lotfp_check tr:nth-child(even) {
	background-color: #ededed;
}

.sheet-rolltemplate-lotfp_check .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;	
	border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
	background-color: #c5c6c7; /*Cool Gray 6 C*/
}

.sheet-rolltemplate-lotfp_check .inlinerollresult.fullcrit {
	background-color: #3FB315;
	color: white;
}

.sheet-rolltemplate-lotfp_check .inlinerollresult.fullfail {
	background-color: #B31515;
	color: white;
}

.sheet-rolltemplate-lotfp_check .inlinerollresult.importantroll {
	background-color: #4A57ED;
	color: white;
}
.sheet-rolltemplate-lotfp_check div{ 
	width:100%; 
	max-width:400px; 
}