.sheet-isPC:checked~.sheet-npc,
.sheet-isNPC:checked~.sheet-pc,
.sheet-npc-general-show:not(:checked)~.sheet-npc-general,
.sheet-npc-defense-show:not(:checked)~.sheet-npc-defense,
.sheet-npc-offense-show:not(:checked)~.sheet-npc-offense,
.sheet-npc-tactics-show:not(:checked)~.sheet-npc-tactics,
.sheet-npc-statistics-show:not(:checked)~.sheet-npc-statistics,
.sheet-npc-special-abilities-show:not(:checked)~.sheet-npc-special-abilities {
    display:none;
}  

hr {
    border-color:black;
}

.sheet-table {
    display:table;
    width:100%;
}

.sheet-table-name {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    width:100%;
}

.sheet-table-header {
    display:table-cell;
    text-align:center;
    font-weight:bold;
    vertical-align:bottom;
}

.sheet-table-data-left {
    display:table-cell;
    text-align:left;
    vertical-align:top;
}

.sheet-table-data-right {
    display:table-cell;
    text-align:right;
    vertical-align:top;
}

.sheet-table-data-center {
    display:table-cell;
    text-align:center;
    vertical-align:top;
}

.sheet-table-row {
    display:table-row;
    vertical-align:top;
    width:100%;
}

.sheet-table-row-name {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    color:white;
    background-color:black;
    font-weight:bold;
}

input[type="text"], select {
    width:100%;
}

textarea {
    width:99%;
}