input(type="radio" name="attr_mode" class="sheet-hidden-flex sheet-delve-index")
div.sheet-delve-index.sheet-hidden-flex
  //- Header
  div.sheet-delve-mode
    include ../components/character-details/details.pug

  //- Left Bar
  div.sheet-delve-mode
    include ../components/nav/delve-modes.pug

  //- Pages
  //- Assets
  div.sheet-delve-mode
    include ../pages/assets.pug
  //- Bonds
  div.sheet-delve-mode
    include ../components/bonds/bonds.pug
  //- Moves
  div.sheet-delve-mode
    include ../components/moves/moves.pug
  //- Oracles
  div.sheet-delve-mode
    include ../components/oracles/delve-oracles.pug
    //- Progress
  div.sheet-delve-mode
    include ../components/progress/progress.pug
  //- Summary 
  div.sheet-delve-mode
    include ../components/character-details/stats.pug
    include ../components/assets/preview.pug
    include ../components/character-details/debilities.pug
  //-  Vows
  div.sheet-delve-mode
    include ../components/vows/vows.pug

  //- Right Bar
  div.sheet-delve-mode 
    include ../components/nav/delve-bar.pug

  //- Footer
  div.sheet-delve-mode 
    include ../components/character-details/momentum.pug