-
  data.character.belongings = {
    subtitles: {
      item_slots: { name: "item_slots", label: "Please note that the number of item slots is equal to 12+BDY"},
    },
    fields: {
      carry: { name: "carry", label: "Current", type: "hidden", blockName: "belongings" },
      carry_max: { name: "carry_max", label: "Max", type: "hidden", blockName: "belongings" },
      holos: { name: "holos", label: "Holos", placeholder: "0", type: "number", blockName: "belongings" },
      debts: { name: "debts", label: "Debts", placeholder: "0", type: "number", blockName: "belongings" },
    },
    inventory: {
      fields: {
        invname: { name: "item_name", label: "Name", placeholder: "Light EVA suit", type: "text", blockName: "inventory" },
        condition: { name: "item_condition", label: "Condition", placeholder: "0", type: "number", blockName: "inventory" },
        slots: { name: "item_slots", label: "Slots", value: "1", placeholder: "1", type: "number", blockName: "inventory" },
      }
    },
    smallitems: {
      fields: {
        itemname: { name: "item_name", label: "Name", placeholder: "Duct tape", type: "text", blockName: "small-items" },
      }
    },
    weapons: {
      fields: {
        wpnname: { name: "weapon_name", label: "Weapon", placeholder: "Oscillator Knife", type: "text", blockName: "weapons" },
        wpndamage: { name: "weapon_damage", label: "Damage", placeholder: "1d4", type: "text", blockName: "weapons" },
        wpnuses: { name: "weapon_uses", label: "Uses", placeholder: "0", type: "number", blockName: "weapons" },
        wpncondition: { name: "weapon_condition", label: "Condition", placeholder: "0", type: "number", blockName: "weapons" },
        wpnslots: { name: "weapon_slots", label: "Slots", value: "1", placeholder: "0", type: "number", blockName: "weapons" },
      }
    },
    armor: {
      fields: {
        armname: { name: "armor_name", label: "Armor", placeholder: "Light: Stab proof", type: "text", blockName: "armor" },
        armprotect: { name: "armor_protects_against", label: "Protects Against", placeholder: "Melee and thrown weapons", type: "text", blockName: "armor" },
        armbonus: { name: "armor_bonus", label: "DR Bonus", placeholder: "0", type: "number", blockName: "armor" },
        armcondition: { name: "armor_condition", label: "Condition", placeholder: "0", type: "number", blockName: "armor" },
        armslots: { name: "armor_slots", label: "Slots", value: "1", placeholder: "0", type: "number", blockName: "armor" },
      }
    }
  }
