-
  data.character.header = {
    headers: {
      sheetname: { name: "personal_data_sheet", label: "Personal Data Sheet" },
      sectionzero: { name: "player_information", label: "Section 0. Player Information" },
    },
    fields: {
      player: { name: "player_name", label: "Player Name", placeholder: "Gene Starwind", type: "text", blockName: "header" },
    }
  }
