-
  data.character.navigation = {
    fields: [
      { name: 'nav', label: 'Section 1. Personal Infomation', value: 'personal', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Section 2. Current Situation', value: 'situation', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Section 3. Personal Belongings', value: 'belongings', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Section 4. Notes', value: 'notes', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Config', value: 'config', type: "radio", blockName: "nav" },
    ]
  }
