-
  data.character.personal = {
    subtitles: {
      defense: { name: "defense_formula", label: "12+DEX Unarmored" },
      hitpoints: [
        { name: "start_with", label: "Start with 1d8" },
        { name: "recover", label: "Recover 1d8+BDY" },
      ]
    },
    fields: {
      origin: { name: "origin", label: "Origin", placeholder: "Carbon", type: "text", blockName: "personal" },
      name: { name: "character_name", label: "Name", placeholder: "Aisha Clanclan", type: "text", blockName: "personal" },
      nickname: { name: "nickname", label: "Nickname", placeholder: "Fire Cat", type: "text", blockName: "personal" },
      origin_benefit: { name: "origin_benefit", label: "Origin Benefit", placeholder: "Engineered lungs", type: "textarea", blockName: "personal" },
      xp: { name: "xp", label: "XP", placeholder: "0", type: "number", blockName: "personal" },
      background: { name: "background", label: "Background", placeholder: "Moon Outlaw", type: "text", blockName: "personal" },
      past_allegiance: { name: "past_allegiance", label: "Past Allegiance", placeholder: "An idea", type: "text", blockName: "personal" },
      trait: { name: "trait", label: "Trait", placeholder: "Polite", type: "text", blockName: "personal" },
      drive: { name: "drive", label: "Drive", placeholder: "Friends", type: "text", blockName: "personal" },
      looks: { name: "looks", label: "Looks", placeholder: "Trucker cap with patch", type: "textarea", blockName: "personal" },
      abilities: {
        name: "abilities",
        label: "Abilities",
        fields: [
          { name: "body", label: "Body", placeholder: "0", type: "number", blockName: "personal" },
          { name: "dexterity", label: "Dexterity", placeholder: "0", type: "number", blockName: "personal" },
          { name: "savvy", label: "Savvy", placeholder: "0", type: "number", blockName: "personal" },
          { name: "tech", label: "Tech", placeholder: "0", type: "number", blockName: "personal" },
        ]
      },
      defense: { name: "defense", label: "Defense", placeholder: "0", type: "number", blockName: "personal" },
      unarmored: { name: "unarmored", label: "Unarmored", placeholder: "0", type: "hidden", blockName: "personal" },
      hitpoints: {
        name: "hitpoints",
        label: "Hit Points",
        fields: {
          hp: { name: "hp", label: "Current", placeholder: "0", type: "number", blockName: "personal" },
          hp_max: { name: "hp_max", label: "Max", placeholder: "0", type: "number", blockName: "personal" },
        }
      },
      portrait: { name: "character_avatar", label: "Portrait", type: "hidden", blockName: "personal" },
    }
  }
