-
  const voidPointArray = Array.from(Array(5).keys(), (point) => {
    return { name: "void_points", label: point, value: point, type: "radio", blockName: "situation" };
  });

  const lifeSupportArray = Array.from(Array(8).keys(), (hour) => {
    const pluralS = hour === 1 ? "" : "s";
    const hours = `${hour} hour${pluralS} remaining`;
    return { name: "life_support", label: hours, value: hour, title: hours, type: "radio", blockName: "situation" };
  });

  data.character.situation = {
    subtitles: {
      use_void_points: { name: "use_void_point", label: "Void Points can be used to:" },
      void_point_uses: [
        { name: "void_point_use_1", label: "Get advantage on an ability check or attack roll." },
        { name: "void_point_use_2", label: "Activate a cosmic mutation." },
      ],
    },
    fields: {
      voidpoints: { name: "void_points", label: "Void Points", type: "hidden", options: voidPointArray, blockName: "situation" },
      cosmicmutations: { name: "cosmic_mutation", label: "Cosmic Mutations", placeholder: "Feedback Loop. Can jump back ten seconds in time, at the cost of losing one important memory, chosen by the player.", type: "textarea", blockName: "situation" },
      lifesupport: { name: "life_support", label: "Life Support",
        options: lifeSupportArray,
        type: "hidden", blockName: "situation" },
      voidcorruption: { name: "void_corruption", label: "Void Corruption", placeholder: "Your most important memory transcends to an item you carry. You and others can feel and see the memory if they hold the object.", type: "textarea", blockName: "situation" },
    }
  }
