.sheet-container, .sheet-container2, .sheet-container_pc1, .sheet-container_pc2, .sheet-container_pc3, .sheet-container_pc4, .sheet-container_pc5 {
    min-width:800px;
    max-width: 800px;
    display: grid;
    padding: 5px;
    justify-content: start;
    background-color: rgba(238, 238, 238, 0.85);
    background-repeat:no-repeat;
    background-position:center center;
    border: 2px solid black;
    border-radius:10px;
}

.sheet-container_config {
    min-width:800px;
    max-width: 800px;
    display: grid;
    padding: 5px;
    justify-content: start;
    background-color: black;
    background-repeat:no-repeat;
    background-position:center center;
    border: 2px solid black;
    border-radius:10px;
}

.sheet-block-switch-ghost {
  display:none;
}

.sheet-block-switch:checked ~ div.sheet-bw {
  background-color: black;
  background-image:none;
}

.sheet-block-switch2:checked ~ div.sheet-bw {
  background-blend-mode: luminosity;
}

.sheet-block-switch3:checked ~ div.sheet-bw {
  background-color: #282D3C;
  background-image:none;
}

.sheet-block-switch4:checked ~ div.sheet-bw {
  background-color: #49201d;
  background-image:none;
}

.sheet-class_custom, .sheet-class_base {
  display: none;
}

.sheet-block-switch-class:checked ~ input.sheet-class_custom {
  display: block;
}

.sheet-block-switch-class:not(:checked) ~ select.sheet-class_base {
  display: block;
}

.sheet-archetype_custom, .sheet-archetype_base {
  display: none;
}

.sheet-block-switch-archetype:checked ~ input.sheet-archetype_custom {
  display: block;
}

.sheet-block-switch-archetype:not(:checked) ~ div.sheet-archetype_base {
  display: block;
}

.sheet-container {
  grid-template-columns: 400px 400px;
  background-image:url(https://zupimages.net/up/20/11/yiqh.jpg);
  background-size: auto 100%;
}

.sheet-container2 {
    grid-template-columns: 225px 1fr;
    background-image:url(https://zupimages.net/up/20/11/j4qt.jpg);
    background-size: 100% auto;
    margin-top: 5px;
}

.sheet-container_pc1 {
  grid-template-columns: repeat(6, 130px);
  background-image:url(https://zupimages.net/up/20/11/dk4p.jpg);
  background-size: 100% auto;
}

.sheet-container_pc2 {
  grid-template-columns: 180px 45px 150px 150px 150px 1fr;
  background-image:url(https://zupimages.net/up/20/11/wvzc.jpg);
  background-size: 100% auto;
  margin-top: 5px;
}

.sheet-container_pc3 {
  grid-template-columns: 80px 280px 280px 80px 80px;
  background-image:url(https://zupimages.net/up/20/11/401q.jpg);
  background-size: 100% auto;
  margin-top: 5px;
}

.sheet-container_pc4 {
  grid-template-columns: 400px 400px;
  background-image:url(https://zupimages.net/up/20/11/s213.jpg);
  background-size: 100% auto;
  margin-top: 5px;
}

.sheet-attributes {
  justify-self: center;
}

.sheet-attributes2 {
  justify-self: center;
  line-height: 0px;
}

.sheet-footer {
  color: black;
  font-size: 9px;
  font-weight: normal;
  text-shadow: none;
}

h2, h3, span {
    color: white;
    text-shadow: 2px 1px black;
}

h2 {
  font-size: 20px;
}

h3 {
  line-height: 20px;
}

span {
  word-break: break-word;
  text-align: justify;
  text-justify: inter-word;}

.sheet-slash {
  font-size: 24px; 
  position:relative; 
  top:5px;
}

input[type="text"], input[type="number"] {
  background-color: transparent;
  -moz-appearance: textfield;
  border-bottom: 0.15em solid white;
  text-align: center;
  border-left: 0em;
  border-radius: 0em;
  border-right: 0em;
  border-top: 0em;
  font-weight: bold;
  color: white;
  text-shadow: 2px 1px black;
}

input[type="number"] {
  font-size: 12px;
  padding-bottom: 1px;
}

input::placeholder {
  background-color: rgba(181, 181, 181, 0.25);
  border: 0.1em dotted black; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

select {
  background-color: transparent;
  -moz-appearance: textfield;
  font-weight: bold;
  color: white;
  border-bottom: 0.15em solid white;
  text-align: center;
  border-left: 0em;
  border-radius: 0em;
  border-right: 0em;
  border-top: 0em;
  width: 250px;
}

input[type="radio"], input[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 13px;
    left: -13px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

input[type="radio"] + span::before, input[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #5f6a6a;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
}

input[type="radio"] + span::before, input[type="checkbox"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 3px;
}

input[type="radio"]:checked + span::before, input[type="checkbox"]:checked + span::before {
    font-family: "Pictos";
    content: "6";
}

.sheet-select-chooser,
.sheet-archetype {
    display: none;
}

.sheet-select-chooser:checked + .sheet-archetype {
    display: inline;
}

.sheet-spellability,
.sheet-container_pc5 {
    display: none;
}

.sheet-spellability:checked + .sheet-container_pc5 {
  min-width:800px;
  max-width: 800px;
  display: grid;
  padding: 5px;
  justify-content: start;
  background-repeat:no-repeat;
  background-position:center center;
  border: 2px solid black;
  border-radius:10px;
  grid-template-columns: 100px 200px 500px;
  background-image:url(https://zupimages.net/up/20/11/pru7.jpg);
  background-size: 100% auto;
  margin-top: 5px;
}

.sheet-flex {
  display: flex;
}

.sheet-firstline {
  grid-area: 1/1/1/2;
  display: flex;
  margin-bottom: 3px;
}

.sheet-pc_firstline {
  grid-area: 1/1/1/7;
  display: flex;
  margin-bottom: 3px;
}

.sheet-pc_secondline {
  grid-area: 2/1/2/7;
  display: flex;
  margin-bottom: 3px;
}

.sheet-speed1 {
  grid-area: 5/1/5/2;
}

.sheet-speed2 {
  grid-area: 6/1/6/2;
}
.sheet-load1 {
  grid-area: 7/1/7/2;
}

.sheet-load2 {
  grid-area: 8/1/8/2;
}

.sheet-initiative1 {
  grid-area: 5/2/7/3;
}

.sheet-ac1 {
  grid-area: 7/2/7/3;
}

.sheet-ac2 {
  grid-area: 8/2/8/3;
}

.sheet-hp1 {
  grid-area: 5/3/5/4;
}

.sheet-hp2 {
  grid-area: 6/3/6/4;
}

.sheet-res1 {
  grid-area: 7/3/7/4;
}

.sheet-res2 {
  grid-area: 8/3/8/4;
}

.sheet-sup1 {
  grid-area: 5/4/5/5;
}

.sheet-sup2 {
  grid-area: 6/4/6/5;
}

.sheet-arcane1 {
  grid-area: 7/4/9/5;
}

.sheet-perception1 {
  grid-area: 5/5/7/6;
}

.sheet-divine1 {
  grid-area: 7/5/9/6;
}

.sheet-magicitem1 {
  grid-area: 7/6/7/7;
}

.sheet-magicitem2 {
  grid-area: 8/6/8/7;
}

.sheet-retainer1 {
  grid-area: 5/6/5/7;
}

.sheet-retainer2 {
  grid-area: 6/6/6/7;
}

.sheet-prof {
  grid-area: 9/1/9/7;
}

.sheet-prof2 {
  grid-area: 10/1/10/7;
  display: grid;
  grid-template-columns: 100px 300px 100px 300px;
}

.sheet-inventory_first {
  grid-area: 1/1/1/7;
}

.sheet-inventory_grid {
  grid-area: 3/1/3/7;
}

.sheet-weapon_first {
  grid-area: 1/1/1/8;
}

.sheet-weapon_second {
  grid-area: 2/6/2/8;
}

.sheet-weapon_grid {
  grid-area: 3/1/3/8;
}

.sheet-spell_first {
  grid-area: 1/1/1/4;
}

.sheet-spell_second {
  grid-area: 2/1/2/4;
}

.sheet-spell_grid {
  grid-area: 4/1/4/4;
}

.sheet-q1 {
    grid-area: 2/1/2/1;
    border: 1px solid #5f6a6a;
    border-radius: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 2px;
}

.sheet-q2 {
    grid-area: 2/2/2/2;
    border: 1px solid #5f6a6a;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 2px;
}

.sheet-q3 {
    grid-area: 3/1/3/1;
    border: 1px solid #5f6a6a;
    border-radius: 5px;
    margin-right: 3px;
    padding: 2px;
}

.sheet-q4 {
    grid-area: 3/2/3/2;
    border: 1px solid #5f6a6a;
    border-radius: 5px;
    padding: 2px;
}

/* HIDE DIFFERENT SHEET TYPES BY DEFAULT
   ============================= */
div.sheet-npc, button.sheet-npc,
div.sheet-pc, button.sheet-pc,
div.sheet-config, button.sheet-config {
  display: none; }
 
input.sheet-type[value="npc"] ~ div.sheet-npc,
input.sheet-type[value="npc"] ~ button.sheet-npc,
input.sheet-type[value="pc"] ~ div.sheet-pc,
input.sheet-type[value="pc"] ~ button.sheet-pc,
input.sheet-type[value="config"] ~ div.sheet-config,
input.sheet-type[value="config"] ~ button.sheet-config  {
  display: block; }

/* AUTOEXPAND
----------------------------- */   
.sheet-auto-expand {
	position: relative;
	cursor: text;
	word-wrap: break-word;
	min-height: 20px;
	color: white;
}
.sheet-auto-expand span {
	visibility: hidden;
	white-space: pre-wrap;
	display: block;
}
.sheet-auto-expand textarea {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	resize: none;
	height: 100%;
	width: 100%;
	display: block;
	box-sizing: border-box;
	background: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font: inherit;
	font-weight: bold;
	letter-spacing: inherit;
	padding: inherit;
	text-align: inherit;
	text-transform: inherit;
	text-shadow: 1px 1px black;
  line-height: 1;
}


/* BUTTON STYLE
----------------------------- */  
button:before {
  display: none; }

button:focus, button:hover, button:active {
  background: none;
  background-color: transparent !important; }

button:focus, button:hover, button:active, button:focus > h3, button:hover > h3, button:active> h3 {
  color: whitesmoke;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(181, 181, 181, 0.25), 0 0 5px #dbdbdb; }

button[type="roll"] {
  background-image: none;
  background-color: transparent !important;
  border-bottom: 0.01em solid #666;
  border-bottom-right-radius: 0.01em;
  border-color: black;
  border-radius: 0.25em;
  border-right: 0.02em solid #333333;
  border-style: outset;
  color: black;
  margin: 1px !important;
  padding: 0.1em !important; }

  /* ROLL TEMPLATE
----------------------------- */
 
.sheet-rolltemplate-minisheet div.sheet-face_container, .sheet-rolltemplate-ftdroll div.sheet-face_container, .sheet-rolltemplate-ftddamage div.sheet-face_container, .sheet-rolltemplate-ftdmagicroll div.sheet-face_container {
    border: 2px solid black !important;
    border-bottom: 1px !important;
    z-index:1;
    background-color: #F8F8FF;
}

.sheet-rolltemplate-minisheet .sheet-face_header, .sheet-rolltemplate-ftdroll .sheet-face_header, .sheet-rolltemplate-ftddamage .sheet-face_header, .sheet-rolltemplate-ftdmagicroll .sheet-face_header {
    background-color: black;
    padding: 2px;
    border-bottom: 1px solid black;
    font-size: 1.2em;
    text-align: center;
}


.sheet-rolltemplate-minisheet div.sheet-face_rowcolor1, .sheet-rolltemplate-ftdroll div.sheet-face_rowcolor1, .sheet-rolltemplate-ftddamage div.sheet-face_rowcolor1, .sheet-rolltemplate-ftdmagicroll div.sheet-face_rowcolor1 {
    border-bottom: 1px solid black;
    text-align: center;
}

.sheet-rolltemplate-minisheet a[href^="~"] {
  background-color: black;
  color: #F8F8FF;
  padding: 2px 4px 1px 4px;
  margin: 2px -1px 1px 0px;
  font-weight: normal;
  display: inline-block;
  border: 1px solid #789;
  border-radius: 2px;
}

.sheet-rolltemplate-minisheet a[href^="~"]:hover {
  text-decoration: none;
  cursor: pointer;
  color: #f00;
  box-shadow: 1px 1px 2px #333;
}