<script type="text/worker">
    include js/_library.js
    include js/base.js
</script>

div(class="content")
    include html/header.html
    include html/menu.html

    input(
        type="hidden"
        name="attr_tab"
        class="tabExtend"
        value="1"
    )

    include html/talents.html
    include html/grimoire.html
    include html/sac.html

include templates/simple.html