.sheet-wrapper {
  width: 850px;
}

/* ===== TABS ===== */

/*this hides the contents of each tab by default*/
.charsheet div[class^="sheet-section"] {
  display: none;
}


.charsheet input.sheet-tab1:checked ~ div.sheet-section-traits,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-combat,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-arcane,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-misc,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-core,
.charsheet input.sheet-tab6:checked ~ div.sheet-section-obsolete {
  display: block;
  border: solid 1px black;
  border-radius: 4px;
  padding: 5px;
}

/*this hides the radio button for each tab, makes it 130px wide and 40px tall and makes sure it's above everything else*/
.charsheet input.sheet-tab {
  width: 130px;
  height: 40px;
  cursor: pointer;
  position: relative;
  opacity: 0;
  z-index: 9999;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet span.sheet-tab {
    text-align: center;
    display: inline-block;
    font-size: 13px;
    background: #c7c3b0;
    color: black;
    font-weight: bold;
    border-radius: 4px;

    width: 130px;
    height: 40px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin-left: -130px;/*originally 91px*/
}

/*this modifies the span color once the radio button is selected so you know which tab is selected*/
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6 {
    background: #2c424e;
    color: #bfc4c6;
    border-radius: 4px;
}

/* ===== TABS ===== */

/* ===== Sheet Update Notice ===== */
.charsheet input.sheet-notice:checked ~ span.sheet-notice {
  display: none;
}

.charsheet div.sheet-alert-close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    height: 25px;
    width: 25px;
}

.charsheet input.sheet-notice {
  height: 20px;
     width: 20px;
  cursor: pointer;
  position: relative;
  opacity: 0;
  z-index: 9999;
}

.charsheet span.sheet-alert-close {
  height: 20px;
     width: 20px;
  cursor: pointer;
  position: relative;
  margin-left: -20px;
  display: inline-block;
}

.charsheet span.sheet-alert-content {
  width: 750px;
  display: inline-block;
}

.charsheet span.sheet-notice {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
     display: inline-block;
     font-size: 13px;
     font-weight: bold;
     border-radius: 4px;
  position: relative;
     vertical-align: middle;
}

/* ===== Sheet Update Notice ===== */

/* ===== Layout Controls ===== */
.ui-dialog .charsheet .sheet-4colrow {
  display:block;
  clear:both
}

.sheet-4colrow .sheet-col {
  width:calc(25% - 21px);
  margin-right:15px
}

.sheet-4colrow .sheet-col {
  width:calc(25% - 21px);
  margin-right:15px
}

.sheet-h1, .sheet-h3{
    text-align: center;
    display: block;
}

.sheet-h1 {
  font-size: 2em;
  margin: .5em;
  text-align: center;
}

.sheet-h3 {
  font-size: 1.17em;
  margin: .2em;
}

.sheet-item {
    margin: auto;
}

.sheet-chiprow .sheet-item {
  width: 8%;
}

.sheet-itemright {
    margin: auto;
  margin-right: 5px;
  float: right;
}

.sheet-big {
    width: calc(100%-3px);
    display: inline-block;
    text-align: center;
}
.sheet-xlarge {
  width: 19%;
  padding-right: 1%;
  display: inline-block;
  text-align: center;
}
.sheet-large {
  width: 10%;
  padding-right: 1%;
  display: inline-block;
  text-align: center;
}
.sheet-third {
  width: 32%;
  padding-right: 1%;
  display: inline-block;
  text-align: center;
}
.sheet-xxxlarge {
    width: 45%;
    display: inline-block;
    text-align: center;
}
.sheet-huge {
    width: 50%;
    display: inline-block;
    text-align: center;
}
.sheet-xhuge {
  width: 60%;
  padding-right: 1%;
  display: inline-block;
  text-align: center;
}
.sheet-xxhuge {
    width: 75%;
    display: inline-block;
    text-align: center;
}
.sheet-small {
    width: 5%;
  padding-right: 1%;
    display: inline-block;
    text-align: center;
}
.sheet-small2 {
    width: 3%;
  padding-right: 1%;
    display: inline-block;
    text-align: center;
}
.sheet-tiny {
    width: 2%;
    margin-left: 1px;
    display: inline-block;
    text-align: center;
}

.sheet-center {
  margin-left: auto;
  margin-right: auto;
}

input[type=text], input[type=number], .sheet-textarea{
  width: 100%;
  resize: vertical; /* user can resize vertically, but width is fixed */
}

.sheet-shorttextarea{
    height: 40px;
    resize: vertical; /* user can resize vertically, but width is fixed */
}

.sheet-wounds {
    width: 95%;
    display: inline-block;
    text-align: center;
}

.sheet-borderdiv {
    border: 1px solid black;
    padding: 2px;
}

.sheet-wind {
    width: 2.35%;
    display: inline-block;
    text-align: center;
}

.sheet-apthr {
  margin-top: -1px;
}

.sheet-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.sheet-alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

/* ===== Layout Controls ===== */

.repcontrol {
    min-height: 27px;
}

.repcontrol .btn {
    /*visibility: hidden;*/
    border: medium none;
    color: white !important;
    background: none;
    box-shadow: none;
}

.repcontrol .btn:focus {
    outline: 0;
}

.repcontrol .repcontrol_edit:after {
    content: '(';
    visibility: visible;
    font-family: pictos;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: black;
}

.editmode ~ .repcontrol .repcontrol_edit:after {
    content: ')';
}

.repcontrol .repcontrol_add:before {
    content: '&';
    visibility: visible;
    font-family: pictos;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: black;
}

/* Obsolete CSS */
.sheet-ammo1 {
    width: 12%;
    display: inline-block;
    text-align: center;
}
.sheet-ammo3 {
    width: 5.1%;
    display: inline-block;
    text-align: center;
}

/* Cassie's Cusotmizations */
input[type=text],
input[type=number] {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0px;
}

h2 {
  color: #404040;
  font-size: 1.5em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  padding: 3px 0px;
  margin: 0px;
  text-align: center;
  display: block;
}

button:hover {
  color: #fff;
  background-color: #2c424e;
}

textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.sheet-buttons,
.sheet-xxxlarge .repcontrol {
  display: inline-block;
}

.sheet-chiprow,
.sheet-windrow {
  text-align: center;
}

.sheet-windrow {
  margin-top: -20px;
  margin-bottom: 5px;
}

.sheet-buttons input[type=radio],
.sheet-windrow input[type=radio],
.sheet-big input[type=radio],
.sheet-location input[type=radio] {
  display: inline-block;
  opacity: 0;
  position: relative;
  width: 30px;
  z-index: 2;
}

.sheet-chiprow .sheet-buttons input[type=radio] {
  top: 20px;
}

.sheet-big input[type=radio] + span {
  position: relative;
  left: -15px;
}

.sheet-big input[type=radio]  {
  left: 10px;
}

.sheet-buttons input[type=radio]:hover + span,
.sheet-buttons input[type=radio]:checked + span,
.sheet-location input[type=radio]:hover + span,
.sheet-location input[type=radio]:checked + span {
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.sheet-buttons input[type=radio] + span {
  font-weight: bolder;
  font-size: 1.2em;
}

.sheet-buttonsred input[type=radio]:hover + span,
.sheet-buttonsred input[type=radio]:checked + span {
  color: #983842;
}

.sheet-buttonsblue input[type=radio]:hover + span,
.sheet-buttonsblue input[type=radio]:checked + span {
  color: #2095d0;
}

.sheet-buttonsleg input[type=radio]:hover + span,
.sheet-buttonsleg input[type=radio]:checked + span {
  color: #fadea2;
}

.sheet-windrow input[type=radio] {
  left: -3px;
  top: 18px;
}

.sheet-xxxlarge {
  width: 40%;
}

.sheet-xxxlarge textarea {
  width: 125%;
}

.sheet-xxxlarge .repcontainer {
  display: inherit;
  width: 88%;
}

.sheet-xxxlarge .repcontiner .repitem {
  display: inline-flex;
  width: 100%;
}

.sheet-xxxlarge .repcontrol {
  width: 38px;
  position: relative;
  left: 5px;
}

.sheet-weapon-headers .sheet-wea-label {
  width: 13%;
}

.sheet-weapon-headers .sheet-wea-label:nth-of-type(3) {
  width: 4%;
}

.sheet-weapon-headers .sheet-wea-label:nth-of-type(4)  {
  width: 5%;
}

.sheet-weapon .sheet-large {
  text-align: left;
  width: 5%;
}

.sheet-weapon .sheet-large input[type=text] {
  text-align: center;
}

.sheet-weapon .sheet-xxxlarge input[type=text] {
  width: 39%;
}

.sheet-xxxlarge .sheet-xxhuge {
  padding-bottom: 5px;
}

.sheet-location {
  width: 27%;
  float: right;
}

.sheet-location input[type=radio] {
  height: 25px;
  margin-right: -27px;
}

.sheet-location input[type=radio]:last-child,
.sheet-location input[type=radio]:last-child + span {
  margin-left: 10px;
}

.sheet-location label {
  display: inline;
  margin-right: -10px;
}

.sheet-location span {
  padding: 5px;
  font-weight: bolder;
}

.sheet-rolltemplate-default caption {
  background-color: #1d0d0c;
  border-color: ;
}

.sheet-rolltemplate-default table {
  border-color: #6d4b3e;
}

.sheet-xxxlarge .repcontrol .repcontrol_edit {
  position: relative;
  left: 30px;
  width: 40%;
  top: 25px;
  z-index: 3;
}

.sheet-xxxlarge .repcontrol .repcontrol_edit:after {
  position: relative;
  left: -35px;
}

.sheet-xxxlarge .repcontrol .repcontrol_add {
  position: relative;
  width: 40%;
}

.sheet-xxxlarge .repcontrol .repcontrol_add:after {

}

.sheet-arcane-row .sheet-item {
  vertical-align: top;
}