div.sheet-repeating-container {
	button { 
		font-variant: none;
		width: fit-content;
		font-size: 1.5rem;
		padding: 1% 2%;

		&[type='roll'] {
			width: 100%;
		}
	}

	textarea {
		margin-top: 2%;
	}

	.repcontrol {
		margin-top: 5%;
	}
	
	.repcontrol_del {
		font-family: "pictos";
		position: relative;
	}

	.repitem {
		margin-bottom: 2%;
	}

	div.sheet-descriptor {
		grid-template-columns: 1fr repeat(2, 1.5rem);
		align-items: center;
		justify-items: center;

		button[type='roll'] {
			min-height: 2rem;
		}

		input[type='text'] {
			@extend .sheet-bottom-border
		}

		div.sheet-collapse {
			padding-left: 5%;
		}

		input[name='attr_collapse'] + span,
		input[name='attr_settings'] + span {
			font-size: 1.5rem;
		}

		@include collapseSettingsInputs(3);

		div.sheet-collapse,
		div.sheet-settings {
			grid-column: 1 / 4;
		}

		div.sheet-settings {
			grid-template-columns: 1fr;
			background-color: rgba($gray, .2);
			padding: 2%;
			position: relative;

			&::before {
				position: absolute;
				top: -1rem;
				left: 50%;
				content: '';
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				
				border-bottom: 10px solid rgba($gray, .2);
			}
		}
	}
}
