include components/common/elements
include components/common/functions
include components/common/inputs
include components/common/popups
include components/approaches
include components/background
include components/bonds
include components/consequences
include components/experience
include components/header
include components/health
include components/inventory
include components/skills
include components/toolbar
include meta/data

.arc
  +hidden({ name: "version", value: "1.0" })
  +hidden({ name: "sheet_type", value: "character" })
  +hidden({ name: "setting_tooltips", value: 1 })
  +toolbar
  +header
  main.arc__layout
    +hidden({ name: "sheet_type" })
    include layouts/character

//- Roll Templates
include layouts/roll-template

//- Sheet Workers
script(type="text/worker")
  include ../js/globals.js
  include ../js/sheetworkers.js
  include ../js/eventhandlers.js
