.charsheet {
  @extend .min-w-lg;
  background-color: $color-neutral-100;

  button {
    font-family: serif;
    @extend %ellipsis;

    &:before {
      display: none;
    }
    &:focus,
    &:hover,
    &:active {
      background: none;
      background-color: $primary !important;
      color: $color-neutral-50;
    }
    &[type="roll"],
    &[type="action"] {
      background-color: $color-neutral-50;
      border: {
        bottom: 2px solid $color-neutral-900;
        bottom-right-radius: 0.01em;
        color: $color-neutral-300;
        radius: 0.25em;
        right: 0.02em solid $color-neutral-800;
        style: outset;
      }
      margin: 0px !important;
      padding: 4px 2px;
      box-shadow: $box-shadow;
    }
  }

  fieldset {
    background-color: transparent;
  }

  input {
    &[type="text"],
    &[type="number"] {
      background-color: transparent;
      border-bottom: 2px solid $color-neutral-900;

      border: {
        left: 0em;
        radius: 0em;
        right: 0em;
        top: 0em;
      }
      height: 2.1em;
      width: 100%;

      &::placeholder {
        background-color: $color-neutral-100;
        padding-left: 2px;
      }
    }
    &[type="number"] {
      -moz-appearance: textfield;
      text-align: center;
      width: 100%;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }

    &.flag {
      height: 100%;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 10;
    }

    &.flag,
    &.flag + span.pictos {
      align-self: center;
      justify-self: center;
    }

    &.flag:checked + span.pictos {
      color: $color-orange-600;
    }
  }

  select {
    margin-bottom: 0px;
  }

  textarea {
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
    min-height: 50px;
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 2px;
    resize: vertical;
    text-align: left;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
