//Roll20 class. It helps overwrite the Roll20 default styles for the character sheet.
.charsheet {
  @extend .min-w-lg;
  background-color: $color-neutral-100;

  button {
    font-family: serif;
    @extend %ellipsis;

    &:before {
      display: none;
    }
    &:focus,
    &:hover,
    &:active {
      background: none;
      background-color: $primary !important;
      color: $color-neutral-50;
    }
    &[type="roll"],
    &[type="action"] {
      min-height: $spacing-6;
      background-color: $color-neutral-50;
      border: {
        bottom: 2px solid $color-neutral-900;
        bottom-right-radius: 0.01em;
        radius: 0.25em;
        right: 0.02em solid $color-neutral-800;
        style: outset;
      }
      padding: 2px 4px !important;
      box-shadow: $box-shadow;
    }
  }

  fieldset {
    background-color: transparent;
  }

  h1,
  h2 {
    @extend %ellipsis;
    @extend .capitalize;
    @extend .uppercase;
  }

  h3,
  h4 {
    @extend %ellipsis;
    @extend .capitalize;
    @extend .small-caps;
  }

  h1 {
    font-size: $text-lg;
    font-weight: $font-weight-bold;
    line-height: $text-base--line-height;
  }

  h2 {
    font-size: $text-base;
    font-weight: $font-weight-semibold;
    line-height: $text-sm--line-height;
  }

  h3 {
    font-size: $text-sm;
    font-weight: $font-weight-medium;
    line-height: $text-xs--line-height;
  }

  h4 {
    font-size: $text-xs;
  }

  input {
    &[type="checkbox"],
    &[type="radio"] {
      height: 100%;
      min-height: $spacing-6;
      min-width: $spacing-6;
      width: 100%;
    }

    &[type="text"],
    &[type="number"] {
      background-color: transparent;
      border-bottom: 2px solid $color-neutral-900;

      border: {
        left: 0em;
        radius: 0em;
        right: 0em;
        top: 0em;
      }
      height: 2.1em;
      width: 100%;

      &::placeholder {
        background-color: $color-neutral-100;
        padding-left: 2px;
      }
    }
    &[type="number"] {
      -moz-appearance: textfield;
      text-align: center;
      width: 100%;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  select {
    margin-bottom: 0px;
    text-transform: capitalize;
  }

  textarea {
    font-weight: normal;
    line-height: $spacing-4;
    margin-bottom: 0px;
    min-height: $spacing-12;
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 2px;
    resize: vertical;
    text-align: left;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
