//Override the Roll20 default styles
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.characterviewer label {
  margin: 0px;
  padding: 0px;
}

.dropzone {
  padding: 0px;
  border: none;
  background: transparent;
}

.ui-dialog .charsheet input[type="number"] {
  width: 100%;
}

.ui-dialog .charsheet button[type="roll"],
.ui-dialog .charsheet button[type="action"],
.ui-dialog .charsheet button {
  padding: 2px 4px;
  margin: 0px;
  font-size: $text-base;
  background-image: none;
  text-shadow: none;
}

/* Repeating Sections */
.repcontrol {
  margin-top: 5%;
}

.repcontrol_del {
  font-family: "pictos";
  position: relative;
}

.repcontrol {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.itemcontrol {
  z-index: 100;
  position: absolute;

  .repcontrol_del {
    background-color: $color-red-900;
    font-family: "pictos";
  }
}

.repitem {
  margin-bottom: $spacing;
}

/* Roll Templates */
.inlinerollresult.fullfail,
.inlinerollresult.fullcrit,
.inlinerollresult.importantroll {
  border: none;
}

.inlinerollresult.fullfail,
.inlinerollresult.fullcrit {
  color: $color-neutral-950;
}

.inlinerollresult {
  background-color: transparent;
  border: none;
  font-size: 2em;
  padding: unset;
}
