.pc {
  overflow: hidden;

  .logo {
    height: $spacing-32;
    width: $spacing-64;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .bio {
    width: $spacing-80;

    input[name="attr_age"],
    input[name="attr_height"],
    input[name="attr_weight"],
    input[name="attr_size"] {
      @extend .text-center;
    }

    .name-row {
      grid-template-columns: 1fr minmax($spacing-12, $spacing-20);
    }
  }

  .main {
    .background {
      .description {
        grid-area: 2/1/3/3;
      }
    }

    .personality {
      grid-template-columns: 2fr 1fr;
      .quirk {
        grid-area: 2/1/3/3;
      }
    }

    .skills {
      width: 100%;

      h3[data-i18n="bonus"],
      h3[data-i18n="attribute"],
      span[name="attr_attribute_abbreviation"] {
        @extend .text-center;
      }

      .custom-grid {
        grid-template-columns: $button-max-width repeat(
            2,
            minmax($spacing-12, 1fr)
          );
      }
    }

    .currency {
      height: 100%;
      width: 100%;

      textarea {
        resize: none;
        width: 100%;
      }
    }

    .inventory {
      h3[data-i18n="qty"],
      span[name="attr_qty"],
      input[name="attr_qty"] {
        @extend .text-center;
      }

      .custom-grid {
        grid-template-columns: $button-max-width 1fr;
      }

      .edit-grid {
        grid-template-columns: 1fr $spacing-32;
      }
    }
  }

  .combat {
    .attrs {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .circle {
        height: 80px;
        width: 80px;
      }
    }

    .attacks {
      .custom-grid {
        grid-template-columns:
          $button-max-width 1fr $spacing-20 repeat(3, $spacing-16)
          1fr;
      }

      span[name="attr_attribute_abbreviation"] {
        @extend .uppercase;
      }

      h3[data-i18n="attribute"],
      h3[data-i18n="apc"],
      h3[data-i18n="bonus"],
      h3[data-i18n="damage"],
      h3[data-i18n="damage type"],
      h3[data-i18n="range"],
      input[name="attr_apc"],
      span[name="attr_attribute_abbreviation"],
      span[name="attr_apc"],
      span[name="attr_bonus"],
      span[name="attr_damage"],
      span[name="attr_damage_type"],
      span[name="attr_range"] {
        @extend .text-center;
      }

      select[name="attr_attribute"] {
        max-width: $spacing-48;
      }

      .rerolls {
        grid-column: 7/9;
      }

      .reactive-actions {
        .custom-grid {
          grid-template-columns: $button-max-width repeat(
              1,
              minmax($spacing-16, 1fr)
            );
        }
      }
    }

    .action-point-scale {
      grid-auto-columns: $spacing-6;

      input[type="radio"] {
        height: $spacing-6;
        width: $spacing-6;
      }
    }

    .hp-row {
      grid-template-columns: 1.5fr 1fr repeat(2, $spacing-32);
    }

    .hp {
      grid-template-columns: 1fr $spacing-24;
    }
  }

  .magic {
    h3[data-i18n="apc"],
    h3[data-i18n="spc"],
    span[name="attr_apc"],
    span[name="attr_spc"] {
      text-align: center;
    }

    .source-magic {
      span {
        @extend .text-center;
        @extend .font-h2;
      }

      .source-sp {
        background: $color-neutral-100;
      }

      input {
        background-color: $color-neutral-100;
        text-align: center;
        width: $spacing-38;
      }
    }

    .spells {
      .custom-grid {
        grid-template-columns:
          $button-max-width
          minmax($spacing-20, 1fr)
          repeat(2, $spacing-8)
          $spacing-16
          minmax($spacing-20, 1fr)
          minmax($spacing-20, $spacing-24);
      }

      h3:not([data-i18n="name"]) {
        @extend .text-center;
      }

      span[name="attr_tags"] {
        font-style: italic;
      }

      .collapsible .grid:has(span:empty) {
        display: none;
        background: cyan;

        // span:empty {
        //   display: none;
        // }
      }
    }
  }

  .resources {
    .min-width-378 {
      min-width: 378px;
    }

    input[name*="attr_value"] {
      max-width: $spacing-24;
    }
  }
}

.journal {
  .additional-info {
    .custom-grid {
      grid-template-columns: minmax($button-max-width, 1fr) $spacing-38;
    }

    h3[data-i18n="occupation"],
    span[name="attr_occupation"],
    h3[data-i18n="category"],
    span[name="attr_category"] {
      @extend .text-center;
    }
  }

  .journal {
    h3[data-i18n="date"],
    span[name="attr_date"] {
      @extend .text-center;
    }

    .custom-grid {
      grid-template-columns: minmax($button-max-width, 1fr) $spacing-38;
    }
  }
}

h3[data-i18n="tags"],
span[name="attr_tags"] {
  @extend .capitalize;
}

h3[data-i18n="tags"] {
  @extend .text-center;
}

.talents {
  .talents {
    .custom-grid {
      grid-template-columns: $button-max-width repeat(
          1,
          minmax($spacing-16, 1fr)
        );
    }
  }

  .talent-grid {
    grid-template-columns: 2fr 1fr;
  }

  .abilities {
    .custom-grid {
      grid-template-columns: $button-max-width 1fr;
    }
  }
}

.favorites {
  .custom-grid {
    grid-template-columns: $button-max-width repeat(1, minmax($spacing-16, 1fr));
  }
}
