h1,
h2,
h3,
h4 {
  @extend %ellipsis;
  @extend .capitalize;
  @extend .uppercase;
}

h1 {
  font-size: $text-xl;
  font-weight: $font-weight-bold;
  line-height: $text-base--line-height;
}

h2 {
  font-size: $text-sm;
  font-weight: $font-weight-semibold;
  line-height: $text-sm--line-height;
}

h3 {
  font-size: $text-base;
  font-weight: $font-weight-medium;
  line-height: $text-xs--line-height;
}

h4 {
  font-size: $text-base;
}

.pictos {
  font-family: "pictos";
}

.d20 {
  font-family: "dicefontd20";
}

.smallcaps {
  font-variant: small-caps;
}

.text-primary {
  color: $primary;
}
