<div class="general-bonuses wrap-box relative center mar-b-smd">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-left small-label">
        <span class="en">Auto add a bonus/penalty to rolls made using the sheet macros.<br>Usage: you acquire a magic item that gives +1 to your spell save DC, enter 1 in the spell save DC field. You are under the effects of the Bless spell, enter "d4cs0cf0" in both attack roll fields, and the saving throw one</span>
        <span class="de">Automatisches hinzufügen von Boni/Mali zu etlichen Würfen, die mit den Makros ausgeführt werden.<br>Benutzung: du erhälst einen magischen Gegenstand, der dir +1 auf Rettungswürfe gibt, trage eine 1 in das Rettungswurf feld ein.</span>
        <span class="fr">Ajoute automatiquement un bonus/malus aux jets effectués à l'aide des macros de la fiche de Personnage.<br>Utilisation: Vous trouvez un objet magique qui vous donne +1 à vos dommages, entrez 1 dans la case Dmg des Armes. Si vous êtes sous les effet du sort Bénediction, entrez "d4cs0cf0" dans les cases de jets d'attaque et de jets de sauvegarde</span>
        <span class="ru">Автоматически добавляет бонус\штраф к броскам при помощи встроенных макросов. Пример использования: если вы нашли магический предмет, увеличивающий ваш бросок на 1, добавьте 1 в нужное поле.</span>
      </div>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-1-3 sheet-wrap-box-label sheet-light-label center">
      <span class="en">Weapons</span>
      <span class="de">Waffen</span>
      <span class="fr">Armes</span>
      <span class="ru">Оружие</span>
    </div>
    <div class="col-1-3 sheet-wrap-box-label sheet-light-label center pc">
      <span class="en">Melee</span>
      <span class="de">Nahkampf</span>
      <span class="fr">Mêlée</span>
      <span class="ru">Рукопашное</span>
    </div>
    <div class="col-1-3 sheet-wrap-box-label sheet-light-label center pc">
      <span class="en">Ranged</span>
      <span class="de">Fernkampf</span>
      <span class="fr">Tir</span>
      <span class="ru">Дистанционное</span>
    </div>
  </div>
  <div class="shaped-row mar-b-sm">
    <div class="col-1-6 center">
      <input type="text" name="attr_global_attack_bonus" class="center" value="0">

      <div class="small-label">
        <span class="en">Atk</span>
        <span class="de">Ang.</span>
        <span class="fr">Atq</span>
        <span class="ru">Атк</span>
      </div>
    </div>
    <div class="col-1-6 center pad-r-sm">
      <input type="text" name="attr_global_damage_bonus" class="center" value="0">

      <div class="small-label">
        <span class="en">Dmg</span>
        <span class="de">Scha.</span>
        <span class="fr">Dmg</span>
        <span class="ru">Урон</span>
      </div>
    </div>
    <div class="col-1-6 center pc pad-l-sm">
      <input type="text" name="attr_global_melee_attack_bonus" class="center" value="0">

      <div class="small-label">
        <span class="en">Atk</span>
        <span class="de">Ang.</span>
        <span class="fr">Atq</span>
        <span class="ru">Атк</span>
      </div>
    </div>
    <div class="col-1-6 center pc pad-r-sm">
      <input type="text" name="attr_global_melee_damage_bonus" class="center" value="0">

      <div class="small-label">
        <span class="en">Dmg</span>
        <span class="de">Scha.</span>
        <span class="fr">Dmg</span>
        <span class="ru">Урон</span>
      </div>
    </div>
    <div class="col-1-6 center pc pad-l-sm">
      <input type="text" name="attr_global_ranged_attack_bonus" class="center" value="0">

      <div class="small-label">
        <span class="en">Atk</span>
        <span class="de">Ang.</span>
        <span class="fr">Atq</span>
        <span class="ru">Атк</span>
      </div>
    </div>
    <div class="col-1-6 center pc">
      <input type="text" name="attr_global_ranged_damage_bonus" class="center" value="0">

      <div class="small-label">
        <span class="en">Dmg</span>
        <span class="de">Scha.</span>
        <span class="fr">Dmg</span>
        <span class="ru">Урон</span>
      </div>
    </div>
  </div>

  //= include ../spells/spellcasting_bonuses.html
  <div class="sheet-wrap-box-label sheet-light-label  center">{{'SAVES_AND_SKILL_CHECKS' | translate}}</div>
  <div class="shaped-row">
    <div class="col-30 center pad-r-sm">
      <input type="text" name="attr_global_saving_bonus" class="center" value="0">

      <div class="small-label">{{'SAVING_THROWS' | translate}}</div>
    </div>
    <div class="col-30 pc center pad-r-sm">
      <input type="text" name="attr_global_ac_bonus" class="center" value="0">

      <div class="small-label">{{'AC' | translate}}</div>
    </div>
    <div class="col-40 center">
      <input type="text" name="attr_global_check_bonus" class="center" value="0">

      <div class="small-label">{{'ABILITY_AND_SKILL_CHECKS' | translate}}</div>
    </div>
  </div>
  <div class="wrap-box-title">{{'BONUSES_AND_PENALTIES' | translate}}</div>
</div>