<div class="section-settings">
  <div class="wrap-box mar-b-smd">

    <div class="shaped-row mar-b-md">
      <div class="col-50 pad-r-lg">
        <div class="shaped-row vert-center">
          <div class="col-50">
            <span class="en">Output from this sheet should be: </span>
            <span class="de">Output from this sheet should be: </span>
            <span class="fr">Les jets de cette fiche doivent être: </span>
            <span class="ru">Броски должны быть видны:</span>
          </div>
          <div class="col-50">
            <input type="hidden" name="attr_output_to_all" value="">
            <input type="hidden" name="attr_output_to_gm" value="/w GM">
            <span class="en">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Public for all to see</option>
                <option value="@{output_to_gm}">Whispered to the GM</option>
              </select>
            </span>
            <span class="de">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Public for all to see</option>
                <option value="@{output_to_gm}">Whispered to the GM</option>
              </select>
            </span>
            <span class="fr">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
                <option value="@{output_to_gm}">Chuchotés au MJ</option>
              </select>
            </span>
            <span class="ru">
              <select name="attr_output_option">
                <option value="@{output_to_all}" selected>Всем в кампании</option>
                <option value="@{output_to_gm}">Только для ГМ</option>
              </select>
            </span>
          </div>
        </div>

        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">
            <span class="en">Whisper Death Saves: </span>
            <span class="de">Whisper Death Saves: </span>
            <span class="fr">Chuchoter jets contre la Mort: </span>
            <span class="ru">Спасброски от смерти видны: </span>
          </div>
          <div class="col-50">
          <span class="en">
            <select name="attr_death_save_output_option" class="mar-t-md">
              <option value="@{output_to_all}" selected>Public for all to see</option>
              <option value="@{output_to_gm}">Whispered to the GM</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_death_save_output_option" class="mar-t-md">
              <option value="@{output_to_all}" selected>Public for all to see</option>
              <option value="@{output_to_gm}">Whispered to the GM</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_death_save_output_option" class="mar-t-md">
              <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
              <option value="@{output_to_gm}">Chuchoter au MJ</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_death_save_output_option" class="mar-t-md">
              <option value="@{output_to_all}" selected>Всем в кампании</option>
              <option value="@{output_to_gm}">Только для ГМ</option>
            </select>
          </span>
          </div>
        </div>

        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">
            <span class="en">Whisper Initiative: </span>
            <span class="de">Whisper Initiative: </span>
            <span class="fr">Chuchoter Initiative: </span>
            <span class="ru">Броски инициативы видны: </span>
          </div>
          <div class="col-50">
          <span class="en">
            <select name="attr_initiative_output_option" class="mar-t-md">
              <option value="@{output_to_all}" selected>Public for all to see</option>
              <option value="@{output_to_gm}">Whispered to the GM</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_initiative_output_option" class="mar-t-md">
              <option value="@{output_to_all}" selected>Public for all to see</option>
              <option value="@{output_to_gm}">Whispered to the GM</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_initiative_output_option" class="mar-t-md">
              <option value="@{output_to_all}" selected>Affichés pour tout le monde</option>
              <option value="@{output_to_gm}">Chuchoter au MJ</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_initiative_output_option" class="mar-t-md">
              <option value="@{output_to_all}" selected>Всем в кампании</option>
              <option value="@{output_to_gm}">Только для ГМ</option>
            </select>
          </span>
          </div>
        </div>

        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">
            <span class="en">Character Name on all roll templates: </span>
            <span class="de">Character Name on all roll templates: </span>
            <span class="fr">Nom du perso sur tout les jets:</span>
            <span class="ru">Имя персонажа на шаблонах бросков:</span>
          </div>
          <div class="col-50">
            <input type="hidden" name="attr_show_character_name_no" value="">
            <input type="hidden" name="attr_show_character_name_yes" value="{{show_character_name=1}}">
          <span class="en">
            <select name="attr_show_character_name" class="mar-t-md">
              <option value="@{show_character_name_no}" selected>No</option>
              <option value="@{show_character_name_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_show_character_name" class="mar-t-md">
              <option value="@{show_character_name_no}" selected>No</option>
              <option value="@{show_character_name_yes}">Yes</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_show_character_name" class="mar-t-md">
              <option value="@{show_character_name_no}" selected>Non</option>
              <option value="@{show_character_name_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_show_character_name" class="mar-t-md">
              <option value="@{show_character_name_no}" selected>Нет</option>
              <option value="@{show_character_name_yes}">Да</option>
            </select>
          </span>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">Roll Advantage:</div>
          <div class="col-50">
            <input type="hidden" name="attr_roll_2" value="{{roll2=[[d20">
            <input type="hidden" name="attr_advantage_query" value="?{Advantage?|Normal Roll,{{only_roll_1=1&#125&#125 {{roll2=[[0d20|Advantage,{{advantage=1&#125&#125 {{roll2=[[1d20|Disadvantage,{{disadvantage=1&#125&#125 {{roll2=[[1d20}">
            <input type="hidden" name="attr_roll_1" value="{{only_roll_1=1}} {{roll2=[[0d20">
            <select name="attr_roll_setting">
              <option value="@{roll_2}">Roll Two Rolls</option>
              <option value="@{advantage_query}">Query for (dis)advantage</option>
              <option value="@{roll_1}">Roll One Roll</option>
            </select>
          </div>
        </div>
        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">
            <span class="en">Break Initiative Ties: </span>
            <span class="de">Break Initiative Ties: </span>
            <span class="fr">Utiliser Mod Dex si égalité d'Initiative: </span>
            <span class="ru">Отменить привязку инициативы: </span>
          </div>
          <div class="col-50">
            <input type="checkbox" name="attr_initiative_tie_breaker" value="((@{initiative_overall}) / 100)">
          </div>
        </div>
        <div class="shaped-row mar-t-md">
          <div class="col-50">
            <span class="en">Initiative Roll adds the selected token to the tracker (remove for tablets): </span>
            <span class="de">Initiative Roll adds the selected token to the tracker (remove for tablets): </span>
            <span class="fr">Jet d'Init ajoute le token choisis au "Turn Order" (enlever pour tablettes): </span>
            <span class="ru">Бросок инициативы добавляет выделенный токен в "Порядок хода" (не планшет): </span>
          </div>
          <div class="col-50">
            <input type="hidden" name="attr_initiative_to_tracker_yes" value="@{selected|initiative_overall} &{tracker}">
            <input type="hidden" name="attr_initiative_to_tracker_no" value="@{initiative_overall}">
          <span class="en">
            <select name="attr_initiative_to_tracker" class="mar-t-md">
              <option value="@{initiative_to_tracker_yes}" selected>Send to Tracker</option>
              <option value="@{initiative_to_tracker_no}">Don't</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_initiative_to_tracker" class="mar-t-md">
              <option value="@{initiative_to_tracker_yes}" selected>Send to Tracker</option>
              <option value="@{initiative_to_tracker_no}">Don't</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_initiative_to_tracker" class="mar-t-md">
              <option value="@{initiative_to_tracker_yes}" selected>Envoyer au "Turn Order"</option>
              <option value="@{initiative_to_tracker_no}">Ne pas envoyer</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_initiative_to_tracker" class="mar-t-md">
              <option value="@{initiative_to_tracker_yes}" selected>Добавлять в список</option>
              <option value="@{initiative_to_tracker_no}">Не добавлять</option>
            </select>
          </span>
          </div>
        </div>
        <div class="shaped-row mar-t-md">
          <div class="col-50">
            <span class="en">Show Target's AC on Attacks: </span>
            <span class="de">Show Target's AC on Attacks: </span>
            <span class="fr">Montrer la CA de la cible sur les jets d'attaque: </span>
            <span class="ru">Показывать КБ цели при Атаке: </span>
          </div>
          <div class="col-50">
            <input type="hidden" name="attr_attacks_vs_target_ac_no" value="">
            <input type="hidden" name="attr_attacks_vs_target_ac_yes" value="[[@{target|AC}]]">
          <span class="en">
            <select name="attr_attacks_vs_target_ac" class="mar-t-md">
              <option value="@{attacks_vs_target_ac_no}" selected>No</option>
              <option value="@{attacks_vs_target_ac_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_attacks_vs_target_ac" class="mar-t-md">
              <option value="@{attacks_vs_target_ac_no}" selected>No</option>
              <option value="@{attacks_vs_target_ac_yes}">Yes</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_attacks_vs_target_ac" class="mar-t-md">
              <option value="@{attacks_vs_target_ac_no}" selected>Non</option>
              <option value="@{attacks_vs_target_ac_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_attacks_vs_target_ac" class="mar-t-md">
              <option value="@{attacks_vs_target_ac_no}" selected>Нет</option>
              <option value="@{attacks_vs_target_ac_yes}">Да</option>
            </select>
          </span>
          </div>
        </div>
        <div class="shaped-row vert-center mar-t-md">
          <div class="col-50">
            <span class="en">Show Target's Name on Attacks and Saves: </span>
            <span class="de">Show Target's Name on Attacks and Saves: </span>
            <span class="fr">Montrer le nom de la cible sur les jets d'attaque et de sauvegarde: </span>
            <span class="ru">Указывать имя выделенной цели на шаблонах Атаки и Бросков: </span>
          </div>
          <div class="col-50">
            <input type="hidden" name="attr_attacks_vs_target_name_no" value="">
            <input type="hidden" name="attr_attacks_vs_target_name_yes" value="@{target|token_name}">
          <span class="en">
            <select name="attr_attacks_vs_target_name" class="mar-t-md">
              <option value="@{attacks_vs_target_name_no}" selected>No</option>
              <option value="@{attacks_vs_target_name_yes}">Yes</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_attacks_vs_target_name" class="mar-t-md">
              <option value="@{attacks_vs_target_name_no}" selected>No</option>
              <option value="@{attacks_vs_target_name_yes}">Yes</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_attacks_vs_target_name" class="mar-t-md">
              <option value="@{attacks_vs_target_name_no}" selected>Non</option>
              <option value="@{attacks_vs_target_name_yes}">Oui</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_attacks_vs_target_name" class="mar-t-md">
              <option value="@{attacks_vs_target_name_no}" selected>Нет</option>
              <option value="@{attacks_vs_target_name_yes}">Да</option>
            </select>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-box-title center">Output Options</div>
  </div>

  //= include bonuses.html

  <div class="wrap-box mar-b-smd">
    <div class="shaped-row">
      <div class="col-50 pad-r-md">
        <div class="shaped-row sub-header">
          <div class="col-25 center">{{'ABILITY' | translate}}</div>
          <div class="col-25 center">{{'ABILITY_BONUS' | translate}}</div>
          <div class="col-25 center">{{'CHECK_BONUS' | translate}}</div>
          <div class="col-25 center">{{'SAVE_BONUS' | translate}}</div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.strength.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_strength_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_strength_check_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_strength_save_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.dexterity.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_dexterity_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_dexterity_check_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_dexterity_save_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.constitution.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_constitution_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_constitution_check_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_constitution_save_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.intelligence.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_intelligence_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_intelligence_check_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_intelligence_save_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.wisdom.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_wisdom_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_wisdom_check_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_wisdom_save_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>
        <div class="shaped-row">
          <div class="col-25">{{'ABILITIES.charisma.NAME' | translate}}</div>
          <div class="col-25">
            <input type="number" name="attr_charisma_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_charisma_check_bonus" class="no-spin" value="0" step="1">
          </div>
          <div class="col-25">
            <input type="number" name="attr_charisma_save_bonus" class="no-spin" value="0" step="1">
          </div>
        </div>

        <hr>

        <div class="col-30">
          <input type="text" name="attr_medium_armor_max_dex" value="2">
          <div class="small-label">Medium armor max dex</div>
        </div>
      </div>
      <div class="col-25 pad-l-md">
        <div class="shaped-row sub-header">
          <div class="col-60 center pad-r-sm">{{'SKILL' | translate}}</div>
          <div class="col-40 center pad-l-sm">{{'BONUS' | translate}}</div>
        </div>
        <fieldset class="repeating_skill">
          <div class="shaped-row vert-center">
            <div class="col-60 pad-r-sm">
              <input type="text" name="attr_name" class="skill-name">
            </div>
            <div class="col-40 pad-l-sm">
              <input type="number" name="attr_bonus" class="no-spin" value="0" step="1">
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-25 pad-l-md">
        <div class="shaped-row">
          <div class="col-60">{{'INITIATIVE_BONUS' | translate}}</div>
          <div class="col-40">
            <input type="text" name="attr_initiative" class="center initiative-bonus" value="0">
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-box-title center">{{'BONUSES' | translate}}</div>
  </div>

  <div class="wrap-box mar-b-smd">
    <div class="shaped-row">
      <div class="col-50 pad-r-lg">
        <div class="shaped-row vert-center">
          <div class="col-50">
            <span class="en">Copper per Gold (default 100): </span>
            <span class="de">Copper per Gold (default 100): </span>
            <span class="fr">Cuivre par Or (100 par défaut): </span>
            <span class="ru">Медных за Золотую (по умолчанию 100): </span>
          </div>
          <div class="col-50">
            <input type="number" name="attr_copper_per_gold" value="100">
          </div>
        </div>
        <span class="en">Custom gold values</span><span class="de">Custom gold values</span><span class="fr">Valeur de l'or personnalisée</span><span class="ru">Конвертирование монет</span>

        <div class="shaped-row vert-center">
          <div class="col-50">
            <span class="en">Silver per Gold (default 10):</span>
            <span class="de">Silver per Gold (default 10):</span>
            <span class="fr">Argent par Or (10 par défaut):</span>
            <span class="ru">Серебряных за Золотую (по умолчанию 10): </span>
          </div>
          <div class="col-50">
            <input type="number" name="attr_silver_per_gold" value="10">
          </div>
        </div>
        <div class="shaped-row vert-center">
          <div class="col-50">
            <span class="en">Electrum per Gold (default 2): </span>
            <span class="de">Electrum per Gold (default 2): </span>
            <span class="fr">Electrum par Or (2 par défaut): </span>
            <span class="ru">Электрумных за Золотую (по умолчанию 2): </span>
          </div>
          <div class="col-50">
            <input type="number" name="attr_electrum_per_gold" value="2">
          </div>
        </div>
        <div class="shaped-row vert-center">
          <div class="col-50">
            <span class="en">Gold per Platinum (default 10): </span>
            <span class="de">Gold per Platinum (default 10): </span>
            <span class="fr">Or par Platine (10 par défaut): </span>
            <span class="ru">Золотых за Платиновую (по умолчанию 10): </span>
          </div>
          <div class="col-50">
            <input type="number" name="attr_platinum_per_gold" value="10">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap-box mar-b-smd">
    <span class="en">Please see the wiki. You'll need to use a browser extension to change the css to show certain parts.</span>
    <span class="de">Please see the wiki. You'll need to use a browser extension to change the css to show certain parts.</span>
    <span class="fr">Merci de vous référer au wiki. Vous aurez besoin d'une extension de navigateur pour changer le css afin de montrer certaines parties.</span>
    <span class="ru">Подробнее в вики. Вам понадобится расширение браузера, чтобы изменить css для показа дополнительной информации.</span>
    <div class="shaped-row vert-center">
      <input type="hidden" name="attr_hide_gm_info" value="@{hide_saving_throw_dc} @{hide_saving_throw_failure} @{hide_saving_throw_success} @{hide_effect} @{hide_recharge}">

      <div class="col-20">
        <span class="en">Hide Save DC:</span>
        <span class="de">Hide Save DC:</span>
        <span class="fr">Cacher DD Sauv:</span>
        <span class="ru">Скрывать спасброски:</span>
        <input type="hidden" name="attr_hide_saving_throw_dc_var" value="{{hide_saving_throw_dc=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_dc" value="@{hide_saving_throw_dc_var}">
      </div>
      <div class="col-20">
        <span class="en">Hide Save Failure:</span>
        <span class="de">Hide Save Failure:</span>
        <span class="fr">Cacher Echec Sauv:</span>
        <span class="ru">Скрывать неудачные броски:</span>
        <input type="hidden" name="attr_hide_saving_throw_failure_var" value="{{hide_saving_throw_failure=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_failure" value="@{hide_saving_throw_failure_var}">
      </div>
      <div class="col-20">
        <span class="en">Hide Save Success:</span>
        <span class="de">Hide Save Success:</span>
        <span class="fr">Cacher Succès Sauv:</span>
        <span class="ru">Скрывать успешные броски:</span>
        <input type="hidden" name="attr_hide_saving_throw_success_var" value="{{hide_saving_throw_success=1}}">
        <input type="checkbox" name="attr_hide_saving_throw_success" value="@{hide_saving_throw_success_var}">
      </div>
      <div class="col-20">
        <span class="en">Hide Effect:</span>
        <span class="de">Hide Effect:</span>
        <span class="fr">Cacher Effet:</span>
        <span class="ru">Скрывать эффекты:</span>
        <input type="hidden" name="attr_hide_effect_var" value="{{hide_effect=1}}">
        <input type="checkbox" name="attr_hide_effect" value="@{hide_effect_var}">
      </div>
      <div class="col-20">
        <span class="en">Hide Recharge:</span>
        <span class="de">Hide Recharge:</span>
        <span class="fr">Cacher Recharge:</span>
        <span class="ru">Скрывать Перезарядку:</span>
        <input type="hidden" name="attr_hide_recharge_var" value="{{hide_recharge=1}}">
        <input type="checkbox" name="attr_hide_recharge" value="@{hide_recharge_var}">
      </div>
    </div>
    <div class="wrap-box-title center"><span class="en">Hide NPC info</span><span class="de">Hide NPC info</span><span class="fr">Infos cachées PNJ</span><span class="ru">Скрыть инфо НПС</span></div>
  </div>
</div>
