@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");

.charsheet {
  font-family: "Old Standard TT", Arial;
}

.hidden {
  display: none;
}

input:invalid {
  border: 2px solid red;
}

.sheet-rolltemplate-stats div.sheet-template-container {
  border: 2px solid black;
  border-radius: 0.3em;
  box-shadow: inset 0px 0px 3px 1px black;
  text-align: center;
}

.sheet-rolltemplate-stats div.sheet-template-header h1,
.sheet-rolltemplate-stats div.sheet-template-header h2 {
  display: inline;
  color: white;
  font-variant: small-caps;
  font-size: 1.2em;
}

.sheet-rolltemplate-stats div.sheet-template-container .inlinerollresult {
  background-color: transparent;
  border: none;
  font-weight: unset;
  font-size: unset;
  padding: unset;
}

.sheet-rolltemplate-stats div.sheet-template-header {
  background-color: black;
  border-bottom: 2px solid #4d4d4d;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.sheet-rolltemplate-stats div.sheet-template-header div {
  color: white;
  font-size: small;
}

.sheet-rolltemplate-stats div.sheet-template-body div.sheet-template-row {
  background-color: white;
  padding: 1.5%;
}

.sheet-rolltemplate-stats
  div.sheet-template-body
  div.sheet-template-row
  span.sheet-inlinerollresult {
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  cursor: help;
  padding: 0 3px 0 3px;
}

input.resistance-disabled {
  background: white;
  border: none;
  text-align: center;
}

input.resistance-enabled {
  text-align: center;
}

td.top-row {
  border-bottom: 1px solid lightgray;
}

td.left-col {
  border-right: 1px solid lightgray;
}

input.middle-cell {
  font-weight: bold;
  color: black;
}
