.sheet-base {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
input, textarea, select, .uneditable-input {
    display: inline-block;
    width: 180px;
    height: 16px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 14px;
    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[name=attr_char_height], input[name=attr_char_weight], input[name=attr_attackdamage] {
    width: 70px
}



input[name=attr_char_eyecolor], input[name=attr_char_haircolor] {
    width: 100px
}

input[name=attr_char_otherfeatures] {
    width: 227px
}

input[name=attr_char_background] {
    width: 140px;
}

input[name=attr_char_profession] {
    width: 175px;
}

input[name=attr_char_size] {
    width: 100px;
}

input[name=attr_char_senses] {
    width: 140px;
}

.ui-dialog .charsheet button[type=roll], .ui-dialog .charsheet button[type=compendium] {
    padding: 2px 3px;
    font-size: 1em;
    margin: 0px 3px 0px 3px;
}

select[name=attr_mod], 
select[name=attr_attackmod], 
select[name=attr_attackdamagemod] {
    height: 26px;
    width: 70px;
}

select[name=attr_arcanemod],
select[name=attr_divinemod],
select[name=attr_occultmod],
select[name=attr_primalmod],
select[name=attr_psionicmod] {
    height: 26px;
    width: 69px;
}

select[name=attr_cantripsource], 
select[name=attr_ritualsource], 
select[name=attr_spellsource] {
    height: 26px;
    width: 72px;
}

input[name=attr_skillname] {
    width: 115px;
}

input[name=attr_char_speed] {
    width: 100px;
}

button[name=roll_talent], 
button[name=roll_ability], 
button[name=roll_attackdesc-chat], 
button[name=roll_reaction], 
button[name=roll_combatability], 
button[name=roll_cantrip], 
button[name=roll_ritual],
button[name=roll_spell], 
button[name=roll_resist], 
button[name=roll_vuln] {
    font-family: 'pictos';
    font-size: 16px;
}



.ui-dialog .charsheet button[name=roll_talent]:before, 
.ui-dialog .charsheet button[name=roll_ability]:before, 
.ui-dialog .charsheet button[name=roll_attackdesc-chat]:before, 
.ui-dialog .charsheet button[name=roll_reaction]:before, 
.ui-dialog .charsheet button[name=roll_combatability]:before,
.ui-dialog .charsheet button[name=roll_cantrip]:before, 
.ui-dialog .charsheet button[name=roll_ritual]:before, 
.ui-dialog .charsheet button[name=roll_spell]:before, 
.ui-dialog .charsheet button[name=roll_resist]:before, 
.ui-dialog .charsheet button[name=roll_vuln]:before {
    font-family: "dicefontd20";
    content: "";
}

input[name=attr_talentname] {
    width: 197px;
}

input[name=attr_abilityname] {
    width: 243px;
}

.ui-dialog .charsheet input[name=attr_char_currencyamber], 
.ui-dialog .charsheet input[name=attr_char_currencysilver],
.ui-dialog .charsheet input[name=attr_char_currencyqorn], 
.ui-dialog .charsheet input[name=attr_char_currencydiamond] {
    width: 100px;
}

.ui-dialog .charsheet input[name=attr_char_currenthp], 
.ui-dialog .charsheet input[name=attr_char_maxhp] {
    width: 50px;
}

input[name=attr_attackname] {
    width: 130px;
}

input[name=attr_attackrange] {
    width: 100px;
}

input[name=attr_reactionname] {
    width: 195px;
}

input[name=attr_combatabilityname] {
    width: 195px;
}

input[name=attr_resistname], input[name=attr_vulnname] {
    width: 135px;
}

input[name=attr_cantripname] {
    width: 140px;
}

input[name=attr_cantriprange] {
    width: 60px;
}

input[name=attr_cantriprequires] {
    width: 150px;
}

input[name=attr_cantripduration] {
    width: 92px;
}

input[name=attr_ritualname] {
    width: 100px;
}

input[name=attr_ritualcastingtime] {
    width: 75px;
}

input[name=attr_ritualmaterials] {
    width: 120px;
}

input[name=attr_ritualrecharge] {
    width: 85px;
}

input[name=attr_ritualduration] {
    width: 100px;
}

input[name=attr_spellname] {
    width: 100px;
}

input[name=attr_spellrange] {
    width: 60px;
}

input[name=attr_spellrequires] {
    width: 115px;
}

input[name=attr_spellduration] {
    width: 92px;
}

input[name=attr_cantripdescription], 
input[name=attr_ritualdescription], 
input[name=attr_spelldescription] {
    width: 100%;
}


.largedialog textarea {
    width: 98%;
    min-width: 98%;
    max-width: 98%;
    min-height: 14px;
}

.largedialog textarea[name=attr_talentdescription],
.largedialog textarea[name=attr_abilitydescription], 
.largedialog textarea[name=attr_reactiondescription],
.largedialog textarea[name=attr_combatabilitydescription], 
.largedialog textarea[name=attr_resistdescription], 
.largedialog textarea[name=attr_vulndescription] {
    height: 30px;
}

.largedialog textarea[name=attr_attackdescription], 
.largedialog textarea[name=attr_cantripdescription],
.largedialog textarea[name=attr_ritualdescription],
.largedialog textarea[name=attr_spelldescription] {
    height: 14px;
}

.charsheet .sheet-grid-general {
    display: grid;
    grid-template-columns: 270px 274px 274px;
    grid-gap: 10px;
}

.charsheet .sheet-grid-combat {
    display: grid;
    grid-template-columns: 317px 317px 165px;
    grid-gap: 10px;
}


/* Configure the Button Bar */
.sheet-buttonbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px 0 0 0;
    background: rgba(255,255,255,0.75);
}
.sheet-navbuttons,
.sheet-functions,
.sheet-docbuttons {
    flex: 1 0 33%;
}
.sheet-navbuttons {
    text-align: left;
}
.sheet-functions {
    text-align: center;
}
.sheet-docbuttons {
    text-align: right;
}
/*Configure the tab*/
.sheet-general,
.sheet-combat,
.sheet-magic,
.sheet-inventory,
.sheet-journal,
.sheet-backstory {
	display: none;
}
.sheet-journal,
.sheet-backstory {
    background: rgba(255,255,255,0.75);
}

.sheet-tabstoggle[value="general"] ~ div.sheet-general,
.sheet-tabstoggle[value="combat"] ~ .sheet-combat,
.sheet-tabstoggle[value="magic"] ~ div.sheet-magic,
.sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal,
.sheet-tabstoggle[value="backstory"] ~div.sheet-backstory {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.sheet-topbuttons {
    background-color: #dbd6d6b7;
    font-family: inherit;
    font-size: 1em;
    border: outset;
    background-image: none;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    height: 20px;
    margin: 0px;
    padding: 0 5px 0 5px;
}
.sheet-journal[value="read"] + .sheet-journal,
.sheet-backstory[value="read"] + .sheet-backstory {
    color: black;
}
.sheet-journal[value="unread"] + .sheet-journal {
    color: red;
}
.sheet-backstory[value="unread"] + .sheet-backstory {
    color: blue;
}