.container-fluid
  h1 Gamma World 3e
  label.tab
    input.pageToggle(type="radio" value="1" name="attr_pageToggle")
    span PC
  label.tab
    input.pageToggle(type="radio" value="2" name="attr_pageToggle")
    span Monster
  label.tab
    input.pageToggle(type="radio" value="3" name="attr_pageToggle")
    span Roll-up
  div
    input.pageToggle(type="hidden" name="attr_pageToggle" value="1")
    .tab1
      .sheet-container
        .row
          .col-xs-4
            .row.middle-xs
              .col-xs-2
                label Name:
              .col-xs-10
                input(type="text" name="attr_character_name" title="@{character_name}")
          .col-xs-3
            .row.middle-xs      
              .col-xs-2
                label XP:
              .col-xs-4
                input(type="number" name="attr_character_xp" title="@{XP}")
              .col-xs-3
                label Rank:
              .col-xs-3
                input(type="number" name="attr_character_rank" title="@{character_rank}" value=1)  
          .col-xs-5
            .row.middle-xs
              .col-xs-2
                  label Size:
              .col-xs-3
                select(name="attr_character_size" title="@{size}" value=3)
                  option(value=1) Tiny
                  option(value=2) Small
                  option(value=3) Medium
                  option(value=4) Large
                  option(value=5) Huge
              .col-xs-2
                label Type:
              .col-xs-5
                select(name="attr_character_type" title="@{character_type}")
                  option(value=1) Pure Strain Human
                  option(value=2) Mutated Human
                  option(value=3) Mutated Animal
                  option(value=4) Mutated Plant
        .row.middle-xs.underline
          .col-xs-1
            label Age:
          .col-xs-1
            input(type="number" name="attr_character_age")
          .col-xs-1
            label Gender:
          .col-xs-1
            input(type="text" name="attr_character_gender")
          .col-xs-1
            label Height:
          .col-xs-1
            input(type="number" name="attr_character_height" step=0.01)
          .col-xs-1
            label Weight:
          .col-xs-1
            input(type="number" name="attr_character_weight" step=0.01)
          .col-xs-1
            label Status:
          .col-xs-1
            input(type="number" name="attr_character_status")
          .col-xs-1
            label Tech Lvl.:
          .col-xs-1
            select(name="attr_character_tech_level" title="@{character_tech_level}")
                option(value=1) I
                option(value=2) II
                option(value=3) III
                option(value=4) IV
                option(value=5) V
        .row.top-xs
          .col-xs-8
            .row.underline
              .col-xs-12
                input.rollSwitch(type="hidden" name="attr_rollSwitch" value="0")
                .row.pre-rolled
                  .col-xs-12
                    //- input.rollSwitch(type="checkbox" name="attr_character_rolled" value="0")
                    
                .row.post-rolled
                  .col-xs-6.post-rolled
                    h2 Physical Abilities
                    .row
                      .col-xs-1
                      .col-xs-2(title="Current Score") Cur.
                      .col-xs-2(title="Initially Rolled Score") Orig.
                      .col-xs-2(title="Character Advancement") Adv.
                      .col-xs-2(title="Temporary Change") Tmp.
                      .col-xs-2(title="Score Modifier") Mod.
                      .col-xs-1.padless Roll
                    .row.middle-xs
                      .col-xs-1
                        label.ability PS
                      .col-xs-2
                        input(type="hidden" name="attr_PS" title="@{PS}")
                        span.emphasis(name="attr_PS")
                      .col-xs-2
                        input(type="hidden" name="attr_PS_rolled" title="@{PS_rolled}")
                        span(name="attr_PS_rolled")
                      .col-xs-2
                        input(type="number" name="attr_PS_advanced" value="0" title="@{PS_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_PS_tmp" value="0" title="@{PS_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_PS_modifier" value="0" title="@{PS_modifier}")
                        input(type="number" name="attr_PS_mod" value="@{PS_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_PS' value='!gw act @{PS} CS|?{CS|0} title|Physical character|@{character_id}')
                    .row.middle-xs
                      .col-xs-1
                        label.ability DX
                      .col-xs-2
                        input(type="hidden" name="attr_DX" title="@{DX}")
                        span.emphasis(name="attr_DX")
                      .col-xs-2
                        input(type="hidden" name="attr_DX_rolled" title="@{DX_rolled}")
                        span(name="attr_DX_rolled")
                      .col-xs-2
                        input(type="number" name="attr_DX_advanced" value="0" title="@{DX_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_DX_tmp" value="0" title="@{DX_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_DX_modifier" value="0" title="@{DX_modifier}")
                        input(type="number" name="attr_DX_mod" value="@{DX_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_DX' value='!gw act @{DX} CS|?{CS|0} title|Dexterity character|@{character_id}')
                    .row.middle-xs
                      .col-xs-1
                        label.ability CN
                      .col-xs-2
                        input(type="hidden" name="attr_CN" title="@{CN}")
                        span.emphasis(name="attr_CN")
                      .col-xs-2
                        input(type="hidden" name="attr_CN_rolled" title="@{CN_rolled}")
                        span(name="attr_CN_rolled")
                      .col-xs-2
                        input(type="number" name="attr_CN_advanced" value="0" title="@{CN_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_CN_tmp" value="0" title="@{CN_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_CN_modifier" value="0" title="@{CN_modifier}")
                        input(type="number" name="attr_CN_mod" value="@{CN_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_CN' value='!gw act @{CN} CS|?{CS|0} title|Constitution character|@{character_id}')
                  .col-xs-6.post
                    h2 Mental Abilities
                    .row
                      .col-xs-1
                      .col-xs-2(title="Current Score") Cur.
                      .col-xs-2(title="Initially Rolled Score") Orig.
                      .col-xs-2(title="Character Advancement") Adv.
                      .col-xs-2(title="Temporary Change") Tmp.
                      .col-xs-2(title="Score Modifier") Mod.
                      .col-xs-1.padless Roll
                    .row.middle-xs
                      .col-xs-1
                        label.ability IN
                      .col-xs-2
                        input(type="hidden" name="attr_IN" title="@{IN}")
                        span.emphasis(name="attr_IN")
                      .col-xs-2
                        input(type="hidden" name="attr_IN_rolled" title="@{IN_rolled}")
                        span(name="attr_IN_rolled")
                      .col-xs-2
                        input(type="number" name="attr_IN_advanced" value="0" title="@{IN_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_IN_tmp" value="0" title="@{IN_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_IN_modifier" value="0" title="@{IN_modifier}")
                        input(type="number" name="attr_IN_mod" value="@{IN_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_IN' value='!gw act @{IN} CS|?{CS|0} title|Intelligence character|@{character_id}')
                    .row.middle-xs
                      .col-xs-1
                        label.ability MS
                      .col-xs-2
                        input(type="hidden" name="attr_MS" title="@{MS}")
                        span.emphasis(name="attr_MS")
                      .col-xs-2
                        input(type="hidden" name="attr_MS_rolled" title="@{MS_rolled}")
                        span(name="attr_MS_rolled")
                      .col-xs-2
                        input(type="number" name="attr_MS_advanced" value="0" title="@{MS_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_MS_tmp" value="0" title="@{MS_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_MS_modifier" value="0" title="@{MS_modifier}")
                        input(type="number" name="attr_MS_mod" value="@{MS_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_MS' value='!gw act @{MS} CS|?{CS|0} title|Mental_Strength character|@{character_id}')
                    .row.middle-xs
                      .col-xs-1
                        label.ability CH
                      .col-xs-2
                        input(type="hidden" name="attr_CH" title="@{CH}")
                        span.emphasis(name="attr_CH")
                      .col-xs-2
                        input(type="hidden" name="attr_CH_rolled" title="@{CH_rolled}")
                        span(name="attr_CH_rolled")
                      .col-xs-2
                        input(type="number" name="attr_CH_advanced" value="0" title="@{CH_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_CH_tmp" value="0" title="@{CH_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_CH_modifier" value="0" title="@{CH_modifier}")
                        input(type="number" name="attr_CH_mod" value="@{CH_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_CH' value='!gw act @{CH} CS|?{CS|0} title|Charsima character|@{character_id}')
            .row.underline
              .col-xs-12
                h2 Mutations
                .row.middle-xs
                  .col-xs-3
                    label Name
                  .col-xs-2
                    label Type
                  .col-xs-2
                    label Use
                  .col-xs-1
                    label Range
                  .col-xs-1
                    label Rank
                  .col-xs-1
                    label Dmg.
                fieldset.repeating_mutations
                  .row
                    .col-xs-3
                      input(type="text" name="attr_name")
                    .col-xs-2
                      select(name="attr_type")
                        option(value="physical") Physical
                        option(value="mental") Mental
                        option(value="defect") Defect
                    .col-xs-2
                      input(type="text" name="attr_use")
                    .col-xs-1
                      input(type="text" name="attr_range")
                    .col-xs-1
                      input(type="number" name="attr_rank")
                    .col-xs-1
                      input(type="text" name="attr_dmg")
                    .col-xs-1
                      input(type="hidden" name="attr_id")
                      input(type="hidden" name="attr_ref")
                      button(type='roll' name='roll_mutation' value='!gw act @{rank} CS|?{CS|0} id|@{ref} title|ref describe|@{describe} category|mutations save|@{save} effect|@{effect} effect_crit|@{effect_crit} dmg|@{dmg} dmg_type|@{dmg_type} mod|@{modifier} character|@{character_id} target_id|@{target|target1|token_id} ')
                      //- button(type='roll' name='roll_mutation2' value='!gw act @{rank} title|@{name} character|@{character_id} target_id|@{target|token_id}')
                      //- button(type='roll' name='roll_mutation4' value='!gw act @{rank} title|@{name} character|@{character_id} target_id|@{target|target1|token_name}')
                  input.short.options-flag(type="checkbox" name="attr_options-flag" class="options-flag" )
                  span y
                  .options
                    .row.middle-xs
                      .col-xs-1
                        label Mod.
                      .col-xs-2
                        //- input(type="hidden" name="attr_save")
                        input(type="hidden" name="attr_effect")
                        input(type="hidden" name="attr_effect_crit")
                        input(type="hidden" name="attr_dmg_type")
                        select(name="attr_modifier")
                          option(value="PS") PS
                          option(value="DX") DX
                          option(value="CN") CN
                          option(value="IN") IN
                          option(value="MS") MS
                          option(value="CH") CH
                      .col-xs-2
                        label Targets
                      .col-xs-2
                        input(type="text" name="attr_number")
                      .col-xs-2
                        label Effort
                      .col-xs-3
                        select(name="attr_effort")
                          option(value="passive") Subconscious
                          option(value="active") Conscious
                    .row.middle-xs
                      .col-xs-1
                        label Save
                      .col-xs-2
                        select(name="attr_save")
                          option(value="PS") PS
                          option(value="DX") DX
                          option(value="CN") CN
                          option(value="IN") IN
                          option(value="MS") MS
                          option(value="CH") CH
                      .col-xs-2
                        label Duration
                      .col-xs-2
                        input(type="text" name="attr_duration")
                    .row.middle-xs
                      .col-xs-1 
                        label Effect
                      .col-xs-2 
                        select(name="attr_effect" value=0)
                          option(value=0) None
                          option(value="accrit") AC Critical
                          option(value="burn") Burn
                          option(value="cold") Cold
                          option(value="compa") Comp. A
                          option(value="compc") Comp. C
                          option(value="critical") Critical
                          option(value="delirium") Delirium
                          option(value="disintegrate") Disintegrate
                          option(value="domination") Domination
                          option(value="electrical") Electrical
                          option(value="fatal") Fatal
                          option(value="fieldnegate") Field Negate
                          option(value="fumes") Fumes
                          option(value="heat") Heat
                          option(value="extrarf") Hits +1RF
                          option(value="ignites") Ignites
                          option(value="ignoresac") Ignores AC
                          option(value="intercept") Intercept
                          option(value="irritant") Irritant
                          option(value="knockdown") Knock Down
                          option(value="ko") Knock Out
                          option(value="mutate") Mutate
                          option(value="paralysis") Paralysis
                          option(value="poison") Poison
                          option(value="powerdrain") Power Drain
                          option(value="radiation") Radiation
                          option(value="scatter") Scatter
                          option(value="seeker") Seeker
                          option(value="shortout") Short Out
                          option(value="slam") Slam
                          option(value="sonic") Sonic
                          option(value="stun") Stun
                          option(value="subsonics") Subsonics
                          option(value="tangle") Tangle
                      .col-xs-2 Critical
                      .col-xs-2
                        select(name="attr_effect_crit" value=0)
                          option(value=0) None
                          option(value="accrit") AC Critical
                          option(value="burn") Burn
                          option(value="cold") Cold
                          option(value="compa") Comp. A
                          option(value="compc") Comp. C
                          option(value="critical") Critical
                          option(value="delirium") Delirium
                          option(value="disintegrate") Disintegrate
                          option(value="domination") Domination
                          option(value="electrical") Electrical
                          option(value="fatal") Fatal
                          option(value="fieldnegate") Field Negate
                          option(value="fumes") Fumes
                          option(value="heat") Heat
                          option(value="extrarf") Hits +1 RF
                          option(value="ignites") Ignites
                          option(value="ignoresac") Ignores AC
                          option(value="intercept") Intercept
                          option(value="irritant") Irritant
                          option(value="knockdown") Knock Down
                          option(value="ko") Knock Out
                          option(value="mutate") Mutate
                          option(value="paralysis") Paralysis
                          option(value="poison") Poison
                          option(value="powerdrain") Power Drain
                          option(value="radiation") Radiation
                          option(value="scatter") Scatter
                          option(value="seeker") Seeker
                          option(value="shortout") Short Out
                          option(value="slam") Slam
                          option(value="sonic") Sonic
                          option(value="stun") Stun
                          option(value="subsonics") Subsonics
                          option(value="tangle") Tangle
                      .col-xs-12
                        label Description
                      .col-xs-12
                        textarea(name="attr_description")
                      .col-xs-12 Show description on roll
                        input.short(type="checkbox" name="attr_describe" class="check-flag" )
            .row.underline
              .col-xs-12
                h2 Attacks
                .row.middle-xs
                  .col-xs-5
                    label Name
                  .col-xs-2
                    label Mod.
                  .col-xs-1
                    label Range
                  .col-xs-1
                    label Dmg.
                  .col-xs-1
                    label Skill
                fieldset.repeating_attacks
                  .row
                    .col-xs-5
                      input(type="text" name="attr_name")
                    .col-xs-2
                      select(name="attr_modifier")
                        option(value="PS") PS
                        option(value="DX") DX
                        option(value="CN") CN
                        option(value="IN") IN
                        option(value="MS") MS
                        option(value="CH") CH
                    .col-xs-1
                      input(type="text" name="attr_range")
                    .col-xs-1
                      input(type="text" name="attr_dmg")
                    .col-xs-1
                      input(type="hidden" name="attr_ref")
                      input(type="text" name="attr_rank")
                    .col-xs-1
                      button(type='roll' name='roll_attack' value='!gw act @{rank} CS|?{CS|0} id|@{ref} title|ref category|attacks effect|@{effect} effect_crit|@{effect_crit} dmg|@{dmg} skilldmg|@{skilldmg} mod|@{modifier} skill|@{skill} tech|@{tech} type|@{type} character|@{character_id} target_id|@{target|target1|token_id}')
                      //- button(type='roll' name='roll_attack' value='!gw act @{rank} CS|?{CS|0} title|@{name} mod|@{modifier} tech|@{tech} type|@{type} effect|@{effect} character|@{character_id}')
                  input.short.options-flag(type="checkbox" name="attr_options-flag" class="options-flag" )
                  span y
                  .options
                    .col-xs-12
                      .row.middle-xs
                        .col-xs-1 Type
                        .col-xs-3
                          select(name="attr_type")
                            option(value="brawling") Brawling
                            option(value="charging") Charging
                            option(value="grappling") Grappling
                            option(value="distracting") Distracting
                            option(value="dodging") Dodging
                            option(value="evasion") Evasion
                            option(value="feinting") Feinting
                            option(value="martialarts") Martial Arts
                            option(value="melee") Melee
                            option(value="shooting") Shooting
                            option(value="calledshot") Called Shot
                            option(value="crowdfire") Firing into Crowd
                            option(value="parrying") Parrying
                            option(value="throwing") Throwing
                        .col-xs-1 Skill
                        .col-xs-2
                          select(name="attr_skill")
                            option(value="brawling") Brawling
                            option(value="martialarts") Martial Arts
                            option(value="melee") Melee
                            option(value="riding") Riding
                            option(value="throwing") Throwing
                    .col-xs-12
                      .row.middle-xs
                        .col-xs-2 Effect
                        .col-xs-2 
                          select(name="attr_effect" value=0)
                            option(value=0) None
                            option(value="accrit") AC Critical
                            option(value="burn") Burn
                            option(value="cold") Cold
                            option(value="compa") Comp. A
                            option(value="compc") Comp. C
                            option(value="critical") Critical
                            option(value="delirium") Delirium
                            option(value="disintegrate") Disintegrate
                            option(value="domination") Domination
                            option(value="electrical") Electrical
                            option(value="fatal") Fatal
                            option(value="fieldnegate") Field Negate
                            option(value="fumes") Fumes
                            option(value="heat") Heat
                            option(value="extrarf") Hits +1RF
                            option(value="ignites") Ignites
                            option(value="ignoresac") Ignores AC
                            option(value="intercept") Intercept
                            option(value="irritant") Irritant
                            option(value="knockdown") Knock Down
                            option(value="ko") Knock Out
                            option(value="mutate") Mutate
                            option(value="paralysis") Paralysis
                            option(value="poison") Poison
                            option(value="powerdrain") Power Drain
                            option(value="radiation") Radiation
                            option(value="scatter") Scatter
                            option(value="seeker") Seeker
                            option(value="shortout") Short Out
                            option(value="slam") Slam
                            option(value="sonic") Sonic
                            option(value="stun") Stun
                            option(value="subsonics") Subsonics
                            option(value="tangle") Tangle
                        .col-xs-2 Critical
                        .col-xs-2
                          select(name="attr_effect_crit" value=0)
                            option(value=0) None
                            option(value="accrit") AC Critical
                            option(value="burn") Burn
                            option(value="cold") Cold
                            option(value="compa") Comp. A
                            option(value="compc") Comp. C
                            option(value="critical") Critical
                            option(value="delirium") Delirium
                            option(value="disintegrate") Disintegrate
                            option(value="domination") Domination
                            option(value="electrical") Electrical
                            option(value="fatal") Fatal
                            option(value="fieldnegate") Field Negate
                            option(value="fumes") Fumes
                            option(value="heat") Heat
                            option(value="extrarf") Hits +1 RF
                            option(value="ignites") Ignites
                            option(value="ignoresac") Ignores AC
                            option(value="intercept") Intercept
                            option(value="irritant") Irritant
                            option(value="knockdown") Knock Down
                            option(value="ko") Knock Out
                            option(value="mutate") Mutate
                            option(value="paralysis") Paralysis
                            option(value="poison") Poison
                            option(value="powerdrain") Power Drain
                            option(value="radiation") Radiation
                            option(value="scatter") Scatter
                            option(value="seeker") Seeker
                            option(value="shortout") Short Out
                            option(value="slam") Slam
                            option(value="sonic") Sonic
                            option(value="stun") Stun
                            option(value="subsonics") Subsonics
                            option(value="tangle") Tangle
                    .col-xs-12
                      .row.middle-xs
                        .col-xs-2 Tech Lvl.
                        .col-xs-2
                          select(name="attr_tech")
                              option(value=1) I
                              option(value=2) II
                              option(value=3) III
                              option(value=4) IV
                              option(value=5) V
                          input(type="number" name="attr_tech")
                        .col-xs-2 Tech Rank
                        .col-xs-2
                          select(name="attr_tech_rank") 
                            option(value="N") N
                            option(value="A") A
                            option(value="B") B
                            option(value="C") C
                            option(value="D") D
                            option(value="E") E
                            option(value="F") F
                            option(value="G") G
                            option(value="H") H
                            option(value="I") I
                            option(value="J") J
                    .col-xs-12 Add attack rank to damage
                      input.short(type="checkbox" name="attr_skilldmg" class="check-flag" )
                    .col-xs-12 Notes
                    .col-xs-12 
                      textarea(name="attr_notes")

            .row.underline
              .col-xs-12
                h2 Armour
                .row.middle-xs
                  .col-xs-5
                    label Type
                  .col-xs-2
                    label RF
                  .col-xs-2
                    label DR
                  .col-xs-1
                    label Wt.
                  .col-xs-1
                    label √
                fieldset.repeating_armour
                  .row
                    .col-xs-5
                      input(type="text" name="attr_name")
                    .col-xs-2
                      input(type="text" name="attr_RF_physical" value="0")
                    .col-xs-2
                      input(type="text" name="attr_DR_physical" value="0")
                    .col-xs-1
                      input(type="number" name="attr_weight" value="0" step=0.01)
                    .col-xs-1 
                      input(type="checkbox" name="attr_equipped" value="1" checked="true")
                  input.short.options-flag(type="checkbox" name="attr_options-flag" class="options-flag" )
                  span y
                  .options
                    .row.middle-xs
                      .col-xs-1 Notes
                      .col-xs-6
                        input(type="text" name="attr_notes")
                      .col-xs-1 Tech Lvl.
                      .col-xs-2
                        select(name="attr_tech")
                          option(value=0) None
                          option(value=1) I
                          option(value=2) II
                          option(value=3) III
                          option(value=4) IV
                          option(value=5) V
                      .col-xs-1 Tech Rank
                      .col-xs-1
                        select(name="attr_tech_rank") 
                          option(value="N") N
                          option(value="A") A
                          option(value="B") B
                          option(value="C") C
                          option(value="D") D
                          option(value="E") E
                          option(value="F") F
                          option(value="G") G
                          option(value="H") H
                          option(value="I") I
                          option(value="J") J
                    .row.middle-xs
                      .col-xs-12 Powered
                        input.short(type="checkbox" name="attr_powered" class="check-flag" )
                        .check-options
                          .row
                            input(type="hidden" name="attr_covers")
                            input(type="hidden" name="attr_DR_energy" value="0") 
                            input(type="hidden" name="attr_jump" value="0") 
                            input(type="hidden" name="attr_material" value="0") 
                            input(type="hidden" name="attr_medkit" value="0")
                            input(type="hidden" name="attr_jetpack" value="0")
                            input(type="hidden" name="attr_airtight" value="0")
                          .row
                            .col-xs-4
                              .row
                                .col-xs-8 Air Supply (hrs)
                                .col-xs-4
                                  input(type="number" name="attr_airsupply" value="0" step=0.01)
                            .col-xs-8
                              .row
                                .col-xs-4 Sensors
                                .col-xs-8
                                  select(name="attr_sensors" )
                                    //- Human Visual & Audio Ranges .
                                    option(value="H") Human Visual / Audio
                                    //- Infrared and Ultraviolet .
                                    option(value="IU") Infrared and Ultraviolet
                                    //- Microscopic.
                                    option(value="S") Microscopic
                                    //- Telescopic.
                                    option(value="T") Telescopic
                                    //- Audio, 3x Human Hearing
                                    option(value="A") Audio
                                    //- Radar/ Sonar
                                    option(value="R") Radar/ Sonar 
                                    //- Communications , Radiowaves
                                    option(value="C") Communications 
                                    //- 'Feeling , 3x Human Standards (Touch, Smell , Electronic Aura) option(value="1")  M = Magnetic (as Feeling Range)
                                    option(value="F") Feeling
                                    //- Vibrations (as Feeling Range)
                                    option(value="V") Vibrations

                          .row
                            .col-xs-4
                              .row
                                .col-xs-8 No. Cells
                                .col-xs-4
                                  input(type="number" name="attr_cells_no")
                              
                            .col-xs-4
                              .row
                                .col-xs-6 Cells Type
                                .col-xs-6
                                  select(name="attr_cells_type")
                                    //- Atomic
                                    option(value="A") Atomic 
                                    //- Broadcast
                                    option(value="B") Broadcast
                                    //- Chemical
                                    option(value="C") Chemical
                                    //- Hydrogen
                                    option(value="H") Hydrogen
                                    //- Nuclear
                                    option(value="N") Nuclear
                                    //- Solar
                                    option(value="S") Solar
                            
                            .col-xs-4
                              .row
                                .col-xs-8 Power Duration (hours)
                                .col-xs-4
                                  input(type="number" name="attr_power_duration" step=0.01)
                            
                          .row
                            .col-xs-4
                              .row
                                .col-xs-8 Strength x
                                .col-xs-4
                                  input(type="number" name="attr_PS_factor" value="1" step=0.01)
                            
                            .col-xs-4
                              .row
                                .col-xs-8 Speed x
                                .col-xs-4
                                  input(type="number" name="attr_spd_factor" value="1" step=0.01)
                            
                            .col-xs-4
                              .row
                                .col-xs-8 Enc. x
                                .col-xs-4
                                  input(type="number" name="attr_enc_factor" value="0.5" step=0.01)
                      
                      .col-xs-12 Shield
                        input.short(type="checkbox" name="attr_shield" class="check-flag" )
                        .check-options
                          .row.middle-xs
                            .col-xs-2
                              label Size
                            .col-xs-3
                              select(name="attr_shield_size" value="0")
                                option(value=0) None
                                option(value=1) Small
                                option(value=2) Medium
                                option(value=3) Large
                            .col-xs-3
                              label Material
                            .col-xs-4
                              select(name="attr_shield_material" value="0")
                                option(value=0) None
                                option(value=1) Wood
                                option(value=2) Leather
                                option(value=3) Carapace
                                option(value=4) Plastic
                                option(value=5) Metal
                                option(value=6) Duralloy

                      .col-xs-12 Helmet
                        input.short(type="checkbox" name="attr_helmet" class="check-flag" )
                        .check-options
                          .row.middle-xs
                            .col-xs-2
                              label Mental CS
                            .col-xs-3
                              input(type="number" name="attr_CS_mental" value=0)
                            .col-xs-3
                              label Material
                            .col-xs-4
                              select(name="attr_material" value="0")
                                option(value=0) None
                                option(value=2) Leather
                                option(value=3) Carapace
                                option(value=4) Plastic
                                option(value=5) Metal
                                option(value=6) Duralloy
                      
            .row.underline
              .col-xs-12
                h2 Gear
                .row.middle-xs
                  .col-xs-4
                    label Type
                  .col-xs-1
                    label Tech Lvl.
                  .col-xs-1
                    label Tech Rank
                  .col-xs-1
                    label Power
                  .col-xs-1
                    label Cost
                  .col-xs-1
                    label No. 
                  .col-xs-1
                    label Wt. 
                  .col-xs-1
                    label √ 
                fieldset.repeating_gear(title="@{gear}")
                  .row
                    .col-xs-4
                      input(type="text" name="attr_name") 
                    .col-xs-1
                      select(name="attr_tech")
                        option(value=0) None
                        option(value=1) I
                        option(value=2) II
                        option(value=3) III
                        option(value=4) IV
                        option(value=5) V
                    .col-xs-1
                      select(name="attr_tech_rank") 
                        option(value="N") N
                        option(value="A") A
                        option(value="B") B
                        option(value="C") C
                        option(value="D") D
                        option(value="E") E
                        option(value="F") F
                        option(value="G") G
                        option(value="H") H
                        option(value="I") I
                        option(value="J") J
                    .col-xs-1
                      input(type="text" name="attr_power") 
                    .col-xs-1
                      input(type="number" name="attr_cost") 
                    .col-xs-1
                      input(type="number" name="attr_count" value=1) 
                    .col-xs-1
                      input(type="number" name="attr_weight" step=0.01) 
                    .col-xs-1 
                      input(type="checkbox" name="attr_equipped" value="1" checked="true")
              .col-xs-6 
          .col-xs-4
            .row
              .col-xs-12
                h2 Movement
            .row.middle-xs
              .col-xs-3
                .row
                  .col-xs-8
                    label Speed
                  .col-xs-4
                    input(type="hidden" name="attr_speed_max" value=24)
                    input(type="hidden" name="attr_speed" value="6" title="@{spd}")
                    span( name="attr_speed")
              .col-xs-9
                .row
                  .col-xs-4
                    label Burden
                  .col-xs-8
                    input(type="hidden" name="attr_burden" title="@{burden}" )
                    span( name="attr_burden" )
            .row.middle-xs.underline
              .col-xs-6
                label Encumbrance
              .col-xs-4
                input(type="hidden" name="attr_encumbrance" value="0" title="@{enc}")
                span( name="attr_encumbrance")
              .col-xs-2
                span kg.
            .row
              .col-xs-12
                h2 Combat Stats
                .row.middle-xs
                  .col-xs-2
                    label.emphasis HP
                  .col-xs-3
                    input(type="number" name="attr_hp_max" title="@{hp_max}")
                  .col-xs-3
                    label.emphasis Wounds
                  .col-xs-4
                    input(type="number" name="attr_wounds" value="(@{hp|max}-@{hp})" title="@{wounds}" disabled="true")
            .row.middle-xs.underline
              .col-xs-4
                label.emphasis Defence
              .col-xs-8
                .row.middle-xs
                  .col-xs-4
                    label CS
                  .col-xs-4
                    label RF
                  .col-xs-4
                    label DR
            .row.middle-xs
              .col-xs-4 Physical
              .col-xs-8
                .row.middle-xs
                  .col-xs-4
                    span(name="attr_CS_physical")
                  .col-xs-4 
                    span(name="attr_RF_physical")
                  .col-xs-4
                    span(name="attr_DR_physical")
            .row.middle-xs.underline
              .col-xs-4 Energy
              .col-xs-8
                .row.middle-xs
                  .col-xs-4
                    span(name="attr_CS_energy")
                  .col-xs-4 
                    span(name="attr_RF_energy")
                  .col-xs-4
                    span(name="attr_DR_energy")
            .row.middle-xs
              .col-xs-4 Mental
              .col-xs-8
                .row.middle-xs
                  .col-xs-4
                    span(name="attr_CS_mental")
                  .col-xs-4 
                    span(name="attr_RF_mental")
                  .col-xs-4
                    span(name="attr_DR_mental")
            .row.underline
              .col-xs-12
                h2 Notes
                fieldset.repeating_notes
                  .row
                    .col-xs-12
                      input(type="text" name="attr_name")
                  input.short.options-flag(type="checkbox" name="attr_options-flag" class="options-flag" )
                  span y
                  .options
                    .row
                      .col-xs-12 Description
                      .col-xs-12
                        textarea(name="description")
            .row.underline
              .col-xs-12
                h2 Skills
                .row
                  .col-xs-5
                    label Name
                  .col-xs-2
                    label Rank
                  .col-xs-3
                    label Mod.
                fieldset.repeating_skills
                  .row
                    .col-xs-5
                      input(type="text" name="attr_name")
                    .col-xs-2
                      input(type="number" name="attr_rank")
                    .col-xs-3
                      select(name="attr_modifier")
                        option(value="PS") PS
                        option(value="DX") DX
                        option(value="CN") CN
                        option(value="IN") IN
                        option(value="MS") MS
                        option(value="CH") CH
                    .col-xs-1
                      button(type='roll' name='roll_skill' value='!gw act @{rank} title|@{name} mod|@{modifier} character|@{character_id}')
                  input.short.options-flag(type="checkbox" name="attr_options-flag" class="options-flag" )
                  span y
                  .options
                    .row
                      .col-xs-12 Description
                      .col-xs-12
                        textarea(name="attr_description")
            .row.underline
              .col-xs-12
                h2 Talents
                .row
                  .col-xs-12
                    label Name
                fieldset.repeating_talents
                  .row
                    .col-xs-8
                      input(type="hidden" name="attr_ref")
                      input(type="text" name="attr_name")
                    .col-xs-2
                      button(type='roll' name='roll_talent' value='!gw act @{character_rank} title|@{name} character|@{character_id}')
                  input.short.options-flag(type="checkbox" name="attr_options-flag" class="options-flag" )
                  span y
                  .options
                    .row
                      //- .col-xs-3 Affects:
                      //- .col-xs-3
                      //-   input(type="text" name="attr_affects")
                      //- .col-xs-3 Act Factor:
                      //- .col-xs-3
                      //-   input(type="text" name="attr_act_factor")
                      .col-xs-12 Description
                      .col-xs-12
                        textarea(name="attr_description")
                      //- .col-xs-12 Notes
                      //- .col-xs-12
                      //-   textarea(name="attr_notes")
            .row.underline
              .col-xs-12
                h2 Coins
                .row.middle-xs
                  .col-xs-8
                    label Type
                  .col-xs-4
                    label Amount
                .row.middle-xs
                  .col-xs-8
                    span Nickels
                  .col-xs-4
                    input(type="number" name="attr_coin_nk")
                .row.middle-xs
                  .col-xs-8
                    span Silver Coins
                  .col-xs-4
                    input(type="number" name="attr_coin_sp")
                .row.middle-xs
                  .col-xs-8
                    span Gold Coins
                  .col-xs-4
                    input(type="number" name="attr_coin_gp")
                .row.middle-xs
                  .col-xs-8
                    span Domars
                  .col-xs-4
                    input(type="number" name="attr_coin_dm")
                .row.middle-xs
                  .col-xs-8
                    span Dahlers
                  .col-xs-4
                    input(type="number" name="attr_coin_dl")
                .row.middle-xs
                  .col-xs-8
                    span Daublers
                  .col-xs-4
                    input(type="number" name="attr_coin_db")
            .row.underline
              .col-xs-12
                h2 Cells
                .row.middle-xs
                  .col-xs-8
                    label Type
                  .col-xs-4
                    label Amount
                .row.middle-xs
                  .col-xs-8
                    span Atomic
                  .col-xs-4
                    input(type="number" name="attr_cells_atomic")
                .row.middle-xs
                  .col-xs-8
                    span Chemical
                  .col-xs-4
                    input(type="number" name="attr_cells_chemical")
                .row.middle-xs
                  .col-xs-8
                    span Hydrogen
                  .col-xs-4
                    input(type="number" name="attr_cells_hydrogen")
                .row.middle-xs
                  .col-xs-8
                    span Solar
                  .col-xs-4
                    input(type="number" name="attr_cells_solar")          
    .tab2
      .sheet-container
        .row.underline
          .col-xs-8
            .row
              .col-xs-6
                .row.middle-xs
                  .col-xs-12
                    label Creature Type:
                  .col-xs-12
                    input(type="text" name="attr_creature_type" title="@{creature_type}")
                  .col-xs-12
                    br
                .row.middle-xs
                  .col-xs-3
                    label Number:
                  .col-xs-3
                    input(type="text" name="attr_number" title="@{number}")
                  .col-xs-3
                    label Morale:
                  .col-xs-3
                    input(type="number" name="attr_morale" title="@{morale}")  
                  .col-xs-12
                    .row.middle-xs
                      .col-xs-3
                        label Hit Dice:
                      .col-xs-3
                        input(type="number" name="attr_character_rank" title="@{rank}")  
                      .col-xs-3
                        label AC:
                      .col-xs-3
                        input(type="number" name="attr_AC" title="@{AC}" value="0")   
                  .col-xs-12
                    .row.middle-xs
                      .col-xs-1
                        label DR:
                      .col-xs-3
                        input(type="number" name="attr_DR_physical" title="@{DR_physica}" value="0") 
                      .col-xs-2
                        label Land Speed:
                      .col-xs-2
                        input(type="number" name="attr_spd_land" title="@{DR_physica}" value="24") 
                      .col-xs-2
                        label Air Speed:
                      .col-xs-2
                        input(type="number" name="attr_spd_air" title="@{DR_physica}" value="0")   
              .col-xs-6
                h2 Combat Stats
                .row.middle-xs
                  .col-xs-2
                    label.emphasis HP
                  .col-xs-3
                    input(type="number" name="attr_hp_max" title="@{hp_max}")
                  .col-xs-3
                    label.emphasis Wounds
                  .col-xs-4
                    input(type="number" name="attr_wounds" value="(@{hp|max}-@{hp})" title="@{wounds}" disabled="true")
                  .col-xs-4
                    label.emphasis Defence
                  .col-xs-8
                    .row.middle-xs
                      .col-xs-4
                        label CS
                      .col-xs-4
                        label RF
                      .col-xs-4
                        label DR
                  .col-xs-4 Physical
                  .col-xs-8
                    .row.middle-xs
                      .col-xs-4
                        span(name="attr_CS_physical")
                      .col-xs-4 
                        span(name="attr_RF_physical")
                      .col-xs-4
                        span(name="attr_DR_physical")
                  .col-xs-4 Energy
                  .col-xs-8
                    .row.middle-xs
                      .col-xs-4
                        span(name="attr_CS_energy")
                      .col-xs-4 
                        span(name="attr_RF_energy")
                      .col-xs-4
                        span(name="attr_DR_energy")
                  .col-xs-4 Mental
                  .col-xs-8
                    .row.middle-xs
                      .col-xs-4
                        span(name="attr_CS_mental")
                      .col-xs-4 
                        span(name="attr_RF_mental")
                      .col-xs-4
                        span(name="attr_DR_mental")
                      .row.underline
              .col-xs-12
                input.rollSwitch(type="hidden" name="attr_rollSwitch" value="0")
                .row.pre-rolled
                  .col-xs-12
                    //- input.rollSwitch(type="checkbox" name="attr_character_rolled" value="0")
                    
                .row.post-rolled
                  .col-xs-6.post-rolled
                    h2 Physical Abilities
                    .row
                      .col-xs-1
                      .col-xs-2(title="Current Score") Cur.
                      .col-xs-2(title="Initially Rolled Score") Orig.
                      .col-xs-2(title="Character Advancement") Adv.
                      .col-xs-2(title="Temporary Change") Tmp.
                      .col-xs-2(title="Score Modifier") Mod.
                      .col-xs-1.padless Roll
                    .row.middle-xs
                      .col-xs-1
                        label.ability PS
                      .col-xs-2
                        input(type="hidden" name="attr_PS" title="@{PS}")
                        span.emphasis(name="attr_PS")
                      .col-xs-2
                        input(type="text" name="attr_PS_rolled" title="@{PS_rolled}")
                      .col-xs-2
                        input(type="number" name="attr_PS_advanced" value="0" title="@{PS_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_PS_tmp" value="0" title="@{PS_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_PS_modifier" value="0" title="@{PS_modifier}")
                        input(type="number" name="attr_PS_mod" value="@{PS_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_PS' value='!gw act @{PS} title|Physical character|@{character_id}')
                    .row.middle-xs
                      .col-xs-1
                        label.ability DX
                      .col-xs-2
                        input(type="hidden" name="attr_DX" title="@{DX}")
                        span.emphasis(name="attr_DX")
                      .col-xs-2
                        input(type="text" name="attr_DX_rolled" title="@{DX_rolled}")
                      .col-xs-2
                        input(type="number" name="attr_DX_advanced" value="0" title="@{DX_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_DX_tmp" value="0" title="@{DX_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_DX_modifier" value="0" title="@{DX_modifier}")
                        input(type="number" name="attr_DX_mod" value="@{DX_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_DX' value='!gw act @{DX} title|Dexterity character|@{character_id}')
                    .row.middle-xs
                      .col-xs-1
                        label.ability CN
                      .col-xs-2
                        input(type="hidden" name="attr_CN" title="@{CN}")
                        span.emphasis(name="attr_CN")
                      .col-xs-2
                        input(type="text" name="attr_CN_rolled" title="@{CN_rolled}")
                      .col-xs-2
                        input(type="number" name="attr_CN_advanced" value="0" title="@{CN_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_CN_tmp" value="0" title="@{CN_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_CN_modifier" value="0" title="@{CN_modifier}")
                        input(type="number" name="attr_CN_mod" value="@{CN_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_CN' value='!gw act @{CN} title|Constitution character|@{character_id}')
                  .col-xs-6.post
                    h2 Mental Abilities
                    .row
                      .col-xs-1
                      .col-xs-2(title="Current Score") Cur.
                      .col-xs-2(title="Initially Rolled Score") Orig.
                      .col-xs-2(title="Character Advancement") Adv.
                      .col-xs-2(title="Temporary Change") Tmp.
                      .col-xs-2(title="Score Modifier") Mod.
                      .col-xs-1.padless Roll
                    .row.middle-xs
                      .col-xs-1
                        label.ability IN
                      .col-xs-2
                        input(type="hidden" name="attr_IN" title="@{IN}")
                        span.emphasis(name="attr_IN")
                      .col-xs-2
                        input(type="text" name="attr_IN_rolled" title="@{IN_rolled}")
                      .col-xs-2
                        input(type="number" name="attr_IN_advanced" value="0" title="@{IN_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_IN_tmp" value="0" title="@{IN_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_IN_modifier" value="0" title="@{IN_modifier}")
                        input(type="number" name="attr_IN_mod" value="@{IN_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_IN' value='!gw act @{IN} title|Intelligence character|@{character_id}')
                    .row.middle-xs
                      .col-xs-1
                        label.ability MS
                      .col-xs-2
                        input(type="hidden" name="attr_MS" title="@{MS}")
                        span.emphasis(name="attr_MS")
                      .col-xs-2
                        input(type="text" name="attr_MS_rolled" title="@{MS_rolled}")
                      .col-xs-2
                        input(type="number" name="attr_MS_advanced" value="0" title="@{MS_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_MS_tmp" value="0" title="@{MS_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_MS_modifier" value="0" title="@{MS_modifier}")
                        input(type="number" name="attr_MS_mod" value="@{MS_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_MS' value='!gw act @{MS} title|Mental_Strength character|@{character_id}')
                    .row.middle-xs
                      .col-xs-1
                        label.ability CH
                      .col-xs-2
                        input(type="hidden" name="attr_CH" title="@{CH}")
                        span.emphasis(name="attr_CH")
                      .col-xs-2
                        input(type="text" name="attr_CH_rolled" title="@{CH_rolled}")
                      .col-xs-2
                        input(type="number" name="attr_CH_advanced" value="0" title="@{CH_advanced}")
                      .col-xs-2
                        input(type="number" name="attr_CH_tmp" value="0" title="@{CH_tmp}")
                      .col-xs-2
                        input(type="hidden" name="attr_CH_modifier" value="0" title="@{CH_modifier}")
                        input(type="number" name="attr_CH_mod" value="@{CH_modifier}" disabled="true" )
                      .col-xs-1.padless
                        button(type='roll' name='roll_CH' value='!gw act @{CH} title|Charsima character|@{character_id}')
              .col-xs-12
                h2 Mutations
                .row.middle-xs
                  .col-xs-3
                    label Name
                  .col-xs-2
                    label Type
                  .col-xs-2
                    label Use
                  .col-xs-1
                    label Range
                  .col-xs-1
                    label Rank
                  .col-xs-1
                    label Dmg.
                fieldset.repeating_mutations
                  .row
                    .col-xs-3
                      input(type="text" name="attr_name")
                    .col-xs-2
                      select(name="attr_type")
                        option(value="physical") Physical
                        option(value="mental") Mental
                        option(value="defect") Defect
                    .col-xs-2
                      input(type="text" name="attr_use")
                    .col-xs-1
                      input(type="text" name="attr_range")
                    .col-xs-1
                      input(type="number" name="attr_rank")
                    .col-xs-1
                      input(type="text" name="attr_dmg")
                    .col-xs-1
                      input(type="hidden" name="attr_id")
                      button(type='roll' name='roll_mutation' value='!gw act @{rank} title|@{name} character|@{character_id}')
                  input.short.options-flag(type="checkbox" name="attr_options-flag" class="options-flag" )
                  span y
                  .options
                    .row.middle-xs
                      .col-xs-2
                        label Mod.
                      .col-xs-2
                        select(name="attr_modifier")
                          option(value="PS") PS
                          option(value="DX") DX
                          option(value="CN") CN
                          option(value="IN") IN
                          option(value="MS") MS
                          option(value="CH") CH
                      .col-xs-2
                        label Effort
                      .col-xs-2
                        select(name="attr_effort")
                          option(value="passive") Subconscious
                          option(value="active") Conscious
                      .col-xs-1
                        label No.
                      .col-xs-1
                        input(type="text" name="attr_number")
                      .col-xs-2
                        label Duration
                      .col-xs-2
                        input(type="text" name="attr_duration")
                      .col-xs-12
                        label Description
                      .col-xs-12
                        textarea(name="attr_description")
              .col-xs-12
                h2 Attacks
                .row.middle-xs
                  .col-xs-3
                    label Name
                  .col-xs-1
                    label Mod.
                  .col-xs-1
                    label Range
                  .col-xs-1
                    label Dmg.
                  .col-xs-2
                    label Skill
                fieldset.repeating_attacks
                  .row
                    .col-xs-3
                      input(type="text" name="attr_name")
                    .col-xs-1
                      select(name="attr_modifier")
                        option(value="PS") PS
                        option(value="DX") DX
                        option(value="CN") CN
                        option(value="IN") IN
                        option(value="MS") MS
                        option(value="CH") CH
                    .col-xs-1
                      input(type="text" name="attr_range")
                    .col-xs-1
                      input(type="text" name="attr_dmg")
                    .col-xs-1
                      input(type="hidden" name="attr_ref")
                      input(type="text" name="attr_rank")
                    .col-xs-1
                      button(type='roll' name='roll_attack' value='!gw act @{rank} CS|?{CS|0} id|@{ref} title|ref category|attacks effect|@{effect} effect_crit|@{effect_crit} dmg|@{dmg} skilldmg|@{skilldmg} mod|@{modifier} skill|@{skill} tech|@{tech} type|@{type} character|@{character_id} target_id|@{target|target1|token_id}')

                  input.short.options-flag(type="checkbox" name="attr_options-flag" class="options-flag" )
                  span y
                  .options
                    .col-xs-12
                      .row.middle-xs
                        .col-xs-1 Type
                        .col-xs-3
                          select(name="attr_type")
                            option(value="brawling") Brawling
                            option(value="charging") Charging
                            option(value="grappling") Grappling
                            option(value="distracting") Distracting
                            option(value="dodging") Dodging
                            option(value="evasion") Evasion
                            option(value="feinting") Feinting
                            option(value="martialarts") Martial Arts
                            option(value="melee") Melee
                            option(value="shooting") Shooting
                            option(value="calledshot") Called Shot
                            option(value="crowdfire") Firing into Crowd
                            option(value="parrying") Parrying
                            option(value="throwing") Throwing
                        .col-xs-1 Skill
                        .col-xs-2
                          select(name="attr_skill")
                            option(value="brawling") Brawling
                            option(value="martialarts") Martial Arts
                            option(value="melee") Melee
                            option(value="riding") Riding
                            option(value="throwing") Throwing
                    .col-xs-12
                      .row.middle-xs
                        .col-xs-2 Effect
                        .col-xs-2 
                          select(name="attr_effect" value=0)
                            option(value=0) None
                            option(value="accrit") AC Critical
                            option(value="burn") Burn
                            option(value="cold") Cold
                            option(value="compa") Comp. A
                            option(value="compc") Comp. C
                            option(value="critical") Critical
                            option(value="delirium") Delirium
                            option(value="disintegrate") Disintegrate
                            option(value="domination") Domination
                            option(value="electrical") Electrical
                            option(value="fatal") Fatal
                            option(value="fieldnegate") Field Negate
                            option(value="fumes") Fumes
                            option(value="heat") Heat
                            option(value="extrarf") Hits +1RF
                            option(value="ignites") Ignites
                            option(value="ignoresac") Ignores AC
                            option(value="intercept") Intercept
                            option(value="irritant") Irritant
                            option(value="knockdown") Knock Down
                            option(value="ko") Knock Out
                            option(value="mutate") Mutate
                            option(value="paralysis") Paralysis
                            option(value="poison") Poison
                            option(value="powerdrain") Power Drain
                            option(value="radiation") Radiation
                            option(value="scatter") Scatter
                            option(value="seeker") Seeker
                            option(value="shortout") Short Out
                            option(value="slam") Slam
                            option(value="sonic") Sonic
                            option(value="stun") Stun
                            option(value="subsonics") Subsonics
                            option(value="tangle") Tangle
                        .col-xs-2 Critical
                        .col-xs-2
                          select(name="attr_effect_crit" value=0)
                            option(value=0) None
                            option(value="accrit") AC Critical
                            option(value="burn") Burn
                            option(value="cold") Cold
                            option(value="compa") Comp. A
                            option(value="compc") Comp. C
                            option(value="critical") Critical
                            option(value="delirium") Delirium
                            option(value="disintegrate") Disintegrate
                            option(value="domination") Domination
                            option(value="electrical") Electrical
                            option(value="fatal") Fatal
                            option(value="fieldnegate") Field Negate
                            option(value="fumes") Fumes
                            option(value="heat") Heat
                            option(value="extrarf") Hits +1 RF
                            option(value="ignites") Ignites
                            option(value="ignoresac") Ignores AC
                            option(value="intercept") Intercept
                            option(value="irritant") Irritant
                            option(value="knockdown") Knock Down
                            option(value="ko") Knock Out
                            option(value="mutate") Mutate
                            option(value="paralysis") Paralysis
                            option(value="poison") Poison
                            option(value="powerdrain") Power Drain
                            option(value="radiation") Radiation
                            option(value="scatter") Scatter
                            option(value="seeker") Seeker
                            option(value="shortout") Short Out
                            option(value="slam") Slam
                            option(value="sonic") Sonic
                            option(value="stun") Stun
                            option(value="subsonics") Subsonics
                            option(value="tangle") Tangle
                    .col-xs-12
                      .row.middle-xs
                        .col-xs-2 Tech Lvl.
                        .col-xs-2
                          select(name="attr_tech")
                              option(value=1) I
                              option(value=2) II
                              option(value=3) III
                              option(value=4) IV
                              option(value=5) V
                        .col-xs-2 Tech Rank
                        .col-xs-2
                          select(name="attr_tech_rank") 
                            option(value="N") N
                            option(value="A") A
                            option(value="B") B
                            option(value="C") C
                            option(value="D") D
                            option(value="E") E
                            option(value="F") F
                            option(value="G") G
                            option(value="H") H
                            option(value="I") I
                            option(value="J") J
                    .col-xs-12 Add attack rank to damage
                      input.short(type="checkbox" name="attr_skilldmg" class="check-flag" )
                    .col-xs-12 Notes
                    .col-xs-12 
                      textarea(name="attr_notes")
          .col-xs-4
            .row.middle-xs
              .col-xs-12
                label Description
              .col-xs-12
                textarea(name="attr_description")   
    .tab3
      .sheet-container
        h2 Ability Scores
        div.panel
          label.tab
            input.short.rollSwitch(type="radio" value="0" name="attr_rollSwitch")
            span Reset
          label.tab
            input.short.rollSwitch(type="radio" value="1" name="attr_rollSwitch")
            span Roll
          label.tab
            input.short.rollSwitch(type="radio" value="2" name="attr_rollSwitch")
            span Input
          input.rollSwitch(type="hidden" name="attr_rollSwitch" value="2")
          .tab-score-roll
            .row
              .col-xs-6
                h2 Physical Abilities
                .row
                  .col-xs-1
                  .col-xs-2(title="Initially Rolled Score") Score
                .row.middle-xs
                  .col-xs-1
                    label.ability PS
                  .col-xs-1
                    span(name="attr_PS_rolled")   
                .row.middle-xs
                  .col-xs-1
                    label.ability DX
                  .col-xs-1
                    span(name="attr_DX_rolled")   
                .row.middle-xs
                  .col-xs-1
                    label.ability CN
                  .col-xs-1
                    span(name="attr_CN_rolled")
                  
              .col-xs-6.post
                h2 Mental Abilities
                .row
                  .col-xs-1
                  .col-xs-2(title="Initially Rolled Score") Score
                .row.middle-xs
                  .col-xs-1
                    label.ability IN
                  .col-xs-1
                    span(name="attr_IN_rolled")
                .row.middle-xs
                  .col-xs-1
                    label.ability MS
                  .col-xs-1
                    span(name="attr_MS_rolled")
                .row.middle-xs
                  .col-xs-1
                    label.ability CH
                  .col-xs-1
                    span(name="attr_CH_rolled")
          .tab-score-input
            .row
              .col-xs-6
                h2 Physical Abilities
                .row
                  .col-xs-1
                  .col-xs-2(title="Initially Rolled Score") Score
                .row.middle-xs
                  .col-xs-1
                    label.ability PS
                  .col-xs-1
                    input.tab4(type="text" name="attr_PS_rolled" title="@{PS_rolled}")
                  .col-xs-1
                    span(name="attr_PS_rolled")   
                .row.middle-xs
                  .col-xs-1
                    label.ability DX                
                  .col-xs-2
                    input.tab4(type="text" name="attr_DX_rolled" title="@{DX_rolled}")
                  .col-xs-1
                    span(name="attr_DX_rolled")   
                .row.middle-xs
                  .col-xs-1
                    label.ability CN                
                  .col-xs-2
                    input.tab4(type="text" name="attr_CN_rolled" title="@{CN_rolled}")
                  .col-xs-1
                    span(name="attr_CN_rolled")
                  
              .col-xs-6.post
                h2 Mental Abilities
                .row
                  .col-xs-1
                  .col-xs-2(title="Initially Rolled Score") Score
                .row.middle-xs
                  .col-xs-1
                    label.ability IN                
                  .col-xs-2
                    input.tab4(type="text" name="attr_IN_rolled" title="@{IN_rolled}")
                  .col-xs-1
                    span(name="attr_IN_rolled")
                .row.middle-xs
                  .col-xs-1
                    label.ability MS                
                  .col-xs-2
                    input.tab4(type="text" name="attr_MS_rolled" title="@{MS_rolled}")
                  .col-xs-1
                    span(name="attr_MS_rolled")
                .row.middle-xs
                  .col-xs-1
                    label.ability CH                
                  .col-xs-2
                    input.tab4(type="text" name="attr_CH_rolled" title="@{CH_rolled}")
                  .col-xs-1
                    span(name="attr_CH_rolled")
                 
        h2 Hit Points
        div.panel
          input.short.hpRollSwitch(type="hidden" value="0")
          label.tab
            input.short.hpRollSwitch(type="radio" value="0" name="attr_hpRollSwitch")
            span Reset
          label.tab
            input.short.hpRollSwitch(type="radio" value="1" name="attr_hpRollSwitch")
            span Roll

//-- Hidden Fields  
//- Ability Scores
input(type="hidden" name="attr_PS" title="@PS")     
input(type="hidden" name="attr_PS_modifier" title="@PS_modifier")     
input(type="hidden" name="attr_PS_rolled" title="@PS_rolled")     
input(type="hidden" name="attr_PS_advanced" title="@PS_advanced")     
input(type="hidden" name="attr_PS_tmp" title="@PS_tmp")     
input(type="hidden" name="attr_PS_mod" title="@PS_mod")  

input(type="hidden" name="attr_DX" title="@DX")     
input(type="hidden" name="attr_DX_modifier" title="@DX_modifier")     
input(type="hidden" name="attr_DX_rolled" title="@DX_rolled")     
input(type="hidden" name="attr_DX_advanced" title="@DX_advanced")     
input(type="hidden" name="attr_DX_tmp" title="@DX_tmp")     
input(type="hidden" name="attr_DX_mod" title="@DX_mod")  

input(type="hidden" name="attr_CN" title="@CN")     
input(type="hidden" name="attr_CN_modifier" title="@CN_modifier")     
input(type="hidden" name="attr_CN_rolled" title="@CN_rolled")     
input(type="hidden" name="attr_CN_advanced" title="@CN_advanced")     
input(type="hidden" name="attr_CN_tmp" title="@CN_tmp")     
input(type="hidden" name="attr_CN_mod" title="@CN_mod")  

input(type="hidden" name="attr_IN" title="@IN")     
input(type="hidden" name="attr_IN_modifier" title="@IN_modifier")     
input(type="hidden" name="attr_IN_rolled" title="@IN_rolled")     
input(type="hidden" name="attr_IN_advanced" title="@IN_advanced")     
input(type="hidden" name="attr_IN_tmp" title="@IN_tmp")     
input(type="hidden" name="attr_IN_mod" title="@IN_mod")  

input(type="hidden" name="attr_MS" title="@MS")     
input(type="hidden" name="attr_MS_modifier" title="@MS_modifier")     
input(type="hidden" name="attr_MS_rolled" title="@MS_rolled")     
input(type="hidden" name="attr_MS_advanced" title="@MS_advanced")     
input(type="hidden" name="attr_MS_tmp" title="@MS_tmp")     
input(type="hidden" name="attr_MS_mod" title="@MS_mod")  

input(type="hidden" name="attr_CH" title="@CH")     
input(type="hidden" name="attr_CH_modifier" title="@CH_modifier")     
input(type="hidden" name="attr_CH_rolled" title="@CH_rolled")     
input(type="hidden" name="attr_CH_advanced" title="@CH_advanced")     
input(type="hidden" name="attr_CH_tmp" title="@CH_tmp")     
input(type="hidden" name="attr_CH_mod" title="@CH_mod")  

input(type="hidden" name="attr_import" title="@import")  
input(type="hidden" name="attr_DR_physical" title="@DR_physical" value="0")  
input(type="hidden" name="attr_DR_mental" title="@DR_mental" value="0")  
input(type="hidden" name="attr_DR_energy" title="@DR_energy" value="0")  
input(type="hidden" name="attr_CS_physical" title="@CS_physical" value="0")  
input(type="hidden" name="attr_CS_mental" title="@CS_mental" value="0")  
input(type="hidden" name="attr_CS_energy" title="@CS_energy" value="0")  
input(type="hidden" name="attr_RF_physical" title="@RF_physical" value="0")  
input(type="hidden" name="attr_RF_mental" title="@RF_mental" value="0")  
input(type="hidden" name="attr_RF_energy" title="@RF_energy" value="0")  

script(type="text/worker")     
  |
  |
  include dice3.js
  include sheetworkers.js