<div class="sheet-shaped-row">
  <div class="sheet-col-05 sheet-center sheet-vert-middle"><input type="checkbox" name="attr_armoractive{{num}}" value="@{armortotalAC{{num}}}" checked></div>
  <div class="sheet-col-05 sheet-center sheet-vert-middle"><input type="checkbox" name="attr_armoractiveunarmored{{num}}" value="@{armortotalAC{{num}}}"></div>
  <div class="sheet-col-25 sheet-vert-middle sheet-pad-r-sm"><input type="text" name="attr_armorname{{num}}"></div>
  <div class="sheet-col-08 sheet-vert-middle sheet-pad-r-sm"><input type="number" name="attr_armorACbase{{num}}" value="0" step="1"></div>
  <div class="sheet-col-08 sheet-vert-middle sheet-pad-r-sm">
    <span class="sheet-en">
      <select name="attr_armortype{{num}}">
        <option value="0.001" selected>Other</option>
        <option value="@{dexterity_mod} + 0.002">Light</option>
        <option value="(ceil((@{dexterity_mod}-1)/1e10)*2 - floor((@{dexterity_mod}-2)/1e10)*@{dexterity_mod}) + 0.003">Medium</option>
        <option value="0.004">Heavy</option>
      </select>
    </span>
    <span class="sheet-de">
      <select name="attr_armortype{{num}}">
        <option value="0.001" selected>Sonstiges</option>
        <option value="@{dexterity_mod} + 0.002">Leichte Rüstung</option>
        <option value="(ceil((@{dexterity_mod}-1)/1e10)*2 - floor((@{dexterity_mod}-2)/1e10)*@{dexterity_mod}) + 0.003">Mittleschwere Rüstung</option>
        <option value="0.004">Schwere Rüstung</option>
      </select>
    </span>
    <span class="sheet-fr">
      <select name="attr_armortype{{num}}">
        <option value="0.001" selected>Autre</option>
        <option value="@{dexterity_mod} + 0.002">Légère</option>
        <option value="(ceil((@{dexterity_mod}-1)/1e10)*2 - floor((@{dexterity_mod}-2)/1e10)*@{dexterity_mod}) + 0.003">Intermédiaire</option>
        <option value="0.004">Lourde</option>
      </select>
    </span>
	  <span class="sheet-ru">
      <select name="attr_armortype{{num}}">
        <option value="0.001" selected>Другое</option>
        <option value="@{dexterity_mod} + 0.002">Легкие</option>
        <option value="(ceil((@{dexterity_mod}-1)/1e10)*2 - floor((@{dexterity_mod}-2)/1e10)*@{dexterity_mod}) + 0.003">Средние</option>
        <option value="0.004">Тяжелые</option>
      </select>
    </span>
  </div>
  <div class="sheet-col-08 sheet-vert-middle sheet-pad-r-sm"><input type="number" name="attr_armormagicbonus{{num}}" value="0" step="1"></div>
  <div class="sheet-col-08 sheet-vert-middle sheet-pad-r-sm"><input type="number" name="attr_armortotalAC{{num}}" value="@{armorACbase{{num}}}+floor(@{armortype{{num}}})+@{armormagicbonus{{num}}}" disabled="disabled"></div>
  <div class="sheet-col-10 sheet-center sheet-vert-middle">
    <input type="checkbox" name="attr_armorstealthpen{{num}}" value="Disadvantage on Stealth">
  </div>
  <div class="sheet-col-10 sheet-vert-middle">
    <span class="sheet-en">
      <select name="attr_armorspeedpen{{num}}">
        <option value="No" selected>No</option>
        <option value="If Str &lt; 13">If Str &lt; 13</option>
        <option value="If Str &lt; 15">If Str &lt; 15</option>
      </select>
    </span>
    <span class="sheet-de">
      <select name="attr_armorspeedpen{{num}}">
        <option value="No" selected>Nein</option>
        <option value="If Str &lt; 13">Wenn Str &lt; 13</option>
        <option value="If Str &lt; 15">Wenn Str &lt; 15</option>
      </select>
    </span>
    <span class="sheet-fr">
      <select name="attr_armorspeedpen{{num}}">
        <option value="No" selected>Non</option>
        <option value="If Str &lt; 13">Si For &lt; 13</option>
        <option value="If Str &lt; 15">Si For &lt; 15</option>
      </select>
    </span>
	  <span class="sheet-ru">
      <select name="attr_armorspeedpen{{num}}">
        <option value="No" selected>Нет</option>
        <option value="If Str &lt; 13">Если Сил &lt; 13</option>
        <option value="If Str &lt; 15">Если Сил &lt; 15</option>
      </select>
    </span>
  </div>
</div>
