include ./mixins/stats

.stats
  input(type='radio' class='hide-element stat-edit' name='attr_stat_mode' value='1')
  .stat-edit.showhide
    .stat-toggle.set-toggle
      label.stat-toggle.set-toggle
        span(data-i18n='stat-toggle-set')=locals.translations['stat-toggle-set']
        input(type='radio' class='hide-element' name='attr_stat_mode_button' value='2')
    +statBuilder()

  input(type='radio' class='hide-element stat-set' name='attr_stat_mode' value='2' checked)
  .stat-set.showhide
    +statStatic()
    .stat-toggle.edit-toggle
      label.stat-toggle.edit-toggle
        span(data-i18n='stat-toggle-edit')=locals.translations['stat-toggle-edit']
        input(type='radio' class='hide-element' name='attr_stat_mode_button' value='1')
