include ./mixins/stats

div.stats
  input(type='radio' class='hide stat-edit' name='attr_stat_mode' value='1')
  div.stat-edit.showhide
    div.stat-toggle.set-toggle
      label.stat-toggle.set-toggle APPLY
        input(type='radio' class='hide' name='attr_stat_mode_button' value='2')
    +statBuilder()

  input(type='radio' class='hide stat-set' name='attr_stat_mode' value='2' checked)
  div.stat-set.showhide
    +statStatic()
    div.stat-toggle.edit-toggle
      label.stat-toggle.edit-toggle EDIT
        input(type='radio' class='hide' name='attr_stat_mode_button' value='1')