<div class="sheet-inventory-row-{{num}}">
  <div class="sheet-shaped-row">
    <div class="sheet-col-05 sheet-vert-middle sheet-inventory-row-number">{{num}}</div>
    <div class="sheet-col-05 sheet-center sheet-vert-middle"><input type="checkbox" name="attr_inventorycarried{{num}}" value="@{inventoryweight{{num}}}" checked></div>
    <div class="sheet-col-05 sheet-pad-r-sm"><input type="number" name="attr_inventoryqty{{num}}" value="1" min="0" step="1"></div>
    <div class="sheet-col-30 sheet-pad-r-sm"><input type="text" name="attr_inventoryname{{num}}"></div>
    <div class="sheet-col-06 sheet-pad-r-sm"><input type="number" name="attr_inventoryweight{{num}}" value="0" step="0.01"></div>
    <div class="sheet-col-49 sheet-pad-r-sm"><input type="text" name="attr_inventorydescription{{num}}"></div>
  </div>
</div>