-
  const factionBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{factions}}}',
    '{{^{faction_name}=@{faction_name}}}',
    '{{^{faction_relationship}=@{faction_relationship}}}',
    '{{^{faction_description}=@{faction_description}}}',
  ].join(' ');

  data.crew.factions = {
    sections: [
      { name: 'crew-factions', title: 'Crews' },
      { name: 'authority-factions', title: 'Authorities' },
      { name: 'sponsor-factions', title: 'Sponsors' },
      { name: 'crowd-factions', title: 'Crowds' },
    ],
    broadcast: factionBroadcast,
    hidden: [
      { name: 'faction_autogen', type: 'hidden', blockName: 'faction' },
    ],
    repeating: [
      { name: 'faction_name', label: 'Faction Name', placeholder: 'Faction', type: 'text', span: 8, blockName: 'faction' },
      { name: 'faction_relationship', label: 'Relationship', placeholder: '0', options: [
        { name: 'faction_relationship_ally', value: '+3', text: 'Ally (+3)' },
        { name: 'faction_relationship_tight', value: '+2', text: 'Tight (+2)' },
        { name: 'faction_relationship_friendly', value: '+1', text: 'Friendly (+1)' },
        { name: 'faction_relationship_neutral', value: '±0', text: 'Neutral (±0)', selected: true },
        { name: 'faction_relationship_unfriendly', value: '-1', text: 'Unfriendly (-1)' },
        { name: 'faction_relationship_rivals', value: '-2', text: 'Rivals (-2)' },
        { name: 'faction_relationship_enemy', value: '-3', text: 'Enemy (-3)' },
        { name: 'faction_relationship_unstable', value: '!!', text: 'Unstable (!!)' },
        ], type: 'select', span: 4, blockName: 'faction'
      },
      {
        name: 'faction_description',
        label: 'Description',
        placeholder: 'Description',
        type: 'textarea',
        blockName: 'faction',
      },
    ],
  }
