-
  const fracturesBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{fractures}}}',
    '{{^{fracture_1}=@{fracture_1}}}',
    '{{^{fracture_2}=@{fracture_2}}}',
  ].join(' ');

  data.character.fractures = {
    broadcast: fracturesBroadcast,
    fields: [
      {
        name: 'fracture_1',
        label: 'Fracture 1',
        placeholder: 'going solo',
        type: 'text',
        blockName: 'fractures',
      },
      {
        name: 'fracture_2',
        label: 'Fracture 2',
        placeholder: 'catching feelings',
        type: 'text',
        blockName: 'fractures',
      },
      //- { name: 'fracture_3', label: 'fracture 2', placeholder: 'slimed', type: 'text', blockName: 'fractures' },
    ],
  };
