
/*----------------- Main Layout ------------------*/

/* A CSS Grid example using "grid-template-areas"
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/
main {
    display: grid;
    width: 800px;
    height: auto;
    background: url('https://raw.githubusercontent.com/carpedavid/roll20_heroic_tales/main/Glorious%20Quests/banner.svg') top left / auto 60px no-repeat;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 1fr 1fr 1fr 1fr 1fr 20px;
    grid-template-areas:"header header"
                        "common common"
                        "skill  power"
                        "skill  power"
                        "desc   desc"
                        "notes   notes"
                        "footer footer";
  }
  
  /*----------------- GENERAL CSS ------------------*/
  
  section {
      padding: 5px;
      border-style: none;
  }
  
  /* CSS Flexbox styling, used for adjusting how content inside section behaves */
  .f-col {
    display: flex;
    flex-direction: column;
  }
  .f-row {
    display: flex;
    flex-direction: row;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .nowrap {
    display: flex;
    flex-wrap: nowrap;
  }
  .f-center {
    align-items: center;
    justify-content: center;
  }
  .c-half {
    width: 50%
  }
  .c-quarter {
    width: 25%
  }

  /*----------------- Text & Input styling -----------------*/
  
  @import url('https://fonts.googleapis.com/css?family=Alegreya:wght@800&family=Inter:wght@400;800&display=swap');
  
  
  /* these are for overwriting default CSS that comes from Roll20 */
  
  .charsheet * {
    font-family: 'Inter', sans-serif;
  }
  
  .charsheet h1 {
    /* Heading 1 */

    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;

    /* Thunder */

    color: #231F20;
  }

  .charsheet label{
    /* Label */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    /* Thunder */

    color: #231F20;
  }
  
  .numbers{
    /* Numbers */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Thunder */

    color: #231F20;

  }

  .charsheet input[type="text"], input[type="number"]{
    border: none;
    border-bottom: 1px solid #26A9E2;
    border-radius: 0;
  }
  
  .charsheet textarea {
    width: 95%;
    height: 85%;
  }
  
  /*------------- Section-specific CSS -------------*/
  
  .header {
    grid-area: header;
    flex-direction: column;
  }
  
  .skill {
    grid-area: skill;
    justify-content: space-evenly;
  }
  
  .common {
    grid-area: common;
  }
  
  .power {
    grid-area: power;
  }
  
  .power .repcontainer[data-groupname="repeating_item"]{
    padding-bottom: 0.2em;
  }
  
  .power .repcontainer[data-groupname="repeating_item"] .repitem{
    margin: 4px 0px;
  }
  
  .desc {
    grid-area: desc;
  }

  .notes {
    grid-area: notes;
  }
  
  footer {
    grid-area: footer;
  }
  
  /*------------------------------------*\
    #ROLL TEMPLATES
  \*------------------------------------*/
  
  .sheet-rolltemplate-rolls {
    font-family: 'Alegreya', serif;
  }
  .sheet-rolltemplate-rolls .sheet-container {
    border: 1px solid #231F20;
  }
  .sheet-rolltemplate-rolls .sheet-header {
    background-color: var(--header-bg-color, #26A9E2);
    color: var(--header-text-color, #fff);
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 1px solid #231F20;
  }
  .sheet-rolltemplate-rolls .sheet-title,
  .sheet-rolltemplate-rolls .sheet-name {
    font-size: 1.4em;
    font-weight: bold;
  }
  .sheet-rolltemplate-rolls .sheet-subtitle {
    font-size: 1em;
  }
  .sheet-rolltemplate-rolls .sheet-container {
    --header-bg-color: #26A9E2;
    --header-text-color: #fff;
  }
  
  .sheet-rolltemplate-rolls .sheet-content {
    display: grid;
    background: #FFF;
    grid-template-columns: auto auto;
    line-height: 1.4em;
  }
  .sheet-rolltemplate-rolls .sheet-content > div {
    padding: 5px;
  }
  .sheet-rolltemplate-rolls .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
  }
  .sheet-rolltemplate-rolls .sheet-content :nth-child(4n+3),
  .sheet-rolltemplate-rolls .sheet-content :nth-child(4n) {
    background: #EEE;
  }