/* effect roll template styles */
.sheet-rolltemplate-effect div.sheet-header {
    width: 100%;
    text-align: center;
    color: lightgray;
    background: black;
    font-size: 120%;
}
.sheet-rolltemplate-effect div.sheet-subheader {
    width: 100%;
    text-align: center;
    color: lightgray;
    background: black;
    font-size: 75%;
}
.sheet-rolltemplate-effect div.sheet-content {
    border: 1px black solid;
    padding: 2px;
    background: white;
}
.sheet-rolltemplate-effect .sheet-italics {
    font-style: italic;
}
.sheet-rolltemplate-effect .inlinerollresult  {
    display: inline-block;
    text-align: center;
    padding: 0px;
    border: none;
    background: white;
}
.sheet-rolltemplate-effect .inlinerollresult.fullcrit {
    border: none;
    background: white;
}
.sheet-rolltemplate-effect .inlinerollresult.fullfail {
    border: none;
    background: white;
}
.sheet-rolltemplate-magic .inlinerollresult.importantroll {
    border: none;
    background: white;
}