.grid.gap-6.combat
    .grid.grid-flow-col.gap-4
        .hit-points.grid.double-border-2.rounded-md
            .max.grid.justify-center.p-2
                h2.text-center(data-i18n='max hp')
                +numberInput("max hp")
            .grid.grid-flow-col
                .grid.hp.justify-center.p-2
                    h2.text-center(data-i18n='hp')
                    +numberInput("hp")
                .grid.justify-center.p-2
                    h2.text-center(data-i18n='shield')
                    +numberInput("shield")
        .grid.justify-center.grid-flow-col.gap-4
            each val in ["armor rating", "speed", "death points"]
                .grid
                    .double-border-2.p-2.justify-center.rounded-md
                        +numberInput(val)
                    h2.text-center(data-i18n=val)
    .grid.grid-flow-col
        .grid
            .double-border-2.p-2.justify-center.rounded-md
                +numberInput("ap/rounded")
            h2.text-center(data-i18n="ap/rounded")
        
        .grid
            .grid.grid-flow-col.gap-2
                h2.text-center(data-i18n="special action points")
                +numberInput("special action points")
            .grid.grid-flow-col
                - let n = 1;
                while n < 21
                    span= n++

    .grid.gap-4.justify-between.items-center.attributes
        each val in ['str', 'dex', 'end', 'awr', 'int', 'cha', 'luck', 'cor']
            .grid.relative.justify-center.items-center
                .circle.rounded-full.border.grid.justify-center.items-center.font-bold
                    h2.text-center(data-i18n=val)
                    +numberInput(val)
        div
        each val in ['ref', 'for', 'ant', 'log', 'wil']
            .grid.relative.justify-center.items-center(class=`${val}`)
                .circle.rounded-full.border.grid.justify-center.items-center.font-bold
                    h3.text-center(data-i18n=val)
                    +numberInput(val)
    .grid.gap-4.grid-flow-col 
        .grid.double-border-2.rounded-md.relative
            +title("attacks & spellcasting")
        .grid.gap-4
            .grid.double-border-2.rounded-md.content-start.p-2.reactive.repeating-container.relative
                +title('reactive actions')
                +simpleRepeatingSection('reactive actions')
            .grid.double-border-2.rounded-md.conditions.p-2.repeating-container.relative
                +title('conditions')
                +simpleRepeatingSection('conditions')
    .grid.double-border-2.rounded-md.abilities.p-2.repeating-container.relative
        +title('abilities list')
        +simpleRepeatingSection('abilities')