.grid.gap-6.magic
    .grid.grid-flow-col.gap-4.mb-4
        .grid.double-border-2.rounded-md.items-center.justify-center
            h2.text-center(data-i18n='source / level')
            +numberInput("source")
        .grid.grid-flow-col.gap-4.items-center
            each val in ["max spell points", "current spell points", "spellcasting ability"]
                .grid
                    .double-border-2.p-2.justify-center.rounded-md
                        +numberInput(val)
                    h2.text-center(data-i18n=val)
    .grid.gap-4.items-center
        .grid.double-border-2.rounded-md.content-start.p-2.source-magic.relative.repeating-container
            .grid.gap-2.items-center.justify-center.absolute.title
                +textInput('source magic')
                h2.text-center(data-i18n='source magic')
            fieldset(class=`repeating_source_magic`)
                .grid.descriptor.relative.gap-2
                    +editFlag()
                    .grid.grid-flow-col.gap-4
                        .grid.col-auto-fr.gap-2
                            h3(data-i18n='name')
                            span.display(name=`attr_name`)
                            +textInput('name')
                        .grid.col-auto-fr.gap-2
                            h3(data-i18n='apc')
                            span.display(name=`attr_apc`)
                            +textInput('apc')
                    +repeatingChatButton("name")
                    .grid.notes
                        span.display.pl-4(name='attr_notes')
                        +textarea('notes')
        .grid.double-border-2.rounded-md.content-start.p-2.rituals.repeating-.relative
            +title('rituals')
            fieldset(class=`repeating_rituals`)
                .grid.descriptor.relative.gap-2
                    +editFlag()
                    .grid.grid-flow-col.gap-4
                        .grid.col-auto-fr.gap-2
                            h3(data-i18n='name')
                            span.display(name=`attr_name`)
                            +textInput('name')
                    +repeatingChatButton("name")
                    .grid.notes
                        span.display.pl-4(name='attr_notes')
                        +textarea('notes')
        .grid.double-border-2.rounded-md.content-start.p-2.spells.repeating-container.relative
            +title('spells')
            fieldset(class=`repeating_spells`)
                .grid.descriptor.relative.gap-2
                    +editFlag()
                    .grid.grid-flow-col.gap-4
                        .grid.col-auto-fr.gap-2
                            h3(data-i18n='name')
                            span.display(name=`attr_name`)
                            +textInput('name')
                        .grid.col-auto-fr.gap-2
                            h3(data-i18n='apc')
                            span.display(name=`attr_apc`)
                            +textInput('apc')
                        .grid.col-auto-fr.gap-2
                            h3(data-i18n='spc')
                            span.display(name=`attr_spc`)
                            +textInput('spc')
                    +repeatingChatButton("name")
                    .grid.notes
                        span.display.pl-4(name='attr_notes')
                        +textarea('notes')