.grid.logo-row.mb-2
	.column.grid.2autocolumn.bottom-border
		h2.colon.font-smallcaps(data-i18n='player name')
		+textInput('player name')
	.column.grid.page-select
		.header
			h2.colon.font-smallcaps(data-i18n='page')
		.grid.button
			input(name='attr_page' type='radio' value='one' checked)
			.option 
				span 1
		.grid.button
			input(name='attr_page' type='radio' value='two')
			.option 
				span 2
		.grid.button
			input(name='attr_sheet_type' type='checkbox' value='npc')
			.option 
				span.pictos U
	.column.grid.logo
		img(src=`${imgsrc}/Black%20Void%20by%20Penny%20for%20a%20Tale/src/imgs/logo.png` alt='Black Void')
