.skills-row
	.column.benefits
		.grid.box.mb-2.benefit
			.grid
				h2.text-uppercase(data-i18n='Background / Attributes / Talents')
			.repeating-container
				+repeatingBenefits('benefit')
		.grid.powers.box
			.grid.box
				.grid.header
					h2.text-uppercase(data-i18n='powers')
					h3.font-smallcaps.text-center(data-i18n='rank')
				.repeating-container
					+repeatingPowers('powers')

	.column.skills
		.grid.box.mb-2
			.grid.header
				h2.text-uppercase(data-i18n='skills')
				h3.font-smallcaps.text-center(data-i18n='specialization')
				h3.font-smallcaps.text-center(data-i18n='rank')
			.repeating-container
				+repeatingSkills('skills')
		.grid.box
			.grid.header
				h2.text-uppercase(data-i18n='combat skills')
				h3.font-smallcaps.text-center(data-i18n='specialization')
				h3.font-smallcaps.text-center(data-i18n='rank')
			.repeating-container
				+repeatingSkills('combat skills')
	