include ../../../../Ironsworn/src/components/assets/data/companions
include ../../../../Ironsworn/src/components/assets/data/paths
include ../../../../Ironsworn/src/components/assets/data/combat-talents
include ../../../../Ironsworn/src/components/assets/data/rituals
include ../../../../Ironsworn/src/components/assets/data/custom
include ../../data/bond-assets

mixin assets()
  .assets
    fieldset.repeating_assets.fixed-width
      .asset
        .asset-header
          select.asset-type-dropdown(name='attr_assettype')
            option(value='' disabled='' selected='') Select
            option(value='companion') Companion
            option(value='path') Path
            option(value='combat-talent') Combat Talent
            option(value='ritual') Ritual
            option(value='bonds') Bonds
            option(value='custom') Custom
        
        +companionAssets
        +pathAssets
        +combatTalentAssets
        +ritualAssets
        +bondsAssets
        +customAssets