.sheet-wfrp {

    &-navigation {
        display: flex;
        align-items: center;
        justify-content: end;

        label {
            width: auto;
            margin: $margin-general;

            cursor: pointer;

            input {
                display: none;
            }
        }
    }
}