.sheet-wfrp-pc {
    display: grid;
        grid-template-columns: repeat(6, 1fr);
  
    border: 30px solid transparent;
    border-image: url("https://s3.amazonaws.com/files.d20.io/images/149238777/ywxEJDLgdNlQGlSSRbjpmw/max.png?1594320939") 30 round;

        grid-gap: 0px;

        > * {
            min-width: 100px;
        }

    // General PC Positioning

    .sheet-wfrp {
        &-header {
            grid-column: 1 / -1;
        }

        &-navigation {
            grid-column: 1 / -1;
        }

        &-characteristics {
            grid-column: span 3;
            grid-row: span 2;
        }

        &-resilience,
        &-movement {
            grid-column: span 2;
        }

        &-skills {
            grid-column: span 2;
            grid-row: span 4;
        }

        &-talents,
        &-conditions,
        &-psychology,
        &-corruption {
            grid-column: span 2;
        }

        &-ambitions {
            grid-column: span 3;   

            display: grid;
                grid-template-rows: 2.5rem auto;         
        }

        &-party {
            grid-column: span 3;

            display: grid;
                grid-template-rows: 2.5rem auto;
        }

        &-armour {
            grid-column: 3 / span 4;
        }

        &-armour__wrapper {
            grid-column: 3 / span 2;
            grid-row: span 4;
        }

        &-trappings {
            grid-column: 1 / span 2;
            grid-row: span 6;

            display: flex;
                flex-direction: column;

            .sheet-wfrp-panel {
                flex-grow: 0;

                &--trappings {
                    flex-grow: 1;
                }
            }
            
        }

        &-experience--alt {
            grid-column: span 2;

            display: flex;
                flex-direction: column;

            .sheet-wfrp-panel {
                flex-grow: 0;

                &--awards {
                    flex-grow: 1;
                }
            }
            
        }

        &-career {
            
            &__characteristic--first {
                display: none;
            }

            &__row {
                display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: $margin-small;
                
                border-top: 1px solid #000;

                &--first,
                &--1,
                &--2,
                &--3,
                &--4 {
                    @extend .sheet-wfrp-career__row;
                }

                &--first {
                    display: none;
                }

                h2 {
                    font-size: 16pt;
                    letter-spacing: 1px;
                }
            }
        }

        &-careers { 
            grid-column: 1 / span 4;
            display: grid;
                grid-template-rows: 1fr minmax(5rem, auto);

            + .sheet-wfrp-experience {
                grid-column: span 2;
            }

            input[name*="first"][value="on"] + * {

                & .sheet-wfrp-career__row--first {
                    display: grid;
                }

                & .sheet-wfrp-career__characteristic--first {
                    display: grid;
                }

                & .sheet-wfrp-career__row--1 {
                    display: none;
                }

                & .sheet-wfrp-career__row--1 {
                    display: none;
                }

            }

        }

        &-encwealth {
            display: grid;
                grid-template-columns: 1fr 1fr;
        }

        &-wounds {
            grid-column: span 2;
        }

        &-controls {
            grid-column: span 2;

            &__wrapper {
                display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: $margin-small;
                margin: $margin-small;
            }
        }

        &-advantage {
            grid-column: span 2;

            &__wrapper {
                display: grid;
                    grid-template-columns: 3rem 3rem 1fr 3rem;
                    align-items: center;
    
                width: 75%;
                margin: $margin-general auto;
            }
        }

        &-weapons {
            grid-column: 3 / span 4;
        }

        &-spells {
            grid-column: 1 / -1;            
        }

        &-settingswrapper {
            grid-column: span 2;
            display: flex;
                flex-direction: column;

            > * {
                flex-grow: 1;
            }
        }
    }
}