
.charsheet {
    background-color:white;
}

.sheet-banner { 
    background: url('http://www.mongoosepublishing.com/media/catalog/category/Traveller_front4_2.jpg'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.sheet-banner-content { 
    margin: 0 auto; 
    padding: 100px; 
}
/*====Tabs ====*/
div.sheet-tab-content { 
    display: none; 
}

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6 {
    display: block;
}

input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before {
    content: attr(title);
    
    border: solid 2px black;
    border-bottom-color: black;
    color: black;
    text-align: center;
    display: inline-block;
    
    background: white;
    
    width: 150px;
    height: 20px;
    font-size: 18px;
}

input.sheet-tab:checked::before {

    background: black;
    color:white;
    border: solid 2px red;
    border-bottom-color: red;

}

input.sheet-tab:not(:first-child)::before {
    border-left: none;
}

div.sheet-tab-content {
    border: 2px solid red;
    margin: 2px 2px 2px -5px;
    padding: 5px;
}
/*==== Number boxes ====*/
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover {
    -moz-appearance: initial;
}
/*==== text boxes ====*/
.sheet-input {
    display: inline-block;
    border-bottom: 1px dotted gray;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0px;
    
    background-color: transparent;
    
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


input[type="text"].sheet-input {
    width:200px;
}
input[type="number"].sheet-input_II {
    display: inline-block;
    border: 1px dotted gray;
    margin: 0px;
    width:60px;
    
    background-color: transparent;
    
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sheet-bold {
    font-weight: bold;
}

.sheet-header {
    display: inline-block;
    font-weight: bold;
    margin:0px;
    padding:0px;
}

.sheet-mod {
    font-style: italic;
}

    /*==== tables ====*/
    

table.sheet-characteristics, 
table.sheet-skilltable {
    margin-right:auto;
    margin-left:auto;
}

table.sheet-characteristics input[type="number"], 
table.sheet-armour input[type="number"], 
table.sheet-skilltable input[type="number"] {
    text-align:center;
}

table.sheet-characteristics tr:nth-child(odd) {
    background-color:white;
}

table.sheet-characteristics tr:nth-child(even) {
    background-color:silver;
}    

table.sheet-weapontable {
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

table.sheet-weapontable tr:nth-child(even) {
    border-bottom: none;
}
table.sheet-weapontable tr:nth-child(odd) {
    border-bottom: 5px ridge red;
}

table.sheet-weapontable tr:nth-child(1) {
    border: none;
}    


    /*==== headings ====*/
.sheet-oval {
    width: 150px;
    height: 30px;
    padding: 15px;
    background: silver;
    -moz-border-radius: 150px / 50px;
    -webkit-border-radius: 150px / 50px;
    border-radius: 150px / 50px;
    text-align:center;
}

h2 {
    margin-left:-10px;
    margin-top:-5px;
}

textarea {
    height: 2em;
    width: 97%;
    
    display: inline-block;
    border-bottom: 1px dotted gray;
    border-top: none;
    border-left: none;
    border-right: none;
    margin:0px;
    
    background-color: transparent;
    
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    resize:vertical;
}

    /*==== Button Reset ====*/
button[type="roll"]:before {
    content: ""!important;
    display: none;
}

button[type="roll"] {
    width: 40px;
    height:24px;
    padding-bottom: 0;
    display: inline-block;
    margin: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    border: 1px solid #ccc;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
button[type="roll"].sheet-button {
    width: 120px;
}
button[type="roll"]:hover {
    background-color: black;
    border-color: red;
    color:white
}

button[type="roll"] label, button[type="roll"] input {
    height:24px;
    line-height: 24px;
    text-align:center;
    width: 100%;
    cursor: pointer;
    background: none;
    box-shadow: none;
    transition: none;
    border-radius: none;
    border:none;
    font-weight:700;
}


button[type="roll"]:hover label, button[type="roll"]:hover input {
    color: white;
    border: none;
}

.sheet-button_header {
    display: inline-block;
    font-weight: bold;
    margin:0px;
    padding:0px;
    font-size: 0.8em;
}

/* ==== sheet 2 colrow ====*/

.charsheet .sheet-2colrow .sheet-col {
    width: calc(50% - 3px) !important;
    margin-right: 2px !important;
}

.charsheet .sheet-2colrow .sheet-col:last-child {
    margin-right: 0 !important;
}

/*-----sheet-arrow-----*/
input.sheet-arrow {
    float: left;
}

div.sheet-body {
    display: none;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}

/* ----Hide actual sheet-arrow checkbox---- */

input.sheet-arrow[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake sheet-arrow checkbox----- */

input.sheet-arrow[type="checkbox"] + span::before
{
    color:red;
    text-shadow: 3px 0 black;
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
input.sheet-arrow[type="checkbox"]:checked + span::before
{
    color:red;
    text-shadow: 3px 0 black;
    content: "▼";
}

 /*-------sheet select---------*/
