.sheet-ms-cm {

    &-wrapper {
        position: relative;
        display: grid;
        min-height: 450px;

        font-family: $ms-fonts-body; 
        
        * {
            box-sizing: border-box;
        }
    }

    &-topstats {
        display: grid;
            grid-template-columns: 1fr .5fr;
            align-items: center;
            gap: $ms-margin;
        margin-bottom: 3rem;
    }

    &-stats {
        display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $ms-margin;
        padding: 0 $ms-margin;

        border-right: $ms-border-thicker;
            border-color: #ddd;

        &--main {
            @extend .sheet-ms-cm-stats;
                grid-template-columns: repeat(2, 1fr);

            border: 0;
        }
    }

    &-altstats {
        display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: $ms-margin;
    }

    &-saves {
        grid-column: span 2;
        display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $ms-margin;
        padding: $ms-margin;
        
        background: #ddd;
        border-radius: 3rem;
    }

    &-altstat {
        display: grid;
            justify-items: center;
        
        &__title {
            font-family: $ms-fonts-header;
            font-size: 10pt;
            font-weight: bolder;
            text-transform: uppercase;
        }
        
        &__value {
            width: 5rem;
            height: 5rem;
            padding: 0;

            background: $ms-background;
            border: $ms-border-thicker;
                border-radius: 50%;
            color: $ms-foreground;

            font-family: $ms-fonts-header;
            font-size: 2rem;
            font-weight: bolder;
            line-height: 4rem;
            text-align: center;
        }
    }

    &-mainstat {
        display: grid;
            align-items: center;
            justify-items: center;
        overflow: hidden; 
        
        &__title {
            width: 100%; 

            background: $ms-invert-background;
            border-radius: 2.5rem;
            color: $ms-invert-foreground;

            font-family: $ms-fonts-header;
            font-size: 1.5rem;
            font-weight: bolder;
            text-align: center;
            text-transform: uppercase;
        }
        
        &__value {
            margin: $ms-margin-small 0;
            padding: 0;

            font-family: $ms-fonts-header;
            font-size: 3rem;
            font-weight: bolder;
            text-align: center;
        }
    }

    &-mainsave {
        display: grid;
            grid-template-columns: 2fr 1fr;
            justify-items: center;
        overflow: hidden; 

        border: $ms-border-thicker;
            border-radius: 2.5rem;
        background: $ms-invert-background;
        
        &__title {
            width: 100%; 

            background: $ms-invert-background;
            color: $ms-invert-foreground;

            font-family: $ms-fonts-header;
            font-size: 2rem;
            font-weight: bolder;
            text-align: center;
            text-transform: uppercase;
        }
        
        &__value {
            width: 100%;
            padding: 0;

            background: $ms-background;

            font-family: $ms-fonts-header;
            font-size: 2rem;
            font-weight: bolder;
            line-height: 3rem;
            text-align: center;
        }
    }

    &-container {
        display: grid;
            grid-template-columns: 1fr 1.25fr;

        

    }

    &-panel {
        
        &--full {
            grid-column: 1 / -1;

            h1 {
                font-family: $ms-fonts-header;
                font-size: 4.5rem;
                text-align: center;
                text-transform: uppercase;
            }

            p.sheet-ms-cm-guidetext {
                text-align: center;
            }
        }

        &--classes {
            grid-column: 1 / -1;

            background: #000;
            color: $ms-invert-foreground;
        }

        &--skills {
            grid-column: 1 / -1;
            position: relative;

            display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: $ms-margin;
        }

    }

    &-classes {
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
        padding: $ms-margin / 2;
        
            .sheet-class {
                flex-basis: calc(25% - 1rem);
                margin: $ms-margin / 2;
            }
    }

    &-guidetext {
        margin: 1rem 0 .5rem 0;
        padding: 1rem;
        
        font-family: $ms-fonts-body;
        font-size: 1.45rem;

        color: inherit;

        &--span2 {
            @extend .sheet-ms-cm-guidetext;
            grid-column: 1 / -1;
            padding: 0rem;
        }
    }

    &-guidetitle {
        grid-column: 1 / -1;
        margin: 1rem 0 0 0;

        color: inherit;
        
        font-family: $ms-fonts-header;
        font-weight: bold;
        font-size: 3rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
    }

    &-pagecontrol {
        position: sticky;
            bottom: 10px;
        display: grid;
            grid-template-columns: .25fr 1fr .25fr;
            justify-items: center;
        width: 50%;
        margin: auto;
        padding: $ms-margin-small;

        background: $ms-background;
        border-radius: 2em;

        button[type="back"]#{&}__left, 
        button[type="back"]#{&}__right,
        button[type="finish"]#{&}__right {
            width: 4.5rem;
            height: 4.5rem;
            padding: 0;

            background: $ms-background;
            border: $ms-border-thicker;
                border-radius: 2.5rem;
            color: $ms-foreground;

            font-family: "Pictos";
            font-size: 0;
            line-height: 1;

            &:before {
                display: block;
                
                font-size: 20pt;
            }
        }
        button[type="back"]#{&}__left {
            grid-column: 1;

            &:before {
                content: "[";
            }
        }

        button[type="back"]#{&}__right {
            grid-column: 3;
            
            &:before {
                content: "]";
            }
        }

        button[type="finish"]#{&}__right {
            grid-column: 3;

            border-color: green;
            color: green;
            
            &:before {
                content: "3";
            }
        }

        button[type="cancel"]#{&}__middle {
            grid-column: 2;
            height: 4.5rem;
            padding: 0 .25rem;

            background: $ms-background;
            border: $ms-border-thicker;
                border-color: $ms-accent;
                border-radius: 2.5rem;
            color: $ms-accent;

            font-family: $ms-fonts-header;
            font-size: 16pt;
            font-weight: bolder;
            text-transform: uppercase;
        }
    }

    &-logo {
        width: 75%;
        margin: 3rem 12.5%;

        filter: invert(1);
    }

    &-welcometext {
        margin-bottom: 3rem;

        font-family: $ms-fonts-body !important;
        font-size: 1.65rem;
        font-weight: 600;
        line-height: 1.5;
        text-align: center; 

    }

    &-center {
        display: grid;
            justify-items: center;
    }
    
    &-button {
        
        &--roll {
            padding: $ms-margin !important;
            margin: 0 !important;

            background: $ms-invert-background;
            border: 0;
                border-radius: 2em;
            box-shadow: none;
            color: $ms-invert-foreground;

            font-family: $ms-fonts-header;
            font-size: 4rem;
            font-weight: bolder;
            line-height: 3rem;
            text-align: center;
            text-transform: uppercase;

            &:before {
                margin-right: $ms-margin-small;
            }
        }
        
        &--action {
            padding: $ms-margin !important;
            margin: 0 !important;

            background: $ms-invert-background;
            color: $ms-invert-foreground;
            box-shadow: none;
            border: 0;
                border-radius: 2em;

            font-family: $ms-fonts-header;
            font-size: 2rem;
            font-weight: bolder;
            line-height: 2rem;
            text-align: center;
            text-transform: uppercase;

            &:before {
                margin-right: $ms-margin-small;
            }
        }

    }

    &-class {
        padding: $ms-margin-small;
        color: $ms-invert-foreground !important;
        cursor: pointer;

        &:hover {

            h2 {
                color: $ms-accent;
            }

        }

        &__title {
            color: $ms-invert-foreground;

            font-family: $ms-fonts-header;
            font-size: 2.25rem;
            font-weight: bolder;
            text-align: center;
            text-transform: uppercase;

            &--selected {
                margin: $ms-margin*2 0;

                color: $ms-foreground;

                font-family: $ms-fonts-header;
                font-size: 4rem;
                font-weight: bolder;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &__desc {
            font-size: 1.35rem;
            font-weight: normal;
            text-transform: capitalize;

            h3 {
                margin-top: $ms-margin-small;

                color: $ms-invert-foreground;

                font-family: $ms-fonts-header;
                font-size: 1.75rem;
                font-weight: bolder;
                text-align: left;
                text-transform: uppercase;
            }

        }

        &__img {
            display: flex;
                justify-content: center;

            img {
                width: 75%;
                margin: auto;

                border-radius: 50%;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            left: -99999px;
            height: 0;
            width: 0;
        }

        p {
            font-family: $ms-fonts-body;
            font-size: 1.35rem;
            font-weight: normal;
            text-transform: none;

        }
        
    }

    &-savegroup {
        display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $ms-margin-small;        
            
        margin: $ms-margin-small 0;
        padding: $ms-margin-small 0;

        border-top: $ms-border-thicker;
            border-color: #ddd;
    }

    &-row {
        margin: $ms-margin-small 0;
        padding: $ms-margin-small 0;

        border-top: $ms-border-thicker;
            border-color: #ddd;

        font-size: 1.5rem;

        &__title {
            margin-top: $ms-margin;

            font-family: $ms-fonts-header;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &-skillpoints {
        grid-column: 1 / -1;
        position: sticky;
        top: 0;
        padding: 0 33%;
        z-index: 100;

        background: $ms-background;
        border-bottom: $ms-border-thicker;

        font-size: 2rem;
        text-align: center;

        &__label {
            color: $ms-foreground;

            font-family: $ms-fonts-header;
            font-size: 1.75rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &-skill {
        position: relative; 

        input[type="hidden"] {
                &[value="on"] ~ * .sheet-ms-cm-skill__check {
                    background: white url("https://s3.amazonaws.com/files.d20.io/images/138210119/cvUNlZk3lj7GZXQEsKIBWw/max.png?1590443685") no-repeat center/75%;
                }
        }

        input[type="checkbox"] {
            position: absolute;
                left: -99999px;
        }

        button {
            margin: $ms-margin 0 !important;
            padding: $ms-margin !important; 

            background: $ms-invert-background;
            border: 0;
            border-radius: 2.5rem;
            color: $ms-invert-foreground;

            text-align: left;
            text-transform: uppercase;
            font-size: 1.35rem;
            font-family: $ms-fonts-header;
            font-weight: bold;

            &:hover {
                color: $ms-accent;
            } 
        }

        &__wrapper {            
            display: grid;
            grid-template-columns: 2.5rem 1fr;
            align-items: center;
            width: 90%;
            margin: 0 auto;
        }

        &__check {
            display: block;
            height: 2.25rem;
            width: 2.25rem;
            margin-left: -1.5rem;

            border: $ms-border;
                border-radius: 50%;
            background: $ms-background;
        }

        &:hover {

            .sheet-ms-cm-tooltip {
                display: block !important;
            }
        }

    }

    &-tooltip {
        display: none; 
        position: absolute;
            top: 25px;
            left: 50px;
            z-index: 1000;
        
        min-width: 60px;
        max-width: 250px;
        min-height: 1.5rem;
        margin: 1rem;
        padding: 1rem;

        border-radius: 1em;
        
        background: $ms-tooltip-background;
        color: $ms-invert-foreground;

        strong {
            font-family: $ms-fonts-header;
            font-weight: bold;
            text-transform: uppercase;

            &:after {
                display: inline;
                content: ":";
                margin-right: .5rem;
            }

            + span {
                text-transform: capitalize; 
            
                &:first-letter {
                    text-transform: uppercase;
                }
            }
        }

        > div {
            text-transform: capitalize; 
        }
        
        p {
            margin: 0;
            padding: 0;
            font-family: $ms-fonts-body;
            
            &:first-letter {
                text-transform: uppercase;
            }
        }
    }

    &-skillcol {

        &--expert, 
        &--master {

            .sheet-ms-cm-skill__wrapper {
                opacity: .5;   
                pointer-events: none;
            }

        }

    }

    &-package,
    &-credits,
    &-trinket,
    &-patch {
        margin: $ms-margin-small 0;
        padding: $ms-margin-small 0;

        border-top: $ms-border-thicker;
            border-color: #ddd;

        &__title {
            color: $ms-foreground;

            font-family: $ms-fonts-header;
            font-size: 1.35rem;
            font-weight: bold;
            text-transform: uppercase;

        }

        &__roll {      
            grid-column: 2;      
            grid-row: span 2;
        
            button {

                height: 4rem;
                width: 4rem;
                padding: $ms-margin !important;
                margin: 0 !important;

                background: $ms-invert-background;
                border: 0;
                border-radius: 2em;
                box-shadow: none;
                color: $ms-invert-foreground;

                font-family: $ms-fonts-header;
                font-size: 4rem;
                font-weight: bolder;
                line-height: 2rem;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    &-credits,
    &-trinket,
    &-patch {
        display: grid;
        grid-template-columns: 1fr 4rem;
    }

    &-review {
        display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: start;
            gap: $ms-margin;
    }

    &-classblock,
    &-skillblock,
    &-equipment {

        h2 {
            color: $ms-foreground;

            font-family: $ms-fonts-header;
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }

    }

    &-classrow,
    &-skrow,
    &-eqrow {
        display: grid;
            grid-template-columns: 1fr 1fr;
        margin: $ms-margin-small 0;
        padding: $ms-margin-small 0;

        border-top: $ms-border-thicker;
            border-color: #ddd;

        &__title {
            color: $ms-foreground;

            font-family: $ms-fonts-header;
            font-size: 1.35rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &-row {

        &__label {
            color: $ms-foreground;

            font-family: $ms-fonts-header;
            font-size: 1.45rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        &__input--long {
            width: 100%;
        }

    }

    &-progressbar {
        width: 80%;
        margin: 2rem auto;
        padding: .5rem;

        border: $ms-border-thicker;
        border-radius: 4rem;

        > div {
            height: 1rem;

            background: $ms-foreground;
            border-radius: 4rem;
        }
    }
}

input[name="comp_unlocked"] {

    @each $skill in $skillList {
    
        &[value*=#{$skill}] { 

            ~ * .sheet-ms-cm-skill__wrapper--#{$skill} {
                opacity: 1;
                pointer-events: unset;
            }
        }
    }
}

@each $lock in "trained", "expert", "master" {
    input[name*="comp_#{$lock}_lock"][value="on"] {

        ~ .sheet-ms-cm-skillcol--#{$lock} {

            .sheet-ms-cm-skill__wrapper {
                opacity: .5;   
                pointer-events: none;
            }

        }
    }
}

.sheet-ms-cm-skill input[type="hidden"][value*="on"],
.sheet-ms-cm-skill input[type="hidden"][value*="class"] {

    ~ .sheet-ms-cm-skill__wrapper {
        opacity: 1;
        pointer-events: unset;
    }
}