

/*----------------- FONTS ------------------*/


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Limelight&display=swap');


/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Limelight', cursive;
*/


/*----------------- BACKGROUND ------------------*/

.charsheet {
  
  background: none;
  background-color:white;
  background-size: 64px 128px;
  background-repeat: round;
  
  width: 100vw;
  height: auto;
}


/*----------------- GRIDS ------------------*/



.sheet-main {
  
}

.sheet-main-top {
  display: grid;
  width: 310px;
  height: 30px;
  grid-gap: 6px;
  grid-template-columns: 310px;
  grid-template-rows: 30px;
  grid-template-areas:"tabselector";
}

.sheet-main-maven {
  display: block;
  width: 100vw;
  height: auto;
  grid-gap: 6px;
  align-items: start;
  grid-template-columns: 10px 360px 10px 260px 10px 360px 10px ;
  grid-template-rows:  minmax(min-content, max-content)    ;
  grid-template-areas:".   .    .   .    .     .    ."
                      ".   left    .   centre    .     right    ."
					  ".   .    .   .    .     .    .";
}


.sheet-main-clues {
  display: block;
  width: 600px;
  height: auto;
  grid-gap: 6px;
  align-items: start;
  position: absolute;
  grid-template-columns: 1fr ;
  grid-template-rows:  minmax(min-content, max-content)    ;
  grid-template-areas:"cluesname  "
                      "clues "
					  "info ";
  
}

/*----------------- GENERAL CSS ------------------*/

/*textarea {
  width: 70%;
  height: 85%;
}*/

/*textarea.sheet-notetext{
  width: 800px;
  height: 140px;
}*/

.sheet-auto-expand {
	position: relative;
	cursor: text;
	word-wrap: break-word;
	min-height: 18px;
	/*width:321px;*/
	line-height: 18px;
}
.sheet-auto-expand span {
	visibility: hidden;
	white-space: pre-wrap;
	display: block;
	min-height: 18px;
}
.sheet-auto-expand textarea {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	resize: none;
	height: 100%;
	width: 100%;
	display: block;
	box-sizing: border-box;
	background: transparent;
	/*border: none;*/
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: inherit;
	text-align: inherit;
	text-transform: inherit;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
	min-height: 18px;
}



.maven-width {
	width:360px;
	display: inline-block;
	color:black;
	/* text-transform: uppercase; */
}

.clues-width {
	width:600px;
	display: inline-block;
	color:black;
	/* text-transform: uppercase; */
}

.sheet-hidden {
    display: none;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
	justify-content: center;

}

.sheet-flex-col {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: flex-start;*/
}

.sheet-flex-col-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  /*justify-content: flex-start;*/
}

.sheet-flex-center {
  display: grid;
  justify-content: center;
  align-content: center;
}

.sheet-hide-section {
  display: none;

}


/* --------------------------------Hide and Display section of Code-------------------------------- */
/* Configure the tab buttons*/
.sheet-main-maven,
.sheet-main-clues {display: none;}

/* show the selected tab */
.sheet-tabstoggle[value="maven"] ~ div.sheet-main-maven,
.sheet-tabstoggle[value="clues"] ~ div.sheet-main-clues {display: grid;}


/*------------- Section-specific CSS -------------*/


h1 {
	
	font-family: 'Limelight', cursive;
	color: black;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	
}

h2 {
	
	font-family: 'Limelight', cursive;
	color: black;
	
}

h2.sheet-cluesname {
	
	font-family: 'Limelight', cursive;
	color: black;
	
}

label.sheet-middle-label {
	
	font-family: 'Limelight', cursive;
	text-align: center;
	color: rbg(214, 122, 9);
	display: inline;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0px;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	
}

label.sheet-left-label{
	
	font-family: 'Limelight', cursive;
	color: rbg(214, 122, 9);
	display: inline;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	
}

label.sheet-left-label-1 {
	
	font-family: 'Limelight', cursive;
	color: rbg(214, 122, 9);
	display: inline;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	grid-column: 1 / -1;
	
}


span.sheet-left-span {
	
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	display: inline;
    font-size: 1em;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
	/* background: rgba(109, 172, 181, 0.5); */
	
}

span.sheet-centre-span {
	
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	display: inline;
    font-size: 1em;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
	/* background: rgba(109, 172, 181, 0.5); */
	margin: auto;
	
}

input.sheet-char-inputs{
	
	font-family: 'Josefin Sans', sans-serif;
	display: inline;
	height:30px;
	width:200px;
	
}

input.sheet-condition-inputs {
	
	font-family: 'Josefin Sans', sans-serif;
	margin: auto;
	display: inline;
	
}

input.sheet-xp-boxes {
	
	font-family: 'Josefin Sans', sans-serif;
	margin: auto;
	display: inline;
	transform: scale(2);
	height:25px;
	width:25px;
	
}

input.sheet-used-boxes {
	
	font-family: 'Josefin Sans', sans-serif;
	display: inline;
	transform: scale(1.2);
	height:18px;
	width:18px;
	
	
}

input.sheet-stat-inputs {
	
	font-family: 'Josefin Sans', sans-serif;
	margin: auto;
	display: inline;
	height:25px;
	width:25px;
	
}

label.sheet-clues-row {
	
	font-family: 'Josefin Sans', sans-serif;
	color: rgb(13, 84, 18);
	justify-content: center;
	align-content: center;
	display: inline;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0px;
	
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
	
	font-family: 'Limelight', cursive;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	background-color: white;
	background-repeat: repeat;
	color: black;
	width: 70px;
	height: 20px;
	border-style: none;
	
}


button.sheet-tabbutton {
	
	font-family: 'Limelight', cursive;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	background-color: white;
	background-repeat: repeat;
	color: black;
	width: 140px; 
	/* height: 20px; */
	border-style: none;
	
}

.sheet-moves button[type=roll].sheet-rollbutton {
	
	font-family: 'Limelight', cursive;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	background-color: white;
	background-repeat: repeat;
	color: black;
	width: 140px;
	/* height: 18px; */
	font-size: 1em;
	border-style: none;
	margin: auto;
	border-radius: 0;
	
}

.sheet-moves button[type=roll].sheet-rollbuttonlong {
	
	font-family: 'Limelight', cursive;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	background-color: white;
	background-repeat: repeat;
	color: black;
	width: 140px;
	/* height: 36px; */
	font-size: 1em;
	border-style: none;
	margin: auto;
	border-radius: 0;
	white-space: normal;
	
}

.sheet-stats button[type=roll].sheet-rollbuttonmuted {
	
	font-family: 'Limelight', cursive;
	background-image: none;
	background-color: transparent;
	color: black;
	/* width: 140px; */
	/* height: 18px; */
	font-size: .9em;
	border-style: none;
	margin: 0;
	border-radius: 0;
	padding: 0px 0px 0px 0px;
	
}



.sheet-tabselector {
  grid-area: tabselector;
  font-family: 'Limelight', cursive;
  grid-template-columns: 150px 10px 150px ;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;
}


.sheet-info {
  grid-area: info;
  align-self: self-start;
  grid-template-rows: auto;
}

.sheet-cluesname {
  grid-area: cluesname;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-clues {
  grid-area: clues;
  align-self: self-start;
  font-family: 'Josefin Sans', sans-serif;
  grid-template-columns: 600px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: auto;
}

.sheet-centre {
  grid-area: centre;
  font-family: 'Limelight', cursive;
  grid-template-columns: 260px ;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;
  grid-template-areas:"gamename  "
					  ".   "
                      "conditions "
					  ".   "
					  "moves "
					  ".   "
					  "cozyplace "
					  ".   ";
}

.sheet-gamename {
  grid-area: gamename;
  font-family: 'Limelight', cursive;
  grid-template-columns: 240px ;
  display: grid;
  align-items: center;
  justify-items: center;
  align-self: self-start;
  grid-template-rows: auto;
  

}

.sheet-conditions {
  grid-area: conditions;
  grid-template-columns: 240px ;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-moves {
  grid-area: moves;
  grid-template-columns: 240px ;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;
  

}

.sheet-left {
  grid-area: left;
  grid-template-columns: 360px ;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;
  position: absolute;
  grid-template-areas:"charinput  "
					  ".   "
                      "xptrack "
					  ".   "
					  "endofsession "
					  ".   "
					  "advancements "
					  ".   "
					  "mavenmoves "
					  ".   ";
}

.sheet-charinput {
  grid-area: charinput;
  grid-template-columns: 140px 10px 200px;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-xptrack {
  grid-area: xptrack;
  grid-template-columns: 100px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-endofsession {
  grid-area: endofsession;
  grid-template-columns: 20px 10px 290px;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-advancements {
  grid-area: advancements;
  grid-template-columns: 20px 10px 290px;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-mavenmoves {
  grid-area: mavenmoves;
  align-self: self-start;
  font-family: 'Josefin Sans', sans-serif;
  grid-template-columns: 360px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: auto;
}



.sheet-right {
  grid-area: right;
  grid-template-columns: 360px ;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;
  grid-template-areas:"stats  "
					  ".   "
                      "crownqueen "
					  ".   "
					  "crownvoid "
					  ".   ";
}

.sheet-stats {
  grid-area: stats;
  grid-template-columns: 60px 15px 60px 15px 60px 15px 60px 15px 60px;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-crownqueen {
  grid-area: crownqueen;
  grid-template-columns: 20px 10px 330px;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-crownvoid {
  grid-area: crownvoid;
  grid-template-columns: 20px 10px 330px;
  display: grid;
  align-self: self-start;
  grid-template-rows: auto;

}

.sheet-cozyplace {
  grid-area: cozyplace;
  align-self: self-start;
  grid-template-rows: auto;

}





/* Format repeating sections */

div.sheet-mavenmoves-row {
    display: grid;
    grid-template-columns: 320px;
    column-gap: 5px;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	font-family: 'Josefin Sans', sans-serif;
}

div.sheet-clues-row {
    display: grid;
    grid-template-columns: 10px 600px 10px;
    column-gap: 5px;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	font-family: 'Josefin Sans', sans-serif;
}

div.sheet-cozyplace-row {
    display: grid;
    grid-template-columns: 20px 10px 200px;
    column-gap: 5px;
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/white_paint.png?raw=true"); /*white paint*/
	font-family: 'Josefin Sans', sans-serif;
}

div.sheet-cozyplace-row input[type="checkbox"] {
    font-family: 'Josefin Sans', sans-serif;
	display: inline;
	transform: scale(1.2);
	height:18px;
	width:18px;
}

div.sheet-cozyplace-row input[type="text"] {
    width: 200px;
	height: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

div.sheet-clues-row input[type="text"] {
    width: 250px;
	height: 50.21px;
	font-family: 'Josefin Sans', sans-serif;
}

div.sheet-clues-row textarea {
    width: 600px;
	height: 40px;
	font-family: 'Josefin Sans', sans-serif;
}

/* div.sheet-mavenmoves-row textarea {
    width: 320px;
	height: 70px;
	font-family: 'Josefin Sans', sans-serif;
} */

div.sheet-clues-row input[type="number"] {
    width: 50px;
	font-family: 'Josefin Sans', sans-serif;
}


/* Roll template formatting */

.sheet-movedesc {
    background: #fff;
    padding: 10px;
}

.sheet-rolltemplate-com table,
.sheet-rolltemplate-com12 table,
.sheet-rolltemplate-comtext table,
.sheet-rolltemplate-com12stat table {
    width: 98%;
	border: 1px solid;
	color: black;
	font-size: 1em;
	font-family: 'Josefin Sans', sans-serif;
}

.sheet-rolltemplate-com th,
.sheet-rolltemplate-com12 th,
.sheet-rolltemplate-comtext th,
.sheet-rolltemplate-com12stat th {
	/*background-color: rgba(112, 32, 130,1);*/
	background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Brindlewood%20Bay/blue_board_background-small-unsplash.png?raw=true"); /*blue wooden boards for a beach town vibe*/
	color: #ffffff;
	padding: 5px 10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
	text-align: left;
}

.sheet-rolltemplate-com .userscript-tcat,
.sheet-rolltemplate-com12 .userscript-tcat,
.sheet-rolltemplate-comtext .userscript-tcat,
.sheet-rolltemplate-com12stat .userscript-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-com td,
.sheet-rolltemplate-com12 td,
.sheet-rolltemplate-comtext td,
.sheet-rolltemplate-com12stat td  {
	padding: 5px 10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.sheet-rolltemplate-com tr:nth-child(odd),
.sheet-rolltemplate-com12 tr:nth-child(odd),
.sheet-rolltemplate-comtext tr:nth-child(odd),
.sheet-rolltemplate-com12stat tr:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}

.sheet-rolltemplate-com tr:nth-child(even),
.sheet-rolltemplate-com12 tr:nth-child(even),
.sheet-rolltemplate-comtext tr:nth-child(even),
.sheet-rolltemplate-com12stat tr:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}

.sheet-rolltemplate-com .inlinerollresult,
.sheet-rolltemplate-com12 .inlinerollresult,
.sheet-rolltemplate-com12stat .inlinerollresult   {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1); /*Cool Gray 6 C*/
}

.sheet-rolltemplate-com .inlinerollresult.fullcrit,
.sheet-rolltemplate-com12 .inlinerollresult.fullcrit,
.sheet-rolltemplate-com12stat .inlinerollresult.fullcrit {
	border: 2px solid #3FB315;
}

.sheet-rolltemplate-com .inlinerollresult.fullfail,
.sheet-rolltemplate-com12 .inlinerollresult.fullfail,
.sheet-rolltemplate-com12stat .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-com .inlinerollresult.importantroll,
.sheet-rolltemplate-com12 .inlinerollresult.importantroll,
.sheet-rolltemplate-com12stat .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}

.textchatcontainer .message {
    padding-left: 10px;
}

.sheet-moves button[type=roll].sheet-rollbutton::before  {
    content: "";

}

.sheet-moves button[type=roll].sheet-rollbuttonlong::before  {
    content: "";

}

.sheet-stats button[type=roll].sheet-rollbuttonmuted::before  {
    content: "";

}

.sheet-stats button[type=roll].sheet-rollbuttonmuted::hover  {
    background: transparent;
	border-style: none;

}
