//
  CREATED by      Gorthian
  Version				  v2.0 HF1
  Letzte Änderung	2023-10-14
  GitHub				  https://github.com/Gorthian/Roll20_NHKS_CharacterSheet
  Wiki				    https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/wiki
  Bugs & Issues		https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/issues

// Globale Variablen
-
  //- Aktuell noch nicht genutzt

//
  ********************************
  * START NHKS.pug
  ********************************

input.sheet-tabstoggle(type='hidden' name='attr_sheetTab' value='actor')
.sheet-wrapper.sheet-NHKS
  input.sheet-tabstoggle(type='hidden' name='attr_sheetTab' value='character')
  .sheet-tab-buttons
    div
      button(type='action' name='act_main')
        span.sheet-label(data-i18n='main')
    div
      button(type='action' name='act_weapons')
        span.sheet-label(data-i18n='weapons')
  
  include src/html/main-tab.pug
  include src/html/weapon-tab.pug
  
  .sheet-footer
    | Created by Gorthian | Supported by Hitdice | Copyright by Black Mask Verlag
    br
    | More Infos: https://github.com/Gorthian/Roll20_NHKS_CharacterSheet


// ROLL TEMPLATES
include src/html/rolltemplates.pug

// SHEET WORKERS
script(type="text/worker")
  include src/js/sheetworker.js

//
  ********************************
  * ENDE NHKS.pug
  ********************************