- 
  var 
    assets = {
      companions: {
        'cave-lion': {
          abilityId: 'cavelion',
          health: 4
        },
        'giant-spider': {
          abilityId: 'giantspider',
          health: 4
        },
        hawk: {
          abilityId: 'hawk',
          health: 3
        },
        horse: {
          abilityId: 'horse',
          health: 5
        },
        hound: {
          abilityId: 'hound',
          health: 4
        },
        kindred: {
          abilityId: 'kindred',
          health: 4,
          abilityWriteIn: {
            name: 'expertise',
            number: 1
          }
        },
        mammoth: {
          abilityId: 'mammoth',
          health: 5
        },
        owl: {
          abilityId: 'owl',
          health: 3
        },
        raven: {
          abilityId: 'raven',
          health: 2
        },
        'young-wyvern': {
          abilityId: 'youngwyvern',
          health: 5
        }
      },
      combatTalents: {
        archer: {
          abilityId: 'archer',
          description: true,
          firstAbilityChecked: true,
          list: {
            ability: 1,
            number: 2
          }
        },
        berserker: {
          abilityId: 'berserker',
          description: true,
          firstAbilityChecked: true,
          list: {
            ability: 2,
            number: 2
          }
        },
        brawler: {
          abilityId: 'brawler',
          description: true,
          firstAbilityChecked: true
        },
        cutthroat: {
          abilityId: 'cutthroat',
          description: true,
          firstAbilityChecked: true,
          list: {
            ability: 1,
            number: 2
          }
        },
        duelist: {
          abilityId: 'duelist',
          description: true,
          firstAbilityChecked: true,
          list: {
            ability: 3,
            number: 2
          }
        },
        fletcher: {
          abilityId: 'fletcher',
          firstAbilityChecked: true,
          list: {
            ability: 3,
            number: 2
          }
        },
        ironclad: {
          abilityId: 'ironclad',
          description: true,
          firstAbilityChecked: true,
          list: {
            ability: 1,
            number: 2
          }
        },
        'long-arm': {
          abilityId: 'longarm',
          description: true,
          firstAbilityChecked: true
        },
        'shield-bearer': {
          abilityId: 'shieldbearer',
          description: true,
          firstAbilityChecked: true
        },
        skirmisher: {
          abilityId: 'skirmisher',
          description: true,
          firstAbilityChecked: true,
          list: {
            ability: 1,
            number: 2
          }
        },
        slinger: {
          abilityId: 'slinger',
          description: true,
          firstAbilityChecked: true,
          list: {
            ability: 2,
            number: 2
          }
        },
        sunderer: {
          abilityId: 'sunderer',
          description: true,
          firstAbilityChecked: true
        },
        swordmaster: {
          abilityId: 'swordmaster',
          description: true,
          firstAbilityChecked: true
        },
        'thunder-bringer': {
          abilityId: 'thunderbringer',
          description: true,
          firstAbilityChecked: true
        },
      },
      paths: {
        alchemist: {
          abilityId: 'alchemist',
          firstAbilityChecked: true
        },
        'animal-kin': {
          abilityId: 'animalkin',
          firstAbilityChecked: true
        },
        'banner-sworn': {
          abilityId: 'bannersworn',
          firstAbilityChecked: true,
          writeIn: 1,
          description: true
        },
        'battle-scarred': {
          abilityId: 'battlescarred',
          description: true
        },
        'blade-bound': {
          abilityId: 'bladebound',
          writeIn: 1,
          description: true
        },
        bonded: {
          abilityId: 'bonded',
          firstAbilityChecked: true
        },
        dancer: {
          abilityId: 'dancer',
          firstAbilityChecked: true
        },
        devotant: {
          abilityId: 'devotant',
          writeIn: 2,
          firstAbilityChecked: true
        },
        empowered: {
          abilityId: 'empowered',
          writeIn: 1,
          firstAbilityChecked: true
        },
        'fortune-hunter': {
          abilityId: 'fortunehunter',
          track: 5,
          firstAbilityChecked: true
        },
        'herbalist': {
          abilityId: 'herbalist',
          firstAbilityChecked: true,
          list: {
            ability: 1,
            number: 2
          }
        },
        honorbound: {
          abilityId: 'honorbound',
          firstAbilityChecked: true
        },
        improviser: {
          abilityId: 'improviser',
          firstAbilityChecked: true
        },
        infiltrator: {
          abilityId: 'infiltrator',
          firstAbilityChecked: true
        },
        loyalist: {
          abilityId: 'loyalist',
          firstAbilityChecked: true
        },
        masked: {
          abilityId: 'masked',
          description: true,
          firstAbilityChecked: true,
          list: {
            ability: 1,
            number: 4
          }
        },
        oathbreaker: {
          abilityId: 'oathbreaker',
          description: true,
          firstAbilityChecked: true
        },
        outcast: {
          abilityId: 'outcast',
          firstAbilityChecked: true
        },
        pretender: {
          abilityId: 'pretender',
          firstAbilityChecked: true
        },
        revenant: {
          abilityId: 'revenant',
          description: true,
          firstAbilityChecked: true
        },
        rider: {
          abilityId: 'rider',
          description: true,
          firstAbilityChecked: true
        },
        ritualist: {
          abilityId: 'ritualist',
          description: true,
          firstAbilityChecked: true
        },
        'shadow-kin': {
          abilityId: 'shadowkin',
          description: true
        },
        sighted: {
          abilityId: 'sighted',
          firstAbilityChecked: true
        },
        slayer: {
          abilityId: 'slayer',
          firstAbilityChecked: true,
          list: {
            ability: 3,
            number: 2
          }
        },
        'spirit-bound': {
          abilityId: 'spiritbound',
          firstAbilityChecked: true,
          list: {
            ability: 3,
            number: 2
          }
        },
        storyweaver: {
          abilityId: 'storyweaver',
          firstAbilityChecked: true
        },
        trickster: {
          abilityId: 'trickster',
          firstAbilityChecked: true,
          list: {
            ability: 3,
            number: 2
          }
        },
        veteran: {
          abilityId: 'veteran',
          firstAbilityChecked: true
        },
        waterborn: {
          abilityId: 'waterborn',
          firstAbilityChecked: true,
          list: {
            ability: 2,
            number: 3
          }
        },
        wayfinder: {
          abilityId: 'wayfinder',
          firstAbilityChecked: true
        },
        'weapon-master': {
          abilityId: 'weaponmaster',
          description: true,
          firstAbilityChecked: true
        },
        wildblood: {
          abilityId: 'wildblood',
          firstAbilityChecked: true
        },
        wright: {
          abilityId: 'wright',
          writeIn: 1,
          firstAbilityChecked: true
        }
      },
      rituals: {
        augur: {
          abilityId: 'augur',
          firstAbilityChecked: true
        },
        awakening: {
          abilityId: 'awakening',
          track: 6,
          firstAbilityChecked: true
        },
        bind: {
          abilityId: 'bind',
          firstAbilityChecked: true
        },
        communion: {
          abilityId: 'communion',
          firstAbilityChecked: true
        },
        divination: {
          abilityId: 'divination',
          firstAbilityChecked: true
        },
        invoke: {
          abilityId: 'invoke',
          track: 6,
          firstAbilityChecked: true
        },
        keen: {
          abilityId: 'keen',
          firstAbilityChecked: true
        },
        leech: {
          abilityId: 'leech',
          firstAbilityChecked: true
        },
        lightbearer: {
          abilityId: 'lightbearer',
          track: 6,
          firstAbilityChecked: true
        },
        scry: {
          abilityId: 'scry',
          firstAbilityChecked: true,
          list: {
            ability: 1,
            number: 3
          }
        },
        'shadow-walk': {
          abilityId: 'shadowwalk',
          firstAbilityChecked: true
        },
        sway: {
          abilityId: 'sway',
          firstAbilityChecked: true
        },
        talisman: {
          abilityId: 'talisman',
          firstAbilityChecked: true
        },
        tether: {
          abilityId: 'tether',
          firstAbilityChecked: true
        },
        totem: {
          abilityId: 'totem',
          firstAbilityChecked: true
        },
        visage: {
          abilityId: 'visage',
          firstAbilityChecked: true
        },
        ward: {
          abilityId: 'ward',
          firstAbilityChecked: true,
          list: {
            ability: 1,
            number: 3
          }
        }
      }
    }
