- 
  var 
    debilities = [
      {
        translationId: 'debility-group-conditions',
        list: [
          { type: 'checkbox', attribute: 'debilWounded', translationId: 'debility-wounded', classes: 'debility-btn', pure_attr: true, 'text': 'Wounded' },
          { type: 'checkbox', attribute: 'debilShaken', translationId: 'debility-shaken', classes: 'debility-btn', pure_attr: true, 'text': 'Shaken' },
          { type: 'checkbox', attribute: 'debilUnprepared', translationId: 'debility-unprepared', classes: 'debility-btn', pure_attr: true, 'text': 'Unprepared' },
          { type: 'checkbox', attribute: 'debilEncumbered', translationId: 'debility-encumbered', classes: 'debility-btn', pure_attr: true, 'text': 'Encumbered' }
        ]
      },
      {
        translationId: 'debility-group-banes',
        list: [
          { type: 'checkbox', attribute: 'debilCorrupted', translationId: 'debility-corrupted', classes: 'debility-btn', pure_attr: true, 'text': 'Corrupted' },
          { type: 'checkbox', attribute: 'debilMaimed', translationId: 'debility-maimed', classes: 'debility-btn', pure_attr: true, 'text': 'Maimed' },
          { type: 'checkbox', attribute: 'debilMarked', translationId: 'debility-cursed', classes: 'debility-btn', pure_attr: true, 'text': 'Marked' },
          { type: 'checkbox', attribute: 'debilHaunted', translationId: 'debility-tormented', classes: 'debility-btn', pure_attr: true, 'text': 'Haunted' }
        ]
      },
      {
        translationId: 'debility-group-assets',
        list: [
          { type: 'checkbox', attribute: 'debilLeech', translationId: 'debility-leech', classes: 'debility-btn', pure_attr: true, 'text': 'Leech' },
          { type: 'checkbox', attribute: 'debilOathbreaker', translationId: 'debility-oathbreaker', classes: 'debility-btn', pure_attr: true, 'text': 'Oath breaker' },
          { type: 'checkbox', attribute: 'debilCustom1', translationId: 'debility-custom-one', classes: 'debility-btn', pure_attr: true, 'text': 'Custom 1' },
          { type: 'checkbox', attribute: 'debilCustom2', translationId: 'debility-custom-two', classes: 'debility-btn', pure_attr: true, 'text': 'Custom 2' }
        ]
      }
    ]
