- 
  var 
    debilities = [
      {
        title: 'conditions',
        list: [
          { type: 'checkbox', attribute: 'debilWounded', translationId: 'debility-wounded', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilShaken', translationId: 'debility-shaken', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilUnprepared', translationId: 'debility-unprepared', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilEncumbered', translationId: 'debility-encumbered', classes: 'debility-btn', pure_attr: true }
        ]
      },
      {
        title: 'banes & burdens',
        list: [
          { type: 'checkbox', attribute: 'debilCorrupted', translationId: 'debility-corrupted', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilMaimed', translationId: 'debility-maimed', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilMarked', translationId: 'debility-cursed', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilHaunted', translationId: 'debility-tormented', classes: 'debility-btn', pure_attr: true }
        ]
      },
      {
        title: 'assets',
        list: [
          { type: 'checkbox', attribute: 'debilLeech', translationId: 'debility-leech', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilOathbreaker', translationId: 'debility-oathbreaker', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilCustom1', translationId: 'debility-custom-one', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilCustom2', translationId: 'debility-custom-two', classes: 'debility-btn', pure_attr: true }
        ]
      }
    ]
