-
  var moveList = {
    advance: {
      title: 'move-title-advance',
      name: 'advance',
      class: 'advance',
      page: 'Ironsworn - page 103',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-advance-1`
        }
      ],
      radio: 'advance'
    },
    advance_a_threat: {
      title: 'move-title-advance-a-threat',
      name: 'advanceAThreat',
      class: 'advance-a-threat',
      page: 'Delve - page 155',
      system: 'delve',
      content: [
        {
          p: `move-content-advance-a-threat-1`
        },
        {
          table: { group: 'threat', name: 'advance_a_threat' }
        },
        {
          p: `move-content-advance-a-threat-2`
        },
        {
          p: `move-content-advance-a-threat-3`
        }
      ],
      radio: 'advance_a_threat',
      no_quick_roll: true
    },
    aid_your_ally: {
      title: 'move-title-aid-your-ally',
      name: 'aidYourAlly',
      class: 'aid-your-ally',
      page: 'Ironsworn - page 76',
      radio: 'aid_your_ally',
      stat: `?{Stat|Edge, @{edge}|Iron, @{iron}|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}}`,
      system: 'ironsworn',
      content: [
        {
          p: `move-content-aid-your-ally-1`
        }
      ],
      stat_repeat: '?{Stat}'
    },
    ask_the_oracle: {
      title: 'move-title-ask-the-oracle',
      name: 'askTheOracle',
      class: 'ask-the-oracle',
      page: 'Ironsworn - page 107',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-ask-the-oracle-1`
        },
        {
          list: [
            `move-list-ask-the-oracle-1`,
            `move-list-ask-the-oracle-2`,
            `move-list-ask-the-oracle-3`,
            `move-list-ask-the-oracle-4`
          ],
        },
        {
          ask_the_oracle: true
        }
      ],
      radio: 'ask_the_oracle',
      no_quick_roll: true
    },
    battle: {
      title: 'move-title-battle',
      name: 'Battle',
      class: 'battle',
      page: 'Ironsworn - page 84',
      radio: 'battle',
      stat: `?{Stat|Edge, @{edge}|Iron, @{iron}|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-battle-1`
        },
        {
          list: [
            `move-list-battle-1`,
            `move-list-battle-2`,
            `move-list-battle-3`,
            `move-list-battle-4`,
            `move-list-battle-5`
          ],
        },
        {
          p: `move-content-battle-2`
        },
        {
          p: `move-content-battle-3`
        },
        {
          p: `move-content-battle-4`
        }
      ],
      roll: true
    },
    check_your_gear: {
      title: 'move-title-check-your-gear',
      name: 'checkYourGear',
      class: 'check-your-gear',
      page: 'Delve - page 38',
      radio: 'check_your_gear',
      stat: `?{Stat|Supply,@{supply}|Wits - Improviser,@{wits}}`,
      system: 'delve',
      content: [
        {
          p: `move-content-check-your-gear-1`
        },
        {
          p: `move-content-check-your-gear-2`
        },
        {
          p: `move-content-check-your-gear-3`
        },
        {
          p: `move-content-check-your-gear-4`
        }
      ],
      stat_repeat: '?{Stat}'
    },
    clash: {
      title: 'move-title-clash',
      name: 'clash',
      class: 'clash',
      page: 'Ironsworn - page 80',
      radio: 'clash',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Light - Lightbearer&#44;?{Light&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Stat|Edge,@{edge}|Iron,@{iron}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-clash-1`
        },
        {
          p: `move-content-clash-2`
        },
        {
          list: [
            `move-list-clash-1`,
            `move-list-clash-2`
          ]
        },
        {
          p: `move-content-clash-3`
        },
        {
          p: `move-content-clash-4`
        }
      ],
      roll: true
    },
    companion_endure_harm: {
      title: 'move-title-companion-endure-harm',
      name: 'companionEndureHarm',
      class: 'companion-endure-harm',
      page: 'Ironsworn - page 94',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Heart&#44;@{heart}|Companion's Health&#44;?{Health&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Your Heart or your companion's Health|0}`,
      stat_repeat: '?{Heart Value}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-companion-endure-harm-1`
        },
        {
          p: `move-content-companion-endure-harm-2`
        },
        {
          p: `move-content-companion-endure-harm-3`
        },
        {
          p: `move-content-companion-endure-harm-4`
        },
        {
          p: `move-content-companion-endure-harm-5`
        },
        {
          p: `move-content-companion-endure-harm-6`
        }
      ],
      radio: 'companion_endure_harm',
      roll: true
    },
    compel: {
      title: 'move-title-compel',
      name: 'compel',
      class: 'compel',
      page: 'Ironsworn - page 69',
      radio: 'compel',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Stat|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-compel-1`
        },
        {
          list: [
            `move-list-compel-1`,
            `move-list-compel-2`,
            `move-list-compel-3`
          ],
        },
        {
          p: `move-content-compel-2`
        },
        {
          p: `move-content-compel-3`
        },
        {
          p: `move-content-compel-4`
        }
      ],
      roll: true
    },
    delve_the_depths: {
      title: 'move-title-delve-the-depths',
      name: 'delveTheDepths',
      class: 'delve-the-depths',
      page: 'Delve - page 21',
      radio: 'delve_the_depths',
      stat: `?{Stat|Edge,@{edge}|Shadow,@{shadow}|Wits,@{wits}}`,
      stat_repeat: '?{Stat}',
      system: 'delve',
      content: [
        {
          p: `move-content-delve-the-depths-1`
        },
        {
          list: [
            `move-list-delve-the-depths-1`,
            `move-list-delve-the-depths-2`,
            `move-list-delve-the-depths-3`
          ],
        },
        {
          p: `move-content-delve-the-depths-2`
        },
        {
          p: `move-content-delve-the-depths-3`
        },
        {
          p: `move-content-delve-the-depths-4`
        },
        {
          depths_table: true
        }
      ],
      roll: true,
      delve_the_depths: true
    },
    discover_a_site: {
      title: 'move-title-discover-a-site',
      name: 'discoverASite',
      class: 'discover-a-site',
      page: 'Delve - page 19',
      radio: 'discover_a_site',
      roll: true,
      system: 'delve',
      content: [
        {
          p: `move-content-discover-a-site-1`
        },
        {
          list: [
            `move-list-discover-a-site-1`,
            `move-list-discover-a-site-2`,
            `move-list-discover-a-site-3`,
            `move-list-discover-a-site-4`,
            `move-list-discover-a-site-5`
          ]
        },
        {
          p: `move-content-discover-a-site-2`
        }
      ],
      discover_a_site: true
    },
    draw_the_circle: {
      title: 'move-title-draw-the-circle',
      name: 'drawTheCircle',
      class: 'draw-the-circle',
      page: 'Ironsworn - page 73',
      radio: 'draw_the_circle',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-draw-the-circle-1`
        },
        {
          p: `move-content-draw-the-circle-2`
        },
        {
          p: `move-content-draw-the-circle-3`
        },
        {
          list: [
            `move-list-draw-the-circle-1`,
            `move-list-draw-the-circle-2`,
            `move-list-draw-the-circle-3`,
            `move-list-draw-the-circle-4`,
            `move-list-draw-the-circle-5`
          ]
        },
        {
          p: `move-content-draw-the-circle-4`
        },
        {
          p: `move-content-draw-the-circle-5`
        }
      ],
      roll: true
    },
    end_the_fight: {
      title: 'move-title-end-the-fight',
      name: 'endTheFight',
      class: 'end-the-fight',
      page: 'Ironsworn - page 82',
      radio: 'end_the_fight',
      roll: true,
      system: 'ironsworn',
      content: [
        {
          p: `move-content-end-the-fight-1`
        },
        {
          p: `move-content-end-the-fight-2`
        },
        {
          p: `move-content-end-the-fight-3`
        },
        {
          p: `move-content-end-the-fight-4`
        },
        {
          list: [
            `move-list-end-the-fight-1`,
            `move-list-end-the-fight-2`,
            `move-list-end-the-fight-3`,
            `move-list-end-the-fight-4`,
            `move-list-end-the-fight-5`,
            `move-list-end-the-fight-6`
          ]
        },
        {
          p: `move-content-end-the-fight-5`
        }
      ],
      progress: true
    },
    endure_harm: {
      title: 'move-title-endure-harm',
      name: 'endureHarm',
      class: 'endure-harm',
      page: 'Ironsworn - page 91',
      radio: 'endure_harm',
      stat: `?{Stat|Health,@{health}|Iron,@{iron}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-endure-harm-1`
        },
        {
          p: `move-content-endure-harm-2`
        },
        {
          p: `move-content-endure-harm-3`
        },
        {
          list: [
            `move-list-endure-harm-1`,
            `move-list-endure-harm-2`
          ]
        },
        {
          p: `move-content-endure-harm-4`
        },
        {
          p: `move-content-endure-harm-5`
        },
        {
          table: { group: 'suffer', name: 'endure_harm' }
        }
      ],
      roll: true
    },
    endure_stress: {
      title: 'move-title-endure-stress',
      name: 'endureStress',
      class: 'endure-stress',
      page: 'Ironsworn - page 95',
      radio: 'endure_stress',
      stat: `?{Stat|Spirit,@{spirit}|Heart,@{heart}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-endure-stress-1`,
        },
        {
          p: `move-content-endure-stress-2`,
        },
        {
          p: `move-content-endure-stress-3`,
        },
        {
          list: [
            `move-list-endure-stress-1`,
            `move-list-endure-stress-2`
          ],
        },
        {
          p: `move-content-endure-stress-4`,
        },
        {
          p: `move-content-endure-stress-5`,
        },
        {
          table: { group: 'suffer', name: 'endure_stress' }
        }
      ],
      roll: true
    },
    enter_the_fray: {
      title: 'move-title-enter-the-fray',
      name: 'enterTheFray',
      class: 'enter-the-fray',
      page: 'Ironsworn - page 78',
      radio: 'enter_the_fray',
      stat: `?{Stat|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}|Edge - Cave Lion,@{edge}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-enter-the-fray-1`
        },
        {
          list: [
            `move-list-enter-the-fray-1-1`,
            `move-list-enter-the-fray-1-2`,
            `move-list-enter-the-fray-1-3`,
            `move-list-enter-the-fray-1-4`,
            `move-list-enter-the-fray-1-5`
          ],
        },
        {
          p: `move-content-enter-the-fray-2`
        },
        {
          list: [
            `move-list-enter-the-fray-2-1`,
            `move-list-enter-the-fray-2-2`,
            `move-list-enter-the-fray-2-3`
          ]
        },
        {
          p: `move-content-enter-the-fray-3`
        },
        {
          p: `move-content-enter-the-fray-4`
        },
        {
          list: [
            `move-list-enter-the-fray-3-1`,
            `move-list-enter-the-fray-3-2`
          ]
        },
        {
          p: `move-content-enter-the-fray-5`
        }
      ],
      roll: true
    },
    escape_the_depths: {
      title: 'move-title-escape-the-depths',
      name: 'escapeTheDepths',
      class: 'escape-the-depths',
      page: 'Delve - page 42',
      radio: 'escape_the_depths',
      stat: `?{Stat|Edge,@{edge}|Heart,@{heart}|Iron,@{iron}|Wits,@{wits}|Shadow,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'delve',
      content: [
        {
          p: `move-content-escape-the-depths-1`
        },
        {
          list: [
            `move-list-escape-the-depths-1-1`,
            `move-list-escape-the-depths-1-2`,
            `move-list-escape-the-depths-1-3`,
            `move-list-escape-the-depths-1-4`,
            `move-list-escape-the-depths-1-5`
          ],
        },
        {
          p: `move-content-escape-the-depths-2`
        },
        {
          p: `move-content-escape-the-depths-3`
        },
        {
          list: [
            `move-list-escape-the-depths-2-1`,
            `move-list-escape-the-depths-2-2`,
            `move-list-escape-the-depths-2-3`,
            `move-list-escape-the-depths-2-4`,
            `move-list-escape-the-depths-2-5`,
            `move-list-escape-the-depths-2-6`
          ]
        },
        {
          p: `move-content-escape-the-depths-4`
        }
      ],
      roll: true
    },
    face_a_setback: {
      title: 'move-title-face-a-setback',
      name: 'faceASetback',
      class: 'face-a-setback',
      page: 'Ironsworn - page 97',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-face-a-setback-1`
        },
        {
          list: [
            `move-list-face-a-setback-1`,
            `move-list-face-a-setback-2`
          ]
        }
      ],
      radio: 'face_a_setback',
      no_quick_roll: true
    },
    face_danger: {
      title: 'move-title-face-danger',
      name: 'faceDanger',
      class: 'face-danger',
      page: 'Ironsworn - page 60',
      radio: 'face_danger',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Wits&#44;@{wits}|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Wits&#44;@{wits}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-face-danger-1`
        },
        {
          list: [
            `move-list-face-danger-1-1`,
            `move-list-face-danger-1-2`,
            `move-list-face-danger-1-3`,
            `move-list-face-danger-1-4`,
            `move-list-face-danger-1-5`
          ]
        },
        {
          p: `move-content-face-danger-2`
        },
        {
          p: `move-content-face-danger-3`
        },
        {
          list: [
            `move-list-face-danger-2-1`,
            `move-list-face-danger-2-2`,
            `move-list-face-danger-2-3`,
            `move-list-face-danger-2-4`
          ]
        },
        {
          p: `move-content-face-danger-6`
        }
      ],
      roll: true
    },
    face_death: {
      title: 'move-title-face-death',
      name: 'faceDeath',
      class: 'face-death',
      page: 'Ironsworn - page 93',
      radio: 'face_death',
      stat: `?{Stat|Heart,@{heart}|Shadow - Shadow-kin,@{shadow}}`,
      stat_repeat: '?{Stat}',
      roll: true,
      system: 'ironsworn',
      content: [
        {
          p: `move-content-face-death-1`
        },
        {
          p: `move-content-face-death-2`
        },
        {
          p: `move-content-face-death-3`
        },
        {
          list: [
            `move-list-face-death-1`,
            `move-list-face-death-2`
          ]
        },
        {
          p: `move-content-face-death-4`
        }
      ],
      owl: true
    },
    face_desolation: {
      title: 'move-title-face-desolation',
      name: 'faceDesolation',
      class: 'face-desolation',
      page: 'Ironsworn - page 96',
      radio: 'face_desolation',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-face-desolation-1`
        },
        {
          p: `move-content-face-desolation-2`
        },
        {
          p: `move-content-face-desolation-3`
        },
        {
          list: [
            `move-list-face-desolation-1`,
            `move-list-face-desolation-2`
          ]
        },
        {
          p: `move-content-face-desolation-4`
        }
      ],
      roll: true
    },
    find_an_opportunity: {
      title: 'move-title-find-an-opportunity',
      name: 'findAnOpportunity',
      class: 'find-an-opportunity',
      page: 'Delve - page 30',
      system: 'delve',
      content: [
        {
          p: `move-content-find-an-opportunity-1`
        },
        {
          p: `move-content-find-an-opportunity-2`
        },
        {
          list: [
            `move-lust-find-an-opportunity-1`,
            `move-lust-find-an-opportunity-2`
          ]
        },
        {
          table: { group: 'sites', name: 'find_an_opportunity' }
        }
      ],
      radio: 'find_an_opportunity'
    },
    forge_a_bond: {
      title: 'move-title-forge-a-bond',
      name: 'forgeABond',
      class: 'forge-a-bond',
      page: 'Ironsworn - page 74',
      radio: 'forge_a_bond',
      stat: `?{Stat|Heart,@{heart}|Shadow - Trickster,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-forge-a-bond-1`
        },
        {
          p: `move-content-forge-a-bond-2`
        },
        {
          list: [
            `move-list-forge-a-bond-1`,
            `move-list-forge-a-bond-2`
          ]
        },
        {
          p: `move-content-forge-a-bond-3`
        },
        {
          p: `move-content-forge-a-bond-4`
        }
      ],
      roll: true
    },
    forsake_your_vow: {
      title: 'move-title-forsake-your-vow',
      name: 'forsakeYourVow',
      class: 'forsake-your-vow',
      page: 'Ironsworn - page 102',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-forsake-your-vow-1`
        }
      ],
      radio: 'forsake_your_vow',
      no_quick_roll: true
    },
    fulfill_your_vow: {
      title: 'move-title-fulfill-your-vow',
      name: 'fulfillYourVow',
      class: 'fulfill-your-vow',
      page: 'Ironsworn - page 101 ',
      radio: 'fulfill_your_vow',
      roll: true,
      system: 'ironsworn',
      content: [
        {
          p: `move-content-fulfill-your-vow-1`,
        },
        {
          p: `move-content-fulfill-your-vow-2`
        },
        {
          p: `move-content-fulfill-your-vow-3`
        },
        {
          p: `move-content-fulfill-your-vow-4`
        },
        {
          p: `move-content-fulfill-your-vow-5`
        },
        {
          list: [
            `move-list-fulfill-your-vow-1`,
            `move-list-fulfill-your-vow-2`
          ]
        }
      ],
      progress: true
    },
    gather_information: {
      title: 'move-title-gather-information',
      name: 'gatherInformation',
      class: 'gather-information',
      page: 'Ironsworn - page 62',
      radio: 'gather_information',
      stat: `?{Stat|Wits,@{wits}|Shadow - Infiltrator/Trickster/Scry,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-gather-information-1`
        },
        {
          p: `move-content-gather-information-2`
        },
        {
          p: `move-content-gather-information-3`
        },
        {
          p: `move-content-gather-information-4`
        }
      ],
      roll: true
    },
    heal: {
      title: 'move-title-heal',
      name: 'heal',
      class: 'heal',
      page: 'Ironsworn - page 62',
      radio: 'heal',
      stat: `?{Stat|Wits,@{wits}|Iron,@{iron}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-heal-1`
        },
        {
          p: `move-content-heal-2`
        },
        {
          p: `move-content-heal-3`
        },
        {
          p: `move-content-heal-4`
        }
      ],
      roll: true
    },
    learn_from_your_failures: {
      title: 'move-title-learn-from-your-failures',
      name: 'learnFromYourFailures',
      class: 'learn-from-your-failures',
      page: 'Delve - page 59',
      radio: 'learn_from_your_failures',
      roll: true,
      system: 'delve',
      content: [
        {
          p: `move-content-learn-from-your-failures-1`
        },
        {
          p: `move-content-learn-from-your-failures-2`
        },
        {
          p: `move-content-learn-from-your-failures-3`
        },
        {
          list: [
            `move-list-learn-from-your-failures-1`,
            `move-list-learn-from-your-failures-2`,
            `move-list-learn-from-your-failures-3`
          ],
        },
        {
          p: `move-content-learn-from-your-failures-4`
        },
        {
          p: `move-content-learn-from-your-failures-5`
        }
      ],
      progress: true
    },
    locate_your_objective: {
      title: 'move-title-locate-your-objective',
      name: 'locateYourObjective',
      class: 'locate-your-objective',
      page: 'Delve - page 40',
      radio: 'locate_your_objective',
      roll: true,
      system: 'delve',
      content: [
        {
          p: `move-content-locate-your-objective-1`
        },
        {
          p: `move-content-locate-your-objective-2`
        },
        {
          p: `move-content-locate-your-objective-3`
        },
        {
          list: [
            `move-list-locate-your-objective-1`,
            `move-list-locate-your-objective-2`
          ]
        },
        {
          p: `move-content-locate-your-objective-4`
        },
        {
          p: `move-content-locate-your-objective-5`
        }
      ],
      progress: true
    },
    make_camp: {
      title: 'move-title-make-camp',
      name: 'makeCamp',
      class: 'make-camp',
      page: 'Ironsworn - page 64',
      radio: 'make_camp',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Supply&#44;@{supply}|Wits - Wildblood&#44;@{wits}|Health - Mammoth&#44;?{Mammoth's Health&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Stat|Supply&#44;@{supply}|Wits - Wildblood&#44;@{wits}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-make-camp-1`
        },
        {
          p: `move-content-make-camp-2`
        },
        {
          p: `move-content-make-camp-3`
        },
        {
          list: [
            `move-list-make-camp-1`,
            `move-list-make-camp-2`,
            `move-list-make-camp-3`,
            `move-list-make-camp-4`,
            `move-list-make-camp-5`
          ]
        },
        {
          p: `move-content-make-camp-4`
        }
      ],
      roll: true
    },
    mark_your_failure: {
      title: 'move-title-mark-your-failure',
      name: 'markYourFailure',
      class: 'mark-your-failure',
      page: 'Delve - page 58',
      system: 'delve',
      content: [
        {
          p: `move-content-mark-your-failure-1`
        }
      ],
      radio: 'mark_your_failure',
      no_quick_roll: true
    },
    out_of_supply: {
      title: 'move-title-out-of-supply',
      name: 'outOfSupply',
      class: 'out-of-supply',
      page: 'Ironsworn - page 97',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-out-of-supply-1`
        }
      ],
      radio: 'out_of_supply',
      no_quick_roll: true
    },
    pay_the_price: {
      title: 'move-title-pay-the-price',
      name: 'payThePrice',
      class: 'pay-the-price',
      page: 'Ironsworn - page 105',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-pay-the-price-1`
        },
        {
          list: [
            `move-list-pay-the-price-1`,
            `move-list-pay-the-price-2`,
            `move-list-pay-the-price-3`
          ]
        },
        {
          table: { group: 'fate', name: 'pay_the_price' }
        }
      ],
      radio: 'pay_the_price',
      no_quick_roll: true
    },
    reach_a_milestone: {
      title: 'move-title-reach-a-milestone',
      name: 'reachAMilestone',
      class: 'reach-a-milestone',
      page: 'Ironsworn - page 100',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-reach-a-milestone-1`
        },
        {
          list: [
            `move-list-reach-a-milestone-1`,
            `move-list-reach-a-milestone-2`,
            `move-list-reach-a-milestone-3`,
            `move-list-reach-a-milestone-4`,
            `move-list-reach-a-milestone-5`
          ]
        }
      ],
      radio: 'reach_a_milestone',
      no_quick_roll: true
    },
    reach_your_destination: {
      title: 'move-title-reach-your-destination',
      name: 'reachYourDestination',
      class: 'reach-your-destination',
      page: 'Ironsworn - page 68',
      radio: 'reach_your_destination',
      roll: true,
      system: 'ironsworn',
      content: [
        {
          p: `move-content-reach-your-destination-1`
        },
        {
          p: `move-content-reach-your-destination-2`
        },
        {
          p: `move-content-reach-your-destination-3`
        },
        {
          list: [
            `move-list-reach-your-destination-1`,
            `move-list-reach-your-destination-2`
          ]
        },
        {
          p: `move-content-reach-your-destination-4`
        },
        {
          p: `move-content-reach-your-destination-5`
        }
      ],
      progress: true
    },
    resupply: {
      title: 'move-title-resupply',
      name: 'resupply',
      class: 'resupply',
      page: 'Ironsworn - page 63',
      radio: 'resupply',
      stat: `?{Stat|Wits,@{wits}|Edge - Cave Lion,@{edge}|Shadow - Infiltrator,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-resupply-1`
        },
        {
          p: `move-content-resupply-2`
        },
        {
          p: `move-content-resupply-3`
        },
        {
          p: `move-content-resupply-4`
        }
      ],
      roll: true
    },
    reveal_a_danger: {
      title: 'move-title-reveal-a-danger',
      name: 'revealADanger',
      class: 'reveal-a-danger',
      page: 'Delve - page 34',
      system: 'delve',
      content: [
        {
          p: `move-content-reveal-a-danger-1`
        },
        {
          table: { group: 'sites', name: 'reveal_a_danger' }
        }
      ],
      radio: 'reveal_a_danger',
      no_quick_roll: true
    },
    reveal_a_danger_alt: {
      title: 'move-title-reveal-a-danger-alt',
      name: 'revealADangerAlt',
      class: 'reveal-a-danger-alt',
      page: 'Delve - page 68',
      system: 'delve',
      content: [
        {
          p: `move-content-reveal-a-danger-alt-1`
        },
        {
          table: { group: 'sites', name: 'reveal_a_danger_alt' }
        }
      ],
      radio: 'reveal_a_danger_alt',
      no_quick_roll: true
    },
    secure_an_advantage: {
      title: 'move-title-secure-an-advantage',
      name: 'secureAnAdvantage',
      class: 'secure-an-advantage',
      page: 'Ironsworn - page 61',
      radio: 'secure_an_advantage',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Wits&#44;@{wits}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Wits&#44;@{wits}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-secure-an-advantage-1`
        },
        {
          list: [
            `move-list-secure-an-advantage-1-1`,
            `move-list-secure-an-advantage-1-2`,
            `move-list-secure-an-advantage-1-3`,
            `move-list-secure-an-advantage-1-4`,
            `move-list-secure-an-advantage-1-5`
          ]
        },
        {
          p: `move-content-secure-an-advantage-2`
        },
        {
          list: [
            `move-list-secure-an-advantage-2-1`,
            `move-list-secure-an-advantage-2-2`
          ]
        },
        {
          p: `move-content-secure-an-advantage-3`
        },
        {
          p: `move-content-secure-an-advantage-4`
        }
      ],
      roll: true
    },
    sojourn: {
      title: 'move-title-sojourn',
      name: 'sojourn',
      class: 'sojourn',
      page: 'Ironsworn - page 71',
      radio: 'sojourn',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Heart&#44;@{heart}|Shadow - Pretender&#44;@{shadow}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Stat|Heart&#44;@{heart}|Shadow - Pretender&#44;@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-sojourn-1`
        },
        {
          p: `move-content-sojourn-2`
        },
        {
          p: `move-content-sojourn-3`
        },
        {
          h6: `move-content-sojourn-4`
        },
        {
          list: [
            `move-list-sojourn-1-1`,
            `move-list-sojourn-1-2`,
            `move-list-sojourn-1-3`
          ]
        },
        {
          h6: `move-content-sojourn-5`
        },
        {
          list: [
            `move-list-sojourn-2-1`,
            `move-list-sojourn-2-2`,
            `move-list-sojourn-2-3`,
            `move-list-sojourn-2-4`
          ]
        },
        {
          h6: `move-content-sojourn-6`
        },
        {
          list: [
            `move-list-sojourn-3-1`
          ]
        },
        {
          p: `move-content-sojourn-7`
        }
      ],
      roll: true
    },
    strike: {
      title: 'move-title-strike',
      name: 'strike',
      class: 'strike',
      page: 'Ironsworn - page 79',
      radio: 'strike',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart - Wyvern&#44;@{heart}|Light - Lightbearer&#44;?{Light&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart - Wyvern&#44;@{heart}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-strike-1`
        },
        {
          p: `move-content-strike-2`
        },
        {
          p: `move-content-strike-3`
        },
        {
          p: `move-content-strike-4`
        }
      ],
      roll: true
    },
    swear_an_iron_vow: {
      title: 'move-title-swear-an-iron-vow',
      name: 'swearAnIronVow',
      class: 'swear-an-iron-vow',
      page: 'Ironsworn - page 98',
      radio: 'swear_an_iron_vow',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Heart&#44;@{heart}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;&#125;`,
      stat: `?{Heart or Devotant Stat|0}`,
      stat_repeat: '?{Heart or Devotant Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-swear-an-iron-vow-1`
        },
        {
          p: `move-content-swear-an-iron-vow-2`
        },
        {
          p: `move-content-swear-an-iron-vow-3`
        },
        {
          p: `move-content-swear-an-iron-vow-4`
        },
        {
          list: [
            `move-list-swear-an-iron-vow-1`,
            `move-list-swear-an-iron-vow-2`
          ]
        }
      ],
      roll: true
    },
    take_a_hiatus: {
      title: 'move-title-take-a-hiatus',
      name: 'takeAHiatus',
      class: 'take-a-hiatus',
      page: 'Delve - page 158',
      system: 'delve',
      content: [
        {
          p: `move-content-take-a-hiatus-1`
        },
        {
          list: [
            `move-list-take-a-hiatus-1`,
            `move-list-take-a-hiatus-2`,
            `move-list-take-a-hiatus-3`
          ]
        },
        {
          p: `move-content-take-a-hiatus-2`
        }
      ],
      radio: 'take_a_hiatus',
      no_quick_roll: true
    },
    test_your_bond: {
      title: 'move-title-test-your-bond',
      name: 'testYourBond',
      class: 'test-your-bond',
      page: 'Ironsworn - page 75',
      radio: 'test_your_bond',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-test-your-bond-1`
        },
        {
          p: `move-content-test-your-bond-2`
        },
        {
          list: [
            `move-list-test-your-bond-1`,
            `move-list-test-your-bond-2`
          ]
        },
        {
          p: `move-content-test-your-bond-3`
        },
        {
          p: `move-content-test-your-bond-4`
        }
      ],
      roll: true
    },
    turn_the_tide: {
      title: 'move-title-turn-the-tide',
      name: 'turnTheTide',
      class: 'turn-the-tide',
      page: 'Ironsworn - page 81',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-turn-the-tide-1`
        },
        {
          p: `move-content-turn-the-tide-2`
        }
      ],
      radio: 'turn_the_tide',
      no_quick_roll: true
    },
    undertake_a_journey: {
      title: 'move-title-undertake-a-journey',
      name: 'undertakeAJourney',
      class: 'undertake-a-journey',
      page: 'Ironsworn - page 65',
      radio: 'undertake_a_journey',
      //- Disabling Nesting until it is fixed
      //- stat: `?{Stat|Wits,@{wits}|Shadow - Shadow-walk,@{shadow}|Spirit or Heart - Tether&#44;?{Tether Stat&amp;#124;Spirit&amp;#44;@{spirit}&amp;#124;Heart&amp;#44;@{heart}&amp;#125;&#125;`,
      stat: `?{Stat|Wits,@{wits}|Shadow - Shadow-walk,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `move-content-undertake-a-journey-1`
        },
        {
          list: [
            `move-list-undertake-a-journey-1-1`,
            `move-list-undertake-a-journey-1-2`,
            `move-list-undertake-a-journey-1-3`,
            `move-list-undertake-a-journey-1-4`,
            `move-list-undertake-a-journey-1-5`
          ]
        },
        {
          p: `move-content-undertake-a-journey-2`
        },
        {
          p: `move-content-undertake-a-journey-3`
        },
        {
          list: [
            `move-list-undertake-a-journey-2-1`,
            `move-list-undertake-a-journey-2-2`
          ]
        },
        {
          p: `move-content-undertake-a-journey-4`
        },
        {
          p: `move-content-undertake-a-journey-5`
        }
      ],
      roll: true
    },
    wield_a_rarity: {
      title: 'move-title-wield-a-rarity',
      name: 'wieldARairty',
      class: 'wield-a-rarity',
      page: 'Delve - page 176',
      radio: 'wield_a_rarity',
      stat: `?{Stat|Edge,@{edge}|Iron,@{iron}|Heart,@{heart}|Shadow,@{shadow}|Wits,@{wits}}`,
      stat_repeat: '?{Stat}',
      roll: true,
      system: 'delve',
      content: [
        {
          p: `move-content-wield-a-rarity-1`
        },
        {
          p: `move-content-wield-a-rarity-2`
        },
        {
          p: `move-content-wield-a-rarity-3`
        },
        {
          p: `move-content-wield-a-rarity-4`
        }
      ],
      rarity: true
    },
    write_your_epilogue: {
      title: 'move-title-write-your-epilogue',
      name: 'writeYourEpilogue',
      class: 'write-your-epilogue',
      page: 'Ironsworn - page 77',
      radio: 'write_your_epilogue',
      roll: true,
      system: 'ironsworn',
      content: [
        {
          p: `move-content-write-your-epilogue-1`
        },
        {
          p: `move-content-write-your-epilogue-2`
        },
        {
          p: `move-content-write-your-epilogue-3`
        },
        {
          p: `move-content-write-your-epilogue-4`
        },
        {
          p: `move-content-write-your-epilogue-5`
        }
      ],
      progress: true
    },
  }