- 
  var 
    charRows = [
      { 
        pages: [
          { id: '8', text: 'sites', optional: 'sites' },
          { id: '4', text: 'progress' },
          { id: '7', text: 'oracles' },
          { id: '3', text: 'bonds' },
          { id: '9', text: 'settings' }
        ]
      },
      {
        pages: [
          { id: '6', text: 'moves' },
          { id: '1', text: 'summary', checked: true },
          { id: '5', text: 'assets' }
        ]
      }
    ]

- 
  var 
    sharedRows = [
      { 
        pages: [
          { id: '2', text: 'vows', checked: true},
          { id: '4', text: 'progress' },
          { id: '3', text: 'bonds' },
          { id: '8', text: 'sites' }
        ]
      }
    ]