- 
  var 
    moveGroupsScroll = [
      { 
        title: 'move-group-title-scene-combat',
        moves: [
          { name: 'move-title-enter-the-fray', value: 'enter_the_fray' },
          { name: 'move-title-strike', value: 'strike' },
          { name: 'move-title-clash', value: 'clash' },
          { name: 'move-title-compel', value: 'compel' },
          { name: 'move-title-end-the-fight', value: 'end_the_fight' },
          { name: 'move-title-turn-the-tide', value: 'turn_the_tide' },
          { name: 'move-title-battle', value: 'battle' },
          { name: 'move-title-face-danger', value: 'face_danger' },
          { name: 'move-title-secure-an-advantage', value: 'secure_an_advantage' },
          { name: 'move-title-endure-harm', value: 'endure_harm' },
          { name: 'move-title-endure-stress', value: 'endure_stress' },
          { name: 'move-title-companion-endure-harm', value: 'companion_endure_harm' },
          { name: 'move-title-pay-the-price', value: 'pay_the_price' },
          { name: 'move-title-ask-the-oracle', value: 'ask_the_oracle' },
          { name: 'move-title-aid-your-ally', value: 'aid_your_ally' }
        ]
      },
      { 
        title: 'move-group-title-scene-journey',
        moves: [
          { name: 'move-title-undertake-a-journey', value: 'undertake_a_journey' },
          { name: 'move-title-make-camp', value: 'make_camp' },
          { name: 'move-title-resupply', value: 'resupply' },
          { name: 'move-title-heal', value: 'heal' },
          { name: 'move-title-gather-information', value: 'gather_information' },
          { name: 'move-title-reach-your-destination', value: 'reach_your_destination' },
          { name: 'move-title-out-of-supply', value: 'out_of_supply' },
          { name: 'move-title-face-danger', value: 'face_danger' },
          { name: 'move-title-secure-an-advantage', value: 'secure_an_advantage' },
          { name: 'move-title-endure-harm', value: 'endure_harm' },
          { name: 'move-title-endure-stress', value: 'endure_stress' },
          { name: 'move-title-companion-endure-harm', value: 'companion_endure_harm' },
          { name: 'move-title-pay-the-price', value: 'pay_the_price' },
          { name: 'move-title-ask-the-oracle', value: 'ask_the_oracle' },
          { name: 'move-title-aid-your-ally', value: 'aid_your_ally' }
        ]
      },
      { 
        title: 'move-group-title-scene-settlement',
        moves: [
          { name: 'move-title-sojourn', value: 'sojourn' },
          { name: 'move-title-gather-information', value: 'gather_information' },
          { name: 'move-title-compel', value: 'compel' },
          { name: 'move-title-heal', value: 'heal' },
          { name: 'move-title-draw-the-circle', value: 'draw_the_circle' },
          { name: 'move-title-swear-an-iron-vow', value: 'swear_an_iron_vow' },
          { name: 'move-title-fulfill-your-vow', value: 'fulfill_your_vow' },
          { name: 'move-title-forsake-your-vow', value: 'forsake_your_vow' },
          { name: 'move-title-forge-a-bond', value: 'forge_a_bond' },
          { name: 'move-title-test-your-bond', value: 'test_your_bond' },
          { name: 'move-title-face-danger', value: 'face_danger' },
          { name: 'move-title-secure-an-advantage', value: 'secure_an_advantage' },
          { name: 'move-title-endure-harm', value: 'endure_harm' },
          { name: 'move-title-endure-stress', value: 'endure_stress' },
          { name: 'move-title-companion-endure-harm', value: 'companion_endure_harm' },
          { name: 'move-title-pay-the-price', value: 'pay_the_price' },
          { name: 'move-title-ask-the-oracle', value: 'ask_the_oracle' },
          { name: 'move-title-aid-your-ally', value: 'aid_your_ally' }
        ]
      },
      { 
        title: 'move-group-title-fate',
        moves: [
          { name: 'move-title-pay-the-price', value: 'pay_the_price' },
          { name: 'move-title-ask-the-oracle', value: 'ask_the_oracle' }
        ]
      },
      { 
        title: 'move-group-title-adventure',
        moves: [
          { name: 'move-title-face-danger', value: 'face_danger' },
          { name: 'move-title-secure-an-advantage', value: 'secure_an_advantage' },
          { name: 'move-title-gather-information', value: 'gather_information' },
          { name: 'move-title-heal', value: 'heal' },
          { name: 'move-title-resupply', value: 'resupply' },
          { name: 'move-title-make-camp', value: 'make_camp' },
          { name: 'move-title-undertake-a-journey', value: 'undertake_a_journey' },
          { name: 'move-title-reach-your-destination', value: 'reach_your_destination' }
        ]
      },
      { 
        title: 'move-group-title-relationship',
        moves: [
          { name: 'move-title-compel', value: 'compel' },
          { name: 'move-title-sojourn', value: 'sojourn' },
          { name: 'move-title-draw-the-circle', value: 'draw_the_circle' },
          { name: 'move-title-forge-a-bond', value: 'forge_a_bond' },
          { name: 'move-title-test-your-bond', value: 'test_your_bond' },
          { name: 'move-title-aid-your-ally', value: 'aid_your_ally' },
          { name: 'move-title-write-your-epilogue', value: 'write_your_epilogue' }
        ]
      },
      { 
        title: 'move-group-title-quest',
        moves: [
          { name: 'move-title-swear-an-iron-vow', value: 'swear_an_iron_vow' },
          { name: 'move-title-reach-a-milestone', value: 'reach_a_milestone' },
          { name: 'move-title-fulfill-your-vow', value: 'fulfill_your_vow' },
          { name: 'move-title-forsake-your-vow', value: 'forsake_your_vow' },
          { name: 'move-title-advance', value: 'advance' }
        ]
      },
      { 
        title: 'move-group-title-combat',
        moves: [
          { name: 'move-title-enter-the-fray', value: 'enter_the_fray' },
          { name: 'move-title-strike', value: 'strike' },
          { name: 'move-title-clash', value: 'clash' },
          { name: 'move-title-turn-the-tide', value: 'turn_the_tide' },
          { name: 'move-title-end-the-fight', value: 'end_the_fight' },
          { name: 'move-title-battle', value: 'battle' }
        ]
      },
      { 
        title: 'move-group-title-suffer',
        moves: [
          { name: 'move-title-endure-harm', value: 'endure_harm' },
          { name: 'move-title-endure-stress', value: 'endure_stress' },
          { name: 'move-title-companion-endure-harm', value: 'companion_endure_harm' },
          { name: 'move-title-face-death', value: 'face_death' },
          { name: 'move-title-face-desolation', value: 'face_desolation' },
          { name: 'move-title-out-of-supply', value: 'out_of_supply' },
          { name: 'move-title-face-a-setback', value: 'face_a_setback' },
        ]
      },
      { 
        title: 'move-group-title-delve',
        optional: 'sites',
        moves: [
          { name: 'move-title-discover-a-site', value: 'discover_a_site' },
          { name: 'move-title-delve-the-depths', value: 'delve_the_depths' },
          { name: 'move-title-find-an-opportunity', value: 'find_an_opportunity' },
          { name: 'move-title-reveal-a-danger', value: 'reveal_a_danger' },
          { name: 'move-title-check-your-gear', value: 'check_your_gear' },
          { name: 'move-title-locate-your-objective', value: 'locate_your_objective' },
          { name: 'move-title-escape-the-depths', value: 'escape_the_depths' },
          { name: 'move-title-reveal-a-danger-alt', value: 'reveal_a_danger_alt' }
        ]
      },
      { 
        title: 'move-group-title-failure',
        optional: 'failures',
        moves: [
          { name: 'move-title-mark-your-failure', value: 'mark_your_failure' },
          { name: 'move-title-learn-from-your-failures', value: 'learn_from_your_failures' }
        ]
      },
      { 
        title: 'move-group-title-rarity',
        optional: 'rarity',
        moves: [
          { name: 'move-title-wield-a-rarity', value: 'wield_a_rarity' }
        ]
      },
      { 
        title: 'move-group-title-threat',
        optional: 'threat',
        moves: [
          { name: 'move-title-advance-a-threat', value: 'advance_a_threat' },
          { name: 'move-title-take-a-hiatus', value: 'take_a_hiatus' }
        ]
      },
    ]
