- 
  var 
    settingGroups = [
      {
        translationId: 'settings-delve',
        settings: [
          {
            attribute: 'settingSites',
            translationId: 'settings-delve-sites',
            checked: true
          },
          {
            attribute: 'settingFailures',
            translationId: 'settings-delve-failures',
            checked: true
          },
          {
            attribute: 'settingRarities',
            translationId: 'settings-delve-rarities',
            checked: true
          },
          {
            attribute: 'settingThreat',
            translationId: 'settings-delve-threat',
            checked: true
          }
        ]
      },
      {
        translationId: 'settings-moves',
        settings: [
          {
            attribute: 'settingShowAssetsSummary',
            translationId: 'settings-moves-show-assets',
            checked: true
          }
        ]
      }
    ]
