- 
  var
    stats = [
      { lower: 'edge', upper: 'EDGE', capital: 'Edge' },
      { lower: 'heart', upper: 'HEART', capital: 'Heart'  },
      { lower: 'iron', upper: 'IRON', capital: 'Iron' },
      { lower: 'shadow', upper: 'SHADOW', capital: 'Shadow' },
      { lower: 'wits', upper: 'WITS', capital: 'Wits' }
    ]