- 
  var
    stats = [
      { lower: 'edge', capital: 'Edge', translationId: 'stat-edge' },
      { lower: 'heart', capital: 'Heart', translationId: 'stat-heart' },
      { lower: 'iron', capital: 'Iron', translationId: 'stat-iron' },
      { lower: 'shadow', capital: 'Shadow', translationId: 'stat-shadow' },
      { lower: 'wits', capital: 'Wits', translationId: 'stat-wits' }
    ]
