section#abilities.abilities.long-2
  h1(data-i18n='abilities')
  +fieldset({name:'abilities'})
    .grid__3col.no-gap
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +div({class:'flex-box color-receiver center', style:'height:39px!important;'})
        span(style='width:39px!important; height:39px!important;').center
          +button({name:'quote', class:'quote center', type:'roll', trigger:{listenerFunc:'initiateRoll'}})
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'ability'})
      .color-selector
        +hidden({name:'class', class:'color-control', value:'inactive'})
        +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
          +option({value:'general', 'data-i18n':'general'})
          +option({value:'stalwart', 'data-i18n':'stalwart'})
          +option({value:'vagabond', 'data-i18n':'vagabond'})
          +option({value:'mendicant', 'data-i18n':'mendicant'})
          +option({value:'wright', 'data-i18n':'wright'})
          +option({value:'inactive', 'data-i18n':'inactive', selected:true})
    .grid___3col.half-gap.center
      +text({name:'info-a', class:'ability-info underlined capitalize right'})
      +text({name:'info-b', class:'ability-info underlined capitalize center', placeholder:'&#11047;'})
      +text({name:'info-c', class:'ability-info underlined capitalize left'})
    +textarea({name:'flavor', class:'serif emph small textarea-1', 'data-i18n-placeholder':'ability flavor', spellcheck:'false'})
    +textarea({name:'effects', class:'small textarea-4', 'data-i18n-placeholder':'ability effects'})
    +collapse(name='basic-abilities', class='ability')
    .grid__4col.half-gap.notes.expanded
      span(style='width:40px;')
        +checkbox({name:'talent 1', class:'talent talent-1'})
        +checkbox({name:'talent 2', class:'talent talent-2'})
      h5(data-i18n='talents', class='smallcaps', style='position:relative;left:-50%;')
      +checkbox({name:'mastery'})
      +text({name:'mastery name', class:'h3-style-input small short-text center', 'data-i18n-placeholder':'mastery name'})
      +div({class:'flex-box boxed center span-2', style:'width:100% !important;'})
        +textarea({name:'talent 1 effect', class:'small textarea-1', 'data-i18n-placeholder':'talent 1 effect'})
        +textarea({name:'talent 2 effect', class:'small textarea-1', 'data-i18n-placeholder':'talent 2 effect'})
      .flex-box.boxed.center.span-2
        +textarea({name:'mastery effect', class:'small textarea-1', 'data-i18n-placeholder':'mastery effect'})
  .hide-note
    .flex-box.row
      h5(data-i18n='basic abilities')
    +collapse(name='basic-abilities')
    .notes.expanded
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 0")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 1")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 2")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 3")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 3")
section#limits.limits
  h1(data-i18n='limit break')
  +fieldset({name:'limits'})
    .grid__3col.no-gap
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +div({class:'flex-box color-receiver center', style:'height:39px!important;'})
        span(style='width:39px!important; height:39px!important;').center
          +button({name:'quote', class:'quote center', type:'roll', trigger:{listenerFunc:'initiateRoll'}})
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'limit'})
      .color-selector
        +hidden({name:'class', class:'color-control', value:'inactive'})
        +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
          +option({value:'general', 'data-i18n':'general'})
          +option({value:'stalwart', 'data-i18n':'stalwart'})
          +option({value:'vagabond', 'data-i18n':'vagabond'})
          +option({value:'mendicant', 'data-i18n':'mendicant'})
          +option({value:'wright', 'data-i18n':'wright'})
          +option({value:'inactive', 'data-i18n':'inactive', selected:true})
    .grid___3col.half-gap.center
      +text({name:'info-a', class:'ability-info underlined capitalize right'})
      +text({name:'info-b', class:'ability-info underlined capitalize center', placeholder:'&#11047;'})
      +text({name:'info-c', class:'ability-info underlined capitalize left'})
    +textarea({name:'flavor', class:'serif emph small textarea-1', 'data-i18n-placeholder':'ability flavor', spellcheck:'false'})
    +textarea({name:'effects', class:'small textarea-4', 'data-i18n-placeholder':'ability effects'})
    +collapse(name='basic-abilities', class='ability')
    .grid__4col.half-gap.notes.expanded
      span(style='width:40px;')
        +checkbox({name:'talent 1', class:'talent talent-1'})
        +checkbox({name:'talent 2', class:'talent talent-2'})
      h5(data-i18n='talents', class='smallcaps', style='position:relative;left:-50%;')
      +checkbox({name:'mastery'})
      +text({name:'mastery name', class:'h3-style-input small short-text center', 'data-i18n-placeholder':'mastery name'})
      +div({class:'flex-box boxed center span-2', style:'width:100% !important;'})
        +textarea({name:'talent 1 effect', class:'small textarea-1', 'data-i18n-placeholder':'talent 1 effect'})
        +textarea({name:'talent 2 effect', class:'small textarea-1', 'data-i18n-placeholder':'talent 2 effect'})
      .flex-box.boxed.center.span-2
        +textarea({name:'mastery effect', class:'small textarea-1', 'data-i18n-placeholder':'mastery effect'})
  .resolve.hide-note
    .flex-box.row
      +input-label({label:'personal resolve',
        inputObj:{name:'personal resolve', type:'number', class:'underlined'},
        spanObj:{role:'heading', 'aria-level':5, class:'normal'}
      })
      +input-label({label:'party resolve',
        inputObj:{name:'party resolve', type:'number', class:'underlined'},
        spanObj:{role:'heading', 'aria-level':5, class:'normal'}
      })
    +collapse(name='limit-break')
    .notes.expanded
      p(class='bold', 'data-i18n'="limit break reminder line 0")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 1")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 2")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 3")