section#abilities.abilities
  h1(data-i18n='abilities')
  .hide-note
    .flex-box.row
      h5(data-i18n='basic abilities')
    +collapse(name='basic-abilities')
    .notes.expanded
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 0")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 1")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 2")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 3")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 3")
  h3(data-i18n='limit break')
  .resolve.hide-note
    .flex-box.row
      +input-label({label:'personal resolve', inputObj:{name:'personal resolve',type:'number'}, divObj:{class:'div-class'}, spanObj:{class:'span-class'}})
      +input-label({label:'party resolve', inputObj:{name:'party resolve',type:'number'}, divObj:{class:'div-class'}, spanObj:{class:'span-class'}})
    +collapse(name='limit-break')
    .notes.expanded
      p(class='bold', 'data-i18n'="limit break reminder line 0")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 1")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 2")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 3")