section#abilities.abilities.long-2
  h1(data-i18n='abilities')
  +fieldset({name:'abilities'})
    .grid__3col.no-gap
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +div({class:'flex-box color-receiver center', style:'height:39px!important;'})
        span(style='width:39px!important; height:39px!important;').center
          +button({name:'use', class:'roll-d20 center col',
            value:"&{template:icon} {{name=@{name}}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{summary=@{info-b}}} {{info=@{info-a} &#11047;  @{info-c}}} {{description=@{flavor}}} {{effect=@{effects}}} {{talent=@{talent_effect}}} {{mastery_name=@{mastery_name}}} {{mastery=@{mastery_effect}}}"
          })
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'ability'})
      .color-selector
        +hidden({name:'class', class:'color-control', value:'inactive'})
        +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
          +option({value:'general', 'data-i18n':'general'})
          +option({value:'stalwart', 'data-i18n':'stalwart'})
          +option({value:'vagabond', 'data-i18n':'vagabond'})
          +option({value:'mendicant', 'data-i18n':'mendicant'})
          +option({value:'wright', 'data-i18n':'wright'})
          +option({value:'inactive', 'data-i18n':'inactive', selected:true})
    .grid___3col.half-gap.center
      +text({name:'info-a', class:'ability-info underlined capitalize right'})
      +text({name:'info-b', class:'ability-info underlined capitalize center', placeholder:'&#11047;'})
      +text({name:'info-c', class:'ability-info underlined capitalize left'})
    +textarea({name:'flavor', class:'serif emph small textarea-1', 'data-i18n-placeholder':'ability flavor', spellcheck:'false'})
    +textarea({name:'effects', class:'small textarea-4', 'data-i18n-placeholder':'ability effects'})
    +collapse
    .grid__4col.half-gap.notes.expanded
      span(style='width:45px;')
        +checkbox({name:'talent 1', class:'checkbox talent I', value:'1'})
        +checkbox({name:'talent 2', class:'checkbox talent II', value:'2'})
      h5(data-i18n='talent', class='smallcaps', style='position:relative;left:-50%;')
      +checkbox({name:'mastery', class:'checkbox magenta star', value:'1'})
      +text({name:'mastery name', class:'h3-style-input small short-text center', 'data-i18n-placeholder':'mastery name'})
      .flex-box.boxed.center.span-2
        +textarea({name:'talent effect', class:'small textarea-1', 'data-i18n-placeholder':'talent effect'})
      .flex-box.boxed.center.span-2
        +textarea({name:'mastery effect', class:'small textarea-1', 'data-i18n-placeholder':'mastery effect'})
  .hide-note
    .flex-box
      h5(data-i18n='basic abilities')
    +collapse
    .notes.expanded
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 0")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 1")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 2")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 3")
      p(class='indent bullet', 'data-i18n'="basic abilities reminder line 4")
      .flexbox.center
        +div({style:'position:relative; left:40%;'})
          +button({name:'attack melee light', class:'center smallcaps die', type:'roll', role:'heading', 'aria-level':4,'data-i18n':'whack',
            value:"&{template:icon} {{name=Whack!}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{range=[[3]]}} {{damage=[[1]]}}"
          })
section#limits.limits
  h1(data-i18n='limit break')
  +fieldset({name:'limits'})
    .grid__3col.no-gap
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +div({class:'flex-box color-receiver center', style:'height:39px!important;'})
        span(style='width:39px!important; height:39px!important;').center
          +button({name:'use', class:'roll-d20 center col', type:'roll',
            value:"&{template:icon} {{name=@{name}}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{summary=@{info-b}}} {{info=@{info-a} &#11047;  @{info-c}}} {{description=@{flavor}}} {{effect=@{effects}}} {{mastery_name=@{mastery_name}}} {{mastery=@{mastery_effect}}}"
          })
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'limit'})
      .color-selector
        +hidden({name:'class', class:'color-control', value:'inactive'})
        +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
          +option({value:'general', 'data-i18n':'general'})
          +option({value:'stalwart', 'data-i18n':'stalwart'})
          +option({value:'vagabond', 'data-i18n':'vagabond'})
          +option({value:'mendicant', 'data-i18n':'mendicant'})
          +option({value:'wright', 'data-i18n':'wright'})
          +option({value:'inactive', 'data-i18n':'inactive', selected:true})
    .grid___3col.half-gap.center
      +text({name:'info-a', class:'ability-info underlined capitalize right'})
      +text({name:'info-b', class:'ability-info underlined capitalize center', placeholder:'&#11047;'})
      +text({name:'info-c', class:'ability-info underlined capitalize left'})
    +textarea({name:'flavor', class:'serif emph small textarea-1', 'data-i18n-placeholder':'ability flavor', spellcheck:'false'})
    +textarea({name:'effects', class:'small textarea-4', 'data-i18n-placeholder':'ability effects'})
    +collapse
    .grid__2col.half-gap.notes.expanded
      +checkbox({name:'mastery', class:'checkbox magenta star', value:'1'})
      +text({name:'mastery name', class:'h3-style-input small short-text center', 'data-i18n-placeholder':'mastery name', style:'width:130%; position:relative; left:-30%;'})
      .flex-box.boxed.center.span-2
        +textarea({name:'mastery effect', class:'small textarea-1', 'data-i18n-placeholder':'mastery effect'})
  .resolve.hide-note
    .flex-box
      +input-label({label:'personal resolve',
        inputObj:{name:'resolve personal', type:'number', class:'underlined'},
        spanObj:{role:'heading', 'aria-level':5, class:'normal'}
      })
      +input-label({label:'party resolve',
        inputObj:{name:'resolve party', type:'number', class:'underlined'},
        spanObj:{role:'heading', 'aria-level':5, class:'normal'}
      })
    +checkbox({class:'collapse', value:'0', name:'collapse-limits'})
    .notes.expanded
      p(class='bold', 'data-i18n'="limit break reminder line 0")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 1")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 2")
      p(class='indent bullet', 'data-i18n'="limit break reminder line 3")