#stats.half-gap.boxed.well-padded
  h3(data-i18n='attacks', class='span-all')
  .center
    .flex-box.center
      +input({name:'weapon melee', class:'center uppercase h3-style-input', value:'melee', type:'text', 'data-i18n-placeholder':'melee weapon', 'aria-level':5, style:'width:100%;'})
    .flex-box.center
      +input({name:'melee_range', type:'number', value:'1', class:'number underlined'})
      +button({name:'attack melee light', class:'roll-d20 light', type:'roll', role:'heading',
        value:"&{template:icon} {{name=Light @{weapon_melee} Attack}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll_name=Attack Roll}} {{roll=[[1d20@{boons}[BOONS]]]}} {{range=[[@{melee_range}]]}} {{damage=[[1d@{damage-die}+@{fray}]]}} {{bonus_damage=[[?{Bonus Damage|0}d@{damage-die}kh1sd]]}} {{crit_damage=[[1d@{damage-die}]]}} {{miss_damage=[[@{fray}]]}}"
      })
      +button({name:'attack melee heavy', class:'roll-d20 heavy', type:'roll', role:'heading',
        value:"&{template:icon} {{name=Heavy @{weapon_melee} Attack}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll_name=Attack Roll}} {{roll=[[1d20@{boons}[BOONS]]]}} {{range=[[@{melee_range}]]}} {{damage=[[@{ratio_heavy}d@{damage-die}+@{fray}]]}} {{bonus_damage=[[?{Bonus Damage|0}d@{damage-die}kh1sd]]}} {{crit_damage=[[1d@{damage-die}]]}} {{miss_damage=[[@{fray}]]}}"
      })
  .center
    .flex-box.center
      +input({name:'weapon ranged', class:'center uppercase h3-style-input', value:'ranged', type:'text', 'data-i18n-placeholder':'ranged weapon', 'aria-level':5, style:'width:100%;'})
    .flex-box.center
      +input({name:'ranged_range', type:'number', value:'2', class:'number underlined'})
      +button({name:'attack ranged light', class:'roll-d20 light', type:'roll', role:'heading',
        value:"&{template:icon} {{name=Light @{weapon_ranged} Attack}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll_name=Attack Roll}} {{roll=[[1d20@{boons}[BOONS]]]}} {{range=[[@{ranged_range}]]}} {{damage=[[1d@{damage-die}+@{fray}]]}} {{bonus_damage=[[?{Bonus Damage|0}d@{damage-die}kh1sd]]}} {{crit_damage=[[1d@{damage-die}]]}} {{miss_damage=[[@{fray}]]}}"
      })
      +button({name:'attack ranged heavy', class:'roll-d20 heavy', type:'roll', role:'heading',
        value:"&{template:icon} {{name=Heavy @{weapon_ranged} Attack}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll_name=Attack Roll}} {{roll=[[1d20@{boons}[BOONS]]]}} {{range=[[@{ranged_range}]]}} {{damage=[[@{ratio_heavy}d@{damage-die}+@{fray}]]}} {{bonus_damage=[[?{Bonus Damage|0}d@{damage-die}kh1sd]]}} {{crit_damage=[[1d@{damage-die}]]}} {{miss_damage=[[@{fray}]]}}"
      })
  .flex-box.center
    h3(data-i18n='save', class='relative', style='top:-10px;')
  .center
    .flex-box.center
      +button({name:'save', class:'roll-d20', type:'roll', role:'heading',
          value:'&{template:icon} {{name=save}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll=[[1d20@{boons}[BOONS]]]}} {{target=@{save_target}}}'
        })
      p(class='bold', 'data-i18n'="vs", 'aria-level'="5")
      +input({name:'save_target', type:'number', value:'10', class:'number underlined'})
