#stats.half-gap.boxed.well-padded
  h3(data-i18n='attacks', class='span-all')
  .grid__2col.span-all.no-gap
    span.center
      h5(data-i18n='melee')
      +button({name:'attack melee', class:'roll-d20', type:'roll', trigger:{listenerFunc:'initiateRoll'}})
    span.center
      h5(data-i18n='ranged')
      span.center
        +button({name:'attack ranged', class:'roll-d20', type:'roll', trigger:{listenerFunc:'initiateRoll'}})
        +number({name:'range', value:'2'})
