#stats.half-gap.boxed.well-padded
  h3(data-i18n='attacks', class='span-all')
  .center
    .flex-box.center
      +input({name:'weapon melee', class:'center uppercase h3-style-input', value:'melee', type:'text', 'data-i18n-placeholder':'melee weapon', 'aria-level':5, style:'width:100%;'})
    +button({name:'attack melee', class:'roll-d20', type:'roll', role:'heading',
      value:"&{template:icon} {{name=@{weapon_melee} Attack}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll_name=Attack Roll}} {{roll=[[1d20@{boons}[BOONS]]]}} {{range=[[1]]}} {{damage=[[?{Light / Heavy|Light,1d@{damage-die}+@{fray}|Heavy,@{ratio_heavy}d@{damage-die}+@{fray}}]]}} {{bonus_damage=[Crit.](`/r 1d@{damage-die}) [[0]]}} {{crit_damage=[[1d@{damage-die}]]}} {{miss_damage=[Fray](`/r @{fray}) [[@{fray}]]}}"
    })
  .center
    .flex-box.center
      +input({name:'weapon ranged', class:'center uppercase h3-style-input', value:'ranged', type:'text', 'data-i18n-placeholder':'ranged weapon', 'aria-level':5, style:'width:100%;'})
    .flex-box.center
      +button({name:'attack ranged', class:'roll-d20', type:'roll', role:'heading',
        value:"&{template:icon} {{name=@{weapon_ranged} Attack}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll_name=Attack Roll}} {{roll=[[1d20@{boons}[BOONS]]]}} {{range=[[@{range}]]}} {{damage=[[?{Light / Heavy|Light,1d@{damage-die}+@{fray}|Heavy,@{ratio_heavy}d@{damage-die}+@{fray}}]]}} {{bonus_damage=[Crit.](`/r 1d@{damage-die}) [[0]]}} {{crit_damage=[[1d@{damage-die}]]}} {{miss_damage=[Fray](`/r @{fray}) [[@{fray}]]}}"
      })
      +input({name:'range', type:'number', value:'2', class:'number underlined'})
  .center
    h4(data-i18n='saving throw', class='span-all')
  .center
    +button({name:'save', class:'roll-d20', type:'roll', role:'heading',
        value:'&{template:icon} {{name=save}} {{character_name=@{character_name}}} {{roll=[[1d20@{boons}[BOONS]]]}} {{target=@{save_target}}}'
      })
