.grid__2col
  h3(data-i18n='hp')
  +number({name:'hp', class:'underlined'})
  +number({name:'hp_max', class:'underlined', readonly:true, trigger:{calculation:'calcHP'}})
  +hidden({name:'hp_total', type:'number', trigger:{calculation:'calcHP'}})
  h3(data-i18n='wounds')
  +fillLeft({
    radioObj:{name:'wounds'},
    divObj:{class:'wound-radio'},
    valueArray:[0,1,2,3,4],
    trigger:{calculation:'calcHP'}
  })