#stats.half-gap.boxed.well-padded
  .center.span-all
    h3(data-i18n='hp')
    .flex-box.center
      +hidden({name:'bloodied', class:'bloodied-control', trigger:{calculation:'calcBloodied'}, type:'number'})
      +input({name:'hp', class:'underlined bloodied-receiver bigger', trigger:{affects:['bloodied']}, type:'number'})
      +number({name:'hp_max', class:'bigger', value:'24', readonly:true, trigger:{calculation:['calcHP']}})
  .center.span-all
    .flex-box.center
      +input-label({label:'wounds',
        inputObj:{name:'wounds', class:'center bigger', type:'number', value:'0', readonly:true, trigger:{affects:['hp_max','vigor_max']}},
        spanObj:{role:'heading', class:'smallcaps bigger', 'aria-level':5},
        divObj:{class:'center'}
      })
    .flex-box.center
      each num in [0,1,2,3,4]
        if num === 0
          +input({name:'wounds', type:'radio', class:'fill-left dots gore radio-zero', value:`${num}`, checked:'true'})
          span
        else
          +input({name:'wounds', type:'radio', class:'fill-left dots gore', value:`${num}`})
          span
    p(class='center bold', 'data-i18n'="rules reminder wounds")