section#relics.relics.long-2
  h1(data-i18n='relics')
  +fieldset({name:'relics'})
    .grid__3col.no-gap
      +hidden({name:'class', class:'color-control', value:'unequipped'})
      +select({name:'level', class:'serif color-receiver center job-h1-receiver'})
        option(value="0")|—
        option(value="1")|Ⅰ
        option(value="2")|Ⅱ
        option(value="3")|Ⅲ
        option(value="4")|Ⅳ
      +hidden({name:'class', class:'color-control', value:'unequipped'})
      +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'relic'})
      .color-selector
        +hidden({name:'class', class:'color-control', value:'unequipped'})
        +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
          +option({value:'custom', 'data-i18n':'custom'})
          +option({value:'heavy', 'data-i18n':'heavy'})
          +option({value:'skirmisher', 'data-i18n':'skirmisher'})
          +option({value:'leader', 'data-i18n':'leader'})
          +option({value:'artillery', 'data-i18n':'artillery'})
          +option({value:'unequipped', 'data-i18n':'unequipped', selected:true})
    +textarea({name:'flavor', class:'serif emph small textarea-1', 'data-i18n-placeholder':'relic flavor', spellcheck:'false'})
    +textarea({name:'effects', class:'small textarea-4', 'data-i18n-placeholder':'relic effects'})
    +collapse
    .grid__3col.half-gap.notes.expanded
      .flex-box.boxed.well-padded.center
        +label({name:'aspected', class:'info-label mono capitalize', 'data-i18n':'aspected', 'aria-label':5})
        +checkbox({name:'aspected', class:'checkbox magenta tick relative', value:'1', style:'top:-5px;'})
      .flex-box.boxed.well-padded.center
        +input-label({
          label:'infused dust', 
          inputObj:{name:'infused dust', class:'ability-info dust underlined', type:'number'}, 
          spanObj:{role:'heading', 'aria-level':5}
        })
      .well-padded.center
        +button({name:'quote', type:'roll', class:'roll-quote', value:"&{template:icon} {{name=@{name}}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{summary=Level @{level} @{class} Relic}} {{description=@{flavor}}} {{effect=@{effects}}}"})
  h3(data-i18n='trophies')
  +fieldset({name:'trophies'})
    .flex-box.underlined
      +text({name:'name', class:'h3-style-input power', 'data-i18n-placeholder':'trophy'})
      +number({name:'uses', placeholder:'&#11047;'})
      +select({name:'type', class:'center type'})
        +option({value:'NA', 'data-i18n':'NA', selected:true})
        +option({value:'uses', 'data-i18n':'uses'})
        +option({value:'combats', 'data-i18n':'combats'})
        +option({value:'expeditions', 'data-i18n':'expeditions'})
        +option({value:'unlimited', 'data-i18n':'unlimited'})
        +option({value:'passive', 'data-i18n':'passive'})
      +button({name:'quote', type:'roll', class:'roll-quote', value:"&{template:icon} {{name=@{name}}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{summary=@{uses} @{type}}} {{effect=@{effect}}}"})
    +textarea({name:'effect', class:'textarea-3', 'data-i18n-placeholder':'trophy effect'})
  .flex-box.center.well-padded.boxed
    +input-label({
      label:'dust',
      inputObj:{name:'dust', class:'info-label center dust', type:'number', value:'0'}, 
      spanObj:{role:'heading', class:'dust', 'aria-level':3}
    })
