#stats.half-gap.boxed.well-padded
  span(class='center')
    +input-label({label:'vitality',
      inputObj:{name:'vitality', class:'underlined bigger', type:'number', value:'6', trigger:{affects:['hp_max','vigor_max','bloodied']}},
      spanObj:{role:'heading', 'aria-level':3, 'data-i18n':'vit'},
      divObj:{class:'center'}
    })
    +input-label({label:'vigor',
      inputObj:{name:'vigor', class:'underlined', type:'number', value:'0', trigger:{calculation:'calcHP'}},
      spanObj:{role:'heading', 'aria-level':5},
      divObj:{class:'center'}
    })
    +hidden({name:'vigor_max', value:'24', readonly:true, trigger:{calculation:'calcHP'}, type:'number'})
  span(class='center')
    +input-label({label:'defense',
      inputObj:{name:'defense', class:'underlined bigger', type:'number', value:'5'},
      spanObj:{role:'heading', 'aria-level':3, 'data-i18n':'def'},
      divObj:{class:'center'}
    })
    +input-label({label:'armor',
      inputObj:{name:'armor', class:'underlined', type:'number', value:'0'},
      spanObj:{role:'heading', 'aria-level':5},
      divObj:{class:'center'}
    })
  span(class='center')
    +input-label({label:'speed',
      inputObj:{name:'speed', class:'underlined bigger', type:'number', value:'4', trigger:{affects:['dash']}},
      spanObj:{role:'heading', 'aria-level':3, 'data-i18n':'spd'},
      divObj:{class:'center'}
    })
    +input-label({label:'dash',
      inputObj:{name:'dash', type:'number', readonly:true, value:'2', trigger:{calculation:'calcDash'}},
      spanObj:{role:'heading', 'aria-level':5},
      divObj:{class:'center'}
    })
  span(class='center')
    +label({class:'input-label center'})
      +span({class:'input-label__text center', 'data-i18n':'dmg', role:'heading', 'aria-level':3})
      +select({name:'damage-die', class:'input-label__input damage-die underlined big', style:'text-overflow:initial; max-width:50px;'})
        +option({value:'2'})|d2
        +option({value:'4'})|d4
        +option({value:'6', selected:true})|d6
        +option({value:'8'})|d8
        +option({value:'10'})|d10
        +option({value:'12'})|d12
    +input-label({label:'fray',
      inputObj:{name:'fray', class:'underlined', type:'number', value:'2'},
      spanObj:{role:'heading', 'aria-level':5},
      divObj:{class:'center'}
    })