section#traits.traits
  h1(data-i18n='traits')
  .repcol.fit50
    +fieldset({name:'traits'})
      +text({name:'name', class:'h3-style-input underlined', 'data-i18n-placeholder':'trait'})
      +textarea({name:'description', class:'textarea-3', 'data-i18n-placeholder':'trait description'})