mixin combatTalentAssets
  input.asset-combat-talent.hide(type='checkbox' name='attr_assetcombat-talent')
  .combat-talent.showhide
    select.sub-dropdown(name='attr_assetdropdowncombattalent')
      option(value='' disabled='' selected='') Select
      option(value='archer') Archer
      option(value='berserker') Berserker
      option(value='brawler') Brawler
      option(value='cutthroat') Cutthroat
      option(value='duelist') Duelist
      option(value='fletcher') Fletcher
      option(value='ironclad') Ironclad
      option(value='long-arm') Long-arm
      option(value='shield-bearer') Shield-bearer
      option(value='skirmisher') Skirmisher
      option(value='slinger') Slinger
      option(value='sunderer') Sunderer
      option(value='swordmaster') Swordmaster
      option(value='thunder-bringer') Thunder-bringer
    input.archer.hide(type='checkbox' name='attr_assetcombattalentdivarcher')
    .archer.hide
      .asset-description
        .asset-description-text If you wield a bow...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_archer1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  by taking a moment to aim, choose your approach and add +1.
            ul
              li Trust your instincts: Roll +wits, and take +2 momentum on a strong hit.
              li Line up your shot: Roll +edge, and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_archer2')
          .asset-ability
            | Once per fight, when you 
            em Strike
            | or 
            em Clash
            | , you may take extra shots and suffer -1 supply (decide before rolling). 
            | When you do, reroll any dice. 
            | On a hit, inflict +2 harm and take +1 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_archer3')
          .asset-ability
            | When you 
            em Resupply
            | by hunting, add +1 and take +1 momentum on a hit.
    input.berserker.hide(type='checkbox' name='attr_assetcombattalentdivberserker')
    .berserker.hide
      .asset-description
        .asset-description-text If you are clad only in animal pelts...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_berserker1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  or
            em Compel
            |  by embodying your wild nature, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_berserker2')
          .asset-ability
            | When you 
            em Strike
            |  or 
            em Clash
            |  by unleashing your rage (decide before rolling), inflict
            |  +1 harm on a hit. Then, choose one.
            ul
              li
                | Push yourself: 
                em Endure Harm
                |  (1 harm).
              li
                | Lose yourself: 
                em Endure Stress
                | (1 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_berserker3')
          .asset-ability
            | When you 
            em Endure Harm
            | in a fight, and your health is above 0, you may let the pain inflame
            |  your wildness (decide before rolling).
            |  If you then score a strong hit and choose to embrace the pain, take
            |  +momentum equal to your remaining health. A weak hit counts as a miss.
    input.brawler.hide(type='checkbox' name='attr_assetcombattalentdivbrawler')
    .brawler.hide
      .asset-description
        .requirement-area.brawler-req
          | If you are unarmed or fighting with a non-deadly weapon...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_brawler1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  +iron by engaging in close-quarters brawling
            |  (such as punching, tripping, or grappling),
            |  add +1. If you score a hit, you may also inflict 1 harm.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_brawler2')
          .asset-ability
            | When you use an unarmed attack or
            | simple weapon to 
            em Strike
            |  with deadly intent, add +2 and inflict 2 harm on
            |  a hit (instead of 1). On a weak hit or miss, suffer -1 momentum
            |  (in addition to any other outcome of the move).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_brawler3')
          .asset-ability
            | When you 
            em Face Danger
            |  or 
            em Clash
            |  against a brawling attack, add +1 and take +1 momentum on a hit.
    input.cutthroat.hide(type='checkbox' name='attr_assetcombattalentdivcutthroat')
    .cutthroat.hide
      .asset-description
        .asset-description-text If you wield a dagger or knife...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_cutthroat1' checked='')
          .asset-ability
            | When you are in position to 
            em Strike
            |  at an unsuspecting foe, choose one (before rolling).
            ul
              li Add +2 and take +1 momentum on a hit.
              li Inflict +2 harm on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_cutthroat2')
          .asset-ability
            | When you 
            em Compel
            |  someone at the point of your blade, or when you rely on your blade to 
            em Face Danger
            | , add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_cutthroat3')
          .asset-ability
            | Once per fight, when you 
            em
            | Secure an Advantage +shadow by performing a feint or misdirection,
            |  reroll any dice and take +1 momentum on a hit.
    input.duelist.hide(type='checkbox' name='attr_assetcombattalentdivduelist')
    .duelist.hide
      .asset-description
        .asset-description-text
          | If you wield a bladed weapon in each hand...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_duelist1' checked='')
          .asset-ability
            | When you 
            em Strike
            |  or 
            em Clash
            | , you may add +2. If you do (decide before rolling), 
            |  inflict +1 harm on a strong hit and count a weak hit as a miss.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_duelist2')
          .asset-ability
            | Once per fight, when you 
            em
            | Secure an Advantage +edge by making a bold display of
            |  your combat prowess, you may reroll any dice.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_duelist3')
          .asset-ability
            | When you 
            em Draw the Circle
            | , choose one (before rolling).
            ul
              li Add +2.
              li Take +2 momentum on a hit.
    input.fletcher.hide(type='checkbox' name='attr_assetcombattalentdivfletcher')
    .fletcher.hide
      .asset-description
        .asset-description-text
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_fletcher1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  by crafting arrows of fine quality, add +1. Then, take +1 supply or +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_fletcher2')
          .asset-ability
            | When you 
            em Resupply
            |  by recovering or gathering arrows after a 
            em Battle
            | , add +2.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_fletcher3')
          .asset-ability
            | When you craft a single arrow designated for a
            | specific
            | foe, envision the process and materials, and roll +wits. On a 
            strong
              | strong hit,
            |  take both. On a 
            strong weak hit,
            |  choose one.
            ul
              li
                | Seeker: When a shooter uses the arrow to 
                em Strike
                |  or
                em Clash
                |  against this foe, reroll any dice (one time only).
              li
                | Ravager: When a shooter uses the arrow to inflict harm against this foe,
                | inflict +1d6 harm (one time only).
    input.ironclad.hide(type='checkbox' name='attr_assetcombattalentdivironclad')
    .ironclad.hide
      .asset-description
        .asset-description-text If you wear armor...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ironclad1' checked='')
          .asset-ability
            | When you equip or adjust your armor, choose one.
            ul
              li
                b Lightly armored:
                |  When you 
                em Endure Harm
                |  in a fight, add +1
                |                                             and
                |                                             take +1 momentum on a hit.
              li
                b Geared for war:
                |  Mark encumbered. When you 
                em Endure Harm
                |  in
                |                                             a
                |                                             fight, add +2 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ironclad2')
          .asset-ability
            | When you 
            em Clash
            |  while you are geared for
            |                                     war,
            |                                     add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ironclad3')
          .asset-ability
            | When you 
            em Compel
            |  in a situation where
            |                                     strength
            |                                     of arms is a factor, add +2.
      .asset-track-wrapper.asset-track-wrapper-wordy
        .asset-track-box
          .asset-track-box-display Lightly Armored
          input(type='radio' name='attr_assettrack_ironclad' value='0')
        .asset-track-box
          .asset-track-box-display Geared for War
          input(type='radio' name='attr_assettrack_ironclad' value='1')
    input.long-arm.hide(type='checkbox' name='attr_assetcombattalentdivlong-arm')
    .long-arm.hide
      .asset-description
        .asset-description-text If you wield a staff...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_longarm1' checked='')
          .asset-ability
            | In your hands, a humble staff is a
            | deadly weapon (2 harm). When you
            | instead use it as a simple weapon (1
            | harm), you may 
            em Strike
            |  or 
            em Clash
            |  +edge
            |                                     (instead of iron). If you do, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_longarm2')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  +edge using
            |                                     your
            |                                     staff to disarm, trip, shove, or stun your foe, add +1 and take +1 momentum on a
            |                                     hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_longarm3')
          .asset-ability
            | When you 
            em Undertake a Journey
            |  and score a
            strong strong hit,
            |  or if you accompany an ally who scores a strong hit
            |                                     on
            |                                     that move, your
            |                                     staff provides support and comfort in your travels; take +1 momentum.
    input.shield-bearer.hide(type='checkbox' name='attr_assetcombattalentdivshield-bearer')
    .shield-bearer.hide
      .asset-description
        .asset-description-text If you wield a shield...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shieldbearer1' checked='')
          .asset-ability
            | When you 
            em Face Danger
            |  using your shield as
            |                                     cover, add +1. When you 
            em Clash
            |  in close quarters, take +1 momentum on a
            |                                     strong hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shieldbearer2')
          .asset-ability
            | When you paint your shield with a meaningful
            | symbol,
            | envision what you create. Then, if you 
            em Endure Stress
            |  as you face off
            |                                     against a fearsome foe, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shieldbearer3')
          .asset-ability
            | When forced to 
            em Endure Harm
            |  in a fight, you
            |                                     may
            |                                     instead sacrifice your shield and ignore all harm. If you do, the shield is
            |                                     destroyed. Once per fight, you also take initiative when you sacrifice your
            |                                     shield
            |                                     to avoid harm.
    input.skirmisher.hide(type='checkbox' name='attr_assetcombattalentdivskirmisher')
    .skirmisher.hide
      .asset-description
        .asset-description-text If you wield a spear...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_skirmisher1' checked='')
          .asset-ability
            | When you 
            em Face Danger
            |  by holding a foe at
            |                                     bay
            |                                     using your spear&rsquo;s reach, roll +iron or +edge. If you score a hit, you may...
            ul
              li
                | Iron: 
                em Strike
                |  (if you have initiative) or 
                em Clash
                |  now,
                |                                             and
                |                                             add +1.
              li Edge: Take +1 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_skirmisher2')
          .asset-ability
            | When you 
            em Strike
            |  in close combat, you
            |                                     may attempt to drive your spear home
            |                                     (decide before rolling). If you do, add
            |                                     +1 and inflict +2 harm on a hit. If you
            |                                     score a hit and the fight continues, 
            em Face Danger
            |  +iron to recover your
            |                                     spear.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_skirmisher3')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  by bracing
            |                                     your
            |                                     spear against a charging foe, add +1 and take +1 momentum on a hit.
    input.slinger.hide(type='checkbox' name='attr_assetcombattalentdivslinger')
    .slinger.hide
      .asset-description
        .asset-description-text If you wield a sling...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_slinger1' checked='')
          .asset-ability
            | When launched from a sling, a simple
            | stone inflicts deadly harm (2 harm).
            | When you 
            em Enter the Fray
            |  by barraging
            |                                     your foe with sling-bullets, inflict
            |                                     harm on a strong hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_slinger2')
          .asset-ability
            | When you 
            em Strike
            |  by launching stones at an
            |                                     advancing foe, you may choose one (before rolling).
            ul
              li
                | Hold them back: Retain initiative on a 
                strong weak hit,
                |  but
                |                                             inflict only 1 harm.
              li Hit them hard: Inflict +1 harm on a hit, but suffer -1 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_slinger3')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  by preparing
            |                                     stones of a special quality or material, add +1. Then, take +1 momentum or +1
            |                                     supply
            |                                     on a hit.
    input.sunderer.hide(type='checkbox' name='attr_assetcombattalentdivsunderer')
    .sunderer.hide
      .asset-description
        .asset-description-text If you wield an axe...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sunderer1' checked='')
          .asset-ability
            | When you 
            em Strike
            |  or 
            em Clash
            |  in close
            |                                     quarters, you may suffer -1 momentum and inflict +1 harm on a hit (decide before
            |                                     rolling).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sunderer2')
          .asset-ability
            | When you have your axe in hand, and use the promise
            | of
            | violence to 
            em Compel
            |  or 
            em Secure an Advantage
            | , add +1 and take +1
            |                                     momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sunderer3')
          .asset-ability
            | When you make a tribute to a fallen foe (formidable
            | or
            | greater) by carving a rune in the haft of your axe, roll +heart. On a
            strong
              | strong
              | hit,
            |                                     inflict +1d6 harm (one time only) when you 
            em Strike
            |  or 
            em Clash
            |  .
            |                                     On a
            strong weak hit,
            |  as above, but this death weighs on you; 
            em
              | Endure
              | Stress
            |  (2 stress).
    input.swordmaster.hide(type='checkbox' name='attr_assetcombattalentdivswordmaster')
    .swordmaster.hide
      .asset-description
        .asset-description-text If you wield a sword...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_swordmaster1' checked='')
          .asset-ability
            | When you 
            em Strike
            |  or 
            em Clash
            |  and burn
            |                                     momentum to improve your result,
            |                                     inflict +2 harm. If the fight continues, add +1 on your next move.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_swordmaster2')
          .asset-ability
            | When you 
            em Clash
            |  and score a 
            strong
              | strong
              | hit,
            |  you may
            |                                     add +1 if you immediately follow with a 
            em Strike
            | .
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_swordmaster3')
          .asset-ability
            | When you 
            em Swear an Iron Vow
            |  by kneeling and
            |                                     grasping your sword&rsquo;s blade, add +1 and take +1 momentum on a hit. If you let
            |                                     the
            |                                     edge draw blood from your hands, 
            em Endure Harm
            |  (1 harm) in exchange for
            |                                     an
            |                                     additional +1 momentum on a hit.
    input.thunder-bringer.hide(type='checkbox' name='attr_assetcombattalentdivthunder-bringer')
    .thunder-bringer.hide
      .asset-description
        .asset-description-text If you wield a mighty hammer...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_thunderbringer1' checked='')
          .asset-ability
            | When you 
            em Face Danger
            | , 
            em
              | Secure an
              | Advantage
            | , or 
            em Compel
            |  by hitting or breaking an inanimate
            |                                     object,
            |                                     add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_thunderbringer2')
          .asset-ability
            | When you 
            em Strike
            |  a foe to knock them
            |                                     back, stun them, or put them off
            |                                     balance, inflict 1 harm (instead of 2)
            |                                     and take +2 momentum on a hit. On a
            |                                     strong hit, you also create an opening
            |                                     and add +1 on your next move.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_thunderbringer3')
          .asset-ability
            | When you 
            em Turn the Tide
            | , you may
            |                                     Strike with all the fury and power you
            |                                     can muster. If you do (decide before
            |                                     rolling), you may reroll any dice and
            |                                     inflict +2 harm on a strong hit, but
            |                                     count a weak hit as a miss.
