mixin companionAssets
  input.asset-companion.hide(type='checkbox' name='attr_assetcompanion')
  .companion.showhide
    select.sub-dropdown(name='attr_assetDropdownCompanion')
      option(value='' disabled='' selected='') Select
      option(value='cave-lion') Cave Lion
      option(value='giant-spider') Giant Spider
      option(value='hawk') Hawk
      option(value='horse') Horse
      option(value='hound') Hound
      option(value='kindred') Kindred
      option(value='mammoth') Mammoth
      option(value='owl') Owl
      option(value='raven') Raven
      option(value='young-wyvern') Young Wyvern
    input.cave-lion.hide(type='checkbox' name='attr_assetcompaniondivcave-lion')
    .cave-lion.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your cat takes down its prey.
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_cavelion1')
          .asset-ability
            b Eager:
            |  When your cat chases down big game, you
            |                                     may 
            em Resupply
            |  with +edge (instead of +wits). If you do, take +1 supply or +1
            |                                     momentum on a strong hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_cavelion2')
          .asset-ability
            b Inescapable:
            |  When you 
            em Enter the Fray
            |  or 
            em Strike
            |  by sending your cat to attack, roll +edge. On a hit, take +2
            |                                     momentum
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_cavelion3')
          .asset-ability
            b Protective:
            |  When you 
            em Make Camp
            | , your
            |                                     cat is alert to trouble. If you or an ally choose to relax, take +1 spirit. If you
            |                                     focus, take +1 momentum.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_cavelion' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_cavelion' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_cavelion' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_cavelion' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_cavelion' value='4')
    input.giant-spider.hide(type='checkbox' name='attr_assetcompaniondivgiant-spider')
    .giant-spider.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your spider uncovers secrets.
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_giantspider1')
          .asset-ability
            b Discreet:
            |  When you 
            em Secure an Advantage
            |                                     by sending your spider to scout a place, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_giantspider2')
          .asset-ability
            b Soul-Piercing:
            |  You may 
            em Face Danger
            |                                     +shadow by sending your spider to secretly study someone. On a hit, the spider
            |                                     returns to reveal the target&rsquo;s deepest fears through a reflection in its glassy
            |                                     eyes. Use this to 
            em Gather Information
            |  and reroll any dice.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_giantspider3')
          .asset-ability
            b Ensnaring:
            |  When your spider sets a trap, add +1
            |                                     as you 
            em Enter the Fray
            |  +shadow. On a 
            strong strong hit,
            |  also
            |                                     inflict 2 harm.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_giantspider' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_giantspider' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_giantspider' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_giantspider' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_giantspider' value='4')
    input.hawk.hide(type='checkbox' name='attr_assetcompaniondivhawk')
    .hawk.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your hawk can aid you while it is aloft.
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_hawk1')
          .asset-ability
            b Far-seeing:
            |  When you 
            em
              | Undertake a
              | Journey
            | , or when you 
            em Resupply
            |  by hunting for small game, add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_hawk2')
          .asset-ability
            b Fierce:
            |  When you 
            em Secure an Advantage
            |                                     +edge using your hawk to harass and distract your foes, add +1 and take +1 momentum
            |                                     on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_hawk3')
          .asset-ability
            b Vigilant:
            |  When you 
            em Face Danger
            |  +wits to
            |                                     detect an approaching threat, or when you 
            em Enter the Fray
            |  +wits against an
            |                                     ambush, add +2.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_hawk' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_hawk' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_hawk' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_hawk' value='3')
    input.horse.hide(type='checkbox' name='attr_assetcompaniondivhorse')
    .horse.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text You and your horse ride as one. 
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_horse1')
          .asset-ability
            b Swift:
            |  When you 
            em Face Danger
            |  +edge using
            |                                     your horse&rsquo;s speed and grace, or when you 
            em Undertake a Journey
            | , add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_horse2')
          .asset-ability
            b Fearless:
            |  When you 
            em Enter the Fray
            |  or
            em Secure an Advantage
            |  +heart by charging into combat, add +1 and take +1
            |                                     momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_horse3')
          .asset-ability
            b Mighty:
            |  When you 
            em Strike
            |  or 
            em Clash
            |  at close range while mounted, add +1 and inflict +1 harm on a hit.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_horse' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_horse' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_horse' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_horse' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_horse' value='4')
        .asset-track-box
          .asset-track-box-display + 5
          input(type='radio' name='attr_assettrack_horse' value='5')
    input.hound.hide(type='checkbox' name='attr_assetcompaniondivhound')
    .hound.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your hound is your steadfast companion. 
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_hound1')
          .asset-ability
            b Sharp:
            |  When you 
            em Gather Information
            |                                     using your hound&rsquo;s keen senses to track your quarry or investigate a scene, add +1
            |                                     and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_hound2')
          .asset-ability
            b Ferocious:
            |  When you 
            em Strike
            |  or 
            em Clash
            |  alongside your hound and score a hit, inflict +1 harm or take +1
            |                                     momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_hound3')
          .asset-ability
            b Loyal:
            |  When you 
            em Endure Stress
            |  in the
            |                                     company of your hound, add +1.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_hound' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_hound' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_hound' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_hound' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_hound' value='4')
    input.kindred.hide(type='checkbox' name='attr_assetcompaniondivkindred')
    .kindred.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your friend stands by you.
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_kindred1')
          .asset-ability
            b Skilled:
            |  When you make a move outside of combat
            |                                     aided by your companion&rsquo;s expertise, add +1.
            .asset-ability-write-in
              | Expertise:
              input.border-bottom.no-border(type='text' name='attr_assetexpertise' value='')
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_kindred2')
          .asset-ability
            b Shield-Kin:
            |  When you 
            em Clash
            |  or 
            em Battle
            |  alongside your companion, or when you 
            em Face Danger
            |  against
            |                                     an attack by standing together, add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_kindred3')
          .asset-ability
            b Bonded:
            |  Once you mark a bond with your
            |                                     companion, add +1 when you 
            em Face Desolation
            |  in their presence.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_kindred' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_kindred' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_kindred' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_kindred' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_kindred' value='4')
    input.mammoth.hide(type='checkbox' name='attr_assetcompaniondivmammoth')
    .mammoth.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your mammoth walks a resolute path.
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_mammoth1')
          .asset-ability
            b Lumbering:
            |  When your mammoth travels with you as
            |                                     you 
            em Undertake a Journey
            | , you may add +2 but suffer -1 momentum (decide
            |                                     before rolling)
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_mammoth2')
          .asset-ability
            b Beast of burden:
            |  When you make a move which 
            | requires you to roll +supply, you may instead roll +your mammoth&rsquo;s health.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_mammoth3')
          .asset-ability
            b Overpowering:
            |  When you 
            em Strike
            |  or 
            em Clash
            |  by riding your mammoth against a pack of foes, add +1 and inflict +1
            |                                     harm on a hit.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_mammoth' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_mammoth' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_mammoth' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_mammoth' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_mammoth' value='4')
        .asset-track-box
          .asset-track-box-display + 5
          input(type='radio' name='attr_assettrack_mammoth' value='5')
    input.owl.hide(type='checkbox' name='attr_assetcompaniondivowl')
    .owl.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your owl soars through the darkness.
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_owl1')
          .asset-ability
            b Nocturnal:
            |  If you 
            em Resupply
            |  at night by
            |                                     sending your owl to hunt, take +2 momentum on a hit. When you 
            em
              | Enter the
              | Fray
            |  +wits against an ambush in darkness, add +1 and take +1 momentum on a
            |                                     hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_owl2')
          .asset-ability
            b Sage:
            |  When you leverage your owl&rsquo;s secret
            |                                     knowledge to perform a ritual, add +1 or take +1 momentum on a hit (decide before
            |                                     rolling).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_owl3')
          .asset-ability
            b Embodying:
            |  When you 
            em Face Death
            | , take
            |                                     your owl&rsquo;s health as +momentum before you roll.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_owl' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_owl' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_owl' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_owl' value='3')
    input.raven.hide(type='checkbox' name='attr_assetcompaniondivraven')
    .raven.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your raven heeds your call.
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_raven1')
          .asset-ability
            b Sly:
            |  When you 
            em Secure an Advantage
            |  or 
            em Face Danger
            |  +shadow using your raven to perform trickery (such as creating
            |                                     a distraction or stealing a small object) add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_raven2')
          .asset-ability
            b Knowing:
            |  When you 
            em Face Death
            | , add +2
            |                                     and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_raven3')
          .asset-ability
            b Diligent:
            |  When your raven carries messages for
            |                                     you, you may 
            em Secure an Advantage
            | , 
            em Gather Information
            | , or
            em Compel
            |  from a distance.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_raven' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_raven' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_raven' value='2')
    input.young-wyvern.hide(type='checkbox' name='attr_assetcompaniondivyoung-wyvern')
    .young-wyvern.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetname' value='')
        .asset-description-text Your wyvern won&rsquo;t devour you. For now.
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_youngwyvern1')
          .asset-ability
            b Insatiable:
            |  When you 
            em
              | Undertake a
              | Journey
            |  and score a hit, you may suffer -1 supply in exchange for +2
            |                                     momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_youngwyvern2')
          .asset-ability
            b Indomitable:
            |  When you make the 
            em
              | Companion
              | Endure Harm
            |  move for your wyvern, add +2 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_youngwyvern3')
          .asset-ability
            b Savage:
            |  When you 
            em Strike
            |  by commanding
            |                                     your wyvern to attack, roll +heart. Your wyvern inflicts 3 harm on a hit.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_youngwyvern' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_youngwyvern' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_youngwyvern' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_youngwyvern' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_youngwyvern' value='4')
        .asset-track-box
          .asset-track-box-display + 5
          input(type='radio' name='attr_assettrack_youngwyvern' value='5')
