mixin customAssets
  input.asset-custom.hide(type='checkbox' name='attr_assetcustom')
  .asset-custom.showhide
    input.asset-builder(type='radio' name='attr_custom-asset-page' value='1' checked='')
    span.custom-asset-page Builder
    input.asset-view(type='radio' name='attr_custom-asset-page' value='2')
    span.custom-asset-page View
    .asset-builder.hide
      .builder-name
        input.border-bottom.no-border(type='text' name='attr_name' value='' placeholder='Asset Name')
      .builder-titles
        | Titles
        br
        select.sub-dropdown.builder-dropdown(name='attr_builder-titles')
          option(value='0' selected='') None
          option(value='1') 1 Input
          option(value='2') 2 Inputs
          option(value='3') 3 Inputs
      .builder-ability-1
        | Ability One
        br
        select.sub-dropdown(name='attr_builder-ability-1')
          option(value='' selected='' disabled='') Select
          option(value='text') Text Box
          option(value='text-input') Text Box with Input
        textarea.build-text(name='attr_builder-ability-1-text-area')
      .builder-ability-2
        | Ability Two
        br
        select.sub-dropdown(name='attr_builder-ability-2')
          option(value='' selected='' disabled='') Select
          option(value='text') Text Box
          option(value='text-input') Text Box with Input
        textarea.build-text(name='attr_builder-ability-2-text-area')
      .builder-ability-3
        | Ability Three
        br
        select.sub-dropdown(name='attr_builder-ability-3')
          option(value='' selected='' disabled='') Select
          option(value='text') Text Box
          option(value='text-input') Text Box with Input
        textarea.build-text(name='attr_builder-ability-3-text-area')
      .builder-tracks
        | Tracks
        br
        select.sub-dropdown(name='attr_track-dropdown')
          option(value='0' selected='') None
          option(value='1') 0 to 1
          option(value='2') 0 to 2
          option(value='3') 0 to 3
          option(value='4') 0 to 4
          option(value='5') 0 to 5
          option(value='6') 0 to 6
    .asset-view.hide
      .flex-wrapper
        .flex-container
          span.asset-view-name(name='attr_name')
        .flex-container
          input.builder-titles-0.hide(type='checkbox' name='attr_builder-titles-0')
          input.builder-titles-1.hide(type='checkbox' name='attr_builder-titles-1')
          .builder-titles-1.hide
            input.border-bottom.no-border.view-title-width(type='text' name='attr_builder-titles-1-1' value='')
          input.builder-titles-2.hide(type='checkbox' name='attr_builder-titles-2')
          .builder-titles-2.hide
            input.border-bottom.no-border.view-title-width(type='text' name='attr_builder-titles-2-1' value='')
            input.border-bottom.no-border.view-title-width(type='text' name='attr_builder-titles-2-2' value='')
          input.builder-titles-3.hide(type='checkbox' name='attr_builder-titles-3')
          .builder-titles-3.hide
            input.border-bottom.no-border.view-title-width(type='text' name='attr_builder-titles-3-1' value='')
            input.border-bottom.no-border.view-title-width(type='text' name='attr_builder-titles-3-2' value='')
            input.border-bottom.no-border.view-title-width(type='text' name='attr_builder-titles-3-3' value='')
        .flex-container.ability-top
          input.builder-ability-1-text.hide(type='checkbox' name='attr_builder-ability-1-text')
          .builder-ability-1-text.hide
            input.custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-1')
            .asset-ability
              span.no-border.ability-text(name='attr_builder-ability-1-text-area')
          input.builder-ability-1-text-input.hide(type='checkbox' name='attr_builder-ability-1-text-input')
          .builder-ability-1-text-input.hide
            input.custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-1')
            .asset-ability
              span.no-border.ability-text(name='attr_builder-ability-1-text-area')
              input.border-bottom.no-border(type='text' name='attr_builder-ability-1-custom-text-input' value='')
        .flex-container
          input.builder-ability-2-text.hide(type='checkbox' name='attr_builder-ability-2-text')
          .builder-ability-2-text.hide
            input.custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-2')
            .asset-ability
              span.no-border.ability-text(name='attr_builder-ability-2-text-area')
          input.builder-ability-2-text-input.hide(type='checkbox' name='attr_builder-ability-2-text-input')
          .builder-ability-2-text-input.hide
            input.custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-2')
            .asset-ability
              span.no-border.ability-text(name='attr_builder-ability-2-text-area')
              input.border-bottom.no-border(type='text' name='attr_builder-ability-2-custom-text-input' value='')
        .flex-container
          input.builder-ability-3-text.hide(type='checkbox' name='attr_builder-ability-3-text')
          input.builder-ability-3-text-input.hide(type='checkbox' name='attr_builder-ability-3-text-input')
          .builder-ability-3-text.hide
            .flex-container
              input.custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-3')
              .asset-ability
                span.no-border.ability-text(name='attr_builder-ability-3-text-area')
          .builder-ability-3-text-input.hide
            input.custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-3')
            .asset-ability
              span.no-border.ability-text(name='attr_builder-ability-3-text-area')
              input.border-bottom.no-border(type='text' name='attr_builder-ability-3-custom-text-input' value='')
      .flex-wrapper
        .flex-container
          input.track-dropdown-0.hide(type='checkbox' name='attr_track-dropdown-0')
          input.track-dropdown-1.hide(type='checkbox' name='attr_track-dropdown-1')
          .track-dropdown-1.hide
            .asset-track-wrapper.custom-track
              .asset-track-box
                .asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track-1' value='0')
              .asset-track-box
                .asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track-1' value='1')
          input.track-dropdown-2.hide(type='checkbox' name='attr_track-dropdown-2')
          .track-dropdown-2.hide
            .asset-track-wrapper.custom-track
              .asset-track-box
                .asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track-2' value='0')
              .asset-track-box
                .asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track-2' value='1')
              .asset-track-box
                .asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track-2' value='2')
          input.track-dropdown-3.hide(type='checkbox' name='attr_track-dropdown-3')
          .track-dropdown-3.hide
            .asset-track-wrapper.custom-track
              .asset-track-box
                .asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track-3' value='0')
              .asset-track-box
                .asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track-3' value='1')
              .asset-track-box
                .asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track-3' value='2')
              .asset-track-box
                .asset-track-box-display + 3
                input(type='radio' name='attr_custom-asset-track-3' value='3')
          input.track-dropdown-4.hide(type='checkbox' name='attr_track-dropdown-4')
          .track-dropdown-4.hide
            .asset-track-wrapper.custom-track
              .asset-track-box
                .asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track-4' value='0')
              .asset-track-box
                .asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track-4' value='1')
              .asset-track-box
                .asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track-4' value='2')
              .asset-track-box
                .asset-track-box-display + 3
                input(type='radio' name='attr_custom-asset-track-4' value='3')
              .asset-track-box
                .asset-track-box-display + 4
                input(type='radio' name='attr_custom-asset-track-4' value='4')
          input.track-dropdown-5.hide(type='checkbox' name='attr_track-dropdown-5')
          .track-dropdown-5.hide
            .asset-track-wrapper.custom-track
              .asset-track-box
                .asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track-5' value='0')
              .asset-track-box
                .asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track-5' value='1')
              .asset-track-box
                .asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track-5' value='2')
              .asset-track-box
                .asset-track-box-display + 3
                input(type='radio' name='attr_custom-asset-track-5' value='3')
              .asset-track-box
                .asset-track-box-display + 4
                input(type='radio' name='attr_custom-asset-track-5' value='4')
              .asset-track-box
                .asset-track-box-display + 5
                input(type='radio' name='attr_custom-asset-track-5' value='5')
          input.track-dropdown-6.hide(type='checkbox' name='attr_track-dropdown-6')
          .track-dropdown-6.hide
            .asset-track-wrapper.custom-track
              .asset-track-box
                .asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track-6' value='0')
              .asset-track-box
                .asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track-6' value='1')
              .asset-track-box
                .asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track-6' value='2')
              .asset-track-box
                .asset-track-box-display + 3
                input(type='radio' name='attr_custom-asset-track-6' value='3')
              .asset-track-box
                .asset-track-box-display + 4
                input(type='radio' name='attr_custom-asset-track-6' value='4')
              .asset-track-box
                .asset-track-box-display + 5
                input(type='radio' name='attr_custom-asset-track-6' value='5')
              .asset-track-box
                .asset-track-box-display + 6
                input(type='radio' name='attr_custom-asset-track-6' value='6')
