mixin pathAssets
  input.asset-path.hide(type='checkbox' name='attr_assetpath')
  .path.showhide
    select.sub-dropdown.path-dropdown(name='attr_assetDropdownPath')
      option(value='' disabled='' selected='') Select
      option(value='alchemist') Alchemist
      option(value='animal-kin') Animal-kin
      option(value='banner-sworn') Banner-sworn
      option(value='battle-scarred') Battle-scarred
      option(value='blade-bound') Blade-bound
      option(value='bonded') Bonded
      option(value='dancer') Dancer
      option(value='devotant') Devotant
      option(value='empowered') Empowered
      option(value='fortune-hunter') Fortune-hunter
      option(value='herbalist') Herbalist
      option(value='honorbound') Honorbound
      option(value='improviser') Improviser
      option(value='infiltrator') Infiltrator
      option(value='loyalist') Loyalist
      option(value='masked') Masked
      option(value='oathbreaker') Oathbreaker
      option(value='outcast') Outcast
      option(value='pretender') Pretender
      option(value='revenant') Revenant
      option(value='rider') Rider
      option(value='ritualist') Ritualist
      option(value='shadow-kin') Shadow-kin
      option(value='sighted') Sighted
      option(value='slayer') Slayer
      option(value='spirit-bound') Spirit-bound
      option(value='storyweaver') Storyweaver
      option(value='trickster') Trickster
      option(value='veteran') Veteran
      option(value='waterborn') Waterborn
      option(value='wayfinder') Wayfinder
      option(value='weapon-master') Weaponmaster
      option(value='wildblood') Wildblood
      option(value='wright') Wright
    input.alchemist.hide(type='checkbox' name='attr_assetpathdivalchemist')
    .alchemist.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_alchemist1' checked='')
          .asset-ability
            | When you create an elixir, choose an effect: Deftness
            | (edge), audacity (heart), vigor (iron), slyness (shadow), or clarity (wits). Then,
            | suffer -1 supply and roll +wits. On a 
            strong strong hit,
            |  you create a
            |                                     single dose. The
            |                                     character who consumes the elixir must 
            em Face Danger
            |  +iron and score a hit,
            |                                     after which they add +1 when making a move with the related stat until their health,
            |                                     spirit, or momentum fall below +1. On a 
            strong weak hit,
            |  as above, but
            |                                     suffer an additional
            |                                     -1 supply to create it.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_alchemist2')
          .asset-ability
            | As above, and you may choose two effects for a single
            | dose, or create two doses of the same effect.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_alchemist3')
          .asset-ability
            | When you prepare an elixir, add +1
            | and take +1 momentum on a hit.
    input.animal-kin.hide(type='checkbox' name='attr_assetpathdivanimal-kin')
    .animal-kin.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_animalkin1' checked='')
          .asset-ability
            | When you make a move to pacify, calm, control, aid, or
            | fend off an animal (or an animal or beast companion), add +1 and take +1 momentum on
            | a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_animalkin2')
          .asset-ability
            | You may add or upgrade an animal or beast companion
            | asset for 1 fewer experience. Once you mark all their abilities, you may 
            em
              | Forge a
              | Bond
            |  with them and take an automatic strong hit. When you do, mark a bond
            |                                     twice and take 1 experience.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_animalkin3')
          .asset-ability
            | Once per fight, when you leverage your animal or beast
            | companion to make a move, reroll any dice. On a hit, take +1 momentum.
    input.banner-sworn.hide(type='checkbox' name='attr_assetpathdivbanner-sworn')
    .banner-sworn.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetpathnameinput' value='')
        .asset-description-text
          | Once you mark a bond with a leader or faction...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bannersworn1' checked='')
          .asset-ability
            | When you 
            em Swear an Iron Vow
            |  to serve your
            |                                     leader or faction on a mission, you may reroll any dice. When you 
            em
              | Fulfill Your
              | Vow
            |  and mark experience, take +1 experience.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bannersworn2')
          .asset-ability
            | When you 
            em Sojourn
            |  or 
            em Make Camp
            |  in the
            |                                     company of your banner-kin, add +1 and take +1 momentum on a hit
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bannersworn3')
          .asset-ability
            | When you 
            em Enter the Fray
            |  bearing your banner,
            |                                     add +1 and take +1 momentum on a hit. When you burn momentum while carrying your
            |                                     banner in combat, take +1 momentum after you reset.
    input.battle-scarred.hide(type='checkbox' name='attr_assetpathdivbattle-scarred')
    .battle-scarred.hide
      .asset-description
        .asset-description-text Once you become maimed...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_battlescarred1')
          .asset-ability
            | You focus your energies: Reduce your edge or iron by 1
            | and add +2 to wits or heart, or +1 to each (to a maximum of +4).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_battlescarred2')
          .asset-ability
            | You overcome your limitations:
            | Reduce your maximum health by 1.
            | Maimed no longer counts as a debility,
            | and does not reduce your maximum
            | momentum or reset value. When
            | you 
            em Endure Stress
            |  +heart, take +1
            |                                     momentum on a strong hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_battlescarred3')
          .asset-ability
            | You have stared down death before:
            | When you are at 0 health and 
            em
              | Endure
              | Harm
            | , you may roll +wits or +heart
            |                                     (instead of +health or +iron). If you
            |                                     do, take +1 momentum on a hit.
    input.blade-bound.hide(type='checkbox' name='attr_assetpathdivblade-bound')
    .blade-bound.hide
      .asset-description
        .asset-write-in
          | Name:
          input.border-bottom.no-border(type='text' name='attr_assetpathnameinput' value='')
        .asset-description-text
          | Once you mark a bond with a kin-blade, a sentient
          | weapon imbued with the spirit of your ancestor...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bladebound1')
          .asset-ability
            | When you 
            em Enter the Fray
            |  or 
            em
              | Draw the
              | Circle
            |  while wielding your kin-blade, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bladebound2')
          .asset-ability
            | When you 
            em Gather Information
            |  by listening to
            |                                     the whispers of your kinblade, add +1 and take +2 momentum on a hit. Then,
            em Endure Stress
            |  (2 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bladebound3')
          .asset-ability
            | When you 
            em Strike
            |  with your kin-blade to
            |                                     inflict savage harm (decide before rolling), add +1 and inflict +2 harm on a
            |                                     hit. Then, 
            em Endure Stress
            |  (2 stress).
    input.bonded.hide(type='checkbox' name='attr_assetpathdivbonded')
    .bonded.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bonded1' checked='')
          .asset-ability
            | When you make a move which gives you an add for
            | sharing
            | a bond, add +1 more.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bonded2')
          .asset-ability
            | When you completely fill a box on your bonds
            | progress
            | track, envision what your relationships have taught you. Then, take 1 experience
            | and
            | +2 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bonded3')
          .asset-ability
            | When you make a move in a crucial moment and score
            | a 
            strong miss,
            |  you may cling to thoughts of your bond-kin for courage or
            |                                     encouragement. If
            |                                     you do, reroll any dice. On another 
            strong miss,
            |  in addition to the
            |                                     outcome
            |                                     of the move,
            |                                     you must mark shaken or corrupted. If both debilities are already marked, 
            em
              | Face
              | Desolation
            |  .
    input.dancer.hide(type='checkbox' name='attr_assetpathdivdancer')
    .dancer.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_dancer1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  +edge
            |                                     by dancing for an audience, add +1
            |                                     and take +2 momentum on a hit. On a
            |                                     strong hit, also add +2 (one time only)
            |                                     if you make a move to interact with
            |                                     someone in the audience.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_dancer2')
          .asset-ability
            | When you 
            em Face Danger
            |  +edge in a fight by
            |                                     nimbly avoiding your foe&rsquo;s attacks, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_dancer3')
          .asset-ability
            | When you or an ally make a progress move and roll a
            | hit, you may perform a dance to commemorate the event. If you do, roll +edge. On
            | a
            strong strong hit,
            |  you and each of your allies may take +2 momentum
            |                                     and +1
            |                                     spirit. On a
            strong weak hit,
            |  you take +1 momentum or +1 spirit, but your allies
            |                                     are
            |                                     unmoved.
    input.devotant.hide(type='checkbox' name='attr_assetpathdivdevotant')
    .devotant.hide
      .asset-description
        .asset-write-in
          | God&apos;s Name:
          input.border-bottom.no-border(type='text' name='attr_assetgodsnameinput' value='')
        .asset-write-in
          | Stat:
          input.border-bottom.no-border(type='text' name='attr_assetstatinput' value='')
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_devotant1' checked='')
          .asset-ability
            | When you say your daily prayers, you may 
            em
              | Secure
              | an
              | Advantage
            |  by asking your god to grant a blessing. If you do, roll +your
            |                                     god&rsquo;s stat. On a hit, take +2 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_devotant2')
          .asset-ability
            | When you 
            em Swear an Iron Vow
            |  to serve your
            |                                     god
            |                                     on a divine quest, you may roll +your god&rsquo;s stat and reroll any dice. When you 
            em Fulfill Your Vow
            |  and mark experience, take +1 experience.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_devotant3')
          .asset-ability
            | When you 
            em Sojourn
            | , and spread the word of
            |                                     your
            |                                     god, you may roll +your god&rsquo;s stat. If you do, take +1 momentum on a hit.
    input.empowered.hide(type='checkbox' name='attr_assetpathdivempowered')
    .empowered.hide
      .asset-description
        .asset-write-in
          | Title/Lineage:
          input.border-bottom.no-border(type='text' name='attr_assettitleinput' value='')
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_empowered1' checked='')
          .asset-ability
            | When you 
            em Sojourn
            |  and score a weak hit
            |                                     or 
            strong miss,
            |                                     you may claim the rights of hospitality warranted by your title or lineage. If
            |                                     you
            |                                     do, roll all dice again and add +1. On a 
            strong miss,
            |  you are refused,
            |                                     and
            |                                     your presumption
            |                                     causes significant new trouble.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_empowered2')
          .asset-ability
            | When you exert your title or lineage to 
            em Compel
            | , add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_empowered3')
          .asset-ability
            | When you forgo your title or lineage and 
            em
              | Forge
              | a
              | Bond
            |  as an equal, or when you 
            em Swear an Iron Vow
            |  to serve
            |                                     someone
            |                                     of a lower station, add +1 and take +1 momentum or +1 spirit on a hit.
    input.fortune-hunter.hide(type='checkbox' name='attr_assetpathdivfortune-hunter')
    .fortune-hunter.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_fortunehunter1' checked='')
          .asset-ability
            | When you 
            em Swear an Iron Vow
            |  to
            |                                     someone under the promise of payment,
            |                                     add +1 and give the quest a special mark.
            |                                     When you successfully 
            em Fulfill Your Vow
            |                                     to them, take +wealth equal to the rank
            |                                     of the quest. If you leverage wealth when
            |                                     making a move where resources are a
            |                                     factor, add +wealth and suffer -1 wealth.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_fortunehunter2')
          .asset-ability
            | When in a community or trading, you may suffer -1
            | wealth and take +2 supply.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_fortunehunter3')
          .asset-ability
            | When you 
            em Resupply
            |  by scavenging or
            |                                     looting, and score a strong hit with
            |                                     a match, you may envision finding
            |                                     an object of value. If you do, take +1
            |                                     supply (instead of +2) and +1 wealth.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_fortunehunter' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_fortunehunter' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_fortunehunter' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_fortunehunter' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_fortunehunter' value='4')
        .asset-track-box
          .asset-track-box-display + 5
          input(type='radio' name='attr_assettrack_fortunehunter' value='5')
    input.herbalist.hide(type='checkbox' name='attr_assetpathdivherbalist')
    .herbalist.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_herbalist1' checked='')
          .asset-ability
            | When you attempt to 
            em Heal
            |  using herbal
            |                                     remedies, and you have at least +1 supply, you may choose one (decide before
            |                                     rolling).
            ul
              li Add +2. 
              li On a hit, take or give an additional +1 health.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_herbalist2')
          .asset-ability
            | When you 
            em Heal
            |  a companion, ally, or other
            |                                     character, and score a hit, take +1 spirit or +1 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_herbalist3')
          .asset-ability
            | When you 
            em Make Camp
            |  and choose
            |                                     the option to partake, you can create
            |                                     a restorative meal. If you do, you and
            |                                     your companions take +1 health. Any
            |                                     allies who choose to partake also take
            |                                     +1 health, and do not suffer -supply.
    input.honorbound.hide(type='checkbox' name='attr_assetpathdivhonorbound')
    .honorbound.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_honorbound1' checked='')
          .asset-ability
            | When you 
            em Turn the Tide
            | , envision how your
            |                                     vows
            |                                     give you strength in this moment. Then, when you make your move, add +2 (instead
            |                                     of
            |                                     +1) and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_honorbound2')
          .asset-ability
            | When you 
            em Secure an Advantage 
            |  or 
            em Compel
            |  by telling a hard truth, add +1 and take +1 momentum on a hit.
            |                                     On a
            |                                     weak hit or 
            strong miss,
            |  envision how this truth complicates your
            |                                     current
            |                                     situation.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_honorbound3')
          .asset-ability
            | When you 
            em Fulfill Your Vow
            |  and score a
            |                                     miss, you may reroll one challenge die.
            |                                     If you score a miss again, reduce your
            |                                     maximum spirit by 1. You may recover
            |                                     this lost spirit when you next 
            em Fulfill Your Vow
            |  and score a strong hit.
    input.improviser.hide(type='checkbox' name='attr_assetpathdivimproviser')
    .improviser.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_improviser1' checked='')
          .asset-ability
            | When you 
            em Check your Gear
            | , you may roll
            |                                     +wits
            |                                     (instead of +supply). If you do, envision how you make do with a clever
            |                                     solution,
            |                                     and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_improviser2')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  or 
            em
              | Face
              | Danger
            |  by cobbling together an ad hoc tool or apparatus, add +1 and
            |                                     take +1
            |                                     momentum on a hit. After you roll, you may also suffer -1 supply and add +1
            |                                     more.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_improviser3')
          .asset-ability
            | When you throw caution to the wind and make an
            | impulsive move in a risky situation, you may add +2. If you do, take +1 momentum
            | on
            | a 
            strong strong hit,
            |  but count a weak hit as a miss.
    input.infiltrator.hide(type='checkbox' name='attr_assetpathdivinfiltrator')
    .infiltrator.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_infiltrator1' checked='')
          .asset-ability
            | When you make a move to breach, traverse, or hide
            | within an area held by an enemy force, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_infiltrator2')
          .asset-ability
            | When you 
            em Gather Information
            |  within an
            |                                     enemy
            |                                     area to discover their positions, plans, or methods, or when you 
            em
              | Secure an
              | Advantage
            |  within that area through observation, you may roll +shadow
            |                                     (instead of +wits). If you do, take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_infiltrator3')
          .asset-ability
            | When you 
            em Resupply
            |  within an enemy area by
            |                                     scavenging or looting, you may roll +shadow (instead of +wits). If you do, take
            |                                     +1
            |                                     momentum or +1 supply on a hit.
    input.loyalist.hide(type='checkbox' name='attr_assetpathdivloyalist')
    .loyalist.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_loyalist1' checked='')
          .asset-ability
            | When you 
            em Aid Your Ally
            | , add +1 and take +1
            |                                     momentum on a hit. This is in addition to the benefits taken by your ally.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_loyalist2')
          .asset-ability
            | When an ally makes the 
            em Endure Stress
            |  move
            |                                     in
            |                                     your company, they add +1 and you take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_loyalist3')
          .asset-ability
            | When you stand with your ally as they make a
            | progress
            | move, envision how you support them. Then, roll one challenge die. On a 1-9,
            | your
            | ally may replace one of their challenge dice with yours. On a 10, envision how
            | you
            | inadvertently undermine their action; your ally must replace their lowest
            | challenge
            | die with yours.
    input.masked.hide(type='checkbox' name='attr_assetpathdivmasked')
    .masked.hide
      .asset-description
        .asset-description-text
          | Once you mark a bond with elves, and are
          | gifted a
          | mask of precious elderwood...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_masked1' checked='')
          .asset-ability
            | Choose your mask&rsquo;s material.
            ul
              li Thunderwood: Edge / Health
              li Bloodwood: Iron / Health
              li Ghostwood: Shadow / Spirit
              li Whisperwood: Wits / Spirit
            |                                     When you wear the mask and make a move which uses its stat, add +1. If you roll
            |                                     a 1
            |                                     on your action die, suffer -1 to the associated track (in addition to any other
            |                                     outcome of the move).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_masked2')
          .asset-ability
            | As above, and you may instead add +2 and suffer -2
            | (decide before rolling).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_masked3')
          .asset-ability
            | When you 
            em Face Death
            |  or 
            em
              | Face
              | Desolation
            |  while wearing the mask, you may roll +its stat (instead of
            |                                     +heart).
    input.oathbreaker.hide(type='checkbox' name='attr_assetpathdivoathbreaker')
    .oathbreaker.hide
      .asset-description
        .asset-description-text
          | Once you 
          em Forsake a Vow
          | ...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_oathbreaker1' checked='')
          .asset-ability
            b This asset counts as a debility.
            |  One time
            |                                     only,
            |                                     when you 
            em Swear an Iron Vow
            |  to redeem yourself (extreme or greater),
            |                                     give
            |                                     that vow a special mark. When you 
            em Reach a Milestone
            |  on the marked vow,
            |                                     take
            |                                     +2 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_oathbreaker2')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  or
            em Compel
            |  by reaffirming your commitment to your marked vow, add +1 and
            |                                     take
            |                                     +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_oathbreaker3')
          .asset-ability
            | When you 
            em Fulfill Your Vow
            |  on your marked
            |                                     quest
            |                                     and score a hit, you find redemption and automatically activate this ability at
            |                                     no
            |                                     cost. You may then improve one of your stats by +1 and 
            b
              | discard this
              | asset
            | .
    input.outcast.hide(type='checkbox' name='attr_assetpathdivoutcast')
    .outcast.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_outcast1' checked='')
          .asset-ability
            | When your supply is reduced to 0, suffer any
            | remaining
            | -supply as -momentum. Then, roll +wits. On a 
            strong strong hit,
            |  you
            |                                     manage
            |                                     to scrape by and
            |                                     take +1 supply. On a 
            strong weak hit,
            |  you may suffer -2 momentum in
            |                                     exchange for +1 supply.
            |                                     On a 
            strong miss,
            |  you are 
            em Out of Supply
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_outcast2')
          .asset-ability
            | When you 
            em Sojourn
            | , you may reroll any dice.
            |                                     If
            |                                     you do (decide before your first roll), your needs are few, but your isolation
            |                                     sets
            |                                     you apart from others. A strong hit counts as a weak hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_outcast3')
          .asset-ability
            | When you 
            em Reach Your Destination
            |  and roll a 
            strong strong hit,
            |  you recall or recognize something helpful about
            |                                     this
            |                                     place. Envision
            |                                     what it is, and take +2 momentum.
    input.pretender.hide(type='checkbox' name='attr_assetpathdivpretender')
    .pretender.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_pretender1' checked='')
          .asset-ability
            | When you establish a false identity, roll +shadow.
            | On a
            strong strong hit,
            |  you may add +2 when you make moves using this
            |                                     identity
            |                                     to deceive or
            |                                     influence others. If you roll a 1 on your action die when using your false
            |                                     identity,
            |                                     someone doubts you. Make appropriate moves to reassure them or prevent them from
            |                                     revealing the truth. On a 
            strong weak hit,
            |  as above, but add +1
            |                                     (instead
            |                                     of +2).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_pretender2')
          .asset-ability
            | As above, and you may roll +shadow (instead of
            | +heart)
            | when you 
            em Sojourn
            |  under your false identity. If you do, take +1 momentum
            |                                     on
            |                                     a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_pretender3')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  by revealing
            |                                     your
            |                                     true identity in a dramatic moment, reroll any dice.
    input.revenant.hide(type='checkbox' name='attr_assetpathdivrevenant')
    .revenant.hide
      .asset-description
        .asset-description-text
          | Once you 
          em Face Death
          |  and return to the
          |                                 world of the living...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_revenant1' checked='')
          .asset-ability
            | When you are at 0 health, and 
            em Endure Harm
            |                                     or
            em Face Death
            | , add +1. If you then burn momentum to improve your result,
            |                                     envision what bond or vow binds you to this world, and take +2 momentum after
            |                                     you
            |                                     reset.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_revenant2')
          .asset-ability
            | When you make a move to investigate, oppose, or
            | interact with a horror, spirit, or other undead being, add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_revenant3')
          .asset-ability
            | When you bring death to your foe to 
            em
              | End the
              | Fight
            | , you may burn momentum to cancel one (not both) of the challenge
            |                                     dice
            |                                     if your momentum is greater than the value of that die. If you do, 
            em
              | Endure
              | Stress
            |  (2 stress).
    input.rider.hide(type='checkbox' name='attr_assetpathdivrider')
    .rider.hide
      .asset-description
        .asset-description-text If you are with your horse companion...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_rider1' checked='')
          .asset-ability
            | When you 
            em Heal
            |  your horse, or when you
            em
              | Face
              | Danger
            |  to calm or encourage it, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_rider2')
          .asset-ability
            | When you 
            em Undertake a Journey
            | , you may push
            |                                     your horse harder and add +1 (after rolling). If you do, make the 
            em
              | Companion
              | Endure Harm
            |  move (1 harm).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_rider3')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  +wits by
            |                                     sizing
            |                                     up a perilous situation from the saddle, you are one with your horse&rsquo;s
            |                                     instincts.
            |                                     Add +1 and take +1 momentum on a hit.
    input.ritualist.hide(type='checkbox' name='attr_assetpathdivritualist')
    .ritualist.hide
      .asset-description
        .asset-description-text
          | Once you 
          em Fulfill Your Vow
          |  (formidable
          |                                 or
          |                                 greater) in service to an elder mystic, and 
          em Forge a Bond
          |  to train with
          |                                 them...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ritualist1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  to ready
            |                                     yourself
            |                                     for a ritual, envision how you prepare. Then, add +1 and take +1 momentum on a
            |                                     hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ritualist2')
          .asset-ability
            | When you perform a ritual, you may suffer -1 supply
            | and
            | add +1 (decide before rolling).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ritualist3')
          .asset-ability
            | When you tattoo the essence of a new ritual onto
            | your
            | skin, envision the mark you create. You may then purchase and upgrade that
            | ritual
            | asset for 1 fewer experience.
    input.shadow-kin.hide(type='checkbox' name='attr_assetpathdivshadow-kin')
    .shadow-kin.hide
      .asset-description
        .asset-description-text Once you become corrupted...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shadowkin1')
          .asset-ability
            | You harden your heart: Reduce your heart stat by 1
            | and
            | add up to +2 to shadow (to a maximum of +4).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shadowkin2')
          .asset-ability
            | You are attuned to the realms of shadow: When you
            | perform a ritual, add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shadowkin3')
          .asset-ability
            | You know the sly ways of death: When you 
            em
              | Face
              | Death
            | , you may roll +shadow (instead of +heart). You may also suffer -1
            |                                     momentum and add +1 (decide before rolling).
    input.sighted.hide(type='checkbox' name='attr_assetpathdivsighted')
    .sighted.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sighted1' checked='')
          .asset-ability
            | When you 
            em Face Danger
            |  or 
            em
              | Gather
              | Information
            |  to identify or detect mystic forces, add +1 and take +1
            |                                     momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sighted2')
          .asset-ability
            | When you 
            em Compel
            | , 
            em Forge a Bond
            | , or
            em Test Your Bond
            |  with a fellow mystic or mystical being, add +1 and take
            |                                     +1
            |                                     momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sighted3')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  by studying
            |                                     someone or something in a charged situation, add +1 and take +1 momentum on a
            |                                     hit.
            |                                     When you also pierce the veil to explore deeper truths (decide before rolling),
            |                                     you
            |                                     may reroll any dice. If you do, count a weak hit as a miss.
    input.slayer.hide(type='checkbox' name='attr_assetpathdivslayer')
    .slayer.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_slayer1' checked='')
          .asset-ability
            | When you 
            em Gather Information
            |  by tracking a
            |                                     beast or horror, or when you 
            em Secure an Advantage
            |  by readying yourself
            |                                     for a
            |                                     fight against them, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_slayer2')
          .asset-ability
            | When you 
            em Swear an Iron Vow
            |  to slay a beast
            |                                     or
            |                                     horror, you may reroll any dice. When you 
            em Fulfill Your Vow
            |  and mark
            |                                     experience, take +1 experience.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_slayer3')
          .asset-ability
            | When you slay a beast or horror (at least
            | formidable),
            | you may take a trophy and choose one.
            ul
              li
                | Power a ritual: When you or an ally make a ritual move, reroll any dice
                | (one
                | time only).
              li
                | Prove your worth: When you 
                em Sojourn
                | , reroll any dice (one time
                |                                             only).
    input.spirit-bound.hide(type='checkbox' name='attr_assetpathdivspirit-bound')
    .spirit-bound.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_spiritbound1' checked='')
          .asset-ability
            | You are haunted by someone whose death you caused
            | through your actions or failures. When you consult with their spirit to
            em
              | Secure
              | an Advantage
            |  or 
            em Gather Information
            | , add +1 and take +2
            |                                     momentum on
            |                                     a hit. On a 
            strong weak hit,
            |  also 
            em Endure Stress
            |  (1 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_spiritbound2')
          .asset-ability
            | When you 
            em Face Death
            |  guided by the spirit,
            |                                     add
            |                                     +1. On a 
            strong strong hit,
            |  envision what you learn and take 1
            |                                     experience.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_spiritbound3')
          .asset-ability
            | One time only, when you successfully 
            em
              | Fulfill
              | Your
              | Vow
            |  (formidable or greater) in service to the spirit, choose one.
            ul
              li
                | Let them go: Take 2 experience for each marked ability and discard this
                | asset.
              li Deepen your connection: Add +1 more when you leverage this asset.
    input.storyweaver.hide(type='checkbox' name='attr_assetpathdivstoryweaver')
    .storyweaver.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_storyweaver1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            | ,
            em Compel
            | ,
            |                                     or 
            em Forge a Bond
            |  by sharing an inspiring or enlightening song, poem, or
            |                                     tale, envision the story you tell. Then, add +1 and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_storyweaver2')
          .asset-ability
            | When you 
            em Make Camp
            |  and choose the option
            |                                     to
            |                                     relax, you may share a story with your allies or compose a new story if alone.
            |                                     If
            |                                     you do, envision the story you tell and take +1 spirit or +1 momentum. Any
            |                                     allies
            |                                     who choose to relax in your company may also take +1 spirit or +1 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_storyweaver3')
          .asset-ability
            | When you 
            em Sojourn
            |  within a community with
            |                                     which
            |                                     you share a bond, add +2 (instead of +1).
    input.trickster.hide(type='checkbox' name='attr_assetpathdivtrickster')
    .trickster.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_trickster1' checked='')
          .asset-ability
            | When you 
            em Face Danger
            | , 
            em
              | Secure an
              | Advantage
            | , or 
            em Compel
            |  by lying, bluffing, stealing, or
            |                                     cheating,
            |                                     add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_trickster2')
          .asset-ability
            | When you 
            em Gather Information
            |  by
            |                                     investigating a
            |                                     devious scheme, you may roll +shadow (instead of +wits). If you do, take +2
            |                                     momentum
            |                                     on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_trickster3')
          .asset-ability
            | When you 
            em Forge a Bond
            |  for a relationship
            |                                     founded on a lie, choose one.
            ul
              li Keep your secret: Roll +shadow (instead of +heart).
              li
                | Reveal the truth: Roll +heart. On a strong hit, mark a bond twice and
                | take 1 experience. A weak hit counts as a miss.
    input.veteran.hide(type='checkbox' name='attr_assetpathdivveteran')
    .veteran.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_veteran1' checked='')
          .asset-ability
            | When you burn momentum to
            | improve your result in combat, envision
            | how your hard-won fighting experience
            | gives you the upper hand. Then, take
            | +1 momentum after you reset, and add
            | +1 when you make your next move.
            | Once per fight, you also take initaitive
            | when burning momentum to improve a
            | miss to a weak hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_veteran2')
          .asset-ability
            | When you 
            em Swear an Iron Vow
            |  to someone who
            |                                     fought beside you, or 
            em Forge a Bond
            |  with them, add +2 and take +2
            |                                     momentum
            |                                     on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_veteran3')
          .asset-ability
            | When you 
            em Resupply
            |  by looting the dead on a
            |                                     field of 
            em Battle
            | , add +1 and take +1 momentum on a hit.
    input.waterborn.hide(type='checkbox' name='attr_assetpathdivwaterborn')
    .waterborn.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_waterborn1' checked='')
          .asset-ability
            | When you 
            em Face Danger
            | , 
            em
              | Gather
              | Information
            | , or 
            em Secure an Advantage
            |  related to your knowledge
            |                                     of
            |                                     watercraft, water travel, or aquatic environments or creatures, add +1 and take
            |                                     +1
            |                                     momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_waterborn2')
          .asset-ability
            | When you 
            em Undertake a Journey
            |  by boat or
            |                                     ship,
            |                                     add +1. On a 
            strong strong hit,
            |  also choose one.
            ul
              li The wind is at your back: Mark progress twice.
              li
                | Find safe anchor: 
                em Make Camp
                |  now and reroll any dice.
              li
                | Reap the bounty: 
                em Resupply
                |  now and reroll any dice.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_waterborn3')
          .asset-ability
            | When you 
            em Enter the Fray
            |  aboard a boat or
            |                                     ship,
            |                                     reroll any dice.
    input.wayfinder.hide(type='checkbox' name='attr_assetpathdivwayfinder')
    .wayfinder.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wayfinder1' checked='')
          .asset-ability
            | When you 
            em Undertake a Journey,
            |  take
            |                                     +1 momentum on a strong hit. If you
            |                                     burn momentum to improve your
            |                                     result, also take +1 momentum after
            |                                     you reset
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wayfinder2')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  or 
            em
              | Gather
              | Information
            |  by carefully surveying the landscape or scouting ahead, add
            |                                     +1
            |                                     and take +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wayfinder3')
          .asset-ability
            | When you 
            em Swear an Iron Vow
            |  to safely guide
            |                                     someone on a perilous journey, you may reroll any dice. When you 
            em
              | Fulfill
              | Your
              | Vow
            |  and mark experience, take +1 experience.
    input.weapon-master.hide(type='checkbox' name='attr_assetpathdivweapon-master')
    .weapon-master.hide
      .asset-description
        .asset-description-text
          | Once you 
          em Fulfill Your Vow
          |  (formidable
          |                                 or
          |                                 greater) in service to a seasoned warrior, and 
          em Forge a Bond
          |  to train with
          |                                 them...
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_weaponmaster1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  by sizing up
            |                                     your
            |                                     foe in a fight, or in a charged situation which may lead to a fight, add +1 and
            |                                     take
            |                                     +1 momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_weaponmaster2')
          .asset-ability
            | When you study or train in a new weapon or
            | technique,
            | you may obtain and upgrade that combat talent for 1 fewer experience.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_weaponmaster3')
          .asset-ability
            | When you 
            em Turn the Tide
            |  with a sudden
            |                                     change of
            |                                     weapon or technique, and your next move is a 
            em Strike
            | , you may add +1 and
            |                                     inflict +2 harm on a strong hit.
    input.wildblood.hide(type='checkbox' name='attr_assetpathdivwildblood')
    .wildblood.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wildblood1' checked='')
          .asset-ability
            | When you 
            em Face Danger
            | , 
            em
              | Secure an
              | Advantage
            | , or 
            em Gather Information
            |  using your knowledge of
            |                                     tracking,
            |                                     woodcraft, or woodland creatures, add +1.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wildblood2')
          .asset-ability
            | When you 
            em Face Danger
            |  or 
            em
              | Secure an
              | Advantage
            |  by hiding or sneaking in the woodlands, add +1 and take +1
            |                                     momentum on a hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wildblood3')
          .asset-ability
            | When you 
            em Make Camp
            |  in the woodlands, you
            |                                     may
            |                                     roll +wits (instead of +supply). If you do, you and your allies may each choose
            |                                     1
            |                                     more option on a hit.
    input.wright.hide(type='checkbox' name='attr_assetpathdivwright')
    .wright.hide
      .asset-description
        .asset-write-in
          | Specialty:
          input.border-bottom.no-border(type='text' name='attr_assetspecialityinput' value='')
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wright1' checked='')
          .asset-ability
            | When you 
            em Secure an Advantage
            |  by crafting a
            |                                     useful item using your specialty, or when you 
            em Face Danger
            |  to create or
            |                                     repair an item in a perilous situation, add +1 and take +1 momentum on a hit
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wright2')
          .asset-ability
            | As above, and you may suffer -1 supply (after you
            | roll)
            | to add an additional +1
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_wright3')
          .asset-ability
            | When you give the item you create as a gift to
            | commemorate an important event or relationship, you may (one time only) reroll
            | any
            | dice when you 
            em Compel
            | , 
            em Forge a Bond
            | , or 
            em Test Your Bond
            |                                     .
