mixin ritualAssets
  input.asset-ritual.hide(type='checkbox' name='attr_assetritual')
  .ritual.showhide
    select.sub-dropdown(name='attr_assetdropdownritual')
      option(value='' disabled='' selected='') Select
      option(value='augur') Augur
      option(value='awakening') Awakening
      option(value='bind') Bind
      option(value='communion') Communion
      option(value='divination') Divination
      option(value='invoke') Invoke
      option(value='keen') Keen
      option(value='leech') Leech
      option(value='lightbearer') Lightbearer
      option(value='scry') Scry
      option(value='shadow-walk') Shadow-walk
      option(value='sway') Sway
      option(value='talisman') Talisman
      option(value='tether') Tether
      option(value='totem') Totem
      option(value='visage') Visage
      option(value='ward') Ward
    input.augur.hide(type='checkbox' name='attr_assetritualdivaugur')
    .augur.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_augur1' checked='')
          .asset-ability
            | When you summon a flock of crows and ask a single
            | question, roll +wits. On a 
            strong strong hit,
            |  you interpret their
            |                                     calls as
            |                                     a helpful omen.
            |                                     Envision the response (
            em Ask the Oracle
            |  if unsure) and take +2 momentum.
            |                                     On a
            strong weak hit,
            |  the crows ignore your question and offer a clue to an
            |                                     unrelated problem or
            |                                     opportunity in this area. Envision what you learn (
            em Ask the Oracle
            |  if
            |                                     unsure), and take +1 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_augur2')
          .asset-ability(name='attr_assetability2')
            | As above, and the crows
            | will also help
            | guide you on the proper path. On a
            | hit, add +1 on the next segment when
            | you 
            em Undertake a Journey
            | .
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_augur3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.awakening.hide(type='checkbox' name='attr_assetritualdivawakening')
    .awakening.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_awakening1' checked='')
          .asset-ability
            | When you create a simulacrum, roll +heart. On a
            | strong
            | hit, your creation is given unnatural life. If it aids you as you make a move to
            | assault or overcome an obstacle through strength, add +2. It has 3 health and
            | suffers harm as appropriate, but is not a companion and may not be healed. At 0
            | health, it is dead. On a 
            strong weak hit,
            |  as above, but if you roll a
            |                                     1 on
            |                                     your action die
            |                                     when aided by your creation, you must 
            em Face Danger
            |  +heart to keep it
            |                                     from
            |                                     turning on you (as a formidable foe).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_awakening2')
          .asset-ability(name='attr_assetability2')
            | Your simulacrum has 6
            | health.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_awakening3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_awakening' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_awakening' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_awakening' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_awakening' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_awakening' value='4')
        .asset-track-box
          .asset-track-box-display + 5
          input(type='radio' name='attr_assettrack_awakening' value='5')
        .asset-track-box
          .asset-track-box-display + 6
          input(type='radio' name='attr_assettrack_awakening' value='6')
    input.bind.hide(type='checkbox' name='attr_assetritualdivbind')
    .bind.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bind1' checked='')
          .asset-ability
            | When you wear an animal pelt and dance in
            | moonlight,
            | roll +wits. On a 
            strong strong hit,
            |  you or an ally may wear the pelt
            |                                     and
            |                                     add +1 when making
            |                                     moves with the related stat (wolf-edge; bear-iron; deer-heart; fox-shadow;
            |                                     boar-wits). If the wearer rolls a 1 on their action die while making a move
            |                                     using
            |                                     the pelt, the magic is spent. On a 
            strong weak hit,
            |  as above, but the
            |                                     wilds call as you
            |                                     dance; 
            em Endure Stress
            |  (2 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bind2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | instead
            | perform this ritual wearing the pelt of a beast. If you do, name the related
            | stat
            | and add +2 (instead of +1).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_bind3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.communion.hide(type='checkbox' name='attr_assetritualdivcommunion')
    .communion.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_communion1' checked='')
          .asset-ability
            | When you surround the remains of a recently
            | deceased
            | intelligent creature with lit candles, and summon its spirit, roll +heart. Add
            | +1 if
            | you share a bond. On a 
            strong strong hit,
            |  the spirit appears and you
            |                                     may
            |                                     converse for a few
            |                                     minutes. Make moves as appropriate (add +1). On a 
            strong weak hit,
            |  as
            |                                     above, but the spirit
            |                                     also delivers troubling news unrelated to your purpose. Envision what it tells
            |                                     you
            |                                     (
            em Ask the Oracle
            |  if unsure) and 
            em Endure Stress
            |  (1 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_communion2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | also
            | commune with the long-dead.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_communion3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.divination.hide(type='checkbox' name='attr_assetritualdivdivination')
    .divination.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_divination1' checked='')
          .asset-ability
            | When you take a drop of blood from a willing
            | subject
            | (not yourself) and cast the rune-carved stones, roll +heart. On a 
            strong
              | strong
              | hit,
            |  you
            |                                     may read the runes to 
            em Gather Information
            |  about the subject and people
            |                                     close
            |                                     to them, including insight you and the subject have no knowledge of. If you do,
            |                                     add
            |                                     +1. On a 
            strong weak hit,
            |  as above, but the answers are revealed only
            |                                     with
            |                                     extra time and
            |                                     focus; suffer -2 momentum.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_divination2')
          .asset-ability(name='attr_assetability2')
            | As above, and your
            | divination
            | can also reveal information about the subject&rsquo;s future.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_divination3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.invoke.hide(type='checkbox' name='attr_assetritualdivinvoke')
    .invoke.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_invoke1' checked='')
          .asset-ability
            | When you consume the mystical essence of your
            | surroundings, roll +wits. On a 
            strong strong hit,
            |  add the value of
            |                                     your
            |                                     action die to your
            |                                     essence track (max 6). You may then 
            em Secure an Advantage
            |  or 
            em
              | Face
              | Danger
            |  +essence to create minor mystical effects or illusions. If you
            |                                     do,
            |                                     suffer -1 essence and take +1 momentum on a hit. On a 
            strong weak hit,
            |                                     as
            |                                     above, but
            |                                     capturing these energies is harrowing; 
            em Endure Stress
            |  (2 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_invoke2')
          .asset-ability(name='attr_assetability2')
            | You may 
            em Compel
            |                                     +essence (and suffer -1 essence) through a show of power.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_invoke3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | essence on a hit.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_invoke' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_invoke' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_invoke' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_invoke' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_invoke' value='4')
        .asset-track-box
          .asset-track-box-display + 5
          input(type='radio' name='attr_assettrack_invoke' value='5')
        .asset-track-box
          .asset-track-box-display + 6
          input(type='radio' name='attr_assettrack_invoke' value='6')
    input.keen.hide(type='checkbox' name='attr_assetritualdivkeen')
    .keen.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_keen1' checked='')
          .asset-ability
            | When you hold a weapon and sing a keen for those it
            | has
            | killed, roll +heart. On a 
            strong strong hit,
            |  the wielder inflicts +1
            |                                     harm
            |                                     when they
            em Strike
            |  or 
            em Clash
            |  . If they roll a 1 on their action die when
            |                                     making
            |                                     a move to inflict harm, the magic is spent. On a 
            strong weak hit,
            |  as
            |                                     above, but the voices
            |                                     of those who were slain join in your song; 
            em Endure Stress
            |  (2 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_keen2')
          .asset-ability(name='attr_assetability2')
            | As above, and the wielder
            | may
            | also (one time only) add +1 and take +2 momentum on a hit when they 
            em
              | Draw the
              | Circle
            | , 
            em Enter the Fray
            | , or 
            em Battle
            |  .
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_keen3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.leech.hide(type='checkbox' name='attr_assetritualdivleech')
    .leech.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_leech1' checked='')
          .asset-ability
            | When you mark your hands or weapon with an
            | intricate
            | blood rune, roll +iron. On a 
            strong strong hit,
            |  the rune thirsts for
            |                                     fresh
            |                                     blood. One time
            |                                     only, when you make a move to inflict harm, reroll any dice and inflict +2 harm
            |                                     on a
            |                                     hit. Then, for each point of harm inflicted, take +1 and allocate it as +health
            |                                     or
            |                                     +momentum. On a 
            strong weak hit,
            |  as above, but this asset counts as a
            |                                     debility until the
            |                                     rune&rsquo;s thirst is quenched.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_leech2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | also
            | touch an ally or companion and let them take +1 health or momentum for each
            | unallocated point.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_leech3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.lightbearer.hide(type='checkbox' name='attr_assetritualdivlightbearer')
    .lightbearer.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_lightbearer1' checked='')
          .asset-ability
            | When you focus on a source of light and capture its
            | essence, roll +wits. On a 
            strong strong hit,
            |  set your light track to
            |                                     +6.
            |                                     On a 
            strong weak hit,
            |                                     make it +3. Then, when you make a move to overcome or navigate darkness, you may
            |                                     add
            |                                     +2 and suffer -1 light.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_lightbearer2')
          .asset-ability(name='attr_assetability2')
            | You may use your light to
            em Strike
            |  or 
            em Clash
            |  against a dark-dwelling foe. Choose the amount
            |                                     of
            |                                     light to unleash, and roll +light (instead of +iron or +edge). Suffer -light
            |                                     equal
            |                                     to that amount. On a hit, your harm is 1+your unleashed light.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_lightbearer3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
      .asset-track-wrapper
        .asset-track-box
          .asset-track-box-display 0
          input(type='radio' name='attr_assettrack_lightbearer' value='0')
        .asset-track-box
          .asset-track-box-display + 1
          input(type='radio' name='attr_assettrack_lightbearer' value='1')
        .asset-track-box
          .asset-track-box-display + 2
          input(type='radio' name='attr_assettrack_lightbearer' value='2')
        .asset-track-box
          .asset-track-box-display + 3
          input(type='radio' name='attr_assettrack_lightbearer' value='3')
        .asset-track-box
          .asset-track-box-display + 4
          input(type='radio' name='attr_assettrack_lightbearer' value='4')
        .asset-track-box
          .asset-track-box-display + 5
          input(type='radio' name='attr_assettrack_lightbearer' value='5')
        .asset-track-box
          .asset-track-box-display + 6
          input(type='radio' name='attr_assettrack_lightbearer' value='6')
    input.scry.hide(type='checkbox' name='attr_assetritualdivscry')
    .scry.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_scry1' checked='')
          .asset-ability
            | When you look into flames to study a remote person
            | or
            | location, roll +shadow. You or someone with you must have knowledge of the
            | target.
            | On a 
            strong strong hit,
            |  you may 
            em Gather Information
            |  through
            |                                     observation using
            |                                     +shadow or +wits. On a 
            strong weak hit,
            |  as above, but the flames are
            |                                     hungry; choose one to
            |                                     sacrifice.
            ul
              li
                | Your blood: 
                em Endure Harm
                |  (2 harm).
              li
                | Something precious: 
                em Endure Stress
                |  (2 stress).
              li Provisions: Suffer -2 supply.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_scry2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | instead study a
            | past event.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_scry3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.shadow-walk.hide(type='checkbox' name='attr_assetritualdivshadow-walk')
    .shadow-walk.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shadowwalk1' checked='')
          .asset-ability
            | When you cloak yourself with the gossamer veil of
            | the
            | shadow realms, roll +shadow. On a 
            strong strong hit,
            |  take +1 momentum.
            |                                     Then, reroll any
            |                                     dice (one time only) when you make a move by ambushing, hiding, or sneaking. On
            |                                     a
            strong weak hit,
            |  as above, but the shadows try to lead you astray. You
            |                                     must first 
            em
              | Face
              | Danger
            |  to find your way.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shadowwalk2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | also
            | travel along the hidden paths of the shadow realms to 
            em
              | Undertake a
              | Journey
            |                                     using +shadow (instead of +wits). If you do, 
            em Endure Stress
            |  (1 stress)
            |                                     and
            |                                     mark progress twice on a strong hit.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_shadowwalk3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.sway.hide(type='checkbox' name='attr_assetritualdivsway')
    .sway.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sway1' checked='')
          .asset-ability
            | When you speak a person&rsquo;s name three times to the
            | wind,
            | roll +wits. On a 
            strong strong hit,
            |  the wind whispers of this person&rsquo;s
            |                                     need. Envision what
            |                                     you hear (
            em Ask the Oracle
            |  if unsure). If you use this information or
            |                                     fulfill
            |                                     this need when you 
            em Compel
            |  them, you may reroll any dice (one time
            |                                     only). On
            |                                     a 
            strong weak hit,
            |  as above, but this person&rsquo;s need creates a
            |                                     troubling
            |                                     dilemma or
            |                                     complication; 
            em Endure Stress
            |  (1 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sway2')
          .asset-ability(name='attr_assetability2')
            | As above, and if you roll
            | a
            | strong hit when you 
            em Compel
            | , you may also reroll any dice (one time
            |                                     only)
            |                                     when you 
            em Gather Information
            |  from this person.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_sway3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.talisman.hide(type='checkbox' name='attr_assetritualdivtalisman')
    .talisman.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_talisman1' checked='')
          .asset-ability
            | When you fashion a charm, envision it and name the
            | specific person or creature it protects against. Then roll +wits. On a
            strong strong hit,
            |                                     when the wearer opposes the target through a move, add +2. If a 1 is rolled on
            |                                     the
            |                                     action die while making a move using the charm, the magic is spent. On a
            strong weak hit,
            |                                     as above, but the wearer adds +1 when making a move (instead of +2).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_talisman2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | instead
            | fashion a charm which aids the wearer against all supernatural threats, such as
            | mystic rituals or horrors.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_talisman3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.tether.hide(type='checkbox' name='attr_assetritualdivtether')
    .tether.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_tether1' checked='')
          .asset-ability
            | When you commune with the spirits of a place, roll
            | +heart. If you share a bond with someone there, add +1. On a 
            strong
              | strong
              | hit,
            |  you are
            |                                     tethered. When you 
            em Undertake a Journey
            |  to return, you may roll +spirit
            |                                     or
            |                                     +heart (instead of +wits), and take +1 momentum on a hit. When you 
            em
              | Reach
              | Your
              | Destination
            | , take +2 momentum on a strong hit. The tether is lost if
            |                                     you
            |                                     perform this ritual elsewhere, or when you 
            em Face Desolation
            |  . On a
            strong weak hit,
            |                                     as above, but the spirits reveal a disturbing aspect of the place; 
            em
              | Endure
              | Stress
            |  (2 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_tether2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | also
            | reroll any dice when you 
            em Sojourn
            |  in the tethered place.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_tether3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.totem.hide(type='checkbox' name='attr_assetritualdivtotem')
    .totem.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_totem1' checked='')
          .asset-ability
            | When you hold a totem of your animal
            | or beast companion and focus on it,
            | roll +heart. On a strong hit, you are
            | bound together. Add +1 and take
            | +1 momentum on a hit when you
            | use a companion ability. If you roll
            | a 1 on your action die when using a
            | companion ability, the magic is spent.
            | On a weak hit, as above, but creating
            | this connection is unsettling; 
            em Endure Stress
            |  (1 stress).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_totem2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | also
            | perceive the world through your companion&rsquo;s senses while you make moves aided by
            | them (even when you are apart).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_totem3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.visage.hide(type='checkbox' name='attr_assetritualdivvisage')
    .visage.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_visage1' checked='')
          .asset-ability
            | When you paint yourself in blood and ash, roll
            | +wits.
            | On a 
            strong strong hit,
            |  you may add +2 and take +1 momentum on a hit
            |                                     when
            |                                     you 
            em
              | Secure an
              | Advantage
            |  or 
            em Compel
            |  using fear or intimidation. If you roll a
            |                                     1 on
            |                                     your action die when making a move aided by your visage, the magic is spent. On
            |                                     a
            strong weak hit,
            |  as above, but the blood must be your own; 
            em
              | Endure
              | Harm
            |  (2 harm).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_visage2')
          .asset-ability(name='attr_assetability2')
            | As above, and you may
            | also
            | add +1 when you 
            em Strike
            | , 
            em Clash
            | , or 
            em Battle
            |  .
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_visage3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
    input.ward.hide(type='checkbox' name='attr_assetritualdivward')
    .ward.hide
      .flex-wrapper
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ward1' checked='')
          .asset-ability
            | When you walk a wide circle, sprinkling the ground
            | with
            | salt, roll +wits. On a 
            strong strong hit,
            |  choose two. On a
            strong
              | weak
              | hit,
            |  chose one.
            ul
              li When a foe first crosses the boundary, take +1 momentum.
              li
                | When you first inflict harm against a foe within the boundary, inflict
                | +1
                | harm.
              li
                | Your ward is &lsquo;likely&rsquo; (
                em Ask the Oracle
                | ) to trap a foe within the
                |                                             boundary.
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ward2')
          .asset-ability(name='attr_assetability2')
            | As above, and improve the
            | effect of your ward (+2 momentum, +2 harm, and &lsquo;almost certain&rsquo;).
        .flex-container
          input.asset-ability(type='checkbox' name='attr_assetcheckbox_ward3')
          .asset-ability
            | When you perform this ritual, add +1 and take +1
            | momentum on a hit.
