section.page#page-escrime
    .col-2
        h4.blue Armes
        +textInput('armes')
        h4 Feintes
        fieldset.repeating_feintes
            +cbButton('expand', ' ', 1)
            +textInput('name')
            +hiddenInput('expand')
            +textareaInput('description')
    .col-2
        h4.red École
        +textInput('ecole')
        h4 Bottes
        fieldset.repeating_bottes
            +cbButton('expand', ' ', 1)
            +textInput('name')
            +hiddenInput('expand')
            +textareaInput('description')