<div class="core">
  <br />
  <h3>Core Character Stats</h3>
  <div class="grid-container">
    <div class="section-one character-background">
      <label
        ><span>Character Name</span>
        <input type="text" value="" name="attr_character_name"
      /></label>
      <label
        ><span>True Name</span>
        <input type="text" value="" name="attr_truename_name"
      /></label>
      <label
        ><span>Race</span>
        <input type="text" value="" name="attr_character_race"
      /></label>
      <label
        ><span>Character Class</span>
        <input type="text" value="" name="attr_occ"
      /></label>
      <label
        ><span>Strength Type</span>
        <select class="" name="attr_character_ps_type" value="normal">
          <option value="1">Normal</option>
          <option value="2">Augmented</option>
          <option value="3">Robotic</option>
          <option value="3.5">Giant Robotic</option>
          <option value="4">Supernatural</option>
        </select></label
      >
      <label
        ><span>Level</span>
        <input type="number" name="attr_character_level" value="1"
      /></label>
      <label
        ><span>Experience</span> <input type="number" name="attr_experience"
      /></label>
      <label
        ><span>Alignment</span>
        <select class="select" name="attr_alignment" value="0">
          <option value="0"></option>
          <option value="Principled">Principled</option>
          <option value="Scrupulous">Scrupulous</option>
          <option value="Taoist">Taoist</option>
          <option value="Unprincipled">Unprincipled</option>
          <option value="Anarchist">Anarchist</option>
          <option value="Miscreant">Miscreant</option>
          <option value="Abberant">Aberrant</option>
          <option value="Diabolic">Diabolic</option>
        </select></label
      >
      <label
        ><span>Age</span>
        <input
          class="attribute"
          type="number"
          value=""
          name="attr_character_age"
      /></label>
      <label
        ><span>Gender</span>
        <input type="text" value="" name="attr_character_gender"
      /></label>
      <label
        ><span>Height</span>
        <input type="text" value="" name="attr_character_height"
      /></label>
      <label
        ><span>Weight</span>
        <input type="text" value="" name="attr_character_weight"
      /></label>
      <label
        ><span>Family Origin</span>
        <input type="text" value="" name="attr_character_familyorigin"
      /></label>
      <label
        ><span>Environment</span>
        <input value="" name="attr_character_environment"
      /></label>
      <label
        ><span>Native Language(s)</span>
        <input type="text" value="" name="attr_character_languages"
      /></label>
      <label
        ><span>Insanity, if any</span>
        <input type="text" value="" name="attr_character_insanity"
      /></label>
      <label
        ><span>Disposition</span>
        <input type="text" value="" name="attr_character_disposition"
      /></label>
    </div>

    <div class="section-two">
      <div class="ss-2a">
        <label for="iq" title="Intelligence Quotient">I.Q.</label>
        <input
          id="iq"
          type="number"
          value="0"
          name="attr_iq"
          title="Intelligence Quotient"
        />
        <input
          type="hidden"
          value="0"
          name="attr_iq_bonus"
          title="+ Skills %"
        />
        <span name="attr_iq_bonus" title="+ Skills %"></span>
        <input
          type="hidden"
          value="0"
          name="attr_perception_bonus"
          title="+ Perception (Rifter #13, p.16)"
        />
        <span
          name="attr_perception_bonus"
          title="+ Perception (Rifter #13, p.16)"
        ></span>

        <label for="mental-endurance" title="Mental Endurance">M.E.</label>
        <input
          id="mental-endurance"
          type="number"
          value="0"
          name="attr_me"
          title="Mental Endurance"
        />
        <input
          type="hidden"
          value="0"
          name="attr_me_bonus"
          title="+ Save vs. Psionics"
        />
        <span name="attr_me_bonus" title="+ Save vs. Psionics"></span>
        <div></div>

        <label for="mental-affinity" title="Mental Affinity">M.A.</label>
        <input
          id="mental-affinity"
          type="number"
          value="0"
          name="attr_ma"
          title="Mental Affinity"
        />
        <input
          type="hidden"
          value="0"
          name="attr_ma_bonus"
          title="% Trust/Intimidate"
        />
        <span name="attr_ma_bonus" title="% Trust/Intimidate"></span>
        <div></div>

        <label for="physical-strength" title="Physical Strength">P.S.</label>
        <input
          id="physical-strength"
          type="number"
          value="0"
          name="attr_ps"
          title="Physical Strength"
        />
        <input
          type="hidden"
          value="0"
          name="attr_ps_bonus"
          title="+ SDC Damage"
        />
        <span name="attr_ps_bonus" title="+ SDC Damage"></span>
        <div></div>

        <label for="physical-prowess" title="Physical Prowess">P.P.</label>
        <input
          id="physical-prowess"
          type="number"
          value="0"
          name="attr_pp"
          title="Physical Prowess"
        />
        <input
          type="hidden"
          value="0"
          name="attr_pp_bonus"
          title="+ Strike/Parry/Dodge/Entangle/Disarm"
        />
        <span
          name="attr_pp_bonus"
          title="+ Strike/Parry/Dodge/Entangle/Disarm"
        ></span>
        <div></div>

        <label for="physical-endurance" title="Physical Endurance">P.E.</label>
        <input
          id="physical-endurance"
          type="number"
          value="0"
          name="attr_pe"
          title="Physical Endurance"
        />
        <input
          type="hidden"
          value="0"
          name="attr_pe_bonus"
          title="+ Magic/Poison/Toxins"
        />
        <span name="attr_pe_bonus" title="+ Magic/Poison/Toxins"></span>
        <input
          type="hidden"
          value="0"
          name="attr_pe_coma_bonus"
          title="+ Coma/Death %"
        />
        <span name="attr_pe_coma_bonus" title="+ Coma/Death %"></span>

        <label for="physical-beauty" title="Physical Beauty">P.B.</label>
        <input
          id="physical-beauty"
          type="number"
          value="0"
          name="attr_pb"
          title="Physical Beauty"
        />
        <input
          type="hidden"
          value="0"
          name="attr_pb_bonus"
          title="% Charm/Impress"
        />
        <span name="attr_pb_bonus" title="% Charm/Impress"></span>
        <div></div>

        <label for="speed" title="Speed">Spd</label>
        <input
          id="speed"
          type="number"
          value="0"
          name="attr_spd"
          title="Speed"
        />
        <div></div>
        <div></div>

        <label for="speed_flying" title="Flying Speed">Spd: Fly</label>
        <input
          id="speed_flying"
          type="number"
          value="0"
          name="attr_spdfly"
          title="Flying Speed"
        />
      </div>
      <div class="ss-2b"></div>
      <div class="ss-2c">
        <label
          ><span>Hit Points</span>
          <input type="number" value="0" name="attr_character_hp" />
        </label>
        <label>
          <span title="Structural Damage Capacity">S.D.C.</span>
          <input
            type="number"
            value="0"
            name="attr_character_sdc"
            title="Structural Damage Capacity"
          />
        </label>
        <label
          ><span title="Armor Rating">A.R.</span
          ><input
            type="number"
            value="0"
            name="attr_character_ar"
            title="Armor Rating"
        /></label>
        <label
          ><span title="Mega Damage Capacity">M.D.C.</span>
          <input
            type="number"
            value="0"
            name="attr_character_mdc"
            title="Mega Damage Capacity"
          />
        </label>
        <label
          ><span title="Potential Psychic Energy">P.P.E.</span>
          <input
            type="number"
            value="0"
            name="attr_character_ppe"
            title="Potential Psychic Energy"
          />
        </label>
        <label
          ><span title="Inner Strength Points">I.S.P.</span
          ><input
            type="number"
            value="0"
            name="attr_character_isp"
            title="Inner Strength Points"
        /></label>
        <label
          ><span title="Horror Factor">H.F.</span
          ><input type="number" value="0" name="attr_hf" title="Horror Factor"
        /></label>
        <label
          ><span>Perception</span>
          <input
            id="perception"
            type="number"
            value="0"
            name="attr_perception"
          />
        </label>
      </div>
    </div>
  </div>

  <h2>Movement</h2>
  <div class="movement-container">
    <div></div>
    <label title="Miles per Hour">MPH</label>
    <label title="Feet per Melee">Ft/Melee</label>
    <label title="Feet per Attack">Ft/Attack</label>
    <label for="cruising">Cruising</label>
    <label>Run at Max</label>
    <label>Run</label>
    <input type="hidden" value="0" name="attr_run_mph" />
    <span name="attr_run_mph" title="Miles per Hour"></span>
    <input type="hidden" value="0" name="attr_run_ft_melee" />
    <span name="attr_run_ft_melee" title="Feet per Melee"></span>
    <input type="hidden" value="0" name="attr_run_ft_attack" />
    <span name="attr_run_ft_attack" title="Feet per Attack"></span>
    <input id="cruising" type="number" value="0" name="attr_run_cruising" />
    <div class="side-by-side">
      <input type="hidden" value="0" name="attr_run_at_max" />
      <span name="attr_run_at_max"></span
      ><span class="not-readonly center">minutes</span>
    </div>

    <label>Leaping Distance</label>
    <input type="number" name="attr_leapup" value="0" />
    <div>feet up?</div>
    <input type="number" name="attr_leapout" value="0" />
    <div>feet out?</div>
    <div></div>
  </div>
  <br />
  <div class="repeating-movement">
    <fieldset class="repeating_movement">
      <h5>Additional Movement Type</h5>
      <h5 title="Miles per Hour">MPH</h5>
      <h5 title="Feet per Melee">Ft/Melee</h5>
      <h5 title="Feet per Attack">Ft/Attack</h5>
      <h5>Cruising</h5>
      <h5>Max speed duration</h5>
      <input type="text" value="" name="attr_name" />
      <input type="number" value="0" name="attr_mph" title="Miles per Hour" />
      <input
        type="number"
        value="0"
        name="attr_ft_melee"
        title="Feet per Melee"
      />
      <input
        type="hidden"
        value="0"
        name="attr_ft_attack"
        title="Feet per Attack"
      />
      <span name="attr_ft_attack" class="readonly"></span>
      <input type="number" value="0" name="attr_cruising" />
      <label
        ><input type="number" value="0" name="attr_dur_at_max" /> minutes</label
      >
    </fieldset>
  </div>
</div>
