<datalist id="distance-units">
  <option value="m"></option>
  <option value="km"></option>
  <option value="ft"></option>
  <option value="yd"></option>
  <option value="mi"></option>
</datalist>
<datalist id="damage-units">
  <option value="MDC"></option>
  <option value="SDC"></option>
</datalist>
<datalist id="time-units">
  <option value="seconds"></option>
  <option value="melees"></option>
  <option value="minutes"></option>
  <option value="hours"></option>
  <option value="days"></option>
  <option value="weeks"></option>
  <option value="months"></option>
  <option value="years"></option>
</datalist>
<datalist id="frequency-units">
  <option value="per second"></option>
  <option value="per melee"></option>
  <option value="per minute"></option>
  <option value="per hour"></option>
  <option value="per day"></option>
  <option value="per week"></option>
  <option value="per month"></option>
  <option value="per year"></option>
</datalist>
<datalist id="spell-schools">
  <option value="Invocation"></option>
  <option value="Elemental"></option>
  <option value="Necromancy"></option>
</datalist>
<datalist id="combat-modifiers">
  <option value="Custom - Type Your Own"></option>
  <option value="Hand to Hand: Basic"></option>
  <option value="Hand to Hand: Dragon"></option>
  <option value="RPA Basic"></option>
  <option value="RPA Elite: Glitter Boy"></option>
  <option value="Weapon: NG-P7"></option>
  <option value="Weapon: TW Flame Sword"></option>
  <option value="Armor: Crusader"></option>
  <option value="Power Armor: Glitter Boy"></option>
  <option value="TW: Armor of Ithan"></option>
  <option value="Spell: Superhuman Speed"></option>
  <option value="Psionic: Sixth Sense"></option>
  <option value="Magic Amulet: Charm"></option>
</datalist>
<datalist id="weapon-proficiencies">
  <option value="W.P. Archery"></option>
  <option value="W.P. Axe"></option>
  <option value="W.P. Bayonet"></option>
  <option value="W.P. Blunt"></option>
  <option value="W.P. Chain"></option>
  <option value="W.P. Forked"></option>
  <option value="W.P. Knife"></option>
  <option value="W.P. Grappling Hook"></option>
  <option value="W.P. Pole Arm"></option>
  <option value="W.P. Rope"></option>
  <option value="W.P. Shield"></option>
  <option value="W.P. Spear"></option>
  <option value="W.P. Staff"></option>
  <option value="W.P. Sword"></option>
  <option value="W.P. Targeting"></option>
  <option value="W.P. Whip"></option>
</datalist>
<datalist id="weapon-proficiencies-modern">
  <option value="W.P. Handguns"></option>
  <option value="W.P. Rifles"></option>
  <option value="W.P. Energy Heavy"></option>
  <option value="W.P. Energy Pistol"></option>
  <option value="W.P. Energy Rifle"></option>
  <option value="W.P. Heavy"></option>
  <option value="W.P. Speargun"></option>
  <option value="W.P. Shotgun"></option>
  <option value="W.P. Submachinegun"></option>
  <option value="W.P. Flamethrower"></option>
</datalist>
