<datalist id="distance-units">
  <option value="m"></option>
  <option value="km"></option>
  <option value="ft"></option>
  <option value="yd"></option>
  <option value="mi"></option>
  <option value="ly"></option>
</datalist>
<datalist id="damage-units">
  <option value="MDC"></option>
  <option value="SDC"></option>
</datalist>
<datalist id="time-units">
  <option value="seconds"></option>
  <option value="actions"></option>
  <option value="melees"></option>
  <option value="minutes"></option>
  <option value="hours"></option>
  <option value="days"></option>
  <option value="weeks"></option>
  <option value="months"></option>
  <option value="years"></option>
</datalist>
<datalist id="frequency-units">
  <option value="per second"></option>
  <option value="per action"></option>
  <option value="per melee"></option>
  <option value="per minute"></option>
  <option value="per hour"></option>
  <option value="per day"></option>
  <option value="per week"></option>
  <option value="per month"></option>
  <option value="per year"></option>
</datalist>
<datalist id="spell-schools">
  <option value="Elemental"></option>
  <option value="Invocation"></option>
  <option value="Necromancy"></option>
  <option value="Space"></option>
  <option value="Temporal"></option>
</datalist>
<datalist id="modifiers">
  <option value="Custom - Type Your Own"></option>
  <option value="RPA Basic"></option>
  <option value="RPA Elite: Glitter Boy"></option>
  <option value="Weapon: NG-P7"></option>
  <option value="Weapon: TW Flame Sword"></option>
  <option value="Armor: Crusader"></option>
  <option value="Power Armor: Glitter Boy"></option>
  <option value="TW: Armor of Ithan"></option>
  <option value="Spell: Superhuman Speed"></option>
  <option value="Psionic: Sixth Sense"></option>
  <option value="Magic Amulet: Charm"></option>
</datalist>
<datalist id="hand-to-hand">
  <option value="Hand to Hand: Basic"></option>
  <option value="Hand to Hand: Expert"></option>
  <option value="Hand to Hand: Martial Arts"></option>
  <option value="Hand to Hand: Assassin"></option>
  <option value="Hand to Hand: Commando"></option>
  <option value="Hand to Hand: Aikido"></option>
  <option value="Hand to Hand: Judo"></option>
  <option value="Hand to Hand: Jujitsu"></option>
  <option value="Hand to Hand: Karate"></option>
  <option value="Hand to Hand: Kendo"></option>
  <option value="Hand to Hand: Ninjitsu"></option>
  <option value="Hand to Hand: Samurai"></option>
  <option value="Hand to Hand: Teng-Jutsu"></option>
  <option value="Hand to Hand: Drunken Style Kung Fu"></option>
  <option value="Hand to Hand: Dragon"></option>
  <option value="RPA Combat: Basic"></option>
  <option value="RPA Combat: Flying Power Armor"></option>
  <option value="RPA Combat: Ground-Based Power Armor"></option>
  <option value="RPA Combat: Heavy Vehicular Style Robots"></option>
  <option value="RPA Combat: Heavy Ground Robots"></option>
  <option value="RPA Combat: Light Ground Robots"></option>
  <option value="RPA Combat: Glitter Boy"></option>
  <option value="RPA Combat: Silverhawk"></option>
  <option value="RPA Combat: Battleram"></option>
  <option value="RPA Combat: Bombard"></option>
  <option value="Space Fighter: Basic"></option>
  <option value="Space Fighter: Elite"></option>
  <option value="Mystic Martial Art: Xian Pu Kung Fu (Drunken Style)"></option>
</datalist>
<datalist id="weapon-proficiencies">
  <option value="W.P. Archery"></option>
  <option value="W.P. Axe"></option>
  <option value="W.P. Bayonet"></option>
  <option value="W.P. Blunt"></option>
  <option value="W.P. Chain"></option>
  <option value="W.P. Forked"></option>
  <option value="W.P. Grappling Hook"></option>
  <option value="W.P. Knife"></option>
  <option value="W.P. Paired Weapons"></option>
  <option value="W.P. Pole Arm"></option>
  <option value="W.P. Rope"></option>
  <option value="W.P. Shield"></option>
  <option value="W.P. Spear"></option>
  <option value="W.P. Staff"></option>
  <option value="W.P. Sword"></option>
  <option value="W.P. Targeting"></option>
  <option value="W.P. Whip"></option>
</datalist>
<datalist id="weapon-proficiencies-modern">
  <option value="W.P. Handguns"></option>
  <option value="W.P. Rifles"></option>
  <option value="W.P. Energy Heavy"></option>
  <option value="W.P. Energy Pistol"></option>
  <option value="W.P. Energy Rifle"></option>
  <option value="W.P. Heavy"></option>
  <option value="W.P. Paired Handguns"></option>
  <option value="W.P. Speargun"></option>
  <option value="W.P. Shotgun"></option>
  <option value="W.P. Submachinegun"></option>
  <option value="W.P. Flamethrower"></option>
</datalist>
