<br />
<label class="addtobonuses"
  ><input type="checkbox" name="attr_addtobonuses" value="1" /> Add to Profiles
  &rarr; <span class="picker-title">Modifier Picker</span></label
>
<br />
<br />
<div class="spell-details">
  <label
    ><span>Starting range</span
    ><input type="number" value="0" name="attr_range_starting"
  /></label>
  <label
    ><span>Range per level</span
    ><input type="number" value="0" name="attr_range_per_level"
  /></label>
  <label
    ><span>Range unit</span
    ><input type="text" value="" name="attr_range_unit" list="distance-units" />
  </label>
  <label
    ><span>Starting duration</span
    ><input type="number" value="0" name="attr_duration_starting"
  /></label>
  <label
    ><span>Duration per level</span
    ><input type="number" value="0" name="attr_duration_per_level"
  /></label>
  <label
    ><span>Duration unit</span
    ><input type="text" value="" name="attr_duration_unit" list="time-units" />
  </label>
  <label
    ><span>Starting damage</span
    ><input type="text" value="0" name="attr_damage_starting"
  /></label>
  <label
    ><span>Damage per level</span
    ><input type="text" value="0" name="attr_damage_per_level"
  /></label>
  <label
    ><span>Damage unit</span
    ><input type="text" value="" name="attr_damage_unit" list="damage-units" />
  </label>
  <label
    ><span title="Starting Damage Capacity">Starting D.C.</span
    ><input type="number" value="0" name="attr_dc_starting"
  /></label>
  <label
    ><span title="Damage Capacity per level">D.C. per level</span
    ><input type="number" value="0" name="attr_dc_per_level"
  /></label>
  <label
    ><span title="Damage Capacity unit">D.C. unit</span
    ><input type="text" value="" name="attr_dc_unit" list="damage-units" />
  </label>
  <label
    ><span>Starting skill %</span
    ><input type="number" value="0" name="attr_percentage_starting"
  /></label>
  <label
    ><span>Skill % per level</span
    ><input type="number" value="0" name="attr_percentage_per_level"
  /></label>
  <label
    ><span>School</span
    ><input type="text" value="" name="attr_school" list="spell-schools" />
  </label>
</div>
