<div class="r-tab-content">
  <div class="options">
    <details>
      <summary><b>Instructions</b></summary>
      <p>
        Welcome to the Rifts Character Sheet on Roll20. Note that whenever you
        see this icon <b>&#9432;</b> it means you can click it and expand the
        row in order to see and input more detail. Get used to this - you will
        use it a lot.
      </p>
      <p>
        Profiles are the key to this sheet. Profiles can consist of any number
        of abilities, magic, psionics, weapons, gear, etc. Anything that can
        mechanically affect your character can be added to a Profile. Some
        examples of Profiles might be:
      </p>
      <ul>
        <li>Walking around town (no armor, no MDC weapons).</li>
        <li>Battle ready in a Glitter Boy.</li>
        <li>
          Prepped for battle with a number of active spells like Armor of Ithan
          and Superhuman Speed.
        </li>
      </ul>
      <p>
        But before you can create a Profile, you need to populate your Combat
        Skills, Abilities, Magic, Psionics, and Modifiers. I'll explain what
        each of those tabs is for (not necessarily in the order they appear in
        the sheet), and then I'll explain the simpler first three tabs - Core,
        Skills, and Equipment.
      </p>
      <h3>Modifiers</h3>
      <p>
        Modifiers are those crunchy bits of Palladium games. Combat bonuses,
        savings throws, attribute bonuses, etc. The sheet makes use of Modifiers
        in a couple of ways.
      </p>
      <ol>
        <li>
          A Modifiers tab lets you add generic modifiers. Some examples of items
          that could be added to the Modifiers tab are:
          <ul>
            <li>A magic amulet that gives a +1 vs. magic.</li>
            <li>
              Boxing, which adds to your PS, attacks, parry, dodge, roll, and
              SDC.
            </li>
            <li>OCC/RCC/Race bonuses.</li>
            <li>An NG-P7 that inflicts 1D4*10 MD.</li>
            <li>
              A vibro-sword daisho with 3D6 MD main hand and 2D6 MD off hand
              swords.
            </li>
          </ul>
          The list goes on. Primarily this section is for static things that
          don't have an off switch. That doesn't mean your character is always
          using these, but they don't require PPE/ISP to activate, and they
          don't increase per level. Every row you add to the Modifiers tab will
          show up in the <span class="picker-title">Modifier Picker</span> (more
          on that later).<br /><br />
        </li>
        <li>
          Modifiers are also a sub-section of Abilities, Magic, and Psionics.
          When you add one of those and expand it, you'll see that the first
          section is dedicated to how the power increases as you level, but the
          section below that is exactly the same as the Modifiers tab. Some
          examples of how you'd use these tabs would be:
          <ul>
            <li>
              Firing a laser beam from your eyes that gives +2 to strike and
              does 1D6 MD per level.
            </li>
            <li>
              A spell like Call Lightning that costs PPE and does increasing
              damage as you level.
            </li>
            <li>
              A spell like Superhuman Speed that costs PPE, provides static
              bonuses, and increases its duration as you level.
            </li>
            <li>
              A Techno-Wizard gun that costs PPE to activate and inflicts a
              static amount of damage.
            </li>
          </ul>
          In these cases, the top section would be used for the per-level values
          (if applicable), and the Modifiers section would be used for the
          static bonuses. If a power has a range (or whatever) that doesn't
          increase per level, just set that value as Starting and leave Per
          Level at 0.
        </li>
      </ol>
      <p>
        On some fields in Modifiers, you'll see this button
        <label class="abs" title="Relative or absolute value"
          ><input type="checkbox" value="1" /><span></span></label
        >. By default, when the "+" is dark, it indicates that the value is to
        be additive. So, for example, if I have a Modifier for a gun that gives
        me +1 to strike, and I have a Weapon Proficiency for that gun, those
        will be added together. However, if I cast Superhuman Speed, it gives me
        an absolute Spd value of of 44. In this case it's not additive - it just
        is the value - so press the button to make the "+" grey/inactive -
        <label class="abs" title="Relative or absolute value"
          ><input type="checkbox" value="1" checked /><span></span></label
        >.
      </p>
      <h3>Abilities, Magic, & Psionics</h3>
      <p>
        As mentioned above, these all contain Modifiers, but each also contains
        some additional fields that are specific to the type of power, though
        all are very similar.
      </p>
      <p>
        In all cases there are fields for range, duration, damage, D.C., and
        skill. Where they differ is that Psionics has an ISP field, Magic has a
        PPE field, and Abilities have a frequency (how often the ability can be
        performed) field. Magic and Psionics also have <button>Cast</button> /
        <button>Use</button> buttons respectively, which will deduct the PPE/ISP
        from your total. The total is pulled from your Active Profile (more on
        that later).
      </p>
      <p>
        Please note that you can track powers here that don't apply any
        Modifiers as well. Magic Pigeon, for example, could be tracked and the
        PPE and duration could be filled in. Because of this, not all powers are
        automatically added to the
        <span class="picker-title">Modifier Picker</span>. If you enter a power
        that <i>does</i> have Modifiers, you should check the box that says
        <label class="addtobonuses"
          ><input type="checkbox" value="1" disabled /> Add to Profiles &rarr;
          <span class="picker-title">Modifier Picker</span></label
        >
        so that it's available to be added to a Profile.
      </p>
      <h3>Combat Skills</h3>
      <p>
        There are 2 main sections on the Combat Skills tab -
        <b>Hand to Hand & RPA Combat</b>, and <b>Weapon Proficiencies</b>. In
        both of these sections just add a new row and select from the list. It
        will auto-calculate the bonuses based on the level of the entry. If
        you're using a Hand to Hand or Weapon Proficiency that isn't part of
        Rifts, just type the name and fill in the bonuses yourself. A couple
        things to make note of if you go the manual route:
      </p>
      <ul>
        <li>You'll need to adjust the bonuses manually as you level up.</li>
        <li>
          Don't name it exactly the same as any of the items in the list, or the
          automatic level calculator will overwrite your changes.
        </li>
        <li>
          Names are not case sensitive, so "W.P. Sword" is the same as "w.p.
          sWORD".
        </li>
      </ul>
      <h3>Profiles</h3>
      <p>
        Here we get to the golden goose. The Profiles tab has 4 sections -
        Active, Armor, Profiles, and Modifier Picker. Unintuitively, I'm going
        to start at the bottom and work my way up.
      </p>
      <h4>Modifier Picker</h4>
      <p>
        The Modifier Picker is where all of the Abilities, Magic, Psionics (that
        you've checked the
        <label class="addtobonuses"
          ><input type="checkbox" value="1" disabled /> Add to Profiles &rarr;
          <span class="picker-title">Modifier Picker</span></label
        >
        checkbox), and Modifiers show up in a list. You pick and choose / mix
        and match various Modifiers to create Profiles.
      </p>
      <h4>Profiles</h4>
      <p>
        Add a Profile and give it a name. Next select some Modifiers from the
        <span class="picker-title">Modifier Picker</span>, and click
        <button>
          Apply
          <span class="picker-title">Picked Modifiers</span>
          &#x2190;</button
        >. This will attach all of the Modifiers have you have selected to the
        current Profile, and add up all of the bonuses.
      </p>
      <p>
        <b
          >Note that when adding new Modifiers to a Profile, it's a good idea to
          wait a few seconds, and then click <button>Refresh &#x27F3;</button>.
          Due to the asynchronous nature of Roll20, sometimes bonuses get
          calculated before attributes (and their associated bonuses) get
          updated.
        </b>
      </p>
      <p>
        If you want to copy a Profile so that you can use it as the baseline for
        a new Profile, click
        <button>
          Replace <span class="picker-title">Picked Modifiers</span> using this
          profile &#x2192;</button
        >. This will check off all of the Modifiers in the
        <span class="picker-title">Modifier Picker</span> that correspond with
        the selected Profile.
      </p>
      <p>
        Setting a Profile as Active makes it appear in the Active section (see
        below for details). If a Profile is already active and you update it in
        some way, press <button>Refresh &#x27F3;</button> to update the data in
        the Active section.
      </p>
      <p>
        PP bonus is added to Strike, Parry, Throw, and all the Dodges. It is
        added to Disarm and Entangle if the option is enabled. Damage adds
        everything together as a rollable field, and prompts to add Punch or PS
        damage. Crit/Knockout/Death Blow use the lowest of the available options
        (ex. Crit: 17 is better than Crit: 19).
      </p>
      <h4>Armor</h4>
      <p>
        Armor is relatively straightforward. Enter as many different armor types
        as you have available, providing Name, Movement Modifier %, and Base
        MDC. Armor stacks, so you can have more than one Active Armor at a time.
        When you enter a value in the Damage field and press
        <button>Apply Damage</button>, that value is subtracted from the first
        Active Armor in the list. If it's already at 0, it will be subtracted
        from the next, and so on. If the last Active Armor is below zero, you're
        dead.
      </p>
      <p>
        Pressing
        <button>Reset MDC</button> will reset the Current MDC to the Base MDC
        value.
      </p>
      <h4>Active</h4>
      <p>
        The Active section shows a consolidated view of your active Profile and
        Armor. This is especially useful for assigning "active_armor_" or
        "active_profile_" attributes to your Token Bar and for use in other
        macros. By referencing the "active_" fields, when you switch Profiles,
        the macros stay the same, but the values update accordingly.
      </p>
      <p>
        The Active Armor shows the armor that last took damage. If it goes below
        zero and there's another Active Armor in the list, the Armor displayed
        in the Active section will change to that one. Note that you can also
        apply/track damage here.
      </p>
      <h3>Core</h3>
      <p>
        The Core tabs is mostly just informational. Attribute bonuses
        auto-calculate, so just enter your attributes without worrying about the
        bonuses. Beneath those, Hit Points through Perception must be entered
        manually, likely as the outcome of some dice rolling. Movement is
        calculated automatically based on the Spd attribute in your Active
        Profile.
      </p>
      <h3>Skills</h3>
      <p>
        Skill Total is calculated automatically. IQ Bonus of your Active Profile
        is added automatically. New skills start at level 1. All skills increase
        in level as your character does, and the total is recalculated. Ex. if
        you select Computer Programming when you're level 1, it will continue to
        match your level as you increase. If at level 3 you select Computer
        Hacking, it will start at level 1, and when you reach level 4, Computer
        Hacking will become level 2. You can adjust individual skill levels
        manually as well - they will always remain the same distance from your
        character level as it changes.
      </p>
      <h3>Equipment</h3>
      <p>
        Just some free-form equipment tracking, with a few fields for different
        currencies. Any gear that modifies your character in any way should be
        tracked in Modifiers or one of the other Powers tabs.
      </p>
      <h3>Options</h3>
      <p>
        This tab. There are a number of options you can select that will affect
        dice rolls, calculations, and other mechanics in the sheet. You can also
        export/import your character in JSON format so that you can easily move
        characters between games.
      </p>
      <p>
        <b>Note that importing a character can take a few minutes.</b> Again,
        due to the asynchronous nature of Roll20, it's difficult to
        programmatically know when the import is complete. The best way to know
        for sure is to open your browser console and wait until no messages have
        appeared for at least 30 seconds to a minute.
      </p>
      <h3>General Info</h3>
      <p>
        Each repeating row includes a read-only Row ID that can be used in
        macros.
      </p>
      <p>
        I intended to have the Description field within
        skills/abilities/magic/psionics to be used for copy/pasting the book
        description so that it's easier for both the player and the GM to find.
        However I've found that this has a tendency to slow down Roll20/the
        browser. So do so at your own risk.
      </p>
    </details>
    <p>Click <b>Instructions</b> for detailed instructions.</p>
    <hr />
    <h3>Options</h3>
    <input type="hidden" name="attr_version" value="1.2.0" />
    <label>Version: <span name="attr_version"></span></label>
    <input type="hidden" name="attr_migrated" value="0" />
    <label>Migrated: <span name="attr_migrated"></span></label>
    <button type="action" name="act_migrate">Migrate</button>

    <label>
      Whisper Rolls to GM?
      <select name="attr_opt_whisper">
        <option value="">Never Whisper Rolls</option>
        <option value="?{Whisper?|Public Roll,|Whisper Roll,/w gm }">
          Query Whisper
        </option>
        <option value="/w gm ">Always Whisper Rolls</option>
      </select>
    </label>
    <label
      ><input type="checkbox" name="attr_debug" value="1" /> View Sheet in Debug
      Mode</label
    >
    <label
      ><input type="checkbox" name=attr_outputusage" value="1" /> Output
      ISP/PPE/Damage usage to chat</label
    >
    <label
      ><input type="checkbox" name=attr_outputarmorwarnings" value="1" /> Show
      Armor warnings when damage is taken on last layer</label
    >
    <hr />
    <label
      ><input
        type="checkbox"
        name="attr_opt_dodge_penalty"
        value="?{Dodging gunfire?|> 50 feet,0|10-50 feet,5|< 10 feet,10}"
      />
      Apply Rifts: Ultimate Edition penalties to dodging gunfire</label
    >
    <p>
      In Rifts: Ultimate Edition, characters are -10 to dodge gunfire at less
      than 10 feet, and -5 between 10 and 50 feet.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_pp_extras" value="1" /> Add PP
      bonus to Disarm and Entangle</label
    >
    <p>
      Add bonus from PP attribute to Disarm and Entangle, in addition to
      Strike/Parry/Dodge.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_iq_perception" value="1" /> Add IQ
      bonus to Perception as per Rifter #13, p.16</label
    >
    <p>
      Rifter #13, p.16 describes a Perception bonus based on IQ. Checking this
      will factor in that bonus.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_paired_damage" value="1" /> Apply
      PS damage to <b>each hand</b> in Paired attack</label
    >
    <p>
      If attacking using paired weapons, checking this will apply any PS
      bonus/Punch damage as applicable to <b>each weapon</b> in a Paired Weapons
      attack. Otherwise the PS damage is applied once to the total of both
      hands. If unchecked, this will also divide the PS damage by 2 when using
      Paired Weapons but only striking with one weapon.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_critical" value="1" /> Apply Hand
      to Hand critical (19-20, 18-20) to modern weapons as well</label
    >
    <p>
      If a character has a critical on 19-20 or 18-20 from their Hand to Hand
      skill, apply this to modern weapons as well.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_iq_bonus" value="1" /> Apply IQ
      bonus to skill-based abilities</label
    >
    <p>
      Adds IQ bonus to abilities/magic/psionic that use a skill-based
      percentage. Some examples include, but are not limited to, Telemechanics,
      Object Read, Locate, etc.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_add_skill" value="1" /> Skill
      Rolls: Add roll to skill %.</label
    >
    <p>
      Instead of trying to roll <b>under</b> your skill %, add your roll to your
      skill % where a success is > 100.
    </p>
    <hr />
    <h3>Import/Export</h3>
    <details>
      <summary><b>Instructions</b></summary>
      <p>
        Click the <b>Export</b> button to get a JSON object representing your
        character. Paste a valid JSON object and click <b>Import</b> to import a
        character.
      </p>
      <p>
        In order to know what the valid fields are, complete all the fields with
        at least one of each repeating section and do an Export.
      </p>
    </details>
    <p>Click <b>Instructions</b> for detailed instructions.</p>
    <button type="action" name="act_import">
      <span></span><span></span><span></span><span></span>
      Import
    </button>
    <button type="action" name="act_export">
      <span></span><span></span><span></span><span></span>
      Export
    </button>
    <!-- <button class="test" type="action" name="act_test">Test</button> -->
    <label>Status: <span name="attr_importexportstatus"></span></label>
    <input type="hidden" name="attr_importexportstatus" />
    <textarea class="full tall" name="attr_importexport"></textarea>
  </div>
</div>
