<div class="r-tab-content">
  <div class="importexport">
    <h3>Options</h3>
    <input type="hidden" name="attr_version" value="1.1.0" />
    <label>Version: <span name="attr_version"></span></label>
    <input type="hidden" name="attr_migrated" value="0" />
    <label>Migrated: <span name="attr_migrated"></span></label>
    <label
      ><input type="checkbox" name="attr_debug" value="1" /> View Sheet in Debug
      Mode</label
    >
    <hr />
    <label
      ><input type="checkbox" name="attr_opt_pp_extras" value="1" /> Add PP
      bonus to Disarm and Entangle</label
    >
    <p>
      Add bonus from PP attribute to Disarm and Entangle, in addition to
      Strike/Parry/Dodge.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_iq_perception" value="1" /> Add IQ
      bonus to Perception as per Rifter #13, p.16</label
    >
    <p>
      Rifter #13, p.16 describes a Perception bonus based on IQ. Checking this
      will factor in that bonus.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_paired_damage" value="1" /> Apply
      PS damage to <b>each hand</b> in Paired attack</label
    >
    <p>
      If attacking using paired weapons, checking this will apply any PS
      bonus/Punch damage as applicable to <b>each weapon</b> in a Paired Weapons
      attack. Otherwise the PS damage is applied once to the total of both
      hands. If unchecked, this will also divide the PS damage by 2 when using
      Paired Weapons but only striking with one weapon.
    </p>
    <label
      ><input type="checkbox" name="attr_opt_critical" value="1" /> Apply Hand
      to Hand critical (19-20, 18-20) to modern weapons as well</label
    >
    <p>
      If a character has a critical on 19-20 or 18-20 from their Hand to Hand
      skill, apply this to modern weapons as well.
    </p>
    <hr />
    <h3>Import/Export</h3>
    <details>
      <summary><b>Instructions</b></summary>
      <p>
        Click the <b>Export</b> button to get a JSON object representing your
        character. Paste a valid JSON object and click <b>Import</b> to import a
        character.
      </p>
      <p>
        In order to know what the valid fields are, complete all the fields with
        at least one of each repeating section and do an Export.
      </p>
    </details>
    <p>Click <b>Instructions</b> for detailed instructions.</p>
    <button type="action" name="act_import">
      <span></span><span></span><span></span><span></span>
      Import
    </button>
    <button type="action" name="act_export">
      <span></span><span></span><span></span><span></span>
      Export
    </button>
    <!-- <button type="action" name="act_test">Test</button> -->
    <label>Status: <span name="attr_importexportstatus"></span></label>
    <input type="hidden" name="attr_importexportstatus" />
    <textarea class="full tall" name="attr_importexport"></textarea>
  </div>
</div>
