<summary>
  <div class="abilities-list">
    <h5>Info</h5>
    <h5>Ability</h5>
    <h5>Range</h5>
    <h5>Duration</h5>
    <h5>Frequency</h5>
    <h5>Damage</h5>
    <h5></h5>
    <h5 title="Damage Capacity">D.C.</h5>
    <h5>Skill</h5>
    <h5></h5>
    <b class="click-expand"
      ><span class="not-readonly" title="Click for more info"
        >&nbsp;&#9432;</span
      ></b
    >
    <input type="text" value="" name="attr_name" />
    <input type="hidden" value="0" name="attr_range" />
    <span name="attr_range"></span>
    <input type="hidden" value="0" name="attr_duration" />
    <span name="attr_duration"></span>
    <input type="hidden" value="0" name="attr_frequency" />
    <span name="attr_frequency"></span>
    <input type="text" value="0" name="attr_damage" readonly />
    <button
      type="roll"
      value="@{character_name} @{name} [[@{damage}]] @{damage_unit}"
      name="roll_powerability_damage"
    ></button>
    <input type="hidden" value="0" name="attr_dc" />
    <span name="attr_dc"></span>
    <input type="hidden" value="0" name="attr_percentage" />
    <span name="attr_percentage"></span>
    <button
      type="roll"
      value="@{character_name} @{name} check: [[d100<@{percentage}]]"
      name="roll_powerability_skill"
    ></button>
  </div>
</summary>
<br />
<label
  ><input type="checkbox" name="attr_addtobonuses" value="1" /> Add to
  Cumulative Modifiers (Profiles tab)</label
>
<br />
<div class="ability-details">
  <label
    ><span>Starting range</span
    ><input type="number" value="0" name="attr_range_starting"
  /></label>
  <label
    ><span>Range per level</span
    ><input type="number" value="0" name="attr_range_per_level"
  /></label>
  <label
    ><span>Range unit</span
    ><input type="text" value="" name="attr_range_unit" list="distance-units" />
  </label>
  <label
    ><span>Starting duration</span
    ><input type="number" value="0" name="attr_duration_starting"
  /></label>
  <label
    ><span>Duration per level</span
    ><input type="number" value="0" name="attr_duration_per_level"
  /></label>
  <label
    ><span>Duration unit</span
    ><input type="text" value="" name="attr_duration_unit" list="time-units" />
  </label>
  <label
    ><span>Starting frequency</span
    ><input type="number" value="0" name="attr_frequency_starting"
  /></label>
  <label
    ><span>Frequency per level</span
    ><input type="number" value="0" name="attr_frequency_per_level"
  /></label>
  <label
    ><span>Frequency unit</span
    ><input
      type="text"
      value=""
      name="attr_frequency_unit"
      list="frequency-units"
    />
  </label>
  <label
    ><span>Starting damage</span
    ><input type="text" value="0" name="attr_damage_starting"
  /></label>
  <label
    ><span>Damage per level</span
    ><input type="text" value="0" name="attr_damage_per_level"
  /></label>
  <label
    ><span>Damage unit</span
    ><input type="text" value="" name="attr_damage_unit" list="damage-units" />
  </label>
  <label
    ><span>Starting D.C.</span
    ><input type="number" value="0" name="attr_dc_starting"
  /></label>
  <label
    ><span>D.C. per level</span
    ><input type="number" value="0" name="attr_dc_per_level"
  /></label>
  <label
    ><span>D.C. unit</span
    ><input type="text" value="" name="attr_dc_unit" list="damage-units" />
  </label>
  <label
    ><span>Starting skill %</span
    ><input type="number" value="0" name="attr_percentage_starting"
  /></label>
  <label
    ><span>Skill % per level</span
    ><input type="number" value="0" name="attr_percentage_per_level"
  /></label>
  <label></label>
</div>
