<summary>
  <div class="abilities-list">
    <h5>Info</h5>
    <h5>Ability</h5>
    <h5>Range</h5>
    <h5>Duration</h5>
    <h5>Frequency</h5>
    <h5>Damage</h5>
    <h5></h5>
    <h5 title="Damage Capacity">D.C.</h5>
    <h5>Skill</h5>
    <h5></h5>
    <b class="click-expand"
      ><span class="not-readonly" title="Click for more info"
        >&nbsp;&#9432;</span
      ></b
    >
    <input type="text" value="" name="attr_name" />
    <input type="hidden" value="0" name="attr_range" />
    <span name="attr_range"></span>
    <input type="hidden" value="0" name="attr_duration" />
    <span name="attr_duration"></span>
    <input type="hidden" value="0" name="attr_frequency" />
    <span name="attr_frequency"></span>
    <input type="text" value="0" name="attr_damage" readonly />
    <button
      type="roll"
      value="@{character_name} @{name} [[@{damage}]] @{damage_unit}"
      name="roll_powerability_damage"
    ></button>
    <input type="hidden" value="0" name="attr_dc" />
    <span name="attr_dc"></span>
    <input type="hidden" value="0" name="attr_percentage" />
    <span name="attr_percentage"></span>
    <button
      type="roll"
      value="@{character_name} @{name} check: [[d100<@{percentage}]]"
      name="roll_powerability_skill"
    ></button>
  </div>
</summary>
