<input type="hidden" name="attr_bonus_id" value="" />
<h3>Attributes</h3>
<div class="modifiers-attributes">
  <div class="bonus-type-container attributes">
    <label>
      <span style="grid-column: 3 / -1">Bonuses</span>
    </label>
    <label
      ><span title="Intelligence Quotient">I.Q.</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_iq_abs" /><span></span
      ></label>
      <input
        type="number"
        value="0"
        name="attr_mod_iq"
        title="Intelligence Quotient"
      />
      <input
        type="hidden"
        value="0"
        name="attr_mod_iq_bonus"
        title="+ Skills %"
      />
      <span name="attr_mod_iq_bonus" title="+ Skills %"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_perception_bonus"
        title="+ Perception (Rifter #13, p.16)"
      />
      <span
        name="attr_mod_perception_bonus"
        title="+ Perception (Rifter #13, p.16)"
      ></span>
    </label>
    <label
      ><span title="Mental Endurance">M.E.</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_me_abs" /><span></span
      ></label>
      <input
        type="number"
        value="0"
        name="attr_mod_me"
        title="Mental Endurance"
      />
      <input
        type="hidden"
        value="0"
        name="attr_mod_me_bonus"
        title="+ Save vs. Psionics"
      />
      <span name="attr_mod_me_bonus" title="+ Save vs. Psionics"></span>
    </label>
    <label
      ><span title="Mental Affinity">M.A.</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_ma_abs" /><span></span
      ></label>
      <input
        type="number"
        value="0"
        name="attr_mod_ma"
        title="Mental Affinity"
      />
      <input
        type="hidden"
        value="0"
        name="attr_mod_ma_bonus"
        title="% Trust/Intimidate"
      />
      <span name="attr_mod_ma_bonus" title="% Trust/Intimidate"></span>
    </label>
    <label
      ><span title="Physical Strength">P.S.</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_ps_abs" /><span></span
      ></label>
      <input
        type="number"
        value="0"
        name="attr_mod_ps"
        title="Physical Strength"
      />
      <input
        type="hidden"
        value="0"
        name="attr_mod_ps_bonus"
        title="+ SDC Damage"
      />
      <span name="attr_mod_ps_bonus" title="+ SDC Damage"></span>
    </label>
    <label
      ><span title="Physical Prowess">P.P.</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_pp_abs" /><span></span
      ></label>
      <input
        type="number"
        value="0"
        name="attr_mod_pp"
        title="Physical Prowess"
      />
      <input
        type="hidden"
        value="0"
        name="attr_mod_pp_bonus"
        title="+ Strike/Parry/Dodge/Entangle/Disarm"
      />
      <span
        name="attr_mod_pp_bonus"
        title="+ Strike/Parry/Dodge/Entangle/Disarm"
      ></span>
    </label>
    <label
      ><span title="Physical Endurance">P.E.</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_pe_abs" /><span></span
      ></label>
      <input
        type="number"
        value="0"
        name="attr_mod_pe"
        title="Physical Endurance"
      />
      <input
        type="hidden"
        value="0"
        name="attr_mod_pe_bonus"
        title="+ Magic/Poison/Toxins"
      />
      <span name="attr_mod_pe_bonus" title="+ Magic/Poison/Toxins"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_pe_coma_bonus"
        title="+ Coma/Death %"
      />
      <span name="attr_mod_pe_coma_bonus" title="+ Coma/Death %"></span>
    </label>
    <label
      ><span title="Physical Beauty">P.B.</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_pb_abs" /><span></span
      ></label>
      <input
        type="number"
        value="0"
        name="attr_mod_pb"
        title="Physical Beauty"
      />
      <input
        type="hidden"
        value="0"
        name="attr_mod_pb_bonus"
        title="% Charm/Impress"
      />
      <span name="attr_mod_pb_bonus" title="% Charm/Impress"></span>
    </label>
    <label
      ><span title="Speed">Spd</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_spd_abs" /><span></span
      ></label>
      <input type="number" value="0" name="attr_mod_spd" title="Speed"
    /></label>
    <label
      ><span title="Flying Speed">Spd: Fly</span>
      <label class="abs" title="Relative or absolute value"
        ><input type="checkbox" value="1" name="attr_spdfly_abs" /><span></span
      ></label>
      <input
        type="number"
        value="0"
        name="attr_mod_spdfly"
        title="Flying Speed"
    /></label>
  </div>
  <div class="bonus-type-container allow-absolute">
    <label>
      <span title="Hit Points">H.P.</span>
      <span></span>
      <input type="number" value="0" name="attr_hp" title="Hit Points" />
    </label>
    <label>
      <span title="Structural Damage Capacity">S.D.C.</span>
      <span></span>
      <input
        type="number"
        value="0"
        name="attr_sdc"
        title="Structural Damage Capacity"
      />
    </label>
    <label>
      <span title="Armor Rating">A.R.</span>
      <span></span>
      <input type="number" value="0" name="attr_ar" title="Armor Rating" />
    </label>
    <label>
      <span title="Mega Damage Capacity">M.D.C.</span>
      <span></span>
      <input
        type="number"
        value="0"
        name="attr_mdc"
        title="Mega Damage Capacity"
      />
    </label>
    <label>
      <span title="Potential Psychic Energy">P.P.E.</span>
      <span></span>
      <input
        type="number"
        value="0"
        name="attr_ppe"
        title="Potential Psychic Energy"
      />
    </label>
    <label>
      <span title="Inner Strength Points">I.S.P.</span>
      <span></span>
      <input
        type="number"
        value="0"
        name="attr_isp"
        title="Inner Strength Points"
      />
    </label>
    <label>
      <span title="Horror Factor">H.F.</span>
      <label class="abs" title="Relative or absolute value">
        <input type="checkbox" value="1" name="attr_hf_abs" /><span></span>
      </label>
      <input type="number" value="0" name="attr_mod_hf" title="Horror Factor" />
    </label>
    <label>
      <span>Spell Strength</span>
      <label class="abs" title="Relative or absolute value">
        <input type="checkbox" value="1" name="attr_spellstrength_abs" />
        <span></span>
      </label>
      <input type="number" value="0" name="attr_mod_spellstrength" />
    </label>
    <label>
      <span>Trust</span>
      <label class="abs" title="Relative or absolute value">
        <input type="checkbox" value="1" name="attr_trust_abs" />
        <span></span>
      </label>
      <input type="number" value="0" name="attr_mod_trust" />
    </label>
    <label>
      <span>Intimidate</span>
      <label class="abs" title="Relative or absolute value">
        <input type="checkbox" value="1" name="attr_intimidate_abs" />
        <span></span>
      </label>
      <input type="number" value="0" name="attr_mod_intimidate" />
    </label>
    <label>
      <span>Charm/Impress</span>
      <label class="abs" title="Relative or absolute value">
        <input type="checkbox" value="1" name="attr_charmimpress_abs" />
        <span></span>
      </label>
      <input type="number" value="0" name="attr_mod_charmimpress" />
    </label>
    <label>
      <span>Skill Bonus %</span>
      <span></span>
      <input type="number" value="0" name="attr_mod_skillbonus" />
    </label>
  </div>
  <div class="bonus-ps-container">
    <label class="select"
      ><span>PS Type</span>
      <select class="" name="attr_mod_character_ps_type" value="normal">
        <option value="1">Normal</option>
        <option value="2">Augmented</option>
        <option value="3">Robotic</option>
        <option value="3.5">Giant Robotic</option>
        <option value="4">Supernatural</option>
      </select></label
    >
    <label
      ><span>Restrained Punch</span>
      <input type="text" name="attr_mod_restrained_punch" value="0" />
      <select name="attr_mod_restrained_punch_unit" value="sdc">
        <option value="sdc">SDC</option>
        <option value="mdc">MDC</option>
      </select></label
    >

    <label
      ><span>Punch</span>
      <input type="text" name="attr_mod_punch" value="0" />
      <select name="attr_mod_punch_unit" value="sdc">
        <option value="sdc">SDC</option>
        <option value="mdc">MDC</option>
      </select></label
    >

    <label
      ><span>Power Punch</span>
      <input type="text" name="attr_mod_power_punch" value="0" />
      <select name="attr_mod_power_punch_unit" value="sdc">
        <option value="sdc">SDC</option>
        <option value="mdc">MDC</option>
      </select></label
    >

    <label
      ><span>Kick</span>
      <input type="text" name="attr_mod_kick" value="0" />
      <select name="attr_mod_kick_unit" value="sdc">
        <option value="sdc">SDC</option>
        <option value="mdc">MDC</option>
      </select></label
    >

    <label
      ><span>Leap Kick</span>
      <input type="text" name="attr_mod_leap_kick" value="0" />
      <select name="attr_mod_leap_kick_unit" value="sdc">
        <option value="sdc">SDC</option>
        <option value="mdc">MDC</option>
      </select>
    </label>

    <label title="Crazy 2x, Juicer 4x, etc."
      ><span>Lift/Carry Weight Multiplier</span>
      <input
        type="number"
        value="1"
        name="attr_mod_liftcarry_weight_multiplier"
      />
      <span>&#x00D7;</span>
    </label>

    <label title="Crazy, Juicer 10x, etc."
      ><span>Lift/Carry Duration Multiplier</span>
      <input
        type="number"
        value="1"
        name="attr_mod_liftcarry_duration_multiplier"
      />
      <span>&#x00D7;</span>
    </label>

    <label
      ><span>Lift</span>
      <input type="number" value="0" name="attr_mod_lift" />
      <span>lbs</span>
    </label>

    <label
      ><span>Carry</span>
      <input type="number" value="0" name="attr_mod_carry" />
      <span>lbs</span></label
    >

    <label
      ><span>Throw (&frac12; Carry)</span>
      <input type="number" value="0" name="attr_mod_throw_distance" />
      <span>Feet</span></label
    >

    <label
      ><span>Carry Max</span>
      <input type="number" value="0" name="attr_mod_carry_max" /><span
        >Minutes</span
      ></label
    >

    <label
      ><span>Carry (Running)</span>
      <input type="number" value="0" name="attr_mod_carry_running" /><span
        >Minutes</span
      ></label
    >

    <label
      ><span>Hold Max.</span>
      <input type="number" value="0" name="attr_mod_hold_max" /><span
        >Melees</span
      ></label
    >
  </div>
</div>
<hr />
<h3>Combat</h3>
<div class="bonus-type-container">
  <label
    ><span>Attacks</span>
    <input type="number" value="0" name="attr_attacks" />
  </label>
  <label
    ><span>Initiative</span>
    <input type="number" value="0" name="attr_initiative" />
  </label>
</div>
<div class="modifiers-combat">
  <div class="combat-offense-melee bonus-type-container">
    <h3><span>&#x2694;</span> Ancient <span>&#x1F3F9;</span></h3>
    <label
      ><span>Strike</span>
      <input type="number" value="0" name="attr_strike" />
    </label>
    <label
      ><span>Disarm</span>
      <input type="number" value="0" name="attr_disarm" />
    </label>
    <label
      ><span>Entangle</span>
      <input type="number" value="0" name="attr_entangle" />
    </label>
    <label
      ><span>Throw</span>
      <input type="number" value="0" name="attr_throw" />
    </label>
    <label
      ><span>Pull Punch vs. 11</span>
      <input type="number" value="0" name="attr_pull" />
    </label>
    <label
      ><span>Body Flip/Throw</span>
      <input type="number" value="0" name="attr_flipthrow" />
    </label>
    <label
      ><span>Body Block/Tackle</span>
      <input type="number" value="0" name="attr_tackle" />
    </label>
    <label
      ><span>Tripping/Leg Hook</span>
      <input type="number" value="0" name="attr_leghook" />
    </label>
    <label
      ><span>Backward Sweep Kick</span>
      <input type="number" value="0" name="attr_backwardsweepkick" />
    </label>
    <hr />
    <label
      ><span>Critical</span> <input type="number" value="" name="attr_critical"
    /></label>
    <label
      ><span>Knockout</span> <input type="number" value="" name="attr_knockout"
    /></label>
    <label
      ><span>Death Blow</span>
      <input type="number" value="0" name="attr_deathblow"
    /></label>
    <hr />
    <label
      ><span>Damage</span>
      <input type="text" value="0" name="attr_damage" />
    </label>
    <label
      ><span>Damage: Paired</span>
      <input type="text" value="0" name="attr_damage_paired" />
    </label>
    <label
      ><span>Damage: Main Hand</span>
      <input type="text" value="0" name="attr_damage_mainhand" />
    </label>
    <label
      ><span>Damage: Off Hand</span>
      <input type="text" value="0" name="attr_damage_offhand" />
    </label>
  </div>
  <div class="combat-offense-range bonus-type-container">
    <h3><span>&#x1F52B;</span> Modern <span>&#x1F4A3;</span></h3>
    <label
      ><span>Strike</span>
      <input type="number" value="0" name="attr_strike_range" />
    </label>
    <label
      ><span>Strike: Single/Pulse</span>
      <input type="number" value="0" name="attr_strike_range_single" />
    </label>
    <label
      ><span>Strike: Burst</span>
      <input type="number" value="0" name="attr_strike_range_burst" />
    </label>
    <label
      ><span>Strike: Aimed</span>
      <input type="number" value="0" name="attr_strike_range_aimed" />
    </label>
    <label
      ><span>Strike: Aimed Single</span>
      <input type="hidden" value="0" name="attr_strike_range_aimed_single" />
      <span name="attr_strike_range_aimed_single"></span>
    </label>
    <label
      ><span>Strike: Aimed Pulse</span>
      <input type="hidden" value="0" name="attr_strike_range_aimed_pulse" />
      <span name="attr_strike_range_aimed_pulse"></span>
    </label>
    <label
      ><span>Strike: Called</span>
      <input type="number" value="0" name="attr_strike_range_called" />
    </label>
    <label
      ><span>Strike: Called Single</span>
      <input type="hidden" value="0" name="attr_strike_range_called_single" />
      <span name="attr_strike_range_called_single"></span>
    </label>
    <label
      ><span>Strike: Called Pulse</span>
      <input type="hidden" value="0" name="attr_strike_range_called_pulse" />
      <span name="attr_strike_range_called_pulse"></span>
    </label>
    <label
      ><span>Strike: Aimed Called Single</span>
      <input
        type="hidden"
        value="0"
        name="attr_strike_range_aimed_called_single"
      />
      <span name="attr_strike_range_aimed_called_single"></span>
    </label>
    <label
      ><span>Strike: Aimed Called Pulse</span>
      <input
        type="hidden"
        value="0"
        name="attr_strike_range_aimed_called_pulse"
      />
      <span name="attr_strike_range_aimed_called_pulse"></span>
    </label>
    <hr />
    <label
      ><span>Disarm</span>
      <input type="number" value="0" name="attr_disarm_range" />
    </label>
    <hr />
    <label
      ><span>Damage</span>
      <input type="text" value="0" name="attr_damage_range" />
    </label>
    <label
      ><span>Damage: Single</span>
      <input type="text" value="0" name="attr_damage_range_single" />
    </label>
    <label
      ><span>Damage: Pulse/Burst</span>
      <input type="text" value="0" name="attr_damage_range_burst" />
    </label>
  </div>
  <div class="combat-defense bonus-type-container">
    <h3><span>&#x1F6E1;</span> Defense <span>&#x1F977;</span></h3>
    <label
      ><span>Parry</span>
      <input type="number" value="0" name="attr_parry" />
    </label>
    <label
      ><span>Dodge</span>
      <input type="number" value="0" name="attr_dodge" />
    </label>
    <label
      ><span>Dodge: Flight</span>
      <input type="number" value="0" name="attr_dodge_flight" />
    </label>
    <label
      ><span>Dodge: Auto</span>
      <input type="number" value="0" name="attr_dodge_auto" />
    </label>
    <label
      ><span>Dodge: Teleport</span>
      <input type="number" value="0" name="attr_dodge_teleport" />
    </label>
    <label
      ><span>Dodge: Motion</span>
      <input type="number" value="0" name="attr_dodge_motion" />
    </label>
    <label
      ><span>Dodge: Underwater</span>
      <input type="number" value="0" name="attr_dodge_underwater" />
    </label>
    <label
      ><span>Roll w/ Impact</span>
      <input type="number" value="0" name="attr_roll" />
    </label>
    <label
      ><span>Break Fall</span>
      <input type="number" value="0" name="attr_breakfall" />
    </label>
  </div>
  <div class="bonus-type-container">
    <h3><span>&#x1F340;</span> Saving Throws <span>&#x1FAA6;</span></h3>
    <label
      ><span>Coma/Death</span>
      <input type="number" value="0" name="attr_comadeath" />
    </label>
    <label
      ><span>Curses</span>
      <input type="number" value="0" name="attr_curses" />
    </label>
    <label
      ><span>Despair</span>
      <input type="number" value="0" name="attr_despair" />
    </label>
    <label
      ><span>Disease</span>
      <input type="number" value="0" name="attr_disease" />
    </label>
    <label
      ><span>Drugs</span>
      <input type="number" value="0" name="attr_drugs" />
    </label>
    <label
      ><span>Fatigue</span>
      <input type="number" value="0" name="attr_fatigue" />
    </label>
    <label
      ><span>Horror Factor</span>
      <input type="number" value="0" name="attr_horrorfactor" />
    </label>
    <label
      ><span>Illusions</span>
      <input type="number" value="0" name="attr_illusions" />
    </label>
    <label
      ><span>Insanity</span>
      <input type="number" value="0" name="attr_insanity" />
    </label>
    <label
      ><span>Magic</span>
      <input type="number" value="0" name="attr_magic" />
    </label>
    <label
      ><span>Maintain Balance</span>
      <input type="number" value="0" name="attr_maintainbalance" />
    </label>
    <label
      ><span>Mind Control</span>
      <input type="number" value="0" name="attr_mindcontrol" />
    </label>
    <label
      ><span>Pain</span>
      <input type="number" value="0" name="attr_pain" />
    </label>
    <label
      ><span>Perception</span>
      <input type="number" value="0" name="attr_perceptioncheck" />
    </label>
    <label
      ><span>Poison: Lethal</span>
      <input type="number" value="0" name="attr_lethalpoison" />
    </label>
    <label
      ><span>Poison: Non-Lethal</span>
      <input type="number" value="0" name="attr_nonlethalpoison" />
    </label>
    <label
      ><span>Possession</span>
      <input type="number" value="0" name="attr_possession" />
    </label>
    <label
      ><span>Psionics</span>
      <input type="number" value="0" name="attr_psionics" />
    </label>
    <label
      ><span>Telepathic Probes</span>
      <input type="number" value="0" name="attr_telepathicprobes" />
    </label>
  </div>
</div>
<hr />
