<p>
  The Modifiers section has fields for <b>anything</b> that can be modified.
  Attributes, PS type, MDC, ISP, PPE, combat bonuses, saving throw bonuses, etc.
  This section is available for any Ability, Psionic, Magic, as well in its own
  Modifiers tab. If you have a magic amulet that gives +1 to save vs. magic,
  create an entry on the Modifier tab and add it. If you have an NG-P7 that does
  1d4*10 damage, create an entry on the Modifier tab and add it. Superhuman
  Speed sets your speed to an absolute value of 44 and adds +2 to parry and +6
  to dodge. Add those in the modifiers section in the spell details on the Magic
  tab. Use the
  <label class="abs" title="Relative or absolute value"
    ><input type="checkbox" value="1" /><span></span
  ></label>
  button/toggle next to Spd to indicate that the value is absolute, and not
  additive. If adding a Magic Spell, Psionic, or Ability that includes
  modifiers, check the <b>Add to Profiles</b> checkbox. This will make those
  modifiers available on the Profiles tab to be used in a Profile (see the
  Profiles tab instructions for details).
</p>
<p>
  Note that each section includes a read-only Row ID that can be used in macros.
</p>
<p>
  Don't forget to copy/paste the power description into the Description field to
  make life easier for your GM. Also use that field for any macros you may need
  like Strike with an arbitrary bonus.
</p>
