<input type="hidden" name="attr_bonus_id" value="" />
<h3>Attributes</h3>
<div class="modifiers-attributes">
  <div class="bonus-type-container attributes">
    <label>
      <span style="grid-column: 3 / -1">Bonuses</span>
    </label>
    <label
      ><span>I.Q.</span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_iq"
        title="Intelligence Quotient"
      />
      <span name="attr_mod_iq" title="Intelligence Quotient"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_iq_bonus"
        title="+ Skills %"
      />
      <span name="attr_mod_iq_bonus" title="+ Skills %"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_perception_bonus"
        title="+ Perception (Rifter #13, p.16)"
      />
      <span
        name="attr_mod_perception_bonus"
        title="+ Perception (Rifter #13, p.16)"
      ></span>
    </label>
    <label
      ><span>M.E.</span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_me"
        title="Mental Endurance"
      />
      <span name="attr_mod_me" title="Mental Endurance"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_me_bonus"
        title="+ Save vs. Psionics"
      />
      <span name="attr_mod_me_bonus" title="+ Save vs. Psionics"></span>
    </label>
    <label
      ><span>M.A.</span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_ma"
        title="Mental Affinity"
      />
      <span name="attr_mod_ma" title="Mental Affinity"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_ma_bonus"
        title="% Trust/Intimidate"
      />
      <span name="attr_mod_ma_bonus" title="% Trust/Intimidate"></span>
    </label>
    <label
      ><span>P.S.</span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_ps"
        title="Physical Strength"
      />
      <span name="attr_mod_ps" title="Physical Strength"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_ps_bonus"
        title="+ SDC Damage"
      />
      <span name="attr_mod_ps_bonus" title="+ SDC Damage"></span>
    </label>
    <label
      ><span>P.P.</span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_pp"
        title="Physical Prowess"
      />
      <span name="attr_mod_pp" title="Physical Prowess"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_pp_bonus"
        title="+ Strike/Parry/Dodge/Entangle/Disarm"
      />
      <span
        name="attr_mod_pp_bonus"
        title="+ Strike/Parry/Dodge/Entangle/Disarm"
      ></span>
    </label>
    <label
      ><span>P.E.</span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_pe"
        title="Physical Endurance"
      />
      <span name="attr_mod_pe" title="Physical Endurance"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_pe_bonus"
        title="+ Magic/Poison/Toxins"
      />
      <span name="attr_mod_pe_bonus" title="+ Magic/Poison/Toxins"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_pe_coma_bonus"
        title="+ Coma/Death %"
      />
      <span name="attr_mod_pe_coma_bonus" title="+ Coma/Death %"></span>
    </label>
    <label
      ><span>P.B.</span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_pb"
        title="Physical Beauty"
      />
      <span name="attr_mod_pb" title="Physical Beauty"></span>
      <input
        type="hidden"
        value="0"
        name="attr_mod_pb_bonus"
        title="% Charm/Impress"
      />
      <span name="attr_mod_pb_bonus" title="% Charm/Impress"></span>
    </label>
    <label
      ><span>Spd</span>
      <input type="hidden" value="0" name="attr_mod_spd" title="Speed" />
      <span name="attr_mod_spd" title="Speed"></span>
    </label>
  </div>
  <div class="bonus-type-container">
    <label
      ><span title="Hit Points">H.P.</span
      ><input type="hidden" value="0" name="attr_hp" />
      <span name="attr_hp"></span>
    </label>
    <label
      ><span>S.D.C.</span><input type="hidden" value="0" name="attr_sdc" />
      <span name="attr_sdc"></span>
    </label>
    <label
      ><span>A.R.</span><input type="hidden" value="0" name="attr_ar" />
      <span name="attr_ar"></span>
    </label>
    <label
      ><span>M.D.C.</span><input type="hidden" value="0" name="attr_mdc" />
      <span name="attr_mdc"></span>
    </label>
    <label
      ><span>P.P.E.</span><input type="hidden" value="0" name="attr_ppe" />
      <span name="attr_ppe"></span>
    </label>
    <label
      ><span>I.S.P.</span><input type="hidden" value="0" name="attr_isp" />
      <span name="attr_isp"></span>
    </label>
    <label
      ><span>H.F.</span><input type="hidden" value="0" name="attr_mod_hf" />
      <span name="attr_mod_hf"></span>
    </label>
    <label>
      <span>Spell Strength</span>
      <input type="hidden" value="0" name="attr_mod_spellstrength" />
      <span name="attr_mod_spellstrength"></span>
    </label>
    <label>
      <span>Trust/Intimidate</span>
      <input type="hidden" value="0" name="attr_mod_trustintimidate" />
      <span name="attr_mod_trustintimidate"></span>
      <button
        type="roll"
        value="@{character_name} Trust/Intimidate check: [[d100<@{mod_trustintimidate}]]"
        name="roll_trustintimidate"
      ></button>
    </label>
    <label>
      <span>Charm/Impress</span>
      <input type="hidden" value="0" name="attr_mod_charmimpress" />
      <span name="attr_mod_charmimpress"></span>
      <button
        type="roll"
        value="@{character_name} Charm/Impress check: [[d100<@{mod_charmimpress}]]"
        name="roll_charmimpress"
      ></button>
    </label>
    <label>
      <span>Skill Bonus %</span>
      <input type="hidden" value="0" name="attr_mod_skillbonus" />
      <span name="attr_mod_skillbonus"></span>
    </label>
  </div>
  <div class="bonus-ps-container">
    <label class="select"
      ><span>PS Type</span>
      <input type="hidden" name="attr_mod_character_ps_type" />
      <input type="hidden" name="attr_mod_character_ps_type_name" />
      <span class="twospan2" name="attr_mod_character_ps_type_name"></span>
    </label>
    <label
      ><span>Restrained Punch</span>
      <input type="hidden" name="attr_mod_restrained_punch" value="0" />
      <span name="attr_mod_restrained_punch"></span>
      <input type="hidden" name="attr_mod_restrained_punch_unit" />
      <span name="attr_mod_restrained_punch_unit"></span>
    </label>

    <label
      ><span>Punch</span>
      <input type="hidden" name="attr_mod_punch" value="0" />
      <span name="attr_mod_punch"></span>
      <input type="hidden" name="attr_mod_punch_unit" />
      <span name="attr_mod_punch_unit"></span>
    </label>

    <label
      ><span>Power Punch</span>
      <input type="hidden" name="attr_mod_power_punch" value="0" />
      <span name="attr_mod_power_punch"></span>
      <input type="hidden" name="attr_mod_power_punch_unit" />
      <span name="attr_mod_power_punch_unit"></span>
    </label>

    <label
      ><span>Kick</span>
      <input type="hidden" name="attr_mod_kick" value="0" />
      <span name="attr_mod_kick"></span>
      <input type="hidden" name="attr_mod_kick_unit" />
      <span name="attr_mod_kick_unit"></span>
    </label>

    <label
      ><span>Leap Kick</span>
      <input type="hidden" name="attr_mod_leap_kick" value="0" />
      <span name="attr_mod_leap_kick"></span>
      <input type="hidden" name="attr_mod_leap_kick_unit" />
      <span name="attr_mod_leap_kick_unit"></span>
    </label>

    <label
      ><span>Lift</span>
      <input type="hidden" value="0" name="attr_mod_lift" value="0" />
      <span name="attr_mod_lift"></span>
      <span>lbs</span>
    </label>

    <label
      ><span>Carry</span>
      <input type="hidden" value="0" name="attr_mod_carry" value="0" />
      <span name="attr_mod_carry"></span>
      <span>lbs</span>
    </label>

    <label
      ><span>Throw (&frac12; Carry)</span>
      <input type="hidden" value="0" name="attr_mod_throw_distance" value="0" />
      <span name="attr_mod_throw_distance"></span>
      <span>Feet</span></label
    >

    <label
      ><span>Carry Max</span>
      <input type="hidden" value="0" name="attr_mod_carry_max" />
      <span name="attr_mod_carry_max"></span>
      <span>Minutes</span>
    </label>

    <label
      ><span>Carry (Running)</span>
      <input type="hidden" value="0" name="attr_mod_carry_running" />
      <span name="attr_mod_carry_running"></span>
      <span>Minutes</span></label
    >

    <label
      ><span>Hold Max.</span>
      <input type="hidden" value="0" name="attr_mod_hold_max" />
      <span name="attr_mod_hold_max"></span>
      <span>Melees</span></label
    >
  </div>
</div>
<hr />
<h3>Combat</h3>
<div class="bonus-type-container">
  <label
    ><span>Attacks</span>
    <input type="hidden" value="0" name="attr_attacks" />
    <span name="attr_attacks"></span>
  </label>
</div>
<div class="modifiers-combat">
  <div class="combat-offense-melee bonus-type-container">
    <h1>&#x2694; &#x1F3AF;</h1>
    <label
      ><span>Initiative</span>
      <input type="hidden" value="0" name="attr_initiative" />
      <span name="attr_initiative"></span>
      <button
        type="roll"
        value="Initiative: [[d20+@{initiative}]]"
        name="roll_bonus_initiative"
      ></button>
    </label>
    <label
      ><span>Strike</span>
      <input type="hidden" value="0" name="attr_strike" />
      <span name="attr_strike"></span>
      <button
        type="roll"
        value="Strike: [[d20+@{strike}]]"
        name="roll_bonus_strike"
      ></button>
    </label>
    <label
      ><span>Disarm</span>
      <input type="hidden" value="0" name="attr_disarm" />
      <span name="attr_disarm"></span>
      <button
        type="roll"
        value="Disarm: [[d20+@{disarm}]]"
        name="roll_bonus_disarm"
      ></button>
    </label>
    <label
      ><span>Entangle</span>
      <input type="hidden" value="0" name="attr_entangle" />
      <span name="attr_entangle"></span>
      <button
        type="roll"
        value="Entangle: [[d20+@{entangle}]]"
        name="roll_bonus_entangle"
      ></button>
    </label>
    <label
      ><span>Throw</span>
      <input type="hidden" value="0" name="attr_throw" />
      <span name="attr_throw"></span>
      <button
        type="roll"
        value="Throw: [[d20+@{throw}]]"
        name="roll_bonus_throw"
      ></button>
    </label>
    <label
      ><span>Pull Punch</span>
      <input type="hidden" value="0" name="attr_pull" />
      <span name="attr_pull"></span>
      <button
        type="roll"
        value="Pull Punch: [[d20+@{pull}]]"
        name="roll_bonus_pull"
      ></button>
    </label>
    <label
      ><span>Body Flip/Throw</span>
      <input type="hidden" value="0" name="attr_flipthrow" />
      <span name="attr_flipthrow"></span>
      <button
        type="roll"
        value="Body Flip/Throw: [[d20+@{flipthrow}]]"
        name="roll_bonus_flipthrow"
      ></button>
    </label>
  </div>
  <div class="combat-offense-range bonus-type-container">
    <h1>&#x1F52B;</h1>
    <label
      ><span>Strike: Range</span>
      <input type="hidden" value="0" name="attr_strike_range" />
      <span name="attr_strike_range"></span>
      <button
        type="roll"
        value="Range Strike: [[d20+@{strike_range}]]"
        name="roll_bonus_strike_range"
      ></button>
    </label>
    <label
      ><span>Range: Single</span>
      <input type="hidden" value="0" name="attr_strike_range_single" />
      <span name="attr_strike_range_single"></span>
      <button
        type="roll"
        value="Range Strike: [[d20+@{strike_range_single}]]"
        name="roll_bonus_strike_range_single"
      ></button>
    </label>
    <label
      ><span>Range: Burst</span>
      <input type="hidden" value="0" name="attr_strike_range_burst" />
      <span name="attr_strike_range_burst"></span>
      <button
        type="roll"
        value="Range Strike: [[d20+@{strike_range_burst}]]"
        name="roll_bonus_strike_range_burst"
      ></button>
    </label>
    <label
      ><span>Range: Aimed</span>
      <input type="hidden" value="0" name="attr_strike_range_aimed" />
      <span name="attr_strike_range_aimed"></span>
      <button
        type="roll"
        value="Range Aimed Strike: [[d20+@{strike_range_aimed}]]"
        name="roll_bonus_strike_range_aimed"
      ></button>
    </label>
    <label
      ><span>Range: Aimed Single</span>
      <input type="hidden" value="0" name="attr_strike_range_aimed_single" />
      <span name="attr_strike_range_aimed_single"></span>
      <button
        type="roll"
        value="Range Aimed Single Strike: [[d20+@{strike_range_aimed_single}]]"
        name="roll_bonus_strike_range_aimed_single"
      ></button>
    </label>
    <label
      ><span>Range: Aimed Pulse</span>
      <input type="hidden" value="0" name="attr_strike_range_aimed_pulse" />
      <span name="attr_strike_range_aimed_pulse"></span>
      <button
        type="roll"
        value="Range Aimed Pulse Strike: [[d20+@{strike_range_aimed_pulse}]]"
        name="roll_bonus_strike_range_aimed_pulse"
      ></button>
    </label>
    <label
      ><span>Range: Called</span>
      <input type="hidden" value="0" name="attr_strike_range_called" />
      <span name="attr_strike_range_called"></span>
      <button
        type="roll"
        value="Range Called Strike: [[d20+@{strike_range_called}]]"
        name="roll_bonus_strike_range_called"
      ></button>
    </label>
    <label
      ><span>Range: Called Single</span>
      <input type="hidden" value="0" name="attr_strike_range_called_single" />
      <span name="attr_strike_range_called_single"></span>
      <button
        type="roll"
        value="Range Called Single Strike: [[d20+@{strike_range_called_single}]]"
        name="roll_bonus_strike_range_called_single"
      ></button>
    </label>
    <label
      ><span>Range: Called Pulse</span>
      <input type="hidden" value="0" name="attr_strike_range_called_pulse" />
      <span name="attr_strike_range_called_pulse"></span>
      <button
        type="roll"
        value="Range Called Pulse Strike: [[d20+@{strike_range_called_pulse}]]"
        name="roll_bonus_strike_range_called_pulse"
      ></button>
    </label>
    <label
      ><span>Range: Aimed Called Single</span>
      <input
        type="hidden"
        value="0"
        name="attr_strike_range_aimed_called_single"
      />
      <span name="attr_strike_range_aimed_called_single"></span>
      <button
        type="roll"
        value="Range Aimed Called Single Strike: [[d20+@{strike_range_aimed_called_single}]]"
        name="roll_bonus_strike_range_aimed_called_single"
      ></button>
    </label>
    <label
      ><span>Range: Aimed Called Pulse</span>
      <input
        type="hidden"
        value="0"
        name="attr_strike_range_aimed_called_pulse"
      />
      <span name="attr_strike_range_aimed_called_pulse"></span>
      <button
        type="roll"
        value="Range Aimed Called Pulse Strike: [[d20+@{strike_range_aimed_called_pulse}]]"
        name="roll_bonus_strike_range_aimed_called_pulse"
      ></button>
    </label>
    <label
      ><span>Disarm: Range</span>
      <input type="hidden" value="0" name="attr_disarm_range" />
      <span name="attr_disarm_range"></span>
      <button
        type="roll"
        value="Range Disarm: [[d20+@{disarm_range}]]"
        name="roll_bonus_disarm_range"
      ></button>
    </label>
  </div>
  <div class="combat-defense bonus-type-container">
    <h1>&#x1F6E1;</h1>
    <label
      ><span>Parry</span>
      <input type="hidden" value="0" name="attr_parry" />
      <span name="attr_parry"></span>
      <button
        type="roll"
        value="Parry: [[d20+@{parry}]]"
        name="roll_bonus_parry"
      ></button>
    </label>
    <label
      ><span>Dodge</span>
      <input type="hidden" value="0" name="attr_dodge" />
      <span name="attr_dodge"></span>
      <button
        type="roll"
        value="Dodge: [[d20+@{dodge}]]"
        name="roll_bonus_dodge"
      ></button>
    </label>
    <label
      ><span>Dodge: Flight</span>
      <input type="hidden" value="0" name="attr_dodge_flight" />
      <span name="attr_dodge_flight"></span>
      <button
        type="roll"
        value="Dodge in Flight: [[d20+@{dodge_flight}]]"
        name="roll_bonus_dodge_flight"
      ></button>
    </label>
    <label
      >Dodge: Auto
      <input type="hidden" value="0" name="attr_dodge_auto" />
      <span name="attr_dodge_auto"></span>
      <button
        type="roll"
        value="Auto Dodge: [[d20+@{dodge_auto}]]"
        name="roll_bonus_dodge_auto"
      ></button>
    </label>
    <label
      ><span>Dodge: Teleport</span>
      <input type="hidden" value="0" name="attr_dodge_teleport" />
      <span name="attr_dodge_auto"></span>
      <button
        type="roll"
        value="Teleport Dodge: [[d20+@{dodge_teleport}]]"
        name="roll_bonus_dodge_teleport"
      ></button>
    </label>
    <label
      ><span>Dodge: Motion</span>
      <input type="hidden" value="0" name="attr_dodge_motion" />
      <span name="attr_dodge_motion"></span>
      <button
        type="roll"
        value="Dodge in Motion: [[d20+@{dodge_motion}]]"
        name="roll_bonus_dodge_motion"
      ></button>
    </label>
    <label
      ><span>Roll w/ Impact</span>
      <input type="hidden" value="0" name="attr_roll" />
      <span name="attr_roll"></span>
      <button
        type="roll"
        value="Roll w/ Impact: [[d20+@{roll}]]"
        name="roll_bonus_roll"
      ></button>
    </label>
  </div>
  <div class="combat-damage bonus-type-container">
    <h1>&#x1FA78; &#x1F4A3; &#x26B0;</h1>
    <label
      ><span>Damage</span>
      <input type="hidden" value="0" name="attr_damage" />
      <span name="attr_damage"></span>
      <button
        type="roll"
        value="?{Add damage modifier?|
          None,Damage: [[@{damage}]]|
          Punch,Damage: [[@{damage}+@{mod_punch}]]|
          P.S. Bonus,Damage: [[@{damage}+@{mod_ps_bonus}]]
        }"
        name="roll_bonus_damage"
      ></button>
    </label>
    <label
      ><span>Damage: Range</span>
      <input type="hidden" value="0" name="attr_damage_range" />
      <span name="attr_damage_range"></span>
      <button
        type="roll"
        value="Range Damage: [[@{damage_range}]]"
        name="roll_bonus_damage_range"
      ></button>
    </label>
    <label
      ><span>Critical</span>
      <input type="hidden" value="" name="attr_critical" />
      <span name="attr_critical"></span>
    </label>
    <label
      ><span>Knockout</span>
      <input type="hidden" value="" name="attr_knockout" />
      <span name="attr_knockout"></span>
    </label>
    <label
      ><span>Death Blow</span>
      <input type="hidden" value="0" name="attr_deathblow" />
      <span name="attr_deathblow"></span>
    </label>
  </div>
</div>
<div class="bonus-type-container"></div>
<hr />
<h3>Saving Throws</h3>
<div class="bonus-type-container">
  <label
    ><span>Perception</span>
    <input type="hidden" value="0" name="attr_perceptioncheck" />
    <span name="attr_perceptioncheck"></span>
    <button
      type="roll"
      value="Perception Check: [[d20+@{perceptioncheck}]]"
      name="roll_bonus_perceptioncheck"
    ></button>
  </label>
  <label
    ><span>Psionics</span>
    <input type="hidden" value="0" name="attr_psionics" />
    <span name="attr_psionics"></span>
    <button
      type="roll"
      value="Save vs. Psionics: [[d20>[[@{psionic_ability}-@{psionics}]]]]"
      name="roll_save_psionics"
    ></button>
  </label>
  <label
    ><span>Magic</span>
    <input type="hidden" value="0" name="attr_magic" />
    <span name="attr_magic"></span>
    <button
      type="roll"
      value="Save vs. Magic: [[d20+@{magic}]]"
      name="roll_bonus_magic"
    ></button>
  </label>
  <label
    ><span>Horror Factor</span>
    <input type="hidden" value="0" name="attr_horrorfactor" />
    <span name="attr_horrorfactor"></span>
    <button
      type="roll"
      value="Save vs. Horror Factor: [[d20+@{horrorfactor}]]"
      name="roll_bonus_horrorfactor"
    ></button>
  </label>
  <label
    ><span>Mind Control</span>
    <input type="hidden" value="0" name="attr_mindcontrol" />
    <span name="attr_mindcontrol"></span>
    <button
      type="roll"
      value="Save vs. Mind Control: [[d20+@{mindcontrol}]]"
      name="roll_bonus_mindcontrol"
    ></button>
  </label>
  <label
    ><span>Disease</span>
    <input type="hidden" value="0" name="attr_disease" />
    <span name="attr_disease"></span>
    <button
      type="roll"
      value="Save vs. Disease: [[d20+@{disease}]]"
      name="roll_bonus_disease"
    ></button>
  </label>
  <label
    ><span>Illusions</span>
    <input type="hidden" value="0" name="attr_illusions" />
    <span name="attr_illusions"></span>
    <button
      type="roll"
      value="Save vs. Illusions: [[d20+@{illusions}]]"
      name="roll_bonus_illusions"
    ></button>
  </label>
  <label
    ><span>Possession</span>
    <input type="hidden" value="0" name="attr_possession" />
    <span name="attr_possession"></span>
    <button
      type="roll"
      value="Save vs. Possession: [[d20+@{possession}]]"
      name="roll_bonus_possession"
    ></button>
  </label>
  <label
    ><span>Insanity</span>
    <input type="hidden" value="0" name="attr_insanity" />
    <span name="attr_insanity"></span>
    <button
      type="roll"
      value="Save vs. Insanity: [[d20+@{insanity}]]"
      name="roll_bonus_insanity"
    ></button>
  </label>
  <label
    ><span>Pain</span>
    <input type="hidden" value="0" name="attr_pain" />
    <span name="attr_pain"></span>
    <button
      type="roll"
      value="Save vs. Pain: [[d20+@{pain}]]"
      name="roll_bonus_pain"
    ></button>
  </label>
  <label
    ><span>Lethal Poison</span>
    <input type="hidden" value="0" name="attr_lethalpoison" />
    <span name="attr_lethalpoison"></span>
    <button
      type="roll"
      value="Save vs. Lethal Poison: [[d20+@{lethalpoison}]]"
      name="roll_bonus_lethalpoison"
    ></button>
  </label>
  <label
    ><span>Non-Lethal Poison</span>
    <input type="hidden" value="0" name="attr_nonlethalpoison" />
    <span name="attr_nonlethalpoison"></span>
    <button
      type="roll"
      value="Save vs. Non-Lethal Poison: [[d20+@{nonlethalpoison}]]"
      name="roll_bonus_nonlethalpoison"
    ></button>
  </label>
  <label
    ><span>Drugs</span>
    <input type="hidden" value="0" name="attr_drugs" />
    <span name="attr_drugs"></span>
    <button
      type="roll"
      value="Save vs. Drugs: [[d20+@{drugs}]]"
      name="roll_bonus_drugs"
    ></button>
  </label>
  <label
    ><span>Curses</span>
    <input type="hidden" value="0" name="attr_curses" />
    <span name="attr_curses"></span>
    <button
      type="roll"
      value="Save vs. Curses: [[d20+@{curses}]]"
      name="roll_bonus_curses"
    ></button>
  </label>
  <label
    ><span>Coma/Death</span>
    <input type="hidden" value="0" name="attr_comadeath" />
    <span name="attr_comadeath"></span>
    <button
      type="roll"
      value="Save vs. Coma/Death: [[d100-@{comadeath}]]"
      name="roll_bonus_comadeath"
    ></button>
  </label>
</div>
<label class="description"
  ><b>Description</b>
  <textarea class="full" name="attr_description" value=""></textarea>
</label>
<div class="macro-help">
  <label
    ><span><b>Row ID:</b></span>
    <input type="text" readonly name="attr_rowid" value=""
  /></label>
</div>
