<!-- https://wiki.roll20.net/Building_Character_Sheets/Roll_Templates#Jakob.27s_Better_Default_Rolltemplate -->

<rolltemplate class="sheet-rolltemplate-skill">
  <div class="sheet-container sheet-color-{{color}}">
    <div class="sheet-header">
      {{#title}}
      <div class="sheet-title">{{title}}</div>
      {{/title}} {{#subtitle}}
      <div class="sheet-subtitle">{{subtitle}}</div>
      {{/subtitle}}
    </div>
    <div class="sheet-content">
      <div class="sheet-key">Skill %</div>
      <div class="sheet-value">{{target}}</div>
      <div class="sheet-key">Roll</div>
      <div class="sheet-value">{{roll}}</div>
      <!-- -->
      {{#rollLess() add_skill 1}}
      <!-- -->
      {{#rollGreater() roll target }}
      <!-- -->
      <div class="sheet-template-row">Failure!</div>
      <!-- -->
      {{/rollGreater() roll target }}
      <!-- -->
      {{#^rollGreater() roll target }}
      <!-- -->
      {{#successtext}}
      <!-- -->
      <div class="sheet-template-row">{{successtext}}</div>
      <!-- -->
      {{/successtext}}
      <!-- -->
      {{^successtext}}
      <!-- -->
      <div class="sheet-template-row">Success!</div>
      <!-- -->
      {{/successtext}}
      <!-- -->
      {{/^rollGreater() roll target }}
      <!-- -->
      {{/rollLess() add_skill 1}}
      <!-- -->
      {{#^rollLess() add_skill 1}}
      <!-- -->
      <div class="sheet-key">Total</div>
      <div class="sheet-value">{{total}}</div>
      <!-- -->
      {{#rollLess() total 101 }}
      <div class="sheet-template-row">Failure!</div>
      {{/rollLess() total 101 }}
      <!-- -->
      {{#^rollLess() total 101 }}
      <!-- -->
      {{#successtext}}
      <div class="sheet-template-row">{{successtext}}</div>
      {{/successtext}}
      <!-- -->
      {{^successtext}}
      <div class="sheet-template-row">Success!</div>
      {{/successtext}}
      <!-- -->
      {{/^rollLess() total 101 }}
      <!-- -->
      {{/^rollLess() add_skill 1}}
    </div>
  </div>
</rolltemplate>

<!-- goe=Greater or Equal -->
<rolltemplate class="sheet-rolltemplate-goe">
  <div class="sheet-container sheet-color-{{color}}">
    <div class="sheet-header">
      {{#title}}
      <div class="sheet-title">{{title}}</div>
      {{/title}} {{#subtitle}}
      <div class="sheet-subtitle">{{subtitle}}</div>
      {{/subtitle}}
    </div>
    <div class="sheet-content">
      <div class="sheet-key">Target</div>
      <div class="sheet-value">{{target}}</div>
      <div class="sheet-key">Roll</div>
      <div class="sheet-value">{{roll}}</div>
      {{#rollLess() roll target }}
      <div class="sheet-template-row">Failure!</div>
      {{/rollLess() roll target }}
      <!-- -->
      {{#^rollLess() roll target }}
      <div class="sheet-template-row">Success!</div>
      {{/^rollLess() roll target }}
    </div>
  </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-strike">
  <div class="sheet-container sheet-color-{{color}}">
    <div class="sheet-header">
      {{#title}}
      <div class="sheet-title">{{title}}</div>
      {{/title}} {{#subtitle}}
      <div class="sheet-subtitle">{{subtitle}}</div>
      {{/subtitle}}
    </div>
    <div class="sheet-content">
      {{#rollWasCrit() strikeroll}}
      <div class="sheet-key">Crit!</div>
      <div class="sheet-value">{{strikeroll}}</div>
      {{/rollWasCrit() strikeroll}}
      <!-- -->
      {{#^rollWasCrit() strikeroll}}
      <div class="sheet-key">Strike</div>
      <div class="sheet-value">{{strikeroll}}</div>
      {{/^rollWasCrit() strikeroll}}
    </div>
  </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-custom">
  <div class="sheet-container sheet-color-{{color}}">
    <div class="sheet-header">
      {{#title}}
      <div class="sheet-title">{{title}}</div>
      {{/title}} {{#subtitle}}
      <div class="sheet-subtitle">{{subtitle}}</div>
      {{/subtitle}}
    </div>
    <div class="sheet-content">
      {{#allprops() title subtitle desc color}}
      <div class="sheet-key">{{key}}</div>
      <div class="sheet-value">{{value}}</div>
      {{/allprops() title subtitle desc color}}
      <!-- -->
      {{#desc}}
      <div class="sheet-desc">{{desc}}</div>
      {{/desc}}
    </div>
  </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-initiative">
  <div class="sheet-container sheet-color-{{color}}">
    <div class="sheet-header">
      {{#title}}
      <div class="sheet-title">{{title}}</div>
      {{/title}} {{#subtitle}}
      <div class="sheet-subtitle">{{subtitle}}</div>
      {{/subtitle}}
    </div>
    <div class="sheet-content">
      <div class="sheet-key">Dice Roll</div>
      <div class="sheet-value">{{diceroll}}</div>
      <div class="sheet-key">Mod {{modifier}}</div>
      <div class="sheet-value">{{computed::diceroll}}</div>
      {{#desc}}
      <div class="sheet-desc">{{desc}}</div>
      {{/desc}}
    </div>
  </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-damage">
  <div class="sheet-container sheet-color-{{color}}">
    <span class="character_name">{{character_name}}</span> got hit for
    <span class="spent">{{spent}}</span> points of damage, reducing their
    <span class="name">{{name}}</span> to
    <span class="remaining">{{remaining}}</span>!
  </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-castspell">
  <div class="sheet-container sheet-color-{{color}}">
    <span class="character_name">{{character_name}}</span> casts
    <span class="name">{{name}}</span> for
    <span class="spent">{{spent}}</span> PPE, leaving them
    <span class="remaining">{{remaining}}</span> PPE!
  </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-usepsionic">
  <div class="sheet-container sheet-color-{{color}}">
    <span class="character_name">{{character_name}}</span> uses
    <span class="name">{{name}}</span> for
    <span class="spent">{{spent}}</span> ISP, leaving them
    <span class="remaining">{{remaining}}</span> ISP!
  </div>
</rolltemplate>
