<rolltemplate class="sheet-rolltemplate-skill">
  <div class="sheet-template-container">
    <div class="sheet-template-header">{{name}} uses {{skill}}</div>
    <div class="sheet-template-row">Skill Check: {{roll}} / {{target}}</div>
    {{#rollGreater() roll target }}
    <div class="sheet-template-row">Failure!</div>
    {{/rollGreater() roll target }}
    <!-- -->
    {{#^rollGreater() roll target }}
    <div class="sheet-template-row">Success!</div>
    {{/^rollGreater() roll target }}
  </div>
</rolltemplate>
