<div class="skills">
  <h3>Skills</h3>
  <div class="heading">
    <h5>Info</h5>
    <h5>Skill</h5>
    <h5>Category</h5>
    <h5>Base</h5>
    <h5>Per Level</h5>
    <h5>Bonus</h5>
    <h5>Level Acquired</h5>
    <h5>Level</h5>
    <h5>Total</h5>
    <h5></h5>
  </div>
  <fieldset class="repeating_skills">
    <input type="hidden" name="attr_new" value="1" />
    <details class="info">
      <summary>
        <div class="values">
          <b class="click-expand"
            ><span title="Click for more info">&nbsp;&#9432;</span></b
          >
          <input type="text" value="" name="attr_name" />
          <select name="attr_category" value="occ">
            <option value="occ">O.C.C.</option>
            <option value="related">O.C.C. Related</option>
            <option value="secondary">Secondary</option>
            <option value="rcc">R.C.C.</option>
            <option value="racial">Racial</option>
            <option value="other">Other</option>
          </select>
          <input type="number" value="0" name="attr_base" />
          <input type="number" value="0" name="attr_perlevel" />
          <input type="number" value="0" name="attr_bonus" />
          <input type="number" value="1" name="attr_levelacquired" />
          <span class="readonly" name="attr_level"></span>
          <input type="hidden" value="1" name="attr_level" />
          <input type="hidden" value="0" name="attr_total" />
          <span class="readonly" name="attr_total"></span>
          <button
            type="roll"
            value="@{opt_whisper}&{template:skill} [[ [[{@{total}+?{Modifier?|0},98}kl1]] + [[1d100]] ]] {{title=@{character_name} uses @{name}}} {{target=$[[0]]}} {{roll=$[[1]]}} {{total=$[[2]]}} {{add_skill=[[@{opt_add_skill}]]}}"
            name="roll_skill"
          ></button>
        </div>
      </summary>
      <div class="details-body">
        <textarea class="full" name="attr_description" value=""></textarea>
        <div class="macro-help">
          <label
            ><span><b>Row ID:</b></span>
            <input type="text" readonly name="attr_rowid" value=""
          /></label>
        </div>
      </div>
    </details>
  </fieldset>
</div>
