<h3>Weapon Proficiencies</h3>
<div class="wp-container">
  <details>
    <summary><b>Instructions</b></summary>
    <p>
      Add a row and select a WP from the list. Weapon Proficiencies
      <b>automatically</b> calculate their bonuses based on level.
    </p>
    <p>
      Weapon Proficiencies are automatically added to Profiles &rarr;
      <span class="picker-title">Modifier Picker</span>.
    </p>
    <p>
      W.P. Bayonet comes from Adventure Sourcebook - Mercenary Adventures, page
      45.
    </p>
  </details>
  <p>Click <b>Instructions</b> for detailed instructions.</p>
  <div class="wp">
    <h3>Ancient Weapon Proficiencies</h3>
    <div class="heading">
      <h5>Weapon Proficiency</h5>
      <h5>Strike</h5>
      <h5>Parry</h5>
      <h5>Disarm</h5>
      <h5>Throw</h5>
      <h5>Entangle</h5>
      <h5 title="Rate of Fire">RoF</h5>
      <h5>Level Acquired</h5>
      <h5>Level</h5>
      <h5>Row ID</h5>
    </div>
    <fieldset class="repeating_wp">
      <div class="values">
        <input type="text" list="weapon-proficiencies" name="attr_name" />
        <input type="number" value="0" name="attr_strike" />
        <input type="number" value="0" name="attr_parry" />
        <input type="number" value="0" name="attr_disarm" />
        <input type="number" value="0" name="attr_throw" />
        <input type="number" value="0" name="attr_entangle" />
        <input type="number" value="0" name="attr_rof" title="Rate of Fire" />
        <input type="number" value="1" name="attr_levelacquired" />
        <span class="readonly" name="attr_level"></span>
        <input type="text" value="" name="attr_rowid" readonly />
      </div>
      <input type="hidden" value="1" name="attr_level" />
      <input type="hidden" name="attr_bonus_id" value="" />
    </fieldset>
  </div>
  <hr />
  <div class="wpmodern">
    <h3>Modern Weapon Proficiencies</h3>
    <div class="heading">
      <h5>Weapon Proficiency</h5>
      <h5>Single</h5>
      <h5>Burst</h5>
      <h5>Level Acquired</h5>
      <h5>Level</h5>
      <h5>Row ID</h5>
    </div>
    <fieldset class="repeating_wpmodern">
      <div class="values">
        <input
          type="text"
          list="weapon-proficiencies-modern"
          name="attr_name"
        />
        <input type="number" value="0" name="attr_strike_range_single" />
        <input type="number" value="0" name="attr_strike_range_burst" />
        <input type="number" value="1" name="attr_levelacquired" />
        <span class="readonly" name="attr_level"></span>
        <input type="text" value="" name="attr_rowid" readonly />
      </div>
      <input type="hidden" value="1" name="attr_level" />
      <input type="hidden" name="attr_bonus_id" value="" />
    </fieldset>
  </div>
</div>
