.sheet-hex {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
	min-width: 480px;
	width: 100%;
}

.charsheet{
		background-color:#fcfcfc;
		--dark-secondarytext:black;
		
}
.sheet-number-center{
		text-align:center;
}

.sheet-hex button[type="roll"] {
	border: 1px solid darkgrey;
	border-radius: 0;
	display: inline-block;
	font-size: 19px;
    width: 16px;
    height: 19px;
}

button[type=roll]::before { 
    background-image: none;
    font-size: 19px;
    font-family: dicefontd6;
    content: "L";
	margin: 0 0px 0 0;
}


.sheet-hex button[type="roll"].sheet-roll-button {
	width: 1.6rem;
}


button[type=roll].sheet-roll-button::before { 
    background-image: none;
    font-size: 19px;
    font-family: dicefontd6;
    content: "L";
	margin: 0 0px 0 0;
}


.sheet-hex h1 {
	background-color:#0854b6;
	border-top-left-radius: 0.25rem;
	color: #fff;
	font-size: 1rem;
	line-height: 1.4rem;
	padding: 0 0 0.1rem 0.5rem;
}

.sheet-hex h1.sheet-first-heading {
	border-top-left-radius: 3rem;
	float: right;
	text-align: center;
	width: 50%;
}

.sheet-hex input[type="text"], .sheet-hex input[type="number"] {
	border-radius: 0;
	box-shadow: none;
	color: #4c4c4c;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sheet-hex input[type="text"].sheet-free-input, .sheet-hex input[type="text"].sheet-skill-input, .sheet-hex input[type="number"].sheet-free-input, .sheet-hex input[type="number"].sheet-skill-input {
	border: none;
	border-bottom: 1px solid lightblue;
	font-size: 1.3rem;
	margin: 0.2rem 0 0 0;
	width: 100%;
}

.sheet-hex input[type="text"].sheet-free-input.small, .sheet-hex input[type="text"].small.sheet-skill-input, .sheet-hex input[type="number"].sheet-free-input.small, .sheet-hex input[type="number"].small.sheet-skill-input {
	font-size: 0.7rem;
}

.sheet-hex input[type="text"].sheet-free-input + span, .sheet-hex input[type="text"].sheet-skill-input + span, .sheet-hex input[type="number"].sheet-free-input + span, .sheet-hex input[type="number"].sheet-skill-input + span {
	color: grey;
	font-size: 0.7rem;
	font-style: italic;
	margin: 0 0 0 0.4rem;
}

.sheet-hex input[type="text"].sheet-skill-input, .sheet-hex input[type="number"].sheet-skill-input {
	display: inline;
}

.sheet-hex input[type="text"].sheet-box-input, .sheet-hex input[type="number"].sheet-box-input {
	width: 100%;
}

.sheet-hex input[type="text"].sheet-style-input-number, .sheet-hex input[type="number"].sheet-style-input-number {
	width: 3rem;
}

.sheet-hex textarea {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid lightblue;
	box-shadow: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.3rem;
	height: 2.8rem;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}
	.sheet-rolltemplate-basic{
			color:black!important;
	}
	

	.sheet-rolltemplate-basic .inlinerollresult {
		background-color: transparent!important;
		border:none!important;
	}
	
	.sheet-rolltemplate-basic .inlinerollresult.importantroll {
		border:none!important;
	}
	
	.sheet-rolltemplate-basic .inlinerollresult.fullcrit {
		border:none!important;
	}
	
	.sheet-rolltemplate-basic .inlinerollresult.fullfail {
		border:none!important;
	}
		

.sheet-hex .repcontainer {
	margin: 0 0 0.5rem 0;
}

.sheet-hex .repcontrol button.btn.repcontrol_add, .sheet-hex .repcontrol button.btn.repcontrol_edit {
	border: 1px solid darkgrey;
	border-radius: 0;
	font-size: 0.7rem;
	padding: 0.2rem 0.6rem;
}

.sheet-hex .sheet-main-row {
	position: relative;
	top: -1.5rem;
}

.sheet-hex .sheet-logo-row .sheet-img-logo {
	min-height: 200px;
	width: 66.17647058823529%;
}

.sheet-hex .sheet-logo-row .sheet-img-logo {
	width: 100%;
}

.sheet-hexlogo{
		width:53%;
		height:53%;
}

.sheet-hex .sheet-logo-row .sheet-archetype {
	display: block;
	float: right;
	padding: 1rem 0.3rem 0 0;
	width: 32%;
}

.sheet-hex .sheet-logo-row .sheet-archetype .sheet-free-input, .sheet-hex .sheet-logo-row .sheet-archetype input[type="text"].sheet-skill-input, .sheet-hex .sheet-logo-row .sheet-archetype input[type="number"].sheet-skill-input {
	padding: 0.1rem 0.2rem;
	margin: 0;
}

.sheet-hex .sheet-logo-row .sheet-archetype .sheet-free-input + span, .sheet-hex .sheet-logo-row .sheet-archetype input[type="text"].sheet-skill-input + span, .sheet-hex .sheet-logo-row .sheet-archetype input[type="number"].sheet-skill-input + span {
	display: block;
	line-height: 0.9rem;
	padding: 0 0.4rem 0 0;
	text-align: right;
}

.sheet-hex .sheet-stats {
	position: relative;
	top: -6.5rem;
}

.sheet-hex .sheet-2colrow {
	font-size: 0;
}

.sheet-hex .sheet-2colrow .sheet-col.sheet-primary {
	margin: 0 20px 0 0;
	width: 85%;
}

.sheet-hex .sheet-2colrow .sheet-col.sheet-sidebar {
	margin: 0.7rem 0 0 0;
	width: 10%;
}

.sheet-hex .sheet-2colrow .sheet-col.sheet-collapse-margin {
	margin-right: 0;
	width: 50%;
}

.sheet-hex .sheet-2colrow .sheet-col.sheet-encumbrance {
	float: right;
	width: 36%;
}

.sheet-hex .sheet-2colrow .sheet-col.sheet-encumbrance .sheet-field {
	display: inline-block;
	line-height: 0.9rem;
	margin: 0 0.2rem 0 0;
	vertical-align: middle;
	width: 48%;
}

.sheet-hex .sheet-2colrow .sheet-col.sheet-languages-money {
	margin-right: 1rem;
	width: 59%;
}

.sheet-hex .sheet-2colrow .sheet-col.sheet-languages-money textarea {
	border-top: none;
	height: 4.6rem;
}

.sheet-hex .sheet-2colrow .sheet-col.sheet-languages-money textarea.sheet-money {
	height: 3rem;
}

.sheet-hex .sheet-side-input-label {
	border-bottom: 1px solid lightblue;
	font-size: 0.9rem;
	font-weight: normal;
	margin: 0.3rem 0 0.3rem 0;
	padding: 0 0 0.3rem 0;
	text-align: right;
}


.sheet-hex .sheet-attr-input-label {
	border-bottom: 1px solid lightblue;
	font-size: 1.9rem;
	font-weight: normal;
	margin: 0.3rem 0 0.3rem 0;
	padding: 0 0 0.3rem 0;
	text-align: right;
}

.sheet-hex .sheet-attr-input-label .sheet-button-spacer, .sheet-hex .sheet-side-input-label .sheet-button-spacer,
    .sheet-hex .sheet-attr-input-label button[type="roll"].sheet-roll-button, .sheet-hex .sheet-side-input-label button[type="roll"].sheet-roll-button {
	margin-right: 2rem;
}

.sheet-hex .sheet-attr-input-label.sheet-attr-body, .sheet-hex .sheet-attr-body.sheet-side-input-label {
	float: right;
	width: 78%;
}

.sheet-hex .sheet-attr-input-label.sheet-attr-dexterity, .sheet-hex .sheet-attr-dexterity.sheet-side-input-label {
	float: right;
	margin: 0 0 0.3rem 0;
	width: 93%;
}

.sheet-hex .sheet-attr-input-label.sheet-attr-strength, .sheet-hex .sheet-attr-strength.sheet-side-input-label {
	float: right;
	margin: 0 0 0.3rem 0;
	width: 100%;
}

.sheet-hex .sheet-attr-input-label.sheet-right-attr .sheet-button-spacer, .sheet-hex .sheet-right-attr.sheet-side-input-label .sheet-button-spacer,
    .sheet-hex .sheet-attr-input-label.sheet-right-attr button[type="roll"].sheet-roll-button, .sheet-hex .sheet-right-attr.sheet-side-input-label button[type="roll"].sheet-roll-button {
	margin-right: 20%;
}

.sheet-hex .sheet-side-input-label {
	padding: 0 0 0.5rem 0;
	text-align: left;
}

.sheet-hex .sheet-side-input-label .sheet-side-heading {
	display: block;
	font-size: 0.9rem;
}

.sheet-hex .sheet-side-input-label .sheet-side-heading:nth-child(2) {
	margin: 0 0 0.5rem 0;
}

.sheet-hex .sheet-side-input-label .sheet-side-heading .sheet-subtext {
	display: block;
	margin: 0.4rem 0 0 0;
}

.sheet-hex .sheet-footnote {
	color: grey;
	font-size: 0.7rem;
	font-style: italic;
}

.sheet-hex .sheet-paren {
	font-weight: normal;
}

.sheet-hex .sheet-attr-input-text {
	width: 3rem;
}

.sheet-hex .sheet-wider-input-text {
	width: 3rem;
}

.sheet-hex .sheet-sub-label {
	font-size: 0.6rem;
}

.sheet-hex .sheet-heading-with-columns {
	position: relative;
}

.sheet-hex .sheet-heading-with-columns .sheet-column-headings {
	display: block;
	position: absolute;
	top: 0.1rem;
	width: 100%;
}

.sheet-hex .sheet-heading-with-columns .sheet-column-headings div {
	color: #fff;
	font-size: 0.7rem;
	font-weight: normal;
}

.sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-name, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-base, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-levels, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-rating, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-avg, .sheet-hex .sheet-heading-with-columns .sheet-column-headings div.sheet-skill-roll div.sheet-style-name div.sheet-style-disarm div.sheet-style-feint div.sheet-style-parry div.sheet-style-thrust div.sheet-style-slash {
	display: inline-block;
	text-align: left;
}

.sheet-hex .sheet-skill-name, .sheet-hex .sheet-skill-base,
  .sheet-hex .sheet-skill-levels,
  .sheet-hex .sheet-skill-rating,
  .sheet-hex .sheet-skill-avg, .sheet-hex .sheet-skill-roll,
  .sheet-style-name, 
  .sheet-style-disarm, 
  .sheet-style-feint, 
  .sheet-style-parry,
  .sheet-style-thrust,
  .sheet-style-slash,
  .sheet-hex .sheet-weapon-roll, .sheet-hex .sheet-weapon-name, .sheet-hex .sheet-weapon-dmg,
  .sheet-hex .sheet-weapon-attack,
  .sheet-hex .sheet-weapon-range,
  .sheet-hex .sheet-weapon-capacity, .sheet-hex .sheet-weapon-ammo,
  .sheet-hex .sheet-weapon-avg, .sheet-hex .sheet-weapon-mod,
  .sheet-hex .sheet-weapon-rate,
  .sheet-hex .sheet-weapon-speed, .sheet-hex .sheet-weapon-notes {
	display: table-cell;
	text-align: left;
	padding: 0 0.1rem;
}

.sheet-hex .sheet-skill-name {
	width: 57%;
}

/*
.sheet-hex .sheet-stylename{
	width:57%
}*/	

.sheet-hex .sheet-style-name{
	width: 50%;
}


.sheet-hex .sheet-style-name2{
	width: 50%;
}



.sheet-style-disarm, 
.sheet-style-feint, 
.sheet-style-parry, 
.sheet-style-thrust, 
.sheet-style-slash {
	width: 10%;
}




.sheet-hex .sheet-skill-base,
  .sheet-hex .sheet-skill-levels,
  .sheet-hex .sheet-skill-rating,
  .sheet-hex .sheet-skill-avg {
	width: 10%;
}

.sheet-hex .sheet-skill-roll,
  .sheet-hex .sheet-weapon-roll {
	width: 8%;
	padding-top:5px;
}

.sheet-hex .sheet-weapons .sheet-weapon-row-1 {
	display: block;
}

.sheet-hex .sheet-weapons .sheet-weapon-row-2 {
	border-bottom: 1px dashed darkgrey;
	display: block;
	margin: 0 0 0.5rem 0;
	padding: 0 0 0.5rem 0;
	position: relative;
}

.sheet-hex .sheet-weapon-isranged {
	position: absolute;
	top: -1rem;
	left: 0.6rem;
}

.sheet-hex .sheet-weapon-isranged + span {
	color: grey;
	font-size: 0.7rem;
	font-style: italic;
	position: absolute;
	left: 21px;
    top: -8px;

.sheet-hex .sheet-weapon-isranged ~ .sheet-ranged-stats {
	display: none;
}

.sheet-hex .sheet-weapon-isranged:checked ~ .sheet-ranged-stats {
	display: block;
}

.sheet-hex .sheet-ranged-stats {
	width: 100%;
}

.sheet-hex .sheet-weapon-name {
	width: 50%;
}

.sheet-hex .sheet-weapon-dmg,
  .sheet-hex .sheet-weapon-attack,
  .sheet-hex .sheet-weapon-range,
  .sheet-hex .sheet-weapon-capacity {
	width: 12%;
}

.sheet-hex .sheet-weapon-ammo,
  .sheet-hex .sheet-weapon-avg {
	width: 10%;
}

.sheet-hex .sheet-weapon-mod,
  .sheet-hex .sheet-weapon-rate,
  .sheet-hex .sheet-weapon-speed {
	width: 8%;
}

.sheet-hex .sheet-weapon-notes {
	width: 42%;
}

.sheet-hex .sheet-equip-item {
	display: inline-block;
	padding: 0 0.1rem;
	width: 70%;
}

.sheet-hex .sheet-equip-num {
	display: inline-block;
	padding: 0 0.1rem;
	width: 10%;
}

.sheet-hex .sheet-equip-weight {
	display: inline-block;
	padding: 0 0.1rem;
	width: 17%;
}

.sheet-hex .sheet-bottom-separator {
	margin-bottom: 1rem;
}

.sheet-hex .sheet-left-separator {
	margin-left: 1rem;
}

.sheet-hex .sheet-top-separator {
	margin-top: 1rem;

}


.sheet-hex .sheet-button-spacer {
	display: inline-block;
	width: 28px;
}

.sheet-hex .sheet-stun-spacer {
	display: inline-block;
	width: 28px;
}


.sheet-hex .sheet-initiative{
		margin-right:16%
}


.sheet-hex .sheet-perception{
		margin-right:2%
}


.sheet-hex .sheet-defense{
		margin-right:7%
}

.sheet-hex .sheet-stun{
		margin-right:7%
}


.sheet-hex .sheet-perception-button{
		margin-right:0%!important;
}

.sheet-hex .sheet-defense-button{
		margin-right:0%!important;
}

.sheet-hex .sheet-initiative-button{
		margin-right:0%!important;
}

.sheet-hex .sheet-move-spacer {
	display: inline-block;
	width: 31px;
}


.sheet-hex .sheet-subtext {
	font-size: 0.7rem;
}

.sheet-hex .sheet-health-meter {
	border-bottom: 1px solid lightblue;
	padding: 0 0 0.5rem 0;
}

.sheet-hex .sheet-health-meter th {
	font-size: 0.7rem;
	font-weight: normal;
	padding: 0.5rem 0 0.2rem 0;
	text-align: left;
	width: 25%;
}

.sheet-hex .sheet-health-meter td {
	font-size: 1rem;
	text-align: right;
}

.sheet-hex .sheet-health-meter td:first-child {
	padding: 0.1rem 0.4rem 0.1rem 0;
	width: 33%;
}

.sheet-hex .sheet-health-meter p {
	border-bottom: 1px solid grey;
	font-size: 0.7rem;
	margin: 0.4rem 0 0 0.4rem;
	padding: 0 0 0.3rem 0;
}

.sheet-hex .sheet-health-meter p span.sheet-large-icon {
	font-size: 1rem;
}

.sheet-hex .sheet-health-meter div.sheet-pip-circle {
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	position: relative;
}

.sheet-hex .sheet-health-meter input.sheet-pip-circle {
	height: 18px;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 18px;
	z-index: 1;
}

.sheet-hex .sheet-health-meter input.sheet-pip-circle.sheet-healthy-pip {
	z-index: 2;
}

.sheet-hex .sheet-health-meter span.sheet-pip-circle {
	margin: 0;
	display: none;
}

.sheet-hex .sheet-health-meter input.sheet-healthy-pip:checked + input.sheet-l-pip,
    .sheet-hex .sheet-health-meter input.sheet-l-pip:checked + input.sheet-nl-pip {
	z-index: 3;
}

.sheet-hex .sheet-health-meter input.sheet-healthy-pip:checked ~ span.sheet-l-pip,
    .sheet-hex .sheet-health-meter input.sheet-l-pip:checked ~ span.sheet-nl-pip,
    .sheet-hex .sheet-health-meter input.sheet-nl-pip:checked ~ span.sheet-healthy-pip {
	display: inline-block;
}

.sheet-hex .sheet-health-meter .sheet-nl-pip, .sheet-hex .sheet-health-meter .sheet-l-pip {
	left: -12px;
}

.sheet-hex .sheet-no-bottom-border {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.sheet-hex .sheet-no-bottom-border .sheet-side-heading {
	margin: 0;
}