.charsheet .sheet-grid-section{
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows:  200px 250px 300px 250px 250px;
  grid-template-areas:"desc desc     "
                      "stats  skills   "
                      "racial skills  "
                      "combat weapons  "
                      "powers equip";
  grid-gap: 5px;
}
.charsheet div.sheet-block{
  display: grid;
  justify-content: center;
  padding: 5px;
  border: 3px solid black;
}
.charsheet div.sheet-desc{
  grid-area: desc;
}
.charsheet div.sheet-stats{
  grid-area: stats;
}
.charsheet div.sheet-skills{
  grid-area: skills;
}
.charsheet div.sheet-combat{
  grid-area: combat;
}
.charsheet div.sheet-weapons{
  grid-area: weapons;
}
.charsheet div.sheet-powers{
  grid-area: powers;
}
.charsheet div.sheet-racial{
  grid-area: racial;
}
.charsheet div.sheet-equip{
  grid-area: equip;
}

div.sheet-table__row {
    display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}

div.sheet-table__row4 {
    display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
}

div.sheet-table__row5 {
    display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}




