ul(data-container-tab="backbone" data-tab="pc").tabs__container.flex-box.flex-wrap.justify-center.condition-summary.half-gap
  each condition in conditions
    +checkbox({name:condition,value:1,hidden:'',class:'display-control',trigger:{
      triggeredFuncs:['resetCondition']
    }})
    li(class=`condition-item--${condition}`).condition-item.flex-box.tiny-gap
      +conditionCheck(condition)
      +inputWithControls({name:`track ${condition}`,type:'number',class:'underlined'})