section#archetype.repeating-container
  h2(data-i18n='abilities').header
  +customControlFieldset({
    name:'ability'
  })
    +collapse
    .span-all.flex-box.half-gap.flex-wrap
      +roller({name:'roll',trigger:{
        triggeredFuncs:['rollRepeating']
      }})
      +text({name:'name','data-i18n-placeholder':'name',class:'underlined flex-min-content'})
      +skillSelect
    .headed-textarea.expanded
      h4(data-i18n='description')
      +adaptiveTextarea({name:'description',class:'boxed'})