section(data-i18n-aria-label="combat stats")#combat-stats
  each name in ['health','resolve']
    .health-container
      +statContainer({class:name})
        +roller-label({
          inputObj:{name:name,type:'number'},
          buttonObj:{name,'data-i18n':name,role:'heading','aria-level':3,trigger:{
            triggeredFuncs:['rollHealthCheck']
          }},
          divObj:{class:'stacked center'}
        })
      +statContainer({class:`${name} max`})
        +input-label({
          inputObj:{name:`${name} max`,type:'number'},
          spanObj:{'data-i18n':'maximum',role:'heading','aria-level':3},
          divObj:{class:'stacked'}
        })
  .luck-container
    h3(data-i18n='luck')
    each value in ['odd','even']
      +input-label({
        inputObj:{name:'luck',type:'radio',value},
        spanObj:{'data-i18n':value}
      })
    +roller({name:'luck',role:'heading','aria-level':3,trigger:{triggeredFuncs:['rollLuck']}})
  .adrenaline-container.input-label
    label(for='adrenaline')
      h3(data-i18n='adrenaline')
    .parens-holder.adrenaline
      span.parentheses.large-parentheses (
      +inputWithControls({name:'adrenaline',id:'adrenaline',type:'number'})
      span.parentheses.large-parentheses )