aside#pc-conditions.pc-conditions.sidebar.sidebar--left.conditions-sidebar.fresh
  +action({
    name:'condition display',
    class:'sidebar-toggle sidebar--right fresh',
    trigger:{triggeredFuncs:['showConditions']}
  })
  h4(data-i18n="conditions")
  .flex-box.flex-wrap.justify-center
    each condition in conditions
      +conditionCheck(condition)