section#gear.tall-2
  .coin
    h2(data-i18n='coin & assets')
    each name in ['credit','coin']
      +input-label({
        inputObj:{name,type:'number',class:'underlined'},
        spanObj:{'data-i18n':name},
      })
    +input-label({
      inputObj:{name:'badge',type:'text',class:'underlined'},
      spanObj:{'data-i18n':'badge'},
    })
    .input-label
      span(data-i18n='clothes').input-label__text
      +adaptiveInput({name:'clothes',class:'underlined'}).input-label__input
  .repeating-container.equipped
    .flex.header.center
      h2(data-i18n='equipped gear')
      +checkbox({name:'overburdened',value:1,hidden:'',class:'over-equip-control',trigger:{
        calculation:'calcOverburdened'
      }})
      +dual-input-label({
        inputArr:[
          {name:'item slots',type:'number',readonly:'',class:'underlined',trigger:{affects:['overburdened'],calculation:'calcUsedSlots'}},
          {name:'item slots max',type:'number',class:'underlined',trigger:{affects:['overburdened'],calculation:'calcItemSlotsMax'}}
        ],
        spanObj:{'data-i18n':'item slots'}
      })
    +customControlFieldset({
      name:'equipped'
    })
      +collapse
      .flex-box.half-gap.span-all.align-items-center
        +checkbox({name:'equipped',value:1,checked:'',trigger:{triggeredFuncs:['equipItem'],affects:['item_slots']}})
        +text({name:'name',class:'underlined flex-min-content'})
        +dual-input-label({
          inputArr:[{name:'uses',type:'number',class:'underlined'},{name:'uses max',type:'number',class:'underlined expanded'}],
          spanObj:{'data-i18n':'uses'},
          divObj:{class:'collapse-container'},
          separatorObj:{content:'/',class:'expanded'}
        })
        +roller({name:'roll',trigger:{
          triggeredFuncs:['rollRepeating']
        }})
      +skillSelect.expanded.skill
      +sizeAndSlot
      +adaptiveTextarea({name:'description',class:'boxed'}).description.expanded
  .repeating-container.stored
    h2(data-i18n='stored gear').header
    +customControlFieldset({
      name:'stored'
    })
      +weaponDetails
      +sectionControl({name:'type',value:'gear'}).expanded.gear
        +dual-input-label({
          inputArr:[{name:'uses',type:'number',class:'underlined'},{name:'uses max',type:'number',class:'underlined'}],
          spanObj:{'data-i18n':'uses'}
        })
        +skillSelect.expanded.skill
      +sectionControl({name:'type',value:'armor'}).expanded.gear
        +input-label({
          inputObj:{name:'armor bonus',type:'number',class:'underlined'},
          spanObj:{'data-i18n':'armor bonus'}
        })
      +sizeAndSlot
      +adaptiveTextarea({name:'description',class:'boxed'}).description.expanded