section#character-info.span-all
  div
    each name,i in ['character name','age','gender']
      - inputObj = {name,class:'underlined',type:'text'};
      if i > 0
        - inputObj.class += ' text-center';
      +input-label({
        inputObj,
        spanObj:{'data-i18n':name.replace(/character /,''),role:'heading','aria-level':2}
      })
  div
    each obj in [{name:'origin',type:'text'},{name:'dialect',type:'text'},{name:'level',type:'number'},{name:'archetype',type:'text'},{name:'ideals',type:'text'},{name:'fortune',type:'text'}]
      +input-label({
        inputObj:{name:obj.name,class:'underlined',type:obj.type},
        spanObj:{'data-i18n':obj.name,role:'heading','aria-level':2}
      })