section(aria-label="skills")#skills.tall-2
  .basic-skills
    div
      h2(data-i18n='basic-skills' style='column-span:all;')#basic-skills
      .input-label
        span(data-i18n='skill points').input-label__text
        +inputWithControls({name:'skill points',type:'number',class:'underlined'})
    .skill-container
      +skillRows(basicSkills)
  .combat-skills
    h2(data-i18n="combat skills")
    +skillRows(combatSkills)
  .specialty-skills.repeating-container
    h2(data-i18n="specialty skills").header
    +customControlFieldset({
      name:'specialty',
    })
      +roller({name:'roll',role:'heading','aria-level':3,class:'dicefontd20',trigger:{
        triggeredFuncs:['rollSkill']
      }})
      +text({name:'name',class:'underlined skill-name'})
      +fillLeft({
        radioObj:{name:`proficiency`,value:-1},
        divObj:{class:'proficiency'},
        valueArray:[-1,0,1,2,3,4],
        noClear:true,
        displayValues:['-1','+0','+1','+2','+3','+4']
      })
      +select({name:'characteristic'})
        +option({value:'','data-i18n':'select',selected:''})
        each obj,value in characteristics
          +option({value,'data-i18n':`${value} abbreviation`})
      +checkbox({name:`${name} mastery`,value:1,class:'mastery'})