section#favorable-traits.repeating-container
  h3(data-i18n='favorable traits').header
  +customControlFieldset({
    name:'favorable'
  })
    +collapse
    +text({name:'name',class:'underlined'})
    +adaptiveTextarea({name:'description',class:'boxed'}).expanded
section#unfavorable-traits.repeating-container
  h3(data-i18n='unfavorable traits').header
  +customControlFieldset({
    name:'unfavorable'
  })
    +collapse
    +text({name:'name',class:'underlined'})
    +adaptiveTextarea({name:'description',class:'boxed'}).expanded