section#weapons.repeating-container
  h2(data-i18n='equipped weapons').header
  +customControlFieldset({
    name:'weapon',
    trigger:{
      addFuncs:['addWeapon']
    }
  })
    +weaponDetails(true)
    +sizeAndSlot
    +adaptiveTextarea({name:'description',class:'boxed'}).description.expanded
  .flex-box.gap.flex-wrap.justify-center
    - let ammoCount = 1;
    each i in [1,2]
      .ammo-container.flex-box.half-gap.align-items-center
        +text({name:`container ${i}`,type:'text',class:'underlined container-name','data-i18n-placeholder':'ammo container'})
        each n in [1,2]
          .parens-holder
            span.parentheses.large-parentheses (
            .flex-box.stacked.center
              +number({name:`ammo ${ammoCount}`,class:'underlined'})
              +text({name:`ammo type ${ammoCount}`,'data-i18n-placeholder':'type',class:'ammo-type'})
              - ammoCount++;
            span.parentheses.large-parentheses )