@import '../common.scss';
@import '../variables.scss';

.sheet-rolltemplate-luck {
  padding: 8px;
  border: 1px solid $grey;
  border-radius: 4px;
  background-color: $background_light_grey;

  .sheet-roll-header {
    @include font-1;

    color: $blue;
    font-size: 20px;
    font-weight: 700;
    font-variant: small-caps;
    letter-spacing: -2px;
    text-shadow: 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0, 0 0 2px #bac6e0;
  }

  .sheet-roll-subheader {
    @include font-1;

    font-weight: normal;
    font-size: 12px;
    color: $grey;
    text-transform: none;
  }

  .sheet-roll-result {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sheet-roll-result-num {
    font-family: $font_family_2;
    font-weight: bold;
    font-size: 30px;
    color: $blue;
    background: none !important;
    border: none !important;

    span {
      border: none !important;
    }
  }

  .sheet-roll-result-label {
    font-family: $font_family_2;
    color: $blue;
  }
}