input(type="radio" name="attr_ironcrunch-page" id="sheet-bonds" class="sheet-hide sheet-bonds" value="2")
div.sheet-bonds.sheet-hide
  h3.sheet-divide &emsp;BONDS&emsp;
  include ../components/bonds/track