//- Header
include ../components/header/header.pug

//- Nav Bar
include ../components/nav/nav-bar.pug

//- Pages
include ./summary.pug
include ./bonds.pug
include ./vows.pug

//- Footer
include ../components/momentum/momentum.pug