//- Header
include ../components/character-details/details.pug

//- Pages
div.sheet-ironcrunch-summary
  include ../components/character-details/stats.pug
//- Bonds
div.sheet-ironcrunch-bonds
  include ./bonds.pug
//-  Vows
div.sheet-ironcrunch-vows
  include ../components/vows/vows.pug

//- Footer
div.sheet-ironcrunch-mode 
  include ../components/character-details/momentum.pug