input(type="radio" name="attr_ironcrunch-page" id="sheet-summary" class="sheet-hide sheet-summary" value="1" checked)
div.sheet-summary.sheet-hide
  include ../components/stats/stats.pug
  include ../components/misses/track.pug