.charsheet div.sheet-clear { 
    clear:both; 
}

input.sheet-tab:not(:first-child)::before{
    border-left: none;
}

div.sheet-tab-content{
   /*  border: 1px solid #a8a8a8;
    border-top-color: #000;*/
    margin: 2px 0 0 5px;
    padding: 5px;
}

.charsheet h1,h3 {
    text-align: center;
}

.charsheet label {
    display: inline;
    width: 88px
    padding-bottom: 0px;
}

.charsheet input {
    display: inline;
    width: 150px;
}

.charsheet {
    background-color: white;
}

.charsheet select {
    width: 40px;
    height: 20px;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
div.sheet-all{
    width: 100%
}

div.sheet-bname {
    width: 11%;
}
div.sheet-binput {
    width: 20%;
}

input.sheet-binput {
    width: 100%;
}

.charsheet h4{
    margin-top: 3px;
}

div.sheet-attname{
    width: 11%;
}
div.sheet-attdots{
    margin:0px -10px 0px 0px;
    line-height: 22px;
    width: 10%;
}

div.sheet-abiname{
    line-height: 20px;
    width: 10%;
}
div.sheet-abidots{
    margin:0px -5px 0px -5px;
    line-height: 21px;
    width: 11%;
}

div.sheet-inputname {
    width: 145px;
    padding-left: 10px;
}
div.sheet-inputdots {
    width: 120px;
    text-align: right;
    line-height:28px;
} 
input.sheet-inputname{
    height: 20px;
    width: 100%;
}

div.sheet-spec{
    margin:0px 0px 0px -5px;
    line-height: 20px;
    width: 12%;
}
input.sheet-spec{
    height: 20px;
    width: 100%;
}

input.sheet-backname{
    height: 20px;
    width: 66%;
}
div.sheet-back{
    margin:0px -10px 0px -10px;
    line-height: 20px;
}

/* Hide actual dot/checkbox */
input[type="radio"], 
input[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Styles common to fake dot and checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
    margin-right: 1px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #000000;
}

/* Fake dot */
input[type="radio"] + span::before{
    content: "";
    width: 12px;
    height: 12px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Fake checkbox */
input[type="checkbox"] + span::before {
    position:relative;
    content: "";
    opacity: 1;
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Styles unique to fake checkbox (checked) */
input[type="checkbox"]:checked + span::before {
    content: "✖";
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"]:checked ~ input[type="radio"] + span::before {
    content: "";
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

h4.sheet-health{
    line-height: 26px;
    z-index: 0;
    margin: 0px 0px 0px -5px;
}
div.sheet-health{
    padding: 0px 40px 0px 40px;
}
select.sheet-health{
    margin: 3px 0px 0px 0px;
    float: right;
}
input[type="radio"].sheet-Hbut{
    padding: 0px 0px 0px 0px;
    margin: 5px 8px 0px -15px;
    float: right;
}
input.sheet-Hbut:checked + span::before {
    opacity: 1;
}
input.sheet-Hbut:hover + span::before {
    opacity: 1;
}
input.sheet-Hbut + span::before {
    margin: 5px -7px 0px 0px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    font-weight: bold;
    opacity: .25;
    float: right;
    
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}
input.sheet-Hbut1 + span::before {
    content: "-1";
}
input.sheet-Hbut2 + span::before {
    content: "-2";
}
input.sheet-Hbut5 + span::before {
    content: "-5";
}
input.sheet-HbutI + span::before {
    content: "✖";
}

div.sheet-res{
    margin:0px 0px 0px 0px;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
}

input.sheet-resspec{
    height: 20px;
    width: 33%;
}

input.sheet-used+span::before {
    content: "✖";
    width: 12px;
    height: 12px;
    font-size: 12px;
    
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-zero:checked + span::before {
    opacity: 0;
}
input.sheet-zero:hover + span::before {
    opacity: 1;
}
input.sheet-zero + span::before {
    opacity: .25;
    font-size: 12px;
    content: "✖";
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

div.sheet-name {
    width: 100px;
    padding-left: 10px;
}
div.sheet-dots {
    width: 160px;
    text-align: right;
}

select.sheet-DP{
    margin: 0px 0px 1px 0px;
    padding: 0px 0px 0px 0px;
    width: 41%;
}
button.sheet-DP{
    height: 20px;
    width: 8%;
}
input.sheet-DPspace{
    opacity: 0;
    width: 23%;
}

/* repairs after update thanks to Carl "Godsbane"*/
div.sheet-qdot {
    margin: 27px 0px 0px -175px;
    font-size:20px;
}

select.sheet-wheel{
    width: 20px;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* repairs after update thanks to Carl "Godsbane" */
select.sheet-top  { position: relative; top: 0px; }
select.sheet-mid-eighth { position: relative; top: 7px; }
select.sheet-mid-quarter { position: relative; top: 20px; }
select.sheet-mid-three-eighth { position: relative; top: 38px; }
select.sheet-middle { position: relative; top: 60px; }
select.sheet-middle-2 { position: relative; top: 62px; }
select.sheet-mid-five-eighth { position: relative; top: 83px; }
select.sheet-mid-three-quarter { position: relative; top: 101px; }
select.sheet-mid-seven-eighth { position: relative; top: 115px; }
select.sheet-bottom { position: relative; top: 122px; }

select.sheet-left-1 { margin-left: 0px; }
select.sheet-left-2 { margin-left: -16px; }
select.sheet-left-3 { margin-left: -10px; }
select.sheet-left-4 { margin-left: -6px; }
select.sheet-left-5 { margin-left: -3px; }
select.sheet-left-6 { margin-left: -1px; }
select.sheet-left-7 { margin-left: -3px; }
select.sheet-left-8 { margin-left: -6px; }
select.sheet-left-9 { margin-left: -10px; }
select.sheet-left-10 { margin-left: -16px; }

select.sheet-wheel9{
    transform:rotate(9deg);
    -ms-transform:rotate(9deg); /* IE 9 */
    -webkit-transform:rotate(9deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel27{
    transform:rotate(27deg);
    -ms-transform:rotate(27deg); /* IE 9 */
    -webkit-transform:rotate(27deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel45{
    transform:rotate(43deg);
    -ms-transform:rotate(43deg); /* IE 9 */
    -webkit-transform:rotate(43deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel63{
    transform:rotate(63deg);
    -ms-transform:rotate(63deg); /* IE 9 */
    -webkit-transform:rotate(63deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel81{
    transform:rotate(81deg);
    -ms-transform:rotate(81deg); /* IE 9 */
    -webkit-transform:rotate(81deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel99{
    transform:rotate(99deg);
    -ms-transform:rotate(99deg); /* IE 9 */
    -webkit-transform:rotate(99deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel117{
    transform:rotate(117deg);
    -ms-transform:rotate(117deg); /* IE 9 */
    -webkit-transform:rotate(117deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel135{
    transform:rotate(135deg);
    -ms-transform:rotate(135deg); /* IE 9 */
    -webkit-transform:rotate(135deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel153{
    transform:rotate(153deg);
    -ms-transform:rotate(153deg); /* IE 9 */
    -webkit-transform:rotate(153deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheel171{
    transform:rotate(171deg);
    -ms-transform:rotate(171deg); /* IE 9 */
    -webkit-transform:rotate(171deg); /* Opera, Chrome, and Safari */
}

select.sheet-wheeln9{
    transform:rotate(-9deg);
    -ms-transform:rotate(-9deg); /* IE 9 */
    -webkit-transform:rotate(-9deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheeln27{
    transform:rotate(-27deg);
    -ms-transform:rotate(-27deg); /* IE 9 */
    -webkit-transform:rotate(-27deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheeln45{
    transform:rotate(-44deg);
    -ms-transform:rotate(-44deg); /* IE 9 */
    -webkit-transform:rotate(-44deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheeln63{
    transform:rotate(-63deg);
    -ms-transform:rotate(-63deg); /* IE 9 */
    -webkit-transform:rotate(-63deg); /* Opera, Chrome, and Safari */
}

select.sheet-wheeln81{
    transform:rotate(-81deg);
    -ms-transform:rotate(-81deg); /* IE 9 */
    -webkit-transform:rotate(-81deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheeln99{
    transform:rotate(-99deg);
    -ms-transform:rotate(-99deg); /* IE 9 */
    -webkit-transform:rotate(-99deg); /* Opera, Chrome, and Safari */
}

select.sheet-wheeln117{
    transform:rotate(-117deg);
    -ms-transform:rotate(-117deg); /* IE 9 */
    -webkit-transform:rotate(-117deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheeln135{
    transform:rotate(-135deg);
    -ms-transform:rotate(-135deg); /* IE 9 */
    -webkit-transform:rotate(-135deg); /* Opera, Chrome, and Safari */
}

select.sheet-wheeln153{
    transform:rotate(-153deg);
    -ms-transform:rotate(-153deg); /* IE 9 */
    -webkit-transform:rotate(-153deg); /* Opera, Chrome, and Safari */
}
select.sheet-wheeln171{
    transform:rotate(-171deg);
    -ms-transform:rotate(-171deg); /* IE 9 */
    -webkit-transform:rotate(-171deg); /* Opera, Chrome, and Safari */
}

div.sheet-forms{
    width: 118px;
    text-align: center;
}
input.sheet-formdots{
    width: 122px;
}
input.sheet-formdots:checked + span::before {
    background: #000000;
}
input.sheet-formdots + span::before{
    position: relative;
    left: -50px;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* ********    Start code for tabs ******* */
div.sheet-tab-content{ 
    display: none; 
}
input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5{
    display: block;
}
input.sheet-tab{
    opacity: 1;
    height: 20px;
}
input.sheet-tab + span::before{
    width: 16%;
    opacity:0;
}
input.sheet-tab::before{
    content: attr(value);
    /* 
    border: solid 1px #c8c8c8;
    border-bottom-color: black; */
    text-align: center;
    display: inline-block;
    
    background: #fff;
    
    width: 800%;
    height: 20px;
    font-size: 18px;
}
input.sheet-tab:checked::before{
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    /* border-bottom-color: #fff; */

}

/* Tables */
div.sheet-table{
    width: 100%;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}
/* Gear Tab */
div.sheet-gear{
    width:48%;
    padding-left: 10px;
    text-align: center;
}
textarea.sheet-gear {
    height:650px;
    width:100%;
}
    
/* expanded backgrounds */
div.sheet-ebackname{
}
div.sheet-ebackdesc{
    width:100%
}
textarea.sheet-ebackdesc{
    width:100%;
    height:105px;
}
div.sheet-ebacks{
    display: inline;
}
input.sheet-ebacks {
    width: 37px;
}    
input.sheet-ebacks:checked ~ div.sheet-ebacks{
    display: none;
}
input.sheet-ebacks:checked + span::before {
    content: "Show";
    color: #a00;
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}
input.sheet-ebacks + span::before {
    width: 36px;
    content: "Hide";
    position: relative;
    left: -22px;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/*rotes tab*/
div.sheet-rotesph,
input.sheet-rotesph{
    width: 400px;
}

/* experience tab*/
div.sheet-XPdesc{
    width: 70%;
}
div.sheet-XPspent{
    width: 22%;
    right: 0px;
}
div.sheet-XPcomp{
    width: 6%;
}
input.sheet-XPdesc{
    width: 70%;
}
input.sheet-XPspent{
    width: 21%;
}
input.sheet-XPcomp{
    width: 6%;
}

input.sheet-XPcomp + span::before{
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-Dice{
    width: 16%;
}
button[type=roll].sheet-Dice::before { 
    content: "";
}
select.sheet-Dice{
    width: 150px;
}

/* Roll Template */
.sheet-rolltemplate-generic table {
    width: 100%;
	background-color: #FFF;
	border:2px solid #000;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow:2px 2px 5px #000;
	overflow: hidden;
}
.sheet-rolltemplate-generic .sheet-header {
	background-color: #000;
	border: 1px solid #000;
	color: #FFF;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size: 1.1em;
}
.sheet-rolltemplate-generic .sheet-header-table {
	display:table; 
	width:100%;
}
.sheet-rolltemplate-generic .sheet-header-middle {
	display:table-cell; 
	vertical-align:middle;
}
.sheet-rolltemplate-generic .sheet-subtitle {
	background-color: #000;
	border: 1px solid #000;
	color: #FFF;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	font-size: 1em;
	font-weight:normal !important;
	text-align: left;
}
.sheet-rolltemplate-generic .sheet-header a {
	color: #FFF;
	text-decoration: underline;
}
.sheet-rolltemplate-generic td {
	padding: 1px 1px 1px 5px;
	line-height: 1.1em;
	vertical-align:sub;
}
.sheet-rolltemplate-generic td:nth-child(odd) {
	text-align: left;
	font-weight:bold;
}
.sheet-rolltemplate-generic .inlinerollresult  {
	color: #FFF;
	background-color: #000;
	border-color: #000;
	min-width: 1em;
	text-align: center;
	display: inline-block;
	margin-left: 1px;
	padding:0px;
}
.sheet-rolltemplate-generic .inlinerollresult.fullcrit {
	color: #FFF;
	background-color: #3FB315;
}
.sheet-rolltemplate-generic .inlinerollresult.fullfail {
	color: #FFF;
	background-color: #B31515;
}
.sheet-rolltemplate-generic .inlinerollresult.importantroll {
	color: #FFF;
	background-color: #4A57ED;
}
