h3, h4, h5 {
	display:block;
	width:100%;
	text-align:left;
	margin:0 0 5px 0;
	font-size:13px;
	color:#009966;
}
br {
    height:25px;
}
input, select, textarea {
    border:1px solid #006633;
    font-weight:bold;
    background-color:black;
    color:white;
}

.sheet-body {
	width:100%; 
	min-width:800px;
	font-family:Verdana;
	font-size:11.5px;
	color:#00ff99;
	background-color:black;
	overflow:scroll;
}
.sheet-page_tab { 
	display:none;
}


/* PAGE MENU */
.sheet-sel_skills:checked ~ .sheet-page_skills { display:block; }
.sheet-sel_skills:checked ~ .sheet-label_skills { color:red; }

.sheet-sel_combat:checked ~ .sheet-page_combat { display:block; }
.sheet-sel_combat:checked ~ .sheet-label_combat { color:red; }

.sheet-sel_cyberware:checked ~ .sheet-page_cyberware { display:block; }
.sheet-sel_cyberware:checked ~ .sheet-label_cyberware { color:red; }

.sheet-sel_cyberdeck:checked ~ .sheet-page_cyberdeck { display:block; }
.sheet-sel_cyberdeck:checked ~ .sheet-label_cyberdeck { color:red; }

.sheet-sel_gear:checked ~ .sheet-page_gear { display:block; }
.sheet-sel_gear:checked ~ .sheet-label_gear { color:red; }

.sheet-sel_notes:checked ~ .sheet-page_notes { display:block; }
.sheet-sel_notes:checked ~ .sheet-label_notes { color:red; }

.sheet-sel_lifepath:checked ~ .sheet-page_lifepath { display:block; }
.sheet-sel_lifepath:checked ~ .sheet-label_lifepath { color:red; }