- var momentumTrack = { '+10':'10', '+9':'9', '+8':'8', '+7':'7', '+6':'6', '+5':'5', '+4':'4', '+3':'3', '+2':'2', '+1':'1', '0':'0', '-1':'-1', '-2':'-2', '-3':'-3', '-4':'-4', '-5':'-5', '-6':'-6' }

div.sheet-momentum
    div.sheet-momentum-burn
      input(type="checkbox" class="sheet-momentum-burn" title="Burn Momentum" name="attr_momentumBurn")
      span.sheet-momentum-burn Burn
      div.sheet-momentum-burn-back
    
    each text, val in momentumTrack 
      div.sheet-momentum-box
        input(type="radio" name="attr_momentum" class="sheet-track-box-input" value=val)
        div.sheet-track-box-back
          h3.sheet-track-box-value=text

    div.sheet-momentum-input-box
      h3 MAX
        h3
          span(name="attr_momentum_max")
        input(type="text" class="sheet-hidden" name="attr_momentum_max" value="10")

    div.sheet-momentum-input-box
      h3 RESET
      h3
        span(name="attr_momentum_reset")
      input(type="text" class="sheet-hidden" name="attr_momentum_reset" value="2")