include advantage.pug
include control.pug
include character-field.pug
include characteristic-col.pug
include skill.pug
include skill-grouped.pug
include species.pug

include generic/generic-display.pug
include generic/generic-field.pug
include generic/generic-textarea.pug
include generic/characteristic-select.pug

include repeating/repeating-section.pug
include repeating/advance-row.pug
include repeating/armour-row.pug
include repeating/careers-row.pug
include repeating/condition-row.pug
include repeating/corruption-row.pug
include repeating/critical-row.pug
include repeating/experience-row.pug
include repeating/psychology-row.pug
include repeating/skill-row.pug
include repeating/spell-row.pug
include repeating/talent-row.pug
include repeating/trapping-row.pug
include repeating/weapon-row.pug

include npc-characteristic-col.pug
include npc-skill.pug
include repeating/npc-attack-row.pug
include repeating/npc-talent-row.pug
include repeating/npc-trait-row.pug
include repeating/npc-opttrait-row.pug
include repeating/npc-additional-skill.pug