mixin advantage()
    .wfrp-advantage__wrapper
        if block
            block
        button.wfrp-advantage__reset.pictos(name="act_reset_advantage", type="action") 1
        button.wfrp-advantage__decrement.pictos(name="act_decrement_advantage", type="action") -
        input.wfrp-advantage__input(name="attr_advantage", type="number", value="0")
        button.wfrp-advantage__increment.pictos(name="act_increment_advantage", type="action") +