mixin npc-characteristic-col(characteristic)
    -
        const attr = characteristic.name.toLowerCase().replace(/ /g,"_");

    .wfrp-npccharacteristic__col
        .wfrp-npccharacteristic__cell--head
            button(data-i18n=characteristic.abbreviation, name=`roll_${attr}`, type="roll", value=rolls.characteristic[attr])
        .wfrp-npccharacteristic__cell
            span(name=`attr_${attr}`)