mixin npc-skill(skill)
    - 
        const {name, characteristic, type, grouped, specialisations, forced} = skill;
        const attr = name.toLowerCase().replace(/ /g, "-");
        const char_attr = characteristic.toLowerCase().replace(/ /g, "_");

    if (grouped !== true)

        input(name=`attr_${attr}`, type="hidden")    
        button.wfrp-npcskill(name=`roll_${attr}`, type="roll", value=rolls.skills[attr])

            .wfrp-npcskill__title(data-i18n=name)

            .wfrp-npcskill__value
                span(name=`attr_${attr}`)