
<div class='sheet-character'>
    input(type="hidden" class="tutorialtoggle" name="attr_tutorial_done" value="0")
    div(class="tutorial")
        div(style="display:inline-block;position:relative")
            button(type="action" name="act_nexttutorial" data-i18n="button_next_tutorial") Next Hint
            button(type="action" name="act_toggletutorial" data-i18n="button_exit_tutorial") Toggle Hints
        
    <div class="2colrow">
        <div class="col">
            include personal.pug
            include roles.pug
            include equipment.pug
            include armorsets.pug  
            include hunterpowers.pug
            include powers.pug
            include effects.pug   
        </div>
        <div class="col">
            include attributes.pug    
            include skills.pug
        </div>
    </div>
</div>

//-
    <div class='sheet-character'>
        <div class="container">
            include personal.pug
            include skills.pug   
            include attributes.pug
            include hunterpowers.pug
            include powers.pug
            include roles.pug
            include equipment.pug
            include armorsets.pug
            include effects.pug
        </div>
    </div>

