<div class="box">
    <h2 data-i18n="heading_hunterpowers">Jägerkräfte</h2>
    <input class="feathertoggle" type="checkbox" name="attr_display-hunterpowers" value="1" checked="true"/>
    <img class="feather" src="https://ulisses-digital.de/R20/hexxen/images/Feather.png" />
    <div>
        <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true/>
        <fieldset class="repeating_hunterpowers">
            <div class="fieldsetcontainer">
                <div class="display">
                    <span class="fieldset_editmode_toggle"></span>
                    <input class="textline" type="text" name="attr_name" data-i18n-placeholder="label_name" placeholder="Name"/>
                    <span name="attr_name"></span>
                    <input class="hideempty_toggle" type="hidden" name="attr_target"/>
                    <span class="hideempty">(
                        <span name="attr_target" data-i18n-dynamic=""></span>
                        <span name="attr_bonus"></span>
                        <span>)</span>
                    </span>
                </div>
                <input class="details-flag" type="checkbox" checked="true" name="attr_details-flag"/><span>i</span>
                <div class="wrapper">
                    <span class="fieldset_editmode_toggle"></span>
                    <div>
                        <textarea name="attr_description" data-i18n-placeholder="label_description" placeholder="Description"></textarea>
                        <label data-i18n="label_modifier">Modifikator:</label>
                        <select class="textline" name="attr_target">
                            +modoptions
                        </select>
                    <input class="number" type="number" name="attr_bonus" />
                    </div>
                    <div>
                        <span class="text" name="attr_description"></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>