<div class="box">     
    <h2 data-i18n="heading_personal">Charakter</h2>
    input(type="hidden" class="tutorialstep1" name="attr_tutorial_step")
    <div class="hintcontainer">
        <span class="hinttext hinttextright" data-i18n="collapsehint"></span>
    </div>
    <input class="feathertoggle" type="checkbox" name="attr_display-personal" value="1" checked="true"/>
    input(type="hidden" class="tutorialstep1" name="attr_tutorial_step")
    <img class="feather hintborder" src="https://ulisses-digital.de/R20/hexxen/images/Feather.png" />
    
    <div class="personalgrid">
        <label data-i18n="label_rank">Jägerstufe</label>
        <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1"/>
        <input class="number" type="number" name="attr_rank" />
        <span class="number" name="attr_rank"></span>

        <label data-i18n="label_profession">Profession</label>
        <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1"/>
        <input class="textline" type="text" name="attr_profession" />
        <span class="label" name="attr_profession"></span>
        
        <label data-i18n="label_motivation">Motivation</label>
        <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1"/>   
        <div>
            <input class='textline'  type="text" name="attr_motivation_name" data-i18n-placeholder="label_motivation" placeholder="Motivation"/>
        </div>
        <div>
            <span name="attr_motivation_name"></span>
            <input class="hideempty_toggle" type="hidden" name="attr_motivation_target"/>
            <span class="hideempty">(
                <span name="attr_motivation_target" data-i18n-dynamic=""></span>
                <span> +</span>
                <span name="attr_motivation_bonus"></span>
                <span>)</span>
            </span>
        </div>
        <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1"/>   
        <div><label data-i18n="label_modifier">Modifikator:</label></div>
        <div></div>
        <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1"/>   
        <div>
            <select class="textline" name="attr_motivation_target">
                +modoptions
            </select>
            <input class="number" type="number" name="attr_motivation_bonus" min="0" />
        </div>
        <div></div>

        <label data-i18n="label_corruption">Verderbnis:</label>
        <input class="number" type="number" name="attr_corruption" />
        <label data-i18n="label_upkeep">Unterhalt</label>
        <input class="number" type="number" name="attr_upkeep" />
        <label data-i18n="label_wealth">Vermögen</label>
        <input class="number" type="number" name="attr_wealth" />
    </div>
</div>