<div class="box">
    <h2 data-i18n="heading_roles">Rollen</h2>
    <input class="feathertoggle" type="checkbox" name="attr_display-roles" value="1" checked="true"/>
    <img class="feather" src="https://ulisses-digital.de/R20/hexxen/images/Feather.png" />
    <div>
        <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true/>
        <fieldset class="repeating_roles counterreset">
            <div class="fieldsetcontainer">
                <div class="display">
                    <label class="counter" data-i18n="label_role_prefix">Rolle No</label>
                    <span class="fieldset_editmode_toggle"></span>
                    <select class="textline" name="attr_role">
                        <option value="0" selected="selected" data-i18n="role_none">None</option>
                        <option value="role_alchemist"  data-i18n="role_alchemist">Alchemist</option>
                        <option value="role_assassin"  data-i18n="role_assassin">Attent채ter</option>
                        <option value="role_guard"  data-i18n="role_guard">Besch체tzer</option>
                        <option value="role_zealot"  data-i18n="role_zealot">Eiferer</option>
                        <option value="role_fencer"  data-i18n="role_fencer">Fechter</option>
                        <option value="role_range"  data-i18n="role_range">Fernk채mpfer</option>
                        <option value="role_witchfoe"  data-i18n="role_witchfoe">Hexenfeind</option>
                        <option value="role_witchmystic"  data-i18n="role_witchmystic">Hexenmystiker</option>
                        <option value="role_constructor"  data-i18n="role_constructor">Konstrukteur</option>
                        <option value="role_scout"  data-i18n="role_scout">Kundschafter</option>
                        <option value="role_melee"  data-i18n="role_melee">Nahk채mpfer</option>
                        <option value="role_priest"  data-i18n="role_priest">Priester</option>
                        <option value="role_strategist"  data-i18n="role_strategist">Stratege</option>       
                    </select>
                    <span name="attr_role" data-i18n-dynamic></span>
                </div>
            </div>
        </fieldset>
    </div>
</div>