<div class="box">
    <h2 data-i18n="heading_skills">Allgemeine Fertigkeiten</h2>
    <input class="feathertoggle" type="checkbox" name="attr_display-skills" value="1" checked="true"/>
    <img class="feather" src="https://ulisses-digital.de/R20/hexxen/images/Feather.png" />
    <div class="skills">
        h4
        h4(data-i18n="header_skillvalue") Fw   
        h4(data-i18n="header_sum") Sum
        h4(data-i18n="header_roll") Wurf
        each skill in skills
            label(class="item" data-i18n=skill.id)=skill.name
            input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
            input(class="number" type="number" name="attr_"+skill.id)
            span(class="number" name="attr_"+skill.id)
            div(class="item tooltip")
                span(class="number" name="attr_"+skill.id+"_max") 
                div(class="tooltiptext")
                    span(data-i18n="header_skillvalue") FW
                    span  +  
                    span(data-i18n=skill.baseattribute+"_short") Ath 

            if(skill.id=="skill_acrobatics")
                input(type="hidden" class="tutorialstep2" name="attr_tutorial_step")
                div(class="item tooltip hintborder")
                    button(class="roll checkdie" type='action' name='act_'+skill.id)
                    span(class="hinttext hinttextright" data-i18n="checkhint") 
            else  
                button(class="roll checkdie" type='action' name='act_'+skill.id)
            

            
    </div>
</div>