.vehicle.pc-col
  .pc-row
    .header.right-header
      h1(data-i18n='vehicle') Vehicle
      .right-tri
    .border-box
      .pc-box.medium-box
        .rows.repeating-container
          fieldset(class=`repeating_vehicle`)
            each val in ['handling', 'handling_off', 'acceleration', 'speed', 'pilot', 'body', 'armor', 'sensor']
              input(name=`attr_${val}` type='hidden')
            .row-long.grid.vehicle-name
              span(name="attr_name")
            .row-long.grid.2column
              .col
                h3(data-i18n='handling')
                span(name="attr_display_handling")
              .col
                h3(data-i18n='handling_off')
                span(name="attr_display_handling_off")
            .row-long.grid.2column
              .col
                h3(data-i18n='acceleration')
                span(name="attr_display_acceleration")
              .col
                h3(data-i18n='speed')
                span(name="attr_display_speed")
            .row-long.grid.2column
              .col
                h3(data-i18n='pilot')
                span(name="attr_display_pilot")
              .col
                h3(data-i18n='body')
                span(name="attr_display_body")
            .row-long.grid.2column
              .col
                h3(data-i18n='armor')
                span(name="attr_display_armor")
              .col
                h3(data-i18n='sensor')
                span(name="attr_display_sensor")
            +repeatingSectionFlags()
            .settings
              .row-long.grid.2autocolumn
                h3(data-i18n="name")
                label(data-i18n-title="vehicle name")
                  input(name="attr_name" placeholder="name" title="vehicle name" type="text" )
              .row-long.2column
                .col
                  +repeatingPCVehicles('handling')
                .col
                  +repeatingPCVehicles('handling_off')
              .row-long.2column
                .col
                  +repeatingPCVehicles('acceleration')
                .col
                  +repeatingPCVehicles('speed')
              .row-long.2column
                .col
                  +repeatingPCVehicles('pilot')
                .col
                  +repeatingPCVehicles('body')
              .row-long.2column
                .col
                  +repeatingPCVehicles('armor')
                .col
                  +repeatingPCVehicles('sensor')
              .row-long.2column.headers
                .col
                  each val in ['base', 'mod', 'temp']
                    h2.text-capitalize.text-center(data-i18n=`${val}`)
                .col
                  each val in ['base', 'mod', 'temp']
                    h2.text-capitalize.text-center(data-i18n=`${val}`)
              +repeatingSectionNotes('vehicle')




