input.sheet-arrow {
  float: left;
}

input.sheet-arrow:checked ~ div.sheet-body {
  display: none;
}
input.sheet-arrow[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 9px;
    margin: -5px;
    cursor: pointer;
    z-index: 1;
}
input.sheet-arrow[type="checkbox"] ~ span::before {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "▼";
    width: 14px;
    height: 14px;
    font-size: 12px;
}

input.sheet-arrow[type="checkbox"]:checked ~ span::before {
    content: "►";
}

input.sheet-checkboxbutton
{
  width: 25px;
  height: 25px;
  position: relative;
  left: 2px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-checkboxbutton::before
{
  content: "";
  text-align: center;

  border: solid 1px black;
  display: inline-block;

  background: whitesmoke;
  box-shadow: black;

  width: 25px;
  height: 25px;
  
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

input.sheet-checkboxbutton:checked::before
{
  content: "✓";
}

.charsheet {
  background-color: white;
}
.charsheet .sheet-wrapper h1, .charsheet .sheet-wrapper h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 0px;

  border: 2px solid black;
  background-color: darkolivegreen;
  text-align: center;
  color: white;
  font-size: 20pt;
}
.charsheet .sheet-wrapper h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 18px;
}
.charsheet .sheet-wrapper h4 {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid gray;
  text-align: center;
}
.sheet-container {
    position: relative;
    min-height: 60px;
    border-radius: 0px;
    border: 1px solid darkolivegreen;
    background: none;
}

/* Cols */
.charsheet .sheet-wrapper .sheet-saves .sheet-col {
  width: 150px;
}

.sheet-box_alternate {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.sheet-box_alternate2 {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.sheet-box_alternate3 {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  width: 60px;
}

.sheet-box_alternate_row {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-align: left;
  margin: 0px;
}

.sheet-box_alternate_row2 {
  border: 1px solid black;
  background-color: gray;
  font-weight: bold;
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  text-align: center;
}

.sheet-roll_alternate::before {
  display:none;
}

.sheet-roll_alternate:active {
  background-image: none;
}

.sheet-roll_alternate:hover {
  background-image: none;
}

.sheet-roll_alternate {
  border: 1px solid black;

  background-image: none;
  background-color: gray;

  font-weight: bold;
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  width: 95%;
}

.sheet-roll_alternate2::before {
  display:none;
}

.sheet-roll_alternate2:hover {
  background-image: none;
}

.sheet-roll_alternate2:active {
  background-image: none;
}

.sheet-roll_alternate2 {
  border: 1px solid black;

  background-image: none;
  background-color: gray;

  font-weight: bold;
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  width: 95%;
}

.sheet-roll_alternate3::before {
  display:none;
}

.sheet-roll_alternate3:hover {
  background-image: none;
}

.sheet-roll_alternate3:active {
  background-image: none;
}

.sheet-roll_alternate3 {
  border: 1px solid black;

  background-image: none;
  background-color: gray;

  font-weight: bolder;
  color: white;
  font-size: 32px;
  text-align: center;
  margin: 0px;
  width: 95%;
}

.sheet-roll_alternate4::before {
  display:none;
}

.sheet-roll_alternate4:active {
  background-image: none;
}

.sheet-roll_alternate4:hover {
  background-image: none;
}

.sheet-roll_alternate4 {
  border: 1px solid black;

  background-image: none;
  background-color: gray;

  font-weight: bold;
  color: white;
  font-size: 12px;
  text-align: left;
  margin: 0px;
  width: 95%;
}

.sheet-grundegenskapstabell {
  border: 1px solid black;
  width: 100%;
}

.sheet-formagatabell {
  border: 1px solid black;
  width: 300px;
}

.sheet-fardighetstabell {
  border: 1px solid black;
  width: 100%;
}

.sheet-fardighetstabell_large {
  border: 1px solid black;
  width: 400px;
}

.sheet-fardighetstabell_half {
  border: 1px solid black;
  width: 100px;
}

.sheet-fardighetstabell_small {
  border: 1px solid black;
  width: 50px;
}

.sheet-tarningstabell {
  border: 1px solid black;
  width: 50%;
}

/* Input fields */
.sheet-textarea_wide {
  width: 50%;
  border: 1px solid black;
}

/* roll template */
.sheet-rolltemplate-DoDFardighet .sheet-container, .sheet-rolltemplate-DoDText .sheet-container, .sheet-rolltemplate-DoDAttack .sheet-container {
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    width: 200px;
    text-align: center;
}

.sheet-rolltemplate-DoDFardighet .sheet-container h1, .sheet-rolltemplate-DoDText .sheet-container h1, .sheet-rolltemplate-DoDAttack .sheet-container h1 {
    color: darkolivegreen;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
    text-align: center;
}

.sheet-rolltemplate-DoDFardighet div, .sheet-rolltemplate-DoDText div, .sheet-rolltemplate-DoDAttack div {
    padding: 2px;
};
 
.sheet-rolltemplate-DoDFardighet span, .sheet-rolltemplate-DoDText span, .sheet-rolltemplate-DoDAttack span {
    color: darkolivegreen;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: center;
}
 
.sheet-rolltemplate-DoDFardighet .sheet-subheader, .sheet-rolltemplate-DoDText .sheet-subheader, .sheet-rolltemplate-DoDAttack .sheet-subheader {
    color: black;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}
 
.sheet-rolltemplate-DoDFardighet .sheet-arrow-right, .sheet-rolltemplate-DoDText .sheet-arrow-right, .sheet-rolltemplate-DoDAttack .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 194px solid darkolivegreen;
    border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-DoDFardighet .sheet-line, .sheet-rolltemplate-DoDText .sheet-line, .sheet-rolltemplate-DoDAttack .sheet-line {
    border-left: 194px solid darkolivegreen;
}
 
.sheet-rolltemplate-DoDFardighet .sheet-tcat, .sheet-rolltemplate-DoDText .sheet-tcat, .sheet-rolltemplate-DoDAttack .sheet-tcat {
    font-style: italic;
}
 
.sheet-rolltemplate-DoDFardighet .inlinerollresult, .sheet-rolltemplate-DoDText .inlinerollresult, .sheet-rolltemplate-DoDAttack .inlinerollresult {
    background-color: white;
    border: none;
    text-align: center;
}
 
.sheet-rolltemplate-DoDFardighet .inlinerollresult.fullcrit, .sheet-rolltemplate-DoDText .inlinerollresult.fullcrit, .sheet-rolltemplate-DoDAttack .inlinerollresult.fullcrit {
    color: red;
    border: none;
}

.sheet-rolltemplate-DoDFardighet .inlinerollresult.fullfail, .sheet-rolltemplate-DoDText .inlinerollresult.fullfail, .sheet-rolltemplate-DoDAttack .inlinerollresult.fullfail {
    color: green;
    border: none;
}
 
.sheet-rolltemplate-DoDFardighet .inlinerollresult.importandivoll, .sheet-rolltemplate-DoDText .inlinerollresult.importandivoll, .sheet-rolltemplate-DoDAttack .inlinerollresult.importandivoll {
    color: mediumslateblue;
    border: none;
}