/* TEMPLATES */
.sheet-rolltemplate-sawo table {
    width: 189px;
    padding: 2px;
    border: none;
    background-color: #FBFCFC;
    border-top: 1px solid #CD071E;
    border-bottom: 1px solid #CD071E;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sheet-rolltemplate-sawo tr {
    border-left: 1px solid #CD071E;
    border-right: 1px solid #CD071E;
}
.sheet-rolltemplate-sawo tr.sheet-septpl {
    border-top: 1px dashed #CD071E;
}
.sheet-rolltemplate-sawo tr.sheet-septpl:first-child {
    border-top: none;
}
.sheet-rolltemplate-sawo th {
    background-color: #CD071E;
    color : #FBFCFC;
    line-height: 1.2em;
    font-size: 1.1em;
    text-align: center;
    font-family: Candal;
    font-variant: small-caps;
    font-weight: normal;
    margin-bottom: 4px;
}
.sheet-rolltemplate-sawo td {
    padding-left: 5px;
    font-size: 0.9em;
}
.sheet-rolltemplate-sawo td.sheet-info {
    font-style: italic;
    background-color:#F6F1EC;
}
/* FDP */
input[type=radio].sheet-styleRolrel,
input[type=radio].sheet-styleRoljet{
    margin-left: 10px;
    margin-right: 2px;
}
input[type=radio].sheet-styleRolrel + span,
input[type=radio].sheet-styleRoljet + span{
    font-size:11px;
    color: #888888;
    text-align:left;
}
span.sheet-smallspan{
    font-size:11px;
    color: #888888;
    text-align:left;
}
button[type="roll"]{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-shadow: none;
    box-shadow: none;
    text-align:left;
    vertical-align: middle;
    line-height: 0px;
    height: 20px;
    width: 20px;
    font-size: 1em;
    font-weight: normal;
    color:#CD071E;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(34,66,143,0.5);
    border-radius: 4px;
}
button[type="roll"]:hover{
    border-width: 1px;
    border-color:#CD071E;
    font-weight: bold;
}
button[type="roll"].sheet-btRolrel{
    width: 142px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size:1em;
    font-weight: bold;
    color: black;
    background-image:none;
    background: transparent;
    text-transform: uppercase;
}
button[type="roll"].sheet-btRolrel:before{
    content: "t  ";
    text-transform: lowercase;
}
button[type="roll"].sheet-btRolrel:hover:before{
    font-weight: bold;
    color: #CD071E;
}
button[type="roll"].sheet-btRolrel:hover{
    border-width: 1px;
    border-style: solid;
    border-color:#CD071E;
}
input[type=radio].sheet-styleRolrel:checked ~ div.sheet-main button[type=roll].sheet-btRolrel{
    display: inline-block;
}
input[type=radio].sheet-styleRoljet:checked ~ div.sheet-main button[type=roll].sheet-btRolrel{
    display: none;
}
input[type=radio].sheet-styleRolrel:checked ~ div.sheet-main select.sheet-selComprel{
    display: inline-block;
}
input[type=radio].sheet-styleRoljet:checked ~ div.sheet-main select.sheet-selComprel{
    display: none;
}
input[type=radio].sheet-styleRolrel:checked ~ div.sheet-main select.sheet-selCompjet{
    display: none;
}
input[type=radio].sheet-styleRoljet:checked ~ div.sheet-main select.sheet-selCompjet{
    display: inline-block;
}
button[type="roll"].sheet-btRoljet{
    width: 142px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size:1em;
    font-weight: bold;
    color: black;
    background-image:none;
    background: transparent;
    text-transform: uppercase;
}
button[type="roll"].sheet-btRoljet:before{
    content: "t  ";
    text-transform: lowercase;
}
button[type="roll"].sheet-btRoljet:hover:before{
    font-weight: bold;
    color: #CD071E;
}
button[type="roll"].sheet-btRoljet:hover{
    border-width: 1px;
    border-style: solid;
    border-color:#CD071E;
}
input[type=radio].sheet-styleRolrel:checked ~ div.sheet-main button[type=roll].sheet-btRoljet{
    display: none;
}
input[type=radio].sheet-styleRoljet:checked ~ div.sheet-main button[type=roll].sheet-btRoljet{
    display: inline-block;
}
div.sheet-main{
    width:860px;
    background: linear-gradient(#CD071E,#E6DBCF,#EFE7DD);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 5px 5px 5px 5px;
}
div.sheet-mycol{
    display: inline-block;
    width: 280px;
    vertical-align:top;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.sheet-redtitle1{
    font-family: Candal;
    font-size: 16px;
    color: #CD071E;
    text-align: center;
    font-weight: bold;
    margin: 10px 1px 1px 1px;
}
div.sheet-redtitle2{
    font-family: Candal;
    font-size: 12px;
    color: #CD071E;
    text-align: center;
    font-weight: bold;
    margin: 5px 1px 1px 1px;
}
div.sheet-redtitle3{
    display: inline-block;
    font-family: Candal;
    font-size: 12px;
    color: #CD071E;
    text-align: left;
    font-weight: bold;
    margin: 5px 1px 1px 1px;
}
div.sheet-colblock{
    background-color: white;
    margin-top: 0px;
    margin-left: 5px;
    margin-right 5px;
    margin-bottom: 10px;
    padding: 1px 5px 5px 5px;
}
div.sheet-input{
    text-align:left;
    width: 100%;
    border-bottom: 1px dashed black;
    padding: 1px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.sheet-input div{
    display: inline-block;
}
input{
    display: inline-block;
    border: none;
    padding: 2px 0px 0px 2px;
    margin: 1px 0px 0px 0px;
    background-color:#F6F1EC;
    color: black;
    line-height: 18px;
    max-height: 18px;
}
input[type="text"]{
    text-align: left;
}
input[type="text"].sheet-compspe{
    width: 126px;
    font-weight: bold;
    margin-left:-130px;
    text-transform: uppercase;
}
input[type="text"].sheet-compspeatt{
    font-weight: normal;
    font-size: 0.9em;
    width: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 6px;
    padding: 0px 0px 0px 1px;
    text-transform: uppercase;
}
input[type="text"].sheet-charname{
    text-align:center;
    font-size:1.1em;
    font-weight: bolder;
    width:100%;
}
input[type="number"]{
    text-align: right;
}
input[type="number"]:disabled,
input[type="number"]:read-only,
input[type="text"]:read-only
{
    background-color: white;
}
input[type="checkbox"]{
    margin-right: 1px;
    margin-left: 1px;
}
input[type="radio"]{
    margin-right: 2px;
    margin-left: 1px;
}
select{
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    max-height: 18px;
    line-height: 18px;
    background-color: #F6F1EC;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
}
option{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
select.sheet-selde{
    width: 30px;
    text-align: right;
}
select.sheet-attcomptext{
    font-weight: normal;
    font-size: 0.9em;
    width: 35px;
}
input[type="number"].sheet-selde{
    width: 32px;
}
div.sheet-blacktext1 {
    display: inline-block;
    text-align: right;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
}
div.sheet-blacktext2{
    display: inline-block;
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: normal;
}
div.sheet-comptext{
    display: inline-block;
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    width: 96px;
}
div.sheet-attcomptext{
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 0.9em;
    width: 35px;
}
div.sheet-attcomptext:before{
    content: "(";
}
div.sheet-attcomptext:after{
    content: ")";
}
div,
button,
textarea,
span,
input,
select,
table,
tr,
td,
th{
    box-sizing: border-box;
}
