//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/_vorlage.pug
    ********************************

//- MIXINs

//- SEITENINHALT
//
    ********************************
    * ENDE src/html/bloecke/_vorlage.pug
    ********************************
