//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/attribute.pug
    ********************************

//- MIXINs
mixin kopfzeile
    // MIXIN : src/html/bloecke/attribute.pug : kopfzeile
    div(class="sheet-attribut-zeile")
        div
        div(class="sheet-kopfzeile sheet-tooltip")
            span(data-i18n="biomechanik_kurz")
            span(class="sheet-tooltiptext" data-i18n="biomechanik")      
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")
        div(class="sheet-kopfzeile")
            span(data-i18n="modifikatoren")
        div
        div

mixin attributszeile(attribut)
    // MIXIN : src/html/bloecke/attribute.pug : attributszeile
    div(class="sheet-attribut-zeile")
        div(class="sheet-titel sheet-tooltip")
            button(type="action" class="sheet-button-transparent" name="act_probe-ohne-mod-"+attribut)
                span(data-i18n=attribut)
            span(class="sheet-tooltiptext" data-i18n="tooltip-probe-ohne-mod")
        div
            input(type="checkbox" value="1" name="attr_"+attribut+"-biomechanik")
        div
            input(type="number" name="attr_"+attribut value=1)
        div
            input(type="number" name="attr_"+attribut+"-mod1" style="width:5em;")
        div
            input(type="number" name="attr_"+attribut+"-mod2" style="width:5em;")        
        div(class="sheet-font-darkgray-highlight") 
            | [
            span(data-i18n=attribut+"_kurz")
            | ]

//- SEITENINHALT
h1(data-i18n="attribute")
div(class="sheet-attribute")
    div
        +kopfzeile
        +attributszeile("geschick")
        +attributszeile("staerke")
        +attributszeile("konstitution")
        +attributszeile("beweglichkeit")
    div
        +kopfzeile
        +attributszeile("wahrnehmung")
        +attributszeile("wissen")
        +attributszeile("charisma")
        +attributszeile("handwerk")
//
    ********************************
    * ENDE src/html/bloecke/attribute.pug
    ********************************