//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/besondere_fertigkeiten.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box" role="section")
    h1(data-i18n="besondere-fertigkeiten")
    div(class="sheet-besondere-fertigkeiten-zeile")
        div(class="sheet-kopfzeile")
            span &nbsp;
        div(class="sheet-kopfzeile")
            span(data-i18n="fertigkeit")
        div(class="sheet-kopfzeile")
            span(data-i18n="attribut")
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")
    fieldset(class="repeating_besondere-fertigkeiten")
        div(class="sheet-besondere-fertigkeiten-zeile")
            div
                button(type="action" class="sheet-button-d6" name="act_probe")
            div
                input(type="text" name="attr_besondere-fertigkeit-name")
            div
                select(name="attr_besondere-fertigkeit-attribut")
                    option(value="kein-attribut" data-i18n="kein-attribut_kurz")
                    option(value="geschick" data-i18n="geschick_kurz")
                    option(value="staerke" data-i18n="staerke_kurz")
                    option(value="konstitution" data-i18n="konstitution_kurz")
                    option(value="beweglichkeit" data-i18n="beweglichkeit_kurz")
                    option(value="wahrnehmung" data-i18n="wahrnehmung_kurz")
                    option(value="wissen" data-i18n="wissen_kurz")
                    option(value="charisma" data-i18n="charisma_kurz")
                    option(value="handwerk" data-i18n="handwerk_kurz")
            div
                input(type="number" name="attr_besondere-fertigkeit-stufe")
//
    ********************************
    * ENDE src/html/bloecke/besondere_fertigkeiten.pug
    ********************************