//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/charaktermerkmale.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box")
        h1(data-i18n="charaktermerkmale")
        div(class="sheet-charaktermerkmale-zeile")
            div(class="sheet-kopfzeile")
                span(data-i18n="charaktermerkmal")
        fieldset(class="repeating_charaktermerkmale")            
            div(class="sheet-charaktermerkmale-zeile")
                input(type="text" name="attr_charaktermerkmal-name")
//
    ********************************
    * ENDE src/html/bloecke/charaktermerkmale.pug
    ********************************