//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/charakterdaten.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box" role="section")
    h1(data-i18n="charakterdaten")
    div(class="sheet-input-line")
        +input-text("character_name","charaktername")
    div(class="sheet-input-line")
        +input-text("spezies","spezies","")
    div(class="sheet-input-line")
        +input-text("geschlecht","geschlecht")
        +input-text("alter","alter")
    div(class="sheet-input-line")
        +input-text("größe","größe")
        +input-text("gewicht","gewicht")
    div(class="sheet-input-line")
        label(class="sheet-input-label" data-i18n="notizen")           
        textarea(name="attr_aussehen")
//
    ********************************
    * ENDE src/html/bloecke/charakterdaten.pug
    ********************************