//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/charakterkonditionen.pug
    ********************************

//- MIXINs
mixin max-current(attribute)
    // MIXIN : src/html/bloecke/charakterkonditionen.pug : max-current
    div(class="sheet-max-current")
        h2(data-i18n=attribute)
        p(class="sheet-font-small-highlight")
            span(data-i18n="gesamt")
        div(class="sheet-max-current-box")
            input(type="number" name="attr_"+attribute+"_max" value=0) 
        p(class="sheet-font-small-highlight")
            span(data-i18n="aktuell")
        div(class="sheet-max-current-box")
            input(type="number" name="attr_"+attribute+"_current" value=0)

//- SEITENINHALT
div(class="sheet-box" role="section")
    h1(data-i18n="charakterkonditionen")
    div(class="sheet-input-line")
        +input-text("organismus","organismus")
    div(class="sheet-input-line")
        +input-text("psyche","psyche")
    div(class="sheet-input-line")
        div 
            span(class="sheet-input-label" data-i18n="infektionsresistenz")
        div(class="sheet-infektionsresistenz")
            input(type="number" name="attr_infektionsresistenz_wuerfel" value=1)
            span(data-i18n="w6")
            input(type="number" name="attr_infektionsresistenz_bonus" value=0)
            button(type="action" class="sheet-button-d6" name="act_infektionsresistenz")
    div(class="sheet-input-line")
        +input-text("butterflyeffekt","butterflyeffekt")
    div(class="sheet-3cols")
        +max-current("erfahrung")
        +max-current("justicepoints")
        +max-current("chaospoints")
//
    ********************************
    * ENDE src/html/bloecke/charakterkonditionen.pug
    ********************************
