//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/fernkampfwaffen.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box")
    h1(data-i18n="fernkampfwaffen")
    div(class="sheet-fernkampfwaffen")
        div(class="sheet-fernkampfwaffen-kopfzeile")
            span(data-i18n="bezeichnung_und_art")
            span(data-i18n="reichweiten")
            span(data-i18n="fertigkeit")
            span(data-i18n="munition")
            span(data-i18n="schaden")
            span(data-i18n="rd")
            span(data-i18n="modus_und_sonstiges")
        fieldset(class="repeating_fernkampfwaffen")
            div(class="sheet-fernkampfwaffen-zeile")
                div
                    input(type="text" name="attr_fernkampfwaffe_bezeichnung")
                div
                    input(type="number" name="attr_fernkampfwaffe_reichweite_k")
                div
                    input(type="number" name="attr_fernkampfwaffe_reichweite_m")
                div
                    input(type="number" name="attr_fernkampfwaffe_reichweite_l")
                div
                    input(type="number" name="attr_fernkampfwaffe_reichweite_x")
                div
                    input(type="text" name="attr_fernkampfwaffe_fertigkeit")
                div
                    input(type="text" name="attr_fernkampfwaffe_munition")
                div
                    input(type="text" name="attr_fernkampfwaffe_schaden")
                div
                    input(type="number" name="attr_fernkampfwaffe_rd")
                div
                    input(type="text" name="attr_fernkampfwaffe_modus")
            details 
                summary(class="sheet-summary-fernkampfwaffen") &nbsp;
                textarea(name="attr_fernkampfwaffe-info" class="sheet-fernkampfwaffen")
//
    ********************************
    * ENDE src/html/bloecke/fernkampfwaffen.pug
    ********************************
