//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/koerperzonen.pug
    ********************************

//- MIXINs
mixin schadenszaehler(trefferzone)
    // MIXIN : src/html/bloecke/koerperzonen.pug : schadenszaehler
    div(class="sheet-tooltip sheet-schadenszaehler sheet-trefferzone-"+trefferzone)
        input(type="number" name="attr_schadenszaehler-"+trefferzone value=0)
        span(class="sheet-tooltiptext" data-i18n="tooltip-schadenszaehler")

//- SEITENINHALT
div(role="section")
    div(class="sheet-trefferzonen" role="section")
        h1(data-i18n="körperzonen")
        div(class="sheet-trefferzonen-bild")
            img(src="https://raw.githubusercontent.com/Gorthian/Roll20_NoReturn_CharacterSheet/main/images/trefferzonen_300px.png")
            - for (var x = 2; x < 13; x++)
                +schadenszaehler(x)
        div(class="sheet-box" style="text-align:center;width:100%;")
            button(type="action" class="sheet-button-d6" name="act_trefferzone")
            span(data-i18n="trefferzone-bestimmen")
//
    ********************************
    * ENDE src/html/bloecke/koerperzonen.pug
    ********************************