//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/logo_und_infos.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box" role="section")
    div(classs="sheet-logo")
        img(src="https://raw.githubusercontent.com/Gorthian/Roll20_NoReturn_CharacterSheet/main/images/logo_200px.png")
    div(class="sheet-input-line")
        +input-text("player_name","spieler")
    div(class="sheet-input-line")
        +input-text("erstellungsdatum","erstellungsdatum")
    div(class="sheet-input-line")
        +input-text("charakterkonzept","charakterkonzept")
    div(class="sheet-input-line")
        label(class="sheet-input-label" data-i18n="notizen")           
        textarea(name="attr_notizen")
//
    ********************************
    * ENDE src/html/bloecke/logo_und_infos.pug
    ********************************