//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/physiologische_stoerungen.pug
    ********************************

//- MIXINs

//- SEITENINHALT
+repeating-textarea("physiologische-stoerungen")
//
    ********************************
    * ENDE src/html/bloecke/physiologische_stoerungen.pug
    ********************************
