//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/sonderattribute.pug
    ********************************

//- MIXINs
mixin sonderattributskopfzeile(text)
    // MIXIN : src/html/bloecke/sonderattribute.pug : sonderattributskopfzeile
    div(class="sheet-sonderattribut-zeile")
        div 
        div(class="sheet-kopfzeile")
            span(data-i18n=text)

mixin sonderattributskopfzeile_max_aktuell(text_max,text_aktuell)
    // MIXIN : src/html/bloecke/sonderattribute.pug : sonderattributskopfzeile_max_aktuell
    div(class="sheet-sonderattribut-zeile-max-aktuell")
        div 
        div(class="sheet-kopfzeile")
            span(data-i18n=text_max)
        div(class="sheet-kopfzeile")
            span(data-i18n=text_aktuell)

mixin sonderattributszeile(attribute)
    // MIXIN : src/html/bloecke/sonderattribute.pug : sonderattributszeile
    div(class="sheet-sonderattribut-zeile")
        div(class="sheet-sonderattribut-titel")
            span(data-i18n=attribute)
        div
            input(type="number" name="attr_"+attribute value=0)
            input(type="hidden" name="attr_"+attribute+"-old" value=0)

mixin sonderattributszeile_max_aktuell(attribute)
    // MIXIN : src/html/bloecke/sonderattribute.pug : sonderattributszeile_max_aktuell
    div(class="sheet-sonderattribut-zeile-max-aktuell")
        div(class="sheet-sonderattribut-titel")
            span(data-i18n=attribute)
        div
            input(type="number" name="attr_"+attribute value=0)
            input(type="hidden" name="attr_"+attribute+"-old" value=0)
        div
            input(type="number" name="attr_"+attribute+"_current" value=0)


//- SEITENINHALT
div(class="sheet-sonderattribute")
    div
        +sonderattributskopfzeile("wert")
        +sonderattributszeile("trefferpunkte")        
        div(class="sheet-sonderattribut-zeile")
            div(class="sheet-sonderattribut-titel")
                span(data-i18n="dmg_schwellwert")
            div
                input(type="number" name="attr_dmg_schwellwert" readonly="readonly")                
    div 
        +sonderattributskopfzeile("stufe")                
        +sonderattributszeile("schmerztoleranz")
    div 
        +sonderattributskopfzeile_max_aktuell("stufe","verbleibend")
        +sonderattributszeile_max_aktuell("adrenalin")
        +sonderattributszeile_max_aktuell("meditation")
        +sonderattributszeile_max_aktuell("blutpunkte")
div
    textarea(name="attr_notizen-attribute" class="sheet-textarea-klein")
div(class="sheet-sonderattribute")
    div               
        div(class="sheet-sonderattribut-zeile")
            div(class="sheet-sonderattribut-titel")
                span(data-i18n="regeneration")
            div
    div 
        +sonderattributszeile("regeneration-geschwindigkeit")
    div 
        +sonderattributszeile_max_aktuell("regeneration-pool")
//
    ********************************
    * ENDE src/html/bloecke/sonderattribute.pug
    ********************************