//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/sprachkentnisse.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box")
    h1(data-i18n="sprachkenntnisse")
    div(class="sheet-sprachkenntnisse-zeile")
        div(class="sheet-kopfzeile")
            span &nbsp;
        div(class="sheet-kopfzeile")
            span(data-i18n="sprache")
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")
    div(class="sheet-sprachkenntnisse-zeile")
        div
            button(type="action" class="sheet-button-d6" name="act_sprachprobe_babel")
        div
            input(type="text" value="Babel" readonly="readonly")
        div
            input(type="number" name="attr_babel-stufe" value="5")
    fieldset(class="repeating_sprachkenntnisse")
        div(class="sheet-sprachkenntnisse-zeile")
            div
                button(type="action" class="sheet-button-d6" name="act_probe")
            div
                input(type="text" name="attr_sprachkenntnisse-sprache")
            div
                input(type="number" name="attr_sprachkenntnisse-stufe")
//
    ********************************
    * ENDE src/html/bloecke/sprachkentnisse.pug
    ********************************
