//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/style_skills.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box" role="section")
    h1(data-i18n="style-skills")
    div(class="sheet-style-skills-zeile")
        div(class="sheet-kopfzeile")
            span(data-i18n="style-skill")
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")
    fieldset(class="repeating_style-skills")
        div(class="sheet-style-skills-zeile")
            div
                input(type="text" name="attr_style-skill-name")
            div
                input(type="number" name="attr_style-skill-stufe")
        details     
            summary(class="sheet-summary-style-skill") &nbsp;
            textarea(name="attr_style-skill-info" class="sheet-style-skills")
//
    ********************************
    * ENDE src/html/bloecke/style_skills.pug
    ********************************