//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/trefferzonen.pug
    ********************************

//- MIXINs
mixin trefferzone(zone)
    // MIXIN : src/html/bloecke/trefferzonen.pug : trefferzone
    div(class="sheet-trefferzonen-eintrag")
        div(class="sheet-trefferzone-kopfzeile")
            div(class="sheet-kopfzeile")
                span(data-i18n="zone")
            div(class="sheet-kopfzeile")
                span(data-i18n="trefferpunkte_kurz")
            div(class="sheet-kopfzeile")
                span(data-i18n="ruestungswert_kurz")
            div(class="sheet-kopfzeile")
                span(data-i18n="materialkomponente_kurz")
        div(class="sheet-trefferzone-zeile")
            div 
                span= zone
            div
                input(type="number" name="attr_trefferpunkte-zone-"+zone)
            div
                input(type="number" name="attr_ruestungswert-zone-"+zone)
            div
                input(type="text" maxlength="1" name="attr_mk-zone-"+zone)

//- SEITENINHALT
div(class="sheet-box" role="section")
    div(class="sheet-trefferzonen-liste")
        +trefferzone(12)
        +trefferzone(11)
        +trefferzone(6)
        +trefferzone(10)
        +trefferzone(5)
        +trefferzone(9)
        +trefferzone(4)
        +trefferzone(8)
        +trefferzone(3)
        +trefferzone(7)
        +trefferzone(2)
//
    ********************************
    * ENDE src/html/bloecke/trefferzonen.pug
    ********************************