//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/vorteile_nachteile.pug
    ********************************

//- MIXINs

//- SEITENINHALT
+repeating-textarea("vor-nachteile")
//
    ********************************
    * ENDE src/html/bloecke/vorteile_nachteile.pug
    ********************************
