//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/bloecke/waffenkampf_nahkampf.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-box")
    h1(data-i18n="waffenkampf_und_nahkampf")
    div(class="sheet-nahkampfwaffen")
        div(class="sheet-nahkampfwaffen-kopfzeile")
            span(data-i18n="bezeichnung")
            span(data-i18n="fertigkeit")
            span(data-i18n="angriff")
            span(data-i18n="parade")
            span(data-i18n="schaden")
        fieldset(class="repeating_nahkampfwaffen")
            div(class="sheet-nahkampfwaffen-zeile")
                div
                    input(type="text" name="attr_nahkampfwaffe_bezeichnung")
                div
                    input(type="text" name="attr_nahkampfwaffe_fertigkeit")
                div
                    input(type="text" name="attr_nahkampfwaffe_angriff")
                div
                    input(type="text" name="attr_nahkampfwaffe_parade")
                div
                    input(type="text" name="attr_nahkampfwaffe_schaden")
            details 
                summary(class="sheet-summary-nahkampfwaffen") &nbsp;
                textarea(name="attr_nahkampfwaffe-info" class="sheet-nahkampfwaffen")
//
    ********************************
    * ENDE src/html/bloecke/waffenkampf_nahkampf.pug
    ********************************
