/**
 * Basic typography style for copy text
 */

label {
  display: block;
  color: $label-color;
  font-family: $text-font-stack;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: 0;

  span {
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  }
}

span + label {
  letter-spacing: 2px;
  font-weight: 900;
}

.pictos {
  font-family: Pictos;
}

.translation {
  display: none;
}
