
/* Transparent, round Buttons for rolling Attribute */
button[type=roll].sheet-blank-roll-button::before { 
    content: ""; }
button[type=roll].sheet-blank-roll-button{
    display:inline-block;
    width:28px;
    height:28px;
    background-color: Transparent;
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Buttons.png);
    background-repeat:repeat;
    border: 0px solid transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius:50%;
    margin-top:14px;
    
    
}
/*end of button code*/

.sheet-2colrow{
    background-color:lightgray;
}

/* Tab Setup */


div.sheet-pageselector span{
    font-size:13px; 
}
div.sheet-pageselector input[type="radio"] {
    margin-right:2px;
}

div.sheet-pageselector input[value="1"]:checked ~ div.sheet-wrapperfrontpage {
  display:block;   
}


div.sheet-pageselector input[value="2"]:checked ~ div.sheet-wrapperbackpage {
  display:block;   
}
 
div.sheet-wrapperfrontpage, div.sheet-wrapperbackpage { display: none; }

/*end of tab setup */


/* Sheet Front */

div.sheet-statcol{
width:70px;
float:left;
height:113px;
position:relative;
/*border:1px solid blue;*/
}

div.sheet-statrow{
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Statrow.jpg);
    background-repeat:no-repeat;
    width:371px;
    height:113px;
    
}

div.sheet-skillbox{
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Skillbox.png);
    background-repeat:no-repeat;
    width:371px;
    height:616px;
    
}

div.sheet-assetbox{
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Assetbox.png);
    background-repeat:no-repeat;
    width:371px;
    height:519px;
    /*border:1px solid red;*/
}



/*  DESCRIPTION BOX WIH DESCRIPTION, BACKGROUND LOGOS, NOTES*/

div.sheet-descriptionbox textarea.sheet-description {
    width:  340px;
    height: 75px;
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Description.png);
    padding-top: 25px;
    padding-left: 25px;
}
 div.sheet-descriptionbox textarea.sheet-notes {
    font-size: 9pt;
    height: 160px;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Notes.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 362px;
}

div.sheet-logos {
    
    text-align:center;
    padding-left:10px;
    padding-right:10px;
}
div.sheet-logos span {
    display:inline-block;
   /* margin-left:10px;*/
    margin-right:10px;
    width:80px;
    height:80px;


}


div.sheet-logos input.sheet-logo-origin-toggle[value="Advanced"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Advanced.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Brutal"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Brutal.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Colonist"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Colonist.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Crowded"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Crowded.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Galactic"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Galactic.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Impoverished"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Impoverished.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Privileged"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Privileged.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Productive"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Productive.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Regimented"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Regimented.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Rustic"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Rustic.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Forlorn"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Forlorn.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Occult"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Occult.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Primal"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Primal.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Programmed"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Programmed.png);
}
div.sheet-logos input.sheet-logo-origin-toggle[value="Spiritual"] ~ .sheet-logo-origin {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Spiritual.png);
}


div.sheet-logos input.sheet-logo-career1-toggle[value="Academic"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Academic.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Clandestine"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Clandestine.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Commercial"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Commercial.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Explorer"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Explorer.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Industrial"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Industrial.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Military"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Military.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Personality"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Personality.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Scoundrel"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Scoundrel.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Starfarer"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Starfarer.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Technocrat"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Technocrat.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Augmented"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Augmented.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Chosen"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Chosen.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Consul"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Consul.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Fanatic"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Fanatic.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Kinetic"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Kinetic.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Psychic"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Psychic.png);
}
div.sheet-logos input.sheet-logo-career1-toggle[value="Shaper"] ~ .sheet-logo-career1 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Shaper.png);
}

div.sheet-logos input.sheet-logo-career2-toggle[value="Academic"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Academic.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Clandestine"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Clandestine.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Commercial"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Commercial.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Explorer"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Explorer.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Industrial"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Industrial.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Military"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Military.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Personality"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Personality.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Scoundrel"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Scoundrel.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Starfarer"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Starfarer.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Technocrat"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Technocrat.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Augmented"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Augmented.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Chosen"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Chosen.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Consul"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Consul.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Fanatic"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Fanatic.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Kinetic"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Kinetic.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Psychic"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Psychic.png);
}
div.sheet-logos input.sheet-logo-career2-toggle[value="Shaper"] ~ .sheet-logo-career2 {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Shaper.png);
}

div.sheet-skillbox textarea {
    margin-left:30px;
    margin-top:60px;
    width:312px;
    height: 510px;
    font-size:9pt;
}

div.sheet-assetbox textarea.sheet-assets {
    margin-left:22px;
    margin-top:60px;
    width:312px;
    height: 345px;
    font-size:9pt;
}

div.sheet-assetbox input.sheet-stats-armor {
    margin-left:15px;
    margin-top:32px;
    width: 28px;
    height: 28px;
    text-align:center;
    font-weight:bold;
    font-size:12pt;
}

div.sheet-datapointsbox{
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Datapoints.png);
    background-repeat:no-repeat;
    width:380px;
    height:243px;
    
}

div.sheet-datapointsbox textarea {
    margin-left:12px;
    margin-top:60px;
    width:312px;
    height: 130px;
}

div.sheet-advancementbox {
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Advancement.png);
    background-repeat:no-repeat;
    width:371px;
    margin-left:-17px;
    margin-top:92px;
    height:123px;
    padding-top:20px; 
    padding-left:20px;
}

/* now three fieldsets
div.sheet-advancementbox textarea {
    margin-left:32px;
    margin-top:17px;
    width:312px;
    height: 55px;
}*/

div.sheet-advancementbox input[type=text] {
    font-size:10px;
    height:20px;
    width:85%;
    margin:2px;
}
div.sheet-advancementbox input[type=checkbox] {
    border-color:grey;
}


div.sheet-statrow input {
    width:28px;
    height:28px;
    position: absolute;
    top: 57px;
    left:17px;
    margin-top:-14px;
    text-align:center;
    font-weight:bold;
    font-size:12pt;
    
}

div.sheet-playerbox{
      width:370px;
      margin-bottom:2px;
      text-align:center;
 }
 
 div.sheet-playerbox input {
    display:inline;
    width:100%;
    font-size:12pt;
    margin:2px;
    text-align:center;
 
}



div.sheet-playerbox input.sheet-charconcept{
    font-size:16pt;
    font-weight:bold;
    width:100%;
   
}

div.sheet-playerbox input.sheet-inlineinput, select{
    display:inline;
    width:100px;
    font-size:8pt;
    font-weight:bold;
 
}

div.sheet-statrow input.sheet-stats-mettle{
     left:17px;
}
div.sheet-statrow input.sheet-stats-physique{
     left:19px;
}
div.sheet-statrow input.sheet-stats-influence{
     left:21px;
}
div.sheet-statrow input.sheet-stats-expertise{
     left:23px;
}
div.sheet-statrow input.sheet-stats-interface{
     left:25px;
}

/*Sheet back */

div.sheet-factionsbox{
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Factions.png);
    background-repeat:no-repeat;
    width:371px; /*real: 339*/
    height:444px;
    /*border:1px solid red;*/
}

div.sheet-factionsbox textarea {
    margin-left:18px;
    margin-top:50px;
    width:285px;
    height: 320px;
}

div.sheet-injuriesbox{
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Injuries.png);
    background-repeat:no-repeat;
    width:371px; /*334*/
    height:522px;
    /*border:1px solid red;*/
}

div.sheet-injuriesbox textarea {
    margin-left:16px;
    margin-top:60px;
    width:285px;
    height: 425px;
}



span.sheet-defaultvalue{
    font-style:italics;
    color:#c0c0c0;
    
}

label {
    margin-bottom:4px;
}


.sheet-rolltemplate-uncworld table {
    width: 200px;
    height: 170px;
    padding: 2px;
    padding-bottom: 20px;
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Uncharted%20Worlds/Images/Table.png);
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}
 
.sheet-rolltemplate-uncworld th {
    color: rgb(0, 0, 0);
    padding: 5px 5px 2px 5px;
	line-height: 1.2em;
	font-size: 1.2em;
    text-align: center;
    
}

.sheet-rolltemplate-uncworld td {
      text-align: center;
}

.sheet-rolltemplate-uncworld .sheet-subheader {
  color: black;
  font-size: 1.2em;
  font-style: bold;
  font-family: "Times New Roman", Times, serif;
}

.sheet-rolltemplate-uncworld .sheet-subresult span{
  background-color:#ffffff;
  border: 1px solid #c0c0c0;
  padding:2px;
}

.sheet-rolltemplate-uncworld .inlinerollresult  {
    background-color: #ffffff;
    border: 1px solid #333333;
    font-size: 1.5em;
}
