//- sheet start
main
  //-  name 
  section.name.flex-col
    h1.gametitle.flex-row
      div.atom="l"
      span="Cepheus Atom"
    div.flex-row.name
      span.flex-col
        span(data-i18n="name") Name
        input.bold(type="text", name="attr_character_name")
      span.flex-col
        span(data-i18n="genotype") genotype
        input(name="attr_genotype", type="text", list="genotype").geno
      span.border.flex-col
        span(data-i18n="endurance") endurance
        input(name="attr_endurance", type="number")
      span.border.flex-col
        span(data-i18n="lifeblood") lifeblood
        div.flex-row
          input(name="attr_lifeblood", type="number").lifeblood.txtfield
          input(name="attr_lifeblood_max", type="number").lifeblood.txtfield
    span.flex-col.desc
      span(data-i18n="description") Description
      textarea(name="attr_description")
  section.general
    div.flex-row
      span.border.flex-col
        span(data-i18n="trade-units") Trade Units
        input(name="attr_tu", type="number")
      span.border.flex-col.pad
        span(data-i18n="fatigued") Fatigued?
        input(name="attr_fatigue", type="checkbox", value="1")
    h3 Contamination
    .contam-row.flex-row
      +contamcheckbox
  //- skills
  section.skills.flex-col
    label(data-i18n="skills") skills
    +skillblock(skill,skills)
  //- combat
  section.combat
    .flex-row.section
      button(name="roll_init", type="roll", value="&{template:rolls} {{title=^{initiative} }} {{subtitle=@{character_name} }} {{^{roll-i18n}=[[2d6+(@{combat} &{tracker}]]}}").d6
        span(data-i18n="initiative") Initiative
      .armor.border.flex-row
        h3(data-i18n="armor") armor
        input(name="attr_armorname", type="text").name
        input(name="attr_armor", type="number")
        //-input(name="attr_armorinfo", type="text")
    .border.grid-weapon
      span
      span(data-i18n="weapons") weapons
      span(data-i18n="range") range
      span(data-i18n="damage").damage dmg
      span(data-i18n="notes") notes
      //- 5 weapons
      +weaponblock(num)
  section.border.equip
    label(for, data-i18n="equipment") equipment
    textarea(name="attr_equipment", value).iflex
  section.border.notes
    label(for, data-i18n="notes") notes
    textarea(name="attr_notes", value).iflex
  section.border.mutation
    label(for, data-i18n="mutations") mutations
    //- textarea(name="attr_mutations", value)
    fieldset.repeating_mutations
      button.sendtext(name="roll_roll" value!="@{whisper}&{template:rolls} {{title=Mutation: @{name} }} {{subtitle=@{character_name} }} {{type= @{type} }} {{desc=**Description:** @{desc} }}" type="roll")
      input.name(name="attr_name" title="@{name}" type="text")
      select(name="attr_type" title="@{type}")
        +mutations
      input(name="attr_desc" title="@{desc}" type="text")
  //- xp
  //-section.xp.flex-col
    label(data-i18n="xp") XP
    +xpblock