rolltemplate.sheet-rolltemplate-rolls
  .sheet-container(class="sheet-color-{{color}}")
    .sheet-header
      |
      | {{#title}}
      .sheet-title {{title}}
      |
      | {{/title}}
      | {{#subtitle}}
      .sheet-subtitle {{subtitle}}
      |
      | {{/subtitle}}
    .sheet-content
      |
      | {{#allprops() title subtitle desc color baseroll}}
      .sheet-key {{key}}
      .sheet-value {{value}}
      |
      | {{/allprops() title subtitle desc color baseroll}}
      | {{#rollTotal() baseroll 2}}
      .sheet-fail Critical Fumble!
      |
      | {{/rollTotal() baseroll 2}}
      | {{#rollTotal() baseroll 12}}
      .sheet-crit Critical Success!
      |
      | {{/rollTotal() baseroll 12}}
      | {{#desc}}
      .sheet-desc {{desc}}
      |
      | {{/desc}}
