//- functions
- var N = number => [...Array(number+1).keys()].slice(1) 
- var cap = word => word.charAt(0).toUpperCase() + word.slice(1)
- var i18nkey = words => words.replace(/[\s]/g, '-').toLowerCase()

//- variables
- var skills = ["combat", "knowledge", "physical", "social", "survival", "technical"];
- var mutationtypes = ["Minor Flaw", "Medium Flaw", "Major Flaw", "Minor Perk", "Medium Perk", "Major Perk"];