mixin markdown({file, string})
    - const renderer = require("markdown-it")({"html": true});
    if file
        -
            const fs = require("fs");
            if (! fs.existsSync(file)) { throw new Error(`${file} doesn't exists`); }
            const markdown = renderer.render(fs.readFileSync(file, "utf8"));
    if string
        -
            const markdown = renderer.render(string);
    if markdown
        div.markdown
            != markdown

