.options
    .options-wrapper
        h1(data-i18n='options') options
        .options-panel
            h2(data-i18n='customize_rolls') customize rolls

            label(data-i18n-title='roll_bonus' title='bonus to roll')
                input(name='attr_query_roll_bonus' title='@{query_roll_bonus}' type='checkbox' value='?{@{text_roll_bonus}|0}')
                span(data-i18n='roll_bonus') bonus to roll

            label(data-i18n-title='roll_damage_bonus' title='bonus to damage')
                input(name='attr_query_roll_damage_bonus' title='@{query_roll_damage_bonus}' type='checkbox' value='?{@{text_roll_damage_bonus}|0}')
                span(data-i18n='roll_damage_bonus') bonus to damage

            label(data-i18n-title='#_damage_dice' title='# Damage Dice')
                input(name='attr_query_roll_damage_dice' title='@{query_roll_damage_dice}' type='checkbox' value='?{@{text_#_damage_dice}|@{damage_dice}}')
                span(data-i18n='#_damage_dice') # Damage Dice

            label(data-i18n-title='roll_option_critical_damage' title='roll critical damage options')
                span(data-i18n='roll_option_critical_damage') ROLL CRITICAL DAMAGE OPTIONS
                select(name='attr_roll_option_critical_damage' title='@{roll_option_critical_damage}')
                    option(data-i18n='roll_option_critical_damage_none' value='none') Don't roll critical damage
                    option(data-i18n='roll_option_critical_damage_button' value='button') Show a chat button to roll critical damage
                    option(data-i18n='roll_option_critical_damage_auto' selected='selected' value='auto') Auto roll critical damage

            label(data-i18n-title='roll_show_notes' title='Show Notes in Rolls')
                input(name='attr_roll_show_notes' title='@{roll_show_notes}' type='checkbox' value='[[1]]')
                span(data-i18n='roll_show_notes') Show Notes in Rolls

            label(data-i18n-title="Limit height of Notes and Description in roll template" title="Limit height of Notes and Description in roll template")
                input(name="attr_roll_limit_height" title="@{roll_limit_height}" type="checkbox" value="limit-height")
                span(data-i18n="Limit height of Notes and Description in roll template") Limit height of Notes and Description in roll template

        .options-panel
            h2(data-i18n='customize_sheet_layout') customize sheet layout

            h3(data-i18n='color_scheme') color scheme
            label(data-i18n-title='color_scheme' title='color scheme select')
                select(data-i18n-title='color_scheme' name='attr_color_scheme' title='@{color_scheme}' value='default')
                    option(data-i18n='default' value='default' selected) default
                    option(data-i18n='neutral' value='neutral') neutral

            h3(data-i18n='change-sheet-type') change sheet type
            button(data-i18n='npc' name='act_toggle_npc' type='action') npc
