
.spells
    .column
        .spellattack.background-color
            h1(data-i18n="spell_attack_roll") spell attack roll
            input.toggles(name="attr_toggles" type="hidden" value="")
            input.npc-spellcaster-field(name="attr_spell_attack" title="@{spell_attack}" type="text" value="")
            .grid.spellattack-grid
                button.pictos.settings-button(name="act_toggle_spell_attack" type="action") y
                .circle
                    span(name="attr_spell_attack")
                span.equals =
                label.sublabel(data-i18n-title="spell_attack_key_ability" title="spell attack key ability")
                    span.sublabel.darkred(data-i18n="key") key
                    span(name="attr_spell_attack_key_ability")
                label.sublabel(data-i18n-title="spell_attack_proficiency" title="spell attack proficiency")
                    span.sublabel.darkred(data-i18n="prof") prof
                    span
                        span.inline(name="attr_spell_attack_proficiency_display")
                        span.inline(name="attr_spell_attack_proficiency" title="@{spell_attack_proficiency}")
                label.sublabel(data-i18n-title="spell_attack_temporary" title="spell attack temporary")
                    span.sublabel.darkred(data-i18n="temp") temp
                    span(name="attr_spell_attack_temporary" title="@{spell_attack_temporary}")
            .settings.grid.spellattack-grid
                .ability-select
                    label(data-i18n-title="spell_attack_key_ability_select" title="spell attack key ability select")
                        +ability_select('spell_attack_key','intelligence')
                    label(data-i18n-title="spell_attack_key_ability" title="spell attack key ability")
                        input(data-i18n-placeholder="0" name="attr_spell_attack_key_ability" placeholder="0" spellcheck="false" title="@{spell_attack_key_ability}" type="text" value="")
                label.sublabel(data-i18n-title="spell_attack_rank" title="spell attack rank")
                    span.sublabel.darkred(data-i18n="rank") rank
                    +rank_select('spell_attack')
                label.sublabel(data-i18n-title="spell_attack_temporary" title="spell attack temporary")
                    span.sublabel.darkred(data-i18n="temp") temp
                    input(data-i18n-placeholder="0" name="attr_spell_attack_temporary" placeholder="0" spellcheck="false" title="@{spell_attack_temporary}" type="text" value="0")
                label(data-i18n-title="spell_attack_notes" title="spell attack notes")
                    span(data-i18n="notes") notes
                    textarea(data-i18n-placeholder="notes" name="attr_spell_attack_notes" placeholder="notes" spellcheck="false" title="@{spell_attack_notes}" value="")

        .spelldc.background-color
            h1(data-i18n="spell_dc") spell dc
            input.toggles(name="attr_toggles" type="hidden" value="")
            input.npc-spellcaster-field(name="attr_spell_dc" title="@{spell_dc}" type="text" value="")
            .grid.spelldc-grid
                button.pictos.settings-button(name="act_toggle_spell_dc" type="action") y
                .circle
                    span(name="attr_spell_dc")
                span.equals =
                label.sublabel(data-i18n-title="spell_base_dc" title="spell base dc")
                    span.sublabel.spelldc-base(data-i18n="dc_base") DC Base
                    span(data-i18n="10")
                        b 10
                label.sublabel(data-i18n-title="spell_dc_key_ability" title="spell dc key ability")
                    span.sublabel.darkred(data-i18n="key") key
                    span(name="attr_spell_dc_key_ability")
                label.sublabel(data-i18n-title="spell_dc_proficiency" title="spell dc proficiency")
                    span.sublabel.darkred(data-i18n="prof") prof
                    span
                        span.inline(name="attr_spell_dc_proficiency_display")
                        span.inline(name="attr_spell_dc_proficiency" title="@{spell_dc_proficiency}")
                label.sublabel(data-i18n-title="spell_dc_temporary" title="spell dc temporary")
                    span.sublabel.darkred(data-i18n="temp") temp
                    span(name="attr_spell_dc_temporary" title="@{spell_dc_temporary}")
            .settings.grid.spelldc-grid
                .ability-select
                    label(data-i18n-title="spell_dc_key_ability_select" title="spell dc key ability select")
                        +ability_select('spell_dc_key','intelligence')
                    label(data-i18n-title="spell_dc_key_ability" title="spell dc key ability")
                        input(data-i18n-placeholder="0" name="attr_spell_dc_key_ability" placeholder="0" spellcheck="false" title="@{spell_dc_key_ability}" type="text" value="")
                label.sublabel(data-i18n-title="spell_dc_rank" title="spell dc rank")
                    span.sublabel.darkred(data-i18n="rank") rank
                    +rank_select('spell_dc')
                label.sublabel(data-i18n-title="spell_dc_temporary" title="spell dc temporary")
                    span.sublabel.darkred(data-i18n="temp") temp
                    input(data-i18n-placeholder="0" name="attr_spell_dc_temporary" placeholder="0" spellcheck="false" title="@{spell_dc_temporary}" type="text" value="0")
                label(data-i18n-title="spell_dc_notes" title="spell dc notes")
                    span(data-i18n="notes") notes
                    textarea(data-i18n-placeholder="notes" name="attr_spell_dc_notes" placeholder="notes" spellcheck="false" title="@{spell_dc_notes}" value="")

        input.toggles(name="attr_toggles" type="hidden" value="")
        .magic-tradition.background-color.pc-spellcaster-field
            h1(data-i18n="magic_traditions") magic traditions
            .grid.magic-tradition-grid
                each tradition in ['arcane', 'primal', 'occult', 'divine']
                    label.sublabel(data-i18n-title='magical_tradition_' + tradition title='magical tradition ' + tradition)
                        span.sublabel.darkred.darkred-half-left(data-i18n=tradition)=tradition
                        span.sublabel.darkred.darkred-half-right(name='attr_magic_tradition_' + tradition + '_proficiency' title='@{magic_tradition_' + tradition + '_proficiency}')
                        +rank_select('magic_tradition_' + tradition)(class='simple')

                label.spellcaster(title="prepared spell caster")
                    input(name="attr_spellcaster_prepared" title="@{spellcaster_prepared}" type="checkbox" value="prepared")
                    span(data-i18n="prepared") prepared
                label.spellcaster(title="spontaneous spell caster")
                    input(name="attr_spellcaster_spontaneous" title="@{spellcaster_spontaneous}" type="checkbox" value="spontaneous")
                    span(data-i18n="spontaneous") spontaneous

        .magic-tradition.background-color.npc-spellcaster-field
            .grid.magic-tradition-grid
                label.spellcaster(title="prepared spell caster")
                    input(name="attr_spellcaster_prepared" title="@{spellcaster_prepared}" type="checkbox" value="prepared")
                    span(data-i18n="prepared") prepared
                label.spellcaster(title="spontaneous spell caster")
                    input(name="attr_spellcaster_spontaneous" title="@{spellcaster_spontaneous}" type="checkbox" value="spontaneous")
                    span(data-i18n="spontaneous") spontaneous

        .spellslots.background-color
            h1(data-i18n="spell_slots_per_day") spell slots per day
            label.spellslots-row
                span.sublabel.darkred.cantrip-level(data-i18n="cantrip_level") cantrip level
            label.spellslots-row
                span(data-i18n="cantrips") CANTRIPS
                input(type="number" name="attr_cantrips_per_day" value="")
            label.spellslots-row
                span.sublabel.darkred.level(data-i18n="level") level
                span.sublabel.darkred.slots-per-day(data-i18n="spell_slots_per_day") spell slots per day
            - var levelnumber = 1
            while levelnumber <= 10
                label.spellslots-row
                    span(data-i18n=levelnumber + "-level")='level ' + levelnumber
                    input(type="number" name="attr_level_" + levelnumber + "_per_day" value="")
                    span /
                    input(type="number" name="attr_level_" + levelnumber + "_per_day_max" value="")
                - levelnumber++
        .spellsectiontoggles.background-color
            h1(data-i18n="toggle_sections") Toggle Sections
            label.spellsectiontoggles-row
                span.sublabel.darkred(data-i18n="off_on") off/on
                span.sublabel.darkred(data-i18n="spell_section") spell_section
            label.spellsectiontoggles-row
                span.checkbox
                    label.switch(data-i18-titlen='innate_spells' title='innate spells')
                        input(name="attr_toggle_innate" title="@{toggle_innate}" type="checkbox" value="innate" checked)
                        span.slider
                span(data-i18n="innate_spells") innate spells
            label.spellsectiontoggles-row
                span.checkbox
                    label.switch(data-i18-titlen='focus_spells' title='focus spells')
                        input(name="attr_toggle_focus" title="@{toggle_focus}" type="checkbox" value="focus" checked)
                        span.slider
                span(data-i18n="focus_spells") focus spells
            label.spellsectiontoggles-row
                span.checkbox
                    label.switch(data-i18-titlen='cantrips' title='cantrips')
                        input(name="attr_toggle_cantrips" title="@{toggle_cantrips}" type="checkbox" value="cantrips" checked)
                        span.slider
                span(data-i18n="cantrips") cantrips
            label.spellsectiontoggles-row
                span.checkbox
                    label.switch(data-i18-titlen='spells' title='spells')
                        input(name="attr_toggle_normalspells" title="@{toggle_normalspells}" type="checkbox" value="spells" checked)
                        span.slider
                span(data-i18n="spells") spells
    .column
        .background-color.innate.compendium-drop-target
            h1.label(data-i18n=innate_spells) INNATE SPELLS
            +sort_select('spellinnate')
            +repeating_spell_section('spellinnate')

        .background-color.focus.compendium-drop-target
            h1.label(data-i18n="focus_spells") FOCUS SPELLS
            +sort_select('spellfocus')
            .focus-points-grid
                h2(data-i18n="focus_points") FOCUS POINTS
                label.focus-pts-current(title="current focus points")
                    span.sublabel.darkred(data-i18n="current") current
                    input(type="number" name="attr_focus_points" value="0" title="@{focus_points}")
                label.focus-pts-max(title="maximum focus points")
                    span.sublabel.darkred(data-i18n="maximum") maximum
                    input(type="number" name="attr_focus_points_max" value="0" title="@{focus_points_max}")
            +repeating_spell_section('spellfocus')

        .background-color.cantrips.compendium-drop-target
            h1.label(data-i18n="cantrips") CANTRIPS
            +sort_select('cantrip')
            +repeating_spell_section('cantrip')

        .background-color.normalspells.compendium-drop-target
            h1.label(data-i18n=spells) SPELLS
            +sort_select('normalspells')
            +repeating_spell_section('normalspells')
