<!-- Sheet type at very top to influence the rest -->
<input class="sheet-typetoggle" type="hidden" name="attr_sheet_type" value="pc">
<input class="sheet-setting-control" type="hidden" name="attr_setting_option" value="default">
<input class="sheet-compact-control" type="hidden" name="attr_compact" value="0">
<div class="sheet-wrapper">
    <!-- Floating Option Bar -->
    {% include 'common/options_bar.html' %}

    <!-- Character ID holder -->
    <input type="hidden" name="attr_character_id">

    <!-- Shared Hit Location Buttons -->
    <div hidden>
        <button type="roll" name="roll_hit_location" value="{{'@{hit_location_roll}'}}"></button>
        <button type="roll" name="roll_hit_location_low" value="{{'@{hit_location_low_roll}'}}"></button>
        <button type="roll" name="roll_hit_location_high" value="{{'@{hit_location_high_roll}'}}"></button>

        <input type="text" name="attr_hit_location_roll" value="@{creature_hit_location_roll}" readonly>
        <input type="text" name="attr_hit_location_low_roll" value="@{creature_hit_location_low_roll}" readonly>
        <input type="text" name="attr_hit_location_high_roll" value="@{creature_hit_location_high_roll}" readonly>

        <!-- Hit location roll value used when the sheet_type has no hit locations -->
        <input type="text" name="attr_none_hit_location_roll" value="{{'@{roll_display}&{template:default} {{hitstyle=[[1]]}} {{name=^{hit_location} (^{none})}} {{character=@{character_name}}}'}}" disabled>
    </div>

    <!-- Sheet Types -->
    {% include 'sheet_types/battle_unit/battle_unit.html' %}
    {% include 'sheet_types/character/character.html' %}
    {% include 'sheet_types/ship/ship.html' %}
    {% include 'sheet_types/vehicle/vehicle.html' %}
    {% include 'sheet_types/star_system/star_system.html' %}

    <!-- Popup Windows -->
    {% include 'common/help.html' %}
    {% include 'common/import.html' %}
    {% include 'common/configuration.html' %}
</div>

<!-- Roll Templates -->
{% include 'roll_templates/default.html' %}
{% include 'roll_templates/effect.html' %}
{% include 'roll_templates/hit-location.html' %}
{% include 'roll_templates/improvement.html' %}
{% include 'roll_templates/resolution_pool.html' %}
{% include 'roll_templates/skill.html' %}
{% include 'roll_templates/system.html' %}
{% include 'roll_templates/weapon.html' %}