/*************************************************************/
/* Colors
    #993333 / rgb(153, 51, 51)
*/
div,
button,
textarea,
span,
input,
select{
    box-sizing: border-box;
}
div{
    margin: none;
    padding: none;
    background-color: transparent;
}

input[type=radio].sheet-styleCharacter,
input[type=radio].sheet-styleMonster{
    margin-left:2px;
    margin-right: 1px;
    display: inline-block;
}
input[type=radio].sheet-styleCharacter + span,
input[type=radio].sheet-styleMonster + span{
    font-size:11px;
    color: #888888;
    text-align:left;
}
input[type=radio].sheet-styleCharacter:checked ~ .sheet-monster{
    display: none;
}
input[type=radio].sheet-styleMonster:checked ~ .sheet-main{
    display: none;
}
input[type=checkbox]{
    margin-left: 10px;
}


div.sheet-main{
    width: 890px;
    min-width: 890px;
    max-width: 890px;
    text-align: center;
    font-size: 13px;
    background-color : #FDFDFD;
    padding: 4px;
}
div.sheet-monster{
    width: 890px;
    min-width: 890px;
    max-width: 890px;
    text-align: center;
    font-size: 13px;
    background-color : #FDFDFD;
    padding: 4px;
}
div.sheet-ligne{
    display: block;
    text-align: left;
    vertical-align: top;
    width: 100%;
    white-space: nowrap;
}
div.sheet-mycol{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
input, textarea{
    background-color: transparent;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Patrick Hand';
    font-size: 16px;
    border: none;
    box-shadow: none;
    resize:none;
    z-index: 2;
    border-radius: 0;
    border-bottom: 1px dotted black;
}
input:focus, input:hover, textarea:focus, textarea:hover{
    box-shadow: inset 0px 1px 1px rgba(153,51,51,0.01),0 0 6px rgba(153,51,51,0.5);
    background-color: rgba(153,51,51,0.05);
}
textarea{
    padding: 1px 2px 0px 2px;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
}
input[type="text"]{
    padding: 0px 0px 0px 2px;
}
input[type="text"].sheet-inptxt1 {
    font-weight: bold;
    font-size: 18px;
}
input[type="number"]{
    text-align: right;
    padding: 0px 2px 0px 0px;
}
input[type="number"].sheet-stats{
    width: 30px;
    font-size: 20px;
    text-align: center;
    -moz-appearance: textfield;
}
input[type="number"].sheet-tinyinput {
    width:33px;
    font-size:13px;
}
input[type="text"].sheet-tinyinput {
    width:50px;
    font-size:13px;
    text-align: center;
}
input[type="text"].sheet-shortinput{
    width:60px;
}
input[type="number"].sheet-shortinput{
    width:45px;
}
input[type="text"].sheet-medinput{
    width:110px;
}
input[type="number"].sheet-medinput {
    width:90px;
}
input[type="text"].sheet-longinput {
    width:160px;
}
input[type="text"].sheet-biginput{
    width:250px;
    font-weight: bold;
    font-size: 25px;
}
input[type="number"].sheet-stats::-webkit-inner-spin-button,
input[type="number"].sheet-stats::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
select{
    background-color: rgba(255,255,255,0.6);
    padding: 0px;
    margin: 0px;
    height: 18px;
    line-height: 18px;
    max-height 18px;
    font-weight:normal;
    font-family: Arial;
    font-size: 14px;
    border: none;
    border-bottom: 1px dotted black;
    text-align: center;
    color: #993333;
}
select:hover{
    border: 1px solid #993333;
}
select.sheet-seldice{
    width: 48px;
}
button[type="roll"]{
    color: black;
    font-weight: normal;
    font-size: 20px;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
button[type="roll"]:hover{
    font-weight: bold;
}
button[type="roll"].sheet-btd20:before{
    content: '0';
    font-size: 20px;
}
button[type="roll"].sheet-bthp:before{
    font-family: "dicefontd8";
    content: '0';
    font-size: 20px;
}
button[type="roll"].sheet-btrisk{
}
button[type="roll"].sheet-btrisk:before{
    font-family: "dicefontd4";
    content: '0';
    font-size: 20px;
}
button[type="roll"].sheet-btrisk:hover:before{
    content: 'd';
}
.sheet-libred{
    font-size: 18px;
    color:#993333;
    font-weight: bold;
    padding-top:4px;
    font-family: 'Contrail One';
}
.sheet-lib0{
    display: inline-block;
    text-align: right;
    font-size:14px;
    font-weight:bold;
    color:#333;
    margin-right: 4px;
}
.sheet-lib1{
    display: inline-block;
    text-align: right;
    font-size:14px;
    font-weight:bold;
    color:#333;
    margin-right: 4px;
}
.sheet-lib2{
    display: inline-block;
    text-align: right;
    font-size:12px;
    font-weight:bold;
    color:#333;
    margin-right: 4px;
}
.sheet-lib2l{
    display: inline-block;
    text-align: left;
    font-size:12px;
    font-weight:bold;
    color:#333;
    margin-right: 4px;
}
.sheet-libmin1{
    display: inline-block;
    text-align: right;
    font-size:10px;
    font-weight:normal; color:#333;
}
.sheet-greybg{
    background-color:#eee;
    padding: 4px;
}
.sheet-bord{
    border-width: 1px 2px 1px 2px;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    padding: 4px;
    margin: 2px;
}
.sheet-nobord{
    border-width: 1px 2px 1px 2px;
    border-style: solid;
    border-color: white;
    border-radius: 6px;
    padding: 4px;
    margin: 2px;
}
.sheet-wid30{
    min-width: 30px;
}
.sheet-wid40{
    min-width: 40px;
}
.sheet-wid50{
    min-width: 50px;
}
.sheet-wid55{
    min-width: 55px;
}
.sheet-wid60{
    min-width: 60px;
}
.sheet-wid70{
    min-width: 70px;
}
.sheet-wid80{
    min-width: 80px;
}
.sheet-wid85{
    min-width: 85px;
}
.sheet-wid90{
    min-width: 90px;
}
.sheet-wid100{
    min-width: 100px;
}
.sheet-wid110{
    min-width: 110px;
}
.sheet-wid120{
    min-width: 120px;
}
.sheet-bold{
    font-weight: bold;
}
/* === fieldset button === */
div.repcontrol{
    display: inline-block;
    width: 100%;
}
.repcontrol_move{
    height: 11px;
    line-height: 11px;
    margin-top: 4px;
}
.repcontrol_del {
    height: 22px;
    line-height: 12px;
    margin-top: 4px;
    width: 30px;
}
.repcontrol_add, .repcontrol_edit {
    color: transparent;
    box-shadow: none;
    background: transparent;
    border-color: transparent;
    text-shadow:none;
    width: 100px;
}
.repcontrol_add:focus, .repcontrol_edit:focus {
    outline: none;
}
.repcontrol .repcontrol_edit:after {
    content: 'y';
    visibility: visible;
    font-family: pictos;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    padding: 2px 4px 2px 4px;
    color: rgba(153,51,51,0.7);
}
.editmode ~ .repcontrol .repcontrol_edit:after {
    content: '2';
}
.repcontrol .repcontrol_add:before {
    content: '+';
    visibility: visible;
    font-family: pictos;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    padding: 2px 4px 2px 4px;
    color: rgba(153,51,51,0.7);
}
.repcontrol .repcontrol_edit:hover:after,
.repcontrol .repcontrol_add:hover:before
{
    box-shadow: 1px 1px 4px 2px rgba(147,35,21,0.8);
    border-color: #993333;
    color: #993333;
}
.repcontrol_add:focus:before, .repcontrol_edit:focus:after {
    color: #993333;
}
/* === TEMPLATES === */
.sheet-rolltemplate-tmpl div{
    vertical-align: middle;
    border: none;
    box-sizing: border-box;
    display: block;
}
.sheet-rolltemplate-tmpl div.sheet-tplmain{
    background-color: transparent;
    border-width: 1px 2px 1px 2px;
    border-radius: 0px 6px 6px 0px;
    border-style: solid;
    border-color: black;
    width: 220px;
}
.sheet-rolltemplate-tmpl div.sheet-pc{
    background-color: #eee;
    color : #993333;
    padding: 2px 10px 2px 10px;
    border-radius: 0px 6px 0px 0px;
    font-size: 15px;
    font-family: 'Contrail One';
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 100%;
}
.sheet-rolltemplate-tmpl div.sheet-jetnom{
    background-color: #eee;
    color : #993333;
    padding: 2px 10px 4px 10px;
    border-radius: 0px 0px 6px 0px;
    font-size: 15px;
    font-family: 'Contrail One';
    display: inline-block;
    border-top: 1px dotted black;
    width: 100%;
}
.sheet-rolltemplate-tmpl div.sheet-jet{
    background-color: white;
    display: inline-block;
    padding: 6px;
    display: table-cell;
    font-family: 'Candal';
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
.sheet-rolltemplate-tmpl div.sheet-jetbordleft{
    border-left: 1px dotted black;
}
.sheet-rolltemplate-tmpl div.sheet-borderd{
    border-right: 2px solid black;
}
.sheet-rolltemplate-tmpl .inlinerollresult {
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    font-weight: bold;
    cursor: help;
    font-size: 22px;
    font-family: 'Candal';
}
.sheet-rolltemplate-tmpl .sheet-success{
    color: #3FB315;;
}
.sheet-rolltemplate-tmpl .sheet-failure{
    color: #B31515;
}
.sheet-rolltemplate-tmpl .inlinerollresult.fullcrit{
    border: none;
    color: #3FB315;
}
.sheet-rolltemplate-tmpl .inlinerollresult.importantroll{
    border: none;
    color: #4A57ED;
}
.sheet-rolltemplate-tmpl .inlinerollresult.fullfail{
    border: none;
    color: #B31515;
}