.sheet-body {
 	background: url("https://github.com/iamrpgdm/roll20-character-sheets/blob/master/316Carnage/316CharSheet.jpg?raw=true");
    background-repeat:no-repeat;
    background-position:top left;
    height:760px;
    width:975px;
    color:white;
}
.sheet-row-1 { height: 430px; position: relative; }
.sheet-row-1-1 { height: 130px; position: relative; }
.sheet-row-2 { height: 230px; position: relative; }
.sheet-row-1 div { height: 100%; }
.sheet-row-1-1 div { height: 30%; background-color: blue;}
.sheet-row-2 div { height: 100%; }
.sheet-single { background-color: white; }
.sheet-column-1 { width: 47%; }
.sheet-column-2 { width: 13%; }
.sheet-column-3 { width: 40%; }
.sheet-left { background-color: yellow; color: black; float: left; opacity: .5;}
.sheet-center { background-color: green; color: black; float: left; opacity: .5;}
.sheet-right { background-color: yellow; color: black; float: right; opacity: .5;}