/*----------------- MAIN CONTAINER DEFINITIONS ------------------*/
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

.sheet-main-container {
	min-height: 600px;
  min-width: 800px;
	max-width: 1000px;
	padding: 10px;
	background-image: url("https://raw.githubusercontent.com/danielsousat/roll20-character-sheets/new-terra-devastada-sheet/TerraDevastada/imgs/terradevastada-background.jpg");
}

/*----------------- GENERAL CSS ------------------*/

.sheet-dot {
	background-image: url(../imgs/dot.png);
	background-size: 5px;
	background-repeat: no-repeat;
	height: 5px;
	width: 5px;
	margin: 5px;
}

.sheet-main-font {
	font-family: 'Special Elite';
	font-size: 17px;
	color: #604241;
}

.sheet-flex-row {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
}

.sheet-flex-column {
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sheet-nowrap {
	flex-wrap: nowrap;
}

.sheet-main-container input[type=text] {
	margin: 2px;
	flex-grow: 1;
	border: none;
	border-bottom: 1.5px solid #604241;
	background-color: transparent;
	color: black;
}

.sheet-main-container input[type=text]:focus, .sheet-main-container textarea:focus {
  background-color: white;
}

.sheet-main-container ::placeholder {
	color:#604241;
	font-style: italic;
}

.sheet-main-container input[type=number] {
	width: 3em;
	height: 20px;
	background-color: transparent;
	border: none;
}

.sheet-main-container fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.sheet-main-container textarea {
	margin: 2px;
	flex-grow: 1;
	border: 0px;
	background-color: transparent;
	color: black;
}

.sheet-section {
	margin: 0.7em;
}

.sheet-section-title {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 1000;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
}

.sheet-section-subtitle {
	text-transform: uppercase;
	font-size: small;
}

.sheet-button-title {
	margin-right: 10px;
	text-transform: uppercase;
	font-weight: 1000;
}

.sheet-grow {
	flex-grow: 1;
}

.sheet-center {
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;

}

.sheet-vertical-divisor {
	border-right: 1.5px solid #443a39;
}

.sheet-big-margin-bottom {
  margin-bottom: 20px;
}

.sheet-repeatable-item {
	margin-bottom: 5px;
}


/*------------- GRID SECTIONS -------------*/
.sheet-header{
	justify-content: stretch;
	justify-items: stretch;
}

.sheet-logo-area {
	align-content: center;
	align-items: center;
}

.sheet-logo{
	background-image: url("../imgs/adventuretime_logo.png");
	background-repeat: no-repeat;
	background-size: 224px 102.9px;
	width: 224px;
	height: 102.9px;
}

.sheet-heropoints {
	background-image: url("../imgs/heroepoints.png");
	background-repeat: no-repeat;
	background-size: 140px 79px;
	width: 140px;
	height: 79px;
}

.sheet-heropoints-input {
	margin: 23px 0px 0px 100px
}

.sheet-experiencepoints {
	background-image: url("../imgs/experiencepoints.png");
	background-repeat: no-repeat;
	background-size: 140px 86px;
	width: 140px;
	height: 86px;
}

.sheet-experiencepoints-input {
	margin: 20px 0px 0px 20px;
	width: 4em !important;
}

.sheet-health {
	background-image: url("../imgs/coracao.png");
	background-repeat: no-repeat;
	background-size: 80px;
	width: 80px;
	height: 80px;
}

.sheet-health-input {
	margin: 27px 0px 0px 35px;
}

.sheet-attribute-box {
	background-image: url("../imgs/attribute.png");
	background-repeat: no-repeat;
	background-size: 40px;
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

.sheet-attribute-input {
	margin: 10px 0px 0px 12px;
}

.sheet-attribute-row {
	align-items: center;
	justify-content: start;
}

.sheet-attribute-label {
	margin: 10px;
}

.sheet-attribute-button {
	margin: 10px;
}

.sheet-historic {
	align-items: stretch;
}

.sheet-second-row {
	justify-content: space-evenly;
}

.sheet-attribute-icon {
	width: 24px;
	height: 24px;
}

.sheet-middle-section {
  justify-content: flex-start;
}

.sheet-left-column {
  justify-content: stretch;
	width: 50%;
}

.sheet-right-column {
	width: 50%;
}

.sheet-bottom-section {
	margin: 30px;
}

.sheet-conviction-bonus {
	justify-content: space-evenly;
	width:100%;
	font-style: italic;
	margin-top: 10px;
}

.sheet-footer {
	font-style: italic;
	font-size: 12px;
	justify-content: flex-end;
}


