//- REPEATING SECTIONS FLAGS
mixin repeatingSectionFlags()
    input.collapse-flag(name='attr_display_flag' type='checkbox')
    span.pictos i
    input.settings-flag(name='attr_flag' title='Settings toggle' type='checkbox' checked)
    span.pictos x
    .collapse
        span(name='attr_notes')

//- REPEATING SECTIONS NOTES
mixin repeatingSectionNotes(section)   
    h3(data-i18n='notes') notes
    label(data-i18n-title='notes' title='notes')
        textarea(name='attr_notes' placeholder='Notes' title=`@{repeating_${section}_`+'${x}_notes}' type='text' value='')


