.pc

  //- TABS
  include tabs/_tabs.pug

  input.options_toggle(name='attr_tab' type='hidden' value='options')
    
  //- STATIC TAB
  include tabs/_static.pug

  //- CORE TAB
  include tabs/_core.pug

  //- ARMS TAB
  include tabs/_arms.pug

  //- AUGS TAB
  include tabs/_augs.pug

  //- GEAR TAB
  include tabs/_gear.pug

  //- MAGIC TAB
  include tabs/_magic.pug

  //- MATRIX TAB
  include tabs/_matrix.pug

  //- SOCIAL TAB
  include tabs/_social.pug

  //- VEHICLE TAB
  include ../html/vehicle.html

  //- OPTIONS TAB
  include ../html/options.html
