include ../fields.pug

.magicTab
  h2 Spellcaster Class
  div(style='height: 0.5in;')
    +labelledBoxH('Caster Level'): +input('number', 'caster_level')(value=0, style='width: 0.4in;')
    +labelledBoxH('Ability'): +select('caster_ability')(style='width: 1in;')
      +option('Strength', 'str')
      +option('Dexterity', 'dex')
      +option('Constitution', 'con')
      +option('Intelligence', 'int')
      +option('Wisdom', 'wis')
      +option('Charisma', 'cha')
    .inlineBlock.saveDc(style='vertical-align: top;')
      .blackBox(style='font-size: 0.8em;')
        .shortname Base DC
      +labelledUnderlined('Total'): +readOnlyBox('spell_dc_base')
      .mathOperator = 10 +
      +labelledUnderlined('Ability Mod'): +readOnlyBox('spell_dc_ability_mod')
      .mathOperator +
      +fieldBox('number', 'spell_dc_misc', 'Misc')(value=0)
      +labelledUnderlined('Conditional Modifiers'): +input('text', 'spell_dc_notes')
  div.specialization
    +labelledBoxH('Specialty School/Domain'): +input('text', 'magic_specialty')
    +labelledBoxH('Restricted Schools'): +input('text', 'magic_restriction')


    h2 Spellbook
    .spells
      mixin spellLevel(level)
        .spellLevel
          .head
            h3 Level #{level} Spells
            .floatRight
              +labelledUnderlined('Spells per day'): +input('number', 'spell_level_' + level + '_per_day')(style='padding: 0; width: 1in;')
              +labelledUnderlined('Save DC'): +readOnlyBox('spell_level_' + level + '_dc')
          .body
            +repeating('spellslevel' + level)
              // Look! I made a Touhou reference!
              .spell.card
                .head
                  .prepared(title='Prepared?')
                    +input('checkbox', 'prepared')
                    div P
                  .name: +input('text', 'name')(placeholder='Spell name')
                .body: .description: +textarea('description')(placeholder='Description')

      .inlineBlock(style='float: left; width: 45%;')
        +spellLevel('0')
        +spellLevel('1')
        +spellLevel('2')
        +spellLevel('3')
        +spellLevel('4')

      .inlineBlock(style='float: right; width: 45%;')
        +spellLevel('5')
        +spellLevel('6')
        +spellLevel('7')
        +spellLevel('8')
        +spellLevel('9')
