include ../fields.pug

.magicTab
  h2(data-i18n='spellcaster-class') Spellcaster Class
  div(style='height: 0.5in;')
    +labelledBoxH('Caster Level', { i18n: 'caster-level' }): +input('number', 'caster_level')(value=0, style='width: 0.4in;')
    +labelledBoxH('Ability', { i18n: 'ability' }): +select('caster_ability')(style='width: 1in;')
      +option('Choose One', undefined, { i18n: 'choose-one' })
      +option('Strength', 'str', { i18n: 'strength' })
      +option('Dexterity', 'dex', { i18n: 'dexterity' })
      +option('Constitution', 'con', { i18n: 'constitution' })
      +option('Intelligence', 'int', { i18n: 'intelligence' })
      +option('Wisdom', 'wis', { i18n: 'wisdom' })
      +option('Charisma', 'cha', { i18n: 'charisma' })
    .inlineBlock.saveDc(style='vertical-align: top;')
      .blackBox(style='font-size: 0.8em;')
        .shortname(data-i18n='base-dc') Base DC
      +labelledUnderlined('Total', { i18n: 'total' }): +readOnlyBox('spell_dc_base')
      .mathOperator = 10 +
      +labelledUnderlined('Ability Mod', { i18n: 'ability-mod' }): +readOnlyBox('spell_dc_ability_mod')
      .mathOperator +
      +fieldBox('number', 'spell_dc_misc', 'Misc', { i18n: 'misc' })(value=0)
      +labelledUnderlined('Conditional Modifiers', { i18n: 'conditional-modifiers' }): +input('text', 'spell_dc_notes')
  div.specialization
    +labelledBoxH('Specialty School/Domain', { i18n: 'specialty-school-domain' }): +input('text', 'magic_specialty')
    +labelledBoxH('Restricted Schools', { i18n: 'restricted-schools' }): +input('text', 'magic_restriction')

    h2(data-i18n='spellbook') Spellbook
    .spells
      mixin spellLevel(level)
        .spellLevel
          .head
            h3(data-i18n='level' + level + '-spells') Level #{level} Spells
            .floatRight
              +labelledUnderlined('Spells per day', { i18n: 'spells-per-day' }): +input('number', 'spell_level_' + level + '_per_day')(style='padding: 0; width: 1in;')
              +labelledUnderlined('Save DC', { i18n: 'save-dc' }): +readOnlyBox('spell_level_' + level + '_dc')
          .body
            +repeating('spellslevel' + level)
              // Icicle Fall
              .spell.card
                .head
                  .prepared(title='Prepared?', data-i18n-title='prepared-title')
                    +input('checkbox', 'prepared')
                    div(data-i18n='prepared-u') P
                  .name: +input('text', 'name', { i18n: 'spell-name-place' })(placeholder='Spell name')
                  .school: +select('school')
                    +option('Choose School', undefined, { i18n: 'choose-school' })
                    +option('Abjuration', 'abjuration', { i18n: 'abjuration' })
                    +option('Conjuration', 'conjuration', { i18n: 'conjuration' })
                    +option('Divination', 'divination', { i18n: 'divination' })
                    +option('Enchantment', 'enchantment', { i18n: 'enchantment' })
                    +option('Evocation', 'evocation', { i18n: 'evocation' })
                    +option('Illusion', 'illusion', { i18n: 'illusion' })
                    +option('Necromancy', 'necromancy', { i18n: 'necromancy' })
                    +option('Transmutation', 'transmutation', { i18n: 'transmutation' })
                    +option('Universal', 'universal', { i18n: 'universal' })
                .body: .description: +textarea('description', { i18n: 'description-place' })(placeholder='Description')

      .inlineBlock(style='float: left; width: 45%;')
        +spellLevel('0')
        +spellLevel('1')
        +spellLevel('2')
        +spellLevel('3')
        +spellLevel('4')

      .inlineBlock(style='float: right; width: 45%;')
        +spellLevel('5')
        +spellLevel('6')
        +spellLevel('7')
        +spellLevel('8')
        +spellLevel('9')
