<input type="hidden" name="attr_import_data_present" class="import-data-present">
<div class="overlay absolute">
  <div class="fixed pad-l-hundred pad-t-hundred">
    <div class="importing shaped-row">
      <span class="mar-r-md">
        <input type="checkbox" name="attr_reject_import" class="toggle-pseudo-button"><span class="toggle-pseudo-button button" data-i18n="CANCEL"></span>
      </span>
      <span class="mar-l-md">
        <input type="checkbox" name="attr_accept_import" class="toggle-pseudo-button"><span class="toggle-pseudo-button button" data-i18n="IMPORT"></span>
      </span>
    </div>
  </div>
</div>
