//- Header
include ../components/header/companion

//- Nav Bar
include ../components/nav/nav-bar

//- Pages
include ./summary
include ./bonds
include ./vows
include ./proficiencies

//- Footer
include ../components/momentum/momentum