//- - var pages = [ 'character', 'companion', 'shared', 'foe' ]
- var pages = [ 'character' ]
input(type='checkbox' name='attr_modes_choice' class='modes-show hide' checked)
div.modes-show.hide
  div.mode-title
    h2.mode-title SELECT THE SHEET TYPE
  div.modes

    each page, index in pages
      label.mode 
        h4=page.toUpperCase()
        div.mode
          input(type='radio' name='attr_mode_button' class='hide' value=index)
          div.mode-image
            img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/Ironcrunch/assets/character-sheet.png')

input(type='radio' name='attr_mode' class='character-mode hide' value='0')
div.character-mode.hide
  include ./character/index

//- input(type='radio' name='attr_mode' class='companion-mode hide' value='1')
//- div.companion-mode.hide
//-   include ./companion/index

//- input(type='radio' name='attr_mode' class='shared-mode hide' value='2')
//- div.shared-mode.hide
//-   include ./shared/index