div.sheet-modes
  label.sheet-mode CHARACTER
    input(type='radio' name='attr_mode_button' class='sheet-hide' value='1')

  label.sheet-mode COMPANION
    input(type='radio' name='attr_mode_button' class='sheet-hide' value='2')

input(type='radio' name='attr_mode' class='sheet-character-mode sheet-hide' value='1')
div.sheet-character-mode.sheet-hide
  include ./character

input(type='radio' name='attr_mode' class='sheet-companion-mode sheet-hide' value='2')
div.sheet-companion-mode.sheet-hide
  include ./companion