input(type='checkbox' name='attr_modes_choice' class='sheet-modes-show sheet-hide' checked)
div.sheet-modes-show.sheet-hide
  div.sheet-mode-title
    h2.sheet-mode-title SELECT THE SHEET TYPE
  div.sheet-modes

    label.sheet-mode 
      h4 CHARACTER
      div.sheet-mode
        input(type='radio' name='attr_mode_button' class='sheet-hide' value='1')
        div.sheet-mode-image
          img(src='https://raw.githubusercontent.com/LeeRhodes/roll20-character-sheets/ironcrunch-new-sheet/Ironcrunch/assets/placeholder.png')

    label.sheet-mode 
      h4 COMPANION
      div.sheet-mode
        input(type='radio' name='attr_mode_button' class='sheet-hide' value='2')
        div.sheet-mode-image
          img(src='https://raw.githubusercontent.com/LeeRhodes/roll20-character-sheets/ironcrunch-new-sheet/Ironcrunch/assets/placeholder.png')

    label.sheet-mode 
      h4 SHARED
      div.sheet-mode
        input(type='radio' name='attr_mode_button' class='sheet-hide' value='3')
        div.sheet-mode-image
          img(src='https://raw.githubusercontent.com/LeeRhodes/roll20-character-sheets/ironcrunch-new-sheet/Ironcrunch/assets/placeholder.png')

input(type='radio' name='attr_mode' class='sheet-character-mode sheet-hide' value='1')
div.sheet-character-mode.sheet-hide
  include ./character/index

input(type='radio' name='attr_mode' class='sheet-companion-mode sheet-hide' value='2')
div.sheet-companion-mode.sheet-hide
  include ./companion/index

input(type='radio' name='attr_mode' class='sheet-shared-mode sheet-hide' value='3')
div.sheet-shared-mode.sheet-hide
  include ./shared