input(type='radio' name='attr_ironcrunch-page' id='sheet-proficiencies' class='sheet-hide sheet-proficiencies' value='4')
div.sheet-proficiencies.sheet-hide
  h3.sheet-divide &emsp;PROFICIENCIES&emsp;
  include ../components/proficiencies/weapons