input(type='checkbox' name='attr_ironcrunch_proficiencies_page' class='sheet-proficiencies sheet-hide')
div.sheet-proficiencies.sheet-hide
  h3.sheet-divide &emsp;WEAPON PROFICIENCIES&emsp;
  include ../components/proficiencies/weapons