input(type='checkbox' name='attr_ironcrunch_summary_page' class='sheet-summary sheet-hide' checked)
div.sheet-summary.sheet-hide
  include ../components/details/details
  include ../components/stats/stats
  include ../components/misses/track
  include ../components/notes/notes