@font-face {
    font-family: 'cinzelregular';
    src: url('Cinzel-Regular-webfont.eot');
    src: url('Cinzel-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cinzel-Regular-webfont.woff') format('woff'),
         url('Cinzel-Regular-webfont.ttf') format('truetype'),
         url('Cinzel-Regular-webfont.svg#cinzelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

