//-     Note that rolletemplate classes still need the 'sheet-' prefix, even with CSE

+templateWrapper(templateName)
  .header
    +templateConditionalDisplay('name')
      h3 {{name}}
    +characterLink
  +templateConditionalDisplay('roll')
    .template-row
      .template-col
        +templateConditionalDisplay('roll_name')
          h5 {{roll_name}}
        +templateConditionalDisplay('roll_name','invert')
          h5(data-i18n='roll')
      .template-col.sheet-center.sheet-result
        |{{roll}}
        +templateConditionalDisplay('target')
          span(data-i18n='vs')
          |**{{target}}**
  +templateConditionalDisplay('hidden-calc')
    .template-row
        .template-col
          h5(data-i18n='action roll')
        //- This is checking wheter you have zero dice or not, and changes accordingly
        .template-col.sheet-center.sheet-result
          |{{#rollGreater() hidden-calc 0}}{{action-roll0}}{{/rollGreater() hidden-calc 0}}
          |{{#rollLess() hidden-calc 1}}{{action-roll1}}{{/rollLess() hidden-calc 1}}
  +templateConditionalDisplay('range')
    .template-row
      .template-col
        h5(data-i18n='range').capitalize
      .template-col.sheet-center.sheet-result
        |{{range}}
  +templateConditionalDisplay('damage')
    .template-row
      .template-col
        h5(data-i18n='damage').capitalize
      .template-col.sheet-center.sheet-result
        |{{damage}}
    .template-row--summary
      |{{#rollGreater() bonus_damage 0}}
      +templateConditionalDisplay('bonus_damage')
        .template-row
          .template-col.sheet-center
            h5(data-i18n='bonus dmg')
          .template-col.sheet-center.sheet-result
            |{{bonus_damage}}
      |{{/rollGreater() bonus_damage 0}}
      |{{#rollGreater() roll 19}}
      +templateConditionalDisplay('crit_damage')
        .template-row
          .template-col.sheet-center
            h5(data-i18n='crit dmg')
          .template-col.sheet-center.sheet-result
            |{{crit_damage}}
      |{{/rollGreater() roll 19}}
      +templateConditionalDisplay('miss_damage')
        .template-row
          .template-col.sheet-center
            h5(data-i18n='miss dmg')
          .template-col.sheet-center.sheet-result
            |{{miss_damage}}
  +templateConditionalDisplay('text')
    .template-row.template-row--text
      span.description {{text}}
  +templateConditionalDisplay('summary')
    .template-row.template-row--summary
      .template-col.sheet-center
        h5|{{summary}}
  +templateConditionalDisplay('info')
    .template-row.template-row--summary
      .template-col.sheet-center
        h5|{{info}}
  +templateConditionalDisplay('description')
    .template-row.template-row--text
      span.description
        |*{{description}}*
  +templateConditionalDisplay('effect')
    .template-row.template-row--text
      span.description
        |**{{effect}}**
  +templateConditionalDisplay('talent')
    .template-row
      .template-col
        h4(data-i18n='talent')
        |{{talent}}
  +templateConditionalDisplay('mastery')
    .template-row
      .template-col
        +templateConditionalDisplay('mastery_name')
          h4 {{mastery_name}}
          |{{mastery}}
        +templateConditionalDisplay('mastery_name','invert')
          h4(data-i18n='mastery')
          |{{mastery}}
  //- This template will be user extensible. User defined field/value combos will be displayed using the same format as other rows
  +allProps({values:'character_name character_id name roll_name roll target action-roll0 action-roll1 hidden-calc damage range bonus_damage crit_damage miss_damage effect description text talent mastery_name mastery sheet-result progress max summary info'})
    .template-row.template-row--text
      h5 {{key}}
      span.description {{value}}