/*----------- Tabs Setup -------------*/

/*this hides the contents of each tab by default*/
.charsheet div[class^="sheet-section"] {
	display: none;
}

/*this shows the tab content when the appropriate input field is selected*/
/*for now only tab 1 and 7 are used for dark heresy v1*/
.charsheet input.sheet-tab1:checked~div.sheet-section-core,
.charsheet input.sheet-tab2:checked~div.sheet-section-gear,
.charsheet input.sheet-tab3:checked~div.sheet-section-advancements,
.charsheet input.sheet-tab4:checked~div.sheet-section-npcsandminions,
.charsheet input.sheet-tab5:checked~div.sheet-section-journal,
.charsheet input.sheet-tab6:checked~div.sheet-section-vehicles,
.charsheet input.sheet-tab7:checked~div.sheet-section-psykana,
.charsheet input.sheet-tab8:checked~div.sheet-section-social {
	display: block;
}

.btn:focus {
	border-color: red;
}

.charsheet input.sheet-tab99:checked~div[class^="sheet-section"] {
	display: block;
}

/*this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else*/
.charsheet input.sheet-tab {
	width   : 90px;
	height  : 40px;
	cursor  : pointer;
	position: relative;
	opacity : 0;
	z-index : 9999;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet span.sheet-tab {
	text-align    : center;
	display       : inline-block;
	font-size     : 12px;
	background    : rgba(229, 229, 229, 0.34);
	color         : black;
	border        : solid 1px rgba(0, 0, 0, 0.21);
	font-weight   : bold;
	border-radius : 35px;
	width         : 90px;
	height        : 40px;
	cursor        : pointer;
	position      : relative;
	vertical-align: middle;
	margin-left   : -95px;
}

/*this modifies the span color once the radio button is selected so you know which tab is selected*/
.charsheet input.sheet-tab1:checked+span.sheet-tab1,
.charsheet input.sheet-tab2:checked+span.sheet-tab2,
.charsheet input.sheet-tab3:checked+span.sheet-tab3,
.charsheet input.sheet-tab4:checked+span.sheet-tab4,
.charsheet input.sheet-tab5:checked+span.sheet-tab5,
.charsheet input.sheet-tab6:checked+span.sheet-tab6,
.charsheet input.sheet-tab7:checked+span.sheet-tab7,
.charsheet input.sheet-tab8:checked+span.sheet-tab8,
.charsheet input.sheet-tab99:checked+span.sheet-tab99,
.charsheet input.sheet-gmroll:checked+span.sheet-gmroll {
	background   : #6d131b;
	color        : #eaeaea;
	border-radius: 35px;
}

/* CSS Reset */
.charsheet .sheet-wrapper div,
.charsheet .sheet-wrapper span,
.charsheet .sheet-wrapper label,
.charsheet .sheet-wrapper h1,
.charsheet .sheet-wrapper h2,
.charsheet .sheet-wrapper h3,
.charsheet .sheet-wrapper h4,
.charsheet .sheet-wrapper h5,
.charsheet .sheet-wrapper h6,
.charsheet .sheet-wrapper p,
.charsheet .sheet-wrapper table,
.charsheet .sheet-wrapper caption,
.charsheet .sheet-wrapper tbody,
.charsheet .sheet-wrapper tfoot,
.charsheet .sheet-wrapper thead,
.charsheet .sheet-wrapper tr,
.charsheet .sheet-wrapper th,
.charsheet .sheet-wrapper td {
	margin        : 0;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	font          : inherit;
	color         : #404040;
	vertical-align: baseline;
	box-sizing    : border-box;
}

.charsheet .sheet-wrapper table {
	border-collapse: collapse;
	border-spacing : 0;
}

.charsheet .sheet-wrapper input::-webkit-outer-spin-button,
.charsheet .sheet-wrapper input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin            : 0;
}

.charsheet .sheet-wrapper input[type="number"] {
	-moz-appearance: textfield;
}

.charsheet .sheet-wrapper textarea {
	resize: none;
}

/* Button Reset */

.charsheet .sheet-wrapper button[type="roll"]:before {
	content: "" !important;
	display: none;
}

.charsheet .sheet-wrapper button[type="roll"],
.charsheet .sheet-wrapper .sheet-btn {
	width              : 100%;
	height             : 24px;
	vertical-align     : middle;
	padding            : 0;
	display            : inline-block;
	margin             : 0;
	font-weight        : 400;
	text-align         : center;
	vertical-align     : middle;
	cursor             : pointer;
	background-image   : none;
	background-color   : transparent;
	border             : 1px solid #ccc;
	white-space        : nowrap;
	border-radius      : 4px;
	-webkit-user-select: none;
	-moz-user-select   : none;
	-ms-user-select    : none;
	user-select        : none;
	box-sizing         : border-box;
	-moz-box-sizing    : border-box;
	-webkit-box-sizing : border-box;
}

.charsheet .sheet-wrapper button[type="roll"]:hover,
.charsheet .sheet-wrapper .sheet-btn:hover,
.charsheet .sheet-wrapper .sheet-hider input[type=checkbox]:checked~.sheet-btn {
	background-color: #DAA520;
	border-color    : #DAA520;
}

.charsheet .sheet-wrapper button[type="roll"] label,
.charsheet .sheet-wrapper button[type="roll"] input {
	height        : 24px;
	line-height   : 24px;
	font-size     : 13px;
	vertical-align: middle;
	text-align    : center;
	width         : 99%;
	cursor        : pointer;
	background    : none;
	box-shadow    : none;
	transition    : none;
	border-radius : 0;
	border        : none;
	font-weight   : 700;
}

.charsheet .sheet-wrapper button[type="roll"]:hover label,
.charsheet .sheet-wrapper button[type="roll"]:hover input {
	color : white;
	border: none;
}

/* Main Styles */

.charsheet {
	background-image: url(http://i.imgur.com/5GbMHfg.png);
	font-family     : Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size       : 14px;
}

.charsheet .sheet-wrapper h3 {
	color         : black;
	padding       : 3px;
	margin-bottom : 5px;
	font-size     : 18px;
	font-weight   : bold;
	font-family   : inherit;
	text-transform: uppercase;
	text-align    : center;
}

.charsheet .sheet-wrapper textarea {
	display             : inline-block;
	border              : 1px solid #aaa;
	padding             : 2px;
	height              : 24px;
	width               : 100%;
	font-size           : 14px;
	font-family         : inherit;
	line-height         : 16px;
	font-weight         : normal;
	margin              : 0;
	color               : #555;
	background-color    : white;
	vertical-align      : middle;
	cursor              : auto;
	letter-spacing      : normal;
	word-spacing        : normal;
	text-transform      : none;
	text-indent         : 0px;
	text-shadow         : none;
	text-align          : start;
	-webkit-rtl-ordering: logical;
	-webkit-user-select : text;
	box-shadow          : inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition          : border linear .2s, box-shadow linear .2s;
	border-radius       : 3px;
	writing-mode        : horizontal-tb;
	-webkit-writing-mode: horizontal-tb;
}

.charsheet .sheet-wrapper input,
.charsheet .sheet-wrapper select,
.charsheet .sheet-wrapper input[type="number"] {
	display             : inline-block;
	border-bottom       : 1px dotted gray;
	border-top          : none;
	border-left         : none;
	border-right        : none;
	padding             : 2px;
	height              : 24px;
	width               : 100%;
	font-size           : 14px;
	font-family         : inherit;
	line-height         : 16px;
	font-weight         : normal;
	margin              : 0;
	color               : #555;
	background-color    : transparent;
	vertical-align      : middle;
	cursor              : auto;
	letter-spacing      : normal;
	word-spacing        : normal;
	text-transform      : none;
	text-indent         : 0px;
	text-shadow         : none;
	text-align          : start;
	-webkit-rtl-ordering: logical;
	-webkit-user-select : text;
	box-shadow          : inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition          : border linear .2s, box-shadow linear .2s;
	border-radius       : 3px;
	writing-mode        : horizontal-tb;
	-webkit-writing-mode: horizontal-tb;
}

.charsheet .sheet-wrapper input:not([type='checkbox']) {
	-webkit-appearance: textfield;
}

.charsheet .sheet-wrapper input[type="checkbox"] {
	height: 13px;
	width : 13px;
	color : #555;
	border: 1px solid #aaa;

	border-radius: 0;

	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border linear .2s, box-shadow linear .2s;
}

.charsheet .sheet-wrapper input[disabled],
.charsheet .sheet-wrapper select[disabled],
.charsheet .sheet-wrapper textarea[disabled],
.charsheet .sheet-wrapper input[readonly],
.charsheet .sheet-wrapper select[readonly],
.charsheet .sheet-wrapper textarea[readonly] {
	background-color: transparent;
	border-color    : #aaa;
	cursor          : not-allowed;
	pointer-events  : none;
}

.charsheet .sheet-wrapper textarea {
	width      : 98%;
	height     : 80px;
	line-height: 16px;
}

.charsheet .sheet-wrapper label {
	display       : inline-block;
	width         : 100%;
	font-size     : 14px;
	text-align    : left;
	font-weight   : 600;
	height        : 24px;
	line-height   : 24px;
	vertical-align: middle;
}

.charsheet .sheet-wrapper .sheet-3colrow .sheet-col {
	width       : calc(40% - 9px) !important;
	margin-right: 5px !important;
}

.charsheet .sheet-wrapper .sheet-3colrow .sheet-col:nth-child(2) {
	width       : calc(20% - 9px) !important;
	margin-right: 5px;
}

.charsheet .sheet-wrapper .sheet-3colrow .sheet-col:last-child {
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-2colrow .sheet-col {
	width       : calc(50% - 3px) !important;
	margin-right: 2px !important;
}

.charsheet .sheet-wrapper .sheet-2colrow .sheet-col:last-child {
	margin-right: 0 !important;
}

.charsheet .sheet-wrapper .sheet-1colrow .sheet-col {
	width       : calc(100% - 3px) !important;
	margin-right: 0 !important;
}

/* Table Container */

.charsheet .sheet-wrapper .sheet-tablecontainer {
	display: table;
}

.charsheet .sheet-wrapper .sheet-tablecell {
	display: table-cell;
}

/* Special Styles */

.charsheet .sheet-wrapper .sheet-skills td:first-child {
	width        : 70%;
	height       : 24px;
	border-bottom: 1px solid gray;
}

.charsheet .sheet-wrapper .sheet-skills td:nth-child(n+2) {
	width     : 24px;
	height    : 24px;
	border    : 1px solid gray;
	text-align: center;
}

.charsheet .sheet-wrapper .sheet-skills button[type="roll"] {
	width: 24px;
}

.charsheet .sheet-wrapper .sheet-skills input[type="number"],
.charsheet .sheet-wrapper .sheet-quickborder input[type="number"] {
	text-align: center;
}

.charsheet .sheet-wrapper .sheet-transparent {
	background: transparent;
	border    : transparent;
}

.charsheet .sheet-wrapper .sheet-inline {
	display: inline-block;
}

.charsheet .sheet-wrapper .sheet-quickborder {
	border       : 1px solid #AAAAAA;
	padding      : 3px;
	margin-bottom: 5px;
}

.charsheet .sheet-wrapper .sheet-uppercase {
	text-transform: uppercase;
}

.charsheet .sheet-wrapper .sheet-uppercase label {
	text-align: center;
}

.charsheet .sheet-wrapper .sheet-armourblock {
	text-align: center;
	margin    : auto auto 5px auto;
	width     : calc(33% - 3px);
	display   : inline-block;
}

.charsheet .sheet-wrapper .sheet-armourblock label {
	text-align    : center;
	text-transform: uppercase;
}

.charsheet .sheet-wrapper .sheet-armourblock input {
	text-align: center;
	font-size : 1.2em;
}

/* Rows and Items */

.charsheet .sheet-wrapper .sheet-row {
	height: 24px;
	margin: 0 0 2px;
}

.charsheet .sheet-wrapper .sheet-doublerow {
	height: 48px;
	margin: 0 0 2px;
}

.charsheet .sheet-wrapper .sheet-alternative:nth-child(even) {
	background-color: #DBB0B1;
}

.charsheet .sheet-wrapper .sheet-header {
	height: 20px;
	margin: 0;
}

.charsheet .sheet-wrapper .sheet-header label {
	padding    : 0;
	font-size  : 10px;
	height     : 20px;
	line-height: 20px;
	font-weight: 700;
}

.charsheet .sheet-wrapper .sheet-item {
	display       : inline-block;
	width         : 100%;
	height        : 28px;
	vertical-align: middle;
	margin        : 0 -2px;
	text-align    : left;
	padding       : 3px 2px;
}

.charsheet .sheet-wrapper .sheet-brackets {
	border-left  : 1px solid #aaa;
	border-right : 1px solid #aaa;
	border-radius: 12px;
}

.charsheet .sheet-wrapper .sheet-item.sheet-center {
	text-align: center;
}

.charsheet .sheet-wrapper .sheet-item.sheet-multiline label {
	line-height: 12px;
	padding-top: 1px;
}

.charsheet .sheet-wrapper .sheet-item.sheet-puny {
	width: calc(10% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-little {
	width: calc(12% - 0.5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-tiny {
	width: calc(15% - 2%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-small {
	width: calc(20% - 0.5%);
}

.charsheet .sheet-wrapper textarea.sheet-small {
	height: 32px;
}

.charsheet .sheet-wrapper .sheet-item.sheet-med {
	width: calc(30% - 0.5%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-large {
	width: calc(40% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-big {
	width: calc(50% - 11%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-morebig {
	width: calc(60% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-bigger {
	width: calc(70% - 3%);
}

.charsheet .sheet-wrapper .sheet-item.sheet-huge {
	width: calc(80% - 3%);
}

/* Characteristics */

.charsheet .sheet-wrapper .sheet-characteristics button[type="roll"] label,
.charsheet .sheet-wrapper .sheet-characteristics button[type="roll"] input {
	height        : 25px;
	line-height   : 25px;
	font-size     : 16px;
	font-weight   : bold;
	font-family   : inherit;
	vertical-align: center;
	text-align    : center;
	width         : 99%;
	cursor        : pointer;
	background    : none;
	box-shadow    : none;
	transition    : none;
	border-radius : 0;
	border        : none;
}

.charsheet .sheet-wrapper .sheet-characteristics button[type="roll"]:hover label,
.charsheet .sheet-wrapper .sheet-characteristics button[type="roll"]:hover input {
	color           : #fff;
	border          : none;
	background-color: #DAA520;
	border-color    : #DAA520;
	border-radius   : 5px;
}

.charsheet .sheet-wrapper .sheet-characteristics button[type="roll"] {
	border          : none;
	background-color: transparent;
	width           : 100%;
	margin          : auto;
	text-align      : center;
	font-family     : inherit;
}

.charsheet .sheet-wrapper .sheet-characteristics select {
	display         : inline-block;
	width           : 100%;
	text-align      : center;
	background-color: transparent;
	border          : 0;
	font-weight     : bold;
}

.charsheet .sheet-wrapper .sheet-characteristics input {
	display         : block;
	border          : 1px solid gray;
	background-color: transparent;
	width           : 70%;
	height          : 65px;
	margin          : auto;
	text-align      : center;
	font-weight     : bolder;
	font-family     : inherit;
	font-size       : 3em;
}

/* Footer */

.charsheet .sheet-wrapper .sheet-footer {
	display       : inline-block;
	padding       : 5px;
	vertical-align: super;
	font-size     : 0.9em;
	line-height   : 0.8em;
	text-align    : center;
}

.charsheet .sheet-wrapper .sheet-innerfooter {
	display: inline-block;
	border : inherit;
	width  : 47%;
	padding: 2px;
}

.charsheet .sheet-wrapper .sheet-innerfooter input {
	width     : 100%;
	margin-top: -7px;
}

.sheet-mainleft {
	width        : 39%;
	float        : left;
	padding-right: 1%;
}

.sheet-mainright {
	width: 39%;
	float: right;
}

.sheet-rolltemplate-customtest table {
	width      : 100%;
	border     : 1px solid;
	color      : black;
	font-size  : 1em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sheet-rolltemplate-customtest th {
	background-color: rgba(112, 32, 130, 1);
	color           : #ffffff;
	padding         : 2px;
	border-bottom   : 1px solid black;
	line-height     : 1.6em;
	font-size       : 1.2em;
}

.sheet-rolltemplate-dh1ed table {
	width     : 100%;
	padding   : 2px;
	background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Dark_Heresy/img/rolltemplate_bg.png) top left repeat;
}

.sheet-rolltemplate-dh1ed .sheet-rolltemplate-spacer {
	max-width : 100%;
	height    : auto;
	max-height: 15px;
	float     : left;
}

.sheet-rolltemplate-dh1ed .sheet-rolltemplate-spacer.sheet-invert {
	-webkit-transform: scaleX(-1);
	transform        : scaleX(-1);
	float            : right;
}

.sheet-rolltemplate-dh1ed .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-dh1ed .sheet-topline {
	height: 5px;
}

.sheet-rolltemplate-dh1ed .sheet-topline span {
	border-top  : 2px solid black;
	display     : block;
	margin-left : 10px;
	margin-right: 35px;
}

.sheet-rolltemplate-dh1ed th.sheet-title {
	color         : black;
	padding-left  : 5px;
	padding-top   : 5px;
	line-height   : 1.1em;
	font-size     : 1.5em;
	text-align    : left;
	text-transform: capitalize;
}

.sheet-rolltemplate-dh1ed tr {
	height: 20px;
}

.sheet-rolltemplate-dh1ed td {
	padding-left: 10px;
	font-size   : 15px;
	color       : rgb(80, 80, 80);
}

.sheet-rolltemplate-dh1ed td:last-child {
	float        : right;
	padding-left : 0;
	padding-right: 20px;
}

.sheet-rolltemplate-dh1ed tr.sheet-success th,
.sheet-rolltemplate-dh1ed tr.sheet-failure th {
	padding-left: 0px;
	padding-top : 5px;
	text-align  : center;
	font-size   : 1.3em;
	font-weight : bold;
}

.sheet-rolltemplate-dh1ed .inlinerollresult {
	padding         : 0;
	background-color: transparent;
	border          : none;
}

.sheet-rolltemplate-dh1ed .sheet-inlinerollresult {
	min-width       : 1.5em;
	text-align      : center;
	background-color: transparent;
	border          : none;
	padding         : 0;
	padding-right   : 20px;
	font-weight     : bold;
	font-size       : 1.1em;
}

.sheet-rolltemplate-dh1ed .sheet-success .inlinerollresult,
.sheet-rolltemplate-dh1ed .sheet-damage .inlinerollresult.fullcrit {
	color      : #3FB315;
	font-weight: bold;
}

.sheet-rolltemplate-dh1ed .sheet-failure .inlinerollresult {
	color      : #B31515;
	font-weight: bold;
}

.sheet-rolltemplate-dh1ed .inlinerollresult.fullcrit,
.sheet-rolltemplate-dh1ed .inlinerollresult.fullfail,
.sheet-rolltemplate-dh1ed .inlinerollresult.importantroll {
	border: none;
}