- var domains = [ 'barrow', 'cavern', 'frozen_cavern', 'ice_reach', 'mine', 'pass', 'ruin', 'sea_cave', 'shadowfen', 'stronghold', 'tanglewood', 'underkeep' ]

.domain-cards
  .site-card-container
    .domain-column
      select(class='motivation-dropdown' name='attr_domain_select')
        option(value='' disabled selected) SELECT
          each domain in domains
            option(value=domain) #{domain.replace('_', ' ').toUpperCase()} 

      input(type='radio' class='hide' name='attr_domain' value='' checked)
      input.barrow.hide(type='radio' name='attr_domain' value='barrow')
      .barrow.domain-container.showhide 
        p.theme-body The dead are enshrined here.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Burial chambers
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Maze of narrow passages
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Shrine
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Stately vault
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Offerings to the dead
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Statuary or tapestries
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Remains of a grave robber
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Mass grave
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Exhumed corpses
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Denizen guards this area
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Trap
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Death makes its presence known
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Crumbling architecture
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Grave goods with hidden dangers
      
      input.cavern.hide(type='radio' name='attr_domain' value='cavern')
      .cavern.domain-container.showhide 
        p.theme-body A place of stone and darkness.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Twisting passages
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Cramped caves
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Vast chamber
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Subterranean waterway
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Cave pool
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Natural bridge
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Towering stone formations
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Natural illumination
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Dark pit
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Denizen lairs here
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Cave-in
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Flooding
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Perilous climb or descent
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Fissure or sinkhole
      
      input.frozen-cavern.hide(type='radio' name='attr_domain' value='frozen_cavern')
      .frozen-cavern.domain-container.showhide 
        p.theme-body A place of deep caves and enduring cold.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Maze of icy tunnels
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Glistening cave
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Vast chamber
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Frigid waterway
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Icy pools
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Magnificent ice formations
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Frozen waterfall
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Deep crevasses
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Discovery locked in the ice
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Denizen lairs here
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Fracturing ice
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Crumbling chasm
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Bitter chill
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Disorienting reflections
      
      input.ice-reach.hide(type='radio' name='attr_domain' value='ice_reach')
      .ice-reach.domain-container.showhide 
        p.theme-body A frigid landscape formed of frozen seas.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Plains of ice and snow
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Seawater channel
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Icy highlands
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Crevasse
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Ice floes
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Ship trapped in ice
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Animal herd or habitat
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Frozen carcass
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Camp or outpost
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Denizen hunts
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Fragile ice above watery depths
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Perilous climb or descent
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Avalanche or icefall
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Foul weather
      
      input.mine.hide(type='radio' name='attr_domain' value='mine')
      .mine.domain-container.showhide 
        p.theme-body Tunnels dug greedily and deep.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Cramped tunnels
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Mine works
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Excavated chamber
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Mineshaft
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Collapsed tunnel
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Cluttered storage
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Housing or common areas
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Flooded chamber
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Unearthed secret
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Cave-in
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Flooding
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Unstable platforms or architecture
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Hazardous gas pocket
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Weakened terrain
      
      input.pass.hide(type='radio' name='attr_domain' value='pass')
      .pass.domain-container.showhide 
        p.theme-body Treacherous paths over high mountains.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Winding mountain path
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Snowfield or glacial rocks
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result River gorge
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Crashing waterfall
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Highland lake
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Forgotten cairn
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Bridge
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Overlook
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Camp or outpost
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Denizen lairs here
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Denizen hunts
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Perilous climb or descent
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Avalanche or rockslide
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Foul weather
      
      input.ruin.hide(type='radio' name='attr_domain' value='ruin')
      .ruin.domain-container.showhide 
        p.theme-body The crumbling legacy of a dead civilization.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Crumbling corridors and chambers
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Collapsed architecture
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Rubble-choked hall
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Courtyard
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Archive or library
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Broken statuary or fading murals
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Preserved vault
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Temple to forgotten gods
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Mausoleum
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Ancient mechanism or trap
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Collapsing wall or ceiling
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Blocked or broken passage
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Unstable floor above a new danger
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Ancient secrets best left buried
      
      input.sea-cave.hide(type='radio' name='attr_domain' value='sea_cave')
      .sea-cave.domain-container.showhide 
        p.theme-body Stone passages carved by ocean waves.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Watery tunnels
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Eroded chamber
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Flooded chamber
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Vast chamber
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Dry passages
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Freshwater inlet
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Rocky island
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Waterborne debris
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Shipwreck or boat
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Denizen strikes without warning
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Denizen lurks below
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Flooding
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Rushing current
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Claustrophobic squeeze
      
      input.shadowfen.hide(type='radio' name='attr_domain' value='shadowfen')
      .shadowfen.domain-container.showhide 
        p.theme-body A primeval marsh, cloaked in mist.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Narrow path through a fetid bog
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Stagnant waterway
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Flooded thicket
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Island of dry land
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Submerged discovery
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Preserved corpses
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Overgrown structure
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Tall reeds
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Camp or outpost
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Denizen hunts
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Deep water blocks the path
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Toxic environment
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Concealing or disorienting mist
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Hidden quagmire
      
      input.stronghold.hide(type='radio' name='attr_domain' value='stronghold')
      .stronghold.domain-container.showhide 
        p.theme-body A fortress secured against trespassers.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Connecting passageways
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Barracks or common quarters
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Large hall
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Workshop or library
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Command center or leadership
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Ladder or stairwell
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Storage
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Kitchen or larder
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Courtyard
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Blocked or guarded path
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Caught in the open
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Chokepoint
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Trap
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Alarm trigger
      
      input.tanglewood.hide(type='radio' name='attr_domain' value='tanglewood')
      .tanglewood.domain-container.showhide 
        p.theme-body A perilous forest of eternal shadow.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Dense thicket
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Overgrown path
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Waterway
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Clearing 
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Elder tree
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Brambles
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Overgrown structure
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Rocky outcrop
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Camp or outpost
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Denizen hunts
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Denizen lairs here
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Trap or snare
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Path leads you astray
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Entangling plant life
      
      input.underkeep.hide(type='radio' name='attr_domain' value='underkeep')
      .underkeep.domain-container.showhide 
        p.theme-body An age-old subterranean dungeon.
        h3.theme-header Features
        .theme-table
          .oracle-row
            span.oracle-roll 21-43
            span.oracle-result Carved passages
          .oracle-row
            span.oracle-roll 44-56
            span.oracle-result Hall or chamber
          .oracle-row
            span.oracle-roll 57-64
            span.oracle-result Stairs into the depths
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Grand doorway or entrance
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Tomb or catacombs
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Rough-hewn cave
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Foundry or workshop
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Shrine or temple
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Imposing architecture or artistry
          .oracle-row
            span.oracle-roll 89-98
            span.oracle-result Something unusual or unexpected
          .oracle-row
            span.oracle-roll 99
            span.oracle-result You transition into a new theme
          .oracle-row
            span.oracle-roll 100
            span.oracle-result You transition into a new domain
        h3.theme-header Dangers
        .theme-table
          .oracle-row
            span.oracle-roll 31-33
            span.oracle-result Ancient mechanism or trap
          .oracle-row
            span.oracle-roll 34-36
            span.oracle-result Crumbling architecture
          .oracle-row
            span.oracle-roll 37-39
            span.oracle-result Blocked or broken passage
          .oracle-row
            span.oracle-roll 40-42
            span.oracle-result Artifact with a hidden danger
          .oracle-row
            span.oracle-roll 43-45
            span.oracle-result Denizen lurks in darkness
