- var themes = [ 'ancient', 'corrupted', 'fortified', 'hallowed', 'haunted', 'infested', 'ravaged', 'wild' ]

.theme-cards
  .site-card-container
    .theme-column
      select(class='motivation-dropdown' name='attr_theme_select')
        option(value='' disabled selected) SELECT
          each theme in themes
            option(value=theme) #{theme.toUpperCase()} 

      input(type='radio' class='hide' name='attr_theme' value='' checked)
      input(type='radio' class='ancient hide' name='attr_theme' value='ancient')
      .ancient.theme-container.showhide 
        p.theme-body This place holds the secrets of a bygone age. 
        h3.theme-header Features 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-4
            span.oracle-result Evidence of lost knowledge
          .oracle-row 
            span.oracle-roll 5-8
            span.oracle-result Inscrutable relics
          .oracle-row 
            span.oracle-roll 9-12
            span.oracle-result Ancient artistry or craft
          .oracle-row 
            span.oracle-roll 13-16
            span.oracle-result Preserved corpses or fossils     
          .oracle-row 
            span.oracle-roll 17-20
            span.oracle-result Visions of this place in another time
        h3.theme-header Dangers 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-5
            span.oracle-result Ancient trap
          .oracle-row 
            span.oracle-roll 6-10
            span.oracle-result Hazardous architecture or terrain
          .oracle-row 
            span.oracle-roll 11-12
            span.oracle-result Blocked or broken path 
          .oracle-row 
            span.oracle-roll 13-14
            span.oracle-result Denizen protects an ancient secret
          .oracle-row 
            span.oracle-roll 15-16
            span.oracle-result Denizen reveres an ancient power    
          .oracle-row 
            span.oracle-roll 17-18
            span.oracle-result Living relics of a lost age   
          .oracle-row 
            span.oracle-roll 19-20
            span.oracle-result Ancient evil resurgent
          .oracle-row 
            span.oracle-roll 21-22
            span.oracle-result Dire warnings of a long-buried danger
          .oracle-row 
            span.oracle-roll 23-24
            span.oracle-result Ancient disease or contamination
          .oracle-row 
            span.oracle-roll 25-26
            span.oracle-result Artifact of terrible meaning or power
          .oracle-row 
            span.oracle-roll 27-28
            span.oracle-result Disturbing evidence of ancient wrongs
          .oracle-row 
            span.oracle-roll 29-30
            span.oracle-result Others seek power or knowledge
            
      input(type='radio' class='corrupted hide' name='attr_theme' value='corrupted')
      .corrupted.theme-container.showhide 
        p.theme-body This place is tainted by dark magic. 
        h3.theme-header Features 
        .theme-table
          .oracle-row 
              span.oracle-roll 1-4
              span.oracle-result Mystic focus or conduit
          .oracle-row 
              span.oracle-roll 5-8
              span.oracle-result Strange environmental disturbances
          .oracle-row 
              span.oracle-roll 9-12
              span.oracle-result Mystic runes or markings
          .oracle-row 
              span.oracle-roll 13-16
              span.oracle-result Blight or decay
          .oracle-row 
              span.oracle-roll 17-20
              span.oracle-result Evidence of a foul ritual
        h3.theme-header Dangers 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-5
            span.oracle-result Denizen spawned from dark magic
          .oracle-row 
            span.oracle-roll 6-10
            span.oracle-result Denizen controls dark magic  
          .oracle-row 
            span.oracle-roll 11-12
            span.oracle-result Denizen corrupted by dark magic
          .oracle-row 
            span.oracle-roll 13-14
            span.oracle-result Corruption marks you
          .oracle-row 
            span.oracle-roll 15-16
            span.oracle-result Innocents held in thrall
          .oracle-row 
            span.oracle-roll 17-18
            span.oracle-result Revelations of a terrible truth
          .oracle-row 
            span.oracle-roll 19-20
            span.oracle-result Mystic trap or trigger
          .oracle-row 
            span.oracle-roll 21-22
            span.oracle-result Mystic barrier or ward
          .oracle-row 
            span.oracle-roll 23-24
            span.oracle-result Illusions lead you astray
          .oracle-row 
            span.oracle-roll 25-26
            span.oracle-result Dark ritual in progress
          .oracle-row 
            span.oracle-roll 27-28
            span.oracle-result Lingering effects of a dark ritual
          .oracle-row 
            span.oracle-roll 29-30
            span.oracle-result Dread harbingers of a greater magic

      input(type='radio' class='fortified hide' name='attr_theme' value='fortified')
      .fortified.theme-container.showhide 
        p.theme-body Foes defend this place against intruders. 
        h3.theme-header Features 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-4
            span.oracle-result Camp or quarters
          .oracle-row 
            span.oracle-roll 5-8
            span.oracle-result Guarded location
          .oracle-row 
            span.oracle-roll 9-12
            span.oracle-result Storage or repository
          .oracle-row 
            span.oracle-roll 13-16
            span.oracle-result Work or training area 
          .oracle-row 
            span.oracle-roll 17-20
            span.oracle-result Command center or leadership
        h3.theme-header Dangers 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-5
            span.oracle-result Denizen patrols the area 
          .oracle-row 
            span.oracle-roll 6-10
            span.oracle-result Denizen on guard     
          .oracle-row 
            span.oracle-roll 11-12
            span.oracle-result Denizen ready to sound the alarm 
          .oracle-row 
            span.oracle-roll 13-14
            span.oracle-result Denizen sets an ambush
          .oracle-row 
            span.oracle-roll 15-16
            span.oracle-result Denizen lures you into a trap
          .oracle-row 
            span.oracle-roll 17-18
            span.oracle-result Denizens converge on this area 
          .oracle-row 
            span.oracle-roll 19-20
            span.oracle-result Pets or underlings
          .oracle-row 
            span.oracle-roll 21-22
            span.oracle-result Unexpected alliance revealed
          .oracle-row 
            span.oracle-roll 23-24
            span.oracle-result Nefarious plans revealed
          .oracle-row 
            span.oracle-roll 25-26
            span.oracle-result Unexpected leader revealed
          .oracle-row 
            span.oracle-roll 27-28
            span.oracle-result Trap
          .oracle-row 
            span.oracle-roll 29-30
            span.oracle-result Alarm trigger

      input(type='radio' class='hallowed hide' name='attr_theme' value='hallowed')
      .hallowed.theme-container.showhide 
        p.theme-body The faithful worship here. 
        h3.theme-header Features 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-4
            span.oracle-result Temple or altar
          .oracle-row 
            span.oracle-roll 5-8
            span.oracle-result Offerings or atonements
          .oracle-row 
            span.oracle-roll 9-12
            span.oracle-result Religious relic or idol
          .oracle-row 
            span.oracle-roll 13-16
            span.oracle-result Consecrated ground
          .oracle-row 
            span.oracle-roll 17-20
            span.oracle-result Dwellings or gathering place
        h3.theme-header Dangers 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-5
            span.oracle-result Denizen defends their sanctum
          .oracle-row 
            span.oracle-roll 6-10
            span.oracle-result Denizen enacts the will of their god
          .oracle-row 
            span.oracle-roll 11-12
            span.oracle-result Denizen seeks martyrdom
          .oracle-row 
            span.oracle-roll 13-14
            span.oracle-result Secret of the faith is revealed
          .oracle-row 
            span.oracle-roll 15-16
            span.oracle-result Greater purpose is revealed
          .oracle-row 
            span.oracle-roll 17-18
            span.oracle-result Unexpected disciples are revealed
          .oracle-row 
            span.oracle-roll 19-20
            span.oracle-result Divine manifestations
          .oracle-row 
            span.oracle-roll 21-22
            span.oracle-result Aspect of the faith beguiles you  
          .oracle-row 
            span.oracle-roll 23-24
            span.oracle-result Unexpected leader is revealed
          .oracle-row 
            span.oracle-roll 25-26
            span.oracle-result Embodiment of a god or myth
          .oracle-row 
            span.oracle-roll 27-28
            span.oracle-result Protective ward or barrier
          .oracle-row 
            span.oracle-roll 29-30
            span.oracle-result Prophecies reveal a dark fate

      input(type='radio' class='haunted hide' name='attr_theme' value='haunted')
      .haunted.theme-container.showhide 
        p.theme-body Restless spirits are bound to this place. 
        h3.theme-header Features 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-4
            span.oracle-result Tomb or burial site
          .oracle-row 
            span.oracle-roll 5-8
            span.oracle-result Blood was spilled here
          .oracle-row 
            span.oracle-roll 9-12
            span.oracle-result Unnatural mists or darkness
          .oracle-row 
            span.oracle-roll 13-16
            span.oracle-result Messages from beyond the grave
          .oracle-row 
            span.oracle-roll 17-20
            span.oracle-result Apparitions of a person or event
        h3.theme-header Dangers 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-5
            span.oracle-result Denizen haunts this area
          .oracle-row 
            span.oracle-roll 6-10
            span.oracle-result Unsettling sounds or foreboding signs
          .oracle-row 
            span.oracle-roll 11-12
            span.oracle-result Denizen attacks without warning
          .oracle-row 
            span.oracle-roll 13-14
            span.oracle-result Denizen makes a costly demand 
          .oracle-row 
            span.oracle-roll 15-16
            span.oracle-result Denizen seizes your body or mind
          .oracle-row 
            span.oracle-roll 17-18
            span.oracle-result Denizen taunts or lures you 
          .oracle-row 
            span.oracle-roll 19-20
            span.oracle-result A disturbing truth is revealed 
          .oracle-row 
            span.oracle-roll 21-22
            span.oracle-result Frightening visions
          .oracle-row 
            span.oracle-roll 23-24
            span.oracle-result The environment is used against you
          .oracle-row 
            span.oracle-roll 25-26
            span.oracle-result Trickery leads you astray
          .oracle-row 
            span.oracle-roll 27-28
            span.oracle-result True nature of this place is revealed
          .oracle-row 
            span.oracle-roll 29-30
            span.oracle-result Sudden, shocking manifestation

      input(type='radio' class='infested hide' name='attr_theme' value='infested')
      .infested.theme-container.showhide 
        p.theme-body Foul creatures dwell here. 
        h3.theme-header Features 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-4
            span.oracle-result Inhabited nest
          .oracle-row 
            span.oracle-roll 5-8
            span.oracle-result Abandoned nest
          .oracle-row 
            span.oracle-roll 9-12
            span.oracle-result Ravaged terrain or architecture
          .oracle-row 
            span.oracle-roll 13-16
            span.oracle-result Remains or carrion
          .oracle-row 
            span.oracle-roll 17-20
            span.oracle-result Hoarded food
        h3.theme-header Dangers 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-5
            span.oracle-result Denizens swarm and attack
          .oracle-row 
            span.oracle-roll 6-10
            span.oracle-result Toxic or sickening environment
          .oracle-row 
            span.oracle-roll 11-12
            span.oracle-result Denizen stalks you
          .oracle-row 
            span.oracle-roll 13-14
            span.oracle-result Denizen takes or destroys something
          .oracle-row 
            span.oracle-roll 15-16
            span.oracle-result Denizen reveals surprising cleverness
          .oracle-row 
            span.oracle-roll 17-18
            span.oracle-result Denizen guided by a greater threat
          .oracle-row 
            span.oracle-roll 19-20
            span.oracle-result Denizen blocks the path
          .oracle-row 
            span.oracle-roll 21-22
            span.oracle-result Denizen funnels you down a new path
          .oracle-row 
            span.oracle-roll 23-24
            span.oracle-result Denizen undermines the path
          .oracle-row 
            span.oracle-roll 25-26
            span.oracle-result Denizen lays in wait
          .oracle-row 
            span.oracle-roll 27-28
            span.oracle-result Trap or snare
          .oracle-row 
            span.oracle-roll 29-30
            span.oracle-result Victim’s horrible fate is revealed

      input(type='radio' class='ravaged hide' name='attr_theme' value='ravaged')
      .ravaged.theme-container.showhide 
        p.theme-body Time, disaster, or strife have taken their toll. 
        h3.theme-header Features 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-4
            span.oracle-result Path of destruction
          .oracle-row 
            span.oracle-roll 5-8
            span.oracle-result Abandoned or ruined dwelling
          .oracle-row 
            span.oracle-roll 9-12
            span.oracle-result Untouched or preserved area
          .oracle-row 
            span.oracle-roll 13-16
            span.oracle-result Traces of what was lost
          .oracle-row 
            span.oracle-roll 17-20
            span.oracle-result Ill-fated victims
        h3.theme-header Dangers 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-5
            span.oracle-result Precarious architecture or terrain
          .oracle-row 
            span.oracle-roll 6-10
            span.oracle-result Imminent collapse or destruction
          .oracle-row 
            span.oracle-roll 11-12
            span.oracle-result Path undermined
          .oracle-row 
            span.oracle-roll 13-14
            span.oracle-result Blocked or broken path
          .oracle-row 
            span.oracle-roll 15-16
            span.oracle-result Vestiges of a destructive force
          .oracle-row 
            span.oracle-roll 17-18
            span.oracle-result Unexpected environmental threat
          .oracle-row 
            span.oracle-roll 19-20
            span.oracle-result Echoes of a troubling past
          .oracle-row 
            span.oracle-roll 21-22
            span.oracle-result Signs of a horrible fate
          .oracle-row 
            span.oracle-roll 23-24
            span.oracle-result Denizen seeks retribution
          .oracle-row 
            span.oracle-roll 25-26
            span.oracle-result Denizen leverages the environment
          .oracle-row 
            span.oracle-roll 27-28
            span.oracle-result Denizen restores what was lost
          .oracle-row 
            span.oracle-roll 29-30
            span.oracle-result Ravages return anew

      input(type='radio' class='wild hide' name='attr_theme' value='wild')
      .wild.theme-container.showhide 
        p.theme-body Nature prevails in this place. 
        h3.theme-header Features 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-4
            span.oracle-result Denizen’s lair
          .oracle-row 
            span.oracle-roll 5-8
            span.oracle-result Territorial markings   
          .oracle-row 
            span.oracle-roll 9-12
            span.oracle-result Impressive flora or fauna
          .oracle-row 
            span.oracle-roll 13-16
            span.oracle-result Hunting ground or watering hole 
          .oracle-row 
            span.oracle-roll 17-20
            span.oracle-result Remains or carrion
        h3.theme-header Dangers 
        .theme-table
          .oracle-row 
            span.oracle-roll 1-5
            span.oracle-result Denizen hunts
          .oracle-row 
            span.oracle-roll 6-10
            span.oracle-result Denizen strikes without warning
          .oracle-row 
            span.oracle-roll 11-12
            span.oracle-result Denizen leverages the environment
          .oracle-row 
            span.oracle-roll 13-14
            span.oracle-result Denizen wields unexpected abilities
          .oracle-row 
            span.oracle-roll 15-16
            span.oracle-result Denizen guided by a greater threat
          .oracle-row 
            span.oracle-roll 17-18
            span.oracle-result Denizen protects something
          .oracle-row 
            span.oracle-roll 19-20
            span.oracle-result Hazardous terrain
          .oracle-row 
            span.oracle-roll 21-22
            span.oracle-result Weather or environmental threat
          .oracle-row 
            span.oracle-roll 23-24
            span.oracle-result Benign aspect becomes a threat
          .oracle-row 
            span.oracle-roll 25-26
            span.oracle-result Overzealous hunter
          .oracle-row 
            span.oracle-roll 27-28
            span.oracle-result Disturbing evidence of a victim’s fate
          .oracle-row 
            span.oracle-roll 29-30
            span.oracle-result Ill-fated victim in danger