
<div class="sheet-debilitiess">
  <h3 class="sheet-divide">DEBILITIES</h3><br/>
  <div class="sheet-debilities">
    <div class="sheet-debility-group">
      <div class="sheet-debility-group-title">
        <h4>conditions</h4>
      </div>
      <div class="sheet-debility">
        <h5>Wounded</h5>
        <input class="sheet-checkbox" type="checkbox" name="attr_debilWounded"/>
      </div>
      <div class="sheet-debility">
        <h5>Shaken</h5>
        <input class="sheet-checkbox" type="checkbox" name="attr_debilShaken"/>
      </div>
      <div class="sheet-debility">
        <h5>Unprepared</h5>
        <input class="sheet-checkbox" type="checkbox" name="attr_debilUnprepared"/>
      </div>
      <div class="sheet-debility">
        <h5>Encumbered</h5>
        <input class="sheet-checkbox" type="checkbox" name="attr_debilEncumbered"/>
      </div>
    </div>
    <div class="sheet-debility-group">
      <div class="sheet-debility-group-title">
        <h4>burdens</h4>
      </div>
      <div class="sheet-debility">
        <h5>Cursed</h5>
        <input class="sheet-checkbox" type="checkbox" name="attr_debilCursed"/>
      </div>
      <div class="sheet-debility">
        <h5>Tormented</h5>
        <input class="sheet-checkbox" type="checkbox" name="attr_debilTormented"/>
      </div>
    </div>
    <div class="sheet-debility-group">
      <div class="sheet-debility-group-title">
        <h4>banes</h4>
      </div>
      <div class="sheet-debility">
        <h5>Maimed</h5>
        <input class="sheet-checkbox" input="input" type="checkbox" name="attr_debilMaimed"/>
      </div>
      <div class="sheet-debility">
        <h5>Corrupted</h5>
        <input class="sheet-checkbox" input="input" type="checkbox" name="attr_debilCorrupted"/>
      </div>
    </div>
    <div class="sheet-debility-group">
      <div class="sheet-debility-group-title">
        <h4>assets</h4>
      </div>
      <div class="sheet-debility">
        <h5>Oathbreaker</h5>
        <input class="sheet-checkbox" input="input" type="checkbox" name="attr_debilOathbreaker"/>
      </div>
      <div class="sheet-debility">
        <h5>Leech</h5>
        <input class="sheet-checkbox" input="input" type="checkbox" name="attr_debilLeech"/>
      </div>
      <div class="sheet-debility">
        <h5>Custom 1</h5>
        <input class="sheet-checkbox" input="input" type="checkbox" name="attr_debilCustom1"/>
      </div>
      <div class="sheet-debility">
        <h5>Custom 2</h5>
        <input class="sheet-checkbox" input="input" type="checkbox" name="attr_debilCustom2"/>
      </div>
    </div>
  </div>
</div>