
<div class="sheet-resources">
  <div>
    <h2>Health</h2><img/>
    <select name="attr_health">
      <option value="0">0</option>
      <option value="1">+1</option>
      <option value="2">+2</option>
      <option value="3">+4</option>
      <option value="4">+4</option>
      <option value="5">+5</option>
    </select>
  </div>
  <div>
    <h2>Spirit</h2><img/>
    <select name="attr_spirit">
      <option value="0">0</option>
      <option value="1">+1</option>
      <option value="2">+2</option>
      <option value="3">+4</option>
      <option value="4">+4</option>
      <option value="5">+5</option>
    </select>
  </div>
  <div>
    <h2>Supply</h2><img/>
    <select name="attr_supply">
      <option value="0">0</option>
      <option value="1">+1</option>
      <option value="2">+2</option>
      <option value="3">+4</option>
      <option value="4">+4</option>
      <option value="5">+5</option>
    </select>
  </div>
</div>