/* Row & Column*/
.flex-row,
.flex-column{
    display: flex;
    flex-wrap: nowrap;
    gap : 0.5rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.w-1 {
    width: calc(1 * 100% / 12);
}

.w-2 {
    width: calc(2 * 100% / 12);
}

.w-3 {
    width: calc(3 * 100% / 12);
}

.w-4 {
    width: calc(4 * 100% / 12);
}

.w-5 {
    width: calc(5 * 100% / 12);
}

.w-6 {
    width: calc(6 * 100% / 12);
}

.w-7 {
    width: calc(7 * 100% / 12);
}

.w-8 {
    width: calc(8 * 100% / 12);
}

.w-9 {
    width: calc(9 * 100% / 12);
}

.w-10 {
    width: calc(10 * 100% / 12);
}

.w-11 {
    width: calc(11 * 100% / 12);
}

.w-12 {
    width: calc(12 * 100% / 12);
}
/* Text Alignement */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/* padding */
.pad-1{
    padding: 0.2rem
}
.pad-2{
    padding: 0.5rem
}
.pad-3{
    padding: 1rem
}
.pad-4{
    padding: 1.5rem
}
/* gap */
.gap-1{
    gap: 0.2rem;
}
.gap-2{
    gap: 0.5rem;
}
.gap-3{
    gap: 1rem;
}
.gap-4{
    gap: 1.5rem;
}

/* Axis Alignement */
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.justify-sb{
    justify-content: space-between;
}
.justify-sa{
    justify-content: space-around;
}
.justify-se{
    justify-content: space-evenly;
}
/* Text-weight */
.bold{
    font-weight:bold;
}
/* Cross Axis Alignment*/
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.align-center{
    align-items: center;
}
.align-stretch{
    align-items: stretch;
}
