h2 {
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  font-size: 20px;
}

h3 {
  margin: 3px;
  border-radius: 10px;
    font-size: 16px;
}

/*Configure the tab buttons*/
.charsheet .sheet-actual,
.charsheet .sheet-medieval,
.charsheet .sheet-cifi{
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="actual"] ~ div.sheet-actual,
.charsheet .sheet-tabstoggle[value="medieval"] ~ div.sheet-medieval,
.charsheet .sheet-tabstoggle[value="cifi"] ~ div.sheet-cifi{
    display: block;
}


.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;

}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
