.charsheet {
    background-image: url("http://www.akcni-figurky.cz/themes/petra/img/pozadi.jpg");
}
.charsheet { 
    font-family: "Aharoni";
}
.charsheet thead td {
    font-weight: bold;
}

.ui-helper-center {
    text-align: center;
}

/*-----------------------------------------------input ------------------------------------------------*/

.charsheet input[type=text], .charsheet input[type=number] {
    padding-left: 2px;
}
.charsheet input[type="text"], .charsheet input[type="number"] {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
}
.charsheetinput [type="text"]:disabled, .charsheet input[type="number"]:disabled {
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
}
.charsheet input[type="text"], select {
    width:100%;
    margin:0;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
}
input[type="checkbox"]:checked + span::before{
    content: "[verstecken]";
}
input[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    content: "[anzeigen]";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
/* */  
.charsheet table {
    margin-bottom: 0.5em;
}
.sheet-formblock {
    width: 22em;
    margin-bottom: 1em;
}
.charsheet textarea {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    resize: vertical;
    overflow-y: auto;
    min-height: 15em;
    border: 1px solid black;
}
hr {
    border-color:black;
}

/*----------------------------------------------Spells--------------------------------------*/


.sheet-desc-show:not(:checked)~.sheet-desc,
.sheet-sect-show:not(:checked)~.sheet-sect {
    display:none;
}
.sheet-table {
    display:table;
    width:100%;
}
.sheet-table-money {
    display:table;
}
.sheet-small-label {
    font-size: 85%!important;
}
.sheet-center {
    text-align:center;
}
.sheet-table-data {
    display:table-cell;
    vertical-align:middle;
    padding: 1px
}


/*-------------------------------------------------Tabs--------------------------------------*/


div[class^="sheet-section"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}
input.sheet-tab {
    width: 70px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    opacity: 0;
    z-index: 9999;
}
span.sheet-tab {
    text-align: center;
    display: inline-block;   
    font-size: 12px;    
    background: #dcdcdc; 
    color: black;
    font-weight: bold;
    
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;

    width: 85px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    margin-left: -75px;
}
input.sheet-tab::before {
    content: attr(title);
    text-align: center;
    display: inline-block;    
    width: 100%;
    height: 100%;

    background: black; 
    color: white;
    font-weight: bold;
}
input.sheet-tab:checked::before {
    background:gray;    
    color:white;
}
input.sheet-tab1:checked ~ div.sheet-section-Allgemein,
input.sheet-tab2:checked ~ div.sheet-section-Grundwerte,
input.sheet-tab211:checked ~ div.sheet-section-BasicValues,
input.sheet-tab212:checked ~ div.sheet-section-OtherValues,
input.sheet-tab21:checked ~ div.sheet-section-Fertigkeiten,
input.sheet-tab3:checked ~ div.sheet-section-Inventar,
input.sheet-tab31:checked ~ div.sheet-section-IInventar,
input.sheet-tab32:checked ~ div.sheet-section-Geldbeutel,
input.sheet-tab4:checked ~ div.sheet-section-Talente,
input.sheet-tab5:checked ~ div.sheet-section-Magie,
input.sheet-tab6:checked ~ div.sheet-section-Liturgien,
input.sheet-tab7:checked ~ div.sheet-section-Kampfwerte,
input.sheet-tab8:checked ~ div.sheet-section-Notizen,
input.sheet-tab41:checked ~ div.sheet-section-Kampf,
input.sheet-tab42:checked ~ div.sheet-section-Koerper,
input.sheet-tab43:checked ~ div.sheet-section-Gesellschaft,
input.sheet-tab44:checked ~ div.sheet-section-Natur,
input.sheet-tab45:checked ~ div.sheet-section-Wissen,
input.sheet-tab46:checked ~ div.sheet-section-Sprachen,
input.sheet-tab47:checked ~ div.sheet-section-Handwerk,
input.sheet-tab48:checked ~ div.sheet-section-Gaben,
input.sheet-tab49:checked ~ div.sheet-section-Meta,
input.sheet-tab51:checked ~ div.sheet-section-Zauberbogen,
input.sheet-tab52:checked ~ div.sheet-section-Ritualbogen,
input.sheet-tab53:checked ~ div.sheet-section-ZFertigkeiten,
input.sheet-tab81:checked ~ div.sheet-section-Notizblock,
input.sheet-tab82:checked ~ div.sheet-section-Personen,
input.sheet-tab83:checked ~ div.sheet-section-Orte,

input.sheet-tab91:checked ~ div.sheet-section-Begleiter1,
input.sheet-tab92:checked ~ div.sheet-section-Begleiter2,
input.sheet-tab93:checked ~ div.sheet-section-Begleiter3,
input.sheet-tab94:checked ~ div.sheet-section-Begleiter4,
input.sheet-tab95:checked ~ div.sheet-section-Begleiter5,
input.sheet-tab96:checked ~ div.sheet-section-Begleiter6,

input.sheet-tab101:checked ~ div.sheet-section-Heldenbogen,
input.sheet-tab102:checked ~ div.sheet-section-Begleiterbogen,
input.sheet-tab29:checked ~ div.sheet-section-npc {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: hidden;
    
    border: 1px solid #222;
    margin: 7px 0 0 5px;
    padding: 5px
}
input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab21:checked + span.sheet-tab21,
input.sheet-tab211:checked + span.sheet-tab211,
input.sheet-tab212:checked + span.sheet-tab212,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab31:checked + span.sheet-tab31,
input.sheet-tab32:checked + span.sheet-tab32,
input.sheet-tab4:checked + span.sheet-tab4,
input.sheet-tab41:checked + span.sheet-tab41,
input.sheet-tab42:checked + span.sheet-tab42,
input.sheet-tab43:checked + span.sheet-tab43,
input.sheet-tab44:checked + span.sheet-tab44,
input.sheet-tab45:checked + span.sheet-tab45,
input.sheet-tab46:checked + span.sheet-tab46,
input.sheet-tab47:checked + span.sheet-tab47,
input.sheet-tab48:checked + span.sheet-tab48,
input.sheet-tab49:checked + span.sheet-tab49,
input.sheet-tab5:checked + span.sheet-tab5,
input.sheet-tab51:checked + span.sheet-tab51,
input.sheet-tab52:checked + span.sheet-tab52,
input.sheet-tab53:checked + span.sheet-tab53,
input.sheet-tab6:checked + span.sheet-tab6,
input.sheet-tab7:checked + span.sheet-tab7,
input.sheet-tab81:checked + span.sheet-tab81,
input.sheet-tab82:checked + span.sheet-tab82,
input.sheet-tab83:checked + span.sheet-tab83,

input.sheet-tab91:checked + span.sheet-tab91,
input.sheet-tab92:checked + span.sheet-tab92,
input.sheet-tab93:checked + span.sheet-tab93,
input.sheet-tab94:checked + span.sheet-tab94,
input.sheet-tab95:checked + span.sheet-tab95,
input.sheet-tab96:checked + span.sheet-tab96,
input.sheet-tab99:checked + span.sheet-tab99,

input.sheet-tab101:checked + span.sheet-tab101,
input.sheet-tab102:checked + span.sheet-tab102,

input.sheet-tab10:checked + span.sheet-tab10 {
    background: gray;    
    color: white;
}

/*--------------------------------------------Roll Templates-------------------------------------*/


.sheet-rolltemplate-DSA-Eigenschaft table,
.sheet-rolltemplate-DSA-Liturgien table,
.sheet-rolltemplate-DSA-Zauber table,
.sheet-rolltemplate-DSA-Talente table,
.sheet-rolltemplate-DSA-Nahkampf-AT table,
.sheet-rolltemplate-DSA-Nahkampf-PA table,
.sheet-rolltemplate-DSA-Fernkampf-AT table {
    width: 189px;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
}

.sheet-rolltemplate-DSA-Eigenschaft .sheet-subheader,
.sheet-rolltemplate-DSA-Liturgien .sheet-subheader,
.sheet-rolltemplate-DSA-Zauber .sheet-subheader,
.sheet-rolltemplate-DSA-Talente .sheet-subheader,
.sheet-rolltemplate-DSA-Nahkampf-AT .sheet-subheader,
.sheet-rolltemplate-DSA-Nahkampf-PA .sheet-subheader,
.sheet-rolltemplate-DSA-Fernkampf-AT .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-DSA-Eigenschaft .sheet-tcat,
.sheet-rolltemplate-DSA-Liturgien .sheet-tcat,
.sheet-rolltemplate-DSA-Zauber .sheet-tcat,
.sheet-rolltemplate-DSA-Talente .sheet-tcat,
.sheet-rolltemplate-DSA-Nahkampf-AT .sheet-tcat,
.sheet-rolltemplate-DSA-Nahkampf-PA .sheet-tcat,
.sheet-rolltemplate-DSA-Fernkampf-AT .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-DSA-Eigenschaft td,
.sheet-rolltemplate-DSA-Liturgien td,
.sheet-rolltemplate-DSA-Zauber td,
.sheet-rolltemplate-DSA-Talente td,
.sheet-rolltemplate-DSA-Nahkampf-AT td,
.sheet-rolltemplate-DSA-Nahkampf-PA td,
.sheet-rolltemplate-DSA-Fernkampf-AT td {
    padding-left: 5px;
}

.sheet-rolltemplate-DSA-Eigenschaft .inlinerollresult,
.sheet-rolltemplate-DSA-Liturgien .inlinerollresult,
.sheet-rolltemplate-DSA-Zauber .inlinerollresult,
.sheet-rolltemplate-DSA-Talente .inlinerollresult,
.sheet-rolltemplate-DSA-Nahkampf-AT .inlinerollresult,
.sheet-rolltemplate-DSA-Nahkampf-PA .inlinerollresult,
.sheet-rolltemplate-DSA-Fernkampf-AT .inlinerollresult {
    background-color: #ffffff;
    border: none;
}

.sheet-rolltemplate-DSA-Eigenschaft .inlinerollresult.fullcrit,
.sheet-rolltemplate-DSA-Liturgien .inlinerollresult.fullcrit,
.sheet-rolltemplate-DSA-Zauber .inlinerollresult.fullcrit,
.sheet-rolltemplate-DSA-Talente .inlinerollresult.fullcrit,
.sheet-rolltemplate-DSA-Nahkampf-AT .inlinerollresult.fullcrit,
.sheet-rolltemplate-DSA-Nahkampf-PA .inlinerollresult.fullcrit,
.sheet-rolltemplate-DSA-Fernkampf-AT .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}

.sheet-rolltemplate-DSA-Eigenschaft .inlinerollresult.fullfail,
.sheet-rolltemplate-DSA-Liturgien .inlinerollresult.fullfail,
.sheet-rolltemplate-DSA-Zauber .inlinerollresult.fullfail,
.sheet-rolltemplate-DSA-Talente .inlinerollresult.fullfail,
.sheet-rolltemplate-DSA-Nahkampf-AT .inlinerollresult.fullfail,
.sheet-rolltemplate-DSA-Nahkampf-PA .inlinerollresult.fullfail,
.sheet-rolltemplate-DSA-Fernkampf-AT .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}

.sheet-rolltemplate-DSA-Eigenschaft .inlinerollresult.importantroll,
.sheet-rolltemplate-DSA-Liturgien .inlinerollresult.importantroll,
.sheet-rolltemplate-DSA-Zauber .inlinerollresult.importantroll,
.sheet-rolltemplate-DSA-Talente .inlinerollresult.importantroll,
.sheet-rolltemplate-DSA-Nahkampf-AT .inlinerollresult.importantroll,
.sheet-rolltemplate-DSA-Nahkampf-PA .inlinerollresult.importantroll,
.sheet-rolltemplate-DSA-Fernkampf-AT .inlinerollresult.importantroll {
    color: #4A57ED;
    border: none;
}


/*-----------------------------------------Template Different Colors------------------------------------*/


.sheet-rolltemplate-DSA-Eigenschaft .sheet-arrow-right,
.sheet-rolltemplate-DSA-Liturgien .sheet-arrow-right,
.sheet-rolltemplate-DSA-Talente .sheet-arrow-right,
.sheet-rolltemplate-DSA-Zauber .sheet-arrow-right,
.sheet-rolltemplate-DSA-Nahkampf-AT .sheet-arrow-right,
.sheet-rolltemplate-DSA-Nahkampf-PA .sheet-arrow-right,
.sheet-rolltemplate-DSA-Fernkampf-AT .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.sheet-rolltemplate-DSA-Eigenschaft th,
.sheet-rolltemplate-DSA-Liturgien th,
.sheet-rolltemplate-DSA-Talente th,
.sheet-rolltemplate-DSA-Zauber th,
.sheet-rolltemplate-DSA-Nahkampf-AT th,
.sheet-rolltemplate-DSA-Nahkampf-PA th,
.sheet-rolltemplate-DSA-Fernkampf-AT th {
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-DSA-Eigenschaft .sheet-arrow-right {
    border-left: 180px solid rgb(0, 0, 0);
}

.sheet-rolltemplate-DSA-Eigenschaft th {
    color: rgb(0, 0, 0);
}

.sheet-rolltemplate-DSA-Liturgien .sheet-arrow-right {
    border-left: 180px solid rgb(52, 91, 139);
}

.sheet-rolltemplate-DSA-Liturgien th {
    color: rgb(52, 91, 139);
}

.sheet-rolltemplate-DSA-Talente .sheet-arrow-right {
    border-left: 180px solid rgb(24, 106, 48);
}

.sheet-rolltemplate-DSA-Talente th {
    color: rgb(24, 106, 48);
}

.sheet-rolltemplate-DSA-Zauber .sheet-arrow-right {
    border-left: 180px solid rgb(123, 49, 40);
}

.sheet-rolltemplate-DSA-Zauber th {
    color: rgb(123, 49, 40);
}

.sheet-rolltemplate-DSA-Nahkampf-AT .sheet-arrow-right,
.sheet-rolltemplate-DSA-Nahkampf-PA .sheet-arrow-right,
.sheet-rolltemplate-DSA-Fernkampf-AT .sheet-arrow-right {
    border-left: 180px solid rgb(84, 19, 98);
}

.sheet-rolltemplate-DSA-Nahkampf-AT th,
.sheet-rolltemplate-DSA-Nahkampf-PA th,
.sheet-rolltemplate-DSA-Fernkampf-AT th {
    color: rgb(84, 19, 98);
}
