sub-base(background, padding)
  line-height 1.5em
  font-weight 700
  text-align left
  padding padding
  background-color background

name-base(align)
  padding 0.2em 1em 0.4em 0.7em
  text-align align
  font-variant-caps all-small-caps
  font-size 19px
  font-weight: bold;

roll-container()
  background #33323c
  color white
  font-size 1em
  std-font('Montserrat')
  border 1px solid black

inline-roll()
  display inline-block
  min-width 1.5em
  text-align center
  border 2px solid #33323c
  background transparent
  border-radius 1em