include ../../common/pug/button
include ./../../data/debility-list

mixin debilityList(opts)
  .debility-component
    each group in debilities
      .debility-group
        .debility-group-title=group.title
        .debility-list
          each debility in group.list
            +btn(debility)
