include ../../common/pug/button
include ./../../data/debility-list

mixin debilityList(opts)
  .debility-component
    each group in debilities
      .debility-group
        .debility-group-title(data-i18n=group.translationId)=locals.translations[group.translationId]
        .debility-list
          each debility in group.list
            +btn(debility)
