.charsheet {
    width: 842px !important;
    margin: 0 auto !important;
}
 div.sheet-pcinfo {
	display: none;
}
 div.sheet-monsterinfo {
	display: none;
}
 input.sheet-is-monster:not(:checked) ~ div.sheet-pcinfo {
	display: block;
}
 input.sheet-is-monster:checked ~ div.sheet-monsterinfo {
	display: block;
}
 input.sheet-is-monster {
	width: 10%;
	height: 16px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}
 span.sheet-is-monster-tab::before {
	content: "PC";
}
 span.sheet-is-monster-tab {
	text-align: center;
	display: inline-block;
	width: 10%;
	height: 16px;
	font-size: 9px;
	background: #65763c;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -10%
}
 input.sheet-is-monster:checked + span.sheet-is-monster-tab {
	background: #93537c;
	color: white;
	border-radius: 4px;
}
 input.sheet-is-monster:checked + span.sheet-is-monster-tab::before {
	content: "STATBLOCK"
}
h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
h2 {
    line-height: 27px;
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
h2::after, h2::before {
    display: inline-block;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #000;
    width: 80px;
}
h2::after {
    margin: 0 0 5px 20px;
}
h2::before {
    margin: 0 20px 5px 0;
}
.sheet-flex {
    display: flex;
    align-items: start;
}
.sheet-flex-between {
    display: flex;
    justify-content: space-between;
}

.sheet-noborder, .sheet-thick-border {
    padding: 15px;
}
.sheet-thick-border {
    box-sizing: border-box;
    border: 3px solid;
    overflow: auto;
    margin-bottom: 10px;
}
.sheet-col-left {
    width: 50%;
}
.sheet-col-right {
    width: 49%;
}
.sheet-hide-it {
    display: none;
}
select {
    margin-bottom: 0;
}
input {
    border-radius: 0;
    border: 1px solid;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* THOSE TOP STATS */
.sheet-topblock {
    width: 25%;
    text-align: center;
}
.sheet-toptitle {
    font-size: 14px;
    display: block;
}
.sheet-hp {
    background-color: #ffcc00;
}
/* INFO BLOCK */
.sheet-info-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.sheet-info-name input {
    flex: 1 1 0;
    margin: 0 1%;
}
.sheet-info-row {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sheet-info-row input {
    text-align: center;
}
.sheet-info1 {
    width: 11%;
}
.sheet-misc1 {
    width: 50%;
}
.sheet-info2 {
    width: 20%;
}
.sheet-info3 {
    width: 29%;
}
.sheet-info4 {
    width: 26%;
}
.sheet-info5 {
    width: 38%;
}
.sheet-info6 {
    width: 43%;
}
.sheet-no-border {
    border: none;
}
.sheet-bottom-line {
    border: none;
    border-bottom: 1px solid;
}
/* Abilities */
.sheet-ability-column-value {
    width: 40%;
    height: 90px;
    text-align: center;
    font-weight: bold;
}
.sheet-ability-column-modifier {
    width: 60%;
    height: 90px;
    align-items: center;
    font-weight: bold;
}
.sheet-subtext {
    width: 138px;
}
input[type=number].sheet-ability-value {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 6px auto;
}
input[type=number].sheet-ability-modifier {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 0;
}

/* SAVING THROWS */
.sheet-svblock {
    width: 25%;
    text-align: center;
}
.sheet-svbtitle {
    font-size: 16px;
    display: block;
    height: 34px;
}
.sheet-statstitle {
    font-size: 16px;
    display: block;
    height: 16px;
}
.sheet-svnsubtext {
    font-size: 11px;
    width: 90%;
    margin: 10px auto;
    min-height: 40px;
    display: block;
}
input[type=number].sheet-numbubble {
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 5px auto;
}
.repitem {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    justify-content: space-between;
}

button[type="roll"]{
    align-items: left;
    color: black;
    font-weight: normal;
    font-size: 30px;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
button[type="roll"]:hover{
    font-weight: bold;
}
/* EQUIPMENT */
.sheet-equipment {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}
.sheet-equipment-name {
    width: 80%;
    padding-left: 4px;
}
.sheet-equipment .repcontainer {
    width: 100%;
    order: 2;
}
.sheet-equipment h3 {
    order: 1;
}
.sheet-equipment .repcontrol {
    order: 4;
    width: 100%;
}
.sheet-othercontainer {
    width: 100%;
    display: block;
    margin-bottom: 4px;
    align-items: center;
    justify-content: space-between;
    align-content: start;
}
.sheet-othername {
    width: 100%;
    font-weight: bold;
}

.sheet-skillname {
    width: 76%;
}
input[type=number].sheet-encumbrance,
select.sheet-skillvalue {
    width: 10%; /*width: 42px;*/
    text-align: center;
}
input[type=number].sheet-total-encumbrance {
    width: 80px;
    text-align: center;
}
.sheet-encumbrance-total .sheet-encumbrance {
    font-weight: bold;
}
.sheet-encumbrance-total {
    font-weight: bold;
    align-items: center;
    margin: 5px 0;
    padding-top: 3px;
    order: 3;
    width: 100%;
}
.sheet-tiny-spacer {
    border-top: 4px solid transparent;
}
.sheet-medium-spacer {
    border-top: 24px solid transparent;
}
.sheet-statblock-spacer {
    border-top: 45px solid transparent;
}
.sheet-big-spacer {
    border-top: 134px solid transparent;
}
.sheet-top-line {
    border-top: 2px solid black;
}
/* Weapons */
.sheet-weaponcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    align-items: center;
    justify-content: space-between;
    align-content: start;
}

.sheet-weapon-name {
    width: 31%;
}
.sheet-weapon-type {
    width: 10%;
    text-align: center;
}

.charsheet div[class^="sheet-weapontype"] {
  display: none;
}
.charsheet input.sheet-meleecheck:checked ~ div.sheet-weapontype-melee,
.charsheet input.sheet-rangedcheck:checked ~ div.sheet-weapontype-ranged,
.charsheet input.sheet-finessecheck:checked ~ div.sheet-weapontype-finesse {
  display: block;
}
.sheet-attackbonus,
input[type=number].sheet-attackbonus {
    width: 6%;
    text-align: center;
}
.sheet-damage {
    width: 8%;
    text-align: center;
}
.sheet-tiny {
    width: 7%;
    text-align: center;
}

.sheet-button-spacer {
    width: 24px;
    margin-left: 3px;
}
.sheet-weapon-description {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 0;
    height: 30px;
    margin-bottom: 0;
    min-height: 30px;
}
/* Spells */
.sheet-spells .repitem {
    margin: 0;
    width: 49.8%;
    display: block;
}
.sheet-spellcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    align-items: center;
    padding: 2px;
    border: 2px solid;
    justify-content: space-between;
    align-content: start;
}
.sheet-spells .repcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sheet-spell-name {
    width: 69%;
    font-weight: bold;
}
.sheet-spell-type {
    width: 24%;
}
.sheet-spell-level,
.sheet-spell-prepared,
.sheet-spell-duration,
.sheet-spell-range {
    text-align: center;
}
.sheet-spell-level {
    width: 6%;
}
input[type=number].sheet-spell-prepared {
    width: 23px;
}
.sheet-spell-duration {
    width: 41%;
}
.sheet-spell-range {
    width: 23%;
}
.sheet-spell-description {
    resize: vertical;
    box-sizing: border-box;
    border-radius: 0;
    height: 80px;
    margin-bottom: 0;
    min-height: 60px;
}
.sheet-spells-per-level {
    align-items: center;
    font-weight: bold;
    margin: 0 0 12px;
}
.sheet-spells-per-level > div {
    align-items: center;
    width: 82px;
}
.sheet-spells-per-level input[type=number] {
    border-radius: 3px;
    width: 2em;
    padding: 1px 4px;
    border: 1px solid #ccc;
}
.sheet-spellfilter, .sheet-hidden-spell-level {
    display: none;
}
.sheet-spellfilter[value="1"]:checked ~ div .sheet-hidden-spell-level[value="1"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="2"]:checked ~ div .sheet-hidden-spell-level[value="2"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="3"]:checked ~ div .sheet-hidden-spell-level[value="3"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="4"]:checked ~ div .sheet-hidden-spell-level[value="4"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="5"]:checked ~ div .sheet-hidden-spell-level[value="5"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="6"]:checked ~ div .sheet-hidden-spell-level[value="6"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="7"]:checked ~ div .sheet-hidden-spell-level[value="7"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="8"]:checked ~ div .sheet-hidden-spell-level[value="8"]:not(:checked) ~ .sheet-spellcontainer,
.sheet-spellfilter[value="9"]:checked ~ div .sheet-hidden-spell-level[value="9"]:not(:checked) ~ .sheet-spellcontainer {
    display: none;
}
.sheet-spell-filters {
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 10px;
}
.sheet-filter-button {
    width: 50px;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sheet-filter-button input[type=radio] {
    margin-right: 3px;
}
.sheet-filter-button span {
    vertical-align: middle;
}
/* Retainers */
.sheet-rep-title {
    text-align: center;
    padding: 2px 0;
    font-weight: bold;
    align-items: center;
    margin-bottom: 3px;
}
.sheet-retainercontainer {
    width: 100%;
    display: block;
    padding: 2px;
    border: 2px solid;
    align-items: center;
    justify-content: space-between;
    align-content: start;
}
.sheet-retainersub {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    align-items: center;
    justify-content: space-between;
    align-content: start;
}
.sheet-retainer-large {
    width: 36%;
}
.sheet-retainer-med {
    width: 18%;
    text-align: center;
}
.sheet-retainer-small {
    width: 6%;
    text-align: center;
}
.sheet-retainer-description {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 0;
    height: 30px;
    margin-bottom: 0;
    min-height: 30px;
}
/* Growing Text Boxes*/
.sheet-special-auto {
	position: relative;
	cursor: text;
	word-wrap: break-word;
    min-height: 110px;
}
.sheet-special-auto span {
	visibility: hidden;
	white-space: pre-wrap;
	display: block;
}
.sheet-special-auto textarea {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	resize: none;
	height: 100%;
	width: 100%;
	display: block;
	box-sizing: border-box;
	border: none;
}
.sheet-auto-expand {
	position: relative;
	cursor: text;
	word-wrap: break-word;
    min-height: 30px;
}
.sheet-auto-expand span {
	visibility: hidden;
	white-space: pre-wrap;
	display: block;
}
.sheet-auto-expand textarea {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	resize: none;
	height: 100%;
	width: 100%;
	display: block;
	box-sizing: border-box;
/*	background: transparent; */
	border: none;
/*	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: inherit;
	text-align: inherit;
	text-transform: inherit; */
}

/* Stat Block Page stuff */
.sheet-statblock {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 0;
    height: 40px;
    margin-bottom: 0;
    min-height: 30px;
}
input[type=text].sheet-numbubble-hd {
    width: 75px;
    height: 40px;
    display: block;
    border: 1px solid;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 10px auto;
}
/* MONSTER PAGE*/
.sheet-statblock-column {
    display: block;
    width: 90%;
    text-align: left;
    font-weight: bold;
}
.sheet-statblock-row {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sheet-monsteras-span {
    font-size: 14px;
    width: 20%;
    font-weight: bold;
    text-align: left;
    padding: 6px;
}

.sheet-monster-type {
    width: 40%;
    text-align: center;
}
.sheet-mweapon-name {
    width: 40%;
}
.sheet-mdamage {
    width: 20%;
    text-align: center;
}
.sheet-mtiny {
    width: 10%;
    text-align: center;
}
/* displays */

div.sheet-weapons-tab,
div.sheet-actions-tab,
div.sheet-equipment-tab,
div.sheet-spells-tab,
div.sheet-hirelings-tab,
div.sheet-effects-tab {
	display: none;
}
input.sheet-is-weapons:checked ~ div.sheet-weapons-tab,
input.sheet-is-actions:checked ~ div.sheet-actions-tab,
input.sheet-is-equipment:checked ~ div.sheet-equipment-tab,
input.sheet-is-spells:checked ~ div.sheet-spells-tab,
input.sheet-is-hirelings:checked ~ div.sheet-hirelings-tab,
input.sheet-is-effects:checked ~ div.sheet-effects-tab {
	display: block;
}
input.sheet-is-weapons,
input.sheet-is-actions,
input.sheet-is-equipment,
input.sheet-is-spells,
input.sheet-is-hirelings,
input.sheet-is-effects {
	height: 16px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}


input.sheet-is-weapons, 
input.sheet-is-equipment,
input.sheet-is-spells,
input.sheet-is-hirelings {
	width: 13%;
}
span.sheet-show-weapons,
span.sheet-show-equipment,
span.sheet-show-spells,
span.sheet-show-hirelings {
    width: 13%;
    margin-left: -13%
}
input.sheet-is-actions {
	width: 17%;
}
span.sheet-show-actions {
    width: 17%;
    margin-left: -17%
}
input.sheet-is-effects {
	width: 25%;
}
span.sheet-show-effects {
    width: 25%;
	margin-left: -25%
}
span.sheet-show-weapons,
span.sheet-show-actions,
span.sheet-show-equipment,
span.sheet-show-spells,
span.sheet-show-hirelings,
span.sheet-show-effects {
	text-align: center;
	display: inline-block;
	height: 16px;
	font-size: 12px;
	background: #CCCCCC;
	color: black;
	font-weight: bold;
	border-radius: 4px;
}
span.sheet-show-weapons::after {
    content: "Weapons";
}
span.sheet-show-actions::after {
    content: "Skills and Proficiencies";
}
span.sheet-show-equipment::after {
    content: "Inventory";
}
span.sheet-show-spells::after {
    content: "Spellbook";
}
span.sheet-show-hirelings::after {
    content: "Hirelings";
}
span.sheet-show-effects::after {
    content: "Permanent Injuries and other Notes";
}

input.sheet-is-weapons:checked + span.sheet-show-weapons,
input.sheet-is-actions:checked + span.sheet-show-actions,
input.sheet-is-equipment:checked + span.sheet-show-equipment,
input.sheet-is-spells:checked + span.sheet-show-spells,
input.sheet-is-hirelings:checked + span.sheet-show-hirelings,
input.sheet-is-effects:checked + span.sheet-show-effects {
	background: #666666;
	color: white;
	border-radius: 4px;
}


/* sheet roll template */
.sheet-rolltemplate-acks_template table {
    width: 100%;
    line-height: 1em;
    font-size: 1em;
    border-collapse: separate;
    border: solid black 1px;
}
.sheet-rolltemplate-acks_template th {
    background-color: #555555;
    color: #ededed;
    padding: 2px;
    line-height: 1.4em;
    font-size: 1.4em;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    border-top: none;
}
.sheet-rolltemplate-acks_template .sheet-subheader {
    background-color: #555555;
    color: #ededed;
    line-height: 0.9em;
    font-size: 0.9em;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    text-align: left;
    border: none;
}
.sheet-rolltemplate-acks_template .sheet-subfooter {
    background-color: #dcdcdc;
    color: #000;
    line-height: 0.9em;
    font-size: 0.9em;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: bold;
    text-align: right;
}
.sheet-rolltemplate-acks_template .sheet-tcat {
    text-align: left;
    font-variant: small-caps;
}
.sheet-rolltemplate-acks_template td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
.sheet-rolltemplate-acks_template tr:nth-child(odd) {
    background-color: #fefefe;
}
.sheet-rolltemplate-acks_template tr:nth-child(even) {
    /*background-color: #dcdcdc;*/
    background-color: #fefefe;
}
.sheet-rolltemplate-acks_template .inlinerollresult {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #c5c6c7; /*Cool Gray 6 C*/
}
.sheet-rolltemplate-acks_template .sheet-subfooter .inlinerollresult {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: none; /*Cool Gray 6 C*/
    background-color: #dcdcdc; /*Cool Gray 6 C*/
}
.sheet-rolltemplate-acks_template .inlinerollresult.fullcrit {
    background-color: #3FB315;
    color: white;
}
.sheet-rolltemplate-acks_template .inlinerollresult.fullfail {
    background-color: #B31515;
    color: white;
}
.sheet-rolltemplate-acks_template .inlinerollresult.importantroll {
    background-color: #4A57ED;
    color: white;
}
.sheet-rolltemplate-acks_template .sheet-damageoutput .inlinerollresult.fullcrit,
.sheet-rolltemplate-acks_template .sheet-damageoutput .inlinerollresult.fullfail,
.sheet-rolltemplate-acks_template .sheet-damageoutput .inlinerollresult.importantroll {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    color: #000;
    background-color: #c5c6c7; /*Cool Gray 6 C*/
}
.sheet-rolltemplate-acks_template div {
    width: 100%;
    max-width: 400px;
}
