<div class="page7tab">
    <hr class="sheet-nav-bottom">
    <fieldset class="repeating_sites">
        <div class="sheet-site-container">
            <div class="sheet-site-row">
                <div class="sheet-site-column sheet-site-background">
                    <p class="sheet-site-title">Site Name:</p><input type="text" class="sheet-site-name" name="attr_site-name" placeholder="Site Name">
                </div>
                <div class="sheet-site-column sheet-site-background">
                    <p class="sheet-site-title">Objective:</p><input type="text" class="sheet-site-name" name="attr_site-objective" placeholder="Objective">
                </div>
            </div>
            <div class="sheet-site-row sheet-site-background">
                <div class="sheet-site-column">
                    <p class="sheet-site-title">Theme:</p><input type="text" class="sheet-site-name" name="attr_site-theme" placeholder="Theme">
                </div>
                <div class="sheet-site-column">
                    <p class="sheet-site-title">Domain:</p><input type="text" class="sheet-site-name" name="attr_site-domain" placeholder="Domain">
                </div>
            </div>
            <input type="checkbox" class="sheet-show-site-info" name="attr_site-show">
            <span class="sheet-show-site-info">Details</span>
            <div class="sheet-show-site-info sheet-hide">
                <div class="sheet-full-width">
                    <h3 class="sheet-site-divide">&emsp;PROGRESS&emsp;</h3>
                    <div class="sheet-site-progress-header">
                        <input type="radio" name="attr_rank" value="1">
                        <h5>Troublesome</h5>
                        <input type="radio" name="attr_rank" value="2">
                        <h5>Dangerous</h5>
                        <input type="radio" name="attr_rank" value="3">
                        <h5>Formidable</h5>
                        <input type="radio" name="attr_rank" value="4">
                        <h5>Extreme</h5>
                        <input type="radio" name="attr_rank" value="5">
                        <h5>Epic</h5>
                    </div>
                    <div class="sheet-progress">
                        <div>
                            <select name="attr_progress_one" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_two" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_three" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_four" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_five" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_six" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_seven" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_eight" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_nine" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <select name="attr_progress_ten" class="sheet-progress-input">
                                <option value="0" selected></option>
                                <option value="1">-</option>
                                <option value="2">+</option>
                                <option value="3">*</option>
                                <option value="4">#</option>
                            </select>
                            <button type="roll" title="Conclude your progress" name="rollprogress1" value="&{template:ironsworn} {{header=@{character_name} Conclude Your Progress}} {{progressname=@{site-name}}} {{progress=[[@{progress-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}"></button>
                            <input type="text" class="sheet-hidden" name="attr_progress-filled" value="floor((@{progress_one}+@{progress_two}+@{progress_three}+@{progress_four}+@{progress_five}+@{progress_six}+@{progress_seven}+@{progress_eight}+@{progress_nine}+@{progress_ten})/4)" disabled="true">
                        </div>
                    </div>
                </div>
                <div class="sheet-full-width">
                    <h3 class="sheet-site-denizens-divide">&emsp;DENIZENS&emsp;</h3>
                    <div class="sheet-denizen-row">
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Very Common 01-27</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_vCommonDen1" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Common 28-41</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_CommonDen1" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Common 42-55</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_CommonDen2" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Common 56-69</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_CommonDen3" placeholder="Denizen">
                        </div>
                    </div>
                    <div class="sheet-denizen-row">
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Uncommon 70-75</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_uncommonDen1" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Uncommon 76-81</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_uncommonDen2" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Uncommon 82-87</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_uncommonDen3" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Uncommon 88-93</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_uncommonDen4" placeholder="Denizen">
                        </div>
                    </div>
                    <div class="sheet-denizen-row">
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Rare 94-95</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_rareDen1" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Rare 96-97</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_rareDen2" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Rare 98-99</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_rareDen3" placeholder="Denizen">
                        </div>
                        <div class="sheet-denizen-column">
                            <p class="sheet-denizen-title">Unforeseen 00</p><input type="text" class="sheet-denizen-input sheet-denizen-background" name="attr_unforeseenDen1" placeholder="Denizen">
                        </div>
                    </div>
                    <div class="sheet-denizen-row">
                        <div class="sheet-denizen-option-column">
                            <p class="sheet-denizen-option">When the outcome of a move prompts an encounter with a denizen, you may:</p>
                        </div>
                        <div class="sheet-denizen-operand-column">
                            <p class="sheet-denizen-operand">></p>
                        </div>
                        <div class="sheet-denizen-option-column">
                            <p class="sheet-denizen-option">Choose or introduce a denizen based on the situation and what you know of this place.</p>
                        </div>
                        <div class="sheet-denizen-operand-column">
                            <p class="sheet-denizen-operand">or</p>
                        </div>
                        <div class="sheet-denizen-option-column">
                            <p class="sheet-denizen-option">Roll on the matrix to generate a random encounter. If the field is blank, add a new denizen.</p>
                        </div>
                        <div class="sheet-denizen-operand-column">
                            <p class="sheet-denizen-operand">or</p>
                        </div>
                        <div class="sheet-denizen-option-column">
                            <p class="sheet-denizen-option">Identify a denizen as ‘likely’ to appear, and Ask the Oracle. If the answer is “no,” roll on the matrix.</p>
                        </div>
                        <div class="sheet-denizen-operand-column">
                            <p class="sheet-denizen-operand">or</p>
                        </div>
                        <div class="sheet-denizen-option-column">
                            <p class="sheet-denizen-option">Pick two denizens, rate one as ‘likely’, and Ask the Oracle to determine which you encounter.</p>
                        </div>
                    </div>
                </div>
                <div class="sheet-full-width">
                    <h3 class="sheet-site-divide-notes">&emsp;NOTES&emsp;</h3>
                    <textarea class="sheet-site-notes" name="attr_site-notes"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</div>