- 
  var 
    assets = {
      companions: {
        'cave-lion': {
          abilityId: 'cavelion',
          health: 4
        },
        'giant-spider': {
          abilityId: 'giantspider',
          health: 4
        },
        hawk: {
          abilityId: 'hawk',
          health: 3
        },
        horse: {
          abilityId: 'horse',
          health: 5
        },
        hound: {
          abilityId: 'hound',
          health: 4
        },
        kindred: {
          abilityId: 'kindred',
          health: 4,
          abilityWriteIn: {
            name: 'expertise',
            number: 1
          }
        },
        mammoth: {
          abilityId: 'mammoth',
          health: 5
        },
        owl: {
          abilityId: 'owl',
          health: 3
        },
        raven: {
          abilityId: 'raven',
          health: 2
        },
        'young-wyvern': {
          abilityId: 'youngwyvern',
          health: 5
        }
      },
      combatTalents: {
        archer: {
          abilityId: 'archer',
          description: true
        },
        berserker: {
          abilityId: 'berserker',
          description: true
        },
        brawler: {
          abilityId: 'brawler',
          description: true
        },
        cutthroat: {
          abilityId: 'cutthroat',
          description: true
        },
        duelist: {
          abilityId: 'duelist',
          description: true
        },
        fletcher: {
          abilityId: 'fletcher',
        },
        ironclad: {
          abilityId: 'ironclad',
          description: true
        },
        'long-arm': {
          abilityId: 'longarm',
          description: true
        },
        'shield-bearer': {
          abilityId: 'shieldbearer',
          description: true
        },
        skirmisher: {
          abilityId: 'skirmisher',
          description: true
        },
        slinger: {
          abilityId: 'slinger',
          description: true
        },
        sunderer: {
          abilityId: 'sunderer',
          description: true
        },
        swordmaster: {
          abilityId: 'swordmaster',
          description: true
        },
        'thunder-bringer': {
          abilityId: 'thunderbringer',
          description: true
        },
      },
      paths: {
        alchemist: {
          abilityId: 'alchemist'
        },
        'animal-kin': {
          abilityId: 'animalkin'
        },
        'banner-sworn': {
          abilityId: 'bannersworn',
          writeIn: 1,
          description: true
        },
        'battle-scarred': {
          abilityId: 'battlescarred',
          description: true
        },
        'blade-bound': {
          abilityId: 'bladebound',
          writeIn: 1,
          description: true
        },
        bonded: {
          abilityId: 'bonded'
        },
        dancer: {
          abilityId: 'dancer'
        },
        devotant: {
          abilityId: 'devotant',
          writeIn: 2,
        },
        empowered: {
          abilityId: 'empowered',
          writeIn: 1
        },
        'fortune-hunter': {
          abilityId: 'fortunehunter',
          track: 5
        },
        'herbalist': {
          abilityId: 'herbalist'
        },
        honorbound: {
          abilityId: 'honorbound'
        },
        improviser: {
          abilityId: 'improviser'
        },
        infiltrator: {
          abilityId: 'infiltrator'
        },
        loyalist: {
          abilityId: 'loyalist'
        },
        masked: {
          abilityId: 'masked',
          description: true
        },
        oathbreaker: {
          abilityId: 'oathbreaker',
          description: true
        },
        outcast: {
          abilityId: 'outcast'
        },
        pretender: {
          abilityId: 'pretender'
        },
        revenant: {
          abilityId: 'revenant',
          description: true
        },
        rider: {
          abilityId: 'rider',
          description: true
        },
        ritualist: {
          abilityId: 'ritualist',
          description: true
        },
        'shadow-kin': {
          abilityId: 'shadowkin',
          description: true
        },
        sighted: {
          abilityId: 'sighted'
        },
        slayer: {
          abilityId: 'slayer'
        },
        'spirit-bound': {
          abilityId: 'spiritbound'
        },
        storyweaver: {
          abilityId: 'storyweaver'
        },
        trickster: {
          abilityId: 'trickster'
        },
        veteran: {
          abilityId: 'veteran'
        },
        waterborn: {
          abilityId: 'waterborn'
        },
        wayfinder: {
          abilityId: 'wayfinder'
        },
        'weapon-master': {
          abilityId: 'weaponmaster',
          description: true
        },
        wildblood: {
          abilityId: 'wildblood'
        },
        wright: {
          abilityId: 'wright',
          writeIn: 1
        }
      },
      rituals: {
        augur: {
          abilityId: 'augur'
        },
        awakening: {
          abilityId: 'awakening',
          track: 6,
        },
        bind: {
          abilityId: 'bind'
        },
        communion: {
          abilityId: 'communion'
        },
        divination: {
          abilityId: 'divination'
        },
        invoke: {
          abilityId: 'invoke',
          track: 6,
        },
        keen: {
          abilityId: 'keen'
        },
        leech: {
          abilityId: 'leech'
        },
        lightbearer: {
          abilityId: 'lightbearer',
          track: 6
        },
        scry: {
          abilityId: 'scry'
        },
        'shadow-walk': {
          abilityId: 'shadowwalk'
        },
        sway: {
          abilityId: 'sway'
        },
        talisman: {
          abilityId: 'talisman'
        },
        tether: {
          abilityId: 'tether'
        },
        totem: {
          abilityId: 'totem'
        },
        visage: {
          abilityId: 'visage'
        },
        ward: {
          abilityId: 'ward'
        }
      }
    }
