- 
  var 
    rows = [
      { 
        pages: [
          { id: '1', text: 'Summary', checked: true },
          { id: '2', text: 'Vows' },
          { id: '4', text: 'Bonds' },
          { id: '11', text: 'Progress' },
        ]
      },
      {
        pages: [
          { id: '8', text: 'Assets' },
          { id: '10', text: 'Moves' },
          { id: '12', text: 'Oracles' },
          { id: '14', text: 'Sites' }
        ]
      }
    ]