- 
  var 
    debilities = [
      {
        title: 'conditions',
        list: [
          { type: 'checkbox', attribute: 'debilWounded', text: 'Wounded', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilShaken', text: 'Shaken', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilUnprepared', text: 'Unprepared', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilEncumbered', text: 'Encumbered', classes: 'debility-btn', pure_attr: true }
        ]
      },
      {
        title: 'banes & burdens',
        list: [
          { type: 'checkbox', attribute: 'debilCorrupted', text: 'Corrupted', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilMaimed', text: 'Maimed', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilMarked', text: 'Cursed', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilHaunted', text: 'Tormented', classes: 'debility-btn', pure_attr: true }
        ]
      },
      {
        title: 'assets',
        list: [
          { type: 'checkbox', attribute: 'debilLeech', text: 'Leech', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilOathbreaker', text: 'Oathbreaker', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilCustom1', text: 'Custom 1', classes: 'debility-btn', pure_attr: true },
          { type: 'checkbox', attribute: 'debilCustom2', text: 'Custom 2', classes: 'debility-btn', pure_attr: true }
        ]
      }
    ]
