- 
  var 
    charRows = [
      { 
        pages: [
          { id: '8', text: 'Sites', optional: 'sites' },
          { id: '4', text: 'Progress' },
          { id: '7', text: 'Oracles' },
          { id: '3', text: 'Bonds' },
          { id: '9', text: 'Settings' }
        ]
      },
      {
        pages: [
          { id: '6', text: 'Moves' },
          { id: '1', text: 'Summary', checked: true },
          { id: '5', text: 'Assets' }
        ]
      }
    ]

- 
  var 
    sharedRows = [
      { 
        pages: [
          { id: '2', text: 'Vows', checked: true},
          { id: '4', text: 'Progress' },
          { id: '3', text: 'Bonds' },
          { id: '8', text: 'Sites' }
        ]
      }
    ]