- 
  var 
    oracles = {
      ironsworn: {
        'Reveal A Danger': {
          id: 'reveal_a_danger',
          oracles: [
            {
              name: 'Worsening of the Situation',
              class: 'danger-situation',
              roll_id: 'revealADangerSituation',
              dice: 'd100',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            }
          ]
        },
      },
      delve: {
        'Advance a Threat': {
          id: 'advance_a_threat',
          oracles: [
            {
              name: 'Advance a Threat',
              class: 'advance-a-threat',
              roll_id: 'advanceAThreat',
              dice: 'd100',
              rows: [
                {
                  type: 'Between',
                  roll: '1-30',
                  result: "The threat readies its next step, or a new danger looms. If you are in a position to prevent this development, you may attempt to do so. If you succeed, <em>Reach a Milestone.</em> Otherwise, mark menace."
                },
                {
                  type: 'Between',
                  roll: '31-70',
                  result: "The threat works subtly to advance toward its goal, or the danger escalates. Mark menace."
                },
                {
                  type: 'Between',
                  roll: '71-100',
                  result: "The threat makes a dramatic and immediate move, or a major event reveals new complications. Mark menace twice."
                },
              ]
            }
          ]
        },
      }
    }
