//- TODO Convert Oralces
{
                  type: 'Between',
                  roll: '1-2',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '3-4',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '5-6',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '7-8',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '9-10',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '11-12',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '13-14',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '15-16',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '17-18',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '19-20',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '21-22',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '23-24',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '25-26',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '27-28',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '29-30',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '31-32',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '33-34',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '35-36',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '37-38',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '39-40',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '41-42',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '43-44',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '45-46',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '47-48',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '49-50',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '51-52',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '53-54',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '55-56',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '57-58',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '59-60',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '61-62',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '63-64',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '65-66',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '67-68',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '69-70',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '71-72',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '73-74',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '75-76',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '77-78',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '79-80',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '81-82',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '83-84',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '85-86',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '87-88',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '89-90',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '91-92',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '93-94',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '95-96',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '97-98',
                  result: ""
                },
                {
                  type: 'Between',
                  roll: '99-100',
                  result: ""
                }

- 
  var 
    oracles = {
      ironsworn: {
        danger: {
          oracles: [
            {
              name: '',
              roll_id: '',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            }
          ]
        },
      },
      delve: {
        feature: {
          oracles: [
            {
              name: 'aspect',
              roll_id: 'featureAspect',
              dice: 'd100',
              columns: '2',
              rows: [
                {
                  type: 'Between',
                  roll: '1-2',
                  result: "Blocked"
                },
                {
                  type: 'Between',
                  roll: '3-4',
                  result: "Crafted"
                },
                {
                  type: 'Between',
                  roll: '5-6',
                  result: "Ancient"
                },
                {
                  type: 'Between',
                  roll: '7-8',
                  result: "Sunken"
                },
                {
                  type: 'Between',
                  roll: '9-10',
                  result: "Trapped"
                },
                {
                  type: 'Between',
                  roll: '11-12',
                  result: "Secret"
                },
                {
                  type: 'Between',
                  roll: '13-14',
                  result: "Toxic"
                },
                {
                  type: 'Between',
                  roll: '15-16',
                  result: "Ruined"
                },
                {
                  type: 'Between',
                  roll: '17-18',
                  result: "Defended"
                },
                {
                  type: 'Between',
                  roll: '19-20',
                  result: "Decaying"
                },
                {
                  type: 'Between',
                  roll: '21-22',
                  result: "Marked"
                },
                {
                  type: 'Between',
                  roll: '23-24',
                  result: "Guarded"
                },
                {
                  type: 'Between',
                  roll: '25-26',
                  result: "Inaccessible"
                },
                {
                  type: 'Between',
                  roll: '27-28',
                  result: "Foreboding"
                },
                {
                  type: 'Between',
                  roll: '29-30',
                  result: "Veiled"
                },
                {
                  type: 'Between',
                  roll: '31-32',
                  result: "Deep"
                },
                {
                  type: 'Between',
                  roll: '33-34',
                  result: "Depleted"
                },
                {
                  type: 'Between',
                  roll: '35-36',
                  result: "Foul"
                },
                {
                  type: 'Between',
                  roll: '37-38',
                  result: "Elevated"
                },
                {
                  type: 'Between',
                  roll: '39-40',
                  result: "Moving"
                },
                {
                  type: 'Between',
                  roll: '41-42',
                  result: "Unnatural"
                },
                {
                  type: 'Between',
                  roll: '43-44',
                  result: "Active"
                },
                {
                  type: 'Between',
                  roll: '45-46',
                  result: "Confined"
                },
                {
                  type: 'Between',
                  roll: '47-48',
                  result: "Fortified"
                },
                {
                  type: 'Between',
                  roll: '49-50',
                  result: "Collapsed"
                },
                {
                  type: 'Between',
                  roll: '51-52',
                  result: "Isolated"
                },
                {
                  type: 'Between',
                  roll: '53-54',
                  result: "Destroyed"
                },
                {
                  type: 'Between',
                  roll: '55-56',
                  result: "Open"
                },
                {
                  type: 'Between',
                  roll: '57-58',
                  result: "Sacred"
                },
                {
                  type: 'Between',
                  roll: '59-60',
                  result: "Flooded"
                },
                {
                  type: 'Between',
                  roll: '61-62',
                  result: "Complex"
                },
                {
                  type: 'Between',
                  roll: '63-64',
                  result: "Abundant"
                },
                {
                  type: 'Between',
                  roll: '65-66',
                  result: "Hidden"
                },
                {
                  type: 'Between',
                  roll: '67-68',
                  result: "Expansive"
                },
                {
                  type: 'Between',
                  roll: '69-70',
                  result: "Mysterious"
                },
                {
                  type: 'Between',
                  roll: '71-72',
                  result: "Unstable"
                },
                {
                  type: 'Between',
                  roll: '73-74',
                  result: "Fragile"
                },
                {
                  type: 'Between',
                  roll: '75-76',
                  result: "Broken"
                },
                {
                  type: 'Between',
                  roll: '77-78',
                  result: "Ensnaring"
                },
                {
                  type: 'Between',
                  roll: '79-80',
                  result: "Pillaged"
                },
                {
                  type: 'Between',
                  roll: '81-82',
                  result: "Sealed"
                },
                {
                  type: 'Between',
                  roll: '83-84',
                  result: "Makeshift"
                },
                {
                  type: 'Between',
                  roll: '85-86',
                  result: "Treacherous"
                },
                {
                  type: 'Between',
                  roll: '87-88',
                  result: "Natural"
                },
                {
                  type: 'Between',
                  roll: '89-90',
                  result: "Dead"
                },
                {
                  type: 'Between',
                  roll: '91-92',
                  result: "Unusual"
                },
                {
                  type: 'Between',
                  roll: '93-94',
                  result: "Abandoned"
                },
                {
                  type: 'Between',
                  roll: '95-96',
                  result: "Deadly"
                },
                {
                  type: 'Between',
                  roll: '97-98',
                  result: "Forgotten"
                },
                {
                  type: 'Between',
                  roll: '99-100',
                  result: "Mystical"
                }
              ]
            },
            {
              name: 'focus',
              roll_id: 'featureFocus',
              dice: 'd100',
              columns: '2',
              rows: [
                {
                  type: 'Between',
                  roll: '1-2',
                  result: "Attack"
                },
                {
                  type: 'Between',
                  roll: '3-4',
                  result: "Threshold"
                },
                {
                  type: 'Between',
                  roll: '5-6',
                  result: "Boundary"
                },
                {
                  type: 'Between',
                  roll: '7-8',
                  result: "Alarm"
                },
                {
                  type: 'Between',
                  roll: '9-10',
                  result: "Exit"
                },
                {
                  type: 'Between',
                  roll: '11-12',
                  result: "Passage"
                },
                {
                  type: 'Between',
                  roll: '13-14',
                  result: "Crossing"
                },
                {
                  type: 'Between',
                  roll: '15-16',
                  result: "Trigger"
                },
                {
                  type: 'Between',
                  roll: '17-18',
                  result: "Trap"
                },
                {
                  type: 'Between',
                  roll: '19-20',
                  result: "Hideaway"
                },
                {
                  type: 'Between',
                  roll: '21-22',
                  result: "Nature"
                },
                {
                  type: 'Between',
                  roll: '23-24',
                  result: "Sign"
                },
                {
                  type: 'Between',
                  roll: '25-26',
                  result: "Refuge"
                },
                {
                  type: 'Between',
                  roll: '27-28',
                  result: "Valuables"
                },
                {
                  type: 'Between',
                  roll: '29-30',
                  result: "Breach"
                },
                {
                  type: 'Between',
                  roll: '31-32',
                  result: "Route"
                },
                {
                  type: 'Between',
                  roll: '33-34',
                  result: "Location"
                },
                {
                  type: 'Between',
                  roll: '35-36',
                  result: "Trail"
                },
                {
                  type: 'Between',
                  roll: '37-38',
                  result: "Supply"
                },
                {
                  type: 'Between',
                  roll: '39-40',
                  result: "History"
                },
                {
                  type: 'Between',
                  roll: '41-42',
                  result: "Prisoner"
                },
                {
                  type: 'Between',
                  roll: '43-44',
                  result: "Habitation"
                },
                {
                  type: 'Between',
                  roll: '45-46',
                  result: "Debris"
                },
                {
                  type: 'Between',
                  roll: '47-48',
                  result: "Creature"
                },
                {
                  type: 'Between',
                  roll: '49-50',
                  result: "Lair"
                },
                {
                  type: 'Between',
                  roll: '51-52',
                  result: "Person"
                },
                {
                  type: 'Between',
                  roll: '53-54',
                  result: "Enclosure"
                },
                {
                  type: 'Between',
                  roll: '55-56',
                  result: "Remains"
                },
                {
                  type: 'Between',
                  roll: '57-58',
                  result: "Water"
                },
                {
                  type: 'Between',
                  roll: '59-60',
                  result: "Message"
                },
                {
                  type: 'Between',
                  roll: '61-62',
                  result: "Darkness"
                },
                {
                  type: 'Between',
                  roll: '63-64',
                  result: "Opening"
                },
                {
                  type: 'Between',
                  roll: '65-66',
                  result: "Weapon"
                },
                {
                  type: 'Between',
                  roll: '67-68',
                  result: "Entry"
                },
                {
                  type: 'Between',
                  roll: '69-70',
                  result: "Illumination"
                },
                {
                  type: 'Between',
                  roll: '71-72',
                  result: "Obstacle"
                },
                {
                  type: 'Between',
                  roll: '73-74',
                  result: "Craft"
                },
                {
                  type: 'Between',
                  roll: '75-76',
                  result: "Container"
                },
                {
                  type: 'Between',
                  roll: '77-78',
                  result: "Information"
                },
                {
                  type: 'Between',
                  roll: '79-80',
                  result: "Grave"
                },
                {
                  type: 'Between',
                  roll: '81-82',
                  result: "Equipment"
                },
                {
                  type: 'Between',
                  roll: '83-84',
                  result: "Shelter"
                },
                {
                  type: 'Between',
                  roll: '85-86',
                  result: "Denizen"
                },
                {
                  type: 'Between',
                  roll: '87-88',
                  result: "Environment"
                },
                {
                  type: 'Between',
                  roll: '89-90',
                  result: "Material"
                },
                {
                  type: 'Between',
                  roll: '91-92',
                  result: "Resource"
                },
                {
                  type: 'Between',
                  roll: '93-94',
                  result: "Corruption"
                },
                {
                  type: 'Between',
                  roll: '95-96',
                  result: "Death"
                },
                {
                  type: 'Between',
                  roll: '97-98',
                  result: "Function"
                },
                {
                  type: 'Between',
                  roll: '99-100',
                  result: "Power"
                }
              ]
            }
          ]
        },
        site_name: {
          oracles: [
            {
              name: 'format',
              roll_id: 'Format',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '1-25',
                  result: "[Description] [Place]"
                },
                {
                  type: 'Between',
                  roll: '26-50',
                  result: "[Place] of [Detail]"
                },
                {
                  type: 'Between',
                  roll: '51-70',
                  result: "[Place] of [Description] [Detail]"
                },
                {
                  type: 'Between',
                  roll: '71-80',
                  result: "[Place] of [Namesake's] [Detail]"
                },
                {
                  type: 'Between',
                  roll: '81-85',
                  result: "[Namesake's] [Place]"
                },
                {
                  type: 'Between',
                  roll: '86-95',
                  result: "[Description] [Place] of [Namesake]"
                },
                {
                  type: 'Between',
                  roll: '96-100',
                  result: "[Place] of [Namesake]"
                },
              ]
            },
            {
              name: 'description',
              roll_id: 'Description',
              dice: 'd100',
              columns: '2',
              rows: [
                {
                  type: 'Between',
                  roll: '1-2',
                  result: "Deep"
                },
                {
                  type: 'Between',
                  roll: '3-4',
                  result: "Tainted"
                },
                {
                  type: 'Between',
                  roll: '5-6',
                  result: "Grey"
                },
                {
                  type: 'Between',
                  roll: '7-8',
                  result: "Forgotten"
                },
                {
                  type: 'Between',
                  roll: '9-10',
                  result: "Flooded"
                },
                {
                  type: 'Between',
                  roll: '11-12',
                  result: "Forbidden"
                },
                {
                  type: 'Between',
                  roll: '13-14',
                  result: "Barren"
                },
                {
                  type: 'Between',
                  roll: '15-16',
                  result: "Lost"
                },
                {
                  type: 'Between',
                  roll: '17-18',
                  result: "Cursed"
                },
                {
                  type: 'Between',
                  roll: '19-20',
                  result: "Fell"
                },
                {
                  type: 'Between',
                  roll: '21-22',
                  result: "Sunken"
                },
                {
                  type: 'Between',
                  roll: '23-24',
                  result: "Nightmare"
                },
                {
                  type: 'Between',
                  roll: '25-26',
                  result: "Infernal"
                },
                {
                  type: 'Between',
                  roll: '27-28',
                  result: "Dark"
                },
                {
                  type: 'Between',
                  roll: '29-30',
                  result: "Bloodstained"
                },
                {
                  type: 'Between',
                  roll: '31-32',
                  result: "Haunted"
                },
                {
                  type: 'Between',
                  roll: '33-34',
                  result: "White"
                },
                {
                  type: 'Between',
                  roll: '35-36',
                  result: "Shrouded"
                },
                {
                  type: 'Between',
                  roll: '37-38',
                  result: "Wasted"
                },
                {
                  type: 'Between',
                  roll: '39-40',
                  result: "Grim"
                },
                {
                  type: 'Between',
                  roll: '41-42',
                  result: "Endless"
                },
                {
                  type: 'Between',
                  roll: '43-44',
                  result: "Crumbling"
                },
                {
                  type: 'Between',
                  roll: '45-46',
                  result: "Undying"
                },
                {
                  type: 'Between',
                  roll: '47-48',
                  result: "Bloodied"
                },
                {
                  type: 'Between',
                  roll: '49-50',
                  result: "Forsaken"
                },
                {
                  type: 'Between',
                  roll: '51-52',
                  result: "Silent"
                },
                {
                  type: 'Between',
                  roll: '53-54',
                  result: "Blighted"
                },
                {
                  type: 'Between',
                  roll: '55-56',
                  result: "Iron"
                },
                {
                  type: 'Between',
                  roll: '57-58',
                  result: "Frozen"
                },
                {
                  type: 'Between',
                  roll: '59-60',
                  result: "Abyssal"
                },
                {
                  type: 'Between',
                  roll: '61-62',
                  result: "Crimson"
                },
                {
                  type: 'Between',
                  roll: '63-64',
                  result: "Silver"
                },
                {
                  type: 'Between',
                  roll: '65-66',
                  result: "Desecrated"
                },
                {
                  type: 'Between',
                  roll: '67-68',
                  result: "Ashen"
                },
                {
                  type: 'Between',
                  roll: '69-70',
                  result: "Elder"
                },
                {
                  type: 'Between',
                  roll: '71-72',
                  result: "Scorched"
                },
                {
                  type: 'Between',
                  roll: '73-74',
                  result: "Unknown"
                },
                {
                  type: 'Between',
                  roll: '75-76',
                  result: "Scarred"
                },
                {
                  type: 'Between',
                  roll: '77-78',
                  result: "Broken"
                },
                {
                  type: 'Between',
                  roll: '79-80',
                  result: "Chaotic"
                },
                {
                  type: 'Between',
                  roll: '81-82',
                  result: "Black"
                },
                {
                  type: 'Between',
                  roll: '83-84',
                  result: "Hidden"
                },
                {
                  type: 'Between',
                  roll: '85-86',
                  result: "Sundered"
                },
                {
                  type: 'Between',
                  roll: '87-88',
                  result: "Shattered"
                },
                {
                  type: 'Between',
                  roll: '89-90',
                  result: "Dreaded"
                },
                {
                  type: 'Between',
                  roll: '91-92',
                  result: "Secret"
                },
                {
                  type: 'Between',
                  roll: '93-94',
                  result: "High"
                },
                {
                  type: 'Between',
                  roll: '95-96',
                  result: "Sacred"
                },
                {
                  type: 'Between',
                  roll: '97-98',
                  result: "Fallen"
                },
                {
                  type: 'Between',
                  roll: '99-100',
                  result: "Ruined"
                }
              ]
            },
            {
              name: 'detail',
              roll_id: 'Detail',
              dice: 'd100',
              columns: '2',
              rows: [
                {
                  type: 'Between',
                  roll: '1-2',
                  result: "Blight"
                },
                {
                  type: 'Between',
                  roll: '3-4',
                  result: "Strife"
                },
                {
                  type: 'Between',
                  roll: '5-6',
                  result: "Nightfall"
                },
                {
                  type: 'Between',
                  roll: '7-8',
                  result: "Fury"
                },
                {
                  type: 'Between',
                  roll: '9-10',
                  result: "Terror"
                },
                {
                  type: 'Between',
                  roll: '11-12',
                  result: "Truth"
                },
                {
                  type: 'Between',
                  roll: '13-14',
                  result: "Spring"
                },
                {
                  type: 'Between',
                  roll: '15-16',
                  result: "Sanctuary"
                },
                {
                  type: 'Between',
                  roll: '17-18',
                  result: "Bone"
                },
                {
                  type: 'Between',
                  roll: '19-20',
                  result: "Specters"
                },
                {
                  type: 'Between',
                  roll: '21-22',
                  result: "Daybreak"
                },
                {
                  type: 'Between',
                  roll: '23-24',
                  result: "Doom"
                },
                {
                  type: 'Between',
                  roll: '25-26',
                  result: "Treachery"
                },
                {
                  type: 'Between',
                  roll: '27-28',
                  result: "Blood"
                },
                {
                  type: 'Between',
                  roll: '29-30',
                  result: "War"
                },
                {
                  type: 'Between',
                  roll: '31-32',
                  result: "Torment"
                },
                {
                  type: 'Between',
                  roll: '33-34',
                  result: "Iron"
                },
                {
                  type: 'Between',
                  roll: '35-36',
                  result: "Silence"
                },
                {
                  type: 'Between',
                  roll: '37-38',
                  result: "Mist"
                },
                {
                  type: 'Between',
                  roll: '39-40',
                  result: "Isolation"
                },
                {
                  type: 'Between',
                  roll: '41-42',
                  result: "Runes"
                },
                {
                  type: 'Between',
                  roll: '43-44',
                  result: "Rot"
                },
                {
                  type: 'Between',
                  roll: '45-46',
                  result: "Corruption"
                },
                {
                  type: 'Between',
                  roll: '47-48',
                  result: "Prophecy"
                },
                {
                  type: 'Between',
                  roll: '49-50',
                  result: "Fate"
                },
                {
                  type: 'Between',
                  roll: '51-52',
                  result: "Twilight"
                },
                {
                  type: 'Between',
                  roll: '53-54',
                  result: "Power"
                },
                {
                  type: 'Between',
                  roll: '55-56',
                  result: "Darkness"
                },
                {
                  type: 'Between',
                  roll: '57-58',
                  result: "Gloom"
                },
                {
                  type: 'Between',
                  roll: '59-60',
                  result: "Storms"
                },
                {
                  type: 'Between',
                  roll: '61-62',
                  result: "Hope"
                },
                {
                  type: 'Between',
                  roll: '63-64',
                  result: "Lament"
                },
                {
                  type: 'Between',
                  roll: '65-66',
                  result: "Frost"
                },
                {
                  type: 'Between',
                  roll: '67-68',
                  result: "Souls"
                },
                {
                  type: 'Between',
                  roll: '69-70',
                  result: "Winter"
                },
                {
                  type: 'Between',
                  roll: '71-72',
                  result: "Sadness"
                },
                {
                  type: 'Between',
                  roll: '73-74',
                  result: "Desolation"
                },
                {
                  type: 'Between',
                  roll: '75-76',
                  result: "Bane"
                },
                {
                  type: 'Between',
                  roll: '77-78',
                  result: "Lies"
                },
                {
                  type: 'Between',
                  roll: '79-80',
                  result: "Ash"
                },
                {
                  type: 'Between',
                  roll: '81-82',
                  result: "Banishment"
                },
                {
                  type: 'Between',
                  roll: '83-84',
                  result: "Shadow"
                },
                {
                  type: 'Between',
                  roll: '85-86',
                  result: "Madness"
                },
                {
                  type: 'Between',
                  roll: '87-88',
                  result: "Stone"
                },
                {
                  type: 'Between',
                  roll: '89-90',
                  result: "Secrets"
                },
                {
                  type: 'Between',
                  roll: '91-92',
                  result: "Despair"
                },
                {
                  type: 'Between',
                  roll: '93-94',
                  result: "Blades"
                },
                {
                  type: 'Between',
                  roll: '95-96',
                  result: "Dread"
                },
                {
                  type: 'Between',
                  roll: '97-98',
                  result: "Light"
                },
                {
                  type: 'Between',
                  roll: '99-100',
                  result: "Wrath"
                }
              ]
            },
            {
              name: 'namesake',
              roll_id: 'Namesake',
              dice: 'd100',
              columns: '2',
              rows: [
                {
                  type: 'Between',
                  roll: '1-2',
                  result: "Breckon"
                },
                {
                  type: 'Between',
                  roll: '3-4',
                  result: "Issara"
                },
                {
                  type: 'Between',
                  roll: '5-6',
                  result: "Milenna"
                },
                {
                  type: 'Between',
                  roll: '7-8',
                  result: "Thorval"
                },
                {
                  type: 'Between',
                  roll: '9-10',
                  result: "Khulan"
                },
                {
                  type: 'Between',
                  roll: '11-12',
                  result: "Aurvang"
                },
                {
                  type: 'Between',
                  roll: '13-14',
                  result: "Kalida"
                },
                {
                  type: 'Between',
                  roll: '15-16',
                  result: "Keeara"
                },
                {
                  type: 'Between',
                  roll: '17-18',
                  result: "Andor"
                },
                {
                  type: 'Between',
                  roll: '19-20',
                  result: "Zakaria"
                },
                {
                  type: 'Between',
                  roll: '21-22',
                  result: "Willa"
                },
                {
                  type: 'Between',
                  roll: '23-24',
                  result: "Etana"
                },
                {
                  type: 'Between',
                  roll: '25-26',
                  result: "Valgard"
                },
                {
                  type: 'Between',
                  roll: '27-28',
                  result: "Kenrick"
                },
                {
                  type: 'Between',
                  roll: '29-30',
                  result: "Wyland"
                },
                {
                  type: 'Between',
                  roll: '31-32',
                  result: "Sidura"
                },
                {
                  type: 'Between',
                  roll: '33-34',
                  result: "Svala"
                },
                {
                  type: 'Between',
                  roll: '35-36',
                  result: "Kajir"
                },
                {
                  type: 'Between',
                  roll: '37-38',
                  result: "Saiven"
                },
                {
                  type: 'Between',
                  roll: '39-40',
                  result: "Callwen"
                },
                {
                  type: 'Between',
                  roll: '41-42',
                  result: "Zhan"
                },
                {
                  type: 'Between',
                  roll: '43-44',
                  result: "Solana"
                },
                {
                  type: 'Between',
                  roll: '45-46',
                  result: "Ildar"
                },
                {
                  type: 'Between',
                  roll: '47-48',
                  result: "Keelan"
                },
                {
                  type: 'Between',
                  roll: '49-50',
                  result: "Thrain"
                },
                {
                  type: 'Between',
                  roll: '51-52',
                  result: "Kynan"
                },
                {
                  type: 'Between',
                  roll: '53-54',
                  result: "Jadina"
                },
                {
                  type: 'Between',
                  roll: '55-56',
                  result: "Radek"
                },
                {
                  type: 'Between',
                  roll: '57-58',
                  result: "Wulan"
                },
                {
                  type: 'Between',
                  roll: '59-60',
                  result: "Garion"
                },
                {
                  type: 'Between',
                  roll: '61-62',
                  result: "Eysa"
                },
                {
                  type: 'Between',
                  roll: '63-64',
                  result: "Kolor"
                },
                {
                  type: 'Between',
                  roll: '65-66',
                  result: "Katarra"
                },
                {
                  type: 'Between',
                  roll: '67-68',
                  result: "Dain"
                },
                {
                  type: 'Between',
                  roll: '69-70',
                  result: "Farina"
                },
                {
                  type: 'Between',
                  roll: '71-72',
                  result: "Yala"
                },
                {
                  type: 'Between',
                  roll: '73-74',
                  result: "Kodroth"
                },
                {
                  type: 'Between',
                  roll: '75-76',
                  result: "Morien"
                },
                {
                  type: 'Between',
                  roll: '77-78',
                  result: "Akida"
                },
                {
                  type: 'Between',
                  roll: '79-80',
                  result: "Haldorr"
                },
                {
                  type: 'Between',
                  roll: '81-82',
                  result: "Nyrad"
                },
                {
                  type: 'Between',
                  roll: '83-84',
                  result: "Edda"
                },
                {
                  type: 'Between',
                  roll: '85-86',
                  result: "Jorund"
                },
                {
                  type: 'Between',
                  roll: '87-88',
                  result: "Morraine"
                },
                {
                  type: 'Between',
                  roll: '89-90',
                  result: "Lindar"
                },
                {
                  type: 'Between',
                  roll: '91-92',
                  result: "Sithra"
                },
                {
                  type: 'Between',
                  roll: '93-94',
                  result: "Torgan"
                },
                {
                  type: 'Between',
                  roll: '95-96',
                  result: "Arnorr"
                },
                {
                  type: 'Between',
                  roll: '97-98',
                  result: "Thyri"
                },
                {
                  type: 'Between',
                  roll: '99-100',
                  result: "Erisia"
                }
              ]
            },
            {
              name: 'place',
              roll_id: 'NamePlace',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '1-6',
                  result: "Barrow",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-6',
                      result: "Sepulcher"
                    },
                    {
                      type: 'Between',
                      roll: '17-32',
                      result: "Grave"
                    },
                    {
                      type: 'Between',
                      roll: '33-49',
                      result: "Crypt"
                    },
                    {
                      type: 'Between',
                      roll: '50-66',
                      result: "Mound"
                    },
                    {
                      type: 'Between',
                      roll: '67-83',
                      result: "Tomb"
                    },
                    {
                      type: 'Between',
                      roll: '84-100',
                      result: "Barrow"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '7-18',
                  result: "Cavern",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-10',
                      result: "Abyss"
                    },
                    {
                      type: 'Between',
                      roll: '11-20',
                      result: "Caverns"
                    },
                    {
                      type: 'Between',
                      roll: '21-30',
                      result: "Caves"
                    },
                    {
                      type: 'Between',
                      roll: '31-40',
                      result: "Chasm"
                    },
                    {
                      type: 'Between',
                      roll: '41-50',
                      result: "Depths"
                    },
                    {
                      type: 'Between',
                      roll: '51-60',
                      result: "Hollow"
                    },
                    {
                      type: 'Between',
                      roll: '61-70',
                      result: "Lair"
                    },
                    {
                      type: 'Between',
                      roll: '71-80',
                      result: "Rift"
                    },
                    {
                      type: 'Between',
                      roll: '81-90',
                      result: "Tunnels"
                    },
                    {
                      type: 'Between',
                      roll: '91-100',
                      result: "Warren"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '19-28',
                  result: "Frozen Cavern",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-10',
                      result: "Abyss"
                    },
                    {
                      type: 'Between',
                      roll: '11-20',
                      result: "Caverns"
                    },
                    {
                      type: 'Between',
                      roll: '21-30',
                      result: "Caves"
                    },
                    {
                      type: 'Between',
                      roll: '31-40',
                      result: "Chasm"
                    },
                    {
                      type: 'Between',
                      roll: '41-50',
                      result: "Depths"
                    },
                    {
                      type: 'Between',
                      roll: '51-60',
                      result: "Hollow"
                    },
                    {
                      type: 'Between',
                      roll: '61-70',
                      result: "Lair"
                    },
                    {
                      type: 'Between',
                      roll: '71-80',
                      result: "Rift"
                    },
                    {
                      type: 'Between',
                      roll: '81-90',
                      result: "Tunnels"
                    },
                    {
                      type: 'Between',
                      roll: '91-100',
                      result: "Warren"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '29-32',
                  result: "Icereach",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-16',
                      result: "Icemark"
                    },
                    {
                      type: 'Between',
                      roll: '17-32',
                      result: "Wintertide"
                    },
                    {
                      type: 'Between',
                      roll: '33-49',
                      result: "Reach"
                    },
                    {
                      type: 'Between',
                      roll: '50-66',
                      result: "Waste"
                    },
                    {
                      type: 'Between',
                      roll: '67-83',
                      result: "Expanse"
                    },
                    {
                      type: 'Between',
                      roll: '84-100',
                      result: "Barrens"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '33-38',
                  result: "Mine",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-16',
                      result: "Lode"
                    },
                    {
                      type: 'Between',
                      roll: '17-32',
                      result: "Dig"
                    },
                    {
                      type: 'Between',
                      roll: '33-49',
                      result: "Forge"
                    },
                    {
                      type: 'Between',
                      roll: '50-66',
                      result: "Mine"
                    },
                    {
                      type: 'Between',
                      roll: '67-83',
                      result: "Tunnels"
                    },
                    {
                      type: 'Between',
                      roll: '84-100',
                      result: "Cut"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '39-48',
                  result: "Pass",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-10',
                      result: "Cliffs"
                    },
                    {
                      type: 'Between',
                      roll: '11-20',
                      result: "Crag"
                    },
                    {
                      type: 'Between',
                      roll: '21-30',
                      result: "Cut"
                    },
                    {
                      type: 'Between',
                      roll: '31-40',
                      result: "Gap"
                    },
                    {
                      type: 'Between',
                      roll: '41-50',
                      result: "Gorge"
                    },
                    {
                      type: 'Between',
                      roll: '51-60',
                      result: "Heights"
                    },
                    {
                      type: 'Between',
                      roll: '61-70',
                      result: "Highlands"
                    },
                    {
                      type: 'Between',
                      roll: '71-80',
                      result: "Pass"
                    },
                    {
                      type: 'Between',
                      roll: '81-90',
                      result: "Reach"
                    },
                    {
                      type: 'Between',
                      roll: '91-100',
                      result: "Ridge"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '49-58',
                  result: "Ruin",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-10',
                      result: "Citadel"
                    },
                    {
                      type: 'Between',
                      roll: '11-20',
                      result: "Enclave"
                    },
                    {
                      type: 'Between',
                      roll: '21-30',
                      result: "Fortress"
                    },
                    {
                      type: 'Between',
                      roll: '31-40',
                      result: "Hall"
                    },
                    {
                      type: 'Between',
                      roll: '41-50',
                      result: "Keep"
                    },
                    {
                      type: 'Between',
                      roll: '51-60',
                      result: "Sanctuary"
                    },
                    {
                      type: 'Between',
                      roll: '61-70',
                      result: "Sanctum"
                    },
                    {
                      type: 'Between',
                      roll: '71-80',
                      result: "Spire"
                    },
                    {
                      type: 'Between',
                      roll: '81-90',
                      result: "Temple"
                    },
                    {
                      type: 'Between',
                      roll: '91-100',
                      result: "Tower"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '59-68',
                  result: "Sea Cave",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-16',
                      result: "Caves"
                    },
                    {
                      type: 'Between',
                      roll: '17-32',
                      result: "Channel"
                    },
                    {
                      type: 'Between',
                      roll: '33-49',
                      result: "Cove"
                    },
                    {
                      type: 'Between',
                      roll: '50-66',
                      result: "Hollow"
                    },
                    {
                      type: 'Between',
                      roll: '67-83',
                      result: "Pools"
                    },
                    {
                      type: 'Between',
                      roll: '84-100',
                      result: "Gouge"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '69-78',
                  result: "Shadowfen",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-10',
                      result: "Bog"
                    },
                    {
                      type: 'Between',
                      roll: '11-20',
                      result: "Fen"
                    },
                    {
                      type: 'Between',
                      roll: '21-30',
                      result: "Lowland"
                    },
                    {
                      type: 'Between',
                      roll: '31-40',
                      result: "Marsh"
                    },
                    {
                      type: 'Between',
                      roll: '41-50',
                      result: "Mire"
                    },
                    {
                      type: 'Between',
                      roll: '51-60',
                      result: "Morass"
                    },
                    {
                      type: 'Between',
                      roll: '61-70',
                      result: "Quagmire"
                    },
                    {
                      type: 'Between',
                      roll: '71-80',
                      result: "Floodlands"
                    },
                    {
                      type: 'Between',
                      roll: '81-90',
                      result: "Slough"
                    },
                    {
                      type: 'Between',
                      roll: '91-100',
                      result: "Wetlands"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '79-83',
                  result: "Stronghold",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '1-10',
                      result: "Bastion"
                    },
                    {
                      type: 'Between',
                      roll: '11-20',
                      result: "Citadel"
                    },
                    {
                      type: 'Between',
                      roll: '21-30',
                      result: "Fortress"
                    },
                    {
                      type: 'Between',
                      roll: '31-40',
                      result: "Garrison"
                    },
                    {
                      type: 'Between',
                      roll: '41-50',
                      result: "Haven"
                    },
                    {
                      type: 'Between',
                      roll: '51-60',
                      result: "Keep"
                    },
                    {
                      type: 'Between',
                      roll: '61-70',
                      result: "Outpost"
                    },
                    {
                      type: 'Between',
                      roll: '71-80',
                      result: "Refuge"
                    },
                    {
                      type: 'Between',
                      roll: '81-90',
                      result: "Sanctuary"
                    },
                    {
                      type: 'Between',
                      roll: '91-100',
                      result: "Watch"
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '84-95',
                  result: "Tanglewood",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    },
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    },
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    },
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    },
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    },
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    },
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    },
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    }
                  ]
                },
                {
                  type: 'Between',
                  roll: '96-100',
                  result: "Underkeep",
                  nested_oracle: [
                    {
                      type: 'Between',
                      roll: '',
                      result: ""
                    }
                  ]
                }
              ]
            }
          ]
        },
        site_nature: {
          oracles: [
            {
              name: 'theme',
              roll_id: 'NatureTheme',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '1-11',
                  result: "Ancient"
                },
                {
                  type: 'Between',
                  roll: '12-23',
                  result: "Corrupted"
                },
                {
                  type: 'Between',
                  roll: '24-35',
                  result: "Fortified"
                },
                {
                  type: 'Between',
                  roll: '36-48',
                  result: "Hallowed"
                },
                {
                  type: 'Between',
                  roll: '49-61',
                  result: "Haunted"
                },
                {
                  type: 'Between',
                  roll: '62-74',
                  result: "Infested"
                },
                {
                  type: 'Between',
                  roll: '75-87',
                  result: "Ravaged"
                },
                {
                  type: 'Between',
                  roll: '88-100',
                  result: "Wild"
                }
              ]
            },
            {
              name: 'domain',
              roll_id: 'NatureDomain',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '1-6',
                  result: "Barrow"
                },
                {
                  type: 'Between',
                  roll: '7-18',
                  result: "Cavern"
                },
                {
                  type: 'Between',
                  roll: '19-28',
                  result: "Frozen Cavern"
                },
                {
                  type: 'Between',
                  roll: '29-32',
                  result: "Icereach"
                },
                {
                  type: 'Between',
                  roll: '33-38',
                  result: "Mine"
                },
                {
                  type: 'Between',
                  roll: '39-48',
                  result: "Pass"
                },
                {
                  type: 'Between',
                  roll: '49-58',
                  result: "Ruin"
                },
                {
                  type: 'Between',
                  roll: '59-68',
                  result: "Sea Cave"
                },
                {
                  type: 'Between',
                  roll: '69-78',
                  result: "Shadowfen"
                },
                {
                  type: 'Between',
                  roll: '79-83',
                  result: "Stronghold"
                },
                {
                  type: 'Between',
                  roll: '84-95',
                  result: "Tanglewood"
                },
                {
                  type: 'Between',
                  roll: '96-100',
                  result: "Underkeep"
                }
              ]
            }
          ]
        },
        character: {
          oracles: [
            {
              name: 'disposition',
              roll_id: 'Disposition',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'activity',
              roll_id: 'Activity',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            }
          ]
        },
        monstrosity: {
          oracles: [
            {
              name: 'size',
              roll_id: 'Size',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'primary_form',
              roll_id: 'PrimaryForm',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'characteristics',
              roll_id: 'istics',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'abilities',
              roll_id: 'Abilities',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            }
          ]
        },
        trap: {
          oracles: [
            {
              name: 'event',
              roll_id: 'Event',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'component',
              roll_id: 'Component',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            }
          ]
        },
        combat_event: {
          oracles: [
            {
              name: 'method',
              roll_id: 'Method',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'target',
              roll_id: 'Target',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            }
          ]
        },
        threat: {
          oracles: [
            {
              name: 'advance_a_threat',
              roll_id: 'AdvanceAThreat',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '1-30',
                  result: "The threat readies its next step, or a new danger looms. If you are in a position to prevent this development, you may attempt to do so. If you succeed, <em>Reach a Milestone.</em> Otherwise, mark menace."
                },
                {
                  type: 'Between',
                  roll: '31-70',
                  result: "The threat works subtly to advance toward its goal, or the danger escalates. Mark menace."
                },
                {
                  type: 'Between',
                  roll: '71-100',
                  result: "The threat makes a dramatic and immediate move, or a major event reveals new complications. Mark menace twice."
                },
              ]
            }
            {
              name: 'category',
              roll_id: 'Category',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'burgeoning_conflict',
              roll_id: 'BurgeoningConflict',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'cursed_site',
              roll_id: 'CursedSite',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'environmental_calamity',
              roll_id: 'EnvironmentalCalamity',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'malignant_plague',
              roll_id: 'MalignantPlague',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'rampaging_creature',
              roll_id: 'RampagingCreature',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'ravaging_horde',
              roll_id: 'RavagingHorde',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'scheming_leader',
              roll_id: 'SchemingLeader',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            },
            {
              name: 'power_hungry_mystic',
              roll_id: 'PowerHungryMystic',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            }
            {
              name: 'zealous_cult',
              roll_id: 'ZealousCult',
              dice: 'd100',
              columns: '1',
              rows: [
                {
                  type: 'Between',
                  roll: '',
                  result: ""
                },
              ]
            }
          ]
        }
      }
    }
