- 
  var 
    moveGroupsScroll = [
      { 
        title: 'FATE MOVES',
        moves: [
          { name: 'Pay the Price', value: 'pay_the_price' },
          { name: 'Ask the Oracle', value: 'ask_the_oracle' }
        ]
      },
      { 
        title: 'ADVENTURE MOVES',
        moves: [
          { name: 'Face Danger', value: 'face_danger' },
          { name: 'Secure an Advantage', value: 'secure_an_advantage' },
          { name: 'Gather Information', value: 'gather_information' },
          { name: 'Heal', value: 'heal' },
          { name: 'Resupply', value: 'resupply' },
          { name: 'Make Camp', value: 'make_camp' },
          { name: 'Undertake a Journey', value: 'undertake_a_journey' },
          { name: 'Reach Your Destination', value: 'reach_your_destination' }
        ]
      },
      { 
        title: 'RELATIONSHIP MOVES',
        moves: [
          { name: 'Compel', value: 'compel' },
          { name: 'Sojourn', value: 'sojourn' },
          { name: 'Draw the Circle', value: 'draw_the_circle' },
          { name: 'Forge a Bond', value: 'forge_a_bond' },
          { name: 'Test Your Bond', value: 'test_your_bond' },
          { name: 'Aid Your Ally', value: 'aid_your_ally' },
          { name: 'Write Your Epilogue', value: 'write_your_epilogue' }
        ]
      },
      { 
        title: 'QUEST MOVES',
        moves: [
          { name: 'Swear An Iron Vow', value: 'swear_an_iron_vow' },
          { name: 'Reach a Milestone', value: 'reach_a_milestone' },
          { name: 'Fulfill Your Vow', value: 'fulfill_your_vow' },
          { name: 'Forsake Your Vow', value: 'forsake_your_vow' },
          { name: 'Advance', value: 'advance' }
        ]
      },
      { 
        title: 'COMBAT MOVES',
        moves: [
          { name: 'Enter the Fray', value: 'enter_the_fray' },
          { name: 'Strike', value: 'strike' },
          { name: 'Clash', value: 'clash' },
          { name: 'Turn the Tide', value: 'turn_the_tide' },
          { name: 'End the Fight', value: 'end_the_fight' },
          { name: 'Battle', value: 'battle' }
        ]
      },
      { 
        title: 'SUFFER MOVES',
        moves: [
          { name: 'Endure Harm', value: 'endure_harm' },
          { name: 'Endure Stress', value: 'endure_stress' },
          { name: 'Companion Endure Harm', value: 'companion_endure_harm' },
          { name: 'Face Death', value: 'face_death' },
          { name: 'Face Desolation', value: 'face_desolation' },
          { name: 'Out of Supply', value: 'out_of_supply' },
          { name: 'Face a Setback', value: 'face_a_setback' },
        ]
      },
      { 
        title: 'DELVE MOVES',
        optional: 'sites',
        moves: [
          { name: 'Discover a Site', value: 'discover_a_site' },
          { name: 'Delve the Depths', value: 'delve_the_depths' },
          { name: 'Find an Opportunity', value: 'find_an_opportunity' },
          { name: 'Reveal a Danger', value: 'reveal_a_danger' },
          { name: 'Check Your Gear', value: 'check_your_gear' },
          { name: 'Locate Your Objective', value: 'locate_your_objective' },
          { name: 'Escape the Depths', value: 'escape_the_depths' },
          { name: 'Reveal a Danger - Alt', value: 'reveal_a_danger_alt' }
        ]
      },
      { 
        title: 'FAILURE MOVES',
        optional: 'failures',
        moves: [
          { name: 'Mark Your Failure', value: 'mark_your_failure' },
          { name: 'Learn From Your Failures', value: 'learn_from_your_failures' }
        ]
      },
      { 
        title: 'RARITY MOVES',
        optional: 'rarity',
        moves: [
          { name: 'Wield A Rarity', value: 'wield_a_rarity' }
        ]
      },
      { 
        title: 'THREAT MOVES',
        optional: 'threat',
        moves: [
          { name: 'Advance a Threat', value: 'advance_a_threat' },
          { name: 'Take a Hiatus', value: 'take_a_hiatus' }
        ]
      },
    ]