- 
  var 
    settings = { 
      delve: [
        { 
          attribute: 'settingSites',
          text: 'Sites',
          description: '',
          checked: true
        },
        {
          attribute: 'settingFailures',
          text: 'Failures',
          description: '',
          checked: true
        },
        {
          attribute: 'settingRarities',
          text: 'Rarities',
          description: '',
          checked: true
        },
        {
          attribute: 'settingThreat',
          text: 'Threat',
          description: '',
          checked: true
        }
      ]
    }