- 
  var 
    supplements = { 
      delve: [
        { 
          type: 'checkbox',
          attribute: 'settingSites',
          text: 'Sites',
          classes: 'settings-btn',
          checked: true
        },
        {
          type: 'checkbox',
          attribute: 'settingFailures',
          text: 'Failures',
          classes: 'settings-btn',
          checked: true
        },
        {
          type: 'checkbox',
          attribute: 'settingRarities',
          text: 'Rarities',
          classes: 'settings-btn',
          checked: true
        },
        {
          type: 'checkbox ',
          attribute: 'settingThreat',
          text: 'Threat',
          classes: 'settings-btn',
          checked: true
        }
      ]
    }