.sheet-desc-show:not(:checked)~.sheet-desc,
.sheet-macro-text-show:not(:checked)~.sheet-macro-text,
.sheet-sect-show:not(:checked)~.sheet-sect {
    display:none;
}

.sheet-table {
    display:table;
    width:100%;
}

.sheet-small-label {
    font-size: 85%!important;
    font-style: italic;
	font-weight: bold;
}

.sheet-table-name {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    width:100%;
}

.sheet-table-header {
    display:table-cell;
    text-align:center;
    font-style: italic;
    font-weight:bold;
    vertical-align:bottom;
    background-color:lightgray;
}

.sheet-table-data {
    display:table-cell;
    vertical-align:middle;
}

.sheet-center {
    text-align:center;
}

.sheet-left {
    text-align:left;
}

.sheet-right {
    text-align:right;
}

.sheet-table-row {
    display:table-row;
    vertical-align:bottom;
    width:100%;    
}

.sheet-table-row-name {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    color:white;
    background-color:black;
    font-weight:bold;
}

.sheet-label {
    font-weight:bold;
    text-align:center;
}

input[type="text"], input[type="number"] {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

input[type="text"]:disabled, input[type="number"]:disabled {
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 0px 0px;
}

input[type="text"], select {
    width:100%;
    margin:0;
}

div[class^="sheet-section"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
	overflow: hidden;
}

div[class^="sheet-npc"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
	overflow: hidden;
}

input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: auto;
}

input.sheet-tab {
    width: 70px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-tab {
	text-align: center;
    display: inline-block;   
	font-size: 13px;	
	background: black; 
	color: white;
	font-weight: bold;

	width: 70px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	margin-left: -75px;
}

input.sheet-tab::before {
    content: attr(title);
    text-align: center;
    display: inline-block;    
    width: 100%;
    height: 100%;

    background: black; 
	color: white;
	font-weight: bold;
}

input.sheet-tab:checked::before {
    background:gray;    
    color:white;
}

input.sheet-tab1:checked ~ div.sheet-section-core,
input.sheet-tab2:checked ~ div.sheet-section-class,
input.sheet-tab3:checked ~ div.sheet-section-defenses,
input.sheet-tab4:checked ~ div.sheet-section-attacks,
input.sheet-tab5:checked ~ div.sheet-section-skills,
input.sheet-tab6:checked ~ div.sheet-section-feats,
input.sheet-tab7:checked ~ div.sheet-section-inventory,
input.sheet-tab8:checked ~ div.sheet-section-spells,
input.sheet-tab9:checked ~ div.sheet-section-details,
input.sheet-tab10:checked ~ div.sheet-section-npc {
    max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: hidden;
}

input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab4:checked + span.sheet-tab4,
input.sheet-tab5:checked + span.sheet-tab5,
input.sheet-tab6:checked + span.sheet-tab6,
input.sheet-tab7:checked + span.sheet-tab7,
input.sheet-tab8:checked + span.sheet-tab8,
input.sheet-tab9:checked + span.sheet-tab9,
input.sheet-tab99:checked + span.sheet-tab99,
input.sheet-tab10:checked + span.sheet-tab10 {
    background: gray;    
    color: white;
}

.sheet-text-button {
    font-size:100%;
    color:white;
	background-color:black;
	border:0px;
}

button,
button:hover,
button:active
{
    background-image: none;
}

input[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    content: "[show]";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
input[type="checkbox"]:checked + span::before
{
    content: "[hide]";
}

hr {
    border-color:black;
}

textarea {
    box-sizing:border-box;
}


/*Roll Templates*/
/*Spells*/
.sheet-rolltemplate-pf_spell table {
	width:100%;
	background-color:white;
	border:2px solid #000;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 5px;
  	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-pf_spell .sheet-header {
	background-color:#000;
    border: 1px solid #000;
	margin: 2px 25px 2px 25px;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
  	text-align: left;
}

.sheet-rolltemplate-pf_spell .sheet-header a{
	color:white;
	text-decoration: underline;
}

.sheet-rolltemplate-pf_spell td {
	padding:5px;line-height:1em;
	vertical-align:top;
	text-align:left;
}

.sheet-rolltemplate-pf_spell tr:nth-child(even) {
	background-color:#D3D3D3;
}

.sheet-rolltemplate-pf_spell .sheet-tcat {
  	font-weight: bold;
}

.sheet-rolltemplate-pf_spell .inlinerollresult  {
	background-color: transparent;
	border: none;
}

.sheet-rolltemplate-pf_spell .inlinerollresult.fullcrit {
	color: #3FB315;
	border: none;
}

.sheet-rolltemplate-pf_spell .inlinerollresult.fullfail {
	color: #B31515;
	border: none;
}

.sheet-rolltemplate-pf_spell .inlinerollresult.importantroll {
	color: #4A57ED;
	border: none;
}

/* Attacks */
.sheet-rolltemplate-pf_attack table {
	width:100%;
	background-color:white;
	border:2px solid #000;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 5px;
  	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-pf_attack .sheet-header {
	background-color:#000;
	margin: 2px 25px 2px 25px;
    border: 1px solid #000;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
  	text-align: center;
}

.sheet-rolltemplate-pf_attack .sheet-header a{
	color:white;
	text-decoration: underline;
}

.sheet-rolltemplate-pf_attack td {
	padding:5px;line-height:1.4em;
	vertical-align:top;
	text-align:right
}
.sheet-rolltemplate-pf_attack tr:nth-child(odd) {
	background-color:#D3D3D3;
}

.sheet-rolltemplate-pf_attack td:nth-child(odd) {
    text-align:left;
    font-weight:bold
}

.sheet-rolltemplate-pf_attack .inlinerollresult  {
	color: white;
	background-color: black;
	border-color:black;
}

.sheet-rolltemplate-pf_attack .inlinerollresult.fullcrit {
	color: white;
	background-color: #3FB315
}

.sheet-rolltemplate-pf_attack .inlinerollresult.fullfail {
	color: white;
	background-color: #B31515
}

.sheet-rolltemplate-pf_attack .inlinerollresult.importantroll {
	color: white;
	background-color: #4A57ED;
}

/* Generic */
.sheet-rolltemplate-pf_generic table {
	width:100%;
	background-color:white;
	border:2px solid #000;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 5px;
  	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-pf_generic .sheet-header {
	background-color:#000;
	margin: 2px 25px 2px 25px;
    border: 1px solid #000;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
  	text-align: center;
}

.sheet-rolltemplate-pf_generic .sheet-header a{
	color:white;
	text-decoration: underline;
}

.sheet-rolltemplate-pf_generic td {
	padding:5px;line-height:1.4em;
	vertical-align:top;
	text-align:right
}
.sheet-rolltemplate-pf_generic tr:nth-child(odd) {
	background-color:#D3D3D3;
}

.sheet-rolltemplate-pf_generic td:nth-child(odd) {
    text-align:left;
    font-weight:bold
}

.sheet-rolltemplate-pf_generic .inlinerollresult  {
	color: white;
	background-color: black;
	border-color:black;
}

.sheet-rolltemplate-pf_generic .inlinerollresult.fullcrit {
	color: white;
	background-color: #3FB315
}

.sheet-rolltemplate-pf_generic .inlinerollresult.fullfail {
	color: white;
	background-color: #B31515
}

.sheet-rolltemplate-pf_generic .inlinerollresult.importantroll {
	color: white;
	background-color: #4A57ED;
}

/* Block Text */
.sheet-rolltemplate-pf_block table {
	width:100%;
	background-color:white;
	border:2px solid #000;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 5px;
  	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-pf_block .sheet-header {
	background-color:#000;
	margin: 2px 25px 2px 25px;
    border: 1px solid #000;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
  	text-align: center;
}

.sheet-rolltemplate-pf_block .sheet-header a{
	color:white;
	text-decoration: underline;
}

.sheet-rolltemplate-pf_block td {
	padding:5px;line-height:1.4em;
	vertical-align:top;
	text-align:right
}
.sheet-rolltemplate-pf_block tr:nth-child(odd) {
	background-color:#D3D3D3;
}

.sheet-rolltemplate-pf_block .inlinerollresult  {
	background-color: transparent;
	border: none;
}

.sheet-rolltemplate-pf_block .inlinerollresult.fullcrit {
	color: #3FB315;
	border: none;
}

.sheet-rolltemplate-pf_block .inlinerollresult.fullfail {
	color: #B31515;
	border: none;
}

.sheet-rolltemplate-pf_block .inlinerollresult.importantroll {
	color: #4A57ED;
	border: none;
}