html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css" href="https://app.roll20.net/css/themes/bootstrap/jquery-ui-1.8.16.custom.css")
    link(rel="stylesheet", type="text/css" href="https://app.roll20.net/assets/base.css")
    link(rel="stylesheet", type="text/css" href="https://app.roll20.net/css/charsheet.css")
    link(rel="stylesheet", type="text/css" href="https://fonts.googleapis.com/css?family=Patrick+Hand|Contrail+One|Shadows+Into+Light|Candal&subset=latin,latin-ext")

    script.
      window.d20 = { characterId: "-N8PKG44xQte_VYhUANz" };
      window.opener = {
        postMessage: message => console.log(JSON.stringify(message))
      };
    script(type="text/javascript", src="https://app.roll20.net/v2/js/jquery-1.9.1.js")
    script(type="text/javascript", src="https://app.roll20.net/js/jquery-ui.1.9.0.custom.min.js")
    script(type="text/javascript", src="https://app.roll20.net/js/jquery.ui.touch.js")
    script(type="text/javascript", src="https://app.roll20.net/js/d20/charsheetjs/view/attribute_tab.js")
    script(type="text/javascript", src="https://app.roll20.net/js/d20/charsheetjs/view/draggables.js")
    script(type="text/javascript", src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
    script(type="text/javascript", src="https://unpkg.com/i18next/dist/umd/i18next.min.js")

    link(rel="stylesheet", type="text/css" href="../../Ironsworn.css")
  body
    div(class="ui-dialog")
      div(class="dialog largedialog characterviewer" style="display: block;")
        form(class="sheetform" novalidate)
          div(class="charactersheet tab-pane charsheet lang-en", style="display: block;")
            include ../app/pages/index

  - var translations = locals.i18n ? JSON.stringify(locals.i18n) : "{}"
  script(type="text/javascript").
    i18next.init({
      lng: 'en',
      resources: {
        en: {
          translation: !{translations}
        }
      },
      skipInterpolation: true
    });

  script(type="text/javascript")
    include ./attributes.js

    include ./localize.js

    include ./test.js
    
    include ../app/workers/scripts/assets.js
    include ../app/workers/scripts/momentum.js
    include ../app/workers/scripts/moves.js
    include ../app/workers/scripts/oracles.js
    include ../app/workers/scripts/pages.js
    include ../app/workers/scripts/progress.js
    include ../app/workers/scripts/settings.js
    include ../app/workers/scripts/sites.js
    include ../app/workers/scripts/stats.js
    include ../app/workers/scripts/vows.js
    include ../app/workers/scripts/legacy-vows.js
    include ../app/workers/scripts/bonds.js

  script(type="text/javascript").
    window.addEventListener('submit', function(e) {
      e.preventDefault();
      e.stopPropagation();
    });

    window.addEventListener('keydown', function(e) {
      if(e.which === 13 && e.target.tagName.toLowerCase() === 'input') {
        e.stopPropagation();
        e.preventDefault();
      }
    });
