html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css" href="https://app.roll20.net/css/themes/bootstrap/jquery-ui-1.8.16.custom.css")
    link(rel="stylesheet", type="text/css" href="https://app.roll20.net/assets/base.css")
    link(rel="stylesheet", type="text/css" href="https://app.roll20.net/assets/app.css")
    link(rel="stylesheet", type="text/css" href="https://app.roll20.net/css/charsheet.css")
    link(rel="stylesheet", type="text/css" href="https://fonts.googleapis.com/css?family=Patrick+Hand|Contrail+One|Shadows+Into+Light|Candal&subset=latin,latin-ext")

    script(type="text/javascript", src="https://app.roll20.net/v2/js/jquery-1.9.1.js")
    script(type="text/javascript", src="https://app.roll20.net/js/jquery-ui.1.9.0.custom.min.js")
    script(type="text/javascript", src="https://app.roll20.net/js/jquery.ui.touch.js")
    script(type="text/javascript", src="https://unpkg.com/mustache@latest")
    script(type="text/javascript", src="https://unpkg.com/i18next/dist/umd/i18next.min.js")

    link(rel="stylesheet", type="text/css" href="../../Ironsworn.css")
  body(style="overflow:auto")
    div(class="ui-tabs ui-widget ui-widget-content ui-corner-all ui-resizable")
      div(class="textchatcontainer ui-tabs-panel ui-widget-content ui-corner-bottom withtimestamps" style="min-width: 300px; width: 50%")
        div(class="content" style="padding-top: 0px !important;")
          div(class="message general you" id="rolls")
  include ../app/roll-templates/index

  - var translations = locals.i18n ? JSON.stringify(locals.i18n) : "{}"
  script(type="text/javascript").
    i18next.init({
      lng: 'en',
      resources: {
        en: {
          translation: !{translations}
        }
      },
      skipInterpolation: true
    });

  script(type="text/javascript")
    include ./roll-template-specs.js

    include ./localize.js

    include ./test-roll-templates.js
