mixin provisions
  .sheet-equipment-component
    .sheet-equipment-container.sheet-table-header
      .sheet-equipment-container-child.sheet-provision-column-1
        p.sheet-equipment-title ITEM
      .sheet-equipment-container-child.sheet-provision-column-2
        p.sheet-equipment-title EFFECT
      .sheet-equipment-container-child.sheet-provision-column-3
        p.sheet-equipment-title USES
    fieldset.repeating_provision
      .sheet-equipment-container
        .sheet-equipment-container-child.sheet-provision-column-1
          input(type='text' class='sheet-provision-type' name='attr_provision_item' placeholder='Item')
        .sheet-equipment-container-child.sheet-provision-column-2
          input(type='text' class='sheet-provision-protection' name='attr_provision_effect' placeholder='Effect')
        .sheet-equipment-container-child.sheet-provision-column-3
          input(type='text' class='sheet-provision-addition' name='attr_provision_uses' placeholder='0' value='0')
