mixin provisions
  .sheet-equipment-component
    fieldset.repeating_provision
      .sheet-equipment-container
        .sheet-equipment-container-child
          input(type='text' class='sheet-provision-type' name='attr_provision_type' placeholder='Type')
        .sheet-equipment-container-child
          input(type='text' class='sheet-provision-protection' name='attr_provision_protection' placeholder='0')
        .sheet-equipment-container-child
          input(type='text' class='sheet-provision-addition' name='attr_provision_addition' placeholder='0')
        .sheet-equipment-container-child
          input(type='text' class='sheet-provision-weight' name='attr_provision_weight' placeholder='0')