mixin provisions
  .sheet-provisions-component
    fieldset.repeating_provision
      .sheet-provision-container
        .sheet-provision-type
          input(type='text' class='sheet-provision-type' value='attr_provision_type')
        .sheet-provision-protection
          input(type='text' class='sheet-provision-protection' value='attr_provision_protection')
        .sheet-provision-addition
          input(type='text' class='sheet-provision-addition' value='attr_provision_addition')
        .sheet-provision-weight
          input(type='text' class='sheet-provision-weight' value='attr_provision_weight')