include templates/_mixins
// === SHEET ===
.grid-main
  // Name
  .layout.layout--stat.name
    h3.u-font-medium.u-font-heading(data-i18n="Name") Name
    input.o-input-text.u-w100(name="attr_name", type="text")
  // Background
  .layout.layout--stat.background
    h3.u-font-medium.u-font-heading(data-i18n="Background") Background
    input.o-input-text.u-w100(name="attr_background", type="text")
  // Special
  .layout.layout--stat.special
    h3.u-font-medium.u-font-heading(data-i18n="Special") Special
    textarea.o-input-textarea(name="attr_special", rows=4)
  .layout.stats
    .grid-stats
      // Stat - Skill
      .layout.layout--stat.stat-skill
        .grid-stat
          h3.grid-stat-item-title.u-font-large.u-font-heading(data-i18n="Skill") Skill
          span.grid-stat-item-icon.u-font-icon.u-success L
          include templates/_stat-skill
      // Stat - Stamina
      .layout.layout--stat.stat-stamina
        .grid-stat
          h3.grid-stat-item-title.u-font-large.u-font-heading(data-i18n="Stamina") Stamina
          span.grid-stat-item-icon.u-font-icon.u-fail-dark k
          include templates/_stat-stamina
      // luck
      .layout.layout--stat.stat-luck
        .grid-stat
          h3.u-font-large.u-font-heading Luck
          span.grid-stat-item-icon.u-font-icon.u-luck S
          include templates/_stat-luck
  // Adv Skills & Spells
  .layout.layout--stat.skills
    .layout-heading.u-flex.u-flex-justify-between
      h3.u-font-medium.u-font-heading(data-i18n="Advanced Skills & Spells") Advanced Skills & Spells
      .layout-heading-modifier
        .grid-modifier.u-flex.u-flex-align-center
          h3.grid-modifier-title.u-font-small.u-font-heading.u-mr-small(data-i18n="Roll Modifier") Roll Modifier
          +buttonsGridSub("SkillRoll")
          .grid-modifier-input
            +attrInput("o-input-modifier","number", "skillRollModifier",false,"0")
          +buttonsGridAdd("SkillRoll")
    include templates/_skills
  // Weapons
  .layout.layout--stat.weapons
    .layout-heading.u-flex.u-flex-justify-between
      h3.u-font-medium.u-font-heading(data-i18n="Weapons") Weapons
      .layout-heading-modifier
        .grid-modifier.u-flex.u-flex-align-center
          h3.grid-modifier-title.u-font-small.u-font-heading.u-mr-small(data-i18n="Roll Modifier") Roll Modifier
          +buttonsGridSub("DamageRoll")
          .grid-modifier-input
            +attrInput("o-input-modifier","number","damageRollModifier",false,0)
          +buttonsGridAdd("DamageRoll")
    include templates/_weapons
  // Inventory
  .layout.layout--stat.inventory
    h3.layout-heading.u-font-medium.u-font-heading(data-i18n="Inventory") Inventory
    include templates/_inventory
  // Wearing
  .layout.layout--stat.wearing
    h4.layout-heading.u-font-medium.u-font-heading(data-i18n="Wearing") Wearing
    textarea.o-input-textarea(name="attr_inventory_wearing", rows=6)
  // Monies
  .layout.layout--stat.monies
    h4.layout-heading.u-font-medium.u-font-heading(data-i18n="Monies") Monies
    textarea.o-input-textarea(name="attr_inventory_monies", rows=6)
  // Provisions
  .layout.layout--stat.provisions
    h4.layout-heading.u-font-medium.u-font-heading(data-i18n="Provisions") Provisions
    include templates/_provisions
  // Footer
  .layout.footer.u-text-right
    input(name="attr_version", value="v1.03", type="hidden")
    span.u-font-tiny(name="attr_version")

include templates/_rolltemplates
// === WORKERS ===
script(type="text/worker")
  include js/sheetworkers.js
