div{
    margin: none;
    padding: none;
    background-color: transparent;
}
div.sheet-main{
    width: 800;
    min-width: 800px;
    max-width: 800px;
    font-size: 13px;
    background-color: #fcfafa;
    padding: 4px;
}
div.sheet-linea{
    display: block;
    text-align: left;
    vertical-align: top;
    width: 100%;
    white-space: nowrap;
}
div.sheet-columna{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

input, textarea{
    display: inline-block;
    font-family: 'Patrick Hand';
    font-size: 16px;
    resize:none;
    z-index: 2;
    border-radius: 0;
    outline: 0;
    border-width: 1px;
    border-color: black;
}

textarea{
    padding: 1px 2px 0px 2px;
    width: 765px;
    resize:vertical;
}

.sheet-name{
    width: 90%; 
    height: 42px;
    resize:none;
}

.sheet-skills{
    width: 75%;
}

.sheet-skill-name{
    width: 417px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
}

.sheet-short{
    width: 25px;
}

.sheet-stats-input{
    width: 50px;
}

.sheet-weapon-input{
    position: absolute; 
    bottom:-46px; 
    width: 440px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
}

.sheet-inventory-label{
    float: left;
    margin-top: 7px;
    width: 15px;
    margin-right: 3px;
    font-weight: bold;
    text-align: right;
}

.sheet-inventory-input{
    width:350px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label::before {
  width: 25px;
  height: 25px;
  border-radius: 0px;
  border: 1px solid black;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 10px;
}

input[type="checkbox"]:checked+label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #696969;
}
