
mixin carac(attrName, label)
    div.carac
        h4(class!=attributes.class)!= label
            +numberInput(attrName, 0)
        div.icon
        div(class!=`carac_used ${attributes.class}`)
            +hiddenInput(attrName, 0).displayTickbox
            +fillLeft(`${attrName}_used`, 'caracUsed', 4, 0)