- const baseRoll = "&{template:base} {{jet=[[2d6 + ?{Bonus/Malus ?|0}]]}} {{character=@{character_name}}}"
- const attackRoll = "&{template:attack} {{jet=[[2d6 + @{attaque} + ?{Bonus/Malus ?|0}]]}} {{character=@{character_name}}}"
- const defenseRoll = "&{template:defense} {{jet=[[2d6 + @{defense} + ?{Bonus/Malus ?|0}]]}} {{character=@{character_name}}}"
- const animaRoll = "&{template:anima} {{jet=[[2d6 + @{anima} + ?{Bonus/Malus ?|0}]]}} {{character=@{character_name}}}"
- const weaponRoll = "&{template:attack} {{jet=[[2d6 + @{attaque} + @{wpn_atk} + ?{Bonus/Malus ?|0} + @{wpn_atk}]]}} {{character=@{character_name}}} {{equipment=@{wpn_name}}}"
- const armourRoll = "&{template:defense} {{jet=[[2d6 + @{defense} + @{arm_def} + ?{Bonus/Malus ?|0} + @{arm_def}]]}} {{character=@{character_name}}} {{equipment=@{arm_name}}}"
