.sheet-auto-style1 {
	text-align: center;
}
.sheet-auto-style3 {
	margin-bottom: 10px;
	border-style: solid;
	border-width: 20px;
	border-image: url(http://i.imgur.com/OQK1BCo.png) 30 stretch;
	text-align: center;
}
.sheet-auto-style4 {
	border: 1px solid #000000;
}
.sheet-auto-style5 {
	color: #FF00FF;
}
.sheet-box {
	margin-bottom: 10px;
	border-style: solid;
	border-width: 20px;
	border-image: url(http://i.imgur.com/OQK1BCo.png) 185 stretch;
	border-image-slice: 30;
}
.sheet-text-left {
	text-align: left;
}
.sheet-auto-style1b {
	color: #FF00FF;
	font-size: large;
}
.sheet-auto-style2 {
	font-size: large;
}
.sheet-auto-style3b {
	color: #FF00FF;
	font-size: medium;
}
.sheet-auto-style4b {
	font-size: medium;
}
.sheet-title {
	color: #FF00FF;
	font-size: large;
	font-family: "Courier New", Courier, monospace;
}
.sheet-big-blck-fontcourrier {
	font-size: large;
	font-family: "Courier New", Courier, monospace;
}
.sheet-courrier-purple {
	color: #FF00FF;
	font-size: medium;
	font-family: "Courier New", Courier, monospace;
}
.sheet-medium-courriernew-black {
	font-size: medium;
	font-family: "Courier New", Courier, monospace;
}
.sheet-font-courriernew {
	font-family: "Courier New", Courier, monospace;
}
.sheet-courriernew-center {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
