.charsheet label {
    display: inline-block;
    width: 75px;
    text-align: right;
}

.charsheet input {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

.charsheet input.sheet-inputbox {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;
}

.even {
     border: 1px solid black;
     background-color: #AAA;
}

.odd {
     border: 1px solid black;
     background-color: #DDD;
}

fieldset {
    display: none;
}

.sheet-colorred {
    display: inline-block;
    text-align: center;
}
.sheet_barbarianlink:hover + div{
    overflow: auto;
    height: auto;
    display: block;
    background-color: gray;
    position: absolute;
    text-align: left;
}

.sheet_barbarianshowhide {
    overflow: hidden;
    height: 0px;
    ddisplay: none;
}

.sheet-col strong.sheet-dee {
    font-size: 1.4em;
    font-weight: bold;
    padding-right: 4px;
}

.charsheet input.sheet-short {
    width: 3.5em;
}

.charsheet table td.sheet-skillsbox {
    font-size: 0.60em;
    text-align: left;
}

.charsheet table td.sheet-skillsbox-sm {
    font-size: 0.50em;
    text-align: left;
}

.charsheet {
    background-color: white;
    background-image: none;
}

.charsheet table th {
    font-size: 0.8em;
    text-align: center;
}

.charsheet table td.sheet-statlabel-big-gray {
    background-color: gray;
    color: white;
    font-size: 0.9em;
    text-align: center;
}

.charsheet table td.sheet-statlabel-big {
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 0.9em;
    text-align: center;
}
.charsheet table td.sheet-statlabel {
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 0.7em;
    text-align: center;
}
.charsheet table td {
    font-weight: bold;
    text-align: center;
}

select.sheet-dtype {
    width: 60px;
    vertical-align: top;
}

.sheet-table-name {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    width:100%;
}

.sheet-table-header {
    display:table-cell;
    text-align:center;
    font-weight:bold;
    vertical-align:bottom;
}

.sheet-table-header2-left {
    display:table-cell;
    text-align:left;
    font-weight:bold;
    font-size: 0.7em;
}

.sheet-table-header2 {
    display:table-cell;
    text-align:center;
    font-weight:bold;
    font-size: 0.7em;
    vertical-align:bottom;
}

.sheet-table-header3 {
    display:table-cell;
    text-align:center;
    font-weight:bold;
    font-size: 0.7em;
    vertical-align:top;
}

.sheet-table-center {
    margin-left:auto; 
    margin-right:auto;
}

.sheet-table-data-left {
    display:table-cell;
    text-align:left;
    vertical-align:top;
}

.sheet-table-data-right {
    display:table-cell;
    text-align:right;
    vertical-align:top;
}

.sheet-table-data-center {
    display:table-cell;
    text-align:center;
    vertical-align:top;
}

.sheet-table-data-center-sm {
    display:table-cell;
    text-align:center;
    font-size: 0.7em;
    vertical-align:top;
}

.sheet-table-data-center-skills {
    display:table-cell;
    width: 28px;
}

.sheet-table-row {
    display:table-row;
    vertical-align:top;
    width:100%;
}

.sheet-table-row-name {
    display:table-cell;
    text-align:center;
    color:white;
    background-color:black;
    font-weight:bold;
}

.sheet-table-row-small {
    display:table-cell;
    width: 40px; 
}

.sheet-pc-spells-show:not(:checked)~.sheet-pc-spells {display:none;}  

.sheet-pc-weapon1-show:not(:checked)~.sheet-pc-weapon1 {display:none;} 
.sheet-pc-weapon2-show:not(:checked)~.sheet-pc-weapon2 {display:none;}  
.sheet-pc-weapon3-show:not(:checked)~.sheet-pc-weapon3 {display:none;} 
.sheet-pc-weapon4-show:not(:checked)~.sheet-pc-weapon4 {display:none;} 
.sheet-pc-weapon5-show:not(:checked)~.sheet-pc-weapon5 {display:none;} 
.sheet-pc-weapon6-show:not(:checked)~.sheet-pc-weapon6 {display:none;}

textarea { height: auto; }

input, select {
    width:100%;
}
