+templateWrapper(templateName)
  .image-border
  .sheet-content.stacked.center.flex-box.half-gap
    +characterLink
    +templateConditionalDisplay('roll')
      .flex-box.results.half-gap.stacked.center
        span.result
          +templateConditionalDisplay('pure_success')
            span.pure-success
          |{{computed::roll}}
        +templateConditionalDisplay('title')
          h2 {{title}}
    +templateConditionalDisplay('luck')
      .flex-box.results.half-gap.stacked.center.center
        +rollTotal({values:'computed::luck 1'})
          span.result.result--is-crit {{luck}}
        +rollTotal({values:'computed::luck 0'})
          span.result.result--is-fumble {{luck}}

    .header.flex-box.stacked.center.flex-wrap
      +templateConditionalDisplay('roll_name')
        h3.title.align-self-start {{roll_name}}

    +templateConditionalDisplay('luck')
      .flex-box.results.half-gap.stacked.center.center
        +rollTotal({values:'computed::luck 1'})
          h3(data-i18n='lucky-message').result
        +rollTotal({values:'computed::luck 0'})
          h3(data-i18n='unlucky-message').result

    +templateConditionalDisplay('damage')
      .flex-box.space-between.results.half-gap.column-reverse
        +templateConditionalDisplay('damage_type')
          h3 {{damage_type}}
        +templateConditionalDisplay('damage_type','invert')
          h3(data-i18n='damage')
        span.result {{computed::damage}}

    +templateConditionalDisplay('description')
      .description.flex-box.stacked.center.align-self-stretch
        p(style="text-align:left") {{description}}