
<div class="sheet-delve-nav-bar-pages">
  <div class="sheet-nav-child">
    <label for="summary-delve-mode">Summary</label>
  </div>
  <div class="sheet-nav-child">
    <label for="vows-delve-mode">Vows</label>
  </div>
  <div class="sheet-nav-child">
    <label for="moves-delve-mode">Moves</label>
  </div>
  <div class="sheet-nav-child">
    <label for="sites-delve-mode">Sites</label>
  </div>
  <div class="sheet-nav-child">
    <label for="assets-delve-mode">Assets</label>
  </div>
  <div class="sheet-nav-child">
    <label for="oracles-delve-mode">Oracles</label>
  </div>
  <div class="sheet-nav-child">
    <label for="progress-delve-mode">Progress</label>
  </div>
  <div class="sheet-nav-child">
    <label for="bonds-delve-mode">Bonds</label>
  </div>
</div>