:root {
	--pure-white: white;
	--light-white: #f5f5f5;
	--dark-white: #d3d3d3;
	--light-gray: #aaaaaa;
	--pure-gray: gray;
	--dark-gray: #2c2c2c;
	--light-black: #232323;
	--dark-black: #101010;
	--pure-black: black;

	--dark-theme-text-color: #d3d3d3;
}

/**** General stuff ***/
.charsheet {
	background-color: white;
	color: black;
}

.sheet-darkmode .charsheet {
	background-color: #1f1f1f;
	color: #d3d3d3;
}

h1 {
	flex-grow: 0;
	background-color: var(--dark-white);
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	color: var(--pure-black);
	font-weight: bold;
	font-size: large;
}

h6 {
	font-weight: 100;
}

.sheet-darkmode .charsheet h1 {
	background-color: var(--dark-gray);
	color: var(--dark-theme-text-color);
}

.sheet-darkmode .charsheet h2 {
	color: var(--dark-theme-text-color);
}

span {
	font-weight: normal;
}

input {
	border: none;
}

textarea {
	border: none;
}

select {
	width: 150px;
}

.sheet-darkmode .charsheet .sheet-tabButton {
	background-color: var(--light-black);
	color: var(--dark-theme-text-color);
}

.sheet-darkmode .charsheet input[type="text"] {
	background-color: var(--light-black);
	color: var(--dark-theme-text-color);
}

.sheet-darkmode .charsheet textarea {
	background-color: var(--light-black);
	color: var(--dark-theme-text-color);
}

.sheet-darkmode .charsheet input[type="number"] {
	background-color: var(--light-black);
	color: var(--dark-theme-text-color);
}

.sheet-darkmode .charsheet button[type="roll"] {
	background-color: var(--light-black);
	color: var(--dark-theme-text-color);
	background-position: -25px -25px;
}

.sheet-darkmode .charsheet select {
	background-color: var(--light-black);
	color: var(--dark-theme-text-color);
}

.sheet-darkmode .charsheet h6 {
	color: var(--dark-theme-text-color);
}

/**** tabs handler ***/
/*Configure the tab buttons*/
.sheet-stats, .sheet-notes {
	display: none;
}

.sheet-tabstoggle[value="stats"]~div.sheet-stats,
.sheet-tabstoggle[value="notes"]~div.sheet-notes {
	display: flex;
}

/* show the selected tab */

/**** sheet ***/
/*Sheet layout*/
.sheet-stats {
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.sheet-notes {
	flex-flow: column wrap;
	justify-content: flex-start;
}

.sheet-mainPageUpperSide {
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	gap: 20px;
	width: 100%;
}


div.sheet-attributeHeader {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 20px;
}

div.sheet-attributeBase {
	display: flex;
	flex-shrink: 1;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;
}

.sheet-attributeBase input[type="number"] {
	width: 40px !important;
	height: 40px !important;
	background-color: var(--light-white);
	padding: 2px;
	border: 2px solid var(--pure-black);
	border-radius: 50%;
	text-align: right;
}

.sheet-darkmode .sheet-attributeBase input[type="number"] {
	background-color: var(--light-black);
	border: 2px solid var(--dark-theme-text-color);
	color: var(--dark-theme-text-color);
}

.sheet-traitsList {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 10px;
}

.sheet-traitsList>div {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	gap: 2px;
	border-bottom: 1px dashed var(--dark-white);
}

.sheet-darkmode .sheet-traitsList>div {
	border-bottom: 1px dashed var(--light-black);
}

.sheet-statButtons {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 10px;
}

.sheet-statButtons>div {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	flex-grow: 1;
	flex-shrink: 0;
	gap: 5px;
}

.sheet-flexRow {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.sheet-flexRowNoGap {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.sheet-flexEnd {
	display: flex;
	justify-content: flex-end;
}

.sheet-flexColumn {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 5px;
}

.sheet-flexColumnNoGap {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.sheet-flexRowInvert {
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.sheet-flexColumnInvert {
	display: flex;
	flex-flow: column-reverse wrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 5px;
}

.sheet-flexGrow {
	flex-grow: 1;
}

.sheet-flexShrink {
	flex-shrink: 1;
}

.sheet-flexIdentity {
	flex-grow: 1;
	flex-shrink: 1;
}

.sheet-flexGrowFull {
	width: 100%;
}

.sheet-stretch {
	display: flex;
	flex-flow: row nowrap;
	justify-content: stretch;
}

.sheet-2Row {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: flex-start;
	gap: 2%;
}

.sheet-2RowItem {
	flex-grow: 1;
	flex-shrink: 1;
	width: 48%;
	box-sizing: border-box;
}

.sheet-box {
	border: 1px solid var(--dark-white);
	padding: 4px;
	margin-bottom: 4px;
}

.sheet-darkmode .sheet-box {
	border-color: var(--dark-gray);
}

.sheet-wrap {
	flex-wrap: wrap;
}

/*Content*/

.sheet-oneLineInfo {
	border-top: 2px solid var(--dark-gray);
	margin-top: 10px;
	margin-bottom: 6px;
	padding: 2px;
	display: flex;
}

.sheet-darkmode .sheet-oneLineInfo {
	border-top: 2px solid var(--dark-white);
}

.sheet-oneLineInfo span {
	margin-right: 4px;
	flex-shrink: 0;
	width: 75px;
	font-weight: bold;
}

.sheet-oneLineInfo input {
	flex-grow: 1;
	border: none;
	width: auto;
}

.sheet-oneLineInfo input.sheet-arrow[type="checkbox"] {
	flex-grow: 0;
	align-self: center;
}

.sheet-multiLineInfo {
	border-top: 2px solid var(--dark-gray);
	margin-top: 10px;
	margin-bottom: 6px;
	padding: 2px;
}

.sheet-darkmode .sheet-multiLineInfo {
	border-top: 2px solid var(--dark-white);
}

.sheet-multiLineInfo>span {
	margin-right: 5px;
	font-weight: bold;
}

.sheet-multiLineInfo>textarea {
	width: 100%;
	border: none;
	background-color: none;
}

.sheet-attributeButton {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid var(--pure-black);
	padding: 7px;
	background-image:
	linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%),
	linear-gradient(to bottom, rgba(216, 214, 214, 1) 0%, rgba(216, 214, 214, 1) 100%);
	background-clip: content-box, padding-box;
	font-weight: bold;
	font-size: large;
	flex-shrink: 0;
}

.sheet-darkmode .sheet-attributeButton {
	border: 2px solid var(--dark-theme-text-color);
	background-image:
	linear-gradient(to bottom, rgba(35, 35, 35, 1) 0%, rgba(35, 35, 35, 1) 100%),
	linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 100%);
	color: var(--dark-theme-text-color);
}

.sheet-attributeButton:hover {
	border: 4px solid #3daade;
	padding: 5px;
}

.sheet-attributeModifier>input {
	flex-grow: 1;
	max-width: 420px;
	border: none;
	background-color: none;
}

.sheet-squares {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 0px;
}

.sheet-squareInput[value="1"]~.sheet-square{
	border: 1px solid var(--light-white);
	background-color: var(--dark-black);
}

.sheet-squareInput[value="0"]~.sheet-square{
	border: 1px solid var(--dark-black);
	background-color: var(--light-white);
}

.sheet-darkmode .charsheet .sheet-squareInput[value="1"]~.sheet-square{
	border: 1px solid var(--dark-theme-text-color);
	background-color: var(--dark-black);
}

.sheet-darkmode .charsheet .sheet-squareInput[value="0"]~.sheet-square{
	border: 1px solid var(--dark-black);
	background-color: var(--dark-theme-text-color);
}

.sheet-square {
	width: 5px;
	height: 5px;
	border-radius: 1px;
}

.health-heart {
	display: flex;
	width: 1px !important;
	height: 5px !important;
}

.health-heart-input[value="1"]~.health-heart {
	background-color: var(--pure-black);
}
.health-heart-input[value="0"]~.health-heart {
	background-color: var(--pure-white);
}
.health-heart-input[value="-1"]~.health-heart {
	display: none;
}

.sheet-darkmode .charsheet .health-heart-input[value="1"]~.health-heart {
	background-color: var(--pure-black);
}
.sheet-darkmode .charsheet .health-heart-input[value="0"]~.health-heart {
	background-color: var(--dark-theme-text-color);
}

.sheet-speedBox {
	background-color: var(--light-white);
}

.sheet-darkmode .sheet-speedBox {
	background-color: var(--light-black);
}

.sheet-speedBox:hover {
	border-color: #3daade;
}

.sheet-speedBox[value="0"]~button.sheet-speedBox[value="0"],
.sheet-speedBox[value="1"]~button.sheet-speedBox[value="1"],
.sheet-speedBox[value="2"]~button.sheet-speedBox[value="2"],
.sheet-speedBox[value="3"]~button.sheet-speedBox[value="3"] {
	background-color: var(--dark-white);
}

.sheet-darkmode .sheet-speedBox[value="0"]~button.sheet-speedBox[value="0"],
.sheet-darkmode .sheet-speedBox[value="1"]~button.sheet-speedBox[value="1"],
.sheet-darkmode .sheet-speedBox[value="2"]~button.sheet-speedBox[value="2"],
.sheet-darkmode .sheet-speedBox[value="3"]~button.sheet-speedBox[value="3"] {
	background-color: var(--pure-gray);
}

.sheet-leftSeparation {
	border-left: 2px solid var(--dark-white);
	padding-left: 4px;
}

.sheet-darkmode .sheet-leftSeparation {
	border-left: 2px solid var(--dark-gray);
}

.sheet-rightSeparation {
	border-right: 2px solid var(--pure-black);
	padding-right: 4px;
}

.sheet-darkmode .sheet-rightSeparation {
	border-right: 2px solid var(--dark-theme-text-color);
}

.sheet-downSeparation {
	border-bottom: 2px solid var(--dark-white);
	padding-bottom: 4px;
}

.sheet-darkmode .sheet-downSeparation {
	border-bottom: 2px solid var(--dark-gray);
}

.sheet-squareSeparation {
	margin-right: 2px;
}

.sheet-smallGap {
	gap: 2px;
}

.sheet-bigGap {
	gap: 10px;
}

.sheet-downGap {
	padding-bottom: 6px;
}

.sheet-upGap {
	padding-top: 6px;
}

.sheet-leftPadding {
	padding-left: 4px;
}

.sheet-bold {
	font-weight: bold;
}

.sheet-unscaledTextArea {
	resize: none;
}

.sheet-scalableTextArea {
	resize: vertical;
}

.sheet-autoWidth {
	width: auto !important;
}

.sheet-verticalLine {
	border-left: 2px solid var(--dark-black);
	padding-left: 4px;
	margin-left: 4px;
}

input.sheet-arrow[type="checkbox"] {
	color: var(--dark-white);
	opacity: 0;
	width: 16px;
	height: 16px;
	position: relative;
	/**
	top: 17px;
	 */
	right: -8px;
	margin: -10px;
	cursor: pointer;
	z-index: 1;
}

input.sheet-arrow[type="checkbox"] + span::before
{
	margin-top: 4px;
	margin-right: 4px;
	line-height: 14px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 14px;
	height: 14px;
	content: "▼";
	color: var(--dark-white);
	transform: rotate(90deg);
}

input.sheet-arrow[type="checkbox"]:checked + span::before {
	width: 14px;
	height: 14px;
	content: "▼";
	transform: rotate(0deg);
}

.rightfloat{ float: right; }

input.sheet-arrow[type="checkbox"]:checked+.sheet-foldable {
	display: none;
}

input.sheet-arrow[type="hidden"][value="0"]+.sheet-foldable
{
	display: none;
}

.sheet-rolltemplate-carac .sheet-template-container,
.sheet-rolltemplate-generic .sheet-template-container,
.sheet-rolltemplate-weapon .sheet-template-container,
.sheet-rolltemplate-infos .sheet-template-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	border: 1px solid;
	border-radius: 10px;
}

.sheet-rolltemplate-carac .sheet-template-container,
.sheet-rolltemplate-generic .sheet-template-container,
.sheet-rolltemplate-weapon .sheet-template-container,
.sheet-rolltemplate-infos .sheet-template-container {
	border-color: #aaaaaa;
	background-color: white;
}

.sheet-rolltemplate-carac.sheet-rolltemplate-darkmode .sheet-template-container,
.sheet-rolltemplate-generic.sheet-rolltemplate-darkmode .sheet-template-container,
.sheet-rolltemplate-weapon.sheet-rolltemplate-darkmode .sheet-template-container,
.sheet-rolltemplate-infos.sheet-rolltemplate-darkmode .sheet-template-container {
	border-color: #702c91;
	background-color: #1f1f1f;
}

.sheet-rolltemplate-carac .sheet-rolls {
	display: none;
}

.sheet-rolltemplate-carac .sheet-template-header,
.sheet-rolltemplate-generic .sheet-template-header,
.sheet-rolltemplate-weapon .sheet-template-header,
.sheet-rolltemplate-infos .sheet-template-header {
	padding: 5px;
	display: flex;
	align-items: stretch;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.sheet-rolltemplate-carac .sheet-template-header,
.sheet-rolltemplate-generic .sheet-template-header,
.sheet-rolltemplate-weapon .sheet-template-header,
.sheet-rolltemplate-infos .sheet-template-header {
	background-color: lightgray;
}

.sheet-rolltemplate-carac.sheet-rolltemplate-darkmode .sheet-template-header,
.sheet-rolltemplate-generic.sheet-rolltemplate-darkmode .sheet-template-header,
.sheet-rolltemplate-weapon.sheet-rolltemplate-darkmode .sheet-template-header,
.sheet-rolltemplate-infos.sheet-rolltemplate-darkmode .sheet-template-header {
	background-color: #2c2c2c;
}

.sheet-rolltemplate-carac .sheet-template-header h1,
.sheet-rolltemplate-generic .sheet-template-header h1,
.sheet-rolltemplate-weapon .sheet-template-header h1,
.sheet-rolltemplate-infos .sheet-template-header h1 {
	flex-grow: 1;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: large;
}

.sheet-rolltemplate-carac .sheet-template-contents,
.sheet-rolltemplate-generic .sheet-template-contents,
.sheet-rolltemplate-weapon .sheet-template-contents {
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 15px;
}

.sheet-rolltemplate-infos .sheet-template-contents {
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	align-items: flex-start;
}

.sheet-rolltemplate-infos .sheet-template-contents .sheet-template-row {
	flex-grow: 1;
}

.sheet-rolltemplate-infos .sheet-template-contents .sheet-template-row span {
	text-align: start;
}
