include ../mixins/negations
include ../mixins/headers
include ../mixins/body
include ../mixins/actions

- 
  var momentumNeg = [
    { momentum: '-1', die1: '1', die2: '2' },
    { momentum: '-2', die1: '3', die2: '4' },
    { momentum: '-3', die1: '5', die2: '6' },
    { momentum: '-4', die1: '7', die2: '8' },
    { momentum: '-5', die1: '9', die2: '10' },
    { momentum: '-6', die1: '11', die2: '12' }
  ]

rolltemplate.sheet-rolltemplate-ironcrunch_moves 
  div.sheet-roll-container
    | {{#action}}
    +actionHeader
    | {{#rollTotal() encumbered 1}}
    | {{#rollBetween() action loadEncMin loadEncMax}}
    +actionDieNegated({encumbered: true})
    | {{/rollBetween() action loadEncMin loadEncMax}}
    | {{#^rollBetween() action loadEncMin loadEncMax}}
    | {{#rollLess() momentum 0}}
    each momentum in momentumNeg
      +negationRoll(momentum)
    | {{/rollLess() momentum 0}}
    | {{#^rollLess() momentum 0}}
    +actionBody
    +standardActionWithMomentum('action')
    | {{/^rollLess() momentum 0}}
    | {{/^rollBetween() action loadEncMin loadEncMax}}
    | {{/rollTotal() encumbered 1}}
    | {{#^rollTotal() encumbered 1}}
    | {{#rollLess() momentum 0}}
    each momentum in momentumNeg
      +negationRoll(momentum)
    | {{/rollLess() momentum 0}}
    | {{#^rollLess() momentum 0}}
    +actionBody
    +standardActionWithMomentum('action')
    | {{/^rollLess() momentum 0}}
    | {{/^rollTotal() encumbered 1}}
    | {{/action}}
    | {{#custom}}
    | {{#header}}
    div.sheet-result-body.sheet-result-row
      div.sheet-subheader {{header}}
    | {{/header}}
    div.sheet-result-body.sheet-result-row
      div {{name}}  
    | {{#allprops() custom name header}}
    div.sheet-result-body.sheet-result-row
      div {{key}}
      div {{value}}
    | {{/allprops() custom name header}}
    | {{/custom}}