include ../mixins/negations
include ../mixins/outcomes
include ../mixins/headers
include ../mixins/body

rolltemplate.sheet-rolltemplate-ironcrunch_moves 
  //- table
  div.sheet-roll-container
    | {{#action}}
    +actionHeader
    | {{#rollLess() momentum 0}}
    | {{#rollTotal() momentum -1}}
    | {{#rollTotal() action negate1 }}
    +actionDieNegated
    | {{/rollTotal() action negate1 }}
    | {{#rollTotal() action negate2 }}
    +actionDieNegated
    | {{/rollTotal() action negate2 }}
    | {{/rollTotal() momentum -1}}
    | {{#rollTotal() momentum -2}}
    | {{#rollTotal() action negate3 }}
    +actionDieNegated
    | {{/rollTotal() action negate3 }}
    | {{#rollTotal() action negate4 }}
    +actionDieNegated
    | {{/rollTotal() action negate4 }}
    | {{/rollTotal() momentum -2}}
    | {{#rollTotal() momentum -3}}
    | {{#rollTotal() action negate5 }}
    +actionDieNegated
    | {{/rollTotal() action negate5 }}
    | {{#rollTotal() action negate6 }}
    +actionDieNegated
    | {{/rollTotal() action negate6 }}
    | {{/rollTotal() momentum -3}}
    | {{#rollTotal() momentum -4}}
    | {{#rollTotal() action negate7 }}
    +actionDieNegated
    | {{/rollTotal() action negate7 }}
    | {{#rollTotal() action negate8 }}
    +actionDieNegated
    | {{/rollTotal() action negate8 }}
    | {{/rollTotal() momentum -4}}
    | {{#rollTotal() momentum -5}}
    | {{#rollTotal() action negate9 }}
    +actionDieNegated
    | {{/rollTotal() action negate9 }}
    | {{#rollTotal() action negate10 }}
    +actionDieNegated
    | {{/rollTotal() action negate10 }}
    | {{/rollTotal() momentum -5}}
    | {{#rollTotal() momentum -6}}
    | {{#rollTotal() action negate11 }}
    +actionDieNegated
    | {{/rollTotal() action negate11 }}
    | {{#rollTotal() action negate12 }}
    +actionDieNegated
    | {{/rollTotal() action negate12 }}
    | {{/rollTotal() momentum -6}}
    | {{/rollLess() momentum 0}}
    | {{#^rollLess() momentum 0}}
    +actionBody
    | {{#rollGreater() action challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +opportunity
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() action challenge2}}
    +strongHit
    | {{/rollGreater() action challenge2}}
    | {{#^rollGreater() action challenge2}}
    +weakHit
    | {{/^rollGreater() action challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/rollGreater() action challenge1}}
    | {{#^rollGreater() action challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +complication
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() action challenge2}}
    +weakHit
    | {{/rollGreater() action challenge2}}
    | {{#^rollGreater() action challenge2}}
    +miss
    | {{/^rollGreater() action challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/^rollGreater() action challenge1}}
    | {{/^rollLess() momentum 0}}
    | {{/action}}
    | {{#custom}}
    | {{#header}}
    div.sheet-result-row
      div.sheet-subheader {{header}}
    | {{/header}}
    div.sheet-result-row
      div {{name}}  
    | {{#allprops() custom name header}}
    div.sheet-result-row
      div {{key}}
      div {{value}}
    | {{/allprops() custom name header}}
    | {{/custom}}