include ../../components/connections/connections

mixin connectionsPage(sheetType)
  div.page-container
    input(type='radio' name=`attr_${sheetType}_page` class='connections hide-element' value='3')
    div.connections.showhide
      +connections