mixin progressPage(sheetType)
  div.page-container
    input(type='radio' name=`attr_${sheetType}_page` class='progress-page hide-element' value='4')
    div.progress-page.showhide
      include ../../components/progress/progress