- var legacyVows = [ 1, 2, 3, 4, 5 ]
include ../../components/vows/vow-container

mixin vowsPage(sheetType)
  div.page-container
    if sheetType == 'shared'
      input(type='radio' name=`attr_${sheetType}_page` class='vows hide-element' value='2' checked)
    else
      input(type='radio' name=`attr_${sheetType}_page` class='vows hide-element' value='2')
    div.vows.showhide
      fieldset.repeating_vow
        +repeatingVow()