.sheet-rolltemplate-5eDefault .sheet-rt-card {
	width: 95%;
}

.sheet-rolltemplate-5eDefault table {
  width: 100%;
	border: 1px solid;
	color: black;
  border-color: rgba(112, 32, 130,1);
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sheet-rolltemplate-5eDefault th, caption {
	background-color: rgba(112, 32, 130,1);
	color: #ffffff;
	padding: 2px;
	border-bottom: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
	font-weight: bold;
}

.sheet-rolltemplate-5eDefault td {
	padding: 5px;
}

.sheet-rolltemplate-5eDefault tr:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}

.sheet-rolltemplate-5eDefault tr:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}


body.sheet-darkmode button,
body.sheet-darkmode input,
body.sheet-darkmode optgroup,
body.sheet-darkmode select,
body.sheet-darkmode textarea,
body.sheet-darkmode .charsheet {
	color: #eee !important;
}

body.sheet-darkmode select {
	background-color: #1e2021;
}

body.sheet-darkmode .btn,
body.sheet-darkmode .btn.btn-default {
	color: #702C91;
	text-shadow: rgba(24,26,27,.75) 0px 1px 1px;
	background-color: #702C91;
	background-image: linear-gradient(#702C91, #702C91);
	border-color: #8D56A7 #8D56A7 #8D56A7;
	box-shadow: rgba(24,26,27,.2) 0px 1px 0px inset,rgba(0,0,0,.05) 0px 1px 2px
}

.ui-dialog .charsheet input {
	vertical-align: middle;
}

body.sheet-darkmode .charsheet {
	background-color:#18181a;
	color:#eee;
}

.mysheet {
	width: 95%;
}

.buttons {
	width: 750px;
	padding-bottom: 26px;
} 

.common {
	width: 750px;
	border-top: 1px solid black;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
} 

.character, .background {
	width: 750px;
	border-bottom: 1px solid black;

	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
} 

span, label, button, .label, .text { 
	font-size: 12px;
}

h2.name {
	font-size: 16px;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-5 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-6 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-7 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-8 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-9 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-10 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-11 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-12 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-13 {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-14 {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-15 {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-16 {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-17 {
	display: grid;
	grid-template-columns: repeat(17, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-18 {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-19 {
	display: grid;
	grid-template-columns: repeat(19, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-20 {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-21 {
	display: grid;
	grid-template-columns: repeat(21, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-22 {
	display: grid;
	grid-template-columns: repeat(22, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-23 {
	display: grid;
	grid-template-columns: repeat(23, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.grid-24 {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
    padding-bottom: 8px;
}

.sub-grid-8 {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: auto;
	column-gap: 8px;
}

.grid-span-1 {
	grid-column: span 1;
}
.grid-span-2 {
	grid-column: span 2;
}
.grid-span-3 {
	grid-column: span 3;
}
.grid-span-4 {
	grid-column: span 4;
}
.grid-span-5 {
	grid-column: span 5;
}
.grid-span-6 {
	grid-column: span 6;
}
.grid-span-7 {
	grid-column: span 7;
}
.grid-span-8 {
	grid-column: span 8;
}
.grid-span-9 {
	grid-column: span 9;
}
.grid-span-10 {
	grid-column: span 10;
}
.grid-span-11 {
	grid-column: span 11;
}
.grid-span-12 {
	grid-column: span 12;
}
.grid-span-13 {
	grid-column: span 13;
}
.grid-span-14 {
	grid-column: span 14;
}
.grid-span-15 {
	grid-column: span 15;
}
.grid-span-16 {
	grid-column: span 16;
}

.mysheet label {
    font-weight: 400;
	width: auto;
	line-height: 50px;
	margin: 0;
	padding: 0 8px 0 0;
}

.itemcontrol {
	text-align:center;
}

.mysheet input {
	font-size: 14px;
	line-height: 14px;
}

.mysheet select {
	font-size: 15px;
	line-height: 15px;
}

.mysheet input, .backed {
	background: transparent;
	border: none;
	margin: 0;
	overflow: visible;
}

.mysheet input:disabled {
	background-color: #eaffef;
	border-color: #ddd;
	cursor: not-allowed;
	-moz-appearance: textfield;
}

body.sheet-darkmode .mysheet input:disabled {
	background-color: #2e3031;
	border-color: #eee;
	cursor: not-allowed;
	-moz-appearance: textfield;
}

.mysheet .textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.mysheet .textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.mysheet .textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

.mysheet textarea {
	font-size: 13px;
	line-height: 13px;
	height:auto;
	overflow: visible;
	resize:none;
	background: transparent;
	padding: 0px;
	border-color: transparent;
	margin-bottom:0px;
}

.mysheet input, .backed {
    border-bottom: 1px solid;
	border-radius: 0;
	padding: 0px;
}

.mysheet input.box {
	border-style: 1px solid;
	border-width: 2.5px 5px 2.5px 5px;
	height:60px;
	margin-left: 5px;
	width: 60px;
}

.mysheet .hidden {
	display: none;
}

.mysheet input.box.top {
	border-style: solid;
    border-width: 5px 5px 2.5px 5px;
}

.mysheet input.box.bottom {
	border-style: solid;
    border-width: 2.5px 5px 5px 5px;
}

input.visibility-toggle
{
	display: inline-block;
    vertical-align: middle;
}

input.visibility-toggle:not(:checked) ~ div.togglable-visibility {
    display: none;
}

button.fill, .backed {
	width: 100%;
}


input.fill,select.fill, .backed {
	width: 100% !important;
}


select.fill {
	width: 100% !important;
	margin-bottom: 2px !important;
	font-size: 90%;
	height:90%;
	
}

textarea.textarea-fill {
	box-sizing:border-box;
	width: 100%;
	height: 85%
}

.mysheet .pad-all {
	padding: 5px;
}

.mysheet .pad-none {
	padding: 0px;
}


.mysheet .mar-bot {
	margin-bottom: 8px;
}

.mysheet .mar-top {
	margin-top: 5px;
}


.mysheet .mar-left {
	margin-left: 5px;
}

.mysheet .mar-right {
	margin-right: 5px;
}


.mysheet .bdr-all {
	border: 1px solid;
	border-radius: 0px 0px 0px 0px;
}

.mysheet .bdr-top {
	border: 1px solid;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}

.mysheet .bdr-mid {
	border: 1px solid;
	border-top: none;
	border-bottom: none;
}

.mysheet .bdr-mid.lft {
	border-right: none;
}

.mysheet .bdr-mid.rgt {
	border-left: none;

}

.mysheet .bdr-btm {
	border: 1px solid;
	border-top: none;
	border-radius: 0 0 10px 10px;
}

.mysheet .bdr-none {
	border: none;
}

.center {
	text-align: center;
}

.mysheet .line-height-10 {
	line-height: 10px;
}

.mysheet .line-height-14 {
	line-height: 14px;
}

.mysheet .line-height-20 {
	line-height: 20px;
}

.mysheet .line-height-28 {
	line-height: 28px;
}

.mysheet .line-height-38 {
	line-height: 38px;
}

.mysheet .ml-10 {
	margin-left: 10px;
}

.mysheet .mr-10 {
	margin-right: 10px;
}

.mysheet .pl-10 {
	padding-left: 10px;
}

.mysheet .pr-10 {
	padding-right: 10px;
}

.mysheet .font-size-sm {
	font-size: 8px;
}

.mysheet .font-size-med {
	font-size: 12px;
}

.mysheet .w-90 {
	width: 90%
}


body.sheet-darkmode .mysheet .font-size-sm {
	color: #A3A3A3;
}

.character .ability-button {
	width:90%;
	text-align: left;
	line-height: 20px;
}

.buttons {
	margin-left: 25px;
}

.buttons button {
	background-color: transparent;
	border: 2px solid black;
	margin-bottom: -2px;
	padding: 5px;
}

.buttons button:hover {
	background-color: black;
	color: white;
}

body.sheet-darkmode .buttons button {
	background-color: transparent;
	border-color: #eee;
}

body.sheet-darkmode .buttons button:hover  {
	background-color: white;
	color: black !important;
}

.ui-dialog .charsheet .hide-btn-ui button[type=roll]:before {
    content: "";
}

button[type=roll] {
	width: 95%;
}

 input.mysheet-sheetpagetab {
	width: 100px;
	height: 25px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span.mysheet-sheetpagetab {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	font-size: 14px;
	background: transparent;
	color: black;
	font-weight: bold;
	line-height:25px;
	width: 100px;
	height: 25px;
	cursor: pointer;
	position: relative;
	margin-left: -73px;
	border: 1px solid black;
}

body.sheet-darkmode span.mysheet-sheetpagetab {
	background: transparent;
	border: 1px solid white;
	color: white;
}


input.mysheet-sheettab0:hover ~ span.mysheet-sheettab0,
input.mysheet-sheettab1:hover ~ span.mysheet-sheettab1,
input.mysheet-sheettab2:hover ~ span.mysheet-sheettab2,
input.mysheet-sheettab3:hover ~ span.mysheet-sheettab3,
input.mysheet-sheettab4:hover ~ span.mysheet-sheettab4,
input.mysheet-sheettab5:hover ~ span.mysheet-sheettab5,
input.mysheet-sheettab6:hover ~ span.mysheet-sheettab6,
input.mysheet-sheettab7:hover ~ span.mysheet-sheettab7,
input.mysheet-sheettab8:hover ~ span.mysheet-sheettab8,
input.mysheet-sheettab9:hover ~ span.mysheet-sheettab9
{
	background: rgb(25,183,130);
	color: white;
}

input.mysheet-sheettab0:checked ~ span.mysheet-sheettab0,
input.mysheet-sheettab1:checked ~ span.mysheet-sheettab1,
input.mysheet-sheettab2:checked ~ span.mysheet-sheettab2,
input.mysheet-sheettab3:checked ~ span.mysheet-sheettab3,
input.mysheet-sheettab4:checked ~ span.mysheet-sheettab4,
input.mysheet-sheettab5:checked ~ span.mysheet-sheettab5,
input.mysheet-sheettab6:checked ~ span.mysheet-sheettab6,
input.mysheet-sheettab7:checked ~ span.mysheet-sheettab7,
input.mysheet-sheettab8:checked ~ span.mysheet-sheettab8,
input.mysheet-sheettab9:checked ~ span.mysheet-sheettab9
{
	background: rgb(0,158,115);
	color: white;
}

body.sheet-darkmode input.mysheet-sheettab0:hover ~ span.mysheet-sheettab0,
body.sheet-darkmode input.mysheet-sheettab1:hover ~ span.mysheet-sheettab1,
body.sheet-darkmode input.mysheet-sheettab2:hover ~ span.mysheet-sheettab2,
body.sheet-darkmode input.mysheet-sheettab3:hover ~ span.mysheet-sheettab3,
body.sheet-darkmode input.mysheet-sheettab4:hover ~ span.mysheet-sheettab4,
body.sheet-darkmode input.mysheet-sheettab5:hover ~ span.mysheet-sheettab5,
body.sheet-darkmode input.mysheet-sheettab6:hover ~ span.mysheet-sheettab6,
body.sheet-darkmode input.mysheet-sheettab7:hover ~ span.mysheet-sheettab7,
body.sheet-darkmode input.mysheet-sheettab8:hover ~ span.mysheet-sheettab8,
body.sheet-darkmode input.mysheet-sheettab9:hover ~ span.mysheet-sheettab9
{
	background: #8D56A7;
	color: white;
}

body.sheet-darkmode input.mysheet-sheettab0:checked ~ span.mysheet-sheettab0,
body.sheet-darkmode input.mysheet-sheettab1:checked ~ span.mysheet-sheettab1,
body.sheet-darkmode input.mysheet-sheettab2:checked ~ span.mysheet-sheettab2,
body.sheet-darkmode input.mysheet-sheettab3:checked ~ span.mysheet-sheettab3,
body.sheet-darkmode input.mysheet-sheettab4:checked ~ span.mysheet-sheettab4,
body.sheet-darkmode input.mysheet-sheettab5:checked ~ span.mysheet-sheettab5,
body.sheet-darkmode input.mysheet-sheettab6:checked ~ span.mysheet-sheettab6,
body.sheet-darkmode input.mysheet-sheettab7:checked ~ span.mysheet-sheettab7,
body.sheet-darkmode input.mysheet-sheettab8:checked ~ span.mysheet-sheettab8,
body.sheet-darkmode input.mysheet-sheettab9:checked ~ span.mysheet-sheettab9
{
	background: #702C91;
	color: white;
}


.common,
.character,
.background  {
	display: none;
}

.tabstoggle[value="0"] ~ div.common,
.tabstoggle[value="1"] ~ div.common
{
	display: block;
}

.tabstoggle[value="0"] ~ div.character,
.tabstoggle[value="1"] ~ div.background {
	display: block;
}
