- const { legacy } = data.character;
+panel({ name: 'legacy', title: 'legacy' })
  +block('content')
    +repeating('legacy')
      - const { broadcast, repeating } = legacy;
      - const [name, desc] = repeating;
      +block('edit')
        .row.legacy__edit
          each field in repeating
            - const hideLabel = ['trait_check', 'trait_name'].includes(field.name);
            - const divClass = field.span ? `col-${field.span}` : '';
            - const labelClass = hideLabel ? 'visually-hidden' : null;
            .legacy__field(class=`${field.name} ${divClass}`)
              +field(field)
              label(class=labelClass, data-i18n=field.name, for=field.name)= field.label

      +block('view')
        .legacy__view
          +bubble({ name: 'legacy', broadcast })
            +block('header')
              +span(name).legacy__name
            +block('content')
              +span(desc)

      +block('delete')
        +span(name).legacy__name
