- const { slams } = data.character;
+blob({ name: 'slams', title: 'Slams', broadcast: slams.broadcast })
  +block('content')
    - const { fields } = slams;
    - const [one, two, three] = slams.fields;

    .slams__boxes
      each field, index in fields
        .slams__box(class=`slams__box--${field.name}`)
          +field(field)
          label.visually-hidden(data-i18n=field.name, for=field.name)= field.label
