- const { style } = data.character;
+blob({ name: 'style', title: 'Style' })
  +block('content')
    - const { subtitle, hidden, track } = style;
    .style__track
      each field in hidden
        +hidden(field.name)
      each radio in track
        label.style__checkbox(class=`style__checkbox--${radio.value}`)
          +field(radio).checkbox--circle
          span.visually-hidden(data-i18n=`style_${radio.value}`)= radio.label

    +field(subtitle)
