- const { trouble } = data.character;
+blob({ name: 'trouble', title: 'Trouble' })
  +block('content')
    - const { hidden, track, actions } = trouble;
    .trouble__track
      each field in hidden
        +hidden(field.name)
      each radio in track
        label.trouble__checkbox(class=`trouble__checkbox--${radio.value}`)
          +field(radio).checkbox--circle
          span.visually-hidden(data-i18n=`trouble_${radio.value}`)= radio.label
    .trouble__actions
      each action in actions
        +action(action)
