@import url("https://fonts.googleapis.com/css?family=Catamaran:800|Montserrat:700|Baltimore%20Typewriter:400|&display=swap");
.sheet-hidden {
  display: none;
}

.charsheet .sheet-tftl-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 1em;
  margin-bottom: 5em;
  color: #000;
}
.charsheet .sheet-tftl-wrapper * {
  box-sizing: border-box;
  min-width: 0;
}
.charsheet .sheet-tftl-wrapper input[type=number] {
  text-align: center;
  -moz-appearance: textfield;
}
.charsheet .sheet-tftl-wrapper input[type=number]::-webkit-outer-spin-button, .charsheet .sheet-tftl-wrapper input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet .sheet-tftl-logo {
  grid-column: 1/-1;
}
.charsheet .sheet-tftl-logo img {
  margin: auto;
}
.charsheet .sheet-tftl-leftcol {
  display: grid;
  gap: 1em;
}
.charsheet .sheet-tftl-rightcol {
  display: grid;
  grid-template-columns: 1.15fr 0.85fr;
  align-items: start;
  gap: 1em;
}
.charsheet .sheet-tftl-panel, .charsheet .sheet-tftl-panel--fullheight, .charsheet .sheet-tftl-panel--full, .charsheet .sheet-tftl-panel--alternate {
  display: grid;
  grid-template-rows: 3em;
  gap: 1px;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  background: #000;
}
.charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row:nth-child(even), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--textarea:nth-child(even), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--item:nth-child(even), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--iconic:nth-child(even), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--relationship:nth-child(even), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--luck:nth-child(even), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--span2:nth-child(even), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--span1:nth-child(even) {
  background-color: #fee0c9;
}
.charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row:nth-child(odd), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--textarea:nth-child(odd), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--item:nth-child(odd), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--iconic:nth-child(odd), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--relationship:nth-child(odd), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--luck:nth-child(odd), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--span2:nth-child(odd), .charsheet .sheet-tftl-panel--alternate .sheet-tftl-panel__row--span1:nth-child(odd) {
  background-color: #fbb888;
}
.charsheet .sheet-tftl-panel--full {
  grid-column: 1/-1;
}
.charsheet .sheet-tftl-panel--fullheight {
  align-self: stretch;
}
.charsheet .sheet-tftl-panel .itemcontrol, .charsheet .sheet-tftl-panel--alternate .itemcontrol, .charsheet .sheet-tftl-panel--full .itemcontrol, .charsheet .sheet-tftl-panel--fullheight .itemcontrol {
  position: relative;
}
.charsheet .sheet-tftl-panel .itemcontrol button.repcontrol_del, .charsheet .sheet-tftl-panel--alternate .itemcontrol button.repcontrol_del, .charsheet .sheet-tftl-panel--full .itemcontrol button.repcontrol_del, .charsheet .sheet-tftl-panel--fullheight .itemcontrol button.repcontrol_del,
.charsheet .sheet-tftl-panel .itemcontrol a.repcontrol_move,
.charsheet .sheet-tftl-panel--alternate .itemcontrol a.repcontrol_move,
.charsheet .sheet-tftl-panel--full .itemcontrol a.repcontrol_move,
.charsheet .sheet-tftl-panel--fullheight .itemcontrol a.repcontrol_move {
  display: block;
  top: calc(50% - 1.5rem);
  position: relative;
  border: 1px solid #000;
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 3rem;
  box-shadow: none;
  line-height: 2em;
  text-shadow: none;
  font-weight: bold;
}
.charsheet .sheet-tftl-panel .itemcontrol button.repcontrol_del, .charsheet .sheet-tftl-panel--alternate .itemcontrol button.repcontrol_del, .charsheet .sheet-tftl-panel--full .itemcontrol button.repcontrol_del, .charsheet .sheet-tftl-panel--fullheight .itemcontrol button.repcontrol_del {
  margin-right: 0.25rem;
  background: #a00;
  color: #fff;
}
.charsheet .sheet-tftl-panel .itemcontrol a.repcontrol_move, .charsheet .sheet-tftl-panel--alternate .itemcontrol a.repcontrol_move, .charsheet .sheet-tftl-panel--full .itemcontrol a.repcontrol_move, .charsheet .sheet-tftl-panel--fullheight .itemcontrol a.repcontrol_move {
  margin-left: 0.25rem;
  background: #fff;
  color: #000;
}
.charsheet .sheet-tftl-panel .repcontrol, .charsheet .sheet-tftl-panel--alternate .repcontrol, .charsheet .sheet-tftl-panel--full .repcontrol, .charsheet .sheet-tftl-panel--fullheight .repcontrol {
  padding: 0.25em;
  background-color: #fbb888;
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 807px 362px;
}
.charsheet .sheet-tftl-panel .repcontrol button.repcontrol_add, .charsheet .sheet-tftl-panel--alternate .repcontrol button.repcontrol_add, .charsheet .sheet-tftl-panel--full .repcontrol button.repcontrol_add, .charsheet .sheet-tftl-panel--fullheight .repcontrol button.repcontrol_add,
.charsheet .sheet-tftl-panel .repcontrol button.repcontrol_del,
.charsheet .sheet-tftl-panel--alternate .repcontrol button.repcontrol_del,
.charsheet .sheet-tftl-panel--full .repcontrol button.repcontrol_del,
.charsheet .sheet-tftl-panel--fullheight .repcontrol button.repcontrol_del,
.charsheet .sheet-tftl-panel .repcontrol button.repcontrol_move,
.charsheet .sheet-tftl-panel--alternate .repcontrol button.repcontrol_move,
.charsheet .sheet-tftl-panel--full .repcontrol button.repcontrol_move,
.charsheet .sheet-tftl-panel--fullheight .repcontrol button.repcontrol_move,
.charsheet .sheet-tftl-panel .repcontrol button.repcontrol_edit,
.charsheet .sheet-tftl-panel--alternate .repcontrol button.repcontrol_edit,
.charsheet .sheet-tftl-panel--full .repcontrol button.repcontrol_edit,
.charsheet .sheet-tftl-panel--fullheight .repcontrol button.repcontrol_edit {
  display: block;
  border: 1px solid #000;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 3rem;
  box-shadow: none;
  font-size: 0;
  line-height: 1em;
  text-shadow: none;
}
.charsheet .sheet-tftl-panel .repcontrol button.repcontrol_add:before, .charsheet .sheet-tftl-panel--alternate .repcontrol button.repcontrol_add:before, .charsheet .sheet-tftl-panel--full .repcontrol button.repcontrol_add:before, .charsheet .sheet-tftl-panel--fullheight .repcontrol button.repcontrol_add:before {
  display: block;
  content: "&";
  font-family: "Pictos";
  font-size: 12pt;
  font-weight: bold;
}
.charsheet .sheet-tftl-panel .repcontrol button.repcontrol_edit:before, .charsheet .sheet-tftl-panel--alternate .repcontrol button.repcontrol_edit:before, .charsheet .sheet-tftl-panel--full .repcontrol button.repcontrol_edit:before, .charsheet .sheet-tftl-panel--fullheight .repcontrol button.repcontrol_edit:before {
  display: block;
  content: "p";
  right: 5px;
  font-family: "Pictos";
  font-size: 12pt;
  font-weight: bold;
}
.charsheet .sheet-tftl-panel__header {
  padding: 0.5em;
  background: #000;
  color: #fff;
  font-family: "Catamaran", sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
}
.charsheet .sheet-tftl-panel__row, .charsheet .sheet-tftl-panel__row--textarea, .charsheet .sheet-tftl-panel__row--item, .charsheet .sheet-tftl-panel__row--iconic, .charsheet .sheet-tftl-panel__row--relationship, .charsheet .sheet-tftl-panel__row--luck, .charsheet .sheet-tftl-panel__row--span2, .charsheet .sheet-tftl-panel__row--span1 {
  display: flex;
  align-items: center;
  min-height: 3em;
  padding: 0.35em;
  background-color: #feefd3;
}
.charsheet .sheet-tftl-panel__row--span1 {
  padding: 0;
  padding-left: 0.35em;
}
.charsheet .sheet-tftl-panel__row--span2 {
  grid-column: span 2;
  padding: 0;
  padding-left: 0.35em;
}
.charsheet .sheet-tftl-panel__row--luck {
  background-color: #fbb888;
}
.charsheet .sheet-tftl-panel__row--relationship {
  padding: 0;
  padding-left: 0.35em;
  display: grid;
  grid-template-columns: 4.5em 1fr;
  border-bottom: 1px solid #000;
}
.charsheet .sheet-tftl-panel__row--iconic {
  padding: 0;
  padding-left: 0.35em;
  background: #ffd998;
}
.charsheet .sheet-tftl-panel__row--item {
  display: grid;
  grid-template-columns: 1fr 1em 4em;
  padding: 0;
  padding-left: 0.35em;
  border-bottom: 1px solid #000;
}
.charsheet .sheet-tftl-panel__row--textarea {
  padding: 0;
  align-self: stretch;
}
.charsheet .sheet-tftl-panel__label, .charsheet .sheet-tftl-panel__label--plus, .charsheet .sheet-tftl-panel__label--value, .charsheet .sheet-tftl-panel__label--select, .charsheet .sheet-tftl-panel__label--small, .charsheet .sheet-tftl-panel__label--button {
  flex-shrink: 0;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12pt;
}
.charsheet .sheet-tftl-panel__label:before, .charsheet .sheet-tftl-panel__label--plus:before, .charsheet .sheet-tftl-panel__label--value:before, .charsheet .sheet-tftl-panel__label--select:before, .charsheet .sheet-tftl-panel__label--small:before, .charsheet .sheet-tftl-panel__label--button:before {
  display: none;
}
.charsheet .sheet-tftl-panel__label--button {
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  text-align: left;
}
.charsheet .sheet-tftl-panel__label--button:hover {
  color: #f00;
}
.charsheet .sheet-tftl-panel__label--small {
  margin-bottom: 1em;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
}
.charsheet .sheet-tftl-panel__label--small:after {
  display: inline;
  content: ":";
}
.charsheet .sheet-tftl-panel__label--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  background: transparent url("https://s3.amazonaws.com/files.d20.io/images/138210258/mZTqw1vke8SrkprMJmiZQw/med.png?1590443723") right 5px center no-repeat;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
}
.charsheet .sheet-tftl-panel__label--select:hover {
  cursor: pointer;
  background-color: rgba(177, 125, 29, 0.2);
}
.charsheet .sheet-tftl-panel__label--value {
  width: 3em;
  text-align: center;
}
.charsheet .sheet-tftl-panel__label--plus {
  width: 1em;
  text-align: center;
}
.charsheet .sheet-tftl-panel__right {
  float: right;
  padding-top: 3pt;
  font-size: 8pt;
}
.charsheet .sheet-tftl-panel__input, .charsheet .sheet-tftl-panel__textarea--full, .charsheet .sheet-tftl-panel__input--hide[type=text], .charsheet .sheet-tftl-panel__input--hide[type=number], .charsheet .sheet-tftl-panel__input--small[type=text], .charsheet [type=text].sheet-tftl-panel__input--item, .charsheet .sheet-tftl-panel__input--small[type=number], .charsheet [type=number].sheet-tftl-panel__input--item {
  flex-shrink: 1;
  border-radius: 0;
  font-size: 12pt;
  font-weight: bold;
  font-family: sans-serif;
}
.charsheet .sheet-tftl-panel__input--small[type=text], .charsheet [type=text].sheet-tftl-panel__input--item, .charsheet .sheet-tftl-panel__input--small[type=number], .charsheet [type=number].sheet-tftl-panel__input--item {
  width: 3em;
  border: 1px solid #000;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.charsheet .sheet-tftl-panel__input--hide[type=text], .charsheet .sheet-tftl-panel__input--hide[type=number] {
  cursor: pointer;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}
.charsheet .sheet-tftl-panel__input--hide[type=text]:hover, .charsheet .sheet-tftl-panel__input--hide[type=number]:hover {
  background-color: rgba(177, 125, 29, 0.2);
}
.charsheet .sheet-tftl-panel__input--item {
  width: 3em !important;
  text-align: center;
}
.charsheet .sheet-tftl-panel__textarea {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 9em;
  font-size: 12pt;
  font-weight: bold;
  font-family: sans-serif;
  resize: vertical;
}
.charsheet .sheet-tftl-panel__textarea--full {
  cursor: pointer;
  margin-bottom: 0;
  min-height: 100%;
  width: 100%;
  background: transparent;
  border: none;
}
.charsheet .sheet-tftl-panel__textarea--full:hover {
  background-color: rgba(177, 125, 29, 0.2);
}
.charsheet .sheet-tftl-character {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px 1px;
}
.charsheet .sheet-tftl-experience {
  justify-content: space-around;
}
.charsheet .sheet-tftl-experience .sheet-tftl-checkbox__show {
  height: 1.35em;
  width: 1.35em;
}
.charsheet .sheet-tftl-checks {
  flex-grow: 1;
  flex-basis: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.25em;
}
.charsheet .sheet-tftl-checkbox {
  flex-shrink: 1;
  flex-basis: 2em;
  display: grid;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.charsheet .sheet-tftl-checkbox__hide {
  display: none;
}
.charsheet .sheet-tftl-checkbox__show {
  display: block;
  height: 1.5em;
  width: 1.5em;
  min-height: 1.5em;
  min-width: 1.5em;
  border: 1px solid #000;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.charsheet .sheet-tftl-checkbox__hide:checked ~ .sheet-tftl-checkbox__show {
  background: #fff url("https://s3.amazonaws.com/files.d20.io/images/138210119/cvUNlZk3lj7GZXQEsKIBWw/med.png?1590443685") no-repeat center/cover;
}

.charsheet .sheet-tftl-wrapper .sheet-tftl-panel__row--age input[type=number] {
  width: 100%;
}

.sheet-background-rand-1 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 619px 367px;
}

.sheet-background-rand-2 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 379px 714px;
}

.sheet-background-rand-3 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 126px 32px;
}

.sheet-background-rand-4 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 9px 747px;
}

.sheet-background-rand-5 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 581px 60px;
}

.sheet-background-rand-6 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 272px 7px;
}

.sheet-background-rand-7 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 813px 650px;
}

.sheet-background-rand-8 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 656px 107px;
}

.sheet-background-rand-9 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 86px 296px;
}

.sheet-background-rand-10 {
  background-image: url("https://s3.amazonaws.com/files.d20.io/images/138241818/X-IF-unPzBqgqH1xwbbqsQ/max.png?1590450700");
  background-position: 211px 315px;
}

.sheet-rolltemplate-tftl {
  background: center/100% 100% url("https://s3.amazonaws.com/files.d20.io/images/138260306/ilNQ2gaQceaZsCR_KjHC8w/max.png?1590455031");
  padding: 1.5em 1em;
  padding-bottom: 0.5em;
  font-family: "Baltimore Typewriter", monospace;
  font-size: 12pt;
}
.sheet-rolltemplate-tftl h1, .sheet-rolltemplate-tftl h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.sheet-rolltemplate-tftl h1 {
  font-size: 16pt;
  margin-bottom: 2px;
}
.sheet-rolltemplate-tftl h2 {
  border-bottom: 2px solid #61605e;
  margin-bottom: 1em;
  color: #f47a2a;
  font-size: 12pt;
}
.sheet-rolltemplate-tftl .sheet-tftl-body {
  margin-left: 1.5em;
}
.sheet-rolltemplate-tftl .sheet-tftl-body .sheet-tftl-roll-row {
  margin-bottom: 0.5em;
}
.sheet-rolltemplate-tftl .sheet-tftl-body .sheet-tftl-roll-row span {
  margin-left: 0.25em;
  text-transform: capitalize;
}
.sheet-rolltemplate-tftl .sheet-tftl-footer {
  width: 100%;
  height: 2.5em;
  background: center/cover url("https://s3.amazonaws.com/files.d20.io/images/138245642/DuOZsXbvjehrb4WorGj9fg/max.png?1590451487");
}
.sheet-rolltemplate-tftl .sheet-tftl-roll {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}
.sheet-rolltemplate-tftl .sheet-tftl-roll .importantroll,
.sheet-rolltemplate-tftl .sheet-tftl-roll .fullcrit,
.sheet-rolltemplate-tftl .sheet-tftl-roll .fullfail,
.sheet-rolltemplate-tftl .sheet-tftl-roll .inlinerollresult {
  border: none;
  background: transparent;
  font-family: inherit;
  line-height: 1em;
}
.sheet-rolltemplate-tftl .sheet-tftl-roll .inlinerollresult {
  margin-right: 0.25em;
}
.sheet-rolltemplate-tftl .sheet-tftl-buttons {
  text-align: center;
}
.sheet-rolltemplate-tftl .sheet-tftl-buttons a {
  background: #f47a2a;
}
.sheet-rolltemplate-tftl .sheet-tftl-buttons .sheet-tftl-buttontext {
  font-size: 0.75em;
  font-style: italic;
}
