include ../mixins/container

mixin Advance(values)
  +container(values)
    p When <strong>you focus on your skills, receive training, find inspiration, gain a companion, or one of these does the former, grows stronger, sharpen its senses or learns a new trick</strong>, you may...
    p Oathkeeper
    ul
      li Upgrade a stat for 8 experience.
      li Reduce any stat by 1 and add +1 to any other for 2 experience.
      li Upgrade a weapon proficiency for 2 experience.
      li Upgrade an effort level for 1 experience.
      li Acquire a companion asset for asset health+2 in experience.
      li Acquire an asset for 3 experience.
      li Upgrade an asset for 2 experience.
    p Humanoid Companion
    ul
      li Upgrade a stat for 6 experience.
      li Reduce any stat by 1 and add +1 to any other for 1 experience.
      li Upgrade the asset for 2 experience.
      li Upgrade a weapon proficiency for 2 experience.
      li Upgrade the asset for 2 experience.
    p Non-humanoid Companion
    ul
      li Upgrade a stat for 6 experience.
      li Reduce any stat by 1 and add +1 to any other for 1 experience.
      li Increase its protection for its next level in experience.
      li Increase its Face Danger/Clash addition for 4 experience.
      li Make piercing 1 harm for one of its attacks for its next piercing harm level in experience (maximum is 3 piercing harm per attack).
      li Upgrade an attack proficiency for 1 experience.
      li Add a secondary attack for its asset health in experience.
      li Upgrade the asset for 2 experience.