include ../mixins/container

mixin AidYourAlly(values)
  +container(values)
    p When <strong>you <em>Secure an Advantage</em> in direct support of an ally, and score a hit</strong>, they (instead of you) can take the benefits of the move.
