include ../mixins/container

- var values = { title: 'Ask the Oracle', name: 'AskTheOracle', class: 'ask-the-oracle', page: 'page X', radio: 'ask_the_oracle', stat: ``, stat_repeat: '', roll: true, oracle: true }
+container(values)
//- Ask the Oracle
//- When you seek to resolve questions, discover details in the world, determine how other characters respond, or trigger encounters or events, you may…
//- 	li Draw a conclusion: Decide the answer based on the most interesting and obvious result.
//- 	li Ask a yes/no question: Decide the odds of a ‘yes’, and roll on the table below to check the answer.
//- 	li Pick two: Envision two options. Rate one as ‘likely’, and roll on the table below to see if it is true. If not, it is the other.
//- 	li Spark an idea: Brainstorm or use a random prompt.
//- Odds
//- ‘Yes’ if you roll...
//- ‘No’ if you roll...
//- Almost certain (90%)
//- 11 or greater.
//- 10 or lower.
//- Likely (75%)
//- 26 or greater.
//- 25 or lower.
//- 50/50 or unknown (50%)
//- 51 or greater.
//- 50 or lower.
//- Unlikely (25%)
//- 76 or greater.
//- 75 or lower.
//- Small chance (10%)
//- 91 or greater.
//- 90 or lower.
//- If you are making this move to determine which creature you encounter, you may do one of the following.
//- 	li Selection 5 to 8 creature cards of hostile denizens you might encounter, and shuffle them. Then, when you encounter one, draw a card from the selection and roll 1d100. If you rolled the frequency value, encounter this creature. If you don’t, draw another card and roll again. If this is the last creature you are drawing, face it.
//- Creature’s frequency
//- Encounter if you roll…
//- Redraw if you roll…
//- Very Common (54%)
//- 46 or greater.
//- 45 or lower.
//- Common (28%)
//- 72 or greater.
//- 71 or lower.
//- Uncommon (12%)
//- 88 or greater.
//- 87 or lower.
//- Raree (4%)
//- 97 or greater.
//- 96 or lower.
//- Unforseen (2%)
//- 99 or greater.
//- 98 or lower.
//- 	li Select 5 creatures, one per frequency. Then, when you encounter a hostile denizen, roll to determine which creature you encounter.
//- Roll
//- Encounter if you roll…
//- Very Common (54%)
//- 1-54
//- Common (28%)
//- 55-82
//- Uncommon (12%)
//- 83-94
//- Raree (4%)
//- 95-98
//- Unforseen (2%)
//- 99-00
//- On whatever table you are rolling, on a match, an extreme result or twist has occurred.
