include ../mixins/container

mixin AskTheOracle(values)
  +container(values)
    p When <strong>you seek to resolve questions, discover details in the world, determine how other characters respond, or trigger encounters or events</strong>, you may…
    ul
      li Draw a conclusion: Decide the answer based on the most interesting and obvious result.
      li Ask a yes/no question: Decide the odds of a ‘yes’, and roll on the table below to check the answer.
      li Pick two: Envision two options. Rate one as ‘likely’, and roll on the table below to see if it is true. If not, it is the other.
      li Spark an idea: Brainstorm or use a random prompt.
    .oracle-table
      .oracle-row
        .button-container-preview
          button(type='roll' title='Almost Certain' name='rollalmostcertain' value='&{template:ironsworn_oracles} {{header=Almost Certain}} {{almostCertain=[[d100]]}}')
        span.oracle-roll.preview-roll 11 or greater
        span.oracle-result
          | Almost
          | Certain
      .oracle-row
        .button-container-preview
          button(type='roll' title='Likely' name='rolllikely' value='&{template:ironsworn_oracles} {{header=Likely}} {{likely=[[d100]]}}')
        span.oracle-roll.preview-roll 26 or greater
        span.oracle-result Likely
      .oracle-row
        .button-container-preview
          button(type='roll' title='50/50' name='rollfiftyfifty' value='&{template:ironsworn_oracles} {{header=50/50}} {{fiftyFifty=[[d100]]}}')
        span.oracle-roll.preview-roll 51 or greater
        span.oracle-result 50/50
      .oracle-row
        .button-container-preview
          button(type='roll' title='Unlikely' name='rollunlikely' value='&{template:ironsworn_oracles} {{header=Unlikely}} {{unlikely=[[d100]]}}')
        span.oracle-roll.preview-roll 76 or greater
        span.oracle-result Unlikely
      .oracle-row
        .button-container-preview
          button(type='roll' title='Small Chance' name='rollsmallchance' value='&{template:ironsworn_oracles} {{header=Small Chance}} {{smallChance=[[d100]]}}')
        span.oracle-roll.preview-roll 91 or greater
        span.oracle-result
          | Small
          | Chance
      .oracle-footer On a match, an extreme result or twist has occurred.
