include ../mixins/container

mixin Battle(values)
  +container(values)
    p When <strong>you fight a battle, and it happens in a blur</strong>, envision your objective and roll. If you primarily fight…
    ul
      li At range, or using speed and your surroundings to your advantage: Roll +edge.
      li Depending on your courage and others: Roll +heart.
      li In close to overpower your opponents: Roll +iron.
      li Using trickery to befuddle your opponents: Roll +shadow.
      li Using careful tactics to outsmart your opponents: Roll +wits.
    p On a <strong>strong hit</strong>, you achieve your objective with a hard-won victory. Choose one of the weak hit options of the <em>End the Fight</em> move.
    p On a <strong>weak hit</strong>, you achieve your objective, but not without a significant cost. Choose two of the weak hit options of the <em>End the Fight</em> move.
    p On a <strong>miss</strong>, you are defeated and the objective is lost to you. <em>Pay the Price</em>.
