include ../mixins/container

- var values = { title: 'Battle', name: 'Battle', class: 'battle', page: 'page X', radio: 'battle', stat: ``, stat_repeat: '', roll: true }
+container(values)
  p When you fight a battle, and it happens in a blur, envision your objective and roll. If you primarily fight…
  ul
    li At range, or using speed and your surroundings to your advantage: Roll +edge.
    li Depending on your courage and others: Roll +heart.
    li In close to overpower your opponents: Roll +iron.
    li Using trickery to befuddle your opponents: Roll +shadow.
    li Using careful tactics to outsmart your opponents: Roll +wits.
  p On a strong hit, you achieve your objective with a hard-won victory. Choose one of the weak hit options of the End the Fight move.
  p On a weak hit, you achieve your objective, but not without a significant cost. Choose two of the weak hit options of the End the Fight move.
  p On a miss, you are defeated and the objective is lost to you. Pay the Price.
