include ../mixins/container

mixin BurnMomentum(values)
  +container(values)
    p When <strong>you make a move, and have positive momentum</strong>, you may set your momentum to your reset value and cancel any challenge dice that are less than your current momentum value.
