include ../mixins/container

- var values = { title: 'Burn Momentum', name: 'BurnMomentum', class: 'burn-momentum', page: 'page X', radio: 'burn_momentum', stat: ``, stat_repeat: '' }
+container(values)
  p When you make a move, and have positive momentum, you may set your momentum to your reset value and cancel any challenge dice that are less than your current momentum value.
