include ../mixins/container

- var values = { title: 'Check Your Gear', name: 'CheckYourGear', class: 'check-your-gear', page: 'page X', radio: 'check_your_gear', stat: ``, stat_repeat: '' }
+container(values)
  p When you check to see if you have a specific helpful item, and you have at least +1 supply, roll +supply.
  p On a strong hit, you have it. Take +2 momentum.
  p On a weak hit, you have it, but your resources are diminished. Take +2 momentum and suffer -1 supply.
  p On a miss, you don’t have it and the situation grows more perilous. Pay the Price.
