include ../mixins/container

mixin CheckYourGear(values)
  +container(values)
    p When <strong>you check to see if you have a specific helpful item, and you have at least +1 supply</strong>, roll +supply.
    p On a <strong>strong hit</strong>, you have it. Take +2 momentum.
    p On a <strong>weak hit</strong>, you have it, but your resources are diminished. Take +2 momentum and suffer -1 supply.
    p On a <strong>miss</strong>, you don’t have it and the situation grows more perilous. <em>Pay the Price</em>.
