include ../mixins/container

mixin Clash(values)
  +container(values)
    p When <strong>your foe has initiative and you fight back</strong>, determine if you are hitting your foe’s protection or breaking their defense rating. If your foe’s protection is 0 or you are doing the latter, fix one challenge die as per your foe’s defense rating. Then, envision the contending. If you…
    ul
      li Fight in close quarters: Roll +iron.
      li Exchange a volley at range, shoot at an advancing foe, or fight with a precise weapon: Roll +edge.
    p If you are using two light weapons, add +the harm of one of them to this move.
    p On a <strong>strong hit</strong>, <em>Inflict Harm</em> and choose one. You have the initiative.
    ul
      li You get in position: Take +2 momentum.
      li You find an opening: Inflict +1 harm.
    p On a <strong>weak hit</strong>, choose one.
    ul
      li <em>Inflict Harm</em> and <em>Pay the Price</em>. Your foe has initiative.
      li Take the initiative if you used a shield.
    p If you used a shield or attacked at ranged, also choose one.
    ul
      li You are overwhelmed: Suffer -2 momentum.
      li Your shield loses durability: Reduce its Face Danger/Clash addition by 1.
      li You wasted ammo: Suffer -1 supply.
      li The thrown weapon you used is lost or destroyed.
    p On a <strong>miss</strong>, you are outmatched. As above, but you don't <em>Inflict Harm</em>. Your foe has the initiative.
