include ../mixins/container

- var values = { title: 'Companion Becomes Unconditional', name: 'CompanionBecomesUnconditional', class: 'companion-becomes-unconditional', page: 'page X', radio: 'companion_becomes_unconditional', stat: ``, stat_repeat: '' }
+container(values)
  p When your conditional companion is determined to follow you, envision how they express their resolution to stand by your side unconditionally. Then, acquire a companion asset to represent them in exchange for the asset health+1 experience. Erase the goal and drives fields from their companion sheet. You no longer use their loyalty track.
