include ../mixins/container

mixin CompanionBecomesUnconditional(values)
  +container(values)
    p When <strong>your conditional companion is determined to follow you</strong>, envision how they express their resolution to stand by your side unconditionally. Then, acquire a companion asset to represent them in exchange for the asset health+1 experience. Erase the goal and drives fields from their companion sheet. You no longer use their loyalty track.
