include ../mixins/container

mixin ConditionalCompanionActs(values)
  +container(values)
    p When <strong>a conditional companion is in position to make a move according to their drives, motivations or the fulfillment of their goal</strong>, they do so without suffering -loyalty. Make the move by rolling +their stat.