include ../mixins/container

- var values = { title: 'Conditional Companion Abandons', name: 'ConditionalCompanionAbandons', class: 'conditional-companion-abandons', page: 'page X', radio: 'conditional_companion_abandons', stat: ``, stat_repeat: '' }
+container(values)
  p When your conditional companion has fulfilled their goal or is no longer willing to follow you, they will leave you at the next opportunity.