include ../mixins/container

mixin ConditionalCompanionAbandons(values)
  +container(values)
    p When <strong>your conditional companion has fulfilled their goal or is no longer willing to follow you</strong>, they will leave you at the next opportunity.