include ../mixins/container

- var values = { title: 'Conditional Companion Acts', name: 'ConditionalCompanionActs', class: 'conditional-companion-acts', page: 'page X', radio: 'conditional_companion_acts', stat: ``, stat_repeat: '' }
+container(values)
  p When a conditional companion is in position to make a move according to their drives, motivations or the fulfillment of their goal, they do so without suffering -loyalty. Make the move by rolling +their stat.