include ../mixins/container

mixin DelveTheDepths(values)
  +container(values)
    p When <strong>you traverse an area within a perilous site</strong>, envision your surroundings. Then, consider your approach. If you navigate this area…
    ul
      li With haste: Roll +edge.
      li With stealth or trickery: Roll +shadow.
      li With observation, intuition, or expertise: Roll +wits.
    p On a <strong>strong hit</strong>, you delve deeper. Mark progress and <em>Find an Opportunity</em>.
    p On a <strong>weak hit</strong>, roll on the following table according to your stat.
    p On a <strong>miss</strong>, <em>Reveal a Danger</em>.
    .sheet-move-table.sheet-move-delve-table
      .sheet-move-delve-row-header
        .sheet-move-delve-column-stat-header-1 Edge
        .sheet-move-delve-column-stat-header-2 Shadow
        .sheet-move-delve-column-stat-header-3 Wits
        .sheet-move-delve-column-header Weak Hit Result 
      .sheet-oracle-row
        .sheet-move-delve-stat-column-1 1-45 (45%)
        .sheet-move-delve-stat-column-2 1-30 (30%)
        .sheet-move-delve-stat-column-3 1-40 (40%)
        .sheet-move-delve-column Mark progress and <em>Reveal a Danger.</em>
      .sheet-oracle-row
        .sheet-move-delve-stat-column-1 46-65 (20%)
        .sheet-move-delve-stat-column-2 31-65 (35%)
        .sheet-move-delve-stat-column-3 41-55 (15%)
        .sheet-move-delve-column Mark progress.
      .sheet-oracle-row 
        .sheet-move-delve-stat-column-1 66-75 (10%)
        .sheet-move-delve-stat-column-2 66-90 (25%)
        .sheet-move-delve-stat-column-3 56-80 (25%)
        .sheet-move-delve-column Choose one: Mark progress or <em>Find an Opportunity.</em>
      .sheet-oracle-row 
        .sheet-move-delve-stat-column-1 76-80 (5%)
        .sheet-move-delve-stat-column-2 91-99 (9%)
        .sheet-move-delve-stat-column-3 81-99 (19%)
        .sheet-move-delve-column Take both: Mark progress and <em>Find an Opportunity.</em>
      .sheet-oracle-row 
        .sheet-move-delve-stat-column-1 81-100 (20%)
        .sheet-move-delve-stat-column-2 100 (1%)
        .sheet-move-delve-stat-column-3 100 (1%)
        .sheet-move-delve-column Mark progress twice and <em>Reveal a Danger.</em>
