include ../mixins/container

mixin DiscoverASite(values)
  +container(values)
    p When <strong>you resolve to enter a perilous site in pursuit of an objective</strong>, choose the theme and domain which best represent its nature, and give it a rank.
    ul
      li Troublesome site: 3 progress per area.
      li Dangerous site: 2 progress per area.
      li Formidable site: 1 progress per area.
      li Extreme site: 2 ticks per area.
      li Epic site: 1 tick per area.
    p If you are returning to a previously explored site, roll both challenge dice, take the lowest value, and clear that number of progress boxes.
    p Then, <em>Delve the Depths</em> to explore this place.

//- {{discoverSite=[[2d10kl1]]}} 