include ../mixins/container

- var values = { title: 'Draw the Circle', name: 'DrawTheCircle', class: 'draw-the-circle', page: 'page X', radio: 'draw_the_circle', stat: ``, stat_repeat: '', roll: true }
+container(values)
  p When you challenge someone to a formal duel, or accept a challenge, roll +heart. If you share a bond with this community, add +2.
  p On a strong hit, take +2 momentum. You may also choose any boasts and take +2 momentum for each.
  p On a weak hit, you may choose up to two boasts in exchange for +2 momentum for each.
  ul
    li Grant first strike: Your foe has initiative.
    li Bare yourself: Take no benefit of armor or shield.
    li Hold no iron: Take no benefit of weapons.
    li Bloody yourself: Endure Harm (1d3P harm) with no addition.
    li To the death: This fight must end with death.
  p On a miss, you begin the duel at a disadvantage. Pay the Price.