include ../mixins/container

mixin DrawTheCircle(values)
  +container(values)
    p When <strong>you challenge someone to a formal duel, or accept a challenge</strong>, roll +heart. If you share a bond with this community, add +2.
    p On a <strong>strong hit</strong>, take +2 momentum. You may also choose any boasts and take +2 momentum for each.
    p On a <strong>weak hit</strong>, you may choose up to two boasts in exchange for +2 momentum for each.
    ul
      li Grant first strike: Your foe has initiative.
      li Bare yourself: Take no benefit of armor or shield.
      li Hold no iron: Take no benefit of weapons.
      li Bloody yourself: Endure Harm (1d3P harm) with no addition.
      li To the death: This fight must end with death.
    p On a <strong>miss</strong>, you begin the duel at a disadvantage. <em>Pay the Price</em>.