include ../mixins/container

mixin EndTheFight(values)
  +container(values)
    p <strong><em>Progress Move<em></strong>
    p When <strong>your foe’s health is below 10 for harm suffered</strong>, you may resolve the outcome of this fight. If you do, roll the challenge dice and compare to your progress.
    p On a <strong>strong hit</strong>, this foe is no longer in the fight. They are killed, out of action, flee, or surrender as appropriate to the situation and your intent.
    p On a <strong>weak hit</strong>, as above, but you must also choose one.
    ul
      li It’s worse than you thought: <em>Endure Harm</em> with no armor addition.
      li You are overcome: <em>Endure Stress</em>.
      li You harvest the spoils of the battle: Take a condition.
      li You suffer collateral damage: Something of value is lost or broken (suffer -supply or -wealth), or someone important must pay the cost.
      li A new danger or foe appears, or an existing danger worsens: Suffer -2 momentum.
      li Others won’t forget or you are marked for vengeance: Suffer -3 momentum.
      li An objective falls out of reach: <em>Forsake Your Vow</em>.
    p On a <strong>miss</strong>, choose one.
    ul
      li Your foe has not given up; set their health to 50% of their maximum, rounding down. Then, <em>Pay the Price</em>.
      li You have lost this fight.
