include ../mixins/container

- var values = { title: 'End the Fight', name: 'EndTheFight', class: 'end-the-fight', page: 'page X', radio: 'end_the_fight', stat: ``, stat_repeat: '', roll: true, progress: true }
+container(values)
  p Progress Move
  p When your foe’s health is below 10 for harm suffered, you may resolve the outcome of this fight. If you do, roll the challenge dice and compare to your progress.
  p On a strong hit, this foe is no longer in the fight. They are killed, out of action, flee, or surrender as appropriate to the situation and your intent.
  p On a weak hit, as above, but you must also choose one.
  ul
    li It’s worse than you thought: Endure Harm with no armor addition.
    li You are overcome: Endure Stress.
    li You harvest the spoils of the battle: Take a condition.
    li You suffer collateral damage: Something of value is lost or broken (suffer -supply or -wealth), or someone important must pay the cost.
    li A new danger or foe appears, or an existing danger worsens: Suffer -2 momentum.
    li Others won’t forget or you are marked for vengeance: Suffer -3 momentum.
    li An objective falls out of reach: Forsake Your Vow.
  p On a miss, choose one.
  ul
    li Your foe has not given up; set their health to 50% of their maximum, rounding down. Then, Pay the Price.
    li You have lost this fight.
