include ../mixins/container

mixin EndureStress(values)
  +container(values)
    p When <strong>you face mental shock or despair</strong>, suffer -spirit equal to your foe’s rank or as appropriate to the situation. If your spirit is reduced to 0, suffer -momentum equal to any remaining -spirit.
    p Then, roll +spirit or +heart, whichever is higher.
    p On a <strong>strong hit</strong>, choose one.
    ul
      li Shake it off: If your spirit is greater than 0, suffer -1 momentum in exchange for +1 spirit
      li Embrace the darkness: Take +2 momentum
    p On a <strong>weak hit</strong>, you press on.
    p On a <strong>miss</strong>, also suffer -1 momentum. If you are at 0 spirit, take the shaken or corrupted condition (if currently not taken) or roll on the following table.
    br
    label.sheet-roll-label.sheet-embedded-btn ROLL ORACLE
      button.sheet-hide(type='roll' title='Endure Stress Oracle' name='rollendurestressoracle' value='&{template:ironsworn_oracles} {{header=Endure Stress Oracle}} {{endureStress=[[d100]]}}')
    +endureStressTable
