include ../mixins/container
include ../../../common/pug/shared-tables

mixin EndureHarm(values)
  +container(values)
    p When <strong>you face physical damage</strong>, subtract your armor’s protection to the harm and suffer -health equal to the remaining harm. If your health is reduced 0, suffer -momentum equal to any remaining -health.
    p Then roll +iron.
    p On a <strong>strong hit</strong>, you stand firm. If your health is suffering harm, choose one.
    ul
      li Shake it off: If your health is greater than 0, suffer up to -2 momentum in exchange for the same amount of +health.
      li Embrace the pain: Take +2 momentum.
    p On a <strong>weak hit</strong>, you press on. If you wear armor which values are not at its minimum (0), choose one.
    ul
      li It loses coverage: Reduce its <em>Endure Harm</em> addition by 1.
      li It loses resistance: Suffer -1 to its protection.
      li You stumble: Suffer -2 momentum.
    p On a <strong>miss</strong>, also suffer -1 momentum. If you wear an armor which values are not at its minimum (0), choose as above. If you are at 0 health, you must take the wounded or maimed condition (if currently not taken) or roll on the following table.
    br
    label.sheet-roll-label.sheet-embedded-btn ROLL ORACLE
      button.sheet-hide(type='roll' title='Endure Harm Oracle' name='RollEndureHarmOracle' value='&{template:ironsworn_oracles} {{header=Endure Harm Oracle}} {{endureHarm=[[d100]]}}')
    +endureHarmTable