include ../mixins/container

mixin EndureHarm(values)
  +container(values)
    p When <strong>you face physical damage</strong>, subtract your armor’s protection to the harm and suffer -health equal to the remaining harm. If your health is reduced 0, suffer -momentum equal to any remaining -health.
    p Then roll +iron.
    p On a <strong>strong hit</strong>, you stand firm. If your health is suffering harm, choose one.
    ul
      li Shake it off: If your health is greater than 0, suffer up to -2 momentum in exchange for the same amount of +health.
      li Embrace the pain: Take +2 momentum.
    p On a <strong>weak hit</strong>, you press on. If you wear armor which values are not at its minimum (0), choose one.
    ul
      li It loses coverage: Reduce its <em>Endure Harm</em> addition by 1.
      li It loses resistance: Suffer -1 to its protection.
      li You stumble: Suffer -2 momentum.
    p On a <strong>miss</strong>, also suffer -1 momentum. If you wear an armor which values are not at its minimum (0), choose as above. If you are at 0 health, you must take the wounded or maimed condition (if currently not taken) or roll on the following table.
    .sheet-oracle-table 
      .oracle-row 
        span.sheet-oracle-roll 1-10 (10%)
        span.sheet-oracle-result The harm is mortal. <em>Face Death.</em>
      .oracle-row 
        span.sheet-oracle-roll 11-20 (10%)
        span.sheet-oracle-result Take the dying condition.
      .oracle-row 
        span.sheet-oracle-roll 21-35 (15%)
        span.sheet-oracle-result Take the unconscious condition.
      .oracle-row 
        span.sheet-oracle-roll 36-50 (15%)
        span.sheet-oracle-result Take the reeled condition.
      .oracle-row 
        span.sheet-oracle-roll 51-00 (50%)
        span.sheet-oracle-result You are battered but still standing.