include ../mixins/container

mixin EnterTheFray(values)
  +container(values)
    p When <strong>you enter in combat</strong>, determine who is in control. If you are...
    ul
      li Reacting: Roll +edge.
      li Facing off: Roll +heart.
      li Charging: Roll +iron.
      li Ambushing: Roll +shadow.
      li Ambushed: Roll +wits.
    p On a <strong>strong hit</strong>, take +4 momentum. You have initiative.
    p On a <strong>weak hit</strong>, choose one.
    ul
      li Bolster your position: Take +4 momentum. Your foe has initiative.
      li Prepare to act: Take initiative.
    p On a <strong>miss</strong>, combat begins with you at a disadvantage. <em>Pay the Price</em>. Your foe has initiative.