include ../mixins/container

- var values = { title: 'Escape the Depths', name: 'EscapeTheDepths', class: 'escape-the-depths', page: 'page X', radio: 'escape_the_depths', stat: ``, stat_repeat: '', roll: true }
+container(values)
  p When you flee or withdraw from a site, consider the situation and your approach. If you...
  ul
    li Find the fastest way out: Roll +edge.
    li Steel yourself against the horrors of this place: Roll +heart.
    li Fight your way out: Roll +iron.
    li Keep out of sight: Roll +shadow.
    li Retrace your steps or locate an alternate path: Roll +wits.
  p On a strong hit, you make your way safely out of the site. Take +2 momentum.
  p On a weak hit, you find your way out, but this place exacts its price. Choose one.
  ul
    li You are weary or wounded: Endure Harm with no armor addition (as per the site’s rank, piercing).
    li The experience leaves you shaken: Endure Stress (as per the site’s rank).
    li Your body or mind are marked. Take a condition.
    li You are delayed, and it costs you. Suffer -momentum as per the site’s rank.
    li You face a new complication as you emerge from the depths. Suffer -1 momentum.
    li A denizen plots their revenge. Suffer -3 momentum.
  p On a miss, a dire threat or imposing obstacle stands in your way. Reveal a Danger. If you survive, you may make your escape.
