include ../mixins/container

mixin EscapeTheDepths(values)
  +container(values)
    p When <strong>you flee or withdraw from a site</strong>, consider the situation and your approach. If you...
    ul
      li Find the fastest way out: Roll +edge.
      li Steel yourself against the horrors of this place: Roll +heart.
      li Fight your way out: Roll +iron.
      li Keep out of sight: Roll +shadow.
      li Retrace your steps or locate an alternate path: Roll +wits.
    p On a <strong>strong hit</strong>, you make your way safely out of the site. Take +2 momentum.
    p On a <strong>weak hit</strong>, you find your way out, but this place exacts its price. Choose one.
    ul
      li You are weary or wounded: <em>Endure Harm</em> with no armor addition (as per the site’s rank, piercing).
      li The experience leaves you shaken: <em>Endure Stress</em> (as per the site’s rank).
      li Your body or mind are marked. Take a condition.
      li You are delayed, and it costs you. Suffer -momentum as per the site’s rank.
      li You face a new complication as you emerge from the depths. Suffer -1 momentum.
      li A denizen plots their revenge. Suffer -3 momentum.
    p On a <strong>miss</strong>, a dire threat or imposing obstacle stands in your way. <em>Reveal a Danger</em>. If you survive, you may make your escape.
