include ../mixins/container

mixin FaceDanger(values)
  +container(values)
    p When <strong>you attempt something risky or react to an imminent threat</strong>, envision your action and roll. If you act...
    ul
      li With speed, agility, or precision: Roll +edge.
      li With charm, loyalty, or courage: Roll +heart.
      li With aggressive action, forceful defense, strength, or endurance: Roll +iron.
      li With deception, stealth, or trickery: Roll +shadow.
      li With expertise, insight, or observation: Roll +wits.
    p On a <strong>strong hit</strong>, you are successful. Take +2 momentum.
    p On a <strong>weak hit</strong>, you succeed, but face a troublesome cost. Choose one.
    ul
      li You are delayed, lose advantage, or face a new danger: Suffer -1 momentum (-2 if you used a shield).
      li Your shield loses durability: Reduce its Face Danger/Clash addition by 1.
      li You are tired or hurt: <em>Endure Harm</em> (1d3P harm).
      li You are dispirited or afraid: <em>Endure Stress</em> (1 stress).
      li You sacrifice resources: Suffer -1 supply or -1 wealth.
      li You get a negative condition: Take a condition.
    p On a <strong>miss</strong>, you fail, or your progress is undermined by a dramatic and costly turn of events. <em>Pay the Price</em>. If you are in combat.
