include ../mixins/container

mixin FaceDeath(values)
  +container(values)
    p When <strong>you are brought to the brink of death</strong>, roll +heart.
    p On a <strong>strong hit</strong>, death rejects you.
    p On a <strong>weak hit</strong>, choose one.
    ul
      li You die, but not before making a noble sacrifice. Envision your final moments.
      li Death desires something of you in exchange for your life. Envision what it wants, and <em>Swear an Iron Vow</em> (formidable or extreme) to complete that quest. If you fail to score a hit when you <em>Swear an Iron Vow</em>, or refuse the quest, you are dead. Otherwise, you return to the mortal world and are now cursed. You may only clear the cursed condition by completing the quest.
    p On a <strong>miss</strong>, you are dead.

//- TODO: {{owl=[[?{Owl Companion|No&#44;0|Yes&#44;?{Owl's Health&amp;#124;0&amp;#125;&#125;]]}}