include ../mixins/container

- var values = { title: 'Face Desolation', name: 'FaceDesolation', class: 'face-desolation', page: 'page X', radio: 'face_desolation', stat: ``, stat_repeat: '', roll: true }
+container(values)
  p When you are brought to the brink of desolation, roll +heart.
  p On a strong hit, you resist and press on.
  p On a weak hit, choose one.
  ul
    li Your spirit or sanity breaks, but not before you make a noble sacrifice. Envision your final moments.
    li You see a vision of a dreaded event coming to pass. Envision that dark future, and Swear an Iron Vow (formidable or extreme) to prevent it. If you fail to score a hit when you Swear an Iron Vow, or refuse the quest, you are lost. Otherwise, you return to your senses and are now tormented. You may only clear the tormented condition by completing the quest.
  p On a miss, you succumb to despair or horror and are lost.
