include ../mixins/container

mixin FaceDesolation(values)
  +container(values)
    p When <strong>you are brought to the brink of desolation</strong>, roll +heart.
    p On a <strong>strong hit</strong>, you resist and press on.
    p On a <strong>weak hit</strong>, choose one.
    ul
      li Your spirit or sanity breaks, but not before you make a noble sacrifice. Envision your final moments.
      li You see a vision of a dreaded event coming to pass. Envision that dark future, and <em>Swear an Iron Vow</em> (formidable or extreme) to prevent it. If you fail to score a hit when you <em>Swear an Iron Vow</em>, or refuse the quest, you are lost. Otherwise, you return to your senses and are now tormented. You may only clear the tormented condition by completing the quest.
    p On a <strong>miss</strong>, you succumb to despair or horror and are lost.
