include ../mixins/container
include ../mixins/oracle-table
include ../../../data/oracles

mixin FindAnOpportunity(values)
  +container(values)
    p When <strong>you encounter a helpful situation or feature within a travel waypoint or a site</strong>, roll to determine what kind of opportunity you encounter.
    +oracleTable(oracles.ironcrunch['Find An Opportunity'], 'ironcrunch')