include ../mixins/container
include ../mixins/oracle-table
include ../../../data/oracles

mixin FindAnOpportunity(values)
  +container(values)
    p When <strong>you encounter a helpful situation or feature within a travel waypoint or a site</strong>, roll to determine what kind of opportunity you encounter.
    .sheet-move-sub-nav
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_find_an_opportunity_button' class='sheet-hide sheet-table-btn' value='1' checked)
        .sheet-move-nav-content 1-55 (55%) Favorable Area
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_find_an_opportunity_button' class='sheet-hide sheet-table-btn' value='2')
        .sheet-move-nav-content 56-80 (25%) Benign Character Encounter
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_find_an_opportunity_button' class='sheet-hide sheet-table-btn' value='3')
        .sheet-move-nav-content 81-100 (20%) Item Finding
    +oracleTable(oracles.ironcrunch[1])