include ../mixins/container

mixin FindAnOpportunity(values)
  +container(values)
    p When <strong>you encounter a helpful situation or feature within a travel waypoint or a site</strong>, roll to determine what kind of opportunity you encounter.
    .sheet-move-sub-nav
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_find_an_opportunity_button' class='sheet-hide sheet-table-btn' value='1' checked)
        .sheet-move-nav-content 1-55 (55%) Favorable Area
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_find_an_opportunity_button' class='sheet-hide sheet-table-btn' value='2')
        .sheet-move-nav-content 56-80 (25%) Benign Character Encounter
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_find_an_opportunity_button' class='sheet-hide sheet-table-btn' value='3')
        .sheet-move-nav-content 81-00 (20%) Item Finding

    input(type='radio' name='attr_find_an_opportunity_tables' class=`sheet-opportunity-area sheet-hide` value='1')
    div(class='sheet-opportunity-area sheet-showhide')
      .sheet-oracle-table 
        .oracle-row 
          span.sheet-oracle-roll 1-11(11%)
          span.sheet-oracle-result The travel took shorter than expected. Take +1 momentum.
        .oracle-row 
          span.sheet-oracle-roll 12-20 (9%)
          span.sheet-oracle-result Elements of this area can be used to leverage your travel. If you <em>Undertake a Journey</em>, you may reroll any dice.
        .oracle-row 
          span.sheet-oracle-roll 21-28 (8%)
          span.sheet-oracle-result There is a path that seems to lead towards your destination. If you follow it, add +2 when you <em>Undertake a Journey</em>.
        .oracle-row 
          span.sheet-oracle-roll 29-35 (7%)
          span.sheet-oracle-result The travel has cleared your mind. If you Hearten, reroll any dice.
        .oracle-row 
          span.sheet-oracle-roll 36-42 (7%)
          span.sheet-oracle-result This seems to be an ideal place to find a moment of peace. If you <em>Hearten</em>, add +2.
        .oracle-row 
          span.sheet-oracle-roll 43-49 (7%)
          span.sheet-oracle-result This seems to be an ideal place to bolster your reserves. If you <em>Resupply</em>, add +2.
        .oracle-row 
          span.sheet-oracle-roll 50-55 (6%)
          span.sheet-oracle-result This seems to be a place safe enough to rest and recover for several hours. If you <em>Make Camp</em>, add +2.
        .oracle-row 
          span.sheet-oracle-roll 56-61 (6%)
          span.sheet-oracle-result You find a healthy settlement. If you <em>Sojourn</em>, add +1.
        .oracle-row 
          span.sheet-oracle-roll 62-66 (5%)
          span.sheet-oracle-result This area offers a captivating ambience or comfortable environment. If you <em>Hearten</em>, take +1 spirit on a hit.
        .oracle-row 
          span.sheet-oracle-roll 67-71 (5%)
          span.sheet-oracle-result This area offers enough to bolster your reserves if you dedicate enough to it. If you <em>Resupply</em> and score hit, you may suffer -1 momentum in exchange for +1 supply.
        .oracle-row 
          span.sheet-oracle-roll 72-76 (5%)
          span.sheet-oracle-result This waypoint offers more than needed for a modest rest. If you <em>Make Camp</em>, and score a hit, you may choose an extra option.
        .oracle-row 
          span.sheet-oracle-roll 77-80 (4%)
          span.sheet-oracle-result You seem to be closer to your destination than expected. Mark an additional progress in your journey track.
        .oracle-row 
          span.sheet-oracle-roll 81-83 (3%)
          span.sheet-oracle-result This area offers just what you need to camp. If you <em>Make Camp</em>, you may reroll any dice.
        .oracle-row 
          span.sheet-oracle-roll 84-86 (3%)
          span.sheet-oracle-result You reach this waypoint just at an opportune time to bolster your reserves. If you <em>Resupply</em> now, you may reroll any dice.
        .oracle-row 
          span.sheet-oracle-roll 87-88 (2%)
          span.sheet-oracle-result There is a hidden passage that could be a shortcut. If you <em>Reach Your Destination</em>, you may reroll any dice.
        .oracle-row 
          span.sheet-oracle-roll 89-96 (8%)
          span.sheet-oracle-result You reach a location of interest related to one of your quests or that might lead to one. Take +2 momentum.
        .oracle-row 
          span.sheet-oracle-roll 97-98 (2%)
          span.sheet-oracle-result Choose one result from this table.
        .oracle-row 
          span.sheet-oracle-roll 99-00 (2%)
          span.sheet-oracle-result Roll twice more on this table. Both results occur.

    input(type='radio' name='attr_find_an_opportunity_tables' class=`sheet-opportunity-character sheet-hide` value='2')
    div(class='sheet-opportunity-character sheet-showhide')
      .sheet-oracle-table 
        .oracle-row 
          span.sheet-oracle-roll 1-16 (16%)
          span.sheet-oracle-result You encounter a traveler or denizen who might provide you guide in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for adding +3 next time you <em>Undertake a Journey</em> for this travel.
        .oracle-row 
          span.sheet-oracle-roll 17-30 (14%)
          span.sheet-oracle-result You encounter a traveler or denizen willing to provide you guide and supply. If he does, add +1 next time you <em>Undertake a Journey</em> for this travel and take +1 supply.
        .oracle-row 
          span.sheet-oracle-roll 31-38 (8%)
          span.sheet-oracle-result You encounter a traveler or denizen who might provide you health care in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for making the <em>Hearten</em> move now and add +3.
        .oracle-row 
          span.sheet-oracle-roll 39-46 (8%)
          span.sheet-oracle-result You encounter a traveler or denizen who might rise your spirit in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for making the <em>Heal</em> move now and add +3.
        .oracle-row 
          span.sheet-oracle-roll 47-53 (7%)
          span.sheet-oracle-result You encounter a traveler or denizen willing to rise your spirit. If he does, <em>Hearten</em> now and add +2.
        .oracle-row 
          span.sheet-oracle-roll 54-60 (7%)
          span.sheet-oracle-result You encounter a traveler or denizen willing to give you first aid. If he does, <em>Heal</em> now and add +2.
        .oracle-row 
          span.sheet-oracle-roll 61-70 (10%)
          span.sheet-oracle-result You encounter a provision trader.
        .oracle-row 
          span.sheet-oracle-roll 71-75 (5%)
          span.sheet-oracle-result You encounter an equipment trader.
        .oracle-row 
          span.sheet-oracle-roll 76-79 (4%)
          span.sheet-oracle-result You encounter a traveler or denizen with the potential of being a conditional companion with the goal of serving as hireling and the drive of getting wealth. If you <em>Take a Conditional Companion</em>, add +1.
        .oracle-row 
          span.sheet-oracle-roll 80-83 (4%)
          span.sheet-oracle-result You encounter a traveler or denizen with the potential of being a conditional companion. Take +1 momentum.
        .oracle-row 
          span.sheet-oracle-roll 84-86 (3%)
          span.sheet-oracle-result You encounter one or more travelers or denizens in need for help and with the means to reward you.
        .oracle-row 
          span.sheet-oracle-roll 87-95 (9%)
          span.sheet-oracle-result You encounter one or more characters related to one of you quests or that might lead to one. Take +2 momentum.
        .oracle-row 
          span.sheet-oracle-roll 96-98 (3%)
          span.sheet-oracle-result Roll twice more on this table. Use one result.
        .oracle-row 
          span.sheet-oracle-roll 99-00 (2%)
          span.sheet-oracle-result Choose one result from this table.

    input(type='radio' name='attr_find_an_opportunity_tables' class=`sheet-opportunity-item sheet-hide` value='3')
    div(class='sheet-opportunity-item sheet-showhide')
      .sheet-oracle-table 
        .oracle-row 
          span.sheet-oracle-roll 1-14 (14%)
          span.sheet-oracle-result You find resources that bolster your reserves. Take +1 supply.
        .oracle-row 
          span.sheet-oracle-roll 15-26 (12%)
          span.sheet-oracle-result You find resources that bolster your reserves. Take +2 supply.
        .oracle-row 
          span.sheet-oracle-roll 27-35 (9%)
          span.sheet-oracle-result You find something of value. Take +1 wealth.
        .oracle-row 
          span.sheet-oracle-roll 36-42 (7%)
          span.sheet-oracle-result You find some valuable goods. Take +2 wealth.
        .oracle-row 
          span.sheet-oracle-roll 43-47 (5%)
          span.sheet-oracle-result You find a consumable item of your choice or as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 48-51 (4%)
          span.sheet-oracle-result You find two consumable items of your choice or as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 52-56 (5%)
          span.sheet-oracle-result You find a weapon of cost d4 wealth cost or less of your choice as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 57-59 (3%)
          span.sheet-oracle-result You find a weapon of cost d6 wealth or less of your choice as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 60-61 (2%)
          span.sheet-oracle-result You find a weapon of cost d8+1 wealth or less of your choice as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 62-64 (3%)
          span.sheet-oracle-result You find a shield of cost d4+1 wealth or less of your choice as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 65-66 (2%)
          span.sheet-oracle-result You find a shield of cost d6+1 wealth or less of your choice as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 67-69 (3%)
          span.sheet-oracle-result You find an armor of cost 1d4+3 wealth or less of your choice or as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 70-71 (2%)
          span.sheet-oracle-result You find an armor of cost 1d6+3 wealth or less of your choice as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 72 (1%)
          span.sheet-oracle-result You find an armor of cost 2d4+2 wealth or less of your choice as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 73-80 (8%)
          span.sheet-oracle-result You find an addon of your choice or as appropriate to the circumstances.
        .oracle-row 
          span.sheet-oracle-roll 81-89 (9%)
          span.sheet-oracle-result You find an item of interest related to one of your quests or that might lead to one. Take +2 momentum.
        .oracle-row 
          span.sheet-oracle-roll 90-00 (11%)
          span.sheet-oracle-result Roll twice more on this table. Both results occur.