include ../mixins/container

- var values = { title: 'Find an Opportunity', name: 'FindAnOpportunity', class: 'find-an-opportunity', page: 'page X', radio: 'find_an_opportunity', stat: ``, stat_repeat: '' , roll: true, oracle: true }
+container(values)
//- Find an Opportunity
//- p When you encounter a helpful situation or feature within a travel waypoint or a site, roll to determine what kind of opportunity you encounter.
//- 1-55 (55%) Favorable Area
//- Roll
//- Result
//- 1-11(11%)
//- The travel took shorter than expected. Take +1 momentum.
//- 12-20 (9%)
//- Elements of this area can be used to leverage your travel. If you Undertake a Journey, you may reroll any dice.
//- 21-28 (8%)
//- There is a path that seems to lead towards your destination. If you follow it, add +2 when you Undertake a Journey.
//- 29-35 (7%)
//- The travel has cleared your mind. If you Hearten, reroll any dice.
//- 36-42 (7%)
//- This seems to be an ideal place to find a moment of peace. If you Hearten, add +2.
//- 43-49 (7%)
//- This seems to be an ideal place to bolster your reserves. If you Resupply, add +2.
//- 50-55 (6%)
//- This seems to be a place safe enough to rest and recover for several hours. If you Make Camp, add +2.
//- 56-61 (6%)
//- You find a healthy settlement. If you Sojourn, add +1.
//- 62-66 (5%)
//- This area offers a captivating ambience or comfortable environment. If you Hearten, take +1 spirit on a hit.
//- 67-71 (5%)
//- This area offers enough to bolster your reserves if you dedicate enough to it. If you Resupply and score hit, you may suffer -1 momentum in exchange for +1 supply.
//- 72-76 (5%)
//- This waypoint offers more than needed for a modest rest. If you Make Camp, and score a hit, you may choose an extra option.
//- 77-80 (4%)
//- You seem to be closer to your destination than expected. Mark an additional progress in your journey track.
//- 81-83 (3%)
//- This area offers just what you need to camp. If you Make Camp, you may reroll any dice.
//- 84-86 (3%)
//- You reach this waypoint just at an opportune time to bolster your reserves. If you Resupply now, you may reroll any dice.
//- 87-88 (2%)
//- There is a hidden passage that could be a shortcut. If you Reach Your Destination, you may reroll any dice.
//- 89-96 (8%)
//- You reach a location of interest related to one of your quests or that might lead to one. Take +2 momentum.
//- 97-98 (2%)
//- Choose one result from this table.
//- 99-00 (2%)
//- Roll twice more on this table. Both results occur.

//- 56-80 (25%) Benign Character Encounter
//- Roll
//- Result
//- 1-16 (16%)
//- You encounter a traveler or denizen who might provide you guide in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for adding +3 next time you Undertake a Journey for this travel.
//- 17-30 (14%)
//- You encounter a traveler or denizen willing to provide you guide and supply. If he does, add +1 next time you Undertake a Journey for this travel and take +1 supply.
//- 31-38 (8%)
//- You encounter a traveler or denizen who might provide you health care in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for making the Hearten move now and add +3.
//- 39-46 (8%)
//- You encounter a traveler or denizen who might rise your spirit in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for making the Heal move now and add +3.
//- 47-53 (7%)
//- You encounter a traveler or denizen willing to rise your spirit. If he does, Hearten now and add +2.
//- 54-60 (7%)
//- You encounter a traveler or denizen willing to give you first aid. If he does, Heal now and add +2.
//- 61-70 (10%)
//- You encounter a provision trader.
//- 71-75 (5%)
//- You encounter an equipment trader.
//- 76-79 (4%)
//- You encounter a traveler or denizen with the potential of being a conditional companion with the goal of serving as hireling and the drive of getting wealth. If you Take a Conditional Companion, add +1add +1
//- 80-83 (4%)
//- You encounter a traveler or denizen with the potential of being a conditional companion. Take +1 momentum.
//- 84-86 (3%)
//- You encounter one or more travelers or denizens in need for help and with the means to reward you.
//- 87-95 (9%)
//- You encounter one or more characters related to one of you quests or that might lead to one. Take +2 momentum.
//- 96-98 (3%)
//- Roll twice more on this table. Use one result.
//- 99-00 (2%)
//- Choose one result from this table.

//- 81-00 (20%) Item Finding
//- Roll
//- Result
//- 1-14 (14%)
//- You find resources that bolster your reserves. Take +1 supply.
//- 15-26 (12%)
//- You find resources that bolster your reserves. Take +2 supply.
//- 27-35 (9%)
//- You find something of value. Take +1 wealth.
//- 36-42 (7%)
//- You find some valuable goods. Take +2 wealth.
//- 43-47 (5%)
//- You find a consumable item of your choice or as appropriate to the circumstances.
//- 48-51 (4%)
//- You find two consumable items of your choice or as appropriate to the circumstances.
//- 52-56 (5%)
//- You find a weapon of cost d4 wealth cost or less of your choice as appropriate to the circumstances.
//- 57-59 (3%)
//- You find a weapon of cost d6 wealth or less of your choice as appropriate to the circumstances.
//- 60-61 (2%)
//- You find a weapon of cost d8+1 wealth or less of your choice as appropriate to the circumstances.
//- 62-64 (3%)
//- You find a shield of cost d4+1 wealth or less of your choice as appropriate to the circumstances.
//- 65-66 (2%)
//- You find a shield of cost d6+1 wealth or less of your choice as appropriate to the circumstances.
//- 67-69 (3%)
//- You find an armor of cost 1d4+3 wealth or less of your choice or as appropriate to the circumstances.
//- 70-71 (2%)
//- You find an armor of cost 1d6+3 wealth or less of your choice as appropriate to the circumstances.
//- 72 (1%)
//- You find an armor of cost 2d4+2 wealth or less of your choice as appropriate to the circumstances.
//- 73-80 (8%)
//- You find an addon of your choice or as appropriate to the circumstances.
//- 81-89 (9%)
//- You find an item of interest related to one of your quests or that might lead to one. Take +2 momentum.
//- 90-00 (11%)
//- Roll twice more on this table. Both results occur.