include ../mixins/container

mixin FoeInflictsHarm(values)
  +container(values)
    p When <strong>you face harm from a foe</strong>, roll their combat move harm and <em>Endure Harm</em> with the resulting score.
