include ../mixins/container

- var values = { title: 'Foe Inflicts Harm', name: 'FoeInflictsHarm', class: 'foe-inflicts-harm', page: 'page X', radio: 'foe_inflicts_harm', stat: ``, stat_repeat: '' }
+container(values)
  p When you face harm from a foe, roll their combat move harm and Endure Harm with the resulting score.
