include ../mixins/container

mixin ForgeABond(values)
  +container(values)
    p When <strong>you spend significant time with a person or community, stand together to face hardships, or make sacrifices for their cause</strong>, you can attempt to create a bond. When you do, roll +heart. If you make this move after you successfully <em>Fulfill Your Vow</em> to their benefit, you may reroll any dice.
    p On a <strong>strong hit</strong>, make note of the bond, mark a tick on your bond progress track, and choose one.
    ul
      li Take +2 spirit.
      li Take +4 momentum.
    p On a <strong>weak hit</strong>, they ask something more of you first. Envision what it is, do it (or <em>Swear an Iron Vow</em>), and mark the bond. If you refuse or fail, <em>Pay the Price</em>.
    p On a <strong>miss</strong>, they reject you. <em>Pay the Price</em>.
