include ../mixins/container

- var values = { title: 'Forsake Your Vow', name: 'Forsake Your Vow', class: 'forsake-your-vow', page: 'page X', radio: 'forsake_your_vow', stat: ``, stat_repeat: '' }
+container(values)
  p When you renounce your quest, betray your promise, or the goal is lost to you, clear the vow and Endure Stress. You suffer -spirit equal to the rank of your quest (troublesome=1; dangerous=2; formidable=3; extreme=4; epic=5).
  p If the vow was made to a person or community with whom you share a bond, Test Your Bond when you next meet.