include ../mixins/container

mixin ForsakeYourVow(values)
  +container(values)
    p When <strong>you renounce your quest, betray your promise, or the goal is lost to you</strong>, clear the vow and <em>Endure Stress</em>. You suffer -spirit equal to the rank of your quest (troublesome=1; dangerous=2; formidable=3; extreme=4; epic=5).
    p If the vow was made to a person or community with whom you share a bond, <em>Test Your Bond</em> when you next meet.