include ../mixins/container

mixin FulfillYourVow(values)
  +container(values)
    p <strong><em>Progress Move</em></strong>
    p When <strong>you achieve what you believe to be the fulfillment of your vow</strong>, roll the challenge dice and compare to your progress.
    p On a <strong>strong hit</strong>, your quest is complete. Mark experience (troublesome=1; dangerous=2; formidable=3; extreme=4; epic=5).
    p On a <strong>weak hit</strong>, there is more to be done or you realize the truth of your quest. Envision what you discover. Then, mark experience (troublesome=0; dangerous=1; formidable=2; extreme=3; epic=4). You may <em>Swear an Iron Vow</em> to set things right. If you do, add +1.
    p If you are fulfilling your vow in service of someone with the means, inclination, or obligation, to reward you materially, take +wealth. On a strong hit, take +wealth equal to the rank of the vow+2. On a weak hit, take +wealth equal to the rank of vow+1. If you are being rewarded with an item, its cost must be the same as the amount of wealth.
    p On a <strong>miss</strong>, your quest is undone. Envision what happens, and choose one.
    ul
      li You recommit: Clear all but one filled progress, and raise the quest’s rank by one (if not already epic).
      li You give up: <em>Forsake Your Vow</em>.