include ../mixins/container

- var values = { title: 'Gather Information', name: 'GatherInformation', class: 'gather-information', page: 'page X', radio: 'gather_information', stat: ``, stat_repeat: '', roll: true }
+container(values)
  p When you search an area, ask questions, conduct an investigation, or follow a track, roll +wits. If you act within a community or ask questions of a person with whom you share a bond, add +2.
  p On a strong hit, you discover something helpful and specific. The path you must follow or action you must take to make progress is made clear. Envision what you learn, and take +4 momentum.
  p On a weak hit, you discover something helpful, but the information complicates your quest or a new danger is introduced. Envision what you discover, and take +2 momentum.
  p On a miss, your investigation unearths a dire threat or reveals an unwelcome truth that undermines your quest. Pay the Price.
