include ../mixins/container

mixin GatherInformation(values)
  +container(values)
    p When <strong>you search an area, ask questions, conduct an investigation, or follow a track</strong>, roll +wits. If you act within a community or ask questions of a person with whom you share a bond, add +2.
    p On a <strong>strong hit</strong>, you discover something helpful and specific. The path you must follow or action you must take to make progress is made clear. Envision what you learn, and take +4 momentum.
    p On a <strong>weak hit</strong>, you discover something helpful, but the information complicates your quest or a new danger is introduced. Envision what you discover, and take +2 momentum.
    p On a <strong>miss</strong>, your investigation unearths a dire threat or reveals an unwelcome truth that undermines your quest. <em>Pay the Price</em>.
