include ../mixins/container

mixin Heal(values)
  +container(values)
    p When <strong>you receive care or treat an injury or ailment</strong>, envision the situation and roll. If you…
    ul
      li Receive treatment from someone (not an ally or companion): Roll +iron.
      li Mend your own wounds: Roll +iron or +wits, whichever is lower.
      li Provide care: Roll +wits.
    p On a <strong>strong hit</strong>, your care is helpful. If you (or the ally under your care) have the palsied, wounded, reeled or dying conditions, you may clear them. Then, take or give up to +4 health.
    p If you are making this move using an antivenom, clear the poisoned condition instead of the stated above.
    p On a <strong>weak hit</strong>, as above, but you must suffer -2 supply or -2 momentum (your choice).
    p On a <strong>miss</strong>, the aid is ineffective. <em>Pay the Price</em>.
