include ../mixins/container

mixin Hearten(values)
  +container(values)
    p When <strong>you speak encouraging words, or find a moment of peace, to help you, or someone else, to recover from stress or emotional trauma</strong>, roll +heart.
    p On a <strong>strong hit</strong>, your heartening is helpful. If you (or the ally under your care) have the shaken condition, you may clear them; you may also reduce the severity of a compulsed and hallucinating conditions by 1. Then, take or give up to +3 spirit.
    p On a <strong>weak hit</strong>, as above, but you must suffer -2 momentum and don’t reduce the severity of any condition.
    p On a <strong>miss</strong>, your aid is ineffective. <em>Pay the Price</em>.