include ../mixins/container

mixin InflictHarm(values)
  +container(values)
    p When <strong>you deal physical damage</strong>, roll your weapon’s harm. If you are hitting your foe’s protection and not breaking their defense rating, subtract your foe’s protection from each roll. Your foe suffers -health with the resulting score.