include ../mixins/container

- var values = { title: 'Learn from Faults', name: 'LearnFromFaults', class: 'learn-from-faults', page: 'page X', radio: 'learn_from_faults', stat: ``, stat_repeat: '', roll: true, progress: true }
+container(values)
  p When you spend time taking lessons from your failures and hardships, and your misses track is +6 or greater, roll the challenge dice and compare to your misses.
  p On a strong hit, your failures have paid off significantly for your personal growth. Take 3 experience and clear all progress. Then, choose one.
  ul
    li Rectify your ways: Reduce any stat by 1 and add +1 to any other.
    li Abandon a course: Discard a single asset card (not a companion) and take 2 experience for each marked ability.
    li Commit to a new goal: Swear an Iron Vow now, add +2 and take +2 momentum on a hit You may reroll.
    li Strengthen your willpower: Take +6 momentum.
  p On a weak hit, you learn from your missteps. Take 2 experience and clear all progress.
  p On a miss, you learn very little. Take 1 experience and clear all progress.