include ../mixins/container

mixin LearnFromFaults(values)
  +container(values)
    p When <strong>you spend time taking lessons from your failures and hardships, and your misses track is +6 or greater</strong>, roll the challenge dice and compare to your misses.
    p On a <strong>strong hit</strong>, your failures have paid off significantly for your personal growth. Take 3 experience and clear all progress. Then, choose one.
    ul
      li Rectify your ways: Reduce any stat by 1 and add +1 to any other.
      li Abandon a course: Discard a single asset card (not a companion) and take 2 experience for each marked ability.
      li Commit to a new goal: <em>Swear an Iron Vow</em> now, add +2 and take +2 momentum on a hit You may reroll.
      li Strengthen your willpower: Take +6 momentum.
    p On a <strong>weak hit</strong>, you learn from your missteps. Take 2 experience and clear all progress.
    p On a <strong>miss</strong>, you learn very little. Take 1 experience and clear all progress.