include ../mixins/container

- var values = { title: 'Make an Effort', name: 'MakeAnEffort', class: 'make-an-effort', page: 'page X', radio: 'make_an_effort', stat: ``, stat_repeat: '' }
+container(values)
  p When you make a move demanding more of yourself and have the required effort level, you may suffer -momentum in exchange for the same amount of your move effort level to addition to your roll.