include ../mixins/container

mixin MakeCamp(values)
  +container(values)
    p When <strong>you rest and recover for several hours in the wild</strong>, roll +supply.
    p On a <strong>strong hit</strong>, if you have the dazed or starved conditions, you may clear them. Then, you and your allies may each choose two.
    p On a <strong>weak hit</strong>, as above, but you and your allies may choose one instead.
    ul
      li Recuperate: Take +25% of your maximum health. If you have the blinded, deafened or weakened conditions, you may clear them.
      li Partake: Suffer -3 supply and take +25% of maximum health for you and any companions. If you or your companion you are partaking with has the conditions of in the above option, you may clear them.
      li Relax: Take +2 spirit. If you have the unsteady condition, you may clear it.
      li Focus: Take +3 momentum. If you have the stupefied condition, you may clear it.
      li Prepare: When you break camp, add +2 if you <em>Undertake a Journey</em>.
    p On a <strong>miss</strong>, you take no comfort. <em>Pay the Price</em>.