include ../mixins/container

mixin MakeAnEffort(values)
  +container(values)
    p When <strong>you make a move demanding more of yourself and have the required effort level</strong>, you may suffer -momentum in exchange for the same amount of your move effort level to addition to your roll.