include ../mixins/container

mixin ManifestInsanity(values)
  +container(values)
    p When <strong>you fail to struggle against a mental shock</strong>, make the most obvious negative outcome happen from the following tables, or roll on them to determine what kind of insanity you manifest (1-70=short-term insanity, 71-00=long-term insanity).
//- Short-term Insanity
//- Roll
//- Result
//- 1-28 (28%)
//- You get scared, and your next move should imply to flee as far as possible from the source of the fear or danger.
//- 29-51 (23%)
//- Your spirit is overwhelmed. Take the dazed condition.
//- 52-69 (18%)
//- You show hysteric and emotional outburst by screaming, laughing, crying. Every other ally and companion must Endure Stress (1d2 stress) as a result.
//- 70-87 (18%)
//- You begin babbling, coherently (logorrhoea) or incoherently. Your words show abuse, fear, hopelessness, irrationality or selfishness. Every other ally and companion must Endure Stress (1d3 stress) as a result.
//- 88-95 (8%)
//- You Inflict Harm on yourself.
//- 96-00 (5%)
//- You faint. Take the unconscious condition.
//- Long-term Insanity
//- Roll
//- Result
//- 1-15 (15%)
//- Take the phobiac (severity 4) condition.
//- 16-29 (14%)
//- Take the attached (severity 4) condition.
//- 30-36 (7%)
//- Take the hallucinating (severity 2) condition.
//- 37-53 (17%)
//- Take the compulsed (severity 4) condition.
//- 54-57 (4%)
//- You start suffering psychosomatic deafness. Take the deafened (severity +1) condition.
//- 58-60 (3%)
//- You start suffering psychosomatic blindness. Take the blind (severity +1) condition.
//- 61-73 (13%)
//- Take the mute condition.
//- 74-85 (12%)
//- You retreat into your mind, oblivious to events around you. If no immediate danger is around, you assume fetal position. Take the dazed, mute and unsteady (shaky) conditions.
//- 86-93 (8%)
//- You become catatonic. Take the dazed, mute and stupefied conditions.
//- 94-98 (5%)
//- Take the amok (severity 3) condition. Then, Clash the nearest target, whether they are an ally, companion, foe or else.
//- 99-00 (2%)
//- Take the amnesiac (severity 5) condition.
