include ../mixins/container
include ../mixins/oracle-table
include ../../../data/oracles

mixin ManifestInsanity(values)
  +container(values)
    p When <strong>you fail to struggle against a mental shock</strong>, make the most obvious negative outcome happen from the following tables, or roll on them to determine what kind of insanity you manifest.
    .sheet-move-sub-nav
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_manifest_insanity_button' class='sheet-hide sheet-table-btn' value='1' checked)
        .sheet-move-nav-content 1-70 (70%) Short-term Insanity
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_manifest_insanity_button' class='sheet-hide sheet-table-btn' value='2')
        .sheet-move-nav-content 71-100 (30%)Long-term Insanity
    +oracleTable(oracles.ironcrunch[2])