include ../mixins/container
include ../mixins/oracle-table
include ../../../data/oracles

mixin ManifestInsanity(values)
  - var type = 'ironcrunch'
  - var key = 'Manifest Insanity'
  +container(values)
    p When <strong>you fail to struggle against a mental shock</strong>, make the most obvious negative outcome happen from the following tables, or roll on them to determine what kind of insanity you manifest.
    +oracleTable(oracles[type][key], `${type}`)