include ../mixins/container

mixin NotAssistConditionalCompanion(values)
  +container(values)
    p When <strong>a conditional companion suffers the consequence of one of your moves and you don’t come to their aid</strong>, suffer -1 to their loyalty.
