include ../mixins/container

mixin OrderConditionalCompanion(values)
  +container(values)
    p When <strong>you ask a conditional companion to act for something not akin to their drives, motivations or the fulfillment of their goal</strong>, or if the conditional companion is a hireling, roll +loyalty. If you share a bond, you may reroll any dice.
    p On a <strong>strong hit</strong>, your <em>Conditional Companion Acts</em>, but suffer -1 to their loyalty.
    p On a <strong>weak hit</strong>, your <em>Conditional Companion Acts</em>, but not without whimper. Suffer -2 to their loyalty.
    p On a <strong>miss</strong>, your conditional companion refuses to follow your request. Suffer -2 to their loyalty.