include ../mixins/container

mixin OutOfSupply(values)
  +container(values)
    p When <strong>your supply is exhausted (reduced to 0)</strong>, take the unprepared condition. If you suffer additional -supply while unprepared, you must exchange each additional -supply for any combination of -health, -spirit, -wealth, -companion’s loyalty or -momentum as appropriate to the circumstances.
