include ../mixins/container

mixin PatchEquipment(values)
  +container(values)
    p When <strong>you attempt to amend an armor or shield</strong>, envision how provisions from your gear help you patch the piece of equipment and suffer -2 supply. Then, roll +wits.
    p On a <strong>strong hit</strong>, your amendment is efficient. Choose one.
    ul
      li Rise by 1 your armor’s protection.
      li Rise by 1 your armor’s Endure Harm addition.
      li Rise by 1 your shield’s Face Danger/Clash addition.
    p On a <strong>weak hit</strong>, as above, but the patch work takes longer than expected or demand extra resources. Suffer -2 momentum.
    p On a <strong>miss</strong>, your craft is ineffective. <em>Pay the Price</em>.