include ../mixins/container

mixin PayThePrice(values)
  +container(values)
    p When <strong>you suffer the outcome of a move</strong>, mark a tick on your miss track; if it is a progress move, mark two; on a match, mark the double. Then, draw a resilience card and choose one.
    ul
      li Make the most obvious negative outcome happen.
      li Envision two negative outcomes. Rate one as ‘likely’, and <em>Ask the Oracle</em> using the yes/no table. On a ‘yes’, make that outcome happen. Otherwise, make it the other.
      li Roll on the following table. If you have difficulty interpreting the result to fit the current situation, roll again.
    .sheet-oracle-table 
      .oracle-row 
        span.sheet-oracle-roll 1-2 (2%)
        span.sheet-oracle-result Roll again and apply that result but make it worse. If you roll this result yet again, think of something dreadful that changes the course of your quest and make it happen.
      .oracle-row 
        span.sheet-oracle-roll 3-5 (3%)
        span.sheet-oracle-result A person or community you trusted loses faith in you, or acts against you.
      .oracle-row 
        span.sheet-oracle-roll 6-8 (3%)
        span.sheet-oracle-result A person or community you care about is exposed to danger.
      .oracle-row 
        span.sheet-oracle-roll 9-15 (7%)
        span.sheet-oracle-result You are separated from something or someone.
      .oracle-row 
        span.sheet-oracle-roll 16-22 (7%)
        span.sheet-oracle-result Your action has an unintended effect.
      .oracle-row 
        span.sheet-oracle-roll 23-29 (7%)
        span.sheet-oracle-result Something of value is lost or destroyed.
      .oracle-row 
        span.sheet-oracle-roll 30-36 (7%)
        span.sheet-oracle-result The current situation worsens.
      .oracle-row 
        span.sheet-oracle-roll 37-43 (7%)
        span.sheet-oracle-result A new danger or foe is revealed.
      .oracle-row 
        span.sheet-oracle-roll 44-52 (9%)
        span.sheet-oracle-result It causes a delay or puts you at a disadvantage.
      .oracle-row 
        span.sheet-oracle-roll 53-61 (9%)
        span.sheet-oracle-result It is harmful.
      .oracle-row 
        span.sheet-oracle-roll 62-70 (9%)
        span.sheet-oracle-result It is stressful.
      .oracle-row 
        span.sheet-oracle-roll 71-77 (7%)
        span.sheet-oracle-result It is wasteful.
      .oracle-row 
        span.sheet-oracle-roll 78-84 (7%)
        span.sheet-oracle-result You got a negative condition.
      .oracle-row 
        span.sheet-oracle-roll 85-89 (5%)
        span.sheet-oracle-result A surprising development complicates your quest.
      .oracle-row 
        span.sheet-oracle-roll 90-94 (5%)
        span.sheet-oracle-result It forces you to act against your best intentions.
      .oracle-row 
        span.sheet-oracle-roll 95-99 (5%)
        span.sheet-oracle-result A friend, companion, or ally is put in harm’s way (or you are, if alone).
      .oracle-row 
        span.sheet-oracle-roll 100 (1%)
        span.sheet-oracle-result Roll twice more on this table. Both results occur. If they are the same result, make it worse.