include ../mixins/container

- var values = { title: 'Reach a Milestone', name: 'ReachAMilestone', class: 'reach-a-milestone', page: 'page X', radio: 'reach_a_milestone', stat: ``, stat_repeat: '' }
+container(values)
  p When you make significant progress in your quest by overcoming a critical obstacle, completing a perilous journey, solving a complex mystery, defeating a powerful threat, gaining vital support, or acquiring a crucial item, you may mark progress.
  ul
    li Troublesome quest: Mark 3 progress.
    li Dangerous quest: Mark 2 progress.
    li Formidable quest: Mark 1 progress.
    li Extreme quest: Mark 2 ticks.
    li Epic quest: Mark 1 tick.
