include ../mixins/container

mixin ReachYourDestination(values)
  +container(values)
    p <strong><em>Progress Move</em></strong>
    p When your journey comes to an end, roll the challenge dice and compare to your progress. Momentum is ignored on this roll.
    p On a <strong>strong hit</strong>, the situation at your destination favors you. Choose one.
    ul
      li Make another move now (not a progress move), and add +2.
      li Take +2 momentum.
    p On a <strong>weak hit</strong>, you arrive but face an unforeseen hazard or complication. Envision what you find, and take +1 momentum.
    p On a <strong>miss</strong>, you have gone hopelessly astray, your objective is lost to you, or you were misled about your destination. If your journey continues, clear all but one filled progress, and raise the journey’s rank by one (if not already epic).
