include ../mixins/container

mixin ReachAMilestone(values)
  +container(values)
    p When <strong>you make significant progress in your quest by overcoming a critical obstacle, completing a perilous journey, solving a complex mystery, defeating a powerful threat, gaining vital support, or acquiring a crucial item</strong>, you may mark progress.
    ul
      li Troublesome quest: Mark 3 progress.
      li Dangerous quest: Mark 2 progress.
      li Formidable quest: Mark 1 progress.
      li Extreme quest: Mark 2 ticks.
      li Epic quest: Mark 1 tick.
