include ../mixins/container

mixin Resupply(values)
  +container(values)
    p When <strong>you hunt, forage or scavenge</strong>, roll +wits.
    p On a <strong>strong hit</strong>, you bolster your resources. If you have the unprepared condition, you may clear it. Then, take up to +3 supply and +1d2-1 wealth.
    p On a <strong>weak hit</strong>, take up to +2 supply, but suffer -1 momentum for each.
    p On a <strong>hit</strong>, if you are looting the dead, envision what you loot according to the dead’s wearing, gear or nature and take +wealth according to its rank. If the rank is...
    ul
      li Troublesome: Take +1d2-1
      li Dangerous: Take +1d2 wealth.
      li Formidable: Take +1d3 wealth.
      li Extreme: Take +1d4 wealth.
      li Epic: Take +1d6 wealth.
    p On a <strong>miss</strong>, you find nothing helpful or your assumptions betray you. <em>Pay the Price</em>.