include ../mixins/container
include ../mixins/oracle-table
include ../../../data/oracles

mixin RevealADanger(values)
  +container(values)
    p When <strong>you are undertaking a journey and are waylaid by a perilous event, or delving the depths of a site and find yourself in a risky situation</strong>, make the most obvious negative outcome happen from the following tables, or roll on them to determine what kind of danger you encounter.
    +oracleTable(oracles.ironcrunch['Reveal A Danger'], 'ironcrunch')
