include ../mixins/container
include ../mixins/oracle-table
include ../../../data/oracles

mixin RevealADanger(values)
  +container(values)
    p When <strong>you are undertaking a journey and are waylaid by a perilous event, or delving the depths of a site and find yourself in a risky situation</strong>, make the most obvious negative outcome happen from the following tables, or roll on them to determine what kind of danger you encounter.
    .sheet-move-sub-nav
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_reveal_a_danger_button' class='sheet-hide sheet-table-btn' value='1' checked)
        .sheet-move-nav-content 1-25 (25%) Worsening of the Situation
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_reveal_a_danger_button' class='sheet-hide sheet-table-btn' value='2')
        .sheet-move-nav-content 26-60 (35%) Unfavorable Road
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_reveal_a_danger_button' class='sheet-hide sheet-table-btn' value='3')
        .sheet-move-nav-content 61-100 (40%) Hostile Character Encounter
    +oracleTable(oracles.ironcrunch[0])
