include ../mixins/container

mixin RevealADanger(values)
  +container(values)
    p When <strong>you are undertaking a journey and are waylaid by a perilous event, or delving the depths of a site and find yourself in a risky situation</strong>, make the most obvious negative outcome happen from the following tables, or roll on them to determine what kind of danger you encounter.
    .sheet-move-sub-nav
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_reveal_a_danger_button' class='sheet-hide sheet-table-btn' value='1' checked)
        .sheet-move-nav-content 1-25 (25%) Worsening of the Situation
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_reveal_a_danger_button' class='sheet-hide sheet-table-btn' value='2')
        .sheet-move-nav-content 26-60 (35%) Unfavorable Road
      label.sheet-btn.sheet-move-nav-child
        input(type='radio' name='attr_reveal_a_danger_button' class='sheet-hide sheet-table-btn' value='3')
        .sheet-move-nav-content 61-00 (40%) Hostile Character Encounter

    input(type='radio' name='attr_reveal_a_danger_tables' class=`sheet-danger-situation sheet-hide` value='1')
    div(class='sheet-danger-situation sheet-showhide')
      .sheet-oracle-table 
        .oracle-row 
          span.sheet-oracle-roll 1-13 (13%)
          span.sheet-oracle-result A portion of an edible resource got spoiled or lost. Suffer -1 supply. If your supply is 0, reroll on this table.
        .oracle-row 
          span.sheet-oracle-roll 14-24 (11%)
          span.sheet-oracle-result The travel is taking longer than expected. Suffer -1 momentum.
        .oracle-row 
          span.sheet-oracle-roll 25-34 (10%)
          span.sheet-oracle-result The trip was tough and left you tired. <em>Endure Harm</em> (1d4P harm).
        .oracle-row 
          span.sheet-oracle-roll 35-42 (8%)
          span.sheet-oracle-result The travel has drained your energies. <em>Endure Harm</em> (1d4P harm) and take the weakened (severity +1) condition.
        .oracle-row 
          span.sheet-oracle-roll 43-50 (8%)
          span.sheet-oracle-result The travel has left you stressed or mentally fatigued. <em>Endure Stress</em> (1d2 stress).
        .oracle-row 
          span.sheet-oracle-roll 51-57 (7%)
          span.sheet-oracle-result A friend or companion starts arguing for previous acts or complaining about the rough travel. Suffer -1d3 to their loyalty. If you don't have a companion, reroll on this table.
        .oracle-row 
          span.sheet-oracle-roll 58-64 (7%)
          span.sheet-oracle-result You realize you lost some valuable goods on the way. Suffer -2 wealth. If your wealth is reduced to 0, suffer -momentum to any remaining -wealth.
        .oracle-row 
          span.sheet-oracle-roll 65-71 (7%)
          span.sheet-oracle-result You realize too late that the supply container is broken and has a leak. Suffer -2 supply.
        .oracle-row 
          span.sheet-oracle-roll 72-77 (6%)
          span.sheet-oracle-result You realize you lost one of your valuable items on the way. Suffer -1 wealth. If your wealth is 0, reroll on this table.
        .oracle-row 
          span.sheet-oracle-roll 78-83 (6%)
          span.sheet-oracle-result You realize that one of the items you thought to be valuable, is actually not, or not worthy in its current state. Suffer -1 wealth and -1 momentum. If your wealth is an its minimum (0), reroll on this table.
        .oracle-row 
          span.sheet-oracle-roll 84-89 (6%)
          span.sheet-oracle-result You make a discovery that complicates one of your quests. Suffer -2 momentum.
        .oracle-row 
          span.sheet-oracle-roll 90-94 (5%)
          span.sheet-oracle-result A piece of equipment loses durability. Reduce any of your armor’s or shield’s values by 1. If you have no armor or shield item, reroll on this table.
        .oracle-row 
          span.sheet-oracle-roll 95-97 (3%)
          span.sheet-oracle-result You start suffering from muscle cramp, sprain or strain. <em>Endure Harm</em> (1d4P harm) and take the palsied (severity 1) condition.
        .oracle-row 
          span.sheet-oracle-roll 98-99 (2%)
          span.sheet-oracle-result You realize that one of your conditional companions is no longer by your side. Suffer -1 momentum. If you don't have a conditional companion, reroll on this table.
        .oracle-row 
          span.sheet-oracle-roll 00 (1%)
          span.sheet-oracle-result Roll twice more on this table. Both results occur. If they are the same result, double its effect.
    
    input(type='radio' name='attr_reveal_a_danger_tables' class=`sheet-danger-road sheet-hide` value='2')
    div(class='sheet-danger-road sheet-showhide')
      .sheet-oracle-table 
        .oracle-row 
          span.sheet-oracle-roll 1-13 (13%)
          span.sheet-oracle-result The terrain or the weather plays against you, hindering you. Subtract -1 to your next move. Take the hyperthermic or hypothermic condition if appropriate.
        .oracle-row 
          span.sheet-oracle-roll 14-25 (12%)
          span.sheet-oracle-result An environmental hazard forces you to pass through this area in a precarious manner. If you make a move to resolve this danger, subtract -1.
        .oracle-row 
          span.sheet-oracle-roll 26-35 (10%)
          span.sheet-oracle-result Whether it is human made or a fortuity of nature, you, or someone with you, is victim of a trap. If you make a move of resolve this danger, subtract -1.
        .oracle-row 
          span.sheet-oracle-roll 36-44 (9%)
          span.sheet-oracle-result You suffer some bruises on the way. <em>Endure Harm</em> (1d4 harm).
        .oracle-row 
          span.sheet-oracle-roll 45-52 (8%)
          span.sheet-oracle-result You consumed some resources, and this road lacks sources to replenish from. Suffer -1 supply. If you Resupply, count a strong hit as a weak hit, and a weak hit as a miss.
        .oracle-row 
          span.sheet-oracle-roll 53-60 (8%)
          span.sheet-oracle-result The travel has been mentally grueling. <em>Endure Stress</em> (1 stress). If you Hearten, count a strong hit as a weak hit, and a weak hit as a miss.
        .oracle-row 
          span.sheet-oracle-roll 61-68 (8%)
          span.sheet-oracle-result You have not reached your waypoint yet, and this stop is too precarious to rest safely. If you <em>Make Camp</em>, count a strong hit as a weak hit, and a weak hit as a miss.
        .oracle-row 
          span.sheet-oracle-roll 69-75 (7%)
          span.sheet-oracle-result The path is broken and there doesn't seem to be a lead to follow it. Subtract -1 next time you <em>Undertake a Journey</em> for this travel.
        .oracle-row 
          span.sheet-oracle-roll 76-81 (6%)
          span.sheet-oracle-result An obstacle is blocking the path you intend to follow. Subtract -1 for your next move to resolve the obstacle or suffer -2 momentum causing a delay on your travel.
        .oracle-row 
          span.sheet-oracle-roll 82-86 (5%)
          span.sheet-oracle-result The path has a disturbing ambience or you find the horrible fate of a victim of this place. <em>Endure Stress</em> (1d4 stress).
        .oracle-row 
          span.sheet-oracle-roll 87-90 (4%)
          span.sheet-oracle-result The environment undermines the path or the weather is disorienting, and you find difficult to recognize the track. Subtract -2 next time you Undertake a Journey for this travel.
        .oracle-row 
          span.sheet-oracle-roll 91-94 (4%)
          span.sheet-oracle-result Whether it was something you ate or something in the surroundings, you are now ill. <em>Endure Harm</em> (1d4P harm) and take the poisoned (severity +1) condition.
        .oracle-row 
          span.sheet-oracle-roll 95-97 (3%)
          span.sheet-oracle-result Whether it was something you ate or something in the surroundings, you got poisoned. Take the poisoned (severity +2) condition.
        .oracle-row 
          span.sheet-oracle-roll 98-99 (2%)
          span.sheet-oracle-result You realized you have been following the wrong path, and trickery leads have left you astray. Clear 1d2 progress boxes in the journey track. Next time you <em>Undertake a Journey</em>, you don’t mark progress if you score a hit.
        .oracle-row 
          span.sheet-oracle-roll 00 (1%)
          span.sheet-oracle-result Roll twice more on this table. Both results occur. If they are the same result, double its effect.
    
    input(type='radio' name='attr_reveal_a_danger_tables' class=`sheet-danger-character sheet-hide` value='3')
    div(class='sheet-danger-character sheet-showhide')
      .sheet-oracle-table 
        .oracle-row 
          span.sheet-oracle-roll 1-13 (13%)
          span.sheet-oracle-result You converge with one or multiple travelers or denizens in this area, facing off.
        .oracle-row 
          span.sheet-oracle-roll 14-26 (13%)
          span.sheet-oracle-result One or multiple unaware travelers or denizens are guarding this area, either laid in wait, patrolling or working.
        .oracle-row 
          span.sheet-oracle-roll 27-39 (13%)
          span.sheet-oracle-result You're ambushed, or attacked without warning.
        .oracle-row 
          span.sheet-oracle-roll 40-51 (12%)
          span.sheet-oracle-result Your presence has caught the attention of one or multiple travelers or denizens in the area.
        .oracle-row 
          span.sheet-oracle-roll 52-63 (12%)
          span.sheet-oracle-result Your arrival to this area has been expected.
        .oracle-row 
          span.sheet-oracle-roll 64-75 (12%)
          span.sheet-oracle-result You sense one or multiple presences lurking or stalking.
        .oracle-row 
          span.sheet-oracle-roll 76-85 (10%)
          span.sheet-oracle-result One or multiple unaware travelers or denizens are blocking or undermining the path in some way.
        .oracle-row 
          span.sheet-oracle-roll 86-93 (8%)
          span.sheet-oracle-result You find one or multiple travelers or denizens in unfavorable circumstances.
        .oracle-row 
          span.sheet-oracle-roll 94-98 (5%)
          span.sheet-oracle-result You find one or multiple travelers or denizens’ pets or underlings.
        .oracle-row
          span.sheet-oracle-roll 99-00 (2%)
          span.sheet-oracle-result You find one or multiple travelers or denizens’ pets or underlings
        .oracle-row 
          span.sheet-oracle-roll 99-00 (2%)
          span.sheet-oracle-result Roll twice more on this table, and use one result.
