include ../mixins/container

mixin SecureAnAdvantage(values)
  +container(values)
    p When <strong>you assess a situation, make preparations, or attempt to gain leverage</strong>, envision your action and roll. If you act...
      li With speed, agility, or precision: Roll +edge.
      li With charm, loyalty, or courage: Roll +heart.
      li With aggressive action, forceful defense, strength, or endurance: Roll +iron.
      li With deception, stealth, or trickery: Roll +shadow.
      li With expertise, insight, or observation: Roll +wits.
    p On a <strong>strong hit</strong>, you gain advantage. Choose one.
      li Take control: Make another move now (not a progress move), and add +2.
      li Prepare to act: Take +4 momentum.
    p On a <strong>weak hit</strong>, your advantage is short-lived. Take +2 momentum.
    p On a <strong>miss</strong>, you fail or your assumptions betray you. <em>Pay the Price</em>.
