include ../mixins/container

mixin ShowResilience(values)
  +container(values)
    p When <strong>you make a move, and have in a hand a resilience card with the corresponding suit of the move</strong>, these beings…
    ul
      li Spades (♠): Combat and suffer moves.
      li Clubs (♣): Adventure and Delve moves.
      li Hearts (♥): Relationship, companion and recovery moves.
      li Diamonds (♦): Quest and asset moves.
    p You may…
    ul
      li Ready yourself to not make previous missteps: Play the resilience card before rolling.
      li Instantly recover from a misstep: Play the resilience card after rolling, but suffer -2 momentum.
    p Then, modify the roll as per the value of the card right before reshuffling back into the deck.
    ul
      li Ace: You may reroll any dice. Take +4 momentum.
      li K: Score a strong hit, or Inflict Harm once more and make it piercing.
      li Q: Count a miss as a weak hit, and a weak hit as a strong hit; or Inflict Harm once more.
      li J: Score a weak hit, or make the harm piercing.
      li 2-10: Add this amount to the roll.