
include ../mixins/container

mixin Sojourn(values)
  +container(values)
    p When <strong>you spend time in a community</strong>, roll +heart. If you share a bond, add +2.
    p On <strong>strong hit</strong>, clear a starved condition; then, you and your allies may each choose two from within the categories below. On a <strong>weak hit</strong>, choose one. If you share a bond, choose one more.
    p On a <strong>hit</strong>, you and your allies may each reduce the severity of the amnesiac condition by 1, or clear the dazed condition. Then, you and your allies may each focus on one of your chosen recover actions and roll +heart again. If you share a bond, add +2. On a <strong>strong hit</strong>, take the double for that action. On a <strong>weak hit</strong>, take +2 more. On a <strong>miss</strong>, it goes badly and you lose all benefits for that action.
    p <strong>Clear a Condition</strong>
    ul
      li Mend: Clear a blinded, deafened, palsied, poisoned, weakened and wounded condition. Then, take 25% of your maximum health.
      li Cheer: Reduce the severity of a compulsed and hallucinating condition by 1, and clear a shaken, stupefied and unsteady condition. Then, take +2 spirit.
      li Equip: Clear an unprepared condition. Then, take +2 supply.
    p <strong>Recover</strong>
    ul
      li Recuperate: Take +50% of maximum health for yourself and any companions.
      li Consort: Take +4 spirit.
      li Stock: Take +4 supply.
      li Plan: Take +4 momentum.
    p <strong>Cohabitate</strong>
    ul
      li Tune in to the bruits: Envision how you listen for rumors or acquire information from the community. Then, <em>Gather Information</em>, and add +4.
      li Provide aid: Envision what this community needs, or what trouble it is facing. If you chose to help, <em>Swear an Iron Vow</em> and add +2.
    p On a <strong>miss</strong>, you find no help here. <em>Pay the Price</em>.