include ../mixins/container

mixin StrengthenTheirLoyalty(values)
  +container(values)
    p When <strong>you dedicate yourself to spend a significant time with your companion</strong>, envision that moment and roll +heart. If your companion is a hireling, roll +wealth instead. If you share a bond, you may reroll any dice.
    p On a <strong>strong hit</strong>, your conditional companion feels more akin with your company. Give +your heart+2 to their loyalty. If the conditional companion is a hireling, also suffer -1 wealth. If you use this exchange to Forge a Bond, make that move now and add +2.
    p On a <strong>weak hit</strong>, as above, but you must also choose one.
    ul
      li It was emotionally demanding: Endure Stress (1 stress).
      li It was resource demanding: Suffer -1 supply.
      li It was time consuming: Suffer -2 momentum.
    p On a <strong>miss</strong>, the moment doesn’t go as expected. <em>Pay the Price</em>.
