include ../mixins/container

mixin Strike(values)
  +container(values)
    p When <strong>you have initiative and attack with the intent to inflict harm</strong>, determine if you are hitting your foe’s protection or breaking their defense rating. If you are foe’s protection is 0 or you are doing the latter, fix one challenge die as per your foe’s defense rating. Then, envision your approach. If you're making this move repeatedly, but with another offensive maneuver, add +1. If you…
    ul
      li Attack in close quarters: Roll +iron.
      li Attack at range or with a precise weapon: Roll +edge.
      li Attack an unaware target, or without warning, at close range: Roll +shadow.
    p On a <strong>strong hit</strong>, <em>Inflict Harm</em> and add +1. You retain the initiative.
    p On a <strong>weak hit</strong>, <em>Inflict Harm</em> and lose the initiative. If you are attacking at range, choose one.
    ul
      li Your attack winged: Roll twice and use the lowest result.
      li You wasted ammo: Suffer -1 supply.
      li Your thrown weapon is lost or destroyed.
      li You attract unexpected attention: Suffer -1 momentum.
    p If you are attacking a foe that is unaware and score a hit, envision you strike. On a <strong>strong hit</strong>, you go undetected; when you <em>Inflict Harm</em>, you may suffer -1 momentum and choose two. On a <strong>weak hit</strong>, you hit your target, but not without getting spotted; when you <em>Inflict Harm</em>, you may suffer -1 momentum and chose one; then, <em>Enter the Fray</em>.
    ul
      li You strike fiercely: Inflict +1d4 harm.
      li You strike on a weak spot: Your harm is penetrating.
      li You find the best way to strike: You may reroll any dice.
    p On a <strong>miss</strong>, your foe has initiative. 