include ../mixins/container

mixin SwearAnIronVow(values)
  +container(values)
    p When <strong>you swear upon iron to complete a quest</strong>, write your vow and give the quest a rank. Then, roll +heart. If you make this vow to a person or community with whom you share a bond, add +2.
    p On a <strong>strong hit</strong>, you are emboldened and it is clear what you must do next. Take +2 momentum.
    p On a <strong>weak hit</strong>, you are determined but begin your quest with more questions than answers. Take +1 momentum, and envision what you do to find a path forward.
    p On a <strong>miss</strong>, you face a significant obstacle before you can begin your quest. Envision what stands in your way, and choose one.
    ul
      li You press on: Suffer -2 momentum, and do what you must to overcome this obstacle.
      li You give up: <em>Forsake Your Vow</em>.