include ../mixins/container

mixin TakeConditionalCompanion(values)
  +container(values)
    p When <strong>you meet a character with the same objective as you, or that is willing to follow you in exchange of getting paid</strong>, you may attempt to convince them to join your quest. If you do, roll +heart; if the character is a hireling, roll +wealth instead. If you share a bond, you may reroll any dice.
    p On a <strong>strong hit</strong>, the character joins you as a conditional companion. Fill their companion sheet, setting their loyalty track as your heart+2 (maximum is 10). If the companion is a hireling, suffer -2 wealth.
    p On a <strong>weak hit</strong>, as above, but they ask something of you in return; envision what they want.
    p On a <strong>miss</strong>, the character refuses to join you or make a demand that cost you greatly. <em>Pay the Price</em>.
