include ../mixins/container

mixin TestTheirLoyalty(values)
  +container(values)
    p When <strong>your conditional companion’s loyalty is at its minimum (0)</strong>, you can attempt to convince them to stay by your side. If you do, roll +heart. If the companion is a hireling, roll +wealth instead. Add +2 if you share a bond. If their goal is lost to you, count this move as a miss.
    p On a <strong>strong hit</strong>, your companion stands by your side. Give +you heart+1 to their loyalty. Take +1 momentum.
    p On a <strong>weak hit</strong>, as above, but they ask something in return. Choose one.
    ul
      li Provisions: Suffer -2 supply.
      li A valuable item: Dicard an equipment or consumable item, or suffer -1 wealth.
      li A promise: Envision what they ask of you that need to be resolved besides their current goal, and <em>Swear an Iron Vow</em> to do it.
    p On a <strong>miss</strong>, or if you have no interest in them to follow you, the <em>Conditional Companion Abandons</em> you. If you share a bond with them, also <em>Test Your Bond</em>.