include ../mixins/container

mixin TestYourBond(values)
  +container(values)
    p When <strong>your bond is tested through conflict, betrayal, or circumstance</strong>, roll +heart.
    p On a strong hit, this test has strengthened your bond. Choose one.
    ul
      li Take +2 spirit.
      li Take +4 momentum.
    p On a weak hit, your bond is fragile and you must prove your loyalty. Envision what they ask of you, and do it (or Swear an Iron Vow). If you refuse or fail, clear the bond and Pay the Price.
    p On a miss, or if you have no interest in maintaining this relationship, clear the bond and Pay the Price.