include ../mixins/container

mixin Trade(values)
  +container(values)
    p When <strong>you meet someone that offers you an item or service in exchange for wealth</strong>, suffer -wealth as the cost of the item or service.
    p If you are acquiring supply, suffer -1 wealth in exchange for +2 supply.
    p If you are making this move to obtain wealth in exchange for supply or an item (that is not a consumable item), take +1 wealth per -2 supply, or +wealth as per the weight of the item in exchange for losing it.