include ../mixins/container

mixin TurnTheTide(values)
  +container(values)
    p Once per fight, when <strong>you risk it all</strong>, you may steal initiative from your foe to make a move (not a progress move). When you do, add +2 and take +2 momentum on a hit.
    p If you fail to score a hit on that move, you must suffer a dire outcome. <em>Pay the Price</em>.
