include ../mixins/container

mixin UndertakeAJourney(values)
  +container(values)
    p When <strong>you travel across hazardous or unfamiliar lands</strong>, set the rank of your journey.
    ul
      li Troublesome journey: 3 progress per waypoint.
      li Dangerous journey: 2 progress per waypoint.
      li Formidable journey: 1 progress per waypoint.
      li Extreme journey: 2 ticks per waypoint.
      li Epic journey: 1 tick per waypoint.
    p Then, for each segment of your journey, roll +wits. If you are setting off from a community with which you share a bond, add +2 to your initial roll.
    p If you are making this move for the fourth time, without having done the <em>Make Camp</em> move or <em>Sojourn</em> move, take a condition as appropriate to the circumstances.
    p On a <strong>strong hit</strong>, choose one.
    ul
      li You make good use of your resources: Mark progress and take +2 momentum.
      li You move with scrutiny: Mark progress and <em>Find an Opportunity</em>.
      li You move at speed: Mark progress twice and take +1 momentum, but suffer -1 supply.
    p On a <strong>weak hit</strong>, choose one.
    ul
      li You go as expected: Mark progress, but suffer -1 supply.
      li You move with precaution: Mark progress and <em>Find an Opportunity</em>, but suffer -1 supply and -2 momentum.
      li You move at speed, but with a cost: Mark progress twice and take +1 momentum, but suffer -2 supply and <em>Reveal a Danger</em>.
      li You explore: <em>Find an Opportunity</em>, but suffer -1 momentum.
    p On a <strong>miss</strong>, you have gone hopelessly astray, your objective is lost to you, or you were misled about your destination. If your journey continues, clear all but one filled progress, and raise the journey's rank by one (if not already epic).
