include ../mixins/container

mixin WriteYourEpilogue(values)
  +container(values)
    p <strong><em>Progress Move</em></strong>
    p When <strong>you retire from your life as an Oathkeeper</strong>, envision two things: What you hope for, and what you fear. Then, roll the challenge dice and compare to your bonds.
    p On a <strong>strong hit</strong>, things come to pass as you hoped.
    p On a <strong>weak hit</strong>, your life takes an unexpected turn, but not necessarily for the worse. You find yourself spending your days with someone or in a place you did not foresee. Envision it.
    p On a <strong>miss</strong>, your fears are realized.