.tabs
	//- Button to toggle on GM whisper
	label.whisper-toggle(data-i18n-title='whisper_rolls_to_gm' title='whisper rolls to gm')
		input(name="attr_whispertype" type="checkbox" value="/w gm")
		span.pictos q

	//-  Buttons to change page view
	- const pcTabs = ['character', 'details', 'feats', 'inventory', 'spells', 'options'];
	each tab in pcTabs
		label(data-i18n-title=tab title=tab)
			input(name=`attr_sheet_type` type='radio' value=tab)
			span(data-i18n=tab) #{$tab}
