include ../../components/debilities/debilities
include ../../components/vows/vow-container

mixin summaryPage
  div.page-container
    input(type='radio' name='attr_character_page' class='summary hide-element' value='1' checked)
    div.summary.showhide
      include ../../components/stats/character
      include ../../components/misses/track
      h3.divide(data-i18n='page-summary-vows')=locals.translations['page-summary-vows']
      div.vows
        if sheetType == 'shared'
          fieldset.repeating_vow
            +repeatingVow()
        else
          div.hide-element
            each vow in legacyVows
              +vowLegacy(vow)
          fieldset.repeating_vow
            +repeatingVow()
      h3.divide(data-i18n='page-summary-debilities')=locals.translations['page-summary-debilities']
      +debilityList({character: true})
      include ../../components/notes/notes