* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  height: unset;
  width: unset;
  padding: unset;
  margin: unset;

  font-family: unset;
  font-size: 1rem;
  font-weight: unset;
  line-height: unset;

  color: unset;
  border: unset;
  border-radius: unset;
  background: unset;
  background-color: unset;
}

h1, h2, h3, h4, h5 {
  font-size: unset;
  line-height: unset;

  color: unset;
}

label, input, input[type=number],
select, textarea, button, button[type=roll] {
  display: unset;
  width: unset;
  height: unset;
  padding: unset;
  margin-bottom: unset;

  font-family: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;

  color: unset;
  border: unset;
  border-radius: unset;
  background: unset;
  background-color: unset;
  box-shadow: unset;
}

button[type=roll] {
  &::before {
    display: none;
  }
}

input[disabled], select[disabled], textarea[disabled],
input[readonly], select[readonly], textarea[readonly] {
  background-color: unset;
  border-color: unset;
}

fieldset {
  background: transparent;
}

span {
  word-break: break-word;
}

// Firefox
input[type=number] {
  text-align: center;
  width: 100%;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.btn:hover {
  background-position: 0 0;
  background-color: transparent;
}
