.sheet-box {
  border: thin solid #bbb;
  margin: 10px;
  overflow: auto;
  padding: 10px;
  background-color: #fff;
}
.charsheet {
  overflow: auto;
  width: 800px;
  padding: 10px;
  background-color: #eee;
}
.sheet-startcol {
  clear: left;
  float: left;
  margin-right: 1em;
}
.sheet-col {
  float: left;
  margin-right: 1em;
}
.sheet-endcol {
  clear: right;
  float: left;
}
.sheet-onlycol {
  clear: both;
  float: left;
}
.sheet-inline {
  display: inline;
}
.sheet-nomargin {
  margin: 0px;
}
h1, h2 {
  margin: 5px;
  text-align: center;
}
hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
input[type="text"], textarea {
  width: 100%;
}
input.sheet-number {
  text-align: center;
}
input.sheet-attrnum {
  font-size: x-large;
  text-align: center;
  width: 50px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
