.charsheet label {
    display: inline-block;
    width: 75px;
    text-align: right;
}

.charsheet input {
    display: inline-block;
    width: 155px;
}

.charsheet {
    background-color: white;
}

.charsheet select {
    width: 40px;
}

/* Hide actual dot/checkbox */
input[type="radio"],
input[type="checkbox"]
{
    position: absolute;
    opacity: 0;
    width:15px;
    cursor: pointer;
    z-index: 1;
    margin-top: 5px;
}

/* Styles common to fake dot and checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before
{
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: middle;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
     
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Styles unique to fake dot (checked or left of checked) */
input[type="radio"] + span::before
{
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 36px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Styles unique to fake checkbox (unchecked) */
input[type="checkbox"] + span::before
{
    position:relative;
    content: "";
    opacity: .25;
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Styles unique to fake checkbox (checked) */
input[type="checkbox"]:checked + span::before
{
    border: solid 1px transparent;
    background: transparent;
    content: "✖";
    color: #a00;
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

input[type="checkbox"]:hover:checked + span::before
{
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    border: solid 1px #a8a8a8;
    margin-right: 0px;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"]:checked ~ input[type="radio"] + span::before
{    
    content: "";
}

/* Show checkbox when hovering or when it's checked */
input[type="checkbox"]:hover + span::before
{
    opacity: 1;
}

/* Fade out dots when checkbox is checked */
input[type="checkbox"]:checked ~ input[type="radio"] + span
{
    opacity: 0.5;
}

/* Hide checked dots when checkbox is checked */
input[type="checkbox"]:checked ~ input[type="radio"] + span::before
{
    content: "";
}

input.wheel+ span
{
    opacity: 1;
}

input.top  { margin-top:0px; }
input.top+ span, input.top+ span::before { top:0px; }
input.mid-eighth { margin-top: 7px; }
input.mid-eighth+ span, input.mid-eighth+ span::before  { top: 7px; }
input.mid-quarter { margin-top: 22px; }
input.mid-quarter+ span, input.mid-quarter+ span::before  { top: 22px; }
input.mid-three-eighth { margin-top: 40px; }
input.mid-three-eighth+ span, input.mid-three-eighth+ span::before  { top: 40px; }
input.middle { margin-top: 62px; }
input.middle+ span, input.middle+ span::before  { top: 62px; }

input.middle-2 { margin-top: 68px; }
input.middle-2+ span, input.middle-2+ span::before  { top: 68px; }
input.mid-five-eighth { margin-top: 90px; }
input.mid-five-eighth+ span, input.mid-five-eighth+ span::before  { top: 90px; }
input.mid-three-quarter { margin-top: 108px; }
input.mid-three-quarter+ span, input.mid-three-quarter+ span::before  { top: 108px; }
input.mid-seven-eighth { margin-top: 122px; }
input.mid-seven-eighth+ span, input.mid-seven-eighth+ span::before  { top: 122px; }
input.bottom { margin-top: 130px; }
input.bottom+ span, input.bottom+ span::before  { top: 130px; }

input.left-1 { margin-left: 14px; }
input.left-1+ span, input.left-1+ span::before  { left: 14px; opacity: 1;}
input.left-2 { margin-left: 1px; }
input.left-2+ span, input.left-2+ span::before  { left: 1px; opacity: 1; }
input.left-3 { margin-left: -4px; }
input.left-3+ span, input.left-3+ span::before  { left: -4px; opacity: 1; }
input.left-4 { margin-left: -5px; }
input.left-4+ span, input.left-4+ span::before  { left: -5px; opacity: 1; }
input.left-5 { margin-left: -2px; }
input.left-5+ span, input.left-5+ span::before  { left: -2px; opacity: 1; }
input.left-6 { margin-left: 1px; }
input.left-6+ span, input.left-6+ span::before  { left: 1px; opacity: 1; }
input.left-7 { margin-left: 3px; }
input.left-7+ span, input.left-7+ span::before  { left: 3px; opacity: 1; }
input.left-8 { margin-left: 2px; }
input.left-8+ span, input.left-8+ span::before  { left: 2px; opacity: 1; }
input.left-9 { margin-left: -4px; }
input.left-9+ span, input.left-9+ span::before  { left: -4px; opacity: 1; }
input.left-10 { margin-left: -16px; }
input.left-10+ span, input.left-10+ span::before  { left: -16px; opacity: 1; }

input.wheel0
{
    /* nothing */
}

input.wheel9, input.wheel9+ span, input.wheel9+ span::before
{
    transform:rotate(9deg);
    -ms-transform:rotate(9deg); /* IE 9 */
    -webkit-transform:rotate(9deg); /* Opera, Chrome, and Safari */
}

input.wheel27, input.wheel27+ span, input.wheel27+ span::before
{
    transform:rotate(27deg);
    -ms-transform:rotate(27deg); /* IE 9 */
    -webkit-transform:rotate(27deg); /* Opera, Chrome, and Safari */
}

input.wheel45, input.wheel45+ span, input.wheel45+ span::before
{
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

input.wheel63, input.wheel63+ span, input.wheel63+ span::before
{
    transform:rotate(63deg);
    -ms-transform:rotate(63deg); /* IE 9 */
    -webkit-transform:rotate(63deg); /* Opera, Chrome, and Safari */
}

input.wheel81, input.wheel81+ span, input.wheel81+ span::before
{
    transform:rotate(81deg);
    -ms-transform:rotate(81deg); /* IE 9 */
    -webkit-transform:rotate(81deg); /* Opera, Chrome, and Safari */
}

input.wheel99, input.wheel99+ span, input.wheel99+ span::before
{
    transform:rotate(99deg);
    -ms-transform:rotate(99deg); /* IE 9 */
    -webkit-transform:rotate(99deg); /* Opera, Chrome, and Safari */
}

input.wheel117, input.wheel117+ span, input.wheel117+ span::before
{
    transform:rotate(117deg);
    -ms-transform:rotate(117deg); /* IE 9 */
    -webkit-transform:rotate(117deg); /* Opera, Chrome, and Safari */
}

input.wheel135, input.wheel135+ span, input.wheel135+ span::before
{
    transform:rotate(135deg);
    -ms-transform:rotate(135deg); /* IE 9 */
    -webkit-transform:rotate(135deg); /* Opera, Chrome, and Safari */
}

input.wheel153, input.wheel153+ span, input.wheel153+ span::before
{
    transform:rotate(153deg);
    -ms-transform:rotate(153deg); /* IE 9 */
    -webkit-transform:rotate(153deg); /* Opera, Chrome, and Safari */
}

input.wheel171, input.wheel171+ span, input.wheel171+ span::before
{
    transform:rotate(171deg);
    -ms-transform:rotate(171deg); /* IE 9 */
    -webkit-transform:rotate(171deg); /* Opera, Chrome, and Safari */
}
