* {
    font-family: fantasy;
}

textarea {
    border-radius: 6px;
    border: 1px solid #99dd99;
    background-color: #eefdfd;
    line-height: 20px;
    width: 98%;
}

input[type=number], input[type=text], select {
    border-radius: 6px;
    border: 1px solid #99dd99;
    background-color: #eefdfd;
    line-height: 20px;
    height: 30px;
    width: 200px;
    -webkit-appearance: none;
}

td, th {
    text-align: left;
    padding: 3px;
    width: 150px;
}

button[type=roll] {
    height: 23px;
    border-radius: 4px;
}

.sheet-characterSheet {
    background-color: #eeffff;
}

.sheet-charoptions {
    width: 100px;
    position: relative;
    top: 5px;
}

.sheet-attributeType {
    width: 65px;
    position: relative;
    top: 5px;
}

.sheet-classSkillRoll {
    margin-left: 10px;   
}

.sheet-spellRow div input, select {
    margin-right: 2px;
}

.sheet-spellDetails {
    position: relative;
    bottom: 5px;
}

.sheet-spellName {
    margin-left: 5px;   
}

.sheet-spellEffect {
    margin-left: 2px;
}

.sheet-spellTypes {
    width: 150px;
    margin-left: 6px;
    position: relative;
    top: 4px;
}

.sheet-spellDuration {
    width: 130px;
}

.sheet-spellTarget {
    width: 130px;
}

.sheet-spellRange {
    width: 130px;
}

.sheet-dtype {
    width: 60px;
    position: relative;
    top: 5px;
}

.sheet-skillCheck {
    position: relative;
    bottom: 5px;
}

.sheet-conditionCheck {
    position: relative;
    bottom: 5px;
}

.sheet-attrLabel {
    position: relative;
    top: 10px;
}

.sheet-healthLabel, .sheet-infoLabel {
    position: relative;
    top: 5px;
}

.sheet-journeyLabel {
    font-weight: bold;
    font-size: 13px;
    display: block;
    position: relative;
    top: 2px;
    left: 3px;
    padding-bottom: 2px;
}

.sheet-journeyMod {
    margin-bottom: 2px;
}

.sheet-itemLabel {
    position: relative;
    top: 5px;
}

.sheet-terrain {
    width: 120px;
    position: relative;
    top: 3px;
}

.sheet-applyModifier {
    position: relative;
    top: 5px;    
}

.sheet-hidden {
    display: none;
}

.sheet-itemCount {
    position: relative;
    left: 38px;
}

.sheet-animalCapacity {
    position: relative;
    left: 80px;
}

.sheet-showDiv {
    display: none;
}

.sheet-showDiv:not(:checked) ~ div, fieldset {
    display: none !important;
}

.sheet-showDiv:checked ~ div, fieldset {
    display: inline;
}

.sheet-showFumble {
    display: none;
}

.sheet-showFumble:not(:checked) ~ label {
    display: none !important;
}

.sheet-showFumble:checked ~ label {
    display: inline;
}

span.sheet-overburdenPenalty {
    position: relative;
    top: 3px;
}

input.sheet-overburdenPenalty {
    position: relative;
    top: 1px
}

.sheet-bonusPenaltyPreferences {
    position: relative;
    bottom: 8px;
}

.sheet-checkLabel {
    position: relative;
    top: 10px;
}

.sheet-sideJobPenalty {
    position: relative;
    top: 2px;
}

.sheet-penaltyCondition {
    display: none;   
}

.sheet-penaltyCondition:checked ~ input {
    border-color: #ff8888;
}

.sheet-deathCondition {
    display: none;   
}

.sheet-deathCondition:checked ~ input {
    border-color: red;
}

.sheet-bonusCondition {
    display: none;   
}

.sheet-bonusCondition:checked ~ input {
    border-color: green;
}

.sheet-inlineCheckbox {
    display: inline;    
}

.sheet-headerLabel {
    background: #aaeeaa;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 5px;
    width: 250px;
    font-size: 15px;
    height: 20px;
    font-family: cursive;
}

.sheet-loweredHeaderLabel {
    margin-top: 5px;   
}

.sheet-checkboxLabel {
    font-weight: normal;
    font-size: 12px;
}

.sheet-weaponRow2 {
    position:relative;
    bottom: 4px;
}

.sheet-damage {
    position: relative;
    bottom: 6px;
}

.sheet-concentration {
    display: inline;
    margin-left: 10px;
}

/* Weapon Mastery */
input.sheet-radioChoice {
    width: 100px;
    cursor: pointer;    
    position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-radioChoice {
    text-align: center;
    display: inline-block; 	
	background: #00cdcd;
	color: black;
	border-radius: 4px;
	width: 130px;
    cursor: pointer;	
	position: relative;
	margin-left: -100px;
    font-weight: bold;
    margin-bottom: 5px;
}

input.sheet-radioChoice1:checked + span.sheet-radioChoice1,
input.sheet-radioChoice2:checked + span.sheet-radioChoice2,
input.sheet-radioChoice3:checked + span.sheet-radioChoice3,
input.sheet-radioChoice4:checked + span.sheet-radioChoice4,
input.sheet-radioChoice5:checked + span.sheet-radioChoice5,
inpur.sheet-radioChoice6:checked + span.sheet-radioChoice6 {
    background: #229999;
    border-radius: 4px;
}

/* High Level Tabs */
input.sheet-tab {
    width: 100px;
    height: 40px;
    cursor: pointer;    
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-tab {
    text-align: center;
    display: inline-block; 
	font-size: 17px;	
	background: #00cdcd;
	color: black;
	font-weight: bold;
	border-radius: 4px;
	font-family: cursive;
	width: 160px;
    height: 40px;
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -100px;
    line-height: 40px;
}

input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab4:checked + span.sheet-tab4,
input.sheet-tab5:checked + span.sheet-tab5 {
    background: #229999;
    border-radius: 4px;
}

input.sheet-tab1:not(:checked) ~ span.sheet-characterDetails,
input.sheet-tab2:not(:checked) ~ span.sheet-characterClass,
input.sheet-tab3:not(:checked) ~ span.sheet-characterStats,
input.sheet-tab4:not(:checked) ~ span.sheet-characterChecks,
input.sheet-tab5:not(:checked) ~ span.sheet-characterEquipment {
    display: none;
}

input.sheet-tab1:checked ~ span.sheet-characterDetails,
input.sheet-tab2:checked ~ span.sheet-characterClass,
input.sheet-tab3:checked ~ span.sheet-characterStats,
input.sheet-tab4:checked ~ span.sheet-characterChecks,
input.sheet-tab5:checked ~ span.sheet-characterEquipment {
	display: block;
}

/* Roll Templates */
.sheet-rolltemplate-skillCheck .sheet-rollTitle,
.sheet-rolltemplate-accuracyCheck .sheet-rollTitle,
.sheet-rolltemplate-oneDieCheck .sheet-rollTitle {
    margin-bottom: 5px;
    font-weight: bold;
    /*margin-left: 5px;*/
}

.sheet-rolltemplate-skillCheck .sheet-rollResult,
.sheet-rolltemplate-accuracyCheck .sheet-rollResult {
    /*margin-bottom: 5px;*/
    /*margin-left: 5px;*/
}

.sheet-rolltemplate-skillCheck .sheet-critical,
.sheet-rolltemplate-accuracyCheck .sheet-critical {
    color:green;
    font-weight:bold;
    margin-top: 5px;
}

.sheet-rolltemplate-skillCheck .sheet-fumble,
.sheet-rolltemplate-accuracyCheck .sheet-fumble {
    color:red;
    font-weight:bold;
    margin-top: 5px;
}
