<input type="hidden" name="attr_finesse_mod">

<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_strength_check_mod_formula">

  <button type="roll" name="roll_shaped_strength_check" class="wrapper-button" value= "@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{STRENGTH} ^{CHECK}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{strength_check_mod_formula}]]}} @{roll_setting} + @{strength_check_mod_formula}]]}} @{hide_gm_info} @{attacher_strength_check}" tabindex="-1">
    <div class="center">
      <span class="ability-name" data-i18n="STRENGTH"></span>
      <input type="hidden" name="attr_strength_mod">
      <span name="attr_strength_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span data-i18n="CHECK"></span>
    <div>+</div>
    <div>
      <input type="number" name="attr_strength_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_strength_check_mod"></span>
  </div>

  <div class="ability-score-wrapper shaped-row no-wrap center vert-center">
    <span name="attr_strength_calculated" class="presentation small-label"></span>
    <div class="edit">
      <input type="number" name="attr_strength" class="no-spin no-border" min="1" step="1">
    </div>
    <div class="edit">+</div>
    <div class="edit">
      <input type="number" name="attr_strength_bonus" class="no-spin no-border" value="0" step="1">
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_dexterity_check_mod_formula">

  <button type="roll" name="roll_shaped_dexterity_check" class="wrapper-button" value= "@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{DEXTERITY} ^{CHECK}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{dexterity_check_mod_formula}]]}} @{roll_setting} + @{dexterity_check_mod_formula}]]}} @{hide_gm_info} @{attacher_dexterity_check}" tabindex="-1">
    <div class="center">
      <span class="ability-name" data-i18n="DEXTERITY"></span>
      <input type="hidden" name="attr_dexterity_mod">
      <span name="attr_dexterity_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span data-i18n="CHECK"></span>
    <div>+</div>
    <div>
      <input type="number" name="attr_dexterity_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_dexterity_check_mod"></span>
  </div>

  <div class="ability-score-wrapper shaped-row no-wrap center vert-center">
    <span name="attr_dexterity_calculated" class="presentation small-label"></span>
    <div class="edit">
      <input type="number" name="attr_dexterity" class="no-spin no-border" min="1" step="1">
    </div>
    <div class="edit">+</div>
    <div class="edit">
      <input type="number" name="attr_dexterity_bonus" class="no-spin no-border" value="0" step="1">
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_constitution_check_mod_formula">

  <button type="roll" name="roll_shaped_constitution_check" class="wrapper-button" value= "@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{CONSTITUTION} ^{CHECK}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{constitution_check_mod_formula}]]}} @{roll_setting} + @{constitution_check_mod_formula}]]}} @{hide_gm_info} @{attacher_constitution_check}" tabindex="-1">
    <div class="center">
      <span class="ability-name" data-i18n="CONSTITUTION"></span>
      <input type="hidden" name="attr_constitution_mod">
      <span name="attr_constitution_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span data-i18n="CHECK"></span>
    <div>+</div>
    <div>
      <input type="number" name="attr_constitution_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_constitution_check_mod"></span>
  </div>

  <div class="ability-score-wrapper shaped-row no-wrap center vert-center">
    <span name="attr_constitution_calculated" class="presentation small-label"></span>
    <div class="edit">
      <input type="number" name="attr_constitution" class="no-spin no-border" min="1" step="1">
    </div>
    <div class="edit">+</div>
    <div class="edit">
      <input type="number" name="attr_constitution_bonus" class="no-spin no-border" value="0" step="1">
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_intelligence_check_mod_formula">

  <button type="roll" name="roll_shaped_intelligence_check" class="wrapper-button" value= "@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{INTELLIGENCE} ^{CHECK}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{intelligence_check_mod_formula}]]}} @{roll_setting} + @{intelligence_check_mod_formula}]]}} @{hide_gm_info} @{attacher_intelligence_check}" tabindex="-1">
    <div class="center">
      <span class="ability-name" data-i18n="INTELLIGENCE"></span>
      <input type="hidden" name="attr_intelligence_mod">
      <span name="attr_intelligence_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span data-i18n="CHECK"></span>
    <div>+</div>
    <div>
      <input type="number" name="attr_intelligence_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_intelligence_check_mod"></span>
  </div>

  <div class="ability-score-wrapper shaped-row no-wrap center vert-center">
    <span name="attr_intelligence_calculated" class="presentation small-label"></span>
    <div class="edit">
      <input type="number" name="attr_intelligence" class="no-spin no-border" min="1" step="1">
    </div>
    <div class="edit">+</div>
    <div class="edit">
      <input type="number" name="attr_intelligence_bonus" class="no-spin no-border" value="0" step="1">
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_wisdom_check_mod_formula">

  <button type="roll" name="roll_shaped_wisdom_check" class="wrapper-button" value= "@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{WISDOM} ^{CHECK}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{wisdom_check_mod_formula}]]}} @{roll_setting} + @{wisdom_check_mod_formula}]]}} @{hide_gm_info} @{attacher_wisdom_check}" tabindex="-1">
    <div class="center">
      <span class="ability-name" data-i18n="WISDOM"></span>
      <input type="hidden" name="attr_wisdom_mod">
      <span name="attr_wisdom_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span data-i18n="CHECK"></span>
    <div>+</div>
    <div>
      <input type="number" name="attr_wisdom_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_wisdom_check_mod"></span>
  </div>

  <div class="ability-score-wrapper shaped-row no-wrap center vert-center">
    <span name="attr_wisdom_calculated" class="presentation small-label"></span>
    <div class="edit">
      <input type="number" name="attr_wisdom" class="no-spin no-border" min="1" step="1">
    </div>
    <div class="edit">+</div>
    <div class="edit">
      <input type="number" name="attr_wisdom_bonus" class="no-spin no-border" value="0" step="1">
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_charisma_check_mod_formula">

  <button type="roll" name="roll_shaped_charisma_check" class="wrapper-button" value= "@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{CHARISMA} ^{CHECK}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{charisma_check_mod_formula}]]}} @{roll_setting} + @{charisma_check_mod_formula}]]}} @{hide_gm_info} @{attacher_charisma_check}" tabindex="-1">
    <div class="center">
      <span class="ability-name" data-i18n="CHARISMA"></span>
      <input type="hidden" name="attr_charisma_mod">
      <span name="attr_charisma_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span data-i18n="CHECK"></span>
    <div>+</div>
    <div>
      <input type="number" name="attr_charisma_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_charisma_check_mod"></span>
  </div>

  <div class="ability-score-wrapper shaped-row no-wrap center vert-center">
    <span name="attr_charisma_calculated" class="presentation small-label"></span>
    <div class="edit">
      <input type="number" name="attr_charisma" class="no-spin no-border" min="1" step="1">
    </div>
    <div class="edit">+</div>
    <div class="edit">
      <input type="number" name="attr_charisma_bonus" class="no-spin no-border" value="0" step="1">
    </div>
  </div>
</div>