<div>
  <div class="shaped-row space-between vert-center no-wrap">
    <div class="8-rem wrap-box-label light-label pad-r-sm" data-i18n="ARMOR"></div>
    <div class="3-rem wrap-box-label light-label center pad-r-sm" data-i18n="USES"></div>
    <div class="1-5-rem wrap-box-label light-label center" data-i18n="AC"></div>
    <div class="3-rem wrap-box-label light-label center" data-i18n="WEIGHT"></div>
    <div class="1-rem edit"></div>
  </div>
  <fieldset class="repeating_armor">
    <div class="compendium-drop-target shaped-row space-between vert-center no-wrap">
      <input type="hidden" name="attr_modifiers" accept="Modifiers">
      <div class="8-rem pad-r-sm">
        <div class="shaped-row no-wrap">
          <div>
            <input type="checkbox" name="attr_worn" class="small-checkbox" checked>
          </div>
          <div>
            <div class="edit">
              <input type="text" name="attr_name" accept="Name">
            </div>
            <div class="presentation">
              <button type="roll" name="roll_armor" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{armor=1}} {{text_big=AC [[@{ac_base}[ac] + @{ac_bonus}[bonus ac]]]}} {{uses=@{uses}}} {{uses_max=@{uses|max}}}">
                <span name="attr_name"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="3-rem center shaped-row flex-end no-wrap pad-r-sm">
        <div class="shaped-row flex-end no-wrap">
          <input type="checkbox" name="attr_show_uses" class="edit small-checkbox show-uses" value="1">
          <div class="col-42 show-uses">
            <input type="number" name="attr_uses" class="no-spin no-border small-label" step="1">
          </div>
          <div class="show-uses small-label">/</div>
          <div class="col-42 show-uses">
            <input type="number" name="attr_uses_max" class="no-spin no-border small-label" step="1">
          </div>
        </div>
      </div>
      <div class="1-5-rem center pad-r-sm">
        <span name="attr_ac_total"></span>
      </div>
      <div class="3-rem center pad-r-sm">
        <span name="attr_weight" class="presentation"></span>
        <input type="number" name="attr_weight" class="edit no-spin" step=".001" accept="Weight">
      </div>
      <div class="1-rem edit"></div>
    </div>
    <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings edit"><span class="toggle-icon-settings pictos edit">y</span>
    <div class="details edit mar-t-smd">
      <div class="shaped-row vert-center">
        <div class="5-rem center">
          <select name="attr_type" accept="Item Type">
            <option value="Light Armor" data-i18n="LIGHT_ARMOR"></option>
            <option value="Medium Armor" data-i18n="MEDIUM_ARMOR"></option>
            <option value="Heavy Armor" data-i18n="HEAVY_ARMOR"></option>
            <option value="Armored" data-i18n="OTHER_ARMOR"></option>
            <option value="Shield" data-i18n="SHIELD"></option>
            <option value="AC" data-i18n="ARMORED_AND_UNARMORED"></option>
            <option value="Unarmored" data-i18n="UNARMORED"></option>
          </select>
          <div class="small-label" data-i18n="TYPE"></div>
        </div>
        <div class="4-rem edit center pad-l-smd">
          <div class="shaped-row no-wrap">
            <div>
              <input type="number" name="attr_ac_base" class="no-spin" value="0" step="1" accept="AC">
            </div>
            <div>+</div>
            <div>
              <input type="number" name="attr_ac_bonus" class="no-spin" value="0" step="1">
            </div>
          </div>
          <div class="small-label" data-i18n="AC"></div>
        </div>
        <div class="3-rem center pad-l-smd">
          <select name="attr_strength_requirements">
            <option value="no">&#8212;</option>
            <option value="Str 13" data-i18n="STR_13"></option>
            <option value="Str 15" data-i18n="STR_15"></option>
          </select>
          <div class="small-label" data-i18n="STR"></div>
        </div>
        <div class="center center pad-l-smd">
          <input type="checkbox" name="attr_stealth" value="Disadvantage" accept="Stealth">
          <div class="small-label" data-i18n="STEALTH"></div>
        </div>
      </div>
      <hr>
    </div>
  </fieldset>
  <hr class="edit">
  <div class="shaped-row space-around center pad-t-md edit">
    <div class="4-rem center">
      <select name="attr_ac_unarmored_ability">
        <option value="" selected>&#8212;</option>
        <option value="strength" data-i18n="STR"></option>
        <option value="dexterity" data-i18n="DEX"></option>
        <option value="constitution" data-i18n="CON"></option>
        <option value="intelligence" data-i18n="INT"></option>
        <option value="wisdom" data-i18n="WIS"></option>
        <option value="charisma" data-i18n="CHA"></option>
      </select>
      <div class="small-label" data-i18n="AC_UNARMORED_ABILITY"></div>
    </div>
    <div class="4-rem center">
      <span name="attr_ac_unarmored_calc" class="pseudo-input center border-bottom"></span>
      <div class="small-label" data-i18n="AC_UNARMORED"></div>
    </div>
    <div class="4-rem center">
      <span name="attr_ac_armored_calc" class="pseudo-input center border-bottom"></span>
      <div class="small-label" data-i18n="AC_ARMORED"></div>
    </div>
  </div>
</div>