<div class="shaped-row center">
  <div class="ac col-33 center">
    <button type="roll" name="roll_shaped_ac" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{AC}}} {{text_big=[[@{ac}]]}}">
      <div class="shield">
        <span name="attr_AC" class="big-text block center"></span>
        <div class="wrap-box-title center" data-i18n="ARMOR_CLASS"></div>
      </div>
    </button>
  </div>
  <div class="col-30 center">
    <div class="wrap-box initiative">
      <input type="hidden" name="attr_initiative_formula">
      <div class="edit shaped-row no-wrap vert-center">
        <div>+</div>
        <input type="text" name="attr_initiative_bonus" class="center no-border" value="0">
        <div>=</div>
        <span name="attr_initiative" class="big-text block center"></span>
      </div>
      <button type="roll" name="roll_shaped_initiative" value="@{initiative_output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{INITIATIVE}}} {{roll1=[[@{initiative_roll} + @{initiative_to_tracker} + @{initiative_tie_breaker}]]}} @{attacher_initiative}">
        <span name="attr_initiative" class="presentation big-text block center initiative-total"></span>
        <div class="wrap-box-title center" data-i18n="INITIATIVE"></div>
      </button>
    </div>
  </div>
  <div class="col-29 center pad-l-md">
    <div class="wrap-box center speed">
      <div class="edit">
        <input type="number" name="attr_speed" class="big-text center no-spin no-border" step="1">
      </div>
      <button type="roll" name="roll_shaped_speed" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{SPEED}}} {{text_big=[[@{speed}]]}}">
        <span name="attr_speed" class="presentation big-text block center"></span>
        <div class="wrap-box-title" data-i18n="SPEED"></div>
      </button>
    </div>
  </div>
</div>