<div class="attacks wrap-box mar-b-smd">
  <div class="shaped-row">
    <div class="col-35 wrap-box-label light-label pad-r-sm" data-i18n="ATTACK"></div>
    <div class="col-08 wrap-box-label light-label center pad-r-sm" data-i18n="ATK"></div>
    <div class="col-57 wrap-box-label light-label" data-i18n="DAMAGE"></div>
  </div>
  <fieldset class="repeating_attack">
    <div class="attack compendium-drop-target relative mar-b-sm">
      <input type="hidden" name="attr_modifiers" accept="Modifiers">
      <input type="hidden" name="attr_properties" accept="Properties">
      <input type="hidden" name="attr_freetext" accept="Content">
      <input type="hidden" name="attr_weight" accept="Weight">
      <button type="roll" name="roll_attack"
              value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{action=1}} {{reach=@{reach}}} {{range=@{range}}} @{roll_toggle} @{ammo_toggle} @{saving_throw_toggle} @{damage_toggle} @{second_damage_toggle} {{uses=@{uses}}} {{uses_max=@{uses|max}}} @{attacher_attack} @{hide_gm_info} @{extras_toggle}">
        <div class="shaped-row vert-center">
          <div class="col-35 pad-r-sm">
            <input type="text" name="attr_name" readonly>
          </div>
          <div class="col-08 pad-r-sm">
            <input type="text" name="attr_to_hit" class="center" readonly>
          </div>
          <div class="col-57">
            <input type="text" name="attr_damage_string" readonly>
          </div>
        </div>
      </button>
      <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings edit" checked><span class="toggle-icon-settings pictos edit">y</span>
      <div class="details edit">
        <div class="shaped-row">
          <div class="col-40 center">
            <input type="text" name="attr_name" class="center" data-i18n-placeholder="NAME" accept="Name">
            <div class="small-label" data-i18n="NAME"></div>
          </div>
          <div class="col-17 center pad-l-sm pad-r-sm">
            <select name="attr_type" accept="Item Type">
              <option value="Other" data-i18n="OTHER">Other</option>
              <option value="Melee Weapon" data-i18n="MELEE">Melee</option>
              <option value="Ranged Weapon" data-i18n="RANGED">Ranged</option>
            </select>
            <div class="small-label" data-i18n="TYPE"></div>
          </div>
          <div class="col-10 center pad-l-sm pad-r-sm">
            <input type="text" name="attr_reach" class="center">
            <div class="small-label" data-i18n="REACH"></div>
          </div>
          <div class="col-18 center pad-l-sm pad-r-sm">
            <input type="text" name="attr_range" class="center" accept="Range">
            <div class="small-label" data-i18n="RANGE"></div>
          </div>
          <div class="col-15 pad-l-sm">
            <div class="shaped-row vert-center no-wrap">
              <div class="pad-r-sm">
                <input type="number" name="attr_uses" class="no-spin" step="1">
              </div>
              <div>/</div>
              <div class="pad-l-sm">
                <input type="number" name="attr_uses_max" class="no-spin" step="1">
              </div>
            </div>
            <div class="small-label center" data-i18n="USES"></div>
          </div>
        </div>

        //= include ../actionComponents/attack.html
        //= include ../actionComponents/savingThrow.html
        //= include ../actionComponents/damage.html
        //= include ../actionComponents/damageSecondary.html
        //= include ../actionComponents/extras.html
        //= include ../actionComponents/ammo.html
      </div>
    </div>
  </fieldset>

  //= include ../equipment/ammo.html

  <button type="roll" name="roll_shaped_attacks" class="wrapper-button" value="/w @{character_name} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{ATTACKS}}} {{action=1}} {{text_big=@{attacks_macro_var}}}">
    <div class="wrap-box-title center" data-i18n="ATTACKS"></div>
  </button>
</div>
