<div class="wrap-box personality-traits center mar-b-sm">
  <textarea class="four-line-textarea background-textarea no-border edit" name="attr_personality_traits"></textarea>
  <button type="roll" name="roll_shaped_personality_traits" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{PERSONALITY_TRAITS}}} {{text=@{personality_traits}}}">
    <span name="attr_personality_traits" class="presentation pre-line background-text"></span>
    <div class="wrap-box-title center" data-i18n="PERSONALITY_TRAITS"></div>
  </button>
</div>
<div class="wrap-box ideals center mar-b-sm">
  <textarea class="four-line-textarea background-textarea no-border edit" name="attr_ideals"></textarea>
  <button type="roll" name="roll_shaped_ideals" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{IDEALS}}} {{text=@{ideals}}}">
    <span name="attr_ideals" class="presentation pre-line background-text"></span>
    <div class="wrap-box-title center" data-i18n="IDEALS"></div>
  </button>
</div>
<div class="wrap-box bonds center mar-b-sm">
  <textarea class="four-line-textarea background-textarea no-border edit" name="attr_bonds"></textarea>
  <button type="roll" name="roll_shaped_bonds" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{BONDS}}} {{text=@{bonds}}}">
    <span name="attr_bonds" class="presentation pre-line background-text"></span>
    <div class="wrap-box-title center" data-i18n="BONDS"></div>
  </button>
</div>
<div class="wrap-box flaws center mar-b-smd">
  <textarea class="four-line-textarea background-textarea no-border edit" name="attr_flaws"></textarea>
  <button type="roll" name="roll_shaped_flaws" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{FLAWS}}} {{text=@{flaws}}}">
    <span name="attr_flaws" class="presentation pre-line background-text"></span>
    <div class="wrap-box-title center" data-i18n="FLAWS"></div>
  </button>
</div>