<div class="shaped-row vert-center no-wrap edit">
  <div class="flex-grow small-label" data-i18n="MULTIPLIER"></div>
  <div class="3-rem">
    <input type="number" name="attr_weight_multiplier" class="no-spin" value="1" step=".05">
  </div>
</div>
<div class="shaped-row vert-center no-wrap">
  <div class="flex-grow small-label" data-i18n="CARRYING_CAPACITY"></div>
  <div class="edit">&times;</div>
  <div class="2-rem edit">
    <input type="number" name="attr_carrying_capacity_multiplier" class="no-spin" value="15" step=".001">
  </div>
  <div class="3-rem no-overflow">
    <span name="attr_carrying_capacity" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center no-wrap">
  <div class="flex-grow small-label" data-i18n="CARRYING_PUSH_DRAG_LIFT"></div>
  <div class="edit">&times;</div>
  <div class="2-rem edit">
    <input type="number" name="attr_max_push_drag_lift_multiplier" class="no-spin" value="30" step=".001">
  </div>
  <div class="3-rem no-overflow">
    <span name="attr_max_push_drag_lift" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center no-wrap">
  <div class="flex-grow small-label" data-i18n="ENCUMBERED"></div>
  <div class="edit">&times;</div>
  <div class="2-rem edit">
    <input type="number" name="attr_encumbered_multiplier" class="no-spin" value="5" step=".001">
  </div>
  <div class="3-rem no-overflow">
    <span name="attr_encumbered" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center no-wrap">
  <div class="flex-grow small-label" data-i18n="ENCUMBERED_HEAVILY"></div>
  <div class="edit">&times;</div>
  <div class="2-rem edit">
    <input type="number" name="attr_heavily_encumbered_multiplier" class="no-spin" value="10" step=".001">
  </div>
  <div class="3-rem no-overflow">
    <span name="attr_heavily_encumbered" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="wrap-box-title center" data-i18n="CARRYING_CAPACITY"></div>