<div class="coin shaped-row no-wrap vert-center mar-t-md">
  <div class="wrap-box 2-rem">
    <button type="roll" name="roll_shaped_coinage_cp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{COPPER_PIECES}}} {{text_big=[[@{cp}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm" data-i18n="COINS_CP"></div>
    </button>
  </div>
  <div class="shaped-row wrap-box coin-value-wrap">
    <input type="number" name="attr_cp" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-md">
  <div class="wrap-box 2-rem">
    <button type="roll" name="roll_shaped_coinage_sp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{SILVER_PIECES}}} {{text_big=[[@{sp}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm" data-i18n="COINS_SP"></div>
    </button>
  </div>
  <div class="shaped-row wrap-box coin-value-wrap">
    <input type="number" name="attr_sp" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-md">
  <div class="wrap-box 2-rem">
    <button type="roll" name="roll_shaped_coinage_ep" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{ELECTRUM_PIECES}}} {{text_big=[[@{ep}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm" data-i18n="COINS_EP"></div>
    </button>
  </div>
  <div class="shaped-row wrap-box coin-value-wrap">
    <input type="number" name="attr_ep" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-md">
  <div class="wrap-box 2-rem">
    <button type="roll" name="roll_shaped_coinage_gp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{GOLD_PIECES}}} {{text_big=[[@{gp}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm" data-i18n="COINS_GP"></div>
    </button>
  </div>
  <div class="shaped-row wrap-box coin-value-wrap">
    <input type="number" name="attr_gp" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-md">
  <div class="wrap-box 2-rem">
    <button type="roll" name="roll_shaped_coinage_pp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{PLATINUM_PIECES}}} {{text_big=[[@{pp}]]}}" tabindex="-1">
      <div class="light-label pad-r-sm" data-i18n="COINS_PP"></div>
    </button>
  </div>
  <div class="shaped-row wrap-box coin-value-wrap">
    <input type="number" name="attr_pp" class="no-spin no-border" value="0" min="0" step="1">
  </div>
</div>
<div class="coin shaped-row no-wrap vert-center mar-t-md">
  <div class="wrap-box 2-rem">
    <button type="roll" name="roll_shaped_coinage_total_gp" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{TOTAL_GOLD_VALUE}}} {{text_big=[[@{total_gp}]]}}" tabindex="-1">
      <div class="light-label bold pad-r-sm" data-i18n="COINS_GP"></div>
    </button>
  </div>
  <div class="shaped-row wrap-box coin-value-wrap">
    <input type="number" name="attr_total_gp" class="bold no-border" value="0" readonly>
  </div>
</div>