<div class="section-core pc">
  <input type="hidden" name="attr_show_spells_on_core" class="toggle-spells-on-core hidden" value="1">
  <div class="shaped-row">
    <div class="16-rem pad-r-sm pad-b-md">
      <div class="shaped-row mar-b-smd">
        <div class="col-30 pad-r-sm">
          {% include "../abilities/abilities.html" %}
        </div>
        <div class="col-70 pad-l-sm">
          {% include "./inspiration.html" %}
          {% include "../proficiencyBonus/proficiency.html" %}
          {% include "../savingThrows/savingThrows.html" %}
          {% include "../abilityChecks/skills.html" %}
          <div class="resistances-immunities wrap-box">
            {% include "../resistances/resistancesVulnerabilities.html" %}
            <div class="wrap-box-title center" data-i18n="RESISTANCES_AND_IMMUNITIES"></div>
          </div>
        </div>
      </div>
      <div>
        {% include "./languagesProficiencies.html" %}
      </div>
    </div>
    <div class="18-rem pad-l-sm pad-r-sm pad-b-md">
      {% include "./hpArmorInitSpeed.html" %}
      <div class="shaped-row sheet-mar-b-smd">
        <div class="col-22 center">
          {% include "./tempHP.html" %}
        </div>
        <div class="col-78 pad-l-sm">
          <div class="shaped-row">
            <div class="col-44 pad-r-sm">
              {% include "./hitDice.html" %}
            </div>
            <div class="col-56 pad-l-sm">
              {% include "./deathSaves.html" %}
            </div>
          </div>
          <div>
            {% include "./exhaustion.html" %}
            {% include "./rests.html" %}
          </div>
        </div>
      </div>
      <div class="mar-b-smd">
        {% include "../attacks/attacks.html" %}
      </div>
      <div class="spells spells-on-core mar-b-smd">
        {% include "./spellsWrap.html" %}
      </div>
      <div class="psionics mar-b-smd">
        {% include "./psionics.html" %}
      </div>
      <div class="mar-b-smd">
        {% include "../equipment/equipment.html" %}
      </div>
      <div class="mar-b-smd">
        <div class="wrap-box">
          <div class="shaped-row">
            <div class="col-30">
              {% include "./coins.html" %}
            </div>
            <div class="col-70 pad-l-sm">
              {% include "./weight.html" %}
              <div class="mar-t-smd"></div>
              {% include "./carryingCapacity.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="18-rem  pad-l-sm">
      {% include "./background.html" %}
      {% include "./traits.html" %}
    </div>
  </div>
</div>
