<div class="section-core pc">
  <div class="shaped-row">
    <div class="21-em pad-r-sm pad-b-md">
      <div class="shaped-row mar-b-smd">
        <div class="col-29 pad-r-sm">
          //= include abilities.html
        </div>
        <div class="col-71 pad-l-sm">
          //= include inspiration.html
          //= include proficiency.html
          //= include savingThrows.html
          //= include skills.html
          <div class="resistances-immunities wrap-box">
            //= include resistancesVulnerabilities.html
            <div class="wrap-box-title center" data-i18n="RESISTANCES_AND_IMMUNITIES"></div>
          </div>
        </div>
      </div>
      <div>
        //= include languagesProficiencies.html
      </div>
    </div>
    <div class="27-em pad-l-sm pad-r-sm pad-b-md">
      <div class="shaped-row">
        <div class="col-58 pad-r-sm">
          //= include armorInit.html
          //= include hitPoints.html
          <div class="shaped-row">
            <div class="col-37 pad-r-sm">
              //= include hitDice.html
            </div>
            <div class="col-63 pad-l-sm">
              //= include deathSaves.html
            </div>
          </div>
        </div>
        <div class="col-42 pad-l-sm">
          //= include ../spells/spellSlots.html
          //= include exhaustion.html
          //= include rests.html
        </div>
      </div>
      <div>
        //= include attacks.html
      </div>
      <div>
        //= include equipment.html
      </div>
    </div>
    <div class="22-em pad-l-sm">
      //= include background.html
      //= include traits.html
    </div>
  </div>
</div>
