<div class="death-saving-throw wrap-box center mar-b-smd">
  <div class="edit small-label">
    <label class="checkbox-wrap">
      <input type="checkbox" name="attr_death_saving_throw_prof" value="@{PB}">
      <span data-i18n="PROFICIENT"></span>
    </label>
  </div>
  <div class="shaped-row center vert-center death-success">
    <div class="5-em small-label right" data-i18n="SUCCESSES"></div>
    <div class="4-em center inline-block-wrapper relative">
      <input type="radio" name="attr_death_saving_throw_successes" value="0" checked><span>&#10006;</span>
      <input type="radio" name="attr_death_saving_throw_successes" value="1"><span></span>
      <input type="radio" name="attr_death_saving_throw_successes" value="2"><span></span>
      <input type="radio" name="attr_death_saving_throw_successes" value="3"><span></span>
      <hr class="absolute death-saving-throw-hr">
    </div>
  </div>
  <div class="shaped-row center vert-center death-saving-throw death-fail">
    <div class="5-em small-label right" data-i18n="FAILURES"></div>
    <div class="4-em center inline-block-wrapper relative">
      <input type="radio" name="attr_death_saving_throw_failures" value="0" checked><span>&#10006;</span>
      <input type="radio" name="attr_death_saving_throw_failures" value="1"><span></span>
      <input type="radio" name="attr_death_saving_throw_failures" value="2"><span></span>
      <input type="radio" name="attr_death_saving_throw_failures" value="3"><span></span>
      <hr class="absolute death-saving-throw-hr">
    </div>
  </div>
  <button type="roll" name="roll_shaped_death_saving_throw"
          value="@{death_save_output_option} &{template:5e-shaped} {{death_saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} @{show_character_name} {{title=^{DEATH_SAVING_THROW}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{death_saving_throw_prof}[proficient] + (@{global_saving_throw_bonus})[global saving throw bonus]]]}} @{roll_setting} + (@{global_saving_throw_bonus})[global saving throw bonus]]]}} {{death_saving_throw_successes=@{death_saving_throw_successes}}} {{death_saving_throw_failures=@{death_saving_throw_failures}}} @{attacher_death_saving_throw}">
    <div class="wrap-box-title center" data-i18n="DEATH_SAVES"></div>
  </button>
</div>