<div class="wrap-box">
  <div class="shaped-row">
    <div class="col-22">
      //= include ../equipment/coins.html
    </div>
    <div class="col-78 core-equipment pad-l-sm">
      <div>
        <div class="shaped-row">
          <div class="col-06"></div>
          <div class="col-56 wrap-box-label light-label pad-l-sm pad-r-sm" data-i18n="ARMOR"></div>
          <div class="col-26 wrap-box-label light-label center pad-r-sm" data-i18n="USES"></div>
          <div class="col-12 wrap-box-label light-label center" data-i18n="AC"></div>
        </div>
        <fieldset class="repeating_armor">
          <div class="shaped-row compendium-drop-target vert-center">
            <div class="col-06 center">
              <input type="checkbox" name="attr_worn" checked>
            </div>
            <div class="col-56 pad-l-sm pad-r-sm">
              <button type="roll" name="roll_armor" class="presentation wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{armor=1}} {{text_big=AC [[@{ac_base}[ac] + @{ac_bonus}[bonus ac]]]}} {{uses=@{uses}}} {{uses_max=@{uses|max}}}">
                <span name="attr_name"></span>
              </button>
              <input type="text" name="attr_name" class="edit" accept="Name">
              <input type="hidden" name="attr_type" accept="Item Type">
              <input type="hidden" name="attr_ac_base" accept="AC">
              <input type="hidden" name="attr_ac_bonus">
              <input type="hidden" name="attr_modifiers" accept="Modifiers">
              <input type="hidden" name="attr_strength_requirements">
              <input type="hidden" name="attr_stealth" accept="Stealth">
              <input type="hidden" name="attr_weight" accept="Weight">
            </div>
            <div class="col-26 shaped-row flex-end no-wrap pad-r-sm">
              <div class="shaped-row flex-end no-wrap">
                <input type="checkbox" name="attr_show_uses" class="edit small-checkbox show-uses" value="1">
                <div class="col-42 show-uses pad-r-sm">
                  <input type="number" name="attr_uses" class="no-spin no-border" step="1">
                </div>
                <div class="show-uses">/</div>
                <div class="col-42 show-uses pad-l-sm">
                  <input type="number" name="attr_uses_max" class="no-spin no-border" step="1">
                </div>
              </div>
            </div>
            <div class="col-12 center pad-r-sm">
              <span name="attr_ac_total"></span>
            </div>
          </div>
        </fieldset>
      </div>
      <hr>
      <div class="mar-t-md">
        <div class="shaped-row">
          <div class="col-06"></div>
          <div class="col-56 wrap-box-label light-label pad-l-sm pad-r-sm" data-i18n="EQUIPMENT"></div>
          <div class="col-26 wrap-box-label light-label center pad-r-sm" data-i18n="USES"></div>
          <div class="col-12 wrap-box-label light-label center" data-i18n="QTY"></div>
        </div>
        <div class="equipment-wrapper">
          <fieldset class="repeating_equipment">
            <input type="hidden" name="attr_quick" class="toggle-quick-equipment hidden" value="1">
            <div class="shaped-row compendium-drop-target quick-equipment vert-center">
              <div class="col-06 center">
                <input type="checkbox" name="attr_carried" checked>
              </div>
              <div class="col-56 pad-l-sm pad-r-sm">
                <button type="roll" name="roll_equipment" class="presentation" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{equipment=1}} {{text=@{content}}} {{uses=@{uses}}} {{uses_max=@{uses|max}}}">
                  <span name="attr_name"></span>
                </button>
                <input type="text" name="attr_name" class="edit" accept="Name">
                <input type="hidden" name="attr_content" accept="Content">
                <input type="hidden" name="attr_weight" accept="Weight">
              </div>
              <div class="col-26 pad-r-sm">
                <div class="shaped-row flex-end no-wrap">
                  <input type="checkbox" name="attr_show_uses" class="edit small-checkbox show-uses" value="1">
                  <div class="col-42 show-uses pad-r-sm">
                    <input type="number" name="attr_uses" class="no-spin no-border" step="1">
                  </div>
                  <div class="show-uses">/</div>
                  <div class="col-42 show-uses pad-l-sm">
                    <input type="number" name="attr_uses_max" class="no-spin no-border" step="1">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <input type="number" name="attr_qty" class="no-spin no-border" value="1" min="0" step="1">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="EQUIPMENT"></div>
</div>
