<div class="shaped-row space-between mar-b-sm">
  <div class="center mar-r-smd">
    <div class="heart">
      <div class="shaped-row center flex-end no-wrap">
        <div class="col-40">
          <input type="number" name="attr_HP" class="big-text no-spin no-border" step="1">
        </div>
        <div class="heart-divider">&#47;</div>
        <div class="col-40">
          <input type="number" name="attr_HP_max" class="big-text no-spin no-border" min="1" step="1">
        </div>
      </div>
      <button type="roll" name="roll_shaped_hp" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{HIT_POINTS}}} {{text_big=[[@{HP}]]&#47;[[@{HP|max}]]}}">
        <div class="shaped-row center">
          <div class="wrap-box-title col-70" data-i18n="HIT_POINTS"></div>
        </div>
      </button>
    </div>
  </div>
  <div class="ac center mar-r-smd">
    <button type="roll" name="roll_shaped_ac" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{AC}}} {{text_big=[[@{ac}]]}}">
      <div class="shield">
        <span name="attr_AC" class="big-text block center"></span>
        <div class="wrap-box-title center" data-i18n="ARMOR_CLASS"></div>
      </div>
    </button>
  </div>
  <div class="4-em center mar-r-smd">
    <div class="wrap-box initiative">
      <input type="hidden" name="attr_initiative_formula">
      <div class="edit shaped-row no-wrap vert-center">
        <div>+</div>
        <input type="text" name="attr_initiative_bonus" class="center no-border" value="0">
        <div>=</div>
        <span name="attr_initiative" class="big-text block center"></span>
      </div>
      <button type="roll" name="roll_shaped_initiative" value="@{initiative_output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{INITIATIVE}}} {{roll1=[[@{initiative_roll} + @{initiative_to_tracker} + @{initiative_tie_breaker}]]}} @{attacher_initiative}">
        <span name="attr_initiative" class="presentation big-text block center initiative-total"></span>
        <div class="wrap-box-title center" data-i18n="INITIATIVE"></div>
      </button>
    </div>
  </div>
  <div class="4-em center">
    <div class="wrap-box center speed">
      <div class="edit">
        <input type="number" name="attr_speed" class="big-text center no-spin no-border" step="1">
      </div>
      <button type="roll" name="roll_shaped_speed" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{SPEED}}} {{text_big=[[@{speed}]]}}">
        <span name="attr_speed" class="presentation big-text block center"></span>
        <div class="wrap-box-title" data-i18n="SPEED"></div>
      </button>
    </div>
  </div>
</div>