<div class="damage-vulnerabilities">
  <input type="hidden" name="attr_damage_vulnerabilities_exist" class="item-toggle">
  <button type="roll" name="roll_shaped_damage_vulnerabilities" class="wrapper-button item-to-toggle" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{DAMAGE_VULNERABILITIES}}} {{text=@{damage_vulnerabilities}}}">
    <span class="heading" data-i18n="DAMAGE_VULNERABILITIES">.</span>
    <span name="attr_damage_vulnerabilities" class="presentation pre-line"></span>
  </button>
  <textarea name="attr_damage_vulnerabilities" class="edit two-line-textarea no-border"></textarea>
</div>
<div class="damage-resistances">
  <input type="hidden" name="attr_damage_resistances_exist" class="item-toggle">
  <button type="roll" name="roll_shaped_damage_resistances" class="wrapper-button item-to-toggle" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{DAMAGE_RESISTANCES}}} {{text=@{damage_resistances}}}">
    <span class="heading" data-i18n="DAMAGE_RESISTANCES">.</span>
    <span name="attr_damage_resistances" class="presentation pre-line"></span>
  </button>
  <textarea name="attr_damage_resistances" class="edit two-line-textarea no-border"></textarea>
</div>
<div class="damage-immunities">
  <input type="hidden" name="attr_damage_immunities_exist" class="item-toggle">
  <button type="roll" name="roll_shaped_damage_immunities" class="wrapper-button item-to-toggle" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{DAMAGE_IMMUNITIES}}} {{text=@{damage_immunities}}}">
    <span class="heading" data-i18n="DAMAGE_IMMUNITIES">.</span>
    <span name="attr_damage_immunities" class="presentation pre-line"></span>
  </button>
  <textarea name="attr_damage_immunities" class="edit two-line-textarea no-border"></textarea>
</div>
<div class="condition-immunities">
  <input type="hidden" name="attr_condition_immunities_exist" class="item-toggle">
  <button type="roll" name="roll_shaped_condition_immunities" class="wrapper-button item-to-toggle" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{CONDITION_IMMUNITIES}}} {{text=@{condition_immunities}}}">
    <span class="heading" data-i18n="CONDITION_IMMUNITIES">.</span>
    <span name="attr_condition_immunities" class="presentation pre-line"></span>
  </button>
  <textarea name="attr_condition_immunities" class="edit two-line-textarea no-border"></textarea>
</div>