<span class="edit">{{'SHOW_RESTS' | translate}}</span><input type="checkbox" name="attr_show_rests" class="edit item-shown">
<div class="wrap-box no-wrap relative mar-b-smd item-to-show">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">A</div>
      <div class="tooltip-content-left small-label">{{'REQUIRES_API' | translate}}</div>
    </div>
  </div>
  <div class="shaped-row">
    <div class="pad-r-sm">
      <input type="checkbox" name="attr_short_rest" class="toggle-pseudo-button toggle-rest"><span class="toggle-pseudo-button toggle-rest button">{{'SHORT_REST' | translate}}</span>
    </div>
    <div class="pad-l-sm">
      <input type="checkbox" name="attr_long_rest" class="toggle-pseudo-button toggle-rest"><span class="toggle-pseudo-button toggle-rest button">{{'LONG_REST' | translate}}</span>
    </div>
  </div>
  <div class="wrap-box-title center">{{'RESTS' | translate}}</div>
</div>
