<input type="checkbox" name="attr_show_rests" class="hidden item-shown">
<div class="wrap-box no-wrap relative mar-b-smd item-to-show">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">A</div>
      <div class="tooltip-content-left small-label" data-i18n="REQUIRES_API"></div>
    </div>
  </div>
  <div class="shaped-row">
    <div class="pad-r-sm">
      <button type="roll" name="roll_shaped_short_rest" class="visible-button" value="!shaped-rest --short --id @{character_id}">
        <span data-i18n="SHORT_REST"></span>
      </button>
    </div>
    <div class="pad-l-sm">
      <button type="roll" name="roll_shaped_long_rest" class="visible-button" value="!shaped-rest --long --id @{character_id}">
        <span data-i18n="LONG_REST"></span>
      </button>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="RESTS"></div>
</div>
