<div class="skills wrap-box mar-b-smd">
  <input type="checkbox" name="attr_show_passive_skills" class="item-shown hidden">
  <fieldset class="repeating_skill">
    <div class="shaped-row no-wrap flex-end">
      <div class="col-10 no-shrink edit">
        <select name="attr_skill_d20">
          <option value="@{shaped_d20}" data-i18n="NORMAL">Normal</option>
          <option value="2d20@{d20_mod}kh1" data-i18n="ADVANTAGE">Advantage</option>
          <option value="2d20@{d20_mod}kl1" data-i18n="DISADVANTAGE">Disadvantage</option>
        </select>
      </div>
      <div class="col-10 skill-select-wrapper no-shrink">
        <select name="attr_proficiency" class="no-border">
          <option value="unproficient">&#8212; &#160;&#160;<span data-i18n="UNPROFICIENT">Unproficient</span></option>
          <option value="proficient">&check; &#160;&#160; <span data-i18n="PROFICIENT">Proficient</span></option>
          <option value="expertise">&cross; &#160;&#160; <span data-i18n="EXPERTISE">Expertise</span></option>
        </select>
      </div>
      <div class="col-09 edit no-shrink">
        <input type="number" name="attr_bonus" class="no-spin small-label" value="0" step="1">
      </div>
      <button type="roll" name="roll_skill" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name} (^{@{ability_key}})}} @{roll_info} @{skill_info} {{roll1=[[@{skill_d20} + @{formula}]]}} @{roll_setting} + @{formula}]]}} @{attacher_skill}" tabindex="-1">
        <div class="shaped-row no-wrap flex-end">
          <span name="attr_total_with_sign" class="col-2-em input-like center bold border-bottom"></span>
          <span name="attr_name" class="skill-name presentation pad-l-sm"></span>
        </div>
      </button>
      <div class="col-50 edit">
        <input type="text" name="attr_name" class="skill-name">
      </div>
      <input type="hidden" name="attr_formula">
      <input type="hidden" name="attr_skill_info">
      <input type="hidden" name="attr_ability_key">
      <div class="skills-ability-selector-wrapper no-shrink pad-l-sm">
        <div class="shaped-row no-wrap vert-center">
          <span>(</span>
          <select name="attr_ability" class="skills-ability-selector">
            <option value="">&#8212;</option>
            <option value="strength" data-i18n="STR">Str</option>
            <option value="dexterity" data-i18n="DEX">Dex</option>
            <option value="constitution" data-i18n="CON">Con</option>
            <option value="intelligence" data-i18n="INT">Int</option>
            <option value="wisdom" data-i18n="WIS">Wis</option>
            <option value="charisma" data-i18n="CHA">Cha</option>
          </select>
          <span>)</span>
        </div>
      </div>
      <div class="col-09 edit no-shrink">
        <input type="number" name="attr_passive_bonus" class="no-spin small-label" value="0" step="1">
      </div>
      <input type="hidden" name="attr_passive">
      <button type="roll" name="roll_passive" class="item-to-show" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{PASSIVE} @{name} (<span data-i18n=@{ability_key}>@{ability_key}<span>)}} @{roll_info} {{roll1=[[@{passive}]]}} @{hide_gm_info} @{attacher_skill}" tabindex="-1">
        <div class="shaped-row no-wrap flex-end">
          <span name="attr_passive" class="col-1-3-em input-like center border-bottom"></span>
        </div>
      </button>
    </div>
  </fieldset>
  <div class="mar-t-sm"></div>
  <input type="checkbox" name="attr_generate_skills" class="toggle-pseudo-button edit"><span class="toggle-pseudo-button button edit" data-i18n="GENERATE_SKILLS"></span>
  <div class="mar-t-sm">
    <input type="checkbox" name="attr_show_passive_skills" class="edit item-shown"><span class="edit" data-i18n="SHOW_PASSIVE"></span>
  </div>
  <button type="roll" name="roll_shaped_ability_checks" class="wrapper-button" value="/w @{character_name} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{ABILITY_CHECKS}}} {{@{ability_checks_text_size}=@{ability_checks_macro_var}}}">
    <div class="wrap-box-title center" data-i18n="SKILLS"></div>
  </button>
</div>