<div class="temp-heart mar-t-lg">
  <div class="shaped-row center pad-t-lg">
    <div class="2-rem">
      <input type="number" name="attr_temp_hp" class="no-spin no-border" min="0" step="1">
    </div>
  </div>
  <button type="roll" name="roll_shaped_temp_hp" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{HIT_POINTS_TEMPORARY}}} {{text_big=[[@{temp_HP}]]}}">
    <div class="shaped-row center">
      <div class="wrap-box-title 2-rem" data-i18n="HIT_POINTS_TEMP"></div>
    </div>
  </button>
</div>
<div class="max-hp-heart">
  <div class="shaped-row center pad-t-lg">
    <div class="2-rem">
      <input type="number" name="attr_hp_max_reduced" class="no-spin no-border" min="0" step="1">
    </div>
  </div>
  <button type="roll" name="roll_shaped_hpmax_reduced" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{REDUCED_MAX_HIT_POINTS}}} {{text_big=[[@{HP_max_reduced}]]}}">
    <div class="shaped-row center">
      <div class="wrap-box-title 3-rem" data-i18n="REDUCED_MAX"></div>
    </div>
  </button>
</div>