<div class="shaped-row vert-center">
  <div class="col-50 small-label" data-i18n="ATTACKS"></div>
  <div class="col-50">
    <span name="attr_weight_attacks" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="col-50 small-label" data-i18n="AMMO"></div>
  <div class="col-50">
    <span name="attr_weight_ammo" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="col-50 small-label" data-i18n="ARMOR"></div>
  <div class="col-50">
    <span name="attr_weight_armor" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="col-50 small-label" data-i18n="EQUIPMENT"></div>
  <div class="col-50">
    <span name="attr_weight_equipment" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="col-50 small-label" data-i18n="COINAGE"></div>
  <div class="col-50">
    <span name="attr_weight_coinage" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="col-50 small-label" data-i18n="TOTAL"></div>
  <div class="col-50">
    <span name="attr_weight_total" class="pseudo-input center border-bottom bold"></span>
  </div>
</div>
<div class="wrap-box-title center" data-i18n="WEIGHT"></div>