<div class="shaped-row vert-center">
  <div class="flex-grow small-label" data-i18n="ATTACKS"></div>
  <div class="4-rem">
    <span name="attr_weight_attacks" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="flex-grow small-label" data-i18n="AMMO"></div>
  <div class="4-rem">
    <span name="attr_weight_ammo" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="flex-grow small-label" data-i18n="ARMOR"></div>
  <div class="4-rem">
    <span name="attr_weight_armor" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="flex-grow small-label" data-i18n="EQUIPMENT"></div>
  <div class="4-rem">
    <span name="attr_weight_equipment" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center no-wrap">
  <div class="flex-grow small-label" data-i18n="COINAGE"></div>
  <div class="edit">&times;</div>
  <div class="3-rem edit">
    <input type="number" name="attr_weight_per_coin" value="0.02" step="0.000001" class="no-spin">
  </div>
  <div class="4-rem">
    <span name="attr_weight_coinage" class="pseudo-input center border-bottom"></span>
  </div>
</div>
<div class="shaped-row vert-center">
  <div class="flex-grow small-label" data-i18n="TOTAL"></div>
  <div class="4-rem">
    <span name="attr_weight_total" class="pseudo-input center border-bottom bold"></span>
  </div>
</div>
<div class="wrap-box-title center" data-i18n="WEIGHT"></div>