<div class="col-1-12 center pad-r-md">
  <div class="shaped-row">
    <div class="col-50 pad-r-sm">
      <input type="number" name="attr_custom_class_level_{{num}}" class="no-spin" value="0" min="0" step="1">
    </div>
    <div class="col-50 custom-class-hd">
      <select name="attr_custom_class_hd_{{num}}">
        <option value="4">d4</option>
        <option value="6">d6</option>
        <option value="8" selected>d8</option>
        <option value="10">d10</option>
        <option value="12">d12</option>
        <option value="20">d20</option>
      </select>
    </div>
  </div>
  <div class="small-label">
    <input class="center" type="text" name="attr_custom_class_name_{{num}}" placeholder="Custom {{num}}">
  </div>
</div>