/*----------- Repeating Blocks -------------*/
.charsheet .repcontrol_add 
{
    display: inline-block;
    background:#7F2108;
    color:white;
    text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
    box-shadow:none;
    float:left!important;
    margin-bottom:0px;
    font-size:0.9em;
    height:2.2em;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}
.charsheet .repcontrol_edit
{
    display: inline-block;
    background:#7F2108;
    color:white;
    text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
    box-shadow:none;
    float:none!important;
    margin-bottom:5px;
    font-size:0.9em;
    height:2.2em;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}
.charsheet .repcontrol_del 
{
    background:red;
    color:white;
    text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
    box-shadow:none;
    float:none!important;
    margin-bottom:5px;
    font-size:0.9em;
    height:2.2em;
}
.charsheet .repcontrol_move 
{
    display: inline-block;
    background:#08667f;
    color:white;
    text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
    box-shadow:none;
    float:none!important;
    margin-bottom:5px;
    font-size:0.9em;
    height:1.4em;
    padding-top:3px;
    padding-bottom:3px;
}
/*----------- End of Repeating Blocks -------------*//*=======================Tabs=======================*/

/*---------- Hide number scrollers

/*-- Hide arrows on number fields --*/
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


----------*/


div.sheet-padding {
     padding-left: 5px; 
     padding-right: 5px;
}
div.sheet-tab-content { 
    display: none; 
}

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6,
input.sheet-tab7:checked ~ div.sheet-tab7 {
    display:block;
}

input.sheet-tab {
    width: 130px;
    height: 20px;
    position: relative;
    left: 6px; 
    margin: 0px ;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px 5px 5px 5px;
    
}

input.sheet-tab:before
{
    content: attr(title);
    font-family: "Copperplate Gothic Light";
    color:white;
    text-shadow:0px 0px 0.5em black;

    text-align: center;
    display:block;
    
    background: #fff;
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/metalbar.jpg');

    
    width: 130px;
    height: 20px;
    font-size: 16px;
    font-weight:700;
    border-radius: 5px 5px 0px 0px ;
    
    border:1px solid black;
    
}

input.sheet-tab:checked:before
{
    background: #dcdcdc;
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/metalbar_dark.jpg);
    text-shadow:0px 0px 0.5em black,0px 0px 0.5em black;
}

input.sheet-tab:not(:first-child):before
{
    border-left: none;
}

div.sheet-tab-content {
    width: 835px;
    background:white;
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg');
    box-shadow: inset 0px 0px 10px #cdab6c, inset 0px 0px 8px #544477,inset 0px 0px 4px #30233d;
    padding: 5px;
    margin-bottom:20px;
    border-radius:0px 0px 15px 15px;
    margin-right:auto;
    margin-left:auto;
}
div.sheet-top_bar {
    width: 835px;
    background:white;
    box-shadow: inset 0px 0px 10px #cdab6c, inset 0px 0px 8px #544477,inset 0px 0px 4px #30233d;
    padding: 5px;
    border-radius:15px 15px 0px 0px;
    margin-right:auto;
    margin-left:auto;
    }
/*=======================End of tabs=======================*/
/*----------- End of Font Face -------------*/
/*----------- Banner -------------*/
.sheet-banner { 
    background: url('http://www.atlas-games.com/images/ArM5LogoColor.jpg'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.sheet-banner-content { 
    margin: 0; 
    height: 100px; 
    width: 200px; 
}
/*----------- End of Banner -------------*/
/*----------- background -------------*/
.charsheet {
    background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/velvet.jpg');
    width:850px;
}

.sheet-divider {
     background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/divider-block.jpg');
     width:600px; 
     margin:0px auto;
     height:15px; 
     display:block;"
     margin-top:5px; margin-bottom:15px;
     box-shadow:0px 0px 5px 0px #f0ede4 inset;
}

/*----------- End of background -------------*/
/*----------- Text -------------*/
.sheet-heading {
    font-family: "Copperplate Gothic Light";
    font-weight:bold;
    font-size:1.3em;
}

.sheet-heading_1  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    color:#663333;
    font-size:1.4em;
    line-height:1.4em;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width:200px;
}

textarea.sheet-textarea_4:hover,textarea.sheet-textarea_4:focus,
textarea.sheet-textarea_3:hover,textarea.sheet-textarea_3:focus,
textarea.sheet-textarea_2:hover,textarea.sheet-textarea_2:focus,
textarea.sheet-textarea_1:hover,textarea.sheet-textarea_1:focus,
.sheet-number_1:hover, .sheet-number_1:focus, 
.sheet-heading_2:hover, .sheet-heading_2:focus, 
.sheet-heading_3:hover, .sheet-heading_3:focus,
.sheet-heading_1:hover, .sheet-heading_1:focus {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e6dbc6, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6dbc6, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6dbc6, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6dbc6, white); /* Standard syntax */
}
.sheet-heading_2  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    color:#663333;
    font-size:1.2em;
    line-height:1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:160px;
}
.sheet-heading_2a  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    color:#663333;
    font-size:1.2em;
    line-height:1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:100px;
}
.sheet-heading_3 {
    background: transparent;
    font-family: "Copperplate Gothic Light";
    font-size:1em;
    font-weight:bold;
    line-height:1.2em;
    color:#53332a;;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:200px;
}
.sheet-heading_4  {
    background: transparent;
    font-family: "Copperplate Gothic Light";
    font-size:1.1em;
    line-height:1.2em;
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
  
    width:120px;
}
.sheet-number_1 {
    width:40px;
    font-family: "Copperplate", fantasy;
    color:#663333;
    font-size:1.2em;
    line-height:1.2em;
    text-align:center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    box-shadow: none;
    background:transparent;
    }
.sheet-number_2 {
    width: 40px;
    font-family: Copperplate Gothic Light, 'Copperplate Gothic Light', fantasy;
    color:#53332a;
    font-size:1.1em;
    line-height:1.2em;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    box-shadow: none;
    background:transparent;
    }
.sheet-number_3 {
    width:32px;
    font-family: Copperplate Gothic Light, 'Copperplate Gothic Light', fantasy;
    color:#53332a;
    font-size:1.1em;
    line-height:1.2em;
    text-align:center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    box-shadow: none;
    background:transparent;
    }

/* Advancement */
.sheet-advance {
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/advancement_advance.png");
    background-size: 100% 100%;
}

/* Advancement Total */
.sheet-total {
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/advancement_total.png");
    background-size: 100% 100%;
}

/* Misc Formatting */
.sheet-minor {
    color:gray;
}

.sheet-number_3:disabled,    
.sheet-number_2:disabled,
.sheet-number_2:read-only,
.sheet-number_1:disabled {
    background: #53332a;
    border:2px solid #e6dbc6;
    color:white;
    text-align: right;
}
.sheet-counter {
    width:90px;
    font-family: Copperplate Gothic Light, 'Copperplate Gothic Light', fantasy;
    font-size:1.1em;
    line-height:1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    box-shadow: none;
    background:transparent;
    text-shadow: 0px 0px 10px white;
    color:black;
    font-weight:700;
    }

input.sheet-counter[type=number]::-webkit-inner-spin-button, 
input.sheet-counter[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*-----Subsection Header------*/
.sheet-heading_label {
    margin-left:0px;
    margin-bottom:-6px;
    padding-left: 10px;
    border: 2px solid #d49d4b;
    border-radius: 0px 15px 0px 0px;
    background:#544177;
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/paintbar.jpg");
   /* text-shadow: 0px 0px 20px black, 0px 0px 15px black, 0px 0px 5px #cb8f33; */
    font-family: "Copperplate Gothic Light";
    text-shadow: 0px 0px 30px #bea05a, 0px 0px 20px #bea05a, 0px 0px 10px white, 2px 2px 15px white, 2px 2px 10px white;, 2px 2px 5px white, 2px 2px 2px white;
    
    color:black;
    width:155px;
}
/*----------- End of Text -------------*/
/*----------- Virtue Formatting--------*/
.sheet-Vmajor  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    color:#663333;
    font-size:1.2em;
    line-height:1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:160px;
}
.sheet-Vminor  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    color:#663333;
    font-size:1em;
    line-height:1em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:160px;
}
.sheet-Vfree  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    font-style:italics;
    color:#663333;
    font-size:1em;
    line-height:1em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:160px;
}
/*----------- Tables -------------*/
.sheet-table_1 th {
    font-family: "Copperplate Gothic Light";
    font-variant:small-caps;
    color:#53332a;
    }
.sheet-table_2 {
    font-family: "Copperplate Gothic Light";
    font-weight:bold;
    margin-top:5px;
    margin-bottom:5px;
    color:#53332a;
    
    }
.sheet-table_2 th {
    font-family: "Copperplate Gothic Light";
    text-align:left;
    color:#53332a;
    }
.sheet-table_3 {
    font-family: "Copperplate Gothic Light";
    font-weight:bold;
    margin-top:5px;
    margin-bottom:5px;
    color:#53332a;
    
    }
.sheet-table_3 th {
    font-family: "Copperplate Gothic Light";
    text-align:left;
    color:#e7e3d8;
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/combatroller_bg2.jpg");
   /* border: 2px solid #e6dbc6;*/
    border-bottom: 2px solid #53332a; border-top: 1px solid #d49d4b; 
    padding-left:5px;
    }
.sheet-table_3 tr:nth-child(even) {
    background:#e6dbc6;
}
.sheet-cellgroup {
    background:#e6dbc6;
}


/*----------- End of Tables -------------*/
/*----------- textarea -------------*/
textarea.sheet-textarea_1 {
    width: 200px;
    resize:vertical;
    height:85px;
    border:1px dotted #d3d3d3;
    border-radius:0px 10px;
    background: #e6dbc6;
    font-family: "Lucida Bright", "Book Antiqua", "Candara", "Verdana";
    color:#53332a;
    }
textarea.sheet-textarea_2 {
    width: 400px;
    resize:vertical;
    height:85px;
    border:1px dotted #d3d3d3;
    border-radius:0px 10px;
    background:#e6dbc6;
    font-family: "Lucida Bright", "Book Antiqua", "Candara", "Verdana";
    color:#53332a;

    }
textarea.sheet-textarea_3 {
    width: 180px;
    resize:vertical;
    height:30px;
    border:1px dotted #d3d3d3;
    border-radius:0px 10px;
    background:#e6dbc6;
    margin-bottom:0px;
    }
textarea.sheet-textarea_4 {
    width: 390px;
    resize:vertical;
    height:100px;
    border:1px dotted #d3d3d3;
    border-radius:0px 10px;
    background: #e6dbc6;
    font-family: "Lucida Bright", "Book Antiqua", "Candara", "Verdana";
    color:#53332a;    
}
/*----------- End of textarea -------------*/
/*----------- Select -------------*/
select.sheet-select_1 {
    -webkit-appearance: none;
    padding-top:0px;
    padding-right:0px;
    appearance: none; 
    margin-bottom: 0;
    width:110px;
    font-family: "Copperplate Gothic Light";
    color:#53332a;
    font-weight:bold;
    background:none;
   /* background:url("https://i.imgur.com/gIacv0f.jpg");*/
}

select.sheet-select_2 {
    -webkit-appearance: none;
    padding-top:0px;
    padding-right:0px;
    appearance:none;
    margin-bottom:0px;
    width:110px;
    font-family: "Copperplate Gothic Light";
    font-variant: small-caps;
    color: #53332a;
    font-weight: bold;
    background-color: transparent;
}

select {    
    -moz-appearance: none;
}

select *.sheet-italic {
    font-style:italic;
}
/*----------- End of Select -------------*/
/*----------- Hide Things -------------*/
.sheet-hidden {
    display: none;
}

input.sheet-hider:checked ~ div.sheet-hide {
    display: none;
}
/*----------- End of Hide Things -------------*/
/*----------- Checkbox -------------*/
    /* Hide actual checkbox */
    
input.sheet-checkbox_wound[type="checkbox"],
input.sheet-checkbox_3[type="checkbox"],
input.sheet-checkbox_2[type="checkbox"],
input.sheet-checkbox_1[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 8px;
    margin:0px;
    cursor: pointer;
    z-index: 1;
}

    /* Fake checkbox */
input.sheet-checkbox_2[type="checkbox"] + span::before,
input.sheet-checkbox_1[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 0px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
}

    /* Fake checkbox */
input.sheet-checkbox_2[type="checkbox"] + span::before, 
input.sheet-checkbox_1[type="checkbox"] + span::before {
    font-family:"Pictos";
    content: "W";
    color:#6a8c55;
    width: 14px;
    height: 14px;
    font-size: 24px;

}
input.sheet-checkbox_1[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}

input.sheet-checkbox_2[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}
input.sheet-checkbox_1[type="checkbox"]:checked + span::before {
    font-family:"Pictos";
    content:"W";
    color:#53332a;
}
input.sheet-checkbox_2[type="checkbox"]:checked + span::before {
    content: "x";
    color:red;
    
}    /* Fake checkbox */
input.sheet-checkbox_3[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
}

    /* Fake checkbox */
input.sheet-checkbox_3[type="checkbox"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}    /* Hide actual checkbox */

input.sheet-puissant[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0px;
    left: 8px;
    margin:0px;
    cursor: pointer;
    z-index: 1;
}

    /* Fake checkbox */
input.sheet-puissant[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

    /* Fake checkbox */
input.sheet-puissant[type="checkbox"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-puissant[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}

input.sheet-checkbox_2[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}
input.sheet-puissant[type="checkbox"]:checked + span::before {
    content: "✓";
    color:green;
    font-weight: bold;
}    /* Fake checkbox */
input.sheet-puissant[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
}
/*--------Health Fake Checkbox-----------*/

input.sheet-checkbox_wound[type="checkbox"] + span::before {
    margin-right: 0px;
    position: relative;
    top: 5px;
    left: 0px;
    margin:-10px;
    content:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/unwounded.png");
    
}
input.sheet-checkbox_wound[type="checkbox"]:checked + span::before {
    content:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/wounded.png");
}   
/*----------- Dropdown ----------*/
select.sheet-dropdown {
    font-size: 1.1em;
    height: 25px;
    width: 70px;
    text-align-last: center;
    vertical-align: middle;
    background: #9f8779;
    border: 0px;
    position: relative;
    padding: 2px 10px;

    margin-bottom: 0px;
    left: 30px;
    color: white;
    font-family: "Lucida Bright", "Book Antiqua", "Candara", "Verdana";
    font-weight: bold;
    font-variant: small-caps;
    -webkit-appearance: none;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

select.sheet-dropdown:hover {
    background: #53332a;
}

/*----------- Radio -------------*/

    /* Hide actual radio */
input.sheet-selector[type="radio"],
input.sheet-radio_2[type="radio"],
input.sheet-radio_1[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0px;
    left: 8px;
    margin:0px;
    cursor: pointer;
    z-index: 1;
}

    /* Fake radio */
input.sheet-selector[type="radio"] + span::before,
input.sheet-radio_2[type="radio"] + span::before,
input.sheet-radio_1[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0px;
    margin:-8px;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-selector[type="radio"] + span::before, 
input.sheet-radio_1[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: -8px;
    margin:0px;
}

input.sheet-radio_2[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}

    /* Fake radio */
input.sheet-selector[type="radio"] + span::before,
input.sheet-radio_2[type="radio"] + span::before,
input.sheet-radio_1[type="radio"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-selector[type="radio"]:checked + span::before,
input.sheet-radio_2[type="radio"]:checked + span::before,
input.sheet-radio_1[type="radio"]:checked + span::before {
    content: "x";
}
/* -----Based on the selector radio, hides options -------*/
.input.sheet-selector[type="radio"][value="major"]:checked ~ div.sheet-options {
    
}
.input.sheet-selector[type="radio"][value="minor"]:checked ~ div.sheet-options {
    font-family: "Gopperplate Gothic Light";
    font-size: 1em;
}
.input.sheet-selector[type="radio"][value="free"]:checked ~ div.sheet-options {
    font-family: "Gopperplate Gothic Light";
    font-size: 1em;
}
/*  =====       ======  ======  =====       ======  */    /* Hide actual radio */
input.sheet-puissant[type="radio"] {
    opacity: 0;
    width: 20px;
    height: 16px;
    position: relative;
    top: 0px;
    left: 8px;
    margin:0px;
    cursor: pointer;
    z-index: 1;
}

    /* Fake radio */
input.sheet-puissant[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-puissant[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: -8px;
    margin:0px;
}

input.sheet-puissant[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}

    /* Fake radio */
input.sheet-puissant[type="radio"] + span::before {
    content: "";
    width: 20px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-puissant.sheet-red[type="radio"]:checked + span::before {
    content: "No";
    color:red;
}
input.sheet-puissant.sheet-green[type="radio"]:checked + span::before {
    content: "Yes";
    color:green;
}
/*----------- End of Checkbox -------------*/
/*----------- Buttons -------------*/
button.sheet-button_1:before {
    content: "" !important;
}
button.sheet-botch:before{
    content: "" !important;
    display: none;
}

button.sheet-botch {
    font-family: "Copperplate Gothic Light";
    color:white;
    text-shadow:0px 0px 0.5em black;

    text-align: center;
    display: inline-block;
    
    background: #fff;
    background: -moz-linear-gradient(to top, #652b1f, #652b1f, #eea82e);
    background: -webkit-linear-gradient(to top, #652b1f, #652b1f, #eea82e);
    background: -ms-linear-gradient(to top, #652b1f, #652b1f, #eea82e);
    background: -o-linear-gradient(to top, #652b1f, #652b1f, #eea82e);
    background: linear-gradient(to top, #652b1f, #652b1f, #eea82e);
    
    width: 130px;
    height: 24px;
    font-size: 16px;
    line-height:18px;
    font-weight:700;
    border-radius: 8px 8px 2px 2px;
    
    border:1px solid black;
}
button.sheet-botch:hover {
    background: #fff;
    background: -moz-linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
    background: -webkit-linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
    background: -ms-linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
    background: -o-linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
    background: linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
}
button.sheet-botch:active {
    background: #fff;
    background: -moz-linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
    background: -webkit-linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
    background: -ms-linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
    background: -o-linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
    background: linear-gradient(to top, #9e3c0e, #d43d14, #eea82e);
}

/* ======== skillbtn ========*/
.sheet-skillbtn button[type="roll"]:before,
.sheet-skillbtn:before  {
    content: ""!important;
    display: none;
    border:none;
}
.sheet-skillbtn button[type="roll"],
.sheet-skillbtn {
    display: block;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #2A4792; 
    box-shadow: none;
    outline:0; 
    
    margin: 0;
    background: radial-gradient(circle at 0px 10px, white, gray);
    font-size:1em !important;  
    font-family: 'Contrail One', Copperplate Gothic Light, 'Copperplate Gothic Light';
    font-weight:bold;
    height:25px; 
    width: 90px; 
    padding-left:20px;
    color: black;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
}
.sheet-skillbtn button[type="roll"]:hover,
.sheet-skillbtn:hover  {
    background: radial-gradient(circle at 40px 10px, white, gray);
}

.sheet-skillbtn button[type="roll"]:active,
.sheet-skillbtn:active  {
    background: radial-gradient(circle at 80px 10px, white, gray);
}
/* ======== button ========*/
.sheet-button button[type="roll"]:before,
.sheet-button:before  {
    content: "0"!important;
    display: none;
    border: none;
}
.sheet-button button[type="roll"],
.sheet-button {
    display: block;
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton_base.png");
    background-repeat: no-repeat;
    margin: 0px auto;
    font-family: 'Contrail One', Copperplate Gothic Light, 'Copperplate Gothic Light';
    font-size:1em !important;  
    color:white;
    text-shadow: 1px 1px 2px black;
    font-weight:bold;
    height:25px; 
    width: 25px; 
    padding-left:0px;;
    border:none;
}
.sheet-button button[type="roll"]:hover,
.sheet-button:hover  {
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton.png");
    background-repeat: no-repeat;
}

.sheet-button button[type="roll"]:active,
.sheet-button:active  {
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton_hvr.png");
    background-repeat: no-repeat;
}
/* ======== magic ========*/
.sheet-magic button[type="roll"]:before,
.sheet-magic:before  {
    content: ""!important;
    display: none;
    border:none;
}
.sheet-magic button[type="roll"],
.sheet-magic {
    display: block;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #08667f; 
    box-shadow: none;
    outline:0; 
    
    margin: 0;
    background: radial-gradient(circle at 0px 10px, white, #08667f);
    font-size:1em !important;  
    font-family: 'Contrail One', 'Copperplate Gothic Light', 'Copperplate Gothic Light';
    font-weight:bold;
    height:25px; 
    width: 35px; 
    padding-left:0px;
    color: black;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
}
.sheet-magic button[type="roll"]:hover,
.sheet-magic:hover  {
    background: radial-gradient(circle at 40px 10px, white, #08667f);
}

.sheet-magic button[type="roll"]:active,
.sheet-magic:active  {
    background: radial-gradient(circle at 80px 10px, white, #08667f);
}
/*----------- End of Buttons -------------*/
/*=== spell ===*/
.sheet-rolltemplate-spell table {
    width: 235px;
    border-spacing: 5px;
    background: white;
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg);
    color: #53332a;;
    font-size: 1em;
    font-family: "Lucida Bright", "Book Antiqua", "Candara", "Verdana";
  /*  box-shadow: -5px -5px 6px #8B0000, -5px -5px 6px black; */
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    box-shadow: 0px 25px 4px black;
}
.sheet-rolltemplate-spell::after {
    content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/spellroller_footer.png);
    position:relative;
    left:-4px;
}
.sheet-rolltemplate-spell table tr td.sheet-spellsubheader {
    background:#D3E5F5;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/horizontalbanner.png);
    background-position:bottom left;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    text-indent: 5px;
    Height:23px;
    color:white;
    font-family:"Copperplate";
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
}
.sheet-rolltemplate-botch table {
    width: 100%;
    background: white;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 5px black;
    text-shadow: 2px 2px 5px black;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/botchbanner.jpg);
    height:82px;
    width:235px;
    font-size: 2em;
    text-align: center;
    border-radius: 30px 2px 30px 30px;
}
.sheet-rolltemplate-botch th {
    color: #bc4f3a;
    line-height: .5em;
    font-size: .5em;
    font-family: "Aclonica Font", "Copperplate";
    text-shadow: 0px 0px 5px black;
    text-shadow: 2px 2px 5px black;
}
.sheet-rolltemplate-spell th {
    background:#B35439;
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/spellroller_header.jpg');
    background-size: 240px;
    color:white;
    padding: 5px;
    border-bottom: 1px solid black;
    font-family:"Copperplate";
    line-height: 1.6em;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}


.sheet-rolltemplate-spell .sheet-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-arcane .inlinerollresult,
.sheet-rolltemplate-botch .inlinerollresult,
.sheet-rolltemplate-ability .inlinerollresult,
.sheet-rolltemplate-spell .inlinerollresult  {
    display: inline-block;
 /*   min-width: 1.5em; */
    text-align: center;
    border: none; /*Cool Gray 6 C*/
    background:none;
    padding:0px;
}

.sheet-rolltemplate-arcane .inlinerollresult.fullfail,
.sheet-rolltemplate-spell .inlinerollresult.fullfail {
    color: #0099cc;
    border: none; /*Cool Gray 6 C*/
    background:none;
}

.sheet-rolltemplate-arcane .inlinerollresult.importantroll,
.sheet-rolltemplate-botch .inlinerollresult.importantroll,
.sheet-rolltemplate-spell .inlinerollresult.importantroll {
    color: #ba0000;
    border: none; /*Cool Gray 6 C*/
    background:none;
}

 .sheet-rolltemplate-arcane .inlinerollresult.fullcrit, 
 .sheet-rolltemplate-botch .inlinerollresult.fullcrit, 
 .sheet-rolltemplate-spell .inlinerollresult.fullcrit {
    color: #ba0000;
    border: none; /*Cool Gray 6 C*/
    background:none;
     
 }

 .sheet-rolltemplate-spell td.sheet-top_bottom {
    border-top: 1px solid #8B0000;
    border-bottom: 1px solid #8B0000;
     
 }
/*=== attack & initiative ===*/
.sheet-rolltemplate-attack table,
.sheet-rolltemplate-initiative table {
    width: 235px;
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/combatroller_bg2.jpg), white;
    color: #cccc99;
    font-size: 1.2em;
    font-family: "Franklin Gothic Bold";
    text-align:center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    box-shadow: 0px 0px 4px black;
}
.sheet-rolltemplate-attack::after {
    content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/downspikes.png);
}

.sheet-rolltemplate-attack th,
.sheet-rolltemplate-initiative th {
    background:#B35439;
    background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/combatroller_header.jpg");
    background-size: 100%;
    color: white;
    padding: 2px;
    border-bottom: 1px solid black;
    line-height: 1.6em;
    font-size: 1.2em;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.sheet-rolltemplate-attack .sheet-tcat ,
.sheet-rolltemplate-initiative .sheet-tcat {
    font-weight: bold;
    color:white;
}

.sheet-rolltemplate-attack .inlinerollresult,
.sheet-rolltemplate-initiative .inlinerollresult  {
    display: inline-block;
    font-family:"Franklin Gothic Bold";
    min-width: 1.5em;
    font-size: 1.5em;
    color:white;
    text-align: center;
    border: none; /*Cool Gray 6 C*/
    background:none;
}

.sheet-rolltemplate-attack .inlinerollresult.fullfail,
.sheet-rolltemplate-generic .inlinerollresult.fullfail,
.sheet-rolltemplate-ability .inlinerollresult.fullfail,
.sheet-rolltemplate-initiative .inlinerollresult.fullfail {
    color: #0099cc;
    border: none; /*Cool Gray 6 C*/
    background:none;
}

.sheet-rolltemplate-botch .inlinerollresult.fullfail {
    color: #FFFFFF;
    border: none; /*Cool Gray 6 C*/
    background:none;
}

.sheet-rolltemplate-attack .inlinerollresult.importantroll,
.sheet-rolltemplate-generic .inlinerollresult.importantroll,
.sheet-rolltemplate-ability .inlinerollresult.importantroll,
.sheet-rolltemplate-initiative .inlinerollresult.importantroll {
    color: #ba0000;
    border: none; /*Cool Gray 6 C*/
    background:none;
}

 .sheet-rolltemplate-attack .inlinerollresult.fullcrit, 
 .sheet-rolltemplate-generic .inlinerollresult.fullcrit, 
 .sheet-rolltemplate-ability .inlinerollresult.fullcrit, 
 .sheet-rolltemplate-initiative .inlinerollresult.fullcrit {
    color: #ba0000;
    border: none; /*Cool Gray 6 C*/
    background:none;
     
 }

.sheet-rolltemplate-ability table {
    background:white;
    background:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg');
    font-family: "Copperplate", "Geneva";
    font-size: 1em;
    line-height: 1.5em;
    color:#53332a;
    width:235px;
    box-shadow: 0px 25px 4px black;
}
.sheet-rolltemplate-ability th {
    width: 235px;
    background:#D3E5F5;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/horizontalbanner.png);
    background-position:bottom left;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    text-align: left;
    text-indent: 5px;
    Height:23px;
    color:white;
    font-family:"Copperplate";
    font-size: 1.2em;
    font-weight: normal;
    text-shadow: 2px 2px 2px black;
    font-style:italic;
}
.sheet-rolltemplate-ability td.sheet-banner {
    background:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/splitbanner.jpg);
    text-shadow: 2px 2px 2px black;
    color:white;
    text-align:center;
    
}
.sheet-rolltemplate-ability tr.sheet-subheader {

}
/*----.sheet-rolltemplate-ability .sheet-flex_container {
    display:flex;
    justify-content:space-around;
    vertical-align:middle;
}----*/
.sheet-rolltemplate-ability div.sheet-define{
    font-family: "Copperplate", fantasy;
    font-size: 1.5em;
    margin-left:15px;
    padding-bottom:17px;
    
}
.sheet-rolltemplate-ability div.sheet-define::first-letter {
    color:#337999;
    font-size: 200%;
    line-height: 100%;
}
.sheet-rolltemplate-ability div.sheet-flex_item {
    display:block;
    margin:-14px;
    margin-left:95px;
}
.sheet-rolltemplate-ability div.sheet-bigresult {
    font-size: 2em;
    font-family: "Copperplate", fantasy;
    text-align:right;
    margin:5px;
    margin-right:15px;
}
.sheet-rolltemplate-ability td.sheet-label {
    width:50%;
    padding-left:20px;
    font-weight:bold;
}
.sheet-rolltemplate-ability::after {
    content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/basicroller_footer.png);
    position:relative;
    left:-4px;
}
.sheet-rolltemplate-ability td.sheet-result {
    text-align:right;
    padding-right:50px;
    font-weight:bold;
}
/*---------Roll Template Generic------------*/
.sheet-rolltemplate-generic {
}
.sheet-rolltemplate-generic table {
  background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg');
  font-family: "Copperplate";
  width:235px;
  font-size: 1em;
  line-height: 1em;
  color: #53332a;
  box-shadow: 0px 26px 4px black;
}
.sheet-rolltemplate-generic th {
  background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/genericheader.jpg');
  background-repeat: no-repeat;
  font-family: "Copperplate";
  font-size:1.4em;
  color: white;
  text-shadow: 2px 2px 2px black,0px 0px 5px black,0px 0px 10px black,0px 0px 10px black;
  padding-bottom: 10px;
  vertical-align:bottom;
  height: 125px;
  border-top: none;
}
.sheet-rolltemplate-generic .sheet-Label {
  font-weight: bold;
  padding-left: 10px;
}
.sheet-rolltemplate-generic div.sheet-result {
    font-size: 2em;
    font-family: "Copperplate", fantasy;
 
}
.sheet-rolltemplate-generic::after {
    content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/basicroller_footer.png);
    position:relative;
    left:-4px;
}
/*--------Roll Template Arcane--------*/
.sheet-rolltemplate-arcane {
	background:none;
    font-family:"Book Antiqua";
    width:235px;
    font-size: 1em;
    line-height: 1em;
    color: #53332a;
}
.sheet-rolltemplate-arcane table {
	position:relative;
	top:-50px;
	width:210px;
	margin:auto;
	border-collapse:separate;
}
.sheet-rolltemplate-arcane th {
	background:#e6dbc6;
	font-size:1.4em;
	line-height:.6em;
	border: 10px solid black;
	
	-webkit-border-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/starbanner.png) 16 stretch; /* Safari 3.1-5 */
	-o-border-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/starbanner.png) 16 stretch; /* Opera 11-12.1 */
	border-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/starbanner.png) 16 stretch;
	
	border-image-outset:6px;
	border-image-width:10px;
	border-spacing:20px;
	padding:0px;
		
}
.sheet-rolltemplate-arcane td {
/*	background-image:url("https://i.imgur.com/gIacv0f.jpg");    */
	padding-left:10px;
	padding-right:10px;
}
.sheet-rolltemplate-arcane td.sheet-label {
    width:50%;
    font-size:12px;
    line-height:1em;
	text-align:center;
	font-weight:bold;
}
.sheet-rolltemplate-arcane td.sheet-result {
    width:50%;
    font-size:12px;
    font-size:1em;
    line-height:1em;
    text-align:right;
    font-weight:bold;
    padding:0px;
    padding-right:50px;
    min-width:none;
}

.sheet-rolltemplate-arcane td.sheet-textfield {
	font-style:italic;
	font-size: .8em;
}
.sheet-rolltemplate-arcane td.sheet-bigresult {
    background-color:none;
    padding: 0px;
    font-weight: bold;
	background-image:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/numbercircle.png");
	background-repeat:no-repeat;
	background-position:49.5%;
	text-align:center;
	position:relative;
	font-size:25px;
	color:white;
	line-height:55px;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -2px 1px #000;
}
.sheet-rolltemplate-arcane .sheet-bigresult .inlinerollresult {
    vertical-align:-5px;
}
