- 
  const hiddenvariables = [
    { name:"version", value:"4.2" }, 
    { name:"appliedUpdates", value: "", }, 
    { name:"monster_confirm_flag", value: "",  }, 
    { name:"mancer_confirm_flag", value: "", }, 
    { name:"d20", value: "1d20" }, 
    { name:"level", value: "1" }, 
    { name:"pb", value: "2" }, 
    { name:"pbd_safe", value: "" }, 
    { name:"jack", value: "1" }, 
    { name:"jack_attr", value: "" }, 
    { name:"jack_bonus", value: "" }, 
    { name:"passive_wisdom", value: "10" }, 
    { name:"hitdie_final", value: "" }, 
    { name:"globalsavingthrowbonus", value: "" }, 
    { name:"death_save_bonus", value: "0" }, 
    { name:"initiative_bonus", value: "0" }, 
    { name:"spell_save_dc", value: "0" }, 
    { name:"spell_attack_bonus", value: "0" }, 
    { name:"spell_attack_mod", value: "0" }, 
    { name:"npc_legendary_actions_desc", value:"The creature can take 3 legendary actions, choosing from the options below. Only one legendary option can be used at a time and only at the end of another creature's turn. The creature regains spent legendary actions at the start of its turn." }, 
    { name:"global_damage_mod_crit", value: "0" }, 
    { name:"global_damage_mod_roll", value: "0" }, 
    { name:"global_damage_mod_type", value: "" }, 
    { name:"global_attack_mod", value: "" }, 
    { name:"global_save_mod", value: "" }, 
    { name:"global_skill_mod", value: "" }, 
    { name:"exhaustion_1", value: "" }, 
    { name:"exhaustion_2", value: "" }, 
    { name:"exhaustion_3", value: "" }, 
    { name:"exhaustion_4", value: "" }, 
    { name:"exhaustion_5", value: "" }, 
    { name:"exhaustion_6", value: "" }, 
    { name:"strength_mod", value: "0" }, 
    { name:"dexterity_mod", value: "0" }, 
    { name:"constitution_mod", value: "0" }, 
    { name:"intelligence_mod", value: "0" }, 
    { name:"wisdom_mod", value: "0" }, 
    { name:"charisma_mod", value: "0" }, 
    { name:"honor_mod", value: "0" }, 
    { name:"sanity_mod", value: "0" }, 
    { name:"strength_save_bonus", value: "0" }, 
    { name:"dexterity_save_bonus", value: "0" }, 
    { name:"constitution_save_bonus", value: "0" }, 
    { name:"intelligence_save_bonus", value: "0" }, 
    { name:"wisdom_save_bonus", value: "0" }, 
    { name:"charisma_save_bonus", value: "0" }, 
    { name:"honor_save_bonus", value: "0" }, 
    { name:"sanity_save_bonus", value: "0" }, 
    { name:"strength_maximum", value: "20" }, 
    { name:"dexterity_maximum", value: "20" }, 
    { name:"constitution_maximum", value: "20" }, 
    { name:"intelligence_maximum", value: "20" }, 
    { name:"wisdom_maximum", value: "20" }, 
    { name:"charisma_maximum", value: "20" }, 
    { name:"honor_maximum", value: "20" }, 
    { name:"sanity_maximum", value: "20" }, 
    { name:"acrobatics_bonus", value: "0" }, 
    { name:"animal_handling_bonus", value: "0" }, 
    { name:"arcana_bonus", value: "0" }, 
    { name:"athletics_bonus", value: "0" }, 
    { name:"deception_bonus", value: "0" }, 
    { name:"history_bonus", value: "0" }, 
    { name:"insight_bonus", value: "0" }, 
    { name:"intimidation_bonus", value: "0" }, 
    { name:"investigation_bonus", value: "0" }, 
    { name:"medicine_bonus", value: "0" }, 
    { name:"nature_bonus", value: "0" }, 
    { name:"perception_bonus", value: "0" }, 
    { name:"performance_bonus", value: "0" }, 
    { name:"persuasion_bonus", value: "0" }, 
    { name:"religion_bonus", value: "0" }, 
    { name:"sleight_of_hand_bonus", value: "0" }, 
    { name:"stealth_bonus", value: "0" }, 
    { name:"survival_bonus", value: "0" }, 
    { name:"lvl1_slots_total", value: "0" }, 
    { name:"lvl2_slots_total", value: "0" }, 
    { name:"lvl3_slots_total", value: "0" }, 
    { name:"lvl4_slots_total", value: "0" }, 
    { name:"lvl5_slots_total", value: "0" }, 
    { name:"lvl6_slots_total", value: "0" }, 
    { name:"lvl7_slots_total", value: "0" }, 
    { name:"lvl8_slots_total", value: "0" }, 
    { name:"lvl9_slots_total", value: "0" }, 
    { name:"l1mancer_status", value: "" }, 
    { name:"lpmancer_status", value: "" }, 
    { name:"queryadvantage", value: "" }, 
  ];

each field in hiddenvariables
  input(name=`attr_${field.name}`, type="hidden", value=field.value)