-
	const globalAttributesByCategory = {
		abilities: ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'],
		optionalAbilites: ['honor', 'sanity'],
		alignments: ['Lawful Good', 'Neutral Good', 'Chaotic Good', 'Lawful Neutral', 'Neutral', 'Chaotic Neutral', 'Lawful Evil', 'Neutral Evil', 'Chaotic Evil'],
		classes: ['artificer', 'bard', 'cleric', 'druid', 'paladin', 'ranger', 'sorcerer', 'warlock', 'wizard'],
		sizes: ['Tiny', 'Small', 'Medium', 'Large', 'Huge', 'Gargantuan'],
		diceSizes: ['d4', 'd6', 'd8', 'd10', 'd12'],
		skills: [
			{
				name: "Acrobatics",
				ability: "Dexterity"
			},
			{
				name: "Animal Handling",
				ability: "Wisdom"
			},
			{
				name: "Arcana",
				ability: "Intelligence"
			},
			{
				name: "Athletics",
				ability: "Strength"
			},
			{
				name: "Deception",
				ability: "Charisma"
			},
			{
				name: "History",
				ability: "Intelligence"
			},
			{
				name: "Insight",
				ability: "Wisdom"
			},
			{
				name: "Intimidation",
				ability: "Charisma"
			},
			{
				name: "Investigation",
				ability: "Intelligence"
			},
			{
				name: "Medicine",
				ability: "Wisdom"
			},
			{
				name: "Nature",
				ability: "Intelligence"
			},
			{
				name: "Perception",
				ability: "Wisdom"
			},
			{
				name: "Performance",
				ability: "Charisma"
			},
			{
				name: "Persuasion",
				ability: "Charisma"
			},
			{
				name: "Religion",
				ability: "Intelligence"
			},
			{
				name: "Sleight of Hand",
				ability: "Dexterity"
			},
			{
				name: "Stealth",
				ability: "Dexterity"
			},
			{
				name: "Survival",
				ability: "Wisdom"
			},
		],
		personalityTraits: ["Personality Traits", "Ideals", "Bonds", "Flaws"]
	}