mixin accentSubheader(name)
  h2.text-accent.small-caps.ellipse(data-i18n=name data-i18n-title=name)

mixin primarySubheader(name)
  h2.text-primary.small-caps.ellipse(data-i18n=name data-i18n-title=name)

mixin subHeader(name)
  h2.small-caps.ellipse(data-i18n=name data-i18n-title=name)

mixin boldSubheader(name)
  h3.bold.uppercase.ellipse(data-i18n=name data-i18n-title=name)

mixin header(name, i18n)
 -const attr = attrName(name)
 - i18n = i18n ? i18n : name
  input(type='hidden' name=`attr_hide_${attr}` value='1')
  .header.grid.auto-flow-col.collapsible
    h1(data-i18n=i18n)
    .chevron
      input(type='checkbox' name=`attr_hide_${attr}`)
      span ^