.sheet-fullwidth-table {
    width: 100%;
}

.sheet-fullwidth-table input {
    width: 100%;
}

.sheet-fullwidth-table textarea {
    width: calc(100% - 10px);
}

textarea.sheet-shortheight {
    height: 40px;
}

select {
    margin-bottom: 0px;
}

.sheet-impulse-container {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.sheet-impulse-container label {
    margin-bottom: 0px;
    margin-top: 4px;
    width: 100px;
}

.sheet-impulse-container select {
    width: 80px;
}

/* Ugly Tabbing Hack */
div[class^="sheet-section"] {
	display: none;
}

input.sheet-tab-base:checked ~ div.sheet-section-base,
input.sheet-tab-spells:checked ~ div.sheet-section-spells {
	display: block;
}
