/*
	EDITED by 			Gorthian
	Version				1.0
	Letzte Änderung		2020-11-23
	
	GitHub				https://github.com/Gorthian/roll20-character-sheets
	Wiki				https://github.com/Gorthian/roll20-character-sheets/wiki
	Bugs & Issues		https://github.com/Gorthian/roll20-character-sheets/issues
*/


/***************************************************/
/*             GRUNDLAGEN                          */
/***************************************************/

/* Google Fonts einbinden */
@import url("https://fonts.googleapis.com/css?family=Romanesco|Texturina&display=swap");

/* Standards definieren */
.sheet-HeXXen1733 {
	/* Rahmen nur zu Debug-Zwecken */
	/* border				: 4px solid green; */ 
	
	font-family			: "Texturina";
	font-size			: 10pt;
	background-color	: #EEEEEE;
	
	display				: block;
	margin				: 0;
	padding				: 0;
	width				: 100%;
	height				: 100%;
}

.sheet-HeXXen1733 DIV {
	/* Rahmen nur zu Debug-Zwecken */
	/* border				: 1px solid red; */
	
	margin				: 0;
	padding				: 0;
	width				: auto;
	height				: auto;
}

/***************************************************/
/*             SCHRIFTFORMATE                      */
/***************************************************/

/* Überschriften */
h2,
h3,
h4 {
	font-family		:	"Romanesco";
	font-weight		:	bold;
	text-align		:	center;
	width			:	100%;
	padding-top		:	5px;
}

h2 {
	font-size		:	25pt;
	text-decoration :	underline;
}

h3 {
	font-size		:	20pt;
}

h4 {
	font-size		:	15pt;
}

/* Normale Texte */

span {
	font-family			:	"Texturina";
	font-weight			: 	normal;
	font-size			:	10pt;
}

.sheet-is-title {
	font-weight		:	bold;
}

/***************************************************/
/*             LAYOUT-ELEMENTE                     */
/***************************************************/

/* Tabellen Layout */
.sheet-table {
	/* Rahmen nur zu Debug-Zwecken */
	/* border				: 1px solid green; */
	
	display				: table;
	width				: 100% !important;
	table-layout		: fixed;
}

.sheet-tr {
	display				: table-row;
	width				: 100%;
}

.sheet-td {
	/* Rahmen nur zu Debug-Zwecken */
	/* border				: 1px solid red; */
	
	display				: table-cell;
	width				: auto;
	vertical-align		: top;
	text-align			: left;
}

.sheet-width-10 {
	/* Rahmen nur zu Debug-Zwecken */
	/* border				: 1px solid yellow; */
	
	width				: 10% !important;
}

.sheet-width-20 {
	/* Rahmen nur zu Debug-Zwecken */
	/* border				: 1px solid yellow; */
	
	width				: 20% !important;
}

.sheet-width-33 {
	/* Rahmen nur zu Debug-Zwecken */
	/* border				: 1px solid yellow; */
	
	width				: 33% !important;
}

.sheet-width-50 {
	/* Rahmen nur zu Debug-Zwecken */
	/* border				: 1px solid yellow; */
	
	width				: 50% !important;
}

.sheet-centered {
	text-align		: center;
}

.sheet-nowrap {
	white-space		: nowrap;
}

/* Buttons */
button {
	font-family		: "Texturina";
	font-size		: 10pt;
	font-weight		: normal;
	vertical-align	: center;
}

/* Textareas */
.sheet-textarea {
	width			: 95%;
}

.sheet-textarea-medium {
	height			: 40px;
}

/* Eingabefelder */
input {
	width			: 98%;
}

/***************************************************/
/*             CSS WIZARDRY                        */
/***************************************************/

/* Tabs */
.sheet-general,
.sheet-status,
.sheet-skills,
.sheet-battle,
.sheet-inventory,
.sheet-general-nsc, 
.sheet-help {
	/* Rahmen nur zu Debug-Zwecken */
	/* border	: 1px solid blue; */
	
	display	: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="general"] ~ div.sheet-general,
.sheet-tabstoggle[value="status"] ~ div.sheet-status,
.sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.sheet-tabstoggle[value="battle"] ~ div.sheet-battle,
.sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory,
.sheet-tabstoggle[value="general-nsc"] ~ div.sheet-general-nsc,
.sheet-tabstoggle[value="help"] ~ div.sheet-help {
	display: block;
}

/* Menu */

/* Wechsel der Menüansicht */
.sheet-sc-menue,
.sheet-toggle-menue:checked ~ .sheet-nsc-menue {
	display: inline;
}

.sheet-nsc-menue,
.sheet-toggle-menue:checked ~ .sheet-sc-menue {
	display: none;
}
/*********************************/

/* Radiobuttons */
.sheet-dots{
	display	: flex;
}
/* Configure the button styling. This example makes it look like a radio. */
button.sheet-dot {
	padding: 0;
	border: solid 1px #a8a8a8;
	cursor: pointer;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.sheet-dot > span {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: buttontext;
}

/* Hide the "checked" section of the radio if the hidden attribute value is greater than the button value */
input.sheet-dot[value="0"] ~ button.sheet-gt-0 > span.sheet-checked {
  display: none;
}
input.sheet-dot[value="1"] ~ button.sheet-gt-1 > span.sheet-checked {
	display: none;
}
input.sheet-dot[value="2"] ~ button.sheet-gt-2 > span.sheet-checked {
	display: none;
}
input.sheet-dot[value="3"] ~ button.sheet-gt-3 > span.sheet-checked {
	display: none;
}
input.sheet-dot[value="4"] ~ button.sheet-gt-4 > span.sheet-checked {
	display: none;
}
input.sheet-dot[value="5"] ~ button.sheet-gt-5 > span.sheet-checked {
	display: none;
}
input.sheet-dot[value="6"] ~ button.sheet-gt-6 > span.sheet-checked {
	display: none;
}
input.sheet-dot[value="7"] ~ button.sheet-gt-7 > span.sheet-checked {
	display: none;
}
input.sheet-dot[value="8"] ~ button.sheet-gt-8 > span.sheet-checked {
	display: none;
}
input.sheet-dot[value="9"] ~ button.sheet-gt-9 > span.sheet-checked {
	display: none;
}
/*********************************/