.sheet-nameRankXp{
    width:40px;
}

.sheet-maindiv {
    width:830px;
}

.sheet-smalltextarea {
    height:145px;
    resize: none;
}

.charsheet .sheet-blockmargin {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.charsheet .sheet-blockline {
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.charsheet .sheet-labelliner {
    display: inline-block;
    width: 60px;
    font-weight: bold;
    font-size: 16px;

}

.charsheet .sheet-inputliner {
    display: inline-block;
    width: 150px;
}

.charsheet .sheet-blocksection2 {
    width: 500px;
}

.charsheet .sheet-blockmargin2 {
    border-bottom: 2px solid black;
    text-align: center;
    
}

.charsheet .sheet-blockline2 {
    margin-top: -10px;
}

.charsheet .sheet-blockline3 {
    margin-top: 35px;
    margin-left: 10px;
}

.charsheet .sheet-labelliner2 {
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

.charsheet .sheet-labelliner3 {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin-top:18px;
}

.charsheet .sheet-labelliner4 {
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

.charsheet .sheet-labelliner5 {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    width: 127px;
    font-weight: bold;
}

.charsheet .sheet-labelliner6 {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    width: 55px;
    font-weight: bold;
}

.charsheet .sheet-labelliner7 {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    width: 35px;
    margin-left:-20px;
    font-weight: bold;
}

.charsheet .sheet-labelliner8 {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    width: 127px;
    font-weight: normal;
}

.charsheet .sheet-inputliner2 {
    display: inline-block;
    width: 55px;
    margin-bottom: 0px;
    margin-left: 10px;

}

.charsheet .sheet-selecter2 {
    width: 45px;
    margin-top: 11px;
}

.charsheet .sheet-separator2 {
    margin-top: 4px;
}

.charsheet .sheet-extra {
    
    font-size:1.4em;
    font-weight:bold;
    width:30px;
}

.charsheet .sheet-extra label {
    display: inline-block;
    margin-bottom: 40px;
}

.charsheet .sheet-inputliner3 {
    display: inline-block;
    width: 50px;
    margin-left: 10px;
    text-align: center;

}

.charsheet .sheet-bigvalue {
    width: 50px;
	max-width: 50px;
	height:50px;
	border:none;
	margin-left: 10px;
    font-size: 36px;
    text-shadow: 4px 4px 4px #aaa;
	text-align: center;
    display: inline-block;
	background:url("http://i.imgur.com/MZAEyI7.png") -0px -0px no-repeat;
	background-size: 50px 50px;
	background-color: white;
}

.charsheet .sheet-customcol1 {
    display: inline-block;
    width: 250px;
    vertical-align:top;
    margin-left:5px;

}

.charsheet .sheet-customcol13 {
    display: inline-block;
    width: 225px;
    vertical-align:top;
    margin-left:10px;

}

.charsheet .sheet-customcolspace {
    display: inline-block;
    width: 20px;
    vertical-align:top;

}

.charsheet .sheet-customcol2 {
    display: inline-block;
    width: 250px;
    vertical-align:top;
    margin-left:20px;

}

.charsheet .sheet-customcol3 {
    display: inline-block;
    width: 260px;
    vertical-align:top;
    margin-left:-20px;

}

.charsheet .sheet-customcol4 {
    display: inline-block;
    width: 540px;
    vertical-align:top;


}

.charsheet .sheet-customcol5 {
    display: inline-block;
    width: 770px;
    vertical-align:top;


}

.sheet-rolltemplate-test table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-test th {
	color: rgb(126, 45, 64);
    padding-left: 5px;
    padding-top: 25px;
    height:42px;
	line-height: 1.4em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-test .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-test .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-test .sheet-success {
    color: green;
    font-weight: bold;
}

.sheet-rolltemplate-test .sheet-fail {
    color: red;
    font-weight: bold;
}
 
.sheet-rolltemplate-test td {
    padding-left: 5px;
}

.sheet-rolltemplate-test .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
}


.sheet-rolltemplate-libre table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-libre th {
	color: rgb(126, 45, 64);
    padding-left: 5px;
    padding-top: 25px;
    height:100px;
	line-height: 1.4em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-libre .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-libre .sheet-tcat {
    font-style: italic;
}
 
.sheet-rolltemplate-libre td {
    padding-left: 5px;
}

.sheet-rolltemplate-libre .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
}


.sheet-rolltemplate-damage table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-damage th {
	color: rgb(126, 45, 64);
    padding-left: 5px;
    padding-top: 25px;
    height:42px;
	line-height: 1.4em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-damage .sheet-tcat {
    font-style: italic;
}
 
.sheet-rolltemplate-damage td {
    padding-left: 5px;
}

.sheet-rolltemplate-damage .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
}

.sheet-rolltemplate-damagetarget table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-damagetarget th {
	color: rgb(126, 45, 64);
    padding-left: 5px;
    padding-top: 25px;
    height:42px;
	line-height: 1.4em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-damagetarget .sheet-tcat {
    font-style: italic;
}
 
.sheet-rolltemplate-damagetarget td {
    padding-left: 5px;
}

.sheet-rolltemplate-damagetarget .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
}

.sheet-rolltemplate-attacktarget table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-attacktarget th {
	color: rgb(126, 45, 64);
    padding-left: 5px;
    padding-top: 25px;
    height:42px;
	line-height: 1.4em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-attacktarget .sheet-tcat {
    font-style: italic;
}
 
.sheet-rolltemplate-attacktarget td {
    padding-left: 5px;
}

.sheet-rolltemplate-attacktarget .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
}