
//- Modes
include ./modes/ironsworn.pug
include ./modes/delve.pug

//- Roll Templates
//- rolltemplate.sheet-rolltemplate-ironsworn_oracles
//-   include ./roll-templates/ironsworn-oracles.pug
rolltemplate.sheet-rolltemplate-ironsworn_moves 
  include ./roll-templates/ironsworn-moves.pug
rolltemplate.sheet-rolltemplate-ironsworn_delve_rarity
  include ./roll-templates/delve-rarity.pug
rolltemplate.sheet-rolltemplate-ironsworn_delve_oracles
  include ./roll-templates/delve-oracles.pug
rolltemplate.sheet-rolltemplate-ironsworn_delve_moves
  include ./roll-templates/delve-moves.pug

//- Sheet Workers
include ./workers/ironsworn.pug
