.sheet-ammunition {
  position: relative;
  margin-bottom: 16px;
  width: 266px;

  &__content {
    display: flex;
    padding: 6px 0 14px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c-item;
    border-radius: 2px;
    height: 34px;
    width: 40px;

    &--1,
    &--2 {
      margin-right: 6px;
    }

    span {
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $c-text-gray;
      color: $c-white;
      font-size: $fs-xs;
      font-weight: 500;
      line-height: 7px;
      letter-spacing: -0.4px;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 0 0 2px 2px;
      overflow: hidden;
      height: 12px;
      width: 100%;
    }

    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: 1;
        height: 10px;
        width: 100%;
      }

      &:checked ~ span {
        background-color: $c-background-dark;
      }

      &::before {
        content: '';
        border: 2px solid $c-text-gray;
        border-width: 2px 2px 0;
        border-radius: 2px;
        height: 100%;
        width: 100%;
      }

      &:checked::before {
        border-color: $c-background-dark;
      }

      &:checked ~ input[type="text"] {
        color: $c-text-lighter;
      }
    }

    input[type="text"] {
      position: relative;
      z-index: 2;
      color: $c-text-lightest;
      font-size: $fs-l;
      font-weight: 700;
      line-height: 1;
      height: 14px;
      width: 32px;

      &::placeholder {
        font-size: $fs-l;
        font-weight: 700;
        line-height: 1;
      }
    }
  }

  &__buttons {
    flex-grow: 1;

    > div {
      display: flex;
      justify-content: space-between;

      &:first-child {
        margin-bottom: 4px;
      }
    }

    button[type="action"] {
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      background-color: $c-item;
      border: 1px dotted $c-outline;
      border-radius: 2px;
      padding: 0 4px;
      height: 20px;

      &:hover {
        background-color: $c-background-dark;
        color: $c-white !important;
        border: 1px solid $c-background-dark;
      }

      &:not(:last-child) {
        margin-right: 4px;
      }

      &:last-child {
        flex-grow: 1;
      }
    }
  }
}
