input.sheet-toggle--strain {
  &:checked ~ .sheet-augmentations {
    .sheet-augmentations {
      &__grade,
      &__power,
      &__slots {
        display: none;
      }
    }

    .sheet-a {
      display: none;
    }

    .sheet-b {
      display: inline;
    }
  }
}

.sheet-augmentations {
  .sheet-header__labels span {
    text-transform: uppercase;
  }

  &__grade {
    width: 60px;
  }

  &__power,
  &__slots,
  &__loss {
    width: 40px;
  }

  .sheet-b {
    display: none;
  }

  .repcontainer {
    &:empty ~ .repcontrol .repcontrol_add::before {
      content: 'Click here or on the plus to add an augmentation.';
    }
  }

  .sheet-color-cycle {
    &__radio {
      padding: 3px;
      border: 1px solid transparent;

      &--none {
        border-color: $c-outline;
      }
    }
  }
}
