.sheet-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 266px;

  &::after {
    content: '';
    display: block;
    flex-grow: 1000000;
  }

  > div {
    position: relative;
    z-index: 1;
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
    border-radius: 2px;
    margin-bottom: 8px;
    height: 16px;
    overflow: hidden;

    &:not(:first-child):not(:last-child) {
      margin-right: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      background-color: $c-item;
      border: 1px dotted $c-outline;
      border-radius: 2px;
      width: 100%;
      height: 100%;
    }
  }

  button {
    color: $c-text-lightest;
    font-size: $fs-s;
    font-weight: 500;
    line-height: 16px;
    padding: 0 4px !important;
    height: 16px;

    &:hover {
      background-color: $c-background-dark;

      > span {
        color: $c-white !important;
      }
    }
  }

  .sheet-dice-roller {
    input[type=text].sheet-dice-roller__input {
      flex-grow: 1;
      width: auto;

      &::placeholder {
        font-size: $fs-s;
      }
    }
  }
}
