.sheet-rolltemplate-TraitRoll,
.sheet-rolltemplate-DiceRoller {
  .inlinerollresult,
  .inlinerollresult.fullfail,
  .inlinerollresult.fullcrit,
  .inlinerollresult.importantroll {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      background-color: $c-background-die;
      height: 100%;
      width: 100%;
    }
  }
}

.sheet-rolltemplate-TraitRoll,
.sheet-rolltemplate-DiceRoller,
.sheet-rolltemplate-RunRoll,
.sheet-rolltemplate-DamageRoll,
.sheet-rolltemplate-InfoBox {
  color: $c-text;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  .inlinerollresult,
  .inlinerollresult.fullfail,
  .inlinerollresult.fullcrit,
  .inlinerollresult.importantroll {
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding: 0;
    border: 0;
  }

  .sheet-rolltemplate {
    background: {
      color: $c-white;
      image: linear-gradient(to right, #fbfbfb 1px, transparent 1px),
             linear-gradient(to bottom, #fbfbfb 1px, transparent 1px);
      size: 8px 8px;
      position: -1px -1px;
    }
    padding: 8px;
    border-radius: 2px;
    box-shadow: $shadow;

    &__header {
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      text-align: center;

      &:not(:last-child) {
        border-bottom: 1px dotted $c-outline;
        padding-bottom: 7px;
      }
    }

    &__content {
      font-size: 11px;
      text-align: center;

      &:not(:first-child) {
        padding-top: 8px;
      }

      &:not(:last-child) {
        border-bottom: 1px dotted $c-outline;
        padding-bottom: 7px;
      }

      span {
        font-size: 11px;
      }

      span.inlinerollresult {
        font-weight: 400;
      }
    }

    &__content-row {
      display: flex;
      align-items: center;
      line-height: 16px;

      > div {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .sheet-left {
        font-weight: 500;
        text-align: right;
        padding-right: 8px;
        width: 45%;
      }

      .sheet-right {
        text-align: left;
        padding-left: 8px;
        width: 55%;
      }
    }

    &__dice {
      display: flex;
      justify-content: center;
      font-size: 11px;
      padding-top: 8px;

      span {
        display: block;
        font-size: 11px;
        line-height: 20px;
      }
    }

    &__roll {
      text-align: center;
      border-radius: 2px;
      min-width: 20px;
      overflow: hidden;
      box-shadow: $shadow;

      &:not(:first-child) {
        margin-left: 8px;
      }

      // [original-title*='"basicdiceroll"'] watches for exploding dice!
      span:not([original-title*='"basicdiceroll"']).fullcrit {
        &::before {
          background-color: $c-outline;
        }
      }

      span:not([original-title*='"basicdiceroll"']).fullfail {
        color: $c-white;

        &::before {
          background-color: $c-red;
        }
      }

      &--wd {
        margin-left: 11px !important;
        transform: rotateZ(45deg);

        span {
          transform: rotateZ(-45deg);

          &::before {
            transform: rotateZ(45deg);
          }
        }
      }
    }

    &__damage-roll {
      span {
        font-size: 16px;
        line-height: 24px;
      }

      &:not(:last-child) {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px dotted $c-outline;
      }
    }
  }
}
