.sheet-settings {
  text-align: center;
  max-width: 266px;

  &__page {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;

    &-tab {
      display: inline-block;
      color: $c-text-lightest;
      margin-bottom: 7px;

      &::before,
      &::after {
        display: inline-block;
        font-size: $fs-s;
        font-weight: 500;
        line-height: 15px;
        height: 16px;
        transition-duration: 0s;
      }

      &::before {
        content: attr(label);
      }

      &:not(:last-of-type)::after {
        content: '|';
        margin: 0 2px 0 4px;
      }

      &:checked::before {
        color: $c-text-lighter;
      }

      &--styles {
        &:not(:checked) ~ .sheet-settings__page--styles {
          display: none;
        }
      }

      &--setup {
        &:not(:checked) ~ .sheet-settings__page--setup {
          display: none;
        }
      }

      &--blocks {
        &:not(:checked) ~ .sheet-settings__page--blocks {
          display: none;
        }
      }

      &--skills {
        &:not(:checked) ~ .sheet-settings__page--skills {
          display: none;
        }
      }

      &--help {
        &:not(:checked) ~ .sheet-settings__page--help {
          display: none;
        }
      }
    }
  }

  &__item {
    user-select: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 16px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    > span:first-of-type {
      display: block;
      flex-grow: 1;
      color: $c-text-light;
      font-size: $fs-s;
      font-weight: 500;
      line-height: 15px;
      border-bottom: 1px dotted $c-outline;
      margin-right: 12px;
      height: 100%;
    }

    .sheet-checkbox {
      margin-right: 4px;
    }

    &--text-input {
      > span:first-of-type {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 0;

        ~ input[type="text"] {
          padding-left: 5px;
        }
      }

      input[type="text"] {
        flex-grow: 1;
        color: $c-text-light;
        line-height: 15px;
        border-bottom: 1px dotted $c-outline;
        margin-right: 12px;
        height: 16px;

        &:last-child {
          margin-right: 26px;
        }

        + span:last-of-type {
          display: block;
          flex-shrink: 0;
          background-color: $c-background-dark;
          border-radius: 50%;
          margin: 0 7px 0 2px;
          height: 5px;
          width: 5px;
        }
      }
    }

    &--help {
      flex-wrap: wrap;
      height: auto;

      > span:first-of-type {
        margin-right: 8px;
      }

      .sheet-bottom {
        flex-basis: 100%;
        text-align: justify;
        line-height: 1.6;
        padding: 4px 0;
      }
    }
  }
}
