.sheet-san-tabs {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px dotted $c-outline;
  height: 16px;
  width: 266px;

  ~ div {
    flex-basis: 100%;
  }
}

.sheet-tab {
  ~ div {
    min-height: 648px;
  }

  &::after {
    content: attr(label);
    position: relative;
    z-index: 1;
    display: block;
    align-items: center;
    justify-content: center;
    color: $c-text-lightest;
    font-size: $fs-s;
    font-weight: 500;
    line-height: 1;
    padding: 3px 6px 0;
    border: 1px dotted transparent;
    border-width: 1px 1px 0 1px;
    border-radius: 2px;
    height: 16px;
    transition: none;
  }

  &:hover::after {
    color: $c-text-lighter;
  }

  &:checked::after {
    background-color: $c-white;
    color: $c-text-light;
    border-color: $c-outline;
  }

  &--skills {
    &:not(:checked) ~ .sheet-skills {
      display: none;
    }
  }

  &--advancements {
    &:not(:checked) ~ .sheet-advancements {
      display: none;
    }
  }

  &--notebook {
    &:not(:checked) ~ .sheet-notebook {
      display: none;
    }

    ~ .sheet-notebook {
      height: calc(100% - 64px);
    }
  }

  &--settings {
    margin-right: 32px;

    &:not(:checked) ~ .sheet-settings {
      display: none;
    }
  }
}
