- var resources = [ 'health', 'spirit', 'supply']
- var trackValues = [ 5, 4, 3, 2, 1, 0 ]

div.sheet-resources
  each resource in resources
    div.sheet-resource
      h2.sheet-resource-title=resource.toUpperCase()
      select(class="sheet-resource-value" name=`attr_${resource}`)
        each val in trackValues
          option(value=val)=`+${val}`
  
  div.sheet-resource
    h2.sheet-resource-title EXPERIENCE
    div.sheet-health-status-box
      input(type='text' class="sheet-resource-value" name="attr_xp" value="0")
    h2.sheet-resource-title SPENT
    div.sheet-health-status-box
      input(type='text' class="sheet-resource-value" name="attr_total_xp" value="0")