- var charResources = [ 'health', 'spirit', 'supply']
- var sharedResources = [ 'supply' ]
- var trackValues = [ 5, 4, 3, 2, 1, 0 ]


mixin resources(sheetType)
  if sheetType == 'shared'
    - var resources = sharedResources
  else
    - var resources = charResources

  div.resources
    div.resource
      h2.resource-title NAME
      div.health-status-box
        input(type='text' class="resource-value character-name" name="attr_character_name" placeholder='Character Name')

    each resource in resources
      div.resource
        h2.resource-title=resource.toUpperCase()
        select(class="resource-value" name=`attr_${resource}`)
          each val in trackValues
            option(value=val)=`+${val}`
    
    div.resource
      h2.resource-title EXPERIENCE
      div.health-status-box
        input(type='text' class="resource-value" name="attr_xp" value="0")
      h2.resource-title SPENT
      div.health-status-box
        input(type='text' class="resource-value" name="attr_total_xp" value="0")