@mixin tabHide($value, $hide-type) {
  input[name='attr_sheet_type'][value='#{$value}'] ~ div.sheet-tabs div.sheet-type label.sheet-#{$hide-type)} {
    @extend %displaynone;
  }
}

@mixin notes {
  div.sheet-notes {
    grid-template-columns: 1fr 10px;
    padding: 1% 2%;

    input.sheet-flag,
    span.sheet-pictos {
      grid-area: 1/2/2/3;
    }

    textarea,
    span.sheet-display {
      grid-area: 1/1/2/2;
    }
  }
}

@mixin hoverSpan {
  label,
  span {
    align-items: center;
    display: grid;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  &:hover span,
  input[type="number"] {
    display: none;
  }

  &:hover input[type="number"] {
    display: inline;
    background-color: $light;
  }
}
