.monster_confirm
  span(data-i18n='are_you_sure') Are you sure you want to turn this character into a 
  span(name='attr_drop_name')
  span ?
  div(style='margin-top: 20px;')
    div(style='position: relative; display: inline-block; margin-right: 25px;')
      input.yes(type='checkbox' name='attr_confirm')
      span.yes(data-i18n='yes') Yes
    div(style='position: relative; display: inline-block;')
      input.cancel(type='checkbox' name='attr_cancel')
      span.cancel(data-i18n='cancel') Cancel
.mancer_confirm
  span(style='line-height: 25px' data-i18n='do_you_want_mancer') How do  you want to create this character?
  div(style='margin-top: 20px;')
    div(style='position: relative; display: inline-block; width:130px;')
      input.yes(type='checkbox' style='width:130px;' name='attr_mancer_confirm')
      span.yes(style='width:130px;' data-i18n='mancer-confirm-yes') Use the Charactermancer
    div(style='position: relative; display: inline-block; width:80px;')
      input.yes(style='width:80px;' type='checkbox' name='attr_mancer_npc')
      span.yes(style='width:80px;' data-i18n='npc-new') Create an NPC
    div(style='position: relative; display: inline-block; width:90px;')
      input.yes(type='checkbox' style='width:90px;' name='attr_mancer_cancel')
      span.yes(style='width:90px;' data-i18n='manual') Edit sheet direclty
