.navigation
  .navigation__toggles
    include advantagetoggle
    include whispertoggle

  .navigation__pages
    .navigation__toggle
      input(name="attr_tab", type="radio", value="core", checked)
      span(data-i18n="CORE")
    .navigation__toggle
      input(name="attr_tab", type="radio", value="spells")
      span(data-i18n="SPELLS & MOVES")
    .navigation__toggle
      input(name="attr_tab", type="radio", value="bio")
      span(data-i18n="BIO")
    .navigation__toggle.navigation__toggle--settings
      input(name="attr_tab", type="radio", value="settings")
      span.pictos y
