input.toggleflag(name='attr_wtype' type='hidden')
.navigation__toggle.navigation__toggle--whisperleft
  input.toggle-left(name='attr_whispertoggle' type='radio' value='' checked)
  span(data-i18n='public') PUBLIC
.navigation__toggle
  input.toggle-right(name='attr_whispertoggle' type='radio' value='/w gm ')
  span(data-i18n='WHISPER') WHISPER