<!-- Paranoia 25th Anniversary Edition character sheet | HTML START -->

{% macro i18n(name, value) %}<span data-i18n="{{ name }}">{{ value }}</span>{% endmacro %}

{% macro roll_classified(label) %}<button type="roll" value="{{ "/w gm &{template:red} {{modifiers=?{±|0}}} {{1d20=^{classified}}} {{label=" + label + "}} {{value=^{classified}}} {{margin=^{classified}}}" }}" name="roll_classified"></button>{% endmacro %}
{% macro roll_red(name, label, fallback_name, fallback_label) %}<button type="roll" value="{{ "/w gm &{template:red} [[ [[ [[0@{" + name + "}]] + ?{±|0} - [[1d20cs0cf0]] ]]" }}{% if fallback_name %}{{ " + [[ [[0@{" + fallback_name + "}]] + ?{±} - [[1d20cs0cf0]] ]]" }}{% endif %}{{ " ]] {{modifiers=?{±}}} {{1d20=$[[1]]}} {{label=" + label + "}} {{value=@{" + name + "}}} {{margin=$[[2]]}}" }}{% if fallback_name %}{{ " {{fallback_1d20=$[[4]]}} {{fallback_label=" + fallback_label + "}} {{fallback_value=@{" + fallback_name + "}}} {{fallback_margin=$[[5]]}}" }}{% endif %}" name="roll_{{ name }}"></button>{% endmacro %}

{% macro field(name, type, label, placeholder_name, placeholder_value) %}{% if label %}{{ label }}: {% endif %}<input type="{{ type }}" name="attr_{{ name }}"{% if placeholder_name %} data-i18n-placeholder="{{ placeholder_name }}" placeholder="{{ placeholder_value }}"{% endif %}{% if type==="number" %} min="1" max="20"{% endif %}>{% endmacro %}
{% macro input(name, type, label_name, label_value, placeholder_name, placeholder_value) %}{{ field(name, type, i18n(label_name, label_value), placeholder_name, placeholder_value) }}{% endmacro %}

{% macro attribute(name, label) %}<div class="row">{{ roll_classified(label) }} {{ i18n(name, label) }}: <b>{{ i18n("classified", "CLASSIFIED") }}</b></div>{% endmacro %}
{% macro checkbox(name, label) %}<div class="row">{{ input(name, "checkbox", name, label) }}</div>{% endmacro %}
{% macro number(name, label, fallback_name, fallback_label) %}<div class="row">{{ roll_red(name, "^{" + name + "}", fallback_name, fallback_label) }} {{ input(name, "number", name, label) }}</div>{% endmacro %}
{% macro number_custom(name, fallback_name, fallback_label, placeholder_name, placeholder_value) %}<div class="row">{{ roll_red(name, "@{" + name + "_label}", fallback_name, fallback_label) }} {{ field(name, "number", field(name + "_label", "text", null, placeholder_name, placeholder_value)) }}</div>{% endmacro %}
{% macro text(name, label, placeholder_name, placeholder_value) %}<div class="row">{{ input(name, "text", name, label, placeholder_name, placeholder_value) }}</div>{% endmacro %}
{% macro textarea(name, label, class) %}<div class="row">{{ i18n(name, label) }}: <textarea name="attr_{{ name }}"{% if class %} class="{{ class }}"{% endif %}></textarea></div>{% endmacro %}

{% macro repeating_number_custom(placeholder_name, placeholder_value, name, fallback_name, fallback_label) %}<fieldset class="repeating_{{ name }}">{{ number_custom("custom", fallback_name, fallback_label, placeholder_name, placeholder_value) }}</fieldset>{% endmacro %}


<div spellcheck="false">

<h1>{{ i18n("paranoia", "PARANOIA") }}: {{ i18n("troubleshooters", "Troubleshooters") }}</h1>

<div class="2colrow">
	<div class="col">
		{{ text("player", "Player") }}
	</div>
	<div class="col">
		{{ text("perversity_points", "Perversity Points") }}
	</div>
</div>

<h2>{{ i18n("general", "GENERAL") }}</h2>
<div class="2colrow">
	<div class="col">
		{{ text("character_name", "Name", "name_template", "Name-Clearance-Sector-Clone number") }}
		{{ text("gender", "Gender") }}
		{{ textarea("tics", "Tics") }}
	</div>
	<div class="col">
		{{ attribute("access", "Access") }}
		{{ input("duty", "text", "mandatory_bonus_duty", "Mandatory Bonus Duty") }}
	</div>
</div>

<h2>{{ i18n("service_groups", "SERVICE GROUPS") }}</h2>
{{ text("service_group", "Service Group") }}
<fieldset class="repeating_groups">
	{{ text("infiltrated_service_group", "Infiltrated Service Group") }}
</fieldset>

<h2>{{ i18n("action_skills", "ACTION SKILLS") }}</h2>
<div class="3colrow">
	<div class="col">
		<b>{{ number("management", "Management") }}</b>
		{{ number("bootlicking", "Bootlicking", "management", "Management") }}
		{{ number("chutzpah", "Chutzpah", "management", "Management") }}
		{{ number("con_games", "Con Games", "management", "Management") }}
		{{ number("hygiene", "Hygiene", "management", "Management") }}
		{{ number("interrogation", "Interrogation", "management", "Management") }}
		{{ number("intimidation", "Intimidation", "management", "Management") }}
		{{ number("moxie", "Moxie", "management", "Management") }}
		{{ number("oratory", "Oratory", "management", "Management") }}
		{{ repeating_number_custom("specialty", "Specialty", "management", "management", "Management") }}
	</div>
	<div class="col">
		<b><div class="row">{{ roll_red("stealth_subterfuge", "Stealth") }} {{ input("stealth_subterfuge", "number", "stealth", "Stealth") }}</div></b>
		{{ number("concealment", "Concealment", "stealth_subterfuge", "Stealth") }}
		{{ number("disguise", "Disguise", "stealth_subterfuge", "Stealth") }}
		{{ number("scam_radar", "Scam Radar", "stealth_subterfuge", "Stealth") }}
		{{ number("security_systems", "Security Systems", "stealth_subterfuge", "Stealth") }}
		{{ number("shadowing", "Shadowing", "stealth_subterfuge", "Stealth") }}
		{{ number("sleight_of_hand", "Sleight of Hand", "stealth_subterfuge", "Stealth") }}
		{{ number("sneaking", "Sneaking", "stealth_subterfuge", "Stealth") }}
		{{ number("surveillance", "Surveillance", "stealth_subterfuge", "Stealth") }}
		{{ repeating_number_custom("specialty", "Specialty", "stealth", "stealth_subterfuge", "Stealth") }}
	</div>
	<div class="col">
		<b>{{ number("violence", "Violence") }}</b>
		{{ number("agility", "Agility", "violence", "Violence") }}
		{{ number("demolition", "Demolition", "violence", "Violence") }}
		{{ number("energy_weapons", "Energy Weapons", "violence", "Violence") }}
		{{ number("field_weapons", "Field Weapons", "violence", "Violence") }}
		{{ number("fine_manipulation", "Fine Manipulation", "violence", "Violence") }}
		{{ number("hand_weapons", "Hand Weapons", "violence", "Violence") }}
		{{ number("projectile_weapons", "Projectile Weapons", "violence", "Violence") }}
		{{ number("thrown_weapons", "Thrown Weapons", "violence", "Violence") }}
		{{ number("unarmed_combat", "Unarmed Combat", "violence", "Violence") }}
		{{ number("vehicular_combat", "Vehicular Combat", "violence", "Violence") }}
		{{ repeating_number_custom("specialty", "Specialty", "violence", "violence", "Violence") }}
	</div>
</div>

<h2>{{ i18n("knowledge_skills", "KNOWLEDGE SKILLS") }}</h2>
<div class="3colrow">
	<div class="col">
		<b>{{ number("hardware", "Hardware") }}</b>
		{{ number("bot_ops_and_maintenance", "Bot Ops &amp; Maint.", "hardware", "Hardware") }}
		{{ number("chemical_engineering", "Chemical Engineering", "hardware", "Hardware") }}
		{{ number("electronic_engineering", "Electronic Engineering", "hardware", "Hardware") }}
		{{ number("habitat_engineering", "Habitat Engineering", "hardware", "Hardware") }}
		{{ number("mechanical_engineering", "Mechanical Engineering", "hardware", "Hardware") }}
		{{ number("nuclear_engineering", "Nuclear Engineering", "hardware", "Hardware") }}
		{{ number("operate_heavy_machinery", "Operate Heavy Machinery", "hardware", "Hardware") }}
		{{ number("vehicle_ops_and_maintenance", "Vehicle Ops &amp; Maint.", "hardware", "Hardware") }}
		{{ number("weapon_and_armour_maintenance", "Weapon &amp; Armor Maint.", "hardware", "Hardware") }}
		{{ repeating_number_custom("specialty", "Specialty", "hardware", "hardware", "Hardware") }}
	</div>
	<div class="col">
		<b>{{ number("software", "Software") }}</b>
		{{ number("bot_programming", "Bot Programming", "software", "Software") }}
		{{ number("c_bay", "C-Bay", "software", "Software") }}
		{{ number("cryptography", "Cryptography", "software", "Software") }}
		{{ number("data_analysis", "Data Analysis", "software", "Software") }}
		{{ number("data_search", "Data Search", "software", "Software") }}
		{{ number("financial_systems", "Financial Systems", "software", "Software") }}
		{{ number("hacking", "Hacking", "software", "Software") }}
		{{ number("multicorder_operations", "Multicorder Operations", "software", "Software") }}
		{{ number("operating_systems", "Operating Systems", "software", "Software") }}
		{{ number("vehicule_programming", "Vehicle Programming", "software", "Software") }}
		{{ repeating_number_custom("specialty", "Specialty", "software", "software", "Software") }}
	</div>
	<div class="col">
		<b>{{ number("wetware", "Wetware") }}</b>
		{{ number("biosciences", "Biosciences", "wetware", "Wetware") }}
		{{ number("bioweapons", "Bioweapons", "wetware", "Wetware") }}
		{{ number("cloning", "Cloning", "wetware", "Wetware") }}
		{{ number("medical", "Medical", "wetware", "Wetware") }}
		{{ number("outdoor_life", "Outdoor Life", "wetware", "Wetware") }}
		{{ number("pharmetherapy", "Pharmatherapy", "wetware", "Wetware") }}
		{{ number("psychotherapy", "Psychotherapy", "wetware", "Wetware") }}
		{{ number("suggestion", "Suggestion", "wetware", "Wetware") }}
		{{ repeating_number_custom("specialty", "Specialty", "wetware", "wetware", "Wetware") }}
	</div>
</div>

<h2>{{ i18n("secret_skills", "SECRET SKILLS") }}</h2>
<div class="3colrow">
	<div class="col">
	<h3>{{ i18n("uncommon", "Uncommon") }}</h3>
	{{ repeating_number_custom("secret_skill", "Secret skill", "uncommon") }}
	</div>
	<div class="col">
	<h3>{{ i18n("unlikely", "Unlikely") }}</h3>
	{{ repeating_number_custom("secret_skill", "Secret skill", "unlikely") }}
	</div>
	<div class="col">
	<h3>{{ i18n("unhealthy", "Unhealthy") }}</h3>
	{{ repeating_number_custom("secret_skill", "Secret skill", "unhealthy") }}
	</div>
</div>

<h2>{{ i18n("mutations", "MUTATIONS") }}</h2>
<div class="2colrow">
	<div class="col">
	<fieldset class="repeating_mutations">
		{{ text("mutant_power", "Mutant Power") }}
	</fieldset>
	</div>
	<div class="col">
		{{ attribute("power", "Power") }}
		{{ checkbox("registered_mutant", "Registered mutant") }}
	</div>
</div>

<h2>{{ i18n("secret_societies", "SECRET SOCIETIES") }}</h2>
<fieldset class="repeating_societies">
	<div class="2colrow">
		<div class="col">
			<b>{{ text("secret_society", "Secret Society") }}</b>
			{{ textarea("instructions", "Instructions") }}
		</div>
		<div class="col">
			{{ number("rank", "Rank") }}
			{{ textarea("recognition_signal", "Recognition signal") }}
		</div>
	</div>
</fieldset>

<h2>{{ i18n("equipment", "EQUIPMENT") }}</h2>
{{ text("credits", "Credits") }}
<div class="3colrow">
	<div class="col">
		{{ textarea("equipment_personal", "Personal", "long") }}
	</div>
	<div class="col">
		{{ textarea("equipment_assigned", "Assigned", "long") }}
	</div>
	<div class="col">
		{{ textarea("equipment_treasonous", "Treasonous", "long") }}
	</div>
</div>

<h2>{{ i18n("notes", "NOTES") }}</h2>
<div class="2colrow">
	<div class="col">
		{{ textarea("public_information", "Public information", "long") }}
	</div>
	<div class="col">
		{{ textarea("secrets", "Secrets", "long") }}
	</div>
</div>

</div>

<rolltemplate class="sheet-rolltemplate-red">
	<!-- Properties: modifiers, 1d20, label, value, margin, fallback_1d20, fallback_label, fallback_value, fallback_margin -->
	<div class="row">{{ i18n("roll", "Roll") }}: {{ "{{^value}}{{fallback_label}}" }} ({{ i18n("fallback_for", "fallback for") }} {{ "{{/value}}<b>{{label}}</b>{{^value}}){{/value}}" }}</div>
	<div class="row">{{ i18n("rating", "Rating") }}: <b>{{ "{{#value}}{{value}}{{/value}}{{^value}}{{fallback_value}}{{/value}}" }}</b></div>
	<div class="row">{{ i18n("modifiers", "Modifiers") }}: <b>{{ "{{modifiers}}" }}</b></div>
	<div class="row">{{ i18n("1d20_result", "1d20 result") }}: <b>{{ "{{#value}}{{1d20}}{{/value}}{{^value}}{{fallback_1d20}}{{/value}}" }}</b></div>
	<div class="row">{{ i18n("margin_of_success", "Margin of success") }}: <b>{{ "{{#value}}{{margin}}{{/value}}{{^value}}{{fallback_margin}}{{/value}}" }}</b></div>
</rolltemplate>

<!-- Paranoia 25th Anniversary Edition character sheet | HTML END -->
