@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play-Bold'), url(http://themes.googleusercontent.com/static/fonts/play/v4/ZzUearZLklGfoL18Ti0GaQ.woff) format('woff');
}
 
.charsheet {
    background-image: url("");
    background-color: white;
}
 
.sheet-center {
    text-align: center;
}
 
.sheet-left {
    text-align: left;
}
 
.sheet-right {
    text-align: right;
}
 
h3 {
    margin-bottom:0;
}
 
.sheet-small, .sheet-smallSkills {
    font-size: 10px;
    line-height:9px;
}
.sheet-smallSkills{
    margin-left:15px;
}
 
 
label {
    display: inline-block;
    text-align: right;
    font-size:14px;     
    width: auto;
}
 
.sheet-long {
    width: 100px;
}
 
input {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;    
}
select {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;    
}
 
input.sheet-header {   
    width: 100%;
}
 
.sheet-classHeader {
    width: calc(100% - 300px) !important; 
}
 
div.sheet-record {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align:center;    
    font-family: 'play';
    width:300px;
    float:right;
}
 
.sheet-EquipmentSection {
    /*width: calc(100% - 330px) !important; */
    width:60%;
    min-width:490px;
    max-width:680px;
}
div.sheet-EquipmentSection2 {
    width:37%;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align:center;    
    font-family: 'play';
    min-width:300px;
    float:right;
}
 
input.sheet-skills{
    width:42px !important; 
}
     
select {    
    display: inline-block;
     
}
 
select.sheet-modtype {
    width: 72px;
}
 
div.sheet-textHead, div.sheet-textHead2Col {
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    -webkit-border-radius:  5px;
    -moz-border-radius: 5px; /*[top-left] [top-right] [bottom-right] [bottom-left] */
    border-radius:  5px;
    width:100%;
    padding:1px 2px;
    border-spacing: 0px 4px;    
}
div.sheet-textHead2Col, table.sheet-table2col{
min-width: 395px;
}
 
textarea {
    width: calc(100% - 10px);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1px;
}
textarea.sheet-atkFormula, input.sheet-skillFormula, textarea.sheet-atkNotes {
    font-size: 12px;
    min-width:330px;
}
.sheet-skillFormula {
width:100%;
}
textarea.sheet-atkFormula {
    height: 80px; 
}
textarea.sheet-atkNotes {
    height: 40px;
}
textarea.sheet-ActionNotes {
    font-size: 12px;
    height:60px;
    min-width:389px;
}
textarea.sheet-StatBlock {
    font-size: 12px;
    height:60px;
    display: inline-block;
}
 
div.sheet-clear { clear:both; }
 
button[type=roll] {
    padding: 5px 10px 5px !important;
    font-size: 20px;
    background-color: #a7a8aa;
    font-weight: bold;
    text-shadow: 1px 1px #D0D0D0;
    color: #000000;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #D0D0D0;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
button[type=roll].sheet-blank-roll-button::before { content: "";}
 
button[type=roll].sheet-blank-roll-button, button[type=roll].sheet-small-roll-button {
    font-size: 12px !important;
    line-height:5px;}
select{
    margin:0;
}
 
/* ******** Start code for hiding sections ******* */
.sheet-forceShow:not(:checked) ~ .sheet-forceBody,
.sheet-SRShow:not(:checked) ~ .sheet-SRBody,
.sheet-DRShow:not(:checked) ~ .sheet-DRBody,
.sheet-immuneShow:not(:checked) ~ .sheet-immuneBody,
.sheet-DefArmorLevelShow:not(:checked) ~ .sheet-DefArmorLevelBody,
.sheet-PerceptionShow:not(:checked) ~ .sheet-PerceptionBody,
.sheet-sectAttack-show:checked ~.sheet-sectAttack,
.sheet-sect-show:not(:checked)~.sheet-sect{
    display: none;
}
 
.sheet-hidden {
    display: none !important;       
}
 
.sheet-skillsHeader {
    opacity:0;  
    position: relative;
    height: 0px;    
}
 
input[type="checkbox"] + span:not(.sheet-not-sheet-show)::before 
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
 
    content: "[show]";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
input.sheet-sectAttack-show + span:not(.sheet-not-sheet-show)::before 
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "[hide]";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
 
span.sheet-not-sheet-show {
    margin-right: 4px;
    vertical-align: middle; 
    min-height: 32px;
}
.sheet-displayInline-block{ display: inline-block;}
 
input[type="checkbox"]:checked + span:not(.sheet-not-sheet-show)::before
{
    content: "[hide]";
}
input.sheet-sectAttack-show:checked + span:not(.sheet-not-sheet-show)::before
{
    content: "[show]";
}
 
.sheet-hideCheckbox{
    opacity: 0;
    position: relative;
    left: 6px;
    cursor: pointer;
    z-index: 1;
}
.sheet-skillsHideCheckbox   {   
    opacity:0;
    position: relative;
    cursor: pointer;
    z-index: 1;
    height: 15px;
}
 
/* ******** Start code for tabs ******* */
div.sheet-tab-content
{ display: none; }
 
input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4
{
    display: block;
}
input.sheet-tab
{
    width: 150px;
    height: 20px;
    position: relative;
    left: 6px; 
    margin: 0px -1.5px;
    cursor: pointer;
    z-index: 1;
}
input.sheet-tab::before
{
    content: attr(title);
    /* 
    border: solid 1px #c8c8c8;
    border-bottom-color: black; */
    text-align: center;
    display: inline-block;
     
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
     
    width: 150px;
    height: 20px;
    font-size: 18px;
}
input.sheet-tab:checked::before
{
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    /* border-bottom-color: #fff; */
}
input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}
div.sheet-tab-content
{
   /*  border: 1px solid #a8a8a8;
    border-top-color: #000;*/  
    margin: 2px 0 0 5px;
    padding: 5px;
}
 
/* ******** Tables ******** */
table{
    text-align: center;
    width: 100%;
}
table th {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
 
.sheet-col1, .sheet-skillsCol1, .sheet-skillsCrewCol1  {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}
.sheet-col1{
    background-color: #a7a8aa;
    -webkit-border-radius:  5px;
    -moz-border-radius: 5px; /*[top-left] [top-right] [bottom-right] [bottom-left] */
    border-radius: 5px;
}
.sheet-skillsCol1{
    width: 35%;
    min-width: 122px;
}
.sheet-skillsHideCheckbox   {   
    width: 100%;
    margin-left: calc(1px - (100% + 17px));
}
 
input.sheet-skillsNotes{
    width: 100%;
    min-width:250px;
}
.sheet-skillsFeats{
    min-width: 25px;
    text-align: center; 
    cursor: pointer;
}
.sheet-spacing {    
    border-spacing: 1px 1px;
    border-collapse: separate;
    padding: 0px 1px;
}
 
.sheet-table {
    display: table;
    width: 100%;
}
 
.sheet-table-header {
    display: table-cell;
    vertical-align: bottom;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
 
.sheet-table-data {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 1px;
}
 
.sheet-table-row {
    display: table-row;
    vertical-align: bottom;
    width: 100%; 
}
 
/* sheet roll template for Saga Default */
.sheet-rolltemplate-sagadefault table {
    width:100%;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border-collapse:separate;
    border:solid black 1px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
 
.sheet-rolltemplate-sagadefault th {
    background-color: #000000;
    color: #ffffff;
    padding: 2px;
    line-height: 1.6em;
    font-size: 1.2em;   
    border-top: none;
}
.sheet-rolltemplate-sagadefault .sheet-subheader {
    background-color: #333333;
    color: #ffffff;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}
.sheet-rolltemplate-sagadefault .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-sagadefault td {
    padding: 5px;
    border: 1px solid black;
    text-align: left;
}
 
.sheet-rolltemplate-sagadefault tr:nth-child(odd) {
    background-color: #ffffff;
}
 
.sheet-rolltemplate-sagadefault tr:nth-child(even) {
    background-color: #ededed;
}
 
.sheet-rolltemplate-sagadefault .inlinerollresult  {
    display: inline-block;
    min-width: 1.5em;
    text-align: center; 
    border: 2px solid #000000; /*Cool Gray 6 C*/
    background-color: #000000; /*Cool Gray 6 C*/
    color: whitesmoke;
}
 
.sheet-rolltemplate-sagadefault .inlinerollresult.fullcrit {
    background-color: #3FB315;
    color: #f5f5f5;
}
 
.sheet-rolltemplate-sagadefault .inlinerollresult.fullfail {
    background-color: #B31515;
    color: white;
}
 
.sheet-rolltemplate-sagadefault .inlinerollresult.importantroll {
    background-color: #4A57ED;
    color: white;
}
.sheet-rolltemplate-sagadefault div{ 
    width:100%; 
    max-width:400px; 
}
/* Sheet roll template for Attacks */
.sheet-rolltemplate-attack table {
    width:100%;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border-collapse:separate;
    border:solid black 1px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
 
.sheet-rolltemplate-attack th {
    background-color: #000000;
    color: #ffffff;
    padding: 2px;
    line-height: 1.6em;
    font-size: 1.2em;   
    border-top: none;
}
.sheet-rolltemplate-attack .sheet-subheader {
    background-color: #333333;
    color: #ffffff;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}
.sheet-rolltemplate-attack .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-attack td {
    padding: 5px;
    border: 1px solid black;
    text-align: left;
}
 
.sheet-rolltemplate-attack tr:nth-child(odd) {
    background-color: #ffffff;
}
 
.sheet-rolltemplate-attack tr:nth-child(even) {
    background-color: #ededed;
}
 
.sheet-rolltemplate-attack .inlinerollresult  {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #000000; /*Cool Gray 6 C*/
    color: #f5f5f5;
}
 
.sheet-rolltemplate-attack .inlinerollresult.fullcrit {
    background-color: #3FB315;
    color: white;
}
 
.sheet-rolltemplate-attack .inlinerollresult.fullfail {
    background-color: #B31515;
    color: white;
}
 
.sheet-rolltemplate-attack .inlinerollresult.importantroll {
    background-color: #4A57ED;
    color: white;
}
.sheet-rolltemplate-attack div{ 
    width:100%; 
    max-width:400px; 
}
 
/* sheet roll template for skills */
.sheet-rolltemplate-skill table {
    width:100%;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sheet-rolltemplate-skill .sheet-tcat {
    font-weight: bold;
}
.sheet-rolltemplate-skill th {
    background-color: #000000;
    color: #ffffff;
    padding: 2px;       
    border-top: none;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: center;
}
 
.sheet-rolltemplate-skill td {
    padding: 5px;           
    border:solid black 1px;
    text-align:left;
}
 
.sheet-rolltemplate-skill tr:nth-child(odd) {
    background-color: #ffffff;
}
 
.sheet-rolltemplate-skill tr:nth-child(even) {
    background-color: #ededed;
}
 
.sheet-rolltemplate-skill tr:first-child td{
    text-align: center;
    border-left: none;
    width: 75px;
}
.sheet-rolltemplate-skill .inlinerollresult  {
    display: inline-block;
    min-width: 1.5em;
    text-align: center; 
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color:  #000000;
    color: #f5f5f5;
}
 
.sheet-rolltemplate-skill .inlinerollresult.fullcrit {  
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #008000;
}
 
.sheet-rolltemplate-skill .inlinerollresult.fullfail {
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #FF0000;
}
 
.sheet-rolltemplate-skill .inlinerollresult.importantroll {
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #c5c6c7;
}
.sheet-rolltemplate-skill div{ 
    width:100%; 
    max-width:400px; 
}
/* sheet roll template for Second Wind */
.sheet-rolltemplate-second-wind table {
    width:100%;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sheet-rolltemplate-second-wind .sheet-tcat {
    font-weight: bold;
}
.sheet-rolltemplate-second-wind th {
    background-color: #000000;
    color: #ffffff;
    padding: 2px;
    border-top: none;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: center;
}

.sheet-rolltemplate-second-wind td {
    padding: 5px;
    border:solid black 1px;
    text-align:left;
}

.sheet-rolltemplate-second-wind tr:nth-child(odd) {
    background-color: #ffffff;
}

.sheet-rolltemplate-second-wind tr:nth-child(even) {
    background-color: #ededed;
}

.sheet-rolltemplate-second-wind tr:first-child td{
    text-align: center;
    border-left: none;
    width: 75px;
}
.sheet-rolltemplate-second-wind .inlinerollresult  {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color:  #000000;
    color: #f5f5f5;
}

.sheet-rolltemplate-second-wind .inlinerollresult.fullcrit {
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #008000;
}

.sheet-rolltemplate-second-wind .inlinerollresult.fullfail {
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #FF0000;
}

.sheet-rolltemplate-second-wind .inlinerollresult.importantroll {
    border: 2px solid #a7a8aa; /*Cool Gray 6 C*/
    background-color: #c5c6c7;
}
.sheet-rolltemplate-second-wind div{
    width:100%;
    max-width:400px;
}
/* sheet roll template for stat block */
.sheet-rolltemplate-statBlock table {
    width:100%;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sheet-rolltemplate-statBlock .sheet-tcat {
    font-weight: bold;
}
.sheet-rolltemplate-statBlock th {
    background-color: #000000;
    color: #ffffff;
    padding: 2px;       
    border-top: none;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: center;
}
 
.sheet-rolltemplate-statBlock td {
    text-align:left;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-statBlock .inlinerollresult  {
    display: inline-block;
    text-align: left;
    background-color: #ffffff;
    font-weight: normal;
    border: 0px;
}
