/* Tabs and Tab Buttons */
.charsheet div.tabs {
  grid-area: tabs;
  padding: 0 0 10px;
  border-bottom: 1px solid black;
}

.charsheet .tabs button {
  background: #a11d2c;
  color: white;
  border: none;
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Toggle Tabs */
.charsheet .sheet-public,
.charsheet .sheet-naughty {
  display: none;
}

.charsheet .sheet-tabstoggle[value="public"] ~ div.sheet-public,
.charsheet .sheet-tabstoggle[value="naughty"] ~ div.sheet-naughty {
  display: block;
}

/* Naughty Sheet */
.charsheet .sheet-naughty-section {
  display: grid;
  color: black;
  grid-template: auto / 70% auto;
  gap: 20px;
  margin: 0;
  padding: 0;
  grid-template-areas:
    "header header"
    "naughty-name favours"
    "treasonous-gear treasonous-gear"
    "evidence evidence"
    "notes notes";
}

.charsheet .sheet-naughty-namebox {
  grid-area: naughty-name;
  display: grid;
  grid-template: auto / auto;
  gap: 0;
  grid-template-areas:
    "naughty-name"
    "secret-society"
    "secret-objective"
    "mutant-power";
}

.charsheet div.sheet-favours {
  grid-area: favours;
  display: grid;
  grid-template: auto auto / auto;
  gap: 0;
  grid-template-areas:
    "service-group-favours"
    "secret-society-favours";
}

.charsheet div.sheet-service-group-favours {
  grid-area: service-group-favours;
  display: grid;
  border: 1px solid black;
  grid-template: 0.2fr auto / auto;
  grid-template-areas:
    "favoursheader"
    "favours-box";
}

.charsheet div.sheet-secret-society-favours {
  grid-area: secret-society-favours;
  display: grid;
  grid-template-rows: 0.2fr auto / auto;
  grid-template-areas:
    "favoursheader"
    "favours-box";
}

.charsheet .sheet-naughty-name {
  grid-area: naughty-name;
  display: flex;
}

.charsheet div.sheet-secret-society {
  grid-area: secret-society;
  margin-top: 10px;
  display: flex;
}

.charsheet div.sheet-secret-objective {
  grid-area: secret-objective;
  margin-top: 10px;
  display: flex;
}

.charsheet div.sheet-mutant-power {
  grid-area: mutant-power;
  display: flex;
}

.charsheet div.sheet-treasonous-gear {
  grid-area: treasonous-gear;
}

.charsheet div.sheet-evidence {
  grid-area: evidence;
}

.charsheet div.sheet-notes {
  grid-area: notes;
}

.charsheet label[for="attr_character_name"],
.charsheet label[for="attr_secret-society"],
.charsheet label[for="attr_secret-objective"],
.charsheet label[for="attr_mutant-power"],
.charsheet label[for="attr_treasonous-gear"],
.charsheet label[for="attr_evidence"],
.charsheet label[for="attr_notes"],
.charsheet label[for="attr_NODE"] {
  margin: 5px 0 0 5px;
  width: auto;
  color: black;
}

.charsheet input[name="attr_character_name"],
.charsheet input[name="attr_secret-society"] {
  flex: 1;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.charsheet textarea[name="attr_secret-objective"],
.charsheet textarea[name="attr_mutant-power"] {
  flex: 1;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  height: auto;
  resize: none;
  margin: 10px 10px 0 0;
  background-color: transparent;
  line-height: 1.5;
}

.charsheet textarea[name="attr_secret-objective"]:focus,
.charsheet textarea[name="attr_mutant-power"]:focus {
  border: 1px solid black;
}

.charsheet .sheet-naughty-textarea {
  width: 100%;
  padding: 10px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  resize: none;
  outline: none;
  line-height: 1.5;
  background-color: transparent;
}

.charsheet div.sheet-favours-box {
  grid-area: favours-box;
  display: grid;
  place-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "favours-value";
}

.charsheet div.sheet-favoursheader {
  grid-area: favoursheader;
  background: black;
}
.charsheet label.sheet-favoursheader {
  text-align: center;
  margin: 5px 0px;
  color: white;
}

.charsheet div.sheet-naughty-block {
  display: block;
  padding: 5px;
  border: 1px solid black;
}

.charsheet div.sheet-block {
  display: grid;
  padding: 0;
  border: 1px solid black;
}

.charsheet .sheet-public-section {
  display: grid;
  color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto 1fr 2fr auto 1fr auto auto 4fr;
  gap: 5px 0px;
  padding: 0px;
  margin: 0px;
  grid-template-areas:
    "header header header header"
    "part-1-title part-1-title part-1-title part-1-title"
    "namelvl namelvl namelvl namelvl"
    "part-2-title part-2-title part-2-title part-2-title"
    "node node node node"
    "skills skills skills skills"
    "part-3-title part-3-title part-3-title part-3-title"
    "wellness wellness wellness wellness"
    "part-4-title part-4-title part-4-title part-4-title"
    "mission mission gear gear";
}

.charsheet div.sheet-header {
  grid-area: header;
}

.charsheet div.sheet-part-1-title {
  grid-area: part-1-title;
}

.charsheet div.sheet-part-2-title {
  grid-area: part-2-title;
}

.charsheet div.sheet-part-3-title {
  grid-area: part-3-title;
}

.charsheet div.sheet-part-4-title {
  grid-area: part-4-title;
}

/* Part 1 */
.charsheet div.sheet-namelvl {
  grid-area: namelvl;
  display: grid;
  color: black;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 10px 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0px;
  grid-template-areas:
    "name team-name"
    "mbd service-group"
    "treason-button violence-button";
}

.charsheet .sheet-name {
  grid-area: name;
  margin-left: 5px;
  display: flex;
}

.charsheet .sheet-team-name {
  grid-area: team-name;
  display: flex;
}

.charsheet .sheet-mbd {
  grid-area: mbd;
  margin-left: 10px;
  display: flex;
}

.charsheet .sheet-service-group {
  grid-area: service-group;
  display: flex;
}

.charsheet .sheet-treason-button {
  grid-area: treason-button;
  margin-left: 10px;
  display: flex;
}

.charsheet .sheet-violence-button {
  grid-area: violence-button;
  display: flex;
}

.charsheet label[for="attr_character_name"],
.charsheet label[for="attr_team-name"],
.charsheet label[for="attr_mbd"],
.charsheet label[for="attr_service-group"],
.charsheet label[for="attr_treason-button"],
.charsheet label[for="attr_violence-button"] {
  margin-top: 5px;
  width: auto;
  color: black;
}

.charsheet input[name="attr_character_name"],
.charsheet input[name="attr_team-name"] {
  flex: 1;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.charsheet textarea[name="attr_mbd"],
.charsheet textarea[name="attr_service-group"],
.charsheet textarea[name="attr_treason-button"],
.charsheet textarea[name="attr_violence-button"] {
  flex: 1;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: auto;
  resize: none;
  background: transparent;
}

.charsheet .image-container {
  position: relative;
}

img[name="attr_character_avatar"] {
  position: absolute;
  top: 148px;
  left: 560px;
  max-width: 175px;
  max-height: 175px;
  width: auto;
  height: auto;
}

.sheet-top-image {
  z-index: 1;
}

.charsheet div.sheet-node {
  grid-area: node;
  margin-bottom: 10px;
}

/* Part 2 */
.charsheet div.sheet-skills {
  grid-area: skills;
  display: grid;
  margin: 0px;
  padding: 0px;
  border: 1px solid #000;
  grid-template-rows: auto / 1fr 1fr 1fr 1fr;
  grid-template-areas: "brains chutzpah mechanics violence";
  position: relative;
}

.charsheet div.sheet-brains {
  grid-area: brains;
  display: grid;
  padding: 0 0 2px 0;
  border-right: 1px solid black;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 0.65fr 0.35fr;
  gap: 5px 0px;
  grid-template-areas:
    "skillsheader skillsheadervalue"
    "alpha-complex alpha-complex-skillvalue"
    "bureaucracy bureaucracy-skillvalue"
    "psychology psychology-skillvalue"
    "science science-skillvalue";
}
.charsheet div.sheet-alpha-complex {
  grid-area: alpha-complex;
}
.charsheet div.sheet-bureaucracy {
  grid-area: bureaucracy;
}
.charsheet div.sheet-psychology {
  grid-area: psychology;
}
.charsheet div.sheet-science {
  grid-area: science;
}

.charsheet div.sheet-chutzpah {
  grid-area: chutzpah;
  display: grid;
  padding: 0 0 2px 0;
  border-right: 1px solid black;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 0.65fr 0.35fr;
  gap: 5px 0px;
  grid-template-areas:
    "skillsheader skillsheadervalue"
    "bluff bluff-skillvalue"
    "charm charm-skillvalue"
    "intimidate intimidate-skillvalue"
    "stealth stealth-skillvalue";
}
.charsheet div.sheet-bluff {
  grid-area: bluff;
}
.charsheet div.sheet-charm {
  grid-area: charm;
}
.charsheet div.sheet-intimidate {
  grid-area: intimidate;
}
.charsheet div.sheet-stealth {
  grid-area: stealth;
}

.charsheet div.sheet-mechanics {
  grid-area: mechanics;
  display: grid;
  padding: 0 0 2px 0;
  border-right: 1px solid black;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 0.65fr 0.35fr;
  gap: 5px 0px;
  grid-template-areas:
    "skillsheader skillsheadervalue"
    "demolitiions demolitiions-skillvalue"
    "engineer engineer-skillvalue"
    "operate operate-skillvalue"
    "program program-skillvalue";
}
.charsheet div.sheet-demolitiions {
  grid-area: demolitiions;
}
.charsheet div.sheet-engineer {
  grid-area: engineer;
}
.charsheet div.sheet-operate {
  grid-area: operate;
}
.charsheet div.sheet-program {
  grid-area: program;
}

.charsheet div.sheet-violence {
  grid-area: violence;
  display: grid;
  padding: 0 0 2px 0;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 0.65fr 0.35fr;
  gap: 5px 0px;
  grid-template-areas:
    "skillsheader skillsheadervalue"
    "athletics athletics-skillvalue"
    "guns guns-skillvalue"
    "melee melee-skillvalue"
    "throw throw-skillvalue";
}
.charsheet div.sheet-athletics {
  grid-area: athletics;
}
.charsheet div.sheet-guns {
  grid-area: guns;
}
.charsheet div.sheet-melee {
  grid-area: melee;
}
.charsheet div.sheet-throw {
  grid-area: throw;
}

.charsheet div.sheet-skillsheader {
  grid-area: skillsheader;
  background: #ab2328;
}
.charsheet label.sheet-skillsheader {
  text-align: left;
  margin: 8px 10px;
  color: white;
}
.charsheet div.sheet-skillsheadervalue {
  grid-area: skillsheadervalue;
  background: #a11d2c;
  padding-top: 3px;
}
.charsheet div.sheet-alpha-complex-skillvalue,
.charsheet div.sheet-bureaucracy-skillvalue,
.charsheet div.sheet-psychology-skillvalue,
.charsheet div.sheet-science-skillvalue,
.charsheet div.sheet-bluff-skillvalue,
.charsheet div.sheet-charm-skillvalue,
.charsheet div.sheet-intimidate-skillvalue,
.charsheet div.sheet-stealth-skillvalue,
.charsheet div.sheet-demolitiions-skillvalue,
.charsheet div.sheet-engineer-skillvalue,
.charsheet div.sheet-operate-skillvalue,
.charsheet div.sheet-program-skillvalue,
.charsheet div.sheet-athletics-skillvalue,
.charsheet div.sheet-guns-skillvalue,
.charsheet div.sheet-melee-skillvalue,
.charsheet div.sheet-throw-skillvalue {
  grid-area: skillvalue;
}

.charsheet input.sheet-skillvalue {
  width: 60px;
}

.charsheet input.sheet-xp-moxie-values {
  width: 60px;
  text-align: center;
  border: none;
  font-size: 28px;
}

.charsheet input.sheet-xp-moxie-values:focus {
  outline: none;
  border: none;
}

.charsheet input.sheet-wounds-value {
  transform: scale(2);
  margin-top: 8px;
}

.charsheet label.skills {
  margin: 5px 0 0 10px;
  color: black;
  font-weight: 300;
}

/* Part 3 */
.charsheet div.sheet-wellness {
  grid-area: wellness;
  display: grid;
  grid-template: auto / 1fr 1fr 0.8fr 1.2fr;
  gap: 5px;
  grid-template-areas:
    "wounds flags xp eye-image"
    "wounds flags moxie eye-image";
}

.charsheet div.sheet-wounds {
  grid-area: wounds;
  display: grid;
  border: 1px solid black;
  grid-template: 0.6fr 0.9fr 0.8fr 0.8fr 0.8fr 0.8fr / 0.75fr 0.25fr;
  grid-template-areas:
    "wellnessheader wellnessheader"
    "wounds-fine wounds-fine-value"
    "wounds-hurt wounds-hurt-value"
    "wounds-injured wounds-injured-value"
    "wounds-maimed wounds-maimed-value"
    "wounds-dead wounds-dead-value";
}
.charsheet div.sheet-wounds-fine {
  grid-area: wounds-fine;
}
.charsheet div.sheet-wounds-fine-value {
  grid-area: wounds-fine-value;
}
.charsheet div.sheet-wounds-hurt {
  grid-area: wounds-hurt;
}
.charsheet div.sheet-wounds-hurt-value {
  grid-area: wounds-hurt-value;
}
.charsheet div.sheet-wounds-injured {
  grid-area: wounds-injured;
}
.charsheet div.sheet-wounds-injured-value {
  grid-area: wounds-injured-value;
}
.charsheet div.sheet-wounds-mained {
  grid-area: wounds-maimed;
}
.charsheet div.sheet-wounds-maimed-value {
  grid-area: wounds-maimed-value;
}
.charsheet div.sheet-wounds-dead {
  grid-area: wounds-dead;
}
.charsheet div.sheet-wounds-dead-value {
  grid-area: wounds-dead-value;
}

.charsheet div.sheet-flags {
  grid-area: flags;
  display: grid;
  border: 1px solid black;
  grid-template: 0.6fr 0.9fr 0.8fr 0.8fr 0.8fr 0.8fr / 0.75fr 0.25fr;
  grid-template-areas:
    "wellnessheader wellnessheader"
    "flags-loyal flags-loyal-value"
    "flags-greylisted flags-greylisted-value"
    "flags-restricted flags-restricted-value"
    "flags-citizen-of-interest flags-citizen-of-interest-value"
    "flags-wanted flags-wanted-value";
}

.charsheet div.sheet-flags-loyal {
  grid-area: flags-loyal;
}
.charsheet div.sheet-flags-loyal-value {
  grid-area: flags-loyal-value;
}
.charsheet div.sheet-flags-greylisted {
  grid-area: flags-greylisted;
}
.charsheet div.sheet-flags-greylisted-value {
  grid-area: flags-greylisted-value;
}
.charsheet div.sheet-flags-restricted {
  grid-area: flags-restricted;
}
.charsheet div.sheet-flags-restricted-value {
  grid-area: flags-restricted-value;
}
.charsheet div.sheet-flags-citizen-of-interest {
  grid-area: flags-citizen-of-interest;
}
.charsheet div.sheet-flags-citizen-of-interest -value {
  grid-area: flags-citizen-of-interest -value;
}
.charsheet div.sheet-flags-wanted {
  grid-area: flags-wanted;
}
.charsheet div.sheet-flags-wanted-value {
  grid-area: flags-wanted-value;
}

.charsheet div.sheet-xp {
  grid-area: xp;
  display: grid;
  border: 1px solid black;
  grid-template: 0.2fr auto / auto;
  grid-template-areas:
    "wellnessheader"
    "xp-box";
}
.charsheet div.sheet-moxie {
  grid-area: moxie;
  display: grid;
  border: 1px solid black;
  grid-template: 0.2fr auto / auto;
  grid-template-areas:
    "wellnessheader"
    "moxie-box";
}

.charsheet div.sheet-xp-box {
  grid-area: xp-box;
  display: grid;
  place-items: center;
  grid-template: auto / auto;
  grid-template-areas: "xp-value";
}
.charsheet div.sheet-moxie-box {
  grid-area: moxie-box;
  display: grid;
  place-items: center;
  grid-template: auto / auto;
  grid-template-areas: "moxie-value";
}

.charsheet div.sheet-xp-value {
  grid-area: xp-value;
}

.charsheet div.sheet-moxie-value {
  grid-area: moxie-value;
}

.charsheet div.sheet-wellnessheader {
  grid-area: wellnessheader;
  background: #a11d2c;
}
.charsheet label.sheet-wellnessheader {
  text-align: center;
  margin: 5px 0;
  color: white;
}

.charsheet div.sheet-eye-image {
  grid-area: eye-image;
}

/* Part 4 */
.charsheet div.sheet-mission {
  grid-area: mission;
}
.charsheet div.sheet-gear {
  grid-area: gear;
}

.charsheet label.part4 {
  margin: 5px 0 0 10px;
  color: black;
  font-weight: 300;
  text-align: center;
}

.charsheet .sheet-gear-textarea {
  width: 97%;
  height: 120px;
  padding: 5px;
  border: none;
}

.charsheet .sheet-mission-objectives-textarea {
  width: 97%;
  height: 120px;
  padding: 5px;
  border: none;
}

.charsheet .sheet-mission-objectives-textarea textarea,
.charsheet .sheet-gear-textarea textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  box-sizing: border-box;
  resize: none;
  outline: none;
}

input[type="number"] {
  color: #000000;
  text-align: right;
  border: 2px solid #a11d2c;
  border-radius: 0;
  background-color: white;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  width: 30px;
  border-radius: 0;
  padding: 6px 7px 7px 10px;
  background: transparent;
  border: 1px solid #a11d2c;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: #a11d2c !important;
  border-color: #a11d2c !important;
}

input[type="number"]:focus {
  color: #000000;
  border-color: #a11d2c;
  outline: solid 2px #a11d2c;
}

/* Hide spinners on number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.charsheet .sheet-input-container {
  display: flex;
}

.charsheet .sheet-input-container label {
  flex: 0 0 auto;
  margin-left: 10px;
  margin-top: 20px !important;
}

.charsheet .sheet-input-grid {
  display: grid;
  grid-template-columns: auto 60px auto auto;
  align-items: center;
}

.charsheet .sheet-input-number {
  width: 60px !important;
  height: 30px;
  border: 2px solid #a11d2c;
  padding: 5px;
}

.charsheet .sheet-input-button {
  height: 26px;
  padding: 0 10px;
  color: #a11d2c;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 800;
}

.charsheet .sheet-wounds-warning {
  margin-left: 10px;
  display: flex;
  width: 600px;
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 20px;
  color: #a11d2c;
}

.charsheet .sheet-wounds-warning:focus {
  outline: none;
  border: none;
}

.sheet-title {
  font-weight: bold;
  width: 100%;
  text-align: left;
  color: black;
  vertical-align: bottom;
  padding-bottom: 2px;
}

/* ROLL TEMPLATE */
.sheet-rolltemplate-ppe_NODE {
  text-transform: uppercase;
}

.sheet-rolltemplate-ppe_NODE .sheet-roll-title {
  background-color: #a11d2c;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}

.sheet-rolltemplate-ppe_NODE .sheet-result {
  background: white;
  text-align: center;
  padding: 15px 0px 5px 0px;
}

.sheet-rolltemplate-ppe_NODE .sheet-crit {
  background: white;
  background-image: url(https://raw.githubusercontent.com/Mongoose-Publishing/paranoia-perfect-edition-roll20-images/main/friend-computer-eye.png);
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  padding: 15px 0px 5px 0px;
}

.sheet-rolltemplate-ppe_NODE .inlinerollresult.fullcrit {
  border: none;
}

.sheet-rolltemplate-ppe_NODE .inlinerollresult {
  background: transparent !important;
  background-color: transparent;
  background-size: 0px;
  border-color: transparent;
  border: transparent !important;
  text-align: right !important;
  color: #a11d2c;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 48px;
}
