%displaynone {  display: none; }
%displayInlineGrid { display: inline-grid;}

$sheets: (
    'character': 'character',
    'holdings': 'holdings',
    'feast-record': 'feast record',
    'gamemaster-characters': 'gamemaster characters',
    'npc': 'npc',
    'entourage': 'entourage'
);

$characterSheets: 'character', 'holdings', 'entourage';
$feastSheets: 'feast record', 'gamemaster characters';

@each $className, $valueName in $sheets {
    div.sheet-#{$className} {
      @extend %displayInlineGrid;
    }

    input[name='attr_sheet_type']:not([value='#{$valueName}']) ~ div.sheet-#{$className},
    input[name='attr_settings_toggle'][value='settings'] ~ div.sheet-#{$className} {
        @extend %displaynone;
    }
}

@each $characterSheet in $characterSheets {
    input[name='attr_sheet_type'][value='#{$characterSheet}'] ~ div.sheet-tabs div.sheet-type {
        grid-template-columns: repeat(4, 1fr);
    } 
    
    @include tabHide($characterSheet, 'feast')
}

@each $feastSheet in $feastSheets {
    input[name='attr_sheet_type'][value='#{$feastSheet}'] ~ div.sheet-tabs div.sheet-type {
        grid-template-columns: repeat(3, 1fr);
    }

    @include tabHide($feastSheet, 'character')
}

input[name='attr_sheet_type'][value='feast'] ~ div.sheet-tabs select[name='attr_character_type'] {
    @extend %displaynone;
 }

$types: 'knight', 'woman';
@each $value in $types {
    input[name='attr_character_type']:not([value="#{$value}"]) ~ div.sheet-character div.sheet-col,
    input[name='attr_character_type']:not([value="#{$value}"]) ~ div.sheet-holdings div.sheet-col,
    input[name='attr_character_type']:not([value="#{$value}"]) ~ div.sheet-entourage div.sheet-row {
        & div.sheet-row .sheet-#{$value},
        & div.sheet-personal-data div.sheet-row .sheet-#{$value},
        & div.sheet-personality-traits .sheet-#{$value},
        & div.sheet-personality-traits div.sheet-row .sheet-#{$value},
        & div.sheet-equipment-carried .sheet-#{$value},
        & div.sheet-skills .sheet-#{$value},
        & div.sheet-squire .sheet-#{$value},
        & .sheet-#{$value},
        & div.sheet-combat-skills .sheet-#{$value},
        & div.sheet-horse div.sheet-row .sheet-#{$value},
        & div.sheeet-family-history div.sheet-row,
        & .sheet-#{$value},
        & div.sheet-col .sheet-#{$value} {
            @extend %displaynone;
        }  
    }
}

div.sheet-settings {
    @extend %displayInlineGrid;
}

input[name='attr_settings_toggle']:not([value='settings']) ~ div.sheet-settings {
    @extend %displaynone;
}
