div.sheet-tab-content { display: none; }
input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
{
    display: block;
}
input.sheet-secondary_tab1:checked ~ div.sheet-secondary_tab1,
input.sheet-secondary_tab2:checked ~ div.sheet-secondary_tab2,
input.sheet-secondary_tab3:checked ~ div.sheet-secondary_tab3,
input.sheet-secondary_tab4:checked ~ div.sheet-secondary_tab4,
input.sheet-secondary_tab5:checked ~ div.sheet-secondary_tab5,
{
    display:block;
}

.ui-dialog .largedialog {
    padding: 0px 0px 0px 0px;
}
.ui-dialog .charsheet {
    padding: 0px;
}

.radioLeft{
	float: left;
	width:13px;
}

input.rounded {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
	
input[type='checkbox']:disabled {
    background-color: #000000;
    border-color: #000000;
}

input[type='checkbox']:checked, input[type='checkbox']:checked {
    background-color: #000000;
    border-color: #000000;
}

ul{
	list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.charsheet{
	font-size: 11px;
}

.charsheet input {
    height: 25px;
	
}
.charsheet input {
	width: 170px;	
}
.charsheet input[type='checkbox']{
	float:left;	
	width:13px;
}

input.sheet-tab{
    width:150px;
    height: 20px;
    top: 5px;
    left: 6px;
    margin: 5px;
    cursor: pointer;
    z-index: 1;
}
input.sheet-tab::before{
    content: attr(title);

    border-radius:.5em;
    border:2px solid black;
    text-align: center;
    display: inline-block;
    
    background: black;
    color:white;
    width: 150px;
    height: 20px;
    font-size: 18px;
}

input.sheet-tab:checked::before{
    background:#CCCCCC;
    color:black;
    border-radius:.5em;
    border:2px solid black;
}

.checkbox {
    position:relative;
    display:block;
    width:100%;
    height:60px;
    background:#E0DCDC;
    overflow:hidden;
}
.checkbox:not(:last-child){
    border-bottom:2px solid white;
}
.check {
    width:50px;
    height:50px;
    position:absolute;
    opacity:0;
}
.path{
    stroke-dasharray:400;
    stroke-dashoffset:400;
    transition:.5s all;
}
.check:checked + label svg g path {
    stroke-dashoffset:0;
}
.bottomDiv{
	position:fixed;
	bottom:0;
	left:5%;
	width:auto;/* or 95% if you want it to the right edge*/
}

.sheet-tab1{
	background-image:url("https://nsm09.casimages.com/img/2022/11/06//22110611055526446918044656.png");
	size: 21cm 29.7cm;
}


.sheet-tab2{
	background-image:url("https://nsm09.casimages.com/img/2022/11/06//22110611055526446918044656.png");
	size: 21cm 29.7cm;
}

.sheet-tab2 input[type='text']{
	width: 110px;
	height: 20px;
}
.sheet-tab2 input[type='number']{
	height: 20px;
}


.sheet-tab3{
	background-image:url("https://nsm09.casimages.com/img/2022/11/06//22110611055526446918044656.png");
	size: 21cm 29.7cm;
}


.sheet-bulle{
    border-radius:50%;
    text-align:right;
    font-weight:bolder;
}

.charsheet{
    font-family:Comic Sans, Comic Sans MS, cursive;
}
.sheet-title{
    display:inline-block;
}
.sheet-title-separate{
    font-family:Comic Sans, Comic Sans MS, cursive;
    padding:30px;
    font-style:oblique;
    font-weight:bolder;
    font-size:22px;
    text-align:center;
    text-transform:uppercase;

}
.sheet-name{
    margin-top : 33px;
    margin-left : 100px;
    height:35px;
    width: 380px;
    border:none;
    font-size:30px;
    font-weight:bolder;
    font-style:oblique;
    text-transform:capitalize;
    font-family:Comic Sans, Comic Sans MS, cursive;
    text-align:center;
}
    
.sheet-rolltemplate-RDD table {
    border-collapse:separate;
    border-spacing:0px ;
    background-color:#A0A49E,
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 10px;
    background: linear-gradient(to right bottom, #F6F4E6 60%, #C4C3B8 );
    padding:10px;
    margin:5px;
}
.sheet-rolltemplate-RDD th {
    font-family:Comic Sans, Comic Sans MS, cursive;
    font-size:20px;
    padding:10px;
    font-style:oblique;
    text-transform:uppercase;
}
.sheet-rolltemplate-RDD td {
    padding:3px;
    font-size:12px;
    font-family:Comic Sans, Comic Sans MS, cursive;
    font-style:oblique;
    text-transform:uppercase;
}

.sheet-rolltemplate-RDD .inlinerollresult {
    background-color: rgba(255,255,255,0.9);
    border-width: 1px;
    border-color: #BEAAA0;
    border-style: solid;
    border-radius: 50%;
}


