<fieldset class="repeating_spell">
  <input type="hidden" name="attr_spell_level" class="toggle-spell-level">
  <input type="checkbox" name="attr_is_prepared" class="toggle-spells-prepared hidden">

  <input type="hidden" name="attr_ritual" class="toggle-spells-ritual">
  <input type="hidden" name="attr_concentration" class="toggle-spells-concentration">
  <input type="hidden" name="attr_concentration_text">

  <input type="hidden" name="attr_casting_time" class="toggle-casting-time">
  <input type="hidden" name="attr_components" class="toggle-components">

  <div class="spell compendium-drop-target relative">
    <input type="hidden" name="attr_add_casting_modifier" accept="Add Casting Modifier">
    <input type="hidden" name="attr_type" accept="Spell Attack">

    <div class="presentation">
      <button type="roll" name="roll_spell"
              class="wrapper-button"
              value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{spell=1}} @{attacher_spell} {{friendly_level=@{friendly_level}}} {{school=@{school}}} {{casting_time=@{casting_time}}} @{ritual_output} {{range=@{range}}} {{components=@{components}}} {{materials=@{materials}}} {{concentration=@{concentration_text}}} {{duration=@{duration}}} {{target=@{target}}} @{content_toggle} @{roll_toggle} @{saving_throw_toggle} @{damage_toggle} @{second_damage_toggle} @{heal_toggle} @{higher_level_toggle} @{hide_gm_info} @{special_effects_toggle} @{extras_toggle}">
        <div class="no-overflow">
          <span name="attr_name" class="spell-name"></span>
        </div>
        <div class="no-overflow condense">
          <span name="attr_friendly_level" class="italic"></span>
          <span name="attr_school" class="italic"></span>
          <input type="checkbox" name="attr_ritual_show" value="1" class="show-ritual hidden">
          <span class="show-ritual italic lowercase">(<span data-i18n="RITUAL"></span>)</span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="CASTING_TIME"></span>:</span>
          <span name="attr_casting_time"></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="RANGE"></span>:</span>
          <span name="attr_range"></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="COMPONENTS"></span>:</span>
          <span name="attr_components"></span>
          <input type="checkbox" name="attr_materials_show" value="1" class="show-materials hidden">
          <span class="show-materials">
            (<span name="attr_materials" class="small-label"></span>)
          </span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="DURATION"></span>:</span>
          <input type="checkbox" name="attr_concentration_show" value="1" class="show-concentration hidden">
          <span class="show-concentration"><span data-i18n="CONCENTRATION"></span>, </span>
          <span name="attr_duration"></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="TARGET"></span>:</span>
          <span name="attr_target"></span>
        </div>
        <div class="condense content">
          <span name="attr_content"></span>
        </div>
      </button>
    </div>

    <input type="checkbox" name="attr_is_prepared" class="toggle-spells-prepared"><span class="toggle-spells-prepared" data-i18n="PREPARED"></span>
    <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings edit" checked><span class="toggle-icon-settings pictos edit">y</span>

    <input type="text" name="attr_name" class="spell-name edit" data-i18n-placeholder="NAME" accept="Name">

    <div class="details edit">
      <div class="shaped-row vert-center">
        <div class="col-18">
          <input type="hidden" name="attr_friendly_level">
          <select name="attr_spell_level" class="italic no-border" accept="Level">
            <option value="0" data-i18n="CANTRIP">Cantrip</option>
            <option value="@{spell_level_1}"><span data-i18n="1st">1st</span>-<span data-i18n="level">level</span></option>
            <option value="@{spell_level_2}"><span data-i18n="2nd">2nd</span>-<span data-i18n="level">level</span></option>
            <option value="@{spell_level_3}"><span data-i18n="3rd">3rd</span>-<span data-i18n="level">level</span></option>
            <option value="@{spell_level_4}"><span data-i18n="4th">4th</span>-<span data-i18n="level">level</span></option>
            <option value="@{spell_level_5}"><span data-i18n="5th">5th</span>-<span data-i18n="level">level</span></option>
            <option value="@{spell_level_6}"><span data-i18n="6th">6th</span>-<span data-i18n="level">level</span></option>
            <option value="@{spell_level_7}"><span data-i18n="7th">7th</span>-<span data-i18n="level">level</span></option>
            <option value="@{spell_level_8}"><span data-i18n="8th">8th</span>-<span data-i18n="level">level</span></option>
            <option value="@{spell_level_9}"><span data-i18n="9th">9th</span>-<span data-i18n="level">level</span></option>
          </select>
        </div>
        <div class="col-26 center">
          <select name="attr_school" class="italic no-border" accept="School">
            <option value="Abjuration" data-i18n="ABJURATION">Abjuration</option>
            <option value="Conjuration" data-i18n="CONJURATION">Conjuration</option>
            <option value="Divination" data-i18n="DIVINATION">Divination</option>
            <option value="Enchantment" data-i18n="ENCHANTMENT">Enchantment</option>
            <option value="Evocation" data-i18n="EVOCATION">Evocation</option>
            <option value="Illusion" data-i18n="ILLUSION">Illusion</option>
            <option value="Necromancy" data-i18n="NECROMANCY">Necromancy</option>
            <option value="Transmutation" data-i18n="TRANSMUTATION">Transmutation</option>
          </select>
        </div>
        <div class="mar-l-lg">
          <input type="hidden" name="attr_ritual_output">
          <input type="checkbox" name="attr_ritual" class="toggle-spells-ritual" value="Yes" accept="Ritual"><span class="toggle-spells-ritual" data-i18n="RITUAL"></span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="CASTING_TIME"></span>:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_casting_time" class="no-border" data-i18n-placeholder="1_ACTION" accept="Casting Time">
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="RANGE"></span>:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_range" class="no-border" placeholder="90ft" accept="Range">
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="COMPONENTS"></span>:</span>
        <div class="col-12 center pad-l-sm">
          <input type="text" name="attr_components" class="no-border" placeholder="V S M" accept="Components">
        </div>
        <div class="flex-grow pad-l-sm">
          <div class="shaped-row no-wrap small-label vert-center">
            <span>(</span>
            <input type="text" name="attr_materials" class="no-border small-label" accept="Material">
            <span>)</span>
          </div>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="DURATION"></span>:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_duration" class="no-border" data-i18n-placeholder="INSTANTANEOUS" accept="Duration">
        </div>
        <div class="flex-grow">
          <input type="checkbox" name="attr_concentration" class="toggle-spells-concentration" value="Yes" accept="Concentration"><span class="toggle-spells-concentration" data-i18n="CONCENTRATION"></span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="TARGET"></span>:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_target" class="no-border" data-i18n-placeholder="ONE_CREATURE" accept="Target">
        </div>
      </div>
      //= include ../actionComponents/content.html
      //= include ../actionComponents/attackSpell.html
      //= include ../actionComponents/savingThrow.html
      //= include ../actionComponents/damageSpell.html
      //= include ../actionComponents/damageSecondary.html
      //= include ../actionComponents/heal.html
      //= include ../actionComponents/higherLevel.html
      //= include ../actionComponents/extras.html
      //= include ../actionComponents/specialEffects.html
    </div>
  </div>
</fieldset>
