<input type="hidden" name="attr_spell_level" class="toggle-level" value="CANTRIP">
<input type="hidden" name="attr_is_prepared" class="toggle-prepared">
<input type="hidden" name="attr_ritual" class="toggle-ritual">
<input type="hidden" name="attr_concentration" class="toggle-concentration">
<input type="hidden" name="attr_casting_time" class="toggle-time" value="1_ACTION">
<input type="hidden" name="attr_components" class="toggle-components" value="COMPONENTS_V_S_M">

<div class="filter-section compendium-drop-target shaped-row no-wrap flex-end">
  <button type="roll" name="roll_spell"
          class="wrapper-button no-overflow"
          value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{spell=1}} @{attacher_spell} {{spell_level=^{@{spell_level}}}} {{school=^{@{school}}}} {{casting_time=^{@{casting_time}}}} @{ritual_output} {{range=@{range}}} {{components=^{@{components}}}} {{materials=@{materials}}} {{duration=^{@{duration}}}} {{target=@{target}}} @{content_toggle} @{roll_toggle} @{saving_throw_toggle} @{damage_toggle} @{second_damage_toggle} @{heal_toggle} {{cast_as_level=@{cast_as_level}}} @{higher_level_toggle} @{hide_gm_info} @{special_effects_toggle} @{extras_toggle}">
    <span name="attr_name"></span>
  </button>
  <div class="pad-r-sm comma">,</div>
</div>
