<div class="wrap-box-label light-label center" data-i18n="SPELLCASTING"></div>
<div class="shaped-row no-wrap mar-b-sm">
  <div class="center pad-r-sm">
    <input type="text" name="attr_global_spell_attack_bonus" class="center" value="0">
    <div class="small-label" data-i18n="ATK"></div>
  </div>
  <div class="center">
    <input type="text" name="attr_global_spell_damage_bonus" class="center" value="0">
    <div class="small-label" data-i18n="DMG"></div>
  </div>
  <div class="center pad-l-sm">
    <input type="text" name="attr_global_spell_dc_bonus" class="center" value="0">
    <div class="small-label" data-i18n="SAVING_DC"></div>
  </div>
  <div class="center pad-l-sm">
    <input type="text" name="attr_global_spell_heal_bonus" class="center" value="0">
    <div class="small-label" data-i18n="HEAL"></div>
  </div>
</div>
