<div class="wrap-box-label light-label center" data-i18n="SPELLCASTING">{{'SPELLCASTING' | translate}}</div>
<div class="shaped-row mar-b-sm">
  <div class="col-22 center pad-r-sm">
    <input type="text" name="attr_global_spell_attack_bonus" class="center" value="0">
    <div class="small-label" data-i18n="ATTACK">{{'ATTACK' | translate}}</div>
  </div>
  <div class="col-26 center">
    <input type="text" name="attr_global_spell_damage_bonus" class="center" value="0">
    <div class="small-label" data-i18n="DAMAGE">{{'DAMAGE' | translate}}</div>
  </div>
  <div class="col-34 center pad-l-sm">
    <input type="text" name="attr_global_spell_dc_bonus" class="center" value="0">
    <div class="small-label" data-i18n="SAVING_DC">{{'SAVING_DC' | translate}}</div>
  </div>
  <div class="col-28 center pad-l-sm">
    <input type="text" name="attr_global_spell_heal_bonus" class="center" value="0">
    <div class="small-label" data-i18n="HEAL">{{'HEAL' | translate}}</div>
  </div>
</div>
