<div class="wrap-box-label light-label center">{{'SPELLCASTING' | translate}}</div>
<div class="shaped-row mar-b-sm">
  <div class="col-22 center pad-r-sm">
    <input type="text" name="attr_global_spell_attack_bonus" class="center" value="0">
    <div class="small-label">{{'ATTACK' | translate}}</div>
  </div>
  <div class="col-26 center">
    <input type="text" name="attr_global_spell_damage_bonus" class="center" value="0">
    <div class="small-label">{{'DAMAGE' | translate}}</div>
  </div>
  <div class="col-34 center pad-l-sm">
    <input type="text" name="attr_global_spell_dc_bonus" class="center" value="0">
    <div class="small-label">{{'SAVING_DC' | translate}}</div>
  </div>
  <div class="col-28 center pad-l-sm">
    <input type="text" name="attr_global_spell_heal_bonus" class="center" value="0">
    <div class="small-label">{{'HEAL' | translate}}</div>
  </div>
</div>
