<input type="hidden" name="attr_spell_level" class="toggle-level" value="CANTRIP">
<input type="checkbox" name="attr_is_prepared" class="toggle-prepared hidden">
<input type="hidden" name="attr_ritual" class="toggle-ritual">
<input type="hidden" name="attr_concentration" class="toggle-concentration">
<input type="hidden" name="attr_casting_time" class="toggle-time" value="1_ACTION">
<input type="hidden" name="attr_components" class="toggle-components" value="COMPONENTS_V_S_M">

<div class="filter-section compendium-drop-target shaped-row no-wrap flex-end">
  <input type="hidden" name="attr_spell_output">
  <button type="roll" name="roll_spell"
          class="wrapper-button no-overflow"
          value="@{spell_output}">
    <span name="attr_name"></span>
  </button>
  <div class="pad-r-sm comma">,</div>
</div>
