<fieldset class="repeating_spell">
  <input type="hidden" name="attr_spell_level" class="toggle-level">
  <input type="checkbox" name="attr_is_prepared" class="toggle-prepared hidden">
  <input type="hidden" name="attr_ritual" class="toggle-ritual">
  <input type="hidden" name="attr_concentration" class="toggle-concentration">
  <input type="hidden" name="attr_casting_time" class="toggle-time">
  <input type="hidden" name="attr_components" class="toggle-components">

  <div class="filter-section compendium-drop-target">
    <input type="hidden" name="attr_add_casting_modifier" accept="Add Casting Modifier">
    <input type="hidden" name="attr_type" accept="Spell Attack">
    <input type="hidden" name="attr_cast_as_level">
    <input type="hidden" name="attr_spell_level_from_srd" accept="Level">
    <input type="hidden" name="attr_school_from_srd" accept="School">
    <input type="hidden" name="attr_casting_time_from_srd" accept="Casting Time">
    <input type="hidden" name="attr_components_from_srd" accept="Components">
    <input type="hidden" name="attr_duration_from_srd" accept="Duration">
    <input type="hidden" name="attr_saving_throw_vs_ability_from_srd" accept="Save">

    <div class="presentation">
      <input type="hidden" name="attr_spell_output" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{spell=1}} @{attacher_spell} {{spell_level=^{@{spell_level}}}} {{school=^{@{school}}}} {{casting_time=^{@{casting_time}}}} @{ritual_output} {{range=@{range}}} {{components=^{@{components}}}} {{materials=@{materials}}} {{duration=^{@{duration}}}} {{target=@{target}}} @{content_toggle} @{roll_toggle} @{saving_throw_toggle} @{damage_toggle} @{second_damage_toggle} @{heal_toggle} {{cast_as_level=@{cast_as_level}}} @{higher_level_toggle} @{hide_gm_info} @{special_effects_toggle} @{extras_toggle}">
      <button type="roll" name="roll_spell"
              class="wrapper-button"
              value="@{spell_output}">
        <div class="no-overflow">
          <span name="attr_name" class="spell-name"></span>
        </div>
        <div class="no-overflow condense mar-b-md">
          <span name="attr_spell_level" data-i18n-dynamic class="italic"></span>
          <span name="attr_school" data-i18n-dynamic class="italic lowercase"></span>
          <span class="italic lowercase">(<span data-i18n="RITUAL"></span>)</span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="CASTING_TIME"></span>:</span>
          <span name="attr_casting_time" data-i18n-dynamic></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="RANGE"></span>:</span>
          <span name="attr_range"></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="COMPONENTS"></span>:</span>
          <span name="attr_components" data-i18n-dynamic></span>
          <input type="checkbox" name="attr_materials_show" value="1" class="show-materials hidden">
          <span class="show-materials">
            (<span name="attr_materials" class="small-label"></span>)
          </span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="DURATION"></span>:</span>
          <span name="attr_duration" data-i18n-dynamic></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm"><span data-i18n="TARGET"></span>:</span>
          <span name="attr_target"></span>
        </div>
        <div class="condense content">
          <span name="attr_content"></span>
        </div>
      </button>
    </div>

    <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings edit" checked><span class="toggle-icon-settings pictos edit">y</span>

    <input type="text" name="attr_name" class="spell-name edit" data-i18n-placeholder="NAME" accept="Name">

    <div class="details edit">
      <div class="shaped-row vert-center">
        <div class="4-rem">
          <select name="attr_spell_level" class="italic no-border" accept="Level">
            <option value="CANTRIP" data-i18n="CANTRIP"></option>
            <option value="1ST_LEVEL" data-i18n="1ST_LEVEL"></option>
            <option value="2ND_LEVEL" data-i18n="2ND_LEVEL"></option>
            <option value="3RD_LEVEL" data-i18n="3RD_LEVEL"></option>
            <option value="4TH_LEVEL" data-i18n="4TH_LEVEL"></option>
            <option value="5TH_LEVEL" data-i18n="5TH_LEVEL"></option>
            <option value="6TH_LEVEL" data-i18n="6TH_LEVEL"></option>
            <option value="7TH_LEVEL" data-i18n="7TH_LEVEL"></option>
            <option value="8TH_LEVEL" data-i18n="8TH_LEVEL"></option>
            <option value="9TH_LEVEL" data-i18n="9TH_LEVEL"></option>
          </select>
        </div>
        <div class="7-rem center">
          <select name="attr_school" class="italic lowercase no-border">
            <option value="ABJURATION" data-i18n="ABJURATION"></option>
            <option value="CONJURATION" data-i18n="CONJURATION"></option>
            <option value="DIVINATION" data-i18n="DIVINATION"></option>
            <option value="ENCHANTMENT" data-i18n="ENCHANTMENT"></option>
            <option value="EVOCATION" data-i18n="EVOCATION"></option>
            <option value="ILLUSION" data-i18n="ILLUSION"></option>
            <option value="NECROMANCY" data-i18n="NECROMANCY"></option>
            <option value="TRANSMUTATION" data-i18n="TRANSMUTATION"></option>
          </select>
        </div>
        <div class="mar-l-sm">
          <input type="hidden" name="attr_ritual_output">
          <input type="checkbox" name="attr_ritual" class="toggle-ritual" value="Yes" accept="Ritual"><span class="toggle-ritual lowercase" data-i18n="RITUAL"></span>
        </div>
        <div class="mar-l-sm">
          <input type="checkbox" name="attr_is_prepared" class="toggle-prepared"><span class="toggle-prepared lowercase" data-i18n="PREPARED"></span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="CASTING_TIME"></span>:</span>
        <div class="flex-grow center pad-l-sm">
          <select name="attr_casting_time" class="no-border">
            <option value="1_ACTION" data-i18n="1_ACTION"></option>
            <option value="1_BONUS_ACTION" data-i18n="1_BONUS_ACTION"></option>
            <option value="1_REACTION" data-i18n="1_REACTION"></option>
            <option value="1_MINUTE" data-i18n="1_MINUTE"></option>
            <option value="10_MINUTES" data-i18n="10_MINUTES"></option>
            <option value="1_HOUR" data-i18n="1_HOUR"></option>
            <option value="8_HOURS" data-i18n="8_HOURS"></option>
            <option value="12_HOURS" data-i18n="12_HOURS"></option>
            <option value="24_HOURS" data-i18n="24_HOURS"></option>
          </select>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="RANGE"></span>:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_range" class="no-border" placeholder="90ft" accept="Range">
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="COMPONENTS"></span>:</span>
        <div class="3-rem center pad-l-sm">
          <select name="attr_components" class="no-border">
            <option value="COMPONENTS_V_S_M" data-i18n="COMPONENTS_V_S_M"></option>
            <option value="COMPONENTS_V_S" data-i18n="COMPONENTS_V_S"></option>
            <option value="COMPONENTS_V_M" data-i18n="COMPONENTS_V_M"></option>
            <option value="COMPONENTS_V" data-i18n="COMPONENTS_V"></option>
            <option value="COMPONENTS_S_M" data-i18n="COMPONENTS_S_M"></option>
            <option value="COMPONENTS_S" data-i18n="COMPONENTS_S"></option>
            <option value="COMPONENTS_M" data-i18n="COMPONENTS_M"></option>
          </select>
        </div>
        <div class="8-rem pad-l-sm">
          <div class="shaped-row no-wrap small-label vert-center">
            <span>(</span>
            <input type="text" name="attr_materials" class="no-border small-label" accept="Material">
            <span>)</span>
          </div>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="DURATION"></span>:</span>
        <div class="flex-grow center pad-l-sm">
          <select name="attr_duration" class="no-border">
            <option value="INSTANTANEOUS" data-i18n="INSTANTANEOUS"></option>
            <option value="INSTANTANEOUS_OR_1_HOUR" data-i18n="INSTANTANEOUS_OR_1_HOUR"></option>
            <option value="1_ROUND" data-i18n="1_ROUND"></option>
            <option value="1_MINUTE" data-i18n="1_MINUTE"></option>
            <option value="10_MINUTES" data-i18n="10_MINUTES"></option>
            <option value="1_HOUR" data-i18n="1_HOUR"></option>
            <option value="8_HOURS" data-i18n="8_HOURS"></option>
            <option value="12_HOURS" data-i18n="12_HOURS"></option>
            <option value="24_HOURS" data-i18n="24_HOURS"></option>
            <option value="CONCENTRATION_UP_TO_1_ROUND" data-i18n="CONCENTRATION_UP_TO_1_ROUND"></option>
            <option value="CONCENTRATION_UP_TO_6_ROUNDS" data-i18n="CONCENTRATION_UP_TO_6_ROUNDS"></option>
            <option value="CONCENTRATION_UP_TO_1_MINUTE" data-i18n="CONCENTRATION_UP_TO_1_MINUTE"></option>
            <option value="CONCENTRATION_UP_TO_10_MINUTES" data-i18n="CONCENTRATION_UP_TO_10_MINUTES"></option>
            <option value="CONCENTRATION_UP_TO_1_HOUR" data-i18n="CONCENTRATION_UP_TO_1_HOUR"></option>
            <option value="CONCENTRATION_UP_TO_2_HOURS" data-i18n="CONCENTRATION_UP_TO_2_HOURS"></option>
            <option value="CONCENTRATION_UP_TO_8_HOURS" data-i18n="CONCENTRATION_UP_TO_8_HOURS"></option>
            <option value="CONCENTRATION_UP_TO_12_HOURS" data-i18n="CONCENTRATION_UP_TO_12_HOURS"></option>
            <option value="CONCENTRATION_UP_TO_24_HOURS" data-i18n="CONCENTRATION_UP_TO_24_HOURS"></option>
            <option value="7_DAYS" data-i18n="7_DAYS"></option>
            <option value="10_DAYS" data-i18n="10_DAYS"></option>
            <option value="30_DAYS" data-i18n="30_DAYS"></option>
            <option value="UNTIL_DISPELLED" data-i18n="UNTIL_DISPELLED"></option>
            <option value="UNTIL_DISPELLED_OR_TRIGGERED" data-i18n="UNTIL_DISPELLED_OR_TRIGGERED"></option>
            <option value="SPECIAL" data-i18n="SPECIAL"></option>
          </select>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm"><span data-i18n="TARGET"></span>:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_target" class="no-border" data-i18n-placeholder="ONE_CREATURE" accept="Target">
        </div>
      </div>
      //= include ../actionComponents/content.html
      //= include ../actionComponents/attack.html
      //= include ../actionComponents/savingThrow.html
      //= include ../actionComponents/damageSpell.html
      //= include ../actionComponents/damageSecondary.html
      //= include ../actionComponents/heal.html
      //= include ../actionComponents/higherLevel.html
      //= include ../actionComponents/extras.html
      //= include ../actionComponents/specialEffects.html
    </div>
  </div>
</fieldset>
