<div class="wrap-box center mar-b-smd">
  <input type="checkbox" name="attr_spell_slots_toggle" class="toggle-spell-slots edit" checked><span class="toggle-spell-slots edit button" data-i18n="SPELL_SLOTS"></span>
  <input type="checkbox" name="attr_spell_points_toggle" class="toggle-spell-points edit"><span class="toggle-spell-points edit button" data-i18n="SPELL_POINTS"></span>
  <input type="checkbox" name="attr_spell_slots_all" class="toggle-spell-slots-all edit"><span class="toggle-spell-slots-all edit button" data-i18n="ALL"></span>

  //= include warlockSpellSlots.html
  <div class="has-warlock-slots spell-slots-or-points mar-b-smd"></div>
  //= include spellSlots.html
</div>