<div class="spell-level-container has-warlock-slots shaped-row flex-end">
  <div class="spell-level-wrapper shaped-row flex-end mar-r-sm">
    <span data-i18n="WARLOCK_SPELL_SLOTS"></span>
    <span class="mar-l-smd">(</span>
    <div class="07-em">
      <input type="number" name="attr_warlock_spell_slots" class="no-border no-spin" value="0">
    </div>
    <span>&#47;</span>
    <span name="attr_warlock_spell_slots_calc" class="spell-slots pc edit"></span>
    <div class="pc edit">+</div>
    <div class="edit 07-em">
      <input type="number" name="attr_warlock_spell_slots_bonus" class="no-border no-spin" value="0" min="0">
    </div>
    <div class="pc edit">=</div>
    <span name="attr_warlock_spell_slots_max"></span>
    <span>):</span>
  </div>
  <span name="attr_warlock_spells_max_level" class="presentation" data-i18n-dynamic></span>
  <div class="edit">
    <select name="attr_warlock_spells_max_level" class="no-border">
      <option value="1ST_LEVEL" data-i18n="1ST_LEVEL"></option>
      <option value="2ND_LEVEL" data-i18n="2ND_LEVEL"></option>
      <option value="3RD_LEVEL" data-i18n="3RD_LEVEL"></option>
      <option value="4TH_LEVEL" data-i18n="4TH_LEVEL"></option>
      <option value="5TH_LEVEL" data-i18n="5TH_LEVEL"></option>
      <option value="6TH_LEVEL" data-i18n="6TH_LEVEL"></option>
      <option value="7TH_LEVEL" data-i18n="7TH_LEVEL"></option>
      <option value="8TH_LEVEL" data-i18n="8TH_LEVEL"></option>
      <option value="9TH_LEVEL" data-i18n="9TH_LEVEL"></option>
    </select>
  </div>
</div>
<div class="spell-list sheet-spell-slots-or-points-or-warlock-slots">
  <div class="spell-level-container spell-points spell-level-wrapper">
    <div class="shaped-row flex-end mar-r-sm">
      <span data-i18n="SPELL_POINTS"></span>
      <span class="mar-l-smd">(</span>
      <div class="1-point-7-em">
        <input type="number" name="attr_spell_points" class="no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_points_max" class="presentation"></span>
      <div class="1-point-7-em edit">
        <input type="number" name="attr_spell_points_max" class="no-border no-spin" value="0" min="0">
      </div>
      <span>)</span>
    </div>
  </div>
  <div class="spell-level-container spell-level-0 shaped-row vert-top">
    <span class="spell-level-wrapper mar-r-sm">
      <span data-i18n="CANTRIPS"></span>
      <span>(<span data-i18n="AT_WILL"></span>)</span><span class="show-when-condensed">:</span>
    </span>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell0">
      {% include "./spell.html" %}
    </fieldset>
  </div>
  {% for level in range(1, 10) -%}
    <div class="spell-level-container spell-level-{$ level $} shaped-row vert-top">
      <div class="spell-level-wrapper shaped-row flex-end mar-r-sm">
        {%if level == 1 %} {% set levelOrdinal = "1ST_LEVEL" %} {% set pointCost = 2 %} {% endif %}
        {%if level == 2 %} {% set levelOrdinal = "2ND_LEVEL" %} {% set pointCost = 3 %} {% endif %}
        {%if level == 3 %} {% set levelOrdinal = "3RD_LEVEL" %} {% set pointCost = 5 %} {% endif %}
        {%if level == 4 %} {% set levelOrdinal = "4TH_LEVEL" %} {% set pointCost = 6 %} {% endif %}
        {%if level == 5 %} {% set levelOrdinal = "5TH_LEVEL" %} {% set pointCost = 7 %} {% endif %}
        {%if level == 6 %} {% set levelOrdinal = "6TH_LEVEL" %} {% set pointCost = 9 %} {% endif %}
        {%if level == 7 %} {% set levelOrdinal = "7TH_LEVEL" %} {% set pointCost = 10 %} {% endif %}
        {%if level == 8 %} {% set levelOrdinal = "8TH_LEVEL" %} {% set pointCost = 11 %} {% endif %}
        {%if level == 9 %} {% set levelOrdinal = "9TH_LEVEL" %} {% set pointCost = 13 %} {% endif %}
        <span data-i18n="{$ levelOrdinal $}"></span>
        <span class="spell-slots-or-points mar-l-smd">(</span>
        <div class="07-em spell-slots">
          <input type="number" name="attr_spell_slots_l{$ level $}" class="no-border no-spin" value="0">
        </div>
        <span class="spell-slots">&#47;</span>
        <span name="attr_spell_slots_l{$ level $}_calc" class="spell-slots pc edit"></span>
        <div class="spell-slots edit">+</div>
        <div class="spell-slots edit 07-em">
          <input type="number" name="attr_spell_slots_l{$ level $}_bonus" class="no-border no-spin" value="0" min="0">
        </div>
        <div class="spell-slots edit">=</div>
        <span name="attr_spell_slots_l{$ level $}_max" class="spell-slots"></span>
        <span class="spell-slots spell-points mar-r-smd">;</span>
        <span class="spell-points">{$ pointCost $}</span>
        <span class="spell-slots-or-points">)</span>
        <span class="show-when-condensed">:</span>
      </div>
      <div class="col-100 show-when-not-condensed"></div>
      <fieldset class="repeating_spell{$ level $}">
        {% include "./spell.html" %}
      </fieldset>
    </div>
  {%- endfor %}
</div>