<div class="zebra-rows">
  <div class="shaped-row spell-level-1 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="1ST"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l1" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l1_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l1_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l1_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">2</div>
  </div>
  <div class="shaped-row spell-level-2 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="2ND"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l2" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l2_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l2_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l2_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">3</div>
  </div>
  <div class="shaped-row spell-level-3 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="3RD"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l3" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l3_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l3_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l3_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">5</div>
  </div>
  <div class="shaped-row spell-level-4 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="4TH"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l4" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l4_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l4_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l4_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">6</div>
  </div>
  <div class="shaped-row spell-level-5 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="5TH"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l5" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l5_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l5_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l5_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">7</div>
  </div>
  <div class="shaped-row spell-level-6 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="6TH"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l6" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l6_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l6_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l6_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">9</div>
  </div>
  <div class="shaped-row spell-level-7 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="7TH"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l7" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l7_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l7_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l7_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">10</div>
  </div>
  <div class="shaped-row spell-level-8 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="8TH"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l8" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l8_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l8_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l8_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">11</div>
  </div>
  <div class="shaped-row spell-level-9 center vert-center no-wrap">
    <div class="spell-slots-or-points 2-em" data-i18n="9TH"></div>
    <div class="spell-slots 2-4-em">
      <input type="number" name="attr_spell_slots_l9" value="0">
    </div>
    <div class="spell-slots">&#47;</div>
    <div class="spell-slots pc edit 1-3-em">
      <span name="attr_spell_slots_l9_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots edit 1-5-em">
      <input type="number" name="attr_spell_slots_l9_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="spell-slots pc edit">=</div>
    <div class="spell-slots 1-5-em">
      <span name="attr_spell_slots_l9_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="spell-slots spell-points mar-r-smd">;</div>
    <div class="spell-points 1-em">13</div>
  </div>
</div>
<div class="spell-points shaped-row center mar-t-sm">
  <div class="3-em">
    <input type="number" name="attr_spell_points" value="0">
  </div>
  <div class="spell-slots">&#47;</div>
  <div class="3-em">
    <input type="number" name="attr_spell_points_max" value="0" min="0">
  </div>
</div>
<div class="shaped-row center vert-center">
  <div class="spell-slots-or-points mar-r-sm">
    <div class="wrap-box-title center" data-i18n="SPELL"></div>
  </div>
  <div class="mar-l-sm mar-r-sm">
    <button type="roll" name="roll_shaped_spells" class="spell-slots wrapper-button" value="@{spells_macro_var}">
      <div class="wrap-box-title center" data-i18n="SLOTS"></div>
    </button>
  </div>
  <div class="mar-l-sm">
    <button type="roll" name="roll_shaped_spell_points" class="spell-points wrapper-button" value="@{spell_points_macro_var}">
      <div class="wrap-box-title center" data-i18n="POINTS"></div>
    </button>
  </div>
</div>