<div class="has-warlock-slots spell-level-wrapper shaped-row flex-end">
  <div class="shaped-row flex-end bold mar-r-sm">
    <span data-i18n="WARLOCK_SPELL_SLOTS" class="italic"></span>
    <span class="mar-l-sm">(</span>
    <div class="1-rem">
      <input type="number" name="attr_warlock_spell_slots" class="bold no-border no-spin" value="0">
    </div>
    <span>&#47;</span>
    <span name="attr_warlock_spell_slots_calc" class="spell-slots pc edit"></span>
    <div class="pc edit">+</div>
    <div class="edit 1-rem">
      <input type="number" name="attr_warlock_spell_slots_bonus" class="no-border no-spin" value="0" min="0">
    </div>
    <div class="pc edit">=</div>
    <span name="attr_warlock_spell_slots_max"></span>
    <span>).</span>
  </div>
  <span name="attr_warlock_spells_max_level" class="presentation" data-i18n-dynamic></span>
  <div class="edit">
    <select name="attr_warlock_spells_max_level" class="no-border">
      <option value="1ST_LEVEL" data-i18n="1ST_LEVEL"></option>
      <option value="2ND_LEVEL" data-i18n="2ND_LEVEL"></option>
      <option value="3RD_LEVEL" data-i18n="3RD_LEVEL"></option>
      <option value="4TH_LEVEL" data-i18n="4TH_LEVEL"></option>
      <option value="5TH_LEVEL" data-i18n="5TH_LEVEL"></option>
      <option value="6TH_LEVEL" data-i18n="6TH_LEVEL"></option>
      <option value="7TH_LEVEL" data-i18n="7TH_LEVEL"></option>
      <option value="8TH_LEVEL" data-i18n="8TH_LEVEL"></option>
      <option value="9TH_LEVEL" data-i18n="9TH_LEVEL"></option>
    </select>
  </div>
</div>
<div class="spell-list sheet-spell-slots-or-points-or-warlock-slots">
  <div class="spell-points spell-level-wrapper">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="SPELL_POINTS" class="italic"></span>
      <span class="mar-l-sm">(</span>
      <div class="2-rem">
        <input type="number" name="attr_spell_points" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_points_max" class="presentation"></span>
      <div class="2-rem edit">
        <input type="number" name="attr_spell_points_max" class="no-border no-spin" value="0" min="0">
      </div>
      <span>)</span>
    </div>
  </div>
  <div class="spell-level-container spell-level-0 shaped-row vert-top">
    <span class="spell-level-wrapper bold mar-r-sm">
      <span data-i18n="CANTRIPS" class="italic">Cantrips</span><span class="show-when-condensed">.</span>
    </span>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell0">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-1 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="1ST_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l1" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l1_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l1_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l1_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">2</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell1">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-2 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="2ND_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l2" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l2_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l2_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l2_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">3</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell2">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-3 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="3RD_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l3" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l3_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l3_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l3_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">5</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell3">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-4 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="4TH_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l4" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l4_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l4_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l4_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">6</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell4">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-5 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="5TH_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l5" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l5_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l5_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l5_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">7</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell5">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-6 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="6TH_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l6" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l6_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l6_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l6_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">9</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell6">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-7 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="7TH_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l7" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l7_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l7_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l7_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">10</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell7">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-8 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="8TH_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l8" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l8_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l8_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l8_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">11</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell8">
      //= include spell.html
    </fieldset>
  </div>
  <div class="spell-level-container spell-level-9 shaped-row vert-top">
    <div class="spell-level-wrapper shaped-row flex-end bold mar-r-sm">
      <span data-i18n="9TH_LEVEL" class="italic"></span>
      <span class="spell-slots-or-points mar-l-sm">(</span>
      <div class="1-rem spell-slots">
        <input type="number" name="attr_spell_slots_l9" class="bold no-border no-spin" value="0">
      </div>
      <span class="spell-slots">&#47;</span>
      <span name="attr_spell_slots_l9_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots edit 1-rem">
        <input type="number" name="attr_spell_slots_l9_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l9_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">13</span>
      <span class="spell-slots-or-points">)</span>
      <span class="show-when-condensed">.</span>
    </div>
    <div class="col-100 show-when-not-condensed"></div>
    <fieldset class="repeating_spell9">
      //= include spell.html
    </fieldset>
  </div>
</div>