<div class="section-spells">
  <input type="hidden" name="attr_cast_as_level_0">
  <input type="hidden" name="attr_cast_as_level_1">
  <input type="hidden" name="attr_cast_as_level_2">
  <input type="hidden" name="attr_cast_as_level_3">
  <input type="hidden" name="attr_cast_as_level_4">
  <input type="hidden" name="attr_cast_as_level_5">
  <input type="hidden" name="attr_cast_as_level_6">
  <input type="hidden" name="attr_cast_as_level_7">
  <input type="hidden" name="attr_cast_as_level_8">
  <input type="hidden" name="attr_cast_as_level_9">
  <input type="hidden" name="attr_higher_level_query_0">
  <input type="hidden" name="attr_higher_level_query_1">
  <input type="hidden" name="attr_higher_level_query_2">
  <input type="hidden" name="attr_higher_level_query_3">
  <input type="hidden" name="attr_higher_level_query_4">
  <input type="hidden" name="attr_higher_level_query_5">
  <input type="hidden" name="attr_higher_level_query_6">
  <input type="hidden" name="attr_higher_level_query_7">
  <input type="hidden" name="attr_higher_level_query_8">

  <div class="shaped-row mar-b-sm">
    <div class="col-80">
      <div class="wrap-box">
        //= include spellInner.html
      </div>
    </div>

    <div class="col-20 spell-slots-points right pad-l-smd">
      //= include spellResources.html
      <div class="general-bonuses center mar-b-smd">
        <div class="wrap-box">
          //= include spellcastingBonuses.html
          <div class="wrap-box-title" data-i18n="BONUSES_AND_PENALTIES"></div>
        </div>
      </div>
      <div class="shaped-row center">
        <div class="col-50 pad-r-sm">
          //= include ../character/defaultAbility.html
        </div>
        <div class="col-50 npc pad-l-sm">
          //= include spellcastingLevel.html
        </div>
      </div>
    </div>
  </div>
</div>
