<div class="spell-list spell-slots-or-points">
  <div class="spell-level-0 shaped-row">
    <span class="bold mar-r-sm"><span data-i18n="CANTRIPS" class="italic">Cantrips</span>.</span>
    <fieldset class="repeating_spelllistlevel0">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-1 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="1ST_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l1" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l1_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l1_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l1_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">2</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel1">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-2 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="2ND_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l2" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l2_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l2_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l2_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">3</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel2">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-3 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="3RD_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l3" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l3_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l3_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l3_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">5</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel3">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-4 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="4TH_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l4" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l4_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l4_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l4_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">6</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel4">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-5 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="5TH_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l5" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l5_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l5_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l5_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">7</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel5">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-6 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="6TH_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l6" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l6_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l6_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l6_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">9</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel6">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-7 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="7TH_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l7" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l7_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l7_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l7_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">10</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel7">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-8 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="8TH_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l8" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l8_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l8_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l8_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">11</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel8">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-level-9 shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="9TH_LEVEL" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-rem align-input-bottom">
        <input type="number" name="attr_spell_slots_l9" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_slots_l9_calc" class="spell-slots pc edit"></span>
      <div class="spell-slots pc edit">+</div>
      <div class="spell-slots align-input-bottom edit 1-rem">
        <input type="number" name="attr_spell_slots_l9_bonus" class="no-border no-spin" value="0" min="0">
      </div>
      <div class="spell-slots pc edit">=</div>
      <span name="attr_spell_slots_l9_max" class="spell-slots"></span>
      <span class="spell-slots spell-points mar-r-smd">;</span>
      <span class="spell-points">13</span>
      <span>).</span>
    </div>
    <fieldset class="repeating_spelllistlevel9">
      //= include spellListRow.html
    </fieldset>
  </div>
  <div class="spell-points shaped-row">
    <div class="shaped-row flex-end bold mar-r-sm">
      <span data-i18n="SPELL_POINTS" class="italic mar-r-sm"></span>
      <span>(</span>
      <div class="1-5-rem align-input-bottom">
        <input type="number" name="attr_spell_points" class="bold no-border no-spin" value="0">
      </div>
      <span>&#47;</span>
      <span name="attr_spell_points_max" class="presentation"></span>
      <div class="1-5-rem edit align-input-bottom">
        <input type="number" name="attr_spell_points_max" class="no-border no-spin" value="0" min="0">
      </div>
      <span>).</span>
    </div>
  </div>
</div>
<div class="has-warlock-slots shaped-row flex-end">
  <div class="shaped-row flex-end bold mar-r-sm">
    <span data-i18n="WARLOCK_SPELL_SLOTS" class="italic mar-r-sm"></span>
    <span>(</span>
    <div class="1-rem align-input-bottom">
      <input type="number" name="attr_warlock_spell_slots" class="bold no-border no-spin" value="0">
    </div>
    <span>&#47;</span>
    <span name="attr_warlock_spell_slots_calc" class="spell-slots pc edit"></span>
    <div class="spell-slots pc edit">+</div>
    <div class="spell-slots align-input-bottom edit 1-rem">
      <input type="number" name="attr_warlock_spell_slots_bonus" class="no-border no-spin" value="0" min="0">
    </div>
    <span name="attr_warlock_spell_slots_max"></span>
    <span>).</span>
  </div>
  <span name="attr_warlock_spells_max_level" data-i18n-dynamic class="presentation"></span>
  <div class="edit align-input-bottom">
    <select name="attr_warlock_spells_max_level" class="no-border">
      <option value="1ST_LEVEL" data-i18n="1ST_LEVEL"></option>
      <option value="2ND_LEVEL" data-i18n="2ND_LEVEL"></option>
      <option value="3RD_LEVEL" data-i18n="3RD_LEVEL"></option>
      <option value="4TH_LEVEL" data-i18n="4TH_LEVEL"></option>
      <option value="5TH_LEVEL" data-i18n="5TH_LEVEL"></option>
      <option value="6TH_LEVEL" data-i18n="6TH_LEVEL"></option>
      <option value="7TH_LEVEL" data-i18n="7TH_LEVEL"></option>
      <option value="8TH_LEVEL" data-i18n="8TH_LEVEL"></option>
      <option value="9TH_LEVEL" data-i18n="9TH_LEVEL"></option>
    </select>
  </div>
</div>