<div class="has-warlock-slots center">
  <div class="shaped-row center vert-center no-wrap">
    <div class="2-rem">
      <input type="number" name="attr_warlock_spell_slots" value="0">
    </div>
    <div>&#47;</div>
    <div class="pc edit 1-rem">
      <span name="attr_warlock_spell_slots_calc" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="pc edit">+</div>
    <div class="edit 2-rem">
      <input type="number" name="attr_warlock_spell_slots_bonus" class="no-spin" value="0" min="0">
    </div>
    <div class="pc edit">=</div>
    <div class="2-rem">
      <span name="attr_warlock_spell_slots_max" class="pseudo-input center border-bottom"></span>
    </div>
    <div class="pad-l-md">
      <select name="attr_warlock_spells_max_level">
        <option value="1" data-i18n="1ST"></option>
        <option value="2" data-i18n="2ND"></option>
        <option value="3" data-i18n="3RD"></option>
        <option value="4" data-i18n="4TH"></option>
        <option value="5" data-i18n="5TH"></option>
        <option value="6" data-i18n="6TH"></option>
        <option value="7" data-i18n="7TH"></option>
        <option value="8" data-i18n="8TH"></option>
        <option value="9" data-i18n="9TH"></option>
      </select>
    </div>
  </div>
  <button type="roll" name="roll_shaped_warlock_spells" class="wrapper-button" value="@{spells_macro_var}">
    <div class="wrap-box-title center" data-i18n="WARLOCK_SPELL_SLOTS"></div>
  </button>
</div>