<div class="has-warlock-slots center">
  <div class="shaped-row center vert-center no-wrap">
    <div class="2-rem">
      <input type="number" name="attr_warlock_spell_slots" value="0" class="no-border">
    </div>
    <div>&#47;</div>
    <span name="attr_warlock_spell_slots_calc" class="edit"></span>
    <div class="pc edit">+</div>
    <div class="edit 1-rem">
      <input type="number" name="attr_warlock_spell_slots_bonus" class="no-spin no-border" value="0" min="0">
    </div>
    <div class="pc edit">=</div>
    <span name="attr_warlock_spell_slots_max"></span>
    <div class="pad-l-md">
      <select name="attr_warlock_spells_max_level" class="no-border">
        <option value="1ST_LEVEL" data-i18n="1ST_LEVEL"></option>
        <option value="2ND_LEVEL" data-i18n="2ND_LEVEL"></option>
        <option value="3RD_LEVEL" data-i18n="3RD_LEVEL"></option>
        <option value="4TH_LEVEL" data-i18n="4TH_LEVEL"></option>
        <option value="5TH_LEVEL" data-i18n="5TH_LEVEL"></option>
        <option value="6TH_LEVEL" data-i18n="6TH_LEVEL"></option>
        <option value="7TH_LEVEL" data-i18n="7TH_LEVEL"></option>
        <option value="8TH_LEVEL" data-i18n="8TH_LEVEL"></option>
        <option value="9TH_LEVEL" data-i18n="9TH_LEVEL"></option>
      </select>
    </div>
  </div>
  <button type="roll" name="roll_shaped_warlock_spells" class="wrapper-button" value="@{spells_macro_var}">
    <div class="wrap-box-title center" data-i18n="WARLOCK_SPELL_SLOTS"></div>
  </button>
</div>