/* Couleurs
    Base noire = #000000
    Gris clair = #D3D3D3
*/

div,
button,
textarea,
span,
input,
select,
table,
tr,
td,
th {
  box-sizing: border-box;
  font-family: Verdana;
  font-size: 12px;
}

tr,td,th {
  vertical-align: top !important;
}

div.sheet-mainBg {
  width: 832px;
  background-color: white;
  border: 1px solid #5C2E05;
  border-radius: 10px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
    /* box-shadow: 1px 1px 8px #555; */;
}

table.sheet-tabsep {
  border-collapse: separate;
  border-spacing: 4px 2px;
}

.sheet-imghr {
  width: 820px;
  height: 5px;
  padding: 0px;
    /* box-shadow: 1px 1px 8px #555; */;
}

.sheet-imghr-up {
  width: 820px;
  height: 5px;
  padding: 0px;
  text-align: center;
  margin-top: -24px;
    /* box-shadow: 1px 1px 8px #555; */;
}

.sheet-boxtitre {
  background-color: #000000;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  border: none;
  white-space: nowrap;
  padding: 2px 4px 2px 4px;
}

.sheet-boxtitresmall {
  background-color: #000000;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  color: white;
  border: none;
  white-space: nowrap;
  padding: 1px 2px 1px 2px;
  vertical-align: top;
}

.sheet-boxinput {
  background-color: white;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: black;
  border: 1px solid #000000;
  white-space: nowrap;
}

.sheet-boxinputleft {
  background-color: white;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  color: black;
  border: 1px solid #000000;
  white-space: nowrap;
}

.sheet-boxinputlight {
  background-color: white;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  color: black;
  border: 1px solid #D3D3D3;
  white-space: nowrap;
}

.sheet-boxvoie {
  background-color: white;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  color: black;
  border-top: none;
  border-bottom: 1px dotted #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  white-space: nowrap;
}

.sheet-textfat {
  font-weight: bold;
  color: #000000;
  border: none;
  text-align: center;
}

.sheet-textfatleft {
  font-weight: bold;
  color: #000000;
  border: none;
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
}

.sheet-textbase {
  color: #000000;
  border: none;
  text-align: center;
}

.sheet-textbasesmall {
  color: #000000;
  border: none;
  font-size: 11px;
}

.sheet-texttitresmall {
  color: white;
  font-size: 8px;
  font-weight: normal;
}

/* BUTTONS */ 
button[type="roll"].sheet-boxtitre {
  height: 20px;
  font-size: 11px;
  font-family: Verdana;
  font-weight: bold;
  text-decoration: none;
  background: none;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

button[type="roll"].sheet-boxtitre:hover {
  background-color: #D3D3D3;
  border: 1px solide white;
}

button[type="roll"].sheet-neutre,
button[type="roll"].sheet-output, {
  color: #000000;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  background: none;
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
}

button[type="roll"].sheet-neutre:hover,
button[type="roll"].sheet-output:hover {
  font-weight: bold;
}

button[type="roll"].sheet-output {
  font-family: pictos;
}

button[type="roll"].sheet-output:before {
  content: "";
}

button[type="action"].sheet-iconbtn {
  border: 0px;
  background-color: transparent;
  font-family: pictos;
  font-size: large;
}

img.sheet-iconimg {
  width: 16px;
}

img.sheet-iconimg:hover {
  width: 32px;
}

input, select {
  border: none;
  box-shadow: none;
  max-height: 22px;
  padding: 0px;
  margin: 0px;
}

select.sheet-carac {
  width: 62px;
}

select.sheet-pjstatus {
  width: 75px;
}

select.sheet-selectmin {
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"] {
  width: 60px;
  text-align: right;
}

input[type="text"] {
  width: 100%;
  text-align: left;
  padding-left: 4px;
}

input[disabled] {
  background-color: white;
  font-style: italic;
}

input:not([disabled]):hover {
  background-color: #D3D3D3;
}

select:not([disabled]):hover {
  background-color: #D3D3D3;
}

input.sheet-nobox {
  border-bottom: 2px dotted #000000;
}

input.sheet-buff {
  border-bottom: 1px dotted #000000;
}

textarea {
  border: none;
  box-shadow: none;
  padding: 1px;
  margin: 0px;
  height: 1.5em;
  resize: vertical;
  vertical-align: top;
}

textarea.sheet-voixdesc {
  resize: none;
  height: 100%;
  overflow-y: auto;
}

.sheet-container {
  display: flex;
}

td.sheet-buff {
  padding: 2px;
}

td.sheet-buff-text {
  width: 12%;
}

/* TABS */

div.sheet-tab-content {
  display: none;
}

input.sheet-fp1:checked ~ div.sheet-fp1,
input.sheet-fp2:checked ~ div.sheet-fp2,
input.sheet-fp3:checked ~ div.sheet-fp3,
input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4 {
  display: block;
}

input.sheet-tab {
  width: 110px;
  height: 18px;
  position: relative;
  color: #5C2E05;
  vertical-align: middle;
  left: 50px;
  margin: -52px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

input.sheet-tab + span::before {
  content: attr(title);
  border: solid 1px #c8c8c8;
  border-bottom-color: black;
  border-bottom-width: thin;
  text-align: center;
  display: inline-block;
  background: #fff;
  width: 108px;
  height: 18px;
  z-index: 1;
}

input.sheet-tab:checked + span::before {
  background: #dcdcdc;
  border-bottom-color: #fff;
  border-bottom-width: 5px;
}

input.sheet-hidden-tab {
  display: none;
  height: 0px;
  position: relative;
  top: -10px;
}

.sheet-block-hidden,
.sheet-block-switch:checked ~ .sheet-block-show {
  display: block;
}

.sheet-block-show,
.sheet-block-switch:checked ~ .sheet-block-hidden {
  display: none;
}

/* Switch -- styled checkboxes */

input[type="checkbox"].sheet-block-switch {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
}

input[type="checkbox"].sheet-block-switch + span::before {
  margin-right: 4px;
  line-height: 14px;
  text-align: center;
  content: "►";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  font-size: 12px;
}

input[type="checkbox"].sheet-block-switch:checked + span::before {
  content: "▼";
}

.sheet-block-hidden,
.sheet-block-switch:checked ~ .sheet-block-show {
  display: block;
}

.sheet-block-show,
.sheet-block-switch:checked ~ .sheet-block-hidden {
  display: none;
}

/* Optional display -- Gears */

.sheet-options-flag {
  opacity: 0;
  top: -8px;
  right: 0px;
  position: absolute;
  width: 16px;
  min-height: 16px;
  z-index: 2;
}

.sheet-options-flag + span {
  top: -8px;
  right: 0px;
  position: absolute;
  white-space: nowrap;
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-family: pictos;
  color: #BBBBBB;
  cursor: pointer;
  margin-top: 0px;
  display: none;
}

.sheet-options-flag:hover + span,.sheet-options-flag:checked + span {
  color: #C3996B;
  display: block;
}

.sheet-attack:hover .sheet-options-flag + span {
  display: block;
}

.sheet-options {
  display: none;
}

.sheet-options-flag:checked ~ .sheet-options {
  display: block;
}

/* TEMPLATES */

.sheet-rolltemplate-co1 .sheet-imghr {
  width: 100%;
  height: 4px;
  padding: 0px;
  margin: 0px;
}

.sheet-rolltemplate-co1 table {
  width: 100%;
  padding: 2px;
    /* border: 1px solid #000000; */
    /* border-radius: 6px; */
  background-color: #ffffff;
  border-collapse: collapse;
}

.sheet-rolltemplate-co1 .sheet-roundtable {
  border: 1px solid #000000;
  border-radius: 6px;
  overflow: auto;
}

.sheet-rolltemplate-co1 th {
  color: #000000;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  font-size: 13px;
  text-align: left;
  font-family: 'Verdana';
  font-variant: small-caps;
  font-weight: bold;
  white-space: nowrap;
}

.sheet-rolltemplate-co1 .sheet-subheader {
  color: #000;
  font-size: 12px;
  font-style: italic;
  font-family: 'Verdana';
  font-variant: small-caps;
  text-align: right;
  white-space: nowrap;
}

.sheet-rolltemplate-co1 .sheet-tcat {
  font-family: 'Verdana';
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  padding-right: 2px;
}

.sheet-rolltemplate-co1 div.sheet-desc {
  padding-top: 2px;
  max-height: 250px;
  overflow-y: auto;
}

.sheet-rolltemplate-co1 div.sheet-text {
  font-size: 90%;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;
  margin: 2px;
}

.sheet-rolltemplate-co1 td {
  margin: 0px;
  padding: 1px 5px 1px 5px;
  font-family: 'Verdana';
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}

.sheet-rolltemplate-co1 .inlinerollresult {
  background-color: rgba(255,255,255,0.9);
  border-width: 1px;
  border-color: #D3D3D3;
  border-style: solid;
  border-radius: 25% 12%;
}

.sheet-rolltemplate-co1 .inlinerollresult.fullcrit {
  color: #3FB315;
  border-width: 2px;
  border-color: #3FB315;
  border-style: solid;
  border-radius: 25% 12%;
}

.sheet-rolltemplate-co1 .inlinerollresult.fullfail {
  color: #B31515;
  border-width: 2px;
  border-color: #B31515;
  border-style: solid;
  border-radius: 25% 12%;
}

.sheet-rolltemplate-co1 .inlinerollresult.importantroll {
  color: #5C2E05;
  border-width: 2px;
  border-color: #5C2E05;
  border-style: solid;
  border-radius: 25% 12%;
}
