label.sheet-headerName
    width: 100%
    justify-content: space-between
    margin-top: 10px
    line-height: 30px
    padding-bottom: 5px
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5))

    &> span
        width: 45px
        color: var(--brun)
        font-family: "Robot Slab"
        font-variant: small-caps
        font-size: 20px
        align-items: center
        font-weight: bold

    &> input[type="text"]
        border: 2px solid var(--brun)
        width: calc(100% - 45px)
        font-size: 15px
        text-align: center

div.sheet-metamorphe
    width: 100%
    flex-wrap: wrap
    justify-content: space-between
    background-image: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))
    border-bottom: 2px solid var(--titre)
    counter-reset: metamorphe

    &> div:first-of-type
        width: 100%
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8)), url("#{$roll20_repository}/img/fondTitre.png"), linear-gradient(to right, rgba(208, 175, 152, 1), rgba(208, 175, 152, .5))
        background-repeat: no-repeat
        background-position-y: 0px, calc(100% + -25%), 0px
        background-size: auto, 100% auto, auto
        height: 40px

        &> input[type="number"]
            margin-left: auto

    &> input[type="text"]
        width: 100%
        border: 0px
        border-bottom: 1px dotted black
        text-align: center
        font-weight: bold
        background: transparent

    &> span
        font-family: "Times New Roman"
        min-height: max-content
        color: var(--brun)
        font-variant: small-caps
        font-weight: bold
        font-size: 14px
        letter-spacing: 1px

        &:first-of-type
            margin-left: 5px

        &:last-of-type
            margin-right: 5px

    &> .repcontainer
        width: 100%
        flex-wrap: wrap

        &> .repitem
            width: 100%
            border-bottom: 1px dotted black
            margin-left: 5px
            margin-right: 5px
            justify-content: space-between
            margin-top: 10px

            &> .itemcontrol
                margin-top: -7px

                &> .btn
                    padding-top: 1px
                    padding-bottom: 2px

            &> label:first-of-type
                width: calc(100% - 20px)
                justify-content: space-between

                &> span::before
                    display: flex
                    width: 15px
                    font-weight: bold
                    font-size: 15px
                    align-items: flex-end
                    counter-increment: metamorphe
                    content: counter(metamorphe)

                &> input[type="text"]
                    width: calc(100% - 20px)
                    border: 0px
                    color: black
                    background: transparent

            &> label
                width: 15px
                height: 15px

                &> input[type="checkbox"]
                    position: absolute
                    width: 15px
                    height: 15px
                    opacity: 0

                    &~ span
                        width: 100%

                        &::before
                            display: flex
                            content: ""
                            width: 13px
                            height: 13px
                            border-radius: 10px
                            border: 1px solid var(--brun)
                            background: white
                            color: var(--brun)
                            font-size: 15px
                            line-height: 11px
                            justify-content: center
                            display: flex
                            font-weight: bold

                    &:checked ~ span::before
                        content: ""
                        background-color: var(--brun)


@mixin ka-roll-before
    content: "t"
    padding-right: 5px
    width: 25px
    background-image: var(--dice)
    background-size: contain
    background-repeat: no-repeat

div.sheet-kaElement
    width: 445px
    background-image: url("#{$roll20_repository}/img/ka-element.png")
    background-size: contain
    background-repeat: no-repeat
    background-position-y: 35px
    margin-left: auto
    margin-right: auto
    height: 450px
    margin-top: -30px

    &> input[type="number"]
        position: absolute
        text-align: center
        border: 0
        height: 31px
        border-radius: 15px
        width: 30px
        background: transparent
        font-size: 15px
        color: black

        &:nth-of-type(1)
            margin-left: 208px
            margin-top: 101px
        &:nth-of-type(2)
            margin-left: 90px
            margin-top: 189px
        &:nth-of-type(3)
            margin-left: 326px
            margin-top: 189px
        &:nth-of-type(4)
            margin-top: 335px
            margin-left: 129px
        &:nth-of-type(5)
            margin-top: 335px
            margin-left: 285px

    &> button[type="roll"]
        position: absolute
        margin: 0
        padding: 0
        border: 0
        background: none

        &::before
            content: ""
        &> span
            font-family: "Times New Roman"
            font-size: 18px
            text-shadow: 1px 1px 5px white
            min-width: max-content
            font-variant: small-caps

        &:nth-of-type(1)
            margin-left: 164px
            margin-top: 28px
            &::before
                @include ka-roll-before
        &:nth-of-type(2)
            margin-left: -10px
            margin-top: 142px
            &::before
                @include ka-roll-before
        &:nth-of-type(3)
            margin-left: 370px
            margin-top: 142px
            &::after
                @include ka-roll-before
                background-position-x: right
        &:nth-of-type(4)
            margin-top: 410px
            margin-left: 60px
            &::before
                @include ka-roll-before
        &:nth-of-type(5)
            margin-top: 410px
            margin-left: 293px
            &::after
                @include ka-roll-before
                background-position-x: right

div.sheet-nephilimPhrase
    width: 100%
    flex-wrap: wrap
    border: 2px solid var(--brun)
    background: white
    margin-top: 5px

    &> span
        width: 100%
        font-variant: small-caps
        color: var(--brun)
        font-size: 14px
        font-family: "Times New Roman"
        font-weight: bold
        padding-left: 5px
        letter-spacing: 1px

    &> div
        width: 100%

div.sheet-stase,
div.sheet-adoption
    width: 100%
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 5px
    margin-bottom: 5px
    align-content: flex-start

    &> div:first-of-type
        width: 100%
        background-image: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0) 50%), url("#{$roll20_repository}/img/fondTitre.png"), linear-gradient(to right, rgba(208, 175, 152, 1), rgba(208, 175, 152, .5))
        background-repeat: no-repeat
        background-position-y: 0px, calc(100% + -25%), 0px
        background-size: auto, 100% auto, auto
        height: 40px
        justify-content: flex-end

    &> div:last-of-type
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5))

        &> textarea
            background: transparent
            border-bottom: 1px dotted black

div.sheet-stase,
div.sheet-adoption,
div.sheet-metamorphe
    &> div:first-of-type > h1
        font-family: "Kodchasan"
        font-size: 25px
        line-height: 40px
        color: white
        text-shadow: 2px 3px 5px black
        padding-right: 10px
        justify-content: flex-end

    &> div:first-of-type > input[type="number"]
        height: 35px
        width: 35px
        border-radius: 20px
        border: 2px solid var(--brun)
        margin-right: 5px
        margin-top: 2.5px
        text-align: center
        font-size: 20px
        font-weight: bold