div.sheet-Null,
div.sheet-Chosen,
div.sheet-Crooked,
div.sheet-Divine,
div.sheet-Expert,
div.sheet-Flake,
div.sheet-Initiate,
div.sheet-Monsterous,
div.sheet-Mundane,
div.sheet-Professional,
div.sheet-Spellslinger,
div.sheet-Spooky,
div.sheet-Wronged,
div.sheet-Exile,
div.sheet-Hard-Case,
div.sheet-Meddling-Kid,
div.sheet-Sidekick,
div.sheet-Snoop,
div.sheet-Summoned,
div.sheet-Big-Game-Hunter,
div.sheet-Constructed,
div.sheet-Luchador,
div.sheet-Mad-Scientist,
div.sheet-Custom
{
    display: none;
}

input[type="radio"][value="0"]:checked ~ div.sheet-Null,
input[type="radio"][value="1"]:checked ~ div.sheet-Chosen,
input[type="radio"][value="2"]:checked ~ div.sheet-Crooked,
input[type="radio"][value="3"]:checked ~ div.sheet-Divine,
input[type="radio"][value="4"]:checked ~ div.sheet-Expert,
input[type="radio"][value="5"]:checked ~ div.sheet-Flake,
input[type="radio"][value="6"]:checked ~ div.sheet-Initiate,
input[type="radio"][value="7"]:checked ~ div.sheet-Monsterous,
input[type="radio"][value="8"]:checked ~ div.sheet-Mundane,
input[type="radio"][value="9"]:checked ~ div.sheet-Professional,
input[type="radio"][value="10"]:checked ~ div.sheet-Spellslinger,
input[type="radio"][value="11"]:checked ~ div.sheet-Spooky,
input[type="radio"][value="12"]:checked ~ div.sheet-Wronged,
input[type="radio"][value="13"]:checked ~ div.sheet-Exile,
input[type="radio"][value="14"]:checked ~ div.sheet-Hard-Case,
input[type="radio"][value="15"]:checked ~ div.sheet-Meddling-Kid,
input[type="radio"][value="16"]:checked ~ div.sheet-Sidekick,
input[type="radio"][value="17"]:checked ~ div.sheet-Snoop,
input[type="radio"][value="18"]:checked ~ div.sheet-Summoned,
input[type="radio"][value="19"]:checked ~ div.sheet-Big-Game-Hunter,
input[type="radio"][value="20"]:checked ~ div.sheet-Constructed,
input[type="radio"][value="21"]:checked ~ div.sheet-Luchador,
input[type="radio"][value="22"]:checked ~ div.sheet-Mad-Scientist,
input[type="radio"][value="99"]:checked ~ div.sheet-Custom
{
    display: block;
}

select.sheet-SkinSelect 
{
    position: relative;
    top: 4px;
}


option.sheet-SkinSelect:checked   
{
    display: none;
}