<input type="hidden" name="attr_traits_exist" class="item-toggle">
<div class="item-to-toggle">
  <fieldset class="repeating_trait">
    <div class="relative mar-b-sm">
      <input type="hidden" name="attr_has_uses" class="item-toggle">
      <div class="col-17 absolute">
        <input type="hidden" name="attr_has_uses" class="item-toggle">
        <div class="item-to-toggle gray-bg small-label pad-l-sm">
          <div class="shaped-row vert-center no-wrap">
            <div>
              <input type="number" name="attr_uses" class="no-spin no-border gray-bg no-pad" step="1">
            </div>
            <div>/</div>
            <div>
              <input type="number" name="attr_uses_max" class="no-spin no-border gray-bg no-pad" step="1">
            </div>
          </div>
          <div class="edit small-label center" data-i18n="USES"></div>
        </div>
      </div>
      <button type="roll" name="roll_trait" class="presentation trait wrapper-button traits-presentation-wrapper" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{trait=1}} {{recharge=@{recharge}}} @{saving_throw_toggle} @{damage_toggle} @{second_damage_toggle} {{uses=@{uses}}} {{uses_max=@{uses|max}}} @{heal_toggle} @{hide_gm_info} @{extras_toggle}">
        <span class="heading"></span>
        <span name="attr_name" class="bold italic"></span><span name="attr_recharge_display" class="bold italic"></span><span class="bold italic">.</span>
        <span name="attr_display_text" class="pre-line"></span>
      </button>

      <div class="shaped-row edit">
        <div class="col-17"></div>
        <div class="col-34 center pad-l-sm">
          <input type="text" name="attr_name" class="bold italic" data-i18n-placeholder="AMPHIBIOUS">
        </div>
        //= include ../actionComponents/type.html
        <div class="col-26 center pad-l-sm">
          <input type="text" name="attr_recharge" class="center">
          <div class="small-label" data-i18n="RECHARGE"></div>
        </div>
      </div>
      <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings edit" checked><span class="toggle-icon-settings pictos edit">y</span>
      <div class="details edit">
        <div class="col-100 center">
          <textarea class="two-line-textarea" name="attr_display_text"></textarea>
          <div class="small-label" data-i18n="DISPLAY_TEXT"></div>
        </div>

        //= include ../actionComponents/savingThrow.html
        //= include ../actionComponents/damageSpell.html
        //= include ../actionComponents/damageSecondary.html
        //= include ../actionComponents/heal.html
        //= include ../actionComponents/extras.html
      </div>
    </div>
  </fieldset>
</div>