input[type='radio'].sheet-tab {
  opacity: 0;
  position: absolute;
  z-index: 2;
  height: 20px;
}

input[type='radio'].sheet-tab + span {
  position: absolute;
  border: 2px solid rgba(165, 165, 165, 0.8);
  border-radius: 5px 5px 0px 0px;
  background-color: #e8e8e8;
  color: rgb(64, 64, 64);
  text-align: center;
  font-weight: bold;
}

input[type='radio'].sheet-tab:checked + span {
  color: #ffffff;
  background-color: #3155a4;
}

input[type='radio'].sheet-tab.sheet-editing,
input[type='radio'].sheet-tab.sheet-editing + span {
  top: -20px;
  right: 79px;
  width: 75px;
}

input[type='radio'].sheet-tab.sheet-playing,
input[type='radio'].sheet-tab.sheet-playing + span {
  top: -20px;
  right: 0px;
  width: 75px;
}
