//- OBJECTS
//- include src/pug/_objects.pug

//- MIXINS
//- include src/pug/_mixins.pug

input(name='attr_version' type='hidden' value='2.010')

//- CHARACTER SHETE PAGE
input.sheet_type(name='attr_sheet_type' type='hidden' value='pc')

//- CHARACTER TYPE (MUNDANE < MAGI C< RESONANCE)
input.character-type(name='attr_flag_special' type='hidden' value='mundane')

//- Old HTML TABS
include src/tabs.html

.pc
	input.options_toggle(name='attr_tab' type='hidden' value='options')
	//- STATIC TAB
	include src/static.html

	//- CORE TAB
	include src/core.html

	//- ARMS TAB
	include src/arms.html

	//- AUGS TAB
	include src/augs.html

	//- GEAR TAB
	include src/gear.html

	//- MAGIC TAB
	include src/magic.html

	//- MATRIX TAB
	include src/matrix.html

	//- SOCIAL TAB
	include src/social.html

	//- VEHICLE TAB
	include src/vehicle.html

	//- OPTIONS TAB
	include src/options.html

//- NPCs
include src/npc.html

//- FOOTER
include src/footer.html

//- ROLL TEMPLATES
include src/rolltemplates.html

//- HIDDEN
include src/hidden.html

//- SCRIPTS
include src/pug/scripts.js

//- SCRIPTS
include src/importer.html