input(name='attr_version' type='hidden' value='4.51')

//- CHARACTER SHEET PAGE
input.sheet_type(name='attr_sheet_type' type='hidden' value='pc')

//- CHARACTER TYPE (MUNDANE < MAGIC < RESONANCE)
input.character-type(name='attr_flag_special' type='hidden' value='mundane')

//- MIXINS
include src/pug/abstracts/_mixins.pug

//- VARIABLES
include src/pug/base/_variables.pug

- const imageSource = 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Shadowrun5thEdition/src/imgs/'

//- PCs
include src/pug/pages/pc.pug

//- NPCs
include src/pug/pages/npc.pug

//- FOOTER
.footer
	div
		span(data-i18n="copyrightfooter")
		span Version
		span(name="attr_version")
	img(alt='Emerald Productins, LLC' src=`${imageSource}/EProd_Emerald_Gloss.png`)

//- ROLL TEMPLATES
include src/pug/_rolltemplates.pug

//- HIDDEN
include src/html/hidden.html

//- SCRIPTS
script(type="text/worker")

	include src/js/attributes.js

	//- Classes
	include src/js/Classes/PrimaryWeapon.js
	include src/js/Classes/PrimaryArmor.js
	//-include src/js/Classes/RepeatingFieldset.js
	//-include src/js/Classes/ComplexForm.js

	//- Generic helper functions used by shadowrunFunctions
	//- Has unit tests
	include src/js/processingFunctions.js

	//- Functions called by scripts to handle Shaodwrun specific rules
	//- Has unit tests
	include src/js/shadowrunFunctions.js

	//- Functions are called by the eventhandlers
	include src/js/scripts.js

	//- Handle version updates
	include src/js/versioning.js

	//- Listeners for changes
	include src/js/eventhandlers.js

	//- Chummer Importer Functions
	include src/js/importer.js
	include src/js/importerUI.js

//- CHUMMER IMPORTER
include src/html/importer.html