<input type="checkbox" name="attr_import_data_present" class="import-data-present hidden">
<div class="overlay absolute">
  <div class="shaped-row fixed pad-l-hundred pad-t-hundred">
    <div class="pad-r-md">
      <input type="checkbox" name="attr_reject_import" class="toggle-pseudo-button"><span class="toggle-pseudo-button button">{{'CANCEL' | translate}}</span>
    </div>
    <div class="pad-l-md">
      <input type="checkbox" name="attr_accept_import" class="toggle-pseudo-button"><span class="toggle-pseudo-button button">{{'IMPORT' | translate}}</span>
    </div>
  </div>
</div>