<rolltemplate class="sheet-rolltemplate-5e-shaped">
  <div class="rt-card">
    <div class="rt-header relative{{#action}} action{{/action}}{{#spell}} spell{{/spell}}{{#ability}} ability{{/ability}}{{#saving_throw}} saving-throw{{/saving_throw}}{{#death_saving_throw}} death-saving-throw{{/death_saving_throw}}">
      <div class="rt-title">{{title}}</div>
      {{#show_character_name}}
        <div class="rt-subheader">{{character_name}}</div>
      {{/show_character_name}}
      {{#spell}}
        <div class="rt-subheader italic">{{friendly_level}}{{#cast_as_level}} (as {{cast_as_level}}){{/cast_as_level}}{{#school}} {{school}}{{/school}}{{#ritual}} (ritual){{/ritual}}</div>
      {{/spell}}
      {{#action}}
        <div class="rt-subheader">
          {{#reach}}{{reach}} reach{{/reach}}
          {{#range}}{{#reach}} &bullet; {{/reach}}{{range}} range{{/range}}
          {{#ammo}}{{#range}} &bullet; {{/range}}{{ammo}} {{#ammo_name}}{{ammo_name}}{{/ammo_name}}{{^ammo_name}}ammo{{/ammo_name}}{{/ammo}}
        </div>
      {{/action}}
      {{#uses}}
        <div class="rt-subheader">{{uses}} / {{uses_max}}</div>
      {{/uses}}
      {{#subheader}}
        <div class="rt-subheader">{{subheader}}</div>
      {{/subheader}}
      {{#targetName}}
        <div class="rt-subheader">vs {{targetName}}</div>
      {{/targetName}}
      {{#advantage}}
        <div class="rt-subheader">Advantage</div>
      {{/advantage}}
      {{#disadvantage}}
        <div class="rt-subheader">Disadvantage</div>
      {{/disadvantage}}
    </div>
    {{#emote}}
      <p class="rt-emote">{{character_name}} {{emote}}</p>
    {{/emote}}
    <div class="rt-content">
      {{#spell}}
        {{#casting_time}}
          <div class="no-border">
            <span class="bold">Casting Time:</span> <span>{{casting_time}}</span>
          </div>
        {{/casting_time}}
        {{#range}}
          <div class="no-border">
            <span class="bold">Range:</span> <span>{{range}}</span>
          </div>
        {{/range}}
        {{#components}}
          <div class="no-border">
            <span class="bold">Components:</span>
            {{components}}
            {{#materials}}({{materials}}){{/materials}}
          </div>
        {{/components}}
        {{#duration}}
          <div class="no-border">
            <span class="bold">Duration:</span>
            <span>{{concentration}}</span>
            <span>{{duration}}</span>
          </div>
        {{/duration}}
        {{#target}}
          <div class="no-border">
            <span class="bold">Target:</span> <span>{{target}}</span>
          </div>
        {{/target}}
      {{/spell}}
      {{#content}}
        <div class="mar-t-md{{#hide_spell_content}} gm-info-block{{/hide_spell_content}}">{{content}}</div>
      {{/content}}
      {{#text_top}}
        <div class="output center">{{text_top}}</div>
      {{/text_top}}
      {{#roll1}}
        <div class="shaped-row center{{#hide_attack}} gm-info-flex{{/hide_attack}}">
          <div class="col-{{#roll2}}50{{/roll2}}{{^roll2}}100{{/roll2}} output">{{roll1}}</div>
          {{#roll2}}
            <div class="col-50 output border-left">{{roll2}}</div>
          {{/roll2}}
          {{#vs_ac}}
            <div class="col-100 output-small-label">vs AC{{#targetAC}} {{targetAC}}{{/targetAC}}</div>
          {{/vs_ac}}
        </div>
      {{/roll1}}
      {{#saving_throw_dc}}
        <div class="center">
          {{#saving_throw_condition}}
            <div class="output-small-label">{{saving_throw_condition}}</div>
          {{/saving_throw_condition}}
          {{#saving_throw_dc}}
            <div class="output">
              <span class="{{#hide_saving_throw_dc}}gm-info-inline-block{{/hide_saving_throw_dc}}">DC {{saving_throw_dc}}</span>
              [{{saving_throw_vs_ability}}](~target|{{saving_throw_vs_ability}}_saving_throw)
            </div>
            <div>saving throw</div>
          {{/saving_throw_dc}}
          {{#saving_throw_failure}}
            <div class="{{#hide_saving_throw_failure}}gm-info-block{{/hide_saving_throw_failure}}">
              <span class="bold italic">Save Failure.</span>
              {{saving_throw_failure}}
            </div>
          {{/saving_throw_failure}}
          {{#saving_throw_success}}
            <div class="{{#hide_saving_throw_success}}gm-info-block{{/hide_saving_throw_success}}">
              <span class="bold italic">Save Success.</span>
              {{saving_throw_success}}
            </div>
          {{/saving_throw_success}}
        </div>
      {{/saving_throw_dc}}
      {{#damage}}
        <div class="shaped-row zebra center vert-center{{#hide_damage}} gm-info-flex{{/hide_damage}}">
          <div class="col-47">
            <div class="output">
              {{damage}}
              {{#rollWasCrit() roll1}}
                <span>+ {{crit_damage}}</span>
              {{/rollWasCrit() roll1}}
              {{#^rollWasCrit() roll1}}
                {{#rollWasCrit() roll2}}
                  <span>+ {{crit_damage}}</span>
                {{/rollWasCrit() roll2}}
              {{/^rollWasCrit() roll1}}
            </div>
            <div class="output-small-label">{{damage_type}}{{^damage_type}}damage{{/damage_type}}</div>
          </div>
      {{/damage}}
      {{#second_damage}}
        {{#damage}}
          <div class="output">+</div>
        {{/damage}}
        {{^damage}}
          <div class="shaped-row zebra center vert-center">
        {{/damage}}
          <div class="col-47">
            <div class="output">
              {{second_damage}}
              {{#rollWasCrit() roll1}}
                <span>+ {{second_crit_damage}}</span>
              {{/rollWasCrit() roll1}}
              {{#^rollWasCrit() roll1}}
                {{#rollWasCrit() roll2}}
                  <span>+ {{second_crit_damage}}</span>
                {{/rollWasCrit() roll2}}
              {{/^rollWasCrit() roll1}}
            </div>
            <div class="output-small-label">{{second_damage_type}}{{^second_damage_type}}damage{{/second_damage_type}}</div>
          </div>
        {{^damage}}
          </div>
        {{/damage}}
      {{/second_damage}}
      {{#damage}}
        </div>
      {{/damage}}
      {{#heal}}
        <div class="center vert-center output">Heal for {{heal}} HP</div>
      {{/heal}}
      {{#death_saving_throw_successes}}
        <div class="center">
          Successes {{death_saving_throw_successes}} / 3
        </div>
      {{/death_saving_throw_successes}}
      {{#death_saving_throw_failures}}
        <div class="col-100 center">
          Failures {{death_saving_throw_failures}} / 3
        </div>
      {{/death_saving_throw_failures}}
      {{#text_center}}
        <div class="center">{{text_center}}</div>
      {{/text_center}}
      {{#text}}
        <div>{{text}}</div>
      {{/text}}
      {{#text_big}}
        <div class="output">{{text_big}}</div>
      {{/text_big}}
      {{#allprops() freetext text text_center text_big text_top character_name saving_throw title ignore show_character_name subheader uses uses_max roll1 roll2 advantage disadvantage vs_ac ability emote death_saving_throw death_saving_throw_successes death_saving_throw_failures targetAC targetName action type crit_name crit_text damage damage_type crit_damage second_damage second_damage_type second_crit_damage ranged damage target reach range ammo ammo_name spell saving_throw_condition saving_throw_dc saving_throw_vs_ability saving_throw_success saving_throw_failure friendly_level school ritual content cast_as_level heal casting_time concentration duration components materials hide_saving_throw_dc hide_spell_content hide_freetext hide_attack hide_damage hide_saving_throw_failure hide_saving_throw_success recharge hide_recharge fx}}
        <div>
          <span class="bold italic">{{key}}.</span>
          {{value}}
        </div>
      {{/allprops() freetext text text_center text_big text_top character_name saving_throw title ignore show_character_name subheader uses uses_max roll1 roll2 advantage disadvantage vs_ac ability emote death_saving_throw death_saving_throw_successes death_saving_throw_failures targetAC targetName action type crit_name crit_text damage damage_type crit_damage second_damage second_damage_type second_crit_damage ranged damage target reach range ammo ammo_name spell saving_throw_condition saving_throw_dc saving_throw_vs_ability saving_throw_success saving_throw_failure friendly_level school ritual content cast_as_level heal casting_time concentration duration components materials hide_saving_throw_dc hide_spell_content hide_freetext hide_attack hide_damage hide_saving_throw_failure hide_saving_throw_success recharge hide_recharge fx}}

      {{#freetext}}
        <div class="{{#hide_freetext}} gm-info-block{{/hide_freetext}}">{{freetext}}</div>
      {{/freetext}}
      {{#crit_name}}
        {{#rollWasCrit() roll1}}
          <div>
            <span class="bold italic">{{crit_name}}.</span>
            {{crit_text}}
          </div>
        {{/rollWasCrit() roll1}}
        {{#^rollWasCrit() roll1}}
          {{#rollWasCrit() roll2}}
            <div>
              <span class="bold italic">{{crit_name}}.</span>
              {{crit_text}}
            </div>
          {{/rollWasCrit() roll2}}
        {{/^rollWasCrit() roll1}}
      {{/crit_name}}
      {{#recharge}}
        <div class="center{{#hide_recharge}} gm-info-block{{/hide_recharge}}">
          <span class="bold italic">Recharge.</span>
          {{recharge}}
        </div>
      {{/recharge}}
    </div>
  </div>
</rolltemplate>