- var navOptions = { 'vows-delve-mode-page':'Vows', 'moves-delve-mode-page':'Moves', 'sites-delve-mode-page':'Sites', 'assets-delve-mode-page':'Assets', 'oracles-delve-mode-page':'Oracles', 'progress-delve-mode-page':'Progress', 'bonds-delve-mode-page':'Bonds' }

div.sheet-delve-nav-bar-pages
  each text, id in navOptions 
    div.sheet-nav-child
      label(for=id)=text
