- var navOptions = { 'summary-delve-mode':'Summary', 'vows-delve-mode':'Vows', 'moves-delve-mode':'Moves', 'sites-delve-mode':'Sites', 'assets-delve-mode':'Assets', 'oracles-delve-mode':'Oracles', 'progress-delve-mode':'Progress', 'bonds-delve-mode':'Bonds' }

div.sheet-delve-nav-bar-pages
  each text, id in navOptions 
    div.sheet-nav-child
      label(for=id)=text
