- var navOptions = { 'vows-ironsworn-mode-page':'Vows', 'moves-ironsworn-mode-page':'Moves', 'assets-ironsworn-mode-page':'Assets', 'oracles-ironsworn-mode-page':'Oracles', 'progress-ironsworn-mode-page':'Progress', 'bonds-ironsworn-mode-page':'Bonds' }

div.sheet-ironsworn-nav-bar-pages
  each text, id in navOptions 
    div.sheet-nav-child
      label(for=id)=text
