- var navOptions = { 'summary-ironsworn-mode':'Summary', 'vows-ironsworn-mode':'Vows', 'moves-ironsworn-mode':'Moves', 'assets-ironsworn-mode':'Assets', 'oracles-ironsworn-mode':'Oracles', 'progress-ironsworn-mode':'Progress', 'bonds-ironsworn-mode':'Bonds' }

div.sheet-ironsworn-nav-bar-pages
  each text, id in navOptions 
    div.sheet-nav-child
      label(for=id)=text
