@import url('https://fonts.googleapis.com/css?family=IM+Fell+English&display=swap');


/* DATA INPUT */


.sheet-pestana-jugador select {
    display: flex;
}

.sheet-pestana-jugador input[type="number"] {
    text-align: center;
}

.sheet-pestana-jugador textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sheet-pestana-jugador .repitem textarea {
    height: auto !important;
}

.sheet-textarea-max-50 {
    max-height: 50px !important;
}

.sheet-input-special {
    width: 2.5em !important; 
}
.sheet-input-special-bigger {
    width: 2.7em !important; 
}
.sheet-button-label,
.sheet-label-red {
    padding-left: 1rem !important;
}

.sheet-pestana-jugador select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
    text-overflow: '';
}


/* Switch */
.sheet-pestana-jugador .sheet-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.sheet-pestana-jugador .sheet-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sheet-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sheet-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.sheet-pestana-jugador input:checked + .sheet-slider {
    background-color: #C31F26;
}

.sheet-pestana-jugador input:focus + .sheet-slider {
    box-shadow: 0 0 1px #C31F26;
}

.sheet-pestana-jugador input:checked + .sheet-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Chrome, Safari, Edge, Opera */
.sheet-pestana-jugador input::-webkit-outer-spin-button,
.sheet-pestana-jugador input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.sheet-pestana-jugador input[type=number] {
    -moz-appearance: textfield;
}




/* TEXT */
.sheet-text-vertical {
    display: flex;
    transform: rotate(-180deg);
    writing-mode: tb-lr;
    /*  for IE  */
    writing-mode: vertical-lr;
}

.sheet-text-rb {
    color: #C31F26;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em
}

.sheet-text-bb {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em
}

.sheet-rolltemplate-center,
.sheet-text-center {
    text-align: center;
}

.sheet-text-subheader {
    font-family: 'IM Fell English', serif;
    font-size: 15px;
    min-height: 20px;

}
.sheet-text-important {
    font-family: 'IM Fell English', serif;
    font-size: 12px;
    font-variant: small-caps;
    min-height: 20px;

}
.sheet-full-tittle-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sheet-full-tittle-center h4 {
    font-family: 'IM Fell English', serif;
    font-size: 45px;
    min-height: 35px;
    margin: 15px auto 0 auto;
}

/* DIV BOXES */
.sheet-nobox-grey {
    border: none;
    background: #eaeaea;
}

.sheet-border-b {
    border-bottom: solid 2px black;
}

.sheet-border-circle {
    background: #eaeaea;
    border-color: black;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
}

.sheet-background-black{
    background: black;
    color: white
}


/* BUTTONS */
.sheet-button-label:before {
    content: "" !important;
}

.sheet-button-label {
    background-image: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    margin: 0 !important;
    font-size: 13px !important;

}

/* CHECKBOX */
.sheet-checkbox-icon {
    height: 18px !important;
    width: 18px !important;
    margin-left: 2px;
    margin-right: 2px;
}

.sheet-checkbox-icon-bigger {
    height: 20px !important;
    width: 20px !important;
    margin-left: 2px;
    margin-right: 2px;
}

/* STRUCTURE */
/* Columns*/
.sheet-skill-empty,
.sheet-skill-list,
.sheet-skill-list .sheet-col-xs-1,
.sheet-skill-list .sheet-col-xs-2 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.sheet-skill-list .sheet-col-xs-8 {
    padding-right: 0 !important;
}

.sheet-skill-empty {
    height: 26px !important;
}

.sheet-skill-list {
    max-height: 26px;
    padding-top: 2px;
}



.sheet-column-w {
    display: flex;
    flex-flow: column wrap;
    min-width: 0;
    min-height: 0;
}

.sheet-rolltemplate-column-nw,
.sheet-column-nw {
    display: flex;
    flex-flow: column nowrap;
    min-width: 0;
    min-height: 0;
}

/* Rows*/
.sheet-row-w {
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
    min-height: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.sheet-rolltemplate-row-nw,
.sheet-row-nw {
    display: flex;
    flex-flow: row nowrap;
    min-width: 0;
    min-height: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Rows full height inside column */
.sheet-fill-height > div {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.sheet-position-bottom {
    align-content: flex-end;
    align-items: flex-end;
}

.sheet-position-sb {
    align-content: space-between;
    align-items: space-between;
}

.sheet-content-sa {
    justify-content: space-around;
}

.sheet-rolltemplate-content-center,
.sheet-content-center {
    align-items: center;
    justify-content: center;
}

.sheet-content-st {
    align-items: stretch
}

/* Width */
.sheet-rolltemplate-width-100,
.sheet-width-100 {
    width: 100%;
}

.sheet-width-85 {
    width: 85%;
}

.sheet-width-75 {
    width: 75%;
}

.sheet-width-70 {
    width: 70%;
}

.sheet-width-60 {
    width: 60%;
}

.sheet-rolltemplate-width-50,
.sheet-width-50 {
    width: 50%;
}

.sheet-width-40 {
    width: 40%;
}

.sheet-width-30 {
    width: 30%;
}

.sheet-width-25 {
    width: 25%;
}

.sheet-width-20 {
    width: 20%;
}

.sheet-width-15 {
    width: 15%;
}

.sheet-width-10 {
    width: 10%;
}

.sheet-width-5 {
    width: 5%;
}



.sheet-max-width-300 {
    max-width: 300px;
}

.sheet-max-width-250 {
    max-width: 250px;
}

.sheet-max-width-250 {
    max-width: 200px;
}

.sheet-max-width-125 {
    max-width: 125px;
}

.sheet-max-width-50 {
    max-width: 50px;
}

/* Height */
.sheet-height-100 {
    height: 100%;
}


.sheet-max-height-50 {
    max-height: 50px;
}

.sheet-max-height-150 {
    max-height: 150px;
}

.sheet-max-height-210 {
    max-height: 210px;
}

.sheet-overflow-025 {
    flex: 0.25;
    overflow: hidden;
}

.sheet-overflow-1 {
    flex: 1;
    overflow: hidden;
}

.sheet-overflow-2 {
    flex: 2;
    overflow: hidden;
}

.sheet-overflow-3 {
    flex: 3;
    overflow: hidden;
}

.sheet-flex-30 {
    flex: 0 0 30em;
}

.sheet-flex-25 {
    flex: 0 0 25em;
}

.sheet-flex-20 {
    flex: 0 0 20em;
}

.sheet-flex-15 {
    flex: 0 0 15em;
}

.sheet-flex-10 {
    flex: 0 0 10em;
}

.sheet-flex-5 {
    flex: 0 0 5em;
}


.sheet-padding-r-0 {
    padding-right: 0px !important;
}

.sheet-padding-r-5 {
    padding-right: 5px;
}

.sheet-padding-r-10 {
    padding-right: 10px;
}

.sheet-padding-r-15 {
    padding-right: 15px;
}

.sheet-padding-r-35 {
    padding-right: 35px;
}

.sheet-padding-l-0 {
    padding-left: 0px !important;
}

.sheet-padding-l-5 {
    padding-left: 5px;
}

.sheet-padding-l-10 {
    padding-left: 10px;
}

.sheet-padding-l-15 {
    padding-left: 15px;
}

.sheet-padding-l-35 {
    padding-left: 35px;
}

.sheet-padding-t-5 {
    padding-top: 5px;
}

.sheet-padding-t-10 {
    padding-top: 10px;
}

.sheet-padding-t-15 {
    padding-top: 15px;
}

.sheet-padding-t-35 {
    padding-top: 35px;
}
.sheet-padding-b-2 {
    padding-bottom: 2px !important;
}
.sheet-padding-b-6 {
    padding-bottom: 6px !important;
}

.sheet-padding-b-10 {
    padding-bottom: 10px;
}

.sheet-padding-b-15 {
    padding-bottom: 15px;
}

.sheet-padding-b-50 {
    padding-bottom: 50px !important;
}

.sheet-margin-b-50 {
    margin-bottom: 50px !important;
}

.sheet-margin-b-10 {
    margin-bottom: 10px;
}

.sheet-margin-b-0 {
    margin-bottom: 0px;
}

.sheet-margin-l-0 {
    margin-left: 0px !important;
}

.sheet-margin-r-0 {
    margin-right: 0px !important;
}

.sheet-margin-r-3 {
    margin-right: 3px !important;
}

.sheet-margin-r-6 {
    margin-right: 6px !important;
}

.sheet-margin-r-15 {
    margin-right: 15px !important;
}

.sheet-margin-t-15 {
    margin-top: 15px !important;
}

.sheet-margin-t-25 {
    margin-top: 25px !important;
}

.sheet-margin-t-35 {
    margin-top: 35px !important;
}

.sheet-margin-t-45 {
    margin-top: 45px !important;
}

.sheet-margin-b-2 {
    margin-bottom: 2px !important;
}
.sheet-padding-b-6 {
    margin-bottom: 6px !important;
}
.sheet-margin-t-2 {
    margin-top: 2px !important;
}
.sheet-padding-t-6 {
    margin-top: 6px !important;
}



.sheet-rolltemplate-col-xs,
.sheet-rolltemplate-col-xs-1,
.sheet-rolltemplate-col-xs-2,
.sheet-rolltemplate-col-xs-3,
.sheet-rolltemplate-col-xs-4,
.sheet-rolltemplate-col-xs-5,
.sheet-rolltemplate-col-xs-6,
.sheet-rolltemplate-col-xs-7,
.sheet-rolltemplate-col-xs-8,
.sheet-rolltemplate-col-xs-9,
.sheet-rolltemplate-col-xs-10,
.sheet-rolltemplate-col-xs-11,
.sheet-rolltemplate-col-xs-12,
.sheet-col-xs,
.sheet-col-xs-1,
.sheet-col-xs-2,
.sheet-col-xs-3,
.sheet-col-xs-4,
.sheet-col-xs-5,
.sheet-col-xs-6,
.sheet-col-xs-7,
.sheet-col-xs-8,
.sheet-col-xs-9,
.sheet-col-xs-10,
.sheet-col-xs-11,
.sheet-col-xs-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}


.sheet-col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}

.sheet-col-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
}

.sheet-col-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
}

.sheet-col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.sheet-col-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.sheet-col-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.sheet-col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.sheet-col-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.sheet-col-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
}

.sheet-col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.sheet-col-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.sheet-col-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
}

.sheet-col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}


.sheet-col-xs-offset-1 {
  margin-left: 8.333%;
}

.sheet-col-xs-offset-2 {
  margin-left: 16.667%;
}

.sheet-col-xs-offset-3 {
  margin-left: 25%;
}

.sheet-col-xs-offset-4 {
  margin-left: 33.333%;
}

.sheet-col-xs-offset-5 {
  margin-left: 41.667%;
}

.sheet-col-xs-offset-6 {
  margin-left: 50%;
}

.sheet-col-xs-offset-7 {
  margin-left: 58.333%;
}

.sheet-col-xs-offset-8 {
  margin-left: 66.667%;
}

.sheet-col-xs-offset-9 {
  margin-left: 75%;
}

.sheet-col-xs-offset-10 {
  margin-left: 83.333%;
}

.sheet-col-xs-offset-11 {
  margin-left: 91.667%;
}

/* TRICKS */
.sheet-inverse {
    transform: scaleX(-1);
}

.sheet-element-hidden {
    visibility: hidden !important;
}

.sheet-element-break {
    flex-basis: 100% !important;
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
}


/* REPEATING */
.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
    display: block;
    background: #000;
    color: white;
    box-shadow:none;
    font-size:0.9em;
    height:2.2em;
}

.sheet-pestana-jugador .repitem {
    display: flex;
    align-items: stretch;
    margin-bottom: 3px;
    justify-content: flex-start;
    width: 100%;
}

.sheet-pestana-jugador .repcontainer {
    width: 100%;
}

.sheet-pestana-jugador .repcontrol {
    display: flex !important;
    flex-flow: row nowrap !important;
}

/* +ADD - MODIFY BUTTON */

[data-groupname=repeating_armas] > button.btn.repcontrol_add,
[data-groupname=repeating_armas] > button.btn.repcontrol_edit {
    height: 20px;
}

[data-groupname=repeating_armas] > button.btn.repcontrol_add::after,
[data-groupname=repeating_inventario] > button.btn.repcontrol_add::after,
[data-groupname=repeating_proteccion] > button.btn.repcontrol_add::after,
[data-groupname=repeating_habilidades] > button.btn.repcontrol_add::after {
    content: "Nuevo";
    background-color: #000 !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin-left: -30px;
}

/* Overlay the Modify/Done button.  Overlying text is static */
[data-groupname=repeating_armas] > button.btn.repcontrol_edit::after,
[data-groupname=repeating_inventario] > button.btn.repcontrol_edit::after,
[data-groupname=repeating_proteccion] > button.btn.repcontrol_edit::after,
[data-groupname=repeating_habilidades] > button.btn.repcontrol_edit::after {
    content: "Modificar";
    background-color: #000 !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin-left: -36px;
}

/* this sets the formatting for all repcontrol buttons */
.sheet-pestana-jugador .charsheet .repcontrol_add,
.sheet-pestana-jugador .charsheet .repcontrol_edit,
.sheet-pestana-jugador .charsheet .repcontrol_del {
    display: inline-flex;
    background-color: #000 !important;
    color: white;
    box-shadow: none;
    font-size: 0.9em;
    height: 2.2em;
}




.sheet-container-row {
    margin: 0 0 15px 0;
    align-content: flex-start;
    align-items: stretch;

}



.sheet-col-flex-1 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}





.sheet-rolltemplate-atacar .sheet-container {
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-atacar .sheet-container h1 {
    color: rgb(126, 45, 64);
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-atacar div {
    padding: 2px;
}

;

.sheet-rolltemplate-atacar span {
    color: rgb(126, 45, 64);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}

.sheet-rolltemplate-atacar .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-atacar .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
    border-top: 2px solid transparent;
}

.sheet-rolltemplate-atacar .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-atacar .inlinerollresult {
    background-color: #ffffff;
    border: none;
}

.sheet-rolltemplate-atacar .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}

.sheet-rolltemplate-atacar .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}

.sheet-rolltemplate-atacar .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}