//= include flags.html
<input class="slide-input-pc" type="checkbox" name="attr_is_npc" value="1"><label class="slide-toggle-pc"><span class="slide-cover">···</span><span class="slide-toggle-pc-left">{{'PC' | translate}}</span><span class="slide-toggle-pc-right">{{'NPC' | translate}}</span></label>
<span class="last-updated">
  <span>{{'VERSION' | translate}}</span>
  <div class="col-20 inline-block pad-l-sm">
    <input type="text" name="attr_version" class="no-border small-label" readonly>
  </div>
</span>