/* tab styles */
div.sheet-tab-content { display: none; }

input.sheet-tab-character:checked ~ div.sheet-tab-character,
input.sheet-tab-ship:checked ~ div.sheet-tab-ship,
{
  display: block;
}

input.sheet-tab
{
  width: 150px;
  height: 20px;
  position: relative;
  left: 6px;
  margin: -1.5px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-tab::before
{
  content: attr(title);

  border: solid 1px #a8a8a8;
  border-bottom-color: #fff;
  text-align: center;
  display: inline-block;
  background: #bbb;
  width: 150px;
  height: 20px;
  font-size: 18px;
}

input.sheet-tab:checked::before
{
  background: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
}

input.sheet-tab:not(:first-child)::before
{
  border-left: none;
}

input.sheet-tab-input:checked::before
{
  background: #dcdcdc;
  background: -moz-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  background: -webkit-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  background: -ms-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  background: -o-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  background: linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  border-bottom-color: #fcecec;
}

div.sheet-tab-content
{
  border: 1px solid #a8a8a8;
  border-top-color: #000;
  margin: 2px 0 0 5px;
  padding: 5px;
}

div.sheet-tab-input
{
  background-color: #fcecec;
}

/* character sheet styles */
.charsheet {
  background-color: white;
}
.charsheet .sheet-wrapper h1, .charsheet .sheet-wrapper h3 {
  margin: 0 auto;
  border: 2px solid #000000;
  background-color: #848482;
  text-align: center;
  color: #ffffff;
  font-size: 15pt;
}
.sheet-logo {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.sheet-logo img {
  display: block;
  margin: auto;
}
.charsheet .sheet-wrapper .sheet-swn-min {
  font-size: 10px;
}
.charsheet .sheet-wrapper h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
}
.sheet-version {
  font-size: 8px;
  text-align: right;
}

/* Rows */
.charsheet .sheet-wrapper .sheet-skills .sheet-row,
.charsheet .sheet-wrapper div.sheet-gear-cyberware,
.charsheet .sheet-wrapper .sheet-stats div,
.charsheet .sheet-wrapper .sheet-gear div {
  min-height: 30px;
}
.charsheet .sheet-wrapper .sheet-skills {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border: 1px solid #000;
}

.charsheet .sheet-wrapper .sheet-stat-bonus {
  width: 40px;
}

.charsheet .sheet-wrapper .sheet-skills:nth-child(odd) {
  background-color: #d3d3d3;
}

/* Cols */
.sheet-col-whitespace {
  width: 30px;
}
.sheet-attribute-table {
  width: 300px;
}
/* Not used */
.charsheet .sheet-wrapper .sheet-stats div.sheet-attribute-head {
  width: 90px;
  text-align: left;
  border: 1px solid black;
}
.charsheet .sheet-wrapper .sheet-stats div.sheet-stats-label {
  width: 90px;
}
.charsheet .sheet-wrapper .sheet-stats div.sheet-attribute-label {
  width: 50px;
}
.charsheet .sheet-wrapper .sheet-stats div.sheet-attribute-ext-label {
  width: 120px;
}
.charsheet .sheet-wrapper .sheet-saves .sheet-col {
  width: 150px;
}
.sheet-gear {
  padding-top: 5px;
}
.charsheet .sheet-wrapper div.sheet-psionics-level {
  width: 300px;
}
.charsheet .sheet-wrapper div.sheet-psionics-pp {
  width: 380px;
}
.charsheet .sheet-wrapper div.sheet-psionics-pp .sheet-col {
  width: 50px;
}
.charsheet .sheet-wrapper div.sheet-misc-goal,
.charsheet .sheet-wrapper div.sheet-misc-goal-xp {
  width: 100px;
}

/* Labels */
.charsheet .sheet-wrapper label {
  font-weight: bold;
}
.charsheet .sheet-wrapper .sheet-skills label {
  display: inline;
  width: 175px;
  white-space: nowrap;
}
.charsheet .sheet-wrapper .sheet-skills label.sheet-skill-points-unspent {
  background: #000000;
  color: #ffffff;
}
.sheet-weapons-wrapper label {
    display: inline-block;
    width: 140px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: smaller;
}
.sheet-weapons-wrapper label.sheet-weapons-short {
    /*width: 90px;*/
}
.sheet-languages {
  margin-top: 15px;
}

/* Input fields */
.charsheet .sheet-wrapper textarea {
  resize: none;
}
.charsheet .sheet-wrapper .sheet-stats input {
  width: 200px;
}
.charsheet .sheet-wrapper .sheet-stats input.sheet-stats-half {
  width: 75px;
}
.charsheet .sheet-wrapper .sheet-skills input {
  width: 50px;
}
.charsheet .sheet-wrapper input.sheet-skills-custom {
  display: inline;
  width: 150px;
}
.charsheet .sheet-wrapper input.sheet-gear-credits {
  width: 100px;
}
.charsheet .sheet-wrapper .sheet-gear-cyberware input {
  width: 340px;
}
.charsheet .sheet-wrapper .sheet-gear-other textarea {
  width: 330px;
  min-height: 164px;
}
.charsheet .sheet-wrapper .sheet-psionics-discipline input {
  width: 340px;
}
.charsheet .sheet-wrapper .sheet-psionics-discipline-level input {
  width: 50px;
}
.charsheet .sheet-wrapper .sheet-psionics-power input,
.charsheet .sheet-wrapper .sheet-psionics-mastered input {
  width: 340px;
}
.charsheet .sheet-wrapper .sheet-psionics-pp input {
  width: 50px;
}
.charsheet .sheet-wrapper .sheet-misc-goal input {
  width: 400px;
}
.charsheet .sheet-wrapper .sheet-misc-goal-xp input {
  width: 100px;
}
.sheet-weapons-wrapper input {
    width: 140px;
    padding: 0;
    margin: 0;
}
.sheet-textarea-wide {
  width: 97%;
}

/* ship sheet styles */

.sheet-tab-ship .sheet-stats .sheet-col .sheet-stats-ship-min-max .sheet-stats-ship-value {
  width: 50px;
  margin: 0;
}

.sheet-tab-ship .sheet-stats .sheet-col .sheet-stats-ship-min-max .sheet-stats-ship-value input {
  width: 50px;
  margin: 0;
}

.sheet-tab-ship .sheet-stats .sheet-col .sheet-stats-ship-min-max .sheet-stats-label-separator {
  width: 5px;
  margin: 1px;
  padding: 0;
}

.sheet-tab-ship .sheet-ship-repeating-headers {
  width: 100%;
}

.sheet-tab-ship .sheet-ship-weapons .sheet-7colrow {
  width: 100%;
}

.sheet-tab-ship .sheet-ship-repeating-headers .sheet-3colrow div {
  width: 27%;
  margin: 0;
}

.sheet-tab-ship .sheet-ship-repeating-headers .sheet-6colrow div {
  width: 15%;
  margin: 0;
}

.sheet-tab-ship .sheet-ship-repeating-headers .sheet-7colrow div {
  width: 13%;
  margin: 0;
}

.sheet-tab-ship .sheet-ship-repeating-headers input {
  width: 100%;
}

.sheet-tab-ship .sheet-ship-other-notes {
  width: 98%;
}

/* Roll templates */
.sheet-rolltemplate-initiative .sheet-swn-template-container,
.sheet-rolltemplate-save .sheet-swn-template-container,
.sheet-rolltemplate-skill .sheet-swn-template-container,
.sheet-rolltemplate-attack .sheet-swn-template-container,
.sheet-rolltemplate-basicattack .sheet-swn-template-container {
    width:100%;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 3px;
    border-color: #000000;
    background: #000000 url(https://i.imgur.com/rTZq7C5.jpg) top left;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.sheet-rolltemplate-initiative .sheet-swn-template-container .sheet-swn-template-title,
.sheet-rolltemplate-basicattack .sheet-swn-template-container .sheet-swn-template-title,
.sheet-rolltemplate-save .sheet-swn-template-container .sheet-swn-template-title,
.sheet-rolltemplate-attack .sheet-swn-template-container .sheet-swn-template-title,
.sheet-rolltemplate-skill .sheet-swn-template-container .sheet-swn-template-title {
  padding-top:15px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

.sheet-rolltemplate-initiative .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-name,
.sheet-rolltemplate-basicattack .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-name,
.sheet-rolltemplate-save .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-name,
.sheet-rolltemplate-attack .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-name,
.sheet-rolltemplate-skill .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-name {
  border-bottom-width: 3px;
  border-style: solid;
  border-color: #000000;
  background-color: #848482;
  color: #000000;
  font-size: 1.0em;
}

.sheet-rolltemplate-initiative .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-type,
.sheet-rolltemplate-basicattack .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-type,
.sheet-rolltemplate-save .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-type,
.sheet-rolltemplate-attack .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-type,
.sheet-rolltemplate-skill .sheet-swn-template-container .sheet-swn-template-title .sheet-swn-template-type {
  border-bottom-width: 3px;
  border-style: solid;
  border-color: #000000;
  background-color: #d3d3d3;
  color: #000000;
  font-size: 0.8em;
}

.sheet-rolltemplate-initiative .sheet-swn-template-container .sheet-swn-template-result,
.sheet-rolltemplate-basicattack .sheet-swn-template-container .sheet-swn-template-result,
.sheet-rolltemplate-save .sheet-swn-template-container .sheet-swn-template-result,
.sheet-rolltemplate-attack .sheet-swn-template-container .sheet-swn-template-result,
.sheet-rolltemplate-skill .sheet-swn-template-container .sheet-swn-template-result {
   padding-top: 15px;
   padding-bottom: 15px;
   text-align: center;
 }

.sheet-rolltemplate-initiative .sheet-swn-template-container .sheet-fail-tabstyle,
.sheet-rolltemplate-basicattack .sheet-swn-template-container .sheet-fail-tabstyle,
.sheet-rolltemplate-save .sheet-swn-template-container .sheet-fail-tabstyle,
.sheet-rolltemplate-attack .sheet-swn-template-container .sheet-fail-tabstyle,
.sheet-rolltemplate-skill .sheet-swn-template-container .sheet-fail-tabstyle {
   color: #ff0000;
 }

.sheet-rolltemplate-initiative .sheet-black-text,
.sheet-rolltemplate-basicattack .sheet-black-text,
.sheet-rolltemplate-save .sheet-black-text,
.sheet-rolltemplate-attack .sheet-black-text,
.sheet-rolltemplate-skill .sheet-black-text {
  color: #000000;
}
