.charsheet {
    background-color: white;
}
.charsheet .sheet-wrapper h1, .charsheet .sheet-wrapper h3 {
    margin: 0 auto;
    border: 2px solid #000000;
    background-color: #848482;
    text-align: center;
    color: #ffffff;
    font-size: 15pt;
}
.charsheet .sheet-wrapper .sheet-logo {
    width: 100%;
}
.charsheet .sheet-wrapper .sheet-logo img {
    display: block;
    margin: auto;
}
.charsheet .sheet-wrapper .sheet-swn-min {
    font-size: 10px;
}
.charsheet .sheet-wrapper h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
}

    /* Rows */
.charsheet .sheet-wrapper .sheet-skills .sheet-row,
.charsheet .sheet-wrapper div.sheet-gear-cyberware,
.charsheet .sheet-wrapper .sheet-stats div,
.charsheet .sheet-wrapper .sheet-gear div {
    min-height: 30px;
}
.charsheet .sheet-wrapper .sheet-skills .sheet-row:nth-child(even) {
    background-color: #d3d3d3;
}

    /* Cols */
.sheet-col-whitespace {
    width: 30px;
}
.charsheet .sheet-wrapper .sheet-stats div.sheet-stats-label {
    width: 90px;
}
.charsheet .sheet-wrapper .sheet-stats div.sheet-attribute-label {
    width: 50px;
}
.charsheet .sheet-wrapper .sheet-stats div.sheet-attribute-ext-label {
    width: 100px;
}
.charsheet .sheet-wrapper .sheet-saves .sheet-col {
    width: 150px;
}
.charsheet .sheet-wrapper .sheet-gear div.sheet-gear-name {
    width: 180px;
}
.charsheet .sheet-wrapper .sheet-gear div.sheet-gear-readied {
    width: 55px;
    text-align: center;
}
.charsheet .sheet-wrapper .sheet-gear div.sheet-gear-encumbrance {
    width: 100px;
}
.charsheet .sheet-wrapper .sheet-weapons .sheet-col {
    width: 19%;
}
.charsheet .sheet-wrapper div.sheet-psionics-level {
    width: 300px;
}
.charsheet .sheet-wrapper div.sheet-psionics-pp {
    width: 380px;
}
.charsheet .sheet-wrapper div.sheet-psionics-pp .sheet-col {
    width: 50px;
}
.charsheet .sheet-wrapper div.sheet-misc-goal,
.charsheet .sheet-wrapper div.sheet-misc-goal-xp {
    width: 100px;
}

    /* Labels */
.charsheet .sheet-wrapper label {
    font-weight: bold;
}
.charsheet .sheet-wrapper .sheet-skills label {
    display: inline-block;
    width: 175px;
}
.charsheet .sheet-wrapper .sheet-skills label.sheet-skill-points-unspent {
    background: #000000;
    color: #ffffff;
}

    /* Input fields */
.charsheet .sheet-wrapper textarea {
    resize: none;
}
.charsheet .sheet-wrapper .sheet-stats input {
    width: 243px;
}
.charsheet .sheet-wrapper .sheet-stats input.sheet-stats-half {
    width: 75px;
}
.charsheet .sheet-wrapper .sheet-skills input {
    width: 50px;
}
.charsheet .sheet-wrapper input.sheet-skills-custom {
    display: inline-block;
    width: 150px;
}
.charsheet .sheet-wrapper input.sheet-gear-credits {
    width: 100px;
}
.charsheet .sheet-wrapper .sheet-gear-cyberware input {
    width: 340px;
}
.charsheet .sheet-wrapper .sheet-gear-other textarea {
    width: 330px;
    min-height: 164px;
}
.charsheet .sheet-wrapper .sheet-weapons .sheet-col input {
    width: 90%;
}
.charsheet .sheet-wrapper .sheet-psionics-discipline input {
    width: 340px;
}
.charsheet .sheet-wrapper .sheet-psionics-discipline-level input {
    width: 50px;
}
.charsheet .sheet-wrapper .sheet-psionics-power input,
.charsheet .sheet-wrapper .sheet-psionics-mastered input {
    width: 340px;
}
.charsheet .sheet-wrapper .sheet-psionics-pp input {
    width: 50px;
}
.charsheet .sheet-wrapper .sheet-misc-goal input {
    width: 400px;
}
.charsheet .sheet-wrapper .sheet-misc-goal-xp input {
    width: 100px;
}