@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua|Roboto+Slab:wght@200&display=swap');

h1 {
	font-family: 'Uncial Antiqua', cursive;
}

h2 {
	font-family: 'Roboto Slab', serif;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

.sheet-section-head {
     color: #FFF;
     background-color: #000;
     text-align: center;
    padding: 4px 0px;
    margin-bottom: 3px;
    background-color: #313131;
 }

.sheet-inventory-input {
	width: 180px;
}

.sheet-skill-label {
    width: 146px;
    display: inline-block;
}
.sheet-skill-label-large {
    width: 200px;
    display: inline-block;
}

.sheet-skill-note {
    width: 420px;
    display: inline-block;
}
.sheet-skill-note-small {
    width: 310px;
    display: inline-block;
}
.sheet-skill-note-xsmall {
    width: 275px;
    display: inline-block;
}
.sheet-spell-note {
    width: 400px;
    display: inline-block;
}
.sheet-skill-value {
    width: 2.5em; /* removed !important */ 
    display: inline-block;
    margin-bottom: 0;
}

.sheet-skill-value-small {
	width: 2em;
    display: inline-block;
    margin-bottom: 0;
}

.sheet-checkboxwidth {
	width: 13px;
}

.sheet-number-value {
    width: 3.5em;
}

input.sheet-skill-value[type=number]::-webkit-outer-spin-button,
input.sheet-skill-value[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.sheet-skill-header {
    display: inline-block;
    font-weight: bold;
}
.sheet-profile-label {
    width: 120px;
    display: inline-block;
}
.sheet-weapon-label {
    width: 110px;
    display: inline-block;
}
.sheet-profile-input {
    width: 190px;
    display: inline-block;
}

.sheet-stat-col {
    width: 210px;
    display: inline-block;
    vertical-align: top;
}
.sheet-stat-label {
    width: 40px;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
}
.sheet-stat-value {
    width: 46px;
    display: inline-block;
    margin-bottom: 0;
}

.sheet-info-col {
    display: inline-block;
    width: 300px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.sheet-info-label {
    width: 80px;
    display: inline-block;
}
.sheet-info-input {
    width: 210px;
    display: inline-block;
}

.sheet-combat-label {
    width: 80px;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
}
.sheet-combat-value {
    width: 46px;
    display: inline-block;
}

.sheet-check-col {
    width: 20px;
    display: inline-block;
}

.sheet-subheader {
    border-bottom: 1px solid #9b7d7b;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
}

/* New Styles */
.sheet-row {
    position: relative;
    width: 100%;
}
.sheet-panel {
    text-align: center;
    padding: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }

.sheet-font-light {
    font-weight: 200;
}

.sheet-font-regular {
    font-weight: 400;
}

.sheet-font-heavy {
    font-weight: 700;
}

.sheet-gutters {
    padding-left: 4px;
    padding-right: 4px;
}

.sheet-hr {
    border-top: 1px solid #9b7d7b;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
}

.sheet-header-with-options {
	display: inline;	
}

.sheet-footnote {
	font-style: italic;
}

/* SHOW and HIDE sections */

.sheet-indent300 {
	margin-left: 35%;
}

input.sheet-toggle-show-spells:not(:checked) ~ div.sheet-mr-spells {
    display: none;
}

input.sheet-toggle-show-rituals:not(:checked) ~ div.sheet-mr-rituals {
    display: none;
}

input.sheet-toggle-show-psionic:not(:checked) ~ div.sheet-mr-psionic {
    display: none;
}

div.sheet-weapon-display, div.sheet-missileweapon-display {
	display:none;
}

input.sheet-display-carried-weapon[value="1"] ~ div.sheet-weapon-display, input.sheet-display-carried-missileweapon[value="1"] ~ div.sheet-missileweapon-display {
    display: inline-block;
}

fieldset.sheet-weapons-carried~.repcontrol {
	display: none;
}

/*Configure the tab buttons*/

.sheet-tab-buttons {
	float: right;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:1000;
	background: #ffffffad;
	padding: 10px;
	margin-right: 2em; /* prevent overlap with edit button */
}

.sheet-character,
.sheet-inventory {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory {
	display: block;
}

/* Tweak the buttons in repeating sections */

button.repcontrol_add , button.repcontrol_edit {
	margin-top: 0.5em;
}

/* POSITIONING */

.sheet-left {
    text-align: left;
}

.sheet-right {
    text-align: right;
}

.sheet-center {
    text-align: center;
    margin: 0 auto;
}

.sheet-justify {
    text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.sheet-container {
    width: 90%;
    margin: 0 auto;
}

.sheet-row {
    position: relative;
    width: 100%;
    margin-bottom: .5em;
}

.sheet-row [class^="col"] {
    float: left;
    margin: 8px 2%;
    min-height: 2px;
}

.sheet-col1,
.sheet-col2,
.sheet-col3,
.sheet-col4,
.sheet-col5,
.sheet-col6,
.sheet-col7,
.sheet-col8,
.sheet-col9,
.sheet-col10,
.sheet-col11,
.sheet-col12 {
    width: 96%;
}

.sheet-col1-sm,
.sheet-col2-sm,
.sheet-col3-sm,
.sheet-col4-sm,
.sheet-col5-sm,
.sheet-col6-sm,
.sheet-col7-sm,
.sheet-col8-sm,
.sheet-col9-sm,
.sheet-col10-sm,
.sheet-col11-sm,
.sheet-col12-sm {
display: inline-block;
}

.sheet-col1-sm {
    width: 4%;
}

.sheet-col2-sm {
    width: 12%;
}

.sheet-col3-sm {
    width: 20%;
}

.sheet-col4-sm {
    width: 24%;
}

.sheet-col5-sm {
    width: 36%;
}

.sheet-col6-sm {
    width: 40%;
}

.sheet-col7-sm {
    width: 48%;
}

.sheet-col8-sm {
    /* width: 62.66%; */
	width: 60%;
}

.sheet-col9-sm {
    width: 72%;
}

.sheet-col10-sm {
    width: 84%;
}

.sheet-col11-sm {
    width: 87.66%;
}

.sheet-col12-sm {
    width: 96%;
}

.sheet-col-magic {
	/* width: 81%; */ 
	min-width: 75%;
	display: inline-block;
}

.sheet-col-right {
	float: right;
}

.sheet-col:last-child {
	float: right;
	margin-left: 3px;
}

.sheet-row::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 540px) {
    .sheet-container {
        width: 80%;
    }
}

@media only screen and (min-width: 720px) {
    .sheet-col1 {
        width: 4.33%;
    }

    .sheet-col2 {
        width: 12.66%;
    }

    .sheet-col3 {
        width: 21%;
    }

    .sheet-col4 {
        width: 29.33%;
    }

    .sheet-col5 {
        width: 37.66%;
    }

    .sheet-col6 {
        width: 46%;
    }

    .sheet-col7 {
        width: 54.33%;
    }

    .sheet-col8 {
        width: 62.66%;
    }

    .sheet-col9 {
        width: 71%;
    }

    .sheet-col10 {
        width: 79.33%;
    }

    .sheet-col11 {
        width: 87.66%;
    }

    .sheet-col12 {
        width: 96%;
    }

    .sheet-hidden-sm {
        display: block;
    }
}

@media only screen and (min-width: 960px) {
    .sheet-container {
        width: 75%;
        max-width: 960px;
    }
}

/* ROLL TEMPLATES */
.sheet-rolltemplate-check-lt table,
.sheet-rolltemplate-rollcheck table {
    width: 100%;
    border: 1px solid;
    color: black;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sheet-rolltemplate-check-lt th,
.sheet-rolltemplate-rollcheck th {
    background-color: #313131;
    color: #ffffff;
    padding: 2px;
    border-bottom: 1px solid black;
    line-height: 1.6em;
    font-size: 1.2em;
}

.sheet-rolltemplate-check-lt .sheet-tcat,
.sheet-rolltemplate-rollcheck .sheet-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-check-lt td,
.sheet-rolltemplate-rollcheck td {
    padding: 5px;
    border-bottom: 1px solid black;
}

.sheet-rolltemplate-check-lt tr:nth-child(odd),
.sheet-rolltemplate-rollcheck tr:nth-child(odd) {
    background-color: #FDF5E6;
}

.sheet-rolltemplate-check-lt tr:nth-child(even),
.sheet-rolltemplate-rollcheck tr:nth-child(even) {
    background-color: #FFFAF0;
}

.sheet-rolltemplate-check-lt .inlinerollresult,
.sheet-rolltemplate-rollcheck .inlinerollresult  {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: 2px solid rgba(167, 168, 170,1); /*Cool Gray 6 C*/
}

.sheet-rolltemplate-check-lt .inlinerollresult.fullcrit,
.sheet-rolltemplate-rollcheck .inlinerollresult.fullcrit {
    border: 2px solid #3FB315;
}

.sheet-rolltemplate-check-lt .inlinerollresult.fullfail,
.sheet-rolltemplate-rollcheck .inlinerollresult.fullfail {
    border: 2px solid #B31515;
}

.sheet-rolltemplate-check-lt .inlinerollresult.importantroll,
.sheet-rolltemplate-rollcheck .inlinerollresult.importantroll {
    border: 2px solid #4A57ED;
}

.sheet-rolltemplate-check-lt .sheet-note,
.sheet-rolltemplate-rollcheck .sheet-note {
    text-align: center;
    border: 2px solid 	#778899;
    background-color: #DCDCDC;
}

.sheet-rolltemplate-check-lt .sheet-infected,
.sheet-rolltemplate-rollcheck .sheet-infected {
    text-align: center;
    border: 2px solid 	#D8D456;
    background-color: #83AB2C;
    font-weight: bold;
    font-style: oblique;
}

.sheet-rolltemplate-check-lt .sheet-success,
.sheet-rolltemplate-rollcheck .sheet-success {
    border: 2px solid #3FB315;
    background-color: #99FF99;
    text-align: center;
    font-weight: bold;
}

.sheet-rolltemplate-check-lt .sheet-failure,
.sheet-rolltemplate-rollcheck .sheet-failure {
    border: 2px solid #CC6600;
    background-color: #FFCC99;
    text-align: center;
    font-weight: bold;
}

.sheet-rolltemplate-check-lt .sheet-crit-success,
.sheet-rolltemplate-rollcheck .sheet-crit-success {
    border: 2px solid #009900;
    background-color: #00CC00;
    text-align: center;
    font-weight: bold;
}

.sheet-rolltemplate-check-lt .sheet-crit-failure,
.sheet-rolltemplate-rollcheck .sheet-crit-failure {
    border: 2px solid #990000;
    background-color: #CC0000;
    text-align: center;
    font-weight: bold;
}

