<div class="saving-throw wrap-box mar-b-smd">
  <div class="default-saving-throw">
    {% set abilities = ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'] %}
    {% for ability in abilities %}
      <div class="shaped-row flex-end{% if ability != 'charisma' %} pad-b-sm{% endif %}">
        <div class="center pad-r-sm">
          <input type="checkbox" name="attr_{$ ability $}_save_prof" value="@{PB}">
        </div>
        <div class="1-5-rem edit">
          <input type="number" name="attr_{$ ability $}_save_bonus" class="no-spin small-label" value="0" step="1">
        </div>
        <input type="hidden" name="attr_{$ ability $}_saving_throw_mod">
        <button type="roll" name="roll_shaped_{$ ability $}_saving_throw" value="@{output_option} &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{{$ ability | upper $}} ^{SAVE}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{{$ ability $}_saving_throw_mod}]]}} @{roll_setting} + @{{$ ability $}_saving_throw_mod}]]}} @{hide_gm_info} @{attacher_{$ ability $}_saving_throw}" tabindex="-1">
          <span name="attr_{$ ability $}_saving_throw_mod_with_sign" class="1-5-rem input-like center bold border-bottom"></span>
          <span class="ability-saving-throw-name" data-i18n="{$ ability | upper $}"></span>
        </button>
      </div>
    {% endfor %}
  </div>
  <div class="custom-saving-throw">
    {% set customSavingThrows = ['fortitude', 'reflex', 'will'] %}
    {% for customSavingThrow in customSavingThrows %}
      <div class="shaped-row flex-end{% if ability != 'will' %} pad-b-sm{% endif %}">
        <div class="center pad-r-sm">
          <input type="checkbox" name="attr_{$ customSavingThrow $}_save_prof" value="@{PB}">
        </div>
        <div class="1-5-rem edit">
          <input type="number" name="attr_{$ customSavingThrow $}_save_bonus" class="no-spin small-label" value="0" step="1">
        </div>
        <input type="hidden" name="attr_{$ customSavingThrow $}_saving_throw_mod">
        <button type="roll" name="roll_shaped_{$ customSavingThrow $}_saving_throw" value="@{output_option} &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{{$ customSavingThrow | upper $}} ^{SAVE}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{{$ customSavingThrow $}_saving_throw_mod}]]}} @{roll_setting} + @{{$ customSavingThrow $}_saving_throw_mod}]]}} @{hide_gm_info} @{attacher_{$ customSavingThrow $}_saving_throw}" tabindex="-1">
          <span name="attr_{$ customSavingThrow $}_saving_throw_mod_with_sign" class="1-5-rem input-like center bold border-bottom"></span>
          <span class="ability-saving-throw-name" data-i18n="{$ customSavingThrow | upper $}"></span>
        </button>
      </div>
    {% endfor %}
  </div>
  <button type="roll" name="roll_shaped_saving_throw" class="wrapper-button" value="/w &quot;@{character_name}&quot; &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{SAVING_THROWS}}} {{text_big=@{saving_throw_macro_var_to_use}}}">
    <div class="wrap-box-title center" data-i18n="SAVING_THROWS"></div>
  </button>
</div>