	* {
	    box-sizing: border-box;
	    font-family: sans-serif;
    }

	button {
		background-image: none;
		font-size       : 0.8em;
		text-shadow     : none;

		&[type='roll'],
		&[type='action'] {
			font-size: 1em;
			margin: 0px !important;
			padding: 1px 2px;

      border: {
          bottom             : 0.01em solid #666;
          bottom-right-radius: 0.01em;
          color              : hsl(0, 0%, 70%);
          radius             : 0.25em !important; 
          right              : 0.02em solid hsl(0, 0%, 20%);
          style              : outset;
      }

      &:hover, 
      &:focus, 
      &:active { 
        font-weight: bold;
        background-color: $accent;
        color: $white;

        & > span {
          color: $white;
        }
      }

      &.sheet-pictos { 
        font-family: 'Pictos'; 
      }
		}

		&:before {
      display: none;
    }

    & > span {
    	display: block;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	width: 100%;
    }
	}

	div {
    background-color: transparent;
  }

	fieldset { 
    background: transparent;
  }

	hr {
		border: 0.5px solid #555;
	}

	label {
		display: inline-block;
		font-size: 0.9em;
		margin-bottom: 0px;
		padding-right: 5px;
		text-transform: capitalize;
		width: auto;}

	input {
		background-color: $graytrans;
		color: $blacker;
		border: none;
		cursor: auto;
		font-weight: normal;
		margin: 0px;
		text-align: center;
		vertical-align: middle;

		&[type='text'],
		&[type='number'] {
			height    : 20px;

      &:placeholder-shown {
        border: 1px dotted $gray;
        background-color: $graytrans;
        color: white;
      }

			&:hover, 
      &:focus {
				background-color: $primary;
				color: $blackish;
			}
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
	}

	select {
		border-radius: 2px;
		border: 1px solid $blackish;
		box-shadow: inset 0px 0px 3px 1px $grayshadow;
		margin-bottom: 0px;
		width: auto;

    &.sheet-attribute-select {
      option:nth-of-type(1n+5) { color: $accent }
      option:nth-of-type(1n+9) { color: $accent;  }
    }

    &.sheet-limit-select  {
      option:nth-of-type(1n+5) { color: $accent }
    }
  }

	span {
    white-space: pre-line;
    word-break: break-word; 
  }

	textarea {
		border-radius: 2px;
		border: 1px solid $blackish;
		box-shadow: inset 0px 0px 3px 1px $grayshadow;
		height: 50px;
		overflow-wrap: break-word;
		overflow: hidden;
		resize: vertical;
		vertical-align: top;
		white-space: pre-line;}

	.charsheet {
    background: $primary;
    background: linear-gradient(90deg, rgba($primary,1) 0%, rgba(245,245,245,1) 17%, rgba(255,255,255,1) 78%, rgba($primary,1) 100%);
    width: 850px; 
    box-shadow: inset 0px 0px 3px 1px $grayshadow;
    color: $blacker;
  }

	input[name='attr_stats_toggle'],
	input[name='attr_stats_toggle'] + span {
		position: relative;
	}

	input[name='attr_stats_toggle'] {
		opacity: 0;
		z-index: 2;
	}
