.sheet-red {
  color: $accent1;  
}

.sheet-text-align-center,
.sheet-center {
  text-align: center;
}

.sheet-eclipse {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;  
}


.sheet-text-capitalize {
  text-transform: capitalize;
}

.sheet-text-left {
  text-align: left;
}