//-
    CREATED by          Gorthian
    Letzte Änderung		2025-06-04

//
    ********************************
    * START src/html/rolltemplates.pug
    ********************************

rolltemplate(class="sheet-rolltemplate-attributsprobe")
    div(class="sheet-template-container")
        div(class="sheet-template-header") {{attribut}} gegen {{computed::schwierigkeit}}
        div(class="sheet-template-row")
            div(class="sheet-template-column") Bonus : 
            div(class="sheet-template-column") {{computed::bonus}}
        div(class="sheet-template-row") 
            div(class="sheet-template-column") Wurf: 
            div(class="sheet-template-column") {{computed::wurf}}
        div(class="sheet-template-desc") {{computed::beschreibung}}

rolltemplate(class="sheet-rolltemplate-angriff")
    div(class="sheet-template-container")
        div(class="sheet-template-header") Angriff mit {{waffe}}
        div(class="sheet-template-row")
            div(class="sheet-template-column") Attribut : 
            div(class="sheet-template-column") {{attribut}}
        div(class="sheet-template-row") 
            div(class="sheet-template-column") Wurf: 
            div(class="sheet-template-column") {{computed::wurf}}
        | {{#rollGreater() computed::fehlschlag 0}}
        div(class="sheet-template-row") 
            div(class="sheet-template-column") Fehlschäge: 
            div(class="sheet-template-column") {{computed::fehlschlag}}
        | {{/rollGreater() computed::fehlschlag 0}}
        | {{#rollGreater() computed::leichter_treffer 0}}
        div(class="sheet-template-row") 
            div(class="sheet-template-column") Leichte Treffer: 
            div(class="sheet-template-column") {{computed::leichter_treffer}}
        | {{/rollGreater() computed::leichter_treffer 0}}
        | {{#rollGreater() computed::mittlerer_treffer 0}}
        div(class="sheet-template-row") 
            div(class="sheet-template-column") Mittlere Treffer: 
            div(class="sheet-template-column") {{computed::mittlerer_treffer}}
        | {{/rollGreater() computed::mittlerer_treffer 0}}
        | {{#rollGreater() computed::kritischer_treffer 0}}
        div(class="sheet-template-row") 
            div(class="sheet-template-column") Kritischer Treffer: 
            div(class="sheet-template-column") {{computed::kritischer_treffer}}
        | {{/rollGreater() computed::kritischer_treffer 0}}
        div(class="sheet-template-desc") {{notiz}}

rolltemplate(class="sheet-rolltemplate-angriff-npc")
    div(class="sheet-template-container")
        div(class="sheet-template-header") Angriff mit {{waffe}}        
        div(class="sheet-template-row")
            | {{#rollTotal() computed::wurf 1}}
            b Fehlschlag
            | {{/rollTotal() computed::wurf 1}}
            | {{#rollGreater() computed::wurf 1}}
            div(class="sheet-template-column") Schaden: 
            div(class="sheet-template-column") {{computed::wurf}}    
            | {{/rollGreater() computed::wurf 1}}
        div(class="sheet-template-desc") {{notiz}}

//
    ********************************
    * ENDE src/html/rolltemplates.pug
    ********************************