//-
    CREATED by          Gorthian
    Letzte Änderung		2025-03-26

//
    ********************************
    * START src/html/sheet.pug
    ********************************

//- MIXINs
mixin attribut(attribut)
    // MIXIN : src/html/sheet.pug : attribut
    div(class="sheet-attribut")
        h2(data-i18n=attribut)
        input(class="sheet-d20" type="number" value="" name="attr_"+attribut)
        div(class="sheet-attribut-wert")
            button(class="sheet-d20" type="action" name="act_probe-"+attribut)
                img(src="http://gorthian.de/roll20/horde/d20.webp")
        div(class="sheet-attribut-bonus")
            input(type="number" value="" name="attr_"+attribut+"_bonus")
        span(data-i18n="bonus")         

mixin item(ort)
    // MIXIN : src/html/sheet.pug : item
    div(class="sheet-item")
        label(for="attr_"+ort data-i18n=ort)
        input(type="text" value="" name="attr_"+ort)        

mixin waffe(ort)
    // MIXIN : src/html/sheet.pug : waffe
    div(class="sheet-waffe")
        div(class="sheet-waffe-ort")
            label(for="attr_"+ort data-i18n=ort)
        div(class="sheet-waffe-name")
            input(type="text" value="" name="attr_"+ort)
        div(class="sheet-waffe-attribut")
            select(name="attr_"+ort+"_attribut")
                option(value="") -
                option(value="intelligenz" data-i18n="intelligenz")
                option(value="mut" data-i18n="mut")
                option(value="koerperkraft" data-i18n="koerperkraft")
                option(value="geschick" data-i18n="geschick")
                option(value="charisma" data-i18n="charisma")
        div(class="sheet-waffe-schaden")
            input(type="number" value="1" name="attr_"+ort+"_schaden")
            span(data-i18n="d6")
        div(class="sheet-waffe-notiz")
            input(type="text" value="" name="attr_"+ort+"_notiz")
        div(class="sheet-waffe-angriff")
            button(class="sheet-d6" type="action" name="act_angriff-"+ort)
                img(src="http://gorthian.de/roll20/horde/d6.webp")

div(class="sheet-horde")
    div(class="sheet-logo")
        img(src="http://gorthian.de/roll20/horde/HORDE_Logo.webp")
    div(class="sheet-kopfzeile sheet-horde-zeile")
        div(class="sheet-name")
            span(data-i18n="name")
            input(type="text" value="" name="attr_character_name")
        div(class="sheet-lebenspunkte")
            span(data-i18n="lebenspunkte")
            input(type="number" value="" name="attr_hp")
            input(type="number" value="" name="attr_hp_max")
        div(class="sheet-klasse")
            span(data-i18n="klasse")
            input(type="text" value="" name="attr_klasse")
    div(class="sheet-attribute sheet-horde-zeile")
        +attribut("intelligenz")
        +attribut("mut")
        +attribut("koerperkraft")
        +attribut("geschick")
        +attribut("charisma")
    div(class="sheet-inventar sheet-horde-zeile")
        h2(data-i18n="waffen")
        +waffe("linke-hand")
        +waffe("rechte-hand")
    div(class="sheet-staerken-schwaechen sheet-horde-zeile")
        div(class="sheet-staerken") 
            h2(data-i18n="staerken")
            textarea(name="attr_staerken" value="")
        div(class="sheet-schwaechen") 
                h2(data-i18n="schwaechen")
                textarea(name="attr_schwaechen" value="")
    div(class="sheet-notizen sheet-horde-zeile")
        h2(data-i18n="notizen")
        textarea(name="attr_notizen" value="")
    div(class="sheet-vergangenheit sheet-horde-zeile") 
        h2(data-i18n="vergangenheit")
        textarea(name="attr_vergangenheit" value="")
    div(class="sheet-inventar sheet-horde-zeile")
        h2(data-i18n="accessoirs")
        +item("finger-1")
        +item("finger-2")
        +item("hals")
        +item("ruecken")
        h2(data-i18n="rucksack")
        textarea(name="attr_rucksack" value="")


//
    ********************************
    * ENDE src/html/sheet.pug
    ********************************