# node
src/node_modules/

# build files
dist/
temp/

#vscode
.vscode/
*workspace*

#osx
.DS_store

#prettier
.prettierignore
.prettierrc

src/test/*.html
src/test/attributes.js
src/test/roll-template-specs*.js
