.charsheet {
    width: 842px !important;
    margin: 0 auto !important;
    padding: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select::-ms-expand {
    display: none;
}

h1 {
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    width: 100%;
    font-size: 28px;
    text-align: center;
    margin: 0 0 0px;
    padding: 10;
    text-transform: uppercase;
}

h2 {
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    width: 100%;
    font-size: 18px;
    text-align: left;
    margin: 0 0 0px;
    padding: 0;
    text-transform: uppercase;
}

h3 {
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    width: 100%;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    margin: 0 0 0px;
    padding: 0;
    text-transform: uppercase;
}

h3.sheet-ritual-track-text {
    line-height: 28px;
}

h3.sheet-divide::after, h3.sheet-divide::before {
    display: inline-block;
    content: "";
    height: 5px;
    border-top: 2px solid black;
    top: 0;
    width: 220px;
}

h4 {
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 0 0 0px;
    padding: 0;
    text-transform: uppercase;
}

h4.sheet-tab-title {
    display: inline-block
}

h5 {
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    margin: 0 0 0px;
    padding: 0;
    text-transform: uppercase;
}

button[type="roll"]{
    align-items: left;
    color: black;
    font-weight: normal;
    font-size: 20px;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
button[type="roll"]:hover{
    font-weight: bold;
}

.sheet-heading-left {
    text-align: left;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.sheet-page1tab, 
.sheet-page2tab,
.sheet-page3tab,
.sheet-page4tab {
    display: none;
}

input[type=radio].sheet-page1:checked ~ div.sheet-page1tab,
input[type=radio].sheet-page2:checked ~ div.sheet-page2tab,
input[type=radio].sheet-page3:checked ~ div.sheet-page3tab,
input[type=radio].sheet-page4:checked ~ div.sheet-page4tab {
    display: block;
}

input.sheet-pages + .sheet-page-label,
input.sheet-clear-vow + .sheet-vow-clear-label {
    border-radius: 4px;
    padding: 2px 4px;
}

.sheet-vow-clear-label {
    border: 1px solid #ccc;
    margin-right: 11px;
}

.sheet-pages:checked + .sheet-page-label {
    background-color: black;
    color: white;
}

.sheet-page-label:hover,
.sheet-vow-clear-label:hover {
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: #ccc;
    color: black;
}

.sheet-vertleft {
    border-left: 2px solid black;
    height: 1000px;
    margin-left: 20px;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)) 1 100%;
}
.sheet-vertright {
    border-right: 2px solid black;
    height: 1000px;
    margin-right: 20px;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)) 1 100%;
}

.sheet-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0%;
    margin-bottom: 2px;
}

.sheet-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheet-bonds {
    margin-bottom: 0px;
}
.sheet-bond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheet-vows {
    margin-bottom: 0px;
}
.sheet-vows-header, .sheet-progress-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.sheet-vow, .sheet-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheet-debilities {
    margin-bottom: 0px;
}
.sheet-debility {
    display: flex;
    justify-content: center;
    align-items: top;
}

.sheet-flex-container {
    display: flex;
}

.sheet-flex-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sheet-momentum-box {
    width: 80px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}
.sheet-momentum-input-box {
    width: 80px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}
.sheet-resources-title-box {
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 2px;
}
.sheet-resources-box {
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}

.sheet-companion-health-box,
.sheet-companion-wealth-box {
    width: 45px;
    height: 40px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}

.sheet-combat-talent-armour-box {
    width: 149px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}

.sheet-ritual-track-box {
    width: 37px;
    height: 42x;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}


.sheet-pc-name {
    width: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    font-size: 14px;
}
.sheet-debil-desc {
    width: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    font-size: 14px;
}
.sheet-vow-name,
.sheet-progress-name,
.sheet-page-label, 
.sheet-vow-clear-label {
    width: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    font-size: 14px;
}

.sheet-border {
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.sheet-full-width {
    width: 95%;
    resize: vertical;
}

.sheet-page-label, .sheet-vow-clear-label {
    display: inline
}

input.sheet-filler[type="radio"],
input[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio/checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}
input[type="checkbox"] + span::before,
input.sheet-filler[type="radio"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + span::before
{
    content: "■";
}

input.sheet-zeroxp[type="radio"] + span::before
{
    content: "0" !important;
}
input.sheet-filler[type="radio"] + span::before
{
    content: "■";
}
/* Remove dot from all radios _after_ selected one */
input.sheet-filler[type="radio"]:checked ~ input.sheet-filler[type="radio"] + span::before {    
    content: "";
}

.sheet-momentum-input {
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    width: 40px;
    font-size: 13px;
    text-align: center;
    background: transparent;
}

.sheet-stats-title {
    width: 100px;
}

.sheet-stats-input {
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    width: 60px;
    line-height: 40px;
    font-size: 28px;
    text-align: center;
    background: transparent;
}

.sheet-progress-input {
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    background: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px 0px 0px 12px;
}

.sheet-progress-input:hover {
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px 0px 0px 12px;
    background-color: #ccc; 
}

.sheet-hidden {
    display: none;
    position: absolute;
}

div.sheet-showhide{
    display: none;
}

span.sheet-showhide:checked {
    background-color: black;
    color: white;
}

span.sheet-showhide {
    display: inline;
    border: 1px solid #ccc;
    margin-right: 11px;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    font-weight: bold;
    font-size: 14px;
}

span.sheet-showhide:hover {
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: #ccc;
    color: black;
}

div.sheet-showhide,
.sheet-hidden-flex {
    display: none;
}

input[type="checkbox"].sheet-asset-health0:checked ~ div.sheet-companion-health-box0,
input[type="checkbox"].sheet-asset-health1:checked ~ div.sheet-companion-health-box1,
input[type="checkbox"].sheet-asset-health2:checked ~ div.sheet-companion-health-box2,
input[type="checkbox"].sheet-asset-health3:checked ~ div.sheet-companion-health-box3,
input[type="checkbox"].sheet-asset-health4:checked ~ div.sheet-companion-health-box4,
input[type="checkbox"].sheet-asset-health5:checked ~ div.sheet-companion-health-box5 {
    display: inline-flex;
}

input[type="checkbox"].sheet-showhide:checked ~ div.sheet-showhide,
input[type="checkbox"].sheet-asset-companion:checked ~ div.sheet-companion,
input[type="checkbox"].sheet-asset-path:checked ~ div.sheet-path,
input[type="checkbox"].sheet-asset-combat-talent:checked ~ div.sheet-combat-talent,
input[type="checkbox"].sheet-asset-ritual:checked ~ div.sheet-ritual {
    display: block;
}

input[type="checkbox"].sheet-cave-lion:checked ~ div.sheet-cave-lion,
input[type="checkbox"].sheet-giant-spider:checked ~ div.sheet-giant-spider,
input[type="checkbox"].sheet-hawk:checked ~ div.sheet-hawk,
input[type="checkbox"].sheet-horse:checked ~ div.sheet-horse,
input[type="checkbox"].sheet-hound:checked ~ div.sheet-hound,
input[type="checkbox"].sheet-kindred:checked ~ div.sheet-kindred,
input[type="checkbox"].sheet-mammoth:checked ~ div.sheet-mammoth,
input[type="checkbox"].sheet-owl:checked ~ div.sheet-owl,
input[type="checkbox"].sheet-raven:checked ~ div.sheet-raven,
input[type="checkbox"].sheet-young-wyvern:checked ~ div.sheet-young-wyvern {
    display: block;
}

select.sheet-path-dropdown option[value="alchemist"] ~ .sheet-alchemist {
    display: flex;
}

div.sheet-asset-ability {
    width: 100%;
    height: 100%;
    margin: 0px 4px 10px 10px;
}

.sheet-asset-ability-write-in {
    margin-top: 8px;
    display: flex;
}

input[type="checkbox"].sheet-asset-ability {
    opacity: 1 !important;
    margin: 0px 0px 20px 15px !important;
}

.sheet-asset {
    display: inline-block;
    width: 320px;
    max-width: 320px;
    border: 2px solid #343433;
    margin-left: 44px;
    margin-bottom: 20px;
    font-size: 15px;
}

div.sheet-assets{
    display: block !important;
    text-align: left;
}

div.sheet-assets .repcontainer {
    display: flex;
    flex-wrap: wrap;
}

div.sheet-assets .repcontainer .repitem {
    float: left !important;
}

.sheet-asset-header {
    background: #343433;
    color: white;
}

.sheet-asset-type-selection {
    background: #343433;
    color: white;
    border:0;
}

.sheet-asset-type-dropdown {
    color: white;
    background: #343433;
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-appearance: menulist;
    margin: 6px 4px;
}

.sheet-sub-dropdown {
    -webkit-appearance: menulist;
    width: auto;
    margin: 6px 4px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

div.sheet-assets .repitem {
   width: 421px 
}

div.sheet-assets .repcontrol{
    display: block !important;
    max-width: 320px !important;
}

.sheet-health-box-wrapper,
.sheet-wealth-box-wrapper,
.sheet-ritual-box-wrapper {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sheet-armour-box-wrapper {
    margin-bottom: 10px;
}

.sheet-companion-desc,
.sheet-combattalent-desc,
.sheet-path-desc {
    margin-left: 5px;
}

.sheet-no-border {
    border: 0;
}

.sheet-requirement-area {
    height: 72px;
}

.sheet-combat-talent-requirement-area {
    height: 38px
}

input.sheet-border-bottom {
    border-bottom: 1px solid black;
}

.sheet-combat-talent-requirement-area {
    height: 20px !important;
}

/* ROLL TEMPLATE */
.sheet-rolltemplate-ironsworn table>thead>tr>th, 
.sheet-rolltemplate-ironsworn table>tbody>tr>th, 
.sheet-rolltemplate-ironsworn table>tfoot>tr>th, 
.sheet-rolltemplate-ironsworn table>thead>tr>td, 
.sheet-rolltemplate-ironsworn table>tbody>tr>td, 
.sheet-rolltemplate-ironsworn table>tfoot>tr>td {
    padding: 4px;
    border: none; 
}
.sheet-rolltemplate-ironsworn table {
    width: 100%;
	/*border: 1px solid;*/
	color: black;
	font-size: 1em;
    font-family: Copperplate, "Copperplate Gothic Light", arial;
    margin: 0px;
}

.sheet-rolltemplate-ironsworn th {
    
	background-color: #434b4d;
	color: #ffffff;
	padding: 2px;
	/*border-bottom: 1px solid black;*/
	line-height: 1.2em;
	font-size: 1.2em;
	text-align: center;
}

.sheet-rolltemplate-ironsworn .sheet-subheader {
    background-color: #434b4d;
    color: #ffffff;
    line-height: 0.9em;
    font-size: 0.9em;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.sheet-rolltemplate-ironsworn .sheet-subfooter {
    background-color: #b9b9b6;
    line-height: 0.9em;
    font-size: 0.9em;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.sheet-rolltemplate-ironsworn .userscript-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-ironsworn td {
	padding: 5px;
	/*border-bottom: 1px solid black;*/
}

.sheet-rolltemplate-ironsworn tr:nth-child(odd) {
	background-color: #d9d9d6;
}

.sheet-rolltemplate-ironsworn tr:nth-child(even) {
	background-color: #e9e9e6;
}

.sheet-rolltemplate-ironsworn .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #434b4d;
	background: transparent;
}
