.charsheet {
    width: 842px !important;
    margin: 0 auto !important;
    padding: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select::-ms-expand {
    display: none;
}

h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    width: 100%;
    font-size: 28px;
    text-align: center;
    margin: 0 0 0px;
    padding: 10;
    text-transform: uppercase;
}

h2 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    width: 100%;
    font-size: 18px;
    text-align: left;
    margin: 0 0 0px;
    padding: 0;
    text-transform: uppercase;
}

h3 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    width: 100%;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    margin: 0 0 0px;
    padding: 0;
    text-transform: uppercase;
}

h3.sheet-divide::after, h3.sheet-divide::before {
    display: inline-block;
    content: "";
    height: 5px;
    border-top: 2px solid black;
    top: 0;
    width: 220px;
}

h4 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: 0 0 0px;
    padding: 0;
    text-transform: uppercase;
}

h5 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    margin: 0 0 0px;
    padding: 0;
    text-transform: uppercase;
}

button[type="roll"]{
    align-items: left;
    color: black;
    font-weight: normal;
    font-size: 20px;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
button[type="roll"]:hover{
    font-weight: bold;
}

.sheet-heading-left {
    text-align: left;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.sheet-vertleft {
    border-left: 2px solid black;
    height: 1000px;
    margin-left: 20px;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)) 1 100%;
}
.sheet-vertright {
    border-right: 2px solid black;
    height: 1000px;
    margin-right: 20px;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)) 1 100%;
}

.sheet-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0%;
    margin-bottom: 2px;
}

.sheet-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheet-bonds {
    margin-bottom: 0px;
}
.sheet-bond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheet-vows {
    margin-bottom: 0px;
}
.sheet-vows-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.sheet-vow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sheet-debilities {
    margin-bottom: 0px;
}
.sheet-debility {
    display: flex;
    justify-content: center;
    align-items: top;
}

.sheet-momentum-box {
    width: 80px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}
.sheet-momentum-input-box {
    width: 80px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}
.sheet-resources-title-box {
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 2px;
}
.sheet-resources-box {
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 2px;
}

.sheet-pc-name {
    width: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    font-size: 14px;
}
.sheet-debil-desc {
    width: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    font-size: 14px;
}
.sheet-vow-name {
    width: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    font-size: 14px;
}

input.sheet-filler[type="radio"],
input[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio/checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}
input[type="checkbox"] + span::before,
input.sheet-filler[type="radio"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + span::before
{
    content: "■";
}

input.sheet-zeroxp[type="radio"] + span::before
{
    content: "0" !important;
}
input.sheet-filler[type="radio"] + span::before
{
    content: "■";
}
/* Remove dot from all radios _after_ selected one */
input.sheet-filler[type="radio"]:checked ~ input.sheet-filler[type="radio"] + span::before {    
    content: "";
}

.sheet-momentum-input {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    width: 40px;
    font-size: 13px;
    text-align: center;
    background: transparent;
}

.sheet-stats-title {
    width: 100px;
}

.sheet-stats-input {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    width: 60px;
    line-height: 40px;
    font-size: 28px;
    text-align: center;
    background: transparent;
}

.sheet-progress-input {
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    background: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px 0px 0px 12px;

}

.sheet-hidden {
    display: none;
    position: absolute;
}

/* ROLL TEMPLATE */
.sheet-rolltemplate-ironsworn table>thead>tr>th, 
.sheet-rolltemplate-ironsworn table>tbody>tr>th, 
.sheet-rolltemplate-ironsworn table>tfoot>tr>th, 
.sheet-rolltemplate-ironsworn table>thead>tr>td, 
.sheet-rolltemplate-ironsworn table>tbody>tr>td, 
.sheet-rolltemplate-ironsworn table>tfoot>tr>td {
    padding: 4px;
    border: none; 
}
.sheet-rolltemplate-ironsworn table {
    width: 100%;
	/*border: 1px solid;*/
	color: black;
	font-size: 1em;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    margin: 0px;
}

.sheet-rolltemplate-ironsworn th {
    
	background-color: #434b4d;
	color: #ffffff;
	padding: 2px;
	/*border-bottom: 1px solid black;*/
	line-height: 1.2em;
	font-size: 1.2em;
	text-align: center;
}

.sheet-rolltemplate-ironsworn .sheet-subheader {
    background-color: #434b4d;
    color: #ffffff;
    line-height: 0.9em;
    font-size: 0.9em;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.sheet-rolltemplate-ironsworn .sheet-subfooter {
    background-color: #b9b9b6;
    line-height: 0.9em;
    font-size: 0.9em;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.sheet-rolltemplate-ironsworn .userscript-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-ironsworn td {
	padding: 5px;
	/*border-bottom: 1px solid black;*/
}

.sheet-rolltemplate-ironsworn tr:nth-child(odd) {
	background-color: #d9d9d6;
}

.sheet-rolltemplate-ironsworn tr:nth-child(even) {
	background-color: #e9e9e6;
}

.sheet-rolltemplate-ironsworn .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #434b4d;
	background: transparent;
}
