<div class="wrap-box">
  <input type="hidden" name="attr_armor_stealth" value="Disadvantage on Stealth">

  <input type="hidden" name="attr_armor_strength_no" value="no">
  <input type="hidden" name="attr_armor_strength_13" value="Str 13">
  <input type="hidden" name="attr_armor_strength_15" value="Str 15">

  <div class="shaped-row sub-header">
    <div class="col-04 small-label"></div>
    <div class="col-27 small-label pad-r-sm">{{'ARMOR' | translate}}</div>
    <div class="col-05 small-label center">{{'AC' | translate}}</div>
    <div class="col-02"></div>
    <div class="col-14 small-label center">{{'TYPE' | translate}}</div>
    <div class="col-02"></div>
    <div class="col-08 small-label center">{{'BONUS' | translate}}</div>
    <div class="col-02"></div>
    <div class="col-06 small-label center">{{'TOTAL' | translate}}</div>
    <div class="col-11 small-label pad-l-md">{{'ABILITIES.strength.NAME' | translate}}</div>
    <div class="col-10 small-label center pad-l-md">{{'SKILLS.stealth.NAME' | translate}}</div>
    <div class="col-09 small-label center pad-l-md">{{'WEIGHT' | translate}}</div>
  </div>
  <fieldset class="repeating_armor">
    <div class="shaped-row vert-center">
      <div class="col-04 center">
        <input type="checkbox" name="attr_worn" checked>
      </div>
      <div class="col-27 pad-r-sm">
        <input type="text" name="attr_name">
      </div>
      <div class="col-05 center">
        <input type="number" name="attr_ac_base" class="no-spin" value="0" step="1">
      </div>
      <div class="col-02 center">+</div>
      <div class="col-14 center">
        <select name="attr_type">
          <option value="light">Light</option>
          <option value="medium">Medium</option>
          <option value="heavy">Heavy</option>
          <option value="shield">Shield (armored and unarmored)</option>
          <option value="armored">Armored</option>
          <option value="unarmored">Unarmored</option>
        </select>
      </div>
      <div class="col-02 center">+</div>
      <div class="col-08 center">
        <input type="number" name="attr_ac_bonus" class="no-spin" value="0" step="1">
      </div>
      <div class="col-02 center">=</div>
      <div class="col-06 center">
        <input type="number" name="attr_ac_total" class="no-spin" readonly>
      </div>
      <div class="col-11 pad-l-md">
        <select name="attr_strength">
          <option value="@{armor_strength_no}" selected>&#8212;</option>
          <option value="@{armor_strength_13}">Str 13</option>
          <option value="@{armor_strength_15}">Str 15</option>
        </select>
      </div>
      <div class="col-10 center pad-l-md">
        <input type="checkbox" name="attr_stealth" value="@{armor_stealth}">
      </div>
      <div class="col-09 center pad-l-md">
        <input type="number" name="attr_weight" class="no-spin" step="1">
      </div>
    </div>
  </fieldset>

  <div class="shaped-row center pad-t-md pad-b-md">
    <div class="col-12 center pad-r-md">
      <input type="number" name="attr_ac_armored_calc" class="no-spin" readonly>

      <div class="small-label">{{'AC_ARMORED' | translate}}</div>
    </div>
    <div class="col-12 center pad-r-md">
      <select name="attr_ac_unarmored_ability">
        <option value="0">&#8212;</option>
        <option value="@{strength_mod}">Str</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>

      <div class="small-label">{{'AC_UNARMORED_ABILITY_BONUS' | translate}}</div>
    </div>
    <div class="col-12 center pad-r-md">
      <input type="number" name="attr_ac_unarmored_calc" class="no-spin" readonly>

      <div class="small-label">{{'AC_UNARMORED' | translate}}</div>
    </div>
    <div class="col-15 center bold">

      <button type="roll" name="roll_ac" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=AC}} {{roll=[[@{ac}]]}}">
        <div class="shield">
          <input type="number" name="attr_ac" class="no-spin no-border" readonly>
          <div class="wrap-box-title">{{'ARMOR_CLASS' | translate}}</div>
        </div>
      </button>
    </div>
  </div>
  <div class="wrap-box-title center">{{'ARMOR' | translate}}</div>
</div>