<div class="shaped-row vert-center mar-t-md">
  <div class="col-04"></div>
  <div class="col-25 wrap-box-label light-label pad-r-sm">{{'ATTACK' | translate}}</div>
  <div class="col-54"></div>
  <div class="col-08 wrap-box-label light-label center">{{'WEIGHT' | translate}}</div>
</div>
<fieldset class="repeating_attack">
  <div class="shaped-row compendium-drop-target vert-center">
    <div class="col-04 center">
      <input type="checkbox" name="attr_carried" checked>
    </div>
    <div class="col-25">
      <input type="text" name="attr_name" placeholder="name" accept="Name">
    </div>
    <div class="col-54"></div>
    <div class="col-08 center">
      <input type="number" name="attr_weight" value="0" step=".5" accept="Weight">
      <input type="hidden" name="attr_damage_type" accept="Damage Type">
      <input type="hidden" name="attr_damage" accept="Damage">
      <input type="hidden" name="attr_second_damage" accept="Secondary Damage">
    </div>
  </div>
</fieldset>