- const attributesArray = ['Body', 'Agility', 'Reaction', 'Strength', 'Willpower', 'Logic', 'Intuition', 'Charisma', 'Magic', 'Resonance'];
- const limitObject = {'Mental':'mental_limit', 'Physical':'physical_limit', 'Social':'social_limit', 'Attack':'attack', 'Data Processing':'data_processing', 'Firewall':'firewall', 'Sleaze':'sleaze'};

//- ATTRIBUTE SELECTS
mixin attributeSelect(selectedDefault)
    each attribute in attributesArray
        - const attributeName = attribute.toLowerCase();
        if attribute === selectedDefault
            option(data-i18n=attributeName value='@{' + attributeName + '}' selected) #{attribute}
        else
             option(data-i18n=attributeName value='@{' + attributeName + '}') #{attribute}

//- LIMIT SElECTS
mixin limitSelect(selectedDefault)
    option(value="none") -
    each val, key in limitObject
        - const attributeName = key.toLowerCase().replace(' ', '_');
        if key === selectedDefault
            option(data-i18n=attributeName value='@{' + val + '}' selected) #{key}
        else
            option(data-i18n=attributeName value='@{' + val + '}') #{key}