<!-- 1 Details -->
<div class="sheet-tab-content tab1">
    <div>
        <!-- Genera Information -->
        <div class='sheet-2colrow'>
            <div class='sheet-col'>
                <div>
                    <div class='sheet-col'>
                        <table class="table_1">
                            <tr>
                                <th data-i18n="age" >Age</th>
                                <td><input type="text" class="heading_2" style="width:70px;" name="attr_Age"></td>
                            </tr>
                            <tr>
                                <th>
                                    <select class="select_2" name="attr_MightType">
                                        <option class="italic" value="NoMight"><span style="text-align:center;" data-i18n="no-might" >No Might</span></option>
                                        <option value="DivineMight" data-i18n="divine-might" >Divine Might</option>
                                        <option value="FaerieMight" data-i18n="faerie-might" >Faerie Might</option>
                                        <option value="InfernalMight" data-i18n="infernal-might" >Infernal Might</option>
                                        <option value="MagicMight" data-i18n="magic-might" >Magic Might</option>
                                    </select>
                                </th>
                                <td><input data-i18n-placeholder="score" placeholder="Score" type="text" class="heading_2" style="width:70px;" name="attr_MightScore" ></td>
                            </tr>
                            <tr>
                                <th data-i18n="warp-score" >Warp Score</th>
                                <td><input type="text" class="heading_2" style="width:70px;" name="attr_Warping"></td>
                            </tr>
                        </table>
                    </div>
                    <div class='sheet-col'>
                        <table class="table_1" style="margin-bottom:16px;">
                            <tr>
                                <th data-i18n="apparent-age" >Apparent Age</th>
                                <td><input type="text" class="heading_2" style="width:70px;" name="attr_ApparentAge"></td>
                            </tr>
                            
                            <tr>
                                <th data-i18n="pool" >Pool</th>
                                <td><input data-i18n-placeholder="points" placeholder="Points" type="text" class="heading_2" style="width:70px;" name="attr_CurrentMagicMight"></td>
                            </tr>
                            <tr>
                                <th data-i18n="warp-points" >Warp Points</th>
                                <td><input type="text" class="heading_2" style="width:70px;" name="attr_WarpPoints"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <div>
                        <h4 class="heading_label" style="margin-bottom:0px;" data-i18n="warping-scars" >Warping Scars</h4>
                        <textarea class="textarea_4" name="attr_Warping_effects"></textarea>
                    </div>
                </div>
            </div>
            <div class='sheet-col'>
                <table class="table_2" style="width:400px">
                    <tr>
                        <th colspan="2" data-i18n="birth-name" >Birth Name</th>
                        <td colspan="2"><input type="text" class="heading_3" name="attr_Birth_Name"></td>
                    </tr>
                    <tr>
                        <th colspan="2" data-i18n="year-born" >Year Born</th>
                        <td colspan="2"><input type="text" class="heading_3" name="attr_Year_Born"></td>
                    </tr>
                    <tr>
                        <th colspan="2" data-i18n="gender" >Gender</th>
                        <td colspan="2"><input type="text" class="heading_3" name="attr_Gender"></td>
                    </tr>
                    <tr>
                        <th colspan="2" data-i18n="race-nationality" >Race/Nationality</th>
                        <td colspan="2"><input type="text" class="heading_3" name="attr_Race_Nationality"></td>
                    </tr>
                    <tr>
                        <th colspan="2" data-i18n="place-of-origin" >Place of Origin</th>
                        <td colspan="2"><input type="text" class="heading_3" name="attr_Place_of_Origin"></td>
                    </tr>
                    <tr>
                        <th colspan="2" data-i18n="religion" >Religion</th>
                        <td colspan="2"><input type="text" class="heading_3" name="attr_Religion"></td>
                    </tr>
                    <tr>
                        <th colspan="2" data-i18n="title-profession" >Title/Profession</th>
                        <td colspan="2"><input type="text" class="heading_3" name="attr_Title_Profession"></td>
                    </tr>
                    <tr>
                        <th data-i18n="height" >Height</th>
                        <td><input type="text" class="heading_3" style="width:70px;" name="attr_Height"></td>
                        <th data-i18n="weight" >Weight</th>
                        <td><input type="text" class="heading_3" style="width:70px;" name="attr_Weight"></td>
                    </tr>
                    <tr>
                        <th data-i18n="size" >Size</th>
                        <td><input type="number" class="heading_3" style="width:70px;" name="attr_Size"></td>
                        <th data-i18n="handedness" >Handedness</th>
                        <td><input type="text" class="heading_3" style="width:70px;" name="attr_Handedness"></td>
                    </tr>
                    <tr>
                        <th data-i18n="hair" >Hair</th>
                        <td><input type="text" class="heading_3" style="width:70px;" name="attr_Hair"></td>
                        <th data-i18n="eyes" >Eyes</th>
                        <td><input type="text" class="heading_3" style="width:70px;" name="attr_Eyes"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Magus background -->
    <div class="magi-only">
        <h4 class="heading_label" style="margin-bottom:0px;" data-i18n="magus-background" >Magus Background</h4>
        <div class='sheet-2colrow' style="border:1px solid black;">
            <div class='sheet-col'>
                <table class="table_1">
                    <tr>
                        <th data-i18n="house" >House</th>
                        <td><input type="text" class="heading_2" name="attr_House"></td>
                    </tr>
                    <tr>
                        <th data-i18n="covenant" >Covenant</th>
                        <td><input type="text" class="heading_2" name="attr_Covenant"></td>
                    </tr>
                    <tr>
                        <td><h4 class="heading_label" style="margin-bottom: 0px;" data-i18n="wizard-s-sigil" >Wizard's Sigil</h4></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th rowspan="2" colspan="2"><textarea class="textarea_4" name="attr_sigil"></textarea></th>
                    </tr>
                </table>
            </div>
            <div class='sheet-col'>
                <table class="table_1" style="text-align:right;">
                    <tr>
                        <th data-i18n="domus-magna" >Domus Magna</th>
                        <td><input type="text" class="heading_2" name="attr_DomusMagna"></td>
                    </tr>
                    <tr>
                        <th data-i18n="primus" >Primus</th>
                        <td><input type="text" class="heading_2" name="attr_Primus"></td>
                    </tr>
                    <tr>
                        <th data-i18n="parens" >Parens</th>
                        <td><input type="text" class="heading_2" name="attr_Parens"></td>
                    </tr>
                    <tr>
                        <th data-i18n="covenant-of-apprenticeship" >Covenant of Apprenticeship</th>
                        <td><input type="text" class="heading_2" name="attr_CovenantofApprenticeship"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    <!-- Virtues & Flaws -->
    <div>
        <div class='sheet-2colrow'>
            <div class='sheet-col'>
                <h4 class="heading_label" data-i18n="virtues" >Virtues</h4>
                <fieldset class="repeating_virtue">
                    <table class="table_2" style="width:400px">
                        <tr>
                            <td><input type="text" class="heading_2 " name="attr_Virtue" style="width:245px">
                                <select name="attr_VirtueType" class="dropdown">
                                    <option value="Vminor" data-i18n="minor" >Minor</option>
                                    <option value="Vmajor" data-i18n="major" >Major</option>
                                    <option value="Vfree" data-i18n="free" >Free</option>
                                </select>
                            </td>
                            <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_virtue_show" value="1" checked><span></span></div></th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="checkbox" class="hider hidden" name="attr_virtue_show" value="1" checked>
                                <div class="sheet-hide">
                                    <textarea class="textarea_1" style="width:300px;" name="attr_virtue_text"></textarea>
                                        
                                </div>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class='sheet-col'>
                <h4 class="heading_label" data-i18n="flaws" >Flaws</h4>
                <fieldset class="repeating_flaw">
                    <table class="table_2" style="width:400px">
                        <tr>
                            <td><input type="text" class="heading_2" name="attr_flaw" style="width:245px">
                                <select name="attr_VirtueType" class="dropdown">
                                    <option value="Vminor" data-i18n="minor" >Minor</option>
                                    <option value="Vmajor" data-i18n="major" >Major</option>
                                    <option value="Vfree" data-i18n="free" >Free</option>
                                </select>
                            
                            </td>
                            <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_flaw_show" value="1" checked><span></span></div></th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="checkbox" class="hider hidden" name="attr_flaw_show" value="1" checked>
                                <div class="sheet-hide">
                                    <textarea class="textarea_1" style="width:300px;" name="attr_flaw_text"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
    <br>
    <!-- Personnality traits & Reputations -->
    <div>
        <div class='sheet-2colrow'>
            <div class='sheet-col'>
                <h4 class="heading_label" data-i18n="personality-traits" >Personality Traits</h4>
                <table class="table_2" style="width:400px">
                    <tr>
                        <td data-i18n="trait" >Trait</td>
                        <td data-i18n="score" >Score</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" style="width:245px" name="attr_Personality_Trait1"></td>
                        <td><input type="text" class="number_1" style="width:70px;" name="attr_Personality_Trait1_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_personality1_simple" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait1}}} {{Result=[[ @{simple-die} + (@{Personality_Trait1_Score}) [@{Personality_Trait1}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_personality1_stress" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait1}}} {{Result=[[ @{stress-die} + (@{Personality_Trait1_Score}) [@{Personality_Trait1}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" style="width:245px" name="attr_Personality_Trait2"></td>
                        <td><input type="text" class="number_1" style="width:70px;" name="attr_Personality_Trait2_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_personality2_simple" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait2}}} {{Result=[[ @{simple-die} + (@{Personality_Trait2_Score}) [@{Personality_Trait2}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_personality2_stress" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait2}}} {{Result=[[ @{stress-die} + (@{Personality_Trait2_Score}) [@{Personality_Trait2}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" style="width:245px" name="attr_Personality_Trait3"></td>
                        <td><input type="text" class="number_1" style="width:70px;" name="attr_Personality_Trait3_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_personality3_simple" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait3}}} {{Result=[[ @{simple-die} + (@{Personality_Trait3_Score}) [@{Personality_Trait3}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_personality3_stress" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait3}}} {{Result=[[ @{stress-die} + (@{Personality_Trait3_Score}) [@{Personality_Trait3}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" style="width:245px" name="attr_Personality_Trait4"></td>
                        <td><input type="text" class="number_1" style="width:70px;" name="attr_Personality_Trait4_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_personality4_simple" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait4}}} {{Result=[[ @{simple-die} + (@{Personality_Trait4_Score}) [@{Personality_Trait4}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_personality4_stress" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait4}}} {{Result=[[ @{stress-die} + (@{Personality_Trait4_Score}) [@{Personality_Trait4}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" style="width:245px" name="attr_Personality_Trait5"></td>
                        <td><input type="text" class="number_1" style="width:70px;" name="attr_Personality_Trait5_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_personality5_simple" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait5}}} {{Result=[[ @{simple-die} + (@{Personality_Trait5_Score}) [@{Personality_Trait5}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_personality5_stress" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait5}}} {{Result=[[ @{stress-die} + (@{Personality_Trait5_Score}) [@{Personality_Trait5}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" style="width:245px" name="attr_Personality_Trait6"></td>
                        <td><input type="text" class="number_1" style="width:70px;" name="attr_Personality_Trait6_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_personality6_simple" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait6}}} {{Result=[[ @{simple-die} + (@{Personality_Trait6_Score}) [@{Personality_Trait6}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_personality6_stress" value="&{template:generic} {{Banner=^{personality} ^{roll}}} {{Label=@{Personality_Trait6}}} {{Result=[[ @{stress-die} + (@{Personality_Trait6_Score}) [@{Personality_Trait6}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                </table>
            </div>
            <div class='sheet-col'>
                <h4 class="heading_label" data-i18n="reputations" >Reputations</h4>
                <table class="table_2" style="width:400px">
                    <tr>
                        <th></th>
                        <td data-i18n="type" >Type</td>
                        <td data-i18n="score" >Score</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" name="attr_Reputations1"></td>
                        <td><input type="text" class="heading_2a" name="attr_Reputations1_type"></td>
                        <td><input type="text" class="number_1" style="width:50px;" name="attr_Reputations1_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_reputation1_simple" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations1}}} {{Result=[[ @{simple-die} + (@{Reputations1_Score}) [@{Reputations1}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_reputation1_stress" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations1}}} {{Result=[[ @{stress-die} + (@{Reputations1_Score}) [@{Reputations1}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" name="attr_Reputations2"></td>
                        <td><input type="text" class="heading_2a" name="attr_Reputations2_type"></td>
                        <td><input type="text" class="number_1" style="width:50px;" name="attr_Reputations2_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_reputation2_simple" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations2}}} {{Result=[[ @{simple-die} + (@{Reputations2_Score}) [@{Reputations2}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_reputation2_stress" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations2}}} {{Result=[[ @{stress-die} + (@{Reputations2_Score}) [@{Reputations2}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" name="attr_Reputations3"></td>
                        <td><input type="text" class="heading_2a" name="attr_Reputations3_type"></td>
                        <td><input type="text" class="number_1" style="width:50px;" name="attr_Reputations3_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_reputation3_simple" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations3}}} {{Result=[[ @{simple-die} + (@{Reputations3_Score}) [@{Reputations3}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_reputation3_stress" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations3}}} {{Result=[[ @{stress-die} + (@{Reputations3_Score}) [@{Reputations3}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" name="attr_Reputations4"></td>
                        <td><input type="text" class="heading_2a" name="attr_Reputations4_type"></td>
                        <td><input type="text" class="number_1" style="width:50px;" name="attr_Reputations4_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_reputation4_simple" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations4}}} {{Result=[[ @{simple-die} + (@{Reputations4_Score}) [@{Reputations4}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_reputation4_stress" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations4}}} {{Result=[[ @{stress-die} + (@{Reputations4_Score}) [@{Reputations4}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" name="attr_Reputations5"></td>
                        <td><input type="text" class="heading_2a" name="attr_Reputations5_type"></td>
                        <td><input type="text" class="number_1" style="width:50px;" name="attr_Reputations5_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_reputation5_simple" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations5}}} {{Result=[[ @{simple-die} + (@{Reputations5_Score}) [@{Reputations5}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_reputation5_stress" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations5}}} {{Result=[[ @{stress-die} + (@{Reputations5_Score}) [@{Reputations5}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="heading_2" name="attr_Reputations6"></td>
                        <td><input type="text" class="heading_2a" name="attr_Reputations6_type"></td>
                        <td><input type="text" class="number_1" style="width:50px;" name="attr_Reputations6_score"></td>
                        <td><div class="flex-container-center">
                            <button type="roll" class="button simple-roll" name="roll_reputation6_simple" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations6}}} {{Result=[[ @{simple-die} + (@{Reputations6_Score}) [@{Reputations6}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                            <button type="roll" class="button stress-roll" name="roll_reputation6_stress" value="&{template:generic} {{Banner=^{reputation} ^{roll}}} {{Label=@{Reputations6}}} {{Result=[[ @{stress-die} + (@{Reputations6_Score}) [@{Reputations6}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                        </div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Inventory -->
    <div>
        <h4 class="heading_label" data-i18n="inventory" >Inventory</h4>
        <table class="table_2" style="width:830px">
            <tr>
                <td style="width:400px;" data-i18n="item" >Item</td>
                <td style="width:400px;" data-i18n="number" >Number</td>
                <th></th>
            </tr>
        </table>
        <fieldset class="repeating_item">
            <table class="table_2" style="width:830px">
                <tr>
                    <td style="width:450px;"><input type="text" class="heading_2" style="width:400px" name="attr_item_name" data-i18n-placeholder="item-name" placeholder="Item Name"></td>
                    <td style="width:350px;"><input type="number" class="number_1" name="attr_item_number" value="0"></td>
                    <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_item_show" value="1" checked><span></span></div></th>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="checkbox" class="hider hidden" name="attr_item_show" value="1" checked><span></span>
                        <div class="sheet-hide">
                            <textarea class="textarea_2" style="width:800px" name="attr_item_description" data-i18n-placeholder="description" placeholder="Description"></textarea>
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>