<!-- 2 Characteristics & Abilities -->
<div class="sheet-tab-content tab2">
    <div>
        <div class='sheet-2colrow' style="margin-top:10px;">
            <div class='sheet-col'>
                <!-- Characteristics -->
                <div>
                    <h4 class="heading_label" data-i18n="characteristics" >Characteristics</h4>
                    <table class="table_2" style="border:0px">
                        <tr>
                            <td><div class="heading"></div></td>
                            <td data-i18n="description" >Description</td>
                            <td data-i18n="score" >Score</td>
                            <td data-i18n="aging" >Aging</td>
                            <td data-i18n="bonus" >Bonus</td>
                        </tr>
                        <tr>
                            <th data-i18n="intelligence" >Intelligence</th>
                            <td><input type="text" class="heading_2" name="attr_Intelligence_Description"></td>
                            <td><input type="text" class="number_1" name="attr_Intelligence_Score" value="0"></td>
                            <td><input type="text" class="number_1" name="attr_Intelligence_Aging" value="0"></td>
                            <td><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_Intelligence_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=^{intelligence}}} {{result0=[[ @{simple-die} + (@{Intelligence_Score}) [@{intelligence_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Intelligence_Description}}} {{label1=^{score}}} {{result1=@{Intelligence_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_Intelligence_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=^{intelligence}}} {{result0=[[ @{stress-die} + (@{Intelligence_Score}) [@{intelligence_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Intelligence_Description}}} {{label1=^{score}}} {{result1=@{Intelligence_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th data-i18n="perception" >Perception</th>
                            <td><input type="text" class="heading_2" name="attr_Perception_Description"></td>
                            <td><input type="text" class="number_1" name="attr_Perception_Score" value="0"></td>
                            <td><input type="text" class="number_1" name="attr_Perception_Aging" value="0"></td>
                            <td><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_Perception_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=^{perception}}} {{result0=[[ @{simple-die} + (@{Perception_Score}) [@{perception_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Perception_Description}}} {{label1=^{score}}} {{result1=@{Perception_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_Perception_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=^{perception}}} {{result0=[[ @{stress-die} + (@{Perception_Score}) [@{perception_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Perception_Description}}} {{label1=^{score}}} {{result1=@{Perception_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th data-i18n="presence" >Presence</th>
                            <td><input type="text" class="heading_2" name="attr_Presence_Description"></td>
                            <td><input type="text" class="number_1" name="attr_Presence_Score" value="0"></td>
                            <td><input type="text" class="number_1" name="attr_Presence_Aging" value="0"></td>
                            <td><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_Presence_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=^{presence}}} {{result0=[[ @{simple-die} + (@{Presence_Score}) [@{presence_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Presence_Description}}} {{label1=^{score}}} {{result1=@{Presence_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_Presence_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=^{presence}}} {{result0=[[ @{stress-die} + (@{Presence_Score}) [@{presence_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Presence_Description}}} {{label1=^{score}}} {{result1=@{Presence_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th data-i18n="communication" >Communication</th>
                            <td><input type="text" class="heading_2" name="attr_Communication_Description"></td>
                            <td><input type="text" class="number_1" name="attr_Communication_Score" value="0"></td>
                            <td><input type="text" class="number_1" name="attr_Communication_Aging" value="0"></td>
                            <td><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_Communication_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=^{communication}}} {{result0=[[ @{simple-die} + (@{Communication_Score}) [@{communication_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Communication_Description}}} {{label1=^{score}}} {{result1=@{Communication_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_Communication_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=^{communication}}} {{result0=[[ @{stress-die} + (@{Communication_Score}) [@{communication_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Communication_Description}}} {{label1=^{score}}} {{result1=@{Communication_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                        </tr>
                        <tr><td colspan="5" style="padding-top: 15px ;margin-bottom: 5px;border-bottom: black 1px solid;"></td></tr>
                        <tr><td colspan="5" style="padding-bottom: 13px"></td></tr>
                        <tr>
                            <th data-i18n="strength" >Strength</th>
                            <td><input type="text" class="heading_2" name="attr_Strength_Description"></td>
                            <td><input type="text" class="number_1" name="attr_Strength_Score" value="0"></td>
                            <td><input type="text" class="number_1" name="attr_Strength_Aging" value="0"></td>
                            <td><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_Strength_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=^{strength}}} {{result0=[[ @{simple-die} + (@{Strength_Score}) [@{strength_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Strength_Description}}} {{label1=^{score}}} {{result1=@{Strength_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_Strength_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=^{strength}}} {{result0=[[ @{stress-die} + (@{Strength_Score}) [@{strength_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Strength_Description}}} {{label1=^{score}}} {{result1=@{Strength_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th data-i18n="stamina" >Stamina</th>
                            <td><input type="text" class="heading_2" name="attr_Stamina_Description"></td>
                            <td><input type="text" class="number_1" name="attr_Stamina_Score" value="0"></td>
                            <td><input type="text" class="number_1" name="attr_Stamina_Aging" value="0"></td>
                            <td><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_Stamina_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=^{stamina}}} {{result0=[[ @{simple-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Stamina_Description}}} {{label1=^{score}}} {{result1=@{Stamina_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_Stamina_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=^{stamina}}} {{result0=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Stamina_Description}}} {{label1=^{score}}} {{result1=@{Stamina_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th data-i18n="dexterity" >Dexterity</th>
                            <td><input type="text" class="heading_2" name="attr_Dexterity_Description"></td>
                            <td><input type="text" class="number_1" name="attr_Dexterity_Score" value="0"></td>
                            <td><input type="text" class="number_1" name="attr_Dexterity_Aging" value="0"></td>
                            <td><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_Dexterity_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=^{dexterity}}} {{result0=[[ @{simple-die} + (@{Dexterity_Score}) [@{dexterity_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Dexterity_Description}}} {{label1=^{score}}} {{result1=@{Dexterity_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_Dexterity_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=^{dexterity}}} {{result0=[[ @{stress-die} + (@{Dexterity_Score}) [@{dexterity_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Dexterity_Description}}} {{label1=^{score}}} {{result1=@{Dexterity_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th data-i18n="quickness" >Quickness</th>
                            <td><input type="text" class="heading_2" name="attr_Quickness_Description"></td>
                            <td><input type="text" class="number_1" name="attr_Quickness_Score" value="0"></td>
                            <td><input type="text" class="number_1" name="attr_Quickness_Aging" value="0"></td>
                            <td><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_Quickness_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=^{quickness}}} {{result0=[[ @{simple-die} + (@{Quickness_Score}) [@{quickness_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Quickness_Description}}} {{label1=^{score}}} {{result1=@{Quickness_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_Quickness_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=^{quickness}}} {{result0=[[ @{stress-die} + (@{Quickness_Score}) [@{quickness_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Quickness_Description}}} {{label1=^{score}}} {{result1=@{Quickness_Score}}} {{label2=^{weakness-m}}} {{result2=[[ [[floor(@{Fatigue})]] [@{fatigue_i18n}] + @{wound_total} [@{wounds_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[(?{@{circumstantial_i18n}|0})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                        </tr>
                    </table>
                </div>
                <!-- Aging -->
                <div>
                    <table class="table_2" style="border-width: 0px;">
                        <tr>
                            <th><h4 class="heading_label" data-i18n="decrepitude-aging" >Decrepitude/Aging</h4></th>
                            <td><input type="text" class="number_1" name="attr_Decrepitude" value="0"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea class="textarea_2" name="attr_Decrepitude_effects"></textarea></td>
                        </tr>
                    </table>
                </div>
                <!-- Effects -->
                <div>
                    <h4 class="heading_label" style="margin-bottom: 0px;" data-i18n="ongoing-effects" >Ongoing Effects</h4>
                    <textarea class="textarea_2" name="attr_Longevity_Scars"></textarea>
                </div>
            </div>
            <!-- Abilities -->
            <div class='sheet-col'>
                <h4 class="heading_label" data-i18n="abilities" style="margin-bottom: 15px;">Abilities</h4>
                <div>
                    <span class="has-tooltip">
                        <span data-i18n="characteristic" style="font-family: 'Macondo', cursive; color: #663333; font-size: 1.3em;">Characteristic</span>
                        <span class="sheet-tooltip" data-i18n="tooltip-default-characteristic">Default characteristic to use. Can be overriden per ability.</span>
                    </span>
                    <select class="select_1" name="attr_global_Ability_CharacName">
                        <option value="Intelligence" data-i18n="intelligence" >Intelligence</option>
                        <option value="Perception" data-i18n="perception" >Perception</option>
                        <option value="Presence" data-i18n="presence" >Presence</option>
                        <option value="Communication" data-i18n="communication" >Communication</option>
                        <option value="Strength" data-i18n="strength" >Strength</option>
                        <option value="Stamina" data-i18n="stamina" >Stamina</option>
                        <option value="Dexterity" data-i18n="dexterity" >Dexterity</option>
                        <option value="Quickness" data-i18n="quickness" >Quickness</option>
                    </select>
                </div>
                <table class="table_2" style="width:400px;">
                    <tr>
                        <td><div style="width:40px;"></div></td>
                        <td><div style="width:210px;" data-i18n="ability" >Ability</div></td>
                        <td><div style="width:60px;" data-i18n="score" >Score</div></td>
                        <td><div style="width:40px;">*</div></td>
                    </tr>
                </table>
                <fieldset class="repeating_ability">
                    <table class="table_2" style="width:400px;">
                        <tr>
                            <td width="30px"><div class="flex-container-center">
                                <button type="roll" class="button simple-roll" name="roll_ability_simple" value="&{template:ability} {{name=@{character_name}}} {{label0=@{Ability_name}}} {{result0=[[ @{simple-die} + (@{Ability_Score} + @{Ability_Puissant}) [@{Ability_name}] + (@{sys_at}@{character_name}@{sys_pipe}@{Ability_CharacName}_Score@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{Ability_CharacName}_i18n@{sys_rbk}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Ability_Speciality}}} {{label1=^{rank}}} {{result1=[[ @{Ability_Score} + @{Ability_Puissant} ]]}} {{label2=@{sys_at}@{character_name}@{sys_pipe}@{Ability_CharacName}_i18n@{sys_rbk}}} {{result2=[[ @{sys_at}@{character_name}@{sys_pipe}@{Ability_CharacName}_Score@{sys_rbk} ]]}} {{label3=^{weakness-m}}} {{result3=[[ ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] ]]}} {{label4=^{circumstances-m}}} {{result4=[[ (?{@{circumstantial_i18n}|0}) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                                <button type="roll" class="button stress-roll" name="roll_ability_stress" value="&{template:ability} {{name=@{character_name}}} {{label0=@{Ability_name}}} {{result0=[[ @{stress-die} + (@{Ability_Score} + @{Ability_Puissant}) [@{Ability_name}] + (@{sys_at}@{character_name}@{sys_pipe}@{Ability_CharacName}_Score@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{Ability_CharacName}_i18n@{sys_rbk}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n}|0}) [@{circumstances_i18n}] ]]}} {{banner=@{Ability_Speciality}}} {{label1=^{rank}}} {{result1=[[ @{Ability_Score} + @{Ability_Puissant} ]]}} {{label2=@{sys_at}@{character_name}@{sys_pipe}@{Ability_CharacName}_i18n@{sys_rbk}}} {{result2=[[ @{sys_at}@{character_name}@{sys_pipe}@{Ability_CharacName}_Score@{sys_rbk} ]]}} {{label3=^{weakness-m}}} {{result3=[[ ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] ]]}} {{label4=^{circumstances-m}}} {{result4=[[ (?{@{circumstantial_i18n}|0}) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                            </div></td>
                            <td width="240px">
                                <input type="text" style="width:25px; background: transparent; border: none; text-align: center; color: #53332a; font-variant: small-caps; font-family: Macondo, cursive; font-weight: bold; font-size: 14px; padding: 4px 0px;" name="attr_Ability_CharachShort" value="@{sys_at}@{Ability_CharacName}_short_i18n@{sys_rbk}" disabled >
                                <input type="text" style="width:210px; padding-left: 0px" class="heading_4" name="attr_Ability_name">
                            </td>
                            <td><input type="number" class="number_2" name="attr_Ability_TotalScore" value="[[(@{Ability_Score}) + (@{Ability_Puissant})]]" disabled="true" ></td>
                            <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_Ability_show" value="1" checked><span></span></div></th>
                        </tr>
                    </table>
                    <input type="checkbox" class="hider hidden" value="1" name="attr_Ability_show" checked>
                    <div class="sheet-hide" style="margin-bottom: 15px;">
                        <table class="table_2" style="width:400px">
                            <tr>
                                <th style="padding-bottom: 2px;">
                                    <span class="has-tooltip">
                                        <span data-i18n="characteristic">Characteristic</span>
                                        <span class="sheet-tooltip" data-i18n="tooltip-ability-characteristic">Select the caracteristic to use. Overrides the gobal selector.<br>"-Characteristic-" uses the global selector, "-Ask-" triggers a roll query (pop-up) for each roll.</span>
                                    </span>
                                </th>
                                <th data-i18n="speciality" >Speciality</th>
                                <th data-i18n="score" >Score</th>
                                <th data-i18n="bonus" >Bonus</th>
                            </tr>
                            <tr>
                                <td>
                                    <select class="select_1" name="attr_Ability_CharacName">
                                        <option class="italic" value="global_char" data-i18n="characteristic-choice" >-Global-</option>
                                        <option class="italic" value="ask" data-i18n="ask" >-Ask-</option>
                                        <option value="Intelligence" data-i18n="intelligence" >Intelligence</option>
                                        <option value="Perception" data-i18n="perception" >Perception</option>
                                        <option value="Presence" data-i18n="presence" >Presence</option>
                                        <option value="Communication" data-i18n="communication" >Communication</option>
                                        <option value="Strength" data-i18n="strength" >Strength</option>
                                        <option value="Stamina" data-i18n="stamina" >Stamina</option>
                                        <option value="Dexterity" data-i18n="dexterity" >Dexterity</option>
                                        <option value="Quickness" data-i18n="quickness" >Quickness</option>
                                    </select>
                                </td>
                                <td><input type="text" class="heading_4" name="attr_Ability_Speciality" data-i18n-placeholder="speciality" placeholder="Speciality" ></td>
                                <td><input type="number" class="number_2" name="attr_Ability_Score" value="0"></td>
                                <td><input type="text" class="number_2" name="attr_Ability_Puissant" value="0"><span></span></td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <span class="flex-container-left">XP 
                                        <span class="flex-container-left">
                                            <span class="has-tooltip">
                                                <input type="text" class="number-xp" name="attr_Ability_exp" value="0">
                                                <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                            </span>
                                            <span class="flex-container-center">(
                                                <span class="has-tooltip">
                                                    <input type="number" class="number-xp advance" name="attr_Ability_advancementExp" value="(5 - ((@{AcceleratedCheck}) * 4)) * ((@{Ability_Score}) + 1)" disabled="true">
                                                    <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                                </span>/
                                                <span class="has-tooltip">
                                                    <input type="number" class="number-xp total" name="attr_Ability_totalExp" value="(5 - ((@{AcceleratedCheck}) * 4)) * (((@{Ability_Score}) + 1) * ((@{Ability_Score}) + 2) / 2)" disabled="true">
                                                    <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                                </span>)
                                            </span>
                                        </span>
                                    </span>
                                </th>
                                <td colspan="2">
                                    <span data-i18n="accelerated-">Accelerated</span>
                                    <input type="checkbox" class="check" value="1" name="attr_AcceleratedCheck">
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>