<!-- 3 Magic -->
<div class="sheet-tab-content tab3">
    <!-- Techniques & Forms -->
    <div>
        <div class="artcontainer" style="margin-top:10px;">
            <div class='sheet-col' style="margin-right: 20px">
                <h4 class="heading_label" data-i18n="techniques" >Techniques</h4>
                <table class="table_3" style="width:270px;margin-bottom:16px;">
                    <tr>
                        <th><div style="width:35px;" data-i18n="score" >Score</div></th>
                        <th><div style="width:55px;" data-i18n="art" >Art</div></th>
                        <th><div style="width:110px;" data-i18n="exp" >Exp.</div></th>
                        <th><div style="width:45px;" data-i18n="bonus" >Bonus</div></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Creo_Score" value="0"></td>
                        <td data-i18n="creo" >Creo</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Creo_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Creo_advancementExp" value="1 * ((@{Creo_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Creo_totalExp" value="1 * (((@{Creo_Score}) + 1) * ((@{Creo_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center">
                            <input type="text" class="number_3 minor" name="attr_Creo_Puissant" value="0">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Intellego_Score" value="0"></td>
                        <td data-i18n="intellego" >Intellego</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Intellego_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Intellego_advancementExp" value="1 * ((@{Intellego_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Intellego_totalExp" value="1 * (((@{Intellego_Score}) + 1) * ((@{Intellego_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center">
                            <input type="text" class="number_3 minor" name="attr_Intellego_Puissant" value="0">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Muto_Score" value="0"></td>
                        <td data-i18n="muto" >Muto</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Muto_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Muto_advancementExp" value="1 * ((@{Muto_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Muto_totalExp" value="1 * (((@{Muto_Score}) + 1) * ((@{Muto_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center">
                            <input type="text" class="number_3 minor" name="attr_Muto_Puissant" value="0">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Perdo_Score" value="0"></td>
                        <td data-i18n="perdo" >Perdo</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Perdo_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Perdo_advancementExp" value="1 * ((@{Perdo_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Perdo_totalExp" value="1 * (((@{Perdo_Score}) + 1) * ((@{Perdo_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center">
                            <input type="text" class="number_3 minor" name="attr_Perdo_Puissant" value="0">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Rego_Score" value="0"></td>
                        <td data-i18n="rego" >Rego</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Rego_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Rego_advancementExp" value="1 * ((@{Rego_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Rego_totalExp" value="1 * (((@{Rego_Score}) + 1) * ((@{Rego_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center">
                            <input type="text" class="number_3 minor" name="attr_Rego_Puissant" value="0">
                        </td>
                    </tr>
                </table>
            </div>
            <div class='sheet-col' style="margin-right: 20px">
                <h4 class="heading_label" data-i18n="forms" >Forms</h4>
                <table class="table_3" style="width:260px;">
                    <tr>
                        <th><div style="width:35px;" data-i18n="score" >Score</div></th>
                        <th><div style="width:55px;" data-i18n="art" >Art</div></th>
                        <th><div style="width:110px;" data-i18n="exp" >Exp.</div></th>
                        <th><div style="width:45px;" data-i18n="bonus" >Bonus</div></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Animal_Score" value="0"></td>
                        <td data-i18n="animal" >Animal</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Animal_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Animal_advancementExp" value="1 * ((@{Animal_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Animal_totalExp" value="1 * (((@{Animal_Score}) + 1) * ((@{Animal_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Animal_Puissant" value="0"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Aquam_Score" value="0"></td>
                        <td data-i18n="aquam" >Aquam</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Aquam_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Aquam_advancementExp" value="1 * ((@{Aquam_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Aquam_totalExp" value="1 * (((@{Aquam_Score}) + 1) * ((@{Aquam_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Aquam_Puissant" value="0"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Auram_Score" value="0"></td>
                        <td data-i18n="auram" >Auram</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Auram_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Auram_advancementExp" value="1 * ((@{Auram_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Auram_totalExp" value="1 * (((@{Auram_Score}) + 1) * ((@{Auram_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Auram_Puissant" value="0"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Corpus_Score" value="0"></td>
                        <td data-i18n="corpus" >Corpus</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Corpus_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Corpus_advancementExp" value="1 * ((@{Corpus_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Corpus_totalExp" value="1 * (((@{Corpus_Score}) + 1) * ((@{Corpus_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Corpus_Puissant" value="0"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Herbam_Score" value="0"></td>
                        <td data-i18n="herbam" >Herbam</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Herbam_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Herbam_advancementExp" value="1 * ((@{Herbam_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Herbam_totalExp" value="1 * (((@{Herbam_Score}) + 1) * ((@{Herbam_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Herbam_Puissant" value="0"></td>
                    </tr>
                </table>
            </div>
            <div class='sheet-col' style="margin-right: 20px">
                <div style="height:16px"></div>
                <table class="table_3" style="width:260px;">
                    <tr>
                        <th><div style="width:35px;" data-i18n="score" >Score</div></th>
                        <th><div style="width:55px;" data-i18n="art" >Art</div></th>
                        <th><div style="width:110px;" data-i18n="exp" >Exp.</div></th>
                        <th><div style="width:45px;" data-i18n="bonus" >Bonus</div></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Ignem_Score" value="0"></td>
                        <td data-i18n="ignem" >Ignem</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Ignem_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Ignem_advancementExp" value="1 * ((@{Ignem_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Ignem_totalExp" value="1 * (((@{Ignem_Score}) + 1) * ((@{Ignem_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Ignem_Puissant" value="0"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Imaginem_Score" value="0"></td>
                        <td data-i18n="imaginem" >Imaginem</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Imaginem_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Imaginem_advancementExp" value="1 * ((@{Imaginem_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Imaginem_totalExp" value="1 * (((@{Imaginem_Score}) + 1) * ((@{Imaginem_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Imaginem_Puissant" value="0"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Mentem_Score" value="0"></td>
                        <td data-i18n="mentem" >Mentem</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Mentem_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Mentem_advancementExp" value="1 * ((@{Mentem_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Mentem_totalExp" value="1 * (((@{Mentem_Score}) + 1) * ((@{Mentem_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Mentem_Puissant" value="0"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Terram_Score" value="0"></td>
                        <td data-i18n="terram" >Terram</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Terram_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Terram_advancementExp" value="1 * ((@{Terram_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Terram_totalExp" value="1 * (((@{Terram_Score}) + 1) * ((@{Terram_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Terram_Puissant" value="0"></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_3" name="attr_Vim_Score" value="0"></td>
                        <td data-i18n="vim" >Vim</td>
                        <td>
                            <span class="flex-container-left">
                                <span class="has-tooltip">
                                    <input type="text" class="number-xp" name="attr_Vim_exp" value="0">
                                    <span class="sheet-tooltip" data-i18n="tooltip-xp-input">XP points in this art or ability. You can store either the total amount of XP, or just the XP towards the next score.</span>
                                </span>
                                <span class="flex-container-center">(
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp advance" name="attr_Vim_advancementExp" value="1 * ((@{Vim_Score}) + 1)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-step">Additional XP required for the next score, beyond the XP for the current level.<br>If you store only the XP towards the next score in the xp input, increase the score when this amount is reached.</span>
                                    </span>/
                                    <span class="has-tooltip">
                                        <input type="number" class="number-xp total" name="attr_Vim_totalExp" value="1 * (((@{Vim_Score}) + 1) * ((@{Vim_Score}) + 2) / 2)" disabled="true">
                                        <span class="sheet-tooltip" style="width: 200px; margin-left: -100px;" data-i18n="tooltip-xp-total">Total XP required for the next score.<br>If you store the total XP in the XP input, increase the score when this amount is reached.</span>
                                    </span>)
                                </span>
                            </span>
                    
                        </td>
                        <td style="text-align: center"><input type="text" class="number_3 minor" name="attr_Vim_Puissant" value="0"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="divider" style="height:15px;"><span>&nbsp;</span></div>
    <!-- Casting totals -->
    <div>
        <h4 class="heading_label" data-i18n="base-casting-totals" >Base Casting Totals</h4>
        <table class="table_3" style="width:100%;">
            <tr>
                <th data-i18n="spontaneous-spells" >Spontaneous Spells</th>
                <th style="width:30px;text-align:center;padding-left:0px;" data-i18n="roll" >Roll</th>
                <th data-i18n="total" >Total</th>
                <th data-i18n="technique" >Technique</th>
                <th data-i18n="form" >Form</th>
                <th data-i18n="focus" >Focus</th>
                <th data-i18n="deficiency" >Deficiency</th>
                <th data-i18n="sta" >Sta</th>
                <th data-i18n="aura" >Aura</th>
                <th data-i18n="artes-lib-" >Artes Lib.</th>
                <th data-i18n="philos-" >Philos.</th>
            </tr>
            <!-- Fatiguing Spontaneous -->
            <tr>
                <td data-i18n="fatiguing" >Fatiguing</td>
                <td><div class="flex-container-center">
                    <!-- <button style="margin: 0px auto;" type="roll" class="button simple-roll" name="roll_Spontaneous1_simple" value="$spontaneous_roll_simple$"></button> -->
                    <button style="margin: 0px auto;" type="roll" class="button stress-roll single-roll" name="roll_Spontaneous1_stress" value="&{template:arcane} {{label0=^{spontaneous} ^{casting}}} {{result0=[[ (@{stress-die} + @{Spontaneous1_Technique} + @{Spontaneous1_Form} + ([[@{Spontaneous1_Focus}]]) [@{focus_i18n}] + (@{gestures}) + (@{words}) + (@{Stamina_Score}) [@{stamina_i18n}] + (@{aura}) [@{aura_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}] ) / ([[1 + (@{Spontaneous1_Deficiency})]] [@{deficiency_i18n}]) /2]]}} {{label1=^{aura}}} {{result1=@{aura}}} {{label2=^{weakness-m}}} {{result2=[[ (@{wound_total}) [@{wounds_i18n}] + [[floor(@{fatigue})]] [@{fatigue_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[ ?{@{modifiers_i18n}|0} ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical-spontaneous)}} {{stress=1}}"></button>
                </div></td>
                <td><input type="number" class="number_2" name="attr_Spontaneous1" value="((@{Spontaneous1_Technique} + @{Spontaneous1_Form} + (@{Spontaneous1_Focus}) + @{gestures} + @{words} + @{Stamina_Score} + @{aura})/2) / (1 + (@{Spontaneous1_Deficiency}))" disabled="true"></td>
                <td>
                    <select class="select_1" name="attr_Spontaneous1_Technique">
                        <option class="italic" value="0 [@{technique_i18n}]" data-i18n="technique" >Technique</option>
                        <option value="(@{Creo_Score} + @{Creo_Puissant}) [@{creo_i18n}]" data-i18n="creo" >Creo</option>
                        <option value="(@{Intellego_Score} + @{Intellego_Puissant}) [@{intellego_i18n}]" data-i18n="intellego" >Intellego</option>
                        <option value="(@{Muto_Score} + @{Muto_Puissant}) [@{muto_i18n}]" data-i18n="muto" >Muto</option>
                        <option value="(@{Perdo_Score} + @{Perdo_Puissant}) [@{perdo_i18n}]" data-i18n="perdo" >Perdo</option>
                        <option value="(@{Rego_Score} + @{Rego_Puissant}) [@{rego_i18n}]" data-i18n="rego" >Rego</option>
                    </select>
                </td>
                <td>
                    <select class="select_1" name="attr_Spontaneous1_Form">
                        <option class="italic" value="0 [@{form_i18n}]" data-i18n="form" >Form</option>
                        <option value="(@{Animal_Score} + @{Animal_Puissant}) [@{animal_i18n}]" data-i18n="animal" >Animal</option>
                        <option value="(@{Aquam_Score} + @{Aquam_Puissant}) [@{aquam_i18n}]" data-i18n="aquam" >Aquam</option>
                        <option value="(@{Auram_Score} + @{Auram_Puissant}) [@{auram_i18n}]" data-i18n="auram" >Auram</option>
                        <option value="(@{Corpus_Score} + @{Corpus_Puissant}) [@{corpus_i18n}]" data-i18n="corpus" >Corpus</option>
                        <option value="(@{Herbam_Score} + @{Herbam_Puissant}) [@{herbam_i18n}]" data-i18n="herbam" >Herbam</option>
                        <option value="(@{Ignem_Score} + @{Ignem_Puissant}) [@{ignem_i18n}]" data-i18n="ignem" >Ignem</option>
                        <option value="(@{Imaginem_Score} + @{Imaginem_Puissant}) [@{imaginem_i18n}]" data-i18n="imaginem" >Imaginem</option>
                        <option value="(@{Mentem_Score} + @{Mentem_Puissant}) [@{mentem_i18n}]" data-i18n="mentem" >Mentem</option>
                        <option value="(@{Terram_Score} + @{Terram_Puissant}) [@{terram_i18n}]" data-i18n="terram" >Terram</option>
                        <option value="(@{Vim_Score} + @{Vim_Puissant}) [@{vim_i18n}]" data-i18n="vim" >Vim</option>
                    </select>
                </td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Spontaneous1_Focus" value="((@{Spontaneous1_Technique} + @{Spontaneous1_Form} - abs(@{Spontaneous1_Technique} - @{Spontaneous1_Form}))/2)"></input></td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Spontaneous1_Deficiency" value="1"></input></td>
                <td><input type="number" class="number_2" name="attr_Spontaneous1_Sta" value="@{Stamina_Score}" disabled="true"></td>
                <td><input type="number" class="number_2" name="attr_Spontaneous1_aura" value="@{aura}" disabled="true"></td>
                <td></td>
                <td></td>
            </tr>
            <!-- Ceremonial Spontaneous -->
            <tr>
                <td data-i18n="ceremonial" >Ceremonial</td>
                <td><div class="flex-container-center">
                    <!-- <button style="margin: 0px auto;" type="roll" class="button simple-roll" name="roll_Ceremonial_simple" value="$ceremonial_roll_simple$"></button> -->
                    <button style="margin: 0px auto;" type="roll" class="button stress-roll single-roll" name="roll_Ceremonial_stress" value="&{template:arcane} {{label0=^{ceremonial} ^{casting}}} {{result0=[[ (@{stress-die} + @{Ceremonial_Technique} + @{Ceremonial_Form} + ([[@{Ceremonial_Focus}]]) [@{focus_i18n}] + (@{gestures}) + (@{words}) + (@{Stamina_Score}) [@{stamina_i18n}] + (@{aura}) [@{aura_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (@{Ceremonial_Artes_Lib}) [@{artes_i18n}] + (@{Ceremonial_Philos}) [@{philos_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}] ) / ([[1 + (@{Ceremonial_Deficiency})]] [@{deficiency_i18n}]) /2 ]]}} {{label1=^{aura}}} {{result1=@{aura}}} {{label2=^{weakness-m}}} }} {{result2=[[ (@{wound_total}) [@{wounds_i18n}] + [[floor(@{fatigue})]] [@{fatigue_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=?{@{modifiers_i18n}|0}}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical-spontaneous)}} {{stress=1}}"></button>
                </div></td>
                <td><input type="number" class="number_2" name="attr_Ceremonial" value="((@{Ceremonial_Technique} + @{Ceremonial_Form} + (@{Ceremonial_Focus}) + @{gestures} + @{words} + @{Stamina_Score} + @{aura} + @{Ceremonial_Artes_Lib} + @{Ceremonial_Philos})/2 ) / (1 + (@{Ceremonial_Deficiency}))" disabled="true"></td>
                <td>
                    <select class="select_1" name="attr_Ceremonial_Technique">
                        <option class="italic" value="0 [@{technique_i18n}]" data-i18n="technique" >Technique</option>
                        <option value="(@{Creo_Score} + @{Creo_Puissant}) [@{creo_i18n}]" data-i18n="creo" >Creo</option>
                        <option value="(@{Intellego_Score} + @{Intellego_Puissant}) [@{intellego_i18n}]" data-i18n="intellego" >Intellego</option>
                        <option value="(@{Muto_Score} + @{Muto_Puissant}) [@{muto_i18n}]" data-i18n="muto" >Muto</option>
                        <option value="(@{Perdo_Score} + @{Perdo_Puissant}) [@{perdo_i18n}]" data-i18n="perdo" >Perdo</option>
                        <option value="(@{Rego_Score} + @{Rego_Puissant}) [@{rego_i18n}]" data-i18n="rego" >Rego</option>
                    </select>
                </td>
                <td>
                    <select class="select_1" name="attr_Ceremonial_Form">
                        <option class="italic" value="0 [@{form_i18n}]" data-i18n="form" >Form</option>
                        <option value="(@{Animal_Score} + @{Animal_Puissant}) [@{animal_i18n}]" data-i18n="animal" >Animal</option>
                        <option value="(@{Aquam_Score} + @{Aquam_Puissant}) [@{aquam_i18n}]" data-i18n="aquam" >Aquam</option>
                        <option value="(@{Auram_Score} + @{Auram_Puissant}) [@{auram_i18n}]" data-i18n="auram" >Auram</option>
                        <option value="(@{Corpus_Score} + @{Corpus_Puissant}) [@{corpus_i18n}]" data-i18n="corpus" >Corpus</option>
                        <option value="(@{Herbam_Score} + @{Herbam_Puissant}) [@{herbam_i18n}]" data-i18n="herbam" >Herbam</option>
                        <option value="(@{Ignem_Score} + @{Ignem_Puissant}) [@{ignem_i18n}]" data-i18n="ignem" >Ignem</option>
                        <option value="(@{Imaginem_Score} + @{Imaginem_Puissant}) [@{imaginem_i18n}]" data-i18n="imaginem" >Imaginem</option>
                        <option value="(@{Mentem_Score} + @{Mentem_Puissant}) [@{mentem_i18n}]" data-i18n="mentem" >Mentem</option>
                        <option value="(@{Terram_Score} + @{Terram_Puissant}) [@{terram_i18n}]" data-i18n="terram" >Terram</option>
                        <option value="(@{Vim_Score} + @{Vim_Puissant}) [@{vim_i18n}]" data-i18n="vim" >Vim</option>
                    </select>
                </td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Ceremonial_Focus" value="((@{Ceremonial_Technique} + @{Ceremonial_Form} - abs(@{Ceremonial_Technique} - @{Ceremonial_Form}))/2)"></input></td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Ceremonial_Deficiency" value="1"></input></td>
                <td><input type="number" class="number_2" name="attr_Ceremonial_Sta" value="@{Stamina_Score}" disabled="true"></td>
                <td><input type="number" class="number_2" name="attr_Ceremonial_aura" value="@{aura}" disabled="true"></td>
                <td><input type="number" class="number_2" name="attr_Ceremonial_Artes_Lib" value="0"></td>
                <td><input type="number" class="number_2" name="attr_Ceremonial_Philos" value="0"></td>

            </tr>
            <!-- Non Fatiguing Spontaneous -->
            <tr>
                <td data-i18n="non-fatiguing" >Non-Fatiguing</td>
                <td><div class="flex-container-center">
                    <button style="margin: 0px auto;" type="roll" class="button simple-roll single-roll" name="roll_Spontaneous2_nodice" value="&{template:arcane} {{label0=^{spontaneous} ^{casting}}} {{result0=[[ ( @{Spontaneous2_Technique} + @{Spontaneous2_Form} + ([[@{Spontaneous2_Focus}]]) [@{focus_i18n}] + (@{gestures}) + (@{words}) + (@{Stamina_Score}) [@{stamina_i18n}] + (@{aura}) [@{aura_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}] ) / ([[1 + (@{Spontaneous1_Deficiency})]] [@{deficiency_i18n}]) /5]]}} {{label1=^{aura}}} {{result1=@{aura}}} {{label2=^{weakness-m}}} {{result2=[[ (@{wound_total}) [@{wounds_i18n}] + [[floor(@{fatigue})]] [@{fatigue_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[ ?{@{modifiers_i18n}|0} ]]}}"></button>
                </div></td>
                <td><input type="number" class="number_2" name="attr_Spontaneous2" value="((@{Spontaneous2_Technique} + @{Spontaneous2_Form} + (@{Spontaneous2_Focus}) + @{gestures} + @{words} + @{Stamina_Score} + @{aura})/5) / (1 + (@{Spontaneous2_Deficiency}))" disabled="true"></td>
                <td>
                    <select class="select_1" name="attr_Spontaneous2_Technique">
                        <option class="italic" value="0" data-i18n="technique" >Technique</option>
                        <option value="(@{Creo_Score} + @{Creo_Puissant}) [@{creo_i18n}]" data-i18n="creo" >Creo</option>
                        <option value="(@{Intellego_Score} + @{Intellego_Puissant}) [@{intellego_i18n}]" data-i18n="intellego" >Intellego</option>
                        <option value="(@{Muto_Score} + @{Muto_Puissant}) [@{muto_i18n}]" data-i18n="muto" >Muto</option>
                        <option value="(@{Perdo_Score} + @{Perdo_Puissant}) [@{perdo_i18n}]" data-i18n="perdo" >Perdo</option>
                        <option value="(@{Rego_Score} + @{Rego_Puissant}) [@{rego_i18n}]" data-i18n="rego" >Rego</option>
                    </select>
                </td>
                <td>
                    <select class="select_1" name="attr_Spontaneous2_Form">
                        <option class="italic" value="0" data-i18n="form" >Form</option>
                        <option value="(@{Animal_Score} + @{Animal_Puissant}) [@{animal_i18n}]" data-i18n="animal" >Animal</option>
                        <option value="(@{Aquam_Score} + @{Aquam_Puissant}) [@{aquam_i18n}]" data-i18n="aquam" >Aquam</option>
                        <option value="(@{Auram_Score} + @{Auram_Puissant}) [@{auram_i18n}]" data-i18n="auram" >Auram</option>
                        <option value="(@{Corpus_Score} + @{Corpus_Puissant}) [@{corpus_i18n}]" data-i18n="corpus" >Corpus</option>
                        <option value="(@{Herbam_Score} + @{Herbam_Puissant}) [@{herbam_i18n}]" data-i18n="herbam" >Herbam</option>
                        <option value="(@{Ignem_Score} + @{Ignem_Puissant}) [@{ignem_i18n}]" data-i18n="ignem" >Ignem</option>
                        <option value="(@{Imaginem_Score} + @{Imaginem_Puissant}) [@{imaginem_i18n}]" data-i18n="imaginem" >Imaginem</option>
                        <option value="(@{Mentem_Score} + @{Mentem_Puissant}) [@{mentem_i18n}]" data-i18n="mentem" >Mentem</option>
                        <option value="(@{Terram_Score} + @{Terram_Puissant}) [@{terram_i18n}]" data-i18n="terram" >Terram</option>
                        <option value="(@{Vim_Score} + @{Vim_Puissant}) [@{vim_i18n}]" data-i18n="vim" >Vim</option>
                    </select>
                </td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Spontaneous2_Focus" value="((@{Spontaneous2_Technique} + @{Spontaneous2_Form} - abs(@{Spontaneous2_Technique} - @{Spontaneous2_Form}))/2)"></input></td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Spontaneous2_Deficiency" value="1"></input></td>
                <td><input type="number" class="number_2" name="attr_Spontaneous2_Sta" value="@{Stamina_Score}" disabled="true"></td>
                <td><input type="number" class="number_2" name="attr_Spontaneous2_aura" value="@{aura}" disabled="true"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th data-i18n="designed-spells" >Designed Spells</th>
                <td colspan="9"></td>
            </tr>
            <!-- Formulaic -->
            <tr>
                <td data-i18n="formulaic" >Formulaic</td>
                <td><div class="flex-container-center">
                    <button style="margin: 0px auto;" type="roll" class="button simple-roll" name="roll_Formulaic_simple" value="&{template:arcane} {{label0=^{formulaic} ^{casting}}} {{result0=[[ (@{simple-die} + @{Formulaic_Technique} + @{Formulaic_Form} + ([[@{Formulaic_Focus}]]) [@{focus_i18n}] + (@{gestures}) + (@{words}) + (@{Stamina_Score}) [@{stamina_i18n}] + (@{aura}) [@{aura_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}]) / ([[1 + (@{Formulaic_Deficiency})]] [@{deficiency_i18n}]) ]]}} {{label1=^{aura}}} {{result1=@{aura}}} {{label2=^{weakness-m}}} {{result2=[[ (@{wound_total}) [@{wounds_i18n}] + [[floor(@{fatigue})]] [@{fatigue_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=?{@{modifiers_i18n}|0}}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                    <button style="margin: 0px auto;" type="roll" class="button stress-roll" name="roll_Formulaic_stress" value="&{template:arcane} {{label0=^{formulaic} ^{casting}}} {{result0=[[ (@{stress-die} + @{Formulaic_Technique} + @{Formulaic_Form} + ([[@{Formulaic_Focus}]]) [@{focus_i18n}] + (@{gestures}) + (@{words}) + (@{Stamina_Score}) [@{stamina_i18n}] + (@{aura}) [@{aura_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}]) / ([[1 + (@{Formulaic_Deficiency})]] [@{deficiency_i18n}]) ]]}} {{label1=^{aura}}} {{result1=@{aura}}} {{label2=^{weakness-m}}} {{result2=[[ (@{wound_total}) [@{wounds_i18n}] + [[floor(@{fatigue})]] [@{fatigue_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=?{@{modifiers_i18n}|0}}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                </div></td>
                <td><input type="number" class="number_2" name="attr_Formulaic" value="(@{Formulaic_Technique} + @{Formulaic_Form} + (@{Formulaic_Focus}) + @{gestures} + @{words} + @{Stamina_Score} + @{aura}) / (1 + (@{Formulaic_Deficiency}))" disabled="true"></td>
                <td>
                    <select class="select_1" name="attr_Formulaic_Technique">
                        <option class="italic" value="0 [@{technique_i18n}]" data-i18n="technique" >Technique</option>
                        <option value="(@{Creo_Score} + @{Creo_Puissant}) [@{creo_i18n}]" data-i18n="creo" >Creo</option>
                        <option value="(@{Intellego_Score} + @{Intellego_Puissant}) [@{intellego_i18n}]" data-i18n="intellego" >Intellego</option>
                        <option value="(@{Muto_Score} + @{Muto_Puissant}) [@{muto_i18n}]" data-i18n="muto" >Muto</option>
                        <option value="(@{Perdo_Score} + @{Perdo_Puissant}) [@{perdo_i18n}]" data-i18n="perdo" >Perdo</option>
                        <option value="(@{Rego_Score} + @{Rego_Puissant}) [@{rego_i18n}]" data-i18n="rego" >Rego</option>
                    </select>
                </td>
                <td>
                    <select class="select_1" name="attr_Formulaic_Form">
                        <option class="italic" value="0 [@{form_i18n}]" data-i18n="form" >Form</option>
                        <option value="(@{Animal_Score} + @{Animal_Puissant}) [@{animal_i18n}]" data-i18n="animal" >Animal</option>
                        <option value="(@{Aquam_Score} + @{Aquam_Puissant}) [@{aquam_i18n}]" data-i18n="aquam" >Aquam</option>
                        <option value="(@{Auram_Score} + @{Auram_Puissant}) [@{auram_i18n}]" data-i18n="auram" >Auram</option>
                        <option value="(@{Corpus_Score} + @{Corpus_Puissant}) [@{corpus_i18n}]" data-i18n="corpus" >Corpus</option>
                        <option value="(@{Herbam_Score} + @{Herbam_Puissant}) [@{herbam_i18n}]" data-i18n="herbam" >Herbam</option>
                        <option value="(@{Ignem_Score} + @{Ignem_Puissant}) [@{ignem_i18n}]" data-i18n="ignem" >Ignem</option>
                        <option value="(@{Imaginem_Score} + @{Imaginem_Puissant}) [@{imaginem_i18n}]" data-i18n="imaginem" >Imaginem</option>
                        <option value="(@{Mentem_Score} + @{Mentem_Puissant}) [@{mentem_i18n}]" data-i18n="mentem" >Mentem</option>
                        <option value="(@{Terram_Score} + @{Terram_Puissant}) [@{terram_i18n}]" data-i18n="terram" >Terram</option>
                        <option value="(@{Vim_Score} + @{Vim_Puissant}) [@{vim_i18n}]" data-i18n="vim" >Vim</option>
                    </select>
                </td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Formulaic_Focus" value="((@{Formulaic_Technique} + @{Formulaic_Form} - abs(@{Formulaic_Technique} - @{Formulaic_Form}))/2)"></input></td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Formulaic_Deficiency" value="1"></input></td>
                <td><input type="number" class="number_2" name="attr_Formulaic_Sta" value="@{Stamina_Score}" disabled="true"></td>
                <td><input type="number" class="number_2" name="attr_Formulaic_aura" value="@{aura}" disabled="true"></td>
                <td></td>
                <td></td>
            </tr>
            <!-- Ritual -->
            <tr>
                <td data-i18n="ritual" >Ritual</td>
                <td><div class="flex-container-center">
                    <button style="margin: 0px auto;" type="roll" class="button simple-roll" name="roll_Ritual_simple" value="&{template:arcane} {{label0=^{ritual} ^{casting}}} {{result0=[[ (@{simple-die} + @{Ritual_Technique} + @{Ritual_Form} + ([[@{Ritual_Focus}]]) [@{focus_i18n}] + (@{Stamina_Score}) [@{stamina_i18n}] + (@{aura}) [@{aura_i18n}] + (@{Ritual_Artes_Lib}) [@{artes_i18n}] + (@{Ritual_Philos}) [@{philos_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{fatigue})]]) [@{fatigue_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}]) / ([[1 + (@{Ritual_Deficiency})]] [@{deficiency_i18n}]) ]]}} {{label1=^{aura}}} {{result1=@{aura}}} {{label2=^{weakness-m}}} {{result2=[[ @{wound_total}[@{wounds_i18n}] + [[floor(@{fatigue})]][@{fatigue_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=?{@{modifiers_i18n}|0}}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                    <button style="margin: 0px auto;" type="roll" class="button stress-roll" name="roll_Ritual_stress" value="&{template:arcane} {{label0=^{ritual} ^{casting}}} {{result0=[[ (@{stress-die} + @{Ritual_Technique} + @{Ritual_Form} + ([[@{Ritual_Focus}]]) [@{focus_i18n}] + (@{Stamina_Score}) [@{stamina_i18n}] + (@{aura}) [@{aura_i18n}] + (@{Ritual_Artes_Lib}) [@{artes_i18n}] + (@{Ritual_Philos}) [@{philos_i18n}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{fatigue})]]) [@{fatigue_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}]) / ([[1 + (@{Ritual_Deficiency})]] [@{deficiency_i18n}]) ]]}} {{label1=^{aura}}} {{result1=@{aura}}} {{label2=^{weakness-m}}} {{result2=[[ @{wound_total}[@{wounds_i18n}] + [[floor(@{fatigue})]][@{fatigue_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=?{@{modifiers_i18n}|0}}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                </div></td>
                <td><input type="number" class="number_2" name="attr_Ritual" value="(@{Ritual_Technique} + @{Ritual_Form} + (@{Ritual_Focus}) + @{Stamina_Score} + @{aura} + @{Ritual_Artes_Lib} + @{Ritual_Philos}) / (1 + (@{Ritual_Deficiency}))" disabled="true"></td>
                <td>
                    <select class="select_1" name="attr_Ritual_Technique">
                        <option class="italic" value="0 [@{technique_i18n}]" data-i18n="technique" >Technique</option>
                        <option value="(@{Creo_Score} + @{Creo_Puissant}) [@{creo_i18n}]" data-i18n="creo" >Creo</option>
                        <option value="(@{Intellego_Score} + @{Intellego_Puissant}) [@{intellego_i18n}]" data-i18n="intellego" >Intellego</option>
                        <option value="(@{Muto_Score} + @{Muto_Puissant}) [@{muto_i18n}]" data-i18n="muto" >Muto</option>
                        <option value="(@{Perdo_Score} + @{Perdo_Puissant}) [@{perdo_i18n}]" data-i18n="perdo" >Perdo</option>
                        <option value="(@{Rego_Score} + @{Rego_Puissant}) [@{rego_i18n}]" data-i18n="rego" >Rego</option>
                    </select>
                </td>
                <td>
                    <select class="select_1" name="attr_Ritual_Form">
                        <option class="italic" value="0 [@{form_i18n}]" data-i18n="form" >Form</option>
                        <option value="(@{Animal_Score} + @{Animal_Puissant}) [@{animal_i18n}]" data-i18n="animal" >Animal</option>
                        <option value="(@{Aquam_Score} + @{Aquam_Puissant}) [@{aquam_i18n}]" data-i18n="aquam" >Aquam</option>
                        <option value="(@{Auram_Score} + @{Auram_Puissant}) [@{auram_i18n}]" data-i18n="auram" >Auram</option>
                        <option value="(@{Corpus_Score} + @{Corpus_Puissant}) [@{corpus_i18n}]" data-i18n="corpus" >Corpus</option>
                        <option value="(@{Herbam_Score} + @{Herbam_Puissant}) [@{herbam_i18n}]" data-i18n="herbam" >Herbam</option>
                        <option value="(@{Ignem_Score} + @{Ignem_Puissant}) [@{ignem_i18n}]" data-i18n="ignem" >Ignem</option>
                        <option value="(@{Imaginem_Score} + @{Imaginem_Puissant}) [@{imaginem_i18n}]" data-i18n="imaginem" >Imaginem</option>
                        <option value="(@{Mentem_Score} + @{Mentem_Puissant}) [@{mentem_i18n}]" data-i18n="mentem" >Mentem</option>
                        <option value="(@{Terram_Score} + @{Terram_Puissant}) [@{terram_i18n}]" data-i18n="terram" >Terram</option>
                        <option value="(@{Vim_Score} + @{Vim_Puissant}) [@{vim_i18n}]" data-i18n="vim" >Vim</option>
                    </select>
                </td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Ritual_Focus" value="((@{Ritual_Technique} + @{Ritual_Form} - abs(@{Ritual_Technique} - @{Ritual_Form}))/2)"></input></td>
                <td style="text-align: center;"><input type="checkbox" class="check" name="attr_Ritual_Deficiency" value="1"></input></td>
                <td><input type="number" class="number_2" name="attr_Ritual_Sta" value="@{Stamina_Score}" disabled="true"></td>
                <td><input type="number" class="number_2" name="attr_Ritual_aura" value="@{aura}" disabled="true"></td>
                <td><input type="number" class="number_2" name="attr_Ritual_Artes_Lib" value="0"></td>
                <td><input type="number" class="number_2" name="attr_Ritual_Philos" value="0"></td>
            </tr>
            <tr></tr>
            <tr>
                <th data-i18n="bonus" >Bonus</th>
                <td colspan="9"></td>
            </tr>
            <tr>
                <td style="text-align:right;"><span style="font-size:1.4em;" data-i18n="aura" >Aura</span></td>
                <td><input type="number" class="number_1" name="attr_aura" value="3"></td>
                <td style="text-align:right;" colspan="2"><span style="font-size:1.2em; margin-right:15px" data-i18n="gestures" >Gestures</span></td>
                <td>
                    <select class="select_1" name="attr_gestures">
                        <option class="italic" value="1 [@{gestures_i18n}: @{exaggerated_i18n}]" data-i18n="gestures-exaggerated" >Exaggerated</option>
                        <option class="italic" selected value="0 [@{gestures_i18n}: @{bold_i18n}]" data-i18n="gestures-bold" >Bold</option>
                        <option class="italic" value="(-2) [@{gestures_i18n}: @{subtle_i18n}]" data-i18n="gestures-subtle" >Subtle</option>
                        <option class="italic" value="(-5) [@{gestures_i18n}: @{gest-none_i18n}]" data-i18n="gestures-none" >None</option>
                    </select>
                </td>
                <td style="text-align:right;" colspan="2"><span style="font-size:1.2em; margin-right:15px" data-i18n="words" >Words</span></td>
                <td colspan="2">
                    <select class="select_1" name="attr_words">
                        <option class="italic" value="1 [@{words_i18n}: @{loud_i18n}]" data-i18n="words-loud" >Loud</option>
                        <option class="italic" selected value="0 [@{words_i18n}: @{firm_i18n}]" data-i18n="words-firm" >Firm</option>
                        <option class="italic" value="(-5) [@{words_i18n}: @{quiet_i18n}]" data-i18n="words-quiet" >Quiet</option>
                        <option class="italic" value="(-10) [@{words_i18n}: @{words-none_i18n}]" data-i18n="words-none" >None</option>
                    </select>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <br>
    <div class="divider" style="height:15px;"><span>&nbsp;</span></div>
    <!-- Laboratory -->
    <div>
        <div class='sheet-2colrow'>
            <div class='sheet-col'>
                <div>
                    <h4 class="heading_label" data-i18n="lab-characteristics" >Lab Characteristics</h4>
                    <div class="sheet-col">
                        <table class="table_3" style="width:195px;">
                            <tr>
                                <th style="width:140px;"></th>
                                <th data-i18n="score" >Score</th>
                            </tr>
                            <tr>
                                <td data-i18n="size" >Size</td>
                                <td><input type="text" class="number_1" name="attr_LabSize_Score" value="0"></td>
                            </tr>
                            <tr>
                                <td data-i18n="refinement" >Refinement</td>
                                <td><input type="text" class="number_1" name="attr_LabRefinement_Score" value="0"></td>
                            </tr>
                            <tr>
                                <td data-i18n="general-quality" >General Quality</td>
                                <td><input type="text" class="number_1" name="attr_LabGeneralQuality_Score" value="0"></td>
                            </tr>
                            <tr>
                                <td data-i18n="upkeep" >Upkeep</td>
                                <td><input type="text" class="number_1" name="attr_LabUpkeep_Score" value="0"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="sheet-col">
                    <table class="table_3" style="width:195px">
                        <th style="width:140px;"></th>
                        <th data-i18n="score" >Score</th>
                        <tr>
                            <td data-i18n="safety" >Safety</td>
                            <td><input type="text" class="number_1" name="attr_LabSafety_Score" value="0"></td>
                        </tr>
                        <tr>
                            <td data-i18n="warping" >Warping</td>
                            <td><input type="text" class="number_1" name="attr_LabWarping_Score" value="0"></td>
                        </tr>
                        <tr>
                            <td data-i18n="health" >Health</td>
                            <td><input type="text" class="number_1" name="attr_LabHealth_Score" value="0"></td>
                        </tr>
                        <tr>
                            <td data-i18n="aesthetics" >Aesthetics</td>
                            <td><input type="text" class="number_1" name="attr_LabAesthetics_Score" value="0"></td>
                        </tr>
                    </table>
                    </div>
                </div>
            <div>
                <div style="margin-top:10px;">
                    <h4 class="heading_label" data-i18n="lab-virtues" >Lab Virtues</h4>
                    <fieldset class="repeating_labVirtue">
                        <table class="table_2" style="width:400px">
                            <tr>
                                <td><input type="text" class="heading_2" name="attr_LabVirtue" style="width:300px"></td>
                                <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_labVirtue_show" value="1" checked><span></span></div></th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" class="hider hidden" name="attr_labVirtue_show" value="1" checked>
                                    <div class="sheet-hide">
                                        <textarea class="textarea_1" style="width:380px;" name="attr_labvirtue_text"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div>
                    <h4 class="heading_label" data-i18n="flaws" >Flaws</h4>
                    <fieldset class="repeating_labFlaw">
                        <table class="table_2" style="width:400px">
                            <tr>
                                <td><input type="text" class="heading_2" name="attr_labFlaw" style="width:300px"></td>
                                <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_labFlaw_show" value="1" checked><span></span></div></th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" class="hider hidden" name="attr_labFlaw_show" value="1" checked>
                                    <div class="sheet-hide">
                                        <textarea class="textarea_1" style="width:380px;" name="attr_labflaw_text"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
                <div>
                    <h4 class="heading_label" style="margin-bottom:0px;" data-i18n="sanctum-marker" >Sanctum Marker</h4>
                    <textarea class="textarea_4" name="attr_SanctumMarker"></textarea>
                </div>
                <div>
                    <h4 class="heading_label" style="margin-bottom:0px;" data-i18n="description" >Description</h4>
                    <textarea class="textarea_4" name="attr_LabDescription"></textarea>
                </div>
            </div>
            <div class='sheet-col'>
                <div>
                    <h4 class="heading_label" data-i18n="lab-totals" >Lab Totals</h4>
                    <table class="table_2" style="width:400px;">
                        <tr>
                            <th colspan="2" data-i18n="basic-lab-total" >Basic Lab Total</th>
                            <td><div style="width:60px;"><input type="number" class="number_2" name="attr_Lab" value="(@{Intelligence_Score}) + (@{Lab_Theory}) + (@{aura}) + (@{lab_Technique}) + (@{lab_Form}) + (@{Lab_Focus}) + (@{LabModifiers}) + (@{labbonus_total}) + (@{LabGeneralQuality_Score})" disabled="true"></div></td>
                            <td colspan="2">
                                <div class="flex-container-between">
                                    <span>
                                        <input type="checkbox" class="check" name="attr_Lab_Focus" value="(((@{lab_Technique}) + (@{lab_Form}) - abs((@{lab_Technique}) - (@{lab_Form}))) /2)">
                                        <span data-i18n="focus">Focus</span>
                                    </span>
                                    <span style="text-align: right;">
                                        <span data-i18n="modifiers" >Modifiers</span>
                                        <input type="number" class="number_1" name="attr_LabModifiers" value="0" >
                                    </span>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><div style="width:50px;"><input type="number" class="number_2" name="attr_Lab_Int" value="(@{Intelligence_Score})" disabled="true"></div></td>
                            <td><div style="width:50px;"><input type="number" class="number_2" name="attr_Lab_Theory" value="0" ></div></td>
                            <td><div style="width:50px;"><input type="number" class="number_2" name="attr_Lab_Aura" value="@{aura}" disabled="true"></div></td>
                            <td>
                                <select class="select_1" name="attr_lab_Technique">
                                    <option class="italic" value="0" data-i18n="none" >None</option>
                                    <option value="@{Creo_Score} + @{Creo_Puissant}" data-i18n="creo" >Creo</option>
                                    <option value="@{Intellego_Score} + @{Intellego_Puissant}" data-i18n="intellego" >Intellego</option>
                                    <option value="@{Muto_Score} + @{Muto_Puissant}" data-i18n="muto" >Muto</option>
                                    <option value="@{Perdo_Score} + @{Perdo_Puissant}" data-i18n="perdo" >Perdo</option>
                                    <option value="@{Rego_Score} + @{Rego_Puissant}" data-i18n="rego" >Rego</option>
                                </select>
                            </td>
                            <td>
                                <select class="select_1" name="attr_lab_Form">
                                    <option class="italic" value="0" data-i18n="none" >None</option>
                                    <option value="@{Animal_Score} + @{Animal_Puissant}" data-i18n="animal" >Animal</option>
                                    <option value="@{Aquam_Score} + @{Aquam_Puissant}" data-i18n="aquam" >Aquam</option>
                                    <option value="@{Auram_Score} + @{Auram_Puissant}" data-i18n="auram" >Auram</option>
                                    <option value="@{Corpus_Score} + @{Corpus_Puissant}" data-i18n="corpus" >Corpus</option>
                                    <option value="@{Herbam_Score} + @{Herbam_Puissant}" data-i18n="herbam" >Herbam</option>
                                    <option value="@{Ignem_Score} + @{Ignem_Puissant}" data-i18n="ignem" >Ignem</option>
                                    <option value="@{Imaginem_Score} + @{Imaginem_Puissant}" data-i18n="imaginem" >Imaginem</option>
                                    <option value="@{Mentem_Score} + @{Mentem_Puissant}" data-i18n="mentem" >Mentem</option>
                                    <option value="@{Terram_Score} + @{Terram_Puissant}" data-i18n="terram" >Terram</option>
                                    <option value="@{Vim_Score} + @{Vim_Puissant}" data-i18n="vim" >Vim</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="int" >Int</td>
                            <td data-i18n="theory" >Theory</td>
                            <td data-i18n="aura" >Aura</td>
                            <td data-i18n="technique" >Technique</td>
                            <td data-i18n="form" >Form</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h4 class="heading_label" data-i18n="lab-bonuses" >Lab Bonuses</h4>
                    <table class="table_2" style="width:400px;margin-top:10px;">
                        <tr>
                            <th><div style="width:300px;padding-left:10px;" data-i18n="specializations-bonuses" >Specializations & Bonuses</div></th>
                            <th><div style="width:40px;" data-i18n="score" >Score</div></th>
                            <th><div style="width:40px;"><span class="has-tooltip"><span data-i18n="inc-">Inc.</span><span class="sheet-tooltip" data-i18n="tooltip-inc-">Included<br>Check if the item is active. Unchecked items are not used in the computation</span></span></div></th>
                        </tr>
                    </table>
                    <fieldset class="repeating_labSpecializations">
                        <table class="table_2" style="width:400px">
                            <tr>
                                <td><input type="text" class="heading_2" name="attr_LabSpecialization" style="width:300px"></td>
                                <td><input type="text" class="number_2" name="attr_LabBonus" value="0" style="width:50px" ></td>
                                <td><div style="width:40px;padding-left:15px;"><input type="checkbox" name="attr_sactive" value="1" ></div></th>
                            </tr>
                        </table>
                    </fieldset>
                    <table class="table_2" style="width:400px;">
                        <tr>
                            <td style="width:300px;text-align:right;" data-i18n="total-specialization-modifier" >Total Specialization Modifier</td>
                            <td> <div style="width:50px;"><input type="number" class="number_2" name="attr_labbonus_total" value="0" readonly></div></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>