<!-- 4 Combat -->
<div class="sheet-tab-content tab4" >
    <div style="margin-top:10px;">
        <!-- Fatigue -->
        <div class='sheet-col'>
            <h4 class="heading_label" style="margin-bottom:15px" data-i18n="fatigue-levels" >Fatigue Levels <input type="number" class="counter" style="width:50px" name="attr_Fatigue_total" value="@{Fatigue}" disabled="true"></h4>
            <table class="table_2" style="width:300px;">
                <tr>
                    <td><span style="font-size:1.2em;" data_i18n="additional-fatigue-levels">Additional fatigue levels</span></td>
                    <td>
                        <select class="select_1" style="width: 60px" name="attr_additionalFatigue">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" class="fatigue-proxy" name="attr_additionalFatigueProxy" value="0">
            <table class="table_3" style="width:300px" >
                <tr>
                    <th style="width:60px;" data-i18n="current" >Current</th>
                    <th style="text-align:center;" data-i18n="penalty" >Penalty</th>
                    <th data-i18n="recovery" >Recovery</th>
                    <th data-i18n="level" >Level</th>
                </tr>
                <tr>
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0" checked><span></span></td>
                    <td></td>
                    <td></td>
                    <td data-i18n="fresh" >Fresh</td>
                </tr>
                <tr>
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.1"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-1">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.001"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-2">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.002"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-3">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.003"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-4">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.004"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-5">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.005"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-6">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.006"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-7">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.007"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-8">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.008"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-9">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.009"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr class="addfatigue-10">
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="0.01"><span></span></td>
                    <td style="text-align:center;">0</td>
                    <td>2 min.</td>
                    <td data-i18n="winded" >Winded</td>
                </tr>
                <tr>
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="-1"><span></span></td>
                    <td style="text-align:center;">-1</td>
                    <td>10 min.</td>
                    <td data-i18n="weary" >Weary</td>
                </tr>
                <tr>
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="-3"><span></span></td>
                    <td style="text-align:center;">-3</td>
                    <td>30 min.</th>
                    <td data-i18n="tired" >Tired</td>
                </tr>
                <tr>
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="-5"><span></span></td>
                    <td style="text-align:center;">-5</td>
                    <td>1 hr.</td>
                    <td data-i18n="dazed" >Dazed</td>
                </tr>
                <tr>
                    <td><input type="radio" class="radio_1" name="attr_Fatigue" value="-99"><span></span></td>
                    <td></td>
                    <td>2 hr.</td>
                    <td data-i18n="unconscious" >Unconscious</td>
                </tr>
            </table>
        </div>
        <!-- Wounds -->
        <div class='sheet-col'>
            <h4 class="heading_label" data-i18n="wounds" >Wounds <input type="number" class="counter" name="attr_wound_total" value="0" ></h4>
            <table class="table_3" style="width:500px;" >
                <tr>
                    <th></th>
                    <th data-i18n="range" >Range</th>
                    <th style="text-align:center; width: 100px" data-i18n="number" >Number</th>
                    <th data-i18n="penalty" >Penalty</th>
                </tr>
                <tr>
                    <td data-i18n="light-wounds" >Light Wounds</td>
                    <td><input type="text" class="heading_3" name="attr_Wounds_Light_range"></td>
                    <td><div class="flex-container-center">
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Light1" value="-1"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Light2" value="-1"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Light3" value="-1"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Light4" value="-1"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Light5" value="-1"><span></span>
                    </div></td>
                    <td style="text-align:center;">-1</td>
                </tr>
                <tr>
                    <td data-i18n="medium-wounds" >Medium Wounds</td>
                    <td><input type="text" class="heading_3" name="attr_Wounds_Medium_range"></td>
                    <td><div class="flex-container-center">
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Medium1" value="-3"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Medium2" value="-3"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Medium3" value="-3"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Medium4" value="-3"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Medium5" value="-3"><span></span>
                    </div></td>
                    <td style="text-align:center;">-3</th>
                </tr>
                <tr>
                    <td data-i18n="heavy-wounds" >Heavy Wounds</td>
                    <td><input type="text" class="heading_3" name="attr_Wounds_Heavy_range"></td>
                    <td><div class="flex-container-center">
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Heavy1" value="-5"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Heavy2" value="-5"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Heavy3" value="-5"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Heavy4" value="-5"><span></span>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Heavy5" value="-5"><span></span>
                    </div></td>
                    <td style="text-align:center;">-5</th>
                </tr>
                <tr>
                    <td data-i18n="incapacitated" >Incapacitated</td>
                    <td><input type="text" class="heading_3" name="attr_Wounds_Incapacitated_range"></td>
                    <td>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Incapacitated" value="-99"><span></span>
                    </td>
                </tr>
                <tr>
                    <td data-i18n="dead" >Dead</td>
                    <td><input type="text" class="heading_3" name="attr_Wounds_Dead_range"></td>
                    <td>
                        <input type="checkbox" class="checkbox_wound" name="attr_Wounds_Dead" value="-1000"><span></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="col2grid">
        <!-- Armor -->
        <div class='sheet-col' style="width:415px; padding-right: 2px; border-right: 1px solid #663333; margin-right: 2px;">
            <h4 class="heading_label" data-i18n="armor" >Armor</h4>
            <div style="width: 100%;">
                <table class="table_2" style="margin-top:10px;">
                    <tr>
                        <th style="width: 240px;"></th>
                        <th style="width:  80px; text-align: right;"><span data-i18n="protection">Protection</span></th>
                        <th style="width:  60px; text-align: center;"><span data-i18n="load">Load</span></th>
                        <th style="width:  30px; text-align: center;"></th>
                    </tr>
                    <tr>
                        <th style="width: 240px;"><span data-i18n="armor">Armor</span></th>
                        <td style="width:  75px; text-align: right; padding-right: 5px;">
                            <span class="has-tooltip"><input type="number" class="number_2" name="attr_armors_total_prot" value="0" readonly><span class="sheet-tooltip" data-i18n="total">Total</span></span>
                            <input type="hidden" class="number_2" name="attr_armors_total_prot_detailed" value=" ">
                        </td>
                        <td style="width:  60px; text-align: center;">
                            <span class="has-tooltip"><input type="number" class="number_2" name="attr_armors_total_load" value="0" readonly><span class="sheet-tooltip" data-i18n="total">Total</span></span>
                            <input type="hidden" class="number_2" name="attr_armors_total_load_detailed" value=" ">
                        </td>
                        <td style="width:  30px;"><span class="has-tooltip"><span data-i18n="inc-">Inc.</span><span class="sheet-tooltip" data-i18n="tooltip-inc-">"Included<br>Check if the item is active. Unchecked items are not used in the computation"</span></span></td>
                    </tr>
                </table>
                <fieldset class="repeating_armors">
                    <table class="table_2">
                        <tr>
                            <td style="width: 240px;"><input type="text" class="heading_2" name="attr_armors_name" style="width: 235px;"></td>
                            <td style="width:  75px; text-align: right; padding-right: 5px;"><input type="text" class="number_2" name="attr_armors_prot" value="0" ></td>
                            <td style="width:  60px; text-align: center;"><input type="text" class="number_2" name="attr_armors_load" value="0" ></td>
                            <td style="width:  30px;"><div class="flex-container-center"><input type="checkbox" name="attr_isactive" value="1" checked></div></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>

        <!-- Bonuses -->
        <div class='sheet-col' style="width:100%; padding-right: 5px;">
            <h4 class="heading_label" data-i18n="combat-modifiers">Combat Modifiers</h4>
            <div style="width: 100%;">
                <table class="table_2" style="margin-top:10px;">
                    <tr>
                        <th style="width: 170px;"></th>
                        <th style="width:  40px; text-align: center;"><span data-i18n="init">Init</span></th>
                        <th style="width:  40px; text-align: center;"><span data-i18n="atk">Atk</span></th>
                        <th style="width:  40px; text-align: center;"><span data-i18n="dfn">Dfn</span></th>
                        <th style="width:  40px; text-align: center;"><span data-i18n="dam">Dam</span></th>
                        <th style="width:  40px; text-align: center;"><span data-i18n="soak">Soak</span></th>
                        <th style="width:  30px; text-align: center;"></th>
                    </tr>
                    <tr>
                        <th style="width: 160px;"><span data-i18n="bonus">Bonus</span></th>
                        <td style="width:  40px; text-align: center;">
                            <span class="has-tooltip"><input type="number" class="number_2" name="attr_combat-mods_total_init" value="0" readonly><span class="sheet-tooltip" data-i18n="total">Total</span></span>
                            <input type="hidden" class="number_2" name="attr_combat-mods_total_init_detailed" value=" ">
                        </td>
                        <td style="width:  40px; text-align: center;">
                            <span class="has-tooltip"><input type="number" class="number_2" name="attr_combat-mods_total_atk" value="0" readonly><span class="sheet-tooltip" data-i18n="total">Total</span></span>
                            <input type="hidden" class="number_2" name="attr_combat-mods_total_atk_detailed" value=" ">
                        </td>
                        <td style="width:  40px; text-align: center;">
                            <span class="has-tooltip"><input type="number" class="number_2" name="attr_combat-mods_total_dfn" value="0" readonly><span class="sheet-tooltip" data-i18n="total">Total</span></span>
                            <input type="hidden" class="number_2" name="attr_combat-mods_total_dfn_detailed" value=" ">
                        </td>
                        <td style="width:  40px; text-align: center;">
                            <span class="has-tooltip"><input type="number" class="number_2" name="attr_combat-mods_total_dam" value="0" readonly><span class="sheet-tooltip" data-i18n="total">Total</span></span>
                            <input type="hidden" class="number_2" name="attr_combat-mods_total_dam_detailed" value=" ">
                        </td>
                        <td style="width:  40px; text-align: center;">
                            <span class="has-tooltip"><input type="number" class="number_2" name="attr_combat-mods_total_soak" value="0" readonly><span class="sheet-tooltip" data-i18n="total">Total</span></span>
                            <input type="hidden" class="number_2" name="attr_combat-mods_total_soak_detailed" value=" ">
                        </td>
                        <td style="width:  30px;"><span class="has-tooltip"><span data-i18n="inc-">Inc.</span><span class="sheet-tooltip" data-i18n="tooltip-inc-">"Included<br>Check if the item is active. Unchecked items are not used in the computation"</span></span></td>
                    </tr>
                </table>
                <fieldset class="repeating_combat-mods">
                    <table class="table_2">
                        <tr>
                            <td style="width: 170px;"><input type="text" class="heading_2" name="attr_combat-mods_name" style="width: 170px;"></td>
                            <td style="width:  40px; text-align: center;"><input type="text" class="number_2" name="attr_combat-mods_init" value="0"></td>
                            <td style="width:  40px; text-align: center;"><input type="text" class="number_2" name="attr_combat-mods_atk" value="0"></td>
                            <td style="width:  40px; text-align: center;"><input type="text" class="number_2" name="attr_combat-mods_dfn" value="0"></td>
                            <td style="width:  40px; text-align: center;"><input type="text" class="number_2" name="attr_combat-mods_dam" value="0"></td>
                            <td style="width:  40px; text-align: center;"><input type="text" class="number_2" name="attr_combat-mods_soak" value="0"></td>
                            <td style="width:  30px;"><div class="flex-container-center"><input type="checkbox" name="attr_isactive" value="1" checked></div></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
    <!-- Soak -->
    <div style="padding-bottom: 15px;" >
        <h4 class="heading_label" data-i18n="soak" >Soak</h4>
        <table class="table_2" style="width:380px">
            <tr>
                <td></td>
                <th data-i18n="soak" style="text-align: center;">Soak</th>
                <th data-i18n="sta" style="text-align: center;">sta</th>
                <th data-i18n="armor" style="text-align: center;">Armor</th>
                <th data-i18n="bonus" style="text-align: center;">Bonus</th>
                <th data-i18n="bonus" style="text-align: center;">Bonus</th>
                <th data-i18n="load" style="text-align: center;">Load</th>
            </tr>
            <tr>
                <td style="width:30px;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                </td>
                <td style="text-align: center;"><input type="number" class="number_1" name="attr_Soak" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}))" disabled="true"></td>
                <td style="text-align: center;"><input type="number" class="number_1" name="attr_soak_stamina" disabled="true" value="(@{Stamina_Score})"></td>
                <td style="text-align: center;"><input type="number" class="number_2" name="attr_armors_total_prot" value="0" readonly></td>
                <td style="text-align: center;"><input type="number" class="number_2" name="attr_soak_bonus" value="0"></td>
                <td style="text-align: center;"><input type="number" class="number_2" name="attr_combat-mods_total_soak" value="0" readonly></td>
                <th style="text-align: center;"><input type="number" class="number_2" name="attr_armors_total_load" value="0" readonly></th>
            </tr>
        </table>
        <div class="magi-only">
            <h4 class="heading_label" style="margin-bottom:0px;" data-i18n="soak-forms" >Soak by Forms</h4>
            <div class='artgrid' style="border:1px solid black">
                <div class="flex-container-left" style="grid-column: 1 / span 1; grid-row: 1 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_animal" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Animal_Score}) + (@{Animal_Puissant})) / 5) [@{animal_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{animal}}} {{formbonus=[[ ceil(((@{Animal_Score}) + (@{Animal_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Animal" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Animal_Score}) + (@{Animal_Puissant})) / 5))" disabled="true">
                    <span data-i18n="animal">Animal</span>
                </div>
                <div class="flex-container-left" style="grid-column: 2 / span 1; grid-row: 1 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_aquam" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Aquam_Score}) + (@{Aquam_Puissant})) / 5) [@{aquam_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{aquam}}} {{formbonus=[[ ceil(((@{Aquam_Score}) + (@{Aquam_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Aquam" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Aquam_Score}) + (@{Aquam_Puissant})) / 5))" disabled="true">
                    <span data-i18n="aquam">Aquam</span>
                </div>
                <div class="flex-container-left" style="grid-column: 3 / span 1; grid-row: 1 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_auram" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Auram_Score}) + (@{Auram_Puissant})) / 5) [@{auram_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{auram}}} {{formbonus=[[ ceil(((@{Auram_Score}) + (@{Auram_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Auram" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Auram_Score}) + (@{Auram_Puissant})) / 5))" disabled="true">
                    <span data-i18n="auram">Auram</span>
                </div>
                <div class="flex-container-left" style="grid-column: 4 / span 1; grid-row: 1 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_corpus" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Corpus_Score}) + (@{Corpus_Puissant})) / 5) [@{corpus_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{corpus}}} {{formbonus=[[ ceil(((@{Corpus_Score}) + (@{Corpus_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Corpus" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Corpus_Score}) + (@{Corpus_Puissant})) / 5))" disabled="true">
                    <span data-i18n="corpus">Corpus</span>
                </div>
                <div class="flex-container-left" style="grid-column: 5 / span 1; grid-row: 1 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_herbam" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Herbam_Score}) + (@{Herbam_Puissant})) / 5) [@{herbam_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{herbam}}} {{formbonus=[[ ceil(((@{Herbam_Score}) + (@{Herbam_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Herbam" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Herbam_Score}) + (@{Herbam_Puissant})) / 5))" disabled="true">
                    <span data-i18n="herbam">Herbam</span>
                </div>
                <div class="flex-container-left" style="grid-column: 1 / span 1; grid-row: 2 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_ignem" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Ignem_Score}) + (@{Ignem_Puissant})) / 5) [@{ignem_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{ignem}}} {{formbonus=[[ ceil(((@{Ignem_Score}) + (@{Ignem_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Ignem" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Ignem_Score}) + (@{Ignem_Puissant})) / 5))" disabled="true">
                    <span data-i18n="ignem">Ignem</span>
                </div>
                <div class="flex-container-left" style="grid-column: 2 / span 1; grid-row: 2 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_imaginem" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Imaginem_Score}) + (@{Imaginem_Puissant})) / 5) [@{imaginem_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{imaginem}}} {{formbonus=[[ ceil(((@{Imaginem_Score}) + (@{Imaginem_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Imaginem" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Imaginem_Score}) + (@{Imaginem_Puissant})) / 5))" disabled="true">
                    <span data-i18n="imaginem">Imaginem</span>
                </div>
                <div class="flex-container-left" style="grid-column: 3 / span 1; grid-row: 2 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_mentem" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Mentem_Score}) + (@{Mentem_Puissant})) / 5) [@{mentem_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{mentem}}} {{formbonus=[[ ceil(((@{Mentem_Score}) + (@{Mentem_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Mentem" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Mentem_Score}) + (@{Mentem_Puissant})) / 5))" disabled="true">
                    <span data-i18n="mentem">Mentem</span>
                </div>
                <div class="flex-container-left" style="grid-column: 4 / span 1; grid-row: 2 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_terram" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Terram_Score}) + (@{Terram_Puissant})) / 5) [@{terram_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{terram}}} {{formbonus=[[ ceil(((@{Terram_Score}) + (@{Terram_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Terram" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Terram_Score}) + (@{Terram_Puissant})) / 5))" disabled="true">
                    <span data-i18n="terram">Terram</span>
                </div>
                <div class="flex-container-left" style="grid-column: 5 / span 1; grid-row: 2 / span 1;">
                    <button type="roll" class="button stress-roll single-roll" name="roll_soak_vim" value="&{template:soak} {{name=@{character_name}}} {{rollsoak=[[ @{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{armors_total_prot_detailed}) [@{armor_i18n}] + (@{soak_bonus}) [@{soakbns_i18n}] + (@{combat-mods_total_soak_detailed}) [@{soakbns_i18n}] + ceil(((@{Vim_Score}) + (@{Vim_Puissant})) / 5) [@{vim_i18n}] ]]}} {{armorsoak=[[@{armors_total_prot_detailed}]]}} {{soakbonus=[[(@{soak_bonus}) + (@{combat-mods_total_soak_detailed})]]}} {{formlabel=^{vim}}} {{formbonus=[[ ceil(((@{Vim_Score}) + (@{Vim_Puissant})) / 5) ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                    <input type="text" class="number_1" name="attr_Soak_Vim" value="((@{Stamina_Score}) + (@{armors_total_prot}) + (@{soak_bonus}) + (@{combat-mods_total_soak}) + ceil(((@{Vim_Score}) + (@{Vim_Puissant})) / 5))" disabled="true">
                    <span data-i18n="vim">Vim</span>
                </div>
            </div>
        </div>
    </div>
    <!--    Weapons -->
    <div>
        <h4 class="heading_label" data-i18n="weapons" >Weapons</h4>
        <table class="table_2" style="width:800px">
            <tr>
                <th><div style="width:190px" data-i18n="weapon-name" >Weapon Name</div></th>
                <td><div style="width:100px"></div></td>
                <th><div style="width:60px" data-i18n="init" >Init</div></th>
                <td><div style="width:25px"></div></td>
                <th><div style="width:60px" data-i18n="atk" >Atk</div></th>
                <td><div style="width:30px"></div></td>
                <th><div style="width:45px" data-i18n="dfn" >Dfn</div></th>
                <td><div style="width:18px;"></div></td>
                <th><div style="width:45px" data-i18n="dam" >Dam</div></th>
                <th><div style="width:50px" data-i18n="ability" >Ability</div></th>
                <th><div style="width:50px" data-i18n="load" >Load</div></th>
                <th><div style="width:40px" data-i18n="range" >Range</div></th>
                <th><div style="width:60px"></div></th>
            </tr>
        </table>
        <fieldset class="repeating_weapons">
            <table class="table_2" style="width:800px">
                <tr>
                    <th><input type="text" class="heading_3" name="attr_Weapon_name"></th>

                    <td><button type="roll" class="button stress-roll single-roll" name="roll_weapon_Init" value="&{template:initiative} {{name=@{character_name}}} {{weapon=@{Weapon_name}}} {{roll=[[ @{stress-die} + (@{Quickness_Score}) [@{quickness_i18n}] + (@{Init_Weap}) [@{Weapon_name}] + (@{combat-mods_total_init}) [@{bonus_i18n}] - (@{Init_Encumbrance}) [@{encumbrance_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (?{@{initiative_i18n} @{modifiers_i18n}|0}) [@{initiative_i18n} @{modifiers_i18n}] &{tracker}]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical-init)}} {{stress=1}}" data-i18n="init" >Init</button></td>
                    <td><input type="text" class="number_1" name="attr_Init" value="(@{Quickness_Score}) + (@{Init_Weap}) + (@{combat-mods_total_init})- (@{Init_Encumbrance})" disabled="true"></td>

                    <td><button type="roll" class="button stress-roll single-roll" name="roll_weapon_Atk" value="&{template:attack} {{name=@{character_name}}} {{weapon=@{Weapon_name}}} {{attack=[[ @{stress-die} + (@{Dexterity_Score}) [@{dexterity_i18n}] + (@{WeaponAbility}) [@{ability_i18n}] + (@{combat-mods_total_atk}) [@{bonus_i18n}] + (@{Atk_Weap}) [@{Weapon_name}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n} @{attack_i18n}|0}) [@{circumstantial_i18n} @{attack_i18n}]]]}} {{damage=[[ (@{Strength_Score}) [@{strength_i18n}] + (@{Dam_Weap}) [@{Weapon_name}] + (@{combat-mods_total_dam}) [@{bonus_i18n}] + (?{@{circumstantial_i18n} @{damage_i18n}|0}) [@{circumstantial_i18n} @{damage_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}" data-i18n="atk" >Atk</button></td>
                    <td><input type="text" class="number_1" name="attr_Atk" value="(@{Dexterity_Score}) + (@{WeaponAbility}) + (@{combat-mods_total_atk}) + (@{Atk_Weap})" disabled="true"></td>

                    <td><button type="roll" class="button stress-roll single-roll" name="roll_weapon_Dfn" value="&{template:defend} {{name=@{character_name}}} {{weapon=@{Weapon_name}}} {{defend=[[ @{stress-die} + (@{Quickness_Score}) [@{quickness_i18n}] + (@{WeaponAbility}) [@{ability_i18n}] + (@{combat-mods_total_dfn}) [@{bonus_i18n}] + (@{Dfn_Weap}) [@{Weapon_name}] + (@{wound_total}) [@{wounds_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (?{@{circumstantial_i18n} @{defense_i18n}|0}) [@{circumstantial_i18n} @{defense_i18n}] ]]}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}" data-i18n="dfn" >Dfn</button></td>
                    <td><input type="text" class="number_1" name="attr_Dfn" value="(@{Quickness_Score}) + (@{WeaponAbility}) + (@{combat-mods_total_dfn}) + (@{Dfn_Weap})" disabled="true"></td>
                    
                    <td><div style="width:10px;"></div></td>
                    <td><input type="number" class="number_1" name="attr_Dam" value="((@{Strength_Score}) + (@{combat-mods_total_dam}) + (@{Dam_Weap}))" disabled="true"></td>
                    <td><input type="number" class="number_1" name="attr_WeaponAbility" value="0"></td>
                    <td><input type="number" class="number_1" name="attr_Weapon_Load" value="0"></td>
                    <td><input type="text" class="number_1" name="attr_Weapon_Range"></td>
                    <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_Weapon_show" value="1" checked><span></span></div></th>
                </tr>
            </table>
            <input type="checkbox" class="hider hidden" name="attr_Weapon_show" value="1" checked><span></span>
            <div class="sheet-hide" style="border-color:#e6dbc6; border-style: inset;">
                <table class="table_3 table_center" style="display:inline; margin-right:10px;">
                    <tr >
                        <th colspan="7"><div style="width:200px;text-align:center;" data-i18n="initiative" >Initiative</div></th>
                    </tr>
                    <tr>
                        <td data-i18n="qik" >Qik</td>
                        <td></td>
                        <td data-i18n="weap" >Weap.</td>
                        <td></td>
                        <td data-i18n="bonus" >Bonus</td>
                        <td></td>
                        <td data-i18n="enc-" >Enc.</td>
                    </tr>
                    <tr>
                        <td><input type="number" class="number_2" name="attr_Init_Qik" value="(@{Quickness_Score})" disabled='true'></td>
                        <td>+</td>
                        <td><input type="number" class="number_2" name="attr_Init_Weap" value="0"></td>
                        <td>+</td>
                        <td><input type="number" class="number_2" name="attr_combat-mods_total_init" value="0" readonly></td>
                        <td>-</td>
                        <td>
                            <input type="hidden" class="number_2" name="attr_Init_Burden" value="floor((((8*((@{Weapon_Load}) + (@{armors_total_load})) + 1) ** (1/2)) - 1) / 2)" disabled="true">
                            <!-- The formula are equivalent to max(0, burden - max(0, strength)), written using max(a,0) = (a + abs(a)) / 2 -->
                            <input type="hidden" class="number_2" name="attr_Init_Relative_Encumbrance" value="((@{Init_Burden}) - (((@{Strength_Score}) + abs((@{Strength_Score}))) / 2))" disabled="true" >
                            <input type="number" class="number_2" name="attr_Init_Encumbrance" value="((@{Init_Relative_Encumbrance}) + abs((@{Init_Relative_Encumbrance}))) / 2" disabled="true" >
                        </td>
                    </tr>
                </table>
                <table class="table_3 table_center" style="display:inline; margin-right:10px;">
                    <tr>
                        <th colspan="7"><div style="width:200px;text-align:center;" data-i18n="attack" >Attack</div></th>
                    </tr>
                    <tr>
                        <td data-i18n="dex" >Dex</td>
                        <td></td>
                        <td data-i18n="ability" >Ability</td>
                        <td></td>
                        <td data-i18n="bonus" >Bonus</td>
                        <td></td>
                        <td data-i18n="weap" >Weap</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_2" name="attr_Atk_Dex"  value="(@{Dexterity_Score})" disabled='true'></td>
                        <td>+</td>
                        <td><input type="text" class="number_2" name="attr_Atk_Ability" value="(@{WeaponAbility})" disabled="true"></td>
                        <td>+</td>
                        <td><input type="number" class="number_2" name="attr_combat-mods_total_atk" value="0" readonly></td>
                        <td>+</td>
                        <td><input type="text" class="number_2" name="attr_Atk_Weap" value="0"></td>
                    </tr>
                </table>
                <table class="table_3 table_center" style="display:inline; margin-right:10px;">
                    <tr>
                        <th colspan="7"><div style="width:200px;text-align:center;" data-i18n="defense" >Defense</div></th>
                    </tr>
                    <tr>
                        <td data-i18n="qik" >Qik</td>
                        <td></td>
                        <td data-i18n="ability" >Ability</td>
                        <td></td>
                        <td data-i18n="bonus" >Bonus</td>
                        <td></td>
                        <td data-i18n="weapon" >Weapon</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_2" name="attr_Dfn_Qik" value="(@{Quickness_Score})" disabled='true'></td>
                        <td>+</td>
                        <td><input type="text" class="number_2" name="attr_Dfn_Ability" value="(@{WeaponAbility})" disabled="true"></td>
                        <td>+</td>
                        <td><input type="number" class="number_2" name="attr_combat-mods_total_dfn" value="0" readonly></td>
                        <td>+</td>
                        <td><input type="text" class="number_2" name="attr_Dfn_Weap" value="0"></td>
                    </tr>
                </table>
                <table class="table_3 table_center" style="display:inline;">
                    <tr>
                        <th colspan="5"><div style="width:150px;text-align:center;" data-i18n="damage" >Damage</div></th>
                    </tr>
                    <tr>
                        <td data-i18n="strength" >Strength</td>
                        <td></td>
                        <td data-i18n="bonus" >Bonus</td>
                        <td></td>
                        <td data-i18n="weapon" >Weapon</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="number_2" name="attr_Dam_Str" value="@{Strength_Score}" disabled='true'></td>
                        <td>+</td>
                        <td><input type="number" class="number_2" name="attr_combat-mods_total_dam" value="0" readonly></td>
                        <td>+</td>
                        <td><input type="text" class="number_2" name="attr_Dam_Weap" value="0"></td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</div>