<!-- 5  Spells -->
<div class="sheet-tab-content tab5">
    //- <!-- Bonuses -->
    <h4 class="heading_label" style="margin-top:10px;" data-i18n="bonus" >Bonus</h4>
    <table class="table_3" style="width:400px;">
        <tr></tr>
        <tr>
            <td style="text-align:right;"><span style="font-size:1.4em; margin-left: 15px;" data-i18n="aura" >Aura</span></td>
            <td><input type="number" class="number_1" name="attr_aura" value="3"></td>
            <td style="text-align:right;" colspan="2"><span style="font-size:1.2em; margin-right:15px" data-i18n="gestures" >Gestures</span></td>
            <td>
                <select class="select_1" name="attr_gestures">
                    <option class="italic" value="1 [@{gestures_i18n}: @{exaggerated_i18n}]" data-i18n="gestures-exaggerated" >Exaggerated</option>
                    <option class="italic" selected value="0 [@{gestures_i18n}: @{bold_i18n}]" data-i18n="gestures-bold" >Bold</option>
                    <option class="italic" value="(-2) [@{gestures_i18n}: @{subtle_i18n}]" data-i18n="gestures-subtle" >Subtle</option>
                    <option class="italic" value="(-5) [@{gestures_i18n}: @{gest-none_i18n}]" data-i18n="gestures-none" >None</option>
                </select>
            </td>
            <td style="text-align:right;" colspan="2"><span style="font-size:1.2em; margin-right:15px" data-i18n="words" >Words</span></td>
            <td colspan="2">
                <select class="select_1" name="attr_words">
                    <option class="italic" value="1 [@{words_i18n}: @{loud_i18n}]" data-i18n="words-loud" >Loud</option>
                    <option class="italic" selected value="0 [@{words_i18n}: @{firm_i18n}]" data-i18n="words-firm" >Firm</option>
                    <option class="italic" value="(-5) [@{words_i18n}: @{quiet_i18n}]" data-i18n="words-quiet" >Quiet</option>
                    <option class="italic" value="(-10) [@{words_i18n}: @{words-none_i18n}]" data-i18n="words-none" >None</option>
                </select>
            </td>
            <td></td>
        </tr>
    </table>
    //- <!-- Formulaic spells -->
    <h4 class="heading_label" style="margin-top:10px;" data-i18n="formulaic-spells" >Formulaic spells</h4>
    <fieldset class="repeating_spell">
        <table style="margin-top:10px;">
            <tr>
                <th style="padding-left:10px;"><div class="flex-container-center">
                    <button type="roll" class="button simple-roll" name="roll_spell_simple" value="&{template:spell} {{spell=@{spell_name}}} {{character=@{character_name}}} {{sigil=@{sigil}}} {{roll=[[ (@{simple-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_i18n@{sys_rbk}] + (@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_i18n@{sys_rbk}] + ([[@{spell_Focus}]]) [@{focus_i18n}] + (@{spell_bonus}) [@{bonus_i18n}] + (@{gestures}) + (@{words}) + (@{aura}) [@{aura_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}]) / ([[1 + (@{spell_Deficiency})]] [@{deficiency_i18n}]) ]]}} {{range=@{spell_range}}} {{duration=@{spell_duration}}} {{target=@{spell_target}}} {{effect=@{spell_note}}} {{mastery=@{spell_note-2}}} {{Technique=@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_i18n@{sys_rbk}}} {{Form=@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_i18n@{sys_rbk}}} {{Level=@{spell_level}}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=}}"></button>
                    <button type="roll" class="button stress-roll" name="roll_spell_stress" value="&{template:spell} {{spell=@{spell_name}}} {{character=@{character_name}}} {{sigil=@{sigil}}} {{roll=[[ (@{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_i18n@{sys_rbk}] + (@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_i18n@{sys_rbk}] + ([[@{spell_Focus}]]) [@{focus_i18n}] + (@{spell_bonus}) [@{bonus_i18n}] + (@{gestures}) + (@{words}) + (@{aura}) [@{aura_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}]) / ([[1 + (@{spell_Deficiency})]] [@{deficiency_i18n}]) ]]}} {{range=@{spell_range}}} {{duration=@{spell_duration}}} {{target=@{spell_target}}} {{effect=@{spell_note}}} {{mastery=@{spell_note-2}}} {{Technique=@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_i18n@{sys_rbk}}} {{Form=@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_i18n@{sys_rbk}}} {{Level=@{spell_level}}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical)}} {{stress=1}}"></button>
                </div></th>
                <th style="padding-left:10px;"><input style="width:645px;" type="text" class="heading_2" name="attr_spell_name" placeholder="Spell Name" data-i18n-placeholder="spell-name" ></th>
                <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_Spell_show" value="1" checked><span></span></div></th>
            </tr>
        </table>
        <input type="checkbox" class="hider hidden" value="1" name="attr_Spell_show" checked>
        <div class="sheet-hide">
            <table class="table_2" >
                <tr>
                    <td data-i18n="technique">Technique</td>
                    <td>
                        //- This select tag is left in comment for reference purposes. A worker will translate from that old select
                        //- to the new format below
                        //- <select class="select_1" name="attr_Technique_select">
                        //-     <option class="italic" value="0" data-i18n="technique" >Technique</option>
                        //-     <option value="1" data-i18n="creo" >Creo</option>
                        //-     <option value="2" data-i18n="intellego" >Intellego</option>
                        //-     <option value="3" data-i18n="muto" >Muto</option>
                        //-     <option value="4" data-i18n="perdo" >Perdo</option>
                        //-     <option value="5" data-i18n="rego" >Rego</option>
                        //- </select>
                        <select class="select_1" name="attr_spell_tech_name">
                            <option class="italic" value="unselected" data-i18n="technique" >Technique</option>
                            <option value="Creo" data-i18n="creo" >Creo</option>
                            <option value="Intellego" data-i18n="intellego" >Intellego</option>
                            <option value="Muto" data-i18n="muto" >Muto</option>
                            <option value="Perdo" data-i18n="perdo" >Perdo</option>
                            <option value="Rego" data-i18n="rego" >Rego</option>
                        </select>
                    </td>
                    <td data-i18n="form" >Form</td>
                    <td>

                        //- This select tag is left in comment for reference purposes. A worker will translate from that old select
                        //- to the new format below

                        //- <select class="select_1" name="attr_Form_select">
                        //-     <option class="italic" value="0" data-i18n="form" >Form</option>
                        //-     <option value="1" data-i18n="animal" >Animal</option>
                        //-     <option value="2" data-i18n="aquam" >Aquam</option>
                        //-     <option value="3" data-i18n="auram" >Auram</option>
                        //-     <option value="4" data-i18n="corpus" >Corpus</option>
                        //-     <option value="5" data-i18n="herbam" >Herbam</option>
                        //-     <option value="6" data-i18n="ignem" >Ignem</option>
                        //-     <option value="7" data-i18n="imaginem" >Imaginem</option>
                        //-     <option value="8" data-i18n="mentem" >Mentem</option>
                        //-     <option value="9" data-i18n="terram" >Terram</option>
                        //-     <option value="10" data-i18n="vim" >Vim</option>
                        //- </select>

                        <select class="select_1" name="attr_spell_form_name">
                            <option class="italic" value="unselected" data-i18n="form" >Form</option>
                            <option value="Animal" data-i18n="animal" >Animal</option>
                            <option value="Aquam" data-i18n="aquam" >Aquam</option>
                            <option value="Auram" data-i18n="auram" >Auram</option>
                            <option value="Corpus" data-i18n="corpus" >Corpus</option>
                            <option value="Herbam" data-i18n="herbam" >Herbam</option>
                            <option value="Ignem" data-i18n="ignem" >Ignem</option>
                            <option value="Imaginem" data-i18n="imaginem" >Imaginem</option>
                            <option value="Mentem" data-i18n="mentem" >Mentem</option>
                            <option value="Terram" data-i18n="terram" >Terram</option>
                            <option value="Vim" data-i18n="vim" >Vim</option>
                        </select>
                    </td>
                    <td colspan="4">
                        <div class="flex-container-between">
                            <span class="vcenter">
                                <span data-i18n="focus" style="padding-right: 5px;">Focus</span>
                                <input type="checkbox" class="check" name="attr_spell_Focus" value="[[{((@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_i18n@{sys_rbk}]), ((@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_i18n@{sys_rbk}])}kl1]] [@{focus_i18n}]"></input>
                            </span>
                            <span class="vcenter">
                                <span data-i18n="deficiency" style="padding-right: 5px;">Deficiency</span>
                                <input type="checkbox" class="check" name="attr_spell_Deficiency" value="1"></input>
                            </span>
                            <span class="vcenter">
                                <span data-i18n="level" >Level</span>
                                <input type="number" class="number_2" name="attr_spell_level" value="0">
                            </span>
                            <span class="vcenter">
                                <span data-i18n="bonus" >Bonus</span>
                                <input type="number" class="number_2" name="attr_spell_bonus" value="0">
                            </span>
                        </div>
                    </td>
                </tr>
                //- <!--
                //- <tr>
                //-     <td></td>
                //-     <td><input type="text" class="hidden" name="attr_Technique_name" value="Technique"></td>
                //-     <td><input type="number" class="hidden" name="attr_spell_Technique" value="0"></td></td>
                //-     <td><input type="text" class="hidden" name="attr_Form_name" value="Form"></td>
                //-     <td><input type="number" class="hidden" name="attr_spell_Form" value="0"></td></td>
                //-     <td></td>
                //- </tr>
                //- -->
                <tr>
                    <td data-i18n="range" >Range</td>
                    <td><input type="text" class="heading_2" name="attr_spell_range" value=""></td>
                    <td data-i18n="duration" > Duration</td>
                    <td><input type="text" class="heading_2" name="attr_spell_duration" value=""></td>
                    <td data-i18n="target" >Target</td>
                    <td><input type="text" class="heading_2" name="attr_spell_target" value="" ></td>
                    <td data-i18n="exp">Exp</td>
                    <td>
                        <span>[</span><input type="number" class="number_2" name="attr_spell_exp" value="0">/<input type="number" class="number_2" name="attr_spell_exp-2" value="0"><span>]</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="8"><textarea class="textarea_2" style="width:815px;" name="attr_spell_note" placeholder="Spell Description" data-i18n-placeholder="spell-description"></textarea></td>
                </tr>
                <tr>
                    <td colspan="8"><textarea class="textarea_2" style="width:815px;height:36px" name="attr_spell_note-2" data-i18n-placeholder="spell-mastery" placeholder="Spell Mastery "></textarea></td>
                </tr>
            </table>
        </div>
    </fieldset>

    //- <!-- Spontaneous Spells -->
    <h4 class="heading_label" style="margin-top:10px;" data-i18n="spontaneous-spells" >Spontaneous spells</h4>
    <fieldset class="repeating_spontaneous">
        <table style="margin-top:10px;">
            <tr>
                <th style="padding-left:10px;"><div class="flex-container-center">
                    <button style="margin: 0px auto;" type="roll" class="button stress-roll single-roll" name="roll_saved_spontaneous_stress" value="&{template:arcane} {{label0=@{spell_name}}} {{result0=[[ (@{stress-die} + (@{Stamina_Score}) [@{stamina_i18n}] + (@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_i18n@{sys_rbk}] + (@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_i18n@{sys_rbk}] + ([[@{spell_Focus}]]) [@{focus_i18n}] + (@{spell_bonus}) [@{bonus_i18n}] + (@{gestures}) + (@{words}) + (@{aura}) [@{aura_i18n}] + ([[floor(@{Fatigue})]]) [@{fatigue_i18n}] + (@{wound_total}) [@{wounds_i18n}] + (?{@{modifiers_i18n}|0}) [@{modifiers_i18n}] ) / ([[1 + (@{spell_Deficiency})]] [@{deficiency_i18n}]) /2 ]]}} {{label1=^{aura}}} {{result1=@{aura}}} {{label2=^{weakness-m}}} {{result2=[[ (@{wound_total}) [@{wounds_i18n}] + [[floor(@{fatigue})]] [@{fatigue_i18n}] ]]}} {{label3=^{circumstances-m}}} {{result3=[[ ?{@{modifiers_i18n}|0} ]]}} {{textlabel=@{spell_tech_name} @{spell_form_name} @{spell_level}}} {{textsublabel=@{spell_range} - @{spell_duration} - @{spell_target}}} {{textfield=@{spell_note}}} {{botch-button=[@{botch_i18n}!](~@{character_name}|botch)}} {{crit-button=[@{critical_i18n}!](~@{character_name}|critical-spontaneous)}} {{stress=1}}"></button>
                </div></th>
                <th style="padding-left:10px;"><input style="width:645px;" type="text" class="heading_2" name="attr_spell_name" placeholder="Spell Name" data-i18n-placeholder="spell-name" ></th>
                <th><div style="width:40px;"><input type="checkbox" class="hider checkbox_1" name="attr_Spell_show" value="1" checked><span></span></div></th>
            </tr>
        </table>
        <input type="checkbox" class="hider hidden" value="1" name="attr_Spell_show" checked>
        <div class="sheet-hide">
            <table class="table_2" >
                <tr>
                    <td data-i18n="technique">Technique</td>
                    <td>
                        <select class="select_1" name="attr_spell_tech_name">
                            <option class="italic" value="unselected" data-i18n="technique" >Technique</option>
                            <option value="Creo" data-i18n="creo" >Creo</option>
                            <option value="Intellego" data-i18n="intellego" >Intellego</option>
                            <option value="Muto" data-i18n="muto" >Muto</option>
                            <option value="Perdo" data-i18n="perdo" >Perdo</option>
                            <option value="Rego" data-i18n="rego" >Rego</option>
                        </select>
                    </td>
                    <td data-i18n="form" >Form</td>
                    <td>
                        <select class="select_1" name="attr_spell_form_name">
                            <option class="italic" value="unselected" data-i18n="form" >Form</option>
                            <option value="Animal" data-i18n="animal" >Animal</option>
                            <option value="Aquam" data-i18n="aquam" >Aquam</option>
                            <option value="Auram" data-i18n="auram" >Auram</option>
                            <option value="Corpus" data-i18n="corpus" >Corpus</option>
                            <option value="Herbam" data-i18n="herbam" >Herbam</option>
                            <option value="Ignem" data-i18n="ignem" >Ignem</option>
                            <option value="Imaginem" data-i18n="imaginem" >Imaginem</option>
                            <option value="Mentem" data-i18n="mentem" >Mentem</option>
                            <option value="Terram" data-i18n="terram" >Terram</option>
                            <option value="Vim" data-i18n="vim" >Vim</option>
                        </select>
                    </td>
                    <td><span class="vcenter">
                        <span data-i18n="focus" style="padding-right: 5px;" >Focus</span>
                        <input type="checkbox" class="check" name="attr_spell_Focus" value="[[{((@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_tech_name}_i18n@{sys_rbk}]), ((@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Score@{sys_rbk} + @{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_Puissant@{sys_rbk}) [@{sys_at}@{character_name}@{sys_pipe}@{spell_form_name}_i18n@{sys_rbk}])}kl1]] [@{focus_i18n}]"></input>
                    </span></td>
                    <td><span class="vcenter">
                        <span data-i18n="deficiency" style="padding-right: 5px;" >Deficiency</span>
                        <input type="checkbox" class="check" name="attr_spell_Deficiency" value="1"></input>
                    </span></td>
                    <td data-i18n="level" >Level</td>
                    <td><input type="number" class="number_2" name="attr_spell_level" value="0"></td>
                </tr>
                //- <!--
                //- <tr>
                //-     <td></td>
                //-     <td><input type="text" class="hidden" name="attr_Technique_name" value="Technique"></td>
                //-     <td><input type="number" class="hidden" name="attr_spell_Technique" value="0"></td></td>
                //-     <td><input type="text" class="hidden" name="attr_Form_name" value="Form"></td>
                //-     <td><input type="number" class="hidden" name="attr_spell_Form" value="0"></td></td>
                //-     <td></td>
                //- </tr>
                //- -->
                <tr>
                    <td data-i18n="range" >Range</td>
                    <td><input type="text" class="heading_2" name="attr_spell_range" value=""></td>
                    <td data-i18n="duration" > Duration</td>
                    <td><input type="text" class="heading_2" name="attr_spell_duration" value=""></td>
                    <td data-i18n="target" >Target</td>
                    <td><input type="text" class="heading_2" name="attr_spell_target" value="" ></td>
                    <td data-i18n="bonus" >Bonus</td>
                    <td><input type="number" class="number_2" name="attr_spell_bonus" value="0"></td>
                </tr>
                <tr>
                    <td colspan="8"><textarea class="textarea_2" style="width:815px;" name="attr_spell_note" placeholder="Spell Description" data-i18n-placeholder="spell-description"></textarea></td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>