<!-- 6 Sheet -->
<div class="sheet-tab-content tab6">
    //- <!-- Welcome message -->
    //- <div class="welcome">
    //-     <h3 class="heading_label" style="margin-bottom: 5px;">Ars Magica 5th Edition Sheet - v1.7</h3>
    //-     <div data-i18n="welcome-title">Welcome to the Ars Magica 5th Edition Sheet !</div>
    //-     <br>
    //-     <div data-i18n="welcome-0">Those are a few important notes you'll need to read before using the sheet. A more complete documentation can be found below.
    //-     </div>
    //-     <br>
    //-     <div data-i18n="welcome-1">First, this sheet features some configuration options, found below. Be sure to review those. Configure is your character is a Magi, how you want botches to be rolled and display in chat, and how you want to chose between simple and stress rolls (when applicable).
    //-     </div>
    //-     <br>
    //-     <div data-i18n="welcome-2">Second, you might want to read a bit the section on the documentation on how rolls works. The stress dice of Ars Magica 5th edition are quite complicated, and this sheet isn't <i>quite</i> able to handle them completely automatically. You'll need to copy the result before the critical roll, for instance.
    //-     </div>
    //-     <br>
    //-     <div>
    //-         <span data-i18n="welcome-3a">Third, some element of the sheet are</span> 
    //-         <span class="has-tooltip">
    //-             <span data-i18n="welcome-3b">underlined</span>
    //-             <span class="sheet-tooltip" data-i18n="tooltip-welcome">Underlined text features tooltip with additional informations</span>
    //-         </span>: <span data-i18n="welcome-3c">this means they have a tooltip that shows additional info about them.</span>
    //-     </div>
    //- </div>

    //- <!-- Configuration -->
    //- <div>
    //-     <h3 class="heading_label" style="margin-top: 15px;" data-i18n="config-configuration">Configuration</h3>
    //-     <div class="config">
    //-         <span data-i18n="config-botch">Botch formula</span>
    //-         <select class="select_1" name="attr_botch_formula">
    //-             <option value="&{template:botch} {{roll= [[{[[?{@{botch_num_i18n}|1}]]d10cs0cf10}=10]] }} {{type=Grouped}}" data-i18n="config-botch-grouped">Grouped rolls</option>
    //-             <option value="&{template:botch} {{roll= ?{@{botch_num_i18n} | 1 Die,[[1d10cf10cs0]]|2 Dice,[[1d10cf10cs0]] [[1d10cf10cs0]]|3 Dice,[[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]]|4 Dice,[[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]]|5 Dice,[[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]]|6 Dice,[[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]]|7 Dice,[[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]]|8 Dice,[[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]] [[1d10cf10cs0]]} }} {{type=Grouped}}" data-i18n="config-botch-separate">Separate rolls</option>
    //-         </select>

    //-         <span data-i18n="config-dice">Dice type</span>
    //-         <select class="select_1" name="attr_die-type-selection">
    //-             <option value="toggle" data-i18n="config-dice-toggle">Toggle</option>
    //-             <option value="both" data-i18n="config-dice-both">Both</option>
    //-         </select>

    //-         <span data-i18n="config-magi">Magi character</span>
    //-         <select class="select_1" name="attr_isMagi">
    //-             <option value="yes" data-i18n="config-magi-yes">Yes</option>
    //-             <option value="no" data-i18n="config-magi-no">No</option>
    //-         </select>
    //-     </div>
    //- </div>
    //- <!-- Legacy -->
    //- <di>
    //-     <h3 class="heading_label" style="margin-top: 15px; margin-bottom: 10px;" data-i18n="legacy-title">Legacy</h3>
    //-     <div class="welcome" data-i18n="legacy-content"> This section contains part of the sheet that are no longer used, but cannot be removed because they contain character data.
    //-     </div>
    //-     <div style="margin-top: 15px;">
    //-         <h4 class="heading_label" data-i18n="armor" >Armor</h4>
    //-         <table class="table_2" style="width:800px;">
    //-             <tr>
    //-                 <th colspan="2" data-i18n="armor-worn" >Armor Worn</th>
    //-                 <th colspan="2" data-i18n="combat-modifiers" >Combat Modifiers</th>
    //-             </tr>
    //-             <tr>
    //-                 <th colspan="2"><textarea class="textarea_2" name="attr_ArmorWorn"></textarea></th>
    //-                 <th colspan="2"><textarea class="textarea_2" name="attr_ArmorModifiers"></textarea></th>
    //-             </tr>
    //-         </table>
    //-     </div>
    //- </div>v

    //- //- <!-- Embedded documentation -->
    //- <div class="divider" style="height:15px;"><span>&nbsp;</span></div>
    //- <div class="documentation" style="margin-top:5px">
    //-     +markdown({file: "./documentation.md"})
    //- </div>
    //- <div class="documentation" style="margin-top:5px">
    //-     +markdown({file: "./changelog.md"})
    //- </div>
    
</div>