<input type="hidden" class="tabstoggle" name="attr_sheetTab" value="character">
<input type="hidden" name="attr_simple-die" value="(1d10cs0cf0) [@{simple-die_i18n}]">
<input type="hidden" name="attr_stress-die" value="ceil(((((1d10cs1cf10 %9) -1)+9) %9) *1.1) [@{stress-die_i18n}]">
<input type="hidden" class="dtype-selector" name="attr_die-type-selection-proxy" value="both">
<input type="hidden" class="selected-die" name="attr_selected-die" value="simple">
<input type="hidden" class="toggle-magi" name="attr_isMagi" value="yes" >
<div class="buttonbar">
    <div class="navbuttons">
        <button type="action" name="act_character" class="tabbutton" data-i18n="character" >Character</button>
        <button type="action" name="act_abilities" class="tabbutton" data-i18n="abilities" >Abilities</button>
        <button type="action" name="act_magic" class="tabbutton magi-only" data-i18n="magic" >Magic</button>
        <button type="action" name="act_combat" class="tabbutton" data-i18n="combat" >Combat</button>
        <button type="action" name="act_spells" class="tabbutton magi-only" data-i18n="spells" >Spells</button>
        //- <button type="action" name="act_sheet" class="tabbutton" data-i18n="sheet" style="margin-left: 10px;">Sheet</button>
    </div>
    <div class="tabblank"></div>
    <div class="functions">
        <button type="action" name="act_die-toggle-simple" class="die-toggle-simple" data-i18n="simple">Simple</button>
        <button type="action" name="act_die-toggle-stress" class="die-toggle-stress" data-i18n="stress">Stress</button>
        <button type="roll" class="reroll" name="roll_reroll" title="Reroll" value="&{template:reroll} {{roll= [[1d10cs0cf0]]}}" data-i18n="roll">Roll</button>
        <button type="roll" class="botch" name="roll_botch" title="Botch" value="@{botch_formula}" data-i18n="botch" >Botch</button>
        <button type="roll" class="critical" name="roll_critical" title="Critical" value="&{template:critical} {{roll=[[?{@{total_i18n}|0} [@{total_i18n}] + (2*2**({1d10cs1cf0!1}=1)) [number of 1s] * [[1d9+1]] [last die]]]}}" data-i18n="critical">Critical</button>
        <!-- Invisible critical button with a divide by 2, for spontaneous criticals -->
        <button type="roll" class="critical" name="roll_critical-spontaneous" title="Critical" style="display: none" value="&{template:critical} {{roll=[[?{@{total_i18n}|0} [@{total_i18n}] + (2**({1d10cs1cf0!1}=1)) [number of 1s] * [[1d9+1]] [last die]]]}} {{type=@{spontaneous_i18n}}}" >
        <!-- Invisible critical button for initiative critical that adds to turn tracker -->
        <button type="roll" class="critical" name="roll_critical-init" title="Critical" style="display: none" value="&{template:critical} {{roll=[[?{@{total_i18n}|0} [@{total_i18n}] + (2*2**({1d10cs1cf0!1}=1)) [number of 1s] * [[1d9+1]] [last die] &{tracker}]]}} {{type=@{initiative_i18n}}}" >
    </div>
</div>
<div class="tab-br"></div> 

include 1_details.pug
include 2_abilities.pug
include 3_magic.pug
include 4_combat.pug
include 5_spells.pug
//- include 6_sheet.pug




