label {
	color: white;
}

.charsheet {
    background-color: #d25236;
}

.charsheet table{
    border-collapse:separate;
    border-spacing:10px;
}
 
.charsheet textarea{
    resize:vertical;
}
  
.charsheet .sheet-section{
    border-top: 5px solid #a0432c;
    padding-top:10px;
    padding-bottom:10px;
 }

.charsheet input[type=number].sheet-smallnumber{
    width:40px;
}

.charsheet input[type=text].sheet-smalltext{
    width:60px;

    margin:0px;
}
.charsheet input[type=text].sheet-notetext{
    width:85%;

    margin:0px;
}
.charsheet input[type=text].sheet-shorttext{
    
}

.charsheet input[type=text].sheet-skilltext{
    width:100px;
    padding:2px;
    margin-left:3px;
}

.charsheet .sheet-right{
    float:right;
}

.charsheet .sheet-center{
    margin-right:80px;
    float:right;
}

.charsheet .sheet-bold{
    font-size: 10pt;
    margin-bottom: 10px;
}

.charsheet .sheet-border{
    border: 0px solid white;
    vertical-align:bottom;
    width:100%;
    padding: 2px;
    margin: 2px;
}

.charsheet input[type=number].sheet-smallshortnumber{
    width:40px;
    padding-top:2px;
    padding-bottom:2px;
    display: inline-block;
    float:right;
}

.charsheet input[type=number].sheet-shortnumber{
    padding-top:2px;
    padding-bottom:2px;
}

.charsheet label.sheet-areaLabel{
    margin:5px;
}

input.sheet-arrow {
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: none;
}

input.sheet-arrowtwo:checked ~ div.sheet-bodytwo {
    display: none;
}

input.sheet-happyarrow:checked ~ div.sheet-happybody {
    display: none;
}

input.sheet-logicarrow:checked ~ div.sheet-logicbody {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Hide actual radio */
input[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio */
input[type="radio"] + span::before {
    margin-right: 1.5px;
    margin-left: 1.5px;
    line-height: 14px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    background: white;
    background: white;
    content: "•";
    width: 14px;
    height: 14px;
    font-size: 40px;
    border-radius: 50%;
    color: black;
    box-sizing: content-box;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"]:checked ~ input[type="radio"] + span::before {    
    content: "";
}

#mydiv
{
}
#mydiv a
{
    font-size:100px;
}
