.sheet-page {
  background-color: #f2f2f2;
  background-image: url("https://inspirationhut.net/wp-content/uploads/2014/09/grey-paper-texture.jpg");
  border: 0.01em solid lightgray;
  border-radius: 1em;
  color: #4d4d4d;
  display: inline-block;
  font-family: sans-serif;
  margin: 0;
  max-width: 70em;
  padding: 0;
  text-align: center;
  vertical-align: top;
}

.sheet-divrow {
  border: 0.2em solid #4d4d4d;
  border-radius: 1em;
  display: inline-block;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  padding: 0;
  text-align: center;
  vertical-align: top;
}

.sheet-divcol {
  /*border: 0.2em solid #4d4d4d;*/
  border-radius: 0.5em;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
  text-align: center;
  vertical-align: top;
  width: 21em;
}

.sheet-block-a, .sheet-block-switch:checked~.sheet-block-b {
  display: inline-block;
}

.sheet-block-b, .sheet-block-switch:checked~.sheet-block-a {
  display: none;
}

h1 {
  display: inline-block;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  display: inline-block;
  line-height: 1em;
  margin: 0;
  padding: 0.2em;
  text-align: center;
}

h4 {
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

h3 {
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

table {
  border-collapse: collapse;
  color: #4d4d4d;
  text-align: left;
  width: 100%;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.1em solid #4d4d4d;
  color: #4d4d4d;
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding: 0;
}

input[type=text] {
  padding: 0;
  width: 100%;
}

input[type=number] {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 3.5em;
}

input[type=radio] {
  margin: 0;
  padding: 0;
}

input:disabled {
  border: 0;
}

.prop_result[type=number] {
  font-weight: bolder;
}

th {
  border-collapse: collapse;
  /*border: 0.1em solid gray;*/
  text-align: left;
  width: 8em;
}

td {
  border-collapse: collapse;
  /*border: 0.1em solid gray;*/
  padding: 0;
  text-align: center;
}

fieldset {
  border: none;
}
