input[type="hidden"].popup {
    &[value="1"] {
        & ~ div.popup {
            display:flex;

            div.popupChoixArmure {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }

    &[value="2"] {
        & ~ div.popup {
            display:flex;

            div.popupResilience {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }

    &[value="3"] {
        & ~ div.popup {
            display:flex;

            div.popupWarrior {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }

    &[value="4"] {
        & ~ div.popup {
            display:flex;

            div.popupPriest {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }

    &[value="5"] {
        & ~ div.popup {
            display:flex;

            div.popupWarmaster {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }

    &[value="6"] {
        & ~ div.popup {
            display:flex;

            div.popupPsion {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }

    &[value="7"] {
        & ~ div.popup {
            display:flex;

            div.popupWarlock {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }

    &[value="8"] {
        & ~ div.popup {
            display:flex;

            div.popupDruid {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }

    &[value="9"] {
        & ~ div.popup {
            display:flex;

            div.popupWarmasterWarlord {
                display:flex;
            }
        }

        & ~ div.topLeft,
        & ~ div.topRight,
        & ~ div.tab {
            opacity: 0.5;
        }
    }
}

div.popup {
    display:none;

    position: absolute;
    width: 100%;
    min-width: 852px;
    height: 100%;
    z-index:999;

    div {
        @include titre($black, $clair);

        display:none;

        position: absolute;
        width: 200px;
        height: 100px;
        border: 1px solid black;
        left: calc(50% - 110px);
        top: calc(50% - 100px);
        background: $sombre;
        z-index: 99;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 30px;
        align-content: center;

        h1 {
            display:flex;
            border-top:1px solid $clair;
            border-right:1px solid $clair;
            border-left:1px solid $clair;
            border-bottom:1px solid $sombre;
        }

        select {
            width:100%;
            text-align: center;
            border:0px;

            &:not(:first-of-type) {
                border-top:1px solid $sombre;
            }
        }

        span {
            word-break: break-word;
            text-align: justify;
            font-size:12px;
            font-variant: small-caps;
            color:$white;
            border-left:1px solid $clair;
            border-right:1px solid $clair;
            padding:2px;
        }

        button[type="action"] {
            width: 100%;
            height: 23px;
            color: $black;
            padding: 0px;
            justify-content: center;
            align-items: center;
            background: $clair;
            border: 1px solid $sombre;
            font-size: 12px;
            font-variant: small-caps;
            font-weight: bold;
            margin-top: auto;
            margin-bottom: auto;
            border-right: 1px solid $clair;
            border-left: 1px solid $clair;
            border-bottom: 1px solid $clair;

            &:hover {
                box-shadow: inset 1px 1px 2px 2px $black;
            }
        }
    }
}