
.sheet-rolltemplate-base,
.sheet-rolltemplate-simple,
.sheet-rolltemplate-combat,
.sheet-rolltemplate-mechaArmure {
	@include block($sombre);

	font-family: "Segoe UI";

	span {
		color:$black;
		line-height:inherit;
		font-weight:inherit;
		font-size:inherit;
	}

	.sheet-f10 {
		font-size:10px;
		font-weight:bold;

		>* {
			font-size:inherit;
			font-weight:inherit;

			>* {
				font-size:inherit;
				font-weight:inherit;
			}
		}
	}

	.sheet-f12 {
		font-size:12px;
		font-weight:bold;

		>* {
			font-size:inherit;
			font-weight:inherit;

			>* {
				font-size:inherit;
				font-weight:inherit;
			}
		}
	}

	.sheet-f14 {
		font-size:14px;
		font-weight:bold;

		>* {
			font-size:inherit;
			font-weight:inherit;

			>* {
				font-size:inherit;
				font-weight:inherit;
			}
		}
	}

	div.sheet-ligne {
		display:flex;
		width:100%;
		justify-content: space-between;
		background:$clair;
		line-height: 28px;

		>span {
			display:flex;

			&:first-of-type {
				width:calc(70% - 2px);
				padding-left:2px;
			}

			&:last-of-type {
				width:calc(30%);
				text-align: center;
				justify-content: center;
			}
		}
	}

	div.sheet-ligneM {
		display:flex;
		width:100%;
		justify-content: space-between;
		background:$clair;
		line-height: 28px;
		flex-wrap: wrap;

		>span {
			display:flex;

			&.sheet-nom {
				width:calc(70% - 2px);
				padding-left:2px;
				word-wrap:anywhere;
				text-align: justify;
				line-height: 15px;
				min-height: 18px;
				align-content: center;
				align-items: center;
				margin-top: 5px;
				margin-bottom:5px;
			}

			&.sheet-value {
				width:calc(30%);
				text-align: center;
				justify-content: center;
				align-content: center;
				align-items: center;
			}

			&.sheet-full {
				width:100%;
				font-size:10px;
				line-height: 11px;;
				padding-left:2px;
				padding-right:2px;
				word-wrap: anywhere;

				>* {
					width:max-content;
					font-size:inherit;
					font-weight:inherit;
					line-height: inherit;
					padding-right:2px;
				}

				&:last-of-type {
					margin-bottom:3px;
				}
			}
		}

		div.sheet-subValue {
			display:flex;
			width:100%;
			justify-content: space-between;

			span {
				display:flex;

				&:first-of-type {
					width:calc(70% - 2px);
					padding-left:2px;
					word-wrap:anywhere;
					text-align: justify;
					line-height: 13px;
					align-content: center;
					align-items: center;
					font-size:10px;
				}

				&:last-of-type {
					width:calc(30%);
					text-align: center;
					justify-content: center;
					align-content: center;
					align-items: center;
					line-height: 13px;
					font-size:10px;
				}
			}

			&:last-of-type {
				margin-bottom:10px;
			}
		}
	}

	div.sheet-ligneF {
		display:flex;
		width:100%;
		justify-content: space-between;
		background:$clair;
		line-height: 28px;
		flex-wrap: wrap;

		>span {
			display:flex;

			&.sheet-nom {
				width:calc(100% - 4px);
				padding-left:2px;
				padding-right:2px;
				word-wrap:anywhere;
				text-align: justify;
				line-height: 15px;
				min-height: 28px;
				align-content: center;
				align-items: center;
			}

			&.sheet-full {
				width:calc(100% - 4px);
				font-size:10px;
				line-height: 11px;;
				padding-left:2px;
				padding-right:2px;
				word-wrap: anywhere;

				>* {
					width:max-content;
					font-size:inherit;
					font-weight:inherit;
					line-height: inherit;
					padding-right:2px;
				}

				&:last-of-type {
					margin-bottom:3px;
				}
			}

			&.sheet-fullText {
				display: inline-block;
				text-align: justify;
				width:calc(100% - 4px);
				padding-left:2px;
				padding-right:2px;
				word-wrap: anywhere;
				line-height: 17px;
				font-weight: normal;

				>* {
					width:100%;
					font-size:inherit;
					font-weight:inherit;
					line-height: inherit;
					padding:0px;
				}
				
				.inlinerollresult {
					display:inline;
					text-align: justify;
				}

				&:last-of-type {
					margin-bottom:3px;
				}
			}
		}
	}

	div.sheet-ligneFullHerauts {
		display: flex;
		width: 100%;
		background: $clair;
		line-height: 16px;
		flex-wrap: wrap;
		justify-content: center;
		word-wrap: anywhere;
		min-height: 28px;
		align-content: center;
		font-weight: bold;
		font-size: 12px;
		text-align:center;
	}

	.sheet-space {
		>span {
			&:last-of-type {
				margin-left:5px;
			}
		}
	}

	h1.sheet-exploit {
        display:flex;
        width: 100%;
        align-content: baseline;
        background: $green;
        color: $white;
        line-height: 28px;
        min-height: 28px;
        justify-content: center;
        font-size: 14px; 
    }

	h1.sheet-echecCritique {
        display:flex;
        width: 100%;
        align-content: baseline;
        background: $red;
        color: $white;
        line-height: 28px;
        min-height: 28px;
        justify-content: center;
        font-size: 14px; 
    }

	div.sheet-button {
		display:flex;
		width:100%;
		background:$clair;
		min-height: 28px;
		height: auto;
		align-items: center;
		justify-content: space-between;

		a[href^="~"] {
			background-color: $sombre;
			font-weight: bold;
			padding: 0px;
			line-height: 28px;
			width: 40px;
			justify-content: center;
			display: flex;
			border-color: $clair;
		}
	}

	.inlinerollresult  {
		display: inline-block;
		min-width:0px;
		text-align: center;
		border: 0px;
		background:none !important;
		color:$black;
		font-size:inherit;

		&.fullcrit,
		&.fullfail,
		&.importantroll {
			border:0px;
		}
	}
}

.sheet-rolltemplate-base {
	$titre:(
		"titre2":(
			"actif":true,
			"background":$clair,
			"color":$black,
			"borderBottom":1px solid $sombre
		)
	);

	@include titreTemplate($white, transparent, $titre);

	div.sheet-ligne {
		&:not(:first-of-type) {
			border-top:1px solid $sombre;
		}
	}
}

.sheet-rolltemplate-simple {
	$titre:(
		"titre2":(
			"actif":true,
			"background":$clair,
			"color":$black
		),
		"titre3":(
			"actif":true,
			"background":$clair,
			"color":$black
		),
		"sousTitre":(
			"actif":true,
			"background":$sombre,
			"color":$white
		)
	);

	@include titreTemplate($white, transparent, $titre);

	>* {
		&:not(:nth-child(1)):not(:nth-child(2)) {
			border-top:1px solid $sombre;
		}
	}
}

.sheet-rolltemplate-combat,
.sheet-rolltemplate-mechaArmure {
	$titre:(
		"titre2":(
			"actif":true,
			"background":$clair,
			"color":$black
		),
		"titre3":(
			"actif":true,
			"background":$clair,
			"color":$black
		),
		"sousTitre":(
			"actif":true,
			"background":$sombre,
			"color":$white
		)
	);

	@include titreTemplate($white, transparent, $titre);

	div.sheet-ligneFull {
		display:block;
		width:100%;
		justify-content: space-between;
		background:$clair;
		line-height: 28px;

		>span {
			display:block;
			width:calc(100% - 4px);
			padding:2px;
			word-wrap: anywhere;
			text-align: justify;
			font-size: 12px;
			line-height: 16px;
		}
	}

	>* {
		&:not(:nth-child(1)):not(:nth-child(2)) {
			border-top:1px solid $sombre;
		}
	}

	
	.sheet-doubleBordureTop {
		border-top:5px double $sombre !important;
	}
}