.charsheet
    & .nstate
        width: 15px
        height: 15px
        padding: 0
        border: 1px solid black
        background: #eee
        margin: 2px 0

        &> .nstateopt
            display: none
            font-weight: bold
            margin-left: -12px
            text-align: center

        &.healthbox
            border-radius: 10px
            border: 2px solid $emblue
            &> .nstate
                width: 13px
                height: 12px
                border-radius: 10px
            &> button[type="action"]
                opacity: 0
            &> input[type=hidden]
                &[value="1"] ~ span.nstateopt.health_tenacity,
                &[value="2"] ~ span.nstateopt.health_longTenacity,
                &[value="3"] ~ span.nstateopt.health_wound
                    display: flex

            &> span.nstateopt
                font-size: 1.8em

                &.health_tenacity,
                &.health_longTenacity
                    margin-left: -18px
                    margin-top: -3px

                &.health_wound
                    margin-left: -15px

