/* === GENERAL === */
.charsheet {
    min-width: 820px;
    background: #FFFFFF;
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Star Trek Adventures 2d20/Sheet_blank.PNG");
    background-repeat: no-repeat;
    background-position: 0px 40px;
}

.sheet-section {
	float: left;
	width: calc(100% - 85px);
	margin: 0px 0px 0px 85px;
	padding: 1px;
	box-sizing: border-box;
}

.sheet-half {
	max-width: calc(50% - 85px); 
}

.sheet-half input[type="number"] {
   width: 50px;
}

.sheet-break {
	clear: both;
}


.sheet-header-main {
    margin-bottom: 4px;
    padding: 2px 2px;
    text-align: right;
	background: #FFFFFF;
	color: #FF9900;
	font-weight: bold;
	font-size: 30px;
}

.sheet-header {
    margin-bottom: 4px;
    padding: 2px 4px;
    border-radius: 25px;
	background: #FF9900;
	color: black;
	text-align: center;
	font-weight: bold;
}

.sheet-attribute {
    margin-bottom: 4px;
    padding: 2px 4px;
    border-radius: 25px;
	background: #cc6699;
	color: white;
	text-align: center;
	font-weight: bold; 
}

.sheet-center {
    text-align: center;
}


.sheet-break {
	clear: both;
}



label,
select {
	margin: 0;
}

textarea {
	margin: 0;
	width: 100%;
	height: 215px;
	resize: vertical;
	box-sizing: border-box;
}

.sheet-repitem,
.repitem {
	margin-bottom: 2px;
}


/* Override Roll20 Button styling for something less conspicious */
button {
	height: 22px;
	line-height: 16px;
	margin: 0 !important;
	border-radius: 0 !important;
	background-image: none !important;
	border: none !important;
	box-shadow: none !important;
}

.repitem button {
	height: 28px;
	line-height: 20px;
}

/* Rolltemplate */
.sheet-rolltemplate-lcars table {
    width: 230px;
    padding: 2px;
    font-weight: bold;
    background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Star Trek Adventures 2d20/sheet_roll_temp_lcars_full.png") top left;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #000000;
    border-spacing: 0;
    border:1px solid #9999cc;
}
 
.sheet-rolltemplate-lcars th {
	padding-left: 50px;
	padding-Top: 18px;
	font-size: 1.2em;
    text-align: center;
    border:none;
}
 
 
.sheet-rolltemplate-lcars td {
    padding-left: 50px;
    font-size: 1.0em;
    vertical-align: top;
    border:none;
}
 
.sheet-rolltemplate-lcars .sheet-result {
    font-size: 1.2em;
    text-align: center;
    color: rgb(112, 0, 0);
    padding-bottom: 20px;
}
 
.sheet-rolltemplate-lcars .inlinerollresult  {
    background-color: transparent;
    color: #000000;
    border: none;
}
 
.sheet-rolltemplate-lcars .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-lcars .inlinerollresult.fullfail {
    color: #000000;
    border: none;
}
 
.sheet-rolltemplate-lcars .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
}
