div.sheet-tab-content { display: none; }
input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3
{
    display:block;
}
input.sheet-tab{
    width:150px;
    height: 20px;
    top: 5px;
    left: 6px;
    margin: 5px;
    cursor: pointer;
    z-index: 1;
}
input.sheet-tab::before{
    content: attr(title);

    border-radius:.5em;
    border:2px solid black;
    text-align: center;
    display: inline-block;
    
    background: #926239;
    color:white;
    width: 150px;
    height: 20px;
    font-size: 18px;
}
input.sheet-tab:checked::before{
    background:white;
    color:#926239;
    border-radius:.5em;
    border:2px solid black;

}

.sheet-dark_row{
    color:black;
    background-color:#926239;
    font-weight:bolder;
  
    }
    
.sheet-cell{display:inline-block;margin-right:1px;}

.sheet-style_row{
    position:relative;
    display:block;
    margin: 3px;
}
.sheet-actual_cell{

    font-size:9pt;
    padding-top:7px;
    padding-left:7px;
    font-weight:bolder
}
.sheet-title{
    text-align: left;
    font-family: "Impact", fantasy;
    background-color: #926239;
    color: black;
    margin-left:15px;
    font-style:oblique;

    
    width: 90%;
    font-size: 20pt;
    font-weight:bolder;
}
.sheet-stat{
    width:35px;
    margin-left:7px;
    text-align:center;
    font-size:20px;
}
.sheet-stat-total{
    width:35px;
    margin-left:7px;
    text-align:center;
    font-size:20px;
    background-color:black;
    color:white;
    border:none;
}

.sheet-arme-title{
    display:inline-block;margin-right:1px;
    font-size:14px;
}
.sheet-arme{
    display:inline-block;
    font-size:12px;
    text-align:left;
    font-weight:bolder;
}
.sheet-comp{
    display:inline-block;
    font-size:12px;
    text-align:center;
    font-weight:lighter;
    color:white;
    margin-left:20px;
    background-color:#926239;
    font-style:oblique;
    border:none;
}
.sheet-comp-name{
    display:inline-block;
    font-size:12px;
    text-align:left;
    font-weight:lighter;
    color:white;
    background-color:#926239;
    font-style:oblique;
    border:none;
}
.sheet-rolltemplate-co1 .sheet-imghr{
    width: 176px;
    height: 4px;
    padding: 0px;
    margin: 0px;
}
.sheet-rolltemplate-war2_test table {
    width: 189px;
    padding: 2px;
    border: 2px ;
    border-radius: 7%;
    background-color: #ffffff;
    background:url(http://i.imgur.com/BLb0XMU.jpg) top left repeat;
}
.sheet-rolltemplate-war2_test th {
    color: rgb(233, 223, 151);
    background-color: rgb(63, 32, 33);
    padding-left: 5px;
    line-height: 1.1em;
	font-size: 1em;
    text-align: center;
	font-family: "Arial", Helvetica, sans-serif;
    text-transform: uppercase;
}
.sheet-rolltemplate-war2_test td {
    padding: 0px 5px 0px 5px;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    margin-top:5px;
}
.sheet-rolltemplate-war2_test .sheet-tcat {
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    padding-right: 2px;
}
.sheet-rolltemplate-war2_test .inlinerollresult  {
    background-color: rgba(255,255,255,0.9);
    border-width: 1px;
    border-color: #BEAAA0;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-war2_test .inlinerollresult.fullcrit {
    color: #3FB315;
    border-width: 2px;
    border-color: #3FB315;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-war2_test .inlinerollresult.fullfail {
    color: #B31515;
    border-width: 2px;
    border-color: #B31515;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-war2_test .inlinerollresult.importantroll {
    color: #5C2E05;
    border-width: 2px;
    border-color: #5C2E05;
    border-style: solid;
    border-radius: 50%;
}


.sheet-rolltemplate-war2_combat table {
    width: 189px;
    padding: 2px;
    border: 2px ;
    border-radius: 7%;
    background-color: #ffffff;
    background:url(http://i.imgur.com/BLb0XMU.jpg) top left repeat;
}
.sheet-rolltemplate-war2_combat th {
    color: rgb(233, 223, 151);
    background-color: rgb(63, 32, 33);
    padding-left: 5px;
    line-height: 1.1em;
	font-size: 1em;
    text-align: center;
	font-family: "Arial", Helvetica, sans-serif;
    text-transform: uppercase;
}
.sheet-rolltemplate-war2_combat td {
    margin: 0px;
    padding: 0px 5px 0px 5px;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    text-align:left;
    height:22px;
}
.sheet-rolltemplate-war2_combat .sheet-tcat {
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    padding-right: 2px;
}

.sheet-rolltemplate-war2_combat .inlinerollresult  {
    background-color: rgba(255,255,255,0.9);
    border-width: 1px;
    border-color: #BEAAA0;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-war2_combat .inlinerollresult.fullcrit {
    color: #3FB315;
    border-width: 2px;
    border-color: #3FB315;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-war2_combat .inlinerollresult.fullfail {
    color: #B31515;
    border-width: 2px;
    border-color: #B31515;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-war2_combat .inlinerollresult.importantroll {
    color: #5C2E05;
    border-width: 2px;
    border-color: #5C2E05;
    border-style: solid;
    border-radius: 50%;
}