//= include flags.html
<input class="slide-input-pc" type="checkbox" name="attr_is_npc" value="1"><label class="slide-toggle-pc"><span class="slide-cover">···</span><span class="slide-toggle-pc-left">{{'PC' | translate}}</span><span class="slide-toggle-pc-right">{{'NPC' | translate}}</span></label>
<span class="small-label bold pad-l-sm">
  <span class="vert-middle">Shaped v</span>
  <div class="col-05 inline-block vert-middle">
    <input type="text" name="attr_version" class="no-border bold small-label" readonly>
  </div>
</span>