<input type="radio" name="attr_lang" class="toggle-language float-right" value="ru" checked><span class="toggle-language ru float-right"></span>
<input type="radio" name="attr_lang" class="toggle-language float-right" value="fr"><span class="toggle-language fr float-right"></span>
<input type="radio" name="attr_lang" class="toggle-language float-right" value="de"><span class="toggle-language de float-right"></span>
<input type="radio" name="attr_lang" class="toggle-language float-right" value="en" checked><span class="toggle-language en float-right"></span>
