<input type="radio" name="attr_lang" class="toggle-language float-right" value="Russian" checked><span class="toggle-language ru float-right"></span>
<input type="radio" name="attr_lang" class="toggle-language float-right" value="French"><span class="toggle-language fr float-right"></span>
<input type="radio" name="attr_lang" class="toggle-language float-right" value="German"><span class="toggle-language de float-right"></span>
<input type="radio" name="attr_lang" class="toggle-language float-right" value="English" checked><span class="toggle-language en float-right"></span>
