<div class="mar-t-sm npc"></div>
<input type="radio" name="attr_tab" class="toggle-page-core" value="core" checked><span class="toggle-page-core">{{'CORE' | translate}}</span>
<input type="radio" name="attr_tab" class="toggle-page-spells" value="spells"><span class="toggle-page-spells">{{'SPELLS' | translate}}</span>
<input type="radio" name="attr_tab" class="toggle-page-equipment pc" value="equipment"><span class="toggle-page-equipment pc">{{'EQUIPMENT' | translate}}</span>
<input type="radio" name="attr_tab" class="toggle-page-character pc" value="character"><span class="toggle-page-character pc">{{'CHARACTER' | translate}}</span>
<input type="radio" name="attr_tab" class="toggle-page-settings" value="settings"><span class="toggle-page-settings pictos">y</span>
<input type="radio" name="attr_tab" class="toggle-page-all" value="all"><span class="toggle-page-all">{{'ALL' | translate}}</span>
<input type="checkbox" name="attr_edit_mode" class="toggle-edit-mode mar-l-md"><span class="toggle-edit-mode pictos mar-l-md">p</span>
