<input type="hidden" name="attr_has_barbarian_levels" class="has-barbarian-levels hidden">
<input type="hidden" name="attr_has_bard_levels" class="has-bard-levels hidden">
<input type="hidden" name="attr_has_cleric_levels" class="has-cleric-levels hidden">
<input type="hidden" name="attr_has_druid_levels" class="has-druid-levels hidden">
<input type="hidden" name="attr_has_fighter_levels" class="has-fighter-levels hidden">
<input type="hidden" name="attr_has_monk_levels" class="has-monk-levels hidden">
<input type="hidden" name="attr_has_paladin_levels" class="has-paladin-levels hidden">
<input type="hidden" name="attr_has_ranger_levels" class="has-ranger-levels hidden">
<input type="hidden" name="attr_has_rogue_levels" class="has-rogue-levels hidden">
<input type="hidden" name="attr_has_sorcerer_levels" class="has-sorcerer-levels hidden">
<input type="hidden" name="attr_has_warlock_levels" class="has-warlock-levels hidden">
<input type="hidden" name="attr_has_wizard_levels" class="has-wizard-levels hidden">

<input type="checkbox" name="attr_spell_slots_l1_toggle" class="toggle-spell-level-1 hidden">
<input type="checkbox" name="attr_spell_slots_l2_toggle" class="toggle-spell-level-2 hidden">
<input type="checkbox" name="attr_spell_slots_l3_toggle" class="toggle-spell-level-3 hidden">
<input type="checkbox" name="attr_spell_slots_l4_toggle" class="toggle-spell-level-4 hidden">
<input type="checkbox" name="attr_spell_slots_l5_toggle" class="toggle-spell-level-5 hidden">
<input type="checkbox" name="attr_spell_slots_l6_toggle" class="toggle-spell-level-6 hidden">
<input type="checkbox" name="attr_spell_slots_l7_toggle" class="toggle-spell-level-7 hidden">
<input type="checkbox" name="attr_spell_slots_l8_toggle" class="toggle-spell-level-8 hidden">
<input type="checkbox" name="attr_spell_slots_l9_toggle" class="toggle-spell-level-9 hidden">