
<div class="sheet-misses-track">
  <div>
    <select class="sheet-progress-input" name="attr_misses-0">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-1">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-2">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-3">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-4">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-5">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-6">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-7">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-8">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-9">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <select class="sheet-progress-input" name="attr_misses-10">
      <option value="0" selected="selected"></option>
      <option value="1">-</option>
      <option value="2">+</option>
      <option value="3">*</option>
      <option value="4">#</option>
    </select>
    <input class="sheet-hidden" type="text" name="attr_misses-filled" value="floor((@{misses-0}+@{misses-1}+@{misses-2}+@{misses-3}+@{misses-4}+@{misses-5}+@{misses-6}+@{misses-7}+@{misses-8}+@{misses-9})/4)" disabled="true"/>
  </div>
</div>