
.consequences {
  &__header {
    @include sectionHeader;
  }
  &__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
    &--header {
      padding: 0 1rem;
      text-align: center;
      font-size: 1.17rem;
    }
  }
  &__roll {
    justify-self: start;
    @include rollButton;
    &--span {
      text-transform: uppercase;
      text-align: left;
      font-size: 1.17rem;
    }
  }
}

.consequence {
  &__die {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    cursor: pointer;
    &--span {
      position: relative;
      top: 4px;
      font-size: 1.17rem;
      font-weight: bold;
      z-index: 1;
      @media (prefers-color-scheme: light) {
        color: $secondary-accent-light;
      }
      @media (prefers-color-scheme: dark) {
        color: $secondary-accent-dark;
      }
    }
    &--input {
      display: none;
      &:checked {
        + .consequence__die--span {
          @media (prefers-color-scheme: light) {
            color: $secondary-color-light;
          }
          @media (prefers-color-scheme: dark) {
            color: $secondary-color-dark;
          }
        }
        ~ .consequence__die--square {
          @media (prefers-color-scheme: light) {
            background: $secondary-accent-light;
          }
          @media (prefers-color-scheme: dark) {
            background: $secondary-accent-dark;
          }
        }
      }
    }
    &--square {
      position: absolute;
      border: 2px solid transparent;
      @include square(24px);
      @media (prefers-color-scheme: light) {
        border-color: $secondary-accent-light;
      }
      @media (prefers-color-scheme: dark) {
        border-color: $secondary-accent-dark;
      }
    }
  }
  &__description {
    display: flex;
    align-items: start;
    font-variant-caps: small-caps;
    width: 100%;
    min-height: 4rem;
    cursor: pointer;
  }
}
