
.header {

  &__character {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: 0.5rem;
  }

  &__npc {
    display: flex;
    align-items: center;
    &--input {
      text-align: center;
      font-size: 2rem;
      font-family: $primary-serif;
      padding-left: 0 !important;
    }
  }

  &__title {
    grid-row: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    &--header {
      font-family: $primary-serif;
      text-transform: uppercase;
    }
    &--input[type=text] {
      font-size: 2rem;
    }
  }

  &__pronouns, &__player {
    &--input {
      font-size: 1rem;
      font-family: $primary-serif;
      padding: 0.5rem;
    }
  }

  &__pronouns {
    grid-row: 1;
    grid-column: 2 / 3;
  }

  &__player {
    grid-row: 2;
    grid-column: 2 / 3;
  }

  &__name {
    display: none;
    &--span {
      font-size: 2rem;
      font-family: $primary-serif;
      text-transform: uppercase;
    }
  }

  @media only screen and (max-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto auto;
    &__title, &__pronouns, &__player {
      &--label {
        padding-bottom: 1rem;
        text-align: center;
      }
      &--input {
        text-align: center;
      }
    }
    &__title {
      grid-row: 1;
      grid-column: 1 / 3;
    }
    &__pronouns {
      grid-row: 2;
      grid-column: 1 / 2;
    }
    &__player {
      grid-row: 2;
      grid-column: 2 / 3;
    }
  }

  @media only screen and (max-width: $small) {
    &__character.character, &__npc.npc {
      display: none;
    }
    &__name {
      display: flex;
      justify-content: center;
    }
  }
}

@media (prefers-color-scheme: light) {
  .header {
    &__title {
      &--input {
        border-color: $primary-accent-light;
      }
      &--header {
        color: $primary-accent-light !important;
      }
    }
    &__pronouns, &__player {
      &--input {
        border-color: $primary-accent-light;
      }
    }
    &__name {
      color: $primary-accent-light !important;
    }
    &__npc--input {
      border-color: $primary-accent-light;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    &__title {
      &--input {
        border-color: $primary-accent-dark;
      }
      &--header {
        color: $primary-accent-dark !important;
      }
    }
    &__pronouns, &__player {
      &--input {
        border-color: $primary-accent-dark;
      }
    }
    &__name {
      color: $primary-accent-dark !important;
    }
    &__npc--input {
      border-color: $primary-accent-dark;
    }
  }
}
