-
    const character = [
        {
            "name":"Name",
            "field":"text",
        },
        {
            "name":"Species",
            "field":"select",
            "options":[
                "",
                "Human",
                "Halfling",
                "Dwarf",
                "High Elf",
                "Wood Elf",
                "Gnome",
            ]
        },
        {
            "name":"Class",
            "field":"select",
            "options":[
                "Academic",
                "Burgher",
                "Courtier",
                "Peasant",
                "Ranger",
                "Riverfolk",
                "Rogue",
                "Warrior",
            ]
        },
        {
            "name":"Career",
            "field":"hidden",
            "placeholder":"Input your first career on the career tab"
        },
        {
            "name":"Career Level",
            "field":"hidden"
        },
        {
            "name":"Career Path",
            "field":"hidden",
        },
        {
            "name":"Status",
            "field":"hidden",
        },
        {
            "name":"Age",
            "field":"text",
        },
        {
            "name":"Height",
            "field":"text",
        },
        {
            "name":"Hair",
            "field":"text",
        },
        {
            "name":"Eyes",
            "field":"text",
        },
    ]

    const navigation = [
        "main",
        "combat",
        "magic",
        "advances",
        "settings",
    ]
    
    const characteristics = [
        {
            "name":"Weapon Skill",
            "abbreviation":"WS"
        },
        {
            "name":"Ballistic Skill",
            "abbreviation":"BS"
        },
        {
            "name":"Strength",
            "abbreviation":"S"
        },
        {
            "name":"Toughness",
            "abbreviation":"T"
        },
        {
            "name":"Initiative",
            "abbreviation":"I"
        },
        {
            "name":"Agility",
            "abbreviation":"Ag"
        },
        {
            "name":"Dexterity",
            "abbreviation":"Dex"
        },
        {
            "name":"Intelligence",
            "abbreviation":"Int"
        },
        {
            "name":"Willpower",
            "abbreviation":"WP"
        },
        {
            "name":"Fellowship",
            "abbreviation":"Fel"
        },
    ];

    const npc_characteristics = [
        ...[{
            "name":"Movement",
            "abbreviation":"M"
        }],
        ...characteristics,
        ...[{
            "name":"Wounds",
            "abbreviation":"W"
        }]
    ];

    const movement = [
        {
            "name":"Movement",
            "field":"text",
        },
        {
            "name":"Walk",
            "field":"text",
        },
        {
            "name":"Run",
            "field":"text",
        },
    ];

    const fate = [
        {
            "name": "Fate",
            "field": "number"
        },
        {
            "name": "Fortune",
            "field": "number"
        },
    ]

    const resilience = [
        {
            "name": "Resilience",
            "field": "number"
        },
        {
            "name": "Resolve",
            "field": "number"
        },
        {
            "name": "Motivation",
            "field": "text"
        },
    ]

    const experience = [
        {
            "name": "Current XP",
            "field": "number"
        },
        {
            "name": "Spent XP",
            "field": "number"
        },
        {
            "name": "Total XP",
            "field": "number"
        },
    ]

    const skills = {
        advanced: [
            {
                "name":"Animal Care",
                "characteristic":"intelligence",
                "type":"advanced",
                "grouped":false,
            },
            {
                "name":"Animal Training",
                "characteristic":"intelligence",
                "type":"advanced",
                "grouped":true
            },
            {
                "name":"Channelling",
                "characteristic":"willpower",
                "type":"advanced",
                "grouped":true,
                "specialisations":["Azyr","Aqshy","Chamon","Dhar","Ghur","Ghyran","Hysh","Shyish","Ulgu","Custom"],
            },
            {
                "name":"Evaluate",
                "characteristic":"intelligence",
                "type":"advanced",
                "grouped":false,
            },
            {
                "name":"Heal",
                "characteristic":"intelligence",
                "type":"advanced",
                "grouped":false,
            },
            {
                "name":"Language",
                "characteristic":"intelligence",
                "type":"advanced",
                "grouped":true,
                "specialisations":["Magick"],
                "forced":1
            },
            {
                "name":"Lore",
                "characteristic":"intelligence",
                "type":"advanced",
                "grouped":true
            },
            {
                "name":"Perform",
                "characteristic":"agility",
                "type":"advanced",
                "grouped":true
            },
            {
                "name":"Pick Lock",
                "characteristic":"dexterity",
                "type":"advanced",
                "grouped":false
            },
            {
                "name":"Play",
                "characteristic":"dexterity",
                "type":"advanced",
                "grouped":true
            },
            {
                "name":"Pray",
                "characteristic":"fellowship",
                "type":"advanced",
                "grouped":false
            },
            {
                "name":"Ranged",
                "characteristic":"ballistic skill",
                "type":"advanced",
                "grouped":true,
                "specialisations":["Blackpowder", "Bow", "Crossbow", "Engineering", "Entangling", "Explosives", "Sling", "Throwing"],
            },
            {
                "name":"Research",
                "characteristic":"intelligence",
                "type":"advanced",
                "grouped":false
            },
            {
                "name":"Sail",
                "characteristic":"agility",
                "type":"advanced",
                "grouped":true
            },
            {
                "name":"Secret Signs",
                "characteristic":"intelligence",
                "type":"advanced",
                "grouped":true
            },
            {
                "name":"Set Trap",
                "characteristic":"dexterity",
                "type":"advanced",
                "grouped":false
            },
            {
                "name":"Sleight of Hand",
                "characteristic":"dexterity",
                "type":"advanced",
                "grouped":false
            },
            {
                "name":"Swim",
                "characteristic":"strength",
                "type":"advanced",
                "grouped":false
            },
            {
                "name":"Track",
                "characteristic":"initiative",
                "type":"advanced",
                "grouped":false
            }, 
            {
                "name":"Trade",
                "characteristic":"dexterity",
                "type":"advanced",
                "grouped":true
            }, 

        ],
        basic: [
            {
                "name":"Art",
                "characteristic":"dexterity",
                "type":"basic",
                "grouped":true,
            },
            {
                "name":"Athletics",
                "characteristic":"agility",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Bribery",
                "characteristic":"fellowship",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Charm",
                "characteristic":"fellowship",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Charm Animal",
                "characteristic":"willpower",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Climb",
                "characteristic":"strength",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Consume Alcohol",
                "characteristic":"toughness",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Cool",
                "characteristic":"willpower",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Dodge",
                "characteristic":"agility",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Drive",
                "characteristic":"agility",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Endurance",
                "characteristic":"toughness",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Entertain",
                "characteristic":"fellowship",
                "type":"basic",
                "grouped":true,
            },
            {
                "name":"Gamble",
                "characteristic":"intelligence",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Gossip",
                "characteristic":"fellowship",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Haggle",
                "characteristic":"fellowship",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Intimidate",
                "characteristic":"strength",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Intuition",
                "characteristic":"initiative",
                "type":"basic",
                "grouped":false,
            },
            {
                "name":"Leadership",
                "characteristic":"fellowship",
                "type":"basic",
                "grouped":false
            },
            {
                "name":"Melee",
                "characteristic":"weapon skill",
                "type":"basic",
                "grouped":true,
                "specialisations":["Basic","Brawling","Cavalry","Fencing","Flail","Parry","Polearm","Two-Handed"],
            },
            {
                "name":"Navigation",
                "characteristic":"initiative",
                "type":"basic",
                "grouped":false
            },
            {
                "name":"Outdoor Survival",
                "characteristic":"intelligence",
                "type":"basic",
                "grouped":false
            },
            {
                "name":"Perception",
                "characteristic":"initiative",
                "type":"basic",
                "grouped":false
            },
            {
                "name":"Ride",
                "characteristic":"agility",
                "type":"basic",
                "grouped":true
            },
            {
                "name":"Row",
                "characteristic":"strength",
                "type":"basic",
                "grouped":false
            },
            {
                "name":"Stealth",
                "characteristic":"agility",
                "type":"basic",
                "grouped":true
            },   
        ]
    };

    const ambitions = [
        {
            "name": "Short-term",
            "attr": "short-personal"
        },
        {
            "name": "Long-term",
            "attr": "long-personal"
        }
    ]

    const party = [
        {
            "name": "Party Name",
            "field": "text"
        },
        {
            "name": "Short-term",
            "attr": "short-party"
        },
        {
            "name": "Long-term",
            "attr": "long-party"
        },
        {
            "name": "Members"
        },
    ]

    const corruption = [
        {
            "name": "Corruption Points",
            "field": "number"
        },
    ]

    const wealth = [
        {
            "name": "GC",
            "field": "number"
        },
        {
            "name": "SS",
            "field": "number"
        },
        {
            "name": "BP",
            "field": "number"
        },

    ]

    const convertChar = (char) => {
        return (char === "weapon skill") ? "WS" :
               (char === "ballistic skill") ? "BS" :
               (char === "strength") ? "S" :
               (char === "toughness") ? "T" :
               (char === "initiative") ? "I" :
               (char === "agility") ? "Ag" :
               (char === "dexterity") ? "Dex" :
               (char === "intelligence") ? "Int" :
               (char === "willpower") ? "WP" :
               (char === "fellowship") ? "fel" :
               "UNKNOWN";
    };