include abstracts.pug
include rolls.pug

include components/_component-index.pug

input(name="attr_sheet_version", type="hidden", value="1.0.3")
input(name="attr_npc", type="hidden", value="0")
input(name="attr_nav", type="hidden", value="main")
input(name="attr_difficulty_query", type="hidden", value="?{Difficulty|Average (+20), 20|Very Easy (+60), 60|Easy (+40), 40|Average (+20), 20|Challenging (0), 0|Difficult (-10), -10|Hard (-20), -20|Very Hard (-30), -30}")
input(name="attr_difficulty_query_combat", type="hidden", value="?{Difficulty|Challenging (+0), 0|Very Easy (+60), 60|Easy (+40), 40|Average (+20), 20|Challenging (0), 0|Difficult (-10), -10|Hard (-20), -20|Very Hard (-30), -30}")
input(name="attr_roll_query", type="hidden", value="?{Bonus|0}")
input(name="attr_roll_slbonus", type="hidden", value="{{roll_slbonus=?{SL Bonus|0}}}")
input(name="attr_roll_cf", type="hidden", value="96")
input(name="attr_roll_cs", type="hidden", value="5")
input(name="attr_roll_init", type="hidden", value="{{init=[[@{initiative} &{tracker}]]}}")
input(name="attr_roll_cs", type="hidden", value="5")
input(name="attr_roll_whisper", type="hidden", value="")
    
input(name="attr_bar1_v", type="hidden")
input(name="attr_bar1_m", type="hidden")
input(name="attr_bar1_l", type="hidden")
input(name="attr_bar2_v", type="hidden")
input(name="attr_bar2_m", type="hidden")
input(name="attr_bar2_l", type="hidden")
input(name="attr_bar3_v", type="hidden")
input(name="attr_bar3_m", type="hidden")
input(name="attr_bar3_l", type="hidden")

.wfrp-wrapper.compendium-drop-target.monsters

    input(accept="Category", name="attr_drop_category", type="hidden")
    input(accept="Name", name="attr_drop_name", type="hidden")
    input(accept="data", name="attr_drop_data", type="hidden")
    input(accept="Content", name="attr_drop_content", type="hidden")

    .wfrp-compendium_warning
        .wfrp-compendium_warning_inside
            span(data-i18n="Accepting compendium drop")

    include layout/toggles.pug
    .wfrp-pc
        include layout/pc.pug
    .wfrp-npc
        include layout/npc.pug

include rolltemplates.pug

script(type="text/worker")
    |
    include ../js/sheetworkers.js
    |
    include ../js/dragndrop.js
    |
    include ../js/helperfunctions.js