<div class="wrap-box relative mar-t-smd mar-b-smd">
  <fieldset class="repeating_attacher">
    <div class="shaped-row">
      <div class="col-100">
        <input type="text" class="action-name no-border" data-i18n-placeholder="NAME" name="attr_name">
      </div>
      <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings" checked><span class="toggle-icon-settings pictos">y</span>
    </div>
    <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings hidden" checked>
    <div class="shaped-row details mar-b-lg">
      <div class="flex-grow pad-r-sm">
        <div class="center">
          <div class="wrap-box-label light-label" data-i18n="FREETEXT"></div>
          <textarea class="six-line-textarea" name="attr_freetext"></textarea>
        </div>
        <div class="center mar-t-lg">
          <div class="wrap-box-label light-label" data-i18n="FREEFORM"></div>
          <textarea class="six-line-textarea" name="attr_freeform"></textarea>
        </div>
      </div>
      <div class="6-rem center pad-l-sm pad-r-sm">
        <div class="wrap-box-label light-label" data-i18n="ABILITY_CHECKS"></div>
        <div class="zebra-rows">
          {% set abilities = ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'] %}
          {% for ability in abilities %}
            <div class="shaped-row space-between no-wrap">
              <div data-i18n="{$ ability | upper $}" class="no-overflow"></div>
              <div>
                <input type="checkbox" name="attr_{$ ability $}_check_attacher">
              </div>
            </div>
          {% endfor %}
          <div class="shaped-row space-between no-wrap">
            <div data-i18n="INITIATIVE" class="no-overflow"></div>
            <div>
              <input type="checkbox" name="attr_initiative_attacher">
            </div>
          </div>
        </div>
      </div>
      <div class="6-rem center pad-l-sm pad-r-sm">
        <div class="wrap-box-label light-label" data-i18n="SAVING_THROWS"></div>
        <div class="zebra-rows">
          {% set abilities = ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'] %}
          {% for ability in abilities %}
            <div class="shaped-row default-saving-throw space-between no-wrap">
              <div data-i18n="{$ ability | upper $}" class="no-overflow"></div>
              <div>
                <input type="checkbox" name="attr_{$ ability $}_saving_throw_attacher">
              </div>
            </div>
          {% endfor %}
          <div class="shaped-row space-between no-wrap">
            <div data-i18n="DEATH_SAVES" class="no-overflow"></div>
            <div>
              <input type="checkbox" name="attr_death_saving_throw_attacher">
            </div>
          </div>
          {% set customSavingThrows = ['fortitude', 'reflex', 'will'] %}
          {% for customSavingThrow in customSavingThrows %}
            <div class="shaped-row custom-saving-throw space-between no-wrap">
              <div data-i18n="{$ customSavingThrow | upper $}" class="no-overflow"></div>
              <div>
                <input type="checkbox" name="attr_{$ customSavingThrow $}_saving_throw_attacher">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="spells 5-rem center pad-l-sm pad-r-sm">
        <div class="wrap-box-label light-label" data-i18n="SPELLS"></div>
        <div class="zebra-rows">
          <div class="shaped-row space-between no-wrap">
            <div data-i18n="SPELLS" class="no-overflow"></div>
            <div>
              <input type="checkbox" name="attr_spell_attacher">
            </div>
          </div>
          {% for level in range(0, 10) -%}
            <div class="shaped-row space-between no-wrap">
              <div class="no-overflow">
                <span data-i18n="LEVEL"></span>
                {$ level $}
              </div>
              <div>
                <input type="checkbox" name="attr_spell_level_{$ level $}_attacher">
              </div>
            </div>
          {%- endfor %}
        </div>
      </div>
      <div class="psionics 5-rem center pad-l-sm pad-r-sm">
        <div class="wrap-box-label light-label" data-i18n="PSIONICS"></div>
        <div class="zebra-rows">
          <div class="shaped-row space-between no-wrap">
            <div data-i18n="PSIONICS" class="no-overflow"></div>
            <div>
              <input type="checkbox" name="attr_psionic_attacher">
            </div>
          </div>
          {% for level in range(0, 10) -%}
            <div class="shaped-row space-between no-wrap">
              <div class="no-overflow">
                <span data-i18n="LEVEL"></span>
                {$ level $}
              </div>
              <div>
                <input type="checkbox" name="attr_psionic_level_{$ level $}_attacher">
              </div>
            </div>
          {%- endfor %}
        </div>
      </div>
      <div class="5-rem center pad-l-sm pad-r-sm">
        <div class="wrap-box-label light-label" data-i18n="MISC"></div>
        <div class="zebra-rows">
          <div class="shaped-row space-between no-wrap">
            <div data-i18n="HIT_DICE" class="no-overflow"></div>
            <div>
              <input type="checkbox" name="attr_hit_dice_attacher">
            </div>
          </div>
          <div class="shaped-row space-between no-wrap">
            <div data-i18n="ATTACK" class="no-overflow"></div>
            <div>
              <input type="checkbox" name="attr_attack_attacher">
            </div>
          </div>
          <div class="shaped-row space-between no-wrap">
            <span data-i18n="CRIT" class="no-overflow"></span>
            <div class="relative">
              <div class="tooltip-position-wrapper">
                <div class="tooltip">
                  <div class="tooltip-toggle-text center">?</div>
                  <div class="tooltip-content-left small-label" data-i18n="CRIT_ATTACHER_TOOLTIP"></div>
                </div>
              </div>
            </div>
            <div>
              <input type="checkbox" name="attr_crit_attacher">
            </div>
          </div>
        </div>
      </div>
      <div class="5-rem center pad-l-sm">
        <div class="wrap-box-label light-label" data-i18n="SKILLS"></div>
        <div class="zebra-rows">
          <div class="shaped-row space-between no-wrap">
            <div data-i18n="SKILL" class="no-overflow"></div>
            <div>
              <input type="checkbox" name="attr_skill_attacher">
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="wrap-box-title center" data-i18n="ATTACHERS"></div>
</div>

{% set abilities = ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'] %}
{% for ability in abilities %}
  <input type="hidden" name="attr_attacher_{$ ability $}_saving_throw">
  <input type="hidden" name="attr_attacher_{$ ability $}_check">
{% endfor %}
<input type="hidden" name="attr_attacher_initiative">
<input type="hidden" name="attr_attacher_death_saving_throw">
{% set customSavingThrows = ['fortitude', 'reflex', 'will'] %}
{% for customSavingThrow in customSavingThrows %}
  <input type="hidden" name="attr_attacher_{$ customSavingThrow $}_saving_throw">
{% endfor %}

<input type="hidden" name="attr_attacher_spell">
{% for level in range(0, 10) -%}
<input type="hidden" name="attr_attacher_spell_level_{$ level $}">
{%- endfor %}
<input type="hidden" name="attr_attacher_psionic">
{% for level in range(0, 10) -%}
<input type="hidden" name="attr_attacher_psionic_level_{$ level $}">
{%- endfor %}

<input type="hidden" name="attr_attacher_hit_dice">
<input type="hidden" name="attr_attacher_attack">
<input type="hidden" name="attr_attacher_crit">
<input type="hidden" name="attr_attacher_skill">
