.charsheet {
    background:white;
    margin-left:4px;
    height:800px;
}

/* =====    Tabs   =====*/
div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4
{
    display: block;
}

input.sheet-tab
{
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before
{
    content: attr(title);


    border: solid 1px #8DBEE1;
    border-bottom-color: #8DBEE1;
    text-align: center;
    display: inline-block;
    
    background: white;
    
    width: 150px;
    height: 20px;
    font-size: 18px;
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
}

input.sheet-tab:checked::before
{
    background: #8DBEE1;
    color:black;
}

input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}

div.sheet-tab-content
{
    border: 1px solid #8DBEE1;
    margin: 0;
    padding: 15px;
}


/* =====    Text   =====*/
.sheet-downup {
    position:relative;
    left:-30px;
    top:40px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    color:#8DBEE1;
    width:50px;
    font-weight:bold;
    font-variant: small-caps;
    font-size: 1.2em;
    text-align:right;
}

.sheet-title {
    color:#8DBEE1;
    font-weight:bold;
    font-variant: small-caps;
    font-size: 1em;
    }
/* =====    Textbox   =====*/
.sheet-textbox[type="text"] {
    border: 4px solid #8DBEE1;
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: red;
    border-radius: 5px;
    background:white;
}

.sheet-textbox[type="text"]:-ms-input-placeholder{
   color: #8DBEE1;
}
.sheet-textbox[type="text"]::-moz-placeholder{
   color: #8DBEE1;
}
.sheet-textbox[type="text"]:-moz-placeholder{
   color: #8DBEE1;
}
.sheet-textbox[type="text"]::-webkit-input-placeholder {
   color: #8DBEE1;
}

.sheet-blue {
    width: 150px;
	height: 40px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: #8DBEE1;
    margin-top:10px;
}
.sheet-inner {
    -webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
    margin-left:6px;
    font-weight:bold;
    font-variant: small-caps;
    }

.sheet-inner h5 {
    font-size:1.4em;
    padding:2px;
}
/* =====    Textarea   =====*/
textarea.sheet-textarea {
    width:95%;
    resize: vertical;
    overflow: hidden;
    border: 4px solid #8DBEE1;
    height:50px;
    margin-top:2px;
    margin-left:-4px;
}

textarea.sheet-textarea:-ms-input-placeholder{
   color: #8DBEE1;
}
textarea.sheet-textarea::-moz-placeholder{
   color: #8DBEE1;
}
textarea.sheet-textarea:-moz-placeholder{
   color: #8DBEE1;
}
textarea.sheet-textarea::-webkit-input-placeholder {
   color: #8DBEE1;
}

/*========== sheet adj ==========*/
/* ----Hide actual sheet-adj checkbox---- */

input.sheet-adj[type="checkbox"] {
    opacity: 0;
    width: 12px;
    height: 12px;
    position: relative;
    top: 0px;
    left: 10px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake sheet-arrow checkbox----- */

input.sheet-adj[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 5px;
    margin-right: 4px;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 12px;
    height: 12px;
    font-size: 10px;
    border:1px solid #8DBEE1;
    box-shadow: inset 0px 0px 5px #8DBEE1;
    font-family: "Pictos Three";
}

input.sheet-adj[type="checkbox"]:checked + span::before {
    content: "f";
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    font-weight:bold;
    color:black;
}


/* -----Hiding areas with sheet-arrow ----- */

input.sheet-arrow {
    float: left;
}

input.sheet-hider:checked ~ div.sheet-body {
    display: block;
}
/*========== sheet verb ==========*/
/* ----Hide actual sheet-verb radio---- */

input.sheet-verb[type="radio"] {
    opacity: 0;
    width: 12px;
    height: 12px;
    position: relative;
    top: 0px;
    left: 10px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake sheet-verb radio----- */

input.sheet-verb[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: 5px;
    margin-right: 4px;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 12px;
    height: 12px;
    font-size: 12px;
    border:1px solid #8DBEE1;
    box-shadow: inset 0px 0px 5px #8DBEE1;
    background:white;
    font-variant: normal;
    text-decoration:none;
    font-variant: none;
    text-decoration:none;
    font-family: "Pictos Three";
    content: "f";
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    font-weight:bold;
    color:black;
}

/* Remove dot from all radios _after_ selected one */
input.sheet-verb[type="radio"]:checked ~ input[type="radio"] + span::before
{    
    content: "";
}
/* buttons */
.sheet-verb_button button[type="roll"]:before,
.sheet-verb_button:before  {
    content: ""!important;
    display: none;
    border:none;
}
.sheet-verb_button {
    font-size: 14px!important;
    background:transparent;
    display:block;
    padding:2px;
    border-radius:5px;
    font-weight:bold;
    font-variant:small-caps;
    border:none;
}
.sheet-verb_button:hover {
    background:white;
    color: #8DBEE1;
    box-shadow: inset 0px 0px 5px #8DBEE1;
}

.sheet-verb_button:active {
    background:white;
    color: green;
    box-shadow: inset 0px 0px 5px green;
    
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg);
}
/*==========feat number button==========*/

div.sheet-feat {
    width: 195px;
    height: 30px;
    position: relative;
}

input.sheet-feat {
    margin: 20px 0 0 50px;
    opacity: 00;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
}

span.sheet-feat {
    margin: 10px 0 0 40px;
    display: none;
}

input.sheet-zerofeat { z-index: 2; }

input.sheet-zerofeat:checked + input.sheet-onefeat,
input.sheet-onefeat:checked + input.sheet-twofeat,
input.sheet-twofeat:checked + input.sheet-threefeat { z-index: 3; }

input.sheet-zerofeat:checked ~ span.sheet-zerofeat,
input.sheet-onefeat:checked ~ span.sheet-onefeat,
input.sheet-twofeat:checked ~ span.sheet-twofeat,
input.sheet-threefeat:checked ~ span.sheet-threefeat { display: inline-block; }

.sheet-zerofeat 
{
    width: 100px;
    height: 100px;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-alphanumeric/069557-blue-jelly-icon-alphanumeric-m00-clear.png") no-repeat 0 0;
    background-size: 100%;
}

.sheet-onefeat 
{
    width: 100px;
    height: 100px;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-alphanumeric/069558-blue-jelly-icon-alphanumeric-m01-clear.png") no-repeat 0 0;
    background-size: 100%;
}

.sheet-twofeat 
{
    width: 100px;
    height: 100px;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-alphanumeric/069559-blue-jelly-icon-alphanumeric-m02-clear.png") no-repeat 0 0;
    background-size: 100%;
}

.sheet-threefeat 
{
    width: 100px;
    height: 100px;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-alphanumeric/069560-blue-jelly-icon-alphanumeric-m03-clear.png") no-repeat 0 0;
    background-size: 100%;
}

input.sheet-3feat { z-index: 2; }

input.sheet-3feat:checked + input.sheet-2feat,
input.sheet-2feat:checked + input.sheet-1feat,
input.sheet-1feat:checked + input.sheet-0feat { z-index: 3; }

input.sheet-0feat:checked ~ span.sheet-0feat,
input.sheet-1feat:checked ~ span.sheet-1feat,
input.sheet-2feat:checked ~ span.sheet-2feat,
input.sheet-3feat:checked ~ span.sheet-3feat { display: inline-block; }

.sheet-0feat 
{
    width: 100px;
    height: 100px;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-space-icons-alphanumeric/071185-glossy-space-icon-alphanumeric-m00-clear.png") no-repeat 0 0;
    background-size: 100%;
}

.sheet-1feat 
{
    width: 100px;
    height: 100px;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-space-icons-alphanumeric/071186-glossy-space-icon-alphanumeric-m01-clear.png") no-repeat 0 0;
    background-size: 100%;
}

.sheet-2feat 
{
    width: 100px;
    height: 100px;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-space-icons-alphanumeric/071187-glossy-space-icon-alphanumeric-m02-clear.png") no-repeat 0 0;
    background-size: 100%;
}

.sheet-3feat 
{
    width: 100px;
    height: 100px;
    background: url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-space-icons-alphanumeric/071188-glossy-space-icon-alphanumeric-m03-clear.png") no-repeat 0 0;
    background-size: 100%;
}
    /*=== End of Sheet-feat ===*/
        
        /*=== Roll Templates ===*/
        /*=== ability ===*/

.sheet-rolltemplate-verb {
    border: 2px solid #8DBEE1;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: white;
    box-shadow: inset 0px 0px 15px #8DBEE1;
    text-align:center;
    color: #8DBEE1;
    text-shadow: none;
}

.sheet-rolltemplate-verb .sheet-dice .sheet-tcat .inlinerollresult {
    font-weight: bold;
    color:black;
    background: white;
    border:1px solid black;
}

.sheet-rolltemplate-verb .sheet-push .sheet-tcat .inlinerollresult {
    font-weight: bold;
    color:white;
    background: black;
    border:1px solid transparent;
}

.sheet-rolltemplate-verb .sheet-hurt .sheet-tcat .inlinerollresult {
    font-weight: bold;
    color:white;
    background: red;
    border:1px solid transparent;
}
