*{	margin: 0;
	padding: 0;
} 
h1 {
  text-align: center;
  font-family:"bold @PMingLiU-ExtB";
}
h4 {
  text-align: center;
  margin-top:2.5%;
  font-family:"bold @PMingLiU-ExtB";
    
}
.sheet-logo{
margin-bottom:1.5%;
margin-left:35%;
    width:30%;
    height:70%;
}
.sheet-img{
    width:82.5%;
    height:82.5%;
}
select{
  width: 25%;
  height:75%;
  font-family:"bold @PMingLiU-ExtB";
}
input[type=text] {
  width: 25%;
  height:75%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sheet-form {
  height:100%;
  width:95%;
  border-radius: 3px;
  margin-top:2.5%;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  font-family:"bold @PMingLiU-ExtB";
  border: 2px solid #7e2d40;
  background-color:#DAD1A4;
}
.sheet-form-name {
  height:55%;
  width:45%;
  border-radius: 3px;
  padding-top:2.5%;
  margin-left:1.5%;
  padding-left:2.5%;
  border: 2px solid #7e2d40;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  font-size:9px;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-lvl {
  height:65%;
  width:45%;
  border-radius: 3px;
  padding-top:5%;
  padding-bottom:4.45%;
  padding-left:2.5%;
  border: 2px solid #7e2d40;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  font-size:9px;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}

.sheet-form-hp {
  height:55%;
  width:45%;
  border-radius: 3px;
  padding-top:3%;
  padding-left:2.5%;
  padding-bottom:4.5%;
  border: 2px solid #7e2d40;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
  margin-left:1.5%;
}


.sheet-form-move {
  height:55%;
  width:45%;
  border-radius: 3px;
  padding-top:1.25%;
  margin-top:1%;
  padding-left:2.5%;
  padding-bottom:4.5%;
  border: 2px solid #7e2d40;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-attributes {
  height:55%;
  width:45%;
  border-radius: 3px;
  padding-top:2.5%;
  margin-top:0.5%;
  padding-left:2.5%;
  border: 2px solid #7e2d40;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
  margin-left:1.5%;
}

.sheet-form-attributes2 {
 height:55%;
  width:45%;
  border-radius: 3px;
  padding-left:2.5%;
  padding-top:2.5%;
  margin-top:0.5%;
  border: 2px solid #7e2d40;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-2{
  height:100%;
  width:96%;
  border-radius: 3px;
  padding-top:0.5%;
  margin-left:1.5%;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#DAD1A4;
}
.sheet-form-orbes {
  height:50%;
  width:46.75%;
  padding-top:0.5%;
  margin-top:0.5%;
  padding-left:2.5%;
  border-radius: 3px;
  border: 2px solid #7e2d40;
  overflow: hidden;
  font-size:10px;
  float:right;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-weapon-skill {
  height:55%;
  width:45%;
  border-radius: 3px;
  padding-top:0.5%;
  margin-top:0.5%;
  padding-left:3.5%;
  padding-right:0.5%;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:10px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-traits {
  height:100%;
  width:46.75%;
  padding-top:0.5%;
  margin-top:0.5%;
  padding-left:2.6%;
  border-radius: 3px;
  border: 2px solid #7e2d40;
  overflow: hidden;
  font-size:10px;
  float:right;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}

.sheet-form-protection {
  height:55%;
  width:45%;
  border-radius: 3px;
  padding-top:0.5%;
  margin-top:0.5%;
  padding-left:4%;
  padding-bottom:4%;;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:10px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-class {
  height:55%;
  width:29%;
  border-radius: 3px;
  margin-top:0.5%;
  margin-left:1.5%;
  padding-left:2.5%;
  padding-bottom:0.55%;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#B5A27D;
}

.sheet-form-psychic {
  height:55%;
  width:29.5%;
  border-radius: 3px;
  margin-top:0.5%;
  padding-bottom:1.5%;
  padding-left:2.5%;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#B5A27D;
}
.sheet-form-merit-defect{
  height:55%;
  width:96.5%;
  border-radius: 3px;
  margin-top:0.5%;
  margin-left:1.5%;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
}
.sheet-form-merit {
  height:50%;
  width:49.45%;
  border-radius: 3px;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}

  .sheet-form-bag {
  height:55%;
  width:93.5%;
  border-radius: 3px;
  padding-top:0.5%;
  margin-top:0.5%;
  padding-left:2.5%;
  padding-right:0.5%;
  margin-left:1.5%;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}   
  .sheet-form-belt {
  height:55%;
  width:50.35%;
  border-radius: 3px;
  padding-top:0.5%;
  margin-top:0.5%;
  padding-right:0.5%;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
} 
  .sheet-form-belt2 {
  height:55%;
  width:45%;
  border-radius: 3px;
  padding-top:0.5%;
  margin-top:0.5%;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}  
.sheet-form-armor {
  height:55%;
  width:35%;
  border-radius: 3px;
  padding-top:0.5%;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-magic-object {
  height:45%;
  width:100%;
  border-radius: 3px;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  padding-bottom:57.25%;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-weapon {
  height:50%;
  width:63%;
  padding-top:0.5%;
  border-radius: 3px;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-weapon1 {
  height:20%;
  width:46%;
  border-radius: 3px;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  padding-bottom:18.5%;
  padding-left:2.75%;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-weapon-special {
  height:20%;
  width:49%;
  padding-bottom:5.25%;
  border-radius: 3px;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:right;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
.sheet-form-weapon-t {
  height:20%;
  width:63.5%;
  padding-left:0.3%;
  padding-right:0.12%;
  border-radius: 3px;
  border: 2px solid #7e2d40;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:right;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
}
  .sheet-form-skill-mage-weapon{
  height:55%;
  width:100%;
  border-radius: 3px;
  padding-right:2.5%;
  flex-direction: column;
  overflow: hidden;
  font-size:12px;
  float:left;
  border: 2px solid #7e2d40;
  font-family:"bold @PMingLiU-ExtB";
  background-color:#F5EECF;
} 
