
.wrapper {
	background-color: antiquewhite;
	padding: 10px;
}

/*Configure the tab buttons*/
.tabs {
    margin-left: 5px;
    width: 22%;
}

/* Chrome, Safari, Edge, Opera */
input.x::-webkit-outer-spin-button,
input.x::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].x {
  -moz-appearance: textfield;
}

.col {
    min-width: 10%;
  }

.grid {
    display: flex;
    flex-wrap: wrap;
}
.colInput {
    min-width: 30%;
    min-width: 85%;
    width: auto;
  }

.pilot,
.info,
.inv,
.grim {
    display: none;
    margin-top: 5px;
}

.marginleft {
    margin-left: 5%;
}

/* show the selected tab */
.tabstoggle[value="pilot"] ~ div.pilot,
.tabstoggle[value="info"] ~ div.info,
.tabstoggle[value="inv"] ~ div.inv,
.tabstoggle[value="grim"] ~ div.grim {
    display: block;
}

.twocolumns {
    display: flex;
}

.valuecolumn {
    display: inline-grid;
} 

textarea {
    max-height: 50px;
    height: 50px;
}

.weapon {
    display: inline-flex;
}

.weapon > label {
    width: 200px;
}

h3 {
    margin-top: 2%;
}

.ui-dialog .charsheet input {
    height: 24px;
}

.sheet-rolltemplate-rollhigh table,
.sheet-rolltemplate-rolllow table,
.sheet-rolltemplate-roll table,
.sheet-rolltemplate-spell table,
.sheet-rolltemplate-weapon table{
    background-color:antiquewhite;
    border:1px solid #c1875d;
    text-align: middle;
    font-size: 1em;
    width: 100%;
    padding-right:5%;
}

.sheet-rolltemplate-rollhigh table th,
.sheet-rolltemplate-rolllow table th,
.sheet-rolltemplate-roll table th,
.sheet-rolltemplate-spell table th,
.sheet-rolltemplate-weapon table th{
    background-color:antiquewhite;
    text-align:center;
    margin:0px;
    font-size:1em;
}

.sheet-rolltemplate-rollhigh table td,
.sheet-rolltemplate-rolllow table td,
.sheet-rolltemplate-roll table td,
.sheet-rolltemplate-spell table td,
.sheet-rolltemplate-weapon table td{
    padding: 2px;
}

.sheet-rolltemplate-rollhigh table .inlinerollresult,
.sheet-rolltemplate-rolllow table .inlinerollresult,
.sheet-rolltemplate-roll table .inlinerollresult,
.sheet-rolltemplate-spell table .inlinerollresult,
.sheet-rolltemplate-weapon table .inlinerollresult{
    border:none !important;
    background-color:inherit;
}

.sheet-rolltemplate-spacer{
    display:block;
    width:calc(100%+2px);
    border:1px solid #550000;
    margin:-1px -3px 0px -3px;
    padding:1px;
}