section.page#page-competences
    div#caracs
        div#griffe.skillblock
            +carac('puissance', 'Puissance').blue
            +skill('athletisme', 'Athlétisme')
            +skill('autorite', 'Autorité')
            +skill('bagarre', 'Bagarre')
            +skill('equitation', 'Équitation')
            +skill('volonte', 'Volonté')
            +skill('sk_griffe')
        div#souffle.skillblock
            +carac('vivacite', 'Vivacité').blue
            +skill('creation', 'Création')
            +skill('debrouille', 'Débrouille')
            +skill('duperie', 'Duperie')
            +skill('furtivite', 'Furtivité')
            +skill('vigilance', 'Vigilance')
            +skill('sk_souffle')
        div#sang.skillblock
            +carac('galanterie', 'Galanterie').red
            +skill('intrigue', 'Intrigue')
            +skill('negoce', 'Négoce')
            +skill('persuasion', 'Persuasion')
            +skill('seduction', 'Séduction')
            +skill('strategie', 'Stratégie')
            +skill('sk_sang')
        div#ecaille.skillblock
            +carac('finesse', 'Finesse').red
            +skill('erudition', 'Érudition')
            +skill('investigation', 'Investigation')
            +skill('medecine', 'Médecine')
            +skill('technique', 'Technique')
            +skill('tir', 'Tir')
            +skill('sk_ecaille')
    div#freeskills
        div#escrime.col.col-2
            +headerSkill('escrime', 'Escrime', 4).blue
            +textareaInput('escrime_notes')
        div#occultisme.col.col-2
            +headerSkill('occultisme', 'Occultisme', 0).red
            +textareaInput('occultisme_notes', '')