
/* Set the min-width so that when the window is resized the look will stay consistant */
.charsheet {
    background: url(https://i.imgur.com/xvJ9FqC.jpg);
    /*CAMBIAR IMAGEN A ARCHIVO GITHUB */
    color: black;
    background-size: 100%;
    max-width: 800px;
    min-width: 800px;
}

/*Configure the tab buttons*/
.sheet-character,
.sheet-config,
.sheet-journal {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
	display: block;
}



/* Universal styling applied to all elements of these types */
button, 
button:hover,
button:active {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid gray;
    height: 1.2em;
    width: 1.2em;
}

h2 {
	background-color: transparent;
	color: gray;
	font-size: 18px;
	text-align: center;
	margin-bottom:-5px;
}

h4 {
	background-color: #800000;
	color: #ffffff;
	font-size: 12px;
	border-radius: 12px;
	padding-left: 5px;
	margin-bottom: 5px;
	margin-left: -15px;
	text-align: center;
}

h5 {
	background-color: #800000;
	color: #ffffff;
	font-size: 12px;
	border-radius: 12px;
	padding-left: 5px;
	margin-bottom: 2px;
	margin-left: -15px;
	text-align: center;
}

hr {
    height: 1px;
    background-color: black;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

img {
	width: 60%;
	margin-top:5px;
	margin-bottom: 1.2em;
}

input {
	display: inline-block;
	margin-bottom: 0px;
	width: 125px;
	padding: 3px 3px;
	line-height: 6px;
	border-radius: 5px;
    border: 1px solid #C0C0C0;
	background-color: transparent;
	box-shadow: 0px -2px 0px 0px #000000 inset;
	color: #4169E1; /*Royal Blue*/
	/*color: #1E90FF; Dodger Blue*/
	/*color: #4682B4; Steel Blue*/
}

input::placeholder {
  color: gray;
  font-size: 10px;
}

label {
	display: inline-block;
	margin-bottom: 0px;
	width: 38%;
	font-size: 11px;
}



/* Targetted styling that only effects elements with these classes */
button[type=roll].sheet-button-general {
    color: maroon;
    font-size:1em;
    text-align:center;
}

button[type=roll].sheet-button-cabecera::before { 
    content: ''; 
}

button[type=roll].sheet-button-cabecera {
    color: #800000;
    font-family: dicefontd10;
    font-size:2.5em;
    text-shadow: -0.2px -0.2px 0px #FAEBD7, 0.2px 0.2px 35px #FAEBD7, -0.2px 0.2px #FAEBD7, 0.2px -0.2px #FAEBD7;
    margin-top: -30px;
    -webkit-transform: scaleY(1) translateZ(-1px);
    /*-webkit-text-stroke: 0.2px black;*/
}

button[type=roll].sheet-button-oculto {
    background-image:none;
    background-color:transparent;
    color:transparent;
    font-size:1em;
    text-align:center;
}

button[type=roll].sheet-button-sinatt {
    background-color: maroon;
    background-image: none;
    color:white;
    font-size:10px;
    padding-bottom: 12px;
    text-align:center;
    border-radius: 20px 20px 20px 20px;
    margin-top: 6px;
    height: 1em;
    width: 6.85em; 
    box-shadow: 0px -2px 0px 0px #696969 inset;
}

button[type=action] {
    background-color: maroon;
    background-image: none;
    color: #FAEBD7;
    font-size:8px;
    padding-bottom: 10px;
    text-align:center;
    vertical-align: middle; 
    border-radius: 20px 20px 20px 20px;
    margin-top: 0px;
    height: 1.2em;
    width: 150px;
    box-shadow: 0.5px 1.5px 0.2px #FAEBD7;
    /*box-shadow: 0px -2px 0px 0px #696969 inset;*/ 
    -webkit-transform: scaleY(1) translateZ(-1px);    
}

hr.sheet-hhr {
    height: 1px;
    width: 84%;
    background-color: black;
    margin-top: 5px;
    margin-bottom: -10px;
    margin-left: -8px;
}

hr.sheet-hhr2 {
    height: 1px;
    width: 95%;
    background-color: black;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 0px;
}

input.sheet-short {
	width: 17%;
	height: 21px;
	margin-right: 1em;
	margin-top:-0.3em;
    text-align: center;
}

input.sheet-short::placeholder {
  text-align:left;
}

input.sheet-hshort {
	width: 17%;
	height: 21px;
	margin-right: 1em;
	margin-top:-0.3em;
    text-align: center;
    margin-left: -1.5em;
}

input.sheet-hshort2 {
	width: 17%;
	height: 21px;
	margin-right: 1em;
	margin-top:-0.3em;
    text-align: center;
    margin-left: -0.9em;
}

input.sheet-short-mu {
	width: 17%;
	height: 21px;
	margin-right: 1em;
	margin-top:-0.2em;
	margin-left: 2px;
    text-align: center;
    color: black;
}

input.sheet-short-ne {
	width: 19%;
	margin-right: 1.2em;
	margin-bottom: 0.2em;
    text-align: center;
}

input.sheet-experiencia {
	width: 30%;
	height: 5%;
	margin-right: 1.2em;
	margin-bottom: 0.2em;
    text-align: center;
    font-size:20px;
    font-weight:bold;
    color:maroon;
}

input.sheet-short-oculto {
	width: 17%;
	height: 21px;
	margin-right: 1em;
	margin-top:-0.3em;
    text-align: center;
    opacity:0;
}

input.sheet-extrashort {
	width: 10%;
	margin-right: 1.1em;
	margin-left:1.5em;
    text-align: center;
}

input.sheet-hextrashort {
	width: 10%;
	margin-right: 1.1em;
	margin-left:-3em;
    text-align: center;
}

input.sheet-hhorse {
    width: 98px;
    margin-left: -50px;
    margin-right: 12px;
}

input.sheet-damage {
	width: 19px;
	height: 19px;
	margin-right: 0em;
	margin-left:0em;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: transparent;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	font-size:11px;
	margin-right: 2px;
}

input.sheet-damage-first {
	width: 19px;
	height: 19px;
	margin-right: 0px;
	margin-left:10px;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: transparent;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	font-size:11px;
	margin-right: 2px;
}

input.sheet-damage-first2 {
	width: 19px;
	height: 19px;
	margin-right: 0px;
	margin-left:10px;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: transparent;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	font-size:11px;
	margin-right: 2px;
}

input.sheet-damage-first3 {
	width: 19px;
	height: 19px;
	margin-right: 0px;
	margin-left:25px;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: transparent;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	font-size:11px;
	margin-right: 2px;
}

input.sheet-damage-last {
	width: 25px;
	height: 19px;
	margin-right: 0px;
	margin-left:35px;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: transparent;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	font-size:11px;
	margin-right: 2px;
}

input.sheet-controlheridas {
    width: 19px;
    height: 19px;
	margin-right: 0em;
	margin-left:0em;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: white;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	margin-right: 2px;
}

input.sheet-controlheridas-first {
	width: 19px;
	height: 19px;
	margin-right: 0px;
	margin-left:10px;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: white;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	margin-right: 2px;
}

input.sheet-controlheridas-first2 {
	width: 19px;
	height: 19px;
	margin-right: 0px;
	margin-left:10px;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: white;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	margin-right: 2px;
}

input.sheet-controlheridas-first3 {
	width: 19px;
	height: 19px;
	margin-right: 0px;
	margin-left:25px;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: white;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	margin-right: 2px;
}

input.sheet-controlheridas-last {
	width: 25px;
	height: 19px;
	margin-right: 0px;
	margin-left:36px;
    text-align: center;
	border-radius: 0px;
    border: 1px solid black;
	background-color: white;
	box-shadow: none;
	/*color: maroon;*/
	/*font-weight: bold;*/
	margin-right: 2px;
}

input.sheet-armastabla {
    margin-top:1px;
    margin-left:2px;
    width:90px;
    font-size: 11px;
    color: #4682B4;
}

input.sheet-tipotabla {
    margin-top:1px;
    margin-left:2px;
    width:50px;
    font-size: 11px;
    color: #4682B4;
    text-align: center;
}

input.sheet-tipotabla2 {
    margin-top:1px;
    margin-left:2px;
    width:100px;
    font-size: 11px;
    color: #4682B4;
    text-align: center;
}

input.sheet-tipotabla3 {
    margin-top:1px;
    margin-left:2px;
    width:460px;
    font-size: 11px;
    color: #4682B4;
    text-align: center;
}

input.sheet-tipotabla4 {
    margin-top:1px;
    margin-left:2px;
    width:150px;
    font-size: 11px;
    color: #4682B4;
    text-align: center;
}

input.sheet-ntotem {
    color:maroon; 
    font-size:30px; 
    font-weight:bold; 
    text-align:center; 
    margin-left:3px; 
    margin-top:-14px; 
    height:50px; 
}

label.sheet-habsin {
	display: inline-block;
	margin-bottom: 0px;
	margin-left:-5px;
	width: 11%;
	font-size: 10px;
	font-weight:bold;
	color:maroon;
}

label.sheet-habtit {
	display: inline-block;
	margin-bottom: 0px;
	width: 11%;
	font-size: 15px;
	color:#9d6e6e;
}

label.sheet-etshort {
    width: 10%;
    font-size:11px;
    font-weight: bold;
    margin-left:-0.5em;
}

label.sheet-habilidades {
    width: 8em;
    font-size:11px;
    font-weight: normal;
    margin-left:-0.5em;
}

label.sheet-h-habilidades {
    width: 8em;
    font-size:11px;
    font-weight: normal;
    margin-left:-0.5em;
    margin-right:-18px;
}

label.sheet-hetshort {
    width: 8em;
    font-size:11px;
    font-weight: bold;
    margin-left:-0.5em;
}

select.sheet-municionchs {
	display: inline-block;
	margin-bottom: 0px;
	margin-left:-15px;
	width: 96px;
	height: 20px;
	line-height: 12px;
	border-radius: 5px;
    border: 1px solid #c0c0c0;
	background-color: transparent;
	box-shadow: 0px 0px 0px 0px #000000 inset;
	font-size:10px;
	color: gray; 
}

select.sheet-municiontabla {
	display: inline-block;
	margin-bottom: 0px;
	margin-left:2px;
	width: 58px;
	height: 20px;
	line-height: 12px;
	border-radius: 5px;
    border: 1px solid #c0c0c0;
	background-color: transparent;
	box-shadow: 0px 0px 0px 0px #000000 inset;
	font-size:10px;
	color: gray; 
}

select.sheet-dtype {
    vertical-align: center;
    width: 60px;
}

span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

table.sheet-tablaarmas {
    width:95%;
    margin-left:40px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    padding: 2px 2px 2px 2px;
}

table th, td.sheet-tablaarmas {
    text-align: center; 
    vertical-align: middle; 
    font-size:12px;
    padding: 2px 5px 2px 5px;
}

table.sheet-tablareputacion {
    width:95%;
    margin-left:12px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    padding: 2px 2px 2px 2px;
}

table th, td.sheet-tablareputacion {
    text-align: center; 
    vertical-align: middle; 
    font-size:12px;
    padding: 2px 5px 2px 5px;
}

table.sheet-tablahorse {
    width:90%;
    margin-left:38px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    padding: 0px 5px 5px 12px;
}

table th, td.sheet-tablahorse {
    text-align: center; 
    vertical-align: middle; 
    font-size:12px;
    padding: 2px 5px 2px 5px;
}

table.sheet-tablamagia {
    width:90%;
    margin-left:30px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    padding: 0px 5px 5px 20px;
}

table th, td.sheet-tablamagia {
    text-align: center; 
    vertical-align: middle; 
    font-size:12px;
    padding: 2px 5px 2px 5px;
}

textarea.sheet-secuelas {
    resize: none;
	height: 62px;
	width: 118px;
	margin-left: 80px;
	margin-bottom: -15px;
	margin-top:2px;
	border-radius: 5px;
    border: 1px solid  #a58683;
	background-color: transparent;
	box-shadow: 0px -2px 0px 0px #000000 inset;
    line-height:12px;
    font-size:10px; 
    font-style:italic; 
    color:steelblue;
}

textarea.sheet-textoheridas {
    resize: none;
    height: 36px;
    margin-bottom:-2px;
    margin-top: 2px;
    border-radius: 5px;
    border: 1px solid  #a58683;
	background-color: transparent;
    box-shadow: 0px 0px 0px 0px #696969 inset;
    line-height:12px;
    font-size:8px;
    color: #9d6e6e;
    text-align: center;
    padding-top:2px;
}

textarea.sheet-equipo {
    resize: none;
	height: 62px;
	width: 300px;
	margin-left:-12px;
	margin-bottom: -15px;
	margin-top:2px;
	border-radius: 5px;
    border: 1px solid  #a58683;
	background-color: transparent;
	box-shadow: 0px -2px 0px 0px #000000 inset;
    line-height:12px;
    font-size:10px; 
    font-style:italic; 
    color:steelblue;
}

textarea.sheet-horse {
    resize: none;
	height: 40px;
	width: 302px;
	margin-left:-12px;
	margin-bottom: -20px;
	margin-top:2px;
	border-radius: 5px;
    border: 1px solid  #a58683;
	background-color: transparent;
	box-shadow: 0px -2px 0px 0px #000000 inset;
    line-height:12px;
    font-size:10px; 
    font-style:italic; 
    color:steelblue;
}

textarea.sheet-textarea-short {
   	width: 134px;
   	height: 35px;
}

textarea.sheet-talisman {
    resize: none;
	height: 40px;
	width: 302px;
	margin-left:-12px;
	margin-bottom: -15px;
	margin-top:2px;
	border-radius: 5px;
    border: 1px solid  #a58683;
	background-color: transparent;
	box-shadow: 0px -2px 0px 0px #000000 inset;
    line-height:12px;
    font-size:10px; 
    font-style:italic; 
    color:steelblue;
}



/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: left;
}

.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}

.sheet-stats input {
	margin-right: 8%;
	width: 17%;
}




/* Roll Template --------------------------------------------------------------------------------------------------------------------------------------------*/

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-customfw {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-customfw {
  margin-left: -7px;
}

.sheet-rolltemplate-customfw .sheet-container {
  border: 1px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-customfw .sheet-header {
  background-color: var(--header-bg-color);
  /* change text-align to center to center the header text */
  text-align: left;
  color: var(--header-text-color);
  padding: 5px;
}
.sheet-rolltemplate-customfw .sheet-title {
  font-size:1.1em;
}
.sheet-rolltemplate-customfw .sheet-subtitle {
  font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-customfw .sheet-container {
  /* this is the default color */
  --header-bg-color: rgba(128,0,0,1);
  --header-text-color: #FFDEAD;
}
.sheet-rolltemplate-customfw .sheet-container.sheet-color-red {
  --header-bg-color: #F00;
}
.sheet-rolltemplate-customfw .sheet-container.sheet-color-green {
  --header-bg-color: #0F0;
  --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-customfw .sheet-content {
  /*display: grid;*/
  background: #FAEBD7;
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sheet-rolltemplate-customfw .sheet-content > div {
  /*display: inline-block;*/
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Left column */
.sheet-rolltemplate-customfw .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  padding-top:10px;
  text-align: right;
  display: flex;
  align-items: center;
}

/* Empty rule, use this if you want to change the right column 
.sheet-rolltemplate-custom .sheet-value {
}
*/

/* Make even-numbered rows grey */
.sheet-rolltemplate-customfw .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-customfw .sheet-content :nth-child(4n) {
  background:#EEE;
}

/* Description field */
.sheet-rolltemplate-customfw .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}

/* inline roll background is transparent and it has no border */
.sheet-rolltemplate-customfw .inlinerollresult {  
    background-color: transparent;
    font-size: 30px;
    color: gray;
    border: none;
}

/* strong green for crit results for the inline roll */
 .sheet-rolltemplate-customfw .inlinerollresult.fullcrit {
    color: #3FB315;           
    border: none;
}

/* strong red for fumble results for the inline roll */
 .sheet-rolltemplate-customfw .inlinerollresult.fullfail {
    color: #B31515;           
    border: none;
}

.sheet-rolltemplate-customfw .inlinerollresult.importantroll   {
    color: #4682B4;
    border: none;
}

