section(aria-labelledby='npc-ability-header' id='npc-abilities').npc-abilities.npc-separator.repeating-container
  h3(data-i18n='abilities')
  +customControlFieldset({
    name:'ability'
  })
    +collapse
    .collapsed.inline
      +roller({
        name:'roll',
        trigger:{triggeredFuncs:['rollRepeating']},
        class:'inline-flex-box half-gap'
      })
        +span({name:'type','data-i18n-dynamic':''})
        +span({name:'name'})
      +span({name:'description',class:'inline-description'})
    .expanded
      .span-all.flex-box.half-gap.flex-wrap
        +roller({name:'roll',trigger:{
          triggeredFuncs:['rollRepeating']
        }})
        +select({name:'type',class:'underlined'})
          +option({value:'','data-i18n':'select one'})
          each value in ['action','blitz','counter','passive']
            +option({value,'data-i18n':value})
        +text({name:'name','data-i18n-placeholder':'name',class:'underlined flex-min-content'})
        +skillSelect
      .headed-textarea
        h4(data-i18n='description')
        +adaptiveTextarea({name:'description',class:'boxed'})



