section#npc-header.half-gap.align-items-end
  +text({name:'character name',value:'',role:'heading','aria-level':2,class:'underlined'})
  +dual-input-label({
    inputArr:[
      {type:'number',name:'difficulty size',class:'underlined'},
      {type:'number',name:'difficulty level',class:'underlined'}
    ],
    spanObj:{'data-i18n':'difficulty level abbreviation',class:'uppercase'},
    separator:'-'
  })