-
  const skillRefs = {
    skill: {i18n: 'skills', collection:basicSkills},
    specialty: {i18n: 'specialty skills'},
    combat: {i18n: 'combat skills', collection:combatSkills}
  };
mixin npcSkillContainer(skill)
  div(class=`npc-${skill.replace(/\s+/g,'-').replace(/\(|\)|\//g,'')}-container`).input-label.collapse-container.avoid-break
    +roller({
      name:skill,
      role:'heading',
      'aria-level':3,
      'data-i18n':skill
    })
    +plusControl({
      name:skill,
      classAdd:'collapsed',
      defaultValue:''
    })
    +number({
      name:skill,
      class:'expanded underlined',
      trigger:{
        triggeredFuncs:['displayNPCSkill']
      }
    })
//- End mixin
.collapse-container
  +collapse('npc skills')
  each name in ['skill','combat']
    section(aria-labelledby=`npc-${name}-header` id=`npc-${name}`).collapse-container.npc-skill-container
      h3(data-i18n=skillRefs[name].i18n id=`npc-${name}-header`)
      each obj in skillRefs[name].collection
        +npcSkillContainer(obj.name)