section(aria-labelledby='npc-weapon-header' id='npc-weapons').npc-weapons.npc-separator.repeating-container
  h3(data-i18n='attacks')
  +customControlFieldset({
    name:'weapon'
  })
    +collapse
    .collapsed.flex-box.flex-wrap.half-gap
      +roller({
        name:'roll',
        trigger:{triggeredFuncs:['rollRepeating']},
        class:'flex-box half-gap'
      })
        +span({name:'skill','data-i18n-dynamic':''})
        +span({name:'name'})
      +hidden({name:'damage',value:'',class:'empty-hider'})
      .flex-box.tiny-gap
        +span({name:'damage'})
        span(data-i18n='damage-abbreviation')
      +hidden({name:'range',value:'',class:'empty-hider'})
      .flex-box.tiny-gap
        span(data-i18n='range')
        +span({name:'range'})
    .expanded
      +weaponDetails(true)
      +sizeAndSlot
      +adaptiveTextarea({name:'description',class:'boxed'}).description


