
<input class="sheet-checkbox sheet-asset-companion sheet-hide" type="checkbox" name="attr_assetcompanion"/>
<div class="sheet-companion sheet-hide">
  <select class="sheet-sub-dropdown" name="attr_assetDropdownCompanion">
    <option value="" disabled="disabled" selected="selected">Select</option>
    <option value="cave-lion">Cave Lion</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <input class="sheet-checkbox sheet-cave-lion sheet-hide" type="checkbox" name="attr_assetcompaniondivcave-lion"/>
  <div class="sheet-cave-lion sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text">Your cat takes down its prey.</div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox_cave-lion_0"/>
        <div class="sheet-asset-ability"><b>Eager:</b> When your cat chases down big game, you may <em>Resupply</em> with +edge (instead of +wits). If you do, take +1 supply or +1 momentum on a strong hit.</div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox_cave-lion_1"/>
        <div class="sheet-asset-ability"><b>Inescapable:</b> When you <em>Enter the Fray</em> or <em>Strike</em> by sending your cat to attack, roll +edge. On a hit, take +2 momentum.</div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox_cave-lion_2"/>
        <div class="sheet-asset-ability"><b>Protective:</b> When you <em>Make Camp</em>, your cat is alert to trouble. If you or an ally choose to relax, take +1 spirit. If you focus, take +1 momentum.</div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_cave-lion" value="0"/>
        </div>
      </div>
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">+1
          <input type="radio" name="attr_assettrack_cave-lion" value="1"/>
        </div>
      </div>
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">+2
          <input type="radio" name="attr_assettrack_cave-lion" value="2"/>
        </div>
      </div>
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">+3
          <input type="radio" name="attr_assettrack_cave-lion" value="3"/>
        </div>
      </div>
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">+4
          <input type="radio" name="attr_assettrack_cave-lion" value="4"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
  <input class="sheet-checkbox sheet- sheet-hide" type="checkbox" name="attr_assetcompaniondiv"/>
  <div class="sheet- sheet-hide">
    <div class="sheet-asset-description">
      <div class="sheet-asset-write-in">Name
        <input class="sheet-border-bottom sheet-no-border" type="text" name="attr_assetname" value=""/>
      </div>
      <div class="sheet-asset-description-text"></div>
    </div>
    <div class="sheet-flex-wrapper">
      <div class="sheet-flex-container">
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__0"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__1"/>
        <div class="sheet-asset-ability"></div>
        <input class="sheet-checkbox sheet-asset-ability" type="checkbox" name="attr_assetcheckbox__2"/>
        <div class="sheet-asset-ability"></div>
      </div>
    </div>
    <div class="sheet-asset-track-wrapper">
      <div class="sheet-asset-track-box">
        <div class="sheet-asset-track-box-display">0
          <input type="radio" name="attr_assettrack_" value="0"/>
        </div>
      </div>
    </div>
  </div>
</div>