<div class="wrap-box relative mar-b-md pad-r-lg pad-l-lg">
  <div class="shaped-row">
    <div class="col-25 center vert-middle pad-r-sm">
      <input class="action-name center" type="text" placeholder="name" name="attr_classactionname{{num}}">
    </div>
    <div class="col-08 center pad-r-sm">
      <input type="number" name="attr_classactionresource{{num}}">

      <div class="small-label">{{'CURRENT' | translate}}</div>
    </div>
    <div class="col-08 center pad-r-sm">
      <input type="number" name="attr_classactionresource{{num}}_max">

      <div class="small-label">{{'MAX' | translate}}</div>
    </div>
    <div class="col-16 center pad-r-sm">
      <span class="en">
        <select name="attr_classactionrecharge{{num}}">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Short Rest</option>
          <option value="Long rest">Long Rest</option>
          <option value="Other">Other</option>
        </select>
      </span>
      <span class="de">
        <select name="attr_classactionrecharge{{num}}">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Short Rest</option>
          <option value="Long rest">Long Rest</option>
          <option value="Other">Other</option>
        </select>
      </span>
      <span class="fr">
        <select name="attr_classactionrecharge{{num}}">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Repos Court</option>
          <option value="Long rest">Repos Long</option>
          <option value="Other">Autre</option>
        </select>
      </span>
	    <span class="ru">
        <select name="attr_classactionrecharge{{num}}">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Краткий отдых</option>
          <option value="Long rest">Прод.отдых</option>
          <option value="Other">Другое</option>
        </select>
      </span>

      <div class="small-label">Recharge</div>
    </div>
    <div class="action-button-group right">
      <div class="shaped-row">
        <div class="col center vert-middle">
          <button type="roll" name="roll_classaction{{num}}" value="@{output_option} &{template:5eReshaped} {{classaction={{num}}}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{classactionname{{num}}}}} {{subheader=Class Action {{num}}}} {{freetext=@{classactionoutput{{num}}}}}">{{'USE' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="center mar-t-md">
    <textarea class="small-textarea" name="attr_classactionoutput{{num}}"></textarea>

    <div class="small-label">
      <span class="en">Output</span>
      <span class="de">Output</span>
      <span class="fr">Effets</span>
      <span class="ru">Результат</span>
    </div>
  </div>
  <span class="small-note pad-r-lg">
    <span class="en">Show output options?</span>
    <span class="de">Show output options?</span>
    <span class="fr">Montrer les options de sortie?</span>
	  <span class="ru">Показать результат?</span>
  </span><input type="checkbox" name="attr_classactionshowoptions{{num}}" class="classactionshowoptions{{num}}" value="1">

  <div class="classaction-output-options pad-b-md mar-b-md">
    <span class="pad-l-lg pad-r-lg small-note">
      <span class="en">Check the appropriate option(s) below to have the output automatically be included in the roll type specified</span>
      <span class="de">Check the appropriate option(s) below to have the output automatically be included in the roll type specified</span>
      <span class="fr">Cocher les options appropriées pour avoir les effets être automatiquement inclus dans le(s) type(s) de jet(s) spécifié(s)</span>
	    <span class="ru">Выберите подходящую вам опцию из списка ниже. Выбранная опция будет автоматически рассчитываться при бросках.</span>
    </span>

    <div class="shaped-row sub-header small-label center">
      <div class="col-20">
        <span class="en">Saving Throws</span>
        <span class="de">Saving Throws</span>
        <span class="fr">Jets de Sauvegarde</span>
        <span class="ru">Спасброски</span>
      </div>
      <div class="col-20">
        <span class="en">Ability Checks</span>
        <span class="de">Ability Checks</span>
        <span class="fr">Jets de Caractéristique</span>
        <span class="ru">Проверки характеристик</span>
      </div>
      <div class="col-40">
        <span class="en">Core Skills</span>
        <span class="de">Core Skills</span>
        <span class="fr">Jets de Compétences</span>
        <span class="ru">Основные Навыки</span>
      </div>
      <div class="col-20">
        <span class="en">Weapons/Spell/Misc</span>
        <span class="de">Weapons/Spell/Misc</span>
        <span class="fr">Armes/Sorts/Autre</span>
        <span class="ru">Оружие/Магия/Проч</span>
      </div>
    </div>
    <div class="shaped-row">
      <input type="hidden" name="attr_class_action_output_var_{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}">

      <div class="col-20 pad-l-lg">
        <div class="class-action-zebra">
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Strength Save</span>
              <span class="de">Strength Save</span>
              <span class="fr">Sauvegarde de Force</span>
              <span class="ru">Спасбросок Силы</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionstrengthsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Dexterity Save</span>
              <span class="de">Dexterity Save</span>
              <span class="fr">Sauvegarde de Dextérité</span>
              <span class="ru">Спасбросок Ловкости</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactiondexteritysave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Constitution Save</span>
              <span class="de">Constitution Save</span>
              <span class="fr">Sauvegarde de Constitution</span>
              <span class="ru">Спасбросок Телосложения</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionconstitutionsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Intelligence Save</span>
              <span class="de">Intelligence Save</span>
              <span class="fr">Sauvegarde d'Intelligence</span>
              <span class="ru">Спасбросок Интеллекта</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionintelligencesave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Wisdom Save</span>
              <span class="de">Wisdom Save</span>
              <span class="fr">Sauvegarde de Sagesse</span>
              <span class="ru">Спасбросок Мудрости</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionwisdomsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Charisma Save</span>
              <span class="de">Charisma Save</span>
              <span class="fr">Sauvegarde de Charisme</span>
              <span class="ru">Спасбросок Харизмы</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactioncharismasave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Death Save</span>
              <span class="de">Death Save</span>
              <span class="fr">Jets contre la Mort</span>
              <span class="ru">Спасбросок от смерти</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactiondeathsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="col-20 pad-l-lg">
        <div class="class-action-zebra">
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Strength Check</span>
              <span class="de">Strength Check</span>
              <span class="fr">Jets de Force</span>
              <span class="ru">Спасбросок Силы</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionunskilledstr{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Dexterity Check</span>
              <span class="de">Dexterity Check</span>
              <span class="fr">Jets de Dextérité</span>
              <span class="ru">Проверка Ловкости</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionunskilleddex{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Constitution Check</span>
              <span class="de">Constitution Check</span>
              <span class="fr">Jets de Constitution</span>
              <span class="ru">Проверка Телосложения</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionunskilledcon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Intelligence Check</span>
              <span class="de">Intelligence Check</span>
              <span class="fr">Jets d'Intelligence</span>
              <span class="ru">Проверка Интеллекта</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionunskilledint{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Wisdom Check</span>
              <span class="de">Wisdom Check</span>
              <span class="fr">Jets de Sagesse</span>
              <span class="ru">Проверка Мудрости</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionunskilledwis{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Charisma Check</span>
              <span class="de">Charisma Check</span>
              <span class="fr">Jets de Charisme</span>
              <span class="ru">Проверка Харизмы</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionunskilledcha{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="col-20 pad-l-lg">
        <div class="class-action-zebra">
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Acrobatics</span>
              <span class="de">Akrobatik</span>
              <span class="fr">Acrobaties</span>
              <span class="ru">Акробатика</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionacrobatics{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Animal Handling</span>
              <span class="de">Tierumgang</span>
              <span class="fr">Dressage</span></div>
            <span class="ru">Уход за животными</span>

            <div class="col-10"><input type="checkbox" name="attr_classactionanimalhandling{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Arcana</span>
              <span class="de">Arkana</span>
              <span class="fr">Arcanes</span>
              <span class="ru">Знание Магии</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionarcana{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Athletics</span>
              <span class="de">Athletik</span>
              <span class="fr">Athlétisme</span>
              <span class="ru">Атлетика</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionathletics{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Deception</span>
              <span class="de">Täuschung</span>
              <span class="fr">Tromperie</span>
              <span class="ru">Обман</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactiondeception{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">History</span>
              <span class="de">Geschichte</span>
              <span class="fr">Histoire</span>
              <span class="ru">История</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionhistory{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Insight</span>
              <span class="de">Einsicht</span>
              <span class="fr">Intuition</span>
              <span class="ru">Проницательность</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactioninsight{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Intimidation</span>
              <span class="de">Einschüchter</span>
              <span class="fr">Intimidation</span>
              <span class="ru">Запугивание</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionintimidation{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Investigation</span>
              <span class="de">Investigation</span>
              <span class="fr">Investigation</span>
              <span class="ru">Анализ</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactioninvestigation{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Medicine</span>
              <span class="de">Medizin</span>
              <span class="fr">Médecine</span>
              <span class="ru">Медицина</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionmedicine{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Nature</span>
              <span class="de">Naturkunde</span>
              <span class="fr">Nature</span>
              <span class="ru">Природа</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionnature{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="col-20 pad-l-lg">
        <div class="class-action-zebra">
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Perception</span>
              <span class="de">Entdecken</span>
              <span class="fr">Perception</span>
              <span class="ru">Внимательность</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionperception{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Performance</span>
              <span class="de">Auftreten</span>
              <span class="fr">Représentation</span>
              <span class="ru">Выступление</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionperformance{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Persuasion</span>
              <span class="de">Überreden</span>
              <span class="fr">Persuasion</span>
              <span class="ru">Убеждение</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionpersuasion{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Religion</span>
              <span class="de">Religions Wiss..</span>
              <span class="fr">Religion</span>
              <span class="ru">Религия</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionreligion{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Sleight of Hand</span>
              <span class="de">Fingerfertigkeit</span>
              <span class="fr">Escamotage</span>
              <span class="ru">Ловкость рук</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionsleightofhand{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Stealth</span>
              <span class="de">Tarnung</span>
              <span class="fr">Discrétion</span>
              <span class="ru">Скрытность</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionstealth{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Survival</span>
              <span class="de">Überlebenskun</span>
              <span class="fr">Survie</span>
              <span class="ru">Выживание</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionsurvival{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Custom 1</span>
              <span class="de">Custom 1</span>
              <span class="fr">Custom 1</span>
              <span class="ru">Особый 1</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactioncustom1skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Custom 2</span>
              <span class="de">Custom 2</span>
              <span class="fr">Custom 2</span>
              <span class="ru">Особый 2</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactioncustom2skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Custom 3</span>
              <span class="de">Custom 3</span>
              <span class="fr">Custom 3</span>
              <span class="ru">Особый 3</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactioncustom3skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Custom 4</span>
              <span class="de">Custom 4</span>
              <span class="fr">Custom 4</span>
              <span class="ru">Особый 4</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactioncustom4skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="col-20 pad-l-lg">
        <div class="class-action-zebra">
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Initiative</span>
              <span class="de">Initiative</span>
              <span class="fr">Initiative</span>
              <span class="ru">Инициатива</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactioninitiative{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Hit Dice</span>
              <span class="de">Treffer Punkte</span>
              <span class="fr">Points de Vie</span>
              <span class="ru">Кость хитов</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionhitdice{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Melee Weapons</span>
              <span class="de">Nahkampf Angriffe</span>
              <span class="fr">Armes de Mêlée</span>
              <span class="ru">Рукопашное оружие</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionmeleeweapon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Ranged Weapons</span>
              <span class="de">Fermkampf Angriffe</span>
              <span class="fr">Armes à Distance</span>
              <span class="ru">Дистанционное оружие</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionrangedweapon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Spell Info</span>
              <span class="de">Spell Info</span>
              <span class="fr">Info de Sort</span>
              <span class="ru">Инфо Заклинаний</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionspellinfo{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="shaped-row mar-r-md">
            <div class="col-90">
              <span class="en">Spell Cast</span>
              <span class="de">Spell Cast</span>
              <span class="fr">Lancement de Sort</span>
              <span class="ru">Применение Заклинаний</span>
            </div>
            <div class="col-10"><input type="checkbox" name="attr_classactionspellcast{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
