<div class="sheet-classaction-row{{num}} sheet-mar-b-md sheet-pad-r-lg sheet-pad-l-lg">
  <div class="sheet-row">
    <div class="sheet-col-1-12 sheet-vert-bottom sheet-center sheet-small-label">Row</div>
    <div class="sheet-col-1-4 sheet-vert-bottom sheet-center sheet-small-label">Name</div>
    <div class="sheet-col-1-12 sheet-vert-bottom sheet-center sheet-small-label">Current</div>
    <div class="sheet-col-1-12 sheet-vert-bottom sheet-center sheet-small-label">Max</div>
    <div class="sheet-col-1-6 sheet-vert-bottom sheet-center sheet-small-label">Recharge</div>
    <div class="sheet-col-1-6 sheet-vert-bottom sheet-center sheet-small-label">Gained from?</div>
    <div class="sheet-col-1-6 sheet-vert-bottom sheet-center sheet-small-label">Use</div>
  </div>
  <div class="sheet-row">
    <div class="sheet-col-1-12 sheet-classaction-row-number sheet-vert-middle">{{num}}</div>
    <div class="sheet-col-1-4 sheet-vert-middle sheet-pad-r-sm"><input type="text" name="attr_classactionname{{num}}"></div>
    <div class="sheet-col-1-12 sheet-pad-r-sm"><input type="number" name="attr_classactionresource{{num}}" value="1"></div>
    <div class="sheet-col-1-12 sheet-pad-r-sm"><input type="number" name="attr_classactionresource{{num}}_max" value="1"></div>
    <div class="sheet-col-1-6 sheet-pad-r-sm">
      <select name="attr_classactionrecharge{{num}}">
        <option value="None">None</option>
        <option value="Short Rest">Short Rest</option>
        <option value="Long rest">Long Rest</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="sheet-col-1-6">
      <select name="attr_classactionsource{{num}}">
        <option value="Not set" selected="selected">---</option>
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Monk">Monk</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option>
        <option value="Feat">Feat</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="sheet-col-1-6 sheet-center">
      <button type="roll" class="sheet-roll" name="roll_classaction{{num}}" value="@{output_option} &{template:5eDefault} {{classaction={{num}}}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{classactionname{{num}}}}} {{subheader=Class Action {{num}}}} {{freetext=@{classactionoutput{{num}}}}}">
        <span>Use</span>
      </button>
    </div>
  </div>
  <div class="sheet-row">
    <div class="sheet-col-1-12 sheet-center sheet-small-label sheet-pad-t-twelve">Output</div>
    <div class="sheet-col-11-12 sheet-mar-t-md"><textarea class="sheet-small-textarea" name="attr_classactionoutput{{num}}"></textarea></div>
  </div>
  <span class="sheet-small-note sheet-pad-r-lg sheet-offset-1-12">Show output options?</span><input type="checkbox" name="attr_classactionshowoptions{{num}}" class="sheet-classactionshowoptions{{num}}" value="1">
  <div class="sheet-classaction-output-options sheet-pad-b-md sheet-mar-b-md">
    <span class="sheet-col-1 sheet-pad-l-lg sheet-pad-r-lg sheet-small-note">Check the appropriate option(s) below to have the output automatically be included in the roll type specified</span>
    <div class="sheet-row sheet-small-label sheet-center">
      <div class="sheet-col-1-5">Saving Throws</div>
      <div class="sheet-col-1-5">Ability Checks</div>
      <div class="sheet-col-2-5">Core Skills</div>
      <div class="sheet-col-1-5">Weapons/Spell/Misc</div>
    </div>
    <div class="sheet-row">
      <div class="sheet-col-1-5 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Strength Save</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionstrengthsave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Dexterity Save</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactiondexteritysave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Constitution Save</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionconstitutionsave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Intelligence Save</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionintelligencesave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Wisdom Save</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionwisdomsave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Charisma Save</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactioncharismasave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Death Save</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactiondeathsave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-1-5 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Strength Check</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionunskilledstr{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Dexterity Check</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionunskilleddex{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Constitution Check</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionunskilledcon{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Intelligence Check</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionunskilledint{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Wisdom Check</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionunskilledwis{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Charisma Check</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionunskilledcha{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-1-5 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Acrobatics</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionacrobatics{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Animal Handling</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionanimalhandling{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Arcana</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionarcana{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Athletics</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionathletics{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Deception</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactiondeception{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">History</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionhistory{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Insight</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactioninsight{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Intimidation</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionintimidation{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Investigation</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactioninvestigation{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Medicine</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionmedicine{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Nature</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionnature{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-1-5 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Perception</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionperception{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Performance</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionperformance{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Persuasion</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionpersuasion{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Religion</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionreligion{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Sleight of Hand</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionsleightofhand{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Stealth</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionstealth{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Survival</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionsurvival{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Custom 1</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactioncustom1skill{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Custom 2</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactioncustom2skill{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Custom 3</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactioncustom3skill{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Custom 4</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactioncustom4skill{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-1-5 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Initiative</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactioninitiative{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Hit Dice</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionhitdice{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Melee Weapons</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionmeleeweapon{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Ranged Weapons</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionrangedweapon{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Spell Info</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionspellinfo{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
          <div class="sheet-row sheet-margin-right">
            <div class="sheet-col-5-6">Spell Cast</div>
            <div class="sheet-col-1-12"><input type="checkbox" name="attr_classactionspellcast{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>