<div class="sheet-wrap-box sheet-relative sheet-mar-b-md sheet-pad-r-lg sheet-pad-l-lg">
  <div class="sheet-shaped-row">
    <div class="sheet-col-25 sheet-center sheet-vert-middle sheet-pad-r-sm">
      <input class="sheet-action-name sheet-center" type="text" placeholder="name" name="attr_classactionname{{num}}">
    </div>
    <div class="sheet-col-08 sheet-center sheet-pad-r-sm">
      <input type="number" name="attr_classactionresource{{num}}">
      <div class="sheet-small-label">Current</div>
    </div>
    <div class="sheet-col-08 sheet-center sheet-pad-r-sm">
      <input type="number" name="attr_classactionresource{{num}}_max">
      <div class="sheet-small-label">Max</div>
    </div>
    <div class="sheet-col-16 sheet-center sheet-pad-r-sm">
      <select name="attr_classactionrecharge{{num}}">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Short Rest</option>
        <option value="Long rest">Long Rest</option>
        <option value="Other">Other</option>
      </select>
      <div class="sheet-small-label">Recharge</div>
    </div>
    <div class="sheet-col-16 sheet-center">
      <select name="attr_classactionsource{{num}}">
        <option value="Not set" selected>&#8212;</option>
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Monk">Monk</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option>
        <option value="Feat">Feat</option>
        <option value="Other">Other</option>
      </select>
      <div class="sheet-small-label">Gained from?</div>
    </div>
    <div class="sheet-action-button-group sheet-right">
      <div class="sheet-shaped-row">
        <div class="sheet-col sheet-center sheet-vert-middle">
          <button type="roll" name="roll_classaction{{num}}" value="@{output_option} &{template:5eDefault} {{classaction={{num}}}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{classactionname{{num}}}}} {{subheader=Class Action {{num}}}} {{freetext=@{classactionoutput{{num}}}}}">
            <span>Use</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet-center sheet-mar-t-md">
    <textarea class="sheet-small-textarea" name="attr_classactionoutput{{num}}"></textarea>
    <div class="sheet-small-label">Output</div>
  </div>
  <span class="sheet-small-note sheet-pad-r-lg">Show output options?</span><input type="checkbox" name="attr_classactionshowoptions{{num}}" class="sheet-classactionshowoptions{{num}}" value="1">
  <div class="sheet-classaction-output-options sheet-pad-b-md sheet-mar-b-md">
    <span class="sheet-pad-l-lg sheet-pad-r-lg sheet-small-note">Check the appropriate option(s) below to have the output automatically be included in the roll type specified</span>
    <div class="sheet-shaped-row sheet-sub-header sheet-small-label sheet-center">
      <div class="sheet-col-20">Saving Throws</div>
      <div class="sheet-col-20">Ability Checks</div>
      <div class="sheet-col-40">Core Skills</div>
      <div class="sheet-col-20">Weapons/Spell/Misc</div>
    </div>
    <div class="sheet-shaped-row">
      <input type="hidden" name="attr_class_action_output_var_{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}">
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Strength Save</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionstrengthsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Dexterity Save</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondexteritysave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Constitution Save</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionconstitutionsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Intelligence Save</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionintelligencesave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Wisdom Save</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionwisdomsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Charisma Save</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncharismasave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Death Save</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondeathsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Strength Check</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledstr{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Dexterity Check</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilleddex{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Constitution Check</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledcon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Intelligence Check</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledint{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Wisdom Check</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledwis{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Charisma Check</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledcha{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Acrobatics</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionacrobatics{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Animal Handling</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionanimalhandling{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Arcana</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionarcana{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Athletics</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionathletics{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Deception</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondeception{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">History</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionhistory{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Insight</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninsight{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Intimidation</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionintimidation{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Investigation</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninvestigation{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Medicine</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionmedicine{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Nature</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionnature{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Perception</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionperception{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Performance</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionperformance{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Persuasion</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionpersuasion{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Religion</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionreligion{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Sleight of Hand</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionsleightofhand{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Stealth</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionstealth{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Survival</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionsurvival{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Custom 1</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom1skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Custom 2</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom2skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Custom 3</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom3skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Custom 4</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom4skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Initiative</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninitiative{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Hit Dice</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionhitdice{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Melee Weapons</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionmeleeweapon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Ranged Weapons</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionrangedweapon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Spell Info</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionspellinfo{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">Spell Cast</div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionspellcast{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>