<div class="sheet-col-1-6 sheet-center sheet-vert-middle sheet-pad-r-md">
  <div class="sheet-shaped-row">
    <div class="sheet-col-60 sheet-pad-r-sm">
      <input type="number" name="attr_custom_class_level_{{num}}" value="0" min="0" step="1">
    </div>
    <div class="sheet-col-40 sheet-custom-class-hd">
      <select name="attr_custom_class_hd_{{num}}">
        <option value="6">d6</option>
        <option value="8">d8</option>
        <option value="10">d10</option>
        <option value="12">d12</option>
      </select>
    </div>
  </div>
  <div class="sheet-small-label">
    <input class="sheet-center" type="text" name="attr_custom_class_name_{{num}}" placeholder="Custom {{num}}">
  </div>
</div>