<span class="sheet-pad-l-lg sheet-pad-r-lg sheet-small-note">Check the appropriate option(s) below to have the output automatically be included in the roll type specified</span>
<div class="sheet-shaped-row sheet-sub-header sheet-small-label sheet-center">
  <div class="sheet-col-20">Saving Throws</div>
  <div class="sheet-col-20">Ability Checks</div>
  <div class="sheet-col-40">Core Skills</div>
  <div class="sheet-col-20">Weapons/Spell/Misc</div>
</div>
<div class="sheet-shaped-row">
  <div class="sheet-col-20 sheet-pad-l-lg">
    <div class="sheet-class-action-zebra">
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Strength Save</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionstrengthsave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Dexterity Save</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondexteritysave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Constitution Save</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionconstitutionsave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Intelligence Save</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionintelligencesave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Wisdom Save</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionwisdomsave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Charisma Save</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncharismasave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Death Save</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondeathsave{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
    </div>
  </div>
  <div class="sheet-col-20 sheet-pad-l-lg">
    <div class="sheet-class-action-zebra">
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Strength Check</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledstr{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Dexterity Check</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilleddex{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Constitution Check</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledcon{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Intelligence Check</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledint{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Wisdom Check</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledwis{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Charisma Check</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledcha{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
    </div>
  </div>
  <div class="sheet-col-20 sheet-pad-l-lg">
    <div class="sheet-class-action-zebra">
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Acrobatics</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionacrobatics{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Animal Handling</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionanimalhandling{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Arcana</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionarcana{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Athletics</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionathletics{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Deception</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondeception{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">History</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionhistory{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Insight</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninsight{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Intimidation</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionintimidation{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Investigation</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninvestigation{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Medicine</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionmedicine{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Nature</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionnature{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
    </div>
  </div>
  <div class="sheet-col-20 sheet-pad-l-lg">
    <div class="sheet-class-action-zebra">
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Perception</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionperception{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Performance</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionperformance{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Persuasion</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionpersuasion{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Religion</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionreligion{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Sleight of Hand</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionsleightofhand{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Stealth</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionstealth{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Survival</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionsurvival{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Custom 1</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom1skill{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Custom 2</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom2skill{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Custom 3</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom3skill{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Custom 4</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom4skill{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
    </div>
  </div>
  <div class="sheet-col-20 sheet-pad-l-lg">
    <div class="sheet-class-action-zebra">
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Initiative</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninitiative{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Hit Dice</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionhitdice{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Melee Weapons</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionmeleeweapon{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Ranged Weapons</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionrangedweapon{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Spell Info</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionspellinfo{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
      <div class="sheet-shaped-row sheet-mar-r-md">
        <div class="sheet-col-90">Spell Cast</div>
        <div class="sheet-col-10"><input type="checkbox" name="attr_classactionspellcast{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}"></div>
      </div>
    </div>
  </div>
</div>