<div class="shaped-row">
  <div class="col-46 vert-middle pad-r-sm">
    <input type="text" name="attr_classactionname{{num}}">
  </div>
  <div class="col-13 center pad-r-sm">
    <span class="en">
      <select name="attr_classactionrecharge{{num}}" class="select-no-arrow">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Short Rest</option>
        <option value="Long rest">Long Rest</option>
        <option value="Other">Other</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_classactionrecharge{{num}}" class="select-no-arrow">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Short Rest</option>
        <option value="Long rest">Long Rest</option>
        <option value="Other">Other</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_classactionrecharge{{num}}" class="select-no-arrow">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Repos Court</option>
        <option value="Long rest">Repos Long</option>
        <option value="Other">Autre</option>
      </select>
    </span>
	  <span class="ru">
      <select name="attr_classactionrecharge{{num}}" class="select-no-arrow">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Краткий отдых</option>
        <option value="Long rest">Прод.отдых</option>
        <option value="Other">Другое</option>
      </select>
    </span>
  </div>
  <div class="col-12 center pad-r-sm">
    <input type="number" class="no-spin" name="attr_classactionresource{{num}}">
  </div>
  <div class="col-03 center vert-bottom">&#47;</div>
  <div class="col-12 center">
    <input type="number" class="no-spin" name="attr_classactionresource{{num}}_max">
  </div>
  <div class="col-14 center">
    <button type="roll" name="roll_classaction{{num}}" value="@{output_option} &{template:5eReshaped} {{classaction={{num}}}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{classactionname{{num}}}}} {{subheader=Class Action {{num}}}} {{freetext=@{classactionoutput{{num}}}}}"></button>
  </div>
</div>
