//- Include Supplement Toggle
include ../../data/settings

mixin settings()
  .settings-menu
    each supplement, key in supplements
      .settings-group
        .settings-group-title=key.toUpperCase()
        each setting in supplement
          +btn(setting)
          