include fields.pug
include tabs.pug

+input('text', 'debug')(value=' ', style='display: none;')
+input('text', 'character_sheet')(value='Pathfinder_Simple', style='display: none;')

.top
  .pfLogo
  .topStats(style='margin-bottom: 1em;')
    div
      +labelledUnderlined('Character Name', { i18n: 'character-name' })(style='width: 2.5in;'): +input('text', 'character_name')
      +labelledUnderlined('Player Name', { i18n: 'player-name' }): +input('text', 'player_name')
    div
      +labelledUnderlined('Race', { i18n: 'race' })(style='width: 1in;'): +input('text', 'race')
      +labelledUnderlined('Classes and levels', { i18n: 'classes-and-levels' })(style='width: 1.5in;'): +input('text', 'classes')
      +labelledUnderlined('Total Lv', { i18n: 'total-level-abbrev' })(style='width: 0.5in;'): +input('number', 'level')
      +labelledBoxH('XP', { i18n: 'xp-u' })(style='float: right;'): +input('number', 'xp')(style='width: 1in;')
    div
      +labelledUnderlined('Active Status Conditions', { i18n: 'active-status-conditions' })(style='width: 3in;'): +input('text', 'activeConditions')
      +labelledBoxH('HP', { i18n: 'hp-u' })(style='float: right;'): +fraction('hp')

.tabsContainer
  +tab('Core', 'mainTabs', { default: true, i18n: 'core' })
    include core/index.pug
  +tab('Skills', 'mainTabs', { i18n: 'skills' })
    include skills/index.pug
  +tab('Specials/Feats', 'mainTabs', { i18n: 'specials-feats' })
    include specialFeats/index.pug
  +tab('Equipment', 'mainTabs', { i18n: 'equipment' })
    include gear/index.pug
  +tab('Magic', 'mainTabs', { i18n: 'magic' })
    include magic/index.pug
  +tab('Notes', 'mainTabs', { i18n: 'notes' })
    include notes/index.pug

script(type='text/worker')
  include ../js/worker.js

include rolltemplate.pug
