rolltemplate.sheet-rolltemplate-pf
  
  mixin isAttack()
    | {{#isAttack}}
    block
    | {{/isAttack}}
  
  mixin isCrit()
    | {{#rollWasCrit() result}}
    block
    | {{/rollWasCrit() result}}
  
  mixin notAttack()
    | {{#isNotAttack}}
    block
    | {{/isNotAttack}}
  
  mixin notCrit()
    | {{#^rollWasCrit() result}}
    block
    | {{/^rollWasCrit() result}}
  
  mixin attackNotes()
    | {{#notes}}
    tr: td.notes
      div(data-i18n='attack-notes-tpl') Attack Notes:
      div {{notes}}
    | {{/notes}}
  
  mixin notes()
    | {{#notes}}
    tr: td.notes
      div(data-i18n='notes-tpl') Notes:
      div {{notes}}
    | {{/notes}}
  
  
  table
    thead: tr: th {{charName}} &#x21D2; {{attr}}
    tbody
      +isAttack()
        +isCrit()
          tr: td: h3.crit(data-i18n='critical-hit-tpl') Critical Hit! {{result}}
          tr: td(data-i18n='roll-to-confirm-tpl') Roll to Confirm {{critConfirm}}
        +notCrit()
          tr: td(data-i18n='attack-tpl') Attack {{result}}
        
        tr: td: hr
          
        +isCrit()
          tr: td.crit(data-i18n='crit-damage-tpl') Crit Damage {{critDamage}}
          tr: td(data-i18n='non-crit-damage-tpl') Non-crit Damage {{damage}}
        +notCrit()
          tr: td(data-i18n='damage-tpl') Damage {{damage}}
          
        +notes()
      
      +notAttack()
        tr: td(data-i18n='result-tpl') Result {{result}}
        +notes()
      
      
