-
  var nextTabId = 0;

mixin tab(label, tabGroup, checked)
  - nextTabId++;
  .tab
    input(type='radio', id='tab_' + nextTabId, name=tabGroup, checked=checked)
    label(for='tab_' + nextTabId)= label
    .tabPanel
      block
