-
  var nextTabId = 0;

mixin tab(label, tabGroup, opts)
  - 
    opts = opts || {};
    nextTabId++;
  .tab
    input(type='radio', id='tab_' + nextTabId, name=tabGroup, checked=opts.default)
    label(for='tab_' + nextTabId, data-i18n=opts.i18n)= label
    .tabPanel
      block
