<input type="hidden" name="attr_traits_exist" class="item-toggle">
<div class="item-to-toggle">
  <fieldset class="repeating_trait">
    <div class="relative mar-b-sm">
      <button type="roll" name="roll_trait" class="presentation wrapper-button traits-presentation-wrapper" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{recharge=@{recharge}}} @{saving_throw_toggle} @{damage_toggle} @{heal_toggle} @{hide_gm_info} @{extras_toggle}">
        <span class="heading italic">
          <span name="attr_name"></span><span name="attr_recharge_display"></span>.
        </span>
        <span name="attr_display_text" class="pre-line"></span>
      </button>
      <div class="shaped-row edit">
        <div class="col-40 center">
          <input type="text" name="attr_name" class="bold italic" placeholder="Amphibious">
        </div>
        <div class="col-17 center pad-l-sm pad-r-sm">
          <span class="en">
            <select name="attr_type">
              <option value="Melee Weapon">Melee</option>
              <option value="Ranged Weapon">Ranged</option>
              <option value="Other" selected>Other</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_type">
              <option value="Melee Weapon">Nahkampf</option>
              <option value="Ranged Weapon">Reichweite</option>
              <option value="Other" selected>Andere</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_type">
              <option value="Melee Weapon">Mêlée</option>
              <option value="Ranged Weapon">Tir</option>
              <option value="Other" selected>Autre</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_type">
              <option value="Melee Weapon">Melee</option>
              <option value="Ranged Weapon">Ranged</option>
              <option value="Other" selected>Other</option>
            </select>
          </span>

          <div class="small-label">{{'TYPE' | translate}}</div>
        </div>

        <div class="col-15 center pad-l-sm">
          <input type="text" name="attr_recharge" class="center">

          <div class="small-label">{{'RECHARGE' | translate}}</div>
        </div>
      </div>
      <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings edit"><span class="toggle-icon-settings pictos edit">y</span>
      <div class="details edit">
        <div class="col-100">
          <textarea class="two-line-textarea" name="attr_display_text"></textarea>
          <div class="small-label">{{'DISPLAY_TEXT' | translate}}</div>
        </div>

        //= include ../actionComponents/savingThrow.html
        //= include ../actionComponents/damageSpell.html
        //= include ../actionComponents/heal.html
        //= include ../actionComponents/extras.html
      </div>
    </div>
  </fieldset>
</div>