/* === GENERAL === */
.sheet-header {
	margin-bottom: 4px;
	padding: 2px 4px;

	background: black;
	color: white;
	font-weight: bold;
	
	font-size: 14pt;
}

.sheet-descriptions {
    width: 300px;
}

.sheet-header a {
    color: white;
}

.sheet-section {
	float: left;
	width: 100%;

	margin: 4px 0;
	padding: 1px;
	box-sizing: border-box;
}

.sheet-half {
	max-width: 50%;
}

.sheet-break {
	clear: both;
}

label,
select {
	margin: 0;
}

textarea {
	margin: 0;
	width: 100%;
	height: auto;
	resize: vertical;
	box-sizing: border-box;
}

.sheet-repitem,
.repitem {
	margin-bottom: 2px;
}

.sheet-large-text {
    font-size: 1.2em;
}

.sheet-small-text {
    font-size: 0.5em;
}

.sheet-small-checkbox {
    -ms-transform: scale(0.5); /* IE */
    -moz-transform: scale(0.5)); /* FF */
    -webkit-transform: scale(0.5); /* Safari and Chrome */
    -o-transform: scale(0.5); /* Opera */
}

/* Override Roll20 Button styling for something less conspicious */
button {
	height: 22px;
	line-height: 16px;
	margin: 0 !important;
	border-radius: 0 !important;
	background-image: none !important;
	border: none !important;
	box-shadow: none !important;
}

.repcontrol button {
    padding: 4px 8px;
    height: unset;
    line-height: unset;
    font-size: 12px;
}

/* === VISIBILITY === */
.sheet-active-toggle {
    display: none;
}

.sheet-active-toggle:not(:checked) + div,
.sheet-active-toggle:not(:checked) + table,
.sheet-repeating-checkbox:not(:checked) + input:not(:checked) {
	display: none;
}

.sheet-gm-tool {
    display: none;
}

/* === TABLES === */
.sheet-table,
.sheet-left-label,
.sheet-left-fill {
    display: table-row;
}

.sheet-table div {
    display: table-cell;
    padding-left: 2px;
}
.sheet-left-label div,
.sheet-left-fill div {
    display: table-cell;
}

.sheet-table div:first-child,
.sheet-left-label div:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 2px;
}

.sheet-left-label div:not(:first-child),
.sheet-left-fill div:first-child {
    width: 100%;
}

.sheet-left-label input,
.sheet-left-fill input {
    width: 100%;
    margin-left: 2px;
}

/* === FLEX === */
.sheet-flex-row {
    display: flex;
    flex-direction: row;
}

.sheet-flex-column {
    display: flex;
    flex-direction: column;
}

.sheet-flex-1 {
    flex: 1;
}

/* === VISIBILITY === */
.sheet-active-toggle {
	display: none;
}

.sheet-active-toggle:not(:checked) + div,
.sheet-active-toggle:not(:checked) + table {
	display: none;
}

.sheet-gm-tool {
	display: none;
}

/* === TABLES === */
.sheet-table,
.sheet-left-label,
.sheet-left-fill {
	display: table-row;
}

.sheet-table div {
	display: table-cell;
	padding-left: 2px;
}
.sheet-left-label div,
.sheet-left-fill div {
	display: table-cell;
}

.sheet-table div:first-child,
.sheet-left-label div:first-child {
	text-align: right;
	font-weight: bold;
	padding-right: 2px;
}

.sheet-left-label div:not(:first-child),
.sheet-left-fill div:first-child {
	width: 100%;
}

.sheet-left-label input,
.sheet-left-fill input {
	width: 100%;
	margin-left: 2px;
}

/* === BASIC === */
.sheet-logo {
	width: 200px;
	margin: 0 5px;
	float: left;
}

.sheet-section-basic tr {
	margin-left: 5px;
}

.sheet-section-basic td {
	padding: 2px;
}

.sheet-section-basic input[type="number"] {
	width: 100px;
}

.sheet-section-basic .sheet-column {
	width: calc(50% - 200px);
}

input[type="checkbox"] {
    width: auto;
}

/* === SKILLS === */
.sheet-section-skills input {
	width: 83px;
}

.sheet-section-skills td:first-child {
	text-align: right;
	font-weight: bold;
	padding: 0 4px;
}

.sheet-skill-on {
	border: 1px solid black;
}

.sheet-skill-off:placeholder-shown {
	background-color: #E3E3E3;
	border: 1px solid gray;
}

.sheet-skill-invisible:placeholder-shown {
	background-color: transparent;
	border: none;
}

/* === SKILL ROLLS === */
.sheet-section-skills td {
    position: relative;
}

.sheet-hidden-roll {
    position: absolute;
    left: 82px;
    top: 1px;
    z-index: 1;
}

input:placeholder-shown+.sheet-hidden-roll {
    display:none;
}

input:not(:hover)+.sheet-hidden-roll:not(:hover) {
    display:none;
}

/* === STRESS === */
.sheet-stress-left-column {
    width: 100px;
}

input.sheet-dynamic-name {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    color: unset;
    margin-top: -4px;
    background: none;
    padding: 2px;
}

/* === STUNTS === */
.sheet-section-stunts input {
    width: 100%;
}

/* === NOTES === */
.sheet-section-notes input {
    width: 100%;
}
