/* Header Formatting */
.sheet-gametitleimg {float: left; }
.sheet-alignright {text-align: right; }
.sheet-typeselector { float: right; }
.sheet-aligncenter {text-align: center;}

/* Tabs */
.sheet-tab-content {
  display: none;
}

input.sheet-tab-char:checked ~ div.sheet-tab-char,
input.sheet-tab-playbook:checked ~ div.sheet-tab-playbook,
input.sheet-tab-crew:checked ~ div.sheet-tab-crew,
input.sheet-tab-factions:checked ~ div.sheet-tab-factions {
  display: block;
}

input.sheet-tab {
  width: 100px;
  height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-tab::before {
  content: attr(title);

  border: solid 1px #a7a7a7;
  border-bottom-color: #ffffff;
  text-align: center;
  display: inline-block;

  background: #000000;
  color: #ffffff;

  width: 100px;
  height: 20px;
  font-size: 18px;
}

input.sheet-tab:checked::before {
  background: #ffffff;
  color: #000000;
}

/* Trauma Options */
input.sheet-trauma-check {
  width: 80px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-trauma-check:before {
  content: attr(title);

  border: solid thin #a7a7a7;
  text-align: center;
  display: inline-block;

  background: #ffffff;
  color: #000000;

  width: 80px;
  height: 20px;
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
}

input.sheet-trauma-check:checked::before {
  color: #ff0000;
}

/* Other Options */
input.sheet-armor, input.sheet-coin, input.sheet-recovery,
input.sheet-ability, input.sheet-friend, input.sheet-rival,
input.sheet-item, input.sheet-carry {
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-armor, input.sheet-coin, input.sheet-recovery,
input.sheet-carry {
  margin-top: 5px;
}

input.sheet-armor:before, input.sheet-coin:before,
input.sheet-recovery:before, input.sheet-ability:before,
input.sheet-friend:before, input.sheet-rival:before,
input.sheet-item:before, input.sheet-carry:before {
  content: "";
  display: inline-block;
  background: #ffffff;
  width: 15px;
  height: 15px;
}

input.sheet-armor:before, input.sheet-coin:before,
input.sheet-recovery:before, input.sheet-ability:before,
input.sheet-item:before, input.sheet-carry:before {
border: solid thin #000000;
}

input.sheet-friend:before {
  border: solid thin #007700;
}

input.sheet-rival:before {
  border: solid thin #770000;
}

input.sheet-armor:checked::before, input.sheet-coin:checked::before,
input.sheet-recovery:checked::before, input.sheet-ability:checked::before,
input.sheet-item:checked::before, input.sheet-carry:checked::before {
  background: #000000;
}

input.sheet-friend:checked::before {
  background: #007700;
}

input.sheet-rival:checked::before {
  background: #770000;
}

/* Character Tab */
h1 {
  text-align: center;
}

.sheet-version {
  text-align: left;
  font-size: 10px;
}

label {
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
}

label.sheet-alias, label.sheet-background {
  margin-left: 10px;
}

input.sheet-name, input.sheet-alias {
  width: 350px;
}

input.sheet-look {
  margin-left: 5px;
  width: 771px;
}

input.sheet-heritage, input.sheet-background {
  width: 312px;
}

input.sheet-vice {
  width: 699px;
}

label.sheet-trauma {
  margin-left: 25px;
}

input.sheet-stress, input.sheet-trauma, input.sheet-stash,
input.sheet-insight, input.sheet-prowess, input.sheet-resolve {
  width: 25px;
  text-align: center;
  font-size: 16px;
}

.sheet-trauma-left, .sheet-trauma-center {
  margin-right: 10px;
}

.sheet-trauma-center, .sheet-trauma-right {
  margin-left: 10px;
}

h3 {
  text-align: center;
}

h5 {
  line-height: 27px;
}

.sheet-harm-full {
  width: 424px;
}

label.sheet-armor, input.sheet-spec, label.sheet-coin,
label.sheet-stash {
  margin-left: 35px;
}

label.sheet-heavy {
  margin-left: 18px;
}

input.sheet-spec {
  width: 175px;
}

/* Playbook Tab */
input.sheet-ability-name {
  width: 125px;
  text-align: center;
  font-weight: bold;
}

input.sheet-ability-info {
  width: 295px;
}

input.sheet-xp-goal {
  width: 450px;
}

.sheet-actions {
  margin-left: 35px;
}

h4 {
  line-height: 27px;
}

.sheet-actions-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

input.sheet-insight {
  margin-left: 175px;
}

input.sheet-prowess {
  margin-left: 159px;
}

input.sheet-resolve {
  margin-left: 164px;
}

.sheet-secondary-actions {
  margin-left: 35px;
}

.sheet-insight-actions {
  margin-left: 33px;
}

.sheet-prowess-actions {
  margin-left: 20px;
}

.sheet-resolve-actions {
  margin-left: 10px;
}

.sheet-loads {
  margin-left: 10px;
}

input.sheet-carry {
  margin-left: 10px;
}

.sheet-bandolier {
  margin-left: 15px;
}


/* Char/Crew Button Functionality */
div.sheet-type-crew { display: none; }
input.sheet-typeselector:checked ~ div.sheet-type-crew { display: block;}
input.sheet-typeselector:checked ~ div.sheet-type-character { display: none; }

/* Char/Crew Button Appearance */
input.sheet-typeselector {
  width: 100px;
  height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-typeselector::before {
  content: attr(title);

  border: solid 1px #a7a7a7;
  border-bottom-color: #ffffff;
  text-align: center;
  display: inline-block;

  background: #cccccc;
  color: #000000;

  width: 100px;
  height: 20px;
  font-size: 18px;
}

input.sheet-typeselector:checked::before {
  content: "Crew";
}

/* Crew Sheet Field Layout And Formatting */
input.sheet-crew-name, input.sheet-crew-reputation {
  width: 330px;
}

input.sheet-crew-lair {
  width: 782px;
}

.sheet-heatrow label {
    width: 40px;
}

.sheet-heatrow .sheet-col {
    
}

.sheet-turfrow {height: 12px;}
.sheet-turfrow-outer {height: 40px;}

.sheet-turf label {text-align: left;}
.sheet-rep label {text-align: right;}



/* Claims Map */

.sheet-map-row-claims {
    text-align: center;
}

.sheet-map-row-claims textarea {
    width: 130px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background: #cccccc;
    z-index: 0;
    position: relative;
}

.sheet-map-claim, .sheet-map-connector {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
      margin: -3px;
}

.sheet-connector-row {
  margin-bottom: -20px;
  text-align: center;
}



/* Hide right-connector checkbox */
input.sheet-connector-check[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: -2px;
    left: 15px;
    margin: -10px;
    cursor: pointer;
    z-index: 2;
}

/* Hide right-connector when unchecked */
input.sheet-connector-check[type="checkbox"] + span::before
{
    opacity: 0;
    display: inline-block;
    width: 30px;
    height: 20px;    
    content: "";
}

/* Show right-connector when checked */
input.sheet-connector-check[type="checkbox"]:checked + span::before
{
    opacity: 1;
    content: "";
    width: 30px;
    height: 20px;
    background: #cccccc;
    z-index: -1;
    border: 1px 0px 1px 0px;
    position: relative;
    left: -1px;
}

/* Row for the down-connectors */
.sheet-down-connector {
  width: 132px;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  height: 30px;
  text-align:center;
}

.sheet-notfirstrow {
  margin-top: 15px;
}


/* Hide down-connector checkbox */
input.sheet-down-connector-check[type="checkbox"]
{
    opacity: 0;
    position: relative;
    cursor: pointer;
    z-index: 2;
    width: 16px;
    height: 36px;
    top: -12px;
    left: 8px;

}


/* Hide down-connector when unchecked */
input.sheet-down-connector-check[type="checkbox"] + span::before
{
    opacity: 0;
    display: inline-block;
    content: "";
    background: green;
    position: relative;
    z-index: 1;
    width: 16px;
    height: 26px;
    top: 0px;
    left: -8px;
}


/* Show down-connector when checked */
input.sheet-down-connector-check[type="checkbox"]:checked + span::before
{
    opacity: 1;
    display: inline-block;
    content: "";
    background: #cccccc;
    position: relative;
    z-index: 1;
    width: 16px;
    height: 26px;
    top: 0px;
    left: -8px;
}

/* Left-fillable radio buttons - Hide actual radio */
input.sheet-leftradio[type="radio"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Show fake radio buttons for left-fillable */
input.sheet-leftradio[type="radio"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 24px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-leftradiolast[type="radio"] + span::before {
  margin-right: 0px;
}


/* Empty radio - used for clearing the line*/
input.sheet-zero:checked + span::before
{
    opacity: 0;
}

input.sheet-zero:hover + span::before
{
    opacity: 0.25;
    font-size: 12px;
    content: "✖";
    text-indent: 0.5px;
}

input.sheet-zero + span::before
{
    opacity: 0;
}

/* Remove dot from all radios _after_ selected one */
/* Ensure that your radio groups are encapsulated in a div, otherwise they will interfere with each other */
input.sheet-leftradio[type="radio"]:checked ~ input.sheet-leftradio[type="radio"] + span::before
{    
    content: "";
}


/* Crew Upgrades */
.sheet-lair-upgrade-info, .sheet-quality-upgrade-info {
    width: 170px;
}


.sheet-crew-ability-name {
    width: 125px;
}

.sheet-crew-ability-info {
    width: 680px;
}

.sheet-advancement-descr {
    width: 335px;
}

.repeating_cohort textarea {
  width: 200px;
  height: 50px;
}

.sheet-freejob textarea, .repeating_freejob textarea {
  width: 335px;
  height: 50px;
}

select.sheet-faction-status, 
select.sheet-faction-tier, 
select.sheet-faction-hold {
    width: 40px;
}


.sheet-war-description {
  width: 490px;
}