/* Tabs */
.sheet-tab-content {
  display: none;
}

input.sheet-tab-char:checked ~ div.sheet-tab-char,
input.sheet-tab-playbook:checked ~ div.sheet-tab-playbook {
  display: block;
}

input.sheet-tab {
  width: 100px;
  height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-tab::before {
  content: attr(title);

  border: solid 1px #a7a7a7;
  border-bottom-color: #ffffff;
  text-align: center;
  display: inline-block;

  background: #000000;
  color: #ffffff;

  width: 100px;
  height: 20px;
  font-size: 18px;
}

input.sheet-tab:checked::before {
  background: #ffffff;
  color: #000000;
}

/* Trauma Options */
input.sheet-trauma-check {
  width: 80px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-trauma-check:before {
  content: attr(title);

  border: solid thin #a7a7a7;
  text-align: center;
  display: inline-block;

  background: #ffffff;
  color: #000000;

  width: 80px;
  height: 20px;
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
}

input.sheet-trauma-check:checked::before {
  color: #ff0000;
}

/* Other Options */
input.sheet-armor, input.sheet-coin, input.sheet-recovery,
input.sheet-ability, input.sheet-friend, input.sheet-rival,
input.sheet-item, input.sheet-carry {
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
}

input.sheet-armor, input.sheet-coin, input.sheet-recovery,
input.sheet-carry {
  margin-top: 5px;
}

input.sheet-armor:before, input.sheet-coin:before,
input.sheet-recovery:before, input.sheet-ability:before,
input.sheet-friend:before, input.sheet-rival:before,
input.sheet-item:before, input.sheet-carry:before {
  content: "";
  display: inline-block;
  background: #ffffff;
  width: 15px;
  height: 15px;
}

input.sheet-armor:before, input.sheet-coin:before,
input.sheet-recovery:before, input.sheet-ability:before,
input.sheet-item:before, input.sheet-carry:before {
border: solid thin #000000;
}

input.sheet-friend:before {
  border: solid thin #007700;
}

input.sheet-rival:before {
  border: solid thin #770000;
}

input.sheet-armor:checked::before, input.sheet-coin:checked::before,
input.sheet-recovery:checked::before, input.sheet-ability:checked::before,
input.sheet-item:checked::before, input.sheet-carry:checked::before {
  background: #000000;
}

input.sheet-friend:checked::before {
  background: #007700;
}

input.sheet-rival:checked::before {
  background: #770000;
}

/* Character Tab */
h1 {
  text-align: center;
}

.sheet-version {
  text-align: left;
  font-size: 10px;
}

label {
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
}

label.sheet-alias, label.sheet-background {
  margin-left: 10px;
}

input.sheet-name, input.sheet-alias {
  width: 350px;
}

input.sheet-look {
  margin-left: 5px;
  width: 771px;
}

input.sheet-heritage, input.sheet-background {
  width: 312px;
}

input.sheet-vice {
  width: 699px;
}

label.sheet-trauma {
  margin-left: 25px;
}

input.sheet-stress, input.sheet-trauma, input.sheet-stash,
input.sheet-insight, input.sheet-prowess, input.sheet-resolve {
  width: 25px;
  text-align: center;
  font-size: 16px;
}

.sheet-trauma-left, .sheet-trauma-center {
  margin-right: 10px;
}

.sheet-trauma-center, .sheet-trauma-right {
  margin-left: 10px;
}

h3 {
  text-align: center;
}

h5 {
  line-height: 27px;
}

.sheet-harm-full {
  width: 424px;
}

label.sheet-armor, input.sheet-spec, label.sheet-coin,
label.sheet-stash {
  margin-left: 35px;
}

label.sheet-heavy {
  margin-left: 18px;
}

input.sheet-spec {
  width: 175px;
}

/* Playbook Tab */
input.sheet-ability-name {
  width: 125px;
  text-align: center;
  font-weight: bold;
}

input.sheet-ability-info {
  width: 295px;
}

input.sheet-xp-goal {
  width: 450px;
}

.sheet-actions {
  margin-left: 35px;
}

h4 {
  line-height: 27px;
}

.sheet-actions-hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

input.sheet-insight {
  margin-left: 175px;
}

input.sheet-prowess {
  margin-left: 159px;
}

input.sheet-resolve {
  margin-left: 164px;
}

.sheet-secondary-actions {
  margin-left: 35px;
}

.sheet-insight-actions {
  margin-left: 33px;
}

.sheet-prowess-actions {
  margin-left: 20px;
}

.sheet-resolve-actions {
  margin-left: 10px;
}

.sheet-loads {
  margin-left: 10px;
}

input.sheet-carry {
  margin-left: 10px;
}

.sheet-bandolier {
  margin-left: 15px;
}
