//- All other helpers may load their javascript from file, this should be first
include load_js.pug
include data_persistance.pug
include updater/updater.pug
include alerts/alerts.pug
include markdown/markdown.pug

//- include load_js_2.pug
//- - console.log(js_loader2.load("helpers/test_load_js_2.js", {test:1}));

mixin sheetworker_helpers()
    +sheetworker_helpers_data_persistance
    +sheetworker_helpers_updater
    +sheetworker_helpers_alerts

mixin post_sheetworker_helpers()
    +post_sheetworker_helpers_updater