include fields.pug

mixin attribute(label, attr, title)
  .attribute(title=title)
    +rollButton(attr + '_calc')
    +input('hidden', attr + '_calc')
    label= label
    +bubble('TOTAL'): +readOnly(attr + '_total')
    +bubble('RATING'): +input('number', attr)
    +bubble('MODIFIER'): +input('number', attr + '_mod')

.attributes
  .column
    .attrsHeader
      .boxedIcon.iconIntelligence
      h2 INTELLIGENCE
    .attrsInner
      +attribute('RealityCom', 'rcom', 'Defines how well a robot understands cause and effect in the physical world.')
      +attribute('HumanCom', 'hcom', 'Defines how well a robot understands human minds or organic actions.')
      +attribute('DigiCon', 'dcon', 'Defines how adept a robot is at interacting with non-physical systems like computers.')
      +attribute('MechaniCon', 'mcon', 'Defines how adept a robot is at interacting with mechanical systems.')
  .column
    .attrsHeader
      .boxedIcon.iconChassis
      h2 CHASSIS
    .attrsInner
      +attribute('Dexterity', 'dex', 'Measures the degree of fine motor control ncessary for interaction with the outside world.')
      +attribute('Mobility', 'mobil', 'Dictates the robot\'s cability to propel itself about the environment.')
      +attribute('Perception', 'per', 'Determines the variety and quality of sensors mounted, as well as information relayed back.')
      +attribute('Reflexes', 'ref', 'Determines response lag and overall speed of animation.')
      +attribute('Strength', 'str', 'Determines the robot\'s maximum load capacity and ability to inflict brute-force damage on other objects.')
  .column
    .attrsHeader
      .boxedIcon.iconCrux
      h2 CRUX
    .attrsInner
      +attribute('Durability', 'dur', 'Measures how much damage a robot can withstand before ceasing operation or being destroyed.')
      +attribute('Buffer', 'buf', 'Rates the robot\'s ability to withstand information overload.')
      +attribute('Size', 'size', 'Rates the robot\'s physical dimensions.')
      +attribute('Power', 'pow', 'Rates how long the robot can operate on its own without recharging.')
