include fields.pug

+input('text', 'debug')(value=' ', style='display: none;')
+input('text', 'character_sheet')(value='EngineHeart', style='display: none;')

.top
  .column
    +labelledLeft('UNIT NAME'): +input('text', 'character_name')
    +labelledLeft('PLAYER'): +input('text', 'player_name')
    +labelledLeft('ORIGINAL PURPOSE'): +input('text', 'originalPurpose')
  .column.points
    +bubble('POINTS'): +input()
    
include attributes.pug

.secondaryAttrs
  .column.attrsPhysicalInteraction
    .attrsHeader
      .boxedIcon
      label Physical interaction
    .attrsBody
      .attribute
        +bubblePair('Interaction Pool')
        +bubble('Interaction Pool')()
            

script(type='text/worker')
  include ../js/worker.js

include rolltemplate.pug
