include fields.pug

+input('text', 'debug')(value=' ', style='display: none;')
+input('text', 'character_sheet')(value='EngineHeart', style='display: none;')

.top
  .column.bio
    div
      +labelledLeft('UNIT NAME')(style='width: 50%;'): +input('text', 'character_name')
      +labelledLeft('PLAYER')(style='width: 49%;'): +input('text', 'player_name')
    div
      +labelledLeft('ORIGINAL PURPOSE')(style='width: 100%;'): +input('text', 'originalPurpose')
  .column.points
    +bubble('POINTS'): +input('number', 'points')
  
include attributes.pug
include secondaryAttributes.pug

.twoColumns.featuresDefects
  .column.features
    h2 FEATURES
    table: thead
      th Feature
      th Rating
      th Notes
    +repeating('features')
      .feature
        +input('text', 'name')
        +input('number', 'rating')
        +textarea('notes')
  .column.defects
    h2 DEFECTS
    table: thead
      th Feature
      th Rating
      th Notes
    +repeating('defects')
      .defect
        +input('text', 'name')
        +input('number', 'rating')
        +textarea('notes')
.twoColumns
  .column.equipment
    h2 EQUIPMENT
    +textarea('equipment')
  .column.campaign
    h2 CAMPAIGN NOTES
    +textarea('campaignNotes')

script(type='text/worker')
  include ../js/worker.js

include rolltemplate.pug
