mixin notes()
  | {{#notes}}
  tr: td.notes
    div Notes:
    div {{notes}}
  | {{/notes}}

rolltemplate.sheet-rolltemplate-eh
  table
    thead: tr: th unit( "{{charName}}" ).exec( "{{attr}}" );
    tbody
      tr: td Successes {{result}}
      +notes()
