
	/***** CONDITION SETTINGS TOGGLE  *****/
		.sheet-condition-box input[type='checkbox'] {
			left: -1%;
			
			& + span { 
				left: -4%; 
				position: relative;
			}
		}

	/***** CONDITION MONITOR SECTION *****/
		.sheet-con-track {
			display       : inline-block;
			vertical-align: top;
			width         : 47%;
			margin-top: 2%;
			margin-bottom: 3%;

			button[type='action'] {
				font-size    : 1em;
				font-weight  : bold;
				text-align: center;
				padding: 1% 2%;
				margin-left: 7%;
				width        : 100%;
			}
		}


		/***** CONDITION MONITOR SETTINGS  *****/
		.sheet-condition-box {
			.sheet-display,
			.sheet-settings {
				margin-top: -10px;
			}


			.sheet-settings {
				input {
					border-bottom: 1px solid #000;
					border-radius: 0px;
					height       : 22px;
					margin-bottom: 5px;
				}

				/***** CONDITION MONITOR DISPLAY*****/
				.sheet-con-footer {
					margin-top : 0px;
					text-indent: 10px;

					.sheet-attr-und {
						display      : inline-block;
						margin-bottom: -5px;
						text-align   : center;
						width        : 60%;
					}
				}
			}
		}

		/***** CONDITION MONITOR SQUARES *****/
		.sheet-squares {
			margin-left: 20%;
			width      : 70%;

			div {
				background-color: transparent;
				border-right    : none;
				left            : 85%;
				margin-bottom   : -20px;
				position        : relative;
				top             : -15px;
			}

			input[type='radio'],
			span {
				height: 45px;
				width : 33%;
			} 

			input[type='radio'] {
				clear       : both;
				left        : 2px;
				margin-right: -43px;
				position    : relative;
				top         : 6px;
				z-index: 2;
				opacity: 0;
			}

			span {
				background-color: $lightgray;
				border-radius   : 0px;
				border          : 2px solid $red;
				box-shadow      : inset 0px 0px 3px 1px $grayshadow;
				display         : inline-block;
				margin-bottom   : -25px;
				margin-right    : -7px;
        transition: transform .3s;
			}
		}

	.sheet-squares input[type='radio']:checked ~ input[type='radio'] + span,
	.sheet-con-track input[type='radio']:checked ~ .sheet-squares span,
	.sheet-con-track input[type='hidden'][value='0'] ~ .sheet-squares span {
		background-color: transparent;
  }

  .sheet-squares {
    input[type='radio']:hover + span {
      background-color: rgba($grayshadow, .5);
      transform: scale(1.1);
    }
  }

	/***** MAKE CONDTION SQUARES APPEAR & DISPPEAR *****/
		.sheet-hex-hider[value='8'] ~ input[type='radio']:nth-child(1n+19),
		.sheet-hex-hider[value='9'] ~ input[type='radio']:nth-child(1n+21),
		.sheet-hex-hider[value='10'] ~ input[type='radio']:nth-child(1n+24),
		.sheet-hex-hider[value='11'] ~ input[type='radio']:nth-child(1n+26),
		.sheet-hex-hider[value='12'] ~ input[type='radio']:nth-child(1n+28),
		.sheet-hex-hider[value='13'] ~ input[type='radio']:nth-child(1n+32),
		.sheet-hex-hider[value='14'] ~ input[type='radio']:nth-child(1n+34),
		.sheet-hex-hider[value='15'] ~ input[type='radio']:nth-child(1n+36),
		.sheet-hex-hider[value='16'] ~ input[type='radio']:nth-child(1n+38),
		.sheet-hex-hider[value='17'] ~ input[type='radio']:nth-child(1n+40),
		.sheet-hex-hider[value='18'] ~ input[type='radio']:nth-child(1n+42),
		.sheet-hex-hider[value='8'] ~ div:nth-child(1n+19),
		.sheet-hex-hider[value='9'] ~ div:nth-child(1n+24),
		.sheet-hex-hider[value='10'] ~ div:nth-child(1n+24),
		.sheet-hex-hider[value='11'] ~ div:nth-child(1n+24),
		.sheet-hex-hider[value='12'] ~ div:nth-child(1n+30),
		.sheet-hex-hider[value='13'] ~ div:nth-child(1n+30),
		.sheet-hex-hider[value='14'] ~ div:nth-child(1n+30),
		.sheet-hex-hider[value='15'] ~ div:nth-child(1n+38),
		.sheet-hex-hider[value='16'] ~ div:nth-child(1n+38),
		.sheet-hex-hider[value='17'] ~ div:nth-child(1n+38),
		.sheet-hex-hider[value='18'] ~ div:nth-child(1n+48) {
			display: none;}

		.sheet-hex-hider[value='8'] ~ input[type='radio']:nth-child(1n+19) + span,
		.sheet-hex-hider[value='9'] ~ input[type='radio']:nth-child(1n+21) + span,
		.sheet-hex-hider[value='10'] ~ input[type='radio']:nth-child(1n+24) + span,
		.sheet-hex-hider[value='11'] ~ input[type='radio']:nth-child(1n+26) + span,
		.sheet-hex-hider[value='12'] ~ input[type='radio']:nth-child(1n+28) + span,
		.sheet-hex-hider[value='13'] ~ input[type='radio']:nth-child(1n+32) + span,
		.sheet-hex-hider[value='14'] ~ input[type='radio']:nth-child(1n+34) + span,
		.sheet-hex-hider[value='15'] ~ input[type='radio']:nth-child(1n+36) + span,
		.sheet-hex-hider[value='16'] ~ input[type='radio']:nth-child(1n+38) + span,
		.sheet-hex-hider[value='17'] ~ input[type='radio']:nth-child(1n+40) + span,
		.sheet-hex-hider[value='18'] ~ input[type='radio']:nth-child(1n+42) + span {
			opacity: 0;}

/***** CONDITION MONITOR FOOTERS *****/
.sheet-con-footer {
	font-size : 0.8em;
	margin-top: 10px;

	label {
		margin-right: 5px;
		width       : auto;
	}

	input[type='number'] {
		border-bottom: 1px solid $blacker;
		border-radius: 0px;
		height       : 22px;
		margin-top   : -5px;
	}
}