include pug/mixins.pug
input(type="hidden" name="attr_theme" value="a")
input(type="hidden" name="attr_tiles_opacity" value="1")
.sheet
    input(type="hidden", name="attr_options_toggle" value="0")
    div(id="options")
        include pug/options.pug
    .header
        include pug/header.pug
    input(type='hidden', name='attr_tab', value="character")
    .character
        include pug/character.pug
    .bio
        include pug/path

|
|
include pug/rolltemplates.pug
|
|
script(type="text/worker")
    |    (function () {
    |    "use strict";
    include:uglify-es workers.js
    |    })();
|
