include ../layout/header.pug

.capacites
  h3 Capacités
  fieldset.repeating_capacites
    details.capacite
      summary
        +textInput('name')(placeholder='Capacité').capacite_name
      +textareaInput('description')(placeholder='Description').capacite_description

.contacts
  h3 Contacts
  +textareaInput('contacts').contacts

.materiel
  h3 Matériel
  +textareaInput('materiel').materiel
