include ../layout/header.pug

+textInput('character_name')
#statsBlock.row
  .col2
    .statLine
      span Niveau
      div
        +numberInput('niveau', 0)
    .statLine
      span Attaque
      div
        +rollButton('Attaque', attackRoll)
        +numberInput('attaque', 0)
    .statLine
      span Blessures max
      div
        +numberInput('blessures_max', 0)
  .col2
    .statLine
      span Anima
      div
        +rollButton('Anima', animaRoll)
        +numberInput('anima', 0)
    .statLine
      span Défense
      div
        +rollButton('Défense', defenseRoll)
        +numberInput('defense', 0)
    .statLine
      span Aegis
      div
        +numberInput('aegis', 0)

#hurtsBlock.row
  .col2.frame
    .frameTitle
      span Blessures
      +numberInput('blessures', 0)
    +textareaInput('blessuresDescription')
  .col2.frame
    .frameTitle
      span Souffrances
      +numberInput('souffrances', 0)
    +textareaInput('souffrancesDescription')

#equipmentBlock.row
  #weapons.col2.frame.rptFrame
    .frameTitle
      span Armes
      span(title="Portée") Pt
      span(title="Bonus attaque") Atq
      span
    fieldset.repeating_weapons
      +textInput('wpn_name')(placeholder='Arme')
      +textInput('wpn_range')(placeholder='Portée')
      +textInput('wpn_atk')(placeholder='Attaque')
      +rollButton('Arme', weaponRoll)

  #armours.col2.frame.rptFrame
    .frameTitle
      span Protections
      span(title="Bonus défense") Def
      span(title="Bonus Aegis") Aeg
      span
    fieldset.repeating_armours
      +textInput('arm_name')(placeholder='Protection')
      +numberInput('arm_def')(placeholder='+Défense')
      +numberInput('arm_aeg')(placeholder='+Aegis')
      +rollButton('Protection', armourRoll)

#bottomBlock.row
  #xp.col2
    .statLine
      span Expérience
      div
        +numberInput('xp', 0)
    .statLine
      span Jet libre
      div
        +rollButton('Libre', baseRoll)
  
  #heal.col2.frame.rptFrame
    .frameTitle
      span Soins
      span(title="Nombre") Nb
      span(title="Blessures\nÉcrire 'm-N' ou 'max - N' pour les Réveil") Bls
      span(title="Souffrance") Sfr
      span
    fieldset.repeating_heal
      +textInput("heal-name")(placeholder='Objet')
      +numberInput("healnb", 0)
      +textInput("heal-blessure")
      +numberInput("heal-souffrance")
      +actButton("heal")
