<div class="wrap-box relative mar-b-md mar-t-md">
  <div class="col-15 center vert-top pad-r-sm">
    <input class="action-name center" type="text" placeholder="name" name="attr_repeating_{{action_type}}actions_name">
  </div>
  <div class="col center vert-middle">
    <span class="en">
      <select name="attr_repeating_{{action_type}}actions_type">
        <option value="Melee">Melee</option>
        <option value="Ranged">Ranged</option>
        <option value="Thrown">Thrown</option>
        <option value="Area">Area</option>
        <option value="Cone">Cone</option>
        <option value="Line">Line</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_repeating_{{action_type}}actions_type">
        <option value="Melee">Melee</option>
        <option value="Ranged">Ranged</option>
        <option value="Thrown">Thrown</option>
        <option value="Area">Area</option>
        <option value="Cone">Cone</option>
        <option value="Line">Line</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_repeating_{{action_type}}actions_type">
        <option value="Melee">Mêlée</option>
        <option value="Ranged">Tir</option>
        <option value="Thrown">Lancé</option>
        <option value="Area">Zone</option>
        <option value="Cone">Cône</option>
        <option value="Line">Ligne</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_repeating_{{action_type}}actions_type">
        <option value="Melee">Ближнее</option>
        <option value="Ranged">Дальнее</option>
        <option value="Thrown">Метател</option>
        <option value="Area">Область</option>
        <option value="Cone">Конус</option>
        <option value="Line">Линия</option>
      </select>
    </span>

    <div class="small-label">Type</div>
  </div>
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_emote" value="{{emote=@{repeating_{{action_type}}actions_emote}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_attack"
         value="{{attack=[[d20cs>@{repeating_{{action_type}}actions_crit_range}@{d20_mod} + @{repeating_{{action_type}}actions_tohit} + (@{global_weapon_attack_bonus})]]}} {{attackadv=[[d20cs>@{repeating_{{action_type}}actions_crit_range}@{d20_mod} + @{repeating_{{action_type}}actions_tohit} + (@{global_weapon_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_details" value="{{target=@{repeating_{{action_type}}actions_target}}} {{reach=@{repeating_{{action_type}}actions_reach}}} {{range=@{repeating_{{action_type}}actions_range}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_reach" value="{{reach=@{repeating_{{action_type}}actions_reach}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_range" value="{{range=@{repeating_{{action_type}}actions_range}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_target" value="{{target=@{repeating_{{action_type}}actions_target}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_damage" value="{{action_damage=[[0d0 + @{repeating_{{action_type}}actions_dmg} + (@{global_weapon_damage_bonus})]]}} {{action_damage_type=@{repeating_{{action_type}}actions_dmg_type}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_second_damage" value="{{action_second_damage=[[0d0 + @{repeating_{{action_type}}actions_second_dmg} + (@{global_weapon_damage_bonus})]]}} {{action_second_damage_type=@{repeating_{{action_type}}actions_second_dmg_type}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_crit" value="{{action_crit_damage=[[0d0 + @{repeating_{{action_type}}actions_crit_dmg}]]}} {{action_second_crit_damage=[[0d0 + @{repeating_{{action_type}}actions_second_crit_dmg}]]}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_save" value="{{save_dc=[[@{repeating_{{action_type}}actions_save_dc}]]}} {{action_save_stat=@{repeating_{{action_type}}actions_save_stat}}} {{save_success=@{repeating_{{action_type}}actions_save_success}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_save_damage" value="{{save_damage=[[0d0 + @{repeating_{{action_type}}actions_save_dmg} + (@{global_weapon_damage_bonus})]]}} {{save_damage_type=@{repeating_{{action_type}}actions_save_dmg_type}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_effects" value="{{effects=@{repeating_{{action_type}}actions_effect}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_var_recharge" value="{{recharge=@{repeating_{{action_type}}actions_recharge}}}">

  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_emote" class="toggle-emote" value="@{repeating_{{action_type}}actions_var_emote}"><span class="toggle-emote"><span class="en">Emote</span><span class="de">Emote</span><span class="fr">Emote</span><span class="ru">Текст</span></span>
  <input type="hidden" name="attr_repeating_{{action_type}}actions_toggle_details" value="@{repeating_{{action_type}}actions_var_details}">
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_reach" class="toggle-reach" value="@{repeating_{{action_type}}actions_var_reach}"><span class="toggle-reach"><span class="en">Reach</span><span class="de">Reichw.</span><span class="fr">Allonge</span><span class="ru">Длина</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_range" class="toggle-range" value="@{repeating_{{action_type}}actions_var_range}"><span class="toggle-range"><span class="en">Range</span><span class="de">Reichweite</span><span class="fr">Portée</span><span class="ru">Дальность</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_target" class="toggle-target" value="@{repeating_{{action_type}}actions_var_target}"><span class="toggle-target"><span class="en">Target</span><span class="de">Target</span><span class="fr">Cible</span><span class="ru">Цель</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_attack" class="toggle-attack" value="@{repeating_{{action_type}}actions_var_attack}"><span class="toggle-attack"><span class="en">Attack</span><span class="de">Angriff</span><span class="fr">Attaque</span><span class="ru">Атака</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_damage" class="toggle-damage mar-t-md" value="@{repeating_{{action_type}}actions_var_damage}"><span class="toggle-damage mar-t-md"><span class="en">Dmg</span><span class="de">Scha</span><span class="fr">Dmg</span><span class="ru">Урон</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_second_damage" class="toggle-second-damage mar-t-lg" value="@{repeating_{{action_type}}actions_var_second_damage}"><span class="toggle-second-damage mar-t-lg"><span class="en">Secondary</span><span class="de">Secondary</span><span class="fr">Secondaire</span><span class="ru">Вторичное</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_crit" class="toggle-crit mar-t-lg" value="@{repeating_{{action_type}}actions_var_crit}" checked><span class="toggle-crit mar-t-lg"><span class="en">Crit</span><span class="de">Crit</span><span class="fr">Crit</span><span class="ru">Крит</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_save" class="toggle-save" value="@{repeating_{{action_type}}actions_var_save}"><span class="toggle-save"><span class="en">Save</span><span class="de">Rettung</span><span class="fr">Sauv</span><span class="ru">Спас</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_save_damage" class="toggle-sv-damage mar-t-md" value="@{repeating_{{action_type}}actions_var_save_damage}"><span class="toggle-sv-damage mar-t-md"><span class="en">Dmg</span><span class="de">Schad.</span><span class="fr">Dmg</span><span class="ru">Урон</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_effects" class="toggle-effects" value="@{repeating_{{action_type}}actions_var_effects}"><span class="toggle-effects"><span class="en">Effects</span><span class="de">Effekte</span><span class="fr">Effets</span><span class="ru">Эффекты</span></span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_toggle_recharge" class="toggle-recharge" value="@{repeating_{{action_type}}actions_var_recharge}"><span class="toggle-recharge"><span class="en">Recharge</span><span class="de">Recharge</span><span class="fr">Recharge</span><span class="ru">Перезарядка</span></span>

  <div class="shaped-row action-button-group right">
    <div class="col-25 toggle-recharge center pad-r-md">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_recharge">

      <div class="small-label">
        <span class="en">Recharge</span>
        <span class="de">Recharge</span>
        <span class="fr">Recharge</span>
        <span class="ru">Перезарядка</span>
      </div>
    </div>
    <div class="col center vert-middle">
      <button type="roll" name="roll_repeating_{{action_type}}actions_action"
              value="@{output_option} &{template:5eReshaped} {{action=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_{{action_type}}actions_name}}} {{action_type=@{repeating_{{action_type}}actions_type}}} @{repeating_{{action_type}}actions_toggle_emote} @{repeating_{{action_type}}actions_toggle_attack} @{repeating_{{action_type}}actions_toggle_crit} @{repeating_{{action_type}}actions_toggle_details} @{repeating_{{action_type}}actions_toggle_reach} @{repeating_{{action_type}}actions_toggle_range} @{repeating_{{action_type}}actions_toggle_target} @{repeating_{{action_type}}actions_toggle_damage} @{repeating_{{action_type}}actions_toggle_second_damage} @{repeating_{{action_type}}actions_toggle_save} @{repeating_{{action_type}}actions_toggle_save_damage} @{repeating_{{action_type}}actions_toggle_effects} @{repeating_{{action_type}}actions_toggle_recharge} @{hide_gm_info}">
        <span>{{action_name}}</span>
      </button>
    </div>
  </div>
  <div class="toggle-emote center mar-t-sm">
    <textarea class="xs-textarea" name="attr_repeating_{{action_type}}actions_emote"></textarea>

    <div class="small-label">
      <span class="en">Emote</span>
      <span class="de">Emote</span>
      <span class="fr">Emote</span>
      <span class="ru">Текст</span>
    </div>
  </div>
  <div class="shaped-row mar-t-sm">
    <div class="col-06 toggle-attack border-right center vert-top pad-r-sm">
      <input class="center" type="number" name="attr_repeating_{{action_type}}actions_tohit" value="0">

      <div class="small-label">
        <span class="en">To Hit</span>
        <span class="de">To Hit</span>
        <span class="fr">Toucher</span>
        <span class="ru">Касание</span>
      </div>
    </div>
    <div class="col-05 toggle-details toggle-reach border-right center vert-top pad-l-sm pad-r-sm">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_reach">

      <div class="small-label">
        <span class="en">Reach</span>
        <span class="de">Reichw.</span>
        <span class="fr">Allonge</span>
        <span class="ru">Длина</span>
      </div>
    </div>
    <div class="col-08 toggle-details toggle-range border-right center vert-top pad-l-sm pad-r-sm">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_range">

      <div class="small-label">
        <span class="en">Range</span>
        <span class="de">Reichweite</span>
        <span class="fr">Portée</span>
        <span class="ru">Дальность</span>
      </div>
    </div>
    <div class="col-10 toggle-details toggle-target border-right center vert-top pad-l-sm pad-r-sm">
      <textarea class="center xs-textarea" name="attr_repeating_{{action_type}}actions_target"></textarea>

      <div class="small-label">
        <span class="en">Target</span>
        <span class="de">Target</span>
        <span class="fr">Cible</span>
        <span class="ru">Цель</span>
      </div>
    </div>
    <div class="col-08 toggle-damage center vert-top pad-l-sm pad-r-md">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_dmg" value="0">

      <div class="small-label">
        <span class="en">Dmg</span>
        <span class="de">Scha.</span>
        <span class="fr">Dmg</span>
        <span class="ru">Урон</span>
      </div>
    </div>
    <div class="col-11 toggle-damage border-right center vert-top pad-r-sm">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_dmg_type">

      <div class="small-label">
        <span class="en">Dmg Type</span>
        <span class="de">Scha. Type</span>
        <span class="fr">Type Dmg</span>
        <span class="ru">Тип Урона</span>
      </div>
    </div>
    <div class="col-07 toggle-damage toggle-second-damage center vert-top pad-l-sm pad-r-md">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_second_dmg" value="0">

      <div class="small-label">
        <span class="en">Secondary<br>Dmg</span>
        <span class="de">Secondary<br>Scha.</span>
        <span class="fr">Dmg<br>Secondaire</span>
        <span class="ru">Урон<br>Вторичный</span>
      </div>
    </div>
    <div class="col-11 toggle-damage toggle-second-damage border-right center vert-top pad-r-sm">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_second_dmg_type">

      <div class="small-label">
        <span class="en">Secondary<br>Dmg Type</span>
        <span class="de">Secondary<br>Scha. Type</span>
        <span class="fr">Type Dmg<br>Secondaire</span>
        <span class="ru">Тип Урона<br>Вторичный</span>
      </div>
    </div>
    <div class="col-07 toggle-damage toggle-crit center vert-top pad-l-sm pad-r-md">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_crit_dmg" value="0">

      <div class="small-label">
        <span class="en">Crit Dmg</span>
        <span class="de">Crit Scha.</span>
        <span class="fr">Dmg Crit</span>
        <span class="ru">Крит Урон</span>
      </div>
    </div>
    <div class="col-07 toggle-damage toggle-crit toggle-second-damage center vert-top pad-r-md">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_second_crit_dmg" value="0">

      <div class="small-label">
        <span class="en">Secondary<br>Crit Dmg</span>
        <span class="de">Secondary<br>Crit Scha.</span>
        <span class="fr">Dmg Crit<br>Secondaire</span>
        <span class="ru">Крит Урон<br>Вторичный</span>
      </div>
    </div>
    <div class="col-05 toggle-damage toggle-crit center vert-top pad-r-sm">
      <input class="center" type="number" name="attr_repeating_{{action_type}}actions_crit_range" value="20" step="1" min="1" max="20">

      <div class="small-label">
        <span class="en">Crit Range</span>
        <span class="de">Crit Range</span>
        <span class="fr">Coup Crit</span>
        <span class="ru">Крит при</span>
      </div>
    </div>
  </div>
  <div class="shaped-row toggle-save mar-t-sm">
    <div class="col-06 center vert-top pad-r-md">
      <input class="center" type="number" name="attr_repeating_{{action_type}}actions_save_dc" value="0" min="0" step="1">

      <div class="small-label">
        <span class="en">Save DC</span>
        <span class="de">Rettung DC</span>
        <span class="fr">DD Sauv</span>
        <span class="ru">Спасбросок</span>
      </div>
    </div>
    <div class="col-07 center vert-top pad-r-md">
      <span class="en">
        <select name="attr_repeating_{{action_type}}actions_save_stat">
          <option value="Str">Str</option>
          <option value="Dex">Dex</option>
          <option value="Con">Con</option>
          <option value="Int">Int</option>
          <option value="Wis">Wis</option>
          <option value="Cha">Cha</option>
        </select>
      </span>
      <span class="de">
        <select name="attr_repeating_{{action_type}}actions_save_stat">
          <option value="Str">Stä</option>
          <option value="Dex">Ges</option>
          <option value="Con">Kon</option>
          <option value="Int">Int</option>
          <option value="Wis">Wei</option>
          <option value="Cha">Cha</option>
        </select>
      </span>
      <span class="fr">
        <select name="attr_repeating_{{action_type}}actions_save_stat">
          <option value="Str">For</option>
          <option value="Dex">Dex</option>
          <option value="Con">Con</option>
          <option value="Int">Int</option>
          <option value="Wis">Sag</option>
          <option value="Cha">Cha</option>
        </select>
      </span>
      <span class="ru">
        <select name="attr_repeating_{{action_type}}actions_save_stat">
          <option value="Str">Сил</option>
          <option value="Dex">Лов</option>
          <option value="Con">Тел</option>
          <option value="Int">Инт</option>
          <option value="Wis">Муд</option>
          <option value="Cha">Хар</option>
        </select>
      </span>

      <div class="small-label">
        <span class="en">Save Stat</span>
        <span class="de">Rettungsstatus</span>
        <span class="fr">Stat de Sauv</span>
        <span class="ru">Хар-ка Спасброска</span>
      </div>
    </div>
    <div class="col-08 toggle-sv-damage center vert-top pad-r-md">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_save_dmg" value="0">

      <div class="small-label">
        <span class="en">Save Dmg</span>
        <span class="de">Save Dmg</span>
        <span class="fr">Dmg Sauv</span>
        <span class="ru">СБ Урон</span>
      </div>
    </div>
    <div class="col-11 toggle-sv-damage center vert-top pad-r-md">
      <input class="center" type="text" name="attr_repeating_{{action_type}}actions_save_dmg_type">

      <div class="small-label">
        <span class="en">Save Dmg Type</span>
        <span class="de">Save Dmg Type</span>
        <span class="fr">Type Dmg Sauv</span>
        <span class="ru">Тип урона СБ</span>
      </div>
    </div>
    <div class="col-1-3 center vert-top">
      <textarea class="xs-textarea center" name="attr_repeating_{{action_type}}actions_save_success"></textarea>

      <div class="small-label">
        <span class="en">On a successful save</span>
        <span class="de">Bei erfolgreichen Rettungswurf</span>
        <span class="fr">En cas de sauvegarde réussie</span>
        <span class="ru">При успешном броске</span>
      </div>
    </div>
  </div>
  <div class="toggle-effects center mar-t-sm">
    <textarea class="small-textarea" name="attr_repeating_{{action_type}}actions_effect"></textarea>

    <div class="small-label">
      <span class="en">Effects</span>
      <span class="de">Effekte</span>
      <span class="fr">Effets</span>
      <span class="ru">Эффекты</span>
    </div>
  </div>
</div>
