<div class="sheet-wrap-box sheet-relative sheet-mar-b-md sheet-mar-t-md">
  <div class="sheet-col-15 sheet-center sheet-vert-top sheet-pad-r-sm">
    <input class="sheet-action-name sheet-center" type="text" placeholder="name" name="attr_repeating_{{action_type}}actions_{{num}}_name">
  </div>
  <div class="sheet-col sheet-center sheet-vert-middle">
    <select name="attr_repeating_{{action_type}}actions_{{num}}_type">
      <option value="Melee">Melee</option>
      <option value="Ranged">Ranged</option>
      <option value="Thrown">Thrown</option>
      <option value="Area">Area</option>
      <option value="Cone">Cone</option>
      <option value="Line">Line</option>
    </select>
    <div class="sheet-small-label">Type</div>
  </div>
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_emote" value="{{emote=@{repeating_{{action_type}}actions_{{num}}_emote}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_attack" value="{{attack=[[d20cs>@{repeating_{{action_type}}actions_{{num}}_crit_range} + @{repeating_{{action_type}}actions_{{num}}_tohit} + (@{global_weapon_attack_bonus})]]}} {{attackadv=[[d20cs>@{repeating_{{action_type}}actions_{{num}}_crit_range} + @{repeating_{{action_type}}actions_{{num}}_tohit} + (@{global_weapon_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_details" value="{{target=@{repeating_{{action_type}}actions_{{num}}_target}}} {{reach=@{repeating_{{action_type}}actions_{{num}}_reach}}} {{range=@{repeating_{{action_type}}actions_{{num}}_range}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_reach" value="{{reach=@{repeating_{{action_type}}actions_{{num}}_reach}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_range" value="{{range=@{repeating_{{action_type}}actions_{{num}}_range}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_target" value="{{target=@{repeating_{{action_type}}actions_{{num}}_target}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_damage" value="{{action_damage=[[0d0 + @{repeating_{{action_type}}actions_{{num}}_dmg} + (@{global_weapon_damage_bonus})]]}} {{action_damage_type=@{repeating_{{action_type}}actions_{{num}}_dmg_type}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_alt_damage" value="{{action_alt_damage=[[0d0 + @{repeating_{{action_type}}actions_{{num}}_alt_dmg} + (@{global_weapon_damage_bonus})]]}} {{action_alt_damage_reason=@{repeating_{{action_type}}actions_{{num}}_alt_dmg_reason}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_second_damage" value="{{action_second_damage=[[0d0 + @{repeating_{{action_type}}actions_{{num}}_second_dmg} + (@{global_weapon_damage_bonus})]]}} {{action_second_damage_type=@{repeating_{{action_type}}actions_{{num}}_second_dmg_type}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_crit" value="{{can_crit=1}} {{action_crit_damage=[[0d0 + @{repeating_{{action_type}}actions_{{num}}_crit_dmg}]]}} {{action_alt_crit_damage=[[0d0 + @{repeating_{{action_type}}actions_{{num}}_alt_crit_dmg}]]}} {{action_second_crit_damage=[[0d0 + @{repeating_{{action_type}}actions_{{num}}_second_crit_dmg}]]}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_save" value="{{save_dc=[[@{repeating_{{action_type}}actions_{{num}}_save_dc}]]}} {{action_save_stat=@{repeating_{{action_type}}actions_{{num}}_save_stat}}} {{save_success=@{repeating_{{action_type}}actions_{{num}}_save_success}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_save_damage" value="{{save_damage=[[0d0 + @{repeating_{{action_type}}actions_{{num}}_save_dmg} + (@{global_weapon_damage_bonus})]]}} {{save_damage_type=@{repeating_{{action_type}}actions_{{num}}_save_dmg_type}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_effects" value="{{effects=@{repeating_{{action_type}}actions_{{num}}_effect}}}">
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_var_recharge" value="{{recharge=@{repeating_{{action_type}}actions_{{num}}_recharge}}}">

  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_emote" class="sheet-toggle-emote" value="@{repeating_{{action_type}}actions_{{num}}_var_emote}"><span class="sheet-toggle-emote">Emote</span>
  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_details" value="@{repeating_{{action_type}}actions_{{num}}_var_details}">
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_reach" class="sheet-toggle-reach" value="@{repeating_{{action_type}}actions_{{num}}_var_reach}"><span class="sheet-toggle-reach">Reach</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_range" class="sheet-toggle-range" value="@{repeating_{{action_type}}actions_{{num}}_var_range}"><span class="sheet-toggle-range">Range</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_target" class="sheet-toggle-target" value="@{repeating_{{action_type}}actions_{{num}}_var_target}"><span class="sheet-toggle-target">Target</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_attack" class="sheet-toggle-attack" value="@{repeating_{{action_type}}actions_{{num}}_var_attack}"><span class="sheet-toggle-attack">Attack</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_damage" class="sheet-toggle-damage sheet-mar-t-md" value="@{repeating_{{action_type}}actions_{{num}}_var_damage}"><span class="sheet-toggle-damage sheet-mar-t-md">Dmg</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_alt_damage" class="sheet-toggle-alt-damage sheet-mar-t-lg" value="@{repeating_{{action_type}}actions_{{num}}_var_alt_damage}"><span class="sheet-toggle-alt-damage sheet-mar-t-lg">Alt</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_second_damage" class="sheet-toggle-second-damage sheet-mar-t-lg" value="@{repeating_{{action_type}}actions_{{num}}_var_second_damage}"><span class="sheet-toggle-second-damage sheet-mar-t-lg">Secondary</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_crit" class="sheet-toggle-crit sheet-mar-t-lg" value="@{repeating_{{action_type}}actions_{{num}}_var_crit}" checked><span class="sheet-toggle-crit sheet-mar-t-lg">Crit</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_save" class="sheet-toggle-save" value="@{repeating_{{action_type}}actions_{{num}}_var_save}"><span class="sheet-toggle-save">Save</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_save_damage" class="sheet-toggle-sv-damage sheet-mar-t-md" value="@{repeating_{{action_type}}actions_{{num}}_var_save_damage}"><span class="sheet-toggle-sv-damage sheet-mar-t-md">Dmg</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_effects" class="sheet-toggle-effects" value="@{repeating_{{action_type}}actions_{{num}}_var_effects}"><span class="sheet-toggle-effects">Effects</span>
  <input type="checkbox" name="attr_repeating_{{action_type}}actions_{{num}}_toggle_recharge" class="sheet-toggle-recharge" value="@{repeating_{{action_type}}actions_{{num}}_var_recharge}"><span class="sheet-toggle-recharge">Recharge</span>

  <input type="hidden" name="attr_repeating_{{action_type}}actions_{{num}}_macro_options" value="@{repeating_{{action_type}}actions_{{num}}_toggle_emote} @{repeating_{{action_type}}actions_{{num}}_toggle_attack} @{repeating_{{action_type}}actions_{{num}}_toggle_crit} @{repeating_{{action_type}}actions_{{num}}_toggle_details} @{repeating_{{action_type}}actions_{{num}}_toggle_reach} @{repeating_{{action_type}}actions_{{num}}_toggle_range} @{repeating_{{action_type}}actions_{{num}}_toggle_target} @{repeating_{{action_type}}actions_{{num}}_toggle_damage} @{repeating_{{action_type}}actions_{{num}}_toggle_alt_damage} @{repeating_{{action_type}}actions_{{num}}_toggle_second_damage} @{repeating_{{action_type}}actions_{{num}}_toggle_save} @{repeating_{{action_type}}actions_{{num}}_toggle_save_damage} @{repeating_{{action_type}}actions_{{num}}_toggle_effects} @{repeating_{{action_type}}actions_{{num}}_toggle_recharge} @{hide_gm_info}">

  <div class="sheet-shaped-row sheet-action-button-group sheet-right">
    <div class="sheet-col-25 sheet-toggle-recharge sheet-center sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_recharge">
      <div class="sheet-small-label">Recharge</div>
    </div>
    <div class="sheet-col sheet-center sheet-vert-middle">
      <button type="roll" name="roll_repeating_{{action_type}}actions_{{num}}_action" value="@{output_option} &{template:5eDefault} {{action=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_{{action_type}}actions_{{num}}_name}}} {{action_type=@{repeating_{{action_type}}actions_{{num}}_type}}} @{repeating_{{action_type}}actions_{{num}}_macro_options}">
        <span>{{action_name}}</span>
      </button>
    </div>
  </div>
  <div class="sheet-toggle-emote sheet-center sheet-mar-t-sm">
    <textarea class="sheet-xs-textarea" name="attr_repeating_{{action_type}}actions_{{num}}_emote"></textarea>
    <div class="sheet-small-label">Emote</div>
  </div>
  <div class="sheet-shaped-row sheet-mar-t-sm">
    <div class="sheet-col-06 sheet-toggle-attack sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_{{action_type}}actions_{{num}}_tohit" value="0">
      <div class="sheet-small-label">To Hit</div>
    </div>
    <div class="sheet-col-05 sheet-toggle-details sheet-toggle-reach sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_reach">
      <div class="sheet-small-label">Reach</div>
    </div>
    <div class="sheet-col-08 sheet-toggle-details sheet-toggle-range sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_range">
      <div class="sheet-small-label">
        <span class="sheet-en">Range</span>
        <span class="sheet-de">Reichweite</span>
      </div>
    </div>
    <div class="sheet-col-10 sheet-toggle-details sheet-toggle-target sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <textarea class="sheet-center sheet-xs-textarea" name="attr_repeating_{{action_type}}actions_{{num}}_target"></textarea>
      <div class="sheet-small-label">Target</div>
    </div>
    <div class="sheet-col-08 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_dmg" value="0">
      <div class="sheet-small-label">Dmg</div>
    </div>
    <div class="sheet-col-11 sheet-toggle-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_dmg_type">
      <div class="sheet-small-label">Dmg Type</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-alt-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_alt_dmg" value="0">
      <div class="sheet-small-label">Alt Dmg</div>
    </div>
    <div class="sheet-col-16 sheet-toggle-damage sheet-toggle-alt-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <textarea class="sheet-xs-textarea sheet-center" name="attr_repeating_{{action_type}}actions_{{num}}_alt_dmg_reason"></textarea>
      <div class="sheet-small-label">Alt Dmg Reason</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_second_dmg" value="0">
      <div class="sheet-small-label">Secondary<br>Dmg</div>
    </div>
    <div class="sheet-col-11 sheet-toggle-damage sheet-toggle-second-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_second_dmg_type">
      <div class="sheet-small-label">Secondary<br>Dmg Type</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-crit sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_crit_dmg" value="0">
      <div class="sheet-small-label">Crit Dmg</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-crit sheet-toggle-alt-damage sheet-center sheet-vert-top sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_alt_crit_dmg" value="0">
      <div class="sheet-small-label">Alt Crit Dmg</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-crit sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_second_crit_dmg" value="0">
      <div class="sheet-small-label">Secondary<br>Crit Dmg</div>
    </div>
    <div class="sheet-col-05 sheet-toggle-damage sheet-toggle-crit sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_{{action_type}}actions_{{num}}_crit_range" value="20" step="1" min="1" max="20">
      <div class="sheet-small-label">Crit Range</div>
    </div>
  </div>
  <div class="sheet-shaped-row sheet-toggle-save sheet-mar-t-sm">
    <div class="sheet-col-06 sheet-center sheet-vert-top sheet-pad-r-md">
      <input class="sheet-center" type="number" name="attr_repeating_{{action_type}}actions_{{num}}_save_dc" value="0" min="0" step="1">
      <div class="sheet-small-label">
        <span class="sheet-en">Save DC</span>
        <span class="sheet-de">Rettung DC</span>
      </div>
    </div>
    <div class="sheet-col-07 sheet-center sheet-vert-top sheet-pad-r-md">
      <select name="attr_repeating_{{action_type}}actions_{{num}}_save_stat">
        <option value="Str">Str</option>
        <option value="Dex">Dex</option>
        <option value="Con">Con</option>
        <option value="Int">Int</option>
        <option value="Wis">Wis</option>
        <option value="Cha">Cha</option>
      </select>
      <div class="sheet-small-label">
        <span class="sheet-en">Save Stat</span>
        <span class="sheet-de">Rettungsstatus</span>
      </div>
    </div>
    <div class="sheet-col-08 sheet-toggle-sv-damage sheet-center sheet-vert-top sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_save_dmg" value="0">
      <div class="sheet-small-label">Save Dmg</div>
    </div>
    <div class="sheet-col-11 sheet-toggle-sv-damage sheet-center sheet-vert-top sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_{{action_type}}actions_{{num}}_save_dmg_type">
      <div class="sheet-small-label">Save Dmg Type</div>
    </div>
    <div class="sheet-col-1-3 sheet-center sheet-vert-top">
      <textarea class="sheet-xs-textarea sheet-center" name="attr_repeating_{{action_type}}actions_{{num}}_save_success"></textarea>
      <div class="sheet-small-label">
        <span class="sheet-en">On a successful save</span>
        <span class="sheet-de">Bei erfolgreichen Rettungswurf</span>
      </div>
    </div>
  </div>
  <div class="sheet-toggle-effects sheet-center sheet-mar-t-sm">
    <textarea class="sheet-small-textarea" name="attr_repeating_{{action_type}}actions_{{num}}_effect"></textarea>
    <div class="sheet-small-label">
      <span class="sheet-en">Effects</span>
      <span class="sheet-de">Effekte</span>
    </div>
  </div>
</div>
