@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.charsheet {
  height: 100%;
  background-image: url(https://www.spirito.fr/DL/RP/subversion/textureconcrete2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sheet-fieldsetcontainer {
  width: 100%;
  display: grid;
}

.sheet-maincontainer {
  display: grid;
  grid-template-columns: 100%;
  gap: 50px;
  width: 100%;
}

.sheet-social-category {
  border: 2px solid #e175ab;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 10px 0px 10px;
}

.sheet-abilities-category {
  border: 2px solid #efdb00;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 10px 0px 10px;
}

.sheet-gear-category {
  border: 2px solid #535e79;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 10px 0px 10px;
}

.sheet-first-category {
  display: grid;
  grid-template-columns: 30% 20% 40%;
  width: 100%;
  justify-content: space-between;
}

.sheet-second-category {
  display: grid;
  grid-template-columns: repeat(6, 10%);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sheet-defensebloc {
  display: grid;
  align-items: center;
  width: calc(100% - 10px);
  height: 100%;
  color: #313d58;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
}

.sheet-defensebloc input {
  background-color: rgb(255, 255, 255, 1);
  color: #313d58;
  text-align: center;
  font-size: 24px;
  border: none;
  font-family: "Aclonica";
}

.sheet-defensebloc input[disabled] {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  font-size: 24px;
  border: none;
  font-family: "Aclonica";
}

.sheet-defensebloc h1 {
  font-family: "Aclonica";
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid white;
}

.sheet-color-blue {
  background-color: #4a6c91;
}

.sheet-color-yellow {
  background-color: #4a4948;
}

.sheet-color-grey {
  background-color: #c38400;
}

.sheet-third-category {
  display: grid;
  grid-template-columns: 36% 60%;
  width: 100%;
  justify-content: space-between;
}

.sheet-textalignleft {
  text-align: left !important;
}

.sheet-textalignright {
  text-align: right !important;
}

.sheet-dulledreliablel-legend {
  position: relative;
  width: 100%;
  display: inline-block;
}

.sheet-dulledreliablel-legend .main-input {
  width: 78%;
  height: 100% !important;
  text-align: center;
}

.sheet-dulledreliablel-legend .top-right-input {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 49% !important;
  border: none;
  text-align: center;
}

.sheet-debt-specialrow {
  display: grid;
  grid-template-columns: 90% 5%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.sheet-debt-specialrow span {
  color: #313d58 !important;
}

.sheet-fortune-specialrow {
  display: grid;
  grid-template-columns: 60% 15% 1% 15%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sheet-prononous-specialrow {
  display: grid;
  grid-template-columns: 65% 30%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sheet-defensebloc .sheet-defensebloc-intodaroll {
  position: relative;
  width: 100%;
  display: inline-block;
}

.sheet-defensebloc .sheet-defensebloc-intodaroll button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100% !important;
  text-align: center;
  opacity: 0;
  z-index: 2;
  padding: 0 !important;
  margin: 0 !important;
}

.sheet-dulledreliablel-legend .bottom-left-input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 48% !important;
  border: none;
  text-align: center;
}

.sheet-dulledreliablel-legend .overlay-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 61%;
  height: 81% !important;
  text-align: center;
  opacity: 0;
  z-index: 2;
}

.sheet-skills-section {
  display: grid;
  grid-template-columns: 100%;
  width: calc(100% - 10px);
  justify-content: space-between;
  gap: 5px;
  background-color: #ccb388;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sheet-skills-section-individual {
  display: grid;
  grid-template-columns: 26% 13% 11% 11% 11% 17%;
  width: calc(100% - 8px);
  height: 28px;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.75);
  padding: 4px;
}

.sheet-skills-section-individual h4 {
  text-align: right;
}

.sheet-skills-section-individual-title {
  background: transparent;
}

.sheet-skills-section-individual-title h4 {
  color: white;
  text-align: center;
}

.sheet-skills-section-individual input {
  text-align: center;
}

.sheet-abilities-section h2,
.sheet-gear-section h2,
.sheet-social-section h2 {
  font-size: 14px;
  font-family: "Aclonica";
  line-height: 14px;
}

.sheet-abilities-section input,
.sheet-gear-section input,
.sheet-social-section input {
  background-color: white;
  height: 18px;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.sheet-textaligncenter {
  text-align: center !important;
}

.repcontainer {
  gap: 5px;
  display: grid;
  margin-top: 0px;
  margin-bottom: 15px;
}

.sheet-abilities-section .sheet-loupe-container span,
.sheet-gear-section .sheet-loupe-container span,
.sheet-social-section .sheet-loupe-container span {
  color: grey;
}

.sheet-abilities-section,
.sheet-gear-section {
  display: grid;
  grid-template-columns: 35% 8% 2% 50%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.sheet-margin-15 {
  margin-bottom: 15px;
}

.sheet-social-section {
  display: grid;
  grid-template-columns: 20% 15% 20% 5% 5% 2% 25%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.sheet-condition-section {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}

.sheet-condition-blocccontainer {
  background-color: #a06677;
  border-radius: 5px;
  padding-bottom: 5px;
}

.sheet-condition-text {
  display: grid;
  grid-template-columns: 40% 5% 40%;
  width: 100%;
  justify-content: center;
}

.sheet-condition-text input {
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  font-size: 18px;
}

.sheet-condition-text h1 {
  color: white;
}

.sheet-condition-title {
  display: grid;
  align-items: center;
  width: 100%;
  height: fit-content;
  font-family: "Aclonica";
  color: white;
  font-weight: normal;
  font-size: 18px;
  overflow: hidden;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid white;
}

.sheet-consequences-section {
  display: grid;
  grid-template-columns: repeat(5, 13%);
  width: 60%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.sheet-consequences-subsection {
  width: 100%;
  grid-template-columns: 100%;
  background-color: #a06677;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  height: fit-content;
}

.sheet-skills-section-individual input[disabled] {
  background-color: #ccb8934f !important;
  border: 1px solid #ccb893 !important;
}

input[disabled] {
  opacity: 0.75;
}

.sheet-impulse {
  margin: 0;
}

.sheet-consequences-section input {
  max-height: 30px;
  height: 30px !important;
}

.sheet-secondsection-column1 {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-content: space-between;
}

.sheet-column1,
.sheet-column2,
.sheet-column3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.sheet-column2-sub {
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.sheet-column1 input,
.sheet-column1 textarea {
  background-color: white;
  border-bottom: 2px dotted #323d57;
}

.sheet-skills-section input,
.sheet-skills-section select {
  border: 1px solid #ccb893;
  background-color: transparent;
  border-bottom: 2px dotted #ccb893;
  font-family: "Questrial";
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sheet-skills-section select {
  background-color: #ccb8934f !important;
  border: 1px solid #ccb893 !important;
  text-align: center;
}

.sheet-column2 input {
  border: 2px solid #efdb00;
  background-color: white;
  border-bottom: 2px dotted #efdb00;
  padding: 0;
  margin: 0;
  height: fit-content;
  height: calc(100% - -4px) !important;
  text-align: center;
  font-family: Aclonica;
  font-size: 40px;
  color: #313d58;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sheet-onebloc {
  display: grid;
  width: 100%;
  grid-template-columns: 50%;
  justify-content: center;
}

.sheet-onebloc input {
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: 100% !important;
  text-align: center;
  font-family: Aclonica;
  font-size: 40px;
  color: #313d58;
  border-color: transparent;
}

.sheet-statistics {
  display: grid;
  grid-template-rows: 30% 65%;
  width: 100%;
  text-align: center;
  align-items: center;
}

.sheet-values-div {
  width: 100%;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.sheet-values-div input {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: calc(100% + 2px) !important;
  background-color: white;
  border-bottom: 2px dotted #e175ab;
  padding: 4px;
  height: 29px !important;
}

.repcontainer input {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: calc(100% + 2px) !important;
  background-color: white;
  padding: 4px;
}

.sheet-thirdsection input,
.sheet-social-category input,
.sheet-social-category textarea {
  border-bottom: 2px dotted #e175ab;
}

.sheet-abilities-category input,
.sheet-abilities-category textarea {
  border-bottom: 2px dotted #efdb00;
}

.sheet-gear-category input,
.sheet-gear-category textarea {
  border-bottom: 2px dotted #535e79;
}

.sheet-values {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #e175ab;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px 1px 0px 1px;
}

.sheet-thirdsection {
  display: grid;
  grid-template-columns: 25% 70%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: -25px;
}

.sheet-thirdsection textarea {
  margin: 0;
  padding: 0;
}

.sheet-rollDR {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  width: 100%;
  justify-content: space-between;
}

.sheet-top {
  display: grid;
  grid-template-columns: 90% 5%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #efdb00;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px 1px 0px 1px;
}

.sheet-impulse textarea {
  background-color: white;
  border-bottom: 2px dotted #efdb00;
  height: 100px;
}

.sheet-top h1 {
  text-align: left;
  background-color: #efdb00;
  font-family: "Aclonica";
  color: #313d58;
  font-size: 14px;
  font-weight: normal;
}

.sheet-fieldsetcontainer .sheet-values-title {
  display: grid;
  align-items: center;
  width: 100%;
  height: 28px;
  font-family: "Aclonica";
  color: white;
  font-size: 25px;
  overflow: hidden;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0px;
  text-transform: uppercase;
}

.sheet-consequences-subsection .sheet-values-title {
  display: grid;
  align-items: center;
  width: 100%;
  height: 20px;
  font-family: "Aclonica";
  color: white;
  font-size: 18px;
  overflow: hidden;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0px;
  text-transform: uppercase;
}

.sheet-consequences-subsection .sheet-values-title2 {
  display: grid;
  align-items: center;
  width: 100%;
  height: 16px;
  font-family: "Questrial";
  color: white;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 0px;
  text-transform: uppercase;
}

.sheet-bg-red {
  background-color: #a06677;
}

.sheet-bg-pink {
  background-color: #e175ab;
}

.sheet-bg-yellow {
  background-color: #efdb00;
  color: #313d58 !important;
}

.sheet-bg-grey {
  background-color: #535e79;
}

.sheet-bg-brown {
  background-color: #ccb388;
}

.sheet-values-title {
  display: grid;
  align-items: center;
  width: 100%;
  font-family: "Aclonica";
  color: white;
  font-size: 14px;
  overflow: hidden;
  text-align: left;
  height: 28px;
}

.sheet-statistics-title {
  display: grid;
  align-items: center;
  background-color: #efdb00;
  width: 100%;
  height: fit-content;
  font-family: "Aclonica";
  color: #313d58;
  font-weight: bold;
  font-size: 22px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0;
  margin: 0;
}

.sheet-impulse-section {
  display: grid;
  height: fit-content;
  gap: 10px;
}

.sheet-column3 textarea {
  background-color: transparent;
  border-bottom: 2px dotted #e175ab;
}

.charsheet label,
input,
button,
select,
textarea {
  font-weight: normal;
  line-height: 18px;
  font-family: "Questrial";
  font-size: 14px;
}

.charsheet textarea {
  width: 100% !important;
  background-color: white;
  height: 100px;
  padding: 0;
  margin: 0;
}

.charsheet input {
  width: 100%;
}

.sheet-hidden {
  display: none !important;
}

.charsheet h1 {
  font-size: 14px;
  line-height: 14px;
  display: grid;
  align-items: center;
}

.charsheet h4 {
  font-size: 10px;
  line-height: 10px;
  display: grid;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.sheet-loupe-container {
  position: relative;
  width: 100%;
  height: 28px;
}

.sheet-loupe-container input {
  position: relative;
  width: 100%;
  height: 100% !important;
  opacity: 0;
  z-index: 2;
}

.sheet-loupe-container span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

.sheet-loupe-container input:checked + span {
  color: #313d58;
}

.sheet-loupe-icon {
  font-family: "Pictos";
}

.sheet-abilities-category {
  margin-bottom: -30px;
}

.sheet-loupe-name:not(:checked) ~ .sheet-name-loupe,
.sheet-loupe-triggers:not(:checked) ~ .sheet-triggers-loupe,
.sheet-loupe-downtime:not(:checked) ~ .sheet-downtime-loupe {
  height: 75px !important;
}

.sheet-loupe-langages:not(:checked) ~ .sheet-langages-loupe,
.sheet-loupe-dramatichooks:not(:checked) ~ .sheet-dramatichooks-loupe {
  height: 50px !important;
}

.sheet-loupe-debt:not(:checked) ~ .sheet-debt-loupe {
  height: 26px !important;
}

.sheet-loupe-social:not(:checked) ~ .sheet-social-loupe,
.sheet-loupe-gear:not(:checked) ~ .sheet-gear-loupe,
.sheet-loupe-effect:not(:checked) ~ .sheet-effect-loupe {
  height: 26px !important;
  margin: 0;
}

.charsheet .repcontainer .repitem .itemcontrol .repcontrol_del {
  height: 100%;
  width: 49%;
  opacity: 0.75;
  background: linear-gradient(to top, #bd362f, #ee5f5b);
  color: white;
  align-items: center;
  display: grid;
  padding: 0;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
}

.charsheet .repcontainer .repitem .itemcontrol .repcontrol_move {
  height: 100%;
  width: 49%;
  opacity: 0.75;
  background: linear-gradient(
    to top,
    rgba(255, 165, 0, 1) 50%,
    rgba(255, 203, 107, 1) 100%
  );
  color: white;
  align-items: center;
  display: grid;
  cursor: move;
  padding: 0;
  border: 1px solid rgba(255, 165, 1);
}

.repcontrol_move:hover {
  background-color: #d98c00 !important;
}

/*** REPEATING SECTIONS ***/
.repcontrol {
  width: 100%;
  position: relative;
  z-index: 99;
}

.repcontrol_add,
.repcontrol_edit,
.repcontrol_move,
.repcontrol_del {
  opacity: 0.6;
  border: 0;
}

.repcontrol_add:hover,
.repcontrol_edit:hover,
.repcontrol_move:hover,
.repcontrol_del:hover {
  outline: none;
  opacity: 1;
}

.repcontrol_add:focus,
.repcontrol_edit:focus,
.repcontrol_move:focus,
.repcontrol_del:focus {
  outline: none;
}

.repcontrol_move {
  height: 11px;
  margin-top: 2px;
  line-height: 11px;
}

.repcontrol_del {
  width: 30px;
  height: 22px;
  margin-top: 2px;
  line-height: 12px;
  font-family: "Pictos" !important;
}

.repcontrol_add,
.repcontrol_edit {
  width: 80px;
  border-color: transparent;
  text-shadow: none;
  color: transparent;
  background: transparent;
  box-shadow: none;
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_edit {
  width: 80px;
  border-color: transparent;
  text-shadow: none;
  color: transparent;
  background: transparent;
  box-shadow: none;
}

.charsheet .repcontrol_add:focus-visible,
.charsheet .repcontrol_edit:focus-visible {
  border: none !important;
}

.repcontrol_add:before {
  content: "+";
  visibility: visible;
  width: 18px;
  height: 18px;
  padding: 2px 0 0 0;
  border: none;
  font-family: pictos;
  font-size: 18px;
  color: #555;
}

.repcontrol_edit:after {
  content: "y";
  visibility: visible;
  width: 18px;
  height: 18px;
  padding: 2px 0 0 0;
  border: none;
  font-family: pictos;
  font-size: 18px;
  color: #555;
}

.sheet-darkmode .repcontrol_edit:after {
  content: "y";
  visibility: visible;
  width: 18px;
  height: 18px;
  padding: 2px 0 0 0;
  border: none;
  font-family: pictos;
  font-size: 18px;
  color: #555;
}

.editmode ~ .repcontrol .repcontrol_edit:after {
  content: "2";
}

.sheet-separator-text {
  color: #555;
  opacity: 0.75;
  font-weight: 500;
  position: relative;
  display: grid;
  margin: 0 0 0 0;
  text-align: center;
  width: 100%;
  z-index: 2;
  top: -30px;
  padding-top: 6px;
  font-family: Questrial;
  text-transform: uppercase;
  border-top: 1px solid rgb(0, 0, 0, 0.25);
}
