// COLORS
//  ============================= *
    $primary: #226aae;
    $secondary  : #ffd7001f;
    $light  : #fefcea;
    $dark    : hsl(0, 6%, 0%);
    $dark-font: #000;
    $gray     : #4c4c4c;
    $transparentGray: hsla(0, 0%, 30%, 0.0784313725490196);
    $white    : hsl(0, 0%, 96%);
    $transparentWhite: #f5f5f57a;
    $gold: #ffd70066;

    $box-shadow: 2px 2px 3px 1px #4c4c4c;


/* Mixins
    ============================= */
    @import './src/scss/abstracts/mixins';

/* GLOBALS
    ============================= */
@import url('https://fonts.googleapis.com/css?family=El+Messiri:wght@500&display=swap');
@import './src/scss/base/globals';

    
/* GRID
   ============================= */ 
    div.sheet-grid {
        display: inline-grid;
        grid-column-gap: 1%;
        grid-row-gap: 0.5%;
    }

    %gridRowCol {
        display: inline-grid;
        overflow: hidden;
        grid-auto-rows: min-content;
        grid-column-gap: 1%;
    }

/* GENERIC CLASSES
    ============================= */
    @import './src/scss/base/generic';


/* STYLED CHECKBOXES
    ============================= */
    @import './src/scss/components/checkboxes';
    
/* TABS
    ============================= */
    @import './src/scss/tabs';

/* PC
    ============================= */
    @import './src/scss/pages/character.scss';

/*  ENTOURAGE
    ============================= */
    @import './src/scss/pages/entourage.scss';

/*  HOLDINGS
    ============================= */
    @import './src/scss/pages/holdings.scss';


/*  GAMEMASTER FEAST RECORD
    ============================= */
    @import './src/scss/pages/feast.scss';

/*  SETTINGS
    ============================= */
    @import './src/scss/pages/settings';

/*  FOOTER
    ============================= */
    @import './src/scss/footer';

/*  SHOW & HIDE SHEETS
    ============================= */
    @import './src/scss/layout/show_hide.scss';

/*  SWITCH
    ============================= */
    @import './src/scss/components/switch';


/* ROLL TEMPLATE STYLE
----------------------------- */
    @import './src/scss/vendor/rolltemplate';

/* REPEATING SECTIONS
----------------------------- */
div.sheet-repeating-container {
    margin-top: 2%;
}

.itemcontrol .repcontrol_del {
  background-color: darkred;
  font-family: "pictos";
}

.repitem:nth-of-type(even) {
    background-color: $transparentGray;
}