mixin listGroup(title_i18n)
  section.list-group
    h3.i18n-text(data-i18n=title_i18n).list-group-title=translation[title_i18n]
    ul
      block

mixin listGroupItem()
  li.list-group-item
    block