/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Rakkas|Merriweather|Chonburi|Rye|Abril Fatface|Satisfy&display=swap');

  .sheet-clearfloat { 
	clear:both;
	height:0;
	font-size: 0px;
	line-height:0px;
}	
.sheet-espaicap{
	float: none;
	position: relative;
	width: 100%;
	height: 10px;
	margin: 0px auto;
	}
.sheet-espai{
	float: none;
	position: relative;
	width: 100%;
	height: 40px;
	margin: 0px auto;
	}
.sheet-espai100{
	float: left;
	position: relative;
	width: 100%;
	height: 100px;
	margin: 0px auto;
	}
.sheet-separador{
	float: left;
	position: relative;
	width: 100%;
	height: 30px;
	margin: 10px auto;
	border-bottom-color: solid medium;
	}
.sheet-espaipeu{
	float: none;
	position: relative;
	width: 80%;
	height: auto;
	margin: 0px auto;
	padding:30px 10% 10px;
	text-align:center;
	font-size: 14px;
	font-family:"Sonsie One", Arial, Helvetica, Georgia; 
	}	
 
  /* LINKS CSS */
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #FF0004;
	text-decoration: none;
}
a:active {
	color: #CCC;
	text-decoration: none;
} 
   /* END LINKS CSS */
 
.sheet-espaitop{
	float: none;
	position: relative;
	width: 100%;
	height: 0px;
	margin: 30px auto;
	}	
.sheet-espaitop2{
	float: none;
	position: relative;
	width: 100%;
	height: 0px;
	margin: 10px auto;
	}	

.sheet-contenedorMO{
	float:none;
	position:relative; 
	width:98%;
	height:auto;
	margin: 0px auto;
	padding: 1%;
	border: solid medium double ;
	border-color: #000000;	
	overflow:hidden;
	}

.sheet-cap{
	float: left;
	position: relative;
	width: 1000px;
	height: auto;
	min-height: 100px;
	margin: 0px auto;
	text-align: center;
	background-color:#FFF;
	background-image:url(../images/xxx.jpg);
	background-repeat:no-repeat;
	background-position: left top;
	}

.sheet-capintern{
	float: none;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0px auto;
	
	}	

.sheet-logo{
	float: left;
	position: relative;
	width:200px;
	height: auto;
	margin: 0px auto;
	}

.sheet-logo img{
	float: none;
	position: relative;
	width: 100%;
	max-width:600px;
	height: auto;
	margin: 0px auto;
	}
.sheet-col_superviviente{
	float: left;
	position: relative;
	width:480px;
	height: auto;
	margin: 0px auto;
	}

.sheet-superviviente{
	float: left;
	position: relative;
	width:480px;
	height: 30px;
	margin: 0px auto;
	}
.sheet-superviviente1{
	float: left;
	position: relative;
	width:50%;
	height: 30px;
	margin: 0px auto;
	}
.sheet-superviviente2{
	float: left;
	position: relative;
	width:150px;
	height: 30px;
	margin: 5px auto 0px;
	font-family: Rakkas, Chonburi, Rye, Abril Fatface, Merriweather ;
	font-size: 20px;
	}
.sheet-superviviente3{
	float: left;
	position: relative;
	width:270px;
	height: 30px;
	margin: 5px auto 0px;
	font-family: Rakkas, Chonburi, Rye, Abril Fatface, Merriweather ;
	font-size: 20px;
	}
.sheet-superviviente4{
	float: left;
	position: relative;
	width:220px;
	margin: 5px auto 0px;
	font-family: Rakkas, Chonburi, Rye, Abril Fatface, Merriweather ;
	font-size: 20px;
	}

.sheet-col-tercera{
	float: left;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 270px;
	height: 120px;
	min-height: 120px;
	padding: 10px 20px;
	border: dotted rgba(0,0,0,1.00);
	overflow: hidden;
	}

.sheet-titulos-tercera {
	float: left;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 50px;
	margin: 0px auto;
 	font-size: 20px;
  	font-family:  Morpheus, Rakkas, Chonburi, Rye, Abril Fatface, Merriweather ;
	color: #000000;
	}
.sheet-titulos-tercera img {
	margin-top: 0px;
	max-width: 40px;
	max-height: 30px;
	}

/*============= ATRIBUTOS Y HABILIDADES CSS=============*/

.sheet-atributstotal{
	float: left;
	position: relative;
	width:1000px;
	height: auto;
	margin: 0px auto;
	overflow:hidden; 
	}

.sheet-col-atributs1{
	float: left;
	position: relative;
	width:198px;
	height: 320px;
	margin: 10px auto;
	overflow:hidden;
	}

.sheet-col-atributs2{
	float: left;
	position: relative;
	width:196px;
	height: 320px;
	margin: 10px auto;
	text-align: center;

	}

.sheet-col-atributs2 img {
	float: none;
	position: relative;
	margin: 0px auto;
	text-align: center;
	height: auto;
		}


.sheet-atributs1{
	float: none;
	position: relative;
	width:100%;
	height: 40px;
	margin: 0px auto;
	overflow:hidden;
	font-family: Morpheus, Merriweather ;
	font: bold;
	font-size: 30px;
	text-align: center;
	}
.sheet-atributs2{
	float: none;
	position: relative;
	width:100%;
	height: 40px;
	padding: 5px 5px;
	margin: 0px auto 10px;
	overflow:hidden;
	font-family: Morpheus, Merriweather ;
	font: bold;
	font-size: 24px;
	text-align: center;
	
	}


.sheet-mycheck{	
	filter:  hue-rotate(120deg) brightness(0.8);
  }
/* filter: invert(100%) hue-rotate(1040deg) brightness(0.8); */
.sheet-mycheck:checked {
  background-color: #FF0000;
}

.sheet-habilidad{
	float: left;
	position: relative;
	width:100px;
	height: 30px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	padding-left: 10px;
	overflow:hidden;
	font-family: Constantia;
	}

.sheet-habilidad2{
	float: left;
	position: relative;
	width: 80px;
	height: 30px;	
	margin: 0px 0px 0px 5px;
	overflow:hidden;
	font-family: Constantia;
	}

.sheet-habilitat{
	float: none;
	position: relative;
	width:75%;
	height: 30px;
	line-height: 30px;
	margin: 0px 20px 0px 0px;
	padding-left: 10px;
	overflow:hidden;
	font-family: Constantia;
	}


		/*============= TABLA ARMAS =============*/
	.containertabla {
    border: solid 1px rgba(255, 255, 255, 0.2);
}	

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
	width: 100%;
}

thead {
    background: rgba(0,0,0,1.00);
	font-family: Rakkas, Chonburi, Rye, Abril Fatface, Morpheus, Merriweather ;
	font-size: 20px;
}

th {
    padding: 5px 5px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 5px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
	width: 50px;
	min-width: 50px;
	text-align: center;
	background: rgba(78,14,15,0.8);
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(78,14,15,0.6);
}
	

.sheet-titolsortilegios{
	float: none;
	position: relative;
	width:100%;
	height: auto;
	margin: 0px auto;
	overflow:hidden; 
	font-family: Morpheus, Merriweather ;
	font: bold;
	font-size: 70px;
	text-align: center;
	}
.sheet-titolpestanyes{
	float: none;
	position: relative;
	width:100%;
	height: auto;
	margin: 0px auto;
	overflow:hidden; 
	font-family: Morpheus, Merriweather ;
	font: bold;
	font-size: 70px;
	text-align: center;
	}

/*============= RASGOS =============*/

.sheet-rasgostotal{
	float: none;
	position: relative;
	width:100%;
	height: auto;
	margin: 0px auto;
	overflow:hidden; 
	}

.sheet-col-rasgos{
	float: left;
	position: relative;
	width:28%;
	height: auto;
	margin: 1%;
	padding: 1%;
	border: double rgba(0,0,0,1.00);
	overflow:hidden;
	}
.sheet-col-rasgos2{
	float: left;
	position: relative;
	width:293px;
	height: auto;
	margin: 10px 20px 10px 0px;
	padding: 1%;
	border: double rgba(0,0,0,1.00);
	overflow:hidden;
	}
.sheet-col-rasgos3{
	float: left;
	position: relative;
	width:294px;
	height: auto;
	margin: 10px 0px 10px 0px;
	padding: 1%;
	border: double rgba(0,0,0,1.00);
	overflow:hidden;
	}
.sheet-titol_rasgos{
	float: none;
	position: relative;
	width:100%;
	height: 40px;
	margin: 0px auto;
	overflow:hidden;
	font-family: Morpheus, Merriweather ;
	font: bold;
	font-size: 18px;
	text-align: center;
	}

	
/*============= PIE =============*/

.sheet-pie{
	float: left ; 
	position: relative;
	width:1000px;
	max-width: 1000px;
	height: auto;
	margin: 0px auto;
	text-align: center;
	}

.sheet-col-pie1{
	float: left;
	width:380px;
	height: 205px;
	margin: 10px auto;
	overflow:hidden;
	border: double rgba(0,0,0,1.00);
	}


.sheet-col-atacdefensa{
	float: left;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	height: auto;
	min-height: 70px;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
	}

.sheet-col-pie2{
	float: left;
	position: relative;
	width: 220px;
	height: 195px;
	margin: 10px auto;
	padding: 10px 0px 0px;
	overflow:hidden;
	border: double rgba(0,0,0,1.00);
		}

.sheet-titulos-pie2 {
	float: left;
	position: relative;
	width: 100%;
	min-height: 40px;
	margin: 0px auto;
 	font-size: 20px;
  	font-family:  Morpheus, Rakkas, Chonburi, Rye, Abril Fatface, Merriweather ;
	color: #000000;
	}
.sheet-titulos-pie2 img {
	margin-top: 0px;
	}
.sheet-col-pie3{
	float: left;
	position: relative;
	width:380px;
	height: 205px;
	margin: 10px auto;
	overflow:hidden;
	border: double rgba(0,0,0,1.00);
	}
.sheet-titulos-pie3 {
	float: left;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 40px;
	margin: 0px auto;
 	font-size: 20px;
  	font-family:  Morpheus, Rakkas, Chonburi, Rye, Abril Fatface, Merriweather ;
	color: #000000;
	}
.sheet-titulos-pie3 img {
	margin-top: 0px;
	max-width: 40px;
	max-height: 30px;
	}
.sheet-titulos-pie3 input {
	height: 35px;
	max-height: 35px;
	}
.sheet-titulos-pie3 btn {
	height: 35px;
	max-height: 35px;
	}
.sheet-ataque-defensa {
	float: left;
	width: 50%;
	height: auto;
	margin: 10px auto;
	overflow:hidden;
	background-color: aqua;
	}
.sheet-tipoataque{
	float: left;
	width:100%;
	height: auto;
	margin: 0px auto;
	overflow:hidden;
	
	}
.sheet-base-cc-pro{
	float: left;
	width:80%;
	height: auto;
	overflow:hidden;
	text-align: right;
	}

.sheet-espaiprebotonegre{
	float: left;
	width:120px;
	padding: 0px auto;
	height: auto;
	overflow:hidden;
	text-align: center;
	}
.sheet-espaiprebotonegre2{
	float: left;
	width: 154px;
	padding: 0px auto;
	height: auto;
	overflow:hidden;
	text-align: center;
	}

.sheet-botonegre{
	float: left;
	width: 57px;
	margin: 0px 0px 0px 5px; 
	padding: 0px 2px;
	height: auto;
	overflow:hidden;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	}

.sheet-secundarios-pie {
	float: left;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 120px;
	min-height: 40px;
	margin: 0px ;
 	font-size: 20px;
  	font-family:  Morpheus, Rakkas, Chonburi, Rye, Abril Fatface, Merriweather ;
	color: #000000;
	}
.sheet-botonegre2{
	float: left;
	width:92px;
	margin: 0px 0px 0px 5px; 
	padding: 0px 2px;
	height: auto;
	overflow:hidden;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	}

/* TABS Y MENU BOTONES*/

.sheet-containertabs {
	float: left;
	position: relative;
	width: 1000px;
	margin: 0px auto;
	}

.sheet-butonets{
	float: left;
	margin: 10px 5px; 
	padding: 10px 22px;
	height: auto;
	overflow:hidden;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	font-family: Rakkas, Chonburi, Rye, Abril Fatface, Morpheus, Merriweather ;
	font-size: 18px;
	}
.sheet-butonets:active{
	background-color: #4A0001;
	color: #FFFFFF;
	}

/*Configure the tab buttons*/
.charsheet .sheet-habilidades,
.charsheet .sheet-armas,
.charsheet .sheet-rasgos,
.charsheet .sheet-equipo,
.charsheet .sheet-magia,
.charsheet .sheet-poddivinos,
.charsheet .sheet-diario{
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="habilidades"] ~ div.sheet-habilidades,
.charsheet .sheet-tabstoggle[value="armas"] ~ div.sheet-armas, 
.charsheet .sheet-tabstoggle[value="rasgos"] ~ div.sheet-rasgos,
.charsheet .sheet-tabstoggle[value="equipo"] ~ div.sheet-equipo,
.charsheet .sheet-tabstoggle[value="magia"] ~ div.sheet-magia,
.charsheet .sheet-tabstoggle[value="poddivinos"] ~ div.sheet-poddivinos,
.charsheet .sheet-tabstoggle[value="diario"] ~ div.sheet-diario{
    display: block;
}


/* POP UPS  */
h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #880202;
  margin: 80px 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
	background-color: #000;
	color: #ffffff;
}

.popup h2 {
  margin-top: 0;
  color: #FFFFFF;
  font-family: Morpheus, Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 30px;
  right: 40px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;opacity: 1;
}
.popup .close:hover {
  color: #880202;
}
.popup .content {
  max-height: 40%;
  overflow: auto;
	font-family: Constantia, Tahoma, Arial, sans-serif;
	font-size: 16px;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


/*  FIRMA  */
.sheet-firma{
	float: left;
	position: relative;
	width:100%;
	max-width: 1000px;
	height: 20px;
	margin: 0px auto;
	overflow:hidden;
	text-align: center;
	}	

.sheet-firma:hover{
	color: #880202;
	}	



/*  TEMPLATE MO  */

.sheet-rolltemplate-mo {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-mo {
  margin-left: -7px;
}
.sheet-rolltemplate-mo .sheet-container {
  border: 3px solid black;
  border-radius: 3px;
}

.sheet-rolltemplate-mo .sheet-header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  text-align: left;
  text-transform: capitalize;
  padding: 5px;
  border-bottom: 2px solid black;
}

.sheet-rolltemplate-mo .sheet-title {
  font-size: 1.2em;
  font-weight: bold;
}

.sheet-rolltemplate-mo .sheet-title img.sheet-logomo {
	width: 60px;
    margin: -3px 0px;
    height: 35px !important;
    float: right;
}

.sheet-rolltemplate-mo .sheet-subtitle {
  font-size: 0.9em;
}

.sheet-rolltemplate-mo .sheet-container {
  --header-bg-color: #000;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-mo .sheet-container.sheet-color-green {
  --header-bg-color: #008000;
}
.sheet-rolltemplate-mo .sheet-container.sheet-color-black {
  --header-bg-color: #000;
}
.sheet-rolltemplate-mo .sheet-container.sheet-color-white {
  --header-bg-color: #FFF;
  --header-text-color: #000;
}

.sheet-rolltemplate-mo .sheet-content {
  display: grid;
  background: #FFF;
	color: #000;
  grid-template-columns: auto auto;
  line-height: 1.4em;
}

.sheet-rolltemplate-mo .sheet-content > div {
  padding: 8px 5px;
	background-color: #ffffff;
}

.sheet-rolltemplate-mo .sheet-content .sheet-key {
 	font-weight: bold;
	padding-right: 10px;
	text-align: right;
	font-size: 15px;
}
.sheet-rolltemplate-mo .sheet-content .sheet-value {
 	padding: 10px 5px;
	font-size: 16px;
	color:#868686;
}
.sheet-rolltemplate-mo .sheet-content .sheet-desc {
  background-color:#550103;
}



/*
.sheet-rolltemplate-mo .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-mo .sheet-content :nth-child(4n) {
  background: #EEE;
}   
*/

.sheet-rolltemplate-mo .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
	border-top: #000000 solid 1px;
	color: #868686;
}


.sheet-rolltemplate-mo .textchatcontainer .inlinerollresult {
    background-color: #000!important;
    border: 2px solid var(--primary-dark);
	color: #fff!important;
}

.inlinerollresult {
    background-color: #000!important ;
    border: 2px solid var(--primary-dark);
	color: #fff!important;
}

