 @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

  .mojuba {
    font-family: 'Londrina Solid';
  }

  :root {
    --amarelo: #fff2cc;
    --purpura: #d9d2e9;
    --cinza: #d0e0e3;
    --cinza-escuro: #b7b7b7;
    --laranja: #f6b26b;
    --verde: #b6d7a8;
    --azul: #a2c4c9;
    --rosa: #d5a6bd;
    --grafite: #334960;
    --bege: #fcece6;
    --offwhite: #ebedef;
    --vermelho-forte: #cc0000;
    --vermelho-fraco: #e06666;
    --green-forte: #6aa84f;
    --green-fraco: #93c47d;
    --azul-forte: #3d85c6;
    --azul-fraco: #6fa8dc;
    --cinza-forte: #45818e;
    --cinza-fraco: #76a5af;
    --roxo-forte: #674ea7;
    --roxo-fraco: #8e7cc3;
    --amarelo-claro: #008080;
    --ipa: #ff005c;
  }

  body {
    padding: 0px;
    margin: 0px;
    counter-reset: rebeldias 7;
    counter-reset: estrelas 7;
    font-family: 'Londrina Solid', cursive;
  }
  .mojuba{
    background-color: #ffebc1;
    padding: 30px 20px; 
    display: inline-block;
    border: 2px solid black;
  }
  .mojuba .star {
    visibility: hidden;
    font-size: 30px;
    line-height: 30px;
    margin: 0px 5px;
    cursor: pointer;
    color: black;
    position: relative;
  }

  .mojuba input,
  .mojuba textarea,
  .mojuba select{
    font-family: 'Londrina Solid', cursive;
    background-color: white;
    border: none;
    outline: none;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    padding: 15px 10px;
    box-sizing: border-box;
  }

  .mojuba select{
    -webkit-appearance: none;
    outline: none;
    color: white;
  }
  
  .mojuba select option{
    color: black;
    background-color: #ffebc1;
  }

  .mojuba textarea{
    resize: vertical;
    overflow: auto;
  }
  .mojuba .atributo{
    border-bottom: 2px solid black;
  }

  .mojuba .atributo .icone{
    background-color: white;
  }

  .mojuba .d-inline{
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  .mojuba .d-block{
    display: block;
  }
  .ui-dialog .charsheet input[type=number]{
    width: 100%;
  }

  .mojuba .w-75{
    width: 75%
  }

  .mojuba .w-70{
    width: 70%
  }

  .mojuba .w-50{
    width: 50%
  }

  .mojuba .w-41{
    width: 41%
  }

  .mojuba .w-33{
    width: 33.33%
  }

  .mojuba .w-20{
    width: 25%
  }

  .mojuba .w-100{
    width: 100%
  }
  .mojuba .header{
    padding-bottom: 30px;
  }

  .mojuba .center{
    text-align: center;
    vertical-align: center;
    justify-content: center;
    align-self: center;
  }

  .mojuba .top{
    vertical-align: top;
    justify-content: top;
    align-self: top;
  }

  .mojuba .titulo{
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    border-bottom: 2px solid black;
  }

  .mojuba .header .nome{
    border-bottom: 2px solid black;
  }

  .mojuba .header .quilombo > div{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: calc(25% - 2px);
  }

  .mojuba .header .quilombo > div:last-child{
    border-right: none;
    width: 25%;
  }

  .mojuba .header .nome input{
    font-size: 28px;
  }
  .mojuba .holder{
    background-color: white;
  }
  .mojuba .star:before {
    content: "★";
    position: absolute;
    top: -5px;
    left: -5px;
    visibility: visible;
  }

  .mojuba .star:checked:before {
    content: "★";
    position: absolute;
    color: #FFC107;
  }


  .mojuba .rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
  }

  .mojuba .rating-0 {
    filter: grayscale(100%);
  }

  .mojuba .rating>input {
    display: none;
  }

  .mojuba .rating>label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("https://i.imgur.com/ZZtQD9O.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin: 5px;
    transition: .3s;
  }

  .mojuba .rating>input~label:last-child {
    background-image: url("https://i.imgur.com/nUwDTuS.png");
  }

  .mojuba .rating>label:last-child:before {
    content: '0';
    color: white;
  }

  .mojuba .rating>label:before {
    text-shadow: 0px 0px 1px rgb(0 0 0);
    /*text-shadow: 0px 0px 5px  #982b2b;*/
  }

  .mojuba .rating.ejo_permanente {
    counter-reset: rebeldias 7;
  }
  
  .mojuba .rating.gambiarra_usos {
    counter-reset: gambiarra 4;
  }
  
  .mojuba .rating.tecnica_usos {
    counter-reset: tecnica_usos 4;
  }
  
  

  .mojuba .rating>label:not(:last-child):before {
    counter-increment: estrelas -1;
    /* Increment the section counter*/
    content: counter(estrelas);
    color: white;
  }
  .mojuba .rating.gambiarra_usos>label:not(:last-child):before {
    counter-increment: gambiarra -1;
    /* Increment the section counter*/
    content: counter(gambiarra);
    color: white;
  }

  .mojuba .rating.ejo_permanente>label:not(:last-child):before {
    counter-increment: rebeldias -1;
    /* Increment the section counter*/
    content: counter(rebeldias);
    color: white;
  }
  
  .mojuba .rating.tecnica_usos>label:not(:last-child):before {
    counter-increment: tecnica_usos -1;
    /* Increment the section counter*/
    content: counter(tecnica_usos);
    color: white;
  }

  .mojuba .rating>input:checked~label:not(:last-child),
  .mojuba .rating>input:checked~label~label:not(:last-child) {
    background-image: url("https://i.imgur.com/qEPGkCP.png");
  }

  .mojuba .rating>input:not(:checked)~label:hover,
  .mojuba .rating>input:not(:checked)~label:hover~label {
    background-image: url("https://i.imgur.com/nUwDTuS.png");
  }

  .mojuba .orixa{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
  }

  .mojuba .trampo{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
  }

  .mojuba .gambiarra{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    background-color: white;
  }

  .mojuba .aliado{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    background-color: white;
  }

  .mojuba .tecnicas{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    background-color: white;
  }

  .mojuba .condicoes .condicao .titulo{
    border-bottom: 0px;
    margin-left: 5px;
  }

  .mojuba .condicao .descricao{
    font-size: 14px;
    color: var(--grafite);
    padding-left: 5px;
    font-weight: 300;
  }

  .mojuba .icone-menor{
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .mojuba .icone-menor.gan{
    background-image: url('https://i.imgur.com/GzI81Dj.jpg');
  }
  .mojuba .icone-menor.ipa{
    background-image: url('https://i.imgur.com/lhdEbRU.jpg');
  }
  .mojuba .icone-menor.ori{
    background-image: url('https://i.imgur.com/uJxn6if.jpg');
  }
  .mojuba .icone-menor.ginga{
    background-image: url('https://i.imgur.com/4uicweI.jpg');
  }

  .mojuba input.numero{
    font-size: 45px;
    font-weight: 100;
  }

  .mojuba .atributo .descricao p{
    font-size: 16px;
    font-weight: 300;
  }

  .mojuba .atributo .descricao ul li{
    font-size: 18px;
    font-weight: 400;
  }

  .sheet-rolltemplate-teste{
    display: block;
    width: calc(100% - 20px);
  }
  .sheet-rolltemplate-teste .sheet-rollbox-container{
    border: 10px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: content-box;
    position: relative;
    max-width: 250px;
    background-color: white;
    font-family: 'Londrina Solid';
  }
  .sheet-rolltemplate-teste .sheet-tipo.sheet-secondname:before{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-top: 10px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
  }

  .sheet-rolltemplate-teste .sheet-descritivo .sheet-tipo.sheet-secondname:before{
    display: none;
  }

  .sheet-rolltemplate-teste .sheet-secondname.sheet-tipo.sheet-ipa:before{
    background-image: url('https://i.imgur.com/lhdEbRU.jpg');
  }

  .sheet-rolltemplate-teste .sheet-secondname.sheet-tipo.sheet-ori:before{
    background-image: url('https://i.imgur.com/uJxn6if.jpg');
  }

  .sheet-rolltemplate-teste .sheet-secondname.sheet-tipo.sheet-ginga:before{
    background-image: url('https://i.imgur.com/4uicweI.jpg');
  }

  .sheet-rolltemplate-teste .sheet-secondname.sheet-tipo.sheet-gan:before{
    background-image: url('https://i.imgur.com/GzI81Dj.jpg');
  }

  .sheet-rolltemplate-teste .sheet-descricao{
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    letter-spacing: 2px;
    padding: 5px 10px;
  }

  .sheet-rolltemplate-teste .sheet-rolagem{
    font-weight: 700;
    font-size: 30px;
  }

  .sheet-rolltemplate-teste .sheet-template-header{
    text-align: left;
    background-color: white;
    padding-left: 20px;
  }
  .sheet-rolltemplate-teste .sheet-roll-title{
    font-weight: 300;
    font-size: 25px;
    padding: 20px 0px;
    line-height: 27px;
  }
  .sheet-rolltemplate-teste .sheet-template-row{
    background-color: white;
    border-bottom: 10px solid black;
    text-align: center;
    padding: 20px 0px;
  }
  .sheet-rolltemplate-teste .sheet-template-row:last-child{
    border-bottom: none;
  }
  .mojuba button[type=roll] .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    background-size: cover;
  }

  .mojuba button[type=roll] .icon.d20 {
    background-image: url('https://i.imgur.com/fifcL4D.png');
  }
  .mojuba button[type=roll]{
    font-weight: 900;
    outline: none;
    border: none;
    letter-spacing: 2px;
    font-size: 10px !important;
    text-transform: uppercase !important;
    display: block !important;
    width: 100% !important;
    cursor: pointer !important;
    outline: none !important;
    border: none !important;
    color: white !important;
    background-color: black !important;
    padding: 10px 0px !important;
    margin: 0px !important;
    background-image: none !important;
    border-radius: 0px !important;
    box-sizing: border-box;
  }
  .mojuba button[type=roll]:before{
    display: none;
  }

  .sheet-rolltemplate-teste .sheet-rollbox-container.ipa,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ipa .sheet-template-row,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ipa .sheet-template-row,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ipa .sheet-secondname.sheet-tipo.sheet-ipa:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ipa .secondname.tipo.ipa:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ipa .sheet-secondname.sheet-tipo.sheet-ipa:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ipa{
    border-color: #ff005c;
  }

  .sheet-rolltemplate-teste .sheet-rollbox-container.ginga,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ginga .sheet-template-row,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ginga .sheet-template-row,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ginga .sheet-secondname.sheet-tipo.sheet-ginga:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ginga .secondname.tipo.ginga:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ginga .sheet-secondname.sheet-tipo.sheet-ginga:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ginga{
    border-color: #ff9b17;
  }

  .sheet-rolltemplate-teste .sheet-rollbox-container.ori,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ori .sheet-template-row,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ori .sheet-template-row,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ori .sheet-secondname.sheet-tipo.sheet-ori:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.ori .secondname.tipo.ori:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ori .sheet-secondname.sheet-tipo.sheet-ori:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-ori{
    border-color: #16a88e;
  }

  .sheet-rolltemplate-teste .sheet-rollbox-container.gan,
  .sheet-rolltemplate-teste .sheet-rollbox-container.gan .sheet-template-row,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-gan .sheet-template-row,
  .sheet-rolltemplate-teste .sheet-rollbox-container.gan .sheet-secondname.sheet-tipo.sheet-gan:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.gan .secondname.tipo.gan:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-gan .sheet-secondname.sheet-tipo.sheet-gan:before,
  .sheet-rolltemplate-teste .sheet-rollbox-container.sheet-gan{
    border-color: #952ec6;
  }


  .mojuba button[type=roll].ipa{
    background-color: #ff005c !important;
  }

  .mojuba button[type=roll].ginga{
    background-color: #ff9b17 !important;
  }

  .mojuba button[type=roll].ori{
    background-color: #16a88e !important;
  }

  .mojuba button[type=roll].gan{
    background-color: #952ec6 !important;
  }
