include abstracts/data
//- include abstracts/variables

include components/_mixins

+field(data.global.sheet_mode).slugblaster__sheet-mode
.slugblaster
  .slugblaster__wrapper
    include layout/nav

    include layout/character
    include layout/crew
    include layout/options

    footer.footer
      include abstracts/translations

include templates/mixins
include templates/rolltemplates

// === WORKERS ===
script(type='text/worker')
  include ../js/dice/diceworkers.js
  include ../js/dice/dicehandlers.js
  include ../js/globals.js
  include ../js/repeatingsections.js
  include ../js/sheetworkers.js
  include ../js/eventhandlers.js
