mixin matchText
  .sheet-result-row
    .sheet-subfooter.sheet-opportunity(data-i18n='oracle-match-text') An extreme result or twist has occurred.

mixin delveTheDepthsTable
  .sheet-result-row
    .sheet-oracle-dice
      span {{delveTheDepthsTableRoll}}
    .sheet-oracle-table-text
      block

mixin delveTheDepthsTableRow1
  +delveTheDepthsTable
    span(data-i18n='delve-the-depths-table-row-1') Mark progress and <em>Reveal a Danger</em>.

mixin delveTheDepthsTableRow2
  +delveTheDepthsTable
    span(data-i18n='delve-the-depths-table-row-2') Mark progress

mixin delveTheDepthsTableRow3
  +delveTheDepthsTable
    span(data-i18n='delve-the-depths-table-row-3') Choose one: Mark progress or <em>Find an Opportunity</em>.

mixin delveTheDepthsTableRow4
  +delveTheDepthsTable
    span(data-i18n='delve-the-depths-table-row-4') Take both: Mark progress and <em>Find an Opportunity</em>.

mixin delveTheDepthsTableRow5
  +delveTheDepthsTable
    span(data-i18n='delve-the-depths-table-row-5') Mark progress twice and <em>Reveal a Danger</em>.

mixin matchRolls
  | {{#rollTotal() almostCertain 11}}
  +matchText
  | {{/rollTotal() almostCertain 11}}
  | {{#rollTotal() almostCertain 22}}
  +matchText
  | {{/rollTotal() almostCertain 22}}
  | {{#rollTotal() almostCertain 33}}
  +matchText
  | {{/rollTotal() almostCertain 33}}
  | {{#rollTotal() almostCertain 44}}
  +matchText
  | {{/rollTotal() almostCertain 44}}
  | {{#rollTotal() almostCertain 55}}
  +matchText
  | {{/rollTotal() almostCertain 55}}
  | {{#rollTotal() almostCertain 66}}
  +matchText
  | {{/rollTotal() almostCertain 66}}
  | {{#rollTotal() almostCertain 77}}
  +matchText
  | {{/rollTotal() almostCertain 77}}
  | {{#rollTotal() almostCertain 88}}
  +matchText
  | {{/rollTotal() almostCertain 88}}
  | {{#rollTotal() almostCertain 99}}
  +matchText
  | {{/rollTotal() almostCertain 99}}
  | {{#rollTotal() almostCertain 100}}
  +matchText
  | {{/rollTotal() almostCertain 100}}

mixin rawOracles
  | {{#almostCertain}}
  | {{#rollBetween() almostCertain 11 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{almostCertain}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-yes') Yes
  | {{/rollBetween() almostCertain 11 100}}
  | {{#^rollBetween() almostCertain 11 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{almostCertain}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-no') No
  | {{/^rollBetween() almostCertain 11 100}}
  +matchRolls
  | {{/almostCertain}}
  | {{#likely}}
  | {{#rollBetween() likely 26 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{likely}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-yes') Yes
  | {{/rollBetween() likely 26 100}}
  | {{#^rollBetween() likely 26 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{likely}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-no') No
  | {{/^rollBetween() likely 26 100}}
  +matchRolls
  | {{/likely}}
  | {{#fiftyFifty}}
  | {{#rollBetween() fiftyFifty 51 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{fiftyFifty}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-yes') Yes
  | {{/rollBetween() fiftyFifty 51 100}}
  | {{#^rollBetween() fiftyFifty 51 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{fiftyFifty}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-no') No
  | {{/^rollBetween() fiftyFifty 51 100}}
  +matchRolls
  | {{/fiftyFifty}}
  | {{#unlikely}}
  | {{#rollBetween() unlikely 76 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{unlikely}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-yes') Yes
  | {{/rollBetween() unlikely 76 100}}
  | {{#^rollBetween() unlikely 76 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{unlikely}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-no') No
  | {{/^rollBetween() unlikely 76 100}}
  +matchRolls
  | {{/unlikely}}
  | {{#smallChance}}
  | {{#rollBetween() smallChance 91 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{smallChance}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-yes') Yes
  | {{/rollBetween() smallChance 91 100}}
  | {{#^rollBetween() smallChance 91 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{smallChance}}
    .sheet-oracle-table-text
      span(data-i18n='oracle-no') No
  | {{/^rollBetween() smallChance 91 100}}
  +matchRolls
  | {{/smallChance}}

  | {{#delveTheDepthsTableRoll}}
  | {{#rollTotal() statValue 1}}
  | {{#rollBetween() delveTheDepthsTableRoll 1 45}}
  +delveTheDepthsTableRow1
  | {{/rollBetween() delveTheDepthsTableRoll 1 45}}
  | {{#rollBetween() delveTheDepthsTableRoll 46 65}}
  +delveTheDepthsTableRow2
  | {{/rollBetween() delveTheDepthsTableRoll 46 65}}
  | {{#rollBetween() delveTheDepthsTableRoll 66 75}}
  +delveTheDepthsTableRow3
  | {{/rollBetween() delveTheDepthsTableRoll 66 75}}
  | {{#rollBetween() delveTheDepthsTableRoll 76 80}}
  +delveTheDepthsTableRow4
  | {{/rollBetween() delveTheDepthsTableRoll 76 80}}
  | {{#rollBetween() delveTheDepthsTableRoll 81 100}}
  +delveTheDepthsTableRow5
  | {{/rollBetween() delveTheDepthsTableRoll 81 100}}
  | {{/rollTotal() statValue 1}}
  | 
  | {{#rollTotal() statValue 2}}
  | {{#rollBetween() delveTheDepthsTableRoll 1 30}}
  +delveTheDepthsTableRow1
  | {{/rollBetween() delveTheDepthsTableRoll 1 30}}
  | {{#rollBetween() delveTheDepthsTableRoll 31 65}}
  +delveTheDepthsTableRow2
  | {{/rollBetween() delveTheDepthsTableRoll 31 65}}
  | {{#rollBetween() delveTheDepthsTableRoll 66 90}}
  +delveTheDepthsTableRow3
  | {{/rollBetween() delveTheDepthsTableRoll 66 90}}
  | {{#rollBetween() delveTheDepthsTableRoll 91 99}}
  +delveTheDepthsTableRow4
  | {{/rollBetween() delveTheDepthsTableRoll 91 99}}
  | {{#rollTotal() delveTheDepthsTableRoll 100}}
  +delveTheDepthsTableRow5
  | {{/rollTotal() delveTheDepthsTableRoll 100}}
  | {{/rollTotal() statValue 2}}
  | 
  | {{#rollTotal() statValue 3}}
  | {{#rollBetween() delveTheDepthsTableRoll 1 40}}
  +delveTheDepthsTableRow1
  | {{/rollBetween() delveTheDepthsTableRoll 1 40}}
  | {{#rollBetween() delveTheDepthsTableRoll 41 55}}
  +delveTheDepthsTableRow2
  | {{/rollBetween() delveTheDepthsTableRoll 41 55}}
  | {{#rollBetween() delveTheDepthsTableRoll 56 80}}
  +delveTheDepthsTableRow3
  | {{/rollBetween() delveTheDepthsTableRoll 56 80}}
  | {{#rollBetween() delveTheDepthsTableRoll 81 99}}
  +delveTheDepthsTableRow4
  | {{/rollBetween() delveTheDepthsTableRoll 81 99}}
  | {{#rollTotal() delveTheDepthsTableRoll 100}}
  +delveTheDepthsTableRow5
  | {{/rollTotal() delveTheDepthsTableRoll 100}}
  | {{/rollTotal() statValue 3}}
  | {{/delveTheDepthsTableRoll}}