
.sheet-TavernTalesSystemContainer {
	background-color: sienna;
	margin-top: -28px;
	margin-left: -30px;
	
}

div.sheet-TavernTalesSystemContainer ul {
	font-size: small;	
}


/* ---------------------------------------------------*/

div.sheet-NewHideableSection > input.sheet-hiddenSectionToggle[type="checkbox"] {
	width: calc(100%);
	height: 20px;
	/* left: -36px; */
	/*
	top: -2px;
	margin: 0px;
	*/
	position: relative;
	cursor: pointer;
	z-index: 1;
	display: block;
	padding: 2px;

}

div.sheet-NewHideableSection > input.sheet-hiddenSectionToggle[type="checkbox"]:not(:checked)::before {
	display: block;
	content: "▲" attr(title);
	/* margin-left: 25px; */
	background-color:  wheat;
	padding: 2px;
	padding-left: 4px;
	height: 1.5em;
	width: calc(100% - 5px);
	/* left: -64px; */
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.1em;	

}

div.sheet-NewHideableSection > input.sheet-hiddenSectionToggle[type="checkbox"][name="attr_showSidebar"]:not(:checked)::before {
	display: inherit;
	background-color: burlywood;
	content: "►" attr(title);
}

div.sheet-NewHideableSection > input.sheet-hiddenSectionToggle[type="checkbox"][name="attr_showSidebar"]:checked::before {
	/* display: inherit; */
	background-color: burlywood;
}


div.sheet-NewHideableSection > input.sheet-hiddenSectionToggle[type="checkbox"]:checked::before {
	display: block;
	content: "▼" attr(title);
	margin-left: 1px;
	
	background: #fcf4e8;
	padding: 2px;
	padding-left: 4px;
	height: 1.5em;
	width: calc(100% - 8px);
	/* left: -72px; */
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.1em;
	
}

div.sheet-HideableSection > input.sheet-hiddenSectionToggle:checked + span + div,
div.sheet-NewHideableSection > input.sheet-hiddenSectionToggle:checked + div
{
    display: block;
	width: calc(100% - 21px);
	padding: 5px;
	margin: 5px;
	
}

div.sheet-HideableSection > input.sheet-hiddenSectionToggle:not(:checked) + span + div
{
  display: none;
}

div.sheet-NewHideableSection > input.sheet-hiddenSectionToggle:not(:checked) + div {
	background-color: burlywood;
	/* height: 22px; */
	display: none;
}


/* ---------------------------------------------------*/

div.sheet-statName {
	width: 33px;
	display: inline-block;
}

div.sheet-TavernTalesSystemSidebar {
	display: inline-block;
	position: sticky;
	width: 110px;
	height: 200px;
	top: 69px;
	background-color: burlywood;
	vertical-align: top;
	
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

}

div.sheet-rollButtonsContainer {
	position: sticky;
}

input.sheet-HiddenCheckbox[name="attr_showSidebar"]:not(:checked) ~* div.sheet-TavernTalesSystemSidebar div.sheet-sidebarStats {
	display: none;
}

input.sheet-HiddenCheckbox[name="attr_showSidebar"]:not(:checked) ~* div.sheet-TavernTalesSystemSidebar {
	width: 15px;
}

input.sheet-HiddenCheckbox[name="attr_showSidebar"]:not(:checked) ~* div.sheet-TavernTalesSheetBody {
	margin-left: 30px;
	width: calc(100% - 100px);	
}


.sheet-sidebarHiderWidget {
	right: 0;
	
}

.sheet-TavernTalesSheetBody {
	display: inline-block;
    color: black;
    font-family: "Times New Roman", Times, serif;
    /*background-color: #B8B894;*/
    padding:15px;
	/* 
	width: 85%; 
	margin-left: 105px;
	margin-top: -200px; 
	*/
	width: calc(100% - 156px);
}

img.sheet-logo {
	width:50%;	
}

.sheet-TavernTalesSheetBody .sheet-col h3 {
    font-size: 3.0em;
    color: black;

    font-size: 1.5em;
}

.sheet-TavernTalesHeader {
    display: block;
    width: 100%;
}



.sheet-TavernTalesContent {
    display: block;
    width: 100%;
}

.sheet-TavernTalesColumn {
    display: inline-block;
	vertical-align: top;
    width: 43%;
	padding-right: 5%;

}

.sheet-ColumnThirds {
	display: inline-block;
	width: calc(33% - 21px);
	vertical-align: top;
}



.sheet-TavernTalesFooter {
    display: block;
    width: 100%;
}


.sheet-Attributes th {
    color: black;

    font-size: 1.0em;
    width: 50px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}



.sheet-TTStatsTable {
	/* width: 90%; */
	
}



.sheet-stats {
	text-align: center;
	position: relative;
}




.sheet-traitXP{
	position: absolute;
    right: 5px;
	top: 5px;
	font-size: 0.5em;
}

.sheet-traitXP input{
	height: 2em;
	font-size: 1em;
	padding: 0;
	vertical-align: text-bottom;
	-moz-appearance: textfield;
}


.sheet-TTConditions{
	margin-left:20px;
	width:90%;	
}

.sheet-TTConditions checkbox{
	margin: 4px;
	padding: 4px;	
}

.sheet-TTConditions input[type="text"]{
	width: 80%;
	
}

.sheet-TTConditions textarea{
	width: 80%;
	height: 60px;
	
}


button[type="roll"].sheet-TTInfoButton {
	font-size: smaller;	
	display: inline-block;
}

button[type="roll"].sheet-TTInfoButton::before {
	content: none;
}


input.sheet-TTResourceName {
	width: 110px;
	margin: 0;
	padding: 0;
	padding-left: 3px;
}

div.sheet-TTResourceCheckboxes {
	text-align: center;
}

div.sheet-Resources {
	width: calc(100% - 21px);
	margin-left: 20px;
}

select.sheet-ResourcesMaxCheckboxes {
	width: 35px;
	margin: 0;
	padding: 0;
	font-size: 1em;
	height: auto;
}

input.sheet-TTcheckbox {
	
}

input[type="checkbox"].sheet-HiddenCheckbox {
	display: none;
}


div.sheet-TTResourceCheckboxes input[type="checkbox"] {
	display: none;
	margin: -2px;
    padding: 0;
    width: 14px;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="1"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"] {
	display: inline-block;	
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="2"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="2"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"] {
	display: inline-block;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="3"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="3"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="3"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse3"] {
	display: inline-block;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="4"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="4"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="4"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse3"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="4"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse4"] {
	display: inline-block;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="5"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="5"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="5"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse3"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="5"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse4"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="5"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse5"] {
	display: inline-block;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="6"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="6"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="6"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse3"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="6"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse4"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="6"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse5"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="6"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse6"] {
	display: inline-block;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="7"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="7"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="7"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse3"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="7"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse4"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="7"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse5"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="7"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse6"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="7"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse7"] {
	display: inline-block;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="8"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="8"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="8"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse3"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="8"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse4"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="8"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse5"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="8"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse6"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="8"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse7"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="8"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse8"] {
	display: inline-block;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse3"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse4"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse5"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse6"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse7"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse8"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="9"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse9"] {
	display: inline-block;
}

input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse1"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse2"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse3"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse4"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse5"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse6"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse7"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse8"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse9"],
input[type="checkbox"][name="attr_resourceMaxCheckboxes"][value="10"]:checked ~ div.sheet-TTResourceCheckboxes input[type="checkbox"][name="attr_resourceUse10"] {
	display: inline-block;
}

.sheet-combatDamage select {
	
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width:90px;
}

.sheet-combatDamage .sheet-dieTypeSelect {
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width:50px;
}



.sheet-TTTraitType {
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width:50px;
}

.sheet-TTitemName {
    width:30%;
	display:inline-block;
}

.sheet-TTitemDesc {
    width:65%;
	display:inline-block;
	margin: 0;
	padding: 0;
	padding-left: 3px;	
}

.sheet-BuffEntryField {
    width:100%;
    height:100px;

}


div.sheet-sidebar {
	display: inline-block;
	width: 93px;
	vertical-align: top;
	margin-left: 8px;
}

div.sheet-versionInfo {
	float: right;
	background-color: rgba(255,255,255, 0.3);
	padding-left: 5px;
	padding-right: 5px;
}


input[name="attr_version"][value="0.9"]:not(:checked) ~* div.sheet-version09content,
input[name="attr_version"][value="1.0"]:not(:checked) ~* div.sheet-version10content,
input[name="attr_version"][value="2.0"]:not(:checked) ~* div.sheet-version20content {
	display: none;
}

input[name="attr_version"][value="2.0"]:checked ~* div.sheet-version20content,
input[name="attr_version"][value="1.0"]:checked ~* div.sheet-version10content,
input[name="attr_version"][value="0.9"]:checked ~* div.sheet-version09content {
	display: block;
}



div.sheet-ExampleFeats09, div.sheet-ExampleFeats10, div.sheet-ExampleFeats20 {	
	display: none;	
}

input[name="attr_version"][value="2.0"]:checked ~* div.sheet-ExampleFeats20,
input[name="attr_version"][value="0.9"]:checked ~* div.sheet-ExampleFeats09,
input[name="attr_version"][value="1.0"]:checked ~* div.sheet-ExampleFeats10 {
	display: inline-block;
	width: calc(100% - 115px);
}


.sheet-feats {
	margin: 0px;
	padding: 10px;	
}

div.sheet-traits input[type="text"].sheet-TTtraitName,
div.sheet-notes input[type="text"].sheet-TTnoteDesc,
div.sheet-Contacts input[type="text"].sheet-TTcontactName {
    padding:0px;
    margin:0px;
	display: block;
}

.sheet-TTcharacterName {
	width: 100%;
}

.sheet-TTXPTreasureTable {
	width: 100%;
	margin: auto;
}

.sheet-TTbioDesc {
	height: 75px;
	width: 100%
}


/* Make traits appear in columns (inline-block) instead of a vertical list (block) */
div.sheet-traits div,
div.sheet-notes div,
div.sheet-Contacts div {
	display: inline-block;
	padding: 0;
	margin: 0;
	
}

div.sheet-traits textarea.sheet-TTtraitDesc,
div.sheet-Contacts textarea.sheet-TTcontactDesc,
div.sheet-notes textarea.sheet-TTnoteDesc,
div.sheet-notes textarea.sheet-TTnoteDesc p,
div.sheet-notes textarea.sheet-TTnoteDesc div,
div.sheet-notes textarea.sheet-TTnoteDesc ul,
div.sheet-notes textarea.sheet-TTnoteDesc ol, {
    padding:0px;
    /* margin:0px; */
    width:100%;
	height: 130px;
	font-size: x-small;

}

.sheet-artistCredit {
	text-align: right;
}

.sheet-TTBIGTitles {
    font-family: "Times New Roman", Times, serif;
    text-align:right;
    font-size: 1.0em;
    font-weight: bold;
    width:100%;
}

.sheet-TTBIGs {
    margin-left:auto;
	margin-right:0%;
	width:75%;
	height:100px;
  height:1em;
}

input[type="number"] {
  width: 30px;
}

/* lists and definitions */

.sheet-definitions { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;

}

.sheet-dt, .sheet-traitName, .sheet-traitType {
	display: block;
	padding: 3px;
}

.sheet-traitName {
	user-select: text;
	font-weight: bold;
	margin-top: 5px;
}

.sheet-traitType {
	font-weight: bold;
	/* margin-left: 12px; */
	font-size: 0.75em;
	margin-top: 0;
	padding-top: 0;
	line-height: 1em;
	
}




div.sheet-traitDescription,
div.sheet-traitDescription p,
div.sheet-traitDescription ul,
div.sheet-traitDescription ul li,
div.sheet-traitDescription ol,
div.sheet-traitDescription ol li {
	user-select: text;
	/* width: 80%; */
	font-size: 10px;
	line-height: 1.2;
	/* margin: 0; */
	padding: 0;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.sheet-traitDescription {
	margin-left: 5%;
	margin-right: 5%;	
}

div.sheet-traitDescription div.sheet-traitNotes {
	border: 1px solid;
	border-radius: 8px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0px 1px 3px;
	background-color: rgba(196,196,196,0.33);
}


.sheet-dd, .sheet-def {
	display: block;
	margin-left: 16px;
	font-weight: normal;
	padding: 2px;
	
}

.sheet-traitMechanic {}

.sheet-traitExample {
	border: 0;
	border-radius: 8px;	
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 3px;
	background-color: rgba(222, 184, 135, 0.15);
}

.sheet-def::before {
	font-weight: bold;
	margin-left: -16px;
	content: attr(title);
	display: block;
}


.sheet-definition:nth-of-type(odd), .sheet-exampleTrait:nth-of-type(odd) {
	background-color: beige;

}


.sheet-NewspaperColumns {
	
	/* Newspaper-like columns with automatic text flow across regions */
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    -webkit-column-rule: 4px outset BlanchedAlmond; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset BlanchedAlmond; /* Firefox */
    column-rule: 4px outset BlanchedAlmond;
	
	overflow:auto;
	text-align: justify;
	
}


/*
ooooo   ooooo           oooo             
`888'   `888'           `888             
 888     888   .ooooo.   888  oo.ooooo.  
 888ooooo888  d88' `88b  888   888' `88b 
 888     888  888ooo888  888   888   888 
 888     888  888    .o  888   888   888 
o888o   o888o `Y8bod8P' o888o  888bod8P' 
                               888       
                              o888o      
*/




/* Popup Help */

.sheet-showHelpTipsToggle {
	/* float: right; */
}

.sheet-popupHelp span, .sheet-popupHelpSmall span, .sheet-popupHelpLarge span {
    display:none;
    z-index:10;
    padding:14px 20px;
    left:33%;
}

/*
input[name="attr_showHelpTipsToggle"]:not(:checked) ~* div.sheet-popupHelp,
input[name="attr_showHelpTipsToggle"]:not(:checked) ~* div.sheet-popupHelpSmall,
input[name="attr_showHelpTipsToggle"]:not(:checked) ~* div.sheet-popupHelpLarge {
	display: inline-block;	
} 
*/

input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelp:hover span,
input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelpSmall:hover span,
input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelpLarge:hover span
 {
    display:inline;
    position:absolute;
    color:#111;
    border:1px solid #DCA;
    background:#fffAF0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 8pt;
	line-height: 1;
	font-weight: normal;
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
	float: none;
	width:66%;
	left: 12.5%;
	top: 0%;
	overflow: auto;
	padding: 5px;
	margin: 0px;

	
}

.sheet-popupHelp span{
	height: 100px;
}

.sheet-popupHelpSmall span {
	height: 35px;	
}

.sheet-popupHelpLarge span {
	height: auto;
}

input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelp:hover span p,
input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelpSmall:hover span p,
input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelpLarge:hover span p {
    font-size: 8pt;
	line-height: 1;
	font-weight: normal;
	text-align: left;
}

input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelp,
input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelpSmall,
input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelpLarge {

	display: inline;

}

input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelp::after,
input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelpSmall::after,
input[name="attr_showHelpTipsToggle"]:checked ~* .sheet-popupHelpLarge::after {
	background-color:black;
	color: white;
	border-radius: 8px;
	font-size: 8pt;
	line-height: 1.66;
	font-weight: normal;
	vertical-align: top;
	border: 1px;
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 4px;
	content: "?";
}


input[name="attr_showHelpTipsToggle"]:not(:checked) ~* .sheet-popupHelp,
input[name="attr_showHelpTipsToggle"]:not(:checked) ~* .sheet-popupHelpSmall,
input[name="attr_showHelpTipsToggle"]:not(:checked) ~* .sheet-popupHelpLarge {
	background:none;
	display:inline-block;
	
}



/* Tooltips related to game balance */
.sheet-gameBalance, .sheet-traitSkins, .sheet-references, .sheet-drillDeeper {
	display: inline;
	float:right;
	width: 32px;
	height: 32px;
	
}

.sheet-gameBalance::before {
	
	content: url(http://i.imgur.com/FpBUPXX.png);
}

.sheet-traitSkins::before {
	content: url(http://i.imgur.com/MDUllv0.png);
}

.sheet-references::before {
	content: url(http://i.imgur.com/N9TQaWD.png);
}

.sheet-drillDeeper:before {
	content: url(http://i.imgur.com/Hh2zVdd.png);
}

.sheet-gameBalance > span,
.sheet-traitSkins > span,
.sheet-references > span,
.sheet-drillDeeper > span {
    display:none;
    z-index:10;
    padding:14px 20px;
    left:33%;
}


.sheet-gameBalance:hover > span,
.sheet-traitSkins:hover > span,
.sheet-references:hover > span,
.sheet-drillDeeper:hover > span {

    display:inline;
    position:absolute;
    color:cornsilk;
    background:DimGrey;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1em;
    border:1px solid #DCA;
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
	float: none;
	width:33%;
	left: 27.5%;
	overflow: auto;

}



/*
ooooo   ooooo  o8o        .o8        .o8                        
`888'   `888'  `"'       "888       "888                        
 888     888  oooo   .oooo888   .oooo888   .ooooo.  ooo. .oo.   
 888ooooo888  `888  d88' `888  d88' `888  d88' `88b `888P"Y88b  
 888     888   888  888   888  888   888  888ooo888  888   888  
 888     888   888  888   888  888   888  888    .o  888   888  
o888o   o888o o888o `Y8bod88P" `Y8bod88P" `Y8bod8P' o888o o888o 
*/


input.sheet-hiddenSectionToggle
{
    /* float: left; */
}

/* Hide actual checkbox */
div.sheet-TavernTalesHideableSection > input.sheet-hiddenSectionToggle[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -7px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
div.sheet-TavernTalesHideableSection > input.sheet-hiddenSectionToggle[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline;
    vertical-align: middle;
    
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
}

div.sheet-TavernTalesHideableSection > input.sheet-hiddenSectionToggle[type="checkbox"]:checked + span::before
{
    content: "▼";
}

input.sheet-hiddenSectionToggle:checked + span + div
{
    display: block;
	width: 90%;
	padding: 5px;
	margin: 5px;
}

input.sheet-hiddenSectionToggle:not(:checked) + span + div
{
  display: none;
}

.sheet-TavernTalesHideableSection, .sheet-NewHideableSection {
	position: relative;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-radius: 8px;
	background-color: #fcf4e8;
}

.sheet-TavernTalesSystemSidebar {
	border-radius: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-color: burlywood;
	border-width: 2px;
	box-shadow: 5px 0px 5px -2px rgba(0,0,0,0.8);
}




div.sheet-exampleTrait {
	display:none;
}

input[name|="attr_traitTags"][value="all"]:checked ~* div.sheet-exampleTrait,
input[name|="attr_traitTags"][value="Arcane"]:checked ~* div.sheet-exampleTrait[title*="arcane"],
input[name|="attr_traitTags"][value="Artifice"]:checked ~* div.sheet-exampleTrait[title*="artifice"],
input[name|="attr_traitTags"][value="Alchemy"]:checked ~* div.sheet-exampleTrait[title*="alchemy"],
input[name|="attr_traitTags"][value="Beast"]:checked ~* div.sheet-exampleTrait[title*="beast"],
input[name|="attr_traitTags"][value="Elements"]:checked ~* div.sheet-exampleTrait[title*="elements"],
input[name|="attr_traitTags"][value="BardicLore"]:checked ~* div.sheet-exampleTrait[title*="bardic lore"],
input[name|="attr_traitTags"][value="Command"]:checked ~* div.sheet-exampleTrait[title*="command"],
input[name|="attr_traitTags"][value="Dragon"]:checked ~* div.sheet-exampleTrait[title*="dragon"],
input[name|="attr_traitTags"][value="Faith"]:checked ~* div.sheet-exampleTrait[title*="faith"],
input[name|="attr_traitTags"][value="Heritage"]:checked ~* div.sheet-exampleTrait[title*="heritage"],
input[name|="attr_traitTags"][value="Nature"]:checked ~* div.sheet-exampleTrait[title*="nature"],
input[name|="attr_traitTags"][value="MartialArts"]:checked ~* div.sheet-exampleTrait[title*="martial arts"],
input[name|="attr_traitTags"][value="Occultism"]:checked ~* div.sheet-exampleTrait[title*="occultism"],
input[name|="attr_traitTags"][value="Psionics"]:checked ~* div.sheet-exampleTrait[title*="psionics"],
input[name|="attr_traitTags"][value="Savagery"]:checked ~* div.sheet-exampleTrait[title*="savagery"],
input[name|="attr_traitTags"][value="Thievery"]:checked ~* div.sheet-exampleTrait[title*="thievery"],
input[name|="attr_traitTags"][value="Tracking"]:checked ~* div.sheet-exampleTrait[title*="tracking"],
input[name|="attr_traitTags"][value="Transformation"]:checked ~* div.sheet-exampleTrait[title*="transformation"],
input[name|="attr_traitTags"][value="Undeath"]:checked ~* div.sheet-exampleTrait[title*="undeath"],
input[name|="attr_traitTags"][value="Warfare"]:checked ~* div.sheet-exampleTrait[title*="warfare"],
input[name|="attr_traitTags"][value="Heritage"]:checked ~* div.sheet-exampleTrait[title*="heritage"],
input[name|="attr_traitTags"][value="Arcane"]:checked ~* div.sheet-exampleTrait[title*="Arcane"],
input[name|="attr_traitTags"][value="Artifice"]:checked ~* div.sheet-exampleTrait[title*="Artifice"],
input[name|="attr_traitTags"][value="Alchemy"]:checked ~* div.sheet-exampleTrait[title*="Alchemy"],
input[name|="attr_traitTags"][value="Beast"]:checked ~* div.sheet-exampleTrait[title*="Beast"],
input[name|="attr_traitTags"][value="Elements"]:checked ~* div.sheet-exampleTrait[title*="Elements"],
input[name|="attr_traitTags"][value="BardicLore"]:checked ~* div.sheet-exampleTrait[title*="Bardic Lore"],
input[name|="attr_traitTags"][value="Command"]:checked ~* div.sheet-exampleTrait[title*="Command"],
input[name|="attr_traitTags"][value="Dragon"]:checked ~* div.sheet-exampleTrait[title*="Dragon"],
input[name|="attr_traitTags"][value="Faith"]:checked ~* div.sheet-exampleTrait[title*="Faith"],
input[name|="attr_traitTags"][value="Heritage"]:checked ~* div.sheet-exampleTrait[title*="Heritage"],
input[name|="attr_traitTags"][value="Nature"]:checked ~* div.sheet-exampleTrait[title*="Nature"],
input[name|="attr_traitTags"][value="MartialArts"]:checked ~* div.sheet-exampleTrait[title*="Martial Arts"],
input[name|="attr_traitTags"][value="Occultism"]:checked ~* div.sheet-exampleTrait[title*="Occultism"],
input[name|="attr_traitTags"][value="Psionics"]:checked ~* div.sheet-exampleTrait[title*="Psionics"],
input[name|="attr_traitTags"][value="Savagery"]:checked ~* div.sheet-exampleTrait[title*="Savagery"],
input[name|="attr_traitTags"][value="Thievery"]:checked ~* div.sheet-exampleTrait[title*="Thievery"],
input[name|="attr_traitTags"][value="Tracking"]:checked ~* div.sheet-exampleTrait[title*="Tracking"],
input[name|="attr_traitTags"][value="Transformation"]:checked ~* div.sheet-exampleTrait[title*="Transformation"],
input[name|="attr_traitTags"][value="Undeath"]:checked ~* div.sheet-exampleTrait[title*="Undeath"],
input[name|="attr_traitTags"][value="Warfare"]:checked ~* div.sheet-exampleTrait[title*="Warfare"],
input[name|="attr_traitTags"][value="Heritage"]:checked ~* div.sheet-exampleTrait[title*="Heritage"]
{	
	display:block;
	break-inside: avoid-column;	
	-webkit-column-break-inside:avoid;	
}


div.sheet-traitRequirements::before {
	background-size: 24px 24px;
	display: inline-block;
	width: 24px;
	height: 24px;
	content: "";
	float: right;
	margin-left: 8px;
	border-radius: 8px;	
}

div.sheet-traitRequirements[title*="roll"]::before {
	background-image: url(https://i.imgur.com/tkoVkTl.png);
}

div.sheet-traitRequirements[title*="resource"]::before {
	background-image: url(https://i.imgur.com/7Yu1ab5.png);
}

div.sheet-traitRequirements[title*="scope"]::before {
	background-image: url(https://i.imgur.com/i92pPhL.png);
}




div.sheet-traitRequirements[title*="tradeoff"]::before {
	background-image: url(https://i.imgur.com/piggFNs.png);
}

/*

                                           
		_/_/_/_/_/    _/_/    _/_/_/      _/_/_/   
		   _/      _/    _/  _/    _/  _/          
		  _/      _/_/_/_/  _/_/_/      _/_/       
		 _/      _/    _/  _/    _/        _/      
		_/      _/    _/  _/_/_/    _/_/_/      

*/



.sheet-traitsTabAllContent,
.sheet-traitsTabCombatContent,
.sheet-traitsTabExplorationContent,
.sheet-traitsTabInteractionContent,
.sheet-traitsTabGeneralContent,
.sheet-traitsTabExamplesContent,
.sheet-pageTabCharacterSheetContent,
.sheet-pageTabPlayerGuideContent,
.sheet-pageTabGMGuideContent
 {
	display:none;
}

div.sheet-tab-widget-container {
	position: relative;
	display: inline-block;
	width: 15%;
	height: 20px;
	top: -2px;
	margin-left: -1px; /* To make up for spaces in the html between spans */
	margin-right: -1px;
	text-align: center;
	vertical-align: middle;
}

/* input.sheet-tab {
	position: relative;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	margin: 0px;
	cursor: pointer;
	z-index: 1;
	font-family: 'IM Fell English SC', serif;
}

input.sheet-tab + span::before {
	content: attr(title);
	color: black;
}

input.sheet-tab + span {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;

	border: solid 2px #E8E8E8;
	border-bottom: none;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: bold;
	background: burlywood;
	color: black;
	z-index: 2;
}

input.sheet-tab:checked + span {
	background: wheat;
}
*/


input.sheet-tab
{
	width: 94px;
	height: 20px;
	position: relative;
	top: -2px;
	margin: 0px;
	cursor: pointer;
	z-index: 1;
	font-family: 'IM Fell English SC', serif;
	box-shadow: none;
}

input.sheet-tab::before
{
content: attr(title);
border: solid 2px #E8E8E8;
border-bottom: none;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
text-align: center;
display: inline-block;
width: 94px;
height: 20px;
font-size: 14px;
font-weight: bold;
background: burlywood;
}


input.sheet-tab:checked::before
{
	background: wheat;

}


input[type="checkbox"][name="attr_traitTabs"][value="All"]:checked ~ .sheet-traitsTabAllContent,
input[type="checkbox"][name="attr_traitTabs"][value="Combat"]:checked ~ .sheet-traitsTabCombatContent,
input[type="checkbox"][name="attr_traitTabs"][value="Exploration"]:checked ~ .sheet-traitsTabExplorationContent,
input[type="checkbox"][name="attr_traitTabs"][value="Interaction"]:checked ~ .sheet-traitsTabInteractionContent,
input[type="checkbox"][name="attr_traitTabs"][value="General"]:checked ~ .sheet-traitsTabGeneralContent,
input[type="checkbox"][name="attr_traitTabs"][value="Examples"]:checked ~ .sheet-traitsTabExamplesContent { /* show the correct tab */
	display:block;	
	background-color: wheat;
	border-bottom-right-radius: 1em;
}

input[type="checkbox"][name="attr_pageTabs"][value="GMGuide"]:checked ~ div.sheet-pageTabGMGuideContent,
input[type="checkbox"][name="attr_pageTabs"][value="PlayerGuide"]:checked ~ div.sheet-pageTabPlayerGuideContent,
input[type="checkbox"][name="attr_pageTabs"][value="CharacterSheet"]:checked ~ div.sheet-pageTabCharacterSheetContent {
	display: block;
	border-radius: 8px;
	background-color: sienna;
}

.sheet-traits {
	margin: 0px;
	padding: 10px;
	position: relative;
}




/* 
			_/_/_/    _/    _/  _/_/_/_/_/  _/_/_/_/_/    _/_/    _/      _/    _/_/_/   
		   _/    _/  _/    _/      _/          _/      _/    _/  _/_/    _/  _/          
		  _/_/_/    _/    _/      _/          _/      _/    _/  _/  _/  _/    _/_/       
		 _/    _/  _/    _/      _/          _/      _/    _/  _/    _/_/        _/      
		_/_/_/      _/_/        _/          _/        _/_/    _/      _/  _/_/_/       

 */
 
div.sheet-rollButtons button.sheet-rollButton[type=roll] {
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    line-height: 11px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
	padding: 0;
	margin: 0;
    padding-bottom: 5px;
    font-weight: bold;
    width: 16px;
    border: 2px solid;
}


div.sheet-rollButtons button.sheet-increasedRoll[type=roll],
div.sheet-rollButtons button.sheet-decreasedRoll[type=roll] {
	width: 14px;
	padding: 0;
	margin: 0;
}

div.sheet-rollButtons button.sheet-increasedRoll[type=roll]::before {
	content:"↑"; 	
}

div.sheet-rollButtons button.sheet-decreasedRoll[type=roll]::before {
	content: "↓";
}

div.sheet-rollButtons button.sheet-normalRoll[type=roll] {
	padding: 0;
	margin: 0;
	padding-top: 2px;
    width: 24px;
	height: 21px;
    font-size: small;
    line-height: 1em;
    vertical-align: top;
}

/* 
button[type="roll"].sheet-decreasedRoll:hover {
	background-color: darkred;
	background-position: 0 -25px;
}

button[type="roll"].sheet-increasedRoll:hover {
	background-color: lightgreen;
	background-position: 0 -25px;
}
*/
 
.sheet-beliefs .repcontrol,
.sheet-improvements .repcontrol,
.sheet-miscNotes .repcontrol,
.repcontrol {
    min-height: 27px;
	display: block;
}

.repcontrol .btn {
    /* visibility: hidden; */ /* Stupid Firefox */
    border: medium none;
    color: transparent !important;
	text-shadow: none !important;
    background: none;
    box-shadow: none;
	float: none;
	display: inline-block;
	
}

.repcontrol .btn:focus {
    outline: 0;
}

.repcontrol .repcontrol_edit {
	float: none;
}

.repcontrol .repcontrol_edit:after {
    content: '(';
    visibility: visible;
    font-family: pictos;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: black;
	margin-left: -10px;
}

.editmode ~ .repcontrol .repcontrol_edit:after {
    content: ')';
}

.repcontrol .repcontrol_add:before {
    content: '&';
    visibility: visible;
    font-family: pictos;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: black;
}

.repcontrol .repcontrol_edit:hover:after,
.repcontrol .repcontrol_add:hover:before
{
    background-color: #EFEFEF;
}

.sheet-resources .repcontrol {
    margin-top: -10px;
}

.itemcontrol {
    z-index: 10;
}

.itemcontrol .repcontrol_del {
    font-size: 10px;
    margin-top: 3px;
    padding: 0px;
    height: 18px;
    width: 18px;
}

.itemcontrol .repcontrol_move {
    font-size: 10px;
    margin-top: 3px;
    padding: 0px;
    height: 18px;
    width: 18px;
}


	/* 

		ooooooooo.             oooo  oooo           
		`888   `Y88.           `888  `888           
		 888   .d88'  .ooooo.   888   888   .oooo.o 
		 888ooo88P'  d88' `88b  888   888  d88(  "8 
		 888`88b.    888   888  888   888  `"Y88b.  
		 888  `88b.  888   888  888   888  o.  )88b 
		o888o  o888o `Y8bod8P' o888o o888o 8""888P' 	  
	
	*/

.sheet-rolltemplate-TTRoll {
    width: 120%;
    margin: 0;
    margin-left: -45px;
    margin-top: -2px;
    margin-bottom: -2px;
    padding: 1px;
	/* background-image: url("http://i.imgur.com/kGAcTZm.jpg"); */
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.sheet-rolltemplate-TTRoll .sheet-rollContent .sheet-rollLimits .inlinerollresult {
	background-color: inherit;
	border: inherit;	
}

.sheet-rolltemplate-TTRoll .sheet-rollFooter .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid darkgrey;
	background-color: darkgoldenrod;
	border-radius:9px;
}

.sheet-rolltemplate-TTRoll .sheet-rollFooter .sheet-sadRollResult .inlinerollresult {

	border: 2px solid darkred;
	color: black;
}

.sheet-rolltemplate-TTRoll .sheet-rollFooter .sheet-happyRollResult .inlinerollresult {

	border: 2px solid green;
	color: black;
}

.sheet-rolltemplate-TTRoll .sheet-rollContent {
	width: 60%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 22%;
    margin-right: 11%;
    padding: 0;
	border-style: none;
	color: black;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	border-radius: 1em;
	text-align: center;
/*
	background-image: url("http://i.imgur.com/2yDT9iP.png");
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
*/	
}

.sheet-rolltemplate-TTRoll .sheet-rollHeader {
	background-color: burlywood;
	font-size: 1.5em;
	margin: 0px;
	padding: 4px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	
}

.sheet-rolltemplate-TTRoll .sheet-rollBody {

	margin:0px;
	background: rgba(255, 255, 255, 0.66);
	text-align: center;

}


/*
.sheet-rolltemplate-TTRoll tr:nth-child(3) {
	background-color: burlywood;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}
*/

.sheet-rolltemplate-TTRoll .sheet-rollNotes {
	text-align: center;
}

.sheet-rolltemplate-TTRoll .sheet-fineprint,
.sheet-rolltemplate-TTRoll .sheet-rollLimits {
	text-align: center;
	font-size: 0.8em;	
}

.sheet-rolltemplate-TTRoll .sheet-exciting {
	font-weight: bold;
}

.sheet-rolltemplate-TTRoll .sheet-rollFooter {
	background-color: burlywood;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	margin: 0px;
	padding: 4px;
	text-align: center;
}
