mixin shields
  .sheet-shields-component
    fieldset.repeating_shield
      .sheet-shield-container
        .sheet-shield-type
          input(type='text' class='sheet-shield-type' value='attr_shield_type')
        .sheet-shield-protection
          input(type='text' class='sheet-shield-harm' value='attr_shield_harm')
        .sheet-shield-addition
          input(type='text' class='sheet-shield-addition' value='attr_shield_addition')
        .sheet-shield-weight
          input(type='text' class='sheet-shield-weight' value='attr_shield_weight')