mixin shields
  .sheet-equipment-component
    fieldset.repeating_shield
      .sheet-equipment-container
        .sheet-equipment-container-child
          p ASPECTS
          input(type='text' class='sheet-shield-type' name='attr_shield_type')
        .sheet-equipment-container-child
          p HARM
          input(type='text' class='sheet-shield-harm' name='attr_shield_harm')
        .sheet-equipment-container-child
          p ADDITION
          input(type='text' class='sheet-shield-addition' name='attr_shield_addition')
        .sheet-equipment-container-child
          p WEIGHT
          input(type='text' class='sheet-shield-weight' name='attr_shield_weight')