mixin shields
  .sheet-equipment-component
    .sheet-equipment-container.sheet-table-header
      .sheet-equipment-container-child.sheet-shield-column-1
        p.sheet-equipment-title TYPE
      .sheet-equipment-container-child.sheet-shield-column-2
        p.sheet-equipment-title HARM
      .sheet-equipment-container-child.sheet-shield-column-3
        p.sheet-equipment-title <em>FACE DANGER/CLASH</em> ADDITION
      .sheet-equipment-container-child.sheet-shield-column-4
        p.sheet-equipment-title WEIGHT
    fieldset.repeating_shield
      .sheet-equipment-container
        .sheet-equipment-container-child.sheet-shield-column-1
          input(type='text' class='sheet-shield-type' name='attr_shield_type' placeholde='Type')
        .sheet-equipment-container-child.sheet-shield-column-2
          input(type='text' class='sheet-shield-harm' name='attr_shield_harm' placeholder='1h: 0')
        .sheet-equipment-container-child.sheet-shield-column-3
          input(type='text' class='sheet-shield-addition' name='attr_shield_addition' placeholder='+0' value='+0')
        .sheet-equipment-container-child.sheet-shield-column-4
          input(type='text' class='sheet-shield-weight' name='attr_shield_weight' placeholder='0' value='0')