.sheet-section-npc {
  input,
  textarea,
  select {
    background: transparent;
    color: inherit;
    padding-bottom: 0;
    padding-top: 0;
  }

  .btn {
    &[type='roll'] {
      font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    }
  }

  .sheet-bar {
    background: $orange-alt repeating-linear-gradient(15deg, $orange-alt, $orange 5px, $orange 5px, $orange-alt 10px);
    border: 1px solid $brown;
    height: 5px;
    position: relative;
    z-index: 1;
  }

  .sheet-npc-content-wrap {
    background: url('http://i.imgur.com/hggz0ed.jpg') repeat;
    box-shadow: 0 0 1.5em $tan;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    padding: .2rem;
  }

  .sheet-creature-name {
    color: $dark-red;
    font-family: 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-size: 1.75rem;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.75rem;
  }

  h3 {
    border-bottom: 1px solid $dark-red;
    color: $dark-red;
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 110%;
    margin: 0;
  }

  .sheet-heading {
    font-weight: bold;
  }

  .sheet-top-stats {
    color: $dark-red;

    input,
    textarea,
    button {
      color: $dark-red;
    }
  }

  .sheet-divider {
    border-bottom: 3px solid transparent;
    border-left: 25em solid $light-red;
    border-top: 3px solid transparent;
    margin: 5px 0;
  }

  .sheet-skills {
    .repitem {
      &:last-child {
        .sheet-comma {
          display: none;
        }
      }
    }
  }
}
