<div class="shaped-row space-between mar-l-md mar-r-lg">
  {% set abilities = ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'] %}
  {% for ability in abilities %}
    <div class="center">
      <button type="roll" name="roll_shaped_{$ ability $}_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{{$ ability | upper $}} ^{CHECK}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{{$ ability $}_check_mod_formula}]]}} @{roll_setting} + @{{$ ability $}_check_mod_formula}]]}} @{hide_gm_info} @{attacher_{$ ability $}_check}" tabindex="-1">
        <div class="heading uppercase center" data-i18n="{$ ability | upper | truncate(3, true, '') $}"></div>
        <div class="presentation mar-t-sm">
          <span name="attr_{$ ability $}" class="center"></span>
          (<span name="attr_{$ ability $}_mod_with_sign" class="center"></span>)
        </div>
      </button>
      <input type="hidden" name="attr_{$ ability $}_mod">
      <div class="shaped-row center edit">
        <div class="1-rem">
          <input type="number" name="attr_{$ ability $}" class="no-border no-spin" accept="{$ ability | upper | truncate(3, true, '') $}">
        </div>
        <span>+</span>
        <div class="1-rem">
          <input type="number" name="attr_{$ ability $}_bonus" class="edit no-spin no-border" value="0" step="1">
        </div>
        <div>
          (<span name="attr_{$ ability $}_mod_with_sign" class="center"></span>)
        </div>
      </div>
      <div class="edit shaped-row center vert-center small-label">
        <span data-i18n="CHECK"></span>
        <span>+</span>
        <div class="1-rem">
          <input type="number" name="attr_{$ ability $}_check_bonus" class="no-spin no-border" value="0" step="1">
        </div>
        <span>=</span>
        <span name="attr_{$ ability $}_check_mod"></span>
      </div>
    </div>
    {% if ability == 'constitution' %}
      <div class="edit 7-rem"></div>
    {% endif %}
    {% if ability == 'charisma' %}
      <div class="edit 7-rem"></div>
    {% endif %}
  {% endfor %}
</div>