<div class="ac shaped-row flex-end">
  <button type="roll" name="roll_shaped_ac" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{AC}}} {{text_top=[[@{ac}]]}} {{text_center=@{ac_note}}}">
    <span class="heading" data-i18n="ARMOR_CLASS"></span>
    <span class="presentation">
      <span name="attr_AC"></span>
      (<span name="attr_ac_note"></span>)
    </span>
  </button>
  <div class="1-5-rem edit pad-l-sm">
    <input type="hidden" name="attr_ac_srd" accept="AC">
    <input type="number" name="attr_AC" class="no-border no-spin">
  </div>
  <div class="9-rem edit pad-l-md">
    <div class="shaped-row no-wrap">
      <span>(</span>
      <input type="text" name="attr_ac_note" class="no-border">
      <span>)</span>
    </div>
  </div>
</div>
<div class="shaped-row flex-end no-wrap">
  <button type="roll" name="roll_shaped_initiative" value="@{initiative_output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{INITIATIVE}}} {{roll1=[[@{initiative_roll} + @{initiative_to_tracker} + @{initiative_tie_breaker}]]}} @{attacher_initiative}">
    <span class="heading" data-i18n="INITIATIVE"></span>
    <span name="attr_initiative" class="presentation"></span>
  </button>
  <div class="edit pad-l-smd">+</div>
  <div class="1-5-rem edit">
    <input type="text" name="attr_initiative_bonus" class="center no-border" value="0">
  </div>
  <div class="edit">=</div>
  <span name="attr_initiative" class="edit"></span>
</div>
<div class="shaped-row flex-end">
  <input type="hidden" name="attr_hp_srd" accept="HP">
  <button type="roll" name="roll_shaped_hp" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{HIT_POINTS}}} {{text_big=[[@{HP}]]&#47;[[@{HP|max}]]}}">
    <span class="heading" data-i18n="HIT_POINTS"></span>
    <span name="attr_HP" class="presentation"></span>
  </button>
  <span class="presentation pad-l-sm">
    <button type="roll" name="roll_shaped_npc_hp" value="/w GM &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{HIT_POINTS_ROLLED}}}{{text_top=[[@{hp_formula}]] (Average [[@{HP}]])}}">
      (<span name="attr_hp_formula"></span>)
    </button>
  </span>
  <div class="9-rem pad-l-sm edit">
    <div class="shaped-row">
      <div class="1-5-rem pad-r-sm">
        <input type="number" name="attr_hit_dice" class="no-border no-spin" class="no-spin" step="1">
      </div>
      <div class="2-rem pad-r-sm">
        <select name="attr_hit_die" class="no-border">
          <option>d2</option>
          <option>d4</option>
          <option>d6</option>
          <option>d8</option>
          <option>d10</option>
          <option>d12</option>
          <option>d20</option>
        </select>
      </div>
      <div class="5-rem pad-l-sm">
        <input type="text" name="attr_hp_extra" class="no-border">
      </div>
    </div>
  </div>
  <div class="8-rem pad-l-lg">
    //= include ../hitDice/hitDice.html
  </div>
</div>
<div class="shaped-row flex-end">
  <button type="roll" name="roll_shaped_npc_speed" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{SPEED}}} {{text_big=@{npc_speed}}}">
    <span class="heading" data-i18n="SPEED"></span>
    <span name="attr_npc_speed" class="presentation"></span>
  </button>
  <div class="flex-grow pad-l-sm edit">
    <input type="text" name="attr_npc_speed" class="no-border" accept="Speed">
  </div>
</div>