<div class="relative mar-b-sm">
  <button type="roll" name="roll_action" class="presentation" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{action=1}} {{reach=@{reach}}} {{range=@{range}}} {{recharge=@{recharge}}} @{roll_toggle} @{saving_throw_toggle} @{damage_toggle} @{second_damage_toggle} @{attacher_attack} @{hide_gm_info} @{extras_toggle}">
      <span class="bold italic">
        <span name="attr_name"></span><span name="attr_recharge_display"></span>.
      </span>
    <span name="attr_freetext" class="pre-line"></span>
  </button>

  <div class="shaped-row edit">
    <div class="col-40 center">
      <input type="text" name="attr_name" class="bold italic" placeholder="Bite">
    </div>
    //= include ../actionComponents/type.html
    //= include ../actionComponents/reach.html
    //= include ../actionComponents/range.html
    //= include ../actionComponents/recharge.html
  </div>
  <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings edit" checked><span class="toggle-icon-settings pictos edit">y</span>
  <div class="details edit">
    //= include ../actionComponents/attack.html
    //= include ../actionComponents/savingThrow.html
    //= include ../actionComponents/damage.html
    //= include ../actionComponents/damageSecondary.html
    //= include ../actionComponents/extras.html
  </div>
</div>