//= include savingThrows.html
//= include skills.html
//= include resistancesVulnerabilities.html
<div class="shaped-row vert-center">
  <input type="hidden" name="attr_senses_exist" class="item-toggle">
  <button type="roll" name="roll_shaped_senses" class="item-to-toggle" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{SENSES}}} {{text_big=@{senses}}}">
    <span class="heading" data-i18n="SENSES"></span>
    <span name="attr_senses" class="presentation"></span>
  </button>
  <div class="col-80 pad-l-sm edit">
    <input type="text" name="attr_senses" class="no-border" accept="Senses">
  </div>
</div>
<div class="shaped-row vert-center">
  <input type="hidden" name="attr_languages_exist" class="item-toggle">
  <button type="roll" name="roll_shaped_languages" class="item-to-toggle" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{LANGUAGES}}} {{text_big=@{languages}}}">
    <span class="heading" data-i18n="LANGUAGES"></span>
    <span name="attr_languages" class="presentation"></span>
  </button>
  <div class="col-80 pad-l-sm edit">
    <input type="text" name="attr_languages" class="no-border" accept="Languages">
  </div>
</div>
<div class="shaped-row vert-center">
  <button type="roll" name="roll_shaped_challenge" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{CHALLENGE}}} {{text_top=@{challenge} (@{xp_readable} XP)}}" tabindex="-1">
    <span class="heading" data-i18n="CHALLENGE"></span>
    <span class="presentation">
      <span name="attr_challenge"></span>
      (<span name="attr_xp_readable"></span> XP)
    </span>
  </button>
  <input type="hidden" name="attr_xp">
  <input type="hidden" name="attr_xp_readable">
  <div class="col-05 edit pad-l-sm">
    <input type="text" name="attr_challenge" class="no-border no-spin" accept="Challenge Rating">
  </div>
</div>
<div>
  <button type="roll" name="roll_shaped_pb" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=^{PROFICIENCY_BONUS}}} {{text_big=[[@{pb}]]}}" tabindex="-1">
    <span class="heading" data-i18n="PROFICIENCY_BONUS"></span>
    <span name="attr_PB"></span>
  </button>
</div>