<input type="hidden" name="attr_legendaryactions_exist" class="item-toggle">
<div class="item-to-toggle">
  <h3 data-i18n="LEGENDARY_ACTIONS"></h3>
  <div class="mar-b-md">
    <span data-i18n="LEGENDARY_ACTIONS_TEXT_1"></span>
    <span name="attr_character_name"></span>
    <span data-i18n="LEGENDARY_ACTIONS_TEXT_2"></span>
    <span name="attr_legendary_action_amount" class="presentation"></span>
    <div class="col-2-em inline-block edit"><input type="number" name="attr_legendary_action_amount" class="no-border no-spin"></div>
    &nbsp; <span data-i18n="LEGENDARY_ACTIONS_TEXT_3"></span>
    <span name="attr_character_name"></span>
    <span data-i18n="LEGENDARY_ACTIONS_TEXT_4"></span>
  </div>
  <fieldset class="repeating_legendaryaction">
    //= include actionContents.html
  </fieldset>
</div>