<div class="shaped-row edit">
  <div class="col-20 pad-r-sm">
    <select name="attr_size" class="italic no-border" accept="Size">
      <option value="Tiny" data-i18n="TINY"></option>
      <option value="Small" data-i18n="SMALL"></option>
      <option value="Medium" data-i18n="MEDIUM"></option>
      <option value="Large" data-i18n="LARGE" selected></option>
      <option value="Huge" data-i18n="HUGE"></option>
      <option value="Gargantuan" data-i18n="GARGANTUAN"></option>
    </select>
  </div>
  <div class="col-30 pad-l-sm pad-r-sm">
    <input type="text" name="attr_type" class="italic no-border" data-i18n-placeholder="DRAGON" accept="Type">
  </div>
  <div class="col-23 pad-l-sm">
    <input type="text" name="attr_alignment" class="italic no-border" data-i18n-placeholder="LAWFUL_EVIL" accept="Alignment">
  </div>
</div>
<span class="italic presentation">
  <span name="attr_size"></span>
  <span name="attr_type"></span>,
  <span name="attr_alignment"></span>
</span>
