<input type="hidden" name="attr_skills_srd" accept="Skills">
<div class="shaped-row skills vert-top">
  <button type="roll" name="roll_shaped_ability_checks" value="/w @{character_name} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{ABILITY_CHECKS}}} {{@{ability_checks_text_size}=@{ability_checks_macro_var}}}">
    <span class="heading" data-i18n="SKILLS"></span>
  </button>
  <div class="col-90 pad-l-sm">
    <fieldset class="repeating_skill">
      <div class="shaped-row no-wrap vert-center">
        <div class="2-em edit">
          <select name="attr_skill_d20">
            <option value="@{shaped_d20}" data-i18n="NORMAL"></option>
            <option value="2d20@{d20_mod}kh1" data-i18n="ADVANTAGE"></option>
            <option value="2d20@{d20_mod}kl1" data-i18n="DISADVANTAGE"></option>
          </select>
        </div>
        <div class="col-1-3-em skill-select-wrapper edit">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient" data-i18n="SKILL_SELECT_UNPROFICIENT"></option>
            <option value="proficient" data-i18n="SKILL_SELECT_PROFICIENT"></option>
            <option value="expertise" data-i18n="SKILL_SELECT_EXPERTISE"></option>
          </select>
        </div>
        <div class="col-1-3-em edit">
          <input type="number" name="attr_bonus" class="no-spin small-label" value="0" step="1">
        </div>
        <div class="col-6-em edit">
          <input type="text" name="attr_name">
        </div>
        <button type="roll" name="roll_skill" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name} (^{@{ability_key}})}} @{roll_info} @{skill_info} {{roll1=[[@{skill_d20} + @{formula}]]}} @{roll_setting} + @{formula}]]}} @{hide_gm_info} @{attacher_skill}" tabindex="-1">
          <div class="shaped-row no-wrap flex-end">
            <span name="attr_name" class="presentation skill-name white-space-no-wrap pad-r-sm"></span>
            <span name="attr_total_with_sign" class="inline-block center"></span>
          </div>
        </button>
        <input type="hidden" name="attr_formula">
        <input type="hidden" name="attr_skill_info">
        <input type="hidden" name="attr_ability_key">
        <div class="skills-ability-selector-wrapper edit pad-l-sm">
          <div class="shaped-row no-wrap vert-center">
            <span>(</span>
            <select name="attr_ability" class="skills-ability-selector">
              <option value="0">&#8212;</option>
              <option value="strength" data-i18n="STR"></option>
              <option value="dexterity" data-i18n="DEX"></option>
              <option value="constitution" data-i18n="CON"></option>
              <option value="intelligence" data-i18n="INT"></option>
              <option value="wisdom" data-i18n="WIS"></option>
              <option value="charisma" data-i18n="CHA"></option>
            </select>
            <span>)</span>
          </div>
        </div>
        <div class="pad-r-sm comma">,</div>
      </div>
    </fieldset>
    <input type="checkbox" name="attr_generate_skills" class="toggle-pseudo-button edit"><span class="toggle-pseudo-button button edit" data-i18n="GENERATE_SKILLS"></span>
  </div>
</div>