<input type="checkbox" name="attr_show_spells" class="toggle-spells edit" value="1"><span class="toggle-spells lowercase edit" data-i18n="SPELLS"></span>
<input type="checkbox" name="attr_innate_spellcasting" class="toggle-innate-spellcasting edit" value="1"><span class="toggle-innate-spellcasting lowercase edit" data-i18n="INNATE_SPELLCASTING"></span>
<input type="checkbox" name="attr_spellcasting" class="toggle-spellcasting edit" value="1"><span class="toggle-spellcasting lowercase edit" data-i18n="SPELLCASTING"></span>
<div class="spells">
  <div class="innate-spellcasting indent">
    <button type="roll" name="roll_shaped_spells" value="@{spells_macro_var}">
      <span class="heading italic">
        <span data-i18n="INNATE_SPELLCASTING"></span>.
      </span>
    </button>
    <span data-i18n="INNATE_SPELLCASTING_TEXT_1"></span>
    <span name="attr_character_name"></span><span data-i18n="INNATE_SPELLCASTING_TEXT_2"></span>
    <span name="attr_default_ability" data-i18n-dynamic class="presentation"></span>
    <div class="5-rem inline-block edit">
      {% include "../classes/defaultAbilitySelect.html" %}
    </div>
    <span>
      &nbsp;(<span data-i18n="SPELL_SAVE_DC"></span>
      <span name="attr_spell_save_DC"></span>,
      <span name="attr_spell_to_hit"></span>
      <span data-i18n="SPELL_TO_HIT"></span>).
    </span>
    <span data-i18n="INNATE_SPELLCASTING_TEXT_1"></span>
    <span name="attr_character_name"></span>
    <span data-i18n="INNATE_SPELLCASTING_TEXT_3"></span>
    <span class="presentation"><span name="attr_innate_spellcasting_components" data-i18n-dynamic></span>:</span>
    <div class="13-rem inline-block edit">
      <select name="attr_innate_spellcasting_components" class="italic no-border">
        <option value="INNATE_SPELLCASTING_NO_MATERIAL" data-i18n="INNATE_SPELLCASTING_NO_MATERIAL"></option>
        <option value="INNATE_SPELLCASTING_ONLY_VERBAL" data-i18n="INNATE_SPELLCASTING_ONLY_VERBAL"></option>
      </select>
    </div>
    <div  class="presentation">
      <span name="attr_innate_spellcasting_blurb" class="pre-line"></span>
    </div>
    <div class="flex-grow edit">
      <textarea name="attr_innate_spellcasting_blurb" class="three-line-textarea"></textarea>
    </div>
  </div>
  <div class="spellcasting indent">
    <button type="roll" name="roll_shaped_spells" value="@{spells_macro_var}">
      <span class="heading italic">
        <span data-i18n="SPELLCASTING"></span>.
      </span>
    </button>
    <span data-i18n="SPELLCASTING_TEXT_1"></span>
    <span name="attr_character_name"></span>
    <span data-i18n="SPELLCASTING_TEXT_2"></span>
    <span name="attr_spellcaster_level" data-i18n-dynamic class="presentation"></span>
    <div class="4-rem inline-block edit">
      <input type="hidden" name="attr_caster_level">
      <select name="attr_spellcaster_level" class="italic no-border">
        <option value="1ST_LEVEL" data-i18n="1ST_LEVEL"></option>
        <option value="2ND_LEVEL" data-i18n="2ND_LEVEL"></option>
        <option value="3RD_LEVEL" data-i18n="3RD_LEVEL"></option>
        <option value="4TH_LEVEL" data-i18n="4TH_LEVEL"></option>
        <option value="5TH_LEVEL" data-i18n="5TH_LEVEL"></option>
        <option value="6TH_LEVEL" data-i18n="6TH_LEVEL"></option>
        <option value="7TH_LEVEL" data-i18n="7TH_LEVEL"></option>
        <option value="8TH_LEVEL" data-i18n="8TH_LEVEL"></option>
        <option value="9TH_LEVEL" data-i18n="9TH_LEVEL"></option>
        <option value="10TH_LEVEL" data-i18n="10TH_LEVEL"></option>
        <option value="11TH_LEVEL" data-i18n="11TH_LEVEL"></option>
        <option value="12TH_LEVEL" data-i18n="12TH_LEVEL"></option>
        <option value="13TH_LEVEL" data-i18n="13TH_LEVEL"></option>
        <option value="14TH_LEVEL" data-i18n="14TH_LEVEL"></option>
        <option value="15TH_LEVEL" data-i18n="15TH_LEVEL"></option>
        <option value="16TH_LEVEL" data-i18n="16TH_LEVEL"></option>
        <option value="17TH_LEVEL" data-i18n="17TH_LEVEL"></option>
        <option value="18TH_LEVEL" data-i18n="18TH_LEVEL"></option>
        <option value="19TH_LEVEL" data-i18n="19TH_LEVEL"></option>
        <option value="20TH_LEVEL" data-i18n="20TH_LEVEL"></option>
        <option value="21ST_LEVEL" data-i18n="21ST_LEVEL"></option>
        <option value="22ND_LEVEL" data-i18n="22ND_LEVEL"></option>
        <option value="23RD_LEVEL" data-i18n="23RD_LEVEL"></option>
        <option value="24TH_LEVEL" data-i18n="24TH_LEVEL"></option>
        <option value="25TH_LEVEL" data-i18n="25TH_LEVEL"></option>
        <option value="26TH_LEVEL" data-i18n="26TH_LEVEL"></option>
        <option value="27TH_LEVEL" data-i18n="27TH_LEVEL"></option>
        <option value="28TH_LEVEL" data-i18n="28TH_LEVEL"></option>
        <option value="29TH_LEVEL" data-i18n="29TH_LEVEL"></option>
        <option value="30TH_LEVEL" data-i18n="30TH_LEVEL"></option>
      </select>
    </div>
    &nbsp;<span data-i18n="SPELLCASTING_TEXT_3"></span>
    <span name="attr_default_ability" data-i18n-dynamic class="presentation"></span>
    <div class="5-rem inline-block edit">
      {% include "../classes/defaultAbilitySelect.html" %}
    </div>
    <span>
      &nbsp;(<span data-i18n="SPELL_SAVE_DC"></span>
      <span name="attr_spell_save_DC"></span>,
      <span name="attr_spell_to_hit"></span>
      <span data-i18n="SPELL_TO_HIT"></span>).
    </span>
    <span data-i18n="SPELLCASTING_TEXT_1"></span>
    <span name="attr_character_name"></span>
    <span data-i18n="SPELLCASTING_TEXT_4"></span>
    <span name="attr_spellcasting_class" data-i18n-dynamic class="presentation"></span>
    <div class="4-rem inline-block edit">
      <select name="attr_spellcasting_class">
        {% include "../classes/classList.html" %}
      </select>
    </div>
    &nbsp;<span data-i18n="SPELLCASTING_TEXT_5"></span>:
  </div>
  {% include "./spells.html" %}
</div>