@import url('https://fonts.googleapis.com/css?family=Mali|Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700|Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


 /*            SHEET-WIDE             */


/* Variables */
{
	/* Sizes */
	--size-smallest: 1em;
	--size-small: 1.1em;
	--size-normal: 1.2em;
	--size-large: 1.4em;
}


div, span, h1, h2,
.sheet-consequence-pms input, .sheet-consequence-stress input,
.sheet-stress-type input, .sheet-stress-skill input,
.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-container,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-container {
	font-family: 'Averia Serif Libre';
	font-variant: small-caps;
	color: black;
}

input,
textarea,
.sheet-refresh select {
	font-family: 'Mali', cursive;
	color: navy;
	font-variant: normal;
}

.sheet-col {
	width: calc(50% - 10px)
}

button[type=roll]::before { 
	font-variant: normal;
}

div.sheet-section {
	border: solid 1px black;
	border-radius: 8px;
	margin-bottom: 8px
}

.sheet-section-header,
.sheet-section-subheader {
	text-align: center;
	display: block;
}

.sheet-section-header {
	text-align: center;
	font-size: var(--size-large);
	font-weight: bold;
	display: block;
}

.sheet-section-subheader {
	font-size: var(--size-small);
}

.sheet-row-header {
	font-weight: bold;
	font-size: 1.4em;
}

.sheet-column-header {
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
}

h2 {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}

input {
	font-size: 1.5em;
}

input[type="text"]:not(:focus) {
	border: none;
	margin: 1px;
}

textarea:not(:focus) {
	border: none;
	margin: 2px;
}

textarea:focus {
	margin: 1px;
}

input[type="number"].sheet-round {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	-moz-appearance: textfield;
}

input.sheet-round::-webkit-outer-spin-button,
input.sheet-round::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"].sheet-small {
	height: 20px;
	width: 20px;
	font-size: 1.1em;
	text-align: center;
	-moz-appearance: textfield;
}

input.sheet-small::-webkit-outer-spin-button,
input.sheet-small::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

div.sheet-page {
	position: relative;
	min-width: 775px;
}

.sheet-big-header {
	font-size: var(--size-large);
	font-weight: bold;
	text-align: center;
	display: block;
}


 /*            TAB BUTTONS            */


.sheet-tabstoggle button {
	border-bottom: none;
	font-size: 1.3em;
	padding: 4px 12px;
	color: gray;
}

.sheet-tabstoggle button:active {
	border-width: 2px 2px 0px 2px;
}

.sheet-tabstoggle[value="worksheet"] ~ #sheet-workbutton,
.sheet-tabstoggle[value="charsheet"] ~ #sheet-charbutton,
.sheet-tabstoggle[value="spellsheet"] ~ span #sheet-spellbutton,
.sheet-tabstoggle[value="city-high"] ~ #sheet-city-high-button,
.sheet-tabstoggle[value="city-locs"] ~ #sheet-city-locs-button,
.sheet-tabstoggle[value="city-face"] ~ #sheet-city-face-button,
.sheet-tabstoggle[value="config"] ~ #sheet-config-button {
	background: white;
	color: black;
}



 /*             WORKSHEET             */


/* CORE */

div.sheet-worksheet_aspect {
	border: solid black 1px;
	margin-bottom: 8px;
	border-radius: 8px;
}

div.sheet-worksheet_aspect {
	position: relative;
}

div.sheet-worksheet_aspect {
	height: 54px;
}

div.sheet-worksheet_aspect span.sheet-aspect_desc {
	position: absolute;
	bottom: 0;
	font-size: var(--size-small);
	padding: 4px 4px 0px 4px;
}

.sheet-right_col div.sheet-worksheet_aspect span.sheet-aspect_desc,
.sheet-phase span.sheet-aspect_desc {
	right: 0;
}

div.sheet-worksheet_aspect input {
	position: absolute;
	width: 95%;
	height: 80%;
	background: none;
}

/* PHASES */

.sheet-phase-title {
	text-align: center;
	font-size: var(--size-normal);
	display: block;
}

.sheet-phase-number {
	display: block;
	font-size: var(--size-normal);
	position: relative;
    top: 35%;
    left: -10px;
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	width: 100px;
}

.sheet-phase {
	height: 200px;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.sheet-phase:first-of-type {
	border-radius: 8px 8px 0px 0px;
}

.sheet-phase:last-of-type {
	border-bottom: solid 1px black;
	border-radius: 0px 0px 8px 8px;
}

.sheet-phase textarea {
	height: 100px;
}

.sheet-phase span.sheet-events,
.sheet-phase div.sheet-events p,
.sheet-phase div.sheet-events .sheet-story-title {
	font-size: 0.8em;
	color: gray;
	font-family: Arial;
	font-variant: none;
	font-style: italic;
	position: relative;
	text-align:right;
}

.sheet-phase span.sheet-events {
	top: -20px;
	left: 20px;
}

.sheet-phase div.sheet-events input {
	width: 100%;
	font-size: 1em;
	text-align: right;
}


 /*          CHARACTER SHEET          */


.sheet-aspects input {
	width: 99%;
	text-align: center;
	font-size: var(--size-small);
}

/* STRESS */

.sheet-stress-track {
	display: block;
	clear: both;
}

.sheet-stress-box, 
.sheet-stress-num,
.sheet-stress-name {
	display: inline-block;
	vertical-align: top;
}

.sheet-stress-name {
	width: 30%;
	min-width: 90px;
	margin-left: 8px;
}

.sheet-stress-name .sheet-stress-type,
.sheet-stress-name .sheet-stress-type input {
	font-weight: bold;
	font-size: 1.4em;
}

.sheet-stress-name .sheet-stress-skill,
.sheet-stress-name .sheet-stress-skill input {
	font-size: var(--size-small);
}

.sheet-stress-name .sheet-stress-type input,
.sheet-stress-name .sheet-stress-skill input {
	color: #404040;
	width: 80%;
	font-size: inherit;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-bottom: solid 1px #404040;
}

.sheet-stress-box,
.sheet-stress-num {
	width: 5%;
	text-align: center;
	font-weight: bold;
}

.sheet-stress-box input,
.sheet-stress-box label, {
	margin:auto;
	display:block;
}

.sheet-armor {
	margin-left: 8px;
}

.sheet-armor textarea {
	width: 95%;
	height: 3em;
}

/* "FAKE" STRESS CHECKBOXES */

.sheet-stress-fake-box {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.sheet-stress-fake-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Hide our fake one too */
.sheet-stress-fake-box span,
.sheet-stress-fake-box label,
.sheet-stress-fake-box input {
	display: none;
}

/* Create a custom checkbox */
input:checked ~ .sheet-stress-fake-box span {
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 16px);
  height: 21px;
  width: 21px;
  border: solid 1px black;
}

/* On mouse-over, add a blue border color */
.sheet-stress-fake-box:hover input ~ span, {
  border-color: #2196F3;
  /*background-color: #ccc;*/
}

/* On click, add a blue background color */
.sheet-stress-fake-box:active input ~ span {
  background-color: #9ec6e6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.sheet-stress-fake-box span:after {
  font-family: 'Pictos';
  content: "*";
  position: absolute;
  display:none;
  font-size:var(--size-small);
}

/* Show the checkmark when checked */
.sheet-stress-fake-box input:checked ~ span:after {
  display: block;
}

/* Style the checkmark/indicator */
.sheet-stress-fake-box span:after {
  top: 1px;
}

/* CONSEQUENCES */

.sheet-consequences {
	display: block;
	clear: both;
}

.sheet-consequence-type,
.sheet-consequence-pms,
.sheet-consequence-stress,
.sheet-consequence-used,
.sheet-consequence-aspect {
	display: inline-block;
	vertical-align: top;
}

.sheet-consequence-pms,
.sheet-consequence-stress {
	text-align: center;
}

.sheet-consequence-pms,
.sheet-consequence-stress,
.sheet-consequence-used,
.sheet-consequence-used input; {
	margin: auto;
	text-align: center;
}

.sheet-consequence-type {
	width: 16%;
	margin-left: 8px;
}

.sheet-consequence-pms {
	width: 15%;
	margin-left: 8px;
}

.sheet-consequence-stress {
	width: 13%;
	margin-left: 8px;
}

.sheet-consequence-used {
	width: 11%;
	margin-left: 8px;
}

.sheet-consequence-aspect {
	width: 30%;
	margin-left: 8px;
}

.sheet-consequence-aspect input,
.sheet-consequence-pms input,
.sheet-consequence-stress input {
	font-size: 1em;
	width: 100%;
}

.sheet-consequence-pms input,
.sheet-consequence-stress input {
	color: #404040;
}

.sheet-consequence-aspect input[type="text"] {
	border-bottom: 1px solid black;
	margin-bottom: -1px;
}

.sheet-consequence-type select {
	width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: -1px;
	padding: 0px;
	font-size: .9em;
	color: black;
}

.sheet-consequence-pms input:not(:focus) {
	border-bottom: solid 1px #404040;
}

.sheet-consequence-stress input.sheet-small {
	border-style: none none solid none;
	border-color: black;
	height: auto;
	padding: 4px 2px;
}

/* REFRESH */

.sheet-refresh .sheet-section-subheader {
	margin-left: 8px;
	display: inline-block;
	vertical-align: middle;
}

.sheet-refresh .sheet-row-one div,
.sheet-refresh .sheet-row-two div {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.sheet-refresh input[type="text"] {
	font-size: var(--size-small);
	width: 80%;
	border-bottom: solid 1px black;
}

.sheet-refresh input[type="number"] {
	font-size: 1.4em;
}

.sheet-refresh select {
	width: 70%;
	color: navy;
	font-size: var(--size-small);
}

.sheet-refresh-button {
	position: relative;
}

button.sheet-refresh-fate {
	position: absolute;
	margin: 20px;
	height: 120px;
	width: 110px;
	border-radius: 50%;
	font-size: 2em;
	border-width: 1px;
	background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Dresden%20Files%20Role-Playing%20Game/pentagram.png);
	background-position: center;
	background-size: cover;
}

.sheet-refresh-display {
	margin-top: 8px;
}

.sheet-current_fp {
	margin-bottom: 8px;
}

.sheet-base_refresh,
.sheet-current_fp {
	margin-left: -8px;
}

/* SKILLS */

.sheet-compact_skills_toggle {
	text-align: right;
}

.sheet-skill-roll-button.btn[type="roll"] {
	background: white;
	font-size: 1.2em;
}

button.sheet-skill-roll-button:hover {
	background: #DDDDDD;
}

/* EXPANDED */

#sheet-skills_expanded_view {
	overflow: hidden;
}

.sheet-skill-expanded-button {
	width: 125px;
}

button.sheet-skill-expanded-button ~ input[type="number"] {
	margin-left: 8px;
}

.sheet-skills_expanded_view .sheet-skill {
	margin: 2px 8px;
	float: left;
}

/* COMPACT */

button.sheet-skill-roll-button.sheet-skill-compact-button {
	margin-top: 4px;
}

.sheet-skill_tier {
	margin: 8px;
}

.sheet-skill_tier:not(:nth-last-of-type(2)):not(:last-of-type) {
	border-bottom: solid 1px black;
}

.sheet-skill_tier:last-of-type {
	border-top: solid 1px black;
}

.sheet-skill_tier > div {
	display: inline-block;
}

.sheet-skill_tier_box {
	width: 30%
	vertical-align: top;
}

.sheet-skill-tier-skills {
	width: 60%;
	min-height: 50px;
	vertical-align: top;
}

.sheet-skill_tier_name {
	font-size: var(--size-normal);
}

.sheet-skill_tier_slots {
	font-size: 1.1em;
}

.sheet-skills label {
	font-weight: bold;
	margin: 4px;
	width: auto;
}

/* STUNTS & POWERS */

.sheet-stunts .sheet-power_cost.sheet-column-header {
	padding-left: 4px;
}

.sheet-stunts .sheet-power_desc.sheet-column-header {
	padding-left: 12px;
	text-align: left;
}

.sheet-power_cost {
	width: auto;
	display: inline-block;
	margin-left: 8px;
	vertical-align: top;
}

.sheet-power_desc {
	width: 85%;
	display: inline-block;
}

.sheet-power_desc input {
	width: 100%;
	font-size: 1.6em;
}

.sheet-power_desc textarea {
	height: 3em;
	width: 95%
}

.sheet-notes {
	display: inline-block;
	width: calc(100% - 135px);
	height: 300px;
}

.sheet-notes textarea {
	width: 95%;
	height: 90%;
}

.sheet-notes .sheet-column-header {
	width: 100%;
}

.sheet-ladder {
	display: inline-block;
	width: 120px;
	border: solid 1px black;
	border-radius: 8px;
	vertical-align: top;
	margin-right: 8px;
}

.sheet-ladder-header {
	width: 100%;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

.sheet-ladder table {
	width: 100%;
}

.sheet-ladder td {
	padding: 4px;
}

.sheet-refresh_adj {
	margin: 4px;
}

.sheet-refresh_adj input {
	display: inline-block;
}

.sheet-refresh_adj .sheet-section-subheader {
	display: inline-block;
}


 /*         SPELLCASTING SHEET        */


.sheet-core-skill {
	width: 32%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.sheet-core-plus {
	font-family: Tahoma;
	font-size: var(--size-large);
	position: relative;
	margin-right: -18px;
	vertical-align: middle;
}

input.sheet-round.sheet-big {
	height: 50px;
	width: 50px;
	font-size: 2em;
}

.sheet-core-skill-name {
	font-weight: bold;
}

.sheet-core-skill-desc span {
	display: block;
	text-align: center;
}

.sheet-evocation-spec-element,
.sheet-evocation-spec-control,
.sheet-evocation-spec-power,
.sheet-thaumaturgy-spec-application,
.sheet-thaumaturgy-spec-control,
.sheet-thaumaturgy-spec-complexity,
.sheet-focus-item-desc,
.sheet-focus-item-bonus,
.sheet-focus-item-slots,
.sheet-enchanted-item-desc,
.sheet-enchanted-item-effect,
.sheet-enchanted-item-slots,
.sheet-rote-button,
.sheet-rote-shifts,
.sheet-rote-stress,
.sheet-rote-spell {
	display: inline-block;
}

.sheet-evocation-spec-element,
.sheet-thaumaturgy-spec-application,
.sheet-focus-item-desc,
.sheet-enchanted-item-desc {
	text-align: left;
	margin-left: 8px;
}

.sheet-evocation-spec-element,
.sheet-thaumaturgy-spec-application {
	width: 45%;
}

.sheet-evocation-spec-element input,
.sheet-thaumaturgy-spec-application input {
	width: 90%;
}

.sheet-evocation-spec-control,
.sheet-evocation-spec-power,
.sheet-thaumaturgy-spec-control,
.sheet-thaumaturgy-spec-complexity {
	width: 25%;
	text-align: center;
}

.sheet-evocation-spec-control input[type="number"],
.sheet-evocation-spec-power input[type="number"],
.sheet-thaumaturgy-spec-control input[type="number"],
.sheet-thaumaturgy-spec-complexity input[type="number"] {
	width: 70%;
	margin: 0px 5%;
	text-align: center;
	border-style: none none solid none;
	border-color: black;
	-moz-appearance: textfield;
}

.sheet-evocation-spec-control input::-webkit-outer-spin-button,
.sheet-evocation-spec-power input::-webkit-outer-spin-button,
.sheet-thaumaturgy-spec-control input::-webkit-outer-spin-button,
.sheet-thaumaturgy-spec-complexity input::-webkit-outer-spin-button,
.sheet-evocation-spec-control input::-webkit-inner-spin-button,
.sheet-evocation-spec-power input::-webkit-inner-spin-button,
.sheet-thaumaturgy-spec-control input::-webkit-inner-spin-button,
.sheet-thaumaturgy-spec-complexity input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.sheet-evocation-spec span.sheet-plus,
.sheet-thau-spec span.sheet-plus {
	position: relative;
	display: inline-block;
	font-size: 2em;
	right: -16px;
	width: 0px;
	vertical-align: middle;
}

.sheet-crafting-spec span.sheet-plus {
	position: relative;
	display: inline-block;
	font-size: 1em;
	right: -12px;
	width: 0px;
	vertical-align: middle;
}

.sheet-crafting-freq,
.sheet-crafting-strength {
	display: inline-block;
	width: 45%;
	margin-left: 8px;
	margin-bottom: 4px;
	white-space: nowrap;
}

.sheet-crafting-freq input.sheet-small,
.sheet-crafting-strength input.sheet-small,
.sheet-focus-item-slots input.sheet-small,
.sheet-enchanted-item-slots input.sheet-small,
.sheet-rote-shifts input.sheet-small,
.sheet-rote-stress input.sheet-small,
.sheet-evocation-element input[type="number"].sheet-small,
.sheet-focus_items-expanded input[type="number"].sheet-small,
.sheet-rote-spell-expanded input[type="number"].sheet-small {
	width: 40px;
	border-style: none none solid none;
	border-color: black;
}

.sheet-crafting-freq .sheet-column-header,
.sheet-crafting-strength .sheet-column-header {
	display: inline-block;
	vertical-align: middle;
}

.sheet-spell-total-workspace .sheet-column-header {
	width: 100%;
}

.sheet-spell-total-workspace .sheet-column-header .sheet-weak {
	font-weight: normal;
}

.sheet-spell-total-workspace textarea {
	width: 90%;
	height: 2em;
	margin: 1px 5%;
	border: 1px;
}

.sheet-spell-total-workspace textarea:not(:focus) {
	border: 1px;
}

.sheet-sponsor-debt {
	margin-bottom: 8px;
}

.sheet-spellsheet .sheet-section input[type="text"] {
	border-bottom: solid 1px black;
}

.sheet-sponsor-debt-sponsor {
	width: 85%;
	margin-left: 8px;
	display: inline-block;
}

.sheet-sponsor-debt-sponsor input {
	width: 90%;
}

.sheet-sponsor-debt-sponsor.sheet-column-header {
	text-align: left;
}

.sheet-sponsor-debt-debt {
	width: 10%;
	display: inline-block;
	text-align: center;
}

.sheet-enchanted-item-effect,
.sheet-focus-item-bonus,
.sheet-rote-spell {
	text-align: left;
}

.sheet-focus_items input[type="text"],
.sheet-enchanted_items input[type="text"],
.sheet-rote_spells input[type="text"] {
	font-size: 1.2em;
	width: 90%;
}

.sheet-focus_items-expanded input.sheet-round,
.sheet-focus_items input.sheet-round,
.sheet-enchanted_items input.sheet-round,
.sheet-rote_spells input.sheet-round,
.sheet-rote_spells-expanded input.sheet-round {
	margin: 4px;
}

.sheet-focus-item-desc,
.sheet-enchanted-item-desc {
	width: 40%;
	margin-left: 8px;
}

.sheet-focus-item-bonus,
.sheet-enchanted-item-effect {
	width: 40%;
}

.sheet-focus-item-bonus textarea,
.sheet-enchanted-item-effect textarea {
	height: 3em;
	vertical-align: middle;
}

.sheet-focus-item-slots,
.sheet-enchanted-item-slots {
	width: 10%;
}

.sheet-rote-button {
	width: 10%;
	margin-left: 8px;
}

.sheet-rote-button button[type="roll"] {
	width: 1em;
	margin-left: 8px;
}

.sheet-rote-shifts input.sheet-small[type="number"]
.sheet-rote-stress input.sheet-small[type="number"] {
	height: inherit;
}

.sheet-rote-shifts {
	width: 15%;
}

.sheet-rote-stress {
	width: 15%;
}
.sheet-rote-shifts input.sheet-small,
.sheet-rote-stress input.sheet-small {
	margin-left: 8px;
}

.sheet-rote-spell {
	width: 50%;
}

/* Expanded sections */

.sheet-evocation-element,
.sheet-focus-item,
.sheet-enchanted-item,
.sheet-rote-spell-expanded {
	margin-left: 8px;
	margin-bottom: 8px;
}

.sheet-evocation-element .sheet-column-header
.sheet-focus_items-expanded .sheet-column-header {
	vertical-align: middle;
}

.sheet-evocation-element span.sheet-plus,
.sheet-focus_items-expanded span.sheet-plus {
	position: relative;
	display: inline-block;
	right: -8px;
	width: 0px;
}

.sheet-focus-item-name-and-type select {
	width: 120px;
}

.sheet-focus-item-elements textarea,
.sheet-focus-item-types textarea {
	width: 70%;
	font-size: 1.2em;
	height: 1.2em;
}

.sheet-focus-item-power,
.sheet-focus-item-control {
	display: inline-block;
	width: 35%
}

.sheet-focus-item-name-and-type,
.sheet-enchanted-item-name,
.sheet-rote-name {
	display: inline-block;
	width: 80%;
}

.sheet-focus-item-slots,
.sheet-enchanted-item-slots,
.sheet-rote-spell-button {
	float: right;
	margin-right: 16px;
}

.sheet-enchanted-item-expanded-effect textarea,
.sheet-rote-expanded-effect textarea {
	width:90%;
	height: 3em;
}

.sheet-use-enchanted-item select,
.sheet-rote-shifts-stress select {
	width: 130px;
	height: 1.6em;
	padding: 0px;
}

.sheet-use-enchanted-item input[type="number"].sheet-small {
	height: 1.1em;
	padding: 0px;
	border-width: 0px 0px 1px 0px;
	border-color: black;
}

.sheet-rote-spell-expanded button {
	display: block;
}

.sheet-rote-spell-expanded input[type="number"] {
	margin-right: 4px;
}


 /*       CITY - HIGH/LOCATIONS       */


.sheet-theme-or-threat {
	width: 100%;
	text-align: center;
}

.sheet-theme-or-threat {
	font-size: var(--size-large);
}

.sheet-city-theme textarea,
.sheet-location textarea {
	width: 95%;
	height: 4em;
}

.sheet-city-theme input,
.sheet-location input {
	font-size: var(--size-normal);
}

.sheet-theme-threat-face {
	position: relative;
}

.sheet-theme-threat-face span {
	font-size: var(--size-small);
}

.sheet-theme-threat-face span:first-of-type {
	text-align: left;
	margin-left: 4px;
}

.sheet-theme-threat-face span:last-of-type {
	text-align: right;
	position: absolute;
	right: 4px;
}

.sheet-theme-threat-face input[type="text"],
.sheet-theme-threat-face textarea:first-of-type {
	width: 45%;
	display: inline-block;
}

.sheet-theme-threat-face input:first-of-type {
	text-align: left;
	vertical-align: top;
	font-size: var(--size-small);
}

.sheet-theme-threat-face textarea:first-of-type {
	text-align: right;
	font-size: var(--size-smallest);
}

.sheet-location textarea,
.sheet-theme-threat-face textarea {
	height: 4em;
	width: 95%;
}


 /*            CITY - HIGH            */


.sheet-col.sheet-city-theme.sheet-section {
	margin-right: 16px;
}

.sheet-status-quo > div {
	display: inline-block;
	width: calc(50% - 5px);
}

.sheet-status-quo .sheet-section-header {
	font-size: var(--size-normal);
}

.sheet-status-quo .sheet-section-header .sheet-weak {
	font-weight: normal;
}

.sheet-status-quo textarea {
	width: 97%;
	font-size: .8em;
	border: 1px solid black;
	border-radius: 8px;
	height: 120px;
	margin: 4px;
}

.sheet-movers-and-shakers {
	position: relative;
}

.sheet-axis, .sheet-axis-category {
	text-align: center;
}

.sheet-axis {
	display: block;
	font-size: var(--size-normal);
	font-weight: bold;
}

.sheet-axis-category {
	display: inline-block;
	width: 49%;
}

.sheet-top-of-table {
	padding-left: 72px;
	padding-right: 16px;
	margin-bottom: -64px;
}

.sheet-side-of-table {
	display: inline-block;
	position: relative;
	left: -110px;
	transform: rotate(-90deg) translateX(-180px);
	width: 300px;
}

.sheet-movers-table {
	display: inline-block;
	position: relative;
	left: 64px;
	border: 1px solid black;
	border-radius: 8px;
	width: 90%;
	margin: 8px;
}

.sheet-movers-and-shakers table {
	width: 100%;
}

.sheet-movers-and-shakers tr {
	height: 100px;
}

.sheet-movers-and-shakers td {
	height: 100%
}

.sheet-movers-and-shakers textarea {
	height: 100%;
	width: 100%;
	font-size: .8em;
	border-radius: 8px;
	margin: 0px;
	padding: 0px;
}

.sheet-movers-and-shakers textarea:focus {
	margin: -1px;
}


 /*      CITY - LOCATIONS/FACES       */


.repcontainer[data-groupname=repeating_faces] .repitem,
.repcontainer[data-groupname=repeating_locations] .repitem {
	width: calc(33% - 16px);
	display: inline-block;
	margin-right: 16px;
}


 /*          CITY - LOCATIONS         */


.sheet-location span ~ input[type="text"],
.sheet-city-theme span ~ input[type="text"] {
	width: 95%;
	text-align: center;
}


 /*            CITY - FACES           */


.sheet-face-header {
	font-size: var(--size-large);
	display: block;
	text-align: center;
}

.sheet-face input {
	font-size: var(--size-normal);
	text-align: center;
	width: 99%;
}

.sheet-face textarea {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 3em;
}


 /*              SETTINGS             */


.sheet-option {
	font-size: var(--size-normal);
	margin: 16px;
}

.sheet-option span {
	font-variant: normal;
}

.sheet-sub-option {
	margin-left: 16px;
}

/*Hide toggleable pages and sections*/

.sheet-category,
.sheet-page,
.sheet-skill-compact-button,
.sheet-toggleable {
	display: none;
}

/* show the selected tab */

.sheet-tabstoggle[value="worksheet"] ~ #sheet-worksheet,
.sheet-tabstoggle[value="charsheet"] ~ #sheet-charsheet,
.sheet-tabstoggle[value="spellsheet"] ~ #sheet-spellsheet,
.sheet-tabstoggle[value="city-high"] ~ #sheet-city-high,
.sheet-tabstoggle[value="city-locs"] ~ #sheet-city-locs,
.sheet-tabstoggle[value="city-face"] ~ #sheet-city-face,
.sheet-tabstoggle[value="config"] ~ #sheet-config,
.sheet-aspecttoggle[value="1"] ~ #sheet-temp-aspects,
.sheet-skilltoggle[value="1"] ~ #sheet-skills_compact_view,
.sheet-skilltoggle[value="0"] ~ #sheet-skills_expanded_view,
.sheet-skill_tier_toggle[value="1"] + .sheet-skill_tier,
.sheet-evotoggle[value="0"] ~ #sheet-evocation_specializations,
.sheet-evotoggle[value="1"] ~ #sheet-evocation_elements,
.sheet-evotoggle[value="0"] ~ .sheet-evo-spec,
.sheet-evotoggle[value="1"] ~ .sheet-evo-name,
.sheet-spelltotaltoggle[value="0"] ~ #sheet-spell_totals,
.sheet-focus-evothau[value="evocation"] ~ #sheet-focus-item-evocation,
.sheet-focus-evothau[value="thaumaturgy"] ~ #sheet-focus-item-thaumaturgy,
.sheet-focus-item-expanded[value="0"] ~ #sheet-focus_items,
.sheet-focus-item-expanded[value="1"] ~ #sheet-focus_items-expanded,
.sheet-enchanted-expanded[value="0"] ~ #sheet-enchanted_items,
.sheet-enchanted-expanded[value="1"] ~ #sheet-enchanted_items-expanded,
.sheet-rote-expanded[value="0"] ~ #sheet-rote_spells,
.sheet-rote-expanded[value="1"] ~ #sheet-rote_spells-expanded,
.sheet-spellcaster-view[value="1"] ~ #sheet-spellcaster-sub-options,
.sheet-typetoggle[value="character"] ~ .sheet-character-config,
.sheet-typetoggle[value="city"] ~ .sheet-city-config,
.sheet-face-revealer[value="theme-one"] ~ .sheet-theme-one {
	display: block;
}

/* show buttons of the proper type */

.sheet-typetoggle[value="character"] ~ .sheet-char-button,
.sheet-typetoggle[value="city"] ~ .sheet-city-button,
.sheet-spelltoggle[value="1"] ~ .sheet-spell-button,
.sheet-skilltoggle[value="1"] + .sheet-skill-compact-button {
	display: inline;
}

/* ROLL TEMPLATES */

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-container,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-container {
	border: 1px solid black;
	border-radius: 8px;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-header,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-header {
	padding: 4px;
	background: gray;
	border-radius: 8px 8px 0px 0px;
	color: white;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-header .sheet-rolltemplate-name,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-header .sheet-rolltemplate-name,
.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-header .sheet-rolltemplate-check,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-header .sheet-rolltemplate-check {
	display: block;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-header .sheet-rolltemplate-name,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-header .sheet-rolltemplate-name {
	text-align: left;
	font-size: 1em;
	padding-bottom: 8px;
	padding-left: 4px;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-header .sheet-rolltemplate-check,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-header .sheet-rolltemplate-check {
	text-align: center;
	font-size: 2em;
	padding-bottom: 8px;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-container div:last-of-type,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-container div:last-of-type {
	border-radius: 0px 0px 8px 8px;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-roll,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-roll {
	text-align: center;
	background: white;
	padding: 16px;
	font-size: 1.5em;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-roll .inlinerollresult {
	background: inherit;
	border: inherit;
	padding: 0px;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-note .inlinerollresult,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-note .inlinerollresult {
	font-size: 1.2em;
	border: none;
	background: none;
	display: inline-block;
	padding: 8px 0px 0px;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-note,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-note {
	background:white;
	border-top: 1px gray solid;
	padding: 4px;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-note .sheet-rolltemplate-key,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-note .sheet-rolltemplate-key {
	display: inline-block;
	width: 30%;
	padding: 8px;
	height: 100%;
	vertical-align: top;
	font-weight: bold;
}

.sheet-rolltemplate-descriptiveroll .sheet-rolltemplate-note .sheet-rolltemplate-value,
.sheet-rolltemplate-simpleroll .sheet-rolltemplate-note .sheet-rolltemplate-value {
	display: inline-block;
	width: 60%;
	font-size: .9em;
}