{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb/base",
  "rules": {
    "arrow-body-style": 0,
    "max-len": 0,
    "no-cond-assign": 0,
    "no-console": 0,
    "no-param-reassign": 0
  }
}