/* announcements */
.sheet-announcements-title {
    vertical-align: text-bottom;
    color: #1e90ff;
    font-weight: bold;
}

.sheet-announcements {
    background-color: #f0f8ff;
    border: 1px solid #000000;
    padding: 10px;
    margin: 0 5px 0 5px;
    height: 200px;
    overflow-y: scroll;
}

/* abilities */
div.sheet-abilities tr td.sheet-center:first-child {
    background-color: #1f1f1f;
    color: #fff;
    font-family: serif;
    width: 4.5em;
}

div.sheet-abilities tr td:nth-child(2) {
    width: 14%;
    text-align: center;
    white-space: nowrap;
}

div.sheet-abilities tr td:nth-child(2) input.sheet-input-small {
    width: 50%;
}
.sheet-options {
    display: flex;
}

.sheet-options label {
    font-size: 1em;
}

/* dark mode */
.sheet-darkmode .tab-content .tab-pane,
.sheet-darkmode .tab-content .tab-pane .sheet-background,
.sheet-darkmode .tab-content .tab-pane .sheet-background .sheet-wrapper,
.sheet-darkmode .tab-content .tab-pane .sheet-background .sheet-wrapper .sheet-announcements,
.sheet-darkmode .tab-content .tab-pane .sheet-background .sheet-wrapper input {
	background-color: #000;
	color: #e1e1e1;
}

.sheet-darkmode .tab-content .tab-pane .sheet-background .sheet-wrapper .sheet-announcements {
    background-color: #111;
}

.sheet-logo-box.sheet-normal-mode img,
.sheet-logo-box.sheet-dark-mode img {
	max-width: 240px;
	width: 50%;
	display: inline-block;
}

.sheet-logo-box.sheet-dark-mode {
	display: none;
}

.sheet-darkmode .tab-content .tab-pane .sheet-background .sheet-wrapper .sheet-logo-box.sheet-normal-mode {
	display: none;
}

.sheet-darkmode .tab-content .tab-pane .sheet-background .sheet-wrapper .sheet-logo-box.sheet-dark-mode {
	display: block;
}

/* background toggle */
.sheet-wrapper {
    margin: 0;
    padding: 5px;
}

.sheet-useBackground input[value="1"]:checked~.sheet-background {
    background-image: none;
    background-color: white;
}

.sheet-useBackground input[value="2"]:checked~.sheet-background {
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_1E/images/back.jpg");
    background-size: cover;
    background-position: center top;
}

.sheet-useBackground input[value="3"]:checked~.sheet-background {
    background-image: none;
    background-color: #f4d74f;
}

.sheet-useBackground input[value="4"]:checked~.sheet-background {
    background-image: none;
    background-color: #b5dcb3;
}

/* converting from tables */
.sheet-table {
    justify-content: center;
    width: 100%;
}

.sheet-table-row {
    display: flex;
    width: 100%;
    line-height: 1em;
}

.sheet-table-row span {
    margin: 0 2px 0 2px;
}

.sheet-data {
    display: table-cell;
    vertical-align: bottom;
}

.sheet-left {
    text-align: left;
}

.sheet-right {
    text-align: right;
}

.sheet-center {
    text-align: center;
}

.sheet-border {
    border: 1px solid gray;
    border-radius: 10px;
    border-collapse: separate;
    box-sizing: border-box;
    margin: 2px 0 2px 0;
    padding: 2px;
}

div span.sheet-input textarea.sheet-macro-text-short {
    width: 100%;
    height: 1em;
    margin: 0 0 0 2px;
}

span.sheet-input-sm {
    width: 6em;
}

span.sheet-input-sm1 {
    width: 10em;
}

span.sheet-input-med {
    width: 12em;
}

span.sheet-input-med1 {
    width: 16em;
}

span.sheet-input-long {
    width: 30em;
}

.sheet-input-select {
    width: 100%;
    margin: 0;
    padding: 3px 0 0 9px;
    height: 1.85em;
}

/* Spell tabs */
div.sheet-spell-display {
    display: none;
}

input.sheet-toggle-show[value="1"]~div.sheet-spell-display {
    display: inherit;
}

.sheet-spell-tabs {
    display: flex;
    justify-content: space-around;
    width: 99%;
    padding: 0 0 0 3px;
    margin: -1px 0 5px 0;
    border-bottom: 1px solid #767471;
}

span.sheet-tab {
    width: 9%;
    height: 1.75em;
    display: inline-block;
    border: 1px solid #5a5957;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: rgba(148, 148, 148, 0.5);
    color: #ffffff;
}

input[type="radio"].sheet-tab-hidden+span.sheet-tab::before {
    display: none;
}

input[type="radio"].sheet-tab-hidden:not(:checked)+span.sheet-tab {
    color: #ffffff;
    background-color: #1f1f1f;
}

input[type="radio"].sheet-tab-hidden:not(:checked):hover+span.sheet-tab {
    background-color: #333333;
    height: 2em;
    margin: -3px 0 0 0;
}

input[type="radio"].sheet-tab-hidden:checked+span.sheet-tab {
    background-color: white;
    color: #000;
    font-weight: bold;
    height: 2em;
    margin: -4px 0 0 0;
    box-shadow: 2px 1px 5px #000;
    z-index: 1;
}

div.sheet-spell-tabs>input.sheet-tab-hidden {
    opacity: 0;
    position: relative;
    margin: 0 -5em 0 0;
    width: 8%;
    height: 1.2em;
    z-index: 1;
}

table,
tr {
    width: 100%;
}

table,
tr,
td {
    font-size: 12px;
    font-weight: bold;
}

input {
    border: 1px transparent;
    border-bottom: 1px solid;
    background-color: transparent;
    text-align: center;
    font-family: cursive;
    font-size: 1.1em;
    color: #262626;
}

.sheet-input-small,
input[type="number"].sheet-input-small,
input[type="text"].sheet-input-small {
    width: 3.75em;
    height: 1.85em;
}

.sheet-input-medium,
input[type="number"].sheet-input-medium,
input[type="text"].sheet-input-medium {
    width: 80%;
    height: 1.85em;
}

.sheet-input-large,
input[type="number"].sheet-input-large,
input[type="number"].sheet-input-large {
    width: 100%;
    height: 1.85em;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly] {
    cursor: not-allowed;
    background-color: rgba(245, 245, 245, 0.85);
}

select {
    background-color: transparent;
    cursor: pointer;
}

button[type=roll].sheet-button-url {
    background-color: transparent;
    background-image: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #1e90ff;
    text-decoration: underline;
    border: none;
    vertical-align: bottom;
    box-shadow: none;
}

button[type=roll].sheet-button-url::before {
    content: '';
}

button[type=roll].sheet-button {
    font-size: 1em;
    line-height: 1.5em;
    white-space: nowrap;
    background-image: none;
}
.sheet-darkmode .tab-content .sheet-background button[type=roll].sheet-button {
    background-color: #1f1f1f;
    color: #fff;
    text-shadow: none;
}

.sheet-header {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 -5px 0 0;
}

hr {
    border-top: 1px solid #8c8b8b;
    margin: 5px;
}

.sheet-text-small {
    font-size: 10px;
}

.sheet-text-large {
    font-size: 14px;
    font-weight: bold;
}

div.sheet-table-row textarea {
    width: 94%;
    resize: vertical;
    margin: 0 10px 5px 20px;
    height: 60px;
    background-color: transparent;
}

/*hide and seek magic*/
input[type="checkbox"].sheet-sect-show {
    opacity: 0;
    position: relative;
    height: 1em;
    z-index: 1;
    cursor: pointer;
}

.sheet-sect-show:not(:checked)~.sheet-sect {
    display: none;
}

input[type="checkbox"]+span:not(.sheet-not-sheet-show)::before {
    display: inline-block;
    content: '►';
    width: 14px;
    height: 16px;
    font-size: .85em;
    vertical-align: text-bottom;
    margin-bottom: 1px;
}

input[type="checkbox"]:checked+span:not(.sheet-not-sheet-show)::before {
    content: '▼';
}

/*rep-items counter*/
.sheet-repeating-fields {
    counter-reset: sheet-rep-items -1;
}

input[type="checkbox"].sheet-counted+span:not(.sheet-not-sheet-show)::before {
    counter-increment: sheet-rep-items;
    content: counter(sheet-rep-items) '. ';
    width: auto;
}

input[type="checkbox"].sheet-counted:checked+span:not(.sheet-not-sheet-show)::before {
    counter-increment: sheet-rep-items;
    content: counter(sheet-rep-items) '. ';
    width: auto;
}

.sheet-personal_attributes,
.sheet-abilities,
.sheet-saves,
.sheet-weapons,
.sheet-to_hit_AC,
.sheet-thac0,
.sheet-thief_skills,
.sheet-wealth,
.sheet-equipment,
.sheet-special_abilities,
.sheet-nonweapon_proficiencies,
.sheet-spells,
.sheet-notes {
    margin-top: 0;
}

/*to-hit AC*/
.sheet-box {
    border: 1px solid #000;
    height: 30px;
    width: 50px;
    font-size: 14px;
}

tr.sheet-to-hit td:nth-child(odd) {
    background-color: rgba(148, 148, 148, 0.5);
    color: #ffffff;
}

tr.sheet-to-hit td:nth-child(even) {
    background-color: rgba(236, 236, 236, 0.85);
    color: initial;
}

.sheet-to-hit-input input {
    width: 100%;
    height: 24px;
    text-align: center;
}

.sheet-rolltemplate-attacks .sheet-ToHit strong,
.sheet-rolltemplate-attacks .sheet-ToHit span {
    min-width: 1.1em;
}

div.sheet-footer span.sheet-data input[type="text"] {
    width: 21em;
    height: 1.5em;
    border: none;
    background-color: transparent;
    margin-top: -2px;
}

/*repeating sections*/
span.sheet-data.sheet-center input {
    width: 5.5em;
    height: 2em;
}

span.sheet-data.sheet-center {
    padding: 0 4px 0 4px;
}

textarea.sheet-weapons {
    width: 22em;
    resize: vertical;
    height: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    margin: 0;
}

textarea.sheet-macro-text {
    width: 5.5em;
    resize: vertical;
    height: 1.3em;
    overflow: hidden;
    white-space: pre-line;
    background-color: transparent;
    margin: 0;
}

/*Roll Templates*/
/*Attacks*/
.sheet-rolltemplate-attacks table {
    width: 100%;
    background-color: white;
    border: 2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-attacks th {
    background-color: #000;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.sheet-rolltemplate-attacks .sheet-subheader {
    background-color: #000;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 5px;
}

.sheet-rolltemplate-attacks .sheet-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-attacks td {
    color: initial;
    padding: 2px;
    line-height: 1em;
    vertical-align: top;
    text-align: right;
}

.sheet-rolltemplate-attacks .sheet-text {
    color: initial;
    padding: 2px;
    line-height: 1em;
    vertical-align: top;
    text-align: left;
}

.sheet-rolltemplate-attacks .sheet-ToHit {
    font-family: monospace;
    font-size: 10px;
    line-height: .80em !important;
}

.sheet-rolltemplate-attacks td.sheet-ToHit .inlinerollresult {
    border: none;
    padding: 2px 0 0 0;
    font-size: 10px;
}

.sheet-rolltemplate-attacks tr:nth-child(odd) {
    background-color: #E6E6E6;
}

.sheet-rolltemplate-attacks tr:nth-child(even) {
    background-color: #A3A3A3;
}

.sheet-rolltemplate-attacks .inlinerollresult {
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    text-align: right;
    border: 1px solid #000;
    padding: 2px;
}

.sheet-rolltemplate-attacks .inlinerollresult.fullcrit {
    border: 2px solid #3FB315;
}

.sheet-rolltemplate-attacks .inlinerollresult.fullfail {
    border: 2px solid #B31515;
}

.sheet-rolltemplate-attacks .inlinerollresult.importantroll {
    border: 2px solid #4A57ED;
}

/*General*/
.sheet-rolltemplate-general table {
    width: 100%;
    background-color: white;
    border: 2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-general th {
    background-color: #000;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sheet-rolltemplate-general .sheet-subheader {
    background-color: #000;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sheet-rolltemplate-general .sheet-text {
    padding: 2px;
    line-height: 1em;
    vertical-align: top;
    text-align: left;
}

.sheet-rolltemplate-attacks.sheet-color-white th,
.sheet-rolltemplate-attacks.sheet-color-white .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-white th,
.sheet-rolltemplate-general.sheet-color-white .sheet-subheader {
    background-color: #ffffff;
}

.sheet-rolltemplate-attacks.sheet-color-grey th,
.sheet-rolltemplate-attacks.sheet-color-grey .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-grey th,
.sheet-rolltemplate-general.sheet-color-grey .sheet-subheader {
    background-color: #A3A3A3;
}

.sheet-rolltemplate-attacks.sheet-color-darkgrey th,
.sheet-rolltemplate-attacks.sheet-color-darkgrey .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-darkgrey th,
.sheet-rolltemplate-general.sheet-color-darkgrey .sheet-subheader {
    background-color: #525252;
}

.sheet-rolltemplate-attacks.sheet-color-red th,
.sheet-rolltemplate-attacks.sheet-color-red .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-red th,
.sheet-rolltemplate-general.sheet-color-red .sheet-subheader {
    background-color: #D60010;
}

.sheet-rolltemplate-attacks.sheet-color-darkred th,
.sheet-rolltemplate-attacks.sheet-color-darkred .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-darkred th,
.sheet-rolltemplate-general.sheet-color-darkred .sheet-subheader {
    background-color: #85000A;
}

.sheet-rolltemplate-attacks.sheet-color-orange th,
.sheet-rolltemplate-attacks.sheet-color-orange .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-orange th,
.sheet-rolltemplate-general.sheet-color-orange .sheet-subheader {
    background-color: #DC6B00;
}

.sheet-rolltemplate-attacks.sheet-color-darkorange th,
.sheet-rolltemplate-attacks.sheet-color-darkorange .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-darkorange th,
.sheet-rolltemplate-general.sheet-color-darkorange .sheet-subheader {
    background-color: #7F3E00;
}

.sheet-rolltemplate-attacks.sheet-color-yellow th,
.sheet-rolltemplate-attacks.sheet-color-yellow .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-yellow th,
.sheet-rolltemplate-general.sheet-color-yellow .sheet-subheader {
    background-color: #FCED24;
}

.sheet-rolltemplate-attacks.sheet-color-darkyellow th,
.sheet-rolltemplate-attacks.sheet-color-darkyellow .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-darkyellow th,
.sheet-rolltemplate-general.sheet-color-darkyellow .sheet-subheader {
    background-color: #dbcb00;
}

.sheet-rolltemplate-attacks.sheet-color-green th,
.sheet-rolltemplate-attacks.sheet-color-green .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-green th,
.sheet-rolltemplate-general.sheet-color-green .sheet-subheader {
    background-color: #11B400;
}

.sheet-rolltemplate-attacks.sheet-color-darkgreen th,
.sheet-rolltemplate-attacks.sheet-color-darkgreen .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-darkgreen th,
.sheet-rolltemplate-general.sheet-color-darkgreen .sheet-subheader {
    background-color: #0B7000;
}

.sheet-rolltemplate-attacks.sheet-color-blue th,
.sheet-rolltemplate-attacks.sheet-color-blue .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-blue th,
.sheet-rolltemplate-general.sheet-color-blue .sheet-subheader {
    background-color: #325eff;
}

.sheet-rolltemplate-attacks.sheet-color-darkblue th,
.sheet-rolltemplate-attacks.sheet-color-darkblue .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-darkblue th,
.sheet-rolltemplate-general.sheet-color-darkblue .sheet-subheader {
    background-color: #001896;
}

.sheet-rolltemplate-attacks.sheet-color-purple th,
.sheet-rolltemplate-attacks.sheet-color-purple .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-purple th,
.sheet-rolltemplate-general.sheet-color-purple .sheet-subheader {
    background-color: #740091;
}

.sheet-rolltemplate-attacks.sheet-color-darkpurple th,
.sheet-rolltemplate-attacks.sheet-color-darkpurple .sheet-subheader,
.sheet-rolltemplate-general.sheet-color-darkpurple th,
.sheet-rolltemplate-general.sheet-color-darkpurple .sheet-subheader {
    background-color: #430054;
}

.sheet-rolltemplate-general .sheet-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-general td {
    color: initial;
    padding: 2px;
    line-height: 1em;
    vertical-align: top;
    text-align: center;
}

.sheet-rolltemplate-general tr:nth-child(odd) {
    background-color: #E6E6E6;
}

.sheet-rolltemplate-general tr:nth-child(even) {
    background-color: #A3A3A3;
}

.sheet-rolltemplate-general .inlinerollresult {
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    text-align: right;
    border: 1px solid #000;
    padding: 2px;
}

.sheet-rolltemplate-general .inlinerollresult.fullcrit {
    border: 2px solid #3FB315;
}

.sheet-rolltemplate-general .inlinerollresult.fullfail {
    border: 2px solid #B31515;
}

.sheet-rolltemplate-general .inlinerollresult.importantroll {
    border: 2px solid #4A57ED;
}

.sheet-rolltemplate-general .sheet-savethrow .inlinerollresult.importantroll {
    border: 2px solid #3FB315;
}

.sheet-rolltemplate-general .sheet-savethrow {
    vertical-align: inherit;
    font-weight: bold;
}

.sheet-version {
    max-width: 3em;
    height: 1.5em;
    border: none;
    background-color: transparent;
    text-align: left;
}

/* align equipment fields to column headings */
table.sheet-sect td>input[title^="@{repeating_equipment"] {
    width: 100%;
}