//- OBJECTS
//- =============================
- const attributeObject = ["Accurate", "Cunning", "Discreet", "Persuasive", "Quick", "Resolute", "Strong", "Vigilant"];
- const diceTypes = ["0", "d4", "d6", "d8", "d10", "d12"];