/* configure the tab buttons */
.charsheet .sheet-character,
.charsheet .sheet-configuration,
.charsheet .sheet-journal {
    display: none;
}

/* style the active button */
.charsheet .sheet-tabstoggle[value="character"] ~ div .sheet-button0 {outline: 2px solid red;}
.charsheet .sheet-tabstoggle[value="configuration"] ~ div .sheet-button2 {outline: 2px solid red;}
.charsheet .sheet-tabstoggle[value="journal"] ~ div .sheet-button1 {outline: 2px solid red;}


/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="configuration"] ~ div.sheet-configuration,
.charsheet .sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
    display: block;
}

.ukryte
{
  visibility: hidden;
}
