/*----------------- MAIN CONTAINER DEFINITIONS ------------------*/
@import url('https://fonts.googleapis.com/css?family=Special+Elite|Rosarivo&display=swap');

.main-container {
	min-height: 600px;
  min-width: 800px;
  max-width: 1000px;
}

/*----------------- GENERAL CSS ------------------*/

.main-font {
	font-family: 'Special Elite';
	font-size: 1em;
	font-weight: 1000;
	color: #604241;
}

.second-font {
	font-family: 'Rosarivo';
	font-size: 0.8em;
}

.flex-row {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nowrap {
	flex-wrap: nowrap;
}

.main-container input {
	margin: 2px;
	flex-grow: 1;
	border: none;
  border-bottom: 1.5px solid #604241;
}

.main-container input[type=number] {
  width: 40px;
}

.main-container fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.main-container textarea {
	margin: 2px;
	flex-grow: 1;
	min-height: 10em;
	border: 1.5px solid #604241;
}

.section {
	margin: 0.7em;
}

.section-title {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.grow {
	flex-grow: 1;
}

.center {
	justify-content: center;
	align-items: center;
}

.border {
	border-width: 1px;
	border-style: outset;
	padding: 2px;
}

.big-margin-bottom {
  margin-bottom: 20px;
}

.repeatable-item {
	margin-bottom: 5px;
}

/*------------- GRID SECTIONS -------------*/

.middle-section {
  justify-content: flex-start;
}

.left-column {
  justify-content: stretch;
	width: 50%;
	border-right: 1.5px solid #604241;
}

.right-column {
	width: 50%;
}

.footer {
	font-style: italic;
	font-size: 0.7em;
	justify-content: flex-end;
}
