//- abstracts
include pug/abstracts/mixins.pug
include pug/abstracts/rolls.pug
include pug/abstracts/variables.pug

//- load components
include pug/components/ka-selector.pug
include pug/components/degre-metamorphe.pug
include pug/components/chute.pug
include pug/components/incarnation-selector.pug

+hiddenInput('version', 1)
+hiddenInput('malusMag', 0)
+hiddenInput('malusPhy', 0)
+hiddenInput('KADFeu', 0)
+hiddenInput('KADTerre', 0)
+hiddenInput('KADAir', 0)
+hiddenInput('KADLune', 0)
+hiddenInput('KADEau', 0)

.container
    img.logo(src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Nephilim-Legende/img/logo.PNG", alt="logo")

    //- menu
    include pug/menuTop.pug
    include pug/menu.pug
    //- tabs
    include pug/tabs/tab1-nephilim.pug
    include pug/tabs/tab2-simulacre.pug
    include pug/tabs/tab3-incarnations.pug
    include pug/tabs/tab4-combat.pug
    include pug/tabs/tab5-magie.pug
    include pug/tabs/tab6-kabbale.pug
    include pug/tabs/tab7-alchimie.pug
    include pug/tabs/tab8-constructs.pug
    include pug/tabs/tab9-fraternite.pug
    include pug/tabs/tab10-arcadia.pug
    include pug/tabs/tab11-selenim.pug
    include pug/tabs/tab12-rites.pug
    include pug/tabs/tab13-kabnoire.pug
    include pug/tabs/tab14-imago.pug

    //- roll templates
    include pug/rolltemplates/rt-base.html
    include pug/rolltemplates/rt-sort.html
    include pug/rolltemplates/rt-invocation.html
    include pug/rolltemplates/rt-opposition.html
    include pug/rolltemplates/rt-formule.html
    include pug/rolltemplates/rt-initiative.html
    include pug/rolltemplates/rt-rite.html

//- workers
script(type='text/worker')
    include js/startup.js
    include js/repeating.js