
input(type="checkbox" id="options_toggle" name="attr_options_toggle").close
label(for="options_toggle").close
    img(src="https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Blood_and_Doom_by_Dicetale_Games/static/cogwheel.svg")

.inline.info
    +text-input("player_role", "PLAYER_ROLE").noline

    +text-input("origin", "ORIGIN").noline

    +text-input("class", "CLASS_ARCHETYPE").noline

    +text-input("character_name", "CHARACTER_NAME").noline

    +text-input("gold", "GOLD").noline.half
    +text-input("silver", "SILVER").noline.half


    +text-input("level", "LEVEL").noline
    +text-input("xp", "XP")(value="10000").noline.half


.inline.tabs
    label.tab-character.active.sans-serif MAIN SHEET
        input(type="radio" name="attr_tab" value="character").hidden
    div
        img(src="https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Blood_and_Doom_by_Dicetale_Games/static/logo_1300_inline.png")
    label.tab-bio.sans-serif CHARACTER PATH
        input(type="radio" name="attr_tab" value="bio").hidden

