button(type="action" name="act_close_options").close
    img(src="https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Blood_and_Doom_by_Dicetale_Games/static/close.svg")
h1(data-i18n="OPTIONS")
.inline
    .column
        label(data-i18n="THEME" for="select_theme")
        select(name="attr_theme" id="select_theme")
            option(value="a" selected data-i18n="THEME_A") Theme A
            option(value="b" data-i18n="THEME_B") Theme B
            option(value="c" data-i18n="THEME_C") Theme C
            option(value="a_dark" data-i18n="THEME_A_DARK") Theme A (Dark)
    .column
        label(data-i18n="TILES_OPACITY" for="select_opacity")
        select(name="attr_tiles_opacity" id="select_opacity")
            option(value="1" selected data-i18n="OPAQUE")
            option(value="0.9" data-i18n="TRANSPARENT")
    .column
        label(data-i18n="SHOW_POWERS_MAGIC" for="show_powers_magic")
        select(name="attr_show_powers_magic" id="show_powers_magic")
            option(value="powers" selected data-i18n="POWERS")
            option(value="magic" data-i18n="MAGIC")
