.bio-grid
    +griditem('languages').tile
        h5(data-i18n='LANGUAGES_ARTISAN_FIELDS_INSTRUMENTS')
        textarea(name=`attr_languages`).diminutive
    +griditem('deities').tile
        h5(data-i18n='DEITIES_AND_SPIRITS')
        textarea(name=`attr_deities`).diminutive
    +biotile('personality')
    +biotile('party-vow')
    +biotile('people')
    +biotile('treasure').tall
    +griditem('avatar')
        div.sheet-avatar
            img(name='attr_character_avatar').sheet-avatar
    +biotile('appearance')
    +biotile('ideals')
    +biotile('habits')
    +biotile('possession')
    +biotile('property').tall
