
mixin biotile(name)
    +griditem(name)(class=name).tile
        h2(data-i18n=name)
        textarea(name=`attr_${name}`)

.bio-grid
    +griditem('languages').tile
        h5(data-i18n='LANGUAGES')
        textarea(name=`attr_languages`).diminutive
    +griditem('deities').tile
        h5(data-i18n='DEITIES_AND_SPIRITS')
        textarea(name=`attr_deities`).diminutive
    +biotile('personality')
    +biotile('party-vow')
    +biotile('people')
    +biotile('treasure')
    +griditem('avatar')
        div.sheet-avatar
            img(name='attr_character_avatar').sheet-avatar
    +biotile('appearance')
    +biotile('ideals')
    +biotile('habits')
    +biotile('possession')
    +biotile('property')
