rolltemplate.sheet-rolltemplate-ability
    .sheet-template-container
        .sheet-template-header
            h1.sheet-template-name {{charname}}
            h2.sheet-template-title {{title}}
        .sheet-template-rolls
            span.sheet-template-roll {{computed::successes}} Successes vs Difficulty {{difficulty}}
            br
            | {{#^rollLess() computed::successes difficulty}}
            h5.sheet-good.sheet-template-roll SUCCESS {{#extra_successes}}+{{computed::extra_successes}}{{/extra_successes}}
            | {{/^rollLess() computed::successes difficulty}}
            | {{#rollLess() computed::successes difficulty}}
            h5.sheet-bad FAILURE
            | {{#rollLess() computed::setback 4}}
            h5.sheet-purple SETBACK
            | {{/rollLess() computed::setback 4}}
            | {{/rollLess() computed::successes difficulty}}

rolltemplate.sheet-rolltemplate-doom
    .sheet-template-container
        .sheet-template-header
            h1.sheet-template-name {{charname}}
            h2.sheet-template-title {{title}}
        .sheet-template-rolls
            span.sheet-template-roll {{computed::successes}} Successes vs Difficulty {{difficulty}}
            br
            | {{#^rollLess() computed::successes difficulty}}
            h5.sheet-good.sheet-template-roll SUCCESS
            | {{/^rollLess() computed::successes difficulty}}
            | {{#rollLess() computed::successes difficulty}}
            h5.sheet-bad FAILURE
            | {{/rollLess() computed::successes difficulty}}

rolltemplate.sheet-rolltemplate-damage
    .sheet-template-container
        .sheet-template-header
            h1.sheet-template-name {{charname}}
            h2.sheet-template-title {{title}}
        .sheet-template-rolls
            span.sheet-template-roll {{dice}}
            br
            h5.sheet-template-roll.sheet-amber {{computed::damage}} DAMAGE
