- var trackValues = { 5: '+5', 4: '+4', 3: '+4', 2: '+2', 1: '+1', 0: '0' }
div.sheet-character-details-bar
  div
    div.sheet-character-name
      input(type='text' class='sheet-pc-name' name='attr_character_name' placeholder='Character Name')
    
    include ../resources/resources.pug 
