div.sheet-Fae,
div.sheet-Ghost,
div.sheet-Ghoul,
div.sheet-Hollow,
div.sheet-Infernal,
div.sheet-Mortal,
div.sheet-Queen,
div.sheet-Vampire,
div.sheet-Werewolf,
div.sheet-Witch,
div.sheet-Custom
{
    display: none;
}

input[type="radio"][value="0"]:checked ~ div.sheet-DarkestSelf-Rewritten
{
    display: none;
}

input[type="radio"][value="1"]:checked ~ div.sheet-Fae,
input[type="radio"][value="2"]:checked ~ div.sheet-Ghost,
input[type="radio"][value="3"]:checked ~ div.sheet-Ghoul,
input[type="radio"][value="4"]:checked ~ div.sheet-Hollow,
input[type="radio"][value="5"]:checked ~ div.sheet-Infernal,
input[type="radio"][value="6"]:checked ~ div.sheet-Mortal,
input[type="radio"][value="7"]:checked ~ div.sheet-Queen,
input[type="radio"][value="8"]:checked ~ div.sheet-Vampire,
input[type="radio"][value="9"]:checked ~ div.sheet-Werewolf,
input[type="radio"][value="10"]:checked ~ div.sheet-Witch,
input[type="radio"][value="99"]:checked ~ div.sheet-Custom
{
    display: block;
}

.sheet-move_radio{
		display:inline-block!important;
}	



select.sheet-SkinSelect 
{
    position: relative;
    top: 4px;
}

input[type="radio"] 
{
    display: none;
}

option.sheet-SkinSelect:checked   
{
    display: none;
}

/* TEXT FORMATTING */

h1 {
    font-size: 120%;
    font-family: "Tahoma";
    color: black;
    
}
/* HR line */

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 4px solid #000;
    margin: 1em 0;
    padding: 0;
}



/* ROLL TEMPLATE */

.sheet-rolltemplate-mh2 table {
    margin-left: -45px;
    margin-right: -1px;
    width: 280px;
    height: 165px;
    padding: 0px;
 	background: url(http://i.imgur.com/7hM6C1Z.gif) top left;
    background-size: 280px 165px; 
    background-repeat: no-repeat;
    font-family: "Baskerville", "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
	border-spacing:0;
}
 
.sheet-rolltemplate-mh2 th {
    color: rgb(250, 250, 250);
	font-size: 1.7em;
    text-align: left;
    font-family: "Baskerville";
    color: white;
    text-shadow:
    -1px -1px 0 #dc1921,  
     1px -1px 0 #dc1921,
    -1px  1px 0 #dc1921,
     1px  1px 0 #dc1921;
	border-style:solid;
	border-width:0px;
	vertical-align:bottom;
	height: 30px;
}

 
.sheet-rolltemplate-mh2 td {
    vertical-align: top;
    font-family: "Baskerville";
	border-style:solid;
	border-width:0px;
	height: 30px;
	font-size: 1em;
	vertical-align:center;
    color: #ffffff;
}

 
.sheet-rolltemplate-mh2 .sheet-result {
    font-size: 5em;
    text-align: center;
	padding-top: 40px;
} 
 
.sheet-rolltemplate-mh2 .inlinerollresult,
.sheet-rolltemplate-mh2 .inlinerollresult.fullcrit,
.sheet-rolltemplate-mh2 .inlinerollresult.fullfail,
.sheet-rolltemplate-mh2 .inlinerollresult.importantroll{
    background-color: transparent;
    color: #dc1921;
    border: none;
}

.sheet-rolltemplate-mh2 .sheet-success .inlinerollresult,
.sheet-rolltemplate-mh2 .sheet-success .inlinerollresult.fullcrit,
.sheet-rolltemplate-mh2 .sheet-success .inlinerollresult.fullfail,
.sheet-rolltemplate-mh2 .sheet-success .inlinerollresult.importantroll{
    background-color: transparent;
    color: #dc1921;
    border: none;
}

.sheet-rolltemplate-mh2 .sheet-failure .inlinerollresult,
.sheet-rolltemplate-mh2 .sheet-failure .inlinerollresult.fullcrit,
.sheet-rolltemplate-mh2 .sheet-failure .inlinerollresult.fullfail,
.sheet-rolltemplate-mh2 .sheet-failure .inlinerollresult.importantroll{
    background-color: transparent;
    color: #dc1921;
    border: none;
}




