/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-color: #FFFFFF;
	box-sizing: content-box; 
	background-size: cover;
	width: 1050px;
	min-width:1050px;
	border: 5px solid #000000;
}


/* Universal styling applied to all elements of these types */

h1 {
	font-size: 30px;
	margin-bottom:5px;
	text-align: center;
	background-color: #FFFFFF;
	color:#6B1C20;
}

h2 {
	font-size: 16px;
	margin-bottom:5px;
	text-align: left;
	background-color: #FFFFFF;
	color:#6C9DAC;
	max-width:450px;
}

h3 {
	font-size: 15px;
	text-align: center;
	color:#FFFFFF;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	text-align: center;
	background-color: #FFFFFF;
	color:#6C9DAC;
	max-width:450px;
}

h5 {
	font-size: 16px;
	text-align: right;
	background-color: #FFFFFF;
	color:#6C9DAC;
	max-width:450px;
}

label {
    font-family: verdana;
	font-size: 1em ;
	margin-top:5px;
	margin-bottom: 0px;
}

input {
    font-family:verdana;
	display: inline;
	width: 100%;
	border:0px;
	border-bottom: 2px solid #000000;
	margin-bottom:5px;
	
}

img {
    max-height: 180px;
}

textarea {
	resize: vertical;
	border:2px solid #000000;
}


/* Targetted styling that only effects elements with these classes */

div.centre{
    margin:auto;
}

img.sheet-imagebateau {
    max-height: 250px;
}


input.sheet-pirates {
    font-family:verdana;
	display: inline;
	width: 45%;
	border:0px;
	border-bottom: 2px solid #000000;
	margin-bottom:5px;
	
}

input.sheet-officiers {
    font-family:verdana;
	display: inline;
	border:0px;
	border-bottom: 2px solid #000000;
	margin-bottom:5px;
}

td.sheet-texttalentspirates {
  padding: 5px;
}

button.sheet-boutontalents {
  vertical-align:middle;
    
}


textarea.sheet-description {
    height:200px;
}

textarea.sheet-chasse {
    height:400px;
}


textarea.sheet-infoscomp {
    width:100%;
    height:50px;
}

textarea.sheet-devtalentsclassique {
    width:96%;
    height:75px;
}

textarea.sheet-notes {
    width:99%;
}



input.sheet-choix {
	width: 15px;
	background:transparent;
}


p.sheet-infos {
    font-family:verdana;
    color: #6C9DAC;
    font-weight:"bold";
}

input.sheet-attributs {
    font-family:verdana;
    font-size:15px;
	border:0px;
	text-align:right;
	font-weight: bold;
	background:transparent;
}

input.sheet-choix2 {
	width: 10px;
	margin-bottom:2px;
	margin-top:2px;
	margin-right:2px;
	margin-left=-2px;
	
}

input.sheet-attributs2 {
    font-family:verdana;
    display:inline;
    font-size:12px;
	border:1px solid #000000;
	text-align:right;
	font-weight: bold;
	margin-bottom:2px;
	margin-top:2px;
	margin-right:-4px;
	margin-left=-10px;
}

input.sheet-attributs3 {
    font-family:verdana;
    display:inline;
    font-size:12px;
	border:0px;
	text-align:right;
	font-weight: bold;
	margin-bottom:2px;
	margin-top:2px;
	margin-right:-4px;
	margin-left=-10px;
}

input.sheet-talents {
    font-size: 15px;
    border:0px;
	font-weight: bold;
	vertical-align:middle;
	background:transparent;
	color:#ffffff;
}


input.sheet-infosbateau {
    font-size: 15px;
    border:0px;
	font-weight: bold;
	text-align:center;
	vertical-align:middle;
	background:transparent;
	color:#000000;
}

input.sheet-titrebateau {
    font-size: 24px;
	margin-bottom:5px;
	border:0px;
	text-align: center;
	background-color: #FFFFFF;
	color:#6B1C20;
	display:inline;
	font-weight: bold;
}


input.sheet-textarmeblanche {
    font-size: 12px;
    border:0px;
	font-weight: bold;
	vertical-align:middle;
	background:transparent;
	color:#000000;
	width:90%;
}

input.sheet-texttalents2 {
    font-size: 15px;
    width:80%;
    display:inline;
    border:0px;
    background:transparent;
	vertical-align:middle;
	margin-bottom:-2px;
	margin-top:-2px;
	margin-right:-4px;
	margin-left=-4px;
}

input.sheet-pointsaventure {
    font-size: 12px;
    width:auto;
    display:inline;
    border:1px solid #000000;
	font-weight: bold;
	vertical-align:middle;
	margin-bottom:2px;
	margin-top:2px;
	margin-right:2px;
	margin-left=2px;
	background-color:#f2ece5;
}


input.sheet-degats {
    font-size: 12px;
    width:50px;
    display:inline;
    border:1px solid #000000;
	font-weight: bold;
	vertical-align:middle;
	margin-bottom:2px;
	margin-top:2px;
	margin-right:2px;
	margin-left=2px;
}

input.sheet-option4x4 {
    	width: 15px;
}

input.sheet-optiondecouverte {
    	width: 15px;
}

input.sheet-optiontalents {
    	width: 15px;
}

input.sheet-optionsorts {
    	width: 15px;
}

input.sheet-affoptions {
        width:15px;
}

input.sheet-optionbateau {
        width:15px;
}


div.sheet-showoptions {
    display:none;
}

input.sheet-affoptions:checked ~ div.sheet-showoptions{
    display:inline;
}


div.sheet-sloop,div.sheet-gardecote,div.sheet-cotre,div.sheet-brigantin, 
div.sheet-goelette, div.sheet-galion, div.sheet-fregate, div.sheet-corvette, div.sheet-marchand {
    display:none;
}

input.sheet-typesbateaux {
    	width: 15px;
}

input.sheet-typesbateaux:checked ~ div.sheet-sloop, input.sheet-typesbateaux:checked ~ div.sheet-gardecote,
input.sheet-typesbateaux:checked ~ div.sheet-cotre, input.sheet-typesbateaux:checked ~ div.sheet-brigantin, 
input.sheet-typesbateaux:checked ~ div.sheet-goelette, input.sheet-typesbateaux:checked ~ div.sheet-galion, 
input.sheet-typesbateaux:checked ~ div.sheet-fregate, input.sheet-typesbateaux:checked ~ div.sheet-corvette, 
input.sheet-typesbateaux:checked ~ div.sheet-marchand {
    display:inline;
}
    

div.sheet-shownormal,
input.sheet-optiondecouverte:checked ~ div.sheet-showdecouverte{
    display:inline;
}

div.sheet-showdecouverte,
input.sheet-optiondecouverte:checked ~ div.sheet-shownormal{
    display:none;
}




div.sheet-show3x3,
input.sheet-option4x4:checked ~ div.sheet-show4x4{
    display:inline;
}

div.sheet-show4x4,
input.sheet-option4x4:checked ~ div.sheet-show3x3{
    display:none;
}

div.sheet-showmetier,
input.sheet-optiontalents:checked ~ div.sheet-showtalents{
    display:inline;
}

div.sheet-showtalents,
input.sheet-optiontalents:checked ~ div.sheet-showmetier {
    display:none;
}


div.sheet-showfeuille,
input.sheet-optionbateau:checked ~ div.sheet-showbateau{
    display:inline;
}

div.sheet-showbateau,
input.sheet-optionbateau:checked ~ div.sheet-showfeuille {
    display:none;
}


div.sheet-showsorts {
    display:none;
}

input.sheet-optionsorts:checked ~ div.sheet-showsorts{
    display:inline;
}


input.sheet-choix2:checked ~ input.sheet-texttalents2 {
    text-decoration:underline;
}

div.sheet-texttalents3{
    font-size: 15px;
    display:inline;
    vertical-align:middle;
}


input.sheet-choix2:checked ~ div.sheet-texttalents3 {
    text-decoration:underline;
}


img.sheet-logo{
    height:30px;
}

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}

span.sheet-textattribut {
	font-size: 15px;
	font-weight: bold;
	vertical-align:middle;
	color:#FFFFFF;
}

span.sheet-modifbateau {
	font-size: 15px;
	font-weight: bold;
	vertical-align:middle;
	align-content:center;
	color:#FFFFFF;
}

span.sheet-textattribut2 {
	font-size: 15px;
	font-weight: bold;
	vertical-align:middle;
}

p.sheet-texttitretalent {
	font-size: 15px;
	font-weight: bold;
	vertical-align:middle;
	text-align:center;
	color:#FFFFFF;
}

span.sheet-textattributetat {
	font-size: 16px;
	font-weight: bold;
	vertical-align:middle;
	color:#FFFFFF;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-droite {
    text-align: right;
}

/* ROLLETEMPLATES */

/*TEST */
.sheet-rolltemplate-test div.sheet-template-container {
	border: 2px solid #000000 !important;
	border-radius: 3px 3px 3px 3px;
}

.sheet-rolltemplate-test .sheet-template-header {
	background-color: #FFFFFF;
	color: #000000;
	padding: 2px;
	border-bottom: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
}

.sheet-rolltemplate-test div {
	padding: 5px;
	border-bottom: 2px solid black;
}

.sheet-rolltemplate-test div:nth-child(odd) {
	background-color: #FFFFFF;
}

.sheet-rolltemplate-test div:nth-child(even) {
	background-color: #FFFFFF;
}

.sheet-rolltemplate-test .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #000000;
	background-color:#FFFFFF;
}

/*.sheet-rolltemplate-test .inlinerollresult.fullcrit {
	border: 2px solid #000000;
}

.sheet-rolltemplate-test .inlinerollresult.fullfail {
	border: 2px solid #000000;
}

.sheet-rolltemplate-test .inlinerollresult.importantroll {
	border: 2px solid #000000;
} */

/*REUSSITE*/
.sheet-rolltemplate-reussite div.sheet-template-container {
	border: 2px solid #000000 !important;
	border-radius: 3px 3px 3px 3px;
}

.sheet-rolltemplate-reussite .sheet-template-header {
	background-color: #FFFFFF;
	color: #000000;
	padding: 2px;
	border-bottom: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
}

.sheet-rolltemplate-reussite div {
	padding: 5px;
	border-bottom: 2px solid black;
}

.sheet-rolltemplate-reussite div:nth-child(odd) {
	background-color: #FFFFFF;
}

.sheet-rolltemplate-reussite div:nth-child(even) {
	background-color: #FFFFFF;
}

.sheet-rolltemplate-reussite .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #000000;
	background-color:#FFFFFF;
}

/*.sheet-rolltemplate-reussite .inlinerollresult.fullcrit {
	border: 2px solid #000000;
}

.sheet-rolltemplate-reussite .inlinerollresult.fullfail {
	border: 2px solid #000000;
}

.sheet-rolltemplate-reussite .inlinerollresult.importantroll {
	border: 2px solid #000000;
}
*/

/*ECHEC*/
.sheet-rolltemplate-echec div.sheet-template-container {
	border: 2px solid #000000 !important;
	border-radius: 3px 3px 3px 3px;
}

.sheet-rolltemplate-echec .sheet-template-header {
	background-color: #FFFFFF;
	color: #000000;
	padding: 2px;
	border-bottom: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
}

.sheet-rolltemplate-echec div {
	padding: 5px;
	border-bottom: 2px solid black;
}

.sheet-rolltemplate-echec div:nth-child(odd) {
	background-color: #FFFFFF;
}

.sheet-rolltemplate-echec div:nth-child(even) {
	background-color: #FFFFFF;
}

.sheet-rolltemplate-echec .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid #000000;
	background-color:#FFFFFF;
}

/*Menu*/

div.sheet-tab-content { 
    display: none;
    font-size: 1em;
}

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4 { 
    display: block;
    font-size: 1em;
}


input.sheet-tab {
    width: 180px;
    height: 18px;
    position: relative;
    color: #5C2E05;
    vertical-align: middle;
    left: 100px;
    margin: -82px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

input.sheet-tab+span::before {
    content: attr(title);
    border: solid 1px #c8c8c8;
    background: #f2ece5;
    border-color: black;
    text-align: center;
    display: inline-block;
    width: 180px;
    height: 18px;
    z-index: 1;
}

input.sheet-tab:checked+span::before {
    background: #6B1C20;
    color:#ffffff;
    font-weight: bold;
   
}




