.sheet-block-line
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;

    > *
    {
        flex-grow: 1;
        flex-shrink: 0;

        margin-bottom: $block-gap;
        margin-left:   $block-gap;
    }

    > :first-child
    {
        margin-left: 0;
    }

    > .sheet-list
    {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: $skill-width;
    }
}
