section#advancement.advancement.span-2
  h1(data-i18n='advancement')
  .hide-note
    h3(data-i18n='xp')
    +checkbox({class:'collapse', value:'0', name:'collapse-xp'})
    .notes.expanded
      p(class='indent bullet', 'data-i18n'="level up reminder line 0")
      p(class='indent bullet', 'data-i18n'="level up reminder line 1")
  .flex-box.row.center.hide-note
    p('data-i18n'="current")
    +input({name:'xp', type:'number', value:'0'})
    p('data-i18n'="interval")
    +input({name:'xp_interval', type:'number', value:'5'})
    p('data-i18n'="max")
    +input({name:'xp_max', type:'number', value:'15'})