section#camp.camp.span-2.long-2
  +input({name:'camp name', class:'h1-style-input', value:'camp', readonly: true})
  +textarea({name:'camp description', class:'serif emph textarea-5', spellcheck:'false', 'data-i18n-placeholder':'describe your camp'})
  h3(data-i18n='fixtures')
  +fieldset({name:'fixtures'})
    +text({name:'name', class:'h3-style-input underlined big', 'data-i18n-placeholder':'fixture'})
    +textarea({name:'description', class:'serif emph small textarea-3', spellcheck:'false', 'data-i18n-placeholder':'fixture description'})
    +textarea({name:'effects', class:'small textarea-4', 'data-i18n-placeholder':'fixture effects'})
    +collapse
    .grid___3col.half-gap.center.notes.expanded
      +text({name:'cost', class:'ability-info underlined capitalize center', 'data-i18n-placeholder':'purchase cost'})
      +text({name:'upgrade', class:'ability-info underlined capitalize center', 'data-i18n-placeholder':'upgrade cost'})
      +text({name:'invested', class:'ability-info underlined capitalize center dust', 'data-i18n-placeholder':'total invested'})
      +textarea({name:'upgrades', class:'small textarea-6', 'data-i18n-placeholder':'upgrade effects'})
    