section#kin-culture.kin-culture.span-2
  +input({name:'kin', class:'h1-style-input', 'data-i18n-placeholder':'kin', readonly: true})
  +textarea({name:'kin notes', class:'textarea-5', 'data-i18n-placeholder':'write about your kin', spellcheck:'false'})
  +input({name:'culture', class:'h1-style-input', 'data-i18n-placeholder':'culture', readonly: true})
  +textarea({name:'culture notes', class:'textarea-5', 'data-i18n-placeholder':'write about your culture', spellcheck:'false'})