section#notes.notes.span-2
  h1(data-i18n='notes')
  .flex-box
    +textarea({name:'bond notes', class:'textarea-3', 'data-i18n-placeholder':'write anything you want here'})
    +button({name:'quote', type:'roll', class:'quote'})
  +fieldset({name:'additional-notes'})
    .flex-box
      +textarea({name:'notes', class:'textarea-4', 'data-i18n-placeholder':'write any additional notes here'})
      +button({name:'quote', type:'roll', class:'quote'})