section#possessions.possessions.span-2 
  h1(data-i18n='possessions')
  +fieldset({name:'possessions'})
    +textarea({name:'items', class:'textarea-4', 'data-i18n-placeholder':'possessions textarea'})
  h3(data-i18n='resources')
  .repcol
    +fieldset({name:'resource'})
      .wealth.grid__3col.boxed.center
        +number({name:'no', class:'h3-style-input'})
        p(class='colon')
        +text({name:'info', class:'wealth', 'data-i18n-placeholder':'additional resource'})