section#possessions.possessions.span-2 
  h1(data-i18n='possessions')
  +fieldset({name:'possessions'})
    +textarea({name:'items', class:'textarea-4', 'data-i18n-placeholder':'possessions textarea'})
  h3(data-i18n='wealth')
  +fieldset({name:'wealth'})
    .flex-box.row
      +input({name:'no', type:'number'})
      +textarea({name:'info', class:'wealth', 'data-i18n-placeholder':'additional wealth'})