.tab12
    .titleNecro
        h1 Nécromancie
        +numberInput('necromancie', 0)
        label
            span Réserve
            +numberInput('reserve')
    
    .rites
        h1 Rites
        span Nom du Rite
        span Voie
        span Coût
        span Durée
        span(title='Appris') A
        span(title='Tatoué') T
        span(title='Sur Focus') F
        span

        fieldset.repeating_rites
            +cbButton('attr_expand')(checked value=1)
            +textInput('nom')
            select(name='attr_voie')
                option(selected value=0)
                option(value='apaisement') Apaisement
                option(value='communication') Communication
                option(value='controler') Contrôle
            +numberInput('cout', 0)
            +textInput('duree')
            +cbButton('rite_a')(value=1)
            +cbButton('rite_t')(value=1)
            +cbButton('rite_f')(value=1)
            +rollButton('rite_roll', roll_rite)
            +hiddenInput('expand', 1)
            .autoex.autoex22
                +spanareaInput('rite_description')