.tab14
    .titleImago
        h1 Imago
        label
            span Réserve
            +numberInput('reserve')
    
    .nephilimPhrase
        span Description de l’Imago
        .autoex.autoex24
            +textareaInput('imago_descr')
            span
    
    .aspects
        h1 Aspects
        span Nom de l’aspect
        span Coût
        span KLN investi
        span Durée
        span Actif ?

        fieldset.repeating_aspects
            +cbButton('attr_expand')(value=1)
            +textInput('nom')
            +numberInput('cout', 0)
            +numberInput('investi', 0)
            +textInput('duree')
            +cbButton('controle')(value=1)
            +hiddenInput('expand', 1)
            .autoex.autoex24
                +spanareaInput('aspect_description')(placeholder='Description')
