.tab11
    .col
        label.headerName
            span Nom
            +textInput('character_name')
        
        .selenimPhrase
            span Votre Selenim en une phrase :
            .autoex.autoex24
                +spanareaInput('en_une_phrase')
        
        .noyauCompetence
            label
                span Pavane
                div
                    +numberInput('pavane', 3)
                    +rollButton('pavane', roll_pavane)
            label
                input(name='attr_approcheKLN' title='Approche de KLN' type='checkbox' value=1)
                span Changement de peau
                div
                    +numberInput('chmtPeau', 1)
                    +rollButton('chmtPeau', roll_chmtPeau)
                    +rollButton('chmtPeau', roll_chmtPeauAppr)
        .chutes
            h1 Chutes
            div
                +chute('ahasverus', 'Effet Ahasvérus')
                +textInput('ahasverus_form')
    
    .2colT1
        .noyau
            +rollButton('kanoyau', roll_noyau, 'Noyau')
            +numberInput('kaln', 1)(min=1)

            +rollButton('kareserve', roll_reserve, 'Réserve')
            +numberInput('reserve', 0)(min=0)

            //- Un truc qui manque ici
            button(name='roll_kareservemax' type='roll')
                span Max
            +numberInput('reserveMax', 0)(min=0)