.tab1
    .col
        label.headerName
            span Nom
            +textInput('character_name')
        .metamorphe
            div
                h1 Métamorphe
                +numberInput('metamorphe', 0)
            .textInput('metamorphose_name')
            span Métamorphose
            span Permanent
            fieldset.repeating_metamorphose
                label
                    span
                    +textInput('metamorphose_desc')
                +cbButton("attr_permanent")
        
        //- Degré de métamorphe inclus
        +degreMetamorphe(true)
    
    .2colT1
        .kaElement
            +rollButton('kafeu', roll_feu, "Ka-Feu")
            +numberInput('kafeu', 1)(min=1)

            +rollButton('katerre', roll_terre, "Ka-Terre")
            +numberInput('katerre', 1)(min=1)

            +rollButton('kaair', roll_air, "Ka-Air")
            +numberInput('kaair', 1)(min=1)

            +rollButton('kalune', roll_lune, "Ka-Lune")
            +numberInput('kalune', 1)(min=1)

            +rollButton('kaeau', roll_eau, "Ka-Eau")
            +numberInput('kaeau', 1)(min=1)

    .nephilimPhrase
        span Votre Nephilim en une phrase:
        .autoex.autoex24
            +spanareaInput('en_une_phrase')
    
    .col2
        .chutes
            h1 Chutes
            div
                +chute('kaiba', 'Khaiba')
                +textInput('kaiba_form')
            div
                +chute('ombre', 'Ombre')
            div
                +chute('narcose', 'Narcose')
    .col2
        .adoption
            div
                h1 Adoption
                +numberInput('simu-attr_arc_degre', 0)
            .autoex.autoex40
                +spanareaInput('arc_name')
                
        .stase
            div
                h1 Stase
                +numberInput('simu-attr_stase_degre', 0)
            .autoex.autoex40
                +spanareaInput('stase_name')