.tab10
    +degreMetamorphe()
    .arcadia
        div
            h1 Arcadia
            +hiddenInput('nature', 'nephilim').nature
            +kaSelectorArcadia('approche')
        span Vécu Arcadien
        span Quartier
        span Quadrant
        span Intime
        span Passages
        span Clé
        fieldset.repeating_arcadia
            div
                +textInput('vecuArcadien')
                +numberInput('vecuArcadienScore', 0)
            .autoex.autoex22
                +spanareaInput('quartier')
            .autoex.autoex22
                +spanareaInput('quadrant')
            div
                +cbButton('intime')(value=1)
            .autoex.autoex22
                +spanareaInput('passages')
            .autoex.autoex22
                +spanareaInput('cle')
            +rollButton('vecu', roll_arcadia_base)
    .titre
        h1 Titre
        +textInput('titre')