.tab13
    .titleKabbNoire
        h1 Kabbale noire
        +numberInput('kabbNoire', 0)
        label
            span Réserve
            +numberInput('reserve')
    
    .entites
        h1 Entités
        span Nom de l’Entité
        span Degré
        span Dmg.
        span Protec.
        span Entropie
        span Contrôle
        span(title='Appris') A
        span(title='Tatoué') T
        span(title='Sur Focus') F
        span
        span

        fieldset.repeating_entities
            +cbButton('attr_expand')(value=1)
            +textInput('nom')
            +numberInput('degre', 0)
            +textInput('dom')
            +textInput('protec')
            +textInput('entropie')
            +cbButton('controle')(value=1)
            +cbButton('entite_a')(value=1)
            +cbButton('entite_t')(value=1)
            +cbButton('entite_f')(value=1)
            +rollButton('invoc', roll_invoc)
            +rollButton('controle', roll_invoc_control)
            +hiddenInput('expand', 1)
            .autoex.autoex24
                +spanareaInput('ent_description')(placeholder='Description')