.tab2
    .simulacreTitre
        h1 Simulacre
        .simulacreIdentite1
            label
                span Nom
                +textInput('simu_name')
            label
                span Ka-Soleil
                +numberInput('simu-kasoleil', 0)
        .simulacreIdentite2
            label
                span Genre
                +textInput('simu_genre')
            label
                span Âge
                +numberInput('simu_age', 0)

    .simulacreVecus
        label Vécu principal
        +textInput('simu_vecu')(placeholder='Vécu')
        +numberInput('simu-vecu-nbr', 0)
        +hiddenInput('nature', 'nephilim').nature
        +kaSelectorVecuSimu('approche1', 'simu-vecu-nbr', '')
        +rollButton('vecu', roll_vecu_base
            .replace('__VECU__', 'simu_vecu')
            .replace('__APPR__', 'approche1'))
    .simulacreVecus
        label Vécu d’Initié
        +textInput('simu_vecu2')(placeholder='Vécu')
        +numberInput('simu-vecu-nbr2', 0)
        +hiddenInput('nature', 'nephilim').nature
        +kaSelectorVecuSimu('approche2', 'simu-vecu-nbr2', '2')
        +rollButton('vecu2', roll_vecu_base
            .replace('__VECU__', 'simu_vecu2')
            .replace('__APPR__', 'approche2'))

    .col2
        .simulacreDescription
            h1 Description
            .autoex.autoex40
                +spanareaInput('simu-descr')
        .simulacreProches
            h1 Proches
            .autoex.autoex40
                +spanareaInput('simu-proches')

    .col2
        .simulacreRessources
            label
                h1 Ressources et possessions notables
                +numberInput('simu_ressources_value', 0)
            .autoex.autoex24
                +spanareaInput('simu-ress')
        +hiddenInput('nature', 'nephilim').nature
        
        //- embarque sa div
        +degreMetamorphe()

        .equipement
            h1 Équipements
            fieldset.repeating_equipements
                .autoex.autoex22
                    +spanareaInput('equipement')