.tab3
    +degreMetamorphe(false)
    +epoquesIncarnation()

    .col2
        .quetesEsoteriques
            h1 Quêtes ésotériques
            fieldset.repeating_quetes-eso
                select(name="attr_quete_eso")
                    option(value="")
                    for queteEso in quetesEso
                        option(value=queteEso)!= queteEso
                    option(value="0") Personnalisé
                +numberInput("quete_eso_degres")
                +hiddenInput("quete_eso")
                +rollButton('roll_quetesEsoteriques', roll_quete_eso)
                +textInput("quete_eso_perso")
    
    .col2
        .savoirsEsoteriques
            h1 Savoirs ésotériques
            fieldset.repeating_savoir-eso
                select(name="attr_savoir_eso")
                    option(value="0") -- Savoir --
                    for savoirEso in savoirsEso
                        option(value=savoirEso)!= savoirEso
                    option(value="0") Personnalisé
                +numberInput("savoir_eso_degres", 0)
                +hiddenInput("savoir_eso")
                +rollButton('roll_savoirsEsoteriques', roll_savoir_eso)
                +textInput("savoir_eso_perso")