.tab4
    +hiddenInput('nature', 'nephilim').nature
    .col
        .actionsAttributs
            h1 Actions et attributs
            //- TODO temporairement iso-code, fix à faire
            div
                +hiddenInput('nature', 'nephilim')
                +rollButton('initiative', roll_init.replace('__INIT__', roll_init_neph), "Initiative").hideHumain.hideSelenim
                +rollButton('initiative', roll_init.replace('__INIT__', roll_init_humain), "Initiative").hideNephilim.hideSelenim
                +rollButton('initiative', roll_init.replace('__INIT__', roll_init_selenim), "Initiative").hideNephilim.hideHumain
                +numberInput('init', roll_init_neph)(disabled).hideHumain.hideSelenim
                +numberInput('init', roll_init_humain)(disabled).hideNephilim.hideSelenim
                +numberInput('init', roll_init_selenim)(disabled).hideNephilim.hideHumain
            label
                span Récupération
                +numberInput('recup', '11-@{katerre}')(disabled).hideHumain.hideSelenim
                +numberInput('recup', '11-@{simu-kasoleil')(disabled).hideNephilim.hideSelenim
                +numberInput('recup', '11-@{kaln}')(disabled).hideHumain.hideNephilim
            label
                span Mouvement
                +numberInput('mouv', roll_init_neph)(disabled).hideHumain.hideSelenim
                +numberInput('mouv', roll_init_humain)(disabled).hideNephilim.hideSelenim
                +numberInput('mouv', roll_init_selenim)(disabled).hideHumain.hideNephilim
            label
                span Bonus de dommages
                +numberInput('bonus-dom', 0)(readonly)
            label
                span Perspicacité
                +numberInput('persp', '11-@{kaair}')(disabled)
            label
                span Voile
                +numberInput('voile', '0')(readonly)

    .col
        .dommagesPhysiques
            h1 Dommages physiques
            div
                +hiddenInput('katerre', 0)
                +caseDommage('dom1', '1', '1')
                +caseDommage('dom2', '2', '2')
                +caseDommage('dom3', '3', '3')
                +caseDommage('dom4', '1', '4')
                +caseDommage('dom5', '1', '5')
            span Conséquences
            +caseConsequence('cons-min', 'Mineure', '-2')
            +caseConsequence('cons-ser', 'Sérieuse', '-4')
            +caseConsequence('cons-gra', 'Grave', '-6')
    .col
        .dommagesMagiques
            h1 Dommages magiques
            div
                +hiddenInput('dom-mag', 0)
                +caseDommage('dom-mag1', '1', '1')
                +caseDommage('dom-mag1', '2', '2')
                +caseDommage('dom-mag1', '3', '3')
            span Conséquences
            +caseConsequence('cons-mag-min', 'Mineure', '-2')
            +caseConsequence('cons-mag-ser', 'Sérieuse', '-4')
            +caseConsequence('cons-mag-gra', 'Grave', '-6')

    +degreMetamorphe()
    .simulacreVecus
        h1 Simulacre
        h1 Vécus contemporains
        h1
        div
            div
                label Vécu principal
            div
                +textInput('simu_vecu')(placeholder='Vécu')
                +numberInput('simu-vecu-nbr', 0)
            div
                +hiddenInput('nature', 'nephilim').nature
                +kaSelectorVecuSimu('approche', 'simu-vecu-nbr', '')
                +rollButton('vecu', roll_vecu_base
                    .replace('__VECU__', 'simu_vecu')
                    .replace('__APPR__', 'approche'))
        div
            div
                label Vécu secondaire
            div
                +textInput('simu_vecu2')(placeholder='Vécu')
                +numberInput('simu-vecu-nbr2', 0)
            div
                +hiddenInput('nature', 'nephilim').nature
                +kaSelectorVecuSimu('approche2', 'simu-vecu-nbr2', '2')
                +rollButton('vecu2', roll_vecu_base
                    .replace('__VECU__', 'simu_vecu2')
                    .replace('__APPR__', 'approche2'))

    +epoquesIncarnation()

    .col2
        .armes
            h1 Armes de mêlée
            span Type
            span Dommages
            fieldset.repeating_poss-arme
                +textInput('poss-arme-nom')
                +numberInput('poss-arme-degre', 0)
        .artefacts
            h1 Artefacts
            fieldset.repeating_posse-artefact-eso
                +textInput('poss-artefact-name')
                +elemSelect('poss-artefact-ka', '-- Ka-élément --')
                +numberInput('poss-artefact-score', 0)
                .autoex.autoex22
                    +spanareaInput('poss-artefact-def')
        .alchimie
            h1 Objets d'alchimie synthétisés
            fieldset.repeating_objets-alchimie
                .autoex.autoex22
                    +spanareaInput('objets')

    .col2
        .armes.armesFeu
            h1 Armes à feu
            span Type
            span Dommages
            fieldset.repeating_poss-arme-feu
                +textInput('poss-arme-nom')
                +numberInput('poss-arme-degre', 0)
        .armures
            h1 Armures
            span Type
            span Protection
            fieldset.repeating_poss-protec
                +textInput('poss-protec-nom')
                +numberInput('poss-protec-degre', 0)