.tab5
    h1.titreMagie Magie

    .col40
        .cercleMagie.cercleMagie1
            label
                h1 1er Cercle - Basse Magie
                +numberInput('mag-basse-degre', 0)
        .cercleMagie.cercleMagie2.cercleMargin
            label
                h1 2e Cercle - Haute Magie
                +numberInput('mag-haute-degre', 0)
        .cercleMagie.cercleMagie3.cercleMargin
            label
                h1 3e Cercle - Grand Secret
                +numberInput('mag-secret-degre', 0)

    .col60
        .vIEL
            h1 Voie Initiatique
            select(name='attr_mag-voie')
                option(value='0' selected)
                option(value='sentier-sinueux') Sentier sinueux
                option(value='spirale-elevation') Spirale d'élévation
                option(value='principe-egarants') Principes égarants
                option(value='labyrinthe-ame') Labyrinthe schématique
                option(value='dedale-ame') Dédale de l'âme
        .vIEL
            h1 Étape Labyrinthique
            select(name='attr_mag-etape')
                option(value='0' selected)
                option(value='porche') Porche
                option(value='carrefour') Carrefour
                option(value='coeur') Coeur
                option(value='fil') Fil
                option(value='epreuve') Épreuve

    +degreMetamorphe()

    +hiddenInput('mag-secret-degre', 0)

    .gsDomains.col60
        h1 Domaines
        .vIEL
            each i in [1, 2]
                select(name=`attr_mag-gs-dom${i}`)
                    option(value='0' selected)
                    option(value='comprendre') Comprendre
                    option(value='controler') Contrôler
                    option(value='creer') Créer
                    option(value='detruire') Détruire
                    option(value='transformer') Transformer

    .gsMaillons
        h1
            div Maillons
            div
                +numberInput('magSecretCurrentLinks')(readonly)
                | &nbsp;/&nbsp;
                +numberInput('magSecretAllowedLinks')
        .repeating-maillon-wrapper
            fieldset.repeating_maillon
                +textInput('maillon')

    .sorts
        h1 Sorts
        span Nom du sort
        span Ka
        span Cercle
        span Degré
        span Portée
        span Durée
        span(title='Appris') A
        span(title='Tatoué') T
        span(title='Sur Focus') F
        span
        fieldset.repeating_mag-sort
            +cbButton('attr_expand', null, 1)(checked)
            +textInput('mag-sort-nom')
            +elemSelect('mag-sort-ka')
            select(name='attr_mag-sort-cercle')
                option(value='0')
                option(value='mag-basse-degre') 1er
                option(value='mag-haute-degre') 2ème
                option(value='mag-secret-degre') 3ème
            +numberInput('mag-sort-degre', 0)
            +textInput('mag-sort-portee')
            +textInput('mag-sort-duree')
            +cbButton('attr_mag-sort-a', 'Appris')(value=1)
            +cbButton('attr_mag-sort-t', 'Tatoué')(value=1)
            +cbButton('attr_mag-sort-f', 'Sur Focus')(value=1)
            +rollButton('sheet-simu-roll-vecu', roll_magie)
            +hiddenInput('expand', 1)
            div
                label
                    span Voie
                    select(name='attr_mag-sort-voie').sheet-mag-sort-voie
                        option(value='0' selected)
                        option(value='sentier-sinueux') Sentier sinueux
                        option(value='spirale-elevation') Spirale d'élévation
                        option(value='principe-egarants') Principes égarants
                        option(value='labyrinthe-ame') Labyrinthe schématique
                        option(value='dedale-ame') Dédale de l'âme
                label
                    span Étape
                    select(name='attr_mag-sort-etape')
                        option(value='0' selected)
                        option(value='porche') Porche
                        option(value='carrefour') Carrefour
                        option(value='coeur') Coeur
                        option(value='fil') Fil
                        option(value='epreuve') Épreuve
                label
                    span Difficulté
                    +numberInput('mag-sort-current', 0)(readonly)
                label
                    span Page
                    +numberInput('mag-sort-page', 0)
                .autoex.autoex22
                    +spanareaInput('mag-sort-desc')(placeholder='Description')
