.tab6
    h1.titreKabbale Kabbale
    .col2
        .cercleArbreKabbale
            span 3° Cercle
            span 2° Cercle
            span 1° Cercle
        .colArbreKabbaleR
            .arbreKabbale
                label.kether
                    span Kether
                    +numberInput('kheter', 0)
                label.binah
                    span Binah
                    +numberInput('binah', 0)
                label.hokmah
                    span Hokmah
                    +numberInput('hokmah', 0)
                label.chesed
                    span Chesed
                    +numberInput('chesed', 0)
                label.geburah
                    span Geburah
                    +numberInput('geburah', 0)
                label.tiphereth
                    span Tiphereth
                    +numberInput('tiphereth', 0)
                label.netzach
                    span Netzach
                    +numberInput('netzach', 0)
                label.hod
                    span Hod
                    +numberInput('hod', 0)
                label.yesod
                    span Yesod
                    +numberInput('yesod', 0)
                label.malkuth
                    span Malkut
                    +numberInput('malkut', 0)

    .col2
        .kMonde
            h1 Monde
            select(name='attrt_kabb-monde')
                option(value=0)
                option(value='sohar') Sohar
                option(value='zakai') Zakai
                option(value='pachad') Pachad
                option(value='meborack') Meborack
                option(value='aresh') Aresh
        .kOrdonnance
            h1 Ordonnances
            fieldset.repeating_kabb-ord
                +numberInput('kabb-ord-degré', 1)(title='Degré')
                +textInput('kabb-ord-nom')
                +cbButton('kabb-ord-respect')(title='Respecté ?')
        +degreMetamorphe()
    
    +hiddenInput('ordonnanceBonus', 0)
    .invocations
        h1 Invocations
        span Nom de l'invocation
        span Séphira
        span Ka
        span Degré
        span Portée
        span Durée
        span Visible
        span(title='Appris') A
        span(title='Tatoué') T
        span(title='Sur Focus') F
        span
        fieldset.repeating_kabb-invoc
            label
                input(name='attr_expand' checked type='checkbox' value='1')
                span
            +textInput('kabb-invoc-nom')
            select(name='attr_kabb-invoc-sephira')
                option(value=0)
                option(value='malkut') Malkut
                option(value='yesod') Yesod
                option(value='hod') Hod
                option(value='netzah') Netzah
                option(value='tiphereth') Tiphereth
                option(value='geburah') Geburah
                option(value='chesed') Chesed
                option(value='binah') Binah
                option(value='hokmah') Hokmah
                option(value='kheter') Kether
            +elemSelect('kabb-invoc-ka')
            +numberInput('kabb-invoc-degre', 0)
            +textInput('kabb-invoc-portee')
            +textInput('kabb-invoc-duree')
            div
                +cbButton('kabb-invoc-visible')
            +cbButton('kabb-invoc-a', 1)(title='Appris')
            +cbButton('kabb-invoc-t', 1)(title='Tatoué')
            +cbButton('kabb-invoc-f', 1)(title='Sur Focus')
            +rollButton('simu-roll-vecu', roll_kabb_invoc)(title='Invocation')
            +rollButton('simu-roll-opposition', roll_kabb_pacte)(title='Nouer un pacte')

            +hiddenInput('expand', 1)
            div
                label
                    select(name='atr_kabb-invoc-monde')
                        option(value=0)
                        option(value='sohar') Sohar
                        option(value='zakai') Zakai
                        option(value='pachad') Pachad
                        option(value='meborack') Meborack
                        option(value='aresh') Aresh
                label
                    span Difficulté
                    +numberInput('kabb-invoc-current', 0)(readonly)
                select(name='attr_pacteConclu')
                    option(value=1 selected) Première invocation
                    option(value=2) Pacte conclu
                label
                    span Page
                    +numberInput('kabb-invoc-page', 0)
                .autoex.autoex22
                    +spanareaInput('kabb-invoc-desc')(placeholder='Description')