.tab7
    h1.titreAlchimie Alchimie

    .col2
        .oeuvres
            label
                span Œuvre<br/>au noir
                +numberInput('alch-oeuvre-noir', 0)
            label
                span Œuvre<br/>au blanc
                +numberInput('alch-oeuvre-blanc', 0)
            label
                span Œuvre<br/>au rouge
                +numberInput('alch-oeuvre-rouge', 0)
        
        label.alchimieVoie
            span Voie initiatique
            select(name='attr_alch-voie')
                option(value=0)
                option(value='breve') Voie brève
                option(value='seche') Voie sèche
                option(value='humide') Voie humide
                option(value='royale') Voie royale
                option(value='pagirie') Spagyrie
        
        .alchimieSConstruct
            h1 Constructs utilisables
            +cbButton('attr_sCornue', 'Cornue', 1)(checked)
            +cbButton('attr_sAthanor', 'Athanor', 1)(checked)
            +cbButton('attr_sAludel', 'Aludel', 1)(checked)
            +cbButton('attr_sForge', 'Forge ou Creuset', 1)(checked)
            +cbButton('attr_sAlambic', 'Alambic', 1)(checked)


    .col2
        .materiaePrimae
            h1 Jauge de Materiae Primae
            div
                +imgNeph('Feu.png', 'Feu')
                label
                    +numberInput('alch-mp-feu', 0)
                    span /
                    +numberInput('alch-mp-feu-max', 0)
            div
                +imgNeph('Air.png', 'Air')
                label
                    +numberInput('alch-mp-air', 0)
                    span /
                    +numberInput('alch-mp-air-max', 0)
            div
                +imgNeph('Terre.png', 'Terre')
                label
                    +numberInput('alch-mp-terre', 0)
                    span /
                    +numberInput('alch-mp-terre-max', 0)
            div
                +imgNeph('Eau.png', 'Eau')
                label
                    +numberInput('alch-mp-eau', 0)
                    span /
                    +numberInput('alch-mp-eau-max', 0)
            div
                +imgNeph('Lune.png', 'Lune')
                label
                    +numberInput('alch-mp-lune', 0)
                    span /
                    +numberInput('alch-mp-lune-max', 0)

    .formules
        h1 Formules
        span Nom de la formule
        span Substance
        span Ka
        span Ka
        span Aire d'effet
        span Durée
        span(title='Appris') A
        span(title='Tatoué') T
        span(title='Sur Focus') F
        span
        fieldset.repeating_alch-form
            +cbButton('attr_expand')(checked value=1)
            +textInput('alch-form-nom')
            select(name='attr_alch-form-subs').sheet-alch-form-subs
                option(selected value=0)
                option(value='alch-athanor') Poudre (Athanor)
                option(value='alch-creuset') Métal (Creuset)
                option(value='alch-cornue') Ambre (Cornue)
                option(value='alch-alambic') Liqueur (Alambic)
                option(value='alch-aludel') Vapeur (Aludel)
            +elemSelect('alch-form-ka-1')
            +elemSelect('alch-form-ka-2')
            +textInput('alch-form-portee')
            +textInput('alch-form-duree')
            +cbButton('alch-form-a')(title='Appris' value=1)
            +cbButton('alch-form-t')(title='Tatoué' value=1)
            +cbButton('alch-form-f')(title='Sur Focus' value=1)
            +rollButton('simu-roll-vecu', roll_alch)
            +hiddenInput('expand', 1)
            div
                label
                    span Art occulte
                    select(name='attr_alch-form-art')
                        option(value=0)
                        option(value='alch-oeuvre-noir') Oeuvre au noir
                        option(value='alch-oeuvre-blanc') Oeuvre au blanc
                        option(value='alch-oeuvre-rouge') Oeuvre au rouge
                label
                    span Degré
                    +numberInput('alch-form-degre', 0)
                label
                    span Difficulté
                    +numberInput('alch-form-current', 0)(readonly)
                label
                    span page
                    +numberInput('alch-form-page', 0)
                .autoex.autoex22
                    +spanareaInput('alch-form-desc')