.tab8
    .constructs
        h1 Laboratoire et constructs
        +hiddenInput('sCornue', 1).cornue
        +hiddenInput('sAthanor', 1).athanor
        +hiddenInput('sAludel', 1).aludel
        +hiddenInput('sForge', 1).forge
        +hiddenInput('sAlambic', 1).alambic

        .cornue
            span Ka-Feu
            +numberInput('alch-cornue-kafeu', 0)
            span Ka-Terre
            +numberInput('alch-cornue-katerre', 0)
            span Ka-Air
            +numberInput('alch-cornue-kaair', 0)
            span Ka-Lune
            +numberInput('alch-cornue-kalune', 0)
            span Cornue
                span (ambres)
            span Ka-Eau
            +numberInput('alch-cornue-kaeau', 0)

        .athanor
            span Ka-Feu
            +numberInput('alch-athanor-kafeu', 0)
            span Ka-Terre
            +numberInput('alch-athanor-katerre', 0)
            span Ka-Air
            +numberInput('alch-athanor-kaair', 0)
            span Ka-Lune
            +numberInput('alch-athanor-kalune', 0)
            span Athanor
                span (poudres)
            span Ka-Eau
            +numberInput('alch-athanor-kaeau', 0)

        .aludel
            span Ka-Feu
            +numberInput('alch-aludel-kafeu', 0)
            span Ka-Terre
            +numberInput('alch-aludel-katerre', 0)
            span Ka-Air
            +numberInput('alch-aludel-kaair', 0)
            span Ka-Lune
            +numberInput('alch-aludel-kalune', 0)
            span Aludel
                span (Vapeurs)
            span Ka-Eau
            +numberInput('alch-aludel-kaeau', 0)

        .forge
            span Ka-Feu
            +numberInput('alch-creuset-kafeu', 0)
            span Ka-Terre
            +numberInput('alch-creuset-katerre', 0)
            span Ka-Air
            +numberInput('alch-creuset-kaair', 0)
            span Ka-Lune
            +numberInput('alch-creuset-kalune', 0)
            span Forge ou Creuset
                span (métaux)
            span Ka-Eau
            +numberInput('alch-creuset-kaeau', 0)

        .alambic
            span Ka-Feu
            +numberInput('alch-alambic-kafeu', 0)
            span Ka-Terre
            +numberInput('alch-alambic-katerre', 0)
            span Ka-Air
            +numberInput('alch-alambic-kaair', 0)
            span Ka-Lune
            +numberInput('alch-alambic-kalune', 0)
            span Alambic
                span (liqueurs)
            span Ka-Eau
            +numberInput('alch-alambic-kaeau', 0)