.tab9
    .fraternite
        h1 Fraternité
        .col2
            label
                h1 Nom
                +textInput('frat-nom')
        .col2
            div
                h1 Quête / Savoir ésotérique
                +textInput('frat-quete')
                +numberInput('frat-quete-score', 0)(min=0)
        
        h1 Alliés
        fieldset.repeating_frat-ress-allies
            .autoex.autoex22
                +spanareaInput('frat-ress-allies')
        
        h1 Ressources
        fieldset.repeating_frat-ress-propr
            .autoex.autoex22
                +spanareaInput('frat-ress-propr')
        
        h1 Refuges
        fieldset.repeating_frat-ress-refuge
            .autoex.autoex22
                +spanareaInput('frat-ress-refuge')