.section.cols-2.ai-enabled
	+sectionheader("show_ai", "AI")
	.ai.halfgrid
		.column
			.grey-box.ai-processing
				h3(data-i18n="COMMITTED_PROCESSING")
				+text-input("ai_extra_processing", "BONUS")(type="number", value="0").center
				each val in ["current", "scene", "day"]
					+text-input(`ai_committed_processing_${val}`, val)(type="number", value="0", min="0").center
				+text-input("ai_total_processing", "UNCOMMITTED")(type="number", value="1", readonly, data-i18n-title="MAXIMUM_EFFORT_DESC").center
			.grey-box.ai-processing-nodes
				h3(data-i18n="PROCESSING_NODES") Processing Nodes
				.table-header.nodes-grid.rep-grid
					.connected(data-i18n="CONNECTED?")
					.value(data-i18n="PROCESSING")
					.location(data-i18n="LOCATION")
				fieldset.repeating_processing-nodes
					.nodes-grid.rep-grid
						+fake-text-input().center
							input(type="checkbox" value="1" name="attr_node_connected")
						+text-input("node_value")(type="number" value="0")
						+text-input("node_location")
		.column
			.routines.grey-box.simple-repsection
				.flex-center
					h3(data-i18n="AI_ROUTINES") AI Routines
				fieldset.repeating_routines
					.show-chevron
						+collapseChevron
						button.display.invisible-button(name="roll_Routine", type="roll", value!="&{template:swn-default} {{system=@{system}}} {{charname=@{character_name}}} {{info=^{AI_ROUTINE}}} {{title=@{routine_name}}} {{desc=@{routine_description}}}")
						.display
							.name.ellipsis.flex
								span(name="attr_routine_name")
							.details #[span(name="attr_routine_description")]
						.edit.flex-wrap
							input.name.ellipsis.grow(type="text", name="attr_routine_name", data-i18n-placeholder="ROUTINE")
							textarea.details(name="attr_routine_description", data-i18n-placeholder="DESCRIPTION")
