.section.magical_arts
    +sectionheader("show_arts", false)
        span(data-i18n="MAGICAL_ARTS")
    .magical-arts.grey-box
        .grid.grid-flow-col.ellipsis.gap-1.effort-grid
            h3(data-i18n="EFFORT").ellipsis
            +text-input-duo("effort", "effort_max", "CURRENT_MAX")(type="number", value="0", min="0")
            each val in ["commit_effort_day", "commit_effort_scene", "commit_effort_indefinitely"]
                +text-input(val, val).text-center
        fieldset.repeating_magical-arts
            .show-chevron.simple-repsection
                input(type="checkbox", name="attr_collapse", value="1").input-collapse
                span.chevron
                button.display.invisible-button(type="roll", name="roll_Magical_Arts", value!="&{template:swn-default} {{system=@{system}}} {{charname=@{character_name}}} {{info=^{MAGICAL_ARTS}}} {{title=@{name}}} {{desc=@{description}}}")
                .display
                    .grid.grid-flow-col.mb.name.ellipsis
                        span(name="attr_name")
                    .details
                        span(name="attr_description")
                .edit
                    .grid.grid-flow-col.mb
                        +text-input("name", "NAME").name.ellipsis
                    .grid
                        textarea(name="attr_description", data-i18n-placeholder="DESCRIPTION")
