.section.cwn
    +sectionheader("show_edge", "EDGE")
    .edge.grey-box.simple-repsection
        fieldset.repeating_edge
            .show-chevron
                input(type="checkbox", name="attr_collapse", value="1").input-collapse
                span.chevron
                button.display.invisible-button(type="roll", name="roll_Edge", value!="&{template:swn-default} {{system=@{system}}} {{charname=@{character_name}}} {{info=^{EDGE}}} {{title=@{edge_name}}} {{desc=@{edge_description}}}")
                .display
                    .name.ellipsis.flex
                        span(name="attr_edge_name")
                    .details
                        span(name="attr_edge_description")
                .edit.flex-wrap
                    +text-input("edge_name", "EDGE").name.ellipsis
                    textarea.details(name="attr_edge_description", data-i18n-placeholder="DESCRIPTION")
