.section.graced
    +sectionheader("show_graced", false)
        span(data-i18n="GRACED_ARTS")
    .grey-box
        .grid.grid-flow-col.ellipsis.gap-1.effort-grid
            h3(data-i18n="GRACED_ARTS_POINTS").ellipsis
            +text-input-duo("graced_arts_points", "graced_arts_points_max", "CURRENT_MAX")(type="number", value="0", min="0")
        fieldset.repeating_graced-arts
            .show-chevron.simple-repsection
                input(type="checkbox", name="attr_collapse", value="1").input-collapse
                span.chevron
                button.display.invisible-button(type="roll", name="roll_Graced", value!="&{template:swn-default} {{system=@{system}}} {{charname=@{character_name}}} {{info=^{GRACED_ARTS}}} {{title=@{name}}} {{desc=@{description}}}")
                .display
                    .grid.grid-flow-col.mb.name.ellipsis
                        span(name="attr_name")
                    .details
                        span(name="attr_description")
                .edit
                    .grid.grid-flow-col.mb
                        +text-input("name", "NAME").name.ellipsis
                    .grid
                        textarea(name="attr_description", data-i18n-placeholder="DESCRIPTION")
