.section.legate
    +sectionheader("show_legate", false)
        span(data-i18n="LEGATE")
    .legate.grey-box
        .grid.grid-flow-col.ellipsis.gap-1.mb
            .effort.grid.grid-flow-col.gap-1
                h3(data-i18n="EFFORT").ellipsis
                +text-input-duo("effort", "effort_max", "CURRENT_MAX")(type="number", value="0", min="0")
            .xp.grid.grid-flow-col.gap-1
                h3(data-i18n="LEGATE_XP")
                +text-input-duo("legate_xp", "legate_xp_max", "CURRENT_MAX")(type="number", value="0", min="0")
        h3(data-i18n="WRIT").ellipsis
        fieldset.repeating_writs
            .show-chevron.simple-repsection
                input(type="checkbox", name="attr_collapse", value="1").input-collapse
                span.chevron
                button.display.invisible-button(type="roll", name="roll_Legate", value!="&{template:swn-default} {{system=@{system}}} {{charname=@{character_name}}} {{info=^{WRIT}}} {{title=@{name}}} {{desc=@{description}}}")
                .display
                    .grid.grid-flow-col.mb.ellipsis.name
                        span(name="attr_name")
                    .details
                        .grid.grid-flow-col.gap-1.mb
                            each val in ["act", "effort", "duration"]
                                span #[span(data-i18n=val.toUpperCase()).font-bold]: #[span(name=`attr_${val}`)]
                        span(name="attr_description")
                .edit
                    .grid.mb
                        +text-input("name", "NAME").ellipsis.name
                        .grid.grid-flow-col.gap-1
                            +text-input("act", "ACT").center
                            +text-input("effort", "EFFORT").center
                            +text-input("duration", "DURATION").center
                    .grid
                        textarea(name="attr_description", data-i18n-placeholder="DESCRIPTION")
