.section.magic
    +sectionheader("show_magic", false)
        span(data-i18n="MAGIC")
    div
        .magical-arts.grey-box
            .grid.grid-flow-col.name.ellipsis.gap-1
                h3(data-i18n="MAGICAL_ARTS")
                each val in ["current_effort", "max_effort"]
                    +text-input(val, val.toUpperCase()).text-center
            fieldset.repeating_magical-arts
                .show-chevron.simple-repsection 
                    input(type="checkbox", name="attr_collapse", value="1").input-collapse
                    span.chevron
                    .display
                        .grid.grid-flow-col.mb.name.ellipsis
                            span(name="attr_name")
                        .details
                            span(name="attr_description")
                    .edit
                        .grid.grid-flow-col.mb
                            +text-input("name").name.ellipsis
                        .grid
                            textarea(name="attr_description", data-i18n-placeholder="DESCRIPTION")
        .spellcaster
            .spell-slots.grey-box
                h3(data-i18n="SPELL_SLOTS")
                each val in ["first", "second", "third", "fourth", "fifth"]
                    +text-input(`spell-slots-${val}-level`, `${val.toUpperCase()}_LEVEL`)(type="number", value="0", min="0").center
            .spells.grey-box.simple-repsection
                .flex-center
                    h3(data-i18n="SPELLS")
                .grid.grid-flow-col.gap-1.edit
                    .name.ellipsis(data-i18n="NAME")
                    .level(data-i18n="LEVEL")
                    .prepared(data-i18n="PREPARED")
                    .damage(data-i18n="DAMAGE")
                fieldset.repeating_spells
                    .show-chevron
                        +collapseChevron
                        button.display.invisible-button(type="roll", name="roll_Spell", value!="&{template:swn-default} {{charname=@{character_name}}} {{title=@{spell_name}}} {{info=^{SPELL}}} {{desc=@{spell_description}}} {{damage=[[@{spell_damage}]]}}")
                        .display.grid
                            .name.ellipsis.grid.grid-flow-col.gap-1
                                span(name="attr_spell_name")
                                span.level #[span(data-i18n="LEVEL")]-#[span(name="attr_spell_level")]
                                div
                                    span.prepared #[span(data-i18n="PREPARED")]:
                                    input.prepared(type="number", name="attr_spell_prepared", value="0", min="0")
                            .details #[span(name="attr_spell_description")]
                        .edit.grid
                            .grid.grid-flow-col.gap-1
                                input.name.ellipsis(type="text", name="attr_spell_name")
                                input.level(type="number", name="attr_spell_level", value="0", min="0")
                                input.prepared(type="number", name="attr_spell_prepared", value="0", min="0")
                                input.damage(type="text", name="attr_spell_damage", value="0")
                            textarea.details(name="attr_spell_description")

