.section.magic
    +sectionheader("show_magic", false)
        span(data-i18n="MAGIC")
    .spellcaster
        .spell-slots.grey-box
            h3(data-i18n="SPELL_SLOTS")
            each val in ["first", "second", "third", "fourth", "fifth"]
                +text-input(`spell-slots-${val}-level`, `${val.toUpperCase()}_LEVEL`)(type="number", value="0", min="0").center
        .spells.grey-box.simple-repsection.mt
            h3(data-i18n="SPELLS").mb
            .grid.grid-flow-col.gap-1.edit.spell-grid
                each val in ["NAME", "LEVEL", "PREPARED", "DAMAGE"]
                    .ellipsis(class=`${val.toLowerCase()}` data-i18n=val)
            fieldset.repeating_magic-spells
                .show-chevron
                    +collapseChevron
                    button.display.invisible-button(type="roll", name="roll_Spell", value!="&{template:swn-default} {{charname=@{character_name}}} {{title=@{spell_name}}} {{info=^{SPELL}}} {{desc=@{spell_description}}} {{damage=[[@{spell_damage}]]}}")
                    .display.grid
                        .name.ellipsis.grid.grid-flow-col.gap-1
                            span(name="attr_spell_name")
                            span.level #[span(data-i18n="LEVEL")]-#[span(name="attr_spell_level")]
                            div
                                span.prepared #[span(data-i18n="PREPARED")]:
                                input.prepared(type="number", name="attr_spell_prepared", value="0", min="0")
                        .details #[span(name="attr_spell_description")]
                    .edit.grid
                        .grid.grid-flow-col.gap-1.spell-grid
                            +text-input("spell_name", "NAME")
                            each val in ["level", "prepared"]
                                +text-input(`spell_${val}`, val.toUpperCase())(type="number", value="0", min="0").center
                            +text-input("spell_damage", "DAMAGE").center
                        textarea(name="attr_spell_description", data-i18n-placeholder="DESCRIPTION")

