@import "./scss/base/_colors";

$box-shadow: 2px 2px 3px 1px #4c4c4c;

/* GRID
   ============================= */
%gridRowCol {
  display: inline-grid;
  overflow: hidden;
  grid-auto-rows: min-content;
  grid-column-gap: 1%;
}

/* Mixins
    ============================= */
@import "./scss/abstracts/_mixins";

/* GLOBALS
    ============================= */
@import url("https://fonts.googleapis.com/css?family=El+Messiri:wght@500&display=swap");
@import "./scss/base/_globals";

/* GENERIC CLASSES
    ============================= */
@import "./scss/base/_generic";

/* STYLED CHECKBOXES
    ============================= */
@import "./scss/components/_checkboxes";

/* TABS
    ============================= */
@import "./scss/_tabs";

/* NPC
    ============================= */
@import "./pages/_npc";

/* PC
    ============================= */
@import "./pages/_character";

/*  HOLDINGS
    ============================= */
@import "./pages/_holdings";

/*  SETTINGS
    ============================= */
@import "./pages/_settings";

/*  FOOTER
    ============================= */
@import "./scss/_footer";

/*  SHOW & HIDE SHEETS
    ============================= */
@import "./scss/layout/_show_hide";

/*  SWITCH
    ============================= */
@import "./scss/components/_switch";

/* TABLE
    ============================= */
@import "./scss/components/_table";

/* TABLE
    ============================= */
@import "./scss/components/_shield";

/* ROLL TEMPLATE STYLE
----------------------------- */
@import "./scss/vendor/_rolltemplate";

/* REPEATING SECTIONS
----------------------------- */
@import "./scss/vendor/_repeating-containers";
