<div class="ability-score-wrapper wrap-box center">
  <input type="hidden" name="attr_basic_strength_check_mod" value="@{strength_mod} + @{basic_strength_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})">

  <button type="roll" name="roll_strength_check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_strength_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_strength_check_mod}]]}} @{classactionunskilledstr}">
    <div>
      <span class="ability-name">{{'ABILITIES.strength.NAME' | translate}}</span>
      <input class="ability-modifier no-spin" type="number" name="attr_strength_mod" value="[[floor((@{strength}-10)/2) + @{strength_bonus}]]" disabled>
    </div>
  </button>

  <input class="ability-score no-spin" type="number" name="attr_strength" min="1" step="1">
</div>
<div class="ability-score-wrapper wrap-box center">
  <input type="hidden" name="attr_basic_dexterity_check_mod" value="@{dexterity_mod} + @{basic_dexterity_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})">

  <button type="roll" name="roll_dexterity_check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Ability check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_dexterity_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_dexterity_check_mod}]]}} @{classactionunskilleddex}">
    <div>
      <span class="ability-name">{{'ABILITIES.dexterity.NAME' | translate}}</span>
      <input class="ability-modifier no-spin" type="number" name="attr_dexterity_mod" value="[[floor((@{dexterity}-10)/2) + @{dexterity_bonus}]]" disabled>
    </div>
  </button>

  <input class="ability-score no-spin" type="number" name="attr_dexterity" min="1" step="1">
</div>
<div class="ability-score-wrapper wrap-box center">
  <input type="hidden" name="attr_basic_constitution_check_mod" value="@{constitution_mod} + @{basic_constitution_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})">

  <button type="roll" name="roll_constitution_check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Ability check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_constitution_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_constitution_check_mod}]]}} @{classactionunskilledcon}">
    <div>
      <span class="ability-name">{{'ABILITIES.constitution.NAME' | translate}}</span>
      <input class="ability-modifier no-spin" type="number" name="attr_constitution_mod" value="[[floor((@{constitution}-10)/2) + @{constitution_bonus}]]" disabled>
    </div>
  </button>

  <input class="ability-score no-spin" type="number" name="attr_constitution" min="1" step="1">
</div>
<div class="ability-score-wrapper wrap-box center">
  <input type="hidden" name="attr_basic_intelligence_check_mod" value="@{intelligence_mod} + @{basic_intelligence_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})">

  <button type="roll" name="roll_intelligence_check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Ability check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_intelligence_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_intelligence_check_mod}]]}} @{classactionunskilledint}">
    <div>
      <span class="ability-name">{{'ABILITIES.intelligence.NAME' | translate}}</span>
      <input class="ability-modifier no-spin" type="number" name="attr_intelligence_mod" value="[[floor((@{intelligence}-10)/2) + @{intelligence_bonus}]]" disabled>
    </div>

  </button>

  <input class="ability-score no-spin" type="number" name="attr_intelligence" min="1" step="1">
</div>
<div class="ability-score-wrapper wrap-box center">
  <input type="hidden" name="attr_basic_wisdom_check_mod" value="@{wisdom_mod} + @{basic_wisdom_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})">

  <button type="roll" name="roll_wisdom_check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Ability check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_wisdom_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_wisdom_check_mod}]]}} @{classactionunskilledwis}">
    <div>
      <span class="ability-name">{{'ABILITIES.wisdom.NAME' | translate}}</span>
      <input class="ability-modifier no-spin" type="number" name="attr_wisdom_mod" value="[[floor((@{wisdom}-10)/2) + @{wisdom_bonus}]]" disabled>
    </div>

  </button>

  <input class="ability-score no-spin" type="number" name="attr_wisdom" min="1" step="1">
</div>
<div class="ability-score-wrapper wrap-box center">
  <input type="hidden" name="attr_basic_charisma_check_mod" value="@{charisma_mod} + @{basic_charisma_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})">

  <button type="roll" name="roll_charisma_check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Ability check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_charisma_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_charisma_check_mod}]]}} @{classactionunskilledcha}">
    <div>
      <span class="ability-name">{{'ABILITIES.charisma.NAME' | translate}}</span>
      <input class="ability-modifier no-spin" type="number" name="attr_charisma_mod" value="[[floor((@{charisma}-10)/2) + @{charisma_bonus}]]" disabled>
    </div>

  </button>

  <input class="ability-score no-spin" type="number" name="attr_charisma" min="1" step="1">
</div>