<div class="wrap-box appearance pc mar-b-smd">
  <div class="shaped-row mar-b-md">
    <div class="col-1-8 center pad-r-md">
      <input class="center" type="text" name="attr_gender">

      <div class="wrap-box-label">{{'GENDER' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-r-md">
      <input class="center" type="text" name="attr_size">

      <div class="wrap-box-label">{{'SIZE' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-r-md">
      <input class="center" type="number" name="attr_age">

      <div class="wrap-box-label">{{'AGE' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-r-md">
      <input class="center" type="text" name="attr_height">

      <div class="wrap-box-label">{{'HEIGHT' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-r-md">
      <input class="center" type="text" name="attr_weight">

      <div class="wrap-box-label">{{'WEIGHT' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-r-md">
      <input class="center" type="text" name="attr_eyes">

      <div class="wrap-box-label">{{'EYES' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-r-md">
      <input class="center" type="text" name="attr_skin">


      <div class="wrap-box-label">{{'SKIN' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-r-md">
      <input class="center" type="text" name="attr_hair">

      <div class="wrap-box-label">{{'HAIR' | translate}}</div>
    </div>
  </div>
  <div class="wrap-box-title center">{{'APPEARANCE' | translate}}</div>
</div>