<div class="shaped-row center">
  <div class="col-33 center">
    <button type="roll" name="roll_ac" value="@{output_option} &{template:5eReshaped} {{character_name=@{character_name}}} @{show_character_name} {{title=AC}} {{roll=[[@{ac}]]}}">
      <div class="shield">
        <div class="pc">
          <input type="number" name="attr_ac" class="no-spin" readonly>
        </div>
        <div class="npc">
          <div>
            <input class="center no-spin" type="number" name="attr_npc_ac" value="10">
          </div>
          <div class="relative">
            <div class="shield-note">
              <input class="center" type="text" name="attr_npc_ac_note">
            </div>
          </div>
        </div>
        <div class="wrap-box-title">{{'ARMOR_CLASS' | translate}}</div>
      </div>
    </button>
  </div>
  <div class="col-34 center">
    <button type="roll" name="roll_initiative" value="@{initiative_output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Initiative}} {{subheader=Ability Check}} {{roll=[[d20@{d20_mod} + @{initiative_to_tracker} + [[@{initiative_tie_breaker}]]]]}} @{classactioninitiative}">
      <div class="wrap-box initiative">
        <input class="center no-spin initiative-total" type="number" name="attr_initiative_overall" value="(@{dexterity_mod} + @{initiative} + @{jack_of_all_trades}) + (@{global_check_bonus})" disabled>
        <div class="wrap-box-title">{{'INITIATIVE' | translate}}</div>
      </div>
    </button>
  </div>
  <div class="col-33 center pad-l-md">
    <div class="wrap-box center speed">
      <input type="number" name="attr_speed" class="center no-spin" step="1">
      <button type="roll" name="roll_speed" value="@{output_option} &{template:5eReshaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Speed}} {{roll=@{speed}}}">
        <div class="wrap-box-title">{{'SPEED' | translate}}</div>
      </button>
    </div>
  </div>
</div>