<div class="attacks wrap-box mar-b-smd">
  <fieldset class="repeating_attack">
    <div class="attack">
      <div class="col-50 center vert-top">
        <input class="attack-name center" type="text" name="attr_name" placeholder="name">
      </div>
      <div class="center mar-t-sm">
        <textarea class="xs-textarea" name="attr_emote"></textarea>

        <div class="small-label">{{'EMOTE' | translate}}</div>
      </div>
      <div class="shaped-row mar-t-sm">
        <div class="col-20 center vert-top pad-r-sm">
          <input class="checkbox-row-height" type="checkbox" name="attr_proficient" checked>

          <div class="small-label">
            <span class="en">Prof</span>
            <span class="de">Prof</span>
            <span class="fr">Maîtr</span>
            <span class="ru">????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-r-sm">
          <select name="attr_attack_stat" class="select-no-arrow">
            <option value="@{finesse_mod}">Finesse</option>
            <option value="@{strength_mod}" selected>Str</option>
            <option value="@{dexterity_mod}">Dex</option>
            <option value="@{constitution_mod}">Con</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Wis</option>
            <option value="@{charisma_mod}">Cha</option>
          </select>

          <div class="small-label">
            <span class="en">Atk Stat</span>
            <span class="de">Scha Stat</span>
            <span class="fr">Stat Atq</span>
            <span class="ru">??? ???</span>
          </div>
        </div>
        <div class="col-20 center vert-top pad-r-sm">
          <input class="center" type="number" name="attr_attack_bonus" value="0">

          <div class="small-label">
            <span class="en">+Atk</span>
            <span class="de">+Atk</span>
            <span class="fr">+Atq</span>
            <span class="ru">+???</span>
          </div>
        </div>
      </div>
      <div class="shaped-row mar-t-sm">
        <div class="col-30 center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="text" name="attr_reach">

          <div class="small-label">{{'REACH' | translate}}</div>
        </div>

        <div class="col-40 center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="text" name="attr_range">

          <div class="small-label">{{'RANGE' | translate}}</div>
        </div>
        <div class="col-30 center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="number" name="attr_ammo" min="0" value="1">

          <div class="small-label">{{'AMMO' | translate}}</div>
        </div>
      </div>
      <div class="shaped-row mar-t-sm">
        <div class="col-20 center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="text" name="attr_damage" value="0">

          <div class="small-label">
            <span class="en">Dmg Dice</span>
            <span class="de">Dmg Dice</span>
            <span class="fr">Dés de Dmg</span>
            <span class="ru">?????? ?????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-r-sm">
          <select name="attr_damage_stat" class="select-no-arrow">
            <option value="@{finesse_mod}">Finesse</option>
            <option value="@{strength_mod}" selected>Str</option>
            <option value="@{dexterity_mod}">Dex</option>
            <option value="@{constitution_mod}">Con</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Wis</option>
            <option value="@{charisma_mod}">Cha</option>
            <option value="0">None</option>
          </select>

          <div class="small-label">
            <span class="en">Dmg Stat</span>
            <span class="de">Scha Stat</span>
            <span class="fr">Stat Dmg</span>
            <span class="ru">??? ????</span>
          </div>
        </div>
        <div class="col-20 center vert-top pad-r-sm">
          <input class="center" type="number" name="attr_damage_bonus" value="0">

          <div class="small-label">
            <span class="en">+Dmg</span>
            <span class="de">+Scha</span>
            <span class="fr">+Dmg</span>
            <span class="ru">+????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-r-sm">
          <input class="center" type="text" name="attr_damage_type">

          <div class="small-label">
            <span class="en">Dmg Type</span>
            <span class="de">Scha Type</span>
            <span class="fr">Type Dmg</span>
            <span class="ru">??? ????</span>
          </div>
        </div>
      </div>
      <div class="shaped-row mar-t-sm">
        <div class="col-20 center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="text" name="attr_second_damage" value="0">

          <div class="small-label">
            <span class="en">2nd Dmg Dice</span>
            <span class="de">2te Scha Dice</span>
            <span class="fr">2ème Dés de Dmg</span>
            <span class="ru">2?? ?????? ?????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-l-sm pad-r-sm">
          <select name="attr_second_damage_stat" class="select-no-arrow">
            <option value="@{finesse_mod}">Finesse</option>
            <option value="@{strength_mod}">Str</option>
            <option value="@{dexterity_mod}">Dex</option>
            <option value="@{constitution_mod}">Con</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Wis</option>
            <option value="@{charisma_mod}">Cha</option>
            <option value="0" selected>None</option>
          </select>
          <div class="small-label">
            <span class="en">2nd Dmg Stat</span>
            <span class="de">2te Scha Stat</span>
            <span class="fr">2ème Stat Dmg</span>
            <span class="ru">??? ????</span>
          </div>
        </div>
        <div class="col-20 center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="number" name="attr_second_damage_bonus" value="0">

          <div class="small-label">
            <span class="en">2nd +Dmg</span>
            <span class="de">2te +Scha</span>
            <span class="fr">2ème +Dmg</span>
            <span class="ru">2?? +?????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-r-sm">
          <input class="center" type="text" name="attr_second_damage_type">

          <div class="small-label">
            <span class="en">2nd Dmg Type</span>
            <span class="de">2te Scha Type</span>
            <span class="fr">2ème Type Dmg</span>
            <span class="ru">2?? ??? ?????</span>
          </div>
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-30 center vert-top pad-l-sm">
          <input class="center" type="text" name="attr_bonus_crit_damage" value="0">

          <div class="small-label">
            <span class="en">Bonus Crit Dmg</span>
            <span class="de">Bonus Crit Dmg</span>
            <span class="fr">Bonus Dmg Crit</span>
            <span class="ru">????? ???? ?????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-l-sm">
          <input class="center" type="number" name="attr_crit_range" value="20" step="1" min="1" max="20">

          <div class="small-label">
            <span class="en">Crit Range</span>
            <span class="de">Crit Range</span>
            <span class="fr">Coup Crit</span>
            <span class="ru">???? ???</span>
          </div>
        </div>
      </div>
      <button type="roll" name="roll_weapon"
              value="@{output_option}   &{template:5eReshaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=@{name}}}   {{action=1}}   @{classactionmeleeweapon}   {{emote=@{emote}}}   {{attack=[[d20cs>@{crit_range}@{d20_mod} + @{to_hit} + (@{global_attack_bonus}) + (@{global_attack_bonus})]]}} {{attackadv=[[d20cs>@{crit_range}@{d20_mod} + @{to_hit} + (@{global_weapon_attack_bonus}) + (@{global_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}   {{crit_damage=[[0d0 + @{damage} + @{bonus_crit_damage}]]}} {{second_crit_damage=[[0d0 + @{second_damage}]]}}   {{reach=@{reach}}}   {{range=@{range}}}   {{ammo=[[@{ammo}-1]]}}  {{damage=[[0d0 + @{damage} + @{damage_stat} + @{damage_bonus} + (@{global_damage_bonus})]]}} {{damage_type=@{damage_type}}}   {{second_damage=[[0d0 + @{second_damage} + @{second_damage_stat} + @{second_damage_bonus}]]}} {{second_damage_type=@{second_damage_type}}}">
        <div class="shaped-row">
          <div class="col-35 center vert-top pad-r-sm">
            <input class="center pseudo-disabled" type="text" name="attr_name">
          </div>
          <div class="col-10 center vert-top pad-r-sm">
            <input class="center pseudo-disabled" type="text" name="attr_to_hit">
          </div>
          <div class="col-55 center vert-top pad-r-sm">
            <input class="center pseudo-disabled" type="text" name="attr_damage_string">
          </div>
        </div>
      </button>
    </div>
  </fieldset>

  <div class="wrap-box-title center">{{'ATTACKS' | translate}}</div>
</div>