<div class="attacks wrap-box mar-b-smd">
  <input type="hidden" name="attr_finesse_mod" value="[[((@{strength_mod} + @{dexterity_mod} + abs(@{strength_mod} - @{dexterity_mod})) / 2)]]" disabled>

  <fieldset class="repeating_attack">
    <div class="relative mar-b-md mar-t-md">
      <div class="col-20 center vert-top">
        <input class="attack-name center" type="text" name="attr_name" placeholder="name">
      </div>

      <div class="action-button-group right">
        <div class="shaped-row">
          <div class="col center vert-middle">
            <button type="roll" name="roll_weapon"
                    value="@{output_option}   &{template:5eReshaped}   {{attack_roll=1}}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=@{name}}}   {{action=1}}   {{type=Melee}}   @{classactionmeleeweapon}   {{emote=@{emote}}}   {{attack=[[d20cs>@{crit_range}@{d20_mod} + @{to_hit} + (@{global_attack_bonus}) + (@{global_attack_bonus})]]}} {{attackadv=[[d20cs>@{crit_range}@{d20_mod} + @{to_hit} + (@{global_weapon_attack_bonus}) + (@{global_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}   {{crit_damage=[[0d0 + @{dmg} + @{bonus_crit_dmg}]]}} {{second_crit_damage=[[0d0 + @{second_dmg}]]}}   {{reach=@{reach}}}   {{range=@{range}}}   {{ammo=[[@{ammo}-1]]}}  {{damage=[[0d0 + @{dmg} + @{dmg_total} + (@{global_weapon_damage_bonus}) + (@{global_damage_bonus})]]}} {{damage_type=@{dmg_type}}}   {{second_damage=[[0d0 + @{second_dmg} + @{second_dmg_bonus}]]}} {{second_damage_type=@{second_dmg_type}}}">
              Attack
            </button>
          </div>
        </div>
      </div>
      <div class="center mar-t-sm">
        <textarea class="xs-textarea" name="attr_emote"></textarea>

        <div class="small-label">{{'EMOTE' | translate}}</div>
      </div>
      <div class="shaped-row mar-t-sm">
        <div class="col-20 center vert-top pad-r-sm">
          <input class="checkbox-row-height" type="checkbox" value="@{PB}" name="attr_proficient" checked>

          <div class="small-label">
            <span class="en">Prof</span>
            <span class="de">Prof</span>
            <span class="fr">Maîtr</span>
            <span class="ru">????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-r-sm">
          <span class="en">
            <select name="attr_attack_stat" class="select-no-arrow">
              <option value="@{finesse_mod}">Finesse</option>
              <option value="@{strength_mod}" selected>Str</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wis</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_attack_stat" class="select-no-arrow">
              <option value="@{finesse_mod}">Finesse</option>
              <option value="@{strength_mod}" selected>Str</option>
              <option value="@{dexterity_mod}">Ges</option>
              <option value="@{constitution_mod}">Kon</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wei</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_attack_stat" class="select-no-arrow">
              <option value="@{finesse_mod}">Finesse</option>
              <option value="@{strength_mod}" selected>For</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Sag</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_ranged_attack_stat" class="select-no-arrow">
              <option value="@{finesse_mod}">????????????</option>
              <option value="@{strength_mod}">???</option>
              <option value="@{dexterity_mod}" selected>???</option>
              <option value="@{constitution_mod}">???</option>
              <option value="@{intelligence_mod}">???</option>
              <option value="@{wisdom_mod}">???</option>
              <option value="@{charisma_mod}">???</option>
            </select>
          </span>

          <div class="small-label">
            <span class="en">Atk Stat</span>
            <span class="de">Scha Stat</span>
            <span class="fr">Stat Atq</span>
            <span class="ru">??? ???</span>
          </div>
        </div>
        <div class="col-20 center vert-top pad-r-sm">
          <input class="center" type="number" name="attr_attack_bonus" value="0">

          <div class="small-label">
            <span class="en">+Atk</span>
            <span class="de">+Atk</span>
            <span class="fr">+Atq</span>
            <span class="ru">+???</span>
          </div>
        </div>
        <div class="col-30 border-right center vert-top pad-r-sm">
          <input class="center" type="number" name="attr_to_hit" value="@{proficient} + @{attack_stat} + @{attack_bonus}" disabled>

          <div class="small-label">
            <span class="en">To Hit</span>
            <span class="de">To Hit</span>
            <span class="fr">Mod Atq</span>
            <span class="ru">?????????</span>
          </div>
        </div>
      </div>
      <div class="shaped-row mar-t-sm">
        <div class="col-30 border-right center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="text" name="attr_reach">

          <div class="small-label">{{'REACH' | translate}}</div>
        </div>

        <div class="col-40 border-right center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="text" name="attr_range">

          <div class="small-label">{{'RANGE' | translate}}</div>
        </div>
        <div class="col-30 border-right center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="number" name="attr_ammo" min="0" value="1">

          <div class="small-label">{{'AMMO' | translate}}</div>
        </div>
      </div>
      <div class="shaped-row mar-t-sm">
        <div class="col-20 center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="text" name="attr_dmg" value="0">

          <div class="small-label">
            <span class="en">Dmg Dice</span>
            <span class="de">Dmg Dice</span>
            <span class="fr">Dés de Dmg</span>
            <span class="ru">?????? ?????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-r-sm">
          <span class="en">
            <select name="attr_dmg_stat" class="select-no-arrow">
              <option value="0">None</option>
              <option value="@{finesse_mod}">Finesse</option>
              <option value="@{strength_mod}" selected>Str</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wis</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_dmg_stat" class="select-no-arrow">
              <option value="0">Keine</option>
              <option value="@{finesse_mod}">Finesse</option>
              <option value="@{strength_mod}" selected>Str</option>
              <option value="@{dexterity_mod}">Ges</option>
              <option value="@{constitution_mod}">Kon</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wei</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_dmg_stat" class="select-no-arrow">
              <option value="0">Aucune</option>
              <option value="@{finesse_mod}">Finesse</option>
              <option value="@{strength_mod}" selected>For</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Sag</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_ranged_attack_stat" class="select-no-arrow">
              <option value="@{finesse_mod}">????????????</option>
              <option value="@{strength_mod}">???</option>
              <option value="@{dexterity_mod}" selected>???</option>
              <option value="@{constitution_mod}">???</option>
              <option value="@{intelligence_mod}">???</option>
              <option value="@{wisdom_mod}">???</option>
              <option value="@{charisma_mod}">???</option>
            </select>
          </span>

          <div class="small-label">
            <span class="en">Dmg Stat</span>
            <span class="de">Scha Stat</span>
            <span class="fr">Stat Dmg</span>
            <span class="ru">??? ????</span>
          </div>
        </div>
        <div class="col-20 center vert-top pad-r-sm">
          <input class="center" type="number" name="attr_dmg_bonus" value="0">

          <div class="small-label">
            <span class="en">+Dmg</span>
            <span class="de">+Scha</span>
            <span class="fr">+Dmg</span>
            <span class="ru">+????</span>
          </div>
        </div>
        <div class="col-30 border-right center vert-top pad-r-sm">
          <input class="center" type="text" name="attr_dmg_type">

          <div class="small-label">
            <span class="en">Dmg Type</span>
            <span class="de">Scha Type</span>
            <span class="fr">Type Dmg</span>
            <span class="ru">??? ????</span>
          </div>
        </div>
      </div>
      <div class="shaped-row mar-t-sm">
        <div class="col-20 center vert-top pad-l-sm pad-r-sm">
          <input class="center" type="text" name="attr_second_dmg" value="0">

          <div class="small-label">
            <span class="en">2nd Dmg Dice</span>
            <span class="de">2te Scha Dice</span>
            <span class="fr">2ème Dés de Dmg</span>
            <span class="ru">2?? ?????? ?????</span>
          </div>
        </div>
        <div class="col-20 center vert-top pad-r-sm">
          <input class="center" type="number" name="attr_second_dmg_bonus" value="0">

          <div class="small-label">
            <span class="en">2nd +Dmg</span>
            <span class="de">2te +Scha</span>
            <span class="fr">2ème +Dmg</span>
            <span class="ru">2?? +?????</span>
          </div>
        </div>
        <div class="col-30 border-right center vert-top pad-r-sm">
          <input class="center" type="text" name="attr_second_dmg_type">

          <div class="small-label">
            <span class="en">2nd Dmg Type</span>
            <span class="de">2te Scha Type</span>
            <span class="fr">2ème Type Dmg</span>
            <span class="ru">2?? ??? ?????</span>
          </div>
        </div>
      </div>
      <div class="shaped-row">
        <div class="col-30 center vert-top pad-l-sm">
          <input class="center" type="text" name="attr_bonus_crit_dmg" value="0">

          <div class="small-label">
            <span class="en">Bonus Crit Dmg</span>
            <span class="de">Bonus Crit Dmg</span>
            <span class="fr">Bonus Dmg Crit</span>
            <span class="ru">????? ???? ?????</span>
          </div>
        </div>
        <div class="col-30 center vert-top pad-l-sm">
          <input class="center" type="number" name="attr_crit_range" value="20" step="1" min="1" max="20">

          <div class="small-label">
            <span class="en">Crit Range</span>
            <span class="de">Crit Range</span>
            <span class="fr">Coup Crit</span>
            <span class="ru">???? ???</span>
          </div>
        </div>

        <div class="col-20 center vert-top pad-r-sm">
          <input class="center" type="number" name="attr_dmg_total" value="@{dmg_stat} + @{dmg_bonus}" disabled>

          <div class="small-label">
            <span class="en">Dmg Mod</span>
            <span class="de">Scha Mod</span>
            <span class="fr">Mod Dmg</span>
            <span class="ru">??? ????</span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="wrap-box-title center">{{'ATTACKS' | translate}}</div>
</div>