<div class="ability-score-wrapper wrap-box center">
  <div class="ability-name">{{'ABILITIES.strength.NAME' | translate}}</div>
  <input class="ability-score no-spin" type="number" name="attr_strength" min="1" step="1" value="8">
  <input class="ability-modifier no-spin" type="number" name="attr_strength_mod" value="[[floor((@{strength}-10)/2) + @{strength_bonus}]]" disabled>
</div>
<div class="ability-score-wrapper wrap-box center">
  <div class="ability-name">{{'ABILITIES.dexterity.NAME' | translate}}</div>
  <input class="ability-score no-spin" type="number" name="attr_dexterity" min="1" step="1" value="8">
  <input class="ability-modifier no-spin" type="number" name="attr_dexterity_mod" value="[[floor((@{dexterity}-10)/2) + @{dexterity_bonus}]]" disabled>
</div>
<div class="ability-score-wrapper wrap-box center">
  <div class="ability-name">{{'ABILITIES.constitution.NAME' | translate}}</div>
  <input class="ability-score no-spin" type="number" name="attr_constitution" min="1" step="1" value="8">
  <input class="ability-modifier no-spin" type="number" name="attr_constitution_mod" value="[[floor((@{constitution}-10)/2) + @{constitution_bonus}]]" disabled>
</div>
<div class="ability-score-wrapper wrap-box center">
  <div class="ability-name">{{'ABILITIES.intelligence.NAME' | translate}}</div>
  <input class="ability-score no-spin" type="number" name="attr_intelligence" min="1" step="1" value="8">
  <input class="ability-modifier no-spin" type="number" name="attr_intelligence_mod" value="[[floor((@{intelligence}-10)/2) + @{intelligence_bonus}]]" disabled>
</div>
<div class="ability-score-wrapper wrap-box center">
  <div class="ability-name">{{'ABILITIES.wisdom.NAME' | translate}}</div>
  <input class="ability-score no-spin" type="number" name="attr_wisdom" min="1" step="1" value="8">
  <input class="ability-modifier no-spin" type="number" name="attr_wisdom_mod" value="[[floor((@{wisdom}-10)/2) + @{wisdom_bonus}]]" disabled>
</div>
<div class="ability-score-wrapper wrap-box center">
  <div class="ability-name">{{'ABILITIES.charisma.NAME' | translate}}</div>
  <input class="ability-score no-spin" type="number" name="attr_charisma" min="1" step="1" value="8">
  <input class="ability-modifier no-spin" type="number" name="attr_charisma_mod" value="[[floor((@{charisma}-10)/2) + @{charisma_bonus}]]" disabled>
</div>