<div class="wrap-box personality-traits mar-b-sm">
  <textarea class="sheet-three-line-textarea background-textarea" name="attr_personality_traits"></textarea>

  <div class="wrap-box-title center">{{'PERSONALITY_TRAITS' | translate}}</div>
</div>
<div class="wrap-box ideals mar-b-sm">
  <textarea class="sheet-three-line-textarea background-textarea" name="attr_ideals"></textarea>

  <div class="wrap-box-title center">{{'IDEALS' | translate}}</div>
</div>
<div class="wrap-box bonds mar-b-sm">
  <textarea class="sheet-three-line-textarea background-textarea" name="attr_bonds"></textarea>

  <div class="wrap-box-title center">{{'BONDS' | translate}}</div>
</div>
<div class="wrap-box flaws mar-b-smd">
  <textarea class="sheet-three-line-textarea background-textarea" name="attr_flaws"></textarea>

  <div class="wrap-box-title center">{{'FLAWS' | translate}}</div>
</div>