<div class="wrap-box mar-b-smd">
  <div class="col-18 pad-r-sm">
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35">
        <span>{{'COINS_CP' | translate}}</span>
      </div>
      <div class="col-65">
        <input type="number" name="attr_cp" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35">
        <span>{{'COINS_SP' | translate}}</span>
      </div>
      <div class="col-65">
        <input type="number" name="attr_sp" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35">
        <span>{{'COINS_EP' | translate}}</span>
      </div>
      <div class="col-65">
        <input type="number" name="attr_ep" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35">
        <span>{{'COINS_GP' | translate}}</span>
      </div>
      <div class="col-65">
        <input type="number" name="attr_gp" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35">
        <span>{{'COINS_PP' | translate}}</span>
      </div>
      <div class="col-65">
        <input type="number" name="attr_pp" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35">
        <span>{{'COINS_GP' | translate}}</span>
      </div>
      <div class="col-65">
        <input type="number" name="attr_total_gp" class="bold no-spin" readonly>
      </div>
    </div>
  </div>
  <div class="col-82 pad-l-lg">

  </div>

  <div class="wrap-box-title center">{{'EQUIPMENT' | translate}}</div>
</div>
