<div class="wrap-box mar-b-smd">
  <div class="col-18 coin-wrap pad-r-sm">
    <div class="wrap-box coin shaped-row relative mar-t-md">
      <div class="col-35 label">{{'COINS_CP' | translate}}</div>
      <div class="col-65">
        <input type="number" name="attr_cp" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35 label">{{'COINS_SP' | translate}}</div>
      <div class="col-65">
        <input type="number" name="attr_sp" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35 label">{{'COINS_EP' | translate}}</div>
      <div class="col-65">
        <input type="number" name="attr_ep" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35 label">{{'COINS_GP' | translate}}</div>
      <div class="col-65">
        <input type="number" name="attr_gp" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35 label">{{'COINS_PP' | translate}}</div>
      <div class="col-65">
        <input type="number" name="attr_pp" class="no-spin" value="0" min="0" step="1">
      </div>
    </div>
    <div class="wrap-box coin shaped-row relative mar-t-lg">
      <div class="col-35 label bold">{{'COINS_GP' | translate}}</div>
      <div class="col-65">
        <input type="number" name="attr_total_gp" class="bold no-spin" readonly>
      </div>
    </div>
  </div>
  <div class="col-82 pad-l-lg">
    <fieldset class="repeating_equipment">
      <div class="shaped-row">
        <div class="col-10 center vert-middle">
          <input type="checkbox" name="attr_carried" checked>
        </div>
        <div class="col-72 pad-r-sm">
          <input type="text" name="attr_name">
        </div>
        <div class="col-18 pad-r-sm">
          <input type="number" name="attr_qty" value="1" min="0" step="1">
        </div>
      </div>
    </fieldset>
  </div>

  <div class="wrap-box-title center">{{'EQUIPMENT' | translate}}</div>
</div>
