<div class="heart center mar-b-smd">
  <div class="shaped-row first-row">
    <div class="col-35 vert-middle pad-r-md">
      <input class="no-spin heart-hp-current" type="number" name="attr_HP" step="1">

      <div class="small-label">{{'CURRENT' | translate}}</div>
    </div>
    <div class="col-11 vert-bottom">&#47;</div>
    <div class="col-35 vert-middle pad-l-md">
      <input class="no-spin heart-hp-max" type="number" name="attr_HP_max" min="1" step="1">

      <div class="small-label">{{'MAX' | translate}}</div>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30">
      <input class="no-spin heart-hp-temp" type="number" name="attr_temp_HP" min="0" step="1">

      <div class="small-label">{{'TEMP' | translate}}</div>
    </div>
  </div>
  <div class="wrap-box-title">{{'HIT_POINTS' | translate}}</div>
</div>