<div class="hit-dice wrap-box center mar-b-smd">
  <input type="checkbox" name="attr_hd_d4_toggle" value="1" class="toggle-hd-d4 hidden">
  <input type="checkbox" name="attr_hd_d6_toggle" value="1" class="toggle-hd-d6 hidden">
  <input type="checkbox" name="attr_hd_d8_toggle" value="1" class="toggle-hd-d8 hidden">
  <input type="checkbox" name="attr_hd_d10_toggle" value="1" class="toggle-hd-d10 hidden">
  <input type="checkbox" name="attr_hd_d12_toggle" value="1" class="toggle-hd-d12 hidden">
  <input type="checkbox" name="attr_hd_d20_toggle" value="1" class="toggle-hd-d20 hidden">

  <div class="shaped-row vert-center npc toggle-hd-d4">
    <div class="col-25 pad-r-sm">
      <input type="number" name="attr_hd_d4" class="no-spin" min="0" step="1">
    </div>
    <div class="col-05">&#47;</div>
    <div class="col-25">
      <input type="number" name="attr_hd_d4_max" class="no-spin">
    </div>
    <div class="col-30 center">
      <button type="roll" name="roll_Use_HD_d4" class="bold" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Dice (d4)}} {{roll=[[d4 + @{constitution_mod}]]}} @{tie_on_hit_dice}">
        d4
      </button>
    </div>
  </div>
  <div class="shaped-row vert-center toggle-hd-d6">
    <div class="col-25 pad-r-sm">
      <input type="number" name="attr_hd_d6" class="no-spin" min="0" step="1">
    </div>
    <div class="col-05">&#47;</div>
    <div class="col-25">
      <div class="npc">
        <input type="number" name="attr_hd_d6_max" class="no-spin">
      </div>
      <div class="pc">
        <input class="no-spin" type="number" name="attr_hd_d6_max" class="no-spin" readonly>
      </div>
    </div>
    <div class="col-30 center">
      <button type="roll" name="roll_Use_HD_d6" class="bold" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Dice (d6)}} {{roll=[[d6 + @{constitution_mod}]]}} @{tie_on_hit_dice}">
        d6
      </button>
    </div>
  </div>
  <div class="shaped-row vert-center toggle-hd-d8">
    <div class="col-25 pad-r-sm">
      <input type="number" name="attr_hd_d8" class="no-spin" min="0" step="1">
    </div>
    <div class="col-05">&#47;</div>
    <div class="col-25">
      <div class="npc">
        <input type="number" name="attr_hd_d8_max" class="no-spin">
      </div>
      <div class="pc">
        <input class="no-spin" type="number" name="attr_hd_d8_max" class="no-spin" readonly>
      </div>
    </div>
    <div class="col-30 center">
      <button type="roll" name="roll_Use_HD_d8" class="bold" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Dice (d8)}} {{roll=[[d8 + @{constitution_mod}]]}} @{tie_on_hit_dice}">
        d8
      </button>
    </div>
  </div>
  <div class="shaped-row vert-center toggle-hd-d10">
    <div class="col-25 pad-r-sm">
      <input type="number" name="attr_hd_d10" class="no-spin" min="0" step="1">
    </div>
    <div class="col-05">&#47;</div>
    <div class="col-25">
      <div class="npc">
        <input type="number" name="attr_hd_d10_max" class="no-spin">
      </div>
      <div class="pc">
        <input class="no-spin" type="number" name="attr_hd_d10_max" class="no-spin" readonly>
      </div>
    </div>
    <div class="col-30 center">
      <button type="roll" name="roll_Use_HD_d10" class="bold" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Dice (d10)}} {{roll=[[d10 + @{constitution_mod}]]}} @{tie_on_hit_dice}">
        d10
      </button>
    </div>
  </div>
  <div class="shaped-row vert-center toggle-hd-d12">
    <div class="col-25  pad-r-sm">
      <input type="number" name="attr_hd_d12" class="no-spin" min="0" step="1">
    </div>
    <div class="col-05">&#47;</div>
    <div class="col-25">
      <div class="npc">
        <input type="number" name="attr_hd_d12_max" class="no-spin">
      </div>
      <div class="pc">
        <input class="no-spin" type="number" name="attr_hd_d12_max" class="no-spin" readonly>
      </div>
    </div>
    <div class="col-30 center">
      <button type="roll" name="roll_Use_HD_d12" class="bold" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Dice (d12}} {{roll=[[d12 + @{constitution_mod}]]}} @{tie_on_hit_dice}">
        d12
      </button>
    </div>
  </div>
  <div class="shaped-row vert-center toggle-hd-d20 npc">
    <div class="col-25 pad-r-sm">
      <input type="number" name="attr_hd_d20" class="no-spin" min="0" step="1">
    </div>
    <div class="col-05">&#47;</div>
    <div class="col-25">
      <input type="number" name="attr_hd_d20_max" class="no-spin">
    </div>
    <div class="col-30 center">
      <button type="roll" name="roll_Use_HD_d20" class="bold" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Dice (d20)}} {{roll=[[d20 + @{constitution_mod}]]}} @{tie_on_hit_dice}">
        d20
      </button>
    </div>
  </div>
  <div class="wrap-box-title">{{'HIT_DICE' | translate}}</div>
</div>