<div class="hit-dice wrap-box center mar-b-smd">
  <input type="checkbox" name="attr_hd_d4_toggle" class="toggle-hd-d4 npc"><span class="toggle-hd-d4 npc">d4</span>
  <input type="checkbox" name="attr_hd_d6_toggle" class="toggle-hd-d6"><span class="toggle-hd-d6">d6</span>
  <input type="checkbox" name="attr_hd_d8_toggle" class="toggle-hd-d8"><span class="toggle-hd-d8">d8</span>
  <input type="checkbox" name="attr_hd_d10_toggle" class="toggle-hd-d10"><span class="toggle-hd-d10">d10</span>
  <input type="checkbox" name="attr_hd_d12_toggle" class="toggle-hd-d12"><span class="toggle-hd-d12">d12</span>
  <input type="checkbox" name="attr_hd_d20_toggle" class="toggle-hd-d20 npc"><span class="toggle-hd-d20 npc">d20</span>

  <div class="shaped-row npc toggle-hd-d4">
    <div class="col-25 vert-middle pad-r-sm">
      <input type="number" name="attr_hd_d4" min="0" step="1">
    </div>
    <div class="col-05 vert-bottom">&#47;</div>
    <div class="col-25 vert-middle">
      <input type="number" name="attr_hd_d4_max">
    </div>
    <div class="col-30 center vert-middle">
      <button type="roll" name="roll_Use_HD_d4" value="@{output_option} &{template:5eReshaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Spending Hit Dice}} {{subheader=d4}} {{rollname=HP regained}} {{roll=[[d4 + @{constitution_mod}]]}} @{classactionhitdice}">
        <span>d4</span>
      </button>
    </div>
  </div>
  <div class="shaped-row toggle-hd-d6">
    <div class="col-25 vert-middle pad-r-sm">
      <input type="number" name="attr_hd_d6" min="0" step="1">
    </div>
    <div class="col-05 vert-bottom">&#47;</div>
    <div class="col-25 vert-middle">
      <div class="npc">
        <input type="number" name="attr_hd_d6_max">
      </div>
      <div class="pc">
        <input class="no-spin" type="number" name="attr_hd_d6_max" value="@{sorcerer_level} + @{wizard_level} + @{custom_classes_d6_hd}" disabled>
      </div>
    </div>
    <div class="col-30 center vert-middle">
      <button type="roll" name="roll_Use_HD_d6" value="@{output_option} &{template:5eReshaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Spending Hit Dice}} {{subheader=d6}} {{rollname=HP regained}} {{roll=[[d6 + @{constitution_mod}]]}} @{classactionhitdice}">
        <span>d6</span>
      </button>
    </div>
  </div>
  <div class="shaped-row toggle-hd-d8">
    <div class="col-25 vert-middle pad-r-sm">
      <input type="number" name="attr_hd_d8" min="0" step="1">
    </div>
    <div class="col-05 vert-bottom">&#47;</div>
    <div class="col-25 vert-middle">
      <div class="npc">
        <input type="number" name="attr_hd_d8_max">
      </div>
      <div class="pc">
        <input class="no-spin" type="number" name="attr_hd_d8_max" value="@{bard_level} + @{cleric_level} + @{druid_level} + @{rogue_level} + @{monk_level} + @{warlock_level} + @{custom_classes_d8_hd}" disabled>
      </div>
    </div>
    <div class="col-30 center vert-middle">
      <button type="roll" name="roll_Use_HD_d8" value="@{output_option} &{template:5eReshaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Spending Hit Dice}} {{subheader=d8}} {{rollname=HP regained}} {{roll=[[d8 + @{constitution_mod}]]}} @{classactionhitdice}">
        <span>d8</span>
      </button>
    </div>
  </div>
  <div class="shaped-row toggle-hd-d10">
    <div class="col-25 vert-middle pad-r-sm">
      <input type="number" name="attr_hd_d10" min="0" step="1">
    </div>
    <div class="col-05 vert-bottom">&#47;</div>
    <div class="col-25 vert-middle">
      <div class="npc">
        <input type="number" name="attr_hd_d10_max">
      </div>
      <div class="pc">
        <input class="no-spin" type="number" name="attr_hd_d10_max" value="@{fighter_level} + @{paladin_level} + @{ranger_level} + @{custom_classes_d10_hd}" disabled>
      </div>
    </div>
    <div class="col-30 center vert-middle">
      <button type="roll" name="roll_Use_HD_d10" value="@{output_option} &{template:5eReshaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Spending Hit Dice}} {{subheader=d10}} {{rollname=HP regained}} {{roll=[[d10 + @{constitution_mod}]]}} @{classactionhitdice}">
        <span>d10</span>
      </button>
    </div>
  </div>
  <div class="shaped-row toggle-hd-d12">
    <div class="col-25 vert-middle pad-r-sm">
      <input type="number" name="attr_hd_d12" min="0" step="1">
    </div>
    <div class="col-05 vert-bottom">&#47;</div>
    <div class="col-25 vert-middle">
      <div class="npc">
        <input type="number" name="attr_hd_d12_max">
      </div>
      <div class="pc">
        <input class="no-spin" type="number" name="attr_hd_d12_max" value="@{barbarian_level} + @{custom_classes_d12_hd}" disabled>
      </div>
    </div>
    <div class="col-30 center vert-middle">
      <button type="roll" name="roll_Use_HD_d12" value="@{output_option} &{template:5eReshaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Spending Hit Dice}} {{subheader=d12}} {{rollname=HP regained}} {{roll=[[d12 + @{constitution_mod}]]}} @{classactionhitdice}">
        <span>d12</span>
      </button>
    </div>
  </div>
  <div class="shaped-row toggle-hd-d20 npc">
    <div class="col-25 vert-middle pad-r-sm">
      <input type="number" name="attr_hd_d20" min="0" step="1">
    </div>
    <div class="col-05 vert-bottom">&#47;</div>
    <div class="col-25 vert-middle">
      <input type="number" name="attr_hd_d20_max">
    </div>
    <div class="col-30 center vert-middle">
      <button type="roll" name="roll_Use_HD_d20" value="@{output_option} &{template:5eReshaped} {{title=Spending Hit Dice - d20}} {{subheader=@{character_name}}} {{rollname=HP regained}} {{roll=[[d20 + @{constitution_mod}]]}} @{classactionhitdice}">
        <span>d20</span>
      </button>
    </div>
  </div>
  <div class="wrap-box-title">{{'HIT_DICE' | translate}}</div>
</div>