<div class="wrap-box">
  <div class="relative">
    <div class="text-area-label">{{'PROFICIENCIES' | translate}}.</div>
    <textarea name="attr_proficiencies" class="six-line-textarea text-area-with-label"></textarea>
  </div>

  <div class="relative mar-b-md">
    <div class="text-area-label">{{'LANGUAGES' | translate}}.</div>
    <textarea name="attr_languages" class="two-line-textarea text-area-with-label"></textarea>
  </div>

  <div class="wrap-box-title center">{{'OTHER_PROFICIENCIES_AND_LANGUAGES' | translate}}</div>
</div>