<div class="wrap-box extras">
  <div class="shaped-row">
    <div class="col-25 speed center mar-t-md pad-r-sm">
      <input class="center" type="text" name="attr_speed_burrow">

      <div class="wrap-box-label">{{'BURROW' | translate}}</div>
    </div>
    <div class="col-25 speed center mar-t-md pad-l-sm pad-r-sm">
      <input class="center" type="text" name="attr_speed_climb">

      <div class="wrap-box-label">{{'CLIMB' | translate}}</div>
    </div>
    <div class="col-25 speed relative center pad-l-sm pad-r-sm">
      <label class="checkbox-label-sm absolute">
        <input type="checkbox" name="attr_speed_fly_hover"><span>{{'HOVER' | translate}}</span>
      </label>
      <input class="center mar-t-md" type="text" name="attr_speed_fly">

      <div class="wrap-box-label">{{'FLY' | translate}}</div>
    </div>
    <div class="col-25 speed center mar-t-md pad-l-sm">
      <input class="center" type="text" name="attr_speed_swim">

      <div class="wrap-box-label">{{'SWIM' | translate}}</div>
    </div>
  </div>
  <div class="wrap-box-title center">{{'MOVEMENT' | translate}}</div>
</div>