<div class="proficiency-bonus wrap-box relative mar-t-sm mar-b-md">
  <div class="shaped-row">
    <div class="col-15 vert-middle">
      <input class="no-spin bold" type="number" name="attr_PB" value="[[(2 + floor(abs((@{level}-1)/4)))]]" disabled>
      <input type="hidden" name="attr_exp" value="[[(2*@{PB})]]" disabled>
      <input type="hidden" name="attr_h_PB" value="[[floor(@{PB}/2)]]" disabled>
    </div>
    <div class="col-85 wrap-box-title pad-l-sm">{{'PROFICIENCY_BONUS' | translate}}</div>
  </div>
</div>