<div class="resistances-immunities wrap-box center mar-b-smd">
  <div>
    <textarea name="attr_damage_vulnerability"></textarea>

    <div class="small-label">{{'DAMAGE_VULNERABILITIES' | translate}}</div>
  </div>
  <div>
    <textarea name="attr_damage_resistance"></textarea>

    <div class="small-label">{{'DAMAGE_RESISTANCES' | translate}}</div>
  </div>
  <div>
    <textarea name="attr_damage_immunity"></textarea>

    <div class="small-label">{{'DAMAGE_IMMUNITIES' | translate}}</div>
  </div>
  <div>
    <textarea name="attr_condition_immunity"></textarea>

    <div class="small-label">{{'CONDITION_IMMUNITIES' | translate}}</div>
  </div>
  <div class="wrap-box-title center">{{'RESISTANCES_AND_IMMUNITIES' | translate}}</div>
</div>