<div class="save-check wrap-box mar-b-smd">
  <div class="shaped-row">
    <div class="col-05 center vert-middle">
      <input type="checkbox" name="attr_strength_save_prof" value="@{PB}">
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin save-total" type="number" name="attr_strength_save_mod" value="@{strength_mod} + @{strength_save_prof} + @{strength_save_bonus} + (@{global_saving_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle">
      <button type="roll" name="roll_Strength_Save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Saving Throw}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{strength_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{strength_save_mod}]]}} @{classactionstrengthsave}">
        <span class="pictos vert-top">k</span>
      </button>
    </div>
    <div class="col-51 center vert-middle pad-l-sm pad-r-sm">
      <span class="ability-save-check-name">{{'ABILITIES.strength.NAME' | translate}}</span>
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin check-total" type="number" name="attr_basic_strength_check_mod" value="@{strength_mod} + @{basic_strength_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle pad-l-sm">
      <button type="roll" name="roll_Basic_Strength_Check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_strength_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_strength_check_mod}]]}} @{classactionunskilledstr}">
        <span class="pictos vert-top">3</span>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-05 center vert-middle">
      <input type="checkbox" name="attr_dexterity_save_prof" value="@{PB}">
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin save-total" type="number" name="attr_dexterity_save_mod" value="@{dexterity_mod} + @{dexterity_save_prof} + @{dexterity_save_bonus} + (@{global_saving_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle">
      <button type="roll" name="roll_Dexterity_Save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Saving Throw}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{dexterity_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{dexterity_save_mod}]]}} @{classactiondexteritysave}">
        <span class="pictos vert-top">k</span>
      </button>
    </div>
    <div class="col-51 center vert-middle pad-l-sm pad-r-sm">
      <span class="ability-save-check-name">{{'ABILITIES.dexterity.NAME' | translate}}</span>
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin check-total" type="number" name="attr_basic_dexterity_check_mod" value="@{dexterity_mod} + @{basic_dexterity_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle pad-l-sm">
      <button type="roll" name="roll_Basic_Dexterity_Check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_dexterity_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_dexterity_check_mod}]]}} @{classactionunskilleddex}">
        <span class="pictos vert-top">3</span>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-05 center vert-middle">
      <input type="checkbox" name="attr_constitution_save_prof" value="@{PB}">
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin save-total" type="number" name="attr_constitution_save_mod" value="@{constitution_mod} + @{constitution_save_prof} + @{constitution_save_bonus} + (@{global_saving_bonus})" disabled></div>
    <div class="col-10 center vert-middle">
      <button type="roll" name="roll_Constitution_Save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Saving Throw}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{constitution_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{constitution_save_mod}]]}} @{classactionconstitutionsave}">
        <span class="pictos vert-top">k</span>
      </button>
    </div>
    <div class="col-51 center vert-middle pad-l-sm pad-r-sm">
      <span class="ability-save-check-name">{{'ABILITIES.constitution.NAME' | translate}}</span>
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin check-total" type="number" name="attr_basic_constitution_check_mod" value="@{constitution_mod} + @{basic_constitution_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle pad-l-sm">
      <button type="roll" name="roll_Basic_Constitution_Check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_constitution_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_constitution_check_mod}]]}} @{classactionunskilledcon}">
        <span class="pictos vert-top">3</span>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-05 center vert-middle">
      <input type="checkbox" name="attr_intelligence_save_prof" value="@{PB}">
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin save-total" type="number" name="attr_intelligence_save_mod" value="@{intelligence_mod} + @{intelligence_save_prof} + @{intelligence_save_bonus} + (@{global_saving_bonus})" disabled></div>
    <div class="col-10 center vert-middle">
      <button type="roll" name="roll_Intelligence_Save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Saving Throw}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{intelligence_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{intelligence_save_mod}]]}} @{classactionintelligencesave}">
        <span class="pictos vert-top">k</span>
      </button>
    </div>
    <div class="col-51 center vert-middle pad-l-sm pad-r-sm">
      <span class="ability-save-check-name">{{'ABILITIES.intelligence.NAME' | translate}}</span>
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin check-total" type="number" name="attr_basic_intelligence_check_mod" value="@{intelligence_mod} + @{basic_intelligence_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle pad-l-sm">
      <button type="roll" name="roll_Basic_Intelligence_Check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_intelligence_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_intelligence_check_mod}]]}} @{classactionunskilledint}">
        <span class="pictos vert-top">3</span>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-05 center vert-middle">
      <input type="checkbox" name="attr_wisdom_save_prof" value="@{PB}">
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin save-total" type="number" name="attr_wisdom_save_mod" value="@{wisdom_mod} + @{wisdom_save_prof} + @{wisdom_save_bonus} + (@{global_saving_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle">
      <button type="roll" name="roll_Wisdom_Save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Saving Throw}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{wisdom_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{wisdom_save_mod}]]}} @{classactionwisdomsave}">
        <span class="pictos vert-top">k</span>
      </button>
    </div>
    <div class="col-51 center vert-middle pad-l-sm pad-r-sm">
      <span class="ability-save-check-name">{{'ABILITIES.wisdom.NAME' | translate}}</span>
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin check-total" type="number" name="attr_basic_wisdom_check_mod" value="@{wisdom_mod} + @{basic_wisdom_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle pad-l-sm">
      <button type="roll" name="roll_Basic_Wisdom_Check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_wisdom_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_wisdom_check_mod}]]}} @{classactionunskilledwis}">
        <span class="pictos vert-top">3</span>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-05 center vert-middle">
      <input type="checkbox" name="attr_charisma_save_prof" value="@{PB}">
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin save-total" type="number" name="attr_charisma_save_mod" value="@{charisma_mod} + @{charisma_save_prof} + @{charisma_save_bonus} + (@{global_saving_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle">
      <button type="roll" name="roll_Charisma_Save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Saving Throw}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{charisma_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{charisma_save_mod}]]}} @{classactioncharismasave}">
        <span class="pictos vert-top">k</span>
      </button>
    </div>
    <div class="col-51 center vert-middle pad-l-sm pad-r-sm">
      <span class="ability-save-check-name">{{'ABILITIES.charisma.NAME' | translate}}</span>
    </div>
    <div class="col-12 center vert-middle">
      <input class="no-spin check-total" type="number" name="attr_basic_charisma_check_mod" value="@{charisma_mod} + @{basic_charisma_bonus} + @{jack_of_all_trades} + (@{global_check_bonus})" disabled>
    </div>
    <div class="col-10 center vert-middle pad-l-sm">
      <button type="roll" name="roll_Basic_Charisma_Check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{basic_charisma_check_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{basic_charisma_check_mod}]]}} @{classactionunskilledcha}">
        <span class="pictos vert-top">3</span>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50">
      <div class="wrap-box-title center">{{'SAVING_THROWS' | translate}}</div>
    </div>
    <div class="col-40 offset-10">
      <div class="wrap-box-title center">{{'ABILITY_CHECKS' | translate}}</div>
    </div>
  </div>
</div>