<div class="skills wrap-box">
  <fieldset class="repeating_skill">
    <div class="shaped-row no-wrap vert-center">
      <div class="col-12 skill-select-wrapper">
        <span class="en">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient">&#8212; &#160;&#160; Unproficient</option>
            <option value="proficient">&check; &#160;&#160; Proficient</option>
            <option value="expertise">&cross; &#160;&#160; Expertise</option>
          </select>
        </span>
        <span class="de">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient">&#8212; &#160;&#160; Fehlt Tüchtig</option>
            <option value="proficient">&check; &#160;&#160; Tüchtig</option>
            <option value="expertise">&cross; &#160;&#160; Sachverstand</option>
          </select>
        </span>
        <span class="fr">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient">&#8212; &#160;&#160; Non Maîtrisée</option>
            <option value="proficient">&check; &#160;&#160; Maîtrise</option>
            <option value="expertise">&cross; &#160;&#160; Expertise</option>
          </select>
        </span>
        <span class="ru">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient">&#8212; &#160;&#160; Нет владеет</option>
            <option value="proficient">&check; &#160;&#160; Владение</option>
            <option value="expertise">&cross; &#160;&#160; Эксперт</option>
          </select>
        </span>
      </div>
      <div class="col-18">
        <input type="hidden" name="attr_proficiency_toggled" value="2">
        <input type="hidden" name="attr_ability_short_name">
        <button type="roll" name="roll_skill" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name} (@{ability_short_name})}} {{subheader=Ability Check}} {{roll=[[d20@{d20_mod} + @{total}]]}} {{roll_adv=[[d20@{d20_mod} + @{total}]]}}">
          <div>
            <input type="number" name="attr_total" class="no-spin bold" readonly>
          </div>
        </button>
      </div>
      <div class="col-51 skill-name">
        <input type="text" name="attr_name" class="skill-name no-border">
      </div>
      <div class="sheet-skills-ability-selector-wrapper">
        <span class="en">
          <select name="attr_ability" class="skills-ability-selector">
            <option value="@{strength_mod}">Str</option>
            <option value="@{dexterity_mod}">Dex</option>
            <option value="@{constitution_mod}">Con</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Wis</option>
            <option value="@{charisma_mod}">Cha</option>
          </select>
        </span>
        <span class="de">
          <select name="attr_ability" class="skills-ability-selector">
            <option value="@{strength_mod}">Str</option>
            <option value="@{dexterity_mod}">Ges</option>
            <option value="@{constitution_mod}">Kon</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Wei</option>
            <option value="@{charisma_mod}">Cha</option>
          </select>
        </span>
        <span class="fr">
          <select name="attr_ability" class="skills-ability-selector">
            <option value="@{strength_mod}">For</option>
            <option value="@{dexterity_mod}">Dex</option>
            <option value="@{constitution_mod}">Con</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Sag</option>
            <option value="@{charisma_mod}">Cha</option>
          </select>
        </span>
        <span class="ru">
          <select name="attr_ability" class="skills-ability-selector">
            <option value="@{strength_mod}">Сил</option>
            <option value="@{dexterity_mod}">Лов</option>
            <option value="@{constitution_mod}">Тел</option>
            <option value="@{intelligence_mod}">Инт</option>
            <option value="@{wisdom_mod}">Муд</option>
            <option value="@{charisma_mod}">Хар</option>
          </select>
        </span>
      </div>
    </div>
  </fieldset>
  <div class="wrap-box-title center">{{'SKILLS_TITLE' | translate}}</div>
</div>