<div class="skills wrap-box">
  <!-- inject:skills:html -->
  <!-- endinject -->
  <input type="checkbox" name="attr_custom_skills_toggle" class="slide-input-custom-skills"><label class="slide-toggle-custom-skills"><span class="slide-cover">{{'CUSTOM_SKILLS' | translate}}</span><span class="slide-toggle-custom-skills-left pictos">3</span><span
  class="slide-toggle-custom-skills-right">✖</span></label>
  <!-- inject:customSkills:html -->
  <!-- endinject -->
  <div class="wrap-box-title center">{{'SKILLS_TITLE' | translate}}</div>
</div>