<div class="wrap-box center mar-b-smd">
  <div class="jack-of-all-trades">
    <input class="toggle-jack-of-all-trades" type="checkbox" name="attr_jack_of_all_trades" value="floor(@{PB} / 2)"><span class="toggle-jack-of-all-trades">{{'JACK_OF_ALL_TRADES' | translate}}</span>
  </div>

  <textarea name="attr_features_and_traits" class="no-border"></textarea>

  <button type="roll" name="roll_features_and_traits" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Features and Traints}} {{text=@{features_and_traits}}}">
    <div class="wrap-box-title center">{{'FEATURES_AND_TRAITS' | translate}}</div>
  </button>
</div>