.charsheet {
    background-color: #c0c0c0;
}

.charsheet table{
    border-collapse:separate;
    border-spacing:10px;
}
 
.charsheet textarea{
    resize:vertical;
}
  
.charsheet .sheet-section{
    border-top: 5px solid #505050;
    padding-top:10px;
    padding-bottom:10px;
 }

.charsheet input[type=number].sheet-smallnumber{
    width:40px;
}

.charsheet input[type=text].sheet-smalltext{
    width:60px;
    height: 18px;
    margin:0px;
}
.charsheet input[type=text].sheet-shorttext{
    padding-top:2px;
    padding-bottom:2px;
}

.charsheet input[type=text].sheet-skilltext{
    width:65px;
    padding:2px;
    margin-left:3px;
}

.charsheet .sheet-right{
    float:right;
}

.charsheet .sheet-bold{
    font-size: 12pt;
    margin-bottom: 10px;
}

.charsheet .sheet-border{
    border: 2px solid white;
    vertical-align:top;
    width:100%;
    padding: 2px;
    margin: 2px;
}

.charsheet input[type=number].sheet-smallshortnumber{
    width:35px;
    padding-top:2px;
    padding-bottom:2px;
    display: inline-block;
    float:right;
}

.charsheet input[type=number].sheet-shortnumber{
    padding-top:1px;
    padding-bottom:1px;
}

.charsheet label.sheet-areaLabel{
    margin:4px;
}