
- arm5.pug.js_loader.load_js("helpers/updater/updater.pug.js");

//- mixin setup_helpers_updater()
//-     +hidden({name:'notNew', value:"0"})


mixin sheetworker_helpers_updater()
    | 
    | 
    include updater.sheetworker.js

mixin post_sheetworker_helpers_updater()
    //- Execute in PUG the code that generates the registrations
    |
    != arm5.pug.updater.generateVersion()
    != arm5.pug.updater.generateSheetworkerRegistrations()
    //- Output sheetworker code that calls the sheet implementation
    |
    | arm5.sheet.updater.addAllUpdateRef();
    | arm5.sheet.updater.registerAllUpdates();
    |