.sheet-bonds-track
  width basis(54.625)is(0.375)
  margin-top 0.5em
  margin-left 203px

// .shebasis(0.25) basis(0)
//   height auto
//   opacity 1component
//   margin-top 1em

.sheet-bond
  display flex
  flex-direction column
  justify-content center
  align-items center

/* BONDS */
.sheet-bond-container
  margin-bottom 1em
  padding 1em
  border 2px solid #414042
  border-radius 1em

.sheet-bond-notes
  width 99%

.sheet-bond-name,
.sheet-bond-location,
.sheet-bond-descriptors
  border none
  border-radius 0em
  background  transparent

.sheet-bond-descriptors
  width 43%

.sheet-bond-location
  width 40%

p.sheet-bond-title
  display inline
  margin 0 0 0px
  padding 0.1em 0.3em 0.3em 0.5em
  font-family Montserrat, arial, sans-serif
  font-weight bold
  text-align left
  text-transform uppercase
  border-radius 0em 0em 0.3em
  color #FFF
  background #4c4d4f

.sheet-details-btn
  display flex
  width auto
  height auto
  margin 0.5em 0em 0em 0em
  padding 0

.sheet-bond-name::placeholder,
.sheet-bond-location::placeholder,
.sheet-bond-descriptors::placeholder
  color #8A8A8A

input[type="checkbox"].sheet-show-bond-info:checked ~ div.sheet-show-bond-info
  display flex
  flex-flow row wrap
  height auto
  opacity 1

input[type="checkbox"].sheet-show-bond-info
  top 0
  width 4.5em
  height basis(2.25)
  opacity 0
  padding 2px 4px
  border-radius 1em
                  