//-
  Generates a repeating fieldset for bonds.
  Expands when clicking the DETAILS label.

  @mixin
  @outputs repeating html fieldset

  @memberof components/bonds

mixin bonds()
  .sheet-bond-component
    fieldset.repeating_bonds
      .sheet-bond-container
        p.sheet-bond-title NAME:
        input.sheet-border-bottom.sheet-bond-name(type='text' name='attr_bond-name' placeholder='Name')
        label.sheet-btn.sheet-details-btn
          input.sheet-hide.sheet-btn-input(type='checkbox' name='attr_details_button')
          .sheet-btn-content DETAILS
        
        input.sheet-hide.sheet-show-bond-info(type='checkbox' name='attr_details')
        .sheet-show-bond-info.sheet-showhide
          .sheet-full-width
            p.sheet-bond-title LOCATION:
            input.sheet-bond-location.sheet-border-bottom(type='text' name='attr_bond-location' placeholder='Location')
          .sheet-full-width
            p.sheet-bond-title DESCRIPTORS:
            input.sheet-bond-descriptors.sheet-border-bottom(type='text' name='attr_bond-descriptors' placeholder='Descriptors')
          .sheet-full-width
            p.sheet-bond-title.sheet-bond-notes-title(style='border-radius: 0.3em 0.3em 0em 0em')
              | NOTES
            textarea.sheet-bond-notes(name='attr_bond-notes')