<div class="sheet-star-system">
    <div class="sheet-flex sheet-gap">
        <div style="min-width: 285px;" class="sheet-third-width">
            <div class="sheet-table sheet-section">
                <div class="sheet-tr">
                    <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="name">Name</label></div>
                    <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-left" title="@{character_name}" name="attr_character_name" value=""></div>
                </div>
                <div class="sheet-tr">
                    <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="subsector">Subsector</label></div>
                    <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-left" title="@{system_subsector}" name="attr_system_subsector" value=""></div>
                </div>
                <div class="sheet-tr">
                    <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="hex">Hex</label></div>
                    <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-left" title="@{system_hex}" name="attr_system_hex" value=""></div>
                </div>
            </div>
            <div class="sheet-section">
                <div class="sheet-table">
                    <div class="sheet-tr">
                        <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="star_type">Star Type</label></div>
                        <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-left" title="@{system_star}" name="attr_system_star" value=""></div>
                    </div>
                    <div class="sheet-tr">
                        <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="planets">Planets</label></div>
                        <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-left" title="@{system_planets}" name="attr_system_planets" value=""></div>
                    </div>
                    <div class="sheet-tr">
                        <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="habitable">Habitable</label></div>
                        <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-left" title="@{system_habitable}" name="attr_system_habitable" value=""></div>
                    </div>
                    <div class="sheet-tr">
                        <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="starports">Starports</label></div>
                        <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-left" title="@{system_starports}" name="attr_system_starports" value=""></div>
                    </div>
                    <div class="sheet-tr">
                        <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="astroid_belt">Astroid Belt</label></div>
                        <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-left" title="@{system_astroid_belt}" name="attr_system_astroid_belt" value=""></div>
                    </div>
                </div>
                <label class="sheet-left" data-i18n="notes">Notes</label>
                <textarea class="sheet-full-width" title="@{sheetnotes}" name="attr_sheetnotes" value=""></textarea>
            </div>
        </div>
        <div class="sheet-grow">
            <div class="sheet-section">
                <h2 data-i18n="species">Species</h2>
                <fieldset class="repeating_systemspecies">
                    <label class="sheet-left sheet-rmargin" data-i18n="name">Name</label>
                    <input type="text" class="sheet-text-left" title="@{$ID_name}" name="attr_name" value="">
                    <textarea class="sheet-system-desc" title="@{sheet_description}" name="attr_description" value=""></textarea>
                </fieldset>
            </div>
            <div class="sheet-section">
                <h2 data-i18n="worlds">Worlds</h2>
                <fieldset class="repeating_systemworld">
                    <label class="sheet-left sheet-rmargin" data-i18n="name">Name</label>
                    <input type="text" class="sheet-text-left" title="@{$ID_name}" name="attr_name" value="">
                    <textarea class="sheet-system-desc" title="@{sheet_description}" name="attr_description" value=""></textarea>
                </fieldset>
            </div>
        </div>
    </div>
</div>