@import url("https://fonts.googleapis.com/css?family=Chelsea+Market|Montserrat:400&display=swap");
.sheet-kob-wrapper {
  padding: 1em 3em;
  background: url("https://s3.amazonaws.com/files.d20.io/images/140339579/OXUcAr8mw0JvS2Ejs7Fj8Q/med.png?1591123400") center/cover;
  font-family: "Chelsea Market", serif;
  font-size: 10pt;
}
.sheet-kob-wrapper * {
  box-sizing: border-box;
}
.sheet-kob-wrapper input {
  height: 1.75em;
}
.sheet-kob-wrapper input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}
.sheet-kob-wrapper input[type=number]::-webkit-outer-spin-button, .sheet-kob-wrapper input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sheet-kob-wrapper input[type=number],
.sheet-kob-wrapper input[type=text],
.sheet-kob-wrapper textarea,
.sheet-kob-wrapper select {
  background-color: transparent;
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 12pt;
  font-variant: normal;
}
.sheet-kob-wrapper input[type=number]:hover,
.sheet-kob-wrapper input[type=text]:hover,
.sheet-kob-wrapper textarea:hover,
.sheet-kob-wrapper select:hover {
  background-color: rgba(0, 0, 0, 0.125);
}
.sheet-kob-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.75em;
  cursor: pointer;
  background: transparent url("https://s3.amazonaws.com/files.d20.io/images/138210258/mZTqw1vke8SrkprMJmiZQw/med.png?1590443723") right 5px center no-repeat;
}
.sheet-kob-wrapper textarea {
  resize: vertical;
  width: 100%;
  border: 1px solid #000;
  border-radius: 0;
}
.sheet-kob-wrapper label {
  padding: 0;
  margin: 0;
}
.sheet-kob-wrapper .itemcontrol {
  position: relative;
}
.sheet-kob-wrapper .itemcontrol button.repcontrol_del,
.sheet-kob-wrapper .itemcontrol a.repcontrol_move {
  display: block;
  top: calc(50% - 1.5rem);
  position: relative;
  border: 1px solid #000;
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 3rem;
  box-shadow: none;
  line-height: 2em;
  text-shadow: none;
  font-weight: bold;
}
.sheet-kob-wrapper .itemcontrol button.repcontrol_del {
  margin-right: 0.25rem;
  background: #a00;
  color: #fff;
}
.sheet-kob-wrapper .itemcontrol a.repcontrol_move {
  margin-left: 0.25rem;
  background: transparent;
  color: #000;
}
.sheet-kob-wrapper .repcontrol {
  padding: 0.25em;
  background-color: transparent;
}
.sheet-kob-wrapper .repcontrol button.repcontrol_add,
.sheet-kob-wrapper .repcontrol button.repcontrol_del,
.sheet-kob-wrapper .repcontrol button.repcontrol_move,
.sheet-kob-wrapper .repcontrol button.repcontrol_edit {
  display: block;
  border: 1px solid #000;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;
  height: 3rem;
  width: 3rem;
  box-shadow: none;
  font-size: 0;
  line-height: 1em;
  text-shadow: none;
}
.sheet-kob-wrapper .repcontrol button.repcontrol_add:before {
  display: block;
  content: "&";
  font-family: "Pictos";
  font-size: 12pt;
  font-weight: bold;
}
.sheet-kob-wrapper .repcontrol button.repcontrol_edit:before {
  display: block;
  content: "p";
  right: 5px;
  font-family: "Pictos";
  font-size: 12pt;
  font-weight: bold;
}
.sheet-kob-wrapper .sheet-kob-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5em;
  margin-bottom: 1.5em;
}
.sheet-kob-wrapper .sheet-kob-header__logo {
  height: 50px;
}
.sheet-kob-wrapper .sheet-kob-header__trope[type=text] {
  width: 100%;
  padding: 0.25em;
  border: 2px solid #000;
  border-radius: 0;
  background: transparent;
  font-size: 24pt;
  text-align: center;
}
.sheet-kob-wrapper .sheet-kob-body {
  display: grid;
  grid-template-columns: 2fr 1.25fr;
  gap: 1.5em;
}
.sheet-kob-wrapper .sheet-kob-body__strengths, .sheet-kob-wrapper .sheet-kob-body__flaws, .sheet-kob-wrapper .sheet-kob-body__stats, .sheet-kob-wrapper .sheet-kob-body__adversity, .sheet-kob-wrapper .sheet-kob-body__tropes, .sheet-kob-wrapper .sheet-kob-body__character {
  padding: 1.25em 1.25em;
  margin-bottom: 1.5em;
  background: url("https://s3.amazonaws.com/files.d20.io/images/140337271/wJZvx5ua03bzSc0DViK_YA/med.png?1591122772") top left/40px no-repeat, url("https://s3.amazonaws.com/files.d20.io/images/140337272/8TEVnItbqmvdXka2UVLulw/med.png?1591122772") top right/40px no-repeat, url("https://s3.amazonaws.com/files.d20.io/images/140337270/uKtXcumLfN1rNOl0EaBGKA/med.png?1591122772") bottom left/40px no-repeat, url("https://s3.amazonaws.com/files.d20.io/images/140337273/RPhav9hWTnUy4Sd0jwqq6A/med.png?1591122772") bottom right/40px no-repeat;
  border: 2px solid #000;
}
.sheet-kob-wrapper .sheet-kob-body__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sheet-kob-wrapper .sheet-kob-body__stats h2 {
  grid-column: 1/-1;
}
.sheet-kob-wrapper .sheet-kob-body__subtext {
  display: block;
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 11pt;
  text-align: center;
}
.sheet-kob-wrapper .sheet-kob-body__flaws .repcontrol, .sheet-kob-wrapper .sheet-kob-body__strengths .repcontrol {
  margin-top: 4em;
  border-top: 2px solid #000;
}
.sheet-kob-wrapper .sheet-kob-body h2 {
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #611618;
}
.sheet-kob-wrapper .sheet-kob-body__tropes textarea {
  min-height: 15em;
  height: 100%;
}
.sheet-kob-wrapper .sheet-kob-characteristics, .sheet-kob-wrapper .sheet-kob-characteristics__general, .sheet-kob-wrapper .sheet-kob-characteristics__wand, .sheet-kob-wrapper .sheet-kob-characteristics__broom, .sheet-kob-wrapper .sheet-kob-characteristics__other {
  padding: 0.5em;
  font-variant: small-caps;
}
.sheet-kob-wrapper .sheet-kob-characteristics h3, .sheet-kob-wrapper .sheet-kob-characteristics__general h3, .sheet-kob-wrapper .sheet-kob-characteristics__wand h3, .sheet-kob-wrapper .sheet-kob-characteristics__broom h3, .sheet-kob-wrapper .sheet-kob-characteristics__other h3 {
  grid-column: 1/-1;
}
.sheet-kob-wrapper .sheet-kob-characteristics h3:after, .sheet-kob-wrapper .sheet-kob-characteristics__general h3:after, .sheet-kob-wrapper .sheet-kob-characteristics__wand h3:after, .sheet-kob-wrapper .sheet-kob-characteristics__broom h3:after, .sheet-kob-wrapper .sheet-kob-characteristics__other h3:after {
  display: inline;
  content: ":";
}
.sheet-kob-wrapper .sheet-kob-characteristics__general {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sheet-kob-wrapper .sheet-kob-characteristics__wand {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sheet-kob-wrapper .sheet-kob-characteristic {
  grid-column: 1/-1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 0.25em;
}
.sheet-kob-wrapper .sheet-kob-characteristic__label {
  flex-shrink: 0;
  margin-right: 1em;
  font-size: 10pt;
  font-weight: bold;
}
.sheet-kob-wrapper .sheet-kob-characteristic__label:after {
  display: inline;
  content: ":";
}
.sheet-kob-wrapper .sheet-kob-characteristic__select, .sheet-kob-wrapper .sheet-kob-characteristic__input[type=number], .sheet-kob-wrapper .sheet-kob-characteristic__input[type=text] {
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
.sheet-kob-wrapper .sheet-kob-characteristic--age, .sheet-kob-wrapper .sheet-kob-characteristic--pronouns, .sheet-kob-wrapper .sheet-kob-characteristic--wood, .sheet-kob-wrapper .sheet-kob-characteristic--core {
  grid-column: span 1;
}
.sheet-kob-wrapper .sheet-kob-characteristic--core, .sheet-kob-wrapper .sheet-kob-characteristic--pronouns {
  margin-left: 0.5em;
}
.sheet-kob-wrapper .sheet-kob-flaw, .sheet-kob-wrapper .sheet-kob-strength {
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 2px solid #000;
}
.sheet-kob-wrapper .sheet-kob-flaw__wrapper, .sheet-kob-wrapper .sheet-kob-strength__wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 1em;
}
.sheet-kob-wrapper .sheet-kob-flaw__wrapper--text, .sheet-kob-wrapper .sheet-kob-strength__wrapper--text {
  display: grid;
}
.sheet-kob-wrapper .sheet-kob-flaw__label, .sheet-kob-wrapper .sheet-kob-strength__label {
  flex-shrink: 0;
  font-size: 10pt;
  font-variant: small-caps;
}
.sheet-kob-wrapper .sheet-kob-flaw__label:after, .sheet-kob-wrapper .sheet-kob-strength__label:after {
  display: inline;
  content: ":";
}
.sheet-kob-wrapper .sheet-kob-flaw__input[type=text], .sheet-kob-wrapper .sheet-kob-strength__input[type=text] {
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  margin: 0;
  margin-left: 1em;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
.sheet-kob-wrapper .sheet-kob-flaw__textarea, .sheet-kob-wrapper .sheet-kob-strength__textarea {
  height: 5em;
}
.sheet-kob-wrapper .sheet-kob-stat {
  display: grid;
  align-items: stretch;
}
.sheet-kob-wrapper .sheet-kob-stat:nth-child(even) {
  grid-template-columns: 2.5em 1fr;
}
.sheet-kob-wrapper .sheet-kob-stat:nth-child(even) button {
  transform: rotate(180deg);
}
.sheet-kob-wrapper .sheet-kob-stat:nth-child(odd) {
  grid-template-columns: 1fr 2.5em;
}
.sheet-kob-wrapper .sheet-kob-stat:nth-child(odd) button {
  grid-row: 1;
  grid-column: 2;
}
.sheet-kob-wrapper .sheet-kob-stat * {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
.sheet-kob-wrapper .sheet-kob-stat__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0.5em;
  border: 1px solid #000;
}
.sheet-kob-wrapper .sheet-kob-stat__select {
  grid-column: 1/-1;
  min-width: 0;
  width: 100%;
  height: 3em;
  margin: 0;
  padding: 0;
  padding-left: calc(50% - 1.25em);
  border-bottom: 2px solid #000;
  background-position-x: right 10px;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}
.sheet-kob-wrapper .sheet-kob-stat__button {
  line-height: 1em;
  border: 1px solid transparent;
  color: #611618;
  background: transparent;
  font-size: 12pt;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: none;
  writing-mode: vertical-lr;
}
.sheet-kob-wrapper .sheet-kob-stat__button:before {
  margin-bottom: 5px;
}
.sheet-kob-wrapper .sheet-kob-stat__button:hover {
  background: #611618;
  color: #fff;
}
.sheet-kob-wrapper .sheet-kob-stat__label {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-size: 7pt;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.sheet-kob-wrapper .sheet-kob-stat__input {
  min-width: 0;
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: center;
}
.sheet-kob-wrapper .sheet-kob-adversity__input[type=number] {
  width: 100%;
  border: 1px solid #000;
  border-radius: 0;
  font-size: 16pt;
}

.sheet-rolltemplate-kobrooms {
  background: url("https://s3.amazonaws.com/files.d20.io/images/138445853/9o33D5SoZ3MkIHqP8tZWNA/max.png?1590524256") center/100%;
}
.sheet-rolltemplate-kobrooms .sheet-kobroom-container {
  display: block;
  padding: 1em;
  border: 1px solid #611618;
}
.sheet-rolltemplate-kobrooms .sheet-kobroom-container h1 {
  color: #611618;
  border-bottom: 2px solid #611618;
  font-family: "Chelsea Market", serif;
  font-size: 14pt;
  text-align: center;
  text-transform: uppercase;
}
.sheet-rolltemplate-kobrooms .sheet-kobroom-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  text-align: center;
}
.sheet-rolltemplate-kobrooms .sheet-kobroom-container .sheet-kobroom-roll-result {
  margin-top: 1em;
  font-family: "Chelsea Market", serif;
  font-size: 14pt;
  text-align: center;
}
.sheet-rolltemplate-kobrooms .sheet-kobroom-container .sheet-kobroom-roll-result .importantroll,
.sheet-rolltemplate-kobrooms .sheet-kobroom-container .sheet-kobroom-roll-result .fullcrit,
.sheet-rolltemplate-kobrooms .sheet-kobroom-container .sheet-kobroom-roll-result .fullfail,
.sheet-rolltemplate-kobrooms .sheet-kobroom-container .sheet-kobroom-roll-result .inlinerollresult {
  border: none;
  background: transparent;
  font-family: inherit;
  line-height: 1em;
}
.sheet-rolltemplate-kobrooms .sheet-kobroom-container .sheet-kobroom-roll-result .importantroll {
  color: #3e7bff;
}
.sheet-rolltemplate-kobrooms .sheet-kobroom-container .sheet-kobroom-roll-result .fullcrit {
  color: #4cc016;
}
.sheet-rolltemplate-kobrooms .sheet-kobroom-container .sheet-kobroom-roll-result .fullfail {
  color: #900;
}
