/* Set the min-width so that when the window is resized the look will stay consistant */

@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade&display=swap');

.charsheet {
	background-color: #ddd;
	min-width: 800px;
	font-family: 'Jim Nightshade', cursive;
	font-size: 1.3em;
}

/* Universal styling applied to all elements of these types */

h2 {
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

label {
	display: inline-block;
	width: 31%;
}

input {
	font-family: arial;
	display: inline-block;
	width: 165px;
}

img {
	max-height: 100px;
}

textarea {
	font-family: arial;
	resize: vertical;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-short {
	width: 17%;
}

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: left;
}

.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}

.sheet-stats input {
	margin-right: 8%;
	width: 17%;
}

.sheet-info {
    vertical-align: 0.7em;
    font-size: 0.8em;
    font-weight: bold;
}

/* TABS */

div.sheet-tab {
    display: none;
}

input.sheet-select-1:checked ~ div.sheet-tab-1,
input.sheet-select-2:checked ~ div.sheet-tab-2,
input.sheet-select-3:checked ~ div.sheet-tab-3 {
    display: block;
}

input.sheet-select
{
    width: 150px;
    height: 20px;
    margin: -1.5px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    opacity: 0;

    padding-top: 5px;
    padding-bottom: 5px;
}

input.sheet-select + span::before
{
    content: attr(title);
    text-align: center;
    display: inline-block;

    color: #ffffff;
    background: #000000;

    width: 150px;
    height: 20px;
    font-size: 18px;

    position: absolute;
    top: 70px;
    left: 30px;

    padding-top: 5px;
    padding-bottom: 5px;
}

input.sheet-select:not(:first-child) + span::before
{
    border-left: none;
}

input.sheet-select-2 + span::before
{
    left: 180px;
}

input.sheet-select-3 + span::before
{
    left: 330px;
}

input.sheet-select:checked + span::before
{
    background: #2196F3;
}

div.sheet-tab
{
    margin: 20px 0 0 5px;
    padding: 5px;
}

/* HP NEGATIVE BAR */


/* Customize the label (the container) */
.sheet-container {
  display: block;
  /*position: relative;*/
  width: 35px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff !important;
  float: left;
}

/* Hide the browser's default radio button */
.sheet-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.sheet-checkmark {
  display: block;
  background-color: #000000;
  height: 20px;
  width: 20px;
  padding: 5px;
}

/* On mouse-over, add a grey background color */
.sheet-container:hover input ~ .sheet-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.sheet-container input:checked ~ .sheet-checkmark {
  background-color: #2196F3;
}
