@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
}
/* ---- DIV ----- */
div{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
div.sheet-main{
    padding: 4px;
    width: 850px;
    background: white;
    text-align: center;
    font-family: 'Verdana';
    border-width: 1px;
    border-style: solid;
    border-color: #AAAAAA;
}
div.sheet-myRow{
    display: block;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin: 1px 0px 1px 0px;
    /* border: 1px solid red; */
}
div.sheet-myCol{
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid blue; */
}
div.sheet-myColBrd{
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    padding: 3px;
    margin-bottom: 3px;
}

.sheet-oneQuarter {
    width: 24%;
}
.sheet-oneThird {
    width: 30%;
}
.sheet-half {
    width: 49%;
}
.sheet-twoThirds {
    width: 60%;
}
.sheet-full {
    width: 90%;
}

/* --------------------- */
/* REP ITEMS             */
/* --------------------- */
.charsheet .repcontainer > .repitem {
    display: block;
}

/* --------------------- */
/* ------- TEXT -------- */
/* --------------------- */
div.sheet-textTitle {
    /* color: black; */
	color: darkmagenta;
	display: inline-block;
	text-align: center;
    font-size: 1.8em;
	font-family: 'Gajraj One', cursive;
	letter-spacing: 1px;
	text-shadow: 1px 1px 3px grey;
	/* font-family: 'Zen Dots', cursive; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
	margin-bottom: 2px;
}

div.sheet-textBio {
	text-align: right;
	width: 100px;
}

input[type="text"] {
	font-family: cursive;
	background-color: GhostWhite;
	border-style: none none solid none;
	padding: 0px 3px 0px 3px;
}

input[type="number"] {
	color: black;
	font-family: 'Zen Dots', cursive;
	background-color: GhostWhite;
	border-style: none none solid none;
	padding: 0px 3px 0px 3px;
	text-align: center;
}


input[type="text"].sheet-inputBio {
	width: 95px;
}

textarea {
    resize:none;
    font-weight: normal;
	font-family: cursive;
	background-color: GhostWhite;
}
textarea.sheet-textFullCol {
    width: 90%;
	color: black;
}

textarea.field-desc {
    width: 90%;
	height: 65px;
	font-style: italic;
	margin-bottom: 10px;
}

/* --------------------- */
/* --- Scores/atout ---- */
/* --------------------- */
select.select-blessures {
	width: 48px;
	margin-right: 20px;
}

select.select-dice {
	color: black;
	font-family: 'Zen Dots', cursive;
	width: 60px;
	text-align: center;
}

span.score-de {
	margin-right: 20px;
	font-weight: bold;
	font-family: 'Zen Dots', cursive;
	font-size: 1.3em;
}

span.score-type {
	width: 100px;
}

input[type="text"].score-name {
	width: 150px;
	color: black;
	font-size: 1.3em;
	font-weight: bold;
}

input[type="text"].atout-name {
	width: 230px;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
}

input[type="text"].atoutPnj-Name {
	width: 200px;
	color: black;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}

input[type="text"].atoutPnj-scoreName {
	width: 150px;
	color: black;
	font-size: 1.2em;
	font-weight: bold;
}

input[type="text"].atoutPnj-atoutName {
	width: 210px;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
}

input[type="text"].field-desc {
	width: 380px;
	font-style: italic;
	margin-bottom: 10px;
}

.sheet-scoreColWidth {
    width: 35%;
}

/* --------------------- */
/* ------ ONGLETS ------ */
/* --------------------- */
div.sheet-onglet1,
div.sheet-onglet2,
div.sheet-onglet3,
div.sheet-onglet4{
    display: none;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin: 1px 0px 1px 0px;
    /* border: 1px solid #DD5633; */
    /* border-radius: 0px 6px 6px 6px; */
    padding: 3px;
    z-index: 0;
}
input[type="radio"].sheet-onglet1,
input[type="radio"].sheet-onglet2,
input[type="radio"].sheet-onglet3,
input[type="radio"].sheet-onglet4{
    margin: 0;
    margin-top: -4px;
    margin-bottom: -4px;
    padding: 0;
    display: inline-block;
    opacity: 0;
    width: 110px;
    height: 25px;
    z-index: 2;
}
input[type="radio"].sheet-onglet1 + span,
input[type="radio"].sheet-onglet2 + span,
input[type="radio"].sheet-onglet3 + span,
input[type="radio"].sheet-onglet4 + span{
    color: #666666;
    background-color: #DDDDDD;
    font-size:15px;
    text-align:center;
    display: inline-block;
    width: 110px;
    height: 28px;
    margin: 0;
    margin-left: -110px;
    margin-right: -5px;
    padding:0;
    margin-bottom: -2px;
    padding-top: 5px;
    font-size: 1em;
    /* text-transform: uppercase; */
	font-family: 'Zen Dots', cursive;
    border-style: solid;
    border-width: 1px;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 1;
}
input[type="radio"].sheet-onglet1:checked + span ,
input[type="radio"].sheet-onglet2:checked + span ,
input[type="radio"].sheet-onglet3:checked + span ,
input[type="radio"].sheet-onglet4:checked + span {
    font-weight: bold;
    color: black;
    background-color: white;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: white;
}
input[type="radio"].sheet-onglet1:checked ~ div.sheet-onglet1{
    display: block;
}
input[type="radio"].sheet-onglet2:checked ~ div.sheet-onglet2{
    display: block;
}
input[type="radio"].sheet-onglet3:checked ~ div.sheet-onglet3{
    display: block;
}
input[type="radio"].sheet-onglet4:checked ~ div.sheet-onglet4{
    display: block;
}

/* --------------------- */
/* ----- TEMPLATES ----- */
/* --------------------- */
.sheet-rolltemplate-jetStandard div {
    background: azure;
    border: 1px solid darkmagenta;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.sheet-rolltemplate-jetStandard div > h3{
    color: black;
    text-align: center;
    margin-bottom: 2px;
    font-size: 130%;
    font-weight: bold;
}

.sheet-rolltemplate-jetStandard div > h4{
    color: darkmagenta;
    text-align: center;
    margin-bottom: 2px;
    font-size: 120%;
    font-weight: bold;
}

.sheet-rolltemplate-jetStandard div > h5{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.sheet-rolltemplate-jetStandard div > div{
    border: none;
    padding: 3px;
    font-weight: bold;
}