mixin delveOracles
  .oracle-container
    .oracle-column.table-list
      .oracle-box
        .oracle-title Feature
        .oracle
          .button-container
            button(type='roll' title='Feature: Aspect' name='roll_feature_aspect_oracle' value='&{template:delve_oracles} {{header=Feature: Aspect}} {{featureAspect=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='1')
            .btn-content Aspect
        .oracle
          .button-container
            button(type='roll' title='Feature: Focus' name='roll_feature_focus_oracle' value='&{template:delve_oracles} {{header=Feature: Focus}} {{featureFocus=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='2')
            .btn-content Focus
      .oracle-box
        .oracle-title Site Name
        .oracle
          .button-container
            button(type='roll' title='Site Name: Format' name='rollsiteNameFormatoracle' value='&{template:delve_oracles} {{header=Site Name: Format}} {{siteNameFormat=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='3')
            .btn-content Format
        .oracle
          .button-container
            button(type='roll' title='Site Name: Description' name='rollsiteNameDescoracle' value='&{template:delve_oracles} {{header=Site Name: Description}} {{siteNameDesc=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='4')
            .btn-content Description
        .oracle
          .button-container
            button(type='roll' title='Site Name: Detail' name='roll_site_name_detail_oracle' value='&{template:delve_oracles} {{header=Site Name: Detail}} {{siteNameDetail=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='5')
            .btn-content Detail
        .oracle
          .button-container
            button(type='roll' title='Site Name: Namesake' name='roll_site_name_namesake_oracle' value='&{template:delve_oracles} {{header=Site Name: Namesake}} {{siteNameNamesake=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='6')
            .btn-content Namesake
        .oracle
          .button-container
            button(type='roll' title='Site Name: Place' name='roll_site_name_place_oracle' value='&{template:delve_oracles} {{header=siteNamePlace}} {{siteNamePlace=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='7')
            .btn-content Place
      .oracle-box
        .oracle-title Site Nature
        .oracle
          .button-container
            button(type='roll' title='Site Nature: Theme' name='roll_site_nature_theme_oracle' value='&{template:delve_oracles} {{header=Site Nature: Theme}} {{siteNatureTheme=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='8')
            .btn-content Theme
        .oracle
          .button-container
            button(type='roll' title='Site Nature: Domain' name='roll_site_nature_domain_oracle' value='&{template:delve_oracles} {{header=Site Nature: Domain}} {{siteNatureDomain=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='9')
            .btn-content Domain
      .oracle-box
        .oracle-title Character
        .oracle
          .button-container
            button#characterDispositionOracleRoll(type='roll' title='Character: Disposition' name='roll_character_disposition_oracle' value='&{template:delve_oracles} {{header=Character: Disposition}} {{characterDisposition=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='10')
            .btn-content Disposition
        .oracle
          .button-container
            button#characterActivityOracleRoll(type='roll' title='Character: Activity' name='roll_character_activity_oracle' value='&{template:delve_oracles} {{header=Character: Activity}} {{characterActivity=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='11')
            .btn-content Activity
      .oracle-box
        .oracle-title Monstrosity
        .oracle
          .button-container
            button(type='roll' title='Monstrosity: Size' name='roll_monstrosity_size_oracle' value='&{template:delve_oracles} {{header=Monstrosity: Size}} {{monstrositySize=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='12')
            .btn-content Size
        .oracle
          .button-container
            button(type='roll' title='Monstrosity: Primary Form' name='roll_monstrosity_primary_form_oracle' value='&{template:delve_oracles} {{header=Monstrosity: Primary Form}} {{monstrosityPrimaryForm=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='13')
            .btn-content Primary Form
        .oracle
          .button-container
            button(type='roll' title='Monstrosity: Characteristics' name='roll_monstrosity_characteristics_oracle' value='&{template:delve_oracles} {{header=Monstrosity: Characteristics}} {{monstrosityCharacteristics=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='14')
            .btn-content Characteristics
        .oracle
          .button-container
            button(type='roll' title='Monstrosity: Abilities' name='roll_monstrosity_abilities_oracle' value='&{template:delve_oracles} {{header=Monstrosity: Abilities}} {{monstrosityAbilities=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='15')
            .btn-content Abilities
      .oracle-box
        .oracle-title Trap
        .oracle
          .button-container
            button(type='roll' title='Trap: Event' name='roll_trap_event_oracle' value='&{template:delve_oracles} {{header=Trap: Event}} {{trapEvent=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='16')
            .btn-content Event
        .oracle
          .button-container
            button(type='roll' title='Trap: Component' name='roll_trap_component_oracle' value='&{template:delve_oracles} {{header=Trap: Component}} {{trapComponent=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='17')
            .btn-content Component
      .oracle-box
        .oracle-title Combat Event
        .oracle
          .button-container
            button(type='roll' title='Combat Event: Method' name='roll_combat_event_method_oracle' value='&{template:delve_oracles} {{header=Combat Event: Method}} {{combatEventMethod=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='18')
            .btn-content Method
        .oracle
          .button-container
            button(type='roll' title='Combat Event: Target' name='roll_combat_event_target_oracle' value='&{template:delve_oracles} {{header=Combat Event: Target}} {{combatEventTarget=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='19')
            .btn-content Target
      .oracle-box
        .oracle-title Threat
        .oracle
          .button-container
            button(type='roll' title='Threat: Category' name='roll_threat_category_oracle' value='&{template:delve_oracles} {{header=Threat: Category}} {{threatCategory=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='20')
            .btn-content Category
        .oracle
          .button-container
            button(type='roll' title='Threat: Burgeoning Conflict' name='roll_threat_burgeoning_conflict_oracle' value='&{template:delve_oracles} {{header=Threat: Burgeoning Conflict}} {{threatBurgeoningConflict=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='21')
            .btn-content Burgeoning Conflict
        .oracle
          .button-container
            button(type='roll' title='Threat: Cursed Site' name='roll_threat_cursed_site_oracle' value='&{template:delve_oracles} {{header=Threat: Cursed Site}} {{threatCursedSite=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='22')
            .btn-content Cursed Site
        .oracle
          .button-container
            button(type='roll' title='Threat: Environmental Calamity' name='roll_threat_environmental_calamity_oracle' value='&{template:delve_oracles} {{header=Threat: Environmental Calamity}} {{threatEnvironmentalCalamity=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='23')
            .btn-content Environmental Calamity
        .oracle
          .button-container
            button(type='roll' title='Threat: Malignant Plague' name='roll_threat_malignant_plague_oracle' value='&{template:delve_oracles} {{header=Threat: Malignant Plague}} {{threatMalignantPlague=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='24')
            .btn-content Malignant Plague
        .oracle
          .button-container
            button(type='roll' title='Threat: Rampaging Creature' name='roll_threat_rampaging_creature_oracle' value='&{template:delve_oracles} {{header=Threat: Rampaging Creature}} {{threatRampagingCreature=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='25')
            .btn-content Rampaging Creature
        .oracle
          .button-container
            button(type='roll' title='Threat: Ravaging Horde' name='roll_threat_ravaging_horde_oracle' value='&{template:delve_oracles} {{header=Threat: Ravaging Horde}} {{threatRavagingHorde=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='26')
            .btn-content Ravaging Horde
        .oracle
          .button-container
            button(type='roll' title='Threat: Scheming Leader' name='roll_threat_scheming_leader_oracle' value='&{template:delve_oracles} {{header=Threat: Scheming Leader}} {{threatSchemingLeader=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='27')
            .btn-content Scheming Leader
        .oracle
          .button-container
            button(type='roll' title='Threat: Power-Hungry Mystic' name='roll_threat_power_hungry_mystic_oracle' value='&{template:delve_oracles} {{header=Threat: Power-Hungry Mystic}} {{threatPowerHungryMystic=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='28')
            .btn-content Power-Hungry Mystic
        .oracle
          .button-container
            button(type='roll' title='Threat: Zealous Cult' name='roll_threat_zealous_cult_oracle' value='&{template:delve_oracles} {{header=Threat: Zealous Cult}} {{threatZealousCult=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_delve_button}' name='attr_oracle_delve_button' value='29')
            .btn-content Zealous Cult

    .oracle-column.table-main
      input.feature-aspect.hide(type='radio' name='attr_oracle_delve' value='1')
      .feature-aspect.showhide
        .oracle-title.oracle-table-preview Feature: Aspect
        .oracle-table.oracle-table-2-column
          .oracle-row.oracle-row-2-column
            span.oracle-roll 1-2
            span.oracle-result Blocked
          .oracle-row.oracle-row-2-column
            span.oracle-roll 3-4
            span.oracle-result Crafted
          .oracle-row.oracle-row-2-column
            span.oracle-roll 5-6
            span.oracle-result Ancient
          .oracle-row.oracle-row-2-column
            span.oracle-roll 7-8
            span.oracle-result Sunken
          .oracle-row.oracle-row-2-column
            span.oracle-roll 9-10
            span.oracle-result Trapped
          .oracle-row.oracle-row-2-column
            span.oracle-roll 11-12
            span.oracle-result Secret
          .oracle-row.oracle-row-2-column
            span.oracle-roll 13-14
            span.oracle-result Toxic
          .oracle-row.oracle-row-2-column
            span.oracle-roll 15-16
            span.oracle-result Ruined
          .oracle-row.oracle-row-2-column
            span.oracle-roll 17-18
            span.oracle-result Defended
          .oracle-row.oracle-row-2-column
            span.oracle-roll 19-20
            span.oracle-result Decaying
          .oracle-row.oracle-row-2-column
            span.oracle-roll 21-22
            span.oracle-result Marked
          .oracle-row.oracle-row-2-column
            span.oracle-roll 23-24
            span.oracle-result Guarded
          .oracle-row.oracle-row-2-column
            span.oracle-roll 25-26
            span.oracle-result Inaccessible
          .oracle-row.oracle-row-2-column
            span.oracle-roll 27-28
            span.oracle-result Foreboding
          .oracle-row.oracle-row-2-column
            span.oracle-roll 29-30
            span.oracle-result Veiled
          .oracle-row.oracle-row-2-column
            span.oracle-roll 31-32
            span.oracle-result Deep
          .oracle-row.oracle-row-2-column
            span.oracle-roll 33-34
            span.oracle-result Depleted
          .oracle-row.oracle-row-2-column
            span.oracle-roll 35-36
            span.oracle-result Foul
          .oracle-row.oracle-row-2-column
            span.oracle-roll 37-38
            span.oracle-result Elevated
          .oracle-row.oracle-row-2-column
            span.oracle-roll 39-40
            span.oracle-result Moving
          .oracle-row.oracle-row-2-column
            span.oracle-roll 41-42
            span.oracle-result Unnatural
          .oracle-row.oracle-row-2-column
            span.oracle-roll 43-44
            span.oracle-result Active
          .oracle-row.oracle-row-2-column
            span.oracle-roll 45-46
            span.oracle-result Confined
          .oracle-row.oracle-row-2-column
            span.oracle-roll 47-48
            span.oracle-result Fortified
          .oracle-row.oracle-row-2-column
            span.oracle-roll 49-50
            span.oracle-result Collapsed
          .oracle-row.oracle-row-2-column
            span.oracle-roll 51-52
            span.oracle-result Isolated
          .oracle-row.oracle-row-2-column
            span.oracle-roll 53-54
            span.oracle-result Destroyed
          .oracle-row.oracle-row-2-column
            span.oracle-roll 55-56
            span.oracle-result Open
          .oracle-row.oracle-row-2-column
            span.oracle-roll 57-58
            span.oracle-result Sacred
          .oracle-row.oracle-row-2-column
            span.oracle-roll 59-60
            span.oracle-result Flooded
          .oracle-row.oracle-row-2-column
            span.oracle-roll 61-62
            span.oracle-result Complex
          .oracle-row.oracle-row-2-column
            span.oracle-roll 63-64
            span.oracle-result Abundant
          .oracle-row.oracle-row-2-column
            span.oracle-roll 65-66
            span.oracle-result Hidden
          .oracle-row.oracle-row-2-column
            span.oracle-roll 67-68
            span.oracle-result Expansive
          .oracle-row.oracle-row-2-column
            span.oracle-roll 69-70
            span.oracle-result Mysterious
          .oracle-row.oracle-row-2-column
            span.oracle-roll 71-72
            span.oracle-result Unstable
          .oracle-row.oracle-row-2-column
            span.oracle-roll 73-74
            span.oracle-result Fragile
          .oracle-row.oracle-row-2-column
            span.oracle-roll 75-76
            span.oracle-result Broken
          .oracle-row.oracle-row-2-column
            span.oracle-roll 77-78
            span.oracle-result Ensnaring
          .oracle-row.oracle-row-2-column
            span.oracle-roll 79-80
            span.oracle-result Pillaged
          .oracle-row.oracle-row-2-column
            span.oracle-roll 81-82
            span.oracle-result Sealed
          .oracle-row.oracle-row-2-column
            span.oracle-roll 83-84
            span.oracle-result Makeshift
          .oracle-row.oracle-row-2-column
            span.oracle-roll 85-86
            span.oracle-result Treacherous
          .oracle-row.oracle-row-2-column
            span.oracle-roll 87-88
            span.oracle-result Natural
          .oracle-row.oracle-row-2-column
            span.oracle-roll 89-90
            span.oracle-result Dead
          .oracle-row.oracle-row-2-column
            span.oracle-roll 91-92
            span.oracle-result Unusual
          .oracle-row.oracle-row-2-column
            span.oracle-roll 93-94
            span.oracle-result Abandoned
          .oracle-row.oracle-row-2-column
            span.oracle-roll 95-96
            span.oracle-result Deadly
          .oracle-row.oracle-row-2-column
            span.oracle-roll 97-98
            span.oracle-result Forgotten
          .oracle-row.oracle-row-2-column
            span.oracle-roll 99-100
            span.oracle-result Mystical
      
      input.feature-focus.hide(type='radio' name='attr_oracle_delve' value='2')
      .feature-focus.showhide
        .oracle-title.oracle-table-preview Feature: Focus
        .oracle-table.oracle-table-2-column
          .oracle-row.oracle-row-2-column
            span.oracle-roll 1-2
            span.oracle-result Attack
          .oracle-row.oracle-row-2-column
            span.oracle-roll 3-4
            span.oracle-result Threshold
          .oracle-row.oracle-row-2-column
            span.oracle-roll 5-6
            span.oracle-result Boundary
          .oracle-row.oracle-row-2-column
            span.oracle-roll 7-8
            span.oracle-result Alarm
          .oracle-row.oracle-row-2-column
            span.oracle-roll 9-10
            span.oracle-result Exit
          .oracle-row.oracle-row-2-column
            span.oracle-roll 11-12
            span.oracle-result Passage
          .oracle-row.oracle-row-2-column
            span.oracle-roll 13-14
            span.oracle-result Crossing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 15-16
            span.oracle-result Trigger
          .oracle-row.oracle-row-2-column
            span.oracle-roll 17-18
            span.oracle-result Trap
          .oracle-row.oracle-row-2-column
            span.oracle-roll 19-20
            span.oracle-result Hideaway
          .oracle-row.oracle-row-2-column
            span.oracle-roll 21-22
            span.oracle-result Nature
          .oracle-row.oracle-row-2-column
            span.oracle-roll 23-24
            span.oracle-result Sign
          .oracle-row.oracle-row-2-column
            span.oracle-roll 25-26
            span.oracle-result Refuge
          .oracle-row.oracle-row-2-column
            span.oracle-roll 27-28
            span.oracle-result Valuables
          .oracle-row.oracle-row-2-column
            span.oracle-roll 29-30
            span.oracle-result Breach
          .oracle-row.oracle-row-2-column
            span.oracle-roll 31-32
            span.oracle-result Route
          .oracle-row.oracle-row-2-column
            span.oracle-roll 33-34
            span.oracle-result Location
          .oracle-row.oracle-row-2-column
            span.oracle-roll 35-36
            span.oracle-result Trail
          .oracle-row.oracle-row-2-column
            span.oracle-roll 37-38
            span.oracle-result Supply
          .oracle-row.oracle-row-2-column
            span.oracle-roll 39-40
            span.oracle-result History
          .oracle-row.oracle-row-2-column
            span.oracle-roll 41-42
            span.oracle-result
              | Prisoner
          .oracle-row.oracle-row-2-column
            span.oracle-roll 43-44
            span.oracle-result
              | Habitation
          .oracle-row.oracle-row-2-column
            span.oracle-roll 45-46
            span.oracle-result Debris
          .oracle-row.oracle-row-2-column
            span.oracle-roll 47-48 
            span.oracle-result Creature
          .oracle-row.oracle-row-2-column
            span.oracle-roll 49-50
            span.oracle-result Lair
          .oracle-row.oracle-row-2-column
            span.oracle-roll 51-52
            span.oracle-result Person
          .oracle-row.oracle-row-2-column
            span.oracle-roll 53-54
            span.oracle-result Enclosure
          .oracle-row.oracle-row-2-column
            span.oracle-roll 55-56
            span.oracle-result Remains
          .oracle-row.oracle-row-2-column
            span.oracle-roll 57-58
            span.oracle-result Water
          .oracle-row.oracle-row-2-column
            span.oracle-roll 59-60
            span.oracle-result Message
          .oracle-row.oracle-row-2-column
            span.oracle-roll 61-62
            span.oracle-result Darkness
          .oracle-row.oracle-row-2-column
            span.oracle-roll 63-64
            span.oracle-result Opening
          .oracle-row.oracle-row-2-column
            span.oracle-roll 65-66
            span.oracle-result Weapon
          .oracle-row.oracle-row-2-column
            span.oracle-roll 67-68
            span.oracle-result Entry
          .oracle-row.oracle-row-2-column
            span.oracle-roll 69-70
            span.oracle-result Illumination
          .oracle-row.oracle-row-2-column
            span.oracle-roll 71-72
            span.oracle-result Obstacle
          .oracle-row.oracle-row-2-column
            span.oracle-roll 73-74
            span.oracle-result Craft
          .oracle-row.oracle-row-2-column
            span.oracle-roll 75-76
            span.oracle-result Container
          .oracle-row.oracle-row-2-column
            span.oracle-roll 77-78
            span.oracle-result Information
          .oracle-row.oracle-row-2-column
            span.oracle-roll 79-80
            span.oracle-result Grave
          .oracle-row.oracle-row-2-column
            span.oracle-roll 81-82
            span.oracle-result Equipment
          .oracle-row.oracle-row-2-column
            span.oracle-roll 83-84
            span.oracle-result Shelter
          .oracle-row.oracle-row-2-column
            span.oracle-roll 85-86
            span.oracle-result Denizen
          .oracle-row.oracle-row-2-column
            span.oracle-roll 87-88 
            span.oracle-result Environment
          .oracle-row.oracle-row-2-column
            span.oracle-roll 89-90
            span.oracle-result Material
          .oracle-row.oracle-row-2-column
            span.oracle-roll 91-92
            span.oracle-result Resource
          .oracle-row.oracle-row-2-column
            span.oracle-roll 93-94
            span.oracle-result Corruption
          .oracle-row.oracle-row-2-column
            span.oracle-roll 95-96
            span.oracle-result Death
          .oracle-row.oracle-row-2-column
            span.oracle-roll 97-98
            span.oracle-result Function
          .oracle-row.oracle-row-2-column
            span.oracle-roll 99-100
            span.oracle-result Power
      
      input.site-name-format.hide(type='radio' name='attr_oracle_delve' value='3')
      .site-name-format.showhide
        .oracle-title.oracle-table-preview Site Name: Format
        .oracle-table
          .oracle-row
            span.oracle-roll 1-25
            span.oracle-result [Description] [Place]
          .oracle-row
            span.oracle-roll 26-50
            span.oracle-result [Place] of [Detail]
          .oracle-row
            span.oracle-roll 51-70
            span.oracle-result [Place] of [Description] [Detail]
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result [Place] of [Namesake&apos;s] [Detail]
          .oracle-row
            span.oracle-roll 81-85
            span.oracle-result [Namesake&apos;s] [Place]
          .oracle-row
            span.oracle-roll 86-95
            span.oracle-result [Description] [Place] of [Namesake]
          .oracle-row
            span.oracle-roll 96-100
            span.oracle-result [Place] of [Namesake]
      
      input.site-name-desc.hide(type='radio' name='attr_oracle_delve' value='4')
      .site-name-desc.showhide
        .oracle-title.oracle-table-preview Site Name: Description
        .oracle-table.oracle-table-2-column
          .oracle-row.oracle-row-2-column
            span.oracle-roll 1-2
            span.oracle-result Deep
          .oracle-row.oracle-row-2-column
            span.oracle-roll 3-4
            span.oracle-result Tainted
          .oracle-row.oracle-row-2-column
            span.oracle-roll 5-6
            span.oracle-result Grey
          .oracle-row.oracle-row-2-column
            span.oracle-roll 7-8
            span.oracle-result Forgotten
          .oracle-row.oracle-row-2-column
            span.oracle-roll 9-10
            span.oracle-result Flooded
          .oracle-row.oracle-row-2-column
            span.oracle-roll 11-12
            span.oracle-result
              | Forbidden
          .oracle-row.oracle-row-2-column
            span.oracle-roll 13-14
            span.oracle-result Barren
          .oracle-row.oracle-row-2-column
            span.oracle-roll 15-16
            span.oracle-result Lost
          .oracle-row.oracle-row-2-column
            span.oracle-roll 17-18
            span.oracle-result Cursed
          .oracle-row.oracle-row-2-column
            span.oracle-roll 19-20
            span.oracle-result Fell
          .oracle-row.oracle-row-2-column
            span.oracle-roll 21-22
            span.oracle-result Sunken
          .oracle-row.oracle-row-2-column
            span.oracle-roll 23-24
            span.oracle-result Nightmare
          .oracle-row.oracle-row-2-column
            span.oracle-roll 25-26
            span.oracle-result Infernal
          .oracle-row.oracle-row-2-column
            span.oracle-roll 27-28
            span.oracle-result Dark
          .oracle-row.oracle-row-2-column
            span.oracle-roll 29-30
            span.oracle-result Bloodstained
          .oracle-row.oracle-row-2-column
            span.oracle-roll 31-32
            span.oracle-result Haunted
          .oracle-row.oracle-row-2-column
            span.oracle-roll
              | 33-34
            span.oracle-result White
          .oracle-row.oracle-row-2-column
            span.oracle-roll 35-36
            span.oracle-result Shrouded
          .oracle-row.oracle-row-2-column
            span.oracle-roll 37-38
            span.oracle-result Wasted
          .oracle-row.oracle-row-2-column
            span.oracle-roll 39-40
            span.oracle-result Grim
          .oracle-row.oracle-row-2-column
            span.oracle-roll 41-42
            span.oracle-result Endless
          .oracle-row.oracle-row-2-column
            span.oracle-roll 43-44
            span.oracle-result Crumbling
          .oracle-row.oracle-row-2-column
            span.oracle-roll 45-46
            span.oracle-result Undying
          .oracle-row.oracle-row-2-column
            span.oracle-roll 47-48
            span.oracle-result Bloodied
          .oracle-row.oracle-row-2-column
            span.oracle-roll 49-50
            span.oracle-result Forsaken
          .oracle-row.oracle-row-2-column
            span.oracle-roll 51-52
            span.oracle-result Silent
          .oracle-row.oracle-row-2-column
            span.oracle-roll 53-54
            span.oracle-result Blighted
          .oracle-row.oracle-row-2-column
            span.oracle-roll 55-56
            span.oracle-result Iron
          .oracle-row.oracle-row-2-column
            span.oracle-roll 57-58
            span.oracle-result Frozen
          .oracle-row.oracle-row-2-column
            span.oracle-roll 59-60
            span.oracle-result Abyssal
          .oracle-row.oracle-row-2-column
            span.oracle-roll 61-62
            span.oracle-result Crimson
          .oracle-row.oracle-row-2-column
            span.oracle-roll 63-64
            span.oracle-result Silver
          .oracle-row.oracle-row-2-column
            span.oracle-roll 65-66
            span.oracle-result Desecrated
          .oracle-row.oracle-row-2-column
            span.oracle-roll 67-68
            span.oracle-result Ashen
          .oracle-row.oracle-row-2-column
            span.oracle-roll 69-70
            span.oracle-result Elder
          .oracle-row.oracle-row-2-column
            span.oracle-roll 71-72
            span.oracle-result Scorched
          .oracle-row.oracle-row-2-column
            span.oracle-roll 73-74
            span.oracle-result Unknown
          .oracle-row.oracle-row-2-column
            span.oracle-roll 75-76
            span.oracle-result Scarred
          .oracle-row.oracle-row-2-column
            span.oracle-roll 77-78
            span.oracle-result Broken
          .oracle-row.oracle-row-2-column
            span.oracle-roll 79-80
            span.oracle-result Chaotic
          .oracle-row.oracle-row-2-column
            span.oracle-roll 81-82
            span.oracle-result Black
          .oracle-row.oracle-row-2-column
            span.oracle-roll 83-84
            span.oracle-result Hidden
          .oracle-row.oracle-row-2-column
            span.oracle-roll 85-86
            span.oracle-result Sundered
          .oracle-row.oracle-row-2-column
            span.oracle-roll 87-88
            span.oracle-result Shattered
          .oracle-row.oracle-row-2-column
            span.oracle-roll 89-90
            span.oracle-result Dreaded
          .oracle-row.oracle-row-2-column
            span.oracle-roll 91-92
            span.oracle-result Secret
          .oracle-row.oracle-row-2-column
            span.oracle-roll 93-94
            span.oracle-result High
          .oracle-row.oracle-row-2-column
            span.oracle-roll 95-96
            span.oracle-result Sacred
          .oracle-row.oracle-row-2-column
            span.oracle-roll 97-98
            span.oracle-result Fallen
          .oracle-row.oracle-row-2-column
            span.oracle-roll 99-100
            span.oracle-result Ruined
      
      input.site-name-detail.hide(type='radio' name='attr_oracle_delve' value='5')
      .site-name-detail.showhide
        .oracle-title.oracle-table-preview Site Name: Detail
        .oracle-table.oracle-table-2-column
          .oracle-row.oracle-row-2-column
            span.oracle-roll 1-2
            span.oracle-result Blight
          .oracle-row.oracle-row-2-column
            span.oracle-roll 3-4
            span.oracle-result Strife
          .oracle-row.oracle-row-2-column
            span.oracle-roll 5-6
            span.oracle-result Nightfall
          .oracle-row.oracle-row-2-column
            span.oracle-roll 7-8
            span.oracle-result Fury
          .oracle-row.oracle-row-2-column
            span.oracle-roll 9-10
            span.oracle-result Terror
          .oracle-row.oracle-row-2-column
            span.oracle-roll 11-12
            span.oracle-result
              | Truth
          .oracle-row.oracle-row-2-column
            span.oracle-roll 13-14
            span.oracle-result Spring
          .oracle-row.oracle-row-2-column
            span.oracle-roll 15-16
            span.oracle-result Sanctuary
          .oracle-row.oracle-row-2-column
            span.oracle-roll 17-18
            span.oracle-result Bone
          .oracle-row.oracle-row-2-column
            span.oracle-roll 19-20
            span.oracle-result Specters
          .oracle-row.oracle-row-2-column
            span.oracle-roll 21-22
            span.oracle-result Daybreak
          .oracle-row.oracle-row-2-column
            span.oracle-roll 23-24
            span.oracle-result Doom
          .oracle-row.oracle-row-2-column
            span.oracle-roll 25-26
            span.oracle-result Treachery
          .oracle-row.oracle-row-2-column
            span.oracle-roll 27-28
            span.oracle-result Blood
          .oracle-row.oracle-row-2-column
            span.oracle-roll 29-30
            span.oracle-result War
          .oracle-row.oracle-row-2-column
            span.oracle-roll 31-32
            span.oracle-result Torment
          .oracle-row.oracle-row-2-column
            span.oracle-roll
              | 33-34
            span.oracle-result Iron
          .oracle-row.oracle-row-2-column
            span.oracle-roll 35-36
            span.oracle-result Silence
          .oracle-row.oracle-row-2-column
            span.oracle-roll 37-38
            span.oracle-result Mist
          .oracle-row.oracle-row-2-column
            span.oracle-roll 39-40
            span.oracle-result Isolation
          .oracle-row.oracle-row-2-column
            span.oracle-roll 41-42
            span.oracle-result Runes
          .oracle-row.oracle-row-2-column
            span.oracle-roll 43-44
            span.oracle-result Rot
          .oracle-row.oracle-row-2-column
            span.oracle-roll 45-46
            span.oracle-result Corruption
          .oracle-row.oracle-row-2-column
            span.oracle-roll 47-48
            span.oracle-result Prophecy
          .oracle-row.oracle-row-2-column
            span.oracle-roll 49-50
            span.oracle-result Fate
          .oracle-row.oracle-row-2-column
            span.oracle-roll 51-52
            span.oracle-result Twilight
          .oracle-row.oracle-row-2-column
            span.oracle-roll 53-54
            span.oracle-result Power
          .oracle-row.oracle-row-2-column
            span.oracle-roll 55-56
            span.oracle-result Darkness
          .oracle-row.oracle-row-2-column
            span.oracle-roll 57-58
            span.oracle-result Gloom
          .oracle-row.oracle-row-2-column
            span.oracle-roll 59-60
            span.oracle-result Storms
          .oracle-row.oracle-row-2-column
            span.oracle-roll 61-62
            span.oracle-result Hope
          .oracle-row.oracle-row-2-column
            span.oracle-roll 63-64
            span.oracle-result Lament
          .oracle-row.oracle-row-2-column
            span.oracle-roll 65-66
            span.oracle-result Frost
          .oracle-row.oracle-row-2-column
            span.oracle-roll 67-68
            span.oracle-result Souls
          .oracle-row.oracle-row-2-column
            span.oracle-roll 69-70
            span.oracle-result Winter
          .oracle-row.oracle-row-2-column
            span.oracle-roll 71-72
            span.oracle-result Sadness
          .oracle-row.oracle-row-2-column
            span.oracle-roll 73-74
            span.oracle-result Desolation
          .oracle-row.oracle-row-2-column
            span.oracle-roll 75-76
            span.oracle-result Bane
          .oracle-row.oracle-row-2-column
            span.oracle-roll 77-78
            span.oracle-result Lies
          .oracle-row.oracle-row-2-column
            span.oracle-roll 79-80
            span.oracle-result Ash
          .oracle-row.oracle-row-2-column
            span.oracle-roll 81-82
            span.oracle-result Banishment
          .oracle-row.oracle-row-2-column
            span.oracle-roll 83-84
            span.oracle-result Shadow
          .oracle-row.oracle-row-2-column
            span.oracle-roll 85-86
            span.oracle-result Madness
          .oracle-row.oracle-row-2-column
            span.oracle-roll 87-88
            span.oracle-result Stone
          .oracle-row.oracle-row-2-column
            span.oracle-roll 89-90
            span.oracle-result Secrets
          .oracle-row.oracle-row-2-column
            span.oracle-roll 91-92
            span.oracle-result Despair
          .oracle-row.oracle-row-2-column
            span.oracle-roll 93-94
            span.oracle-result Blades
          .oracle-row.oracle-row-2-column
            span.oracle-roll 95-96
            span.oracle-result Dread
          .oracle-row.oracle-row-2-column
            span.oracle-roll 97-98
            span.oracle-result Light
          .oracle-row.oracle-row-2-column
            span.oracle-roll 99-100
            span.oracle-result Wrath
      
      input.site-name-namesake.hide(type='radio' name='attr_oracle_delve' value='6')
      .site-name-namesake.showhide
        .oracle-title.oracle-table-preview Site Name: Namesake
        .oracle-table.oracle-table-2-column
          .oracle-row.oracle-row-2-column
            span.oracle-roll 1-2
            span.oracle-result Breckon
          .oracle-row.oracle-row-2-column
            span.oracle-roll 3-4
            span.oracle-result Issara
          .oracle-row.oracle-row-2-column
            span.oracle-roll 5-6
            span.oracle-result Milenna
          .oracle-row.oracle-row-2-column
            span.oracle-roll 7-8
            span.oracle-result Thorval
          .oracle-row.oracle-row-2-column
            span.oracle-roll 9-10
            span.oracle-result Khulan
          .oracle-row.oracle-row-2-column
            span.oracle-roll 11-12
            span.oracle-result
              | Aurvang
          .oracle-row.oracle-row-2-column
            span.oracle-roll 13-14
            span.oracle-result Kalida
          .oracle-row.oracle-row-2-column
            span.oracle-roll 15-16
            span.oracle-result Keeara
          .oracle-row.oracle-row-2-column
            span.oracle-roll 17-18
            span.oracle-result Andor
          .oracle-row.oracle-row-2-column
            span.oracle-roll 19-20
            span.oracle-result Zakaria
          .oracle-row.oracle-row-2-column
            span.oracle-roll 21-22
            span.oracle-result Willa
          .oracle-row.oracle-row-2-column
            span.oracle-roll 23-24
            span.oracle-result Etana
          .oracle-row.oracle-row-2-column
            span.oracle-roll 25-26
            span.oracle-result Valgard
          .oracle-row.oracle-row-2-column
            span.oracle-roll 27-28
            span.oracle-result Kenrick
          .oracle-row.oracle-row-2-column
            span.oracle-roll 29-30
            span.oracle-result Wyland
          .oracle-row.oracle-row-2-column
            span.oracle-roll 31-32
            span.oracle-result Sidura
          .oracle-row.oracle-row-2-column
            span.oracle-roll
              | 33-34
            span.oracle-result Svala
          .oracle-row.oracle-row-2-column
            span.oracle-roll 35-36
            span.oracle-result Kajir
          .oracle-row.oracle-row-2-column
            span.oracle-roll 37-38
            span.oracle-result Saiven
          .oracle-row.oracle-row-2-column
            span.oracle-roll 39-40
            span.oracle-result Callwen
          .oracle-row.oracle-row-2-column
            span.oracle-roll 41-42
            span.oracle-result Zhan
          .oracle-row.oracle-row-2-column
            span.oracle-roll 43-44
            span.oracle-result Solana
          .oracle-row.oracle-row-2-column
            span.oracle-roll 45-46
            span.oracle-result Ildar
          .oracle-row.oracle-row-2-column
            span.oracle-roll 47-48
            span.oracle-result Keelan
          .oracle-row.oracle-row-2-column
            span.oracle-roll 49-50
            span.oracle-result Thrain
          .oracle-row.oracle-row-2-column
            span.oracle-roll 51-52
            span.oracle-result Kynan
          .oracle-row.oracle-row-2-column
            span.oracle-roll 53-54
            span.oracle-result Jadina
          .oracle-row.oracle-row-2-column
            span.oracle-roll 55-56
            span.oracle-result Radek
          .oracle-row.oracle-row-2-column
            span.oracle-roll 57-58
            span.oracle-result Wulan
          .oracle-row.oracle-row-2-column
            span.oracle-roll 59-60
            span.oracle-result Garion
          .oracle-row.oracle-row-2-column
            span.oracle-roll 61-62
            span.oracle-result Eysa
          .oracle-row.oracle-row-2-column
            span.oracle-roll 63-64
            span.oracle-result Kolor
          .oracle-row.oracle-row-2-column
            span.oracle-roll 65-66
            span.oracle-result Katarra
          .oracle-row.oracle-row-2-column
            span.oracle-roll 67-68
            span.oracle-result Dain
          .oracle-row.oracle-row-2-column
            span.oracle-roll 69-70
            span.oracle-result Farina
          .oracle-row.oracle-row-2-column
            span.oracle-roll 71-72
            span.oracle-result Yala
          .oracle-row.oracle-row-2-column
            span.oracle-roll 73-74
            span.oracle-result Kodroth
          .oracle-row.oracle-row-2-column
            span.oracle-roll 75-76
            span.oracle-result Morien
          .oracle-row.oracle-row-2-column
            span.oracle-roll 77-78
            span.oracle-result Akida
          .oracle-row.oracle-row-2-column
            span.oracle-roll 79-80
            span.oracle-result Haldorr
          .oracle-row.oracle-row-2-column
            span.oracle-roll 81-82
            span.oracle-result Nyrad
          .oracle-row.oracle-row-2-column
            span.oracle-roll 83-84
            span.oracle-result Edda
          .oracle-row.oracle-row-2-column
            span.oracle-roll 85-86
            span.oracle-result Jorund
          .oracle-row.oracle-row-2-column
            span.oracle-roll 87-88
            span.oracle-result Morraine
          .oracle-row.oracle-row-2-column
            span.oracle-roll 89-90
            span.oracle-result Lindar
          .oracle-row.oracle-row-2-column
            span.oracle-roll 91-92
            span.oracle-result Sithra
          .oracle-row.oracle-row-2-column
            span.oracle-roll 93-94
            span.oracle-result Torgan
          .oracle-row.oracle-row-2-column
            span.oracle-roll 95-96
            span.oracle-result Arnorr
          .oracle-row.oracle-row-2-column
            span.oracle-roll 97-98
            span.oracle-result Thyri
          .oracle-row.oracle-row-2-column
            span.oracle-roll 99-100
            span.oracle-result Erisia
      
      input.site-name-place.hide(type='radio' name='attr_oracle_delve' value='7')
      .site-name-place.showhide
        .oracle-title.oracle-table-preview Site Name: Place
        .oracle-table
          .oracle-row
            span.oracle-roll 1-6
            span.oracle-result Barrow
          .oracle-row
            span.oracle-roll 7-18
            span.oracle-result Cavern
          .oracle-row
            span.oracle-roll 19-28
            span.oracle-result Frozen Cavern
          .oracle-row
            span.oracle-roll 29-32
            span.oracle-result Icereach
          .oracle-row
            span.oracle-roll 33-38
            span.oracle-result Mine
          .oracle-row
            span.oracle-roll 39-48
            span.oracle-result Pass
          .oracle-row
            span.oracle-roll 49-58
            span.oracle-result Ruin
          .oracle-row
            span.oracle-roll 59-68
            span.oracle-result Sea Cave
          .oracle-row
            span.oracle-roll 69-78
            span.oracle-result Shadowfen
          .oracle-row
            span.oracle-roll 79-83
            span.oracle-result Stronghold
          .oracle-row
            span.oracle-roll 84-95
            span.oracle-result Tanglewood
          .oracle-row
            span.oracle-roll 96-100
            span.oracle-result Underkeep
      
      input.site-nature-theme.hide(type='radio' name='attr_oracle_delve' value='8')
      .site-nature-theme.showhide
        .oracle-title.oracle-table-preview Site Nature: Theme
        .oracle-table
          .oracle-row
            span.oracle-roll 1-11
            span.oracle-result Ancient
          .oracle-row
            span.oracle-roll 12-23
            span.oracle-result Corrupted
          .oracle-row
            span.oracle-roll 24-35
            span.oracle-result Fortified
          .oracle-row
            span.oracle-roll 36-48
            span.oracle-result Hallowed
          .oracle-row
            span.oracle-roll 49-61
            span.oracle-result Haunted
          .oracle-row
            span.oracle-roll 62-74
            span.oracle-result Infested
          .oracle-row
            span.oracle-roll 75-87
            span.oracle-result Ravaged
          .oracle-row
            span.oracle-roll 88-100
            span.oracle-result Wild
      
      input.site-nature-domain.hide(type='radio' name='attr_oracle_delve' value='9')
      .site-nature-domain.showhide
        .oracle-title.oracle-table-preview Site Nature: Domain
        .oracle-table
          .oracle-row
            span.oracle-roll 1-6
            span.oracle-result Barrow
          .oracle-row
            span.oracle-roll 7-18
            span.oracle-result Cavern
          .oracle-row
            span.oracle-roll 19-28
            span.oracle-result Frozen Cavern
          .oracle-row
            span.oracle-roll 29-32
            span.oracle-result Icereach
          .oracle-row
            span.oracle-roll 33-38
            span.oracle-result Mine
          .oracle-row
            span.oracle-roll 39-48
            span.oracle-result Pass
          .oracle-row
            span.oracle-roll 49-58
            span.oracle-result Ruin
          .oracle-row
            span.oracle-roll 59-68
            span.oracle-result Sea Cave
          .oracle-row
            span.oracle-roll 69-78
            span.oracle-result Shadowfen
          .oracle-row
            span.oracle-roll 79-83
            span.oracle-result Stronghold
          .oracle-row
            span.oracle-roll 84-95
            span.oracle-result Tanglewood
          .oracle-row
            span.oracle-roll 96-100
            span.oracle-result Underkeep
      
      input.character-disposition.hide(type='radio' name='attr_oracle_delve' value='10')
      .character-disposition.showhide
        .oracle-title.oracle-table-preview Character: Disposition
        .oracle-table
          .oracle-row
            span.oracle-roll 1-6
            span.oracle-result Helpful
          .oracle-row
            span.oracle-roll 7-13
            span.oracle-result Friendly
          .oracle-row
            span.oracle-roll 14-20
            span.oracle-result Cooperative
          .oracle-row
            span.oracle-roll 21-28
            span.oracle-result Curious
          .oracle-row
            span.oracle-roll 29-36
            span.oracle-result Indifferent
          .oracle-row
            span.oracle-roll 37-47
            span.oracle-result Suspicious
          .oracle-row
            span.oracle-roll 48-57
            span.oracle-result Wanting
          .oracle-row
            span.oracle-roll 58-67
            span.oracle-result Desperate
          .oracle-row
            span.oracle-roll 68-76
            span.oracle-result Demanding
          .oracle-row
            span.oracle-roll 77-85
            span.oracle-result Unfriendly
          .oracle-row
            span.oracle-roll 86-93
            span.oracle-result Threatening
          .oracle-row
            span.oracle-roll 94-100
            span.oracle-result Hostile
      
      input.character-activity.hide(type='radio' name='attr_oracle_delve' value='11')
      .character-activity.showhide
        .oracle-title.oracle-table-preview Character: Activity
        .oracle-table.oracle-table-2-column
          .oracle-row.oracle-row-2-column
            span.oracle-roll 1-2
            span.oracle-result Guarding
          .oracle-row.oracle-row-2-column
            span.oracle-roll 3-4
            span.oracle-result Preserving
          .oracle-row.oracle-row-2-column
            span.oracle-roll 5-6
            span.oracle-result Constructing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 7-8
            span.oracle-result Mending
          .oracle-row.oracle-row-2-column
            span.oracle-roll 9-10
            span.oracle-result Assisting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 11-12
            span.oracle-result
              | Securing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 13-14
            span.oracle-result Learning
          .oracle-row.oracle-row-2-column
            span.oracle-roll 15-16
            span.oracle-result Sneaking
          .oracle-row.oracle-row-2-column
            span.oracle-roll 17-18
            span.oracle-result Fleeing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 19-20
            span.oracle-result Sacrificing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 21-22
            span.oracle-result Creating
          .oracle-row.oracle-row-2-column
            span.oracle-roll 23-24
            span.oracle-result Luring
          .oracle-row.oracle-row-2-column
            span.oracle-roll 25-26
            span.oracle-result Hunting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 27-28
            span.oracle-result Seizing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 29-30
            span.oracle-result Bargaining
          .oracle-row.oracle-row-2-column
            span.oracle-roll 31-32
            span.oracle-result Mimicking
          .oracle-row.oracle-row-2-column
            span.oracle-roll
              | 33-34
            span.oracle-result Tricking
          .oracle-row.oracle-row-2-column
            span.oracle-roll 35-36
            span.oracle-result Tracking
          .oracle-row.oracle-row-2-column
            span.oracle-roll 37-38
            span.oracle-result Escorting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 39-40
            span.oracle-result Hiding
          .oracle-row.oracle-row-2-column
            span.oracle-roll 41-42
            span.oracle-result Raiding
          .oracle-row.oracle-row-2-column
            span.oracle-roll 43-44
            span.oracle-result Socializing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 45-46
            span.oracle-result Exploring
          .oracle-row.oracle-row-2-column
            span.oracle-roll 47-48
            span.oracle-result Journeying
          .oracle-row.oracle-row-2-column
            span.oracle-roll 49-50
            span.oracle-result Supporting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 51-52
            span.oracle-result Avoiding
          .oracle-row.oracle-row-2-column
            span.oracle-roll 53-54
            span.oracle-result Disabling
          .oracle-row.oracle-row-2-column
            span.oracle-roll 55-56
            span.oracle-result Leading
          .oracle-row.oracle-row-2-column
            span.oracle-roll 57-58
            span.oracle-result Assaulting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 59-60
            span.oracle-result Ensnaring
          .oracle-row.oracle-row-2-column
            span.oracle-roll 61-62
            span.oracle-result Defending
          .oracle-row.oracle-row-2-column
            span.oracle-roll 63-64
            span.oracle-result Recovering
          .oracle-row.oracle-row-2-column
            span.oracle-roll 65-66
            span.oracle-result Patrolling
          .oracle-row.oracle-row-2-column
            span.oracle-roll 67-68
            span.oracle-result Resting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 69-70
            span.oracle-result Distracting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 71-72
            span.oracle-result Leaving
          .oracle-row.oracle-row-2-column
            span.oracle-roll 73-74
            span.oracle-result Fighting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 75-76
            span.oracle-result Ambushing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 77-78
            span.oracle-result Controlling
          .oracle-row.oracle-row-2-column
            span.oracle-roll 79-80
            span.oracle-result Observing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 81-82
            span.oracle-result Gathering
          .oracle-row.oracle-row-2-column
            span.oracle-roll 83-84
            span.oracle-result Suffering
          .oracle-row.oracle-row-2-column
            span.oracle-roll 85-86
            span.oracle-result Threatening
          .oracle-row.oracle-row-2-column
            span.oracle-roll 87-88
            span.oracle-result Searching
          .oracle-row.oracle-row-2-column
            span.oracle-roll 89-90
            span.oracle-result Destroying
          .oracle-row.oracle-row-2-column
            span.oracle-roll 91-92
            span.oracle-result Restoring
          .oracle-row.oracle-row-2-column
            span.oracle-roll 93-94
            span.oracle-result Consuming
          .oracle-row.oracle-row-2-column
            span.oracle-roll 95-96
            span.oracle-result Removing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 97-98
            span.oracle-result Inspecting
          .oracle-row.oracle-row-2-column
            span.oracle-roll 99-100
            span.oracle-result Summoning
      
      input.monstrosity-size.hide(type='radio' name='attr_oracle_delve' value='12')
      .monstrosity-size.showhide
        .oracle-title.oracle-table-preview Monstrosity: Size
        .oracle-table
          .oracle-row
            span.oracle-roll 1-5
            span.oracle-result Tiny (rodent-sized)
          .oracle-row
            span.oracle-roll 6-30
            span.oracle-result Small (hound-sized)
          .oracle-row
            span.oracle-roll 31-65
            span.oracle-result Medium (person-sized)
          .oracle-row
            span.oracle-roll 66-94
            span.oracle-result Large (giant-sized)
          .oracle-row
            span.oracle-roll 95-99
            span.oracle-result Huge (whale-sized)
          .oracle-row
            span.oracle-roll 100
            span.oracle-result Titanic (incomprehensible)
      
      input.monstrosity-primary-form.hide(type='radio' name='attr_oracle_delve' value='13')
      .monstrosity-primary-form.showhide
        .oracle-title.oracle-table-preview Monstrosity: Primary Form
        .oracle-table
          .oracle-row
            span.oracle-roll 1-15
            span.oracle-result Beast / mammal
          .oracle-row
            span.oracle-roll 16-25
            span.oracle-result Humanoid
          .oracle-row
            span.oracle-roll 26-31
            span.oracle-result Bird
          .oracle-row
            span.oracle-roll 32-37
            span.oracle-result Spider
          .oracle-row
            span.oracle-roll 38-43
            span.oracle-result Snake
          .oracle-row
            span.oracle-roll 44-49
            span.oracle-result Worm / slug
          .oracle-row
            span.oracle-roll 50-55
            span.oracle-result Lizard
          .oracle-row
            span.oracle-roll 56-61
            span.oracle-result Insect
          .oracle-row
            span.oracle-roll 62-66
            span.oracle-result Amorphous
          .oracle-row
            span.oracle-roll 67-69
            span.oracle-result Crustacean
          .oracle-row
            span.oracle-roll 70-71
            span.oracle-result Fish
          .oracle-row
            span.oracle-roll 72-73
            span.oracle-result Octopoid
          .oracle-row
            span.oracle-roll 74-75
            span.oracle-result Amphibian
          .oracle-row
            span.oracle-roll 76-77
            span.oracle-result Plant
          .oracle-row
            span.oracle-roll 78
            span.oracle-result Incorporeal
          .oracle-row
            span.oracle-roll 79
            span.oracle-result Mineral
          .oracle-row
            span.oracle-roll 80
            span.oracle-result Elemental
          .oracle-row
            span.oracle-roll 81-100
            span.oracle-result Hybrid (roll twice)
      
      input.monstrosity-characteristics.hide(type='radio' name='attr_oracle_delve' value='14')
      .monstrosity-characteristics.showhide
        .oracle-title.oracle-table-preview Monstrosity: Characteristics
        .oracle-table
          .oracle-row
            span.oracle-roll 1-5
            span.oracle-result Extra limbs
          .oracle-row
            span.oracle-roll 6-10
            span.oracle-result Fangs / rows of sharp teeth
          .oracle-row
            span.oracle-roll 11-15
            span.oracle-result Claws / talons
          .oracle-row
            span.oracle-roll 16-20
            span.oracle-result Strange color / markings
          .oracle-row
            span.oracle-roll 21-25
            span.oracle-result Horns / tusks
          .oracle-row
            span.oracle-roll 26-30
            span.oracle-result Oversized mouth
          .oracle-row
            span.oracle-roll 31-35
            span.oracle-result Spikes / spines
          .oracle-row
            span.oracle-roll 36-40
            span.oracle-result Tail
          .oracle-row
            span.oracle-roll 41-45
            span.oracle-result Multi-segmented body
          .oracle-row
            span.oracle-roll 46-50
            span.oracle-result Wings
          .oracle-row
            span.oracle-roll 51-54
            span.oracle-result Stinger / barbs
          .oracle-row
            span.oracle-roll 55-58
            span.oracle-result Many-eyed
          .oracle-row
            span.oracle-roll 59-62
            span.oracle-result Distinctive sound
          .oracle-row
            span.oracle-roll 63-66
            span.oracle-result Tentacles / tendrils
          .oracle-row
            span.oracle-roll 67-69
            span.oracle-result Mandibles / pincers
          .oracle-row
            span.oracle-roll 70-72
            span.oracle-result Luminescent
          .oracle-row
            span.oracle-roll 73-75
            span.oracle-result Antennae / sensory organs
          .oracle-row
            span.oracle-roll 76-78
            span.oracle-result Proboscis / inner jaw
          .oracle-row
            span.oracle-roll 79-81
            span.oracle-result Exoskeleton / shell
          .oracle-row
            span.oracle-roll 82-84
            span.oracle-result Bony protuberances
          .oracle-row
            span.oracle-roll 85-87
            span.oracle-result Corrupted flesh
          .oracle-row
            span.oracle-roll 88-90
            span.oracle-result Semi-transparent
          .oracle-row
            span.oracle-roll 91-93
            span.oracle-result Scarred / injured
          .oracle-row
            span.oracle-roll 94-95
            span.oracle-result Egg sac / carried offspring
          .oracle-row
            span.oracle-roll 96-97
            span.oracle-result Rotting / skeletal
          .oracle-row
            span.oracle-roll 98
            span.oracle-result Mummified / desiccated
          .oracle-row
            span.oracle-roll 99
            span.oracle-result Multi-headed
          .oracle-row
            span.oracle-roll 100
            span.oracle-result Etched with mystic runes
      
      input.monstrosity-abilities.hide(type='radio' name='attr_oracle_delve' value='15')
      .monstrosity-abilities.showhide
        .oracle-title.oracle-table-preview Monstrosity: Abilities
        .oracle-table
          .oracle-row
            span.oracle-roll 1-4
            span.oracle-result Keen senses
          .oracle-row
            span.oracle-roll 5-8
            span.oracle-result Intimidating vocalization
          .oracle-row
            span.oracle-roll 9-12
            span.oracle-result Climber
          .oracle-row
            span.oracle-roll 13-16
            span.oracle-result Intelligent
          .oracle-row
            span.oracle-roll 17-20
            span.oracle-result Swift
          .oracle-row
            span.oracle-roll 21-24
            span.oracle-result Powerful bite
          .oracle-row
            span.oracle-roll 25-28
            span.oracle-result Stealthy / ambusher
          .oracle-row
            span.oracle-roll 29-32
            span.oracle-result Horrid visage
          .oracle-row
            span.oracle-roll 33-36
            span.oracle-result Strong
          .oracle-row
            span.oracle-roll 37-40
            span.oracle-result Camouflaged
          .oracle-row
            span.oracle-roll 41-43
            span.oracle-result Flier / glider
          .oracle-row
            span.oracle-roll 44-46
            span.oracle-result Poisonous
          .oracle-row
            span.oracle-roll 47-49
            span.oracle-result Semiaquatic / swimmer
          .oracle-row
            span.oracle-roll 50-52
            span.oracle-result Grappler / entangler
          .oracle-row
            span.oracle-roll 53-55
            span.oracle-result Leaper
          .oracle-row
            span.oracle-roll 56-58
            span.oracle-result Crusher / constrictor
          .oracle-row
            span.oracle-roll 59-61
            span.oracle-result Armored
          .oracle-row
            span.oracle-roll 62-64
            span.oracle-result Burrower
          .oracle-row
            span.oracle-roll 65-67
            span.oracle-result Noxious smell
          .oracle-row
            span.oracle-roll 68-69
            span.oracle-result Trap-setter
          .oracle-row
            span.oracle-roll 70-71
            span.oracle-result Parasitic
          .oracle-row
            span.oracle-roll 72-73
            span.oracle-result Vibration sense
          .oracle-row
            span.oracle-roll 74-75
            span.oracle-result Breath weapon / toxic spew
          .oracle-row
            span.oracle-roll 76-77
            span.oracle-result Mimicry
          .oracle-row
            span.oracle-roll 78-79
            span.oracle-result Shapeshifting
          .oracle-row
            span.oracle-roll 80-81
            span.oracle-result Control lesser creatures
          .oracle-row
            span.oracle-roll 82-83
            span.oracle-result Echolocation
          .oracle-row
            span.oracle-roll 84-85
            span.oracle-result Electric shock
          .oracle-row
            span.oracle-roll 86-87
            span.oracle-result Acidic
          .oracle-row
            span.oracle-roll 88-89
            span.oracle-result Symbiotic
          .oracle-row
            span.oracle-roll 90-91
            span.oracle-result Shoot projectiles
          .oracle-row
            span.oracle-roll 92
            span.oracle-result Paralyzing
          .oracle-row
            span.oracle-roll 93
            span.oracle-result Immune to iron
          .oracle-row
            span.oracle-roll 94
            span.oracle-result Feels no pain
          .oracle-row
            span.oracle-roll 95
            span.oracle-result Enact rituals
          .oracle-row
            span.oracle-roll 96
            span.oracle-result Create illusions
          .oracle-row
            span.oracle-roll 97
            span.oracle-result Mind control / telepathy
          .oracle-row
            span.oracle-roll 98
            span.oracle-result Move between realities
          .oracle-row
            span.oracle-roll 99
            span.oracle-result Wield weapons
          .oracle-row
            span.oracle-roll 100
            span.oracle-result Control elements
      
      input.trap-event.hide(type='radio' name='attr_oracle_delve' value='16')
      .trap-event.showhide
        .oracle-title.oracle-table-preview Trap: Event
        .oracle-table
          .oracle-row
            span.oracle-roll 1-4
            span.oracle-result Block
          .oracle-row
            span.oracle-roll 5-8
            span.oracle-result Create
          .oracle-row
            span.oracle-roll 9-12
            span.oracle-result Break
          .oracle-row
            span.oracle-roll 13-16
            span.oracle-result Puncture
          .oracle-row
            span.oracle-roll 17-20
            span.oracle-result Entangle
          .oracle-row
            span.oracle-roll 21-24
            span.oracle-result Enclose
          .oracle-row
            span.oracle-roll 25-28
            span.oracle-result Ambush
          .oracle-row
            span.oracle-roll 29-32
            span.oracle-result Snare
          .oracle-row
            span.oracle-roll 33-36
            span.oracle-result Change
          .oracle-row
            span.oracle-roll 37-40
            span.oracle-result Imitate
          .oracle-row
            span.oracle-roll 41-44
            span.oracle-result Crush
          .oracle-row
            span.oracle-roll 45-48
            span.oracle-result Drop
          .oracle-row
            span.oracle-roll 49-52
            span.oracle-result Conceal
          .oracle-row
            span.oracle-roll 53-56
            span.oracle-result Lure
          .oracle-row
            span.oracle-roll 57-60
            span.oracle-result Release
          .oracle-row
            span.oracle-roll 61-64
            span.oracle-result Obscure
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Cut
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Smother
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Collapse
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Summon
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Move
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Surprise
          .oracle-row
            span.oracle-roll 89-92
            span.oracle-result Divert
          .oracle-row
            span.oracle-roll 93-96
            span.oracle-result Attack
          .oracle-row
            span.oracle-roll 97-100
            span.oracle-result Trigger
      
      input.trap-component.hide(type='radio' name='attr_oracle_delve' value='17')
      .trap-component.showhide
        .oracle-title.oracle-table-preview Trap: Component
        .oracle-table
          .oracle-row
            span.oracle-roll 1-4
            span.oracle-result Pit
          .oracle-row
            span.oracle-roll 5-8
            span.oracle-result Water
          .oracle-row
            span.oracle-roll 9-12
            span.oracle-result Fire
          .oracle-row
            span.oracle-roll 13-16
            span.oracle-result Projectile
          .oracle-row
            span.oracle-roll 17-20
            span.oracle-result Passage
          .oracle-row
            span.oracle-roll 21-24
            span.oracle-result Fall
          .oracle-row
            span.oracle-roll 25-28
            span.oracle-result Debris
          .oracle-row
            span.oracle-roll 29-32
            span.oracle-result Fear
          .oracle-row
            span.oracle-roll 33-36
            span.oracle-result Alarm
          .oracle-row
            span.oracle-roll 37-40
            span.oracle-result Trigger
          .oracle-row
            span.oracle-roll 41-44
            span.oracle-result Cold
          .oracle-row
            span.oracle-roll 45-48
            span.oracle-result Weapon
          .oracle-row
            span.oracle-roll 49-52
            span.oracle-result Darkness
          .oracle-row
            span.oracle-roll 53-56
            span.oracle-result Decay
          .oracle-row
            span.oracle-roll 57-60
            span.oracle-result Path
          .oracle-row
            span.oracle-roll 61-64
            span.oracle-result Stone
          .oracle-row
            span.oracle-roll 65-68
            span.oracle-result Terrain
          .oracle-row
            span.oracle-roll 69-72
            span.oracle-result Poison
          .oracle-row
            span.oracle-roll 73-76
            span.oracle-result Barrier
          .oracle-row
            span.oracle-roll 77-80
            span.oracle-result Overhead
          .oracle-row
            span.oracle-roll 81-84
            span.oracle-result Magic
          .oracle-row
            span.oracle-roll 85-88
            span.oracle-result Toxin
          .oracle-row
            span.oracle-roll 89-92
            span.oracle-result Earth
          .oracle-row
            span.oracle-roll 93-96
            span.oracle-result Light
          .oracle-row
            span.oracle-roll 97-100
            span.oracle-result Denizen
      
      input.combat-event-method.hide(type='radio' name='attr_oracle_delve' value='18')
      .combat-event-method.showhide
        .oracle-title.oracle-table-preview Combat Event: Method
        .oracle-table.oracle-table-2-column
          .oracle-row.oracle-row-2-column
            span.oracle-roll 1-2
            span.oracle-result Defy
          .oracle-row.oracle-row-2-column
            span.oracle-roll 3-4
            span.oracle-result Break
          .oracle-row.oracle-row-2-column
            span.oracle-roll 5-6
            span.oracle-result Trick
          .oracle-row.oracle-row-2-column
            span.oracle-roll 7-8
            span.oracle-result Evade
          .oracle-row.oracle-row-2-column
            span.oracle-roll 9-10
            span.oracle-result Protect
          .oracle-row.oracle-row-2-column
            span.oracle-roll 11-12
            span.oracle-result
              | Overwhelm
          .oracle-row.oracle-row-2-column
            span.oracle-roll 13-14
            span.oracle-result Persevere
          .oracle-row.oracle-row-2-column
            span.oracle-roll 15-16
            span.oracle-result Assist
          .oracle-row.oracle-row-2-column
            span.oracle-roll 17-18
            span.oracle-result Await
          .oracle-row.oracle-row-2-column
            span.oracle-roll 19-20
            span.oracle-result Abort
          .oracle-row.oracle-row-2-column
            span.oracle-roll 21-22
            span.oracle-result Block
          .oracle-row.oracle-row-2-column
            span.oracle-roll 23-24
            span.oracle-result Collide
          .oracle-row.oracle-row-2-column
            span.oracle-roll 25-26
            span.oracle-result Focus
          .oracle-row.oracle-row-2-column
            span.oracle-roll 27-28
            span.oracle-result Advance
          .oracle-row.oracle-row-2-column
            span.oracle-roll 29-30
            span.oracle-result Breach
          .oracle-row.oracle-row-2-column
            span.oracle-roll 31-32
            span.oracle-result Endure
          .oracle-row.oracle-row-2-column
            span.oracle-roll
              | 33-34
            span.oracle-result Assault
          .oracle-row.oracle-row-2-column
            span.oracle-roll 35-36
            span.oracle-result Charge
          .oracle-row.oracle-row-2-column
            span.oracle-roll 37-38
            span.oracle-result Escalate
          .oracle-row.oracle-row-2-column
            span.oracle-roll 39-40
            span.oracle-result Sunder
          .oracle-row.oracle-row-2-column
            span.oracle-roll 41-42
            span.oracle-result Shatter
          .oracle-row.oracle-row-2-column
            span.oracle-roll 43-44
            span.oracle-result Aim
          .oracle-row.oracle-row-2-column
            span.oracle-roll 45-46
            span.oracle-result Stagger
          .oracle-row.oracle-row-2-column
            span.oracle-roll 47-48
            span.oracle-result Counter
          .oracle-row.oracle-row-2-column
            span.oracle-roll 49-50
            span.oracle-result Seize
          .oracle-row.oracle-row-2-column
            span.oracle-roll 51-52
            span.oracle-result Impact
          .oracle-row.oracle-row-2-column
            span.oracle-roll 53-54
            span.oracle-result Entangle
          .oracle-row.oracle-row-2-column
            span.oracle-roll 55-56
            span.oracle-result Hold
          .oracle-row.oracle-row-2-column
            span.oracle-roll 57-58
            span.oracle-result Deflect
          .oracle-row.oracle-row-2-column
            span.oracle-roll 59-60
            span.oracle-result Drop
          .oracle-row.oracle-row-2-column
            span.oracle-roll 61-62
            span.oracle-result Lose
          .oracle-row.oracle-row-2-column
            span.oracle-roll 63-64
            span.oracle-result Sweep
          .oracle-row.oracle-row-2-column
            span.oracle-roll 65-66
            span.oracle-result Secure
          .oracle-row.oracle-row-2-column
            span.oracle-roll 67-68
            span.oracle-result Cover
          .oracle-row.oracle-row-2-column
            span.oracle-roll 69-70
            span.oracle-result Withdraw
          .oracle-row.oracle-row-2-column
            span.oracle-roll 71-72
            span.oracle-result Clash
          .oracle-row.oracle-row-2-column
            span.oracle-roll 73-74
            span.oracle-result Amplify
          .oracle-row.oracle-row-2-column
            span.oracle-roll 75-76
            span.oracle-result Batter
          .oracle-row.oracle-row-2-column
            span.oracle-roll 77-78
            span.oracle-result Feint
          .oracle-row.oracle-row-2-column
            span.oracle-roll 79-80
            span.oracle-result Shove
          .oracle-row.oracle-row-2-column
            span.oracle-roll 81-82
            span.oracle-result Embed
          .oracle-row.oracle-row-2-column
            span.oracle-roll 83-84
            span.oracle-result Affect
          .oracle-row.oracle-row-2-column
            span.oracle-roll 85-86
            span.oracle-result Probe
          .oracle-row.oracle-row-2-column
            span.oracle-roll 87-88
            span.oracle-result Force
          .oracle-row.oracle-row-2-column
            span.oracle-roll 89-90
            span.oracle-result Intensify
          .oracle-row.oracle-row-2-column
            span.oracle-roll 91-92
            span.oracle-result Distract
          .oracle-row.oracle-row-2-column
            span.oracle-roll 93-94
            span.oracle-result Challenge
          .oracle-row.oracle-row-2-column
            span.oracle-roll 95-96
            span.oracle-result Brawl
          .oracle-row.oracle-row-2-column
            span.oracle-roll 97-98
            span.oracle-result Coordinate
          .oracle-row.oracle-row-2-column
            span.oracle-roll 99-100
            span.oracle-result Overrun
      
      input.combat-event-target.hide(type='radio' name='attr_oracle_delve' value='19')
      .combat-event-target.showhide
        .oracle-title.oracle-table-preview Combat Event: Target
        .oracle-table-2-column.oracle-table
          .oracle-row.oracle-row-2-column
            span.oracle-roll 1-2
            span.oracle-result Control
          .oracle-row.oracle-row-2-column
            span.oracle-roll 3-4
            span.oracle-result Defense
          .oracle-row.oracle-row-2-column
            span.oracle-roll 5-6
            span.oracle-result Limbs
          .oracle-row.oracle-row-2-column
            span.oracle-roll 7-8
            span.oracle-result Focus
          .oracle-row.oracle-row-2-column
            span.oracle-roll 9-10
            span.oracle-result Advantage
          .oracle-row.oracle-row-2-column
            span.oracle-roll 11-12
            span.oracle-result
              | Range
          .oracle-row.oracle-row-2-column
            span.oracle-roll 13-14
            span.oracle-result Stress
          .oracle-row.oracle-row-2-column
            span.oracle-roll 15-16
            span.oracle-result Sense
          .oracle-row.oracle-row-2-column
            span.oracle-roll 17-18
            span.oracle-result Weakness
          .oracle-row.oracle-row-2-column
            span.oracle-roll 19-20
            span.oracle-result Opening
          .oracle-row.oracle-row-2-column
            span.oracle-roll 21-22
            span.oracle-result Fear
          .oracle-row.oracle-row-2-column
            span.oracle-roll 23-24
            span.oracle-result Instinct
          .oracle-row.oracle-row-2-column
            span.oracle-roll 25-26
            span.oracle-result Footing
          .oracle-row.oracle-row-2-column
            span.oracle-roll 27-28
            span.oracle-result Maneuver
          .oracle-row.oracle-row-2-column
            span.oracle-roll 29-30
            span.oracle-result Reach
          .oracle-row.oracle-row-2-column
            span.oracle-roll 31-32
            span.oracle-result Harm
          .oracle-row.oracle-row-2-column
            span.oracle-roll
              | 33-34
            span.oracle-result Finesse
          .oracle-row.oracle-row-2-column
            span.oracle-roll 35-36
            span.oracle-result Weapon
          .oracle-row.oracle-row-2-column
            span.oracle-roll 37-38
            span.oracle-result Environment
          .oracle-row.oracle-row-2-column
            span.oracle-roll 39-40
            span.oracle-result Technique
          .oracle-row.oracle-row-2-column
            span.oracle-roll 41-42
            span.oracle-result Surprise
          .oracle-row.oracle-row-2-column
            span.oracle-roll 43-44
            span.oracle-result Pride
          .oracle-row.oracle-row-2-column
            span.oracle-roll 45-46
            span.oracle-result Wound
          .oracle-row.oracle-row-2-column
            span.oracle-roll 47-48
            span.oracle-result Precision
          .oracle-row.oracle-row-2-column
            span.oracle-roll 49-50
            span.oracle-result Ally
          .oracle-row.oracle-row-2-column
            span.oracle-roll 51-52
            span.oracle-result Ground
          .oracle-row.oracle-row-2-column
            span.oracle-roll 53-54
            span.oracle-result Courage
          .oracle-row.oracle-row-2-column
            span.oracle-roll 55-56
            span.oracle-result Companion
          .oracle-row.oracle-row-2-column
            span.oracle-roll 57-58
            span.oracle-result Object
          .oracle-row.oracle-row-2-column
            span.oracle-roll 59-60
            span.oracle-result Momentum
          .oracle-row.oracle-row-2-column
            span.oracle-roll 61-62
            span.oracle-result Speed
          .oracle-row.oracle-row-2-column
            span.oracle-roll 63-64
            span.oracle-result Strength
          .oracle-row.oracle-row-2-column
            span.oracle-roll 65-66
            span.oracle-result Supply
          .oracle-row.oracle-row-2-column
            span.oracle-roll 67-68
            span.oracle-result Terrain
          .oracle-row.oracle-row-2-column
            span.oracle-roll 69-70
            span.oracle-result Armor
          .oracle-row.oracle-row-2-column
            span.oracle-roll 71-72
            span.oracle-result Skill
          .oracle-row.oracle-row-2-column
            span.oracle-roll 73-74
            span.oracle-result Body
          .oracle-row.oracle-row-2-column
            span.oracle-roll 75-76
            span.oracle-result Protection
          .oracle-row.oracle-row-2-column
            span.oracle-roll 77-78
            span.oracle-result Resolve
          .oracle-row.oracle-row-2-column
            span.oracle-roll 79-80
            span.oracle-result Ferocity
          .oracle-row.oracle-row-2-column
            span.oracle-roll 81-82
            span.oracle-result Shield
          .oracle-row.oracle-row-2-column
            span.oracle-roll 83-84
            span.oracle-result Ammo
          .oracle-row.oracle-row-2-column
            span.oracle-roll 85-86
            span.oracle-result Anger
          .oracle-row.oracle-row-2-column
            span.oracle-roll 87-88
            span.oracle-result Opportunity
          .oracle-row.oracle-row-2-column
            span.oracle-roll 89-90
            span.oracle-result Balance
          .oracle-row.oracle-row-2-column
            span.oracle-roll 91-92
            span.oracle-result Position
          .oracle-row.oracle-row-2-column
            span.oracle-roll 93-94
            span.oracle-result Barrier
          .oracle-row.oracle-row-2-column
            span.oracle-roll 95-96
            span.oracle-result Strategy
          .oracle-row.oracle-row-2-column
            span.oracle-roll 97-98
            span.oracle-result Grasp
          .oracle-row.oracle-row-2-column
            span.oracle-roll 99-100
            span.oracle-result Power
      
      input.threat-category.hide(type='radio' name='attr_oracle_delve' value='20')
      .threat-category.showhide
        .oracle-title.oracle-table-preview Threat: Category
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Burgeoning Conflict
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Cursed Site
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Environmental Calamity
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Malignant Plague
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Rampaging Creature
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Ravaging Horde
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Scheming Leader
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Power-Hungry Mystic
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Zealous Cult
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Roll Twice

      input.threat-burgeoning-conflict.hide(type='radio' name='attr_oracle_delve' value='21')
      .threat-burgeoning-conflict.showhide
        .oracle-title.oracle-table-preview Threat: Burgeoning Conflict
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Allow warmongers to gain influence
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Break a treaty
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Force a hasty decision
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Deepen suspicions
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Trigger a confrontation
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Subvert a potential accord
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Isolate the antagonists
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Draw new battle lines
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Reveal an unexpected aspect of the dispute
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result
              | Introduce a new person or faction to complicate the
              | situation
      
      input.threat-cursed-site.hide(type='radio' name='attr_oracle_delve' value='22')
      .threat-cursed-site.showhide
        .oracle-title.oracle-table-preview Threat: Cursed Site
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Unleash a creature or being
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Lure the unwary into its depths
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Offer promises of power
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Reveal a new aspect of its cursed history
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Expand its malignancy to surrounding lands
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Leave its mark on an inhabitant or visitor
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Reveal hidden depths
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Ensnare an important person or object
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Corrupt the environment
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Transform its nature
      
      input.threat-environmental-calamity.hide(type='radio' name='attr_oracle_delve' value='23')
      .threat-environmental-calamity.showhide
        .oracle-title.oracle-table-preview Threat: Environmental Calamity
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Devastate a place
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Block a path
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Threaten a community with imminent destruction
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Manifest unexpected effects
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Expand in scope or intensity
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Allow someone to take advantage
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Deprive of resources
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Isolate an important person or community
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Force refugees into hostile lands
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Disrupt natural ecosystems
      
      input.threat-malignant-plague.hide(type='radio' name='attr_oracle_delve' value='24')
      .threat-malignant-plague.showhide
        .oracle-title.oracle-table-preview Threat: Malignant Plague
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Manifest new symptoms or effects
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Infect someone important
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Expand to new territory or communities
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Allow someone to take advantage
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Allow someone to take the blame
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Create panic or disorder
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Force a horrible decision
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Lure into complacency
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Reveal the root of the sickness
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Undermine a potential cure
      
      input.threat-rampaging-creature.hide(type='radio' name='attr_oracle_delve' value='25')
      .threat-rampaging-creature.showhide
        .oracle-title.oracle-table-preview Threat: Rampaging Creature
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Reveal a new aspect of its nature or abilities
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Expand its territory
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Make a sudden and brutal attack
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Control or influence lesser creatures
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Create confusion or strife
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Leave foreboding signs
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Lure the unwary
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Imperil an event
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Assert control over a location
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Threaten resources
      
      input.threat-ravaging-horde.hide(type='radio' name='attr_oracle_delve' value='26')
      .threat-ravaging-horde.showhide
        .oracle-title.oracle-table-preview Threat: Ravaging Horde
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Overrun defenses
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Gather resources
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Attack a location
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Expand forces
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Appoint or reveal a leader
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Send forth a champion
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Create a diversion
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Undermine an opposing force from within
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Cut off supplies or reinforcements
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Employ a new weapon
      
      input.threat-scheming-leader.hide(type='radio' name='attr_oracle_delve' value='27')
      .threat-scheming-leader.showhide
        .oracle-title.oracle-table-preview Threat: Scheming Leader
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Defeat an enemy
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Form a new alliance
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Usurp or undermine another leader
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Force the loyalty of a community or important person
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Enact a new law or tradition
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Rescind an old law or tradition
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Reveal a true intention
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Unravel an existing alliance
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Incite conflict
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Use an unexpected capability or asset
      
      input.threat-power-hungry-mystic.hide(type='radio' name='attr_oracle_delve' value='28')
      .threat-power-hungry-mystic.showhide
        .oracle-title.oracle-table-preview Threat: Power-Hungry Mystic
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Gain hidden knowledge
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Assault an enemy with magic
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Despoil a place through magic
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Forge a bond with ancient forces
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Create magical wards or protections
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Obtain a powerful artifact
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Tempt with power or secrets
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Recruit a follower or ally
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Sacrifice something in exchange for greater power
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Use magic to trick or deceive
      
      input.threat-zealous-cult.hide(type='radio' name='attr_oracle_delve' value='29')
      .threat-zealous-cult.showhide
        .oracle-title.oracle-table-preview Threat: Zealous Cult
        .oracle-table
          .oracle-row
            span.oracle-roll 1-10
            span.oracle-result Overtake a faction or community
          .oracle-row
            span.oracle-roll 11-20
            span.oracle-result Unlock secrets to greater power
          .oracle-row
            span.oracle-roll 21-30
            span.oracle-result Establish false credibility
          .oracle-row
            span.oracle-roll 31-40
            span.oracle-result Appoint or reveal a leader
          .oracle-row
            span.oracle-roll 41-50
            span.oracle-result Lure new members or establish alliances
          .oracle-row
            span.oracle-roll 51-60
            span.oracle-result Subvert opposition through devious schemes
          .oracle-row
            span.oracle-roll 61-70
            span.oracle-result Attack opposition directly
          .oracle-row
            span.oracle-roll 71-80
            span.oracle-result Spread the word of its doctrine
          .oracle-row
            span.oracle-roll 81-90
            span.oracle-result Reveal a dire prophecy
          .oracle-row
            span.oracle-roll 91-100
            span.oracle-result Reveal its true nature or goal
