mixin ironcrunchOracles
  .oracle-container
    .oracle-column
      .oracle-box
        .oracle-title Feature
        .oracle
          .button-container
            button(type='roll' title='Feature: Aspect' name='roll_feature_aspect_oracle' value='&{template:ironcrunch_ironcrunch_oracles} {{header=Feature: Aspect}} {{featureAspect=[[d100]]}}')
          label.common-btn.oracle-btn
            input.hide.btn-input(type='radio' title='@{oracle_ironcrunch_button}' name='attr_oracle_ironcrunch_button' value='1')
            .btn-content Aspect