include ./oracle-builder
include ../../data/oracles

mixin ironcrunchOracles
  .oracle-container
    .oracle-column.table-list
      each group, index in oracles.ironcrunch
        +oracleRollGroup(group, 'ironcrunch')

    .oracle-column.table-main
      each oracle, index in oracles.ironcrunch
        +oracleBuilder(oracle, 'ironcrunch')