input.ammoflag(type='hidden' name='attr_ammotracking')
.attacks()
  .attacks__header
    span(data-i18n='name-u') NAME
    span(data-i18n='atk-u') ATK
    span(data-i18n='dmg-type-u') DAMAGE/TYPE
  fieldset.repeating_attack
    .attack
      input.options__flag(name='attr_options-flag', type="hidden", value='on')
      .attack__display
        button.attack__button(type='roll' name='roll_attack' value='@{rollbase}')
          span.attack__name(name='attr_atkname')
          input.attack__bonus(type='text' name='attr_atkbonus' value='')
          input.attack__type(type='text' name='attr_atkdmgtype' value='')
        .options__cog
          input(type='checkbox' name='attr_options-flag' checked='checked')
          span y
      .attack__options.options
        .options__row
          span.options__label(data-i18n='name:-u') NAME:
          input(type='text' name='attr_atkname')
        .options__row.options__row--noborder
          input(type='checkbox' name='attr_atkflag' value='{{attack=1}}' checked='checked')
          span.options__label(data-i18n='attack:-u') ATTACK:
          select(name='attr_atkattr_base')
            option(value='@{strength_mod}' selected='selected' data-i18n='str-u') STR
            option(value='@{dexterity_mod}' data-i18n='dex-u') DEX
            option(value='@{constitution_mod}' data-i18n='con-u') CON
            option(value='@{intelligence_mod}' data-i18n='int-u') INT
            option(value='@{wisdom_mod}' data-i18n='wis-u') WIS
            option(value='@{charisma_mod}' data-i18n='cha-u') CHA
            option(value='spell' data-i18n='spell-u') SPELL
            option(value='0') -
          span +
          input(type='text' name='attr_atkmod' placeholder='0')
          span +
          input(type='checkbox' name='attr_atkprofflag' value='(@{pb})' checked='checked' )
          span(data-i18n='proficient-u') PROFICIENT
        .options__row.options__row--noborder
          span.options__label(data-i18n='range:-u') RANGE:
          input(type='text' name='attr_atkrange' placeholder='Self (60-foot cone)' data-i18n-placeholder='range-place')
        .options__row
          span.options__label(data-i18n='magic-bonus:-u') MAGIC BONUS:
          input.options__flex--2(type='text' name='attr_atkmagic' placeholder='0')
          span.options__label(data-i18n='crit-range-u') CRIT RANGE:
          input.options__flex--2(type='text' name='attr_atkcritrange' value='20' placeholder='20')
        .options__row.options__row--noborder
          input(type='checkbox' name='attr_dmgflag' value='{{damage=1}} {{dmg1flag=1}}' checked='checked')
          span.options__label(data-i18n='damage:-u') DAMAGE:
          input(type='text' name='attr_dmgbase' placeholder='1d6' )
          span.options__label +
          select(name='attr_dmgattr')
            option(value='@{strength_mod}' selected='selected' data-i18n='str-u') STR
            option(value='@{dexterity_mod}' data-i18n='dex-u') DEX
            option(value='@{constitution_mod}' data-i18n='con-u') CON
            option(value='@{intelligence_mod}' data-i18n='int-u') INT
            option(value='@{wisdom_mod}' data-i18n='wis-u') WIS
            option(value='@{charisma_mod}' data-i18n='cha-u') CHA
            option(value='spell' data-i18n='spell-u') SPELL
            option(value='0') -
          span.options__label +
          input(type='text' name='attr_dmgmod' placeholder='0')
        .options__row
          span.options__label(data-i18n='type:-u') TYPE:
          input(type='text' name='attr_dmgtype' placeholder='Slashing' data-i18n-placeholder='dmg-type-place')
          span.options__label(data-i18n='crit:-u') CRIT:
          input(type='text' name='attr_dmgcustcrit' placeholder='1d6' )
        .options__row.options__row--noborder
          input(type='checkbox' name='attr_dmg2flag' value='{{damage=1}} {{dmg2flag=1}}')
          span.options__label(data-i18n='damage2:-u') DAMAGE2:
          input(type='text' name='attr_dmg2base' placeholder='1d6' )
          span.options__label +
          select(name='attr_dmg2attr')
            option(value='@{strength_mod}' data-i18n='str-u') STR
            option(value='@{dexterity_mod}' data-i18n='dex-u') DEX
            option(value='@{constitution_mod}' data-i18n='con-u') CON
            option(value='@{intelligence_mod}' data-i18n='int-u') INT
            option(value='@{wisdom_mod}' data-i18n='wis-u') WIS
            option(value='@{charisma_mod}' data-i18n='cha-u') CHA
            option(value='spell' data-i18n='spell-u') SPELL
            option(value='0' selected='selected') -
          span.options__label +
          input(type='text' name='attr_dmg2mod' placeholder='0')
        .options__row
          span(data-i18n='type:-u') TYPE:
          input(type='text' name='attr_dmg2type' placeholder='Slashing' data-i18n-placeholder='dmg-type-place')
          span(data-i18n='crit:-u') CRIT:
          input(type='text' name='attr_dmg2custcrit' placeholder='1d6' )
        .options__row.options__row--noborder
          input(type='checkbox' name='attr_saveflag' value='{{save=1}} {{saveattr=@{saveattr}}} {{savedesc=@{saveeffect}}} {{savedc=[[[[@{savedc}]][SAVE]]]}}')
          span.options__label(data-i18n='saving-throw:-u') SAVING THROW:
          select.options__flex(name='attr_saveattr')
            option(value='Strength' selected='selected' data-i18n='str-u') STR
            option(value='Dexterity' data-i18n='dex-u') DEX
            option(value='Constitution' data-i18n='con-u') CON
            option(value='Intelligence' data-i18n='int-u') INT
            option(value='Wisdom' data-i18n='wis-u') WIS
            option(value='Charisma' data-i18n='cha-u') CHA
        .options__row.options__row--noborder
          span.options__label.options__flex--4(data-i18n='vs-dc:-u') VS DC:
          select.options__flex(name='attr_savedc')
            option(value='(@{spell_save_dc})' selected='selected' data-i18n='spell-u') SPELL
            option(value='(@{strength_mod}+8+@{spell_dc_mod}+@{pb})' data-i18n='str-u') STR
            option(value='(@{dexterity_mod}+8+@{spell_dc_mod}+@{pb})' data-i18n='dex-u') DEX
            option(value='(@{constitution_mod}+8+@{spell_dc_mod}+@{pb})' data-i18n='con-u') CON
            option(value='(@{intelligence_mod}+8+@{spell_dc_mod}+@{pb})' data-i18n='int-u') INT
            option(value='(@{wisdom_mod}+8+@{spell_dc_mod}+@{pb})' data-i18n='wis-u') WIS
            option(value='(@{charisma_mod}+8+@{spell_dc_mod}+@{pb})' data-i18n='cha-u') CHA
            option(value='(@{saveflat})' data-i18n='flat-u') FLAT
          input.flatflag(type='hidden' name='attr_savedc')
          input.flat(type='text' name='attr_saveflat' placeholder='10' value='10')
        .options__row
          span.options__label.options__flex--4(data-i18n='save-effect:-u') SAVE EFFECT:
          input(type='text' name='attr_saveeffect' placeholder='half damage' data-i18n-placeholder='save-effect-place')
        .options__row
          span.options__label(data-i18n='ammunition:-u') AMMUNITION:
          input(type='text' name='attr_ammo' placeholder='Arrows' data-i18n-placeholder='ammunition-place')
        .options__row
          span.options__label(data-i18n='description:-u') DESCRIPTION:
          textarea(name='attr_atk_desc' placeholder='Up to 2 creatures within 5 feet' data-i18n-placeholder='description-place')
     
    input(type='hidden' name='attr_rollbase')
    input(type='hidden' name='attr_rollbase_dmg')
    input(type='hidden' name='attr_rollbase_crit')
    input(type='hidden' name='attr_hldmg')
    input(type='hidden' name='attr_spelllevel')
    input(type='hidden' name='attr_itemid')
    input(type='hidden' name='attr_spellid')
    input(type='hidden' name='attr_spell_innate')
    input(type='hidden' name='attr_versatile_alt')
    button.hidden(type='roll' name='roll_attack_dmg' value='@{rollbase_dmg}')
    button.hidden(type='roll' name='roll_attack_crit' value='@{rollbase_crit}')
  input.toggleflag(type='hidden' name='attr_global_attack_mod_flag')
  .hidden.textbox.globalattack
    span(data-i18n='global-attack-u') GLOBAL ATTACK MODIFIER
    fieldset.repeating_tohitmod
      .global-mod
        input.options-flag(type='checkbox' name='attr_options-flag' checked='checked' )
        span y
        input.active-flag(type='checkbox' name='attr_global_attack_active_flag' value='1')
        .options
          .row
            span(data-i18n='name:-u') NAME:
            input(type='text' name='attr_global_attack_name' value='' placeholder='Bless')
          .row
            span(data-i18n='roll:-u') ROLL:
            input(type='text' name='attr_global_attack_roll' value='' placeholder='1d4')
        .globaldisplay
          button.ellipsis(type='roll' name='roll_global_save' value='@{wtype}&{template:simple} {{rname=@{global_attack_name}}} {{r1=[[@{global_attack_roll}]]}} {{normal=1}} @{charname_output}')
            span(name='attr_global_attack_roll')
            span(name='attr_global_attack_name')
  input.toggleflag(type='hidden' name='attr_global_damage_mod_flag')
  .hidden.globalattack.global-dmg
    span(data-i18n='global-damage-u') GLOBAL DAMAGE MODIFIER
    fieldset.repeating_damagemod
      .global-mod
        input.options-flag(type='checkbox' name='attr_options-flag' checked='checked' )
        span y
        input.active-flag(type='checkbox' name='attr_global_damage_active_flag' value='1')
        .options
          .row
            span(data-i18n='name:-u') NAME:
            input(type='text' name='attr_global_damage_name' value='' placeholder='Sneak Attack')
          .row
            span(data-i18n='dmg:-u') DAMAGE:
            input(type='text' name='attr_global_damage_damage' value='' placeholder='1d6')
          .row
            span(data-i18n='critical-dmg:-u') CRITICAL DAMAGE:
            input(type='text' name='attr_global_damage_critical_damage' value='' placeholder='1d6')
          .row
            span(data-i18n='type:-u') TYPE:
            input(type='text' name='attr_global_damage_type' value='' placeholder='Sneak')
        .display
          span.title(name='attr_global_damage_name')
          span.subheader
            button.ellipsis(type='roll' name='roll_global_save' value='@{wtype}&{template:simple} {{rname=@{global_damage_type}}} {{r1=[[@{global_damage_damage}]]}} {{normal=1}} @{charname_output}')
              span(name='attr_global_damage_damage')
              span(name='attr_global_damage_critical_damage')
              span(name='attr_global_damage_type')

  .attacks__label(data-i18n="Attacks & Spellcasting") Attacks & Spellcasting