.money
  .coin
    span.coin__label(data-i18n="L")
    input(type="number", name="attr_l", placeholder="0")
  .coin
    span.coin__label(data-i18n="P")
    input(type="number", name="attr_p", placeholder="0")
  .coin
    span.coin__label(data-i18n="S")
    input(type="number", name="attr_s", placeholder="0")
  .coin
    span.coin__label(data-i18n="G")
    input(type="number", name="attr_g", placeholder="0")
