.deathsaves
  .deathsaves__container
    .deathsaves__label
      button(
        type="roll",
        name="roll_death_save",
        value="@{wtype}&{template:simple} {{rname=^{death-save-u}}} {{mod=@{death_save_bonus}}} {{r1=[[@{d20}+@{death_save_bonus}[MOD]@{globalsavingthrowbonus}]]}} {{normal=1}} {{global=@{global_save_mod}}} @{charname_output}",
        data-i18n="death-saves-u"
      ) DEATH SAVES
    .deathsaves__successes
      span.deathsaves__text(data-i18n="successes-u") SUCCESSES
      .deathsaves__check
        input(type="checkbox", name="attr_deathsave_succ1")
        span
      .deathsaves__check
        input(type="checkbox", name="attr_deathsave_succ2")
        span
      .deathsaves__check
        input(type="checkbox", name="attr_deathsave_succ3")
        span
    .deathsaves__failures
      span.deathsaves__text(data-i18n="failures-u") FAILURES
      .deathsaves__check
        input(type="checkbox", name="attr_deathsave_fail1")
        span
      .deathsaves__check
        input(type="checkbox", name="attr_deathsave_fail2")
        span
      .deathsaves__check
        input(type="checkbox", name="attr_deathsave_fail3")
        span
