.features
  .features__label(data-i18n="feats-traits-u") FEATURES &amp; TRAITS
  fieldset.repeating_traits
    .feature
      input.feature__flag--options(type="hidden" name="attr_options-flag" value="on")
      .feature__display
        span.feature__title(name="attr_name")
        span.feature__subheader
          span(name="attr_source")
          span : 
          span(name="attr_source_type")
      button.feature__chat-button(type="roll" name="roll_output" value="@{wtype}&{template:traits} @{charname_output} {{name=@{name}}} {{source=@{source}: @{source_type}}} {{description=@{description}}}") w
      .feature__options-container
        input.feature__flag--options(type="checkbox" name="attr_options-flag" checked="checked")
        span y
      .feature__options.options
        .options__row
          span(data-i18n="name:-u") NAME:
          input(type="text" name="attr_name")
        .options__row
          span(data-i18n="source:-u") SOURCE:
          select(name="attr_source")
            option(selected="selected" data-i18n="racial") Racial
            option(data-i18n="class") Class
            option(data-i18n="feat") Feat
            option(data-i18n="background") Background
            option(data-i18n="other") Other
        .options__row
          span(data-i18n="source-type:-u") SOURCE TYPE:
          input(type="text" name="attr_source_type" placeholder="Dwarf/Fighter/4th Level")
        .options__row
          textarea(name="attr_description")