input.toggleflag(type='hidden' name='attr_global_save_mod_flag')
.hidden.textarea.globalattack
  span.label(data-i18n='global-save-u' style='position: relative; padding-bottom: 5px;') GLOBAL SAVE MODIFIER
  fieldset.repeating_savemod
    .global-mod
      input.options-flag(type='checkbox' name='attr_options-flag' checked='checked' style='top: -15px;')
      span y
      input.active-flag(type='checkbox' name='attr_global_save_active_flag' value='1')
      .options
        .row
          span(data-i18n='name:-u') NAME:
          input(type='text' name='attr_global_save_name' value='' placeholder='Bless' style='width:75px')
        .row
          span(data-i18n='roll:-u') ROLL:
          input(type='text' name='attr_global_save_roll' value='' placeholder='1d4' style='width:75px')
      .globaldisplay(style='width: 75%')
        button.ellipsis(type='roll' name='roll_global_save' value='@{wtype}&{template:simple} {{rname=@{global_save_name}}} {{r1=[[@{global_save_roll}]]}} {{normal=1}} @{charname_output}')
          span(name='attr_global_save_roll')
          span(name='attr_global_save_name')