input.toggleflag(type='hidden' name='attr_global_ac_mod_flag')
.equipment.hidden
  .textarea.globalattack.acmod
    fieldset.repeating_acmod
      .global-mod
        input.options-flag(type='checkbox' name='attr_options-flag' checked='checked' style='top: -15px;')
        span y
        input.active-flag(type='checkbox' name='attr_global_ac_active_flag' value='1')
        .options
          label
            | Value: 
            input(type='number' name='attr_global_ac_val' placeholder='1')
          label
            | Name: 
            input(type='text' name='attr_global_ac_name' placeholder='Defense')
        .display
          span.title.ellipsis
            span(name='attr_global_ac_val')
            |  [
            span(name='attr_global_ac_name')
            | ]
  span.label(data-i18n='global-ac-u') GLOBAL AC MODIFIER