input(type='hidden' name='attr_use_hero_points')
.hero-points
  input(type='hidden' name='attr_hero_points')
  .value
    input(type='text' name='attr_hero_points' value='0')
  .label
    button.roll-hd.btn.ui-draggable(type='roll' name='roll_hero_points' value='@{wtype}&{template:simple} {{rname=^{hero-points-u}}} {{r1=[[d6]]}} {{normal=1}} {{r2=[[0d20]]}} @{charname_output}' title='Roll Hero Points')
      span
        span(data-i18n='hero-points-u') HERO POINTS
        |  (1D6)
      span(data-i18n='none-left-u') NONE LEFT
      input(type='checkbox' name='attr_consumed_hero_points' value='1')