input.missing-info-flag(type='hidden' name='attr_missing_info')
.missing-info
  span
    span.info-popup.pictos i
    |  Looking for missing data?
  span.missing-info-desc
    | Your data is in the simple version that can be re-enabled from the Settings(gear) tab of the character sheet. Under GENERAL OPTIONS and then FEATS &amp; TRAITS. Set the section to be &apos;Simple&apos;.