.moves
  .move-label(class=`move-label--${level}`)
    .move-label__numeral
      .move-label__label
        span(data-i18n="moves-u") Moves
      button.pictos(name="act_move-reset", type="action") 1
      button.pictos(name="act_move-use", type="action") }
    .move-label__total
      .move-label__title(data-i18n="total")
      span(name=`attr_moves_total`)
      input(name=`attr_moves_total`, type="hidden", value="0")
    .move-label__expended
      .move-label__title(data-i18n="current")
      input(type="number", name=`attr_moves_expended`, value="0")
  fieldset.repeating_moves
    .move
      input.move__flag--options(type="hidden" name="attr_options-flag" value="on")
      span.move__title(name="attr_name")
      button.move__chat-button(type="roll" name="roll_output" value="@{wtype}&{template:traits} @{charname_output} {{name=@{name}}} {{source=@{source}: @{source_type}}} {{description=@{description}}}") w
      .move__options-container
        input.move__flag--options(type="checkbox" name="attr_options-flag" checked="checked")
        span y
      .move__options.options
        .options__row
          span(data-i18n="name:-u") NAME:
          input(type="text" name="attr_name")
        .options__row--noborder
          span(data-i18n="description:-u") DESCRIPTION:
        .options__row
          textarea(name="attr_description")