.otherprofs
  input.hiddenflag__flag(type='hidden' name='attr_simpleproficencies' value='complex')
  textarea.hiddenflag__simple(name='attr_other_proficiencies_and_languages' style='min-height: 91px; height: 91px;')
  .hiddenflag__complex
    .otherprofs__header
      span.label(data-i18n='type-u') TYPE
      span.label(data-i18n='proficency-u') PROFICIENCY
    fieldset.repeating_proficiencies
      .otherprof
        input.options__flag(name='attr_options-flag', type="hidden", value='on')
        .toolprof__options.options
          .options__row
            span.options__label.options__flex(data-i18n='type:-u') TYPE:
            select.options__flex(name='attr_prof_type')
              option(selected='selected' data-i18n='lang-u') LANGUAGE
              option(data-i18n='weapon-u') WEAPON
              option(data-i18n='armor-u') ARMOR
              option(data-i18n='other-u') OTHER
          .options__row
            span.options__label.options__flex(data-i18n='proficency-u') PROFICIENCY
            input.options__flex(type='text' name='attr_name' placeholder='Elven, Dwarven, and Common')
        .otherprof__display
          button.otherprof__button(type='roll' name='roll_output' value='@{wtype}&{template:traits} @{charname_output} {{name=@{prof_type} PROFICIENCY}} {{description=@{name}}}')
            span.otherprof__type(name='attr_prof_type')
            span.otherprof__name(name='attr_name')
          .options__cog
            input(type='checkbox' name='attr_options-flag' checked='checked')
            span y
  .otherprofs__label
    span(data-i18n='other-prof-langs-u') OTHER PROFICIENCIES &amp; LANGUAGES