input(type='hidden' name='attr_use_piety')
.piety
  input.details-flag(type='checkbox' name='attr_piety_details-flag' checked='checked')
  span i
  .container
    .header
      .score
        input(type='number' name='attr_piety' value='1')
        span Piety
      label.deity
        span Deity:
        input(type='text' placeholder="Deity's name..." name='attr_piety_deity')
    .earning
      span.title Earning Piety
      fieldset.repeating_earning
        .desc
          input(type='hidden' name='attr_desc' value='')
          textarea(name='attr_desc' placeholder='Enter description...')
          span(name='attr_desc')
    .losing
      span.title Losing Piety
      fieldset.repeating_losing
        .desc
          input(type='hidden' name='attr_desc' value='')
          textarea(name='attr_desc' placeholder='Enter description...')
          span(name='attr_desc')
    input.toggle(type='hidden' name='attr_piety' value='1')
    .none
      span
        | You haven&apos;t aquired enough piety. Keep true to you deity and good things will come.
    .devotee
      span.rank
        span(name='attr_piety_deity')
        span  Devotee
      span.subheader
        | Piety 3+ 
        span(name='attr_piety_deity')
        |  trait
      .desc
        input(type='hidden' name='attr_piety_devotee' value='')
        textarea(name='attr_piety_devotee' placeholder='Enter description...')
        span(name='attr_piety_devotee')
    .votary
      span.rank
        span(name='attr_piety_deity')
        span  Votary
      span.subheader
        | Piety 10+ 
        span(name='attr_piety_deity')
        |  trait
      .desc
        input(type='hidden' name='attr_piety_votary' value='')
        textarea(name='attr_piety_votary' placeholder='Enter description...')
        span(name='attr_piety_votary')
    .disciple
      span.rank
        span(name='attr_piety_deity')
        span  Disciple
      span.subheader
        | Piety 25+ 
        span(name='attr_piety_deity')
        |  trait
      .desc
        input(type='hidden' name='attr_piety_disciple' value='')
        textarea(name='attr_piety_disciple' placeholder='Enter description...')
        span(name='attr_piety_disciple')
    .champion
      input.rank(type='text' name='attr_piety_champion_title' value='Champion of')
      span.subheader
        | Piety 50+ 
        span(name='attr_piety_deity')
        |  trait
      .desc
        input(type='hidden' name='attr_piety_champion' value='')
        textarea(name='attr_piety_champion' placeholder='Enter description...')
        span(name='attr_piety_champion')