.resources
  .hdice-dsaves-container(style='width: 246px; margin-top: 10px;')
    .subcontainer(style='height: 64px; width: 119px;')
      .top
        span(data-i18n='total') Total
        input(type='text' name='attr_class_resource_max' title='@{class_resource_max}')
      input(type='number' name='attr_class_resource' title='@{class_resource}' style='margin-bottom: -6px;')
      input.label(type='text' name='attr_class_resource_name' title='@{class_resource_name}' placeholder='CLASS RESOURCE' data-i18n-placeholder='class-resource-u')
    .subcontainer(style='height: 64px; width: 119px; float: right;')
      .top
        span(data-i18n='total') Total
        input(type='text' name='attr_other_resource_max' title='@{other_resource_max}')
      input(type='number' name='attr_other_resource' title='@{other_resource}' style='margin-bottom: -6px;')
      input.label(type='text' name='attr_other_resource_name' title='@{other_resource_name}' placeholder='OTHER RESOURCE' data-i18n-placeholder='other-resource-u')
      input(type='hidden' name='attr_other_resource_itemid')
  fieldset.repeating_resource
    .hdice-dsaves-container(style='width: 246px;')
      .subcontainer(style='height: 64px; width: 119px;')
        .top
          span(data-i18n='total') Total
          input(type='text' name='attr_resource_left_max' title='@{repeating_resource_left_max}')
        input(type='number' name='attr_resource_left' title='@{repeating_resource_left}' style='margin-bottom: -6px;')
        input.label(type='text' name='attr_resource_left_name' title='@{repeating_resource_left_name}' placeholder='OTHER RESOURCE' data-i18n-placeholder='other-resource-u')
        input(type='hidden' name='attr_resource_left_itemid')
      .subcontainer(style='height: 64px; width: 119px;')
        .top
          span(data-i18n='total') Total
          input(type='text' name='attr_resource_right_max' title='@{repeating_resource_right_max}')
        input(type='number' name='attr_resource_right' title='@{repeating_resource_right}' style='margin-bottom: -6px;')
        input.label(type='text' name='attr_resource_right_name' title='@{repeating_resource_right_name}' placeholder='OTHER RESOURCE' data-i18n-placeholder='other-resource-u')
        input(type='hidden' name='attr_resource_right_itemid')