.spellstats
  .spellstats__ability
    select(name="attr_spellcasting_ability")
      option(value!="0*", data-i18n="None") None
      option(value!="@{strength_mod}+", data-i18n="Strength") Strength
      option(value!="@{dexterity_mod}+", data-i18n="Dexterity") Dexterity
      option(value!="@{constitution_mod}+", data-i18n="Constitution") Constitution
      option(value!="@{intelligence_mod}+", data-i18n="Intelligence") Intelligence
      option(value!="@{wisdom_mod}+", data-i18n="Wisdom") Wisdom
      option(value!="@{charisma_mod}+", data-i18n="Charisma") Charisma
    span.spellstats__label(data-i18n="Spellcasting Ability") Spellcasting Ability
  .spellstats__dc
    span.spellstats__display(name="attr_spell_save_dc")
    span.spellstats__label(data-i18n="Spell Save DC") Spell Save DC
  .spellstats__attackbonus
    span.spellstats__display(name="attr_spell_attack_bonus")
    span.spellstats__label(data-i18n="Spell Attack Bonus") Spell Attack Bonus
