.toolprofs
  .toolprofs__header
    span.label(data-i18n='tool-u') TOOL
    span.label(data-i18n='pro-u') PRO
    span.label(data-i18n='attr-u') ATTRIBUTE
  fieldset.repeating_tool
    .toolprof
      input.options__flag(name='attr_options-flag', type="hidden", value='on')
      .toolprof__options.options
        .options__row
          .options__label.options__flex(data-i18n='name:-u') NAME:
          input.options__flex(type='text' name='attr_toolname')
        .options__row
          span.options__label.options__flex(data-i18n='prof-bonus:-u') PROFICIENCY BONUS:
          select.options__flex--5(name='attr_toolbonus_base')
            option(value='(@{pb})' selected='selected' data-i18n='prof-u') PROFICIENT
            option(value='(@{pb}*2)' data-i18n='expertise-u') EXPERTISE
            option(value='(floor(@{pb}/2))' data-i18n='jack-of-all-u') JACK OF ALL TRADES
        .options__row
          span.options__label.options__flex(data-i18n='attr:-u') ATTRIBUTE:
          select.options__flex(name='attr_toolattr_base')
            option(value='@{strength_mod}' selected='selected' data-i18n='strength-u') STRENGTH
            option(value='@{dexterity_mod}' data-i18n='dexterity-u') DEXTERITY
            option(value='@{constitution_mod}' data-i18n='constitution-u') CONSTITUTION
            option(value='@{intelligence_mod}' data-i18n='intelligence-u') INTELLIGENCE
            option(value='@{wisdom_mod}' data-i18n='wisdom-u') WISDOM
            option(value='@{charisma_mod}' data-i18n='charisma-u') CHARISMA
            option(value='?{Attribute?|Strength,@{strength_mod}|Dexterity,@{dexterity_mod}|Constitution,@{constitution_mod}|Intelligence,@{intelligence_mod}|Wisdom,@{wisdom_mod}|Charisma,@{charisma_mod}}' data-i18n='query-attr-u') QUERY ATTRIBUTE
          span.options__label.options__flex(data-i18n='mods:-u') MODS:
          input.options__flex--2(type='text' name='attr_tool_mod' title='@{tool_mod}' value='0')
      .toolprof__display
        input(type='hidden' name='attr_toolroll')
        // <button type="roll" name="roll_tool" value="@{wtype}&{template:simple} {{rname=@{toolname}}} {{mod=@{toolbonus}}} {{r1=[[@{d20}+@{toolbonus}@{pbd_safe}]]}} @{rtype}+@{toolbonus}@{pbd_safe}]]}} {{global=@{global_skill_mod}}} @{charname_output}"></button>
        button.toolprof__button(type='roll' name='roll_tool' value='@{toolroll}')
          span.toolprof__name(name='attr_toolname')
          input.toolprof__value(type='text' name='attr_toolbonus_display')
          input(type='hidden' name='attr_toolbonus')
          input.toolprof__attribute(type='text' name='attr_toolattr')
        .options__cog
          input(type='checkbox' name='attr_options-flag' checked='checked')
          span y
  input.toggleflag(type='hidden' name='attr_global_skill_mod_flag')
  .hidden.textarea.globalattack
    span.label(data-i18n='global-skill-u') GLOBAL SKILL MODIFIER
    fieldset.repeating_skillmod
      .global-mod
        input.options-flag(type='checkbox' name='attr_options-flag' checked='checked' style='top: -15px;')
        span y
        input.active-flag(type='checkbox' name='attr_global_skill_active_flag' value='1')
        .options
          .row
            span(data-i18n='name:-u') NAME:
            input(type='text' name='attr_global_skill_name' value='' placeholder='Guidance')
          .row
            span(data-i18n='roll:-u') ROLL:
            input(type='text' name='attr_global_skill_roll' value='' placeholder='1d4')
        .globaldisplay
          button.ellipsis(type='roll' name='roll_global_save' value='@{wtype}&{template:simple} {{rname=@{global_skill_name}}} {{r1=[[@{global_skill_roll}]]}} {{normal=1}} @{charname_output}')
            span(name='attr_global_skill_roll')
            span(name='attr_global_skill_name')
  .toolprofs__label
    span(data-i18n='tool-prof-u') TOOL PROFICIENCIES
    span &amp; 
    span(data-i18n='custom-skills-u') CUSTOM SKILLS