.textbox.traits(style='min-height: 480px;')
  input.inventoryflag(type='hidden' name='attr_simpletraits' value='complex')
  textarea.simple(name='attr_features_and_traits' style='min-height: 461px; height: 461px;')
  .complex
    fieldset.repeating_traits
      .trait
        button.output(type='roll' name='roll_output' value='@{wtype}&{template:traits} @{charname_output} {{name=@{name}}} {{source=@{source}: @{source_type}}} {{description=@{description}}}') w
        input.options-flag(type='checkbox' name='attr_options-flag' checked='checked')
        span y
        input.display-flag(type='checkbox' name='attr_display_flag')
        .options
          .row
            span(data-i18n='name:-u') NAME:
            input(type='text' name='attr_name' style='width: 120px;')
          .row
            span(data-i18n='source:-u') SOURCE:
            select(name='attr_source')
              option(selected='selected' data-i18n='racial') Racial
              option(data-i18n='class') Class
              option(data-i18n='feat') Feat
              option(data-i18n='background') Background
              option(data-i18n='other') Other
          .row
            span(data-i18n='source-type:-u') SOURCE TYPE:
            input(type='text' name='attr_source_type' style='width: 160px;' placeholder='Dwarf/Fighter/4th Level')
          .row
            textarea(name='attr_description' style='min-height: 200px; height: 200px;')
        .display(style='margin-bottom: 2px;')
          span.title(name='attr_name')
          span.subheader
            span(name='attr_source')
            span : 
            span(name='attr_source_type')
          span.desc(name='attr_description')
  span.label(data-i18n='feats-traits-u' style='margin-top: 0px; position: absolute; bottom: 0px;') FEATURES &amp; TRAITS