.vitals
  .vitals__hp
    input(type="number", name="attr_hitpoints", value="0")
    input(type="number", name="attr_hitpoints_max", value="0")
    span.vitals__label(data-i18n="Hitpoints")
  .vitals__temphp
    input(type="number", name="attr_temp_hitpoints")
    span.vitals__label(data-i18n="Temporary HP")
  .vitals__hitdice
    input(type="number", name="attr_hitdice")
    span /
    input(name="attr_hitdice_max", type="hidden", value="1")
    span(name="attr_hitdice_max")
    span.vitals__label(data-i18n="Hit Dice")
