.arc {
  .arc__layout {
    &--left {
      display: grid;
      grid-template-rows: repeat(4, auto) 1fr;
      row-gap: 24px;
      height: fit-content;
    }
    &--right {
      display: grid;
      grid-template-rows: repeat(4, auto);
      row-gap: 24px;
      height: fit-content;
    }
    @import "../components/health";
    @import "../components/approaches";
    @import "../components/skills";
    @import "../components/background";
    @import "../components/bonds";
    @import "../components/experience";
    @import "../components/consequences";
    @import "../components/inventory";
  }
}
