div.sheet-npc {
    width: 70%;

    textarea { height: 6em; }
    span.sheet-notes { font-size: 0.8em; }
}

div.sheet-npc-block {
    margin: 0.5em 0 0.5em 0;
}

div.sheet-npc-defense-grid > div,
div.sheet-npc-block label {
    background: $graylike;
    border: 1px solid hsla(217, 100%, 15%, 0.1);
    padding: 5px;
}

div.sheet-npc-abilities,
div.sheet-npc-perception,
div.sheet-npc-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}

div.sheet-npc-defense-grid {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-gap: 5px;

    & > div.sheet-npc-saves {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5px;

        & > label.sheet-notes {
            grid-column: 1 / -1;
        }
    }

    & > div.sheet-npc-immunities {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 5px;
    }

    & > div > label {
        background: unset;
        padding: unset;
        border: unset;
    }
}

div.sheet-npc-perception > label {
    grid-column: span 2;
}
div.sheet-npc-info {
    & > label {
        grid-column: span 2;

        &:nth-child(1) { grid-column: span 3; }
        &:nth-child(3) { grid-column: span 1; }
    }
}

div.sheet-npc-skill-grid {
    display: flex;
    flex-flow: column wrap;
    max-height: 39em;
}

div.sheet-npc-skills > div.repcontainer > div.repitem label,
div.sheet-npc-skill-grid > label {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    grid-gap: 3px;
    margin: 0 5px 5px 0;
}

div.sheet-npc-skills > div.repcontainer > div.repitem,
div.sheet-npc-skill-grid > label {
    max-width: 32%;
}

div.sheet-npc-defense-grid > div.sheet-npc-offense,
div.sheet-npc-skills > div.repcontainer > div.repitem span:nth-child(3),
div.sheet-npc-skills > div.repcontainer > div.repitem input:nth-child(4),
div.sheet-npc-skill-grid > label > span:nth-child(3),
div.sheet-npc-skill-grid > label > input:nth-child(4) {
    grid-column: 1 / -1;
}

div.sheet-npc-defense-grid > div.sheet-npc-offense {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-column-gap: 5px;
}

div.sheet-npc-general-options > div.sheet-npc-row > label {
    border: none;
    font-size: inherit;
    background: none;
}

div.sheet-npc-display {
    margin: 1em;
}

div.sheet-npc-title {
    border: none;
    border-bottom: solid black 2px;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;

    & > span {
        float: right;
        padding-right: 5px;

        &.sheet-npc-name { float: left; }
    }
}

div.sheet-npc-row {
    width: 100%;
}

div.sheet-npc-traits-row {
    width: auto;
    margin: 0.3em 0;
}

span.sheet-npc-trait {
    background-color: $reddish;
    border: solid 0.1em $traityellow;
    color: $white;
    font-weight: bold;
    padding: 0 0.7em;
}

span.sheet-npc-alignment-trait {
    background-color: $traitblue;
}

span.sheet-npc-size-trait {
    background-color: $traitgreen;
}

span.sheet-npc-row-title {
    font-weight: bold;
    text-transform: capitalize;
}

div.sheet-npc-display hr {
    border-top-color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

span.sheet-uppercase {
    text-transform: uppercase;
}

span.sheet-lowercase {
    text-transform: lowercase;
}

/* customized tabs div for npcs */
input.sheet-type[value*="npc"] ~ div.sheet-tabs  {
    position: relative;
    grid-template-columns: 3em;
    width: 3em;
    float: right;
    left: -23%;
}

input.sheet-type[value*="npc"] ~ div.sheet-tabs button:nth-of-type(1n+2) {
    display: none;
}

/* show/hide areas */
span.sheet-npc-trait:empty {
    display: none;
}

div.sheet-npc-settings {
    border: none;
    background: none;
    display: block;

    &::before { content: none; }
}

div.sheet-npc .repitem button.sheet-settings-button {
    left: -1.5em;
    top: 1.1em;
}

input.sheet-toggles[value*="npcsettings"] ~ div.sheet-npc-settings {
    border: dotted $reddish 2px;
    height: auto;
    padding: 0.5em;
    margin: 1em;
}

input.sheet-npc-skill-toggle[value=""] ~ button.sheet-npc-roll,
input.sheet-npc-skill-toggle[value="0"] ~ button.sheet-npc-roll {
    display: none;
}

input.sheet-npc-skill-notes-toggle:not([value=""]) ~ button.sheet-npc-roll{
    display: inherit;
}

div.sheet-npc div.sheet-repeating input.sheet-toggles[value*="settings"] ~ div.sheet-settings {
    height: auto;
}

span.sheet-npc-parenthesized-field:not(:empty)::before {
    content: "("
}

span.sheet-npc-parenthesized-field:not(:empty)::after {
    content: ")"
}

input.sheet-npc-title-toggle[value=""] ~ span.sheet-npc-toggling-title {
    display: none;
}

/* repeating sections */

div.sheet-npc div.sheet-repeating {
    background: inherit;
    border: none;
    margin: 0px;
    margin-left: 2em;
    padding: 0px;

    label {
        font-size: 1em;
        width: 100%;
    }

    div.repcontrol {
        font-size: 6pt;
        width: 120px;
    }

    .repitem {
        background: none;
        border: none;

        &:nth-child(2n) { background: none; }
    }

    div.sheet-settings {
        background-color: $almostblack;
        width: 50%;
        display: block;

        &:before { border-bottom-color: $almostblack; }
    }
}

div.sheet-npc-repeating-item {
    display: list-item;
    margin-top: 0.3em;

    & > div {
        width: auto;
        max-width: 99%;     /* Makes settings button appear in consistent place in Chrome */
    }
}

div.sheet-npc-skills  {
    width: 100%;

    div.repcontainer { display: inline; }

    & > h2 {
        color: $focusblue;
        display: block;
        font-family: serif;
        font-size: 16pt;
        text-align: center;
    }
}

div.sheet-npc-skills-list div {
    width: auto;

    &.sheet-settings,
    &.repcontrol {
        display: none;
    }
}

/* buttons, inputs, and labels */
div.sheet-npc button[name="act_toggle_npcsettings"]  {
    opacity: 0;
    font-size: 1em;
}

div.sheet-npc:hover button[name="act_toggle_npcsettings"],
div.sheet-npc div.sheet-repeating:hover button.sheet-settings-button  {
    opacity: 0.5;
}

div.sheet-npc:hover button[name="act_toggle_npc"]:hover,
div.sheet-npc div.sheet-repeating:hover button.sheet-settings-button:hover,
div.sheet-npc input[name="attr_toggles"][value*="settings"] + div > button.sheet-settings-button,
input.sheet-toggles[value*="npcsettings"] ~ div.sheet-npc button[name="act_toggle_npcsettings"] {
    opacity: 1;
}

button[type="roll"].sheet-npc-roll {
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    margin: 0;
    border: none;
    padding: 0 2px 0 2px;
    font-weight: inherit;
    box-shadow: none;
    border-bottom: 2px dotted $reddish;
    border-radius: 0;
    line-height: 1em;
    text-transform: capitalize;
}

@each $html in 'defense-grid', 'abilities', 'perception', 'info' {
    div.sheet-npc-#{html} > label > span {
        display: block;
        text-align: center;
    }
}

div.sheet-npc {
    input {
        &[type="text"], &[type="number"] {
            background: $white;
            border: 1px solid $focusblue;
            height: 1.5em;
            padding: 3px;
            font-size: 0.9em;
            display: block;
            width: 100%;
        }

        &:placeholder-shown {
            background: $peach;
            border: 1px solid $prettyred;
        }

        &[name="attr_hit_points"] {
            display: inline;
            height: 1.4em;
            text-align: center;
            width: 10%;
        }

        &[name="attr_lore"] { text-align: center; }

        /* HIDE HEADERS WITHOUT INFORMATION */
        &[name="attr_languages"][value=""] + div.sheet-npc-row,
        &[name="attr_immunities"][value=""] + div.sheet-npc-row,
        &[name="attr_weaknesses"][value=""] + div.sheet-npc-row,
        &[name="attr_resistances"][value=""] + div.sheet-npc-row {
            display: none;
        }
    }

    label {
        color: $focusblue;
        width: initial;
        text-transform: capitalize;
    }

    select.sheet-simple {
        width: auto;
    }

    div.sheet-actiontype {
        label { width: 49%; }
    }

}

div.sheet-npc-settings label > input.sheet-number {
    @extend %center-text;
}

/* SHOW & HIDE NPC FREE ACTION OR REACTION */
span.sheet-actiontype {
    input[value=""] + span,
    input[value="0"] + span {
        display: none;
    }

    span {
        text-transform: capitalize;
        font-weight: bold;
        &:after { content: "."; }
    }
}

/* SHOW & HIDE SPELL ATTACK AND DC FOR NPC SPELLCASTERS */
.sheet-spells {
    input[name="attr_spell_attack"],
    input[name="attr_spell_dc"] {
        border-radius: 3em;
        border-width: 0.15em;
        font-size: 2em;
        font-weight: bold;
        height: 2.5em;
        margin: 0.1em auto;
        text-align: center;
        width: 2.5em;
    }

    .sheet-npc-spellcaster-field,
    input[name="attr_toggles"][value*="npcspellcaster"] ~ div.sheet-spellattack-grid,
    input[name="attr_toggles"][value*="npcspellcaster"] ~ div.sheet-spelldc-grid,
    input[name="attr_toggles"][value*="npcspellcaster"] ~ .sheet-pc-spellcaster-field,
    input[name="attr_toggles"][value*="npcspellcaster"] ~ .repcontainer .sheet-pc-spellcaster-field {
        display: none;
    }

    input[name="attr_toggles"][value*="npcspellcaster"] ~ span.sheet-npc-spellcaster-field,
    input[name="attr_toggles"][value*="npcspellcaster"] ~ .repcontainer .sheet-npc-spellcaster-field {
        display: inline-block;
    }

    input[name="attr_toggles"][value*="npcspellcaster"] ~ .sheet-npc-spellcaster-field {
        display: block;
    }
}

/* NT 2019-09-07 UC-728 and UC-730 */
.sheet-npc-melee-strikes span.sheet-npc-dot-field,
.sheet-npc-ranged-strikes span.sheet-npc-dot-field {
    display: inline-block;
    max-width: 20em;
    overflow: hidden;
    margin-bottom: -0.1em;
    text-overflow: ellipsis;
}
span.sheet-npc-dot-field:not(:empty)::before {
    content: "• ";
}

/* NT 2019-09-14 UC-723 and UC-673 */
div.sheet-build_message {
    display: none;
    position: absolute;
    background: linear-gradient(white, #DDD, white);
    top: 20%;
    left: 10%;
    z-index: 10;
    border: 2px solid black;
    box-shadow: 1em 1em rgba(128,128,128,0.5);
    width: 40em;
    height: 35em;
}
input.sheet-build_message:not([value=""]) + div.sheet-build_message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
input.sheet-build_message:not([value=""]) ~ div.sheet-container {
    opacity: 0.3;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    background-color: transparent;
}
div.sheet-build_text {
    text-align: center;
    font-size: 3.5em;
    color: black;

    span {
        display: inline-block;
        text-transform: uppercase;
    }
}
