include ../../components/encounter_report/encounter_report

mixin encounter_report_page
  div.page-container
    input(
      type='radio'
      name='attr_page'
      class='encounter-report hide-element'
      value='1')
    div.encounter-report.showhide
      +encounter_block
