div.sheet-npc {
    width: 65.5%;

    margin: auto;
        margin-bottom: 2rem;

    * {
        position: relative;
        z-index: 25;

        color: white;

        font-family: "Amiri", serif;
        font-weight: 400;
        font-size: 2rem;
        text-shadow: 
            0 0 12px #000, 
            0 0 8px #000,
            0 0 6px #000,
            0 0 4px #000,
            0 0 2px #000;
    }

    .repitem {
        margin-bottom: .5rem;
    }

    input {
        &[type="text"],
        &[type="number"] {
            height: 3rem;
            padding: .5rem;
        }
    }

    textarea,
    input[type="text"],
    input[type="number"] {
        padding: .4rem;

        background: rgba(0,0,0,0.5);
        border: none;
    }

    option,
    select {
        background: rgba(0,0,0,0.5);
        border: none;

        text-transform: capitalize;
    }

    .sheet-pictos {
        font-family: "Pictos";
    }

    button[type="roll"],
    &-attribute {
        display: block;
        height: auto;
        padding: 0 !important;
        margin: 0 !important;
        overflow: visible;

        background: none;
        border: none; 
        box-shadow: none; 

        font-size: 2rem;
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
        text-transform: uppercase;
    }
    
    button[type="roll"] {

        &:hover,
        &:hover * {
            transform: unset;

            background-color: transparent;
            color: red;
        }
    }

    h1.sheet-npc-title {
        grid-column: 1 / -1;

        text-align: center;

        span {
            font-family: "Kristi", serif;
            font-size: 6rem;
            font-variant: small-caps;
            letter-spacing: 4px;
            line-height: 1;
        }

        label {
            display: none;
        }

        button[type="action"] {
            background: none;
            border: none;
            box-shadow: none;
        }

        input[type="hidden"][name*="npc_name_toggle"][value="on"] {

            & ~ .sheet-npc-name-edit {
                display: grid;
                    grid-template-columns: 1fr 3em;
                width: 60%;
                margin: auto;
            }

            & ~ button {
                display: none;
            }

        }
    }

    &-display {
        align-items: start; 
        grid-template-columns: 1fr 1.25fr;
        gap: .5rem 3rem;
        
        position: relative;
        box-sizing: border-box;

        padding: 1rem 2rem;

        background: {
            image: url('https://raw.githubusercontent.com/nmbradley/roll20-character-sheets/nb-blackvoid-npc/Black%20Void%20by%20Penny%20for%20a%20Tale/src/imgs/npc-background-repeating.png');
            size: 100% auto;
        }
        
        &:after, 
        &:before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            height: 45px;
            width: 100%;
        }

        &:before {
            top: -10px;
            left: 0;
            right: 0;
            width: 100%;
            
            background: {
                image: url('https://res.cloudinary.com/dmrhbjudf/image/upload/v1605837589/npc-background-top_d71vqx.png');
                size: 100% 45px;
            }
        }

        &:after {
            bottom: -10px;
            left: 0;
            right: 0;
            width: 100%;
            
            background: {
                image: url('https://res.cloudinary.com/dmrhbjudf/image/upload/v1605837588/npc-background-bottom_y71ptv.png');
                size: 100% 45px;
            }
        }
    }

    &-spacer {
        grid-column: 1 / -1;
        height: 3rem;
    }

    &-attributes {
        grid-template-columns: 1fr 1fr;
    }

    &-traits {
        grid-template-columns: 1fr 4rem;
    }

    &-attributes,
    &-traits {
        gap: .5rem;
        align-items: baseline;

        margin-top: 2rem;

        input {
            &[type="text"],
            &[type="number"] {
                text-align: center !important;
            }
        }
    }

    &-attribute {
        padding: 0;

        background: none;
        border: none; 
        box-shadow: none; 

        font-size: 2rem;
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
    }

    &-weapons,
    &-repeating {
        grid-column: 1 / -1;
        gap: 0 2rem;
        align-items: start;

        .repcontainer.editmode {
            
            + .repcontrol {
            
                button.repcontrol_edit:before {
                    content: ")";
                }
            }

            .itemcontrol.itemcontrol {
                display: flex;
                flex-direction: row no-wrap;
                align-items: center;
                justify-content: space-between;
                z-index: 50;

                a.repcontrol_move,
                button.repcontrol_del {
                    height: 2rem;
                    width: 2rem;
                    float: unset;
                }
            }
        }

        .repcontrol {
            margin-top: 1rem !important;
            margin-bottom: 1rem;

            button.repcontrol_add,
            button.repcontrol_edit {
                border: 0;
                background: transparent;
                height: 3rem;
                width: 3rem;

                box-shadow: none;
                border: 0;

                font-size: 0;

                &:hover {
                    color: red;
                }
            }

            button.repcontrol_add:before {
                display: inline;
                content: "&";
                
                font-family: "Pictos";
                font-size: 2rem;
            }

            button.repcontrol_edit:before {
                display: inline;
                content: "(";

                font-family: "Pictos";
                font-size: 2rem;
                font-variant: normal;
                text-transform: lowercase;
            }
        }
    }

    &-weapons-header {
        grid-template-columns: 1fr repeat(4, .75fr) repeat(2, 2rem);
        margin-top: 2rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        div {
            font-weight: bold;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }

    &-repeatingname {
        grid-row: span 2;

        font-weight: bold;
        text-transform: uppercase;
    }

    &-rowdivider {
        grid-column: 1 / -1;
        height: 1px;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

        background-color: white;
        box-shadow: 0 0 12px #000, 0 0 8px #000, 0 0 6px #000, 0 0 4px #000, 0 0 2px #000;
    }

    &-traitrow {
        grid-template-columns: 1fr 3rem 3rem;
    }

    &-weapon {
        grid-template-columns: 1fr repeat(4, .75fr) repeat(2, 2rem) !important;
    }

    &-skillrow {
        grid-template-columns: 1fr 4rem repeat(2, 2rem) !important;
    }

    &-traitrow,
    &-weapon,
    &-skillrow {
        input[name*="collapse"],
        input[name*="collapse"] + span {
            grid-row: 1 !important;
            grid-column: -3 !important;
        }

        input[name*="settings"],
        input[name*="settings"] + span {
            grid-row: 1 !important;
            grid-column: -2 !important;

            &:hover {
                transform: $button-scale-small;
                cursor: pointer;
                
                color: red;
            }
        }
        input[type="text"] {
            margin-bottom: .5rem;
        }
    }

    &-weapon,
    &-traitrow,
    &-skillrow {
        position: relative;
        align-items: center;

        text-transform: none;
        font-variant: normal;

        padding: .5rem;

        background: {
            image: url('https://res.cloudinary.com/dmrhbjudf/image/upload/v1606328619/npc-row-bg_dpzmoy.png');
            size: 100% 4rem;
            repeat: no-repeat;
        }

        * {
            text-transform: none;
            font-variant: normal;
        }

        button[type="roll"] span,
        button[type="roll"] {
            font-weight: bold;
        }

        input[name*="collapse"],
        input[name*="settings"] {
            position: relative;
            z-index: 150;

            + span {
                opacity: .5;
            }

            &:checked + span {
                opacity: 1;
                color: red;
            }

            &:hover + span {
                opacity: 1;
                transform: $button-scale-small;
                cursor: pointer;
                
                color: red;
            }
        }

        .sheet-ellipsis {
            display: block;
        }

        .sheet-settings {
            margin-top: 2rem;
        }

        input[name*="collapse"]:checked ~ div.sheet-collapse {
            grid-column: 1 / -1 !important;

            margin: -.5rem;
                margin-top: 1rem;
            padding: 1rem;

            border-radius: 1.5rem;

            background: rgba(black, 0.5);
        }

        .sheet-font-smallcaps {
            margin-top: 1rem;
            
            font-weight: bold;
            text-transform: uppercase;
        }

        textarea {
            margin-top: 0 !important;
        }

        .row {
            display: grid;
        }
    }

    &-settings {
        display: grid;
            grid-template-columns: 1fr 1fr !important;
    }
    
    .sheet-collapse,
    .sheet-settings {
        grid-column: 1 / -1 !important;
    }
	
	.sheet-npc-toggle{
		position: relative!important;
		top: 20px;
		right: 1px;
		opacity: 0%;
		z-index: 99!important;
	}
	
	
}