div.sheet-pc {
	padding: 2% 1%;
	grid-template-columns: 3fr 2fr 0.5fr;
	grid-row-gap: 1%;

	input[type='number'] {
		width: 100%;
	}

	.sheet-colon:after {
		content: ':'
	}

	div.sheet-box {
		background-color: $gray;
		-moz-box-shadow:    inset 0 0 10px #00000024;
		-webkit-box-shadow: inset 0 0 10px #00000024;
		box-shadow:         inset 0 0 10px #00000024;
		padding: 2% 1%;
	}

	div.sheet-logo-row {
		grid-column-gap: 5%;
		align-items: end;
		grid-template-columns: 1fr 20% 250px;

		div.sheet-page-select {
			grid-template-columns: auto 1fr 1fr 1fr;

			div.sheet-button {
				color: black;
				border: 2px solid black;
				text-align: center;
				border-radius: 10px;

				div.sheet-option,
				input {
					grid-area: 1 / 1 / 1 / 1;
					min-height: 2rem;
				}

				input:checked ~ div.sheet-option {
					color: white;
					background-color: $primary;
					border-radius: 0.8rem;
				}
			}

			input[type='checkbox'],
			input[type='radio'] {
				opacity: 0;
				height: auto;
				width: 100%;
				z-index: 2;
			}
		}

		div.sheet-logo {
			justify-content: end;

			img {
				max-height: 100px;
			}
		}
	}

	div.sheet-character-info {
		grid-row-gap: 5%;

		h2 {
			margin-right: 0.5rem;
		}

		div.sheet-name-row {
			grid-template-columns: 2fr 1fr 2fr;
		}
	}

	div.sheet-personality-row {
		align-items: start;
		grid-row-gap: 5%;

		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1.5rem;
			margin-right: 0.5rem;
		}

		textarea {
			resize: none;
			overflow: hidden;
		}

		div.sheet-personality,
		div.sheet-origin {
			textarea {
				height: 40px;
			}
		}

		div.sheet-mannerism {
			textarea {
				height: 86px;
			}
		}
	}

	@import 'sections/wastah-section';

	div.sheet-traits {
		grid-gap: unset;
		@extend %middle-column;

		h2 {
			font-size: 1.2rem;
		}

		@import 'traits/trait';
		
		@import 'traits/intellect';
		@import 'traits/agility';
		@import 'traits/persuasion';
		
		@import 'traits/experience';

		@import 'traits/awareness';
		@import 'traits/presence';
		@import 'traits/stamina';
		@import 'traits/willpower';
		@import 'traits/strength';

	}

	@import 'skills-row/skills-row';

	div.sheet-character-history {
		div.sheet-rowx {
			grid-template-columns: 1fr repeat(2, 1.5rem);
		}

		@include collapseSettingsInputs(3);

		div.sheet-collapse,
		div.sheet-settings {
			grid-column: 1 / 4;
			margin: 1% 2%
		}

		textarea {
			min-height: 50px;
			height: 75px;
			border: 1px dotted $primary;
		}

		div.sheet-box {
			min-height: 20rem;
		}
	}
}

@import 'sections/movement-section';

@import 'sections/weapons-section';
