<div class="wrap-box appearance pc mar-b-smd">
  <div class="shaped-row mar-b-md">
    <div class="col-1-8 pad-r-sm">
      <input type="text" name="attr_gender" class="center">
      <div class="small-label center" data-i18n="GENDER"></div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_size" class="center">
      <div class="small-label center" data-i18n="SIZE"></div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="number" name="attr_age" class="center">
      <div class="small-label center" data-i18n="AGE"></div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_height" class="center">
      <div class="small-label center" data-i18n="HEIGHT"></div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_weight" class="center">
      <div class="small-label center" data-i18n="WEIGHT"></div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_eyes" class="center">
      <div class="small-label center" data-i18n="EYES"></div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_skin" class="center">
      <div class="small-label center" data-i18n="SKIN"></div>
    </div>
    <div class="col-1-8 pad-l-sm">
      <input type="text" name="attr_hair" class="center">
      <div class="small-label center" data-i18n="HAIR"></div>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="APPEARANCE"></div>
</div>