<div class="wrap-box appearance pc mar-b-smd">
  <div class="shaped-row mar-b-md">
    <div class="col-1-8 pad-r-sm">
      <input type="text" name="attr_gender" class="center">

      <div class="small-label center">{{'GENDER' | translate}}</div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_size" class="center">

      <div class="small-label center">{{'SIZE' | translate}}</div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="number" name="attr_age" class="center">

      <div class="small-label center">{{'AGE' | translate}}</div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_height" class="center">

      <div class="small-label center">{{'HEIGHT' | translate}}</div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_weight" class="center">

      <div class="small-label center">{{'WEIGHT' | translate}}</div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_eyes" class="center">

      <div class="small-label center">{{'EYES' | translate}}</div>
    </div>
    <div class="col-1-8 pad-l-sm pad-r-sm">
      <input type="text" name="attr_skin" class="center">

      <div class="small-label center">{{'SKIN' | translate}}</div>
    </div>
    <div class="col-1-8 pad-l-sm">
      <input type="text" name="attr_hair" class="center">

      <div class="small-label center">{{'HAIR' | translate}}</div>
    </div>
  </div>
  <div class="wrap-box-title center">{{'APPEARANCE' | translate}}</div>
</div>