<div class="section-character pc">
  <div class="shaped-row mar-b-smd">
    <input type="hidden" attr="attr_caster_level">

    <div class="col-80 pad-r-sm">
      //= include classes.html

      <div class="col-12 float-right mar-b-smd mar-r-sm">
        //= include defaultAbility.html
      </div>
    </div>
    <div class="col-20 pad-l-sm">
      //= include ../spells/spellSlots.html
    </div>
  </div>

  //= include appearance.html

  <div class="shaped-row mar-b-smd">
    <div class="col-50 pad-r-sm">
      //= include vision.html
    </div>
    <div class="col-50 pad-l-sm">
      //= include movement.html
    </div>
  </div>

  <div class="wrap-box center mar-b-smd">
    <div class="shaped-row">
      <div class="col-80">
        <input type="hidden" name="attr_jack_of_all_trades">
        <input type="checkbox" name="attr_jack_of_all_trades_toggle" value="@{jack_of_all_trades}" class="toggle-jack-of-all-trades"><span class="toggle-jack-of-all-trades button" data-i18n="JACK_OF_ALL_TRADES"></span>

        <input type="hidden" name="attr_remarkable_athlete">
        <input type="checkbox" name="attr_remarkable_athlete_toggle" value="@{remarkable_athlete}" class="toggle-remarkable-athlete"><span class="toggle-remarkable-athlete button" data-i18n="REMARKABLE_ATHLETE"></span>

        <input type="checkbox" name="attr_halfling_luck" class="toggle-halfling-luck"><span class="toggle-halfling-luck button" data-i18n="HALFLING_LUCK"></span>
      </div>
    </div>
    <div class="col-20 has-sorcerer-levels">
      <div class="wrap-box-label light-label" data-i18n="SORCERER"></div>
      <div>
        <input type="checkbox" name="attr_careful_spell_toggle" value="1"><span data-i18n="CLASS_FEATURE_METAMAGIC_CAREFUL_SPELL"></span>
      </div>
      <div>
        <input type="checkbox" name="attr_distant_spell_toggle" value="1"><span data-i18n="CLASS_FEATURE_METAMAGIC_DISTANT_SPELL"></span>
      </div>
      <div>
        <input type="checkbox" name="attr_empowered_spell_toggle" value="1"><span data-i18n="CLASS_FEATURE_METAMAGIC_EMPOWERED_SPELL"></span>
      </div>
      <div>
        <input type="checkbox" name="attr_extended_spell_toggle" value="1"><span data-i18n="CLASS_FEATURE_METAMAGIC_EXTENDED_SPELL"></span>
      </div>
      <div>
        <input type="checkbox" name="attr_heightened_spell_toggle" value="1"><span data-i18n="CLASS_FEATURE_METAMAGIC_HEIGHTENED_SPELL"></span>
      </div>
      <div>
        <input type="checkbox" name="attr_quickened_spell_toggle" value="1"><span data-i18n="CLASS_FEATURE_METAMAGIC_QUICKENED_SPELL"></span>
      </div>
      <div>
        <input type="checkbox" name="attr_subtle_spell_toggle" value="1"><span data-i18n="CLASS_FEATURE_METAMAGIC_SUBTLE_SPELL"></span>
      </div>
      <div>
        <input type="checkbox" name="attr_twinned_spell_toggle" value="1"><span data-i18n="CLASS_FEATURE_METAMAGIC_TWINNED_SPELL"></span>
      </div>
    </div>

    <div class="wrap-box-title" data-i18n="FEATURES"></div>
  </div>

  <div class="wrap-box center">
    <textarea name="attr_miscellaneous_notes" class="eight-line-textarea"></textarea>

    <div class="wrap-box-title" data-i18n="MISCELLANEOUS_NOTES"></div>
  </div>
</div>
