<div class="wrap-box mar-b-smd">
  <input type="hidden" name="attr_level">

  <div class="shaped-row vert-center">
    <div class="4-rem wrap-box-label light-label center pad-r-sm" data-i18n="CLASS"></div>
    <div class="3-rem wrap-box-label light-label center pad-l-sm pad-r-sm" data-i18n="LEVEL"></div>
    <div class="2-rem wrap-box-label light-label center pad-l-sm pad-r-sm" data-i18n="HIT_DICE"></div>
    <div class="3-rem wrap-box-label light-label center pad-l-sm" data-i18n="SPELLCASTING"></div>
    <div class="7-rem wrap-box-label light-label center pad-l-sm pad-r-sm" data-i18n="CUSTOM_NAME"></div>
  </div>
  <fieldset class="repeating_class">
    <div class="shaped-row vert-center">
      <div class="4-rem pad-r-sm">
        <select name="attr_name">
          <option value="barbarian" data-i18n="BARBARIAN"></option>
          <option value="bard" data-i18n="BARD"></option>
          <option value="cleric" data-i18n="CLERIC"></option>
          <option value="druid" data-i18n="DRUID"></option>
          <option value="fighter" data-i18n="FIGHTER"></option>
          <option value="monk" data-i18n="MONK"></option>
          <option value="paladin" data-i18n="PALADIN"></option>
          <option value="ranger" data-i18n="RANGER"></option>
          <option value="rogue" data-i18n="ROGUE"></option>
          <option value="sorcerer" data-i18n="SORCERER"></option>
          <option value="warlock" data-i18n="WARLOCK"></option>
          <option value="wizard" data-i18n="WIZARD"></option>
          <option value="custom" data-i18n="CUSTOM"></option>
        </select>
      </div>
      <div class="3-rem pad-l-sm pad-r-sm">
        <input type="number" name="attr_level">
      </div>
      <div class="2-rem pad-l-sm pad-r-sm">
        <select name="attr_hd">
          <option value="d0">&#8212;</option>
          <option>d2</option>
          <option>d4</option>
          <option>d6</option>
          <option>d8</option>
          <option>d10</option>
          <option selected>d12</option>
          <option>d20</option>
        </select>
      </div>
      <div class="3-rem pad-l-sm">
        <select name="attr_spellcasting">
          <option value="none">&#8212;</option>
          <option value="full" data-i18n="CASTERS_FULL"></option>
          <option value="half" data-i18n="CASTERS_HALF"></option>
          <option value="third" data-i18n="CASTERS_THIRD"></option>
          <option value="warlock" data-i18n="WARLOCK"></option>
        </select>
      </div>
      <div class="7-rem pad-l-sm pad-r-sm">
        <input type="checkbox" name="attr_custom_class_toggle" class="toggle-custom-class hidden">
        <input type="text" name="attr_custom_name" class="custom-class">
      </div>
    </div>
  </fieldset>

  <div class="wrap-box-title center" data-i18n="CLASS_LEVELS"></div>
</div>
