<div class="wrap-box relative">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-left small-label" data-i18n="DEFAULT_ABILITY_TOOLTIP"></div>
    </div>
  </div>
  <select name="attr_default_ability">
    <option value="">&#8212;</option>
    <option value="finesse" data-i18n="FINESSE">Finesse</option>
    <option value="strength" data-i18n="STR">Str</option>
    <option value="dexterity" data-i18n="DEX">Dex</option>
    <option value="constitution" data-i18n="CON">Con</option>
    <option value="intelligence" data-i18n="INT">Int</option>
    <option value="wisdom" data-i18n="WIS">Wis</option>
    <option value="charisma" data-i18n="CHA">Cha</option>
  </select>
  <div class="wrap-box-title center" data-i18n="DEFAULT_ABILITY"></div>
</div>
