<div class="wrap-box vision">
  <div class="shaped-row">
    <div class="col-25 sense relative pad-r-sm">
      <label class="checkbox-label-sm absolute">
        <input type="checkbox" name="attr_blindsight_blind_beyond"><span data-i18n="BLIND_BEYOND"></span>
      </label>
      <input type="text" name="attr_blindsight" class="center mar-t-md">
      <div class="small-label center" data-i18n="BLINDSIGHT"></div>
    </div>
    <div class="col-25 sense mar-t-md pad-l-sm pad-r-sm">
      <input type="text" name="attr_darkvision" class="center">
      <div class="small-label center" data-i18n="DARKVISION"></div>
    </div>
    <div class="col-25 sense mar-t-md pad-l-sm pad-r-sm">
      <input type="text" name="attr_tremorsense" class="center">
      <div class="small-label center" data-i18n="TREMORSENSE"></div>
    </div>
    <div class="col-25 sense mar-t-md pad-l-sm">
      <input type="text" name="attr_truesight" class="center">
      <div class="small-label center" data-i18n="TRUESIGHT"></div>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="VISION"></div>
</div>