//- Semantic Versioning MAJOR.MINORPATCH
input(name='attr_version' type='hidden' value='1')

//- Do not manually change this. Hidden attribute used by versioning script
input(name='attr_latest_versioning_upgrade' type='hidden' value='1')

//- PUG
  =============================
include pug/constants.pug
include pug/mixins.pug

//- INCLUDES
  =============================
include pug/hidden_attributes.pug
include pug/components/edit_flag.pug

//- TABS
  =============================
input.type(name='attr_sheet_type' type='hidden' value='character')
input.display_string(name='attr_character_settings' type='hidden' value='')

//-PC SHEET
  =============================
include pug/pc.pug

//-FOOTER
  =============================
include pug/footer.pug

//-ROLL TEMPLATE
  =============================
include pug/components/rolltemplates.pug

//- SCRIPTS
script(type="text/worker")
  include scripts.js
