//- Semantic Versioning MAJOR.MINORPATCH
input(name='attr_version' type='hidden' value='1')

//- Do not manually change this. Hidden attribute used by versioning script
input(name='attr_latest_versioning_upgrade' type='hidden' value='1')


//- CONSTANTS
  =============================
include pug/constants.pug

//- INCLUDES
  =============================
include pug/mixins.pug

//- TABS
  =============================
input.type(name='attr_sheet_type' type='hidden' value='character')
input.display_string(name='attr_character_settings' type='hidden' value='')


//-PC SHEET
  =============================
include pug/pc.pug

//-FOOTER
  =============================
include pug/footer.pug

//-ROLL TEMPLATE
  =============================
include pug/components/rolltemplates.pug

//- SCRIPTS
script(type="text/worker")
  //- Add additional utils as needed
  include ts/utils/create_attribute_name.ts
  include ts/utils/get_repeating_field_name.ts
  include ts/utils/get_row_attribute_name.ts
  include ts/utils/get_row_id.ts
  include ts/utils/sum_integers.ts

  //- Core functions
  include ts/versioning.ts
  include ts/constants.ts
  include ts/event_handlers.ts

