//- Semantic Versioning MAJOR.MINORPATCH
input(name='attr_version' type='hidden' value='1.1')

//- Do not manually change this. Hidden attribute used by versioning script
input(name='attr_latest_versioning_upgrade' type='hidden' value='1.1')

//- PUG
  =============================
include pug/constants.pug
include pug/mixins.pug

//- HIDDEN ATTRIBUTES
  =============================
//- Used for toggling settings and calculating stats
include pug/hidden_attributes.pug

//- DRAG & DROP
  =============================
.dropzone.compendium-drop-target.creatures.pregens.sheet
  each val in ['Name', 'data', 'Content', "Category"]
    input(name=`attr_drop_${val.toLowerCase()}` type='hidden' value='' accept=val)

  //- TABS
    =============================
  input.type(name='attr_sheet_type' type='hidden' value='pc')
  input.display_string(name='attr_character_settings' type='hidden' value='')

  //-SHEET
    =============================
  include pug/pc.pug
  include pug/creature.pug


.compendium_warning
  span(data-i18n="accepting drop") ACCEPTING DROP FROM COMPENDIUM

.footer.mt-5.grid.gap-2
  span.mr-1 Version
  span(name='attr_version')
  br
  span This work is based on The MythCraft System by QuasiReal Publishing LLC and published using the Creative Commons Attribution 3.0 <a href="http://creativecommons.org/licenses/by/3.0/">Unported license (http://creativecommons.org/licenses/by/3.0/).</a>
  br
  span  Original template created by <a href="https://emeraldproductions.vercel.app/">Emerald Productions, LLC</a>
  img(src="https://raw.githubusercontent.com/clevett/roll20-SheetTemplate/master/src/imgs/EProd_Emerald_Gloss.png", alt="Emerald Productions logo of an E")

//-ROLL TEMPLATE
  =============================
include pug/components/roll_template.pug

//- SCRIPTS
script(type="text/worker")
  include scripts.js
