//Leave overrides at the very
@import "scss/overrides";

// COLORS & OTHER VARIABLES
//  ============================= *
@import "scss/tailwind/colors"; //Keep colors at top
@import "scss/tailwind/animations";
@import "scss/tailwind/border";
@import "scss/tailwind/flex";
@import "scss/tailwind/grid";
@import "scss/tailwind/height";
@import "scss/tailwind/position";
@import "scss/tailwind/shadow";
@import "scss/tailwind/spacing";
@import "scss/tailwind/typography";
@import "scss/tailwind/width";

$primary: $color-sky-700;
$secondary: $color-sky-500;

// /* GLOBAL SETTINGS
//   =============================  */
@import "scss/grid";
@import "scss/placeholder_selectors";
@import "scss/typography";

/* CHARACTER SHEET
	============================= */
@import "scss/charsheet";

/* PC
    ============================= */
@import "scss/pc";

/*  SHOW & HIDE SECTIONS
  ============================= */

/*  COMPONENTS
  ============================= */
@import "scss/components/switch";
@import "scss/components/checkbox";
@import "scss/components/repeating_container";
@import "scss/components/rolltemplate";

/*  FOOTER
  ============================= */
@import "scss/footer";
