mixin details(type)
  input.hide.show-bond-info(type='checkbox' name='attr_details')
  .show-bond-info.showhide
    if type == 'relationship'
      .full-width
        p.bond-title LOCATION:
        input.bond-location.border-bottom(type='text' name='attr_bond-location' placeholder='Location')
    .full-width
      p.bond-title DESCRIPTORS:
      input.bond-descriptors.border-bottom(type='text' name='attr_bond-descriptors' placeholder='Descriptors')
    .full-width
      textarea.bond-notes(name='attr_bond-notes')