.sheet-text-left {
    float:left;
}

.sheet-text-right {
    float:right; 
}

.sheet-label {
   padding:2px 4px;
   /*width:30% !important;*/
} 

.sheet-section {
    border:1px solid #ccc;
    border-top:none;
    padding:5px;
}

.sheet-section-title {
   background:url(http://i.imgur.com/nehe2Ck.png) center bottom no-repeat; /*http://i.imgur.com/Xh4uOmE.png*/
}

.sheet-section-title-2 {
   background:url(http://i.imgur.com/ydyJ0Ul.png) center bottom no-repeat; /*http://i.imgur.com/Xh4uOmE.png*/
   /*height:35px;*/
}

.sheet-section-title h3,
.sheet-section-title-2 h3 {
    color:#fff;
    font-size:22px;
}

.sheet-sub-title {
    background: #666; /*#485a6d;*/
    color:#fff;
}

.sheet-testing input[type="text"] 
{
    width:40px;
    text-align:center;
}

/* table */

table {
    width:100%;
}

table tr td {
    vertical-align:top;
}



/* Custom Radio Buttons */

/* Hide actual radio */
input[type="radio"].sheet-radio-set,
input[type="radio"].sheet-radio-set-clear {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    margin-left:-2px;
}

/* Fake radio */
input[type="radio"].sheet-radio-set + span::before,
input[type="radio"].sheet-radio-set-clear + span::before {
    margin-right: -2px;
    border: solid 1px #a8a8a8;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align:middle;
    box-shadow: 0 0 2px #ccc;
    background: #f6f6f6;
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    content: '▪';
    width: 12px;
    height: 12px;
    font-size: 28px;
    margin-left:-15px;

    /*border-radius: 2px;*/
}

input[type="radio"].sheet-radio-set-clear + span::before {
    content: "▫";
    background: #fff;
    background: radial-gradient(#ffffff, #f3f3f3f3);
    border: solid 1px #e3e3e3;
    color:#a8a8a8;
}


/* Remove dot from all radios _after_ selected one */
input[type="radio"].sheet-radio-set:checked ~ input[type="radio"].sheet-radio-set + span::before,
input[type="radio"].sheet-radio-set-clear:checked ~ input[type="radio"].sheet-radio-set + span::before {    
    content: "";
}

/* Stress */

.sheet-section-stress input[type="radio"].sheet-radio-set {
    width: 30%;
    height: 16px;
    margin-left:-2px;
}

.sheet-section-stress input[type="radio"].sheet-radio-set-clear {
    width:7%;
}

/* Fake radio */
.sheet-section-stress input[type="radio"].sheet-radio-set + span::before {
    margin-right: -2px;
    content: '';
    width: 30%;
    height: 16px;
    margin-left:-30%;
   
    background: #485a6d;
    background-image: linear-gradient(to bottom, #485a6d, #2c3947);
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
    
}

.sheet-section-stress input[type="radio"].sheet-radio-set-clear + span::before {
    width:7%;   
}

.sheet-section-stress input[type="radio"].sheet-radio-set:checked ~ input[type="radio"].sheet-radio-set + span::before,
.sheet-section-stress input[type="radio"].sheet-radio-set-clear:checked ~ input[type="radio"].sheet-radio-set + span::before{
    
    box-shadow: 0 0 2px #ccc;
    background: #f6f6f6;
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
}


.sheet-dice-roll input[type="radio"].sheet-radio-set + span::before {

    margin-right: -2px;
    content: '';
    width: 7%;
    height: 16px;
    margin-left:-7%;
   
    background: #485a6d;
    background-image: linear-gradient(to bottom, #485a6d, #2c3947);
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
    
}

.sheet-dice-roll input[type="radio"].sheet-radio-set-clear + span::before {
    width:7%
}

.sheet-dice-roll input[type="radio"].sheet-radio-set:checked ~ input[type="radio"].sheet-radio-set + span::before,
.sheet-dice-roll input[type="radio"].sheet-radio-set-clear:checked ~ input[type="radio"].sheet-radio-set + span::before{
    
    box-shadow: 0 0 2px #ccc;
    background: #f6f6f6;
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
}


/* Vertical radio button half circle */

.sheet-radio-stack-vert {
    vertical-align:top;
    width: 50%;
}

.sheet-radio-stack-vert .sheet-text-left,
.sheet-radio-stack-vert .sheet-text-right {
    font-size: 18px;
    padding:5px;
    text-align: center;
    float: none;
    display: block;
}


.sheet-radio-stack-vert .sheet-char-radio-left,
.sheet-radio-stack-vert .sheet-char-radio-right {
    /*background: #e3e3e3;*/
    width:26px;
    /*height:200px;*/
    text-align: left;
    clear:both;
}

.sheet-radio-stack-vert  input[type="radio"].sheet-radio-set {
    width: 28px;
    height: 28px;
    margin-left:-1px;
}


.sheet-radio-stack-vert input[type="radio"].sheet-radio-set + span::before {
    border-radius:12px;
    line-height: 24px;

    content: '▪';
    width: 24px;
    height: 24px;
    font-size: 16px;
    color:#fff;
    background: #999;
}


.sheet-radio-stack-vert input[type="radio"].sheet-radio-set,
.sheet-radio-stack-vert input[type="radio"].sheet-radio-set + span::before {
    position:absolute;
}

.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-set + span::before,
.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-set + span::before {
    margin-left:0px;
}


input[type="radio"].sheet-radio-vert-1,
input[type="radio"].sheet-radio-vert-1 + span::before {
    margin-top:180px;
}

.sheet-radio-stack-vert  input[type="radio"].sheet-radio-vert-1 + span::before {
    content: '1' !important;
}

input[type="radio"].sheet-radio-vert-2,
input[type="radio"].sheet-radio-vert-2 + span::before {
    margin-top:148px;
}

.sheet-radio-stack-vert  input[type="radio"].sheet-radio-vert-2 + span::before {
    content: '2' !important;
}

input[type="radio"].sheet-radio-vert-3,
input[type="radio"].sheet-radio-vert-3 + span::before {
    margin-top:90px;
}

.sheet-radio-stack-vert  input[type="radio"].sheet-radio-vert-3 + span::before {
    content: '3' !important;
}

input[type="radio"].sheet-radio-vert-4,
input[type="radio"].sheet-radio-vert-4 + span::before {
    margin-top:32px;
}

.sheet-radio-stack-vert  input[type="radio"].sheet-radio-vert-4 + span::before {
    content: '4' !important;
}

input[type="radio"].sheet-radio-vert-5,
input[type="radio"].sheet-radio-vert-5 + span::before {
    margin-top:0px;
}

.sheet-radio-stack-vert  input[type="radio"].sheet-radio-vert-5 + span::before {
    content: '5' !important;
}

.sheet-radio-stack-vert input[type="radio"].sheet-radio-set:checked ~ input[type="radio"].sheet-radio-set + span::before {    
    background: #fff;
    color:#ccc;
}

.sheet-radio-stack-vert input[type="radio"].sheet-radio-vert-1:checked + span::before, 
.sheet-radio-stack-vert input[type="radio"].sheet-radio-vert-2:checked + span::before, 
.sheet-radio-stack-vert input[type="radio"].sheet-radio-vert-3:checked + span::before, 
.sheet-radio-stack-vert input[type="radio"].sheet-radio-vert-4:checked + span::before,
.sheet-radio-stack-vert input[type="radio"].sheet-radio-vert-5:checked + span::before {
    color:#fff;
    background: #485a6d;
    background-image: linear-gradient(to bottom, #485a6d, #2c3947);
    /*box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
    border:none;
    border-radius:13px;
    line-height: 26px;
    width: 26px;
    height: 26px;
}


/*left circle*/

.sheet-radio-stack-vert .sheet-char-radio-left {
    float: left;
    text-align: left;
}

.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-1,
.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-1 + span::before {
    margin-left:15px;
}

.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-2,
.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-2 + span::before {
    margin-left:60px;
}

.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-3,
.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-3 + span::before {
    margin-left:80px;
}

.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-4,
.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-4 + span::before {
    margin-left:60px;
}

.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-5,
.sheet-radio-stack-vert .sheet-char-radio-left input[type="radio"].sheet-radio-vert-5 + span::before {
    margin-left:15px;
}

/*right circle*/

.sheet-radio-stack-vert .sheet-char-radio-right {
    float: right;
    text-align: left;
}


.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-1,
.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-1 + span::before {
    margin-left:-15px;
}

.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-2,
.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-2 + span::before {
    margin-left:-60px;
}

.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-3,
.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-3 + span::before {
    margin-left:-80px;
}

.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-4,
.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-4 + span::before {
    margin-left:-60px;
}

.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-5,
.sheet-radio-stack-vert .sheet-char-radio-right input[type="radio"].sheet-radio-vert-5 + span::before {
    margin-left:-15px;
}

/* Switch
 * ------------------------------------ */
.sheet-switch {
    position: relative;
    margin: 0px auto;
    height: 28px;
    width: 51px;
    padding-left:4px;
    background: #e3e3e3;/*rgba(0, 0, 0, 0.20);*/
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.sheet-switch [type=radio] {
    opacity: 0;
    width: 26px;
    height: 28px !important;
    position: relative;
    cursor: pointer;
    z-index: 1;
    margin-left:-2px;
    display: inline-block;
}

.sheet-switch [type=radio] + span {
    margin-right: 0px;
    line-height: 26px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    
    width: 26px;
    height: 27px;
    font-size: 22px;
    margin-left:-27px;
    color:#ccc;
    
}


.sheet-switch [type=radio]:checked + span {
    
    
    border-radius: 3px;
    background: #485a6d;
    background-image: linear-gradient(to bottom, #485a6d, #2c3947);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.sheet-switch-traumas {
    width: 78px;
}

.sheet-switch-traumas [type=radio] + span {
    font-size: 12px;
}

/* Char Table 
 *
 * --------------------------------------------------------------- */

.sheet-section-char,
.sheet-section-features,
.sheet-section-traumas,
.sheet-section-stress {
    width:100%;
}

.sheet-section-char tr td,
.sheet-section-features tr td,
.sheet-section-traumas tr td,
.sheet-section-stress tr td {
    text-align:center;
    width:33.3%;
}


.sheet-section-features tr td td,
.sheet-section-traumas tr td td,
.sheet-section-stress tr td td {
    width:auto;
}

.sheet-char-title {
    background: #485a6d;
    background-image: linear-gradient(to bottom, #485a6d, #2c3947);
    padding:5px;
}

.sheet-char-title h3 {
    color:#fff;
    font-size:24px;
}

.sheet-char-level {
    height: 260px;
}

.sheet-char  {
    width:100%;
}

.sheet-physical{
    background: url(http://i.imgur.com/xKSbT29.gif) center -160px no-repeat;
}

.sheet-mental {
    background: url(http://i.imgur.com/GbwSn3Y.gif) center -160px no-repeat;
}

.sheet-social {
    background: url(http://i.imgur.com/Ymnap9j.gif) center -160px no-repeat;
}

.sheet-section-features input[type=text],
.sheet-section-traumas input[type=text] {
    width:100%;
}

.sheet-stress-level-3,
.sheet-stress-level-2,
.sheet-stress-level-1 {
    color:#fff;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    padding:0 10px;
}

.sheet-stress-level-3 {
    background: #444;
}

.sheet-stress-level-2 {
    background: #999;
}

.sheet-stress-level-1 {
    background: #ccc;
}

.sheet-divider {
    border-left:1px dotted #999;
}

.sheet-dice-roll {
    background: #e3e3e3;
}

.charsheet .sheet-dice-roll button[type=roll] {
    font-size: 14px !important;
    line-height: 20px !important;
    
    width:90% !important;
    background: #485a6d !important;
    background-image: linear-gradient(to bottom, #485a6d, #2c3947) !important;
    color: #fff !important;

}
.charsheet .sheet-dice-roll button[type="roll"]::before {
    padding-right:3px !important;
}

.sheet-dice-roll td  {
    vertical-align: middle;
}
