/* Generics*/
hr {
    margin: 5px;
}

.sheet-invisible {
    visibility: hidden;
}

.sheet-text-align-center {
    text-align: center;
}

.sheet-text-align-left {
    text-align: left;
}

.sheet-background-red {
    background:#F2DEDE;
}

.sheet-background-orange {
    background:#FFEBCC;
}

.sheet-background-yellow {
    background:#FCF8E3;
}

.sheet-background-gray {
    background:#D3D3D3;
}

.sheet-background-blue {
    background:#D9EDF7;
}

.sheet-background-green {
    background:#DFF0D8;
}
.sheet-fading-background {
    background-image: linear-gradient(to right, rgba(220,220,220,1), rgba(220,221,222,.1));
}

/* Remove margin from selects in webkit browsers, same for textareas */
button {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    height: 1.5em;
    font-size: 1em;
}
button[type=roll].sheet-d100::before {
    font-family: 'dicefontd10';
    font-size: 175%;
}
button[type=roll].sheet-reduced-size {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: 1.5em;
    font-size: .92em;
}
button[type=action].sheet-reduced-size {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: 1.5em;
    font-size: .92em;
}

button[type=roll].sheet-no-dice {
    padding-left: 2px;
    padding-right: 2px;
    height: 16px;
}

button[type=roll].sheet-memorized {
    padding-left: 2px;
    padding-right: 2px;
    height: 16px;
}

input[type="checkbox"].sheet-display-memorized:checked + button.sheet-memorized::before {
    font-family: 'Pictos';
    content: 'S';
}
input[type="checkbox"].sheet-display-memorized:not(:checked) + button.sheet-memorized::before {
    content: '';
}

button[type=roll].sheet-no-dice::before { content: ''; }

select {
    margin: 0px;
    padding: 0px;
    height: 1.5em;
}

textarea {
    margin: 0px;
    padding: 0px;
}
input {
    margin: 0px;
    padding: 0px;
    height: 1.5em;
}


input[type="number"]:disabled::-webkit-inner-spin-button,
input[type="number"]:disabled::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type='number']:disabled {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
    text-align: center;
}

/* Tweak repeating section buttons so they have a bottom margin and dont overflow when in edit mode. */
div[class^="repcontrol"] {
    margin-bottom: 5px;
}
div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
    display: inline-block!important;
    visibility: hidden;
}
/* Make repeating section inline-block for display modes */
fieldset.sheet-inlined~.repcontainer[data-groupname^="repeating_"] > .repitem {
    display: inline-block;
}

/* Make the delete buttons appear above the detail toggles */
.repcontainer .itemcontrol {
  z-index: 9999;
}

/* Layout CSS */
div.sheet-wrapper {
    min-width: 850px;
}

div.sheet-spacer {
    margin-bottom: 5px;
}

div.sheet-bottom-border {
    border-bottom: 1px solid black;
}

div.sheet-rep-row {
    padding-bottom: 2px;
}

.sheet-full-width {
    width: 100%;
}

.sheet-number-width {
    width: 47px;
}
div.sheet-number-width {
    display: inline-block;
    width: 47px;
}

.sheet-hpad-5 {
    padding-left: 5px;
    padding-right: 5px;
}

input[type="text"].sheet-number-width {
    width: 47px;
}
input[type="number"].sheet-number-width {
    width: 47px;
}

.sheet-number-width-sm {
    width: 22px;
}
div.sheet-number-width-sm {
    display: inline-block;
    width: 22px;
}
input[type="text"].sheet-number-width-sm {
    width: 22px;
}
input[type="number"].sheet-number-width-sm {
    width: 25px;
}

.sheet-damage-width {
    width: 94px;
}
.sheet-button-width {
    width: 20px;
}
.sheet-enable-width {
    width: 100px;
}
input.sheet-total {
    font-weight: bold;
    text-align: center;
}
input[type="number"].sheet-full-width {
    width: 100%;
}
input[type='number'].sheet-total {
    font-weight: bold;
}

.sheet-float-left {
    float: left;
}
.sheet-float-right {
    float: right;
}
.sheet-clear-float {
    clear: both;
}

div.sheet-cell {
    display: table-cell;
}

div.sheet-section {
    border-radius: 10px;
    border: 1px solid black;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
}

.sheet-section-title-partner {
    float: right;
    padding-top: 4px;
}

.sheet-header-bar {
    background: #636466;
    color: white;
}

.sheet-header {
    font-weight: bold;
    text-align: center;
}

.sheet-disabled {
    background: #F5F5F5;
    cursor: not-allowed;
}
input[type="number"].sheet-disabled {
    background: #F5F5F5;
    cursor: not-allowed;
    -moz-appearance: textfield;
}
input[type="number"].sheet-disabled::-webkit-inner-spin-button,
input[type="number"].sheet-disabled::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.sheet-bold {
    font-weight: bold;
}

.sheet-underlined {
    text-decoration: underline;;
}

.sheet-italic {
    font-style: italic;
}

.sheet-hidden {
    display: none;
}

input[type="checkbox"].sheet-in-header-toggle {
    margin-top: 7px;
    margin-right: 3px;
}

span.sheet-in-header-toggle {
    margin-top: 5px;
    margin-right: 3px;
}

/* Section Collapse */
input[type="checkbox"].sheet-section-toggle
{
    opacity: 0;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}
h3.sheet-section-toggle {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-left: -100%;
    padding-left: 16px;
}

input[type="checkbox"].sheet-section-toggle + h3::after {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    content: "►";
}

input[type="checkbox"].sheet-section-toggle:checked + h3::after {
    content: "▼";
}

input[type="checkbox"].sheet-section-toggle:not(:checked) ~ div.sheet-section-toggle {
    display: none;
}

input[type="checkbox"].sheet-mook-section-toggle
{
    opacity: 0;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

h5.sheet-mook-section-toggle {
    display: inline-block;
    position: relative;
    left: 5px;
    width: calc(100% + 5px);
    margin-left: -100%;
    padding-left: 6px;
}
input[type="checkbox"].sheet-mook-section-toggle + h5::after {
    margin-right: 3px;
    margin-left: 3px;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    content: "►";
}

input[type="checkbox"].sheet-mook-section-toggle:checked + h5::after {
    content: "▼";
}
div.sheet-mook-section-toggle {
    margin-left: -10px;
}
input[type="checkbox"].sheet-mook-section-toggle:not(:checked) ~ div.sheet-mook-section-toggle {
    display: none;
}

/*input[type="checkbox"].sheet-section-toggle
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

input[type="checkbox"].sheet-section-toggle + span::after {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "∨";
    font-weight: bold;
}

input[type="checkbox"].sheet-section-toggle:checked + span::after {
    content: "∧";
    font-weight: bold;
}*/

/* New Collapse */
input[type="checkbox"].sheet-details-toggle
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
    font-family: Pictos;
}

input[type="checkbox"].sheet-details-toggle + span::before {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "&";
    width: 14px;
    height: 14px;
    font-size: 12px;
    font-family: Pictos;
}

input[type="checkbox"].sheet-details-toggle:checked + span::before {
    content: "_";
    font-family: Pictos;
}

input[type="checkbox"].sheet-details-toggle:not(:checked) ~ div.sheet-details {
    display: none;
}

/* Logo wrapper */
div.sheet-logo {
    width: 175px;
}
button[type="action"].sheet-logo {
    width: 175px;
}

/* Superscripts */
span.sheet-sup { 
    vertical-align: super;
    font-size: smaller;
}

/* Settings */
input.sheet-campaign-settings-toggle:not(:checked) ~ div.sheet-campaign-settings {
    display: none;
}
input.sheet-campaign-settings-toggle:checked ~ div.sheet-campaign-settings {
    display: initial;
}

input.sheet-spirit-toggle:not(:checked) ~ div .sheet-spirit-value {
    display: none;
}
input.sheet-spirit-toggle:checked ~ div .sheet-nonspirit-value {
    display: none;
}

input.sheet-spirit-toggle:not(:checked) ~ div .sheet-spirit-value-inline {
    display: none;
}
input.sheet-spirit-toggle:checked ~ div .sheet-nonspirit-value-inline {
    display: none;
}

input.sheet-reach-enabled-toggle:not(:checked) ~ div .sheet-reach-enabled {
    display: none;
}
input.sheet-reach-enabled-toggle:not(:checked) ~ div .sheet-weapon-effects {
    width: 53.75%;
}
input.sheet-reach-enabled-toggle:not(:checked) ~ div .sheet-weapon-effects-core {
    width: 55.5%;
}

input.sheet-default-style-toggle:not(:checked) ~ div .sheet-default-style,
input.sheet-classic-fantasy-style-toggle:not(:checked) ~ div .sheet-classic-fantasy-style,
input.sheet-luther-arkwright-style-toggle:not(:checked) ~ div .sheet-luther-arkwright-style,
input.sheet-m-space-style-toggle:not(:checked) ~ div .sheet-m-space-style,
input.sheet-m-space-style-toggle:not(:checked) ~ input[type="radio"].sheet-m-space-style,
input.sheet-m-space-style-toggle:not(:checked) ~ span.sheet-m-space-style,
input.sheet-odd-soot-style-toggle:not(:checked) ~ div .sheet-odd-soot-style,
input.sheet-odd-soot-style-toggle:not(:checked) ~ input[type="radio"].sheet-odd-soot-style,
input.sheet-odd-soot-style-toggle:not(:checked) ~ span.sheet-odd-soot-style,
input.sheet-thennla-style-toggle:not(:checked) ~ div .sheet-thennla-style {
    display: none;
}

input.sheet-default-style-toggle:checked ~ div .sheet-default-style,
input.sheet-classic-fantasy-style-toggle:checked ~ div .sheet-classic-fantasy-style,
input.sheet-luther-arkwright-style-toggle:checked ~ div .sheet-luther-arkwright-style,
input.sheet-m-space-style-toggle:checked ~ div .sheet-m-space-style,
input.sheet-m-space-style-toggle:checked ~ input[type="radio"].sheet-m-space-style,
input.sheet-m-space-style-toggle:checked ~ span.sheet-m-space-style,
input.sheet-odd-soot-style-toggle:checked ~ div .sheet-odd-soot-style,
input.sheet-odd-soot-style-toggle:checked ~ input[type="radio"].sheet-odd-soot-style,
input.sheet-odd-soot-style-toggle:checked ~ span.sheet-odd-soot-style,
input.sheet-thennla-style-toggle:checked ~ div .sheet-thennla-style {
    display: initial;
}

input.sheet-msvehicle-sails-toggle ~ div.sheet-sails {
    display: none;
}
input.sheet-msvehicle-sails-toggle:checked ~ div.sheet-sails {
    display: inline-block;
}

input.sheet-msvehicle-gas-bag-toggle ~ div.sheet-gas-bag {
    display: none;
}
input.sheet-msvehicle-gas-bag-toggle:checked ~ div.sheet-gas-bag {
    display: inline-block;
}

input.sheet-msvehicle-terrestrial-toggle ~ div.sheet-terrestrial {
    display: none;
}
input.sheet-msvehicle-terrestrial-toggle:checked ~ div.sheet-terrestrial {
    display: inline-block;
}

input.sheet-msvehicle-spaceship-toggle ~ div.sheet-spaceship {
    display: none;
}
input.sheet-msvehicle-spaceship-toggle:checked ~ div.sheet-spaceship {
    display: inline-block;
}

input.sheet-spirit-attr-toggle ~ div.sheet-spirit-attr {
    display: none;
}
input.sheet-spirit-attr-toggle:checked ~ div.sheet-spirit-attr {
    display: initial;
}
input.sheet-spirit-attr-toggle ~ div.sheet-nonspirit-attr {
    display: initial;
}
input.sheet-spirit-attr-toggle:checked ~ div.sheet-nonspirit-attr {
    display: none;
}

input.sheet-extended-conflict-toggle:not(:checked) ~ div .sheet-extended-conflict {
    display: none;
}

input.sheet-battle-units-enabled-toggle:not(:checked) ~ .sheet-battle-units-enabled {
    display: none;
}

input.sheet-simplified-combat-toggle:not(:checked) ~ div .sheet-simplified-combat {
    display: none;
}
input.sheet-simplified-combat-toggle:checked ~ div .sheet-complex-combat {
    display: none;
}

input.sheet-sns-vehicles-toggle ~ .sheet-sns-vehicles {
    display: none;
}
input.sheet-sns-vehicles-toggle:checked ~ .sheet-sns-vehicles {
    display: initial;
}
input.sheet-mythras-vehicles-toggle ~ .sheet-mythras-vehicles {
    display: none;
}
input.sheet-mythras-vehicles-toggle:checked ~ .sheet-mythras-vehicles {
    display: initial;
}
input.sheet-mspace-vehicles-toggle ~ .sheet-mspace-vehicles {
    display: none;
}
input.sheet-mspace-vehicles-toggle:checked ~ .sheet-mspace-vehicles {
    display: initial;
}

input.sheet-linguistics-enabled-toggle:not(:checked) ~ div .sheet-linguistics-enabled {
    display: none;
}
input.sheet-linguistics-enabled-toggle:checked ~ div .sheet-languages-enabled {
    display: none;
}

input.sheet-dependencies-enabled-toggle ~ div .sheet-dependencies-enabled {
    display: none;
}
input.sheet-dependencies-enabled-toggle:checked ~ div .sheet-dependencies-enabled {
    display: initial;
}

input.sheet-peculiarities-enabled-toggle ~ div .sheet-peculiarities-enabled {
    display: none;
}
input.sheet-peculiarities-enabled-toggle:checked ~ div .sheet-peculiarities-enabled {
    display: initial;
}

input.sheet-rank-enabled-toggle:not(:checked) ~ div .sheet-rank-enabled {
    display: none;
}
input.sheet-rank-enabled-toggle:checked ~ div .sheet-info-career {
    width: 17.75%;
}

input.sheet-spirits-enabled-toggle:not(:checked) ~ div .sheet-spirits-enabled {
    display: none;
}
input.sheet-spirits-enabled-toggle:checked ~ div .sheet-info-species {
    width: 15.75%;
}
input.sheet-spirits-enabled-toggle:checked ~ div .sheet-info-name {
    width: 15.75%;
}

input.sheet-tenacity-enabled-toggle:not(:checked) ~ div .sheet-tenacity-enabled {
    display: none;
}

input.sheet-magic-points-enabled-toggle:not(:checked) ~ div .sheet-magic-points-enabled {
    display: none;
}

input.sheet-power-points-enabled-toggle:not(:checked) ~ div .sheet-power-points-enabled {
    display: none;
}

input.sheet-prana-points-enabled-toggle:not(:checked) ~ div .sheet-prana-points-enabled {
    display: none;
}

input.sheet-fire-rate-enabled-toggle:not(:checked) ~ div .sheet-fire-rate-enabled {
    display: none;
}

input.sheet-boating-standard-toggle ~ div .sheet-boating-standard {
    display: none;
}
input.sheet-boating-standard-toggle:checked ~ div .sheet-boating-standard {
    display: initial;
}

input.sheet-status-standard-toggle ~ div .sheet-status-standard {
    display: none;
}
input.sheet-status-standard-toggle:checked ~ div .sheet-status-standard {
    display: initial;
}

input.sheet-strangeness-standard-toggle:not(:checked) ~ div .sheet-strangeness-standard {
    display: none;
}

input.sheet-the-soot-standard-toggle:not(:checked) ~ div .sheet-the-soot-standard {
    display: none;
}

input.sheet-superstition-standard-toggle ~ div .sheet-superstition-standard {
    display: none;
}
input.sheet-superstition-standard-toggle:checked ~ div .sheet-superstition-standard {
    display: initial;
}

input.sheet-ms-psionics-enabled-toggle:not(:checked) ~ div .sheet-ms-psionics-enabled {
    display: none;
}

input.sheet-os-magic-enabled-toggle:not(:checked) ~ div .sheet-os-magic-enabled {
    display: none;
}

input.sheet-roman-magic-enabled-toggle:not(:checked) ~ div .sheet-roman-magic-enabled {
    display: none;
}

input.sheet-arcane-magic-enabled-toggle:not(:checked) ~ div .sheet-arcane-magic-enabled {
    display: none;
}

input.sheet-divine-magic-enabled-toggle:not(:checked) ~ div .sheet-divine-magic-enabled {
    display: none;
}

input.sheet-superpowers-enabled-toggle:not(:checked) ~ div .sheet-superpowers-enabled {
    display: none;
}

input.sheet-fae-powers-enabled-toggle:not(:checked) ~ div .sheet-fae-powers-enabled {
    display: none;
}

input.sheet-folk-magic-enabled-toggle:not(:checked) ~ div .sheet-folk-magic-enabled {
    display: none;
}

input.sheet-animism-enabled-toggle:not(:checked) ~ div .sheet-animism-enabled {
    display: none;
}

input.sheet-mysticism-enabled-toggle:not(:checked) ~ div .sheet-mysticism-enabled {
    display: none;
}

input.sheet-mythras-psionics-enabled-toggle:not(:checked) ~ div .sheet-mythras-psionics-enabled {
    display: none;
}

input.sheet-sorcery-enabled-toggle:not(:checked) ~ div .sheet-sorcery-enabled {
    display: none;
}

input.sheet-theism-enabled-toggle:not(:checked) ~ div .sheet-theism-enabled {
    display: none;
}

input.sheet-affiliations-enabled-toggle:not(:checked) ~ div .sheet-affiliations-enabled {
    display: none;
}

/* Sheet Types */
input.sheet-type-toggle-battle-unit:not(:checked) ~ div.sheet-type-battle-unit,
input.sheet-type-toggle-json:not(:checked) ~ div.sheet-type-json,
input.sheet-type-toggle-pc:not(:checked) ~ div.sheet-type-pc,
input.sheet-type-toggle-ship:not(:checked) ~ div.sheet-type-ship,
input.sheet-type-toggle-vehicle:not(:checked) ~ div.sheet-type-vehicle,
input.sheet-type-toggle-solar-system:not(:checked) ~ div.sheet-type-solar-system {
    display: none;
}

/* Vehicles */
div.sheet-vehicle-app-name {
    display: inline-block;
    width: 206px;
}
div.sheet-vehicle-module-name {
    display: inline-block;
    width: 126px;
}
div.sheet-vehicle-attribute-name {
    display: inline-block;
    width: 237px;
}
div.sheet-vehicle-number {
    display: inline-block;
    text-align: center;
    width: 47px;
}
div.sheet-vehicle-weapon-traits {
    display: inline-block;
    text-align: center;
    width: 143px;
}

/* M-Space Solar System */
div.sheet-system-label {
    display: inline-block;
    width: 80px;
}
div.sheet-system-field {
    display: inline-block;
    width: 204px;
}

/* M-Space Vehicle */
div.sheet-msvehicle-single-column {
    margin-right: 5px;
    margin-bottom: 5px;
}
div.sheet-msvehicle-half-column {
    width: 257px;
    margin-bottom: 5px;
    float: left;
}
div.sheet-msvehicle-third-column {
    width: 120px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    float: left;
}
div.sheet-msvehicle-label {
    display: inline-block;
    width: 75px;
}
div.sheet-msvehicle-field {
    display: inline-block;
    width: 95px;
}
div.sheet-msvehicle-table {
    display: inline-block;
    width: 55px;
}
input[type="number"].sheet-msvehicle-table-number {
    text-align: center;
    width: 25px;
}

/* Mythras Vehicle */
div.sheet-mythras-vehicle-label {
    display: inline-block;
    width: 91px;
}
div.sheet-mythras-vehicle-field {
    display: inline-block;
    width: 167px;
}
div.sheet-mythras-vehicle-field-long {
    display: inline-block;
    width: 433px;
}
div.sheet-mythras-vehicle-system-roll {
    display: inline-block;
    width: 35px;
}
div.sheet-mythras-vehicle-system-name {
    display: inline-block;
    width: 150px;
}
div.sheet-mythras-vehicle-system-hits {
    display: inline-block;
    width: 95px;
}
div.sheet-mythras-vehicle-weapons {
    width: 530px;
    float: left;
    margin-bottom: 5px;
}

/* Ship */
div.sheet-ship-label {
    display: inline-block;
    width: 95px;
}
div.sheet-ship-field {
    display: inline-block;
    width: 157px;
}
div.sheet-ship-field-long {
    display: inline-block;
    width: 416px;
}
textarea.sheet-ship-crew {
    height: 25px;
}
div.sheet-ship-weapons {
    width: 522px;
    float: left;
    margin-bottom: 5px;
}

/* Battle Units */
div.sheet-unit-label {
    display: inline-block;
    width: 80px;
}
div.sheet-unit-field {
    display: inline-block;
    width: 172px;
}
div.sheet-unit-field-long {
    display: inline-block;
    width: 83%;
}
div.sheet-unit-damage {
    display: inline-block;
    width: 150px;
}
div.sheet-unit-skill-column {
    display: inline-block;
    float: left;
    margin-right: 1px;
    width: 49.5%;
}
div.sheet-unit-skill {
    display: inline-block;
    width: 123px;
}

/* PC Pages */
input.sheet-page-toggle {
    position: relative;
    z-index: 9999;
    cursor: pointer;    
    opacity: 0;
    width: 100px; 
    margin-bottom: 2px;
}
span.sheet-page-toggle {
    display: inline-block;
    position: relative;
    width: 100px; 
    text-align: center;
    background: black;
    color: lightgray;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -100px;
}

input.sheet-page-toggle-core:checked + span.sheet-page-toggle-core,
input.sheet-page-toggle-equipment:checked + span.sheet-page-toggle-equipment,
input.sheet-page-toggle-magic:checked + span.sheet-page-toggle-magic,
input.sheet-page-toggle-background:checked + span.sheet-page-toggle-background,
input.sheet-page-toggle-notes:checked + span.sheet-page-toggle-notes,
input.sheet-page-toggle-stats:checked + span.sheet-page-toggle-stats,
input.sheet-page-toggle-help:checked + span.sheet-page-toggle-help,
input.sheet-page-toggle-compact:checked + span.sheet-page-toggle-compact,
input.sheet-page-toggle-mooks:checked + span.sheet-page-toggle-mooks,
input.sheet-page-toggle-all:checked + span.sheet-page-toggle-all {
    background: black;
    color: firebrick;
}

div.sheet-page {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
input.sheet-page-toggle-core:checked ~ div.sheet-page-core,
input.sheet-page-toggle-magic:checked ~ div.sheet-page-magic,
input.sheet-page-toggle-equipment:checked ~ div.sheet-page-equipment,
input.sheet-page-toggle-background:checked ~ div.sheet-page-background,
input.sheet-page-toggle-notes:checked ~ div.sheet-page-notes,
input.sheet-page-toggle-stats:checked ~ div.sheet-page-stats,
input.sheet-page-toggle-help:checked ~ div.sheet-page-help,
input.sheet-page-toggle-mooks:checked ~ div.sheet-page-mooks,
input.sheet-page-toggle-compact:checked ~ div.sheet-page-compact,
input.sheet-page-toggle-all:checked ~ div.sheet-page-core,
input.sheet-page-toggle-all:checked ~ div.sheet-page-magic,
input.sheet-page-toggle-all:checked ~ div.sheet-page-equipment,
input.sheet-page-toggle-all:checked ~ div.sheet-page-background,
input.sheet-page-toggle-all:checked ~ div.sheet-page-notes {
    visibility: visible;
    opacity: 1;
    max-height: 99999999999px;
    overflow: visible;
}

/* Traits */
div.sheet-traits {
    margin-bottom: 5px;
}

/* Info */
div.sheet-info {
    margin-bottom: 5px;
}
div.sheet-info-firstrow {
    display: inline-block;
    width: 97.75%;
}
div.sheet-info-row {
    display: inline-block;
    width: 100%;
}
div.sheet-info-name {
    display: inline-block;
    width: 21.5%;
}
div.sheet-info-species {
    display: inline-block;
    width: 21.5%;
}
div.sheet-info-form {
    display: inline-block;
    width: 11%;
}
div.sheet-info-hit-locations {
    display: inline-block;
    width: 20.25%;
}
div.sheet-info-career {
    display: inline-block;
    width: 26.5%;
}
div.sheet-info-traits {
    display: inline-block;
    width: 100%;
}
div.sheet-info-age {
    display: inline-block;
    width: 10%;
}
div.sheet-info-gender {
    display: inline-block;
    width: 18%;
}
div.sheet-info-frame {
    display: inline-block;
    width: 18%;
}
div.sheet-info-weight {
    display: inline-block;
    width: 16%;
}
div.sheet-info-height {
    display: inline-block;
    width: 16%;
}
div.sheet-info-handedness {
    display: inline-block;
    width: 19.5%;
}
div.sheet-info-homeland {
    display: inline-block;
    width: 33%;
}
div.sheet-info-culture {
    display: inline-block;
    width: 33%;
}
div.sheet-info-social-class {
    display: inline-block;
    width: 33%;
}

div.sheet-info-exp-rolls {
    display: inline-block;
    width: 8%;
}
div.sheet-info-rank {
    display: inline-block;
    width: 8%;
}

/* Characteristics */
div.sheet-characteristics {
    margin-bottom: 5px;
}

div.sheet-char-row {
    display: inline-block;
    width: 88.75%;
}

div.sheet-char-number {
    display: inline-block;
    text-align: center;
    width: 33%;
}

div.sheet-char-number-header {
    display: inline-block;
    text-align: center;
    width: 33%;
}

div.sheet-char-symbol {
    display: inline-block;
    text-align: center;
}

div.sheet-char-label {
    display: inline-block;
    font-weight: bold;
    width: 27%;
}

/* Conditions */
div.sheet-conditions {
    margin-bottom: 5px;
}
textarea.sheet-conditions {
    height: 55px;
}

/* Initiative */
input.sheet-init-dice {
    width: 75px;
}

/* Attributes */
div.sheet-attributes {
    width: 32%;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.sheet-attribute-row {
    display: inline-block;
    width: 93.25%;
}

div.sheet-attribute-number {
    display: inline-block;
    text-align: center;
    width: 19%;
}

div.sheet-attribute-symbol {
    display: inline-block;
    text-align: center;
}

div.sheet-attribute-label {
    display: inline-block;
    width: 33%;
}

div.sheet-attribute-total {
    display: inline-block;
    text-align: center;
    width: 42%;
}

input.sheet-attribute-table-lookup {
    width: 50%
}

/* Hit Locations */
input[type="checkbox"].sheet-location-display-toggle:not(:checked) + div.sheet-loction-display {
    display: none;
}
div.sheet-hit-locations {
    margin-bottom: 5px;
}

div.sheet-hit-locations-row {
    display: inline-block;
    width: 95%;
}

input[type="number"].sheet-hit-locations-table-number {
    text-align: center;
    width: 20px;
}

div.sheet-hit-locations-number {
    display: inline-block;
    text-align: center;
    width: 13%;
}

div.sheet-hit-locations-symbol {
    display: inline-block;
    text-align: center;
}

div.sheet-hit-locations-label {
    display: inline-block;
    text-align: center;
    width: 36%;
}

div.sheet-hit-locations-block {
    display: inline-block;
    text-align: center;
    width: 4%;
}

div.sheet-hit-locations-hp {
    display: inline-block;
    text-align: center;
    width: 29%;
}
textarea.sheet-hit-locations-note {
    height: 195px;
    width: calc(100% - 2px);
}
textarea.sheet-hit-locations-note-7 {
    height: 75px;
    width: calc(100% - 2px);
}
textarea.sheet-hit-locations-note-8 {
    height: 55px;
    width: calc(100% - 2px);
}
textarea.sheet-hit-locations-note-9 {
    height: 35px;
    width: calc(100% - 2px);
}

/* Movement */
div.sheet-movement {
    margin-bottom: 5px;
}

div.sheet-movement-row {
    display: inline-block;
    width: 97.75%;
}


/* Encumbrance */
div.sheet-encumbrance {
    width: 52.5%;
    margin-right: 5px;
    float: left;
}

div.sheet-encumbrance-row {
    display: inline-block;
    width: 95.5%;
}

div.sheet-encumbrance-number {
    display: inline-block;
    text-align: center;
    width: 11%;
}

div.sheet-encumbrance-load {
    display: inline-block;
    text-align: center;
    width: 24%;
}

div.sheet-encumbrance-skills {
    display: inline-block;
    text-align: center;
    width: 29%;
}

div.sheet-encumbrance-move {
    display: inline-block;
    text-align: center;
    width: 21%;
}

/* Fatigue */
div.sheet-fatigue {
    float: left;
    width: 44.5%;
    margin-bottom: 5px;
}

div.sheet-fatigue-row {
    display: inline-block;
    width: 100%;
}

div.sheet-fatigue-label {
    display: inline-block;
    text-align: center;
    width: 36.75%;
}

div.sheet-fatigue-recovery {
    display: inline-block;
    text-align: center;
    width: 24%;
}

/* Combat Skills */
div.sheet-combatskill-column {
    float: left;
    width: 49.5%;
}

div.sheet-combatskill-name {
    display: inline-block;
    width: 34%;
}
div.sheet-combatskill-checkbox {
    display: inline-block;
    text-align: center;
    width: 4.5%;
}
div.sheet-combatskill-spacer {
    display: inline-block;
    width: 1%;
}
div.sheet-combatskill-number {
    display: inline-block;
    text-align: center;
    width: 11.5%;
}
div.sheet-combatskill-button {
    display: inline-block;
    text-align: center;
    width: 5%;
}


/* Combat Styles */
div.sheet-combatstyle {
    margin-bottom: 5px;
}

div.sheet-combatstyle-row {
    display: inline-block;
    width: 97.75%;
}

div.sheet-combatstyle-name {
    display: inline-block;
    width: 17.5%;
}

div.sheet-combatstyle-checkbox {
    display: inline-block;
    text-align: center;
    width: 2.25%;
}

div.sheet-combatstyle-number {
    display: inline-block;
    text-align: center;
    width: 5.8125%;
}

div.sheet-combatstyle-traits {
    display: inline-block;
    text-align: center;
    width: 17.5%;
}

div.sheet-combatstyle-button {
    display: inline-block;
    text-align: center;
    width: 2.375%;
}

div.sheet-combatstyle-weapons {
    display: inline-block;
    text-align: center;
    width: 34%;
}

select.sheet-combatstyle-char {
    width: 7%;
}

/* Armor */
div.sheet-armor {
    margin-bottom: 5px;
}
div.sheet-armor-field {
    display: inline-block;
    width: 15%;
}
div.sheet-armor-ap {
    display: inline-block;
    text-align: center;
    width: 6.5%;
}
div.sheet-armor-enc {
    display: inline-block;
    text-align: center;
    width: 4%;
}
div.sheet-armor-notes {
    display: inline-block;
    width: 42%;
}

/* Weapons */
div.sheet-weapons {
    margin-bottom: 5px;
}

div.sheet-npc-weapons {
    width: 510px;
    float: left;
    margin-bottom: 5px;
}

input[type="checkbox"].sheet-display-shields:not(:checked) ~ div.sheet-display-shields {
    display: none;
}

input[type="checkbox"].sheet-display-melee-weapons:not(:checked) ~ div.sheet-display-melee-weapons {
    display: none;
}

input[type="checkbox"].sheet-display-ranged-weapons:not(:checked) ~ div.sheet-display-ranged-weapons {
    display: none;
}

input[type="checkbox"].sheet-display-firearms:not(:checked) ~ div.sheet-display-firearms {
    display: none;
}

div.sheet-weapons-row {
    display: inline-block;
    width: 97.75%;
}

div.sheet-weapon-name {
    display: inline-block;
    text-align: center;
    width: 13.5%;
}
div.sheet-npc-weapon-name {
    display: inline-block;
    text-align: center;
    width: 90px;
}

div.sheet-weapon-damage-mod{
    display: inline-block;
    text-align: center;
    width: 2.5%;
}

div.sheet-npc-weapon-damage-mod{
    display: inline-block;
    text-align: center;
    width: 20px;
}

div.sheet-weapon-damage {
    display: inline-block;
    text-align: center;
    width: 7.5%;
}
div.sheet-npc-weapon-damage {
    display: inline-block;
    text-align: center;
    width: 55px;
}

div.sheet-weapon-button {
    display: inline-block;
    text-align: center;
    width: 2.375%;
}
div.sheet-npc-weapon-button {
    display: inline-block;
    text-align: center;
    width: 17px;
}

div.sheet-weapon-size {
    display: inline-block;
    text-align: center;
    width: 4.5%;
}
div.sheet-npc-weapon-size {
    display: inline-block;
    text-align: center;
    width: 40px;
}

div.sheet-weapon-reach {
    display: inline-block;
    text-align: center;
    width: 5.5%;
}
div.sheet-npc-weapon-reach {
    display: inline-block;
    text-align: center;
    width: 70px;
}

div.sheet-npc-weapon-notes {
    display: inline-block;
    text-align: center;
    width: 135px;
}

div.sheet-weapon-force {
    display: inline-block;
    text-align: center;
    width: 5%;
}

div.sheet-weapon-range {
    display: inline-block;
    text-align: center;
    width: 9%;
}

div.sheet-weapon-fire-rate {
    display: inline-block;
    text-align: center;
    width: 5%;
}

div.sheet-weapon-armor {
    display: inline-block;
    text-align: center;
    width: 3%;
}

div.sheet-npc-weapon-fire-rate {
    display: inline-block;
    text-align: center;
    width: 55px;
}

div.sheet-weapon-ammo {
    display: inline-block;
    text-align: center;
    width: 6.5%;
}

div.sheet-npc-weapon-ammo {
    display: inline-block;
    text-align: center;
    width: 40px;
}

div.sheet-weapon-load {
    display: inline-block;
    text-align: center;
    width: 5%;
}

div.sheet-npc-weapon-load {
    display: inline-block;
    text-align: center;
    width: 32px;
}

div.sheet-weapon-firearm-load {
    display: inline-block;
    text-align: center;
    width: 10%;
}

div.sheet-weapon-number {
    display: inline-block;
    text-align: center;
    width: 4%;
}
div.sheet-npc-weapon-number {
    display: inline-block;
    text-align: center;
    width: 25px;
}
div.sheet-weapon-hp {
    display: inline-block;
    text-align: center;
    width: 6.5%;
}
div.sheet-weapon-effects {
    display: inline-block;
    text-align: center;
    width: 47.75%;
}
div.sheet-weapon-effects-core {
    display: inline-block;
    text-align: center;
    width: 49.5%;
}

div.sheet-weapon-ranged-effects {
    display: inline-block;
    text-align: center;
    width: 22.5%;
}
div.sheet-weapon-ranged-effects-core {
    display: inline-block;
    text-align: center;
    width: 24.25%;
}

div.sheet-weapon-firearm-traits {
    display: inline-block;
    text-align: center;
    width: 30.5%;
}

/* Skills */
div.sheet-skill {
    float: left;
    width: 48.5%;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.sheet-skill2 {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

div.sheet-skill-row {
    display: inline-block;
    width: 95.5%;
}

div.sheet-skill-name {
    display: inline-block;
    width: 36%;
}

div.sheet-language-name {
    display: inline-block;
    width: 42%;
}

textarea.sheet-known-languages {
    height: 3em;
}

div.sheet-dependency-name {
    display: inline-block;
    width: 35.75%;
}

div.sheet-passion-name {
    display: inline-block;
    width: 41.75%;
}

div.sheet-skill-checkbox {
    display: inline-block;
    text-align: center;
    width: 5%;
}

div.sheet-skill-number {
    display: inline-block;
    text-align: center;
    width: 12%;
}

div.sheet-skill-button {
    display: inline-block;
    text-align: center;
    width: 5%;
}

select.sheet-skill-char {
    width: 14%;
}

input.sheet-skill-char {
    width: 14%;
}

textarea.sheet-skill-note {
    height: 3em;
}

/* Magic */
div.sheet-magic {
    margin-bottom: 5px;
}

input[type="checkbox"].sheet-display-theism:not(:checked) ~ div.sheet-display-theism {
    display: none;
}

input[type="checkbox"].sheet-display-sorcery:not(:checked) ~ div.sheet-display-sorcery {
    display: none;
}

input[type="checkbox"].sheet-display-mysticism:not(:checked) ~ div.sheet-display-mysticism {
    display: none;
}

input[type="checkbox"].sheet-display-mythras-psionics:not(:checked) ~ div.sheet-display-mythras-psionics {
    display: none;
}

input[type="checkbox"].sheet-display-ms-psionics:not(:checked) ~ div.sheet-display-ms-psionics {
    display: none;
}

input[type="checkbox"].sheet-display-os-magic:not(:checked) ~ div.sheet-display-os-magic {
    display: none;
}

input[type="checkbox"].sheet-display-animism:not(:checked) ~ div.sheet-display-animism {
    display: none;
}

input[type="checkbox"].sheet-display-superpowers:not(:checked) ~ div.sheet-display-superpowers {
    display: none;
}

input[type="checkbox"].sheet-display-fae-powers:not(:checked) ~ div.sheet-display-fae-powers {
    display: none;
}

input[type="checkbox"].sheet-display-folk-magic:not(:checked) ~ div.sheet-display-folk-magic {
    display: none;
}

input[type="checkbox"].sheet-display-arcane-magic:not(:checked) ~ div.sheet-display-arcane-magic {
    display: none;
}

input[type="checkbox"].sheet-display-divine-magic:not(:checked) ~ div.sheet-display-divine-magic {
    display: none;
}

input[type="checkbox"].sheet-display-roman-magic:not(:checked) ~ div.sheet-display-roman-magic {
    display: none;
}

div.sheet-magic-row {
    display: inline-block;
    width: 97.75%;
}

div.sheet-magic-name {
    display: inline-block;
    width: 17.5%;
}

div.sheet-magic-checkbox {
    display: inline-block;
    text-align: center;
    width: 2.25%;
}

div.sheet-magic-number {
    display: inline-block;
    text-align: center;
    width: 5.8125%;
}

div.sheet-magic-button {
    display: inline-block;
    text-align: center;
    width: 2.375%;
}

div.sheet-cursing-roll {
    display: inline-block;
    text-align: center;
    width: 52%;
}

div.sheet-pharmacy-roll {
    display: inline-block;
    text-align: center;
    width: 52%;
}

div.sheet-shape-shifting-roll {
    display: inline-block;
    text-align: center;
    width: 17%;
}

div.sheet-divination-label {
    display: inline-block;
    text-align: center;
    width: 7%;
}

div.sheet-divination-select {
    display: inline-block;
    text-align: center;
    width: 13%;
}

div.sheet-divination-roll {
    display: inline-block;
    text-align: center;
    width: 10%;
}

div.sheet-necromancy-roll {
    display: inline-block;
    text-align: center;
    width: 25.75%;
}

textarea.sheet-magic-note {
    height: 3em;
}

div.sheet-boost-name {
    display: inline-block;
    text-align: center;
    width: 17.5%;
}

div.sheet-boost-button {
    display: inline-block;
    text-align: center;
    width: 2.5%;
}

div.sheet-boost-cost {
    display: inline-block;
    text-align: center;
    width: 5%;
}

div.sheet-boost-description {
    display: inline-block;
    text-align: center;
    width: 73%;
}

div.sheet-spell-row {
    display: inline-block;
    width: 97.5%;
}

div.sheet-spell-name {
    display: inline-block;
    text-align: center;
    width: 17.5%;
}

div.sheet-spell-resist {
    display: inline-block;
    text-align: center;
    width: 11%;
}

div.sheet-spell-description {
    display: inline-block;
    text-align: center;
    width: 79%;
}

div.sheet-odd-soot-spell-description {
    display: inline-block;
    text-align: center;
    width: 52%;
}

div.sheet-spell-button {
    display: inline-block;
    text-align: center;
    width: 2.5%;
}
textarea.sheet-spell-macro {
    height: 4em;
}

div.sheet-arcane-magic-field {
    display: inline-block;
    text-align: center;
    width: 16.25%;
}

div.sheet-divine-magic-field {
    display: inline-block;
    text-align: center;
    width: 16.25%;
}

div.sheet-animism-number {
    display: inline-block;
    text-align: center;
    width: 15.50%;
}
div.sheet-animism-spirit-ap {
    display: inline-block;
    text-align: center;
    width: 12%;
}
div.sheet-animism-button {
    display: inline-block;
    text-align: center;
    width: 2.5%;
}
div.sheet-fetish-row {
    display: inline-block;
    width: 100%;
}
div.sheet-fetish-row {
    display: inline-block;
    width: 100%;
}
div.sheet-npc-fetish-row {
    display: inline-block;
    width: 96%;
}

div.sheet-fetish-name {
    display: inline-block;
    text-align: center;
    width: 17.5%;
}
div.sheet-fetish-type {
    display: inline-block;
    text-align: center;
    width: 11%;
}
div.sheet-fetish-description {
    display: inline-block;
    text-align: center;
    width: 70%;
}
div.sheet-fetish-skill-column {
    display: inline-block;
    margin-right: 1px;
    width: 33%;
}
div.sheet-fetish-skill {
    display: inline-block;
    width: 145px;
}
div.sheet-fetish-powers-column {
    display: inline-block;
    width: 66%;
}
div.sheet-mediation-number {
    display: inline-block;
    text-align: center;
    width: 25.75%;
}
div.sheet-path-number {
    display: inline-block;
    text-align: center;
    width: 52%;
}
div.sheet-talent-type {
    display: inline-block;
    text-align: center;
    width: 18%;
}
div.sheet-talent-description {
    display: inline-block;
    text-align: center;
    width: 60.5%;
}
div.sheet-la-discipline-number {
    display: inline-block;
    text-align: center;
    width: 25.75%;
}
div.sheet-ms-power-select {
    display: inline-block;
    text-align: center;
    width: 25.75%;
}
div.sheet-invocation-intensity {
    display: inline-block;
    text-align: center;
    width: 52%;
}
div.sheet-shaping-number {
    display: inline-block;
    text-align: center;
    width: 25.75%;
}
div.sheet-sorceryspell-description {
    display: inline-block;
    text-align: center;
    width: 76%;
}
div.sheet-devotion-number {
    display: inline-block;
    text-align: center;
    width: 12.5%;
}

/* Equipment */
div.sheet-equipment {
    float: left;
    width: 48.5%;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.sheet-equipment-row {
    display: inline-block;
    width: 95.5%;
}

div.sheet-equipment-item {
    display: inline-block;
    text-align: center;
    width: 49%;
}

div.sheet-equipment-location {
    display: inline-block;
    text-align: center;
    width: 27%;
}


div.sheet-equipment-number {
    display: inline-block;
    text-align: center;
    width: 10%;
}

/* Wealth */
div.sheet-wealth {
    float: left;
    width: 48.5%;
    margin-bottom: 5px;
}

div.sheet-wealth-currency {
    display: inline-block;
    text-align: center;
    width: 52%;
}

div.sheet-wealth-number {
    display: inline-block;
    text-align: center;
    width: 15%;
}

div.sheet-income-label {
    display: inline-block;
    text-align: center;
    width: 10%;
}

div.sheet-income-number {
    display: inline-block;
    text-align: center;
    width: 13%;
}

/* Affiliations */
div.sheet-affiliations {
    margin-bottom: 5px;
}

div.sheet-affiliations-row {
    display: inline-block;
    width: 97.5%;
}

div.sheet-affiliations-name {
    display: inline-block;
    width: 17.5%;
}

div.sheet-affiliations-checkbox {
    display: inline-block;
    text-align: center;
    width: 2.25%;
}

div.sheet-affiliations-number {
    display: inline-block;
    text-align: center;
    width: 5.8125%;
}

div.sheet-affiliations-button {
    display: inline-block;
    text-align: center;
    width: 2.375%;
}

div.sheet-affiliations-notes {
    display: inline-block;
    text-align: center;
    width: 52%;
}

/* Notes */
div.sheet-background {
    float: left;
    width: 98.75%;
    margin-bottom: 5px;
}

div.sheet-background-column1 {
    float: left;
    width: 49.625%;
    margin-right: 5px;
}

div.sheet-background-column2 {
    float: left;
    width: 49.625%;
}

div.sheet-backgrounds {
    margin-bottom: 5px;
}

/* Notes */
div.sheet-notes {
    float: left;
    width: 98.75%;
    margin-bottom: 5px;
}


/* Quick Stats */
div.sheet-stats-info-label {
    display: inline-block;
    width: 30%;
}
div.sheet-stats-info-value {
    display: inline-block;
    width: 69%;
}
div.sheet-stats-char-label {
    display: inline-block;
    width: 40px;
}
div.sheet-stats-attribute-label {
    display: inline-block;
    width: 95px;
}
select.sheet-stats-char-select {
    width: 55px;
}
div.sheet-stats-passion-label {
    display: inline-block;
    width: 175px;
}

/* Compact */
div.sheet-compact-characteristic-section {
    float: left;
    width: 110px;
    margin-right: 5px;
}
div.sheet-compact-health-section {
    float: left;
    margin-right: 5px;
}
textarea.sheet-compact-conditions {
    height: 75px;
    width: calc(100% - 2px);
}
div.sheet-compact-attribute-section {
    float: left;
    margin-right: 5px;
}
div.sheet-compact-fatigue-label {
    display: inline-block;
    width: 65px;
}
div.sheet-compact-fatigue-value {
    display: inline-block;
    width: 135px;
}
div.sheet-compact-encumbrance-label {
    display: inline-block;
    width: 95px;
}
div.sheet-compact-encumbrance-value {
    display: inline-block;
    width: 105px;
}
textarea.sheet-compact-notes {
    height: 115px;
    width: calc(100% - 2px);
}

/* Mooks */
div.sheet-mook-page-width {
    width: 850px;
}

div.sheet-mook-characteristic-section {
    float: left;
    width: 110px;
    margin-right: 5px;
    margin-bottom: 5px;
}
div.sheet-mook-char-name-col {
    display: inline-block;
    width: 80px;
    text-align: left;
}
div.sheet-mook-char-value-col {
    display: inline-block;
    width: 25px;
}

div.sheet-mook-attribute-section {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.sheet-mook-attr-name-col {
    display: inline-block;
    width: 110px;
}
div.sheet-mook-attr-value-col {
    display: inline-block;
    width: 36px;
    text-align: center;
    font-weight: bold;
}

textarea.sheet-mook-notes {
    height: 137px;
    width: calc(100% - 1px);
}

div.sheet-mook-health-hitrange-col {
    display: inline-block;
    width: 45px;
}

div.sheet-mook-health-location-col {
    display: inline-block;
    width: 134px;
}

div.sheet-mook-health-block-col {
    display: inline-block;
    width: 12px;
}

div.sheet-mook-health-armor-col {
    display: inline-block;
    width: 22px;
}

div.sheet-mook-health-hp-col {
    display: inline-block;
    width: 36px;
    font-weight: bold;
}

div.sheet-mook-health-notes-col {
    display: inline-block;
    width: 170px;
    font-weight: bold;
}

select.sheet-mook-fatigue-width {
    width: 32px;
}

fieldset.sheet-nocontrols~.repcontrol {
  display: none;
}

div.sheet-mook-skilllabel-col {
    display: inline-block;
    width: 12%;
    vertical-align: top;
}
div.sheet-mook-skilllist-col {
    display: inline-block;
    width: 86.25%;
}
div.sheet-mook-btn {
    display: inline-block;
}

/* Roll Templates */
.sheet-rolltemplate-skill div.sheet-header {
  width: 100%;
  text-align: center;
  color: lightgray;
  background: black;
  font-size: 120%;
}

.sheet-rolltemplate-skill div.sheet-subheader {
  width: 100%;
  text-align: center;
  color: lightgray;
  background: black;
  font-size: 75%;
}

.sheet-rolltemplate-skill div.sheet-difficulty {
  width: 100%;
  text-align: center;
  color: black;
  background: red;
  font-weight: bold;
}

.sheet-rolltemplate-skill table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #FFFFFF;
}
.sheet-rolltemplate-skill td {
  padding: 1px;
  border-bottom: 1px solid black;
}
.sheet-rolltemplate-skill td.sheet-template_label {
  font-weight: bold;
}
.sheet-rolltemplate-skill td.sheet-template_value {
  text-align: center;
}
.sheet-rolltemplate-skill .inlinerollresult  {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-skill .inlinerollresult.fullcrit {
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-skill .inlinerollresult.fullfail {
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-skill .inlinerollresult.importantroll {
  border: 1px solid black;
  background: #BEBEBE;
}



.sheet-rolltemplate-weapon div.sheet-header {
  width: 100%;
  text-align: center;
  color: lightgray;
  background: black;
  font-size: 120%;
}
.sheet-rolltemplate-weapon div.sheet-subheader {
  width: 100%;
  text-align: center;
  color: lightgray;
  background: black;
  font-size: 75%;
}
.sheet-rolltemplate-weapon table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #FFFFFF;
}
.sheet-rolltemplate-weapon td {
  padding: 1px;
  border-bottom: 1px solid black;
}
.sheet-rolltemplate-weapon td.sheet-template_label {
  font-weight: bold;
}
.sheet-rolltemplate-weapon td.sheet-template_value {
  text-align: center;
}
.sheet-rolltemplate-weapon .inlinerollresult  {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-weapon .inlinerollresult.fullcrit {
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-weapon .inlinerollresult.fullfail {
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-weapon .inlinerollresult.importantroll {
  border: 1px solid black;
  background: #BEBEBE;
}


.sheet-rolltemplate-magic div.sheet-header {
  width: 100%;
  text-align: center;
  color: lightgray;
  background: black;
  font-size: 120%;
}
.sheet-rolltemplate-magic div.sheet-subheader {
  width: 100%;
  text-align: center;
  color: lightgray;
  background: black;
  font-size: 75%;
}
.sheet-rolltemplate-magic table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #FFFFFF;
}
.sheet-rolltemplate-magic td {
  padding: 1px;
  border-bottom: 1px solid black;
}
.sheet-rolltemplate-magic td.sheet-template_label {
  font-weight: bold;
}
.sheet-rolltemplate-magic td.sheet-template_value {
  text-align: center;
}
.sheet-rolltemplate-magic .inlinerollresult  {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-magic .inlinerollresult.fullcrit {
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-magic .inlinerollresult.fullfail {
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-magic .inlinerollresult.importantroll {
  border: 1px solid black;
  background: #BEBEBE;
}


.sheet-rolltemplate-default div.sheet-header {
  width: 100%;
  text-align: center;
  color: lightgray;
  background: black;
  font-size: 120%;
}
.sheet-rolltemplate-default div.sheet-subheader {
  width: 100%;
  text-align: center;
  color: lightgray;
  background: black;
  font-size: 75%;
}
.sheet-rolltemplate-default table {
  width: 100%;
  border: 1px solid black;
  color: black;
  background: #FFFFFF;
}
.sheet-rolltemplate-default td {
  padding: 1px;
  border-bottom: 1px solid black;
}
.sheet-rolltemplate-default td.sheet-template_label {
  font-weight: bold;
  float: left;
  text-align: left;
}
.sheet-rolltemplate-default td.sheet-template_value {
  text-align: center;
}
.sheet-rolltemplate-default .inlinerollresult  {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-default .inlinerollresult.fullcrit {
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-default .inlinerollresult.fullfail {
  border: 1px solid black;
  background: #BEBEBE;
}
.sheet-rolltemplate-default .inlinerollresult.importantroll {
  border: 1px solid black;
  background: #BEBEBE;
}
