# Requirements for templates
jinja2~=3.1.2

# Requirements for minification
htmlmin~=0.1.12
rcssmin~=1.1.0
rjsmin~=1.2.0

# Requirements for upload to roll20
requests~=2.28.1

# Requirments for saving roll20 passwords for uploading
keyring~=23.6.0
SecretStorage~=3.3.2 # for Gnome Keyring