<div class="shaped-row">
  <div class="col-50 skill-name">Custom {{num}}</div>
  <div class="col-25 pad-r-sm">
    <span class="en">
      <select name="attr_custom_skill_{{num}}_ability">
        <option value="strength">Str</option>
        <option value="dexterity">Dex</option>
        <option value="constitution">Con</option>
        <option value="intelligence">Int</option>
        <option value="wisdom">Wis</option>
        <option value="charisma">Cha</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_custom_skill_{{num}}_ability">
        <option value="strength">Str</option>
        <option value="dexterity">Ges</option>
        <option value="constitution">Kon</option>
        <option value="intelligence">Int</option>
        <option value="wisdom">Wei</option>
        <option value="charisma">Cha</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_custom_skill_{{num}}_ability">
        <option value="strength">For</option>
        <option value="dexterity">Dex</option>
        <option value="constitution">Con</option>
        <option value="intelligence">Int</option>
        <option value="wisdom">Sag</option>
        <option value="charisma">Cha</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_custom_skill_{{num}}_ability">
        <option value="strength">???</option>
        <option value="dexterity">???</option>
        <option value="constitution">???</option>
        <option value="intelligence">???</option>
        <option value="wisdom">???</option>
        <option value="charisma">???</option>
      </select>
    </span>
  </div>
  <div class="col-25 pad-l-sm">
    <input type="number" name="attr_custom_skill_{{num}}_bonus" class="no-spin" value="0" step="1">
  </div>
</div>