<div class="shaped-row vert-center slide-toggle-custom-skills">
  <div class="col-12 skill-select-wrapper">
    <span class="en">
      <select name="attr_custom_skill_{{num}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Unproficient</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Proficient</option>
        <option value="@{exp}">++ &#160;&#160; Expertise</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_custom_skill_{{num}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Unproficient</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Proficient</option>
        <option value="@{exp}">++ &#160;&#160; Expertise</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_custom_skill_{{num}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Non Maîtrisée</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Maîtrise</option>
        <option value="@{exp}">++ &#160;&#160; Expertise</option>
      </select>
    </span>
	  <span class="ru">
      <select name="attr_custom_skill_{{num}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Нет владеет</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Владение</option>
        <option value="@{exp}">++ &#160;&#160; Эксперт</option>
      </select>
    </span>
  </div>
  <div class="col-88">
    <div class="shaped-row">
      <div class="col-20">
        <button type="roll" name="roll_Custom_Skill_{{num}}" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{custom_skill_{{num}}_name}}} {{subheader=Ability Check}} {{roll=[[d20@{d20_mod} + @{custom_skill_{{num}}}]]}} {{roll_adv=[[d20@{d20_mod} + @{custom_skill_{{num}}}]]}} @{tie_on_custom_skill_{{num}}}">
          <input class="no-spin skill-total" type="number" name="attr_custom_skill_{{num}}" value="@{custom_skill_{{num}}_prof_exp}[proficiency] + @{custom_skill_{{num}}_attribute}[attribute] + @{custom_skill_{{num}}_bonus}[bonus] + (@{global_check_bonus})[global]" disabled>
        </button>
      </div>

      <div class="col-80 pad-l-sm">
        <div class="shaped-row vert-center">
          <div class="col-75">
            <input class="skill-name" type="text" name="attr_custom_skill_{{num}}_name" value="Custom {{num}}">
          </div>
          <div class="col-25 pad-l-sm">
            <div class="skills-attribute-selector-wrapper">
          <span class="en">
            <select name="attr_custom_skill_{{num}}_attribute" class="skills-attribute-selector">
              <option value="@{strength_mod}">Str</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wis</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_custom_skill_{{num}}_attribute" class="skills-attribute-selector">
              <option value="@{strength_mod}">Str</option>
              <option value="@{dexterity_mod}">Ges</option>
              <option value="@{constitution_mod}">Kon</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wei</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_custom_skill_{{num}}_attribute" class="skills-attribute-selector">
              <option value="@{strength_mod}">For</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Sag</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
		      <span class="ru">
            <select name="attr_custom_skill_{{num}}_attribute" class="skills-attribute-selector">
              <option value="@{strength_mod}">Сил</option>
              <option value="@{dexterity_mod}">Лов</option>
              <option value="@{constitution_mod}">Тел</option>
              <option value="@{intelligence_mod}">Инт</option>
              <option value="@{wisdom_mod}">Муд</option>
              <option value="@{charisma_mod}">Хар</option>
            </select>
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
