<div class="sheet-shaped-row sheet-slide-toggle-custom-skills">
  <div class="sheet-col-09 sheet-vert-middle sheet-skill-select-wrapper">
    <span class="sheet-en">
      <select name="attr_custom_skill_{{num}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Unproficient</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Proficient</option>
        <option value="@{exp}">++ &#160;&#160; Expertise</option>
      </select>
    </span>
    <span class="sheet-de">
      <select name="attr_custom_skill_{{num}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Unproficient</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Proficient</option>
        <option value="@{exp}">++ &#160;&#160; Expertise</option>
      </select>
    </span>
    <span class="sheet-fr">
      <select name="attr_custom_skill_{{num}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Non Maîtrisée</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Maîtrise</option>
        <option value="@{exp}">++ &#160;&#160; Expertise</option>
      </select>
    </span>
	  <span class="sheet-ru">
      <select name="attr_custom_skill_{{num}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Нет владеет</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Владение</option>
        <option value="@{exp}">++ &#160;&#160; Эксперт</option>
      </select>
    </span>
  </div>
  <div class="sheet-col-12 sheet-vert-middle">
    <input class="sheet-no-spin sheet-skill-total" type="number" name="attr_custom_skill_{{num}}" value="@{custom_skill_{{num}}_prof_exp}[proficiency] + @{custom_skill_{{num}}_attribute}[attribute] + @{custom_skill_{{num}}_bonus}[bonus] + (@{global_check_bonus})[global]" disabled="disabled">
  </div>
  <div class="sheet-col-07">
    <input class="sheet-passive-skill sheet-center sheet-no-spin" type="number" name="attr_passive_custom_skill_{{num}}" value="@{passive_base} + @{custom_skill_{{num}}} + @{custom_skill_{{num}}_passive_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-63 sheet-vert-middle sheet-pad-l-sm">
    <div class="sheet-shaped-row">
      <div class="sheet-col-75 sheet-vert-middle">
        <input class="sheet-skill-name" type="text" name="attr_custom_skill_{{num}}_name" value="Custom {{num}}">
      </div>
      <div class="sheet-col-25 sheet-vert-middle sheet-pad-l-sm">
        <div class="sheet-skills-attribute-selector-wrapper">
          <span class="sheet-en">
            <select name="attr_custom_skill_{{num}}_attribute" class="sheet-skills-attribute-selector">
              <option value="@{strength_mod}">Str</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wis</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="sheet-de">
            <select name="attr_custom_skill_{{num}}_attribute" class="sheet-skills-attribute-selector">
              <option value="@{strength_mod}">Str</option>
              <option value="@{dexterity_mod}">Ges</option>
              <option value="@{constitution_mod}">Kon</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wei</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
          <span class="sheet-fr">
            <select name="attr_custom_skill_{{num}}_attribute" class="sheet-skills-attribute-selector">
              <option value="@{strength_mod}">For</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Sag</option>
              <option value="@{charisma_mod}">Cha</option>
            </select>
          </span>
		      <span class="sheet-ru">
            <select name="attr_custom_skill_{{num}}_attribute" class="sheet-skills-attribute-selector">
              <option value="@{strength_mod}">Сил</option>
              <option value="@{dexterity_mod}">Лов</option>
              <option value="@{constitution_mod}">Тел</option>
              <option value="@{intelligence_mod}">Инт</option>
              <option value="@{wisdom_mod}">Муд</option>
              <option value="@{charisma_mod}">Хар</option>
            </select>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet-col-09">
    <button type="roll" name="roll_Custom_Skill_{{num}}" value="@{output_option} &{template:5eDefault} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{custom_skill_{{num}}_name}}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{custom_skill_{{num}}}]]}} {{rolladv=[[d20@{d20_mod} + @{custom_skill_{{num}}}]]}} @{classactioncustom{{num}}skill}"></button>
  </div>
</div>
