<div class="shaped-row">
  <div class="col-12 vert-middle skill-select-wrapper">
    <span class="en">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Unproficient</option>
        <option value="@{PB}">&Omicron; &#160;&#160; Proficient</option>
        <option value="@{exp}">&Theta; &#160;&#160; Expertise</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Fehlt Tüchtig</option>
        <option value="@{PB}">&Omicron; &#160;&#160; Tüchtig</option>
        <option value="@{exp}">&Theta; &#160;&#160; Sachverstand</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Non Maîtrisée</option>
        <option value="@{PB}">&Omicron; &#160;&#160; Maîtrise</option>
        <option value="@{exp}">&Theta; &#160;&#160; Expertise</option>
      </select>
    </span>
	  <span class="ru">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Нет владеет</option>
        <option value="@{PB}">&Omicron; &#160;&#160; Владение</option>
        <option value="@{exp}">&Theta; &#160;&#160; Эксперт</option>
      </select>
    </span>
  </div>

  <div class="col-88 vert-middle">
    <div class="col-80">
      <button type="roll" name="roll_{{name}}_check" value="@{output_option} &{template:5eReshaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title={{name}} ({{attribute}})}} {{subheader=Ability Check}} {{roll=[[d20@{d20_mod} + @{{{name}}}]]}} {{rolladv=[[d20@{d20_mod} + @{{{name}}}]]}} @{classaction{{name}}}">
        <div class="col-20 vert-middle">
          <input class="no-spin skill-total" type="number" name="attr_{{name}}" value="@{{{name}}_prof_exp}[proficiency] + @{{{name}}_attribute}[attribute] + @{{{name}}_bonus}[bonus] + (@{global_check_bonus})[global]" disabled>
        </div>
        <div class="inline-block skill-name pad-l-md">{{translatedName}}</div>
      </button>
    </div>
    <div class="col-20 vert-middle pad-l-sm">
      <div class="skills-attribute-selector-wrapper">
        <span class="en">
          <select name="attr_{{name}}_attribute" class="skills-attribute-selector">
            <option value="@{strength_mod}" {{str_selected}}>Str</option>
            <option value="@{dexterity_mod}" {{dex_selected}}>Dex</option>
            <option value="@{constitution_mod}" {{con_selected}}>Con</option>
            <option value="@{intelligence_mod}" {{int_selected}}>Int</option>
            <option value="@{wisdom_mod}" {{wis_selected}}>Wis</option>
            <option value="@{charisma_mod}" {{cha_selected}}>Cha</option>
          </select>
        </span>
        <span class="de">
          <select name="attr_{{name}}_attribute" class="skills-attribute-selector">
            <option value="@{strength_mod}" {{str_selected}}>Stä</option>
            <option value="@{dexterity_mod}" {{dex_selected}}>Ges</option>
            <option value="@{constitution_mod}" {{con_selected}}>Kon</option>
            <option value="@{intelligence_mod}" {{int_selected}}>Int</option>
            <option value="@{wisdom_mod}" {{wis_selected}}>Wei</option>
            <option value="@{charisma_mod}" {{cha_selected}}>Cha</option>
          </select>
        </span>
        <span class="fr">
          <select name="attr_{{name}}_attribute" class="skills-attribute-selector">
            <option value="@{strength_mod}" {{str_selected}}>For</option>
            <option value="@{dexterity_mod}" {{dex_selected}}>Dex</option>
            <option value="@{constitution_mod}" {{con_selected}}>Con</option>
            <option value="@{intelligence_mod}" {{int_selected}}>Int</option>
            <option value="@{wisdom_mod}" {{wis_selected}}>Sag</option>
            <option value="@{charisma_mod}" {{cha_selected}}>Cha</option>
          </select>
        </span>
        <span class="ru">
          <select name="attr_{{name}}_attribute" class="skills-attribute-selector">
            <option value="@{strength_mod}" {{str_selected}}>Сил</option>
            <option value="@{dexterity_mod}" {{dex_selected}}>Лов</option>
            <option value="@{constitution_mod}" {{con_selected}}>Тел</option>
            <option value="@{intelligence_mod}" {{int_selected}}>Инт</option>
            <option value="@{wisdom_mod}" {{wis_selected}}>Муд</option>
            <option value="@{charisma_mod}" {{cha_selected}}>Хар</option>
          </select>
        </span>
      </div>
    </div>
  </div>
</div>
