<div class="shaped-row">
  <div class="col-50 skill-name">{{nameTranslated}}</div>
  <div class="col-25 pad-r-sm">
    <span class="en">
      <select name="attr_{{name}}_ability">
        <option value="strength"{{str_selected}}>Str</option>
        <option value="dexterity"{{dex_selected}}>Dex</option>
        <option value="constitution"{{con_selected}}>Con</option>
        <option value="intelligence"{{int_selected}}>Int</option>
        <option value="wisdom"{{wis_selected}}>Wis</option>
        <option value="charisma"{{cha_selected}}>Cha</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_{{name}}_ability">
        <option value="strength"{{str_selected}}>Str</option>
        <option value="dexterity"{{dex_selected}}>Ges</option>
        <option value="constitution"{{con_selected}}>Kon</option>
        <option value="intelligence"{{int_selected}}>Int</option>
        <option value="wisdom"{{wis_selected}}>Wei</option>
        <option value="charisma"{{cha_selected}}>Cha</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_{{name}}_ability">
        <option value="strength"{{str_selected}}>For</option>
        <option value="dexterity"{{dex_selected}}>Dex</option>
        <option value="constitution"{{con_selected}}>Con</option>
        <option value="intelligence"{{int_selected}}>Int</option>
        <option value="wisdom"{{wis_selected}}>Sag</option>
        <option value="charisma"{{cha_selected}}>Cha</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_{{name}}_ability">
        <option value="strength"{{str_selected}}>???</option>
        <option value="dexterity"{{dex_selected}}>???</option>
        <option value="constitution"{{con_selected}}>???</option>
        <option value="intelligence"{{int_selected}}>???</option>
        <option value="wisdom"{{wis_selected}}>???</option>
        <option value="charisma"{{cha_selected}}>???</option>
      </select>
    </span>
  </div>
  <div class="col-25 pad-l-sm">
    <input type="number" name="attr_{{name}}_bonus" class="no-spin" value="0" step="1">
  </div>
</div>
