<div class="shaped-row">
  <div class="col-25 skill-name">
    <span class="en">{{friendly_name}}</span>
    <span class="de">{{friendly_name_de}}</span>
    <span class="fr">{{friendly_name_fr}}</span>
    <span class="ru">{{friendly_name_ru}}</span>
  </div>
  <div class="col-25">
    <input class="no-spin" type="number" name="attr_{{name}}_bonus" value="0" step="1">
  </div>
  <div class="col-25">
    <input class="no-spin" type="number" name="attr_{{name}}_passive_bonus" value="0" step="1">
  </div>
</div>
