<div class="shaped-row vert-center">
  <div class="col-12 skill-select-wrapper">
    <span class="en">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Unproficient</option>
        <option value="@{PB}">&check; &#160;&#160; Proficient</option>
        <option value="@{exp}">&cross; &#160;&#160; Expertise</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Fehlt Tüchtig</option>
        <option value="@{PB}">&check; &#160;&#160; Tüchtig</option>
        <option value="@{exp}">&cross; &#160;&#160; Sachverstand</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Non Maîtrisée</option>
        <option value="@{PB}">&check; &#160;&#160; Maîtrise</option>
        <option value="@{exp}">&cross; &#160;&#160; Expertise</option>
      </select>
    </span>
	  <span class="ru">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Нет владеет</option>
        <option value="@{PB}">&check; &#160;&#160; Владение</option>
        <option value="@{exp}">&cross; &#160;&#160; Эксперт</option>
      </select>
    </span>
  </div>

  <div class="col-88">
    <button type="roll" name="roll_{{name}}_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title={{nameTranslatedEn}} ({{attributeShort}})}} {{subheader=Ability Check}} {{roll=[[d20@{d20_mod} + @{{{name}}}]]}} {{roll_adv=[[d20@{d20_mod} + @{{{name}}}]]}} @{tie_on_{{name}}}">
      <div class="shaped-row vert-center">
        <div class="col-20">
          <input class="no-spin skill-total" type="number" name="attr_{{name}}" value="@{{{name}}_prof_exp}[proficiency] + @{{{attribute}}_mod}[attribute] + @{{{name}}_bonus}[bonus] + (@{global_check_bonus})[global]" disabled>
        </div>
        <div class="skill-name pad-l-sm">{{nameTranslated}}</div>
        <div class="skill-attribute pad-l-sm">
          ({{attributeTranslated}})
        </div>
      </div>
    </button>
  </div>
</div>
