<div class="sheet-row">
  <div class="sheet-col-11 sheet-vert-middle sheet-skill-select-wrapper sheet-pad-r-sm">
    <select name="attr_{{name}}_prof_exp">
      <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Unproficient</option>
      <option value="@{PB}">&#160;+ &#160;&#160; Proficient</option>
      <option value="@{exp}">++ &#160;&#160; Expertise</option>
    </select>
  </div>
  <div class="sheet-col-1-22 sheet-small-label sheet-center sheet-vert-bottom">
    <input class="sheet-no-spin" type="number" name="attr_{{name}}_bonus" value="0" step="1">
  </div>
  <div class="sheet-col-095 sheet-vert-middle">
    <input class="sheet-no-spin sheet-skill-total" type="number" name="attr_{{name}}" value="@{{{name}}_prof_exp} + @{{{name}}_attribute} + @{{{name}}_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-8-15 sheet-vert-middle sheet-pad-l-sm sheet-relative">
    <div class="sheet-tooltip sheet-inline">
      <span class="sheet-skill-name">
        <span class="sheet-english">{{friendly_name}}</span>
        <span class="sheet-german">{{friendly_name_de}}</span>
      </span>
      <div class="sheet-tooltip-content-right sheet-small-label">
        <div class="sheet-english">{{description}}</div>
        <div class="sheet-german">{{description_de}}</div>
      </div>
    </div>
    <div class="sheet-skills-attribute-selector-wrapper">
      <select name="attr_{{name}}_attribute" class="sheet-skills-attribute-selector">
        <option value="@{strength_mod}"{{str_selected}}>Str</option>
        <option value="@{dexterity_mod}"{{dex_selected}}>Dex</option>
        <option value="@{constitution_mod}"{{con_selected}}>Con</option>
        <option value="@{intelligence_mod}"{{int_selected}}>Int</option>
        <option value="@{wisdom_mod}"{{wis_selected}}>Wis</option>
        <option value="@{charisma_mod}"{{cha_selected}}>Cha</option>
      </select>
    </div>
  </div>
  <div class="sheet-col-09">
    <button type="roll" name="roll_{{name_cap}}_Check" value="@{output_option} &{template:5eDefault} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title={{friendly_name}} ({{attribute}})}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[ d20 + @{{{name}}} + (@{global_check_bonus}) ]]}} {{rolladv=[[ d20 + @{{{name}}} + (@{global_check_bonus}) ]]}} @{classaction{{name}}}"></button>
  </div>
  <div class="sheet-col-1-22 sheet-small-label sheet-center sheet-vert-bottom">
    <input class="sheet-no-spin" type="number" name="attr_{{name}}_passive_bonus" value="0" step="1">
  </div>
  <div class="sheet-col-08">
    <input class="sheet-passive-skill-score sheet-center sheet-no-spin" type="number" name="attr_passive_{{name}}" value="10 + @{{{name}}} + @{{{name}}_passive_bonus}" disabled="disabled">
  </div>
</div>