
.sheet-section-skills,
.sheet-section-feats,
.sheet-section-powers,
.sheet-section-equipment,
.sheet-section-details,
.sheet-section-attacks
{
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

hr { 
    display: block;
    border-width: 1px;
    border-color: black;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    width: 205px;
}

.sheet-section-skills table{
	text-align: center;
}

.sheet-table-name {
    text-align: left;
    text-indent: 5px;
	display: block;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 100%;
}
input[type='radio']:checked + span.sheet-tab {
  background-color: gray;
  color: white;
}

div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3, 
input.sheet-tab4:checked ~ div.sheet-tab4, 
input.sheet-tab5:checked ~ div.sheet-tab5, 
input.sheet-tab6:checked ~ div.sheet-tab6, 
input.sheet-tab7:checked ~ div.sheet-tab7 {
    display: block;
}

input.sheet-tab {
    width: 110px;
    height: 24px;
    position: relative;
    top: 8px;
    left: 2px;
    margin: 1px;
    cursor: pointer;
	opacity: 0;
    z-index: 9999;
}
span.sheet-tab {
	text-align: center;
	display: inline-block;
	font-size: 10px;
	background: white;
	color: black;
	font-weight: bold;
	width: 110px;
	height: 20px;
	position: relative;
    margin-left: -116px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
}

.sheet-rolltemplate-mnm2e-attack table {
    width: 189px;
	border: 1px solid;
    background-color: #ffffff;
}

