<div class="wrap-box pc mar-b-smd">
  <fieldset class="repeating_resource">
    <div class="resource relative mar-b-sm">
      <div class="shaped-row vert-center">
        <div class="col-58 pad-r-sm">
          <button type="roll" name="roll_resource" class="wrapper-button"
                  value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=@{name}}}   {{text_top=@{uses} &#47; @{uses|max}}}   @{heal_toggle}   @{extras_toggle}">
            <div>
              <input type="text" name="attr_name" readonly>
            </div>
          </button>
        </div>
        <div class="col-14 center">
          <input type="number" name="attr_uses" class="no-spin">
        </div>
        <div class="col-04 center">/</div>
        <div class="col-14 center">
          <input type="number" name="attr_uses_max" class="no-spin">
        </div>
      </div>
      <input type="checkbox" name="attr_toggle_details" class="sheet-toggle-icon-settings"><span class="sheet-toggle-icon-settings pictos">y</span>

      <div class="details">
        <div class="shaped-row vert-center">
          <div class="col-58 pad-r-sm">
            <input type="text" name="attr_name">
          </div>
          <div class="col-42 center">
          <span class="en">
            <select name="attr_recharge">
              <option value="None">&#8212;</option>
              <option value="Short Rest">Short Rest</option>
              <option value="Long rest">Long Rest</option>
              <option value="Other">Other</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_recharge">
              <option value="None">&#8212;</option>
              <option value="Short Rest">Short Rest</option>
              <option value="Long rest">Long Rest</option>
              <option value="Other">Other</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_recharge">
              <option value="None">&#8212;</option>
              <option value="Short Rest">Repos Court</option>
              <option value="Long rest">Repos Long</option>
              <option value="Other">Autre</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_recharge">
              <option value="None">&#8212;</option>
              <option value="Short Rest">Short Rest</option>
              <option value="Long rest">Long Rest</option>
              <option value="Other">Other</option>
            </select>
          </span>
          </div>
        </div>

        <div class="shaped-row relative mar-t-sm">
          <input type="hidden" name="attr_heal_var" value=" {{heal=[[0d0 + @{heal_amount}[heal] + @{heal_ability}[ability] + @{heal_query_toggle}[query amount]]]}}">
          <input type="checkbox" name="attr_heal_toggle" value="@{heal_var}" class="attack-toggle col-10 absolute">
          <div class="col-10"></div>
          <div class="col-30 bold italic">{{'HEAL' | translate}}.</div>
          <div class="col-100 attack-toggle">
            <div class="shaped-row vert-center">
              <div class="col-30">
                <input type="text" name="attr_heal_amount" value="0" class="center">
              </div>
              <div class="col-10 center">+</div>
              <div class="col-30">
                <span class="en">
                  <select name="attr_heal_ability">
                    <option value="@{strength_mod}">Str</option>
                    <option value="@{dexterity_mod}">Dex</option>
                    <option value="@{constitution_mod}">Con</option>
                    <option value="@{intelligence_mod}">Int</option>
                    <option value="@{wisdom_mod}">Wis</option>
                    <option value="@{charisma_mod}">Cha</option>
                    <option value="0" selected>&#8212;</option>
                  </select>
                </span>
                <span class="de">
                  <select name="attr_heal_ability">
                    <option value="@{strength_mod}">Str</option>
                    <option value="@{dexterity_mod}">Ges</option>
                    <option value="@{constitution_mod}">Kon</option>
                    <option value="@{intelligence_mod}">Int</option>
                    <option value="@{wisdom_mod}">Wei</option>
                    <option value="@{charisma_mod}">Cha</option>
                    <option value="0" selected>&#8212;</option>
                  </select>
                </span>
                <span class="fr">
                  <select name="attr_heal_ability">
                    <option value="@{strength_mod}">For</option>
                    <option value="@{dexterity_mod}">Dex</option>
                    <option value="@{constitution_mod}">Con</option>
                    <option value="@{intelligence_mod}">Int</option>
                    <option value="@{wisdom_mod}">Sag</option>
                    <option value="@{charisma_mod}">Cha</option>
                    <option value="0" selected>&#8212;</option>
                  </select>
                </span>
                <span class="ru">
                  <select name="attr_heal_ability">
                    <option value="@{strength_mod}">Сил</option>
                    <option value="@{dexterity_mod}">Лов</option>
                    <option value="@{constitution_mod}">Тел</option>
                    <option value="@{intelligence_mod}">Инт</option>
                    <option value="@{wisdom_mod}">Муд</option>
                    <option value="@{charisma_mod}">Хар</option>
                    <option value="0" selected>&#8212;</option>
                  </select>
                </span>
              </div>
              <div class="col-30 center">
                <input type="hidden" name="attr_heal_query" value="?{Heal Bonus Amount|}">
                <input type="checkbox" name="attr_heal_query_toggle" value="@{heal_query}" class="toggle-query"><span class="toggle-query">{{'QUERY' | translate}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="shaped-row relative mar-t-sm">
          <input type="hidden" name="attr_extras_var" value="{{freetext=@{freetext}}} @{freeform}">
          <input type="checkbox" name="attr_extras_toggle" value="@{extras_var}" class="attack-toggle col-10 absolute">
          <div class="col-10"></div>
          <div class="col-30 bold italic">{{'EXTRAS' | translate}}.</div>
          <div class="col-100 attack-toggle">
            <div class="center">
              <textarea name="attr_freetext" class="one-line-textarea"></textarea>

              <div class="small-label">{{'FREETEXT' | translate}}</div>
            </div>
            <div class="center mar-t-sm">
              <textarea name="attr_freeform" class="one-line-textarea"></textarea>

              <div class="small-label">{{'FREEFORM' | translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="wrap-box-title center">{{'RESOURCES' | translate}}</div>
</div>