<div class="small-note mar-b-md">{{'TIE_ON_NOTE' | translate}}</div>

<div class="wrap-box relative pad-r-lg pad-l-lg">
  <fieldset class="repeating_tie_on">
    <div class="shaped-row mar-b-lg">
      <div class="col-15 pad-r-sm">
        <input type="text" class="action-name" placeholder="name" name="attr_name">
      </div>
      <div class="col-30 center pad-l-sm pad-r-sm">
        <textarea class="eight-line-textarea" name="attr_output"></textarea>
      </div>
      <div class="col-55 pad-l-sm">
        <div class="shaped-row center">
          <div class="col-20 wrap-box-label light-label">{{'ABILITY_CHECKS' | translate}}</div>
          <div class="col-20 wrap-box-label light-label">{{'SAVING_THROWS' | translate}}</div>
          <div class="col-20 wrap-box-label light-label">{{'MISC' | translate}}</div>
          <div class="col-40 wrap-box-label light-label">{{'SKILLS_TITLE' | translate}}</div>
        </div>
        <div class="shaped-row">
          <input type="hidden" name="attr_output_var" value="{{freetext=@{output}}}">

          <div class="col-20 pad-l-lg">
            <div class="zebra-rows">
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.strength.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_strength_check_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.dexterity.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_dexterity_check_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.constitution.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_constitution_check_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.intelligence.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_intelligence_check_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.wisdom.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_wisdom_check_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.charisma.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_charisma_check_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'INITIATIVE' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_initiative_tie_on" value="@{output_var}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-20 pad-l-lg">
            <div class="zebra-rows">
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.strength.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_strength_saving_throw_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.dexterity.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_dexterity_saving_throw_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.constitution.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_constitution_saving_throw_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.intelligence.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_intelligence_saving_throw_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.wisdom.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_wisdom_saving_throw_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ABILITIES.charisma.NAME' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_charisma_saving_throw_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'DEATH_SAVES' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_death_saving_throw_tie_on" value="@{output_var}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-20 pad-l-lg">
            <div class="zebra-rows">
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'HIT_DICE' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_hit_dice_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'ATTACK' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_attack_tie_on" value="@{output_var}">
                </div>
              </div>
              <div class="shaped-row mar-r-md">
                <div class="col-90">{{'SPELL' | translate}}</div>
                <div class="col-10">
                  <input type="checkbox" name="attr_spell_tie_on" value="@{output_var}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="wrap-box-title center">{{'TIE_ONS' | translate}}</div>
</div>

<input type="hidden" name="attr_tie_on_strength_saving_throw">
<input type="hidden" name="attr_tie_on_dexterity_saving_throw">
<input type="hidden" name="attr_tie_on_constitution_saving_throw">
<input type="hidden" name="attr_tie_on_intelligence_saving_throw">
<input type="hidden" name="attr_tie_on_wisdom_saving_throw">
<input type="hidden" name="attr_tie_on_charisma_saving_throw">
<input type="hidden" name="attr_tie_on_death_saving_throw">

<input type="hidden" name="attr_tie_on_strength_check">
<input type="hidden" name="attr_tie_on_dexterity_check">
<input type="hidden" name="attr_tie_on_constitution_check">
<input type="hidden" name="attr_tie_on_intelligence_check">
<input type="hidden" name="attr_tie_on_wisdom_check">
<input type="hidden" name="attr_tie_on_charisma_check">

<input type="hidden" name="attr_tie_on_initiative">

<input type="hidden" name="attr_tie_on_hit_dice">
<input type="hidden" name="attr_tie_on_attack">
<input type="hidden" name="attr_tie_on_spell">
