<div class="small-note mar-b-md">{{'TIE_ON_NOTE' | translate}}</div>

<div class="spacer"></div>

<div class="wrap-box relative mar-b-md pad-r-lg pad-l-lg">
  <fieldset class="repeating_tie_on">
    <div>
      <input type="text" class="action-name center" placeholder="name" name="attr_name">
    </div>
    <div class="center mar-t-md">
      <textarea class="two-line-textarea" name="attr_output"></textarea>
    </div>

    <div class="pad-b-md mar-b-md">
      <div class="shaped-row sub-header small-label center">
        <div class="col-1-6">{{'SAVING_THROWS' | translate}}</div>
        <div class="col-1-6">{{'ABILITY_CHECKS' | translate}}</div>
        <div class="col-50">{{'SKILLS_TITLE' | translate}}</div>
        <div class="col-1-6">{{'MISC' | translate}}</div>
      </div>
      <div class="shaped-row">
        <input type="hidden" name="attr_output_var" value="{{freetext=@{output}}}">

        <div class="col-1-6 pad-l-lg">
          <div class="zebra">
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.strength.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_strength_saving_throw" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.dexterity.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_dexterity_saving_throw" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.constitution.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_constitution_saving_throw" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.intelligence.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_intelligence_saving_throw" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.wisdom.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_wisdom_saving_throw" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.charisma.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_charisma_saving_throw" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'DEATH_SAVES' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_death_saving_throw" value="@{output_var}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-6 pad-l-lg">
          <div class="zebra">
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.strength.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_strength_check" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.dexterity.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_dexterity_check" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.constitution.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_constitution_check" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.intelligence.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_intelligence_check" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.wisdom.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_wisdom_check" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'ABILITIES.charisma.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_charisma_check" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'INITIATIVE' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_initiative" value="@{output_var}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-6 pad-l-lg">
          <div class="zebra">
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.acrobatics.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_acrobatics" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.animalHandling.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_animalhandling" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.arcana.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_arcana" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.athletics.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_athletics" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.deception.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_deception" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.history.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_history" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.insight.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_insight" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.intimidation.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_intimidation" value="@{output_var}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-6 pad-l-lg">
          <div class="zebra">
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.investigation.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_investigation" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.medicine.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_medicine" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.nature.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_nature" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.perception.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_perception" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.performance.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_performance" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.persuasion.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_persuasion" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.religion.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_religion" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.sleightOfHand.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_sleightofhand" value="@{output_var}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-6 pad-l-lg">
          <div class="zebra">
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.stealth.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_stealth" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SKILLS.survival.NAME' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_survival" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'CUSTOM' | translate}} 1</div>
              <div class="col-10">
                <input type="checkbox" name="attr_custom_skill_1" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'CUSTOM' | translate}} 2</div>
              <div class="col-10">
                <input type="checkbox" name="attr_custom_skill_2" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'CUSTOM' | translate}} 3</div>
              <div class="col-10">
                <input type="checkbox" name="attr_custom_skill_3" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'CUSTOM' | translate}} 4</div>
              <div class="col-10">
                <input type="checkbox" name="attr_custom_skill_4" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'CUSTOM' | translate}} 5</div>
              <div class="col-10">
                <input type="checkbox" name="attr_custom_skill_5" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'CUSTOM' | translate}} 6</div>
              <div class="col-10">
                <input type="checkbox" name="attr_custom_skill_6" value="@{output_var}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-6 pad-l-lg">
          <div class="zebra">
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'HIT_DICE' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_hit_dice" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">
                <span class="en">Melee Weapons</span>
                <span class="de">Nahkampf Angriffe</span>
                <span class="fr">Armes de Mêlée</span>
                <span class="ru">Рукопашное оружие</span>
              </div>
              <div class="col-10">
                <input type="checkbox" name="attr_meleeweapon" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">
                <span class="en">Ranged Weapons</span>
                <span class="de">Fermkampf Angriffe</span>
                <span class="fr">Armes à Distance</span>
                <span class="ru">Дистанционное оружие</span>
              </div>
              <div class="col-10">
                <input type="checkbox" name="attr_rangedweapon" value="@{output_var}">
              </div>
            </div>
            <div class="shaped-row mar-r-md">
              <div class="col-90">{{'SPELL' | translate}}</div>
              <div class="col-10">
                <input type="checkbox" name="attr_spell" value="@{output_var}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="wrap-box-title center">{{'TIE_ONS' | translate}}</div>
</div>

<input type="hidden" name="attr_tie_on_strength_saving_throw">
<input type="hidden" name="attr_tie_on_dexterity_saving_throw">
<input type="hidden" name="attr_tie_on_constitution_saving_throw">
<input type="hidden" name="attr_tie_on_intelligence_saving_throw">
<input type="hidden" name="attr_tie_on_wisdom_saving_throw">
<input type="hidden" name="attr_tie_on_charisma_saving_throw">
<input type="hidden" name="attr_tie_on_death_saving_throw">

<input type="hidden" name="attr_tie_on_strength_check">
<input type="hidden" name="attr_tie_on_dexterity_check">
<input type="hidden" name="attr_tie_on_constitution_check">
<input type="hidden" name="attr_tie_on_intelligence_check">
<input type="hidden" name="attr_tie_on_wisdom_check">
<input type="hidden" name="attr_tie_on_charisma_check">

<input type="hidden" name="attr_tie_on_initiative">
<input type="hidden" name="attr_tie_on_hit_dice">

<input type="hidden" name="attr_tie_on_acrobatics">
<input type="hidden" name="attr_tie_on_animalhandling">
<input type="hidden" name="attr_tie_on_arcana">
<input type="hidden" name="attr_tie_on_athletics">
<input type="hidden" name="attr_tie_on_deception">
<input type="hidden" name="attr_tie_on_history">
<input type="hidden" name="attr_tie_on_insight">
<input type="hidden" name="attr_tie_on_intimidation">
<input type="hidden" name="attr_tie_on_investigation">
<input type="hidden" name="attr_tie_on_medicine">
<input type="hidden" name="attr_tie_on_nature">
<input type="hidden" name="attr_tie_on_perception">
<input type="hidden" name="attr_tie_on_performance">
<input type="hidden" name="attr_tie_on_persuasion">
<input type="hidden" name="attr_tie_on_religion">
<input type="hidden" name="attr_tie_on_sleightofhand">
<input type="hidden" name="attr_tie_on_stealth">
<input type="hidden" name="attr_tie_on_survival">
<input type="hidden" name="attr_tie_on_custom_skill_1">
<input type="hidden" name="attr_tie_on_custom_skill_2">
<input type="hidden" name="attr_tie_on_custom_skill_3">
<input type="hidden" name="attr_tie_on_custom_skill_4">
<input type="hidden" name="attr_tie_on_custom_skill_5">
<input type="hidden" name="attr_tie_on_custom_skill_6">

<input type="hidden" name="attr_tie_on_meleeweapon">
<input type="hidden" name="attr_tie_on_rangedweapon">
<input type="hidden" name="attr_tie_on_spell">
