
.grid.header-body.equipment(id='equipment-pc').border
		.section-header
			h1(data-i18n='equipment' data-i18n-title='equipment') equipment
		.grid.section-body.border
			- const weaponsAttrs = ['weapons', 'skill %', 'base range', 'damage', 'armor piercing', 'lethality %', 'kill radius', 'ammo']
		
			h2.aligned-left(data-i18n='15. armor and gear' data-i18n-title='15. armor and gear') 15. armor and gear
			.border-bottom
				textarea(data-i18n-placeholder='armor and gear' name='attr_armor_and_gear' placeholder='armor and gear' title='@{armor_and_gear}')
			.section-directions.center.border-bottom
				span(data-i18n='Body armor reduces the damage of all attacks except Called Shots and successful Lethality rolls.') Body armor reduces the damage of all attacks except Called Shots and successful Lethality rolls.
			.grid.section-weapons.border-bottom
				each weapon in weaponsAttrs
					- const weaponHeader = (weapon === 'weapons') ? '16. weapons' : weapon;
					h2(data-i18n=weaponHeader data-i18n-title=weaponHeader title=weaponHeader)= weaponHeader
					if (weapon != 'ammo')
						.vert-line
			.repeating-container.border-bottom
				fieldset.repeating_weapons
					.grid.section-weapons.border-bottom.repeating-section-weapons
						+weapons(weaponsAttrs)
		