.grid.header-body.personal-data(id='personal-data-pc').border
		.section-header
			h1(data-i18n='personal data' data-i18-title='personal data' title='personal data') personal data
		.section-body
			.grid.section.border-bottom
				each val, key in personData1
					+personal(val, key)
					.vert-line
			.grid.section.border-bottom
				each val, key in personData2
					+personal(val, key)
					.vert-line
			.grid.section.border-bottom
				each val, key in personData3
					+personal(val, key)
					.vert-line