
.grid.header-body.pyschological-data(id='psychological-data-pc').border
		.section-header
			h1(data-i18n='psychological data' data-i18n-title='psychological data ') psychological data 
		.grid.section-body
			.grid.section-bond-col
				.box1
					h2.aligned-left(data-i18n='11. bonds' data-i18n-title='11. bonds') 11. bonds			
				h2.center(data-i18n='score' data-i18n-title='score') score
			.section-repeating-container.border-bottom
				fieldset.repeating_bonds
					input(type='hidden' name='attr_initialized' value=0)
					.grid.section-bond-col 
						.box 
							label.styled_checkbox
										input(name='attr_hurt' title='@{attr_hurt}' type='checkbox' value='hurt')
							.form-group
								input( name='attr_setScore' title='@{repeating_bonds_${x}_setScore}' type='hidden' value=0)
								label.bond_button 
									input(type='hidden' class='edit_test' name='attr_test')
									span.edit_text
										input.text-align-left(type='text' name='attr_name' value='bond')
									span.unedit_text
										- const bondRollValue = `@{gm_toggle} &{template:bonds} [[ [[ -[[1d4]] + @{willpower_points} ]] - @{willpower_points} + @{score} ]] {{header=@{name}}} {{full_loss=$[[0]]}} {{wpbefore=[[@{willpower_points}]]}} {{wpafter=$[[1]]}} {{bondbefore=[[@{score}]]}} {{bondafter=$[[2]]}} {{repress= [^{repress}](~repeating_bonds_repress)}} `;
										- const sanRollValue  = `@{gm_toggle} &{template:rolls} {{header=^{SAN}}} {{subheader=@{sanity_points}}} {{rating=[[@{sanity_points}]]}} {{dice=[[1d100]]}} `;
										- const bondrollName = `bond`;
										+button_colored_element(bondrollName)
								label.switch-edit
									input(type='checkbox' name='attr_test' value='editable')
									span.vslider
						label.rank(data-i18n-title='bond score' title='bond score')
							input(style='width: 100%;' data-i18n-placeholder='-' name='attr_score' placeholder='-' title='@{repeating_bonds_${x}_score}' type='number')
							input(type='hidden' name='attr_score_old' value=0)
								
			.grid.section-bond-notes.border-bottom
				.aligned-left(data-i18n='Check a damaged Bond’s box until the next Home scene ends.' data-i18n-title='Check a damaged Bond’s box until the next Home scene ends.' style="margin-left: 1rem;") Check a damaged Bond’s box until the next Home scene ends.

			.grid.section-motivations
				.grid.section.border-bottom
					h2.aligned-left(data-i18n='12. motivations and mental disorders' data-i18n-title='12. motivations and mental disorders') 12. motivations and mental disorders
					textarea(data-i18n-placeholder='motivations and mental disorders' name='attr_motivations' placeholder='motivations and mental disorders')

			.grid.section-incidents
				.grid.section.border-bottom
					h2.aligned-left(data-i18n='13. incidents of san loss without going insane' data-i18n-title='13. incidents of san loss without going insane') 13. incidents of san loss without going insane
				.grid.section.incidents-body
					each attr in ['violence', 'helplessness']
						h3.center(data-i18n=attr data-i18n-title=attr)= attr
						+multiCheckbox(attr, 3)
						span.italic(data-i18n='adapted') adapted
