.grid.header-body.remarks(id='remarks-pc').border
		.section-header
			h1(data-i18n='remarks' data-i18n-title='remarks') remarks
		.grid.section-body.border
			.section.border-bottom
				h2.aligned-left(data-i18n='17. personal details and notes' data-i18n-title='17. personal details and notes') 17. personal details and notes
				textarea(name='attr_personal_details_and_notes' placeholder='personal details and notes' title='@{personal_details_and_notes}')
			.vert-line
			.section.border-bottom
				.section.border-bottom
						h2.aligned-left(data-i18n='18. developments which affect home and family' data-i18n-title='18. developments which affect home and family') 18. developments which affect home and family
						textarea.resizable(data-i18n-placeholder='developments which affect home and family' name='attr_developments_which_affect_home_and_family' placeholder='developments which affect home and family' title='@{developments_which_affect_home_and_family}' class='resizable')
				.grid.section-special-training.border-bottom
					
					h2.aligned-left(data-i18n='19. special training' data-i18n-title='19. special training') 19. special training				
					h2.aligned-left(data-i18n='skill or stat used' data-i18n-title='skill or stat used') skill or stat used
					
				.repeating-container.border-bottom
					fieldset.repeating_special
						.grid.body.section-special-training.border-bottom
							input(type='hidden' name='attr_initialized' value=0)
							.form-group
								label
									input(type='hidden' class='edit_test' name='attr_test')
									span.edit_text
										input(style='width:100%;'  name='attr_name' title='@{repeating_special_${x}__name}' type='text' value='skill' )
									span.unedit_text
										- const specialrollName = `special`;
										+editablebetterbutton_rep(specialrollName,'','pressable additional_div',`(${val}%)`,true)
								label.switch-edit
									input(type='checkbox' name='attr_test' value='editable')
									span.vslider
							label.special_label(data-i18n-title='skill or stat used' title='skill or stat used')
								input(type='hidden' class='edit_test' name='attr_test')
								span.edit_text
									input(data-i18n-placeholder='skill or stat used' name='attr_skill_or_stat_used' placeholder='skill or stat used' list='allskills' title='@{repeating_special_${x}_skill_or_stat_used}' type='text' value='')
								span.unedit_text
									span(name='attr_skill_span' )
		
			.section-directions.center
				span(data-i18n='Please indicate why this agent was recruited and why the agent agreed to be recruited.') Please indicate why this agent was recruited and why the agent agreed to be recruited.

