include fields.pug

.coreTab
  div
    .inlineBlock(style='vertical-align: top; width: 3.2in;'): include abilityScores.pug

    .inlineBlock(style='vertical-align: top; width: 5in;')
      div
        +labelledUnderlined('Gender')(style='width:1in;'): input(type='text', name='gender')
        +labelledUnderlined('Age')(style='width: 0.5in;'): input(type='text', name='age')
        +labelledUnderlined('Height')(style='width: 0.6in;'): input(type='text', name='height')
        +labelledUnderlined('Weight')(style='width: 0.6in;'): input(type='text', name='weight')
        +labelledUnderlined('Size')(style='width: 1.2in;'): select(name='size')
          option(value=4) Colossal
          option(value=3) Gargantuan
          option(value=2) Huge
          option(value=1) Large
          option(value=0, selected=true) Medium
          option(value=-1) Small
          option(value=-2) Tiny
          option(value=-3) Diminuitive
          option(value=-4) Fine
      div
        +labelledUnderlined('Homeland'): input(type='text', name='homeland')
        +labelledUnderlined('Deity')(style='width: 1.5in;'): input(type='text', name='deity')
        +labelledUnderlined('Alignment')(style='width: 1.2in;'): select(name='alignment')
          option(value='LG') Lawful Good
          option(value='NG') Neutral Good
          option(value='CG') Chaotic Good
          option(value='LN') Lawful Neutral
          option(value='N', selected=true) Neutral
          option(value='CG') Chaotic Neutral
          option(value='LE') Lawful Evil
          option(value='NE') Neutral Evil
          option(value='CL') Chaotic Evil
      div
        +labelledAbove('Appearance')(style='width: 100%;'): textarea(rows=6, name='appearance', style='height: 1in;')
      div
        +labelledBoxH('Speed')(style='vertical-align: top;'): input(type='text', name='speed', style='width: 1in;')
        +labelledBoxH('Initiative')
          +labelledUnderlined('Total')(style='width: 0.5in'): +readOnlyBox()(name='init_total')
          .mathOperator =
          +labelledUnderlined('Dex mod'): +readOnlyBox()(name='dex_mod')
          .mathOperator +
          +labelledUnderlined('Misc')(style='width: 0.5in;'): input(type='number', name='init_misc')
      div
        +labelledBoxV('Base Attack Bonus')(style='vertical-align: top; width: 1in;'): input(type='number', name='bab')
        .inlineBlock(style='width: 3.9in;')
          div: +labelledBoxH('Melee')(style='width: 100%;')
            +labelledUnderlined('Total'): +readOnlyBox()(name='melee_total')
            .mathOperator =
            +labelledUnderlined('BAB'): +readOnlyBox()(name='bab')
            .mathOperator +
            +labelledUnderlined('Str mod'): +readOnlyBox()(name='str_mod')
            .mathOperator +
            +labelledUnderlined('Size'): +readOnlyBox()(name='size_attack_mod')
            .mathOperator +
            +labelledUnderlined('Misc')(style='width: 0.5in;'): input(type='number', name='melee_misc')
          div: +labelledBoxH('Ranged')(style='width: 100%;')
            +labelledUnderlined('Total'): +readOnlyBox()(name='ranged_total')
            .mathOperator =
            +labelledUnderlined('BAB'): +readOnlyBox()(name='bab')
            .mathOperator +
            +labelledUnderlined('Dex mod'): +readOnlyBox()(name='dex_mod')
            .mathOperator +
            +labelledUnderlined('Size'): +readOnlyBox()(name='size_attack_mod')
            .mathOperator +
            +labelledUnderlined('Misc')(style='width: 0.5in;'): input(type='number', name='ranged_misc')

  div
    +labelledBoxH('AC').ac
      div.acEquation
        +labelledUnderlined('Total'): +readOnlyBox()(name='ac')
        .mathOperator = 10 +
        +labelledUnderlined('Equipment')(style='width: 0.5in;'): input(type='number', name='ac_equipment')
        .mathOperator +
        +labelledUnderlined('Dex mod'): +readOnlyBox()(name='dex_mod')
        .mathOperator +
        +labelledUnderlined('Misc')(style='width: 0.5in;'): input(type='number', name='ac_misc')
      div
        +labelledUnderlined('Conditional Modifiers')(style='width: 100%;'): input(type='text', name='ac_notes')
    .inlineBlock(style='vertical-align: top;')
      div: +labelledBoxH('Touch AC'): +readOnlyBox()(name='ac_touch')
      div: +labelledBoxH('Flat-Footed AC'): +readOnlyBox()(name='ac_flatfoot')

    .inlineBlock(style='float: right; vertical-align: top;')
      div: +labelledBoxH('Damage Reduction'): input(type='text', name='damage_reduction', style='width: 1in;')
      div: +labelledBoxH('Spell Resistance'): input(type='number', name='spell_resistance')
  div: include savingThrows.pug
