include fields.pug
include tabs.pug

.top
  .pfLogo
  .topStats(style='margin-bottom: 1em;')
    div
      +labelledUnderlined('Character Name')(style='width: 2.5in;'): input(type='text', name='character_name')
      +labelledUnderlined('Player Name'): input(type='text', name='player_name')
    div
      +labelledUnderlined('Race')(style='width: 1.5in;'): input(type='text', name='race')
      +labelledUnderlined('Classes and levels')(style='width: 2in;'): input(type='text', name='class')
      +labelledBoxH('XP')(style='float: right;'): input(type='number', name='xp')
    div
      +labelledUnderlined('Active Status Conditions')(style='width: 3in;'): input(type='text', name='activeConditions')
      +labelledBoxH('HP')(style='float: right;'): +fraction()(type='number', name='hp')

.tabsContainer
  +tab('Core', 'mainTabs', true)
    include core/index.pug
  +tab('Skills', 'mainTabs')
    .test Skills
  +tab('Specials/Feats', 'mainTabs')
    .test Special Abilities and Feats
  +tab('Gear', 'mainTabs')
    .test Gear
  +tab('Magic', 'mainTabs')
    .test Magic
  +tab('Notes', 'mainTabs')
    .test Notes
