include fields.pug
include tabs.pug

.top
  .pfLogo
  .topStats(style='margin-bottom: 1em;')
    div
      +labelledUnderlined('Character Name')(style='width: 2.5in;'): +input('text', 'character_name')
      +labelledUnderlined('Player Name'): +input('text', 'player_name')
    div
      +labelledUnderlined('Race')(style='width: 1.5in;'): +input('text', 'race')
      +labelledUnderlined('Classes and levels')(style='width: 2in;'): +input('text', 'classes')
      +labelledBoxH('XP')(style='float: right;'): +input('number', 'xp')
    div
      +labelledUnderlined('Active Status Conditions')(style='width: 3in;'): +input('text', 'activeConditions')
      +labelledBoxH('HP')(style='float: right;'): +fraction('hp')

.tabsContainer
  +tab('Core', 'mainTabs', true)
    include core/index.pug
  +tab('Skills', 'mainTabs')
    include skills/index.pug
  +tab('Specials/Feats', 'mainTabs')
    include specialFeats/index.pug
  +tab('Gear', 'mainTabs')
    .test Gear
  +tab('Magic', 'mainTabs')
    .test Magic
  +tab('Notes', 'mainTabs')
    .test Notes
