include fields.pug

.top
  .pfLogo
  .topStats
    div
      +fieldUnderlined('Character Name')(type='text', name='name')
      +fieldBoxH('Lv')(type='number', name='level')
      +fieldBoxH('XP')(type='number', name='xp')
    div
      +fieldBoxHFraction('HP')(type='number', name='hp')
      +fieldUnderlined('Active Conditions')(type='text', name='activeConditions')
