include fields.pug
include tabs.pug

.top
  .pfLogo
  .topStats(style='margin-bottom: 1em;')
    div
      +fieldUnderlined('Character Name')(type='text', name='character_name', style='width: 2.5in;')
      +fieldUnderlined('Player Name')(type='text', name='player_name')
    div
      +fieldUnderlined('Race')(type='text', name='race', style='width: 1.5in;')
      +fieldUnderlined('Classes and levels')(type='text', name='class', style='width: 2in;')
      +fieldBoxH('XP')(type='number', name='xp', style='float: right;')
    div
      +fieldUnderlined('Active Status Conditions')(type='text', name='activeConditions', style='width: 3in;')
      +fieldBoxHFraction('HP')(type='number', name='hp', style='float: right;')

.tabsContainer
  +tab('Core', 'mainTabs', true)
    include coreTab.pug
  +tab('Skills', 'mainTabs')
    .test Skills
  +tab('Specials/Feats', 'mainTabs')
    .test Special Abilities and Feats
  +tab('Gear', 'mainTabs')
    .test Gear
  +tab('Magic', 'mainTabs')
    .test Magic
  +tab('Notes', 'mainTabs')
    .test Notes
