@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900&display=swap");

/* General */
.ui-dialog .charsheet {
	padding: 0!important;
}

.sheet-camc button.btn {
    color: black;
    text-shadow: none;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    /*background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/CuervosDeAsgardMC/gas.png);*/
    background: url(https://dragom.club/gas.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 23px;
    height: 27px;
    background-position: center;
    padding: 2px 0;
}

.sheet-camc .sheet-acenter {
  align-items: center;
}

.sheet-camc input[type=number] {
  border-radius: 0;
  border-bottom: 2px dashed black;
  width: 100%;
}

.sheet-camc select {
  padding: 0rem .75rem;
}

.sheet-camc button.btn:before {
  content: ' ';
}

div.sheet-camc {
	background-color: #fdfdfd;
	max-width: 1055px;
  min-width: 755px;
	font-family: 'Maven Pro';
  margin: 0 auto;
}

label {
    font-size: 2rem;
    display: inline-block;
    width: auto;
    line-height: 1;
    white-space: nowrap;
    vertical-align: -webkit-baseline-middle;
    margin-bottom: 0;
    margin-top: 2px;
    font-weight: 400;
}

label span {
  font-size: 10px;
  display: block;
  text-align: center;
}

.sheet-atributos_container label,
.sheet-derivados label {
  font-weight: 700;
}

input {
	display: inline-block;
	border: 0;
	width: auto;
	padding: 0;
	line-height: 1;
	font-size: 2rem;
	height: 2rem;
	font-family: 'Maven Pro';
  border-bottom: 1px dotted black;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

textarea {
	resize: vertical;
	height: auto;
  border: 0;
  line-height: 1;
  font-size: 1.5rem;
  padding: 0;
  font-family: 'Maven Pro';
  border-bottom: 1px dotted black;
}

input:focus, textarea:focus {
  outline:none;
}

/* Sección personal */

.sheet-camc > .sheet-2colrow.sheet-row1 > .sheet-col:first-of-type{
    width:calc(30% - 40px)!important;
    margin-right: 35px!important;
}

.sheet-camc > .sheet-2colrow.sheet-row1 > .sheet-col{
    width:calc(70%)!important;
    margin-right: 0!important;
}   

.sheet-camc > .sheet-2colrow.sheet-row2 > .sheet-col,
.sheet-camc > .sheet-2colrow.sheet-row3 > .sheet-col,
.sheet-camc > .sheet-2colrow.sheet-row4 > .sheet-col,
.sheet-camc > .sheet-2colrow.sheet-row5 > .sheet-col,
.sheet-camc > .sheet-2colrow.sheet-row6 > .sheet-col {
  width: 100%;
  margin: 20px 0px;
}

.sheet-camc > .sheet-2colrow.sheet-row1,
.sheet-camc > .sheet-2colrow.sheet-row2,
.sheet-camc > .sheet-2colrow.sheet-row3,
.sheet-camc > .sheet-2colrow.sheet-row4,
.sheet-camc > .sheet-2colrow.sheet-row5 {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.sheet-field-wrap {
  width: 100%;
  display: flex;
}

.sheet-field-wrap input {
  width: 100%;
  flex-grow: 1;
}

.sheet-personal label {
    text-align: center;
    display: block;
    margin: 20px auto 10px auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.sheet-camc .sheet-personal input[type=text],
.sheet-camc .sheet-personal textarea,
.sheet-camc .sheet-pertenencias textarea,
.sheet-camc .sheet-atributos textarea,
.sheet-camc .sheet-personal select,
.sheet-camc .sheet-personal input[type=number] {
  border-radius: 0;
  border: 1px solid black;
  outline: 3px solid black;     
  outline-offset: 2px;         
  border-radius: 8px;
  padding: .75rem;
  width: 100%;
  background: white;
}

div.sheet-personal input[type=number] {
    max-width: 40px !important;
    border-radius: 50px !important;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}

.sheet-camc .sheet-personal select {
  padding: 0 .75rem;
}

/* Sección  Atributos */
.sheet-atributos_container {
    display: flex;
    justify-content: space-around;
}

.sheet-atributos h1 {
  font-weight: 900;
  text-align: center;
  margin-bottom:10px;
  font-size: 2.25rem;
}

.sheet-atributos .sheet-field-wrap {
  flex-direction: column;
  float: left;
  width: auto;
  align-items: center;
}

.sheet-atributos label {
  padding: 0;
  margin-bottom: 10px;
}

.sheet-atributos input[type=number] {
  height: 75px;
  max-width: 75px;
  border-radius: 50px;
  border: 1px solid black;
  width: auto;
  text-align: center;
  /*background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/CuervosDeAsgardMC/circle.png);*/
  background-image: url(https://dragom.club/circle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 30px;
}

/* Sección Habilides */
.sheet-aux {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid lightgrey;
  outline: 2px solid lightgrey;
  outline-offset: 2px;         
  border-radius: 8px;

}

.sheet-aux label {
  font-size: 1.5rem;
  margin-bottom: 0;
    margin-left: 20px;
    margin-right: 5px;
    line-height: 1.5rem;
}

.sheet-aux input {
  width: auto;
}

.sheet-aux input[type=number] {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  font-size: 1.5rem;
  margin-top: 5px;
}

.sheet-aux select {
  margin-bottom: 0;
}

.sheet-3colrow.sheet-habilidades {
  margin-right: 10px;
  margin-top: 30px;
}

.sheet-habilidades .sheet-field-wrap {
  flex-direction: row;
  width: 100%;
  align-self: center;
}

.sheet-habilidades_container {
    width: 100%;
    text-align: right;
    line-height: 1;
}

.sheet-habilidades label {
  margin: 0;
  font-size: 1.5rem;
}

.sheet-habilidades input[type=text] {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.sheet-habilidades input[type="radio"] {
    width: auto;
    height: initial;
    max-width: initial;
    border: initial;
    border-radius: inherit;
    margin-left: 5px;
}

/*.sheet-habilidades input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: black;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.sheet-habilidades input[type="radio"]:checked ~ input[type="radio"]:after {
    width: 12px;
    height: 12px;
    top: -2px;
    background-color: white;
    border: 2px solid black;
    left: 0px;
}*/

/* CAMC */
.sheet-habilidades input.sheet-rombo[type="radio"] {
appearance: none;
    -webkit-appearance: none;

    width: 15px;          /* controla lo estrecho */
    height: 15px;         /* mismo valor para rombo perfecto */

    position: relative;
    background: black;
    border: 2px solid black;
    cursor: pointer;

    transform: rotate(45deg);   /* rombo perfecto */
    display: inline-flex;       /* para centrarlo mejor */
    align-items: center;
    justify-content: center;

    margin: 4px; /* opcional, para separarlo del resto */
}

.sheet-habilidades input.sheet-rombo[type="radio"]:checked ~ input.sheet-rombo[type="radio"] {
    background-color: white;
}

.sheet-camc input[type="checkbox"]{
    height: 30px;
    width: 30px;
    margin: 0 10px;
    flex-grow: 0;
}

.sheet-derivados {
  display: flex;
  margin: 30px 0px;
  justify-content: space-around;
}

.sheet-derivados .sheet-field-wrap {
    flex-direction: row;
    margin-bottom: 10px;
}

.sheet-derivados .sheet-field-wrap label{
  margin-right: 10px;
  font-size: 1.75rem;
  min-width: 120px;
}

.sheet-row4 h1 {
  margin-bottom:0;
}

/* SALUD */
.sheet-salud .sheet-field-wrap {
    align-items: center;
    width: 100%;  
    margin-top: 20px;
}

/* COMBATE */

.sheet-armas .sheet-col {
  margin-right: 5px!important;

}
.sheet-section-combate {
  margin-top:20px;
}

.sheet-armas input {
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 1.5rem;
}

.sheet-armas input[type=text],
.sheet-armas select {
    border: 1px solid black;
    outline: 2px solid black;
    outline-offset: 1px;
    margin-bottom: 10px;
    height: auto;
  }

.sheet-armas .sheet-aux {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.sheet-armas .sheet-aux label {
  margin-left: 0px;
}


.sheet-armas .sheet-aux div {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.sheet-armas .sheet-combate-row select {
  width: 100%;
}

.sheet-smallinput {
  border-bottom:none!important;
  width: 11px!important;
}

.sheet-pertenencias textarea{
  font-size: 1.5rem;
  padding: 10px;
  height: 335px;
  background-image: -webkit-linear-gradient(left, #ffffff 10px, transparent 10px), -webkit-linear-gradient(right, #ffffff 10px, transparent 10px), -webkit-linear-gradient(#ffffff 30px, black 30px, black 31px, #ffffff 31px);
  background-image: -moz-linear-gradient(left, #ffffff 10px, transparent 10px), -moz-linear-gradient(right, #ffffff 10px, transparent 10px), -moz-linear-gradient(#ffffff 30px, black 30px, black 31px, #ffffff 31px);
  background-image: -ms-linear-gradient(left, #ffffff 10px, transparent 10px), -ms-linear-gradient(right, #ffffff 10px, transparent 10px), -ms-linear-gradient(#ffffff 30px, black 30px, black 31px, #ffffff 31px);
  background-image: -o-linear-gradient(left, #ffffff 10px, transparent 10px), -o-linear-gradient(right, #ffffff 10px, transparent 10px), -o-linear-gradient(#ffffff 30px, black 30px, black 31px, #ffffff 31px);
  background-image: linear-gradient(left, #ffffff 10px, transparent 10px), linear-gradient(right, #ffffff 10px, transparent 10px), linear-gradient(#ffffff 30px, black 30px, black 31px, #ffffff 31px);
  background-size: 100% 100%, 100% 100%, 100% 31px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 31px;
  padding: 8px;
  width: 98%;
}


/* Roll Templates */
.sheet-rolltemplate-camc table,
.sheet-rolltemplate-camc-ini table {
    width: 100%;
    border: 1px solid black;
    color: black;
    background: #FFFFFF;
}

.sheet-rolltemplate-camc caption,
.sheet-rolltemplate-camc-ini caption {
    text-align: center;
    background: #ececec;
    color: #2b2b2b;
    font-weight: 700;
    padding: 2px;
    border: 1px solid black;
    border-bottom: none;
    line-height: 2em;
}

.sheet-rolltemplate-camc td,
.sheet-rolltemplate-camc-ini td {
  padding: 2px;
  border-bottom: 1px solid black;
  text-align: center;
}

.sheet-rolltemplate-camc td.sheet-template_label,
.sheet-rolltemplate-camc-ini td.sheet-template_label {
    font-weight: 700;
}

.sheet-rolltemplate-camc td.sheet-template_value,
.sheet-rolltemplate-camc-ini td.sheet-template_value {
    text-align: center;
}

.sheet-rolltemplate-camc td.sheet-extrainfo {
    text-align: center;
    background: #ececec;
    color: #2b2b2b;
    border-top: none;
    line-height: 1em;
    font-style: italic;
}

.sheet-rolltemplate-camc .inlinerollresult,
.sheet-rolltemplate-camc-ini .inlinerollresult {
    display: inline-block;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
    border: none!important;
    background: white;
    color: #2b2b2b;
    margin: 4px 0;
    line-height: 1.5em;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
}

.sheet-rolltemplate-camc .sheet-dice .inlinerollresult,
.sheet-rolltemplate-camc-ini .sheet-dice .inlinerollresult {
    border: 1px solid black!important;
    background: white;
    color: black;
    box-shadow: 5px 5px 1px black;
    font-size: 1em;
    font-weight: 700
}

.sheet-rolltemplate-camc .sheet-dice .inlinerollresult.fullfail,
.sheet-rolltemplate-camc-ini .sheet-dice .inlinerollresult.fullfail {
  background-color: #ff4000;
  color: white;
}

.sheet-rolltemplate-camc .sheet-dice .inlinerollresult.fullcrit,
.sheet-rolltemplate-camc-ini .sheet-dice .inlinerollresult.fullcrit {
  background-color: #00ff80;
}







/* configure the tab buttons */
.charsheet .sheet-personaje,
.charsheet .sheet-talentos,
.charsheet .sheet-moto {
    display: none;
}

/* style the active button */
.charsheet .sheet-tabstoggle[value="personaje"] ~ div .sheet-button0 {outline: 2px solid black;}
.charsheet .sheet-tabstoggle[value="talentos"] ~ div .sheet-button1 {outline: 2px solid black;}
.charsheet .sheet-tabstoggle[value="moto"] ~ div .sheet-button2 {outline: 2px solid black;}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="personaje"] ~ div.sheet-personaje,
.charsheet .sheet-tabstoggle[value="talentos"] ~ div.sheet-talentos,
.charsheet .sheet-tabstoggle[value="moto"] ~ div.sheet-moto {
    display: block;
}

.charsheet .sheet-tab-controls {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0px;
}

.charsheet .sheet-tab-controls button {
    font-size: 16px;
    padding: 10px;
    margin: 0 10px;
}