include ./data/companions
include ./data/paths
include ./data/combat-talents
include ./data/rituals
include ./data/custom

mixin assets()
  .assets
    fieldset.repeating_assets.fixed-width
      .asset
        .asset-header
          select.asset-type-dropdown(name='attr_assettype')
            option(value='' disabled='' selected='') Select
            option(value='companion') Companion
            option(value='path') Path
            option(value='combat-talent') Combat Talent
            option(value='ritual') Ritual
            option(value='custom') Custom
        
        +companionAssets
        +pathAssets
        +combatTalentAssets
        +ritualAssets
        +customAssets