-  
  var motivations = [
    {
      id: 'aggravate_organization',
      text: 'Aggravate Organization',
      description: 'You spurn an organization or community for ideological reasons.', 
      layer1: 'When you speak in public, or show how to act, against the group you contemn.',
      layer2: 'When you act against the group you contemn.',
      layer3: 'When you put yourself at risk, or sacrifice something important, for acting against the group you contemn.',
      buyoff: 'When the group you contemn either cease to exist, or you support it.'
    },
    {
      id: 'battling',
      text: 'Battling',
      description: 'You thrive for the thrills of combat.', 
      layer1: 'When you engage in combat.',
      layer2: 'When you defeat someone in combat.',
      layer3: "When you defeat someone more powerful than you in combat.",
      buyoff: 'When you diffuse a violent situation or willingly pass up an opportunity to enter in battle.' 
    },
    {
      id: 'carousing',
      text: 'Carousing',
      description: 'You thrive for making use of your wealth and time to make you, or others, feel good.', 
      layer1: 'When you spent your wealth or valuable time to raise your spirit.',
      layer2: "When you spent your wealth or valuable time to raise other's spirit.",
      layer3: "When you postpone or decline a duty in order to spent wealth or valuable time to raise spirit, your or someone else's",
      buyoff: "When you refuse, or argue against, using your valuable time to raise spirit, yours orsomeone else's"
    },
    {
      id: 'commanding',
      text: 'Commanding',
      description: 'You are looking to stand out as an exemplar leader.', 
      layer1: 'When you act according to the fact that you are in command.',
      layer2: 'When you issue an order to someone, get them to follow it, and it pays off favorably.',
      layer3: 'When you issue an order to a group, get them to follow it, and it pays off favorably.',
      buyoff: 'When you willingly abdicate your leading position.' 
    },
    {
      id: 'cover_my_identity',
      text: 'Cover My Identity',
      description: 'Your real identity is something you are looking to cover from certain individuals.', 
      layer1: 'When you make preparations to cover your identity.',
      layer2: 'When you cover your identity in a situation that demands it or be revealed.',
      layer3: 'When you cover your identity by convincing others despite suspicious.',
      buyoff: 'When you willingly reveal your identity to whom you were not interested in revealing it, or they get to know it by other means.' 
    },
    {
      id: 'cover_my_past',
      text: 'Cover My Past ',
      description: 'Your past is something you are looking to cover from certain individuals.', 
      layer1: 'When you make preparations to cover your past.',
      layer2: 'When you cover your past in a situation that demands it to be revealed.',
      layer3: 'When you cover your past by convincing others despite suspicious.',
      buyoff: 'When you willingly reveal your past to whom you were not interested in revealing it, or they get to know it by other means.' 
    },
    {
      id: 'discover_the_forgotten',
      text: 'Discover the Forgotten',
      description: 'You thrive to discover forgotten lore and uncovering secrets.', 
      layer1: 'When you show what needs to be done to discover an important new fact, lost piece of information or item.',
      layer2: 'When you discover an important new fact, lost piece of information or item.',
      layer3: 'When you put yourself at risk, or sacrifice something important, for discovering an important new fact, lost piece of information or item.',
      buyoff: 'When you willingly pass up an opportunity to learn something important or get a forgotten item.' 
    },
    {
      id: 'enforce_law',
      text: 'Enforce Law',
      description: 'You procure rightfulness and make sure law is fulfilled whenever is up to you.', 
      layer1: 'When you act to uphold the law.',
      layer2: 'When you act to prevent a crime committed by someone else.',
      layer3: 'When you put yourself at risk, or sacrifice something important, by acting to uphold the law or to prevent a crime committed by someone else.',
      buyoff: 'When you break a law or allow someone to do it.' 
    },
    {
      id: 'gain_power',
      text: 'Gain Power ',
      description: 'You are looking to obtain power, whether it is prestige or a position.', 
      layer1: 'When you get a new ability.',
      layer2: 'When you learn a new ability, get authority, or earn a boon from someone important.',
      layer3: 'When you put yourself at risk, or sacrifice something important, in order to learn a new ability, get authority or earn a boon from someone important.',
      buyoff: 'When you willingly take a decision that makes eschew gain power, lose authority or lower your position.' 
    },
    {
      id: 'gain_renown',
      text: 'Gain Renown',
      description: 'You are looking to make yourself a name.', 
      layer1: 'When you do something to impress someone else.',
      layer2: 'When you get prestige or take credit for an action, whenever you have done it or not.',
      layer3: 'When you put yourself at risk, or sacrifice something important, by doing something to impress someone, or as consequence for taking credit for an action, whenever you have done it or not.',
      buyoff: 'When you refuse taking credit for an accomplishment, or allow someone else to claim credit for something you accomplished.' 
    },
    {
      id: 'gain_wealth',
      text: 'Gain Wealth',
      description: 'You are always in the look for valuable goods.', 
      layer1: 'When you find wealth.',
      layer2: 'When you make a deal, or leverage a circumstance that favors you in wealth.',
      layer3: 'When you double your wealth or take more than that the double.',
      buyoff: 'When you willingly give away from your wealth, or reject a payment or reward.' 
    },
    {
      id: 'help_others',
      text: 'Help Others',
      description: 'You feel inclined to help those in need.', 
      layer1: 'When you help who cannot help themselves.',
      layer2: 'When you put yourself in danger, or sacrifice something important, for helping someone else.',
      layer3: 'When you take someone in disfavorable circumstances and change their life to where they can help themselves.',
      buyoff: 'When you willingly ignore a request for help or the fact that someone evidently needs it.' 
    },
    {
      id: 'making_deals',
      text: 'Making Deals',
      description: 'You thrive on making negotiations.', 
      layer1: 'When you get into an agreement, make a contract or offer a favor in exchange for something.',
      layer2: 'When you fulfill an agreement, a contract or get something in exchange for making a favor.',
      layer3: 'When you put yourself at risk, or sacrifice something important, in order to fulfill an agreement, a contract or making a favor in exchange for something.',
      buyoff: 'When you turn down a chance to negotiate or pass up a deal that favors you.' 
    },
    {
      id: 'preserve_affinity',
      text: 'Preserve Affinity',
      description: 'You have someone you are friend kindred to, for which you are strongly interested in keeping close.', 
      layer1: 'When you act to leverage your affinity with your friend or kindred.',
      layer2: 'When you must make an important decision that is influenced by your friend or kindred.',
      layer3: 'When put yourself at risk, or sacrifice something important, by being loyal to your friend or kindred.',
      buyoff: 'When your relationship with your friend or kindred is severed, or you do something that show that it is no longer a priority to you.' 
    },
    {
      id: 'preserve_nature',
      text: 'Preserve Nature',
      description: 'You thrive for preserving nature.', 
      layer1: 'When you act to preserve nature.',
      layer2: 'When you prevent someone else from causing damage to a natural element.',
      layer3: 'When put yourself at risk by preventing someone else from causing damage to a natural element or by offering aid to an element of nature.',
      buyoff: 'When you cause damage to a natural element, willingly or not, or allow someone to do it.' 
    },
    {
      id: 'prove_myself',
      text: 'Prove Myself',
      description: 'You are looking to prove yourself worthy.', 
      layer1: 'When you take on a difficult challenge.',
      layer2: 'When you succeed at a challenging obstacle to accomplish a goal.',
      layer3: 'When you miss on a significantly risky task, but rise and try again.',
      buyoff: 'When you willingly pass up an opportunity to test yourself, decline a challenge or give up on one.' 
    },
    {
      id: 'pursue_courage',
      text: 'Pursue Courage',
      description: 'You procure bravery and make sure it is present whenever is up to you.', 
      layer1: 'When you act despite a terrifying obstacle.',
      layer2: 'When you instill confidence in someone else, and it pays off favorably.',
      layer3: 'When your words or deeds fill others with courage, and it pays off favorably.',
      buyoff: 'When you allow fear to overcome, or give up on an important task, because it would be too dangerous to proceed.' 
    },
    {
      id: 'pursue_justice',
      text: 'Pursue Justice ',
      description: 'You procure that your sense of fairness comes to fruition whenever is up to you.', 
      layer1: 'When you successfully settle a conflict that results in a just outcome.',
      layer2: 'When you successfully settle a conflict in the presence of someone that differs from your sense of fairness.',
      layer3: 'When you bring justice to someone who deserved it.',
      buyoff: 'When you commit to a morally questionable act, allow someone who deserves to be judged to avoid it or stand mute before injustice.' 
    },
    {
      id: 'pursue_peace',
      text: 'Pursue Peace',
      description: 'You abhor violence.', 
      layer1: 'When you act to show the importance of procuring peace.',
      layer2: 'When you diffuse a violent situation or prevent someone from recurring to violence.',
      layer3: 'When you refuse, or avoid, hurting someone else in a situation that demands it from you, because you, or someone else, was at risk.',
      buyoff: 'When you willingly recur to violence or allow someone else to do it.' 
    },
    {
      id: 'pursue_the_truth',
      text: 'Pursue the Truth',
      description: 'You procure the truth to come out and uphold it whenever is up to you.', 
      layer1: 'When you induce the truth coming out in a charged situation.',
      layer2: 'When you uphold the truth despise of opposition.',
      layer3: 'When you put yourself at risk, or sacrifice something important, by upholding the truth.',
      buyoff: 'When you lie, or avoid the truth to come up.' 
    },
    {
      id: 'rebel',
      text: 'Rebel',
      description: 'You despise structures that supports formal authorities among individuals.', 
      layer1: 'When you disobey an authority.',
      layer2: 'When you act against an authority.',
      layer3: 'When you put yourself at risk, or sacrifice something important, for acting against an authority.',
      buyoff: 'When you acknowledge, support, or become, an authority; or accept a favor from one.' 
    },
    {
      id: 'redeem_myself',
      text: 'Redeem Myself',
      description: 'You are working towards gaining back trust and fixing previous wrongs.', 
      layer1: 'When you act to leverage a fix towards your reputation.',
      layer2: 'When you prove yourself to someone who has doubts or thinks poorly of you.',
      layer3: 'When you put yourself at risk, or sacrifice something important, by acting to prove yourself to someone who has doubts or thinks poorly of you.',
      buyoff: 'When you have cleared your reputation or give up on your redeeming path.' 
    },
    {
      id: 'safeguard_my_ward',
      text: 'Safeguard My Ward',
      description: 'You are looking to provide security and protection to an individual at all cost.', 
      layer1: 'When you prevent your ward from doing something that would put them at risk.',
      layer2: 'When you put yourself at risk, or sacrifice something important, by protecting your ward.',
      layer3: 'When you rescue your ward from potential harm.',
      buyoff: 'When you ward dies or your act as if protecting this person is not your priority, or is not your duty.' 
    },
    {
      id: 'show_cleverness',
      text: 'Show Cleverness',
      description: 'You like using your intelligence to enrich your interactions and solve problems.', 
      layer1: 'When you come up with a clever plan or point out something no one knew.',
      layer2: 'When you point out something no one knew and it pays off favorably.',
      layer3: 'When a plan previously elaborated by you pays off favorably.',
      buyoff: 'When you refuse to share knowledge, practical or not, or refuse to provide your insight when others demand it.' 
    },
    {
      id: 'suffering',
      text: 'Suffering',
      description: 'You are thriving on personal pain and martyrdom.', 
      layer1: 'When you suffer physical or mental damage.',
      layer2: 'When you suffer physical or mental damage and your next move shows that you are not fleeing from the source of suffering.',
      layer3: 'When you get wounded or shaken.',
      buyoff: 'When you willingly flee from a source of physical or mental damage.' 
    },
    {
      id: 'survive',
      text: 'Survive',
      description: 'You avoid at all cost situations that put you in danger.', 
      layer1: 'When you act to show the importance of avoiding perilous situations.',
      layer2: 'When you avoid a perilous situation.',
      layer3: 'When you flee from a source of physical or mental damage.',
      buyoff: 'When you leap into danger with no hesitation.' 
    },
    {
      id: 'uncover_my_past',
      text: 'Uncover My Past',
      description: 'You are looking to retrieve information from your past.', 
      layer1: 'When you get into a moment with the potential to give you something from your past.',
      layer2: 'When you learn or discover something from your past.',
      layer3: 'When you put yourself at risk, or sacrifice something important, for the sake of learning or discovering something from your past.',
      buyoff: 'When you have uncovered all you needed to know from your past, or have let it go.' 
    },
    {
      id: 'uphold_belief',
      text: 'Uphold Belief',
      description: 'You have a strong conviction that guides you and you want to give testimony of it to others.', 
      layer1: 'When you explain or defend your belief to someone else.',
      layer2: 'When you convince someone else to your belief.',
      layer3: 'When you put yourself at risk, or sacrifice something important, by upholding your belief.',
      buyoff: 'When you renounce your belief, talk against it or show that share it is no longer important to you.' 
    },
    {
      id: 'uphold_nobility',
      text: 'Uphold Nobility',
      description: 'You believe yourself to be the cut above the common people.', 
      layer1: 'When you demonstrate superiority by refusing to stoop to the level of the ones you think are below you.',
      layer2: 'When you, and the ones with you, get a benefit from your showcase of nobility.',
      layer3: 'When your noble traits overcome a problem.',
      buyoff: 'When you show that you have got over yourself by denying any noble trait by act or words.' 
    },
    {
      id: 'wandering',
      text: 'Wandering',
      description: 'You are in a personal journey to wander.', 
      layer1: 'When you undertake a travel.',
      layer2: 'When you reach your destination after travelling.',
      layer3: 'When you meet a place new to you.',
      buyoff: 'When you establish a settlement for you to reside, or when you willingly pass up the opportunity to meet a new place to you.'
    }
  ]
