@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto+Slab:wght@200;400&family=Special+Elite&display=swap');
/* Taken & modified from https://github.com/Roll20/roll20-character-sheets/blob/master/kitchensink/kitchensink.css */

/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
  min-width: 800px;
  max-width: 1800px;
  background-color: black;
  color: white;
  padding: 0;
  border: 10px solid black;
}

/* Universal styling applied to all elements of these types */

h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

a {
  color: yellow;
}

button {
  color: black;
  font-size: small;
}

label {
  display: inline-block;
}

input {
  display: inline-block;
}

img {
  max-height: 75px;
}

textarea {
  resize: vertical;
  overflow-y: auto;
  min-height: 5em;
  width: 95%;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-short, select.sheet-short {
  min-width: 15%;
  max-width: 20%;
}

select.sheet-dtype {
  vertical-align: top;
  width: 60px;
}
span.sheet-dee {
  font-size: 1.4em;
  font-weight: bold;
  left: -36%;
  padding-right: 4px;
  position: relative;
  top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
  display: inline-block;
  text-align: left;
}

.sheet-stats h3:first-child {
  margin-left: 35%;
  margin-right: 15%;
}

.sheet-stats input {
  margin-right: 8%;
  width: 17%;
}

.sheet-rolltemplate-default caption {
  background-color: rgb(241, 66, 175);
  color: black;
  font-weight: bold;
}


/* end of kitchen sink template CSS */

.charsheet .sheet-3colrow {
  margin-right: 15px;
}


div.sheet-3colrow div.sheet-2colrow div.sheet-col {
  width: calc(50% - 20px);
}

div.sheet-col.sheet-wide {
  width: 60%;
}

label.sheet-inline {
  display: inline;
}

input[type="text"] {
  max-width: 95%;
}

input[type="text"].sheet-short {
  max-width: 35%;
}

select.sheet-mediumwidth, input[type="text"].sheet-mediumwidth {
  max-width: 60%;
}

.largedialog input[type="textarea"] {
  width: 95%;
}


/* div-related style */
div {
  margin-bottom: 0.5em;
  background-color: #ec008c;
  color: black;
}

div.sheet-transparent-bg {
  rgba(0,0,0,0);
}

div.sheet-section {
  border: 7px solid black;
  background-color: #ec008c;
  margin: 0 0 10px 0;
  padding-top: 0.5em;
  padding-left: .25em;
  padding-right: .25em;
  width: 100%;
}

div.sheet-yellow-border {
  border: 3px solid #ec008c;
}

div.sheet-transform-clockwise {
  transform: rotate(2deg);
}

div.sheet-transform-counterclockwise {
  transform: rotate(-3deg);
}

div.sheet-black-bg {
  background-color: black;
  color: white;
}

div.sheet-yellow-bg {
  background-color: #ec008c;
  color: black;
}

div.sheet-transparent-bg {
  background: rgba(0,0,0,0);
}

div.sheet-image-bg {
  background-color: black;
  background-image: url("https://vastgrimm.com/wp-content/uploads/2021/12/vast_grimm-sheet-column-bg.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
}

div.sheet-pink-bg {
  background-color: rgb(241, 66, 175);
}

div.sheet-pink {
  color: rgb(241, 66, 175);
  background-color: black;
}

div.sheet-white-bg, div.sheet-white-bg div, span.sheet-white-bg {
  background-color: white;
}

.sheet-centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sheet-col-custom {
  width: 30%;
  margin-right: 2%;
  padding-left: 5%;
  float: left;
}

div.sheet-col-middle {
  width: 550px;
  max-width: 550px;
}

.sheet-col-right {
  width: 50%;
  text-align: right;
  padding-right: 5%;
  border-right: 2px solid black;
}

.sheet-aligns-right {
  text-align: right;
}


/* label, span, input styles */
.sheet-floats {
  float: left;
}

.sheet-inline {
  display: inline;
}

span {
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  vertical-align: top;
}

input[type="radio"] + label, input[type="checkbox"] + label {
  display: inline-block;
  height: 10px;
  width: 10px;
  font-size: 10px;
  padding: .25em .25em 1em 0;
  vertical-align: top;
  text-align: center;
}


/* span-specific font families */

span.sheet-specialelite {
font-family: 'Roboto Slab', serif;
  font-size: 1.25em;
  font-weight: 400;
  color: #ec008c;
  margin-bottom: -.5em;
}
span.sheet-specialelite2 {
font-family: 'Roboto Slab', serif;
  font-size: 1.25em;
  font-weight: 400;
  color: #000000;
  margin-bottom: -.5em;
}

span.sheet-unifraktur {
  /* font-family: 'UnifrakturCook', serif; */
  font-family: 'Audiowide', serif;
  font-size: 1.5em;
}

span.sheet-roboto {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
}

span.sheet-note {
  font-size: .9em;
}

.sheet-transform1 {
 /* -webkit-transform: scale(0.95,1.5);
  transform: scale(0.95,1.5); */
}

.sheet-transform2 {
/*  -webkit-transform: scale(0.9,2.2);
  transform: scale(0.9,2.2); */
}

.sheet-transform3 {
 /* -webkit-transform: scale(0.77,1.9);
  transform: scale(0.77,1.9); */
}

.sheet-no-display {
  display: none;
}

/* Span-specific text transformation, decoration, etc. */
span.sheet-all-caps {
  text-transform: uppercase;
}

span.sheet-italic {
  font-style: italic;
}

.sheet-bold-text {
  font-weight: bold;
}

.sheet-rolltemplate-attack .sheet-container, .sheet-rolltemplate-defense .sheet-container {
  border: 1px solid #000;
  background-color: #fff;
  width: 90%;
}

.sheet-rolltemplate-attack h1, .sheet-rolltemplate-defense h1 {
  font-size: 1em;
  line-height: .8em;
  background-color: #ec008c;
  padding: 5px;
  margin-bottom: 5px;
}

.sheet-rolltemplate-attack span, .sheet-rolltemplate-defense span {
  display: inline-block;
  padding-left: 5px;
  padding-bottom: 2px;
}

.sheet-rolltemplate-attack .inlinerollresult, .sheet-rolltemplate-defense .inlinerollresult, .sheet-rolltemplate-attack .inlinerollresult.importantroll, .sheet-rolltemplate-defense .inlinerollresult.importrantroll {
    background-color: #fff;
    border: 1px solid #000;
}

.sheet-rolltemplate-attack .inlinerollresult.fullcrit, .sheet-rolltemplate-defense .inlinerollresult.fullcrit {
    color: #ec008c;
    background-color: #000;
    border: none;
}

.sheet-rolltemplate-attack .inlinerollresult.fullfail, .sheet-rolltemplate-defense .inlinerollresult.fullfail {
    color: #ff0000;
    background-color: #fff;
    border: 1px solid #000;
}

.sheet-rolltemplate-attack .sheet-crit, .sheet-rolltemplate-defense .sheet-crit {
  background-color: rgb(241, 66, 175);
  color: #000;
  font-style: italic;
}

.sheet-rolltemplate-attack .sheet-crit-black, .sheet-rolltemplate-defense .sheet-crit-black {
  background-color: #000;
  color: #ec008c;
  font-style: italic;
}

.sheet-rolltemplate-defense .sheet-crit-black .inlinerollresult {
  color: #000;
}

.sheet-rolltemplate-attack .sheet-fumble, .sheet-rolltemplate-defense .sheet-fumble {
  background-color: #000;
  color: #ec008c;
  font-style: italic;
}

.sheet-rolltemplate-attack .sheet-fumble .inlinerollresult, .sheet-rolltemplate-defense .sheet-fumble .inlinerollresult {
  color: #000;
}