
@import abstracts/_mixins
@import abstracts/_variables
@import abstracts/_layout
@import components/components

.charsheet
    #famille,
    #ambition
        height: 75px
        width: 95%

    #excentricite,
    #crise
        height: 90px

    #equipement
        height: 120px

    #avantage
        @include textareaLined(22px, 20px)
        height: 45px

    #identity
        rotate: -3deg

    #power
        rotate: 2deg

    .postit
        background-color: #ee9
        box-shadow: black 5px 5px 8px
        box-sizing: border-box

        & input[type=text]
            background: none

    .panel
        border: solid black 1px
        border-radius: 20px
        background-color: white

    input[name=attr_character_name]
        width: 340px
    input[name=attr_occupation]
        width: 280px
    input[name=attr_powa]
        width: 390px

    h3
        text-align: center
    h3.blue,
    label.blue
        color: $color_blue

    h3.red,
    label.red
        color: $color_red

.sheet-rolltemplate-tgcq
    width: 100%
    background: conic-gradient(from 0deg at center, #f7bbbb, #c2d5f5, #b1f1dc, #d6c8fb, #f7bbbb) white
    border: solid gray 1px
    text-align: center

    &> h1
        font-size: 16px
        font-weight: bold
        background: rgba(255,255,255,.5)
    &> .sheet-rollBody,
    &> .sheet-chaos
        padding: 5px

    .inlinerollresult,
    .inlinerollresult.fullcrit,
    .inlinerollresult.fullfail
        border: none
        background: none
