include components/components

main
    #identity.col.postit
        +textLabelled('character_name', 'Nom:', 'nom')
        +textLabelled('occupation', 'Occupation:', 'occupation')
        +textareaLabelled('famille', 'Liens & famille:', 'famille')
        +textareaLabelled('ambition', 'Ambition personnelle:', 'ambition')
    #power.col.postit
        +textLabelled('powa', 'Pouvoir ou zone d’influence:', 'powa')
        +textareaLabelled('excentricite', 'Excentricités:', 'excentricite')
        +textareaLabelled('crise', 'Crise:', 'crise')
    #skills.panel
        +screwed
        +carac('pouvoir', 'Pouvoir')
        +carac('muscle', 'Muscles')
        +carac('debrouille', 'Débrouille')
        +carac('neurone', 'Neurones')
        +carac('aplomb', 'Aplomb')
        +cbButton('d12', ' Utiliser 1d12', '1')
    #monitor.panel
        h3.red SANté
        +numberLabelled('san_max', 'Max', 'san_max', 0)
        +fillLeft('san', 'sante', 10, 0)
        +cbButton('aie', 'AÏE (-1)', '-1')
        h3.blue EQUilibre
        +numberLabelled('equ_max', 'Max', 'equ_max', 0)
        +fillLeft('equ', 'equilibre', 10, 0)
        +cbButton('deboussole', 'Déboussolé (-2)', '-2')

    #misc.col.panel
        +textareaLabelled('equipement', 'Équipement:', 'equipement')
        +textareaLabelled('avantage', 'Avantages & séquelles:', 'avantage')
include tgcq.rolltemplate
script(type='text/worker')
    include rolls.js