-
  const sheetModeArray = [
    { name: "sheet_mode", label: "Character", value: "character", type: "radio", blockName: "sheet-mode" },
    { name: "sheet_mode", label: "Hub", value: "hub", type: "radio", blockName: "sheet-mode" },
  ];
  const rollTypeArray = [
    { name: "normal",        label: "Normal",        value: "1d20" },
    { name: "advantage",     label: "Advantage",     value: "2d20kh1" },
    { name: "disadvantage",  label: "Disadvantage",  value: "2d20kl1" },
    { name: "always_query",  label: "Always Query",  value: "@{roll_query}" },
  ];
  const whisperTypeArray = [
    { name: "wtype", label: "Character", value: "character", type: "radio", blockName: "sheet-mode" },
    { name: "wtype", label: "Hub", value: "hub", type: "radio", blockName: "sheet-mode" },
  ];

  data.common.config = {
    fields: {
      sheetMode: { name: "sheet_mode", label: "Sheet Mode",
        options: sheetModeArray,
        type: "hidden", blockName: "config" },
      rtype: { name: "rtype", label: "Roll Queries",
        options: rollTypeArray,
        type: "select", blockName: "config" },
      wtype: { name: "wtype", label: "Whisper to GM", value: "/w gm ", type: "checkbox", blockName: "config" },
    },
  };
