-
  data.common.notes = {
    fields: {
      notetitle: { name: "note_title", label: "Title", placeholder: "Title", type: "text", blockName: "notes" },
      notebody: { name: "note_body", label: "Body", placeholder: "Notes", type: "textarea", blockName: "notes" },
    },
  };
