@import url("https://fonts.googleapis.com/css2?family=Almendra+SC&family=Lobster+Two&display=swap");
.tab-buttons button {
  background-color: #d82525;
  color: #fff;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 10px;
}
.tab-buttons button:active {
  background-color: #af0a0a;
}
.tab-buttons button:hover {
  border: 1px dashed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
}

/* Remove Spinners from input[type='number'] Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove Spinners from input[type='number'] Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*Sheet Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

textarea {
  resize: none;
  overflow-y: scroll;
  background-color: transparent;
}
hr {
  width: 80%;
  margin: 5px auto;
}
/*Commom Styles*/
.text-center {
  text-align: center;
}

.main-div,
.main-monster-div {
  background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg9fPGnAqukzX67eTW2lsZJpz5k-A0gCwUF6Dm9N1U9kDpefHBym2I9yKbDK0moREisYuBpOx3O63KUlNLOPamrnADb7fl-9r5hNWqW8dN4dy55tWiryw7JSbEEPTEfB-Vr6ULgtwyblPd5R6Lyydq-ll-D7A9pIbXs_Uwak9ECKcZG9vV1LuEroJse/s16000/sheet.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  padding: 2%;
}

.main-top-content,
.monster-encounter-details {
  width: 90%;
  margin: 20px auto;
  padding: 3%;
}
.title-and-subtitle {
  padding: 3%;
  margin: 5% 3%;
  text-align: center;
}

.sheet-title {
  display: inline-block;
  font-family: "Almendra SC", serif;
  font-size: 70px;
  font-weight: bold;
  transition: all 0.2s;
}
.sheet-subtitle {
  display: inline-block;
  font-family: "Lobster Two", cursive;
  font-size: 25px;
  font-style: italic;
  transition: all 0.2s;
}
/*Begin Hero*/

.hero-info {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 10px 0;
  padding: 0 3%;
}
/*Normal <details> styling*/
details > summary {
  list-style-type: "?";
  cursor: pointer;
}

details[open] > summary {
  list-style-type: "!";
  cursor: pointer;
}
details {
  padding: 0;
}

/*Workaround <details> styling*/
details {
  display: inline-block;
  width: 100%;
  padding: 0;
}
details > summary {
  list-style-type: none;
  display: inline-block;
  margin: 20px 0;
  border: 1px dashed #ccc;
  padding: 3px;
  font-size: 10px;
}

details > summary:hover {
  color: #3e8749;
}
details > summary::-webkit-details-marker {
  display: none;
}

details > summary::after {
  content: " ? ";
  cursor: pointer;
}

details[open] > summary::after {
  content: " ! ";
  cursor: pointer;
}
.characterviewer label {
  margin-bottom: 7px;
}
.hero-info input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}
.hero-stats-details {
  width: 90%;
  margin: 0 auto;
  padding: 0 3%;
}
.hero-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.hero-roll {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: #3e8749;
}

.hero-skill,
.hero-stamina,
.hero-luck {
  width: 150px;
  height: 120px;
  margin: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
.hero-roll label {
  text-align: center;
  background-color: #3e8749;
  color: white;
  width: 60px;
}
.hero-stamina label,
.hero-luck label {
  padding: 5px;
  text-align: center;
  background-color: #3e8749;
  color: white;
}
.hero-stats div input {
  outline: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  border: none;
}

.charsheet button[type="roll"].skill-roll-btn,
.charsheet button[type="roll"].skill-roll-btn:hover {
  border: none;
  background-color: transparent;
  background-position: 0 -68px;

  font-weight: bold;
  box-shadow: none;
  text-align: start;
}

.charsheet button[type="roll"].skill-roll-btn:before {
  font-family: "dicefontd6";
  content: "F";

  box-shadow: none;
  background-position: 0 -68px;
  box-shadow: none;
}
.sheet-sections {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 90%;
  margin: 3% auto;
  padding: 3%;
}
.hero-equipments-and-others {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px 5px;
  margin: 0 1% 1%;
}
.equipments,
.potions {
  margin: 10px auto;
  width: 98%;
}
.equipments-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.potions-header,
.backstory-header {
  margin: 10px 0;
}
.attr_equipment,
.attr_potions {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 5px auto;
}
.btn.repcontrol_add,
.btn.repcontrol_edit,
.btn.repcontrol_add:before,
.btn.repcontrol_edit:before,
.btn.repcontrol_add:after,
.btn.repcontrol_edit:after {
  border: 1px solid;

  background-position: 0 -28px;
  box-shadow: none;
}
.btn.repcontrol_add {
  background-color: #6ab175;
  color: #fff;
  margin: 5px 0;
}
.btn.repcontrol_edit {
  background-color: #e9646f;
  color: #fff;
  margin: 5px 0;
}

.repeating_equipments,
.repeating_potions {
  margin-bottom: 20px;
}
.hero-backstory-and-others {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}
.backstory {
  width: 100%;
}

.backstory-area {
  margin: 10px 0;
}
/*End Hero*/

/*Begin Monster*/

.monster-div {
  position: relative;
  float: left;
  width: 160px;
  border: 1px solid;
  margin-right: 60px;
  margin-top: 10px;
  left: 33px;
}
.monster-name {
  width: 100%;
  font-size: 25px;
  background-image: linear-gradient(#692b2b, #d63333);
  color: #fff;
  outline: 0;
}

.monster-name::placeholder {
  font-size: 16px;
  color: #fff;
}
.monster-stats {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100px;
}

.monster-stats-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.repeating_encounters {
  width: 90%;
}

.charsheet .repcontainer .repitem .itemcontrol {
  width: 230px !important;

  margin-right: 60px;
}
.ui-dialog .charsheet .repcontainer .repitem {
  margin-right: 50px;
}
.repcontainer[data-groupname="repeating_encounters"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
/*Media Queries*/
@media screen and (max-width: 400px) {
  .main-top-content {
    margin-top: 50px;
  }
  .sheet-title img {
    width: 100%;
  }
  .hero-info {
    flex-flow: column nowrap;
  }
  .hero-stats {
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 600px) {
  .hero-info {
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 800px) {
  .main-div,
  .main-monster-div {
    background-size: cover;
  }
  .sheet-sections {
    flex-flow: column nowrap;
  }

  .sheet-title {
    font-size: 40px;
  }
  .sheet-subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 875px) {
  .monster-div {
    width: 80%;
    margin: 10px auto;
  }
  .repcontainer[data-groupname="repeating_encounters"] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.charsheet .sheet-character,
.charsheet .sheet-notesAndMonsters {
  display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="hero"] ~ div.sheet-character,
.charsheet
  .sheet-tabstoggle[value="notesAndMonsters"]
  ~ div.sheet-notesAndMonsters {
  display: block;
}

.charsheet .sheet-character,
.charsheet .sheet-notesAndMonsters {
  max-width: 1000px;
  margin: 0 auto;
}
