/* Couleurs
    Base marron = #5C2E05
    Marron light = #BEAAA0
*/
div,
button,
textarea,
span,
input,
select,
table,
tr,
td,
th{
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 12px;
    /* vertical-align:top; */
}
div.sheet-mainBg{
    width: 832px;
    background-color: white;
    text-align: center;
    /* border:1px solid #5C2E05; */
}
table{
    width:100%;
    border-collapse: collapse;
}
table.sheet-tabsep{
    border-collapse: separate;
    border-spacing: 4px 2px;
}
.sheet-imghr{
    width: 820px;
    height: 5px;
    padding: 0px;
    /* box-shadow: 1px 1px 8px #555; */
}
.sheet-boxtitre{
    background-color: #5C2E05;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
}
.sheet-boxtitresmall{
    background-color: #5C2E05;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 1px 2px 1px 2px;
}
.sheet-boxinput{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: black;
    border: 1px solid #5C2E05;
    white-space: nowrap;
}
.sheet-boxinputleft{
    background-color: white;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: black;
    border: 1px solid #5C2E05;
    white-space: nowrap;
}
.sheet-boxinputlight{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: black;
    border: 1px solid #BEAAA0;
    white-space: nowrap;
}
.sheet-boxvoie{
    background-color: white;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: black;
    border-top: none;
    border-bottom: 1px dotted #5C2E05;
    border-left: 1px solid #5C2E05;
    border-right: 1px solid #5C2E05;
    white-space: nowrap;
}
.sheet-textfat{
    font-weight: bold;
    color: #5C2E05;
    border: none;
    text-align: center;
}
.sheet-textfatleft{
    font-weight: bold;
    color: #5C2E05;
    border: none;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}
.sheet-textbase{
    color: #5C2E05;
    border: none;
    text-align: center;
}
.sheet-textbasesmall{
    color: #5C2E05;
    border: none;
    font-size:11px;
}
.sheet-texttitresmall{
    color: white;
    font-size: 8px;
    font-weight: normal;
}
button[type="roll"].sheet-boxtitre{
    height:20px;
    font-size:11px;
    font-family: Verdana;
    font-weight: bold;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}
button[type="roll"].sheet-boxtitre:hover{
    background-color:#BEAAA0;
    border: 1px solide white;
}
button[type="roll"].sheet-neutre{
    color: #5C2E05;
    font-weight: normal;
    font-size: 20px;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin: 0px;
}
button[type="roll"].sheet-neutre:hover{
    font-weight: bold;
}
input, select{
    border: none;
    box-shadow: none;
    max-height: 22px;
    padding: 0px;
    margin: 0px;
}
select.sheet-carac{
    width: 62px;
}
select.sheet-selectmin{
    width: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="number"]{
    width: 60px;
    text-align: right;
}
input[type="text"]{
    width: 100%;
    text-align: left;
    padding-left: 4px;
}
input[disabled]{
    background-color: white;
    font-style: italic;
}
input:not([disabled]):hover{
    background-color: #BEAAA0;
}
select:not([disabled]):hover{
    background-color: #BEAAA0;
}
input.sheet-nobox{
    border-bottom: 2px dotted #5C2E05;
}
textarea{
    border: none;
    box-shadow: none;
    padding: 1px;
    margin: 0px;
    height: 1.5em;
    resize: vertical;
    vertical-align:top;
}
/* TEMPLATES */
.sheet-rolltemplate-co1 .sheet-imghr{
    width: 176px;
    height: 4px;
    padding: 0px;
    margin: 0px;
}
.sheet-rolltemplate-co1 table {
    width: 189px;
    padding: 2px;
    border: 1px solid #5C2E05;
    border-radius: 6px;
    background-color: #ffffff;
}
.sheet-rolltemplate-co1 th {
    color: #5C2E05;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    font-size: 13px;
    text-align: left;
    font-family: 'Verdana';
    font-variant: small-caps;
    font-weight: bold;
    white-space: nowrap;
}
.sheet-rolltemplate-co1 .sheet-subheader {
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-family: 'Verdana';
    font-variant: small-caps;
    text-align: right;
    white-space: nowrap;
}
.sheet-rolltemplate-co1 .sheet-tcat {
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    padding-right: 2px;
}
.sheet-rolltemplate-co1 td {
    margin: 0px;
    padding: 0px 5px 0px 5px;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
}
.sheet-rolltemplate-co1 .inlinerollresult  {
    background-color: rgba(255,255,255,0.9);
    border-width: 1px;
    border-color: #BEAAA0;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-co1 .inlinerollresult.fullcrit {
    color: #3FB315;
    border-width: 2px;
    border-color: #3FB315;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-co1 .inlinerollresult.fullfail {
    color: #B31515;
    border-width: 2px;
    border-color: #B31515;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-co1 .inlinerollresult.importantroll {
    color: #5C2E05;
    border-width: 2px;
    border-color: #5C2E05;
    border-style: solid;
    border-radius: 50%;
}
