/* On enlève les spinners pour les inputs de nombres
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
*/
/* Couleurs
    Base marron = #5C2E05
    Marron light = #BEAAA0
*/
div.charsheet,
button.charsheet,
span,
input,
select,
table,
tr,
td,
th{
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 12px;
}
tr,td,th {
    vertical-align:top !important;
}
.charsheet div.mainBg{
    width: 822px;
    background-color: white;
    /* border:1px solid #5C2E05; */
}
table{
    width:100%;
    border-collapse: collapse;
}
table.tabsep{
    border-collapse: separate;
    border-spacing: 4px 2px;
}
.imghr{
    width: 820px;
    height: 5px;
    padding: 0px;
    text-align: center;
    /* box-shadow: 1px 1px 8px #555; */
}
.imghr-up{
    width: 820px;
    height: 5px;
    padding: 0px;
    text-align: center;
    margin-top: -24px;
    /* box-shadow: 1px 1px 8px #555; */
}
.actionhr{
 margin:1px; 
 background-color: #5C2E05; 
 height:1px;
  
}
.sheet-rolltemplate-imghr{
    width: 820px;
    height: 5px;
    padding: 0px;
    text-align: center;
}
.boxtitre{
    background-color: #5C2E05;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
}
.boxtitre-atk{
    background-color: #CD171A;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
}
.boxtitre-car{
    background-color: #08516D;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
}
.boxtitre-chance{
    background-color: #8105D2;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
}
.boxtitre-def{
    background-color: #009FE3;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
}
.boxtitre-pv{
    background-color: #3FA535;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
}
.boxtitre-init{
    background-color: #FF9900;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 2px 4px 2px 4px;
}
.boxtitresmall{
    background-color: #5C2E05;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    color: white;
    border:none;
    white-space: nowrap;
    padding: 1px 2px 1px 2px;
    vertical-align: top;
}
.boxinput{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: black;
    border: 1px solid #5C2E05;
    white-space: nowrap;
}
.boxinput-atk{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #CD171A;
    border: 1px solid #CD171A;
    white-space: nowrap;
}
.boxinput-car{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #08516D;
    border: 1px solid #08516D;
    white-space: nowrap;
}
.boxinput-chance{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #8105D2;
    border: 1px solid #8105D2;
    white-space: nowrap;
}
.boxinput-def{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #009FE3;
    border: 1px solid #009FE3;
    white-space: nowrap;
}
.boxinput-pv{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #3FA535;
    border: 1px solid #3FA535;
    white-space: nowrap;
}
.boxinput-init{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #FF9900;
    border: 1px solid #E68A00;
    white-space: nowrap;
}
.boxinputleft{
    background-color: white;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: black;
    border: 1px solid #5C2E05;
    white-space: nowrap;
}
.boxinputleft-atk{
    background-color: white;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: #CD171A;
    border: 1px solid #CD171A;
    white-space: nowrap;
}
.boxinputleft-def{
    background-color: white;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: #009FE3;
    border: 1px solid #009FE3;
    white-space: nowrap;
}
.title{
  margin-left:3px;
  margin-right:3px;
  width: 90%;
}
.atk {
  color: #CD171A;
}
.car {
  color: #08516D;
}
.chance {
  color: #8105D2;
}
.def {
  color: #009FE3;
}
.pv {
  color: #3FA535;
}
.init {
  color: #FF9900;
}
.boxinputlight{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: black;
    border: 1px solid #BEAAA0;
    white-space: nowrap;
}
.boxinputlight-atk{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #CD171A;
    border: 1px solid #CD171A;
    white-space: nowrap;
}
.boxinputlight-car{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #08516D;
    border: 1px solid #08516D;
    white-space: nowrap;
}
.boxinputlight-chance{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #8105D2;
    border: 1px solid #8105D2;
    white-space: nowrap;
}
.boxinputlight-def{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #009FE3;
    border: 1px solid #009FE3;
    white-space: nowrap;
}
.boxinputlight-init{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #FF9900;
    border: 1px solid #E68A00;
    white-space: nowrap;
}
.boxvoie{
    background-color: white;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: black;
    border-top: none;
    border-bottom: 1px dotted #5C2E05;
    border-left: 1px solid #5C2E05;
    border-right: 1px solid #5C2E05;
    white-space: nowrap;
}

.boxtext {
  width: 266px;
  padding: 2px;
}

textarea.boxability {
  width: 100%;
}

span.boxability,
.charsheet div.boxability {
  white-space: pre-wrap;
  font-size: x-small;
  user-select: text;
}

.charsheet div.boxability {
  padding: 5px;
}

input[type="text"].nomvoie {
  width: 99%;
  font-weight: bold;
  text-align: center;
}

input[type="text"].titreability {
  width: 80%;
  font-size: x-small;
  font-weight: bold;
  margin-left:8px;
}

input[type="text"].titreability2 {
  width: 94%;
  font-weight: bold;
  margin-left: -3px;
}

.sheet-rolltemplate-text{
    color: #5C2E05;
}

.textfat{
    font-weight: bold;
    color: #5C2E05;
    border: none;
    text-align: center;
}
.textfat-atk{
    font-weight: bold;
    color: #CD171A;
    border: none;
    text-align: center;
}
.textfat-car{
    font-weight: bold;
    color: #08516D;
    border: none;
    text-align: center;
}
.textfat-chance{
    font-weight: bold;
    color: #8105D2;
    border: none;
    text-align: center;
}
.textfat-def{
    font-weight: bold;
    color: #009FE3;
    border: none;
    text-align: center;
}
.textfat-pv{
    font-weight: bold;
    color: #3FA535;
    border: none;
    text-align: center;
}
.textleft{
    color: #5C2E05;
    border: none;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}
.textfatleft{
    font-weight: bold;
    color: #5C2E05;
    border: none;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}
.textfatleft-atk{
    font-weight: bold;
    color: #CD171A;
    border: none;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}
.textbase{
    color: #5C2E05;
    border: none;
    text-align: center;
}
.textbase-atk{
    color: #CD171A;
    border: none;
    text-align: center;
}
.textbase-car{
    color: #08516D;
    border: none;
    text-align: center;
}
.textbase-chance{
    color: #8105D2;
    border: none;
    text-align: center;
}
.textbase-def{
    color: #009FE3;
    border: none;
    text-align: center;
}
.textbase-pv{
    color: #3FA535;
    border: none;
    text-align: center;
}
.textbasesmall{
    color: #5C2E05;
    border: none;
    font-size:11px;
}
.texttitresmall{
    color: white;
    font-size: 8px;
    font-weight: normal;
}
.charsheet button[type="roll"].boxtitre,
.charsheet button[type="roll"].boxtitre-atk,
.charsheet button[type="roll"].boxtitre-car,
.charsheet button[type="roll"].boxtitre-chance,
.charsheet button[type="roll"].boxtitre-def,
.charsheet button[type="roll"].boxtitre-pv,
.charsheet button[type="roll"].boxtitre-init
{
    height:20px;
    font-size:11px;
    font-family: Verdana;
    font-weight: bold;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}
.charsheet button[type="roll"].boxtitre:hover{
    background-color:#BEAAA0;
    border: 1px solide white;
}
.charsheet button[type="roll"].boxtitre-atk:hover{
    background-color:#F28C8E;
    border: 1px solide white;
}
.charsheet button[type="roll"].boxtitre-car:hover{
    background-color:#88D7F6;
    border: 1px solide white;
}
.charsheet button[type="roll"].boxtitre-def:hover{
    background-color:#80D9FF;
    border: 1px solide white;
}
.charsheet button[type="roll"].boxtitre-pv:hover{
    background-color:#A4E09F;
    border: 1px solide white;
}
.charsheet button[type="roll"].boxtitre-init:hover{
    background-color:#FFD699;
    border: 1px solide white;
}
.charsheet button[type="roll"].neutre{
    color: #5C2E05;
    font-weight: normal;
    font-size: 20px;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin: 0px;
}
.charsheet button[type="roll"].atk{
    color: #CD171A;
    font-weight: normal;
    font-size: 20px;
    text-decoration:none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin: 0px;
}
.charsheet button[type="roll"].neutre:hover,
.charsheet button[type="roll"].atk:hover,
{
    font-weight: bold;
}
input, select{
    border: none;
    box-shadow: none;
    max-height: 22px;
    padding: 0px;
    margin: 0px;
}
span.input{
  vertical-align: middle;
}
select.carac{
    width: 50px;
}
select.carac-atk{
    width: 50px;
    color: #CD171A;
}
select.carac-pv{
    width: 44px;
    color: #3FA535;
}
select.selectmin{
    width: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.selectmin-car{
    width: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #08516D;
}
input[type="number"]{
    width: 60px;
    text-align: right;
}
input[type="text"]{
    width: 100%;
    text-align: left;
    padding-left: 4px;
}
input[disabled]{
    background-color: white;
    font-style: italic;
}
input:not([disabled]):hover{
    background-color: #BEAAA0;
}
input.atk:not([disabled]):hover{
    background-color: #FCE8E8;
}
input.car:not([disabled]):hover{
    background-color: #E7F7FD;
}
input.chance:not([disabled]):hover{
    background-color: #F5E6FE;
}
input.def:not([disabled]):hover{
    background-color: #E6F7FF;
}
input.pv:not([disabled]):hover{
    background-color: #EDF9EC;
}
input.init:not([disabled]):hover{
    background-color: #FFF5E6;
}
select:not([disabled]):hover{
    background-color: #BEAAA0;
}
select.carac-atk:not([disabled]):hover{
    background-color: #FCE8E8;
}
select.carac-pv:not([disabled]):hover{
    background-color: #EDF9EC;
}
input.nobox{
    border-bottom: 2px dotted #5C2E05;
}
.charsheet textarea{
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 12px;
    border: none;
    box-shadow: none;
    padding: 1px;
    margin: 0px;
    resize: vertical;
    vertical-align:top;
}
textarea.ligne{
    height: 1.5em;
}
textarea.voixdesc{
    resize: none;
    height: 100%;
    overflow-y: auto;
}
.container{
  display:flex;
  justify-content:space-between;
}
.containerl{
  display:flex;
}
.containera{
  display:flex;
  justify-content:space-around;
}

/* TABS */
.charsheet div.tab-content { display: none; }
input.fp1:checked ~ div.fp1,
input.fp2:checked ~ div.fp2,
input.fp3:checked ~ div.fp3,
input.tab1:checked ~ div.tab1,
input.tab2:checked ~ div.tab2,
input.tab3:checked ~ div.tab3,
input.tab4:checked ~ div.tab4,
input.tab5:checked ~ div.tab5,
input.setting-generic:checked ~ div.setting-generic,
input.setting-arran:checked ~ div.setting-arran,
input.attacktab1:checked ~ div.attacktab1,
input.attacktab2:checked ~ div.attacktab2 { display: block; }

input.tab {
    width: 110px;
    height: 18px;
    position: relative;
    color: #5C2E05;
    vertical-align: middle;
    left: 50px;
    margin: -52px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

input.tab + span::before {
    content: attr(title);
    border: solid 1px #c8c8c8;
    border-bottom-color: black;
    border-bottom-width: thin;
    text-align: center;
    display: inline-block;
    background: #fff;
    width: 108px;
    height: 18px;
    z-index: 1;
}
input.tab:checked + span::before {
    background: #dcdcdc;
    border-bottom-color: #fff;
    border-bottom-width: 5px
}
input.hidden-tab {
  display: none;
  height: 0px;
  position: relative;
  top: -10px;
}
input.attacktab {
    width: 110px;
    height: 18px;
    position: relative;
    color: #5C2E05;
    vertical-align: middle;
    left: 50px;
    margin: -52px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

input.attacktab + span::before {
    content: attr(title);
    border: solid 1px #c8c8c8;
    border-bottom-color: black;
    border-bottom-width: thin;
    text-align: center;
    display: inline-block;
    background: #fff;
    width: 108px;
    height: 18px;
    z-index: 1;
}
input.attacktab:checked + span::before {
    background: #dcdcdc;
    border-bottom-color: #fff;
    border-bottom-width: 5px
}
.block-switch{
  z-index: 1;
  position: relative;
  margin-bottom: -10px;
}
.block-hidden, .block-show {
  position:relative;
  margin-top: -10px;
}
.block-hidden {
  left: 15px;
}
.block-hidden,
.block-switch:checked ~ .block-show {
  display: block;
}

.block-show,
.block-switch:checked ~ .block-hidden {
  display: none;
}

/*Optional block switch, no margin */
.optional-block-switch {
  display: none;
  position: relative;
}
.optional-block {
  display: none;
  position:relative;
}
.optional-block-switch:checked ~ .optional-block {
  display: block;
}

/* Switch -- styled checkboxes */

input[type="checkbox"].block-switch-arrow {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 2;    
}
input[type="checkbox"].block-switch-arrow + span::before {
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    margin-left: 2px;
    margin-right: -14px;
    content: "►";
    font-size: 12px;    
    z-index: 1;    
}
input[type="checkbox"].block-switch-arrow:checked + span::before {
    content: "▼";
}
.block-hidden-arrow,
.block-switch-arrow:checked ~ .block-show-arrow {
  display: block;
}
.block-show-arrow,
.block-switch-arrow:checked ~ .block-hidden-arrow {
  display: none;
}

input[type="checkbox"].block-switch-b {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;    
}
.block-hidden-b,
.block-switch-b:checked ~ .block-show-b {
  display: block;
}
.block-show-b,
.block-switch-b:checked ~ .block-hidden-b {
  display: none;
}

/* Optional display -- Gears */

.options-flag {
  opacity: 0;
  top: -8px;
  right: 0px;
  position: absolute;
  width: 16px;
  min-height: 16px;
  z-index: 2;
}

.options-flag + span {
  top: -8px;
  right: 0px;
  position: absolute;
  white-space: nowrap;
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-family: pictos;
  color: #BBBBBB;
  cursor: pointer;
  margin-top: 0px;
  display: none;
}

.options-flag:hover + span,.options-flag:checked + span {
  color: #C3996B;
  display: block;
}

.charsheet button.flatbtn {
  border: 0px;
  background-color: transparent;
  background-image: none;
  font-size: 12px !important;
}

.charsheet button.iconbtn {
  font-family: pictos;
}

.charsheet button[type='roll'].iconbtn::before {
  content: '';
}
.attack:hover .options-flag + span {
  display: block;
}

.options {
  display: none;
}

.options-flag:checked ~ .options {
  display: block;
}

.setup-abilities {
  float: right;
}

/* Nombres sans spinners */
input.nombre::-webkit-outer-spin-button,
input.nombre::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].nombre {
    -moz-appearance: textfield;
    width: 32px;
    vertical-align: top;
}

/* TEMPLATES */
.sheet-rolltemplate-co1 .sheet-rolltemplate-imghr{
    width: 176px;
    height: 4px;
    padding: 0px;
    margin: 0px;
}
.sheet-rolltemplate-co1 table {
    width: 189px;
    padding: 2px;
    border: 1px solid #5C2E05;
    border-radius: 6px;
    background-color: #ffffff;
}
.sheet-rolltemplate-co1 th {
    color: #5C2E05;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    font-size: 13px;
    text-align: left;
    font-family: 'Verdana';
    font-variant: small-caps;
    font-weight: bold;
    white-space: nowrap;
}
.sheet-rolltemplate-co1 .sheet-rolltemplate-subheader {
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-family: 'Verdana';
    font-variant: small-caps;
    text-align: right;
    white-space: nowrap;
}
.sheet-rolltemplate-co1 .sheet-rolltemplate-tcat {
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    padding-right: 2px;
}
.sheet-rolltemplate-co1 div.sheet-rolltemplate-desc{
    padding-top: 2px;
    max-height: 150px;
    overflow-y: auto;
}
.sheet-rolltemplate-co1 td {
    margin: 0px;
    padding: 0px 5px 0px 5px;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
}
.sheet-rolltemplate-co1 .inlinerollresult  {
    background-color: rgba(255,255,255,0.9);
    border-width: 1px;
    border-color: #BEAAA0;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-co1 .inlinerollresult.fullcrit {
    color: #3FB315;
    border-width: 2px;
    border-color: #3FB315;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-co1 .inlinerollresult.fullfail {
    color: #B31515;
    border-width: 2px;
    border-color: #B31515;
    border-style: solid;
    border-radius: 50%;
}
.sheet-rolltemplate-co1 .inlinerollresult.importantroll {
    color: #5C2E05;
    border-width: 2px;
    border-color: #5C2E05;
    border-style: solid;
    border-radius: 50%;
}

