include ../mixins/headers
include ../mixins/body
include ../mixins/outcomes

rolltemplate.sheet-rolltemplate-ironcrunch_progress
  div.sheet-roll-container
    | {{#vow}}
    +vowHeader 
    +vowBody
    | {{#rollGreater() vow challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +opportunity
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() vow challenge2}}
    +strongHit
    | {{/rollGreater() vow challenge2}}
    | {{#^rollGreater() vow challenge2}}
    +weakHit
    | {{/^rollGreater() vow challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/rollGreater() vow challenge1}}
    | {{#^rollGreater() vow challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +complication
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() vow challenge2}}
    +weakHit
    | {{/rollGreater() vow challenge2}}
    | {{#^rollGreater() vow challenge2}}
    +miss
    | {{/^rollGreater() vow challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/^rollGreater() vow challenge1}}
    | {{/vow}}