@import url('https://fonts.googleapis.com/css?family=Girassol|Merienda|Nothing+You+Could+Do|Playfair+Display|Roboto+Slab&display=swap');
/*
font-family: 'Girassol', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Merienda', cursive;
font-family: 'Roboto Slab', serif;
*/
/*----------- Basic Formatting -------------*/

.sheet-characterwrapper {
	border: 30px solid transparent;
	padding: 5px 15px;
	border-image: url(https://i.imgur.com/rpDlQd4.jpg) 60 round;
	border-image-slice: 60 fill;
	min-height: 500px;
}
.sheet-profile {
	
}
.sheet-invisible {display:none;}
/*----------- Paging -----------------------*/
/*Configure the tab buttons*/
.sheet-profile,
.sheet-stress {
	display: none;
	font-family: 'Nothing You Could Do', cursive;
}
/* show the selected tab */
.sheet-tabstoggle[value="profile"] ~ div.sheet-profile,
.sheet-tabstoggle[value="stress"] ~ div.sheet-stress {
	display: block;
}
.sheet-menuwrapper {
	text-align: right;
}
.charsheet .sheet-menuwrapper button.sheet-tab {
	font-size: 1em;
	padding: 2px 5px;
	margin: 0px 3px;
	font-family: 'Girassol', cursive;
	border: 3px groove #305496;
	background: black;
	color: white;
	border-radius: 0px;
	vertical-align: bottom;
}
.charsheet .sheet-menuwrapper button.sheet-tab:before {content:"";}
.sheet-menuwrapper span{ 
	font-family: 'Girassol', cursive;
	font-size: 50px;
	color: white;
	position: absolute;
	top: 80px;
	left: 85px;
	mix-blend-mode: overlay;
	
}

/*----------- Repeating Buttons ----------*/
.charsheet button.repcontrol_edit, .charsheet button.repcontrol_add {
	padding: 2px 5px;
	margin: 0px 3px;
	font-family: 'Girassol', cursive;
	border: 3px groove #305496;
	background: black;
	color: white;
	border-radius: 0px;
	vertical-align: bottom;
}
.charsheet button.repcontrol_del, .charsheet a.repcontrol_move {
	padding: 2px 5px;
	margin: 0px 3px;
	border: 3px groove #305496;
	background: black;
	color: white;
	border-radius: 0px;
	vertical-align: bottom;
}
/*---------- Flexbox Formatting ----------*/
.sheet-flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	flex-grow: 1;
}
.sheet-flexrow {
    display: flex;
    flex-flow: row wrap;
}
.sheet-smaller {
    flex-grow: 0;
	margin-right: 10px;
}
.sheet-bigger {
    flex-grow: 2;
}
/*------------ Big Info ----------------*/
.sheet-biginfo, .sheet-biginfo input {
	font-family: 'Girassol', cursive;
	font-weight: bolder;
	display: flex;
	flex-flow: row wrap;
	font-size: 24px;
	padding: 0px;
	padding-left: 20px;
	color: #305496;
}

.charsheet .sheet-biginfo input[type=text] {
	width: auto;
	flex-grow: 1;
	color: black;
}
.sheet-biginfo span {
	width: 160px;
}
.sheet-profile .sheet-biginfo:nth-of-type(1)::after {
	content: url("https://i.imgur.com/ITycFBR.png");
	position: absolute;
	right: 45px;
	top: 145px;
	pointer-events: none;
}
.sheet-profile .sheet-biginfo:nth-of-type(2)::after {
	content: url("https://i.imgur.com/TLF23yn.png");
	position: absolute;
	right: 45px;
	top: 185px;
	pointer-events: none;
}
.sheet-profile .sheet-biginfo:nth-of-type(3)::after {
	content: url("https://i.imgur.com/Yt7ml4P.png");
	position: absolute;
	right: 45px;
	top: 215px;
	pointer-events: none;
}
/*------------ Check Lists -------------*/
.charsheet .sheet-check-listing {
	font-family: 'Girassol', cursive;
	width: 204px;
}
.sheet-check-listing label h1 {
	font-size: 24px;
	padding: 2px 0px;
}

.sheet-check-listing .sheet-labelradio {
	margin: 0px;
	padding: 2px 15px;
}

.sheet-check-listing input:checked+span, .sheet-check-listing input:checked + span h1 {
	color: #C21F40;
}
.sheet-check-listing .sheet-flexrow:nth-child(even) {
	background-color: #e9eef5;
	border-radius: 2px 2px 2px 18px;
}

/*----------DIV Table ----------*/

.sheet-divTable{
	display: table;
	box-sizing: border-box;
	width: 100%;
	border: 10px solid;
}
.sheet-divTableRow {
	display: table-row;
	width:100%;
}
.sheet-divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.sheet-divTableCell, .sheet-divTableHead {
	border: 0px solid #999999;
	display: table-cell;
}
.sheet-divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.sheet-divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.sheet-divTableBody {
	display: table-row-group;
}
.sheet-colStress {width: 90px; padding-left: 10px;}
.sheet-colResistance {width:100px; }
.sheet-colCurrent {width: 70px;text-align:center;}
.sheet-colFallout {width:auto;}

.sheet-divTable .sheet-divTableRow:nth-of-type(odd) {
	background-color: #caceeb;
}
/*---------- Stress -----------*/
.sheet-stress input[type=text].sheet-stress-header {
	background: #C21F40;
	font-family: 'Girassol', cursive;
	color: white;
	font-size: 18px;
	height: 24px;
	display: inline-block;
	border-radius: 0px 20px 0px 0px;
}
.sheet-stress button[type=roll].sheet-fallout {
	background: #C21F40;
	padding: 2px 5px;
	padding-left: 15px;
	margin: 0px;
	font-family: 'Girassol', cursive;
	font-size: 16px;
	color: white;
	border-radius: 0px;
	vertical-align: bottom;
	border-radius: 20px 0px 0px 0px;
	right: 0px;
	border: 0px;
	box-sizing: border-box;
	height: 24px;
}
.sheet-stress input[type=number].sheet-stress-result {
	background: #C21F40;
	font-family: 'Girassol', cursive;
	font-size: 16px;
	color: white;
	padding: 0px;
	margin-left: 15px;
	width: 30px;
	cursor: pointer;
}
.sheet-stressjustify {justify-content: space-between; margin-top: 10px;}
.sheet-stress button.sheet-fallout::before {content:"";}

.sheet-stress {font-family: 'Merienda', cursive;}

.sheet-stress .sheet-divTableHeading {
	background: #1c242f;
	font-family: 'Girassol', cursive;
	color: white;
	font-size: 18px;
	
}
.sheet-stress .sheet-colResistance {
	text-align: center;
}
.sheet-stress .sheet-colFallout input[type=text] {width:100%;}
.sheet-stress .sheet-colCurrent input[type=number] {
	text-align: right;
	font-size: 16px;
	font-weight:bold;
}
/*---------- Stress Radios -------*/
input[type="radio"] {
	opacity: 0;
    position: relative;
    left: 14px;
	top: 2px;
    height:16px;
    margin-left: -15px;
    cursor: pointer;
    z-index: 1;
}
.sheet-radiostress + span::before {
    border: solid 1px #a8a8a8;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: #cc935a;
    background: radial-gradient(#cc935a, #cc935a);
    vertical-align: bottom;
    font-family: 'Pictos';
    
    color: #889f97;
    content: "";
    width: 10px;
    height: 10px;
    font-size: 30px;
    border-radius: 50%;
}

input[type="radio"]:checked ~ input[type="radio"] + span::before {
    /*------ This is the "empty" radio boxes -----------*/
    border: 1px solid #4a6464;
    background: #f6f6f6;
    -webkit-box-shadow: 0 0 3px 0 #4a6464;
    box-shadow: 0 0 3px 0 #dce4f0;
    background: radial-gradient(#75787e, #a1a6ae);
}
.sheet-radiostress + span::before {
    /* Filled radios up to the last */
    background: #C21F40;
    border-color: #46151f;
    -webkit-box-shadow: 0 0 3px 0 #2f777e;
    box-shadow: 0 0 3px 0 #2f777e;
}

/*---------- Inputs -----------*/

.charsheet input[type="text"], .charsheet input[type="number"] {
	border: 0px;
	background-color: transparent;
}
.charsheet input[type=text].sheet-knackinput {
	font-family: 'Merienda', cursive;
	display: none;
	background-color: #bcc8d8;
	flex-basis: 200px;
	flex-grow: 1;
	height: 20px;
	border-radius: 2px 2px 2px 18px;
	padding-left: 15px;
}
/*--------- Text Area Formatting -----*/
.charsheet label, .charsheet textarea {width:auto; flex-grow: 1;}
.charsheet textarea {
	font-family: 'Merienda', cursive;
	padding: 5px;
	padding-top: 35px;
	border: 2px solid #305496;
	font-size: 14px;
	margin: 0px 5px;
	margin-top: 10px;
	flex-grow: 1;
	resize: none;
}
.sheet-writebox {
	height: 150px;
}
.sheet-writebox span {
	color: #305496;
	font-family: 'Girassol', cursive;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 10px;
	position: absolute;
}
.sheet-writebox textarea:first-child {margin-left:0px;}
.sheet-writebox textarea:last-child {margin-right:0px;}
/*-------------- Checkbox -----------*/
input[type="checkbox"] {
    opacity: 0;
    position: relative;
    left: 15px;
    height:16px;
    margin-left: -10px;
    cursor: pointer;
    z-index: 1;
}

input[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #889f97;
    line-height: 14px;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: #889f97;
    background: radial-gradient(#08152c, #305496);
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 3px;
}

input[type="checkbox"]:checked + span::before {
    background: linear-gradient(to bottom, red 20%, #305496);
}

.sheet-none + span::before {
	background: black !important;
}
input[type="checkbox"]:checked.sheet-knackrevealer ~ .sheet-knackinput {
	display: inline-flex;
}
/*--------- Ability Formatting -------*/
.sheet-advances {
	display: flex;
	flex-grow: 1;
	flex-flow: column wrap;
	width: unset;
}
.charsheet .sheet-advances .sheet-advance-title {
	width: unset;
	font-family: 'Girassol', cursive;
	font-size: 22px;
	flex-grow: 1;
	height: 30px;
	background: #C21F40;
	color: black;
	padding-left: 20px;
	border-radius: 2px 50px 2px 2px
}
.charsheet .sheet-advances .sheet-advance-desc {
	background: #1c242f;
	flex-grow: 1;
	font-size: 14px;
	color: white;
	text-align: center;
	border-radius: 0px;
}
.charsheet .sheet-advances .sheet-advance-desc::placeholder {color:white;}
.charsheet .sheet-advances .sheet-advance-info {
	font-family: 'Merienda', cursive;
	margin: 0px;
	padding: 5px;
	background: white;
	font-size: 12px;
	border: 2px solid #305496;
	border-radius: 0px;
	resize: vertical;
	height: 18px;
	margin-bottom: 5px;
}
/*--------- Basic Formatting ---------*/
.sheet-header {
	font-family: 'Girassol', cursive;
	font-size: 24px;
	font-weight: bolder;
	color: #305496;
}

h1, h2, h3, h4 {
	display: inline-flex;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 14px;
	line-height: 14px;
}
h3 {
	font-size: 12px;
	line-height: 12px;
}
/*--------- Roll Template ----------*/

.sheet-rolltemplate-container {
	border: 2px solid black;
	font-family: 'Girassol', cursive;
}
.sheet-rolltemplate-container .sheet-header {
	padding-left: 10px;
	font-size: 24px;
	background: linear-gradient(to bottom, #C21F40, #1c242f);
	/*background: #305496;*/
	color: white;
	min-height: 30px;
	line-height: 30px;
}
.sheet-rolltemplate-container .sheet-description {
	margin-left: auto;
	text-align: right;
	font-family: 'Merienda', cursive;
	font-size: 12px;
	line-height: 24px;
	background: #1c242f;
	color: white;
	padding: 10px 5px;
	
}
.sheet-rolltemplate-container .sheet-result {
	font-size: 16px;
	height: 42px;
	line-height: 42px;
	background: #434d5b;
	text-align: center;
	margin-top: 10px;
	margin-bottom: -5px;
	border-radius: 50% 50% 0px 0px ;
}
.sheet-rolltemplate-container .sheet-result .inlinerollresult {
	background: none;
	border: none;
	color: white;
	height: 30px;
	width: 30px;
	font-family: 'Girassol', cursive;
	font-size: 30px;
}
/*---------- Scrollbar ---------*/

textarea::-webkit-scrollbar {
  width: 10px;
}
 
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
textarea::-webkit-scrollbar-thumb {
  background-color: #C21F40;
  outline: 1px solid #C21F40;
}