//- p lowercase = pencil
mixin editFlag(name)
	- const attr = name ? `flag_${attrName(name)}` : 'flag'
	input.flag(name=`attr_${attr}` title=`edit flag` type='checkbox' value='true' checked)
	span.pictos p
