.grid.double-border-2.rounded-md.content-start.p-2.repeating-container.relative.talents
    +title('talents')
    +subheaders(['name', 'level'])
    fieldset(class=`repeating_talents`)
        .grid.descriptor.relative.gap-1
            +editFlag()
            .grid.grid-flow-col.gap-2.custom-grid
                .grid
                    span.display(name=`attr_${attrName('name')}`)
                    .edit.grid.grid-flow-col.gap-2.col-auto-fr
                        h4(data-i18n='name')
                        +textInput('name')
                .grid
                    span.display.text-center(name=`attr_${attrName('level')}`)
                    .edit.grid.grid-flow-col.gap-2.col-auto-fr
                        h4(data-i18n='level')
                        +textInput('level')
            +repeatingChatButton("name")
            .grid.notes
                span.display.pl-4(name='attr_notes')
                +textarea('notes')