{% raw %}
<!-- Roll Templates -->
<rolltemplate class="sheet-rolltemplate-skill">
    <div class="header">{{name}}</div>
    {{#character}}
    <div class="subheader">({{character}})</div>
    {{/character}}
    <div class="difficulty">{{#rollGreater() fatigue_skills 0}} {{#rollTotal() fatigue_skills 1}}<span data-i18n="hard-u">Hard</span>{{/rollTotal() fatigue_skills 1}}{{#rollTotal() fatigue_skills 2}}<span data-i18n="formidable-u">Formidable</span>{{/rollTotal() fatigue_skills 2}}{{#rollTotal() fatigue_skills 3}}<span data-i18n="herculean-u">Herculean</span>{{/rollTotal() fatigue_skills 3}}{{#rollTotal() fatigue_skills 4}}<span data-i18n="hopeless-u">Hopeless</span>{{/rollTotal() fatigue_skills 4}}{{#rollTotal() fatigue_skills 5}}<span data-i18n="no-action-allowed-u">No action allowed</span>{{/rollTotal() fatigue_skills 5}}, <span data-i18n="due-to-fatigue-u">due to fatigue</span> {{/rollGreater() fatigue_skills 0}}</div>
    <div class="difficulty">{{#rollTotal() encumbered 2}}{{#rollGreater() encumbrance_skills 0}} {{#rollTotal() encumbrance_skills 1}}<span data-i18n="one-grade-harder-u">+1 grade harder</span>{{/rollTotal() encumbrance_skills 1}}{{#rollTotal() encumbrance_skills 2}}<span data-i18n="two-grades-harder-u">+2 grades harder</span>{{/rollTotal() encumbrance_skills 2}}{{#rollTotal() encumbrance_skills 3}}<span data-i18n="impossible-u">Impossible</span>{{/rollTotal() encumbrance_skills 3}}, <span data-i18n="due-to-enc-u">due to ENC</span>{{/rollGreater() encumbrance_skills 0}}{{/rollTotal() encumbered 2}}</div>
    {{#ship_condition_skills}}
    <div class="difficulty">{{#rollGreater() ship_condition_skills 1}}{{#rollTotal() ship_condition_skills 2}}<span data-i18n="hard-u">Hard</span>{{/rollTotal() ship_condition_skills 2}}{{#rollTotal() ship_condition_skills 3}}<span data-i18n="formidable-u">Formidable</span>{{/rollTotal() ship_condition_skills 3}}{{#rollTotal() ship_condition_skills 4}}<span data-i18n="herculean-u">Herculean</span>{{/rollTotal() ship_condition_skills 4}}, <span data-i18n="due-to-ship-condition-u">due to ship condition</span>{{/rollGreater() ship_condition_skills 1}}</div>
    {{/ship_condition_skills}}
    <table>
        <tr style="background:#DFF0D8;">
          <td class="template_label"><span data-i18n="very-easy-u">Very Easy</span>:</td>
          <td class="template_value">{{rolled}}&le;{{very_easy}}</td>
          <!-- Auto Succeed -->
          {{#rollLess() rolled 6}}
          {{#rollBetween() rolled 1 very_easy_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 very_easy_crit}}
          {{#rollGreater() rolled very_easy_crit}}
          <td>&#10003;</td>
          {{/rollGreater() rolled very_easy_crit}}
          {{/rollLess() rolled 6}}
          <!-- Not Fumble -->
          {{#rollBetween() rolled 6 95}}
          {{#rollBetween() rolled 1 very_easy_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 very_easy_crit}}
          {{#rollGreater() rolled very_easy_crit}}
          {{#rollBetween() rolled very_easy_crit very_easy}}
          <td>&#10003;</td>
          {{/rollBetween() rolled very_easy_crit very_easy}}
          {{#rollGreater() rolled very_easy}}
          <td>&#10005;</td>
          {{/rollGreater() rolled very_easy}}
          {{/rollGreater() rolled very_easy_crit}}
          {{/rollBetween() rolled 6 95}}
          <!-- Auto Fail -->
          {{#rollGreater() rolled 95}}
          {{#rollGreater() very_easy 100}}
          {{#rollLess() rolled 100}}
          <td>&#10005;</td>
          {{/rollLess() rolled 100}}
          {{#rollTotal() rolled 100}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollTotal() rolled 100}}
          {{/rollGreater() very_easy 100}}
          {{#rollLess() very_easy 101}}
          {{#rollLess() rolled 99}}
          <td>&#10005;</td>
          {{/rollLess() rolled 99}}
          {{#rollGreater() rolled 98}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollGreater() rolled 98}}
          {{/rollLess() very_easy 101}}
          {{/rollGreater() rolled 95}}
        </tr>
        <tr style="background:#D9EDF7;">
          <td class="template_label"><span data-i18n="easy-u">Easy</span>:</td>
          <td class="template_value">{{rolled}}&le;{{easy}}</td>
          <!-- Auto Succeed -->
          {{#rollLess() rolled 6}}
          {{#rollBetween() rolled 1 easy_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 easy_crit}}
          {{#rollGreater() rolled easy_crit}}
          <td>&#10003;</td>
          {{/rollGreater() rolled easy_crit}}
          {{/rollLess() rolled 6}}
          <!-- Not Fumble -->
          {{#rollBetween() rolled 6 95}}
          {{#rollBetween() rolled 1 easy_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 easy_crit}}
          {{#rollGreater() rolled easy_crit}}
          {{#rollBetween() rolled easy_crit easy}}
          <td>&#10003;</td>
          {{/rollBetween() rolled easy_crit easy}}
          {{#rollGreater() rolled easy}}
          <td>&#10005;</td>
          {{/rollGreater() rolled easy}}
          {{/rollGreater() rolled easy_crit}}
          {{/rollBetween() rolled 6 95}}
          <!-- Auto Fail -->
          {{#rollGreater() rolled 95}}
          {{#rollGreater() easy 100}}
          {{#rollLess() rolled 100}}
          <td>&#10005;</td>
          {{/rollLess() rolled 100}}
          {{#rollTotal() rolled 100}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollTotal() rolled 100}}
          {{/rollGreater() easy 100}}
          {{#rollLess() easy 101}}
          {{#rollLess() rolled 99}}
          <td>&#10005;</td>
          {{/rollLess() rolled 99}}
          {{#rollGreater() rolled 98}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollGreater() rolled 98}}
          {{/rollLess() easy 101}}
          {{/rollGreater() rolled 95}}
        </tr>
        <tr style="background:#D3D3D3;">
          <td class="template_label"><span data-i18n="standard-u">Standard</span>:</td>
          <td class="template_value">{{rolled}}&le;{{standard}}</td>
          <!-- Auto Succeed -->
          {{#rollLess() rolled 6}}
          {{#rollBetween() rolled 1 standard_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 standard_crit}}
          {{#rollGreater() rolled standard_crit}}
          <td>&#10003;</td>
          {{/rollGreater() rolled standard_crit}}
          {{/rollLess() rolled 6}}
          <!-- Not Fumble -->
          {{#rollBetween() rolled 6 95}}
          {{#rollBetween() rolled 1 standard_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 standard_crit}}
          {{#rollGreater() rolled standard_crit}}
          {{#rollBetween() rolled standard_crit standard}}
          <td>&#10003;</td>
          {{/rollBetween() rolled standard_crit standard}}
          {{#rollGreater() rolled standard}}
          <td>&#10005;</td>
          {{/rollGreater() rolled standard}}
          {{/rollGreater() rolled standard_crit}}
          {{/rollBetween() rolled 6 95}}
          <!-- Auto Fail -->
          {{#rollGreater() rolled 95}}
          {{#rollGreater() standard 100}}
          {{#rollLess() rolled 100}}
          <td>&#10005;</td>
          {{/rollLess() rolled 100}}
          {{#rollTotal() rolled 100}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollTotal() rolled 100}}
          {{/rollGreater() standard 100}}
          {{#rollLess() standard 101}}
          {{#rollLess() rolled 99}}
          <td>&#10005;</td>
          {{/rollLess() rolled 99}}
          {{#rollGreater() rolled 98}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollGreater() rolled 98}}
          {{/rollLess() standard 101}}
          {{/rollGreater() rolled 95}}
        </tr>
        <tr style="background:#FCF8E3;">
          <td class="template_label"><span data-i18n="hard-u">Hard</span>:</td>
          <td class="template_value">{{rolled}}&le;{{hard}}</td>
          <!-- Auto Succeed -->
          {{#rollLess() rolled 6}}
          {{#rollBetween() rolled 1 hard_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 hard_crit}}
          {{#rollGreater() rolled hard_crit}}
          <td>&#10003;</td>
          {{/rollGreater() rolled hard_crit}}
          {{/rollLess() rolled 6}}
          <!-- Not Fumble -->
          {{#rollBetween() rolled 6 95}}
          {{#rollBetween() rolled 1 hard_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 hard_crit}}
          {{#rollGreater() rolled hard_crit}}
          {{#rollBetween() rolled hard_crit hard}}
          <td>&#10003;</td>
          {{/rollBetween() rolled hard_crit hard}}
          {{#rollGreater() rolled hard}}
          <td>&#10005;</td>
          {{/rollGreater() rolled hard}}
          {{/rollGreater() rolled hard_crit}}
          {{/rollBetween() rolled 6 95}}
          <!-- Auto Fail -->
          {{#rollGreater() rolled 95}}
          {{#rollGreater() hard 100}}
          {{#rollLess() rolled 100}}
          <td>&#10005;</td>
          {{/rollLess() rolled 100}}
          {{#rollTotal() rolled 100}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollTotal() rolled 100}}
          {{/rollGreater() hard 100}}
          {{#rollLess() hard 101}}
          {{#rollLess() rolled 99}}
          <td>&#10005;</td>
          {{/rollLess() rolled 99}}
          {{#rollGreater() rolled 98}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollGreater() rolled 98}}
          {{/rollLess() hard 101}}
          {{/rollGreater() rolled 95}}
        </tr>
        <tr style="background:#FFEBCC;">
          <td class="template_label"><span data-i18n="formidable-u">formidable</span>:</td>
          <td class="template_value">{{rolled}}&le;{{formidable}}</td>
          <!-- Auto Succeed -->
          {{#rollLess() rolled 6}}
          {{#rollBetween() rolled 1 formidable_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 formidable_crit}}
          {{#rollGreater() rolled formidable_crit}}
          <td>&#10003;</td>
          {{/rollGreater() rolled formidable_crit}}
          {{/rollLess() rolled 6}}
          <!-- Not Fumble -->
          {{#rollBetween() rolled 6 95}}
          {{#rollBetween() rolled 1 formidable_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 formidable_crit}}
          {{#rollGreater() rolled formidable_crit}}
          {{#rollBetween() rolled formidable_crit formidable}}
          <td>&#10003;</td>
          {{/rollBetween() rolled formidable_crit formidable}}
          {{#rollGreater() rolled formidable}}
          <td>&#10005;</td>
          {{/rollGreater() rolled formidable}}
          {{/rollGreater() rolled formidable_crit}}
          {{/rollBetween() rolled 6 95}}
          <!-- Auto Fail -->
          {{#rollGreater() rolled 95}}
          {{#rollGreater() formidable 100}}
          {{#rollLess() rolled 100}}
          <td>&#10005;</td>
          {{/rollLess() rolled 100}}
          {{#rollTotal() rolled 100}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollTotal() rolled 100}}
          {{/rollGreater() formidable 100}}
          {{#rollLess() formidable 101}}
          {{#rollLess() rolled 99}}
          <td>&#10005;</td>
          {{/rollLess() rolled 99}}
          {{#rollGreater() rolled 98}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollGreater() rolled 98}}
          {{/rollLess() formidable 101}}
          {{/rollGreater() rolled 95}}
        </tr>
        <tr style="background:#F2DEDE;">
          <td class="template_label"><span data-i18n="herculean-u">Herculean</span>:</td>
          <td class="template_value">{{rolled}}&le;{{herculean}}</td>
          <!-- Auto Succeed -->
          {{#rollLess() rolled 6}}
          {{#rollBetween() rolled 1 herculean_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 herculean_crit}}
          {{#rollGreater() rolled herculean_crit}}
          <td>&#10003;</td>
          {{/rollGreater() rolled herculean_crit}}
          {{/rollLess() rolled 6}}
          <!-- Not Fumble -->
          {{#rollBetween() rolled 6 95}}
          {{#rollBetween() rolled 1 herculean_crit}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 herculean_crit}}
          {{#rollGreater() rolled herculean_crit}}
          {{#rollBetween() rolled herculean_crit herculean}}
          <td>&#10003;</td>
          {{/rollBetween() rolled herculean_crit herculean}}
          {{#rollGreater() rolled herculean}}
          <td>&#10005;</td>
          {{/rollGreater() rolled herculean}}
          {{/rollGreater() rolled herculean_crit}}
          {{/rollBetween() rolled 6 95}}
          <!-- Auto Fail -->
          {{#rollGreater() rolled 95}}
          {{#rollGreater() herculean 100}}
          {{#rollLess() rolled 100}}
          <td>&#10005;</td>
          {{/rollLess() rolled 100}}
          {{#rollTotal() rolled 100}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollTotal() rolled 100}}
          {{/rollGreater() herculean 100}}
          {{#rollLess() herculean 101}}
          {{#rollLess() rolled 99}}
          <td>&#10005;</td>
          {{/rollLess() rolled 99}}
          {{#rollGreater() rolled 98}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollGreater() rolled 98}}
          {{/rollLess() herculean 101}}
          {{/rollGreater() rolled 95}}
        </tr>
        {{#rollTotal() show_reduced 1}}
        <tr>
          <td class="template_label">101+ <span data-i18n="reduced-u">reduced</span>:</td>
          <td class="template_value">{{rolled}}&le;100</td>
          <!-- Auto Succeed -->
          {{#rollLess() rolled 6}}
          {{#rollBetween() rolled 1 10}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 10}}
          {{#rollGreater() rolled 10}}
          <td>&#10003;</td>
          {{/rollGreater() rolled 10}}
          {{/rollLess() rolled 6}}
          <!-- Not Fumble -->
          {{#rollBetween() rolled 6 95}}
          {{#rollBetween() rolled 1 10}}
          <td>&#9733;</td>
          {{/rollBetween() rolled 1 10}}
          {{#rollGreater() rolled 10}}
          {{#rollBetween() rolled 10 100}}
          <td>&#10003;</td>
          {{/rollBetween() rolled 10 100}}
          {{#rollGreater() rolled 100}}
          <td>&#10005;</td>
          {{/rollGreater() rolled 100}}
          {{/rollGreater() rolled 10}}
          {{/rollBetween() rolled 6 95}}
          <!-- Auto Fail -->
          {{#rollGreater() rolled 95}}
          {{#rollLess() rolled 99}}
          <td>&#10005;</td>
          {{/rollLess() rolled 99}}
          {{#rollGreater() rolled 98}}
          <td><span style="font-weight: 900">!</span></td>
          {{/rollGreater() rolled 98}}
          {{/rollGreater() rolled 95}}
        </tr>
        {{/rollTotal() show_reduced 1}}
        {{#allprops() character show_reduced rolled encumbered encumbrance_skills fatigue_skills ship_condition_skills very_easy very_easy_crit easy easy_crit standard standard_crit hard hard_crit formidable formidable_crit herculean herculean_crit description notes}}
        <tr><td class="template_label">{{key}}:</td><td colspan="2" class="template_value">{{value}}</td></tr>
        {{/allprops() character show_reduced rolled encumbered encumbrance_skills fatigue_skills ship_condition_skills very_easy very_easy_crit easy easy_crit standard standard_crit hard hard_crit formidable formidable_crit herculean herculean_crit description notes}}
        {{#description}}
        <tr><td colspan="3">{{description}}</td></tr>
        {{/description}}
        {{#notes}}
        <tr><td colspan="3">{{notes}}</td></tr>
        {{/notes}}
    </table>
</rolltemplate>

<!-- &{template:weapon} {{name=@{name}}} @{name_display} {{damage=[[]]}} {{size=@{size}}} {{impale_size=@{impale_size}}} {{effects=@{effects}}} {{traits=@{traits}}} -->
<rolltemplate class="sheet-rolltemplate-weapon">
    <div class="header">{{name}}</div>
    {{#character}}
    <div class="subheader">({{character}})</div>
    {{/character}}
    <table>
        <tr style="background:#F2DEDE;"><td class="template_label"><span data-i18n="damage-u">Danage</span>:</td><td class="template_value">{{damage}}</td></tr>
        {{#size}}
            <tr><td class="template_label"><span data-i18n="size-u">Size</span>:</td><td class="template_value">{{size}}</td></tr>
        {{/size}}
        {{#force}}
            <tr><td class="template_label"><span data-i18n="force-u">Force</span>:</td><td class="template_value">{{force}}</td></tr>
        {{/force}}
        {{#impale_size}}
            <tr><td class="template_label"><span data-i18n="impale-size-u">Impale Size</span>:</td><td class="template_value">{{impale_size}}</td></tr>
        {{/impale_size}}
        {{#notes}}
            <tr><td colspan="2" class="template_value">{{notes}}</td></tr>
        {{/notes}}
    </table>
</rolltemplate>

<!-- Magic Template -->
<rolltemplate class="sheet-rolltemplate-magic">
    <div class="header">{{name}}</div>
    {{#character}}
    <div class="subheader">({{character}})</div>
    {{/character}}
    <table>
        {{#damage}}{{#rollGreater() damage 0}}
        <tr style="background:#F2DEDE;"><td class="template_label"><span data-i18n="damage-u">Damage</span>:</td><td class="template_value">{{damage}}</td></tr>
        {{/rollGreater() damage 0}}{{/damage}}
        {{#concentration}}
        <tr><td class="template_label"><span data-i18n="concentration-u">Concentration</span>:</td><td class="template_value">{{#rollTotal() concentration 0}}<span data-i18n="no-u">No</span>{{/rollTotal() concentration 0}}{{#rollTotal() concentration 1}}<span data-i18n="yes-u">Yes</span>{{/rollTotal() concentration 1}}</td></tr>
        {{/concentration}}
        {{#allprops() character concentration description damage ablation focus fortune precision swiftness mp_cost xp_cost cost time}}
        <tr><td class="template_label">{{key}}:</td><td class="template_value">{{value}}</td></tr>
        {{/allprops() character concentration description damage ablation focus fortune precision swiftness mp_cost xp_cost cost time}}
        {{#ablation}}{{#rollGreater() ablation 0}}
        <tr><td class="template_label"><span data-i18n="ablation-points-u">Ablation Points</span>:</td><td class="template_value">{{ablation}}</td></tr>
        {{/rollGreater() ablation 0}}{{/ablation}}
        {{#focus}}{{#rollGreater() focus 0}}
        <tr><td class="template_label"><span data-i18n="focus-points-u">Focus Points</span>:</td><td class="template_value">{{focus}}</td></tr>
        {{/rollGreater() focus 0}}{{/focus}}
        {{#fortune}}{{#rollGreater() fortune 0}}
        <tr><td class="template_label"><span data-i18n="fortune-points-u">Fortune Points</span>:</td><td class="template_value">{{fortune}}</td></tr>
        {{/rollGreater() fortune 0}}{{/fortune}}
        {{#precision}}{{#rollGreater() precision 0}}
        <tr><td class="template_label"><span data-i18n="precision-points-u">Precision Points</span>:</td><td class="template_value">{{precision}}</td></tr>
        {{/rollGreater() precision 0}}{{/precision}}
        {{#mp_cost}}
        <tr><td class="template_label"><span data-i18n="cost-u">Cost</span>:</td><td class="template_value">{{#rollGreater() mp_cost 0}}{{mp_cost}}{{/rollGreater() mp_cost 0}}{{#rollLess() mp_cost 1}}1{{/rollLess() mp_cost 1}} <span data-i18n="mp-u">MP</span>{{#rollGreater() xp_cost 0}} + {{xp_cost}} <span data-i18n="xp-u">XP</span>{{/rollGreater() xp_cost 0}}</td></tr>
        {{/mp_cost}}
        {{#cost}}{{#rollGreater() cost 0}}
        <tr><td class="template_label"><span data-i18n="cost-u">Cost</span>:</td><td class="template_value">{{cost}}</td></tr>
        {{/rollGreater() cost 0}}{{/cost}}
        {{#time}}
        {{#rollGreater() time 0}}
        <tr><td class="template_label"><span data-i18n="time-u">Time</span>:</td><td class="template_value">{{time}}</td></tr>
        {{/rollGreater() time 0}}
        {{#rollLess() time 1}}
        <tr><td class="template_label"><span data-i18n="time-u">Time</span>:</td><td class="template_value">1</td></tr>
        {{/rollLess() time 1}}
        {{/time}}
        {{#description}}
        <tr><td colspan="2">{{description}}</td></tr>
        {{/description}}
    </table>
</rolltemplate>

<!-- &{template:default} {{name=@{name}}} @{name_display} {{damage=[[1d8]]}} {{description=@{description}}} -->
<rolltemplate class="sheet-rolltemplate-default">
    <div class="header">{{name}}</div>
    {{#character}}
    <div class="subheader">({{character}})</div>
    {{/character}}
    <table>
        {{#allprops() character}}
        <tr><td class="template_label">{{key}}:</td><td class="template_value">{{value}}</td></tr>
        {{/allprops() character}}
    </table>
</rolltemplate>
{% endraw %}
