<!-- Effect Roll Template -->
<!-- {{'@{roll_display}&{template:effect} {{name=@{name}}} @{name_display} {{roll=[[1d100 + @{int}]]}} {{improvement=[[1d4+1+@{fumbled}]]}} {{skill=[[@{skill_total}]]}}'}} -->
<rolltemplate class="sheet-rolltemplate-effect">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}</div>
            {{'{{#tradition_id}}'}}
            <div class="sheet-skills">
                {{'{{#skill1_name}}'}}
                [{{'{{skill1_name}} {{skill1_total}}%'}}](~{{'{{character_id}}'}}|{{'{{tradition_id}}_skill1'}})
                {{'{{/skill1_name}}'}}
                {{'{{#skill2_name}}'}}
                [{{'{{skill2_name}} {{skill2_total}}%'}}](~{{'{{character_id}}'}}|{{'{{tradition_id}}_skill2'}})
                {{'{{/skill2_name}}'}}
            </div>
            {{'{{/tradition_id}}'}}
        </div>

        <div class="sheet-traits">
            <div>{{'{{traits}}'}}</div>
            <div>{{'{{advanced_traits}}'}}</div>
        </div>

        {{'{{#description}}'}}
        <hr>
        <div class="sheet-description">
            {{'{{description}}'}}
        </div>
        {{'{{/description}}'}}

    </div>
</rolltemplate>