<!-- Hit Table Roll Template -->
<!-- {{'@{roll_display}&{template:hit-location} {{name=@{name}}} @{name_display} {{roll=[[1d8]]}}'}} -->
<rolltemplate class="sheet-rolltemplate-hit-location">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}</div>
        </div>
        <div class="sheet-table">
            <div class="sheet-tr">
                <div class="sheet-th sheet-full-width"><span data-i18n="location">Location</span></div>
                <div class="sheet-th sheet-pictos-three sheet-help"><div class="sheet-checkbox-width" data-i18n-title="passive_block_size" title="Passive Block Size">b</div></div>
                <div class="sheet-th sheet-pictos sheet-help"><div class="sheet-checkbox-width" data-i18n-title="armor_points" title="Armor Points">U</div></div>
                <div class="sheet-th sheet-help"><div class="sheet-number-width-sm" data-i18n-title="hit_points" title="Hit Points" data-i18n="hit_points-a">HP</div></div>
            </div>
            {{'{{#roll}}'}}
            <div class="sheet-tr">
                {{'{{#rollBetween() roll loc1_start loc1_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc1_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc1_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc1_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc1_hp}}/{{loc1_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc1_start loc1_end}}'}}
                {{'{{#rollBetween() roll loc2_start loc2_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc2_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc2_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc2_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc2_hp}}/{{loc2_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc2_start loc2_end}}'}}
                {{'{{#rollBetween() roll loc3_start loc3_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc3_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc3_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc3_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc3_hp}}/{{loc3_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc3_start loc3_end}}'}}
                {{'{{#rollBetween() roll loc4_start loc4_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc4_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc4_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc4_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc4_hp}}/{{loc4_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc4_start loc4_end}}'}}
                {{'{{#rollBetween() roll loc5_start loc5_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc5_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc5_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc5_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc5_hp}}/{{loc5_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc5_start loc5_end}}'}}
                {{'{{#rollBetween() roll loc6_start loc6_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc6_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc6_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc6_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc6_hp}}/{{loc6_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc6_start loc6_end}}'}}
                {{'{{#rollBetween() roll loc7_start loc7_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc7_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc7_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc7_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc7_hp}}/{{loc7_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc7_start loc7_end}}'}}
                {{'{{#rollBetween() roll loc8_start loc8_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc8_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc8_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc8_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc8_hp}}/{{loc8_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc8_start loc8_end}}'}}
                {{'{{#rollBetween() roll loc9_start loc9_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc9_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc9_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc9_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc9_hp}}/{{loc9_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc9_start loc9_end}}'}}
                {{'{{#rollBetween() roll loc10_start loc10_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc10_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc10_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc10_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc10_hp}}/{{loc10_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc10_start loc10_end}}'}}
                {{'{{#rollBetween() roll loc11_start loc11_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc11_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc11_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc11_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc11_hp}}/{{loc11_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc11_start loc11_end}}'}}
                {{'{{#rollBetween() roll loc12_start loc12_end}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} ({{loc12_name}})'}}</div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc12_block}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-checkbox-width">{{'{{loc12_ap}}'}}</div></div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{loc12_hp}}/{{loc12_hp_max}}'}}</div></div>
                {{'{{/rollBetween() roll loc12_start loc12_end}}'}}
            </div>
            {{'{{/roll}}'}}
        </div>
    </div>
</rolltemplate>