<!-- Improvement Roll Template -->
<!-- {{'@{roll_display}&{template:improvement} {{name=@{name}}} @{name_display} {{roll=[[1d100 + @{int}]]}} {{improvement=[[1d4+1+@{fumbled}]]}} {{skill=[[@{skill_total}]]}}'}} -->
<rolltemplate class="sheet-rolltemplate-improvement">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}} {{'{{skill}}'}}%</div>
        </div>
        <div class="sheet-table">
            <div class="sheet-tr">
                <div class="sheet-td">{{'{{roll}}'}}</div>
                <div class="sheet-td">
                    {{'{{#^rollLess() roll skill}}'}}
                    <span data-i18n="success">Success</span>
                    {{'{{/^rollLess() roll skill}}'}}
                    {{'{{#rollLess() roll skill}}'}}
                    <span data-i18n="fail">Fail</span>
                    {{'{{/rollLess() roll skill}}'}}
                </div>
                <div class="sheet-td">
                    {{'{{#^rollLess() roll skill}}'}}
                    +{{'{{improvement}}'}}%
                    {{'{{/^rollLess() roll skill}}'}}
                    {{'{{#rollLess() roll skill}}'}}
                    +1%
                    {{'{{/rollLess() roll skill}}'}}
                </div>
            </div>
        </div>
    </div>
</rolltemplate>