<!-- Resolution Pool Roll Template -->
<rolltemplate class="sheet-rolltemplate-resolution_pool">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}</div>
        </div>
        <div class="sheet-table">
            <div class="sheet-tr">
                <div class="sheet-td sheet-text-left"><span class="sheet-bold" data-i18n="confidence">Confidence</span>:</div>
                <div class="sheet-td">{{'{{confidence}}'}}</div>
            </div>
        </div>
        <div class="sheet-table">
            <div class="sheet-tr">
                <div class="sheet-th sheet-full-width"><span data-i18n="pool">Pool</span></div>
                <div class="sheet-th sheet-help"><div class="sheet-number-width-sm" data-i18n-title="current" title="Current" data-i18n="current-a">Curr</div></div>
            </div>
            {{'{{#roll}}'}}
            <div class="sheet-tr">
                {{'{{#rollBetween() roll 1 4}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} (<span data-i18n="composure">Composure</span>)'}}</div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{composure}}/{{composure_max}}'}}</div></div>
                {{'{{/rollBetween() roll 1 4}}'}}
                {{'{{#rollBetween() roll 5 8}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} (<span data-i18n="integrity">Integrity</span>)'}}</div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{integrity}}/{{integrity_max}}'}}</div></div>
                {{'{{/rollBetween() roll 5 8}}'}}
                {{'{{#rollBetween() roll 9 12}}'}}
                <div class="sheet-td sheet-full-width">{{'{{roll}} (<span data-i18n="resolve">Resolve</span>)'}}</div>
                <div class="sheet-td"><div class=sheet-number-width-sm">{{'{{resolve_hp}}/{{resolve_max}}'}}</div></div>
                {{'{{/rollBetween() roll 9 12}}'}}
            </div>
            {{'{{/roll}}'}}
        </div>
    </div>
</rolltemplate>