<!-- SE Menu Roll Template -->
<!-- {{'/w gm &{template:se-menu} {{character=@{character_name}}} {{character_id=@{character_id}}} {{name=@{name}}} {{combat=1}} {{spiritcombat=1}} {{socialconflict=1}} {{offense=[[1]]}}'}} -->
<rolltemplate class="sheet-rolltemplate-se-menu">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}</div>
        </div>
        <div class="sheet-se-option-control-{{'{{special_effects}}'}}" hidden></div>
        {{'{{#combat}}'}}
        <div style="max-height: 200px; overflow: auto;">
            <div class="sheet-table" data-i18n-list="combat_se-order">
                <div class="sheet-tr">
                    <div class="sheet-th" data-i18n="special_effect">Special Effect</div>
                    <div class="sheet-th" data-i18n="conditions">Conditions</div>
                </div>

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="accidental_injury">
                    <div class="sheet-td">[<span data-i18n="accidental_injury">Accidental Injury</span>](~{{'{{character_id}}'}}|accidental_injury_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr" data-i18n-list-itme="arise">
                    <div class="sheet-td">[<span data-i18n="arise">Arise</span>](~{{'{{character_id}}'}}|arise_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="bash">
                    <div class="sheet-td">[<span data-i18n="bash">Bash</span>](~{{'{{character_id}}'}}|bash_se)</div>
                    <div class="sheet-td" data-i18n="bludgeoning">Bludgeoning</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="bleed">
                    <div class="sheet-td">[<span data-i18n="bleed">Bleed</span>](~{{'{{character_id}}'}}|bleed_se)</div>
                    <div class="sheet-td" data-i18n="cutting">Cutting</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="blind_opponent">
                    <div class="sheet-td">[<span data-i18n="blind_opponent">Blind Opponent</span>](~{{'{{character_id}}'}}|blind_opponent_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="bypass_armor">
                    <div class="sheet-td">[<span data-i18n="bypass_armor">Bypass Armor</span>](~{{'{{character_id}}'}}|bypass_armor_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="choose_location">
                    <div class="sheet-td">[<span data-i18n="choose_location">Choose Location</span>](~{{'{{character_id}}'}}|choose_location_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-mba" data-i18n-list-itme="circumvent_cover">
                    <div class="sheet-td">[<span data-i18n="circumvent_cover">Circumvent Cover</span>](~{{'{{character_id}}'}}|circumvent_cover_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-destined" data-i18n-list-itme="circumvent_defense">
                    <div class="sheet-td">[<span data-i18n="circumvent_defense">Circumvent Defense</span>](~{{'{{character_id}}'}}|circumvent_defense_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="circumvent_parry">
                    <div class="sheet-td">[<span data-i18n="circumvent_parry">Circumvent Parry</span>](~{{'{{character_id}}'}}|circumvent_parry_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() reach_enabled 1}}'}}
                <div class="sheet-tr" data-i18n-list-itme="close_range">
                    <div class="sheet-td">[<span data-i18n="close_range">Close Range</span>](~{{'{{character_id}}'}}|close_range_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() reach_enabled 1}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-destined" data-i18n-list-itme="compel_retreat">
                    <div class="sheet-td">[<span data-i18n="compel_retreat">Compel Retreat</span>](~{{'{{character_id}}'}}|compel_retreat_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-lyonesse sheet-mba" data-i18n-list-itme="compel_surrender">
                    <div class="sheet-td">[<span data-i18n="compel_surrender">Compel Surrender</span>](~{{'{{character_id}}'}}|compel_surrender_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-destined" data-i18n-list-itme="damage_item">
                    <div class="sheet-td">[<span data-i18n="damage_item">Damage Item</span>](~{{'{{character_id}}'}}|damage_item_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="damage_weapon">
                    <div class="sheet-td">[<span data-i18n="damage_weapon">Damage Weapon</span>](~{{'{{character_id}}'}}|damage_weapon_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                <div class="sheet-tr" data-i18n-list-itme="disarm">
                    <div class="sheet-td">[<span data-i18n="disarm">Disarm</span>](~{{'{{character_id}}'}}|disarm_se)</div>
                    <div class="sheet-td"></div>
                </div>

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-destined" data-i18n-list-itme="distract">
                    <div class="sheet-td">[<span data-i18n="distract">Distract</span>](~{{'{{character_id}}'}}|distract_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative" data-i18n-list-itme="drop_foe">
                    <div class="sheet-td">[<span data-i18n="drop_foe">Drop Foe</span>](~{{'{{character_id}}'}}|drop_foe_se)</div>
                    <div class="sheet-td"><span data-i18n="siege_weapons">Siege Weapons</span>, <span data-i18n="firearms">Firearms</span></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}

                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-destined sheet-mba" data-i18n-list-itme="duck_back">
                    <div class="sheet-td">[<span data-i18n="duck_back">Duck Back</span>](~{{'{{character_id}}'}}|duck_back_se)</div>
                    <div class="sheet-td" data-i18n="ranged">Ranged</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-destined" data-i18n-list-itme="enhance_defense">
                    <div class="sheet-td">[<span data-i18n="enhance_defense">Enhance Defense</span>](~{{'{{character_id}}'}}|enhance_defense_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="enhance_parry">
                    <div class="sheet-td">[<span data-i18n="enhance_parry">Enhance Parry</span>](~{{'{{character_id}}'}}|enhance_parry_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-destined sheet-mba" data-i18n-list-itme="entangle">
                    <div class="sheet-td">[<span data-i18n="entangle">Entangle</span>](~{{'{{character_id}}'}}|entangle_se)</div>
                    <div class="sheet-td" data-i18n="entangling">Entangling</div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="flurry">
                    <div class="sheet-td">[<span data-i18n="flurry">Flurry</span>](~{{'{{character_id}}'}}|flurry_se)</div>
                    <div class="sheet-td" data-i18n="unarmed">Unarmed</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="force_failure">
                    <div class="sheet-td">[<span data-i18n="force_failure">Force Failure</span>](~{{'{{character_id}}'}}|force_failure_se)</div>
                    <div class="sheet-td" data-i18n="fumble">Fumble</div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="grip">
                    <div class="sheet-td">[<span data-i18n="grip">Grip</span>](~{{'{{character_id}}'}}|grip_se)</div>
                    <div class="sheet-td" data-i18n="unarmed">Unarmed</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-destined" data-i18n-list-itme="impact">
                    <div class="sheet-td">[<span data-i18n="impact">Impact</span>](~{{'{{character_id}}'}}|impact_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}

                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="impale">
                    <div class="sheet-td">[<span data-i18n="impale">Impale</span>](~{{'{{character_id}}'}}|impale_se)</div>
                    <div class="sheet-td" data-i18n="impaling">Impaling</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="kill_silently">
                    <div class="sheet-td">[<span data-i18n="kill_silently">Kill Silently</span>](~{{'{{character_id}}'}}|kill_silently_se)</div>
                    <div class="sheet-td" data-i18n="small_weapons">Small Weapons</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="marksman">
                    <div class="sheet-td">[<span data-i18n="marksman">Marksmen</span>](~{{'{{character_id}}'}}|marksman_se)</div>
                    <div class="sheet-td" data-i18n="ranged">Ranged</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr" data-i18n-list-itme="maximise_damage">
                    <div class="sheet-td">[<span data-i18n="maximise_damage">Maximise Damage</span>](~{{'{{character_id}}'}}|maximise_damage_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}

                {{'{{#rollTotal() reach_enabled 1}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr" data-i18n-list-itme="open_range">
                    <div class="sheet-td">[<span data-i18n="open_range">Open Range</span>](~{{'{{character_id}}'}}|open_range_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() reach_enabled 1}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-lyonesse sheet-mba" data-i18n-list-itme="overextend_opponent">
                    <div class="sheet-td">[<span data-i18n="overextend_opponent">Overextend Opponent</span>](~{{'{{character_id}}'}}|overextend_opponent_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-mba" data-i18n-list-itme="overpenetration">
                    <div class="sheet-td">[<span data-i18n="overpenetration">Overpenetration</span>](~{{'{{character_id}}'}}|overpenetration_se)</div>
                    <div class="sheet-td"><span data-i18n="ranged">Ranged</span>, <span data-i18n="critical">Critical</span></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-destined sheet-imperative sheet-destined sheet-mba" data-i18n-list-itme="pin_down">
                    <div class="sheet-td">[<span data-i18n="pin_down">Pin Down</span>](~{{'{{character_id}}'}}|pin_down_se)</div>
                    <div class="sheet-td" data-i18n="ranged">Ranged</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-lyonesse sheet-mba" data-i18n-list-itme="pin_weapon">
                    <div class="sheet-td">[<span data-i18n="pin_weapon">Pin Weapon</span>](~{{'{{character_id}}'}}|pin_weapon_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="prepare_counter">
                    <div class="sheet-td">[<span data-i18n="prepare_counter">Prepare Counter</span>](~{{'{{character_id}}'}}|prepare_counter_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="press_advantage">
                    <div class="sheet-td">[<span data-i18n="press_advantage">Press Advantage</span>](~{{'{{character_id}}'}}|press_advantage_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="rapid_reload">
                    <div class="sheet-td">[<span data-i18n="rapid_reload">Rapid Reload</span>](~{{'{{character_id}}'}}|rapid_reload_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="scar_foe">
                    <div class="sheet-td">[<span data-i18n="scar_foe">Scar Foe</span>](~{{'{{character_id}}'}}|scar_foe_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="select_target">
                    <div class="sheet-td">[<span data-i18n="select_target">Select Target</span>](~{{'{{character_id}}'}}|select_target_se)</div>
                    <div class="sheet-td" data-i18n="fumble">Fumble</div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-destined" data-i18n-list-itme="silent_takedown">
                    <div class="sheet-td">[<span data-i18n="silent_takedown">Silent Takedown</span>](~{{'{{character_id}}'}}|silent_takedown_se)</div>
                    <div class="sheet-td" data-i18n="surprise">Surprise</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="slip_free">
                    <div class="sheet-td">[<span data-i18n="slip_free">Slip Free</span>](~{{'{{character_id}}'}}|slip_free_se)</div>
                    <div class="sheet-td" data-i18n="critical">Critical</div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-mba" data-i18n-list-itme="spoil_spell">
                    <div class="sheet-td">[<span data-i18n="spoil_spell">Spoil Spell</span>](~{{'{{character_id}}'}}|spoil_spell_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="stand_fast">
                    <div class="sheet-td">[<span data-i18n="stand_fast">Stand Fast</span>](~{{'{{character_id}}'}}|stand_fast_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-destined sheet-lyonesse sheet-mba" data-i18n-list-itme="stun_location">
                    <div class="sheet-td">[<span data-i18n="stun_location">Stun Location</span>](~{{'{{character_id}}'}}|stun_location_se)</div>
                    <div class="sheet-td" data-i18n="bludgeoning">Bludgeoning</div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                {{'{{#rollTotal() offense 1}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse sheet-mba" data-i18n-list-itme="sunder">
                    <div class="sheet-td">[<span data-i18n="sunder">Sunder</span>](~{{'{{character_id}}'}}|sunder_se)</div>
                    <div class="sheet-td"><span data-i18n="axes">Axes</span>, <span data-i18n="two_handed">Two Handed</span></div>
                </div>
                {{'{{/rollTotal() offense 1}}'}}
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                {{'{{#rollTotal() simplified_combat_enabled 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-lyonesse sheet-mba" data-i18n-list-itme="take_weapon">
                    <div class="sheet-td">[<span data-i18n="take_weapon">Take Weapon</span>](~{{'{{character_id}}'}}|take_weapon_se)</div>
                    <div class="sheet-td" data-i18n="unarmed">Unarmed</div>
                </div>
                {{'{{/rollTotal() simplified_combat_enabled 0}}'}}

                <div class="sheet-tr" data-i18n-list-itme="trip_opponent">
                    <div class="sheet-td">[<span data-i18n="trip_opponent">Trip Opponent</span>](~{{'{{character_id}}'}}|trip_opponent_se)</div>
                    <div class="sheet-td"></div>
                </div>

                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-mba" data-i18n-list-itme="weapon_malfunction">
                    <div class="sheet-td">[<span data-i18n="weapon_malfunction">Weapon Malfunction</span>](~{{'{{character_id}}'}}|weapon_malfunction_se)</div>
                    <div class="sheet-td"><span data-i18n="ranged">Ranged</span>, <span data-i18n="fumble">Fumble</span></div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}

                {{'{{#rollTotal() offense 0}}'}}
                <div class="sheet-tr" data-i18n-list-itme="withdraw">
                    <div class="sheet-td">[<span data-i18n="withdraw">Withdraw</span>](~{{'{{character_id}}'}}|withdraw_se)</div>
                    <div class="sheet-td"></div>
                </div>
                {{'{{/rollTotal() offense 0}}'}}
            </div>
        </div>
        {{'{{/combat}}'}}

        {{'{{#spiritcombat}}'}}
        <div class="sheet-table" data-i18n-list="spirit_se-order">
            <div class="sheet-tr">
                <div class="sheet-th" data-i18n="special_effect">Special Effect</div>
                <div class="sheet-th" data-i18n="conditions">Conditions</div>
            </div>
            <div class="sheet-tr" data-i18n-list-itme="bleed_essence">
                <div class="sheet-td">[<span data-i18n="bleed_essence">Bleed Essence</span>](~{{'{{character_id}}'}}|bleed_essence_se)</div>
                <div class="sheet-td" data-i18n="critical">Critical</div>
            </div>
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse" data-i18n-list-itme="compel_bargain">
                <div class="sheet-td">[<span data-i18n="compel_bargain">Compel Bargain</span>](~{{'{{character_id}}'}}|compel_bargain_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="drive_off">
                <div class="sheet-td">[<span data-i18n="drive_off">Drive Off</span>](~{{'{{character_id}}'}}|drive_off_se)</div>
                <div class="sheet-td" data-i18n="mortal">Mortal</div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="leech_strength">
                <div class="sheet-td">[<span data-i18n="leech_strength">Leech Strength</span>](~{{'{{character_id}}'}}|leech_strength_se)</div>
                <div class="sheet-td" data-i18n="critical">Critical</div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            {{'{{#rollTotal() offense 0}}'}}
            <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse" data-i18n-list-itme="obscure">
                <div class="sheet-td">[<span data-i18n="obscure">Obscure</span>](~{{'{{character_id}}'}}|obscure_se)</div>
                <div class="sheet-td" data-i18n="critical">Critical</div>
            </div>
            {{'{{/rollTotal() offense 0}}'}}
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="possess">
                <div class="sheet-td">[<span data-i18n="possess">Possess</span>](~{{'{{character_id}}'}}|possess_se)</div>
                <div class="sheet-td" data-i18n="spirit">Spirit</div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="psychic_stun">
                <div class="sheet-td">[<span data-i18n="psychic_stun">Psychic Stun</span>](~{{'{{character_id}}'}}|psychic_stun_se)</div>
                <div class="sheet-td"></div>
            </div>
            <div class="sheet-tr" data-i18n-list-itme="restrain">
                <div class="sheet-td">[<span data-i18n="restrain">Restrain</span>](~{{'{{character_id}}'}}|restrain_se)</div>
                <div class="sheet-td" data-i18n="mortal">Mortal</div>
            </div>
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="spirit_lance">
                <div class="sheet-td">[<span data-i18n="spirit_lance">Spirit Lance</span>](~{{'{{character_id}}'}}|spirit_lance_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse" data-i18n-list-itme="sunder_binding">
                <div class="sheet-td">[<span data-i18n="sunder_binding">Sunder Binding</span>](~{{'{{character_id}}'}}|sunder_binding_se)</div>
                <div class="sheet-td" data-i18n="fumble">Fumble</div>
            </div>
            <div class="sheet-tr" data-i18n-list-itme="supress_ability">
                <div class="sheet-td">[<span data-i18n="supress_ability">Supress Ability</span>](~{{'{{character_id}}'}}|supress_ability_se)</div>
                <div class="sheet-td" data-i18n="mortal">Mortal</div>
            </div>
            {{'{{#rollTotal() offense 0}}'}}
            <div class="sheet-tr" data-i18n-list-itme="turn_back">
                <div class="sheet-td">[<span data-i18n="turn_back">Turn Back</span>](~{{'{{character_id}}'}}|turn_back_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 0}}'}}
            {{'{{#rollTotal() offense 0}}'}}
            <div class="sheet-tr sheet-se-option sheet-core sheet-imperative sheet-lyonesse" data-i18n-list-itme="withdraw">
                <div class="sheet-td">[<span data-i18n="withdraw">Withdraw</span>](~{{'{{character_id}}'}}|withdraw_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 0}}'}}
        </div>
        {{'{{/spiritcombat}}'}}

        {{'{{#socialconflict}}'}}
        <div class="sheet-table" data-i18n-list="social_se-order">
            <div class="sheet-tr">
                <div class="sheet-th" data-i18n="special_effect">Special Effect</div>
                <div class="sheet-th" data-i18n="conditions">Conditions</div>
            </div>
            {{'{{#rollTotal() offense 0}}'}}
            <div class="sheet-tr" data-i18n-list-itme="accidental_humiliation">
                <div class="sheet-td">[<span data-i18n="accidental_humiliation">Accidental Humiliation</span>](~{{'{{character_id}}'}}|accidental_humiliation_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 0}}'}}
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="choose_resolution_pool">
                <div class="sheet-td">[<span data-i18n="choose_resolution_pool">Choose Resolution Pool</span>](~{{'{{character_id}}'}}|choose_resolution_pool_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="circumvent_defense">
                <div class="sheet-td">[<span data-i18n="circumvent_defense">Circumvent Defense</span>](~{{'{{character_id}}'}}|circumvent_defense_se)</div>
                <div class="sheet-td" data-i18n="critical">Critical</div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="compel_capitulation">
                <div class="sheet-td">[<span data-i18n="compel_capitulation">Compel Capitulation</span>](~{{'{{character_id}}'}}|compel_capitulation_se)</div>
                <div class="sheet-td" data-i18n="critical">Critical</div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="disarm_opponent">
                <div class="sheet-td">[<span data-i18n="disarm_opponent">Disarm Opponent</span>](~{{'{{character_id}}'}}|disarm_opponent_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="emotional_impale">
                <div class="sheet-td">[<span data-i18n="emotional_impale">Emotional Impale</span>](~{{'{{character_id}}'}}|emotional_impale_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="entangling_argument">
                <div class="sheet-td">[<span data-i18n="entangling_argument">Entangling Argument</span>](~{{'{{character_id}}'}}|entangling_argument_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="expose_flaws">
                <div class="sheet-td">[<span data-i18n="expose_flaws">Expose Flaws</span>](~{{'{{character_id}}'}}|expose_flaws_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="force_failure">
                <div class="sheet-td">[<span data-i18n="force_failure">Force Failure</span>](~{{'{{character_id}}'}}|force_failure_se)</div>
                <div class="sheet-td" data-i18n="fumble">Fumble</div>
            </div>
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="ignore_confidence">
                <div class="sheet-td">[<span data-i18n="ignore_confidence">Ignore Confidence</span>](~{{'{{character_id}}'}}|ignore_confidence_se)</div>
                <div class="sheet-td" data-i18n="critical">Critical</div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="maximise_damage">
                <div class="sheet-td">[<span data-i18n="maximise_damage">Maximise Damage</span>](~{{'{{character_id}}'}}|maximise_damage_se)</div>
                <div class="sheet-td" data-i18n="critical">Critical</div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            {{'{{#rollTotal() offense 0}}'}}
            <div class="sheet-tr" data-i18n-list-itme="obfuscate_opponent">
                <div class="sheet-td">[<span data-i18n="obfuscate_opponent">Obfuscate Opponent</span>](~{{'{{character_id}}'}}|obfuscate_opponent_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 0}}'}}
            {{'{{#rollTotal() offense 0}}'}}
            <div class="sheet-tr" data-i18n-list-itme="prepare_counter">
                <div class="sheet-td">[<span data-i18n="prepare_counter">Prepare Counter</span>](~{{'{{character_id}}'}}|prepare_counter_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 0}}'}}
            <div class="sheet-tr" data-i18n-list-itme="shake_confidence">
                <div class="sheet-td">[<span data-i18n="shake_confidence">Shake Confidence</span>](~{{'{{character_id}}'}}|shake_confidence_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{#rollTotal() offense 0}}'}}
            <div class="sheet-tr" data-i18n-list-itme="sow_doubt">
                <div class="sheet-td">[<span data-i18n="sow_doubt">Sow Doubt</span>](~{{'{{character_id}}'}}|sow_doubt_se)</div>
                <div class="sheet-td" data-i18n="critical">Critical</div>
            </div>
            {{'{{/rollTotal() offense 0}}'}}
            {{'{{#rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="stun">
                <div class="sheet-td">[<span data-i18n="stun">Stun</span>](~{{'{{character_id}}'}}|stun_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 1}}'}}
            <div class="sheet-tr" data-i18n-list-itme="trip_opponent">
                <div class="sheet-td">[<span data-i18n="trip_opponent">Trip Opponent</span>](~{{'{{character_id}}'}}|trip_opponent_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{#rollTotal() offense 0}}'}}
            <div class="sheet-tr" data-i18n-list-itme="withdraw">
                <div class="sheet-td">[<span data-i18n="withdraw">Withdraw</span>](~{{'{{character_id}}'}}|withdraw_se)</div>
                <div class="sheet-td"></div>
            </div>
            {{'{{/rollTotal() offense 0}}'}}
        </div>
        {{'{{/socialconflict}}'}}
    </div>
</rolltemplate>


