<!-- Improvement Roll Template -->
<!-- {{'@{roll_display}&{template:weapon} {{name=@{name}}} {{character=@{character_name}}} {{damage=[[@{damage}+@{damage_mod_toggle}]]}} {{size=@{size}}} {{reach=@{reach}}} {{force=@{force}}} {{range=@{range}}} {{impale_size=@{impale_size}}} {{notes=@{notes}}}'}} -->
<rolltemplate class="sheet-rolltemplate-weapon">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}</div>
        </div>
        <div class="sheet-table">
            <div class="sheet-tr">
                <div class="sheet-th"><span data-i18n="damage">Damage</span></div>
                {{'{{#size}}'}}
                <div class="sheet-th"><span data-i18n="size">Size</span></div>
                {{'{{/size}}'}}
                {{'{{#force}}'}}
                <div class="sheet-th"><span data-i18n="force">Force</span></div>
                {{'{{/force}}'}}
                {{'{{#reach}}'}}
                <div class="sheet-th"><span data-i18n="reach">Reach</span></div>
                {{'{{/reach}}'}}
                {{'{{#range}}'}}
                <div class="sheet-th"><span data-i18n="range">Range</span></div>
                {{'{{/range}}'}}
                {{'{{#impale_size}}'}}
                <div data-i18n-title="impale_size" class="sheet-th sheet-help"><span data-i18n="impale_size-a">IS</span></div>
                {{'{{/impale_size}}'}}
            </div>
            <div class="sheet-tr">
                <div class="sheet-td sheet-bold">{{'{{damage}}'}}</div>
                {{'{{#size}}'}}
                <div class="sheet-td">{{'{{size}}'}}</div>
                {{'{{/size}}'}}
                {{'{{#force}}'}}
                <div class="sheet-td">{{'{{force}}'}}</div>
                {{'{{/force}}'}}
                {{'{{#reach}}'}}
                <div class="sheet-td">{{'{{reach}}'}}</div>
                {{'{{/reach}}'}}
                {{'{{#range}}'}}
                <div class="sheet-td">{{'{{range}}'}}</div>
                {{'{{/range}}'}}
                {{'{{#impale_size}}'}}
                <div class="sheet-td">{{'{{impale_size}}'}}</div>
                {{'{{/impale_size}}'}}
            </div>
        </div>

        {{'{{#notes}}'}}
        <div>{{'{{notes}}'}}</div>
        {{'{{/notes}}'}}
    </div>
</rolltemplate>