.charsheet {
	background-color: #eeeeee;
	padding: 1em;
	font-family: Georgia, serif;
}

.sheet-body > :not(.v-spacer):not(.h-spacer) {
	background-color: #fdfdfd;
}

.border {
	border: 3px solid #aaa;
	border-radius: 4px;
	padding: 0.5em;
}

.v-spacer {
	height: 1em;
}

.hexagon {
	width: 64px;
	height: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #aaa;
	-webkit-mask-image:
		url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Draw%20Steel/images/hexagon.svg),
		linear-gradient(#000 0 0);
	mask-image:
		url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Draw%20Steel/images/hexagon.svg),
		linear-gradient(#000 0 0);
	mask-size: cover;
}

.charsheet input {
	width: unset;
}
.charsheet input[type=number] {
	text-align: center;
}
.charsheet input[type=number]:not(.inner-spin)::-webkit-inner-spin-button,
.charsheet input[type=number]:not(.inner-spin)::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.charsheet input.input-md {
	height: 20px;
	font-size: 0.9em;
}
.charsheet label {
	display: unset;
	margin: unset;
	padding: unset;
	width: unset;
	text-align: unset;
	float: unset;
	font-size: 1em;
}
label.sublabel {
	height: 16px;
	font-size: 0.8em;
	font-weight: normal;
}
.charsheet label.sublabel input {
	padding: 0;
	font-size: 1em;
}

.header-panel {
	display: flex;
	gap: 0.5em;
}
.header-panel > * {
	flex: 1 1 0;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

.profile-panel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 0.5em;
}
.profile-panel > * {
  display: flex;
  flex-direction: column;
}
.profile-panel .name-input-group {
	grid-column-end: span 2;
}

.progress-panel {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0.5em;
}
.progress-panel > * {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.victories-input-group {
	grid-column-end: span 5;
}
.wealth-input-group, .renown-input-group, .experience-input-group {
	grid-column-end: span 2;
}

.stats-panel {
	position: relative;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 0.25em;
}

.stats-control {
	grid-column-end: span 12;
}

.stats-panel:has(.stats-control > #stats-minimize-checkbox:checked) > :not(.stats-control):not(.core-panel),
.stats-panel:has(.stats-control > #stats-minimize-checkbox:checked) > .core-panel > :not(.characteristics) {
	display: none;
}

.core-panel {
	grid-column-end: span 6;
	grid-row-end: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.characteristics {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.25em;
}
.characteristic-input-group > label {
	cursor: pointer;
}
.characteristic-input-group > input {
	text-align: center;
}

.roller-wrapper {
	position: absolute;
	top: 0;
	left: 0;
}
input.characteristic-i18n-switch[value="might"]
~ .characteristic-i18n:not([data-i18n="might"]),
input.characteristic-i18n-switch[value="agility"]
~ .characteristic-i18n:not([data-i18n="agility"]),
input.characteristic-i18n-switch[value="reason"]
~ .characteristic-i18n:not([data-i18n="reason"]),
input.characteristic-i18n-switch[value="intuition"]
~ .characteristic-i18n:not([data-i18n="intuition"]),
input.characteristic-i18n-switch[value="presence"]
~ .characteristic-i18n:not([data-i18n="presence"]) {
	display: none;
}

.roller-edge-bane-select {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.25em;
	justify-items: center;
}

.potencies, .potencies > div {
	display: flex;
	align-items: center;
	gap: 0.25em;
}

.movement {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.1em;
}
.movement-input-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.movement-input-group > input {
	width: 3.75em;
	text-align: center;
}

.stamina-panel {
	grid-column-end: span 3;
	display: grid;
	grid-template-columns: 2fr repeat(2, 1fr);
	column-gap: 0.5em;
}
.stamina-panel > .panel-title {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
}
.stamina-input-group,
.stamina-temporary-input-group {
	grid-row-end: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recoveries-panel {
	grid-column-end: span 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: min-content;
	gap: 0.1em;
}
.recoveries-panel > .panel-title {
	grid-column-start: 1;
	grid-column-end: -1;
	justify-self: center;
}
.recoveries-input-group {
	grid-column-start: 1;
	grid-column-end: -1;
	justify-self: center;
}
.recovery-amount-input-group,
.recoveries-max-input-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.damage-mod-panel {
	grid-column-end: span 6;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0.25em;
}

.resource-description-panel {
	grid-column-end: span 4;
}
.resource-description-panel > textarea {
	height: 6em;
}

.resource-panel {
	grid-column-end: span 2;
	justify-self: center;
	max-width: 100px;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
	justify-items: center;
}
.resource-panel > .panel-title {
	max-width: inherit;
	overflow-wrap: break-word;
	text-align: center;
}
.resource-name-input-group > input {
	width: 100px;
	text-align: center;
}

.surges-panel {
	grid-column-end: span 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
	justify-items: center;
}
.surges-panel > label {
	justify-self: start;
}

.conditions-panel {
	grid-column-end: span 4;
}

.popup-wrapper {
	visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	opacity: 0;
	transition: opacity 500ms;
	background-color: #000;
}
.popup-wrapper.show {
	visibility: visible;
}
.popup-wrapper.show > .overlay {
	opacity: 0.5;
}
.popup-content {
	position: relative;
	margin: 1em;
	background-color: #fff;
	padding: 1em;
}
