<div id="configuration" class="sheet-overlay">
    <div class="sheet-popup">
        <a class="close" href="#">×</a>
        <h1><span data-i18n="configuration">Configuration</span> <button type="roll" class="sheet-link sheet-link-ico" value="/w gm https://wiki.roll20.net/Mythras_Sheet#Configuration">?</button></h1>

        <div class="sheet-bmargin">
            <!-- Sheet Type -->
            <input type="hidden" class="sheet-spirits-toggle" name="attr_spirits_enabled" value="1">
            <div>
                <label class="sheet-left sheet-rmargin" data-i18n="sheet_type">Sheet Type</label>
                <select data-i18n-list="sheet-type-order" title="@{sheet_type}" class="sheet-auto-width" name="attr_sheet_type">
                    <option value="battle_unit" data-i18n-list-item="battle_unit" data-i18n="battle_unit">Battle Unit</option>
                    <option value="creature" data-i18n-list-item="creature" data-i18n="creature">Creature</option>
                    <option value="pc" data-i18n-list-item="major_character" data-i18n="major_character" selected></option>
                    <option value="ship" data-i18n-list-item="ship" data-i18n="ship">Ship</option>
                    <option value="star_system" data-i18n-list-item="star_system" data-i18n="star_system">Star System</option>
                    <option value="spirit" class="sheet-spirits" data-i18n-list-item="spirit" data-i18n="spirit">Spirit</option>
                    <option value="vehicle" data-i18n-list-item="vehicle" data-i18n="vehicle">Vehicle></option>
                </select>
            </div>

            <!-- Intellect -->
            <div class="sheet-minor">
                <label class="sheet-left sheet-rmargin" data-18n="intellect">Intellect</label>
                <select class="sheet-auto-width" name="attr_int_type">
                    <option value="int-u" data-i18n="int-u" selected>INT</option>
                    <option value="ins-u" data-i18n="ins-u">INS</option>
                </select>
            </div>

            <!-- Movement -->
            <div class="sheet-minor">
                <label class="sheet-left sheet-rmargin" data-18n="movement">Movement</label>
                <select class="sheet-auto-width sheet-rmargin" name="attr_custom_movement_enabled">
                    <option data-i18n="standard" value="0" selected>Standard</option>
                    <option data-i18n="custom" value="1">Custom</option>
                </select>
                <input type="hidden" class="sheet-wide-toggle" name="attr_custom_movement_enabled" value="0">
                <input type="text" class="sheet-toggle sheet-text-left" title="@{custom_movement}" name="attr_custom_movement" value="">
                <span class="sheet-anti-toggle" data-i18n="species">Species</span>:
                <input type="number" class="sheet-anti-toggle sheet-number-width-sm" title="@{movement_rate_species}" name="attr_movement_rate_species" value="6">
            </div>
        </div>

        <!-- Campaign Settings -->
        <div class="sheet-section">
            <details>
                <summary><h2 data-i18n="campaign_settings">Campaign Settings</h2></summary>
                <div class="sheet-warnmsg">
                    <span data-i18n="settings-warning">These campaign settings are generally set by your GM and shouldn't be changed.  They are provided here for visibility, and testing.</span>
                </div>

                <!-- Setting -->
                <label class="sheet-left sheet-rmargin" data-18n="setting">Setting</label>
                <select name="attr_setting_option" data-i18n-list="setting-order">
                    <option value="default" data-i18n="default" selected>Default</option>
                    <option value="after_the_vampire_wars" data-i18n-list-item="after_the_vampire_wars" data-i18n="after_the_vampire_wars">After the Vampire Wars</option>
                    <option value="classic_fantasy" data-i18n-list-item="classic_fantasy" data-i18n="classic_fantasy">Classic Fantasy</option>
                    <option value="destined" data-i18n-list-item="destined" data-i18n="destined">Destined</option>
                    <option value="fioracitta" data-i18n-list-item="fioracitta" data-i18n="fioracitta">Fioracitta</option>
                    <option value="luther_arkwright" data-i18n-list-item="luther_arkwright" data-i18n="luther_arkwright">Luther Arkwright</option>
                    <option value="lyonesse" data-i18n-list-item="lyonesse" data-i18n="lyonesse">Lyonesse</option>
                    <option value="m-space" data-i18n-list-item="m-space" data-i18n="m-space">M-Space</option>
                    <option value="monster_island" data-i18n-list-item="monster_island" data-i18n="monster_island">Monster Island</option>
                    <option value="mythic_babylon" data-i18n-list-item="mythic_babylon" data-i18n="mythic_babylon">Mythic Babylon</option>
                    <option value="mythic_britain" data-i18n-list-item="mythic_britain" data-i18n="mythic_britain">Mythic Britain</option>
                    <option value="mythic_constantinople" data-i18n-list-item="mythic_constantinople" data-i18n="mythic_constantinople">Mythic Constantinople</option>
                    <option value="mythic_rome" data-i18n-list-item="mythic_rome" data-i18n="mythic_rome">Mythic Rome</option>
                    <option value="mythras_imperative" data-i18n-list-item="mythras_imperative" data-i18n="mythras_imperative">Mythras Imperative</option>
                    <option value="odd_soot" data-i18n-list-item="add_soot" data-i18n="odd_soot">Odd Soot</option>
                    <option value="perceforest" data-i18n-list-item="perceforest" data-i18n="perceforest">Perceforest</option>
                    <option value="thennla" data-i18n-list-item="thennla" data-i18n="thennla">Thennla</option>
                    <option value="worlds_united" data-i18n-list-item="worlds_united" data-i18n="worlds_united">Worlds United</option>
                </select>
                <br>

                <!-- Mechanical Systems -->
                <h3 data-i18n="affiliations">Affiliations</h3>
                <!-- Affiliations_enabled Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="affiliations">Affiliations</label>
                <select name="attr_affiliations_enabled_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <br>
                <h3 data-i18n="mechanical_systems">Mechanical Systems</h3>
                <!-- Extended Conflict Resolution Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="extended_conflict_resolution">Extended Conflict Resolution</label>
                <select name="attr_extended_conflict_enabled_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <br>
                <!-- Simplified Combat Enabled Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="simplified_combat">Simplified Combat</label>
                <select name="attr_simplified_combat_enabled_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <br>
                <!-- Social Conflict Enabled Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="social_conflict">Social Conflict</label>
                <select name="attr_social_conflict_enabled_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <br>
                <!-- Special Effect List -->
                <!--<label class="sheet-left sheet-rmargin" data-i18n="special_effects">Special Effects</label>
                <select name="attr_special_effects_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="core" data-i18n="core">Core</option>
                    <option value="destined" data-i18n="destined">Destined</option>
                    <option value="imperative" data-i18n="mythras_imperative">Mythras Imperative</option>
                    <option value="lyonesse" data-i18n="lyonesse">Lyonesse</option>
                </select>
                <br> -->
                <input type="hidden" name="attr_special_effects" value="core">
                <!-- Spirits Enabled Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="spirits">Spirits</label>
                <select name="attr_spirits_enabled_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <br>
                <!-- Vehicles Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="vehicles">Vehicles</label>
                <select name="attr_vehicle_type_option" data-i18n-list="vehicle_type-order">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="mythras" data-i18n="mythras">Mythras</option>
                    <option value="mspace" data-i18n="frostbyte">Frostbyte</option>
                </select>
                <br>

                <!-- Attributes -->
                <h3 data-i18n="attributes">Attributes</h3>
                <!-- Action Points Calc Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="action_points">Action Points</label>
                <select name="attr_action_points_calc_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="calculate" data-i18n="calculated">Calculated</option>
                    <option value="set_2">2</option>
                    <option value="set_3">3</option>
                </select>
                <input type="hidden" name="attr_action_points_calc" value="calculate">
                <br>
                <!-- Luck Points Rank Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="add_rank_to_luck">Add Rank to Luck</label>
                <select name="attr_luck_points_rank_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <input type="hidden" name="attr_luck_points_rank" value="0">
                <br>
                <!-- Tenacity Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="tenacity">Tenacity</label>
                <select name="attr_tenacity_enabled_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <br>

                <!-- Skills -->
                <h3><span data-i18n="skills">Skills</span>/<span data-i18n="passions">Passions</span></h3>
                <label class="sheet-left sheet-rmargin" data-i18n="dependencies">Dependencies</label>
                <select name="attr_dependencies_enabled_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <br>
                <!-- Herculan Modifier Option -->
                <label class="sheet-left sheet-rmargin" data-i18n="herculean_modifier">Herculean Modifier</label>
                <select name="attr_herculean_mod_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value=".1">1/10</option>
                    <option value=".2">1/5</option>
                </select>
                <input type="hidden" name="attr_herculean_mod" value=".1">
                <br>

                <!-- Abilities -->
                <h3 data-i18n="abilities">Abilities</h3>
                <label class="sheet-left sheet-rmargin" data-i18n="ability_system">Ability System</label>
                <select name="attr_ability_system_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="all" data-i18n="all">All</option>
                    <option value="core" data-i18n="core">Core</option>
                    <option value="after_the_vampire_wars" data-i18n="after_the_vampire_wars">After the Vampire Wars</option>
                    <option value="classic_fantasy" data-i18n="classic_fantasy">Classic Fantasy</option>
                    <option value="destined" data-i18n="destined">Destined</option>
                    <option value="luther_arkwright" data-i18n="luther_arkwright">Luther Arkwright</option>
                    <option value="lyonesse" data-i18n="lyonesse">Lyonesse</option>
                    <option value="mythic_babylon" data-i18n="mythic_babylon">Mythic Babylon</option>
                    <option value="mythic_britain" data-i18n="mythic_britain">Mythic Britain</option>
                    <option value="mythras_imperative" data-i18n="mythras_imperative">Mythras Imperative</option>
                    <option value="mythic_rome" data-i18n="mythic_rome">Mythic Rome</option>
                    <option value="m-space" data-i18n="m-space">M-Space</option>
                    <option value="odd_soot" data-i18n="odd_soot">Odd Soot</option>
                    <option value="thennla" data-i18n="thennla">Thennla</option>
                    <option value="worlds_united" data-i18n="worlds_united">Worlds United</option>
                </select>
                <br>

                <!-- Weapons -->
                <h3 data-i18n="weapons">Weapons</h3>
                <label class="sheet-left sheet-rmargin" data-i18n="reach">Reach</label>
                <select name="attr_reach_enabled_option">
                    <option value="default" data-i18n="setting_default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
                <br>
            </details>
        </div>
    </div>
</div>