<div id="help" class="sheet-overlay">
    <div class="sheet-popup">
        <a class="close" href="#">×</a>
        <h1><span class=sheet-rmargin" data-i18n="help">Help</span> (v<span name="attr_version"></span>)</h1>
        <input type="hidden" name="attr_version" value="2.7">
        <div class="sheet-warnmsg">
            <p>If your sheet data failed to migrate from v2 to the new v3 sheet it is likely because of a bug discovered after launch.  Clicking this button will attempt to redo that conversion now that patches have been deployed:</p>
            <button type="action" name="act_redo-v3-upgrade">Redo v2 -> v3 Conversion</button>
        </div>
        <p data-i18n="help-paragraph">
            Throughout the sheet you will find <span class="sheet-pictos">?</span> icons, like the one you clicked to open this pop-up.  These will provide direct links to documentation covering that section of the sheet.  In addition, the resources below may prove to be useful sources of information about the Mythras Roll20 sheet and/or Mythras in general.
        </p>
        <div class="sheet-flex sheet-gap">
            <div class="sheet-grow">
                <label class="sheet-left" data-i18n="links"></label>
                <ul>
                    <li><button type="roll" class="sheet-link" value="/w gm https://wiki.roll20.net/Mythras_Sheet" data-i18n="sheet_documentation">Sheet Documentation</button></li>
                    <li><button type="roll" class="sheet-link" value="/w gm https://wiki.roll20.net/Mythras" data-i18n="Mythras_Roll20_wiki_page">Mythras' Roll20 wiki page</button></li>
                    <li><button type="roll" class="sheet-link" value="/w gm https://github.com/Roll20/roll20-character-sheets/blob/master/Mythras/CHANGELOG.md" data-i18n="changelog">Changelog</button></li>
                    <li><button type="roll" class="sheet-link" value="/w gm https://github.com/DigitalPagan/Mythras-Roll20-Sheet/issues" data-i18n="report_a_bug">Report a Bug</button></li>
                    <li><button type="roll" class="sheet-link" value="/w gm https://app.roll20.net/users/103705" data-i18n="contact_sheet_author">Contact Sheet Author</button></li>
                </ul>
            </div>
            <div class="sheet-grow">
                <label class="sheet-left" data-i18n="communities"></label>
                <ul>
                    <li><button type="roll" class="sheet-link" value="/w gm https://discord.gg/mythras-469341944888164352">Discord</button></li>
                    <li><button type="roll" class="sheet-link" value="/w gm https://www.tapatalk.com/groups/designmechanism/index.php" data-i18n="forums">Forums</button></li>
                    <li><button type="roll" class="sheet-link" value="/w gm https://www.reddit.com/r/Mythras/">Reddit</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>