<div id="import" class="sheet-overlay">
    <div class="sheet-popup">
        <a class="close" href="#">×</a>
        <h1><span data-i18n="import">Import</span> <button type="roll" class="sheet-link sheet-link-ico" value="/w gm https://wiki.roll20.net/Mythras_Sheet#Import">?</button></h1>

        <div><label class="sheet-left sheet-rmargin" data-i18n="import_data">Import Data</label><span>#</span><input type="number" class="sheet-number-width-sm" title="@{import_character}" name="attr_import_character" value="1" min="1"></div>
        <div><textarea class="sheet-full-width" name="attr_import_json_data" value=""></textarea></div>
        <button type="action" name="act_import" class="sheet-full-width sheet-btn-style" data-i18n="import">Import</button>

        <span style="color: red" name="attr_import_errors"></span>
    </div>
</div>