<div class="sheet-option-bar">
    <!-- Options -->
    <div class="sheet-space-between sheet-gap">
        <!-- Option Bar Left -->
        <div class="sheet-flex sheet-gap">
            <!-- Whisper Toggle -->
            <div><input data-i18n-title="broadcast_rolls_to_everyone/whisper_rolls_to_gm" type='checkbox' name='attr_roll_display' value="/w gm"><span class="sheet-checkico-reverse">f</span></div>

            <!-- Skill Difficulty Option -->
            <div class="sheet-flex sheet-gap">
                <label class="sheet-left sheet-large-screen" data-i18n="difficulty">Difficulty</label>
                <label class="sheet-left sheet-small-screen" data-i18n-title="difficulty" data-i18n="difficulty-a">Diff</label>
                <select class="sheet-auto-width sheet-text-center sheet-inverted" name="attr_difficulty">
                    <option value="0" data-i18n="verbose" selected>verbose</option>
                    <option value="1" data-i18n="very_easy">Very Easy</option>
                    <option value="2" data-i18n="easy">Easy</option>
                    <option value="3" data-i18n="standard">Standard</option>
                    <option value="4" data-i18n="hard">Hard</option>
                    <option value="5" data-i18n="formidable">Formidable</option>
                    <option value="6" data-i18n="herculean">Herculean</option>
                </select>
            </div>

            <!-- Augment Option -->
            <div class="sheet-flex sheet-gap">
                <label class="sheet-left sheet-large-screen" data-i18n="augmentation">Augmentation</label>
                <label class="sheet-left sheet-small-screen sheet-pictos" data-i18n-title="augmentation">&</label>
                <select class="sheet-auto-width sheet-text-center sheet-inverted" title="@{augmentation}" name="attr_augmentation">
                    <option value="@{set_augmentation}" data-i18n="set" selected>Set</option>
                    <option value="?{Augmentation|0}" data-i18n="prompt">Prompt</option>
                </select>
                <input type="hidden" class="sheet-set-toggle-control" name="attr_augmentation" value="@{set_augmentation}">
                <input type="number" class="sheet-number-width-sm sheet-set-toggle" name="attr_set_augmentation" value="0">
                <button type="action" class="sheet-set-toggle sheet-set-toggle-reset sheet-checkbox-width sheet-link sheet-no-underline sheet-pictos" data-i18n-title="reset_augmentation" name="act_reset-augmentation">1</button>
            </div>

            <!-- 101+ Penalty Option -->
            <div class="sheet-flex sheet-gap">
                <label class="sheet-left sheet-large-screen" data-i18n="101+_penalty">101+ Penalty</label>
                <label class="sheet-left sheet-small-screen sheet-pictos" data-i18n-title="101+_penalty">_</label>
                <select class="sheet-auto-width sheet-text-center sheet-inverted" title="@{penalty}" name="attr_penalty">
                    <option value="@{set_penalty}" data-i18n="set" selected>Set</option>
                    <option value="?{101+ Penalty|0}" data-i18n="prompt">Prompt</option>
                </select>
                <input type="hidden" class="sheet-set-toggle-control" name="attr_penalty" value="@{set_penalty}">
                <input type="number" class="sheet-number-width-sm sheet-set-toggle" name="attr_set_penalty" value="0">
                <button type="action" class="sheet-set-toggle sheet-set-toggle-reset sheet-checkbox-width sheet-link sheet-link-ico" data-i18n-title="reset_101+_penalty" name="act_reset-penalty">1</button>
            </div>
        </div>
        <!-- Option Bar Right -->
        <div class="sheet-flex sheet-gap">
            <div><input type='checkbox' data-i18n-title="compact_mode" name='attr_compact' value="1"><span class="sheet-checkico">J</span></div>
            <div><span style="color: red">v3 Upgrade Problems? -></span></div>
            <a class="sheet-pictos" data-i18n-title="show_help_popup" href="#help">?</a>
            <a class="sheet-pictos" data-i18n-title="show_import_popup" href="#import">~</a>
            <a class="sheet-pictos" data-i18n-title="show_configuration_popup" href="#configuration">y</a>
        </div>
    </div>

    <!-- Sheet Tabs -->
    {% include 'sheet_types/character/character_tabs.html' %}
</div>