.sheet-isDrone:checked~.sheet-exocortex,
.sheet-isExocortex:checked~.sheet-drone,
.sheet-section-show:not(:checked)~.sheet-section,
.sheet-macro-show:not(:checked)~.sheet-macro,
.sheet-spd-show:not(:checked)~.sheet-spd,
.sheet-pc-details-show:not(:checked)~.sheet-pc-details,
.sheet-pc-class-show:not(:checked)~.sheet-pc-class,
.sheet-pc-specifics-show:not(:checked)~.sheet-pc-specifics,
.sheet-pc-health-show:not(:checked)~.sheet-pc-health,
.sheet-pc-ac-show:not(:checked)~.sheet-pc-ac,
.sheet-pc-skills-show:not(:checked)~.sheet-pc-skills,
.sheet-pc-weapons-show:not(:checked)~.sheet-pc-weapons,
.sheet-pc-feats-show:not(:checked)~.sheet-pc-feats,
.sheet-pc-inventory-show:not(:checked)~.sheet-pc-inventory,
.sheet-pc-equipment-show:not(:checked)~.sheet-pc-equipment,
.sheet-pc-encumbrance-show:not(:checked)~.sheet-pc-encumbrance,
.sheet-pc-spells-show:not(:checked)~.sheet-pc-spells,
.sheet-spells-known-show:not(:checked)~.sheet-spells-known,
.sheet-lvl-0-spells-show:not(:checked)~.sheet-lvl-0-spells,
.sheet-lvl-1-spells-show:not(:checked)~.sheet-lvl-1-spells,
.sheet-lvl-2-spells-show:not(:checked)~.sheet-lvl-2-spells,
.sheet-lvl-3-spells-show:not(:checked)~.sheet-lvl-3-spells,
.sheet-lvl-4-spells-show:not(:checked)~.sheet-lvl-4-spells,
.sheet-lvl-5-spells-show:not(:checked)~.sheet-lvl-5-spells,
.sheet-lvl-6-spells-show:not(:checked)~.sheet-lvl-6-spells,
.sheet-drone-details-show:not(:checked)~.sheet-drone-details,
.sheet-drone-abilites-show:not(:checked)~.sheet-drone-abilities,
.sheet-drone-skills-show:not(:checked)~.sheet-drone-skills,
.sheet-drone-notes-show:not(:checked)~.sheet-drone-notes,
.sheet-drone-feats-show:not(:checked)~.sheet-drone-feats,
.sheet-drone-weapons-show:not(:checked)~.sheet-drone-weapons,
.sheet-exocortex-details-show:not(:checked)~.sheet-exocortex-details,
.sheet-exocortex-abilities-show:not(:checked)~.sheet-exocortex-abilities,
.sheet-exocortex-level-1-abilities:not(:checked)~.sheet-exocortex-level-1-abilities,
.sheet-exocortex-level-5-abilities:not(:checked)~.sheet-exocortex-level-5-abilities,
.sheet-exocortex-level-7-abilities:not(:checked)~.sheet-exocortex-level-7-abilities,
.sheet-exocortex-level-10-abilities:not(:checked)~.sheet-exocortex-level-10-abilities,
.sheet-exocortex-level-15-abilities:not(:checked)~.sheet-exocortex-level-15-abilities,
.sheet-exocortex-level-20-abilities:not(:checked)~.sheet-exocortex-level-20-abilities,
.sheet-starship-details-show:not(:checked)~.sheet-starship-details,
.sheet-starship-weapon-show:not(:checked)~.sheet-starship-weapon,
.sheet-starship-crew-show:not(:checked)~.sheet-starship-crew,
.sheet-starship-pc-crew-show:not(:checked)~.sheet-starship-pc-crew,
.sheet-starship-npc-crew-show:not(:checked)~.sheet-starship-npc-crew,
.sheet-starship-damage-show:not(:checked)~.sheet-starship-damage,
.sheet-npc-general-show:not(:checked)~.sheet-npc-general,
.sheet-npc-defense-show:not(:checked)~.sheet-npc-defense,
.sheet-npc-offense-show:not(:checked)~.sheet-npc-offense,
.sheet-npc-tactics-show:not(:checked)~.sheet-npc-tactics,
.sheet-npc-statistics-show:not(:checked)~.sheet-npc-statistics,
.sheet-npc-skills-show:not(:checked)~.sheet-npc-skills,
.sheet-npc-gear-show:not(:checked)~.sheet-npc-gear,
.sheet-npc-feats-show:not(:checked)~.sheet-npc-feats,
.sheet-npc-weapons-show:not(:checked)~.sheet-npc-weapons,
.sheet-npc-special-attacks-show:not(:checked)~.sheet-npc-special-attacks,
.sheet-npc-spells-show:not(:checked)~.sheet-npc-spells,
.sheet-npc-spell-like-abilities-show:not(:checked)~.sheet-npc-spell-like-abilities,
.sheet-npc-before-combat-show:not(:checked)~.sheet-npc-before-combat,
.sheet-npc-during-combat-show:not(:checked)~.sheet-npc-during-combat,
.sheet-npc-morale-show:not(:checked)~.sheet-npc-morale,
.sheet-npc-base-statistics-show:not(:checked)~.sheet-npc-base-statistics,
.sheet-npc-special-abilities-show:not(:checked)~.sheet-npc-special-abilities,
.sheet-npc-gear-show:not(:checked)~.sheet-npc-gear,
.sheet-community-use-show:not(:checked)~.sheet-community-use {
    display:none;
}

/* Sheet tabs */
div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6,
input.sheet-tab7:checked ~ div.sheet-tab7,
input.sheet-tab8:checked ~ div.sheet-tab8, {
    display: block;
}

input.sheet-tab {
    color: #E0E0E0;
    width: 200px;
    height: 20px;
    position: relative;
    top: -6px;
    left: 10px;
    margin: -1.5px;
    z-index: 1;
}

input.sheet-tab::before {
    content: attr(title);

    text-align: center;
    padding: 2px 0px 0px 0px;
    display: inline-block;

    background:url(https://i.imgur.com/dEn7C06.png);
    background-size: 100%;

    width: 200px;
    height: 24px;
    font-size: 18px;
}

input.sheet-tab:checked::before {
    background:url(https://i.imgur.com/xzWsmOo.png);
    background-size: 100%;
}

div.sheet-tab-content {
    margin: 2px 0 0 5px;
    padding: 5px;
}

/* Sheet subtabs */
div.sheet-subtab-content { display: none; }

input.sheet-subtab1:checked ~ div.sheet-subtab1,
input.sheet-subtab2:checked ~ div.sheet-subtab2,
input.sheet-subtab3:checked ~ div.sheet-subtab3,
input.sheet-subtab4:checked ~ div.sheet-subtab4,
input.sheet-subtab5:checked ~ div.sheet-subtab5,
input.sheet-subtab6:checked ~ div.sheet-subtab6,
input.sheet-subtab7:checked ~ div.sheet-subtab7,
input.sheet-subtab8:checked ~ div.sheet-subtab8,
input.sheet-subtab9:checked ~ div.sheet-subtab9,
input.sheet-subtab10:checked ~ div.sheet-subtab10,
input.sheet-subtab11:checked ~ div.sheet-subtab11,
input.sheet-subtab12:checked ~ div.sheet-subtab12,
input.sheet-subtab13:checked ~ div.sheet-subtab13,
input.sheet-subtab14:checked ~ div.sheet-subtab14,
input.sheet-subtab15:checked ~ div.sheet-subtab15, {
    display: block;
}

input.sheet-subtab {
    color: #E0E0E0;
    width: 99px;
    top: -6px;
    left: 10px;
    margin: -1px;
    z-index: 1;
}

input.sheet-subtab::before {
    content: attr(title);

    text-align: center;
    padding: 2px 0px 0px 0px;
    display: inline-block;
    color: white;
    background-color: #20537E;
    width: 99px;
}

input.sheet-subtab:checked::before {
    color: white;
    background-color: #2F84C4;
}

div.sheet-subtab-content {
    margin: 2px 0 0 5px;
    padding: 5px;
}

.sheet-textarea {
    width: 700px;
    height:40px
}

.sheet-textarea-2 {
    width: 365px;
    height: 150px
}

.sheet-starship-textarea {
    width: 700px;
}

.sheet-center {
    margin-left:auto;
    margin-right:auto;
}

hr {
    border-color:black;
}

.sheet-table {
    display:table;
    width:100%;
}

.sheet-small-label {
    font-size: 85%!important;
    font-style: italic;
    font-weight: bold;
}

.sheet-table-name {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color: #20537E;
    width:100%;
}

.sheet-table-header {
    display:table-cell;
    text-align:center;
    font-weight:bold;
    vertical-align:bottom;
}

.sheet-table-header-left {
    display:table-cell;
    text-align:left;
    font-weight:bold;
    vertical-align:bottom;
}

.sheet-table-subheader {
    display:table-cell;
    text-align:center;
    font-size:10px;
    vertical-align:bottom;
}

.sheet-table-background {
    background-image: url("https://i.imgur.com/lmuWt29.png?1");
    background-repeat: no-repeat;
    background-position: center top;
}

.sheet-table-background1 {
    background-image: url("https://i.imgur.com/KANQ2ew.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.sheet-table-data {
    display:table-cell;
    vertical-align:middle;
}

.sheet-table-data-left {
    display:table-cell;
    text-align:left;
    vertical-align:middle;
}

.sheet-table-data-right {
    display:table-cell;
    text-align:right;
    vertical-align:middle;
}

.sheet-table-data-center {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

.sheet-table-row {
    display:table-row;
    vertical-align:middle;
    width:100%;
}

.sheet-table-row1 {
    display:table-row;
    vertical-align:bottom;
    width:100%;
}

.sheet-table-row-name {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    background-color:transparent;
    font-weight:bold;
}

.sheet-table-row1-name {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    color:white;
    background-color:black;
    font-weight:bold;
}

.sheet-table-row2-name {
    display:table-cell;
    text-align:left;
    vertical-align:middle;
    color:white;
    background-color:black;
    font-weight:bold;
}

.sheet-center {
    text-align:center;
}

.sheet-label {
    font-weight:bold;
    text-align:center;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="text"], select {
    width:100%;
    margin:0;
}

textarea {
    width:97%;
    height:50%;
}

.sheet-text-button {
    font-size:100%;
    color:white;
    background-color:black;
    border:0px;
    border-radius: 8px;
}

button,
button:hover,
button:active
{
    background-image: none;
}

.sheet-rolltemplate-pf_check .sheet-header_background {
    background:url(https://i.imgur.com/dEn7C06.png) no-repeat;
    background-size: 100%;
}

.sheet-rolltemplate-pf_check .sheet-content_background {
    background:url(https://i.imgur.com/5pNLmnK.png) repeat-y;
    background-size: 100%;
}

.sheet-rolltemplate-pf_check .sheet-footer_background {
    background:url(https://i.imgur.com/6wA8Xzq.png) no-repeat;
    background-size: 100%;
}

.sheet-rolltemplate-pf_check .sheet-header {
	color: #E0E0E0;
    	padding: 5px 0px 15px 18px;
	font-size: 1.2em;
    font-weight: bold;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
	letter-spacing: 1px;
}

.sheet-rolltemplate-pf_check .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-pf_check .sheet-content {
    color: #E0E0E0;
	    padding: 10px 10px 10px 15px;
	font-size: 1em;
    text-align: center;
}

.sheet-rolltemplate-pf-check .sheet-subheader {
    color: #E0E0E0;
    font-size: 1em;
    font-style: bold;
}

.sheet-rolltemplate-pf_check .sheet-footer {
    color: #E0E0E0;
	    padding: 25px 0px 15px 0px;
	font-size: 0.5em;
    text-align: center;
}

.sheet-rolltemplate-pf_check .inlinerollresult  {
    	background-color: transparent;
    	border: none;
}

.sheet-rolltemplate-pf_check .inlinerollresult.fullcrit {
	color: #3FB315;
    	border: none;
}

.sheet-rolltemplate-pf_check .inlinerollresult.fullfail {
	color: #B31515;
    	border: none;
}

.sheet-rolltemplate-pf_check .inlinerollresult.importantroll {
	color: #4A57ED;
    	border: none;
}

.sheet-rolltemplate-pf_attack table {
    width: 100%;
    padding: 2px;
}

.sheet-rolltemplate-pf_attack th {
    background:url(https://i.imgur.com/xzWsmOo.png) no-repeat;
    background-size: 100%;
    max-width: 200px;
    white-space: nowrap;
	color: #E0E0E0;
	padding: 5px 0px 7px 18px;
	line-height: 1.6em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-pf_attack .sheet-subheader {
    color: #E0E0E0;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-pf_attack .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid #E0E0E0;
}

.sheet-rolltemplate-pf_attack .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-pf_attack td {
    background:url(https://i.imgur.com/5pNLmnK.png) repeat-y;
    background-size: 100%;
    color: #E0E0E0;
    padding: 2px 10px 2px 28px;
}

.sheet-rolltemplate-pf_attack .sheet-footer_background {
    background:url(https://i.imgur.com/6wA8Xzq.png) no-repeat;
    background-size: 100%;
}

.sheet-rolltemplate-pf_attack .sheet-footer {
    color: #E0E0E0;
	padding: 25px 0px 15px 0px;
	font-size: 0.5em;
    text-align: center;
}

.sheet-rolltemplate-pf_attack .inlinerollresult  {
    background-color: transparent;
    border: none;
}

.sheet-rolltemplate-pf_attack .inlinerollresult.fullcrit {
    background-color: transparent;
	color: #3FB315;
    border: none;
}

.sheet-rolltemplate-pf_attack .inlinerollresult.fullfail {
    background-color: transparent;
	color: #B31515;
    border: none;
}

.sheet-rolltemplate-pf_attack .inlinerollresult.importantroll {
    background-color: transparent;
	color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-pf_spell table {
    width: 100%;
    padding: 2px;
}

.sheet-rolltemplate-pf_spell th {
    background:url(https://i.imgur.com/254voWX.png) no-repeat;
    background-size: 100%;
    max-width: 200px;
    white-space: nowrap;
	color: #E0E0E0;
	padding: 5px 0px 7px 18px;
	line-height: 1.6em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Arial", Helvetica, sans-serif;
    text-transform: uppercase;
}

.sheet-rolltemplate-pf_spell .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid #E0E0E0;
}

.sheet-rolltemplate-pf_spell .sheet-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-pf_spell td {
    background:url(https://i.imgur.com/5pNLmnK.png) repeat-y;
    background-size: 100%;
    color: #E0E0E0;
    padding: 2px 10px 2px 28px;
}

.sheet-rolltemplate-pf_spell .sheet-footer_background {
    background:url(https://i.imgur.com/6wA8Xzq.png) no-repeat;
    background-size: 100%;
}

.sheet-rolltemplate-pf_spell .sheet-footer {
    color: #E0E0E0;
	padding: 25px 0px 15px 0px;
	font-size: 0.5em;
    text-align: center;
}

.sheet-rolltemplate-pf_spell .inlinerollresult  {
    background-color: transparent;
    border: none;
}

.sheet-rolltemplate-pf_spell .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}

.sheet-rolltemplate-pf_spell .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}

.sheet-rolltemplate-pf_spell .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}
