mixin abilityScoreRow(longname, shortname)
  tr
    td.blackBox
      .shortname= shortname
      .longname= longname
    td
      +fieldBox('number', shortname)
    td
      +fieldBox('number', shortname + '_temp')
    td
      +readOnlyBox(shortname + '_mod')

table.abilityScores
  thead
    tr
      th Ability Name
      th Base Score
      th Temp +/-
      th Modifier
  tbody
    +abilityScoreRow('Strength', 'str')
    +abilityScoreRow('Dexterity', 'dex')
    +abilityScoreRow('Constitution', 'con')
    +abilityScoreRow('Intelligence', 'int')
    +abilityScoreRow('Wisdom', 'wis')
    +abilityScoreRow('Charisma', 'cha')
// +labelledAbove('Ability Score Notes')(style='width: 100%;'): +textarea('appearance')(style='height: 0.6in;')
