+labelledBoxH('AC').ac
  div.acEquation
    +labelledUnderlined('Total'): +readOnlyBox('ac')
    .mathOperator = 10 +
    +labelledUnderlined('Equipment')(style='width: 0.5in;'): +input('number', 'ac_equipment')
    .mathOperator +
    +labelledUnderlined('Dex mod'): +readOnlyBox('dex_mod')
    .mathOperator +
    +labelledUnderlined('Misc')(style='width: 0.5in;'): +input('number', 'ac_misc')
  div
    +labelledUnderlined('Conditional Modifiers')(style='width: 100%;'): +input('text', 'ac_notes')
.inlineBlock(style='vertical-align: top; width: 2in;')
  div: +labelledBoxH('Touch AC')(style='width: 100%;'): +readOnlyBox('ac_touch')(style='width: 0.5in;')
  div: +labelledBoxH('Flat-Footed AC')(style='width: 100%;'): +readOnlyBox('ac_flatfoot')(style='width: 0.5in;')
