+labelledBoxV('Base Attack Bonus')(style='vertical-align: top; width: 1in;'): +input('number', 'bab')
.inlineBlock(style='width: 4in;')
  div: +labelledBoxH('Melee')(style='width: 100%;')
    +labelledUnderlined('Total'): +readOnlyBox('melee_total')
    .mathOperator =
    +labelledUnderlined('BAB'): +readOnlyBox('bab')
    .mathOperator +
    +labelledUnderlined('Str mod'): +readOnlyBox('str_mod')
    .mathOperator +
    +labelledUnderlined('Size'): +readOnlyBox('size_attack_mod')
    .mathOperator +
    +labelledUnderlined('Misc')(style='width: 0.5in;'): +input('number', 'melee_misc')
  div: +labelledBoxH('Ranged')(style='width: 100%;')
    +labelledUnderlined('Total'): +readOnlyBox('ranged_total')
    .mathOperator =
    +labelledUnderlined('BAB'): +readOnlyBox('bab')
    .mathOperator +
    +labelledUnderlined('Dex mod'): +readOnlyBox('dex_mod')
    .mathOperator +
    +labelledUnderlined('Size'): +readOnlyBox('size_attack_mod')
    .mathOperator +
    +labelledUnderlined('Misc')(style='width: 0.5in;'): +input('number', 'ranged_misc')
