+labelledBoxV('Base Attack Bonus')(style='vertical-align: top; width: 1in;'): input(type='number', name='bab')
.inlineBlock(style='width: 4in;')
  div: +labelledBoxH('Melee')(style='width: 100%;')
    +labelledUnderlined('Total'): +readOnlyBox()(name='melee_total')
    .mathOperator =
    +labelledUnderlined('BAB'): +readOnlyBox()(name='bab')
    .mathOperator +
    +labelledUnderlined('Str mod'): +readOnlyBox()(name='str_mod')
    .mathOperator +
    +labelledUnderlined('Size'): +readOnlyBox()(name='size_attack_mod')
    .mathOperator +
    +labelledUnderlined('Misc')(style='width: 0.5in;'): input(type='number', name='melee_misc')
  div: +labelledBoxH('Ranged')(style='width: 100%;')
    +labelledUnderlined('Total'): +readOnlyBox()(name='ranged_total')
    .mathOperator =
    +labelledUnderlined('BAB'): +readOnlyBox()(name='bab')
    .mathOperator +
    +labelledUnderlined('Dex mod'): +readOnlyBox()(name='dex_mod')
    .mathOperator +
    +labelledUnderlined('Size'): +readOnlyBox()(name='size_attack_mod')
    .mathOperator +
    +labelledUnderlined('Misc')(style='width: 0.5in;'): input(type='number', name='ranged_misc')
