div(style='width: 7.5in;')
  +labelledBoxH('Combat Maneuver Bonus')(style='width: 100%;')
    .centeredV(style='width: 5in;')
      +labelledUnderlined('Total'): +readOnlyBox('cmb')
      .mathOperator =
      +labelledUnderlined('BAB'): +readOnlyBox('bab')
      .mathOperator +
      +labelledUnderlined('Str mod'): +readOnlyBox('str_mod')
      .mathOperator +
      +labelledUnderlined('Size'): +readOnlyBox('cmb_size')
      .mathOperator +
      +labelledUnderlined('Misc'): +input('number', 'cmb_misc')
div(style='width: 7.5in;')
  +labelledBoxH('Combat Maneuver Defense')(style='width: 100%;')
    .centeredV(style='width: 5in;')
      +labelledUnderlined('Total'): +readOnlyBox('cmd')
      .mathOperator = 10 +
      +labelledUnderlined('BAB'): +readOnlyBox('bab')
      .mathOperator +
      +labelledUnderlined('Str mod'): +readOnlyBox('str_mod')
      .mathOperator +
      +labelledUnderlined('Size'): +readOnlyBox('cmb_size')
      .mathOperator +
      +labelledUnderlined('Misc'): +input('number', 'cmd_misc')
div: +labelledUnderlined('CMB/MCD Notes')(style='width: 7.5in;'): +input('text', 'cmb_notes')
