include ../fields.pug

.coreTab
  div
    .inlineBlock(style='vertical-align: top; width: 3.2in;'): include abilityScores.pug
    .inlineBlock(style='vertical-align: top; width: 5in;'): include bio.pug
  div(style='height: 0.6in;')
    .floatLeft: include initiative.pug
    .floatRight
      +labelledBoxV('Movement & Speeds')(style='vertical-align: top;'): +input('text', 'movement')(style='width: 1.8in;')
      +labelledBoxV('Senses')(style='vertical-align: top;'): +input('text', 'senses')(style='width: 1.8in;')

  h3 Defenses
  div: include armorClass.pug
  div
    .inlineBlock(style='float: left;'): div(style='vertical-align: middle;')
      div: +labelledBoxH('Touch')(style='width: 1.4in;'): +readOnlyBox('ac_touch')(style='width: 0.25in;')
      div: +labelledBoxH('Flat-Footed')(style='width: 1.4in;'): +readOnlyBox('ac_flatfoot')(style='width: 0.25in;')
    .inlineBlock(style='float: right;'): div(style='vertical-align: middle;')
      +labelledBoxV('Damage Reduction')(style='width: 1in;'): +input('text', 'damage_reduction')
      +labelledBoxV('Spell Resistance')(style='width: 1in;'): +input('number', 'spell_resistance')
      .inlineBlock(style='vertical-align: top;')
        div: +labelledBoxH('Resistances')(style='width: 4.5in;'): +input('number', 'resistances')(style='width: 3.4in;')
        div: +labelledBoxH('Immunities')(style='width: 4.5in;'): +input('number', 'immunities')(style='width: 3.4in;')
  div
    .inlineBlock: include savingThrows.pug

  div: include baseAttack.pug
  div: include combatManeuverBonus.pug
