include ../fields.pug

.coreTab
  div
    .inlineBlock(style='vertical-align: top; width: 3.2in;'): include abilityScores.pug

    .inlineBlock(style='vertical-align: top; width: 5in;')
      div
        +labelledUnderlined('Gender')(style='width:1in;'): input(type='text', name='gender')
        +labelledUnderlined('Age')(style='width: 0.5in;'): input(type='text', name='age')
        +labelledUnderlined('Height')(style='width: 0.6in;'): input(type='text', name='height')
        +labelledUnderlined('Weight')(style='width: 0.6in;'): input(type='text', name='weight')
        include sizeSelect.pug
      div
        +labelledUnderlined('Homeland'): input(type='text', name='homeland')
        +labelledUnderlined('Deity')(style='width: 1.5in;'): input(type='text', name='deity')
        include alignmentSelect.pug
      div
        +labelledAbove('Appearance')(style='width: 100%;'): textarea(rows=6, name='appearance', style='height: 1in;')
      div
        +labelledBoxH('Speed')(style='vertical-align: top;'): input(type='text', name='speed', style='width: 1in;')
        +labelledBoxH('Initiative')
          +labelledUnderlined('Total')(style='width: 0.5in'): +readOnlyBox()(name='init_total')
          .mathOperator =
          +labelledUnderlined('Dex mod'): +readOnlyBox()(name='dex_mod')
          .mathOperator +
          +labelledUnderlined('Misc')(style='width: 0.5in;'): input(type='number', name='init_misc')

      div(style='width: 5.3in;'): include baseAttack.pug

  div
    include armorClass.pug
    .inlineBlock(style='float: right; vertical-align: top; width: 2.8in;')
      div: +labelledBoxH('Damage Reduction')(style='width: 100%;'): input(type='text', name='damage_reduction', style='width: 1in;')
      div: +labelledBoxH('Spell Resistance')(style='width: 100%;'): input(type='number', name='spell_resistance', style='width: 1in;')
  div: include savingThrows.pug

  include combatManeuverBonus.pug
