.inlineBlock.initiative
  .inlineBlock(style='vertical-align: middle;')
    .blackBox
      .shortname Initiative
    +labelledUnderlined('Total'): +readOnlyBox('initiative')
    .mathOperator = 10 +
    +labelledUnderlined('Dex mod'): +readOnlyBox('dex_mod')
    .mathOperator +
    +fieldBox('number', 'initiative_misc', 'Misc')
  +labelledUnderlined('Conditional Modifiers')(style='margin-left: 1em; width: 1in;'): +input('text', 'initiative_notes')
