mixin savingThrow(longName, shortName, abilityName, abilityShortName)
  tr
    td.blackBox
      .saveName= longName
      .abilityName= abilityName
    td
      +readOnlyBox(shortName)
    td
      .mathOperator =
    td
      +fieldBox('number', shortName + '_base')
    td
      .mathOperator +
    td
      +readOnlyBox(abilityShortName + '_mod')
    td
      .mathOperator +
    td
      +fieldBox('number', shortName + '_misc')
    td
      +labelledUnderlined('')(style='width: 100%;'): +input('text', shortName + '_notes')

table.savingThrows(style='width:100%;')
  thead
    tr
      th Saving Throws
      th Total
      th
      th Base Save
      th
      th Ability Mod
      th
      th Misc +/-
      th(style='width: 40%;') Conditional Modifiers
  tbody
    +savingThrow('Fortitude', 'fort', 'Constitution', 'con')
    +savingThrow('Reflex', 'ref', 'Dexterity', 'dex')
    +savingThrow('Will', 'will', 'Wisdom', 'wis')
