+labelledUnderlined('Size')(style='width: 1.2in;'): +select('size')
  option(value=4) Colossal
  option(value=3) Gargantuan
  option(value=2) Huge
  option(value=1) Large
  option(value=0, selected=true) Medium
  option(value=-1) Small
  option(value=-2) Tiny
  option(value=-3) Diminuitive
  option(value=-4) Fine
