.signature {
  $this: '.signature';

  &__title,
  &__title--custom {
    @extend .panel__title;
  }

  &__edit,
  &__view {
    gap: $grid-gutter;
  }

  &__signature--custom,
  &__title--custom {
    display: none;
  }

  input[name='attr_signature'][value='custom'] {
    ~ .signature__title {
      display: none !important;
    }
    ~ .signature__title--custom,
    ~ .signature__signature--custom {
      display: block;
    }
  }
}
