span.hide(data-i18n="ability") Ability
span.hide(data-i18n="advantage") Advantage
span.hide(data-i18n="disadvantage") Disadvantage
span.hide(data-i18n="roll_type") Roll Type
span.hide(data-i18n="roll") Roll
span.hide(data-i18n="normal") Normal
span.hide(data-i18n="success_on") Success On
