input(type=`hidden`, name=`attr_roll_query`)
input(type=`hidden`, name=`attr_rtype`, value=`1d20`)
input(type=`hidden`, name=`attr_wtype`)
input(type=`hidden`, name=`attr_sheet_mode`, value=`character`)
