<div class="sheet-spell-page{{num}}">
  <div class="sheet-row sheet-spell-header">
    <div class="sheet-col-1 sheet-vert-bottom sheet-center sheet-small-label">
      <span>Level {{num}}</span>
    </div>
  </div>

  <fieldset class="repeating_spellbooklevel{{num}}">
    <div class="sheet-wrap-box sheet-relative sheet-mar-b-md">
      <input type="hidden" name="attr_spellbaselevel" value="{{num}}"><input type="hidden" name="attr_spellfriendlylevel" value="Level {{num}}">
      <div class="sheet-col-1-3 sheet-center sheet-vert-middle sheet-pad-r-sm">
        <input type="text" class="sheet-center sheet-spell-name" name="attr_spellname" placeholder="Name">
      </div>
      <input type="checkbox" name="attr_spellisprepared" class="sheet-tab-spellbook-prep-con-rit-prepared"><span class="sheet-tab-spellbook-prep-con-rit-prepared">
        <span class="sheet-english">Prepared</span>
        <span class="sheet-german">Vorbereitete</span>
      </span>
      <input type="checkbox" name="attr_spellritual" class="sheet-tab-spellbook-prep-con-rit-ritual" value="{{spellritual=1}}"><span class="sheet-tab-spellbook-prep-con-rit-ritual">
        <span class="sheet-english">Ritual</span>
        <span class="sheet-german">Rituale</span>
      </span>
      <input type="checkbox" name="attr_spellconcentration" class="sheet-tab-spellbook-prep-con-rit-concentration" value="{{spellconcentration=1}}"><span class="sheet-tab-spellbook-prep-con-rit-concentration">
        <span class="sheet-english">Concentration</span>
        <span class="sheet-german">Konzentration</span>
      </span>
      <div class="sheet-spellbook-toggle-spell">
        <div class="sheet-row sheet-mar-b-md">
          <div class="sheet-col-1-8 sheet-center sheet-vert-middle sheet-pad-r-sm">
            <span class="sheet-english">
              <select name="attr_spellschool">
                <option value="" selected="selected">n/a</option>
                <option value="Abjuration">Abjuration</option>
                <option value="Conjuration">Conjuration</option>
                <option value="Divination">Divination</option>
                <option value="Enchantment">Enchantment</option>
                <option value="Evocation">Evocation</option>
                <option value="Illusion">Illusion</option>
                <option value="Necromancy">Necromancy</option>
                <option value="Transmutation">Transmutation</option>
              </select>
            </span>
            <span class="sheet-german">
              <select name="attr_spellschool">
                <option value="" selected="selected">n/a</option>
                <option value="Abjuration">Bannzauber</option>
                <option value="Conjuration">Beschwörung</option>
                <option value="Divination">Erkenntniszauber</option>
                <option value="Enchantment">Verzauberung</option>
                <option value="Evocation">Hervorrufung</option>
                <option value="Illusion">Illusion</option>
                <option value="Necromancy">Nekromantie</option>
                <option value="Transmutation">Verwandlung</option>
              </select>
            </span>
            <div class="sheet-small-label">
              <span class="sheet-english">School</span>
              <span class="sheet-german">Schule</span>
            </div>
          </div>
          <div class="sheet-col-1-8 sheet-center sheet-vert-middle sheet-pad-r-sm">
            <input type="text" class="sheet-center" name="attr_spellcasttime">
            <div class="sheet-small-label">
              <span class="sheet-english">Casting Time</span>
              <span class="sheet-german">Zauberzeit</span>
            </div>
          </div>
          <div class="sheet-col-1-12 sheet-center sheet-vert-middle sheet-pad-r-sm">
            <input type="text" class="sheet-center" name="attr_spellrange">
            <div class="sheet-small-label">
              <span class="sheet-english">Range</span>
              <span class="sheet-german">Reichweite</span>
            </div>
          </div>
          <div class="sheet-col-1-8 sheet-center sheet-vert-middle sheet-pad-r-sm">
            <input type="text" class="sheet-center" name="attr_spellcomponents">
            <div class="sheet-small-label">
              <span class="sheet-english">Components</span>
              <span class="sheet-german">Komponenten</span>
            </div>
          </div>
          <div class="sheet-col-1-8 sheet-center sheet-vert-middle sheet-pad-r-sm">
            <input type="text" class="sheet-center" name="attr_spellduration">
            <div class="sheet-small-label">
              <span class="sheet-english">Duration</span>
              <span class="sheet-german">Dauer</span>
            </div>
          </div>
          <div class="sheet-col-1-8 sheet-center sheet-vert-middle sheet-pad-r-sm" title="Use this field to indicate where you learned or have access to this spell from. Useful to know if multiclassing or if you gain access to spells your class would not normally have thanks to subclass bonuses">
            <span class="sheet-english">
              <select name="attr_spellgainedfrom">
                <option value="Not Set">Not Set</option>
                <option value="Race">Race</option>
                <option value="Arcane Trickster">Arcane Trickster</option>
                <option value="Bard">Bard</option>
                <option value="Cleric">Cleric</option>
                <option value="Druid">Druid</option>
                <option value="Eldritch Knight">Eldritch Knight</option>
                <option value="Paladin">Paladin</option>
                <option value="Ranger">Ranger</option>
                <option value="Sorcerer">Sorcerer</option>
                <option value="Warlock">Warlock</option>
                <option value="Wizard">Wizard</option>
                <option value="Other Source">Other</option>
              </select>
            </span>
            <span class="sheet-german">
              <select name="attr_spellgainedfrom">
                <option value="Not Set">Nicht Gesetzt</option>
                <option value="Race">Rasse</option>
                <option value="Arcane Trickster">Arkaner Betrüger</option>
                <option value="Bard">Barde</option>
                <option value="Cleric">Kleriker</option>
                <option value="Druid">Druide</option>
                <option value="Eldritch Knight">Mystischer Ritter</option>
                <option value="Paladin">Paladin</option>
                <option value="Ranger">Waldläufer</option>
                <option value="Sorcerer">Hexenmeister</option>
                <option value="Warlock">Hexer</option>
                <option value="Wizard">Zauberer</option>
                <option value="Other Source">Andere</option>
              </select>
            </span>
            <div class="sheet-small-label">
              <span class="sheet-english">Source</span>
              <span class="sheet-german">Quelle</span>
            </div>
          </div>
          <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
            <textarea class="sheet-center sheet-xs-textarea" name="attr_spelltarget"></textarea>
            <div class="sheet-center sheet-small-label">
              <span class="sheet-english">Target/AoE</span>
              <span class="sheet-german">Ziel/AoE</span>
            </div>
          </div>
          <div class="sheet-spell-button-group sheet-right">
            <div class="sheet-row">
              <div class="sheet-col sheet-center sheet-vert-middle">
                <button type="roll" class="sheet-roll" name="roll_SpellInfo" value="@{output_option} &{template:5eDefault} {{spell=1}} {{character_name=@{character_name}}} @{show_character_name} {{spellshowinfoblock=1}} {{title=@{spellname}}} {{spellschool=@{spellschool}}} {{spellfriendlylevel=@{spellfriendlylevel}}} @{spellconcentration} @{spellritual} {{spellcasttime=@{spellcasttime}}} {{spellduration=@{spellduration}}} {{target=@{spelltarget}}} {{range=@{spellrange}}} {{spellgainedfrom=@{spellgainedfrom}}} {{spellcomponents=@{spellcomponents}}} {{spelldescription=@{spelldescription}}} {{spellhigherlevel=@{spellhighersloteffect}}} @{classactionspellinfo}">
                  <span>Info</span>
                </button>
              </div>
              <div class="sheet-col sheet-center sheet-vert-middle">
                <button type="roll" class="sheet-roll" name="roll_SpellCast" value="@{output_option} &{template:5eDefault} {{spell=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{spellname}}} {{spellschool=@{spellschool}}} {{spellfriendlylevel=@{spellfriendlylevel}}} @{spellconcentration} @{spellritual} @{spellcastmacrooptions} {{spellcasttime=@{spellcasttime}}} {{spellduration=@{spellduration}}} {{target=@{spelltarget}}} {{range=@{spellrange}}} {{spellgainedfrom=@{spellgainedfrom}}} {{spellcomponents=@{spellcomponents}}} @{classactionspellcast}">
                  <span>Cast</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="sheet-row sheet-pad-t-sm sheet-pad-b-sm sheet-spell-macro-output-options">
          <div class="sheet-col-1-8 sheet-vert-middle sheet-small-label sheet-pad-l-lg">
            <span class="sheet-english">Spellcast macro display options</span>
            <span class="sheet-german">Zauberspruchmakro-anzeigeoptionen</span>
          </div>
          <div class="sheet-col-1-12 sheet-center">
            <input type="checkbox" name="attr_spellshowinfoblock" value="{{spellshowinfoblock=1}}">
            <div class="sheet-small-label">
              <span class="sheet-english">Info block</span>
              <span class="sheet-german">Infoblock</span>
            </div>
          </div>
          <div class="sheet-col-1-12 sheet-center">
            <input type="checkbox" name="attr_spellshowdesc" value="{{spellshowdesc=1}} {{spelldescription=@{spelldescription}}}">
            <div class="sheet-small-label">
              <span class="sheet-english">Description</span>
              <span class="sheet-german">Beschreibung</span>
            </div>
          </div>
          <div class="sheet-col-1-8 sheet-center">
            <input type="checkbox" name="attr_spellshowhigherlvl" value="{{spellshowhigherlvl=1}} {{spellhigherlevel=@{spellhighersloteffect}}}">
            <div class="sheet-small-label">
              <span class="sheet-english">At higher levels</span>
              <span class="sheet-german">Auf höheren Levels</span>
            </div>
          </div>
          <div class="sheet-col-1-12 sheet-center">
            <input type="checkbox" name="attr_spellshowattack" value="{{spellshowattack=1}} {{spellattack=[[d20 + @{attackstat} + @{PB} + (@{global_spell_attack_bonus})]]}}">
            <input type="hidden" name="attr_spellshowattackadv" value="{{spellattackadv=[[d20 + @{attackstat} + @{PB} + (@{global_spell_attack_bonus})]]}}">
            <div class="sheet-small-label">
              <span class="sheet-english">Attack roll</span>
              <span class="sheet-german">Angriffswurf</span>
            </div>
          </div>
          <div class="sheet-col-1-8 sheet-center">
            <input type="checkbox" name="attr_spellshowsavethrow" value="{{spellshowsavethrow=1}} {{spellsavedc=[[@{spellsavedc} + @{customsavedc}]]}} {{spellsavestat=@{savestat}}} {{spellsavesuccess=@{savesuccess}}}">
            <div class="sheet-small-label">
              <span class="sheet-english">Saving throw</span>
              <span class="sheet-german">Rettungswurf</span>
            </div>
          </div>
          <div class="sheet-col-1-12 sheet-center">
            <input type="checkbox" name="attr_spellshowhealing" value="{{spellshowhealing=1}} {{spellhealing=[[@{spellhealamount} + @{healstatbonus}]]}}">
            <div class="sheet-small-label">
              <span class="sheet-english">Healing</span>
              <span class="sheet-german">Heilung</span>
            </div>
          </div>
          <div class="sheet-col-1-12 sheet-center">
            <input type="checkbox" name="attr_spellshowdamage" value="{{spellshowdamage=1}} {{spelldamage=[[@{damage} + @{damagestatbonus} + @{damagemiscbonus} + (@{global_spell_damage_bonus}) + 0d0]] @{damagetype}}} @{spellcancrit}">
            <div class="sheet-small-label">
              <span class="sheet-english">Damage</span>
              <span class="sheet-german">Schaden</span>
            </div>
          </div>
          <div class="sheet-col-1-12 sheet-center">
            <input type="checkbox" name="attr_spellshoweffects" value="{{spellshoweffects=1}} {{spelleffect=@{spelleffect}}}">
            <div class="sheet-small-label">
              <span class="sheet-english">Effects</span>
              <span class="sheet-german">Effekte</span>
            </div>
          </div>

          <input type="hidden" name="attr_spellcastmacrooptions" value="@{spellshowinfoblock} @{spellshowdesc} @{spellshowhigherlvl} @{spellshowattack} @{spellshowattackadv} @{spellshowsavethrow} @{spellshowhealing} @{spellshowdamage} @{spellshoweffects}">
        </div>

        <span class="sheet-spacer"></span>
        <span class="sheet-small-label">
          <span class="sheet-english">Show:</span>
          <span class="sheet-german">Anzeigen:</span>
        </span>
        <input type="checkbox" name="attr_spelltypeadvanced" class="sheet-tab-spell-type sheet-spelltypeadvanced" value="1"><span class="sheet-tab-spell-type sheet-spelltypeadvanced">
          <span class="sheet-english">Description</span>
          <span class="sheet-german">Beschreibung</span>
        </span> |
        <input type="checkbox" name="attr_spelltypeattack" class="sheet-tab-spell-type sheet-spelltypeattack" value="1"><span class="sheet-tab-spell-type sheet-spelltypeattack">
          <span class="sheet-english">Attack</span>
          <span class="sheet-german">Angriff</span>
        </span>
        <input type="checkbox" name="attr_spelltypesave" class="sheet-tab-spell-type sheet-spelltypesave" value="1"><span class="sheet-tab-spell-type sheet-spelltypesave">
          <span class="sheet-english">Save</span>
          <span class="sheet-german">Rettung</span>
        </span>
        <input type="checkbox" name="attr_spelltypeheal" class="sheet-tab-spell-type sheet-spelltypeheal" value="1"><span class="sheet-tab-spell-type sheet-spelltypeheal">
          <span class="sheet-english">Healing</span>
          <span class="sheet-german">Heilung</span>
        </span> |
        <input type="checkbox" name="attr_spelltypdamage" class="sheet-tab-spell-type sheet-spelltypedamage" value="1"><span class="sheet-tab-spell-type sheet-spelltypedamage">
          <span class="sheet-english">Damage</span>
          <span class="sheet-german">Schaden</span>
        </span>
        <input type="checkbox" name="attr_spelltypeeffects" class="sheet-tab-spell-type sheet-spelltypeeffects" value="1"><span class="sheet-tab-spell-type sheet-spelltypeeffects">
          <span class="sheet-english">Effects</span>
          <span class="sheet-german">Effekte</span>
        </span>
        <span class="sheet-spacer"></span>

        <div class="sheet-spell-type-advanced">
          <div class="sheet-row sheet-mar-b-md">
            <div class="sheet-col-2-3 sheet-center sheet-pad-r-sm">
              <textarea class="sheet-small-textarea" name="attr_spelldescription"></textarea>
              <div class="sheet-small-label">
                <span class="sheet-english">Spell Description/Flavor</span>
                <span class="sheet-german">Zauberbeschreibung/Flavor</span>
              </div>
            </div>
            <div class="sheet-col-1-3 sheet-center sheet-pad-l-sm">
              <textarea class="sheet-small-textarea" name="attr_spellhighersloteffect"></textarea>
              <div class="sheet-small-label">
                <span class="sheet-english">Higher Spell Slot Effect</span>
                <span class="sheet-german">Effekt höherer Zauberslots</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sheet-spell-type-attack">
          <div class="sheet-row sheet-center sheet-mar-b-md">
            <div class="sheet-col sheet-vert-middle">
              <p class="sheet-small-note">
                <span class="sheet-english">This is normally your spellcasting stat from the class you gained the spell from.</span>
                <span class="sheet-german">Dies ist normalerweise dein Zauberstatus, von der Klasse, von der du den Zauber erhalten hast.</span>
              </p>
            </div>
            <div class="sheet-col-1-14 sheet-center sheet-vert-middle">
              <span class="sheet-english">
                <select name="attr_attackstat">
                  <option value="0">None</option>
                  <option value="@{strength_mod}">Str</option>
                  <option value="@{dexterity_mod}">Dex</option>
                  <option value="@{constitution_mod}">Con</option>
                  <option value="@{intelligence_mod}">Int</option>
                  <option value="@{wisdom_mod}">Wis</option>
                  <option value="@{charisma_mod}">Cha</option>
                </select>
              </span>
              <span class="sheet-german">
                <select name="attr_attackstat">
                  <option value="0">Keins</option>
                  <option value="@{strength_mod}">Str</option>
                  <option value="@{dexterity_mod}">Ges</option>
                  <option value="@{constitution_mod}">Kon</option>
                  <option value="@{intelligence_mod}">Int</option>
                  <option value="@{wisdom_mod}">Wei</option>
                  <option value="@{charisma_mod}">Cha</option>
                </select>
              </span>
              <div class="sheet-small-label">
                <span class="sheet-english">Attack Stat</span>
                <span class="sheet-german">Angriffsstatus</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sheet-spell-type-save">
          <div class="sheet-row sheet-center sheet-mar-b-md">
            <div class="sheet-col-1-14 sheet-center sheet-pad-r-sm">
              <span class="sheet-english">
                <select name="attr_savestat">
                  <option value="Str">Str</option>
                  <option value="Dex">Dex</option>
                  <option value="Con">Con</option>
                  <option value="Int">Int</option>
                  <option value="Wis">Wis</option>
                  <option value="Cha">Cha</option>
                </select>
              </span>
              <span class="sheet-german">
                <select name="attr_savestat">
                  <option value="Str">Str</option>
                  <option value="Dex">Ges</option>
                  <option value="Con">Kon</option>
                  <option value="Int">Int</option>
                  <option value="Wis">Wei</option>
                  <option value="Cha">Cha</option>
                </select>
              </span>
              <div class="sheet-small-label">
                <span class="sheet-english">Save Stat</span>
                <span class="sheet-german">Rettungsstatus</span>
              </div>
            </div>
            <div class="sheet-col-1-6 sheet-center sheet-pad-r-sm" title="Pick the class that the save DC will be created from or set your own DC by selecting custom here and then entering the DC in the next field">
              <span class="sheet-english">
                <select name="attr_spellsavedc">
                  <option value="0">Choose...</option>
                  <option value="@{arcane_trickster_spell_dc}">Arcane Trickster DC</option>
                  <option value="@{bard_spell_dc}">Bard DC</option>
                  <option value="@{cleric_spell_dc}">Cleric DC</option>
                  <option value="@{druid_spell_dc}">Druid DC</option>
                  <option value="@{eldritch_knight_spell_dc}">Eldritch Knight DC</option>
                  <option value="@{paladin_spell_dc}">Paladin DC</option>
                  <option value="@{ranger_spell_dc}">Ranger DC</option>
                  <option value="@{sorcerer_spell_dc}">Sorcerer DC</option>
                  <option value="@{warlock_spell_dc}">Warlock DC</option>
                  <option value="@{wizard_spell_dc}">Wizard DC</option>
                  <option value="0">Custom DC</option>
                </select>
              </span>
              <span class="sheet-german">
                <select name="attr_spellsavedc">
                  <option value="0">Wähle...</option>
                  <option value="@{arcane_trickster_spell_dc}">Arkaner Betrüger DC</option>
                  <option value="@{bard_spell_dc}">Barde DC</option>
                  <option value="@{cleric_spell_dc}">Kleriker DC</option>
                  <option value="@{druid_spell_dc}">Druide DC</option>
                  <option value="@{eldritch_knight_spell_dc}">Mystischer Ritter DC</option>
                  <option value="@{paladin_spell_dc}">Paladin DC</option>
                  <option value="@{ranger_spell_dc}">Waldläufer DC</option>
                  <option value="@{sorcerer_spell_dc}">Hexenmeister DC</option>
                  <option value="@{warlock_spell_dc}">Hexer DC</option>
                  <option value="@{wizard_spell_dc}">Zauber DC</option>
                  <option value="0">Beliebiger DC</option>
                </select>
              </span>
              <div class="sheet-small-label">
                <span class="sheet-english">Save DC</span>
                <span class="sheet-german">Rettung DC</span>
              </div>
            </div>
            <div class="sheet-col-1-14 sheet-center sheet-pad-r-sm">
              <input type="number" name="attr_customsavedc" value="0" min="0" step="1" title="Unless you have selected Custom in the previous field this should always be 0">
              <div class="sheet-small-label">
                <span class="sheet-english">Custom DC</span>
                <span class="sheet-german">Beliebiger DC</span>
              </div>
            </div>
            <div class="sheet-col-1-3 sheet-center">
              <textarea class="sheet-xs-textarea sheet-center" name="attr_savesuccess"></textarea>
              <div class="sheet-small-label">
                <span class="sheet-english">On a successful save</span>
                <span class="sheet-german">Bei erfolgreichen Rettungswurf</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sheet-spell-type-heal">
          <div class="sheet-row sheet-center sheet-mar-b-md">
            <div class="sheet-col-1-12 sheet-center sheet-pad-r-sm">
              <input type="text" class="sheet-center" name="attr_spellhealamount" value="0">
              <div class="sheet-small-label">
                <span class="sheet-english">Heal amount</span>
                <span class="sheet-german">Heilmenge</span>
              </div>
            </div>
            <div class="sheet-col-1-14 sheet-center">
              <span class="sheet-english">
                <select name="attr_healstatbonus">
                  <option value="0">None</option>
                  <option value="@{strength_mod}">Str</option>
                  <option value="@{dexterity_mod}">Dex</option>
                  <option value="@{constitution_mod}">Con</option>
                  <option value="@{intelligence_mod}">Int</option>
                  <option value="@{wisdom_mod}">Wis</option>
                  <option value="@{charisma_mod}">Cha</option>
                </select>
              </span>
              <span class="sheet-german">
                <select name="attr_healstatbonus">
                  <option value="0">Keins</option>
                  <option value="@{strength_mod}">Str</option>
                  <option value="@{dexterity_mod}">Ges</option>
                  <option value="@{constitution_mod}">Kon</option>
                  <option value="@{intelligence_mod}">Int</option>
                  <option value="@{wisdom_mod}">Wei</option>
                  <option value="@{charisma_mod}">Cha</option>
                </select>
              </span>
              <div class="sheet-small-label">
                <span class="sheet-english">Stat Bonus</span>
                <span class="sheet-german">Statibonus</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sheet-spell-type-damage">
          <div class="sheet-row sheet-center sheet-mar-b-md">
            <div class="sheet-col-1-12 sheet-center sheet-vert-middle">
              <input type="checkbox" name="attr_spellcancrit" value="{{spellcancrit=1}} {{spellcritdamage=Add [[@{damage}]] damage}}" checked="checked">
              <div class="sheet-small-label">
                <span class="sheet-english">Can Crit?</span>
                <span class="sheet-german">Kritisch möglich?</span>
              </div>
            </div>
            <div class="sheet-col-1-12 sheet-center sheet-vert-middle sheet-pad-r-sm">
              <input type="text" class="sheet-center" name="attr_damage" value="0">
              <div class="sheet-small-label">
                <span class="sheet-english">Damage Dice</span>
                <span class="sheet-german">Schadenswürfel</span>
              </div>
            </div>
            <div class="sheet-col-1-14 sheet-center sheet-vert-middle sheet-pad-r-sm">
              <span class="sheet-english">
                <select name="attr_damagestatbonus">
                  <option value="0">None</option>
                  <option value="@{strength_mod}">Str</option>
                  <option value="@{dexterity_mod}">Dex</option>
                  <option value="@{constitution_mod}">Con</option>
                  <option value="@{intelligence_mod}">Int</option>
                  <option value="@{wisdom_mod}">Wis</option>
                  <option value="@{charisma_mod}">Cha</option>
                </select>
              </span>
              <span class="sheet-german">
                <select name="attr_damagestatbonus">
                  <option value="0">Keins</option>
                  <option value="@{strength_mod}">Str</option>
                  <option value="@{dexterity_mod}">Ges</option>
                  <option value="@{constitution_mod}">Kon</option>
                  <option value="@{intelligence_mod}">Int</option>
                  <option value="@{wisdom_mod}">Wei</option>
                  <option value="@{charisma_mod}">Cha</option>
                </select>
              </span>
              <div class="sheet-small-label">
                <span class="sheet-english">Stat Bonus</span>
                <span class="sheet-german">Statibonus</span>
              </div>
            </div>
            <div class="sheet-col-1-12 sheet-center sheet-vert-middle sheet-pad-r-sm">
              <input type="number" class="sheet-center" name="attr_damagemiscbonus" value="0" step="1">
              <div class="sheet-small-label">
                <span class="sheet-english">Other Bonus</span>
                <span class="sheet-german">Andere Boni</span>
              </div>
            </div>
            <div class="sheet-col-1-9 sheet-center sheet-vert-middle">
              <input type="text" class="sheet-center" name="attr_damagetype">
              <div class="sheet-small-label">
                <span class="sheet-english">Damage Type</span>
                <span class="sheet-german">Schadensart</span>
              </div>
            </div>
          </div>
        </div>
        <div class="sheet-spell-type-effects">
          <div class="sheet-row">
            <div class="sheet-col-1 sheet-small-label sheet-center">
              <textarea class="sheet-small-textarea" name="attr_spelleffect"></textarea>
              <div class="sheet-small-label">
                <span class="sheet-english">Spell Effects</span>
                <span class="sheet-german">Zaubereffekt</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sheet-wrap-box-title sheet-center">
          <span>Level {{num}}</span>
        </div>
      </div>
    </div>
  </fieldset>
</div>