/* Tab Switching */
div.button-row {
    padding: 0 2rem 0 5rem;
    margin: 0;


    .adv-btn-group,
    .gm-btn-group{
        display: none;
    }

    input[name="attr_rtype"][value*="advantagetoggle"] + .adv-btn-group,
    input[name="attr_wtype"][value*="whispertoggle"] + .gm-btn-group{
        display: block;
    }

    button {
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0.1rem 0.5rem;
        background-color: #E8E8E8;

        span {
            margin: 0;
            padding: 0;
        }
    }

    /*PC*/
    input[name="attr_tab"][value="core"] ~ button[name="act_tab_core"],
    input[name="attr_tab"][value="bio"] ~ button[name="act_tab_bio"],
    input[name="attr_tab"][value="powers"] ~ button[name="act_tab_powers"],
    input[name="attr_tab"][value="options"] ~ button[name="act_tab_options"],
    /*SHIP*/
    input[name="attr_ship_tab"][value="ship-core"] ~ button[name="act_ship_tab_core"],
    input[name="attr_ship_tab"][value="ship-cargo"] ~ button[name="act_ship_tab_cargo"],
    input[name="attr_ship_tab"][value="ship-mods"] ~ button[name="act_ship_tab_mods"],
    input[name="attr_ship_tab"][value="ship-suites"] ~ button[name="act_ship_tab_suites"],
    input[name="attr_ship_tab"][value="ship-options"] ~ button[name="act_ship_tab_options"],
    /*Whisper*/
    input[name="attr_whispertoggle"][value=""] ~ button[name="act_wtype_public"],
    input[name="attr_whispertoggle"][value*="gm"] ~ button[name="act_wtype_whisper"],
    /*Advantages*/
    input[name="attr_advantagetoggle"]:not([value*="disadvantage"])[value*="advantage"] ~ button[name="act_adv_advantage"],
    input[name="attr_advantagetoggle"][value*="normal"] ~ button[name="act_adv_normal"],
    input[name="attr_advantagetoggle"][value*="disadvantage"] ~ button[name="act_adv_disadvantage"]{
        background-color: #EC2127;
        color: white;
    }
}
div.triangle.button-row{
    display: none;
    padding: 0 0 0.5rem 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

div.triangle.button-row:has(input[name="attr_rtype"][value*="advantagetoggle"]),
div.triangle.button-row:has(input[name="attr_wtype"][value*="whispertoggle"]){
    display: flex;
}

/*PC TABS*/
.tab.core,
.tab.bio,
.tab.powers,
.tab.options,
/*SHIP TABS*/
.tab.ship-core,
.tab.ship-suites,
.tab.ship-cargo,
.tab.ship-mods,
/* NPC POWERS */
.npc-powers{
    display: none;
}
/*PC TAB SELECTED */
input[name="attr_tab"][value="core"] ~ .tab.core,
input[name="attr_tab"][value="bio"] ~ .tab.bio,
input[name="attr_tab"][value="powers"] ~ .tab.powers,
input[name="attr_tab"][value="options"] ~ .tab.options,
/*SHIP TAB SELECTED */
input[name="attr_ship_tab"][value="ship-core"] ~ .tab.ship-core,
input[name="attr_ship_tab"][value="ship-options"] ~ .tab.options,
input[name="attr_ship_tab"][value="ship-suites"] ~ .tab.ship-suites,
input[name="attr_ship_tab"][value="ship-cargo"] ~ .tab.ship-cargo,
input[name="attr_ship_tab"][value="ship-mods"] ~ .tab.ship-mods,
/*NPC POWERS SELECTED*/
input[name="attr_npcpowercastingflag"][value="1"] ~ .npc-powers{
    display: flex;
    flex-direction:column;
}


/* Switch between complex & simple data */
.equipment .complex,
.equipment .simple,
.proficiencies .complex,
.proficiencies .simple,
.traits .complex,
.traits .simple
{
    display: none;
}

.equipment .inventoryflag[value="complex"] ~ .complex,
.equipment .inventoryflag[value="simple"] ~ .simple,
.proficiencies .inventoryflag[value="complex"] ~ .complex,
.proficiencies .inventoryflag[value="simple"] ~ .simple,
.traits .inventoryflag[value="complex"] ~ .complex,
.traits .inventoryflag[value="simple"] ~ .simple
{
    display: inline-block;
}

/* Powers tooglable details */
.powers .body{
    .power{
        .detail{
            display: none;
        }
        input[name="attr_detail-flag"],
        input[name="attr_detail-flag"] + span{
            position: absolute;
            top: 0;
            right: 20px;
            width: 18px;
            height: 18px;
            font-size: 20px;
        }
        input[name="attr_detail-flag"]{
            z-index: 5;
            opacity: 0;
        }
        input[name="attr_detail-flag"] + span{
            font-family: 'pictos';
            padding: 0;
            margin: 0;
            display: none;
        }
        input[name="attr_detail-flag"]:checked + span{
            display: block;
            color: black;
        }
        input[name="attr_options-flag"]:not(:checked) ~ input[name="attr_detail-flag"]:checked ~ .detail{
            display: block;
        }
    }
    .power:hover{
        input[name="attr_detail-flag"] + span {
            display: block;
            color: darkgray;
        }
        input[name="attr_detail-flag"]:checked + span{
            color: black;
        }
    }
}