/* Tab Switching */
input[type=radio].tab-button {
    opacity: 0;
    position: absolute;
    top: 92px;
    right: 2rem;
    width: 18px;
    height: 18px;
    z-index: 2;
}

input[type=radio].tab-button + span {
    position: absolute;
    top: 92px;
    right: 2rem;
    width: 17px;
    height: 17px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E8E8E8;
    color: black;
    text-align: center;
    font-weight: bold;
}

.advantagetoggle input[type=radio]:checked + span,
input[type=radio].tab-button:checked + span {
    color: #FFFFFF;
    background-color: #EC2127;
}

.advantagetoggle input.toggle-left,
.advantagetoggle input.toggle-left + span {
    right: calc(181px + 2rem);
    width: 90px;
}

.advantagetoggle input.toggle-center,
.advantagetoggle input.toggle-center + span {
    right: calc(113px + 2rem);
    width: 65px;
}

.advantagetoggle input.toggle-right,
.advantagetoggle input.toggle-right + span {
    right: calc(0px + 2rem);
    width: 110px;
}

.whispertoggle {
    left: 270px;
}

.advantagetoggle.whispertoggle input.toggle-right,
.advantagetoggle.whispertoggle input.toggle-right + span {
    width: 50px;
}

.advantagetoggle.whispertoggle input.toggle-left,
.advantagetoggle.whispertoggle input.toggle-left + span {
    right: calc(54px + 2rem);
    width: 55px;
}

.npc_toggle[value="1"] ~ .advantagetoggle {
    top: -10px;
    left: 390px;
}

.npc_toggle[value="1"] ~ .advantagetoggle.whispertoggle {
    top: -10px;
    left: 120px;
}

.advantagetoggle {
    display: none;
}

.toggleflag[value*="advantagetoggle"] + .advantagetoggle,
.toggleflag[value*="whispertoggle"] + .whispertoggle,
.toggleflag[value="1"] + .hidden,
.toggleflag[value="1"] + .sheet-row.hidden {
    display: block;
}

.npc_toggle[value="1"] + .npcpowercastingflag[value="1"] ~ .pc,
.npc_toggle[value="1"] + .npcpowercastingflag[value="1"] ~ .pc .tab.powers .header {
    display: block;
    visibility: hidden;
    width: 0;
    top: -150px;
    margin: 0;
    padding: 0;
}

.npc_toggle[value="1"] + .npcpowercastingflag[value="1"] ~ .pc .tab.powers {
    display: block;
}

.npc_toggle[value="1"] + .npcpowercastingflag[value="1"] ~ .pc .tab.core,
.npc_toggle[value="1"] + .npcpowercastingflag[value="1"] ~ .pc .tab.bio,
.npc_toggle[value="1"] + .npcpowercastingflag[value="1"] ~ .pc .tab.options {
    display: none;
}

.npc_toggle[value="2"] ~ .ship .tab.ship-core,
.npc_toggle[value="2"] ~ .ship .tab.ship-cargo,
.npc_toggle[value="2"] ~ .ship .tab.ship-mods,
.npc_toggle[value="2"] ~ .ship .tab.ship-suites {
    display: none;
}

.npc_toggle[value="1"] + .npcpowercastingflag[value="1"] ~ .pc .tab.powers .body {
    visibility: visible;
}

.npc_toggle[value="1"] + .npcpowercastingflag[value="1"] ~ .pc .tab.powers .body .col {
    display: block;
}

.hidden,
.options .sheet-row.hidden {
    display: none;
}

.npc_toggle[value="1"] ~ .advantagetoggle input[type=radio] + span {
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: normal;
    background: transparent;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.npc_toggle[value="1"] ~ .advantagetoggle input[type=radio] + span:first-letter {
    text-transform: uppercase;
}

.npc_toggle[value="1"] ~ .advantagetoggle input[type=radio] + span > span.togm {
    text-transform: uppercase;
}

.npc_toggle[value="1"] ~ .advantagetoggle input[type=radio]:checked + span {
    font-weight: bold;
    color: rgb(126, 45, 64);
}

.tab {
    display: none;
}

input[type=radio].tab-button.core:checked ~ .tab.core,
input[type=radio].tab-button.bio:checked ~ .tab.bio,
input[type=radio].tab-button.powers:checked ~ .tab.powers,
input[type=radio].tab-button.options:checked ~ .tab.options,
input[type=radio].tab-button.ship-core:checked ~ .tab.ship-core,
input[type=radio].tab-button.ship-cargo:checked ~ .tab.ship-cargo,
input[type=radio].tab-button.ship-mods:checked ~ .tab.ship-mods,
input[type=radio].tab-button.ship-suites:checked ~ .tab.ship-suites {
    display: block;
}

input[type=radio].tab-button.core,
input[type=radio].tab-button.core + span {
    right: calc(121px + 2rem);
    width: 45px;
}

input[type=radio].tab-button.ship-core,
input[type=radio].tab-button.ship-core + span {
    height: 15px;
    right: calc(100px + 2rem);
    width: 80px;
}

input[type=radio].tab-button.ship-cargo,
input[type=radio].tab-button.ship-cargo + span {
    height: 15px;
    right: calc(20px + 2rem);
    width: 80px;
}

input[type=radio].tab-button.ship-mods,
input[type=radio].tab-button.ship-mods + span {
    top: 110px;
    height: 15px;
    right: calc(100px + 2rem);
    width: 80px;
}

input[type=radio].tab-button.ship-suites,
input[type=radio].tab-button.ship-suites + span {
    top: 110px;
    height: 15px;
    right: calc(20px + 2rem);
    width: 80px;
}

input[type=radio].tab-button.bio,
input[type=radio].tab-button.bio + span {
    right: calc(88px + 2rem);
    width: 30px;
}

input[type=radio].tab-button.powers,
input[type=radio].tab-button.powers + span {
    right: calc(20px + 2rem);
    width: 65px;
}

/* Switch between complex & simple data */
.equipment .complex,
.equipment .simple,
.proficiencies .complex,
.proficiencies .simple,
.traits .complex,
.traits .simple
{
    display: none;
}

.equipment .inventoryflag[value="complex"] ~ .complex,
.equipment .inventoryflag[value="simple"] ~ .simple,
.proficiencies .inventoryflag[value="complex"] ~ .complex,
.proficiencies .inventoryflag[value="simple"] ~ .simple,
.traits .inventoryflag[value="complex"] ~ .complex,
.traits .inventoryflag[value="simple"] ~ .simple
{
    display: inline-block;
}