/* Row & Column*/
.flex-row,
.flex-column{
    display: flex;
    flex-wrap: nowrap;
    gap : 0.5rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-w-1 {
    width: calc(1 * 100% / 12);
}

.flex-w-2 {
    width: calc(2 * 100% / 12);
}

.flex-w-3 {
    width: calc(3 * 100% / 12);
}

.flex-w-4 {
    width: calc(4 * 100% / 12);
}

.flex-w-5 {
    width: calc(5 * 100% / 12);
}

.flex-w-6 {
    width: calc(6 * 100% / 12);
}

.flex-w-7 {
    width: calc(7 * 100% / 12);
}

.flex-w-8 {
    width: calc(8 * 100% / 12);
}

.flex-w-9 {
    width: calc(9 * 100% / 12);
}

.flex-w-10 {
    width: calc(10 * 100% / 12);
}

.flex-w-11 {
    width: calc(11 * 100% / 12);
}

.flex-w-12 {
    width: calc(12 * 100% / 12);
}

/* Axis Alignement */
.flex-justify-start{
    justify-content: flex-start;
}
.flex-justify-end{
    justify-content: flex-end;
}
.flex-justify-center{
    justify-content: center;
}
.flex-justify-sb{
    justify-content: space-between;
}
.flex-justify-sa{
    justify-content: space-around;
}
.flex-justify-se{
    justify-content: space-evenly;
}

/* Cross Axis Alignment*/
.flex-align-start{
    align-items: flex-start;
}
.flex-align-end{
    align-items: flex-end;
}
.flex-align-center{
    align-items: center;
}
.flex-align-stretch{
    align-items: stretch;
}

/* Padding & margin */
.m-0  { margin: 0rem; }
.mt-0 { margin-top: 0rem; }
.mb-0 { margin-bottom: 0rem; }
.ml-0 { margin-left: 0rem; }
.mr-0 { margin-right: 0rem; }

.m-1  { margin: 0.25rem; }
.mt-1 { margin-top: 0.25rem; }
.mb-1 { margin-bottom: 0.25rem; }
.ml-1 { margin-left: 0.25rem; }
.mr-1 { margin-right: 0.25rem; }

.m-2  { margin: 0.5rem; }
.mt-2 { margin-top: 0.5rem; }
.mb-2 { margin-bottom: 0.5rem; }
.ml-2 { margin-left: 0.5rem; }
.mr-2 { margin-right: 0.5rem; }

.m-3  { margin: 1rem; }
.mt-3 { margin-top: 1rem; }
.mb-3 { margin-bottom: 1rem; }
.ml-3 { margin-left: 1rem; }
.mr-3 { margin-right: 1rem; }

.m-4  { margin: 2rem; }
.mt-4 { margin-top: 2rem; }
.mb-4 { margin-bottom: 2rem; }
.ml-4 { margin-left: 2rem; }
.mr-4 { margin-right: 2rem; }

.m-5  { margin: 4rem; }
.mt-5 { margin-top: 4rem; }
.mb-5 { margin-bottom: 4rem; }
.ml-5 { margin-left: 4rem; }
.mr-5 { margin-right: 4rem; }

.p-0  { padding: 0rem; }
.pt-0 { padding-top: 0rem; }
.pb-0 { padding-bottom: 0rem; }
.pl-0 { padding-left: 0rem; }
.pr-0 { padding-right: 0rem; }

.p-1  { padding: 0.25rem; }
.pt-1 { padding-top: 0.25rem; }
.pb-1 { padding-bottom: 0.25rem; }
.pl-1 { padding-left: 0.25rem; }
.pr-1 { padding-right: 0.25rem; }

.p-2  { padding: 0.5rem; }
.pt-2 { padding-top: 0.5rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pl-2 { padding-left: 0.5rem; }
.pr-2 { padding-right: 0.5rem; }

.p-3  { padding: 1rem; }
.pt-3 { padding-top: 1rem; }
.pb-3 { padding-bottom: 1rem; }
.pl-3 { padding-left: 1rem; }
.pr-3 { padding-right: 1rem; }

.p-4  { padding: 2rem; }
.pt-4 { padding-top: 2rem; }
.pb-4 { padding-bottom: 2rem; }
.pl-4 { padding-left: 2rem; }
.pr-4 { padding-right: 2rem; }

.p-5  { padding: 4rem; }
.pt-5 { padding-top: 4rem; }
.pb-5 { padding-bottom: 4rem; }
.pl-5 { padding-left: 4rem; }
.pr-5 { padding-right: 4rem; }
