.ui-dialog .tab-content .charsheet {
    /* Tempory fix for label color x') */
    .label {
        color: black;
    }

    /* =include general-inputs.css */

    /* =include legacy.css */

    /* =include flex.css */

    /* =include conditional-visibility.css */

}
/*Dark mode fix for sheet bg*/
.sheet-darkmode .sheetform {
    background : none !important;
}
/* =include roll-templates.css */