.ui-dialog .tab-content .charsheet {
    /* Tempory fix for label color x */
    .label {
        color: black;
    }
    /* =include general-inputs.css */

    /* =include legacy.css */

    /* NEW CSS */
    /* =include powers.css */

    /* =include flex.css */

    /* =include conditional-visibility.css */

}
/* =include translations.css */

/*Dark mode fix for sheet bg*/
.sheet-darkmode .sheetform {
    background : none !important;
}
/* =include roll-templates.css */
