fieldset.repeating_bonds
  div.sheet-bond-container
    p.sheet-bond-title Name:
    input(type="text" class="sheet-border-bottom sheet-bond-name" name="attr_bond-name" placeholder="Name")
    input(type="checkbox" class="sheet-show-bond-info" name="attr_bond-show" placeholder="Name")
    span.sheet-show-bond-info Details
    div.sheet-show-bond-info.sheet-hide
      div.sheet-full-width
        p.sheet-bond-title Location
        input(type="text" class="sheet-bond-location sheet-border-bottom" name="attr_bond-location" placeholder="Location")
      div.sheet-full-width
        p.sheet-bond-title Descriptors
        input(type="text" class="sheet-bond-descriptors sheet-border-bottom" name="attr_bond-descriptors" placeholder="Descriptors")
      div.sheet-full-width
        p(class="sheet-bond-title sheet-bond-notes-title" style="border-radius: 0.3em 0.3em 0em 0em") Notes
        textarea(class="sheet-bond-notes" name="attr_bond-notes")