//STYLED CHECKBOXES
mixin checkbox(attr, num)
	- var i = 0;
	while i < num
		label(class='styled-checkbox' title=attr + ' ' + ++i)
			input(name='attr_' + attr + '_' + i title='@{repeating_bonds_${x}_' + attr + '}' type='checkbox' value=i)
			span