//STYLED CHECKBOXES
mixin checkbox(attr, num)
	- var i = 0;
	while i < num
		label(title=attr + ' ' + ++i)
			input(name='attr_' + attr title='@{repeating_bonds_${x}_' + attr + '}' type="checkbox" value=i)
		span(class="styled-checkbox-" + i)