/*Configuring the tab buttons*/
.charsheet .tab {
    display: none;
}
.charsheet .tabstoggle[value="tab1"] ~ div.tab1,
.charsheet .tabstoggle[value="tab2"] ~ div.tab2,
.charsheet .tabstoggle[value="tab3"] ~ div.tab3,
.charsheet .tabstoggle[value="tab4"] ~ div.tab4,
.charsheet .tabstoggle[value="tab5"] ~ div.tab5,
.charsheet .tabstoggle[value="tab6"] ~ div.tab6{
    display: block;
}
	/* Place an image underneath the character sheet. */
.bg_image{
	width: 100%;  
	height: auto; 
	opacity: 0.4;
	position: absolute;
	top: 0;
	z-index: -1;
}
section {
    padding: 5px;
    border-style: double;	
}
h2 {
	justify-self: center;
	margin: 6px;
}
h3 {
	justify-self: center;
}
span, div {
	font-weight: bold;
}
.center {
	justify-self: center;
}
.tab-buttons button {
	font-size: 17px;
}
}
.tab{
  width: 800px;
}

/* TAB 1 BEGINS */
.tab1-container {
  display: grid; 
  grid-gap: 4px;
  grid-template-columns: 3fr 3fr;
  grid-template-areas:"ability bio"
					  "ability costume"  
                      "gadgets gadgets"
					  "advantages disadvantages";
}
.biography {
	display: grid;
	grid-area: bio;
	grid-template-columns: 1fr;	
}
.character-info{
	display: grid;	
	grid-template-columns: 120px 120px 1fr;
	column-gap: 5px;
}
.character-info h4 {
	position: relative;
	left: 5px;
}
.ability {
	display: grid; 
	grid-area: ability;
	grid-template-columns: 1fr; 
	grid-template-areas: "abilityheader"
						"abilityscores"
						"ablityroll";
}

.ability-header {
	grid-area: abilityheader;
}
.ability-scores {
	display: grid; 
	grid-area: abilityscores;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	margin-bottom: 10px;
}
.ability-scores h4 {
	margin-bottom: 5px;
}
.ability-scores span {
	position: relative;
	top: 8px;
}
.ability-roll {
	display: grid;
	grid-area: abilityroll;
	grid-column-start: 1; 
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;	
}
.ability-roll .wide {
	grid-column: 4 / span 2;
}

.costume {
	grid-area: costume;
	display:grid;
	grid-template-columns: 1fr;
}	
.costume-desc {
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.costume-row {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}
.costume-row span {
	padding: 10px;
}
.charsheet .costume-desc input[type="text"] {
	width: 190px;
	margin: 0;
	padding: 0;
}
.charsheet .costume-desc select {
	width: 100px;
}
.gadgets {
	display: grid;
	grid-area: gadgets;
	border-style: solid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "gheader gheader"
						 "current research";
	grid-column-start: 1;
}
.gadgets-header {
	grid-area: gheader;
}
.current-gadgets {
	grid-area: current;
	display: grid;
}
.gadget-research {
	grid-area: research;
	display: grid;
}
.gadget-row {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gadget-resources {
	margin-top: 3px;
	margin-bottom: 3px;
}
.advantages {
	grid-area: advantages;
	display: grid;			 	
	grid-template-columns: 1fr;
	border-style: solid;
}	
.disadvantages {
	grid-area: disadvantages;
	display:grid;
}	
	
	/* END OF TAB 1 */
	
					/* TAB 2 BEGINS */
					
.tab2-container {
  display: grid;   
}
.skills {
 display:grid;
 grid-area: skills;
}
.skill-row {
	display:grid;
	grid-template-columns: 120px 3.6em 65px 50px 60px 50px 60px 110px 1fr;
	 grid-gap: 10px;
	 column-gap: 3px;
}
.skill-row h4{
	padding: 8px;
}
		/* END OF TAB 2 */

				/* TAB 3 BEGINS */
				
.tab3-container{
 display:grid;	
}
.superpowers {
 display:grid;
 grid-template-areas:"superheader"
					 "mastery1"
					 "powers1"
					 "mastery2"
					 "powers2";
}
.superheader {
	display:grid;
	grid-template-columns: 1fr;
	border: 2px solid black;
	margin: 2px;
	padding-bottom: 5px;
}
.power-select {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
		/* Toggles to show/hide Superpower packages   */
.m1-toggle[value="1"]  ~ .mastery1,
.m2-toggle[value="1"]  ~ .mastery2,
.p1-toggle[value="1"]  ~ .power1-wrapper,
.p2-toggle[value="1"]  ~ .power2-wrapper{
    display: none;
} 
.mastery1 {
	grid-area: mastery1;
}
.mastery2 {
	grid-area: mastery2;
	margin-top: 50px;
}
.mastery {
	display:grid;
	grid-template-areas:"mheader mheader mheader"
						"mstats morigin mcharge"
						"mdesc mdesc mdesc";
	grid-template-columns: 180px 0.7fr 1fr;			
}
.mastery-header {
	display: grid;
	grid-template-columns: 1fr 35px;
	grid-area: mheader;
	justify-self: center;
	font-size: 30px;
}
.ch-button {
	position: relative;
	left: 280px;
}
.mastery-stats  {
	grid-area: mstats;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.mastery-origin {
	grid-area: morigin;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
}

.mastery-charge {
	grid-area: mcharge;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.mastery-descriptions {
	grid-area: mdesc;
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.m-lim {
	grid-column-start: 2;
}
.power1-wrapper{
	grid-area: powers1;
}
.power2-wrapper{
	grid-area: powers2;
}
.repeating_powers1 {
	display: grid;
}
.repeating_powers2 {
	display: grid;
}
.power {
	border-style: solid;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 40px 20px 20px 20px 1fr;
	margin: 1px;
}
.power1 {
	grid-area: power1;	
}
.power2 {
	grid-area: power2;	
}
.p-name {
	grid-column-start: 3;
	grid-column-end: 5;
}
.p-des {
	grid-column-start: 1;
	grid-column-end: 3;
	margin-top: 8px;
}
.p-lim {
	grid-column-start: 3;
	grid-column-end: 5;
	margin-top: 8px;
}
.p-alt {
	grid-column-start: 5;
	grid-column-end: 7;
	margin-top: 8px;
}
.ui-dialog .charsheet .power input {
	min-height: 25px;
}
.superpowers button {
	min-height: 25px;
}
		/* END OF TAB 3 */
		
			/* TAB 4 BEGINS */
.tab4-container{
 display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "reputation reputation"
						 "contacts drama";	
}
.reputation {
	display: grid;
	grid-area: reputation;	
	grid-template-areas: "repuheader repuheader"
						 "fame hero"
						 "law crime"
						 "infamy .";
}
.rep-header {
	grid-area: repuheader;	
}	
.fame, .herorep, .lawrep, .crimerep, .infamy {
	display: grid;
	border-style: solid;	
	grid-template-rows: 50px 50px 30px 40px; 
	margin: 1px
}
.fame {
	grid-area: fame;	
}
.herorep {
	grid-area: hero;
}
.lawrep {
	grid-area: law;
}
.crimerep {
	grid-area: crime;
}
.infamy {
	grid-area: infamy;
}
.rep-level {
	display: grid;
	grid-template-columns: 80px 60px 1fr;
}
.rep-level details {
	grid-column-start: 3;
	font-weight: bold;
}
summary span {
	text-shadow: -1px -1px 1px gold;	
}
details[open] summary span {
	color: gold;
    background: red; 
}
details[open] {
	z-index: 5;
}
.ui-dialog .charsheet .rep-level input {
	height: 28px;
}
.rep-meter {
	display: flex;
	gap: 5px;
}			
.drama{
	grid-area: drama;
	display: grid;
	grid-template-columns: 1fr;
}
.drama-meter {
	display: flex;
	gap: 5px;
	
}
.contacts {
	grid-area: contacts;
	display: grid;
	grid-template-columns: 1fr;
}
.contacts-row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.contacts-row h4 {
	padding-left: 6px;
}		
			
		/* END OF TAB 4 */
		
				/* TAB 5 BEGINS */
				
.tab5-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "health initiative"
						 "health attack"
						 "health defense";						 
}
 /* Hiding unused squares in health and stun meters. */
.squaretoggle[value="1"] ~ .square{
    display: none;
	position: absolute;
}
.health{
	grid-area: health;
	display: grid;
}
.health-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.health-and-stun {
	display: grid;
	grid-template-columns: 150px 46px 150px;
	}
.health-meters{
	border-style: solid;
	display: grid;
	grid-template-rows: repeat(7, 40px);
	background-image: url("https://i.imgur.com/FKeqJCV.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: moccasin;
}
.stun-meters {
	background-image: url("https://i.imgur.com/KXuhZoH.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #cccccc;
}
.meter-row {
  display: flex; 
  margin: 1rem;
  gap: 3px;  
}
.reverse {
	flex-direction: row-reverse;
}
.health-status {
	display:grid;
	padding-top: 10px;
	grid-template-rows: repeat(7, 40px);
	text-shadow: -1px -1px 1px goldenrod;
}
.injuries {
	display:grid;
	grid-template-columns: 1fr;
	margin-top: 20px;
}
.injury-check {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 2px;
}
.injury-check .adjust {
	position: relative;
	top: 16px;
	right: 7px;
}
.injury-row  {
	display: grid;
	grid-template-columns: 4fr 3fr 4fr;
	margin: 2px;
}
.charsheet .injury-row select {
	width: 80px
}
.meter-row input.square[type="radio"] {
	height: 12px;
	width: 12px;
	border: 2px solid black; 
}
.initiative {
	display: grid;
	grid-area: initiative;
}
.initiative-row {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr; 
}
.initiative-row .adjust {
	position: relative;
	top: 10px;
	justify-self: end;
	padding-right: 5px;
}
.attack {
	display: grid;
	grid-area: attack;
	grid-template-columns: 1fr;
}
.attack-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.attack-modifiers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-top: 10px;
}
.attack-modifiers .adjust {
	position: relative;
	left: 10px;
}
.attack-choice {
	display:grid;
	grid-template-columns:  1f; 
}
.weapons {
	display:grid;
	grid-template-columns: 30px 1fr;
	margin-top: 10px;
}
.weapon {
	display: grid;
	grid-template-columns: 94px 50px 70px 50px 65px 94px;
}
.charsheet .weapons .weapon input[type="text"] {
	width: 90px;
}
.charsheet .weapons .weapon input[type="number"] {
	width: 45px:
}
.weapon h4 {
	padding-left: 5px;
}
   /* Highlighting selected weapon.  */
.w-pick:checked + .weapon {
	border: 2px solid red;
}
.defense {
	grid-area: defense;
	display: grid;
	grid-template-columns: 1fr;
}
.defense-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#d1 {
	grid-column-start: 1;
}
.defense-skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.d-skill {
	display:grid;
	grid-template-columns: 1fr 1fr;
}
#d2, #d4 {
	grid-column-start: 3;
}
    /* Highlighting selected defense. */
.d-pick:checked + .d_skill {
	border: 2px solid blue;
}

		/* END OF TAB 5 */
		
			/* TAB 6 BEGINS */
		
.tab6-container {
	display: grid;	
}
.gm-tools {
	display: grid;
	grid-template-columns: 1fr;
}
.charsheet .gm-tools .roll-titles .roll-title {
	width = 15px;
	height: 15px;
	position: relative;
	top: 10px;
}
.roll-titles {
	display:grid;
	grid-template-columns: 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
	margin-top: 10px;
	margin-bottom: 10px;
}
.gm-tools .roll-titles input[type="text"] {
	width: 90px;
}
.roll-title:checked + input {
	border: 2px solid red;
}
.npc-roll-stats {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	margin: 30px;
}
.npc-buttons {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: 15px;
}

.npc-list {
	display: grid;
	grid-template-columns: 30px 1fr 30px 1fr;
	grid-template-rows: repeat(3, 33px);
	margin-top: 15px;
}
.npc {
	display: grid;
	grid-template-columns: 130px 50px 130px;	
}
.npc h4{
	padding-left: 5px;
}
.npc-choice:checked + div {
	border: 2px solid red;
}
.contested {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 15px;
}
.contested-roll {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 30px	
}
.contested-npc {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 30px 30px 30px;
}
.contested-name:checked + input {
	border: 2px solid red;
}
.npc-health {
	display: grid;
	grid-template-columns: 1fr;
}
.npc-roster {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.npc_group {
	display:grid;
}
.npc-health-info {
	display:grid;
	grid-template-columns: 95px 50px 95px;
}
.npc-health .npc-health-info input[type="text"] {
	width: 90px;	
}
.npc-health-info .adjust {
	position: relative;
	left: 15px;
}
.scenario {
	display:grid;
}
.notes {
	width: auto;
}
		/* END OF TAB 6 */
				
	/* Styling custom radio buttons for use in various meters. */			
input.square[type="radio"],
input.dot[type="radio"] {
  order: 1;
  border: 1px solid black; 
  border-radius: 5%;
  background: black; 
  height: 15px;
  width: 15px;
 -webkit-appearance: none;
  cursor: pointer;
  z-index: 1;
}
input.dot[type="radio"] {
  border-radius: 50%;		
}

.square:checked, 
.dot:checked{
  opacity: 0;
  z-index: 0;
  position: absolute;
}

.square:checked ~ .square,
.dot:checked ~ .dot {
  order: 3;
  background-color: transparent;
}

input.square[type="radio"].reset,
input.dot[type="radio"].reset {
  order: 2;
  background-color: black;
  }

		/* Styling a popup button. */
.button {
  font-size: 12px;
  padding: 2px;
  color: black;
  border: 2px solid gold;
  justify-self: end;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: gold;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.col1 {
	grid-column-start: 1;
}
.col2 {
	grid-column-start: 2;
}
.col3 {
	grid-column-start: 3;
}
.col4 {
	grid-column-start: 4;
}		


.charsheet input[type="number"]{
  margin: 2px 4px;
}
	/* Getting rid of spinners on number inputs. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.charsheet input[type="text"]{
  margin: 2px;
  width: 120px;
}

.charsheet textarea {
  width: 90%;
  height: 85%;
}


.charsheet select {
	margin: 2px;
	width: 60px;
}


/* ---------ROLL TEMPLATE STYLING------------- */

.sheet-rolltemplate-gotham90 {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-gotham90 {
  margin-left: -7px;
}
.sheet-rolltemplate-gotham90 .sheet-container {
  border: 3px solid black;
  border-radius: 3px;
}

.sheet-rolltemplate-gotham90 .sheet-header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  text-align: left;
  text-transform: capitalize;
  padding: 5px;
  border-bottom: 2px solid black;
}

.sheet-rolltemplate-gotham90 .sheet-title {
  font-size: 1.2em;
  font-weight: bold;
}

.sheet-rolltemplate-gotham90 .sheet-logo {
  width: 40px;
  height: 40px;
  float: right;
}

.sheet-rolltemplate-gotham90 .sheet-subtitle {
  font-size: 1em;
}

.sheet-rolltemplate-gotham90 .sheet-container {
  --header-bg-color: #a83521;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-green {
  --header-bg-color: #008000;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-black {
  --header-bg-color: #000;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-white {
  --header-bg-color: #FFF;
  --header-text-color: #000;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-brown {
  --header-bg-color: saddlebrown;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-blue {
  --header-bg-color: blue;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-red {
  --header-bg-color: red;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-orange {
  --header-bg-color: orangered;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-violet {
  --header-bg-color: violet;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-purple {
  --header-bg-color: purple;
}
.sheet-rolltemplate-gotham90 .sheet-container.sheet-color-silver {
  --header-bg-color: silver;
}
.sheet-rolltemplate-gotham90 .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height: 1.4em;
}

.sheet-rolltemplate-gotham90 .sheet-content > div {
  padding: 5px;
}

.sheet-rolltemplate-gotham90 .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

.sheet-rolltemplate-gotham90 .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-gotham90 .sheet-content :nth-child(4n) {
  background: #EEE;
}

.sheet-rolltemplate-gotham90 .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}
 