include ../../components/assets/assets

div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-assets sheet-hide' value='8')
  div.sheet-assets.sheet-showhide
    h3.sheet-divide &emsp;ASSETS&emsp;
    +assets