include ../../components/bonds/track
include ../../components/bonds/bonds

div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-bonds sheet-hide' value='4')
  div.sheet-bonds.sheet-showhide
    h3.sheet-divide &emsp;BONDS&emsp;
    +bondsTrack
    +bonds