div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-conditions sheet-hide' value='6')
  div.sheet-conditions.sheet-showhide
    h3.sheet-divide &emsp;CONDITIONS&emsp;
    include ../../components/conditions/conditions
      +conditionList({character: true})
    h3.sheet-divide &emsp;CARDS&emsp;
    .sheet-condition-cards
      include ../../components/conditions/cards
      +conditionCards({character: true})