include ../../components/effort/effort
include ../../components/effort/data

div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-effort sheet-hide' value='9')
  div.sheet-effort.sheet-showhide
    h3.sheet-divide &emsp;EFFORT LEVELS&emsp;
    .sheet-effort-container
      each group in efforts
        +effortGroup(group)