div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-effort sheet-hide' value='9')
  div.sheet-effort.sheet-showhide
    h3.sheet-divide &emsp;EFFORT&emsp;
    include ../../components/effort/effort