include ../../components/equipment/weapons/weapons
include ../../components/equipment/armor/armor
include ../../components/equipment/shields/shields
include ../../components/equipment/addons/addons
include ../../components/equipment/provisions/provisions

div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-equipment sheet-hide' value='7')
  div.sheet-equipment.sheet-showhide
    h4.sheet-sub-header WEAPONS
    +weapons
    h4.sheet-sub-header ARMOR
    +armor
    h4.sheet-sub-header SHIELDS
    +shields
    h4.sheet-sub-header ADDONS
    +addons
    h4.sheet-sub-header PROVISIONS
    +provisions