div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-equipment sheet-hide' value='7')
  div.sheet-equipment.sheet-showhide
    h3.sheet-divide &emsp;EQUIPMENT&emsp;
    include ../../components/equipment/equipment