//- Header
include ../../components/header/character

//- Nav Bar
include ../../components/nav/character

//- Pages
include ./summary
include ./vows
include ./motivations
include ./bonds
include ./proficiencies

//- Footer
include ../../components/momentum/momentum