//- Header
include ../../components/header/character

//- Nav Bar
include ../../components/nav/character

//- Pages
include ./summary
include ./vows
include ./motivations
include ./bonds
include ./proficiencies
include ./conditions
include ./equipment
include ./assets
include ./effort
include ./moves
include ./progress
include ./oracles
include ./sites
include ./settings

//- Footer
include ../../components/momentum/momentum