div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-moves sheet-hide' value='10')
  div.sheet-moves.sheet-showhide
    h3.sheet-divide &emsp;MOVES&emsp;
    include ../../components/moves/moves