include ../../components/oracles/ironsworn
include ../../components/oracles/delve
include ../../components/oracles/oracle-builder
include ../../data/oracles

div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-oracles sheet-hide' value='12')
  div.sheet-oracles.sheet-showhide
    h3.sheet-divide &emsp;ORACLES&emsp;
    .sheet-nav-bar
      .sheet-nav-row
        .sheet-nav-child
          label.sheet-page-label
            input(type='radio' name='attr_oracle_page_button' class='sheet-hide sheet-page-button' value='1' checked)
            .sheet-page-button-back IRONCRUNCH
        .sheet-nav-child
          label.sheet-page-label
            input(type='radio' name='attr_oracle_page_button' class='sheet-hide sheet-page-button' value='2' checked)
            .sheet-page-button-back IRONSWORN
        .sheet-nav-child
          label.sheet-page-label
            input(type='radio' name='attr_oracle_page_button' class='sheet-hide sheet-page-button' value='3')
            div.sheet-page-button-back DELVE
    
    //- - var oracleList = [ 'ironcrunch', 'ironsworn', 'delve' ]
    input.sheet-hide.sheet-oracle-ironcrunch(type='radio' name='attr_oracle_page' value='1' checked)
    .sheet-oracle-ironcrunch.sheet-showhide
      .oracle-container
        .oracle-column.table-list
          each group, key in oracles.ironcrunch
            +oracleRollGroup(group, 'ironcrunch', key)

        .oracle-column.table-main
          each group in oracles.ironcrunch
            each oracle in group.oracles
              +oracleBuilder(oracle, 'ironcrunch')

    input.sheet-hide.sheet-oracle-ironsworn(type='radio' name='attr_oracle_page' value='2')
    .sheet-oracle-ironsworn.sheet-showhide
      //- TODO: Covert into oracle builder
      +ironswornOracles
    
    input.sheet-hide.sheet-oracle-delve(type='radio' name='attr_oracle_page' value='3')
    .sheet-oracle-delve.sheet-showhide
      //- TODO: Covert into oracle builder
      +delveOracles