div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-oracles sheet-hide' value='12')
  div.sheet-oracles.sheet-showhide
    h3.sheet-divide &emsp;ORACLES&emsp;
    include ../../components/oracles/oracles