div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-progress sheet-hide' value='11')
  div.sheet-progress.sheet-showhide
    h3.sheet-divide &emsp;PROGRESS&emsp;
    include ../../components/progress/progress