div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-settings sheet-hide' value='13')
  div.sheet-settings.sheet-showhide
    h3.sheet-divide &emsp;SETTINGS&emsp;
    include ../../components/settings/settings