div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-sites sheet-hide' value='14')
  div.sheet-sites.sheet-showhide
    h3.sheet-divide &emsp;SITES&emsp;
    include ../../components/sites/sites