div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-vows sheet-hide' value='2')
  div.sheet-vows.sheet-showhide
    h3.sheet-divide &emsp;VOWS&emsp;
    include ../../components/vows/vows