// - LETHALITY DAMAGE
mixin modifierRow()
  | {{#rollTotal() computed::blast_radius 1}}
  .sheet-template-row.sheet-template-tworows
    span.sheet-after-colons.sheet-rolltitle(data-i18n="blast radius") blast radius:
    span.sheet-template-computed 
      span +20%
  | {{/rollTotal() computed::blast_radius 1}}

  | {{#rollTotal() computed::isShotgun 1}}
  .sheet-template-row.sheet-template-tworows
    span.sheet-after-colons.sheet-rolltitle(data-i18n="shotgun") shotgun
    span.sheet-template-computed 
      span +20%
  | {{/rollTotal() computed::isShotgun 1}}

  | {{#rollTotal() computed::hasaccessories 1}}
  .sheet-template-row.sheet-template-tworows
    span.sheet-rolltitle {{accessoriesName}}:
    span.sheet-template-computed
      |{{#rollGreater() computed::accessoriesMod 0}} 
      span.sheet-template-plus.sheet-template-percent {{accessoriesMod}}
      | {{/rollGreater() computed::accessoriesMod 0}}
      | {{#rollLess() computed::accessoriesMod 0}}
      span.sheet-template-percent {{accessoriesMod}}
      | {{/rollLess() computed::accessoriesMod 0}}
  | {{/rollTotal() computed::hasaccessories 1}}

  .sheet-template-row.sheet-template-tworows  
    span.sheet-after-colons.sheet-rolltitle(data-i18n="modifier") modifier
    span.sheet-template-computed
      | {{#rollGreater() computed::modifier 0}}
      span.sheet-template-plus.sheet-template-percent {{computed::modifier}}
      | {{/rollGreater() computed::modifier 0}}
      | {{#rollLess() computed::modifier 0}}
      span.sheet-template-percent {{computed::modifier}}
      | {{/rollLess() computed::modifier 0}}


mixin rollDamages()
  | {{#damage}}
  .sheet-template-row.sheet-template-onerow 
    .sheet-template-attack-buttons  
      | {{#rollTotal() computed::isCritical 0}}
      .sheet-template-button {{damage}}
      | {{/rollTotal() computed::isCritical 0}}
      | {{#rollTotal() computed::isCritical 1}}
      .sheet-template-button {{damageCritical}}
      | {{/rollTotal() computed::isCritical 1}}
  | {{#double_damage}}
  .sheet-template-row.sheet-template-onerow 
    .sheet-template-attack-buttons 
      | {{#rollTotal() computed::isCritical 0}}
      .sheet-template-button {{double_damage}}
      | {{/rollTotal() computed::isCritical 0}}
      | {{#rollTotal() computed::isCritical 1}}
      .sheet-template-button {{double_damageCritical}}
      | {{/rollTotal() computed::isCritical 1}}
  | {{/double_damage}}
  |{{/damage}}
  |{{#lethality}}
  .sheet-template-row.sheet-template-onerow
    .sheet-template-attack-buttons
      | {{#rollTotal() computed::isCritical 0}}
      .sheet-template-button {{lethality}}
      | {{/rollTotal() computed::isCritical 0}}
      | {{#rollTotal() computed::isCritical 1}}
      .sheet-template-button {{lethalityCritical}}
      | {{/rollTotal() computed::isCritical 1}}
  |{{/lethality}}
  |{{#selective_fire}}
  .sheet-template-row.sheet-template-onerow
    .sheet-template-attack-buttons
      | {{#rollTotal() computed::isCritical 0}}
      .sheet-template-button {{selective_fire}}
      | {{/rollTotal() computed::isCritical 0}}
      | {{#rollTotal() computed::isCritical 1}}
      .sheet-template-button {{selective_fireCritical}}
      | {{/rollTotal() computed::isCritical 1}}
  |{{/selective_fire}}
     

mixin rollHeader(isPercent=false)
  //- Display a header on the template -
  | {{#name}}
  .sheet-template-superheader
    h2 {{name}}
  | {{/name}}
  //- Display a header on the template -
  | {{#header}}
  .sheet-template-header
    h1  {{header}} 
    if isPercent
      h2 {{#subheader}}({{subheader}}%){{/subheader}}
    else
      h2 {{#subheader}}({{subheader}}){{/subheader}}
  | {{/header}}   


.rolltemplates 
  rolltemplate.sheet-rolltemplate-fancy-bonds
    .sheet-template-container
      +rollHeader()
      .sheet-template-body
        .sheet-template-row.sheet-template-tworows 
            span.sheet-rolltitle Bond: 
            span
              span.sheet-rollbefore.aligned-left {{score}}
              span.sheet-rolltext.aligned-left → 
              span.sheet-rollafter.aligned-left {{computed::score}}
        .sheet-template-row.sheet-template-tworows 
            span.sheet-rolltitle WP: 
            span
              span.sheet-rollbefore.aligned-left {{local_wp}}
              span.sheet-rolltext.aligned-left → 
              span.sheet-rollafter.aligned-left {{computed::local_wp}}
        | {{#rollTotal() computed::zerowp 1}}
        .sheet-template-row.sheet-template-onerows 
          span.inlinerollresult(data-i18n="projection fails at 0 willpower.") projection fails at 0 willpower.
        | {{/rollTotal() computed::zerowp 1}}
        | {{#rollTotal() computed::zerowp 1}}
        .sheet-template-row.sheet-template-onerows 
          span.inlinerollresult(data-i18n="repression fails at 0 willpower.") repression automatically fail at 0 willpower. 
        | {{/rollTotal() computed::zerowp 1}}
        | {{#^rollTotal() computed::zerowp 1}}
        | {{#projection}}
        .sheet-template-row.sheet-template-onerow 
          span.inlinerollresult {{dice}} SAN
        | {{/projection}}
        | {{/^rollTotal() computed::zerowp 1}}
        
    | {{#^rollTotal() computed::zerowp 1}}
    | {{#repression}}
    .sheet-template-reaction 
        .sheet-template-button {{repress}}
    | {{/repression}}
    | {{/^rollTotal() computed::zerowp 1}}

rolltemplate.sheet-rolltemplate-fancy-rituals

rolltemplate.sheet-rolltemplate-fancy-damages 
    .sheet-template-container 
      | {{#damage}}
      +rollHeader() 
      | {{/damage}}
      | {{#lethality}}
      +rollHeader(true)
      | {{/lethality}}
      .sheet-template-body
        .sheet-template-row.sheet-template-tworows 
        | {{#damage}}
        .sheet-template-row.sheet-template-tworows 
          span.sheet-after-colons.sheet-rolltitle(data-i18n="damage") damage
          span.sheet-template-computed
            span {{damage}}
        | {{/damage}}
        | {{#lethality}}
        .sheet-template-row.sheet-template-onerow 
          span.sheet-template-computed
            span.sheet-template-percent {{roll}}
        .sheet-template-row.sheet-template-tworows 
          span.sheet-after-colons.sheet-rolltitle(data-i18n="lethality") lethality
          span.sheet-template-computed
            span {{computed::lethality}}
        .sheet-template-row.sheet-template-tworows 
          span.sheet-after-colons.sheet-rolltitle(data-i18n="outcome") outcome
          |{{#^rollGreater() roll computed::lethality}}
          span.sheet-template-outcome(data-i18n="kill") kill 
          | {{/^rollGreater() roll computed::lethality}} 
          | {{#rollGreater() roll computed::lethality}}
          span.sheet-template-outcome(data-i18n="failure") failure
          | {{/rollGreater() roll computed::lethality}}
        .sheet-template-row.sheet-template-tworows 
          span.sheet-after-colons.sheet-rolltitle(data-i18n="damage") damage
          span.sheet-template-computed
            span {{computed::roll}}
        | {{/lethality}}
        | {{#rollTotal() trackbullets 1}}
        .sheet-template-row.sheet-template-tworows 
          span
            span.sheet-rollbefore.aligned-left {{current_ammo}}
            span.sheet-rolltext.aligned-left → 
            span.sheet-rollafter.aligned-left {{computed::current_ammo}}
        | {{/rollTotal() trackbullets 1}}
        
rolltemplate.sheet-rolltemplate-fancy-rolls
    .sheet-template-container
      +rollHeader(true)
      //- Display the dice roll in the template -
      | {{#rollTotal() computed::zero_will_power 1}}
      .sheet-template-overlay-zero-wp
        .sheet-template-overlay-zero-wp90
          .sheet-template-body
            .sheet-template-row.sheet-template-onerow 
              span.inlinerollresult(data-i18n="Actions automatically fail at 0 willpower.") Actions automatically fail at 0 willpower.
            .sheet-template-row.sheet-template-onerow 
              span.sheet-template-outcome(data-i18n="failure") failure     
      | {{/rollTotal() computed::zero_will_power 1}}    
      
      | {{#rollTotal() computed::low_will_power 1}}
      .sheet-template-overlay-low-wp
        .sheet-template-overlay-low-wp90
          .sheet-template-body
            | {{#^rollTotal() computed::modifier 0}}
            +modifierRow()
            | {{/^rollTotal() computed::modifier 0}}
            .sheet-template-row.sheet-template-onerow 
              span.inlinerollresult {{dice}}
              // SUCCESS
            | {{#rollTotal() computed::isSuccess 1}}
            | {{#rollTotal() computed::isCritical 1}}
            .sheet-template-row.sheet-template-onerow 
              span.sheet-template-outcome(data-i18n="critical") critical
            | {{/rollTotal() computed::isCritical 1}}
            | {{/rollTotal() computed::isSuccess 1}}
            
            | {{#rollTotal() computed::isSuccess 1}}
            | {{#rollTotal() computed::isCritical 0}}
            .sheet-template-row.sheet-template-onerow 
              span.sheet-template-outcome(data-i18n="success") success
            | {{/rollTotal() computed::isCritical 0}}
            | {{/rollTotal() computed::isSuccess 1}}
            
            
            
            | {{#rollTotal() computed::isSuccess 0}}
            | {{#rollTotal() computed::isCritical 1}}
            .sheet-template-row.sheet-template-onerow 
              span.sheet-template-outcome(data-i18n="fumble") fumble
            | {{/rollTotal() computed::isCritical 1}}
            | {{/rollTotal() computed::isSuccess 0}}


            
            | {{#rollTotal() computed::isSuccess 0}}
            | {{#rollTotal() computed::isCritical 0}}
            .sheet-template-row.sheet-template-onerow 
              span.sheet-template-outcome(data-i18n="failure") failure
            | {{/rollTotal() computed::isCritical 0}}
            | {{/rollTotal() computed::isSuccess 0}}

            | {{#rollTotal() computed::isSuccess 1}}
            +rollDamages()
            | {{/rollTotal() computed::isSuccess 1}}

      | {{/rollTotal() computed::low_will_power 1}}
      
      | {{#rollTotal() computed::low_will_power 0}}
      | {{#rollTotal() computed::zero_will_power 0}}
      
      .sheet-template-body
        | {{#^rollTotal() computed::modifier 0}}
        +modifierRow()
        | {{/^rollTotal() computed::modifier 0}}
        
        .sheet-template-row.sheet-template-onerow 
          span.inlinerollresult {{dice}}
          // SUCCESS
        | {{#rollTotal() computed::isSuccess 1}}
        | {{#rollTotal() computed::isCritical 1}}
        .sheet-template-row.sheet-template-onerow 
          span.sheet-template-outcome(data-i18n="critical") critical
        | {{/rollTotal() computed::isCritical 1}}
        | {{/rollTotal() computed::isSuccess 1}}
        
        | {{#rollTotal() computed::isSuccess 1}}
        | {{#rollTotal() computed::isCritical 0}}
        .sheet-template-row.sheet-template-onerow 
          span.sheet-template-outcome(data-i18n="success") success
        | {{/rollTotal() computed::isCritical 0}}
        | {{/rollTotal() computed::isSuccess 1}}
        
        
        
        | {{#rollTotal() computed::isSuccess 0}}
        | {{#rollTotal() computed::isCritical 1}}
        .sheet-template-row.sheet-template-onerow 
          span.sheet-template-outcome(data-i18n="fumble") fumble
        | {{/rollTotal() computed::isCritical 1}}
        | {{/rollTotal() computed::isSuccess 0}}


        
        | {{#rollTotal() computed::isSuccess 0}}
        | {{#rollTotal() computed::isCritical 0}}
        .sheet-template-row.sheet-template-onerow 
          span.sheet-template-outcome(data-i18n="failure") failure
        | {{/rollTotal() computed::isCritical 0}}
        | {{/rollTotal() computed::isSuccess 0}}
        | {{#rollTotal() computed::isSuccess 1}}
        +rollDamages()
        | {{/rollTotal() computed::isSuccess 1}}
      | {{/rollTotal() computed::zero_will_power 0}}
      | {{/rollTotal() computed::low_will_power 0}}

    | {{#ritual}}
    | {{/ritual}}

