<rolltemplate class="sheet-rolltemplate-combat">
    <h1 class="header">{{name}}</h1>
    <h2 class="header">{{title}}</h2>

    {{#luminosite}}
        <div class="doubleBlock">
            <span class="label" data-i18n="luminosite">Luminosité</span>
            <span class="value">{{luminosite}}</span>
        </div>
    {{/luminosite}}

    {{#portee}}
        <div class="doubleBlock">
            <span class="label" data-i18n="portee">Portée</span>
            <span class="value">{{portee}}</span>
        </div>
    {{/portee}}

    {{#aireeffet}}
        <div class="doubleBlock">
            <span class="label" data-i18n="aire-effet">Aire d'effet</span>
            <span class="value">{{aireeffet}}</span>
        </div>
    {{/aireeffet}}

    {{#rollTotal() empty 0}}
    <div class="allProps">
        {{#allprops() name title attaque degats description luminosite portee incident destin echec critique empty aireeffet btn}}
            <div class="subBlock">
                <span class="label">{{key}}</span>
                {{value}}
            </div>
        {{/allprops() name title attaque degats description luminosite portee incident destin echec critique empty aireeffet btn}}
    </div>
    {{/rollTotal() empty 0}}

    {{#attaque}}
        <div class="block attaque">
            <span class="label" data-i18n="roll-attaque">jet d'attaque</span>
            {{attaque}}
        </div>

        {{#incident}}
            {{#rollTotal() computed::incident 1}}
            <div class="incident">
                <span data-i18n="incident-tir">Incident de tir</span>
            </div>
            {{/rollTotal() computed::incident 1}}
        {{/incident}}

        {{#rollTotal() computed::destin 1}}
            <div class="coupdepouce">
                <span data-i18n="coup-de-pouce">Coup de pouce du destin</span>
            </div>
        {{/rollTotal() computed::destin 1}}

        {{#rollTotal() computed::echec 1}}
            <div class="echeccritique">
                <span data-i18n="echec-critique">Échec critique</span>
            </div>
        {{/rollTotal() computed::echec 1}}

        {{#rollTotal() computed::critique 1}}
            <div class="critique">
                <span data-i18n="critique">Critique</span>
            </div>
        {{/rollTotal() computed::critique 1}}
    {{/attaque}}

    {{#degats}}
        <div class="block">
            {{#rollTotal() computed::critique 1}}
                <span class="label" data-i18n="roll-degats-critique">jet de dégâts (Critique)</span>
                <div class='dgtsCritique'>
                    {{computed::degats}}
                    <span class="sublabel">{{degats}}x2</s>
                </div>
            {{/rollTotal() computed::critique 1}}
            {{#rollTotal() computed::critique 0}}
                <span class="label" data-i18n="roll-degats">jet de dégâts</span>
                {{computed::degats}}
            {{/rollTotal() computed::critique 0}}
        </div>
    {{/degats}}

    {{#description}}
        <span class="text">{{description}}</span>
    {{/description}}
</rolltemplate>