<rolltemplate class="sheet-rolltemplate-niveau">
    <h1 class="header">{{name}}</h1>
    <h2 class="header">{{title}}</h2>

    {{#newniveau}}
        <div class="block">
            <span class="label" data-i18n="niveau">niveau</span>
            <div class="subBlock">
                <span class="start">{{oldniveau}} </span>
                <span class="separator">7</span>
                <span class="end">{{newniveau}}</span>
            </div>
        </div>
    {{/newniveau}}

    {{#newpv}}
        <div class="block">
            <span class="label" data-i18n="pv-long">pv</span>
            <div class="subBlock">
                <span class="start">{{oldpv}} </span>
                <span class="separator">7</span>
                <span class="end">{{newpv}}</span>
            </div>
        </div>
    {{/newpv}}

    {{#newcapacite}}
        <div class="block">
            <span class="label" data-i18n="points-capacites-long">pc</span>
            <div class="subBlock">
                <span class="start">{{oldcapacite}} </span>
                <span class="separator">7</span>
                <span class="end">{{newcapacite}}</span>
            </div>
        </div>
    {{/newcapacite}}

    {{#newcontact}}
        <div class="block">
            <span class="label" data-i18n="attaque-contact">pv</span>
            <div class="subBlock">
                <span class="start">{{oldcontact}} </span>
                <span class="separator">7</span>
                <span class="end">{{newcontact}}</span>
            </div>
        </div>
    {{/newcontact}}

    {{#newdistance}}
        <div class="block">
            <span class="label" data-i18n="attaque-distance">pv</span>
            <div class="subBlock">
                <span class="start">{{olddistance}} </span>
                <span class="separator">7</span>
                <span class="end">{{newdistance}}</span>
            </div>
        </div>
    {{/newdistance}}

    {{#newmagique}}
        <div class="block">
            <span class="label" data-i18n="attaque-magique">pv</span>
            <div class="subBlock">
                <span class="start">{{oldmagique}} </span>
                <span class="separator">7</span>
                <span class="end">{{newmagique}}</span>
            </div>
        </div>
    {{/newmagique}}
</rolltemplate>