<rolltemplate class="sheet-rolltemplate-std">
    <h1 class="header">{{name}}</h1>
    <h2 class="header">{{title}}</h2>
    {{#subtitle}}
        <h3 class="header">{{subtitle}}</h3>
    {{/subtitle}}

    {{#rollTotal() empty 0}}
    <div class="allProps">
        {{#typemagie}}
        <div class="subBlock">
            <span class="full">{{typemagie}}</span>
        </div>
        {{/typemagie}}
        {{#formemagie}}
        <div class="subBlock">
            <span class="full">{{formemagie}}</span>
        </div>
        {{/formemagie}}

        {{#allprops() name title subtitle typemagie formemagie difficulte description result destin echec critique empty}}
            <div class="subBlock">
                <span class="label">{{key}}</span>
                {{value}}
            </div>
        {{/allprops() name title subtitle typemagie formemagie difficulte description result destin echec critique empty}}
    </div>
    {{/rollTotal() empty 0}}

    {{result}}

    {{#rollTotal() computed::destin 1}}
        <div class="coupdepouce">
            <span data-i18n="coup-de-pouce">Coup de pouce du destin</span>
        </div>
    {{/rollTotal() computed::destin 1}}

    {{#rollTotal() computed::echec 1}}
        <div class="echeccritique">
            <span data-i18n="echec-critique">Échec critique</span>
        </div>
    {{/rollTotal() computed::echec 1}}

    {{#rollTotal() computed::critique 1}}
        <div class="critique">
            <span data-i18n="critique">Critique</span>
        </div>
    {{/rollTotal() computed::critique 1}}

    {{#difficulte}}
        {{#rollTotal() computed::echec 0}}
            {{#rollTotal() computed::critique 0}}
                {{#rollTotal() computed::difficulte 1}}
                    <div class="critique">
                        <span data-i18n="succes">Succès</span>
                    </div>
                {{/rollTotal() computed::difficulte 1}}
            {{/rollTotal() computed::critique 0}}
        {{/rollTotal() computed::echec 0}}

        {{#rollTotal() computed::echec 0}}
            {{#rollTotal() computed::critique 0}}
                {{#rollTotal() computed::difficulte 0}}
                    <div class="echeccritique">
                        <span data-i18n="echec">Échec</span>
                    </div>
                {{/rollTotal() computed::difficulte 0}}
            {{/rollTotal() computed::critique 0}}
        {{/rollTotal() computed::echec 0}}
    {{/difficulte}}

    {{#description}}
        <span class="text">{{description}}</span>
    {{/description}}
</rolltemplate>