+panel({ name: 'header-crew', title: 'The Crew' })
  - const { personality, fields } = crew.header;
  //- +block('header')
  //-   +field(personality).header__title
  +block('content')
    +editorblock('header')
      +block('edit')
        each field in fields
          div
            label(data-i18n=field.name, for=field.name)= field.label
            +field(field)
      +block('view')
        each field in fields
          - const divClass = field.span ? `col-${field.span}` : '';
          div(class=divClass)
            +span(field)
            label(data-i18n=field.name)= field.label
