
//- DICE SELECT
mixin diceSelect(selectedDefault)
	- const diceTypes = ['d4', 'd6', 'd8', 'd10', 'd12', 'd20'];
	optgroup(label='Dice') Dice
		each val in diceTypes
			- const selectedDie = val === selectedDefault ? selected : '';
			option(value=val selectedDie)=val