include pug/abstracts/variables.pug
include pug/abstracts/mixins.pug
include pug/rolls.pug

// capacités
main
  section
    include pug/pages/capacites.pug
  // personnage
  section
    include pug/pages/personnage.pug

include pug/layout/footer.pug

include pug/components/rt_base.pug
include pug/components/rt_attack.pug
include pug/components/rt_defense.pug
include pug/components/rt_anima.pug

script(type="text/worker")
  include js/heal.js
