button[type=roll]:before {
    content: "" !important;
}

textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[disabled=true] {
    background-color:lightgray !important;
    font-weight: bold;
    color: black;
}

button[type=roll]{
    font-size: 1em !important;
    font-weight: bold;
    line-height: normal;
    margin: 0px !important;
}

.sheet-5colrow {
    display: block;
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
}

/*.sheet-5colrow .sheet-col {
    width: calc(20% - 20px);
    margin-right: 30px;
}*/




label > input[type=checkbox] {
    display: none;
    width: 0;
}

label > input[type=checkbox]:checked ~ span {
    border : 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
}

div[class*="sheet-section"],
div[class*="sheet-options"] {
    display: none;
}

div.repcontrol {
    margin-bottom: 15px;
}

input[name="attr_display"] {
    display: none;
}

.sheet-oneline {
    display: inline-block;
}
.sheet-column {
    display : inline-block;
}
.sheet-column > button,
.sheet-column > input {
    width: 120px;
}

label.sheet-tab-button {
    display: inline;
    padding-right: 0px;
    margin-right: 5px;
}

label.sheet-tab-button span span {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input.sheet-tab-button {
    /*width: 70px;*/
    /*height: 20px;*/
    cursor: pointer;
    position: relative;
    opacity: 0;
    z-index: 9999;
}

span.sheet-tab-button {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    background-color: rgba(125,114,69,0.2);
    color: gray;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px !important;
    border-width: 0px;
    min-width: 70px;
    /*height: 20px;*/
    cursor: pointer;
    position: relative;
    margin-bottom: 2px;
}

label.sheet-tab-button input.sheet-tab-button:checked ~ span.sheet-tab-button {
    background-color: gray;
    color: white;
}
div.sheet-section-skill,
div.sheet-section-item,

input.sheet-options-flag:checked ~ div.sheet-options {
    display: block !important;
}

div div div.sheet-section-skill,
div div div.sheet-section-item,

input.sheet-options-flag:checked ~ div div div.sheet-options {
    display: block !important;
}

input[type="text"], input[type="number"] {
    background:transparent;
    font-weight: bold;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px 1px 3px 1px;
}

input.sheet-small-input {
    min-width: 50px;
}



/* abillity template */
.sheet-rolltemplate-skill div.sheet-skill-template,
.sheet-rolltemplate-item div.sheet-item-template{
    width:100%;
    background-color:white;
    border:2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-skill .sheet-header,
.sheet-rolltemplate-item .sheet-header {

    background-color:#000;
    padding:4px;
    padding-bottom: 1px;

    border: 1px solid #000;
    color:white;
    font-family:"Helvetica Neue",Helvetica,sans-serif;
    font-size:1em;
    font-weight:bold;
    text-align: center;
}

.sheet-rolltemplate-skill .sheet-header-small,
.sheet-rolltemplate-item .sheet-header-small {
    background-color:#000;
    padding: 1px;
    padding-bottom: 4px;
    /* border: 1px solid #fff; */
    color:white;
    font-family:"Helvetica Neue",Helvetica,sans-serif;
    font-size:0.8em;
    font-weight:bold;
    text-align: center;
}

.sheet-rolltemplate-skill .sheet-diceresult{
  background-color: white;
  padding: 4px;
  text-align: center;
}

.sheet-rolltemplate-skill .sheet-header a,
.sheet-rolltemplate-item .sheet-header a{
    color:white;
    text-decoration: underline;
}


.sheet-rolltemplate-skill .sheet-effect,
.sheet-rolltemplate-item .sheet-effect {
    padding: 10px;
    background-color:#EAEAEA;
}

.sheet-rolltemplate-skill .inlinerollresult  {
    color: white;
    background-color: black;
    border-color:black;
}

.sheet-rolltemplate-skill .inlinerollresult.fullcrit {
    color: white;
    background-color: #3FB315
}

.sheet-rolltemplate-skill .inlinerollresult.fullfail {
    color: white;
    background-color: #B31515
}

.sheet-rolltemplate-skill .inlinerollresult.importantroll {
    color: white;
    background-color: #4A57ED;
}


/*Configure the tab buttons*/
/*"attributes","skills","equipments", "combat", "special", "items*/
.sheet-attributes,
.sheet-skills,
.sheet-equipments,
.sheet-combat,
.sheet-special,
.sheet-items {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.sheet-tabstoggle[value="equipments"] ~ div.sheet-equipments,
.sheet-tabstoggle[value="combat"] ~ div.sheet-combat,
.sheet-tabstoggle[value="special"] ~ div.sheet-special,
.sheet-tabstoggle[value="items"] ~ div.sheet-items {
	display: block;
}

.sheet-tabs{
  margin: 20px;
}


.sheet-info-container{
  display: grid;
  grid-template-columns: 100px 210px 100px 210px;
  grid-template-rows: auto;
  gap: 4px 15px;
  justify-items: stretch;
  align-items: center;
}

.sheet-info-item{

}

.sheet-attribute-container{
  display: grid;
  grid-template-columns: 40px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-template-rows: auto;
  gap: 4px 4px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
}

.sheet-attribute-item{
  text-align: center;
  vertical-align: middle;
}

.sheet-item-small{
  font-size:9px
}

.sheet-skill-option-container{
  display: grid;
  grid-template-columns: 70px 210px 70px 210px ;
  grid-template-rows: auto;
  gap: 4px 4px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
}

.sheet-skill-item{

}

.sheet-skill-effect{
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: stretch;
}

.sheet-skill-effect textarea {
    /*width: 180px !important;*/
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.sheet-skill-display-container{
  display: grid;
  grid-template-columns: 50px 210px 80px 80px 80px 40px 80px 30px ;

  gap: 2px 2px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch
  background-color: black;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
  border: 1px solid black;

}

.sheet-skill-display-item{
  /* background-color: #80cbc4;
    border: 1px solid #fff; */
    background-color: #ffffff;
    border: 1px solid #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}


.sheet-skill-display-effect{
  grid-column: 1 / 8;
}

.sheet-equipment-container{
  display: grid;
  /* grid-template-columns: 60px 210px 50px 50px 50px 50px 50px 50px 50px 50px 60px 210px; */
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 3px 3px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
}

.sheet-equipment-total-label{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

.sheet-equipment-item{

}

.sheet-small-title{
  font-size: 10px;
}

.sheet-small-textinput{
  width: 60px;
}

.sheet-combat-container{
  display: grid;
  /* grid-template-columns: 60px 210px 50px 50px 50px 50px 50px 50px 50px 50px 60px 210px; */
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 3px 3px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
}

.sheet-combat-item-empty{
  justify-self: stretch;
  align-self: stretch;
  background-color: darkgray;
  text-align: center;
}

.sheet-special-container{
  display: grid;
  /* grid-template-columns: 60px 210px 50px 50px 50px 50px 50px 50px 50px 50px 60px 210px; */
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 3px 3px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
}

.sheet-special-item{

}

.sheet-item-stat-container{
  display: grid;
  /* grid-template-columns: 60px 210px 50px 50px 50px 50px 50px 50px 50px 50px 60px 210px; */
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 3px 3px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

.sheet-item-stat-item{

}

.sheet-item-container{
  display: grid;
  /* grid-template-columns: 60px 210px 50px 50px 50px 50px 50px 50px 50px 50px 60px 210px; */
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 3px 3px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  margin: 5px;
}

.sheet-item-item{

}
