//- Include Supplement Toggle
include ../../data/settings
include ../../common/pug/button

mixin settings()
  .settings-menu
    each group in settingGroups
      .settings-group
        .settings-group-title(data-i18n=group.translationId)=locals.translations[group.translationId]
        each setting in group.settings
          .setting-container
            .setting-name(data-i18n=setting.translationId)=locals.translations[setting.translationId]
            .setting-toggle
              label.setting-switch
                if setting.checked
                  input(type='checkbox' name=`attr_${setting.attribute}` checked)
                else
                  input(type='checkbox' name=`attr_${setting.attribute}`)
                span.setting-slider.setting-round
