<div class="sheet-wrap-box sheet-relative sheet-mar-b-md sheet-mar-t-md">
  <div class="sheet-col-1-5 sheet-center sheet-vert-middle">
    <input class="sheet-weapon-name sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_name" placeholder="name">
  </div>
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_emote" value="{{emote=@{repeating_weapons_ranged_{{num}}_emote}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_attack" value="{{attack=[[d20cs>@{repeating_weapons_ranged_{{num}}_crit_range} + @{repeating_weapons_ranged_{{num}}_to_hit} + (@{global_weapon_attack_bonus}) + (@{global_melee_attack_bonus})]]}} {{attackadv=[[d20cs>@{repeating_weapons_ranged_{{num}}_crit_range} + @{repeating_weapons_ranged_{{num}}_to_hit} + (@{global_weapon_attack_bonus}) + (@{global_melee_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_details" value="{{target=@{repeating_weapons_ranged_{{num}}_target}}} {{reach=@{repeating_weapons_ranged_{{num}}_reach}}} {{range=@{repeating_weapons_ranged_{{num}}_range}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_range" value="{{range=@{repeating_weapons_ranged_{{num}}_range}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_damage" value="{{action_damage=[[@{repeating_weapons_ranged_{{num}}_dmg} + @{repeating_weapons_ranged_{{num}}_dmg_total} + (@{global_weapon_damage_bonus}) + (@{global_melee_damage_bonus}) + 0d0]]}} {{action_damage_type=@{repeating_weapons_ranged_{{num}}_dmg_type}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_second_damage" value="{{action_second_damage=[[@{repeating_weapons_ranged_{{num}}_second_dmg} + (@{global_weapon_damage_bonus}) + (@{global_melee_damage_bonus}) + 0d0]]}} {{action_second_damage_type=@{repeating_weapons_ranged_{{num}}_second_dmg_type}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_crit" value="{{can_crit=1}} {{action_crit_damage=[[@{repeating_weapons_ranged_{{num}}_dmg} + @{repeating_weapons_ranged_{{num}}_bonus_crit_dmg} + 0d0]]}} {{action_crit_damage_adv=[[@{repeating_weapons_ranged_{{num}}_dmg} + @{repeating_weapons_ranged_{{num}}_bonus_crit_dmg} + 0d0]]}} {{action_second_crit_damage=[[@{repeating_weapons_ranged_{{num}}_second_dmg} + 0d0]]}} {{action_second_crit_damage_adv=[[@{repeating_weapons_ranged_{{num}}_second_dmg} + 0d0]]}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_bonuses" value="1">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_crit_bonus" value="1">

  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_emote" class="sheet-tab-action sheet-toggle-emote" value="@{repeating_weapons_ranged_{{num}}_var_emote}"><span class="sheet-tab-action sheet-toggle-emote">Emote</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_attack" class="sheet-tab-action sheet-toggle-attack" value="@{repeating_weapons_ranged_{{num}}_var_attack}"><span class="sheet-tab-action sheet-toggle-attack">Attack</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_range" class="sheet-tab-action sheet-toggle-range" value="@{repeating_weapons_ranged_{{num}}_var_range}"><span class="sheet-tab-action sheet-toggle-range">Range</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_damage" class="sheet-tab-action sheet-toggle-damage" value="@{repeating_weapons_ranged_{{num}}_var_damage}"><span class="sheet-tab-action sheet-toggle-damage">Dmg</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_second_damage" class="sheet-tab-action sheet-toggle-second-damage sheet-mar-t-md" value="@{repeating_weapons_ranged_{{num}}_var_second_damage}"><span class="sheet-tab-action sheet-toggle-second-damage sheet-mar-t-md">Secondary</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_crit" class="sheet-tab-action sheet-toggle-crit sheet-mar-t-md" value="@{repeating_weapons_ranged_{{num}}_var_crit}"><span class="sheet-tab-action sheet-toggle-crit sheet-mar-t-md">Crit</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_crit_bonus" class="sheet-tab-action sheet-toggle-crit-bonus sheet-mar-t-nine" value="@{repeating_weapons_ranged_{{num}}_var_crit_bonus}"><span class="sheet-tab-action sheet-toggle-crit-bonus sheet-mar-t-nine">Bonus</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_bonuses" class="sheet-tab-action sheet-toggle-bonuses" value="@{repeating_weapons_ranged_{{num}}_var_bonuses}"><span class="sheet-tab-action sheet-toggle-bonuses">Bonuses</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_macro" class="sheet-tab-action sheet-toggle-macro" value="@{repeating_weapons_ranged_{{num}}_var_macro}"><span class="sheet-tab-action sheet-toggle-macro">Macro</span>

  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_macro_options" value="@{repeating_weapons_ranged_{{num}}_toggle_emote} @{repeating_weapons_ranged_{{num}}_toggle_attack} @{repeating_weapons_ranged_{{num}}_toggle_crit} @{repeating_weapons_ranged_{{num}}_toggle_range} @{repeating_weapons_ranged_{{num}}_toggle_damage} @{repeating_weapons_ranged_{{num}}_toggle_second_damage}\n@{repeating_weapons_ranged_{{num}}_macro}">

  <div class="sheet-action-button-group sheet-right">
    <div class="sheet-row">
      <div class="sheet-col sheet-center sheet-vert-middle">
        <button type="roll" class="sheet-roll" name="roll_repeating_weapons_ranged_{{num}}_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_ranged_{{num}}_name}}} {{ranged=1}} @{repeating_weapons_ranged_{{num}}_macro_options}">
          <span>Ranged</span>
        </button>
      </div>
    </div>
  </div>
  <div class="sheet-row sheet-toggle-emote sheet-mar-t-sm">
    <div class="sheet-col-1 sheet-center">
      <textarea class="sheet-xs-textarea" name="attr_repeating_weapons_ranged_{{num}}_emote"></textarea>
      <div class="sheet-small-label">Emote</div>
    </div>
  </div>
  <div class="sheet-row sheet-toggle-macro sheet-mar-t-sm">
    <div class="sheet-col-1 sheet-center">
      <textarea class="sheet-xs-textarea" name="attr_repeating_weapons_ranged_{{num}}_macro"></textarea>
      <div class="sheet-small-label">Macro</div>
    </div>
  </div>
  <div class="sheet-row sheet-mar-t-sm">
    <div class="sheet-col-1-24 sheet-toggle-attack sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-checkbox-row-height" type="checkbox" value="@{PB}" name="attr_repeating_weapons_ranged_{{num}}_proficient" checked="checked">
      <div class="sheet-small-label">Prof</div>
    </div>
    <div class="sheet-col-1-16 sheet-toggle-attack sheet-center sheet-vert-top sheet-pad-r-sm">
      <select name="attr_repeating_weapons_ranged_{{num}}_attack_stat" class="sheet-select-no-arrow">
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}">Str</option>
        <option value="@{dexterity_mod}" selected="selected">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
      <div class="sheet-small-label">Atk Stat</div>
    </div>
    <div class="sheet-col-1-24 sheet-toggle-attack sheet-toggle-bonuses sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_attack_bonus" value="0">
      <div class="sheet-small-label">+Atk</div>
    </div>
    <div class="sheet-col-1-22 sheet-toggle-attack sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_to_hit" value="@{repeating_weapons_ranged_{{num}}_proficient} + @{repeating_weapons_ranged_{{num}}_attack_stat} + @{repeating_weapons_ranged_{{num}}_attack_bonus}" disabled="disabled">
      <div class="sheet-small-label">To Hit</div>
    </div>
    <div class="sheet-col-1-13 sheet-toggle-details sheet-toggle-range sheet-center sheet-vert-top sheet-pad-l-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_range">
      <div class="sheet-small-label">
        <span class="sheet-english">Range</span>
        <span class="sheet-german">Reichweite</span>
      </div>
    </div>
    <div class="sheet-col-1-14 sheet-toggle-details sheet-toggle-range sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_ammo" min="0" value="1">
      <div class="sheet-small-label">Ammo</div>
    </div>
    <div class="sheet-col-1-14 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_dmg" value="0">
      <div class="sheet-small-label">Dmg Dice</div>
    </div>
    <div class="sheet-col-1-16 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
      <select name="attr_repeating_weapons_ranged_{{num}}_dmg_stat" class="sheet-select-no-arrow">
        <option value="0">None</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}">Str</option>
        <option value="@{dexterity_mod}" selected="selected">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
      <div class="sheet-small-label">Dmg Stat</div>
    </div>
    <div class="sheet-col-1-24 sheet-toggle-damage sheet-toggle-bonuses sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_dmg_bonus" value="0">
      <div class="sheet-small-label">+Dmg</div>
    </div>
    <div class="sheet-col-1-22 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_dmg_total" value="@{repeating_weapons_ranged_{{num}}_dmg_stat} + @{repeating_weapons_ranged_{{num}}_dmg_bonus}" disabled="disabled">
      <div class="sheet-small-label">Dmg Mod</div>
    </div>
    <div class="sheet-col-1-10 sheet-toggle-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_dmg_type">
      <div class="sheet-small-label">Dmg Type</div>
    </div>
    <div class="sheet-col-1-14 sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_second_dmg" value="0">
      <div class="sheet-small-label">2nd Dmg Dice</div>
    </div>
    <div class="sheet-col-1-22 sheet-toggle-damage sheet-toggle-second-damage sheet-toggle-bonuses sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_second_dmg_bonus" value="0">
      <div class="sheet-small-label">2nd +Dmg</div>
    </div>
    <div class="sheet-col-1-10 sheet-toggle-damage sheet-toggle-second-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_second_dmg_type">
      <div class="sheet-small-label">2nd Dmg Type</div>
    </div>
    <div class="sheet-col-1-14 sheet-toggle-damage sheet-toggle-crit sheet-toggle-crit-bonus sheet-center sheet-vert-top sheet-pad-l-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_bonus_crit_dmg" value="0">
      <div class="sheet-small-label">Bonus Crit Dmg</div>
    </div>
    <div class="sheet-col-1-22 sheet-toggle-damage sheet-toggle-crit sheet-center sheet-vert-top sheet-pad-l-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_crit_range" value="20" step="1" min="1" max="20">
      <div class="sheet-small-label">Crit Range</div>
    </div>
  </div>
</div>