<div class="wrap-box relative mar-b-md mar-t-md">
  <div class="col-20 center vert-top">
    <input class="weapon-name center" type="text" name="attr_repeating_weapons_{{num}}_name" placeholder="name">
  </div>
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_emote" value="{{emote=@{repeating_weapons_{{num}}_emote}}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_attack"
         value="{{attack=[[d20cs>@{repeating_weapons_{{num}}_crit_range}@{d20_mod} + @{repeating_weapons_{{num}}_to_hit} + (@{global_weapon_attack_bonus}) + (@{global_attack_bonus})]]}} {{attackadv=[[d20cs>@{repeating_weapons_{{num}}_crit_range}@{d20_mod} + @{repeating_weapons_{{num}}_to_hit} + (@{global_weapon_attack_bonus}) + (@{global_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_reach" value="{{reach=@{repeating_weapons_{{num}}_reach}}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_range" value="{{range=@{repeating_weapons_{{num}}_range}}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_ammo" value="{{ammo=[[@{repeating_weapons_{{num}}_ammo}-@{repeating_weapons_{{num}}_toggle_ammo_auto}]]}} {{ammo_auto=@{repeating_weapons_{{num}}_toggle_ammo_auto}}} {{ammo_field=repeating_weapons_{{num}}_ammo}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_ammo_auto" value="1">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_damage" value="{{action_damage=[[0d0 + @{repeating_weapons_{{num}}_dmg} + @{repeating_weapons_{{num}}_dmg_total} + (@{global_weapon_damage_bonus}) + (@{global_damage_bonus})]]}} {{action_damage_type=@{repeating_weapons_{{num}}_dmg_type}}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_alt_damage" value="{{action_alt_damage=[[0d0 + @{repeating_weapons_{{num}}_alt_dmg} + @{repeating_weapons_{{num}}_dmg_total} + (@{global_weapon_damage_bonus}) + (@{global_damage_bonus})]]}} {{action_alt_damage_reason=@{repeating_weapons_{{num}}_alt_dmg_reason}}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_second_damage" value="{{action_second_damage=[[0d0 + @{repeating_weapons_{{num}}_second_dmg} + (@{repeating_weapons_{{num}}_second_dmg_bonus} * @{repeating_weapons_{{num}}_toggle_bonuses})]]}} {{action_second_damage_type=@{repeating_weapons_{{num}}_second_dmg_type}}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_crit" value="{{can_crit=1}} {{action_crit_damage=[[0d0 + @{repeating_weapons_{{num}}_dmg} + (@{repeating_weapons_{{num}}_bonus_crit_dmg} * @{repeating_weapons_{{num}}_toggle_bonuses})]]}} {{action_alt_crit_damage=[[0d0 + @{repeating_weapons_{{num}}_alt_dmg}]]}} {{action_second_crit_damage=[[0d0 + @{repeating_weapons_{{num}}_second_dmg}]]}}">
  <input type="hidden" name="attr_repeating_weapons_{{num}}_var_bonuses" value="1">

  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_emote" class="toggle-emote" value="@{repeating_weapons_{{num}}_var_emote}"><span class="toggle-emote"><span class="en">Emote</span><span class="de">Emote</span><span class="fr">Emote</span><span class="ru">Текст</span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_attack" class="toggle-attack" value="@{repeating_weapons_{{num}}_var_attack}"><span class="toggle-attack"><span class="en">Attack</span><span class="de">Angriff</span><span class="fr">Attaque</span><span class="ru">Атака</span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_reach" class="toggle-reach" value="@{repeating_weapons_{{num}}_var_reach}"><span class="toggle-reach"><span class="en">Reach</span><span class="de">Reichw</span><span class="fr">Allonge</span><span class="ru">Длина</span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_range" class="toggle-range" value="@{repeating_weapons_{{num}}_var_range}"><span class="toggle-range"><span class="en">Range</span><span class="de">Range</span><span class="fr">Portée</span><span class="ru">Досяг</span></span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_ammo" class="toggle-ammo mar-t-md" value="@{repeating_weapons_{{num}}_var_ammo}"><span class="toggle-ammo mar-t-md"><span class="en">Ammo</span><span class="de">Ammo</span><span class="fr">Mun</span><span class="ru">Боепр</span></span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_ammo_auto" class="toggle-ammo-auto mar-t-nine" value="@{repeating_weapons_{{num}}_var_ammo_auto}"><span class="toggle-ammo-auto mar-t-nine">Auto</span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_damage" class="toggle-damage" value="@{repeating_weapons_{{num}}_var_damage}"><span class="toggle-damage"><span class="en">Dmg</span><span class="de">Scha</span><span class="fr">Dmg</span><span class="ru">Урон</span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_alt_damage" class="toggle-alt-damage mar-t-md" value="@{repeating_weapons_{{num}}_var_alt_damage}"><span class="toggle-alt-damage mar-t-md"><span class="en">Alt</span><span class="de">Alt</span><span class="fr">Alt</span><span class="ru">Алт</span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_second_damage" class="toggle-second-damage mar-t-md" value="@{repeating_weapons_{{num}}_var_second_damage}"><span class="toggle-second-damage mar-t-md"><span class="en">Secondary</span><span class="de">Secondary</span><span class="fr">Secondaire</span><span class="ru">Вторичное</span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_crit" class="toggle-crit mar-t-md" value="@{repeating_weapons_{{num}}_var_crit}" checked><span class="toggle-crit mar-t-md"><span class="en">Crit</span><span class="de">Crit</span><span class="fr">Crit</span><span class="ru">Крит</span></span>
  <input type="checkbox" name="attr_repeating_weapons_{{num}}_toggle_bonuses" class="toggle-bonuses" value="@{repeating_weapons_{{num}}_var_bonuses}"><span class="toggle-bonuses"><span class="en">Bonuses</span><span class="de">Boni</span><span class="fr">Bonus</span><span class="ru">Бонусы</span></span>

  <div class="action-button-group right">
    <div class="shaped-row">
      <div class="col center vert-middle">
        <button type="roll" name="roll_repeating_weapons_{{num}}_weapon"
                value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_{{num}}_name}}} {{action=1}} {{action_type=Melee}} @{classactionmeleeweapon} @{repeating_weapons_{{num}}_toggle_emote} @{repeating_weapons_{{num}}_toggle_attack} @{repeating_weapons_{{num}}_toggle_crit} @{repeating_weapons_{{num}}_toggle_reach} @{repeating_weapons_{{num}}_toggle_range} @{repeating_weapons_{{num}}_toggle_ammo} @{repeating_weapons_{{num}}_toggle_damage} @{repeating_weapons_{{num}}_toggle_alt_damage} @{repeating_weapons_{{num}}_toggle_second_damage}">
          <span class="en">Melee</span>
          <span class="de">Nahkampf</span>
          <span class="fr">Mêlée</span>
          <span class="ru">Рукопашное</span>
        </button>
      </div>
    </div>
  </div>
  <div class="toggle-emote center mar-t-sm">
    <textarea class="xs-textarea" name="attr_repeating_weapons_{{num}}_emote"></textarea>

    <div class="small-label">
      <span class="en">Emote</span>
      <span class="de">Emote</span>
      <span class="fr">Emote</span>
      <span class="ru">Текст</span>
    </div>
  </div>
  <div class="shaped-row mar-t-sm">
    <div class="col-03 toggle-attack center vert-top pad-r-sm">
      <input class="checkbox-row-height" type="checkbox" value="@{PB}" name="attr_repeating_weapons_{{num}}_proficient" checked>

      <div class="small-label">
        <span class="en">Prof</span>
        <span class="de">Prof</span>
        <span class="fr">Maîtr</span>
        <span class="ru">Влад</span>
      </div>
    </div>
    <div class="col-06 toggle-attack center vert-top pad-r-sm">
      <span class="en">
        <select name="attr_repeating_weapons_{{num}}_attack_stat" class="select-no-arrow">
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}" selected>Str</option>
          <option value="@{dexterity_mod}">Dex</option>
          <option value="@{constitution_mod}">Con</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Wis</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
      <span class="de">
        <select name="attr_repeating_weapons_{{num}}_attack_stat" class="select-no-arrow">
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}" selected>Str</option>
          <option value="@{dexterity_mod}">Ges</option>
          <option value="@{constitution_mod}">Kon</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Wei</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
      <span class="fr">
        <select name="attr_repeating_weapons_{{num}}_attack_stat" class="select-no-arrow">
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}" selected>For</option>
          <option value="@{dexterity_mod}">Dex</option>
          <option value="@{constitution_mod}">Con</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Sag</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
	  <span class="ru">
        <select name="attr_repeating_weapons_ranged_{{num}}_attack_stat" class="select-no-arrow">
          <option value="@{finesse_mod}">Фехтовальное</option>
          <option value="@{strength_mod}">Сил</option>
          <option value="@{dexterity_mod}" selected>Лов</option>
          <option value="@{constitution_mod}">Тел</option>
          <option value="@{intelligence_mod}">Инт</option>
          <option value="@{wisdom_mod}">Муд</option>
          <option value="@{charisma_mod}">Хар</option>
        </select>
      </span>

      <div class="small-label">
        <span class="en">Atk Stat</span>
        <span class="de">Scha Stat</span>
        <span class="fr">Stat Atq</span>
        <span class="ru">Хар Атк</span>
      </div>
    </div>
    <div class="col-04 toggle-attack toggle-bonuses center vert-top pad-r-sm">
      <input class="center" type="number" name="attr_repeating_weapons_{{num}}_attack_bonus" value="0">

      <div class="small-label">
        <span class="en">+Atk</span>
        <span class="de">+Atk</span>
        <span class="fr">+Atq</span>
        <span class="ru">+Атк</span>
      </div>
    </div>
    <div class="col-04 toggle-attack border-right center vert-top pad-r-sm">
      <input class="center" type="number" name="attr_repeating_weapons_{{num}}_to_hit" value="@{repeating_weapons_{{num}}_proficient} + @{repeating_weapons_{{num}}_attack_stat} + (@{repeating_weapons_{{num}}_attack_bonus} * @{repeating_weapons_{{num}}_toggle_bonuses})" disabled>

      <div class="small-label">
        <span class="en">To Hit</span>
        <span class="de">To Hit</span>
        <span class="fr">Mod Atq</span>
        <span class="ru">Попадение</span>
      </div>
    </div>
    <div class="col-05 toggle-reach border-right center vert-top pad-l-sm pad-r-sm">
      <input class="center" type="text" name="attr_repeating_weapons_{{num}}_reach">

      <div class="small-label">
        <span class="en">Reach</span>
        <span class="de">Reach</span>
        <span class="fr">Allonge</span>
        <span class="ru">Длина</span>
      </div>
    </div>

    <div class="col-08 toggle-range border-right center vert-top pad-l-sm pad-r-sm">
      <input class="center" type="text" name="attr_repeating_weapons_{{num}}_range">

      <div class="small-label">
        <span class="en">Range</span>
        <span class="de">Reichweite</span>
        <span class="fr">Portée</span>
        <span class="ru">Дальность</span>
      </div>
    </div>
    <div class="col-07 toggle-range toggle-ammo border-right center vert-top pad-l-sm pad-r-sm">
      <input class="center" type="number" name="attr_repeating_weapons_{{num}}_ammo" min="0" value="1">

      <div class="small-label">
        <span class="en">Ammo</span>
        <span class="de">Ammo</span>
        <span class="fr">Munition</span>
        <span class="ru">Боеприпас</span>
      </div>
    </div>
    <div class="col-07 toggle-damage center vert-top pad-l-sm pad-r-sm">
      <input class="center" type="text" name="attr_repeating_weapons_{{num}}_dmg" value="0">

      <div class="small-label">
        <span class="en">Dmg Dice</span>
        <span class="de">Dmg Dice</span>
        <span class="fr">Dés de Dmg</span>
        <span class="ru">Бросок Урона</span>
      </div>
    </div>
    <div class="col-07 toggle-damage toggle-alt-damage border-left center vert-top pad-l-sm pad-r-md">
      <input class="center" type="text" name="attr_repeating_weapons_{{num}}_alt_dmg" value="0">

      <div class="small-label">
        <span class="en">Alt Dmg</span>
        <span class="de">Alt Dmg</span>
        <span class="fr">Dmg Alt</span>
        <span class="ru">Алт Урон</span>
      </div>
    </div>
    <div class="col-16 toggle-damage toggle-alt-damage border-right center vert-top pad-r-sm">
      <textarea class="xs-textarea center" name="attr_repeating_weapons_{{num}}_alt_dmg_reason"></textarea>

      <div class="small-label">
        <span class="en">Alt Dmg Reason</span>
        <span class="de">Alt Dmg Reason</span>
        <span class="fr">Raison Dmg Alt</span>
        <span class="ru">Причина Алт Урона</span>
      </div>
    </div>
    <div class="col-06 toggle-damage center vert-top pad-r-sm">
      <span class="en">
        <select name="attr_repeating_weapons_{{num}}_dmg_stat" class="select-no-arrow">
          <option value="0">None</option>
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}" selected>Str</option>
          <option value="@{dexterity_mod}">Dex</option>
          <option value="@{constitution_mod}">Con</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Wis</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
      <span class="de">
        <select name="attr_repeating_weapons_{{num}}_dmg_stat" class="select-no-arrow">
          <option value="0">Keine</option>
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}" selected>Str</option>
          <option value="@{dexterity_mod}">Ges</option>
          <option value="@{constitution_mod}">Kon</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Wei</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
      <span class="fr">
        <select name="attr_repeating_weapons_{{num}}_dmg_stat" class="select-no-arrow">
          <option value="0">Aucune</option>
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}" selected>For</option>
          <option value="@{dexterity_mod}">Dex</option>
          <option value="@{constitution_mod}">Con</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Sag</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
	  <span class="ru">
        <select name="attr_repeating_weapons_ranged_{{num}}_attack_stat" class="select-no-arrow">
          <option value="@{finesse_mod}">Фехтовальное</option>
          <option value="@{strength_mod}">Сил</option>
          <option value="@{dexterity_mod}" selected>Лов</option>
          <option value="@{constitution_mod}">Тел</option>
          <option value="@{intelligence_mod}">Инт</option>
          <option value="@{wisdom_mod}">Муд</option>
          <option value="@{charisma_mod}">Хар</option>
        </select>
      </span>

      <div class="small-label">
        <span class="en">Dmg Stat</span>
        <span class="de">Scha Stat</span>
        <span class="fr">Stat Dmg</span>
        <span class="ru">Хар Урон</span>
      </div>
    </div>
    <div class="col-04 toggle-damage toggle-bonuses center vert-top pad-r-sm">
      <input class="center" type="number" name="attr_repeating_weapons_{{num}}_dmg_bonus" value="0">

      <div class="small-label">
        <span class="en">+Dmg</span>
        <span class="de">+Scha</span>
        <span class="fr">+Dmg</span>
        <span class="ru">+Урон</span>
      </div>
    </div>
    <div class="col-04 toggle-damage center vert-top pad-r-sm">
      <input class="center" type="number" name="attr_repeating_weapons_{{num}}_dmg_total" value="@{repeating_weapons_{{num}}_dmg_stat} + (@{repeating_weapons_{{num}}_dmg_bonus} * @{repeating_weapons_{{num}}_toggle_bonuses})" disabled>

      <div class="small-label">
        <span class="en">Dmg Mod</span>
        <span class="de">Scha Mod</span>
        <span class="fr">Mod Dmg</span>
        <span class="ru">Мод Урон</span>
      </div>
    </div>
    <div class="col-10 toggle-damage border-right center vert-top pad-r-sm">
      <input class="center" type="text" name="attr_repeating_weapons_{{num}}_dmg_type">

      <div class="small-label">
        <span class="en">Dmg Type</span>
        <span class="de">Scha Type</span>
        <span class="fr">Type Dmg</span>
        <span class="ru">Тип Урон</span>
      </div>
    </div>
    <div class="col-07 toggle-damage toggle-second-damage center vert-top pad-l-sm pad-r-sm">
      <input class="center" type="text" name="attr_repeating_weapons_{{num}}_second_dmg" value="0">

      <div class="small-label">
        <span class="en">2nd Dmg Dice</span>
        <span class="de">2te Scha Dice</span>
        <span class="fr">2ème Dés de Dmg</span>
        <span class="ru">2ой Бросок урона</span>
      </div>
    </div>
    <div class="col-04 toggle-damage toggle-second-damage toggle-bonuses center vert-top pad-r-sm">
      <input class="center" type="number" name="attr_repeating_weapons_{{num}}_second_dmg_bonus" value="0">

      <div class="small-label">
        <span class="en">2nd +Dmg</span>
        <span class="de">2te +Scha</span>
        <span class="fr">2ème +Dmg</span>
        <span class="ru">2ой +Урона</span>
      </div>
    </div>
    <div class="col-10 toggle-damage toggle-second-damage border-right center vert-top pad-r-sm">
      <input class="center" type="text" name="attr_repeating_weapons_{{num}}_second_dmg_type">

      <div class="small-label">
        <span class="en">2nd Dmg Type</span>
        <span class="de">2te Scha Type</span>
        <span class="fr">2ème Type Dmg</span>
        <span class="ru">2ой Тип Урона</span>
      </div>
    </div>
    <div class="col-07 toggle-damage toggle-crit toggle-bonuses center vert-top pad-l-sm">
      <input class="center" type="text" name="attr_repeating_weapons_{{num}}_bonus_crit_dmg" value="0">

      <div class="small-label">
        <span class="en">Bonus Crit Dmg</span>
        <span class="de">Bonus Crit Dmg</span>
        <span class="fr">Bonus Dmg Crit</span>
        <span class="ru">Бонус Крит Урона</span>
      </div>
    </div>
    <div class="col-05 toggle-damage toggle-crit center vert-top pad-l-sm">
      <input class="center" type="number" name="attr_repeating_weapons_{{num}}_crit_range" value="20" step="1" min="1" max="20">

      <div class="small-label">
        <span class="en">Crit Range</span>
        <span class="de">Crit Range</span>
        <span class="fr">Coup Crit</span>
        <span class="ru">Крит при</span>
      </div>
    </div>
  </div>
</div>
