div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6
{
    display: block;
}

input.sheet-tab
{
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before
{
    content: attr(title);


    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    
    width: 150px;
    height: 20px;
    font-size: 18px;
}

input.sheet-tab:checked::before
{
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}

input.sheet-settings-checkbox {
    width: 15px;
    height: 15px;
    position: relative;
    top: 21px;
    right: 4px;
    
    cursor: pointer;
    z-index: 1;
    float: right;
}

input.sheet-settings-checkbox::before {
    content: "y";
    font-family: pictos;
    
    text-align: center;
    display: inline-block;
    
    background: #fff;
    
    width: 17px;
    height: 17px;
    font-size: 15px;
    color: darkgrey;
}

input.sheet-settings-checkbox:checked::before{
    color: black;
}

div.sheet-settings {
    display: none;
}

input.sheet-settings-checkbox:checked + div.sheet-settings{
    display: inline-block;
    float: right;
    position: relative;
    top: 23px;
    right: 4px;
    
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    
    padding: 2px;
}

button.sheet-hidden {
    display:none;
}

/* 
input.sheet-tab2::before
{
    background: #fee;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #f8c8c8, #fee, #f8c8c8);
    background: -ms-linear-gradient(to top, #f8c8c8, #fee, #f8c8c8);
    background: -o-linear-gradient(to top, #f8c8c8, #fee, #f8c8c8);
    background: linear-gradient(to top, #f8c8c8, #fee, #f8c8c8);
}

input.sheet-tab2:checked::before
{
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
    background: -webkit-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
    background: -ms-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
    background: -o-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
    background: linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
    border-bottom-color: #fcecec;
}
*/ 
div.sheet-tab-content
{
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}
/*
div.sheet-tab2
{
    background-color: #fcecec;
}
*/
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play-Bold'), url(http://themes.googleusercontent.com/static/fonts/play/v4/ZzUearZLklGfoL18Ti0GaQ.woff) format('woff');
}

.charsheet {
    background-image: url("");
    background-color: white;
}

.charsheet h3 {
    margin-bottom:0;
}

.charsheet .sheet-small {
    font-size: 10px;
    line-height:9px;
}

.charsheet label {
    display: inline-block;
    text-align: right;
    font-size:14px;     
    width: auto;
}

.charsheet label.sheet-long {
    width: 80px;
}

.charsheet label.sheet-short {
    width: 40px;
}

.charsheet input {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;    
}

.charsheet input.sheet-header {
    width: 160px; 
}

.charsheet input.sheet-skills{
    width:42px !important; 
}
    
.charsheet select {    
    display: inline-block;
    
}

.charsheet select.sheet-modtype {
    width: 65px;
}

.charsheet div.sheet-textHead {
    background-color: black;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align:center;
	-webkit-border-radius:  5px;
	-moz-border-radius: 5px; /*[top-left] [top-right] [bottom-right] [bottom-left] */
	border-radius:  5px;
	width:100%;
	padding:1px 2px;
	border-spacing: 0px 4px;	
}

.charsheet div.sheet-textHeadsm {
    background-color: black;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	-webkit-border-radius:  5px;
	-moz-border-radius: 5px; /*[top-left] [top-right] [bottom-right] [bottom-left] */
	border-radius:  5px;
	width:100%;
	padding:1px 2px;
	border-spacing: 0px 4px;	
}
.charsheet div.sheet-record {
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-align:center;    
    font-family: 'play';
	width:100%;	
}
.charsheet table{
	text-align: center;
	width: 100%;
}
.charsheet table td.sheet-col1, .charsheet table td.sheet-skillsCol1,.charsheet table td.sheet-skillsCrewCol1  {
    font-size: 13px;
    font-weight: bold;
	text-align: left;
	margin-left: 5px;
	text-indent: -5px;
	padding-left: 10px

}
.charsheet table td.sheet-col1{
	background-color: #C4C4C4;
	-webkit-border-radius:  5px;
	-moz-border-radius: 5px; /*[top-left] [top-right] [bottom-right] [bottom-left] */
	border-radius: 5px;
}
.charsheet table td.sheet-skillsCol1{
	width: 150px;
}

.charsheet table th {
    font-size: 13px;
    font-weight: bold;
    text-align: Center;
}
.charsheet table th.sheet-lheader{
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}

.charsheet table.sheet-spacing {	
	border-spacing: 1px 1px;
	border-collapse: separate;
	padding: 0px 1px;
}

.charsheet textarea {
	width: 98%;
	border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
	margin-bottom:0;
}
.charsheet textarea.sheet-atkNotes {
	font-size: 12px;
	height: 30px;
}
.charsheet textarea.sheet-ActionNotes {
	font-size: 12px;
	height:60px;
}
.charsheet div.sheet-clear { clear:both; }

.charsheet button[type=roll] {
	padding: 5px 10px 5px !important;
	font-size: 20px !important;
	background-color: #C4C4C4;
	font-weight: bold;
	text-shadow: 1px 1px #D0D0D0;
	color: #000000;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border: 1px solid #D0D0D0;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.charsheet select{
    margin:0;
}

.sheet-rolltemplate-skill table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-skill th {
	color: rgb(100, 100, 100);
    padding-left: 5px;
	line-height: 1.3em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-skill .sheet-subheader {
    color: #000;
    font-size: 1em;
    text-align: left;
}
 
.sheet-rolltemplate-skill .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(90, 90, 90);
}
 
.sheet-rolltemplate-skill .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-skill td {
    padding-left: 5px;
}
 
.sheet-rolltemplate-skill .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-skill .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-skill .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-skill .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-possibility table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-possibility th {
	color: rgb(100, 100, 100);
    padding-left: 5px;
	line-height: 1.3em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-possibility .sheet-subheader {
    color: #000;
    font-size: 1em;
    text-align: left;
}
 
.sheet-rolltemplate-possibility .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(90, 90, 90);
}
 
.sheet-rolltemplate-possibility .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-possibility td {
    padding-left: 5px;
}
 
.sheet-rolltemplate-possibility .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-possibility .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-possibility .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-possibility .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-defensebonus table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-defensebonus th {
	color: rgb(100, 100, 100);
    padding-left: 5px;
	line-height: 1.3em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-defensebonus .sheet-subheader {
    color: #000;
    font-size: 1em;
    text-align: left;
}
 
.sheet-rolltemplate-defensebonus .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(90, 90, 90);
}
 
.sheet-rolltemplate-defensebonus .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-defensebonus td {
    padding-left: 5px;
}
 
.sheet-rolltemplate-defensebonus .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-defensebonus .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-defensebonus .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-defensebonus .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-attack table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-attack th {
	color: rgb(100, 100, 100);
    padding-left: 5px;
	line-height: 1.3em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-attack .sheet-subheader {
    color: #000;
    font-size: 1em;
    text-align: left;
}
 
.sheet-rolltemplate-attack .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(90, 90, 90);
}
 
.sheet-rolltemplate-attack .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-attack td {
    padding-left: 5px;
}
 
.sheet-rolltemplate-attack .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-attack .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-attack .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-attack .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-damage table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-damage th {
	color: rgb(100, 100, 100);
    padding-left: 5px;
	line-height: 1.3em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-damage .sheet-subheader {
    color: #000;
    font-size: 1em;
    text-align: left;
}
 
.sheet-rolltemplate-damage .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(90, 90, 90);
}
 
.sheet-rolltemplate-damage .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-damage td {
    padding-left: 5px;
}
 
.sheet-rolltemplate-damage .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-damage .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-damage .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-damage .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-coupdegras table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-coupdegras th {
	color: rgb(100, 100, 100);
    padding-left: 5px;
	line-height: 1.3em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-coupdegras .sheet-subheader {
    color: #000;
    font-size: 1em;
    text-align: left;
}
 
.sheet-rolltemplate-coupdegras .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(90, 90, 90);
}
 
.sheet-rolltemplate-coupdegras .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-coupdegras td {
    padding-left: 5px;
}
 
.sheet-rolltemplate-coupdegras .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-coupdegras .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-coupdegras .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-coupdegras .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-power table {
    width: 189px;
    padding: 2px;
	border: 1px solid;
    background-color: #ffffff;
}
 
.sheet-rolltemplate-power th {
	color: rgb(100, 100, 100);
    padding-left: 5px;
	line-height: 1.3em;
	font-size: 1.2em;
    text-align: left;
	font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}
 
.sheet-rolltemplate-power .sheet-subheader {
    color: #000;
    font-size: 1em;
    text-align: left;
}
 
.sheet-rolltemplate-power .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(90, 90, 90);
}
 
.sheet-rolltemplate-power .sheet-tcat {
    font-weight: bold;
}
 
.sheet-rolltemplate-power td {
    padding-left: 5px;
}
 
.sheet-rolltemplate-power .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-power .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-power .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-power .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;.sheet-rolltemplate-power .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
}