/********** DIVS **********/

/* Contains the whole sheet */
.sheet-wrapper{
	width: 1200px;
	position: relative;
	font-family: "Letter Gothic Std"; 
	font-size: 10px;
	color: black;
}

/* Spans across the page (title) */
.sheet-full{
    position: relative;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Creates the left hand column */
.sheet-left{
    background-color: #f9f9f9;
    float: left;
    width: 36%;
} 

/* Creates the right hand column */
.sheet-right{
    background-color: #f9f9f9;
    float: right;
    width: 60%;
} 

/* Header properites */
h1{
	text-transform: uppercase;
	font-size: 24px;
}

/* Subheader properties */
h2{
	text-transform: uppercase;
	font-size: 16px;
}

/* subheader properties 2 */
h3{
	font-size: 14px;
}

/* Input fields Div */
.sheet-fields{
    width: 100%;
    float: left;
}

/* Input box */
.sheet-boxInfo input[type=text]{
    width: 100%;
    text-align: left;
    float: right;
}

/* Label */
.sheet-boxInfo label {
    float: left;
    font-size: 16px;
    margin-right: 5px;
    color: black;
    margin-bottom: 0px;
    display: inline-block;
}


/* Div for large checkboxes */
.sheet-boxChk{
    float: left;
    width: 10%;
    padding: 0px;
    margin: 0px;
}

/*bold*/
b{
    font-weight: bold;
}
