<div class="wrap-box relative">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-right small-label">
        <span class="en">Recharges on a long rest (4 recharge on a short rest if lvl 20).</span>
        <span class="de">Aufgefüllt nach langer Rast(Es werden 4 bei kurzer Rast aufgefüllt, falls lvl 20).</span>
        <span class="fr">Recharge après un repos long (4 recharges après un repos court au niv 20).</span>
        <span class="ru">Восстанавливаются после продолжительного отдыха (4 ячейки после короткого отдыха на 20 уровне).</span>
      </div>
    </div>
  </div>
  <div class="shaped-row vert-center">
    <div class="col-47 center pad-r-sm">
      <input type="number" name="attr_sorcery_points" value="0" min="0" step="1">
    </div>
    <div class="col-06 center">/</div>
    <div class="col-47 center pad-l-sm">
      <input type="number" name="attr_sorcery_points_max" readonly>
    </div>
  </div>
  <div class="wrap-box-title center">
    {{'SORCERY_POINTS' | translate}}
  </div>
</div>