<input class="toggle-spell-slots" type="checkbox" name="attr_spell_slots_toggle"><span class="toggle-spell-slots">{{'SPELL_SLOTS' | translate}}</span>
<input class="toggle-spell-points" type="checkbox" name="attr_spell_points_toggle"><span class="toggle-spell-points">{{'SPELL_POINTS' | translate}}</span>

<div class="spell-slots">
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'1st' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l1" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l1_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'2nd' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l2" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l2_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'3rd' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l3" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l3_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'4th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l4" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l4_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'5th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l5" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l5_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'6th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l6" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l6_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'7th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l7" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l7_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'8th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l8" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l8_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center small-label vert-middle">{{'9th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l9" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l9_max" value="0" min="0">
    </div>
  </div>

  <div class="wrap-box-title center">
    <span class="spell-slots">{{'SPELL_SLOTS' | translate}}</span>
  </div>
</div>
<div class="spell-points">
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'1st' | translate}}</div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>2</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'2nd' | translate}}</div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>3</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'3rd' | translate}}</div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>5</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'4th' | translate}}</div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>6</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'5th' | translate}}</div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>7</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'6th' | translate}}</div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>9</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'7th' | translate}}</div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>10</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'8th' | translate}} </div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>11</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-20 center vert-middle small-label">{{'9th' | translate}}</div>
    <div class="col-20 center vert-middle small-label pad-l-sm">
      <span>13</span>
    </div>
  </div>
  <div class="shaped-row center no-background">
    <div class="col-35 center pad-r-sm">
      <input type="number" name="attr_spell_points" value="0">
    </div>
    <div class="col-05 center vert-bottom">&#47;</div>
    <div class="col-35 center pad-l-sm">
      <input type="number" name="attr_spell_points_max" value="0" min="0">
    </div>
  </div>

  <div class="wrap-box-title center">
    <span class="spell-points">{{'SPELL_POINTS' | translate}}</span>
  </div>
</div>
