<input class="sheet-slide-input-spell-slots-points" type="checkbox" name="attr_spell_slots_points" value="1">
<label class="sheet-slide-toggle-spell-slots-points">
  <span class="sheet-slide-cover">···</span>
  <span class="sheet-slide-toggle-spell-slots-points-left">
    <span class="sheet-en">Spell Slots</span>
    <span class="sheet-de">Zauberslots</span>
  </span><span class="sheet-slide-toggle-spell-slots-points-right">
    <span class="sheet-en">Spell Points</span>
    <span class="sheet-de">Zauberpunkte</span>
  </span>
</label>

<div class="sheet-spell-slots">
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>1st</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l1" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l1_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>2nd</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l2" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l2_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>3rd</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l3" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l3_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>4th</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l4" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l4_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>5th</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l5" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l5_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>6th</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l6" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l6_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>7th</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l7" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l7_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>8th</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l8" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l8_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span>9th</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l9" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l9_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row sheet-no-background">
    <div class="sheet-col-30"></div>
    <div class="sheet-col-30">
      <div class="sheet-small-label sheet-center">
        <span class="sheet-en">Current</span>
        <span class="sheet-de">Aktuell</span>
      </div>
    </div>
    <div class="sheet-col-10"></div>
    <div class="sheet-col-30">
      <div class="sheet-small-label sheet-center">
        <span class="sheet-en">Max</span>
        <span class="sheet-de">Max.</span>
      </div>
    </div>
  </div>
</div>
<div class="sheet-spell-points">
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>1st</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>2</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>2nd</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>3</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>3rd</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>5</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>4th</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>6</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>5th</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>7</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>6th</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>9</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>7th</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>10</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>8th</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>11</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span>9th</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>13</span>
    </div>
  </div>
  <div class="sheet-shaped-row sheet-center sheet-no-background">
    <div class="sheet-col-35 sheet-center sheet-pad-r-sm">
      <input type="number" name="attr_spell_points" value="0">
      <div class="sheet-small-label">
        <span class="sheet-en">Current</span>
        <span class="sheet-de">Aktuell</span>
      </div>
    </div>
    <div class="sheet-col-05 sheet-center sheet-vert-bottom">&#47;</div>
    <div class="sheet-col-35 sheet-center pad-l-sm">
      <input type="number" name="attr_spell_points_max" value="0" min="0">
      <div class="sheet-small-label">
        <span class="sheet-en">Max</span>
        <span class="sheet-de">Max.</span>
      </div>
    </div>
  </div>
</div>