<input class="slide-input-spell-slots-points" type="checkbox" name="attr_spell_slots_points" value="1"><label class="slide-toggle-spell-slots-points"><span class="slide-cover">···</span><span class="slide-toggle-spell-slots-points-left"><span class="en">Spell Slots</span><span class="de">Zauberslots</span><span class="fr">Emplacement</span></span><span class="slide-toggle-spell-slots-points-right"><span class="en">Spell Points</span><span class="de">Zauberpunkte</span><span class="fr">Points de Sort</span></span></label>

<div class="spell-slots">
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">1st</span>
      <span class="de">1te</span>
      <span class="fr">1er</span>
      <span class="ru">1ый</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l1" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l1_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">2nd</span>
      <span class="de">2te</span>
      <span class="fr">2ème</span>
      <span class="ru">2ой</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l2" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l2_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">3rd</span>
      <span class="de">3te</span>
      <span class="fr">3ème</span>
      <span class="ru">3ий</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l3" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l3_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">4th</span>
      <span class="de">4te</span>
      <span class="fr">4ème</span>
      <span class="ru">4ый</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l4" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l4_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">5th</span>
      <span class="de">5te</span>
      <span class="fr">5ème</span>
      <span class="ru">5ый</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l5" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l5_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">6th</span>
      <span class="de">6te</span>
      <span class="fr">6ème</span>
      <span class="ru">6ой</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l6" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l6_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">7th</span>
      <span class="de">7te</span>
      <span class="fr">7ème</span>
      <span class="ru">7ой</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l7" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l7_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">8th</span>
      <span class="de">8te</span>
      <span class="fr">8ème</span>
      <span class="ru">8ой</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l8" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l8_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-30 center small-label vert-middle">
      <span class="en">9th</span>
      <span class="de">9te</span>
      <span class="fr">9ème</span>
      <span class="ru">9ый</span>
    </div>
    <div class="col-30">
      <input type="number" name="attr_spell_slots_l9" value="0">
    </div>
    <div class="col-10 center vert-bottom pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-30">
      <input class="center" type="number" name="attr_spell_slots_l9_max" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row no-background">
    <div class="col-30"></div>
    <div class="col-30">
      <div class="small-label center">
        <span class="en">Current</span>
        <span class="de">Aktuell</span>
        <span class="fr">Actuel</span>
        <span class="ru">Текущее</span>
      </div>
    </div>
    <div class="col-10"></div>
    <div class="col-30">
      <div class="small-label center">
        <span class="en">Max</span>
        <span class="de">Max.</span>
        <span class="fr">Max</span>
        <span class="ru">Max</span>
      </div>
    </div>
  </div>
</div>
<div class="spell-points">
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">1st</span>
      <span class="de">1te</span>
      <span class="fr">1er</span>
      <span class="ru">1ый</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>2</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">2nd</span>
      <span class="de">2te</span>
      <span class="fr">2ème</span>
      <span class="ru">2ой</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>3</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">3rd</span>
      <span class="de">3te</span>
      <span class="fr">3ème</span>
      <span class="ru">3ий</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>5</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">4th</span>
      <span class="de">4te</span>
      <span class="fr">4ème</span>
      <span class="ru">4ый</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>6</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">5th</span>
      <span class="de">5te</span>
      <span class="fr">5ème</span>
      <span class="ru">5ый</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>7</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">6th</span>
      <span class="de">6te</span>
      <span class="fr">6ème</span>
      <span class="ru">6ой</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>9</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">7th</span>
      <span class="de">7te</span>
      <span class="fr">7ème</span>
      <span class="ru">7ой</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>10</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">8th</span>
      <span class="de">8te</span>
      <span class="fr">8ème</span>
      <span class="ru">8ой</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>11</span>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-50 center vert-middle small-label">
      <span class="en">9th</span>
      <span class="de">9te</span>
      <span class="fr">9ème</span>
      <span class="ru">9ый</span>
    </div>
    <div class="col-50 center vert-middle small-label pad-l-sm">
      <span>13</span>
    </div>
  </div>
  <div class="shaped-row center no-background">
    <div class="col-35 center pad-r-sm">
      <input type="number" name="attr_spell_points" value="0">

      <div class="small-label">
        <span class="en">Current</span>
        <span class="de">Aktuell</span>
        <span class="fr">Actuel</span>
        <span class="ru">Текущее</span>
      </div>
    </div>
    <div class="col-05 center vert-bottom">&#47;</div>
    <div class="col-35 center pad-l-sm">
      <input type="number" name="attr_spell_points_max" value="0" min="0">

      <div class="small-label">
        <span class="en">Max</span>
        <span class="de">Max.</span>
        <span class="fr">Max</span>
        <span class="ru">Max</span>
      </div>
    </div>
  </div>
</div>
