<div class="sub-header center small-label">
  <span class="en">Spellcasting</span>
  <span class="de">Zauber</span>
  <span class="fr">Lancement de sorts</span>
  <span class="ru">Магия</span>
</div>
<div class="shaped-row mar-b-sm">
  <div class="col-22 center pad-r-sm">
    <input class="center" type="text" name="attr_global_spell_attack_bonus" value="0">

    <div class="small-label">
      <span class="en">Atk</span>
      <span class="de">Ang..</span>
      <span class="fr">Atq</span>
      <span class="ru">Атк</span>
    </div>
  </div>
  <div class="col-22 center">
    <input class="center" type="text" name="attr_global_spell_damage_bonus" value="0">

    <div class="small-label">
      <span class="en">Dmg</span>
      <span class="de">Sch..</span>
      <span class="fr">Dmg</span>
      <span class="ru">Урон</span>
    </div>
  </div>
  <div class="col-34 center pad-l-sm">
    <input class="center" type="text" name="attr_global_spell_dc_bonus" value="0">

    <div class="small-label">
      <span class="en">Save DC</span>
      <span class="de">Rettungs-SG</span>
      <span class="fr">DD Sauv</span>
      <span class="ru">Спасброски</span>
    </div>
  </div>
  <div class="col-22 center pad-l-sm">
    <input class="center" type="text" name="attr_global_spell_heal_bonus" value="0">

    <div class="small-label">
      <span class="en">Heal</span>
      <span class="de">Heil</span>
      <span class="fr">Soins</span>
      <span class="ru">Лечение</span>
    </div>
  </div>
</div>
