h1.sheet-title{
    background-image: url("http://vignette4.wikia.nocookie.net/whitewolf/images/3/37/AberrantLogo.png");
	width:609px;
	height:161px;
	margin: 0 auto;
	text-indent:-10000px;
}
.sheet-att div.sheet-dots,
.sheet-matt div.sheet-dots{
	padding-right:20px;
}
input[type='checkbox']:checked + span::before,
.sheet-abil > .sheet-dots :first-child + span::before, 
.sheet-facet > .sheet-dots :first-child + span::before, 
.sheet-matt > .sheet-dots :first-child + span::before,
.sheet-taint-dots > :first-child + span::before
{
 
	content: "✖";
	/*content: "\2716";*/
	color: #a00;
	-moz-box-shadow: 0 0 2px transparent;
	-webkit-box-shadow: 0 0 2px transparent;
	box-shadow: 0 0 2px transparent;
	font-size:15px;
}
.sheet-abil > .sheet-dots :first-child:checked + span,
.sheet-facet > .sheet-dots :first-child:checked + span,
.sheet-matt > .sheet-dots :first-child:checked + span
{
	display:none;
}
.sheet-att > label,
.sheet-matt > label{
	text-transform:uppercase;
}
div.sheet-background:not(:last-child), 
div.sheet-att, 
div.sheet-matt,
div.sheet-abil:not(:last-child), 
div.sheet-facet:not(:last-child),
div.rep-item:not(:last-child) div.sheet-abil{
	border-bottom:1px black dashed;
}
fieldset label input{
	width: 150px;
}
.sheet-advantages div.sheet-advantage-wrapper>div.sheet-col1{
	width:40%;
	padding: 0 5px;
}
.sheet-advantages div.sheet-advantage-wrapper>div.sheet-col2{
    width:60%;
	padding: 0 5px;
}
.sheet-taint-dots{
	position:relative;
	left:-8px;
	width:200px !important;
}
.sheet-10dot .sheet-points{
	width:200px !important;
	position:relative;
	left: -8px;
}
.sheet-10dot .sheet-points span::before{
	border-radius:0;
}
.sheet-10dot .sheet-points span::before{
	content: "✖";
	/*content: "\2716";*/
	font-size:14px;
}
.sheet-10dot .sheet-points input:first-child + span::before,
.sheet-10dot .sheet-taint-dots input:first-child + span::before{
	color: #a00;
}
.sheet-10dot .sheet-points input:first-child:checked + span::before,
.sheet-10dot .sheet-taint-dots input:first-child:checked + span::before{
	opacity:0;
}
h3{
	margin:5px auto;
	text-align:center;
	clear:both;
}
textarea{
	width:100%;
}
div.sheet-qpool input[type='number']{
	width:45px;
}
div.sheet-qpool{
	text-align:center;
	padding-top:5px;
}
.sheet-power .sheet-dots{
	width:24%;
}
.sheet-power input[placeholder='Power']{
	width:73%;
}
.sheet-power .sheet-power-levelwrap{
	display:inline;
	width:17%;
}
.sheet-power .sheet-powerline2 input[type='number']{
	width:30px;
	padding:0;
}
.sheet-power input[placeholder='Extras']{
	width:66%;
	display:inline-block;
}
.sheet-power [placeholder='Notes']{
    width:66%;
}
.sheet-power div.sheet-powerline3 button{
	width:10%;
	padding:0;
	height:27px;
	margin-bottom:7px;
}
.sheet-power div.sheet-powerline3  input.sheet-total{
	width:10%;
	height:27px;
	float:none;
	margin-bottom:7px;
}
.sheet-wound-penalty input{
	width:45px;
	text-align:right;
}
.sheet-bruised span.sheet-wound-penalty{
	padding-right:17px;
}
span.sheet-wound-penalty{
	float:right;
}
fieldset .sheet-wound-penalty{
	padding-right:5px;
}
table tr td:nth-child(2) input, table tr td:nth-child(3) input, table tr td:nth-child(4) input, table tr td:last-child input{
	width:40px;
}
.sheet-enhancement input{
	width:33.0%;
}
.sheet-enhancement input[placeholder='Attribute']{
    float:right;
}
.sheet-col2 textarea, .sheet-aberrations textarea{
	height:2em;
}
h2{
	text-align:center;
	width:66%;
	margin:10px auto 0;
	border-bottom: solid 1px black;
	border-radius: 3px;
	text-transform:uppercase;
}
select{
	height:22px;
}
.sheet-att > label{
	text-transform:uppercase;
}
div.sheet-Attributes>div.sheet-atab-wrapper>div.sheet-atab {
	width:33%;
}
div.sheet-Attributes>div.sheet-atab-wrapper{
	display:flex;
	flex-direction: row;
}
input.sheet-specialty{
	width: 100px;
}
div.sheet-dots{
	display:inline;
	float:right;
}
input.sheet-total{
	width:20px;
	float:right;
	text-align:center;
}
.sheet-abil label{
	padding-left:10px;
}
.sheet-att label{
	line-height:110%;
}
input[type='radio']{
	margin: 0;
}
input[type='radio'],
input[type='checkbox']
{
	position: absolute;
	opacity: 0;
	width:15px;
	cursor: pointer;
	z-index: 1;
	margin-top: 6px;
}
input[type='radio'] + span::before,
input[type='checkbox'] + span::before
{
	border: solid 1px #a8a8a8;
	line-height: 14px;
	text-align: middle;
	display: inline-block;
	vertical-align: middle;
	-moz-box-shadow: 0 0 2px #ccc;
	-webkit-box-shadow: 0 0 2px #ccc;
	box-shadow: 0 0 2px #ccc;
	background: #f6f6f6;
	background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
	background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
	background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
	background: -o-radial-gradient(#f6f6f6, #dfdfdf);
	background: radial-gradient(#f6f6f6, #dfdfdf);
}
input[type='radio']+ span::before
{
	content: "•";
	/*content: "\2022";*/
	width: 12px;
	height: 12px;
	font-size: 35px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/* Remove dot from all radios _after_ selected one */
input[type='radio']:checked ~ input[type='radio']+ span::before
{
	content: "";
}
.sheet-abil > .sheet-dots :first-child:checked, .sheet-facet > .sheet-dots :first-child:checked{
	opacity:0;
}

input[disabled]{
	cursor:default;
	display:hidden;
}
input[disabled] + span::before{
	border-color:gray;
	background: radial-gradient(#aaa, #7b7b7b) repeat scroll 0 0 rgba(0, 0, 0, 0);
	
}
input[type='text'].sheet-specialty{
	
	width:25%;
	text-align:center;
	border:0;
	padding:3px;
}
.sheet-advantages{
	width:66%;
}
.sheet-advantage-wrapper{
	display:flex;
	flex-direction:row;
}
.sheet-knacks{
	width:50%;
}
.sheet-health{
	width:25%;
	float:right;
}
.sheet-advhealth-wrapper{
	display:flex;
	flex-direction:row;
}
table tr td:nth-child(2) input, table tr td:nth-child(3) input, table tr td:last-child input{
	width:40px;
}
table{
	width:100%;
	padding-bottom:10px;
	padding: 5px;
}
table tr td:first-child input{
	width:100%;
}
input[list='sheet-health-options'],select.sheet-health-options{
	width:15px;
	float:right;
	padding:0;
	height:16px;
}
textarea.sheet-knacksTa{
	width:90%;
	height:80%;
	margin: 0 10px;
}
div.sheet-final{
	display:flex;
	flex-direction:row;
}
h4{
	margin:0;
	text-align:center;
}
div.sheet-final>div{
	width:33%;
}
.sheet-10dot div:not(.sheet-point-container){
	display:block;
	width:179px;
	margin: 0 auto;
}
.sheet-atab{
	padding: 0 3px;
}
div.sheet-details{
	column-count:2;
	-moz-column-count:2;
    -webkit-column-count:2;
	width:600px;
	margin: 0 auto;
	line-height:1.5em !important;
}
div.sheet-details input, div.sheet-details select{
	float:right;
	width:150px !important;
}
div.sheet-full-wrapper{
	min-width:1500px;
}
div.sheet-others-wrapper{
	width:20%;
}
div.sheet-weapons{
	width:80%;
}
div.sheet-initiative{
	width:20%;
}
div.sheet-move{
	width:80%;
}
div.sheet-move-wrapper div{
	width:33%;
	padding:5 5px;
}
div.sheet-initmove-wrap div div label{
	margin: 0 auto;
	display:block !important;
	text-align:center;
}
div.sheet-initiative input, div.sheet-move-wrapper div input{
	width:100%;
	text-align:center;
}
div.sheet-other, div.sheet-initmove-wrap, div.sheet-move-wrapper{
	display:flex;
	flex-direction:row;
}
div.sheet-weapons div input[disabled]{
	width:30px;
}
div.sheet-weapons div input[type='checkbox']{
	opacity:1;
	position:relative;
	margin-top:0;
}
div.sheet-weapons div select, div.sheet-weapons div input[type='number'] {
	width:40px;
}
div.sheet-weapons-titles-wrapper, .sheet-weapons-stats-wrapper{
	display:flex;
	flex-direction:row;
}
.sheet-hide{
	display:hidden;
}
.sheet-weapons-name{
	width:19%;
}
.sheet-weapons-name input, 
div.sheet-weapons-stats-wrapper div.sheet-weapons-range input[type='number'], 
div.sheet-weapons-stats-wrapper div.sheet-weapons-rof input, 
div.sheet-weapons-stats-wrapper div.sheet-weapons-clip input, 
div.sheet-weapons-stats-wrapper div.sheet-weapons-conceal select,
.sheet-weapons-mass input{
	width:100%;
}
.sheet-weapons-accuracy{
	width:16%;
}
div.sheet-weapons-stats-wrapper div.sheet-weapons-accuracy select{
	width:78px;
}
div.sheet-weapons-accuracy-wrapper,
div.sheet-weapons-damage-wrapper{
	text-align:center;
}
.sheet-weapons-damage{
	width:15%;
}
div.sheet-weapons-stats-wrapper div.sheet-weapons-damage div.sheet-weapons-damage-wrapper select{
	width:33px;
}
.sheet-weapons-range{
	width:5%;
}
.sheet-weapons-mnv{
	width:21%;
	text-align:center;
}
.sheet-weapons-rof{
	width:4%;
}
.sheet-weapons-clip{
	width:5%;
}
.sheet-weapons-conceal{
	width:10%;
}
.sheet-weapons-mass{
	width:5%;
}

/*Counter base CSS*/
label{
	width:auto !important;
	display:inline !important;
	margin-bottom: 0px !important;
	font-weight:normal !important;
}
input.sheet-total{
	padding:0px !important;
}
select{
	margin-bottom:0px !important;
	padding:0 !important;
}
div.sheet-details input,
div.sheet-details select{
	height:18px !important;
	padding:0 !important;
}
fieldset{
	border:0;
	margin:0;
	padding:0;
}
div.sheet-weapons{
	padding:0 !important;
}
button:not(.sheet-default)[type='roll']{
	float:right;
	margin:0 !important;
	padding: 0 !important;
	border:0 !important;
}
button:not(.sheet-default)[type='roll']::before{
	content: ' ' !important;
}
div.sheet-abil label input[placeholder="Ability"]{
	width:150px;
}
div.sheet-health input[type='number']{
	padding:5px !important;
}
