/*-------------------------------------------*/
/*------------- Header Styles ---------------*/
/*-------------------------------------------*/
.charsheet .sheet-main-settings .sheet-input-row label {
	display: inline-block;
	width: auto;
}

.charsheet .sheet-main-settings .sheet-input-row input {
	margin-right: 15px;
}

.charsheet .sheet-main-settings .sheet-input-row select {
	width: 45%;
	margin-right: 15px;
}

/*-------------------------------------------*/
/*------------- Header Styles ---------------*/
/*-------------------------------------------*/

div.sheet-main-settings {
	display: none;
	position: relative;
	top: 40px;
	margin-left: 0;
}

input.sheet-options-flag:checked ~ div.sheet-main-settings {
	display: block;
	width: 550px;
	height: 800px;
}

input.sheet-options-flag:checked ~ div.sheet-main-container {
	display: none;
}

input.sheet-selector-switch {
	display: none;
}
/* all hide options using option menu checkboxes*/
input.sheet-wild:checked ~ .sheet-master-container .sheet-wild-hide,
input.sheet-nowild:checked ~ .sheet-master-container .sheet-nowild-hide,
input.sheet-force:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-force-hide,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-hide ,
input.sheet-gmroll:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-gmroll-hide {
	display: none;
}

/*-------------------------------------------*/
/*------------- General Styles---------------*/
/*-------------------------------------------*/

input[type=number]::-webkit-inner-spin-button {}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide {
	display: none;
}

input.sheet-disabled {
	pointer-events: none;
}

input[disabled] {
	cursor: default;
}

.sheet-master-container {
	position: relative;
	padding: 0;
	display: inline-block;
	width: 880px;
	background-image: url(https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png); /*black space with tiny stars*/
    background-color: black;
    background-repeat: repeat;
}

.sheet-container {
	padding: 15px;
	margin-left: -25px;
	position: relative;
}

.sheet-main-container {
	display: inline-block;
	padding-top: 50px;
	margin-left: 0;
}

.sheet-clear,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-clear,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-clear {
	clear: none !important;
}

/*-------------------------------------------*/
/*------------- Options Toggles--------------*/
/*-------------------------------------------*/

input.sheet-options-flag,
input.sheet-options-flag + span {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 15px;
	height: 15px;
}

input.sheet-options-flag {
	z-index: 99;
	opacity: 0;
}

input.sheet-options-flag + span {
	margin-top: 0px;
	display: none;
	white-space: nowrap;
	line-height: 15px;
	font-size: 17px;
	color: white;
	cursor: pointer;
}

input.sheet-options-flag.sheet-main-options {
	width: 30px;
	height: 30px;
	top: 20px;
	left: 20px;
	z-index: 3;
}

input.sheet-options-flag.sheet-main-options + span {
	width: 30px;
	height: 30px;
	top: 20px;
	left: 20px;
	font-size: 34px;
	z-index: 2;
	line-height: 30px;
	opacity: .5;
	display: block;
}

input.sheet-options-flag.sheet-main-options:hover + span {
	opacity: 1;
}

input.sheet-options-flag:checked + span {
	color: white;
	display: block;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-content .sheet-options {
	display: none;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-content .sheet-options-flag:checked ~ .sheet-options {
	display: block;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-content .sheet-options-flag:checked ~ .sheet-display {
	display: none;
}

.editmode .sheet-options-flag {
	display: none;
}

.sheet-content .sheet-display input[type=text] {
	border: 0;
}

/*-------------------------------------------*/
/*------------ Repeating Buttons ------------*/
/*-------------------------------------------*/

.sheet-content input.sheet-edit + span,
.sheet-content div.sheet-placeholder span::before,
input.sheet-main-options.sheet-options-flag + span,
.sheet-content .sheet-abilities input.sheet-free + span::before,
.sheet-content .sheet-ability-edit p.sheet-mos-message span::before,
input[type=radio]:checked ~ .sheet-master-container input.sheet-options-flag + span,
input[type=radio]:checked ~ .sheet-master-container .repcontrol .repcontrol_add::before,
input[type=radio]:checked ~ .sheet-master-container .repcontrol .repcontrol_edit::after,
input[type=radio]:checked ~ .sheet-master-container .itemcontrol button.repcontrol_del,
input[type=radio]:checked ~ .sheet-master-container .sheet-abilities-col input.sheet-mos {
	font-family: pictos;
	font-style: normal;
}

/*-------------------------------------------*/
/*--------------- NPC Styles ----------------*/
/*-------------------------------------------*/

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide {
	display: inline-block;
}

input.sheet-npc:checked ~ input.sheet-toc:checked ~ .sheet-master-container .sheet-header {
	display: none;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-full {
	width: 100%;
	float: left;
	margin: 0;
	padding-left: 0;
	box-sizing: border-box;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-full div {
	margin-top: 0;
	margin-bottom: 0;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col.sheet-general,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col.sheet-general .repcontrol,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col.sheet-general .repcontainer {
	width: 100%;
	display: inline-block;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-section::before {
	display: none;
}

/*------------------------------------SWD6 original CSS ------------------------------------------------- */
.charsheet {
    /*background-position: center;*/ /*https://cdn.pixabay.com/photo/2017/01/02/11/10/sky-1946508_960_720.png more and brighter stars*/
	background-image: url(https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png); /*black space with tiny white stars*/
    background-color: black;
    background-repeat: repeat;
    color:white;
}
 
.charsheet label, h1, h2, h3{
    color:white;
}
 
.charsheet table{
    border-collapse:separate;
    border-spacing:10px;
}
.charsheet table.table-side-b-side{
	display: inline-block;
}
 
.charsheet textarea{
    resize:none;
}
 
.charsheet .sheet-toppad{
    padding:2px;
}
 
.charsheet input[type=number].sheet-credits{
    width:80px;
    padding-top:2px;
    padding-bottom:2px;
 }
 
.charsheet .sheet-section{
    border-top: 5px dotted white;
    padding-top:10px;
    padding-bottom:10px;
 }

.charsheet input[type=number].sheet-smallnumber{
    width:40px;
}

.charsheet input[type=number].sheet-mediumnumber{
    width:60px;
}
.charsheet input[type=number].sheet-pipnumber{
    width:33px;
}

.charsheet input[type=text].sheet-smalltext{
    width:60px;
    margin:0px;
}

.charsheet input[type=text].sheet-mediumtext{
    width:80px;
    margin:0px;
}

.charsheet input[type=text].sheet-shorttext{
    padding-top:2px;
    padding-bottom:2px;
}

.charsheet input[type=text].sheet-skilltext{
    /*changed width from 135*/
    width:115px;
    padding:2px;
    margin-left:3px;
}

.charsheet .sheet-right{
    float:right;
}

.charsheet .sheet-left{
    float:left;
}

.charsheet .sheet-redtxt{
    font-size: 6pt;
    color: red;
}

.charsheet .sheet-bold{
    font-size: 12pt;
    margin-bottom: 10px;
}

.charsheet .sheet-forcebutton{
    width:110px; 
    padding-right:10px;
}

.charsheet .sheet-tdborder{
    border: 2px solid white;
    vertical-align:top;
    width:260px;
}

.charsheet .sheet-rightmargin{
    margin-right:0px;
}

.charsheet input[type=number].sheet-smallshortnumber{
    width:40px;
    padding-top:2px;
    padding-bottom:2px;
    display: inline-block;
    float:right;
}
.charsheet input[type=number].sheet-shortnumber{
    padding-top:2px;
    padding-bottom:2px;
}

.charsheet select.sheet-smallselect{
    width:60px;
    height:25px;
    padding-top:2px;
    padding-bottom:2px;
    margin:0px;
    display: inline-block;
    float:right;
}

.charsheet select.sheet-mediumselect{ /*Used for Wound levels dropdown select*/
    width:100px;
    height:25px;
    padding-top:2px;
    padding-bottom:2px;
    margin:0px;
    display: inline-block;
    float:right;
}

.charsheet label.sheet-areaLabel{
    margin:0px;
}

.charsheet button[type=roll].sheet-d6-dice::before {	/*new die changes die roller to d6*/
	font-family: 'dicefontd6',arial;
	content: 'F ';
	color: red;
}
/* gmrolls and section hiding*/


.charsheet input.sheet-hidecheckbox {
    float: left;
}

.charsheet input.sheet-hidecheckbox:checked ~ .sheet-body-to-hide {
    display: none;
}
/*Original button :button[type=roll].sheet-blank-roll-button::before { content: ''; } */