.charsheet {
    /*background-position: center;*/ /*https://cdn.pixabay.com/photo/2017/01/02/11/10/sky-1946508_960_720.png more and brighter stars*/
	background-image: url(https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png); /*black space with tiny white stars*/
    background-color: black;
    background-repeat: repeat;
    color:white;
}
 
.charsheet label, h3{
    color:white;
}
 
.charsheet table{
    border-collapse:separate;
    border-spacing:10px;
}
.charsheet table.table-side-b-side{
	display: inline-block;
}
 
.charsheet textarea{
    resize:none;
}
 
.charsheet .sheet-toppad{
    padding:2px;
}
 
.charsheet input[type=number].sheet-credits{
    width:80px;
    padding-top:2px;
    padding-bottom:2px;
 }
 
.charsheet .sheet-section{
    border-top: 5px dotted white;
    padding-top:10px;
    padding-bottom:10px;
 }

.charsheet input[type=number].sheet-smallnumber{
    width:40px;
}

.charsheet input[type=number].sheet-mediumnumber{
    width:60px;
}
.charsheet input[type=number].sheet-pipnumber{
    width:33px;
}

.charsheet input[type=text].sheet-smalltext{
    width:60px;
    margin:0px;
}
.charsheet input[type=text].sheet-shorttext{
    padding-top:2px;
    padding-bottom:2px;
}

.charsheet input[type=text].sheet-skilltext{
    /*changed width from 135*/
    width:115px;
    padding:2px;
    margin-left:3px;
}

.charsheet .sheet-right{
    float:right;
}

.charsheet .sheet-left{
    float:left;
}

.charsheet .sheet-bold{
    font-size: 12pt;
    margin-bottom: 10px;
}

.charsheet .sheet-forcebutton{
    width:110px; 
    padding-right:10px;
}

.charsheet .sheet-tdborder{
    border: 2px solid white;
    vertical-align:top;
    width:260px;
}

.charsheet .sheet-rightmargin{
    margin-right:0px;
}

.charsheet input[type=number].sheet-smallshortnumber{
    width:40px;
    padding-top:2px;
    padding-bottom:2px;
    display: inline-block;
    float:right;
}
.charsheet input[type=number].sheet-shortnumber{
    padding-top:2px;
    padding-bottom:2px;
}

.charsheet select.sheet-smallselect{
    width:60px;
    height:25px;
    padding-top:2px;
    padding-bottom:2px;
    margin:0px;
    display: inline-block;
    float:right;
}

.charsheet select.sheet-mediumselect{ /*Used for Wound levels dropdown select*/
    width:100px;
    height:25px;
    padding-top:2px;
    padding-bottom:2px;
    margin:0px;
    display: inline-block;
    float:right;
}

.charsheet label.sheet-areaLabel{
    margin:0px;
}

.charsheet button[type=roll].sheet-d6-dice::before {	/*new die changes die roller to d6*/
	font-family: 'dicefontd6',arial;
	content: 'F ';
	color: red;
}

.charsheet input.sheet-hide {
    float: left;
}

.charsheet input.sheet-hide:checked ~ div.sheet-body-to-hide {
    display: none;
}
/*Original button :button[type=roll].sheet-blank-roll-button::before { content: ''; } */