<div class="sheet-col">
    <fieldset name="repeating_spells#REPLACE0#" class="repeating_spells#REPLACE0#">
        <table class="sheet-table-center">
            <tr>
                <td colspan="4"><input type="text" name="attr_spellname#REPLACE0#" title="@{repeating_spells#REPLACE0#_$X_spellname#REPLACE0#}" class="sheet-spell" placeholder="Ability name"></td>
            </tr>
            <tr>
                <td><label>Uses Today: </label></td>
                <td><input type="number" name="attr_cast-value#REPLACE0#" title="@{repeating_spells#REPLACE0#_$X_cast-value#REPLACE0#}" value="0" class="sheet-short"></td>
                <td class="sheet-centering-padding-2"><label>/</label></td>
                <td><input type="number" name="attr_cast-max#REPLACE0#" title="@{repeating_spells#REPLACE0#_$X_cast-max#REPLACE0#}" value="0" class="sheet-short"></td>
            </tr>
            <tr>
                <td><label>Initiative: </label></td>
                <td><input type="text" name="attr_casttime#REPLACE0#" title="@{repeating_spells#REPLACE0#_$X_casttime#REPLACE0#}" class="sheet-short"></td>
                <td></td>
                <td><button style="margin: 0;" type="roll" name="roll_initspell#REPLACE0#" title="%{repeating_spells#REPLACE0#_$X_initspell#REPLACE0#}" value="/gmroll [[{([[1d10]]+@{casttime#REPLACE0#}-(@{misc-mod})), 1}kh1]] [Initiative (@{spellname#REPLACE0#})]&{tracker}">Initiative</button></td>
            </tr>
            <tr>
                <td colspan="4"><textarea name="attr_cast-macro#REPLACE0#" title="@{repeating_spells#REPLACE0#_$X_cast-macro#REPLACE0#}" class="sheet-input-like" placeholder="Insert Ability effects."></textarea></td>
            </tr>
            <tr>
                <td colspan="4"><button type="roll" name="roll_spellcast#REPLACE0#" title="%{repeating_spells#REPLACE0#_$X_spellcast#REPLACE0#}" value="@{cast-macro#REPLACE0#}">Roll Ability Effects</button></td>
            </tr>
        </table>
        <hr>
    </fieldset>
</div>