<div class="sheet-spell-slots sheet-hidden">
    <table class="sheet-default-header-first-row sheet-default-header-first-column sheet-inline-5">
        <tr>
            <th></th>
            <th title="Spell slots gained from levels">Level</th>
            <th title="+1 spell slot from being a specialist" class="sheet-padding-right">Specialist</th>
            <th title="Spell slots gained from other sources">Misc.</th>
            <th title="Total number of spell slots">Total</th>
            <th class="sheet-centering-padding-5">/</th>
            <th title="Maximum number of spell slots allowed by Intelligence">Max</th>
        </tr>
        <tr>
            <td>Spell Slots</td>
            <td><input type="text" name="attr_spell-#REPLACE0#-castable" title="@{spell-#REPLACE0#-castable}" class="sheet-short" value="0"></td>
            <td class="sheet-centering"><label><input type="checkbox" name="attr_spell-#REPLACE0#-specialist" title="@{spell-#REPLACE0#-specialist}" value="1"/><span></span></label></td>
            <td><input type="text" name="attr_spell-#REPLACE0#-misc" title="@{spell-#REPLACE0#-misc}" class="sheet-short" value="0"></td>
            <td><input type="text" name="attr_spell-#REPLACE0#-total" title="@{spell-#REPLACE0#-total}" class="sheet-short" value="0" readonly></td>
            <td class="sheet-centering">/</td>
            <td><input type="text" name="attr_intmax" title="@{intmax}" class="sheet-short" value="0" readonly></td>
        </tr>
    </table>
    <table class="sheet-default-header-thead sheet-inline-5">
        <thead>
        <tr>
            <th colspan="3" class="sheet-centering">Available to</th>
        </tr>
        <tr>
            <th>Memorize</th>
            <th class="sheet-centering-padding-5">|</th>
            <th>Cast</th>
        </tr>
        </thead>
        <tr>
            <td><input type="text" name="attr_spell-#REPLACE0#-selected" title="@{spell-#REPLACE0#-selected}" value="0" class="sheet-table-dynamic" readonly></td>
            <td class="sheet-centering">|</td>
            <td><input type="text" name="attr_spell-#REPLACE0#-remaining" title="@{spell-#REPLACE0#-remaining}" value="0" class="sheet-short" readonly></td>
        </tr>
    </table>
    <input style="display: none;" name="attr_spell-#REPLACE0#-cast-max-sum" class="sheet-short" value="0">
    <input style="display: none;" name="attr_spell-#REPLACE0#-cast-value-sum" class="sheet-short" value="0">
</div>