rolltemplate(class='sheet-rolltemplate-abilitycheck')
  .sheet-template-container 
    .sheet-template-header
      | Check {{ability}}
    .sheet-template-row 
      .sheet-template-col 
        | Y'all rolled: &nbsp; {{roll}}
    .sheet-template-row 
      span.sheet-template-desc