
<input class="sheet-hide sheet-vows-ironcrunch-mode-page" type="checkbox" name="attr_vows_ironsworn_mode_page" id="vows-ironcrunch-mode-page"/>
<div class="sheet-vows-ironcrunch-mode-page">
  <div class="sheet-vows">
    <fieldset class="repeating_vow">
      <input class="sheet-vow-name" type="text" name="attr_vow_name"/>
      <div class="sheet-vows-header">
        <input type="radio" name="attr_vow_rank" value="1"/>
        <h5>Troublesome</h5>
        <input type="radio" name="attr_vow_rank" value="2"/>
        <h5>Dangerous</h5>
        <input type="radio" name="attr_vow_rank" value="3"/>
        <h5>Formidable</h5>
        <input type="radio" name="attr_vow_rank" value="4"/>
        <h5>Extreme</h5>
        <input type="radio" name="attr_vow_rank" value="5"/>
        <h5>Epic</h5>
      </div>
      <div class="sheet-vow">
        <div>
          <input class="sheet-clear-vow sheet-hide" type="radio" name="attr_clear_vow" value="0"/>
          <input class="sheet-clear-vow" type="radio" name="attr_clear_vow" value="1"/><span class="sheet-vow-clear-label">Clear</span>
          <select class="sheet-progress-input" name="attr_vow-0">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-1">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-2">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-3">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-4">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-5">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-6">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-7">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-8">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-9">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <select class="sheet-progress-input" name="attr_vow-10">
            <option value="0" selected="selected"></option>
            <option value="1">-</option>
            <option value="2">+</option>
            <option value="3">*</option>
            <option value="4">#</option>
          </select>
          <button type="roll" title="Fulfill your Vow" name="rollVow" value="&amp;{template:ironcrunch} {{header=@{character_name} &lt;em&gt;Fulfill Your Vow&lt;/em&gt; }} {{vowname=@{vow_name}}} {{vow=[[@{vow-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}">              </button>
          <input class="sheet-hide" type="text" name="attr_vow-filled" value="floor((@{vow-0}+@{vow-1}+@{vow-2}+@{vow-3}+@{vow-4}+@{vow-5}+@{vow-6}+@{vow-7}+@{vow-8}+@{vow-9})/4)" disabled="disabled"/>
        </div>
        <div class="sheet-threat-row">
          <input class="sheet-threat-name sheet-vow-name" type="text" name="attr_threat_name"/><span class="sheet-vow-threat-label">Threat</span>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-0"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-1"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-2"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-3"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-4"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-5"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-6"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-7"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-8"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-9"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <div class="sheet-threat-box">
            <input class="sheet-threat-vow" type="checkbox" name="attr_menace-10"/>
            <div class="sheet-threat-fill"></div>
          </div>
          <button type="roll" disabled="disabled" hidden="hidden" style="opacity: 0; height: 0px;"></button>
        </div>
      </div>
    </fieldset>
  </div>
</div>