div(class='sheet-combat')
    input(type="hidden" class="tutorialtoggle" name="attr_tutorial_done" value="0")
    div(class="tutorial")
        div(style="display:inline-block;position:relative")
            button(type="action" name="act_nexttutorial" data-i18n="button_next_tutorial") Next Hint
            button(type="action" name="act_toggletutorial" data-i18n="button_exit_tutorial") Toggle Hints
      
    div(class="2colrow")
        div(class="col")
            include influences.pug
            include healing.pug
        div(class="col")
            input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true)
            include weapons_edit.pug
            include weapons.pug


        
