<div class="box">
    <h2 data-i18n="heading_healing">Schutz und Gesundheit</h2>
    <input class="feathertoggle" type="checkbox" name="attr_display-healing" value="1" checked="true"/>
    <img class="feather" src="https://ulisses-digital.de/R20/hexxen/images/Feather.png" />
    <div>

        <div class="right">
            <label data-i18n="label_actionpoints">Aktionspunkte</label>
            <br>
            <input type="number" class="number" name="attr_ap" value="6" min="0" max="6"/>
            <span>(max. <span name="attr_ap_max"></span>)</span>
            <br><br>
            <label data-i18n="attribute_initiative">Initiative</label>
            <input type="hidden" name="attr_ini"/>
            <span class="number" name="attr_ini"></span>
            <br>
        </div>

        <label class="short" data-i18n="label_armor">Panzerung</label>
        <br>
        <input type="radio" class="normal" name="attr_armor" value="1" checked="checked"/><span></span>
        label(data-i18n="label_armor_light") Leicht
        label
            span(class="pureattribute")   (
            span(class="pureattribute" data-i18n="label_armor_prefix") Pw
            span(class="pureattribute")  1)
        <br>
        <input type="radio" class="normal" name="attr_armor" value="2" /><span></span>
        label(data-i18n="label_armor_medium") Mittel
        label
            span(class="pureattribute")   (
            span(class="pureattribute" data-i18n="label_armor_prefix") Pw
            span(class="pureattribute")  2)
        <br>
        <input type="radio" class="normal" name="attr_armor" value="3" /><span></span>
        label(data-i18n="label_armor_heavy") Schwer
        label
            span(class="pureattribute")   (
            span(class="pureattribute" data-i18n="label_armor_prefix") Pw
            span(class="pureattribute")  3)
        <br>
        <br>
        

        <div class="healinggrid">
            <label data-i18n="label_firstaid">Erste Hilfe</label>

            <span>
                <input type="radio" class="rating sheet-zero" name="attr_counter_firstaid" value="0" checked="checked" /><span></span>
                <input type="radio" class="rating" name="attr_counter_firstaid" value="1" /><span></span>
                <input type="radio" class="rating" name="attr_counter_firstaid" value="2" /><span></span>
            </span>

            <label data-i18n="label_magical_healing_and_elixir">Mag. Heilung & Elixiere</label>

            <span>
                <input type="radio" class="sheet-rating sheet-zero" name="attr_counter_magicalheal" value="0" checked="checked" /><span></span>
                <input type="radio" class="sheet-rating" name="attr_counter_magicalheal" value="1" /><span></span>
                <input type="radio" class="sheet-rating" name="attr_counter_magicalheal" value="2" /><span></span>
                <input type="radio" class="sheet-rating" name="attr_counter_magicalheal" value="3" /><span></span>
                <input type="radio" class="sheet-rating" name="attr_counter_magicalheal" value="4" /><span></span>
            </span>
        </div>
    </div>
</div>