@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #C5C3B6
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-radius: 5px;
    border-style: solid;
    border: none;
    border-color: #352719;
    background-color: #DBD8CA;
    -webkit-box-shadow: 2px 2px 11px 3px rgba(53, 39, 25, 0.45);
    box-shadow: 2px 2px 11px 3px rgba(53, 39, 25, 0.45);
    font-style: italic;
}


/* END CSS STYLING RESET PAGE
-------------------------------------------
*/







.charsheet {
    background: #C5C3B6;
}

td {
    background: #F2F2F2;
    padding: 0in .5pt 0in .5pt;
    height: 9.8pt;
}

input {
    width: 100%;
    font-weight: 800;
    background: #352719;
    background-color: #F9F9F9;
    text-align: center;
    font-style: normal;
}




/* LAYOUT */

div.sheet-dodaslayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

div.sheet-ATRTable, div.sheet-weapontable, div.sheet-armor {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;

}



/* ATTRIBUTE TABLE */

button[type="roll"].sheet-attributerollbutton{
  background: none;
  outline-color: transparent;
  border-style: none;
  font-weight: 200;
  font-size: 100%;
  padding: 0px 0px 0px 0px;
  font-family: 'Girassol';
  cursor: pointer;
  text-shadow: none;
  color: #292929;
}

button[type="roll"].sheet-derivedattributerollbutton{
  background: none;
  outline-color: transparent;
  border-style: none;
  color: white;
  font-weight: 200;
  font-size: 100%;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  text-shadow: none;
}



div.sheet-ATRTable {
  display: grid;
  background-color: gray;
  width: 185pt;
  height: 120pt;
  /* from style reset */
  border-style: solid;
    border: none;
    border-color: #352719;
    background-color: #DBD8CA;
    -webkit-box-shadow: 2px 2px 11px 3px rgba(53, 39, 25, 0.45);
    box-shadow: 2px 2px 11px 3px rgba(53, 39, 25, 0.45);

}


div.sheet-ATRTableHeader {
  display: grid;
  font-family: 'Girassol';
  grid-template-columns: 60pt 60pt 60pt;
  font-size: 115%;
    /*padding: .1em;*/
    text-align: center;
    font-style: italic;
}


div.sheet-ATRTableRow {
  display: grid;
  grid-template-columns: repeat(6, 30pt);
  font-size: 100%;
  text-align: center;
}




div.sheet-ATRLetter {
    background-color: #DBD8CA;
    font-family: 'Girassol';
  font-style: normal;
padding: .3em;
color: #292929;

  /*
    text-align: center;
    font-size: 110%;
    padding: .3em;
    text-align: center
  */
}

div.sheet-ATRNumber {
    background-color: #DBD8CA;
    text-align: center;
}

div.sheet-derivedATRLetter {

  font-family: 'Girassol';
  font-style: normal;
  font-size: 100%;
  background-color: #352719;
  color: white;

  text-align: center;
padding: .4em;
}

/*WEAPON TABLE*/

div.sheet-weapontable {
  font-family: 'Girassol';
  width: 375pt;
  padding: 0;
  column-gap: 0;
  padding: 0in 1.5pt 0in 1.5pt;
  font-size: 7.0pt;

      -webkit-box-shadow: 2px 2px 11px 3px rgba(53, 39, 25, 0.45);
      box-shadow: 2px 2px 11px 3px rgba(53, 39, 25, 0.45);
}

div.sheet-weapontable span {
  display: grid;
  align-items: center;      /* new */
  justify-items: center;    /* new */

}

div.sheet-wptrow2 span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

div.sheet-wptrow1 {
    display: grid;
    grid-template-columns: 60pt 25pt 25pt 25pt 40pt 25pt 25pt 24pt 24pt 34pt 30pt 20pt 20pt ;
    column-gap: 0;
  background-color: none;
  height: 16pt;

}

div.sheet-wptrow2 {
    display: grid;
    grid-template-columns: 60pt 25pt 25pt 25pt 20pt 20pt 50pt 24pt 24pt 1fr ;
    column-gap: 0;
  background-color: gray;

}

.sheet-wptrangedc, .sheet-rollplus, .sheet-wpttoprowAP, .sheet-wtMod, .sheet-wtA {
  background-color: white;
  color: black;
}

.sheet-wtweapon, .sheet-cptoprow, .sheet-wtTotal, .sheet-wtDm, .sheet-wtOther {
  background-color: black;
  color: white;
}

.sheet-wpttoprowcut, .sheet-wpttoprowthrust, .sheet-wtRange, .sheet-wpttoprowparry, .sheet-wpttoprowdodge, .sheet-pp, .sheet-wtRange, .sheet-wtHand, .sheet-wtD, .sheet-wtBlock {
  color: black;
  background-color: #D8D8D8;
}

.sheet-wptrangedc {
  display: grid;
  align-self: center;

}

.sheet-wpttoprowcut, .sheet-wpttoprowthrust, .sheet-wtRange, .sheet-wtHand, .sheet-wtA, .sheet-wtD {
  border: 1px solid #A4A4A4;
}
     /*repeating inputer*/

div.sheet-wptfillrepeating,
div.sheet-wptfillrepeating input[type="text"] {
    display: grid;
    grid-template-columns: 60pt 25pt 25pt 25pt 20pt 20pt 25pt 25pt 24pt 24pt 1fr 20pt;
    height: 12.8pt;
    font-size: 8.0pt;
    width: 100%;
    color: black;
}

input[name="attr_cptotal"]{

background-color: #EAEAEA;
}



/* ARMOR TABLE */

div.sheet-armor {
  display: grid;
  /*
  font-style: normal;
  */
  font-family: 'Girassol';
  width: 440pt;
  padding: 0;
  column-gap: 0;
  padding: 0in 1.5pt 0in 1.5pt;
  font-size: 8.0pt;


    -webkit-box-shadow: 2px 2px 11px 3px rgba(53, 39, 25, 0.45);
    box-shadow: 2px 2px 11px 3px rgba(53, 39, 25, 0.45);

}

div.sheet-toprow {
    display: grid;
    grid-template-columns: 100pt 72pt 20pt 72pt;
    column-gap: 0;
  /*
    padding: 0in 1.5pt 0in 1.5pt;
  */
    height: 12.8pt;
    font-size: 8.0pt;
}

span.sheet-atTopAvEquip {
  background-color: #EAEAEA;
  color: black;
  font-weight: 900;
  border-bottom: 1px solid #BCBCBC;
}
      /*cpbc DR total*/
span.sheet-atP, span.sheet-atB, span.sheet-atC, span.sheet-atE {
  background-color: #EAEAEA;
  color: black;
  font-weight: 900;
  border-bottom: 1px solid #BCBCBC;
}

span.sheet-atDRTotal {
  background-color: black;
  color: white;
}

span.sheet-attc, span.sheet-attp, span.sheet-attb, span.sheet-atte {
  background-color: black;
  color: white;
}

span.sheet-atTopWeapon, span.sheet-atTopBD {
  background-color: none;
}



    /* second row stuff */
div.sheet-armorsecondrow {
    display: grid;
    grid-template-columns: 100pt 18pt 18pt 18pt 18pt 20pt 18pt 18pt 18pt 18pt 30pt 30pt 110pt;
    column-gap: 0;
    color: #292929;

}
     /* repeating inputs */
div.sheet-armor-fillinrepeating,
div.sheet-armor-fillinrepeating input[type="text"] {
    display: grid;
    grid-template-columns: 100pt 18pt 18pt 18pt 18pt 20pt 18pt 18pt 18pt 18pt 30pt 30pt 110pt;
    height: 14pt;
    font-size: 8.0pt;
    width: 100%;
    color: black;
}
/*
input[name="attr_atC"], input[name="attr_atP"], input[name="attr_atB"], input[name="attr_atE"] {
  background-color: #EAEAEA;
}


input[name="attr_atBD"] {
   background-color: #D6BEA3;

   border-right: 1px solid black;
}

input[name="attr_attE"] {
  border-right: 1px solid black;
}
    */
input[name="attr_attC"], input[name="attr_attP"],
input[name="attr_attB"], input[name="attr_attE"]{

background-color: #EAEAEA;
}

       /*some styling */
div.sheet-armorsecondrow span, div.sheet-toprow span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

span.sheet-atArmor, span.sheet-atDR {
    font-weight: 900;
    background: black;
    color: #ffffff;

}

span.sheet-atLocation, span.sheet-atAPM, span.sheet-atStealth, span.sheet-atOther {
  background-color: #DBDBDB;

}


span.sheet-atStealth {
  border-right: 1px solid #BCBCBC;
  border-left: 1px solid #BCBCBC;
}

span.sheet-atBD {
  background-color: #D6BEA3;
  color: black;
  font-weight: 600;
  border-bottom: 1px solid #BCBCBC;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}


/*roll buttons*/

button[type=roll].sheet-derivedattributerollbutton::before {
  content: '';
}

button[type=roll].sheet-attributerollbutton::before {
  content: '';
}
