.charsheet {
	background-color:#FEFEFE;
	min-width:820px;
}

img
{
	display: flex;
	width: auto;
	margin: auto;
}

label
{
	padding-right:0px;
}

textarea
{
    border:none;
    width:100%;
    height: 75px;
    padding:0px;
    text-align:justify;
}

input[type=number] 
{
    -moz-appearance:textfield;
    text-align: center;
    border:none;
	background-color:transparent;
	color:black;
}

input[disabled]
{
	cursor:no-drop;
}

.sheet-separations
{
	margin-top:10px;
}

div.sheet-subDresseurBlock
{
	justify-content:space-between;
}

.sheet-selector .sheet-2waybox:not(:checked) + .sheet-2waybox,
.sheet-selector input[title="Fiche Dresseur"]:not(:checked) ~ span[title="Fiche Dresseur"],
.sheet-selector input[title="Fiche Pokemon"][type="radio"]:not(:checked) ~ span[title="Fiche Pokemon"]
{
	display:none;
}

div.sheet-selector
{
	width: 135px;
    height: 30px;
    display:flex;
    cursor: pointer;
	
	font-size: 14px;
    font-weight:bold;
    border:1px solid black;
	
	background: black;
	color:white;
	justify-content:center;
	margin-top:10px;
}

div.sheet-selector input
{
    width: 137px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

div.sheet-selector span
{
    line-height: 30px;
}

div.sheet-mainBlock
{
	display:flex;
	flex-wrap: wrap;
}

div.sheet-menu
{
	justify-content:space-around;
}

div.sheet-menu label
{
	margin: 0px;
	padding: 0px;
	width: 128px;
	margin-bottom:10px;
}

div.sheet-menu label input[type="radio"]
{
	width: 129px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}


div.sheet-menu label input[type="radio"] ~ span::before
{
    content: attr(title);
   
    text-align: center;
    display: inline-block;
       
    width: 125px;
    height: 20px;
    
    font-size: 14px;
    font-weight:bold;
    border:1px solid black;
    border-top-left-radius: 3em 3em;
    border-top-right-radius: 3em 3em;
    border-bottom-right-radius: 3em 3em;
	border-bottom-left-radius: 3em 3em;
	box-shadow: 3px 3px 6px black;
    
    position: relative;
	
	background: #000000;
	color:#FFFFFF;
	
}

div.sheet-menu label input[type="radio"]:checked ~ span::before
{
	box-shadow: 0px 0px 7px 0px #FFFFFF inset;
}

div.sheet-settings
{
	position:absolute;
	width:20px;
}

div.sheet-settings > input[type="checkbox"]
{
	opacity:0;
	width: 25px;
	height: 25px;
	margin-top: 7px;
	position:absolute;
	z-index: 1;
}

div.sheet-settings > input[type="checkbox"] ~ span::before
{
	font-family: "pictos";
    content: 'y';
    color:black;
    font-size: 25px;
	opacity: .5;
}

div.sheet-settings > input[type="checkbox"]:checked ~ span::before
{
	opacity:1;
}

div.sheet-settings > input[type="checkbox"]:checked ~ div
{
	opacity:1;
	border:1px solid black;
	background-color:RGB(213, 215, 237);
	position:absolute;
	width:400px;
	flex-wrap:wrap;
	z-index:100;
	padding:5px;
	display:flex;
	border-radius: 5px;
	margin-top: 30px;
}

div.sheet-settingsOptionsBlock > div
{
	
	min-width: calc(50% - 4px);
	flex-grow: 1;
	align-items: center;
	padding: 2px;
	font-size: 10px;
	min-height: 24px;
	line-height: 20px;
	border-bottom: 1px solid RGB(93,111,179);
}

div.sheet-settingsOptionsBlock > div label
{
	width:100%;
	margin-bottom:0px;
	font:inherit;
}

div.sheet-settingsOptionsBlock > div label select
{
	width: 80px;
	margin: 0 7px 0 0;
	padding: 0;
	height: 20px;
}

div.sheet-infoBlock label,
div.sheet-nomBlock label
{
	display:flex;
	width:100%;
	margin-bottom:0px;
}

div.sheet-infoBlock label span
{
	display:flex;
	line-height:28px;
	font-weight: bold !important;
	font-size:13px !important;
	white-space:nowrap;
}

div.sheet-nomBlock label span
{
	display:flex;
	line-height:28px;
	font-weight: bold !important;
	font-size:20px !important;
	white-space:nowrap;
}

div.sheet-infoBlock label input,
div.sheet-nomBlock label input
{
	border:none;
	border-bottom:1px dotted black;
	padding-bottom: 0px;
	display:flex;
	width:100%;
	border-radius: 0px;
}

.sheet-marginTop27
{
	margin-top:27px;
}

div.sheet-XPBlock
{
	border:1px solid black;
	width:200px;
}

div.sheet-XPBlock label
{
	display:flex;
	width:100%;
	margin:0px;
}

div.sheet-XPBlock label h2
{
	display:flex;
	width:51px;
	height:30px;
	background-color:black;
	color:white;
	justify-content:center;
	align-items:center;
}

div.sheet-XPBlock label input[type="number"]
{
	display:flex;
	width:calc(100% - 51px);
	font-size:16px;
}

div.sheet-XPPokemonBlock
{
	border:1px solid black;
	width:200px;
	flex-wrap:wrap;
}

div.sheet-XPPokemonBlock h2
{
	display:flex;
	width:51px;
	height:46px;
	background-color:black;
	color:white;
	justify-content:center;
	align-items:center;
}

div.sheet-XPPokemonBlock label
{
	display:flex;
	width:calc(50% - 26px);
	margin:0px;
	flex-wrap:wrap;
}

div.sheet-XPPokemonBlock > label:last-child
{
	border-left:1px solid black;
}

div.sheet-XPPokemonBlock label input[type="number"],
div.sheet-XPPokemonBlock label span
{
	display:flex;
	width:100%;
}

div.sheet-XPPokemonBlock label span
{
	justify-content: center;
	color: black;
	line-height: 20px;
	font-weight: bold;
	font-variant: small-caps;
	align-items: center;
	background-color: grey;
}

div.sheet-mainStatsComp
{
	justify-content:space-between;
	align-items:flex-start;
}

div.sheet-columnLeftBlock
{
	width:calc(35% - 10px);
}

div.sheet-bigColumnLeftBlock
{
	width:calc(50% - 10px);
}

div.sheet-statsBlock div
{
	display:flex;
	width:100%;
}

div.sheet-backgroundSombrePair > div:not([data-groupname]):nth-child(odd),
div.sheet-backgroundSombrePair > div:not([data-groupname]):nth-child(odd) input[type="number"],
div.sheet-backgroundSombreImpair > div:not([data-groupname]):nth-child(even),
div.sheet-backgroundSombreImpair > div:not([data-groupname]):nth-child(even) input[type="number"],
div.sheet-backgroundSombreRepeatingPair > div[data-groupname] > div:nth-child(odd),
div.sheet-backgroundSombreRepeatingPair > div[data-groupname] > div:nth-child(odd) input[type="number"],
div.sheet-backgroundSombreRepeatingImpair > div[data-groupname] > div:nth-child(even),
div.sheet-backgroundSombreRepeatingImpair > div[data-groupname] > div:nth-child(even) input[type="number"]
{
	background-color:LightGrey ;
	color:black;
}


div.sheet-backgroundClairPair > div:not([data-groupname]):nth-child(odd),
div.sheet-backgroundClairPair > div:not([data-groupname]):nth-child(odd) input[type="number"],
div.sheet-backgroundClairImpair > div:not([data-groupname]):nth-child(even),
div.sheet-backgroundClairImpair > div:not([data-groupname]):nth-child(even) input[type="number"],
div.sheet-backgroundClairRepeatingPair > div[data-groupname] > div:nth-child(odd),
div.sheet-backgroundClairRepeatingPair > div[data-groupname] > div:nth-child(odd) input[type="number"],
div.sheet-backgroundClairRepeatingImpair > div[data-groupname] > div:nth-child(even),
div.sheet-backgroundClairRepeatingImpair > div[data-groupname] > div:nth-child(even) input[type="number"]
{
	background-color:white ;
	color:black;
}


div.sheet-statsBlock > div:first-child span
{
	background-color:black;
	color:white;
}

div.sheet-statsBlock div span
{
	display:flex;
	width:calc(33% - 12px);
	justify-content:center;
	line-height: 26px;
}

div.sheet-statsBlock div span:first-child
{
	width:39px;
}

div.sheet-statsBlock div input[type="number"]
{
	display:flex;
	width:calc(33% - 12px);
}

div.sheet-blockInitiative
{
	width:100px;
	margin-top:10px;
}

div.sheet-statsBlock div button[type="roll"],
div.sheet-statsBlockCombat div button[type="roll"],
div.sheet-blockInitiative button[type="roll"]
{
	display:flex;
	width:100%;
	justify-content: center;
	font-weight:bold;
	padding:0px;
	margin:0px;
	font-size:13px;
	line-height: 24px;
}

div.sheet-spe4Way div span
{
	display:flex;
	width:calc(14.2% - 4.5px);
	justify-content:center;
	line-height: 26px;
}

div.sheet-spe4Way div input[type="number"]
{
	display:flex;
	width:calc(14.2% - 4.5px);
}

div.sheet-spe4Way > div:not([data-groupname]) > input[type="number"]:nth-child(6)
{
	background-color:slategray;
	border-radius:0px;
	border-top:1px solid white;
}

div.sheet-spe4Way div button[type="roll"]
{
	line-height: 25px;
}

div.sheet-compBlock
{
	width:calc(65% - 15px);
}

div.sheet-statsBlock div button[type="roll"]::before,
div.sheet-compBlock div button[type="roll"]::before,
div.sheet-statsBlockCombat div button[type="roll"]::before,
div.sheet-blockInitiative button[type="roll"]::before
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	content:"";
}

div.sheet-statsBlock div:first-child span,
div.sheet-compBlock div:first-child span
{
	font-weight:bold;
}

div.sheet-compMainBlock
{
	width:calc(65% - 15px);
	display:flex;
	align-items: baseline;
}

div.sheet-smallCompMainBlock
{
	width:calc(50% - 15px);
	display:flex;
	align-items: baseline;
}

div.sheet-compBlock
{
	display:flex;
	width:50%;
}

div.sheet-spe1WayBlock
{
	display:flex;
	width:100%;
}

div.sheet-compBlock > div
{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

div.sheet-compBlock > div.repcontrol
{
	display:block;
}


div.sheet-compBlock > div:first-child span
{
	background-color:black;
	color:white;
	display:flex;
	width:calc(50% - 8px);
	justify-content:center;
	line-height:26px;
}

div.sheet-spe1WayBlock > div:first-child span
{
	width:calc(50% - 4px);
}

div.sheet-compBlock > div:first-child span:first-child
{
	width:calc(50% - 12px);
	padding-left: 20px;
}

div.sheet-spe1WayBlock > div:first-child span:first-child
{
	width:calc(50% + 4px);
	padding-left:0px;
}

div.sheet-compBlock div input[type="checkbox"]
{
	width:10px;
	display:flex;
	opacity:0;
	position:absolute;
	width: 18px;
	height: 18px;
	margin-left: 1px;
	margin-top: 6px;
}

div.sheet-compBlock div input[type="checkbox"] + span::before
{
    font-family: "pictos";
    content: '+';
    color:black;
    font-size: 20px;
	opacity:0;
}

div.sheet-compBlock div:not([data-groupname]):hover input[type="checkbox"] + span::before
{
	opacity:1;
}

div.sheet-compBlock div input[type="checkbox"]:checked + span::before
{
	content:'-';
}

div.sheet-compBlock div input[type="checkbox"]:checked ~ div
{
	display:flex;
	width:100%;
	flex-wrap:wrap;
}

div.sheet-compBlock div button[type="roll"]
{
	width:calc(50% - 15px);
	display:flex;
	justify-content:left;
	font-weight:bold;
	padding:0px;
	margin:0px;
	font-size:13px;
	line-height: 24px;
	padding-top: 2px;
}

div.sheet-spe1WayBlock div button[type="roll"]:not([name*="repeating"])
{
	width:calc(50% + 4px);
}

div.sheet-compBlock div input[type="number"]
{
	width:calc(50% - 10px);
	display:flex;
}

div.sheet-spe1WayBlock div input[type="number"]
{
	width:calc(50% - 6px);
}

div.sheet-compBlock div input[type="text"]
{
	width:100%;
}

div.sheet-compBlock div[data-groupname] div.repitem
{
	width:100%
}

div.sheet-compBlock div[data-groupname] div.repitem > div
{
	display:flex;
	flex-wrap: wrap;
}

div.sheet-equipeBlock h3
{
	display:flex;
	width:100%;
}

div.sheet-equipeBlock input[type="text"]
{
	display:flex;
	width:100%;
	border:none;
	border-bottom:1px dotted black;
	padding-bottom: 0px;
}

div.sheet-mainSensibilite
{
	justify-content:space-around;
	align-items:flex-start;
}

div.sheet-mainSensibilite h3
{
	width:100%;
	line-height:20px;
}

div.sheet-sensibilite
{
	width:90px;
	border:1px solid black;
	margin-right:2px;
}

div.sheet-sensibilite h4
{
	width:100%;
	color:white;
	text-align:center;
	text-transform:uppercase;
	line-height:26px;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	letter-spacing:1px;
	border-bottom:1px solid black;
}

div.sheet-sensibilite input[type="number"]
{
	width:100%;
	background-color:white;
	border-radius:0px;
}

div.sheet-sensAcier
{
	background-color:rgb(170, 170, 187);
}

div.sheet-sensCombat
{
	background-color:rgb(165, 85, 57);
}

div.sheet-sensDragon
{
	background-color:rgb(119, 102, 238);
}

div.sheet-sensEau
{
	background-color:rgb(51, 153, 255);
}

div.sheet-sensElectrik
{
	background-color:rgb(254, 203, 50);
}

div.sheet-sensFee
{
	background-color:rgb(255, 170, 255);
}

div.sheet-sensFeu
{
	background-color:rgb(255, 68, 34);
}

div.sheet-sensGlace
{
	background-color:rgb(119, 221, 255);
}

div.sheet-sensInsecte
{
	background-color:rgb(153, 170, 17);
}

div.sheet-sensNormal
{
	background-color:rgb(187, 187, 170);
}

div.sheet-sensPlante
{
	background-color:rgb(68, 136, 51);
}

div.sheet-sensPoison
{
	background-color:rgb(170, 85, 153);
}

div.sheet-sensPsy
{
	background-color:rgb(255, 85, 153);
}

div.sheet-sensRoche
{
	background-color:rgb(186, 170, 102);
}

div.sheet-sensSol
{
	background-color:rgb(221, 187, 85);
}

div.sheet-sensSpectre
{
	background-color:rgb(102, 102, 186);
}

div.sheet-sensTenebres
{
	background-color:rgb(120, 87, 70);
}

div.sheet-sensVol
{
	background-color:rgb(102, 153, 255);
}

div.sheet-inventaireBlock
{
	width:100%
}

div.sheet-inventaireBlock h3
{
	display:flex;
	width:100%
}

div.sheet-inventaireBlock > div:not([data-groupname])
{
	width:25%
}

div.sheet-inventaireBlock label
{
	margin:0px;
	display:flex;
	justify-content:space-between;
}

div.sheet-inventaireBlock label input:first-child
{
	display:flex;
	width:50px;
	border:none;
	border-bottom:1px dotted black;
	padding-bottom:0px;
	text-align:center;
}

div.sheet-inventaireBlock label input:last-child
{
	display:flex;
	width:calc(100% - 60px);
	border:none;
	border-bottom:1px dotted black;
	padding-bottom:0px;
}

div.sheet-notesBadgesBlock
{
	justify-content:space-between;
}

div.sheet-notesBlock
{
	width:calc(75% - 20px);
}

div.sheet-badgesBlock
{
	width:25%;
	justify-content:space-between;
	border:1px solid black;
}

div.sheet-badgesBlock h3
{
	display:flex;
	width:100%;
	border-bottom:1px solid black;
	justify-content:center;
}

div.sheet-badgesBlock div
{
	display:flex;
	width:calc(50% - 1px);
	flex-wrap:wrap;
}

div.sheet-badgesBlock div input[type="text"]
{
	border:none;
	border-bottom:1px solid black;
	padding-bottom:0px;
	width:100%;
	border-radius:0px;
	color:black;
}

div.sheet-badgesBlock div.sheet-b14
{
	border-right:1px solid black;
}

div.sheet-badgesBlock div.sheet-b58
{
	border-left:1px solid black;
}

div.sheet-badgesBlock div input[type="text"]:nth-child(odd)
{
	background-color:LightGrey;
}

div.sheet-badgesBlock div input[type="text"]:last-child
{
	border-bottom:none;
}

div.sheet-boiteMainBlock
{
	justify-content:space-between;
}

div.sheet-boiteBlock
{
	width:calc(50% - 5px);
	counter-reset: sheet-rep-items;
	justify-content:space-between;
	align-content:baseline;
}

div.sheet-boiteBlock h3,
div.sheet-boiteObjetBlock h3
{
	width:100%;
	display:flex;
}

div.sheet-boiteBlock > div,
div.sheet-boiteObjetBlock > div
{
	width:calc(50% - 5px);
}

div.sheet-boiteBlock > div div,
div.sheet-boiteObjetBlock > div div
{
	width:100%;
}
div.sheet-boiteBlock div label
{
	display:flex;
	margin-bottom:0px;
	justify-content:space-between;
}

div.sheet-boiteBlock div label input[type="text"]
{
	width:calc(100% - 25px);
	display:flex;
	border:none;
	border-bottom:1px dotted black;
	padding-bottom:0px;
}

div.sheet-boiteBlock div label span::before
{
	width:25px;
	display:flex;
	counter-increment: sheet-rep-items;
	content: counter(sheet-rep-items) '. ';
	line-height:23px;
}

div.sheet-boiteObjetBlock
{
	width:50%;
	justify-content:space-between;
	align-content:baseline;
}

div.sheet-boiteObjetBlock div input[type="text"]
{
	width:100%;
	display:flex;
	border:none;
	border-bottom:1px dotted black;
	padding-bottom:0px;
}

div.sheet-techBlock
{
	border:1px solid black;
	background-color:grey;
	display:flex;
}

div.sheet-techBlock > div
{
	width:100%;
	display:flex;
}

div.sheet-techBlock > div > span,
div.sheet-techBlock > div > input[type="text"],
div.sheet-techBlock > div > input[type="number"]
{
	width:13%;
	display:flex;
}

div.sheet-techBlock > div > span:nth-child(2)
{
	width: calc(22% - 47.3334px);
	margin-right:23.6667px;
	display:flex;
}

div.sheet-techBlock > div > input[type="text"]:first-child
{
	width:22%;
	display:flex;
}

div.sheet-techBlock > div > span
{
	justify-content:center;
	color:black;
	line-height: 20px;
	font-weight: bold;
	font-variant: small-caps;
	align-items:center;
}

div.sheet-techBlock > div > input[type="text"],
div.sheet-techBlock > div > input[type="number"]
{
	background-color:white;
	border: 1px solid #ccc;
}

div.sheet-techBlock > input[type="text"]
{
	width:100%;
	display:flex;
}

div.sheet-techBlock > div > button[type="roll"]
{
	margin:0px;
}

div.sheet-techBlock > div > button[type="roll"]::before
{
	font-family: "Pictos";
	content: "w";
}

div.sheet-repeatingTechniquesBlock > div.repcontrol
{
	width:100%;
}

div.sheet-repeatingTechniquesBlock > div.repcontainer > div.repitem:not(:first-child)
{
	margin-top:5px;
}

div.sheet-statsBlockCombat,
div.sheet-armesBlockCombat
{
	width:100%;
	justify-content: space-evenly;
	margin-bottom:10px;
	margin-top:10px;
}

div.sheet-statsBlockCombat > h3,
div.sheet-armesBlockCombat > h3
{
	width:100%;
}

div.sheet-statsBlockCombat > div
{
	display: flex;
	width: 100px;
	flex-wrap: wrap;
	height: 80px;
}

div.sheet-statsBlockCombat > div > span
{
	height:26.6667px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-weight:bold;
}

div.sheet-statsBlockCombat > div > input[type="number"]:nth-child(odd)
{
	background-color: slategray;
	border-radius:0px;
	width: 100%;
}
div.sheet-statsBlockCombat > div > input[type="number"]:nth-child(even)
{
	border-radius:0px;
	border:1px solid black;
	width: 100%;
}

div.sheet-armesBlockCombat > div
{
	width: calc(33.33% - 10px);
}

div.sheet-armesBlockCombat div > div:not([data-groupname])
{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	height: 28px;
}

div.sheet-armesBlockCombat div > div > input[type="number"],
div.sheet-armesBlockCombat div > div > input[type="text"]
{
	display: flex;
	width: calc(50% - 12.9px);
	height: 28px;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #555;
}

div.sheet-armesBlockCombat div > div > button[type="roll"]
{
	margin-right:0px;
}

div.sheet-tab-content,
div.sheet-hiddenDiv,
.sheet-ficheDresseur,
.sheet-fichePokemon
{ 
	display: none;
}

input.sheet-tab[value="1"] ~ div.sheet-tab1,
input.sheet-tab[value="2"] ~ div.sheet-tab2,
input.sheet-tab[value="3"] ~ div.sheet-tab3,
input.sheet-tab[value="4"] ~ div.sheet-tab4
{
    display: block;
}

input.sheet-ficheType[value="0"] ~ div div.sheet-ficheDresseur,
input.sheet-ficheType[value="1"] ~ div div.sheet-fichePokemon
{
    display: flex;
	flex-wrap: wrap;
}

input.sheet-ficheType[value="0"] ~ div label.sheet-ficheDresseur,
input.sheet-ficheType[value="1"] ~ div label.sheet-fichePokemon
{
    display: flex;
}

.sheet-W100
{
	width:100%;
}

.sheet-rolltemplate-simple,
.sheet-rolltemplate-initiative,
.sheet-rolltemplate-technique,
.sheet-rolltemplate-armes
{
    border:1px solid black;
	padding:5px;
	display:flex;
	flex-wrap: wrap;
	background-color: white;
}

.sheet-rolltemplate-simple h3,
.sheet-rolltemplate-initiative h3,
.sheet-rolltemplate-technique h3,
.sheet-rolltemplate-armes h3
{
	border-bottom:1px solid black;
	display:flex;
	justify-content:center;
	width:100%;
}

.sheet-rolltemplate-simple h4,
.sheet-rolltemplate-initiative h4,
.sheet-rolltemplate-technique h4
{
	display:flex;
	justify-content:center;
	width:100%;
	border-bottom:1px solid black;
	padding-bottom:3px;
}

.sheet-rolltemplate-simple > div,
.sheet-rolltemplate-initiative > div,
.sheet-rolltemplate-technique > div,
.sheet-rolltemplate-armes > div
{
	width:100%;
	display:flex;
	padding:5px;
}

.sheet-rolltemplate-technique > div:last-child
{
	flex-flow:column;
}

.sheet-rolltemplate-simple > div span,
.sheet-rolltemplate-initiative > div span,
.sheet-rolltemplate-technique > div span
.sheet-rolltemplate-armes > div span
{
	display:flex;
}

.sheet-rolltemplate-simple > div span:first-child,
.sheet-rolltemplate-initiative > div span:first-child,
.sheet-rolltemplate-technique > div span:first-child,
.sheet-rolltemplate-armes > div span:first-child
{
	justify-content:left;
	width:calc(70% - 5px);
}

.sheet-rolltemplate-simple > div span:last-child,
.sheet-rolltemplate-initiative > div span:last-child,
.sheet-rolltemplate-technique > div span:last-child,
.sheet-rolltemplate-armes > div span:last-child
{
	justify-content:center;
	width:calc(30% - 5px);
	text-align:center;
}

.sheet-rolltemplate-simple > div span:only-child,
.sheet-rolltemplate-initiative > div span:only-child,
.sheet-rolltemplate-technique > div span:only-child,
.sheet-rolltemplate-armes > div span:only-child
{
	justify-content: left;
	width: 100%;
	word-break: break-all;
}

.sheet-rolltemplate-simple .inlinerollresult,
.sheet-rolltemplate-initiative .inlinerollresult,
.sheet-rolltemplate-technique .inlinerollresult,
.sheet-rolltemplate-armes .inlinerollresult
{
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: none;
    background-color: Transparent;
}

.sheet-rolltemplate-simple .inlinerollresult.fullcrit,
.sheet-rolltemplate-initiative .inlinerollresult.fullcrit,
.sheet-rolltemplate-technique .inlinerollresult.fullcrit,
.sheet-rolltemplate-armes .inlinerollresult.fullcrit
{
    border: none;
}

.sheet-rolltemplate-simple .inlinerollresult.fullfail,
.sheet-rolltemplate-initiative .inlinerollresult.fullfail,
.sheet-rolltemplate-technique .inlinerollresult.fullfail,
.sheet-rolltemplate-armes .inlinerollresult.fullfail
{
    border: none;
}

.sheet-rolltemplate-simple .inlinerollresult.importantroll,
.sheet-rolltemplate-initiative .inlinerollresult.importantroll,
.sheet-rolltemplate-technique .inlinerollresult.importantroll,
.sheet-rolltemplate-armes .inlinerollresult.importantroll 
{
    border: none;
	color:red;
}