.sheet-dnd-image-wrapper {
  margin-bottom: 1px;
  img {
    display: block;
    max-height: 27px;
  }
}

.sheet-character-name {
  input {
    border: 1px solid $black;
    border-bottom-left-radius: 5px !important;
    border-right-width: 0;
    border-top-left-radius: 5px !important;
    font-size: 1.7em;
    font-weight: bold;
    padding: 0 2px;
  }
  .sheet-wrap-box-label {
    margin-top: 1px;
  }
}

@include tab-toggle('edit-mode', 19px, 'padding');

div[class='repcontainer editmode'] ~ div[class^='repcontrol'] button[class='btn repcontrol_add'] {
  display: inline-block !important;
  visibility: hidden;
}

.sheet-header-info {
  input.sheet-toggle-edit-mode:checked ~ div & {
    margin-top: -14px;
    position: relative;
  }
}
