[class^='sheet-section-'] {
  display: none;
}

@include tab-toggle('page-core', 32px, 'padding');
@include tab-toggle('page-spells', 39px, 'padding');
@include tab-toggle('page-character', 57px, 'padding');
@include tab-toggle('page-settings', 15px, 'padding');
@include tab-toggle('page-all', 20px, 'padding');

input.sheet-slide-input-pc:checked ~ div.sheet-section-core,
input.sheet-slide-input-pc:not(:checked) ~ div.sheet-section-npc {
  display: none !important;
}

input.sheet-slide-input-pc:not(:checked) ~ input.sheet-toggle-page-core:checked ~ div.sheet-section-core,
input.sheet-slide-input-pc:checked ~ input.sheet-toggle-page-core:checked ~ div.sheet-section-npc,
input.sheet-toggle-page-spells:checked ~ div.sheet-section-spells,
input.sheet-toggle-page-character:checked ~ div.sheet-section-character,
input.sheet-toggle-page-settings:checked ~ div.sheet-section-settings,
input.sheet-slide-input-pc:checked ~ input.sheet-toggle-page-all:checked ~ div[class^='sheet-section-']:not(.sheet-pc),
input.sheet-slide-input-pc:not(:checked) ~ input.sheet-toggle-page-all:checked ~ div[class^='sheet-section-']:not(.sheet-npc) {
  display: block;
}

input.sheet-toggle-page-all:checked ~ div[class^='sheet-section-'] {
  &:not(:last-of-type) {
    border-bottom: 10px solid $black;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}

input[class^='sheet-toggle-page-'],
span[class^='sheet-toggle-page-'] {
  height: 14px;
}

span[class^='sheet-toggle-page-'] {
  font-size: 11px;
  font-weight: bold;
  padding: 1px;
}

input[class^='sheet-toggle-page-']:checked + span[class^='sheet-toggle-page-'] {
  background-color: $deep-blue !important;
}
