<div class="shaped-row">
  <div class="flex-grow">
    <input type="hidden" name="attr_level">
    <fieldset class="repeating_class">
      <div class="shaped-row vert-center">
        <div class="4-rem">
          <select name="attr_name">
            <option value="barbarian" data-i18n="BARBARIAN"></option>
            <option value="bard" data-i18n="BARD"></option>
            <option value="cleric" data-i18n="CLERIC"></option>
            <option value="druid" data-i18n="DRUID"></option>
            <option value="fighter" data-i18n="FIGHTER"></option>
            <option value="monk" data-i18n="MONK"></option>
            <option value="paladin" data-i18n="PALADIN"></option>
            <option value="psion" data-i18n="PSION" class="psionics"></option>
            <option value="ranger" data-i18n="RANGER"></option>
            <option value="rogue" data-i18n="ROGUE"></option>
            <option value="sorcerer" data-i18n="SORCERER"></option>
            <option value="soulknife" data-i18n="SOULKNIFE" class="psionics"></option>
            <option value="summoner" data-i18n="SUMMONER" class="custom-class"></option>
            <option value="warlock" data-i18n="WARLOCK"></option>
            <option value="wizard" data-i18n="WIZARD"></option>
            <option value="custom" data-i18n="CUSTOM"></option>
          </select>
        </div>
        <input type="checkbox" name="attr_custom_class_toggle" class="toggle-custom-class hidden">
        <div class="7-rem custom-class pad-l-sm">
          <input type="text" name="attr_custom_name">
        </div>
        <div class="3-rem pad-l-sm">
          <input type="number" name="attr_level">
        </div>
        <div class="2-rem pad-l-sm">
          <select name="attr_hd">
            <option value="d0">&#8212;</option>
            <option>d2</option>
            <option>d4</option>
            <option>d6</option>
            <option>d8</option>
            <option>d10</option>
            <option selected>d12</option>
            <option>d20</option>
          </select>
        </div>
        <div class="4-rem flex-grow pad-l-sm">
          <select name="attr_spellcasting">
            <option value="none">&#8212;</option>
            <option value="full" data-i18n="CASTERS_FULL"></option>
            <option value="half" data-i18n="CASTERS_HALF"></option>
            <option value="third" data-i18n="CASTERS_THIRD"></option>
            <option value="fullPsionics" data-i18n="PSIONICS_FULL"></option>
            <option value="halfPsionics" data-i18n="PSIONICS_HALF"></option>
            <option value="thirdPsionics" data-i18n="PSIONICS_THIRD"></option>
            <option value="warlock" data-i18n="WARLOCK"></option>
          </select>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="relative 3-rem mar-l-md">
    <div class="tooltip-position-wrapper">
      <div class="tooltip">
        <div class="tooltip-toggle-text center">?</div>
        <div class="tooltip-content-left small-label" data-i18n="DEFAULT_ABILITY_TOOLTIP"></div>
      </div>
    </div>
    <select name="attr_default_ability">
      <option value="0">&#8212;</option>
      <option value="finesse" data-i18n="FINESSE"></option>
      <option value="strength" data-i18n="STR"></option>
      <option value="dexterity" data-i18n="DEX"></option>
      <option value="constitution" data-i18n="CON"></option>
      <option value="intelligence" data-i18n="INT"></option>
      <option value="wisdom" data-i18n="WIS"></option>
      <option value="charisma" data-i18n="CHA"></option>
    </select>
    <div class="small-label center" data-i18n="DEFAULT_ABILITY"></div>
  </div>
</div>