<div class="tooltip-position-wrapper">
  <div class="tooltip">
    <div class="tooltip-toggle-text center">?</div>
    <div class="tooltip-content-left small-label" data-i18n="DEFAULT_ABILITY_TOOLTIP"></div>
  </div>
</div>
<select name="attr_default_ability">
  <option value="0">&#8212;</option>
  <option value="finesse" data-i18n="FINESSE"></option>
  <option value="strength" data-i18n="STR"></option>
  <option value="dexterity" data-i18n="DEX"></option>
  <option value="constitution" data-i18n="CON"></option>
  <option value="intelligence" data-i18n="INT"></option>
  <option value="wisdom" data-i18n="WIS"></option>
  <option value="charisma" data-i18n="CHA"></option>
</select>
<div class="small-label center" data-i18n="DEFAULT_ABILITY"></div>