<input class="slide-input-pc" type="checkbox" name="attr_is_npc" value="1"><label class="slide-toggle-pc"><span class="slide-cover">···</span><span class="slide-toggle-pc-left" data-i18n="PC"></span><span class="slide-toggle-pc-right" data-i18n="NPC"></span></label>
<span class="small-label bold pad-l-sm">Shaped v<span name="attr_version" class="bold small-label"></span></span>

<input type="hidden" name="attr_roll_info">
<input type="hidden" name="attr_shaped_d20" value="d20">
<input type="hidden" name="attr_d20_mod">