<div class="mar-t-md npc"></div>
<input type="radio" name="attr_tab" class="toggle-page-core" value="core" checked><span class="toggle-page-core button">{{'CORE' | translate}}</span>
<input type="radio" name="attr_tab" class="toggle-page-spells" value="spells"><span class="toggle-page-spells button">{{'SPELLS' | translate}}</span>
<input type="radio" name="attr_tab" class="toggle-page-equipment pc" value="equipment"><span class="toggle-page-equipment button pc">{{'EQUIPMENT' | translate}}</span>
<input type="radio" name="attr_tab" class="toggle-page-character pc" value="character"><span class="toggle-page-character button pc">{{'CHARACTER' | translate}}</span>
<input type="radio" name="attr_tab" class="toggle-page-settings" value="settings"><span class="toggle-page-settings button pictos">y</span>
<input type="radio" name="attr_tab" class="toggle-page-all" value="all"><span class="toggle-page-all button">{{'ALL' | translate}}</span>
<input type="checkbox" name="attr_edit_mode" class="toggle-edit-mode mar-l-lg negative-mar-t-eight"><span class="toggle-edit-mode pictos negative-mar-t-eight">p</span>

<div class="float-right mar-t-smd">
  <input type="radio" name="attr_roll_setting" class="toggle-roll-normal" value="@{roll_1}" checked><span class="toggle-roll-normal button">{{'NORMAL' | translate}}</span>
  <input type="radio" name="attr_roll_setting" class="toggle-roll-advantage" value="@{roll_advantage}"><span class="toggle-roll-advantage button">{{'ADVANTAGE' | translate}}</span>
  <input type="radio" name="attr_roll_setting" class="toggle-roll-disadvantage" value="@{roll_disadvantage}"><span class="toggle-roll-disadvantage button">{{'DISADVANTAGE' | translate}}</span>
</div>