<div class="mar-t-sm npc"></div>
<input type="radio" name="attr_tab" class="toggle-page-core" value="core" checked><span class="toggle-page-core button" data-i18n="CORE"></span>
<input type="radio" name="attr_tab" class="toggle-page-spells spells" value="spells"><span class="toggle-page-spells spells button" data-i18n="SPELLS"></span>
<input type="radio" name="attr_tab" class="toggle-page-character pc" value="character"><span class="toggle-page-character button pc" data-i18n="CHARACTER"></span>
<input type="radio" name="attr_tab" class="toggle-page-settings" value="settings"><span class="toggle-page-settings button pictos">y</span>
<input type="radio" name="attr_tab" class="toggle-page-all" value="all"><span class="toggle-page-all button" data-i18n="ALL"></span>
<input type="checkbox" name="attr_edit_mode" class="toggle-edit-mode mar-l-lg negative-mar-t-eight"><span class="toggle-edit-mode pictos negative-mar-t-eight">p</span>

<div class="float-right mar-t-sm">
  <input type="radio" name="attr_roll_setting" class="toggle-roll-normal" value="{{ignore=[[0" checked><span class="toggle-roll-normal button" data-i18n="NORMAL"></span>
  <input type="radio" name="attr_roll_setting" class="toggle-roll-advantage" value="adv {{ignore=[[0"><span class="toggle-roll-advantage button" data-i18n="ADVANTAGE"></span>
  <input type="radio" name="attr_roll_setting" class="toggle-roll-disadvantage" value="dis {{ignore=[[0"><span class="toggle-roll-disadvantage button" data-i18n="DISADVANTAGE"></span>
</div>