<input type="hidden" name="attr_has_sorcerer_levels" class="has-sorcerer-levels hidden">
<input type="hidden" name="attr_has_warlock_slots" class="has-warlock-slots hidden">
<input type="hidden" name="attr_show_spells" class="toggle-spells hidden" value="1">
<input type="hidden" name="attr_prepared_matters" class="toggle-prepared-matters">
<input type="hidden" name="attr_psionics" class="toggle-psionics hidden">
<input type="hidden" name="attr_custom_classes" class="toggle-custom-classes hidden">
<input type="hidden" name="attr_show_passive_skills" class="toggle-passive-skills hidden">

<input type="hidden" name="attr_spells_level_0_show" class="toggle-level-0">
<input type="hidden" name="attr_spells_level_1_show" class="toggle-level-1">
<input type="hidden" name="attr_spells_level_2_show" class="toggle-level-2">
<input type="hidden" name="attr_spells_level_3_show" class="toggle-level-3">
<input type="hidden" name="attr_spells_level_4_show" class="toggle-level-4">
<input type="hidden" name="attr_spells_level_5_show" class="toggle-level-5">
<input type="hidden" name="attr_spells_level_6_show" class="toggle-level-6">
<input type="hidden" name="attr_spells_level_7_show" class="toggle-level-7">
<input type="hidden" name="attr_spells_level_8_show" class="toggle-level-8">
<input type="hidden" name="attr_spells_level_9_show" class="toggle-level-9">

<input type="hidden" name="attr_psionics_level_0_show" class="toggle-psionics-level-0">
<input type="hidden" name="attr_psionics_level_1_show" class="toggle-psionics-level-1">
<input type="hidden" name="attr_psionics_level_2_show" class="toggle-psionics-level-2">
<input type="hidden" name="attr_psionics_level_3_show" class="toggle-psionics-level-3">
<input type="hidden" name="attr_psionics_level_4_show" class="toggle-psionics-level-4">
<input type="hidden" name="attr_psionics_level_5_show" class="toggle-psionics-level-5">
<input type="hidden" name="attr_psionics_level_6_show" class="toggle-psionics-level-6">
<input type="hidden" name="attr_psionics_level_7_show" class="toggle-psionics-level-7">
<input type="hidden" name="attr_psionics_level_8_show" class="toggle-psionics-level-8">
<input type="hidden" name="attr_psionics_level_9_show" class="toggle-psionics-level-9">

<input type="hidden" name="attr_roll_info">
<input type="hidden" name="attr_shaped_d20" value="d20">
<input type="hidden" name="attr_d20_mod">

<input type="hidden" name="attr_use_custom_saving_throws" class="toggle-use-custom-saving-throws hidden">

<input type="checkbox" name="attr_edit_mode" class="toggle-edit-mode hidden">