<input type="hidden" name="attr_has_sorcerer_levels" class="has-sorcerer-levels hidden">
<input type="hidden" name="attr_has_warlock_slots" class="has-warlock-slots hidden">
<input type="hidden" name="attr_show_spells" class="toggle-spells hidden" value="1">
<input type="hidden" name="attr_psionics" class="toggle-psionics hidden">
<input type="hidden" name="attr_custom_classes" class="toggle-custom-classes hidden">
<input type="hidden" name="attr_show_passive_skills" class="toggle-passive-skills hidden">

<input type="checkbox" name="attr_spell_slots_l0_toggle" class="toggle-level-0 hidden">
<input type="checkbox" name="attr_spell_slots_l1_toggle" class="toggle-level-1 hidden">
<input type="checkbox" name="attr_spell_slots_l2_toggle" class="toggle-level-2 hidden">
<input type="checkbox" name="attr_spell_slots_l3_toggle" class="toggle-level-3 hidden">
<input type="checkbox" name="attr_spell_slots_l4_toggle" class="toggle-level-4 hidden">
<input type="checkbox" name="attr_spell_slots_l5_toggle" class="toggle-level-5 hidden">
<input type="checkbox" name="attr_spell_slots_l6_toggle" class="toggle-level-6 hidden">
<input type="checkbox" name="attr_spell_slots_l7_toggle" class="toggle-level-7 hidden">
<input type="checkbox" name="attr_spell_slots_l8_toggle" class="toggle-level-8 hidden">
<input type="checkbox" name="attr_spell_slots_l9_toggle" class="toggle-level-9 hidden">

<input type="checkbox" name="attr_psi_limit_2_toggle" class="toggle-psi-limit-2 hidden">
<input type="checkbox" name="attr_psi_limit_3_toggle" class="toggle-psi-limit-3 hidden">
<input type="checkbox" name="attr_psi_limit_5_toggle" class="toggle-psi-limit-5 hidden">
<input type="checkbox" name="attr_psi_limit_6_toggle" class="toggle-psi-limit-6 hidden">
<input type="checkbox" name="attr_psi_limit_7_toggle" class="toggle-psi-limit-7 hidden">
<input type="checkbox" name="attr_psi_limit_9_toggle" class="toggle-psi-limit-9 hidden">
<input type="checkbox" name="attr_psi_limit_10_toggle" class="toggle-psi-limit-10 hidden">
<input type="checkbox" name="attr_psi_limit_11_toggle" class="toggle-psi-limit-11 hidden">
<input type="checkbox" name="attr_psi_limit_13_toggle" class="toggle-psi-limit-13 hidden">

<input type="hidden" name="attr_roll_info">
<input type="hidden" name="attr_shaped_d20" value="d20">
<input type="hidden" name="attr_d20_mod">

<input type="hidden" name="attr_use_custom_saving_throws" class="toggle-use-custom-saving-throws hidden">

<input type="checkbox" name="attr_edit_mode" class="toggle-edit-mode hidden">