
<div class="sheet-character-details-bar">
  <div>
    <h2>Experience
      <input class="sheet-xp" type="text" name="attr_xp" placeholder="0"/>
      <input class="sheet-xp" type="text" name="attr_spent_xp" placeholder="0"/>
    </h2>
    <div class="sheet-character-name">
      <input class="sheet-pc-name" type="text" name="attr_character_name" placeholder="Character Name"/>
    </div>
    <div class="sheet-resources">
      <div>
        <h2>Health</h2><img/>
        <select name="attr_health">
          <option value="0">0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+4</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
        </select>
      </div>
      <div>
        <h2>Spirit</h2><img/>
        <select name="attr_spirit">
          <option value="0">0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+4</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
        </select>
      </div>
      <div>
        <h2>Supply</h2><img/>
        <select name="attr_supply">
          <option value="0">0</option>
          <option value="1">+1</option>
          <option value="2">+2</option>
          <option value="3">+4</option>
          <option value="4">+4</option>
          <option value="5">+5</option>
        </select>
      </div>
    </div>
  </div>
</div>