<input type="hidden" name="attr_finesse_mod">
{% set abilities = ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'] %}
{% for ability in abilities %}
  <div class="ability-wrapper wrap-box center">
    <input type="hidden" name="attr_{$ ability $}_check_mod_formula">
    <button type="roll" name="roll_shaped_{$ ability $}_check" class="wrapper-button overflow-hidden" value= "@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{{$ ability | upper $}} ^{CHECK}}} @{roll_info} {{roll1=[[@{shaped_d20} + @{{$ ability $}_check_mod_formula}]]}} @{roll_setting} + @{{$ ability $}_check_mod_formula}]]}} @{hide_gm_info} @{attacher_{$ ability $}_check}" tabindex="-1">
      <div class="center">
        <span class="ability-name white-space-nowrap" data-i18n="{$ ability | upper $}"></span>
        <input type="hidden" name="attr_{$ ability $}_mod">
        <span name="attr_{$ ability $}_mod_with_sign" class="ability-modifier block center"></span>
      </div>
    </button>
    <div class="edit shaped-row no-wrap vert-center small-label">
      <span data-i18n="CHECK"></span>
      <div>+</div>
      <div>
        <input type="number" name="attr_{$ ability $}_check_bonus" class="no-spin no-border" value="0" step="1">
      </div>
      <div>=</div>
      <span class="mar-l-sm" name="attr_{$ ability $}_check_mod"></span>
    </div>
    <div class="ability-score-wrapper shaped-row no-wrap center vert-center">
      <span name="attr_{$ ability $}_calculated" class="presentation"></span>
      <div class="edit">
        <input type="number" name="attr_{$ ability $}" class="no-spin no-border" min="1" step="1">
      </div>
      <div class="edit">+</div>
      <div class="edit">
        <input type="number" name="attr_{$ ability $}_bonus" class="no-spin no-border" value="0" step="1">
      </div>
    </div>
  </div>
{% endfor %}