div,
button,
textarea,
span,
input,
select,
table,
tr,
td,
th{
    box-sizing: border-box;
}
div{
    margin: none;
    padding: none;
    background-color: transparent;
}
div.sheet-bgmain{
    position: relative;
    width: 1130px;
    min-height: 550px;
    text-align:center;
    font-family: Arial;
    background-image: url('https://raw.githubusercontent.com/NathaTerrien/roll20-wip/master/TerraX/terrax_bg_1130x550.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
}
div.sheet-absinp{
    position: absolute;
}
input, textarea{
    background-color: rgba(40,174,105,0.1);
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: Arial;
    border: none;
    /* box-shadow: none;*/
    border-radius: 5px;
    resize:none;
}
textarea{
    font-size: 12px;
}
input[type="number"]{
    text-align: right;
}
input.sheet-iptbig1{
    font-size:20px;
    width:280px;
    text-align:center;
    font-weight:bold;
    min-height:40px;
    text-transform: capitalize;
}
input.sheet-iptbig2{
    font-size:18px;
    width:230px;
    text-align:center;
    font-weight:bold;
    min-height:40px;
    text-transform: capitalize;
}
input.sheet-iptnumsm {
    -moz-appearance: textfield;
    max-width: 40px;
}
input.sheet-iptnumsm::-webkit-inner-spin-button,
input.sheet-iptnumsm::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
input.sheet-iptnummod{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
input.sheet-iptnumbig {
    min-height: 40px;
    max-width: 60px;
    font-size: 22px;
    font-weight:bold;
}
input.sheet-iptnumrond{
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    min-width: 56px;
    min-height: 56px;
    max-width: 56px;
    max-height: 56px;
    border-radius: 30px;
    border:none;
    font-weight: bold;
}
input.sheet-iptnumrondtop{
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    max-width: 60px;
    min-width: 60px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 30px 30px 0px 0px;
    border-width: 0px 0px 2px 0px;
    border-style: dotted;
    border-color: #939598;
    font-weight: bold;
    display: block;
}
input.sheet-iptnumrondbott{
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    max-width: 60px;
    min-width: 60px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 0px 0px 30px 30px;
    border: none;
    font-weight: bold;
    display: block;
}
.sheet-max{
    background-color: rgba(40,174,105,0.3);
}
input.sheet-iptnumrond, input.sheet-iptnumrondtop, input.sheet-iptnumrondbott {
    -moz-appearance: textfield;
}
input.sheet-iptnumrond::-webkit-inner-spin-button,
input.sheet-iptnumrond::-webkit-outer-spin-button,
input.sheet-iptnumrondtop::-webkit-inner-spin-button,
input.sheet-iptnumrondtop::-webkit-outer-spin-button,
input.sheet-iptnumrondbott::-webkit-inner-spin-button,
input.sheet-iptnumrondbott::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}
input.sheet-iptnumrondsm{
    line-height: 20px;
    font-size: 25px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
    border:none;
    font-weight: bold;
}
input.sheet-iptnumrondsm {
    -moz-appearance: textfield;
}
input.sheet-iptnumrondsm::-webkit-inner-spin-button,
input.sheet-iptnumrondsm::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
input[disabled],
input[readonly] {
    -moz-appearance: textfield;
    background-color: transparent;
}
input[type=number]:disabled::-webkit-inner-spin-button,
input[type=number]:disabled::-webkit-outer-spin-button,
input[type=number]:read-only::-webkit-inner-spin-button,
input[type=number]:read-only::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
select{
    background-color:rgba(255,255,255,0.5);
    padding: 0px;
    margin: 0px;
    height: 1.6em;
    line-height: 1.6em;
    max-height 1.6em;
    font-weight:normal;
    border: none;
}
select:hover{
    border: 1px solid #939598;
}
button[type="roll"] {
    box-sizing: border-box;
    padding: 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    color:black;
    border-width: 0px;
    border-style: solid;
    border-color: #939598;
    border-radius: 5px;
    font-size:10px;
    background:transparent;
    box-shadow: none;
    text-shadow: none;
    -webkit-box-shadow: none;
}
button[type="roll"]:hover{
    font-weight: bolder;
    border-width: 2px;
}
button[type="roll"].sheet-boutcar {
    color:black;
    border-width: 2px;
    border-color: transparent;
    font-size: 28px;
    width: 70px;
    height: 30px;
    line-height: 28px;
    padding-left: 40px !important;
}
button[type="roll"].sheet-boutcar:hover {
    border-color: #28AE69;
}
button[type="roll"].sheet-boutjs {
    color:black;
    border-width: 2px;
    border-color: transparent;
    font-size: 28px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-color: transparent;
}
button[type="roll"].sheet-boutjs:hover{
    border-color: #C10000;
}
button[type=roll].sheet-boutd6{
    color:black;
    font-family:'Candal',Helvetica;
    font-weight:bold;
    font-size:14px;
    display: inline-block;
    vertical-align: middle;
}
button[type=roll].sheet-boutd6:before{
    font-family: "dicefontd6";
    font-size: 22px;
    content: 'f';
}
button[type="roll"].sheet-boutd6:hover{
    color: #28AE69;
    border-width: 0px;
}
button[type=roll].sheet-btLien{
    color: #939598;
}
button[type=roll].sheet-btLien:before{
    font-family: "Pictos";
    font-size: 1.6em;
    content: 'G';
    vertical-align: top;
}
button[type=roll].sheet-btLien:hover{
    font-weight:normal;
    border: none;
    color: #28AE69;
}
/* TEMPLATES */
.sheet-rolltemplate-jet div{
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px;
    border: none;
    display: block;
}
.sheet-rolltemplate-jet div.sheet-tplmain{
    width: 180px;
    background-color: transparent;
}
.sheet-rolltemplate-jet div.sheet-perso{
    background-color: #939598;
    padding: 2px 2px 0px 2px;
    border-radius: 5px 5px 0px 0px;
    width: 160px;
    font-size: 12px;
    font-family: 'Candal';
    color: white;
    display: inline-block;

}
.sheet-rolltemplate-jet div.sheet-jetnom{
    background-color: #939598;
    padding: 0px 2px 2px 2px;
    border-radius: 0px 0px 5px 5px;
    width: 160px;
    font-size: 12px;
    font-family: 'Candal';
    color: white;
    display: inline-block;
}
.sheet-rolltemplate-jet div.sheet-jets{
    width: 180px;
    border-width: 2px;
    border-style: solid;
    border-color: #939598;
    border-radius: 6px;
    background-color: white;
    display: inline-block;
    height: 40px;
}
.sheet-rolltemplate-jet div.sheet-jet{
    display: inline-block;
    height: 34px;
    padding-top: 10px;
    width: 80px;
    font-family: 'Candal';
}
.sheet-rolltemplate-jet div.sheet-borderd{
    border-right: 2px solid #939598;
}
.sheet-rolltemplate-jet .inlinerollresult {
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    font-weight: bold;
    cursor: help;
    font-size: 22px;
    font-family: 'Candal';
}
.sheet-rolltemplate-jet .inlinerollresult.fullcrit{
    border: none;
    color: #3FB315;
}
.sheet-rolltemplate-jet .inlinerollresult.importantroll{
    border: none;
    color: #4A57ED;
}
.sheet-rolltemplate-jet .inlinerollresult.fullfail{
    border: none;
    color: #B31515;
}
