include ./common/details

mixin communities
  .bond-component
    fieldset.repeating_community
      .bond-container
        p.bond-title NAME:
        input.border-bottom.bond-name(type='text' name='attr_bond-name' placeholder='Name')
        .individual-nav
          label.bond-details-btn
            input.hide.btn-input(type='checkbox' name='attr_details_button')
            .btn-content DETAILS 
          label.bond-details-btn
            input.hide.btn-input(type='checkbox' name='attr_reputation_button')
            .btn-content REPUTATION
      
        +details('community')

        input.hide.show-bond-reputation(type='checkbox' name='attr_reputation')
        .show-bond-reputation.showhide
          | TBD