.charsheet {
    background-image: url("http://i.imgur.com/tQiSNgF.png");
    background-size: 100%;
}
.charsheet input {
    width: 165px;
}
.charsheet select {
    width: 165px;
}
.charsheet input.sheet-supertiny {
   display: inline-block;
   width: 10px;
}
.charsheet input.sheet-tiny {
   display: inline-block;
   width: 20px;
}
.charsheet .sheet-attrchk {
    width: 15px;
}
.charsheet input.sheet-short {
   display: inline-block;
   width: 3.5em;
}
.charsheet input.sheet-long {
    display: inline-block;
    width: 100%;
}
.charsheet input[type="number"].sheet-medium {
    display: inline-block;
    width: 5.1em;
}
.charsheet input[type="text"].sheet-undead {
    display: inline-block;
    width: 100%;
    text-align: center; 
}
.charsheet input[type="number"].sheet-tiny {
    display: inline-block;
    width: 23px;
}
.charsheet input[type="number"].sheet-medium::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.charsheet select.sheet-short{
    display: inline-block;
    margin: 0px 0px;
    width: 4.1em;
}
.charsheet input[type="checkbox"].left {
    float: left;
    margin: 5px 0px;
    width: 2px;
}
.charsheet .sheet-bluehilite {
    background-color: #26ADE4; 
    color: #000000; 
    font-weight: bold; 
    text-align: center;
}
.charsheet .sheet-botul {
    border-bottom: 1pt solid black;
}
.charsheet .sheet-mnattr {
    color: #000; 
    font-weight: bold;
}
.charsheet .sheet-ceme {
    width: 960px;
    margin-left: auto ;
    margin-right: auto ;
}
.charsheet .sheet-boldme {
    font-weight: bold;
}
.charsheet .sheet-alleft {
    text-align: left;
}
.charsheet .sheet-alcenter {
    text-align: center;
}
.charsheet .sheet-attrtext {
    width: 50px;
}
.charsheet .sheet-attrhdrtext {
    width: 75px;
    font-size: 10px;
}
.charsheet .sheet-attrtab {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Configure the tab buttons*/
.sheet-character,
.sheet-monster,
.sheet-journal {
    display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="monster"] ~ div.sheet-monster,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
    display: block;
}
