script(type="text/worker")
  include ./scripts/ancestry.js
  include ./scripts/assets.js
  include ./scripts/conditions.js
  include ./scripts/equipment.js
  include ./scripts/momentum.js
  include ./scripts/motivations.js
  include ./scripts/moves.js
  include ./scripts/oracles.js
  include ./scripts/pages.js
  include ./scripts/progress.js
  include ./scripts/sites.js
  include ./scripts/stats.js