input[type="checkbox"].showhide:checked ~ div.showhide
  show-hide()

select
  &.path-dropdown
    option[value="alchemist"]
      & ~ .alchemist
        display flex
        show-hide()

input[type="radio"].asset-builder:checked ~ div.asset-builder,
input[type="radio"].asset-view:checked ~ div.asset-view
  display block
  show-hide()

input[type="checkbox"].builder-titles-1:checked ~ div.builder-titles-1,
input[type="checkbox"].builder-titles-2:checked ~ div.builder-titles-2,
input[type="checkbox"].builder-titles-3:checked ~ div.builder-titles-3,
input[type="checkbox"].builder-ability-1-text:checked ~ div.builder-ability-1-text,
input[type="checkbox"].builder-ability-1-text-input:checked ~ div.builder-ability-1-text-input,
input[type="checkbox"].builder-ability-2-text:checked ~ div.builder-ability-2-text,
input[type="checkbox"].builder-ability-2-text-input:checked ~ div.builder-ability-2-text-input,
input[type="checkbox"].builder-ability-3-text:checked ~ div.builder-ability-3-text,
input[type="checkbox"].builder-ability-3-text-input:checked ~ div.builder-ability-3-text-input,
input[type="checkbox"].track-dropdown-1:checked ~ div.track-dropdown-1,
input[type="checkbox"].track-dropdown-2:checked ~ div.track-dropdown-2,
input[type="checkbox"].track-dropdown-3:checked ~ div.track-dropdown-3,
input[type="checkbox"].track-dropdown-4:checked ~ div.track-dropdown-4,
input[type="checkbox"].track-dropdown-5:checked ~ div.track-dropdown-5,
input[type="checkbox"].track-dropdown-6:checked ~ div.track-dropdown-6
  display flex
  show-hide()

div.builder-titles-1,
div.builder-titles-2,
div.builder-titles-3
  flex-flow column
  margin-bottom 0.3em

.view-title-width
  width 22em
  margin 0em 1em

.custom
  > input[type=radio]
    margin-left: 4px
  div[class|=builder-ability]
    align-items: flex-start

div.asset-view,
div.asset-builder
  margin-top 0.3em

input[type=checkbox].custom-asset-ability
  opacity 1
  margin 0px 5px 0 5px

.custom-track
  width 20.5em
  margin 0 !important

.ability-checkbox,
.build-text
  std-font('Encode Sans Condensed')
  font-size 13px
  resize none
  height 100px
  width 22em
  margin 0em 0.5em 0em 0.4em

.ability-text
  std-font('Encode Sans Condensed')
  font-size 14.3px
  resize none
  height 100px
  margin-bottom 0em
  width 18em

.builder-dropdown
  font-size 14px

.asset-description
  margin 0 12px 0px 12px
  std-font('Encode Sans Condensed')

div
  &.asset-ability
    width 100%
    height 100%
    margin 0px 12px 6px 10px
    ul
      margin-left 15px
      margin-bottom 0
  &.assets
    display block !important
    text-align left
    .repcontainer
      display flex
      flex-flow row wrap
      padding 0.5em
      std-font('Encode Sans Condensed')
      justify-content space-evenly
      .repitem
        float left !important

.asset-ability-write-in
  margin-top 4px

.asset-write-in
  display flex
  white-space nowrap
  margin-bottom 4px
  font-weight bold
  margin-right 1em

.asset-ability-write-in
  display inline
  white-space nowrap

.asset
  display inline-block
  width 320px
  max-width 320px
  border 2px solid #4C4D4F
  margin-bottom 20px
  font-size 14.3px
  line-height 1.25
  border-radius 1em
  box-shadow 2px 2px 6px 0px
  std-font('Encode Sans Condensed')
  input
    &.border-bottom
      border-bottom-color #4C4D4F
      padding 0

.asset-write-in input,
.asset-ability-write-in input
  height 1.4em
  width 100%
  padding 0
  margin-left 5px
  margin-top 2px
  font-size 15px
  font-weight bold

input[type="checkbox"].asset-ability
  opacity 1 !important
  margin-top 0.2em

.asset-type-selection
  background #4C4D4F
  color #fff
  border 0

.asset-type-dropdown
  color #fff
  background #4C4D4F
  width auto
  font-size 15px
  font-weight bold
  text-transform uppercase
  -webkit-appearance menulist
  margin 6px 4px

.sub-dropdown
  -webkit-appearance menulist
  width auto
  margin 7px 4px
  font-weight bold
  text-transform uppercase

.asset-track-wrapper
  margin 10px
  display flex

.asset-track-box
  width 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  border-radius 0%
  background transparent
  border 2px solid #4C4D4F
  padding 5px
  margin-bottom 2px

.asset-track-wrapper-wordy
  text-transform uppercase
  .asset-track-box
    flex-direction row

.asset-track-box-display
  font-size 17px
  font-weight bold

.ability-top
  margin-top 1em

.builder-name
  margin-bottom 0.5em

span.custom-asset-page
  margin-left 0.3em
  margin-right 0.5em

.asset-description-text
  margin-top: 0.4em

.asset-body
  font-size 14.3px
  line-height 1.25
  margin 0 0 4px


// TODO: pull all assets from json and create a template for each
// assets = json('starforged_assets_wip_june_2.json', { hash: true, leave-strings: true })
// for asset in assets
//   name = asset.Name.toLowerCase().replace(/\s/g, '-')
//   // input[type='checkbox'].name:checked ~ div.name
//   input[type='checkbox'].{name}:checked ~ div.{name}
//     display block
//     show-hide()

input[type=checkbox].custom:checked ~ div.custom
  display block
  show-hide()

input[type=checkbox].asset-toggle:checked + div.asset-card
  display block
  show-hide()

span.asset-name
  font-family 'Exo', Helvetica, Arial, sans-serif
  font-size 1.5em
  font-weight bold
  text-transform uppercase

.asset-content-header
  display flex
  justify-content space-between

.asset-details
  align-self center
  padding-left 1em

.category
  std-font('Exo')
  font-size 1.1em
  text-transform uppercase
  font-weight bold

.asset-options-header
  padding 0.2em 0.4em
  background #4C4D4F
  color #fff
  width 100%
  border 0
  border-radius 0.4em 0.4em 0em 0em
  font-size 1em
  text-transform uppercase
  std-font('Exo')
  &::placeholder
    color #b9b9b9

.custom
  padding 0.5em

.write-in-container
  display flex
  margin-left 0.85em
  margin-top 0.4em

.background-svg
  width 100px
  height 93px
  background-repeat no-repeat

$categories = {
  'path':#3B7FA9,
  'companion':#3C8B8A,
  'module':#7E5990,
  'support-vehicle':#485690,
  'deed':#4B974E,
  'command-vehicle': #99A3AD
}

for key, category in $categories
  .category-{key}
    .asset-details
      .category
        color category