include ./asset-custom
include ./asset-builder


mixin assets()
  .assets
    fieldset.repeating_assets.fixed-width
      .asset
        - let assetsArray = assets.Assets.filter(obj => { return obj.Category === 'Path' || obj.Category === 'Companion' || obj.Category === 'Deed' })
        +genericAssetBuilder(assetsArray, 'assetList')
        +customAssets
    .hidden-fields.hide-element
      each asset in assets.Assets
        - let assetClassName = asset.id.replace(/asset-/i, "")
        each ability, index in asset.Abilities
          - let assetAbility = `'${asset.id}-ability-${index + 1}',`
          //- - console.log(asset.id)
        input(class=`hide-element` type='checkbox' name=`attr_${assetClassName}`)