include ./asset-custom
include ./asset-builder


mixin assets()
  .assets
    fieldset.repeating_assets.fixed-width
      .asset
        - var assetsArray = assets.filter(obj => { return obj.Category === 'Path' || obj.Category === 'Companion' || obj.Category === 'Deed' })
        +genericBuilder(assetsArray, 'assetList')
        +customAssets
