include ./asset-custom
include ./asset-builder

mixin assets()
  - let onAssetsPage = ["Path", "Companion", "Deed"];
  .assets
    fieldset.repeating_assets.fixed-width
      .asset.surface
        - let assetsArray = assets.filter((assetGroup) => onAssetsPage.includes(assetGroup["Name"]))
        - let finalisedAssetList = assetsArray.map((assetGroup) => assetGroup.Assets).flat()
        +genericAssetBuilder(finalisedAssetList, 'assetList')
        +customAssets
    .hidden-fields.hide-element
      each asset in finalisedAssetList
        - let assetClassName = asset.Name.replace(" ", "-").toLowerCase()
        each ability, index in asset.Abilities
          - let assetAbility = `asset-'${assetClassName}-ability-${index + 1}',`
        input(class=`hide-element` type='checkbox' name=`attr_${assetClassName}`)