include ./asset-custom
include ./asset-builder


mixin assets()
  .assets
    fieldset.repeating_assets.fixed-width
      .asset
        - var assetsArray = assets.Assets.filter(obj => { return obj.Category === 'Path' || obj.Category === 'Companion' || obj.Category === 'Deed' })
        +genericBuilder(assetsArray, 'assetList')
        +customAssets
    //- .hidden-fields.hide-element
    //-   each asset in assets.Assets
    //-     each ability, index in asset.Abilities
    //-       - var assetAbility = `'${asset.Name}-ability-${index + 1}',`
    //-       - var formattedAbility = assetAbility.replace(/ /g, '-').toLowerCase()
    //-       - console.log(formattedAbility)
    //-       input(class=`hide-element` type='checkbox' name=`attr_${formattedAbility}`)