/* -------------------------- IMPORTS -------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* -------------------------- BASE STYLES -------------------------- */
.charsheet {
  --main-color: #1c865e;
  --secondary-color: #1e2021;
  --accent-color: #9adbc3;
  --background-grey: #f1f1f1;
  --border-grey: #d9d9d9;
  --text-grey: #9b9b9b;
  --h4color:#4f4f4f;
  --blackandwhite:white;
  --blackandwhite2:#1f1f1f;
  --main-font: "Orbitron" !important;
  --standard-font: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  --secondary-font: "Questrial", sans-serif;
}

.sheet-darkmode .charsheet {
  --main-color: #1c865e;
  --secondary-color: #d6e0e6;
  --accent-color: #9adbc3;
  --background-grey: #2d2d2d;
  --border-grey: #454545;
  --text-grey: #8d8d8d;
  --h4color:#9b9b9b;
  --blackandwhite:#1f1f1f;
  --blackandwhite2:white;
  --main-font: "Orbitron" !important;
  --standard-font: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  --secondary-font: "Questrial", sans-serif;
}

.sheet-darkmode .charactersheet {
  background-color:var(--blackandwhite);
}

* {
  box-sizing: border-box;
}

/* -------------------------- DARK MODE STYLES -------------------------- */

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: default;
  border-color: var(--border-grey) !important;
  color: var(--text-grey)!important;
  background-color: var(--background-grey);
}

/* -------------------------- UI DIALOG STYLES -------------------------- */
button,
input,
select,
span,
label,
option,
textarea,
button[type="roll"] {
  width: 100% !important;
  background-image: none;
  border-radius: 4px;
  font-size: 12px !important;
  -moz-appearance: textfield;
  appearance: none;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
  outline: none;
  display: inline-block;
  padding: 4px;
  border: none;
  font-weight: 500;
  line-height: 18px;
  color: var(--secondary-color);
  border-color: var(--border-grey) !important;
  background-color: var(--background-grey);
  border: 1px solid;
}

button,
input,
select,
span,
label,
option,
button[type="roll"] {
  height: 18px !important;
  margin: 0;
  padding: 0;
}

.charsheet label {
  background-color: transparent !important;
  border: none !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

label.sheet-legend,
.sheet-character-bars label {
  color: var(--text-grey) !important;
  font-size: 8px !important;
  font-weight: bold;
  line-height: 10px;
  max-height: 10px;
  text-transform: uppercase;
  text-align: left;
}

label.sheet-legend2 {
  color: #6b6b6b !important;
  font-size: 8px !important;
  font-weight: normal;
  line-height: 8px;
  max-height: 8px;
  text-transform: uppercase;
  text-align: center;
}

input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.ui-dialog .charsheet input[type="checkbox"]:checked + span {
  color: var(--main-color);
  align-items: center;
  max-height: 18px;
}

.ui-dialog .charsheet .sheet-talent-card2 input[type="checkbox"]:checked + span {
  color: var(--text-grey);
}

.ui-dialog .charsheet .sheet-features-traits2 input[type="checkbox"]:checked + span {
  color: var(--secondary-color);
}

.ui-dialog .charsheet input[type="checkbox"]:hover + span {
  color: var(--main-color);
  align-items: center;
  max-height: 18px;
}

/* -------------------------- INPUT STYLES -------------------------- */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  text-align: center;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* -------------------------- PLACEHOLDERS -------------------------- */

::placeholder {
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  font-family: "Montserrat" !important;
  text-align: left !important;
  justify-content: left;
}

.sheet-equipement-global-visible input::placeholder,
.sheet-equipement-global-unvisible input::placeholder,
.sheet-equipement-global-visible h5 {
  font-size: 8.5px;
  line-height: 8.5px;
}

.sheet-equipement-global-visible textarea::placeholder {
  font-size: 8.5px;
  line-height: 12px;
}

/* -------------------------- BUTTON STYLES -------------------------- */

.btn,
.btn.btn-default,
input[type="checkbox"] {
  border-color: var(--border-grey) !important;
  max-height: 18px;
  border-radius: 4px;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}

.sheet-features-traits2 input[type="checkbox"]:checked {
  background-color: var(--secondary-color) !important;
}

input[type="checkbox"]:checked {
  background-color: var(--main-color);
}

.ui-dialog .charsheet button[type="roll"],
input[type="checkbox"]:checked {
  padding: 0;
  margin: 0;
  border: 1px solid #999 !important;
  z-index: 2;
  max-height: 18px;
}

.ui-dialog .charsheet button[type="roll"]:before {
  text-align: center;
  font-family: Material Symbols Outlined !important;
  font-size: 13px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.sheet-button-instance button {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.sheet-button-instance button:hover + label {
  background-color: red !important;
  color: var(--blackandwhite);
}

/* -------------------------- BUTTON ICON STYLES -------------------------- */

button[type="roll"].sheet-button-none:before {
  content: "" !important;
}
button[type="roll"].sheet-button-description:before {
  content: "description" !important;
}
button[type="roll"].sheet-button-attack:before {
  content: "swords" !important;
}

/* -------------------------- SPECIAL -------------------------- */

.sheet-main-skills input[type="checkbox"]:checked::before,
.sheet-main-skills input[type="checkbox"]::before,
.sheet-main-savingthrows input[type="checkbox"]:checked::before,
.sheet-main-savingthrows input[type="checkbox"]::before,
.sheet-talent-card2 .sheet-checkbox-active:checked::before,
.sheet-talent-card2 .sheet-checkbox-active::before {
  content: "";
}

.sheet-main-skills input[type="checkbox"]:checked,
.sheet-main-savingthrows input[type="checkbox"]:checked,
.sheet-talent-card2 .sheet-checkbox-active:checked {
  border-radius: 100%;
  width: 10px !important;
  height: 10px !important;
}

.sheet-main-skills input[type="checkbox"],
.sheet-main-savingthrows input[type="checkbox"],
.sheet-talent-card2 .sheet-checkbox-active {
  border-radius: 100%;
  width: 10px !important;
  height: 10px !important;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  color: var(--blackandwhite);
  font-size: 10px;
}

input[type="checkbox"]::before {
  content: "✘";
  color: grey;
  font-size: 10px;
}

/* -------------------------- TEXT AREA STYLES -------------------------- */
.charsheet textarea {
  width: 100% !important;
  border: none;
  height: 16px;
  line-height: 14px !important;
  text-shadow: none;
  font-family: var(--secondary-font);
  font-weight: normal;
  border: 1px solid var(--border-grey);
  box-shadow: none;
  resize: vertical;
  overflow: hidden;
  padding: 0 5px;
  margin: 0;
}

/* -------------------------- ROLL TEMPLATE -------------------------- */

.sheet-rolltemplate-gundam,
.sheet-rolltemplate-gundam-description {
  --main-color: #1c865e;
  --secondary-color: #1e2021;
  --accent-color: #9adbc3;
  --background-grey: #d4e6dd;
  --border-grey: #d9d9d9;
  --text-grey: #9b9b9b;
  --background-main: white;
  --main-font: "Orbitron" !important;
  --standard-font: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-color: #31383f;
  font-size: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sheet-rolltemplate-gundam .sheet-triplecolumn {
  grid-template-columns: 10fr 20px 10fr;
  padding: 10px 50px !important;
  column-gap: 0px !important;
}

.sheet-rolltemplate-gundam-description .sheet-extra-button,
.sheet-rolltemplate-gundam .sheet-extra-button {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 100%;
  text-align: center;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls,
.sheet-rolltemplate-gundam .sheet-template-rolls {
  display: grid;
  gap: 5px;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls.sheet-template-rolls2,
.sheet-rolltemplate-gundam .sheet-template-rolls.sheet-template-rolls2 {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  width: 66%;
  margin: 0 auto;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls.sheet-template-rolls3,
.sheet-rolltemplate-gundam .sheet-template-rolls.sheet-template-rolls3 {
  grid-template-columns: 1fr;
  column-gap: 5px;
  border-top: solid 1px var(--main-color);
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls.sheet-template-rolls4,
.sheet-rolltemplate-gundam .sheet-template-rolls.sheet-template-rolls4 {
  grid-template-columns: 1fr;
  column-gap: 5px;
  border-bottom: solid 1px var(--main-color);
  background-color: #a8e3cd;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls.sheet-template-rolls4 .sheet-template-rolls5,
.sheet-rolltemplate-gundam .sheet-template-rolls.sheet-template-rolls4 .sheet-template-rolls5 {
  flex-direction: row;
  display: flex;
  margin: auto;
}


.sheet-rolltemplate-gundam-description .sheet-template-header,
.sheet-rolltemplate-gundam .sheet-template-header {
  display: grid;
  padding: 10px 5px 20px 5px;
  margin: 0;
  background-color: var(--background-grey);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.sheet-rolltemplate-gundam-description .sheet-header-bloc,
.sheet-rolltemplate-gundam .sheet-header-bloc {
  display: grid;
  gap: 5px;
  padding: 10px 5px;
  margin: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-bottom: solid 1px var(--main-color);
}

.sheet-rolltemplate-gundam-description .sheet-template-header::before,
.sheet-rolltemplate-gundam .sheet-template-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame4.png");
  border-image-slice: 25;
  border-image-width: 18px;
  border-image-outset: 0px;
  border-image-repeat: stretch stretch;
  pointer-events: none;
  z-index: 0;
}

.sheet-rolltemplate-gundam-description .sheet-template-header > *,
.sheet-rolltemplate-gundam .sheet-template-header > * {
  position: relative;
  z-index: 1;
}

.sheet-rolltemplate-gundam-description .sheet-template-roll span,
.sheet-rolltemplate-gundam .sheet-template-roll span {
  background-color: var(--blackandwhite2)!important;
  border: 2px solid #1f1f1f !important;
  text-align: center;
}

.sheet-rolltemplate-gundam-description .sheet-dmg,
.sheet-rolltemplate-gundam .sheet-dmg {
  margin-bottom: 8px !important;
}

.sheet-rolltemplate-gundam-description .inlinerollresult,
.sheet-rolltemplate-gundam-description span,
.sheet-rolltemplate-gundam .inlinerollresult,
.sheet-rolltemplate-gundam span {
  background-color: transparent !important;
  border: none !important;
  padding: 3px 5px !important;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

.sheet-rolltemplate-gundam-description .sheet-description3 .inlinerollresult,
.sheet-rolltemplate-gundam-description .sheet-description3 span,
.sheet-rolltemplate-gundam .sheet-description3 .inlinerollresult,
.sheet-rolltemplate-gundam .sheet-description3 span {
  font-size: 14px;
}

.sheet-rolltemplate-gundam-description span,
.sheet-rolltemplate-gundam span {
  font-family: var(--main-font);
  font-size: 18px;
}

.sheet-rolltemplate-gundam-description .sheet-effect,
.sheet-rolltemplate-gundam-description .sheet-description,
.sheet-rolltemplate-gundam .sheet-effect,
.sheet-rolltemplate-gundam .sheet-description {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  line-height: 12px;
  color: var(--secondary-color) !important;
  margin: -10px 0 10px;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls .sheet-roll-detail,
.sheet-rolltemplate-gundam .sheet-template-rolls .sheet-roll-detail {
  display: grid;
  grid-template-columns: repeat(4, 1fr) !important;
  width: 40%;
  margin: 0 auto;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls .sheet-roll-detail.sheet-roll-detail2,
.sheet-rolltemplate-gundam .sheet-template-rolls .sheet-roll-detail.sheet-roll-detail2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  width: 20%;
  margin: 0 auto;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls .sheet-roll-detail .sheet-roll span,
.sheet-rolltemplate-gundam .sheet-template-rolls .sheet-roll-detail .sheet-roll span {
  font-size: 18px;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls .sheet-description2,
.sheet-rolltemplate-gundam .sheet-template-rolls .sheet-description2 {
  grid-column: 1/-1;
  text-align: center;
  font-size: 12px !important;
  text-transform: uppercase;
  opacity: 1;
  color: var(--main-color) !important;
  font-weight: bolder;
  margin-top: 8px;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls .sheet-description2 span,
.sheet-rolltemplate-gundam .sheet-template-rolls .sheet-description2 span {
  color: var(--blackandwhite2);
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls .sheet-description3,
.sheet-rolltemplate-gundam .sheet-template-rolls .sheet-description3 {
  grid-column: 1/-1;
  text-align: center;
  font-size: 14px !important;
  text-transform: uppercase;
  opacity: 1;
  color: var(--secondary-color) !important;
  border-bottom: solid 1px var(--main-color);
  padding: 5px 0;
  font-weight: bolder;
  background-color: #a8e3cd;
}

.sheet-rolltemplate-gundam-description .sheet-template-rolls .sheet-description3 span,
.sheet-rolltemplate-gundam .sheet-template-rolls .sheet-description3 span {
  color: var(--blackandwhite2);
  font-family: var(--secondary-font);
}

.sheet-rolltemplate-gundam-description .sheet-effect .inlinerollresult,
.sheet-rolltemplate-gundam .sheet-effect .inlinerollresult {
  font-size: 14px !important;
  padding: 0 !important;
  color: rgb(63 63 63) !important;
}

.sheet-rolltemplate-gundam-description .sheet-roll,
.sheet-rolltemplate-gundam .sheet-roll {
  font-size: 18px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 600;
  vertical-align: super;
  margin-bottom: 10px;
}

.sheet-rolltemplate-gundam-description .sheet-roll.sheet-dmg,
.sheet-rolltemplate-gundam .sheet-roll.sheet-dmg {
  margin-bottom: 10px !important;
}

.sheet-rolltemplate-gundam-description .sheet-template-header .sheet-headerstyle1,
.sheet-rolltemplate-gundam .sheet-template-header .sheet-headerstyle1 {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: bolder;
  color: var(--secondary-color);
  padding: 0 10px !important;
  text-transform: uppercase;
  margin: -5px 0 0 0;
}

.sheet-rolltemplate-gundam-description .sheet-template-header .sheet-headerstyle2,
.sheet-rolltemplate-gundam .sheet-template-header .sheet-headerstyle2 {
  font-size: 12px;
  font-weight: normal;
  color: var(--main-color) !important;
  padding: 0 !important;
  font-family: var(--standard-font);
  margin-top: -4px;
}

.sheet-rolltemplate-gundam-description .sheet-template-header .sheet-headerstyle3,
.sheet-rolltemplate-gundam .sheet-template-header .sheet-headerstyle3 {
  font-size: 12px;
  font-weight: normal;
  color: var(--main-color) !important;
  padding: 0 !important;
  font-family: var(--standard-font);
  margin-top: -4px;
}

.sheet-rolltemplate-gundam-description .sheet-template-header .sheet-headerstyle3,
.sheet-rolltemplate-gundam .sheet-template-header .sheet-headerstyle3 {
  font-family: var(--standard-font);
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  display: grid;
  color: var(--secondary-color) !important;
  margin-top: 8px;
  line-height: 8px;
}

.sheet-rolltemplate-gundam-description .sheet-template-header .sheet-headerstyle4,
.sheet-rolltemplate-gundam .sheet-template-header .sheet-headerstyle4 {
  font-family: var(--standard-font);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  display: grid;
  color: var(--main-color) !important;
  margin: -5px 0 6px 0;
  padding: 0!important;
  line-height: 10px;
}

.sheet-rolltemplate-gundam-description .sheet-roll.sheet-initiative {
  font-size: 16px !important;
}

.sheet-rolltemplate-gundam .sheet-allgrey .inlinerollresult {
  opacity: 0.25;
  color: var(--main-color) !important;
}

.sheet-rolltemplate-gundam .inlinerollresult.importantroll,
.sheet-rolltemplate-gundam .sheet-allblu .inlinerollresult {
  color: var(--secondary-color) !important;
}

.sheet-rolltemplate-gundam .inlinerollresult.fullfail,
.sheet-rolltemplate-gundam .sheet-allgreen .inlinerollresult {
  color: #b31515 !important;
}

.sheet-rolltemplate-gundam .inlinerollresult.fullcrit,
.sheet-rolltemplate-gundam .sheet-allred .inlinerollresult {
  color: #e7a820 !important;
}

.sheet-rolltemplate-gundam-description .sheet-extra-button,
.sheet-rolltemplate-gundam .sheet-extra-button {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 100%;
  text-align: center;
  border-top: solid 1px var(--main-color);
  padding: 14px 0 0 0;
}

.sheet-rolltemplate-gundam-description .sheet-extra-button a,
.sheet-rolltemplate-gundam .sheet-extra-button a {
  background-color: var(--accent-color) !important;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0px 25px;
  border-radius: 15px;
  border-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
}

.sheet-rolltemplate-gundam-description .sheet-extra-button a:hover,
.sheet-rolltemplate-gundam .sheet-extra-button a:hover {
  background-color: var(--text-grey) !important;
  color: var(--blackandwhite)!important;
}

/* -------------------------- H STYLE -------------------------- */
h3,
h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  align-content: center;
  color: var(--secondary-color);
}

h3 {
  font-family: var(--main-font) !important;
  font-size: 11px !important;
  line-height: 18px;
  color: var(--blackandwhite2);
  font-weight: bolder !important;;
}

h4 {
  font-family: var(--standard-font) !important;
  font-size: 9px !important;
  line-height: 18px;
  font-weight: normal;
  color: var(--h4color);
}

/* -------------------------- SPECIAL ALIGN STYLE -------------------------- */

.sheet-left {
  text-align: left !important;
  padding-left: 5px !important;
}

.sheet-center {
  text-align: center !important;
  padding-left: 25px;
}

.sheet-charsheet .sheet-hidden {
  display: none !important;
}

/* -------------------------- REP CONTROL CONTAINER SECTION -------------------------- */

.charsheet .repcontrol {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  max-height: 18px;
  margin: auto !important;
}

.repcontrol_add,
.repcontrol_edit,
.repcontrol_move,
.repcontrol_del {
  opacity: 0.6;
  border: 0;
}

.repcontrol_add:hover,
.repcontrol_edit:hover,
.repcontrol_move:hover,
.repcontrol_del:hover {
  outline: none;
  opacity: 1;
}

.repcontrol_add:focus,
.repcontrol_edit:focus,
.repcontrol_move:focus,
.repcontrol_del:focus {
  outline: none;
}

.repcontrol_move {
  height: 11px;
  margin-top: 2px;
  line-height: 11px;
}

.repcontrol_del {
  width: 30px;
  height: 22px;
  margin-top: 2px;
  line-height: 12px;
  font-family: "Pictos" !important;
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_edit {
  border-color: transparent;
  text-shadow: none;
  color: transparent;
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  height: 18px;
}

.charsheet .repcontrol_add:focus-visible,
.charsheet .repcontrol_edit:focus-visible {
  border: none !important;
}

.repcontrol_add:before {
  content: "+";
  visibility: visible;
  padding: 2px 0 0 0;
  border: none;
  font-family: pictos;
  font-size: 14px;
  color: #555;
  text-align: right;
  display: block;
  width: 100%;
}

.repcontrol_edit:after {
  content: "y";
  visibility: visible;
  padding: 0;
  border: none;
  font-family: pictos;
  font-size: 16px;
  color: #555;
  text-align: left;
  display: block;
  width: 100%;
  position: relative;
  top: -16px !important;
  height: fit-content;
}

.editmode ~ .repcontrol .repcontrol_edit:after {
  content: "y";
}

.charsheet .repcontainer .repitem .itemcontrol {
  display: none;
  position: absolute;
  top: 0;
  height: auto !important;
  background-color: transparent !important;
  z-index: 9999 !important;
  margin: 0;
}

.charsheet .repcontainer .repitem .itemcontrol .repcontrol_del {
  height: 100%;
  width: 49% !important;
  opacity: 0.75;
  background-color: var(--main-color);
  color: var(--secondary-color);
  align-items: center;
  display: grid;
  padding: 0;
  background-image: none;
  margin: 0;
  z-index: 9999 !important;
}

.repcontrol_del:hover {
  background-color: grey !important;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: grey;
}

.charsheet .repcontainer .repitem .itemcontrol .repcontrol_move {
  height: 100%;
  width: 49% !important;
  opacity: 0.75;
  background-color: var(--main-color);
  color: var(--secondary-color);
  align-items: center;
  display: grid;
  padding: 0;
  background-image: none;
  margin: 0;
  height: 18px;
  z-index: 9999 !important;
}

.repcontrol_move:hover {
  background-color: grey !important;
}

/* -------------------------- COGS -------------------------- */

.sheet-cogs-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 18px;
}

.sheet-cogs-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.sheet-cogs-icon {
  font-family: "Pictos";
  text-transform: none !important;
  font-size: 12px !important;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  color: var(--text-grey);
  font-weight: bold;
  background-color: transparent;
  border: none;
}

/* -------------------------- COUNTER REPEATING FIELDS -------------------------- */

.sheet-separative {
  width: 100%;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  margin: 5px auto;
  border: 1px;
  padding: 1px;
  opacity: 1;
}

.sheet-separative::before {
  content: "";
  display: block;
  width: 99%;
  height: 1px;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--text-grey);
  z-index: -1;
  border-radius: 50px;
}

/* -------------------------- INPUTS -------------------------- */

input.sheet-inputchar,
select.sheet-inputchar {
  height: 32px !important;
  max-height: 32px;
  font-size: 22px !important;
  font-family: var(--main-font);
  font-weight: bolder;
  background-color: transparent !important;
  border: none;
}

input.sheet-inputchar2 {
  height: 20px !important;
  max-height: 16px;
  max-width: 45px;
  font-size: 12px !important;
  font-family: var(--secondary-font);
  color: var(--secondary-color) !important;
}

.sheet-button-holder input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

div.sheet-button-holder {
  max-height: 18px !important;
}

/* -------------------------- RADIO INPUTS -------------------------- */

input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 100% !important;
  top: 0;
  left: 0;
  z-index: 99;
}

.radio-button {
  position: relative;
  text-align: center !important;
  width: 100% !important;
  background-image: none;
  border-radius: 4px;
  -moz-appearance: textfield;
  appearance: none;
  text-shadow: none;
  box-shadow: none;
  outline: none;
  height: 18px !important;
  border-color: var(--border-grey) !important;
  background-color: var(--background-grey);
  border: 1px solid;
  font-family: var(--secondary-font);
  font-size: 12px !important;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 100 !important;
  margin: 0;
  padding: 0;
}

input[type="radio"]:checked + .radio-button {
  background-color: var(--main-color);
  color: var(--blackandwhite);
  margin: 0;
  padding: 0;
  font-weight: bolder !important;
  text-shadow: 1px 1px 5px var(--blackandwhite2);
}

button:hover ~ span,
input:hover ~ span {
  color: var(--main-color)!important;
}

/* -------------------------- DIVS -------------------------- */

.sheet-charsheet div {
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
  align-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.sheet-standardbox::before {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  z-index: 0;
  min-width: 0;
  overflow: hidden;
}

.sheet-darkmode .sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame1w.png") 22 fill stretch;
}

.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame1.png") 22 fill stretch;
  border-style: solid;
  border-width: 15px 15px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.sheet-darkmode .sheet-standardbox2.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame2w.png") 22 fill stretch !important;
}

.sheet-standardbox2.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame2.png") 22 fill stretch !important;
}

.sheet-darkmode .sheet-standardbox2reverse.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame2w.png") 22 fill stretch !important;
  transform: scaleY(-1);
}

.sheet-standardbox2reverse.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame2.png") 22 fill stretch !important;
  transform: scaleY(-1);
}

.sheet-darkmode .sheet-standardbox2mirror.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame2w.png") 22 fill stretch !important;
  transform: scaleX(-1);
}

.sheet-standardbox2mirror.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame2.png") 22 fill stretch !important;
  transform: scaleX(-1);
}

.sheet-darkmode .sheet-standardbox2reversemirror.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame2w.png") 22 fill stretch !important;
  transform: scaleX(-1);
  transform: scaleY(-1);
}

.sheet-standardbox2reversemirror.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame2.png") 22 fill stretch !important;
  transform: scaleX(-1);
  transform: scaleY(-1);
}

.sheet-darkmode .sheet-standardbox3.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame3w.png") 22 fill stretch !important;
  transform: scaleX(-1);
}

.sheet-standardbox3.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame3.png") 22 fill stretch !important;
  transform: scaleX(-1);
}

.sheet-darkmode .sheet-standardbox4.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame4w.png") 22 fill stretch !important;
}

.sheet-standardbox4.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame4.png") 22 fill stretch !important;
}

.sheet-darkmode .sheet-standardbox4mirror.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame4w.png") 22 fill stretch !important;
  transform: scaleY(-1);
}

.sheet-standardbox4mirror.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame4.png") 22 fill stretch !important;
  transform: scaleY(-1);
}

.sheet-darkmode .sheet-standardbox5.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame5w.png") 22 fill stretch !important;
}

.sheet-standardbox5.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame5.png") 22 fill stretch !important;
}

.sheet-darkmode .sheet-standardbox5reverse.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame5w.png") 22 fill stretch !important;
  transform: scaleY(-1);
}

.sheet-standardbox5reverse.sheet-standardbox::before {
  border-image: url("https://www.spirito.fr/DL/RP/gundam/BlocFrame5.png") 22 fill stretch !important;
  transform: scaleY(-1);
}

.sheet-oneline {
  width: calc(100% - 20px) !important;
  margin: 8px auto !important;
}

.sheet-mobilearmor-statistics .sheet-oneline {
  margin: 5px auto !important;
}

.sheet-oneline-special {
  width: calc(100% - 10px) !important;
  margin: 6px auto !important;
  border: none !important;
}

.sheet-onecolumn {
  grid-template-columns: 100%;
}

.sheet-doublecolumn,
.sheet-triplecolumn,
.sheet-quadcolumn,
.sheet-fivethcolumn,
.sheet-sixcolumn,
.sheet-eightcolumn,
.sheet-tencolumn {
  column-gap: 10px !important;
  align-items: start !important;
}

.sheet-triplecolumn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sheet-doublecolumn {
  grid-template-columns: repeat(2, 1fr);
}

.sheet-quadcolumn {
  grid-template-columns: repeat(4, 1fr);
}

.sheet-fivethcolumn {
  grid-template-columns: repeat(5, 1fr);
}

.sheet-sixcolumn {
  grid-template-columns: repeat(6, 1fr);
}

.sheet-eightcolumn {
  grid-template-columns: repeat(8, 1fr);
}

.sheet-tencolumn {
  grid-template-columns: repeat(10, 1fr);
}

.sheet-cogs {
  justify-content: end;
  right: 0;
  position: absolute !important;
  z-index: 2;
}

.sheet-activepage {
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px !important;
  align-items: start !important;
  margin-bottom: 10px !important;
}

/* -------------------------- HIDESHOW -------------------------- */

.sheet-cogs-hideshow-equipment-div {
  display: none !important;
}

.sheet-cogs-hideshow-equipment:checked ~ .sheet-cogs-hideshow-equipment-div {
  display: grid !important;
}

.sheet-cogs-hideshow:not(:checked) ~ .sheet-cogs-hideshow-div1,
.sheet-cogs-hideshow:checked ~ .sheet-cogs-hideshow-div2 {
  display: none;
}

.sheet-talent1-hideshow:not(:checked) ~ .sheet-talent1-hideshow-div1,
.sheet-talent1-hideshow:checked ~ .sheet-talent1-hideshow-div2,
.sheet-talent2-hideshow:not(:checked) ~ .sheet-talent2-hideshow-div1,
.sheet-talent2-hideshow:checked ~ .sheet-talent2-hideshow-div2,
.sheet-talent3-hideshow:not(:checked) ~ .sheet-talent3-hideshow-div1,
.sheet-talent3-hideshow:checked ~ .sheet-talent3-hideshow-div2,
.sheet-talent4-hideshow:not(:checked) ~ .sheet-talent4-hideshow-div1,
.sheet-talent4-hideshow:checked ~ .sheet-talent4-hideshow-div2,
.sheet-talent5-hideshow:not(:checked) ~ .sheet-talent5-hideshow-div1,
.sheet-talent5-hideshow:checked ~ .sheet-talent5-hideshow-div2,
.sheet-talent6-hideshow:not(:checked) ~ .sheet-talent6-hideshow-div1,
.sheet-talent6-hideshow:checked ~ .sheet-talent6-hideshow-div2,
.sheet-talent7-hideshow:not(:checked) ~ .sheet-talent7-hideshow-div1,
.sheet-talent7-hideshow:checked ~ .sheet-talent7-hideshow-div2,
.sheet-talent8-hideshow:not(:checked) ~ .sheet-talent8-hideshow-div1,
.sheet-talent8-hideshow:checked ~ .sheet-talent8-hideshow-div2,
.sheet-talent9-hideshow:not(:checked) ~ .sheet-talent9-hideshow-div1,
.sheet-talent9-hideshow:checked ~ .sheet-talent9-hideshow-div2,
.sheet-talent10-hideshow:not(:checked) ~ .sheet-talent10-hideshow-div1,
.sheet-talent10-hideshow:checked ~ .sheet-talent10-hideshow-div2,
.sheet-talent11-hideshow:not(:checked) ~ .sheet-talent11-hideshow-div1,
.sheet-talent11-hideshow:checked ~ .sheet-talent11-hideshow-div2,
.sheet-talent12-hideshow:not(:checked) ~ .sheet-talent12-hideshow-div1,
.sheet-talent12-hideshow:checked ~ .sheet-talent12-hideshow-div2,
.sheet-talent13-hideshow:not(:checked) ~ .sheet-talent13-hideshow-div1,
.sheet-talent13-hideshow:checked ~ .sheet-talent13-hideshow-div2,
.sheet-talent14-hideshow:not(:checked) ~ .sheet-talent14-hideshow-div1,
.sheet-talent14-hideshow:checked ~ .sheet-talent14-hideshow-div2,
.sheet-talent15-hideshow:not(:checked) ~ .sheet-talent15-hideshow-div1,
.sheet-talent15-hideshow:checked ~ .sheet-talent15-hideshow-div2,
.sheet-talent16-hideshow:not(:checked) ~ .sheet-talent16-hideshow-div1,
.sheet-talent16-hideshow:checked ~ .sheet-talent16-hideshow-div2 {
  display: none;
}

.sheet-talent1-description-hideshow:checked ~ textarea,
.sheet-talent2-description-hideshow:checked ~ textarea,
.sheet-talent3-description-hideshow:checked ~ textarea,
.sheet-talent4-description-hideshow:checked ~ textarea,
.sheet-talent5-description-hideshow:checked ~ textarea,
.sheet-talent6-description-hideshow:checked ~ textarea,
.sheet-talent7-description-hideshow:checked ~ textarea,
.sheet-talent8-description-hideshow:checked ~ textarea,
.sheet-talent9-description-hideshow:checked ~ textarea,
.sheet-talent10-description-hideshow:checked ~ textarea,
.sheet-talent11-description-hideshow:checked ~ textarea,
.sheet-talent12-description-hideshow:checked ~ textarea,
.sheet-talent13-description-hideshow:checked ~ textarea,
.sheet-talent14-description-hideshow:checked ~ textarea,
.sheet-talent15-description-hideshow:checked ~ textarea,
.sheet-talent16-description-hideshow:checked ~ textarea {
  display: none;
}

.sheet-description-hideshow:checked ~ textarea {
  display: none;
}

/* -------------------------- GUNDAM SPECIAL DIV -------------------------- */

.sheet-main-skills div,
.sheet-main-savingthrows div {
  row-gap: 0px !important;
}

.sheet-main-skills .sheet-oneline div {
  grid-template-columns: 8px 25px 12px 1fr;
  justify-content: space-between;
  column-gap: 7.5px;
  padding-left: 3px;
}

.sheet-main-savingthrows .sheet-oneline div {
  grid-template-columns: 8px 12px 1fr;
  justify-content: space-between;
  column-gap: 7.5px;
  padding-left: 3px;
}

.sheet-main-savingthrows select,
.sheet-main-savingthrows input[type="number"],
.sheet-main-skills select,
.sheet-main-skills input[type="number"] {
  font-size: 9px !important;
  border: none;
  background-color: transparent !important;
}

.sheet-main-proficiencies select,
.sheet-main-proficiencies input[type="number"] {
  font-size: 9px !important;
}

.sheet-main-skills input[type="number"],
.sheet-main-savingthrows input[type="number"],
.sheet-main-proficiencies input[type="number"] {
  padding: 0;
  margin: 0;
}

.sheet-button-div-holder button {
  position: absolute;
  opacity: 0;
}

.sheet-button-div-holder button:hover ~ h4,
.sheet-button-div-holder button:hover ~ h3 {
  color: var(--main-color);
  font-weight: bold;
}

.sheet-header {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px !important;
}

.sheet-header2 {
  grid-template-columns: repeat(2, 1fr) repeat(2, 50px);
  column-gap: 5px !important;
}

.sheet-firstcolumn {
  grid-template-columns: 1fr 2fr;
  column-gap: 5px !important;
}

.sheet-main-image {
  grid-area: image;
  background-image: url("https://www.spirito.fr/DL/RP/gundam/New-Gundam-RPG-Logo.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.sheet-maingrid-area,
.sheet-maingrid-area-talents,
.sheet-maingrid-area-header,
.sheet-background-area {
  grid-template-columns: repeat(9, 1fr);
  height: 100%;
  gap: 10px !important;
  align-items: start !important;
}

.sheet-base-display,
.sheet-mobilearmor-display,
.sheet-talents-display,
.sheet-background-display,
.sheet-background-area {
  margin-top: 10px !important;
}

.sheet-mobilearmor-display .sheet-standardbox.sheet-mobilearmor1 .sheet-oneline {
  width: calc(100% - 30px) !important;
  margin: 8px auto !important;
}

.sheet-maingrid-area-header > div,
.sheet-maingrid-area-mobile-armor > div,
.sheet-maingrid-area > div,
.sheet-maingrid-area-talents > div,
.sheet-background-area > div {
  min-height: 30px;
  gap: 10px;
  height: 100%;
}

.sheet-mobilearmor-name input {
  background-color: transparent;
  border: none !important;
  height: 100% !important;
  font-family: var(--main-font);
  color: var(--main-color);
}

.sheet-maingrid-area-mobile-armor h4 {
line-height:14px!important;
  }

.sheet-maingrid-area > div {
  align-content: flex-start !important;
  grid-template-columns: 82px 82px 82px !important;
  justify-content: space-between;
  width: 100% !important;
}

.sheet-maingrid-area-header > div > div,
.sheet-maingrid-area-mobile-armor > div > div,
.sheet-maingrid-area > div > div,
.sheet-maingrid-area-talents > div > div,
.sheet-background-area > div > div {
  height: 100%;
}

.sheet-main-features-traits,
.sheet-main-equipment,
.sheet-main-proficiencies {
  height: auto !important;
}

.sheet-maingrid-area-header {
  grid-template-areas:
    "header header header header header image image image image"
    "menu menu menu menu menu menu rollstatus rollstatus rollstatus ";
}

.sheet-maingrid-area {
  grid-template-areas: "gridleft gridleft gridleft gridmiddle gridmiddle gridmiddle gridright gridright gridright";
}

.sheet-maingrid-area-left {
  grid-template-areas:
    "statistics inspiration inspiration "
    "statistics proficiencybonus proficiencybonus "
    "statistics savingthrows savingthrows"
    "statistics savingthrows savingthrows"
    "statistics savingthrows savingthrows"
    "statistics skills skills"
    "statistics skills skills"
    "statistics skills skills"
    "statistics skills skills"
    "statistics skills skills"
    "statistics skills skills"
    "statistics skills skills"
    "passiveperception passiveperception passiveperception"
    "proficiencies proficiencies proficiencies";
  grid-area: gridleft;
}

.sheet-maingrid-area-middle {
  grid-template-areas:
    "initiative initiative initiative "
    "initiative initiative initiative"
    "hitpoint hitpoint hitpoint"
    "hitpoint hitpoint hitpoint"
    "deathsave deathsave deathsave"
    "deathsave deathsave deathsave"
    "attacktalents attacktalents attacktalents"
    "attacktalents attacktalents attacktalents"
    "attacktalents attacktalents attacktalents"
    "attacktalents attacktalents attacktalents"
    "attacktalents attacktalents attacktalents"
    "attacktalents attacktalents attacktalents"
    "equipment equipment equipment"
    "equipment equipment equipment";
  grid-area: gridmiddle;
}

.sheet-maingrid-area-right {
  grid-template-areas:
    "traits traits traits"
    "traits traits traits"
    "ideal ideal ideal"
    "ideal ideal ideal"
    "flaws flaws flaws"
    "flaws flaws flaws"
    "bonds bonds bonds"
    "bonds bonds bonds"
    "featurestraits featurestraits featurestraits"
    "featurestraits featurestraits featurestraits"
    "featurestraits featurestraits featurestraits"
    "featurestraits featurestraits featurestraits"
    "featurestraits featurestraits featurestraits"
    "featurestraits featurestraits featurestraits";
  grid-area: gridright;
}

.sheet-maingrid-area-right,
.sheet-maingrid-area-left,
.sheet-maingrid-area-middle {
  grid-template-rows: calc(41px - 5px) !important;
}


.sheet-maingrid-area-talents {
  grid-template-areas:
    "talents_ability talents_ability talents_ability talents_savedc talents_savedc talents_savedc talents_attackbonus talents_attackbonus talents_attackbonus"
    "talents_classlevel talents_classlevel talents_classlevel talents_classlevel talents_classlevel talents_classlevel talents_classlevel talents_classlevel talents_classlevel"
    "atwill atwill atwill level3 level3 level3 level6 level6 level6"
    "atwill atwill atwill level3 level3 level3 level6 level6 level6"
    "atwill atwill atwill level3 level3 level3 level6 level6 level6"
    "atwill atwill atwill level3 level3 level3 level7 level7 level7"
    "level1 level1 level1 level4 level4 level4 level7 level7 level7"
    "level1 level1 level1 level4 level4 level4 level7 level7 level7"
    "level1 level1 level1 level4 level4 level4 level8 level8 level8"
    "level1 level1 level1 level4 level4 level4 level8 level8 level8"
    "level2 level2 level2 level5 level5 level5 level8 level8 level8"
    "level2 level2 level2 level5 level5 level5 level9 level9 level9"
    "level2 level2 level2 level5 level5 level5 level9 level9 level9"
    "level2 level2 level2 level5 level5 level5 level9 level9 level9";
}

.sheet-background-area {
  grid-template-areas:
    "mobilearmor-art mobilearmor-art mobilearmor-art mobilearmor-art mobilearmor-art mobilearmor-art generalnotes generalnotes generalnotes"
    "mobilesarmornotes mobilesarmornotes mobilesarmornotes mobilesarmornotes character-art character-art character-art character-art character-art"
    "characternotes characternotes characternotes characternotes character-art character-art character-art character-art character-art";
}

.sheet-background-area > div > div {
  align-items: flex-start !important;
}

.sheet-background-mobilearmor-art img,
.sheet-background-character-art img {
  background-color: var(--background-grey) !important;
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1 / 1 !important;
  object-fit: cover;
  border-radius: 10px;
}

.sheet-background-mobilearmor-art {
  grid-area: mobilearmor-art;
}

.sheet-background-generalnotes {
  grid-area: generalnotes;
}

.sheet-background-mobilesarmornotes {
  grid-area: mobilesarmornotes;
}

.sheet-background-characternotes {
  grid-area: characternotes;
}

.sheet-background-character-art {
  grid-area: character-art;
}

.sheet-main-traits {
  grid-area: traits;
}

.sheet-main-traits > div,
.sheet-main-ideal > div,
.sheet-main-flaw > div,
.sheet-main-bond > div {
  height: 82px !important;
}

.sheet-main-statistiques > div > div {
  row-gap: 0px !important;
}

.sheet-main-bond {
  grid-area: bonds;
}

.sheet-main-ideal {
  grid-area: ideal;
}

.sheet-main-flaw {
  grid-area: flaws;
}

.sheet-talent-atwill-talents {
  grid-area: atwill;
}

.sheet-talent-level1-talents {
  grid-area: level1;
}

.sheet-talent-level2-talents {
  grid-area: level2;
}

.sheet-talent-level3-talents {
  grid-area: level3;
}

.sheet-talent-level4-talents {
  grid-area: level4;
}

.sheet-talent-level5-talents {
  grid-area: level5;
}

.sheet-talent-level6-talents {
  grid-area: level6;
}

.sheet-talent-level7-talents {
  grid-area: level7;
}

.sheet-talent-level8-talents {
  grid-area: level8;
}

.sheet-talent-level9-talents {
  grid-area: level9;
}

.sheet-talent-attackbonus {
  grid-area: talents_attackbonus;
}

.sheet-talent-savedc {
  grid-area: talents_savedc;
}

.sheet-talent-ability {
  grid-area: talents_ability;
}

.sheet-talent-classlevel {
  grid-area: talents_classlevel;
}

.sheet-mobilearmor-defenses {
  grid-area: mobilearmor_defenses;
}

.sheet-mobilearmor-attacks {
  grid-area: mobilearmor_attacks;
}

.sheet-mobilearmor-special {
  grid-area: mobilearmor_special;
}

.sheet-mobilearmor-description {
  grid-area: mobilearmor_desc;
}

.sheet-mobilearmor-statistics {
  grid-area: mobilearmor_statistics;
}

.sheet-mobilearmor-speeds {
  grid-area: mobilearmor_speeds;
}

.sheet-mobilearmor-name {
  grid-area: mobilearmor_name;
}

.sheet-mobilearmor-size {
  grid-area: mobilearmor_size;
}

.sheet-mobilearmor-tags {
  grid-area: mobilearmor_tags;
}

.sheet-main-menu {
  grid-area: menu;
}

.sheet-main-mobilearmor {
  grid-area: mobilearmor;
}

.sheet-main-attack-talents {
  grid-area: attacktalents;
}

.sheet-main-equipment {
  grid-area: equipment;
}

.sheet-main-proficiencies {
  grid-area: proficiencies;
}

.sheet-main-passiveperception {
  grid-area: passiveperception;
}

.sheet-main-features-traits {
  grid-area: featurestraits;
}

.sheet-main-header {
  grid-area: header;
}

.sheet-main-statistiques {
  grid-area: statistics;
  grid-template-rows: repeat(6, 1fr) !important;
  gap: 10px !important;
}

.sheet-main-inspiration {
  grid-area: inspiration;
  height: 34px !important;
}

.sheet-main-deathsave {
  grid-area: deathsave;
  height: 82px !important;
}

.sheet-main-proficiencybonus {
  grid-area: proficiencybonus;
  height: 34px !important;
}

.sheet-maingrid-area > div > div > div {
  height: 100% !important;
}

.sheet-main-skills {
  grid-area: skills;
}

.sheet-none {
  grid-area: none;
}

.sheet-main-savingthrows {
  grid-area: savingthrows;
}

.sheet-main-evasion-initiative-speed {
  grid-area: initiative;
  grid-template-rows: 1fr !important;
  height: 82px !important;
}

.sheet-main-hitpoint {
  grid-area: hitpoint;
  height: 82px !important;
}

.sheet-main-statistiques .sheet-inputchar {
  width: calc(100% - 20%) !important;
  margin: 0 auto 3px auto !important;
  border: none;
  max-height: 28px !important;
  height: 28px !important;
  padding: 0;
}

.sheet-main-statistiques .sheet-inputchar2 {
  background-color: transparent;
  margin: 0 auto !important;
  border: none;
}

.sheet-main-inspiration .sheet-oneline,
.sheet-main-proficiencybonus .sheet-oneline,
.sheet-main-passiveperception .sheet-oneline {
  grid-template-columns: 35px 1fr;
  column-gap: 5px !important;
}

.sheet-main-evasion-initiative-speed {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px !important;
}

.sheet-maingrid-area-talents textarea,
.sheet-background-display textarea {
  height: 50px;
  padding: 5px;
  font-size: 11px !important;
  line-height: 11px !important;
  font-style: italic;
  text-align: left;
}

.sheet-main-traits-section textarea,
.sheet-main-ideal-section textarea,
.sheet-main-flaw-section textarea,
.sheet-main-bond-section textarea,
.sheet-main-features-traits textarea,
.sheet-talent-classlevel textarea {
  height: 42px !important;
  padding: 5px;
  font-size: 11px !important;
  line-height: 11px !important;
  font-style: italic;
  text-align: left;
}

.sheet-maingrid-area-mobile-armor textarea {
  height: 70px!important;
  padding: 5px;
  font-size: 11px !important;
  line-height: 11px !important;
  font-style: italic;
  text-align: left;
}

.sheet-main-deathsave .sheet-oneline {
  grid-template-columns: 1fr repeat(3, 0.33fr);
  column-gap: 5px !important;
}

.sheet-features-traits {
  grid-template-columns: 1fr 15px;
}

.sheet-features-traits2 {
  grid-template-columns: 1fr 15px 15px;
}

.sheet-features-traits2 span[name="attr_features-names"] {
  font-family: var(--main-font);
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.sheet-features-traits2 span[name="attr_features-source"] {
  background-color: transparent;
  border: none;
  font-size: 10px !important;
  line-height: 10px;
  padding: 0;
  max-height: 10px !important;
  margin: -8px 0 0px 0;
  font-style: italic;
}

.sheet-features-traits2 span[name="attr_features-source"]::before {
  content: "(";
}

.sheet-features-traits2 span[name="attr_features-source"]::after {
  content: ")";
}

.sheet-features-traits2 textarea {
  padding: 0;
  background-color: transparent;
  border: none;
}

.sheet-proficiencies {
  grid-template-columns: 20px 2fr 25px 15px;
}

.sheet-proficiencies2 {
  grid-template-columns: 1fr 1fr 0.5fr;
}

.sheet-vanilla {
  background-color: transparent !important;
  border: none !important;
}

.sheet-equipment {
  grid-template-columns: 1fr repeat(2, 30px);
}

.sheet-totalweight {
  font-size: 18px !important;
  font-family: var(--main-font);
}

.sheet-main-statistiques .sheet-inputchar2 {
  position: relative;
  background-color: var(--blackandwhite);
  border-radius: 2px;
  border: 1px solid var(--text-grey) !important;
  height: 18px !important;
}

.sheet-main-statistiques .sheet-button-div-holder {
  position: relative;
  background-color: var(--blackandwhite);
  border-radius: 3px;
  padding: 0;
}

.sheet-main-menu .sheet-oneline {
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto!important;
  width: 98.5%!important;
  height: 50% !important;
}

.sheet-main-header-blank .sheet-oneline {
  height: 50% !important;
  width: 96%!important;
  margin: 0 auto!important;
}

.sheet-main-menu .sheet-oneline input,
.sheet-main-menu .sheet-oneline .sheet-online,
.sheet-main-header-blank input,
.sheet-main-header-blank .sheet-oneline .sheet-button-holder {
  height: 100% !important
}

.sheet-main-menu label,
.sheet-main-header-blank label {
  border-color: var(--border-grey) !important;
  background-color: transparent !important;
  color: var(--secondary-color) !important;
  font-family: var(--main-font);
  font-size: 12px!important;
  font-weight: bolder!important;
  line-height: 20px;
  height: 100%!important;
  border-radius: 0px;
}

.sheet-main-header-blank input.sheet-globalprivacy:checked + label {
  background-color: #e7a820 !important;
}

.sheet-main-menu input:checked + label,
.sheet-main-header-blank input:checked + label {
  border-color: var(--secondary-color) !important;
  background-color: var(--main-color) !important;
  color: var(--blackandwhite)!important;
}

.sheet-mobilearmor-speeds {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px !important;
}

.sheet-mobilearmor-statistics {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px !important;
  height: 100%!important;
}

.sheet-mobilearmor-statistics > div {
  height: 100%!important;
}

.sheet-statistics {
  gap: 5px !important;
}

.sheet-mobilearmor-core {
row-gap:2px!important;
}

.sheet-mobilearmor-core input.sheet-inputchar {
  height: auto !important;
  font-size: 22px !important;
  line-height: 22px;
}

.sheet-mobilearmor-core .sheet-inputchar2 {
  padding: 0;
  margin: 0;
  z-index: 99;
  background-color: transparent;
  height: 20px;
  max-height: none;
  font-size: 10px !important;
  font-family: var(--secondary-font);
  font-weight: normal;
  color: var(--secondary-color) !important;
}

.sheet-statistics input.sheet-inputchar2 {
  font-size: 12px !important;
  background-color: transparent;
}


.sheet-mobilearmor-core .sheet-temporary {
  position: absolute;
  width: 40px;
  height: 30px;
  background-color: var(--blackandwhite);
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.sheet-specialtemp {
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.66;
}

.sheet-specialeva {
  width: 20px !important;
  height: 20px !important;
  position: absolute;
  bottom: 73px;
  left: 244px;
}

.sheet-talent-card input,
.sheet-talent-card h4 {
  text-align: left !important;
}

.sheet-talent-card input[type="checkbox"] {
  text-align: center !important;
}

.sheet-talent-card-line0 {
  grid-template-columns: auto 1fr;
  column-gap: 5px !important;
  align-items: flex-start !important;
}

.sheet-talent-card-line1 {
  grid-template-columns: auto 1fr 20px;
  column-gap: 5px !important;
}

.sheet-talent-card-line2 {
  grid-template-columns: auto 0.5fr auto 1fr;
  column-gap: 5px !important;
}

.sheet-talent-card-line3 {
  grid-template-columns: 49px 1fr 35px;
  column-gap: 5px !important;
}

.sheet-talent-card-line4 {
  grid-template-columns: auto 35px;
  column-gap: 5px !important;
}

.sheet-talent-card-line5 {
  grid-template-columns: auto 1fr 20px;
  column-gap: 5px !important;
}

.sheet-talent-card-line6 {
  grid-template-columns: auto 1fr auto 0.5fr;
  column-gap: 5px !important;
}

.sheet-talent-card-line4 .sheet-talent-name {
  font-family: var(--main-font);
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.sheet-talent-card-line4 span.sheet-isconcentration {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center !important;
}

.sheet-talent-card2 .sheet-talent-source {
  background-color: transparent;
  border: none;
  font-size: 10px !important;
  line-height: 10px;
  padding: 0;
  max-height: 10px !important;
  margin: -8px 0 0px 0;
  font-style: italic;
  grid-column: 1 / -1;
  text-align: left !important;
  padding-left: 11px;
}

.sheet-talent-card2 span.sheet-isconcentration::before {
  content: "(";
}

.sheet-talent-card2 span.sheet-isconcentration::after {
  content: ")";
}

.sheet-talent-card2 {
  grid-template-columns: 8px 1fr 12px 12px;
}

.sheet-talent-card2.sheet-talent-card2-display {
  grid-template-columns: 8px 1fr 12px;
}

.sheet-talent-card2 textarea {
  background-color: transparent;
  border: none;
  text-align: left !important;
}

.sheet-concentration:not(:checked) ~ .sheet-isconcentration {
  display: none;
}

.sheet-talent-section > div,
.sheet-mobilearmor-attacks > div,
.sheet-main-attack-talents > div {
  align-items: flex-start;
}

.sheet-talent-section > div > div > div,
.sheet-main-attack-talents > div > div {
  gap: 0px !important;
}

.charsheet .sheet-talent-section .repcontrol {
  align-items: flex-start;
}

.sheet-mobilearmor-attacks-line1 {
  grid-template-columns: 20px 1fr 10px;
  column-gap: 5px !important;
}

.sheet-mobilearmor-attacks-line2 {
  grid-template-columns: auto 1fr auto 1fr;
  column-gap: 5px !important;
}

.sheet-mobilearmor-section {
  grid-template-columns: 1fr 1fr auto;
}

.sheet-mobilearmor-section,
.sheet-background-header-line1 {
  column-gap: 5px !important;
  row-gap: 0px!important;
}

.sheet-mobilearmor-section input::placeholder,
.sheet-background-header-line1 input::placeholder {
  text-align: center!important;
  justify-content: center!important;
}

.sheet-main-attack-talents .sheet-talent-source {
  padding: 0 !important;
}

.sheet-background-header-line1 {
  grid-template-columns: repeat(6, 1fr);
}

.sheet-background-area img {
  background-color: red;
}

.sheet-main-header-blank {
  grid-area: rollstatus;
}

.sheet-main-header-blank > div > div {
  grid-template-columns: repeat(3, 1fr) 12px repeat(3, 1fr);
  column-gap: 5px !important;
}

.sheet-main-header-blank label {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--secondary-color) !important;
}

.sheet-main-header-blank label {
  text-transform: uppercase !important;
}

.sheet-prevent-editing {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 999;
  pointer-events: all;
}

input:checked ~ .sheet-blocker-overlay input[type="number"],
input:checked ~ .sheet-blocker-overlay input[type="text"],
input:checked ~ .sheet-blocker-overlay textarea,
input:checked ~ .sheet-blocker-overlay select {
  background-color: transparent !important;
  color: var(--text-grey);
}

.sheet-talent-ability,
.sheet-talent-savedc,
.sheet-talent-attackbonus {
row-gap:2px!important;
}

.sheet-talent-ability h4,
.sheet-talent-savedc h4,
.sheet-talent-attackbonus h4 {
line-height:10px!important;
}

.sheet-maingrid-area-mobile-armor-left {
  grid-area:mobilearmor-left;
  grid-template-areas:
    "mobilearmor_speeds"
    "mobilearmor_statistics"
    "mobilearmor_statistics"
    "mobilearmor_desc"
    "mobilearmor_desc";
}

.sheet-maingrid-area-mobile-armor-right {
  grid-area:mobilearmor-right;
  grid-template-areas:
  "mobilearmor_defenses"
  "mobilearmor_core"
  "mobilearmor_core"
  "mobilearmor_special"
  "mobilearmor_special";
}

.sheet-maingrid-area-mobile-armor-mid {
  grid-area:mobilearmor-mid;
  grid-template-areas:
  "mobilearmor_attacks";
}

.sheet-maingrid-area-mobile-armor .sheet-mobilearmor-core {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px !important;
  grid-area: mobilearmor_core;
  grid-template-rows: 9px 1fr 9px !important;
  row-gap: 0px !important;
}

.sheet-mobilearmor-core > div {
  height: 90%;
}

.charsheet .sheet-maingrid-area-mobile-armor {
  grid-template-columns: repeat(10, 1fr);
  height: 100%;
  gap: 10px !important;
  align-items: flex-start!important;
  margin: 6px auto 8px auto !important;
  grid-template-rows: 39px!important;
}

.charsheet .sheet-maingrid-area-mobile-armor-mid,
.charsheet .sheet-maingrid-area-mobile-armor-right,
.charsheet .sheet-maingrid-area-mobile-armor-left {
  gap: 10px !important;
  margin: 0 auto !important;
  align-items: flex-start!important;
}

.charsheet .sheet-maingrid-area-mobile-armor-right,
.charsheet .sheet-maingrid-area-mobile-armor-left {
  grid-template-rows: repeat(5,50px)!important;
}

.sheet-maingrid-area-mobile-armor {
  grid-template-areas:
    "mobilearmor_name mobilearmor_name mobilearmor_name mobilearmor_name mobilearmor_name mobilearmor_size mobilearmor_tags mobilearmor_tags mobilearmor_tags mobilearmor_tags"
    "mobilearmor-left mobilearmor-left mobilearmor-left mobilearmor-mid mobilearmor-mid mobilearmor-mid mobilearmor-right mobilearmor-right mobilearmor-right mobilearmor-right";
}

.sheet-mobilearmor-attacks > div {
  min-height:290px!important;
}

.sheet-mobilearmor-display .sheet-mobilearmor-speeds .sheet-standardbox .sheet-oneline {
  width: 80% !important;
  margin: 8px auto !important;
  row-gap: 0px;
}

.sheet-mobilearmor-speeds input {
border:none;
font-family:var(--main-font);
background-color:transparent!important;
}

.sheet-main-hitpoint h4 {
  line-height: 10px !important;
}

.sheet-main-hitpoint div {
row-gap:2px!important;
}

.sheet-talent-section.sheet-minheight {
  min-height: 150px !important;
}

