mixin subHeader
  tr
    td(colspan="2" class="sheet-subheader") {{header}}

mixin actionHeader
  +subHeader
  tr
    th(colspan="2") {{name}}

mixin vowHeader
  +subHeader
  tr
    th(colspan="2") {{vowname}} 