include ../../data/char-nav

div.nav-bar
  each row in rows
    div.nav-row
      each page in row.pages 
        div.nav-child
          label.page-label
            if page.checked
              input(type='radio' name='attr_character_page_button' class='hide page-button' value=page.id checked)
            else
              input(type='radio' name='attr_character_page_button' class='hide page-button' value=page.id)
            div.page-button-back=page.text
