<rolltemplate class="sheet-rolltemplate-5e-shaped">
  <div class="rt-card">
    <div class="rt-header relative{{#action}} action{{/action}}{{#spell}} spell{{/spell}}{{#ability}} ability{{/ability}}{{#save}} save{{/save}}{{#deathsave}} deathsave{{/deathsave}}">
      <div class="rt-title pad-l-xxl pad-r-xxl">{{title}}</div>
      {{#show_character_name}}
        <div class="rt-subheader">{{character_name}}</div>
      {{/show_character_name}}

      {{#spell}}
        <div class="rt-subheader">{{friendly_level}}{{#cast_as_level}} (as {{cast_as_level}}){{/cast_as_level}}{{#school}} &bullet; {{school}}{{/school}}{{#ritual}} (ritual){{/ritual}}</div>
      {{/spell}}

      {{#action}}
        <div class="rt-subheader">{{reach}}{{#range}}{{#reach}} &bullet; {{/reach}}{{range}}{{/range}}{{#ammo}} &bullet; {{ammo}} ammo{{/ammo}}{{#target}} &bullet; {{target}}{{/target}}</div>
      {{/action}}
      {{#subheader}}
        <div class="rt-subheader">{{subheader}}</div>
      {{/subheader}}
      {{#targetName}}
        <div class="rt-subheader">vs {{targetName}}</div>
      {{/targetName}}
    </div>
    {{#emote}}
      <p class="rt-emote">{{character_name}} {{emote}}</p>
    {{/emote}}
    <div class="rt-content">
      {{#spell}}
        {{#casting_time}}
          <span class="bold">Casting Time:</span>
          {{casting_time}}
        {{/casting_time}}

        {{#range}}
          <span class="bold">Range:</span>
          {{range}}
        {{/range}}

        <span class="bold">Components:</span>
        {{#components_verbal}}V{{/components_verbal}}{{#components_somatic}}{{#components_verbal}}, {{/components_verbal}}S{{/components_somatic}}{{#components_material}}{{#components_verbal}}{{^components_somatic}}, {{/components_somatic}}{{/components_verbal}}{{#components_somatic}}, {{/components_somatic}}M{{/components_material}}{{#components_material}} ({{components_material}}){{/components_material}}

        {{#range}}
          <span class="bold">Duration:</span>
          {{duration}}
        {{/range}}
      {{/spell}}

      {{#description}}
        <div>{{description}}</div>
      {{/description}}

      {{#spell}}
        {{#target}}
          <div class="shaped-row">
            <div class="col-33 rt-key">Target</div>
            <div class="col-67 rt-value">{{target}}</div>
          </div>
        {{/target}}
      {{/spell}}
      {{#attack_toggle}}
        <div class="shaped-row center">
          <div class="col-{{^attack_adv}}100{{/attack_adv}}{{#attack_adv}}50{{/attack_adv}}">
            <div class="output">{{attack}}</div>
          </div>
          {{#attack_adv}}
            <div class="col-50 border-left">
              <div class="output">{{attack_adv}}</div>
            </div>
          {{/attack_adv}}
        </div>
        <div class="output-small-label center">vs AC{{#targetAC}} {{targetAC}}{{/targetAC}}</div>
      {{/attack_toggle}}

      {{#saving_throw_toggle}}
        {{#saving_throw_condition}}
          <div class="center output-small-label">{{saving_throw_condition}}</div>
        {{/saving_throw_condition}}
        {{#saving_throw_dc}}
          <div class="output">
            <span class="no-class{{#hide_saving_throw_dc}} gm-info-inline-block{{/hide_saving_throw_dc}}">DC {{saving_throw_dc}}&nbsp;</span>{{saving_throw_vs_attribute}} saving throw
          </div>
        {{/saving_throw_dc}}
      {{/saving_throw_toggle}}

      {{#roll}}
        <div class="shaped-row">
          <div class="col-{{^roll_adv}}100{{/roll_adv}}{{#roll_adv}}50{{/roll_adv}}">
            <div class="output">{{roll}}</div>
          </div>
          {{#roll_adv}}
            <div class="col-50 border-left">
              <div class="output">{{roll_adv}}</div>
            </div>
          {{/roll_adv}}
        </div>
      {{/roll}}

      {{#damage_toggle}}
        <div class="shaped-row center">
          <div class="col-{{^second_damage}}100{{/second_damage}}{{#second_damage}}50{{/second_damage}}">
            <div class="output">{{damage}}
              {{#attack}}
                {{#rollWasCrit() attack}}
                  <span>+ {{crit_damage}}</span>
                {{/rollWasCrit() attack}}
                {{#rollWasCrit() attack_adv}}
                  <span>+ {{crit_damage}}</span>
                {{/rollWasCrit() attack_adv}}
              {{/attack}}
            </div>
            <div class="output-small-label">{{damage_type}}</div>
          </div>
          {{#second_damage_toggle}}
            <div class="col-50 border-left">
              <div class="output">{{second_damage}}
                {{#attack}}
                  {{#rollWasCrit() attack}}
                    <span>+ {{second_crit_damage}}</span>
                  {{/rollWasCrit() attack}}
                  {{#rollWasCrit() attack_adv}}
                    <span>+ {{second_crit_damage}}</span>
                  {{/rollWasCrit() attack_adv}}
                {{/attack}}
              </div>
              <div class="output-small-label">{{second_damage_type}}</div>
            </div>
          {{/second_damage_toggle}}
        </div>
      {{/damage_toggle}}

      {{#saving_throw_toggle}}
        {{#save_failure}}
          <div class="shaped-row{{#hide_save_failure}} gm-info-block{{/hide_save_failure}}">
            <div class="col-50 rt-key">Save Failure</div>
            <div class="col rt-value">{{save_failure}}</div>
          </div>
        {{/save_failure}}
        {{#save_success}}
          <div class="shaped-row{{#hide_save_success}} gm-info-block{{/hide_save_success}}">
            <div class="col-33 rt-key">Save Success</div>
            <div class="col-67 rt-value">{{save_success}}</div>
          </div>
        {{/save_success}}
      {{/saving_throw_toggle}}

      {{#healing}}
        <div>{{healing}} HP healed</div>
      {{/healing}}
      {{#effect}}
        <div class="center{{#hide_effect}} gm-info-block{{/hide_effect}}">{{effect}}</div>
      {{/effect}}
      {{#recharge}}
        <div class="{{#hide_recharge}} gm-info-block{{/hide_recharge}}">Recharge {{recharge}}</div>
      {{/recharge}}

      {{#higher_level}}
        <div class="shaped-row">
          <div class="col rt-key">At Higher Levels</div>
          <div class="col rt-value">{{higher_level}}</div>
        </div>
      {{/higher_level}}

      {{#freetext}}
        <div>{{freetext}}</div>
      {{/freetext}}
      {{#allprops() freetext character_name save title show_character_name subheader roll roll_adv ability emote deathsave targetAC targetName attack_toggle attack action type damage_toggle damage damage_type crit_damage crit_damage_adv second_damage_toggle second_damage second_damage_type second_crit_damage second_crit_damage_adv ranged attack_adv damage critdamage target reach range ammo ammo_auto ammo_field spell saving_throw_toggle saving_throw_condition saving_throw_dc save saving_throw_vs_attribute save_success save_failure save_second_damage save_second_damage_type friendly_level school concentration ritual description higher_level cast_as_level healing casting_time duration components_verbal components_somatic components_material effect hide_saving_throw_dc hide_save_failure hide_save_success hide_effect recharge hide_recharge}}
        <div class="shaped-row">
          <div class="col-33 rt-key">{{key}}</div>
          <div class="col-67 rt-value">{{value}}</div>
        </div>
      {{/allprops() freetext character_name save title show_character_name subheader roll roll_adv ability emote deathsave targetAC targetName attack_toggle attack action type damage_toggle damage damage_type crit_damage crit_damage_adv second_damage_toggle second_damage second_damage_type second_crit_damage second_crit_damage_adv ranged attack_adv damage critdamage target reach range ammo ammo_auto ammo_field spell saving_throw_toggle saving_throw_condition saving_throw_dc save saving_throw_vs_attribute save_success save_failure save_second_damage save_second_damage_type friendly_level school concentration ritual description higher_level cast_as_level healing casting_time duration components_verbal components_somatic components_material effect hide_saving_throw_dc hide_save_failure hide_save_success hide_effect recharge hide_recharge}}
    </div>
  </div>
</rolltemplate>