@use 'vars' as v

.charsheet
    .panel
        &> h2,
        &> h3
            // background-color: scale(dimgray, 15%)
            color: white
            text-align: center
            width: calc(100% - 20px)
            margin-left: 20px
            align-self: flex-end
            font-variant: small-caps
            clip-path: v.$cliptitles
            background: linear-gradient(135deg, #555 80%, darkred)

        &> h2
            font-size: 18px
            height: 30px
        
        &> h3
            font-size: 16px

        &> .panelbody
            width: calc(100% - 20px)
            height: calc(100% - 28px)
            background-color: #d4d4de
            padding: 10px
            clip-path: v.$clipboxes

    .panel.panel-nav
        height: 100%
        &> .panelbody
            clip-path: none
            border-radius: 15px