mixin wounds()
    .wounds
        span Description
        span Malus
        span(title="Indice de gravité") IG
        span Dégât
        fieldset.repeating_wounds
            +textInput('description')
            +numberInput('malus', 0)
            +numberInput('ig', 0)
            +numberInput('damage', 0)