<div class="flex-column attaques frame-c">
    <div class="flex-row top">
        <label class="label-secondary w-6"><span data-i18n="common.name">Nom</span></label>
        <label class="label-secondary w-2 text-center"><span data-i18n="attacks.attack.long">Att</span></label>
        <label class="label-secondary w-4 text-center"><span data-i18n="attacks.damage.long">Dégats</label>
    </div>
    <fieldset class="repeating_attaques">
        <div class="attq">
            <input class="options-flag" type="checkbox" name="attr_options-flag" checked><span>y</span>
            <div class="flex-row align-center">
                <input type="hidden" name="attr_atq-rollvalue"
                       value="&{template:main} {{titre=Attaque avec @{name}}} {{subtitle=@{character_name}}} {{Attaque=[[1d20+@{bba}+@{atq-carac-val}+@{atq-bonus}+@{atq-bonus-2}]]}} {{Dégats=[[@{dgt-base}+@{dgt-carac-val}+@{dgt-bonus}]]}}">
                <button type="roll" name="attr_atq-roll" value="@{atq-rollvalue}"
                        class="gray-line flex-row bold w-12 button-label">
                    <span class="w-6" name="attr_name"></span>
                    <span class="w-2 text-center" name="attr_atq-total"></span>
                    <span class="w-4 text-center" name="attr_degats"></span>
                </button>
            </div>
            <div class="flex-column options-options border-bottom">
                <div class="flex-row align-center">
                    <label class="attq-label w-3"><span data-i18n="common.name">Nom</span> :</label>
                    <input type="text" class="visible-input text-left w-9" name="attr_name">
                </div>
                <div class="flex-row align-center">
                    <label class="attq-label w-3"><span data-i18n="attacks.attack.long">Atq</span> :</label>
                    <select class="w-3" name="attr_atq-carac">
                        <option value="-">-</option>
                        <option value="FOR" data-i18n="attribute.strength.short">FOR</option>
                        <option value="DEX" data-i18n="attribute.dexterity.short">DEX</option>
                    </select>
                    +
                    <input type="number" class="visible-input w-2" name="attr_atq-bonus">
                    +
                    <input type="number" class="visible-input w-2" name="attr_atq-bonus-2">
                    <input type="hidden" name="attr_atq-total">
                    <input type="hidden" name="attr_atq-carac-val">
                    <input type="hidden" name="attr_degats">
                    <input type="hidden" name="attr_dgt-carac-val">
                </div>
                <div class="flex-row align-center">
                    <label class="attq-label w-3"><span data-i18n="attacks.damage.long">Dgt</span> :</label>
                    <input type="text" class="visible-input w-2" name="attr_dgt-base"
                           placeholder="1d4">
                    +
                    <select class="w-4" name="attr_dgt-carac">
                        <option value="-">-</option>
                        <option value="FOR" data-i18n="attribute.strength.short">FOR</option>
                        <option value="DEX" data-i18n="attribute.dexterity.short">DEX</option>
                        <option value="1,5FOR" data-i18n="attribute.strength.onehalf">1,5 x FOR</option>
                        <option value="1/2FOR" data-i18n="attribute.strength.half">1/2 xFOR</option>
                    </select>
                    +
                    <input type="number" class="visible-input w-2" name="attr_dgt-bonus">
                </div>
                <div class="flex-row align-center">
                    <label class="attq-label w-3"><span data-i18n="attacks.range">Portée </span> :</label>
                    <input type="text" class="visible-input text-left w-9" name="attr_range">
                </div>
                <div class="flex-column w-12">
                    <label class="skill-label w-3"><span data-i18n="common.notes">Notes</span> :</label>
                    <input type="text" class="visible-input w-12" name="attr_notes">
                </div>
            </div>
        </div>
    </fieldset>
    <div class="flex-row align-center">
        <label class="label-secondary text-right w-3"><span data-i18n="attacks.bab">BBA</span> :</label>
        <input type="number" class="visible-input w-9 " readonly name="attr_bba">
    </div>
    <div class="flex-column modifiers">
        <label class="label-secondary text-center w-12">
            <span data-i18n="attacks.globalModifiers">Modificateurs globaux</span>
        </label>
        <div class="flex-row w-12">
            <label class="w-1 text-center"></label>
            <label class="w-5 text-left"><span data-i18n="common.name">Nom</span></label>
            <label class="w-3 text-center"><span data-i18n="attacks.attack.long">Attaque</span></label>
            <label class="w-3 text-center"><span data-i18n="attacks.damage.long">Dégats</span></label>
        </div>
        <fieldset class="repeating_attaques-modifiers">
            <div class="modifier">
                <input class="options-flag" type="checkbox" name="attr_options-flag" checked><span>y</span>
                <div class="flex-row align-center">
                    <div class="w-1">
                        <input type="checkbox" name="attr_enabled" checked>
                    </div>
                    <label class="w-5 text-left">
                        <span name="attr_name"></span>
                    </label>
                    <div class="gray-line flex-row bold align-center justify-center w-3">
                        <span name="attr_attack-mod"></span>
                    </div>
                    <div class="gray-line flex-row bold align-center justify-center w-3">
                        <span name="attr_damage-mod"></span>
                    </div>
                </div>
                <div class="flex-column options-options border-bottom">
                    <div class="flex-row align-center">
                        <label class="attq-label w-3"><span data-i18n="common.name">Nom</span> :</label>
                        <input type="text" class="visible-input text-left w-9" name="attr_name">
                    </div><div class="flex-row align-center">
                    <label class="attq-label w-3"><span data-i18n="attacks.attack.long">Attaques</span> :</label>
                    <input type="number" class="visible-input text-center w-9" name="attr_attack-mod">
                </div><div class="flex-row align-center">
                    <label class="attq-label w-3"><span data-i18n="attacks.damage.long">Dégats</span> :</label>
                    <input type="text" class="visible-input text-center w-9" name="attr_damage-mod">
                </div>
                </div>
            </div>
        </fieldset>
    </div>
    <h4 class="h4"><span data-i18n="attacks.title">Attaques</span></h4>
</div>
