<div class="flex-column list modifiers frame-cb">
    <div class="flex-row top align-center">
        <label class="w-1"></label>
        <label class="w-5"><span data-i18n="common.name">Nom</span></label>
        <label class="w-4 text-center"><span data-i18n="modifiers.applyTo.short">Appli.</span></label>
        <label class="w-2 text-center"><span data-i18n="common.value">Valeur</span></label>
    </div>
    <fieldset class="repeating_modifiers">
        <div class="list-element modifier">
            <input class="options-flag" type="checkbox" name="attr_options-flag"
                   checked><span>y</span>
            <div class="flex-row gray-line align-center">
                <div class="w-1 flex-row justify-center align-center">
                    <input type="checkbox" name="attr_enabled">
                </div>
                <label class="w-5"> <span name="attr_name"></span></label>
                <label class="w-4 text-center"><span name="attr_apply-to-desc"></span></label>
                <label class="w-2 text-center"><span name="attr_value"></span></label>
            </div>
            <div class="flex-column options-options border-bottom">
                <div class="flex-row align-center">
                    <label class="label w-4 text-right"><span data-i18n="common.name">Nom</span> :</label>
                    <input name="attr_name" type="text" class="visible-input w-8" />
                </div>
                <div class="flex-row align-center">
                    <label class="label w-4 text-right"><span data-i18n="common.value">Valeur</span> :</label>
                    <input name="attr_value" type="number" class="visible-input w-8" />
                </div>
                <div class="flex-row align-center">
                    <label class="label w-4 text-right"><span data-i18n="modifiers.type">Type</span> : </label>
                    <select class="w-8" name="attr_type">
                        <option value="alchemical" data-i18n="modifiers.type.alchemical">Alchemical Bonus</option>
                        <option value="circumstance" data-i18n="modifiers.type.circumstance">Circumstance Modifier</option>
                        <option value="competence" data-i18n="modifiers.type.competence">Competence Modifier</option>
                        <option value="enhancement" data-i18n="modifiers.type.enhancement">Enhancement Bonus</option>
                        <option value="insight" data-i18n="modifiers.type.insight">Insight Bonus</option>
                        <option value="luck" data-i18n="modifiers.type.luck">Luck Modifier</option>
                        <option value="morale" data-i18n="modifiers.type.morale">Morale Modifier</option>
                        <option value="profane" data-i18n="modifiers.type.profane">Profane Modifier</option>
                        <option value="racial" data-i18n="modifiers.type.racial">Racial Bonus</option>
                        <option value="resistance" data-i18n="modifiers.type.resistance">Resistance Bonus</option>
                        <option value="sacred" data-i18n="modifiers.type.sacred">Sacred Modifier</option>
                        <option value="divine" data-i18n="modifiers.type.divine">Divine bonus</option>
                        <option value="epic" data-i18n="modifiers.type.epic">Epic bonus</option>
                        <option value="dodge" data-i18n="modifiers.type.dodge">Dodge Bonus</option>
                        <option value="deflection" data-i18n="modifiers.type.deflection">Deflection Bonus</option>
                        <option value="natural_armor" data-i18n="modifiers.type.natural_armor">Natural Armor Bonus</option>
                        <option value="untyped" data-i18n="modifiers.type.untyped">Untyped Bonus</option>
                    </select>
                </div>
                <div class="flex-row align-center">
                    <label class="label w-4 text-right"><span data-i18n="modifiers.applyTo.long">Appliqué à</span> :</label>
                    <select class="w-8" name="attr_apply-to">
                        <option value="carac_all" data-i18n="modifiers.applyTo.carac_all">Caractéristiques (Toutes)</option>
                        <option value="carac_other" data-i18n="modifiers.applyTo.carac_other">Caractéristiques</option>
                        <option value="init" data-i18n="modifiers.applyTo.init">Initiative</option>
                        <option value="speed" data-i18n="modifiers.applyTo.speed">Vitesse</option>
                        <option value="skill_all" data-i18n="modifiers.applyTo.skill_all">Compétences (Toutes)</option>
                        <option value="skill_other" data-i18n="modifiers.applyTo.skill_other">Compétences</option>
                        <option value="save_all" data-i18n="modifiers.applyTo.save_all">Sauvegardes (Toutes)</option>
                        <option value="save_ref" data-i18n="modifiers.applyTo.save_ref">Réflexe</option>
                        <option value="save_vig" data-i18n="modifiers.applyTo.save_vig">Vigueur</option>
                        <option value="save_vol" data-i18n="modifiers.applyTo.save_vol">Volonté</option>
                        <option value="armor_ca" data-i18n="modifiers.applyTo.armor_ca">CA (Universel)</option>
                        <option value="armor_cac" data-i18n="modifiers.applyTo.armor_cac">CA (Contact)</option>
                        <option value="armor_cad" data-i18n="modifiers.applyTo.armor_cad">CA (Dépourvu)</option>
                    </select>
                </div>
                <input type="hidden" class="apply_to_switch" name="attr_apply-to">
                <div class="flex-row align-center apply_to_other">
                    <label class="label w-4 text-right"><span data-i18n="modifiers.applyTo.specify">Spécifiez</span> :</label>
                    <input type="text" class="visible-input w-8" placeholder="skill 1;skill2;..." name="attr_apply-to-other">
                </div>
            </div>

        </div>
    </fieldset>
    <h4 class="bottom-title"><span data-i18n="modifiers.title">Modificateurs</span></h4>
</div>
