<h4 class="top-title"><span data-i18n="skills.title">Skills</span></h4>
<div class="flex-column">
    <div class="flex-row skill-header-row">
        <label class="label w-2 text-center"><span data-i18n="skills.total">Tot.</span></label>
        <label class="label w-10"><span data-i18n="skills.name">Name</span></label>
    </div>
    <input type="hidden" name="attr_skills_malus">
    <fieldset class="repeating_skills">
        <div class="skill">
            <input class="options-flag" type="checkbox" name="attr_options-flag"
                   checked><span>y</span>
            <div class="flex-row align-center">
                <input type="hidden" name="attr_modified">
                <input type="number" class="input w-2" name="attr_total" value="0" readonly>
                <div class="wa">
                    <input type="hidden" name="attr_skillrollvalue"
                           value="&{template:main} {{titre=Test de '@{name}'}} {{subtitle=@{character_name} }} {{Jet=[[1d20+@{total}]]}}">
                    <button name="attr_skillroll" type="roll" value="@{skillrollvalue}"
                            class="button-label bold w-10 text-left">
                        <span name="attr_name"></span>&nbsp;<span name="attr_caracname"></span>
                    </button>
                </div>
            </div>
            <!--=include skills-options.html-->
        </div>
    </fieldset>
</div>