div(class='npc')
    input(type="hidden" class="tutorialtoggle" name="attr_tutorial_done" value="0")
    div(class="tutorial")
        div(style="display:inline-block;position:relative")
            button(type="action" name="act_toggletutorial" data-i18n="button_exit_tutorial") Toggle Hints
      
    input(type="hidden" class="npc_type_toggle" name="attr_npc_type" value="npc_type_gang")
    div(class="box")
      h3
        span(name="attr_character_name")
      div()
        span(class="text") (
        span(class="text" name="attr_npc_type" data-i18n-dynamic)  
        span(class="text")  
        span(class="text" name="attr_rank")
        span(class="text") )
      hr

      input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
      select(name="attr_npc_type" class="textline")
        <option value="npc_type_gang" selected="selected" data-i18n="npc_type_gang">Bande</option>
        <option value="npc_type_leader"  data-i18n="npc_type_leader">Anführer</option>
      input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
      input(class="number" type="number" name="attr_rank" value="1")

      div(class="npc_leader_only")
        span(class='label' data-i18n="attribute_strength_short") Str
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_attribute_strength")
        span(class="normal" name="attr_attribute_strength")
        span(class="normal") , 
            
        span(class='label' data-i18n="attribute_athletic_short") Ath
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_attribute_athletic")
        span(class="normal" name="attr_attribute_athletic")
        span(class="normal") , 
          
        span(class='label' data-i18n="attribute_dexterity_short") Dex
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_attribute_dexterity")
        span(class="normal" name="attr_attribute_dexterity")
        span(class="normal") , 
          
        span(class='label' data-i18n="attribute_senses_short") Sen
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_attribute_senses")
        span(class="normal" name="attr_attribute_senses")
        span(class="normal") , 
            
        span(class='label' data-i18n="attribute_knowledge_short") Kno
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_attribute_knowledge")
        span(class="normal" name="attr_attribute_knowledge")
        span(class="normal") , 
            
        span(class='label' data-i18n="attribute_willpower_short") Wil
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_attribute_willpower")
        span(class="normal" name="attr_attribute_willpower")

        br
        span(class="label" data-i18n="label_armor_short") Pw:
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_armor" value="1" min="0" max="3")
        span(class="normal" name="attr_armor")
        br
        span(class="label" data-i18n="label_initiative_short") Ini:
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_ini" value="1")
        span(class="normal" name="attr_ini")
        span(class="label")  | 
        span(class="label" data-i18n="label_strategy") Strategie:
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        select(name="attr_npc_strategy" class="textline")
          <option value="npc_strategy_simple" selected="selected"  data-i18n="npc_strategy_simple">Tumb</option>
          <option value="npc_strategy_offensive"  data-i18n="npc_strategy_offensive">Offensiv</option>
          <option value="npc_strategy_mighty_offensive"  data-i18n="npc_strategy_mighty_offensive">Mächtiger Offensiver</option>
          <option value="npc_strategy_protective"  data-i18n="npc_strategy_protective">Beschützend</option>
          <option value="npc_strategy_defensive"  data-i18n="npc_strategy_defensive">Defensiv</option>
          <option value="npc_strategy_allrounder" data-i18n="npc_strategy_allrounder">Allrounder</option>
          <option value="npc_strategy_mighty_allrounder"  data-i18n="npc_strategy_mighty_allrounder">Mächtiger Allrounder</option>
        span()
          input(class="npc_strategy_controller" type="hidden" name="attr_npc_strategy" value="npc_strategy_simple")
          span(class="npc_strategy_container")
            span(class="text" name="attr_npc_strategy" data-i18n-dynamic)
            span()  (
            span(class="npc_strategy simple")
              img(class="icon_attacktype_melee")
              span() |
              img(class="icon_attacktype_ranged")
            span(class="npc_strategy offensive")
              img(class="icon_attacktype_melee")
              img(class="icon_attacktype_melee")
              span() |
              img(class="icon_attacktype_ranged")
            span(class="npc_strategy mighty_offensive")
              img(class="icon_attacktype_melee")
              img(class="icon_attacktype_melee")
              img(class="icon_attacktype_melee")
              span() |
              img(class="icon_attacktype_ranged")
            span(class="npc_strategy protective")
              img(class="icon_attacktype_melee")
              img(class="icon_attacktype_melee")
              span() |
              img(class="icon_attacktype_ranged")
            span(class="npc_strategy defensive")
              img(class="icon_attacktype_melee")
              span() |
              img(class="icon_attacktype_ranged")
              img(class="icon_attacktype_ranged")
            span(class="npc_strategy allrounder")
              img(class="icon_attacktype_melee")
              img(class="icon_attacktype_melee")
              span() |
              img(class="icon_attacktype_ranged")
              img(class="icon_attacktype_ranged")
            span(class="npc_strategy mighty_allrounder")
              img(class="icon_attacktype_melee")
              img(class="icon_attacktype_melee")
              img(class="icon_attacktype_melee")
              span() |
              img(class="icon_attacktype_ranged")
              img(class="icon_attacktype_ranged")
              img(class="icon_attacktype_ranged")
            span() )
        

      div(class="npc_gang_only")
        span(class="label" data-i18n="label_initiative_short") Ini: 
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1")
        input(class="number" type="number" name="attr_ini" value="1")
        span(class="normal" name="attr_ini")
        br
      input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true)
      fieldset(class="repeating_npcattacks")
          div(class="fieldsetcontainer")
            div(class="display")
              input(type="hidden" class="icon_controller_attacktype" name="attr_attacktype" value="melee")
              img(class="icon_receiver_attacktype")
              span(class="text") : 
              span(name="attr_name")
              span(class="text")  (
              span(class="text" name="attr_attribute" data-i18n-dynamic="")
              span(class="text") ), 
              span(class="text" data-i18n="label_attack") Angriff 
              span(class="text" name="attr_attackvalue")
              span(class="text") , 
              span(class="text" data-i18n="label_damage") Schaden 
              span(class="text" name="attr_damage")
              button(type='action' class="npcdie" name='act_rollnpcattack')
            input(class="details-flag" type="checkbox" checked="true" name="attr_details-flag")
            span i
            div(class="wrapper")
              span(class="fieldset_editmode_toggle")
              div()
                select(name="attr_attacktype" class="textline medium")
                  option(value="melee" data-i18n="attacktype_melee") Nahkampf
                  option(value="ranged" data-i18n="attacktype_ranged") Fernkampf
                input(class="textline" type="text" name="attr_name" data-i18n-placeholder="label_name" placeholder="Name")
                select(name="attr_attribute" class="textline short")
                  option(value="attribute_athletic_short" data-i18n="attribute_athletic_short") Ath
                  option(value="attribute_strength_short" data-i18n="attribute_strength_short") Kkr
                  option(value="attribute_dexterity_short" data-i18n="attribute_dexterity_short") Ges
                  option(value="attribute_senses_short" data-i18n="attribute_senses_short") Sin
                  option(value="attribute_knowledge_short" data-i18n="attribute_knowledge_short") Wis
                  option(value="attribute_willpower_short" data-i18n="attribute_willpower_short") Wil
                label(data-i18n="label_attack") Angriff
                input(type="number" name="attr_attackvalue" class="number")
                label(data-i18n="label_damage") Schaden
                input(type="number" name="attr_damage" class="number")
                textarea(name="attr_description" data-i18n-placeholder="label_description" placeholder="Description")
              
              div(class="details")
                span(class="text" name="attr_description")
      hr
      h4(data-i18n="heading_npc_powers") Kräfte
      input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true)
      ul
        input(type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true)
        fieldset(class="repeating_npcpowers")
            div(class="fieldsetcontainer")
              
              li(class="display")
                span(name="attr_name")
                span(class="text")  (
                span(class="text" name="attr_description")
                span(class="text") )
              input(class="details-flag" type="checkbox" checked="true" name="attr_details-flag")
              span i
              div(class="wrapper")
                span(class="fieldset_editmode_toggle")
                div()
                  input(class='medium'  type="text" name="attr_name" data-i18n-placeholder="label_name" placeholder="Name")
                  textarea(name="attr_description" data-i18n-placeholder="label_description" placeholder="Description")
                
                div(class="details")
                  //-span(class="text" name="attr_description")
