<div class="wrap-box relative">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-left small-label">{{'SORCERY_POINTS_RECHARGE_TOOLTIP' | translate}}</div>
    </div>
  </div>
  <div class="shaped-row vert-center">
    <div class="col-47 center pad-r-sm">
      <input type="number" name="attr_sorcery_points" value="0" min="0" step="1">
    </div>
    <div class="col-06 center">/</div>
    <div class="col-47 center pad-l-sm">
      <span name="attr_sorcery_points_max" class="pseudo-input center border-bottom"></span>
    </div>
  </div>
  <div class="wrap-box-title center">
    {{'SORCERY_POINTS' | translate}}
  </div>
</div>