<div class="spell-slots-points wrap-box center mar-b-smd">
  <input type="checkbox" name="attr_spell_slots_toggle" class="toggle-spell-slots" checked><span class="toggle-spell-slots">{{'SPELL_SLOTS' | translate}}</span>
  <input type="checkbox" name="attr_spell_points_toggle" class="toggle-spell-points"><span class="toggle-spell-points">{{'SPELL_POINTS' | translate}}</span>

  <div class="spell-slots">
    <div class="shaped-row spell-level-1 center vert-center">
      <div class="col-20 center">{{'1st' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l1" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l1_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>
    <div class="shaped-row spell-level-2 center vert-center">
      <div class="col-20 center">{{'2nd' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l2" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l2_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>
    <div class="shaped-row spell-level-3 center vert-center">
      <div class="col-20 center">{{'3rd' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l3" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l3_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>
    <div class="shaped-row spell-level-4 center vert-center">
      <div class="col-20 center">{{'4th' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l4" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l4_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>
    <div class="shaped-row spell-level-5 center vert-center">
      <div class="col-20 center">{{'5th' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l5" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l5_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>
    <div class="shaped-row spell-level-6 center vert-center">
      <div class="col-20 center">{{'6th' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l6" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l6_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>
    <div class="shaped-row spell-level-7 center vert-center">
      <div class="col-20 center">{{'7th' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l7" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l7_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>
    <div class="shaped-row spell-level-8 center vert-center">
      <div class="col-20 center">{{'8th' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l8" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l8_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>
    <div class="shaped-row spell-level-9 center vert-center">
      <div class="col-20 center">{{'9th' | translate}}</div>
      <div class="col-25">
        <input type="number" name="attr_spell_slots_l9" value="0">
      </div>
      <div class="col-08 center pad-l-sm pad-r-sm">&#47;</div>
      <div class="col-20">
        <span name="attr_spell_slots_l9_max" class="pseudo-input center border-bottom"></span>
      </div>
    </div>

    <div class="wrap-box-title center">
      <span class="spell-slots">{{'SPELL_SLOTS_TITLE' | translate}}</span>
    </div>
  </div>
  <div class="spell-points">
    <div class="shaped-row spell-level-1 center vert-center">
      <div class="col-20 center">{{'1st' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>2</span>
      </div>
    </div>
    <div class="shaped-row spell-level-2 center vert-center">
      <div class="col-20 center">{{'2nd' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>3</span>
      </div>
    </div>
    <div class="shaped-row spell-level-3 center vert-center">
      <div class="col-20 center">{{'3rd' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>5</span>
      </div>
    </div>
    <div class="shaped-row spell-level-4 center vert-center">
      <div class="col-20 center">{{'4th' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>6</span>
      </div>
    </div>
    <div class="shaped-row spell-level-5 center vert-center">
      <div class="col-20 center">{{'5th' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>7</span>
      </div>
    </div>
    <div class="shaped-row spell-level-6 center vert-center">
      <div class="col-20 center">{{'6th' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>9</span>
      </div>
    </div>
    <div class="shaped-row spell-level-7 center vert-center">
      <div class="col-20 center">{{'7th' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>10</span>
      </div>
    </div>
    <div class="shaped-row spell-level-8 center vert-center">
      <div class="col-20 center">{{'8th' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>11</span>
      </div>
    </div>
    <div class="shaped-row spell-level-9 center vert-center">
      <div class="col-20 center">{{'9th' | translate}}</div>
      <div class="col-20 center pad-l-sm">
        <span>13</span>
      </div>
    </div>
    <div class="shaped-row center no-background">
      <div class="col-35 center pad-r-sm">
        <input type="number" name="attr_spell_points" value="0">
      </div>
      <div class="col-05 center">&#47;</div>
      <div class="col-35 center pad-l-sm">
        <input type="number" name="attr_spell_points_max" value="0" min="0">
      </div>
    </div>

    <div class="wrap-box-title center">
      <span class="spell-points">{{'SPELL_POINTS_TITLE' | translate}}</span>
    </div>
  </div>
</div>
