<input class="toggle-spell-slots" type="checkbox" name="attr_spell_slots_toggle" checked><span class="toggle-spell-slots">{{'SPELL_SLOTS' | translate}}</span>
<input class="toggle-spell-points" type="checkbox" name="attr_spell_points_toggle"><span class="toggle-spell-points">{{'SPELL_POINTS' | translate}}</span>

<div class="spell-slots">
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label ">{{'1st' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l1" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l1_max" class="no-spin" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'2nd' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l2" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l2_max" class="no-spin" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'3rd' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l3" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l3_max" class="no-spin" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'4th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l4" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l4_max" class="no-spin" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'5th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l5" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l5_max" class="no-spin" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'6th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l6" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l6_max" class="no-spin" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'7th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l7" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l7_max" class="no-spin" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'8th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l8" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l8_max" class="no-spin" value="0" min="0">
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'9th' | translate}}</div>
    <div class="col-20">
      <input type="number" name="attr_spell_slots_l9" class="no-spin" value="0">
    </div>
    <div class="col-10 center pad-l-sm pad-r-sm">&#47;</div>
    <div class="col-20">
      <input class="center" type="number" name="attr_spell_slots_l9_max" class="no-spin" value="0" min="0">
    </div>
  </div>

  <div class="wrap-box-title center">
    <span class="spell-slots">{{'SPELL_SLOTS' | translate}}</span>
  </div>
</div>
<div class="spell-points">
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'1st' | translate}}</div>
    <div class="col-20 center small-label pad-l-sm">
      <span>2</span>
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'2nd' | translate}}</div>
    <div class="col-20 center small-label pad-l-sm">
      <span>3</span>
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'3rd' | translate}}</div>
    <div class="col-20 center small-label pad-l-sm">
      <span>5</span>
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'4th' | translate}}</div>
    <div class="col-20 center small-label pad-l-sm">
      <span>6</span>
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'5th' | translate}}</div>
    <div class="col-20 center small-label pad-l-sm">
      <span>7</span>
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'6th' | translate}}</div>
    <div class="col-20 center small-label pad-l-sm">
      <span>9</span>
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'7th' | translate}}</div>
    <div class="col-20 center small-label pad-l-sm">
      <span>10</span>
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'8th' | translate}} </div>
    <div class="col-20 center small-label pad-l-sm">
      <span>11</span>
    </div>
  </div>
  <div class="shaped-row center vert-center">
    <div class="col-20 center small-label">{{'9th' | translate}}</div>
    <div class="col-20 center small-label pad-l-sm">
      <span>13</span>
    </div>
  </div>
  <div class="shaped-row center no-background">
    <div class="col-35 center pad-r-sm">
      <input type="number" name="attr_spell_points" value="0">
    </div>
    <div class="col-05 center">&#47;</div>
    <div class="col-35 center pad-l-sm">
      <input type="number" name="attr_spell_points_max" value="0" min="0">
    </div>
  </div>

  <div class="wrap-box-title center">
    <span class="spell-points">{{'SPELL_POINTS' | translate}}</span>
  </div>
</div>
