<fieldset class="repeating_spell">
  <input type="radio" name="attr_spell_level" value="0" class="toggle-spell-level-cantrip hidden">
  <input type="radio" name="attr_spell_level" value="1" class="toggle-spell-level-1 hidden">
  <input type="radio" name="attr_spell_level" value="2" class="toggle-spell-level-2 hidden">
  <input type="radio" name="attr_spell_level" value="3" class="toggle-spell-level-3 hidden">
  <input type="radio" name="attr_spell_level" value="4" class="toggle-spell-level-4 hidden">
  <input type="radio" name="attr_spell_level" value="5" class="toggle-spell-level-5 hidden">
  <input type="radio" name="attr_spell_level" value="6" class="toggle-spell-level-6 hidden">
  <input type="radio" name="attr_spell_level" value="7" class="toggle-spell-level-7 hidden">
  <input type="radio" name="attr_spell_level" value="8" class="toggle-spell-level-8 hidden">
  <input type="radio" name="attr_spell_level" value="9" class="toggle-spell-level-9 hidden">

  <input type="checkbox" name="attr_is_prepared" class="toggle-spells-prepared hidden">

  <input type="checkbox" name="attr_ritual" value="Yes" class="toggle-spells-ritual hidden">
  <input type="checkbox" name="attr_concentration" value="Yes" class="toggle-spells-concentration hidden">
  <input type="hidden" name="attr_concentration_text">

  <input type="radio" name="attr_casting_time" value="1 reaction" class="toggle-casting-time-reaction hidden">
  <input type="radio" name="attr_casting_time" value="1 bonus action" class="toggle-casting-time-bonus hidden">
  <input type="radio" name="attr_casting_time" value="1 action" class="toggle-casting-time-action hidden">

  <input type="checkbox" name="attr_components_verbal" value="1" class="toggle-spell-vsm-v hidden">
  <input type="checkbox" name="attr_components_somatic" value="1" class="toggle-spell-vsm-s hidden">
  <input type="checkbox" name="attr_components_material" value="1" class="toggle-spell-vsm-m hidden">

  <div class="spell compendium-drop-target relative">
    <input type="hidden" name="attr_add_casting_modifier" accept="Add Casting Modifier">
    <input type="hidden" name="attr_type" accept="Spell Attack">

    <div class="presentation">
      <button type="roll" name="roll_spell"
              class="wrapper-button"
              value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{spell=1}} @{attacher_spell} {{friendly_level=@{friendly_level}}} {{school=@{school}}} {{casting_time=@{casting_time}}} {{range=@{range}}} {{components=@{components}}} {{materials=@{materials}}} {{concentration=@{concentration_text}}} {{duration=@{duration}}} {{target=@{target}}} @{content_toggle} @{roll_toggle} @{saving_throw_toggle} @{damage_toggle} @{second_damage_toggle} @{heal_toggle} @{higher_level_toggle} @{hide_gm_info} @{special_effects_toggle} @{extras_toggle}">
        <div class="no-overflow">
          <span name="attr_name" class="spell-name"></span>
        </div>
        <div class="no-overflow condense">
          <span name="attr_friendly_level" class="italic"></span>
          <span name="attr_school" class="italic"></span>
          <input type="checkbox" name="attr_ritual_show" value="1" class="show-ritual hidden">
          <span class="show-ritual italic"> ({{'RITUAL_LOWERCASE' | translate}})</span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm">{{'CASTING_TIME' | translate}}:</span>
          <span name="attr_casting_time"></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm">{{'RANGE' | translate}}:</span>
          <span name="attr_range"></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm">{{'COMPONENTS' | translate}}:</span>
          <span name="attr_components"></span>
          <input type="checkbox" name="attr_materials_show" value="1" class="show-materials hidden">
          <span class="show-materials">
            (<span name="attr_materials" class="small-label"></span>)
          </span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm">{{'DURATION' | translate}}:</span>
          <input type="checkbox" name="attr_concentration_show" value="1" class="show-concentration hidden">
          <span class="show-concentration">{{'CONCENTRATION' | translate}}, </span>
          <span name="attr_duration"></span>
        </div>
        <div class="no-overflow condense">
          <span class="bold mar-r-sm">{{'TARGET' | translate}}:</span>
          <span name="attr_target"></span>
        </div>
      </button>
    </div>

    <input type="checkbox" name="attr_is_prepared" class="toggle-spells-prepared"><span class="toggle-spells-prepared">{{'PREPARED' | translate}}</span>
    <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings edit" checked><span class="toggle-icon-settings pictos edit">y</span>

    <input type="text" name="attr_name" class="spell-name edit" placeholder="name" accept="Name">

    <div class="details edit">
      <div class="shaped-row vert-center">
        <div class="col-18">
          <input type="hidden" name="attr_friendly_level">
          <span class="en">
            <select name="attr_spell_level" class="italic no-border" accept="Level">
              <option value="0">Cantrip</option>
              <option value="1">1st-level</option>
              <option value="2">2nd-level</option>
              <option value="3">3rd-level</option>
              <option value="4">4th-level</option>
              <option value="5">5th-level</option>
              <option value="6">6th-level</option>
              <option value="7">7th-level</option>
              <option value="8">8th-level</option>
              <option value="9">9th-level</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_spell_level" class="italic no-border">
              <option value="0">Cantrip</option>
              <option value="1">1.-ebene</option>
              <option value="2">2.-ebene</option>
              <option value="3">3.-ebene</option>
              <option value="4">4.-ebene</option>
              <option value="5">5.-ebene</option>
              <option value="6">6.-ebene</option>
              <option value="7">7.-ebene</option>
              <option value="8">8.-ebene</option>
              <option value="9">9.-ebene</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_spell_level" class="italic no-border">
              <option value="0">Cantrip</option>
              <option value="1">1er niveau</option>
              <option value="2">2ème niveau</option>
              <option value="3">3ème niveau</option>
              <option value="4">4ème niveau</option>
              <option value="5">5ème niveau</option>
              <option value="6">6ème niveau</option>
              <option value="7">7ème niveau</option>
              <option value="8">8ème niveau</option>
              <option value="9">9ème niveau</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_spell_level" class="italic no-border">
              <option value="0">Cantrip</option>
              <option value="1">1st-level</option>
              <option value="2">2nd-level</option>
              <option value="3">3rd-level</option>
              <option value="4">4th-level</option>
              <option value="5">5th-level</option>
              <option value="6">6th-level</option>
              <option value="7">7th-level</option>
              <option value="8">8th-level</option>
              <option value="9">9th-level</option>
            </select>
          </span>
        </div>
        <div class="col-26 center">
          <span class="en">
            <select name="attr_school" class="italic no-border" accept="School">
              <option value="Abjuration">Abjuration</option>
              <option value="Conjuration">Conjuration</option>
              <option value="Divination">Divination</option>
              <option value="Enchantment">Enchantment</option>
              <option value="Evocation">Evocation</option>
              <option value="Illusion">Illusion</option>
              <option value="Necromancy">Necromancy</option>
              <option value="Transmutation">Transmutation</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_school" class="italic no-border">
              <option value="Abjuration">Bannzauber</option>
              <option value="Conjuration">Beschwörung</option>
              <option value="Divination">Erkenntniszauber</option>
              <option value="Enchantment">Verzauberung</option>
              <option value="Evocation">Hervorrufung</option>
              <option value="Illusion">Illusion</option>
              <option value="Necromancy">Nekromantie</option>
              <option value="Transmutation">Verwandlung</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_school" class="italic no-border">
              <option value="Abjuration">Abjuration</option>
              <option value="Conjuration">Invocation</option>
              <option value="Divination">Divination</option>
              <option value="Enchantment">Enchantement</option>
              <option value="Evocation">Evocation</option>
              <option value="Illusion">Illusion</option>
              <option value="Necromancy">Necromancie</option>
              <option value="Transmutation">Transmutation</option>
            </select>
          </span>
        </div>
        <div class="mar-l-lg">
          <input type="checkbox" name="attr_ritual" class="toggle-spells-ritual" value="Yes" accept="Ritual"><span class="toggle-spells-ritual">{{'RITUAL' | translate}}</span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm">{{'CASTING_TIME' | translate}}:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_casting_time" class="no-border" placeholder="1 action" accept="Casting Time">
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm">{{'RANGE' | translate}}:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_range" class="no-border" placeholder="90ft" accept="Range">
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm">{{'COMPONENTS' | translate}}:</span>
        <div class="col-12 center pad-l-sm">
          <input type="text" name="attr_components" class="no-border" placeholder="V S M" accept="Components">
        </div>
        <div class="flex-grow pad-l-sm">
          <div class="shaped-row no-wrap small-label vert-center">
            <span>(</span>
            <input type="text" name="attr_materials" class="no-border small-label" accept="Material">
            <span>)</span>
          </div>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm">{{'DURATION' | translate}}:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_duration" class="no-border" placeholder="Instantaneous" accept="Duration">
        </div>
        <div class="flex-grow">
          <input type="checkbox" name="attr_concentration" class="toggle-spells-concentration" value="Yes" accept="Concentration"><span class="toggle-spells-concentration">{{'CONCENTRATION' | translate}}</span>
        </div>
      </div>
      <div class="shaped-row vert-center">
        <span class="bold mar-r-sm">{{'TARGET' | translate}}:</span>
        <div class="flex-grow center pad-l-sm">
          <input type="text" name="attr_target" class="no-border" placeholder="one creature" accept="Target">
        </div>
      </div>
      //= include ../actionComponents/content.html
      //= include ../actionComponents/attackSpell.html
      //= include ../actionComponents/savingThrow.html
      //= include ../actionComponents/damageSpell.html
      //= include ../actionComponents/damageSecondary.html
      //= include ../actionComponents/heal.html
      //= include ../actionComponents/higherLevel.html
      //= include ../actionComponents/extras.html
      //= include ../actionComponents/specialEffects.html
    </div>
  </div>
</fieldset>
