<div class="wrap-box relative">
  <div class="col tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-left small-label">{{'WARLOCK_SLOTS_RECHARGE_TOOLTIP' | translate}}</div>
    </div>
  </div>
  <div class="shaped-row relative">
    <div class="col-100 center">
      <div class="shaped-row vert-center">
        <div class="col-47 pad-r-sm">
          <input type="number" name="attr_warlock_spell_slots" value="0" min="0" step="1">
        </div>
        <div class="col-06 center">/</div>
        <div class="col-47 pad-l-sm">
          <span name="attr_warlock_spell_slots_max" class="pseudo-input center border-bottom"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap-box-title center">
    {{'WARLOCK_SPELL_SLOTS' | translate}}
  </div>
</div>
