
.sheet-pc-armor-show:not(:checked)~.sheet-pc-armor {display:none;}
.sheet-pc-resistances-show:not(:checked)~.sheet-pc-resistances {display:none;}
.sheet-pc-roletraits-show:not(:checked)~.sheet-pc-roletraits {display:none;}
.sheet-pc-racefixedinfo-show:not(:checked)~.sheet-pc-racefixedinfo {display:none;}
.sheet-pc-recoveryrates-show:not(:checked)~.sheet-pc-recoveryrates{display:none;}
.sheet-pc-stats-show:not(:checked)~.sheet-pc-stats {display:none;}
.sheet-pc-languages-show:not(:checked)~.sheet-pc-languages {display:none;}
.sheet-pc-attacks-show:not(:checked)~.sheet-pc-attacks {display:none;}
.sheet-pc-notes-show:not(:checked)~.sheet-pc-notes {display:none;}
.sheet-pc-equip-show:not(:checked)~.sheet-pc-equip {display:none;}  
.sheet-pc-spellsopen-show:not(:checked)~.sheet-pc-spellsopen {display:none;}  
.sheet-pc-spellsclosed-show:not(:checked)~.sheet-pc-spellsclosed {display:none;} 
.sheet-pc-spellsownbase-show:not(:checked)~.sheet-pc-spellsownbase {display:none;} 
.sheet-pc-spellsotherbase-show:not(:checked)~.sheet-pc-spellsotherbase {display:none;} 
.sheet-pc-spellsoropen-show:not(:checked)~.sheet-pc-spellsoropen {display:none;} 
.sheet-pc-spellsorclosed-show:not(:checked)~.sheet-pc-spellsorclosed {display:none;} 
.sheet-pc-spellsorbase-show:not(:checked)~.sheet-pc-spellsorbase {display:none;} 
.sheet-pc-spellsarcanebase-show:not(:checked)~.sheet-pc-spellsarcanebase {display:none;} 
.sheet-pc-spellsarcaneotherbase-show:not(:checked)~.sheet-pc-arcanespellsotherbase {display:none;} 
.sheet-pc-spellsarcaneopen-show:not(:checked)~.sheet-pc-spellsarcaneopen{display:none;} 
.sheet-pc-spellsarcaneclosed-show:not(:checked)~.sheet-pc-spellsarcaneclosed {display:none;} 
.sheet-pc-skills-show:not(:checked)~.sheet-pc-skills {display:none;}  
.sheet-pc-skillcats-show:not(:checked)~.sheet-pc-skillcats {display:none;} 

.sheet-statlabel-big {
    border: 1px solid white;
    background-color: grey;
    color: white;
    font-size: 0.9em;
    text-align: center;
}
.sheet-statlabel {
    border: 1px solid white;
    background-color: grey;
    color: white;
    font-size: 0.7em;
    text-align: center;
}
.charsheet table td {
    font-weight: bold;
    text-align: center;
}
.sheet-table-name {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:grey;
    width:100%;
}

.sheet-table-header {
    display:table-cell;
    text-align:center;
    font-weight:bold;
    vertical-align:bottom;
}

.sheet-table-header2 {
    display:table-cell;
    text-align:center;
    font-weight:bold;
    font-size: 0.7em;
    vertical-align:bottom;
}

.sheet-table-center {
    margin-left:auto; 
    margin-right:auto;
}

.sheet-table-data-left {
    display:table-cell;
    text-align:left;
    vertical-align:top;
}

.sheet-table-data-right {
    display:table-cell;
    text-align:right;
    vertical-align:top;
}

.sheet-table-data-center {
    display:table-cell;
    text-align:center;
    vertical-align:top;
}

.sheet-table-data-center-sm {
    display:table-cell;
    text-align:center;
    font-size: 0.7em;
    vertical-align:top;
}

.sheet-table-data-center-stats {
    display:table-cell;
    text-align:center;
    font-size: 0.7em;
    vertical-align:top;
    width:40px;
}

.sheet-table-data-center-saves {
    display:table-cell;
    text-align:center;
    font-size: 0.7em;
    vertical-align:top;
    width:40px;
}
.sheet-table-data-attacks {
    display:table-cell;
    text-align:center;
    font-size: 0.7em;
    vertical-align:top;
    width:28px;
}

.sheet-table-data-center-skills {
    display:table-cell;
    text-align:center;
    vertical-align:top;
    width:70px;
}
.sheet-table-data-center-dropdown {
    display:table-cell;
    text-align:left;
    font-size: 0.7em;
    vertical-align:center;
    width:60px;
}

.sheet-table-row {
    display:table-row;
    vertical-align:top;
    width:100%;
}

.sheet-table-row-name {
    display:table-cell;
    text-align:center;
    color:white;
    background-color:black;
    font-weight:bold;
}


textarea { height: auto; }

input, select {
    width:100%;
}

/* Hide actual checkbox */
input[type="checkbox"]{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input[type="checkbox"] + span::before{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
input[type="checkbox"]:checked + span::before { content: "▼"; }

/* Fake tabs style1 (reskinned radio button; does not work properly in firefox */
div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4
{
    display: block;
}

input.sheet-tab
{
    width: 50px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before
{
    content: attr(title);


    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    
    width: 50px;
    height: 20px;
    font-size: 18px;
}

input.sheet-tab:checked::before
{
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}

div.sheet-tab-content
{
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}

/* tabs style2 (with label) works even in firefox */
.sheet-character-sheet,
.sheet-expand
{
    display: none;
    padding: 3px;
}

.sheet-expand:checked ~ .sheet-show
{
    display: block;
    background-color: white;
    margin: 1px 0px 0px -2px;
}

.sheet-tab
{
    display: inline-block;
    text-align: center;
    margin: -2px;
    padding: 2px;
    width: 64px;
    height: 24px;
    background-color: gray;
    border-top-left-radius: 1em 3em;
    border-top-right-radius: 1em 3em;
    border: solid thin gray;
    border-bottom: none;
}

.sheet-expand:checked ~ .sheet-tab
{
    background-color: white;
}

label
{
    display: inline;
}

label,
label div
{
    font-size: 12px;
    font-weight: normal;
}
