.grid.settings
  .col
    h1(data-i18n='character sheet type')
    select(name='attr_sheet_select' value='knight')
      option(data-i18n='knight' value='knight' selected)
      option(data-i18n='woman' value='woman')
      option(data-i18n='feast' value='feast record')
