.grid.settings
  .col
    select(name='attr_sheet_type' value='knight')
      option(data-i18n='knight' value='character' selected)
      option(data-i18n='woman' value='woman')
      option(data-i18n='feast' value='feast')

