<div class="sheet-asset-header">
    <select class="sheet-asset-type-dropdown" name="attr_assettype">
        <option value="" disabled selected>Select</option>
        <option value="companion">Companion</option>
        <option value="path">Path</option>
        <option value="combat-talent">Combat Talent</option>
        <option value="ritual">Ritual</option>
        <option value="custom">Custom</option>
    </select>
</div>