@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=UnifrakturMaguntia&display=swap');

.ui-dialog .tab-content .charsheet {
  background-color: black;
  border: 10px solid black;
  color: white;
  display: flex;
  max-width: 1800px;
  min-width: 840px;
  padding: 0;
}

.charsheet h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.charsheet a {
  color: yellow;
}

.ui-dialog .charsheet main button[type=roll] {
  padding: 2px 2px 0 2px;
  font-size: 1.5em;
  margin: 0;
}
.ui-dialog .charsheet button[type=roll]:hover {
  box-shadow: 0px 1px 4px #000;
  transform: scale(1.05);
}

.ui-dialog .charsheet main button[type="roll"] span.note,
.ui-dialog .charsheet main button[type="roll"]::before {
  color: black;
}

.ui-dialog .charsheet main button[type="roll"]:hover span.note,
.ui-dialog .charsheet main button[type="roll"]:hover::before {
  color: #333;
  font-weight: bold;
}

.ui-dialog .charsheet label {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin: auto;
  width: auto;
}

.charsheet input {
  display: inline-block;
}


/* Hide spinners in Firefox */
.charsheet input[type="number"] {
  -moz-appearance: textfield;
}

.charsheet input[type="number"]:focus {
  appearance: textfield;
  -moz-appearance: auto;
  /* Restore default appearance on focus */
}

.charsheet input[type="radio"]:focus,
.charsheet button:focus {
  outline: 5px auto;
  outline-offset: 1px;
}


.charsheet img {
  filter: drop-shadow(3px 4px 1px black);
  margin-bottom: 1.1em;
  max-height: 75px;
  position: relative;
  display: block;
  margin-inline: auto;
}

.ui-dialog .charsheet main img + button[type="roll"] {
  float: right;
  font-size: 1em;
  padding: 0 2px 0 2px;
  position: relative;
  right: -.25em;
  top: -1em;
}

.ui-dialog .charsheet textarea {
  resize: vertical;
  overflow-y: auto;
  min-height: 1em;
  max-width: 95%;
  width: 95%;
}

.ui-dialog .tab-content .charsheet textarea.shorttextarea {
  height: 1.5em;
  margin: auto;
  width: 100%;
}

.ui-dialog .charsheet input.short,
.ui-dialog .charsheet select.short {
  min-width: 3.75em;
  max-width: 20%;
}

.ui-dialog .charsheet input.medium,
.ui-dialog .charsheet select.medium {
  min-width: 4.5em;
  max-width: 31%;
}

.charsheet select.dtype {
  vertical-align: top;
  width: 60px;
}
.charsheet span.dee {
  font-size: 1.4em;
  font-weight: bold;
  left: -36%;
  padding-right: 4px;
  position: relative;
  top: 3px;
}

.charsheet .stats h3 {
  display: inline-block;
  text-align: left;
}

.charsheet .stats h3:first-child {
  margin-left: 35%;
  margin-right: 15%;
}

.charsheet .stats input {
  margin-right: 8%;
  width: 17%;
}

.sheet-rolltemplate-default caption {
  background-color: rgb(241, 66, 175);
  color: black;
  font-weight: bold;
}

.charsheet main {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.charsheet main > div.flex-container {
  min-width: 840px;
}

.charsheet main div.flex-container {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 0;
}

.charsheet main div.col {
  display: block;
  flex: 1 1 0;
  min-width: 0;
  width: auto;
}

.charsheet main div.col > :first-child {
  margin-top: 0;
}

.charsheet main div.old-2colrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.charsheet main div.old-2colrow:has(button) {
  background-color: transparent;
  display: grid;
  grid-template-columns: 2fr auto;
  margin-bottom: 0;
}

.charsheet main div.old-2colrow div.col {
  align-content: center;
  align-self: center;
  background-color: transparent;
}

.charsheet main div.old-2colrow:has(+ fieldset) {
  background-color: transparent;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  margin-bottom: 0;
}

.charsheet main div.old-2colrow:has(+ fieldset) > :first-child {
  margin-inline: auto;
}

.charsheet main div.old-2colrow:has(+ fieldset) label {
  margin: auto;
  padding: 0;
}

.ui-dialog .charsheet .repcontainer .repitem > * {
  display: inline-flex;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  min-width: 0;
  vertical-align: middle;
  width: auto;
}

.ui-dialog .charsheet .repcontainer .repitem > span {
  min-width: auto;
  margin-inline: 1.5em;
}

.ui-dialog .charsheet .repcontainer[data-groupname="repeating_weapons"] .repitem {
  display: grid;
  grid-template-columns: 2fr minmax(5em, 6em) 4em 2em;
  column-gap: 1%;
}

.ui-dialog .charsheet .repcontainer[data-groupname="repeating_equipment"] .repitem {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.ui-dialog .charsheet .repcontainer[data-groupname="repeating_powers"] .repitem {
  display: grid;
  padding-right: 10px;
}

.charsheet div.col.wide {
  flex-grow: 2;
}

.charsheet input[type="number"].mediumnumber {
  width: 50%;
}

.charsheet input[type="number"].widenumber {
  width: 90%;
}

.charsheet input[type="text"] {
  max-width: 95%;
}

.charsheet input[type="text"].short {
  max-width: 35%;
}

.charsheet select.mediumwidth,
.charsheet input[type="text"].mediumwidth,
.charsheet textarea.mediumwidth {
  max-width: 66%;
}

.charsheet main .largewidth,
.charsheet .largedialog input[type="textarea"] {
  max-width: 95%;
  width: 95%;
}

.charsheet div {
  margin-bottom: 0.5em;
}

.charsheet div.clear {
  clear: both;
}

.charsheet div.section {
  border: 7px solid black;
  clear: both;
  color: black;
  display: block;
  height: auto;
  margin: 10px 0 10px 0;
  min-height: 2.75em;
  padding: 10px 5px 0 5px;
}

.charsheet div.yellow-border {
  border: 7px solid #fde12e;
}

.charsheet div.black-bg {
  background-color: black;
  color: white;
}

.charsheet div.yellow-bg {
  background-color: #fde12e;
  color: black;
}

.charsheet div.transparent-bg {
  background-color: rgba(0,0,0,0);
}

.charsheet .image-bg {
  background-color: black;
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Mork%20Borg/images/mork-borg-sheet-column-bg.png");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.charsheet main .flex-container.image-bg {
  margin: 0;
}

.charsheet div.pink-bg {
  background-color: rgb(241, 66, 175);
}

.charsheet div.pink {
  color: rgb(241, 66, 175);
  background-color: black;
}

.charsheet div.white-bg,
.charsheet div.white-bg div,
.charsheet span.white-bg {
  background-color: #ffffffd4;
  color: black;
}

.charsheet .centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.charsheet div.col-custom {
  margin: auto;
  padding-inline: .5em;
  width: min-content;
}

.charsheet .hit-points {
  align-items: center;
  clear: both;
  display: flex;
  flex-direction: column;
  margin-bottom: 15em;
  position: relative;
  top: 8em;
}

.charsheet .col-middle .section .col input.num,
.ui-dialog .charsheet main .hit-points input {
  font-size: 1.75em;
  height: 1.5em;
  text-align: center;
  width: 2em;
}

.charsheet main .hit-points .current-hit-points {
  margin: auto;
  padding: 0;
  position: relative;
  right: -1em;
}

.charsheet main .hit-points .max-hit-points {
  margin: auto;
  padding: 0;
  position: relative;
  right: -1.5em;
  top: -1em;
}

.charsheet main .hit-points .max-hit-points input {
  font-size: 1em;
  width: 3em;
  height: auto;
}

.charsheet main .omens {
  border: none;
  left: -2em;
  margin-inline: auto;
  max-width: 50%;
  min-width: 13em;
  position: relative;
}

.ui-dialog .tab-content .charsheet main .omens label span,
.ui-dialog .tab-content .charsheet main .omens span {
  color: #000;
}

.charsheet .omens-note {
  margin-inline: auto;
  margin-right: 5vw;
  width: 10em;
}

.charsheet div.col-right {
  border-right: 2px solid black;
}

.charsheet div.col-middle {
  margin-left: 1em;
  margin-right: 1em;
}

.charsheet .col-middle div.section.white-bg {
  max-width: 25vw;
  margin-inline: auto;
  min-width: 19em;
}

.ui-dialog .tab-content .charsheet .aligns-left {
  text-align: left;
  margin-inline: auto;
  margin-left: 0;
}

.ui-dialog .tab-content .charsheet .aligns-right {
  text-align: right;
}

.charsheet .inline {
  align-items: baseline;
  display: inline-flex;
  height: 1.5em;
  margin-bottom: auto;
  vertical-align: baseline;
  width: auto;
}

.charsheet span {
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  vertical-align: top;
}

.charsheet input[type="radio"] + label,
.charsheet input[type="checkbox"] + label {
  display: inline-block;
  height: 10px;
  width: 10px;
  font-size: 10px;
  padding: .25em .25em 1em 0;
  vertical-align: top;
  text-align: center;
}

.charsheet span.monospace {
  font-family: monospace;
}

.charsheet span.courier {
  font-family: "Courier New", monospace;
  font-weight: bolder;
  font-size: 1.25em;
  background-color: black;
  color: white;
  padding: .5em;
  margin-bottom: -.5em;
}

.charsheet span.unifraktur {
  font-family: "UnifrakturMaguntia", serif;
  font-size: 1.5em;
}

.charsheet span.lacquer {
  font-family: "Lacquer";
  font-size: 1.5em;
}

.charsheet div.note,
.charsheet span.note {
  font-size: .9em;
}

.ui-dialog .charsheet .transform1 {
  -webkit-transform: scale(0.95, 1.5);
  left: 1.25em;
  margin: auto;
  position: relative;
  top: -.25em;
  transform: scale(1.25, 1.7) rotate(-2deg);
}

.ui-dialog .charsheet .transform2 {
  -webkit-transform: scale(0.9, 2.2);
  left: 1.25em;
  margin: auto;
  position: relative;
  top: -1px;
  transform: scale(1.35, 1.7) rotate(2deg);
}

.ui-dialog .charsheet .transform3 {
  -webkit-transform: scale(0.77, 1.9);
  left: .5em;
  margin: auto;
  position: relative;
  transform: scale(1.1, 1.5) rotate(2deg);
}

.charsheet .no-display {
  display: none;
}

.charsheet span.all-caps {
  text-transform: uppercase;
}

.charsheet span.italic {
  font-style: italic;
}

.charsheet .bold-text {
  font-weight: bold;
}

.ui-dialog .tab-content .charsheet main .section:has(.miseries) {
  background-color: transparent;
  border: none;
  bottom: 1.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.charsheet .miseries {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(8, minmax(2em, 4em));
  height: 2em;
  justify-items: center;
  margin-bottom: 0;
  margin-inline: auto;
  width: 17em;
}

.charsheet .miseries label,
.charsheet .armor-tier label {
  background-color: #111 !important;
  display: flex;
  height: 18px;
  justify-content: center;
  margin: 0;
  outline: 1px solid #333;
  outline-offset: 2px;
  padding: 2px 1px 0 1px;
  position: relative;
  width: 18px;
}

.charsheet span[data-i18n="miseries-u"] {
  color: #fff;
  font-weight: normal;
  margin-left: 1em;
}

.ui-dialog .charsheet main .armor-tier > label:first-child {
  background-color: transparent !important;
  margin: 0;
  outline: none;
  width: auto;
}

.ui-dialog .charsheet .armor-tier {
  align-items: center;
  background: transparent;
  display: grid;
  grid-template-columns: minmax(5em, 2fr) repeat(4, minmax(2em, 4em));
  grid-template-rows: 1.1em 1.1em;
  margin-bottom: 0;
  margin-inline: auto;
  padding-top: .5em;
  row-gap: .75em;
  width: 13em;
}

.charsheet .miseries label input,
.charsheet .armor-tier label input {
  appearance: none;
  border-radius: 100%;
  height: 18px;
  margin: -2px 0 0 0;
  outline: 3px solid #fff;
  outline-offset: -2px;
  position: absolute;
  width: 18px;
}

.charsheet .miseries label input:has(+ span:hover),
.charsheet .armor-tier label input:has(+ span:hover) {
  appearance: none;
  outline: 3px solid #000;
  outline-offset: -1px;
  opacity: .85;
}

.charsheet .miseries label input:checked,
.charsheet .armor-tier label input:checked {
  appearance: none;
  background-color: #fde12e;
  border-radius: 50%;
  outline: 2px solid #000;
  outline-offset: 1px;
  box-shadow: 0 0 10px #fff;
}

.charsheet main .miseries label input + span,
.charsheet main .armor-tier label input + span {
  color: #000;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: -1px;
  opacity: .75;
  padding: 0;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.charsheet main .miseries label input + span:hover,
.charsheet main .armor-tier label input + span:hover,
.charsheet .miseries label input:checked + span,
.charsheet .armor-tier label input:checked + span {
  opacity: 1;
}

/* fills in all siblings before checked state */
.charsheet .miseries label:has(~label input:checked) input,
.charsheet .armor-tier label:has(~label input:checked) input {
  appearance: none;
  background-color: #333;
  outline: none;
  border: none;
}

.charsheet .miseries label:has(~label input:checked) input + span::after,
.charsheet .armor-tier label:has(~label input:checked) input + span::after {
  content: 'x';
    font-family: 'Lacquer';
    font-size: 2.5em;
    left: -8px;
    position: absolute;
    top: -4px;
}

.charsheet .miseries label ~ span,
.charsheet .armor-tier label ~ span {
  display: flex;
  justify-self: center;
  outline: none;
  padding: 0;
  width: 100%;
}

.sheet-rolltemplate-general,
.sheet-rolltemplate-attack,
.sheet-rolltemplate-defense {
  overflow: hidden;
}

.sheet-rolltemplate-general .sheet-container,
.sheet-rolltemplate-attack .sheet-container,
.sheet-rolltemplate-defense .sheet-container {
  background-color: #fff;
  border: 1px solid #fde12e;
  border-bottom-color: #000;
  border-bottom-width: 1em;
  border-inline-width: .5em;
  border-left-color: #000;
  line-height: 1.35em;
  padding: 5px;
  padding-top: 0;
  width: 90%;
}

.sheet-rolltemplate-general h1,
.sheet-rolltemplate-attack h1,
.sheet-rolltemplate-defense h1 {
  align-content: center;
  background-color: #fde12e;
  font-family: 'Lacquer';
  font-size: 1.2em;
  line-height: normal;
  margin: -2px -12px 5px -12px;
  min-height: 2em;
  padding: 0 .5em 0 .5em;
  text-align: left;
  text-wrap: pretty;
}

.sheet-rolltemplate-general span,
.sheet-rolltemplate-attack span,
.sheet-rolltemplate-defense span {
  display: inline-block;
  padding-left: 2px;
  padding-bottom: 2px;
}

.sheet-rolltemplate-general .sheet-container .sheet-aligns-right,
.sheet-rolltemplate-attack .sheet-container .sheet-aligns-right,
.sheet-rolltemplate-defense .sheet-container .sheet-aligns-right {
  border-top: 2px solid #00000063;
  padding-right: 5px;
  padding-top: 2px;
  text-align: right;
}

.sheet-rolltemplate-general .sheet-container > :nth-child(2),
.sheet-rolltemplate-attack .sheet-container > :nth-child(2),
.sheet-rolltemplate-defense .sheet-container > :nth-child(2) {
  border: none;
  padding-top: 0;
}

.sheet-rolltemplate-general .sheet-container .sheet-bold-text,
.sheet-rolltemplate-attack .sheet-container .sheet-bold-text,
.sheet-rolltemplate-defense .sheet-container .sheet-bold-text {
  font-weight: bold;
}

.sheet-rolltemplate-general .inlinerollresult,
.sheet-rolltemplate-attack .inlinerollresult,
.sheet-rolltemplate-defense .inlinerollresult,
.sheet-rolltemplate-general .inlinerollresult.importantroll,
.sheet-rolltemplate-attack .inlinerollresult.importantroll,
.sheet-rolltemplate-defense .inlinerollresult.importrantroll {
    background-color: #fff;
    border: 1px solid #000;
    min-width: 1em;
    text-align: center;
}

.sheet-rolltemplate-general .sheet-container .inlinerollresult.fullcrit,
.sheet-rolltemplate-attack .sheet-container .inlinerollresult.fullcrit,
.sheet-rolltemplate-defense .sheet-container .inlinerollresult.fullcrit {
    color: #fde12e;
    background-color: #000;
    border: none;
}


.sheet-rolltemplate-general .sheet-container .inlinerollresult.fullfail,
.sheet-rolltemplate-attack .sheet-container .inlinerollresult.fullfail,
.sheet-rolltemplate-defense .sheet-container .inlinerollresult.fullfail {
    color: #ff0000;
    background-color: #fff;
    border: 1px solid #000;
}

.sheet-rolltemplate-general .sheet-crit,
.sheet-rolltemplate-attack .sheet-crit,
.sheet-rolltemplate-defense .sheet-crit {
  background-color: rgb(241, 66, 175);
  color: #000;
  font-style: italic;
  margin-bottom: -5px;
  margin-inline: -5px;
}

.sheet-rolltemplate-general .sheet-crit-black,
.sheet-rolltemplate-attack .sheet-crit-black,
.sheet-rolltemplate-defense .sheet-crit-black {
  background-color: #000;
  color: #fde12e;
  font-style: italic;
  margin: 0 -5px -5px -5px;
}

.sheet-rolltemplate-general .sheet-crit-black .inlinerollresult,
.sheet-rolltemplate-defense .sheet-crit-black .inlinerollresult {
  color: #000;
}

.sheet-rolltemplate-general .sheet-fumble,
.sheet-rolltemplate-attack .sheet-fumble,
.sheet-rolltemplate-defense .sheet-fumble {
  background-color: #000;
  color: #fde12e;
  font-style: italic;
}

.sheet-rolltemplate-general .sheet-fumble .inlinerollresult,
.sheet-rolltemplate-attack .sheet-fumble .inlinerollresult,
.sheet-rolltemplate-defense .sheet-fumble .inlinerollresult {
  color: #000;
}

/* Dark Mode CSS rules */

.sheet-darkmode .charsheet main > .image-bg {
  background-image: none;
  background-color: #000;
  position: relative;
  z-index: 0
}

.sheet-darkmode .charsheet main.image-bg {
  background-image: none;
}

.sheet-darkmode .charsheet main.image-bg::before {
  background-color: #000;
  background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Mork%20Borg/images/mork-borg-sheet-column-bg.png");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: 100%;
  opacity: .35;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.sheet-darkmode .charsheet main > div {
  position: relative;
  z-index: 2;
}

.sheet-darkmode,
.sheet-darkmode .charsheet,
.sheet-darkmode .charsheet * {
  color: black;
}

.sheet-darkmode .charsheet main span,
.sheet-darkmode .charsheet main label,
.sheet-darkmode .ui-dialog .charsheet main label.inline span.unifraktur {
  background-color: transparent;
  color: #ff00ff;
  font-weight: normal;
}

.sheet-darkmode .ui-dialog .charsheet label input[type="radio"]:not(:checked),
.sheet-darkmode .ui-dialog .charsheet label input[type="radio"]:not(:checked) + span,
.sheet-darkmode .ui-dialog .charsheet main div.note,
.sheet-darkmode .ui-dialog .charsheet main span.note,
.sheet-darkmode .ui-dialog .charsheet main .transparent-bg > label span,
.sheet-darkmode .ui-dialog .charsheet main span.white-bg {
  color: #fff;
  background-color: transparent;
  margin: -1px 0 0 0;
  outline-width: 1px;
  outline-offset: 1px;
}

.sheet-darkmode .ui-dialog .charsheet div.white-bg,
.sheet-darkmode .ui-dialog .charsheet span.white-bg,
.sheet-darkmode .charsheet .white-bg {
  background-color: #222222d4;
}

.sheet-darkmode .ui-dialog .charsheet div.white-bg div {
  background-color: transparent;
}

.sheet-darkmode .charsheet select,
.sheet-darkmode .charsheet textarea,
.sheet-darkmode .charsheet input[type="text"],
.sheet-darkmode .charsheet input[type="number"],
.sheet-darkmode .charsheet input[type="radio"] {
  background-color: #111;
  color: #fff;
}

/* .sheet-rolltemplate-darkmode.sheet-rolltemplate-general .sheet-container,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-container,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-defense .sheet-container {
  background-color: transparent;
  color: white;
} */

.sheet-rolltemplate-darkmode.sheet-rolltemplate-general .sheet-container,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-rolltemplate-darkmode.sheet-rolltemplate-general .sheet-container,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-container,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-defense .sheet-container {
  background-color: transparent;
  border-bottom-width: 1em;
  border-color: #000;
  border-inline-width: .5em;
  border-left-color: #fde12e;
  border-top-color: #fde12e;
  color: white;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-general h1,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack h1,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-defense h1 {
  color: black;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-general .sheet-container .sheet-bold-text,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-container .sheet-bold-text,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-defense .sheet-container .sheet-bold-text {
  font-weight: normal;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-general .inlinerollresult,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .inlinerollresult,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-defense .inlinerollresult,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-general .inlinerollresult.importantroll,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .inlinerollresult.importantroll,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-defense .inlinerollresult.importrantroll {
  background-color: var(--primary-dark);
}

.ui-dialog .tab-content .charsheet .repcontainer .repitem,
.ui-dialog .tab-content .charsheet .repcontainer + .repcontrol {
  background-color: transparent;
  margin: auto;
  padding-bottom: 2px;
  min-height: 2em;
}

.ui-dialog .tab-content .charsheet .itemcontrol {
  position: relative;
}

.ui-dialog .tab-content .charsheet .itemcontrol button.repcontrol_del,
.ui-dialog .tab-content .charsheet .itemcontrol a.repcontrol_move {
  border: 2px solid #111;
  border-radius: 6px;
  display: block;
  height: 1em;
  padding: 2px 4px 7px 4px;
  position: relative;
  width: 1em;
  z-index: 3;
}

.ui-dialog .tab-content .charsheet .itemcontrol button.repcontrol_del {
  background: red;
  color: #fff;
}

.ui-dialog .tab-content .charsheet .itemcontrol a.repcontrol_move {
  background: #fff;
  color: #000;
}

.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_add,
.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_del,
.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_move,
.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_edit {
  background: none;
  border: 0;
  box-shadow: none;
  font-size: 0;
  line-height: 1;
  padding: 0;
}

.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_add:before,
.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_del:before,
.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_move:before,
.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_edit:before {
  background: none;
  background-color: #fff;
  border: 2px solid #222222d4;
  border-radius: 6px;
  box-shadow: none;
  display: block;
  height: 1.25em;
  padding: 2px;
  width: 1.25em;
}

.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_add:before {
  content: "&";
  display: block;
  font-family: "Pictos";
  font-size: 12px;
  font-weight: bold;
}

.ui-dialog .tab-content .charsheet .repcontrol button.repcontrol_edit:before {
  content: "(";
  display: block;
  font-family: "Pictos";
  font-size: 12px;
  font-weight: bold;
}

.ui-dialog .tab-content .charsheet .editmode + .repcontrol button.repcontrol_edit:before {
  content: ")";
}