- 
  var 
    combatTalents = {
      archer: {
        abilityId: 'archer'
      },
      berserker: {
        abilityId: 'berserker'
      },
      brawler: {
        abilityId: 'brawler'
      },
      cutthroat: {
        abilityId: 'cutthroat'
      },
      duelist: {
        abilityId: 'duelist'
      },
      fletcher: {
        abilityId: 'fletcher'
      },
      ironclad: {
        abilityId: 'ironclad'
      },
      'long-arm': {
        abilityId: 'longarm'
      },
      'shield-bearer': {
        abilityId: 'shieldbearer'
      },
      skirmisher: {
        abilityId: 'skirmisher'
      },
      slinger: {
        abilityId: 'slinger'
      },
      sunderer: {
        abilityId: 'sunderer'
      },
      swordmaster: {
        abilityId: 'swordmaster'
      },
      'thunder-bringer': {
        abilityId: 'thunderbringer'
      }
  }
