- 
  var 
    companions = {
      'cave-lion': {
        abilityId: 'cavelion'
      },
      'giant-spider': {
        abilityId: 'giantspider'
      },
      hawk: {
        abilityId: 'hawk'
      },
      horse: {
        abilityId: 'horse'
      },
      hound: {
        abilityId: 'hound'
      },
      kindred: {
        abilityId: 'kindred'
      },
      mammoth: {
        abilityId: 'mammoth'
      },
      owl: {
        abilityId: 'owl'
      },
      raven: {
        abilityId: 'raven'
      },
      'young-wyvern': {
        abilityId: 'youngwyvern'
      }
  }
