- 
  var 
    paths = {
      alchemist: {
        abilityId: 'alchemist'
      },
      'animal-kin': {
        abilityId: 'animalkin'
      },
      'banner-sworn': {
        abilityId: 'bannersworn'
      },
      'battle-scarred': {
        abilityId: 'battlescarred'
      },
      'blade-bound': {
        abilityId: 'bladebound'
      },
      bonded: {
        abilityId: 'bonded'
      },
      dancer: {
        abilityId: 'dancer'
      },
      devotant: {
        abilityId: 'devotant'
      },
      empowered: {
        abilityId: 'empowered'
      },
      'fortune-hunter': {
        abilityId: 'fortunehunter'
      },
      'herbalist': {
        abilityId: 'herbalist'
      },
      honorbound: {
        abilityId: 'honorbound'
      },
      improviser: {
        abilityId: 'improviser'
      },
      infiltrator: {
        abilityId: 'infiltrator'
      },
      loyalist: {
        abilityId: 'loyalist'
      },
      masked: {
        abilityId: 'masked'
      },
      oathbreaker: {
        abilityId: 'oathbreaker'
      },
      outcast: {
        abilityId: 'outcast'
      },
      pretender: {
        abilityId: 'pretender'
      },
      revenant: {
        abilityId: 'revenant'
      },
      rider: {
        abilityId: 'rider'
      },
      ritualist: {
        abilityId: 'ritualist'
      },
      'shadow-kin': {
        abilityId: 'shadowkin'
      },
      sighted: {
        abilityId: 'sighted'
      },
      slayer: {
        abilityId: 'slayer'
      },
      'spirit-bound': {
        abilityId: 'spiritbound'
      },
      storyweaver: {
        abilityId: 'storyweaver'
      },
      trickster: {
        abilityId: 'trickster'
      },
      veteran: {
        abilityId: 'veteran'
      },
      waterborn: {
        abilityId: 'waterborn'
      },
      wayfinder: {
        abilityId: 'wayfinder'
      },
      'weapon-master': {
        abilityId: 'weaponmaster'
      },
      wildblood: {
        abilityId: 'wildblood'
      },
      wright: {
        abilityId: 'wright'
      }
  }
