- 
  var 
    rituals = {
      augur: {
        abilityId: 'augur'
      },
      awakening: {
        abilityId: 'awakening',
        track: 6,
      },
      bind: {
        abilityId: 'bind'
      },
      communion: {
        abilityId: 'communion'
      },
      divination: {
        abilityId: 'divination'
      },
      invoke: {
        abilityId: 'invoke',
        track: 6,
      },
      keen: {
        abilityId: 'keen'
      },
      leech: {
        abilityId: 'leech'
      },
      lightbearer: {
        abilityId: 'lightbearer',
        track: 6
      },
      scry: {
        abilityId: 'scry'
      },
      'shadow-walk': {
        abilityId: 'shadowwalk'
      },
      sway: {
        abilityId: 'sway'
      },
      talisman: {
        abilityId: 'talisman'
      },
      tether: {
        abilityId: 'tether'
      },
      totem: {
        abilityId: 'totem'
      },
      visage: {
        abilityId: 'visage'
      },
      ward: {
        abilityId: 'ward'
      }
    }