//- SHEET
include pug/containers/sheetcontainer.pug 

//- ROLL MODAL
include pug/containers/rolltemplates.pug

//- SCRIPTS
script(type="text/worker")
  include js/reset_roll.js
  include js/calculate_dice.js
  include js/init.js
  include js/tabs.js
  include js/roll.js
  include js/gaining_wisdom.js
  include js/pips.js
