//- SHEET
include pug/containers/sheetcontainer.pug 

//- ROLL TEMPLATES
include pug/rolltemplates/luck.pug
include pug/rolltemplates/deeper_understanding.pug
include pug/rolltemplates/of_course.pug
include pug/rolltemplates/skill_check.pug

//- SCRIPTS
script(type="text/worker")
  include js/reset_roll.js
  include js/calculate_dice.js
  include js/init.js
  include js/tabs.js
  include js/roll.js
  include js/gaining_wisdom.js
  include js/pips.js
  include js/skill_check.js
