.sheet-desc-show:not(:checked)~.sheet-desc,
.sheet-macro-text-show:not(:checked)~.sheet-macro-text,
.sheet-sect-show:not(:checked)~.sheet-sect {
    display:none;
}

.sheet-table {
    display:table;
    width:100%;
}

.sheet-small-label {
    font-size: 85%!important;
    font-style: italic;
    font-weight: bold;
}

.sheet-table-name {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    width:100%;
}

.sheet-table-header {
    display:table-cell;
    text-align:center;
    font-style: italic;
    font-weight:bold;
    vertical-align:bottom;
    background-color:lightgray;
}

.sheet-table-data {
    display:table-cell;
    vertical-align:middle;
}

.sheet-center {
    text-align:center;
}

.sheet-left {
    text-align:left;
}

.sheet-right {
    text-align:right;
}

.sheet-table-row {
    display:table-row;
    vertical-align:bottom;
    width:100%;    
}

.sheet-table-row-name {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    color:white;
    background-color:black;
    font-weight:bold;
}

.sheet-label {
    font-weight:bold;
    text-align:center;
}

input[type="text"], input[type="number"] {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

input[type="text"]:disabled, input[type="number"]:disabled {
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 0px 0px;
}

input[type="text"], select {
    width:100%;
    margin:0;
}

div[class^="sheet-section"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}

div[class^="sheet-npc"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}

input.sheet-tab99:checked ~ div[class^="sheet-section"] {   
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: auto;
}

input.sheet-tab {
    width: 70px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    opacity: 0;
    z-index: 9999;
}

/* Le mot "Compétences" est plus long que les autres */
input.sheet-tab5 {
    width: 90px;
}

span.sheet-tab {
    text-align: center;
    display: inline-block;   
    font-size: 13px;    
    background: black; 
    color: white;
    font-weight: bold;

    width: 70px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    margin-left: -75px;
}

/* Le mot "Compétences" est plus long que les autres */
span.sheet-tab5 {
    width: 90px;
    margin-left: -95px;
}

input.sheet-tab::before {
    content: attr(title);
    text-align: center;
    display: inline-block;    
    width: 100%;
    height: 100%;

    background: black; 
    color: white;
    font-weight: bold;
}

input.sheet-tab:checked::before {
    background:gray;    
    color:white;
}

input.sheet-tab1:checked ~ div.sheet-section-core,
input.sheet-tab2:checked ~ div.sheet-section-class,
input.sheet-tab3:checked ~ div.sheet-section-defenses,
input.sheet-tab4:checked ~ div.sheet-section-attacks,
input.sheet-tab5:checked ~ div.sheet-section-skills,
input.sheet-tab6:checked ~ div.sheet-section-feats,
input.sheet-tab7:checked ~ div.sheet-section-inventory,
input.sheet-tab8:checked ~ div.sheet-section-spells,
input.sheet-tab9:checked ~ div.sheet-section-details,
input.sheet-tab10:checked ~ div.sheet-section-npc {
    max-height: 999999px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
    overflow: hidden;
}

input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab4:checked + span.sheet-tab4,
input.sheet-tab5:checked + span.sheet-tab5,
input.sheet-tab6:checked + span.sheet-tab6,
input.sheet-tab7:checked + span.sheet-tab7,
input.sheet-tab8:checked + span.sheet-tab8,
input.sheet-tab9:checked + span.sheet-tab9,
input.sheet-tab99:checked + span.sheet-tab99,
input.sheet-tab10:checked + span.sheet-tab10 {
    background: gray;    
    color: white;
}

.sheet-text-button {
    font-size:100%;
    color:white;
    background-color:black;
    border:0px;
}

button,
button:hover,
button:active
{
    background-image: none;
}

input[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    content: "[show]";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
input[type="checkbox"]:checked + span::before
{
    content: "[hide]";
}

hr {
    border-color:black;
}

textarea {
    box-sizing:border-box;
}
