//VERSION
// =============================
input(name='attr_version' type='hidden' value='1')

//MIXINS
include src/pug/_mixins.pug

// TABS
// =============================
input.type(name='attr_sheet_type' type='hidden' value='character')
input.display_string(name='attr_character_settings' type='hidden' value='')

//TABS & LOGO
// =============================
.tabs.grid
  // Buttons to toggle on GM whisper
  input.whisper-toggle(name='attr_gm_toggle' type='hidden' value=' ')
  button(data-i18n-title='gm-whisper-toggle' name='act_whisper' title='gm whisper toggle' type='action') 
   span(data-i18n='whisper-gm') Whisper GM
   span.hidden() gm whisper toggle. current status:
    span.on() on
    span.off() off
  // LOGO
  img(alt='Delta Green' src='https://raw.githubusercontent.com/clevett/roll20-character-sheets/deltagreen/Delta%20Green%20by%20Arc%20Dream%20Publishing/img/deltagreenlogo.jpg')
  // CHARACTER SHEETS
  button(data-i18n-title='sheet-settings' name='act_sheet_select' title='sheet settings' type='action') 
    span.hidden() sheet settings toggle
    span.pictos() y 


// NPC SHEET
// =============================
.npc
  .box.npc-flex
    p NPC STUFF
  .box.npc-flex
    p MORE NPC STUFF 

//PC SHEET
// =============================
include src/pug/_pc.pug

//NOTES SHEET
// =============================
.notes

//SETTINGS SHEET
// =============================
.settings
  select(name='attr_sheet_select' title='character sheet select' selected)
    option(data-i18n='' value='character') character
    option(data-i18n='' value='npc') npc

//HIDDEN ATTRIBUTES
// =============================


//ROLL TEMPLATE
// =============================
//include src/pug/rolltemplate.pug


//SHEETWORKERS
// =============================
script(type='text/worker')
  include src/pug/sheetworkers.js