/* === GENERAL === */
.charsheet {
    min-width: 820px;
        color: white;
}

.sheet-header-fight {
    margin-bottom: 2px;
    padding: 1px 2px;
    color: white;
    background: #173B0B
;
	color: white;
	font-weight: bold;
}

.sheet-header {
    margin-bottom: 4px;
    padding: 2px 4px;
    color: white;
	background: #173B0B
;
	
	font-weight: bold;
    color: white;
}

.sheet-section {
	float: left;
	width: 100%;
    color: white;
	margin: 4px 0;
	padding: 1px;
	box-sizing: border-box;
}

.sheet-half {
	max-width: 50%;
        color: white;
}

.sheet-break {
	clear: both;
}

label,
select {
	margin: 0;
        color: white;
}

textarea {
	margin: 0;
	width: 100%;
	height: 100px;
	resize: vertical;
	box-sizing: border-box;
    color: black;
}

.sheet-repitem,
.repitem {
	margin-bottom: 4px;

   
}

/* Override Roll20 Button styling for something less conspicious */
button {
	height: 22px;
	line-height: 16px;
	margin: 0 !important;
	border-radius: 0 !important;
	background-image: none !important;
	border: none !important;
	box-shadow: none !important;
}

.repitem button {
	height: 22px;
	line-height: 16px;
}

/* === BASIC === */
.sheet-logo {
	width: 820px;
    margin: 4px 4px;
    float: center;

}
.charsheet {
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/conan-2d20/conan2d20background.png");
}


.sheet-section-basic tr {
	margin-left: 5px;
}

.sheet-section-basic td {
	padding: 2px;
}

.sheet-section-basic input[type="number"] {
	width: 100px;
}

.sheet-section-basic .sheet-column {
	width: calc(50% - 200px);
}

/* === SKILLS === */
.sheet-section-skills {
	min-width: 400px;
}

.sheet-section-skills input {
	width: 60px;
}

.sheet-section-skills {
        color: white;
	text-align: right;
	font-weight: bold;
	padding: 0 4px;
}

.sheet-check-on {
    border: 1px solid black;
}

.sheet-check-off {
	background-color: #E3E3E3;
	border: 1px solid gray;
}


/* === ASPECT === */
.sheet-section-aspects input {
	width: 100%;
}

/* === STRESS === */
.sheet-section-stress td {
	text-align: left;
	padding-right: 5px;
}

.sheet-section-stress input {
	margin-left: 2px;
}

.sheet-check-on {
	border: 1px #173B0B;

}

.sheet-check-off {
	background-color: #E3E3E3;

}

/* === CONSEQUENCES === */
.sheet-section-consequences {
	float: right;
}

.sheet-section-consequences select {
	width: 100px;
	float: left;
}

.sheet-section-consequences input {
	margin-left: 2px;
	width: calc(100% - 102px);
}

