<input class="sheet-slide-input-spell-slots-points" type="checkbox" name="attr_spell_slots_points" value="1"><label class="sheet-slide-toggle-spell-slots-points"><span class="sheet-slide-cover">···</span><span class="sheet-slide-toggle-spell-slots-points-left"><span class="sheet-en">Spell Slots</span><span class="sheet-de">Zauberslots</span><span class="sheet-fr">Emplacement</span></span><span class="sheet-slide-toggle-spell-slots-points-right"><span class="sheet-en">Spell Points</span><span class="sheet-de">Zauberpunkte</span><span class="sheet-fr">Points de Sort</span></span></label>

<div class="sheet-spell-slots">
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">1st</span>
      <span class="sheet-de">1te</span>
      <span class="sheet-fr">1er</span>
      <span class="sheet-ru">1ый</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l1" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l1_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">2nd</span>
      <span class="sheet-de">2te</span>
      <span class="sheet-fr">2ème</span>
      <span class="sheet-ru">2ой</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l2" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l2_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">3rd</span>
      <span class="sheet-de">3te</span>
      <span class="sheet-fr">3ème</span>
      <span class="sheet-ru">3ий</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l3" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l3_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">4th</span>
      <span class="sheet-de">4te</span>
      <span class="sheet-fr">4ème</span>
      <span class="sheet-ru">4ый</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l4" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l4_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">5th</span>
      <span class="sheet-de">5te</span>
      <span class="sheet-fr">5ème</span>
      <span class="sheet-ru">5ый</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l5" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l5_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">6th</span>
      <span class="sheet-de">6te</span>
      <span class="sheet-fr">6ème</span>
      <span class="sheet-ru">6ой</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l6" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l6_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">7th</span>
      <span class="sheet-de">7te</span>
      <span class="sheet-fr">7ème</span>
      <span class="sheet-ru">7ой</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l7" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l7_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">8th</span>
      <span class="sheet-de">8te</span>
      <span class="sheet-fr">8ème</span>
      <span class="sheet-ru">8ой</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l8" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l8_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-30 sheet-center sheet-small-label sheet-vert-middle">
      <span class="sheet-en">9th</span>
      <span class="sheet-de">9te</span>
      <span class="sheet-fr">9ème</span>
      <span class="sheet-ru">9ый</span>
    </div>
    <div class="sheet-col-30">
      <input type="number" name="attr_spell_slots_l9" value="0">
    </div>
    <div class="sheet-col-10 sheet-center sheet-vert-bottom sheet-pad-l-sm sheet-pad-r-sm">&#47;</div>
    <div class="sheet-col-30">
      <input class="sheet-center" type="number" name="attr_spell_slots_l9_max" value="0" min="0">
    </div>
  </div>
  <div class="sheet-shaped-row sheet-no-background">
    <div class="sheet-col-30"></div>
    <div class="sheet-col-30">
      <div class="sheet-small-label sheet-center">
        <span class="sheet-en">Current</span>
        <span class="sheet-de">Aktuell</span>
        <span class="sheet-fr">Actuel</span>
        <span class="sheet-ru">Текущее</span>
      </div>
    </div>
    <div class="sheet-col-10"></div>
    <div class="sheet-col-30">
      <div class="sheet-small-label sheet-center">
        <span class="sheet-en">Max</span>
        <span class="sheet-de">Max.</span>
        <span class="sheet-fr">Max</span>
        <span class="sheet-ru">Max</span>
      </div>
    </div>
  </div>
</div>
<div class="sheet-spell-points">
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">1st</span>
      <span class="sheet-de">1te</span>
      <span class="sheet-fr">1er</span>
      <span class="sheet-ru">1ый</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>2</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">2nd</span>
      <span class="sheet-de">2te</span>
      <span class="sheet-fr">2ème</span>
      <span class="sheet-ru">2ой</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>3</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">3rd</span>
      <span class="sheet-de">3te</span>
      <span class="sheet-fr">3ème</span>
      <span class="sheet-ru">3ий</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>5</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">4th</span>
      <span class="sheet-de">4te</span>
      <span class="sheet-fr">4ème</span>
      <span class="sheet-ru">4ый</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>6</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">5th</span>
      <span class="sheet-de">5te</span>
      <span class="sheet-fr">5ème</span>
      <span class="sheet-ru">5ый</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>7</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">6th</span>
      <span class="sheet-de">6te</span>
      <span class="sheet-fr">6ème</span>
      <span class="sheet-ru">6ой</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>9</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">7th</span>
      <span class="sheet-de">7te</span>
      <span class="sheet-fr">7ème</span>
      <span class="sheet-ru">7ой</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>10</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">8th</span>
      <span class="sheet-de">8te</span>
      <span class="sheet-fr">8ème</span>
      <span class="sheet-ru">8ой</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>11</span>
    </div>
  </div>
  <div class="sheet-shaped-row">
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label">
      <span class="sheet-en">9th</span>
      <span class="sheet-de">9te</span>
      <span class="sheet-fr">9ème</span>
      <span class="sheet-ru">9ый</span>
    </div>
    <div class="sheet-col-50 sheet-center sheet-vert-middle sheet-small-label pad-l-sm">
      <span>13</span>
    </div>
  </div>
  <div class="sheet-shaped-row sheet-center sheet-no-background">
    <div class="sheet-col-35 sheet-center sheet-pad-r-sm">
      <input type="number" name="attr_spell_points" value="0">

      <div class="sheet-small-label">
        <span class="sheet-en">Current</span>
        <span class="sheet-de">Aktuell</span>
        <span class="sheet-fr">Actuel</span>
        <span class="sheet-ru">Текущее</span>
      </div>
    </div>
    <div class="sheet-col-05 sheet-center sheet-vert-bottom">&#47;</div>
    <div class="sheet-col-35 sheet-center pad-l-sm">
      <input type="number" name="attr_spell_points_max" value="0" min="0">

      <div class="sheet-small-label">
        <span class="sheet-en">Max</span>
        <span class="sheet-de">Max.</span>
        <span class="sheet-fr">Max</span>
        <span class="sheet-ru">Max</span>
      </div>
    </div>
  </div>
</div>
