//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-23

//
    ********************************
    * START src/html/page-three/block-one.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div   
    include ../bloecke/psi_kraefte.pug    
//
    ********************************
    * ENDE src/html/page-three/block-one.pug
    ********************************