mixin blade(blade)
  aside.blade(class=blade.name)&attributes(attributes)
    input.blade-toggle__controller(name=`attr_${blade.name}_blade`, type='hidden', value='0')
    button.blade-toggle(name=`act_${blade.name}-blade`, type='action')
      h2.blade__title(data-i18n=blade.name)= blade.title
    .blade__wrapper
      block
