//- https://github.com/pugjs/pug/issues/1693#issuecomment-894801220
//- https://codepen.io/Vectorjon/pen/GRmYWjN
mixin block(key, marker=false)
  - global.my_blocks = global.my_blocks || {};
  if marker
    if global.my_blocks[key]
      - let temp = {};
      - temp[key] = global.my_blocks[key];
      - global.my_blocks[key] = null;
      - temp[key]();
    else
      block
  else
    - global.my_blocks[key] = this.block;
