/* Set the min-width so that when the window is resized the look will stay consistant */
 .charsheet {
     background-color: #fff;
     min-width: 100%;
     border-style:inset;
}
 .charsheet label {
     margin-top: 10px;
}
/* Universal styling applied to all elements of these types */
 h2 {
     font-size: 2em;
     text-align: center;
     width: 100%;
}
 label {
     text-align: center !important;
}
 img {
     max-height: 100px;
}
 .center {
     padding-bottom: 10px;
     text-align: center !important;
     border-spacing: 10px !important;
     background-color: antiquewhite !important;
}
 .inputmargin {
     text-align: center !important;
     width: 100%;
}
 .wide {
     width: 45% !important;
}
 .center2 {
     padding-bottom: 10px;
     text-align: center !important;
     border-spacing: 10px !important;
     background-color: antiquewhite !important;
}
 .ui-dialog .charsheet {
}
 .charsheet {
     min-width: 80%;
     max-width: 95%;
     border-style: inset;
     background-color: antiquewhite;
}
 .option {
     overflow-wrap: break-word;
}
 div.sheet-hunter, div.sheet-stats, div.sheet-combat, div.sheet-weapons, div.sheet-skills, div.sheet-items, div.sheet-levels, div.sheet-feats, div.sheet-traits {
     display: none;
}
 input.sheet-tab1:unchecked ~ div.sheet-hunter {
     display: none;
}
 input.sheet-tab2:unchecked ~ div.sheet-stats {
     display: none;
}
 input.sheet-tab3:unchecked ~ div.sheet-combat {
     display: none;
}
 input.sheet-tab4:unchecked ~ div.sheet-weapons {
     display: none;
}
 input.sheet-tab5:unchecked ~ div.sheet-skills {
     display: none;
}
 input.sheet-tab6:unchecked ~ div.sheet-items {
     display: none;
}
 input.sheet-tab7:unchecked ~ div.sheet-levels {
     display: none;
}
 input.sheet-tab8:unchecked ~ div.sheet-feats {
     display: none;
}
 input.sheet-tab9:unchecked ~ div.sheet-traits {
     display: none;
}
 input.sheet-tab1:checked ~ div.sheet-hunter {
     display: block;
     border-style: double
}
 input.sheet-tab2:checked ~ div.sheet-stats {
     display: block;
     border-style: double 
}
 input.sheet-tab3:checked ~ div.sheet-combat {
     display: block;
     border-style: double 
}
 input.sheet-tab4:checked ~ div.sheet-weapons {
     display: block;
     border-style: double 
}
 input.sheet-tab5:checked ~ div.sheet-skills {
     display: block;
     border-style: double 
}
 input.sheet-tab6:checked ~ div.sheet-items {
     display: block;
     border-style: double 
}
 input.sheet-tab7:checked ~ div.sheet-levels {
     display: block;
     border-style: double 
}
 input.sheet-tab8:checked ~ div.sheet-feats {
     display: block;
     border-style: double 
}
 input.sheet-tab9:checked ~ div.sheet-traits {
     display: block;
     border-style: double 
}
 .div{
     background-color: antiquewhite;
}
 .container {
     display: flex;
    /* or inline-flex */
     flex-flow:wrap;
     flex-direction: row;
     justify-content: center;
     align-items:flex-start;
     width: 90%;
}
 .containercol {
     display: flex;
    /* or inline-flex */
     flex-flow: column;
     flex-direction: column;
     justify-content: center;
     width: 100%;
}
 .containercol4 {
     display: flex;
    /* or inline-flex */
     flex-flow: column;
     flex-direction: column;
     align-items: stretch;
     justify-content:center;
     width: 20%;
}
 .containercol2 {
     display: flex;
    /* or inline-flex */
     flex-flow: column;
     flex-direction: column;
     align-items: stretch;
     justify-content:center;
     width: 50%;
}
 .containerrow {
     display: flex;
    /* or inline-flex */
     flex-flow: row;
     flex-direction: row;
     align-items: stretch;
     justify-content:center;
     width: auto;
}
 .item {
     flex-grow: 1;
    /* default 0 */
     padding-right: 5px;
     padding-left: 5px;
     background-color: antiquewhite;
}
 .item4 {
     flex-grow: 1;
    /* default 0 */
     padding-right: 5px;
     padding-left: 5px;
     background-color: antiquewhite;
     width: 100%;
}
 .sheet-bnb-logo {
     height: 116px;
}
 .input, .sheet-short {
     width: 25px;
}
