mixin challengeDice
  .sheet-result-body.sheet-result-row
    div Challenge Dice: 
    div.sheet-challenge-dice {{challenge1}} {{challenge2}}

mixin actionBody(type)
  .sheet-result-body.sheet-result-row
    div Action Score: 
    div.sheet-action-score {{#{type}}}
  +challengeDice

mixin progressBody
  .sheet-result-body.sheet-result-row
    div {{progress_type}} Progress: 
    div {{progress}}
  +challengeDice

mixin momentumBody
  .sheet-result-body.sheet-result-row
    div.sheet-momentum-title Momentum:
    div {{momentum}}