{
  "bracketSpacing": true,
  "printWidth": 120,
  "pugAttributeSeparator": "always",
  "pugSortAttributes": "asc",
  "pugWrapAttributesThreshold": -1,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
