-
  const doomBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{doom}}}',
    '{{^{doom_name}=@{doom_name}}}',
    '{{^{doom_description}=@{doom_description}}}',
  ].join(' ');
  const legacyBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{legacy}}}',
    '{{^{legacy_name}=@{legacy_name}}}',
    '{{^{legacy_description}=@{legacy_description}}}',
  ].join(' ');

  data.character = {
    //- finish run clean up button?
    personalities: ['grit', 'guts', 'smarts', 'heart', 'chill'],
    header: {
      hidden: ['personality'],
      personality: {
        name: 'personality',
        dynamic: true,
        blockName: 'header',
      },
      custom: {
        name: 'personality_custom',
        label: 'Custom Personality',
        placeholder: 'Custom Personality',
        type: 'text',
        blockName: 'header',
      },
      fields: [
        {
          name: 'personality',
          label: 'Personality',
          placeholder: 'Personality',
          options: [
            { name: 'select_playbook', text: 'Pick Your Personality' },
            { name: 'grit', text: 'The Grit' },
            { name: 'guts', text: 'The Guts' },
            { name: 'smarts', text: 'The Smarts' },
            { name: 'heart', text: 'The Heart' },
            { name: 'chill', text: 'The Chill' },
            { name: 'custom', text: 'Custom' },
          ],
          type: 'select',
          blockName: 'header',
        },
        {
          name: 'character_name',
          label: 'Name',
          placeholder: 'Farrah',
          type: 'text',
          blockName: 'header',
        },
        {
          name: 'look',
          label: 'Look',
          placeholder: 'all black, muted, chains',
          type: 'text',
          blockName: 'header',
        },
        { name: 'family', label: 'Family', placeholder: 'strict', type: 'text', blockName: 'header' },
        {
          name: 'bond',
          label: 'Bond',
          placeholder: 'natural chemistry',
          type: 'text',
          blockName: 'header',
        },
        {
          name: 'vibes',
          label: 'Vibes',
          placeholder: 'space cadet',
          type: 'text',
          blockName: 'header',
        },
        {
          name: 'stickers',
          label: 'Stickers, etc.',
          placeholder: "'Skate and/or Die' beside a cat in a box",
          type: 'text',
          blockName: 'header',
        },
      ],
    },
    attitude: {
      subtitle: { name: 'attitude_subtitle', placeholder: "Select a playbook or add your own!", type: 'textarea', blockName: 'attitude' },
      fields: [
        { name: 'attitude_boost', label: 'Attitude Boost', type: 'hidden', blockName: 'attitude' },
        { name: 'attitude_kick', label: 'Attitude Kick', type: 'hidden', blockName: 'attitude' },
      ],
    },
    style: {
      hidden: [{ name: 'style', type: 'hidden', blockName: 'style' }],
      subtitle: { name: 'style_run_bonus', placeholder: "Select a playbook or add your own!", type: 'textarea', blockName: 'style' },
      track: Array.from(Array(10).keys(), (i) => ({
        name: 'style',
        label: `${i} style`,
        value: i,
        type: 'radio',
        blockName: 'style',
      })),
    },
    trouble: {
      hidden: [{ name: 'trouble', type: 'hidden', blockName: 'trouble' }],
      actions: [
        { name: 'nope', label: 'Nope!', type: 'action', blockName: 'trouble' },
        { name: 'disaster', label: 'Roll Disaster', type: 'action', blockName: 'trouble' },
      ],
      track: Array.from(Array(9).keys(), (i) => ({
        name: 'trouble',
        label: `${i} trouble`,
        value: i,
        type: 'radio',
        blockName: 'trouble',
      })),
    },
    legacy: {
      broadcast: legacyBroadcast,
      repeating: [
        {
          name: 'legacy_name',
          label: 'Legacy',
          placeholder: 'viral video of 1080',
          type: 'text',
          blockName: 'legacy',
        },
        {
          name: 'legacy_description',
          label: 'Description',
          placeholder: 'Description',
          type: 'textarea',
          blockName: 'legacy',
        },
      ],
    },
    doom: {
      broadcast: doomBroadcast,
      repeating: [
        {
          name: 'doom_name',
          label: 'Doom',
          placeholder: "broke mom's trust",
          type: 'text',
          blockName: 'doom',
        },
        {
          name: 'doom_description',
          label: 'Description',
          placeholder: 'Description',
          type: 'textarea',
          blockName: 'doom',
        },
      ],
    },
  };
