-
  data.crew = {
    header: {
      fields: [
        {
          name: 'character_name',
          label: 'Name',
          placeholder: 'Farrah',
          type: 'text',
          blockName: 'header',
        },
        {
          name: 'brands',
          label: 'Brands',
          placeholder: 'good kids, weirdos',
          type: 'text',
          blockName: 'header',
        },
        { name: 'hangouts', label: 'Hangouts', placeholder: 'the gas station', type: 'text', blockName: 'header' },
      ]
    },
    style: {
      hidden: [{ name: 'crew_style', type: 'hidden', blockName: 'style' }],
      subtitle: { name: 'style_run_bonus', type: 'span', blockName: 'style' },
      track: Array.from(Array(11).keys(), (i) => ({
        name: 'crew_style',
        label: `${i} style`,
        value: i,
        type: 'radio',
        blockName: 'style',
      })),
    },
    hype: {
      fields: [
        { name: 'hype_boost', label: 'Hype Boost', type: 'hidden', blockName: 'hype' },
        { name: 'hype_kick', label: 'Hype Kick', type: 'hidden', blockName: 'hype' },
      ],
    },
    fame: {
      ranks: {
        nobodies: {
          label: { name: 'nobodies', label: 'Nobodies', type: 'checkbox', blockName: 'fame' },
          perks: [
            { name: 'masks', label: 'Masks (2 style)', type: 'checkbox', blockName: 'fame' },
            { name: 'advanced_portal_tech', label: 'Advanced Portal Tech (2 style)', type: 'checkbox', blockName: 'fame' },
          ],
        },
        up_and_comers: {
          label: { name: "up_and_comers", label: "Up & Comers", type: 'checkbox', blockName: 'fame' },
          style: { name: "up_and_comers_style", label: "5 style", type: 'checkbox', blockName: 'fame' },
          perks: [
            { name: "hazwear", label: "Hazwear (2 style)", type: 'checkbox', blockName: 'fame' },
            { name: "sticker_spotted", label: "Sticker Spotted (4 style)", type: 'checkbox', blockName: 'fame' },
            { name: "protective_fans", label: "Protective Fans (5 style)", type: 'checkbox', blockName: 'fame' },
            { name: "blurb", label: "Blurb (5 style)", type: 'checkbox', blockName: 'fame' },
          ]
        },
        well_established: {
          label: { name: "well_established", label: "Well-Established", type: 'checkbox', blockName: 'fame' },
          style: { name: "well_established_style", label: "7 style", type: 'checkbox', blockName: 'fame' },
          perks: [
            { name: "logic_binders", label: "Logic Binders (3 style)", type: 'checkbox', blockName: 'fame' },
            { name: "small_press_merch", label: "Small-Press Merch (4 style)", type: 'checkbox', blockName: 'fame' },
            { name: "improved_hangout", label: "Improved Hangout (4 style)", type: 'checkbox', blockName: 'fame' },
            { name: "diehard_fans", label: "Diehard Fans (5 style)", type: 'checkbox', blockName: 'fame' },
          ]
        },
        major_players: {
          label: { name: "major_players", label: "Major Players", type: 'checkbox', blockName: 'fame' },
          style: { name: "major_players_style", label: "9 style", type: 'checkbox', blockName: 'fame' },
          perks: [
            { name: "name_on_a_shoe", label: "Name on a Shoe (5 style)", type: 'checkbox', blockName: 'fame' },
            { name: "eponymous", label: "Eponymous (5 style)", type: 'checkbox', blockName: 'fame' },
            { name: "article", label: "Article (5 style)", type: 'checkbox', blockName: 'fame' },
            { name: "tastemaker_fans", label: "Tastemaker Fans (5 style)", type: 'checkbox', blockName: 'fame' },
          ]
        },
        rising_stars: {
          label: { name: "rising_stars", label: "Rising Stars", type: 'checkbox', blockName: 'fame' },
          style: { name: "rising_stars_style", label: "9 style", type: 'checkbox', blockName: 'fame' },
          perks: [
            { name: "quantum_hangout", label: "Quantum Hangout (5 style)", type: 'checkbox', blockName: 'fame' },
            { name: "image_rights", label: "Image Rights (5 style)", type: 'checkbox', blockName: 'fame' },
            { name: "screaming_fans", label: "Screaming Fans (5 style) ", type: 'checkbox', blockName: 'fame' },
            { name: "cover_story", label: "Cover Story (5 style)", type: 'checkbox', blockName: 'fame' },
          ]
        },
        legends: {
          label: { name: "legends", label: "Legends", type: 'checkbox', blockName: 'fame' },
          style: { name: "legends_style", label: "11 style", type: 'checkbox', blockName: 'fame' },
          perks: [
            { name: "you_did_it", label: "You did it", type: 'checkbox', blockName: 'fame' },
          ]
        },
      },
      hype: [
        {
          name: "hype_boost",
          label: "Extra Boost",
          type: "select",
          blockname: "fame",
          options:  Array.from(Array(3).keys(), (i) => ({ name: i, text: `+${i}`}))
        },
        {
          name: "hype_kick",
          label: "Extra Kick",
          type: "select",
          blockname: "fame",
          options:  Array.from(Array(3).keys(), (i) => ({ name: i, text: `+${i}`}))
        }
      ]
    }
  }
