-
  data.global = {
    sheet_mode: { name: "sheet_mode", type: "hidden", value: 'character', blockName: "nav" },
    sheet_version: { name: "sheet_version", label: 'Version', value: "1.0.0", type: "hidden", blockName: "nav" },
    nav: {
      actions: [
        { name: "character", label: "Character", type: "action", blockName: "nav" },
        { name: "crew", label: "Crew", type: "action", blockName: "nav" },
        { name: "options", label: "Options", type: "action", blockName: "nav" },
      ],
    }
  }
