-
  data.options = {
      attitude: {
        override: {
          name: "attitude_override",
          label: "Override Attitude",
          type: "checkbox",
          blockName: "options",
        },
        selects:  [
        {
          name: "attitude_boost_set",
          label: "Override Boost",
          type: "select",
          blockName: "options",
          options:  Array.from(Array(5).keys(), (i) => ({ name: i, text: `+${i}`}))
        },
        {
          name: "attitude_kick_set",
          label: "Override Kick",
          type: "select",
          blockName: "options",
          options:  Array.from(Array(5).keys(), (i) => ({ name: i, text: `+${i}`}))
        }
      ]
    }
  }
