.sheet-rolltemplate-rolls {
  .sheet-template-container {
    border: 2px solid $color-neutral-800;
    border-radius: $radius-sm;
    box-shadow: $box-shadow;
    text-align: center;

    @extend .font-base;

    /* DICE ROLL STYLES
		----------------------------- */
    // .inlinerollresult.fullfail,
    .inlinerollresult.fullcrit,
    .inlinerollresult.importantroll {
      border: none;
    }

    // .inlinerollresult.fullfail,
    .inlinerollresult.fullcrit {
      color: $secondary;
    }

    .inlinerollresult {
      background-color: transparent;
      border: none;
      font-size: 2rem;
      padding: unset;
    }

    .sheet-template-header {
      @extend .font-h1;
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      background-color: $primary;
      border-bottom: 2px solid $color-neutral-800;
      box-shadow: inset 0 0 10px #000000;
      padding: $spacing-3 $spacing-4;
      text-transform: capitalize;
    }

    .sheet-template-body {
      @extend .font-h3;
      font-size: $text-lg;
      background-color: $color-neutral-800;

      .sheet-template-row {
        background-color: transparent;
        padding: $spacing-3 $spacing-4;
      }

      .sheet-template-roll {
        display: grid;

        &.inlinerollresult {
          @extend .font-h2;
          color: $color-neutral-50;
          cursor: help;
        }
      }

      .sheet-template-desc {
        text-align: left;
      }
    }
  }
}
