.rolltemplate-rolls {
  div.template-container {
    border: 2px solid$color-neutral-800;
    border-radius: 0.3rem;
    box-shadow: inset 0px 0px 3px 1px $primary;
    text-align: center;
    font-family: "fantasy";

    /* DICE ROLL STYLES
		----------------------------- */
    .inlinerollresult.fullfail,
    .inlinerollresult.fullcrit,
    .inlinerollresult.importantroll {
      border: none;
    }

    .inlinerollresult.fullfail,
    .inlinerollresult.fullcrit {
      color: $primary;
    }

    .inlinerollresult {
      background-color: transparent;
      border: none;
      font-size: 2rem;
      padding: unset;
    }

    div.template-header {
      background-color: $primary;
      border-bottom: 2px solid$color-neutral-800;
      color: $color-neutral-50;
      font-size: 2rem;
      font-weight: bold;
      margin-top: -2px;
      padding: 5% 2%;
      text-transform: capitalize;
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow: inset 0 0 10px #000000;
    }

    div.template-body {
      background-color: $color-neutral-800;
      color: $color-neutral-50;
      font-size: 1.75rem;

      div.template-row {
        padding: 3% 2%;

        &:nth-child(2n + 0) {
          background-color: $color-neutral-50;
        }

        span {
          &.inlinerollresult {
            color: $color-neutral-50;
            font-size: 2rem;
            font-weight: bold;
            cursor: help;
            padding: 0 3px 0 3px;
            font-weight: bold;
          }

          &.percent,
          &.template-desc {
            color: $color-neutral-50;
            font-size: 1.6rem;
          }
        }
      }

      div.template-damage {
        background-color: #fff;
        padding: 3% 2%;
      }

      div.template-roll {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;

        div.template-col {
          padding: 5%;

          &:nth-of-type(2) {
            border-left: 2px solid$color-neutral-800;
          }

          span {
            display: block;

            &:last-child {
              margin-top: 5%;
            }
          }
        }
      }
    }
  }
}
