/**********************************************************************************************************/
/***************************              GLOBAL SETTINGS                      ***************************/
/********************************************************************************************************/
	* {
	    box-sizing: border-box;
	    font-family: sans-serif;}

 	button {
		background-color: transparent;
		background-image: none;
		border-color: transparent;
		border: none;
		box-shadow: none;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		text-shadow: none;}

	button:before {display: none;}
	button:hover {background-color: transparent;}

	button[type="roll"],
	button[type="action"] {
		font-size: 1em;
		margin: 0px;
		padding: 0px;}

	div {
		background-color: transparent;}

	fieldset {
		background: transparent;}

	h1, h2, h3, h4 {
		margin: 0px;
		padding: 0px;
		width: fit-content;
	}

	input[type="text"],
	input[type="number"] {
		background-color: transparent;
		border          : none;}	

	input[type="text"]:hover,
	input[type="number"]:hover,
	input[type="text"]:focus,
	input[type="number"]:focus {
		color: white;
		background: #929082;
		padding-bottom: 1px;
		outline: #39201e;}

	input[type="checkbox"],
	input[type="radio"],
	input[type="checkbox"] + span,
	input[type="radio"] + span {
		position: relative;}	

	/*input[type="checkbox"],
	input[type="radio"] {
		opacity: 0;
	    z-index: 2;} */

	 label {
		display: inline-block;
		margin : 0px;
		padding: 0px; }

	span {
		word-break: break-word;}

	textarea {
		border-bottom: 1px dotted #FCD116;
		font-size: 12px;
		font-weight: normal;
		height: 50px;
		line-height: 18px;
		overflow-wrap: break-word;
		overflow: hidden;
		padding: 2px;
		resize: vertical;
		text-align: left;
		vertical-align: top;
		white-space: pre-line;}

	/*.charsheet {
		width: 850px;}*/

	.sheet-container {
		min-width  : 300px;
		max-width  : 100%;
		width      : 100%;
		border        : 1px dotted blue; /* REMOVE */
	}

	.sheet-container div {
		box-sizing    : border-box;
		vertical-align: top;}

	.sheet-pc {
		min-width  : 300px;
		max-width  : 100%;
		width      : 100%;}

  /* grid-area: <row-start> / <column-start> / <row-end> / <column-end>; */

/**********************************************************************************************************/
/***************************                     TAB                           ***************************/
/********************************************************************************************************/
	div.sheet-tabs {
		align-items    : flex-start;
		display        : inline-flex;
		flex-direction : row;
		flex-wrap      : wrap;
		justify-content: flex-start;
		max-width      : 100%;
		min-width      : 300px;
		width          : 100%;
		border: 1px dotted green; /* REMOVE */
	}

	div.sheet-tabs button {
		height: 20px;
		width: fit-content;}

	div.sheet-tabs div {
		border: 1px solid red; /* REMOVE */
	}

	div.sheet-tabs div:nth-of-type(1) {
		flex-grow: 1;
		margin-right: 2em;}

	div.sheet-tabs div:nth-of-type(2) {
		flex-grow: 2;
		margin-right: 2em;}

	div.sheet-tabs div:nth-of-type(3) {
		flex-grow: 1;
		padding: 1%;}

	div.sheet-tabs h1 {
		color: #39201e;
		text-shadow:
	       3px 3px 0 #ba2c2c,
	     -1px -1px 0 #ba2c2c,  
	      1px -1px 0 #ba2c2c,
	      -1px 1px 0 #ba2c2c,
	       1px 1px 0 #ba2c2c;}

	div.sheet-tabs h2 {
		font-size: 0.8em;}

	input.sheet-whisper-toggle + button {
		font-family: "pictos";}

/**********************************************************************************************************/
/***************************                     PC                            ***************************/
/********************************************************************************************************/
	div.sheet-info-row,
	div.sheet-skills-row {
		flex-direction: row;
		align-items    : flex-start;
		display        : inline-flex;
		flex-wrap      : wrap;
		justify-content: flex-start;
		max-width      : 100%;
		min-width      : 300px;
		width          : 100%;
		border: 3px solid black;}

	div.sheet-info-row div.sheet-flexcol {
		min-height: 200px;
		flex-grow: 1;
		min-width: 200px;
		max-width: 33.33%;
		border: 2px solid black;}

	div.sheet-info-row div.sheet-flexcol div {
		padding: 1%;}

	/* INPUTS WITH ALL THE PLAYER AND CHARACTER DETAILS */
	div.sheet-details input[type="text"] {
		border-bottom: 1px solid black;
		border-radius: 0px;}

	div.sheet-details input[type="text"]:nth-of-type(1n+9) {
		margin-bottom: 2%;
		width: 100%;}

	div.sheet-details label {
		font-size: 0.8em;
		text-transform: uppercase;
		font-weight: normal;
		margin-right: 2%;
		width: 17%;}

		/* INPUTS FOR TRACKING DAMAGE? */
	div.sheet-wounds div {
		margin-bottom: 2%;}

	div.sheet-wounds label {
		margin-bottom: 2%;
		margin-left: -42%;
		width: 90%;}

	div.sheet-wounds input[type="radio"] {
		opacity: 0;
	    width: 20px;
	    height: 20px;
	    position: relative;
	    left: 11px;
	    margin: -10px;
	    cursor: pointer;
	    z-index: 1;}

	 div.sheet-wounds input[type="radio"]:first-child {
	 	width: 50%;}

	div.sheet-wounds input[type="radio"]:first-child:hover + label {
	 	font-weight: bold;}

		/* Fake radio */
	div.sheet-wounds input[type="radio"] + span::before {
		background    : black;
		border        : solid 1px #a8a8a8;
		border-radius : 50%;
		box-shadow    : 0 0 2px #ccc;
		content       : "";
		display       : inline-block;
		height        : 18px;
		margin-right  : 1%;
		width         : 18px; }

	/* Remove dot from all radios _after_ selected one */
	input[type="radio"]:checked ~ input[type="radio"] + span::before {    
	    background: #f6f6f6;
	    background: radial-gradient(#f6f6f6, #dfdfdf);}

		/* EVERY LABEL AFTER PIPS */
	div.sheet-details label:nth-of-type(1n+9) {
		width: fit-content;}

	div.sheet-notes-col,
	div.sheet-skills-col {
		min-width: 200px;
		min-height: 500px;
		border: 2px solid black;}

	div.sheet-notes-col {
		flex-grow: 3;}

	div.sheet-skills-col {
		flex-grow: 1;}

/**********************************************************************************************************/
/***************************                    NPC                            ***************************/
/********************************************************************************************************/

/**********************************************************************************************************/
/***************************             HIDE & SHOW THINGS                    ***************************/
/********************************************************************************************************/
	div.sheet-pc,
	div.sheet-npc {
		display: none;}

	input.sheet-type[value="pc"] ~ .sheet-pc,
	input.sheet-type[value="npc"] ~ .sheet-npc {
		display   : block;}


/**********************************************************************************************************/
/***************************              HIGHLIGHT BUTTONS                    ***************************/
/********************************************************************************************************/
	input.sheet-whisper-toggle[value*="gm"] + button[name*="whisper"],
	input.sheet-type[value="pc"] ~ div.sheet-tabs button[name*="pc"],
	input.sheet-type[value="npc"] ~ div.sheet-tabs button[name*="npc"] {
		color           : #fff;
		background-color: #7b1915;
		box-shadow      : inset 0px 0px 3px 1px #e31715;}

/**********************************************************************************************************/
/***************************                  FOOTER                           ***************************/
/********************************************************************************************************/
	.sheet-footer {
		border: none;
		font-size: 0.55em;
		line-height: 15px;
		margin-top: 15px;
		text-align: left;
		width: 700px;}

/**********************************************************************************************************/
/***************************             REPEATING SECTIONS                          *********************/
/********************************************************************************************************/
	.repcontainer .repitem {

	};

	/* This will make the Add & Modify words transparent so that only our symbols below show up */
	 button.btn.repcontrol_add,
	 button.btn.repcontrol_edit  {
	 	color: transparent;
	 }

	 /* This will put icons next to the buttons. A `+` for Add and a lock for edit */
	.repcontrol .repcontrol_edit:after,
	.repcontrol .repcontrol_add:after  {
	 	color           : #111518;
	 	font-family     : pictos;
	    font-size       : 2.5em;}

	.repcontrol .repcontrol_edit:after {
		content: '(';
	}

	.repcontrol .repcontrol_add:after {
		content: '&';
	}

	.editmode ~ .repcontrol .repcontrol_edit:after {
		content: ')';
	}

	/* These are the buttons that appear after the repcontrol_edit is clicked*/
	.itemcontrol {
		z-index: 10;
	}

	.itemcontrol .repcontrol_del,
	.itemcontrol .repcontrol_move {
	    font-size: 18px;
	    margin-top: 0px;
	    padding: 0px;
	    width: 15px;}

	.itemcontrol .repcontrol_del {
		background-color: darkred;
		font-family: pictos;}

/**********************************************************************************************************/
/***************************                 ROLL TEMPLATE                           *********************/
/********************************************************************************************************/
	.sheet-rolltemplate-rolls {

	}

	.sheet-rolltemplate-rolls .sheet-template-body {
		border    : 1px solid #000;
		text-align: center;
	}

	.sheet-rolltemplate-rolls .sheet-template-header {
		background-color: white;
		border          : 1px solid #000;
		border-bottom   : 2px solid #000;
		color           : black;
		font-size       : 20px;
		font-variant    : small-caps;
		letter-spacing  : 2px;
		padding         : 4px 0px 3px 0px;
		text-align      : center;
		text-transform  : capitalize;
	}

	.sheet-rolltemplate-rolls .sheet-template-row {
		background-color: #555;
	}

	/* Use this to alternate the background colors for each row */
	.sheet-rolltemplate-rolls .sheet-template-row:nth-child(2n+0) {
		background-color: #1c1c1c;
	}

	/* Remove some fo the built in styles around rolls */
	.sheet-rolltemplate-rolls .inlinerollresult {
		background-color: transparent;
		border          : none;
		color           : black;
		display         :inline-block;
		font-size       : 25px;
		padding         : 5px;
	}

	.sheet-rolltemplate-rolls .inlinerollresult.fullfail,
	.sheet-rolltemplate-rolls .inlinerollresult.fullcrit,
	.sheet-rolltemplate-rolls.inlinerollresult.importantroll {
		border: none;
	}

	/* Change the colors of Full Fails & Full Crits from their built in defaults */
	.sheet-rolltemplate-rolls .inlinerollresult.fullfail {
		color: white;
	}

	.sheet-rolltemplate-rolls .inlinerollresult.fullcrit {
		color: white;
	}


/**********************************************************************************************************/
/***************************                 FIREFOX                           ***************************/
/********************************************************************************************************/
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;}

	input[type=number] {
	    -moz-appearance:textfield;}