.charsheet .sheet-wrapper {
	font-size:12px;
}

.charsheet label {
    display: inline-block;
	width: 75px;
	text-align: right;
}

.charsheet hr {
	color:#8C001A;
}

.charsheet input {
	display: inline-block;
	width: 165px;
}

.charsheet input.sheet-short {
	width: 3.5em;
}

.charsheet table td, .charsheet table th {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.charsheet select {
	width: 160px;
}

.charsheet input.checkboxes {
	width: 50px;
}

/*base info part */
.sheet-baseinfo {
    display: inline-block;
    width: 149px;
    margin-right: 3px;
	font-size:0.9em;
}

.sheet-baseinfo label, .sheet-baseinfo input, .sheet-baseinfo select {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
}

.sheet-baseinfo label {
    border-top: 2px solid #8C001A;
    width: 100%;
}

.sheet-baseinfo.sheet-number {
    width: 39px;
    margin-right: 7px;
}

.sheet-baseinfo.sheet-short {
    width: 60px;
}

.sheet-baseinfo.sheet-medium {
    width: 100px;
}



