.charsheet {
	background-color:#ECECEC;
}

.charsheet h3 {
	background-color:#3F0001;
	color:#fff;
	padding-left:5px;
}

.charsheet textarea {
	width:95%;
}

.charsheet .sheet-wrapper {
	font-size:11px;
}

.charsheet .sheet-1colrow {
	width: 100%;
}

.charsheet .sheet-box {
    padding: 5px;
	margin-top:-10px;
    border-top: 1px solid #8C001A;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8C001A), to(transparent));
    background-image: -webkit-linear-gradient(#8C001A, transparent);
    background-image:
        -moz-linear-gradient(#8C001A, transparent),
        -moz-linear-gradient(#8C001A, transparent)
    ;
    background-image:
        -o-linear-gradient(#8C001A, transparent),
        -o-linear-gradient(#8C001A, transparent)
    ;
    background-image: 
        linear-gradient(#8C001A, transparent),
        linear-gradient(#8C001A, transparent)
    ;
    -moz-background-size:1px 100%;
    background-size:1px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}	

.charsheet label {
    display: inline-block;
	width: 90px;
	text-align: right;
}
	.charsheet label.sheet-left {
		text-align:left;
	}
	.charsheet label.sheet-long {
		width: 180px;
		text-align: left;
	}
	.charsheet label.sheet-medium {
		width: 110px;
		text-align: left;
	}
	.charsheet label.sheet-short {
		width: 50px;
		text-align: left;
	}

.charsheet input {
	display: inline-block;
	width: 150px;
}

	.charsheet input.sheet-number {
		width: 30px;
	}
	.charsheet input.sheet-short {
		width: 40px;
	}
	.charsheet input.sheet-medium {
		width: 100px;
	}
	.charsheet input.sheet-long {
		width:250px;
	}
	.charsheet input.checkboxes {
		width: 40px;
	}

.charsheet table td, .charsheet table th {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.charsheet select {
	width: 150px;
}

/*base info part */
.sheet-baseinfo {
    display: inline-block;
    width: 149px;
    margin-right: 3px;
	font-size:0.9em;
}

.sheet-baseinfo label, .sheet-baseinfo input, .sheet-baseinfo select {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
}

.sheet-baseinfo label {
    border-top: 1px solid #8C001A;
    width: 100%;
}

.sheet-baseinfo.sheet-number {
    width: 39px;
    margin-right: 7px;
}

.sheet-baseinfo.sheet-longnumber {
	width: 47px;
}

.sheet-baseinfo.sheet-short {
    width: 60px;
}

.sheet-baseinfo.sheet-medium {
    width: 100px;
}
.sheet-baseinfo.sheet-long {
	width:250px;
}

/* stats */

.sheet-weapon-stats {
    display: inline-block;		
    margin-left: 25px;	
}
.sheet-weapon-stats label, .sheet-weapon-stats input {
    width: 40px;	
	text-align: left;
}
.sheet-weapon-stats select {
    width: 100px;	
	text-align: left;
}
