rolltemplate.sheet-rolltemplate-ms
    .sheet-ms-container
        | {{#name}}
        h1 {{name}} 
        | {{/name}}
        | {{#character_name}}
        h2 {{character_name}} 
        | {{/character_name}}
        | {{#roll}}
        .sheet-ms-roll
            .sheet-ms-roll__roll {{roll}}
            |  {{#rollGreater() roll2 0}}
            .sheet-ms-roll__roll2 {{roll2}}
            |  {{/rollGreater() roll2 0}}
        | {{#target}}
        .sheet-ms-target
            .sheet-ms-target__label(data-i18n="target:")
            .sheet-ms-target__value {{target}}
        | {{/target}}
        | {{/roll}}
        | {{#damage}}
        .sheet-ms-damage
            .sheet-ms-damage__label(data-i18n="damage:")
            .sheet-ms-damage__value {{damage}}
        | {{/damage}}
        | {{#notes}}
        .sheet-ms-notes {{notes}}
        | {{/notes}}