- 

    const headerfields = [{label: "name", attr: "character_name", type: "text"},{label: "level", attr: "level", type: "number"},{label: "rank / title", attr: "rank_title", type: "text"},{label: "XP", attr: "xp", type: "text"},{label: "class", attr: "class", type: "text"}];

    const toprowfields = [{attr:"stress",subtext:"starts at 2",placeholder:"2"},{attr:"resolve",subtext:"starts at 0",placeholder:"0"}];

    const stats = [
            {
                attr:"strength",
                label:"How able-bodied you are. Lifting, pushing, hitting things hard, etc."
            },
            {
                attr:"speed",
                label:"How quickly you can act and react under pressure."
            },
            {
                attr:"intellect",
                label:"How knowledgeable and experienced you are."
            },
            {
                attr:"combat",
                label:"How good you are at fighting."
            }
        ]

    const saves = [
        {
            name:"sanity",
            subtext:"rationalization, logic",
            desc:"Sanity is your ability to explain away logical inconsistencies in the universe, rationalize and make sense out of chaos, detect illusions and mimicry and think quickly under pressure."
        },
        {
            name:"fear",
            subtext:"surprise, loneliness",
            desc:"Fear is how well you can cope with emotional trauma, and covers not only fear, but also loneliness, depression or any other emotional surge."
        },
        {
            name:"body",
            subtext:"hunger, disease, infection",
            desc:"Body is your reflexes, and how well you can resist hunger, disease or any other organism that might attempt to invade your insides."
        },
        {
            name:"armor",
            subtext:"physical damage",
            desc:"Armor is how resistant you ae to damage sustained during combat, whether that be through bullets, claws, teeth, etc."
        }
    ];

    const skills = {
        trained: [
            {
                name: "linguistics",
                desc: "Study of language"
            },
            {
                name: "biology",
                desc: "Study of life"
            },
            {
                name: "first aid",
                desc: "Emergency medical care and treatment"
            },
            {
                name: "hydroponics",
                desc: "Growing plants in nutrient solutions without soil (farming in space)"
            },
            {
                name: "geology",
                desc: "The solid features of any terrestrial planet or natural satellite"
            },
            {
                name: "zero-g",
                desc: "Working in a vaccuum, vaccsuits, etc."
            },
            {
                name: "scavenging",
                desc: "Searching discarded wastes for useful items"
            },
            {
                name: "heavy machinery",
                desc: "Operation and use of large pieces of equipment (cranes, exosuits, forkliftsm etc.)"
            },
            {
                name: "computers",
                desc: "Fluent use of computers and networks"
            },
            {
                name: "mechanical repair",
                desc: "Fixing broken machines"
            },
            {
                name: "driving",
                desc: "Operation and control of motor vehicles"
            },
            {
                name: "piloting",
                desc: "Operation and control of air and spacecraft"
            },
            {
                name: "mathematics",
                desc: "The science of numbers, quantity, and space"
            },
            {
                name: "art",
                desc: "The expression or application of a species' creative ability and imagination"
            },
            {
                name: "archaeology",
                desc: "Ancient cultures and their artifacts"
            },
            {
                name: "theology",
                desc: "Study of religion"
            },
            {
                name: "military training",
                desc: "Standard basic training given to all military personnel"
            },
            {
                name: "rimwise",
                desc: "Outer rim colonies and seedy parts of the galaxy"
            },
            {
                name: "athletics",
                desc: "Physical sports and games"
            },
            {
                name: "chemistry",
                desc: "The identification of the substances of which matter is composed"
            },
        ],
        expert: [
            {
                name: "psychology",
                prereq: ["biology"],
                desc: "The study of behavior and the human mind"
            },
            {
                name: "genetics",
                prereq: ["biology"],
                desc: "Heredity and the variation of the inherited characteristics"
            },
            {
                name: "pathology",
                prereq: ["first aid"],
                desc: "Study of the cause and effect of disease"
            },
            {
                name: "botany",
                prereq: ["hydroponics"],
                desc: "The study of plant life"
            },
            {
                name: "planetology",
                prereq: ["geology"],
                desc: "Study of planets and other celestial body"
            },
            {
                name: "asteroid mining",
                prereq: ["geology","zero-g","heavy machinery","scavenging"],
                desc: "Training in the tools and procedures used in mining asteroids"
            },
            {
                name: "jury rigging",
                prereq: ["scavenging","mechanical repair"],
                desc: "Makeshift repairs"
            },
            {
                name: "engineering",
                prereq: ["heavy machinery","computers","mechanical repair"],
                desc: "Design, building, and use of engines, machines, and structures"
            },
            {
                name: "hacking",
                prereq: ["computers"],
                desc: "Unauthorized access to computer systems"
            },
            {
                name: "vehicle specialization",
                prereq: ["mechanical repair","piloting","driving"],
                desc: "Specific vehicle class"
            },
            {
                name: "astrogation",
                prereq: ["piloting"],
                desc: "Navigation in outer space"
            },
            {
                name: "physics",
                prereq: ["mathematics"],
                desc: "Study of nature and properties of matter and energy"
            },
            {
                name: "mysticism",
                prereq: ["art","archaeology","theology"],
                desc: "Spiritual apprehension of hidden knowledge"
            },
            {
                name: "tactics",
                prereq: ["military training"],
                desc: "Manuevering military forces in battle"
            },
            {
                name: "gunnery",
                prereq: ["military training"],
                desc: "Starship weaponry"
            },
            {
                name: "firearms",
                prereq: ["military training","rimwise"],
                desc: "Guns and their use"
            },
            {
                name: "close-quarters combat",
                prereq: ["athletics","military training","rimwise"],
                desc: "Hand-tohand, melee fighting"
            },
            {
                name: "explosives",
                prereq: ["military training","chemistry"],
                desc: "Bombs and incendiary devices"
            },
        ],
        master: [ 
            {
                name: "sophontology",
                prereq: ["linguistics", "psychology"],
                desc: "Alien psychology"
            },  
            {
                name: "xenobiology",
                prereq: ["genetics","botany","pathology"],
                desc: "Alien biology"
            },   
            {
                name: "surgery",
                prereq: ["pathology"],
                desc: "Medical speciality involving manual operation"
            },  
            {
                name: "cybernetics",
                prereq: ["jury rigging","engineering"],
                desc: "Interface between man and machine"
            },
            {
                name: "robotics",
                prereq: ["engineering"],
                desc: "Design and operation of robots, drones, and androids"
            },
            {
                name: "artificial intelligence",
                prereq: ["engineering","hacking"],
                desc: "Knowledge of simulacrum of human consciousness"
            },
            {
                name: "command",
                prereq: ["vehicle specialization","tactics"],
                desc: "Leadership and authority"
            },   
            {
                name: "hyperspace",
                prereq: ["astrogation","mysticism","physics"],
                desc: "FTL travel"
            },  
            {
                name: "xenoesotericism",
                prereq: ["mysticism"],
                desc: "Obscure alien mysticism, religion, and belief"
            },   
            {
                name: "weapon specialization",
                prereq: ["gunnery","firearms","close-quarters combat","explosives"],
                desc: "Proficiency with a specific weapon"
            },            
        ]
    };
    
    const shipfields = [
        {
            label: "ship name", 
            attr: "character_name", 
            type: "text"
        },
        {
            label: "type", 
            attr: "type", 
            type: "text"
        },
        {
            label: "class", 
            attr: "ship_class", 
            type: "text"
            }
    ];
    
    const shipminmaxfields = [

    ]

    const shipstats = [
            {
                attr:"armor",
                label:"The value the ship must roll under to avoid taking Damage. Generally the captain or acting captain of the ship rolls the Armor Save."
            },
            {
                attr:"combat",
                label:"Used during Combat Checks. You can use whichever is higher: your own Combat Stat or the ship's."
            },
            {
                attr:"intellect",
                label:"Used as both a stat and a Sanity Save, should the need arise."
            },
            {
                attr:"speed",
                label:"Often used to see if the ship can dodge asteroids or escape explosions from collapsing stars."
            }
        ]

    const primary_modules = {
        life_support: {
            desc: "Life support keeps the human crew alive. Each point of life support can support up to 10 humans. For every point below the required minimum, anyone not wearing a vaccsuit must make a <strong>Body Save</strong> every hour or take 1d10 damage. This includes those in cryochambers as well, but does not include androids. Many ships include 2-3 times the required amount of life support in case of extra passengers or damage to the system.",
            fields: [
                {
                    name: "human passengers",
                    attr: "ship_passengers",
                    after: "/10"
                },
                {
                    name: "life support",
                    attr: "ship_lifesupport_modules",
                    display: true,
                    after: "equals"
                },
            ]
        },
        command: {
            desc: "The command module is the cockpit, command center, or bridge of a ship. For every 4 officer positions, one command module is required. Officers can be captains, first mates, navigation officers, communications officers, and is largely up to the Warden and the players to decide.",
            fields: [
                {
                    name: "officers",
                    attr: "ship_officers",
                    after: "/4"
                },
                {
                    name: "command modules",
                    attr: "ship_command_modules",
                    display: true,
                    after: "equals"
                },
            ]
        },
        armor: {
            desc: "Armor plating protects the ship fromsmall metoerites, space dust and debris, as well as, if need be, attacks from other vessels. Every point of armor costs 3 hull, and grants the ship +10% Armor Save (Max 80).",
            fields: [
                {
                    name: "armor",
                    attr: "ship_armor_modules",
                    after: "x10"
                },
                {
                    name: "armor save",
                    attr: "armor",
                    display: true
                },
            ]
        }
    };

    const secondary_modules = {
        jump_drives: {
            desc: "Jump drives enable the ship to travel through hyperspace. Every point of Jump Drive increasesthe ship’s jump capability by 1 (Max 9). The first drive costs 1 hull, the second costs 2, the third costs 3, etc.",
            fields: [
                {
                    name: "jump drives",
                    attr: "ship_jumpdrive_modules",
                    after: "..."
                },
            ]
        },
        computer: {
            desc: "The ship’s computer is a powerful artificial intelligence that helps with astrogation, combat, and anumber of other autonomous tasks. A ship’s Intellect is equal to the number of computer modules x10 +30%. It’s Combat is equal to the number of computer modules x10 +10%. A computer module is required for each jumpdrive. Additionally, each computer module equipped allows the computer to take more actions during combat.",
            fields: [
                {
                    name: "computer modules",
                    attr: "ship_computer_modules",
                    after: "equals"
                },
            ]
        },
        galley: {
            desc: "Galleys contain a kitchen, restrooms, and a common area on a ship. Any ships making trips longer than 1 day must have 1 galley for every 2 life support modules or else the crew must take <strong>Body Saves</strong> once/day. Failure means 2d10 damage and 1d10 Stress. Galleys must be re-stocked once a month and extra stores take up 1 Cargo.",
            fields: [
                {
                    name: "galleys",
                    attr: "ship_galleys",
                    after: "equals"
                },
            ]            
        },
        weapon_mount: {
            desc: "For every weapon your ship has you must have 1 mount for it. You can find the list of ship weapons in <em>The Player's Survival Guide</em>",
            fields: [
                {
                    name: "weapons",
                    attr: "ship_weapons",
                    after: "arrow"
                },
                {
                    name: "weapon mounts",
                    attr: "ship_weapon_mounts",
                    display: true,
                    after: "equals"
                },
            ]
        },
        medical_bay: {
            desc: "Medical bays allow scientists, doctors, and other researchers to heal crew members and perform various procedures (biopsies, autopsies, surgery). Each connected medbay on the ship grants +5% to the Intellect of the Scientists or Androids using them. Medical bays also grant advantage on <strong>Body Saves</strong> made for healing.",
            fields: [
                {
                    name: "medbays",
                    attr: "ship_medbays",
                    after: "x5"
                },
                {
                    name: "medical intellect bonus",
                    attr: "ship_medint_bonus",
                    display: true
                },
            ]
        },
        cryochamber: {
            desc: "Cryochambers allow humans to sleep during long trips, particularly through hyperspace.  Androids do not require them. Each point of hull spent on cryochambers accomodates up to 4 cryosleep pods.  Individuals who don’t go into cryosleep during hyperspace jumps often have strange and terrifying experiences.",
            fields: [
                {
                    name: "cryo-sleep pods",
                    attr: "ship_cryopods",
                    after: "/4"
                },
                {
                    name: "cryo-chambers",
                    attr: "ship_cryochambers",
                    display: true,
                    after: "equals"
                },
            ]
        },
        living_quarters: {
            desc: "Generally, if a ship is to travel through normal space for at least a week, then living quarters or “staterooms” are provided for each of the ship’s officers, or other important crew members.",
            fields: [
                {
                    name: "officers",
                    attr: "ship_officers",
                    after: "arrow",
                    display: true
                },
                {
                    name: "living quarters",
                    attr: "ship_livingquarters",
                    after: "equals"
                },
            ]
        },
        barracks: {
            desc: "The same as living quarters, except they are non-private and house up to twelve crew members.  Like living quarters, they are not-essential rooms, but ships that need them, but don’t have them, give their crew +1 Stress per journey or month of travel.",
            fields: [
                {
                    name: "crew",
                    attr: "ship_crew",
                    after: "/12"
                },
                {
                    name: "barracks",
                    attr: "ship_barracks",
                    display: true,
                    after: "equals"
                },
            ]
        },
        cargo_hold: {
            desc: "Cargo holds are essentially 20x20m rooms used for storage. Each cargo hold can hold up to 10 cargo units (each cargo is roughly the size of a large pallet). Cargo holds can also be used for any other basic room not provided for on this list (brigs, secret compartments, mining equipment, training facilities, hangars, armories, etc.).",
            fields: [
                {
                    name: "cargo",
                    attr: "ship_cargo",
                    after: "/10"
                },
                {
                    name: "cargo holds",
                    attr: "ship_cargoholds",
                    display: true,
                    after: "equals"
                },
            ]
        },
        science_lab: {
            desc: "Similar to the medical bay, the science lab allows for detailed research. Each connected sciencelab grants +5% Intellect to Scientists and Androids using them to conduct research or experiments. Additionally, they can be designated as repair shops and used by Teamsters to repair electronics, machines, or even Androids.",
            fields: [
                {
                    name: "science labs",
                    attr: "ship_sciencelabs",
                    after: "x5"
                },
                {
                    name: "research intellect bonus",
                    attr: "ship_resint_bonus",
                    display: true
                },
            ]
        }
    }

    const required_modules = {
        thrusters: {
            desc: "Without thrusters, the ship cannot move. Every thruster module equipped increases the speed ofthe ship by +10% (to a maximum of 80). Additionally, thrusters cost an extra 1 hull for every 10 base hull.",
            fields: [
                {
                    name: "hull req.",
                    attr: "ship_thruster_hullreq",
                    display: true,
                    after: "+"
                },
                {
                    name: "thrusters",
                    attr: "ship_thrusters",
                    after: "equals"
                },
            ]
        },
        engine: {
            desc: "Without the engine, the entire ship ceases to operate and becomes a ruin. You must have 1 engine module for every jump drive, plus 1 for every 4 thrusters, plus 1 for every 20 points of base hull.",
            fields: [
                {
                    name: "hull req.",
                    attr: "ship_engine_hullreq",
                    display: true,
                    after: "+"
                },
                {
                    name: "thruster req.",
                    attr: "ship_engine_thrusterreq",
                    display: true,
                    after: "+"
                },
                {
                    name: "jump drives",
                    attr: "ship_jumpdrive_modules",
                    display: true,
                    after: "="
                },
                {
                    name: "engine",
                    attr: "ship_engine",
                    display: true,
                    after: "equals"
                },
            ]
        },
        fuel: {
            desc: "The engine needs fuel to run on. Every jump requires double the fuel of the jump (Jump 2 = 4 fuel) and thrusters burn 1 unit of fuel per day. The engine requires at least 3 fuel for every point of engine plus any extra fuel capacity you want to add. More fuel can be stored in Cargo Holds at 1 Fuel per 10 Cargo.",
            fields: [
                {
                    name: "min. fuel",
                    attr: "ship_fuel_min",
                    display: true,
                    after: "+"
                },
                {
                    name: "extra fuel",
                    attr: "ship_fuel_extra",
                    after: "equals"
                },
            ]
        },
        frame: {
            desc: "Frame covers the miscellaneous parts of a ship, docking gear, airlocks, ventillation, corridors, comms relays, everything else a ship generally uses. Frame is 1 point per 10 points of base hull.",
            fields: [
                {
                    name: "frame",
                    attr: "ship_frame",
                    display: true,
                    after: "equals"
                },
            ]
        },
    }

    const shipsecondaries = [
        {
            name:"life support",
            attr:"ship_lifesupport_modules",
            placeholder:"2",
            label:"Life support keeps the human crew alive. Each point of life support can support up to 10 humans. For every point below the required minimum, anyone not wearing a vaccsuit must make a <strong>Body Save</strong> every hour or take 1d10 damage. This includes those in cryochambers as well, but does not include androids. Many ships include 2-3 times the required amount of life support in case of extra passengers or damage to the system."
        },
        {
            name:"command modules",
            attr:"ship_command_modules",
            placeholder:"2",
            label:"The command module is the cockpit, command center, or bridge of a ship. For every 4 officer positions, one command module is required. Officers can be captains, first mates, navigation officers, communications officers, and is largely up to the Warden and the players to decide."
        },
        {
            name:"jump drives",
            attr:"ship_jumpdrive_modules",
            placeholder:"2",
            label:"Jump drives enable the ship to travel through hyperspace. Every point of Jump Drive increasesthe ship’s jump capability by 1 (Max 9). The first drive costs 1 hull, the second costs 2, the third costs 3, etc.",
        },
        {
            name:"computer modules",
            attr:"ship_computer_modules",
            placeholder:"2",
            label:"The ship’s computer is a powerful artificial intelligence that helps with astrogation, combat, and anumber of other autonomous tasks. A ship’s Intellect is equal to the number of computer modules x10 +30%. It’s Combat is equal to the number of computer modules x10 +10%. A computer module is required for each jumpdrive. Additionally, each computer module equipped allows the computer to take more actions during combat."
        },
        {
            name:"galleys",
            attr:"ship_galleys",
            placeholder:"2",
            label:"Galleys contain a kitchen, restrooms, and a common area on a ship. Any ships making trips longer than 1 day must have 1 galley for every 2 life support modules or else the crew must take <strong>Body Saves</strong> once/day. Failure means 2d10 damage and 1d10 Stress. Galleys must be re-stocked once a month and extra stores take up 1 Cargo."
        },
        {
            name:"weapon mounts",
            attr:"ship_weapon_mounts",
            placeholder:"2",
            label:"For every weapon your ship has you must have 1 mount for it. You can find the list of ship weapons in <em>The Player's Survival Guide</em>"
        },
        {
            name:"medbays",
            attr:"ship_medbays",
            placeholder:"2",
            label:"Medical bays allow scientists, doctors, and other researchers to heal crew members and perform various procedures (biopsies, autopsies, surgery). Each connected medbay on the ship grants +5% to the Intellect of the Scientists or Androids using them. Medical bays also grant advantage on <strong>Body Saves</strong> made for healing."
        },
        {
            name:"cryo-chambers",
            attr:"ship_cryochambers",
            placeholder:"2",
            label:"Cryochambers allow humans to sleep during long trips, particularly through hyperspace.  Androids do not require them. Each point of hull spent on cryochambers accomodates up to 4 cryosleep pods.  Individuals who don’t go into cryosleep during hyperspace jumps often have strange and terrifying experiences."
        },
        {
            name:"living quarters",
            attr:"ship_livingquarters",
            placeholder:"2",
            label:"Generally, if a ship is to travel through normal space for at least a week, then living quarters or “staterooms” are provided for each of the ship’s officers, or other important crew members."
        },
        {
            name:"barracks",
            attr:"ship_barracks",
            placeholder:"2",
            label:"The same as living quarters, except they are non-private and house up to twelve crew members.  Like living quarters, they are not-essential rooms, but ships that need them, but don’t have them, give their crew +1 Stress per journey or month of travel."
        },
        {
            name:"cargo holds",
            attr:"ship_cargoholds",
            placeholder:"2",
            label:"Cargo holds are essentially 20x20m rooms used for storage. Each cargo hold can hold up to 10 cargo units (each cargo is roughly the size of a large pallet). Cargo holds can also be used for any other basic room not provided for on this list (brigs, secret compartments, mining equipment, training facilities, hangars, armories, etc.).",
        },
        {
            name:"science labs",
            attr:"ship_sciencelabs",
            placeholder:"2",
            label:"Similar to the medical bay, the science lab allows for detailed research. Each connected sciencelab grants +5% Intellect to Scientists and Androids using them to conduct research or experiments. Additionally, they can be designated as repair shops and used by Teamsters to repair electronics, machines, or even Androids.",
        },
    ];