- 

    const headerfields = [{label: "name", attr: "character_name", type: "text"},{label: "level", attr: "level", type: "number"},{label: "rank / title", attr: "rank_title", type: "text"},{label: "XP", attr: "xp", type: "text"},{label: "class", attr: "class", type: "text"}];

    const toprowfields = [{attr:"stress",subtext:"starts at 2",placeholder:"2"},{attr:"resolve",subtext:"starts at 0",placeholder:"0"}];

    const stats = [
            {
                attr:"strength",
                label:"How able-bodied you are. Lifting, pushing, hitting things hard, etc."
            },
            {
                attr:"speed",
                label:"How quickly you can act and react under pressure."
            },
            {
                attr:"intellect",
                label:"How knowledgeable and experienced you are."
            },
            {
                attr:"combat",
                label:"How good you are at fighting."
            }
        ]

    const saves = [
        {
            name:"sanity",
            subtext:"rationalization, logic",
            desc:"Sanity is your ability to explain away logical inconsistencies in the universe, rationalize and make sense out of chaos, detect illusions and mimicry and think quickly under pressure."
        },
        {
            name:"fear",
            subtext:"surprise, loneliness",
            desc:"Fear is how well you can cope with emotional trauma, and covers not only fear, but also loneliness, depression or any other emotional surge."
        },
        {
            name:"body",
            subtext:"hunger, disease, infection",
            desc:"Body is your reflexes, and how well you can resist hunger, disease or any other organism that might attempt to invade your insides."
        },
        {
            name:"armor",
            subtext:"physical damage",
            desc:"Armor is how resistant you ae to damage sustained during combat, whether that be through bullets, claws, teeth, etc."
        }
    ];

    const skills = {
        trained: [
            {
                name: "linguistics",
                desc: "Study of language"
            },
            {
                name: "biology",
                desc: "Study of life"
            },
            {
                name: "first aid",
                desc: "Emergency medical care and treatment"
            },
            {
                name: "hydroponics",
                desc: "Growing plants in nutrient solutions without soil (farming in space)"
            },
            {
                name: "geology",
                desc: "The solid features of any terrestrial planet or natural satellite"
            },
            {
                name: "zero-g",
                desc: "Working in a vaccuum, vaccsuits, etc."
            },
            {
                name: "scavenging",
                desc: "Searching discarded wastes for useful items"
            },
            {
                name: "heavy machinery",
                desc: "Operation and use of large pieces of equipment (cranes, exosuits, forkliftsm etc.)"
            },
            {
                name: "computers",
                desc: "Fluent use of computers and networks"
            },
            {
                name: "mechanical repair",
                desc: "Fixing broken machines"
            },
            {
                name: "driving",
                desc: "Operation and control of motor vehicles"
            },
            {
                name: "piloting",
                desc: "Operation and control of air and spacecraft"
            },
            {
                name: "mathematics",
                desc: "The science of numbers, quantity, and space"
            },
            {
                name: "art",
                desc: "The expression or application of a species' creative ability and imagination"
            },
            {
                name: "archaeology",
                desc: "Ancient cultures and their artifacts"
            },
            {
                name: "theology",
                desc: "Study of religion"
            },
            {
                name: "military training",
                desc: "Standard basic training given to all military personnel"
            },
            {
                name: "rimwise",
                desc: "Outer rim colonies and seedy parts of the galaxy"
            },
            {
                name: "athletics",
                desc: "Physical sports and games"
            },
            {
                name: "chemistry",
                desc: "The identification of the substances of which matter is composed"
            },
        ],
        expert: [
            {
                name: "psychology",
                prereq: ["biology"],
                desc: "The study of behavior and the human mind"
            },
            {
                name: "genetics",
                prereq: ["biology"],
                desc: "Heredity and the variation of the inherited characteristics"
            },
            {
                name: "pathology",
                prereq: ["first aid"],
                desc: "Study of the cause and effect of disease"
            },
            {
                name: "botany",
                prereq: ["hydroponics"],
                desc: "The study of plant life"
            },
            {
                name: "planetology",
                prereq: ["geology"],
                desc: "Study of planets and other celestial body"
            },
            {
                name: "asteroid mining",
                prereq: ["geology","zero-g","heavy machinery","scavenging"],
                desc: "Training in the tools and procedures used in mining asteroids"
            },
            {
                name: "jury rigging",
                prereq: ["scavenging","mechanical repair"],
                desc: "Makeshift repairs"
            },
            {
                name: "engineering",
                prereq: ["heavy machinery","computers","mechanical repair"],
                desc: "Design, building, and use of engines, machines, and structures"
            },
            {
                name: "hacking",
                prereq: ["computers"],
                desc: "Unauthorized access to computer systems"
            },
            {
                name: "vehicle specialization",
                prereq: ["mechanical repair","piloting","driving"],
                desc: "Specific vehicle class"
            },
            {
                name: "astrogation",
                prereq: ["piloting"],
                desc: "Navigation in outer space"
            },
            {
                name: "physics",
                prereq: ["mathematics"],
                desc: "Study of nature and properties of matter and energy"
            },
            {
                name: "mysticism",
                prereq: ["art","archaeology","theology"],
                desc: "Spiritual apprehension of hidden knowledge"
            },
            {
                name: "tactics",
                prereq: ["military training"],
                desc: "Manuevering military forces in battle"
            },
            {
                name: "gunnery",
                prereq: ["military training"],
                desc: "Starship weaponry"
            },
            {
                name: "firearms",
                prereq: ["military training","rimwise"],
                desc: "Guns and their use"
            },
            {
                name: "close-quarters combat",
                prereq: ["athletics","military training","rimwise"],
                desc: "Hand-tohand, melee fighting"
            },
            {
                name: "explosives",
                prereq: ["military training","chemistry"],
                desc: "Bombs and incendiary devices"
            },
        ],
        master: [ 
            {
                name: "sophontology",
                prereq: ["linguistics", "psychology"],
                desc: "Alien psychology"
            },  
            {
                name: "xenobiology",
                prereq: ["genetics","botany","pathology"],
                desc: "Alien biology"
            },   
            {
                name: "surgery",
                prereq: ["pathology"],
                desc: "Medical speciality involving manual operation"
            },  
            {
                name: "cybernetics",
                prereq: ["jury rigging","engineering"],
                desc: "Interface between man and machine"
            },
            {
                name: "robotics",
                prereq: ["engineering"],
                desc: "Design and operation of robots, drones, and androids"
            },
            {
                name: "artificial intelligence",
                prereq: ["engineering","hacking"],
                desc: "Knowledge of simulacrum of human consciousness"
            },
            {
                name: "command",
                prereq: ["vehicle specialization","tactics"],
                desc: "Leadership and authority"
            },   
            {
                name: "hyperspace",
                prereq: ["astrogation","mysticism","physics"],
                desc: "FTL travel"
            },  
            {
                name: "xenoesotericism",
                prereq: ["mysticism"],
                desc: "Obscure alien mysticism, religion, and belief"
            },   
            {
                name: "weapon specialization",
                prereq: ["gunnery","firearms","close-quarters combat","explosives"],
                desc: "Proficiency with a specific weapon"
            },            
        ]
    };