input(name='attr_version' type='hidden' value='1')

//- VARIABLES
  =============================
include pug/abstracts/variables.pug

//- INCLUDES
  =============================
include pug/abstracts/mixins.pug

//- TABS
  =============================
input.type(name='attr_sheet_type' type='hidden' value='character')
input.display_string(name='attr_character_settings' type='hidden' value='')
      
//-PC SHEET
  =============================
include pug/pages/pc.pug
      
//-NPC SHEET
  =============================
include pug/pages/npc.pug

//-FOOTER
  =============================
include pug/layout/footer.pug

//-ROLL TEMPLATE
  =============================
include pug/components/rolltemplates.pug

//- SCRIPTS
script(type="text/worker")
  include js/scripts.js
