
.sheet-rolltemplate-rolls {
    div.sheet-template-container {
        border: 2px solid $dark;
        border-radius: 0.3em;
        box-shadow: inset 0px 0px 3px 1px $primary;
        text-align: center;
        font-family: 'fantasy';

        /* DICE ROLL STYLES
        ----------------------------- */
        .inlinerollresult.fullfail,
        .inlinerollresult.fullcrit,
        .inlinerollresult.importantroll {
            border: none;
        }

        .inlinerollresult.fullfail, .inlinerollresult.fullcrit {
            color: $primary;
        }

        .inlinerollresult {
            background-color: transparent;
            border: none;
            font-size: 2em; 
            padding: unset;
        }


        div.sheet-template-header {
            @extend div.sheet-header;

            color: $primary;
            font-weight: bold;
            font-size: 1.5em; 
            border-bottom: 2px solid $dark;
            padding: 3% 2%;
            text-transform: capitalize;
            margin-top:0px;
        }

        div.sheet-template-body {
            background-color: $white;

            div.sheet-template-row {
                &:nth-child(2n+0) { background-color: $light; }

                span {
                    &.sheet-inlinerollresult  {
                        color: $primary;
                        font-size: 2em;
                        font-weight: bold;
                        cursor: help;
                        padding: 0 3px 0 3px;
                        font-weight: bold;
                    }

                    &.sheet-percent,
                    &.sheet-template-desc {
                        color: $primary;
                        font-size: 1em;
                    }
                }
            }

            div.sheet-template-damage {
                background-color: #fff;
                padding: 3% 2%;
            }


			
            div.sheet-template-roll {
                display: inline-grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;

                div.sheet-template-col {
                    padding: 5%;

                    &:nth-of-type(2) {
                        border-left: 2px solid $dark;
                    }

                    span {
                        display: block;

                        &:last-child {
                            margin-top: 5%;
                        }
                    }
                }
            }
        }			
					
    }
    div.sheet-template-rollResult{
      padding: 5px;
      background-color:
      white;text-align:center;
      border:solid black;
      border-width: 0 2px 2px 2px; 
      font-size:large;
    }	
}