div.sheet-tabs {
  margin-bottom: 2%;

  div.sheet-type {
      grid-template-columns: repeat(4, 1fr);
      padding: 2% 1%;
  }

  div.sheet-col {
      @extend %gridRowCol;
  }

  div.sheet-type {
      label {
          display: grid;
      }

      label.sheet-settings {
          max-width: 100px;
          justify-self: end;
      }
  
      input {
          grid-column: 1;
          height: auto;
          opacity: 0;
          height: 100%;
          width: 80%;
  
          &:hover ~ span {
              transform: scale(1.1);
          }
  
          &:active ~ span {
              margin-top: 2px;
              margin-bottom: -2px;
          }
  
          &:checked ~ span {
              background-color: $primary;
              color: $white;
          }
      }
  
      span {
          border: 2px solid $primary;
          display: inline-block;
          grid-column: 1;
          min-height: 20px;
          width: 80%;
          padding-top: 1.5%;
          cursor: pointer;
          box-shadow: $box-shadow;
          border-radius: 5px;
      }
  }
}
