/* --------------------- */
/* --------FORMS-------- */
/* --------------------- */
select.sheet-short {
    width: 80px;
}
input.sheet-long {
	width: 500px;
}
input.sheet-medium {
	width: 90px;
}
input.sheet-short {
	width: 60px;
}

input.sheet-extrashort {
	width: 40px;
}
textarea.sheet-text2col {
    resize:none;
    width: 500px;
}
textarea.sheet-text3col {
    resize:none;
    width: 95%;
}
/* --------------------- */
/* --------TEXT--------- */
/* --------------------- */
label.sheet-avent2 {
    font-size:10px;
    margin-top:0px;
    margin-bottom:0px;
}
/* --------------------- */
/* -------BOUTONS------- */
/* --------------------- */
button[type="roll"]:not(.sheet-small){
  color: black;
  height: 15px;
  width: 15px;
  margin-left: 15px;
}
button[type="roll"]:not(.sheet-small)::before{
  font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.sheet-greenbutton,
button.sheet-greenbutton:hover,
button.sheet-greenbutton:active,
button.sheet-redbutton,
button.sheet-redbutton:hover,
button.sheet-redbutton:active
{
    background-image: none;
}
button.sheet-redbutton {
    background-color: #ea9999;
}
button.sheet-greenbutton{
    background-color: #b6d7a8;
}
/* --------------------- */
/* -----LAYOUT GRID----- */
/* --------------------- */
.charsheet .sheet-grid-section{
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows:  auto;
  grid-template-areas:  "header header  logo   "
						"header header  lvl    "
						"stat   skill   avent  "
						"stat   comp    svg "
						"combat   combat  combat   "
						"bonus   bonus   bonus    "
						"equip  equip  equip  "
						"mat1   cercle1 cercle1"
						"mat2   cercle2 cercle2"
						"mat3   cercle3 cercle3"
						"mat4   cercle4 cercle4";
  grid-gap: 5px;
}
.charsheet div.sheet-block{
  display: grid;
  justify-content: center;
  padding: 5px;
  border: 1px solid black;
}
.charsheet div.sheet-header{grid-area: header;}
.charsheet div.sheet-logo{grid-area: logo;}
.charsheet div.sheet-lvl{grid-area: lvl;}
.charsheet div.sheet-stat{grid-area: stat;}
.charsheet div.sheet-skill{grid-area: skill;}
.charsheet div.sheet-combat{grid-area: combat;}
.charsheet div.sheet-equip{grid-area: equip;}
.charsheet div.sheet-meca{grid-area: meca;}
.charsheet div.sheet-comp{grid-area: comp;}
.charsheet div.sheet-svg{grid-area: svg;}
.charsheet div.sheet-avent{grid-area: avent;}
.charsheet div.sheet-avent2{grid-area: avent2;}
.charsheet div.sheet-bonus{grid-area: bonus;}
.charsheet div.sheet-mat1{grid-area: mat1;}
.charsheet div.sheet-cercle1{grid-area: cercle1;}
.charsheet div.sheet-mat2{grid-area: mat2;}
.charsheet div.sheet-cercle2{grid-area:cercle2;}
.charsheet div.sheet-mat3{grid-area:mat3;}
.charsheet div.sheet-cercle3{grid-area:cercle3;}
.charsheet div.sheet-mat4{grid-area:mat4;}
.charsheet div.sheet-cercle4{grid-area:cercle4;}
/* --------------------- */
/* ----SWITCH PJ/PNJ---- */
/* --------------------- */
div.sheet-block_b {
    display: none;
}
input.sheet-block_switch:checked ~ div.sheet-block_a {
    display: none;
}
input.sheet-block_switch:checked ~ div.sheet-block_b {
    display: inline;
}
input.sheet-block_switch:not(:checked) ~ span:after {
    content:" PNJ";
}
input.sheet-block_switch:checked ~ span:after {
    content:" PJ";
}

/* --------------------- */
/* ----- TEMPLATES ----- */
/* --------------------- */
.sheet-rolltemplate-jet div {
    background: palegoldenrod;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.sheet-rolltemplate-jet div > h3{
    color: black;
    text-align: center;
    margin-bottom: 2px;
    font-size: 130%;
    font-weight: bold;
}

.sheet-rolltemplate-jet div > h4{
    color: firebrick;
    text-align: center;
    margin-bottom: 2px;
    font-size: 120%;
    font-weight: bold;
}

.sheet-rolltemplate-jet div > h5{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.sheet-rolltemplate-jet div > div{
    border: none;
    padding: 0px;
    font-weight: bold;
}