.radiocontainer {
  display: flex;
  margin: 0;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.radiobox {
  order: 1;
  border: 1px solid black;
  border-radius: 0%;
  background: grey;
  height: 1rem !important;
  width: 1rem !important;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 1;
}

.radiobox:checked {
  opacity: 0;
  z-index: 0;
  position: absolute;
}

.radiobox:checked ~ .radiobox {
  order: 3;
  background-color: transparent;
}

.radiobox.reset {
  order: 2;
  background-color: black;
}