mixin profile(name)
    label.profile
        span Profil :
        +select(name, 'Choisir un profil')
            +optgroup('Roturiers')
            option(value='artisan') Artisan
            option(value='aventurier') Aventurier
            option(value='commercant') Commerçant
            option(value='saltimbanque') Saltimbanque
            option(value='valet') Valet
            +optgroup('Lettrés')
            option(value='artiste') Artiste
            option(value='erudit') Érudit
            option(value='medecin') Médecin
            option(value='religieux') Religieux
            option(value='savant') Savant
            +optgroup('Combattants')
            option(value='cavalier') Cavalier
            option(value='finelame') Fine lame
            option(value='forban') Forban
            option(value='mousquetaire') Mousquetaire
            option(value='officier') Officier
            option(value='soldat') Soldat
            +optgroup('courtisan')
            option(value='conseiller') Conseiller
            option(value='courtisan') Courtisan
            option(value='diplomate') Diplomate
            option(value='espion') Espion
            option(value='libertin') Libertin
            option(value='noble') Noble