div
  &.search-bar
    display flex
    justify-content center
    width 100%
    margin 1em 0em 0.5em 0em
  &.preview-bar
    justify-content space-between
    width 100%
    display flex
    margin 1em 0em 0.5em 0em
  &.search-preview-bar
    display flex
    width auto
  &.move-nav-content
    padding 0.2em
    width 100%

input
  &.search-preview-bar
    width 17.6em
    borderCommon()
    border-radius 0
    &:focus
      outline 3px solid #fd0
      outline-offset 0
      box-shadow inset 0 0 0 2px
  &.search-bar
    width 50%
    borderCommon()
    &:focus
      outline 3px solid #fd0
      outline-offset 0
      box-shadow inset 0 0 0 2px
  &.table-btn
    &:checked
      & ~ div
        &.move-nav-content
          background #4c4d4f
          color #fff
          transition 0.5s ease

.preview-container
  display flex
  justify-content space-between
  font-size 1em
  flex-flow row
  font-weight normal
  height auto
  margin-top 1em
  .move-scroll-list
    width 21.9em
    overflow auto
    borderCommon()
    padding 0
    height 50em

.move-container
  flex-wrap wrap
  flex-direction column
  justify-content space-between
  height 45em
  margin-top 1em
  display flex
  font-size 1em
  font-weight normal
  align-content space-between
  .move-scroll-list
    overflow auto
    borderCommon()
    padding 1em
    width max-content

.move
  margin 0em
  color #4c4d4f !important
  display flex
  padding 0

.move-group-title
  background #4c4d4f
  h3
    color #fff

.move-name
  width 100%
  borderCommon()

.move-highlight
  &:checked
    & ~ .move-name
      background #fd0
      outline-offset 0
      box-shadow inset 0 0 0 2px

.roll-show
  padding 0 !important
  font-size 20px !important
  margin 0 !important
  height auto
  &:hover
    color white

.move-list
  padding 0
  display flex
  label
    cursor pointer
  div
    font-weight 600
    font-size 14px
    text-align center
    margin 0 0 0px
    padding 0.1em
    text-transform none
    &:hover
      transition 0.3s ease
      background #606060 !important
      color #fff
  &:nth-child(2n
    & + 1)
      background-color #ddd

.move-column
  display flex
  flex-direction column
  margin-right 10px

span
  &.move-result
    width 36em
  &.preview-move-roll
    width 60%
    margin-left 1em

.move-group
  borderCommon()
  box-sizing border-box
  width 30%
  margin 0.3em
  height fit-content
  height -moz-fit-content

.move-group-scroll
  borderCommon()
  box-sizing border-box
  height fit-content
  height -moz-fit-content

.move-box
  &:nth-child(n
    & + 2)
      margin-top 10px

.move-title
  background-color #4C4D4F
  color #fff
  border-bottom 1px solid #4C4D4F
  font-size 1.4em
  font-weight bold
  padding 0.2em 0.5em 0.1em 0.7em
  text-transform uppercase
  width 11.7em

.move-preview
  width auto

.move-page-footer
  text-align right !important
  padding-right 1em

.move-preview-container
  width 62%
  p
    font-size 15px
    margin 0
  ul
    margin 2px 0px 5px 25px
    font-size 15px
  li
    font-size 15px

.move-show
  display inline-flex
  font-size 1em
  margin 0em
  padding 0.3em
  &:hover
    background #969696
    cursor pointer
    transition 0.5s ease

.column-wrap
  flex-flow column wrap
  width 22.5em

.move-delve-table
  width auto !important

.move-description
  std-font('Crimson Text')
  padding 1em
  borderCommon()
  p
    margin-bottom 0.3em

.move-table
  border none
  width 30.5em
  font-size 12px

.move-roll
  width 18%

.move-footer
  background-color #434b4d
  color #fff
  line-height 0.9em
  font-size 0.9em
  std-font('Crimson Text')
  font-variant small-caps
  font-weight bold
  text-align left
  padding 0.5rem

.close-preview
  width 100%
  height auto
  margin 0
  font-weight bold
  font-size 14px
  padding 0.2em 0.2em 0.2em 0.2em
  border 2px solid #494a4c
  cursor pointer
  text-align center
  &:hover
    background-color #ccc
    color #4c4d4f
    transition 0.5s ease

.clear-search
  width fit-content
  width -moz-fit-content
  height auto
  margin 0
  font-weight bold
  font-size 14px
  padding 0.2em 0.2em 0.2em 0.2em
  border 2px solid #494a4c
  cursor pointer
  &:hover
    background-color #ccc
    color #4c4d4f !important
    transition 0.5s ease

.selected-move
  z-index 3
  &:checked
    & ~ .move-name
      background #434b4d !important
      color #fff !important

input.move-preview:checked ~ div.move-preview,
input.full-move-list:checked ~ div.full-move-list
  show-hide()

input[type=radio].face-danger:checked ~ div.face-danger,
input[type=radio].secure-an-advantage:checked ~ div.secure-an-advantage,
input[type=radio].gather-information:checked ~ div.gather-information,
input[type=radio].heal:checked ~ div.heal,
input[type=radio].resupply:checked ~ div.resupply,
input[type=radio].make-camp:checked ~ div.make-camp,
input[type=radio].undertake-a-journey:checked ~ div.undertake-a-journey,
input[type=radio].reach-your-destination:checked ~ div.reach-your-destination,
input[type=radio].compel:checked ~ div.compel,
input[type=radio].sojourn:checked ~ div.sojourn,
input[type=radio].draw-the-circle:checked ~ div.draw-the-circle,
input[type=radio].forge-a-bond:checked ~ div.forge-a-bond,
input[type=radio].test-your-bond:checked ~ div.test-your-bond,
input[type=radio].aid-your-ally:checked ~ div.aid-your-ally,
input[type=radio].write-your-epilogue:checked ~ div.write-your-epilogue,
input[type=radio].enter-the-fray:checked ~ div.enter-the-fray,
input[type=radio].strike:checked ~ div.strike,
input[type=radio].clash:checked ~ div.clash,
input[type=radio].turn-the-tide:checked ~ div.turn-the-tide,
input[type=radio].end-the-fight:checked ~ div.end-the-fight,
input[type=radio].battle:checked ~ div.battle,
input[type=radio].endure-harm:checked ~ div.endure-harm,
input[type=radio].face-death:checked ~ div.face-death,
input[type=radio].companion-endure-harm:checked ~ div.companion-endure-harm,
input[type=radio].endure-stress:checked ~ div.endure-stress,
input[type=radio].face-desolation:checked ~ div.face-desolation,
input[type=radio].out-of-supply:checked ~ div.out-of-supply,
input[type=radio].face-a-setback:checked ~ div.face-a-setback,
input[type=radio].swear-an-iron-vow:checked ~ div.swear-an-iron-vow,
input[type=radio].fulfill-your-vow:checked ~ div.fulfill-your-vow,
input[type=radio].reach-a-milestone:checked ~ div.reach-a-milestone,
input[type=radio].forsake-your-vow:checked ~ div.forsake-your-vow,
input[type=radio].advance:checked ~ div.advance,
input[type=radio].pay-the-price:checked ~ div.pay-the-price,
input[type=radio].ask-the-oracle:checked ~ div.ask-the-oracle,
input[type=radio].discover-a-site:checked ~ div.discover-a-site,
input[type=radio].delve-the-depths:checked ~ div.delve-the-depths,
input[type=radio].find-an-opportunity:checked ~ div.find-an-opportunity,
input[type=radio].reveal-a-danger:checked ~ div.reveal-a-danger,
input[type=radio].check-your-gear:checked ~ div.check-your-gear,
input[type=radio].locate-your-objective:checked ~ div.locate-your-objective,
input[type=radio].escape-the-depths:checked ~ div.escape-the-depths,
input[type=radio].reveal-a-danger-alt:checked ~ div.reveal-a-danger-alt,
input[type=radio].wield-a-rarity:checked ~ div.wield-a-rarity,
input[type=radio].mark-your-failure:checked ~ div.mark-your-failure,
input[type=radio].learn-from-your-failures:checked ~ div.learn-from-your-failures,
input[type=radio].advance-a-threat:checked ~ div.advance-a-threat,
input[type=radio].take-a-hiatus:checked ~ div.take-a-hiatus
  show-hide()

.move-nav-child
  display flex
  width auto
  height 1.3em
  padding 0
  margin 0.2em 0em 0.2em 0em
  text-align center

::-webkit-scrollbar
  -webkit-appearance none
  width 7px

::-webkit-scrollbar-thumb
  border-radius 4px
  background-color rgba(0,0,0,0.5)
  box-shadow 0 0 1px rgba(255,255,255,0.5)

.move-delve-column-stat-header,
.move-delve-stat-column
  width 16%

.move-delve-column-stat-header-1,
.move-delve-stat-column-1
  width 17%

.move-delve-column-stat-header-2,
.move-delve-stat-column-2
  width 18%

.move-delve-column-stat-header-3,
.move-delve-stat-column-3
  width 15%

.move-delve-column-header,
.move-delve-column
  width 50%

.move-delve-column-stat-header,
.move-delve-column-stat-header-1,
.move-delve-column-stat-header-2,
.move-delve-column-stat-header-3,
.move-delve-column-header
  font-weight bold

.move-delve-row-header
  padding 0px 5px 0px 5px
  display flex
  height auto
  border-bottom 2px solid #4c4d4f

.embedded-btn
  padding-top 0.2em !important
  std-font()

input.optional-move-failures:checked ~ div.optional-move-failures,
input.optional-move-sites:checked ~ div.optional-move-sites,
input.optional-move-threat:checked ~ div.optional-move-threat,
input.optional-move-rarity:checked ~ div.optional-move-rarity
  display block