.sheet-rolltemplate-abilityRoll .sheet-resultGrid{
	display:grid;
	grid-template-columns: auto auto auto auto auto auto;
	align-items: end; 
}

.charsheet{
	background-color:white;
}

.sheet-section_header{
	display:inline;
	font-weight:bold;
}

.sheet-text_input{
	border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
    border-radius: 0;
	width:200px;

}	

.sheet-long_input{
	width:500px;
}

.sheet-section_div{
	border: 1px solid black;
    padding: 3px
}


.sheet-twodigits{
	width:3.0em!important;	
	border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
    border-radius: 0;	
	text-align:center;
	
}
.sheet-section_divider{
	border-bottom: 1px solid black;
	padding: 3px;	
}

.sheet-rune_name{
	width: 190px;
	display:inline;
}

.sheet-rune_selector{
	width: 61px;
    height: 37px;
    padding: 0px;
    font-size: xx-large;
    font-family: "glorantha core runes regular";	
	margin-bottom:0px;
}

.sheet-rune_values{
		width:2.5em;
}

/*START Configuration Window*/
.sheet-HideConfig:checked ~ *.sheet-config {
	display:none;
}

.charsheet span.sheet-is-config::after { /*Close Config: grayish background with black text*/
	content: "^";
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config::after { /*Show Configuration: Black background with grayish text*/
	content: "v";
}

.charsheet span.sheet-is-config {
    text-align: center;
    display: inline-block;    
    width: 5%;
    height: 16px;
    font-size: 9px;
    /*font-family: "Pictos";*/
    /*background: #65763c;*/
    background: black; /*#93537c;*/
	color: white; /*white;*/
	font-weight: bold;
	border-radius: 4px;
	margin-left: -5%;
}

.charsheet input.sheet-HideConfig {
     width: 5%;
    height: 16px;
    cursor: pointer;	
    margin-left: auto;
    margin-top: auto;
	/*position: absolute;
	right: 20%;*/
	opacity: 0;
	z-index: 9999;
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config {
    background: black;
    border-radius: 4px;
	color: white;
}

.charsheet label.sheet-configitem {
    margin-left: 10px; 
    width: 65px; 
    font-size: .9em; 
    font-weight: normal
}

/*End Configuration Window*/


.charsheet div.sheet-rune_show{
    display: none;    
}

.sheet-breakout_name{
   
   text-align:right;	
   background:transparent;
   width:242px;
   font-size: smaller;
   
}




.sheet-keytext_input{
	border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
    border-radius: 0;
	width:250px;

}

.sheet-keybreakout_name{
   
   text-align:right;	
   background:transparent;
   width:312px;
   font-size: smaller;
   
}

.sheet-breakout_value{
	background:transparent;
	font-size: smaller;
}

.sheet-benefitis_name{
		width:352px;
}
		          
.charsheet input.sheet-toggle-runes:checked ~ div.sheet-rune_show {
    display: inline;
}

.charsheet input.sheet-toggle-runes:checked ~ .sheet-breakout_name
 {
    margin-left:20px;
}


.sheet-rolltemplate-abilityRoll .inlinerollresult  {
    background-color: transparent;
    color: #000000;
    border: none;
	font-size:xx-large;
}


.sheet-distingchar{
		width: 118px; 
		display:inline-block;
		margin-bottom:0px;
}

/*-------------------------------------------*/
/*------------ Repeating Buttons ------------*/
/*-------------------------------------------*/

.repcontrol .btn {
    border: 0 solid transparent;
    color: white !important;
    background: none;
    font-size: 0px;
    box-shadow: none;
    margin-bottom: 1px;
	font-family: pictos;
	font-style: normal;
}

.repcontrol .repcontrol_edit::after {
    content: '(';
}

 .editmode ~ .repcontrol .repcontrol_edit::after {
    content: ')';
}

.repcontrol .repcontrol_add::before {
	content: '&';
}

 .repcontrol .repcontrol_add::before,
 .repcontrol .repcontrol_edit::after {
    visibility: visible;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: #333;
}

.repcontrol .repcontrol_edit:hover::after,
.repcontrol .repcontrol_add:hover::before
{
    background-color: #EFEFEF;
}
