
rolltemplate.sheet-rolltemplate-alteredcarbon
    .ac-roll-container
        | {{#name}}
        h1 {{name}}
        | {{/name}}
        .ac-roll-body
            | {{#character_name}}
            h2 {{character_name}}
            | {{/character_name}}
            | {{#target_number}}
            .ac-roll-target 
                span.ac-roll-target-label(data-i18n="Target")
                span.ac-roll-target-value {{target_number}}
            | {{/target_number}}
            .ac-roll-result
                | {{#roll}}
                .ac-roll-result-roll 
                    strong(data-i18n="Roll")
                    div {{roll}}
                | {{/roll}}
                | {{#rollGreater() luck 0}}
                .ac-roll-result-luck
                    strong(data-i18n="Luck")
                    div {{luck}}
                | {{/rollGreater() luck 0}}
                | {{#rollGreater() bonus 0}}
                .ac-roll-result-bonus
                    strong(data-i18n="Bonus")
                    div {{bonus}}
                | {{/rollGreater() bonus 0}}

            .ac-roll-tag                
                | {{#rollWasCrit() roll}}
                | {{#^rollWasCrit() luck}}
                .ac-roll-ace(data-i18n="Ace")
                | {{/^rollWasCrit() luck}}
                | {{/rollWasCrit() roll}}

                | {{#^rollWasCrit() roll}}
                | {{#rollWasCrit() bonus}}
                .ac-roll-ace(data-i18n="Ace")
                | {{/rollWasCrit() bonus}}
                | {{/^rollWasCrit() roll}}

                | {{#rollWasCrit() roll}}
                | {{#rollWasCrit() luck}}
                .ac-roll-stroke(data-i18n="Stroke of Luck")
                | {{/rollWasCrit() luck}}
                | {{/rollWasCrit() roll}}

                | {{#rollWasFumble() roll}}
                | {{#rollWasFumble() luck}}
                .ac-roll-catastrophe(data-i18n="Catastrophe")
                | {{/rollWasFumble() luck}}
                | {{/rollWasFumble() roll}}