include components/components

+hiddenInput('version', '1.0')
+hiddenInput('page', 'personnage')
main
    nav#menu.menu
        +navRadio('page', 'Personnage', 'personnage')
        +navRadio('page', 'Compétences', 'competences')
        +navRadio('page', 'Escrime', 'escrime')
        +navRadio('page', 'Ressources & contacts', 'ressources')

    div
        +swordbar()    
        include modules/1-personnage/personnage
        include modules/2-competences/competences
        include modules/3-escrime/escrime
        include modules/4-ressources/ressources

script(type='text/worker')
    include components/nstatebox/nstatebox.js
    include components/swordbar/swordbar.js
    include components/carac/carac.js
    include components/skill/skill.js
    include components/blessedarcana/blessedarcana.js

    include modules/1-personnage/personnage.js
    include modules/2-competences/competences.js

    include init.js