- 
  var character = { 
    type: 'character',
    rows: [
      { 
        details: [
          { id: 'ancestry', text: 'Ancestry' },
          { 
            columns: [
              { id: 'age', text: 'Age' },
              { id: 'sex', text: 'Sex' }
            ]
          },
          { id: 'speed', text: 'Speed' },
          { 
            columns: [ 
              { id: 'resilience', text: 'Resilience' },
              { id: 'max_load', text: 'Max Load' }
            ]
          }
        ],
      },
      { 
        details: [
          { id: 'appearance', text: 'Appearance' },
          { id: 'alignment', text: 'Alignment' }
        ]
      }
    ]
  }

include ./mixins/details
+details(character)
