- 
  var companion = { 
    type: 'companion',
    rows: [
      { 
        details: [
          { id: 'ancestry', text: 'Ancestry' },
          { id: 'asset', text: 'Asset' }
        ],
      },
      { 
        details: [
          { 
            columns: [
              { id: 'age', text: 'Age' },
              { id: 'sex', text: 'Sex' }
            ]
          },
          { id: 'speed', text: 'Speed' },
          { id: 'alignment', text: 'Alignment' }
        ]
      },
      { 
        details: [
          { id: 'drives', text: 'Drives/Motivations' }
        ]
      },
      { 
        details: [
          { id: 'goal', text: 'Goal' }
        ]
      },
      { 
        details: [
          { header: 'AS FOE' }
        ]
      },
      { 
        details: [
          { id: 'readiness', text: 'Readiness' },
          { id: 'intelligence', text: 'Intelligence' },
          { id: 'morale', text: 'morale' },
          { id: 'def_rating', text: 'Def. Rating' }
        ]
      }
    ]
  }

include ./mixins/details
+details(companion)
