.sheet-pc-name
  &:focus
    outline 3px solid #ffdd00
    outline-offset 0
    box-shadow inset 0 0 0 2px

.sheet-details-row
  display flex
  justify-content space-evenly
  .sheet-details-header
    color white
    background #4C4D4F

.sheet-companion-detail + .sheet-details-header,
.sheet-character-detail + .sheet-details-header
  background #4C4D4F

.sheet-companion-detail,
.sheet-character-detail
  borderCommon()
  width 100%
  padding: 0em 1em 0em 1em
  margin: 0.1em;
  p
    width 100%
    std-font()
    margin 0
  input
    width 100%
    border 0
    padding 0
    outline-width: 0px;
    &::placeholder
      font-weight 500
      

      

.sheet-detail-columns
  display flex

.sheet-detail-column
  width 50%