div.sheet-character-details
  div.sheet-details-row
    //- Ancestry
    div.sheet-character-detail
      p Ancestry
      input(type='text' name='attr_ancestry' placeholder='Ancestry')
    //- Sex & Age
    div.sheet-character-detail.sheet-detail-columns
      div.sheet-detail-column
        p Sex
        input(type='text' name='attr_sex' placeholder='Sex')
      div.sheet-detail-column
        p Age
        input(type='text' name='attr_age' placeholder='age')
    //- Speed
    div.sheet-character-detail
      p Speed
      input(type='text' name='attr_speed' placeholder='Speed')
    //- Resilience
    div.sheet-character-detail
      p Resilience
      input(type='text' name='attr_resilience' placeholder='Resilience')
  div.sheet-details-row
    //- Appearance
    div.sheet-character-detail
      p Appearance
      input(type='text' name='attr_appearance' placeholder='Appearance')
    //- Alignment
    div.sheet-character-detail
      p Alignment
      input(type='text' name='attr_alignment' placeholder='Alignment')