.sheet-processing {
  background-color: $transparent-black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
}

.sheet-show-processing {
  .sheet-processing {
    display: block;
  }
}