<input type="hidden" name="attr_processing" class="show-processing">
<div class="processing">
  <div class="relative center">
    <img src="http://i.imgur.com/2KjuKkG.gif">
    <div data-i18n="PROCESSING_TITLE"></div>
    <div data-i18n="PROCESSING_MESSAGE" class="small-label"></div>
    <div data-i18n="PROCESSING_CLOSE_MESSAGE" class="small-label"></div>
    <div class="mar-t-md">
      <input type="checkbox" name="attr_close_processing" class="toggle-pseudo-button"><span class="toggle-pseudo-button button" data-i18n="CLOSE"></span>
    </div>
  </div>
</div>