<input type="hidden" name="attr_processing" class="show-processing" value="">
<div class="processing">
  <div class="relative">
    <img src="http://i.imgur.com/2KjuKkG.gif">
    <div>
      <span data-i18n="PROCESSING_TITLE"></span>
      <span name="attr_processing" class="processing-names small-label"></span>
    </div>
    <div data-i18n="PROCESSING_MESSAGE" class="small-label"></div>
    <div data-i18n="PROCESSING_CLOSE_MESSAGE" class="small-label"></div>
    <div class="center mar-t-md">
      <input type="checkbox" name="attr_close_processing" class="toggle-pseudo-button"><span class="toggle-pseudo-button button" data-i18n="CLOSE"></span>
    </div>
  </div>
</div>