<div class="wrap-box relative">
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="AMMO_AUTO_USE"></span>
    <input type="checkbox" name="attr_ammo_auto_use" class="mar-l-md no-shrink" value="1">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="AUTO_REVERT_ADV"></span>
    <input type="checkbox" name="attr_auto_revert_advantage" class="mar-l-md no-shrink">
  </div>
  <div class="shaped-row space-between vert-center no-wrap">
    <span class="small-label" data-i18n="SHOW_RESTS"></span>
    <input type="checkbox" name="attr_show_rests" class="mar-l-md no-shrink">
  </div>
  <div class="shaped-row space-between vert-center no-wrap">
    <span class="small-label" data-i18n="EXPERTISE_AS_ADVANTAGE"></span>
    <input type="checkbox" name="attr_expertise_as_advantage" class="mar-l-md no-shrink" value="1">
  </div>
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">A</div>
      <div class="tooltip-content-left small-label" data-i18n="REQUIRES_API"></div>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="API"></div>
</div>