<div class="wrap-box relative mar-t-smd mar-b-smd">
  <fieldset class="repeating_attacher">
    <div class="shaped-row">
      <div class="col-95">
        <input type="text" class="action-name" data-i18n-placeholder="NAME" name="attr_name">
      </div>
      <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings" checked><span class="toggle-icon-settings pictos">y</span>
    </div>
    <input type="checkbox" name="attr_toggle_details" class="toggle-icon-settings hidden" checked>
    <div class="shaped-row details mar-b-lg">
      <div class="col-45 pad-r-sm">
        <div class="shaped-row">
          <div class="col-50 center pad-l-sm pad-r-sm">
            <textarea class="eight-line-textarea" name="attr_freetext"></textarea>

            <div class="small-label" data-i18n="FREETEXT"></div>
          </div>
          <div class="col-50 center pad-l-sm pad-r-sm">
            <textarea class="eight-line-textarea" name="attr_freeform"></textarea>

            <div class="small-label" data-i18n="FREEFORM"></div>
          </div>
        </div>
      </div>
      <div class="col-55 pad-l-sm">
        <div class="shaped-row center">
          <div class="col-30 wrap-box-label light-label" data-i18n="ABILITY_CHECKS"></div>
          <div class="col-30 wrap-box-label light-label" data-i18n="SAVING_THROWS"></div>
          <div class="col-20 wrap-box-label light-label" data-i18n="MISC"></div>
          <div class="col-20 wrap-box-label light-label" data-i18n="SKILLS"></div>
        </div>
        <div class="shaped-row">
          <div class="col-30 pad-l-lg">
            <div class="zebra-rows">
              <div class="shaped-row">
                <div class="col-85" data-i18n="STRENGTH"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_strength_check_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85" data-i18n="DEXTERITY"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_dexterity_check_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85" data-i18n="CONSTITUTION"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_constitution_check_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85" data-i18n="INTELLIGENCE"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_intelligence_check_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85" data-i18n="WISDOM"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_wisdom_check_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85" data-i18n="CHARISMA"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_charisma_check_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85" data-i18n="INITIATIVE"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_initiative_attacher">
                </div>
              </div>
            </div>
          </div>
          <div class="col-30 pad-l-lg">
            <div class="zebra-rows">
              <div class="shaped-row default-saving-throw">
                <div class="col-85" data-i18n="STRENGTH"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_strength_saving_throw_attacher">
                </div>
              </div>
              <div class="shaped-row default-saving-throw">
                <div class="col-85" data-i18n="DEXTERITY"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_dexterity_saving_throw_attacher">
                </div>
              </div>
              <div class="shaped-row default-saving-throw">
                <div class="col-85" data-i18n="CONSTITUTION"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_constitution_saving_throw_attacher">
                </div>
              </div>
              <div class="shaped-row default-saving-throw">
                <div class="col-85" data-i18n="INTELLIGENCE"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_intelligence_saving_throw_attacher">
                </div>
              </div>
              <div class="shaped-row default-saving-throw">
                <div class="col-85" data-i18n="WISDOM"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_wisdom_saving_throw_attacher">
                </div>
              </div>
              <div class="shaped-row default-saving-throw">
                <div class="col-85" data-i18n="CHARISMA"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_charisma_saving_throw_attacher">
                </div>
              </div>
              <div class="shaped-row custom-saving-throw">
                <div class="col-85" data-i18n="FORTITUDE"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_fortitude_saving_throw_attacher">
                </div>
              </div>
              <div class="shaped-row custom-saving-throw">
                <div class="col-85" data-i18n="REFLEX"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_reflex_saving_throw_attacher">
                </div>
              </div>
              <div class="shaped-row custom-saving-throw">
                <div class="col-85" data-i18n="WILL"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_will_saving_throw_attacher">
                </div>
              </div>
            </div>
            <div class="shaped-row">
              <div class="col-85" data-i18n="DEATH_SAVES"></div>
              <div class="col-15">
                <input type="checkbox" name="attr_death_saving_throw_attacher">
              </div>
            </div>
          </div>
          <div class="col-20 pad-l-lg">
            <div class="zebra-rows">
              <div class="shaped-row">
                <div class="col-85" data-i18n="HIT_DICE"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_hit_dice_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85" data-i18n="ATTACK"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_attack_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85" data-i18n="SPELL"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_spell_attacher">
                </div>
              </div>
              <div class="shaped-row">
                <div class="col-85 relative">
                  <span data-i18n="CRIT"></span>
                  <div class="tooltip-position-wrapper">
                    <div class="tooltip">
                      <div class="tooltip-toggle-text center">?</div>
                      <div class="tooltip-content-left small-label" data-i18n="CRIT_ATTACHER_TOOLTIP"></div>
                    </div>
                  </div>
                </div>
                <div class="col-15">
                  <input type="checkbox" name="attr_crit_attacher">
                </div>
              </div>
            </div>
          </div>
          <div class="col-20 pad-l-lg">
            <div class="zebra-rows">
              <div class="shaped-row">
                <div class="col-85" data-i18n="SKILL"></div>
                <div class="col-15">
                  <input type="checkbox" name="attr_skill_attacher">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="wrap-box-title center" data-i18n="ATTACHERS"></div>
</div>

<input type="hidden" name="attr_attacher_strength_saving_throw">
<input type="hidden" name="attr_attacher_dexterity_saving_throw">
<input type="hidden" name="attr_attacher_constitution_saving_throw">
<input type="hidden" name="attr_attacher_intelligence_saving_throw">
<input type="hidden" name="attr_attacher_wisdom_saving_throw">
<input type="hidden" name="attr_attacher_charisma_saving_throw">
<input type="hidden" name="attr_attacher_death_saving_throw">
<input type="hidden" name="attr_attacher_fortitude_saving_throw">
<input type="hidden" name="attr_attacher_reflex_saving_throw">
<input type="hidden" name="attr_attacher_will_saving_throw">

<input type="hidden" name="attr_attacher_strength_check">
<input type="hidden" name="attr_attacher_dexterity_check">
<input type="hidden" name="attr_attacher_constitution_check">
<input type="hidden" name="attr_attacher_intelligence_check">
<input type="hidden" name="attr_attacher_wisdom_check">
<input type="hidden" name="attr_attacher_charisma_check">

<input type="hidden" name="attr_attacher_initiative">

<input type="hidden" name="attr_attacher_hit_dice">
<input type="hidden" name="attr_attacher_attack">
<input type="hidden" name="attr_attacher_spell">
<input type="hidden" name="attr_attacher_skill">

<input type="hidden" name="attr_attacher_crit">