<div class="general-bonuses wrap-box relative center">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-right small-label" data-i18n="BONUSES_AND_PENALTIES_TOOLTIP"></div>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-1-3 wrap-box-label light-label center" data-i18n="ATTACKS"></div>
    <div class="col-1-3 wrap-box-label light-label center" data-i18n="MELEE"></div>
    <div class="col-1-3 wrap-box-label light-label center" data-i18n="RANGED"></div>
  </div>
  <div class="shaped-row no-wrap mar-b-sm">
    <div class="center">
      <input type="text" name="attr_global_attack_bonus" class="center" value="0">
      <div class="small-label" data-i18n="ATK"></div>
    </div>
    <div class="center pad-r-sm">
      <input type="text" name="attr_global_damage_bonus" class="center" value="0">
      <div class="small-label" data-i18n="DMG"></div>
    </div>
    <div class="center pad-l-sm">
      <input type="text" name="attr_global_melee_attack_bonus" class="center" value="0">
      <div class="small-label" data-i18n="ATK"></div>
    </div>
    <div class="center pad-r-sm">
      <input type="text" name="attr_global_melee_damage_bonus" class="center" value="0">
      <div class="small-label" data-i18n="DMG"></div>
    </div>
    <div class="center pad-l-sm">
      <input type="text" name="attr_global_ranged_attack_bonus" class="center" value="0">
      <div class="small-label" data-i18n="ATK"></div>
    </div>
    <div class="center">
      <input type="text" name="attr_global_ranged_damage_bonus" class="center" value="0">
      <div class="small-label" data-i18n="DMG"></div>
    </div>
  </div>

  <hr>
  //= include ../spells/spellcastingBonuses.html
  <hr>

  <div class="shaped-row no-wrap">
    <div class="pc center pad-r-sm">
      <input type="number" name="attr_global_ability_bonus" class="no-spin" value="0" step="1">
      <div class="small-label" data-i18n="ABILITY_SCORES"></div>
    </div>
    <div class="center pad-r-sm">
      <input type="text" name="attr_global_saving_throw_bonus" class="center" value="0">
      <div class="small-label" data-i18n="SAVING_THROWS"></div>
    </div>
    <div class="center">
      <input type="text" name="attr_global_check_bonus" class="center" value="0">
      <div class="small-label" data-i18n="ABILITY_CHECKS"></div>
    </div>
  </div>

  <div class="wrap-box-title" data-i18n="BONUSES_AND_PENALTIES"></div>
</div>