<div class="custom-saving-throw shaped-row space-between vert-center">
  <div class="relative pad-r-xl">
    <span class="small-label" data-i18n="FORTITUDE">Fortitude</span>
    <div class="tooltip-position-wrapper">
      <div class="tooltip">
        <div class="tooltip-toggle-text center">?</div>
        <div class="tooltip-content-left small-label" data-i18n="DEFAULTS_TO_CONSTITUTION"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="shaped-row vert-center">
      <div>
        <span class="small-label" data-i18n="STR">Str</span><input type="checkbox" name="attr_fortitude_strength">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="DEX">Dex</span><input type="checkbox" name="attr_fortitude_dexterity">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CON">Con</span><input type="checkbox" name="attr_fortitude_constitution">
      </div>
    </div>
    <div class="shaped-row vert-center justify-flex-end">
      <div>
        <span class="small-label" data-i18n="INT">Int</span><input type="checkbox" name="attr_fortitude_intelligence">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="WIS">Wis</span><input type="checkbox" name="attr_fortitude_wisdom">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CHA">Cha</span><input type="checkbox" name="attr_fortitude_charisma">
      </div>
    </div>
  </div>
</div>
<div class="custom-saving-throw shaped-row space-between vert-center">
  <div class="relative pad-r-xl">
    <span class="small-label" data-i18n="REFLEX">Reflex</span>
    <div class="tooltip-position-wrapper">
      <div class="tooltip">
        <div class="tooltip-toggle-text center">?</div>
        <div class="tooltip-content-left small-label" data-i18n="DEFAULTS_TO_DEXTERITY"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="shaped-row vert-center">
      <div>
        <span class="small-label" data-i18n="STR">Str</span><input type="checkbox" name="attr_reflex_strength">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="DEX">Dex</span><input type="checkbox" name="attr_reflex_dexterity">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CON">Con</span><input type="checkbox" name="attr_reflex_constitution">
      </div>
    </div>
    <div class="shaped-row vert-center justify-flex-end">
      <div>
        <span class="small-label" data-i18n="INT">Int</span><input type="checkbox" name="attr_reflex_intelligence">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="WIS">Wis</span><input type="checkbox" name="attr_reflex_wisdom">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CHA">Cha</span><input type="checkbox" name="attr_reflex_charisma">
      </div>
    </div>
  </div>
</div>
<div class="custom-saving-throw shaped-row space-between vert-center">
  <div class="relative pad-r-xl">
    <span class="small-label" data-i18n="WILL">Will</span>
    <div class="tooltip-position-wrapper">
      <div class="tooltip">
        <div class="tooltip-toggle-text center">?</div>
        <div class="tooltip-content-left small-label" data-i18n="DEFAULTS_TO_WISDOM"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="shaped-row vert-center">
      <div>
        <span class="small-label" data-i18n="STR">Str</span><input type="checkbox" name="attr_will_strength">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="DEX">Dex</span><input type="checkbox" name="attr_will_dexterity">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CON">Con</span><input type="checkbox" name="attr_will_constitution">
      </div>
    </div>
    <div class="shaped-row vert-center justify-flex-end">
      <div>
        <span class="small-label" data-i18n="INT">Int</span><input type="checkbox" name="attr_will_intelligence">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="WIS">Wis</span><input type="checkbox" name="attr_will_wisdom">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CHA">Cha</span><input type="checkbox" name="attr_will_charisma">
      </div>
    </div>
  </div>
</div>