<div class="wrap-box mar-b-smd">
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="COIN_CONVERSION_GP_PER_CP"></span>
    <div class="col-25">
      <input type="number" name="attr_copper_per_gold" value="100">
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="COIN_CONVERSION_GP_PER_SP"></span>
    <div class="col-25">
      <input type="number" name="attr_silver_per_gold" value="10">
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="COIN_CONVERSION_GP_PER_EP"></span>
    <div class="col-25">
      <input type="number" name="attr_electrum_per_gold" value="2">
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap">
    <span class="small-label" data-i18n="COIN_CONVERSION_GP_PER_PP"></span>
    <div class="col-25">
      <input type="number" name="attr_platinum_per_gold" value="10">
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="CUSTOM_GOLD_VALUES"></div>
</div>