<div class="custom-saving-throw shaped-row space-between vert-center mar-b-sm">
  <div class="relative pad-r-xl">
    <span class="small-label" data-i18n="FORTITUDE">Fortitude</span>
    <div class="tooltip-position-wrapper">
      <div class="tooltip">
        <div class="tooltip-toggle-text center">?</div>
        <div class="tooltip-content-left small-label" data-i18n="DEFAULTS_TO_CONSTITUTION"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="shaped-row vert-center">
      <div>
        <span class="small-label" data-i18n="STR">Str</span><input type="checkbox" name="attr_fortitude_strength" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="DEX">Dex</span><input type="checkbox" name="attr_fortitude_dexterity" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CON">Con</span><input type="checkbox" name="attr_fortitude_constitution" value="1">
      </div>
    </div>
    <div class="shaped-row vert-center justify-flex-end">
      <div>
        <span class="small-label" data-i18n="INT">Int</span><input type="checkbox" name="attr_fortitude_intelligence" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="WIS">Wis</span><input type="checkbox" name="attr_fortitude_wisdom" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CHA">Cha</span><input type="checkbox" name="attr_fortitude_charisma" value="1">
      </div>
    </div>
  </div>
</div>
<hr class="custom-saving-throw">
<div class="custom-saving-throw shaped-row space-between vert-center mar-b-sm">
  <div class="relative pad-r-xl">
    <span class="small-label" data-i18n="REFLEX">Reflex</span>
    <div class="tooltip-position-wrapper">
      <div class="tooltip">
        <div class="tooltip-toggle-text center">?</div>
        <div class="tooltip-content-left small-label" data-i18n="DEFAULTS_TO_DEXTERITY"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="shaped-row vert-center">
      <div>
        <span class="small-label" data-i18n="STR">Str</span><input type="checkbox" name="attr_reflex_strength" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="DEX">Dex</span><input type="checkbox" name="attr_reflex_dexterity" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CON">Con</span><input type="checkbox" name="attr_reflex_constitution" value="1">
      </div>
    </div>
    <div class="shaped-row vert-center justify-flex-end">
      <div>
        <span class="small-label" data-i18n="INT">Int</span><input type="checkbox" name="attr_reflex_intelligence" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="WIS">Wis</span><input type="checkbox" name="attr_reflex_wisdom" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CHA">Cha</span><input type="checkbox" name="attr_reflex_charisma" value="1">
      </div>
    </div>
  </div>
</div>
<hr class="custom-saving-throw">
<div class="custom-saving-throw shaped-row space-between vert-center mar-b-sm">
  <div class="relative pad-r-xl">
    <span class="small-label" data-i18n="WILL">Will</span>
    <div class="tooltip-position-wrapper">
      <div class="tooltip">
        <div class="tooltip-toggle-text center">?</div>
        <div class="tooltip-content-left small-label" data-i18n="DEFAULTS_TO_WISDOM"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="shaped-row vert-center">
      <div>
        <span class="small-label" data-i18n="STR">Str</span><input type="checkbox" name="attr_will_strength" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="DEX">Dex</span><input type="checkbox" name="attr_will_dexterity" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CON">Con</span><input type="checkbox" name="attr_will_constitution" value="1">
      </div>
    </div>
    <div class="shaped-row vert-center justify-flex-end">
      <div>
        <span class="small-label" data-i18n="INT">Int</span><input type="checkbox" name="attr_will_intelligence" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="WIS">Wis</span><input type="checkbox" name="attr_will_wisdom" value="1">
      </div>
      <div class="pad-l-md">
        <span class="small-label" data-i18n="CHA">Cha</span><input type="checkbox" name="attr_will_charisma" value="1">
      </div>
    </div>
  </div>
</div>