<div class="wrap-box mar-b-smd">
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <div class="relative pad-r-xl">
      <span class="small-label" data-i18n="SHOW_RESTS"></span>
      <div class="tooltip-position-wrapper">
        <div class="tooltip">
          <div class="tooltip-toggle-text center">A</div>
          <div class="tooltip-content-left small-label" data-i18n="REQUIRES_API"></div>
        </div>
      </div>
    </div>
    <input type="checkbox" name="attr_show_rests" class="mar-l-md no-shrink">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="SPELLS"></span>
    <input type="checkbox" name="attr_spells" class="mar-l-md" value="1" checked>
  </div>
  <div class="spells shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="SPELLS_ON_CORE"></span>
    <input type="checkbox" name="attr_spells_on_core" class="mar-l-md" value="1" checked>
  </div>
  <div class="wrap-box-title center" data-i18n="DISPLAY"></div>
</div>