<div class="wrap-box relative">
  <input type="hidden" name="attr_hide_gm_info" value="@{hide_attack} @{hide_damage} @{hide_ability_checks} @{hide_saving_throws} @{hide_saving_throw_dc} @{hide_spell_content} @{hide_freetext} @{hide_saving_throw_failure} @{hide_saving_throw_success} @{hide_recharge}">
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_ATTACK"></span>
    <input type="checkbox" name="attr_hide_attack" class="mar-l-md" value="{{hide_attack=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_DAMAGE"></span>
    <input type="checkbox" name="attr_hide_damage" class="mar-l-md" value="{{hide_damage=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_ABILITY_CHECKS"></span>
    <input type="checkbox" name="attr_hide_ability_checks" class="mar-l-md" value="{{hide_ability_checks=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_SAVING_THROWS"></span>
    <input type="checkbox" name="attr_hide_saving_throws" class="mar-l-md" value="{{hide_saving_throws=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_SAVING_THROW_DC"></span>
    <input type="checkbox" name="attr_hide_saving_throw_dc" class="mar-l-md" value="{{hide_saving_throw_dc=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_SPELL_CONTENT"></span>
    <input type="checkbox" name="attr_hide_spell_content" class="mar-l-md" value="{{hide_spell_content=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_FREETEXT"></span>
    <input type="checkbox" name="attr_hide_freetext" class="mar-l-md" value="{{hide_freetext=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_SAVING_THROW_FAILURE"></span>
    <input type="checkbox" name="attr_hide_saving_throw_failure" class="mar-l-md" value="{{hide_saving_throw_failure=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="HIDE_INFO_SAVING_THROW_SUCCESS"></span>
    <input type="checkbox" name="attr_hide_saving_throw_success" class="mar-l-md" value="{{hide_saving_throw_success=1}}">
  </div>
  <div class="shaped-row space-between vert-center no-wrap">
    <span class="small-label" data-i18n="HIDE_INFO_RECHARGE"></span>
    <input type="checkbox" name="attr_hide_recharge" class="mar-l-md" value="{{hide_recharge=1}}">
  </div>
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-left small-label" data-i18n="HIDE_INFO_NOTE"></div>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="HIDE_INFO"></div>
</div>