<div class="wrap-box">
  <div class="shaped-row space-between vert-center mar-b-sm">
    <span class="small-label center" data-i18n="BASE_DC"></span>
    <div class="col-15">
      <input type="number" name="attr_base_dc" value="8">
    </div>
  </div>
  <div class="shaped-row space-between vert-center mar-b-sm">
    <span class="small-label center" data-i18n="MEDIUM_ARMOR_MAX_DEX"></span>
    <div class="col-15">
      <input type="number" name="attr_medium_armor_max_dex" value="2">
    </div>
  </div>
  <div class="shaped-row space-between vert-center mar-b-sm">
    <span class="small-label" data-i18n="HIDE_AC"></span><input type="checkbox" name="attr_hide_ac" value="1">
  </div>
  <div class="shaped-row space-between vert-center mar-b-sm">
    <span class="small-label" data-i18n="ATTACKS_VS_A_SAVING_THROW"></span>
    <div class="col-15">
      <select name="attr_attacks_vs_a_saving_throw">
        <option value="">&#8212;</option>
        <option value="STRENGTH" data-i18n="STR" class="default-saving-throw">Str</option>
        <option value="DEXTERITY" data-i18n="DEX" class="default-saving-throw">Dex</option>
        <option value="CONSTITUTION" data-i18n="CON" class="default-saving-throw">Con</option>
        <option value="INTELLIGENCE" data-i18n="INT" class="default-saving-throw">Int</option>
        <option value="WISDOM" data-i18n="WIS" class="default-saving-throw">Wis</option>
        <option value="CHARISMA" data-i18n="CHA" class="default-saving-throw">Cha</option>
        <option value="FORTITUDE" data-i18n="FORT" class="custom-saving-throw">Fort</option>
        <option value="REFLEX" data-i18n="REF" class="custom-saving-throw">Ref</option>
        <option value="WILL" data-i18n="WILL" class="custom-saving-throw">Will</option>
      </select>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="HOUSERULES"></div>
</div>


