<div class="wrap-box mar-b-smd">
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label center" data-i18n="BASE_DC"></span>
    <div class="col-15">
      <input type="number" name="attr_base_dc" value="8">
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label center" data-i18n="MEDIUM_ARMOR_MAX_DEX"></span>
    <div class="col-15">
      <input type="number" name="attr_medium_armor_max_dex" value="2">
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="HOUSERULES"></div>
</div>


