<div class="wrap-box mar-b-smd">
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label center" data-i18n="BASE_DC"></span>
    <div class="2-rem">
      <input type="number" name="attr_base_dc" value="8" class="no-spin">
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label center" data-i18n="MEDIUM_ARMOR_MAX_DEX"></span>
    <div class="2-rem">
      <input type="number" name="attr_medium_armor_max_dex" value="2" class="no-spin">
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="PSIONICS"></span>
    <input type="checkbox" name="attr_psionics" class="mar-l-md" value="1">
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="CUSTOM_CLASSES"></span>
    <input type="checkbox" name="attr_custom_classes" class="mar-l-md" value="1">
  </div>
  <div class="wrap-box-title center" data-i18n="HOUSERULES"></div>
</div>


