<div class="wrap-box">
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="OUTPUT"></span>
    <div class="6-rem">
      <select name="attr_initiative_output_option">
        <option value="@{output_option}" data-i18n="SHEET_OUTPUT" selected></option>
        <option value="" data-i18n="PUBLIC_FOR_ALL"></option>
        <option value="/w GM" data-i18n="WHISPERED_TO_GM"></option>
      </select>
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="ROLL_OPTIONS"></span>
    <div class="6-rem">
      <select name="attr_initiative_roll">
        <option value="@{shaped_d20}" data-i18n="NORMAL"></option>
        <option value="2d20@{d20_mod}kh1" data-i18n="ADVANTAGE"></option>
        <option value="2d20@{d20_mod}kl1" data-i18n="DISADVANTAGE"></option>
      </select>
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="TRACKER"></span>
    <div class="6-rem">
      <select name="attr_initiative_to_tracker">
        <option value="@{selected|initiative_formula} &{tracker}" data-i18n="TO_TRACKER" selected></option>
        <option value="@{initiative_formula}" data-i18n="DONT"></option>
      </select>
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="BREAK_TIES"></span>
    <input type="checkbox" name="attr_initiative_tie_breaker" class="mar-l-md" value="[[@{initiative} / 100]][tie breaker]">
  </div>
  <div class="wrap-box-title center" data-i18n="INITIATIVE"></div>
</div>