<div class="wrap-box">
  <div class="shaped-row space-between vert-center mar-b-sm">
    <div class="small-label" data-i18n="SHEET"></div>
    <div class="col-60">
      <select name="attr_output_option">
        <option value="" data-i18n="PUBLIC_FOR_ALL" selected></option>
        <option value="/w GM" data-i18n="WHISPERED_TO_GM"></option>
      </select>
    </div>
  </div>
  <div class="shaped-row space-between vert-center mar-b-sm">
    <div class="small-label" data-i18n="DEATH_SAVES"></div>
    <div class="col-60">
      <select name="attr_death_save_output_option">
        <option value="@{output_option}" data-i18n="SHEET_OUTPUT" selected></option>
        <option value="" data-i18n="PUBLIC_FOR_ALL"></option>
        <option value="/w GM" data-i18n="WHISPERED_TO_GM"></option>
      </select>
    </div>
  </div>
  <div class="shaped-row space-between vert-center">
    <div class="small-label" data-i18n="HIT_DICE"></div>
    <div class="col-60">
      <select name="attr_hit_dice_output_option">
        <option value="@{output_option}" data-i18n="SHEET_OUTPUT" selected></option>
        <option value="" data-i18n="PUBLIC_FOR_ALL"></option>
        <option value="/w GM" data-i18n="WHISPERED_TO_GM"></option>
      </select>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="OUTPUT"></div>
</div>