<div class="wrap-box">
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="CHARACTER_NAME_ON_ROLL_TEMPLATES"></span>
    <div class="2-rem">
      <select name="attr_show_character_name">
        <option value="" data-i18n="NO" selected>No</option>
        <option value="{{show_character_name=1}}" data-i18n="YES">Yes</option>
      </select>
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <span class="small-label" data-i18n="SHOW_TARGET_AC_ON_ATTACKS"></span>
    <div class="2-rem">
      <select name="attr_attacks_vs_target_ac">
        <option value="" data-i18n="NO" selected>No</option>
        <option value="[[@{target|AC}]]" data-i18n="YES">Yes</option>
      </select>
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap">
    <span class="small-label" data-i18n="SHOW_TARGET_NAME_ON_ATTACKS"></span>
    <div class="2-rem">
      <select name="attr_attacks_vs_target_name">
        <option value="" data-i18n="NO" selected>No</option>
        <option value="@{target|token_name}" data-i18n="YES">Yes</option>
      </select>
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="ROLL_TEMPLATE"></div>
</div>