<div class="section-settings">
  <div class="shaped-row mar-b-smd">
    <div class="10-rem pad-r-sm">
      {% include "./output.html" %}
    </div>
    <div class="11-rem pad-l-sm pad-r-sm">
      {% include "./initiative.html" %}
    </div>
    <div class="14-rem pad-l-sm pad-r-sm">
      {% include "./rollTemplate.html" %}
    </div>
    <div class="11-rem pad-l-sm">
      {% include "./api.html" %}
    </div>
    <div class="pad-l-sm pad-r-sm">
      <input type="radio" name="attr_roll_setting" class="toggle-roll-two" value="{{roll2=[[d20@{d20_mod}"><span class="toggle-roll-two button" data-i18n="ROLL_2"></span>
    </div>
  </div>

  <div class="shaped-row mar-b-smd">
    <div class="14-rem pad-r-sm">
      {% include "./bonuses.html" %}
    </div>
    <div class="11-rem pad-l-sm pad-r-sm">
      {% include "./houserules.html" %}
      {% include "./savingThrows.html" %}
    </div>
    <div class="11-rem pad-l-sm pad-r-sm">
      {% include "./display.html" %}
      {% include "./hideInfo.html" %}
    </div>
    <div class="11-rem pad-r-sm">
      {% include "./customGoldValues.html" %}
      {% include "./weight.html" %}
    </div>
  </div>

  {% include "../macros/macros.html" %}

  {% include "../attachers/attachers.html" %}
</div>
