<div class="wrap-box">
  <!--
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <div class="small-label" data-i18n="DISTANCE"></div>
    <div>
      <select name="attr_distance_system">
        <option value="feet" data-i18n="FEET" selected></option>
        <option value="meters" data-i18n="METERS"></option>
      </select>
    </div>
  </div>
  -->
  <div class="shaped-row space-between vert-center no-wrap mar-b-sm">
    <div class="small-label" data-i18n="WEIGHT"></div>
    <div>
      <select name="attr_weight_system">
        <option value="pounds" data-i18n="POUNDS" selected></option>
        <option value="kilograms" data-i18n="KILOGRAMS"></option>
      </select>
    </div>
  </div>
  <div class="shaped-row space-between vert-center no-wrap">
    <span class="small-label" data-i18n="WEIGHT_PER_COIN"></span>
    <div class="4-rem">
      <input type="number" name="attr_weight_per_coin" value="0.02" step="0.000001" class="no-spin">
    </div>
  </div>
  <div class="wrap-box-title center" data-i18n="MEASUREMENT_SYSTEMS"></div>
</div>
