- const personalityTraits = {'chaste':'lustful', 'energetic':'lazy', 'forgiving':'vengeful','generous':'selfish','honest':'deceitful','just':'arbitrary','merciful':'cruel','modest':'proud','prudent':'reckless','spiritual':'worldly','temperate':'indulgent','trusting':'suspicious','valorous':'cowardly'};
- const christianTraits = ['chaste','forgiving','merciful', 'modest','spiritual','temperate']
- const paganTraits = ['energetic','lustful','generous','honest','proud','spiritual']
- const characteristics = ['size', 'dexterity', 'strength', 'constitution', 'appearance'];
- const skills = ['awareness', 'chirurgery', 'compose', 'courtesy', 'dancing',  'falconry', 'fashion', 'first aid', 'flirting', 'folklore', 'gaming',  'hunting',  'intrigue', 'literacy', 'orate', 'play instrument', 'recognize', 'religion', 'singing', 'stewardship'];
- const gmCharacters = ['name', 'glory', 'app',  'courtesy', 'flirting', 'intrigue', 'chaste', 'modest', 'temperate'];
- const combatSkills = ['battle', 'bow', 'brawling', 'charge', 'crossbow', 'hafted', 'two-handed hafted', 'horsemanship', 'spear', 'sword', 'thrown weapon']

- const healthRows = ['hit points', 'knockdown', 'major wound', 'unconscious']
- const otherRows = ['movement', 'armor points', 'current glory', 'healing rate']
- const npcOtherRows = otherRows.map(e => e === 'current glory' ? 'glory award' : e)

- const attacks = [{name: 'brawling damage'}, {name: 'brawling damage open', i18n: 'brawling (open hand)'}, {name: 'character damage'}, {name: 'critical damage', value: '4D6'}]

- const imageSource = 'https://github.com/Roll20/roll20-character-sheets/blob/master/Pendragon6thEdition/src/pendragonlogo.png?raw=true'

