- const personalityTraits = {'chaste':'lustful', 'energetic':'lazy', 'forgiving':'vengeful','generous':'selfish','honest':'deceitful','just':'arbitrary','merciful':'cruel','modest':'proud','prudent':'reckless','spiritual':'worldly','temperate':'indulgent','trusting':'suspicious','valorous':'cowardly'};
- const christianTraits = ['chaste','forgiving','merciful', 'modest','spiritual','temperate']
- const paganTraits = ['energetic','lustful','generous','honest','proud','spiritual']
- const characteristics = ['size', 'dex', 'str', 'con', 'app'];
- const skills = ['awareness', 'chirurgery', 'compose', 'courtesy', 'dancing',  'falconry', 'fashion', 'first aid', 'flirting', 'folklore', 'gaming',  'hunting',  'intrigue', 'literacy', 'orate', 'play', 'recognize', 'religion', 'sing', 'stewardship'];
- const gmCharacters = ['name', 'glory', 'app',  'courtesy', 'flirting', 'intrigue', 'chaste', 'modest', 'temperate'];

- const imageSource = 'https://github.com/clevett/roll20-character-sheets/blob/6c62396ad2bdfcafb13255fc70a6ab878f5725d7/Pendragon6thEdition/src/pendragonlogo.png?raw=true'

