mixin advance-row
    .wfrp-advancetable__row

        .wfrp-advancetable__cell
            input.wfrp-advancetable__input(name=`attr_advance_name`, type="text")

        .wfrp-advancetable__cell
            input.wfrp-advancetable__input(name=`attr_advance_advances`, type="number")
    
    

