mixin armour-row
    input(name=`attr_armour_settings`, type="hidden", value=1)
    .wfrp-armourtable__row

        .wfrp-armourtable__cell--settingstoggle
            +display-toggle(`armour_settings`, true)

        .wfrp-armourtable__cell
            span.display(name=`attr_armour_name`)

        .wfrp-armourtable__cell
            span.display(name=`attr_armour_locations_display`)

        .wfrp-armourtable__cell
            span.display(name=`attr_armour_points`)

        .wfrp-armourtable__cell--last
            span.display(name=`attr_armour_qualities`)
            
        .wfrp-armourtable__row.wfrp-settings.control__hide--armour_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_armour_name`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Armour Points`) 
                input.wfrp-settings__input(name=`attr_armour_points`, type="number")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Locations`) 
                input.wfrp-settings__input(name=`attr_armour_locations`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Enc.`) 
                input.wfrp-settings__input(name=`attr_armour_enc`, type="number")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Worn`) 
                input.wfrp-settings__input(name=`attr_armour_worn`, type="checkbox")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Qualities`) 
                input.wfrp-settings__input(name=`attr_armour_qualities`, type="text")
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_armour_description`)