mixin condition-row
    input(name=`attr_condition_settings`, type="hidden", value=1)
    .wfrp-conditiontable__row

        .wfrp-conditiontable__cell--settingstoggle
            +display-toggle(`condition_settings`, true)

        .wfrp-conditiontable__cell
            +trait-toggle(`condition`, `attr_condition_name`)

        .wfrp-conditiontable__cell
            span(name=`attr_condition_ranks`)

        .wfrp-conditiontable__cell--vocalise
            button.wfrp-vocalise(type="roll", value=rolls.repeating.condition) w
            
        input(name="attr_condition_toggle", type="hidden")
        .wfrp-conditiontable__cell--description
            span(name=`attr_condition_description`)
            
        .wfrp-conditiontable__row.wfrp-settings.control__hide--condition_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__checkbox(name=`attr_condition_name`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Ranks`) 
                input.wfrp-settings__checkbox(name=`attr_condition_ranks`, type="number")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Global Penalty`) 
                input.wfrp-settings__checkbox(name=`attr_condition_gpenalty`, type="number")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Modifiers`) 
                input.wfrp-settings__input(name=`attr_condition_mods`, type="text") 

            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_condition_description`)