mixin corruption-row
    input(name=`attr_corruption_settings`, type="hidden", value=1)
    .wfrp-corruptiontable__row

        .wfrp-corruptiontable__cell--settingstoggle
            +display-toggle(`corruption_settings`, true)

        .wfrp-corruptiontable__cell
            +trait-toggle(`corruption`, `attr_corruption_name`)

        .wfrp-corruptiontable__cell--vocalise
            button.wfrp-vocalise(type="roll", value=rolls.repeating.corruption) w
            
        input(name="attr_corruption_toggle", type="hidden")
        .wfrp-corruptiontable__cell--description
            span(name=`attr_corruption_description`)
            
        .wfrp-corruptiontable__row.wfrp-settings.control__hide--corruption_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_corruption_name`, type="text")
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_corruption_description`, type="number", value=0)
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Modifiers`) 
                input.wfrp-settings__input(name=`attr_corruption_mods`, type="text") 