mixin critical-row 
    input(name=`attr_critical_settings`, type="hidden", value=1)
    .wfrp-criticaltable__row

        .wfrp-criticaltable__cell--settingstoggle
            +display-toggle(`critical_settings`, true)

        .wfrp-criticaltable__cell
            +trait-toggle(`critical`, `attr_critical_name`)

        .wfrp-criticaltable__cell
            span(name=`attr_critical_location`)

        .wfrp-criticaltable__cell--last
            span(name=`attr_critical_wounds`)
            
        input(name="attr_critical_toggle", type="hidden")
        .wfrp-criticaltable__cell--description
            span(name=`attr_critical_description`)
            
        .wfrp-criticaltable__cell.wfrp-settings.control__hide--armour_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_critical_name`, type="text")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Location`) 
                input.wfrp-settings__input(name=`attr_critical_location`, type="text")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Wounds`) 
                input.wfrp-settings__input(name=`attr_critical_wounds`, type="number")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Modifiers`) 
                input.wfrp-settings__input(name=`attr_critical_mods`, type="text")
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_critical_description`)