mixin experience-row
    .wfrp-experiencetable__row

        .wfrp-experiencetable__cell
            input.wfrp-settings__input(name=`attr_experience_desc`, type="text")

        .wfrp-experiencetable__cell--last
            input.wfrp-settings__input(name=`attr_experience_amount`, type="number")