mixin npc-additional-skill()    
    .wfrp-npcsettings__skill
        input.wfrp-npcsettings__input(data-i18n-placeholder="Skill Name (Specialisation)", name=`attr_npc_skillname`, type="text")
        input.wfrp-npcsettings__input(name=`attr_npc_skill`, type="number")

mixin npc-additional-skill-display() 
        button.wfrp-npcskill(type="roll", value=rolls.npc_repeating_skill)
            input(name=`attr_npc_skill`, type="hidden")
            input(name=`attr_npc_skillname`, type="hidden")
            .wfrp-npcskill__title
                span(name=`attr_npc_skillname`)
            .wfrp-npcskill__value
                span(name=`attr_npc_skill`)