mixin npc-trait-row()
    input(name=`attr_trait_settings`, type="hidden", value=1)
    .wfrp-npctrait__row

        .wfrp-npctrait__cell--settingstoggle
            +display-toggle(`trait_settings`, true)

        .wfrp-npctrait__cell--title
            button(type="roll", value=rolls.npctrait)
                span(name=`attr_trait_name`)
                span(name=`attr_trait_enabled_display`)

        .wfrp-npctrait__cell--description
            span(name=`attr_trait_description`)
            
        .wfrp-settings.control__hide--npctrait_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_trait_name`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Enabled`) 
                input.wfrp-settings__input(name=`attr_trait_enabled`, type="checkbox")
                input.wfrp-settings__input(name=`attr_trait_enabled_display`, type="hidden")
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_trait_description`)     