mixin npc-attack-row()
    input(name=`attr_attack_settings`, type="hidden", value=1)
    .wfrp-npcattack__row

        .wfrp-npcattack__cell--settingstoggle
            +display-toggle(`attack_settings`, true)

        .wfrp-npcattack__cell--title
            button(name=`roll_${attr}`, type="roll", value=rolls.npcattack)
                span(name=`attr_attack_name`)

        .wfrp-npcattack__cell
            span.wfrp-npcattack__label(data-i18n="Attacks")
            span(name=`attr_attack_attacks`)

        .wfrp-npcattack__cell
            span.wfrp-npcattack__label(data-i18n="Target")
            span(name=`attr_attack_target`)
            input.wfrp-settings__input(name=`attr_attack_target`, type="hidden", value="0")

        .wfrp-npcattack__cell
            span.wfrp-npcattack__label(data-i18n="Range")
            span(name=`attr_attack_range`)

        .wfrp-npcattack__cell
            span.wfrp-npcattack__label(data-i18n="Damage")
            span(name=`attr_attack_damage`)

        .wfrp-npcattack__cell--description
            span(name=`attr_attack_description`)
            
        .wfrp-settings.control__hide--npcattack_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_attack_name`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Target`) 
                select.wfrp-settings__input(name=`attr_attack_type`)
                    option(data-i18n="Weapon Skill")
                    option(data-i18n="Ballistic Skill")
                    option(data-i18n="Melee (Basic)")
                    option(data-i18n="Melee (Brawling)")
                    option(data-i18n="Melee (Cavalry)")
                    option(data-i18n="Melee (Fencing)")
                    option(data-i18n="Melee (Flail)")
                    option(data-i18n="Melee (Parry)")
                    option(data-i18n="Melee (Polearm)")
                    option(data-i18n="Melee (Two-Handed)")
                    option(data-i18n="Ranged (Blackpowder)")
                    option(data-i18n="Ranged (Bow)")
                    option(data-i18n="Ranged (Crossbow)")
                    option(data-i18n="Ranged (Engineering)")
                    option(data-i18n="Ranged (Entangling)")
                    option(data-i18n="Ranged (Explosives)")
                    option(data-i18n="Ranged (Sling)")
                    option(data-i18n="Ranged (Throwing)")
                    option(data-i18n="Custom")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Range`) 
                input.wfrp-settings__input(name=`attr_attack_range`, type="text", value="0")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Attacks`) 
                input.wfrp-settings__input(name=`attr_attack_attacks`, type="number", value="0")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Damage`) 
                input.wfrp-settings__input(name=`attr_attack_damage`, type="text", value="0")
        
            input(name=`attr_attack_type`, type="hidden")
            .wfrp-settings__row.control__hide--Custom
                .wfrp-settings__label(data-i18n=`Custom`) 
                input.wfrp-settings__input(name=`attr_attack_target`, type="number")
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_attack_description`)