mixin npc-talent-row
    input(name=`attr_talent_settings`, type="hidden", value=1)
    .wfrp-npctalent__row

        .wfrp-npctalent__cell--settingstoggle
            +display-toggle(`talent_settings`, true)

        .wfrp-npctalent__cell--title
            button(type="roll", value=rolls.npctalent)
                span(name=`attr_talent_name`)
                span(name=`attr_talent_enabled_display`)
                span.wfrp-npctalent__ranks(name=`attr_talent_ranks`)

        .wfrp-npctalent__cell--description
            span(name=`attr_talent_description`)
            
        .wfrp-settings.control__hide--npctalent_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_talent_name`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Ranks`) 
                input.wfrp-settings__input(name=`attr_talent_ranks`, type="number")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Max`) 
                input.wfrp-settings__input(name=`attr_talent_ranks_max`, type="number")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Modifiers`) 
                input.wfrp-settings__input(name=`attr_talent_mods`, type="text") 
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_talent_description`)     