mixin skill-row(char)
    input(name=`attr_specialisation_settings`, type="hidden", value=1)
    .wfrp-skilltable__row--specialisation

        .wfrp-skilltable__cell--settingstoggle
            +display-toggle(`specialisation_settings`, true)

        .wfrp-skilltable__cell
            button.wfrp-skilltable__roll(type="roll", value=rolls.repeating_skill)
                span(name="attr_specialisation_name")

        .wfrp-skilltable__cell
            +characteristic-select(char, `specialisation_characteristic`, true)

        .wfrp-skilltable__cell(class=`control__hide--${c_attr}`)
            input(name=`attr_specialisation_char`, type="hidden", value="0")
            span.display(name=`attr_specialisation_char`)

        .wfrp-skilltable__cell
            input(name=`attr_specialisation_advances`, type="hidden", value=0)
            span.display(name=`attr_specialisation_advances`)

        .wfrp-skilltable__cell--last.wfrp-skilltable__cell--highlight
            input(name=`attr_specialisation`, type="hidden", value=0)
            span.display(name=`attr_specialisation`)

        .wfrp-skilltable_row.wfrp-settings(class=`control__hide--settings`)
                
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__checkbox(data-i18n-placeholder="Specialisation Name", name=`attr_specialisation_name`, type="text")
                
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Modifier`) 
                input.wfrp-settings__checkbox(name=`attr_specialisation_modifier`, type="number", value=0)
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Roll Notes`) 
                input.wfrp-settings__input(name=`attr_specialisation_notes`, type="text") 