mixin spell-row
    input(name=`attr_spell_settings`, type="hidden", value=1)
    .wfrp-spelltable__row

        .wfrp-spelltable__cell--settingstoggle
            +display-toggle(`spell_settings`, true)

        .wfrp-spelltable__cell
            button(type="roll", value=rolls.spell)
                span(name=`attr_spell_name`)

        .wfrp-spelltable__cell
            span(name=`attr_spell_deity`)
            span(name=`attr_spell_lore`)

        .wfrp-spelltable__cell
            span(name=`attr_spell_display`)
            input(name=`attr_spell_total`, type="hidden")
            input(name=`attr_spell_display`, type="hidden")

        .wfrp-spelltable__cell
            span(name=`attr_spell_cn`)

        .wfrp-spelltable__cell
            span(name=`attr_spell_range`)

        .wfrp-spelltable__cell
            span(name=`attr_spell_target`)

        .wfrp-spelltable__cell--last
            span(name=`attr_spell_duration`)
            
        .wfrp-spelltable__cell.wfrp-settings.control__hide--spell_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_spell_name`, type="text")
        
            input(name=`attr_spell_type`, type="hidden", value="Spell")
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Type`) 
                select.wfrp-settings__input(name=`attr_spell_type`)
                    option(value="Spell", data-i18n="Spell")
                    option(value="Prayer", data-i18n="Prayer")
        
            .wfrp-settings__row.control__hide--Spell
                .wfrp-settings__label(data-i18n=`Lore`) 
                input.wfrp-settings__input(name=`attr_spell_lore`, type="text")
        
            .wfrp-settings__row.control__hide--Prayer
                .wfrp-settings__label(data-i18n=`Deity`) 
                input.wfrp-settings__input(name=`attr_spell_deity`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`CN`) 
                input.wfrp-settings__input(name=`attr_spell_cn`, type="number")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Range`) 
                input.wfrp-settings__input(name=`attr_spell_range`, type="text")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Target`) 
                input.wfrp-settings__input(name=`attr_spell_target`, type="text")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Duration`) 
                input.wfrp-settings__input(name=`attr_spell_duration`, type="text")
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_spell_description`)
