mixin talent-row
    input(name=`attr_talent_settings`, type="hidden", value=1)
    .wfrp-talenttable__row

        .wfrp-talenttable__cell--settingstoggle
            +display-toggle(`talent_settings`, true)

        .wfrp-talenttable__cell
            +trait-toggle(`talent`, `attr_talent_name`)

        .wfrp-talenttable__cell
            span(name=`attr_talent_ranks`)

        .wfrp-talenttable__cell--vocalise
            button.wfrp-vocalise(type="roll", value=rolls.repeating.talent) w
            
        input(name="attr_talent_toggle", type="hidden")
        .wfrp-talenttable__cell--description
            span(name=`attr_talent_description`)
            
        .wfrp-talenttable__row.wfrp-settings.control__hide--talent_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_talent_name`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Ranks`) 
                input.wfrp-settings__input(name=`attr_talent_ranks`, type="number")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Max`) 
                input.wfrp-settings__input(name=`attr_talent_ranks_max`, type="number")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Modifiers`) 
                input.wfrp-settings__input(name=`attr_talent_mods`, type="text") 

            .wfrp-settings__row--span.control__hide--skill
                .wfrp-settings__label(data-i18n=`Skill`) 
                select.wfrp-settings__select.control__select(name="attr_talent_test_skill")
                    option(data-i18n="None", value="none") 
                    each skill in [...skills.basic, ...skills.advanced]
                        option(data-i18n=skill.name, value=skill.name.toLowerCase().replace(/ /g,"_"))
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_talent_description`)     