mixin weapon-row 
    input(name=`attr_weapon_settings`, type="hidden", value=1)
    .wfrp-weapontable__row

        .wfrp-weapontable__cell--settingstoggle
            +display-toggle(`weapon_settings`, true)

        .wfrp-weapontable__cell
            button(name=`roll_${attr}`, type="roll", value=rolls.attack)
                span(name=`attr_weapon_name`)

        .wfrp-weapontable__cell
            span(name=`attr_weapon_group`)

        .wfrp-weapontable__cell
            span(name=`attr_weapon_target_display`)
            input.wfrp-settings__input(name=`attr_weapon_target_display`, type="hidden", value="0")
            input.wfrp-settings__input(name=`attr_weapon_target`, type="hidden", value="@{basic}")

        .wfrp-weapontable__cell
            span(name=`attr_weapon_range`)

        .wfrp-weapontable__cell
            span(name=`attr_weapon_damage_flat`)
            input(name=`attr_weapon_damage_bonus`, type="hidden")
            span(data-i18n="+SB")

        .wfrp-weapontable__cell--last
            span(name=`attr_weapon_qualities`)
            
        .wfrp-weapontable__row.wfrp-settings.control__hide--weapon_settings
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Name`) 
                input.wfrp-settings__input(name=`attr_weapon_name`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Group`) 
                select.wfrp-settings__input(name=`attr_weapon_group`)
                    - 
                        const all_specs = [...skills.basic[18].specialisations, ...skills.advanced[11].specialisations]
                    each specialisation in all_specs
                        option(value=specialisation, data-i18n=specialisation)
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Range`) 
                input.wfrp-settings__input(name=`attr_weapon_range`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Damage`) 
                .wfrp-settings__split--2
                    input.wfrp-settings__input(name=`attr_weapon_damage_flat`, type="text")
                    input.wfrp-settings__input(name=`attr_weapon_damage_bonus`, type="checkbox")
                    input.wfrp-settings__input(name=`attr_weapon_damage`, type="hidden")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Modifiers`) 
                input.wfrp-settings__input(name=`attr_weapon_mods`, type="text")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Qualities`) 
                input.wfrp-settings__input(name=`attr_weapon_qualities`, type="text")
        
            .wfrp-settings__row
                .wfrp-settings__label(data-i18n=`Enc.`) 
                input.wfrp-settings__input(name=`attr_weapon_enc`, type="number")
        
            .wfrp-settings__row--span
                .wfrp-settings__label(data-i18n=`Notes`) 
                input.wfrp-settings__input(name=`attr_weapon_notes`, type="text")
                            
            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Description`) 
                textarea.wfrp-settings__textarea(name=`attr_weapon_description`)