.sheet-theme,
.sheet-rolltemplate-theme {
  --sheet-bg-white: white;
  --sheet-main-color: #17405b;
  --sheet-secondary-color: #c5cfd6;
  --sheet-color-beige: #f7f3e7;
}

.sheet-main {
  display: grid;
  grid-gap: 8px;
  grid-template-rows: auto 45px 250px 100px 125px 125px 75px auto auto 306px auto auto;
  grid-template-columns: 13% 30% 50%;
}

.sheet-descriptions {
  grid-row: 2 / 4;
  grid-column: 3;
}

.sheet-defense {
  grid-row: 4;
  grid-column: 2;
}

.sheet-personality {
  grid-row: 7 / 10;
  grid-column: 3;
}

.sheet-attributes {
  grid-column: 1;
  grid-row: 2 / 8;
}

.sheet-proficiency {
  grid-row: 2;
  grid-column: 2;
}

.sheet-saving-throw {
  grid-column: 2;
  grid-row: 3;
}

.sheet-spell {
  grid-row: 10;
  grid-column: 3;
}

.sheet-spell-slots {
  grid-row: 11;
  grid-column: 3;
}

.sheet-tricks {
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 10 / 12;
}

.sheet-logo {
  grid-column: 1 / 3;
  grid-row: 1;
}

.sheet-rucksack {
  grid-column: 1 / 3;
  grid-row: 8 / 10;
}

.sheet-info {
  grid-column: 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  float: right;
}

.sheet-death-save-failure {
  grid-column: 2;
  grid-row: 7;
}

.sheet-skills {
  grid-row: 4 / 7;
  grid-column: 3;
}

.sheet-stamina-dice {
  grid-row: 6;
  grid-column: 2;
}

.sheet-stamina-points {
  grid-row: 5;
  grid-column: 2;
}

.sheet-legal {
  grid-row: 12;
  grid-column: 1 / 4;
}

/* Unfortunately it is not possible to iterate over list of partials, so they have to be included manually :( */

.sheet-table {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.sheet-table-header {
  color: var(--sheet-bg-white);
  background-color: var(--sheet-main-color);
  position: sticky;
  top: 0;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.sheet-table-row {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.sheet-table-col {
  flex: 1;
}

.sheet-table-col::after {
  content: "";
  white-space: pre;
}

.sheet-table-col-no-grow {
  flex-grow: 0;
}

.sheet-table-col-small {
  min-width: 7%;
}

.sheet-table-col-medium {
  min-width: 15%;
}

.sheet-table-col-large {
  min-width: 25%;
}

.sheet-stripped .sheet-table-row:nth-child(even) {
  background-color: var(--sheet-secondary-color);
}

.sheet-stripped .sheet-table-row:nth-child(odd) {
  background-color: var(--sheet-bg-white);
}

.sheet-proficiency-element {
  display: inline-flex;
  height: 35px;
  width: 100%;
}

.sheet-proficiency-element h4 {
  align-self: center;
  width: inherit;
  text-align: center;
}

.sheet-input-proficiency {
  left: -10px;
  top: -4px;
  text-align: center;
  height: 39px !important;
  width: 50.5px !important;
  border-radius: 50px;
  position: relative;
}

.sheet-center {
  padding-right: 0;
  text-align: center !important;
  justify-self: center;
  align-self: center;
}

.sheet-text-right {
  text-align: right;
}

.sheet-right {
  float: right;
}

.sheet-left {
  float: left;
}

.sheet-content {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.sheet-flex {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sheet-grid-3x2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 5em 7em 5em;
  grid-template-rows: 5em 3em;
  position: relative;
}

.sheet-heraldic-shield {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  position: relative;
  width: 100%;
  height: 90%;
  background-color: transparent;
  border-radius: 0 0 70% 70%;
  display: inline-block;
}

.sheet-heraldic-shield::before {
  border-left: 1px solid black;
}

.sheet-heraldic-shield::before,
.sheet-heraldic-shield::after {
  position: absolute;
  margin-top: 50%;
  content: "";
  left: 50%;
  top: 0;
  width: 50%;
  height: 53%;
  background: transparent;
  border-radius: 10% 10% 0 0 / 40% 40% 0 0;
  -webkit-transform: rotate(-61.5deg);
  -moz-transform: rotate(-61.5deg);
  -ms-transform: rotate(-61.5deg);
  -o-transform: rotate(-61.5deg);
  transform: rotate(-61.5deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.sheet-heraldic-shield::after {
  border-right: 1px solid black;
  background-color: transparent;
  left: 0;
  -webkit-transform: rotate(61.5deg);
  -moz-transform: rotate(61.5deg);
  -ms-transform: rotate(61.5deg);
  -o-transform: rotate(61.5deg);
  transform: rotate(61.5deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sheet-saving-throw-component {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 40px 30px 50px 70px;
  grid-template-rows: repeat(6, 1fr);
  position: relative;
  left: 20px;
  top: 5px;
}

.sheet-inline-checkboxes {
  display: inline-flex;
  position: relative;
  top: -18px;
  left: 21px;
}

.sheet-checkbox-container {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.sheet-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.sheet-checkmark {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid black;
}

.sheet-checkbox-container:first-of-type {
  padding-right: 80px;
}

.sheet-checkbox-container:last-of-type {
  padding-left: 80px;
}

/* On mouse-over, add a grey background color */
.sheet-checkbox-container:hover input ~ .sheet-checkmark {
  background-color: var(--sheet-secondary-color);
}

/* When the radio button is checked, add a blue background */
.sheet-checkbox-container input:checked ~ .sheet-checkmark {
  background-color: var(--sheet-secondary-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.sheet-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.sheet-checkbox-container .sheet-checkmark::after ~ input:checked {
  display: block;
}

/* Style the indicator (dot/circle) */
.sheet-checkbox-container .sheet-checkmark::after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
}

.sheet-current-stamina {
  width: 40%;
  padding-left: 10px;
}

.sheet-max-stamina {
  width: 40%;
}

.sheet-spell-slots-component {
  top: 5px;
  position: relative;
}

input {
  border: 1px solid black;
  margin: 0.1em;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  text-align: center;
}

.sheet-input {
  max-width: 100%;
  float: right;
  clear: both;
}

.sheet-input-small {
  width: 30% !important;
  margin-top: 0;
  padding-bottom: 1px;
}

.sheet-input-medium {
  width: 50%;
}

.sheet-input-top {
  margin-top: 5px;
}

.sheet-input-large {
  width: 70% !important;
}

.sheet-input-xlarge {
  width: 90%;
}

.sheet-input-huge {
  width: 95%;
}

.sheet-input-transparent {
  background-color: transparent;
}

.sheet-input-line {
  border-right: none;
  border-left: none;
  border-top: none;
  flex: 1;
}

.sheet-input-no-border {
  border: none;
  margin-left: 0;
  margin-right: 0;
}

.sheet-input-divider {
  transform: rotate(-65deg);
  width: 7%;
  height: 1px;
  background: black;
  bottom: -15px;
  position: relative;
}

.sheet-double-input-left {
  width: 45%;
  position: relative;
  border: 1px solid black;
  border-right: none;
  margin-right: -20px;
}

.sheet-double-input-right {
  width: 45%;
  position: relative;
  border: 1px solid black;
  border-left: none;
  margin-left: -20px;
}

.sheet-double-input-left > input,
.sheet-double-input-right > input {
  width: 80% !important;
  position: relative;
}

.sheet-container-100 {
  position: relative;
  width: 100%;
}

.sheet-container-42 {
  position: relative;
  width: 42%;
}

.sheet-container-height-95 {
  height: 95%;
}

.sheet-container-inherited {
  width: inherit;
}

.sheet-center-grid {
  justify-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.sheet-box {
  width: 65px;
  height: 65px;
}

.sheet-line {
  width: 80%;
  border-bottom: 1px solid black;
  position: relative;
  top: 8%;
  left: 7px;
}

.sheet-initiative-label {
  position: relative;
  left: 5px;
}

.sheet-initiative-dice {
  position: relative;
  top: 7px;
  height: 20px;
}

.sheet-speed-value {
  top: 5px;
  position: relative;
  padding: 0;
}

.sheet-shield {
  border: 1px solid black;
  width: 70px;
  height: 75px;
  display: block;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sheet-inline-items {
  display: inline-flex;
}

.sheet-shield-title {
  text-align: center;
  border-bottom: 1px solid black;
  width: inherit;
}

.sheet-shield-title > label {
  margin-left: 0;
  color: var(--sheet-bg-white);
}

.sheet-shield-mod {
  position: absolute;
  justify-content: center;
  text-align: center;
  display: flex;
  bottom: -10px; /* metade da altura */
  left: 0;
  height: 20px;
  width: 100%;
}

.sheet-shield-mod-input {
  text-align: right;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  margin-left: 9px;
  margin-top: -7px;
}

.sheet-skills-table {
  width: 100%;
  display: inline-block;
  overflow-y: auto;
}

.sheet-skills-table td {
  padding: 1px;
}

.sheet-skills-table-head th {
  background-color: var(--sheet-main-color);
  color: var(--sheet-bg-white);
}

.sheet-skills-table-head th:first-child {
  border-top-left-radius: 10px;
}

.sheet-skills-table-head th:last-child {
  border-top-right-radius: 10px;
}

.sheet-rounded-border {
  border: 1px solid black;
  border-radius: 10px;
}

.sheet-textarea {
  padding-left: 13px;
  width: 100%;
  height: 88%;
  box-sizing: border-box;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: 10px;
  background-attachment: local;
  background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
}

.sheet-textarea-traits {
  height: 75%;
}

.sheet-textarea-skills {
  height: 79%;
}

.sheet-textarea-rucksack {
  height: 84%;
}

.sheet-tricks > textarea {
  height: 88%;
}

.sheet-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.sheet-header,
.sheet-shield-title {
  background-color: var(--sheet-main-color);
  color: var(--sheet-bg-white);
}

.sheet-header h3,
.sheet-header label {
  color: var(--sheet-bg-white);
}

.sheet-attributes > input {
  height: 80%;
}

.sheet-grid-1x3 {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 10em);
}

.sheet-grid-2x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.sheet-grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.sheet-grid-1x6 {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.sheet-text-small {
  font-size: 11px;
}

.sheet-text-medium {
  font-size: 20px;
}

.sheet-text-huge {
  font-size: 40px;
}

.sheet-d20-icon {
  background: var(--sheet-bg-white);
  font-family: 'dicefontd20'; /* stylelint-disable-line */
}

.sheet-rolltemplate-attack,
.sheet-rolltemplate-basic,
.sheet-rolltemplate-description {
  background-color: #fff;
}

.sheet-rolltemplate-attack p,
.sheet-rolltemplate-attack h4,
.sheet-rolltemplate-basic p,
.sheet-rolltemplate-basic h4,
.sheet-rolltemplate-description p,
.sheet-rolltemplate-description h4 {
  padding-left: 5px;
  padding-top: 5px;
}

.sheet-rolltemplate-description .sheet-rollbox-container,
.sheet-rolltemplate-basic .sheet-rollbox-container,
.sheet-rolltemplate-attack .sheet-rollbox-container {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.sheet-rolltemplate-basic .sheet-rollbox-header,
.sheet-rolltemplate-description .sheet-rollbox-header,
.sheet-rolltemplate-attack .sheet-rollbox-header {
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-basic .sheet-rollbox-header h4,
.sheet-rolltemplate-attack .sheet-rollbox-header h4,
.sheet-rolltemplate-description .sheet-rollbox-header h4 {
  color: white;
  background-color: var(--sheet-main-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sheet-rolltemplate-attack .sheet-stripped p:nth-child(even) {
  background-color: var(--sheet-secondary-color);
}

.sheet-rolltemplate-attack .sheet-stripped p:nth-child(odd) {
  background-color: var(--sheet-bg-white);
}
