@use '_mixinsandplaceholders';

// .fill-left {
//   display: flex;
//   margin: 2rem;
//   gap: 10px;
// }

// .fill-left__radio {
//   order: 1;
//   border: 1px solid black;
//   border-radius: 50%;
//   background: grey;
//   height: 2rem;
//   width: 2rem;
//   appearance: none;
//   -webkit-appearance: none;
//   cursor: pointer;
//   z-index: 1;
// }

// .fill-left__radio:checked {
//   opacity: 0;
//   z-index: 0;
//   position: absolute;
// }

// .fill-left__radio:checked ~ .fill-left__radio {
//   order: 3;
//   background-color: transparent;
// }

// .fill-left__radio.radio-clearer {
//   order: 2;
//   background-color: black;
// }


@each $value in 2,3,4,5,6,7,8 {
    .resource div.resource_#{$value} {
        display: none;
    }
    .resource .resource-switch[value="#{$value}"] ~ div.resource_#{$value} {
        display: block;
    }
}

input[type=checkbox].magenta {
    accent-color: var(--magenta);
}


// .resource-radio {
//     // -webkit-appearance: none;
//     position: absolute;
//     // opacity: 0;
//     width: 18px;
//     height: 18px;
//     cursor: pointer;
//     z-index: 10;
//     font-weight: normal !important;
//     margin: 3px;
//     padding: 0.5em;
    
//     &span::before {
//         border: solid 2px var(--cp-off-black);
//         line-height: 18px;
//         text-align: middle;
//         display: inline-block;
//         vertical-align: middle;

//         -moz-box-shadow: 0 0 0px var(--cp-black);
//         -webkit-box-shadow: 0 0 0px var(--cp-black);
//         box-shadow: 0 0 0px var(--cp-black);

//         font-family: "Pictos";
//         content: "3";
//         color: var(--cp-white);
//         font-size: 20px;
//         background: transparent;
//         background-color: var(--cp-purple);
//         width: 18px;
//         height: 18px;
//         z-index: 11;

//         -webkit-font-smoothing: antialiased;
//         -moz-border-radius: 10%;
//         -webkit-border-radius: 10%;
//         border-radius: 10%;
//         padding: 3px;
//     }

//     &:hover ~ input[type="radio"] + span::before {
//         content: "";
//         background-color: var(--cp-purple-half);

//         font-family: "Pictos";
//         content: "*";
//         color: var(--cp-white);
//     }

//     &:checked::before ~ input[type="radio"] + span::before {
//         content: "";
//         background: transparent;
//         background-color: none;
//     }   
// }

// // input[type="radio"].cb-rad-sml + span::before {
// //     line-height: 14px !important;
// //     width: 14px !important;
// //     height: 14px !important;
// //     font-size: 16px !important;
// // }

// // input[type="radio"].cb-rad-smlr + span::before {
// //     line-height: 12px !important;
// //     width: 12px !important;
// //     height: 12px !important;
// //     font-size: 15px !important;
// // }

// input.checkbox-radio-zero {
//     position: relative;
// }

// input.checkbox-radio-zero:checked + span::before {
//     opacity: 0;
// }

// input.checkbox-radio-zero:hover + span::before {
//     opacity: 0.25;
//     font-size: 25px;
//     font-family: "Pictos";
//     content: "*";
//     background: none;
//     background-color: none;
//     border-color: transparent;
//     color: var(--cp-black);
//     top: 2px;
//     left: 2px;
// }

// input.checkbox-radio-zero + span::before {
//     opacity: 0;
// }