<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_ammo_toggle_var">
  <input type="checkbox" name="attr_ammo_toggle" value="@{ammo_toggle_var}" class="attack-toggle">
  <div class="bold italic mar-r-sm"><span data-i18n="AMMO"></span>.</div>
  <div class="attack-toggle col-35 pad-l-sm ad-r-sm">
    <input type="text" name="attr_ammo_field_name">
    <div class="small-label center" data-i18n="FIELD"></div>
  </div>
  <div class="attack-toggle col-12 pad-l-sm">
    <input type="number" name="attr_ammo_used" value="1" step="1">
    <div class="small-label center" data-i18n="USED"></div>
  </div>
</div>
