<input type="hidden" name="attr_attack_formula">
<div class="shaped-row vert-top mar-t-sm">
  <input type="checkbox" name="attr_roll_toggle" value="{{vs_ac=1}} @{roll_info} {{roll1=[[@{shaped_d20}cs>@{crit_range} + @{attack_formula}]]}} @{roll_setting}cs>@{crit_range} + @{attack_formula}]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}" class="attack-toggle" checked>
  <div class="bold italic mar-r-sm"><span data-i18n="ATTACK"></span>.</div>
  <div class="attack-toggle col-08 center pad-r-sm">
    <input type="checkbox" name="attr_proficiency" class="small-checkbox" checked>
    <div class="small-label" data-i18n="PROF"></div>
  </div>
  <div class="attack-toggle col-10 center pad-r-sm">
    <select name="attr_attack_ability">
      <option value="0">&#8212;</option>
      <option value="finesse" data-i18n="FINESSE"></option>
      <option value="strength" data-i18n="STR"></option>
      <option value="dexterity" data-i18n="DEX"></option>
      <option value="constitution" data-i18n="CON"></option>
      <option value="intelligence" data-i18n="INT"></option>
      <option value="wisdom" data-i18n="WIS"></option>
      <option value="charisma" data-i18n="CHA"></option>
    </select>
  </div>
  <div class="attack-toggle">+</div>
  <div class="attack-toggle col-12 center pad-r-sm">
    <input type="number" name="attr_attack_bonus" class="center">
  </div>
  <div class="attack-toggle 4-em center pad-l-sm">
    <input type="number" name="attr_crit_range" class="center" value="20" step="1" min="1" max="20">
    <div class="small-label" data-i18n="CRIT_RANGE"></div>
  </div>
</div>
