<input type="hidden" name="attr_damage_formula">
<input type="hidden" name="attr_damage_crit_formula">

<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_damage_toggle_var" value="{{damage=[[@{damage_formula}]]}} {{damage_type=@{damage_type}}} {{crit_damage=[[0d0 + @{damage_crit}[crit damage] @{damage_crit_formula}]]}}">
  <input type="checkbox" name="attr_damage_toggle" value="@{damage_toggle_var}" class="attack-toggle">

  <div class="bold italic mar-r-sm" data-i18n="DAMAGE">{{'DAMAGE' | translate}}.</div>
  <div class="attack-toggle col-12 center">
    <input type="text" name="attr_damage" class="center" value="0" accept="Damage">
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-14 center">
    <select name="attr_damage_ability">
      <option value="0">&#8212;</option>
      <option value="@{finesse_mod}" data-i18n="FINESSE">Finesse</option>
      <option value="@{strength_mod}" data-i18n="STR" selected>Str</option>
      <option value="@{dexterity_mod}" data-i18n="DEX">Dex</option>
      <option value="@{constitution_mod}" data-i18n="CON">Con</option>
      <option value="@{intelligence_mod}" data-i18n="INT">Int</option>
      <option value="@{wisdom_mod}" data-i18n="WIS">Wis</option>
      <option value="@{charisma_mod}" data-i18n="CHA">Cha</option>
    </select>
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-10 center pad-r-sm">
    <input type="number" name="attr_damage_bonus" value="0">
  </div>
  <div class="attack-toggle col-18 center pad-r-sm">
    <input type="text" name="attr_damage_type" class="center" placeholder="slashing" accept="Damage Type">
  </div>
  <div class="attack-toggle col-18 center pad-l-sm">
    <input type="text" name="attr_damage_crit" class="center">
    <div class="small-label relative">
      <span data-i18n="CRIT">{{'CRIT' | translate}}</span>
      <div class="tooltip-position-wrapper">
        <div class="tooltip">
          <div class="tooltip-toggle-text center">?</div>
          <div class="tooltip-content-left small-label" data-i18n="CRIT_DAMAGE_TOOLTIP">{{'CRIT_DAMAGE_TOOLTIP' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
