<input type="hidden" name="attr_damage_formula">
<input type="hidden" name="attr_damage_crit_formula">

<div class="shaped-row vert-top mar-t-sm">
  <input type="checkbox" name="attr_damage_toggle" value="{{damage=[[@{damage_formula}]]}} {{damage_type=@{damage_type}}} {{crit_damage=[[0d0 + @{damage_crit}[crit damage] @{damage_crit_formula}]]}}" class="attack-toggle">

  <div class="bold italic"><span data-i18n="DAMAGE"></span>.</div>
  <div class="attack-toggle 2-rem center">
    <input type="text" name="attr_damage" class="center" accept="Damage" placeholder="1d6">
  </div>
  <div class="attack-toggle">+</div>
  <div class="attack-toggle 2-rem center">
    <select name="attr_damage_ability">
      <option value="0">&#8212;</option>
      <option value="finesse" data-i18n="FINESSE"></option>
      <option value="strength" data-i18n="STR"></option>
      <option value="dexterity" data-i18n="DEX"></option>
      <option value="constitution" data-i18n="CON"></option>
      <option value="intelligence" data-i18n="INT"></option>
      <option value="wisdom" data-i18n="WIS"></option>
      <option value="charisma" data-i18n="CHA"></option>
    </select>
  </div>
  <div class="attack-toggle">+</div>
  <div class="attack-toggle 2-rem center pad-r-sm">
    <input type="number" name="attr_damage_bonus">
  </div>
  <div class="attack-toggle 3-rem center pad-r-sm">
    <input type="text" name="attr_damage_type" class="center" data-i18n-placeholder="{$ damageTypePlaceholder $}" accept="Damage Type">
  </div>
  <div class="attack-toggle 3-rem center pad-l-sm">
    <input type="text" name="attr_damage_crit" class="center">
    <div class="small-label relative">
      <span data-i18n="CRIT"></span>
      <div class="tooltip-position-wrapper">
        <div class="tooltip">
          <div class="tooltip-toggle-text center">?</div>
          <div class="tooltip-content-left small-label" data-i18n="CRIT_DAMAGE_TOOLTIP"></div>
        </div>
      </div>
    </div>
  </div>
</div>
