<div class="shaped-row vert-top mar-t-sm">
  <input type="checkbox" name="attr_extras_toggle" value="{{emote=@{emote}}} {{freetext=@{freetext}}} @{freeform}" class="attack-toggle">

  <div class="bold italic mar-r-sm"><span data-i18n="EXTRAS"></span>.</div>
  <div class="attack-toggle flex-grow center mar-b-sm">
    <textarea class="one-line-textarea" name="attr_emote"></textarea>
    <div class="small-label" data-i18n="EMOTE"></div>
  </div>
  <div class="attack-toggle col-100 center">
    <textarea name="attr_freetext" class="two-line-textarea"></textarea>
    <div class="small-label" data-i18n="FREETEXT"></div>
  </div>
  <div class="attack-toggle col-100 center mar-t-sm">
    <textarea name="attr_freeform" class="one-line-textarea"></textarea>
    <div class="small-label" data-i18n="FREEFORM"></div>
  </div>
</div>