<input type="hidden" name="attr_heal_formula">
<div class="shaped-row vert-center mar-t-sm">
  <input type="checkbox" name="attr_heal_toggle" value="{{heal=[[@{heal_formula}]]}}" class="attack-toggle">
  <div class="bold italic"><span data-i18n="HEAL"></span>.</div>
  <div class="attack-toggle 2-rem">
    <input type="text" name="attr_heal" class="center" accept="Healing" placeholder="1d6">
  </div>
  <div class="attack-toggle pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle 2-rem">
    <select name="attr_heal_ability">
      <option value="0">&#8212;</option>
      <option value="strength" data-i18n="STR"></option>
      <option value="dexterity" data-i18n="DEX"></option>
      <option value="constitution" data-i18n="CON"></option>
      <option value="intelligence" data-i18n="INT"></option>
      <option value="wisdom" data-i18n="WIS"></option>
      <option value="charisma" data-i18n="CHA"></option>
    </select>
  </div>
  <div class="attack-toggle pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle 2-rem center">
    <input type="number" name="attr_heal_bonus">
  </div>
  <div class="attack-toggle pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle center">
    <input type="checkbox" name="attr_heal_query_toggle" value="?{Heal Bonus Amount|}" class="toggle-query"><span class="toggle-query button" data-i18n="QUERY"></span>
  </div>
</div>