<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_higher_level_query">
  <input type="checkbox" name="attr_higher_level_toggle" value="{{cast_as_level=@{higher_level_query}}}" class="attack-toggle">
  <div class="bold italic"><span data-i18n="HIGHER_LEVEL"></span>.</div>
  <div class="attack-toggle 2-rem center pad-r-sm">
    <input type="number" name="attr_higher_level_dice" class="no-spin" accept="Higher Spell Slot Dice" step="0.01">
    <div class="small-label" data-i18n="DICE"></div>
  </div>
  <div class="attack-toggle 2-rem border-right center pad-l-sm pad-r-sm">
    <select name="attr_higher_level_die" accept="Higher Spell Slot Die">
      <option value="d0">&#8212;</option>
      <option>d2</option>
      <option>d4</option>
      <option>d6</option>
      <option>d8</option>
      <option>d10</option>
      <option>d12</option>
      <option>d20</option>
    </select>
    <div class="small-label" data-i18n="DIE"></div>
  </div>
  <div class="attack-toggle 2-rem center pad-l-sm pad-r-sm">
    <input type="number" name="attr_second_higher_level_dice" class="no-spin" accept="Secondary Higher Spell Slot Dice" step="0.01">
    <div class="small-label"><span data-i18n="2ND"></span> <span data-i18n="DICE"></span></div>
  </div>
  <div class="attack-toggle 2-rem border-right center pad-l-sm pad-r-sm">
    <select name="attr_second_higher_level_die" accept="Secondary Higher Spell Slot Die">
      <option value="d0">&#8212;</option>
      <option>d2</option>
      <option>d4</option>
      <option>d6</option>
      <option>d8</option>
      <option>d10</option>
      <option>d12</option>
      <option>d20</option>
    </select>
    <div class="small-label"><span data-i18n="2ND"></span> <span data-i18n="DIE"></span></div>
  </div>
  <div class="attack-toggle 2-rem center pad-l-sm">
    <input type="text" name="attr_higher_level_heal" class="center" accept="Higher Level Healing">
    <div class="small-label" data-i18n="FLAT_HEAL"></div>
  </div>
</div>