<div class="2-rem center pad-l-md">
  <input type="number" name="attr_qty" class="no-spin" value="1" min="0" step="1">
  <div class="small-label center" data-i18n="QTY"></div>
</div>
<div class="center edit">&times;</div>
<div class="3-rem center edit">
  <input type="number" name="attr_weight" class="no-spin" value="0" step=".001" accept="Weight">
  <div class="small-label center" data-i18n="WEIGHT"></div>
</div>
<div class="center edit">=</div>
<div class="3-rem center">
  <span name="attr_weight_total" class="pseudo-input center border-bottom"></span>
  <div class="small-label center" data-i18n="WEIGHT"></div>
</div>