<div class="shaped-row vert-top mar-t-sm">
  <input type="checkbox" name="attr_saving_throw_toggle" value="{{saving_throw_condition=@{saving_throw_condition}}} {{saving_throw_dc=@{saving_throw_dc}}} {{saving_throw_vs_ability=@{saving_throw_vs_ability}}} {{saving_throw_failure=@{saving_throw_failure}}} {{saving_throw_success=@{saving_throw_success}}} {{targetName=@{attacks_vs_target_name}}}" class="attack-toggle">
  <div class="bold italic mar-r-sm"><span data-i18n="SAVING_THROW"></span>.</div>
  <div class="attack-toggle col-60">
    <textarea class="one-line-textarea" name="attr_saving_throw_condition" data-i18n-placeholder="IF_THE_TARGET_IS"></textarea>
  </div>
  <div class="attack-toggle col-100"></div>
  <div class="attack-toggle col-10 center">
    <select name="attr_saving_throw_ability">
      <option value="0">&#8212;</option>
      <option value="finesse" data-i18n="FINESSE"></option>
      <option value="strength" data-i18n="STR"></option>
      <option value="dexterity" data-i18n="DEX"></option>
      <option value="constitution" data-i18n="CON"></option>
      <option value="intelligence" data-i18n="INT"></option>
      <option value="wisdom" data-i18n="WIS"></option>
      <option value="charisma" data-i18n="CHA"></option>
    </select>
  </div>
  <div class="attack-toggle">+</div>
  <div class="attack-toggle col-12 center pad-r-sm">
    <input type="number" name="attr_saving_throw_bonus">
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">=</div>
  <div class="attack-toggle center pad-l-sm pad-r-sm" data-i18n="DC"></div>
  <div class="attack-toggle col-09 center">
    <input type="number" name="attr_saving_throw_dc" readonly>
  </div>
  <div class="attack-toggle col-20 center">
    <select name="attr_saving_throw_vs_ability">
      <option value="STRENGTH" data-i18n="STRENGTH" class="default-saving-throw"></option>
      <option value="DEXTERITY" data-i18n="DEXTERITY" class="default-saving-throw"></option>
      <option value="CONSTITUTION" data-i18n="CONSTITUTION" class="default-saving-throw"></option>
      <option value="INTELLIGENCE" data-i18n="INTELLIGENCE" class="default-saving-throw"></option>
      <option value="WISDOM" data-i18n="WISDOM" class="default-saving-throw"></option>
      <option value="CHARISMA" data-i18n="CHARISMA" class="default-saving-throw"></option>
      <option value="FORTITUDE" data-i18n="FORTITUDE" class="custom-saving-throw"></option>
      <option value="REFLEX" data-i18n="REFLEX" class="custom-saving-throw"></option>
      <option value="WILL" data-i18n="WILL" class="custom-saving-throw"></option>
    </select>
  </div>
  <div class="attack-toggle col-100"></div>
  <div class="attack-toggle col-50 pad-r-sm">
    <textarea class="one-line-textarea" name="attr_saving_throw_failure" data-i18n-placeholder="OR"></textarea>
  </div>
  <div class="attack-toggle col-50 pad-l-sm">
    <textarea class="one-line-textarea" name="attr_saving_throw_success" data-i18n-placeholder="HALF_DAMAGE" accept="Save Success"></textarea>
  </div>
</div>
