<div class="shaped-row vert-top mar-t-sm">
  <input type="hidden" name="attr_saving_throw_toggle_var" value="{{saving_throw_condition=@{saving_throw_condition}}} {{saving_throw_dc=@{saving_throw_dc}}} {{saving_throw_vs_ability=@{saving_throw_vs_ability}}} {{saving_throw_failure=@{saving_throw_failure}}} {{saving_throw_success=@{saving_throw_success}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="checkbox" name="attr_saving_throw_toggle" value="@{saving_throw_toggle_var}" class="attack-toggle">

  <div class="bold italic mar-r-sm"><span data-i18n="SAVING_THROW"></span>.</div>
  <div class="attack-toggle col-65">
    <textarea class="one-line-textarea" name="attr_saving_throw_condition" placeholder="if the target is.."></textarea>
  </div>
  <div class="attack-toggle col-100"></div>
  <div class="attack-toggle col-16 center">
    <select name="attr_saving_throw_ability">
      <option value="0">&#8212;</option>
      <option value="@{strength_mod}" data-i18n="STR">Str</option>
      <option value="@{dexterity_mod}" data-i18n="DEX">Dex</option>
      <option value="@{constitution_mod}" data-i18n="CON">Con</option>
      <option value="@{intelligence_mod}" data-i18n="INT">Int</option>
      <option value="@{wisdom_mod}" data-i18n="WIS">Wis</option>
      <option value="@{charisma_mod}" data-i18n="CHA">Cha</option>
    </select>
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">+</div>
  <div class="attack-toggle col-12 center pad-r-sm">
    <input type="number" name="attr_saving_throw_bonus" value="0">
  </div>
  <div class="attack-toggle center pad-l-sm pad-r-sm">=</div>
  <div class="attack-toggle center pad-l-sm pad-r-sm" data-i18n="DC"></div>
  <div class="attack-toggle col-09 center">
    <input type="number" name="attr_saving_throw_dc" readonly>
  </div>
  <div class="attack-toggle col-16 center">
    <select name="attr_saving_throw_vs_ability" accept="Save">
      <option value="@{strength_mod}" data-i18n="STR">Str</option>
      <option value="@{dexterity_mod}" data-i18n="DEX">Dex</option>
      <option value="@{constitution_mod}" data-i18n="CON">Con</option>
      <option value="@{intelligence_mod}" data-i18n="INT">Int</option>
      <option value="@{wisdom_mod}" data-i18n="WIS">Wis</option>
      <option value="@{charisma_mod}" data-i18n="CHA">Cha</option>
    </select>
  </div>
  <div class="attack-toggle col-100"></div>
  <div class="attack-toggle col-50 pad-r-sm">
    <textarea class="one-line-textarea" name="attr_saving_throw_failure" placeholder="or.."></textarea>
  </div>
  <div class="attack-toggle col-50 pad-l-sm">
    <textarea class="one-line-textarea" name="attr_saving_throw_success" placeholder="half damage" accept="Save Success"></textarea>
  </div>
</div>
