<div class="shaped-row vert-top mar-t-sm relative">
  <input type="checkbox" name="attr_special_effects_toggle" value="{{fx=@{type}-@{color} @{points_of_origin}}}" class="attack-toggle">

  <div class="bold italic mar-r-sm"><span data-i18n="SPECIAL_EFFECTS"></span>.</div>
  <div class="attack-toggle col-15 center mar-b-sm">
    <input type="text" name="attr_type" class="center" placeholder="explode">
    <div class="small-label" data-i18n="TYPE"></div>
  </div>
  <div class="attack-toggle col-15 center pad-l-sm mar-b-sm">
    <input type="text" name="attr_color" class="center" data-i18n-placeholder="FIRE">
    <div class="small-label" data-i18n="COLOR"></div>
  </div>
  <div class="attack-toggle col-30 center pad-l-sm mar-b-sm">
    <select name="attr_points_of_origin">
      <option value="sourceToTarget @{target|token_id}" data-i18n="SOURCE_TO_TARGET"></option>
      <option value="target @{target|token_id}" data-i18n="TARGET"></option>
      <option value="source" data-i18n="SOURCE"></option>
      <option value="targetToSource @{target|token_id}" data-i18n="TARGET_TO_SOURCE"></option>
    </select>
    <div class="small-label" data-i18n="POINTS_OF_ORIGIN"></div>
  </div>
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">A</div>
      <div class="tooltip-content-left small-label" data-i18n="REQUIRES_API"></div>
    </div>
  </div>
</div>
