div.sheet-Null,
div.sheet-Elder,
div.sheet-Envoy,
div.sheet-Firebrand,
div.sheet-Hunter,
div.sheet-Machine,
div.sheet-Promethean,
div.sheet-Reaver,
div.sheet-Remnant,
div.sheet-Scavenger,
div.sheet-Seeker,
div.sheet-Sentinel,
div.sheet-Survivor,
div.sheet-Untamed,
div.sheet-Quick,
div.sheet-fNull,
div.sheet-Cultivators,
div.sheet-Enclave,
div.sheet-Merchants,
div.sheet-Lawgivers,
div.sheet-Titan,
div.sheet-Pioneers,
div.sheet-Servants,
div.sheet-Starfarers,
div.sheet-Hive,
div.sheet-Tyrants,
div.sheet-Uplifted
{
    display: none;
}

div.sheet-Family,
div.sheet-Character{
    display: none;
}

.sheet-hidden{
  display: none !important;
}

input.sheet-type-selector {
  width: 170px;
  height: 20px;
  display: none;
  opacity: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  position: absolute;
}
.sheet-3waybox:checked + .sheet-3waybox, {
  display: inline-block;
}

/* Styling of the span common to all states */
span.sheet-type-selector {
  border: solid 1px #a7a7a7;
  text-align: center;
  display: inline-block;
  background: #cccccc;
  color: #3f3f3f;
  width: 170px;
  height: 20px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: 600;
  cursor: pointer;
}
input.sheet-type-selector:hover ~ span {
  color: red;
}

/* Here you can style the span depending on what state is toggled */
input.sheet-type-selector[value="character"]:checked ~ span::before {
  content: "Character Mode";
}
input.sheet-type-selector[value="family"]:checked ~ span::before {
  content: "Family Mode";
}


input[type="radio"][value="0"]:checked ~ div.sheet-Null,
input[type="radio"][value="1"]:checked ~ div.sheet-Elder,
input[type="radio"][value="2"]:checked ~ div.sheet-Envoy,
input[type="radio"][value="3"]:checked ~ div.sheet-Firebrand,
input[type="radio"][value="4"]:checked ~ div.sheet-Hunter,
input[type="radio"][value="5"]:checked ~ div.sheet-Machine,
input[type="radio"][value="6"]:checked ~ div.sheet-Promethean,
input[type="radio"][value="7"]:checked ~ div.sheet-Reaver,
input[type="radio"][value="8"]:checked ~ div.sheet-Remnant,
input[type="radio"][value="9"]:checked ~ div.sheet-Scavenger,
input[type="radio"][value="10"]:checked ~ div.sheet-Seeker,
input[type="radio"][value="11"]:checked ~ div.sheet-Sentinel,
input[type="radio"][value="12"]:checked ~ div.sheet-Survivor,
input[type="radio"][value="13"]:checked ~ div.sheet-Untamed,
input[type="radio"][value="99"]:checked ~ div.sheet-Quick,

input[type="radio"][value="f0"]:checked ~ div.sheet-fNull,
input[type="radio"][value="f1"]:checked ~ div.sheet-Cultivators,
input[type="radio"][value="f2"]:checked ~  div.sheet-Enclave,
input[type="radio"][value="f3"]:checked ~  div.sheet-Merchants,
input[type="radio"][value="f4"]:checked ~  div.sheet-Lawgivers,
input[type="radio"][value="f5"]:checked ~  div.sheet-Titan,
input[type="radio"][value="f6"]:checked ~  div.sheet-Pioneers,
input[type="radio"][value="f7"]:checked ~  div.sheet-Servants,
input[type="radio"][value="f8"]:checked ~  div.sheet-Starfarers,
input[type="radio"][value="f9"]:checked ~  div.sheet-Hive,
input[type="radio"][value="f10"]:checked ~ div.sheet-Tyrants,
input[type="radio"][value="f11"]:checked ~ div.sheet-Uplifted,


input[type="radio"][value="family"]:checked ~ div.sheet-Family,
input[type="radio"][value="character"]:checked ~ div.sheet-Character
{
    display: block;
}

select.sheet-SkinSelect
{
    position: relative;
    top: 4px;
}


option.sheet-SkinSelect:checked
{
    display: none;
}

select.sheet-fSkinSelect
{
    position: relative;
    top: 4px;
}


option.sheet-fSkinSelect:checked
{
    display: none;
}
