* {
    box-sizing: border-box;
}
/* ---- DIV ----- */
div{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
div.sheet-main{
    padding: 4px;
    width: 850px;
    text-align: center;
    font-family: 'Verdana';
    border-width: 1px;
    border-style: solid;
    border-color: #AAAAAA;
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/INS-MV_4E/images/dust_scratches.png");
    background-repeat: repeat;
}
div.sheet-col {
	display: inline-block;
	height: 100%;
}

div.sheet-row {
	display: block;
	/* height: 100%; */
	width: 100%;
}

/* --- INPUTS --- */
select, input {
	border-width: 0 0 1px 0;
	margin-bottom: 5px;
	font-family: "Patrick Hand";
	font-size: 1.23em;
}

textarea {
    /* width: 95%; */
    /* height: 100%; */
	resize: vertical;
}
  
h2, h3 {
	font-family: "Contrail One";
}
  
h3 {
	margin-top: 1em;
}

.ui-dialog .charsheet button[type=roll]:before {
    font-size: 1.2em;
    font-family: 'dicefontd6';
    content: 'f';
}

label, button {
	font-family: "Contrail One";
	font-weight: normal;
}

label {
	margin-bottom: 0px;
}
  
.sheet-block {
	padding: 1em 0px 1em 0px;
}
  
.sheet-hidden {
	display: none;
}
  
.sheet-section {
	padding: 5px;
	border-style: solid;
}

.sheet-center {
	text-align: center;
}
.sheet-center * {
	text-align: center;
}

.sheet-bio {
	font-family: "Contrail One";
	font-size: 1.4em;
	width: 130px;
	text-align: right;
	margin-right: 5px;
}

input[type=text].sheet-bioName {
	font-family: "Contrail One";
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.4em;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* --- POWERS --- */
.sheet-powers {
	display: block;
	text-align: center;
	width: 100%;
}
.sheet-powers select {
	width: 100px;
}

.sheet-powers-group textarea {
	width: 98%;
	height: 50px;
	margin: auto;
}

.sheet-powers-group {
	border: 1px inset rgba(0,0,0,0.5);
    padding: 5px;
}

.sheet-powers h2 {
	background: linear-gradient(.25turn, black, 50%, white);
	text-align: left;
	color: #f0f0f0;
	padding: 5px 5px 0px 10px;
	border-radius: 0% 100% 0% 0%;
}

.sheet-powers input {
	text-align: center;
}

.sheet-powers input[type=text].powerTitle {
	font-variant: small-caps;
	font-style: italic;
	font-weight: bold;
	font-size: 130%;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 250px;
}

.sheet-power {
	margin-bottom: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.sheet-power label {
	font-weight: normal;
	font-size: 1.0em;
	margin-bottom: 0px;
}
  
.sheet-power input[type=checkbox] {
	transform: scale(1.5);
	margin-top: 7px;
}

/* --- INVENTORY ---*/
.sheet-inventory {
	display: block;
	text-align: center;
	width: 100%;
}

.sheet-inventory-group {
    border: 1px inset rgba(0,0,0,0.5);
    padding: 5px;
}

.sheet-inventory h2 {
	background: linear-gradient(.25turn, black, 50%, white);
	text-align: left;
	color: #f0f0f0;
	padding: 5px 5px 0px 10px;
	border-radius: 0% 100% 0% 0%;
}

/* --- SKILLS --- */
.sheet-skills {
	display: block;
	text-align: center;
	width: 100%;
}

.sheet-skills h2 {
	background: linear-gradient(.25turn, black, 50%, white);
	text-align: left;
    color: #f0f0f0;
    padding: 5px 5px 0px 10px;
    border-radius: 0% 100% 0% 0%;
}

.sheet-skills select.sheet-selectName {
	width: 100px;
}

select.sheet-selectValue {
	width: 45px;
}

.sheet-skills input[type=text] {
	width: 200px;
}

.sheet-skills-group {
    border: 1px inset rgba(0,0,0,0.5);
    padding: 5px;
}

/* --- ATTRIBUTES --- */
.sheet-attributes {
	display: block;
	text-align: center;
	width: 100%;
}

.sheet-attributes-group {
    border: 1px inset rgba(0,0,0,0.5);
    padding: 5px;
}
.sheet-attributes-group span {
	font-family: "Contrail One";
	font-size: 1.2em;
}

.sheet-col-attrib {
	margin-right: 5px;
}

.sheet-attributes h2 {
	background: linear-gradient(.25turn, black, 50%, white);
	text-align: left;
	color: #f0f0f0;
	padding: 5px 5px 0px 10px;
	border-radius: 0% 100% 0% 0%;
}

.sheet-attributes input[type=checkbox] {
	transform: scale(0.9);
	margin-top: 7px;
}

.sheet-attributes-group > * {
	text-align: center;
}
  
.sheet-attributes input {
	text-align: center;
	font-size: 2em;
	border-radius: 35%;
	margin: 0px;
	border: 1px solid rgba(0,0,0,0.0);
	padding: 0px;
}

.sheet-attributes select {
	width: 50px;
	height: 45px;
	text-align: center;
	font-size: 2em;
	border-radius: 35%;
	margin: 0px;
	border: 1px solid rgba(0,0,0,0.0);
	padding: 2px;
}

.sheet-pp-divider {
	font-size: 2em;
}
  
.sheet-pp input {
	width: 40%;
	padding-left: 0px;
}

.sheet-weapon label {
	display: inline;
	font-weight: normal;
}

.sheet-headings > * {
	text-align: left;
	font-weight: bold;
	padding: 4px;
}

.sheet-weapons button[type=roll], .sheet-powers button[type=roll], .sheet-powers button[type=action], .sheet-skills button[type=roll] {
	padding: 2px 3px;
	font-size: 1.2em;
	margin: -0.0em 3px 0px 3px;
}

.sheet-weapons input[type=number] {
	text-align: center;
	width: 100%;
}

.sheet-powers button[type=action] {
	margin-top: -0.1em;
}

/* ------------- Roll Template ----------------------*/
  
.sheet-rolltemplate-insmv .sheet-container {
	background-color: #ffffff;
	border: 1px solid;
	padding: 2px;
	width: 189px;
}

.sheet-rolltemplate-insmv .sheet-container h1 {
	color: rgb(126, 45, 64);
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 20px;
}

.sheet-rolltemplate-insmv div {
	padding: 2px;
}

.sheet-rolltemplate-insmv span {
	color: rgb(126, 45, 64);
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 1.6em;
	padding-left: 5px;
	text-align: left;
}

.sheet-rolltemplate-insmv .sheet-subheader {
	color: #000;
	font-size: 1em;
	font-style: italic;
}

.sheet-rolltemplate-insmv .sheet-arrow-right {
	border-bottom: 2px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
	border-top: 2px solid transparent;
}

.sheet-rolltemplate-insmv .sheet-tcat {
	font-style: italic;
}

.sheet-rolltemplate-insmv .inlinerollresult  {
	background: none;
	border: none;
}

.sheet-rolltemplate-insmv .inlinerollresult.fullcrit {
	color: none;
	border: none;
}

.sheet-rolltemplate-insmv .inlinerollresult.fullfail {
	color: none;
	border: none;
}

.sheet-rolltemplate-insmv .inlinerollresult.importantroll {
	color: none;
	border: none;
}

  /* ------------- Critiques 111 et 666 ------------- */
.sheet-rolltemplate-insmv .sheet-crit-angel {
	text-align: center;
	font-size: 1.5em;
	text-shadow: 0.1em 0.1em 0.2em #333;
}

.sheet-rolltemplate-insmv .sheet-crit-angel::before{
	content: "✝   ";
	font-size: 1em;
	color: #e1ac71;
	text-shadow: -1px -1px 0 #795202, 1px -1px 0 #795202, -1px 1px 0 #795202, 1px 1px 0 #795202;
}

.sheet-rolltemplate-insmv .sheet-crit-angel::after{
	content: "   ✝";
	font-size: 1em;
	color: #e1ac71;
	text-shadow: -1px -1px 0 #795202, 1px -1px 0 #795202, -1px 1px 0 #795202, 1px 1px 0 #795202;
}

.sheet-rolltemplate-insmv .sheet-crit-demon {
	text-align: center;
	color: #b50a0a;
	font-size: 1.9em;
	text-shadow: 0.025em 0.025em 0.15em #db2929;
	font-family: "Shadows Into Light";
	font-weight: bold;
}

.sheet-rolltemplate-insmv .sheet-crit-demon::before{
	content: "⛧   ";
	color: #a01818;
	font-size: 1em;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.sheet-rolltemplate-insmv .sheet-crit-demon::after{
	content: "   ⛧";
	color: #a01818;
	font-size: 1em;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

