/*-------------------------------------------*/
/*------------- Header Styles ---------------*/
/*-------------------------------------------*/

.charsheet .sheet-main-settings .sheet-input-row label {
	display: inline-block;
	width: auto;
}

.charsheet .sheet-main-settings .sheet-input-row input {
	margin-right: 15px;
}

.charsheet .sheet-main-settings .sheet-input-row select {
	width: 45%;
	margin-right: 15px;
}

.charsheet .sheet-main-settings .sheet-starting-abilities {
	margin-top: -15px;
}

.charsheet .sheet-main-settings .sheet-starting-abilities .sheet-input-row,
input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resistances .sheet-armor.sheet-resist {
	margin: 15px 0 10px;
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 3px;
	position: relative;
}

.charsheet .sheet-main-settings .sheet-starting-abilities h4,
input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resist h4 {
	position: relative;
	background-color: white;
	left: 20px;
	top: 25px;
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	z-index: 2;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-full .sheet-input-row.sheet-npc-mods {
	display: flex;
	flex-wrap: wrap;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-full .sheet-input-row.sheet-npc-mods div label {
	display: inline-block;
	width: auto;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-npc-full .sheet-input-row.sheet-npc-mods div {
	width: 33%;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-npc-full .sheet-input-row.sheet-npc-mods div {
	width: 50%;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-full.sheet-resistances {
	position: relative;
	margin-top: 15px;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resistances .sheet-armor-type label {
	font-weight: bold;
	font-size: 18px;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resistances .sheet-armor.sheet-resist {
	margin-top: 10px;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resistances .sheet-armor.sheet-resist div {
	display: table;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resistances .sheet-armor.sheet-resist div div {
	display: table-cell;
	width: 33%;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resist h4 {
	position: absolute;
	top: -15px;
	font-weight: normal;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-resistances .sheet-content {
	display: table;
	width: 100%;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-resistances .sheet-armor {
	display: table-cell;
	box-sizing: border-box;
	vertical-align: middle;
	padding-right: 15px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-resistances .sheet-armor-type {
	width: auto;
	padding-top: 10px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-resistances .sheet-armor label {
	display: inline-block;
	width: auto;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-resistances .sheet-resist label {
	font-weight: normal;
	font-size: 12px;
	padding-right: 0;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-resistances .sheet-resist input[type=number] {
	width: 3em;
}

/*-------------------------------------------*/
/*------------- Header Styles ---------------*/
/*-------------------------------------------*/

div.sheet-main-settings {
	display: none;
	position: relative;
	top: 40px;
	margin-left: 0;
}

input.sheet-options-flag:checked ~ div.sheet-main-settings {
	display: block;
	width: 550px;
}

input.sheet-options-flag:checked ~ div.sheet-main-container {
	display: none;
}

input.sheet-selector-switch {
	display: none;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-hide,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-hide,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-hide {
	display: none;
}

/*-------------------------------------------*/
/*------------- General Styles---------------*/
/*-------------------------------------------*/

input[type=number]::-webkit-inner-spin-button {}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide {
	display: none;
}

input.sheet-disabled {
	pointer-events: none;
}

input[disabled] {
	cursor: default;
}

.sheet-master-container {
	position: relative;
	padding: 0;
	display: inline-block;
	width: 880px;
}

.sheet-container {
	padding: 15px;
	margin-left: -25px;
	position: relative;
}

.sheet-main-container {
	display: inline-block;
	padding-top: 50px;
	margin-left: 0;
}

.sheet-container button[type=roll]::before {
	content: "" !important;
}

.sheet-section,
.sheet-header {
	/* width: min: 120px; max: 630px; height: min: 150px; max: 900px; */
	display: inline-block;
	position: relative;
	margin: auto;
	width: 100%;
}

.sheet-right,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-right,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-right {
	float: right;
}

.sheet-left,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-left,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-left {
	float: left;
}

.sheet-clear,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-clear,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-clear {
	clear: none !important;
}

.sheet-container .sheet-col,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-col,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col {
	width: calc(50% - 15px);
	margin-right: 15px;
	margin-top: 15px;
	display: inline-block;
}

.sheet-container .sheet-col-right,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-col-right,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col-right {
	margin-right: 0px;
	width: calc(50% - 12px);
	display: inline-block;
}

.sheet-col1,
.sheet-col2,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-col1,
input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-col2,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col1,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col2 {
	clear: both;
	vertical-align: top;
	margin-top: 15px;
}

.sheet-col1,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col1 {
	display: inline-block;
	width: calc(33% - 18px);
	margin-right: 15px;
}

.sheet-col2,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col2 {
	width: calc(65% - 12px);
	margin-right: 0px;
	display: inline-block;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-col1 {
	display: inline-block;
	width: calc(25% - 15px);
	margin-right: 15px;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-col2 {
	width: calc(75% - 12px);
	margin-right: 0px;
}

.sheet-section .sheet-content {
	position: relative;
	height: auto;
	margin: 5px;
	padding: 2px;
	background-color: white;
}

.sheet-input-row label,
.sheet-input-row input[type=text],
.sheet-weapons .sheet-input-row select {
	font-weight: normal;
	font-size: 13px;
	display: table-cell;
	width: 1px;
}

div.sheet-input-row,
li.sheet-input-row {
	display: table;
	width: 100%;
	white-space: nowrap;
}

.sheet-input-row input[type=text],
.sheet-weapons .sheet-input-row select,
.sheet-input-row div label {
	width: 100%;
}

.sheet-input-row input[type=checkbox] {
	margin-right: 5px;
}

.sheet-content input[type=text] {
	padding: 0;
	border-width: 0 0 1px;
	box-shadow: none;
	border-radius: 0;
	background-color: transparent;
}

.sheet-content textarea {
	width: 100%;
	box-sizing: border-box;
	height: 95px;
	resize: vertical;
}

.sheet-content ul {
	margin-left: 10px;
	margin-top: 5px;
}

/*-------------------------------------------*/
/*-------- Health/Stability Styles ----------*/
/*-------------------------------------------*/

.sheet-content .sheet-table-flex {
	display: flex;
	flex-wrap: wrap;
	border: solid #999;
	border-width: 0 1px 0 0;
	position: relative;
}

.sheet-content div.sheet-footer {
	width: 100%;
	padding: 3px 0;
	text-align: center;
}

.sheet-content div.sheet-footer input {
	padding: 0 0 0 5px;
	width: 35px;
}

.sheet-content .sheet-table-head {
	border: 1px solid #999;
	font-weight: bold;
	width: 100%;
	text-align: center;
	padding: 3px 0;
	box-sizing: border-box;
}

.sheet-content .sheet-table-flex div {
	position: relative;
	flex-basis: 25%;
	border: solid #999;
	border-width: 0 0 1px 1px;
	box-sizing: border-box;
	text-align: center;
	height: 24px;
}

.sheet-content .sheet-table-flex input[type="radio"],
.sheet-content .sheet-table-flex input[type="radio"] + span {
	font-size: 10px;
	text-align: center;
	padding-top: 2px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid rgba(0, 0, 0, 0);
	border-width: 2px 2px 3px 2px;
	margin-bottom: 1px;
	box-sizing: border-box;
}

.sheet-content .sheet-table-flex input[type="radio"]:checked + span {
	border-color: #999;
	font-weight: bold;
	font-size: 12px;
}

.sheet-content .sheet-table-flex input[type="radio"] {
	z-index: 2;
	height: 100%;
	opacity: 0;
}

.sheet-content .sheet-max-marker {
	display: none;
}

.sheet-content .sheet-max-marker:checked ~ div span {
	background-color: #e3e3e3;
	color: #888;
}

.sheet-section.sheet-spells {
	margin-top: 15px;
}

.sheet-section.sheet-spells input {
	margin-bottom: 5px;
}

.sheet-section.sheet-spells .sheet-subsection {
	margin: 7px 0;
	font-style: italic;
}

/*-------------------------------------------*/
/*------------- Ability Styles---------------*/
/*-------------------------------------------*/

.sheet-content h2 {
	display: block;
}

div.sheet-abilities {
	position: relative;
	display: flex;
	padding: 0;
	margin-top: 10px;
}

.sheet-abilities-col .sheet-abilities-header {
	font-weight: bold;
	font-size: 13px;
	height: 1.6em;
	color: white;
	background-color: #999;
	padding: 3px 0 2px 3px;
	margin-right: -1px;
}

.sheet-abilities-col {
	width: 33%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border: solid #999;
	border-width: 1px 0 0;
}

.sheet-abilities-col .sheet-abilities-item {
	border: solid #999;
	display: flex;
	flex-wrap: wrap;
	border-width: 0 1px 1px 1px;
	padding: 2px 1px 1px 2px;
	font-size: 10px;
	line-height: 2.6em;
	margin-right: -1px;
	position: relative;
}

.sheet-abilities-col .repcontrol {
	width: 100%;
	font-size: 10px;
	height: 2.6em;
}

.sheet-content .sheet-subsection input[type=text],
.sheet-content .sheet-subsection-num input[type=text]
.sheet-content .sheet-subsection-num input[type=number], {
	font-style: italic;
	font-size: 10px;
	border-bottom: 1px solid #ddd;
	position: relative;
	top: 5px;
	margin: 0 15px 0 5px;
	color: #666;
}

.sheet-content .sheet-subsection input[type=text] {
	width: 90%;
	text-align: left;
}

.sheet-content .sheet-subsection-num input[type=text]{
	width: 70%;
	text-align: left;
}
.sheet-content .sheet-subsection-num input[type=number]{
	width: 20%;
}

.sheet-abilities-col div::first-line, 
.sheet-abilities-col button[type=roll]::first-line {
	line-height: 2em;
}

.sheet-abilities-item button[type=roll],
.sheet-abilities-item span.sheet-abilities-title {
	display: inline-block;
	width: 58%;
	padding: 2px 0 0;
	border: none;
	background: none;
	font-size: inherit;
	text-align: left;
	text-indent: -10px;
	margin: 0 0 0 10px;
	line-height: 2.6em;
}

.sheet-abilities-col input.sheet-occupation,
.sheet-abilities-col input.sheet-mos {
	width: 12px;
	height: 12px;
	border: none;
	box-shadow: none;
	margin-top: 3px;
	opacity: 0;
	background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/occupation.png") no-repeat;
	background-size: contain;
	-webkit-appearance: none;
	-moz-appearance: none;
	pointer-events: none;
}

.sheet-abilities-col input.sheet-mos {
	background-image: none;
}

.sheet-abilities-col input.sheet-mos::before {
	content: 'S';
	font-size: 14px;
}

.sheet-abilities-item button[type=roll] + span,
.sheet-abilities-item span.sheet-inv-ability,
.sheet-abilities-item div.sheet-rep-title + span {
	position: relative;
	font-size: 10px;
	font-weight: normal;
	line-height: 1.5em;
	height: 2em;
	position: absolute;
	right: 0;
}

.sheet-abilities-col input[type=text],
.sheet-abilities-col input[type=number] {
	border-radius: 2px;
	text-align: right;
	padding: 2px 0 0;
}

.sheet-abilities-col input[type=number].sheet-max {
	border: none;
}

.sheet-abilities-col .sheet-abilities-item span input[type=number]::-webkit-inner-spin-button {
	display: none;
}

.sheet-abilities-col .sheet-abilities-item span input[type=number] {
	-moz-appearance: textfield;
}

.sheet-abilities-col .sheet-abilities-item input[type=number],
.sheet-abilities-col .sheet-abilities-item span div,
.sheet-abilities-col .sheet-abilities-item span span {
	margin-right: .1em;
}

.sheet-abilities-col input[type=number].sheet-available {
	font-weight: bold;
	line-height: 16px;
	font-size: 13px;
	width: 17px;
}

.sheet-abilities-col input[type=number].sheet-max {
	line-height: 1.5em;
	font-size: 1.1em;
	width: 14px;
	padding: 1px 0;
	margin-top: 2px;
	pointer-events: none;
}

.sheet-abilities-col .sheet-abilities-item span span {
	position: relative;
	top: 2px;
}

.sheet-abilities-col .sheet-abilities-item span input,
.sheet-abilities-col .sheet-abilities-item span span {
	vertical-align: top;
}

.sheet-abilities-col .sheet-abilities-item span div {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 12px;
}

.sheet-abilities-col .sheet-abilities-item span label {
	position: absolute;
	left: 0;
	width: 12px;
	height: 9px;
	border: 0;
	border-radius: 2px;
	cursor: default;
	margin: 0;
	padding: 0;
}

.sheet-abilities-col label input {
	display: none;
}


.sheet-abilities-col label.sheet-increment {
	background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/arrow-up.png") no-repeat bottom;
	top: 1px;
}

.sheet-abilities-col label.sheet-decrement {
	bottom: 1px;
	background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/arrow-down.png") no-repeat top;
}

.sheet-abilities-col input.sheet-constraint[type=hidden][value*="a"] ~ span .sheet-available + div label.sheet-increment,
.sheet-abilities-col input.sheet-constraint[type=hidden][value*="b"] ~ span .sheet-available + div label.sheet-decrement,
.sheet-abilities-col input.sheet-constraint[type=hidden][value*="c"] ~ span .sheet-max + div label.sheet-increment,
.sheet-abilities-col input.sheet-constraint[type=hidden][value*="d"] ~ span .sheet-max + div label.sheet-decrement {
	opacity: 0.3;
}

.sheet-abilities-col input.sheet-constraint[type=hidden] ~ span .sheet-max + div {
	display: none;
}

.sheet-abilities-col input.sheet-constraint[type=hidden][value*="d"] ~ button[type=roll],
.sheet-abilities-col input.sheet-constraint[type=hidden][value*="d"] ~ div button[type=roll] span {
	color: #aaa;
}

.sheet-abilities-item button[type=roll],
.sheet-abilities-item button[type=roll] input,
.sheet-abilities-col input.sheet-constraint[type=hidden][value=" da"] ~ button[type=roll],
.sheet-abilities-col input.sheet-constraint[type=hidden][value=" da"] ~ div button[type=roll] span,
.sheet-general input.sheet-constraint[type=hidden][value*="d"] ~ button[type=roll],
.sheet-general input.sheet-constraint[type=hidden][value*="d"] ~ div button[type=roll] span {
	color: #404040;
}

.sheet-abilities-col input.sheet-occupation:checked,
.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-occupation:checked,
.sheet-abilities-col input.sheet-mos:checked,
.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-mos:checked {
	opacity: 1;
}

.sheet-abilities-col .sheet-subsection {
	margin: 0 0 5px 15px;
}

.sheet-abilities .btn {
	font-size: 10px;
	margin-bottom: 2px;
}

.sheet-abilities-col input.sheet-constraint[type=hidden][value*="s"] ~ span input[type=number].sheet-available {
	width: 24px;
	margin-left: -13px;
}

/*----------- Repeating Abilities -----------*/

.repcontainer .sheet-abilities-item {
	width: calc(100% - 4px);
}

.sheet-abilities-item .sheet-rep-title {
	display: inline-block;
	width: 65%;
	position: relative;
}

.sheet-abilities-item .sheet-rep-title input[type=text] {
	width: 80%;
	font-size: 10px;
	line-height: 13px;
	text-align: left;
	padding-left: 6px;
	position: relative;
	top: 1px;
}

.sheet-abilities-item .sheet-rep-title button[type=roll] {
	width: 80%;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item .sheet-rep-title button[type=roll] span {
	margin-left: 0;
	font-size: inherit;
	line-height: 1.5em;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item .sheet-rep-title .sheet-options input {
	margin: .4em 0;
	padding: 0;
	border-color: #333;
}

.sheet-abilities-item .sheet-rep-title .sheet-options-flag,
.sheet-abilities-item .sheet-rep-title input.sheet-options-flag + span {
	top: 0px;
}

.repcontainer .repitem .itemcontrol {
	z-index: 10;
}

/*---------------- Edit Mode ----------------*/

.sheet-content input.sheet-edit:checked ~ .sheet-abilities span span {
}

.sheet-content div.sheet-placeholder,
.sheet-abilities input.sheet-free + span {
	border: 1px solid #aaa;
	border-radius: 3px;
	position: relative;
	padding: 2px 5px;
	display: inline-block;
	box-sizing: border-box;
}

.sheet-content div.sheet-placeholder span::before {
	content: 'r';
	padding-right: 5px;
}

.sheet-content input.sheet-reset {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.sheet-content div.sheet-reset {
	position: relative;
	margin: 10px 0 0;
	overflow: auto;
}

.sheet-content .sheet-ability-edit .sheet-build-points div {
	display: inline-block;
	margin: 5px 15px 10px 0;
	font-size: 13px;
}

.sheet-content .sheet-ability-edit .sheet-build-points div span {
	font-weight: bold;
	font-size: 13px;
}

.sheet-content .sheet-ability-edit .sheet-build-points div span.sheet-light {
	font-weight: normal;
}

.sheet-content .sheet-ability-edit .sheet-occupation-message span {
	background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/occupation.png") no-repeat center;
	display: inline-block;
	height: 14px;
	width: 14px;
	font-size: 1em;
	line-height: 1em;
	margin-bottom: -2px;
}

.sheet-content .sheet-ability-edit p.sheet-mos-message span::before {
	content: 'S';
}

.sheet-content .sheet-ability-edit .sheet-starting-credit {
	margin: -5px 0 10px;
}

.sheet-content .sheet-ability-edit .sheet-starting-credit input {
	padding: 0 3px;
}

.sheet-content input.sheet-reset,
.sheet-content input.sheet-edit {
	z-index: 3;
	opacity: 0;
}

.sheet-content input.sheet-edit,
.sheet-content input.sheet-edit + span {
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 3px;
	position: absolute;
	right: 5px;
	top: 5px;
	height: 22px;
	width: 22px;
}

.sheet-content input.sheet-edit + span {
	font-size: 17px;
	line-height: 16px;
	padding: 2px;
	height: 16px;
	width: 16px;
	text-align: center;
}

.sheet-abilities input.sheet-free,
.sheet-abilities input.sheet-free + span {
	position: absolute;
	right: 0;
	top: -40px;
	height: 23px;
	width: 105px;
}

.sheet-abilities input.sheet-free {
	z-index: 1;
	opacity: 0;
}

.sheet-abilities input.sheet-free + span::before {
	content: 'p';
	padding-right: 5px;
}

.sheet-abilities input.sheet-free:checked + span {
	background-color: #ccc;
}

.sheet-abilities-item input.sheet-free-points {
	float: right;
}

.sheet-content input.sheet-edit + span::before {
	content: '(';
}

.sheet-content input.sheet-edit:checked + span::before {
	content: ')';
}

.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-occupation,
.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-max,
.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-mos {
	pointer-events: auto;
}

.sheet-abilities-col .sheet-abilities-item input[type=number].sheet-max {
	border-color: transparent;
}

.sheet-content input.sheet-edit:checked ~ .sheet-abilities input[type=number].sheet-max {
	border-color: #ccc;
}

.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-free,
.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-free + span,
.sheet-abilities input.sheet-free:checked ~ .sheet-abilities-col input.sheet-free-points,
.sheet-abilities-col input.sheet-constraint[type=hidden] ~ span .sheet-available + input,
.sheet-abilities-col input.sheet-constraint[type=hidden] ~ span .sheet-available + input + input,
.sheet-content input.sheet-edit:checked ~ .sheet-abilities input[type=hidden] ~ span .sheet-max + div,
.sheet-content input.sheet-edit:checked ~ .sheet-ability-edit {
	display: inline-block;
}

.sheet-abilities input.sheet-free,
.sheet-abilities input.sheet-free + span,
.sheet-content .sheet-ability-edit,
.sheet-abilities-item input.sheet-free-points,
.sheet-abilities input.sheet-free:checked ~ .sheet-abilities-col div button[type=roll] + span,
.sheet-abilities input.sheet-free:checked ~ .sheet-abilities-col div .sheet-rep-title + span,
.sheet-content input.sheet-edit:checked ~ .sheet-abilities input[type=hidden] ~ span .sheet-available + div {
	display: none;
}

.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-occupation,
.sheet-content input.sheet-edit:checked ~ .sheet-abilities input.sheet-mos {
	opacity: .2;
}

/*-------------------------------------------*/
/*-------------- Weapon Styles---------------*/
/*-------------------------------------------*/

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-weapons .sheet-weapon .sheet-options-flag:checked + span + div.sheet-options {
	display: block;
}

.sheet-section .sheet-weapon {
	border: 1px solid #666;
	padding: 5px;
	position: relative;
	margin-top: 10px;
}

.sheet-weapons .sheet-display::after {
	content: "";
	display: block;
	clear: both;
}

.sheet-weapon .sheet-display .sheet-weapon-name {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	margin-left: 5px;
	margin-top: 7px;
}

.sheet-weapon .sheet-weapon-skill {
	border: none;
	font-size: 14px;
	color: #bbb;
	width: 30%;
	text-align: right;
}

.sheet-weapon .sheet-weapon-rollers {
	display: flex;
	margin-top: 2px;
}

.sheet-options .sheet-row {
	display: block;
	width: 100%;
}

.sheet-weapon-rollers button[type=roll] {
	width: 25%;
	text-align: center;
	font-size: 10px;
	padding-top: 4px;
	margin: 2px;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-weapon-rollers button[type=roll] span {
	font-size: 10px;
	margin: 0;
}

.sheet-weapon-rollers button[type=roll] b {
	font-size: 10px;
}

.sheet-weapon-rollers button.sheet-melee-button {
	display: none;
}

.sheet-weapons input[type=hidden][value*="m"] ~ div button,
.sheet-weapons .sheet-weapon .sheet-capacity,
.sheet-weapons .sheet-weapon .sheet-shotgun,
.sheet-weapons .sheet-weapon button[type=roll].sheet-long-range b {
	display: none;
}

.sheet-weapons input[type=hidden][value*="p"] ~ div button.sheet-long-range,
.sheet-weapons input[type=hidden][value*="s"] ~ div button.sheet-long-range,
.sheet-weapons input[type=hidden][value*="t"] ~ div button.sheet-long-range {
	color: #aaa;
}

.sheet-weapons input[type=hidden][value*="a"] ~ div .sheet-capacity,
.sheet-weapons input[type=hidden][value*="s"] ~ div .sheet-shotgun,
.sheet-weapons input[type=hidden][value*="s"] ~ div span.sheet-range-message,
.sheet-weapons input[type=hidden][value*="t"] ~ div span.sheet-range-message,
.sheet-weapons input[type=hidden][value*="p"] ~ div span.sheet-ex-range-message,
.sheet-weapons input[type=hidden][value*="t"] ~ div button[type=roll].sheet-long-range .sheet-long,
.sheet-weapons input[type=hidden][value*="s"] ~ div button[type=roll].sheet-long-range .sheet-long,
.sheet-weapons input[type=hidden][value*="o"] ~ div button[type=roll].sheet-long-range .sheet-long,
.sheet-weapons input[type=hidden][value*="r"] ~ div button[type=roll].sheet-long-range .sheet-long,
.sheet-weapons input[type=hidden][value*="r"] ~ div button[type=roll].sheet-long-range .sheet-slash,
.sheet-weapons input[type=hidden][value*="a"] ~ div button[type=roll].sheet-long-range .sheet-long,
.sheet-weapons input[type=hidden][value*="a"] ~ div button[type=roll].sheet-long-range .sheet-slash,
.sheet-weapons input[type=hidden][value*="p"] ~ div button[type=roll].sheet-long-range .sheet-extended {
	display: inline-block;
}

.sheet-weapons input[type=hidden][value*="m"] ~ div button.sheet-melee-button {
	display: block;
}

.sheet-weapons .sheet-unarmed .sheet-display .sheet-weapon-rollers,
.sheet-weapons input[type=hidden][value*="m"] ~ div .sheet-weapon-rollers {
	display: inline-block;
	float: right;
	margin-top: 0;
	margin-right: 55px;
}

.sheet-weapons .sheet-unarmed .sheet-display .sheet-weapon-rollers button[type=roll],
.sheet-weapons input[type=hidden][value*="m"] ~ div .sheet-weapon-rollers button[type=roll] {
	width: 100%;
	margin: 2px 35px;
}

.sheet-weapons .sheet-options-col {
	display: inline-block;
	width: 49%;
}

.sheet-options-col select {
	margin-top: 5px;
}

.sheet-checks label {
	display: block;
	width: 100%;
	margin: 0 0 0 25px;
}

.sheet-weapon .sheet-category {
	z-index: 1;
	opacity: 0;
}

.sheet-weapon .sheet-category,
.sheet-weapon .sheet-category + span {
	position: absolute;
	width: 50%;
	border: 1px solid #888;
	border-bottom-color: black;
	text-align: center;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	box-sizing: border-box;
	border-radius: 5px 5px 0 0;
	background-color: #e3e3e3;
	color: #888;
}

.sheet-weapon .sheet-category:checked + span {
	background-color: white;
	color: black;
	border-color: black;
	border-bottom: none;
}

.sheet-weapon .sheet-ranged,
.sheet-weapon .sheet-ranged + span {
	left: 0;
}

.sheet-weapon .sheet-melee,
.sheet-weapon .sheet-melee + span {
	right: 0;
}

.sheet-weapon .sheet-weapon-options {
	margin-top: 7px;
	width: 100%;
	padding-top: 15px;
}

.sheet-weapon.sheet-unarmed .sheet-weapon-options {
	margin-top: 0;
	padding-top: 0;
}

.sheet-weapon .sheet-melee-options,
.sheet-weapon .sheet-ranged-options {
	display: none;
}

.sheet-weapon .sheet-melee:checked ~ .sheet-melee-options,
.sheet-weapon .sheet-ranged:checked ~ .sheet-ranged-options {
	display: block;
}

.sheet-weapon .sheet-weapon-options .sheet-options-col {
	padding: 10px;
	width: calc(50% - 24px);
	vertical-align: top;
}

.sheet-weapon .sheet-weapon-options .sheet-options-col .sheet-input-row {
	margin-top: 5px;
}

.sheet-weapon .sheet-weapon-options .sheet-options-col .sheet-input-row input[type=number] {
	width: 35%;
}

.sheet-weapon .sheet-weapon-options .sheet-options-col select {
	width: 100%;
}

.sheet-weapon div.sheet-mod-display {
	display: flex;
	width: 100%;
	position: relative;
}

.sheet-weapon .sheet-mod-display-melee {
	display: inline-block;
}

.sheet-weapon .sheet-mod-display div {
	width: 25%;
	padding: 10px;
}

.sheet-weapon .sheet-mod-display-melee div {
	width: 100%;
	padding: 5px;
}

.sheet-weapon .sheet-mod-display span {
	display: block;
	text-align: center;
	font-weight: bold;
}

.sheet-weapon .sheet-mod-display-melee span {
	display: inline-block;
	margin-top: 5px;
}

.sheet-weapon .sheet-mod-display span.sheet-additional span {
	font-size: 12px;
	font-weight: normal;
}

.sheet-weapon .sheet-mod-display span.sheet-range-message,
.sheet-weapon .sheet-mod-display span.sheet-ex-range-message {
	font-weight: normal;
	color: red;
	font-size: 11px;
	display: none;
	width: 100%;
}

.sheet-weapons input[type=hidden][value*="l"] ~ div .sheet-long-range span.sheet-mod-display {
	color: #aaa;
}

.sheet-weapon .sheet-mod-display-melee span.sheet-additional {
	display: block;
	text-align: left;
}

.sheet-weapon .sheet-mod-display span.sheet-mod-display {
	padding-top: 6px;
	font-size: 18px;
}

.sheet-weapon .sheet-mod-display-melee span.sheet-mod-display {
	padding-top: 0;
}

.sheet-weapon .sheet-mod-display span input {
	width: 30%;
	padding: 1px;
}

/*-------------------------------------------*/
/*------------- Options Toggles--------------*/
/*-------------------------------------------*/

input.sheet-options-flag,
input.sheet-options-flag + span {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 15px;
	height: 15px;
}

input.sheet-options-flag {
	z-index: 99;
	opacity: 0;
}

input.sheet-options-flag + span {
	margin-top: 0px;
	display: none;
	white-space: nowrap;
	line-height: 15px;
	font-size: 17px;
	color: #A0A0A0;
	cursor: pointer;
}

input.sheet-options-flag.sheet-main-options {
	width: 30px;
	height: 30px;
	top: 20px;
	left: 20px;
	z-index: 3;
}

input.sheet-options-flag.sheet-main-options + span {
	width: 30px;
	height: 30px;
	top: 20px;
	left: 20px;
	font-size: 34px;
	z-index: 2;
	line-height: 30px;
	opacity: .5;
	display: block;
}

input.sheet-options-flag.sheet-main-options:hover + span {
	opacity: 1;
}

input.sheet-options-flag:checked + span {
	color: black;
	display: block;
}

.sheet-section .sheet-weapon:hover .sheet-options-flag + span,
.sheet-section .sheet-subsection:hover .sheet-options-flag + span,
.sheet-section .sheet-rep-title:hover .sheet-options-flag + span {
	display: block;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-content .sheet-options {
	display: none;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-content .sheet-options-flag:checked ~ .sheet-options {
	display: flex;
}

input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-content .sheet-options-flag:checked ~ .sheet-display {
	display: none;
}

.editmode .sheet-options-flag {
	display: none;
}

.sheet-content .sheet-display input[type=text] {
	border: 0;
}

/*-------------------------------------------*/
/*------------ Repeating Buttons ------------*/
/*-------------------------------------------*/

.repcontrol .btn {
    border: 0 solid transparent;
    color: white !important;
    background: none;
    font-size: 0px;
    box-shadow: none;
    margin-bottom: 1px;
}

.sheet-container .repcontrol .repcontrol_edit::after {
    content: '(';
}

.sheet-container .editmode ~ .repcontrol .repcontrol_edit::after {
    content: ')';
}

.sheet-container .repcontrol .repcontrol_add::before {
	content: '&';
}

.sheet-container .repcontrol .repcontrol_add::before,
.sheet-container .repcontrol .repcontrol_edit::after {
    visibility: visible;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 2px 4px 2px 4px;
    color: #333;
}

.sheet-container .repcontrol .repcontrol_edit:hover::after,
.sheet-container .repcontrol .repcontrol_add:hover::before
{
    background-color: #EFEFEF;
}

.sheet-content input.sheet-edit + span,
.sheet-content div.sheet-placeholder span::before,
input.sheet-main-options.sheet-options-flag + span,
.sheet-content .sheet-abilities input.sheet-free + span::before,
.sheet-content .sheet-ability-edit p.sheet-mos-message span::before,
input[type=radio]:checked ~ .sheet-master-container input.sheet-options-flag + span,
input[type=radio]:checked ~ .sheet-master-container .repcontrol .repcontrol_add::before,
input[type=radio]:checked ~ .sheet-master-container .repcontrol .repcontrol_edit::after,
input[type=radio]:checked ~ .sheet-master-container .itemcontrol button.repcontrol_del,
input[type=radio]:checked ~ .sheet-master-container .sheet-abilities-col input.sheet-mos {
	font-family: pictos;
	font-style: normal;
}

/*-------------------------------------------*/
/*--------------- NPC Styles ----------------*/
/*-------------------------------------------*/

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container {
	width: 500px;
	background: white;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide {
	display: inline-block;
}

input.sheet-npc:checked ~ input.sheet-toc:checked ~ .sheet-master-container .sheet-header {
	display: none;
}

input.sheet-npc:checked ~ input.sheet-nba:checked ~ .sheet-master-container .sheet-header.sheet-npc-full {
	width: 525px;
	overflow: hidden;
}

input.sheet-npc:checked ~ input.sheet-nba:checked ~ .sheet-master-container .sheet-header img {
	width: 875px;
	max-width: 875px;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-full {
	width: 100%;
	float: left;
	margin: 0;
	padding-left: 0;
	box-sizing: border-box;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-full div {
	margin-top: 0;
	margin-bottom: 0;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-npc-full .sheet-abilities {
	display: block;
	margin-left: 30px;
	width: calc(100% - 60px);
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col.sheet-general,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col.sheet-general .repcontrol,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col.sheet-general .repcontainer {
	width: 100%;
	display: inline-block;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item,
input.sheet-npc:checked ~ input.sheet-toc:checked ~ .sheet-master-container .sheet-abilities-col .sheet-abilities-item.sheet-nba-npc,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item span span,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item .sheet-max,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-header,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col .sheet-max + div,
input.sheet-npc:checked ~ input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item.sheet-npc-ability.sheet-nba-hide,
input.sheet-npc:checked ~ input.sheet-toc:checked ~ .sheet-master-container .sheet-abilities-item.sheet-npc-ability.sheet-toc-hide,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities .sheet-free,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities .sheet-free + span,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col .repcontrol,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col .repcontainer,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col .sheet-abilities-item .repcontrol,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col .sheet-abilities-item .repcontainer {
	display: none;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item span,
input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-col .sheet-available + div {
	display: inline-block;
	vertical-align: top;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item button[type=roll] {
	width: 85%;
	vertical-align: top;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item.sheet-npc-ability {
	display: inline-block;
	width: 100%;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-abilities-item.sheet-npc-ability button[type=roll] {
	left:10px;
}

input.sheet-npc:checked ~ input.sheet-toc:checked ~ .sheet-master-container .sheet-section {
	background: white;
	min-height: 0;
	min-width: 0;
	margin-top: 0;
	margin-bottom: 0;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-section::before {
	display: none;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resistances .sheet-armor {
	display: inline-block;
	width: 100%;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-resistances .sheet-resist {
	margin-top: 15px;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide .sheet-input-row {
	margin: 15px 0;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide .sheet-input-row label {
	padding-right: 4px;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide .sheet-input-row input[type=number] {
	width: 40px;
	margin-right: 25px;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide .sheet-input-row.sheet-name label {
	padding-left: 10px;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-pc-hide .sheet-input-row.sheet-name input {
	font-size: 24px;
	font-weight: bold;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-armor-notes label {
	display: block;
	margin-bottom: 0;
}

input.sheet-npc:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-armor-notes textarea {
	height: 50px;
}

/*----------- Vampires -----------*/


input.sheet-selector-switch:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-vampire,
input.sheet-selector-switch:checked ~ input.sheet-selector-switch:checked ~ .sheet-master-container .sheet-vampire.sheet-abilities-item,
input.sheet-selector-switch:checked ~ input.sheet-toc:checked ~ .sheet-master-container .sheet-toc-hide.sheet-pc-hide,
input.sheet-selector-switch:checked ~ input.sheet-vamp:checked ~ input.sheet-toc:checked ~ .sheet-master-container .sheet-vampire,
input.sheet-npc:checked ~ input.sheet-vamp:checked ~ .sheet-master-container .sheet-vampire-hide.sheet-abilities-item,
input.sheet-npc:checked ~ input.sheet-vamp:checked ~ .sheet-master-container .sheet-vampire-hide {
	display: none;
}

input.sheet-npc:checked ~ input.sheet-vamp:checked ~ .sheet-master-container .sheet-abilities .sheet-vampire.sheet-abilities-item {
	display: inline-block;
}

input.sheet-npc:checked ~ input.sheet-vamp:checked ~ .sheet-master-container .sheet-vampire {
	display: inline-block;
	margin-top: 15px;
}

input.sheet-npc:checked ~ input.sheet-vamp:checked ~ .sheet-master-container .sheet-vampire .sheet-nba-col1 {
	width: calc(50% - 18px);
}

/*-------------------------------------------*/
/*------------- Cthulhu Styles --------------*/
/*-------------------------------------------*/

input.sheet-toc:checked ~ .sheet-master-container {
	width: 850px;
	background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/background.png") no-repeat;
	background-size: cover;
	border-top: 2px solid #c9a800;
}

input.sheet-toc:checked ~ .sheet-master-container,
input.sheet-toc:checked ~ p,
input.sheet-toc:checked ~ .sheet-master-container input,
input.sheet-toc:checked ~ .sheet-master-container select,
input.sheet-toc:checked ~ .sheet-master-container label,
input.sheet-toc:checked ~ .sheet-master-container button,
input.sheet-toc:checked ~ .sheet-master-container textarea,
input.sheet-toc:checked ~ .sheet-master-container .btn,
.sheet-rolltemplate-toc,
.sheet-rolltemplate-toc-weapon {
	font-family: "Rockwell", "Courier New", "Times New Roman", serif;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-section {
	/* width: min: 120px; max: 630px; height: min: 150px; max: 900px; */
	background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/tl-corner.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/tr-corner.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/bl-corner.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/br-corner.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/top-side.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/bottom-side.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/left-side.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/right-side.png");
	background-position: left top, right top, left bottom, right bottom, center top, center bottom, left center, right center;
	background-repeat: no-repeat;
	background-size: auto, auto, auto, auto, 70% 56px, 70% 56px, 56px 80%, 56px 80%;
	min-height: 165px;
	min-width: 120px;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-section.sheet-ability-section {
	background-size: auto, auto, auto, auto, 70% 56px, 70% 56px, 56px 90%, 56px 90%;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-section::before {
	top: 25px;
	left: 25px;
	right: 25px;
	bottom: 25px;
	position: absolute;
	display: block;
	background-color: white;
	content: ' ';
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-abilities-col .sheet-abilities-header {
	background-color: #c9a800;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-abilities-col,
input.sheet-toc:checked ~ .sheet-master-container .sheet-abilities-col .sheet-abilities-item,
input.sheet-toc:checked ~ .sheet-master-container .sheet-section .sheet-weapon,
input.sheet-toc:checked ~ .sheet-master-container .sheet-content .sheet-table-flex,
input.sheet-toc:checked ~ .sheet-master-container .sheet-content .sheet-table-head,
input.sheet-toc:checked ~ .sheet-master-container .sheet-content .sheet-table-flex div,
input.sheet-toc:checked ~ .sheet-master-container .sheet-content .sheet-table-flex input[type="radio"]:checked + span {
	border-color: #c9a800;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-section .sheet-content {
	margin: 20px;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-content .sheet-table-head {
	margin-top: 10px;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-content .sheet-toc-col2 {
	margin-left: 15px;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-notes-full {
	float: right;
	margin-top: 15px;
}

input.sheet-toc:checked ~ .sheet-master-container .sheet-notes-full div {
	font-size: 18px;
	font-weight: bold;
}

/*-------------------------------------------*/
/*----------- Night's Black Agents ----------*/
/*-------------------------------------------*/

input.sheet-nba:checked ~ .sheet-master-container,
input.sheet-nba:checked ~ p,
input.sheet-nba:checked ~ .sheet-master-container input,
input.sheet-nba:checked ~ .sheet-master-container select,
input.sheet-nba:checked ~ .sheet-master-container label,
input.sheet-nba:checked ~ .sheet-master-container button,
input.sheet-nba:checked ~ .sheet-master-container textarea,
input.sheet-nba:checked ~ .sheet-master-container .btn,
.sheet-rolltemplate-nba,
.sheet-rolltemplate-nba-weapon {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, Poppins, sans-serif;
}

input.sheet-nba:checked ~ .sheet-master-container input[type=number] {
	font-family: Arial, sans-serif;
}

input.sheet-nba:checked ~ .sheet-main-options:checked ~ .sheet-master-container {
	padding-top: 0;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col {
	margin-top: 0;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-section .sheet-nba-col1 {
	margin-left: 0;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col-half {
	width: 50%;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-fix {
	margin-top: -7px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-fix b {
	font-weight: normal;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-caps {
	text-transform: uppercase;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-tables .sheet-table-flex {
	border: 1px solid #dedede;
	padding: 20px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-tables .sheet-table-flex div {
	height: 29px;
	border: none;
	padding: 0;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-table-flex input[type="radio"] + span {
	padding-top: 4px;
	font-size: 13px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-table-flex input[type="radio"]:checked + span {
	font-size: 15px;
	border-width: 1px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-tables .sheet-table-head {
	display: block;
	float: left;
	height: 100%;
	width: 40px;
	border: none;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-tables .sheet-table-head div {
	transform: rotate(270deg);
	float: right;
	right: 20px;
	transform-origin: right top 0;
	position: relative;
	font-size: 18px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-input-row label {
	line-height: 30px;
}

input.sheet-nba:checked ~ .sheet-master-container textarea {
	height: 60px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-left,
input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col1 {
	margin-left: 30px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-col2 {
	margin-right: 30px;
	width: calc(65% - 45px);
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-nba-full {
	margin-left: 30px;
	width: calc(100% - 70px);
	padding: 5px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-footer {
	display: inline-block;
	float: left;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-footer span {
	padding-left: 40px;
	font-size: 16px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-notes-full div {
	text-transform: uppercase;
	font-weight: bold;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-options input[type=text] {
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 0;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-display span {
	font-size: 14px;
	margin-left: 40px;
	line-height: 25px;
}
/*----------- Abilities -----------*/

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item button[type=roll] {
	width: 74%;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-general .sheet-abilities-item button[type=roll] {
	width: 70%;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-content input.sheet-edit,
input.sheet-nba:checked ~ .sheet-master-container .sheet-content input.sheet-edit + span {
	top: 14px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities input.sheet-free,
input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities input.sheet-free + span {
	height: 24px;
	width: 90px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities input.sheet-free-points {
	height: 1.7em;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-content input.sheet-edit + span {
	z-index: 2;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-col .sheet-abilities-header,
input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-col .sheet-abilities-header::first-line {
	background-color: #bbb;
	color: black;
	padding: 1px 10px 2px;
	font-size: 15px;
	line-height: 1.5em;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-col {
	border-color: #dedede;
}

input.sheet-nba:checked ~ .sheet-master-container h2.sheet-nba-caps {
	font-size: 17px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-weapons .sheet-display input {
	font-size: 14px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item button[type=roll] {
	font-size: 14px;
	line-height: 1.95em;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-col .repcontrol {
	height: 2.5em;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-col div::first-line,
input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-col button[type=roll]::first-line,
input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-col button[type=roll] span::first-line {
	line-height: 1.5em;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item .sheet-rep-title button[type=roll] span {
	line-height: 1.75em;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-col .sheet-subsection input {
	line-height: 1.6em;
	font-size: 12px;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-general .sheet-abilities-item input.sheet-constraint[type=hidden][value*="x"] ~ button[type=roll],
input.sheet-nba:checked ~ .sheet-master-container .sheet-general .sheet-abilities-item input.sheet-constraint[type=hidden][value*="x"] ~ div button[type=roll] span,
.sheet-content .sheet-ability-edit p.sheet-cherry-message span {
	color: #8B0000;
}

/*----------- Repeating Abilities -----------*/

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item .sheet-rep-title {
	width: 78%;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-general .sheet-abilities-item .sheet-rep-title {
	width: 74%;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item .sheet-rep-title .sheet-options input {
	width: 85%;
	margin-top: 0;
	margin-bottom: .2em;
	font-size: 13px;
	border-bottom: 1px solid black;
}

input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item .sheet-rep-title button[type=roll] {
	width: 100%;
	padding-top: 0;
	margin-top: -1px;
}


input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item .sheet-rep-title .sheet-options-flag,
input.sheet-nba:checked ~ .sheet-master-container .sheet-abilities-item .sheet-rep-title .sheet-options-flag + span {
	top: .25em;
}

input.sheet-nba:checked ~ .sheet-master-container .repcontrol {
	margin-bottom: 2px;
}

/*-------------------------------------------*/
/*------------- Roll Templates --------------*/
/*-------------------------------------------*/


/*----------- Cthulhu Templates -----------*/

.sheet-rolltemplate-toc,
.sheet-rolltemplate-toc-weapon {
	background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/roll/tl-corner.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/roll/tr-corner.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/roll/bl-corner.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/roll/br-corner.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/roll/top.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/roll/bottom.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/roll/left.png"),
					  url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Gumshoe%20by%20Roll20/images/toc/roll/right.png");
	background-position: left top, right top, left bottom, right bottom, center top, center bottom, left center, right center;
	background-repeat: no-repeat;
	background-size: auto, auto, auto, auto, 100% 12px, 100% 12px, 12px 100%, 12px 100%;
	background-color: #fff;
	width: 189px;
	padding: 12px;
	text-align: center;
}

.sheet-rolltemplate-toc .sheet-name,
.sheet-rolltemplate-toc-weapon .sheet-name {
	background-color: #c9a800;
	color: white;
	width: 194px;
	font-weight: bold;
	padding: 5px;
	position: relative;
	top: -7px;
	left: -7px;
}

.sheet-rolltemplate-toc .sheet-result span,
.sheet-rolltemplate-toc-weapon .sheet-result span {
	font-size: 32px;
	background-color: white;
	border: 0;
	line-height: initial;
}

.sheet-rolltemplate-toc .sheet-result span.fullcrit,
.sheet-rolltemplate-toc-weapon .sheet-result span.fullcrit {
	color: #3fb315;
	border: 0;
}

.sheet-rolltemplate-toc .sheet-result span.fullfail,
.sheet-rolltemplate-toc-weapon .sheet-result span.fullfail {
	color: #b31515;
	border: 0;
}

.sheet-rolltemplate-toc .sheet-points,
.sheet-rolltemplate-toc-weapon .sheet-points {
	font-size: 11px;
	font-style: italic;
}

.sheet-rolltemplate-toc .sheet-points span.inlinerollresult,
.sheet-rolltemplate-toc-weapon .sheet-points span.inlinerollresult {
	border: none;
	background-color: #fff;
}

/*----------- NBA Templates -----------*/

.sheet-rolltemplate-nba,
.sheet-rolltemplate-nba-weapon {
	border: 1px solid #391011;
	background-color: #fff;
	width: 213px;
	padding-bottom: 12px;
	text-align: center;
}

.sheet-rolltemplate-nba .sheet-name,
.sheet-rolltemplate-nba-weapon .sheet-name {
	text-transform: uppercase;
	background-color: #391011;
	color: white;
	width: 100%;
	font-weight: bold;
	padding: 5px 0;
	position: relative;
}

.sheet-rolltemplate-nba .sheet-result span,
.sheet-rolltemplate-nba-weapon .sheet-result span {
	font-size: 32px;
	background-color: white;
	border: 0;
	line-height: initial;
}

.sheet-rolltemplate-nba .sheet-result span.fullcrit,
.sheet-rolltemplate-nba-weapon .sheet-result span.fullcrit {
	color: #3fb315;
	border: 0;
}

.sheet-rolltemplate-nba .sheet-result span.fullfail,
.sheet-rolltemplate-nba-weapon .sheet-result span.fullfail {
	color: #b31515;
	border: 0;
}

.sheet-rolltemplate-nba .sheet-points,
.sheet-rolltemplate-nba-weapon .sheet-points {
	font-size: 11px;
	font-style: italic;
}

.sheet-rolltemplate-nba-weapon .sheet-label {
	padding-top: 10px;
}

.sheet-rolltemplate-nba .sheet-points span.inlinerollresult,
.sheet-rolltemplate-nba-weapon .sheet-points span.inlinerollresult {
	border: none;
	background-color: #fff;
}