-
  const data = {
    sheets: ['character', 'hub'],
    character: {},
    hub: {},
    common: {},
  }

include character/header.data.pug
include character/navbar.data.pug
include character/belongings.data.pug
include character/personal.data.pug
include character/situation.data.pug

include hub/header.data.pug
include hub/navbar.data.pug
include hub/hubcargo.data.pug
include hub/hubinfo.data.pug
include hub/hubdata.data.pug

include common/config.data.pug
include common/notes.data.pug
