include ../../components/nav/nav-bar
include ../../components/resources/resources
include ../common/connections
include ../common/vows
include ../common/progress
include ../common/ship
include ./moves
include ./assets
include ./summary
include ./oracles
include ./legacies

- var type = 'character'

.header
  +resources(type)

  //- Momentum
  include ../../components/momentum/momentum

  //- Nav Bar
  +navBar(type)

//- Pages
+summaryPage
+connectionsPage(type)
+vowsPage(type)
+assetsPage
+movesPage
+progressPage(type)
+oraclesPage
+legaciesPage(type)
+shipPage(type)
