include ../../components/legacies/tracks

mixin legaciesPage
  div.page-container
    input(type='radio' name='attr_character_page' class='legacies hide-element' value='10')
    div.legacies.showhide
      +legacies()