include ../../components/impacts/impacts
include ../../components/vows/vow-container
include ../../components/stats/character

mixin summaryPage
  .page-container
    input(type='radio' name='attr_character_page' class='summary hide-element' value='1' checked)
    .summary.showhide
      +stats()
      h3.divide(data-i18n='page-summary-impacts')=translation['page-summary-impacts']
      +impacts(impacts, { title: true, customImpacts: true})
      include ../../components/notes/notes