include ../../components/debilities/debilities
include ../../components/vows/vow-container
include ../../components/misses/track
include ../../components/stats/character
include ../../components/legacies/tracks

mixin summaryPage
  .page-container
    input(type='radio' name='attr_character_page' class='summary hide-element' value='1' checked)
    .summary.showhide
      +stats()
      +misses()
      h3.divide(data-i18n='page-summary-legacies')=locals['page-summary-legacies']
      +legacies()
      h3.divide(data-i18n='page-summary-vows')=locals['page-summary-vows']
      .vows
        fieldset.repeating_vow
          +repeatingVow()
      h3.divide(data-i18n='page-summary-debilities')=locals['page-summary-debilities']
      +debilityList({character: true})
      include ../../components/notes/notes