include ../../components/impacts/impacts
include ../../components/vows/vow-container
include ../../components/stats/character

mixin summaryPage
  .page-container
    input(type='radio' name='attr_character_page' class='summary hide-element' value='1' checked)
    .summary.showhide
      +stats()
      h3.divide.i18n-text(data-i18n='impacts')=translation['impacts']
      - const impactArray = impacts.filter(obj => { return obj.title !== 'ship' })
      +impacts(impactArray, { title: true, customImpacts: true})
      include ../../components/notes/notes