.sheet-wrapper {margin:5px; padding:0px}

/* background toggle*/
.sheet-useBackground input[value="1"]:checked ~ *.sheet-background { background-image:none; background-color:white;}
.sheet-useBackground input[value="2"]:checked ~ *.sheet-background { background-image:url("http://i.imgur.com/izwlEug.jpg"); background-size: cover; background-position: center top;}

.sheet-table {display:table; width:100%;}
.sheet-table-row {display: table-row; width:100%;}
.sheet-table-data {display:table-cell; vertical-align:bottom;}
.sheet-data {display:table-cell; vertical-align:bottom;}
.sheet-left {text-align:left;}
.sheet-right {text-align:right;}
.sheet-center {text-align:center;}
.sheet-border {border:1px solid gray; border-radius:10px; padding-bottom:5px;}

table, tr {width:100%;}
table, tr, td {font-size:12px; font-weight:bold;}

input.sheet-input-small {width:3.5em; height:2em;}
input.sheet-input-medium {width:5em; height:2em;}
input.sheet-input-large {width:11em; height:2em;}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {background-color: #F1F1F1; cursor:not-allowed;}

button[type=roll] {line-height:1em;}

.sheet-header {display:inline-block; font-size:16px; font-weight:bold; margin:0px -5px 0px 0px;}

hr {border-top: 1px solid #8c8b8b; margin:5px;}
.sheet-text-small {font-size:10px;}
.sheet-text-med {font-size:12px; font-weight:bold;}
.sheet-text-large {font-size:14px; font-weight:bold;}

div.sheet-table-row textarea {width:98%; margin:0px 5px 0px 3px; height:75px;}

/*HP and AC*/
input.sheet-input-small.sheet-box {border: 1px solid #000; height:30px; width:50px; font-size:14px;}

/*hide and seek magic*/
.sheet-sect-show:not(:checked)~.sheet-sect {display: none;}
input[type="checkbox"] + span:not(.sheet-not-sheet-show)::before {display: inline-block; content:'►'; width:14px; height:16px; font-size:.85em; vertical-align:text-bottom; margin-bottom:1px;}
input[type="checkbox"]:checked + span:not(.sheet-not-sheet-show)::before {content:'▼';}

/*repeating item counter*/
.sheet-repeating-fields {counter-reset: sheet-rep-items -1;}

input[type="checkbox"].sheet-counted + span:not(.sheet-not-sheet-show)::before {
    counter-increment: sheet-rep-items;
    content: counter(sheet-rep-items) '. ' !important;
	width: auto !important;
}
input[type="checkbox"].sheet-counted:checked + span:not(.sheet-not-sheet-show)::before {
    counter-increment: sheet-rep-items;
    content: counter(sheet-rep-items) '. ' !important;
	width: auto !important;
}
/* end repeating item counter*/

/*section specific*/
.sheet-personal_attributes,.sheet-abilities,.sheet-saves,.sheet-weapons,.sheet-to_hit_AC,.sheet-thief_skills,
.sheet-wealth,.sheet-equipment,.sheet-special_abilities,.sheet-spells,.sheet-notes {margin-top:0px;}

tr.sheet-to-hit td:nth-child(odd){background-color:#726E6D; color:#ffffff;}
tr.sheet-to-hit td:nth-child(even){background-color:#E5E4E2;}
.sheet-to-hit-input input {width:108%; height:24px; text-align:center;}

div.sheet-footer span.sheet-data input[type="text"] {width:21em; height:1.5em; border:none; background-color:rgba(0, 0, 0, 0); margin-top:-2px;}

/*repeating sections*/
span.sheet-data.sheet-center {padding:0px 5px 0px 5px;}
span.sheet-data.sheet-center input {width:5.5em; height:2em;}
span.sheet-table-header {display:inline-block;}
span.sheet-table-data {display:inline-block;}
textarea.sheet-weapons {width:20em; resize:none; max-height:1.3em; overflow:hidden; white-space:nowrap; margin:0;}

/*Roll Templates*/
/*Attacks*/
.sheet-rolltemplate-attacks table {
    width:100%;
    background-color:white;
    border:2px solid #000;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 5px;
  	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-attacks th {
	background-color:#000;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
  	text-align: center;
}

.sheet-rolltemplate-attacks .sheet-subheader {
	background-color:#000;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:0.9em;
  	text-align: center;
	padding-bottom: 5px;
}

.sheet-rolltemplate-attacks .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-attacks td {
	padding:2px;
	line-height:1em;
	vertical-align:top;
	text-align:right;
}

.sheet-rolltemplate-attacks .sheet-ToHit {
	font-family: monospace;
  	font-size: 10px;
	line-height: .80em !important;
}

.sheet-rolltemplate-attacks tr:nth-child(odd) {
	background-color:#E6E6E6;
}

.sheet-rolltemplate-attacks tr:nth-child(even) {
	background-color:#A3A3A3;
}

.sheet-rolltemplate-attacks .inlinerollresult  {
	display: inline-block;
  	min-width: 1em;
  	min-height: 1em;
  	text-align: right;
  	border: 1px solid #000;
  	padding: 2px;
}

.sheet-rolltemplate-attacks .inlinerollresult.fullcrit {
	border: 2px solid #3FB315;
}

.sheet-rolltemplate-attacks .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-attacks .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}

/*General*/
.sheet-rolltemplate-general table {
    width:100%;
	background-color:white;
	border:2px solid #000;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 5px;
  	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-general th {
	background-color:#000;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:1em;
	font-weight:bold;
  	text-align: center;
}

.sheet-rolltemplate-general .sheet-subheader {
	background-color:#000;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-size:0.9em;
  	text-align: center;
	padding-bottom: 5px;
}

.sheet-rolltemplate-general .sheet-tcat {
	font-weight: bold;
}

.sheet-rolltemplate-general td {
	padding:2px;
	line-height:1em;
	vertical-align:top;
	text-align:center;
}

.sheet-rolltemplate-general tr:nth-child(odd) {
	background-color:#E6E6E6;
}

.sheet-rolltemplate-general tr:nth-child(even) {
	background-color:#A3A3A3;
}

.sheet-rolltemplate-general .inlinerollresult  {
	display: inline-block;
  	min-width: 1em;
  	min-height: 1em;
  	text-align: right;
  	border: 1px solid #000;
  	padding: 2px;
}

.sheet-rolltemplate-general .inlinerollresult.fullcrit {
	border: 2px solid #3FB315;
}

.sheet-rolltemplate-general .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-general .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}

.sheet-rolltemplate-general .sheet-savethrow .inlinerollresult.importantroll {
	border: 2px solid #3FB315;
}

.sheet-rolltemplate-general .sheet-savethrow {
	vertical-align:inherit;
	font-weight:bold;
}