* {
    box-sizing: border-box;
}
.charsheet {
    background-color: white;
}
.sheet-darkmode .charsheet {
    background-color: #202020;
}
/* ---- DIV ----- */
div{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
div.sheet-main{
    padding: 4px;
    width: 850px;
    text-align:center;
    font-family: 'Verdana';
    border-width: 1px;
    border-style: solid;
    border-color: #AAAAAA;
}
div.sheet-ligne{
    display: block;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin: 1px 0px 1px 0px;
}
div.sheet-mycol{
    display: inline-block;
    vertical-align: top;
}
div.sheet-mycolbrd{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 3px;
    margin-bottom: 3px;
}
div.sheet-borderRight {
    border-right: 1px solid black;
}
.sheet-darkmode div.sheet-borderRight {
    border-right: 1px solid white;
}
div.sheet-borderBottom {
    border-bottom: 1px solid black;
}
.sheet-darkmode div.sheet-borderBottom {
    border-bottom: 1px solid white;
}
div.sheet-libeldesc{
    color: black;
    display: block;
    font-size: 0.7em;
    text-align: right;
	vertical-align: middle;
	margin-bottom: 1px;
}
.sheet-darkmode div.sheet-libeldesc{
    color: white;
}
div.sheet-libel1{
    color: black;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
	vertical-align: middle;
    width: 60px;
    font-variant: small-caps;
	margin-bottom: 4px;
}
.sheet-darkmode div.sheet-libel1{
    color: white;
}
div.sheet-libel2{
    color: black;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
	vertical-align: middle;
    width: 50px;
    font-variant: small-caps;
	margin-bottom: 4px;
}
.sheet-darkmode div.sheet-libel2{
    color: white;
}
div.sheet-libel3{
    color: black;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
	vertical-align: middle;
    width: 100px;
    font-variant: small-caps;
	margin-bottom: 2px;
}
.sheet-darkmode div.sheet-libel3{
    color: white;
}
/* --------------------- */
/* --------FORMS-------- */
/* --------------------- */
select {
    color: black;
    background-color: WhiteSmoke;
}
.sheet-darkmode select {
    color: white;
    background-color: #383838;
}
select.sheet-short {
    width: 80px;
}

/* ---- INPUT ----- */
input{
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    margin: 0;
    color: black;
    background-color: WhiteSmoke;
    font-family: cursive;
    font-weight: normal;
    border-radius: 0px;
}
.sheet-darkmode input {
    color: white;
    background-color: #383838;
}
input[type="text"]{
    padding: 0px 0px 1px 2px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}
input[type="text"].sheet-biginp{
    font-size: 16px;
    font-weight: bold;
}
input[type="number"]{
    text-align: center;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
}
input[type="number"].sheet-inpnum1c{
    width: 25px;
}
input[type="number"].sheet-inpnum2c{
    width: 35px;
}
input[type="number"].sheet-inpnum2cbig{
    width: 35px;
    font-size: 140%;
}
input[type="number"].sheet-inpnum2cboxed{
    width: 35px;
}
input.sheet-long {
	width: 500px;
}
input.sheet-medium {
	width: 90px;
}
input.sheet-short {
	width: 60px;
}

input.sheet-extrashort {
	width: 40px;
}
textarea {
    resize: none;
    box-sizing: border-box;
    margin: 0px;
    font-weight: normal;
	font-family: cursive;
    color: black;
    background-color: WhiteSmoke;
}
.sheet-darkmode textarea {
    color: white;
    background-color: #383838;
}
textarea.sheet-text2col {
    width: 400px;
}
textarea.sheet-text3col {
    width: 95%;
}

input[type="checkbox"].check-button {
    opacity: 0;
    z-index: 0;
    width: 20px;
    margin-right: -30px;
}
input[type="checkbox"].check-button + label {
    border: 1px solid #AAA;
    box-shadow: 1px 1px 1px #AAA;
    border-radius: 8px;
    color: #888;
    display: inline;
	vertical-align: middle;
    text-align: right;
	margin-bottom: 4px;
    padding-left: 3px;
    z-index: 1;
}
.sheet-darkmode input[type="checkbox"].check-button + label {
    color: #777;
}
input[type="checkbox"].check-button:checked + label {
    color: #111;
    border: 2px solid firebrick;
}
.sheet-darkmode input[type="checkbox"].check-button:checked + label {
    color: #EEE;
    border-color: palegoldenrod;
}
input[type="checkbox"].check-buttonExalt + label {
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    width: 110px;
}
input[type="checkbox"].check-buttonComp + label {
    font-size: 14px;
    width: 90px;
    /* font-weight: bold; */
    /* font-variant: small-caps; */
    /* width: 110px; */
}
/* --------------------- */
/* --------TEXT--------- */
/* --------------------- */
.sheet-infoDesc {
    color: black;
}
.sheet-darkmode .sheet-infoDesc {
    color: white;
}
label.sheet-avent2 {
    font-size:10px;
    margin-top:0px;
    margin-bottom:0px;
}
/* --------------------- */
/* -------BOUTONS------- */
/* --------------------- */
.repcontrol .btn {
    color: #383838;
    background: WhiteSmoke;
	display: inline-block;
    text-shadow: none;
    box-shadow: none;
}
.sheet-darkmode .repcontrol .btn {
    color: WhiteSmoke;
    background: #383838;
}

.ui-dialog button[type=roll].sheet-btBig {
    display: inline-block;
    font-size: 22px;
    height: 25px;
    width: 75px;
    line-height: 13px;
    font-weight: bold;
    text-align: left;
    font-variant: small-caps;
	vertical-align: middle;
	margin-bottom: 4px;
}
.ui-dialog button[type=roll].sheet-btMid {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    height: 16px;
    width: 55px;
    line-height: 12px;
    text-align: left;
	vertical-align: middle;
	margin-bottom: 4px;
}
.ui-dialog button[type=roll].sheet-btSmall {
    display: inline-block;
    font-size: 10px;
    height: 12px;
    width: 45px;
    line-height: 11px;
    text-align: left;
	vertical-align: middle;
	margin-bottom: 4px;
}

.ui-dialog button[type=roll].sheet-btRoll20deminiv,
.ui-dialog button[type=roll].sheet-btRoll20niv,
.ui-dialog button[type=roll].sheet-btRoll4,
.ui-dialog button[type=roll].sheet-btRoll6,
.ui-dialog button[type=roll].sheet-btRoll8{
    color: black;
    padding: 0;
    margin: 0;
    border: 1px solid #AAA;
    background:none;
    opacity: 1;
    box-shadow: 1px 1px 1px #AAA;
    text-shadow: none;
}
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll20deminiv,
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll20niv,
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll4,
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll6,
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll8{
    color: white;
}
.ui-dialog button[type=roll]:hover{
   border-color: black;
}
.sheet-darkmode .ui-dialog button[type=roll]:hover{
   border-color: white;
}

.ui-dialog button[type=roll].sheet-btRoll20deminiv:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd20;
    content: "t";
}
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll20deminiv:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd20;
    content: "T";
}

.ui-dialog button[type=roll].sheet-btRoll20niv:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd20;
	content: "T";
}
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll20niv:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd20;
	content: "t";
}

.ui-dialog button[type=roll].sheet-btRoll4:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd4;
	content: "D";
}
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll4:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd4;	content: "d";
}
.ui-dialog button[type=roll].sheet-btRoll6 {
    vertical-align: center;
}
.ui-dialog button[type=roll].sheet-btRoll6:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd6;
	content: "F";
}
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll6:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd6;
	content: "f";
}

.ui-dialog button[type=roll].sheet-btRoll8:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd8;
	content: "H";
}
.sheet-darkmode .ui-dialog button[type=roll].sheet-btRoll8:before {
    font-weight: normal;
    font-variant: normal;
	font-family: dicefontd8;
	content: "h";
}

/* --------------------- */
/* ----SWITCH PJ/PNJ---- */
/* --------------------- */
div.sheet-block_b {
    display: none;
}
input.sheet-block_switch:checked ~ div.sheet-block_a {
    display: none;
}
input.sheet-block_switch:checked ~ div.sheet-block_b {
    display: inline;
}

/* --------------------- */
/* ----- TEMPLATES ----- */
/* --------------------- */
.sheet-rolltemplate-jet div {
    color: black;
    text-align: left;
    font-size: 110%;
    font-weight: normal;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
    padding-left: 10px;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-jet div {
    color: white;
}

.sheet-rolltemplate-jet div.sheet-template-main {
    background: palegoldenrod;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-jet div.sheet-template-main {
    background: darkred;
    border: 1px solid white;
}

.sheet-rolltemplate-jet .sheet-template-charName {
    text-align: center;
    margin-bottom: 2px;
    font-size: 120%;
    font-weight: bold;
}

.sheet-rolltemplate-jet .sheet-template-title {
    color: darkred;
    text-align: center;
    margin-bottom: 5px;
    font-size: 110%;
    font-weight: bold;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-jet .sheet-template-title {
    color: palegoldenrod;
}

.sheet-rolltemplate-jet .sheet-template-rollDesc {
	margin-bottom: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
    font-size: 90%;
    font-weight: normal;
    font-style: italic;
}

.sheet-rolltemplate-jet .sheet-template-success {
    color: green;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-jet .sheet-template-success {
    color: greenyellow;
}
.sheet-rolltemplate-jet .sheet-template-failure {
    color: red;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-jet .sheet-template-failure {
    color: pink;
}

.sheet-rolltemplate-jet .inlinerollresult,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-jet .inlinerollresult {
	display: inline-block;
    text-align: center;
    background: none;
    padding: 1px;
    border: none;
	min-width: 1em;
}

.sheet-rolltemplate-jet .sheet-noCrit .inlinerollresult.fullcrit,
.sheet-rolltemplate-jet .sheet-noCrit .inlinerollresult.fullfail,
.sheet-rolltemplate-jet .inlinerollresult.importantroll {
    border: none;
}

.sheet-rolltemplate-jet .sheet-enableCrit .inlinerollresult.fullcrit,
.sheet-rolltemplate-jet .sheet-enableCrit .inlinerollresult.fullfail {
    border-style: none none solid none;
    border-color: darkred;
    font-style: italic;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-jet .sheet-enableCrit .inlinerollresult.fullcrit,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-jet .sheet-enableCrit .inlinerollresult.fullfail {
    border-color: palegoldenrod;
}
