.sheet-wfrp-npc {

    background: url("https://s3.amazonaws.com/files.d20.io/images/160727772/3ooM_wEx6-v_u4EaT9mBPg/max.png") repeat;

    &__wrapper {

        h1 {
            font-size: $h1-size * 2.5;
            font-variant: small-caps;
        }

    }

    &settings {

        &__toggle {
            margin: $margin-large;

            input.sheet-wfrp-npcsettings__hide[type="checkbox"] {
                display: none;

                &:checked ~ span {
                    opacity: 1;
                }
            }

            span {
                font-size: $h1-size;
                opacity: .5;
            }

            &:hover {
                cursor: pointer; 

                span {
                    font-size: $h1-size;
                    opacity: 1;
                }
            }

        }

        &__wrapper {
            margin: auto;
            padding: $margin-general 10%;

            border-bottom: $grid-border-settings;
            background: rgba(195, 223, 241, 0.125);

            h2 {
                margin-top: $margin-large * 3;
                padding-bottom: $margin-general;
                margin-bottom: $margin-large;

                background: url("https://s3.amazonaws.com/files.d20.io/images/151167682/MU4qaf0sjSe1o3s318ZhKA/max.png") no-repeat calc(50% + 10px) 100%/90% 15px;

                font-size: $h1-size * 1.25;
                text-transform: uppercase;
                text-align: center;    
            }

            select.sheet-wfrp-npcsettings__select,
            input[type="number"].sheet-wfrp-npcsettings__input,
            input[type="text"].sheet-wfrp-npcsettings__input {                
                background: none;
                border-bottom: 1px solid black;
            }

            textarea.sheet-wfrp-npcsettings__textarea {
                height: 7em;
                resize: vertical;

                border-top: 1px solid rgba(36, 107, 131, .33);
                border-bottom: 1px solid rgba(36, 107, 131, .33);
            }

        }

        &__characteristics {
            display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: $margin-large;
                align-items: stretch;
            margin: 0 auto;
            max-width: 600px;
        }

        &__characteristic {
            text-align: center;

            &:empty {
                display: block;
            }
        }

        &__label {
            font-weight: bold;
        }

        &__skills {
            display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: $margin-large $margin-large * 2;
            margin: 0 $margin-large * 3;
        }

        &__skill {
            display: grid;
                grid-template-columns: 1fr 1.5em;
        }

        &__settings {
            display: grid;
                grid-template-columns: 1fr 1fr;
                gap: $margin-large $margin-large * 2;
            margin: 0 $margin-large * 3;
        }

        &__row {
            display: grid;
                grid-template-columns: 1fr .5fr;

        }

    }

    &__slash {
        margin: $margin-large*2 0;
        padding: $margin-large 2.5%;
        background: url("https://s3.amazonaws.com/files.d20.io/images/160723383/I0S4DZJH5fDt80oHEHXiiw/max.png") no-repeat 50% 50% / 100% 100%;
    }

    &skill {
        display: grid;
            grid-template-columns: 1fr .25fr;
    }

    &__description {
        font-family: $font-family-alt;
        font-size: $font-alt-medium * 1.2;
    }

    &__stats {
        display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: $margin-large*2 auto;
        max-width: 600px;

        font-size: 1.65rem;
    }

    &characteristic {

        &__col {
            text-align: center;
        }

        &__cell {
            min-height: 49%;

            &--head {
                @extend .sheet-wfrp-npccharacteristic__cell
            }

            > span {
                font-size: 1.65rem !important;
            }

            &:empty {
                content: "";
                height: 100%;
            }

        }

    }

    &__skills {

        input[type="hidden"][value="0"] + button.sheet-wfrp-npcskill {
            display: none;
        }
    }

    button[type="roll"]#{&}skill {
        display: flex;
            align-items: center;
        margin-right: $margin-large;
        width: auto;

        font-size: $font-general-medium * 1.15;
    }

    &skill {

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            margin: auto; 
        }

        &__title {
            display: inline;
            margin-right: $margin-general;

            font-weight: bold;

            &:after {
                display: inline;
                content: ":";
            }
        }

        &__value {
            display: inline;

            font-family: $font-family-alt;

            &:after {
                display: inline;
                content: ",";
            }
        }
    }
    
    &__grid {
        display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $margin-large * 2;
            align-items: start;
        margin: $margin-large * 2;

        > div {
            padding: 0 $margin-general;

            > div {
                margin-bottom: $margin-general * 4;
            }
        }
    }

    &advantage {
        padding: $margin-large $margin-general;
        margin-bottom: $margin-large;

        background: rgba(36, 107, 131, 0.075);

        border-bottom: 1px solid rgba(36, 107, 131, .33);
        border-top: 1px solid rgba(36, 107, 131, .33);
        
        .sheet-wfrp-advantage {

            &__wrapper {
                display: grid;
                    grid-template-columns: 1.5fr 3rem 3rem 1fr 3rem;
                    justify-items: center;
                    align-items: center;
                width: 70%;
                margin: auto;
    
                font-size: $font-general-medium * 1.15;
                text-align: center;
            }
    
            &__label {
                font-weight: bold;
            }
        }
    }

    h2#{&}__subtitle {
        margin: auto;
            margin-bottom: $margin-large;
        padding-bottom: $margin-general;

        background: url("https://s3.amazonaws.com/files.d20.io/images/151167682/MU4qaf0sjSe1o3s318ZhKA/max.png") no-repeat calc(50% + 10px) 100%/100% 15px;

        font-size: $h1-size * 1.15;
        text-transform: uppercase;
        text-align: center; 
    }

    &controls {

        &__wrapper {
            display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: $margin-small;
            margin: $margin-small;
        }

        &__button {

            button[type="roll"] {
                background: rgba($form-button-background,0.125);
    
                text-align: center;
            }

        }
    }

    &talent,
    &trait,
    &attack {
        font-family: $font-family-alt;

        .repitem:first-child .sheet-wfrp-npctalent__row,
        .repitem:first-child .sheet-wfrp-npctrait__row,
        .repitem:first-child .sheet-wfrp-npcattack__row {
            padding-top: 0;
        }

        .repitem:nth-child(even) {
            background: rgba(36, 107, 131, 0.075);
        }

        .repcontrol {
            margin-top: $margin-large;
            
            border: 0;
        }

        &__row {
            display: flex;
                flex-wrap: wrap;
                align-items: center;
            padding: $margin-large $margin-small;
                padding-bottom: $margin-large;

            border-bottom: 1px dashed black;

            .sheet-wfrp-settings {
                width: 100%;
            }
        }

        &__cell {
            margin-right: .5rem;

            &--settingstoggle {
                margin-right: .25rem;
            }

            &--title {
                width: 85%;
                font-family: $font-family-general;
                font-size: $h1-size;
                font-weight: bold;
            }

            &--description {
                width: 100%;
            }
        }

        &__ranks {
            display: inline-flex;
            flex-direction: row;

            margin-left: .35em;

            &:not(:empty) {

                &:before,
                &:after {
                    display: block;
                }

                &:before {
                    content: "(";
                }

                &:after {
                    content: ")";
                }
            }
        }

        &__label {
            margin-right: .33rem; 

            font-family: $font-family-general;
            font-weight: bold;
        }
    }

    &trappings {

        textarea#{&}__textarea {
            height: 10em;
            resize: vertical;

            border-top: 1px solid rgba(36, 107, 131, .33);
            border-bottom: 1px solid rgba(36, 107, 131, .33);
        }

    }

}