
-
  var weapons = [
    {preselect:true, id:'weapon_punch',   damage:0, ap:1, baseattribute:'attribute_athletic', name:'Punch',  note:'Parry -3, except Punches'},
    {preselect:false, id:'weapon_dagger',  damage:1, ap:1, baseattribute:'attribute_dexterity', name:'Daggers & Knives', note:'Giftverwendung / Parry -2, except Punches and Daggers & Knives'},
    {preselect:false, id:'weapon_fencing', damage:2, ap:1, baseattribute:'attribute_athletic', name:'Fencing Weapons',  note:'Parry -1 per engaged enemy after the first one'},
    {preselect:false, id:'weapon_swords' , damage:3, ap:2, baseattribute:'attribute_strength', name:'Swords',  note:'full parry'},
    {preselect:false, id:'weapon_scimitar',damage:4, ap:2, baseattribute:'attribute_strength', name:'Scimitars',  note:'Parry -1', mounted:true, mounted_damage:5, mounted_ap:2},
    {preselect:false, id:'weapon_impact',  damage:5, ap:2, baseattribute:'attribute_strength', name:'Impact Weapons',  note:'Parry -2'},
    {preselect:false, id:'weapon_polearm', damage:6, ap:3, baseattribute:'attribute_strength', name:'Polearms',  note:'Parry costs 2AP', vs_mounted:true, vs_mounted:8, vs_mounted_ap:3},
    {preselect:false, id:'weapon_lance',   damage:6, ap:3, baseattribute:'attribute_strength', name:'Lance Weapons',  note:'Parry costs 2AP', mounted:true, mounted_damage:7, mounted_ap:2},
    {preselect:false, id:'weapon_sling' ,  damage:1, ap:2, baseattribute:'attribute_dexterity', name:'Sling',  note:'Geschossgeeignet, Thrower must be free'},
    {preselect:false, id:'weapon_pistol',  damage:3, ap:2, baseattribute:'attribute_senses', name:'Pistol',  note:'Immer freie Schussmöglichkeit'},
    {preselect:false, id:'weapon_crossbow',damage:5, ap:3, baseattribute:'attribute_senses', name:'Crosswbow',  note:'Shooter must be free'},
    {preselect:false, id:'weapon_musket',  damage:8, ap:3, baseattribute:'attribute_senses', name:'Musket',  note:'Shooter and target must be free'},
    {preselect:true, id:'weapon_dodge',   damage:0, ap:1, baseattribute:'attribute_athletic', name:'Dodge',  note:'Per engaged enemy -1, ranged attacks -1'},
    {preselect:false, id:'weapon_shield',  damage:0, ap:1, baseattribute:'attribute_strength', name:'Shield',  note:'Only 1x per round / blocks ranged attacks'}
  ];

  var skills = [
    {id:'skill_acrobatics', baseattribute:'attribute_athletic', name:'Akrobatik'},
    {id:'skill_alertness', baseattribute:'attribute_senses'},
    {id:'skill_perception', baseattribute:'attribute_senses'},
    {id:'skill_firstaid', baseattribute:'attribute_knowledge'},
    {id:'skill_sleightofhand', baseattribute:'attribute_dexterity'},
    {id:'skill_mentalpower', baseattribute:'attribute_willpower'},
    {id:'skill_crafting', baseattribute:'attribute_dexterity'},
    {id:'skill_stealth', baseattribute:'attribute_athletic'},
    {id:'skill_countryandpeople', baseattribute:'attribute_knowledge'},
    {id:'skill_rhetoric', baseattribute:'attribute_willpower'},
    {id:'skill_flexing', baseattribute:'attribute_strength'},
    {id:'skill_reflexes', baseattribute:'attribute_senses'},
    {id:'skill_riding', baseattribute:'attribute_athletic'},
    {id:'skill_insensibility', baseattribute:'attribute_strength'},
    {id:'skill_fieldsofknowledge', baseattribute:'attribute_knowledge'},
    {id:'skill_witchcraft', baseattribute:'attribute_knowledge'}
  ];

mixin modoptions
  <option value="0" selected="selected" data-i18n="mod_none">None</option>
  <option value="mod_checks_all" data-i18n="mod_checks_all">Alle Proben</option>
  <option value="hitpoints" data-i18n="hitpoints">Lebenspunkte</option>
  <option value="ini" data-i18n="ini">Initiative</option>
  <option value="mod_parry_all" data-i18n="mod_parry_all">Alle Paraden</option>
  <option value="idea" data-i18n="idea">Ideen</option>
  <option value="coup" data-i18n="coup">Coups</option>
  <option value="attribute_strength" data-i18n="attribute_strength">attribute_strength</option>
  <option value="attribute_athletic" data-i18n="attribute_athletic">attribute_athletic</option>
  <option value="attribute_dexterity" data-i18n="attribute_dexterity">attribute_dexterity</option>
  <option value="attribute_senses" data-i18n="attribute_senses">attribute_senses</option>
  <option value="attribute_knowledge" data-i18n="attribute_knowledge">attribute_knowledge</option>
  <option value="attribute_willpower" data-i18n="attribute_willpower">attribute_willpower</option>
  <option value="skill_acrobatics" data-i18n="skill_acrobatics">skill_acrobatics</option>
  <option value="skill_alertness" data-i18n="skill_alertness">skill_alertness</option>
  <option value="skill_perception" data-i18n="skill_perception">skill_perception</option>
  <option value="skill_firstaid" data-i18n="skill_firstaid">skill_firstaid</option>
  <option value="skill_sleightofhand" data-i18n="skill_sleightofhand">skill_sleightofhand</option>
  <option value="skill_mentalpower" data-i18n="skill_mentalpower">skill_mentalpower</option>
  <option value="skill_crafting" data-i18n="skill_crafting">skill_crafting</option>
  <option value="skill_stealth" data-i18n="skill_stealth">skill_stealth</option>
  <option value="skill_countryandpeople" data-i18n="skill_countryandpeople">skill_countryandpeople</option>
  <option value="skill_rhetoric" data-i18n="skill_rhetoric">skill_rhetoric</option>
  <option value="skill_flexing" data-i18n="skill_flexing">skill_flexing</option>
  <option value="skill_reflexes" data-i18n="skill_reflexes">skill_reflexes</option>
  <option value="skill_riding" data-i18n="skill_riding">skill_riding</option>
  <option value="skill_insensibility" data-i18n="skill_insensibility">skill_insensibility</option>
  <option value="skill_fieldsofknowledge" data-i18n="skill_fieldsofknowledge">skill_fieldsofknowledge</option>
  <option value="skill_witchcraft" data-i18n="skill_witchcraft">skill_witchcraft</option>
  <option value="weapon_punch" data-i18n="weapon_punch">weapon_punch</option>
  <option value="weapon_dagger" data-i18n="weapon_dagger">weapon_dagger</option>
  <option value="weapon_fencing" data-i18n="weapon_fencing">weapon_fencing</option>
  <option value="weapon_swords" data-i18n="weapon_swords">weapon_swords</option>
  <option value="weapon_scimitar" data-i18n="weapon_scimitar">weapon_scimitar</option>
  <option value="weapon_impact" data-i18n="weapon_impact">weapon_impact</option>
  <option value="weapon_polearm" data-i18n="weapon_polearm">weapon_polearm</option>
  <option value="weapon_lance" data-i18n="weapon_lance">weapon_lance</option>
  <option value="weapon_sling" data-i18n="weapon_sling">weapon_sling</option>
  <option value="weapon_pistol" data-i18n="weapon_pistol">weapon_pistol</option>
  <option value="weapon_crossbow" data-i18n="weapon_crossbow">weapon_crossbow</option>
  <option value="weapon_musket" data-i18n="weapon_musket">weapon_musket</option>
  <option value="weapon_dodge" data-i18n="weapon_dodge">weapon_dodge</option>
  <option value="weapon_shield" data-i18n="weapon_shield">weapon_shield_ma</option>
                

input(type="hidden" class="tutorialtoggle" name="attr_tutorial_done" value="0")
input(type='hidden' class='npctoggle' name='attr_npc'  value='0')
input(type="hidden" class="npc_type_toggle" name="attr_npc_type" value="npc_type_gang")

div(class="charsheet")
  input(type='hidden' class='tabstoggle' name='attr_sheetTab'  value='character')

  div(class="sticky")
    div(class="2colrow")
      include src/html/sticky.pug
      


  include src/html/character/character.pug
  include src/html/combat/combat.pug
  include src/html/npc/npc.pug
  include src/html/config.html


//- SHEET WORKERS
script(type="text/worker")
    include src/js/sheetworker.js

include src/html/rolltemplate_check.pug
include src/html/rolltemplate_blood.pug
include src/html/rolltemplate_elixir.pug
