.wfrp-settingswrapper 
    .wfrp-settingspanel.wfrp-panel.page__settings
        h1.wfrp-panel__header(data-i18n="General")

        .wfrp-settingstable

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="NPC")
                input.wfrp-settingstable__checkbox(name=`attr_npc`, type="checkbox")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Character Size")
                select.wfrp-settingstable__select(name="attr_size")
                    option(data-i18n="Tiny", value="tiny")
                    option(data-i18n="Little", value="little")
                    option(data-i18n="Small", value="small")
                    option(data-i18n="Average", value="average", selected)
                    option(data-i18n="Large", value="large")
                    option(data-i18n="Enormous", value="enormous")
                    option(data-i18n="Monstrous", value="monstrous")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Experience Mod")
                input.wfrp-settingstable__select(name=`attr_experience_mod`, type="number", value="0")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Wounds Mod")
                input.wfrp-settingstable__select(name=`attr_wound_mod`, type="number", value="0")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Encumbrance Mod")
                input.wfrp-settingstable__select(name=`attr_encumbrance_mod`, type="number", value="0")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Hide Control Buttons")
                select.wfrp-settingstable__select(name="attr_setting_button_hide")
                    option(data-i18n="Off", value="1")
                    option(data-i18n="On", value="2")

    .wfrp-settingspanel.wfrp-panel.page__settings
        h1.wfrp-panel__header(data-i18n="Roll Options")

        .wfrp-settingstable

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Query Difficulty")
                select.wfrp-settingstable__select(name="attr_setting_diff_option")
                    option(data-i18n="On", value="1", selected)
                    option(data-i18n="Off", value="2")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Query Additional Bonuses")
                select.wfrp-settingstable__select(name="attr_setting_bonus_option")
                    option(data-i18n="On", value="1", selected)
                    option(data-i18n="Off", value="2")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Automatic Success & Failure")
                select.wfrp-settingstable__select(name="attr_setting_crit_option")
                    option(data-i18n="Default", value="1", selected)
                    option(value="2") 01/96-100
                    option(value="3") 01/100

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Initiative")
                select.wfrp-settingstable__select(name="attr_setting_init_option")
                    option(data-i18n="Default", value="1", selected)
                    option(value="2") 1d10+I
                    option(value="3") 1d10+IB+AgB

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Whisper to GM")
                select.wfrp-settingstable__select(name="attr_setting_whisper")
                    option(data-i18n="Off", value="1", selected)
                    option(data-i18n="On", value="2")

    .wfrp-settingspanel.wfrp-panel.page__settings
        h1.wfrp-panel__header(data-i18n="Combat Options")

        .wfrp-settingstable

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Maximum Advantage")
                input.wfrp-settingstable__select(name="attr_setting_max_advantage", type="number")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Ranged Damage Bonus")
                input.wfrp-settingstable__select(name="attr_ranged_damage_bonus", type="number")

            .wfrp-settingstable__row
                .wfrp-settingstable__label(data-i18n="Melee Damage Bonus")
                input.wfrp-settingstable__select(name="attr_melee_damage_bonus", type="number")

.wfrp-settingswrapper 

    .wfrp-settingspanel.wfrp-panel.page__settings
        h1.wfrp-panel__header(data-i18n="Custom Modifiers")
        
        .wfrp-settingstable
        
            each characteristic in characteristics
                - const attr = characteristic.name.toLowerCase().replace(/ /g,"_");

                .wfrp-settingstable__row
                    .wfrp-settingstable__label(data-i18n=`${characteristic.name}`)
                    input.wfrp-settingstable__select(name=`attr_${attr}_custom_mod`, type="number", value="0")

.wfrp-settingswrapper 

    .wfrp-settingspanel.wfrp-panel.page__settings
        h1.wfrp-panel__header(data-i18n="Non-Career Advances")
        
        .wfrp-settingstable
        
            each characteristic in characteristics
                - const attr = characteristic.name.toLowerCase().replace(/ /g,"_");

                .wfrp-settingstable__row
                    .wfrp-settingstable__label(data-i18n=`${characteristic.name}`)
                    input.wfrp-settingstable__select(name=`attr_${attr}_noncareer`, type="number", value="0")
            
            h1(data-i18n="Skills")
            .wfrp-advancetable__row--head
                .wfrp-advancetable__cell(data-i18n="Name")
                .wfrp-advancetable__cell--last(data-i18n="Advances")
            +repeating-section("noncareer-skills","advance-row")