
	.charsheet * {
		font-family: monospace;
		padding: 0;
		margin: 0;
		border-collapse: collapse;
		font-size: 1em;
		font-weight: 200;
		color: #ffffff;
		grid-gap: 1rem;
		box-sizing: border-box;
	}

/* Layout */

	sheet-template-container,
	.charsheet {
		background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/CortexPrime-Hammerheads/assets/background.png);
		background-size: 8%;
		background-clip: content-box;
		background-color: #1b1a1a
	}

	.sheet-wrapper {
		min-width: 750px;
		padding: 25px;
		display: grid;
		grid-template-columns: repeat(1, 1fr );
		align-items: start;
	}


/* Trait Blocks */

	.sheet-traits4 {
		display: grid;
		grid-template-columns: repeat(4, 1fr );
		align-items: start;
	}
	
	.sheet-traits3 {
		display: grid;
		grid-template-columns: repeat(3, 1fr );
		align-items: start;
	}
	
	.sheet-traits2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr );
		align-items: start;
	}
	
	.sheet-traits1 {
		display: grid;
		grid-template-columns: repeat(1, 1fr );
		align-items: start;
	}


/* Trait Types */

	.sheet-info {
		border-top: 4px solid #ffcb2b;
		border-left: 1px dashed #ffcb2b;
		padding: 12.5px;
	}

	.sheet-action {
		border: 1px dashed #ffcb2b;
		border-top: 6px solid #ffcb2b;
		padding: 5px;
	}

	.sheet-training {
		text-align: center;
		min-height: 92px;
		border: 1px dashed #ffcb2b;
		border-top: 6px solid #ffcb2b;
		padding: 5px;
	}

	.sheet-distinction {
		border: 1px dashed #ffcb2b;
		border-top: 6px solid #ffcb2b;
		padding: 5px;
	}
	
		.sheet-distinctionType {
			min-width: 70px;
			display: inline-block;
		}
		
		.sheet-distinctionType input {
			max-width: 300px;
		}
	
	.sheet-sfx {
		border-top: 1px dashed #9999ee;
	}

	.sheet-relationship {
		border: 1px dashed #3da069;
		border-top: 6px solid #3da069;
		padding: 5px;
	}

	.sheet-stress {
		border: 1px dashed #bb3030;
		border-top: 6px solid #bb3030;
		padding: 5px;
	}

	.sheet-trauma {
		border: 1px dashed #bb3030;
		border-top: 6px solid #bb3030;
		padding: 5px;
		text-align: left;
		background-color: rgba(255, 0, 0, 0.25);
	}
	
	.sheet-stress, .sheet-trauma {
		min-height: 45px;
	}
	
	.sheet-hide {
		visibility: hidden;
		display: none;
	}

/* copy */

	.charsheet h1 {
		font-size: 1.6em;
		color: #ffffff;
		text-shadow: .2em .2em .2em rgba(255, 255, 255, 0.3)
	}
	
	.charsheet h2 {
		font-size: 1.4em;
		color: #ffffff;
		text-shadow: .2em .2em .1em rgba(255, 255, 255, 0.2)
	}
	
	.charsheet h3 {
		font-size: 1.2em;
		line-height: 1.3em;
		color: #ffffff;
		text-shadow: .1em .2em .2em rgba(255, 255, 255, 0.2)
	}
	
	.charsheet h4 {
		font-size: 1.1em;
		color: #ffffff;
		font-style: italic;
		text-shadow: .1em .1em .2em rgba(255, 255, 255, 0.1)
	}
	
	input[name="attr_Portrait"] + div img.sheet-portrait {
		display: none;
	}
	
	.sheet-legal,
	.sheet-legal a {
		font-size: 0.8em;
		color:rgba(255, 255, 255, 0.69);
	}

/* Portraits */
	
	input[name="attr_Portrait"][value="PC01"] + div img[alt="PC01"],
	input[name="attr_Portrait"][value="PC02"] + div img[alt="PC02"],
	input[name="attr_Portrait"][value="PC03"] + div img[alt="PC03"],
	input[name="attr_Portrait"][value="PC04"] + div img[alt="PC04"],
	input[name="attr_Portrait"][value="PC05"] + div img[alt="PC05"],
	input[name="attr_Portrait"][value="PC06"] + div img[alt="PC06"],
	input[name="attr_Portrait"][value="PC07"] + div img[alt="PC07"],
	input[name="attr_Portrait"][value="PC08"] + div img[alt="PC08"],
	input[name="attr_Portrait"][value="PC09"] + div img[alt="PC09"],
	input[name="attr_Portrait"][value="PC10"] + div img[alt="PC10"],
	input[name="attr_Portrait"][value="PC11"] + div img[alt="PC11"],
	input[name="attr_Portrait"][value="PC12"] + div img[alt="PC12"],
	input[name="attr_Portrait"][value="PC13"] + div img[alt="PC13"],
	input[name="attr_Portrait"][value="PC14"] + div img[alt="PC14"],
	input[name="attr_Portrait"][value="PC15"] + div img[alt="PC15"],
	input[name="attr_Portrait"][value="PC16"] + div img[alt="PC16"],
	input[name="attr_Portrait"][value="PC17"] + div img[alt="PC17"],
	input[name="attr_Portrait"][value="PC18"] + div img[alt="PC18"],
	input[name="attr_Portrait"][value="PC19"] + div img[alt="PC19"],
	input[name="attr_Portrait"][value="PC20"] + div img[alt="PC20"] {
		display: block;
		width: 250px;
		height: auto;
	}
	
	input[name="attr_Portrait"][value="PC0"] + img[alt="Hammerheads"] {
		width: auto !important;
		height: 200px !important;
		padding-left: 60px;
		padding-bottom: 12px;
	}
	
/* Dice */

	img[alt="d0"],
	img[alt="d4"],
	img[alt="d6"],
	img[alt="d8"],
	img[alt="d10"],
	img[alt="d12"],
	img[alt="stressed"] {
		display: none;
	}

	.sheet-stress .sheet-locked + span,
	.sheet-trauma .sheet-locked + span,
	.sheet-action .sheet-locked + span {
		display: block;
		float: left;
		padding-right:10px;
	}
	
	.sheet-training .sheet-locked + span {
		display: inline-block;
	}
	
	.sheet-relationship .sheet-locked + span {
		display: inline-block;
		float: left;
	}
	
	.sheet-locked[value="0"] + span img[alt="d0"],
	.sheet-locked[value="4"] + span img[alt="d4"],
	.sheet-locked[value="6"] + span img[alt="d6"],
	.sheet-locked[value="8"] + span img[alt="d8"],
	.sheet-locked[value="10"] + span img[alt="d10"],
	.sheet-locked[value="12"] + span img[alt="d12"],
	.sheet-locked[value="14"] + span img[alt="stressed"] {
		display: block !important;
	}
	
	.charsheet button[type="roll"].sheet-blank-roll-button::before {
		content: '';
	}
	
	.charsheet button[type="roll"].sheet-blank-roll-button + span {
		visibility: hidden;
		display: none;
	}
	
	.charsheet button[type="roll"].sheet-blank-roll-button {
		color: #444444 !important;
		border: 2px solid #444444 !important;
		background-color: rgba(255, 255, 255, 0.6) !important;
		width: 215px;
		background-image: none !important;
		padding: 8px 8px 8px 8px;
	}

/* halo layout */

	
	input[name="attr_Portrait"][value="PC0"]  {
		border: 1px solid #cccc00;
		text-align: center;
		background-color: rgba(255, 128, 0, 0.05);
	}

	input[name="attr_Portrait"][value="PC0"] + h1.sheet-hide {
		visibility: visible !important;
		display: block;
	}

	input[name="attr_Portrait"]:not([value="PC0"]) ~ .sheet-physical {
		position: absolute;
		top: 165px;
		left: 280px;
		line-height: 25px;
		z-index: 10;
	}

	input[name="attr_Portrait"]:not([value="PC0"]) ~ .sheet-mental {
		position: absolute;
		top: 218px;
		left: 290px;
		line-height: 25px;
		z-index: 10;
	}

	input[name="attr_Portrait"]:not([value="PC0"]) ~ .sheet-social {
		position: absolute;
		top: 270px;
		left: 280px;
		line-height: 25px;
		z-index: 10;
	}
	
	
	input[name="attr_Portrait"]:not([value="PC0"]) + .sheet-action {
		border: none;
		border-top: none;
		padding: 0;
	}

/* Field style */

	input[type="text"][name^="attr"] {
		border: 1px dashed rgba(0, 0, 0, 0);
		background-color: rgba(255, 255, 255, 0) !important;
		padding: 0 5px;
		color: #ffffff !important;
		font-size:  1em;
		line-height: 1.2em;
	}
	
	textarea[name^="attr"] {
		border: 1px dashed rgba(0, 0, 0, 0.06);
		background-color: rgba(255, 255, 255, 0) !important;
		padding: 0 5px;
		color: #ffffff !important;
		font-size:  1em;
		line-height: 1.2em;
		width: 95%;
		height: 4em;
	}
		textarea.sfx {
			width:  80%;
			margin-left: 15px;
		}

/* Tool Tip */
/* Tooltip container */

.sheet-tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Tooltip text */
.sheet-tooltip .sheet-tooltiptext {
  visibility: hidden;
  width: 22ch;
  background-color: rgba(255, 255, 255, 0.86);
  color: #000;
  text-align: left;
  padding: 5px 5px;
  border: 1px dashed black;
  min-height: 60px;
  max-height: 70px;
  width: 100%;
  line-height: 0.9em;
  font-size: 0.8em;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 0px;
  top: -64px;
  z-index: 3;
}

.sheet-tooltiptext {
  font-size: 0.7em;
}

/* Show the tooltip text when you mouse over the tooltip container */


input.sheet-tooltipSwitch[value="off"] {
	
}

input[name="attr_tooltipSwitch"][value="on"] ~ div h3.sheet-tooltip:hover .sheet-tooltiptext {
  visibility: visible;
}

/* Edit Stress */

.charsheet label {
	all: unset;
	position: absolute;
	font-size: 4px;
	padding: 1ch;
	color: rgba(61, 161, 106, 0.02);
	border: 2px solid rgba(61, 161, 106, 0.32);
	background-color: rgba(61, 161, 106, 0.02);
	z-index: 15;
	min-width: 90px;
}

.charsheet label:hover {
	font-size: 11px;
	color: #ffffff;
	background-color: rgba(61, 161, 106, 0.62);
	border: 1px solid #3da069;
}

label[for="sheet-editStress"] {
	float: right;
	align-content: right;
	right: 4ch;
}

.sheet-wrapper select {
	all: unset;
	width: auto;
}

.sheet-editStress {
	display: none;
}


input[name="attr_editStress"]:checked + div .sheet-editStress {
	display: block;
}

/* Edit */

.sheet-editPane {
	 border: 1px dashed #cccccc;
	 background-color: #0d0d0d;
	 width: 670px;
	 z-index: 45;
	 position: absolute;
	 top: 15px;
	 left: 15vh;
	 padding: 14px;
	 display: none;
}

.sheet-editPane .sheet-traits2 h3 select {
	float: right;
}

input[name="attr_Edit"]:checked + div.sheet-editPane {
	display: block !important;
}

.sheet-editDice {
	width: 60px;
	color: #ffffff;
	background-color: #1b1a1a;
}

/* Preloader */

	.sheet-preload img {
		width: 40px;
		display: none;
	}
	
/* Roll Template */

	.sheet-rolltemplate-Hammerheads * {
		font-family: monospace;
		font-size: 1em;
		font-weight: 600;
		color: #ffffff;
	}
	
	.sheet-rolltemplate-Hammerheads {
		background-color: #2a364e;
		margin-left: -50px;
	}
	
	.sheet-rolltemplate-container {
		display: grid;
		grid-template-columns: 35px 1fr;
		align-items: start;
		grid-gap: 1rem;
		padding: 2ch;
	}
	
	
	
	.sheet-rolltemplate-container div {
		border-bottom: 1px solid #b6b473;
		height: 45px;
	}
	
	.sheet-rolltemplate-dice {
		display: grid;
		grid-template-columns: repeat(7, 35px);
		align-items: start;
		grid-gap: 1rem;
		padding: 2ch;
	}
	
	.sheet-rolltemplate-name {
	}
	
	.sheet-rolltemplate-result {
		background-clip: padding-box;
		background-size: contain;
		background-repeat: no-repeat;
		height: 2em;
		font-size: 1.2em;
	}
	
	.sheet-rolltemplate-Hammerheads .inlinerollresult  {
		display: inline-block;
		min-width: 1.5em;
		text-align: center;
		border: none !important;
		background-color: transparent !important;
		color: #ffffff !important;
		padding-top: 7px;
	}

	.sheet-rolltemplate-Hammerheads .inlinerollresult.fullcrit {
		
	}
	
	.sheet-rolltemplate-Hammerheads .inlinerollresult.fullfail {
		
	}
	
	.sheet-rolltemplate-Hammerheads .inlinerollresult.importantroll {
		
	}
	
	
	@media only screen and (max-width: 480px) {

	.sheet-wrapper {
		min-width: 320px;
	}
		
	.sheet-traits4 {
		display: grid;
		grid-template-columns: repeat(2, 1fr );
		align-items: start;
	}
	
	.sheet-traits3 {
		display: grid;
		grid-template-columns: repeat(1, 1fr );
		align-items: start;
	}
	
	.sheet-traits2 {
		display: grid;
		grid-template-columns: repeat(1, 1fr );
		align-items: start;
	}
	
	.sheet-traits2 .sheet-traits2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr );
		align-items: start;
	}
	
	.sheet-traits1 {
		display: grid;
		grid-template-columns: repeat(1, 1fr );
		align-items: start;
	}
	

/* halo layout */

	.sheet-editPane {
		 width: 80%;
	 }
	
	input[name="attr_Portrait"][value="PC0"]  {
		border: 1px solid #cccc00;
		text-align: center;
		background-color: rgba(255, 128, 0, 0.05);
	}

	h1.sheet-hide {
		visibility: visible !important;
		display: block;
	}

	input[name="attr_Portrait"]:not([value="PC0"]) ~ .sheet-physical {
		position: static;
		border: 1px dashed #ffcb2b;
		border-top: 6px solid #ffcb2b;
		padding: 5px;
	}

	input[name="attr_Portrait"]:not([value="PC0"]) ~ .sheet-mental {
		position: static;
		border: 1px dashed #ffcb2b;
		border-top: 6px solid #ffcb2b;
		padding: 5px;
	}

	input[name="attr_Portrait"]:not([value="PC0"]) ~ .sheet-social {
		position: static;
		border: 1px dashed #ffcb2b;
		border-top: 6px solid #ffcb2b;
		padding: 5px;
	}
	
	
	input[name="attr_Portrait"]:not([value="PC0"]) + .sheet-action {
		display: block;
		visibility: visible;
	}
	
	.charsheet button[type="roll"].sheet-blank-roll-button + span {
		display: block !important;
		visibility: visible !important;
	}

.charsheet label {
	font-size: 9px !important;
	color: #ffffff;
	background-color: rgba(61, 161, 106, 0.62) !important;
	border: 1px solid #3da069 !important;
	padding: 4px !important;
}

}