.charsheet .sheet-maindiv {
    width: 840px; 
    margin:0px; 
	padding:5px;
	border: 2px solid black;
    background-color: white;
}

.charsheet .sheet-section {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: none;
}

.charsheet label {
    width: auto;
    display: inline-block;
    font-size: .75em;
}

.charsheet input[type=text].sheet-standard {
    border-top: none;
    border-right: none;
	border-left: none;
	border-bottom: dotted 1px black;
    color: black;
}

.charsheet input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border: none;
    border-bottom: dotted 1px black;
    color: black;
    width: 45px;
    text-align: center;
}
.charsheet input[type=number]::-webkit-outer-spin-button,
.charsheet input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -webkit-appearance: textfield;
}

.charsheet label.sheet-skill {
    font-size: 1em; 
    width:63%;
}

/*Buttons Styling*/
/*.charsheet button[type=roll] {
    background-color: #1b608e;
	color: white;
	background-image: none;
}*/

.charsheet button[type=roll].sheet-textButton {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    /*margin-top: -5px;*/
    /*width: 70%;*/
}

.charsheet span.sheet-diceroll {
    font-family: "dicefontd20";
}

.charsheet button[type=roll].sheet-textButton::before,
.charsheet button[type=roll].sheet-powerButton::before {
    content: "" !important;
}

/*End Button Styling*/

/*Hide Hit Points By Location*/
.sheet-femaleimg,
.sheet-maleimg {
    max-width: 143px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.sheet-imggender input[value="1"]:checked ~ .sheet-femaleimg {
    display: block;
}

.sheet-imggender input[value="2"]:checked ~ .sheet-maleimg {
    display: block;
}

.charsheet div.sheet-hpbl {
    display: none;    
}

.charsheet input.sheet-showhbpl:checked ~ div.sheet-hpbl {
    display: block;
}

/*End Hiding Hit Points By Location*/
.charsheet .sheet-hpblrow {
    width: 78px; 
    margin: 0px; 
    padding: 0px;
    /*border: 1px solid green;*/
}

.charsheet .sheet-hpblrange {
    width:35px; 
    margin: 0px; 
    padding: 0px; 
    text-align: center;
}

.charsheet input.sheet-hpblr {
    width:35px; 
    text-align: center; 
    margin: 0px; 
    padding: 0px; border: none; 
    font-size: .75em; 
    font-weight: bold;
}

.charsheet span.sheet-hpblr {
    text-align: center; 
    font-size: .75em; 
    font-weight: bold;
}

.sheet-hpblrbox {
    width: 35px; 
    height: 35px; 
    margin: 0px; 
    padding: 0px; 
    border: 2px solid black;
}

.charsheet input.sheet-hpblrbox {
    border: none; 
    text-align: center; 
    width: 35px; 
    height: 35px;
    margin: 0px; 
    padding: 0px;
}

/* Configuration Window*/
.charsheet .sheet-cdiv {
    width:810px;
    /*border: 1px dotted;*/
    padding-right: 15px;
    padding-left: 15px;
}

.sheet-HideConfig:checked ~ *.sheet-config {
	display:none;
}

.charsheet span.sheet-is-config::after { /*Close Config: grayish background with black text*/
	content: "^";
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config::after { /*Show Configuration: Black background with grayish text*/
	content: "v";
}

.charsheet span.sheet-is-config {
    text-align: center;
    display: inline-block;    
    width: 5%;
    height: 16px;
    font-size: 9px;
    /*font-family: "Pictos";*/
    /*background: #65763c;*/
    background: black; /*#93537c;*/
	color: white; /*white;*/
	font-weight: bold;
	border-radius: 4px;
	margin-left: -5%;
}

.charsheet input.sheet-HideConfig {
     width: 5%;
    height: 16px;
    cursor: pointer;	
    margin-left: auto;
    margin-top: auto;
	/*position: absolute;
	right: 20%;*/
	opacity: 0;
	z-index: 9999;
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config {
    background: black;
    border-radius: 4px;
	color: white;
}

.charsheet label.sheet-configitem {
    margin-left: 10px; 
    width: 50px; 
    font-size: .9em; 
    font-weight: normal
}

/*End Configuration Window*/

.charsheet .sheet-container {
	display: table;
	width: 100%;
	margin-left: 1px;
}

.charsheet .sheet-column {
	display: table-cell;
	outline: 1px solid black;
}

/*----------- Roll Template ------------------------*/

/* New Roll Template */

.sheet-rolltemplate-sb h2.sheet-caption {
	width: 90%;
	max-width: 200px;
	text-align: center; 
	/*color: #755b27; 
    background-color: #dbc792;*/
    color: white; 
    background-color: black;
	border-radius: 15px;
	font-family: "cinzelregular";
	font-size: 1.125em;
	font-weight: bold;
	margin: 5px;
}

.sheet-rolltemplate-sb div.sheet-template {
	width: 100%;
	max-width: 200px;
	color: black;
	background-color: white;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

.sheet-rolltemplate-sb div.sheet-templaterow {
	width: 100%;
	margin: 0px;
	margin-top: 2px;
	padding: 0px;
	border: none;
	border-bottom: 1px solid black;
	display: block;
}

.sheet-rolltemplate-sb div.sheet-left {
	width: 38%; 
	text-align: left; 
	display: inline-block;
}

.sheet-rolltemplate-sb div.sheet-right {
	width: 60%; 
	text-align: right; 
	display: inline-block;
}

.sheet-rolltemplate-sb div.sheet-target,
.sheet-rolltemplate-sb div.sheet-read,
.sheet-rolltemplate-sb div.sheet-speak {
	background-color: silver;
}

.sheet-rolltemplate-sb span.sheet-critsuccess {
	color: #3FB315;
}

.sheet-rolltemplate-sb span.sheet-success {
	color: blue;
}

.sheet-rolltemplate-sb span.sheet-fumble {
	color: maroon;
}

.sheet-rolltemplate-sb .inlinerollresult,
.sheet-rolltemplate-sb .inlinerollresult,
.sheet-rolltemplate-sb .inlinerollresult,
.sheet-rolltemplate-sb .inlinerollresult,
.sheet-rolltemplate-sb .inlinerollresult {
    background-color: transparent;
    color: #000000;
    border: none;
}

.sheet-rolltemplate-sb .inlinerollresult.fullcrit,
.sheet-rolltemplate-sb .inlinerollresult.fullcrit,
.sheet-rolltemplate-sb .inlinerollresult.fullcrit,
.sheet-rolltemplate-sb .inlinerollresult.fullcrit,
.sheet-rolltemplate-sb .inlinerollresult.fullcrit {
	/*color: maroon;*/
	color: #000000;
    border: none;
}

.sheet-rolltemplate-sb .inlinerollresult.fullfail,
.sheet-rolltemplate-sb .inlinerollresult.fullfail,
.sheet-rolltemplate-sb .inlinerollresult.fullfail,
.sheet-rolltemplate-sb .inlinerollresult.fullfail,
.sheet-rolltemplate-sb .inlinerollresult.fullfail {
    /*color: #3FB315;*/
    color: #000000;
    border: none;
}
 
.sheet-rolltemplate-sb .inlinerollresult.importantroll,
.sheet-rolltemplate-sb .inlinerollresult.importantroll,
.sheet-rolltemplate-sb .inlinerollresult.importantroll,
.sheet-rolltemplate-sb .inlinerollresult.importantroll,
.sheet-rolltemplate-sb .inlinerollresult.importantroll {
	/*color: #3FB315;*/
	color: #000000;
    border: none;
}