.sheet-wrapper {
    overflow: hidden;
    min-width: 830px;
}

.sheet-col {
    float: left;
    box-sizing: content-box;
    margin: 0.2em;
    overflow: hidden;
}

.sheet-bio {
    width: 320px;
}

.sheet-stats {
}

.sheet-cliches {
    width: 370px;
    border: 1px solid gray;
}

.sheet-box {
    border: 1px solid gray;
    margin: 2px;
}

.sheet-header {
    background-color: #cfafd3;

    font-weight: bold;
    text-transform: lowercase;
    font-variant: small-caps;

    white-space: nowrap;
    letter-spacing: 1px;
    text-align: center;

    height: 22px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.sheet-cliches .sheet-row {
    height: 22px;
    margin-top: 2px;
}

.sheet-cliches .sheet-col-name { width: 200px; }
.sheet-cliches .sheet-col-max { width: 50px; }
.sheet-cliches .sheet-col-dice { width: 80px; }
.sheet-cliches .sheet-col-pump {
    width: 40px;
    text-align: center;
}

.sheet-cell {
    box-sizing: border-box;
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0px 1px;
    padding-top: 0px;
}

.sheet-wrapper input {
    border: none;
    border-bottom: 1px solid black;
    height: 20px;
    line-height: 22px;
    margin-top: -2px;
    margin-bottom: 0;
    padding: 0 2px;
    outline: none;
}
.sheet-wrapper input[type="number"] {
    text-align: center;
}
.sheet-wrapper input[type="text"] {
    width: 100%;
}

.sheet-wrapper button {
    margin: 0 !important;
    height: 12px;
    border-radius: 0;
    line-height: 10px;
    background-image: none;
    border: none;
}
.sheet-wrapper button[type="roll"] {
    width: 22px;
    background: none;
}
.sheet-wrapper button[type=roll]::before {
    font-family: "dicefontd6";
    content: "L";
    font-size: 24px;
}
.sheet-wrapper button[type=roll].roll_pump::before {
    color: darkred;
}

.sheet-wrapper textarea {
    width: calc(100% - 8px);
    margin: 0 0 0 2px;
    padding: 2px 0 2px 2px;
    resize: vertical;
}

input.sheet-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    height: 27px;
    margin-bottom: 6px;
}

.repcontrol button {
    background-color: #cfafd3;
    border: 1px solid #882980;
    margin: 0 2px 2px 2px !important;
}

.sheet-description {
    height: 80px;
}

.sheet-notes {
    height: 116px;
}

.sheet-rolltemplate-clicheRoll .sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
    background-color: white;
}

.sheet-rolltemplate-clicheRoll .sheet-template-character {
    background-color: #882980;
	color: #fff;
	padding: 2px;
	border-bottom: 1px solid black;
	font-size: 0.9em;
    text-align: center;
}

.sheet-rolltemplate-clicheRoll .sheet-template-cliche {
	padding: 2px;
	border-bottom: 1px solid black;
	font-size: 150%;
    line-height: 120%;
    font-weight: bold;
    text-align: center;
}

.sheet-rolltemplate-clicheRoll .sheet-template-pump {
	padding: 6px;
    border-bottom: 1px solid black;
    background-color: lightgray;
	font-size: 100%;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
}

.sheet-rolltemplate-clicheRoll .sheet-template-roll {
	padding: 6px;
	font-size: 150%;
    line-height: 100%;
    text-align: center;
}

.sheet-rolltemplate-clicheRoll .sheet-template-roll .inlinerollresult {
    background-color: transparent;
    border: 0px;
    font-size: 1.2em;
    padding: 0px;
}

.sheet-rolltemplate-clicheRoll .sheet-template-roll .inlinerollresult.fullcrit {
    color: #3FB315;
    border: 0px;
}

.sheet-rolltemplate-clicheRoll .sheet-template-roll .inlinerollresult.fullfail {
    color: #B31515;
    border: 0px;
}

.sheet-rolltemplate-clicheRoll .sheet-template-roll .inlinerollresult.importantroll {
    color: #4A57ED;
    border: 0px;
}