<div class="sheet-sub-header sheet-center sheet-small-label">
  <span class="sheet-en">Spellcasting</span>
  <span class="sheet-de">Zauber</span>
  <span class="sheet-fr">Lancement de sorts</span>
  <span class="sheet-ru">Магия</span>
</div>
<div class="sheet-shaped-row sheet-mar-b-sm">
  <div class="sheet-col-22 sheet-center sheet-pad-r-sm">
    <input class="sheet-center" type="text" name="attr_global_spell_attack_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Atk</span>
      <span class="sheet-de">Ang..</span>
      <span class="sheet-fr">Atq</span>
      <span class="sheet-ru">Атк</span>
    </div>
  </div>
  <div class="sheet-col-22 sheet-center">
    <input class="sheet-center" type="text" name="attr_global_spell_damage_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Dmg</span>
      <span class="sheet-de">Sch..</span>
      <span class="sheet-fr">Dmg</span>
      <span class="sheet-ru">Урон</span>
    </div>
  </div>
  <div class="sheet-col-34 sheet-center sheet-pad-l-sm">
    <input class="sheet-center" type="text" name="attr_global_spell_dc_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Save DC</span>
      <span class="sheet-de">Rettungs-SG</span>
      <span class="sheet-fr">DD Sauv</span>
      <span class="sheet-ru">Спасброски</span>
    </div>
  </div>
  <div class="sheet-col-22 sheet-center sheet-pad-l-sm">
    <input class="sheet-center" type="text" name="attr_global_spell_heal_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Heal</span>
      <span class="sheet-de">Heil</span>
      <span class="sheet-fr">Soins</span>
      <span class="sheet-ru">Лечение</span>
    </div>
  </div>
</div>
