<div class="sheet-shaped-row sheet-sub-header">
  <div class="sheet-col-1-3 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Weapons</span>
    <span class="sheet-de">Waffen</span>
    <span class="sheet-fr">Armes</span>
    <span class="sheet-ru">Оружие</span>
  </div>
  <div class="sheet-col-1-3 sheet-center sheet-small-label sheet-sub-header sheet-pc">
    <span class="sheet-en">Melee</span>
    <span class="sheet-de">Nahkampf</span>
    <span class="sheet-fr">Mêlée</span>
    <span class="sheet-ru">Рукопашное</span>
  </div>
  <div class="sheet-col-1-3 sheet-center sheet-small-label sheet-sub-header sheet-pc">
    <span class="sheet-en">Ranged</span>
    <span class="sheet-de">Fernkampf</span>
    <span class="sheet-fr">Tir</span>
    <span class="sheet-ru">Дистанционное</span>
  </div>
</div>
<div class="sheet-shaped-row sheet-mar-b-sm">
  <div class="sheet-col-1-6 sheet-center">
    <input class="sheet-center" type="text" name="attr_global_weapon_attack_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Atk</span>
      <span class="sheet-de">Ang.</span>
      <span class="sheet-fr">Atq</span>
      <span class="sheet-ru">Атк</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pad-r-sm">
    <input class="sheet-center" type="text" name="attr_global_weapon_damage_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Dmg</span>
      <span class="sheet-de">Scha.</span>
      <span class="sheet-fr">Dmg</span>
      <span class="sheet-ru">Урон</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pc sheet-pad-l-sm">
    <input class="sheet-center" type="text" name="attr_global_melee_attack_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Atk</span>
      <span class="sheet-de">Ang.</span>
      <span class="sheet-fr">Atq</span>
      <span class="sheet-ru">Атк</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pc sheet-pad-r-sm">
    <input class="sheet-center" type="text" name="attr_global_melee_damage_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Dmg</span>
      <span class="sheet-de">Scha.</span>
      <span class="sheet-fr">Dmg</span>
      <span class="sheet-ru">Урон</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pc sheet-pad-l-sm">
    <input class="sheet-center" type="text" name="attr_global_ranged_attack_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Atk</span>
      <span class="sheet-de">Ang.</span>
      <span class="sheet-fr">Atq</span>
      <span class="sheet-ru">Атк</span>
    </div>
  </div>
  <div class="sheet-col-1-6 sheet-center sheet-pc">
    <input class="sheet-center" type="text" name="attr_global_ranged_damage_bonus" value="0">

    <div class="sheet-small-label">
      <span class="sheet-en">Dmg</span>
      <span class="sheet-de">Scha.</span>
      <span class="sheet-fr">Dmg</span>
      <span class="sheet-ru">Урон</span>
    </div>
  </div>
</div>
