//- TODO: break into groups
include ../../common/pug/button
include ./../../data/debility-list

mixin debilityList(opts)
  .debility-component
    .debility-list
      each group in debilities
        .debility-title=group.title
        each debility in group.list
          +btn(debility)
