.sheet-box {
  margin: 10px;
  overflow: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  }
.charsheet {
  overflow: auto;
  width: 800px;
  padding: 10px;
  background-color: #928c8c;
}
.coluna1 {
  clear: left;
  float: left;
  margin-right: 1em;
}
.coluna2 {
  float: left;
  margin-right: 1em;
}
.coluna3 {
  clear: right;
  float: left;
}

.prejuizos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 1%;
  width: fit-content;
}

.coluna4 {
  clear: right;
  float: left;
  border: thick solid;
  
}
.sheet-onlycol {
  clear: both;
  float: left;
}
.sheet-inline {
  display: inline;
}
.sheet-nomargin {
  margin: 0px;
}
h1, h2 {
  margin: 5px;
  text-align: center;
}
hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
input[type="text"], textarea  {
  width: 100%;
}

input.sheet-number {
  text-align: center;
}
input.atr-num {
  font-size: x-large;
  text-align: center;
  width: 50px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

body {
  background-image: url(https://raw.githubusercontent.com/Roll/roll-character-sheets/master/Usagi-Yojimbo-RPG/paperboard-texture.jpg;);
}
