mixin arcanaSelect(attrName, ro=false)
    +select(attrName, null, ro)
        option(value=-1)
        option(value=0) 0 - L’Astrologue en prière
        option(value=1) 1 - La Tisserande oubliée
        option(value=2) 2 - Le Voleur sans mémoire
        option(value=3) 3 - Le Jongleur indécis
        option(value=4) 4 - La Danseuse à l’épée
        option(value=5) 5 - La Sentinelle silencieuse
        option(value=6) 6 - L’Enlumineur aveugle
        option(value=7) 7 - Le Maître d’armes aux flambeaux
        option(value=8) 8 - La Vestale de pierre
        option(value=9) 9 - Le Pèlerin immobile
        option(value=10) 10 - L’Hérésiarque couronné
        option(value=11) 11 - Le Gentilhomme au corbeau
        option(value=12) 12 - L’Architecte des mondes
        option(value=13) 13 - La Courtisane amoureuse
        option(value=14) 14 - L’Assassin sans visage
        option(value=15) 15 - L’Horloger des chimères
        option(value=16) 16 - La Gardienne derrière le miroir
        option(value=17) 17 - La Magicienne sous le voile
        option(value=18) 18 - La Demoiselle en la tour
        option(value=19) 19 - L’Alchimiste des ombres
        option(value=20) 20 - Le Guerrier immortel
        option(value=21) 21 - Le Chevalier au dragon

mixin blessedArcana(attrName)
    .blessedArcana.col-2
        label
            span Arcane béni
            +arcanaSelect(attrName)
        label
            span Arcane opposé
            +arcanaSelect(`${attrName}_opp`, true)
        +textLabelled(`${attrName}_stigmata`, 'Marque')