- 
  var pages = [
    { id: 'sheet-summary', text: 'Summary' },
    { id: 'sheet-vows', text: 'Vows' },
    { id: 'sheet-bonds', text: 'Bonds' }
  ]

div.sheet-nav-bar
  each page in pages 
    div.sheet-nav-child
      label(for=page.id)=page.text
