- 
  var navOptions = {
    'sheet-summary': 'Summary',
    'sheet-vows': 'Vows',
    'sheet-bonds': 'Bonds'
    }

div.sheet-ironsworn-nav-bar-pages
  each text, id in navOptions 
    div.sheet-nav-child
      label(for=id)=text
