// HIDDEN Rolls and Calculations

// Using questions
input(name="attr_rollqstdiff" type="hidden" value="@{rollvardiff}[Difficulty]")
input(name="attr_rollqstrolleff" type="hidden" value="@{rollvarrolleff}[Roll Effort]")
input(name="attr_rollqstrolldmg" type="hidden" value="@{rollvarrolldmg}[Damage Effort]")
input(name="attr_rollqstasset" type="hidden" value="@{rollvarasset}[Asset]")
input(name="attr_rollqstbonus" type="hidden" value="@{rollvarbonus}[Bonus]")
input(name="attr_rollqstcost" type="hidden" value="@{rollvarcost}[Misc Cost]")
// Game settings
input(name="attr_gnlsettings_sheet_style" type="hidden" value="2")
input(name="attr_gnlsettings_sheet_rolls" type="hidden" value="1")
input(name="attr_gnlsettings_sheetuseasset" type="hidden" value="0")
input(name="attr_gnlsettings_sheetusebonus" type="hidden" value="0")
input(name="attr_gnlsettings_sheetusecost" type="hidden" value="0")
input(name="attr_gnlsettings_sheetuseapi" type="hidden" value="0")
// Misc
input(name="attr_converted_from" type="hidden" value="none")
