// NPC SHEET
.npc
    .2colrow
        // Column 1
        .col
            .line
                label
                    span.lab(data-i18n="name") Name
                    input.grow(name="attr_character_name" spellcheck="false" type="text")
                label(data-i18n-title="level" title="Level")
                    span.lab(data-i18n="level") Level
                    input(type="number" name="attr_level" value="1")
                    | &nbsp;(
                    span(name="attr_npcbasetn")
                    | )
            .line
                label(data-i18n-title="health" title="Health")
                    span.lab(data-i18n="health") Health
                    input(type="number" name="attr_health" data-i18n-title="current-value" title="Current value" value="0")
                    | &nbsp;/&nbsp;
                    input(type="number" name="attr_health_max" data-i18n-title="maximum-value" title="Maximum value" value="0")
                label(data-i18n-title="armor" title="Armor")
                    span.lab(data-i18n="armor") Armor
                    input(type="number" name="attr_armor" value="0")
            .line
                label(data-i18n-title="damage" title="Damage")
                    span.lab(data-i18n="damage") Damage
                    input(type="number" name="attr_damage" value="0")
                | &nbsp;
                label(data-i18n-title="movement" title="Movement")
                    span.lab(data-i18n="movement") Movement
                    input.grow(data-i18n-placeholder="short" name="attr_npcmovement" placeholder="short" spellcheck="false" type="text")
            span.lab(data-i18n="gm-intrusion") GM Intrusion
            .line.autoex
                span(name="attr_npcgmi")
                textarea(name="attr_npcgmi" spellcheck="false" data-i18n-title="gm-intrusion" title="GM Intrusion")
            span.lab(data-i18n="modifications") Modifications
            div
                fieldset.repeating_npcMods
                    div.line
                        input.grow(type="text" name="attr_npcmods-name" value="" spellcheck="false" data-i18n-placeholder="mod" placeholder="Mod")
                        label(data-i18n-title="modification-level" title="Modification level")
                            span(data-i18n="as-level") as level
                            input(type="number" name="attr_npcmods-level" value="0")
            .line
            span.lab(data-i18n="combat") Combat
            .line.autoex
                span(name="attr_npccombat")
                textarea(name="attr_npccombat" spellcheck="false" data-i18n-title="combat" title="Combat")
        // Column 2
        .col
            input.pseudocheck.showsettings(checked="checked" data-i18n-title="show-hide-settings" name="attr_settings_show" title="Show / Hide Settings" type="checkbox" value="1")
            span
            span.lab(data-i18n="motive") Motive
            .line.autoex
                span(name="attr_npcmotive")
                textarea(data-i18n-title="motive" name="attr_npcmotive" spellcheck="false" title="Motive")
            span.lab(data-i18n="environment") Environment
            .line.autoex
                span(name="attr_npcenvironment")
                textarea(data-i18n-title="environment" name="attr_npcenvironment" spellcheck="false" title="environment")
            span.lab(data-i18n="interaction") interaction
            .line.autoex
                span(name="attr_npcinteraction")
                textarea(data-i18n-title="interaction" name="attr_npcinteraction" spellcheck="false" title="interaction")
            span.lab(data-i18n="use") use
            .line.autoex
                span(name="attr_npcuse")
                textarea(data-i18n-title="use" name="attr_npcuse" spellcheck="false" title="use")
            span.lab(data-i18n="loot") loot
            .line.autoex
                span(name="attr_npcloot")
                textarea(data-i18n-title="loot" name="attr_npcloot" spellcheck="false" title="loot")
            span.lab(data-i18n="description") description
            .line.autoex
                span(name="attr_npcdescription")
                textarea(data-i18n-title="description" name="attr_npcdescription" spellcheck="false" title="description")

