// ATTACKS
.ablock
    input.pseudocheck.expand(type="checkbox" name="attr_expand_attacks" value="1" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        span.title.dotted(data-i18n="attacks") attacks
        .inblock
            fieldset.repeating_atks
                input.hidden.hide(type="checkbox" name="attr_atkchkdesc" value="1" checked="checked")
                .line
                    button.myrol.roll(type="roll" name="rollatk" data-i18n-title="click-to-roll" title="Click to roll" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{stat=@{atkstat}}} {{statname=^{@{atkstat}}}} {{d20roll=[[1d20cs>17cf1 + @{rollqstbonus}]]}} {{name=@{atkname}}} {{type=^{attack}}} {{attredge=[[@{atkedge}[Edge]]]}} {{difficulty=[[@{rollqstdiff}]]}} {{effortroll=[[@{rollqstrolleff}]]}} {{assets=[[@{rollqstasset}]]}} {{bonustoroll=[[@{rollqstbonus}]]}} {{statexpense=[[@{atkcost}[Attack cost]+@{rollqstcost}]]}} {{effortdmg=[[@{rollqstrolldmg}]]}} {{targnum=[[@{rollqstdiff}*3[Target]]]}} {{finaldiff=[[@{rollqstdiff}-(1*@{rollqstasset})-(1*@{rollqstrolleff})-(1*@{atklvl})-(1*@{atkmod})[Final Difficulty]]]}} {{targnumroll=[[(3*@{rollqstdiff})-(3*@{rollqstasset})-(3*@{rollqstrolleff})-(3*@{atklvl})-(3*@{atkmod})[Final Target]]]}} {{totalcost=[[(ceil((@{rollqstrolleff}+@{rollqstrolldmg})/6)+(@{rollqstrolleff}+@{rollqstrolldmg})*(2+@{atkarmorcost}[Armor Cost]+ceil(@{damage-track}[Damage Track]/4)))+@{atkcost}+@{rollqstcost}-@{atkedge}[Edge][Total Cost]]]}} {{effortcost=[[ceil((@{rollqstrolleff}+@{rollqstrolldmg})/6)+(@{rollqstrolleff}+@{rollqstrolldmg})*(2+@{atkarmorcost}[Armor Cost]+ceil(@{damage-track}[Damage Track]/4))[Effort Cost]]]}} {{bonusdmg=[[@{atkdmg}[Attack Damage]+(@{rollqstrolldmg}*3)]]}} {{skilled=[[@{atklvl}]]}} {{atkmod=[[@{atkmod}]]}}")
                        span.subtitle
                    button.myrol.show(type="roll" name="showatk" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=@{atkname}}} {{stat=@{atkstat}}} {{statname=^{@{atkstat}}}} {{type=^{attack}}} {{level=[[@{atklvl}]]}} {{description=**^{distance}: **@{distance} \n**^{mod}:**@{atkmod} **^{damage}:**@{atkdmg} **^{cost}:**@{atkcost}\n&nbsp;@{atkdesc}}}")
                        span.subtitle
                    input.lightborder.grow(type="text" name="attr_atkname" spellcheck="false" title="@{repeating_atks_$ID_atkname}" data-i18n-placeholder="attack" placeholder="Attack")
                    input(type="hidden" name="attr_atktype" value="- • -")
                    span.lbl(name="attr_atktype" title="@{repeating_atks_$ID_atktype}")
                    label.inlcontent.pictocheck.hide(data-i18n-title="show-hide-details" title="Show/hide details")
                        input(type="checkbox" name="attr_atkchkdesc" value="1" checked="checked")
                        span
                .line.hide
                    label.inlcontent(data-i18n-title="atk-stat" title="Stat used for this attack")
                        span.lbl(data-i18n="stat") Stat
                        select(name="attr_atkstat" style="text-transform: capitalize;" title="@{repeating_atks_$ID_atkstat}")
                            option(value="might" data-i18n="might" selected="selected") might
                            option(value="speed" data-i18n="speed") speed
                            option(value="intellect" data-i18n="intellect") intellect
                        input(type="hidden" name="attr_atkedge" value="@{might_edge}")
                        input(type="hidden" name="attr_atkarmorcost" value="0")
                    label.inlcontent(data-i18n-title="mod-title" title="Reduction of the difficulty of the attack roll")
                        span.lbl(data-i18n="mod") Mod
                        input.nospin(type="number" name="attr_atkmod" min="0" value="0" title="@{repeating_atks_$ID_atkmod}")
                    label.inlcontent(data-i18n-title="damage" title="damage")
                        span.lbl(data-i18n="damage") damage
                        input.nospin(type="number" name="attr_atkdmg" min="0" value="0" title="@{repeating_atks_$ID_atkdmg}")
                    label.inlcontent(data-i18n-title="skilled" title="skilled")
                        span.lbl(data-i18n="skilled") skilled
                        select(name="attr_atklvl" title="@{repeating_atks_$ID_atklvl}")
                            option(value="-1" data-i18n="inability") Inability
                            option(value="0" data-i18n="untrained" selected="selected") Untrained
                            option(value="1" data-i18n="trained") Trained
                            option(value="2" data-i18n="specialized") Specialized
                    label.inlcontent(data-i18n-title="cost" title="cost")
                        span.lbl(data-i18n="cost") cost
                        input.nospin(type="number" name="attr_atkcost" min="0" value="0" title="@{repeating_atks_$ID_atkcost}")
                    label.inlcontent(data-i18n-title="distance" title="distance")
                        span.lbl(data-i18n="distance") distance
                        select(name="attr_distance" title="@{repeating_atks_$ID_distance}")
                            option(value="Immediate" data-i18n="immediate" selected="selected") Immediate
                            option(value="Short" data-i18n="short") Short
                            option(value="Long" data-i18n="long") Long
                            option(value="Very Long" data-i18n="very-long") Very Long
                    .autoex(title="@{repeating_atks_$ID_atkdesc}")
                        span(name="attr_atkdesc")
                        textarea(name="attr_atkdesc" spellcheck="false" data-i18n-title="Attack description" title="Attack description" data-i18n-placeholder="description" placeholder="Description")
