// SPECIAL ABILITIES
.ablock.abilities
    input.pseudocheck.expand(type="checkbox" name="attr_expand_abilities" value="1" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        span.title.dotted(data-i18n="special-abilities") special abilities
        .inblock
            fieldset.repeating_abilities
                input.hidden.hide(type="checkbox" name="attr_abilitychkdesc" value="1" checked="checked")
                .line
                    button.myrol.show(type="roll" name="showability" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=@{abilityname}}} {{type=^{special-ability}}} {{statname=^{@{abilitystat}}}} {{description=**^{use}**: ^{@{abilityuse}} **^{cost}**: @{abilitycost}\n&nbsp;@{abilitydesc}}}")
                        span.subtitle
                    input.lightborder.grow(type="text" name="attr_abilityname" spellcheck="false" title="@{repeating_abilities_$ID_abilityname}" data-i18n-placeholder="ability" placeholder="Ability")
                    input(type="hidden" name="attr_abtype" value="-")
                    span.lbl(name="attr_abtype" title="@{repeating_abilities_$ID_abtype}")
                    label.inlcontent.pictocheck.hide(data-i18n-title="show-hide-details" title="Show/hide details")
                        input(type="checkbox" name="attr_abilitychkdesc" value="1" checked="checked")
                        span
                .line.hide
                    label.inlcontent(data-i18n-title="ability-use-condition" title="Conditions of use of this ability: enabler, action, once a day etc.")
                        span.lbl(data-i18n="use") Use
                        select(name="attr_abilityuse" title="@{repeating_abilities_$ID_abilityuse}")
                          option(value="Action" data-i18n="Action" selected="selected") Action 
                          option(value="Enabler" data-i18n="Enabler") Enabler
                          option(value="Other" data-i18n="Other") Other
                    label.inlcontent(data-i18n-title="cost" title="cost")
                        span.lbl(data-i18n="cost") Cost
                        input.nospin(type="number" name="attr_abilitycost" min="0" value="0" title="@{repeating_abilities_$ID_abilitycost}")
                    label.inlcontent(data-i18n-title="ability-stat" title="Stat used for this ability")
                        span.lbl(data-i18n="stat") stat
                        select(name="attr_abilitystat" style="text-transform: capitalize;" title="@{repeating_abilities_$ID_abilitystat}")
                            option(value="null" data-i18n="none" selected="selected") None
                            option(value="might" data-i18n="might") might
                            option(value="speed" data-i18n="speed") speed
                            option(value="intellect" data-i18n="intellect") intellect
                    .autoex(title="@{repeating_abilities_$ID_abilitydesc}")
                        span(name="attr_abilitydesc")
                        textarea(name="attr_abilitydesc" spellcheck="false" data-i18n-title="description" title="Description" data-i18n-placeholder="description" placeholder="Description")
            .line.left.topmarg1
                span.subtitle.bold(data-i18n="misc:") misc:
            .autoex
                span(name="attr_abilities_misc")
                textarea(name="attr_abilities_misc" spellcheck="false" data-i18n-placeholder="misc" placeholder="misc" title="@{abilities_misc}")
