// ADVANCEMENT
.ablock.advancement
    input.pseudocheck.expand(type="checkbox" name="attr_expand_advancement" value="1" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        span.title.dotted(data-i18n="advancement") advancement
        .inblock
            .colblock
                span.subtitle.bold(data-i18n="tier-1") Tier 1
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers1-1" spellcheck="false" data-i18n-placeholder="tier-1-adv-1" placeholder="Tier 1 Adv. #1")
                    input.medium.lightborder(type="text" name="attr_adv-tiers1-2" spellcheck="false" data-i18n-placeholder="tier-1-adv-2" placeholder="Tier 1 Adv. #2")
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers1-3" spellcheck="false" data-i18n-placeholder="tier-1-adv-3" placeholder="Tier 1 Adv. #3")
                    input.medium.lightborder(type="text" name="attr_adv-tiers1-4" spellcheck="false" data-i18n-placeholder="tier-1-adv-4" placeholder="Tier 1 Adv. #4")
                span.subtitle.bold(data-i18n="tier-2") Tier 2
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers2-1" spellcheck="false" data-i18n-placeholder="tier-2-adv-1" placeholder="Tier 2 Adv. #1")
                    input.medium.lightborder(type="text" name="attr_adv-tiers2-2" spellcheck="false" data-i18n-placeholder="tier-2-adv-2" placeholder="Tier 2 Adv. #2")
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers2-3" spellcheck="false" data-i18n-placeholder="tier-2-adv-3" placeholder="Tier 2 Adv. #3")
                    input.medium.lightborder(type="text" name="attr_adv-tiers2-4" spellcheck="false" data-i18n-placeholder="tier-2-adv-4" placeholder="Tier 2 Adv. #4")
                span.subtitle.bold(data-i18n="tier-3") Tier 3
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers3-1" spellcheck="false" data-i18n-placeholder="tier-3-adv-1" placeholder="Tier 3 Adv. #1")
                    input.medium.lightborder(type="text" name="attr_adv-tiers3-2" spellcheck="false" data-i18n-placeholder="tier-3-adv-2" placeholder="Tier 3 Adv. #2")
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers3-3" spellcheck="false" data-i18n-placeholder="tier-3-adv-3" placeholder="Tier 3 Adv. #3")
                    input.medium.lightborder(type="text" name="attr_adv-tiers3-4" spellcheck="false" data-i18n-placeholder="tier-3-adv-4" placeholder="Tier 3 Adv. #4")
                span.subtitle.bold(data-i18n="tier-4") Tier 4
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers4-1" spellcheck="false" data-i18n-placeholder="tier-4-adv-1" placeholder="Tier 4 Adv. #1")
                    input.medium.lightborder(type="text" name="attr_adv-tiers4-2" spellcheck="false" data-i18n-placeholder="tier-4-adv-2" placeholder="Tier 4 Adv. #2")
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers4-3" spellcheck="false" data-i18n-placeholder="tier-4-adv-3" placeholder="Tier 4 Adv. #3")
                    input.medium.lightborder(type="text" name="attr_adv-tiers4-4" spellcheck="false" data-i18n-placeholder="tier-4-adv-4" placeholder="Tier 4 Adv. #4")
                span.subtitle.bold(data-i18n="tier-5") Tier 5
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers5-1" spellcheck="false" data-i18n-placeholder="tier-5-adv-1" placeholder="Tier 5 Adv. #1")
                    input.medium.lightborder(type="text" name="attr_adv-tiers5-2" spellcheck="false" data-i18n-placeholder="tier-5-adv-2" placeholder="Tier 5 Adv. #2")
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers5-3" spellcheck="false" data-i18n-placeholder="tier-5-adv-3" placeholder="Tier 5 Adv. #3")
                    input.medium.lightborder(type="text" name="attr_adv-tiers5-4" spellcheck="false" data-i18n-placeholder="tier-5-adv-4" placeholder="Tier 5 Adv. #4")
                span.subtitle.bold(data-i18n="tier-6") Tier 6
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers6-1" spellcheck="false" data-i18n-placeholder="tier-6-adv-1" placeholder="Tier 6 Adv. #1")
                    input.medium.lightborder(type="text" name="attr_adv-tiers6-2" spellcheck="false" data-i18n-placeholder="tier-6-adv-2" placeholder="Tier 6 Adv. #2")
                .line
                    input.medium.lightborder(type="text" name="attr_adv-tiers6-3" spellcheck="false" data-i18n-placeholder="tier-6-adv-3" placeholder="Tier 6 Adv. #3")
                    input.medium.lightborder(type="text" name="attr_adv-tiers6-4" spellcheck="false" data-i18n-placeholder="tier-6-adv-4" placeholder="Tier 6 Adv. #4")
