// ARTIFACTS
.ablock
    input.pseudocheck.expand(type="checkbox" name="attr_expand_artifacts" value="1" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        span.title.dotted(data-i18n="artifacts") artifacts
        .inblock
            fieldset.repeating_artifact-list
                input.hidden.hide(type="checkbox" name="attr_artifactchkdesc" value="1" checked="checked")
                .line
                    button.myrol.depletion(type="roll" name="rollArtifactDepletion" data-i18n-title="depletion-roll" title="Depletion roll" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=@{artifact-name}}} {{type=^{artifact}}} {{depletionroll=[[@{artdepdice}cf<@{artdepthreshold}]]}} {{thresholddesc=@{artdepthreshold} ^{depletion-in} @{artdepdice}}} {{threshold=[[@{artdepthreshold}]]}}")
                        span.subtitle
                    button.myrol.show(type="roll" name="showArtifact" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=@{artifact-name}}} {{type=^{artifact}}} {{description=**^{level}**: @{artifact-level} ([[@{artifact-level}]])\n**^{depletion}**: @{artdepthreshold} ^{depletion-in} @{artdepdice}\n&nbsp;@{artifact-description}}}")
                        span.subtitle
                    input.lightborder.grow(type="text" name="attr_artifact-name" spellcheck="false" data-i18n-title="artifact-name" title="Name of the Artifact" data-i18n-placeholder="artifact" placeholder="Artifact")
                    label.inlcontent(data-i18n-title="artifact-level" title="Level of the Artifact")
                        span.lbl(data-i18n="level") Level
                        input.xsmall.lightborder.center(type="text" name="attr_artifact-level" spellcheck="false" value="1")
                    label.inlcontent.pictocheck.hide(data-i18n-title="show-hide-details" title="Show/hide details")
                        input(type="checkbox" name="attr_artifactchkdesc" value="1" checked="checked")
                        span
                .line.hide
                    label.inlcontent(data-i18n-title="depletion-rate-title" title="Rate of power depletion (ex: 1 in 1d20)")
                        span.lbl(data-i18n="depletion") Depletion
                        input.nospin(type="number" name="attr_artdepthreshold" value="1" min="0" max="99")
                    label.inlcontent
                        span.lbl(data-i18n="depletion-in") in
                        select(name="attr_artdepdice")
                            option(value="100" data-i18n="depletion-never") — (never)
                            option(value="0" data-i18n="depletion-automatic") Automatic
                            option(value="1d6") 1d6
                            option(value="1d10") 1d10
                            option(value="1d20" SELECTED="SELECTED") 1d20
                            option(value="1d100") 1d100
                    .autoex
                        span(name="attr_artifact-description")
                        textarea(name="attr_artifact-description" spellcheck="false" data-i18n-title="artifact-description" title="Description of the Artifact" data-i18n-placeholder="description" placeholder="Description")
            .line.left.topmarg1
                span.subtitle.bold(data-i18n="misc:") misc:
            .autoex
                span(name="attr_artifacts_misc")
                textarea(name="attr_artifacts_misc" spellcheck="false" data-i18n-placeholder="misc" placeholder="misc" title="@{artifacts_misc}")
