// BACKGROUND
.ablock
    input.pseudocheck.expand(type="checkbox" name="attr_expand_background" value="1" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        button.myrol(type="roll" name="ShowBackground" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=^{background}}} {{description=&nbsp;@{background}}}")
            span.title.dotted(data-i18n="background") background
        .inblock.autoex
            span(name="attr_background")
            textarea(name="attr_background" spellcheck="false" data-i18n-placeholder="background" placeholder="background" title="@{background}")
