// CYPHERS
.ablock.cyphers
    .floattopleft
        .circle.small.orange
            input.nospin(type="number" name="attr_cypher-limit" min="0" value="2" title="@{cypher-limit}")
        .floatlow
            span.subtitle.bold.whiteshadow(data-i18n="limit") limit
    input.pseudocheck.expand(type="checkbox" name="attr_expand_cyphers" value="1" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        span.title.dotted(data-i18n="cyphers") cyphers
        .inblock.toppad
            fieldset.repeating_cypher-list
                input.hidden.hide(type="checkbox" name="attr_cypher-chkdesc" value="1" checked="checked")
                .line
                    button.myrol.show(type="roll" name="showCypher" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=@{cypher-name}}} {{type=^{cypher}}} {{description=**^{level}**: @{cypher-level} ([[@{cypher-level}]])\n&nbsp;@{cypher-description}}}{{used=[[@{cypher-used}]]}}")
                        span.subtitle
                    input.hidden.used(type="checkbox" name="attr_cypher-used" value="1")
                    input.lightborder.grow.used(type="text" name="attr_cypher-name" spellcheck="false" data-i18n-title="cypher-name" title="Name of the Cypher" data-i18n-placeholder="cypher" placeholder="Cypher")
                    label.inlcontent(data-i18n-title="cypher-level" title="Level of the Cypher")
                        span.lbl(data-i18n="level") Level
                        input.xsmall.lightborder.center(type="text" name="attr_cypher-level" spellcheck="false" value="1")
                    label.inlcontent.pictocheck.hide(data-i18n-title="show-hide-details" title="Show/hide details")
                        input(type="checkbox" name="attr_cypher-chkdesc" value="1" checked="checked")
                        span
                .line.hide
                    label.labelcheck(title="@{cypher-used}")
                        input(type="checkbox" name="attr_cypher-used" value="1")
                        span(data-i18n="used") used
                    .autoex
                        span(name="attr_cypher-description")
                        textarea(name="attr_cypher-description" spellcheck="false" data-i18n-title="cypher-description" title="Description of the Cypher" data-i18n-placeholder="description" placeholder="Description")
            .line.left.topmarg1
                span.subtitle.bold(data-i18n="misc:") misc:
            .autoex
                span(name="attr_cyphers_misc")
                textarea(name="attr_cyphers_misc" spellcheck="false" data-i18n-placeholder="misc" placeholder="misc" title="@{cyphers_misc}")
