// EQUIPMENT
.ablock
    .floattopleft
        .circle.small.orange
            input.nospin(type="number" name="attr_armor" min="0" value="0" title="@{armor}")
        .floatlow
            span.subtitle.bold.whiteshadow(data-i18n="armor") armor
    input.pseudocheck.expand(type="checkbox" name="attr_expand_equipment" value="1" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        span.title.dotted(data-i18n="equipment") equipment
        .inblock.toppad
            .line.wrap
                label.inlcontent
                    span.subtitle(data-i18n="armor-speed-cost") armor speed cost
                    input.nospin.lightborder(type="number" name="attr_armorspeedcost" value="0" min="0" max="3" data-i18n-title="armor-speed-cost-title" title="Additional Speed Effort Cost due to Armor")
                label.inlcontent(data-i18n-title="money" title="money")
                    span.subtitle(data-i18n="money") money
                    input.small.lightborder(type="text" name="attr_shins" value="0" style="text-align: right;" spellcheck="false")
            .line.left.topmarg1
                span.subtitle.bold(data-i18n="items:") items:
            //ITEMS
            fieldset.repeating_equipment-list
                .line
                    button.myrol.show(type="roll" name="showitem" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=^{item}}} {{type=^{equipment}}} {{description=&nbsp;@{equipment-name}\n**^{quantity-short}**: @{equipment-qty}}}")
                        span.subtitle
                    input.lightborder.grow(type="text" name="attr_equipment-name" spellcheck="false" data-i18n-placeholder="item" placeholder="Item")
                    label.inlcontent(data-i18n-title="quantity" title="Quantity")
                        span.lbl(data-i18n="quantity-short") Qty
                        input.lightborder(type="number" name="attr_equipment-qty" spellcheck="false" min="0" value="1")
            .line.left.topmarg1
                span.subtitle.bold(data-i18n="misc:") misc:
            .autoex
                span(name="attr_possessions")
                textarea(name="attr_possessions" spellcheck="false" data-i18n-placeholder="misc" placeholder="misc" title="@{possessions}")
