// IDENTITY
.ablock.identity
    label.title
        span
        input.clearbg.name(type="text" name="attr_character_name" spellcheck="false" data-i18n-placeholder="name" placeholder="name" title="@{character_name}")
    label.title
        span(data-i18n="is-a") is a
        input.clearbg.descriptor(type="text" name="attr_descriptor" spellcheck="false" data-i18n-placeholder="descriptor" placeholder="descriptor" title="@{descriptor}")
        input.clearbg.type(type="text" name="attr_type" spellcheck="false" data-i18n-placeholder="type" placeholder="type" title="@{type}")
    label.title
        span(data-i18n="who") who
        input.clearbg.name(type="text" name="attr_focus" spellcheck="false" data-i18n-placeholder="focus" placeholder="focus" title="@{focus}")
