// RECOVERY
.ablock.recovery
    .subblock.wide
        button.myrol.rollsmall(type="roll" name="RollRecovery" data-i18n-title="recovery-roll" title="Recovery Roll" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=^{recovery-roll}}} {{recovery=1d6+@{recoverybonus}}} {{recoverpoints=[[1d6+@{recoverybonus}]]}} {{recovaction=[[@{recovery-rolls}]]}}")
            span.title(data-i18n="recovery") recovery
        .inblock
            .line
                .circle.green
                    input.nospin(type="number" name="attr_recoverybonus" min="1" value="1" title="@{recoverybonus}")
                    .floatlow
                        span.subtitle.bold.whiteshadow 1D6+
            .line.wrap
                label.labelcheck(title="@{recovery-rolls}")
                    input(type="radio" name="attr_recovery-rolls" value="0" checked="checked")
                    span(data-i18n="1-action") 1 action
                label.labelcheck(title="@{recovery-rolls}")
                    input(type="radio" name="attr_recovery-rolls" value="1")
                    span(data-i18n="10-mins") 10 mins
                label.labelcheck(title="@{recovery-rolls}")
                    input(type="radio" name="attr_recovery-rolls" value="2")
                    span(data-i18n="1-hour") 1 hour
                label.labelcheck(title="@{recovery-rolls}")
                    input(type="radio" name="attr_recovery-rolls" value="3")
                    span(data-i18n="10-hours") 10 hours
