// SKILLS & INITIATIVE
.ablock.skills
    input.pseudocheck.expand(type="checkbox" name="attr_expand_skills" value="1"  data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        span.title.dotted(data-i18n="skills") skills
        .inblock
            input.hidden.hide(type="checkbox" name="attr_initchkdesc" value="1")
            // Initiative
            .line
                input(type="hidden" name="attr_roll_initiative" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{stat=@{initstat}}} {{statname=^{@{initstat}}}} {{d20roll=[[1d20cs>17cf1 + @{rollqstbonus} &{tracker}]]}} {{name=@{initname}}} {{type=^{skill}}} {{attredge=[[@{initedge}[Edge]]]}} {{difficulty=[[@{rollqstdiff}]]}} {{effortroll=[[@{rollqstrolleff}]]}} {{assets=[[@{rollqstasset}]]}} {{bonustoroll=[[@{rollqstbonus}]]}} {{statexpense=[[@{rollqstcost}]]}} {{effortdmg=[[0]]}} {{targnum=[[@{rollqstdiff}*3[Target]]]}} {{finaldiff=[[@{rollqstdiff}-(1*@{rollqstasset})-(1*@{rollqstrolleff})-(1*@{initlvl})[Final Difficulty]]]}} {{targnumroll=[[(3*@{rollqstdiff})-(3*@{rollqstasset})-(3*@{rollqstrolleff})-(3*@{initlvl})[Final Target]]]}} {{totalcost=[[(ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+@{initarmorcost}[Armor Cost]+ceil(@{damage-track}[Damage Track]/4)))+@{rollqstcost}-@{initedge}[Edge][Total Cost]]]}} {{effortcost=[[ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+@{initarmorcost}[Armor Cost]+ceil(@{damage-track}[Damage Track]/4))[Effort Cost]]]}} {{bonusdmg=[[0]]}} {{skilled=[[@{initlvl}]]}}")
                button.myrol.roll(type="roll" name="rollInitiative" data-i18n-title="click-to-roll" title="Click to roll" value="@{roll_initiative}")
                    span.subtitle
                button.myrol.show(type="roll" name="showInitiative" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=@{initname}}} {{stat=@{initstat}}} {{statname=^{@{initstat}}}} {{type=^{skill}}} {{level=[[@{initlvl}]]}} {{description=&nbsp;@{initdesc}}}")
                    span.subtitle
                input.lightborder.grow(type="text" name="attr_initname" value="Initiative" spellcheck="false" title="@{initname}" data-i18n-placeholder="skill" placeholder="Skill" readonly)
                input(type="hidden" name="attr_inittype" value="- • -")
                span.lbl(name="attr_inittype" title="@{inittype}")
                label.inlcontent.pictocheck.hide(data-i18n-title="show-hide-details" title="Show/hide details")
                    input(type="checkbox" name="attr_initchkdesc" value="1")
                    span
            .line.hide
                label.inlcontent(data-i18n-title="skill-stat" title="Stat used for this skill")
                    span.lbl(data-i18n="stat") Stat
                    select(name="attr_initstat" style="text-transform: capitalize;" title="@{initstat}")
                        option(value="might" data-i18n="might") might
                        option(value="speed" data-i18n="speed" selected="selected") speed
                        option(value="intellect" data-i18n="intellect") intellect
                    input(type="hidden" name="attr_initedge" value="@{speed_edge}")
                    input(type="hidden" name="attr_initarmorcost" value="@{armorspeedcost}")
                label.inlcontent(data-i18n-title="skill-lvl" title="Level of the skill")
                    span.lbl(data-i18n="level") level
                    select(name="attr_initlvl" title="@{initlvl}")
                        option(value="-1" data-i18n="inability") Inability
                        option(value="0" data-i18n="untrained" selected="selected") Untrained
                        option(value="1" data-i18n="trained") Trained
                        option(value="2" data-i18n="specialized") Specialized
                .autoex(title="@{initdesc}")
                    span(name="attr_initdesc")
                    textarea(name="attr_initdesc" spellcheck="false" data-i18n-placeholder="notes" placeholder="Notes")
            // skills
            fieldset.repeating_skills
                input(type="checkbox" class="hidden hide" name="attr_skillchkdesc" value="1" checked="checked")
                .line
                    button.myrol.roll(type="roll" name="rollskill" data-i18n-title="click-to-roll" title="Click to roll" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{stat=@{skillstat}}} {{statname=^{@{skillstat}}}} {{d20roll=[[1d20cs>17cf1 + @{rollqstbonus}]]}} {{name=@{skillname}}} {{type=^{skill}}} {{attredge=[[@{skilledge}[Edge]]]}} {{difficulty=[[@{rollqstdiff}]]}} {{effortroll=[[@{rollqstrolleff}]]}} {{assets=[[@{rollqstasset}]]}} {{bonustoroll=[[@{rollqstbonus}]]}} {{statexpense=[[@{rollqstcost}]]}} {{effortdmg=[[0]]}} {{targnum=[[@{rollqstdiff}*3[Target]]]}} {{finaldiff=[[@{rollqstdiff}-(1*@{rollqstasset})-(1*@{rollqstrolleff})-(1*@{skilllvl})[Final Difficulty]]]}} {{targnumroll=[[(3*@{rollqstdiff})-(3*@{rollqstasset})-(3*@{rollqstrolleff})-(3*@{skilllvl})[Final Target]]]}} {{totalcost=[[(ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+@{skillarmorcost}[Armor Cost]+ceil(@{damage-track}[Damage Track]/4)))+@{rollqstcost}-@{skilledge}[Edge][Total Cost]]]}} {{effortcost=[[ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+@{skillarmorcost}[Armor Cost]+ceil(@{damage-track}[Damage Track]/4))[Effort Cost]]]}} {{bonusdmg=[[0]]}} {{skilled=[[@{skilllvl}]]}}")
                        span.subtitle
                    button.myrol.show(type="roll" name="showskill" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=@{skillname}}} {{stat=@{skillstat}}} {{statname=^{@{skillstat}}}} {{type=^{skill}}} {{level=[[@{skilllvl}]]}} {{description=&nbsp;@{skilldesc}}}")
                        span.subtitle
                    input.lightborder.grow(type="text" name="attr_skillname" spellcheck="false" title="@{repeating_skills_$ID_skillname}" data-i18n-placeholder="skill" placeholder="Skill")
                    input(type="hidden" name="attr_skilltype" value="- • -")
                    span.lbl(name="attr_skilltype" title="@{repeating_skills_$ID_skilltype}")
                    label.inlcontent.pictocheck.hide(data-i18n-title="show-hide-details" title="Show/hide details")
                        input(type="checkbox" name="attr_skillchkdesc" value="1")
                        span
                .line.hide
                    label.inlcontent(data-i18n-title="skill-stat" title="Stat used for this skill")
                        span.lbl(data-i18n="stat") Stat
                        select(name="attr_skillstat" style="text-transform: capitalize;" title="@{repeating_skills_$ID_skillstat}")
                            option(value="might" data-i18n="might") might
                            option(value="speed" data-i18n="speed") speed
                            option(value="intellect" data-i18n="intellect" selected="selected") intellect
                        input(type="hidden" name="attr_skilledge" value="@{intellect_edge}")
                        input(type="hidden" name="attr_skillarmorcost" value="0")
                    label.inlcontent(data-i18n-title="skill-lvl" title="Level of the skill")
                        span.lbl(data-i18n="level") level
                        select(name="attr_skilllvl" title="@{repeating_skills_$ID_skilllvl}")
                            option(value="-1" data-i18n="inability") Inability
                            option(value="0" data-i18n="untrained" selected="selected") Untrained
                            option(value="1" data-i18n="trained") Trained
                            option(value="2" data-i18n="specialized") Specialized
                    .autoex(title="@{repeating_skills_$ID_skilldesc}")
                        span(name="attr_skilldesc")
                        textarea(name="attr_skilldesc" spellcheck="false" data-i18n-title="skill-description" title="Description of the skill" data-i18n-placeholder="description" placeholder="Description")
