// PC STATS
.ablock.stats
    // Might
    .subblock
        button.myrol.rollsmall(type="roll" name="RollMight" data-i18n-title="click-to-roll" title="Click to Roll" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{stat=might}} {{d20roll=[[1d20cs>17cf1 + @{rollqstbonus}]]}} {{name=^{might}}} {{type=^{stat}}} {{attredge=[[@{might_edge}[Edge]]]}} {{difficulty=[[@{rollqstdiff}]]}} {{effortroll=[[@{rollqstrolleff}]]}} {{assets=[[@{rollqstasset}]]}} {{bonustoroll=[[@{rollqstbonus}]]}} {{statexpense=[[@{rollqstcost}]]}} {{effortdmg=[[0]]}} {{targnum=[[@{rollqstdiff}*3[Target]]]}} {{finaldiff=[[@{rollqstdiff}-@{rollqstasset}-@{rollqstrolleff}[Final Difficulty]]]}}  {{targnumroll=[[(@{rollqstdiff}-@{rollqstasset}-(@{rollqstrolleff}))*3[Final Target]]]}} {{totalcost=[[ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+ceil(@{damage-track}[Damage Track]/4))+@{rollqstcost}-@{might_edge}[Edge][Total Cost]]]}} {{effortcost=[[ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+ceil(@{damage-track}[Damage Track]/4))[Effort Cost]]]}} {{bonusdmg=[[0]]}}")
            span.title(data-i18n="might") might
        .inblock.might.center
            .colblock
                input.nospin.notable(type="number" name="attr_might"  min="0" value="11" title="@{might}")
                span.subtitle.bold(data-i18n="current") current
            .line.stretch.subborder.top
                .colblock
                    span.subtitle.bold(data-i18n="pool") pool
                    input.nospin(type="number" name="attr_might_max" min="0" value="11" title="@{might_max}")
                .subborder.left
                .colblock
                    span.subtitle.bold(data-i18n="edge") edge
                    input.nospin(type="number" name="attr_might_edge" value="1" min="-6" max="6" title="@{might_edge}")
    // Speed
    .subblock
        button.myrol.rollsmall(type="roll" name="RollSpeed" data-i18n-title="click-to-roll" title="Click to Roll" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{stat=speed}} {{d20roll=[[1d20cs>17cf1 + @{rollqstbonus}]]}} {{name=^{speed}}} {{type=^{stat}}} {{attredge=[[@{speed_edge}[Edge]]]}} {{difficulty=[[@{rollqstdiff}]]}} {{effortroll=[[@{rollqstrolleff}]]}} {{assets=[[@{rollqstasset}]]}} {{bonustoroll=[[@{rollqstbonus}]]}} {{statexpense=[[@{rollqstcost}]]}} {{effortdmg=[[0]]}} {{targnum=[[@{rollqstdiff}*3[Target]]]}} {{finaldiff=[[@{rollqstdiff}-@{rollqstasset}-@{rollqstrolleff}[Final Difficulty]]]}} {{targnumroll=[[(@{rollqstdiff}-@{rollqstasset}-(@{rollqstrolleff}))*3[Final Target]]]}} {{totalcost=[[ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+@{armorspeedcost}[Armor Cost]+ceil(@{damage-track}[Damage Track]/4))+@{rollqstcost}-@{speed_edge}[Edge][Total Cost]]]}} {{effortcost=[[ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+@{armorspeedcost}[Armor Cost]+ceil(@{damage-track}[Damage Track]/4))[Effort Cost]]]}} {{bonusdmg=[[0]]}}")
            span.title(data-i18n="speed") speed
        .inblock.speed.center
            .colblock
                input.nospin.notable(type="number" name="attr_speed"  min="0" value="10" title="@{speed}")
                span.subtitle.bold(data-i18n="current") current
            .line.stretch.subborder.top
                .colblock
                    span.subtitle.bold(data-i18n="pool") pool
                    input.nospin(type="number" name="attr_speed_max" min="0" value="11" title="@{speed_max}")
                .subborder.left
                .colblock
                    span.subtitle.bold(data-i18n="edge") edge
                    input.nospin(type="number" name="attr_speed_edge" value="1" min="-6" max="6" title="@{speed_edge}")
    // Intellect
    .subblock
        button.myrol.rollsmall(type="roll" name="RollIntellect" data-i18n-title="click-to-roll" title="Click to Roll" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{stat=intellect}} {{d20roll=[[1d20cs>17cf1 + @{rollqstbonus}]]}} {{name=^{intellect}}} {{type=^{stat}}} {{attredge=[[@{intellect_edge}[Edge]]]}} {{difficulty=[[@{rollqstdiff}]]}} {{effortroll=[[@{rollqstrolleff}]]}} {{assets=[[@{rollqstasset}]]}} {{bonustoroll=[[@{rollqstbonus}]]}} {{statexpense=[[@{rollqstcost}]]}} {{effortdmg=[[0]]}} {{targnum=[[@{rollqstdiff}*3[Target]]]}} {{finaldiff=[[@{rollqstdiff}-@{rollqstasset}-@{rollqstrolleff}[Final Difficulty]]]}} {{targnumroll=[[(@{rollqstdiff}-@{rollqstasset}-(@{rollqstrolleff}))*3[Final Target]]]}} {{totalcost=[[ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+ceil(@{damage-track}[Damage Track]/4))+@{rollqstcost}-@{intellect_edge}[Edge][Total Cost]]]}} {{effortcost=[[ceil(@{rollqstrolleff}/6)+@{rollqstrolleff}*(2+ceil(@{damage-track}[Damage Track]/4))[Effort Cost]]]}} {{bonusdmg=[[0]]}}")
            span.title(data-i18n="intellect") intellect
        .inblock.speed.center
            .colblock
                input.nospin.notable(type="number" name="attr_intellect"  min="0" value="10" title="@{intellect}")
                span.subtitle.bold(data-i18n="current") current
            .line.stretch.subborder.top
                .colblock
                    span.subtitle.bold(data-i18n="pool") pool
                    input.nospin(type="number" name="attr_intellect_max" min="0" value="11" title="@{intellect_max}")
                .subborder.left
                .colblock
                    span.subtitle.bold(data-i18n="edge") edge
                    input.nospin(type="number" name="attr_intellect_edge" value="1" min="-6" max="6" title="@{intellect_edge}")
