// ACTIONS and TRACKS
.ablock
    input(type="checkbox" name="attr_expand_actiondamage" value="1" class="pseudocheck expand" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .sublock.wide
        span.title.dotted(data-i18n="damage-track") damage track
        //DAMAGE TRACK
        .inblock.small
            .line.wrap
                label.labelcheck(title="@{damage-track}")
                    input(checked="checked" type="radio" name="attr_damage-track" value="0")
                    span(data-i18n="hale") hale
                label.labelcheck(title="@{damage-track}")
                    input(type="radio" name="attr_damage-track" value="1")
                    span(data-i18n="impaired") impaired
                label.labelcheck(title="@{damage-track}")
                    input(type="radio" name="attr_damage-track" value="2")
                    span(data-i18n="debilitated") debilitated
                label.labelcheck(title="@{damage-track}")
                    input(type="radio" name="attr_damage-track" value="3")
                    span(data-i18n="dead") dead
            .line.wrap.action
                label.inlcontent(data-i18n-title="special-damage-title" title="Special damage that moved the PC down the damage track")
                    span.subtitle(data-i18n="special-damage") special damage
                    input(type="number" name="attr_specialdamage" value="0" min="0" max="3" class="lightborder" title="@{specialdamage}")
                button.myrol.rest(type="action" name="act_rest" data-i18n-title="rest-title" title="Complete rest of the character (will reset Damage Track, Recovery rolls and current Stats)")
                    span.subtitle(data-i18n="rest") rest
        // ACTION
        .useaction.topmarg1
            span.title.dotted(data-i18n="actions") actions
            .inblock.small
                .line.wrap.action
                    label.inlcontent(data-i18n-title="task-difficulty" title="Task difficulty")
                        span.subtitle(data-i18n="difficulty") Difficulty
                        select.lightborder(name="attr_rollvardiff" title="@{rollvardiff}")
                            option(value="0" SELECTED data-i18n="0-none-unknown") 0 - None/Unknown
                            option(value="1" data-i18n="1-simple") 1 - Simple
                            option(value="2" data-i18n="2-standard") 2 - Standard
                            option(value="3" data-i18n="3-demanding") 3 - Demanding
                            option(value="4" data-i18n="4-difficult") 4 - Difficult
                            option(value="5" data-i18n="5-challenging") 5 - Challenging
                            option(value="6" data-i18n="6-intimidating") 6 - Intimidating
                            option(value="7" data-i18n="7-formidable") 7 - Formidable
                            option(value="8" data-i18n="8-heroic") 8 - Heroic
                            option(value="9" data-i18n="9-immortal") 9 - Immortal
                            option(value="10" data-i18n="10-impossible") 10 - Impossible
                    label(data-i18n-title="effort-lower-diff" title="Effort to lower DIFFICULTY")
                        span.subtitle(data-i18n="roll-eff") ROLL EFF.
                        select.lightborder(name="attr_rollvarrolleff" title="@{rollvarrolleff}")
                            option(value="0" SELECTED) 0
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                    label(data-i18n-title="effort-increase-damage" title="Effort to increase DAMAGE")
                        span.subtitle(data-i18n="dmg-eff") DMG EFF.
                        select.lightborder(name="attr_rollvarrolldmg" title="@{rollvarrolldmg}")
                            option(value="0" SELECTED) 0
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                    label.useasset(data-i18n-title="asset-title" title="Asset(s) : position, equipment etc. (0, 1 or 2 maximum)")
                        span.subtitle(data-i18n="asset") Asset
                        select.lightborder(name="attr_rollvarasset" title="@{rollvarasset}")
                            option(value="0" SELECTED) 0
                            option(value="1") 1
                            option(value="2") 2
                    label.usebonus(data-i18n-title="bonus-title" title="Penalty or Bonus to the ROLL")
                        span.subtitle(data-i18n="bonus") bonus
                        select.lightborder(name="attr_rollvarbonus" title="@{rollvarbonus}")
                            option(value="-2") -2
                            option(value="-1") -1
                            option(value="0" SELECTED) 0
                            option(value="1") 1
                            option(value="2") 2
                    label.usecost(data-i18n-title="cost-title" title="Extra Stat Pool cost from a Power or Ability")
                        span.subtitle(data-i18n="cost") cost
                        select.lightborder(name="attr_rollvarcost" title="@{rollvarcost}")
                            option(value="0" SELECTED) 0
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                            option(value="7") 7
                            option(value="8") 8
                            option(value="9") 9
                            option(value="10") 10
                            option(value="11") 11
                            option(value="12") 12
                .line.action
                    span.help(data-i18n="action-roll-help") Roll with Stat, Skill or Attack button
                    button.myrol.reset(type="action" name="act_reset_action" data-i18n-title="reset-action-title" title="Reset Action parameters")
                        span.subtitle(data-i18n="reset") Reset
