// WEAPONS
.ablock.weapons
    input.pseudocheck.expand(type="checkbox" name="attr_expand_weapons" value="1" data-i18n-title="click-expand" title="Click to expand or reduce this section")
    span
    .subblock.wide
        span.title.dotted(data-i18n="weapons") weapons
        .inblock
            fieldset.repeating_attacks
                input.hidden.hide(type="checkbox" name="attr_weapchkdesc" value="1" checked="checked")
                .line
                    button.myrol.show(type="roll" name="showweapon" data-i18n-title="click-to-show" title="Click to Show content in chat" value="&{template:cyphsys} {{sheetstyle=@{sheet_style}}} {{fontstyle=@{sheet_font_easy}}} {{charname=@{character_name}}} {{charid=@{character_id}}} {{dmgtrack=[[@{damage-track}]]}} {{useapi=[[@{sheetuseapi}]]}} {{name=@{atkname}}} {{type=^{weapon}}} {{description=**^{mod}:**@{atkmod} **^{damage}:**@{atkdmg}\n&nbsp;@{atkdesc}}}")
                        span.subtitle
                    input.lightborder.grow(type="text" name="attr_atkname" spellcheck="false" title="@{repeating_attacks_$ID_atkname}" data-i18n-placeholder="weapon" placeholder="Weapon")
                    input(type="hidden" name="attr_weapontype" value="0 • 0")
                    span.lbl(name="attr_weapontype" title="@{repeating_atks_$ID_weapontype}")
                    label.inlcontent.pictocheck.hide(data-i18n-title="show-hide-details" title="Show/hide details")
                        input(type="checkbox" name="attr_weapchkdesc" value="1" checked="checked")
                        span
                .line.hide
                    label.inlcontent(data-i18n-title="mod-title" title="Reduction of the difficulty of the attack roll")
                        span.lbl(data-i18n="mod") Mod
                        input.nospin(type="number" name="attr_atkmod" min="0" value="0" title="@{repeating_attacks_$ID_atkmod}")
                    label.inlcontent(data-i18n-title="damage" title="damage")
                        span.lbl(data-i18n="damage") damage
                        input.nospin(type="number" name="attr_atkdmg" min="0" value="0" title="@{repeating_attacks_$ID_atkdmg}")
                    label.inlcontent(data-i18n-title="ammunition" title="ammunition")
                        span.lbl(data-i18n="ammunition") ammunition
                        input(type="number" name="attr_ammunition" min="0" value="0" title="@{repeating_attacks_$ID_ammunition}")
                        input.grow(type="text" name="attr_ammotype" spellcheck="false" title="@{repeating_attacks_$ID_ammotype}" data-i18n-placeholder="ammotype" placeholder="Ammunition Type")
                    .autoex(data-i18n-title="description" title="Description")
                        span(name="attr_atkdesc")
                        textarea(name="attr_atkdesc" spellcheck="false" data-i18n-placeholder="description" placeholder="Description")
