// TIERS EFFORT XP
.ablock.tierseffortxp
    .title
        .circle.one
            input.nospin(type="number" name="attr_tier" min="1" value="1" title="@{tier}")
        span(data-i18n="tier") tier
    .title
        .circle.one
            input.nospin(type="number" name="attr_effort" min="1" value="1" title="@{effort}")
        span(data-i18n="effort") effort
    .title
        .circle.one
            input.nospin(type="number" name="attr_xp" min="0" value="0" title="@{xp}")
        span(data-i18n="xp") xp
