input.hidden.settings-show(checked="checked" name="attr_settings_show" type="checkbox"  value="1")
.settings
    input.pseudocheck.close(checked="checked" data-i18n-title="show-hide-settings" name="attr_settings_show" title="Show / Hide Settings" type="checkbox" value="1" )
    span()
    .in-settings

        .colblock.left
            span.title(data-i18n="sheet-style") Sheet Style:
            label.labelcheck(title="Cypher System")
                input(name="attr_sheet_style" type="radio" value="0")
                span Cypher System
            label.labelcheck(title="Numenéra")
                input(name="attr_sheet_style" type="radio" value="1")
                span Numenéra
            label.labelcheck(title="The Strange")
                input(checked="checked" name="attr_sheet_style" type="radio" value="2")
                span The Strange
            label.labelcheck(data-i18n-title="npc" title="NPC")
                input(name="attr_sheet_style" type="radio" value="99")
                span(data-i18n="npc") NPC

            span.title(data-i18n="misc:") Misc:
            label.labelcheck(data-i18n-title="simple-font" title="Simple Font")
                input(name="attr_sheet_font_easy" type="checkbox" value="font-easy")
                span(data-i18n="simple-font") Simple Font
            label.labelcheck(data-i18n-title="limit-subsection-height" title="Simple Font")
                input(name="attr_sheet_subsection_height" type="checkbox" value="1")
                span(data-i18n="limit-subsection-height") Simple Font

            span.title(data-i18n="background:") Background:
            label.labelcheck(data-i18n-title="solid-color" title="Solid color")
                input(name="attr_sheet_background" type="radio" value="0")
                span(data-i18n="solid-color") Solid color
            label.labelcheck(data-i18n-title="image" title="Image")
                input(checked="checked" name="attr_sheet_background" type="radio" value="1")
                span(data-i18n="image") Image

        .colblock.left
            span.title(data-i18n="rolls-type") Rolls type:
            label.labelcheck(data-i18n-title="action-section-title" title="Roll using the Action section parameters")
                input(name="attr_sheet_rolls" type="radio" value="0")
                span(data-i18n="action-section") Action Section
            label.labelcheck(data-i18n-title="roll-queries-title" title="Roll using roll queries for parameters")
                input(checked="checked" name="attr_sheet_rolls" type="radio" value="1")
                span(data-i18n="roll-queries") Roll Queries

            span.title(data-i18n="use:") Use:
            label.labelcheck(data-i18n-title="use-assets-title" title="Ask for/Use assets in attributes, skills and attacks rolls")
                input(name="attr_sheetuseasset" type="checkbox" value="1")
                span(data-i18n="assets") Assets
            label.labelcheck(data-i18n-title="use-bonus-title" title="Ask for/Use roll bonus in attributes, skills and attacks rolls")
                input(name="attr_sheetusebonus" type="checkbox" value="1")
                span(data-i18n="bonus") Bonus
            label.labelcheck(data-i18n-title="use-costs-title" title="Ask for/Use cost in attributes and skills rolls")
                input(name="attr_sheetusecost" type="checkbox" value="1")
                span(data-i18n="costs") Costs

            span.title(data-i18n="initiative:") Initiative:
            label.labelcheck(data-i18n-title="Beats Difficulty (d20 to tracker)" title="Beats Difficulty (d20 to tracker)")
                input(checked="checked" name="attr_sheet_roll_initiative" type="radio" value="0")
                span(data-i18n="Beats Difficulty (d20 to tracker)") Beats Difficulty (d20 to tracker)
            label.labelcheck(data-i18n-title="d20+training, effort & bonuses to tracker" title="d20+training, effort & bonuses to tracker")
                input(name="attr_sheet_roll_initiative" type="radio" value="1")
                span(data-i18n="d20+training, effort & bonuses to tracker") d20+training, effort & bonuses to tracker

            span.title(data-i18n="misc:") Misc:
            label.labelcheck(data-i18n-title="use-api-title" title="Show API buttons in chat roll template. Requires a Pro account, with the Cypher Systems by Roll20 API Companion Script, activated in the current game.")
                input(name="attr_sheetuseapi" type="checkbox" value="[[1]]")
                span(data-i18n="use-api") API buttons

    .version
        span(data-i18n="version") Version
        | &nbsp;
        span(name="attr_version")
