
.charsheet {
/*background-image: url(https://techfindings.net/svardsvartkonst/svardsvartkonst.jpg);*/
  background-image: url(https://raw.githubusercontent.com/zo0ok/roll20-character-sheets/master/SvardOchSvartkonst/svardsvartkonst.jpg);
  background-repeat: no-repeat;
  background-size: 800px 1128px;
}

input {
  border: none;
  background: transparent;
/*border: 1px solid red;*/
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  font-size: 20px;
}
textarea {
  border: none;
  background: transparent;
/*border: 1px solid red;*/
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  font-size: 16px;
  resize: none;
}

.sheet-grundegenskap {
  position:absolute;
  left:210px;
  width: 50px;
  text-align: center;
  font-size: 28px;
}

.sheet-grundegenskap-mod {
  position:absolute;
  left:254px;
  width: 20px;
  text-align: center;
  font-size: 16px;
}
.sheet-vapen-namn {
  position:absolute;
  width: 180px;
  text-align: center;
  font-size: 18px;
}
.sheet-vapen-traff {
  position:absolute;
  width: 50px;
  text-align: center;
  font-size: 18px;
}
.sheet-vapen-skada {
  position:absolute;
  width: 80px;
  text-align: center;
  font-size: 18px;
}
.sheet-varde {
  position:absolute;
  width: 50px;
  text-align: center;
  font-size: 28px;
}
