/* -------------------------------------
Sheet Tabs 
(Shamelessly stolen from the EOTE sheet)
(Seriously, saved my bacon <3<3<3)
------------------------------------- */

input.sheet-tab-main:checked ~ div.sheet-tab-main,    
input.sheet-tab-equipment:checked ~ div.sheet-tab-equipment,
input.sheet-tab-location-1:checked ~ div.sheet-tab-location-1,
input.sheet-tab-location-2:checked ~ div.sheet-tab-location-2,
input.sheet-tab-location-3:checked ~ div.sheet-tab-location-3,
input.sheet-tab-location-4:checked ~ div.sheet-tab-location-4,
input.sheet-tab-location-5:checked ~ div.sheet-tab-location-5,
input.sheet-tab-location-6:checked ~ div.sheet-tab-location-6,
input.sheet-tab-location-7:checked ~ div.sheet-tab-location-7,
input.sheet-tab-location-8:checked ~ div.sheet-tab-location-8,
input.sheet-tab-location-9:checked ~ div.sheet-tab-location-9,
input.sheet-tab-location-10:checked ~ div.sheet-tab-location-10,
input.sheet-tab-location-11:checked ~ div.sheet-tab-location-11,
input.sheet-tab-location-12:checked ~ div.sheet-tab-location-12,
input.sheet-tab-location-13:checked ~ div.sheet-tab-location-13,
input.sheet-tab-location-14:checked ~ div.sheet-tab-location-14,
input.sheet-tab-location-15:checked ~ div.sheet-tab-location-15{
   display:block;
}

div.sheet-tab-content { 
   display: none; 
}

input.sheet-tab {
   width: 350px;
   height: 30px;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   border:none;
   outline:none;
   position: relative;
   cursor: pointer;
   z-index: 1;
}                

input.sheet-tab::before {
   content: attr(title);

   border:1px solid #bfbfbf;
   border-bottom:1px solid #000000;
   border-radius:4px 4px 0 0;
   padding-bottom:1px;
   sheet-text-align: center;
   display: block;
   color:#000000;
   width: 350px;
   line-height: 30px;
   font-size: 16px;
   text-align:center
}

input.sheet-tab:active,
input.sheet-tab:focus {
   outline:none;
}

input.sheet-tab:hover::before {
   background:#bfbfbf;
}

input.sheet-tab:checked::before,
input.sheet-tab:checked:hover::before {
   border:1px solid #000000;
   border-bottom:1px solid #fff;
   background:#fff;
}

input.sheet-tab-location{
   width: 30px;
   height: 30px; 
   background:#ffffff;
}

/* -----
Global Changes
----- */

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
   opacity: 1;
}

input[type='text']{
   background-color:#ffffff;
   margin-left:5px;
   margin-top:3px;
   margin-bottom:3px;
}

input[type='number']{   
   background-color:#ffffff;
   margin-top:3px;
   margin-bottom:3px;
   font-weight:bolder; 
}

select {
   width:120px;
   background-color:#ffffff;
   margin:0;
   padding:0;
   
}

table {
  border-collapse:collapse;
}

table, th, td {
  border: 1px solid black;
}

tr{
   background-color:#bfbfbf;
}

/* -----
Type Number Input
----- */

.sheet-value-singledigit {
   width:32px !important;
}

.sheet-value-equipmentamount{
  margin-left:5px;
  width: calc(100% - 10px) !important;
}

.sheet-input-standard{
  width: calc(100% - 10px);
}

.sheet-input-equipmentLocation{
  width:190px;
}

.sheet-cell-equipmentAmount{
  width:100px;
}

/* -----
Text Area Input
----- */

.sheet-text-description {
   background-color:#ffffff;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 305px;
   height:90px;    
   resize:vertical;
}

.sheet-text-history {
   background-color:#ffffff;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 305px;
   height:150px;
   resize:vertical;
}

.sheet-text-renownInjuriesNotes {
   background-color:#ffffff;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 305px;
   height:70px;
   resize:vertical;
}

.sheet-text-drawbacks {
   background-color:#ffffff;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 305px;
   height:150px;
} 

.sheet-text-skills {
   background-color:#ffffff;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 140px;
   height:100px;
   resize: none;
}

/* ----------------------
Headers, labels and texts
------------------------*/

.sheet-text-header {
   text-align: left;
   color: #000000;
   font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
   font-size:12px;
   text-indent: 6px;
   height: 30px;
}

.sheet-text-label {
   text-align: left;
   color: #000000;
   font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
   font-size:12;
   padding-left:5px;
   padding-top: 5px;
   padding-bottom: 5px;
}

/* ---------
Meta Windows
--------- */

.sheet-character-wrapper{
     width:700px;
     float:left;
}

.sheet-meta1 {
     float:left;
     padding-right:20px;
}

.sheet-meta2 {
     float:left;
}   

/* ------
Both Tabs
------ */

.sheet-logo { 
   width:700px;
}

/* ------------
Character Sheet
------------ */

.sheet-singlecell {
   width: 330px;
}

.sheet-singlecell-bottompadding {
   width: 330px;  
   padding-bottom:20px; 
}

/* ------
Equipment Sheet 
------ */

.sheet-equipment{
  width: 700px;
  float:left;
  padding-top:20px;
}

.sheet.center{
  align:center;
}

/* --------- 
Table Styles 
--------- */

.sheet-table-onecolumn{
   width:330px;
}

.sheet-table-twocolumn{
   width:700px;
}

.sheet-table-equipmentcell{
  width:300px;
}

.sheet-table-noleft{
   border-left:none;
}

.sheet-table-noright{
   border-right:none;
}

.sheet-table-notop{
   border-top:none;
}

.sheet-table-nobot{
   border-bottom:none;
}