<option value="BARBARIAN" data-i18n="BARBARIAN"></option>
<option value="BARD" data-i18n="BARD"></option>
<option value="CLERIC" data-i18n="CLERIC"></option>
<option value="DRUID" data-i18n="DRUID"></option>
<option value="FIGHTER" data-i18n="FIGHTER"></option>
<option value="MONK" data-i18n="MONK"></option>
<option value="PALADIN" data-i18n="PALADIN"></option>
<option value="PSION" data-i18n="PSION" class="psionics"></option>
<option value="RANGER" data-i18n="RANGER"></option>
<option value="ROGUE" data-i18n="ROGUE"></option>
<option value="SORCERER" data-i18n="SORCERER"></option>
<option value="SOULKNIFE" data-i18n="SOULKNIFE" class="psionics"></option>
<option value="SUMMONER" data-i18n="SUMMONER" class="custom-class"></option>
<option value="WARLOCK" data-i18n="WARLOCK"></option>
<option value="WIZARD" data-i18n="WIZARD"></option>
<option value="CUSTOM" data-i18n="CUSTOM"></option>