<div class="shaped-row">
  <div class="flex-grow">
    <input type="hidden" name="attr_level">
    <fieldset class="repeating_class">
      <div class="shaped-row vert-center">
        <div class="4-rem">
          <select name="attr_name">
            {% include "./classList.html" %}
          </select>
        </div>
        <input type="checkbox" name="attr_custom_class_toggle" class="toggle-custom-class hidden">
        <div class="7-rem custom-class pad-l-sm">
          <input type="text" name="attr_custom_name">
        </div>
        <div class="3-rem pad-l-sm">
          <input type="number" name="attr_level">
        </div>
        <div class="2-rem pad-l-sm">
          <select name="attr_hd">
            <option value="d0">&#8212;</option>
            <option>d2</option>
            <option>d4</option>
            <option>d6</option>
            <option>d8</option>
            <option>d10</option>
            <option selected>d12</option>
            <option>d20</option>
          </select>
        </div>
        <div class="4-rem flex-grow pad-l-sm">
          <select name="attr_spellcasting">
            <option value="none">&#8212;</option>
            <option value="full" data-i18n="CASTERS_FULL"></option>
            <option value="half" data-i18n="CASTERS_HALF"></option>
            <option value="third" data-i18n="CASTERS_THIRD"></option>
            <option value="fullPsionics" data-i18n="PSIONICS_FULL"></option>
            <option value="halfPsionics" data-i18n="PSIONICS_HALF"></option>
            <option value="thirdPsionics" data-i18n="PSIONICS_THIRD"></option>
            <option value="warlock" data-i18n="WARLOCK"></option>
          </select>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="relative 3-rem mar-l-md">
    {% include "./defaultAbility.html" %}
  </div>
</div>