<select name="attr_default_ability">
  <option value="0">&#8212;</option>
  <option value="FINESSE" data-i18n="FINESSE"></option>
  <option value="STRENGTH" data-i18n="STRENGTH"></option>
  <option value="DEXTERITY" data-i18n="DEXTERITY"></option>
  <option value="CONSTITUTION" data-i18n="CONSTITUTION"></option>
  <option value="INTELLIGENCE" data-i18n="INTELLIGENCE"></option>
  <option value="WISDOM" data-i18n="WISDOM"></option>
  <option value="CHARISMA" data-i18n="CHARISMA"></option>
</select>