include ./mixins/stats

div.sheet-stats
  input(type='radio' class='sheet-hide sheet-stat-edit' name='attr_stat_mode' value='1' checked)
  div.sheet-stat-edit.sheet-showhide
    div.sheet-stat-toggle.sheet-set-toggle
      label.sheet-stat-toggle.sheet-set-toggle SET
        input(type='radio' class='sheet-hide' name='attr_stat_mode_button' value='2')
    +statBuilder()

  input(type='radio' class='sheet-hide sheet-stat-set' name='attr_stat_mode' value='2')
  div.sheet-stat-set.sheet-showhide
    +statStatic()
    div.sheet-stat-toggle.sheet-edit-toggle
      label.sheet-stat-toggle.sheet-edit-toggle EDIT
        input(type='radio' class='sheet-hide' name='attr_stat_mode_button' value='1')