.options {
  display: none;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 0.5rem;

  border: 0.2rem dashed #c00;
  border-width: 0.2rem 0;

  font-family: "Verdana", "Tahoma", sans-serif !important;
  font-size: 0.9rem;

  background: rgba(#c00, 0.1);

  * {
    font-family: inherit;
    font-size: inherit;
  }

  &__flag {
    &[value="on"] {
      ~ .options {
        display: block;
      }
    }
  }

  &__cog {
    width: 1rem;
    display: grid;
    grid-template-areas: "checkmark";

    > * {
      grid-area: checkmark;
      width: 100%;
      height: 100%;
    }

    span {
      font-family: pictos;
      text-align: center;
    }

    input {
      opacity: 0;

      &:checked + span {
        color: #c00;
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;

    &--checkbox {
      display: grid;
      grid-template-columns: 3rem 1fr;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(#c00, 0.5);
    }

    > * {
      flex: auto 1 1;
    }

    &--wrap {
      flex-wrap: wrap;
    }

    &--noborder {
      border-bottom: 0 !important;
    }

    &--topborder {
      border-top: 1px solid rgba(#c00, 0.5);
      border-bottom: 0 !important;
    }

    &--title {
      text-align: center;
      font-weight: bold;
    }

    &--center {
      justify-content: center;
    }
  }

  &__flex {
    flex: auto 1 1;

    @for $i from 1 through 10 {
      &--#{$i} {
        flex: $i * 10% 0 1 !important;
        max-width: $i * 10%;
      }
    }
  }

  span,
  &__label {
    flex: auto 0 0;
    max-width: 100%;

    padding: 0;
    margin: 0;
    margin-right: 0.25rem;

    line-height: 1rem;
    text-align: left;
  }

  select,
  input[type="checkbox"],
  input[type="text"],
  input[type="number"] {
    + .options__label {
      margin-left: 0.25rem;
    }
  }

  select,
  input[type="text"],
  input[type="number"] {
    margin: 0;
    margin-right: 0.25rem;
    padding: 0;
    height: 2rem;
    width: 100%;

    border: 1px solid rgba(#c00, 0.25) !important;
    border-radius: 0.3rem;

    font-size: 1rem !important;
    font-family: sans-serif;
    line-height: 1;
    text-indent: 0;
    text-align: left;

    color: black;

    background: white;
    background-image: none !important;
  }

  input[type="text"] {
    text-align: left;
  }

  textarea {
    margin: 0;
    padding: 0.25rem;
    height: 10rem;
    width: 100%;

    border: 1px solid rgba(#c00, 0.25) !important;
    border-radius: 0.3rem;

    font-size: 1rem !important;
    line-height: 2rem;
    text-indent: 0;
    text-align: left;

    color: black;

    background: white;
    background-image: none !important;
  }

  input[type="text"],
  input[type="number"] {
    padding-left: 0.5rem;
  }

  .pb_custom {
    display: none;
  }

  input[name*="pb_type"][value*="custom"] ~ .pb_custom {
    display: block;
  }

  .repcontrol {
    button {
      font-size: 0;
    }
  }
}
