div.sheet-pc {
	border: 0.8em solid $gray;
	background-color: $secondary;
	padding: 2% 1%;
	grid-template-columns: 3fr 2fr 0.5fr;
	grid-row-gap: 1%;

	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;

	h1 {
		grid-area: 1 / 1 / 1 / 4;
		border-bottom: $border-thick-left;
	}

	label {
		border: 1px solid $dark;
	}

	div.sheet-row {
		display: inline-grid;
		margin-bottom: 5%;
	}

	div.sheet-skill {
		padding: 1% 2%;
		overflow: hidden;
	}

	div.sheet-training,
	div.sheet-library {
		div.sheet-skill {
			border-left: $border-thick-left;
		}
	}


	div.sheet-hoard {
		grid-template-columns: repeat(10, 1fr);
		grid-row-gap: 2%;
		border-bottom: 2px solid $dark;
		padding-bottom: 5%;

		h2 {
			grid-area: 1 / 1 / 1 / 11;
		}

		label {
			border: none;
		}
	}

	div.sheet-household {
		textarea {
			border-left: $border-thick-left;
		}
	}

	div.sheet-equipment {
		border-bottom: 2px solid $dark;

		div.sheet-backpack,
		div.sheet-combat {
			grid-column-gap: 1%;
		}
		
		div.sheet-repeating-container {
			grid-column: 1 / 3;
		}

		div.sheet-armor,
		div.sheet-backpack {
			grid-template-columns: 80% 1fr;

			div.sheet-grid {
				grid-template-columns: 80% 1fr;
			}
		}

		div.sheet-combat {
			grid-template-columns: 80% 1fr;

			label:first-child {
				border-left: $border-thick-left;
			}
		}
	}

	div.sheet-column:not(:last-child) {
		border-right: $border-thick-left;
		padding-right: 2%;
	}

	div.sheet-squares {
		text-align: center;
		display: inline-grid;
		align-items: start;

		label {
			border: $border-thin;
			width: 5rem;
			height: 5rem;
			margin: auto;
			margin-bottom: 5%;
			display: grid;
			align-items: center;
		}

		input {
			height: 100%;
			width: 100%;
		}
	}

	div.sheet-gold,
	div.sheet-burdens {
		input {
			text-align: center;
		}
	}

	div.sheet-burdens {
		label {
			border-left: $border-thick-left;
		}
	}

	div.sheet-ruin {
		transition: all 2s;

		label {
			position: relative;
		}

		div.sheet-slash {
			opacity: 0;
		}

		input[type='checkbox'] {
			height: 100%;
			opacity: 0;
			width: 100%;
			position: absolute;

			&:checked + div.sheet-slash {
				background-color: $dark;
				height: 5px;
				opacity: 1;
				transform: skewY(-44deg);
			}
		}

		div.sheet-text-center {
			position: absolute;
		}
	}
}