section#advancement.advancement.span-all.character-type.character-type--character
  h3(data-i18n='advancements')
  each section in ['basic','super','ultra']
    .repeating-container
      h4(data-i18n=section).header
      +customControlFieldset({name:`${section}-advancement`})
        +checkbox({name:'picked',class:'boxed ratio1-1'})
        +adaptiveTextarea({name:'description',class:'underlined'})