
section#attributes.attributes
  h3(data-i18n='stats').header
  each name in attributes
    +roller-label({
      buttonObj:{name,role:'heading','aria-level':4,'data-i18n':name,trigger:{triggeredFuncs:['rollStat']}},
      inputObj:{name,type:'number',class:'underlined',value:0,min:-3,max:3,trigger:{affects:[`${name}_mod`]}},
      divObj:{class:name}
    })