section(aria-labelledby='clock-header')#clock.clock.span-2--if-wide.repeating-container
  h3(data-i18n='clocks')#clock-header.header
  +customControlFieldset({name:'clock'})
    +hidden({name:'value',value:0,class:'clock-control--current'})
    +hidden({name:'value max',value:10,class:'clock-control--max'})
    .clock-progress
    .clock-label
      +radio({name:'value',value:0,class:'clear-x'})
      +number({name:'value',value:0})
      span.slash /
      +number({name:'value max',value:10,min:2,max:10})
    +text({name:'name',class:'underlined',role:'heading','aria-level':5})