section#compatibility.compatibility.repeating-container
  h3(data-i18n='compatibility scores')
  .repeat-column
    each header in ['character','score']
      h4(data-i18n=header class=replaceSpaces(header))
  +customControlFieldset({name:'compatibility'})
    .input-label
      +checkbox({name:'activate',value:1})
      +text({name:'name',class:'underlined',role:'heading','aria-level':5})
    +number({name:'score',class:'underlined'})
  label.input-label
    +checkbox({name:'interference',value:1})
    h5(data-i18n='interference').underlined.underlined--invisible