section(aria-labelledby='lifesliceheader')#lifeslice.lifeslice.span-all.repeating-container
  h3(data-i18n='slice of life complications')#lifesliceheader
  +customControlFieldset({name:'complication'})
    +checkbox({name:'activate',value:1})
    +adaptiveTextarea({name:'description',class:'underlined'})