section(aria-labelledby='meter-header')#meter.meter.span-2--if-wide.repeating-container
  h3(data-i18n='meters')#meter-header.header
  .repeat-column
    h4(data-i18n='name')
    each num in meterValues
      h4 #{num}
  +customControlFieldset({name:'meter'})
    +collapse
    +text({name:'name',class:'underlined',role:'heading','aria-level':5})
    +hidden({name:'value max',value:10,class:'fill-left__max-control'})
    +fillLeft({
      radioObj:{name:'value',class:'square',value:0,trigger:{calculation:'limitMeterValue'}},
      valueArray:varObjects.meterValues
    })
    h5(data-i18n='max').expanded
    +fillLeft({
      radioObj:{name:'value max',class:'square',value:10,'data-i18n-title':'set the meter\'s maximum value.',trigger:{affects:['repeating_meter_$X_value']}},
      valueArray:meterValues,
      noClear:true
    }).expanded.no-fill
    .headed-textarea.description.expanded.span-all
      +h5({'data-i18n':'description'})
      +adaptiveTextarea({name:'description',class:'underlined'})