section(aria-labelledby='modifier-header')#modifiers.repeating-container
  h3(data-i18n='roll modifiers')#modifier-header
  +customControlFieldset({name:'modifier'})
    +collapse
    +checkbox({name:'activate',value:1})
    +text({name:'name',class:'underlined'})
    .headed-textarea.description.expanded.span-all
      h5(data-i18n='effects')
      +adaptiveTextarea({name:'effect',class:'underlined'})