section#playbook.playbook.repeating-container.span-2--if-wide.character-type.character-type--character
  h3(data-i18n='character moves').header
  .repeat-column
    h4(data-i18n='name')
    h4(data-i18n='cost')
    h4(data-i18n='source')
  +customControlFieldset({name:'move'})
    +collapse
    +roller-label({
      buttonObj:{name:'roll',trigger:{triggeredFuncs:['rollCharacterMove']}},
      inputObj:{name:'name',type:'text',class:'underlined',role:'heading','aria-level':5}
    })
    +text({name:'cost',class:'underlined'})
    +select({name:'source',class:'underlined'})
      +option({value:'','data-i18n':'select one'})
      each value in ['playbook','descriptor','arc']
        +option({value,'data-i18n':value})
    .collapse-container.expanded.span-all
      +checkbox({name:'result collapse',class:'collapse text-collapse__check',value:1,checked:'',hidden:''})
      label.text-collapse
        +checkbox({name:'result collapse',hidden:'',value:1,checked:'',class:'text-collapse__check'})
        h5(data-i18n='customize results').text-collapse__text
      each result in ['critical success','full success','mixed success','failure','critical failure']
        .headed-textarea.expanded.span-all
          h5(data-i18n=result)
          +adaptiveTextarea({name:result,class:'underlined'})
    .headed-textarea.description.expanded.span-all
      +h5({'data-i18n':'description'})
      +adaptiveTextarea({name:'description',class:'underlined'})