section(aria-labelledby='skill-header').span-2--if-wide
  #skills.skills.repeating-container
    h3(data-i18n='skills and inabilities')#skill-header.header
    .repeat-column
      h4(data-i18n='skill')
      h4(data-i18n='inability')
    +customControlFieldset({name:'skill'})
      +collapse
      +roller-label({
        buttonObj:{name:'roll',trigger:{triggeredFuncs:['rollSkill']}},
        inputObj:{name:'name',type:'text',class:'underlined'}
      })
      +roller-label({
        buttonObj:{name:'inability',trigger:{triggeredFuncs:['rollSkill']}},
        inputObj:{name:'inability',type:'text',class:'underlined'}
      })
      .expanded
        +select-label({
          inputObj:{name:'skill stat',class:'underlined'},
          spanObj:{'data-i18n':'stat',role:'heading','aria-level':5}
        })
          +attributeOptions
        +input-label({
          inputObj:{name:'super',type:'checkbox',value:1,class:'boxed ratio1-1',class:'underlined'},
          spanObj:{'data-i18n':'super',role:'heading','aria-level':5},
          divObj:{class:'expanded super'}
        })
      .expanded
        +select-label({
          inputObj:{name:'inability stat',class:'underlined'},
          spanObj:{'data-i18n':'stat',role:'heading','aria-level':5}
        })
          +attributeOptions
        +input-label({
          inputObj:{name:'inability super',type:'checkbox',value:1,class:'boxed ratio1-1',class:'underlined'},
          spanObj:{'data-i18n':'super',role:'heading','aria-level':5},
          divObj:{class:'expanded super'}
        })
  #signature-item.signature-item.repeating-container.character-type.character-type--character
    h4(data-i18n='signature item')
    +customControlFieldset({name:'signature'})
      +collapse
      +roller-label({
        inputObj:{name:'name',type:'text',class:'underlined'},
        buttonObj:{name:'roll',role:'heading',trigger:{triggeredFuncs:['rollSkill']}}
      })
      .expanded
        +select-label({
          inputObj:{name:'stat',class:'underlined'},
          spanObj:{'data-i18n':'stat',role:'heading','aria-level':5}
        })
          +attributeOptions
        +input-label({
          inputObj:{name:'super',type:'checkbox',value:1,class:'boxed ratio1-1',class:'underlined'},
          spanObj:{'data-i18n':'super',role:'heading','aria-level':5},
          divObj:{class:'expanded super'}
        })