.charsheet label {
	display: inline-block;
}
.charsheet input {
	display: inline-block;
}
.sheet-col strong.sheet-dee {
	font-weight: bold;
}
.charsheet input.sheet-short {
}
.charsheet {
	background-image: url("http://i.imgur.com/ctm4eau.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.charsheet table td, .charsheet table th {
	font-weight: bold;
}
select.sheet-dtype {
	vertical-align: top;
}