//- A placeholder for creating a stackable grid of elements. Particularly for making stacked input labels.
%darkmodeStyle{
  --borderColor: var(--dark-secondarytext);//Our basic border color
  --fontColor: var(--dark-secondarytext);//Our basic font color
  --backColor: var(--dark-surface1);//Set our background to match the dark mode background of the sheet
  --selectedColor:var(--fontColor);
  --subHeadBackColor:var(--dark-primary);
  --checkColor: var(--darkCheck);
  img{
    filter: brightness(.8) contrast(1.2);
  }
}