//Our various fonts that can be used on the sheet. For now, these are all set to Arial until we find fonts we like, which won't be done until the very end.
%font-vars{
  --topHeaderFont:Arial;
  --midHeaderFont:Arial;
  --contentFont:Arial;
}
%universalVariables{
  // Layout variables
  --grid-gap: 1rem;//Variable to define our basic gap between layout elements. Followed by several gaps that are mathematically related to it.
  --half-gap: calc(var(--grid-gap) / 2);
  --tiny-gap: calc(var(--half-gap) / 2);
  --big-gap: calc(var(--grid-gap) * 2);
  --spanSectionColumn:1/-1;//How a section should span when it is meant to span large numbers of columns (default span all)
  --fillLeftRadioSize: 1rem;
  --fillLeftRadioWidth:var(--fillLeftRadioSize);
  --fillLeftRadioHeight:var(--fillLeftRadioSize);
  
  // Animation variables
  --revealTime: 500ms;//Our basic reveal time for transitions
  --delayTime: 200ms;//Our basic delay time before a transition occurs
  --inputSwap: opacity var(--revealTime) ease var(--delayTime);//Transition properties for swapping the visibility of two elements
  --focusTiming: 500ms ease;//our basic timing for the transition used when an element is focused or hovered on
  --focusTrans: all var(--focusTiming);//The full transition properties for focusing/hovering on an element

  // color variables
  --borderColor: black;//Our basic border color
  --fontColor: black;//Our basic font color
  --backColor: #ffffff;//Our basic background color
  --subHeadBackColor:grey;//Our sub header background color
  --unselectedColor1:lightgrey;//Our default font color for items that are currently inactive
  --unselectedColor2:transparent;
  --selectedColor:black;
  --checkColor:black;
  --darkCheck:white;

  // Border sizing variables
  --displayBorderWidth: 2px;//Our default border width
  @extend %font-vars;
}