%headed-textarea{
  .headed-textarea{
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-column:1 / -1;
    :not(textarea):not(.adaptive){
      justify-self: start;
    }
    .headed-textarea__header{
      grid-area:initial;
    }
  }
}