@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.character-sheet {
    font-family: 'Cinzel', serif;
    background-color: #DBFFF8;
    margin: 0;
    padding: 20px;
    color: #000;
    border: 2px solid #06009E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 900px;
    max-width: 100%;
    box-sizing: border-box;
}

.character-sheet img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.character-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-with-text-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.input-with-text-below input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #06009E;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.input-with-text-below span {
    color: #06009E;
    font-size: 18px;
    font-weight: bold;
}

.xp-container {
    display: flex;
    align-items: center;
    color: #06009E;
    margin-top: 10px;
}

.xp-container label, .attribute-split label, .attribute-split span {
    margin-right: 5px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.xp-container input {
    width: 50px;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #06009E;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 16px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

h2 {
    margin-top: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-color: #06009E;
    padding: 5px 0;
    border-bottom: 2px solid #06009E;
}

textarea, input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #06009E;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    resize: both; /* Permite redimensionamento */
    overflow: auto;
}

textarea {
    min-height: 80px;
    max-height: 200px;
}

.attribute-split {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attribute-split input {
    width: 50px;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #06009E;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.button-title-attribute {
    width: calc(100% - 20px);
    padding: 15px;
    background-color: #fff;
    color: #06009E;
    border: 2px solid #06009E;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.button-title-attribute:hover {
    background-color: #e6d3c3;
}

.attribute {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fake-mod {
    width: 50px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #06009E;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.label {
    color: #06009E;
    font-size: 18px;
    font-weight: bold;
}
