div.attributs {
    @include col(100%, calc((100% / 3) - 5px));

    h1 {
        font-size:15px;
        text-transform:uppercase;
        width:max-content;
        white-space:nowrap;
        margin-left:5px;
    }

    div.headerFirst {
        display:flex;
        width:100%;
        justify-content: space-between;
        align-content:center;
        align-items:center;
        padding-right:16px;
    }

    div.header {
        display:flex;
        position:absolute;
        width:calc(100% + 12px);
        justify-content: right;
        align-content:center;
        align-items:center;
        right:12px;

        span {
            display:inline-block;
            width:100%;
            border-bottom:1px dashed $black;
            height:1px;
        }
    }

    div.stats {
        position:relative;
        display:flex;
        width:100%;
        justify-content: space-between;
        flex-wrap: wrap;
        border:1px solid $black;
        padding:10px;
        margin-top:40px;

        div.score {
            position: absolute;
            right: 0px;
            margin-top: -48px;
            border-top: 2px solid $black;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            >input[type="number"] {
                border: 1px solid black;
                border-radius: 30px;
                color: black;
                padding: 0px;
                height: 60px;
                width: 60px;
                font-size: 25px;
                text-decoration: underline;
            }
        }

        div.competence {
            display:flex;
            flex-wrap: wrap;
            width:100%;
            border-left:1px solid $black;
            border-bottom:1px solid $black;
            margin-top:10px;

            div.base {
                display:flex;
                justify-content: space-between;
                width:100%;
                padding-left:10px;
                align-items:flex-start;

                h2 {
                    width:max-content;
                    font-size:15px;
                    line-height: 25px;
                    white-space: nowrap;
                }

                input[type="number"] {
                    margin-left:auto;
                    width:25px;
                    height:25px;
                    padding:0px;
                    border-color:$black;
                    color:$black;
                    text-align:center;
                    font-size:16px;
                }

                @include button(23px) {
                    margin-left:2px;
                };
            }

            div.evolution {
                display:flex;
                padding-left:10px;
                width:calc(100% - 10px);

                @include upRank(15px) {
                    margin-right:2px;
                };
            }

            div.repcontainer {
                width:100%;

                div.repitem {
                    display:flex;
                    justify-content: space-between;
                    width:100%;
                    margin-top:5px;

                    input[type="text"] {
                        width:calc(100% - 60px);
                        border-top:0px;
                        border-left:0px;
                        border-right:0px;
                        border-color:$black;
                        border-radius:0px;
                        padding:0px;
                        font-size:13px;
                        margin-left:25px;
                        color:$black;
                    }

                    @include button(18px);

                    .itemcontrol .btn {
                        padding-top:0px;
                        padding-bottom:0px;
                    }
                }
            }
        }
    }

    div.heavyMargin {
        margin-top:76px;

        div.competence:nth-of-type(2) {
            margin-top:34px;
        }
    }
}