div.prodiges {
    @include col(100%, calc((100% / 2) - 10px));
    @include button(23px) {

        &.after {
            h1 {
                margin-left:0px;
                margin-right:5px;
            }

            &::before {
                background:none;
                width:0px;
                height:0px;
                border:0px;
            }

            &::after {
                content:"";
                background:$diceBlack;
                background-size:contain;
                background-position: center;
                background-repeat: no-repeat;
                width:23px;
                height:23px;
                border:1px solid black;
            }

            &:hover {
                &::after {
                    background:$diceWhite;
                    background-size:contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
        
    };
    
    display:flex;
    flex-wrap: wrap;
    margin-top:10px;

    >header {
        width:100%;
    }

    div.prodige {
        display:flex;
        width:100%;
        justify-content: space-between;
        align-items:flex-start;
        flex-wrap: wrap;

        header {
            display:flex;
            width:100%;
            justify-content: space-between;
            margin-bottom:5px;
            margin-top:5px;

            h1 {
                display:flex;
                font-size: 15px;
                text-transform: uppercase;
                width: max-content;
                white-space: nowrap;
                line-height: 25px;
            }

            input[type="number"] {
                width:30px;
                text-align: center;
                font-size:15px;
                padding:0px;

                border:2px solid black;
                color:black;
                margin-left:auto;
            }

            &.esprit {
                h1::before {
                    content:"";
                    display:inline-block;
                    width:30px;
                    height:25px;
                    background:$esprit;
                    background-size:contain;
                    background-position: left;
                    background-repeat: no-repeat;
                    padding-right:10px;
                }
            }

            &.corps {
                h1::before {
                    content:"";
                    display:inline-block;
                    width:30px;
                    height:25px;
                    background:$corps;
                    background-size:contain;
                    background-position: left;
                    background-repeat: no-repeat;
                    padding-right:10px;
                }
            }

            &.illusion {
                h1::before {
                    content:"";
                    display:inline-block;
                    width:30px;
                    height:25px;
                    background:$illusion;
                    background-size:contain;
                    background-position: left;
                    background-repeat: no-repeat;
                    padding-right:10px;
                }
            }

            &.realite {
                h1::before {
                    content:"";
                    display:inline-block;
                    width:30px;
                    height:25px;
                    background:$realite;
                    background-size:contain;
                    background-position: left;
                    background-repeat: no-repeat;
                    padding-right:10px;
                }
            }

            div.evolution {
                display:flex;
                width:95px;
                align-items:center;

                @include upRank(15px) {
                    margin-left:2px;
                };
            }

            
        }

        .repcontainer {
            width:100%;

            .repitem {
                width:100%;
                border:1px solid black;    
                details {
                    &[open] {
                        summary {
                            border-bottom:1px solid black;

                            &::before {
                                content:"";
                                width:25px;
                                height:25px;
                                background:$retract;
                                background-size:contain;
                                background-repeat: no-repeat;
                                background-position:center;
                            }
                        }
                        
                        
                    }

                    summary {
                        display:flex;
                        width:100%;
                        justify-content: space-between;
                        align-content: center;
                        align-items: center;
                        cursor:pointer;
    
                        input[type="text"] {
                            width:calc(100% - 90px - 51px);
                            height:25px;
                            padding:0px;
                            border:0px;
                            padding-left:10px;
                        }

                        label.rang {
                            width:90px;
                            align-items: center;
                            display: flex;
                            border-left:1px solid black;
                            display: flex;
                            justify-content: space-between;
                            margin-left:auto;

                            span {
                                font-size:12px;
                                color:black;
                                margin-left:2px;
                            }

                            label {
                                width:45px;
                                height:25px;
                                margin-right:5px;
                                font-size:12px;
                                font-weight:normal;
                                display:flex;
                                align-items:center;

                                input[type="number"] {
                                    width:25px;
                                    height:25px;
                                    text-align: center;
                                    font-size:15px;
                                    padding:0px;
                                    border:0px;
                                    font-weight: bold;
                                    font-size: 15px;
                                    color: black;
                                }
                            }
                        }

                        &::before {
                            content:"";
                            width:25px;
                            height:25px;
                            background:$extend;
                            background-size:contain;
                            background-repeat: no-repeat;
                            background-position:center;
                        }
                    }

                    div {
                        display:flex;
                        width:100%;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        select {
                            width:100%;
                            text-align:center;
                            border-left:0px;
                            border-right:0px;
                            border-top:0px;
                            border-bottom:1px solid black;
                            color:black;
                        }

                        label {
                            display:flex;
                            
                            justify-content: space-between;
                            align-items:center;
                            border-bottom:1px solid black;
                            
                            span {
                                width:max-content;
                                font-size:12px;
                                color:black;
                                white-space:nowrap;
                                padding-left:2px;
                            }

                            input[type="text"] {
                                width:100%;
                                border:0px;
                                font-size:12px;
                                text-align:center;
                                color:black;
                            }

                            &:nth-of-type(1) {
                                width:calc((100% / 2) - 1px);
                                border-right:1px solid black;
                            }

                            &:nth-of-type(2) {
                                width:calc((100% / 2));
                            }
                        }
                    }
                }
            }
        }

        &:last-of-type {
            margin-top:10px;
        }
    }
}