.sheet-con{
    width: 800px;
    background-image: url("http://sydneyearly.com/wpba.png");
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    border: black double 3px;
}



.sheet-head{
    display: flex;
    flex-flow: row wrap;

}
.sheet-r2 {
    display: block;
    width: 100%;
    height: 200px;

}
.sheet-r3 {
    display: block;
    width: 100%;
    height: 300px;

}

.sheet-headcell1{width: 33%;

    margin: 0 auto;
    opacity: 0.15;
    float: left;

    background-image: url("http://sydneyearly.com/logo11.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;


}

.sheet-headcell2, .sheet-headcell3{width: 33%; round-color: #eee;}


.sheet-round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 35px !important;
    height: 35px !important;
    text-align: center;
    margin-left: 10px;
}

.sheet-round:focus {
    outline: none;
    border: 1px solid #a0d18c;
    color: #2d9fd9;
    text-align: center;
}

.sheet-high-concept {
    width: 200px;
    height: 50px;
}

.sheet-divTable {
    display: table;
    width: 68%;
    float: right;
    margin-right: 15px;

}

.sheet-divTableRow {
    display: table-row;
}

.sheet-divTableHeading {

    display: table-header-group;
}

.sheet-divTableCell,
.divTableHead {

    display: table-cell;
    padding: 1px 1px;
    text-align: center;
}

.sheet-divTableHeading {

    display: table-header-group;
    font-weight: bold;
}

.sheet-divTableFoot {

    display: table-footer-group;
    font-weight: bold;
}

.sheet-divTableBody {
    display: table-row-group;
}

.sheet-midleft {
    width: 20%;
    margin-left: 15px;
    display: block;
    float: left;

}
label{
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
}
.sheet-stunts {
    width: 30%;
    margin-left: 15px;
    display: block;
    float: left;
}

.sheet-resources {
    width: 30%;
    margin-right: 20px;
    display: block;
    float: right;
}
.sheet-otherresources {
    width: 30%;
    margin-right: 20px;
    display: block;
    float: right;
}
.sheet-cons{
   margin: auto;

    display: block;
}

.sheet-c1 input, .sheet-c2 input,, .sheet-c3 input {
    position: relative;
    width: 100%;

}

.sheet-c1, .sheet-c2 , .sheet-c3  {
    width: 25%;
    display: block;

    float: left;
}


.sheet-c1a, .sheet-c2a, .sheet-c3a   {
    width: 9%;
    margin-top: 14px;
    display: block;

    margin-left: -10px;
    float: left;
}


.sheet-tb{
    width: 100%;
    text-align: center;
}
.sheet-tc{
    width: 100%;
    text-align: center;
}

textarea, select, input, button { outline: none; }

.sheet-bltless li {
    margin-left: -15px;
    list-style-type: none;
}

.sheet-roundcb {
    position: relative;
    display: inline-block;
}

.sheet-roundcb label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    left: 5px;
    position: absolute;
    top: -2px;



}

.sheet-roundcb label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 14px;
    margin-bottom: 10px;
}


.sheet-roundcb input[type="checkbox"] {
    visibility: hidden;
}

.sheet-roundcb input[type="checkbox"]:checked + label {
    background-color: #000000;
    border-color: #000000;
}

.sheet-roundcb input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.sheet-headcell3 label {
    margin-top: 5px;

}



.sheet-rolltemplate-attack{
    background-image: url("http://sydneyearly.com/wpba.png");
    width: 100% ;
    border: black double 3px;
    padding: 2px;
    line-height: 1.6em;
    font-size: 16px;
    margin-right: 10px;
    margin-left: -25px;
    text-align: center;
}

.sheet-rolltemplate-attack .inlinerollresult.fullcrit {
    border: 0px solid #000000 !important;
    background-image: url("http://sydneyearly.com/wpba.png");
}


.sheet-rolltemplate-attack .inlinerollresult.fullfail {
    border: 0px solid #000000 !important;
    background-image: url("http://sydneyearly.com/wpba.png");
}
.sheet-rolltemplate-attack .inlinerollresult.importantroll,
.sheet-rolltemplate-attack .inlinerollresult {
    border: 0px solid #000000;
    background-image: url("http://sydneyearly.com/wpba.png");
}

.sheet-genButton {
    text-align: left;
    line-height: 10px;
    margin: 0;
    overflow: visible;
    text-transform: none;
    border-style: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    color: blue;
    font-size: 14px !important;
    font-weight: bold;
    width: 100% ;
    border: none;
    border-bottom: dashed black 1px;
}

.sheet-genButton:before {
    color: black;
    font-weight: normal;
    border: 1px solid lightgrey;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 5px;
    display: none;

}