
// REPEATING SECTIONS
//    =============================
	.repcontainer .repitem {

	}

	.repcontrol {
		.btn {
			color      : transparent !important;
			padding    : 0px;
			text-shadow: none;
			width      : 2.5em;
		}

		.repcontrol_edit:after,
		.repcontrol_add:after  {
			background: transparent;
			color: $maincolor;
			font-family: pictos;
			font-size: 1.5em;
			left: -94%;
			position: relative;
			width: 0.2em;
		}

		.repcontrol_edit:after {content: '(';}
		.repcontrol_add:after {content: '&';}

		.repcontrol_edit:hover,
		.repcontrol_add:hover,
		.repcontrol_edit:focus,
		.repcontrol_add:focus {
			background: $accent3;
		}

		.repcontrol_edit:hover:after,
		.repcontrol_add:hover:after,
		.repcontrol_edit:focus:after,
		.repcontrol_add:focus:after {
			color: $accent2;
		}
	}

	.editmode ~ .repcontrol .repcontrol_edit:after {content: ')';}

	.itemcontrol {
		z-index: 10;

		.repcontrol_del,
		.repcontrol_move {
			font-size : 1em;
			height    : 2em;
			padding   : 0px;
			width     : 2em;
		}

		.repcontrol_del {
			background-color: darkred;
			font-family     : pictos;

			&:before {
                display: none;
            }
		}
	}