//- TODO: Add Explainer Page on the migration to seperate sheets
input.changelog.hide(type='checkbox' name='attr_changelog_2.0.0')
.changelog
  .copy
    h3 <strong>Version 2 Release</strong>
    div As part of the version 2 release, a new landing page was added for selecting either the character sheet, or the new shared sheet. If this was previously a character sheet, you can just select the "CHARACTER" option.
    div.center <strong>(All your data will be retained)</strong>
  label.close-changelog
    input(type='checkbox' name=`attr_close_changelog` class='hide')
    div CLOSE

- var pages = [ 'character', 'shared' ]
input(type='checkbox' name='attr_modes_choice' class='modes-show hide' checked)
div.modes-show.hide
  div.mode-title
    h2.mode-title SELECT THE SHEET TYPE
  div.modes

    each page, index in pages
      label.mode 
        h4=page.toUpperCase()
        div.mode
          input(type='radio' name='attr_mode_button' class='hide' value=index)
          div.mode-image
            img(src=`https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ironsworn/assets/${page}-sheet.png`)

input(type='radio' name='attr_mode' class='character-mode hide' value='0')
div.character-mode.hide
  include ./character/index

input(type='radio' name='attr_mode' class='shared-mode hide' value='1')
div.shared-mode.hide
  include ./shared/index