<div class="armours">
    <fieldset class="repeating_armours">
        <div class="hoverable flex-column">
            <input class="options-flag" type="checkbox" name="attr_options-flag" checked><span>y</span>
            <div class="flex-row align-center">
                <input type="hidden" name="attr_armour_rollvalue"
                       value="&{template:main} {{titre=@{name}}} {{subtitle=@{character_name}}} {{roll=@{armour_roll_value}}} {{notes=@{notes}}}">
                <input type="hidden" name="attr_armour_roll_value"></input>
                <button type="roll" name="attr_armour_roll" value="@{armour_rollvalue}"
                        class="flex-row bold w-12 left white-roll ">
                    <span class="w-6 small" name="attr_name_label">&nbsp;</span>
                    <span class="w-6 right small" name="attr_armour_roll_label">&nbsp;</span>
                </button>
            </div>
            <div class="flex-column options-options option-frame">
                <div class="flex-row align-center">
                    <label class="label w-2"><span data-i18n="common.name">Name</span></label>
                    <input type="text" class=" text-left w-10" name="attr_name">
                </div>
                <div class="flex-row align-center">
                    <label class="label w-2"><span data-i18n="armour.roll">Roll</span></label>
                    <input type="text" class="text-left w-4" placeholder="2D6L" name="attr_armour_dice">
                    <input type="text" class="text-left w-2" placeholder="-2" name="attr_armour_malus">
                    <select class="w-4" name="attr_type">
                        <option value="light" data-i18n="armour.light">Light</option>
                        <option value="medium" data-i18n="armour.medium">Medium</option>
                        <option value="heavy" data-i18n="armour.heavy">Heavy</option>
                    </select>
                </div>
                <div class="flex-column w-12">
                    <label class="label w-12"><span data-i18n="common.notes">Notes</span></label>
                    <textarea class="text-left w-12" name="attr_notes"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</div>