<div class="gears">
    <fieldset class="repeating_gears">
        <div class="hoverable flex-column">
            <input class="options-flag" type="checkbox" name="attr_options-flag" checked><span>y</span>
            <div class="flex-row align-center">
                <input type="hidden" name="attr_gear_rollvalue"
                       value="&{template:main} {{titre=@{name}}} {{subtitle=@{character_name}}} {{description=@{description}}}">
                <button type="roll" name="attr_gear_roll" value="@{gear_rollvalue}"
                        class="flex-row bold w-12 white-roll">
                    <span class="w-12" name="attr_name">&nbsp;</span>
                </button>
            </div>
            <div class="flex-column options-options option-frame">
                <div class="flex-row align-center">
                    <label class="label w-2"><span data-i18n="common.name">Name</span></label>
                    <input type="text" class=" text-left w-10" name="attr_name">
                </div>
                <div class="flex-column w-12">
                    <label class="label w-12"><span data-i18n="common.description">Description</span></label>
                    <textarea class="text-left w-12" name="attr_description"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</div>