<div class="flex-column w-2 align-center">
    <label class="label fit-content"><span data-i18n="resources.resolve">resolve</span></label>
    <input type="number" class="bordered-input input" name="attr_resolve"></input>
</div>
<div class="flex-column w-2">
    <button type="action" name="act_resolve_fatigue" class="damage-button"><span data-i18n="damage.fatigue">Fatigue</span></button>
    <button type="action" name="act_resolve_normal" class="damage-button"><span data-i18n="damage.normal">Normal</span></button>
</div>
<div class="flex-column w-2">
    <button type="action" name="act_resolve_rest" class="damage-button"><span data-i18n="rest.short">Rest</span></button>
    <button type="action" name="act_resolve_heal" class="damage-button"><span data-i18n="rest.heal">Heal</span></button>
</div>
<div class="flex-column w-7">
    <div class="flex-row justify-end align-center">
        <input type="hidden" name="attr_resolve_1" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_2" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_3" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_4" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_5" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_6" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_7" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_8" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_9" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_10" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_11" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_12" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_13" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_14" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_15" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_16" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_17" class="lifebox"></input>
        <span></span>
        <input type="hidden" name="attr_resolve_18" class="lifebox"></input>
        <span></span>
    </div>
    <div class="flex-row justify-end align-center">
        <label class="label fit-content"><span data-i18n="resources.critical">Critical</span></label>
        <label class="large-box">
            <input type="checkbox" name="attr_resolve_critical_1"></input>
        </label>
        <label class="large-box">
            <input type="checkbox" name="attr_resolve_critical_2"></input>
        </label>
        <label class="large-box">
            <input type="checkbox" name="attr_resolve_critical_3"></input>
        </label>
        <label class="large-box">
            <input type="checkbox" name="attr_resolve_critical_4"></input>
        </label>
        <label class="large-box">
            <input type="checkbox" name="attr_resolve_critical_5"></input>
        </label>
    </div>
</div>