<div class="weapons">
    <fieldset class="repeating_weapons">
        <div class="hoverable flex-column">
            <input class="options-flag" type="checkbox" name="attr_options-flag" checked><span>y</span>
            <div class="flex-row align-center">
                <input type="hidden" name="attr_weapon_rollvalue"
                       value="&{template:attack} {{titre=@{name}}} {{subtitle=@{character_name}}} {{attack=@{weapon_attack_value}}} {{damage=@{weapon_damage_value}}} {{notes=@{notes}}}">
                <input type="hidden" name="attr_weapon_attack_value"></input>
                <input type="hidden" name="attr_weapon_damage_value"></input>
                <button type="roll" name="attr_weapon_roll" value="@{weapon_rollvalue}"
                        class="flex-row bold w-12 left white-roll ">
                    <span class="w-6 small" name="attr_name">&nbsp;</span>
                    <span class="w-3 center small" name="attr_type_label">&nbsp;</span>
                    <span class="w-3 right small" name="attr_damage_label">&nbsp;</span>
                </button>
            </div>
            <div class="flex-column options-options option-frame">
                <div class="flex-row align-center">
                    <label class="label w-2"><span data-i18n="common.name">Name</span></label>
                    <input type="text" class=" text-left w-10" name="attr_name">
                </div>
                <div class="flex-row align-center">
                    <label class="label w-2"><span data-i18n="attack.type">Type</span></label>
                    <select class="w-6" name="attr_type">
                        <option value="melee" data-i18n="attack.type.melee">Melee</option>
                        <option value="ranged" data-i18n="attack.type.ranged">Ranged</option>
                    </select>
                    <select class="w-4" name="attr_ability">
                        <option value="none" data-i18n="attributes.none">none</option>
                        <option value="agility" data-i18n="attributes.agility">Agility</option>
                        <option value="strength" data-i18n="attributes.strength">Strength</option>
                        <option value="mind" data-i18n="attributes.mind">Mind</option>
                        <option value="appeal" data-i18n="attributes.appeal">Appeal</option>
                    </select>
                </div>
                <div class="flex-row align-center">
                    <label class="label w-2"><span data-i18n="attack.damage">Damage</span></label>
                    <input type="text" class="text-left w-4" placeholder="2D6L" name="attr_damage_dice">
                    <input type="text" class="text-left w-2" placeholder="+3" name="attr_damage_bonus">
                    <select class="w-4" name="attr_damage_ability">
                        <option value="none" data-i18n="attributes.none">none</option>
                        <option value="agility" data-i18n="attributes.agility">Agility</option>
                        <option value="strength" data-i18n="attributes.strength">Strength</option>
                        <option value="mind" data-i18n="attributes.mind">Mind</option>
                        <option value="appeal" data-i18n="attributes.appeal">Appeal</option>
                    </select>
                </div>
                <input type="hidden" name="attr_type"></input>
                <div class="flex-row conditional-range">
                    <label class="label w-2"><span data-i18n="attack.range">Range</span></label>
                    <input type="text" class="text-left w-10" name="attr_range">
                </div>
                <div class="flex-column w-12">
                    <label class="label w-12"><span data-i18n="common.notes">Notes</span></label>
                    <textarea class="text-left w-12" name="attr_notes"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</div>