.repeating-details.actions.background-color
    h1(data-i18n="actions") actions
    fieldset(class="repeating_actions")
        input.toggles(name="attr_toggles" type="hidden" value="display,settings,")
        input(name="attr_action_type" type="hidden" value="")
        .grid.repeating-grid-display
            button.pictos.settings-button(data-i18n-title="action settings" name="act_settings" title="action settings" type="action") y
            button.h2(name="roll_action" type="roll" value="@{whispertype} &{template:rolls}  {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{action}}} {{info01_name=^{action_type}}} {{info01=@{action_type} @{other}}} {{info02_name=^{source}}} {{info02=@{source}}} {{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{trigger}}} {{info04=@{trigger}}} {{desc=@{description}}}")
                span(name="attr_name")
            button( name="act_collapse" data-i18n-title="show or hide action description"  title="show or hide action description" type="action") 4
            span.collapse(name="attr_description")
        .settings
            label.sublabel(data-i18n-title="action_name" title="action name")
                span.sublabel.darkred(data-i18n="name") name
                input(data-i18n-placeholder="name" name="attr_name" placeholder="name" title="@{name}" type="text" value="")
            label(data-i18n-title="actions" title="actions")
                span.sublabel.darkred(data-i18n="actions") actions
                select.simple(name="attr_action" title="@{action}")
                    each val in ["1-action", "2-action", "3-action", "1-to-3-actions", "reaction", "free_action","other"]
                        option(data-i18n=val value=val)=val
            label.sublabel(data-i18n-title="other" title="other")
                span.sublabel.darkred(data-i18n="other") other
                input(data-i18n-placeholder="other" name="attr_other" placeholder="other" spellcheck="false" title="@{other}" type="text" value="")
            label.sublabel(data-i18n-title="action_trigger" title="action trigger")
                span.sublabel.darkred(data-i18n="trigger") trigger
                input(data-i18n-placeholder="trigger" name="attr_trigger" placeholder="trigger" spellcheck="false" title="@{trigger}" type="text" value="")
            label.sublabel(data-i18n-title="action_traits" title="action traits")
                span.sublabel.darkred(data-i18n="traits") traits
                input(data-i18n-placeholder="traits" name="attr_traits" placeholder="traits" spellcheck="false" title="@{traits}" type="text" value="")
            label.sublabel(data-i18n-title="action_source" title="action source")
                span.sublabel.darkred(data-i18n="source") source
                input(data-i18n-placeholder="source" name="attr_source" placeholder="source" spellcheck="false" title="@{source}" type="text" value="")
            label.sublabel(data-i18n-title="action_description" title="action description")
                span.sublabel.darkred(data-i18n="description") description
                textarea(data-i18n-placeholder="description" name="attr_description" placeholder="description" spellcheck="false" title="@{description}")
