h1 {
    color: #20B2AA;
    font-size: 30px;
}
.charsheet select {
  width: 80px;
  vertical-align:top;

}
.sheet-section {
    border-style: solid;
    border-width: 0 0 0px 8px;
    border-color: lightseagreen;
    border-radius: 8px;
    display: inline-block;
    width: 250px;
    height: 250px;
    padding:5px 5px;
    vertical-align:top;
}
.sheet-sectiontwo {
    border-style: solid;
    border-width: 0 0 0px 8px;
    border-color: lightseagreen;
    border-radius: 8px;
    display: inline-block;
    width: 250px;
    padding:5px 5px;
    vertical-align:top;
}
.sheet-sectionthree {
    border-style: solid;
    border-width: 0 0 0px 8px;
    border-color: lightseagreen;
    border-radius: 8px;
    display: inline-block;
    width: 400px;
    height: 300px;
    padding:5px 5px;
    vertical-align:top;
}
.sheet-longsection {
   border-style: solid;
  border-width: 0 0 0px 8px;
  border-color: lightseagreen;
  border-radius: 8px;
    display: inline-block;
    width: 600px;
    padding:5px 5px;
    vertical-align:top;
}
.sheet-verylongsection {
    display: inline-block;
    width: 700px;
    padding:5px 5px;
    vertical-align:top;
}
.charsheet label {
  text-align: left;
  padding-right: 3px;
  padding-top: 3px;
  display: inline;
}
.sheet-textentry { 
  width: 150px;
  margin-top: 3px;
}
.sheet-numberentry {
  margin-top: 3px;
  margin-right: 3px;
  width: 55px;
}
.sheet-effectarea {
  width: 72%;
  height: 22px;
  vertical-align: top;
}
.sheet-traitentry {
  width: 22%;
  vertical-align: top;
}
.sheet-powerarea {
  width: 45%;
  height: 22px;
  vertical-align: top;
}
div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4
{
    display: block;
}

input.sheet-tab
{
    width: 150px;
    height: 20px;
    position: relative;
    top: -12px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before
{
    content: attr(title);
    border: solid 1px lightseagreen;
    text-align: center;
    display: inline-block;
    background-color: #20B2AA;
    border-radius: 5px;
    width: 120px;
    height: 20px;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50px;
    left: 13px;
}

input.sheet-tab:checked + span::before
{
    border-bottom-color: lightseagreen;
}

input.sheet-tab2 + span::before
{
    left: 138px;
}

div.sheet-tab-content
{
    padding: 3px;
}
