include ../../components/nav/nav-bar
include ../../components/resources/resources
include ../common/vows
include ../common/bonds
include ../common/progress
include ../common/sites

- var type = 'shared'

div.header
  +resources(type)

//- Pages
+navBar(type)
+vowsPage(type)
+bondsPage(type)
+progressPage(type)
+sitesPage(type)