mixin characteristic-select(selected, attr, short)
    select(name=`attr_${attr}`)
        each characteristic in characteristics
            -   const output = (short) ? characteristic.abbreviation : characteristic.name;
            if (selected === characteristic.name.toLowerCase())
                option(selected=selected, data-i18n=output, value=characteristic.name.toLowerCase().replace(/ /g, "_"))
            else 
                option(data-i18n=output, value=characteristic.name.toLowerCase().replace(/ /g, "_"))