mixin generic-display(field, type="text", box_type="flex")
    -
        const attr = field.attr || field.name.toLowerCase().replace(/ /g,"_");
        const box = (box_type === "flex") ? "wfrp-field" : `wfrp-field--grid${box_type}`;

    div(class=box)
        span.wfrp-field__header(data-i18n=field.name)
        span.wfrp-field__span(name=`attr_${attr}`)
        input(name=`attr_${attr}`, type="hidden")