mixin generic-textarea(name, box_type="flex", attr= name.toLowerCase().replace(/ /g,"_"))
    - 
        const box = (box_type === "flex") ? "wfrp-textarea" : `wfrp-textarea--grid${box_type}`;

    div(class=box)
        span.wfrp-textarea__header(data-i18n=name)
        textarea.wfrp-textarea__textarea(name=`attr_${attr}`)