-
  const
    range = (length) => [...Array(length).keys()].map(n => n + 1);

//- handle input object transformation
- function handleInput(obj) {
-   // only set default title for specific inputs
-   if (obj.type !== "hidden" && obj.type !== "checkbox") {
-     obj.title = obj.title || `@{${obj.name}}`;
-   }
-   // default number placeholder to 0
-   if (obj.type === "number") {
-     obj.placeholder = obj.placeholder || 0;
-   }
-   // set data-i18n to value when unavailable
-   if (obj.type === "select") {
-     obj.data_i18n = obj.data_i18n || obj.value
-   }
-   // handle data-i18n-title and clear title
-   if (obj.data_i18n_title) {
-     obj["data-i18n-title"] = obj.data_i18n_title;
-     obj.data_i18n_title = null;
-     obj.title = null;
-   }
-   // handle data-i18n-placeholder
-   if (obj.data_i18n_placeholder) {
-     obj["data-i18n-placeholder"] = obj.data_i18n_placeholder;
-     obj.data_i18n_placeholder = null;
-   }
-   obj.name = `attr_${obj.name}`;
-   return obj;
- };

//- handle element object transformation
- function handleTag(obj) {
-   obj.tag = null;
-   // set default title for attributes
-   if (obj.name) {
-     obj.title = obj.title || `@{${obj.name}}`;
-     obj.name = `attr_${obj.name}`;
-   }
-   // handle data-i18n-title and clear title
-   if (obj.data_i18n_title) {
-     obj["data-i18n-title"] = obj.data_i18n_title;
-     obj.data_i18n_title = null;
-     obj.title = null;
-   }
-   // handle data-i18n
-   if (obj.data_i18n) {
-     obj["data-i18n"] = obj.data_i18n;
-     obj.data_i18n = null;
-   }
-   // handle data-i18n-vars
-   if (obj.data_i18n_vars) {
-     obj["data-i18n-vars"] = obj.data_i18n_vars;
-     obj.data_i18n_vars = null;
-   }
-   // handle data-i18n-value
-   if (obj.data_i18n_value) {
-     obj["data-i18n-value"] = obj.data_i18n_value;
-     obj.data_i18n_value = null;
-   }
-   return obj;
- }
