
mixin help(name)
  +hidden({ name: "setting_tooltips" }).toggle-tooltip
  div&attributes(attributes).help
    +label({ }).help__label
      - name = `show_${name}`;
      +checkbox({ name }).help__label--input
      +img({ src: "help" }).help__label--icon

mixin popup(obj)
  - obj.header = obj.header || obj.name;
  - obj.name = `show_${obj.name}`;
  +hidden({ name: obj.name, value: 0}).toggle-popup
  article.popup(class!=attributes.class)
    .popup__title
      +span({ data_i18n: obj.title }).popup__title--span
    label.popup__close
      +checkbox({ name: obj.name }).popup__close--btn
      +img({ src: "close" }).popup__close--symbol
    .popup__header
      +span({ data_i18n: obj.header }).popup__header--span
    .popup__content
      block
