div.sheet-main{
    text-align: center;
    background-color: #fdfdfd;
}
/*
 TABS
 https://wiki.roll20.net/CSS_Wizardry#Tabs
 */
.sheet-tab-buttons {
    margin: auto;
}

/*this hides the contents of each tab by default*/
div[class^="sheet-section"] {
    display: none;
}

/*this shows the tab content when the appropriate input field is selected*/
input[type=radio].sheet-tab1:checked ~ div.sheet-section-character,
input[type=radio].sheet-tab2:checked ~ div.sheet-section-character-notes,
input[type=radio].sheet-tab3:checked ~ div.sheet-section-character-creation
{
    display: block;
}

/* this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else */
input[type=radio].sheet-tab {
    width: 120px;
    height: 40px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    z-index: 9999;
    vertical-align: baseline;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
span.sheet-tab  {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    background: white;
    color: #1a1a1a;
    border: solid 2px black;
    font-weight: bold;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin-left: -125px;
    margin-top: -33px;
}

/*this modifies the span color once the radio button is selected so you know which tab is selected*/
input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3
{
    background: black;
    color: white;
    border-radius: 4px;
}

/* CHARACTER SHEET */
.sheet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    min-width:800px;
    margin: 10px auto 0px auto;
    padding:0px;
    text-align: left;
}

.sheet-break {
    flex-basis: 100%;
    text-align: center;
}


.sheet-character-row-item {
    padding: 5px;
    width: 245px;
}

.sheet-character-row-item label {
    display: inline-block;
    width: 40%;
    margin: 3px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 15px;
}

.sheet-character-row-item input {
    display: inline-block;
    width: 130px;
    margin: 3px 0px 0px 0px
}

.sheet-logo {
    width: 290px;
    padding: 0px;
}

.sheet-virtutes,
.sheet-peritiae {
    margin: 0 0 20px 0;
}

.sheet-virtutes input[type=number]{
    border:none;
    margin:0;
    width: 45px;
    font-size: 20px;
    height: 25px;
}

.sheet-virtutes input:focus {
    outline-width: 0;
}

.sheet-virtutes >.sheet-boxed div {
    display: inline-block;
    padding: 25px 5px 25px 25px;
    border-radius: 50%;
    border: 1px solid black;
}

.sheet-virtutes label{
    margin:0;
    width: 60%;
    font-size: 15px;
}

.sheet-virtutes >.sheet-boxed {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}

.sheet-peritiae label {
    width: 145px;
    font-size: 15px;
}

.sheet-peritiae input{
    margin: 0 0 5px 0;
}

.sheet-peritiae input[type=text]{
    width: 155px;
}

.sheet-peritiae input[type=number]{
    margin-left: 5px;
    width: 50px;
}

.sheet-peritiae input[type=checkbox] {
    margin-left: 5px;
    width: 20px;
}

.sheet-peritiae input[type=number].sheet-character-peritia {
    width: 50px;
    height: 30px;
    font-size: 20px;
}

.sheet-peritiae .sheet-boxed {
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    width: 50px;
}

.sheet-hp td {
    text-align: center;
    border: 1px solid black

}

.sheet-hp table {
    border: 1px solid black;
    width: 245px;
    text-align: center;
}

.sheet-hp input[type=checkbox] {
    display: inline-block;
    width: 16px;
    margin: 3px 0 0 0;
}

.sheet-hp label {
    width:100%;
    font-size: 15px;
}

.sheet-hp div.sheet-max-hit-points {
    margin-top: 10px;
    margin-bottom: 12px;
}

.sheet-hp div.sheet-max-hit-points label {
    width: 20%;
    font-size:12px;
}

.sheet-hp div.sheet-max-hit-points input {
    width: 60px;
}

.sheet-pietas input[type=number] {
    width: 60px;
    height: 30px;
    font-size: 20px;
    margin-left: 0px;
}

.sheet-multipliers table {
    border: 1px solid black;
    width: 245px;
    text-align: center;
}

.sheet-combat label {
    margin-top: 20px;
    width:auto;
    font-size: 15px;
}

.sheet-combat table {
    margin-top: 20px;
}

.sheet-combat table.sheet-weapons {
    width:500px;
}

.sheet-combat table.sheet-weapons input[type="checkbox"] {
    width:36px;
}

.sheet-combat table.sheet-weapons input.sheet-weapon-short {
    width:60px;
}

input.sheet-combat-skill {
    width: 220px;
}

tr.sheet-odd-row {
    background-color: #e2ded9;
}

.sheet-divine-protection label{
    width: auto;
    margin-top: 20px;
    font-size: 15px;
}

.sheet-divine-protection input{
    width: 220px;
}

/* CHARACTER NOTES SHEET */
.sheet-character-notes-row-item {
    padding: 5px;
    width: 385px;
}

.sheet-section-character-notes h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.sheet-notes{
    width: 360px;
    height:220px;
}

.sheet-section-character-notes table.sheet-exp {
    width:350px;
    text-align: center;
}

.sheet-section-character-notes table.sheet-exp th {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 10px;
}

.sheet-section-character-notes table.sheet-exp td.sheet-virtus-name {
    text-align: left;
}

.sheet-section-character-notes input.sheet-exp-multiplier {
    width: 60px;
}

.sheet-section-character-notes input.sheet-exp {
    width: 60px;
}

/* CHARACTER CREATION */
.sheet-section-character-creation {
    background-image: url("http://cloud-3.steamusercontent.com/ugc/1616185636261641120/BCAFD785CCE5132FDB527100DB52A3DC39FDBA42/");
    width:662px;
    height:934px;
    position:relative;
    margin: 10px auto 0px auto;
}

.sheet-section-character-creation input{
    position:absolute;
    width: 30px;
    height: 30px;
    margin: 0px;
    text-align: center;
    border: 1px solid #aaaaaa;
}

input.sheet-initial-values{
    top: 140px;
}

input.sheet-initial-values.sheet-initial-values-1 {
    left: 154px;
}

input.sheet-initial-values.sheet-initial-values-2 {
    left: 218px;
}

input.sheet-initial-values.sheet-initial-values-3 {
    left: 282px;
}

input.sheet-initial-values.sheet-initial-values-4 {
    left: 346px;
}

input.sheet-initial-values.sheet-initial-values-5 {
    left: 410px;
}

input.sheet-initial-values.sheet-initial-values-6 {
    left: 474px;
}

input.sheet-sensibilitas {
    top: 256px;
    left: 312px;
}

input.sheet-coordinatio {
    top: 400px;
    left: 166px;
}

input.sheet-ingenium {
    top: 400px;
    left: 458px;
}

input.sheet-vigor {
    top: 545px;
    left: 166px;
}

input.sheet-ratio {
    top: 545px;
    left: 458px;
}

input.sheet-virtus {
    width: 26px;
    height: 26px;
}

input.sheet-auctoritas {
    top: 685px;
    left: 312px;
}

input.sheet-de-natura {
    top: 331px;
    left: 242px;
}

input.sheet-de-magia {
    top: 331px;
    left: 384px;
}

input.sheet-de-corpore {
    top: 474px;
    left: 98px;
}

input.sheet-de-scientia {
    top: 474px;
    left: 530px;
}

input.sheet-de-bello {
    top: 621px;
    left: 242px;
}

input.sheet-de-societate {
    top: 621px;
    left: 384px;
}

input.sheet-modifiers {
    width: 30px;
    height: 20px;
}

input.sheet-sensibilitas-mod-1 {
    top: 258px;
    left: 248px;
}

input.sheet-sensibilitas-mod-2 {
    top: 258px;
    left: 390px;
}

input.sheet-coordinatio-mod-1 {
    top: 326px;
    left: 176px;
}

input.sheet-coordinatio-mod-2 {
    top: 402px;
    left: 105px;
}

input.sheet-ingenium-mod-1 {
    top: 326px;
    left: 460px;
}

input.sheet-ingenium-mod-2 {
    top: 402px;
    left: 530px;
}

input.sheet-vigor-mod-1 {
    top: 542px;
    left: 105px;
}

input.sheet-vigor-mod-2 {
    top: 612px;
    left: 176px;
}

input.sheet-ratio-mod-1 {
    top: 542px;
    left: 530px;
}

input.sheet-ratio-mod-2 {
    top: 612px;
    left: 460px;
}

input.sheet-auctoritas-mod-1 {
    top: 682px;
    left: 248px;
}

input.sheet-auctoritas-mod-2 {
    top: 682px;
    left: 390px;
}

input.sheet-province {
    width: 115px;
    height: 20px;
    top: 478px;
    left: 272px;
}

input.sheet-province-modifiers {
    width: 25px;
    height: 18px;
}

input.sheet-province-mod-de-natura {
    top: 399px;
    left: 289px;
}

input.sheet-province-mod-de-magia {
    top: 399px;
    left: 351px;
}

input.sheet-province-mod-de-corpore {
    top: 474px;
    left: 191px;
}

input.sheet-province-mod-de-scientia {
    top: 474px;
    left: 447px;
}

input.sheet-province-mod-de-bello {
    top: 543px;
    left: 289px;
}

input.sheet-province-mod-de-societate {
    top: 543px;
    left: 350px;
}

input.sheet-age {
    top: 793px;
    left: 88px;
}

input.sheet-age-mod-vigor {
    top: 793px;
    left: 156px;
}

input.sheet-age-mod-coordinatio {
    top: 793px;
    left: 235px;
}

input.sheet-age-mod-ingenium {
    top: 793px;
    left: 314px;
}

input.sheet-age-mod-auctoritas {
    top: 793px;
    left: 393px;
}

input.sheet-age-mod-ratio {
    top: 793px;
    left: 472px;
}

input.sheet-age-mod-sensibilitas {
    top: 793px;
    left: 551px;
}

input.sheet-final-vigor {
    top: 855px;
    left: 150px;
}

input.sheet-final-coordinatio {
    top: 855px;
    left: 229px;
}

input.sheet-final-ingenium {
    top: 855px;
    left: 308px;
}

input.sheet-final-auctoritas {
    top: 855px;
    left: 387px;
}

input.sheet-final-ratio {
    top: 855px;
    left: 466px;
}

input.sheet-final-sensibilitas {
    top: 855px;
    left: 545px;
}