select
{
	margin-bottom:0px;
	border-radius:0px;
	color:$black;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
	appearance: none;
    margin: 0;
}

input[type=number],
input[type=text]
{
    -moz-appearance:textfield;
	appearance: textfield;
	border-radius:0px;
	color:$black;
}

input[disabled]
{
	background-color:transparent;
	cursor:not-allowed;
}

.autoex
{
	line-height: 1.4em;
	min-height: 1.4em;
	cursor: text;
	text-align: left;
	position:relative;
	width:100%;
	min-height:28px;
}

.autoex > span
{
	visibility: hidden;
	display: block;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	white-space: break-spaces;
	text-align: inherit;
	min-height: inherit;
	padding-left: 6px;
	padding-right: 6px;
	word-break: break-all;
}

.autoex > textarea
{
	display: block;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: calc(100% - 12px);
	overflow: hidden;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	white-space: pre-wrap;
	text-align: inherit;
	min-height: inherit;
	resize: none;

	display:flex;
	color:black;
	border:1px solid $black;
	background:transparent;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left: 5px;
	padding-right: 5px;

	border-radius: 0px;
}

.autoex > textarea::placeholder
{
	font-family:"Contrail One";
	text-transform: capitalize;
	font-style: italic;
	text-align: center;
	font-size: 95%;
	font-weight:normal;
}

div.repcontrol {
	button {
		&.btn {
			border-radius: 0px;
		}
	}
}