.charsheet label {
    display: inline-block;
    width: 75px;
    text-align: right;
    padding-bottom: 0px;
}

.charsheet input {
    display: inline-block;
    width: 155px;
}

.charsheet {
    background-color: white;
}

.charsheet select {
    width: 42px;
}

/* Hide actual dot/checkbox */
input[type="radio"],
input[type="checkbox"]
{
    position: absolute;
    opacity: 0;
    width:15px;
    cursor: pointer;
    z-index: 1;
    margin-top: 6px;
}

/* Styles common to fake dot and checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before
{
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: middle;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Styles unique to fake dot (checked or left of checked) */
input[type="radio"] + span::before
{
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 36px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Styles unique to fake checkbox (unchecked) */
input[type="checkbox"] + span::before
{
    position:relative;
    content: "";
    opacity: .25;
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Styles unique to fake checkbox (checked) */
input[type="checkbox"]:checked + span::before
{
    content: "✖";
    color: #a00;
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"]:checked ~ input[type="radio"] + span::before
{    
    content: "";
}

input.used+span::before
{
    content: "✖";
    width: 12px;
    height: 12px;
    font-size: 12px;
    
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
}

input.zero:checked + span::before
{
    opacity: 0;
}

input.zero:hover + span::before
{
    opacity: 1;
}

input.zero+ span::before
{
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
}

input.DP1Spec + span::before,
input.DP2Spec + span::before,
input.DP2Spec + span::before,
input.DP3Spec + span::before,
input.DP4Spec + span::before,
input.DP5Spec + span::before
{
    opacity: 1;
    margin-bottom: 10px;
}

div.DP1,
div.DP2,
div.DP2,
div.DP3,
div.DP4,
div.DP5
{
    display: inline;
}
div.DP1wSpec,
div.DP2wSpec,
div.DP2wSpec,
div.DP3wSpec,
div.DP4wSpec,
div.DP5wSpec
{
    display: none;
}

input.DP1Spec:checked ~ div.DP1,
input.DP2Spec:checked ~ div.DP2,
input.DP2Spec:checked ~ div.DP2,
input.DP3Spec:checked ~ div.DP3,
input.DP4Spec:checked ~ div.DP4,
input.DP5Spec:checked ~ div.DP5
{
    display: none;
}

input.DP1Spec:checked ~ div.DP1wSpec,
input.DP2Spec:checked ~ div.DP2wSpec,
input.DP2Spec:checked ~ div.DP2wSpec,
input.DP3Spec:checked ~ div.DP3wSpec,
input.DP4Spec:checked ~ div.DP4wSpec,
input.DP5Spec:checked ~ div.DP5wSpec
{
    display: inline;
}

h4.SCorI1,
h4.SCorI2,
h4.CorC1,
h4.CorC2
{
    display: block;
}

input.SCorI1,
input.SCorI2,
input.CorC1,
input.CorC2
{
    width: 120px;
}

input.SCorI1:checked ~ h4.SCorI1,
input.SCorI2:checked ~ h4.SCorI2
{
    display: none;
}

input.CorC1:checked ~ h4.CorC1,
input.CorC2:checked ~ h4.CorC2
{
    display: none;
}

