
//- Luck is < 0 you can never crit hit & subtract Luck from every d20
//- Luck >= 1 crits add Luck to damage
mixin rollButton(name)
	button.text-capitalize(data-i18n=name name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=^{${name}}}} {{dice=[[1d20[Roll]]]}}`)

mixin repeatingRollButton(name)
	button.text-left.ellipsis.font-weight-bold(name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=@{name}}} {{dice=@{description}}}`)
		span(name='attr_name')

mixin repeatingChatButton(name)
	button.chat(name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=@{name}}} {{dice=@{notes}}}`)
		span.pictos q