
mixin combatAttributes()
   .grid.gap-1.justify-between.items-center.attrs
      each val in combatAttributes
         .grid.relative.justify-center.items-center(class=`${val}`)
            .circle.rounded-full.border.grid.justify-center.items-center.font-bold
               +attributeRoll(shortName(val), `${val}`)
               +numberInput(val)(class="text-center")
      div
      each val in derivedAttributes
         .grid.relative.justify-center.items-center(class=`${val}`)
            .circle.rounded-full.border.grid.justify-center.items-center.font-bold
               +h3Header(shortName(val))
               +attrSpan(val)(class="text-center")
               