mixin repeatingSection(name, values)
	fieldset(class=`repeating_${attrName(name)}`)
		.grid.descriptor.relative.gap-1
			+editFlag()
			.grid.grid-flow-col.gap-2.custom-grid
				each val in values
					.grid
						span.display(name=`attr_${attrName(val)}`)
						.edit.grid.grid-flow-col.gap-2.col-auto-fr.items-center
							h4(data-i18n=val)
							+textInput(val)
			+repeatingChatButton("name")
			.grid.notes
				span.display.pl-4(name='attr_notes')
				+textarea('notes')