mixin repeatingResources(name, values)
    .grid.solid-border-2.rounded-md.p-2.relative.content-start.w-full
        +title(name)
        fieldset(class=`repeating_${dashedName(name)}`)
            .grid.gap-2.grid-flow-col
                +textInput('name')
                +numberInputWithMax('value')
