mixin repeatingSkills()
	fieldset(class=`repeating_skills`)
		input(type="hidden" name="attr_attribute_abbreviation" value= "STR")
		.grid.gap-2.relative.repeating-grid(class!=attributes.class)
			.grid.grid-flow-col.gap-2.displayed.custom-grid
				+repeatingRollButton(`skill`)
				span.uppercase(name=`attr_attribute_abbreviation`)
				+attrSpan('bonus')(class="text-center")
			+editToggle()
			+collapseToggle()
			.collapsible.grid.gap-2
				+headerSpan(["category"])
				.description
					span.display(name='attr_description')
			.edit.grid.gap-2
				each val in ["name", "category"]
					+headerInput(val)(class=`${val}`)
				.grid.gap-2.grid-flow-col.items-center
					.grid.gap-2.col-auto-fr.items-center
						h4(data-i18n="attribute")
						select(name="attr_attribute")
							each val in coreAttributes
								option(value=`@{${val}}` data-i18n=val)
									val
					+headerInput("bonus")(class=`bonus`)
				.description
					+textarea('description')
