mixin repeatingList(name, values)
	.grid.double-border-2.rounded-md.content-start.p-2.repeating-container.relative(class=buttonName(name))
		+title(name)
		+subheaders(values)
		+repeatingSection(name, values)