/* 
CSS EXALTED FIRST EDITION */
/* Character sheet for ROll20 by VJ Rolmasters*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=DM+Serif+Text:ital@0;1&family=Merienda:wght@300..900&display=swap');

/*============= FONTS CSS =============*/
.merienda {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
.alegreya-sc-regular {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

/*============= CONTENEDORES Y COLUMNAS CSS =============*/
 .sheet-clearfloat { 
	clear:both;
	height:0;
	font-size: 0px;
	line-height:0px;
}	
.sheet-espai100{
	float: left;
	position: relative;
	width: 100%;
	height: 100px;
	margin: 0px auto;
	}
.ui-dialog .charsheet {
    padding: 0px 0px;
}

.sheet-contenedorvjout{
	float:none;
	position:relative; 
	width:100%;
	max-width: 860px;
	height:auto;
    margin: 0px auto;
    padding: 0px 0px;
	}

.sheet-contenedorvj{
	float:none;
	position:relative; 
	width:100%;
	max-width: 860px;
	height:auto;
    margin: 0px auto;
    padding: 0px 0px;
	}
.sheet-senefa-top{
    float: none;
	width: 860px;
	height: 38px;
    min-height: 38px;
    margin: 10px auto 0px;  
	background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/exalted 1/images/BACKGROUND_TOP_EXALTED_1_EDITION_860px.png");
	background-repeat:no-repeat;
	background-size:auto;
	background-position: bottom;
}
.sheet-senefa-center{
    float: none;
	width: 860px;
	height: auto;
    min-height: 0px;
    margin: 0px auto ;
	background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/exalted 1/images/BACKGROUND_MIG_EXALTED_1_EDITION_860px.png");
	background-repeat:repeat-y;
	background-size: auto;
	background-position: center;
}
.sheet-senefa-foot{
    float: none;
	width: 860px;
	height: 38px;
    min-height: 38px;
    margin: 0px auto 10px;
	background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/exalted 1/images/BACKGROUND_PEU_EXALTED_1_EDITION_860px.png");
	background-repeat:no-repeat;
	background-size: auto;
	background-position: top;
    
    font-family: "DM Serif Text", serif;
    font-size: 10px;
    text-align: center;
}
.sheet-100{
	float:left;
	position:relative; 
	width:90%;
	height:auto;
    margin: 0px 5%;
	padding: 0px 0px;
    box-sizing: border-box;
    display: inline-block;
	}
.sheet-width100{
	float:left;
	position:relative; 
	width:100%;
	height:auto;
    margin: 0px 0px;
	padding: 0px 0px;
    box-sizing: border-box;
    display: inline-block;
	}
.sheet-ampladatotal{
	float:none; 
	width:100%;
	height:25px;
    display: inline-block;
	}
.sheet-ampladatotal2{
	float:none; 
	width:88%;
	height:30px;
    margin: 0px auto;
    text-align: center;
	}
.sheet-ampladatotal3{
	float:none; 
	width:100%;
	height:30px;
    display: inline-block;
	}

.sheet-columnaters{
	float:left;
	position:relative; 
	width:32%;	
	height:auto;
    margin: 0% 0% 0% 1%;
	padding: 0px;
	}
.sheet-columnadosters{
	float:left;
	position:relative; 
	width:66%;	
	height:auto;
    margin: 0% 0% 0% 1%;
	padding: 0px;
	}
.sheet-columnamig{
	float:left;
	position:relative; 
	width:49%;	
	height:auto;
    margin: 0% 0% 0% 1%;
	padding: 0px;
	}

.sheet-barra-separador{
	float:none;
	position:relative; 
	width:100%;
	height:50px;
    margin: 0px auto 0px; 
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/exalted 1/images/BACKGROUND_SEPARADOR_EXALTED_1_EDITION_860px.png");
	background-repeat:repeat-x;
	background-size: auto;
	background-position: center;
	}

.sheet-sobrebarra{
    padding: 0px 7px; 
    background-color: #ffffff;
}

/*============= HEAD CSS =============*/
.sheet-noms{
    float:left;
	position:relative; 
	width:80px;
	height:25px;
    min-height: 25px;
    margin: 0px 0px;
	padding: 5px 0px 0px;
    display: inline-block;
    font-family: "Merienda", cursive;
    font-size: 14px;
}
.sheet-inputs-text{
    float:left;
	position:relative; 
	width:auto;
	height:30px;
    min-height: 30px;
    margin: 0px 0px;
	padding: 0px 0px;
    display: inline-block;
    font-family: "Merienda", cursive;
    font-size: 14px;
}
.sheet-title-abilities{
	float:left;
	position:relative; 
	width:100%;
	height:30px;
    margin: 0px 0px 0px;
	padding: 0px 0px;
    font-family: "Merienda", cursive;
    font-size: 18px;
    text-align: center;
	}
/*============= CHECK BOX CSS =============*/

/* custom checkbox */
label.checkbox{
    margin:0px;
    padding: 0px;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom checkbox */
.check {
    position: absolute;
    top: 2px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border: 1px solid #ccc;
}

/* on mouse-over, add border color */
.checkbox:hover input ~ .check {
    border: 1px solid #FFA600;
}

/* add background color when the checkbox is checked */
.checkbox input:checked ~ .check {
    background-color: #000000;
    border: 1px solid #cccccc;
}

/* create the checkmark and hide when not checked */
.check:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the checkmark when checked */
.checkbox input:checked ~ .check:after {
    display: block;
}

/* checkmark style */
.checkbox .check:after {
    left: 4px;
    top: 0px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*============= ATTRIBUTES Y ABILITIES CSS =============*/

.sheet-check{
    float:left;
	position:relative; 
	width:auto;
	height:auto;
    min-height: 25px;
    margin: 0px 0px;
	padding: 0px 5px 0px 0px;
    display: inline-block;
}

.sheet-atributtes{
    float:left;
	position:relative; 
	width:128px;
	height:25px;
    min-height: 25px;
    margin: 0px 0px;
	padding: 0px 0px 0px;
    display: inline-block;
    font-family: "Merienda", cursive;
    font-size: 14px;
}
.sheet-specialties{
    float:left;
	position:relative; 
	width:128px;
	height:25px;
    min-height: 25px;
    margin: 0px 0px;
	padding: 0px 0px 0px;
    display: inline-block;
    font-family: "Merienda", cursive;
    font-size: 14px;
}
.sheet-dots{
    float:left;
	position:relative; 
	width:90px;
	height:25px;
    min-height: 25px;
    margin: 0px 0px;
	padding: 0px 0px 0px;
    display: inline-block;
}


/*============= RADIOBOX CSS =============*/


/* Hide actual radio */
.charsheet input[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio */
.charsheet input[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: #f6f6f6;
    background: radial-gradient(#f6f6f6, #dfdfdf);
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 24px;
    border-radius: 50%;
}

/* Remove dot from all radios _after_ selected one */
.charsheet input[type="radio"]:checked ~ input[type="radio"] + span::before {    
    content: "";
}

/*============= ATTRIBUTES CSS =============*/

.sheet-columna50{
	float:left;
	position:relative; 
	width:50%;	
	height:auto;
    margin: 0px auto;
	padding: 0px;
	}

.sheet-columna30{
	float:left;
	position:relative; 
	width:27%;	
	height:auto;
    margin: 0% 0% 0% 5%;
	padding: 0px;
    background-color: aqua;
	}

.sheet-columna20{
	float:left;
	position:relative; 
	width:22%;	
	height:auto;
    margin: 0% 0% 0% 2%;
	padding: 0px;
	}

/*============= ESPACIADORES Y SEPARADORES CSS =============*/

.sheet-espai-30{
	float:left;
	position:relative; 
	width:100%;
	height:30px;
    margin: 0px auto;
	padding: 0px;
	}
.sheet-espai-40{
	float:none;
	position:relative; 
	width:100%;
	height:40px;
    margin: 0px auto;
	padding: 0px;
	}
.sheet-espai-10{
	float:left;
	position:relative; 
	width:100%;
	height:10px;
    margin: 0px auto;
	padding: 0px;
	}
.sheet-espai-5{
	float:left;
	position:relative; 
	width:100%;
	height:5px;
    margin: 0px auto;
	padding: 0px;
	}
.sheet-line-separador{
	float:none;
	position:relative; 
	width:90%;
	height:15px;
    margin: 0px auto;
	padding: 0px;
    border-bottom: 1px solid #000000;
	}

/*============= MARGENES CSS =============*/

.sheet-marge-left4{
	float:left;
	position:relative; 
	width:4px;
	height:30px;
    margin: 5px auto 0px;
    padding: 0px; 
}
.sheet-marge-left40{
	float:none;
	position:relative; 
	width:40px;
	height:30px;
    margin: 5px auto 0px;
    padding: 0px; 
}


/*============= MENU CSS =============*/

.botomenu{
  padding: 0px 60px;        
  font-size: 15px;  
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  font-style: italic;
}

.botomenu:hover
{
    background: #000000;
    color: white;
    border: 2px solid #000000;
}

.sheet-character,
.sheet-background,
.sheet-combat,
.sheet-magic{
	display: none;
}

.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="background"] ~ div.sheet-background,
.sheet-tabstoggle[value="combat"] ~ div.sheet-combat,
.sheet-tabstoggle[value="magic"] ~ div.sheet-magic{
	display: block;
}

/*=================== CHARACTER CSS ===================*/


/*=================== ADVANTAGES CSS ===================*/

.sheet-willpowerA {
 margin: 0px 0px 0px 45px; 
}
.sheet-willpowerB {
 margin: 10px 0px 0px 40px; 
}
.sheet-soak{
    float: left;
    width: 30px;
    margin-left: 2px;
    font-family: "Alegreya SC", serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.sheet-incapacitated{
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    font-family: "Alegreya SC", serif;
    font-size: 18px;
    font-weight: 500;

    border: 8px double #000000;
}
.sheet-inc-number{
    float: left;
    width: 65px;
    height: 25px;
    padding: 0px 0px 0px 10px;
}
.sheet-inc-numberB{
    float: left;
    width: 163px;
    height: 25px;
    padding: 0px 0px 0px 10px;
}
.sheet-no-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.sheet-no-arrow::-ms-expand {
    display: none;
}
.sheet-forma {
    width: 20px;
    height: 20px;
    margin-right: 1px;
    padding: 0px 0px 0px 4px;
    font-weight: 600;
}

.sheet-virtuesA{
    width: 100%;
    font-family: "Merienda", cursive;
    font-size: 14px;
    text-align: center;
}
.sheet-virtuesC{
    width: 150px;
    margin: 3px 0px 0px 20px;
}
.sheet-essence{
    float: left;
    width: 100px;
    height: 25px;
    margin: 2px 0px 0px 20px;
    font-family: "Merienda", cursive;
    font-size: 14px;
}
.sheet-center-text{
    text-align: center;
}
.sheet-experience{
    margin:0px 0px 0px 50px;
    border: 3px solid #000000;
    font-family: 'Merienda', cursive;
    font-size: 20px;
    text-align: center;
}


/*=================== BACKGROUND CSS ===================*/

.sheet-fotoavatar{
 	float: left;   
    position: relative;  
    box-sizing: border-box;
	width: 100%;
	height: auto;
    min-height: 230px;
    margin: 0px 0px 0px;
    overflow: hidden;
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    }
.sheet-fotoavatar img{
	float: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
	position: relative;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    }


/*=================== COMBAT CSS ===================*/
.sheet-combatboxes{
	width: 100%;
	height: 30px;
}
.sheet-charmA{
    float:left;
	width: 310px;
	height: 20px;
    margin-left: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.sheet-charmB{
    float:left;
	width: 133px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.sheet-comboA{
    float:left;
	width: 300px;
	height: 20px;
    margin-left: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.sheet-comboB{
    float:left;
	width: 300px;
	height: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.sheet-comboC{
    float:left;
	width: 105px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.sheet-weaponA{
    float:left;
	width: 195px;
	height: 20px;
    margin-left: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.sheet-weaponB{
    float:left;
	width: 105px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
/*=================== MAGIC CSS ===================*/
.sheet-sorceryA{
    float:left;
	width: 205px;
	height: 20px;
    margin-left: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.sheet-sorceryB{
    float:left;
	width: 100px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.sheet-sorceryC{
    float:left;
	width: 300px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.sheet-artifactsA{
    float:left;
	width: 200px;
	height: 20px;
    margin-left: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.sheet-artifactsB{
    float:left;
	width: 90px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.sheet-artifactsC{
    float:left;
	width: 420px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.sheet-heartstoneA{
    float:left;
	width: 200px;
	height: 20px;
    margin-left: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.sheet-heartstoneB{
    float:left;
	width: 80px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.sheet-heartstoneC{
    float:left;
	width: 270px;
	height: 20px;
    box-sizing: border-box;
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}

/*=================== MEDIA CSS ===================*/


@media screen and (min-width: 940px){
    .sheet-contenedorvj{
    width: 100%;  
    max-width: 100%;  
	padding: 30px 10px 50px;
	background-repeat: no-repeat;
    background-size: auto;
	background-position: center center;
    box-sizing: border-box;
      background-color:floralwhite;
    }  
  .sheet-sobrebarra{
    padding: 0px 7px; 
    background-color:floralwhite;
    }  
    }
@media screen and (min-width: 1000px){
    .sheet-contenedorvj{
    width: 100%;  
    max-width: 100%;  
	padding: 30px 10px 50px;
	background-repeat: no-repeat;
    background-size: auto;
	background-position: center center;
    box-sizing: border-box;
      background-color:antiquewhite;
    }  
  .sheet-sobrebarra{
    padding: 0px 7px; 
    background-color:antiquewhite;
    }   
    }
@media screen and (min-width: 1050px){
    .sheet-contenedorvj{
    width: 100%;  
    max-width: 100%;  
	padding: 30px 10px 50px;
	background-repeat: no-repeat;
    background-size: auto;
	background-position: center center;
    box-sizing: border-box;
      background-color:lavender;
    }  
  .sheet-sobrebarra{
    padding: 0px 7px; 
    background-color:lavender;
    }    
    }
@media screen and (min-width: 1100px){
    .sheet-contenedorvj{
    width: 100%;  
    max-width: 100%;  
	padding: 30px 10px 50px;
	background-repeat: no-repeat;
    background-size: auto;
	background-position: center center;
    box-sizing: border-box;
      background-color:burlywood;
    }  
  .sheet-sobrebarra{
    padding: 0px 7px; 
    background-color:burlywood;
    }
     }
