/* CSS WAR STORIES: A WWII RPG */
/* Character sheet for ROll20 by VJ Rolmasters*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=IM+Fell+DW+Pica&family=IM+Fell+Great+Primer+SC&family=Vollkorn+SC:wght@600&display=swap');


.im-fell great primer sc-regular {
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-style: normal;
}

  .sheet-clearfloat { 
	clear:both;
	height:0;
	font-size: 0px;
	line-height:0px;
}	
.sheet-espai100{
	float: left;
	position: relative;
	width: 100%;
	height: 100px;
	margin: 0px auto;
	}
.sheet-separador{
	float: left;
	position: relative;
	width: 100%;
	height: 20px;
	margin: 10px auto;
	}
  /* LINKS CSS */
a:link {
  font-family: "Vollkorn";
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #2e3512;
	text-decoration: none;
}
a:active {
	color: #2e3512;
	text-decoration: none;
} 
   /* END LINKS CSS */
 

/*============= CONTENEDORES Y COLUMNAS CSS=============*/
.ui-dialog .charsheet {
    padding: 0px 0px;
}

.sheet-contenedorws{
	float:none;
	position:relative; 
	width:100%;
	max-width: 900px;
	height:auto;
	height: 1200px;
	margin: 0px auto;
	padding: 0px;
	}

#sheet-contenedorfondo{
	width: 900px;
	height: 1200px;
	background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/WAR STORIES WW2 RPG/images/WAR_STORIE_CHARACTER_SHEET.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.sheet-cap{
	float: left;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 332px;
	margin: 55px auto 0px;
	}	

.sheet-cap1{
	float: left;
	position: relative;
	width: 510px;
	height: auto;
	min-height: 330px;
	margin: 0px 0px 0px 40px;
	}	
.sheet-cap1slots1{
	float: left;
	position: relative;
	width: 500px;
	height: auto;
	min-height: 19px;
	margin: 2px auto 0px;
	}
.sheet-cap1slots2{
	float: left;
	position: relative;
	width: 240px;
	height: auto;
	min-height: 36px;
	margin: 2px auto 0px;
	}
.sheet-cap2{
	float: left;
	position: relative;
	width: 300px;
	height: 332px;
	min-height: 332px;
	margin: 3px 0px 0px 5px;
    overflow: hidden;
	}	

.sheet-abilities{
	float: left;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 187px;
	margin: 0px auto 0px;
	}
.sheet-dificulty{
	float: left;
	position: relative;
	width: 100%;
	height: 30px;
	min-height: 30px;
	margin: 10px auto 0px;
	}
.sheet-abloc1{
	float: left;
	position: relative;
	width: 202px;
	height: auto;
	min-height: 187px;
	margin: 0px 0px 0px 40px;
	}
.sheet-abloc2{
	float: left;
	position: relative;
	width: 207px;
	height: auto;
	min-height: 187px;
	margin: 0px 0px 0px 0px;
    }
.sheet-abloc3{
	float: left;
	position: relative;
	width: 207px;
	height: auto;
	min-height: 187px;
	margin: 0px 0px 0px 0px;
	}
.sheet-abloc4{
	float: left;
	position: relative;
	width: 202px;
	height: auto;
	min-height: 187px;
	margin: 0px 0px 0px 0px;
	}
.sheet-atributs{
	float: left;
	position: relative;
	width: 100%;
	height: 25px;
    }
.sheet-abiskills{
	float: left;
	position: relative;
	width: 100%;
	height: 19px;
    margin: 0px 0px 0px 2px;
	}

.sheet-weapons{
	float: left;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 137px;
	margin: 40px auto 0px;
    }
.sheet-peu{
	float: left;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 312px;
	margin: 35px auto 0px;
	}
.sheet-peuters{
	float: left;
	position: relative;
	width: 300px;
	height: auto;
	min-height: 312px;
	margin: 0px 0px 0px 2px;
	}
.sheet-peuters2{
	float: left;
	position: relative;
	width: 280px;
	height: auto;
	min-height: 312px;
    margin: 0px 0px 0px 2px;
	}

/*============= RADIOS BOX =============*/

.charsheet .sheet-dots{
  display:flex;
    margin: 52px 0px 0px 0px;
}
.charsheet .sheet-dots2{
  display:flex;
    margin: 5px 0px 0px 0px;
}
.charsheet button.dot {
  border: none;
  background-color: transparent;
}

/* Configure the button styling. This example makes it look like a radio. */
.charsheet button.sheet-dot {
  margin: 0px 10px 0px -4px;
  padding: 0px;
  border: solid 2px #000000;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* Configure the button styling. This example makes it look like a radio. */
.charsheet button.sheet-dot2 {
  margin: 0px 10px 0px -4px;
  padding: 0px;
  border: solid 2px #000000;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.charsheet button.sheet-dot > span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: buttontext;
}

.charsheet button.sheet-dot2 > span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: buttontext;
}

/* Hide the "checked" section of the radio if the hidden attribute value is greater than the button value */
.charsheet input.sheet-dot[value="1"] ~ button.sheet-gt-1 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="2"] ~ button.sheet-gt-2 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="3"] ~ button.sheet-gt-3 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="4"] ~ button.sheet-gt-4 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="5"] ~ button.sheet-gt-5 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="6"] ~ button.sheet-gt-6 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="7"] ~ button.sheet-gt-7 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="8"] ~ button.sheet-gt-8 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="9"] ~ button.sheet-gt-9 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="10"] ~ button.sheet-gt-10 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot[value="11"] ~ button.sheet-gt-11 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="12"] ~ button.sheet-gt-12 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="13"] ~ button.sheet-gt-13 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="14"] ~ button.sheet-gt-14 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="15"] ~ button.sheet-gt-15 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="16"] ~ button.sheet-gt-16 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="17"] ~ button.sheet-gt-17 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="18"] ~ button.sheet-gt-18 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="19"] ~ button.sheet-gt-19 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="20"] ~ button.sheet-gt-20 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="21"] ~ button.sheet-gt-21 > span.sheet-checked {
  display: none;
}
.charsheet input.sheet-dot2[value="22"] ~ button.sheet-gt-22 > span.sheet-checked {
  display: none;
}

/*============= END RADIOS BOX =============*/
.sheet-peuters3{
	float: left;
	position: relative;
	width: 280px;
	height: auto;
	min-height: 312px;
	margin: 0px 0px 0px 4px;    
	}

.sheet-center{
	float: left;
	position: relative;
	width: 800px;
	height: auto;
	min-height: 100px;
	margin: 0px auto;
	background-image:url("xxx");
	background-repeat:no-repeat;
	background-position: left top;
	}	

/*============= CHECKBOX CSS=============*/

.sheet-mycheck{	
 /*filter: invert(100%) hue-rotate(transparent) brightness(1);  */
  }
/* filter: invert(100%) hue-rotate(1040deg) brightness(0.8); */
.sheet-mycheck:checked {
}

/* =============== POP UPS ==================  */
h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #880202;
  margin: 80px 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
	z-index: 3;	
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 55%;
  position: relative;
  transition: all 5s ease-in-out;
    text-align: center;
    color: #ffe402;
    background-color: #2e3512;
}

.popup h2 {
  margin-top: 0;
  color: #ffe402;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ffe402;
    opacity: 1 !important;
}
.popup .close:hover {
  color: #880202;
}
.popup .content {
  max-height: 55%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* ================== FIRMA VJ ROLMASTERS ===============  */
.sheet-firma{
	float: left;
	position: relative;
	width:100%;
	max-width: 1000px;
	height: 20px;
	margin: 15px auto 0px;
	overflow:hidden;
	text-align: center;
    font-size: 9px;
	}	

.sheet-firma:hover{
	color: #2e3512;
	}	
/* ========== CSS TEMPLATE WAR STORIES ============== */
.sheet-rolltemplate-warstories {
  margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-warstories {
  margin-left: -7px;
}
.sheet-rolltemplate-warstories .sheet-container {
  border: 3px solid black;
  border-radius: 3px;
}

.sheet-rolltemplate-warstories .sheet-header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  text-align: left;
  text-transform: capitalize;
  padding: 5px;
  border-bottom: 2px solid black;
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-style: normal;
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.9);
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.9);    
}

.sheet-rolltemplate-warstories .sheet-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffe402;
  font-family: "IM Fell Great Primer SC", serif;
}

.sheet-rolltemplate-warstories .sheet-title img.sheet-wsicon {
  width: 33px;
  height: 33px;
  float: right;
}

.sheet-rolltemplate-warstories .sheet-subtitle {
  font-size: 1.2em;
  color: #ffe402;
  font-family: 'Crimson Pro';
}

.sheet-rolltemplate-warstories .sheet-container {
  --header-bg-color: #2e3512;
  --header-text-color: #FFF;
}
.sheet-rolltemplate-warstories .sheet-container.sheet-color-green {
  --header-bg-color: #008000;
}
.sheet-rolltemplate-warstories .sheet-container.sheet-color-black {
  --header-bg-color: #000;
}
.sheet-rolltemplate-warstories .sheet-container.sheet-color-white {
  --header-bg-color: #FFF;
  --header-text-color: #000;
}

.sheet-rolltemplate-warstories .sheet-content {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  line-height: 1.4em;
  background: #EEE;

}

.sheet-rolltemplate-warstories .sheet-content > div {
  padding: 0px;
}

.sheet-rolltemplate-warstories .sheet-content .sheet-key {
    height: auto;
    min-height: 40px;
    font-weight: bold;
    padding: 30px 5px 0px 5px;
    text-align: center;
    font-size: 26px;
    color: #2e3512;
    font-family: "Vollkorn SC", serif;
    font-style: normal;
}

.sheet-rolltemplate-warstories .sheet-content .sheet-value {
    height: auto;
    min-height: 40px;
    font-weight: bold;
    padding: 30px 0px 0px 10px;
    text-align: left;
    font-size: 26px;
    color: #2e3512;
    font-family: "Vollkorn SC", serif;
    font-style: normal;
}

.sheet-rolltemplate-warstories .sheet-content :nth-child(1n+3),
.sheet-rolltemplate-warstories .sheet-content :nth-child(1n) {
  background: #EEE;
}

.sheet-rolltemplate-warstories .sheet-desc {
    height: auto;
    grid-column: span 2;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: #2e3512;
    font-family: "IM Fell Great Primer SC", serif;
    font-style: normal;
    border-top: 2px solid #2e3512; 
}



/* CSS DAUS CUSTOM FONT PICTOS*/

.charsheet div.sheet-d6{
  font-family: dicefontd6;
  font-size: 24px;
}
.charsheet div.sheet-d8{
   font-family: dicefontd8;
	  font-size: 24px;
}
.charsheet div.sheet-d10{
   font-family: dicefontd10;
	  font-size: 40px;
}
.charsheet div.sheet-d12{
   font-family: dicefontd12;
	  font-size: 24px;
}

.ui-dialog .charsheet button[type=roll]::before {
 	font-family: dicefontd6;
	border: none;
	background-color: transparent;
    content: "L";
}

.sheet-atributos2 .ui-dialog .charsheet button[type="roll"], .ui-dialog .charsheet button[type="compendium"] {

    font-size: 30px;
    background: none;
    border: none;
}	

.btna{
    float: right;
    padding: 0px 3px 0px 0px!important;
    font-size: 24px!important;
    background: none!important;
    border: none!important;
}
.btna:hover{
    padding: 0px 0px 0px 0px!important;
    font-size: 28px!important;
    background: none;
    border: none;
	 -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btna:active{
    padding: 0px 0px 0px 0px!important;
    font-size: 28px!important;
    background: none!important;
    border: none!important;
	box-shadow: none;
	 -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btna2{
    float: none;
    padding: 0px 3px 0px 0px!important;
    font-size: 24px!important;
    background: none!important;
    border: none!important;
}
.btna2:hover{
    padding: 0px 0px 0px 0px!important;
    font-size: 28px!important;
    background: none;
    border: none;
	 -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btna2:active{
    padding: 0px 0px 0px 0px!important;
    font-size: 28px!important;
    background: none!important;
    border: none!important;
	box-shadow: none;
	 -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
@media screen and (min-width: 960px){
    
  .sheet-contenedorws{
	padding: 15px 10px;
	}
  
	}
@media screen and (min-width: 1050px){
    
  .sheet-contenedorws{
    width: 100%;  
    max-width: 100%;  
	padding: 15px 10px;
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/WAR STORIES WW2 RPG/images/BACKGROUND_WWII_VJROLMASTERS_D_2500px.png");
	background-repeat: no-repeat;
    background-size: auto;
	background-position: center center;
	}
  #sheet-contenedorfondo{
    margin: 0px auto;
}	
    }