/*
 * misc 
 */

.sheet-main-container{
    min-width:600px;
    padding:15px;
    position:relative;
    border: 1px solid black;
    border-radius: 20px;
}

label{
    display:inline;
}

div.sheet-body-container {
    position:relative;
}

input[type=radio].sheet-edit-pages,
input[type=radio].sheet-edit-pages + span
{
    top: -31px !important;
}

input[type=radio].sheet-main-pages,
input[type=radio].sheet-main-pages + span
{
    top: -10px !important;
}

.sheet-ref-repeat~.repcontrol{
    display:none;
}

input.sheet-input-line{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0px;
    padding: 0px 0px;
}

input.sheet-input-number{
    width: 32px!important;
    text-align: center;
}

input[type="number"].sheet-input-number::-webkit-outer-spin-button, 
input[type="number"].sheet-input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span.sheet-block{
    display:inline-block;
}


.sheet-pre-block{
    resize:none;
}






/* 
 * color picker
 */
 
.sheet-color-picker-container {
    position:relative;
    height: 250px;
}

.sheet-hex-container-1 {
    position:absolute;
    height: 250px;
    width: 222px;
    left: 5px;
}

.sheet-hex-container-2 {
    position:absolute;
    height: 250px;
    width: 222px;
    left: 289px;
}

.sheet-hex-container-3 {
    position:absolute;
    height: 250px;
    width: 222px;
    right: 5px;
}

input[type=radio].sheet-hex, input[type=radio].sheet-hex + span {
    position: absolute;
    width: 40px;
    height: 40px;
}

input[type=radio].sheet-hex {
    opacity: 0;
    z-index: 2;
}

input[type=radio].sheet-hex + span {
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
}


input[type=radio].sheet-hex-000,
input[type=radio].sheet-hex-000 + span {
    left: 91px;
    top: 105px;
}

input[type=radio].sheet-hex-100,
input[type=radio].sheet-hex-100 + span {
    left: 91px;
    top: 55px;
}

input[type=radio].sheet-hex-110,
input[type=radio].sheet-hex-110 + span {
    left: 134px;
    top: 80px;
}

input[type=radio].sheet-hex-120,
input[type=radio].sheet-hex-120 + span {
    left: 134px;
    top: 130px;
}

input[type=radio].sheet-hex-130,
input[type=radio].sheet-hex-130 + span {
    left: 91px;
    top: 155px;
}

input[type=radio].sheet-hex-140,
input[type=radio].sheet-hex-140 + span {
    left: 48px;
    top: 130px;
}

input[type=radio].sheet-hex-150,
input[type=radio].sheet-hex-150 + span {
    left: 48px;
    top: 80px;
}

input[type=radio].sheet-hex-200,
input[type=radio].sheet-hex-200 + span {
    left: 91px;
    top: 5px;
}

input[type=radio].sheet-hex-201,
input[type=radio].sheet-hex-201 + span {
    left: 134px;
    top: 30px;
}

input[type=radio].sheet-hex-210,
input[type=radio].sheet-hex-210 + span {
    left: 177px;
    top: 55px;
}

input[type=radio].sheet-hex-211,
input[type=radio].sheet-hex-211 + span {
    left: 177px;
    top: 105px;
}

input[type=radio].sheet-hex-220,
input[type=radio].sheet-hex-220 + span {
    left: 177px;
    top: 155px;
}

input[type=radio].sheet-hex-221,
input[type=radio].sheet-hex-221 + span {
    left: 134px;
    top: 180px;
}

input[type=radio].sheet-hex-230,
input[type=radio].sheet-hex-230 + span {
    left: 91px;
    top: 205px;
}

input[type=radio].sheet-hex-231,
input[type=radio].sheet-hex-231 + span {
    left: 48px;
    top: 180px;
}

input[type=radio].sheet-hex-240,
input[type=radio].sheet-hex-240 + span {
    left: 5px;
    top: 155px;
}

input[type=radio].sheet-hex-241,
input[type=radio].sheet-hex-241 + span {
    left: 5px;
    top: 105px;
}

input[type=radio].sheet-hex-250,
input[type=radio].sheet-hex-250 + span {
    left: 5px;
    top: 55px;
}

input[type=radio].sheet-hex-251,
input[type=radio].sheet-hex-251 + span {
    left: 48px;
    top: 30px;
}














/* 
 * radio and checkbox
 */
.sheet-checkradio-container {
    position:relative;
    height: 30px;
}


input[type=radio].sheet-checkradio, input[type=radio].sheet-checkradio + span, 
input[type=checkbox].sheet-checkradio, input[type=checkbox].sheet-checkradio + span {
    position: absolute;
    top: 5px;
    width: 100px;
    height: 20px;
}


input[type=radio].sheet-checkradio,
input[type=checkbox].sheet-checkradio {
    opacity: 0;
    z-index: 2;
}

input[type=radio].sheet-checkradio + span, 
input[type=checkbox].sheet-checkradio + span {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-weight: bold;
}


input[type=radio].sheet-checkradio-left-first,
input[type=radio].sheet-checkradio-left-first + span,
input[type=checkbox].sheet-checkradio-left-first,
input[type=checkbox].sheet-checkradio-left-first + span {
    left: 0px;
}
input[type=radio].sheet-checkradio-left-second,
input[type=radio].sheet-checkradio-left-second + span,
input[type=checkbox].sheet-checkradio-left-second,
input[type=checkbox].sheet-checkradio-left-second + span {
    left: 100px;
}
input[type=radio].sheet-checkradio-left-third,
input[type=radio].sheet-checkradio-left-third + span,
input[type=checkbox].sheet-checkradio-left-third,
input[type=checkbox].sheet-checkradio-left-third + span {
    left: 200px;
}
input[type=radio].sheet-checkradio-left-fourth,
input[type=radio].sheet-checkradio-left-fourth + span,
input[type=checkbox].sheet-checkradio-left-fourth,
input[type=checkbox].sheet-checkradio-left-fourth + span {
    left: 300px;
}
input[type=radio].sheet-checkradio-left-fifth,
input[type=radio].sheet-checkradio-left-fifth + span,
input[type=checkbox].sheet-checkradio-left-fifth,
input[type=checkbox].sheet-checkradio-left-fifth + span {
    left: 400px;
}
input[type=radio].sheet-checkradio-left-sixth,
input[type=radio].sheet-checkradio-left-sixth + span,
input[type=checkbox].sheet-checkradio-left-sixth,
input[type=checkbox].sheet-checkradio-left-sixth + span {
    left: 500px;
}

input[type=radio].sheet-checkradio-right-first,
input[type=radio].sheet-checkradio-right-first + span,
input[type=checkbox].sheet-checkradio-right-first,
input[type=checkbox].sheet-checkradio-right-first + span {
    right: 0px;
}
input[type=radio].sheet-checkradio-right-second,
input[type=radio].sheet-checkradio-right-second + span,
input[type=checkbox].sheet-checkradio-right-second,
input[type=checkbox].sheet-checkradio-right-second + span {
    right: 100px;
}
input[type=radio].sheet-checkradio-right-third,
input[type=radio].sheet-checkradio-right-third + span,
input[type=checkbox].sheet-checkradio-right-third,
input[type=checkbox].sheet-checkradio-right-third + span {
    right: 200px;
}
input[type=radio].sheet-checkradio-right-fourth,
input[type=radio].sheet-checkradio-right-fourth + span,
input[type=checkbox].sheet-checkradio-right-fourth,
input[type=checkbox].sheet-checkradio-right-fourth + span {
    right: 300px;
}
input[type=radio].sheet-checkradio-right-fifth,
input[type=radio].sheet-checkradio-right-fifth + span,
input[type=checkbox].sheet-checkradio-right-fifth,
input[type=checkbox].sheet-checkradio-right-fifth + span {
    right: 400px;
}
input[type=radio].sheet-checkradio-right-sixth,
input[type=radio].sheet-checkradio-right-sixth + span,
input[type=checkbox].sheet-checkradio-right-sixth,
input[type=checkbox].sheet-checkradio-right-sixth + span {
    right: 500px;
}








/* 
 * tabination
 */
.sheet-page-content {
  display: none;
}

input[type=radio].sheet-page-button.sheet-prefs:checked ~ .sheet-page-content.sheet-prefs,
input[type=radio].sheet-page-button.sheet-edit:checked ~ .sheet-page-content.sheet-edit,
input[type=radio].sheet-page-button.sheet-ref:checked ~ .sheet-page-content.sheet-ref,
input[type=radio].sheet-page-button.sheet-bio:checked ~ .sheet-page-content.sheet-bio,
input[type=radio].sheet-page-button.sheet-stats:checked ~ .sheet-page-content.sheet-stats,
input[type=radio].sheet-page-button.sheet-attributes:checked ~ .sheet-page-content.sheet-attributes,
input[type=radio].sheet-page-button.sheet-skills:checked ~ .sheet-page-content.sheet-skills,
input[type=radio].sheet-page-button.sheet-attacks:checked ~ .sheet-page-content.sheet-attacks,
input[type=radio].sheet-page-button.sheet-magic:checked ~ .sheet-page-content.sheet-magic
{
    display: block;
}








/* 
 * API buttons
 */
button.sheet-pow-roll,button.sheet-base-roll,div.sheet-pow-info{
    display:none;
}

input[value="ON"].sheet-powercard-input ~ div.sheet-main-container button.sheet-pow-roll,
input[value="ON"].sheet-powercard-input ~ div.sheet-main-container div.sheet-pow-info{
    display:inline-block;
}

input[value="OFF"].sheet-powercard-input ~ div.sheet-main-container button.sheet-base-roll{
    display:inline-block;
}








/* 
 * colors 
 */

.sheet-main-container,
.sheet-rolltemplate-general .sheet-template-body div:nth-child(odd){
    background-color: #FFFFFF;
}

  /* 000 */
input[value="000"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="000"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="000"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-000 .sheet-template-body div:nth-child(even){
    background-color: #E9E9E9;
}
input[value="000"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="000"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="000"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-000 .sheet-template-header{
    background-color: #000000;
    color: #FFFFFF;
}

  /* 001 */
input[value="001"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="001"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="001"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-001 .sheet-template-body div:nth-child(even){
    background-color: #E9E9F4;
}
input[value="001"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="001"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="001"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-001 .sheet-template-header{
    background-color: #000080;
    color: #FFFFFF;
}

  /* 002 */
input[value="002"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="002"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="002"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-002 .sheet-template-body div:nth-child(even){
    background-color: #E9E9FF;
}
input[value="002"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="002"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="002"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-002 .sheet-template-header{
    background-color: #0000FF;
    color: #FFFFFF;
}

  /* 010 */
input[value="010"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="010"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="010"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-010 .sheet-template-body div:nth-child(even){
    background-color: #E9F4E9;
}
input[value="010"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="010"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="010"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-010 .sheet-template-header{
    background-color: #008000;
    color: #FFFFFF;
}

  /* 011 */
input[value="011"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="011"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="011"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-011 .sheet-template-body div:nth-child(even){
    background-color: #E9F4F4;
}
input[value="011"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="011"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="011"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-011 .sheet-template-header{
    background-color: #008080;
    color: #FFFFFF;
}

  /* 012 */
input[value="012"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="012"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="012"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-012 .sheet-template-body div:nth-child(even){
    background-color: #E9F4FF;
}
input[value="012"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="012"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="012"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-012 .sheet-template-header{
    background-color: #0080FF;
    color: #000000;
}

  /* 020 */
input[value="020"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="020"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="020"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-020 .sheet-template-body div:nth-child(even){
    background-color: #E9FFE9;
}
input[value="020"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="020"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="020"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-020 .sheet-template-header{
    background-color: #00FF00;
    color: #FFFFFF;
}

  /* 021 */
input[value="021"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="021"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="021"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-021 .sheet-template-body div:nth-child(even){
    background-color: #E9FFF4;
}
input[value="021"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="021"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="021"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-021 .sheet-template-header{
    background-color: #00FF80;
    color: #000000;
}

  /* 022 */
input[value="022"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="022"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="022"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-022 .sheet-template-body div:nth-child(even){
    background-color: #E9FFFF;
}
input[value="022"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="022"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="022"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-022 .sheet-template-header{
    background-color: #00FFFF;
    color: #000000;
}

  /* 100 */
input[value="100"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="100"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="100"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-100 .sheet-template-body div:nth-child(even){
    background-color: #F4E9E9;
}
input[value="100"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="100"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="100"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-100 .sheet-template-header{
    background-color: #800000;
    color: #FFFFFF;
}

  /* 101 */
input[value="101"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="101"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="101"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-101 .sheet-template-body div:nth-child(even){
    background-color: #F4E9F4;
}
input[value="101"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="101"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="101"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-101 .sheet-template-header{
    background-color: #800080;
    color: #FFFFFF;
}

  /* 102 */
input[value="102"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="102"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="102"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-102 .sheet-template-body div:nth-child(even){
    background-color: #F4E9FF;
}
input[value="102"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="102"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="102"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-102 .sheet-template-header{
    background-color: #8000FF;
    color: #000000;
}

  /* 110 */
input[value="110"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="110"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="110"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-110 .sheet-template-body div:nth-child(even){
    background-color: #F4F4E9;
}
input[value="110"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="110"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="110"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-110 .sheet-template-header{
    background-color: #808000;
    color: #FFFFFF;
}

  /* 111 */
input[value="111"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="111"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="111"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-111 .sheet-template-body div:nth-child(even){
    background-color: #F4F4F4;
}
input[value="111"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="111"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="111"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-111 .sheet-template-header{
    background-color: #808080;
    color: #000000;
}

  /* 112 */
input[value="112"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="112"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="112"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-112 .sheet-template-body div:nth-child(even){
    background-color: #F4F4FF;
}
input[value="112"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="112"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="112"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-112 .sheet-template-header{
    background-color: #8080FF;
    color: #000000;
}

  /* 120 */
input[value="120"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="120"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="120"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-120 .sheet-template-body div:nth-child(even){
    background-color: #F4FFE9;
}
input[value="120"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="120"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="120"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-120 .sheet-template-header{
    background-color: #80FF00;
    color: #000000;
}

  /* 121 */
input[value="121"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="121"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="121"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-121 .sheet-template-body div:nth-child(even){
    background-color: #F4FFF4;
}
input[value="121"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="121"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="121"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-121 .sheet-template-header{
    background-color: #80FF80;
    color: #000000;
}

  /* 122 */
input[value="122"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="122"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="122"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-122 .sheet-template-body div:nth-child(even){
    background-color: #F4FFFF;
}
input[value="122"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="122"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="122"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-122 .sheet-template-header{
    background-color: #80FFFF;
    color: #000000;
}

  /* 200 */
input[value="200"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="200"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="200"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-200 .sheet-template-body div:nth-child(even){
    background-color: #FFE9E9;
}
input[value="200"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="200"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="200"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-200 .sheet-template-header{
    background-color: #FF0000;
    color: #FFFFFF;
}

  /* 201 */
input[value="201"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="201"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="201"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-201 .sheet-template-body div:nth-child(even){
    background-color: #FFE9F4;
}
input[value="201"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="201"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="201"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-201 .sheet-template-header{
    background-color: #FF0080;
    color: #000000;
}

  /* 202 */
input[value="202"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="202"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="202"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-202 .sheet-template-body div:nth-child(even){
    background-color: #FFE9FF;
}
input[value="202"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="202"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="202"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-202 .sheet-template-header{
    background-color: #FF00FF;
    color: #000000;
}

  /* 210 */
input[value="210"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="210"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="210"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-210 .sheet-template-body div:nth-child(even){
    background-color: #FFF4E9;
}
input[value="210"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="210"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="210"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-210 .sheet-template-header{
    background-color: #FF8000;
    color: #000000;
}

  /* 211 */
input[value="211"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="211"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="211"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-211 .sheet-template-body div:nth-child(even){
    background-color: #FFF4F4;
}
input[value="211"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="211"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="211"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-211 .sheet-template-header{
    background-color: #FF8080;
    color: #000000;
}

  /* 212 */
input[value="212"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="212"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="212"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-212 .sheet-template-body div:nth-child(even){
    background-color: #FFF4FF;
}
input[value="212"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="212"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="212"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-212 .sheet-template-header{
    background-color: #FF80FF;
    color: #000000;
}

  /* 220 */
input[value="220"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="220"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="220"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-220 .sheet-template-body div:nth-child(even){
    background-color: #FFFFE9;
}
input[value="220"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="220"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="220"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-220 .sheet-template-header{
    background-color: #FFFF00;
    color: #000000;
}

  /* 221 */
input[value="221"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="221"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="221"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-221 .sheet-template-body div:nth-child(even){
    background-color: #FFFFF4;
}
input[value="221"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="221"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="221"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-221 .sheet-template-header{
    background-color: #FFFF80;
    color: #000000;
}

  /* 222 */
input[value="222"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio + span, 
input[value="222"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio + span,
input[value="222"].sheet-color-picker + span,
.sheet-rolltemplate-general .sheet-template-color-222 .sheet-template-body div:nth-child(even){
    background-color: #FFFFFF;
}
input[value="222"].sheet-color-picked ~ div.sheet-main-container input[type=radio].sheet-checkradio:checked + span, 
input[value="222"].sheet-color-picked ~ div.sheet-main-container input[type=checkbox].sheet-checkradio:checked + span,
input[value="222"].sheet-color-picker:checked + span,
.sheet-rolltemplate-general .sheet-template-color-222 .sheet-template-header{
    background-color: #FFFFFF;
    color: #000000;
}












/* 
 * templates
 */
.sheet-rolltemplate-general .sheet-template-container,
.sheet-rolltemplate-attack .sheet-template-container {
	border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;
}

.sheet-rolltemplate-general .sheet-template-header {
	color: #000;
	padding: 2px;
	border-bottom: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
}

.sheet-rolltemplate-general .sheet-template-body div {
	padding: 5px;
	border-bottom: 1px solid black;
}

.sheet-rolltemplate-general .sheet-template-body .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1);
}
