.charsheet 
{
	background-color:Gainsboro;
}

div.sheet-tab-content 
{ 
	display: none; 
}

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6,
input.sheet-tab7:checked ~ div.sheet-tab7,
input.sheet-tab8:checked ~ div.sheet-tab8
{
    display: block;
}

input.sheet-arrow:checked ~ table.sheet-reveal
{
	display:block;
}

.sheet-titreEffet
{
	border:1px solid LightSteelBlue;
	background-color:LightSteelBlue;
}

.sheet-voletEffet
{
	border:1px solid LightSteelBlue;
}

.sheet-checkboxEffet
{
	position:absolute;
	width:100%;
	height:25px;
	margin-left:-10px;
	z-index: 1;
	opacity: 0;
}

input.sheet-tab
{
    width: 130px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    margin-bottom:20px;
}

input.sheet-tab + span::before
{
    content: attr(title);
   
    text-align: center;
    display: inline-block;
    margin-left:-120px;
       
    width: 125px;
    height: 20px;
    
    font-size: 14px;
    font-weight:bold;
    border:1px solid black;
    border-top-left-radius: 3em 3em;
    border-top-right-radius: 3em 3em;
    border-bottom-right-radius: 3em 3em;
	border-bottom-left-radius: 3em 3em;
    
    position: relative;
    
	
	background: RoyalBlue;
	color:white;
	
}

input.sheet-tab:checked + span::before
{
    background: RoyalBlue;
	box-shadow: 0px 0px 7px 0px #000000 inset;
	color:white;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] 
{
    -moz-appearance:textfield;
}

input,
select
{
	width:100%;
}

select
{
	margin-bottom:0px;
}

textarea
{
	border:none;
	width:100%;
	padding:0px;
	text-align:justify;
}

table
{
	width:100%;
	background-color:#CEECF5;
	border-radius:30px;
}

th
{
	font-weight:bold;
}

.sheet-tab-padding-top
{
	padding-top:10px;
}

.sheet-tab-padding-bottom
{
	padding-bottom:10px;
}

.sheet-tab-padding-left
{
	padding-left:10px;
}

.sheet-tab-padding-right
{
	padding-right:10px;
}


.sheet-left
{
	text-align:left;
}

.sheet-right
{
	text-align:right;
}

.sheet-center
{
	text-align:center;
}


.sheet-hidden
{ 
	display: none; 
}

input.sheet-checkBarb:checked ~ table.sheet-tableBarb,
input.sheet-checkBard:checked ~ table.sheet-tableBard,
input.sheet-checkMonk:checked ~ table.sheet-tableMonk,
input.sheet-checkNecr:checked ~ table.sheet-tableNecr,
input.sheet-checkPala:checked ~ table.sheet-tablePala,
input.sheet-checkPrie:checked ~ table.sheet-tablePrie,
input.sheet-checkPsio:checked ~ table.sheet-tablePsio,
input.sheet-checkRang:checked ~ table.sheet-tableRang,
input.sheet-checkRogu:checked ~ table.sheet-tableRogu,
input.sheet-checkSorc:checked ~ table.sheet-tableSorc,
input.sheet-checkWarm:checked ~ table.sheet-tableWarm,
input.sheet-checkWarr:checked ~ table.sheet-tableWarr,
input.sheet-checkWiza:checked ~ table.sheet-tableWiza
{
	display:block;
}

.sheet-black
{
	color:black;
}

.sheet-rolltemplate-simple table,
.sheet-rolltemplate-initiative table,
.sheet-rolltemplate-attaque table,
.sheet-rolltemplate-nods table
{
   width:100%;
   background-color:royalBlue;
   border-radius:30px;
}

.sheet-rolltemplate-simple .sheet-padding-left,
.sheet-rolltemplate-initiative .sheet-padding-left,
.sheet-rolltemplate-attaque .sheet-padding-left,
.sheet-rolltemplate-nods .sheet-padding-left
{
   padding-left:10px;
}

.sheet-rolltemplate-simple .sheet-padding-right,
.sheet-rolltemplate-initiative .sheet-padding-right,
.sheet-rolltemplate-attaque .sheet-padding-right,
.sheet-rolltemplate-nods .sheet-padding-right
{
   padding-right:10px;
}

.sheet-rolltemplate-simple .sheet-padding-bottom,
.sheet-rolltemplate-initiative .sheet-padding-bottom,
.sheet-rolltemplate-attaque .sheet-padding-bottom,
.sheet-rolltemplate-nods .sheet-padding-bottom
{
   padding-bottom:10px;
}

.sheet-rolltemplate-simple .sheet-padding-top,
.sheet-rolltemplate-initiative .sheet-padding-top,
.sheet-rolltemplate-attaque .sheet-padding-top,
.sheet-rolltemplate-nods .sheet-padding-top
{
   padding-top:10px;
}

.sheet-rolltemplate-simple .sheet-align-right,
.sheet-rolltemplate-initiative .sheet-align-right,
.sheet-rolltemplate-attaque .sheet-align-right,
.sheet-rolltemplate-nods .sheet-padding-top
{
   text-align:right
}

.sheet-rolltemplate-simple .sheet-align-left,
.sheet-rolltemplate-initiative .sheet-align-left,
.sheet-rolltemplate-attaque .sheet-align-left,
.sheet-rolltemplate-nods .sheet-align-left
{
   text-align:left
}

.sheet-rolltemplate-simple .sheet-title,
.sheet-rolltemplate-initiative .sheet-title,
.sheet-rolltemplate-attaque .sheet-title,
.sheet-rolltemplate-nods .sheet-title
{
   color:white;
}

.sheet-rolltemplate-simple .sheet-body,
.sheet-rolltemplate-initiative .sheet-body,
.sheet-rolltemplate-attaque .sheet-body,
.sheet-rolltemplate-nods .sheet-body
{
   background-color:#CEECF5;
}

.sheet-rolltemplate-simple .sheet-center,
.sheet-rolltemplate-initiative .sheet-center,
.sheet-rolltemplate-attaque .sheet-center,
.sheet-rolltemplate-nods .sheet-center
{
	text-align:center;
}

.sheet-rolltemplate-simple .inlinerollresult,
.sheet-rolltemplate-initiative .inlinerollresult,
.sheet-rolltemplate-attaque .inlinerollresult,
.sheet-rolltemplate-nods .inlinerollresult
{
    background-color: transparent;
    border: none;
}

.sheet-rolltemplate-simple .inlinerollresult.fullcrit,
.sheet-rolltemplate-initiative .inlinerollresult.fullcrit,
.sheet-rolltemplate-attaque .inlinerollresult.fullcrit,
.sheet-rolltemplate-nods .inlinerollresult.fullcrit
{
    border: none;
}
 
.sheet-rolltemplate-simple .inlinerollresult.fullfail,
.sheet-rolltemplate-initiative .inlinerollresult.fullfail,
.sheet-rolltemplate-attaque .inlinerollresult.fullfail,
.sheet-rolltemplate-nods .inlinerollresult.fullfail
{
    border: none;
}
 
.sheet-rolltemplate-simple .inlinerollresult.importantroll,
.sheet-rolltemplate-initiative .inlinerollresult.importantroll,
.sheet-rolltemplate-attaque .inlinerollresult.importantroll,
.sheet-rolltemplate-nods .inlinerollresult.importantroll
{
    border: none;
}
