.sheet-nameRankXp{
    width:75px;
}

.sheet-maindiv {
    width:830px;
}

.sheet-additionalrules{
    width:46%;
    margin-left:10px;
    margin-right:10px;
}
/* -----------Section for NPC--------------*/

.charsheet div.sheet-player, 
.charsheet div.sheet-npc {     
    visibility: hidden;
    opacity: 0;
	max-height:0;
	overflow: hidden;
    float: left;
}

.charsheet input.sheet-is-npc:checked ~ div.sheet-npc,
.charsheet input.sheet-is-npc:not(:checked )~ div.sheet-player,
{
	max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: auto;
}

.charsheet input.sheet-is-npc {
    width: 20%;
    height: 16px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.charsheet span.sheet-is-npc-tab::before {
    content: "Wild Card";
}

.charsheet span.sheet-is-npc-tab {
    text-align: center;
    display: inline-block;    
    width: 20%;
    height: 16px;
    font-size: 9px;
	
	background: #65763c;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -20%
}

.charsheet input.sheet-is-npc:checked + span.sheet-is-npc-tab {
    background: #93537c;     
    color: white;
	border-radius: 4px;
}

.charsheet input.sheet-is-npc:checked + span.sheet-is-npc-tab::before {
	content: "Ally / Mook"
}

/* -----------NPC Section End--------------*/


/* -----------Section for Tabs-------------*/

div.sheet-core-content { display: none; width:840px;}


input[type=radio].sheet-tab1,
input[type=radio].sheet-tab2,
input[type=radio].sheet-tab3,
input[type=radio].sheet-tab4,
input[type=radio].sheet-tab5,
input[type=radio].sheet-tab6,
input[type=radio].sheet-tab99 {
        /*display:none;*/
        opacity: 0;
        width: 60px;
        height:40px;
        position: relative;
        top: 5px;
        left: 70px;
        margin: -30px;
        cursor: pointer;
        z-index: 1;
    } 

input[type=radio].sheet-tab1 + label::before,
input[type=radio].sheet-tab2 + label::before,
input[type=radio].sheet-tab3 + label::before,
input[type=radio].sheet-tab4 + label::before,
input[type=radio].sheet-tab5 + label::before,
input[type=radio].sheet-tab6 + label::before,
input[type=radio].sheet-tab99 + label::before{
        height:40px;
        width:40px;
        /*content:"";*/
        
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
}

input[type=radio].sheet-tab1 + label,
input[type=radio].sheet-tab2 + label,
input[type=radio].sheet-tab3 + label,
input[type=radio].sheet-tab4 + label,
input[type=radio].sheet-tab5 + label,
input[type=radio].sheet-tab6 + label,
input[type=radio].sheet-tab99 + label{
		display:inline-block;
		margin:-2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 40px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}

input[type=radio].sheet-tab1:checked ~ div.sheet-tab1,
input[type=radio].sheet-tab2:checked ~ div.sheet-tab2,
input[type=radio].sheet-tab3:checked ~ div.sheet-tab3,
input[type=radio].sheet-tab4:checked ~ div.sheet-tab4,
input[type=radio].sheet-tab5:checked ~ div.sheet-tab5,
input[type=radio].sheet-tab6:checked ~ div.sheet-tab6 { 
		display:inline-block; 
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			background-color:#e0e0e0;
	}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-core-content"] { 	
	/*max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;*/
    display:inline-block; 
    	background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			background-color:#e0e0e0;
}


/* End Tabs stuff... */
.sheet-formula{
    display:inline-block;
}

.sheet-arrow:checked + *.sheet-formula{
    display:none;
}

.sheet-arrow:checked + *.sheet-hindrance{
	display:none;
}

/*  Trying to hide NPC Sections without Tabs */

.sheet-HideAtts,
.sheet-HideSkills,
.sheet-HideMWeapons,
.sheet-HideRWeapons,
.sheet-HideArcanum,
.sheet-HideNotes {
    width: 20%;
    height: 16px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.sheet-HideAtts:checked ~ *.sheet-atts,
.sheet-HideSkills:checked ~ *.sheet-mskills,
.sheet-HideMWeapons:checked ~ *.sheet-mweapons,
.sheet-HideRWeapons:checked ~ *.sheet-rweapons,
.sheet-HideArcanum:checked ~ *.sheet-arcanum,
.sheet-HideNotes:checked ~ *.sheet-notes {
    display:none;
    
}

.sheet-atts,
.sheet-mskills,
.sheet-mweapons,
.sheet-rweapons,
.sheet-arcanum,
.sheet-notes {
	display:inline-block;
}

.charsheet span.sheet-is-atts-tab::before,
.charsheet span.sheet-is-skills-tab::before,
.charsheet span.sheet-is-mweapons-tab::before,
.charsheet span.sheet-is-rweapons-tab::before,
.charsheet span.sheet-is-arcanum-tab::before,
.charsheet span.sheet-is-notes-tab::before {
    content: "Hide";
}

.charsheet span.sheet-is-atts-tab,
.charsheet span.sheet-is-skills-tab,
.charsheet span.sheet-is-mweapons-tab,
.charsheet span.sheet-is-rweapons-tab,
.charsheet span.sheet-is-arcanum-tab,
.charsheet span.sheet-is-notes-tab {
    text-align: center;
    display: inline-block;    
    width: 20%;
    height: 16px;
    font-size: 9px;
    /*background: #65763c;*/
    background: #93537c;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -20%;
}

.charsheet .sheet-HideAtts:checked + span.sheet-is-atts-tab,
.charsheet .sheet-HideSkills:checked + span.sheet-is-skills-tab,
.charsheet .sheet-HideMWeapons:checked + span.sheet-is-mweapons-tab,
.charsheet .sheet-HideRWeapons:checked + span.sheet-is-rweapons-tab,
.charsheet .sheet-HideArcanum:checked + span.sheet-is-arcanum-tab,
.charsheet .sheet-HideNotes:checked + span.sheet-is-notes-tab {
	background: #65763c;     
    color: white;
	border-radius: 4px;
}

.charsheet .sheet-HideAtts:checked + span.sheet-is-atts-tab::before {
	content: "Show Attributes & Edges";
}

.charsheet .sheet-HideSkills:checked + span.sheet-is-skills-tab::before {
	content: "Show Skills & Armor";
}

.charsheet .sheet-HideMWeapons:checked + span.sheet-is-mweapons-tab::before {
	content: "Show Melee Weapons & Gear";
}

.charsheet .sheet-HideRWeapons:checked + span.sheet-is-rweapons-tab::before {
	content: "Show Ranged Weapons";
}

.charsheet .sheet-HideArcanum:checked + span.sheet-is-arcanum-tab::before {
	content: "Show Arcanum";
}

.charsheet .sheet-HideNotes:checked + span.sheet-is-notes-tab::before {
	content: "Show Notes";
}

/* End NPC Sections Hiding */


.sheet-skills label {
    display:inline-block;
    text-align:left;
    width:75px;
}

.charsheet label {
    display: inline-block;
    text-align: left;
    width:75px;
}

.sheet-smalltextarea{
    height:100px;
}

.sheet-largetextarea{
    height:50px;
    width:669px;
}

.skilllabel {
    display: inline-block;
    width:200px;
    text-align: left;
}

.charsheet input {
    display: inline-block;
    width: 165px;
    margin-bottom: 1px;
}

.sheet-rank {
    width: 165px;
    margin-bottom:1px;
}

.sheet-col strong.sheet-dee {
    font-size: 1.4em;
    font-weight: bold;
	padding-right: 4px;
}

.charsheet input.sheet-short {
	width: 3.5em;
}
/*
.charsheet {
	background-image: url("http://freeseamlesstextures.com/images/28-faded-parchment-background-sml.jpg");
}
*/
.charsheet table td, .charsheet table th {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
}

.sheet-DStatsTable {
}

.sheet-DStatsTable th {
    text-align: center;
}

.sheet-MacroButtons {

}

.sheet-TopSection {
    width: 900px;
    border-style:solid;
    border-width:1px;
}

.sheet-TopSection1 {
    position: relative;
    top: 0px;
    left: 0px;
}

.sheet-TopSection2 {
    position: relative;
    top: 0px;
    left: 300px;
}

.sheet-TopSection3 {
    position: relative;
    top: 0px;
    left: 600px;
}

select.sheet-dtype {
    width: 60px;
    vertical-align: top;
}
select.sheet-atype {
    width: 85px;
    vertical-align: top;
}
.col1 {
    width: 600px;   
}

.sheet-trainedchk {
    display:inline-block; 
    width:15px; 
    margin-left:5px;   
}

/*Hex Stuff*/
.hex {
    width: 100px;
    height: 57px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;			
    background-size: auto 173px;							
    position: relative;
    float:left;
    margin:25px 5px;
    text-align:center;
    zoom:1;
}
	
.hex.hex-gap {
	margin-left: 86px;
}

.hex a {
	display:block;
	width: 100%;
	height:100%;
	text-indent:-9999em;
	position:absolute;
	top:0;
	left:0;
}

.hex .corner-1,
.hex .corner-2 {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: inherit;								
	z-index:-2;						
	overflow:hidden;		
	backface-visibility: hidden;			
}

.hex .corner-1 {
	z-index:-1;
	-webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
}

.hex .corner-2 {
	-webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
	width: 173px;
	height:	173px;
  content: '';
  position: absolute;
  background: inherit;
  top:0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat:no-repeat;
	backface-visibility: hidden;				  
}			


.hex .corner-1:before {
	transform: rotate(-60deg) translate(-87px, 0px);	
  transform-origin: 0 0;
}			

.hex .corner-2:before {
	transform: rotate(60deg) translate(-48px, -11px);	
	bottom:0;
}		



/* Custom styles*/
.hex .inner {		
	color:#eee;
}

.hex h4 {
	font-family: 'Josefin Sans', sans-serif;		
	margin:0;			
}

.hex hr {
	border:0;
	border-top:1px solid #eee;
	width:60%;
	margin:15px auto;
}

.hex p {
	font-size:16px;
	font-family: 'Kotta One', serif;
	width:80%;
	margin:0 auto;
}

.hex.hex-1 {
	background: #74cddb;
}

.hex.hex-2 {
	background: #f5c53c;
}

.hex.hex-3 {
	background: #80b971;
}

/*Show and hid things*/


.sheet-horror {
    display:none;
}
.sheet-cyberpunk {
    display:none;
}
.sheet-deadlands {
    display:none;
}
.sheet-hasPowers {
    display:inline;
    width:15px;
    margin-left:5px;
}
.sheet-hiddenElement{
    display:none;
}
.sheet-iscyberpunk:checked~*.sheet-cyberpunk{
    display:inline-block;
}
.sheet-hasPowers:checked~.sheet-powers {
    display:block;
}