.sheet-nameRankXp{
    width:75px;
}

.sheet-maindiv {
    width:830px;
}

.sheet-additionalrules{
    width:46%;
    margin-left:10px;
    margin-right:10px;
}
/* -----------Section for NPC--------------*/

.charsheet div.sheet-player, 
.charsheet div.sheet-npc {     
    visibility: hidden;
    opacity: 0;
	max-height:0;
	overflow: hidden;
    float: left;
}

.charsheet input.sheet-is-npc:checked ~ div.sheet-npc,
.charsheet input.sheet-is-npc:not(:checked )~ div.sheet-player,
{
	max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: auto;
}

.charsheet input.sheet-is-npc {
    width: 20%;
    height: 16px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.charsheet span.sheet-is-npc-tab::before {
    content: "Wild Card";
}

.charsheet span.sheet-is-npc-tab {
    text-align: center;
    display: inline-block;    
    width: 20%;
    height: 16px;
    font-size: 9px;
	
	background: #65763c;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -20%
}

.charsheet input.sheet-is-npc:checked + span.sheet-is-npc-tab {
    background: #93537c;     
    color: white;
	border-radius: 4px;
}

.charsheet input.sheet-is-npc:checked + span.sheet-is-npc-tab::before {
	content: "Ally / Mook"
}

/* -----------NPC Section End--------------*/


/* -----------Section for Tabs-------------*/

div.sheet-core-content { display: none; width:840px;}

/*-----------Actoba's way----------------- */

.charsheet div[class^="sheet-section"] { 	
	visibility: hidden;
	opacity: 0;
	max-height:0;
	overflow: hidden;
}

.charsheet input.sheet-tab1:checked ~ div.sheet-section-core,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-edges,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-skills,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-gear,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-arcanum,
.charsheet input.sheet-tab6:checked ~ div.sheet-section-journal {
	max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: auto;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
}

.charsheet input.sheet-tab {
    width: 100px;
    height: 40px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.charsheet span.sheet-tab {
	text-align: center;
    display: inline-block; /*originally inline-block*/  
	font-size: 13px;	
	background: #c7c3b0; /*originally 4a6486*/
	color: black; /*originally white*/
	/*font-family: "Tinos", "Quattrocento", "Lustria", "Buenardserif", serif;*/
	font-weight: bold;
	border-radius: 4px;
	
	width: 100px; /*originally 87px*/
    height: 40px; /*originally 20px*/
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	align-content: center;
	margin-left: -91px;/*originally 91px*/
}

.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6,
.charsheet input.sheet-tab7:checked + span.sheet-tab7,
.charsheet input.sheet-tab8:checked + span.sheet-tab8,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 {
    
    background: #dbc792;  /*originally ab8b57*/  
    color: #755b27; /*originally white*/
	border-radius: 4px;
}

.charsheet span.sheet-spacer {
	display: block;
	margin-top: 5px;
}

.sheet-formula{
    display:inline-block;
}

.sheet-arrow:checked + *.sheet-formula{
    display:none;
}

.sheet-arrow:checked + *.sheet-hindrance{
	display:none;
}

.sheet-staticBoating,
.sheet-staticClimbing,
.sheet-staticDriving,
.sheet-staticGambling,
.sheet-staticHealing,
.sheet-staticIntimidation,
.sheet-staticInvestigation,
.sheet-staticLockpicking,
.sheet-staticNotice,
.sheet-staticPersuasion,
.sheet-staticPiloting,
.sheet-staticRepair,
.sheet-staticRiding,
.sheet-staticShooting,
.sheet-staticStealth,
.sheet-staticStreetwise,
.sheet-staticSurvival,
.sheet-staticSwimming,
.sheet-staticTaunt,
.sheet-staticThrowing,
.sheet-staticTracking {
	display:none;
}

.sheet-StaticSkill:checked + *.sheet-staticBoating,
.sheet-StaticSkill:checked + *.sheet-staticClimbing,
.sheet-StaticSkill:checked + *.sheet-staticDriving,
.sheet-StaticSkill:checked + *.sheet-staticGambling,
.sheet-StaticSkill:checked + *.sheet-staticHealing,
.sheet-StaticSkill:checked + *.sheet-staticIntimidation,
.sheet-StaticSkill:checked + *.sheet-staticInvestigation,
.sheet-StaticSkill:checked + *.sheet-staticLockpicking,
.sheet-StaticSkill:checked + *.sheet-staticNotice,
.sheet-StaticSkill:checked + *.sheet-staticPersuasion,
.sheet-StaticSkill:checked + *.sheet-staticPiloting,
.sheet-StaticSkill:checked + *.sheet-staticRepair,
.sheet-StaticSkill:checked + *.sheet-staticRiding,
.sheet-StaticSkill:checked + *.sheet-staticShooting,
.sheet-StaticSkill:checked + *.sheet-staticStealth,
.sheet-StaticSkill:checked + *.sheet-staticStreetwise,
.sheet-StaticSkill:checked + *.sheet-staticSurvival,
.sheet-StaticSkill:checked + *.sheet-staticSwimming,
.sheet-StaticSkill:checked + *.sheet-staticTaunt,
.sheet-StaticSkill:checked + *.sheet-staticThrowing,
.sheet-StaticSkill:checked + *.sheet-staticTracking {
	display:inline-block;
}

/*  Trying to hide NPC Sections without Tabs */

.sheet-HideHindrance,
.sheet-HideEdges,
.sheet-HideArmor,
.sheet-HideMelee,
.sheet-HideRanged,
.sheet-HideGear,
.sheet-HideSpellsd,
.sheet-HideSpellsn,
.sheet-HideAtts,
.sheet-HideSkills,
.sheet-HideMWeapons,
.sheet-HideRWeapons,
.sheet-HideArcanum,
.sheet-HideNotes,
.sheet-HideConfig,
.sheet-HideWCSkills,
.sheet-HidemSkills {
    width: 20%;
    height: 16px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.sheet-HideHindrance:checked ~ *.sheet-hindrance,
.sheet-HideEdges:checked ~ *.sheet-edge,
.sheet-HideArmor:checked ~ *.sheet-armor,
.sheet-HideMelee:checked ~ *.sheet-melee,
.sheet-HideRanged:checked ~ *.sheet-ranged,
.sheet-HideGear:checked ~ *.sheet-gear,
.sheet-HideSpellsd:checked ~ *.sheet-spellsd,
.sheet-HideSpellsn:checked ~ *.sheet-spellsn,
.sheet-HideAtts:checked ~ *.sheet-atts,
.sheet-HideSkills:checked ~ *.sheet-mskills,
.sheet-HideMWeapons:checked ~ *.sheet-mweapons,
.sheet-HideRWeapons:checked ~ *.sheet-rweapons,
.sheet-HideArcanum:checked ~ *.sheet-arcanum,
.sheet-HideNotes:checked ~ *.sheet-notes,
.sheet-HideConfig:checked ~ *.sheet-config,
.sheet-HideWCSkills:checked ~ *.sheet-wcSkills,
.sheet-HidemSkills:checked ~ *.sheet-mSkills {
    display:none;
    
}

.sheet-hindrance,
.sheet-edge,
.sheet-armor,
.sheet-melee,
.sheet-ranged,
.sheet-gear,
.sheet-spellsd,
.sheet-spellsn,
.sheet-atts,
.sheet-mskills,
.sheet-mweapons,
.sheet-rweapons,
.sheet-arcanum,
.sheet-notes {
	display:inline-block;
}

.charsheet span.sheet-is-hindrance-tab::before,
.charsheet span.sheet-is-edge-tab::before,
.charsheet span.sheet-is-armor-tab::before,
.charsheet span.sheet-is-melee-tab::before,
.charsheet span.sheet-is-ranged-tab::before,
.charsheet span.sheet-is-gear-tab::before,
.charsheet span.sheet-is-spellsd-tab::before,
.charsheet span.sheet-is-spellsn-tab::before,
.charsheet span.sheet-is-atts-tab::before,
.charsheet span.sheet-is-skills-tab::before,
.charsheet span.sheet-is-mweapons-tab::before,
.charsheet span.sheet-is-rweapons-tab::before,
.charsheet span.sheet-is-arcanum-tab::before,
.charsheet span.sheet-is-notes-tab::before,
.charsheet span.sheet-is-config::before {
    content: "Hide";
}

.charsheet span.sheet-is-config::before {
	content: "Close Configuration";
}

.charsheet span.sheet-is-wcSkills::before {
	content: "Close Wild Card Core Skills";
}

.charsheet span.sheet-is-mSkills::before {
	content: "Cose Mook Core Skills";
}

.charsheet span.sheet-is-hindrance-tab,
.charsheet span.sheet-is-edge-tab,
.charsheet span.sheet-is-armor-tab,
.charsheet span.sheet-is-melee-tab,
.charsheet span.sheet-is-ranged-tab,
.charsheet span.sheet-is-gear-tab,
.charsheet span.sheet-is-spellsd-tab,
.charsheet span.sheet-is-spellsn-tab,
.charsheet span.sheet-is-atts-tab,
.charsheet span.sheet-is-skills-tab,
.charsheet span.sheet-is-mweapons-tab,
.charsheet span.sheet-is-rweapons-tab,
.charsheet span.sheet-is-arcanum-tab,
.charsheet span.sheet-is-notes-tab,
.charsheet span.sheet-is-config,
.charsheet span.sheet-is-wcSkills,
.charsheet span.sheet-is-mSkills {
    text-align: center;
    display: inline-block;    
    width: 20%;
    height: 16px;
    font-size: 9px;
    /*background: #65763c;*/
    background: #93537c;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	margin-left: -20%;
}

.charsheet .sheet-HideHindrance:checked + span.sheet-is-hindrance-tab,
.charsheet .sheet-HideEdges:checked + span.sheet-is-edge-tab,
.charsheet .sheet-HideArmor:checked + span.sheet-is-armor-tab,
.charsheet .sheet-HideMelee:checked + span.sheet-is-melee-tab,
.charsheet .sheet-HideRanged:checked + span.sheet-is-ranged-tab,
.charsheet .sheet-HideGear:checked + span.sheet-is-gear-tab,
.charsheet .sheet-HideSpellsd:checked + span.sheet-is-spellsd-tab,
.charsheet .sheet-HideSpellsn:checked + span.sheet-is-spellsn-tab,
.charsheet .sheet-HideAtts:checked + span.sheet-is-atts-tab,
.charsheet .sheet-HideSkills:checked + span.sheet-is-skills-tab,
.charsheet .sheet-HideMWeapons:checked + span.sheet-is-mweapons-tab,
.charsheet .sheet-HideRWeapons:checked + span.sheet-is-rweapons-tab,
.charsheet .sheet-HideArcanum:checked + span.sheet-is-arcanum-tab,
.charsheet .sheet-HideNotes:checked + span.sheet-is-notes-tab,
.charsheet .sheet-HideConfig:checked + span.sheet-is-config,
.charsheet .sheet-HideWCSkills:checked + span.sheet-is-wcSkills,
.charsheet .sheet-HidemSkills:checked + span.sheet-is-mSkills {
	background: #65763c;     
    color: white;
	border-radius: 4px;
}

.charsheet .sheet-HideHindrance:checked + span.sheet-is-hindrance-tab::before {
	content: "Show Hindrances";
}

.charsheet .sheet-HideEdges:checked + span.sheet-is-edge-tab::before {
	content: "Show Edges";
}

.charsheet .sheet-HideArmor:checked + span.sheet-is-armor-tab::before {
	content: "Show Armor";
}

.charsheet .sheet-HideMelee:checked + span.sheet-is-melee-tab::before {
	content: "Show Melee Weapons";
}

.charsheet .sheet-HideRanged:checked + span.sheet-is-ranged-tab::before {
	content: "Show Ranged Weapons";
}

.charsheet .sheet-HideGear:checked + span.sheet-is-gear-tab::before {
	content: "Show Gear";
}

.charsheet .sheet-HideSpellsd:checked + span.sheet-is-spellsd-tab::before {
	content: "Show Damage-causing Spells";
}

.charsheet .sheet-HideSpellsn:checked + span.sheet-is-spellsn-tab::before {
	content: "Show Non-damage-causing Spells";
}

.charsheet .sheet-HideAtts:checked + span.sheet-is-atts-tab::before {
	content: "Show Attributes & Edges";
}

.charsheet .sheet-HideSkills:checked + span.sheet-is-skills-tab::before {
	content: "Show Skills & Armor";
}

.charsheet .sheet-HideMWeapons:checked + span.sheet-is-mweapons-tab::before {
	content: "Show Melee Weapons & Gear";
}

.charsheet .sheet-HideRWeapons:checked + span.sheet-is-rweapons-tab::before {
	content: "Show Ranged Weapons";
}

.charsheet .sheet-HideArcanum:checked + span.sheet-is-arcanum-tab::before {
	content: "Show Arcanum";
}

.charsheet .sheet-HideNotes:checked + span.sheet-is-notes-tab::before {
	content: "Show Notes";
}

.charsheet .sheet-HideConfig:checked + span.sheet-is-config::before {
	content: "Configuration";
}

.charsheet .sheet-HideWCSkills:checked + span.sheet-is-wcSkills::before {
	content: "Show Wild Card Core Skills";
}

.charsheet .sheet-HidemSkills:checked + span.sheet-is-mSkills::before {
	content: "Show Mook Core Skills";
}

/* End NPC Sections Hiding */


.sheet-skills label {
    display:inline-block;
    text-align:left;
    width:75px;
}

.charsheet label {
    display: inline-block;
    text-align: left;
    width:75px;
}

.sheet-smalltextarea{
    height:100px;
}

.sheet-largetextarea{
    height:50px;
    width:669px;
}

.skilllabel {
    display: inline-block;
    width:200px;
    text-align: left;
}

.charsheet input {
    display: inline-block;
    width: 165px;
    margin-bottom: 1px;
}

.sheet-rank {
    width: 165px;
    margin-bottom:1px;
}

.sheet-col strong.sheet-dee {
    font-size: 1.4em;
    font-weight: bold;
	padding-right: 4px;
}

.charsheet input.sheet-short {
	width: 3.5em;
}
/*
.charsheet {
	background-image: url("http://freeseamlesstextures.com/images/28-faded-parchment-background-sml.jpg");
}
*/
.charsheet table td, .charsheet table th {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
}

.sheet-DStatsTable {
}

.sheet-DStatsTable th {
    text-align: center;
}

.sheet-MacroButtons {

}

select.sheet-dtype {
    width: 60px;
    vertical-align: top;
}
select.sheet-atype {
    width: 85px;
    vertical-align: top;
}
.col1 {
    width: 600px;   
}

/*Show and hide things*/


.sheet-horror {
    display:none;
}
.sheet-cyberpunk {
    display:none;
}
.sheet-deadlands {
    display:none;
}
.sheet-hasPowers {
    display:inline;
    width:15px;
    margin-left:5px;
}
.sheet-hiddenElement{
    display:none;
}
.sheet-iscyberpunk:checked~*.sheet-cyberpunk{
    display:inline-block;
}
.sheet-hasPowers:checked~.sheet-powers {
    display:block;
}

button[type=roll].sheet-GM-button::before { 
    background-image: none;
    /*background-color: #f2f5d3;*/
    /*background-color: white;*/
    font-size: 13px;
    font-family: sans-serif;
    content: "gm";
}

button[type=roll].sheet-GM-button {
    background-image: none;
    background-color: #f2f5d3;
}

input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}