@font-face {
	font-family: 'Mops';
	src: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Warlock%20Polish%20Edition/Fonts/Mops.ttf');
}

/* Defaults  */
.sheet-darkmode .sheetform {
    background-color: transparent;
}

.ui-dialog .charsheet {
    padding: 0;
}

.character-sheet .row {
    display: flex;
    max-width: 100%;
    margin: 0;
}

.character-sheet .flex {
    display: flex;
}

.character-sheet .flex--space-between {
    justify-content: space-between;
}

.character-sheet .flex--align-center {
    align-items: center;
}

.character-sheet .row--col-no-padding div:first-child {
    padding-left: 0;
}
.character-sheet .row--col-no-padding div:last-child {
    padding-right: 0;
}

.character-sheet .row--textarea-box {
    border: 2px solid #231f20;
    background: #fff;
}

.sheet-darkmode .character-sheet .row--textarea-box {
    border: 2px solid #606060;
    background: #231f20;
}

.character-sheet .row.row--margin {
	margin: 0 -8px;
	max-width: calc(100% + 8px);
}

.col-12 {
    width: 100%;
    padding: 0 2px;
}

.col-10 {
    width: 83%;
    padding: 0 2px;
}

.col-9 {
    width: 75%;
    padding: 0 2px;
}

.col-8 {
    width: 66%;
    padding: 0 8px;
}

.col-7 {
    width: 58%;
    padding: 0 8px;
}

.col-6 {
    width: 50%;
    padding: 0 8px;
}

.col-5 {
    width: 41%;
    padding: 0 8px;
}

.col-4 {
    width: 33%;
    padding: 0 8px;
}

.col-3 {
    width: 25%;
    padding: 0 2px;
}

.col-2 {
    width: 17%;
    padding: 0 2px;
}

.center {
    text-align: center;
}

.character-sheet input,
.character-sheet select {
    font-family: 'Mops', cursive;
    text-transform: none;
    background: #fff;
    border: 1px solid transparent;
    border-bottom: 1px dotted #231f20;
    border-radius: 0;
    transition: .3s all ease;
    display: inline-block;
    font-size: 24px;
    color: #231f20;
    line-height: 36px;
    padding: 0 6px;
    box-sizing: border-box;
	position: relative;
    z-index: 0;
    border-radius: 4px;
}

.sheet-darkmode .character-sheet input,
.sheet-darkmode .character-sheet select {
    background: #231f20;
    border: 1px solid transparent;
    border-bottom: 1px dotted #fff;
    color: #fff;
}

.character-sheet input.transparent {
    background: transparent;
    line-height: 16px;
    height: auto;
    padding: 5px 5px 0;
}

.character-sheet input:focus {
    border: 1px solid #231f20;
    outline: none;
    z-index: 1;
}

.sheet-darkmode .character-sheet input:focus {
    border: 1px solid #fff;
}

.charactersheet {
    padding: 0;
}

.character-sheet label {
    font-weight: normal;
    display: inline-block;
	width: auto;
    padding: 2px 6px;
    color: #231f20;
}

.sheet-darkmode .character-sheet label {
    color: #fff;
}

.character-sheet textarea {
    background-attachment: local;
    background-image:
		linear-gradient(to right, white 12px, transparent 12px),
		linear-gradient(to left, white 12px, transparent 12px),
		repeating-linear-gradient(white, white 35px, #231f20 35px, #231f20 36px, white 36px);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 4px 12px;
    box-sizing: border-box;
    height: auto;
    resize: vertical;
    margin: 0;
    color: #231f20;
    border: none;
    border-radius: 0;
    transition: .3s border ease;
}

.character-sheet textarea:focus {
    border: none;
    outline: none;
}

.character-sheet .row--textarea-box textarea,
.character-sheet .row--textarea-box textarea:focus {
    border: 0;
}

.sheet-darkmode textarea {
    background-image:
    linear-gradient(to right, #231f20 12px, transparent 12px),
    linear-gradient(to left, #231f20 12px, transparent 12px),
    repeating-linear-gradient(#231f20, #231f20 35px, #606060 35px, #606060 36px, #231f20 36px);
    color: #fff;
}

.charsheet .character-sheet button[type="roll"],
.charsheet .character-sheet button[type="action"] {
	position: relative;
    z-index: 6;
    cursor: pointer;
    text-shadow: none;
    padding: 8px;
    border: 1px solid #231f20;
    border-radius: 4px;
	background: #fff;
	color: #231f20;
	font-size: 20px;
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
    transition: .3s all ease;

}

.charsheet .character-sheet button[type="roll"]:hover,
.charsheet .character-sheet button[type="action"]:hover {
    background-color: #231f20;
    color: #fff;
}

.charsheet .character-sheet button[type="roll"]::before,
.charsheet .character-sheet button[type="action"]::before {
    color: #231f20;
    font-size: 20px;
    font-family: "dicefontd20";
    content: "t";
    vertical-align: middle;
    margin-right: 4px;
}

.charsheet .character-sheet button[type="roll"]:hover::before,
.charsheet .character-sheet button[type="action"]:hover::before {
    color: #fff;
}

.sheet-darkmode .charsheet .character-sheet button[type="roll"],
.sheet-darkmode .charsheet .character-sheet button[type="action"] {
    background-color: #231f20;
    color: #fff;
    border-color: #6a6a6a;
}

.sheet-darkmode .charsheet .character-sheet button[type="roll"]::before,
.sheet-darkmode .charsheet .character-sheet button[type="action"]::before {
    color: #fff;
}

.sheet-darkmode .charsheet .character-sheet button[type="roll"]:hover,
.sheet-darkmode .charsheet .character-sheet button[type="action"]:hover {
    background-color: #fff;
    color: #231f20;
}

.sheet-darkmode .charsheet .character-sheet button[type="roll"]:hover::before,
.sheet-darkmode .charsheet .character-sheet button[type="action"]:hover::before {
    color: #231f20;
}

.charsheet .character-sheet input[type="checkbox"] {
    width: auto;
    appearance: none;
	-webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
    padding: 0;
	border: 2px solid #231f20;
}

.charsheet .character-sheet input[type="checkbox"]::after {
    content: "";
    position: absolute;
    transform: scale(0);
    background: #231f20;
    height: 16px;
	width: 16px;
	top: 2px;
	left: 2px;
    display: block;
    opacity: 0;
    transition: .3s all ease;
}

.sheet-darkmode .charsheet .character-sheet input[type="checkbox"] {
	border: 2px solid #606060;
}

.sheet-darkmode .charsheet .character-sheet input[type="checkbox"]:after {
    background: #606060;
}


.charsheet .character-sheet input[type="checkbox"]:checked::after {
    opacity: 1;
    transform: scale(1);
}

.charsheet .character-sheet input[type="number"] {
    width: 100%;
    padding-right: 0;
    text-align: center;
    font-size: 28px;
}

/* Custom modules */
.character-sheet {
    background: #fff;
    background-size: cover;
    box-sizing: border-box;
    padding: 16px 0px;
    color: #231f20;
    font-family: 'Mops', cursive;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    min-width: 1050px;
    max-width: 1150px;
    margin: auto;
}

.sheet-darkmode .character-sheet {
    background: #231f20;
    color: #fff;
}

.character-sheet .logo {
    max-height: 80px;
    margin: auto;
    margin-bottom: 12px;
}

.character-sheet .logo--dark-mode {
    display: none;
}

.sheet-darkmode .character-sheet .logo {
    display: none;
}

.sheet-darkmode .character-sheet .logo--dark-mode {
    display: block;
}

.character-details {
	padding-left: 210px;
    width: 100%;
}

.character-details__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 6px;
}

.character-details__label label {
    margin: 0;
    font-size: 28px;
}

.charsheet .character-details__label button[type="roll"],
.charsheet .character-details__label button[type="action"] {
    font-size: 28px;
    margin: 0;
}

.charsheet .character-details__label button[type="roll"]::before,
.charsheet .character-details__label button[type="action"]::before {
    font-size: 24px;
    vertical-align: bottom;
}

.charsheet button[type="roll"].dice-only,
.charsheet button[type="action"].dice-only {
    margin: 0;
    border: 0;
}

.charsheet button[type="roll"].dice-only::before,
.charsheet button[type="action"].dice-only::before {
    margin: 0;
}

.charsheet .character-details__label input[type="number"] {
    width: 52px;
	max-width: 52px;
	font-size: 28px;
	border: 1px solid #231f20;
	border-radius: 8px;
    margin-left: -8px;
	z-index: 1;
	position: relative;
}

.character-details__repeating {
    padding: 0 16px 6px;
}

.character-details__name-label {
    position: relative;
	margin-left: -210px;
	padding: 32px 45px;
}

.character-details__name-label label {
    display: block;
    font-size: 28px;
    margin: 0;
}

.sheet-darkmode .character-details__name-label label {
    color: #231f20;
}

.character-details__name-label input {
    border: 1px solid transparent;
    width: 350px;
	margin-top: 5px;
}

.character-details__name-label::before {
    content: "";
	position: absolute;
	height: 500px;
	width: 650px;
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Warlock%20Polish%20Edition/Images/name.png);
	background-position: bottom left;
	background-size: contain;
	background-repeat: no-repeat;
	bottom: -28px;
	left: 0;
	z-index: -1;
}

.character-details__avatar {
    position: relative;
	padding: 42px 132px 112px 82px;
    margin-left: -24px;
	width: 534px;
	min-width: 534px;
	height: 457px;
	box-sizing: border-box;
	z-index: -1;
	margin-top: -10px;
}

.character-details__avatar img {
    height: 306px;
	object-fit: cover;
}

.character-details__avatar label {
    position: absolute;
    bottom: 135px;
	left: 132px;
	font-size: 40px;
	transform: rotate(-6deg);
}

.sheet-darkmode .character-details__avatar label {
    color: #231f20;
}

.character-details__avatar::before {
    content: "";
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Warlock%20Polish%20Edition/Images/avatar.png);
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
}

.sheet-darkmode  .character-details__avatar::before {
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Warlock%20Polish%20Edition/Images/avatar-darkmode.png);
}

.books-img {
    width: 200px;
	position: absolute;
	right: 64px;
	top: 60px;
}

.title {
	padding: 80px 40px 55px;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Warlock%20Polish%20Edition/Images/ribbon.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.title span {
    display: block;
    transform: rotate(-6deg);
}

.title__subtitle {
    font-size: 20px;
}

.character-details__num-label {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
}

.character-details__num-label label {
	font-size: 36px;
	margin-right: 12px;
	line-height: 36px;
    margin-bottom: 0;
}

.charsheet .character-details__num-label input[type="number"] {
    width: 70px;
    border: 1px dotted #231f20;
    border-radius: 8px;
}

.charsheet .character-details__num-label input[type="number"]:first-of-type {
    padding-right: 8px;
    margin-right: -8px;
}

.charsheet .character-details__num-label input[type="number"]:last-of-type {
    position: relative;
    z-index: 2;
}

.sheet-darkmode .charsheet .character-details__num-label input[type="number"] {
    border: 1px dotted #fff;
}

.character-traits__row .col-4 .character-traits__label {
    margin: 0 -8px;
    margin-bottom: 4px;
}

.character-traits__label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.character-traits__label label {
    font-size: 22px;
    margin-bottom: 0;
    white-space: nowrap;
}

.character-traits__label input {
    width: 100%;
    line-height: 28px;
    font-size: 22px;
}

.attributes__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.attributes__label-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.charsheet .attributes__label button[type="action"] {
    margin: 0 6px 0;
	white-space: nowrap;
	padding: 4px;
	font-size: 18px;
    min-width: 136px;
	text-align: left;
}

.charsheet .attributes__label input[type="number"] {
    width: 52px;
    font-size: 22px;
	line-height: 26px;
}

.character-sheet .attributes__label-radio label {
    display: none;
	cursor: pointer;
	font-size: 26px;
	margin: auto;
	padding: 2px;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	border: 1px solid #231f20;
	align-items: center;
	justify-content: center;
	font-family: cursive;
    -webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sheet-darkmode .character-sheet .attributes__label-radio label {
    border-color: #fff;
}

.charsheet .attributes__label-radio input {
    display: none;
}

.charsheet .attributes__label-radio input:checked + label {
    display: flex;
	z-index: 1;
	position: relative;
}

.charsheet .attributes__label-radio input[value="0"] + label {
    color: grey;
}

.charsheet .attributes__label-radio input[value="/"] + label {
    color: maroon;
}

.charsheet .attributes__label-radio input[value="x"] + label {
    color: darkgreen;
}

.charsheet .weapons-used-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -24px 0;
}

.weapons-used-box .title {
    min-width: 51%;
    font-size: 29px;
    padding: 70px 40px 55px;
}

.charsheet input[type="number"].upgrade-points__input {
    width: 52px;
	height: 52px;
	border-radius: 100%;
	border: 1px solid #231f20;
	padding-left: 14px;
	font-size: 34px;
	padding-bottom: 4px;
}

.sheet-darkmode input[type="number"].upgrade-points__input {
    border-color: #fff;
}

.charsheet .upgrade-points__label {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
}

.sword-textarea {
    position: relative;
}

.charsheet .sword-textarea textarea {
    padding-right: 58px;
}

.sword-textarea img {
    position: absolute;
	right: 6px;
	top: -30px;
	object-fit: cover;
	bottom: 0;
	max-height: 220px;
}

.notes-background {
    position: relative;
    padding: 90px 0;
	margin: 40px 0;
    text-align: center;
}

.notes-background::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Warlock%20Polish%20Edition/Images/axe.png);
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
    z-index: 1;
}

.notes-background textarea {
    width: 92%;
	margin: auto;
    position: relative;
    z-index: 2;
}

/* Chrome, Safari, Edge, Opera */
.character-sheet .attributes-container__box input::-webkit-outer-spin-button,
.character-sheet .attributes-container__box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.character-sheet .attributes-container__box input[type=number] {
  -moz-appearance: textfield;
}



/* Roll Template */
.sheet-rolltemplate-warlock {
    padding-top: 64px;
}
.sheet-rolltemplate-warlock .sheet-template-wrap {
    background-color: #fff;
    border: 2px solid #231f20;
    font-family: 'Mops', cursive;
	color: #231f20;
    position: relative;
	padding: 32px 5px 5px;
	margin-top: 38px;
	max-width: 200px;
	margin: 0 auto 15px;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-warlock .sheet-template-wrap {
    background: #231f20;
    color: #fff;
    border: 2px solid #606060;
}

.sheet-rolltemplate-warlock .sheet-template-header {
    font-size: 24px;
	text-align: center;
    padding: 55px 0 34px;
	background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Warlock%20Polish%20Edition/Images/ribbon.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
    position: absolute;
    top: -66px;
	left: -62px;
	right: -59px;
}

.sheet-rolltemplate-warlock .sheet-template-header span {
    display: block;
    transform: rotate(-6deg);
}

.sheet-rolltemplate-warlock .sheet-template-header a {
    color: #231f20;
}

.sheet-rolltemplate-warlock .sheet-template-roll-results-title {
    font-size: 24px;
	text-align: center;
	padding: 4px 0px;
    margin-bottom: 8px;
}

.sheet-rolltemplate-warlock .sheet-template-roll-results {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 28px;
    padding-left: 10px;
    margin-bottom: 6px;
}

.sheet-rolltemplate-warlock .sheet-template-roll-results span.inlinerollresult {
    width: 100%;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    line-height: 36px;
    background: transparent;
    font-size: 26px;
    color: #231f20;
    padding-right: 5px;
	width: auto;
}

.sheet-rolltemplate-warlock .sheet-template-d20 {
	background-image: url(https://imgsrv.roll20.net/?src=https%3A//raw.githubusercontent.com/Velczer/CharacterSheets/master/Warlock/Images/d20.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 42px 45px;
	margin: auto;
}

.sheet-rolltemplate-warlock .sheet-template-d20 span.inlinerollresult {
	font-size: 32px;
	padding-right: 0;
	font-weight: normal;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-warlock .sheet-template-d20 span.inlinerollresult {
    color: #fff;
}

.sheet-rolltemplate-darkmode.sheet-rolltemplate-warlock .sheet-template-d20 {
    filter: invert(.3);
}

.sheet-rolltemplate-warlock .sheet-blue {
    color: #4471c4;
}

.sheet-rolltemplate-warlock .sheet-red {
    color: #e83838;
}

.sheet-rolltemplate-warlock .sheet-green {
    color: green;
}

/* Repeating sections */

.repcontrol {
    display: flex;
    margin-top: 3px;
}

.repcontrol .repcontrol_edit {
    margin-left: auto;
    order: 1;
}

.repcontrol button {
    background: #fff;
    color: #0075b9;
    border-radius: 0;
    border-color: #231f20;
    transition: all 0.2s;
    font-family: pictos;
    font-size: 0;
    font-weight: bold;
    line-height: 8px;
    padding: 6px 4px 1px;
}

.repcontrol button:hover {
    color: green;
    border-color: green;
    background: #ddd;
}

.repcontrol button.repcontrol_edit::after {
    content: "(";
}

.repcontrol button.repcontrol_add::after {
    content: "&";
}

.repcontrol button.repcontrol_edit::after,
.repcontrol button.repcontrol_add::after {
    font-size: 20px;
}

.repcontainer.editmode+.repcontrol button.repcontrol_edit::after {
    content: ")";
}

.itemcontrol {
    z-index: 20;
}

.repitem {
    display: flex;
    align-items: flex-start;
}

.repitem input,
.repitem select {
    width: 100%;
    margin-bottom: 6px;
}

.repitem input[type="number"] {
    max-width: 52px;
	width: 52px;
	font-size: 28px;
	border: 1px solid #231f20;
	border-radius: 8px;
	margin-left: -8px;
	z-index: 1;
	position: relative;
}