include ./container
include ./oracle-table
include ./standalone-tables

mixin moveBuilder(opts)
  +container(opts)
    each row in opts.content
      if row.list
        ul
          each item in row.list
            li!=item
      else if row.table
        +oracleTable(oracles[opts.system][opts.title], opts.system)
      else if row.ask_the_oracle
        +askTheOracle
      else if row.delve_the_depths
        +delveTheDepths
      else if row.h6
        h6!=row.h6
      else
        p!=row.p

