.charsheet .sheet-maindiv{
    width: 840px;
    background-image: url("http://www.geeksville.us/roll20/logoless-background.jpg");
    padding: 10px;
}

/*Button appearance*/
.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
	display: block;
    background: #000;
    font-family: "Contrail One";
    color: white;
    /*text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;*/
    box-shadow:none;
    /*float:left!important;*/
    /*margin-bottom:0px;*/
    /*font-size:0.9em;
    height:2.2em;*/
}

button[type=roll].sheet-d6::before { 
    font-family: "dicefontd6";
    content: "f";
}

/*End Button Apperance*/

.sheet-block {
	background-color: white;
	border: 2px solid black;
    margin: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.charsheet input {
	background-color: transparent;
	color: black;
    border: none;
	border-bottom: 1px solid gray;
}

.charsheet input.sheet-skills {
    text-align: right;
}

.charsheet textarea {
    max-width: 98%; 
    height: 100px;
    font-size: 13px;
    line-height: 14px;
    background-image: -moz-linear-gradient(top , transparent, transparent 14px,gray 0px); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 14px,gray 0px);
    
    -webkit-background-size:  100% 15px;
    background-size: 100% 15px;
    border: none;
}

.charsheet span.sheet-health {
    font-family: "Pictos";
    font-size: 80px;
    margin-left: -10px;
    color: maroon;
    z-index: -1;
}

.charsheet span.sheet-label {
    font-family: "Contrail One";
    font-size: 125%;
}

.charsheet span.sheet-edge {
    font-family: "Pictos Custom";
    font-size: 75px;
    margin-left: -10px;
    color: black;
    z-index: -1;
}

.charsheet input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
.charsheet input[type=number]::-webkit-outer-spin-button,
.charsheet input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -webkit-appearance: textfield;
}

.charsheet .sheet-showskills,
.charsheet .sheet-showtraits {
	display: block;
}

.sheet-hideskills:checked + .sheet-showskills,
.sheet-hidetraits:checked + .sheet-showtraits {
	display: none;
}

.charsheet input.sheet-hideskills {
	width: 180px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-top: auto;
    opacity: 0;
    z-index: 9999;
}

.charsheet span.sheet-is-hideskills {
	width: 180px;
    height: 20px;
    margin-top: -20px;
    text-align: center;
    color: white;
    background-color: black;
    display: block;
    border-radius: 4px;
    font-family: "Contrail One";
    font-size: 125%;
}

.charsheet input.sheet-hidetraits {
	width: 180px;
    height: 20px;
    cursor: pointer;
    margin-left: 190px;
    margin-top: -74px;
    opacity: 0;
    z-index: 9999;
}

.charsheet span.sheet-is-hidetraits {
	width: 160;
    height: 20px;
    margin-top: -56px;
    margin-left: 190px;
    color: white;
    background-color: black;
    display: block;
    border-radius: 4px;
    font-family: "Contrail One";
    font-size: 125%;
    text-align: center;
}

.charsheet .sheet-hideskills:checked + span.sheet-is-hideskills::before,
.charsheet .sheet-hidetraits:checked + span.sheet-is-hidetraits::before {
	content: "Show ";
}

.charsheet .sheet-hideskills:not(:checked) + span.sheet-is-hideskills::before,
.charsheet .sheet-hidetraits:not(:checked) + span.sheet-is-hidetraits::before {
	content: "Hide ";
}

.charsheet input.sheet-strongtrait {
	width: 26px;
    height: 18px;
    cursor: pointer;
    /*margin-left: 190px;
    margin-top: -74px;*/
    opacity: 0;
    z-index: 9999;
}

.charsheet span.sheet-not-strong,
.charsheet span.sheet-is-strong {
	display: none;
	margin-left: -26px;
}

.sheet-strongtrait:checked ~ span.sheet-is-strong{
	display: inline-block;
}

.sheet-strongtrait:not(:checked) ~ span.sheet-not-strong{
	display: inline-block;
}