@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(prefixes.css);
/* Metal ------------------------- */
.metal {
  position: relative;
  outline: none;
  font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: #333333;
  text-shadow: rgba(102, 102, 102, 0.5) 0 -1px 0, rgba(255, 255, 255, 0.6) 0 2px 1px;
  background-color: #e6e6e6;
  box-shadow: inset #262626 0 0px 0px 1px, inset rgba(38, 38, 38, 0.8) 0 -1px 5px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 0px 2px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 1px, rgba(0, 0, 0, 0.15) 0 -5px 6px -2px, rgba(255, 255, 255, 0.5) 0 5px 6px 4px;
  /* outer HL */
  transition: color 0.2s;
}

/* Radial ------------------------- */
.radial.metal {
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 80px;
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%);
}

.metal.radial:before,
.metal.radial:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  /* fake conical gradients */
  background-image: -webkit-radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.metal.radial:before {
  transform: rotate(65deg);
}

.metal.radial:after {
  transform: rotate(-65deg);
}

/* Linear ------------------------- */
.metal.linear {
  /* width: 80px; */
  padding: 0 1rem;
  font-size: 1.1em;
  height: 4rem;
  border-radius: 0.5em;
  background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, #c7c7c7 0%, #e6e6e6 47%, #c7c7c7 53%, #b3b3b3 100%);
}
.metal.linear.small {
  font-size: 1.1rem;
  height: 2.5rem;
}

/* Oval ------------------------- */
.metal.linear.oval {
  margin-top: 100px;
  width: 70px;
  height: 60px;
  line-height: 60px !important;
  border-radius: 50%;
  font: italic bold 3em/50px Georgia, "Times New Roman", Times, serif;
}

/* active ------------------------- */
.metal:active {
  color: #0066cc;
  text-shadow: rgba(0, 51, 102, 0.3) 0 -1px 0, #b3d9ff 0 2px 1px, #99ddff 0 0 5px, rgba(0, 128, 255, 0.6) 0 0 20px;
  box-shadow: inset #004d99 0 0px 0px 4px, inset rgba(0, 38, 77, 0.4) 0 -1px 5px 4px, inset rgba(0, 51, 102, 0.25) 0 -1px 0px 7px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px, rgba(128, 191, 255, 0.8) 0 0px 3px 2px, rgba(51, 102, 153, 0.25) 0 -5px 6px 4px, #e8f2fc 0 5px 6px 4px;
  /* outer HL */
}

.charsheet main#megaverse .r-tabbed {
  overflow-x: hidden;
  /* so we could easily hide the radio inputs */
  margin: 1rem 0;
}
.charsheet main#megaverse .r-tabbed > [type=radio] {
  /* hiding the inputs */
  display: none;
}
.charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(1):checked ~ .r-tabs .r-tab:nth-of-type(1) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(2):checked ~ .r-tabs .r-tab:nth-of-type(2) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(3):checked ~ .r-tabs .r-tab:nth-of-type(3) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(4):checked ~ .r-tabs .r-tab:nth-of-type(4) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(5):checked ~ .r-tabs .r-tab:nth-of-type(5) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(6):checked ~ .r-tabs .r-tab:nth-of-type(6) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(7):checked ~ .r-tabs .r-tab:nth-of-type(7) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(8):checked ~ .r-tabs .r-tab:nth-of-type(8) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(9):checked ~ .r-tabs .r-tab:nth-of-type(9) > label, .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(10):checked ~ .r-tabs .r-tab:nth-of-type(10) > label {
  border-bottom-color: #fff;
  border-top-color: #b721ff;
  background: #fff;
  color: #222;
}
.charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(1):checked ~ .r-tab-content:nth-of-type(1), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(2):checked ~ .r-tab-content:nth-of-type(2), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(3):checked ~ .r-tab-content:nth-of-type(3), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(4):checked ~ .r-tab-content:nth-of-type(4), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(5):checked ~ .r-tab-content:nth-of-type(5), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(6):checked ~ .r-tab-content:nth-of-type(6), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(7):checked ~ .r-tab-content:nth-of-type(7), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(8):checked ~ .r-tab-content:nth-of-type(8), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(9):checked ~ .r-tab-content:nth-of-type(9), .charsheet main#megaverse .r-tabbed > [type=radio]:nth-of-type(10):checked ~ .r-tab-content:nth-of-type(10) {
  display: block;
}
.charsheet main#megaverse .r-tabbed ul.r-tabs {
  margin: 0;
  display: flex;
  align-items: stretch;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.charsheet main#megaverse .r-tabbed ul.r-tabs .r-tab > label {
  display: block;
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background: #eee;
  color: #666;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.charsheet main#megaverse .r-tabbed ul.r-tabs .r-tab:hover > label {
  border-top-color: #333;
  color: #333;
}
.charsheet main#megaverse .r-tabbed .r-tab-content {
  display: none;
}

.charsheet main#megaverse:not(.debug) .bonuses [data-groupname=repeating_bonusselections] button.repcontrol_del,
.charsheet main#megaverse:not(.debug) .bonuses [data-groupname=repeating_bonusselections] button.repcontrol_add {
  display: none !important;
}
.charsheet main#megaverse:not(.debug) .bonuses .bonus-sources,
.charsheet main#megaverse:not(.debug) .bonuses .selected-ids,
.charsheet main#megaverse:not(.debug) .bonuses [name=attr_bonus_ids] {
  display: none;
}
.charsheet main#megaverse .readonly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  overflow: scroll;
}
.charsheet main#megaverse details {
  display: revert;
  margin-bottom: 1rem;
}
.charsheet main#megaverse details summary {
  display: revert;
  cursor: pointer;
}
.charsheet main#megaverse details summary > h3 {
  display: inline-block;
}
.charsheet main#megaverse details .details-body {
  display: none;
}
.charsheet main#megaverse details[open] .details-body {
  display: block;
}
.charsheet main#megaverse details.info {
  display: block;
  margin-bottom: 0;
}
.charsheet main#megaverse details.info > summary {
  display: block;
}
.charsheet main#megaverse .full {
  width: 100% !important;
}
.charsheet main#megaverse input,
.charsheet main#megaverse textarea,
.charsheet main#megaverse select,
.charsheet main#megaverse .uneditable-input {
  width: auto;
  margin-bottom: 0;
}
.charsheet main#megaverse input[type=number] {
  width: auto;
}
.charsheet main#megaverse label {
  margin-bottom: 0;
  font-size: 1.3rem;
}
.charsheet main#megaverse .side-by-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.charsheet main#megaverse .center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charsheet main#megaverse .twospan2 {
  grid-column: 2/span 2;
}
.charsheet main#megaverse .movement-container span:not(.not-readonly) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  overflow: scroll;
}
.charsheet main#megaverse .macro-help label {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 7fr !important;
}
.charsheet main#megaverse .grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr min-content;
}
.charsheet main#megaverse .grid-container .section-one label {
  display: grid;
  grid-template-columns: 16rem 1fr;
  width: 100%;
  margin: 0.5rem 0;
}
.charsheet main#megaverse .spell-details label span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charsheet main#megaverse .bonus-thing-heading {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2.5rem 1fr min-content;
}
.charsheet main#megaverse .bonus-thing-heading label {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 1fr;
}
.charsheet main#megaverse .bonus-thing-heading label input[name=attr_name] {
  width: auto;
}
.charsheet main#megaverse .bonus-thing-heading label input[name=attr_level] {
  width: 5rem;
}
.charsheet main#megaverse .bonus-ps-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.charsheet main#megaverse .bonus-ps-container label {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  grid-template-columns: 6.5rem 6rem 1fr;
}
.charsheet main#megaverse .bonus-ps-container label.select select {
  grid-column: 2/span 2;
}
.charsheet main#megaverse .bonus-ps-container label input {
  width: 6rem;
}
.charsheet main#megaverse .bonus-ps-container label span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charsheet main#megaverse .bonus-ps-container label span[name^=attr_] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  overflow: scroll;
}
.charsheet main#megaverse .bonus-type-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.charsheet main#megaverse .bonus-type-container.attributes > label {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 5rem 3rem 4rem 4rem;
}
.charsheet main#megaverse .bonus-type-container.attributes > label input[type=number],
.charsheet main#megaverse .bonus-type-container.attributes > label input[type=text] {
  width: auto;
}
.charsheet main#megaverse .bonus-type-container input {
  width: 5rem;
}
.charsheet main#megaverse .bonus-type-container label {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 5rem 4rem;
  width: 100%;
}
.charsheet main#megaverse .bonus-type-container label span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charsheet main#megaverse .bonus-type-container label span[name^=attr_] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  overflow: scroll;
}
.charsheet main#megaverse .bonus-type-container label.select {
  grid-template-columns: max-content 1fr 4rem;
  align-items: center;
}
.charsheet main#megaverse .bonus-type-container label.description {
  display: block;
}
.charsheet main#megaverse .bonus-type-container label.abs {
  align-items: center;
}
.charsheet main#megaverse .bonus-type-container label.abs input[type=checkbox] {
  width: 1rem;
  margin: 0 0.2rem 0 0;
}
.charsheet main#megaverse .profile-management {
  display: block;
  margin: 0.5rem 0;
}
.charsheet main#megaverse .profile-management .bonus-names {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.charsheet main#megaverse .profiles .bonus-type-container.attributes > label {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 4rem 4rem 4rem 4rem;
}
.charsheet main#megaverse .profiles .bonus-type-container.attributes > label input[type=number],
.charsheet main#megaverse .profiles .bonus-type-container.attributes > label input[type=text] {
  width: auto;
}
.charsheet main#megaverse .profiles .bonus-type-container label.abs {
  display: none;
}
.charsheet main#megaverse .powersabilities .abilities-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2.5rem 1fr 5rem 8rem 10rem 8rem 4rem 8rem 4rem 4rem;
}
.charsheet main#megaverse .powersabilities .abilities-list span:not(.not-readonly) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  overflow: scroll;
}
.charsheet main#megaverse .magic .spells-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2.5rem 1fr 4rem 5rem 8rem 8rem 4rem 8rem 4rem 4rem 5rem 4rem;
}
.charsheet main#megaverse .magic .spells-list span:not(.not-readonly) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  overflow: scroll;
}
.charsheet main#megaverse .psionics .psionics-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2.5rem 1fr 5rem 8rem 8rem 4rem 8rem 4rem 4rem 5rem 4rem;
}
.charsheet main#megaverse .psionics .psionics-list span:not(.not-readonly) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  overflow: scroll;
}

img.logo {
  max-height: 30px;
}

.section-one label span,
.section-three label span {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.ss-2a {
  border: 1px solid #ccc;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 5rem 5rem 5rem;
}
.ss-2a span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 0.1rem 0.2rem;
  border-radius: 0.1rem;
  font-weight: normal;
  padding-left: 0.5rem;
  overflow: scroll;
}

.ss-2b {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: max-content 5rem max-content 4rem;
  gap: 0.5rem;
  align-items: center;
}

.ss-2c {
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.ss-2c label {
  display: grid;
  grid-template-columns: 8rem 10rem 4rem;
  gap: 0.5rem;
}

.section-three label {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr max-content max-content;
  /* grid-template-rows: repeat(7, max-content); */
}

.charsheet main#megaverse .section-three input[type=number] {
  width: 8rem;
}

.movement-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 8rem 8rem 8rem 8rem max-content;
}

.repeating-movement .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 8rem 8rem 8rem 8rem max-content;
}

.charsheet .skills .repcontainer[data-groupname=repeating_skills] .repitem .values {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2.5rem 1fr min-content 5rem 5rem 5rem 5rem 4rem 4rem;
}

.charsheet .skills .repcontainer[data-groupname=repeating_skills] .repitem h5,
.charsheet .magic .repcontainer[data-groupname=repeating_magic] .repitem h5 {
  display: flex;
  align-items: flex-end;
}

.charsheet .skills .repcontainer[data-groupname=repeating_skills] .repitem details textarea {
  width: 100%;
}

.charsheet .wp-container .repcontainer[data-groupname=repeating_wp] .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 5rem 5rem 5rem 5rem 5rem 5rem 5rem 24rem;
}

.charsheet .wp-container .repcontainer[data-groupname=repeating_wpmodern] .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 5rem 5rem 5rem 29rem;
}

.charsheet .repeating-movement .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .magic .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .psionics .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .skills .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .powersabilities .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .wp-container .repcontainer .repitem:not(:first-of-type) h5 {
  display: none;
}

.charsheet .wp-container h3:last-of-type {
  margin-top: 2rem;
}

/* .charsheet .bonuses-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content max-content;
} */
.charsheet .bonuses-container .repcontainer[data-groupname=repeating_bonusselections] {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

.charsheet .bonuses-container .repcontainer[data-groupname=repeating_bonusselections] label span {
  cursor: pointer;
}

.click-expand {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.charsheet .magic .repcontainer[data-groupname=repeating_magic] .repitem .spell-details {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.spell-details label {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 100%;
}

.charsheet .spells-list input[name=attr_school] {
  max-width: 10rem;
}

.charsheet .powersabilities .repcontainer[data-groupname=repeating_powersabilities] .repitem .ability-details,
.charsheet .psionics .repcontainer[data-groupname=repeating_psionics] .repitem .psionic-details {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.ability-details label,
.psionic-details label {
  display: grid;
  grid-template-columns: 1fr 12rem;
  width: 100%;
}

.charsheet .tall {
  height: 300px;
}

/*****************/
/* Metal Buttons */
/*****************/
.dialog.characterviewer {
  background-color: #e6e6e6;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-size: 5px;
}

/* globals */
html {
  font: 62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  background-color: #e6e6e6;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-size: 5px;
}

button {
  border: none;
  /* display: block; */
}

a {
  text-decoration: none;
  display: block;
}