.sheet-controls{
  display: flex;
  padding: 10px 10px 20px 10px;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #cdcdcd;
}
.sheet-controls div{
  margin-right: 10px;
}
.sheet-controls label{
  font-size: inherit;
}
.sheet-controls input{
  width: 60px;
}
.sheet-statsentry {
      width: 150px;
      height: 40px;
      position: relative;

}
.sheet-statsentry:focus {
      position: relative;
      width: 300px;
      height: 300px;
      z-index: 100;
}
.sheet-current_stats{
  display: flex;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.sheet-current_stats div{
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 2px;
  text-align: center;
  background-color: #eeeeee;
  width: 80px;
  max-width: 80px;
}
.sheet-current_stats div *{
  text-align: center;
}
.sheet-current_stats input{
  border: none;
  width: 60px;
  font-size: 120%;
  background-color: transparent;
  cursor: default;
}
.sheet-powers{
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  border-radius: 8px;
  margin: 2px;
  flex-wrap: wrap;
  justify-content: center;
}

.sheet-powers textarea{
  width: 100%;
  box-sizing: border-box;
}
.repcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.repcontainer select{
  width: 100px;
  max-width: 100px;
}
.repitem{
  padding: 5px;
  background-color: #eeeeee;
  margin: 3px;
}
.repitem label {
    font-size: 90%;
    margin-bottom: 2px;
}
