//- ## Search Bar

//- ## List of Moves
//- A full list of all moves that let you link off to the preview page. (Include roll option for veterans)

//- ## Move Details
//- Scroll List of moves with collapsable groups
//- Preview of Move
//- Button to close preview and go to previous page
//- Options at bottom of page for rolling etc
//- Buttons to switch between moves in group
