.sheet-d4 {
 content:url("https://github.com/zimul8r/Marvel-Heroic-Roleplaying-Game/blob/dd390c1c174b82124f3a10afe177bccda7c97429/d4Y.png?raw=true");
}

.sheet-d6 {
 content:url("https://github.com/zimul8r/Marvel-Heroic-Roleplaying-Game/blob/dd390c1c174b82124f3a10afe177bccda7c97429/d6Y.png?raw=true");
}

.sheet-d8 {
 content:url("https://github.com/zimul8r/Marvel-Heroic-Roleplaying-Game/blob/dd390c1c174b82124f3a10afe177bccda7c97429/d8Y.png?raw=true");
}

.sheet-d10 {
 content:url("https://github.com/zimul8r/Marvel-Heroic-Roleplaying-Game/blob/92731afff2b6bee5e517e9a678cda64b53b7b003/d10Y.png?raw=true");
}

.sheet-d12 {
 content:url("https://github.com/zimul8r/Marvel-Heroic-Roleplaying-Game/blob/49a848e116f5aa18ba6a5d4246ae58cf76c6184f/d12Y.png?raw=true");
}

button[type=roll].sheet-blank-roll-button::before { 
 content: '';
 margin: 1px;
}

button[type=roll].sheet-blank-roll-button { 
 padding: 0px 8px 0px 0px; 
 margin: 1px;
 height: 30px;
}

input[type=checkbox] { 
 width: 15px; 
 height: 15px; 
 margin: 1px;
 background-color: green;
 vertical-align: 0px;
}

input[type=text].sheet-input-text-wide { 
 width: 300px; 
 height: 32px; 
 margin: 1px;
 display:inline-block;
 vertical-align: middle;
}

textarea { 
 height: 34px;
 width: 100%;
 margin: 1px;
 resize: vertical;
 vertical-align: middle;
}

select {
 width: 75px;
 margin: 1px;
}

select.sheet-select-wide {
 width: 100px;
 margin: 1px;
}

hr.myhrline {
 margin-top: 0em;
 margin-bottom: 0em;
}

table {
 margin: 1px;
}

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
    width: 0px;
    height: 0px;
    margin: 0px;
}

/*Configure the tab buttons*/
.sheet-build,
.sheet-dice-only, 
.sheet-classic, 
.sheet-npc {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="build"] ~ div.sheet-build,
.sheet-tabstoggle[value="dice-only"] ~ div.sheet-dice-only,
.sheet-tabstoggle[value="classic"] ~ div.sheet-classic,
.sheet-tabstoggle[value="npc"] ~ div.sheet-npc {
	display: block;
}

input.sheet-repcontrol-toggle:not(:checked) ~ .repcontrol {
    display: none;
}

input.sheet-repcontrol-toggle:checked ~ .repcontrol {
    display: none;
}

.trait-item1  { grid-area: affi; }
.trait-item2  { grid-area: solo; }
.trait-item3  { grid-area: budy; }
.trait-item4  { grid-area: team; }
.trait-item5  { grid-area: dist; }
.trait-item6  { grid-area: delt; }
.trait-item7  { grid-area: ddie; }
.trait-item8  { grid-area: pset; }
.trait-item9  { grid-area: psnm; }
.trait-item10 { grid-area: pspw; }
.trait-item11 { grid-area: spec; }
.trait-item12 { grid-area: selt; }
.trait-item13 { grid-area: sdie; }
.trait-item13a { grid-area: sbut; }
.trait-item14 { grid-area: mile; }
.trait-item15 { grid-area: m1nm; }
.trait-item16 { grid-area: m1el; }
.trait-item17 { grid-area: m2nm; }
.trait-item18 { grid-area: m2el; }

.grid-affiliation {
  display: grid;
  width: 100%;
  grid-template-areas:
	'affi solo solo budy budy team team'
	' . solo solo budy budy team team';
  grid-template-rows: 24px 12px;
  grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
  grid-gap: 0%;
  background-color: white;
  padding: 0%;
}

.grid-distinction {
  display: grid;
  width: 100%;
  grid-template-areas:
	'dist delt delt delt ddie ddie ddie'
	'. delt delt delt ddie ddie ddie';
  grid-template-rows: 24px 34px;
  grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
  grid-gap: 0%;
  background-color: white;
  padding: 0%;
}

.grid-powerset {
  display: grid;
  width: 100%;
  grid-template-areas:
	'pset psnm psnm psnm psnm psnm psnm'
	'. pspw pspw pspw pspw pspw pspw';
  grid-template-rows: repeat(auto) minmax(3px);
  grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
  grid-gap: 0%;
  background-color: white;
  padding: 0%;
}

.grid-specialty {
  display: grid;
  width: 100%;
  grid-template-areas:
	'spec selt selt selt sdie sdie sdie'
	'. selt selt selt sdie sdie sdie'
	'. sbut sbut sbut sbut sbut sbut';
  grid-template-rows: repeat(auto) minmax(3px);
  grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
  grid-gap: 0%;
  background-color: white;
  padding: 0%;
}

.grid-milestone {
  display: grid;
  width: 100%;
  grid-template-areas:
	'mile m1nm m1nm m1nm m1nm m1nm m1nm'
	'. m1el m1el m1el m1el m1el m1el';
  grid-template-rows: repeat(auto) minmax(3px);
  grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
  grid-gap: 0%;
  background-color: white;
  padding: 0%;
}

.repcontainer[data-groupname=repeating_powers1] .repitem {
  display: inline-block;
  width: calc(50% - 20px);
}

.repcontainer[data-groupname=repeating_powers1] .repitem:nth-child(even) {
  float: right;
}

.repcontainer[data-groupname=repeating_powers2] .repitem {
  display: inline-block;
  width: calc(50% - 20px);
}

.repcontainer[data-groupname=repeating_powers2] .repitem:nth-child(even) {
  float: right;
}

.repcontainer[data-groupname=repeating_powers3] .repitem {
  display: inline-block;
  width: calc(50% - 20px);
}

.repcontainer[data-groupname=repeating_powers3] .repitem:nth-child(even) {
  float: right;
}
