article#character.character.navigable-section.navigable-section--character.character-type.character-type--character.character-type--mon
  include sections/_header.pug
  include sections/_attributes.pug
  include sections/_skills.pug
  include sections/_playbook.pug
  include sections/_compatibility.pug
  include sections/_meter.pug
  include sections/_modifiers.pug
  include sections/_advancement.pug