article#gamescreen.gamescreen.navigable-section.navigable-section--gamescreen.character-type.character-type--gamescreen
  include sections/_header.pug
  include sections/_lifeslice.pug
  include sections/_clock.pug