article#settings.settings.navigable-section.navigable-section--settings.active
  h1(data-i18n='settings')
  +select-label({
    inputObj:{name:'sheet type',class:'underlined'},
    spanObj:{'data-i18n':'sheet type',role:'heading','aria-level':4}
  })
    +option({value:'character','data-i18n':'character',selected:'',trigger:{triggeredFuncs:['characterDisplay']}})
    +option({value:'mon','data-i18n':'mon'})
    +option({value:'gamescreen','data-i18n':'game screen'})
  +input-label({
    inputObj:{name:'is weird',type:'checkbox',value:1,trigger:{triggeredFuncs:['sectionDisplay']}},
    spanObj:{'data-i18n':'is weird',role:'heading','aria-level':4}
  })
  +input-label({
    inputObj:{name:'use initiative',type:'checkbox',value:1,trigger:{triggeredFuncs:['sectionDisplay']}},
    spanObj:{'data-i18n':'use initiative',role:'heading','aria-level':4}
  })
  +input-label({
    inputObj:{name:'has arc',type:'checkbox',value:1,trigger:{triggeredFuncs:['sectionDisplay']}},
    spanObj:{'data-i18n':'has arc/flaw',role:'heading','aria-level':4}
  })
  +input-label({
    inputObj:{name:'use roll modifiers',type:'checkbox',value:1,checked:'',trigger:{triggeredFuncs:['modifierDisplay']}},
    spanObj:{'data-i18n':'use roll modifiers',role:'heading','aria-level':4}
  })
  +input-label({
    inputObj:{name:'use physical dice',type:'checkbox',value:1},
    spanObj:{'data-i18n':'use physical dice',role:'heading','aria-level':4}
  })
  +input-label({
    inputObj:{name:'skill basic move',type:'checkbox',value:1,checked:''},
    spanObj:{'data-i18n':'skills use moves',role:'heading','aria-level':4}
  })
  +select-label({
    inputObj:{name:'whisper',class:'underlined'},
    spanObj:{'data-i18n':'whisper to gm',role:'heading','aria-level':4}
  })
    +option({value:'','data-i18n':'never',selected:''})
    +option({value:'/w gm','data-i18n':'always'})
  .span-all.move-stats
    h2(data-i18n='basic move stats').span-all
    each obj,name in basicMoves
      +select-label({
        inputObj:{name:`${name} stat`,class:'underlined'},
        spanObj:{'data-i18n':name,role:'heading','aria-level':4}
      })
        +attributeOptions(obj.stat)
    +select-label({
      inputObj:{name:`initiative stat`,class:'underlined'},
      spanObj:{'data-i18n':'initiative',role:'heading','aria-level':4},
      divObj:{class:'initiative'}
    })
      +attributeOptions('fierce')