input.sheet-vow-name
  background: #ccc
  border: 2px solid #494a4c
  border-radius: 0
  margin-bottom: 0.2em
  margin-top: 1em

.sheet-fulfill-vow:hover,
.sheet-mark-vow:hover,
.sheet-vow-clear-label:hover
  background-color: #ccc
  color: #4C4D4F
  transition: .5s ease;

.sheet-vows
  margin-bottom: 0px

.sheet-vows-header
  display: flex
  justify-content: space-around
  align-items: center
  margin-bottom: 10px

.sheet-vow
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.sheet-vow-name
  width: 100%
  font-weight: bold
  font-size: 14px

input.sheet-vow-name
  background: #E6E7E8
  border: 2px solid #494a4c
  border-radius: 0
  margin-bottom: 0.2em

.sheet-vow-clear-label,
.sheet-mark-vow,
.sheet-fulfill-vow
  display: inline
  width: 100%
  font-weight: bold
  font-size: 14px
  padding 0
  margin 1em
  height 40px
  padding 0.2em 0.2em 0.2em 0.2em
  border: 2px solid #494a4c
  cursor: pointer