.container
	.header
		input.charname(spellcheck='false' type='text' name='attr_char_name' placeholder='Character name')
		input.chardesc(spellcheck='false' type='text' name='attr_char_desc' placeholder='Character description')
		input.hidediv(type='hidden' name='attr_char_name' value='')
		.autofill-reminder
			| If you enter Lady Blackbird, Naomi Bishop, Cyrus Vance, Kale Arkam, or Snargle, their details will be filled in automatically.
	.traits.left
		.stats
			label.pool
				span Pool:
				input(type='number' name='attr_pool' min='0' value='7')
			label.xp
				span XP:
				input(type='number' name='attr_xp' min='0' value='0')
			button(type='roll' name='roll_dice' value!='/r ?{Number of dice}d6>4') Roll
		h3 Traits
		fieldset.repeating_trait
			.reprow
				input.name(spellcheck='false' type='text' name='attr_name' placeholder='Trait name')
				.auto-expand.desc
					span(name='attr_tags')
					textarea(spellcheck='false' name='attr_tags' placeholder='Tags')
		.tagsblurb
			| Tags in [brackets] are qualities you don’t have yet. You can buy them with advances. See the Rules Summary below, under Keys.
	.keys.right
		fieldset.repeating_keysecret
			.reprow
				input.name(spellcheck='false' type='text' name='attr_name' placeholder='Key or secret name')
				.auto-expand.desc
					span(name='attr_desc')
					textarea(spellcheck='false' name='attr_desc' placeholder='Description')
	.conditions
		each val in ['Injured', 'Dead', 'Tired', 'Angry', 'Lost', 'Hunted', 'Trapped']
			label.condition
				input(
					type='checkbox'
					name='attr_' + val.toLowerCase()
					value='1')
				span
				span= val

	.rulestitle Rules Summary
	.rules.left
		h4 Rolling the Dice
		p When you try to overcome an obstacle, you roll dice. Start with one die. Add a die if you have a #[strong trait] that can help you. If that trait has any #[strong tags] that apply, add another die for each tag. Finally, add any number of dice from your personal #[strong pool] of dice (your pool starts with 7 dice).
		p Roll all the dice you’ve gathered. Each die that shows #[strong 4 or higher] is a hit. You need hits equal to the difficulty #[strong level] (usually 3) to pass the obstacle.
		p.smallcaps Levels: 2 Easy—3 Difficult—4 Challenging—5 Extreme
		p #[strong If you pass], discard all the dice you rolled (including any pool dice you used). Don’t worry, you can get your pool dice back.
		p #[strong If you don’t pass], you don’t yet achieve your goal. But, you get to keep the pool dice you rolled and #[strong add another die to your pool]. The GM will escalate the situation in some way and you might be able to try again.

		h4 Conditions
		p When events warrant or especially when you fail a roll, the GM may impose a #[strong condition]  on your character: #[strong Injured, Dead, Tired, Angry, Lost, Hunted,] or #[strong Trapped]. When you take a condition, mark its box and say how it comes about. [#[span.smallcaps Note:] The “dead” condition just means “presumed dead” unless you say otherwise.]

		h4 Helping
		p If your character is in a position to help another character, you can give them a die from your pool. Say what your character does to help. If the roll fails, you get your pool die back. If it succeeds, your die is lost.

	.rules.right
		h4 Keys
		p When you hit a key, you can do one of two things:
		ul
			li Take an #[strong experience point] (XP)
			li Add a die to your pool (up to a max of 10)
		p If you go into danger because of your key, you get 2 XP or 2 pool dice (or 1 XP #[em and] 1 pool die). When you have accumulated 5 XP, you earn an #[strong advance]. You can spend an advance on one of the following:
		ul
			li Add a new #[strong Trait] (based on something you learned during play or on some past experience that has come to light)
			li Add a #[strong tag] to an existing trait
			li Add a new #[strong Key] (you can never have the same key twice)
			li Learn a #[strong Secret] (if you have the means to)
		p You can hold on to advances if you want, and spend them at any time, even in the middle of a battle!
		p Each key also has a #[strong buyoff]. If the buyoff condition occurs, you have the #[em option] of removing the Key and earning two advances.

		h4 Refresh
		p You can refresh your pool back to 7 dice by having a #[strong refreshment scene] with another character. You may also remove a condition or regain the use of a Secret, depending on the details of the scene. A refreshment scene is a good time to ask questions (in character) so the other player can show off aspects of his or her PC—“Why did you choose this life?”—“What do you think of the Lady?”—“Why did you take this job?” etc. Refreshment scenes can be flashbacks, too.

script(type="text/worker")
	include lady_blackbird.js
