// COLORS & OTHER VARIABLES
//  ============================= *
	@import 'src/scss/abstracts/variables';

/* GLOBAL SETTINGS
  =============================  */
  @import 'src/scss/base/base';
	@import 'src/scss/base/utilities';
	@import 'src/scss/base/typography';

/* GRID
  ============================= */ 
	@import 'src/scss/layout/grid';

span.sheet-display {
	border-bottom: 2px dotted $dark;
	padding-top: 3%;
}

input.sheet-toggles {
	position: relative;
	opacity: 0;
	width: 100%;
	z-index: 2;

	&:checked + span {
		color: $primary;
		margin-left: 5%;
	}
}

/* HEADER
	============================= */
	@import 'src/scss/layout/header';

/* PC
    ============================= */
	@import 'src/scss/pages/pc';

/*  REPEATING SECTIONS
  ============================= */
	@import 'src/scss/components/repeating_container';

/*  SHOW & HIDE SECTIONS
  ============================= */
  @import 'src/scss/layout/hide';

/*  SWITCH
  ============================= */
  @import 'src/scss/components/switch';

/* STYLED CHECKBOXES
  ============================= */
  @import 'src/scss/components/checkbox';

/*  FOOTER
  ============================= */
  @import 'src/scss/layout/footer';

/*  ROLL TEMPLATE STYLE
  ============================= */
  @import 'src/scss/components/rolltemplate';