input(name='attr_version' type='hidden' value='1')

//- VARIABLES
  =============================
include src/pug/abstracts/variables.pug

//- INCLUDES
  =============================
include src/pug/abstracts/mixins.pug

//-PC SHEET
  =============================
include src/pug/pages/pc.pug

//-FOOTER
  =============================
include src/pug/layout/footer.pug

//-ROLL TEMPLATE
  =============================
include src/pug/components/rolltemplates.pug

//- SCRIPTS
script(type="text/worker")
  include src/js/scripts.js
