div.sheet-character {
  @import "./components/_horse";
  @import "./components/_passions";
  @import "./components/_personality-traits";
  @import "./components/_skills";
  @import "./components/_squire";
  @import "./components/_equipment";
  @import "./components/_characteristics";
  @import "./components/_attacks";

  h2 {
    text-overflow: ellipsis;
    width: fit-content;
  }

  textarea {
    height: 50px;
    margin-bottom: 0px;
  }

  div.sheet-row,
  div.sheet-col {
    @extend %gridRowCol;
  }

  div.sheet-info {
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
  }

  div.sheet-personal-data {
    div.sheet-age {
      grid-template-columns: 1fr 10% 25%;
    }
  }

  div.sheet-character-body {
    grid-template-columns: 1.65fr 2fr;
  }

  span.sheet-knight {
    display: grid;
    align-content: center;
  }

  div.sheet-current-hit-points {
    min-height: 265px;
    grid-row-gap: 5px;

    input[name="attr_current_hp"] {
      border: 2px solid $secondary;
      margin-top: 2%;
    }

    input[name="attr_wound"] {
      font-weight: bold;
    }

    div.sheet-current-hp {
      div.sheet-headers {
        grid-row-gap: 5%;
      }
    }

    div.sheet-debilitated {
      align-content: center;
      gap: 2%;
    }

    div.sheet-wounds {
      div.sheet-headers {
        justify-items: center;
      }

      div.sheet-headers,
      div.sheet-repeating-container div.sheet-row {
        grid-template-columns: 1fr 3.5em 3fr;
      }
    }
  }
}
