input[name="attr_sheet_type"][value="npc"] ~ div.sheet-tabs {
  margin-bottom: -3%;
  width: 85%;
}

div.sheet-npc {
  width: 600px;

  div.sheet-name {
    grid-template-columns: 2fr 1fr;

    h2 {
      margin: 0px;
    }
  }

  div.sheet-row {
    @extend %gridRowCol;
  }

  input[name="attr_character_name"] {
    font-size: 1.2em;
    font-weight: bolder;
    color: $primary;
  }

  div.sheet-move {
    grid-template-columns: minmax(auto, 145px) 1fr;
  }

  div.sheet-stat-col {
    grid-template-columns: 1fr 5em;
    grid-gap: 1rem;
  }

  div.sheet-3columns {
    grid-template-columns: 1fr 3.5em 2.5em;
  }

  div.sheet-combat-skills {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 145px);
    width: 100%;

    div.sheet-row {
      grid-template-columns: 1fr 3.5em;
    }
  }

  div.sheet-abilities {
    div.sheet-repeating-container {
      div.sheet-flags {
        grid-template-columns: 1fr 25px;
      }

      div.sheet-notes {
        grid-area: 2 / 1 / 3 / -1;
      }

      input.sheet-flag + span.sheet-pictos,
      input.sheet-flag {
        grid-area: 1 / 2 / 2/ 3;
      }

      .repitem {
        margin-bottom: 1%;
      }
    }
  }

  div.sheet-description {
    grid-template-columns: 1fr 25px;

    input[name="attr_flag_description"],
    input[name="attr_flag_description"] + span.sheet-pictos {
      grid-area: 1/2/1/3;
      align-self: start;
      width: 100%;
      height: 25px;
    }

    textarea[name="attr_description"],
    span[name="attr_description"] {
      grid-area: 1/1/2/2;
    }
  }

  .repcontainer[data-groupname="repeating_skills"],
  .repcontainer[data-groupname="repeating_passions"],
  .repcontainer[data-groupname="repeating_traits"] {
    @include horizontalContainer(193px);
  }

  div.sheet-personality-traits {
    .sheet-styled-checkbox {
      visibility: hidden;
    }
  }
}
