.character.grid
  .grid.info
    .col.img
      img.logo.knight(alt="King Arthur Pendragon Knight's Character Sheet" src=`${imageSource}/pendragonlogo.png`)
    .col
      .personal-data
        .header
          h1(data-i18n='personal data')
        .grid.2column.age
          each val in ['name', 'age']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(val)
          .col.2autocolumn
            h2.text-accent(data-i18n='session glory')
            +numberInput('session glory')
        .grid.2autocolumn
          h2(data-i18n='distinctive features')
          +textInput('distinctive features')
        .grid.2column
          each val in ['homeland', 'lord']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(val)
        .grid.2column
          each val in ['culture', 'personal religion']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(val)
        .grid.2column
          each val in ['current class', 'current home']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(val)
        each val in ['coat of arms', 'motto']
          .grid.2autocolumn
            h2(data-i18n=val)
            +textInput(val)

  .row.character-body
    .col.grid
      .current-hit-points.grid
        .header
          h1(data-i18n='HP & Wounds')
        .row.grid.current-hp.2column
          .col.2autocolumn.debilitated
            h2.uppercase(data-i18n="current hp")
            +numberInput('current hp')
          .col.2autocolumn.debilitated
            h2(data-i18n="debilitated?")
            +checkboxInput(`debilitated?`)
        .row.grid.wounds
          each val in ['aggravation damage', 'deterioration damage']
            .row.grid.2autocolumn
              .flex-center
                +accentSubheader(val)
              +textInput(val)  
          .row.grid.headers
            each val in ['wounds', 'dmg', 'description']
              .flex-center
                +accentSubheader(val)
          .repeating-container
            fieldset(class='repeating_wounds')
              .row.grid
                +numberInput('wound')
                +numberInput('dmg')
                +textInput('description') 

      include components/personality-traits
      
      include components/passions
      
      include components/squire

    .col.grid.gold-left-border
      .attributes
        .header
          h1(data-i18n='characteristics')
        .row.core
          each value in ['size', 'dexterity', 'strength', 'constitution', 'appearance']
            .row.2autocolumn
              +attributeButton(value)
              br
              +numberInput(value)
        .row.grid.2column
          .row
            h2(data-i18n='health')
            - const healthRows = ['hit points', 'knockdown', 'major wound', 'unconscious']
            +table(healthRows)
          .row
            h2(data-i18n='other')
            - const otherRows = ['movement', 'armor points', 'current glory', 'healing rate']
            +table(otherRows)

      include components/skills
      
  .row.grid.mb
    include components/horse

    include components/equipment