.character.grid
  .grid.info
    .col.img
      img.logo.knight(alt="King Arthur Pendragon Knight's Character Sheet" src=`${imageSource}/pendragonlogo.png`)
    .col
      .personal-data
        .header
          h1(data-i18n='personal data')
        .grid.2column.age
          each val in ['character name', 'age']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(val)
          .col.2autocolumn
            +accentSubheader('session glory')
            +numberInput('session glory')
        .grid.2autocolumn
          h2(data-i18n='distinctive features')
          +textInput('distinctive features')
        .grid.2column
          each val in ['lord', 'class']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(val)
        .grid.2column
          each val in ['culture', 'religion']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(val)
        .grid.2column
          each val in ['homeland', 'current home']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(val)
        each val in ['heraldry', 'motto']
          .grid.2autocolumn
            h2(data-i18n=val)
            +textInput(val)

  .row.character-body
    .col.grid
      .current-hit-points.grid
        .header
          h1(data-i18n='HP & Wounds')
        .row.grid.current-hp.2column
          .col.2autocolumn.debilitated
            h2.uppercase(data-i18n="current hp")
            +numberInput('current hp')
          .col.2autocolumn.debilitated
            h2(data-i18n="debilitated?")
            +checkboxInput(`debilitated?`)
        .row.grid.wounds
          each val in ['aggravation damage', 'deterioration damage']
            .row.grid.2autocolumn
              .flex-center
                +accentSubheader(val)
              +textInput(val)  
          .row.grid.headers
            each val in ['wounds', 'dmg', 'description']
              .flex-center
                +accentSubheader(val)
          .repeating-container
            fieldset(class='repeating_wounds')
              .row.grid
                +numberInput('wound')
                +numberInput('dmg')
                +textInput('description') 

      include components/personality-traits
      
      include components/passions
      
      include components/squire

    .col.grid.gold-left-border
      include components/characteristics

      include components/skills
      
  .row.grid.mb
    include components/horse

    include components/equipment