.holdings.grid
  .col
    .family-history.mb
      .row.gold-bottom-border.header
        h1(data-i18n='knightly event')
      each val in ['born', 'squired', 'knighted', 'landed', 'round table', 'ennobled', 'died']
        .row.2autocolumn
          .flex-center
            +boldSubheader(val)
          +textInput(val)
    .annual-glory.mb
      .header
        h1(data-i18n='passive glory')
      each val in ['ideals', 'fair appeal', 'traits & passions', 'estate glory']
        .row.2autocolumn
          .flex-center
            +boldSubheader(val)
          +textInput(`passive glory ${val}`, val)
      .row.2autocolumn
        h2.text-primary.small-caps.text-accent(data-i18n='total glory')
        +textInput('total glory')

    .holdings-row
      .header
        h1(data-i18n='holdings')
      .row
        textarea(name='attr_holdings')

  .col.gold-left-border
    .character-history
      .row.gold-bottom-border.header
        h1(data-i18n='history & events')
      .row.2autocolumn 
        +accentSubheader('current game year')
        +textInput('current game year')
      .row.events
        +accentSubheader('important event')
        each val in ['date', 'glory', 'total']
          .flex-center
            +accentSubheader(val)
      .repeating-container
        fieldset(class='repeating_events')
          .row.events
            each val in ['event', 'date', 'glory', 'total']
              +textInput(val)
