.holdings.grid
  .col
    .mb
      +header('knightly event')
      .family-history.hide
        each val in ['born', 'squired', 'knighted', 'landed', 'round table', 'ennobled', 'died']
          .row.2autocolumn
            .flex-center
              +boldSubheader(val)
            +textInput(val)
    .mb
      +header('passive glory')
      .annual-glory.hide
        each val in ['ideals', 'fair appeal', 'traits & passions', 'estate glory']
          .row.2autocolumn
            .flex-center
              +boldSubheader(val)
            +textInput(`passive glory ${val}`, val)
        .row.2autocolumn
          h2.text-primary.small-caps.text-accent(data-i18n='total glory')
          +textInput('total glory')


    +header('holdings')
    .holdings-row.hide
      .row.2autocolumn.mb
        +accentSubheader('currency')
        +textInput('currency')
      .row
        textarea(name='attr_holdings')

  .col.gold-left-border
    +header('history events', 'history & events')
    .character-history.hide
      .row.2autocolumn 
        +accentSubheader('current game year')
        +textInput('current game year')
      .row.events
        +accentSubheader('important event')
        each val in ['date', 'glory', 'total']
          .flex-center
            +accentSubheader(val)
      .repeating-container
        fieldset(class='repeating_events')
          .row.events
            each val in ['event', 'date', 'glory', 'total']
              +textInput(val)
