.npc.grid
  .grid.name
    +dropInput({name: 'character name'})
    .grid.auto-flow-col.align-end
      +subHeader("type")
      +dropInput({name: 'type', i18n: 'type', accept: 'type'})
  .characteristics.grid.mb
    .grid.core.auto-flow-col
        each value in ['size', 'dexterity', 'strength', 'constitution', 'appearance']
            .grid.row.centered
                +attributeButton(value)
                .shield.mt
                    +numberInput(value)
    .grid.statistic.auto-flow-col
        .col
            +primarySubheader('health')
            +npcTable(healthRows)
        .col
            +primarySubheader('other')
            +npcTable(npcOtherRows)
    input(type='hidden' name='attr_hide_npc_knight_attributes' value='1')
    .grid.statistic.auto-flow-col
        .col
            +primarySubheader('knight')
            +npcTable(["knight value", "ransom"])
        .col
            +primarySubheader('other')
            +npcTable(["morale loss", "valorous"])
  
  include ./components/attacks.pug
  
  .grid.skills
    .header
      h1(data-i18n='skills')
    .grid.combat-skills
      each val in combatSkills
        .row.grid
          +rollButton(val)
          +numberInput(val)
    .row
      +subHeader('other')
    .repeating-container
      fieldset(class='repeating_skills')
        .grid.auto-flow-col.3columns
          +textInput('name')
          +numberInput('skill')
          +repeatingRollButton('skill')
  .grid.2column.align-start
    .grid.traits
      .header
        h1(data-i18n='traits')
      .repeating-container
          fieldset(class='repeating_traits')
            .grid.auto-flow-col.3columns
              +textInput('name')
              +numberInput('traits')
              +repeatingRollButton('traits')
    .grid.passions
      .header
        h1(data-i18n='passions')
      .repeating-container
          fieldset(class='repeating_passions')
            .grid.auto-flow-col.3columns
              +textInput('name')
              +numberInput('passion')
              +repeatingRollButton('passion')
  
  .grid.abilities
    .header
      h1(data-i18n='abilities')
    .repeating-container
        fieldset(class='repeating_abilities')
          .row.grid.flags
            +repeatingFlags()
            .row.grid.2autocolumn
                h2(data-i18n='name')
                span.display.bottom-border(name='attr_name')
                +textInput('name')
            .row.notes
                span.display(name='attr_notes')
                +textArea('notes')

  .grid
    .header
      h1(data-i18n='description')
    .grid.description.gap
      +notesTextarea('description')