.npc.grid
  .grid.name
    +dropInput({name: 'character name'})
  .row
    textarea(data-i18n-placeholder='description' name='attr_description')
  .characteristics.grid.mb
    .header
        h1(data-i18n='characteristics')
    .grid.core.auto-flow-col
        each value in ['size', 'dexterity', 'strength', 'constitution', 'appearance']
            .grid.row.centered
                +attributeButton(value)
                .shield.mt
                    +hoverSpan(value)
    .grid.statistic.auto-flow-col

        .col
            +primarySubheader('health')
            +npcTable(healthRows)
        .col
            +primarySubheader('other')
            +npcTable(npcOtherRows)
    .grid.statistic.auto-flow-col
        .col
            +primarySubheader('knight')
            +npcTable(["knight value", "ransom"])
        .col
            +primarySubheader('other')
            +npcTable(["morale loss", "valorous"])
  .grid.row.attacks
    h2.italic(data-i18n='attacks')
    .repeating-container
      fieldset(class='repeating_attacks')
          .row.grid
              +textInput('name')
              select(name="attr_skill"  title="@{battle}" value="@{battle}")
                  each val in combatSkills
                      option(data-i18n=val value=`@{${attrName(val)}}`)
              label(data-i18n-title=`enter damage` title=`enter damage`)
                  input(name=`attr_damage` placeholder='5d6+5' title=`@{damage}` type='text' value='') 
              +repeatingAttackRollButton('name')
  .grid.row.traits
    h2.italic(data-i18n='traits')
    .repeating-container
        fieldset(class='repeating_traits')
          .row
            +textInput('name')
            +numberInput('traits')
            +repeatingRollButton('traits')
  .grid.row.passions
    h2.italic(data-i18n='passions')
    .repeating-container
        fieldset(class='repeating_passions')
          .row
            +textInput('name')
            +numberInput('passion')
            +repeatingRollButton('passion')
  .grid.row.skills
    h2.italic(data-i18n='skills')
    .repeating-container
        fieldset(class='repeating_skills')
          .row
            +textInput('name')
            +numberInput('skill')
            +repeatingRollButton('skill')
  .grid.row.abilities
    h2.italic(data-i18n='abilities')
    .repeating-container
        fieldset(class='repeating_abilities')
          .row.mb
            +textInput('name')
          .row
            textarea(data-i18n-placeholder='description' name='attr_description')