
.npc
  .grid.name
    +textInput('character name')
    h2.capitalize(data-i18n='glory won')
    +textInput('glory won')
  .row
    textarea(data-i18n-placeholder='description' name='attr_description')
  .grid.characteristics.5column
    each value in ['size', 'dexterity', 'strength', 'constitution', 'appearance']
      .grid.2autocolumn
        +attributeButton(value)
        +numberInput(value)
  .grid.stats.4column
    .grid.move
      h2.capitalize(data-i18n='move')
      +numberInput('move')
      +textInput('move description')
    each value in ['armor', 'unconscious', 'major wound', 'knockdown', 'hit points', 'healing rate']
      .grid.2autocolumn
        h2.capitalize(data-i18n=value)
        +numberInput(value)
    .grid.damage
      +damageButton('damage')
      +textInput('damage')
      span.bold(data-i18n='d6')
  .grid.row.skills
    h2.italic(data-i18n='skills / passions')
    .repeating-container
        fieldset(class='repeating_skills')
          .row
            +textInput('name')
            +numberInput('skill')
            +textInput('description')
            +repeatingRollButton('skill')
  .grid.row.abilities
    h2.italic(data-i18n='abilities')
    .repeating-container
        fieldset(class='repeating_abilities')
          .row
            +textInput('name')
          .row
            textarea(data-i18n-placeholder='description' name='attr_description')