.npc
  .grid.name
    +textInput('character name')
    h2(data-i18n='glory won')
    +textInput('glory won')
  .row
    textarea(data-i18n-placeholder='description' name='attr_description')
  .grid.characteristics.5column
    each value in ['size', 'dexterity', 'strength', 'constitution', 'appearance']
      .grid.2autocolumn
        +attributeButton(value)
        +numberInput(value)
  .grid.ml.mb
    .grid.move.auto-flow-col
      .grid.stat-col
        h2(data-i18n='move')
        +numberInput('move')
      .grid.2autocolumn
        h2(data-i18n='description')
        +textInput('move description')
    .grid.stats
      each value in ['armor', 'unconscious', 'major wound', 'knockdown', 'hit points', 'healing rate', "morale loss", "knight value", "ransom"]
        .grid.stat-col.auto-flow-col
          h2(data-i18n=value data-i18n-title=`${value}`)
          +numberInput(value)
  .grid.row
    h2.italic(data-i18n='attacks')
    .repeating-container
        fieldset(class='repeating_attacks')
          .grid.row.weapons 
            +textInput('name')
            .skill
              span (
              +numberInput('skill')
              span )
            +textInput('damage')
            +textInput('description')
            +repeatingAttackRollButton('damage')
  .grid.row.skills
    h2.italic(data-i18n='skills / passions')
    .repeating-container
        fieldset(class='repeating_skills')
          .row
            +textInput('name')
            +numberInput('skill')
            +textInput('description')
            +repeatingRollButton('skill')
  .grid.row.abilities
    h2.italic(data-i18n='abilities')
    .repeating-container
        fieldset(class='repeating_abilities')
          .row
            +textInput('name')
          .row
            textarea(data-i18n-placeholder='description' name='attr_description')