.npc.grid
  .grid.name
    +dropInput({name: 'character name'})
    .grid.auto-flow-col.align-end
      +subHeader("type")
      +dropInput({name: 'type', i18n: 'type', accept: 'type'})
  .characteristics.grid.mb
    .grid.core.auto-flow-col
        each value in ['size', 'dexterity', 'strength', 'constitution', 'appearance']
            .grid.row.centered
                +attributeButton(value)
                .shield.mt
                    +hoverSpan(value)
    .grid.statistic.auto-flow-col

        .col
            +primarySubheader('health')
            +npcTable(healthRows)
        .col
            +primarySubheader('other')
            +npcTable(npcOtherRows)
    .grid.statistic.auto-flow-col
        .col
            +primarySubheader('knight')
            +npcTable(["knight value", "ransom"])
        .col
            +primarySubheader('other')
            +npcTable(["morale loss", "valorous"])
  .grid.attacks
    .header
      h1(data-i18n='attacks')
    .repeating-container.table
      .grid.header
        h3.small-caps.text-left(data-i18n='weapon')
        each value in ['skill', 'damage']
            h3.small-caps.text-left(data-i18n=value)(class=value)
      fieldset(class='repeating_attacks')
          .row.grid
              +textInput('name')
              select(name="attr_skill"  title="@{battle}" value="@{battle}")
                  each val in combatSkills
                      option(data-i18n=val value=`@{${attrName(val)}}`)
              label(data-i18n-title=`enter damage` title=`enter damage`)
                  input(name=`attr_damage` placeholder='5d6+5' title=`@{damage}` type='text' value='') 
              +repeatingAttackRollButton('name')
  .grid.skills
    .header
      h1(data-i18n='skills')
    .grid.combat-skills
        each val in combatSkills
          .row.grid
              +rollButton(val)
              +numberInput(val)
    .row
      +subHeader('other')
    .repeating-container
        fieldset(class='repeating_skills')
          .grid.auto-flow-col.3columns
            +textInput('name')
            +numberInput('skill')
            +repeatingRollButton('skill')
  .grid.2column.align-start
    .grid.traits
      .header
        h1(data-i18n='traits')
      .repeating-container
          fieldset(class='repeating_traits')
            .grid.auto-flow-col.3columns
              +textInput('name')
              +numberInput('traits')
              +repeatingRollButton('traits')
    .grid.passions
      .header
        h1(data-i18n='passions')
      .repeating-container
          fieldset(class='repeating_passions')
            .grid.auto-flow-col.3columns
              +textInput('name')
              +numberInput('passion')
              +repeatingRollButton('passion')
  
  .grid.abilities
    .header
      h1(data-i18n='abilities')
    .repeating-container
        fieldset(class='repeating_abilities')
          .row.grid.flags
            +repeatingFlags()
            .row.grid.2autocolumn
                h2(data-i18n='name')
                span.display.bottom-border(name='attr_name')
                +textInput('name')
            .row.notes
                span.display(name='attr_notes')
                +textArea('notes')

  .grid
    .header
      h1(data-i18n='description')
    textarea(data-i18n-placeholder='description' name='attr_description')