.npc.grid
  .grid.name
    +dropInput({name: 'character name'})
    .grid.auto-flow-col.align-end
      +subHeader("type")
      +dropInput({name: 'type', i18n: 'type', accept: 'type'})
  .characteristics.grid.mb
    .grid.core.auto-flow-col
        each value in characteristics
            .grid.row.centered
                +attributeButton(value)
                .shield.mt
                    +numberInput(value)
    .grid.statistic.auto-flow-col
        .col
            +primarySubheader('health')
            +npcTable(healthRows)
        .col
            +primarySubheader('other')
            +npcTable(npcOtherRows)
    input(type='hidden' name='attr_hide_npc_knight_attributes' value='1')
    .grid.statistic.auto-flow-col
        .col
            +primarySubheader('knight')
            +npcTable(["knight value", "ransom"])
        .col
            +primarySubheader('other')
            +npcTable(["morale loss", "valorous modifier"])
  
  include ./components/attacks.pug
  
  .grid.skills
    +header('skills')
    .grid.combat-skills.hide
      each val in combatSkills
        .row.grid
          +rollButton(val)
          +numberInput(val)
    .row.hide
      +subHeader('other')
    .repeating-container.hide
      fieldset(class='repeating_skills')
        .grid.auto-flow-col.3columns
          +nameTargetValue()

  include ./components/personality-traits.pug

  .grid.passions
    +header('passions')
    .repeating-container.hide
        fieldset(class='repeating_passions')
          .grid.auto-flow-col.3columns
            +nameTargetValue()
  
  .grid.abilities
    +header('abilities')
    .repeating-container.hide
        fieldset(class='repeating_abilities')
          .row.grid.flags
            +repeatingFlags()
            .row.grid.2autocolumn
                h2(data-i18n='name')
                span.display.bottom-border(name='attr_name')
                +textInput('name')
            .row.notes
                span.display(name='attr_notes')
                +textArea('notes')

  include ./components/equipment.pug

  .grid
    +header('description')
    .grid.description.gap.hide
      +notesTextarea('description')