.grid.settings
  .grid.auto-flow-col.gap.row
    .col
      h1(data-i18n='character sheet type')
      select(name='attr_sheet_select' value='knight').bold
        option(data-i18n='knight' value='knight' selected)
        option(data-i18n='npc' value='npc')
  .grid.2column.row
    .col.gap
      h1(data-i18n='hide sections')
      .grid.2column
        each val in ['npc knight attributes']
          .grid.2autocolumn
            h2(data-i18n=val).capitalize
            +checkboxInput(`hide ${val}`)