mixin addons
  .sheet-addons-component
    fieldset.repeating_addon
      .sheet-addon-container
        .sheet-addon-type
          input(type='text' class='sheet-addon-type' value='attr_addon_type' placeholder='Type')
        .sheet-addon-effect
          input(type='text' class='sheet-addon-effect' value='attr_addon_effect' placeholder='Effect')