mixin addons
  .sheet-equipment-component
    .sheet-equipment-container.sheet-table-header
      .sheet-equipment-container-child.sheet-addon-column-1
        p.sheet-equipment-title TYPE
      .sheet-equipment-container-child.sheet-addon-column-2
        p.sheet-equipment-title EFFECT
    fieldset.repeating_addon
      .sheet-equipment-container
        .sheet-equipment-container-child.sheet-addon-column-1
          input(type='text' class='sheet-addon-type' name='attr_addon_type' placeholder='Type')
        .sheet-equipment-container-child.sheet-addon-column-2
          input(type='text' class='sheet-addon-effect' name='attr_addon_effect' placeholder='Effect')