mixin screwed()
    .stamp
        .screwed
            span.blue Déconnexion
            .screwBox
                span ~
                +rdButton('screwed', '-1', -1)
                span ~

                +rdButton('screwed', '1', 1)
                +rdButton('screwed', '2', 2)
                +rdButton('screwed', '3', 3)

                span ~
                +rdButton('screwed', '4', 4)
                span ~
//            +actButton('screwed', '2d8').roll