include ../content/delve-table
include ./container
include ./oracle-table
include ./standalone-tables
include ../../../data/oracles

mixin moveBuilder(opts, misc)
  +container(opts, misc)
    each row in opts.content
      if row.list
        ul
          each item in row.list
            li(data-i18n=item)!=locals.translations[item]
      else if row.table
        +oracleTable(oracles.moves[row.table.group].oracles[row.table.name], 'moves', row.table.group)
      else if row.depths_table
        +delveTable
      else if row.ask_the_oracle
        +askTheOracle
      else if row.delve_the_depths
        +delveTheDepths
      else if row.h6
        h6(data-i18n=row.h6)!=locals.translations[row.h6]
      else
        p(data-i18n=row.p)!=locals.translations[row.p]

