mixin askTheOracle 
  .oracle-table
    .oracle-row
      .button-container-preview
        button.roll-show(type='roll' title='@{rollalmostcertain}' name='rollalmostcertain' value='&{template:ironsworn_oracles} {{header=Almost Certain}} {{almostCertain=[[d100]]}}')
      span(data-i18n='ask-the-oracle-almost-certain-roll').oracle-roll.preview-roll 11 or greater
      span(data-i18n='ask-the-oracle-almost-certain-result').oracle-result
        | Almost
        | Certain
    .oracle-row
      .button-container-preview
        button.roll-show(type='roll' title='@{rolllikely}' name='rolllikely' value='&{template:ironsworn_oracles} {{header=Likely}} {{likely=[[d100]]}}')
      span(data-i18n='ask-the-oracle-likely-roll').oracle-roll.preview-roll 26 or greater
      span(data-i18n='ask-the-oracle-likely-result').oracle-result Likely
    .oracle-row
      .button-container-preview
        button.roll-show(type='roll' title='@{rollfiftyfifty}' name='rollfiftyfifty' value='&{template:ironsworn_oracles} {{header=50/50}} {{fiftyFifty=[[d100]]}}')
      span(data-i18n='ask-the-oracle-fifty-fifty-roll').oracle-roll.preview-roll 51 or greater
      span.oracle-result 50/50
    .oracle-row
      .button-container-preview
        button.roll-show(type='roll' title='@{rollunlikely}' name='rollunlikely' value='&{template:ironsworn_oracles} {{header=Unlikely}} {{unlikely=[[d100]]}}')
      span(data-i18n='ask-the-oracle-unlikely-roll').oracle-roll.preview-roll 76 or greater
      span(data-i18n='ask-the-oracle-unlikely-result').oracle-result Unlikely
    .oracle-row
      .button-container-preview
        button.roll-show(type='roll' title='@{rollsmallchance}' name='rollsmallchance' value='&{template:ironsworn_oracles} {{header=Small Chance}} {{smallChance=[[d100]]}}')
      span(data-i18n='ask-the-oracle-small-chance-roll').oracle-roll.preview-roll 91 or greater
      span(data-i18n='ask-the-oracle-small-chance-result').oracle-result
        | Small
        | Chance
    .oracle-footer(data-i18n='ask-the-oracle-match') On a match, an extreme result or twist has occurred.

mixin delveTheDepths
  .move-table.move-delve-table
    .move-delve-row-header
      div(data-i18n='stat-edge').move-delve-column-stat-header-1 Edge
      div(data-i18n='stat-shadow').move-delve-column-stat-header-2 Shadow
      div(data-i18n='stat-wits').move-delve-column-stat-header-3 Wits
      div(data-i18n='delve-the-depths-result-header').move-delve-column-header Weak Hit Result 
    .oracle-row
      .move-delve-stat-column-1 1-45
      .move-delve-stat-column-2 1-30
      .move-delve-stat-column-3 1-40
      div(data-i18n='delve-the-depths-table-row-1').move-delve-column Mark progress and <em>Reveal a Danger.</em>
    .oracle-row
      .move-delve-stat-column-1 46-65
      .move-delve-stat-column-2 31-65
      .move-delve-stat-column-3 41-55
      div(data-i18n='delve-the-depths-table-row-2').move-delve-column Mark progress.
    .oracle-row 
      .move-delve-stat-column-1 66-75
      .move-delve-stat-column-2 66-90
      .move-delve-stat-column-3 56-80
      div(data-i18n='delve-the-depths-table-row-3').move-delve-column Choose one: Mark progress or <em>Find an Opportunity.</em>
    .oracle-row 
      .move-delve-stat-column-1 76-80
      .move-delve-stat-column-2 91-99
      .move-delve-stat-column-3 81-99
      div(data-i18n='delve-the-depths-table-row-4').move-delve-column Take both: Mark progress and <em>Find an Opportunity.</em>
    .oracle-row 
      .move-delve-stat-column-1 81-100
      .move-delve-stat-column-2 100
      .move-delve-stat-column-3 100
      div(data-i18n='delve-the-depths-table-row-5').move-delve-column Mark progress twice and <em>Reveal a Danger.</em>