/* Whole sheet stuff */

.charsheet {
    width:850px;
}

.sheet-pc,
.sheet-gm 
{
    display: none;
    font-family:HoeflerText,Garamond,Sorts Mill Goudy,serif;
}

.sheet-gm_toggle[value="0"] ~ .sheet-pc,
.sheet-gm_toggle[value="1"] ~ .sheet-gm
{
    display: block;
}

input.sheet-gm_toggle {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    color: black;
}

.sheet-gmtogglelabel {
    font-size:8px;
    color:#666666;
}

div.sheet-customhide {
display: none;
}

.sheet-customhide[value="custom"] ~ .sheet-container div.sheet-customhide {
display: inline-block;
}

/* Shared Between PC and GM Sheets */

.btn {
    background-color: #FFFFFF;
    border-width: 2px;
	color: grey;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 2px 1px;
    cursor: pointer;
    position:relative;
}

.repitem, .repeating_relationships {
  border: 1px;
}

.itemcontrol {
    height: auto !important;
    border: 1px color:#224400;
}

.repcontrol_edit {
    position:absolute;
    left:70px;
}

.repcontainer {
    border: 1px color:#440022;
}
.sheet-relationshiphr, .sheet-trackerhr, .sheet-maphr, .sheet-actionhr {
    font-weight:bold;
    font-size:12px;
    display:inline-block;
    padding:0px;
}
.sheet-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;

    text-align:center;
    font-family:HoeflerText, Garamond, serif;
    font-size:14pt;
    font-weight:500;
    font-variant:small-caps;
    border-width: 0 0 0 2px;
    padding-top:10px;
    padding-bottom:5px;
    color:#663300;
}

.sheet-heading:before,
.sheet-heading:after {
  content:" ";
  background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Dramasystem/squiggle.png);
  background-repeat:repeat-x;
  flex-grow: 1;
  position: relative;
  top: 0.5em;
}

.sheet-heading:before {
  margin-right:10px;
}

.sheet-heading:after {
  margin-left:10px;
}

.sheet-logo {
    
}

input[type=text], select {
    border-bottom: 1px solid #D3D3D3;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: black;
    padding-bottom:3px;
    padding-left:0px;
    padding-right:0px;
}

textarea {
    border-bottom: 1px solid: #D3D3D3;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    box-shadow: none;
    height:28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: black;
    resize: none;
    overflow: hidden;
    vertical-align:bottom;
    height:35px;
    padding:0px;
    margin-bottom:0px;
}


/* PC Sheet Only */

.sheet-poles {
    width:100%;
    text-align:center;
}

.sheet-poleinput {
    font-size:medium;
    font-weight:bold;
    text-align:center;
}

.sheet-iam .sheet-desire .sheet-role {
width:200px;
}

.sheet-relationshiprow {
    display:inline-block;
}

.sheet-relationshipname {
width:100px
}

.sheet-relationshiprelat {
width:130px
}

.sheet-relationshipwant {
width:200px
}

.sheet-relationshipno {
width:180px
}

.sheet-relationshippoles {
width:180px
}

.sheet-relationshipname, .sheet-relationshiprelat, .sheet-relationshipwant, .sheet-relationshipno, .sheet-relationshippoles, .sheet-actions {
    display:inline-block;
    padding-left:0px;
}


.sheet-relationshipname, .sheet-relationshiprelat, .sheet-relationshippoles {
 margin-bottom:10px;
}

.sheet-relationshipwant, .sheet-relationshipno {
    padding: 0px;
}

.sheet-story {
    width:400px;
}

.sheet-actionrank {
    width:100px;
}


.sheet-actionname {
    width:100px;
}

.sheet-actioncustom {
    width:200px;
}

.sheet-actionhow {
    width:280px
}

.sheet-consequences {
width:850px;
}

/* GM Only */

.sheet-trackerplayer {
width:120px
}

.sheet-trackerchar {
width:120px
}

.sheet-trackerrole {
width:150px
}

.sheet-trackerdesire, .sheet-trackerpoles {
width:200px
}

.sheet-mapchar1, .sheet-mapchar2 {
	width:250px
}

.sheet-maprelationship {
	width:290px
}


.sheet-trackerrecurring {
width: 200px;	
}
.sheet-trackernpcrole {
width:190px;
}
.sheet-trackernpcwant {
width:200px
}
.sheet-trackernpcdeny {
width:200px}

