include mixins.pug

.kob-wrapper
    .kob-header
        .kob-header__logo
            img(src="https://s3.amazonaws.com/files.d20.io/images/140339639/LGuCR6kY6ZAJ2kvwgkn41Q/max.png?1591123417")
        input.kob-header__trope(data-i18n-placeholder="Trope", name="attr_trope", placeholder="Trope", type="text")
    .kob-body
        .kob-body__leftcol
            .kob-body__character
                .kob-characteristics__general
                    each characteristic in ["Character Name", "Age","Pronouns","Fear","Motivation","Description"]
                        - const attr = characteristic.toLowerCase().replace(/ /g, "_");
                        +characteristic-display(characteristic, attr)
                    +select-display("Grade", "grade", ["Underclass", "Upperclass", "Faculty"])
                .kob-characteristics__broom
                    h3(data-i18n="Your Broom") Your Broom
                    each characteristic in ["Name", "Look","Mechanical Benefit"]
                        - const attr = characteristic.toLowerCase().replace(/ /g, "_");
                        +characteristic-display(characteristic, attr)
                .kob-characteristics__wand
                    h3(data-i18n="Your Wand") Your Wand
                    each characteristic in ["Wood","Core"]
                        - const attr = characteristic.toLowerCase().replace(/ /g, "_");
                        +characteristic-display(characteristic, attr)
                .kob-characteristics__other
                    each characteristic in ["Animal Familiar"]
                        - const attr = characteristic.toLowerCase().replace(/ /g, "_");
                        +characteristic-display(characteristic, attr)
                    label.kob-characteristic--textarea(class=`kob-characteristic--school_bag`)
                        strong.kob-characteristic__label(data-i18n="Schoolbag") Schoolbag
                        textarea.kob-characteristic__textarea(name=`attr_school_bag`)
            .kob-body__strengths
                h2(data-i18n="Strengths") Strengths
                span.kob-body__subtext(data-i18n=`You start with your 'grade Strength' and two more.`) You start with your 'grade Strength' and two more.
                fieldset(class="repeating_strengths")
                    .kob-strength
                        .kob-strength__wrapper
                            strong.kob-strength__label(data-i18n="Strength Name") Strength Name
                            input.kob-strength__input(name="attr_strength_name", type="text")
                        .kob-strength__wrapper--text
                            strong.kob-strength__label(data-i18n="Strength Effects") Strength Effects
                            textarea.kob-strength__textarea(name="attr_strength_description")
            .kob-body__flaws
                h2(data-i18n="Flaws") Flaws
                fieldset(class="repeating_flaws")
                    .kob-flaw
                        .kob-flaw__wrapper
                            strong.kob-flaw__label(data-i18n="Flaw Name") Flaw Name
                            input.kob-flaw__input(name="attr_flaw_name", type="text")
                        .kob-flaw__wrapper
                            strong.kob-flaw__label(data-i18n="Flaw Effects") Flaw Effects
                            textarea.kob-flaw__textarea(name="attr_flaw_description")
        .kob-body__rightcol
            .kob-body__stats
                h2(data-i18n="Stats") Stats   
                each stat in ["Fight", "Flight", "Brains", "Brawn", "Charm", "Grit"]
                    - const attr = stat.toLowerCase().replace(/ /g, "_");
                    +stat-display(stat, attr)
            .kob-body__adversity 
                h2(data-i18n="Adversity Tokens") Adversity Tokens
                span.kob-body__subtext(data-i18n=`Begin the game with 3 adversity tokens. Add 1 each time you fail a roll.`) Begin the game with 3 adversity tokens. Add 1 each time you fail a roll.
                label.kob-adversity
                    input.kob-adversity__input(name=`attr_adversity`, type="number", value="3")
            .kob-body__tropes
                h2(data-i18n="Trope Questions") Trope Questions
                span.kob-body__subtext(data-i18n=`Share these answers with the GM.`) Share these answers with the GM.
                label.kob-tropes
                    textarea.kob-tropes__textarea(name=`attr_tropes`)
                    
include rolltemplates.pug