rolltemplate.sheet-rolltemplate-kobrooms
    .sheet-kobroom-container
        | {{#name}}
        h1 {{name}} 
        | {{/name}}
        .sheet-kobroom-body
            | {{#character_name}}
            h2 {{character_name}} 
            | {{/character_name}}
            | {{#roll}}
            .sheet-kobroom-roll-result
                | Result: {{roll}}
            | {{/roll}}