-
  data = {};
  data.global = {};
  data.options = {};
  data.character = {};
  data.crew = {};
  data.common = {};
  data.translation = {};

include data/global.data.pug
include data/options.data.pug

include data/character.data.pug
include data/character/downtime.data.pug
include data/character/gear.data.pug
include data/character/dicetray.data.pug
include data/character/traits.data.pug
include data/character/signature.data.pug
include data/character/slams.data.pug

include data/common/tracks.data.pug
include data/common/notes.data.pug

include data/crew.data.pug
include data/crew/fractures.data.pug
include data/crew/factions.data.pug

include data/translations/personalities.translation.pug
include data/translations/gear.translation.pug
include data/translations/signatures.translation.pug
include data/translations/factions.translation.pug
