.charsheet input {
    display: inline-block;
    width: 165px;
}
.charsheet input.sheet-tiny {
    display: inline-block;
    width: 25px;
}
.charsheet input.sheet-short {
   display: inline-block;
   width: 3.5em;
}
.charsheet input.sheet-medium {
   display: inline-block;
   width: 115px;
}
.charsheet input[type="number"].sheet-tiny {
    display: inline-block;
    width: 23px;
}
    input[type="number"].sheet-tiny::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
    input[type="number"].sheet-nobut::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.charsheet input.sheet-tiny {
    display: inline-block;
    width: 25px;
}
.charsheet select.sheet-short{
    display: inline-block;
    margin: 0px 0px;
    width: 4.1em;
}
.charsheet input[type="checkbox"].left {
    float: left;
    margin: 5px 0px;
    width: 2px;
}
input.sheet-arrow
{
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-body
{
    display: none;
}
/* Hide actual radio/checkbox */
input[type="radio"],
input[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio/checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Fake radio */
input[type="radio"] + span::before
{
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
input[type="radio"]:checked + span::before
{
    content: "•";
}

/* Fake checkbox */
input[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + span::before
{
    content: "✓";
}

.charsheet div.sheet-tab-content { display: none; }

.charsheet input.sheet-tab1:checked ~ div.sheet-tab1,
.charsheet input.sheet-tab2:checked ~ div.sheet-tab2,
.charsheet input.sheet-tab3:checked ~ div.sheet-tab3,
.charsheet input.sheet-tab4:checked ~ div.sheet-tab4
{
    display: block;
}
.charsheet input.sheet-tab + span::before,
.charsheet input.sheet-tab + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Fake radio */
.charsheet input.sheet-tab + span::before
{
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.charsheet input.sheet-tab:checked + span::before
{
    content: "•";
}
.charsheet input.sheet-tab:not(:first-child)::before
{
    border-left: none;
}
