@import url('https://fonts.googleapis.com/css?family=Passion+One:wght@300&display=swap');

button[type=roll].sheet-stat-roll::before {
    background-image: none;
    font-family: dicefontd6;
    content: "l";
    color: #3f0f12;
}

.sheet-collateral-damage {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-width: 500px; /* TODO: Figure out if there is a better value for this */
}

.sheet-collateral-damage .sheet-row-padding {
    padding-top:5px;
}

.sheet-collateral-damage .sheet-section-act-heading {
    font-family: 'Passion One', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    text-align: center;
    background-color: #eeb8bb;
    border-bottom:solid #3f0f12;
    border-width: 2px;
}

.sheet-collateral-damage .sheet-stat-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 45px;
}

.sheet-collateral-damage .sheet-section {
    padding: 5px;
}

.sheet-collateral-damage .sheet-section-heading {
    font-family: 'Passion One', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    text-align: center;
    background-color: #eeb8bb;
}

.sheet-collateral-damage .sheet-section-content {
    border-left: solid #3f0f12;
    border-top: solid #3f0f12;
    border-width: 2px;
    padding: 5px;
}

.sheet-collateral-damage .sheet-input-label-header {
    font-family: 'Passion One', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #3f0f12;
    border-top: solid #3f0f12;
    border-width: 1px;
    margin-top: 1px;
    text-align: left;
}

.sheet-collateral-damage .sheet-input-label {
    color: #3f0f12;
    border-top: solid #3f0f12;
    border-width: 1px;
    margin-top: 1px;
    text-align: left;
}

.sheet-collateral-damage .sheet-center-text {
    text-align: center;
}

/* Customizes the inputs to use bold font */
.sheet-collateral-damage input[type=text] {
    width: 100%;
    font-size: 14px;
    font-family: 'Passion One', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.sheet-collateral-damage textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    resize: none;
    width: 100%;
    font-size: 14px;
    font-family: 'Passion One', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

/* Used to build out + or - in stat table */
.sheet-collateral-damage .sheet-stat-content label {
    text-align: center;
}
.sheet-collateral-damage .sheet-stat-content label span:before {
    content: "+";
    cursor: pointer;
}
.sheet-collateral-damage .sheet-stat-content label input[type=checkbox]:checked + span:before {
    content: "-";
    cursor: pointer;
}

/* Used to build the stat dice table */
.sheet-collateral-damage .sheet-stats-dice-header {
    font-family: 'Passion One', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    background-color: #3a0e13;
    text-align: center;
    color: white;
}
.sheet-collateral-damage table {
    width: 100%;
}
.sheet-collateral-damage td {
    text-align: center;
    border: 1px solid #3f0f12;
}

/* Used to build out the wound heart toggles */
.sheet-collateral-damage input[type=checkbox] {
    display: none;
}
.sheet-collateral-damage label span:before {
    content: url("https://raw.githubusercontent.com/patschroed/roll20-character-sheets/master/CDMG/heart.png");
    cursor: pointer;
}
.sheet-collateral-damage label input[type=checkbox]:checked + span:before {
    content: url("https://raw.githubusercontent.com/patschroed/roll20-character-sheets/master/CDMG/heart-slash.png");
    cursor: pointer;
}
.sheet-collateral-damage ul {
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 13px;
}
.sheet-collateral-damage li {
    display: inline-block;
}
.sheet-collateral-damage li label {
    padding: 0px;
    display: inline-block;
}
