.footer
  span Version  
  span(name='attr_version')
  span Original template created by Emerald Productions, LLC
  img(src="https://raw.githubusercontent.com/clevett/roll20-SheetTemplate/master/src/imgs/EProd_Emerald_Gloss.png", alt="Emerald Productions logo of an E")