mixin abilityScoreRow(longname, shortname)
  tr
    td.blackBox
      .rollButton
        .shortname= shortname
        .longname= longname
        +rollButton(shortname + '_mod')
    td
      +fieldBox('number', shortname)(value=10)
    td
      +fieldBox('number', shortname + '_temp')(value=0)
    td
      +readOnlyBox(shortname + '_mod')

table.abilityScores
  thead
    tr
      th Ability Name
      th Base Score
      th Temp +/-
      th Modifier
  tbody
    +abilityScoreRow('Strength', 'str')
    +abilityScoreRow('Dexterity', 'dex')
    +abilityScoreRow('Constitution', 'con')
    +abilityScoreRow('Intelligence', 'int')
    +abilityScoreRow('Wisdom', 'wis')
    +abilityScoreRow('Charisma', 'cha')
