mixin abilityScoreRow(longname, shortname)
  - var i18n = longname.toLowerCase();
  tr
    td.blackBox
      .rollButton
        .shortname(data-i18n=shortname)= shortname
        .longname(data-i18n=i18n)= longname
        +rollButton(shortname + '_mod')
    td
      +fieldBox('number', shortname)(value=10)
    td
      +fieldBox('number', shortname + '_temp')(value=0)
    td
      +readOnlyBox(shortname + '_mod')

table.abilityScores
  thead
    tr
      th(data-i18n='ability-name') Ability Name
      th(data-i18n='base-score') Base Score
      th(data-i18n='temp-plus-minus') Temp +/-
      th(data-i18n='modifier') Modifier
  tbody
    +abilityScoreRow('Strength', 'str')
    +abilityScoreRow('Dexterity', 'dex')
    +abilityScoreRow('Constitution', 'con')
    +abilityScoreRow('Intelligence', 'int')
    +abilityScoreRow('Wisdom', 'wis')
    +abilityScoreRow('Charisma', 'cha')
