+labelledUnderlined('Alignment')(style='width: 1.2in;'): +select('alignment')
  option(value='LG') Lawful Good
  option(value='NG') Neutral Good
  option(value='CG') Chaotic Good
  option(value='LN') Lawful Neutral
  option(value='N', selected=true) Neutral
  option(value='CG') Chaotic Neutral
  option(value='LE') Lawful Evil
  option(value='NE') Neutral Evil
  option(value='CL') Chaotic Evil
