+labelledUnderlined('Alignment', { i18n: 'alignment' })(style='width: 1.2in;'): +select('alignment')
  option(value='LG', data-i18n='lawful-good') Lawful Good
  option(value='NG', data-i18n='neutral-good') Neutral Good
  option(value='CG', data-i18n='chaotic-good') Chaotic Good
  option(value='LN', data-i18n='lawful-neutral') Lawful Neutral
  option(value='N', data-i18n='neutral') Neutral
  option(value='CG', data-i18n='chaotic-neutral') Chaotic Neutral
  option(value='LE', data-i18n='lawful-evil') Lawful Evil
  option(value='NE', data-i18n='neutral-evil') Neutral Evil
  option(value='CE', data-i18n='chaotic-evil') Chaotic Evil
