.ac
  .inlineBlock(style='vertical-align: middle;')
    .blackBox
      .shortname AC
      .longname Armor Class
    +labelledUnderlined('Total'): +readOnlyBox('ac')
    .mathOperator = 10 +
    +fieldBox('number', 'ac_equipment', 'Equipment')(value=0)
    .mathOperator +
    +labelledUnderlined('Dex mod'): +readOnlyBox('dex_mod')
    .mathOperator +
    +labelledUnderlined('Size'): +readOnlyBox('size')
    .mathOperator +
    +fieldBox('number', 'ac_misc', 'Misc')(value=0)
    .mathOperator +
    +fieldBox('number', 'ac_temp', 'Temp')(value=0)
  +labelledUnderlined('Conditional Modifiers')(style='margin-left: 1em; width: 3in;'): +input('text', 'ac_notes')
