.ac
  .inlineBlock(style='vertical-align: middle;')
    .blackBox
      .shortname(data-i18n='armor-class-abbrev-u') AC
      .longname(data-i18n='armor-class') Armor Class
    +labelledUnderlined('Total', { i18n: 'total' }): +readOnlyBox('ac')
    .mathOperator = 10 +
    +fieldBox('number', 'ac_equipment', 'Equipment', { i18n: 'equipment' })(value=0)
    .mathOperator +
    +labelledUnderlined('Dex mod', { i18n: 'dex-mod' }): +readOnlyBox('dex_mod')
    .mathOperator +
    +labelledUnderlined('Size', { i18n: 'size' }): +readOnlyBox('size')
    .mathOperator +
    +fieldBox('number', 'ac_misc', 'Misc', { i18n: 'misc' })(value=0)
    .mathOperator +
    +fieldBox('number', 'ac_temp', 'Temp', { i18n: 'temp' })(value=0)
  +labelledUnderlined('Conditional Modifiers', { i18n: 'conditional-modifiers' })(style='margin-left: 1em; width: 3in;'): +input('text', 'ac_notes')
