h3 Attacks
.inlineBlock(style='margin-top: 1.5em; vertical-align: top; width: 1in;'): +labelledBoxV('Base Attack Bonus'): +input('number', 'bab')(value=0)

.inlineBlock(style='margin-bottom: 1em; vertical-align: top; width: 80%;')
  mixin attack()
    div(style='margin-bottom: 1em;')
      .inlineBlock.blackBox: .rollButton
        +rollButton('attack', 'attack_notes')
        +input('text', 'attack_name')
        +select('attack_ability')
          +option('Choose One', '')
          +option('Strength', 'str')
          +option('Dexterity', 'dex')
          +option('Constitution', 'con')
          +option('Intelligence', 'int')
          +option('Wisdom', 'wis')
          +option('Charisma', 'cha')
      +readOnlyBox('attack')
      .mathOperator =
      +readOnlyBox('attack_bab')(style='width: 0.25in;')
      .mathOperator +
      +readOnlyBox('attack_ability_mod')(style='width: 0.25in;')
      .mathOperator +
      +readOnlyBox('attack_size')(style='width: 0.25in;')
      .mathOperator +
      +fieldBox('number', 'attack_equipment')
      .mathOperator +
      +fieldBox('number', 'attack_misc')
      .mathOperator +
      +fieldBox('number', 'attack_temp')
      +labelledUnderlined('Conditional Modifiers')(style='margin-left: 1em; width: 1.5in;'): +input('text', 'attack_notes')

  .attacks
    .head
      label.inlineBlock(style='padding-left: 1.5in; width: 0.55in') Total
      label.inlineBlock(style='width: 0.4in;') BAB
      label.inlineBlock(style='width: 0.4in;') Ability Mod
      label.inlineBlock(style='width: 0.4in;') Size
      label.inlineBlock(style='width: 0.6in;') Equipment
      label.inlineBlock(style='width: 0.65in;') Misc +/-
      label.inlineBlock Temp +/-
    .body(style='width: 8in;')
      +repeating('attacks')
        +attack()
