h3(data-i18n='attacks') Attacks
+labelledBoxH('Base Attack Bonus', { i18n: 'base-attack-bonus' }): +input('number', 'bab')(value='0')

.inlineBlock(style='margin-bottom: 1em; vertical-align: top;')
  mixin attack()
    .inlineBlock.blackBox(style='height: 0.5in; vertical-align: top; width: 0.5in;')
      .rollButton
        span t
        +rollButton('attack', 'attack_notes', {
          isAttack: true,
          attackName: 'attack_name',
          damage: 'attack_damage',
          crit: {
            range: 'attack_critRange',
            multiplier: 'attack_critMultiplier'
          }
        })
    .inlineBlock(style='margin-bottom: 1em; width: 7.8in;')
      div(style='margin-bottom: 2px;')
        .inlineBlock.blackBox: +input('text', 'attack_name', { i18n: 'attack-name-place' })(placeholder="Attack name")
        +readOnlyBox('attack')
        .mathOperator =
        +readOnlyBox('attack_bab')(style='width: 0.25in;')
        .mathOperator +
        .atkAbility
          +readOnlyBox('attack_ability_mod')(style='width: 0.25in;')
          +select('attack_ability')
            +option('Choose One', '', { i18n: 'choose-one' })
            +option('STR', 'str', { i18n: 'str-u' })
            +option('DEX', 'dex', { i18n: 'dex-u' })
            +option('CON', 'con', { i18n: 'con-u'})
            +option('INT', 'int', { i18n: 'int-u' })
            +option('WIS', 'wis', { i18n: 'wis-u' })
            +option('CHA', 'cha', { i18n: 'cha-u' })
        .mathOperator +
        +readOnlyBox('attack_size')(style='width: 0.25in;')
        .mathOperator +
        +fieldBox('number', 'attack_equipment')
        .mathOperator +
        +fieldBox('number', 'attack_misc')
        .mathOperator +
        +fieldBox('number', 'attack_temp')
      div
        +labelledBoxH('Damage', { i18n: 'damage' }): +input('text', 'attack_damage')(value='0', style='width: 1.5in;')
        +labelledUnderlined('Crit Range', { i18n: 'crit-range' })(style='width: 0.8in;'): +select('attack_critRange')(value='99')
          +option('Choose One', '99', { isSelected: true, i18n: 'choose-one' })
          +option('20', '20')
          +option('19-20', '19')
          +option('18-20', '18')
          +option('17-20', '17')
          +option('16-20', '16')
          +option('15-20', '15')
          +option('14-20', '14')
          +option('13-20', '13')
          +option('12-20', '12')
          +option('11-20', '11')
          +option('10-20', '10')
          +option('9-20', '9')
          +option('8-20', '8')
          +option('7-20', '7')
          +option('6-20', '6')
          +option('5-20', '5')
          +option('4-20', '4')
          +option('3-20', '3')
          +option('2-20', '2')
        +labelledUnderlined('Crit Multiplier', { i18n: 'crit-multiplier' })(style='width: 0.8in;'): +input('number', 'attack_critMultiplier')
        +labelledUnderlined('Conditional Modifiers', { i18n: 'conditional-modifiers' })(style='margin-left: 1em; width: 3in;'): +input('text', 'attack_notes')

  .attacks
    .head
      label.inlineBlock(style='padding-left: 3in; width: 0.55in', data-i18n='total') Total
      label.inlineBlock(style='width: 0.4in;', data-i18n='bab-u') BAB
      label.inlineBlock(style='width: 0.4in;', data-i18n='ability-mod') Ability Mod
      label.inlineBlock(style='width: 0.4in;', data-i18n='size') Size
      label.inlineBlock(style='width: 0.6in;', data-i18n='equipment') Equipment
      label.inlineBlock(style='width: 0.65in;', data-i18n='misc-plus-minus') Misc +/-
      label.inlineBlock(data-i18n='temp-plus-minus') Temp +/-
    .body(style='width: 8.5in;')
      +repeating('attacks')
        +attack()
