div
  +labelledUnderlined('Gender', { i18n: 'gender' })(style='width:1in;'): +input('text', 'gender')
  +labelledUnderlined('Age', { i18n: 'age' })(style='width: 0.6in;'): +input('text', 'age')
  +labelledUnderlined('Height', { i18n: 'bio-height' })(style='width: 0.7in;'): +input('text', 'height')
  +labelledUnderlined('Weight', { i18n: 'bio-weight' })(style='width: 0.7in;'): +input('text', 'weight')
  include sizeSelect.pug
div
  +labelledUnderlined('Homeland', { i18n: 'homeland' }): +input('text', 'homeland')
  +labelledUnderlined('Deity', { i18n: 'deity' })(style='width: 1.5in;'): +input('text', 'deity')
  include alignmentSelect.pug
div
  +labelledUnderlined('Factions', { i18n: 'factions' })(style='width: 100%;'): +input('text', 'factions')
div
  .floatLeft: +labelledAbove('Appearance', { i18n: 'appearance' })(style='width: 3in;'): +textarea('appearance')(style='height: 1.2in;')
  .floatRight: +labelledAbove('Languages', { i18n: 'languages' })(style='width: 1.8in;'): +textarea('languages')(style='height: 1.2in;')
