div
  +labelledUnderlined('Gender')(style='width:1in;'): +input('text', 'gender')
  +labelledUnderlined('Age')(style='width: 0.6in;'): +input('text', 'age')
  +labelledUnderlined('Height')(style='width: 0.7in;'): +input('text', 'height')
  +labelledUnderlined('Weight')(style='width: 0.7in;'): +input('text', 'weight')
  include sizeSelect.pug
div
  +labelledUnderlined('Homeland'): +input('text', 'homeland')
  +labelledUnderlined('Deity')(style='width: 1.5in;'): +input('text', 'deity')
  include alignmentSelect.pug
div
  +labelledUnderlined('Factions')(style='width: 100%;'): +input('text', 'factions')
div
  .floatLeft: +labelledAbove('Appearance')(style='width: 3in;'): +textarea('appearance')(style='height: 1.2in;')
  .floatRight: +labelledAbove('Languages')(style='width: 1.8in;'): +textarea('languages')(style='height: 1.2in;')
