
.cmb
  .blackBox(style='width: 1in;'): .rollButton
    .shortname(data-i18n='cmb-u') CMB
    .longname(data-i18n='combat-maneuver-bonus') Combat Maneuver Bonus
    +rollButton('cmb')
  +labelledUnderlined('Total', { i18n: 'total' }): +readOnlyBox('cmb')
  .mathOperator =
  +labelledUnderlined('BAB', { i18n: 'bab-u' }): +readOnlyBox('bab')
  .mathOperator +
  +labelledUnderlined('Str mod', { i18n: 'str-mod' }): +readOnlyBox('str_mod')
  .mathOperator +
  +labelledUnderlined('Size', { i18n: 'size' }): +readOnlyBox('cmb_size')
  .mathOperator +
  +fieldBox('number', 'cmb_misc', 'Misc', { i18n: 'misc' })
  .mathOperator +
  +fieldBox('number', 'cmb_temp', 'Temp', { i18n: 'temp' })
  +labelledUnderlined('Conditional Modifiers', { i18n: 'conditional-modifiers' })(style='margin-left: 1em; width: 2.6in;'): +input('text', 'cmb_notes')

.cmd
  .blackBox(style='width: 1in;')
    .shortname(data-i18n='cmd-u') CMD
    .longname(data-i18n='combat-maneuver-defense') Combat Maneuver Defense
  +labelledUnderlined('Total', { i18n: 'total' }): +readOnlyBox('cmd')
  .mathOperator = 10 +
  +labelledUnderlined('BAB', { i18n: 'bab' }): +readOnlyBox('bab')
  .mathOperator +
  +labelledUnderlined('Str mod', { i18n: 'str-mod' }): +readOnlyBox('str_mod')
  .mathOperator +
  +labelledUnderlined('Dex mod', { i18n: 'dex-mod' }): +readOnlyBox('dex_mod')
  .mathOperator +
  +labelledUnderlined('Size', { i18n: 'size' }): +readOnlyBox('cmd_size')
  .mathOperator +
  +fieldBox('number', 'cmd_misc', 'Misc', { i18n: 'misc' })
  .mathOperator +
  +fieldBox('number', 'cmd_temp', 'Temp', { i18n: 'temp' })
  +labelledUnderlined('Conditional Modifiers', { i18n: 'conditional-modifiers' })(style='margin-left: 1em;'): +input('text', 'cmd_notes')
