include ../fields.pug

.coreTab
  div
    .inlineBlock(style='vertical-align: top; width: 3.2in;'): include abilityScores.pug
    .inlineBlock(style='vertical-align: top; width: 5in;'): include bio.pug
  div(style='height: 0.6in;')
    .floatLeft: include initiative.pug
    .floatRight
      +labelledBoxV('Movement & Speeds', { i18n: 'movement-amp-speeds' })(style='vertical-align: top;'): +input('text', 'movement')(style='width: 1.8in;')
      +labelledBoxV('Senses', { i18n: 'senses' })(style='vertical-align: top;'): +input('text', 'senses')(style='width: 1.8in;')

  h3(data-i18n='defenses') Defenses
  div: include armorClass.pug
  div
    .inlineBlock(style='float: left;'): div(style='vertical-align: middle;')
      div: +labelledBoxH('Touch', { i18n: 'touch' })(style='width: 1.4in;'): +readOnlyBox('ac_touch')(style='width: 0.25in;')
      div: +labelledBoxH('Flat-Footed', { i18n: 'flat-footed' })(style='width: 1.4in;'): +readOnlyBox('ac_flatfoot')(style='width: 0.25in;')
    .inlineBlock(style='float: right;'): div(style='vertical-align: middle;')
      +labelledBoxV('Damage Reduction', { i18n: 'damage-reduction' })(style='width: 1in;'): +input('text', 'damage_reduction')
      +labelledBoxV('Spell Resistance', { i18n: 'spell-resistance' })(style='width: 1in;'): +input('number', 'spell_resistance')
      .inlineBlock(style='vertical-align: top;')
        div: +labelledBoxH('Resistances', { i18n: 'resistances' })(style='width: 4.5in;'): +input('text', 'resistances')(style='width: 3.4in;')
        div: +labelledBoxH('Immunities', { i18n: 'immunities' })(style='width: 4.5in;'): +input('text', 'immunities')(style='width: 3.4in;')
  div
    .inlineBlock: include savingThrows.pug

  div: include baseAttack.pug
  div: include combatManeuverBonus.pug
