.inlineBlock.initiative
  .inlineBlock(style='vertical-align: middle;')
    .blackBox: .rollButton
      .shortname(data-i18n='initiative') Initiative
      +rollButton('init', 'init_notes')
    +labelledUnderlined('Total', { i18n: 'total' }): +readOnlyBox('init')
    .mathOperator = 
    +labelledUnderlined('Dex mod', { i18n: 'dex-mod' }): +readOnlyBox('dex_mod')
    .mathOperator +
    +fieldBox('number', 'init_misc', 'Misc', { i18n: 'misc' })(value=0)
  +labelledUnderlined('Conditional Modifiers', { i18n: 'conditional-modifiers' })(style='margin-left: 1em; width: 1in;'): +input('text', 'init_notes')
