.inlineBlock.initiative
  .inlineBlock(style='vertical-align: middle;')
    .blackBox: .rollButton
      .shortname Initiative
      +rollButton('init', 'init_notes')
    +labelledUnderlined('Total'): +readOnlyBox('init')
    .mathOperator = 
    +labelledUnderlined('Dex mod'): +readOnlyBox('dex_mod')
    .mathOperator +
    +fieldBox('number', 'init_misc', 'Misc')(value=0)
  +labelledUnderlined('Conditional Modifiers')(style='margin-left: 1em; width: 1in;'): +input('text', 'init_notes')
