mixin savingThrow(longName, shortName, abilityName, abilityShortName)
  tr
    td.blackBox: .rollButton
      .saveName= longName
      .abilityName= abilityName
      +rollButton(shortName, shortName + '_notes')
    td: +readOnlyBox(shortName)
    td: .mathOperator =
    td: +fieldBox('number', shortName + '_base')
    td: .mathOperator +
    td: +readOnlyBox(abilityShortName + '_mod')
    td: .mathOperator +
    td: +fieldBox('number', shortName + '_equipment')
    td: .mathOperator +
    td: +fieldBox('number', shortName + '_misc')
    td: .mathOperator +
    td: +fieldBox('number', shortName + '_temp')
    td: +labelledUnderlined('Conditional Modifiers')(style='margin-left: 1em; width: 100%;'): +input('text', shortName + '_notes')

table.savingThrows
  thead
    tr
      th Saving Throws
      th Total
      th
      th Base Save
      th
      th Ability Mod
      th
      th Equipment
      th
      th Misc +/-
      th
      th Temp +/-
      th(style='width: 30%;')
  tbody
    +savingThrow('Fortitude', 'fort', 'Constitution', 'con')
    +savingThrow('Reflex', 'ref', 'Dexterity', 'dex')
    +savingThrow('Will', 'will', 'Wisdom', 'wis')
