+labelledUnderlined('Size')(style='width: 1.2in;'): +select('size')
  option(value=undefined, data-i18n='choose-one') Choose One 
  option(value=-8, data-i18n='colossal') Colossal
  option(value=-4, data-i18n='gargantuan') Gargantuan
  option(value=-2, data-i18n='huge') Huge
  option(value=-1, data-i18n='large') Large
  option(value=0, data-i18n='medium') Medium
  option(value=1, data-i18n='small') Small
  option(value=2, data-i18n='tiny') Tiny
  option(value=4, data-i18n='diminuitive') Diminuitive
  option(value=8, data-i18n='fine') Fine
