
<div class="sheet-delve-nav-bar-pages">
  <div class="sheet-nav-child">
    <label for="vows-delve-mode-page">Vows</label>
  </div>
  <div class="sheet-nav-child">
    <label for="moves-delve-mode-page">Moves</label>
  </div>
  <div class="sheet-nav-child">
    <label for="sites-delve-mode-page">Sites</label>
  </div>
  <div class="sheet-nav-child">
    <label for="assets-delve-mode-page">Assets</label>
  </div>
  <div class="sheet-nav-child">
    <label for="oracles-delve-mode-page">Oracles</label>
  </div>
  <div class="sheet-nav-child">
    <label for="progress-delve-mode-page">Progress</label>
  </div>
  <div class="sheet-nav-child">
    <label for="bonds-delve-mode-page">Bonds</label>
  </div>
</div>