
<div class="sheet-ironsworn-nav-bar-pages">
  <div class="sheet-nav-child">
    <label for="vows-ironsworn-mode-page">Vows</label>
  </div>
  <div class="sheet-nav-child">
    <label for="moves-ironsworn-mode-page">Moves</label>
  </div>
  <div class="sheet-nav-child">
    <label for="assets-ironsworn-mode-page">Assets</label>
  </div>
  <div class="sheet-nav-child">
    <label for="oracles-ironsworn-mode-page">Oracles</label>
  </div>
  <div class="sheet-nav-child">
    <label for="progress-ironsworn-mode-page">Progress</label>
  </div>
  <div class="sheet-nav-child">
    <label for="bonds-ironsworn-mode-page">Bonds</label>
  </div>
</div>