
<div class="sheet-ironsworn-nav-bar-pages">
  <div class="sheet-nav-child">
    <label for="summary-ironsworn-mode">Summary</label>
  </div>
  <div class="sheet-nav-child">
    <label for="vows-ironsworn-mode">Vows</label>
  </div>
  <div class="sheet-nav-child">
    <label for="moves-ironsworn-mode">Moves</label>
  </div>
  <div class="sheet-nav-child">
    <label for="assets-ironsworn-mode">Assets</label>
  </div>
  <div class="sheet-nav-child">
    <label for="oracles-ironsworn-mode">Oracles</label>
  </div>
  <div class="sheet-nav-child">
    <label for="progress-ironsworn-mode">Progress</label>
  </div>
  <div class="sheet-nav-child">
    <label for="bonds-ironsworn-mode">Bonds</label>
  </div>
</div>