include ../../rolls/rolls.pug

mixin rollLabel
  label.roll-label.surface-2
    span.i18n-text(data-i18n='roll')=translation['roll']
    block

mixin rollListLabel
  label.roll-list-label
    span.i18n-text(data-i18n='roll')=translation['roll']
    block

mixin rollLabelTable
  label.roll-label.surface-2
    span.i18n-text(data-i18n='roll-on-the-table')=translation['roll-on-the-table']
    block

mixin moveListButton(move)
  .button-container
    - const statCheck = move.Triggers.find(trigger => { return trigger["Stat Options"] })
    if move['Progress Move']
      +progressRoll(move, 'roll-show')
    else if statCheck
      +movesRoll(move, 'roll-show')
    else
      |