include ../../rolls/rolls.pug

mixin rollLabel
  label.roll-label Roll
    block

mixin rollListLabel
  label.roll-list-label Roll
    block

mixin rollLabelTable
  label.roll-label Roll on the Table
    block

mixin listButton(move)
  .button-container
    if move['Progress Move']
      +progressRoll(move, 'roll-show')
    else if move.Stats
      +movesRoll(move, 'roll-show')
    else
      |