.charsheet div,
.charsheet p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

div.sheet-Academic,
div.sheet-Crafter,
div.sheet-Daredevil,
div.sheet-NatureAdept,
div.sheet-Seer,
div.sheet-Warrior,
div.sheet-Custom
{
    display: none;
}

input.sheet-Skin[type="radio"][value="1"]:checked ~ div.sheet-Academic,
input.sheet-Skin[type="radio"][value="2"]:checked ~ div.sheet-Crafter,
input.sheet-Skin[type="radio"][value="3"]:checked ~ div.sheet-Daredevil,
input.sheet-Skin[type="radio"][value="4"]:checked ~ div.sheet-NatureAdept,
input.sheet-Skin[type="radio"][value="5"]:checked ~ div.sheet-Seer,
input.sheet-Skin[type="radio"][value="6"]:checked ~ div.sheet-Warrior,
input.sheet-Skin[type="radio"][value="99"]:checked ~ div.sheet-Custom
{
    display: block;
}

select.sheet-SkinSelect 
{
    position: relative;
}

input[type="radio"] 
{
    display: none;
}

input[type="checkbox"] 
{
    margin-bottom:3px;
}

input[class^="sheet-Moves-"] {
    margin-bottom:4px;
}

option.sheet-SkinSelect:checked   
{
    display: none;
}

/* TEXT FORMATTING */

textarea {
    resize:vertical;
}

h1 {
    font-size: 120%;
    font-family:"Tahoma";
    color: black;
    padding-left:30px;
    /*text-shadow: 1px 0 0 #cbb385, 0 1px 0 #cbb385, 0 -1px 0 #cbb385, -1px 0 0 #cbb385;*/
}

label {
    font-weight:normal;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    cursor:pointer;
}

input[type="text"],
input[type="number"],
select {
    background:url("https://i84.servimg.com/u/f84/13/24/51/43/scales10.png");
    background-repeat:no-repeat;
    background-size:cover;
}

.sheet-stat input[type="number"] {
    background:url('https://i84.servimg.com/u/f84/13/24/51/43/token_13.png');
    background-size:auto 100%;
    background-repeat:no-repeat;
    border:none;
    padding-left:12px;
    font-size:13px;
    color:black;
    height:30px
}

/* HR line */

hr.sheet-stat {
    display: block;
    height: 4px;
    border: 0;
    /*border-top: 4px solid #dac590;*/
    border-top: 4px solid black;
    margin: 1em 0;
    padding: 0;
}

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: hover;
}

input[type=number] {
    -moz-appearance: textfield;
}

.sheet-stat button[type="roll"]::before {
    content: "";
    font-size:10px;
}

.sheet-stat button[type="roll"] {
    text-decoration:none;
    border:none;
    background:none;
    border:none;
    box-shadow:none;
    font-size:13px;
    padding:0;
    font-weight:bold;
}

table,
tr,
td {
    border: 1px solid black;
}

.sheet-look input[type="radio"] {
    display: none;
}

.sheet-look input[type=radio]:checked + p {
  text-decoration: none;
}

.sheet-look p {
    font-size: 13px;
    display:inline-block;
    text-decoration: line-through;
    font-weight:normal;
    margin-right:10px;
    margin-bottom:0;
}

.sheet-look label {
    width:20%;
    display:inline-block;
    margin-bottom:0;
}

input[type="checkbox"].sheet-look {
    margin-bottom:3px;
}

input.sheet-house ~ .sheet-house-text {text-decoration:line-through;}

input.sheet-house1:checked ~ .sheet-house-text {text-decoration:none;}
input.sheet-house2:checked ~ .sheet-house-text {text-decoration:none;}

input[type="radio"].sheet-house {
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin:0;
	padding:0;
	display:none;
	width:15%;
	height:75px;
}

img.sheet-house {
    display: inline-block;
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: 0px;
	padding:0;
}

.sheet-house-text {
    display:inline-block;
    width:73%;
    vertical-align:middle;
}

div.sheet-virtue {
    width:25%;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    margin-top:17.5px;
    border:black 3px double;
    padding:10px 0px;
    background:url("https://i84.servimg.com/u/f84/13/24/51/43/scales10.png");
    background-repeat:repeat-y;
    background-size:100%;
}

.sheet-virtue h1 {
    margin-bottom:15px;
    padding-left:0px;
}

.sheet-virtue label {
    text-align:center;
}

input.sheet-virtue ~ .sheet-virtue-text {text-decoration:line-through;}

input.sheet-virtue1:checked ~ .sheet-virtue-text {text-decoration:none;}
input.sheet-virtue2:checked ~ .sheet-virtue-text {text-decoration:none;}

input[type="radio"].sheet-virtue {
    cursor: pointer;	
	position: relative;
	z-index: 9999;
	margin:0;
	padding:0;
	display:none;
}

img.sheet-virtue {
    display: inline-block;
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: 0px;
	padding:0;
}

.sheet-virtue-text {
    display:inline-block;
    width:73%;
    vertical-align:middle;
}

.sheet-shadow label {
    margin:0;
}

.sheet-shadow div {
    width:49%;
    display:inline-block;
}

.sheet-shadow div:nth-child(2n+1) {
    margin-left:3px;
}

.sheet-moves label {
    width:auto;
    display:inline-block;
    padding-right:0;
    margin-bottom:0;
}

div.sheet-mainmove {
    border:black 3px double;
    background:url("https://i84.servimg.com/u/f84/13/24/51/43/scales10.png");
    background-repeat:repeat-y;
    background-size:100%;
    padding:9px;
    padding-bottom:0;
    margin-bottom:9px;
}

div.sheet-dtcolumn {
    width:24%;
    display:inline-block;
    vertical-align:top;
}

.sheet-dtcolumn p {
    margin-bottom:0;
}

.sheet-dtcolumn input[type="text"] {
    width:60%;
    border:none;
    border-radius:0;
    background:none;
    padding:0;
    border-bottom:1px solid black;
    background:url("https://i84.servimg.com/u/f84/13/24/51/43/scales10.png");
    background-repeat:repeat-y;
    background-size:100%;
    margin-bottom:9px;
}

.sheet-nomargin p {
    margin-bottom:0;
}

input[type="text"].sheet-movetitle {
    width:50%;
    height:18px;
    margin:0;
    vertical-align:middle;
    border:none;
    border-radius:0;
    background:none;
    font-weight:bold;
    color:#333;
}

.sheet-moves textarea {
    width:97%;
    height:40px;
    margin:0;
    border:none;
    border-radius:0;
    background:none;
    color:#333;
}

input[type="checkbox"]:disabled {
    cursor:default;
    margin-bottom:0;
}

.sheet-fellowship input[type="text"] {
    width:40%;
    border:none;
    border-radius:0;
    background:none;
    padding:0;
    border-bottom:1px solid black;
    background:url("https://i84.servimg.com/u/f84/13/24/51/43/scales10.png");
    background-repeat:repeat-y;
    background-size:100%;
}

.sheet-advancement label {
    width:15%;
    display:inline-block;
    padding-right:0;
    margin-bottom:0;
    margin-right:10px;
}

.sheet-advancement input[type="checkbox"] {
    font-size:20px;
}

div.sheet-moons {
    text-align:center;
}

.sheet-moons label {
    margin-right:15px;
}

input.sheet-moon {
    display:none;
}

input.sheet-moon ~ .sheet-moon {
    opacity:1;
}

input.sheet-moon:checked ~ .sheet-moon {
    opacity:0.4;
}

.sheet-niveau p:nth-child(1) {
    vertical-align:top;
    height:37px;
    width:33%;
}

.sheet-niveau p:nth-child(1) input.sheet-first {
    margin-left:30px;
}

.sheet-niveau p:nth-child(1) input {
    margin-top:19px;
}

.sheet-niveau3 p:nth-child(1) input,
.sheet-niveau1 p:nth-child(1) input {
    margin-top:0px;
}

.sheet-niveau4 p:nth-child(1) input,
.sheet-niveau5 p:nth-child(1) input {
    margin-top:12px;
}

.sheet-niveau p {
    display:inline-block;
}

.sheet-ritual textarea {
    width:97%;
    height:90px;
    margin:0;
    border:none;
    border-radius:0;
    color:#333;
    background:url("https://i84.servimg.com/u/f84/13/24/51/43/scales10.png");
    background-repeat:repeat-y;
    background-size:100%;
}