
/* latin */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v10/XLYgIZbkc4JPUL5CVArUVL0ntnAOSA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.sheet-bottom-table th{
	font-family: 'Shadows Into Light', cursive;
	color: #000000;
	text-align: center;
	border: none;

	padding-top: 5px;
	 border-collapse: separate;
}

/***********LABELS***********/
.sheet-character-subtable th{
	font-family: 'Special Elite', fantasy, sans-serif;
	color: #FF0000;
	text-align: center;
	border: 4px solid #FF0000;
	text-shadow: 
    3px 0px 4px #FF7777
    /*,3px 3px 3px #FF7777
    ,-3px 0px 3px #FF7777
    ,-3px 3px 3px #FF7777/**/;
	padding-top: 5px;
	transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
	-khtml-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	 border-collapse: separate;
	 
}



.sheet-highlight{	

		text-shadow: 
		 3px 4px 3px yellow,
		 -3px 0px 3px yellow,
		13px 0px 3px yellow,
		 6px 0px 6px yellow,
		16px 0px 6px yellow;
}

.sheet-underline {
text-decoration: none;
    color: #000;
    box-shadow: inset 0 -4px 0 red;
}

/***********INPUTS***********/

.sheet-text-input-big{
	width: 263px;
}
.sheet-text-input-medium{
	width: 200px;
}
.sheet-text-input-small{
	width: 150px;
}
.sheet-input-number{
	width: 35px;
}
input[type="text"], textarea
{
	 background-color: #FFF8DC;
}
/***********TABLES***********/
.sheet-character-table {
	border-radius: 25px;/**/
	 background-color: #FFDEAD;
	 	min-width: 960px;

}
.sheet-character-table td{
	padding: 10px;
	font-family: 'Special Elite', cursive;

}

.sheet-spacer {
	height="25px";
}
.sheet-attribute-value{
	width: 110px;
}

.sheet-character-subtable{
	width: 100%;
	border-spacing: 10px;
  border-collapse: separate;
}

