<div class="wrap-box macros-for-consumption center">
  <div class="shaped-row">
    <div class="col-20">
      //= include abilityChecks.html
    </div>

    <div class="col-20">
      //= include savingThrows.html
    </div>

    <div class="col-20">
      //= include statblock.html
      <div class="mar-t-sm"></div>
      //= include traits.html
      <div class="mar-t-sm"></div>
      //= include attacks.html
      //= include actions.html
      <div class="mar-t-sm npc"></div>
      //= include reactions.html
      <div class="mar-t-sm npc"></div>
      //= include legendaryActions.html
      <div class="mar-t-sm npc"></div>
      //= include lairActions.html
      <div class="mar-t-sm npc"></div>
      //= include regionalEffects.html
    </div>
  </div>

  <div class="wrap-box-title">{{'MACROS' | translate}}</div>
</div>