div(class='tabpage')
    div(class='pageHalf traits')
        h1
            | Virtues
        fieldset(class="repeating_virtue")
            input(type="text" name="attr_Virtue")
            select(name="attr_VirtueType")
                option(value="Vfree" data-i18n="free" selected)
                    | Free
                option(value="Vminor" data-i18n="minor")
                    | Minor
                option(value="Vmajor" data-i18n="major")
                    | Major
                input(type="checkbox" class="button__quill" name="attr_show_expand")
            div(class="expanding_contrast __golden")
                input(type="hidden" class="expand_toggle" name="attr_show_expand")
                div(class="expanding" )
                    textarea(name="attr_VirtueDescription")
        h1
            | Flaws
        fieldset(class="repeating_flaw")
            input(type="text" name="attr_Flaw")
            select(name="attr_FlawType")
                option(value="Vfree" data-i18n="free" selected)
                    | Free
                option(value="Vminor" data-i18n="minor")
                    | Minor
                option(value="Vmajor" data-i18n="major")
                    | Major
            input(type="checkbox" class="button__quill" name="attr_show_expand")
            div(class="expanding_contrast __golden")
                input(type="hidden" class="expand_toggle" name="attr_show_expand")
                div(class="expanding" )
                    textarea(name="attr_VirtueDescription")
    div(class='pageHalf __wide')
        h1 
            | Biography
        div(class="biography")
            .bioTabs 
                button(type="action" name="act_bio-origins" title="%{bio-origins}" value="2")
                    | Origins
                button(type="action" name="act_bio-backgrounds" title="%{bio-backgrounds}" value="3")
                    | Backgrounds
                button(type="action" name="act_bio-magi" title="%{bio-magi}" value="4")
                    | Magi
            div(class="sublabel __extended")
                input(type="text" name="attr_birth_name")
                span(data-i18n="birth-name")
                    | Birth Name
            div(class="sublabel")
                input(type="text" name="attr_year_born" )
                span(data-i18n="year-born")
                    | Birth Name
            div(class="sublabel")
                input(type="text" name="attr_gender" )
                span(data-i18n="gender")
                    | Gender
            div(class="sublabel")
                input(type="text" name="attr_race_nationality" )
                span(data-i18n="race-nationality")
                    | Nationality
            div(class="sublabel")
                input(type="text" name="attr_place-of-origin" )
                span(data-i18n="place-of-origin")
                    | Place of Origin
            div(class="sublabel")
                input(type="text" name="attr_religion" )
                span(data-i18n="religion")
                    | Religion
            div(class="sublabel")
                input(type="text" name="attr_Title_Profession" )
                span(data-i18n="title-profession")
                    | Title/Profession
            each val in ['height', 'weight', 'size', 'handedness', 'hair', 'eyes']
                div(class="sublabel")
                    input(type="text" name=`attr_${val}` )
                    span(data-i18n=`${val}`) = val
        h1 
            | Reputations 
        datalist(id="dlist_reputation")
                option(value="Local")
                option(value="Ecclesiastical")
                option(value="Hermetic")

        fieldset(class="repeating_reputation")
            +roll("Reputation", "Reputation", "Reputation_Score")
            input(type="text" name="attr_Reputation")
            input(type="text" list="dlist_reputation" name="attr_ReputationType")
            +score("Reputation")

        h1 
            | Personality
        fieldset(class="repeating_personality")
            +roll("Personality", "Personality", "Personality_Score")
            input(type="text" name="attr_Personality")
            +score("Personality")
    .pageFull 
        h1(style="padding-left: 12px;")
            | Inventory
        fieldset(class="repeating_item")
            input(type="text" name="attr_item_name" placeholder="[item name]")
            input(type="number" name="attr_item_number" value="0")
            
            input(type="checkbox" class="button__quill" name="attr_show_expand")
            div(class="expanding_contrast __golden")
                input(type="hidden" class="expand_toggle" name="attr_show_expand")
                div(class="expanding large" )
                    textarea(name="attr_item_description")