/* -------------------------------------
Sheet Tabs 
(Shamelessly stolen from the EOTE sheet)
(Seriously, saved my bacon <3<3<3)
------------------------------------- */

div.sheet-tab-content { 
   display: none; 
   border-top:1px solid #ffffff;
   margin-top:2px;
}

input.sheet-tab-character-sheet:checked ~ div.sheet-tab-character-sheet,
input.sheet-tab-ark-sheet:checked ~ div.sheet-tab-ark-sheet,
{                                 
   display: block;
}

input.sheet-tab {
   width: 162px;
   height: 30px;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   border:none;
   outline:none;
   position: relative;
   cursor: pointer;
   z-index: 1;
}

input.sheet-tab::before {
   content: attr(title);

   border:1px solid #ccc;
   border-bottom:1px solid #444;
   border-radius:4px 4px 0 0;
   padding-bottom:1px;
   sheet-text-align: center;
   display: block;
   color:#444;
   width: 160px;
   line-height: 30px;
   font-size: 16px;
   text-align:center
}


input.sheet-tab:active,
input.sheet-tab:focus {
   outline:none;
}

input.sheet-tab:hover::before {
   background:#e3e3e3;
}

input.sheet-tab:checked::before,
input.sheet-tab:checked:hover::before {
   border:1px solid #444;
   border-bottom:1px solid #fff;
   background:#fff;
}

/* -----
Inputs 
----- */

/* General */

input[type='radio']{ 
   margin: 6px;  
}

input[type='text']{
   background-color:#f6eadc;
   margin-left:5px;
   margin-top:3px;
   margin-bottom:3px;
}

input[type='number']{
   margin-top:3px;
   margin-bottom:3px;
   font-weight:bolder;
}

textarea {
   resize:vertical;
}

select {
   width:120px;
   background-color:#f6eadc;
   margin:0;
   padding:0;
   
}

/* Type Number */

.sheet-value {
   background-color:#ECD3B6;
}

.sheet-value-brighter {
   background-color:#f6eadc;
}

.sheet-value-singledigit {
   width:36px !important;
}

.sheet-value-doubledigit {
   width:39px !important;
}

.sheet-value-tripedigit {
   width:50px !important;
}


/* Type Text */

.sheet-textinput-name {
   width: 300px;
}

.sheet-textinput-role {
   width: 205px;
}

.sheet-textinput-skills {
   width: 240px;
}

.sheet-textinput-conditions-mutations-talents {
   width: 285px;
}

.sheet-textinput-armor {
   width: 240px;
}

.sheet-textinput-gear {
   width: 280px;
}

.sheet-textinput-weapons {
   width: 175px;
}

.sheet-textinput-goals {
   width: 495px;
}

.sheet-textinput-pcs {
   width: 505px;
}

.sheet-textinput-arktype {
   width: 300px;
}

.sheet-textinput-coordinates {
   width: 170px;
}

.sheet-textinput-project {
   width: 250px;
}

.sheet-textinput-boss-name {
   width: 240px;
}

.sheet-textinput-boss-type {
   width: 353px;
}

.sheet-textinput-other-info {
   width: 195px;
}

/* Text Area */

.sheet-text-apperance {
   background-color:#f6eadc;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 269px;
   height:46px;
}

.sheet-text-talentmutations {
   background-color:#ECD3B6;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 269px;
   height:40px;
}

.sheet-text-ark-description {
   background-color:#f6eadc;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 5px; 
   width: 589px;
   height:90px;
}

/* ----------------------
Headers, labels and texts
------------------------*/

.sheet-text-header {
   text-align: left;
color: white;
   font-family: fantasy, Impact, Charcoal, sans-serif;
   font-size:large;
   text-indent: 10px;
   height: 30px;
}

.sheet-text-header-smaller {
   text-align: left;
color: white;
   font-family: fantasy, Impact, Charcoal, sans-serif;
   font-size:12;
   text-indent: 6px;
   height: 30px;
}

.sheet-text-stats {
   text-align: left;
   color: black;
   font-family: Tahoma, Geneva, sans-serif;
   font-size:15;
   padding-left:5px;
}

.sheet-text-label {
   text-align: left;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size:12;
   padding-left:5px;
   padding-top: 5px;
   padding-bottom: 5px;
}

/* ---------
Meta Windows
--------- */
.sheet-character-wrapper{
     width:940px; 
}

.sheet-meta1 {
     float:left;
     padding-right:20px;
}

.sheet-meta2 {
     float:left;
     padding-bottom:20px;
     padding-right:20px; 
}

.sheet-meta3 {
     float:left; 
     padding-bottom:20px;     
}

.sheet-meta4 {
     float:left;      
}

.sheet-meta5 {
     float:left;
     padding-bottom:20px;      
}

.sheet-meta6 {
     float:left;      
}

/* ------
Both Tabs
------ */

.sheet-logo { 
   width:950px;
}

/* ------------
Character Sheet
------------ */


.sheet-singlecell {
   width: 300px;
}

.sheet-singlecell-bottompadding {
   width: 300px;  
   padding-bottom:20px; 
}

.sheet-twocell-bottompadding {
   width: 620px; 
   padding-bottom:20px;
}

.sheet-name-role {
   width: 620px;
   float: left; 
   padding-bottom:20px;        
}

.sheet-relationships {
   width: 620px;
}

/* ------
Ark Sheet 
------ */

.sheet-theark {
   width: 620px; 
   padding-right: 20px;
   float:left;
}

.sheet-developmentlevels {
   width: 300px;
   float:left;
}

.sheet-projects {
   width: 940px;
   float:left;
   padding-bottom: 20px;
}

.sheet-bosses {
   width: 620px;
   float:left;
   padding-right: 20px;
}

.sheet-otherinfo {
   width: 300px;
   float:left;
}

/* -------
Row Colors 
------- */

.sheet-row-dark {
   background-color:#D58E43;
}

.sheet-row-light {
   background-color:#ECD3B6;
}

/* --------- 
Table Styles 
--------- */

table {
  border-collapse:collapse;
}

table, th, td {
  border: 1px solid black;
}

.sheet-table-onecolumn{
   width:300px;
}

.sheet-table-twocolumn{
   width:620px;
}

.sheet-table-threecolumn{
   width:940px;
}

.sheet-table-noleft{
   border-left:none;
}

.sheet-table-noright{
   border-right:none;
}

.sheet-table-noleftright{
   border-right:none;
   border-left:none;
}

.sheet-table-notop{
   border-top:none;
}