.editor {
  $this: '.editor';
  height: 100%;
  position: relative;

  &__controller {
    &[value='0'] {
      ~ * #{$this}__view {
        display: grid;
      }
    }
    &[value='on'] {
      ~ * #{$this}__edit {
        display: grid;
      }
    }
  }

  &__wrapper {
    height: 100%;
    position: relative;
  }

  &__view,
  &__edit {
    display: none;
    transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
  }

  &__edit {
    grid-template-rows: 1fr auto;
    column-gap: $gutter-gap;
  }

  &__view {
    label {
      border-top: var(--input-border);
    }
  }

  &__icon {
    margin-inline: $m-md;
  }
  &__toggle {
    transition: 0.1s linear;
    &:hover {
      transform: translateY(-0.2rem);
      // color: $white;
      text-shadow: 0 0.4rem 0.2rem rgb($red, 0.2);
    }
    &:active {
      // transform: rotate(2deg);
      transform: translateY(0.4rem);
    }
  }

  &__close {
    --close-size: 4rem;
    display: inline-flex;
    font-size: 3rem;
    text-decoration: none;
    width: var(--close-size);
    aspect-ratio: 1;
    transition: 0.5s linear;
    position: relative;
    z-index: 1;
    margin: auto;

    &:hover {
      &::before {
        transform: scale(1);
      }
      &::after {
        color: $white;
      }
    }
    &:active {
      transform: translateY(0.4rem);
    }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: var(--close-size);
      aspect-ratio: 1;
      background-color: $red;
      border-radius: 50%;
      z-index: -1;
      transform: scale(0);
      transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
    }
    &::after {
      content: '*';
      font-family: Pictos;
      margin: auto;
      color: $red;
    }
  }
}

.minimizer {
  $this: '.minimizer';
  height: 100%;
  position: relative;

  &__controller {
    // &[value='0'] {
    //   ~ * .panel__content {
    //     height: auto;
    //   }
    // }
    &[value='on'] {
      ~ * .panel__content,
      ~ * .blob__content {
        height: 0;
        margin-top: -100rem;
      }
    }
  }
}
