.sheet-overall-wrapper {
    min-width: 850px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sheet-thirdwidth{
    float:left;
    width:calc(33%-3px);
    margin-left:0px;
    margin-right:0px;
    display:inline-block;
    vertical-align:top;
}

.sheet-twothirdwidth{
    float:left;
    width:calc(66%-3px);
    margin-left:0px;
    margin-right:0px;
    display:inline-block;
    vertical-align:top;
}

.sheet-halfwidth{
    float:left;
    width:calc(50%-2px);
    margin-left:0px;
    margin-right:0px;
    display:inline-block;
    vertical-align:top;
}

.sheet-fullwidth{
    display:block;
    clear:both;
}

.sheet-skillcol{
    float:left;
    width:calc(33%-2px);
    margin-left:0px;
    margin-right:0px;
    display:inline-block;
    vertical-align:top;
}

.sheet-bordersolid{
    border-style: solid;
    border-width: 1px;
}

input[type=number].sheet-ability, input[type=text].sheet-ability, .sheet-5emwidth {
    width: 5em;
}

input[type=number].sheet-score , input[type=text].sheet-score, .sheet-3emwidth {
    width: 3em;
}

input[type=number].sheet-scoredisabled, input[type=text].sheet-scoredisabled {
    width: 2em;
}

input[type=text].sheet-dmgtype{
    width: 2.5em;
}

input[type=text].sheet-dicetype, .sheet-4emwidth{
	width: 4em;
}

input[type=text].sheet-range, select.sheet-range, .sheet-8emwidth{
	width: 8em;
}

input[type=text], .sheet-12emwidth{
	width: 12em;
}

input[type=text], .sheet-10emwidth{
	width: 10em;
}

input[type=text].sheet-16emwidth, .sheet-16emwidth{
	width: 16em;
}

input[type=text].sheet-20emwidth, .sheet-20emwidth{
	width: 20em;
}

.sheet-situation{
	width: 5em;
    height: 2em;
	float:left;
    margin-left:0px;
    margin-right:0px;
    display:inline-block;
    vertical-align:middle;
	text-align: center;
}

textarea {
	width: 28em; height: 6em;
}

textarea.sheet-perks {
	width: 13em; height: 4em;
}

textarea.sheet-bigbox {
	width: 28em; height: 10em;
}

textarea.sheet-smallbox {
	width: 28em; height: 3em;
}

textarea.sheet-fullbox{
	width: 61em;
	height: 10em;
}

.sheet-specskilluntrained::-webkit-input-placeholder{
    color: #0d71bc;
	font-style: italic;
}

.sheet-specskilluntrained{
    color: #0d71bc;
    font-style: italic;
}

.sheet-specskill{
	font-style: italic;
}

.sheet-broadskilluntrained{
	color: #0d71bc;
	font-weight: bold;
}

.sheet-broadskill{
	font-weight: bold;
}

.sheet-skilltitle{
	color: #339966;
	font-weight: bold;
}

.sheet-skilltitle, .sheet-broadskill, .sheet-specskill, .sheet-specskilluntrained, .sheet-broadskilluntrained, .sheet-tablecell, input{
	display: table-cell;
}

.sheet-rowtable{
	display:table-row;
}

.sheet-table {
    display:table;
    width:100%;
}

.sheet-aligncenter{
	text-align: center;
}

.sheet-movement{
	width: 9em;
}

h1{
	font-weight: bold;	
}

 input[disabled]::-webkit-inner-spin-button, 
 input[disabled]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
    -moz-appearance:textfield;
	margin: 0; 
}

/* Main Sheet Tabs */
 div[class^="sheet-section"] { 	
	display: none;
}

 input.sheet-tab1:checked ~ div.sheet-section-core,
 input.sheet-tab2:checked ~ div.sheet-section-skills,
 input.sheet-tab3:checked ~ div.sheet-section-psicyber,
 input.sheet-tab4:checked ~ div.sheet-section-wealthequipment,
 input.sheet-tab5:checked ~ div.sheet-section-customskills,
 input.sheet-tab21:checked ~ div.sheet-section-charactermode,
 input.sheet-tab22:checked ~ div.sheet-section-starshipmode{
	display: block;
    border: 1px solid #a8a8a8;    
}

 input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	display: block;
}

 input.sheet-tab {
    width: 100px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

 span.sheet-tab {
	text-align: center;
    display: inline-block;   
	font-size: 13px;	
	background: #dcdcdc; 
	font-weight: bold;
	border-radius: 4px;
	
	width: 100px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	margin-left: -91px;
    border-bottom-color: #fff;
}

 input.sheet-tab1:checked + span.sheet-tab1,
 input.sheet-tab2:checked + span.sheet-tab2,
 input.sheet-tab3:checked + span.sheet-tab3,
 input.sheet-tab4:checked + span.sheet-tab4,
 input.sheet-tab5:checked + span.sheet-tab5,
 input.sheet-tab21:checked + span.sheet-tab21,
 input.sheet-tab22:checked + span.sheet-tab22{
    background: #339966;
	border-radius: 4px;
}


/* END Main sheet tabs */


/* START Div hide for compartments */

input.sheet-compartment
{
    float: left;
}

input.sheet-compartment ~ div.sheet-compartment
{
    display: none;
}

input.sheet-compartment:checked ~ div.sheet-compartment
{
    display: inline;
}

div.sheet-compartmentcontainer{
	width: 20em;
	height: 10em;
}

/* END Div hide for compartments */