<div class="shaped-row">
  <div class="col-41 vert-middle pad-r-sm">
    <input class="pseudo-disabled" type="text" name="attr_repeating_actions_{{num}}_name">
  </div>
  <div class="col-07 vert-middle pad-r-sm">
    <input class="center pseudo-disabled no-spin" type="number" name="attr_repeating_actions_{{num}}_tohit" value="0">
  </div>
  <div class="col-20 vert-middle pad-r-sm">
    <input class="center pseudo-disabled" type="text" name="attr_repeating_actions_{{num}}_dmg" value="0">
  </div>
  <div class="col-10 vert-middle pad-r-sm">
    <input class="center pseudo-disabled" type="text" name="attr_repeating_actions_{{num}}_reach">
  </div>
  <div class="col-15 vert-middle pad-r-sm">
    <input class="center pseudo-disabled" type="text" name="attr_repeating_actions_{{num}}_range">
  </div>
  <div class="col-07 vert-middle">
    <button type="roll" name="roll_repeating_actions_{{num}}_action"
            value="@{output_option} &{template:5eDefault} {{action=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_actions_{{num}}_name}}} {{action_type=@{repeating_actions_{{num}}_type}}} @{repeating_actions_{{num}}_toggle_emote} @{repeating_actions_{{num}}_toggle_attack} @{repeating_actions_{{num}}_toggle_crit} @{repeating_actions_{{num}}_toggle_details} @{repeating_actions_{{num}}_toggle_reach} @{repeating_actions_{{num}}_toggle_range} @{repeating_actions_{{num}}_toggle_target} @{repeating_actions_{{num}}_toggle_damage} @{repeating_actions_{{num}}_toggle_alt_damage} @{repeating_actions_{{num}}_toggle_second_damage} @{repeating_actions_{{num}}_toggle_save} @{repeating_actions_{{num}}_toggle_save_damage} @{repeating_actions_{{num}}_toggle_effects} @{repeating_actions_{{num}}_toggle_recharge} @{hide_gm_info}"></button>
  </div>
</div>