<div class="shaped-row sub-header">
  <div class="col-41 center small-label sub-header">
    <span class="en">Actions</span>
    <span class="de">Aktionen</span>
    <span class="fr">Actions</span>
    <span class="ru">Действия</span>
  </div>
  <div class="col-07 center small-label sub-header">
    <span class="en">Hit</span>
    <span class="de">Tref.</span>
    <span class="fr">Atq</span>
    <span class="ru">Атака</span>
  </div>
  <div class="col-20 center small-label sub-header">
    <span class="en">Dmg</span>
    <span class="de">Scha.</span>
    <span class="fr">Dmg</span>
    <span class="ru">Урон</span>
  </div>
  <div class="col-10 center small-label sub-header">
    <span class="en">Reach</span>
    <span class="de">Reichw.</span>
    <span class="fr">Allon.</span>
    <span class="ru">Длина</span>
  </div>
  <div class="col-19 center small-label sub-header">
    <span class="en">Range</span>
    <span class="de">Reichw.</span>
    <span class="fr">Portée</span>
    <span class="ru">Дальность</span>
  </div>
</div>
<!-- inject:quickActions:html -->
<!-- endinject -->
