<div class="sheet-shaped-row sheet-sub-header">
  <div class="sheet-col-41 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Actions</span>
    <span class="sheet-de">Aktionen</span>
    <span class="sheet-fr">Actions</span>
    <span class="sheet-ru">Действия</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Hit</span>
    <span class="sheet-de">Tref.</span>
    <span class="sheet-fr">Atq</span>
    <span class="sheet-ru">Атака</span>
  </div>
  <div class="sheet-col-20 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Dmg</span>
    <span class="sheet-de">Scha.</span>
    <span class="sheet-fr">Dmg</span>
    <span class="sheet-ru">Урон</span>
  </div>
  <div class="sheet-col-10 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Reach</span>
    <span class="sheet-de">Reichw.</span>
    <span class="sheet-fr">Allon.</span>
    <span class="sheet-ru">Длина</span>
  </div>
  <div class="sheet-col-19 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Range</span>
    <span class="sheet-de">Reichw.</span>
    <span class="sheet-fr">Portée</span>
    <span class="sheet-ru">Дальность</span>
  </div>
</div>
<!-- inject:quickActions:html -->
<!-- endinject -->
