<div class="sheet-row sheet-sub-header">
  <div class="sheet-col-39 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Melee</span>
    <span class="sheet-german">Nahkampf</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Hit</span>
    <span class="sheet-german">Tref.</span>
  </div>
  <div class="sheet-col-12 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Dmg</span>
    <span class="sheet-german">Scha.</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span>+</span>
  </div>
  <div class="sheet-col-10 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Reach</span>
    <span class="sheet-german">Reichw.</span>
  </div>
</div>
<!-- inject:quickMelee:html -->
<!-- endinject -->