<div class="shaped-row">
  <div class="col-39 vert-middle pad-r-sm">
    <input class="pseudo-disabled" type="text" name="attr_repeating_attacks_melee_{{num}}_name">
  </div>
  <div class="col-07 vert-middle pad-r-sm">
    <input class="center pseudo-disabled no-spin" type="number" name="attr_repeating_attacks_melee_{{num}}_to_hit" value="@{repeating_attacks_melee_{{num}}_proficient} + @{repeating_attacks_melee_{{num}}_attack_stat} + (@{repeating_attacks_melee_{{num}}_attack_bonus} * @{repeating_attacks_melee_{{num}}_toggle_bonuses})" disabled>
  </div>
  <div class="col-12 vert-middle pad-r-sm">
    <input class="center pseudo-disabled" type="text" name="attr_repeating_attacks_melee_{{num}}_dmg" value="0">
  </div>
  <div class="col-07 vert-middle pad-r-sm">
    <input class="center" type="number" name="attr_repeating_attacks_melee_{{num}}_dmg_total" value="@{repeating_attacks_melee_{{num}}_dmg_stat} + (@{repeating_attacks_melee_{{num}}_dmg_bonus} * @{repeating_attacks_melee_{{num}}_toggle_bonuses})" disabled>
  </div>
  <div class="col-10 vert-middle pad-r-sm">
    <input class="center pseudo-disabled" type="text" name="attr_repeating_attacks_melee_{{num}}_reach">
  </div>
  <div class="col-05"></div>
  <div class="col-13"></div>
  <div class="col-07 vert-middle">
    <button type="roll" name="roll_repeating_attacks_melee_{{num}}_weapon"
            value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_attacks_melee_{{num}}_name}}} {{action=1}} {{action_type=Melee}} @{classactionmeleeweapon} @{repeating_attacks_melee_{{num}}_toggle_emote} @{repeating_attacks_melee_{{num}}_toggle_attack} @{repeating_attacks_melee_{{num}}_toggle_crit} @{repeating_attacks_melee_{{num}}_toggle_reach} @{repeating_attacks_melee_{{num}}_toggle_range} @{repeating_attacks_melee_{{num}}_toggle_ammo} @{repeating_attacks_melee_{{num}}_toggle_damage} @{repeating_attacks_melee_{{num}}_toggle_alt_damage} @{repeating_attacks_melee_{{num}}_toggle_second_damage}">
  </div>
</div>
