  <div class="sheet-row sheet-sub-header">
  <div class="sheet-col-27 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Melee</span>
    <span class="sheet-german">Nahkampf</span>
  </div>
  <div class="sheet-col-1-16 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Hit</span>
    <span class="sheet-german">Hit<!--TODO--></span>
  </div>
  <div class="sheet-col-1-8 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Dmg</span>
    <span class="sheet-german">Dmg<!--TODO--></span>
  </div>
  <div class="sheet-col-1-16 sheet-center sheet-small-label sheet-sub-header">
    <span>+</span>
  </div>
  <div class="sheet-col-1-10 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Reach</span>
    <span class="sheet-german">Reichw.</span>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_0_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_0_to_hit" value="@{repeating_weapons_melee_0_proficient} + @{repeating_weapons_melee_0_attack_stat} + @{repeating_weapons_melee_0_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_0_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_0_dmg_total" value="@{repeating_weapons_melee_0_dmg_stat} + @{repeating_weapons_melee_0_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_0_reach">
  </div>
  <div class="sheet-col-19"></div>
  <div class="sheet-col-1-7"></div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_melee_0_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_melee_0_name}}} {{melee=1}} @{repeating_weapons_melee_0_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_1_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_1_to_hit" value="@{repeating_weapons_melee_1_proficient} + @{repeating_weapons_melee_1_attack_stat} + @{repeating_weapons_melee_1_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_1_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_1_dmg_total" value="@{repeating_weapons_melee_1_dmg_stat} + @{repeating_weapons_melee_1_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_1_reach">
  </div>
  <div class="sheet-col-19"></div>
  <div class="sheet-col-1-7"></div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_melee_1_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_melee_1_name}}} {{melee=1}} @{repeating_weapons_melee_1_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_2_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_2_to_hit" value="@{repeating_weapons_melee_2_proficient} + @{repeating_weapons_melee_2_attack_stat} + @{repeating_weapons_melee_2_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_2_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_2_dmg_total" value="@{repeating_weapons_melee_2_dmg_stat} + @{repeating_weapons_melee_2_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_2_reach">
  </div>
  <div class="sheet-col-19"></div>
  <div class="sheet-col-1-7"></div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_melee_2_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_melee_2_name}}} {{melee=1}} @{repeating_weapons_melee_2_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_3_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_3_to_hit" value="@{repeating_weapons_melee_3_proficient} + @{repeating_weapons_melee_3_attack_stat} + @{repeating_weapons_melee_3_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_3_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_3_dmg_total" value="@{repeating_weapons_melee_3_dmg_stat} + @{repeating_weapons_melee_3_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_3_reach">
  </div>
  <div class="sheet-col-19"></div>
  <div class="sheet-col-1-7"></div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_melee_3_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_melee_3_name}}} {{melee=1}} @{repeating_weapons_melee_3_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_4_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_4_to_hit" value="@{repeating_weapons_melee_4_proficient} + @{repeating_weapons_melee_4_attack_stat} + @{repeating_weapons_melee_4_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_4_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_4_dmg_total" value="@{repeating_weapons_melee_4_dmg_stat} + @{repeating_weapons_melee_4_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_4_reach">
  </div>
  <div class="sheet-col-19"></div>
  <div class="sheet-col-1-7"></div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_melee_4_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_melee_4_name}}} {{melee=1}} @{repeating_weapons_melee_4_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_5_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_5_to_hit" value="@{repeating_weapons_melee_5_proficient} + @{repeating_weapons_melee_5_attack_stat} + @{repeating_weapons_melee_5_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_5_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_melee_5_dmg_total" value="@{repeating_weapons_melee_5_dmg_stat} + @{repeating_weapons_melee_5_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_melee_5_reach">
  </div>
  <div class="sheet-col-19"></div>
  <div class="sheet-col-1-7"></div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_melee_5_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_melee_5_name}}} {{melee=1}} @{repeating_weapons_melee_5_macro_options}"></button>
  </div>
</div>