<div class="sheet-row">
  <div class="sheet-col-3545 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_ranged_{{num}}_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_ranged_{{num}}_to_hit" value="@{repeating_weapons_ranged_{{num}}_proficient} + @{repeating_weapons_ranged_{{num}}_attack_stat} + @{repeating_weapons_ranged_{{num}}_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_ranged_{{num}}_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_ranged_{{num}}_dmg_total" value="@{repeating_weapons_ranged_{{num}}_dmg_stat} + @{repeating_weapons_ranged_{{num}}_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-19 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_ranged_{{num}}_range">
  </div>
  <div class="sheet-col-1-7 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_ammo" min="0" value="1">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_ranged_{{num}}_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_ranged_{{num}}_name}}} {{ranged=1}} @{repeating_weapons_ranged_{{num}}_macro_options}\n@{repeating_weapons_ranged_{{num}}_macro}"></button>
  </div>
</div>