  <div class="sheet-row sheet-sub-header">
  <div class="sheet-col-3545 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Ranged</span>
    <span class="sheet-german">Fernkampf</span>
  </div>
  <div class="sheet-col-1-16 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Hit</span>
    <span class="sheet-german">Hit<!--TODO--></span>
  </div>
  <div class="sheet-col-1-8 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Dmg</span>
    <span class="sheet-german">Dmg<!--TODO--></span>
  </div>
  <div class="sheet-col-1-16 sheet-center sheet-small-label sheet-sub-header">
    <span>+</span>
  </div>
  <div class="sheet-col-19 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Range</span>
    <span class="sheet-german">Reichw.</span>
  </div>
  <div class="sheet-col-1-7 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Ammo</span>
    <span class="sheet-german">Mun.</span>
  </div>
</div>
<!-- inject:quickRanged:html -->
<!-- endinject -->