<div class="sheet-row sheet-sub-header">
  <div class="sheet-col-39 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Ranged</span>
    <span class="sheet-german">Fernkampf</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Hit</span>
    <span class="sheet-german">Tref.</span>
  </div>
  <div class="sheet-col-12 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Dmg</span>
    <span class="sheet-german">Scha.</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span>+</span>
  </div>
  <div class="sheet-col-15 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Range</span>
    <span class="sheet-german">Reichw.</span>
  </div>
  <div class="sheet-col-15 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Ammo</span>
    <span class="sheet-german">Mun.</span>
  </div>
</div>
<!-- inject:quickRanged:html -->
<!-- endinject -->