<div class="shaped-row sub-header">
  <div class="col-39 center small-label sub-header">
    <span class="en">Ranged</span>
    <span class="de">Fernkampf</span>
    <span class="fr">Tir</span>
    <span class="ru">Дистанц</span>
  </div>
  <div class="col-07 center small-label sub-header">
    <span class="en">Hit</span>
    <span class="de">Tref.</span>
    <span class="fr">Atq</span>
    <span class="ru">Атака</span>
  </div>
  <div class="col-12 center small-label sub-header">
    <span class="en">Dmg</span>
    <span class="de">Scha.</span>
    <span class="fr">Dmg</span>
    <span class="ru">Урон</span>
  </div>
  <div class="col-07 center small-label sub-header">
    <span>+</span>
  </div>
  <div class="col-15 center small-label sub-header">
    <span class="en">Range</span>
    <span class="de">Reichw.</span>
    <span class="fr">Portée</span>
    <span class="ru">Дальность</span>
  </div>
  <div class="col-15 center small-label sub-header">
    <span class="en">Ammo</span>
    <span class="de">Mun.</span>
    <span class="fr">Mun</span>
    <span class="ru">Боепр</span>
  </div>
</div>
<!-- inject:quickRanged:html -->
<!-- endinject -->
