<div class="sheet-row sheet-sub-header">
  <div class="sheet-col-27 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Thrown</span>
    <span class="sheet-german">Geworfen</span>
  </div>
  <div class="sheet-col-1-16 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Hit</span>
    <span class="sheet-german">Hit<!--TODO--></span>
  </div>
  <div class="sheet-col-1-8 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Dmg</span>
    <span class="sheet-german">Dmg<!--TODO--></span>
  </div>
  <div class="sheet-col-1-16 sheet-center sheet-small-label sheet-sub-header">
    <span>+</span>
  </div>
  <div class="sheet-col-1-10 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Reach</span>
    <span class="sheet-german">Reichw.</span>
  </div>
  <div class="sheet-col-19 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Range</span>
    <span class="sheet-german">Reichw.</span>
  </div>
  <div class="sheet-col-1-7 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-english">Ammo</span>
    <span class="sheet-german">Mun.</span>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_0_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_0_to_hit" value="@{repeating_weapons_thrown_0_proficient} + @{repeating_weapons_thrown_0_attack_stat} + @{repeating_weapons_thrown_0_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_0_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_0_dmg_total" value="@{repeating_weapons_thrown_0_dmg_stat} + @{repeating_weapons_thrown_0_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_0_reach">
  </div>
  <div class="sheet-col-19 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_0_range">
  </div>
  <div class="sheet-col-1-7 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_thrown_0_ammo" min="0" value="1">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_thrown_0_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_thrown_0_name}}} {{thrown=1}} @{repeating_weapons_thrown_0_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_1_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_1_to_hit" value="@{repeating_weapons_thrown_1_proficient} + @{repeating_weapons_thrown_1_attack_stat} + @{repeating_weapons_thrown_1_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_1_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_1_dmg_total" value="@{repeating_weapons_thrown_1_dmg_stat} + @{repeating_weapons_thrown_1_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_1_reach">
  </div>
  <div class="sheet-col-19 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_1_range">
  </div>
  <div class="sheet-col-1-7 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_thrown_1_ammo" min="0" value="1">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_thrown_1_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_thrown_1_name}}} {{thrown=1}} @{repeating_weapons_thrown_1_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_2_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_2_to_hit" value="@{repeating_weapons_thrown_2_proficient} + @{repeating_weapons_thrown_2_attack_stat} + @{repeating_weapons_thrown_2_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_2_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_2_dmg_total" value="@{repeating_weapons_thrown_2_dmg_stat} + @{repeating_weapons_thrown_2_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_2_reach">
  </div>
  <div class="sheet-col-19 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_2_range">
  </div>
  <div class="sheet-col-1-7 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_thrown_2_ammo" min="0" value="1">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_thrown_2_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_thrown_2_name}}} {{thrown=1}} @{repeating_weapons_thrown_2_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_3_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_3_to_hit" value="@{repeating_weapons_thrown_3_proficient} + @{repeating_weapons_thrown_3_attack_stat} + @{repeating_weapons_thrown_3_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_3_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_3_dmg_total" value="@{repeating_weapons_thrown_3_dmg_stat} + @{repeating_weapons_thrown_3_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_3_reach">
  </div>
  <div class="sheet-col-19 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_3_range">
  </div>
  <div class="sheet-col-1-7 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_thrown_3_ammo" min="0" value="1">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_thrown_3_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_thrown_3_name}}} {{thrown=1}} @{repeating_weapons_thrown_3_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_4_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_4_to_hit" value="@{repeating_weapons_thrown_4_proficient} + @{repeating_weapons_thrown_4_attack_stat} + @{repeating_weapons_thrown_4_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_4_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_4_dmg_total" value="@{repeating_weapons_thrown_4_dmg_stat} + @{repeating_weapons_thrown_4_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_4_reach">
  </div>
  <div class="sheet-col-19 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_4_range">
  </div>
  <div class="sheet-col-1-7 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_thrown_4_ammo" min="0" value="1">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_thrown_4_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_thrown_4_name}}} {{thrown=1}} @{repeating_weapons_thrown_4_macro_options}"></button>
  </div>
</div>
<div class="sheet-row">
  <div class="sheet-col-27 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_5_name">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_5_to_hit" value="@{repeating_weapons_thrown_5_proficient} + @{repeating_weapons_thrown_5_attack_stat} + @{repeating_weapons_thrown_5_attack_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-8 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_5_dmg" value="0">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="number" name="attr_repeating_weapons_thrown_5_dmg_total" value="@{repeating_weapons_thrown_5_dmg_stat} + @{repeating_weapons_thrown_5_dmg_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-1-10 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_5_reach">
  </div>
  <div class="sheet-col-19 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_thrown_5_range">
  </div>
  <div class="sheet-col-1-7 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_thrown_5_ammo" min="0" value="1">
  </div>
  <div class="sheet-col-1-16 sheet-vert-middle">
    <button type="roll" class="sheet-roll" name="roll_repeating_weapons_thrown_5_weapon" value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_thrown_5_name}}} {{thrown=1}} @{repeating_weapons_thrown_5_macro_options}"></button>
  </div>
</div>