

//- Object that will be persisted to the sheet
- arm5.pug.sheet_data = {};

mixin sheetworker_helpers_data_persistance()
    //- arm5 object is created at the very top of the script tag
    //- just after k-scaffold source code
    | 
    | 
    | // Data that was created during sheet building and persisted
    | arm5.sheet.data = !{JSON.stringify(arm5.pug.sheet_data, null, 2)};