<input type="hidden" name="attr_finesse_mod">

<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_strength_check_mod">

  <button type="roll" name="roll_strength_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Ability Check}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{strength_check_mod}]]}} @{roll_setting}@{d20_mod} + @{strength_check_mod}]]}} @{attacher_strength_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.strength.NAME' | translate}}</span>
      <input type="hidden" name="attr_strength_mod">
      <span name="attr_strength_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>
  <div class="ability-score-wrapper">
    <input type="number" name="attr_strength" class="no-spin no-border" min="1" step="1">
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_dexterity_check_mod">

  <button type="roll" name="roll_dexterity_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Ability check}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{dexterity_check_mod}]]}} @{roll_setting}@{d20_mod} + @{dexterity_check_mod}]]}} @{attacher_dexterity_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.dexterity.NAME' | translate}}</span>
      <input type="hidden" name="attr_dexterity_mod">
      <span name="attr_dexterity_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="ability-score-wrapper">
    <input type="number" name="attr_dexterity" class="no-spin no-border" min="1" step="1">
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_constitution_check_mod">

  <button type="roll" name="roll_constitution_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Ability check}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{constitution_check_mod}]]}} @{roll_setting}@{d20_mod} + @{constitution_check_mod}]]}} @{attacher_constitution_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.constitution.NAME' | translate}}</span>
      <input type="hidden" name="attr_constitution_mod">
      <span name="attr_constitution_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="ability-score-wrapper">
    <input type="number" name="attr_constitution" class="no-spin no-border" min="1" step="1">
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_intelligence_check_mod">

  <button type="roll" name="roll_intelligence_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Ability check}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{intelligence_check_mod}]]}} @{roll_setting}@{d20_mod} + @{intelligence_check_mod}]]}} @{attacher_intelligence_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.intelligence.NAME' | translate}}</span>
      <input type="hidden" name="attr_intelligence_mod">
      <span name="attr_intelligence_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="ability-score-wrapper">
    <input type="number" name="attr_intelligence" class="no-spin no-border" min="1" step="1">
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_wisdom_check_mod">

  <button type="roll" name="roll_wisdom_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Ability check}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{wisdom_check_mod}]]}} @{roll_setting}@{d20_mod} + @{wisdom_check_mod}]]}} @{attacher_wisdom_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.wisdom.NAME' | translate}}</span>
      <input type="hidden" name="attr_wisdom_mod">
      <span name="attr_wisdom_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="ability-score-wrapper">
    <input type="number" name="attr_wisdom" class="no-spin no-border" min="1" step="1">
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_charisma_check_mod">

  <button type="roll" name="roll_charisma_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Ability check}} {{roll_toggle=1}} {{roll1=[[d20@{d20_mod} + @{charisma_check_mod}]]}} @{roll_setting}@{d20_mod} + @{charisma_check_mod}]]}} @{attacher_charisma_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.charisma.NAME' | translate}}</span>
      <input type="hidden" name="attr_charisma_mod">
      <span name="attr_charisma_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="ability-score-wrapper">
    <input type="number" name="attr_charisma" class="no-spin no-border" min="1" step="1">
  </div>
</div>