<input type="hidden" name="attr_finesse_mod">

<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_strength_check_mod_formula">

  <button type="roll" name="roll_strength_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Ability Check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{strength_check_mod_formula}]]}} @{roll_setting}@{d20_mod} + @{strength_check_mod_formula}]]}} @{attacher_strength_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.strength.NAME' | translate}}</span>
      <input type="hidden" name="attr_strength_mod">
      <span name="attr_strength_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span>{{'CHECK' | translate}}</span>
    <div>+</div>
    <div>
      <input type="number" name="attr_strength_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_strength_check_mod"></span>
  </div>

  <div class="ability-score-wrapper">
    <span name="attr_strength_calculated" class="presentation small-label"></span>
    <div class="edit shaped-row no-wrap vert-center">
      <div>
        <input type="number" name="attr_strength" class="no-spin no-border" min="1" step="1">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_strength_bonus" class="no-spin no-border" value="0" step="1">
      </div>
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_dexterity_check_mod_formula">

  <button type="roll" name="roll_dexterity_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{dexterity_check_mod_formula}]]}} @{roll_setting}@{d20_mod} + @{dexterity_check_mod_formula}]]}} @{attacher_dexterity_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.dexterity.NAME' | translate}}</span>
      <input type="hidden" name="attr_dexterity_mod">
      <span name="attr_dexterity_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span>{{'CHECK' | translate}}</span>
    <div>+</div>
    <div>
      <input type="number" name="attr_dexterity_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_dexterity_check_mod"></span>
  </div>

  <div class="ability-score-wrapper">
    <span name="attr_dexterity_calculated" class="presentation small-label"></span>
    <div class="edit shaped-row no-wrap vert-center">
      <div>
        <input type="number" name="attr_dexterity" class="no-spin no-border" min="1" step="1">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_dexterity_bonus" class="no-spin no-border" value="0" step="1">
      </div>
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_constitution_check_mod_formula">

  <button type="roll" name="roll_constitution_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{constitution_check_mod_formula}]]}} @{roll_setting}@{d20_mod} + @{constitution_check_mod_formula}]]}} @{attacher_constitution_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.constitution.NAME' | translate}}</span>
      <input type="hidden" name="attr_constitution_mod">
      <span name="attr_constitution_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span>{{'CHECK' | translate}}</span>
    <div>+</div>
    <div>
      <input type="number" name="attr_constitution_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_constitution_check_mod"></span>
  </div>

  <div class="ability-score-wrapper">
    <span name="attr_constitution_calculated" class="presentation small-label"></span>
    <div class="edit shaped-row no-wrap vert-center">
      <div>
        <input type="number" name="attr_constitution" class="no-spin no-border" min="1" step="1">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_constitution_bonus" class="no-spin no-border" value="0" step="1">
      </div>
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_intelligence_check_mod_formula">

  <button type="roll" name="roll_intelligence_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{intelligence_check_mod_formula}]]}} @{roll_setting}@{d20_mod} + @{intelligence_check_mod_formula}]]}} @{attacher_intelligence_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.intelligence.NAME' | translate}}</span>
      <input type="hidden" name="attr_intelligence_mod">
      <span name="attr_intelligence_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span>{{'CHECK' | translate}}</span>
    <div>+</div>
    <div>
      <input type="number" name="attr_intelligence_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_intelligence_check_mod"></span>
  </div>

  <div class="ability-score-wrapper">
    <span name="attr_intelligence_calculated" class="presentation small-label"></span>
    <div class="edit shaped-row no-wrap vert-center">
      <div>
        <input type="number" name="attr_intelligence" class="no-spin no-border" min="1" step="1">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_intelligence_bonus" class="no-spin no-border" value="0" step="1">
      </div>
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_wisdom_check_mod_formula">

  <button type="roll" name="roll_wisdom_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{wisdom_check_mod_formula}]]}} @{roll_setting}@{d20_mod} + @{wisdom_check_mod_formula}]]}} @{attacher_wisdom_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.wisdom.NAME' | translate}}</span>
      <input type="hidden" name="attr_wisdom_mod">
      <span name="attr_wisdom_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span>{{'CHECK' | translate}}</span>
    <div>+</div>
    <div>
      <input type="number" name="attr_wisdom_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_wisdom_check_mod"></span>
  </div>

  <div class="ability-score-wrapper">
    <span name="attr_wisdom_calculated" class="presentation small-label"></span>
    <div class="edit shaped-row no-wrap vert-center">
      <div>
        <input type="number" name="attr_wisdom" class="no-spin no-border" min="1" step="1">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_wisdom_bonus" class="no-spin no-border" value="0" step="1">
      </div>
    </div>
  </div>
</div>
<div class="ability-wrapper wrap-box center">
  <input type="hidden" name="attr_charisma_check_mod_formula">

  <button type="roll" name="roll_charisma_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{charisma_check_mod_formula}]]}} @{roll_setting}@{d20_mod} + @{charisma_check_mod_formula}]]}} @{attacher_charisma_check}" tabindex="-1">
    <div>
      <span class="ability-name">{{'ABILITIES.charisma.NAME' | translate}}</span>
      <input type="hidden" name="attr_charisma_mod">
      <span name="attr_charisma_mod_with_sign" class="ability-modifier block center"></span>
    </div>
  </button>

  <div class="edit shaped-row no-wrap vert-center small-label">
    <span>{{'CHECK' | translate}}</span>
    <div>+</div>
    <div>
      <input type="number" name="attr_charisma_check_bonus" class="no-spin no-border" value="0" step="1">
    </div>
    <div>=</div>
    <span class="mar-l-sm" name="attr_charisma_check_mod"></span>
  </div>

  <div class="ability-score-wrapper">
    <span name="attr_charisma_calculated" class="presentation small-label"></span>
    <div class="edit shaped-row no-wrap vert-center">
      <div>
        <input type="number" name="attr_charisma" class="no-spin no-border" min="1" step="1">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_charisma_bonus" class="no-spin no-border" value="0" step="1">
      </div>
    </div>
  </div>
</div>