<div class="shaped-row center">
  <div class="col-33 center">
    <button type="roll" name="roll_ac" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=AC}} {{text_big=[[@{ac}]]}}">
      <div class="shield">
        <span name="attr_ac" class="big-text bold block center"></span>
        <div class="wrap-box-title center">{{'ARMOR_CLASS' | translate}}</div>
      </div>
    </button>
  </div>
  <div class="col-34 center">
    <button type="roll" name="roll_initiative" value="@{initiative_output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Initiative}} {{subheader=Ability Check}} {{roll_toggle=1}} {{only_roll_1=1}} @{initiative_roll}@{d20_mod} + @{initiative_to_tracker} + @{initiative_tie_breaker}]]}} @{attacher_initiative}">
      <div class="wrap-box initiative">
        <input type="hidden" name="attr_initiative_formula">
        <span name="attr_initiative" class="big-text bold block center initiative-total"></span>

        <div class="wrap-box-title">{{'INITIATIVE' | translate}}</div>
      </div>
    </button>
  </div>
  <div class="col-33 center pad-l-md">
    <div class="wrap-box center speed">
      <input type="number" name="attr_speed" class="big-text bold center no-spin no-border" step="1">
      <button type="roll" name="roll_speed" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Speed}} {{text_big=[[@{speed}]]}}">
        <div class="wrap-box-title">{{'SPEED' | translate}}</div>
      </button>
    </div>
  </div>
</div>