<div class="wrap-box personality-traits center mar-b-sm">
  <textarea class="three-line-textarea background-textarea no-border" name="attr_personality_traits"></textarea>

  <button type="roll" name="roll_personality_traits" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Personality Traits}} {{text=@{personality_traits}}}">
    <div class="wrap-box-title center">{{'PERSONALITY_TRAITS' | translate}}</div>
  </button>
</div>
<div class="wrap-box ideals center mar-b-sm">
  <textarea class="three-line-textarea background-textarea no-border" name="attr_ideals"></textarea>

  <button type="roll" name="roll_ideals" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Ideals}} {{text=@{ideals}}}">
    <div class="wrap-box-title center">{{'IDEALS' | translate}}</div>
  </button>
</div>
<div class="wrap-box bonds center mar-b-sm">
  <textarea class="three-line-textarea background-textarea no-border" name="attr_bonds"></textarea>

  <button type="roll" name="roll_bonds" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Bonds}} {{text=@{bonds}}}">
    <div class="wrap-box-title center">{{'BONDS' | translate}}</div>
  </button>
</div>
<div class="wrap-box flaws center mar-b-smd">
  <textarea class="three-line-textarea background-textarea no-border" name="attr_flaws"></textarea>

  <button type="roll" name="roll_flaws" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Flaws}} {{text=@{flaws}}}">
    <div class="wrap-box-title center">{{'FLAWS' | translate}}</div>
  </button>
</div>