<div class="section-core pc">
  <div class="shaped-row">
    <div class="col-29 pad-r-sm">
      <div class="shaped-row mar-b-smd">
        <div class="col-31 pad-r-sm">
          //= include abilities.html
        </div>
        <div class="col-69 pad-l-sm">
          //= include inspiration.html
          //= include proficiency.html
          //= include savingThrows.html
          //= include skills.html
        </div>
      </div>
      <div>
        //= include languagesProficiencies.html
      </div>
    </div>
    <div class="col-42 pad-l-sm pad-r-sm">
      <div class="shaped-row">
        <div class="col-60 pad-r-sm">
          //= include armorInit.html
          //= include hitPoints.html
          <div class="shaped-row">
            <div class="col-37 pad-r-sm">
              //= include hitDice.html
            </div>
            <div class="col-63 pad-l-sm">
              //= include deathSaves.html
            </div>
          </div>
        </div>
        <div class="col-40 pad-l-sm">
          <div class="resistances-immunities wrap-box mar-b-smd">
            //= include resistancesVulnerabilities.html
            <div class="wrap-box-title center">{{'RESISTANCES_AND_IMMUNITIES' | translate}}</div>
          </div>
          //= include exhaustion.html
          //= include ../spells/spellSlots.html
          <div class="important-text small-label mar-t-sm mar-b-sm">Class Features are merged into Features & Traits</div>
        </div>
      </div>
      <div>
        //= include attacks.html
      </div>
      <div>
        //= include equipment.html
      </div>
    </div>
    <div class="col-29 pad-l-sm">
      //= include background.html
      //= include traits.html
    </div>
  </div>
</div>
