<div class="wrap-box mar-b-smd">
  <div class="shaped-row">
    <div class="col-20 pad-r-lg">
      //= include ../equipment/coins.html
    </div>
    <div class="col-80 pad-l-lg">
      <fieldset class="repeating_equipment">
        <div class="shaped-row">
          <div class="col-10 center vert-middle">
            <input type="checkbox" name="attr_carried" checked>
          </div>
          <div class="col-72 pad-r-sm">
            <input type="text" name="attr_name">
          </div>
          <div class="col-18 pad-r-sm">
            <input type="number" name="attr_qty" value="1" min="0" step="1">
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="wrap-box-title center">{{'EQUIPMENT' | translate}}</div>
</div>
