<div class="wrap-box">
  <div class="shaped-row">
    <div class="col-22">
      //= include ../equipment/coins.html
    </div>
    <div class="col-78 core-equipment pad-l-sm">
      <div>
        <div class="shaped-row">
          <div class="col-10"></div>
          <div class="col-72 wrap-box-label light-label pad-r-sm">{{'ARMOR' | translate}}</div>
          <div class="col-18 wrap-box-label light-label center">{{'AC' | translate}}</div>
        </div>
        <fieldset class="repeating_armor">
          <div class="shaped-row compendium-drop-target vert-center">
            <div class="col-10 center">
              <input type="checkbox" name="attr_worn" checked>
            </div>
            <div class="col-72 pad-r-sm">
              <button type="roll" name="roll_armor" class="wrapper-button" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{subheader=Armor}} {{text_top=AC [[@{ac_base}[ac] + @{ac_bonus}[bonus ac]]]}} {{text=@{type}; Strength @{strength_requirements}; @{stealth}}}">
                <span name="attr_name"></span>
              </button>
              <input type="hidden" name="attr_name" accept="Name">
              <input type="hidden" name="attr_type" accept="Item Type">
              <input type="hidden" name="attr_ac_base" accept="AC">
              <input type="hidden" name="attr_ac_bonus">
              <input type="hidden" name="attr_modifiers" accept="Modifiers">
              <input type="hidden" name="attr_strength_requirements">
              <input type="hidden" name="attr_stealth" accept="Stealth">
              <input type="hidden" name="attr_weight" accept="Weight">
            </div>
            <div class="col-18 center pad-r-sm">
              <span name="attr_ac_total"></span>
            </div>
          </div>
        </fieldset>
      </div>
      <hr>
      <div class="mar-t-md">
        <div class="shaped-row">
          <div class="col-10"></div>
          <div class="col-72 wrap-box-label light-label pad-r-sm">{{'EQUIPMENT' | translate}}</div>
          <div class="col-18 wrap-box-label light-label center">{{'QTY' | translate}}</div>
        </div>
        <div class="equipment-wrapper">
          <fieldset class="repeating_equipment">
            <div class="shaped-row compendium-drop-target vert-center">
              <div class="col-10 center">
                <input type="checkbox" name="attr_carried" checked>
              </div>
              <div class="col-72 pad-r-sm">
                <button type="roll" name="roll_equipment" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name}}} {{subheader=Equipment}} {{text=@{content}}}">
                  <span name="attr_name"></span>
                </button>
                <input type="hidden" name="attr_name" accept="Name">
                <input type="hidden" name="attr_content" accept="Content">
                <input type="hidden" name="attr_weight" accept="Weight">
              </div>
              <div class="col-18 pad-r-sm">
                <input type="number" name="attr_qty" class="no-border" value="1" min="0" step="1">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap-box-title center">{{'EQUIPMENT' | translate}}</div>
</div>
