<div class="shaped-row">
  <div class="col-60 center">
    <div class="heart mar-b-smd">
      <div class="shaped-row center flex-end no-wrap pad-t-eight">
        <div class="col-40">
          <input type="number" name="attr_HP" class="big-text bold no-spin no-border" step="1">
        </div>
        <div class="heart-divider pad-l-sm pad-r-sm">&#47;</div>
        <div class="col-40">
          <input type="number" name="attr_HP_max" class="big-text bold no-spin no-border" min="1" step="1">
        </div>
      </div>
      <button type="roll" name="roll_HP" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Hit Points}} {{text_big=[[@{HP}]]&#47;[[@{HP|max}]]}}">
        <div class="shaped-row center">
          <div class="wrap-box-title col-60">{{'HIT_POINTS' | translate}}</div>
        </div>
      </button>
    </div>
  </div>
  <div class="col-40 center">
    <div class="temp-heart mar-b-smd">
      <div class="shaped-row center pad-t-lg">
        <div class="col-40">
          <input type="number" name="attr_temp_HP" class="no-spin no-border" min="0" step="1">
        </div>
      </div>
      <button type="roll" name="roll_temp_hp" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Temporary Hit Points}} {{text_big=[[@{temp_HP}]]}}">
        <div class="shaped-row center">
          <div class="wrap-box-title col-60">{{'HIT_POINTS_TEMP' | translate}}</div>
        </div>
      </button>
    </div>
  </div>
</div>

