<div class="damage-vulnerabilities relative">
  <button type="roll" name="roll_damage_vulnerabilities" class="text-area-label" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Damage vulnerabilities}} {{text=@{damage_vulnerabilities}}}">
    {{'DAMAGE_VULNERABILITIES' | translate}}.
  </button>
  <textarea name="attr_damage_vulnerabilities" class="two-line-textarea text-area-with-label no-border"></textarea>
</div>
<div class="damage-resistances relative">
  <button type="roll" name="roll_damage_resistances" class="text-area-label" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Damage resistances}} {{text=@{damage_resistances}}}">
    {{'DAMAGE_RESISTANCES' | translate}}.
  </button>
  <textarea name="attr_damage_resistances" class="two-line-textarea text-area-with-label no-border"></textarea>
</div>
<div class="damage-immunities relative">
  <button type="roll" name="roll_damage_immunities" class="text-area-label" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Damage immunities}} {{text=@{damage_immunities}}}">
    {{'DAMAGE_IMMUNITIES' | translate}}.
  </button>
  <textarea name="attr_damage_immunities" class="two-line-textarea text-area-with-label no-border"></textarea>
</div>
<div class="condition-immunities relative">
  <button type="roll" name="roll_condition_immunities" class="text-area-label" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Condition immunities}} {{text=@{condition_immunities}}}">
    {{'CONDITION_IMMUNITIES' | translate}}.
  </button>
  <textarea name="attr_condition_immunities" class="two-line-textarea text-area-with-label no-border"></textarea>
</div>