<div class="save wrap-box mar-b-smd">
  <div class="shaped-row">
    <div class="col-09 center vert-middle">
      <input type="checkbox" name="attr_strength_save_prof" value="@{PB}">
    </div>
    <div class="col-91 vert-middle pad-l-md">
      <button type="roll" name="roll_strength_save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Saving Throw}} {{roll=[[d20@{d20_mod} + @{strength_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{strength_save_mod}]]}} @{tie_on_strength_saving_throw}">
        <div class="shaped-row">
          <div class="col-20 vert-middle">
            <input class="no-spin save-total" type="number" name="attr_strength_save_mod" value="@{strength_mod} + @{strength_save_prof} + @{strength_save_bonus} + (@{global_saving_bonus})" disabled>
          </div>
          <div class="col-80 vert-middle pad-l-md">
            <span class="ability-save-name">{{'ABILITIES.strength.NAME' | translate}}</span>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-09 center vert-middle">
      <input type="checkbox" name="attr_dexterity_save_prof" value="@{PB}">
    </div>
    <div class="col-91 vert-middle pad-l-md">
      <button type="roll" name="roll_dexterity_save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Saving Throw}} {{roll=[[d20@{d20_mod} + @{dexterity_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{dexterity_save_mod}]]}} @{tie_on_dexterity_saving_throw}">
        <div class="shaped-row">
          <div class="col-20 vert-middle">
            <input class="no-spin save-total" type="number" name="attr_dexterity_save_mod" value="@{dexterity_mod} + @{dexterity_save_prof} + @{dexterity_save_bonus} + (@{global_saving_bonus})" disabled>
          </div>
          <div class="col-80 vert-middle pad-l-md">
            <span class="ability-save-name">{{'ABILITIES.dexterity.NAME' | translate}}</span>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-09 center vert-middle">
      <input type="checkbox" name="attr_constitution_save_prof" value="@{PB}">
    </div>
    <div class="col-91 vert-middle pad-l-md">
      <button type="roll" name="roll_constitution_save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Saving Throw}} {{roll=[[d20@{d20_mod} + @{constitution_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{constitution_save_mod}]]}} @{tie_on_constitution_saving_throw}">
        <div class="shaped-row">
          <div class="col-20 vert-middle">
            <input class="no-spin save-total" type="number" name="attr_constitution_save_mod" value="@{constitution_mod} + @{constitution_save_prof} + @{constitution_save_bonus} + (@{global_saving_bonus})" disabled>
          </div>
          <div class="col-80 vert-middle pad-l-md">
            <span class="ability-save-name">{{'ABILITIES.constitution.NAME' | translate}}</span>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-09 center vert-middle">
      <input type="checkbox" name="attr_intelligence_save_prof" value="@{PB}">
    </div>
    <div class="col-91 vert-middle pad-l-md">
      <button type="roll" name="roll_intelligence_save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Saving Throw}} {{roll=[[d20@{d20_mod} + @{intelligence_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{intelligence_save_mod}]]}} @{tie_on_intelligence_saving_throw}">
        <div class="shaped-row">
          <div class="col-20 vert-middle">
            <input class="no-spin save-total" type="number" name="attr_intelligence_save_mod" value="@{intelligence_mod} + @{intelligence_save_prof} + @{intelligence_save_bonus} + (@{global_saving_bonus})" disabled>
          </div>
          <div class="col-80 vert-middle pad-l-md">
            <span class="ability-save-name">{{'ABILITIES.intelligence.NAME' | translate}}</span>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-09 center vert-middle">
      <input type="checkbox" name="attr_wisdom_save_prof" value="@{PB}">
    </div>
    <div class="col-91 vert-middle pad-l-md">
      <button type="roll" name="roll_wisdom_save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Saving Throw}} {{roll=[[d20@{d20_mod} + @{wisdom_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{wisdom_save_mod}]]}} @{tie_on_wisdom_saving_throw}">
        <div class="shaped-row">
          <div class="col-20 vert-middle">
            <input class="no-spin save-total" type="number" name="attr_wisdom_save_mod" value="@{wisdom_mod} + @{wisdom_save_prof} + @{wisdom_save_bonus} + (@{global_saving_bonus})" disabled>
          </div>
          <div class="col-80 vert-middle pad-l-md">
            <span class="ability-save-name">{{'ABILITIES.wisdom.NAME' | translate}}</span>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="shaped-row">
    <div class="col-09 center vert-middle">
      <input type="checkbox" name="attr_charisma_save_prof" value="@{PB}">
    </div>
    <div class="col-91 vert-middle pad-l-md">
      <button type="roll" name="roll_charisma_save" value="@{output_option} &{template:5eReshaped} {{save=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Saving Throw}} {{roll=[[d20@{d20_mod} + @{charisma_save_mod}]]}} {{rolladv=[[d20@{d20_mod} + @{charisma_save_mod}]]}} @{tie_on_charisma_saving_throw}">
        <div class="shaped-row">
          <div class="col-20 vert-middle">
            <input class="no-spin save-total" type="number" name="attr_charisma_save_mod" value="@{charisma_mod} + @{charisma_save_prof} + @{charisma_save_bonus} + (@{global_saving_bonus})" disabled>
          </div>
          <div class="col-80 vert-middle pad-l-md">
            <span class="ability-save-name">{{'ABILITIES.charisma.NAME' | translate}}</span>
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="wrap-box-title center">{{'SAVING_THROWS' | translate}}</div>
</div>