<div class="skills wrap-box">
  <fieldset class="repeating_skill">
    <div class="shaped-row no-wrap flex-end">
      <div class="col-12 skill-select-wrapper no-shrink">
        <span class="en">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient">&#8212; &#160;&#160; Unproficient</option>
            <option value="proficient">&check; &#160;&#160; Proficient</option>
            <option value="expertise">&cross; &#160;&#160; Expertise</option>
          </select>
        </span>
        <span class="de">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient">&#8212; &#160;&#160; Fehlt Tüchtig</option>
            <option value="proficient">&check; &#160;&#160; Tüchtig</option>
            <option value="expertise">&cross; &#160;&#160; Sachverstand</option>
          </select>
        </span>
        <span class="fr">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient">&#8212; &#160;&#160; Non Maîtrisée</option>
            <option value="proficient">&check; &#160;&#160; Maîtrise</option>
            <option value="expertise">&cross; &#160;&#160; Expertise</option>
          </select>
        </span>
        <span class="ru">
          <select name="attr_proficiency" class="no-border">
            <option value="unproficient">&#8212; &#160;&#160; Нет владеет</option>
            <option value="proficient">&check; &#160;&#160; Владение</option>
            <option value="expertise">&cross; &#160;&#160; Эксперт</option>
          </select>
        </span>
      </div>
      <div class="col-10 edit no-shrink">
        <input type="number" name="attr_bonus" class="no-spin small-label" value="0" step="1">
      </div>
      <button type="roll" name="roll_skill" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{name} (@{ability_short_name})}} {{subheader=Ability Check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{formula}]]}} @{roll_setting}@{d20_mod} + @{formula}]]}} @{attacher_skill}" tabindex="-1">
        <div class="shaped-row no-wrap flex-end">
          <span name="attr_total_with_sign" class="col-2-em input-like inline-block center bold border-bottom"></span>
          <span name="attr_name" class="skill-name white-space-no-wrap presentation pad-l-sm"></span>
        </div>
      </button>
      <div class="col-50 edit">
        <input type="text" name="attr_name" class="skill-name">
      </div>
      <input type="hidden" name="attr_formula">
      <input type="hidden" name="attr_ability_short_name">
      <div class="skills-ability-selector-wrapper pad-l-sm">
        <div class="shaped-row no-wrap vert-center">
          <span>(</span>
          <span class="en">
            <select name="attr_ability" class="skills-ability-selector">
              <option value="@{strength_mod}">Str</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wis</option>
              <option value="@{charisma_mod}">Cha</option>
              <option value="0">&#8212;</option>
            </select>
          </span>
          <span class="de">
            <select name="attr_ability" class="skills-ability-selector">
              <option value="@{strength_mod}">Str</option>
              <option value="@{dexterity_mod}">Ges</option>
              <option value="@{constitution_mod}">Kon</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Wei</option>
              <option value="@{charisma_mod}">Cha</option>
              <option value="0">&#8212;</option>
            </select>
          </span>
          <span class="fr">
            <select name="attr_ability" class="skills-ability-selector">
              <option value="@{strength_mod}">For</option>
              <option value="@{dexterity_mod}">Dex</option>
              <option value="@{constitution_mod}">Con</option>
              <option value="@{intelligence_mod}">Int</option>
              <option value="@{wisdom_mod}">Sag</option>
              <option value="@{charisma_mod}">Cha</option>
              <option value="0">&#8212;</option>
            </select>
          </span>
          <span class="ru">
            <select name="attr_ability" class="skills-ability-selector">
              <option value="@{strength_mod}">Сил</option>
              <option value="@{dexterity_mod}">Лов</option>
              <option value="@{constitution_mod}">Тел</option>
              <option value="@{intelligence_mod}">Инт</option>
              <option value="@{wisdom_mod}">Муд</option>
              <option value="@{charisma_mod}">Хар</option>
              <option value="0">&#8212;</option>
            </select>
          </span>
          <span>)</span>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="mar-t-sm"></div>
  <input type="checkbox" name="attr_generate_skills" class="toggle-pseudo-button edit"><span class="toggle-pseudo-button button edit">{{'GENERATE_SKILLS' | translate}}</span>
  <div class="wrap-box-title center">{{'SKILLS_TITLE' | translate}}</div>
</div>