@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Rubik+Glitch&display=swap');

.charsheet {
  background-color: #fff;
  color: #000;
}

body.sheet-darkmode .charsheet {
  background-color: #000;
  color: #fff;
}

.flex-container-nowrap, .flex-container-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container-nowrap {
  flex-wrap: nowrap;
}

.flex-container-wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container-wrap div {
  flex: 1 1 0;
}

.sheet-rolltemplate-com12 table, .sheet-rolltemplate-comtext table {
  width: 98%;
  border: 1px solid #000;
  color: #000;
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
}

body.sheet-darkmode .sheet-rolltemplate-com12 table, body.sheet-darkmode .sheet-rolltemplate-comtext table {
  border: 1px solid #fff;
  color: #fff;
}

.sheet-rolltemplate-com12 th, .sheet-rolltemplate-comtext th {
  background-color: #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.3em;
  padding: 5px 10px;
  text-align: left;
}

body.sheet-darkmode .sheet-rolltemplate-com12 th, body.sheet-darkmode .sheet-rolltemplate-comtext th {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.sheet-rolltemplate-com12 td, .sheet-rolltemplate-comtext td {
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

body.sheet-darkmode .sheet-rolltemplate-com12 td, body.sheet-darkmode .sheet-rolltemplate-comtext td {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.sheet-rolltemplate-com12 tr:nth-child(odd), .sheet-rolltemplate-comtext tr:nth-child(odd) {
  background-color: rgba(217, 217, 214,1);
}

body.sheet-darkmode .sheet-rolltemplate-com12 tr:nth-child(odd), body.sheet-darkmode .sheet-rolltemplate-comtext tr:nth-child(odd) {
  background-color: #333;
}

.sheet-rolltemplate-com12 tr:nth-child(even), .sheet-rolltemplate-comtext tr:nth-child(even) {
  background-color: rgba(233, 233, 233,1);
}

body.sheet-darkmode .sheet-rolltemplate-com12 tr:nth-child(even), body.sheet-darkmode .sheet-rolltemplate-comtext tr:nth-child(even) {
  background-color: #123123;
}

.sheet-rolltemplate-com12 .inlinerollresult, .sheet-rolltemplate-comtext .inlinerollresult {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid rgba(167, 168, 170,1); /*Cool Gray 6 C*/
}

.sheet-rolltemplate-com12 .inlinerollresult.fullcrit, .sheet-rolltemplate-comtext .inlinerollresult.fullcrit {
  border: 2px solid #3FB315;
}

.sheet-rolltemplate-com12 .inlinerollresult.fullfail, .sheet-rolltemplate-comtext .inlinerollresult.fullfail {
  border: 2px solid #B31515;
}

.sheet-rolltemplate-com12 .inlinerollresult.importantroll, .sheet-rolltemplate-comtext .inlinerollresult.importantroll {
  border: 2px solid #4A57ED;
}

body.sheet-darkmode button.tab-button {
  background-color: #000;
  border: 1px solid #fff;
}

button.rollbutton {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

button[type="roll"]::before {
  display: none;
}

div.main-top {
  margin-bottom: .5em;
}

section section {
  margin-right: 1em;
}

div.column {
  flex: 1 1 0;
  padding-left: 1em;
  padding-right; 1em;
}

div.column div {
  margin-top: 1em;
}

div.inline-block {
  display: inline-block;
}

div.title {
  background-blend-mode: difference;
  background-color: #fff;
  background-image: url("https://raw.githubusercontent.com/brocktopus/roll20-character-sheets/7b586542159f2b293ddd0c78be01c9c540d783ce/Public%20Access/public-access-sun.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left; auto;
  margin-right: auto;
  min-height: 350px;
  text-align: center;
}

body.sheet-darkmode div.title {
  background-blend-mode: screen;
  background-color: #000;
}

div.centered, label.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

label.heading-caps {
  font-family: 'Oxygen Mono', monospace;
  padding-top: 1em;
  text-transform: uppercase;
}

label.smaller-text {
  font-family: 'Oxygen Mono', monospace;
  font-size: smaller;
}

label.title {
  font-family: 'Rubik Glitch', cursive;
  font-size: 3vw;
  font-style: italic;
  line-height: 1em;
  margin: 0;
  padding-top: 50%;
  text-align: center;
  text-transform: uppercase;
}

span.bolded {
  font-weight: bold;
}


input[type="number"], input[type="text"], textarea, .largedialog textarea {
  max-width: 95%:;
  width: 95%;
}

input[type="text"].corner-house, input[type="text"].condition {
  max-width: 90%;
  width: 90%;
}

input[type="number"] {
  display: block;
  margin: 0 auto 0 auto;
}

select {
  max-width: 90%;
  width: 90%;
}

textarea.oneline {
  height: 25px;
  min-height: 25px;
}

#condition1-check, #condition2-check, #condition3-check {

}

#condition1-check:checked ~ #condition1-text, #condition2-check:checked ~ #condition2-text, #condition3-check:checked ~ #condition3-text {
  pointer-events: none;
}

section.character, section.mysteries, section.tapes {
  display: none;
}

/* show the selected tab */
.tabs-toggle[value="character"] ~ section.character, .tabs-toggle[value="mysteries"] ~ section.mysteries, .tabs-toggle[value="tapes"] ~ section.tapes {
  display: block;
}