/* Numéro de version et log */
.sheet-ver {
    text-align: center;
    font-size: 0.6em;
    color: gray;
}
.sheet-update-log {
    text-align: center;
    color: white;
    border: dotted 2px red;
    background: gray;
    display: block;
}
.sheet-box-container {
    float: right;
    font-size: 0.9em;
}
.sheet-spacer {
    opacity:0%;
}
input.sheet-logswitch[value="1"] ~ div.sheet-update-log {
  display: none;
}
input.sheet-logswitch[value="0"] ~ div.sheet-update-log {
  display: block;
}

/* ===================================== Onglets ===================================== */
/* =================================================================================== */

/*Configure the tab buttons*/
.sheet-tab1 {
    margin-left: 615px;
    margin-right: -3px;
    border-bottom-left-radius:15px;
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid #D3D3D3;
    background: white;
    opacity: 65%;
}
.sheet-tab2 {
    border-bottom-right-radius:15px;
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid #D3D3D3;
    background: white;
    opacity: 65%;
}
.sheet-sombre,.sheet-clair {
	display: none;
	margin-top: -22px;
}

/* show the selected tab */
.sheet-tabstoggle[value="sombre"] ~ div.sheet-sombre, .sheet-tabstoggle[value="clair"] ~ div.sheet-clair {
	display: block;
}
.sheet-tabstoggle[value="sombre"] ~ button.sheet-tab2, .sheet-tabstoggle[value="clair"] ~ button.sheet-tab1 {
	background: #D3D3D3;
	border: 1px solid #D3D3D3;
    font-weight: normal;
}




/* ===================================== Thème Sombre ===================================== */
/* ======================================================================================== */

.sheet-sombre {
	background-color:#000000;
    color: gray;
}

.sheet-sombre h3 {
  color:  gray;
}

.sheet-sombre h4 {
  color:  gray;
}

.sheet-sombre table
{
	width:100%;
	border:0px;
}

.sheet-sombre td
{
	border:0px;
}

.sheet-sombre th
{
	font-weight:bold;
	border:0px;
	font-size:small;
    text-align: center;
}

.sheet-sombre tr
{
    text-align: center;
}

.sheet-sombre input
{
	width:90%;
}

.sheet-sombre input[type=checkbox] 
{
    width:15px;
}

.sheet-sombre input[type=number] 
{
    -moz-appearance:textfield;
    text-align: center;
}

.sheet-sombre input[type=text] 
{
    color: black;
}

.sheet-sombre textarea
{
    width:calc(90% - 10px);
    padding:4px;
}


.sheet-sombre .repcontrol_add,
.sheet-sombre .repcontrol_move
{
 float:left;
}

.sheet-sombre .repcontrol_add,
{
	border-bottom-left-radius:25px;
}

.sheet-sombre .repcontrol_edit
{
	border-bottom-right-radius:25px;
}

.sheet-sombre .sheet-arme .repcontrol_add,
.sheet-sombre .sheet-arme .repcontrol_edit,
.sheet-sombre .sheet-arme .repcontrol_move
{
 margin-top: -10px;
}

.sheet-sombre .sheet-colWidth
{
    width:40%;
}

.sheet-sombre .sheet-comp-dX-select
{
    height: 28px;
    width:48px;
    padding-left: 0px;
    margin-left: -9px;
    margin-right: -10px;
    margin-top:0px;
    margin-bottom:0px;
    background: #FFFFFF;
    border-radius: 0px;
    border: 1px solid rgb(232,232,232);
    position:relative;
    top:0px;
    bottom:0px;
    vertical-align: middle;
}
.sheet-armebutton
{
    width:0px;
}
.sheet-armeselect
{
    margin-left:-12px;
    display:inline;
}

button[type=roll].sheet-armeroll
{
    margin-left: -25px;
    display:inline;
}

input[type=number].sheet-armedes
{
    width:20px;
    height: 28px;
    margin-left:-12px;
    text-align:left;
    display:inline;
}

input[type=number].sheet-armemod
{
    width:27px;
    z-index:-1;
    text-align:right;
    height: 28px;
    display:inline;
}

.sheet-armeplus
{
    margin-left:-22px;
    display:inline;
}

.sheet-sombre .sheet-rolltemplate-aven table {
    width: 189px;
    height: 145px;
    padding: 2px;
    background: url(http://i.imgur.com/xBk4U1p.jpg) top left;
    background-size: 189px 145px;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}
 
.sheet-sombre .sheet-rolltemplate-aven th {
	color: #000000;
    padding: 5px 2px 2px 20px;
	line-height: 1.2em;
	font-size: 1.2em;
    text-align: center;
}
 
 
.sheet-sombre .sheet-rolltemplate-aven td {
    padding-left: 20px;
    font-size: 1.0em;
    vertical-align: top;
}
 
.sheet-sombre .sheet-rolltemplate-aven .sheet-resultat {
    font-size: 1.2em;
    text-align: center;
    color: rgb(112, 0, 0);
    padding-bottom: 20px;
}







/* ===================================== Thème Clair ===================================== */
/* ======================================================================================= */

div.sheet-frame {
    background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Aventures/Aventures-bg.jpg');
    width:784px;
}


/* === LOGO AVENTURES === */

div.sheet-header {
    text-align:center;
    margin-bottom: -10px;
    padding-right:10px;
    z-index: 15;
}


/* === INFO+COMP/EQUIP BLOCKS === */

div.sheet-block {
    padding: 6px 6px 6px 6px;
}


/* === TABLE CARACTERISTIQUES === */

table.sheet-attribut {
    width: 470px; 
    border: 1px gray solid;
    border-bottom: 0px;
    margin-left: 6px;
}

table tr td.sheet-attribut1 {
    width: 154px; 
    text-align: center; 
    border-right: 1px gray solid;  
    border-bottom: 1px gray solid;
}

table tr td.sheet-attribut2 {
    width: 153px; 
    text-align: center; 
    border-left: 1px gray solid;  
    border-bottom: 1px gray solid;
}


/* === TABLE SOUS-CARACTERISTIQUES === */

table.sheet-sous-attribut {
    width: 470px; 
    border: 1px gray solid;
    border-bottom: 0px;
    border-top: 0px;
    margin-left: 6px;
    margin-top: -1px;
    margin-bottom: -1px;
}

table tr.sheet-sous0 {
    border-bottom: 1px gray solid;
}

table tr td.sheet-sous {
    width: 75px; 
    text-align: center; 
    border-right: 1px gray solid;
}

table tr td.sheet-sous1 {
    width: 76px; 
    text-align: center;
    border-right: 1px gray solid;
}

table tr td.sheet-sous2 {
    width: 76px; 
    text-align: center;
    border:none;
}


/* === TABLE CARTONS === */

table.sheet-carton {
    width: 470px; 
    border: 1px gray solid; 
    margin-left: 6px;
}

table tr td.sheet-carton {
    width: 75px; 
    text-align: center;
    border-right: 1px gray solid;
}

table tr td.sheet-carton1 {
    width: 76px; 
    text-align: center;
    border-right: 1px gray solid;
}

table tr td.sheet-carton2 {
    width: 76px;
    text-align: center;
    border: none;
}


/* === INFO ADDITIONNELLES === */

table tr td.sheet-add {
    line-height: 10px; 
    font-weight: bold; 
    font-size: 0.8em;
    padding-left: 6px;
}
textarea.sheet-tl {
    border: transparent; 
    background-color:rgba(255, 255, 255, 0.5); 
    width: 173px; 
    height: 30px; 
    line-height: 1;
    margin-bottom:4px;
}


/* === ATTRIBUTS SECONDAIRES === */

table .sheet-sec {
    border: 1px gray solid; 
    margin-left: 5px;
}

table tr.sheet-niveau {
    background-color: #fff;
    border-bottom: 1px gray solid;
}

table tr td.sheet-lvl-num {
    text-align: right;
}

table tr.sheet-border-bottom {
    width: 75px; 
    text-align: center;
    border-bottom: 1px gray solid;
}

table tr.sheet-post-base {
    background-color: #fff; 
    border-bottom: 1px gray solid; 
    font-size: 0.95em; 
    line-height: 17px;
}

.sheet-posture-select {
    width: 100px;
    display: inline;
    position: relative;
    top: 5px;
    background-color:rgba(255, 255, 255, 0.8);
}


/* === COMPETENCES ET DONS === */

.sheet-head {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    width:770px;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    font-size: 1em;
}

.sheet-2colrow {
    border: 1px solid gray; 
    padding: 5px 0px 5px 5px;
    width: 765px;
    display: inline;
    margin-bottom:7px;
}

Table.sheet-2colrow td {
    vertical-align: top;
}

/* = COMPETENCES = */
.sheet-comp-row1{
    height: 12px;
    margin-right:-10px;
    width:350px;
}

.sheet-comp-col1 {
    display: inline;
    margin-left: 5px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-comp-col2 {
    display: inline;
    margin-left: 166px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-comp-col3 {
    display: inline;
    margin-left: 57px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-comp-col4 {
    display: inline;
    margin-left: 5px;
    font-size: 0.8em;
    font-weight: bold;
}

.repcontrol[data-groupname="repeating_skills"] {
    margin-top: 10px;
}

.sheet-comp-row2 {
    width: 360px;
    margin-right:-10px;
    padding-bottom:0px;
    margin-bottom:-10px;
}

.sheet-comp-col {
    display: inline;
    margin-bottom:-10px;
}

.sheet-comp-attr-select {
    width: 85px;
    display: inline;
    position: relative;
    top: 5px;
    background-color:rgba(255, 255, 255, 0.8);
    margin-top:0px;
}

/* = DONS = */
.sheet-don-row {
    width:400px;
}

.sheet-don-col {
    display: inline;
    margin-left: 3px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-don-col2 {
    display: inline;
    margin-left: 323px;
    font-size: 0.8em;
    font-weight: bold;
}


.sheet-col-don-rep {
    width: 400px;
    margin-bottom:2px;
}


/* === EQUIPEMENT === */

.sheet-col-gene {
    margin-bottom:2px;
}

textarea.sheet-aut {
    border: transparent; 
    background-color:rgba(255, 255, 255, 0.5); 
    width: 352px; 
    height: 35px; 
    line-height: 1;
}


.sheet-col-equip-arm {
    padding-left:5px;
}

.sheet-row-arm {
    line-height: 8px;
}

.sheet-arm-col1 {
    display: inline;
    margin-left: 3px;
    margin-bottom:-5px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-arm-col2 {
    display: inline;
    margin-left: 216px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-arm-col3 {
    display: inline;
    margin-left: 2px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-arm-col4 {
    display: inline;
    margin-left: 30px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-arm-col5 {
    display: inline;
    margin-left: 3px;
    font-size: 0.8em;
    font-weight: bold;
}

.repcontrol[data-groupname="repeating_weapons"] {
    margin-top: 10px;
}

.sheet-arm-row {
    width: 400px;
    padding-bottom:0px;
    margin-bottom:-10px;
}

.sheet-row-armure {
    line-height: 8px;
    margin-top: 10px;
}

.sheet-arm-col6 {
    display: inline;
    margin-left: 3px;
    margin-bottom:-5px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-arm-col7 {
    display: inline;
    margin-left: 215px;
    font-size: 0.8em;
    font-weight: bold;
}

.sheet-comp-dX-select {
    width: 52px;
    display: inline;
    position: relative;
    top: 5px;
    background-color:rgba(255, 255, 255, 0.7);
}


/* === OPTIONS === */

.sheet-options {
    text-align: right;
    font-size: 0.8em;
    color: rgba(25,26,27,0.7);
    background-color: rgba(255, 255, 255, 0.4);
}


/* ================ INPUTS ================ */


input::placeholder {
    opacity: 60%;
}

/* === INPUTS CHECKBOXES === */

/* Fake checkbox cartons */
input[type="checkbox"].sheet-carton-jaune,
input[type="checkbox"].sheet-carton-rouge
{
    opacity: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 1;

    margin-right: -16px;
}

/* the SPANs */
input[type="checkbox"].sheet-carton-jaune + span::before,
input[type="checkbox"].sheet-carton-rouge + span::before
{
    margin-right: 4px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;

    content: " ";

    width: 10px;
    height: 10px;
    line-height: 14px;
    font-size: 10px;
    font-weight:bold;
}
input[type="checkbox"].sheet-carton-jaune + span::before
{
    color: #f4df42;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 4px #f4df42;
}
input[type="checkbox"].sheet-carton-rouge + span::before
{
    color: #b74437;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 4px #b74437;
    
}
/* the CHECKED SPANs */
input[type="checkbox"]:checked.sheet-carton-jaune + span::before,
input[type="checkbox"]:checked.sheet-carton-rouge + span::before
{
    content: "✔";
}

/* === INPUTS NUMBERS === */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    
}
input[type=number] {
    -moz-appearance: textfield;
    
    width: 25px;
    display: inline;
    border:1px solid rgba(26, 27, 28, 0.1);
}
input[type=number].sheet-number-main {
    -moz-appearance: textfield;
    
    width: 27px !important;
    display: inline;
    font-weight:  bold;
    font-size: 1.2em;
    background-color:rgba(255, 255, 255, 0.6);
    border:1px solid rgba(26, 27, 28, 0.1);
}
input[type=number].sheet-query {
    -moz-appearance: textfield;
    
        display: none;
}
input[type=number].sheet-number {
    -moz-appearance: textfield;
    
    width: 25px !important;
    display: inline;
    padding-left:7px;
    font-weight: bold;
    font-size: 1.1em;
    background-color:rgba(255, 255, 255, 0.3);
    border:1px solid rgba(26, 27, 28, 0.1);
}
input[type=number].sheet-avde {
    -moz-appearance: textfield;
    
    width: 17px !important;
    height: 20px !important;
    display: inline;
    padding-left:1px;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em !important;
    background-color:rgba(255, 255, 255, 0.3);
    border:1px solid rgba(26, 27, 28, 0.1);
}
input[type=number].sheet-number-lvl {
    -moz-appearance: textfield;
    
    width: 25px !important;
    height: 18px !important;
    text-align: center;
    color: #4f4646;
    font-weight: bold;
    font-size: 1.2em;
    padding-left:2px;
    border:1px solid rgba(26, 27, 28, 0.1);
    display: inline;
    background-color:rgba(255, 255, 255, 0.3);
}
input[type=number].sheet-number-bar {
    -moz-appearance: textfield;
    
    width: 25px !important;
    height: 20px !important;
    text-align: center;
    font-size: 1.2em;
    padding-left:2px;
    border:1px solid rgba(26, 27, 28, 0.1);
    display: inline;
    background-color:rgba(255, 255, 255, 0.3);
}
input[type=number].sheet-number-bar-max {
    -moz-appearance: textfield;
    
    width: 25px !important;
    height: 20px !important;
    text-align: center;
    color: #b74437;
    padding-left:2px;
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
    border: none;
    background-color:rgba(255, 255, 255, 0.5);
}
input[type=number].sheet-objet-quant {
    -moz-appearance: textfield;
    
    width: 20px !important;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    display:inline;
    background-color:rgba(255, 255, 255, 0.5); 
    border: transparent; 
}
input[type=number].sheet-des-dmg {
    -moz-appearance: textfield;
    
    width: 25px !important;
    text-align: right;
    display: inline;
    background-color:rgba(255, 255, 255, 0.3);
}
input[type=number].sheet-dmg-mod {
    -moz-appearance: textfield;
    
    width: 25px !important;
    display: inline;
    background-color:rgba(255, 255, 255, 0.3);
}
input[type=number].sheet-dr {
    -moz-appearance: textfield;
    
    width: 30px !important;
    display: inline;
    background-color:rgba(255, 255, 255, 0.3);
}


/* === INPUTS TEXT === */
input[type=text].sheet-nom {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 201px;
}
input[type=text].sheet-race {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 122px;
}
input[type=text].sheet-vocation {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 122px;
}
input[type=text].sheet-element {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 118px;
}
input[type=text].sheet-theme {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 180px;
}
input[type=text].sheet-langues {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 180px;
}
input[type=text].sheet-competence {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 190px;
}
input[type=text].sheet-don {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 335px;
    margin-right: 2px;
    display:inline;
}
input[type=text].sheet-don-psy {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 45px;
    text-align: center;
    display:inline;
}
input[type=text].sheet-objet {
    border: transparent; 
    background-color:rgba(255, 255, 255, 0.5); 
    width: 335px;
    display:inline;
}
input[type=text].sheet-arme {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 240px;
}
input[type=text].sheet-armure {
    border: transparent;
    background-color:rgba(255, 255, 255, 0.5);
    width: 240px;
}


/* === INPUTS ROLLS === */

button[type=roll] {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: outset 1px;
}

button[type=roll].sheet-blank-roll-button::before { 
    color: red; 
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.3em;
}


/* === REPEATING FIELDS BUTTON OPACITY === */

.repcontrol_edit {
    opacity: 50%;
}
.repcontrol_add {
    opacity: 50%;
}
