<rolltemplate class="sheet-rolltemplate-simple">
    <h1>{{name}}</h1>

    <h2>{{subname}}</h2>

    {{#rollTotal() type 3}}
        <h2>Jet Standard</h2>
    {{/rollTotal() type 3}}

    {{#rollTotal() type 2}}
        <h2>Jet Avec Désavantage</h2>
    {{/rollTotal() type 2}}

    {{#rollTotal() type 4}}
        <h2>Jet Avec Avantage</h2>
    {{/rollTotal() type 4}}

    <div class="container">
        <span data-i18n="succes">Succès</span>
        <span>{{roll}} {{button}}</span>
    </div>
</rolltemplate>