.charsheet label {
    display: inline-block;
    width: 65px;
    text-align: right;
    font-size: 12px;
    font-weight: bolder;
    font-family: "Times New Roman";
    color: #ffffff;
    background-color: #000000;
}

.charsheet label.sheet-lblhdr {
    display: inline-block;
    width: 30px;
    margin-right: 0px;
    margin-left: 1px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Times New Roman";
    color: #ffffff;
    background-color: #000000;
    vertical-align: middle;
}
.charsheet .sheet-2colrow .sheet-col {
    width: calc(50% - 1px);
    margin-right: 1px;
}

.charsheet .sheet-3colrow .sheet-col {
    width: calc(33% - 1px);
    margin-right: 1px;
}

.charsheet .sheet-4colrow .sheet-col {
    width: calc(23.5% - 4px);
    height: calc(100% - 1px);
    margin-right: 1px;
}
.charsheet input[type=text] {
    display: inline-block;
	width: 165px;
    box-shadow: 0px 0px 0px 1px #000000 inset;
    font-family: "Times New Roman";
    color: #000000;
}

.charsheet input[type=number] {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #000000 inset;
    font-family: "Times New Roman";
    text-align: center;
    color: #000000;

}

.charsheet input[type=number].sheet-numtwo {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #000000 inset;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    margin-Left: 0px;
}

.charsheet select {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #000000 inset;
    font-family: "Times New Roman";
    color: #000000;
}

.charsheet textarea {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #000000 inset;
    width:100%;
    margin:1px 0px;
    resize:none;
    font-family: "Times New Roman";
    color: #000000;
}

.charsheet button {
    display: inline-block;
    box-shadow: 0px 0px 1px 1px #000000 inset;
    font-family: "Times New Roman";
    padding: 0px 0px;
}

.sheet-col strong.sheet-dee {
	font-size: 1em;
	font-weight: bold;
	padding-right: 1px;
}

.charsheet input.sheet-check {
	width: 20px;
}

.charsheet input.sheet-short {
	width: 45px;
}

.charsheet input.sheet-tiny {
    width: 15px;
    font-size: 6px;
}

.charsheet {
    background-color: #ffffff;
    font-weight: bolder;
    font-family: "Times New Roman";
}

.charsheet table td, .charsheet table th {
    font-size: 12px;
    font-weight: bolder;
    font-family: "Times New Roman";
    text-align: center;
    width: 0%;
    border: 0px white;
    padding: 0px;
    vertical-align: middle;
    color: #000000;
}

.charsheet fieldset p {
    width: 100%;
    text-align: center;
    border: 0px solid #000000;
    padding: 0px;
    margin: 0px;
    
}

.charsheet hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,75.75), rgba(0,0,0,0)); 
}

select.sheet-dtype {
    width: 60px;
    vertical-align: top;
}

.charsheet h4 {
    background-color: #000000;
    color: #ffffff;

}
