.charsheet label {
    display: inline-block;
    width: 65px;
    text-align: right;
    font-size: 14px;
    font-weight: ;
    font-family: "Times New Roman";
    color: #000000;
}
.charsheet .sheet-3colrowCust .sheet-col {
    width: calc(33% - 4px);
    margin-right: 5px;
}
.charsheet .sheet-4colrowCust .sheet-col {
    width: calc(25% - 4px);
    margin-right: 5px;
}
.charsheet input[type=text] {
    display: inline-block;
	width: 165px;
    box-shadow: 0px 0px 0px 1px #000000 inset;
}

.charsheet input[type=number] {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #000000 inset;
}

.charsheet select {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #000000 inset;
}

.charsheet textarea {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #000000 inset;
}

.charsheet button {
    display: inline-block;
    box-shadow: 0px 0px 5px 1px #0066ff inset;
}

.sheet-col strong.sheet-dee {
	font-size: 1em;
	font-weight: bold;
	padding-right: 1px;
}

.charsheet input.sheet-short {
	width: 45px;
}

.charsheet input.sheet-tiny {
    width: 15px;
    font-size: 6px;
}

.charsheet {
    background-image: url("");
    font-family: "Times New Roman";
}


.charsheet table td, .charsheet table th {
    font-size: 14px;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
    width: 0%;
    border: 0px white;
    padding: 0px;
    vertical-align: middle;
    color: #000000;
}

select.sheet-dtype {
    width: 60px;
    vertical-align: top;
}

.charsheet textarea {
    resize: none;
}
