include ../../components/bonds/track
include ../../components/bonds/relationships
include ../../components/bonds/communities


mixin bondsPage(sheetType)
  div.page-container
    input(type='radio' name=`attr_${sheetType}_page` class='bonds hide' value='3')
    div.bonds.showhide
      h3.divide &emsp;BONDS&emsp;
      if sheetType == 'character'
        +bondsTrack
      .individual-nav
        label.bond-details-btn
          input.hide.btn-input(type='checkbox' name='attr_relationships_button')
          .btn-content Relationships 
        label.bond-details-btn
          input.hide.btn-input(type='checkbox' name='attr_communities_button')
          .btn-content Communities
      
      input.relationships.hide(type='checkbox' name=`attr_relationships`)
      div.relationships.showhide
        +relationships
      input.communities.hide(type='checkbox' name=`attr_communities`)
      div.communities.showhide
        +communities