@import url('https://fonts.googleapis.com/css?family=Chelsea+Market|Montserrat:400&display=swap');

.sheet-kob-wrapper {
    padding: 1em 3em;

    background: url("https://s3.amazonaws.com/files.d20.io/images/140339579/OXUcAr8mw0JvS2Ejs7Fj8Q/med.png?1591123400") center/cover;

    font-family: "Chelsea Market", serif; 
    font-size: 10pt;

    * {
        box-sizing: border-box;
    }

    input {
        height: 1.75em;
    }

    input[type="number"] {    
        -moz-appearance: textfield;

        text-align: center;
    
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    input[type="number"],
    input[type="text"],
    textarea,
    select {
        background-color: transparent;

        font-family: "Montserrat", Verdana, sans-serif;
        font-size: 12pt;
        font-variant: normal;

        &:hover {
            background-color: rgba(0,0,0,0.125);
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;

        height: 1.75em;
        
        cursor: pointer;

        background: transparent url("https://s3.amazonaws.com/files.d20.io/images/138210258/mZTqw1vke8SrkprMJmiZQw/med.png?1590443723") right 5px center no-repeat;
    }

    textarea {
        resize: vertical;
        width: 100%;

        border: 1px solid #000;
        border-radius: 0;
    }

    label {
        padding: 0;
        margin: 0;
    }

    .itemcontrol {
        position: relative;
        
        button.repcontrol_del,
        a.repcontrol_move {
            display: block;
            top: calc(50% - 1.5rem);
            position: relative;
            border: 1px solid #000;
            border-radius: 0;
            padding: 0;
            margin: 0;
            height: 3rem;
            width: 3rem;
            box-shadow: none;

            line-height: 2em;
            text-shadow: none;

            font-weight: bold;
        }
        
        button.repcontrol_del {
            margin-right: .25rem;

            background: #a00;
            color: #fff;
        }
        
        a.repcontrol_move {
            margin-left: .25rem;

            background: transparent;
            color: #000;
        }

    }

    .repcontrol {
        padding: .25em;

        background-color: transparent;

        button.repcontrol_add,
        button.repcontrol_del,
        button.repcontrol_move,
        button.repcontrol_edit {
            display: block;
            border: 1px solid #000;
            border-radius: 0;
            background: none; 
            padding: 0;
            margin: 0;
            height: 3rem;
            width: 3rem;
            box-shadow: none;

            font-size: 0;
            line-height: 1em;
            text-shadow: none;
        }

        button.repcontrol_add:before {
            display: block;
            content: "&";

            font-family: "Pictos";
            font-size: 12pt;
            font-weight: bold;
        }

        button.repcontrol_edit {
            &:before {
                display: block;
                content: "p";
                right: 5px;
                
                font-family: "Pictos";
                font-size: 12pt;
                font-weight: bold;
            }
        }
    }

    .sheet-kob {

        &-header {
            display: grid; 
            grid-template-columns: 1fr 2fr;
            gap: 1.5em;

            margin-bottom: 1.5em;

            &__logo {
                height: 50px;
            }
            
            &__trope[type="text"] {
                width: 100%;
                padding: .25em;

                border: 2px solid #000;
                border-radius: 0;
                background: transparent;

                font-size: 24pt;
                text-align: center;
            }
        }

        &-body {
            display: grid;
            grid-template-columns: 2fr 1.25fr;
            gap: 1.5em;

            &__strengths,
            &__flaws,
            &__stats,
            &__adversity,
            &__tropes,
            &__character {
                padding: 1.25em 1.25em;
                margin-bottom: 1.5em;
    
                background: 
                    url("https://s3.amazonaws.com/files.d20.io/images/140337271/wJZvx5ua03bzSc0DViK_YA/med.png?1591122772") top left/40px no-repeat,
                    url("https://s3.amazonaws.com/files.d20.io/images/140337272/8TEVnItbqmvdXka2UVLulw/med.png?1591122772") top right/40px no-repeat,
                    url("https://s3.amazonaws.com/files.d20.io/images/140337270/uKtXcumLfN1rNOl0EaBGKA/med.png?1591122772") bottom left/40px no-repeat,
                    url("https://s3.amazonaws.com/files.d20.io/images/140337273/RPhav9hWTnUy4Sd0jwqq6A/med.png?1591122772") bottom right/40px no-repeat;
                    
                border: 2px solid #000;
            }

            &__stats {
                display: grid;
                grid-template-columns: 1fr 1fr;

                h2 {
                    grid-column: 1 / -1;
                }
            }

            &__subtext {
                display: block;
                font-family: "Montserrat", Verdana, sans-serif;
                font-size: 11pt;
                text-align: center;
            }

            &__flaws,
            &__strengths {
                .repcontrol {
                    margin-top: 4em;

                    border-top: 2px solid #000;
                }
            }

            h2 {
                font-weight: normal;
                text-align: center;
                text-transform: uppercase;

                color: #611618;
            }

            &__tropes {
    
                textarea {  
                    min-height: 15em;              
                    height: 100%;
                }
            }
        }

        &-characteristics {  
            padding: .5em;

            font-variant: small-caps;
            
            h3 {
                grid-column: 1 / -1;

                &:after {
                    display: inline;
                    content: ":";
                }
            }

            &__general,
            &__wand,
            &__broom,
            &__other {
                @extend .sheet-kob-characteristics;
            }

            &__general {
                display: grid;
                grid-template-columns: 1fr 3fr;
            }            

            &__wand {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        &-characteristic {
            grid-column: 1 / -1;

            display: flex; 
            flex-flow: row nowrap;
            align-items: center;

            margin-bottom: .25em;

            &__label {
                flex-shrink: 0;
                margin-right: 1em; 
                font-size: 10pt;
                font-weight: bold;

                &:after {
                    display: inline;
                    content: ":";
                }
            }

            &__select,
            &__input[type=number],
            &__input[type=text] {
                flex-grow: 1;

                min-width: 0;
                width: 100%;

                margin: 0;
                padding: 0;

                border: 0;
                    border-bottom: 1px solid #000;
                    border-radius: 0;
            }

            &--age,
            &--pronouns,
            &--wood,
            &--core {
                grid-column: span 1;
            }

            &--core,
            &--pronouns {
                margin-left: .5em;
            }

        }

        &-flaw,
        &-strength {
            padding-top: .5em;
            margin-top: .5em;
            border-top: 2px solid #000;

            &__wrapper {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-bottom: 1em;

                &--text {
                    display: grid;
                }
            }

            &__label {
                flex-shrink: 0;

                font-size: 10pt;
                font-variant: small-caps;

                &:after {
                    display: inline;
                    content: ":";
                }
            }
            
            &__input[type=text] {
                flex-grow: 1;
                min-width: 0;
                width: 100%;

                margin: 0;
                    margin-left: 1em;
                padding: 0;

                border: 0;
                    border-bottom: 1px solid #000;
                    border-radius: 0;
            }

            &__textarea {
                height: 5em;
            }


        }

        &-stat {
            display: grid;
            align-items: stretch;
            

            &:nth-child(even) {
                grid-template-columns: 2.5em 1fr;

                button {
                    transform: rotate(180deg);
                }
            }

            &:nth-child(odd) {
                grid-template-columns:  1fr 2.5em;

                button {
                    grid-row: 1;
                    grid-column: 2;
                }
            }

            * {
                border: 0;
                border-radius: 0;
                background-color: transparent;
            }

            &__wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: .5em;
                padding: .5em;

                border: 1px solid #000;
            }

            &__select {
                grid-column: 1 / -1;

                min-width: 0;
                width: 100%;
                height: 3em;
                margin: 0;
                padding: 0;
                    padding-left: calc(50% - 1.25em);
                    
                border-bottom: 2px solid #000;
                background-position-x: right 10px;

                font-size: 14pt;
                font-weight: bold;
                text-align: left;
            }

            &__button {
                line-height: 1em;

                border: 1px solid transparent;
                color: #611618;
                background: transparent;
                
                font-size: 12pt;
                font-weight: normal;
                text-transform: uppercase;
                text-shadow: none;
                writing-mode: vertical-lr;  

                &:before {
                    margin-bottom: 5px; 
                }

                &:hover {                    
                    background: #611618;
                    color: #fff;
                }
            }

            &__label {
                max-width:100%;
                padding: 0;
                margin: 0;

                font-size: 7pt;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }

            &__input {
                min-width: 0;
                width: 100%;

                border-bottom: 1px solid #000;

                text-align: center;
            }

        }

        &-adversity {

            &__input[type="number"] {
                width: 100%;

                border: 1px solid #000;
                border-radius: 0;

                font-size: 16pt;
            }
            
        }

    }

}

.sheet-rolltemplate-kobrooms {
    background: url("https://s3.amazonaws.com/files.d20.io/images/138445853/9o33D5SoZ3MkIHqP8tZWNA/max.png?1590524256") center/100%;

    .sheet-kobroom-container {
        display: block;
        padding: 1em;
        border: 1px solid #611618;

        h1 {
            color: #611618;
            border-bottom: 2px solid #611618;

            font-family: "Chelsea Market", serif; 
            font-size: 14pt;
            text-align: center;
            text-transform: uppercase;            
        }

        h2 {
            font-family: "Montserrat", sans-serif;
            font-size: 12pt;
            text-align: center;
        }

        .sheet-kobroom-roll-result {
            margin-top: 1em;

            font-family: "Chelsea Market", serif; 
            font-size: 14pt;
            text-align: center;
        
            .importantroll,
            .fullcrit,
            .fullfail,
            .inlinerollresult {
                border: none;
                background: transparent;
        
                font-family: inherit;
                line-height: 1em;
            }

            .importantroll {
                color: #3e7bff;
            }

            .fullcrit {
                color: #4cc016;
            }

            .fullfail {
                color: #900;
            }

        }
    
    }
}