input(type="hidden" name="attr_weapon1skillpd" value="0")
input(type="hidden" name="attr_weapon1skilldie" value="1")
input(type="hidden" name="attr_weapon2skillpd" value="0")
input(type="hidden" name="attr_weapon2skilldie" value="1")
input(type="hidden" name="attr_weapon3skillpd" value="0")
input(type="hidden" name="attr_weapon3skilldie" value="1")

input(type="hidden" name="attr_version" value="1.11")

datalist#powers
  each power in ["Accelerated Healing", "Animal Mimicry", "Aquatic", "Body Control", "Boost", "Chameleon", "Darkness", "Disease", "Drain", "Duplication", "Elemental Sheath", "Energy Constructs", "Enhanced Perception", "Enhancement", "Entangle", "Extra Limbs", "Fast Reactions", "Flash Attack", "Healing", "Intagible", "Invisibility", "Life Support", "Mimicry", "Molecular Mimic", "Natural Weaponry", "Negation", "Omnivorous", "Paralyze", "Poison Secretion", "Radio Communication", "Ranged Power Attack", "Regeneration", "Shape Shift", "Size Control", "Stretching", "Super Attribute", "Super Senses", "Super Tracking", "Sustenance", "Transmutation", "Transfer Attribute", "Vampirism", "Weather Control", "X-Ray Vision", "adaptation", "body armor", "energy absorption", "force field", "immunity", "invulnerability", "missile deflection", "resurrection", "two-dimensional", "air manipulation", "cosmic manipulation", "darkness manipulation", "density manipulation", "earth manipulation", "electricity manipulation", "energy manipulation", "flame manipulation", "gravity manipulation", "ice manipulation", "light manipulation", "magnetic manipulation", "plant manipulation", "sound manipulation", "time manipulation", "water manipulation", "animation", "animate dead", "beast calling", "beast control", "confusion ", "cosmic awareness", "detect", "empathy", "esp", "hex", "illusion", "iron will", "language comprehension", "luck", "machine interface", "mind control", "mind reading", "mind field", "possession", "second sight", "summoning", "telekinesis", "telepathy", "astral projection", "burrowing", "dimensional shifting", "enhanced movement", "ftl travel", "flight", "spatial warping", "super jump", "super speed", "swinging", "teleportation", "wall-crawling"]
        option(value=`${power}`)
