//- Old HTML TABS
include src/pug/oldtabs.html


// PC SHEET
// =============================
.pc.grid
	.grid.character-info
		label(data-i18n-title="name" title="name")
			input(name="attr_character-name" type="text")
			span(data-i18n="name") Name
		label(data-i18n-title="race" title="race")
			input(name="attr_character-race" type="text")
			span(data-i18n="race")
		label(data-i18n-title="occupation" title="occupation")
			input(name="attr_character-occupation" type="text")
			span
		label(data-i18n-title="player" title="player")
			input(name="attr_player-name" type="text")
			span(data-i18n="player")
		label(data-i18n-title="experience-abbrv" title="exp")
			input(name="attr_character-exp" type="number")
			span(data-i18n="experience-abbrv")
		label(data-i18n-title="unspent" title="unspent")
			input(name="attr_character-expu" type="number")
			span(data-i18n="unspent")



//- Old HTML BODY
include src/pug/oldsymbaroum.html