
 .charsheet .sheet-col>div{
    padding-bottom:1em;   
 }
 .charsheet .sheet-row>div{
     display:inline-block;
 }
 
.charsheet {
    background-color:#000303 ;
    background-image:url("http://images.geeknative.com.s3.amazonaws.com/wp-content/uploads/2014/07/01-Symbaroum-cover-image.jpg");
    background-repeat: no-repeat;
    background-size: 850px;
    background-position: 0 20px;
    background-origin: ;
    background-clip: ;
    text-shadow: 1px 1px 2px #000101, -1px -1px 2px #000101,1px -1px 2px #000101, -1px 1px 2px #000101,
        1px 1px 12px #000101, -1px -1px 12px #000101,1px -1px 12px #000101, -1px 1px 12px #000101;
    color: #FAFAFA;
}
.charsheet * {
    box-sizing: border-box;
    font-family: "Georgia"; 
}
/* Roll Templates*/

.charsheet .sheet-rolltemplate-defense,
.charsheet .sheet-rolltemplate-attack{
}


.sheet-rolltemplate-attack table,
.sheet-rolltemplate-defense table {
    font-family: "Georgia";
    background-color: #a0a0a0;
    width: 180px;
    border: 3px solid #004040;
}
.sheet-rolltemplate-defense tr,
.sheet-rolltemplate-attack tr {
}
.sheet-rolltemplate-defense th,
.sheet-rolltemplate-attack th {
    border-top:3px solid #004040;
    text-align:center;
    font-style:bold;
}
.sheet-rolltemplate-defense td,
.sheet-rolltemplate-attack td {
    padding:.25em;
}


/* TABS HANDLING */
.charsheet div[class^="sheet-section"] {
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}
.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] {
    max-height: 999998px;
    opacity: 1;
    transition: opacity 0.25s linear 0s;
    overflow: auto; 
    
}
.charsheet input.sheet-tab {
    width: 175px;
    height: 23px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    z-index: 9999;
    vertical-align:top;
}
.charsheet span.sheet-tab {
    text-align: center;
    display: inline-block;
    padding-left, padding-right: 3px;
    width: 175px;
    height: 23px;
    cursor: pointer;
    position: relative;
    margin-left: -184px;
    margin-top: 0px;
    color: #FAFAFA;
    border-radius: 5px 5px 0px 0px;
    font-size: 12px;
    box-shadow: 2px 2px 5px #FAFAFA inset,-2px -2px 5px #202020 inset;
    vertical-align:top;
    background-color: #303030;
}
.charsheet input.sheet-tab::before {
    display: inline-block;
    margin-top:-30px;
    content: attr(title);
    text-align: center;
    width: 100%;
    height: 100%;
    background: #002020;
}
.charsheet input.sheet-tab:checked::before {
    background: #4E686A;
    color:blue;
}
.charsheet input.sheet-tab1:checked ~ div.sheet-section-pc1,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-pc2,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-pc3,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-pc4{
    max-height: 999999px;
    visibility: visible;
    min-height:1058px;
    opacity: 1;
    transition: opacity .25s linear 0s;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    margin-bottom: -6px;
}
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4{
    box-shadow: -2px -2px 5px #FAFAFA inset, 2px 2px 5px #202020 inset;
    opacity: 1;
}

/* END TABS HANDLING */



.charsheet .sheet-table{
    display:table;
    width:100%;  
}.charsheet .sheet-table > div {
    display:table-row;
}.charsheet .sheet-table > div > div {
    position:relative;
    vertical-align:middle;
    display:table-cell;
}.charsheet .sheet-table > div > div > input {
    width:100%;
}




.charsheet label { 
    margin: 0;
    padding:0;
    text-align: left;
    font-size: 1em;
    font-weight: normal;
    color: #D8D8D8 ;
}
.charsheet .sheet-label-large {
    padding:0;
    font-size:1.5em;
    margin:0px 0px .5em 0px;
}

.charsheet select {
    width:3em;
    height:2em;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    background: #FBFCFC;
    border-radius:6px;
    border: 3px solid #004040;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: right;
    line-height:1em;
}

.charsheet select > option {
    text-align:right;
}
.charsheet input[type=radio]{
    margin:0 5px 0 5px;   
}
.charsheet .sheet-number-circle::-webkit-inner-spin-button, 
.charsheet .sheet-number-circle::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/*
.charsheet .sheet-number-circle-small::-webkit-inner-spin-button, 
.charsheet .sheet-number-circle-small::-webkit-outer-spin-button { 
    margin-left:-1em;
    
}*/
.charsheet input[type="number"].sheet-number-circle{
    font-size:1.25em;
    border: 3px solid #004040;
    padding:0 .5em 0 .5em;
    width:2.33em;
    height:2.33em;
    text-align: center;
    vertical-align:center;
    border-radius:3em;
    color: #000000;
    background: #FBFCFC;
    
}

.charsheet input[type="number"].sheet-number-circle-small{
    font-size:.75em;
    border: 3px solid #004040;
    padding:0 .5em 0 .5em;
    display: inline;
    width:4em;
    height:2em;
    text-align: left;
    vertical-align:top;
    border-radius:2em;
    margin-left:-1.5em;
}

.charsheet input[type="number"].sheet-number-box-small{
    border: 3px solid #004040;
    padding:0 0 0 3px;
    display: inline;
    width:3.1em;
    height:2em;
    text-align: left;
    vertical-align:top;
    border-radius:6px;
}

.charsheet input[type="number"]:disabled
{
    background: #aaaaaa;
}

.charsheet .sheet-row {
    padding:0 30px 10px 30px;   
}

.charsheet textarea {
    padding:2px;
    box-sizing: border-box;
    margin:0;
    resize: vertical;
    overflow:hidden;
    display: block;
    text-align: left;
    border: 3px solid #004040;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    height:6em;
    width:100%
}
.charsheet .sheet-fsheader textarea {
    resize: vertical;    
    height:4em
}

.charsheet input[type="text"]{
    height:2em;
    border: 3px solid #004040;
    text-align: left;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 13px;
}

.charsheet input[type="checkbox"] {
    border: 3px solid #004040;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}


.charsheet td, .charsheet th{
    font-size: 14px;
    font-weight: normal;
    color: #f0f0f0; 
}



/*BUTTON*/
.charsheet buttom[type=roll]{
    font-size:1em;
}

.charsheet .sheet-floater label{
    text-align:center;
    margin-bottom: 10px;
       
}
.charsheet .sheet-floater span{
    font-size:.75em;
    position:relative; 
    top:-2em; 
    left:2em;
    
}
.charsheet .sheet-attributes{
    /*box-shadow: 1px 1px 5px #FAFAFA inset,-1px -1px 5px #FAFAFA inset,
    1px 1px 3px #004040,-1px -1px 2px #004040,1px -1px 3px #004040,-1px -1px 3px #004040;*/
    text-align:center;
    border-radius:6px;
    width:100%;
}

.charsheet .sheet-attributes>div{
    display:inline-block;
    padding-bottom:5px;
    vertical-align:top;
    font-size:16px;
    width:12%;
}
.sheet-attributes label{
    text-align:center;
    margin-bottom: 10px;   
    margin-bottom: -1.5em;
}
.sheet-attributes span {
    font-size:.75em;
    position:relative; 
    top:-2em; 
    left:2em;
}
.sheet-attributes button{
    text-align:center;
    overflow: hidden;
    margin:0;
    width:88%;
    height:1.5em;
    opacity:0.2;
    z-index:9999;
}
.charsheet div.sheet-checkbox {
       display:table-cell;
       display:inline;
       margin:0 2px 0 2px;
}
.charsheet .sheet-2rowblock {
    display:inline-block;   
    text-align:left;
    
}

.charsheet .sheet-2rowblock label {
    padding-left:0em;  
    margin:0px 0px 4px 0px;
}


.charsheet .sheet-2rowblock div{
    display:inline-block;
    width:auto;
    height:auto;
}
 
.charsheet .sheet-2rowblock * {
    vertical-align:bottom;
    text-align:left;
    width:100%;
}
.charsheet .sheet-2rowblock input{
    width:7.5em;   
}

.charsheet .sheet-title>div {
    display:inline-block;
    vertical-align:top;
    
}
.charsheet .sheet-title>div > label {
    padding-left:.5em;
    
}
.sheet-ability{
    width:auto;
    display:inline-block;  
}
.charsheet .sheet-ability div {
    display:inline-block;
    width:100%;
}
.charsheet .sheet-ability input[type="text"]{
    font-weight:bold;   
    width:100%;
}
