.charsheet table,
.charsheet div,
.charsheet span
{
    text-shadow: 1px 1px 2px #000101, -1px -1px 2px #000101,1px -1px 2px #000101, -1px 1px 2px #000101,
        1px 1px 12px #000101, -1px -1px 12px #000101,1px -1px 12px #000101, -1px 1px 12px #000101;
    color: #FAFAFA;
}

.charsheet {
    background-color:#000303 ;
    background-image:url("http://images.geeknative.com.s3.amazonaws.com/wp-content/uploads/2014/07/01-Symbaroum-cover-image.jpg");
    background-repeat: no-repeat;
    background-size: 850px;
    background-origin: ;
    background-clip: ;
}
.charsheet * {
    box-sizing: border-box;
    font-family: "Georgia"; 
}

/* TABS HANDLING */
.charsheet div[class^="sheet-section"] {
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}
.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] {
    max-height: 999998px;
    opacity: 1;
    transition: opacity 0.25s linear 0s;
    overflow: auto;
}
.charsheet input.sheet-tab {
    width: 175px;
    height: 23px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    z-index: 9999;
    vertical-align:top;
}
.charsheet span.sheet-tab {
    text-align: center;
    display: inline-block;
    padding-left, padding-right: 3px;
    width: 175px;
    height: 23px;
    cursor: pointer;
    position: relative;
    margin-left:-184px;
    color: #FAFAFA;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    box-shadow: 2px 2px 5px #FAFAFA inset,-2px -2px 5px #002020 inset;
    vertical-align:top;
}

.charsheet input.sheet-tab::before {
    display: inline-block;
    content: attr(title);
    text-align: center;
    width: 100%;
    height: 100%;
    background: #002020;
    color:white;
}
.charsheet input.sheet-tab:checked::before {
    background: #4E686A;
    color:blue;
}


.charsheet input.sheet-tab1:checked ~ div.sheet-section-pc1,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-pc2,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-pc3,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-pc4{
    max-height: 999999px;
    visibility: visible;
    min-height:1058px;
    opacity: 1;
    transition: opacity .25s linear 0s;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    margin-bottom: -6px;
}

.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4{
    box-shadow: -2px -2px 5px #FAFAFA inset,2px 2px 5px #002020 inset;
    opacity: 1;
    
}

/* END TABS HANDLING */


/* Fieldsets */
.charsheet fieldset.repeating_ability,
.charsheet fieldset.repeating_weapons,
.charsheet fieldset.repeating_armor {
    padding-bottom:30px;
}

.charsheet div.sheet-stretch-to-row,
.charsheet fieldset.repeating_weapons > div,
.charsheet fieldset.repeating_armor > div {
    display:inline;
    display:table;
    width:100%;
}
.charsheet div.sheet-stretch-to-row > div,
.charsheet fieldset.repeating_weapons > div > div ,
.charsheet fieldset.repeating_armor > div > div {/* Row */
    text-align:center;
    display:table-cell;
}

.charsheet div.sheet-stretch-to-row > div > *,
.charsheet fieldset.repeating_weapons > div > div > *,
.charsheet fieldset.repeating_armor > div > div > * {/* Elements in a row */
    width:100%;
}
/* END Fieldsets */

.charsheet .sheet-table{
    display:table;
    width:100%;
    text-align:right;
    
}.charsheet .sheet-table > div {
    display:table-row;
}.charsheet .sheet-table > div > div {
    position:relative;
    vertical-align:middle;
    display:table-cell;
}.charsheet .sheet-table > div > div > input {
    width:100%;
}




.charsheet label { 
    margin: 0px 0px 4px 12px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    font-family: "Georgia";
    color: #D8D8D8 ;
}

/*
.charsheet select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    display: inline-block;
    border: 3px solid #003030;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
    width:74px;
}
*/
.charsheet input[type=radio]{
    margin:0 5px 0 5px;   
}

.charsheet input[type=number]::-webkit-inner-spin-button, 
.charsheet input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.charsheet input[type="number"].sheet-number-circle{
    border: 3px solid #004040;
    padding:0;
    height: 32px;
    width: 32px !important;
    text-align: center;
    vertical-align:center;
    border-radius:16px;
    color: #000000;
    background: #FBFCFC;
    font-size: 14px;
    
}

.charsheet input[type="number"].sheet-number-circle-small{
    border: 3px solid #004040;
    padding:0;
    display: inline;
    height: 24px;
    width: 24px !important;
    text-align: center;
    vertical-align:top;
    border-radius:24px;
    margin-left:-10px;
}

.charsheet input[type="number"].sheet-number-box-small{
    border: 3px solid #004040;
    padding:0;
    display: inline;
    height: 24px;
    width: 36px !important;
    text-align: center;
    vertical-align:top;
    border-radius:6px;
}
.charsheet .sheet-row {
    padding:0 30px 10px 30px;   
}

.charsheet textarea {
    box-sizing: border-box;
    margin:0;
    resize: vertical;
    overflow:hidden;
    display: block;
    text-align: left;
    border: 3px solid #004040;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
    height:2.5em;
}
.charsheet .sheet-fsheader textarea {
    resize: vertical;    
    height:4em
}

.charsheet .sheet-thin{
    width:35%;
    width:calc(40%-20px);
    display:inline;
}
.charsheet .sheet-wide{
    width:60%;
    width:calc(60%-20px);
}
.charsheet input[type="text"]{
    height:24px;
    border: 3px solid #004040;
    text-align: left;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}

.charsheet input[type="checkbox"] {
    border: 3px solid #004040;
    color: #000000;
    background: #FBFCFC;
    border-radius:6px;
    font-size: 12px;
}

.charsheet input:disabled {
    background: #aaaaaa;
}

.charsheet td, .charsheet th{
    font-size: 14px;
    font-weight: normal;
    color: #f0f0f0; 
}



/*BUTTON*/
.charsheet button[type=roll].sheet-hidden {
    overflow: hidden;
    width:75%;
    height:1.5em;
    opacity:0.2;
    z-index:9999;
}

.charsheet .sheet-floater{
    margin-top: -1.5em;
}

.charsheet .sheet-attributes{
    /*box-shadow: 1px 1px 5px #FAFAFA inset,-1px -1px 5px #FAFAFA inset,
    1px 1px 3px #004040,-1px -1px 2px #004040,1px -1px 3px #004040,-1px -1px 3px #004040;*/
    text-align:center;
    border-radius:6px;
    Margin-bottom:13px;
}

.charsheet .sheet-attributes>div{
    display:inline-block;
    padding-bottom:5px;
    vertical-align:top;
    font-size:16px;
    width:12%;
}
.charsheet .sheet-attributes>div>span{
    position:relative;
    margin-top:-16px;
}
.charsheet div.sheet-checkbox {
       display:table-cell;
       display:inline;
       margin:0 2px 0 2px;
}


/* ARROWS */

.charsheet .sheet-arrow-up {
    width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid red;
}

.charsheet .sheet-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
}

.charsheet .sheet-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid #002020;
}

.charsheet .sheet-arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid blue; 
}
