/* === GENERAL === */


.charsheet {
	min-width: 800px;
}

.sheet-header {
	margin-bottom: 4px;
	padding: 2px 4px;

	background: black;
	color: white;
	font-weight: bold;
}

.sheet-section {
	float: left;
	width: 100%;

	margin: 4px 0;
	padding: 1px;
	box-sizing: border-box;
}

.sheet-half {
	max-width: 50%;
}

.sheet-break {
	clear: both;
}

label,
select {
	margin: 0;
}

textarea {
	margin: 0;
	width: 100%;
	height: 400px;
	resize: vertical;
	box-sizing: border-box;
}

.sheet-repitem,
.repitem {
	margin-bottom: 2px;
}

/* Override Roll20 Button styling for something less conspicious */
button {
	height: 22px;
	line-height: 16px;
	margin: 0 !important;
	border-radius: 0 !important;
	background-image: none !important;
	border: none !important;
	box-shadow: none !important;
}

.repitem button {
	height: 28px;
	line-height: 20px;
}

/* === BASIC === */
.sheet-logo {
	width: 300px;
	float: left;
}

.sheet-section-basic tr {
	margin-left: 5px;
}

.sheet-section-basic td {
	padding: 2px;
}

.sheet-section-basic input[type="number"] {
	width: 100px;
}

.sheet-section-basic .sheet-column {
	width: calc(50% - 200px);
}

/* === SKILLS === */
.sheet-section-skills {
	min-width: 400px;
}

.sheet-section-skills input {
	width: 60px;
}

.sheet-section-skills td:first-child {
	text-align: right;
	font-weight: bold;
	padding: 0 4px;
}

.sheet-skill-on {
	border: 1px solid black;
}

.sheet-skill-off {
	background-color: #E3E3E3;
	border: 1px solid gray;
}

/* === ASPECT === */
.sheet-section-aspects input {
	width: 100%;
}

/* === STRESS === */
.sheet-section-stress td {
	text-align: left;
	padding-right: 5px;
}

.sheet-section-stress input {
	margin-left: 2px;
}

.sheet-check-on {
	border: 1px solid black;
}

.sheet-check-off {
	background-color: #E3E3E3;
	border: 1px solid gray;
}

/* === CONSEQUENCES === */
.sheet-section-consequences {
	float: right;
}

.sheet-section-consequences select {
	width: 100px;
	float: left;
}

.sheet-section-consequences input {
	margin-left: 2px;
	width: calc(100% - 102px);
}

input.sheet-toc:checked ~ .sheet-master-container {
	width: 850px;
	background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/fragmentos/images/fragmentos_fondo.jpg") no-repeat;
	background-size: cover;
	border-top: 2px solid #c9a800;
}
