<div class="attacks wrap-box mar-b-smd">
  <fieldset class="repeating_attack">
    <div class="attack compendium-drop-target relative mar-b-sm">
      <input type="hidden" name="attr_weight" accept="Weight">

      <input type="hidden" name="attr_attack_formula">
      <input type="hidden" name="attr_damage_formula">
      <input type="hidden" name="attr_second_damage_formula">
      <button type="roll" name="roll_attack"
              value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=@{name}}}   {{action=1}}   {{reach=@{reach}}}   {{range=@{range}}}   {{ammo=@{ammo}}}   {{targetName=@{attacks_vs_target_name}}}   @{roll_toggle}   @{saving_throw_toggle}   @{damage_toggle}   @{second_damage_toggle}   @{extras_toggle}    @{tie_on_attack}">
        <div class="shaped-row vert-center">
          <div class="col-35 center pad-r-sm">
            <input type="text" name="attr_name" class="center" readonly>
          </div>
          <div class="col-10 center pad-r-sm">
            <input type="text" name="attr_to_hit" class="center" readonly>
          </div>
          <div class="col-50 center pad-r-sm">
            <input type="text" name="attr_damage_string" class="center" readonly>
          </div>
        </div>
      </button>
      <input type="checkbox" name="attr_toggle_details" class="sheet-toggle-icon-settings" checked><span class="sheet-toggle-icon-settings pictos">y</span>
      <div class="details">
        <div class="shaped-row">
          <div class="col-40 center">
            <input type="text" name="attr_name" class="center" placeholder="name" accept="Name">

            <div class="small-label">{{'NAME' | translate}}</div>
          </div>
          <div class="col-17 center pad-l-sm pad-r-sm">
            <select name="attr_type">
              <option value="melee">Melee</option>
              <option value="ranged">Ranged</option>
              <option value="other">Other</option>
            </select>

            <div class="small-label">{{'TYPE' | translate}}</div>
          </div>
          <div class="col-10 center pad-l-sm pad-r-sm">
            <input type="text" name="attr_reach" class="center">

            <div class="small-label">{{'REACH' | translate}}</div>
          </div>

          <div class="col-18 center pad-l-sm pad-r-sm">
            <input type="text" name="attr_range" class="center">

            <div class="small-label">{{'RANGE' | translate}}</div>
          </div>
          <div class="col-15 center pad-l-sm">
            <input type="number" name="attr_ammo" class="center" min="0">

            <div class="small-label">{{'AMMO' | translate}}</div>
          </div>
        </div>

        //= include components/attack.html
        //= include components/savingThrow.html
        //= include components/damage.html
        //= include components/damageSecondary.html
        //= include components/extras.html
      </div>
    </div>
  </fieldset>

  <div class="wrap-box-title center">{{'ATTACKS' | translate}}</div>
</div>