<div class="wrap-box appearance pc mar-b-smd">
  <div class="shaped-row mar-b-md">
    <div class="col-1-8 center pad-r-sm">
      <input type="text" name="attr_gender" class="center">

      <div class="wrap-box-label">{{'GENDER' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-l-sm pad-r-sm">
      <input type="text" name="attr_size" class="center">

      <div class="wrap-box-label">{{'SIZE' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-l-sm pad-r-sm">
      <input type="number" name="attr_age" class="center">

      <div class="wrap-box-label">{{'AGE' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-l-sm pad-r-sm">
      <input type="text" name="attr_height" class="center">

      <div class="wrap-box-label">{{'HEIGHT' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-l-sm pad-r-sm">
      <input type="text" name="attr_weight" class="center">

      <div class="wrap-box-label">{{'WEIGHT' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-l-sm pad-r-sm">
      <input type="text" name="attr_eyes" class="center">

      <div class="wrap-box-label">{{'EYES' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-l-sm pad-r-sm">
      <input type="text" name="attr_skin" class="center">


      <div class="wrap-box-label">{{'SKIN' | translate}}</div>
    </div>
    <div class="col-1-8 center pad-l-sm">
      <input type="text" name="attr_hair" class="center">

      <div class="wrap-box-label">{{'HAIR' | translate}}</div>
    </div>
  </div>
  <div class="wrap-box-title center">{{'APPEARANCE' | translate}}</div>
</div>