<div class="section-character pc">
  //= include classes.html

  //= include appearance.html

  <div class="shaped-row mar-b-smd">
    <div class="col-50 pad-r-sm">
      //= include vision.html
    </div>
    <div class="col-50 pad-l-sm">
      //= include movement.html
    </div>
  </div>

  <div class="wrap-box center">
    <input type="hidden" attr="attr_jack_of_all_trades">
    <input type="checkbox" name="attr_jack_of_all_trades_toggle" class="toggle-jack-of-all-trades"><span class="toggle-jack-of-all-trades">{{'JACK_OF_ALL_TRADES' | translate}}</span>

    <input type="hidden" name="attr_d20_mod">
    <input type="checkbox" name="attr_halfling_luck" class="toggle-halfling-luck"><span class="toggle-halfling-luck">{{'HALFLING_LUCK' | translate}}</span>

    <div class="wrap-box-title">{{'FEATURES' | translate}}</div>
  </div>
</div>
