<div class="section-character pc">
  //= include classes.html

  <div class="shaped-row mar-b-smd">
    <div class="col-20 pad-r-sm">
      <select name="attr_default_ability">
        <option value="0">&#8212;</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}">Str</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>

      <div class="small-label">{{'DEFAULT_ABILITY' | translate}}</div>
    </div>
  </div>


  //= include appearance.html

  <div class="shaped-row mar-b-smd">
    <div class="col-50 pad-r-sm">
      //= include vision.html
    </div>
    <div class="col-50 pad-l-sm">
      //= include movement.html
    </div>
  </div>

  <div class="wrap-box center">
    <input type="hidden" attr="attr_jack_of_all_trades">
    <input type="checkbox" name="attr_jack_of_all_trades_toggle" value="@{jack_of_all_trades}" class="toggle-jack-of-all-trades"><span class="toggle-jack-of-all-trades">{{'JACK_OF_ALL_TRADES' | translate}}</span>

    <input type="hidden" name="attr_d20_mod">
    <input type="checkbox" name="attr_halfling_luck" class="toggle-halfling-luck"><span class="toggle-halfling-luck">{{'HALFLING_LUCK' | translate}}</span>

    <div class="wrap-box-title">{{'FEATURES' | translate}}</div>
  </div>
</div>
