<div class="section-character pc">
  <div class="shaped-row mar-b-smd">
    <input type="hidden" attr="attr_caster_level">

    <div class="col-70 pad-r-sm">
      //= include classes.html

      <div class="col-12 float-right mar-b-smd mar-r-sm">
        //= include defaultAbility.html
      </div>
    </div>
    <div class="col-30 pad-l-sm">
      //= include spellSlotAdjustments.html
    </div>
  </div>

  //= include appearance.html

  <div class="shaped-row mar-b-smd">
    <div class="col-50 pad-r-sm">
      //= include vision.html
    </div>
    <div class="col-50 pad-l-sm">
      //= include movement.html
    </div>
  </div>

  <div class="wrap-box center mar-b-smd">
    <input type="hidden" attr="attr_jack_of_all_trades">
    <input type="checkbox" name="attr_jack_of_all_trades_toggle" value="@{jack_of_all_trades}" class="toggle-jack-of-all-trades"><span class="toggle-jack-of-all-trades">{{'JACK_OF_ALL_TRADES' | translate}}</span>

    <input type="hidden" name="attr_d20_mod">
    <input type="checkbox" name="attr_halfling_luck" class="toggle-halfling-luck"><span class="toggle-halfling-luck">{{'HALFLING_LUCK' | translate}}</span>

    <div class="wrap-box-title">{{'FEATURES' | translate}}</div>
  </div>

  <div class="wrap-box center">
    <textarea name="attr_miscellaneous_notes" class="eight-line-textarea"></textarea>

    <div class="wrap-box-title">{{'MISCELLANEOUS_NOTES' | translate}}</div>
  </div>
</div>
