<div class="wrap-box mar-b-smd">
  <input type="hidden" name="attr_level">
  <div class="shaped-row vert-center">
    <div class="col-12 wrap-box-label light-label center pad-r-sm">{{'CLASS' | translate}}</div>
    <div class="col-20 wrap-box-label light-label center pad-l-sm pad-r-sm">{{'CUSTOM_NAME' | translate}}</div>
    <div class="col-10 wrap-box-label light-label center pad-l-sm pad-r-sm">{{'LEVEL' | translate}}</div>
    <div class="col-10 wrap-box-label light-label center pad-l-sm pad-r-sm">{{'HIT_DICE' | translate}}</div>
    <div class="col-30 wrap-box-label light-label center pad-l-sm">{{'SPELLCASTING' | translate}}</div>
  </div>
  <fieldset class="repeating_class">
    <div class="shaped-row vert-center">
      <div class="col-12 pad-r-sm">
        <select name="attr_name">
          <option value="barbarian">Barbarian</option>
          <option value="bard">Bard</option>
          <option value="cleric">Cleric</option>
          <option value="druid">Druid</option>
          <option value="fighter">Fighter</option>
          <option value="monk">Monk</option>
          <option value="paladin">Paladin</option>
          <option value="ranger">Ranger</option>
          <option value="rogue">Rogue</option>
          <option value="sorcerer">Sorcerer</option>
          <option value="warlock">Warlock</option>
          <option value="wizard">Wizard</option>
          <option value="custom">Custom</option>
        </select>
      </div>
      <div class="col-20 pad-l-sm pad-r-sm">
        <input type="checkbox" name="attr_custom_class_toggle" class="toggle-custom-class hidden">
        <input type="text" name="attr_custom_name" class="custom-class">
      </div>
      <div class="col-10 pad-l-sm pad-r-sm">
        <input type="number" name="attr_level" class="center">
      </div>
      <div class="col-10 pad-l-sm pad-r-sm">
        <select name="attr_hd">
          <option value="d0">&#8212;</option>
          <option>d2</option>
          <option>d4</option>
          <option>d6</option>
          <option>d8</option>
          <option>d10</option>
          <option>d12</option>
          <option>d20</option>
        </select>
      </div>
      <div class="col-30 pad-l-sm">
        <select name="attr_spellcasting">
          <option value="none">&#8212;</option>
          <option value="full">Full (9th level: Cleric, Druid, Sorcerer, Wizard)</option>
          <option value="half">Half (5th level: Paladin, Ranger)</option>
          <option value="third">Third (3rd level: Arcane Archetypes)</option>
          <option value="warlock">Warlock</option>
        </select>
      </div>
    </div>
  </fieldset>

  <div class="wrap-box-title center">{{'CLASS_LEVELS' | translate}}</div>
</div>