<div class="wrap-box mar-b-smd">
  <input type="hidden" name="attr_level">
  <div class="shaped-row vert-center">
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_barbarian_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.BARBARIAN' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_bard_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.BARD' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_cleric_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.CLERIC' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_druid_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.DRUID' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_fighter_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.FIGHTER' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_monk_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.MONK' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_paladin_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.PALADIN' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_ranger_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.RANGER' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_rogue_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.ROGUE' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_sorcerer_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.SORCERER' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_warlock_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.WARLOCK' | translate}}</div>
    </div>
    <div class="col-1-12 center pad-r-md">
      <input type="number" name="attr_wizard_level" min="0" step="1">

      <div class="small-label">{{'CLASSES.WIZARD' | translate}}</div>
    </div>
  </div>

  <div class="shaped-row vert-center mar-t-md">
    <!-- inject:custom_class:html -->
    <!-- endinject -->
  </div>

  <div class="wrap-box-title center">{{'CLASS_LEVELS' | translate}}</div>
</div>