<div class="col-12 relative mar-b-smd mar-r-sm">
  <div class="wrap-box">
    <div class="tooltip-position-wrapper">
      <div class="tooltip">
        <div class="tooltip-toggle-text center">?</div>
        <div class="tooltip-content-right small-label">
          This will set the ability for saving throw DCs when importing a Spell or Attack. If "Add Casting Modifier" is also set on the importing item it will apply to the damage ability or heal ability as well.
        </div>
      </div>
    </div>
    <select name="attr_default_ability">
      <option value="0">&#8212;</option>
      <option value="@{finesse_mod}">Finesse</option>
      <option value="@{strength_mod}">Str</option>
      <option value="@{dexterity_mod}">Dex</option>
      <option value="@{constitution_mod}">Con</option>
      <option value="@{intelligence_mod}">Int</option>
      <option value="@{wisdom_mod}">Wis</option>
      <option value="@{charisma_mod}">Cha</option>
    </select>

    <div class="wrap-box-title center">{{'DEFAULT_ABILITY' | translate}}</div>
  </div>
</div>