<div class="wrap-box relative">
  <div class="tooltip-position-wrapper">
    <div class="tooltip">
      <div class="tooltip-toggle-text center">?</div>
      <div class="tooltip-content-left small-label">{{'DEFAULT_ABILITY_TOOLTIP' | translate}}</div>
    </div>
  </div>
  <span class="en">
    <select name="attr_default_ability">
      <option value="0">&#8212;</option>
      <option value="@{finesse_mod}">Finesse</option>
      <option value="@{strength_mod}">Str</option>
      <option value="@{dexterity_mod}">Dex</option>
      <option value="@{constitution_mod}">Con</option>
      <option value="@{intelligence_mod}">Int</option>
      <option value="@{wisdom_mod}">Wis</option>
      <option value="@{charisma_mod}">Cha</option>
    </select>
  </span>
  <span class="de">
    <select name="attr_default_ability">
      <option value="0">&#8212;</option>
      <option value="@{finesse_mod}">Finesse</option>
      <option value="@{strength_mod}">Str</option>
      <option value="@{dexterity_mod}">Ges</option>
      <option value="@{constitution_mod}">Kon</option>
      <option value="@{intelligence_mod}">Int</option>
      <option value="@{wisdom_mod}">Wei</option>
      <option value="@{charisma_mod}">Cha</option>
    </select>
  </span>
  <span class="fr">
    <select name="attr_default_ability">
      <option value="0">&#8212;</option>
      <option value="@{finesse_mod}">Finesse</option>
      <option value="@{strength_mod}">For</option>
      <option value="@{dexterity_mod}">Dex</option>
      <option value="@{constitution_mod}">Con</option>
      <option value="@{intelligence_mod}">Int</option>
      <option value="@{wisdom_mod}">Sag</option>
      <option value="@{charisma_mod}">Cha</option>
    </select>
  </span>
  <span class="ru">
    <select name="attr_default_ability">
      <option value="0">&#8212;</option>
      <option value="@{finesse_mod}">Фехтовальное</option>
      <option value="@{strength_mod}">Сил</option>
      <option value="@{dexterity_mod}">Лов</option>
      <option value="@{constitution_mod}">Тел</option>
      <option value="@{intelligence_mod}">Инт</option>
      <option value="@{wisdom_mod}">Муд</option>
      <option value="@{charisma_mod}">Хар</option>
    </select>
  </span>

  <div class="wrap-box-title center">{{'DEFAULT_ABILITY' | translate}}</div>
</div>
