.sheet-rolltemplates
  rolltemplate.sheet-rolltemplate-simple
    .sheet-container
      .sheet-header
        span.sheet-name {{roll_name}} {{number_of_dice}}
        .sheet-sub-header
          | {{#character}}
          span.sheet-faint {{character}}
          | {{#bl}}
          span -
          | {{/bl}}
          |   {{/character}}
          |   {{#description}}
          .row
            span.description {{description}}
          | {{/description}}
          |   {{#bl}}
          span.sheet-faint
            | Beginner's Luck (
            span.sheet-caps {{bl}}
            | )
          | {{/bl}}
      .sheet-result
        | {{#dead}}
        .sheet-failure.sheet-handwritten.sheet-dead
          span.sheet-row You're dead, seems unlikely
        | {{/dead}}
        |   {{^dead}}
        |   {{#rollGreater() result 1}}
        .sheet-success.sheet-handwritten
          span {{result}}
        .sheet-success-footer.sheet-success.sheet-handwritten
          span Successes
        | {{/rollGreater() result 1}}
        |   {{#rollTotal() result 1}}
        .sheet-success.sheet-handwritten
          span {{result}}
        .sheet-success-footer.sheet-success.sheet-handwritten
          span Success
        | {{/rollTotal() result 1}}
        |   {{#rollTotal() result 0}}
        .sheet-failure.sheet-handwritten
          span {{result}}
        .sheet-success-footer.sheet-failure.sheet-handwritten
          span Successes
        | {{/rollTotal() result 0}}
        |   {{/dead}}
      .sheet-conditions
        | {{#conditions}}
        span.sheet-handwritten {{conditions}}
        | {{/conditions}}
  rolltemplate.sheet-rolltemplate-complex
    .sheet-container
      .sheet-header
        span.sheet-name {{roll_name}} {{number_of_dice}}
        .sheet-sub-header
          | {{#character}}
          span.sheet-faint {{character}}
          | {{#bl}}
          span -
          | {{/bl}} {{/character}} {{#bl}}
          span.sheet-faint
            | Beginner's Luck (
            span.sheet-caps {{bl}}
            | )
          | {{/bl}}
      .sheet-result
        | {{#dead}}
        .sheet-failure.sheet-handwritten.sheet-dead
          span.sheet-row You're dead, seems unlikely
        | {{/dead}}
        |   {{^dead}}
        |   {{#simple}}
        |   {{#rollGreater() result 1}}
        .sheet-success.sheet-handwritten
          span {{result}}
        .sheet-success-footer.sheet-success.sheet-handwritten
          span Successes
        | {{/rollGreater() result 1}}
        |   {{#rollTotal() result 1}}
        .sheet-success.sheet-handwritten
          span {{result}}
        .sheet-success-footer.sheet-success.sheet-handwritten
          span Success
        | {{/rollTotal() result 1}}
        |   {{#rollTotal() result 0}}
        .sheet-failure.sheet-handwritten
          span {{result}}
        .sheet-success-footer.sheet-failure.sheet-handwritten
          span Successes
        | {{/rollTotal() result 0}}
        |   {{/simple}}
        |   {{^simple}}
        .sheet-column-3
          | {{#rollLess() result ob}}
          .sheet-failure.sheet-handwritten
            span {{result}}
          .sheet-success-footer.sheet-failure.sheet-handwritten
            | {{#rollTotal() result 1}}
            span Success
            | {{/rollTotal() result 1}} {{#^rollTotal() result 1}}
            span Successes
            | {{/^rollTotal() result 1}}
          | {{/rollLess() result ob}}
          |   {{#^rollLess() result ob}}
          .sheet-success.sheet-handwritten
            span {{result}}
          .sheet-success-footer.sheet-success.sheet-handwritten
            | {{#rollTotal() result 1}}
            span Success
            | {{/rollTotal() result 1}}
            |   {{#^rollTotal() result 1}}
            span Successes
            | {{/^rollTotal() result 1}}
          div
            | {{#success_mod}}
            |   {{#^rollTotal() success_mod 0}}
            |   {{#^rollLess() success_mod 0}}
            .sheet-success.sheet-handwritten
              span.sheet-operator +
              span {{success_mod}}
            .sheet-success-footer.sheet-success.sheet-handwritten
              | {{#rollTotal() success_mod 1}}
              span Success
              | {{/rollTotal() success_mod 1}}
              |   {{#^rollTotal() success_mod 1}}
              span Successes
              | {{/^rollTotal() success_mod 1}}
            | {{/^rollLess() success_mod 0}}
            |   {{#rollLess() success_mod 0}}
            .sheet-failure.sheet-handwritten
              span {{success_mod}}
            .sheet-success-footer.sheet-faiure.sheet-handwritten
              | {{#rollTotal() success_mod 1}}
              span Success
              | {{/rollTotal() success_mod 1}}
              |   {{#^rollTotal() success_mod 1}}
              span Successes
              | {{/^rollTotal() success_mod 1}}
            | {{/rollLess() success_mod 0}}
            |   {{/^rollTotal() success_mod 0}}
            |   {{/success_mod}}
          | {{/^rollLess() result ob}}
        | {{#conflict}}
        .sheet-column-3
          .sheet-handwritten
            span +
        .sheet-column-3
          .sheet-success.sheet-handwritten
            span {{disposition}}
          .sheet-success-footer.sheet-success.sheet-handwritten
            span Disposition
        | {{/conflict}}
        |   {{^conflict}}
        .sheet-column-3
          .sheet-vs
            span VS
        .sheet-column-3
          | {{#rollLess() ob result}}
          .sheet-failure.sheet-handwritten
            span {{ob}}
          .sheet-success-footer.sheet-failure.sheet-handwritten
            | {{#independent}}
            span Obstacle
            | {{/independent}} {{#versus}}
            span Opponent
            | {{/versus}}
          | {{/rollLess() ob result}} {{#^rollLess() ob result}}
          .sheet-success.sheet-handwritten
            span {{ob}}
          .sheet-success-footer.sheet-success.sheet-handwritten
            | {{#independent}}
            span Obstacle
            | {{/independent}} {{#versus}}
            span Opponent
            | {{/versus}}
          | {{/^rollLess() ob result}}
        | {{/conflict}}
        |   {{/simple}}
        |   {{/dead}}
      | {{#conflict}}
      .sheet-conflict-subtype
        span.sheet-handwritten
          | {{#might}}Might {{might}}{{/might}} {{#precedence}}Precedence
          |   {{precedence}}{{/precedence}}
      | {{/conflict}}
      .sheet-conditions
        | {{#conditions}}
        span.sheet-handwritten {{conditions}}
        | {{/conditions}}
        |   {{#modifiers}}
        |   {{#conditions}}
        span.sheet-handwritten.sheet-comma ,
        | {{/conditions}}
        span.sheet-handwritten {{modifiers}}
        | {{/modifiers}}