.sheet-container
  include ./../pages/tabs.pug

  // PAGE 1 - ANATOMY
  include ./../pages/anatomy/anatomy.pug

  // PAGE 2 - KIT
  include ./../pages/kit.pug

  // PAGE 3 - MAGIC
  include ./../pages/magic.pug

  // PAGE 4 - RELATIONSHIPS
  include ./../pages/relationships.pug

  // PAGE 5 - LEVEL REQUIREMENTS & BENEFITS
  include ./../pages/levels.pug

  // PAGE 5 - LEVEL REQUIREMENTS & BENEFITS
  include ./../pages/roll.pug
