@import url("https://fonts.googleapis.com/css?family=Cardo:ital,400;0,400;0,700;ital,700&display=swap");
.charsheet {
  flex-wrap: wrap;
  color: #333;
  position: relative;
  top: -11px;
  line-height: 18px;
  cursor: default;
  box-sizing: border-box;
  padding: 0 !important;
  font-family: "Cardo";
  font-size: 16px;
  min-width: 800px;
}
.charsheet div, .charsheet span, .charsheet textarea, .charsheet ul, .charsheet li, .charsheet span, .charsheet label {
  box-sizing: border-box;
}
.charsheet button[type=roll] {
  text-shadow: none;
  background: transparent;
  box-shadow: none;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  border-radius: 0;
  transition: all 0.2s;
}
.charsheet button[type=roll].btn::before {
  content: "";
}
.charsheet label {
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  color: #000;
  font: inherit;
  flex-wrap: wrap;
}
.charsheet label input[type=checkbox], .charsheet label input[type=radio] {
  position: absolute;
}
.charsheet label:hover input[type=checkbox] + span, .charsheet label:hover input[type=radio] + span {
  opacity: 0.7;
}
.charsheet input[type=text], .charsheet textarea {
  border: none;
  font-family: inherit;
  font-size: 16px;
  background: transparent;
  width: 100%;
  padding: 0;
  margin: 5px 0 10px 0;
  color: #333;
  border-radius: 0;
  transition: all 0.2s, height 0.4s;
}
.charsheet input[type=text] {
  text-align: center;
}
.charsheet textarea {
  resize: vertical;
  display: block;
}
.charsheet textarea:active {
  transition: height 0s;
}
.charsheet input[type=number] {
  border-color: #c7c7c7;
  color: #333;
  box-shadow: none;
}
.charsheet input[type=checkbox], .charsheet input[type=radio] {
  opacity: 0;
  z-index: 1;
  -moz-appearance: none;
  position: relative;
}
.charsheet input[type=checkbox] + span, .charsheet input[type=radio] + span {
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s, opacity 0s;
  position: absolute;
}
.charsheet ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #c7c7c7;
}
.charsheet :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c7c7c7;
  opacity: 1;
}
.charsheet ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c7c7c7;
  opacity: 1;
}
.charsheet :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c7c7c7;
}
.charsheet ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c7c7c7;
}
.charsheet ::placeholder {
  /* Most modern browsers support this now. */
  color: #c7c7c7;
}
.charsheet ul {
  list-style: none;
  margin: 0;
}
.charsheet li {
  position: relative;
}
.charsheet li::before {
  transform: rotate(45deg) scale(0.9);
  font-family: Georgia, serif;
  content: '■';
  left: 0;
  top: -.1em;
  position: absolute;
}
.charsheet button {
  background-color: white;
  background-image: none;
  border-radius: 0;
}
.charsheet button[type=roll].sheet-inherit, .charsheet input[type=text].sheet-inherit {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}
.charsheet .sheet-space-after::after {
  content: ' ';
}
.sheet-focus-shadow[value="1"] ~ .sheet-wrapper textarea:focus, .sheet-focus-shadow[value="1"] ~ .sheet-wrapper input[type=text]:focus, .sheet-focus-shadow[value="1"] ~ .sheet-wrapper input[type=number]:focus {
  box-shadow: inset 0 0 1px 1px rgba(66, 66, 66, 0.3), 0 0 2px 1px rgba(66, 66, 66, 0.3);
}
.sheet-hidden {
  display: none !important;
}
.sheet-wrapper {
  position: relative;
}
/* REPEATING SECTION CONTROLS */
/* REPEATING SECTION CONTROLS */
.repcontrol {
  display: flex;
}
.repcontrol .repcontrol_edit {
  margin-left: auto;
  order: 1;
}
.repcontrol button {
  background: transparent;
  color: #777;
  border-radius: 0;
  border-color: #b4b4b4;
  transition: all 0.2s;
  font-family: pictos;
  font-size: 0;
  font-weight: bold;
  padding: 5px 3px 2px;
  line-height: 8px;
  margin-top: 5px;
}
.repcontrol button:hover {
  color: black;
  border-color: black;
  background: #c7c7c7;
}
.repcontrol button.repcontrol_edit::after {
  content: "(";
}
.repcontrol button.repcontrol_add::after {
  content: "&";
}
.repcontrol button.repcontrol_edit::after, .repcontrol button.repcontrol_add::after {
  font-size: 12px;
}
.repcontainer.editmode + .repcontrol button.repcontrol_edit::after {
  content: ")";
}
.sheet-free-repcontrol .repcontrol {
  margin-top: 3px;
}
/* COLUMN LAYOUT */
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}
.flex-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-column {
  padding-left: 5px;
}
.col10 {
  width: 10%;
  flex-shrink: 0;
}
.col15 {
  width: 15%;
  flex-shrink: 0;
}
.col24b {
  width: 24.25%;
  flex-shrink: 0;
}
.col25 {
  width: 25%;
  flex-shrink: 0;
}
.col30 {
  width: 30%;
  flex-shrink: 0;
}
.col33 {
  width: 33.3%;
  flex-shrink: 0;
}
.col35 {
  width: 35%;
  flex-shrink: 0;
}
.col37 {
  width: 37%;
  flex-shrink: 0;
}
.col40 {
  width: 40%;
  flex-shrink: 0;
}
.col42 {
  width: 42.5%;
  flex-shrink: 0;
}
.col45 {
  width: 45%;
  flex-shrink: 0;
}
.col47 {
  width: 47%;
  flex-shrink: 0;
}
.col50 {
  width: 50%;
  flex-shrink: 0;
}
.col52b {
  width: 52%;
  flex-shrink: 0;
}
.col53 {
  width: 53%;
  flex-shrink: 0;
}
.col55 {
  width: 55%;
  flex-shrink: 0;
}
.col63 {
  width: 63%;
  flex-shrink: 0;
}
.col100 {
  width: 100%;
  flex-shrink: 0;
}
/* FONT STYLES */
.label,
input[type=text].label,
textarea.label,
button[type=roll].label {
  font-weight: bold;
  color: #333;
  padding: 0;
  font-size: 100%;
}
.sublabel {
  color: #333;
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.smallcaps,
input[type=text].smallcaps,
textarea.smallcaps {
  font-variant: small-caps;
  font-weight: bold;
}
.text {
  color: black;
  text-align: justify;
  padding: 3px 0 2px;
  line-height: 13px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background-color: black !important;
  padding: 3px 5px;
  border-radius: 0;
  border: none !important;
}
button.title {
  width: 95%;
  display: inline-block;
}
.sheettype[value="0"] ~ .freebootersheet,
.sheettype[value="2"] ~ .freebootersheet,
.sheettype[value="0"] ~ .factionsheet,
.sheettype[value="1"] ~ .factionsheet,
.sheettype[value="1"] ~ .type-selector,
.sheettype[value="2"] ~ .type-selector {
  display: none;
}
.sheettype[value="1"] ~ .freebootersheet,
.sheettype[value="2"] ~ .factionsheet,
.sheettype[value="0"] ~ .type-selector {
  display: flex;
}
.factionsheetmain {
  display: contents;
}
.factionselected[value="0"] ~ .factionsheetmain {
  display: none;
}
.type-selector {
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}
.type-selector select {
  margin-top: 30px;
}
.tracks {
  padding-left: 5px;
  padding-right: 5px;
}
.tracks .stresslabel {
  margin-right: 5px;
}
.tracks .harmlabel {
  margin-left: 5px;
}
.trackholder {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.trackspacer {
  margin: 5px 25px 0;
}
.lefttrack,
.righttrack {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  padding-top: 10px;
}
.lefttrack {
  justify-content: right;
  text-align: right;
}
.centertrack {
  /* CHECKBOXES */
}
.centertrack .centertrackrow {
  display: flex;
  width: 64px;
}
.centertrack .hexboxcontainer {
  background-color: #000;
  width: 22px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 5px;
  margin-right: 5px;
}
.centertrack .hexbox {
  margin-right: -20px;
}
.centertrack input.hexbox, .centertrack .hexbox + span {
  height: 20px;
  width: 20px;
  flex: 0 0 auto;
}
.centertrack .hexbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-v-unchecked.svg");
}
.centertrack .hexbox:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-v-checked.svg");
}
.centertrack .hexbox:hover + span {
  opacity: 0.7;
}
.burnelim {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  /* CHECKBOXES */
}
.burnelim .burnelimcenter1 {
  width: 200px;
}
.burnelim .burnelimcenter2 {
  width: 230px;
}
.burnelim .burnelimcenter3 {
  width: 180px;
}
.burnelim .burnelimcenter4 {
  width: 130px;
}
.burnelim .burnelimcenter5 {
  width: 80px;
}
.burnelim .beleft,
.burnelim .beright {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  margin-top: 10px;
  border: 3px solid;
  border-image-slice: 1;
  border-width: 2px 0;
  border-image-source: linear-gradient(to right, black, rgba(0, 0, 0, 0));
}
.burnelim .beleft {
  justify-content: right;
  border-image-source: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}
.burnelim .noborder {
  border: none;
}
.burnelim .hexboxcontainer {
  width: 22px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 5px;
  margin-right: 5px;
}
.burnelim .hexbox {
  margin-right: -20px;
}
.burnelim input.hexbox, .burnelim .hexbox + span {
  height: 20px;
  width: 20px;
  flex: 0 0 auto;
}
.burnelim .hexbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-unchecked.svg");
}
.burnelim .hexbox:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-checked.svg");
}
.burnelim .hexbox:hover + span {
  opacity: 0.7;
}
.burnelim::before {
  content: "";
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/8.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}
.possessions {
  /* CHECKBOXES */
}
.possessions .title {
  margin: 0 5px;
}
.possessions .purselabel {
  margin-top: 20px;
}
.possessions .loadoutlabel {
  color: #000;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.possessions .downtimebuttons {
  text-align: center;
  margin-top: 10px;
}
.possessions .downtimebuttons button {
  margin: 2px;
  padding: 2px;
}
.possessions .hexboxcontainer {
  background-image: linear-gradient(90deg, #fff 30%, #000 30%, #000 70%, #fff 67%);
  background-size: 100% 100%;
  width: 60px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
.possessions .hexbox {
  margin-right: -60px;
}
.possessions input.hexbox, .possessions .hexbox + span {
  height: 60px;
  width: 60px;
  flex: 0 0 auto;
}
.possessions .hexbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-v-unchecked.svg");
}
.possessions .hexbox:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-v-checked.svg");
}
.possessions .hexbox:hover + span {
  opacity: 0.7;
}
.sixcheckbox {
  width: 75px;
  height: 82.5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* CHECKBOXES */
}
.sixcheckbox .hexbox {
  position: absolute !important;
  margin-right: -30px;
}
.sixcheckbox .hexbox1 {
  top: 0;
  left: 22.5px;
}
.sixcheckbox .hexbox2 {
  top: 12.99px;
  left: 0;
}
.sixcheckbox .hexbox3 {
  top: 12.99px;
  left: 45px;
}
.sixcheckbox .hexbox4 {
  top: 38.97px;
  left: 0;
}
.sixcheckbox .hexbox5 {
  top: 38.97px;
  left: 45px;
}
.sixcheckbox .hexbox6 {
  left: 22.5px;
  top: 51.96px;
}
.sixcheckbox .underlay {
  position: absolute;
  height: 25.98px;
  width: 30px;
  left: 22.5px;
  top: 25.98px;
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-h-checked.svg");
  display: flex;
  justify-content: center;
  align-content: center;
}
.sixcheckbox .sixboxlabel {
  color: white;
  text-align: center;
  font-size: 1.2em;
  line-height: 27.98px;
}
.sixcheckbox input.hexbox, .sixcheckbox .hexbox + span {
  height: 25.98px;
  width: 30px;
  flex: 0 0 auto;
}
.sixcheckbox .hexbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-h-unchecked.svg");
}
.sixcheckbox .hexbox:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-h-checked.svg");
}
.sixcheckbox .hexbox:hover + span {
  opacity: 0.7;
}
.twelvecheckbox {
  width: 120px;
  height: 132px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* CHECKBOXES */
}
.twelvecheckbox .hexbox {
  position: absolute !important;
  margin-right: -30px;
}
.twelvecheckbox .hexbox1 {
  top: 0;
  left: 22.5px;
}
.twelvecheckbox .hexbox2 {
  top: 12.99px;
  left: 45px;
}
.twelvecheckbox .hexbox3 {
  top: 0;
  left: 67.5px;
}
.twelvecheckbox .hexbox4 {
  top: 38.97px;
  left: 0;
}
.twelvecheckbox .hexbox5 {
  top: 25.98px;
  left: 22.5px;
}
.twelvecheckbox .hexbox6 {
  top: 25.98px;
  left: 67.5px;
}
.twelvecheckbox .hexbox7 {
  top: 38.97px;
  right: 30px;
}
.twelvecheckbox .hexbox8 {
  top: 51.96px;
  left: 22.5px;
}
.twelvecheckbox .hexbox9 {
  top: 51.96px;
  left: 67.5px;
}
.twelvecheckbox .hexbox10 {
  top: 77.94px;
  left: 22.5px;
}
.twelvecheckbox .hexbox11 {
  top: 64.95px;
  left: 45px;
}
.twelvecheckbox .hexbox12 {
  top: 77.94px;
  left: 67.5px;
}
.twelvecheckbox .underlay {
  position: absolute;
  height: 25.98px;
  width: 30px;
  left: 45px;
  top: 38.97px;
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-h-checked.svg");
  display: flex;
  justify-content: center;
  align-content: center;
}
.twelvecheckbox .twelveboxlabel {
  color: white;
  text-align: center;
  font-size: 1.2em;
  line-height: 27.98px;
}
.twelvecheckbox input.hexbox, .twelvecheckbox .hexbox + span {
  height: 25.98px;
  width: 30px;
  flex: 0 0 auto;
}
.twelvecheckbox .hexbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-h-unchecked.svg");
}
.twelvecheckbox .hexbox:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-h-checked.svg");
}
.twelvecheckbox .hexbox:hover + span {
  opacity: 0.7;
}
.culture,
.lineage,
.devotion {
  margin: 20px 0 0;
  padding: 0px 5px;
  text-align: center;
}
.culture .playbook-selector,
.lineage .playbook-selector,
.devotion .playbook-selector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.culture .playbook-selector select,
.lineage .playbook-selector select,
.devotion .playbook-selector select {
  font-size: 16px;
  width: 100%;
  height: 34px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  padding: 3px 5px;
  border-radius: 0;
}
.culture .repitem,
.lineage .repitem,
.devotion .repitem {
  display: flex;
  flex-wrap: wrap;
  /* CHECKBOXES */
}
.culture .repitem .advancecheckholder,
.lineage .repitem .advancecheckholder,
.devotion .repitem .advancecheckholder {
  width: 20px;
  text-align: left;
}
.culture .repitem .advancecheck,
.lineage .repitem .advancecheck,
.devotion .repitem .advancecheck {
  margin-right: -20px;
}
.culture .repitem input.advancecheck, .culture .repitem .advancecheck + span,
.lineage .repitem input.advancecheck,
.lineage .repitem .advancecheck + span,
.devotion .repitem input.advancecheck,
.devotion .repitem .advancecheck + span {
  height: 20px;
  width: 20px;
  flex: 0 0 auto;
}
.culture .repitem .advancecheck + span,
.lineage .repitem .advancecheck + span,
.devotion .repitem .advancecheck + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-unchecked.svg");
}
.culture .repitem .advancecheck:checked + span,
.lineage .repitem .advancecheck:checked + span,
.devotion .repitem .advancecheck:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-checked.svg");
}
.culture .repitem .advancecheck:hover + span,
.lineage .repitem .advancecheck:hover + span,
.devotion .repitem .advancecheck:hover + span {
  opacity: 0.7;
}
.culture .repitem input[type=text],
.lineage .repitem input[type=text],
.devotion .repitem input[type=text] {
  text-align: left;
  width: 90%;
  height: 20px;
  font-weight: 700;
  margin: 0 0 0 5px;
}
.culture input[type=text],
.lineage input[type=text],
.devotion input[type=text] {
  border: none;
  font-size: 16px;
  outline: none;
  text-align: center;
}
.culture input[type=text].drive,
.lineage input[type=text].drive,
.devotion input[type=text].drive {
  font-style: italic;
}
.culture textarea,
.lineage textarea,
.devotion textarea {
  width: 100%;
  height: 110px;
  outline: none;
  border: none;
  font-weight: 300;
  padding-left: 25px;
}
.xpholder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px 0 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 5px;
  margin-right: 5px;
  /* CHECKBOXES */
}
.xpholder .resetbox,
.xpholder .resetbox + span {
  display: none !important;
}
.xpholder .xpbox {
  margin-right: -20px;
  z-index: 1;
}
.xpholder input.xpbox, .xpholder .xpbox + span {
  height: 20px;
  width: 20px;
  flex: 0 0 auto;
  position: relative !important;
}
.xpholder .xpbox:hover + span {
  opacity: 0.7;
}
.xpholder .xpbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-v-checked.svg");
}
.xpholder .xpbox:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-v-checked.svg");
}
.xpholder .xpbox:checked ~ .xpbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/hex-v-unchecked.svg");
}
.statblockholder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* CHECKBOXES */
}
.statblockholder .statholder {
  position: relative;
  width: 40px;
}
.statblockholder .statbox {
  position: absolute !important;
  margin-right: -20px;
}
.statblockholder .statbox0 {
  display: none !important;
}
.statblockholder .statbox1 {
  top: 0;
  left: 10px;
}
.statblockholder .statbox2 {
  top: 10px;
  left: 0;
}
.statblockholder .statbox3 {
  top: 10px;
  left: 20px;
}
.statblockholder .statbox4 {
  top: 20px;
  left: 10px;
}
.statblockholder .statbox + span {
  height: 20px;
  width: 20px;
  flex: 0 0 auto;
}
.statblockholder input.statbox {
  margin: 5px;
  height: 10px;
  width: 10px;
  flex: 0 0 auto;
}
.statblockholder .statbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-checked.svg");
}
.statblockholder .statbox:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-checked.svg");
}
.statblockholder .statbox:checked ~ .statbox + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-unchecked.svg");
}
.statblockholder .statbox:hover + span {
  opacity: 0.7;
}
.statblockholder .label {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400 !important;
  font-size: 14px !important;
  display: flex;
  justify-content: center;
  border: 0;
  margin: 0 !important;
  padding: 0 !important;
}
.factionsheet {
  display: flex;
}
.factionsheet .leftcolumn,
.factionsheet .middlecolumn,
.factionsheet .rightcolumn {
  padding: 0 5px;
}
.factionsheet .subtitle {
  font-style: italic;
}
.factionsheet .repeating_gear .repitem {
  display: flex;
  flex-wrap: wrap;
  /* CHECKBOXES */
}
.factionsheet .repeating_gear .repitem .gearcheck {
  margin-right: -20px;
}
.factionsheet .repeating_gear .repitem input.gearcheck, .factionsheet .repeating_gear .repitem .gearcheck + span {
  height: 20px;
  width: 20px;
  flex: 0 0 auto;
}
.factionsheet .repeating_gear .repitem .gearcheck + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-unchecked.svg");
}
.factionsheet .repeating_gear .repitem .gearcheck:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-checked.svg");
}
.factionsheet .repeating_gear .repitem .gearcheck:hover + span {
  opacity: 0.7;
}
.factionsheet .repeating_gear .repitem input.effect {
  margin-left: 30px !important;
  margin-bottom: 5px !important;
  font-style: italic;
  font-weight: 300 !important;
}
.factionsheet .repeating_gear .repitem input[type=text] {
  text-align: left;
  border: none;
  width: 90%;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 0 25px;
}
.factionsheet .repeating_contacts .repitem {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
.factionsheet .repeating_contacts .repitem input[type=text] {
  border: none;
  width: 50%;
  font-size: 14px;
  margin: 0;
}
.factionsheet .repeating_contacts .repitem .contactname {
  text-align: right;
  background-color: #ccc;
  padding: 5px 5px 5px 0;
}
.factionsheet .repeating_contacts .repitem .contactaspect {
  text-align: left;
  padding: 5px 0 5px 5px;
}
.factionsheet .repeating_advances .repitem {
  display: flex;
  flex-wrap: wrap;
  /* CHECKBOXES */
}
.factionsheet .repeating_advances .repitem .advancecheck {
  margin-right: -30px;
}
.factionsheet .repeating_advances .repitem input.advancecheck, .factionsheet .repeating_advances .repitem .advancecheck + span {
  height: 30px;
  width: 30px;
  flex: 0 0 auto;
}
.factionsheet .repeating_advances .repitem .advancecheck + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-unchecked.svg");
}
.factionsheet .repeating_advances .repitem .advancecheck:checked + span {
  background-image: url("https://raw.githubusercontent.com/stevenpaulr/Sig-City-of-Blades/main/Images/dia-checked.svg");
}
.factionsheet .repeating_advances .repitem .advancecheck:hover + span {
  opacity: 0.7;
}
.factionsheet .repeating_advances .repitem input[type=text] {
  text-align: left;
  width: 85%;
  height: 30px;
  font-weight: 700;
  margin: 0 0 0 35px;
}
.factionsheet .repeating_advances .repitem textarea {
  font-weight: 300px;
  margin: 0 0 0 35px;
  height: 100px;
}
.factionsheet .repeating_factions {
  /* Firefox */
}
.factionsheet .repeating_factions .repitem {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}
.factionsheet .repeating_factions input.tier,
.factionsheet .repeating_factions input.status {
  width: 30px;
  text-align: center;
  border-color: black;
}
.factionsheet .repeating_factions input.tier {
  border-radius: 20% 0 0 20%;
}
.factionsheet .repeating_factions input.status {
  border-radius: 0 20% 20% 0;
}
.factionsheet .repeating_factions .factionname {
  text-align: left;
  padding-left: 5px;
}
.factionsheet .repeating_factions input[type="number"]::-webkit-inner-spin-button,
.factionsheet .repeating_factions input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.factionsheet .repeating_factions input[type=number] {
  -moz-appearance: textfield;
}
.factionsheet .repeating_claims .repitem {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
.factionsheet .repeating_claims .repitem input[type=text] {
  border: none;
  font-size: 14px;
  margin: 0;
}
.factionsheet .repeating_claims .repitem .claimtype {
  text-align: right;
  background-color: #ccc;
  padding: 5px 5px 5px 0;
  width: 35%;
}
.factionsheet .repeating_claims .repitem .claimname {
  text-align: left;
  padding: 5px 0 5px 5px;
  width: 65%;
}
.factionsheet .infamy,
.factionsheet .treasury {
  margin-bottom: 5px;
}
.faction-selector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faction-selector select {
  font-size: 16px;
  width: 100%;
  height: 34px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  -webkit-text-fill-color: white;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #000;
  padding: 3px 5px;
  border-radius: 0;
}
.sheet-rolltemplate-scob table {
  border: 0px solid black;
  width: 100%;
}
.sheet-rolltemplate-scob th {
  padding: 5px;
  color: white;
  background-color: #000;
  font-family: "Cardo";
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sheet-rolltemplate-scob td {
  padding: 5px;
  background-color: white;
  font-family: "Cardo";
}
.sheet-rolltemplate-scob .inlinerollresult {
  background-color: black;
  border: none !important;
  color: white;
  font-size: 20px;
}
.sheet-rolltemplate-scob .inlinerollresult .fullfail, .sheet-rolltemplate-scob .inlinerollresult .fullcrit {
  border: 1px solid black;
}
.sheet-rolltemplate-scob .sheet-result {
  text-align: right;
  width: 95px;
}
