-
  var moveList = {
    advance: {
      title: 'Advance',
      name: 'advance',
      class: 'advance',
      page: 'page X',
      radio: 'advance'
    },
    aid_your_ally: {
      title: 'Aid Your Ally',
      name: 'aidYourAlly',
      class: 'aid-your-ally',
      page: 'page X',
      radio: 'aid_your_ally',
      stat: `?{Stat|Edge, @{edge}|Iron, @{iron}|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}}`,
      stat_repeat: '?{Stat}'
    },
    ask_the_oracle: {
      title: 'Ask the Oracle',
      name: 'askTheOracle',
      class: 'ask-the-oracle',
      page: 'page X',
      radio: 'ask_the_oracle'
    },
    battle: {
      title: 'Battle',
      name: 'Battle',
      class: 'battle',
      page: 'page X',
      radio: 'battle',
      stat: `?{Stat|Edge, @{edge}|Iron, @{iron}|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    burn_momentum: {
      title: 'Burn Momentum',
      name: 'burnMomentum',
      class: 'burn-momentum',
      page: 'page X',
      radio: 'burn_momentum'
    },
    check_your_gear: {
      title: 'Check Your Gear',
      name: 'checkYourGear',
      class: 'check-your-gear',
      page: 'page X',
      radio: 'check_your_gear',
      stat: `?{Stat|Supply,@{supply}|Wits - Improviser,@{wits}}`,
      stat_repeat: '?{Stat}'
    },
    clash: {
      title: 'Clash',
      name: 'clash',
      class: 'clash',
      page: 'page X',
      radio: 'clash',
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Light - Lightbearer&#44;?{Light&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    companion_becomes_unconditional: {
      title: 'Companion Becomes Unconditional',
      name: 'companionBecomesUnconditional',
      class: 'companion-becomes-unconditional',
      page: 'page X',
      radio: 'companion_becomes_unconditional'
    },
    compel: {
      title: 'Compel',
      name: 'compel',
      class: 'compel',
      page: 'page X',
      radio: 'compel',
      stat: `?{Stat|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    conditional_companion_abandons: {
      title: 'Conditional Companion Abandons',
      name: 'conditionalCompanionAbandons',
      class: 'conditional-companion-abandons',
      page: 'page X',
      radio: 'conditional_companion_abandons'
    },
    conditional_companion_acts: {
      title: 'Conditional Companion Acts',
      name: 'conditionalCompanionActs',
      class: 'conditional-companion-acts',
      page: 'page X',
      radio: 'conditional_companion_acts',
      stat: `?{Stat|0}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    delve_the_depths: {
      title: 'Delve the Depths',
      name: 'delveTheDepths',
      class: 'delve-the-depths',
      page: 'page X',
      radio: 'delve_the_depths',
      stat: `?{Stat|Edge,@{edge}|Shadow,@{shadow}|Wits,@{wits}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    discover_a_site: {
      title: 'Discover a Site',
      name: 'discoverASite',
      class: 'discover-a-site',
      page: 'page X',
      radio: 'discover_a_site',
      roll: true,
      discover: true
    },
    draw_the_circle: {
      title: 'Draw the Circle',
      name: 'drawTheCircle',
      class: 'draw-the-circle',
      page: 'page X',
      radio: 'draw_the_circle',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      roll: true
    },
    end_the_fight: {
      title: 'End the Fight',
      name: 'endTheFight',
      class: 'end-the-fight',
      page: 'page X',
      radio: 'end_the_fight',
      roll: true,
      progress: true
    },
    endure_harm: {
      title: 'Endure Harm',
      name: 'endureHarm',
      class: 'endure-harm',
      page: 'page X',
      radio: 'endure_harm',
      stat: `@{iron}`,
      stat_repeat: '@{iron}',
      roll: true
    },
    endure_stress: {
      title: 'Endure Stress',
      name: 'endureStress',
      class: 'endure-stress',
      page: 'page X',
      radio: 'endure_stress',
      stat: `?{Stat|Spirit,@{spirit}|Heart,@{heart}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    enter_the_fray: {
      title: 'Enter the Fray',
      name: 'enterTheFray',
      class: 'enter-the-fray',
      page: 'page X',
      radio: 'enter_the_fray',
      stat: `?{Stat|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    escape_the_depths: {
      title: 'Escape the Depths',
      name: 'escapeTheDepths',
      class: 'escape-the-depths',
      page: 'page X',
      radio: 'escape_the_depths',
      stat: `?{Stat|Edge,@{edge}|Heart,@{heart}|Iron,@{iron}|Wits,@{wits}|Shadow,@{shadow}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    face_a_setback: {
      title: 'Face a Setback',
      name: 'faceASetback',
      class: 'face-a-setback',
      page: 'page X',
      radio: 'face_a_setback',
    },
    face_danger: {
      title: 'Face Danger',
      name: 'faceDanger',
      class: 'face-danger',
      page: 'page X',
      radio: 'face_danger',
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Wits&#44;@{wits}|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    face_death: {
      title: 'Face Death',
      name: 'faceDeath',
      class: 'face-death',
      page: 'page X',
      radio: 'face_death',
      stat: `?{Stat|Heart,@{heart}|Shadow - Shadow-kin,@{shadow}}`,
      stat_repeat: '?{Stat}',
      roll: true,
      owl: true
    },
    face_desolation: {
      title: 'Face Desolation',
      name: 'faceDesolation',
      class: 'face-desolation',
      page: 'page X',
      radio: 'face_desolation',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      roll: true
    },
    find_an_opportunity: {
      title: 'Find an Opportunity',
      name: 'findAnOpportunity',
      class: 'find-an-opportunity',
      page: 'page X',
      radio: 'find_an_opportunity'
    },
    foe_inflicts_harm: {
      title: 'Foe Inflicts Harm',
      name: 'foeInflictsHarm',
      class: 'foe-inflicts-harm',
      page: 'page X',
      radio: 'foe_inflicts_harm'
    },
    forge_a_bond: {
      title: 'Forge a Bond',
      name: 'forgeABond',
      class: 'forge-a-bond',
      page: 'page X',
      radio: 'forge_a_bond',
      stat: `?{Stat|Heart,@{heart}|Shadow - Trickster,@{shadow}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    forsake_your_vow: {
      title: 'Forsake Your Vow',
      name: 'forsakeYourVow',
      class: 'forsake-your-vow',
      page: 'page X',
      radio: 'forsake_your_vow',
    },
    fulfill_your_vow: {
      title: 'Fulfill Your Vow',
      name: 'fulfillYourVow',
      class: 'fulfill-your-vow',
      page: 'page X',
      radio: 'fulfill_your_vow',
      roll: true,
      progress: true
    },
    gather_information: {
      title: 'Gather Information',
      name: 'gatherInformation',
      class: 'gather-information',
      page: 'page X',
      radio: 'gather_information',
      stat: `?{Stat|Wits,@{wits}|Shadow - Infiltrator/Trickster/Scry,@{shadow}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    heal: {
      title: 'Heal',
      name: 'heal',
      class: 'heal',
      page: 'page X',
      radio: 'heal',
      stat: `?{Stat|Wits,@{wits}|Iron,@{iron}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    hearten: {
      title: 'Hearten',
      name: 'hearten',
      class: 'hearten',
      page: 'page X',
      radio: 'hearten',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      roll: true
    },
    inflict_harm: {
      title: 'Inflict Harm',
      name: 'inflictHarm',
      class: 'inflict-harm',
      page: 'page X',
      radio: 'inflict_harm'
    },
    learn_from_faults: {
      title: 'Learn from Faults',
      name: 'learnFromFaults',
      class: 'learn-from-faults',
      page: 'page X',
      radio: 'learn_from_faults',
      roll: true,
      progress: true
    },
    locate_your_objective: {
      title: 'Locate Your Objective',
      name: 'locateYourObjective',
      class: 'locate-your-objective',
      page: 'page X',
      radio: 'locate_your_objective',
      roll: true,
      progress: true
    },
    make_an_effort: {
      title: 'Make an Effort',
      name: 'makeAnEffort',
      class: 'make-an-effort',
      page: 'page X',
      radio: 'make_an_effort'
    },
    make_camp: {
      title: 'Make Camp',
      name: 'makeCamp',
      class: 'make-camp',
      page: 'page X',
      radio: 'make_camp',
      stat: `?{Stat|Supply&#44;@{supply}|Wits - Wildblood&#44;@{wits}|Health - Mammoth&#44;?{Mammoth's Health&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    manifest_insanity: {
      title: 'Manifest Insanity',
      name: 'manifestInsanity',
      class: 'manifest-insanity',
      page: 'page X',
      radio: 'manifest_insanity',
      roll: true,
      oracle: 'ironcrunch_oracles'
    },
    not_assist_conditional_companion: {
      title: 'Not Assist Conditional Companion',
      name: 'notAssistConditionalCompanion',
      class: 'not-assist-conditional-companion',
      page: 'page X',
      radio: 'not_assist_conditional_companion'
    },
    order_conditional_companion: {
      title: 'Order Conditional Companion',
      name: 'orderConditionalCompanion',
      class: 'order-conditional-companion',
      page: 'page X',
      radio: 'order_conditional_companion',
      stat: `?{Loyalty|0}`,
      stat_repeat: '?{Loyalty}',
      roll: true
    },
    out_of_supply: {
      title: 'Out of Supply',
      name: 'outOfSupply',
      class: 'out-of-supply',
      page: 'page X',
      radio: 'out_of_supply'
    },
    patch_equipment: {
      title: 'Patch Equipment',
      name: 'patchEquipment',
      class: 'patch-equipment',
      page: 'page X',
      radio: 'patch_equipment',
      stat: `@{wits}`,
      stat_repeat: '@{wits}',
      roll: true
    },
    pay_the_price: {
      title: 'Pay the Price',
      name: 'payThePrice',
      class: 'pay-the-price',
      page: 'page X',
      radio: 'pay_the_price'
    },
    reach_a_milestone: {
      title: 'Reach a Milestone',
      name: 'reachAMilestone',
      class: 'reach-a-milestone',
      page: 'page X',
      radio: 'reach_a_milestone'
    },
    reach_your_destination: {
      title: 'Reach Your Destination',
      name: 'reachYourDestination',
      class: 'reach-your-destination',
      page: 'page X',
      radio: 'reach_your_destination',
      roll: true,
      progress: true
    },
    resupply: {
      title: 'Resupply',
      name: 'resupply',
      class: 'resupply',
      page: 'page X',
      radio: 'resupply',
      stat: `?{Stat|Wits,@{wits}|Edge - Cave Lion,@{edge}|Shadow - Infiltrator,@{shadow}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    reveal_a_danger: {
      title: 'Reveal a Danger',
      name: 'revealADanger',
      class: 'reveal-a-danger',
      page: 'page X',
      radio: 'reveal_a_danger'
    },
    secure_an_advantage: {
      title: 'Secure an Advantage',
      name: 'secureAnAdvantage',
      class: 'secure-an-advantage',
      page: 'page X',
      radio: 'secure_an_advantage',
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Wits&#44;@{wits}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    show_resilience: {
      title: 'Show Resilience',
      name: 'showResilience',
      class: 'show-resilience',
      page: 'page X',
      radio: 'show_resilience'
    },
    sojourn: {
      title: 'Sojourn',
      name: 'sojourn',
      class: 'sojourn',
      page: 'page X',
      radio: 'sojourn',
      stat: `?{Stat|Heart&#44;@{heart}|Shadow - Pretender&#44;@{shadow}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    strengthen_their_loyalty: {
      title: 'Strengthen Their Loyalty',
      name: 'strengthenTheirLoyalty',
      class: 'strengthen-their-loyalty',
      page: 'page X',
      radio: 'strengthen_their_loyalty',
      stat: `?{Stat|Heart,@{heart}|Wealth,@{wealth}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    strike: {
      title: 'Strike',
      name: 'strike',
      class: 'strike',
      page: 'page X',
      radio: 'strike',
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Light - Lightbearer&#44;?{Light&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    swear_an_iron_vow: {
      title: 'Swear an Iron Vow',
      name: 'swearAnIronVow',
      class: 'swear-an-iron-vow',
      page: 'page X',
      radio: 'swear_an_iron_vow',
      stat: `?{Stat|Heart&#44;@{heart}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    take_a_downtime: {
      title: 'Take a Downtime',
      name: 'takeADowntime',
      class: 'take-a-downtime',
      page: 'page X',
      radio: 'take_a_downtime'
    },
    take_conditional_companion: {
      title: 'Take Conditional Companion',
      name: 'takeConditionalCompanion',
      class: 'take-conditional-companion',
      page: 'page X',
      radio: 'take_conditional_companion',
      stat: `?{Stat|Heart,@{heart}|Wealth,@{wealth}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    take_on_overload: {
      title: 'Take on Overload',
      name: 'takeOnOverload',
      class: 'take-on-overload',
      page: 'page X',
      radio: 'take_on_overload'
    },
    test_their_loyalty: {
      title: 'Test their Loyalty',
      name: 'testTheirLoyalty',
      class: 'test-their-loyalty',
      page: 'page X',
      radio: 'test_their_loyalty',
      stat: `?{Stat|Heart,@{heart}|Wealth,@{wealth}}`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    test_your_bond: {
      title: 'Test Your Bond',
      name: 'testYourBond',
      class: 'test-your-bond',
      page: 'page X',
      radio: 'test_your_bond',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      roll: true
    },
    trade: {
      title: 'Trade',
      name: 'trade',
      class: 'trade',
      page: 'page X',
      radio: 'trade'
    },
    turn_the_tide: {
      title: 'Turn the Tide',
      name: 'turnTheTide',
      class: 'turn-the-tide',
      page: 'page X',
      radio: 'turn_the_tide'
    },
    undertake_a_journey: {
      title: 'Undertake a Journey',
      name: 'undertakeAJourney',
      class: 'undertake-a-journey',
      page: 'page X',
      radio: 'undertake_a_journey',
      stat: `?{Stat|Wits,@{wits}|Shadow - Shadow-walk,@{shadow}|Spirit or Heart - Tether&#44;?{Tether Stat&amp;#124;Spirit&amp;#44;@{spirit}&amp;#124;Heart&amp;#44;@{heart}&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      roll: true
    },
    write_your_epilogue: {
      title: 'Write Your Epilogue',
      name: 'writeYourEpilogue',
      class: 'write-your-epilogue',
      page: 'page X',
      radio: 'write_your_epilogue',
      roll: true,
      progress: true
    }
  }