- 
  var 
    oracles = {
      ironcrunch: {
        'Reveal A Danger': {
          id: 'reveal_a_danger',
          oracles: [
            {
              name: 'Category',
              class: 'danger-category',
              roll_id: 'revealADangerCategory',
              dice: 'd100',
              rows: [ 
                {
                  type: 'Between',
                  roll: '1-25 (25%)',
                  result: 'Worsening of the Situation'
                },
                {
                  type: 'Between',
                  roll: '26-60 (35%)',
                  result: 'Unfavorable Road'
                },
                {
                  type: 'Between',
                  roll: '61-100 (40%)',
                  result: 'Hostile Character Encounter'
                }
              ] 
            },
            {
              name: 'Worsening of the Situation',
              class: 'danger-situation',
              roll_id: 'revealADangerSituation',
              dice: 'd100',
              rows: [
                {
                  type: 'Between',
                  roll: '1-13 (13%)',
                  result: "A portion of an edible resource got spoiled or lost. Suffer -1 supply. If your supply is 0, reroll on this table."
                },
                {
                  type: 'Between',
                  roll: "14-24 (11%)",
                  result: "The travel is taking longer than expected. Suffer -1 momentum."
                },
                {
                  type: 'Between',
                  roll: "25-34 (10%)",
                  result: "The trip was tough and left you tired. <em>Endure Harm</em> (1d4P harm)."
                },
                {
                  type: 'Between',
                  roll: "35-42 (8%)",
                  result: "The travel has drained your energies. <em>Endure Harm</em> (1d4P harm) and take the weakened (severity +1) condition."
                },
                {
                  type: 'Between',
                  roll: "43-50 (8%)",
                  result: "The travel has left you stressed or mentally fatigued. <em>Endure Stress</em> (1d2 stress)."
                },
                {
                  type: 'Between',
                  roll: "51-57 (7%)",
                  result: "A friend or companion starts arguing for previous acts or complaining about the rough travel. Suffer -1d3 to their loyalty. If you don't have a companion, reroll on this table."
                },
                {
                  type: 'Between',
                  roll: "58-64 (7%)",
                  result: "You realize you lost some valuable goods on the way. Suffer -2 wealth. If your wealth is reduced to 0, suffer -momentum to any remaining -wealth."
                },
                {
                  type: 'Between',
                  roll: "65-71 (7%)",
                  result: "You realize too late that the supply container is broken and has a leak. Suffer -2 supply."
                },
                {
                  type: 'Between',
                  roll: "72-77 (6%)",
                  result: "You realize you lost one of your valuable items on the way. Suffer -1 wealth. If your wealth is 0, reroll on this table."
                },
                {
                  type: 'Between',
                  roll: "78-83 (6%)",
                  result: "You realize that one of the items you thought to be valuable, is actually not, or not worthy in its current state. Suffer -1 wealth and -1 momentum. If your wealth is an its minimum (0), reroll on this table."
                },
                {
                  type: 'Between',
                  roll: "84-89 (6%)",
                  result: "You make a discovery that complicates one of your quests. Suffer -2 momentum."
                },
                {
                  type: 'Between',
                  roll: "90-94 (5%)",
                  result: "A piece of equipment loses durability. Reduce any of your armor’s or shield’s values by 1. If you have no armor or shield item, reroll on this table."
                },
                {
                  type: 'Between',
                  roll: "95-97 (3%)",
                  result: "You start suffering from muscle cramp, sprain or strain. <em>Endure Harm</em> (1d4P harm) and take the palsied (severity 1) condition."
                },
                {
                  type: 'Between',
                  roll: "98-99 (2%)",
                  result: "You realize that one of your conditional companions is no longer by your side. Suffer -1 momentum. If you don't have a conditional companion, reroll on this table."
                },
                {
                  type: 'Total',
                  roll: "100 (1%)",
                  result: "Roll twice more on this table. Both results occur. If they are the same result, double its effect."
                }
              ]
            },
            {
              name: "Unfavorable Road",
              class: "danger-road",
              roll_id: 'revealADangerRoad',
              dice: 'd100',
              rows: [
                {
                  type: 'Between',
                  roll: "1-13 (13%)",
                  result: "The terrain or the weather plays against you, hindering you. Subtract -1 to your next move. Take the hyperthermic or hypothermic condition if appropriate."
                },
                {
                  type: 'Between',
                  roll: "14-25 (12%)",
                  result: "An environmental hazard forces you to pass through this area in a precarious manner. If you make a move to resolve this danger, subtract -1."
                },
                {
                  type: 'Between',
                  roll: "26-35 (10%)",
                  result: "Whether it is human made or a fortuity of nature, you, or someone with you, is victim of a trap. If you make a move of resolve this danger, subtract -1."
                },
                {
                  type: 'Between',
                  roll: "36-44 (9%)",
                  result: "You suffer some bruises on the way. <em>Endure Harm</em> (1d4 harm)."
                },
                {
                  type: 'Between',
                  roll: "45-52 (8%)",
                  result: "You consumed some resources, and this road lacks sources to replenish from. Suffer -1 supply. If you Resupply, count a strong hit as a weak hit, and a weak hit as a miss."
                },
                {
                  type: 'Between',
                  roll: "53-60 (8%)",
                  result: "The travel has been mentally grueling. <em>Endure Stress</em> (1 stress). If you Hearten, count a strong hit as a weak hit, and a weak hit as a miss."
                },
                {
                  type: 'Between',
                  roll: "61-68 (8%)",
                  result: "You have not reached your waypoint yet, and this stop is too precarious to rest safely. If you <em>Make Camp</em>, count a strong hit as a weak hit, and a weak hit as a miss."
                },
                {
                  type: 'Between',
                  roll: "69-75 (7%)",
                  result: "The path is broken and there doesn't seem to be a lead to follow it. Subtract -1 next time you <em>Undertake a Journey</em> for this travel."
                },
                {
                  type: 'Between',
                  roll: "76-81 (6%)",
                  result: "An obstacle is blocking the path you intend to follow. Subtract -1 for your next move to resolve the obstacle or suffer -2 momentum causing a delay on your travel."
                },
                {
                  type: 'Between',
                  roll: "82-86 (5%)",
                  result: "The path has a disturbing ambience or you find the horrible fate of a victim of this place. <em>Endure Stress</em> (1d4 stress)."
                },
                {
                  type: 'Between',
                  roll: "87-90 (4%)",
                  result: "The environment undermines the path or the weather is disorienting, and you find difficult to recognize the track. Subtract -2 next time you Undertake a Journey for this travel."
                },
                {
                  type: 'Between',
                  roll: "91-94 (4%)",
                  result: "Whether it was something you ate or something in the surroundings, you are now ill. <em>Endure Harm</em> (1d4P harm) and take the poisoned (severity +1) condition."
                },
                {
                  type: 'Between',
                  roll: "95-97 (3%)",
                  result: "Whether it was something you ate or something in the surroundings, you got poisoned. Take the poisoned (severity +2) condition."
                },
                {
                  type: 'Between',
                  roll: "98-99 (2%)",
                  result: "You realized you have been following the wrong path, and trickery leads have left you astray. Clear 1d2 progress boxes in the journey track. Next time you <em>Undertake a Journey</em>, you don’t mark progress if you score a hit."
                },
                {
                  type: 'Total',
                  roll: "100 (1%)",
                  result: "Roll twice more on this table. Both results occur. If they are the same result, double its effect."
                }
              ]
            },
            {
              name: "Hostile Character Encounter",
              class: "danger-character",
              roll_id: 'revealADangerEncounter',
              dice: 'd100',
              rows: [
                {
                  type: 'Between',
                  roll: "1-13 (13%)",
                  result: "You converge with one or multiple travelers or denizens in this area, facing off."
                },
                {
                  type: 'Between',
                  roll: "14-26 (13%)",
                  result: "One or multiple unaware travelers or denizens are guarding this area, either laid in wait, patrolling or working."
                },
                {
                  type: 'Between',
                  roll: "27-39 (13%)",
                  result: "You're ambushed, or attacked without warning."
                },
                {
                  type: 'Between',
                  roll: "40-51 (12%)",
                  result: "Your presence has caught the attention of one or multiple travelers or denizens in the area."
                },
                {
                  type: 'Between',
                  roll: "52-63 (12%)",
                  result: "Your arrival to this area has been expected."
                },
                {
                  type: 'Between',
                  roll: "64-75 (12%)",
                  result: "You sense one or multiple presences lurking or stalking."
                },
                {
                  type: 'Between',
                  roll: "76-85 (10%)",
                  result: "One or multiple unaware travelers or denizens are blocking or undermining the path in some way."
                },
                {
                  type: 'Between',
                  roll: "86-93 (8%)",
                  result: "You find one or multiple travelers or denizens in unfavorable circumstances."
                },
                {
                  type: 'Between',
                  roll: "94-98 (5%)",
                  result: "You find one or multiple travelers or denizens’ pets or underlings."
                },
                {
                  type: 'Between',
                  roll: "99-100 (2%)",
                  result: "Roll twice more on this table, and use one result."
                }
              ]
            }
          ]
        },
        'Find An Opportunity': {
          id: 'find_an_opportunity',
          oracles: [
            {
              name: 'Category',
              class: 'opportunity-category',
              roll_id: 'findAnOpportunityCategory',
              dice: 'd100',
              rows: [ 
                {
                  type: 'Between',
                  roll: '1-55 (25%)',
                  result: 'Favorable Area.'
                },
                {
                  type: 'Between',
                  roll: '56-80 (35%)',
                  result: 'Benign Character Encounter.'
                },
                {
                  type: 'Between',
                  roll: '81-100 (40%)',
                  result: 'Item Finding'
                }
              ] 
            },
            {
              name: 'Favorable Area',
              class: 'opportunity-area',
              roll_id: 'findAnOpportunityArea',
              dice: 'd100',
              rows: [
                {
                  type: 'Between',
                  roll: '1-11(11%)',
                  result: "The travel took shorter than expected. Take +1 momentum."
                },
                {
                  type: 'Between',
                  roll: '12-20 (9%)',
                  result: "Elements of this area can be used to leverage your travel. If you <em>Undertake a Journey</em>, you may reroll any dice."
                },
                {
                  type: 'Between',
                  roll: '21-28 (8%)',
                  result: "There is a path that seems to lead towards your destination. If you follow it, add +2 when you <em>Undertake a Journey</em>."
                },
                {
                  type: 'Between',
                  roll: '29-35 (7%)',
                  result: "The travel has cleared your mind. If you Hearten, reroll any dice."
                },
                {
                  type: 'Between',
                  roll: '36-42 (7%)',
                  result: "This seems to be an ideal place to find a moment of peace. If you <em>Hearten</em>, add +2."
                },
                {
                  type: 'Between',
                  roll: '43-49 (7%)',
                  result: "This seems to be an ideal place to bolster your reserves. If you <em>Resupply</em>, add +2."
                },
                {
                  type: 'Between',
                  roll: '50-55 (6%)',
                  result: "This seems to be a place safe enough to rest and recover for several hours. If you <em>Make Camp</em>, add +2."
                },
                {
                  type: 'Between',
                  roll: '56-61 (6%)',
                  result: "You find a healthy settlement. If you <em>Sojourn</em>, add +1."
                },
                {
                  type: 'Between',
                  roll: '62-66 (5%)',
                  result: "This area offers a captivating ambience or comfortable environment. If you <em>Hearten</em>, take +1 spirit on a hit."
                },
                {
                  type: 'Between',
                  roll: '67-71 (5%)',
                  result: "This area offers enough to bolster your reserves if you dedicate enough to it. If you <em>Resupply</em> and score hit, you may suffer -1 momentum in exchange for +1 supply."
                },
                {
                  type: 'Between',
                  roll: '72-76 (5%)',
                  result: "This waypoint offers more than needed for a modest rest. If you <em>Make Camp</em>, and score a hit, you may choose an extra option."
                },
                {
                  type: 'Between',
                  roll: '77-80 (4%)',
                  result: "You seem to be closer to your destination than expected. Mark an additional progress in your journey track."
                },
                {
                  type: 'Between',
                  roll: '81-83 (3%)',
                  result: "This area offers just what you need to camp. If you <em>Make Camp</em>, you may reroll any dice."
                },
                {
                  type: 'Between',
                  roll: '84-86 (3%)',
                  result: "You reach this waypoint just at an opportune time to bolster your reserves. If you <em>Resupply</em> now, you may reroll any dice."
                },
                {
                  type: 'Between',
                  roll: '87-88 (2%)',
                  result: "There is a hidden passage that could be a shortcut. If you <em>Reach Your Destination</em>, you may reroll any dice."
                },
                {
                  type: 'Between',
                  roll: '89-96 (8%)',
                  result: "You reach a location of interest related to one of your quests or that might lead to one. Take +2 momentum."
                },
                {
                  type: 'Between',
                  roll: '97-98 (2%)',
                  result: "Choose one result from this table."
                },
                {
                  type: 'Between',
                  roll: '99-100 (2%)',
                  result: "Roll twice more on this table. Both results occur."
                }
              ]
            },
            {
              name: "Benign Character Encounter",
              class: "opportunity-character",
              roll_id: 'findAnOpportunityCharacter',
              dice: 'd100',
              rows: [
                {
                  type: 'Between',
                  roll: '1-16 (16%)',
                  result: "You encounter a traveler or denizen who might provide you guide in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for adding +3 next time you <em>Undertake a Journey</em> for this travel."
                },
                {
                  type: 'Between',
                  roll: '17-30 (14%)',
                  result: "You encounter a traveler or denizen willing to provide you guide and supply. If he does, add +1 next time you <em>Undertake a Journey</em> for this travel and take +1 supply."
                },
                {
                  type: 'Between',
                  roll: '31-38 (8%)',
                  result: "You encounter a traveler or denizen who might provide you health care in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for making the <em>Hearten</em> move now and add +3."
                },
                {
                  type: 'Between',
                  roll: '39-46 (8%)',
                  result: "You encounter a traveler or denizen who might rise your spirit in exchange for something of value. If you agree, suffer -1 wealth or -2 supply (your choice) in exchange for making the <em>Heal</em> move now and add +3."
                },
                {
                  type: 'Between',
                  roll: '47-53 (7%)',
                  result: "You encounter a traveler or denizen willing to rise your spirit. If he does, <em>Hearten</em> now and add +2."
                },
                {
                  type: 'Between',
                  roll: '54-60 (7%)',
                  result: "You encounter a traveler or denizen willing to give you first aid. If he does, <em>Heal</em> now and add +2."
                },
                {
                  type: 'Between',
                  roll: '61-70 (10%)',
                  result: "You encounter a provision trader."
                },
                {
                  type: 'Between',
                  roll: '71-75 (5%)',
                  result: "You encounter an equipment trader."
                },
                {
                  type: 'Between',
                  roll: '76-79 (4%)',
                  result: "You encounter a traveler or denizen with the potential of being a conditional companion with the goal of serving as hireling and the drive of getting wealth. If you <em>Take a Conditional Companion</em>, add +1."
                },
                {
                  type: 'Between',
                  roll: '80-83 (4%)',
                  result: "You encounter a traveler or denizen with the potential of being a conditional companion. Take +1 momentum."
                },
                {
                  type: 'Between',
                  roll: '84-86 (3%)',
                  result: "You encounter one or more travelers or denizens in need for help and with the means to reward you."
                },
                {
                  type: 'Between',
                  roll: '87-95 (9%)',
                  result: "You encounter one or more characters related to one of you quests or that might lead to one. Take +2 momentum."
                },
                {
                  type: 'Between',
                  roll: '96-98 (3%)',
                  result: "Roll twice more on this table. Use one result."
                },
                {
                  type: 'Between',
                  roll: '99-100 (2%)',
                  result: "Choose one result from this table."
                }
              ]
            },
            {
              name: "Item Finding",
              class: "opportunity-item",
              roll_id: 'findAnOpportunityItem',
              dice: 'd100',
              rows: [
                {
                  type: 'Between',
                  roll: '1-14 (14%)',
                  result: "You find resources that bolster your reserves. Take +1 supply."
                },
                {
                  type: 'Between',
                  roll: '15-26 (12%)',
                  result: "You find resources that bolster your reserves. Take +2 supply."
                },
                {
                  type: 'Between',
                  roll: '27-35 (9%)',
                  result: "You find some valuable goods. Take +2 wealth."
                },
                {
                  type: 'Between',
                  roll: '36-42 (7%)',
                  result: "You find some valuable goods. Take +2 wealth."
                },
                {
                  type: 'Between',
                  roll: '43-47 (5%)',
                  result: "You find a consumable item of your choice or as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '48-51 (4%)',
                  result: "You find two consumable items of your choice or as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '52-56 (5%)',
                  result: "You find a weapon of cost d4 wealth cost or less of your choice as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '57-59 (3%)',
                  result: "You find a weapon of cost d6 wealth or less of your choice as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '60-61 (2%)',
                  result: "You find a weapon of cost d8+1 wealth or less of your choice as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '62-64 (3%)',
                  result: "You find a shield of cost d4+1 wealth or less of your choice as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '65-66 (2%)',
                  result: "You find a shield of cost d6+1 wealth or less of your choice as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '67-69 (3%)',
                  result: "You find an armor of cost 1d4+3 wealth or less of your choice or as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '70-71 (2%)',
                  result: "You find an armor of cost 1d6+3 wealth or less of your choice as appropriate to the circumstances."
                },
                {
                  type: 'Total',
                  roll: '72 (1%)',
                  result: "You find an armor of cost 2d4+2 wealth or less of your choice as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '73-80 (8%)',
                  result: "You find an addon of your choice or as appropriate to the circumstances."
                },
                {
                  type: 'Between',
                  roll: '81-89 (9%)',
                  result: "You find an item of interest related to one of your quests or that might lead to one. Take +2 momentum."
                },
                {
                  type: 'Between',
                  roll: '90-100 (11%)',
                  result: "Roll twice more on this table. Both results occur."
                }
              ]
            }
          ],
        },
        'Manifest Insanity': {
          id: 'manifest_insanity',
          oracles: [
            {
              name: 'Category',
              class: 'insanity-category',
              roll_id: 'ManifestInsanityCategory',
              dice: 'd100',
              rows: [ 
                {
                  type: 'Between',
                  roll: '1-70 (70%)',
                  result: 'Short-term Insanity'
                },
                {
                  type: 'Between',
                  roll: '71-100 (30%)',
                  result: 'Long-term Insanity'
                }
              ] 
            },
            {
              name: 'Short-term',
              class: 'insanity-short',
              roll_id: 'ManifestInsanityShort',
              dice: 'd100',
              rows: [ 
                {
                  type: 'Between',
                  roll: '1-28 (28%)',
                  result: "You get scared, and your next move should imply to flee as far as possible from the source of the fear or danger."
                },
                {
                  type: 'Between',
                  roll: '29-51 (23%)',
                  result: "Your spirit is overwhelmed. Take the dazed condition."
                },
                {
                  type: 'Between',
                  roll: '52-69 (18%)',
                  result: "You show hysteric and emotional outburst by screaming, laughing, crying. Every other ally and companion must <em>Endure Stress</em> (1d2 stress) as a result."
                },
                {
                  type: 'Between',
                  roll: '70-87 (18%)',
                  result: "You begin babbling, coherently (logorrhoea) or incoherently. Your words show abuse, fear, hopelessness, irrationality or selfishness. Every other ally and companion must <em>Endure Stress</em> (1d3 stress) as a result."
                },
                {
                  type: 'Between',
                  roll: '88-95 (8%)',
                  result: "You <em>Inflict Harm</em> on yourself."
                },
                {
                  type: 'Between',
                  roll: '96-100 (5%)',
                  result: "You faint. Take the unconscious condition."
                }
              ] 
            },
            {
              name: 'Long-term',
              class: 'insanity-long',
              roll_id: 'ManifestInsanityLong',
              dice: 'd100',
              rows: [ 
                {
                  type: 'Between',
                  roll: '1-15 (15%)',
                  result: "Take the phobiac (severity 4) condition."
                },
                {
                  type: 'Between',
                  roll: '16-29 (14%)',
                  result: "Take the attached (severity 4) condition."
                },
                {
                  type: 'Between',
                  roll: '30-36 (7%)',
                  result: "Take the hallucinating (severity 2) condition."
                },
                {
                  type: 'Between',
                  roll: '37-53 (17%)',
                  result: "Take the compulsed (severity 4) condition."
                },
                {
                  type: 'Between',
                  roll: '54-57 (4%)',
                  result: "You start suffering psychosomatic deafness. Take the deafened (severity +1) condition."
                },
                {
                  type: 'Between',
                  roll: '58-60 (3%)',
                  result: "You start suffering psychosomatic blindness. Take the blind (severity +1) condition."
                },
                {
                  type: 'Between',
                  roll: '61-73 (13%)',
                  result: "Take the mute condition."
                },
                {
                  type: 'Between',
                  roll: '74-85 (12%)',
                  result: "You retreat into your mind, in a stupor state, assuming fetal position if not immediate danger is around, oblivious to events around you. Take the dazed, mute, shaken and unsteady (shaky) conditions."
                },
                {
                  type: 'Between',
                  roll: '86-93 (8%)',
                  result: "You become catatonic. Take the dazed, mute and numb (severity +1) conditions."
                },
                {
                  type: 'Between',
                  roll: '94-98 (5%)',
                  result: "Take the amok (severity 3) condition. Then, Clash the nearest target, whether they are an ally, companion, foe or else."
                },
                {
                  type: 'Between',
                  roll: '99-00 (2%)',
                  result: "Take the amnesiac (severity 5) condition."
                }
              ] 
            }
          ]
        }
      }
    }
