mixin degreMetamorphe(withKaSelector = false)
    .degreMetamorphe
        h1 Degré de métamorphe actif

        //- Uniquement pour le tab Nephilim
        if withKaSelector
            div
                +kaSelectorNeph('attr_KaDominant')
        
        +hiddenInput('dMeta', 0)
        - var i = 1
        while i <= 10
            //- Yes, iterate that way is ugly but it works
            +cbButton('attr_degreMetamorphe', i, i++)