-
    var incarnations = {
        "rien": "",
        "chute-atlantide": "La Chute de l'Atlantide, Jadis",
        // Guerres élémentaires
        "#guerelem": "--- Guerres Élémentaires ---",
        "deluge": "Le Déluge, -10000 ",
        "premiers-dieux": "Les premiers dieux, -9000",
        "premiers-peuple": "Le premier peuple, -8000",
        "premiere-cite": "La première cité, -7000",
        "premiers-megalithes": "Les premiers mégalithes, -5000",
        // Compacts secrets
        "#compacts": "--- Compacts Secrets ---",
        "thuatha-danann": "Les Tuatha de Danann, -4000",
        "mahabharata": "Le Mahabharata, -3000",
        "guerre-dieux": "La guerre des Dieux, -2800",
        "seigneurs-nuit": "Les Seigneurs de la Nuit, -2500",
        "labyrinthe-minos": "Le labyrinthe de Minos, -2000",
        "reve-akhenathon": "Le rêve d'Akhenaton, -1350",
        "chute-troie": "La Chute de Troie, -1200",
        // Hermétisme
        "#herme": "--- Hermétisme ---",
        "regne-salomon": "Le règne de Salomon, -970",
        "empire-perse": "L'empire perse, -700",
        "roi-monde": "Les rois du Monde, -600",
        "empire-babylone": "L'empire de Babylone, -580",
        "siecle-or-athenien": "Le siècle d'or athénien, -461",
        "empire-lexandre": "L'empire d'Alexandre, -350",
        "empire-carthage": "L'empire de Carthage, -150",
        "empire-rome": "L'empire de Rome, -50",
        // Guerres secrètes
        "#guersec": "--- Guerres secrètes ---",
        "incident-jesus": "L'incident Jésus, 30",
        "arthuriades": "Les Arthuriades, 450",
        "renaissance-carolingienne": "La renaissance carolingienne, 800",
        "revelation-alchimique": "La Révélation alchimique, An Mil",
        "croisades": "Les croisades, XIIe",
        "buchers-cathares": "Les bûchers cathares, XIIIe",
        "chute-temple": "La chute du Temple, XIVe",
        "empire-serbe": "L'Empire serbe, 1346",
        "guerre-cent-ans": "La guerre de Cent Ans, 1412",
        "chute-grenade": "La chute de Grenade, 1492",
        // Nouveaux mondes
        "#nvxmond": "--- Nouveaux Mondes ---",
        "arcanes-renaissance": "Les arcanes de la Renaissance, XVIe",
        "secret-porte": "Les secrets de la Sublime Porte, XVIe",
        "londre-elisabethain": "Le Londres élisabéthain, 1559",
        "prague-rodolphienne": "La Prague rodolphienne, 1576-1612",
        "cour-roi-soleil": "La cour du Roi-Soleil, 1650-1715",
        "conspiration-revolution": "Les conspirations de la Révolution, 1770-1850",
        "vapeurs-victoriennes": "Les vapeurs victoriennes, 1837-1901",
        // Grand Réveil
        "#gdrev": "--- Grand Réveil ---",
        "secession-viennoise": "La Sécession viennoise, 1890 - 1910",
        "anness-folles": "Les années folles, 1918 - 1930",
        "annees-noires": "Les années noires, 1934 - 1945",
        "guerre-froide": "La guerre froide, 1950 - 1990",
        "eveil": "L'Eveil, 1992 - 1990",
        "chroniques-apocalypse": "Les Chroniques de l'Apocalypse, 2000 - 2012",
        // Après
        "#autre": "--- Autres ---",
        "arcadia": "Arcadia, De nos jours",
        "perso": "Personnalisé"
    }

mixin epoquesIncarnation()
    .epoquesIncarnation
        h1 Époques d’incarnation
        h1 Vécus passés
        h1 Effets Mnémos
        +hiddenInput('nature', 'nephilim').nature
        fieldset.repeating_epoques-incarnation
            div
                +cbButton('attr_expandEpoque', null, 1)(checked)
                select(name='attr_epoque')
                    each val, idx in incarnations
                        if idx[0] === '#'
                            option(disabled) #{val}
                        else
                            option(value=idx) #{val}
                +hiddenInput('epoque', 0)
                +textInput('epoque_perso', '').perso
                +hiddenInput('expandEpoque', 1)
                .autoex.autoex24
                    +spanareaInput('epoque_description')
            div
                +cbButton('attr_expandVecus', null, 1)(checked)
                +textInput('vecu')
                +numberInput('degres_vecu_passe', 0)
                +hiddenInput('expandVecus', 1)
                .autoex.autoex24
                    +spanareaInput('vecu_description')
                +hiddenInput('effectiveMnemos', "@{degres_mnemos1}+@{degres_mnemos2}")
                //- Big select pour les approches
                +kaSelectorVecuSimu('approche', 'degres_vecu_passe', '', true)
                +hiddenInput('effectiveRoll', roll_vecu_base
                    .replace('__VECU__', 'vecu')
                    .replace('__APPR__', 'approche'))
                +rollButton('vecu', '@{effectiveRoll}')
            div
                div
                    +cbButton('attr_expandMnemos1', null, 1)
                    +cbButton('attr_use_mnemos1').checkSign
                    +textInput('mnemos1')
                    +numberInput('degres_mnemos1', 0)
                    +hiddenInput('expandMnemos1', 1)
                    .autoex.autoex24
                        +spanareaInput('mnemos_description1')
                div
                    +cbButton('attr_expandMnemos2', null, 1)
                    +cbButton('attr_use_mnemos2').checkSign
                    +textInput('mnemos2')
                    +numberInput('degres_mnemos2', 0)
                    +hiddenInput('expandMnemos2', 1)
                    .autoex.autoex24
                        +spanareaInput('mnemos_description2')