<div class="shaped-row center">
  <div class="col-40">
    <select name="attr_ability_checks_text_size">
      <option value="text">Normal</option>
      <option value="text_big" selected>Big</option>
    </select>
    <div class="small-label">{{'TEXT_SIZE' | translate}}</div>
  </div>
</div>
<div class="mar-t-sm"></div>
<input type="checkbox" name="attr_ability_checks_show_totals" checked>{{'SHOW_TOTALS' | translate}}
<div class="mar-t-sm"></div>
<input type="hidden" name="attr_ability_checks_macro_var">
<button type="roll" name="roll_shaped_ability_checks" class="visible-button" value="/w @{character_name} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Ability Checks}} {{@{ability_checks_text_size}=@{ability_checks_macro_var}}}">
  {{'ABILITY_CHECKS' | translate}}
</button>
<div class="mar-t-sm"></div>
<button type="roll" name="roll_shaped_ability_checks_small" class="hidden" value="/w @{character_name} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Ability Checks}} {{text=@{ability_checks_macro_var}}}">
  {{'ABILITY_CHECKS' | translate}} - {{'SMALL' | translate}}
</button>
<input type="hidden" name="attr_ability_checks_query_var">
<button type="roll" name="roll_shaped_ability_checks_query" class="hidden" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{subheader=Ability Check}} @{roll_info} @{ability_checks_query_var}">
  {{'ABILITY_CHECKS_QUERY' | translate}}
</button>