<div class="shaped-row center">
  <div class="col-40">
    <select name="attr_ability_checks_text_size">
      <option value="text" data-i18n="NORMAL"></option>
      <option value="text_big" data-i18n="BIG" selected></option>
    </select>
    <div class="small-label" data-i18n="TEXT_SIZE"></div>
  </div>
</div>
<div class="mar-t-sm"></div>
<span data-i18n="SHOW_TOTALS"></span><input type="checkbox" name="attr_ability_checks_show_totals" checked>
<div class="mar-t-sm"></div>
<input type="hidden" name="attr_ability_checks_macro_var">
<button type="roll" name="roll_shaped_ability_checks" class="visible-button" value="/w @{character_name} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{ABILITY_CHECKS}}} {{@{ability_checks_text_size}=@{ability_checks_macro_var}}}" data-i18n="ABILITY_CHECKS"></button>
<div class="mar-t-sm"></div>
<button type="roll" name="roll_shaped_ability_checks_small" class="hidden" value="/w @{character_name} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=^{ABILITY_CHECKS}}} {{text=@{ability_checks_macro_var}}}" data-i18n="ABILITY_CHECKS"></button>
<input type="hidden" name="attr_ability_checks_query_var">
<button type="roll" name="roll_shaped_ability_checks_query" class="hidden" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} @{roll_info} @{ability_checks_query_var}" data-i18n="ABILITY_CHECKS_QUERY"></button>