<div class="wrap-box center">
  <div class="shaped-row space-around vert-center">
    <div>
      {% include "./abilityChecks.html" %}
    </div>

    <div>
      {% include "./savingThrows.html" %}
    </div>

    <div>
      {% include "./statblock.html" %}
      <div class="mar-t-sm"></div>
      {% include "./traits.html" %}
      <div class="mar-t-sm"></div>
      {% include "./attacks.html" %}
      {% include "./actions.html" %}
      <div class="mar-t-sm npc"></div>
      {% include "./reactions.html" %}
      <div class="mar-t-sm npc"></div>
      {% include "./legendaryActions.html" %}
      <div class="mar-t-sm npc"></div>
      {% include "./lairActions.html" %}
      <div class="mar-t-sm npc"></div>
      {% include "./regionalEffects.html" %}
    </div>
    <div class="spells">
      {% include "./spells.html" %}
    </div>
    <div class="psionics">
      {% include "./psionics.html" %}
    </div>
  </div>

  <div class="wrap-box-title" data-i18n="MACROS"></div>
</div>