.sheet-rolltemplate-rite
    @extend %rtCommon !optional

    &> div:first-of-type 
        &> span:nth-of-type(2)
            @extend %rtSpan2 !optional
            width: 50%
            justify-content: flex-end
        &> span:last-of-type
            @extend %rtSIRSpanLast !optional
            margin-top: 5px
            margin-bottom: 10px
    &> div:nth-of-type(2)
        @extend %rtDiv2Complex
    &> div:nth-of-type(3)
        &> span:nth-of-type(1),
        &> span:nth-of-type(3),
        &> span:nth-of-type(5)
            @extend %rtDiv3Odd
        &> span:nth-of-type(2),
        &> span:nth-of-type(4)
            @extend %rtDiv3Even
        &> span:nth-of-type(5)
            text-align: justify
    
    @extend %rtCommonResult
    @extend %rtIrollresult