@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Cairo:wght@400;700;900&family=Dela+Gothic+One&family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;700&display=swap');

$blackest: #000;
$black: #231f1f;
$white: #fff;
$dullwhite: #f5f5f5;

// $red: #d72328; // maximum red
$red: #c7102e;
$blood: #c9252c;

$yellow: #fff100;
$orange: #ff5f1f;
$green: #bcd643;

$blue: #3a8db9;
$blue-dark: #006683;

$pink: #ee3773;

$gray: #ced4da;
$gray-dark: #404041;
$gray-light: tint-color($gray, 40%);
$gray-medium: tint-color($gray-dark, 40%);

$oxygen-tank-color: $red;
$frame-integrity-color: $blue;

$font-title: Cairo, sans-serif;
$font-nav: 'IBM Plex Mono', monospace;
$font-body: 'IBM Plex Mono', monospace;
$font-input: 'IBM Plex Mono', monospace;
$font-roll: Arimo, 'IBM Plex Sans', 'Helvetica Neue', Helvetica, sans-serif;

$font-extrabold: 900;
$font-bold: 700;
$font-normal: 400;
$font-light: 200;

$accent-color: var(--accent-color);
$character-color: $red;
$hub-color: $blue;

$active-page-background: var(--active-page-background);
$active-page-color: var(--active-page-color);

$dis-background: var(--dis-background);
$block-background: var(--block-background);
$grid-background: var(--grid-background);

$input-background: var(--input-background);
$input-color: var(--input-color);
$input-ruler-color: var(--input-ruler-color);
$input-font-size: 1rem;
$input-line-height: 2rem;
$input-width: 3.5em;

$label-color: var(--label-color);
$font-color: var(--font-color);
$subtitle-color: var(--subtitle-color);

$border-color: var(--border-color);

$rolltemplate-background: var(--rolltemplate-background);
$rolltemplate-accent-color: var(--rolltemplate-accent-color);
$rolltemplate-color: var(--rolltemplate-color);

$line-height: 2rem;

$grid-columns: 12;
$grid-gutter-width: 2px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: 10px;
$font-size-base: 1rem;

$m-lg: $font-size-root;
$m-md: $font-size-root * 0.5;
$m-sm: $font-size-root * 0.25;

$p-lg: $m-lg;
$p-md: $m-md;
$p-sm: $m-sm;

$font-h1: $font-size-base * 2.5;
$font-h2: $font-size-base * 2;
$font-h3: $font-size-base * 1.75;
$font-h4: $font-size-base * 1.5;
$font-h5: $font-size-base * 1.25;
$font-h6: $font-size-base;

$font-xl: $font-size-base * 1.25;
$font-l: $font-size-base * 1.125;
$font-m: $font-size-base;
$font-s: $font-size-base * 0.875;
$font-xs: $font-size-base * 0.75;
