- var trackValues = { 5: '+5', 4: '+4', 3: '+4', 2: '+2', 1: '+1', 0: '0' }
div.sheet-header
  div.sheet-header-items
    div.sheet-character-name
      h3.sheet-character-title CHARACTER
      input(type='text' class='sheet-pc-name' name='attr_character_name' placeholder='Character Name')
    div.sheet-character-role
      h3.sheet-character-title ROLE / TITLE
      input(type='text' class='sheet-pc-name' name='attr_character_role' placeholder='Character Role / Title')
  include ../resources/character
