- var trackValues = { 5: '+5', 4: '+4', 3: '+4', 2: '+2', 1: '+1', 0: '0' }
div.sheet-header
  div.sheet-header-items
    div.sheet-character-name
      h3.sheet-character-title COMPANION
      input(type='text' class='sheet-pc-name' name='attr_companion_name' placeholder='Companion Name')
    div.sheet-character-role
      h3.sheet-character-title ROLE / TITLE
      input(type='text' class='sheet-pc-name' name='attr_companion_role' placeholder='Companion Role / Title')
  include ../resources/companion
