section#bond.bond
  +input({name:'bond', class:'h1-style-input', 'data-i18n-placeholder':'bond', readonly: true})
  +textarea({name:'bond flavor text', class:'serif emph textarea-6', 'data-i18n-placeholder':'bond flavor text or description', spellcheck:'false'})
  +headedTextarea({
    textObj:{name:'special ability text', class:'textarea-5', 'data-i18n-placeholder':'your special bond ability'},
    header:'special ability'
    })
  +headedTextarea({
    textObj:{name:'second wind text', class:'textarea-3', 'data-i18n-placeholder':'regain effort when'},
    header:'second wind'
    })
  .hide-note
    p(class='bold capitalize', 'data-i18n'='additional notes')
    +collapse(name='xp-rules')
    .notes.expanded
      +textarea({name:'bond notes', class:'textarea-3', 'data-i18n-placeholder':'write anything you want here'})
