-
  const list = [
    'power',
    'gambit'
  ];
-

section#powers.powers.long-2
  each name in list
    if name === 'power'
      h1(data-i18n=`${name}s`)
    else if name === 'gambit'
      h3(data-i18n=`${name}s`)
    +fieldset({name})
      .flex-box.underlined
        +text({name:'name', class:'h3-style-input power', 'data-i18n-placeholder':'power'})
        +number({name:'uses', class:`${name}`, placeholder:'&#11047;'})
        +select({name:'type', class:`${name} type`})
          +option({value:'', 'data-i18n':'NA',  selected})
          +option({value:'/ scene', 'data-i18n':'per scene'})
          +option({value:'/ session', 'data-i18n':'per session'})
          +option({value:'passive', 'data-i18n':'passive'})
          +option({value:'effort', 'data-i18n':'effort'})
          +option({value:'strain', 'data-i18n':'strain'})
        +button({name:'quote', type:'roll', class:'roll-quote', value:"&{template:icon} {{name=@{name}}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{summary=@{uses} @{type}}} {{effect=@{effect}}}"})
      if name === 'power'
        .flex-box
          +textarea({name:'effect', class:'textarea-4', 'data-i18n-placeholder':'power placeholder'})
      else if name === 'gambit'
        .flex-box
          +textarea({name:'effect', class:'textarea-4', 'data-i18n-placeholder':'gambit placeholder'})