
$margin-small: .25rem;
$margin-general: .5rem;
$margin-large: 1rem;

$border-color: black;
$border-color-recessed: dimgrey;

$form-input-foreground: #000;
$form-input-background: rgba(36, 107, 131, 0.125);
$form-input-border: 1px solid rgb(44, 76, 87);
$form-active: rgba(51, 129, 155, .125);
$border-color: black;
$form-button-background: rgb(44, 76, 87);

$grid-border: 1px solid $border-color;
$grid-border-description: 1px dotted $border-color-recessed;
$grid-border-settings: 2px dashed #404040;

$attributes: 
    "weapon_skill",
    "ballistic_skill",
    "strength",
    "toughness",
    "initiative",
    "agility",
    "dexterity",
    "intelligence",
    "willpower",
    "fellowship";

$skills: 
    "animal-care",
    "animal-training",
    "channelling",
    "eva1uate",
    "heal",
    "language",
    "lore",
    "perform",
    "pick-lock",
    "play",
    "pray",
    "ranged",
    "research",
    "sail",
    "secret-signs",
    "set-trap",
    "sleight-of-hand",
    "swim",
    "track",
    "trade",
    "art",
    "athletics",
    "bribery",
    "charm",
    "charm-animal",
    "climb",
    "consume-alcohol",
    "cool",
    "dodge",
    "drive",
    "endurance",
    "entertain",
    "gamble",
    "gossip",
    "haggle",
    "intimidate",
    "intuition",
    "leadership",
    "melee",
    "navigation",
    "outdoor-survival",
    "perception",
    "ride",
    "row",
    "stealth";

$specialisations: 
    "basic",
    "brawling",
    "cavalry",
    "fencing",
    "flail",
    "parry",
    "polearm",
    "two-handed",
    "blackpowder",
    "bow",
    "crossbow",
    "engineering",
    "entangling",
    "explosives",
    "sling",
    "throwing",
    "aqshy",
    "chamon",
    "dhar",
    "ghur",
    "ghyran",
    "hysh",
    "shyish",
    "ulgu",
    "magick";