include ../../common/pug/button

mixin impacts(opts)
  .impact-component
    each group in impacts
      .impact-group
        .impact-group-title=group.title
        .impact-list
          each impact in group.list
            +btn(impact)
