include scaffold/_kpug.pug
include mixins/_sheetmixins.pug
//- additional includes should be below this point
- let templateName = 'icon';
- varObjects.sheetTypes = ['narrative','tactics','journal','roster'];

+hidden({name:'template start', value:`&{template:${gameName}} {{character_name=@{character_name}}} {{character_id=@{character_id}}}`})
+hidden({name:'collapsed', value:''})
main#main
  nav#main-nav.sheet-nav
    each val in varObjects.sheetTypes
      +button({name:val, type:'action', class:`sheet-nav__tab ${val}`, 'data-i18n':`${val} sheet`, 'data-i18n-title':`navigate to the ${val} tab`, role:'heading', 'aria-level':5})
    //- This is our button to access the settings page. it's written separately because it has some different requirements
    +button({name:'settings', type:'action', class:'pictos sheet-nav__tab settings','data-i18n-title':'navigate to the settings tab', role:'heading', 'aria-level':5})
      |y
  +hidden({name:'sheet state', class:'tabs__toggle', value:'settings'})
  include articles/_details.pug
  include articles/_narrative.pug
  include articles/_tactics.pug
  include articles/_journal.pug
  include articles/_roster.pug
  include articles/_settings.pug
include rolltemplates/_icontemplate.pug
+kscript
  //- All additional javascript files should start here
  include Javascript/variables.js
  include Javascript/calculators.js
  include Javascript/updaters.js
  include Javascript/triggeredfuncs.js
  include javascript/rollfunctions.js
  //- include Javascript/demoworkers.js