/* GLOBAL SETTINGS
  =============================  */
/* GLOBAL SETTINGS
=============================  */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

button {
  text-overflow: ellipsis;
  font-family: serif;
  font-variant: small-caps;
  transition: all .2s;
  box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.5); }
  button:before {
    display: none; }
  button:focus, button:hover, button:active {
    background: none;
    background-color: #79016f !important;
    color: #fff;
    transform: scale(1.1);
    box-shadow: none; }
  button[type="roll"], button[type="action"] {
    background-color: whitesmoke;
    border-bottom: 1px solid #666;
    border-bottom-right-radius: 1px;
    border-color: #b3b3b3;
    border-radius: 0.25rem;
    border-right: 0.02rem solid #333333;
    border-style: outset;
    font-size: 2rem !important;
    margin: 0.25rem !important;
    padding: 0.2rem 0.5rem !important; }

div {
  background-color: transparent;
  width: 100%; }

fieldset {
  background-color: transparent; }

h2.sheet-label {
  border-bottom: 0.15em solid black;
  text-align: center;
  margin-left: 3%; }

input:placeholder-shown[type="text"], input:placeholder-shown[type="number"], textarea:placeholder-shown {
  border: 0.1em dotted #79016f;
  background-color: #96939326; }

input:hover[type="text"], input:hover[type="number"], textarea:hover, input:focus[type="text"], input:focus[type="number"], textarea:focus {
  background-color: rgba(136, 121, 190, 0.25); }

input[type="text"], input[type="number"] {
  background-color: transparent;
  border-left: 0rem;
  border-radius: 0rem;
  border-right: 0rem;
  border-top: 0rem;
  height: 2.1rem;
  width: 100%; }

input[type='number'] {
  text-align: center;
  width: 100% !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  margin: 0; }

label {
  margin-bottom: 0px;
  padding-right: 0px; }

select {
  margin-bottom: 0px;
  vertical-align: bottom;
  border: 2px solid #79016f;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 8%;
  width: 100%; }

span {
  font-size: 1.5rem;
  word-break: break-word; }

textarea {
  background-color: transparent;
  text-align: left;
  border-bottom: 0.2em dotted #b9dadf;
  font-size: 12px;
  font-weight: normal;
  min-height: 50px;
  line-height: 18px;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 2px;
  resize: vertical;
  vertical-align: top;
  overflow: scroll; }

.charsheet {
  width: 880px; }
  .charsheet div.sheet-row {
    display: inline-grid; }

div.sheet-background {
  background-color: rgba(77, 77, 77, 0.0784314); }

.sheet-border {
  border: 0.15rem solid #4c4c4c; }

.sheet-bottom-border, div.sheet-repeating-container div.sheet-descriptor input[type='text'] {
  border-bottom: 0.2rem solid black; }

.sheet-description {
  white-space: pre-line; }

.sheet-eclipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sheet-font-weight-bold {
  font-weight: bold; }

.sheet-inline-block {
  display: inline-block; }

.sheet-text-vertical {
  transform: rotate(180deg);
  writing-mode: vertical-lr; }

div.sheet-1column {
  grid-template-columns: repeat(1, 1fr); }

div.sheet-2column {
  grid-template-columns: repeat(2, 1fr); }

div.sheet-3column {
  grid-template-columns: repeat(3, 1fr); }

div.sheet-4column {
  grid-template-columns: repeat(4, 1fr); }

div.sheet-5column {
  grid-template-columns: repeat(5, 1fr); }

div.sheet-6column {
  grid-template-columns: repeat(6, 1fr); }

div.sheet-2autocolumn {
  grid-template-columns: auto 1fr; }

div.sheet-4autocolumn {
  grid-template-columns: auto 1fr auto 1fr; }

div.sheet-3columnbutton {
  grid-template-columns: auto 1fr 3rem; }

.sheet-mb-1 {
  margin-bottom: 1%; }

.sheet-mt-1 {
  margin-top: 1%; }

.sheet-pb-1 {
  padding-bottom: 1%; }

.sheet-pt-1 {
  padding-top: 1%; }

.sheet-mb-2 {
  margin-bottom: 2%; }

.sheet-mt-2 {
  margin-top: 2%; }

.sheet-pb-2 {
  padding-bottom: 2%; }

.sheet-pt-2 {
  padding-top: 2%; }

.sheet-mb-3 {
  margin-bottom: 3%; }

.sheet-mt-3 {
  margin-top: 3%; }

.sheet-pb-3 {
  padding-bottom: 3%; }

.sheet-pt-3 {
  padding-top: 3%; }

.sheet-mb-4 {
  margin-bottom: 4%; }

.sheet-mt-4 {
  margin-top: 4%; }

.sheet-pb-4 {
  padding-bottom: 4%; }

.sheet-pt-4 {
  padding-top: 4%; }

.sheet-mb-5 {
  margin-bottom: 5%; }

.sheet-mt-5 {
  margin-top: 5%; }

.sheet-pb-5 {
  padding-bottom: 5%; }

.sheet-pt-5 {
  padding-top: 5%; }

h1 {
  color: #79016f;
  text-transform: capitalize;
  font-family: serif;
  font-size: 2.5rem; }

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: capitalize; }

h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  text-transform: capitalize; }

label {
  font-size: 3rem; }

.sheet-pictos {
  font-family: "pictos"; }

.sheet-d20 {
  font-family: "dicefontd20"; }

.sheet-font-smallcaps {
  font-variant: small-caps; }

.sheet-text-capitalize {
  text-transform: capitalize; }

.sheet-text-uppercase {
  text-transform: uppercase; }

.sheet-text-center {
  text-align: center; }

.sheet-text-left {
  text-align: left !important; }

.sheet-text-right {
  text-align: right; }

.sheet-text-primary {
  color: #79016f; }

/* GRID
  ============================= */
.sheet-grid {
  display: inline-grid;
  grid-column-gap: 1%;
  grid-row-gap: 0.5%; }

span.sheet-display {
  border-bottom: 2px dotted black;
  padding-top: 3%; }

input.sheet-toggles {
  position: relative;
  opacity: 0;
  width: 100%;
  z-index: 2; }
  input.sheet-toggles:checked + span {
    color: #79016f;
    margin-left: 5%; }

/* HEADER
	============================= */
/* PC
    ============================= */
div.sheet-pc {
  padding: 2% 1%;
  grid-template-columns: 3fr 2fr 0.5fr;
  grid-row-gap: 1%; }
  div.sheet-pc .sheet-colon:after {
    content: ':'; }
  div.sheet-pc div.sheet-box {
    background-color: #f1f2ee;
    -moz-box-shadow: inset 0 0 10px #00000024;
    -webkit-box-shadow: inset 0 0 10px #00000024;
    box-shadow: inset 0 0 10px #00000024;
    padding: 2% 1%; }
  div.sheet-pc div.sheet-logo-row {
    grid-column-gap: 10%;
    align-items: end; }
    div.sheet-pc div.sheet-logo-row div.sheet-logo {
      justify-content: end; }
      div.sheet-pc div.sheet-logo-row div.sheet-logo img {
        max-height: 100px; }
  div.sheet-pc div.sheet-character-info {
    grid-row-gap: 5%; }
    div.sheet-pc div.sheet-character-info h2 {
      margin-right: 0.5rem; }
    div.sheet-pc div.sheet-character-info div.sheet-name-row {
      grid-template-columns: 2fr 1fr 2fr; }
  div.sheet-pc div.sheet-personality-row {
    align-items: start;
    grid-row-gap: 5%; }
    div.sheet-pc div.sheet-personality-row h2 {
      font-size: 2rem; }
    div.sheet-pc div.sheet-personality-row h3 {
      font-size: 1.5rem;
      margin-right: 0.5rem; }
    div.sheet-pc div.sheet-personality-row textarea {
      resize: none;
      overflow: hidden; }
    div.sheet-pc div.sheet-personality-row div.sheet-personality textarea,
    div.sheet-pc div.sheet-personality-row div.sheet-origin textarea {
      height: 40px; }
    div.sheet-pc div.sheet-personality-row div.sheet-mannerism textarea {
      height: 86px; }
  div.sheet-pc div.sheet-wastah-row {
    grid-template-columns: 1fr 45% 1fr; }
    div.sheet-pc div.sheet-wastah-row div.sheet-descriptor {
      grid-template-columns: 1.5rem 1fr repeat(2, 1.5rem);
      grid-column-gap: 3%; }
      div.sheet-pc div.sheet-wastah-row div.sheet-descriptor button[type='roll'] {
        width: 95%; }
      div.sheet-pc div.sheet-wastah-row div.sheet-descriptor input[name='attr_collapse'],
      div.sheet-pc div.sheet-wastah-row div.sheet-descriptor input[name='attr_collapse'] + span {
        grid-area: 1 / 3 / 1 / 3; }
      div.sheet-pc div.sheet-wastah-row div.sheet-descriptor input[name='attr_settings'],
      div.sheet-pc div.sheet-wastah-row div.sheet-descriptor input[name='attr_settings'] + span {
        grid-area: 1 / 4 / 1 / 4; }
      div.sheet-pc div.sheet-wastah-row div.sheet-descriptor div.sheet-collapse,
      div.sheet-pc div.sheet-wastah-row div.sheet-descriptor div.sheet-settings {
        grid-column: 1 / 5; }
    div.sheet-pc div.sheet-wastah-row div.sheet-traits {
      grid-gap: unset; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits h2 {
        font-size: 1.2rem; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-trait,
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-experiene {
        border: 1px solid blue; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-trait {
        grid-template-rows: repeat(3);
        height: 80px;
        width: 100%;
        position: relative; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-intellect {
        grid-area: 1 / 2 / 1 / 3; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-agility {
        grid-area: 1 / 3 / 1 / 4; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-perception {
        grid-area: 2 / 1 / 2 / 2; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-experience {
        grid-area: 2 / 2 / 4 / 4;
        grid-template-rows: 66% 1fr;
        height: 100%;
        position: relative; }
        div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-experience::before {
          background-image: url("https://raw.githubusercontent.com/clevett/roll20-character-sheets/blackvoidv1/Black%20Void%20by%20Penny%20for%20a%20Tale/src/imgs/Trait%20circle%201.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: -1;
          transform: rotate(-90deg); }
        div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-experience div.sheet-header {
          grid-area: 2 / 2 / 2 / 4; }
        div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-experience div.sheet-input {
          grid-area: 1 / 1 / 1 / 5;
          padding: 20% 11% 10%; }
          div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-experience div.sheet-input label {
            height: 100%;
            width: 100%; }
          div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-experience div.sheet-input input[type='number'] {
            border: none;
            font-size: 4.5rem;
            height: 100%; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-awareness {
        grid-area: 2 / 4 / 2 / 5; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-presence {
        grid-area: 3 / 1 / 3 / 2; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-stamina {
        grid-area: 3 / 4 / 3 / 5; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-willpower {
        grid-area: 4 / 2 / 4 / 3; }
      div.sheet-pc div.sheet-wastah-row div.sheet-traits div.sheet-strength {
        grid-area: 4 / 3 / 4 / 4; }

/*  REPEATING SECTIONS
  ============================= */
div.sheet-repeating-container button {
  font-variant: none;
  width: fit-content;
  font-size: 1.5rem;
  padding: 1% 2%; }
  div.sheet-repeating-container button[type='roll'] {
    width: 100%; }

div.sheet-repeating-container textarea {
  margin-top: 2%; }

div.sheet-repeating-container .repcontrol {
  margin-top: 5%; }

div.sheet-repeating-container .repcontrol_del {
  font-family: "pictos";
  position: relative; }

div.sheet-repeating-container div.sheet-descriptor {
  grid-template-columns: 1fr repeat(2, 1.5rem);
  align-items: center;
  justify-items: center; }
  div.sheet-repeating-container div.sheet-descriptor button[type='roll'] {
    min-height: 2rem; }
  div.sheet-repeating-container div.sheet-descriptor div.sheet-collapse {
    padding-left: 5%; }
  div.sheet-repeating-container div.sheet-descriptor input[name='attr_collapse'] + span,
  div.sheet-repeating-container div.sheet-descriptor input[name='attr_settings'] + span {
    font-size: 1.5rem; }
  div.sheet-repeating-container div.sheet-descriptor input[name='attr_collapse'],
  div.sheet-repeating-container div.sheet-descriptor input[name='attr_collapse'] + span {
    grid-area: 1 / 2 / 1 / 2; }
  div.sheet-repeating-container div.sheet-descriptor input[name='attr_settings'],
  div.sheet-repeating-container div.sheet-descriptor input[name='attr_settings'] + span {
    grid-area: 1 / 3 / 1 / 3; }
  div.sheet-repeating-container div.sheet-descriptor div.sheet-collapse,
  div.sheet-repeating-container div.sheet-descriptor div.sheet-settings {
    grid-column: 1 / 4; }
  div.sheet-repeating-container div.sheet-descriptor div.sheet-settings {
    grid-template-columns: 1fr;
    background-color: rgba(76, 76, 76, 0.2);
    padding: 3% 5%;
    margin-top: 5%;
    position: relative; }
    div.sheet-repeating-container div.sheet-descriptor div.sheet-settings::before {
      position: absolute;
      top: -1rem;
      left: 50%;
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(76, 76, 76, 0.2); }

/*  SHOW & HIDE SECTIONS
  ============================= */
/***** SETTINGS *****/
input[name='attr_collapse']:checked ~ div.sheet-collapse,
input[name='attr_settings']:checked ~ div.sheet-settings {
  display: block; }

input.sheet-type:not([value="npc"]) ~ div.sheet-npc, input[name='attr_sheet_type']:not([value='core']) ~ div.sheet-pc div.sheet-info,
input[name='attr_sheet_type']:not([value='core']) ~ div.sheet-pc div.sheet-skill-traits,
input[name='attr_sheet_type']:not([value='arms']) ~ div.sheet-pc div.sheet-arms,
input[name='attr_sheet_type']:not([value='advancement']) ~ div.sheet-pc div.sheet-advancement,
input[name='attr_sheet_type'][value='advancement'] ~ div.sheet-pc div.sheet-characteristics, div.sheet-collapse,
.sheet-settings {
  display: none; }

/*  SWITCH
  ============================= */
/*  SWITCH
    ============================= */
.sheet-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  /* Hide default HTML checkbox */ }
  .sheet-switch input {
    opacity: 0;
    width: 0;
    height: 0; }

/* The slider */
.sheet-slider {
  -webkit-transition: .4s;
  background-color: #ccc;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s; }
  .sheet-slider:before {
    -webkit-transition: .4s;
    background-color: white;
    border-radius: 50%;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px; }
  input:checked + .sheet-slider {
    background-color: black; }
    input:checked + .sheet-slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }
  input:focus + .sheet-slider {
    box-shadow: 0 0 1px black; }

/* STYLED CHECKBOXES
  ============================= */
label.sheet-styled-checkbox input, label.sheet-styled-checkbox span {
  grid-area: 1 / 1 / 1 / 1;
  height: 15px;
  width: 15px;
  position: relative;
  left: 20%; }

label.sheet-styled-checkbox span {
  border: 2px solid #79016f;
  display: inline-block;
  color: transparent;
  text-align: center;
  font-size: 1rem;
  border-radius: 2rem;
  line-height: 90%; }

label.sheet-styled-checkbox input {
  opacity: 0;
  z-index: 2; }
  label.sheet-styled-checkbox input[type="checkbox"]:checked + span {
    background-color: #79016f;
    color: #fff; }

/*  FOOTER
  ============================= */
.sheet-footer {
  display: block;
  text-align: center; }
  .sheet-footer span[name="attr_version"]::after {
    content: '.';
    margin-right: 0.2rem; }
  .sheet-footer span {
    font-size: 1rem; }
  .sheet-footer img {
    margin-left: 2%;
    height: 2.5rem;
    width: 2.5rem; }

/*  ROLL TEMPLATE STYLE
  ============================= */
.sheet-rolltemplate-rolls div.sheet-template-container {
  border: 2px solid black;
  border-radius: 0.3rem;
  box-shadow: inset 0px 0px 3px 1px #79016f;
  text-align: center;
  font-family: 'fantasy';
  /* DICE ROLL STYLES
		----------------------------- */ }
  .sheet-rolltemplate-rolls div.sheet-template-container .inlinerollresult.fullfail,
  .sheet-rolltemplate-rolls div.sheet-template-container .inlinerollresult.fullcrit,
  .sheet-rolltemplate-rolls div.sheet-template-container .inlinerollresult.importantroll {
    border: none; }
  .sheet-rolltemplate-rolls div.sheet-template-container .inlinerollresult.fullfail, .sheet-rolltemplate-rolls div.sheet-template-container .inlinerollresult.fullcrit {
    color: #79016f; }
  .sheet-rolltemplate-rolls div.sheet-template-container .inlinerollresult {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding: unset; }
  .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template- {
    background-color: #79016f;
    border-bottom: 2px solid black;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -2px;
    padding: 5% 2%;
    text-transform: capitalize;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; }
  .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body {
    background-color: black;
    color: whitesmoke; }
    .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-row:nth-child(2n+0) {
      background-color: #b9dadf; }
    .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-row span.sheet-inlinerollresult {
      color: whitesmoke;
      font-size: 2rem;
      font-weight: bold;
      cursor: help;
      padding: 0 3px 0 3px;
      font-weight: bold; }
    .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-row span.sheet-percent, .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-row span.sheet-template-desc {
      color: whitesmoke;
      font-size: 1rem; }
    .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-damage {
      background-color: #fff;
      padding: 3% 2%; }
    .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-roll {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      width: 100%; }
      .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-roll div.sheet-template-col {
        padding: 5%; }
        .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-roll div.sheet-template-col:nth-of-type(2) {
          border-left: 2px solid black; }
        .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-roll div.sheet-template-col span {
          display: block; }
          .sheet-rolltemplate-rolls div.sheet-template-container div.sheet-template-body div.sheet-template-roll div.sheet-template-col span:last-child {
            margin-top: 5%; }
