include ../mixins/headers
include ../mixins/body
include ../mixins/outcomes

rolltemplate.sheet-rolltemplate-starforged_progress
  div.sheet-roll-container
    | {{#progress}}
    +progressHeader 
    +progressBody
    | {{#rollGreater() progress challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +opportunity
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() progress challenge2}}
    +strongHit
    | {{/rollGreater() progress challenge2}}
    | {{#^rollGreater() progress challenge2}}
    +weakHit
    | {{/^rollGreater() progress challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/rollGreater() progress challenge1}}
    | {{#^rollGreater() progress challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +complication
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() progress challenge2}}
    +weakHit
    | {{/rollGreater() progress challenge2}}
    | {{#^rollGreater() progress challenge2}}
    +miss
    | {{/^rollGreater() progress challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/^rollGreater() progress challenge1}}
    | {{/progress}}