/***** PC ROWS & COLUMNS SETTINGS *****/
	.sheet-pc-row {
		margin-bottom: 10px;
	}

	.sheet-pc-col {
		vertical-align: top;
		width         : calc(50% - 5px);

		&:first-child {
			margin-right: 1.5%;
			width       : calc(50% - 10px);
		}
	}

	.sheet-row-long {
		border-bottom: 1px solid #000;
	}

	.sheet-settings-row {
		margin-top: 5px;
	}

/***** HEADERS AND TRIANGLES *****/
	div.sheet-header {
		display: inline-flex;
		float: right;
		height: 20px;
	}

	div.sheet-triangle,
	div.sheet-right-tri {
		border-top: 20px solid transparent;
	}

	div.sheet-triangle {
		border-right: 30px solid $red;
	}

	div.sheet-right-tri {
		border-left: 30px solid $red;
	}

	div.sheet-right-header {
		margin-right: -8%;
		float: left;
	}

/***** SECONDARY HEADERS LIKE ON SKILLS *****/
	div.sheet-htab {
		margin-right: -47px;

		input {
			&[type='radio'] {
				margin-right: -80px;
				top         : 4px;
				opacity: 0;
				width       : 80px;
				z-index: 2;

				& + h1 {
					color: $lightgray;
				}

				&:hover ~ h1,
				&:checked ~ h1  {
					color: $white;
				}
			}
		}
	}

/***** BOXES FOR DIFFERENT PC SECTIONS *****/
	.sheet-pc-box {
		background-color: $bg-color;
		margin-left     : 1.5px;
		margin-right    : 1.5px;
		padding-left    : 5px;
		padding-right   : 5px;
		height: auto;
	}

	.sheet-small-box {
		min-height: 150px;
	}

	.sheet-medium-box {
		min-height: 330px;
	}

/***** CHARACTER PERSONAL DATA SECTION INPUTS *****/
	.sheet-pd-nam input[type='text']  {width: 66%;}

	.sheet-pd-meta input[type='text'] {width: 35.5%;}

	.sheet-pd-age input[type='text'] {width: 13%;}

	.sheet-pd-rep input[type='number'] {
		border: none;
		width : 13.5%;}

	.sheet-pd-kar input[type='number'],
	.sheet-pd-kar input[type='text'] {
		border: none;
		width : 20%;
	}

/***** CORE COMBAT INFO *****/
	.sheet-core-combat {
		button[type='roll'] {
			font-size : 0.9em;
			text-align: left;}

		h2, h3 { margin-right: 0px; }	

		button[name="roll_soak"] { 
			max-width: 27%; 

			& > span {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
			}
		}
	}

/***** PRIMARY WEAPON *****/
	.sheet-cc-row {
		button {
			&[type='roll'] { width: 40%; }
			&[type='action'] {
				font-family: fontello;
				width      : 5%;
			}

			&[name*='primary_ammo'] { 
        width: 10%; 
      }

			&[type='action'] > span {
				display: inline;
				margin-left: 0px;

				&:before { 
          content: 'x'; 
        } /** The x# after ammo button **/
			}

			&[name*='shots'],
			&[name='act_reload'],
			&[name='act_primary_ammo']  {
				border-bottom             : 2px solid #666;
				border-bottom-right-radius: 2px;
				border-color              : #aaa;
				border-radius             : 5px;
				border-right              : 3px solid #999;
				border-style              : outset;
				font-family: 'Pictos';
      }

			&[name*='shots_remove'] {
				transform: rotate(180deg);
				-ms-transform: rotate(180deg); /* IE 9 */
				  -webkit-transform: rotate(180deg); /* Safari 3-8 */
			}

      &[name="act_reload"]:hover {
        color: #fff;
      }
		}

		button[type='roll'] > span,
		h3 + span {
			display    : inline-block;
			margin-left: 1%;
		}

		/** Ammo display */
		span[name*='ammo'] { width  : 4%; }
		span[name*='ammo_max']:before { content: '/'; }

		span[name*='fired'] { font-size: 0.9em; }
	}

	/***** ATTRIBUTE AND CONDITION MONITOR *****/				
	/***** ATTRIBUTES BOX *****/
		.sheet-attr-box h3 {
      color: #000;
    }

		.sheet-attr-col {
			display       : inline-block;
			margin-top    : 15px;
			vertical-align: top;
			width         : 48%;

			button {
				&[type='roll'] {
					border-bottom: 1px solid #000;
					border-radius: 0px;
					cursor       : pointer;
					font-size    : 0.9em;
					font-weight  : bold;
					margin-left  : 0px;
					padding-right: 2px;
					text-align   : right;
					width        : 30%;
				}

				& > span {font-weight: bold;}
			}

			input[type='number'] {
				border-radius: 0px;
				width        : 23%;
				font-weight: bold;
			}

			input[type='text'] { width: 50%; }

			.sheet-totals { padding: 0px 2px;}

			&-left { margin-left: -7%; }

			&-right { 
				width: 50%; 

				button[type='roll'] {
					margin-right: 0px;
					width       : 55%;
				}

				.sheet-attr-ini input[type='number'] { 
          width: 17%;
        }

				label {
					border-bottom: 1px solid #000;
					font-size    : 0.9em;
					height       : 22px;
					text-align   : right;
					width        : 55%;
				}

				.sheet-attr-und { width: 43%; }
			}
		}

	.sheet-settings-toggle:checked ~ .sheet-attr-col-right .sheet-attr-ini {width: 70%;}
	.sheet-settings-toggle:checked ~ .sheet-attr-col-right button.sheet-attr-ini {width: 28%;}
	.sheet-settings-toggle:checked ~ .sheet-attr-col-right button.sheet-attr-ini .sheet-init-settings {display: inline;}

	.sheet-attr-col-right button.sheet-attr-ini .sheet-init-settings,
	.sheet-settings-toggle:checked ~ .sheet-attr-col-right button.sheet-attr-ini .sheet-init-display {
		display: none;}


	.sheet-attr-und {
		border-bottom : 1px solid #000;
		display       : inline-block;
		height        : 22px;
		margin-bottom : 4px;
		vertical-align: top;
		text-align: center;
		width         : 65%;

		.sheet-display { 
      text-align: center; 
    }
	}



/***** ATTRIBUTE LIMITS *****/	
	.sheet-attr-lim {
		margin-top: 20px;

		div {
			display   : inline-block;
			height    : 22px;
			text-align: center;
			width     : 10%;
		}

		input[type='number'] { width: 6%; }
		label { width: auto; }

		span + span { margin-right: 1%; }

		.sheet-display {width: 100%;}
	}

/***** ATTRIBUTE AND CONDITION MONITOR SETTINGS TOGGLES *****/
	/***** ATTRIBUTE SETTINGS TOGGLE *****/
	.sheet-attr-box input.sheet-settings-toggle {
		left: 98%;

		& + span  {
			font-size: 1em;
			left: 94%;
			top : 0px;
			position: relative;
		}
	}