.sheet-rolltemplate-snice .inlinerollresult {
    display: inline-block;
    box-sizing: border-box;
    font-size: 26px;
    padding-top: 18px;
    width: 60px;
    height: 60px;
    background-color: #fff !important;
    background-image: url('https://raw.githubusercontent.com/Parou/Snice-Roll20/main/SniceDice.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #000;
    border-radius: 6px;
    text-align: center;
}

.sheet-rolltemplate-snice .inlinerollresult {
    border-color: #000 !important;
}

.sheet-rolltemplate-snice .inlinerollresult.fullcrit, .sheet-rolltemplate-snice .inlinerollresult.importantroll {
    border-color: #149d38 !important;
}

.sheet-rolltemplate-snice .inlinerollresult.fullfail {
    border-color: #b31515 !important;
}

.sheet-rolltemplate-snice .sheet-template-header {
    display: inline-block;
    vertical-align: top;
    color: #cdcdcd;
    font-weight: bold;
    word-break: break-word;
    width: 70%;
}

.sheet-rolltemplate-snice .sheet-rt-cost {
    position: absolute;
    background-color: #fff;
    border: 2px solid #000;
    height: 20px;
    display: block;
    border-radius: 50%;
    top: -5px;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    width: auto;
    padding: 5px;
    right: -8px;
    min-width: 20px;
}

.sheet-rolltemplate-snice .sheet-rt-description {
    font-weight: normal;
}

.sheet-rolltemplate-snice .sheet-rt-result {
    background-color: #141414e0;
    border-radius: 6px;
    padding: 10px;
    position: relative;
}

.sheet-rolltemplate-snice .sheet-rt-advantage {
    position: absolute;
    left: -5px;
    top: -3px;
}

.sheet-rolltemplate-snice .sheet-rt-advantage .inlinerollresult {
    width: 30px;
    height: 30px;
    font-size: 14px;
    padding: 0;
    padding-top: 4px;
    background-image: none;
}




.left-container, .right-container, .inventory-container {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}

.left-container {
    min-width: 830px;
}

.right-container {
    max-width: 560px;
    min-width: 400px;
}

.itemcontrol {
    z-index: 10;
}

.inventory-container {
    width: 400px;
}

.repitem .modifier {
    margin-bottom: 60px;
    margin-right: 3px;
}

.repitem:last-child .modifier {
    margin-bottom: 10px;
}

.repitem:last-child {
    margin-bottom: 20px;
}

.repitem .skillname, .repitem .skill-description, .repitem .d1, .repitem .d2, .repitem .modifier, .repitem .itemname, .repitem .itemcount, .repitem .item-description {
    border: 2px solid #000;
    color: #000;
}

.repitem .item-description {
    margin-top: 10px;
    height: 100px;
}

.itemcount {
    width: 120px !important;
}

.endurance-cost {
    position: absolute;
    margin-left: 235px;
    margin-top:  166px;
}

.point-cost {
    position: absolute;
    margin-left: 235px;
    margin-top: -14px;
}

.skillname {
    width: 213px;
}

.skill-description {
    width: 500px !important;
}

.repitem button {
    color: #000;
    font-weight: bold;
}

.dice-select {
    position: absolute;
    margin-top: -45px;
    margin-left: 345px;
}

.d1, .d2, .action-roll-manual .action-roll, .action-roll-manual .modifier {
    height: 60px;
    width: 60px;
    border-radius: 6px;
}

.action-roll-manual .d1, .action-roll-manual .d2, .action-roll-manual .modifier {
    border: 2px solid #000;
}

.action-roll-manual .action-roll {
    box-sizing: border-box;
    vertical-align: top;
    color: #000;
    font-weight: bold;
}

.action-roll-manual .modifier {
    width: auto;
    margin-right: 3px;
}

.repcontrol {
    margin-bottom: 30px;
}

.skill-description {
    margin-top: 10px;
}

.label {
    font-size: 12px !important;
    font-weight: normal !important;
    display: inline !important;
    margin-left: -10px !important;
    box-sizing: border-box !important;
    color: #000 !important;
}

.social-status {
    position: absolute;
    top: 825px;
    left: 70px;
}

.checkroll {
    position: absolute;
    margin-left: -31px !important;
    margin-top: 17px !important;
    color: #000000;
    font-weight: bold;
}

.action-roll {
    font-size: 22px !important;
    color: #000;
}

.head {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.data {
    display: inline-block;
    width: 320px;
    height: 120px;
    margin-left: 40px;
    vertical-align: top;
    margin-top: 50px;
    box-sizing: border-box;
    font-size: 19px;
}

.data-input {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
    height: 35px;
    display: block;
    margin-bottom: 5px;
    text-align: right;
    box-sizing: border-box;
}

.data .data-input-field {
    height: 30px;
    margin-left: 10px;
    border: 0;
    box-sizing: border-box;
}

.character-name {
    background-color: #fff;
    width: 393px;
    height: 120px;
    border: 2px solid #000;
    border-left: 0;
    border-radius: 3px;
    margin-left: 65px;
    margin-top: 47px;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

.snice-logo {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -75px;
    margin-top: -45px;
    box-sizing: border-box;
}

.level-exp {
    position: absolute;
    right: -30px;
    top: 85px;
    box-sizing: border-box;
    z-index: 6;
}

.ring-input {
    display: inline-block;
    box-sizing: border-box;
}

.ring-input .small-text {
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.gender {
    margin-left: 100px;
    box-sizing: border-box;
    z-index: 5;
    position: absolute;
}

.h2 {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.attribute {
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.attribute-default-name {
    display: inline-block;
    width: 150px;
    text-align: right;
    box-sizing: border-box;
    font-size: 19px;
}

.small-text {
    font-size: 16px;
    box-sizing: border-box;
}

.smallest-text {
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    text-align: right;
    margin-top: 3px;
}

.point-circle {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.thick {
    border-width: 3px;
    box-sizing: border-box;
}

.point {
    width: 55px !important;
    height: 56px !important;
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    border: none;
    background-color: transparent !important;
    outline: 0;
    margin-left: 8px;
    box-sizing: border-box;
}

.input {
    font-size: 21px;
    width: 300px;
    height: 30px;
    border: 2px solid #000;
    background-color: #fff;
    outline: 0;
    border-radius: 3px;
    box-sizing: border-box;
}
.line-value {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.line-input {
    border: none;
    background-color: transparent !important;
    border-bottom: 3px solid #000 !important;
    font-size: 19px !important;
    text-align: center;
}

.line-value.text {
    display: block;
}

.line-value.text .small-text {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.giant {
    background: transparent;
    border: none;
    height: 120px !important;
    width: 280px;
    margin-left: 70px;
    text-align: center;
    font-size: 34px;
    box-sizing: border-box !important;
    position: relative;
    z-index: 5;
}
