/* SUMMARY UPDATE */
.allowpopup{overflow: visible !important;}
div.datahide{display:none;}
div[data-groupname='repeating_summary'].repcontrol{
      display: none;
}
div.summary{
      position:absolute;
      bottom:40px;
      right: 10px;
      display:none;
      z-index: 10;
      background: $lightgray;
      border: 0.01em solid black;
      border-radius: 2%;
      width:30%;
      min-height:20%;
      overflow-y:scroll;   
      padding: 10px;
      
}
.section-summary{
   grid-column-gap: 0.2em;
   grid-row-gap: 0.2em;
   grid-template-columns: 4fr 1fr 1fr 1fr;
   display:grid;
   .item1{
       padding-left: 0.2em;
       justify-self: start;
   }
   .item2,.item4{
       justify-self: end;
   }
   .item4{
       padding-right: 0.2em;
     }
   .item3{
       justify-self: center;
   }

}
div.updateinfo{
     position: relative;
     
     input[type='checkbox']{
         opacity: 0;
         width: 16px;
         height: 16px;
         position: relative;
         top: 5px;
         left: 6px;
         margin: -10px;
         cursor: pointer;
         z-index: 1;
         &+ span::before{
             margin-right: 4px;
             line-height: 14px;
             text-align: center;
             display: inline-block;
             vertical-align: middle;   
             font-family: 'pictos'; 
             content: "?";
             font-weight: bold;
             color:green;
             width: 14px;
             height: 14px;
             font-size: 12px;
         }
         &:checked ~ div.summary{
             display:grid;
         }
         &:checked + span::before{
             content: "?";
             font-weight: bold;
             color: gray;
         }
     }
}


 div.modifiers{
     position:absolute;
     right: 100%;
     bottom: 2em;
     opacity: 1;
     display:none;
     z-index: 10 !important;
     background: $maincolor;
     background-color: $maincolor !important;
     color: $accent1;
     border: 0.01em solid black;
     border-radius: 2%;
     width: 40em;
     padding-bottom: 1em;
     margin: 0;
     min-height:100px;
     align-items: center;
     grid-row-gap: 0.5em;
     
     justify-content: start;
    .item-acc input, .item-sel input {
        background: $accent1 !important;
        opacity:1 ;
        background-color: $accent1;
        &[type='number'] {
            width: 2em;
            &::after{
                content:" ";
            }    
        } // Add a closing curly brace here
        
    }
 
    
    h2.title{
        width: inherit;
            text-align: center;
            color: $accent1;
            justify-self: center;
            &::after{
                content: "";
                display: block;
                width: 98%;
                background: $accent1;
                border-radius: 50%;
                height: 5px;
            }
    }

    .item-check,.item-acc,.item-sel, .item-shotgun{
        padding-left: 1em;
        padding-right: 1em;
        width: inherit;
    }
    
    
    .item-shotgun{
            display: grid;
            grid-template-rows: 2em;
            grid-template-columns: 3em 10em 1fr;
            
            span{
                display: inline-block;
            }

            .double_damage{
                display:none;
            }

            input:checked ~ .double_damage{
                display:grid;
                grid-template-columns: 3em 1fr;
            }

    }
    .item-check{
        display: grid;
        grid-template-rows: 2em;
        width:100%;
        grid-template-columns: 3em 1fr;
        
        span{
            display: inline-block;
        }

    }       
    .item-acc{
            display: grid;
            grid-template-rows: 2em;
            grid-template-columns: 3em 7em 18em  1fr ;
            
            input {
                background-color: $gray;
            }
    }

    .item-sel{
            display: grid;
            grid-template-rows: 2em;
            grid-template-columns: 3em 7em 18em 1fr ;
            
            background-color: $gray;
            .selfire{
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 6em;
                width:100%;
                .second{
                    padding-left: 1em;
                    text-align:right;
                }
            }
    }
    
    .small-select {
        width: 100%;  // Adjust as needed
        height: 2em;  // Adjust as needed
        font-size: 12px;  // Adjust as needed
    }
    .fix-check{
        height:1.5em;
        width:1.5em;
    }
 }

 .advancedinfo{
     position: relative;
     input.advanced[type='checkbox']{
         opacity: 0;
         width: 16px;
         height: 16px;
         position: relative;
         top: 5px;
         left: 6px;
         margin: -10px;
         cursor: pointer;
         z-index: 1;
         &+ span::before{
             margin-right: 4px;
             line-height: 14px;
             text-align: center;
             display: inline-block;
             vertical-align: middle;   
             font-family: 'pictos'; 
             content: "z";
             font-weight: bold;
             color:$maincolor;
             width: 14px;
             height: 14px;
             font-size: 12px;
         }
         &:checked + span::before{
             content: "z";
             color: $accent3;
             text-shadow: 0 0 10px $maincolor;
             font-weight: bold;
         }
     }
     
     input.advanced[type='checkbox']:checked ~ div.modifiers {
         display:grid;
     }
 }

input.hasammo[value='1'] ~ .noammo, .wammo{
    display:none;
}

input.hasammo:checked ~ .wammo, .noammo{
    display:grid;
    grid-template-columns: 1fr;
}

 
input.shotgun:checked ~ .noshotgun, .wshotgun{
    display:none;
}

input.blast:checked ~ span.wblast{
    display:grid;
    grid-template-columns: 1fr;
}

input.blast:checked ~ span.noblast,span.wblast{
    display:none;}

span.noshotgun,span.noblast{
    display:grid;
    grid-template-columns: 1fr;
}
input[name='attr_double_damage'].shotgun:checked ~ span.wshotgun{
    display:grid;
    grid-template-columns: 1fr 0.5em 1fr;
    align-items: center;
}

input[name='attr_shotgun'].shotgun:checked ~ .wshotgun{
    display:grid;
    grid-template-columns: 1fr;
}

input[type=checkbox].shotgun,input[type=checkbox].blast{
    display:none;
}