.sheet-main{
	font-size: 11px;
	font-family: verdana;
}

input[type="text"], input[type="number"] {
	font-size: 11px;
	font-family: verdana;
}


/* ROLL TEMPLATES */
.sheet-rolltemplate-coc_abilities,
.sheet-rolltemplate-coc_sanity,
.sheet-rolltemplate-coc_skills,
.sheet-rolltemplate-coc_weapons {
  box-sizing: border-box;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-table,
.sheet-rolltemplate-coc_sanity .sheet-roll-table,
.sheet-rolltemplate-coc_skills .sheet-roll-table,
.sheet-rolltemplate-coc_weapons .sheet-roll-table {
  width: 100%;
  display: table;
  font-family: cursive;
  border: 2px solid black;
  border-spacing: 0;
  border-collapse: separate;
  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
  line-height: 25px;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-table .sheet-rounded,
.sheet-rolltemplate-coc_sanity .sheet-roll-table .sheet-rounded ,
.sheet-rolltemplate-coc_skills .sheet-roll-table .sheet-rounded ,
.sheet-rolltemplate-coc_weapons .sheet-roll-table .sheet-rounded {
  border-radius: 5px;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-header,
.sheet-rolltemplate-coc_sanity .sheet-roll-header,
.sheet-rolltemplate-coc_skills .sheet-roll-header,
.sheet-rolltemplate-coc_weapons .sheet-roll-header {
  display: table-row-group;
  width: 100%;
  overflow: hidden;
  caption-side: top;
  width: 100%;
  background-color: black;
  font-weight: bold;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-header a ,
.sheet-rolltemplate-coc_sanity .sheet-roll-header a,
.sheet-rolltemplate-coc_skills .sheet-roll-header a,
.sheet-rolltemplate-coc_weapons .sheet-roll-header a {
	text-decoration: underline;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-row,
.sheet-rolltemplate-coc_sanity .sheet-roll-row,
.sheet-rolltemplate-coc_skills .sheet-roll-row,
.sheet-rolltemplate-coc_weapons .sheet-roll-row {
  width: 100%;
  overflow: hidden;
  background-color: whitesmoke;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-row:nth-child(even),
.sheet-rolltemplate-coc_sanity .sheet-roll-row:nth-child(even),
.sheet-rolltemplate-coc_skills .sheet-roll-row:nth-child(even),
.sheet-rolltemplate-coc_weapons .sheet-roll-row:nth-child(even){
  background-color: #FADABF;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-cell,
.sheet-rolltemplate-coc_sanity .sheet-roll-cell,
.sheet-rolltemplate-coc_skills .sheet-roll-cell,
.sheet-rolltemplate-coc_weapons .sheet-roll-cell {
  padding: 1px 1px 1px 5px;
  text-align: left;
  width: 100%;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell,
.sheet-rolltemplate-coc_sanity .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell ,
.sheet-rolltemplate-coc_skills .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell ,
.sheet-rolltemplate-coc_weapons .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell {
  font-size: .9em;
  width: 24%;
  float: right;
  text-align: right;
  display: inline;
  padding: 1px 1px 1px 5px;
  vertical-align: bottom;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell:first-child,
.sheet-rolltemplate-coc_sanity .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell:first-child ,
.sheet-rolltemplate-coc_skills .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell:first-child ,
.sheet-rolltemplate-coc_weapons .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell:first-child {
  width: 69%;
  float: left;
  text-align: left;
  padding: 3px 2px 1px 4px;
}


.sheet-rolltemplate-coc_abilities .inlinerollresult,
.sheet-rolltemplate-coc_sanity .inlinerollresult,
.sheet-rolltemplate-coc_skills .inlinerollresult ,
.sheet-rolltemplate-coc_weapons .inlinerollresult {  
    background-color: lightgrey;
    border: 2px solid black;
}


.sheet-rolltemplate-coc_abilities .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc_sanity .inlinerollresult.fullcrit ,
.sheet-rolltemplate-coc_skills .inlinerollresult.fullcrit,
.sheet-rolltemplate-coc_weapons .inlinerollresult.fullcrit {
  color: #FFF;
  background-color: #3FB315;
}

.sheet-rolltemplate-coc_abilities .inlinerollresult.fullfail,
.sheet-rolltemplate-coc_sanity .inlinerollresult.fullfail,
.sheet-rolltemplate-coc_skills .inlinerollresult.fullfail,
.sheet-rolltemplate-coc_weapons .inlinerollresult.fullfail {
  color: #FFF;
  background-color: #B31515;
}

.sheet-rolltemplate-coc_abilities .inlinerollresult.importantroll,
.sheet-rolltemplate-coc_sanity .inlinerollresult.importantroll ,
.sheet-rolltemplate-coc_skills .inlinerollresult.importantroll ,
.sheet-rolltemplate-coc_weapons .inlinerollresult.importantroll {
  color: #FFF;
  background-color: #4A57ED;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-text-white,
.sheet-rolltemplate-coc_sanity .sheet-roll-text-white,
.sheet-rolltemplate-coc_skills .sheet-roll-text-white ,
.sheet-rolltemplate-coc_weapons .sheet-roll-text-white {
  color:white;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-text-12px,
.sheet-rolltemplate-coc_sanity .sheet-roll-text-12px,
.sheet-rolltemplate-coc_skills .sheet-roll-text-12px,
.sheet-rolltemplate-coc_weapons .sheet-roll-text-12px {  
    font-size: 12px;
}

.sheet-rolltemplate-coc_abilities .sheet-roll-text-right,
.sheet-rolltemplate-coc_sanity .sheet-roll-text-right,
.sheet-rolltemplate-coc_skills .sheet-roll-text-right,
.sheet-rolltemplate-coc_weapons .sheet-roll-text-right {
  text-align:right;
}
