
mixin approaches
  article.approaches
    each app in data.approaches
      +approach(app)
      +approach-popup(app)

mixin approach(type)
  +help(type)
  section.approach
    .approach__label
      +span({ data_i18n: type }).approach__label--span
    .approach__value
      +number({ name: type, min: 0, max: 3 }).approach__value--input

mixin approach-popup(type)
  +popup({ name: type, title: "approach" })
    +span({ data_i18n: `${type}_description` })
