
mixin background
  article.background
    section.background__differences
      +label({ data_i18n: "makes_them_different", for: "different" }).background--label
      +textarea({ name: "different", id: "different" })
    section.background__rumors
      +label({ data_i18n: "three_rumors" }).background--label
      fieldset.repeating_rumors
        .background__rumors--wrapper
          +textbox({ name: "rumor" }).background__rumors--input
    section.background__lesson
      +label({ data_i18n: "painful_lesson", for: "lesson" }).background--label
      +textarea({ name: "lesson", id: "lesson" })
    //- section.portrait
    //-   +label({ data_i18n: "portrait" }).background--label
    //-   .portrait__image
    //-     +img({ name: "character_avatar" }).portrait__image--img
