
mixin bonds
  article.bonds
    .bonds__header
      +span({ data_i18n: "bonds" }).bonds__header--span
      +help("bonds")
    fieldset.repeating_bonds
      +relationship
    +popup({ name: "bonds", title: "bonds" })
      +span({ data_i18n: "bonds_description" })

mixin relationship
  article.bond
    .bond__with
      +textbox({ name: "relationship", data_i18n_placeholder: "name_placeholder" }).bond__with--input
    section.bond__levels
      each lvl in range(3)
        +bond-levels(lvl)

mixin bond-levels(lvl)
  .bond__container
    .bond__major
      +hidden({ name: `level_${lvl}`, value: 0 }).bond__control
      +radio({ name: `level_${lvl}`, value: 0, checked: true }).bond__minor.reset
      each minor in [4, 3, 2, 1]
        +radio({ name: `level_${lvl}`, value: minor, title: minor }).bond__minor
