
mixin fallen-consequences
  -
    const roll__consequences = [
      `&{template:fallen}`,
      `{{character_name=@{character_name}}}`,
      `{{title=^{fallen_consequences}}}`,
      `{{verb=^{chooses}}}`,
      `{{action=^{life}}}`,
      `{{type=fallen}}`,
      `{{consequence=[[1d6]]}}`,
    ].join("");

  article.consequences
    .consequences__header
      +span({ data_i18n: "fallen_heroes" }).consequences__header--span
      +help("consequences")
    section.consequences__grid
      +div({ data_i18n: "1d6" }).consequences__grid--header
      .consequences__roll
        +roll({ name: "consequence", value: roll__consequences }).consequences__roll--btn
          +span({ data_i18n: "consequence" }).consequences__roll--span
      each side in range(6)
        - let name = `fallen_consequence_${side}`;
        label.consequence__die
          +checkbox({ name, value: 1, id: name }).consequence__die--input
          .consequence__die--span=side
          .consequence__die--square
        +label({ data_i18n: name, for: name }).consequence__description
    +popup({ name: "consequences", title: "life_and_death", header: "fallen_heroes" })
      +span({ data_i18n: "fallen_heroes_description" })
