
mixin experience
  article.experience
    .experience__header
      +span({ data_i18n: "xp" }).experience__header--span
      +help("xp")
    .experience__total
      +input({ type: "number", name: "xp_max", min: 0 }).experience__total--input
      +span({ data_i18n: "xp_total" }).experience__total--span
    .experience__spent
      +input({ type: "number", name: "xp", min: 0}).experience__spent--input
      +span({ data_i18n: "xp_spent" }).experience__spent--span
    +popup({ name: "xp", title: "xp", header: "experience" })
      +span({ data_i18n: "xp_description" })
