mixin header
  header.arc__header.header
    +hidden({ name: "sheet_type" })
    article.header__character.character
      .header__title
        +label({ for: "pc_id_character_name" }).header__title--label
          +h2({ data_i18n: "character_name" }).header__title--header
        +textbox({ name: "character_name", id: "pc_id_character_name" }).header__title--input
      .header__pronouns
        +label({ for: "pronouns" }).header__pronouns--label
          +h3({ data_i18n: "pronouns" }).header__pronouns--header
        +textbox({ name: "pronouns", id: "pronouns" }).header__pronouns--input
      .header__player
        +label({ for: "player_name" }).header__player--label
          +h3({ data_i18n: "player_name" }).header__player--header
        +textbox({ name: "player_name", id: "player_name" }).header__player--input
    article.header__npc.npc
      +textbox({ name: "character_name", id: "npc_id_character_name" }).header__npc--input
    article.header__name
      .header__name
          +span({ name: "character_name" }).header__name--span
