
mixin skills
  article.skills
    .skills__header
      +span({ data_i18n: "skills" }).skills__header--span
      +help("skills")
    each skills, category in data.skills
      header.skill-category__header
        +span({ data_i18n: category }).skill-category__header--span
        //- +help(`${category}_popup`)
        hr.skill-category__header--line
        //- +category-popup(category)
      each skill in skills
        +skill(skill)
    +popup({ name: "skills", title: "skill", header: "skill_info" })
      +span({ data_i18n: "skill_description" })


mixin category-popup(cat)
  +popup({ name: cat, title: "skill_check" })
    +span({ data_i18n: `${cat}_description` })

mixin skill(skill)
  .skill__button
    +action({ name: skill }).skill__button--btn
      +span({ data_i18n: skill }).skill__button--span
    +help(`${skill}`)
    +skill-popup(skill)

  +fill-in-radios({ name: skill, max: 3, class: "skill" })
  //- .skill__ranks
  //-   +radio({ name: skill, value: 0, checked: true }).skill__rank.reset
  //-   each x in range(3)
  //-     +radio({ name: skill, value: x }).skill__rank

mixin skill-popup(skill)
  +popup({ name: skill, title: "skill_info", header: skill })
    +span({ data_i18n: `${skill}_description` })
