
mixin toolbar
  nav.toolbar
    .toolbar__labels
      label.toolbar__glossary
        +checkbox({ name: "show_glossary" })
        +img({ src: "book" }).toolbar__glossary--icon g
      label.toolbar__settings
        +checkbox({ name: "show_settings" })
        +img({ src: "settings" }).toolbar__settings--icon
      label.toolbar__version
        +span({ data_i18n: "version" }).toolbar__version--text
        +span({ name: "version" }).toolbar__version--number
    +glossary
    +settings

mixin glossary
  +popup({ name: "glossary", title: "quick_overview", header: "_" }).glossary
    article.glossary--wrapper
      each content in data.glossary
        details
          summary.glossary__entry
            hr.glossary__entry--line
            +h3({ data_i18n: content }).glossary__entry--header
            hr.glossary__entry--line
          .glossary__definition
            +span({ data_i18n: `${content}_description` })

mixin settings
  +popup({ name: "settings", title: "settings", header: "_" }).settings
    article.settings--wrapper
      section.settings__mode
        +h3({ data_i18n: "sheet_mode" }).settings__mode--header
        +select({ name: "sheet_type" }).settings__tooltips--select
          each option in data.settings.sheet_type
            +option(option)
      section.settings__theme
        +h3({ data_i18n: "theme" }).settings__theme--header
        +span({ data_i18n: "use_sync" }).settings__theme--span
      section.settings__tooltips
        +h3({ data_i18n: "tooltips" }).settings__tooltips--header
        +select({ name: "setting_tooltips" }).settings__tooltips--select
          each option in data.settings.tooltips
            +option(option)
      section.settings__export
        +roll({ data_i18n: "export_character", name: "api_export", value: "!arc .export @{character_id}" }).settings__export--btn
        +hidden({ name: "export_show", value: "0" }).settings__export--toggle
        +textarea({ name: "export", rows: 6, data_i18n_placeholder: "requires_arc_api" }).settings__export--json
        +span({ data_i18n: "requires_arc_api" }).settings__export--span
