.magicTab {
  .spellLevel {
    & > .head {
      height: 0.4in;

      h3 {
        float: left;
      }
    }
  }

  .spell.card {
    .name {
      vertical-align: top;
      width: 2.3in;

      input {
        width: 100%;
      }
    }

    .prepared {
      @checkBoxColor: #ccf;

      float: left;
      height: 20px;
      line-height: 20px;
      position: relative;
      width: 20px;

      div, input {
        background: #000;
        border: solid 1px @checkBoxColor;
        border-radius: 10px;
        color: @checkBoxColor;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        vertical-align: middle;
        width: 100%;
      }

      input {
        opacity: 0;
        z-index: 1;

        &:checked + div {
          background: @checkBoxColor;
          color: #000;
          opacity: 1;
        }
      }
    }

    .school {
      float: right;
      width: 1.1in;

      select {
        border-radius: 0;
      }
    }
  }
}
