- 
  var momentumPositiveTrack = [ 
    { value: '20', text: '+20' }, 
    { value: '19', text: '+19' }, 
    { value: '18', text: '+18' }, 
    { value: '17', text: '+17' }, 
    { value: '16', text: '+16' }, 
    { value: '15', text: '+15' }, 
    { value: '14', text: '+14' }, 
    { value: '13', text: '+13' }, 
    { value: '12', text: '+12' }, 
    { value: '11', text: '+11' }, 
    { value: '10', text: '+10' }, 
    { value: '9', text: '+9' },
    { value: '8', text: '+8' },
    { value: '7', text: '+7' }, 
    { value: '6', text: '+6' }, 
    { value: '5', text: '+5' }, 
    { value: '4', text: '+4' }, 
    { value: '3', text: '+3' }, 
    { value: '2', text: '+2', checked: true }, 
    { value: '1', text: '+1' }, 
    { value: '0', text: '0' }, 
  ]

- 
  var momentumNegativeTrack = [ 
    { value: '-1', text: '-1' }, 
    { value: '-2', text: '-2' }, 
    { value: '-3', text: '-3' }, 
    { value: '-4', text: '-4' }, 
    { value: '-5', text: '-5' }, 
    { value: '-6', text: '-6' }
  ]