
/*----------------- FONTS ------------------*/

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
font-family: 'EB Garamond', serif;
*/



/*----------------- BACKGROUND ------------------*/

.charsheet {

  background: none;
  background-color:white;
  background-size: 64px 128px;
  background-repeat: round;
  
  width: 830px;
  height: auto;

}


/*----------------- GRIDS ------------------*/



.sheet-main {
  
}

.sheet-main-top {
  display: grid;
  width: 310px;
  height: 50px;
  grid-gap: 6px;
  grid-template-columns: 310px;
  grid-template-rows: 30px 30px 30px 30px;
  grid-template-areas:"topgrid"
					  "stat1"
					  "stat2"
					  "stat3";
}

/*----------------- 2 columned, 406px each ------------------*/
.sheet-main-pc {
  display: block;
  width: 820px;
  height: auto;
  grid-gap: 6px;
  align-items: start;
  grid-template-columns: 406px 406x;
  grid-template-rows:  minmax(min-content, max-content)    ;
  grid-template-areas:"pcinfo   pcinfo"
					  "skillstyles    skillstyles"
					  "focuses   focuses"
					  "talents   talents"
					  "weapons   weapons"
					  "armor    armor"
					  "items    items"
					  "contacts   contacts"
					  "bonecharms  bonecharms"
					  "mana    mana"
					  "powers    powers"
					  "notes   notes";
}

.sheet-main-npc {
  display: block;
  width: 820px;
  height: auto;
  grid-gap: 6px;
  align-items: start;
  grid-template-columns: 406px 406x;
  grid-template-rows:  minmax(min-content, max-content)    ;
  grid-template-areas:"npcinfo   npcinfo"
					  "skillstyles    skillstyles"
					  "focuses   focuses"
					  "specialrules   specialrules"
					  "weapons   weapons"
					  "armor    armor"
					  "items    items"
					  "storyhooks   storyhooks";
}



/*----------------- GENERAL CSS ------------------*/

textarea {
  width: 70%;
  height: 85%;
}

textarea.sheet-notetext{
  width: 800px;
  height: 140px;
}

.sheet-hidden {
    display: none;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
	justify-content: center;

}

.sheet-flex-col {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: flex-start;*/
}

.sheet-flex-col-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  /*justify-content: flex-start;*/
}

.sheet-flex-center {
  display: grid;
  justify-content: center;
  align-content: center;
}

.sheet-hide-section {
  display: none;

}


/* --------------------------------Hide and Display section of Code-------------------------------- */
/* Configure the tab buttons*/
.sheet-main-pc,
.sheet-main-npc {display: none;}

/* show the selected tab */
.sheet-tabstoggle[value="pc"] ~ div.sheet-main-pc,
.sheet-tabstoggle[value="npc"] ~ div.sheet-main-npc {display: block;}


/*------------- Top Section -------------*/


.sheet-topgrid {
  grid-area: topgrid;
  align-self: self-start;
  font-family: 'EB Garamond', serif;
  grid-template-columns: 200px 70px 50px 6px 50px 6px 50px 20px 90px 10px 60px 20px 70px 10px 70px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 30px;
  
}

label.sheet-big-label {
	
	font-family: 'EB Garamond', serif;
	text-align: center;
	color: black;
	display: inline;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	
}

.sheet-topgrid input[type=number].sheet-stat-inputs {
	
	font-family: 'EB Garamond', serif;
	color: black;
	display: inline;
	height:30px;
	width:40px;
	text-align: center;
	font-size: 1.5em;
}

.sheet-gamename {
  grid-area: gamename;
  background-image: url("https://i.ibb.co/yy2gL1K/red-giant-logo.png"); /*Red Giant logo, used with publisher permission*/
  /*background-image: url("https://github.com/Roll20/roll20-character-sheets/blob/master/Red%20Giant/red_giant_logo.PNG?raw=true"); /*Red Giant logo, used with publisher permission*/
  background-size: contain;
  align-items: center;
  justify-items: center;

}

button.sheet-radio-roll-state {
	
	font-family: 'Balthazar', serif;
	font-size: 1.5em;
	color: black;
	border-style: solid;
	/*border-radius: 8px;*/
	text-align: center;
	line-height: 25px;
	height: 25px;

}


button.sheet-radio-roll-state-advantage {
	
	background-color: rgb(213, 235, 217);
	
}

button.sheet-radio-roll-state-flat {
	
	background-color: rgb(235, 237, 235);
	
}

button.sheet-radio-roll-state-disadvantage {
	
	background-color: rgb(230, 204, 208);
	
}

input.sheet-radio-roll-state[value="advantage"] ~ button.sheet-radio-roll-state-advantage {
    background-color: rgb(149, 232, 164);

}

input.sheet-radio-roll-state[value="flat"] ~ button.sheet-radio-roll-state-flat {
    /*background-color: rgb(160, 163, 160);*/
	background-color: #888;
}

input.sheet-radio-roll-state[value="disadvantage"] ~ button.sheet-radio-roll-state-disadvantage {
    background-color: rgb(212, 97, 115);
}

button.sheet-tabbutton {
	
	font-family: 'EB Garamond', serif;
	background-color: rgb(144,144,144);
	font-size: 150%;
	font-style: bold;
	color: white;
	width: 64px;
	height: 24px;
	border-width: 3px;
	border-style: groove;
	border-color: rgb(236,60,67);
	border-radius: 0px;
	
}

button.sheet-tabbutton:hover {
	
	background-color: rgb(108,108,108);

}

/*------------- Stats - Common section -------------*/


.sheet-stat1 {
  grid-area: stat1;
  align-self: self-start;
  font-family: 'EB Garamond', serif;
  grid-template-columns: 195px 80px 60px 80px 60px 100px 70px 66px 50px 4px 50px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 30px;
  
}

select.sheet-die-dropdowns{
	
	font-family: 'EB Garamond', serif;
	display: inline;
	height:30px;
	width:56px;

}

label.sheet-regular-label {
	
	font-family: 'EB Garamond', serif;
	text-align: center;
	color: black;
	display: inline;
    font-size: 1em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	
}

label.sheet-big-label-italic {
	
	font-family: 'EB Garamond', serif;
	text-align: center;
	color: rgb(236,60,67);
	display: inline;
	font-style: italic;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	
}

.sheet-stat1 button[type=roll].sheet-statrollbutton {
	
	font-family: 'EB Garamond', serif;
	background-color: rgb(144,144,144);
	font-size: 100%;
	font-style: bold;
	color: white;
	width: 64px;
	height: 24px;
	border-width: 3px;
	border-style: groove;
	border-color: rgb(236,60,67);
	border-radius: 0px;
	background-image: none;
	
}

.sheet-stat1 button[type=roll].sheet-statrollbutton:before   {
    content: "";

}

.sheet-stat1 input[type=number].sheet-stat-inputs,
.sheet-stat2 input[type=number].sheet-stat-inputs,
.sheet-stat3 input[type=number].sheet-stat-inputs{
	
	font-family: 'EB Garamond', serif;
	color: black;
	display: inline;
	height:30px;
	width:40px;
	text-align: center;
	font-size: 1em;
}














h1 {
	
	font-family: 'Yeseva One', cursive;
	color: white;

	
}

h2 {
	
	font-family: 'Yeseva One', cursive;
	color: black;
	
}

h2.sheet-middle-title{
	
	font-family: 'Yeseva One', cursive;
	color: white;
	text-align: center;
	display: inline;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;

	
}

h2.sheet-left-title{
	
	font-family: 'Yeseva One', cursive;
	color: white;
	display: inline;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;

	
}

h2.sheet-middle-title-1{
	
	font-family: 'Yeseva One', cursive;
	color: white;
	text-align: center;
	display: inline;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	grid-column: 1 / -1;
	
}


label.sheet-middle-label {
	
	font-family: 'Yeseva One', cursive;
	text-align: center;
	color: white;
	display: inline;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;

	
}

label.sheet-left-label{
	
	font-family: 'Yeseva One', cursive;
	color: white;
	display: inline;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;

	
}

label.sheet-left-label-small{
	
	font-family: 'Yeseva One', cursive;
	color: white;
	display: inline;
    font-size: 1em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;

	
}

label.sheet-left-label-1 {
	
	font-family: 'Yeseva One', cursive;
	color: black;
	display: inline;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0px;
	background-color: #FFFFF0;
	background-repeat: repeat;
	background-size: 70px;
	grid-column: 1 / -1;
	
}


span.sheet-left-span {
	
	font-family: 'Open Sans', sans-serif;
	color: white;
	display: inline;
    font-size: 1em;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
	background: rgba(162, 159, 167, 0.5);
	
}

span.sheet-centre-span {
	
	font-family: 'Open Sans', sans-serif;
	color: white;
	display: inline;
    font-size: 1em;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
	background: rgba(162, 159, 167, 0.5);
	margin: auto;
	
}

input.sheet-char-inputs{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:150px;
	
}

input.sheet-name-inputs{
	
	color:white;
	background: transparent;
	border: none;
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:180px;
	
}

input.sheet-talent-inputs{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:200px;
	
}

input.sheet-talent-inputs-short{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:165px;
	
}

input.sheet-talent-inputs-long{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:302px;
	
}

input.sheet-talent-inputs-extra-long{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:474px;
	
}

input.sheet-specialrules-inputs{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:468px;
	
}

div.sheet-notes textarea,
div.sheet-storyhooks textarea {

	font-family: 'Open Sans', sans-serif;
}

input.sheet-focus-inputs{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:97px;
	
}

input.sheet-readonly-inputs{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:130px;
	
}

.sheet-pcinfo input[type=number].sheet-char-inputs{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:150px;
	
}

.sheet-pcinfo input[type=number].sheet-char-inputs-short,
.sheet-focuses input[type=number].sheet-char-inputs-short,
.sheet-weapons input[type=number].sheet-char-inputs-short,
.sheet-armor input[type=number].sheet-char-inputs-short{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:61px;
	
}

.sheet-skillsstyles input[type=number].sheet-stat-inputs{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:40px;
	text-align: center;
	
}

input.sheet-char-inputs-long{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:686px;
	
}

select.sheet-select-inputs{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:98px;

}

select.sheet-select-inputs-long{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:130px;

}

select.sheet-select-inputs-npc{
	
	font-family: 'Open Sans', sans-serif;
	display: inline;
	height:30px;
	width:134px;

}

input.sheet-stat-inputs {
	
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	display: inline;
	height:25px;
	width:25px;
	
}

input.sheet-truth-inputs {
	
	font-family: 'Open Sans', sans-serif;
	color: white;
	justify-content: center;
	align-content: center;
	display: inline;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 20px;
	width:386px;
    margin-bottom: 0px;
	
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
	
	font-family: 'Yeseva One', cursive;
	background-color: #6b71a7;
	background-image: none;
	color: white;
	width: 80px;
	height: 25px;
	border-style: none;
	border-radius: 8px;
	text-align: center;
	
}

.charsheet .repcontrol_add:hover,
.charsheet .repcontrol_edit:hover,
.charsheet .repcontrol_del:hover {
	
	background-color: #868ac4;
	
}

button.sheet-selectbutton {
	
	font-family: 'Yeseva One', cursive;
	background-color: #6b71a7;
	color: white;
	width: 25px;
	height: 25px;
	border-style: none;
	border-radius: 8px;
	text-align: center;
	
}

.sheet-focuses button[type=roll].sheet-selectbutton-long {
	
	font-family: 'Yeseva One', cursive;
	background-color: #6b71a7;
	color: white;
	width: 200px;
	height: 25px;
	border-style: none;
	border-radius: 8px;
	text-align: center;
	background-image: none;
	
}

.sheet-talents button[type=roll].sheet-usebutton,
.sheet-items button[type=roll].sheet-usebutton,
.sheet-bonecharms button[type=roll].sheet-usebutton,
.sheet-powers button[type=roll].sheet-usebutton,
.sheet-specialrules button[type=roll].sheet-usebutton {
	
	font-family: 'Yeseva One', cursive;
	background-color: #6b71a7;
	color: white;
	width: 40px;
	height: 25px;
	border-style: none;
	border-radius: 8px;
	text-align: center;
	background-image: none;
	
}


button.sheet-selectbutton:hover,
.sheet-focuses button[type=roll].sheet-selectbutton-long:hover,
.sheet-talents button[type=roll].sheet-usebutton:hover,
.sheet-items button[type=roll].sheet-usebutton:hover,
.sheet-bonecharms button[type=roll].sheet-usebutton:hover,
.sheet-powers button[type=roll].sheet-usebutton:hover,
.sheet-specialrules button[type=roll].sheet-usebutton:hover {
	
	background-color: #868ac4;

}

.sheet-focuses button[type=roll].sheet-selectbutton-long::before,
.sheet-skillstyles button[type=act].sheet-selectbutton::before,
.sheet-talents button[type=roll].sheet-usebutton:before,
.sheet-items button[type=roll].sheet-usebutton:before,
.sheet-bonecharms button[type=roll].sheet-usebutton:before,
.sheet-powers button[type=roll].sheet-usebutton:before,
.sheet-specialrules button[type=roll].sheet-usebutton:before   {
    content: "";

}






.sheet-tabselector {
  grid-area: tabselector;
  font-family: 'Yeseva One', cursive;
  grid-template-columns: 200px 290px 150px 20px 150px ;
  display: grid;
  grid-template-rows: 50px;
  grid-gap: 4px;
  
}

.sheet-pcinfo {
  grid-area: pcinfo;
  align-self: self-start;
  font-family: 'Yeseva One', cursive;
  grid-template-columns: 120px 160px 80px 160px 120px 160px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 30px 30px 30px 30px 30px;
  
  grid-template-areas:".   .   .   .   .   ."
					  ".   .   .   .   .   voidpointarea"
					  ".   .   .   .   .   stressarea"
					  ".   firsttruth  firsttruth  firsttruth  firsttruth  firsttruth"
					  ".   secondtruth  secondtruth  secondtruth  secondtruth  secondtruth";
  
}

.sheet-voidpointarea {
  grid-area: voidpointarea;
  font-family: 'Yeseva One', cursive;
  grid-template-columns: 71px 10px 71px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 30px;

  
}