script(type="text/worker")
  include ../../../Ironsworn/src/workers/scripts/assets.js
  include ../../../Ironsworn/src/workers/scripts/momentum.js
  include ../../../Ironsworn/src/workers/scripts/oracles.js
  include ../../../Ironsworn/src/workers/scripts/pages.js
  include ../../../Ironsworn/src/workers/scripts/progress.js
  include ../../../Ironsworn/src/workers/scripts/sites.js
  include ../../../Ironsworn/src/workers/scripts/stats.js
  include ../../../Ironsworn/src/workers/scripts/vows.js
  include ./scripts/bonds.js
  include ./scripts/moves.js