section#sheet-settings.sheet-settings
  h1(data-i18n='sheet settings')
  +input-label({label:'camp name',
      inputObj:{name:'camp name', class:'underlined capitalize', type:'text', value:'camp', 'data-i18n-placeholder':'camp'},
      spanObj:{role:'heading', class:'capitalize', 'aria-level':5}
    })
  +input-label({label:'maxhp%',
      inputObj:{name:'ratio_max_hp', class:'underlined', type:'number', value:'4', trigger:{affects:['hp_max','vigor_max','bloodied']}},
      spanObj:{role:'heading', class:'mono smallcaps', 'aria-level':5}
    })
  +input-label({label:'bloodied%',
      inputObj:{name:'ratio_bloodied', class:'underlined', type:'number', value:'0.5', trigger:{affects:['bloodied']}},
      spanObj:{role:'heading', class:'mono smallcaps', 'aria-level':5}
    })
  +input-label({label:'heavy%',
      inputObj:{name:'ratio_attack_hvy', class:'underlined', type:'number', value:'2'},
      spanObj:{role:'heading', class:'mono smallcaps', 'aria-level':5}
    })
  +input-label({label:'save_target',
      inputObj:{name:'save_target', class:'underlined', type:'number', value:'10'},
      spanObj:{role:'heading', class:'mono smallcaps', 'aria-level':5}
    })
  //- //- p(data-i18n='maxhp%', class='bold mono capitalize')
  //- //- +number({name:'max_hp_ratio', class:'mono', value:'4', trigger:{affects:['hp_max','vigor_max','bloodied']}})
  //- p(data-i18n='bloodied%', class='bold mono capitalize')
  //- +number({name:'bloodied_ratio', class:'mono', value:'0.5', trigger:{affects:['bloodied']}})
  //- p(data-i18n='heavy%', class='bold mono capitalize')
  //- +number({name:'attack_hvy_ratio', class:'mono', value:'2'})