section#sheet-settings.sheet-settings.top-margin
  h1(data-i18n='sheet settings')
  +input-label({label:'camp name',
      inputObj:{name:'camp name', class:'underlined capitalize', type:'text', value:'camp', 'data-i18n-placeholder':'camp'},
      spanObj:{role:'heading', class:'capitalize', 'aria-level':5}
    })
  +input-label({label:'tactics boons_curses prompt',
      inputObj:{name:'boons', class:'underlined', type:'text', value:'?{Boons / Curses|NA,+0|+2D,+2d6kh1|+1D,+1d6|−1D,-1d6|−2D,-2d6kh1}', 'data-i18n-placeholder':'?{Boons / Curses|NA,+0|+2D,+2d6kh1|+1D,+1d6|−1D,-1d6|−2D,-2d6kh1}'},
      spanObj:{role:'heading', class:'capitalize', 'aria-level':5}
    })
  p(class='mono macro', style='top:0px;')|@{boons}
  +hidden({name:'curses', type:'text', value:'?{Boons / Curses|NA,+0|+2D,+2|+1D,+1|−1D,-1|−2D,-2}'})
  section#auto-fit.wide-gap
    .flex-box.span-2
      +input-label({label:'maxhp%',
          inputObj:{name:'ratio_max_hp', class:'underlined', type:'number', value:'4', trigger:{affects:['hp_max','vigor_max','bloodied']}},
          spanObj:{role:'heading', class:'capitalize', 'aria-level':5}
        })
      p(class='mono macro')|@{ratio_max_hp}
    .flex-box.span-2
      +input-label({label:'heavy%',
          inputObj:{name:'ratio_heavy', class:'underlined', type:'number', value:'2'},
          spanObj:{role:'heading', class:'capitalize', 'aria-level':5}
        })
      p(class='mono macro')|@{ratio_heavy}
    .flex-box.span-2
      +input-label({label:'bloodied%',
          inputObj:{name:'ratio_bloodied', class:'underlined', type:'number', value:'0.5', trigger:{affects:['bloodied']}},
          spanObj:{role:'heading', class:'capitalize', 'aria-level':5}
        })
      p(class='mono macro')|@{ratio_bloodied}
    .flex-box.span-2
      +input-label({label:'dash%',
          inputObj:{name:'ratio_dash', class:'underlined', type:'number', value:'0.5', trigger:{affects:['dash']}},
          spanObj:{role:'heading', class:'capitalize', 'aria-level':5}
        })
      p(class='mono macro')|@{ratio_dash}
hr
section#sheet-links.sheet-links.top-margin
  .grid__3col
    +button({name:'github', class:'relative serif uppercase die', style:'bottom:3px;', type:'roll', role:'heading', 'aria-level':5,'data-i18n':'report an issue',
      value:'&{template:icon} {{name=github}} {{character_name=Sheet by Seraaron}} {{roll_name=Report an issue}} {{roll=[Click here!](https://github.com/Roll20/roll20-character-sheets/blob/master/Burning%20Wheel/readme.md)}}'
    })
    .flex-box
      p(class='mono bold center')|Sheet v0.4 for ICON v1.45
    +button({name:'tipee', class:'relative serif uppercase die', style:'bottom:3px;', type:'roll', role:'heading', 'aria-level':5,'data-i18n':'send a tip',
      value:'&{template:icon} {{name=tipeee}} {{character_name=Sheet by Seraaron}} {{roll_name=Send me a tip}} {{roll=[Click here!](https://en.tipeee.com/seraaron/)}}'
    })