<div class="shaped-row relative mar-t-sm">
  <input type="hidden" name="attr_extas_var" value="{{emote=@{emote}}} {{freetext=@{freetext}}} @{freeform}">
  <input type="checkbox" name="attr_extras_toggle" value="@{extas_var}" class="attack-toggle col-04 absolute">

  <div class="col-04"></div>
  <div class="col-16 bold italic">{{'EXTRAS' | translate}}.</div>
  <div class="col-80 attack-toggle">
    <div class="center">
      <textarea class="xs-textarea" name="attr_emote"></textarea>

      <div class="small-label">{{'EMOTE' | translate}}</div>
    </div>
    <div class="center mar-t-sm">
      <textarea class="two-line-textarea" name="attr_freetext"></textarea>

      <div class="small-label">{{'FREETEXT' | translate}}</div>
    </div>
    <div class="center mar-t-sm">
      <textarea class="two-line-textarea" name="attr_freeform"></textarea>

      <div class="small-label">{{'FREEFORM' | translate}}</div>
    </div>
  </div>
</div>