<div class="shaped-row relative mar-t-sm">
  <input type="hidden" name="attr_saving_throw_toggle_var" value="{{saving_throw_condition=@{saving_throw_condition}}}   {{saving_throw_dc=@{saving_throw_dc}}}   {{saving_throw_vs_ability=@{saving_throw_vs_ability}}}   {{saving_throw_failure=@{saving_throw_failure}}}   {{saving_throw_success=@{saving_throw_success}}}">
  <input type="checkbox" name="attr_saving_throw_toggle" value="@{saving_throw_toggle_var}" class="attack-toggle col-04 absolute">

  <div class="col-04"></div>
  <div class="col-16 bold italic">{{'SAVING_THROW' | translate}}.</div>
  <div class="col-80 attack-toggle">
    <div>
      <textarea class="xs-textarea" name="attr_saving_throw_condition" placeholder="if the target is.."></textarea>
    </div>
    <div class="shaped-row vert-center">
      <div class="col-15 center">
        <span class="sheet-en">
          <select name="attr_saving_throw_ability">
            <option value="0">&#8212;</option>
            <option value="@{finesse_mod}">Finesse</option>
            <option value="@{strength_mod}" selected>Str</option>
            <option value="@{dexterity_mod}">Dex</option>
            <option value="@{constitution_mod}">Con</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Wis</option>
            <option value="@{charisma_mod}">Cha</option>
          </select>
        </span>
        <span class="sheet-de">
          <select name="attr_saving_throw_ability">
            <option value="0">&#8212;</option>
            <option value="@{finesse_mod}">Finesse</option>
            <option value="@{strength_mod}" selected>Str</option>
            <option value="@{dexterity_mod}">Ges</option>
            <option value="@{constitution_mod}">Kon</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Wei</option>
            <option value="@{charisma_mod}">Cha</option>
          </select>
        </span>
        <span class="sheet-fr">
          <select name="attr_saving_throw_ability">
            <option value="0">&#8212;</option>
            <option value="@{finesse_mod}">Finesse</option>
            <option value="@{strength_mod}" selected>For</option>
            <option value="@{dexterity_mod}">Dex</option>
            <option value="@{constitution_mod}">Con</option>
            <option value="@{intelligence_mod}">Int</option>
            <option value="@{wisdom_mod}">Sag</option>
            <option value="@{charisma_mod}">Cha</option>
          </select>
        </span>
	      <span class="sheet-ru">
          <select name="attr_saving_throw_ability">
            <option value="0">&#8212;</option>
            <option value="@{finesse_mod}">Фехтовальное</option>
            <option value="@{strength_mod}" selected>Сил</option>
            <option value="@{dexterity_mod}">Лов</option>
            <option value="@{constitution_mod}">Тел</option>
            <option value="@{intelligence_mod}">Инт</option>
            <option value="@{wisdom_mod}">Муд</option>
            <option value="@{charisma_mod}">Хар</option>
          </select>
        </span>
      </div>
      <div class="col-03 center">+</div>
      <div class="col-15 center pad-r-sm">
        <input type="number" name="attr_saving_throw_bonus" value="0">
      </div>
      <div class="col-03 center">
        <span>=</span>
      </div>
      <div class="col-08 center pad-l-sm">
        {{'DC' | translate}}
      </div>
      <div class="col-09 center pad-l-sm pad-r-sm">
        <input type="number" name="attr_saving_throw_dc" readonly>
      </div>
      <div class="col-15 center">
        <span class="sheet-en">
          <select name="attr_saving_throw_vs_ability" accept="Save">
            <option value="Strength" selected>Str</option>
            <option value="Dexterity">Dex</option>
            <option value="Constitution">Con</option>
            <option value="Intelligence">Int</option>
            <option value="Wisdom">Wis</option>
            <option value="Charisma">Cha</option>
          </select>
        </span>
        <span class="sheet-de">
          <select name="attr_saving_throw_vs_ability" accept="Save">
            <option value="Stärke" selected>Str</option>
            <option value="Geschick.">Ges</option>
            <option value="Konstitution">Kon</option>
            <option value="Intelligenz">Int</option>
            <option value="Weisheit">Wei</option>
            <option value="Charisma">Cha</option>
          </select>
        </span>
        <span class="sheet-fr">
          <select name="attr_saving_throw_vs_ability" accept="Save">
            <option value="Force" selected>For</option>
            <option value="Dextérité">Dex</option>
            <option value="Constitution">Con</option>
            <option value="Intelligence">Int</option>
            <option value="Sagesse">Sag</option>
            <option value="Charisme">Cha</option>
          </select>
        </span>
	      <span class="sheet-ru">
          <select name="attr_saving_throw_vs_ability" accept="Save">
            <option value="Сила" selected>Сил</option>
            <option value="Ловкость">Лов</option>
            <option value="Телосложение">Тел</option>
            <option value="Интеллект">Инт</option>
            <option value="Мудрость">Муд</option>
            <option value="Харизма">Хар</option>
          </select>
        </span>
      </div>
    </div>
    <div>
      <textarea class="xs-textarea" name="attr_saving_throw_failure" placeholder="or.."></textarea>
    </div>
    <div>
      <textarea class="xs-textarea" name="attr_saving_throw_success" placeholder="half damage" accept="Save Success"></textarea>
    </div>
  </div>
</div>
