include ./data/list
include ./mixins/card-body

mixin conditionCards(opts)
  each condition in conditions
    input(type='checkbox' class=`sheet-hide sheet-condition-${condition.attribute}` name=`attr_${condition.attribute}`)
    div(class=`sheet-condition-card sheet-showhide sheet-condition-${condition.attribute}`)
      .sheet-card-header CONDITION
      .sheet-card-title #{condition.text.toUpperCase()}
      .sheet-card-body
        +cardBody(condition.attribute)
      .sheet-card-footer