conditions = amnesiac amok attached blinded compulsed corrupted cursed dazed deafened dying encumbered hallucinating hyperthermic hypothermic maimed mute palsied phobiac poisoned reeled shaken starved stupefied suffocated tormented unconscious unprepared unsteady weakened wounded

.sheet-condition-list
  display flex
  flex-flow row wrap
  justify-content space-evenly

.sheet-condition-component
  margin-top 1em

.sheet-condition-btn
  width 14%

for id in conditions
  input.sheet-condition-{id}:checked ~ div.sheet-condition-{id}
    show-hide()
    border: 2px solid #4c4d4f
    margin-bottom 1em
    width 30%
    margin 0em 0.5em 1em 0.5em

.sheet-condition-cards
  display flex
  flex-flow row wrap
  margin-top 0.5em
  justify-content center

.sheet-condition-card
  font-family 'Crimson Text', Verdana, arial, sans-serif
  font-weight normal
  margin 0
  width 0

.sheet-card-header
  dark()
  padding 0.3em 0.5em 0.3em 0.5em
  font-family Montserrat, Verdana, arial, sans-serif
  font-weight bold

.sheet-card-title
  padding 0.5em 0.5em 0em 0.5em

.sheet-card-body
  padding 0.5em

.sheet-severity-track
  display flex

.sheet-track-child
  width 100%