.sheet-condition-component
  .sheet-condition-group
    .sheet-condition-title
      h3 Mind
    ul.sheet-condition-list
      li Amnesiac: you have forgotten your abilities.
      li Amok: you suffer outbursts of violent and homicidal rages directed at anyone near you.
      li Attached: you became obsessively attached to an object, type of object or person, and don't function properly without this.
      li Compulsed: you feel uncontrollably compelled to perform certain action, over a over.
      li Hallucinating: you tend to sense what is not there.
      li Phobiac: you persistently fear a particular object or situation.
      li Stupefied: you are deprived of sensitive cognition and acuity.

  .sheet-condition-group
    .sheet-condition-title 
      h3 Body
    ul.sheet-condition-list
      li Blinded: you are suffering from vision loss.
      li Dazed: you are unable to act or react properly.
      li Deafened: you are suffering from hearing loss.
      li Dying: your life is running out.
      li Encumbered: you are carrying excessive or cumbersome weight.
      li Hyperthermic: your body is dangerously overheated.
      li Hypothermic: your body is dangerously overcold.
      li Maimed: you have suffered a wound which causes you ongoing physical challenges.
      li Mute: you lost the ability to communicate via speech.
      li Palsied: your mobility is constrained.
      li Poisoned: a toxin corrodes your body.
      li Reeled: you are fighting to stay conscious.
      li Starved: your body lacks enough energy to sustain itself.
      li Suffocated: you are deprived of air or unable to breathe.
      li Unconscious: you are incapacitated and out of action.
      li Unprepared: you are lacking the most basic provisions for a journey.
      li Unsteady: your psychomotor abilities are impaired
      li Weakened: your energies are drained.
      li Wounded: you are severely injured and need treatment to recover.

  .sheet-condition-group
    h3 Spirit
    ul
      li Corrupted: your experiences have left you emotionally scarred. You are at the threshold of losing yourself to darkness.
      li Cursed: your faced death and returned with a soul-bond quest.
      li Shaken: you are despairing, distraught or frightened.
      li Tormented: you faced desolation and undertook a quest to prevent a dire future.