.sheet-section-core {
  .sheet-heading {
    font-style: italic;
    font-weight: bold;
    margin-left: 8px;
  }
}

.sheet-ability-wrapper {
  height: 62px;
  margin-bottom: 15px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  position: relative;

  & .sheet-ability-score-wrapper {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 50%;
    bottom: -13px;
    height: 22px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    position: absolute;
    right: 0;
    width: 40px !important;

    input.sheet-toggle-edit-mode:checked ~ div & {
      width: 60px !important;
    }

    input {
      background: transparent;
      border-radius: 50%;
      font-size: .9em;
    }
  }
}

.sheet-ability-modifier {
  font-size: 2em;
  padding-top: 6px !important;

  input.sheet-toggle-edit-mode:checked ~ div & {
    padding-top: 0 !important;
  }
}

.sheet-inspiration {
  .sheet-checkbox-label {
    [type='checkbox'] {
      + span {
        background-color: $white;
      }
      &:checked {
        + span {
          background-image: url('http://i.imgur.com/m5WFImZ.png');
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
    span {
      border-radius: $border-radius;
    }
  }
  .sheet-small-input {
    font-size: 10px;
    padding: 0;
  }
}

.sheet-proficiency-bonus,
.sheet-inspiration,
.sheet-exhaustion {
  margin-left: 3px;

  .sheet-wrap-box-title {
    margin-bottom: 3px;
  }
}

.sheet-inspiration .sheet-checkbox-label span,
.sheet-proficiency-bonus-wrapper,
.sheet-exhaustion-wrapper {
  border: 1px solid $black;
  height: 29px;
  left: -6px;
  position: absolute;
  top: -3px;
  width: 30px !important;
}

.sheet-proficiency-bonus-wrapper,
.sheet-exhaustion-wrapper {
  background-color: $white;
  border-radius: 50%;
  padding: 3px;
  input {
    border-radius: 50%;
    height: 100%;
  }
}
.sheet-proficiency-bonus {
  .sheet-wrap-box-title {
    margin-left: 22px;
  }
}
.sheet-inspiration,
.sheet-exhaustion {
  .sheet-wrap-box-title {
    margin-left: 24px;
  }
}

.sheet-skill-ability {
  color: $light-gray;
  font-size: 10px;
}

.sheet-skills {
  select {
    padding: 0;
  }
  padding-right: 1px;
}

.sheet-skills-ability-selector {
  background: transparent;
  border-bottom: 0;
  color: $grayer-gray;
  font-size: 9px;
  height: 11px !important;
}

.sheet-skill-select-wrapper {
  select {
    font-size: 14px;
    height: 16px;
  }
}

.sheet-skills-ability-selector-wrapper,
.sheet-parenthesis-wrapper {
  color: $grayer-gray;
  font-size: 9px;
  input {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.sheet-shield {
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  padding-right: 2px;
  padding-top: 7px;
  position: relative;
  width: 53px;
  z-index: 5;

  &::before {
    @include text-shadow;
    color: $white;
    content: 'b';
    font-family: 'Pictos Three';
    font-size: 74px;
    left: -1px;
    line-height: 51px;
    position: absolute;
    top: 3px;
    z-index: -1;
  }

  .sheet-big-text {
    padding: 1px;
  }

  .sheet-wrap-box-title {
    margin-top: 2px;
  }
}

.sheet-initiative,
.sheet-speed {
  .sheet-big-text {
    display: block;
    min-height: 1.6em;
    padding: .2em;
  }
}

.sheet-heart,
.sheet-temp-heart {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  position: relative;
  width: 84px;
  z-index: 5;

  &::after {
    @include text-shadow;
    color: $white;
    content: 'k';
    font-family: 'Pictos';
    font-size: 94px;
    left: 0;
    position: absolute;
    top: 22px;
    z-index: -1;
  }

  > .sheet-shaped-row {
    padding-top: 8px;
  }

  input[type=number] {
    background-color: transparent;
    border-radius: 7px;
    padding: 1px;
  }
}

.sheet-heart-divider {
  font-size: 15px;
}

.sheet-temp-heart {
  height: 55px;
  margin-top: 10px;
  width: 64px;
  &::after {
    font-size: 72px;
    top: 16px;
  }

  > .sheet-shaped-row {
    padding-top: 10px;
  }
  .sheet-wrap-box-title {
    margin-top: 2px;
  }
}

.sheet-ammo .repitem {
  .sheet-section-core & {
    width: 25%;
  }
  .sheet-section-equipment & {
    width: 20%;
  }
  padding-left: 2px;
  padding-right: 2px;
}

.sheet-coin {
  margin-left: -6px;
}
.sheet-coin-value-wrap {
  height: 24px;
  left: -2px;
  position: relative;
}


.sheet-hit-dice-container {
  min-height: 2.7em;
}

.sheet-death-success,
.sheet-death-fail {
  .sheet-checkbox-label {
    height: $death-saving-throw-circle-size;
    margin: 0 2px;
    position: relative;
    width: $death-saving-throw-circle-size;
    z-index: 5;

    [type='checkbox'] {
      + span {
        background-color: $white;
        border: 1px solid $black;
        border-radius: 50%;
        height: $death-saving-throw-circle-size;
        width: $death-saving-throw-circle-size;
      }
    }
  }
  [type='radio'] {
    margin: 1px 0;
    opacity: 0;
    position: relative;
    z-index: 99;

    &,
    & + span {
      height: $death-saving-throw-circle-size;
      width: $death-saving-throw-circle-size;
    }

    + span {
      border: 1px solid $black;
      border-radius: 50%;
      display: inline-block;
      margin-left: -$death-saving-throw-circle-size;
      position: relative;
      vertical-align: middle;
      z-index: 5;
    }

    &:first-of-type {
      &,
      + span {
        left: -12px;
        position: absolute;
        top: 1px;
      }
      + span {
        background-color: $white;
        border: 0;
        color: $important-red;
        font-size: 15px;
        margin-left: 0;
      }
      &:checked {
        + span {
          opacity: 0;
        }
      }
    }
    &:checked {
      ~ input[type='radio'] + span {
        background-color: $white;
      }
    }
  }
}
.sheet-death-success {
  [type='radio'] {
    + span {
      background-color: $light-green;
    }
  }
}
.sheet-death-fail {
  [type='radio'] {
    + span {
      background-color: $light-red;
    }
  }
}
.sheet-death-saving-throw-hr {
  top: 2px;
  width: 100%;
}



.sheet-background-text,
.sheet-trait {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.sheet-background-text {
  line-height: 1.1;
  max-height: 4.2em;
  min-height: 1.1em;
}
.sheet-trait {
  max-height: 5.5em;
  span {
    line-height: 1.1;
  }
}

.sheet-personality-traits {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sheet-ideals,
.sheet-bonds {
  border-radius: 0;
}

.sheet-flaws {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input.sheet-toggle-use-custom-saving-throws:not([value='1']) ~ div .sheet-resistances-immunities {
  margin-left: -75px;
}
