hr {
  background-image: linear-gradient(to right, $transparent, $transparent-black, $transparent);
  border: 0;
  height: 1px;
  margin: 5px 0;
}

.sheet-no-background {
  background-color: transparent !important;
}

.charsheet {
  background: $off-white url('http://i.imgur.com/RggDtsN.png');
  margin-top: -10px;
  padding: 2px 3px !important;
}

.sheet-wrap-box {
  background-color: $white;
  border: 1px solid $black;
  border-radius: $border-radius;
  padding: 2px;
}

.sheet-heading {
  text-transform: capitalize !important;
}

.sheet-wrap-box-label,
.sheet-wrap-box-title,
.sheet-ability-name {
  text-transform: uppercase;
}

.sheet-wrap-box-title,
.sheet-ability-name {
  font-size: 9px;
  font-weight: bold;
}

.sheet-wrap-box-title {
  margin-top: 4px;
  text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;

  .sheet-wrapper-button & {
    margin-top: 1px;
  }
}

.sheet-wrap-box-label {
  font-size: .8em;
}

.sheet-light-label {
  color: $lightish-gray;
}

.sheet-bold,
.sheet-rolltemplate-5e-shaped .sheet-bold {
  font-weight: bold;
}
.sheet-italic,
.sheet-rolltemplate-5e-shaped .sheet-italic {
  font-style: italic;
}
.sheet-capitalize,
.sheet-rolltemplate-5e-shaped .sheet-capitalize {
  text-transform: capitalize !important;
}
.sheet-lowercase,
.sheet-rolltemplate-5e-shaped .sheet-lowercase {
  text-transform: lowercase !important;
}
.sheet-uppercase,
.sheet-rolltemplate-5e-shaped .sheet-uppercase {
  text-transform: uppercase !important;
}

.sheet-border-bottom {
  border-bottom: 1px solid $light-gray;
}
.sheet-border-top {
  border-top: 1px solid $light-gray;
}
.sheet-border-right,
.sheet-rolltemplate-5e-shaped .sheet-border-right {
  border-right: 1px solid $black;
}
.sheet-border-left,
.sheet-rolltemplate-5e-shaped .sheet-border-left {
  border-left: 1px solid $black;
}

[class*='sheet-pictos'] {
  font-size: 14px;
}
.sheet-pictos {
  font-family: 'Pictos';
}

.sheet-zebra,
.sheet-rolltemplate-5e-shaped .sheet-zebra {
  background-color: $teal;
}

.sheet-zebra-rows {
  .sheet-shaped-row:nth-child(even) {
    background-color: $teal;
  }
  input {
    background: transparent;
  }
}

.sheet-important-text,
.sheet-rolltemplate-5e-shaped .sheet-important-text {
  color: $important-red;
}

.sheet-small-label,
.sheet-rolltemplate-5e-shaped .sheet-small-label {
  font-size: 11px;
  input {
    font-size: 11px;
  }
}
.sheet-small-label {
  select {
    appearance: none;
  }
}
.sheet-input-like {
  display: inline-block;
  padding: 0 1px;
}

.sheet-big-text {
  font-size: 1.4em;
}
.sheet-big-font {
  font-size: 15px;
}


.sheet-checkbox-wrap,
[class^='sheet-checkbox-label'] {
  cursor: pointer;
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 0;
  padding-right: 0;
  white-space: nowrap;
}

.sheet-white-space-no-wrap {
  white-space: nowrap;
}

.sheet-wrap {
  word-wrap: break-word;
}

.sheet-small-checkbox,
input[type='checkbox'].sheet-attack-toggle {
  transform: scale(.8);
}

.sheet-checkbox-label-sm {
  font-size: 9px;

  & input[type='checkbox'] {
    height: 10px;
    margin-top: -1px;
    transform: scale(.6);
  }
}
.sheet-checkbox-label-md {
  font-size: 85%;

  & input[type='checkbox'] {
    margin-top: -1px;
    transform: scale(.7);
  }
}
.sheet-checkbox-label {
  display: inline-block;
  [type='checkbox'] {
    display: none;
    + span {
      display: inline-block;
      font-weight: bold;
      padding: 1px;
      text-align: center;
    }
  }
}

input.sheet-toggle-pseudo-button,
span.sheet-toggle-pseudo-button {
  height: 19px !important;
}
span.sheet-toggle-pseudo-button {
  background-color: $bright-blue !important;
  box-shadow: 0 2px 5px 0 $mostly-transparent-black;
  font-size: .85em !important;
  padding: 3px;
}

.sheet-attacks,
.sheet-spell {
  input[readonly] {
    background: $whitish-gray;
  }
}
.sheet-gray-bg {
  background: $whitish-gray;
}
