input[type=number],
input[type=text],
select,
textarea,
button {
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  margin-bottom: 0 !important;
  padding: 0 1px;

  &.sheet-no-border {
    border-bottom: 0;
  }
  &:focus {
    outline: none;
  }
}

input[type=number],
input[type=text],
select,
textarea {
  width: 100% !important;
}

select {
  appearance: none;
  height: 16px;
}

input[type=number] {
  text-align: center;
}

.sheet-pseudo-input {
  display: block;
  height: 1em;
  min-height: 15px;
  padding: 0 2px 2px;
}

input[disabled],
input[readonly],
input[type=number].sheet-no-spin {
  -moz-appearance: textfield;
}

input[disabled] {
  background-color: transparent;
  cursor: inherit;
}
input[readonly] {
  background-color: inherit;
  cursor: inherit;
}
input[type=number].sheet-no-spin::-webkit-outer-spin-button,
input[type=number].sheet-no-spin::-webkit-inner-spin-button,
input[disabled]::-webkit-inner-spin-button,
input[disabled]::-webkit-outer-spin-button,
input[readonly]::-webkit-inner-spin-button,
input[readonly]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

textarea {
  height: 150px;
  resize: both;
}

.sheet-xs-textarea,
.sheet-one-line-textarea {
  height: 1.417em;
}

.sheet-two-line-textarea {
  height: 2.15em;
}

.sheet-three-line-textarea {
  height: 3.2em;
}

.sheet-four-line-textarea {
  height: 4em;
}

.sheet-five-line-textarea {
  height: 5.2em;
}

.sheet-six-line-textarea {
  height: 6.2em;
}

.sheet-eight-line-textarea {
  height: 8.3em;
}
