button {
  //overwrite roll20
  &[type='roll'] {
    background-image: none;
    border: 0;
    box-shadow: none;
    text-align: left;
    text-shadow: initial;

    &.btn {
      font-size: inherit;
      margin: 0;

      &:not(.sheet-visible-button) {
        background-color: transparent;
        padding: 0;

        &:hover {
          color: $bright-blue !important;
          input,
          span {
            color: $bright-blue !important;
          }
        }
      }

      &.sheet-visible-button {
        background-color: $bright-blue;
        border-radius: $border-radius;
        box-shadow: 0 2px 5px 0 $mostly-transparent-black;
        color: $mostly-transparent-white;
        font-size: .9em;
        padding: 3px;
        &:hover {
          color: $mostly-transparent-white;
        }
        &:active {
          box-shadow: 0 4px 8px 0 $mostly-transparent-black;
        }
      }
    }

    &:hover {
      background-position: initial;
    }
    &::before {
      content: '' !important;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.repcontrol_add,
  &.repcontrol_edit {
    font-size: .8em;
    padding: 1px 3px;
  }

  &.repcontrol_del {
    padding: 0 3px 2px;
    position: relative;
    z-index: 999;
  }
  &.repcontrol_add,
  &.repcontrol_edit,
  &.repcontrol_del {
    border-radius: $border-radius;
  }
}

.btn {
  &.repcontrol_move {
    background: transparent;
    border: 0;
    font-size: 1.2em;
    font-weight: bold;
    padding: 2px 0;
    position: relative;
    z-index: 999;
  }
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0 0 0 15px;
}
.repcontrol {
  &::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
.repcontrol_add {
  float: left;
}