.sheet-section-spells {
  .sheet-wrap-box textarea {
    font-size: 11px;
  }

  .repitem {
    @include faded-border-bottom;
    border-bottom: 0;
    border-top: 1px solid $black;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    width: 22em;

    &:first-child,
    &:nth-child(2) {
      border-image: none;
      border-top: 0;
      padding-top: 0;
    }

    &:last-child,
    &:nth-last-child(2) {
      padding-bottom: 0;
    }
  }
  .repcontrol {
    margin-top: 5px;
  }
}

@include tab-toggle('spells-filter-content', 39px, 'padding');
@include tab-toggle('spells-filter-condense', 50px, 'padding');
@include tab-toggle('spells-filter-prepared', 43px, 'padding');
@include tab-toggle('spells-prepared', 43px, 'padding');
@include tab-toggle('spells-filter-ritual', 26px, 'padding');
@include tab-toggle('spells-ritual', 26px, 'padding');
@include tab-toggle('spells-filter-concentration', 65px, 'padding');
@include tab-toggle('spells-concentration', 65px, 'padding');
@include tab-toggle('spells-filter-verbal', 9px, 'padding');
@include tab-toggle('spells-filter-somatic', 9px, 'padding');
@include tab-toggle('spells-filter-material', 10px, 'padding');
@include tab-toggle('spell-vsm-v', 9px, 'padding');
@include tab-toggle('spell-vsm-s', 9px, 'padding');
@include tab-toggle('spell-vsm-m', 10px, 'padding');
@include tab-toggle('spell-filters', 29px, 'padding');
@include tab-toggle('spells-filter-level-cantrips', 39px, 'padding');
@include tab-toggle('spells-filter-level-all', 13px, 'padding');
@include tab-toggle('spells-filter-level-1', 7px, 'padding');
@include tab-toggle('spells-filter-level-2', 7px, 'padding');
@include tab-toggle('spells-filter-level-3', 7px, 'padding');
@include tab-toggle('spells-filter-level-4', 7px, 'padding');
@include tab-toggle('spells-filter-level-5', 7px, 'padding');
@include tab-toggle('spells-filter-level-6', 7px, 'padding');
@include tab-toggle('spells-filter-level-7', 7px, 'padding');
@include tab-toggle('spells-filter-level-8', 7px, 'padding');
@include tab-toggle('spells-filter-level-9', 7px, 'padding');
@include tab-toggle('spells-filter-casting-time-all', 13px, 'padding');
@include tab-toggle('spells-filter-casting-time-reaction', 39px, 'padding');
@include tab-toggle('spells-filter-casting-time-bonus', 31px, 'padding');
@include tab-toggle('spells-filter-casting-time-action', 30px, 'padding');
@include tab-toggle('spell-source', 35px, 'padding');
@include tab-toggle('spell-from', 25px, 'padding');
@include tab-toggle('spell-slots', 49px, 'padding');
@include tab-toggle('spell-points', 56px, 'padding');
@include tab-toggle('spell-slots-all', 13px, 'padding');

span.sheet-toggle-spells-filter-level-1,
span.sheet-toggle-spells-filter-level-2,
span.sheet-toggle-spells-filter-level-3,
span.sheet-toggle-spells-filter-level-4,
span.sheet-toggle-spells-filter-level-5,
span.sheet-toggle-spells-filter-level-6,
span.sheet-toggle-spells-filter-level-7,
span.sheet-toggle-spells-filter-level-8,
span.sheet-toggle-spells-filter-level-9,
span.sheet-toggle-spells-filter-casting-time-bonus,
span.sheet-toggle-spells-filter-casting-time-action {
  border-radius: 0;
}

span.sheet-toggle-spells-filter-level-all,
span.sheet-toggle-spells-filter-casting-time-all {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

span.sheet-toggle-spells-filter-level-cantrips,
span.sheet-toggle-spells-filter-casting-time-reaction {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.sheet-spell {
  input,
  select,
  textarea {
    background-color: transparent;
  }
  .sheet-wrap-box {
    background-color: $off-white;
    box-shadow: 0 0 5px $small-label-gray;
  }
}

input.sheet-toggle-spell-slots:not(:checked) ~ .sheet-spell-slots,
input.sheet-toggle-spell-points:not(:checked) ~ .sheet-spell-points,
input.sheet-toggle-spell-filters:not(:checked) ~ [class^=sheet-toggle-spells-filter],
input.sheet-toggle-spell-level-0:not(:checked) ~ div .sheet-toggle-spells-filter-level-cantrips,
input.sheet-toggle-spell-level-1:not(:checked) ~ div .sheet-toggle-spells-filter-level-1,
input.sheet-toggle-spell-level-2:not(:checked) ~ div .sheet-toggle-spells-filter-level-2,
input.sheet-toggle-spell-level-3:not(:checked) ~ div .sheet-toggle-spells-filter-level-3,
input.sheet-toggle-spell-level-4:not(:checked) ~ div .sheet-toggle-spells-filter-level-4,
input.sheet-toggle-spell-level-5:not(:checked) ~ div .sheet-toggle-spells-filter-level-5,
input.sheet-toggle-spell-level-6:not(:checked) ~ div .sheet-toggle-spells-filter-level-6,
input.sheet-toggle-spell-level-7:not(:checked) ~ div .sheet-toggle-spells-filter-level-7,
input.sheet-toggle-spell-level-8:not(:checked) ~ div .sheet-toggle-spells-filter-level-8,
input.sheet-toggle-spell-level-9:not(:checked) ~ div .sheet-toggle-spells-filter-level-9,
input.sheet-toggle-spell-level-0:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-0,
input.sheet-toggle-spell-level-1:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-1,
input.sheet-toggle-spell-level-2:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-2,
input.sheet-toggle-spell-level-3:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-3,
input.sheet-toggle-spell-level-4:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-4,
input.sheet-toggle-spell-level-5:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-5,
input.sheet-toggle-spell-level-6:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-6,
input.sheet-toggle-spell-level-7:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-7,
input.sheet-toggle-spell-level-8:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-8,
input.sheet-toggle-spell-level-9:not(:checked) ~ div input.sheet-toggle-spell-slots-all:not(:checked) ~ div .sheet-spell-level-9,
input.sheet-show-concentration:not(:checked) ~ .sheet-show-concentration,
input.sheet-toggle-spells-ritual:not([value='Yes']) ~ div .sheet-show-ritual,
input.sheet-show-materials:not(:checked) ~ .sheet-show-materials {
  display: none;
}

input.sheet-toggle-spell-filters:checked {
  & ~ input.sheet-toggle-spells-filter-content:not(:checked) ~ .repcontainer .sheet-content,
  & ~ input.sheet-toggle-spells-filter-condense:checked ~ .repcontainer .sheet-condense,
  & ~ input.sheet-toggle-spells-filter-prepared:checked ~ .repcontainer input.sheet-toggle-spells-prepared:not(:checked) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-ritual:checked ~ .repcontainer input.sheet-toggle-spells-ritual:not([value='Yes']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='0'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='CANTRIP']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='1'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='1ST_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='2']~ .repcontainer input.sheet-toggle-spell-level:not([value='2ND_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='3'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='3RD_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='4'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='4TH_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='5'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='5TH_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='6'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='6TH_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='7'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='7TH_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='8'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='8TH_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-level[value='9'] ~ .repcontainer input.sheet-toggle-spell-level:not([value='9TH_LEVEL']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-casting-time-reaction:checked ~ .repcontainer input.sheet-toggle-casting-time:not([value='1_REACTION']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-casting-time-bonus:checked ~ .repcontainer input.sheet-toggle-casting-time:not([value='1_BONUS_ACTION']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-casting-time-action:checked ~ .repcontainer input.sheet-toggle-casting-time:not([value='1_ACTION']) ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-concentration:not(:checked) ~ .repcontainer input.sheet-toggle-spells-concentration[value='Yes'] ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-verbal:not(:checked) ~ .repcontainer input.sheet-toggle-components[value~='V'] ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-somatic:not(:checked) ~ .repcontainer input.sheet-toggle-components[value~='S'] ~ .sheet-spell,
  & ~ input.sheet-toggle-spells-filter-material:not(:checked) ~ .repcontainer input.sheet-toggle-components[value~='M'] ~ .sheet-spell {
    display: none;
  }
}

.sheet-spells-filter {
  display: inline-block;
  font-size: 11px;
}

input[class^='sheet-toggle-spells-filter'],
span[class^='sheet-toggle-spells-filter'] {
  height: 12px;
}

.sheet-spell-name {
  color: $deep-red;
}

.sheet-spell-slots {
  input {
    background: transparent;
  }
}

.sheet-toggle-spells-prepared {
  position: absolute !important;
  right: $toggle-icon-width + 2;
  top: 2px;
}

input[class^='sheet-toggle-spells']:checked + span[class^='sheet-toggle-spells'] {
  background-color: $deep-red;
}

span[class^='sheet-toggle-spells-filter'] {
  font-size: 10px;
}
