@mixin tab-toggle($tab, $width, $padding) {
  @if $padding == 'padding' {
    $width: $width + 4;
  } @else if $padding == 'halfPadding' {
    $width: $width + 2;
  }

  input.sheet-toggle-#{$tab},
  span.sheet-toggle-#{$tab} {
    width: $width;
  }
  span.sheet-toggle-#{$tab} {
    margin-left: -$width;
  }
}

input.sheet-toggle-hidden-info:checked ~ div.sheet-toggle-hidden-info {
  display: block;
}

@include tab-toggle('equipment-only-quick-items', 28px, 'padding');

input.sheet-toggle-icon-settings:not(:checked) ~ div.sheet-details,
input.sheet-toggle-icon-settings:not(:checked) ~ div .sheet-details,
input.sheet-toggle-edit-mode:not(:checked) ~ div .sheet-edit,
input.sheet-toggle-edit-mode:checked ~ div .sheet-presentation,
input.sheet-toggle-hd-d2:not([value='1']) ~ div.sheet-toggle-hd-d2,
input.sheet-toggle-hd-d4:not([value='1']) ~ div.sheet-toggle-hd-d4,
input.sheet-toggle-hd-d6:not([value='1']) ~ div.sheet-toggle-hd-d6,
input.sheet-toggle-hd-d8:not([value='1']) ~ div.sheet-toggle-hd-d8,
input.sheet-toggle-hd-d10:not([value='1']) ~ div.sheet-toggle-hd-d10,
input.sheet-toggle-hd-d12:not([value='1']) ~ div.sheet-toggle-hd-d12,
input.sheet-toggle-hd-d20:not([value='1']) ~ div.sheet-toggle-hd-d20,
input.sheet-toggle-custom-class:not(:checked) ~ .sheet-custom-class,
input.sheet-attack-toggle:not(:checked) ~ div.sheet-attack-toggle,
input.sheet-show-uses:not(:checked) ~ .sheet-show-uses,
input.sheet-toggle-use-custom-saving-throws[value='1'] ~ div .sheet-default-saving-throw,
input.sheet-toggle-use-custom-saving-throws:not([value='1']) ~ div .sheet-custom-saving-throw,
input.sheet-toggle-equipment-only-quick-items[value='1'] ~ .repcontainer input.sheet-toggle-quick-equipment:not([value='1']) ~ .sheet-equipment-item,
input.sheet-has-sorcerer-levels:not([value='1']) ~ div .sheet-has-sorcerer-levels,
input.sheet-has-warlock-slots:not([value='1']) ~ div .sheet-has-warlock-slots,
input.sheet-toggle-custom-classes:not([value='1']) ~ div .sheet-custom-class {
  display: none;
}

@each $class in $classes {
  input.sheet-has-#{$class}-levels:not([value='1']) ~ div .sheet-has-#{$class}-levels {
    display: none;
  }
}

input[class^='sheet-toggle-'],
span[class^='sheet-toggle-'] {
  height: 12px;
  vertical-align: top;
}

input[class^='sheet-toggle-'] {
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 200;

  &:active + span[class^='sheet-toggle-'].sheet-button {
    box-shadow: 0 4px 8px 0 $mostly-transparent-black;
  }
}
span[class^='sheet-toggle-'] {
  background-color: $gray;
  border-radius: $border-radius;
  color: $mostly-transparent-white;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

input[class^='sheet-toggle']:checked + span[class^='sheet-toggle'] {
  background-color: $deep-green;
}
input[class^='sheet-toggle-icon']:checked + span[class^='sheet-toggle-icon'],
input[class^='sheet-toggle-edit-mode']:checked + span[class^='sheet-toggle-edit-mode'] {
  @include text-shadow;
  background-color: transparent;
  color: $pencil-color;
}
.sheet-toggle-icon-settings {
  height: 16px;
  position: absolute !important;
  right: -2px;
  top: 1px;
  width: $toggle-icon-width;
}

input.sheet-toggle-icon-settings,
span.sheet-toggle-icon-settings {
  height: 16px;
}
span.sheet-toggle-icon-settings {
  font-size: 14px;
}

span.sheet-toggle-icon-settings,
span.sheet-toggle-edit-mode {
  @include text-shadow;
  background-color: transparent;
  color: $grayer-gray;
}

input.sheet-toggle-edit-mode,
span.sheet-toggle-edit-mode {
  height: 24px;
  &.sheet-negative-mar-t-eight {
    margin-top: -8px;
  }
}
span.sheet-toggle-edit-mode {
  font-size: 22px;
}


input.sheet-toggle-edit-mode {
  &:checked ~ div {
    input,
    select,
    textarea {
      &:not([readonly]) {
        background-color: $transparent-yellow;
      }
    }
  }
  &:not(:checked) ~ div {
    .repcontrol,
    .sheet-item-to-toggle,
    .sheet-item-to-show {
      display: none;
    }
  }
}

.sheet-item-toggle {
  &[value='1'] {
    & + .sheet-item-to-toggle {
      display: block !important;
    }
    & ~ .sheet-trait {
      .sheet-heading {
        &:first-child {
          margin-left: 17%;
        }
      }
    }
  }
}

.sheet-item-shown {
  &:checked {
    & + .sheet-item-to-show {
      display: block !important;
    }
    & ~ div {
      .sheet-item-to-show {
        display: block !important;
      }
    }
  }
}

@include tab-toggle('icon-attack-settings', 13px, 'padding');
@include tab-toggle('pseudo-button', 100px, 'padding');
