$duration: .2s;
$transparent: rgba(0, 0, 0, 0);
$black: #000;
$transparent-black: rgba(0, 0, 0, .75);
$mostly-transparent-black: rgba(0, 0, 0, .3);
$white: #fff;
$gray-black: #222;
$transparent-white: rgba(255, 255, 255, 0);
$semi-transparent-white: rgba(255, 255, 255, .3);
$mostly-transparent-white: rgba(255, 255, 255, .87);
$off-white: rgb(245, 245, 245);
$brown: #563300;
$pink: #ce0f69;
$red: #f00;
$light-red: #922610;
$important-red: #980000;
$deep-red: #591209;
$dark-red: #3a0e06;
$orange: #ca8929;
$orange-alt: #e69a28;
$light-green: #879a6a;
$advantage-green: #2fc910;
$deep-green: #51624b;
$attack-header: #2c5d28;
$deep-blue: #416696;
$bright-blue: #3f88e6;
$lightish-gray: #a7a7a7;
$light-gray: #ccc;
$whitish-gray: #dedede;
$gray: #a19a91;
$tan: #867453;
$small-label-gray: #676767;
$grayer-gray: #909090;
$light-yellow: #f2f5d3;
$transparent-yellow: rgba(255, 255, 1, .2);
$pencil-color: rgba(255, 255, 1, .95);
$teal: #e6fff9;
$border-radius: 3px;
$scrollbar-size: 6px;
$death-saving-throw-circle-size: 14px;
$toggle-icon-width: 15px;
$classes: 'barbarian', 'bard', 'cleric', 'druid', 'fighter', 'monk', 'paladin', 'ranger', 'rogue', 'sorcerer', 'warlock', 'wizard';
