<div class="sheet-wrap-box sheet-relative sheet-mar-b-md sheet-mar-t-md">
  <div class="sheet-col-20 sheet-center sheet-vert-top">
    <input class="sheet-weapon-name sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_name" placeholder="name">
  </div>
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_emote" value="{{emote=@{repeating_weapons_ranged_{{num}}_emote}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_attack"
         value="{{attack=[[d20cs>@{repeating_weapons_ranged_{{num}}_crit_range}@{d20_mod} + @{repeating_weapons_ranged_{{num}}_to_hit} + (@{global_weapon_attack_bonus}) + (@{global_ranged_attack_bonus})]]}} {{attackadv=[[d20cs>@{repeating_weapons_ranged_{{num}}_crit_range}@{d20_mod} + @{repeating_weapons_ranged_{{num}}_to_hit} + (@{global_weapon_attack_bonus}) + (@{global_ranged_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_range" value="{{range=@{repeating_weapons_ranged_{{num}}_range}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_ammo" value="{{ammo=[[@{repeating_weapons_ranged_{{num}}_ammo}-@{repeating_weapons_ranged_{{num}}_toggle_ammo_auto}]]}} {{ammo_auto=@{repeating_weapons_ranged_{{num}}_toggle_ammo_auto}}} {{ammo_field=repeating_weapons_ranged_{{num}}_ammo}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_ammo_auto" value="1">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_damage" value="{{action_damage=[[0d0 + @{repeating_weapons_ranged_{{num}}_dmg} + @{repeating_weapons_ranged_{{num}}_dmg_total} + (@{global_weapon_damage_bonus}) + (@{global_ranged_damage_bonus})]]}} {{action_damage_type=@{repeating_weapons_ranged_{{num}}_dmg_type}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_alt_damage" value="{{action_alt_damage=[[0d0 + @{repeating_weapons_ranged_{{num}}_alt_dmg} + @{repeating_weapons_ranged_{{num}}_dmg_total} + (@{global_weapon_damage_bonus}) + (@{global_ranged_damage_bonus})]]}} {{action_alt_damage_reason=@{repeating_weapons_ranged_{{num}}_alt_dmg_reason}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_second_damage" value="{{action_second_damage=[[@{repeating_weapons_ranged_{{num}}_second_dmg} + (@{repeating_weapons_ranged_{{num}}_second_dmg_bonus} * @{repeating_weapons_ranged_{{num}}_toggle_bonuses})]]}} {{action_second_damage_type=@{repeating_weapons_ranged_{{num}}_second_dmg_type}}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_crit" value="{{can_crit=1}} {{action_crit_damage=[[0d0 + @{repeating_weapons_ranged_{{num}}_dmg} + (@{repeating_weapons_ranged_{{num}}_bonus_crit_dmg} * @{repeating_weapons_ranged_{{num}}_toggle_bonuses}))]]}} {{action_alt_crit_damage=[[0d0 + @{repeating_weapons_ranged_{{num}}_alt_dmg}]]}} {{action_second_crit_damage=[[0d0 + @{repeating_weapons_ranged_{{num}}_second_dmg}]]}}">
  <input type="hidden" name="attr_repeating_weapons_ranged_{{num}}_var_bonuses" value="1">

  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_emote" class="sheet-toggle-emote" value="@{repeating_weapons_ranged_{{num}}_var_emote}"><span class="sheet-toggle-emote"><span class="sheet-en">Emote</span><span class="sheet-de">Emote</span><span class="sheet-fr">Emote</span><span class="sheet-ru">Текст</span></span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_attack" class="sheet-toggle-attack" value="@{repeating_weapons_ranged_{{num}}_var_attack}"><span class="sheet-toggle-attack"><span class="sheet-en">Attack</span><span class="sheet-de">Angriff</span><span class="sheet-fr">Attaque</span><span class="sheet-ru">Атака</span></span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_range" class="sheet-toggle-range" value="@{repeating_weapons_ranged_{{num}}_var_range}"><span class="sheet-toggle-range"><span class="sheet-en">Range</span><span class="sheet-de">Range</span><span class="sheet-fr">Portée</span><span class="sheet-ru">Досяг</span></span></span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_ammo" class="sheet-toggle-ammo sheet-mar-t-md" value="@{repeating_weapons_ranged_{{num}}_var_ammo}"><span class="sheet-toggle-ammo sheet-mar-t-md"><span class="sheet-en">Ammo</span><span class="sheet-de">Ammo</span><span class="sheet-fr">Mun</span><span class="sheet-ru">Боепр</span></span></span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_ammo_auto" class="sheet-toggle-ammo-auto sheet-mar-t-nine" value="@{repeating_weapons_ranged_{{num}}_var_ammo_auto}"><span class="sheet-toggle-ammo-auto sheet-mar-t-nine">Auto</span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_damage" class="sheet-toggle-damage" value="@{repeating_weapons_ranged_{{num}}_var_damage}"><span class="sheet-toggle-damage"><span class="sheet-en">Dmg</span><span class="sheet-de">Scha</span><span class="sheet-fr">Dmg</span><span class="sheet-ru">Урон</span></span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_alt_damage" class="sheet-toggle-alt-damage sheet-mar-t-md" value="@{repeating_weapons_ranged_{{num}}_var_alt_damage}"><span class="sheet-toggle-alt-damage sheet-mar-t-md"><span class="sheet-en">Alt</span><span class="sheet-de">Alt</span><span class="sheet-fr">Alt</span><span class="sheet-ru">Алт</span></span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_second_damage" class="sheet-toggle-second-damage sheet-mar-t-md" value="@{repeating_weapons_ranged_{{num}}_var_second_damage}"><span class="sheet-toggle-second-damage sheet-mar-t-md"><span class="sheet-en">Secondary</span><span class="sheet-de">Secondary</span><span class="sheet-fr">Secondaire</span><span class="sheet-ru">Вторичное</span></span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_crit" class="sheet-toggle-crit sheet-mar-t-md" value="@{repeating_weapons_ranged_{{num}}_var_crit}" checked><span class="sheet-toggle-crit sheet-mar-t-md"><span class="sheet-en">Crit</span><span class="sheet-de">Crit</span><span class="sheet-fr">Crit</span><span class="sheet-ru">Крит</span></span>
  <input type="checkbox" name="attr_repeating_weapons_ranged_{{num}}_toggle_bonuses" class="sheet-toggle-bonuses" value="@{repeating_weapons_ranged_{{num}}_var_bonuses}"><span class="sheet-toggle-bonuses"><span class="sheet-en">Bonuses</span><span class="sheet-de">Boni</span><span class="sheet-fr">Bonus</span><span class="sheet-ru">Бонусы</span></span>

  <div class="sheet-action-button-group sheet-right">
    <div class="sheet-shaped-row">
      <div class="sheet-col sheet-center sheet-vert-middle">
        <button type="roll" name="roll_repeating_weapons_ranged_{{num}}_weapon"
                value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_ranged_{{num}}_name}}} {{action=1}} {{action_type=Ranged}} @{classactionrangedweapon} @{repeating_weapons_ranged_{{num}}_toggle_emote} @{repeating_weapons_ranged_{{num}}_toggle_attack} @{repeating_weapons_ranged_{{num}}_toggle_crit} @{repeating_weapons_ranged_{{num}}_toggle_range} @{repeating_weapons_ranged_{{num}}_toggle_ammo} @{repeating_weapons_ranged_{{num}}_toggle_damage} @{repeating_weapons_ranged_{{num}}_toggle_alt_damage} @{repeating_weapons_ranged_{{num}}_toggle_second_damage}">
          <span class="sheet-en">Ranged</span>
          <span class="sheet-de">Ranged</span>
          <span class="sheet-fr">Tir</span>
          <span class="sheet-ru">Дистанционное</span>
        </button>
      </div>
    </div>
  </div>
  <div class="sheet-toggle-emote sheet-center sheet-mar-t-sm">
    <textarea class="sheet-xs-textarea" name="attr_repeating_weapons_ranged_{{num}}_emote"></textarea>

    <div class="sheet-small-label">
      <span class="sheet-en">Emote</span>
      <span class="sheet-de">Emote</span>
      <span class="sheet-fr">Emote</span>
      <span class="sheet-ru">Текст</span>
    </div>
  </div>
  <div class="sheet-shaped-row sheet-mar-t-sm">
    <div class="sheet-col-03 sheet-toggle-attack sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-checkbox-row-height" type="checkbox" value="@{PB}" name="attr_repeating_weapons_ranged_{{num}}_proficient" checked>

      <div class="sheet-small-label">
        <span class="sheet-en">Prof</span>
        <span class="sheet-de">Prof</span>
        <span class="sheet-fr">Maît</span>
        <span class="sheet-ru">Влад</span>
      </div>
    </div>
    <div class="sheet-col-06 sheet-toggle-attack sheet-center sheet-vert-top sheet-pad-r-sm">
      <span class="sheet-en">
        <select name="attr_repeating_weapons_ranged_{{num}}_attack_stat" class="sheet-select-no-arrow">
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}">Str</option>
          <option value="@{dexterity_mod}" selected>Dex</option>
          <option value="@{constitution_mod}">Con</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Wis</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
      <span class="sheet-de">
        <select name="attr_repeating_weapons_ranged_{{num}}_attack_stat" class="sheet-select-no-arrow">
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}">Str</option>
          <option value="@{dexterity_mod}" selected>Ges</option>
          <option value="@{constitution_mod}">Kon</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Wei</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
      <span class="sheet-fr">
        <select name="attr_repeating_weapons_ranged_{{num}}_attack_stat" class="sheet-select-no-arrow">
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}">For</option>
          <option value="@{dexterity_mod}" selected>Dex</option>
          <option value="@{constitution_mod}">Con</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Sag</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
	  <span class="sheet-ru">
        <select name="attr_repeating_weapons_ranged_{{num}}_attack_stat" class="sheet-select-no-arrow">
          <option value="@{finesse_mod}">Фехтовальное</option>
          <option value="@{strength_mod}">Сил</option>
          <option value="@{dexterity_mod}" selected>Лов</option>
          <option value="@{constitution_mod}">Тел</option>
          <option value="@{intelligence_mod}">Инт</option>
          <option value="@{wisdom_mod}">Муд</option>
          <option value="@{charisma_mod}">Хар</option>
        </select>
      </span>

      <div class="sheet-small-label">
        <span class="sheet-en">Atk Stat</span>
        <span class="sheet-de">Atk Stat</span>
        <span class="sheet-fr">Stat Atq</span>
        <span class="sheet-ru">Хар Атк</span>
      </div>
    </div>
    <div class="sheet-col-04 sheet-toggle-attack sheet-toggle-bonuses sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_attack_bonus" value="0">

      <div class="sheet-small-label">
        <span class="sheet-en">+Atk</span>
        <span class="sheet-de">+Atk</span>
        <span class="sheet-fr">+Atq</span>
        <span class="sheet-ru">+Атк</span>
      </div>
    </div>
    <div class="sheet-col-04 sheet-toggle-attack sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_to_hit" value="@{repeating_weapons_ranged_{{num}}_proficient} + @{repeating_weapons_ranged_{{num}}_attack_stat} + (@{repeating_weapons_ranged_{{num}}_attack_bonus} * @{repeating_weapons_ranged_{{num}}_toggle_bonuses})" disabled="disabled">

      <div class="sheet-small-label">
        <span class="sheet-en">To Hit</span>
        <span class="sheet-de">To Hit</span>
        <span class="sheet-fr">Mod Atq</span>
        <span class="sheet-ru">Попадение</span>
      </div>
    </div>
    <div class="sheet-col-08 sheet-toggle-range sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_range">

      <div class="sheet-small-label">
        <span class="sheet-en">Range</span>
        <span class="sheet-de">Reichweite</span>
        <span class="sheet-fr">Portée</span>
        <span class="sheet-ru">Дальность</span>
      </div>
    </div>
    <div class="sheet-col-07 sheet-toggle-range sheet-toggle-ammo sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_ammo" min="0" value="1">

      <div class="sheet-small-label">
        <span class="sheet-en">Ammo</span>
        <span class="sheet-de">Ammo</span>
        <span class="sheet-fr">Munition</span>
        <span class="sheet-ru">Боеприпас</span>
      </div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_dmg" value="0">

      <div class="sheet-small-label">
        <span class="sheet-en">Dmg Dice</span>
        <span class="sheet-de">Dmg Dice</span>
        <span class="sheet-fr">Dés de Dmg</span>
        <span class="sheet-ru">Бросок Урона</span>
      </div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-alt-damage sheet-border-left sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_alt_dmg" value="0">

      <div class="sheet-small-label">
        <span class="sheet-en">Alt Dmg</span>
        <span class="sheet-de">Alt Dmg</span>
        <span class="sheet-fr">Dmg Alt</span>
        <span class="sheet-ru">Алт Урон</span>
      </div>
    </div>
    <div class="sheet-col-16 sheet-toggle-damage sheet-toggle-alt-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <textarea class="sheet-xs-textarea sheet-center" name="attr_repeating_weapons_ranged_{{num}}_alt_dmg_reason"></textarea>

      <div class="sheet-small-label">
        <span class="sheet-en">Alt Dmg Reason</span>
        <span class="sheet-de">Alt Dmg Reason</span>
        <span class="sheet-fr">Raison Dmg Alt</span>
        <span class="sheet-ru">Причина Алт Урона</span>
      </div>
    </div>
    <div class="sheet-col-06 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
      <span class="sheet-en">
        <select name="attr_repeating_weapons_ranged_{{num}}_dmg_stat" class="sheet-select-no-arrow">
          <option value="0">None</option>
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}">Str</option>
          <option value="@{dexterity_mod}" selected>Dex</option>
          <option value="@{constitution_mod}">Con</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Wis</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
      <span class="sheet-de">
        <select name="attr_repeating_weapons_ranged_{{num}}_dmg_stat" class="sheet-select-no-arrow">
          <option value="0">None</option>
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}">Str</option>
          <option value="@{dexterity_mod}" selected>Ges</option>
          <option value="@{constitution_mod}">Kon</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Wei</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
      <span class="sheet-fr">
        <select name="attr_repeating_weapons_ranged_{{num}}_dmg_stat" class="sheet-select-no-arrow">
          <option value="0">Aucun</option>
          <option value="@{finesse_mod}">Finesse</option>
          <option value="@{strength_mod}">For</option>
          <option value="@{dexterity_mod}" selected>Dex</option>
          <option value="@{constitution_mod}">Con</option>
          <option value="@{intelligence_mod}">Int</option>
          <option value="@{wisdom_mod}">Sag</option>
          <option value="@{charisma_mod}">Cha</option>
        </select>
      </span>
	  <span class="sheet-ru">
        <select name="attr_repeating_weapons_ranged_{{num}}_dmg_stat" class="sheet-select-no-arrow">
          <option value="0">Нет</option>
          <option value="@{finesse_mod}">Фехтовальное</option>
          <option value="@{strength_mod}">Сил</option>
          <option value="@{dexterity_mod}" selected>Лов</option>
          <option value="@{constitution_mod}">Тел</option>
          <option value="@{intelligence_mod}">Инт</option>
          <option value="@{wisdom_mod}">Муд</option>
          <option value="@{charisma_mod}">Хар</option>
        </select>
      </span>

      <div class="sheet-small-label">
        <span class="sheet-en">Dmg Stat</span>
        <span class="sheet-de">Scha Stat</span>
        <span class="sheet-fr">Stat Dmg</span>
        <span class="sheet-ru">Хар Урон</span>
      </div>
    </div>
    <div class="sheet-col-04 sheet-toggle-damage sheet-toggle-bonuses sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_dmg_bonus" value="0">

      <div class="sheet-small-label">
        <span class="sheet-en">+Dmg</span>
        <span class="sheet-de">+Scha</span>
        <span class="sheet-fr">+Dmg</span>
        <span class="sheet-ru">+Урон</span>
      </div>
    </div>
    <div class="sheet-col-04 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_dmg_total" value="@{repeating_weapons_ranged_{{num}}_dmg_stat} + (@{repeating_weapons_ranged_{{num}}_dmg_bonus} * @{repeating_weapons_ranged_{{num}}_toggle_bonuses})" disabled="disabled">

      <div class="sheet-small-label">
        <span class="sheet-en">Dmg Mod</span>
        <span class="sheet-de">Scha Mod</span>
        <span class="sheet-fr">Mod Dmg</span>
        <span class="sheet-ru">Мод Урон</span>
      </div>
    </div>
    <div class="sheet-col-10 sheet-toggle-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_dmg_type">

      <div class="sheet-small-label">
        <span class="sheet-en">Dmg Type</span>
        <span class="sheet-de">Scha Type</span>
        <span class="sheet-fr">Type Dmg</span>
        <span class="sheet-ru">Тип Урон</span>
      </div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_second_dmg" value="0">

      <div class="sheet-small-label">
        <span class="sheet-en">2nd Dmg Dice</span>
        <span class="sheet-de">2te Scha Dice</span>
        <span class="sheet-fr">2ème Dés de Dmg</span>
        <span class="sheet-ru">2ой Бросок урона</span>
      </div>
    </div>
    <div class="sheet-col-04 sheet-toggle-damage sheet-toggle-second-damage sheet-toggle-bonuses sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_second_dmg_bonus" value="0">

      <div class="sheet-small-label">
        <span class="sheet-en">2nd +Dmg</span>
        <span class="sheet-de">2te +Scha</span>
        <span class="sheet-fr">2ème +Dmg</span>
        <span class="sheet-ru">2ой +Урона</span>
      </div>
    </div>
    <div class="sheet-col-10 sheet-toggle-damage sheet-toggle-second-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_second_dmg_type">

      <div class="sheet-small-label">
        <span class="sheet-en">2nd Dmg Type</span>
        <span class="sheet-de">2te Scha Type</span>
        <span class="sheet-fr">2ème Type Dmg</span>
        <span class="sheet-ru">2ой Тип Урона</span>
      </div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-crit sheet-toggle-bonuses sheet-center sheet-vert-top sheet-pad-l-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_ranged_{{num}}_bonus_crit_dmg" value="0">

      <div class="sheet-small-label">
        <span class="sheet-en">Bonus Crit Dmg</span>
        <span class="sheet-de">Bonus Crit Dmg</span>
        <span class="sheet-fr">Bonus Dmg Crit</span>
        <span class="sheet-ru">Бонус Крит Урона</span>
      </div>
    </div>
    <div class="sheet-col-05 sheet-toggle-damage sheet-toggle-crit sheet-center sheet-vert-top sheet-pad-l-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_crit_range" value="20" step="1" min="1" max="20">

      <div class="sheet-small-label">
        <span class="sheet-en">Crit Range</span>
        <span class="sheet-de">Crit Range</span>
        <span class="sheet-fr">Coup Crit</span>
        <span class="sheet-ru">Крит при</span>
      </div>
    </div>
  </div>
</div>
