-
  const noteBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{notes}}}',
    '{{^{note_name}=@{note_name}}}',
    '{{^{note_description}=@{note_description}}}',
  ].join(' ');

  data.common.notes = {
    broadcast: noteBroadcast,
    repeating: [
      {
        name: 'note_name',
        label: 'Note',
        placeholder: "broke mom's trust",
        type: 'text',
        blockName: 'notes',
      },
      {
        name: 'note_description',
        label: 'Description',
        placeholder: 'Description',
        type: 'textarea',
        blockName: 'notes',
      },
    ],
  }
