-
  const trackBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=@{track_display}}}',
    '{{^{track_name}=@{track_name} (@{track_completed}/@{track_size})}}',
    //- '{{^{track_progress}=@{track_completed}/@{track_size}}}',
    '{{^{track_description}=@{track_description}}}',
  ].join(' ');

  data.common.tracks = {
    hidden: [
      { name: 'track_completed', label: 'Completed', type: 'hidden', blockName: 'tracks' },
      { name: 'track_size', label: 'Size', type: 'hidden', blockName: 'tracks' },
      { name: 'track_display', label: 'Progress Track', type: 'hidden', blockName: 'tracks' },
    ],
    broadcast: trackBroadcast,
    track: {
      letter: { name: 'track_letter', label: 'Track', type: 'hidden', blockName: 'tracks' },
      marker: { name: 'track_marker', label: 'Track', type: 'checkbox', blockName: 'tracks' },
    },
    repeating: [
      {
        name: 'track_name',
        label: 'Track',
        placeholder: "SKATE",
        type: 'text',
        blockName: 'tracks',
      },
      //- {
      //-   name: 'track_size',
      //-   label: 'Size',
      //-   options: [
      //-     { name: 'custom', text: 'Custom', selected: true },
      //-     { name: 'four', value: '4', text: '4 (four)' },
      //-     { name: 'six', value: '6', text: '6 (six)' },
      //-     { name: 'eight', value: '8', text: '8 (eight)' },
      //-     { name: 'ten', value: '10', text: '10 (ten)' },
      //-     { name: 'twelve', value: '12', text: '12 (twelve)' },
      //-   ],
      //-   type: 'select',
      //-   blockName: 'tracks',
      //- },
      {
        name: 'track_description',
        label: 'Description',
        placeholder: 'Description',
        type: 'textarea',
        blockName: 'tracks',
      },
    ]
  }
