- 
  var pages = [
    { id: '1', text: 'Summary' },
    { id: '2', text: 'Vows' },
    { id: '3', text: 'Bonds' },
    { id: '4', text: 'Proficiencies' }
  ]

div.sheet-nav-bar
  each page in pages 
    div.sheet-nav-child
      label.sheet-page-label
        input(type='radio' name='attr_character_page_button' class='sheet-hide sheet-page-button' value=page.id)
        div.sheet-page-button-back=page.text
