- 
  var pages = [
    { id: 'summary', text: 'Summary' },
    { id: 'vows', text: 'Vows' },
    { id: 'bonds', text: 'Bonds' },
    { id: 'proficiencies', text: 'Proficiencies' }
  ]

div.sheet-nav-bar
  each page in pages 
    div.sheet-nav-child
      label.sheet-page-label
        input(type='checkbox' name=`attr_ironcrunch_${page.id}_button` class='sheet-hide sheet-page-button')
        div.sheet-page-button-back=page.text
