.charsheet {
    background: url('http://i.imgur.com/v0NDtfd.jpg');
}

.sheet-headerstyle {
    font-family: Courier;
    color: Yellow;
    text-align: center
}

.sheet-basictable {
    border: 5px blue;
    background-color: white;
    padding: 15px;
    color: #003b6f;
    text-shadow: 0px 0px 2px black, 0px 0px 5px #D3D3D3;
}

input:focus { 
    background-color: #D3D3D3;
}
input:focus { 
    box-shadow: #003b6f;
}
input:focus { 
   border: 1px #003b6f;
}
textarea:focus {
    background-color: #D3D3D3;
}
