/* Configure Tab Buttons */
.sheet-main,
.sheet-NPC {
    display: none;
}

.sheet-break {
    box-align:center;
    height:6px;
    width:90%;
    background-color:#000000;
}
.sheet-minorbreak{
    box-align:center;
    height:1px;
    width:90%;
    background-color:#000000;
}
.sheet-heartbix{
    background: red;
}

.sheet-dieingnumber{
    border: 0px none;
    outline: 0px none;
    padding-top: 60px;
    padding-bottom:25px;
    text-align: center;
    width: 90px;
    height: 90px;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/DIEING.png);
}
.sheet-heartnumber{
    border: 0px none;
    outline: 0px none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 90px;
    height: 90px;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    background: no-repeat center/50% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/fullheart.png);
}

.sheet-shieldnumber{
    border: 0px none;
    outline: 0px none;
    padding-top: 60px;
    padding-bottom:25px;
    text-align: center;
    width: 90px;
    height: 90px;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/DEFENSE.png);
}
.sheet-heronumber{
    border: 0px none;
    outline: 0px none;
    padding-top: 60px;
    padding-bottom:25px;
    text-align: center;
    width: 90px;
    height: 90px;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/HERO.png);
}

.sheet-NPC-dienumber{
    border: 0px none;
    outline: 0px none;
    padding-top: 30px;
    padding-bottom:30px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: normal;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d20.png);
}
.sheet-NPC-dienumber_d4{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: normal;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d4.png);
}
.sheet-NPC-dienumber_d6{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: normal;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d6.png);
}
.sheet-NPC-dienumber_d8{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: normal;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d8.png);
}
.sheet-NPC-dienumber_d10{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: normal;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d10.png);
}
.sheet-NPC-dienumber_d12{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: normal;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d12.png);
}

.sheet-dienumber{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 90px;
    height: 90px;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d20.png);
}
.sheet-dienumber_d4{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-weight: bold;
    font-size: large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d4.png);
}
.sheet-dienumber_d6{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-weight: bold;
    font-size: large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d6.png);
}
.sheet-dienumber_d8{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-weight: bold;
    font-size: large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d8.png);
}
.sheet-dienumber_d10{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-weight: bold;
    font-size: large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d10.png);
}
.sheet-dienumber_d12{
    border: 0px none;
    outline: 0px none;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-weight: bold;
    font-size: large;
    color: #000000;
    background: no-repeat center/80% url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ICRPG-MasterEdition/images/ICRPG_d12.png);
}


.sheet-header-image {
    background-color: transparent; /*transparent */
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/vaesen/images/VaesenLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.sheet-areaheader {
    text-align: left;
    font-style:bold;
    font-size:x-large;
    color:#ffffff;
    background-color:#000000;
}
.sheet-biglabel{
    padding-right:1em;
    color:#4a2e22;
}
.sheet-longtext {
    width: 30em;
}
.sheet-loottext {
    width: 20em;
    font-size: small;    
    border-left: 0px solid;    
    border-bottom: 2px solid;    
    border-right: 0px;    
    border-top: 0px;    
    border-color: black;
}
.sheet-NPCAbilitytext {
    width: 50em;
    font-size: normal;    
    border-left: 0px solid;    
    border-bottom: 2px solid;    
    border-right: 0px;    
    border-top: 0px;    
    border-color: black;
}
.sheet-abilitiestext {
    width: 25em;
    font-size: small;    
    border-left: 0px solid;    
    border-bottom: 2px solid;    
    border-right: 0px;    
    border-top: 0px;    
    border-color: black;
}
.sheet-med2text{
    width:28em;
}
.sheet-medtext {
    width:20em;
}
.sheet-shorttext {
    width: 10em;
    font-weight:900;
    color: #000000;
    font-size: normal;    
    border-left: 0px solid;    
    border-bottom: 2px solid;    
    border-right: 0px;    
    border-top: 0px;    
    border-color: black;
}
.sheet-attributebonusinputtext{
    font-size: x-small;
    color: #999999;
    padding-top: -5px;
    border-left: 0px solid;
    border-bottom: 2px solid;
    border-right: 0px;
    border-top: 0px;
    border-color: #999999;
}
.sheet-attributebonuslabel{
    font-size: x-small;
    color: #999999;
}
.sheet-rollbuttonlabel{
    font-size: small;
    font-weight: bold;
}

.sheet-tinytext {
    width: 5em;
    font-size: small;
    border-left: 0px solid;
    border-bottom: 2px solid;
    border-right: 0px;
    border-top: 0px;
    border-color: black;
}
.sheet-vaesentextarea{
    height:30px;
    resize: none;
}
.sheet-attribtext {
    width: 3em;
    font-size: small;
    border-left: 0px solid;
    border-bottom: 2px solid;
    border-right: 0px;
    border-top: 0px;
    border-color: black;
}
.sheet-attriblabel {
    font-size: small;
}

.sheet-attribtable {
    font-weight: bold;
    padding: 5px;
    font-size: large;
    color: #000000;
}
.sheet-attribtable2 {
    font-weight: bold;
    border-collapse: collapse;
    padding: 0px;
    font-size: large;
    color: #000000;
}



.sheet-nametext{
    width: 500px;
    font-size:xx-large;
    color:#000000;
    font-style:italic;
    border-left: 0px solid;
    border-bottom: 2px solid;
    border-right: 0px;
    border-top: 0px;
    border-color: black;
}
.sheet-headertext {
    font-size: small;
    border-left: 0px solid;
    border-bottom: 2px solid;
    border-right: 0px;
    border-top: 0px;
    border-color: black;
    width: 12em;
}

.sheet-resourcetext{
    width: 50px;
    font-size:xx-large;
    text-align:center;
    color:#4a2e22;
}
.sheet-widebutton{
    width:50px;
}
.sheet-attribselect{
    width:100px;
}

/* PC-GridAreas*/
.sheet-icrpgheader{
    grid-area:header-image;
}

.sheet-characterheader {
    grid-area: header-name;
}
.sheet-gamelogo{
    grid-area: logo;
}
.sheet-characterattributes {
    grid-area: stats-left;
}
.sheet-charactereffort{
    grid-area: effort-right
}
.sheet-characterabilities {
    grid-area: abilities;
}
.sheet-centerline{
    grid-area: centerrules;
}
.sheet-characterloot {
    grid-area: loot;
}
.sheet-characterdefense{
    grid-area: defense;
}
.sheet-charactermastery{
    grid-area:mastery;
}

/*MAIN Blood & Snow*/
.sheet-tabstoggle[value="main"] ~ div.sheet-main {
    display: grid;
    grid-template-columns: [gutter] 10px [Body-Left] auto [centerline] 45px [Body-Right] auto [gutter] 10px;
    grid-template-rows: [header] auto [Name] auto [stats] auto [mastery] auto [loot] auto [gutter] 10px;
    grid-template-areas:
        ". header-image header-image header-image ."
        ". header-name header-name logo ."
        ". stats-left effort-right effort-right ."
        ". mastery mastery mastery ."
        ". loot loot abilities ."
         ". . . . .";
    grid-gap: 10px;
    background-image: url(""); /*Desaturated Paper Teture*/
    background-repeat: repeat;
    background-size: contain;
}

/* NPC-GridAreas */
.sheet-NPCName {
    grid-area: NPC-name;
}
.sheet-NPCAbilities {
    grid-area: NPC-Abilities;
}
.sheet-NPCAttributes {
    grid-area: NPC-attributes;
}
.sheet-NPCActions {
    grid-area: NPC-actions;
}

/*NPC Sheet Layout*/
.sheet-tabstoggle[value="NPC"] ~ div.sheet-NPC {
    display: grid;
    grid-template-columns: [gutter] 10px [Body] auto [actions] auto [gutter] 10px;
    grid-template-rows: [header] auto [Name] auto [attribs] auto [abilities] auto [gutter] 5px;
    grid-template-areas:
        ". header-image header-image ."
        ". NPC-name NPC-actions ."
        ". NPC-attributes NPC-attributes ."
        ". NPC-Abilities NPC-abilities. "
        ". . . .";
    grid-gap: 10px;
    background-image: url(""); /*Desaturated Paper Teture*/
    background-repeat: repeat;
    background-size: contain;
}

/*d20Roll Template*/
.sheet-rolltemplate-ICRPG-d20 div.sheet-ICRPG-container {
	/*border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;*/
    background-color:#ffffff;
	background-image: url(); /*Desaturated Paper Teture*/
    background-size: cover;
}

.sheet-rolltemplate-ICRPG-d20 .sheet-ICRPG-header{
    text-align: center;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style:italic;
    font-size:x-large;
    font-weight: bold;
    color:#000000;
}
.sheet-rolltemplate-ICRPG-d20 .sheet-ICRPG-subheader{
    text-align: center;
    background-color: #000000;
    padding: 5px;
    font-weight: bold;
    font-size:large;
    font-style:normal;
    color:#ffffff;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.sheet-rolltemplate-ICRPG-d20 .sheet-ICRPG-type{
    border-bottom: 1px solid black;
    text-align: center;
	padding: 5px;
	font-weight: bold;
	color:#000000;
}

/*effort Template*/
.sheet-rolltemplate-ICRPG-effort div.sheet-ICRPGe-container {
	/*border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;*/
    background-color:#ffffff;
	background-image: url(); /*Desaturated Paper Teture*/
    background-size: cover;
}

.sheet-rolltemplate-ICRPG-effort .sheet-ICRPGe-header{
    text-align: center;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style:italic;
    font-size:x-large;
    font-weight: bold;
    color:#000000;
}
.sheet-rolltemplate-ICRPG-effort .sheet-ICRPGe-subheader{
    text-align: center;
    background-color: #CA3627;
    padding: 5px;
    font-weight: bold;
    font-size:large;
    font-style:normal;
    color:#000000;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.sheet-rolltemplate-ICRPG-effort .sheet-ICRPGe-type{
    border-bottom: 1px solid black;
    text-align: center;
	padding: 5px;
	font-weight: bold;
	color:#000000;
}


/*NPC Roll Template*/
.sheet-rolltemplate-ICRPG-NPC div.sheet-ICRPGNPC-container {
	/*border: 2px solid #000 !important;
	border-radius: 3px 3px 3px 3px;*/
    background-color:#ffffff;
	background-image: url(); /*Desaturated Paper Teture*/
    background-size: cover;
}

.sheet-rolltemplate-ICRPG-NPC .sheet-ICRPGNPC-header{
    text-align: center;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style:italic;
    font-size:x-large;
    font-weight: bold;
    color:#000000;
}
.sheet-rolltemplate-ICRPG-NPC .sheet-ICRPGNPC-subheader{
    text-align: center;
    background-color: #D13A27;
    padding: 5px;
    font-weight: bold;
    font-size:large;
    font-style:normal;
    color:#000000;
}
.sheet-rolltemplate-ICRPG-NPC .sheet-ICRPGNPC-type{
    border-bottom: 1px solid black;
    text-align: center;
	padding: 5px;
	font-weight: bold;
	color:#000000;
}
/* No d20 */
button[type=roll].sheet-blankbutton::before {
  content: '';
  font-weight: normal;
  font-size: small;
}


