.charsheet input {
    display: inline-block;
    width: 165px;
}
.charsheet input.sheet-tiny {
    display: inline-block;
    width: 25px;
}
.charsheet input.sheet-short {
   display: inline-block;
   width: 3.5em;
}
.charsheet input.sheet-medium {
   display: inline-block;
   width: 115px;
}
.charsheet input[type="number"].sheet-tiny {
    display: inline-block;
    width: 23px;
}
    input[type="number"].sheet-tiny::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
    input[type="number"].sheet-nobut::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.charsheet input.sheet-tiny {
    display: inline-block;
    width: 25px;
}
.charsheet select.sheet-short{
    display: inline-block;
    margin: 0px 0px;
    width: 4.1em;
}
.charsheet input[type="checkbox"].left {
    float: left;
    margin: 5px 0px;
    width: 2px;
}
input.sheet-arrow
{
    float: left;
}

input.sheet-arrow:checked ~ div.sheet-body
{
    display: none;
}
/* Hide actual radio/checkbox */
input[type="radio"],
input[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio/checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Fake radio */
input[type="radio"] + span::before
{
    content: "";
    width: 12px;
    height: 12px;
    font-size: 24px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
input[type="radio"]:checked + span::before
{
    content: "•";
}

/* Fake checkbox */
input[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + span::before
{
    content: "✓";
}






/*----------- Tabs Setup -------------*/

/*this hides the contents of each tab by default*/
.charsheet div[class^="sheet-section"] { 	
	display: none;
}

/*this shows the tab content when the appropriate input field is selected*/
.charsheet input.sheet-tab1:checked ~ div.sheet-section-core,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-monster,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-equipment,
.charsheet input.sheet-tab4:checked ~ div.sheet-section-prof,
.charsheet input.sheet-tab5:checked ~ div.sheet-section-weapons,
.charsheet input.sheet-tab6:checked ~ div.sheet-section-rogue,
.charsheet input.sheet-tab7:checked ~ div.sheet-section-misc,
.charsheet input.sheet-tab8:checked ~ div.sheet-section-cantrip,
.charsheet input.sheet-tab9:checked ~ div.sheet-section-level1,
.charsheet input.sheet-tab10:checked ~ div.sheet-section-level2,
.charsheet input.sheet-tab11:checked ~ div.sheet-section-level3,
.charsheet input.sheet-tab12:checked ~ div.sheet-section-level4,
.charsheet input.sheet-tab13:checked ~ div.sheet-section-level5,
.charsheet input.sheet-tab14:checked ~ div.sheet-section-level6,
.charsheet input.sheet-tab15:checked ~ div.sheet-section-level7,
.charsheet input.sheet-tab16:checked ~ div.sheet-section-level8,
.charsheet input.sheet-tab17:checked ~ div.sheet-section-level9,
.charsheet input.sheet-tab18:checked ~ div.sheet-section-memorized,
.charsheet input.sheet-tab19:checked ~ div.sheet-section-extra{
	display: block;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	display: block;
}

/*this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else*/
.charsheet input.sheet-tab {
    	width: 100px;
    	height: 40px;
    	cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet span.sheet-tab {
	text-align: center;
    	display: inline-block;
	font-size: 12px;	
	background: #3396FF;
	color: black;
	font-weight: bold;
	border-radius: 4px;
	
	width: 100px;
    	height: 40px;
    	cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -101px;/*originally 91px*/
}

/*this modifies the span color once the radio button is selected so you know which tab is selected*/
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6,
.charsheet input.sheet-tab7:checked + span.sheet-tab7,
.charsheet input.sheet-tab8:checked + span.sheet-tab8,
.charsheet input.sheet-tab9:checked + span.sheet-tab9,
.charsheet input.sheet-tab10:checked + span.sheet-tab10,
.charsheet input.sheet-tab11:checked + span.sheet-tab11,
.charsheet input.sheet-tab12:checked + span.sheet-tab12,
.charsheet input.sheet-tab13:checked + span.sheet-tab13,
.charsheet input.sheet-tab14:checked + span.sheet-tab14,
.charsheet input.sheet-tab15:checked + span.sheet-tab15,
.charsheet input.sheet-tab16:checked + span.sheet-tab16,
.charsheet input.sheet-tab17:checked + span.sheet-tab17,
.charsheet input.sheet-tab18:checked + span.sheet-tab18,
.charsheet input.sheet-tab19:checked + span.sheet-tab19,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 {
    
    	background: #2c424e;
    	color: #bfc4c6;
	border-radius: 4px;
}
/*----------- End Tab Setup -----------*/