.charsheet {
    border: 2px solid black;
	width:825px;
	min-width:825px;
	min-height:400px;
	font-family: "Courier New, serif";
}

/* General Styles */

.charsheet input[type="text"], textarea{
	display: inline-block;
	color: black;
}
.charsheet textarea{
	border-left: black solid 1px;
	resize: none;
	box-sizing: border-box;
}

.charsheet button{
	text-align: left;
	color: black;
}
.charsheet button:hover{
	background: black;
	color: #968c6a;
	text-shadow: none;
}

.charsheet input:focus, .charsheet textarea:focus{
	outline: none;
}

.charsheet input[type=checkbox]{
	opacity: 0;
	margin-right: -1.5em;
	height: 1em;
	width: 1em;
}
.charsheet input[type=checkbox] + span:before{
	content: "❌";
	border: 2px solid black;
	height: 1em;
	width: 1em;
	color: #00000000;
	font-size: 1em;
}
.charsheet input[type=checkbox]:checked + span:before{
	color: #000000FF;
}

.charsheet .sheet-hidden {
	display:none;
}


/* PAGE 1 */
    
/* Layout */
.charsheet .sheet-container1 {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto;
  gap: 3px 2px;
  grid-template-areas:
    "logo bio bio bio"
	"skills skills powers powers"
    "integrity integrity integrity integrity"
}
.charsheet .sheet-logo {
	grid-area: logo;
	border: red solid 0px;
}
.charsheet .sheet-bio {
	grid-area: bio;
	grid-column: 2 / 5;
	border: purple dashed 0px;
}
.charsheet .sheet-skills { 
	grid-area: skills;
	grid-column: 1 / 3;	
	border: red dashed 0px;
}
.charsheet .sheet-powers { 
	grid-area: powers;
	grid-column: 3 / 5;	
	border: orange dashed 0px;	
}
.sheet-two_col_header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 10px;
}
.charsheet .sheet-bio1 {
	grid-area: bio1;
	border: black solid 0px;
}
.charsheet .sheet-integrity {
	grid-area: integrity;
	grid-column: 1 / 5;
	border: purple dashed 0px;
}
.charsheet .sheet-bio2 {
	grid-area: bio2;
	border: blue solid 0px;
}
.charsheet .sheet-bio3 {
	grid-area: bio3;
	border: red solid 0px;
}
.charsheet .sheet-basic4 {
	grid-area: basic4;
	border: black solid 0px;
}
.charsheet .sheet-basic5 {
	grid-area: basic5;
	border: blue solid 0px;
}
.charsheet .sheet-skills label {
	display: inline-block;
	vertical-align: top; 
	text-align: left; 
	width: 120px; 
	font-style: italic; 
	font-weight: bold; 
	margin: 0px; 
	border: 0px solid black
}


.charsheet .sheet-appearance {
	grid-area: appearance;
	margin-top:-13px;
	margin-bottom:10px;	
}
.charsheet .sheet-attributes { 
	grid-area: attributes; 
}
.charsheet .sheet-skills1 { 
	grid-area: skills1; 
}
.charsheet .sheet-skills2 { 
	grid-area: skills2; 
}

/* Hide actual dot/checkbox */
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 15px;
  cursor: pointer;
  z-index: 1;
  margin-top: 6px;
}

/* Styles common to fake dot and checkbox */
input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: middle;
  display: inline-block;
  vertical-align: middle;
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Styles unique to fake checkbox (unchecked) */
input[type="checkbox"] + span::before {
  position: relative;
  content: "";
  opacity: 0.25;
  width: 14px;
  height: 14px;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type="radio"].sheet-used + span::before {
  content: "✖";
  width: 12px;
  height: 12px;
  font-size: 12px;
  -moz-border-radius: 0%;
  -webkit-border-radius: 0%;
  border-radius: 0%;
}

input[type="radio"].sheet-rndused + span::before {
  content: "✖";
  width: 12px;
  height: 12px;
  font-size: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
input.sheet-zero + span::before {
  font-size: 12px;
  content: "✖";
  opacity: 0.25;
}

input[type="radio"].sheet-rndused2 + span::before {
  content: "✖";
  width: 12px;
  margin-left: 1px;
  height: 12px;
  font-size: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

input.sheet-DP1Spec + span::before,
input.sheet-DP2Spec + span::before,
input.sheet-DP3Spec + span::before,
input.sheet-DP4Spec + span::before,
input.sheet-DP5Spec + span::before {
  opacity: 1;
  margin-bottom: 10px;
}

input.sheet-zero:checked + span::before {
  opacity: 0;
}

input.sheet-zero:hover + span::before {
  opacity: 1;
}

/* Styles unique to fake checkbox (checked) */
input[type="checkbox"]:checked + span::before {
  content: "✖";
  color: #a00;
  -moz-box-shadow: 0 0 2px transparent;
  -webkit-box-shadow: 0 0 2px transparent;
  box-shadow: 0 0 2px transparent;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"]:checked ~ input[type="radio"] + span::before {
  content: "";
}

div.sheet-DP,
div.sheet-DP1,
div.sheet-DP2,
div.sheet-DP3,
div.sheet-DP4,
div.sheet-DP5 {
  display: inline;
}

input.sheet-DPSpec[type="checkbox"] + span::before {
  position: relative;
  content: "";
  opacity: 1;
  width: 14px;
  height: 14px;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input.sheet-DPSpec[type="checkbox"]:checked + span::before {
  content: "✖";
  color: #a00;
  -moz-box-shadow: 0 0 2px transparent;
  -webkit-box-shadow: 0 0 2px transparent;
  box-shadow: 0 0 2px transparent;
}

hr.sheet-break-line {
  height: 2px;
  border-width: 0;
  color: black;
  background-color: transparent;
  width: 80%
}
													
/* Details Button */
												
.charsheet button[type=roll].sheet-details::before {
	background-image: none;
	border: none;
	font-family: Pictos;
	content: "i";
	color: #aba9a4; 
}

.charsheet button[type=roll].sheet-details {
	background-image: none;
	background-color: white;
	height: 16px;
	border: none;
	padding: 0px;
	margin: -4px 0px 0px 0px;
}

select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.sheet-extrahealth{
	height: 17px;
	width: 14px;
	font-size: 15px;
	color: red;
	text-align: center;
	font-weight: bold;
	margin: none;
	padding: 0px;
}

/* Basic */
.charsheet .sheet-bio1 .sheet-label, .sheet-bio2 .sheet-label, .sheet-bio3 .sheet-label, .sheet-basic4 .sheet-label, .sheet-basic5 .sheet-label, .sheet-appearance .sheet-label {
	width: 70px;
}
.charsheet .sheet-bio input,  .sheet-bio2 input,  .sheet-bio3 input,  .sheet-basic5 input {
	width: 175px;
}
.charsheet .sheet-basic3 input {
	width: 450px;
}

/* Attributes */
.charsheet .sheet-attributes-header {
	color: Black;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	border: 0px blue solid;
}
.charsheet .sheet-attributes-header span {
	text-transform: uppercase;
}
.charsheet .sheet-subattributes-header {
	color: Black;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	border: 0px blue solid;
}
.charsheet .sheet-subattributes-header span {
	text-transform: uppercase;
}
.charsheet .sheet-attributes label {
	width: 54%;
	min-width: 33%;
	display: inline-block;
	font-size: 1.0em;
	text-align: left;
	border: 0px purple solid;
}
.charsheet .sheet-attributes label.base {
	width: 16px;
	height: 14px;
	display: inline;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	vertical-align: text-bottom !important;
	border: 0px red solid;
}


.charsheet .sheet-attributes label.other {
	width: 29%;
	min-width: 20%;
	font-size: 1.6em;
	display: inline-block;
	text-align: left;
	border: 0px red solid;
}

.charsheet .sheet-attributes label.afflict {
	width: 33%;
	min-width: 25%;
	display: inline-block;
	text-align: right;
	margin-left: 10%;
	font-size: 1.4em;
	border: 0px red solid;
}

.charsheet .sheet-attributes label.corrupt {
	width: 79.5%;
	min-width: 70%;
	display: inline-block;
	font-size: 1.6em;
	text-align: left;
	border: 0px red dashed;
}

.charsheet .sheet-attributes input.afflict {
	border: none; 
	border-bottom: 2px solid black; 
	text-transform: uppercase; 
	font-weight: bold; 
	width: 50%; 
	text-align: center;
	border-radius: 0%;
}
.charsheet .sheet-skill {	
	border: none; 
	border-bottom: 2px solid black; 
	text-transform: uppercase; 
	font-weight: 500; 
	font-size: 1.5em;
	width: 69%; 
	border-radius: 0%;
	text-align: left; 
	margin: 8px 8px 0px 0px; 
}
	
.charsheet .sheet-stunt {
	height: 16px !important;	
	border: none; 
	border-bottom: 2px solid black; 
	text-transform: capitalize; 
	font-weight: normal;
	margin-left: 20%;	
	width: 50%; 
	border-radius: 0%;
	text-align: left;
	vertical-align: text-bottom !important; /* yet it donesn't work */
}
	
.charsheet .sheet-qif {
	height: 16px !important;	
	border: none; 
	border-bottom: 2px solid black; 
	text-transform: capitalize; 
	font-weight: normal;
	margin-left: 4%;	
	width: 45%; 
	border-radius: 0%;
	text-align: left;
	vertical-align: text-bottom !important; /* yet it donesn't work */
}
.sheet-upper {
    text-transform: uppercase;
	font-weight: 500;
}
.sheet-capital {
    text-transform: capitalize;
}


.charsheet .sheet-trib{
	border: 2px #968c6a solid;
	width: 4em;
	margin: 8px 0px 0px -5px;
	display: inline-block;
}


.charsheet .sheet-attlabel select{
    width:115px;
	display: inline-block;
	background: #fff5;
	border: black solid 1px;
	border-top: none;
	border-left: none;
	border-radius: 0%;
	margin-bottom:0;
}

.charsheet .sheet-norm {
	display: inline-block; 
	vertical-align: top; 
	width: 185px;
	margin: 0px; 
	border: 0px solid black;
}

.charsheet .sheet-loyalty {
	display: inline-block; 
	vertical-align: top; 
	width: 100px;
	margin: 0px; 
	border: 0px solid black;
}
.charsheet .sheet-mod {
	display: inline-block; 
	vertical-align: top;
	text-align: center; 
	width: 50px; 
	height: 18px !important; /* Bad form, but can't locate specificty */
	margin: 0px; 
	border-bottom: 1px solid grey;
}	

.charsheet .sheet-comboAction {
	display: inline-block; 
	vertical-align: top; 
	text-align: center; 
	width: 290px; 
	font-style: normal; 
	font-weight: bold; 
	padding: 0px; 
}
.charsheet .sheet-comboType {
	display: inline-block; 
	vertical-align: top; 
	text-align: center; 
	width: 190px; 
	padding: 0px;
}
.charsheet .sheet-comboNation {
	display: inline-block; 
	vertical-align: top; 
	text-align: center; 
	width: 270px; 
	padding: 0px; 
	padding-right: 2px;
}
.charsheet .sheet-gray {
	background-color: rgb(229, 228, 226); 
}

/* CSS Wizardry */
.charsheet .sheet-columns {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.charsheet .sheet-columns > * {
  flex: 1;
}

.charsheet input[type=checkbox].sheet-toggle-show:not(:checked) ~ div.sheet-body,
.charsheet input[type=checkbox].sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}

.charsheet input[type=checkbox].sheet-toggle-show:checked + span:before,
.charsheet input[type=checkbox].sheet-toggle-hide:checked + span:before{
	color: Red;
}
/* End CSS Wizardry */



/* From https://stackoverflow.com/questions/75992689/change-the-label-background-color-when-a-checkbox-is-checked */
input[type="checkbox"] {
  display: none;
  /*height: 20px; */
  text-align: left;
  font-size: 1.0em /*!important*/;
}

input[type="checkbox"]:checked + label {
  color: DarkRed;
  /*height: 20px; */
  text-align: left;
  font-size: 1.0em /*!important*/;
}

/* Darkmode from Aborea - Don't know if needed */
body.sheet-darkmode button,
body.sheet-darkmode input,
body.sheet-darkmode optgroup,
body.sheet-darkmode select,
body.sheet-darkmode textarea,
body.sheet-darkmode .charsheet {
	color: #eee
}
body.sheet-darkmode .btn,
body.sheet-darkmode .btn.btn-default {
	color: #c8c3bc;
	text-shadow: rgba(24,26,27,.75) 0px 1px 1px;
	background-color: #1e2021;
	background-image: linear-gradient(#181a1b, #26292b);
	border-color: #3e4446 #3e4446 #43494c;
	box-shadow: rgba(24,26,27,.2) 0px 1px 0px inset,rgba(0,0,0,.05) 0px 1px 2px
}
body.sheet-darkmode .sheet-rolltemplate-check button {
    background-color: Brown ;
}


/* Buttons Styling */

.charsheet button[type=action].sheet-textButton,
.charsheet button[type=roll].sheet-textButton {
    background-color: transparent;
    color: black;
    border: none;
	height: 18px;
	width: 136px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
 }

.charsheet button[type=roll].sheet-textButton::before,
.charsheet button[type=action].sheet-textButton::before {
    content: "" !important;
}


button[type=action]:hover, button[type=roll]:hover {
	background-color: rgba(255,255,0,0.3)!important;
}
/*End Button Styling*/


/* Roll Template */

/* Check, Melee, Ranged Manifest Template */
.sheet-rolltemplate-check .sheet-container,
.sheet-rolltemplate-display .sheet-container,
.sheet-rolltemplate-complication .sheet-container {
	color: Black;
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-melee .sheet-container {
    background-color: rgb(153, 0, 0); /* Dark Red */
	color: rgb(255, 179, 179);        /* Light Red */
    border: 3px solid rgb(255, 179, 179);
    padding: 2px;
    width: 189px;
}											 
																														  
 
.sheet-rolltemplate-initiative .sheet-container {
    background-color: Thistle;
	color: Blue;
    border: 3px solid Blue;
    padding: 2px;
    width: 189px;
}


.sheet-rolltemplate-check .sheet-container h1,
.sheet-rolltemplate-display .sheet-container h1,
.sheet-rolltemplate-complication .sheet-container h1,
.sheet-rolltemplate-melee .sheet-container h1,
.sheet-rolltemplate-initiative .sheet-container h1{
	color: inherit;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-melee div,
.sheet-rolltemplate-initiative div,
.sheet-rolltemplate-complication div,
.sheet-rolltemplate-display div,
.sheet-rolltemplate-check div {
    padding: 2px;
}

.sheet-rolltemplate-complication span,
.sheet-rolltemplate-display span,
.sheet-rolltemplate-check span,
.sheet-rolltemplate-melee span,
.sheet-rolltemplate-initiative span {
    color: currentColor;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.4em;
    padding-left: 5px;
    text-align: left;
}

.sheet-rolltemplate-complication .sheet-subheader,
.sheet-rolltemplate-display .sheet-subheader,
.sheet-rolltemplate-check .sheet-subheader,
.sheet-rolltemplate-melee .sheet-subheader,
.sheet-rolltemplate-initiative .sheet-subheader {
	color: currentColor;
    font-size: 1em;
    font-style: italic;
}
										   
.sheet-rolltemplate-display .sheet-arrow-right,
.sheet-rolltemplate-check .sheet-arrow-right,
.sheet-rolltemplate-melee .sheet-arrow-right,
.sheet-rolltemplate-initiative .sheet-arrow-right {
    border-bottom: 3px solid transparent;
    border-left: 180px solid currentColor;
    border-top: 3px solid transparent;
}
.sheet-rolltemplate-complication .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid Crimson;
    border-top: 2px solid transparent;
}
											 
.sheet-rolltemplate-melee .sheet-tcat,
.sheet-rolltemplate-initiative .sheet-tcat,
.sheet-rolltemplate-complication .sheet-tcat,
.sheet-rolltemplate-display .sheet-tcat,
.sheet-rolltemplate-check .sheet-tcat {
    font-style: italic;
}


.sheet-rolltemplate-complication .inlinerollresult,
.sheet-rolltemplate-check .inlinerollresult  {
    /*background-color: #ffffff;*/
	background-color: LightGray !important;
    border: none;
}
.sheet-rolltemplate-initiative .inlinerollresult,
.sheet-rolltemplate-melee .inlinerollresult {
	color: Red;
    background-color: Yellow;
    border: none;
}

.sheet-rolltemplate-check .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-check .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-check .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}
/* End Check, Ranged, Initiative & Manifest templates*/
