datalist(id='nonweapon-proficiencies')
    each prof, name in data
        - let classes = prof.classes || ''
        if (prof.book !== 'PHB')
            - classes += (classes ? ', ' : '') + prof.book
        option(value=name)= classes