each discipline, disciplineName in data
    each tier, tierName in discipline
        datalist(id=`${disciplineName}-${tierName}`.toLowerCase())
            each power, powername in tier
                option(value=powername)