datalist(id=id)
    each prof, name in data
        - let classes = prof.classes || ''
        if (prof.book !== 'PHB')
            - classes += (classes ? ', ' : '') + prof.book
        option(value=name)= classes

datalist(id=`${id}-ff`)
    each prof, name in data
        option(value=name)