- let failureCheck = ''
- let arcWind = 'Arc'
if isPriest
    - failureCheck = '{{checkroll=[[1d100]]%}}{{checktarget=#REPLACE2#}}{{fail=The spell is expended with absolutely no effect whatsoever.}}'
    - arcWind = 'Wind'
fieldset(name="repeating_spells-#REPLACE0#" class="repeating_spells-#REPLACE0#")
    div(class="sheet-spell-line")
        table(class="sheet-default-header-first-row sheet-inline" style="flex-grow: 1")
            tr(class="sheet-collapse sheet-show-first")
                th Spell name
                th Range
                th Area of Effect
                th(colspan="2") Casting time
                th(colspan="2") Macro
            tr
                td(class="sheet-td-dynamic50")
                    input(type="text" name="attr_spell-name" title="@{repeating_spells-#REPLACE0#_$X_spell-name}" class="sheet-table-dynamic sheet-chrome" placeholder="Spell name" list="#REPLACE0#-spells")
                    input(type="text" name="attr_spell-name" title="@{repeating_spells-#REPLACE0#_$X_spell-name}" class="sheet-table-dynamic sheet-firefox" placeholder="Spell name" list="#REPLACE0#-spells-ff")
                    span
                td(class="sheet-td-dynamic25")
                    input(type="text" name="attr_spell-range" title="@{repeating_spells-#REPLACE0#_$X_spell-range}" class="sheet-table-dynamic" placeholder="Range")
                td(class="sheet-td-dynamic25")
                    input(type="text" name="attr_spell-aoe" title="@{repeating_spells-#REPLACE0#_$X_spell-aoe}" class="sheet-table-dynamic" placeholder="Area of Effect")
                td
                    input(type="text" name="attr_spell-cast-time" title="@{repeating_spells-#REPLACE0#_$X_spell-cast-time}" class="sheet-short" placeholder="Cast time")
                td
                    button(type="roll" name="roll_spell-init" title="@{repeating_spells-#REPLACE0#_$X_spell-init}" value!="/gmroll [[{[[1d10]]+(@{spell-cast-time})-(@{misc-mod}), 1}kh1]] [Initiative (@{spell-name})]&{tracker}") Initiative
                td
                    button(type="roll" name="roll_spell-template" title="%{repeating_spells-#REPLACE0#_$X_spell-template}" value!="#REPLACE1#&{template:2Espell}{{title=@{spell-name}}}{{splevel=@{spell-level}}}{{school=@{spell-school}}}{{sphere=@{spell-sphere}}}{{components=@{spell-components}}}{{time=@{spell-cast-time}}}{{range=@{spell-range}}}{{duration=@{spell-duration}}}{{aoe=@{spell-aoe}}}{{save=@{spell-saving-throw}}}{{subtlety=@{spell-subtlety}}}{{sensory=@{spell-sensory}}}{{knockdown=@{spell-knockdown}}}{{crit=@{spell-crit-size}}}{{damage=@{spell-damage}}}{{damagetype=@{spell-damage-type}}}{{healing=@{spell-healing}}}{{reference=@{spell-reference}}}{{materials=@{spell-materials}}}"+failureCheck+"{{effects=@{spell-effect}}}") T
                |
                | insert_fold-button.html
        table(class="sheet-default-header-first-row sheet-spell-slots sheet-hidden")
            tr(class="sheet-collapse sheet-show-first")
                td Cast
                td
                td Memorized
            tr
                td
                    input(type="number" name="attr_spell-cast-value" title="@{repeating_spells-#REPLACE0#_$X_spell-cast-value}" class="sheet-short" value="0")
                td(class="sheet-centering-padding-5") /
                td
                    input(type="number" name="attr_spell-memorized" title="@{repeating_spells-#REPLACE0#_$X_spell-memorized}" class="sheet-table-dynamic" value="0")
        table(class="sheet-default-header-first-row sheet-spell-points sheet-hidden")
            tr(class="sheet-collapse sheet-show-first")
                td Spell Points Used
            tr
                td
                    input(type="number" name="attr_spell-points" title="@{repeating_spells-#REPLACE0#_$X_spell-points}" class="sheet-table-dynamic" value="0")
        table(class="sheet-default-header-first-row sheet-spell-arcs-winds sheet-hidden")
            tr(class="sheet-collapse sheet-show-first")
                td #{arcWind}s Used
            tr
                td
                    input(type="number" name="attr_spell-"+arcWind.toLowerCase() title="@{repeating_spells-#REPLACE0#_$X_spell-"+arcWind.toLowerCase()+"}" class="sheet-table-dynamic" value="0")
    div(class="sheet-hidden sheet-fold")
        div(class="sheet-spell-fold")
            table(class="sheet-default-header-odd-column" style="align-self: flex-start")
                tr
                    th Level:
                    td(colspan="3")
                        input(type="text" name="attr_spell-level" title="@{repeating_spells-#REPLACE0#_$X_spell-level}" class="sheet-table-dynamic" placeholder="Spell level")
                tr
                    th School:
                    td
                        input(type="text" name="attr_spell-school" title="@{repeating_spells-#REPLACE0#_$X_spell-school}" class="sheet-spell-half" placeholder="School")
                    th Sphere:
                    td
                        input(type="text" name="attr_spell-sphere" title="@{repeating_spells-#REPLACE0#_$X_spell-sphere}" class="sheet-spell-half" placeholder="Sphere")
                tr
                    th Duration:
                    td
                        input(type="text" name="attr_spell-duration" title="@{repeating_spells-#REPLACE0#_$X_spell-duration}" class="sheet-spell-half" placeholder="Duration")
                    th Components:
                    td
                        input(type="text" name="attr_spell-components" title="@{repeating_spells-#REPLACE0#_$X_spell-components}" class="sheet-spell-half" placeholder="Components")
                tr
                    th Subtlety:
                    td
                        input(type="text" name="attr_spell-subtlety" title="@{repeating_spells-#REPLACE0#_$X_spell-subtlety}" class="sheet-spell-half" placeholder="Subtlety")
                    th(style="white-space: nowrap") Saving Throw:
                    td
                        input(type="text" name="attr_spell-saving-throw" title="@{repeating_spells-#REPLACE0#_$X_spell-saving-throw}" class="sheet-spell-half" placeholder="Saving Throw")
                tr
                    th Sensory:
                    td
                        input(type="text" name="attr_spell-sensory" title="@{repeating_spells-#REPLACE0#_$X_spell-sensory}" class="sheet-spell-half" placeholder="Sensory")
                    th Knockdown:
                    td
                        input(type="text" name="attr_spell-knockdown" title="@{repeating_spells-#REPLACE0#_$X_spell-knockdown}" class="sheet-spell-half" placeholder="[[d6]]")
                tr
                    th Critical:
                    td
                        input(type="text" name="attr_spell-crit-size" title="@{repeating_spells-#REPLACE0#_$X_spell-crit-size}" class="sheet-spell-half" placeholder="Large (1d3 hits)" list="spell-crit-size")
                        span
                    td(colspan="2" style="background-color: transparent;")
                        button(type="action" name="act_spell-crit2" class="btn sheet-action-button" title="%{repeating_spells-#REPLACE0#_$X_spell-crit2}") Critical Effect
                tr
                    th Damage:
                    td
                        textarea(name="attr_spell-damage" title="@{repeating_spells-#REPLACE0#_$X_spell-damage}" class="sheet-spell-half sheet-input-like" placeholder="[[Damage]]")
                    th Damage Type:
                    td
                        input(type="text" name="attr_spell-damage-type" title="@{repeating_spells-#REPLACE0#_$X_spell-damage-type}" class="sheet-spell-half" placeholder="Damage type" list="spell-damage-type")
                        span
                tr
                    th Healing:
                    td(colspan="3")
                        textarea(name="attr_spell-healing" title="@{repeating_spells-#REPLACE0#_$X_spell-healing}" class="sheet-table-dynamic sheet-input-like" placeholder="[[Healing]]")
                tr
                    th Reference:
                    td(colspan="3")
                        input(type="text" name="attr_spell-reference" title="@{repeating_spells-#REPLACE0#_$X_spell-reference}" class="sheet-table-dynamic" placeholder="Book Reference")
                tr
                    th Materials:
                    td(colspan="3")
                        textarea(name="attr_spell-materials" title="@{repeating_spells-#REPLACE0#_$X_spell-materials}" class="sheet-table-dynamic sheet-input-like" placeholder="Materials")
            textarea(name="attr_spell-effect" title="@{repeating_spells-#REPLACE0#_$X_spell-effect}" placeholder="Insert Spell effects." class="sheet-spell-effect")