/* MARK: Common CSS
*/
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

.sofia-sans-extra-condensed-normal {
	font-family: "Sofia Sans Extra Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.sofia-sans-extra-condensed-bold {
	font-family: "Sofia Sans Extra Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

select::-ms-expand {
	display: none;
}

.main select,
.main input,
.main label,
.main span {
	font-size: 11px;
	color: #3d3b26;
}

.standard_text {
	font-size: 11px;
	color: #3d3b26;
	height: min-content;
	font-family: "Sofia Sans Extra Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.freeform {
	text-align: left;
	text-wrap: wrap;
	width: 100%;
	height: auto;
	outline: none;
	border: none;
	resize: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	padding-left: 2px;
}

input[type=number] {
	text-align: center;
	width: 30px;
	appearance: textfield;
	-moz-appearance: textfield;
	height: min-content;
}

input[type=text],
select {
	width: 98%;
	height: 100%;
	border: none;
	background-color: transparent;
	border-radius: 0%;
	box-sizing: border-box;
}

input[type=text] {
	padding-left: 2px;
}

.alignRight {
	float: right;
}

.alignLeft {
	float: left;
}

.panel_title {
	background-color: #3d3b26;
	width: 98%;
	height: 25px;
	position: relative;
}

.panel_title::before {
	content: "";
	width: 0;
	height: 0;
	border-top: 6px solid #FEFEFE;
	border-right: 6px solid #3d3b26;
	position: absolute;
}

.panel_title::after {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 12px solid #FEFEFE;
	border-left: 15px solid #3d3b26;
	position: absolute;
	bottom: 0;
	right: 0;
}

.panel_title h2 {
	color: white;
	font-size: 17px;
	text-align: left;
	padding-left: 5px;
	line-height: 28px;
	font-family: "Sofia Sans Extra Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.panel_subtitle {
	background-color: #636052;
	width: 98%;
	height: 22px;
	position: relative;
}

.panel_subtitle::before {
	content: "";
	width: 0;
	height: 0;
	border-top: 3px solid #FEFEFE;
	border-right: 3px solid #636052;
	position: absolute;
}

.panel_subtitle::after {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 12px solid #FEFEFE;
	border-left: 18px solid #636052;
	position: absolute;
	bottom: 0;
	right: 0;
}

.panel_subtitle h3 {
	color: white;
	font-size: 15px;
	text-align: left;
	padding-left: 5px;
	line-height: 24px;
	font-family: "Sofia Sans Extra Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

input,
select,
textarea {
	padding: 0px;
}

input[type=text]:focus,
select:focus,
textarea:focus {
	outline: none;
}

input[type=checkbox] {
	opacity: 0;
	width: 16px;
	height: 16px;
	position: relative;
	top: 0px;
	left: 6px;
	margin: -10px;
	z-index: 1;
}

input[type=checkbox] + .double_circle {
	/* margin-right: 4px; */
    border: solid 2px black;
    border-radius: 50%;
    line-height: normal;
    text-align: center;
    display: inline-grid;
    vertical-align: middle;
    justify-items: center;
    align-items: center;
    
    width: 12px;
    height: 12px;
    content: "";
    
    background: #FEFEFE;
}

input[type=checkbox] + span.double_circle span {
	/* margin-right: 4px; */
    border: solid 1px black;
    border-radius: 50%;
    line-height: normal;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    width: 8px;
    height: 8px;
    content: "";
    
    background: #FEFEFE;
}

input[type="checkbox"]:checked + span.double_circle span {
    content: "";
    text-align: center;
    color: white;
    background-color: #245486;
}

input[type="checkbox"].burn:checked + span.double_circle span {
    content: "";
    text-align: center;
    color: white;
    background-color: #920505;
}

div.spaced input[type="checkbox"] + span.double_circle {
	margin-right: auto;
}

.panel-outline {
	border: 1px solid #3d3b26;
	border-top: none;
	border-top-left-radius: 50% 17%;
	border-top-right-radius: 50% 20%;
	border-bottom-left-radius: 5% 5%;
	border-bottom-right-radius: 5% 5%;
}

.panel-sub-outline {
	border: 1px solid #636052;
	border-top: none;
	border-top-left-radius: 50% 17%;
	border-top-right-radius: 50% 20%;
	border-bottom-left-radius: 5% 5%;
	border-bottom-right-radius: 5% 5%;
}

.repcontainer {
	height: min-content;
}

.repcontainer .repitem {
	margin-bottom: 2px;
}

/* -- Override roll20s -- */
.largedialog textarea {
	width: 100%;
	height: 99%;
	box-sizing: border-box;
	font-size: 11px;
}

/* Sheet toggle */
.tab_button {
	display: inline-block;
    width: 12%;
    background-color: #636052;
    border-radius: 1em 1em 0 0;
    font-size: 14px;
    border: 1px solid black;
    margin-right: -1px;
	text-align: center;
	color: white;
	position: relative;
	bottom: -15px;
}

.tab_button.active {
	background-color: white;
    font-weight: bold;
    border-bottom: none;
	color: black;
}

/* MARK: Character Sheet
*/
.character {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #FEFEFE;
	column-gap: 4px;
	grid-template-areas:
		"how_to_play  edges      aspects"
		"char_bg      skills     aspects"
		"milestones   languages  aspects"
		"drives       resources  aspects"
		"mires        resources  aspects"
		"mires        resources  temp_aspects";
	grid-template-columns: 30% 40% 30%;
	/* grid-template-rows: repeat(29, minmax(25px, max-content)); */
}

.character.active {
	display: grid;
}

.how_to_play {
	grid-area: how_to_play;
	display: grid;
	gap: 6px 4px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "h2p_title      h2p_title"
						 "to_roll        results";
	margin-bottom: 10px;
}

.how_to_play_title {
	grid-area: h2p_title;
	padding-bottom: 2px;
}

.to_roll {
	grid-area: to_roll;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: max-content;
	grid-template-areas: "to_roll_title to_roll_title"
}

.to_roll_title {
	grid-area: to_roll_title;
}

.results {
	grid-area: results;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: min-content;
	grid-template-areas: "results_title results_title"
}

.results_title {
	grid-area: results_title;
}

.char_bg {
	grid-area: char_bg;
	display: grid;
	gap: 0px;
	grid-template-columns: 50% 50%;
	grid-auto-rows: max-content;
	grid-template-areas: "char_bg_title char_bg_title"
						 "char_bg_info  char_bg_other";
	margin-bottom: 10px;
}

.char_bg_title {
	grid-area: char_bg_title;
}

.char_bg_info {
	grid-area: char_bg_info;
	display: grid;
	gap: 0px;
	grid-template-columns: 40% 60%;
	grid-auto-rows: max-content;
	justify-items: left;
	align-items: center;
}

.char_bg_other {
	grid-area: char_bg_other;
	display: grid;
	grid-template: "other_label"
					"other_text"
}

.char_bg label {
	display: inline;
	text-align: left;
	font-size: 14px;
	padding: 0;
}

.char_bg input[type=text],
.char_bg select {
	border-bottom: 1px solid black;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.milestones {
	grid-area: milestones;
	display: grid;
	background-color: #FEFEFE;
	grid-template-areas:
		"milestones_title milestones_title"
		"major  minor";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content;
	row-gap: 5px;
	column-gap: 6px;
	margin-bottom: 10px;
}

.milestones_title {
	display: grid;
	grid-area: milestones_title;
}

.major {
	display: grid;
	grid-area: major;
	gap: 0px;
	grid-auto-rows: max-content;
	grid-template-areas: "major_title major_title"
}

.major_title {
	display: grid;
	grid-area: major_title;
}

.minor {
	display: grid;
	grid-area: minor;
	gap: 0px;
	grid-auto-rows: max-content;
	grid-template-areas: "minor_title minor_title"
}

.minor_title {
	display: grid;
	grid-area: minor_title;
}

.drives {
	grid-area: drives;
	display: grid;
	gap: 0px;
	grid-auto-rows: max-content;
	grid-template-areas: "drives_title drives_title";
	margin-bottom: 10px;
}

.drives_title {
	display: grid;
	grid-area: drives_title;
}

.mires {
	grid-area: mires;
	display: grid;
	gap: 2px;
	grid-auto-rows: min-content;
	margin-bottom: 10px;
}

.mires input[type=text] {
	width: 98%;
	height: 100%;
	border: none;
	background-color: #FEFEFE;
	border-radius: 0%;
	box-sizing: border-box;
}

.mires_title {
	display: grid;
	grid-area: mires_title;
}

.mires_container {
	display: grid;
	gap: 0px;
	grid-template-columns: 80% 20%;
	justify-items: center;
	align-items: center;
	border: 1px solid #636052;
	border-top-right-radius: 50% 500%;
	border-bottom-right-radius: 50% 500%;
}

.edges {
	grid-area: edges;
	display: grid;
	background-color: #FEFEFE;
	gap: 0px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: min-content;
	grid-template-areas:
		"edgest  edgest  edgest"
		"edges1  edges2  edges3";
	margin-bottom: 10px;
}

.edges_title {
	display: grid;
	grid-area: edgest;
}

.edges1 {
	grid-area: edges1;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
}


.edges2 {
	grid-area: edges2;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
}

.edges3 {
	grid-area: edges3;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
}

.edges1 span,
.edges2 span,
.edges3 span {
	display: inline;
}

.edges .label {
	display: inline;
	text-align: left;
	font-size: 14px;
}

.skills {
	grid-area: skills;
	display: grid;
	background-color: #FEFEFE;
	gap: 1px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: min-content;
	grid-template-areas:
		"skillst  skillst  skillst"
		"skills1  skills2  skills3";
	margin-bottom: 10px;
}

.skills_title {
	display: grid;
	grid-area: skillst;
}

.skills1 {
	grid-area: skills1;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
}

.skills2 {
	grid-area: skills2;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
}

.skills3 {
	grid-area: skills3;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
}

.skills1 span,
.skills2 span,
.skills3 span {
	display: inline;
}

.skills .label {
	display: inline;
	text-align: left;
	font-size: 14px;
}

.skills button[type=roll] {   
    background-color: transparent;
    color: black;
    border: none;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
	text-align: left;
	padding: 0;
	margin: 0;   
}

.skills button[type=roll]:focus {
    outline: none;
}

.skills button[type=roll]::before {
    display: none;
}

.skills button[type=roll]:hover {
    color: #245486;
}

.languages {
	grid-area: languages;
	display: grid;
	background-color: #FEFEFE;
	gap: 1px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: min-content;
	grid-template-areas:
		"languagest  languagest"
		"languages1  languages2";
	margin-bottom: 10px;
}

.languages_title {
	display: grid;
	grid-area: languagest;
}

.languages1 {
	grid-area: languages1;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
}

.languages2 {
	grid-area: languages2;
	display: grid;
	gap: 0px;
	grid-template-columns: 1fr 1fr;
}

.languages1 span,
.languages2 span {
	display: inline;
}

.languages .label {
	display: inline;
	text-align: left;
	font-size: 14px;
}

.resources {
	grid-area: resources;
	display: grid;
	background-color: #FEFEFE;
	gap: 1px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"resourcest resourcest"
		"salvage   specimens"
		"whispers  charts";
	margin-bottom: 10px;
}

.resources_title {
	display: grid;
	grid-area: resourcest;
}

.salvage {
	display: grid;
	grid-area: salvage;
	gap: 0px;
	grid-auto-rows: max-content;
	grid-template-areas: "salvage_title salvage_title";
}

.salvage_title {
	display: grid;
	grid-area: salvage_title;
}

.specimens {
	display: grid;
	grid-area: specimens;
	gap: 0px;
	grid-auto-rows: max-content;
	grid-template-areas: "specimens_title specimens_title";
}

.specimens_title {
	display: grid;
	grid-area: specimens_title;
}

.whispers {
	display: grid;
	grid-area: whispers;
	gap: 0px;
	grid-auto-rows: max-content;
	grid-template-areas: "whispers_title whispers_title";
}

.whispers_title {
	display: grid;
	grid-area: whispers_title;
}

.charts {
	display: grid;
	grid-area: charts;
	gap: 0px;
	grid-auto-rows: max-content;
	grid-template-areas: "charts_title charts_title";
}

.charts_title {
	display: grid;
	grid-area: charts_title;
}

.aspects {
	display: grid;
	grid-area: aspects;
	max-width: 100%;
	min-width: 0;
	row-gap: 1px;
	height: min-content;
	grid-auto-rows: min-content;
	grid-template-areas: "aspectst";
	margin-bottom: 10px;
}

.aspects_title {
	display: grid;
	grid-area: aspectst;
}

.aspect_container {
	height: 75px;
	display: grid;
	grid-template:
		"name_label name_input name_source"
		"track_blank track_row track_row"
		"details_label details_input details_input";
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 20px 18px 37px;
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #858778;
	border-top-right-radius: 5% 15%;
	border-bottom-right-radius: 5% 15%;
}

.aspect_name_row {
	display: grid;
	grid-area: name_row;
}

.aspect_name_label {
	display: grid;
	grid-area: name_label;
	background-color: #858778;
	color: white;
}

.aspect_name_input {
	display: grid;
	grid-area: name_input;
	box-sizing: border-box;
	width: 100%;
}

.aspect_source {
	display: grid;
	grid-area: name_source;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.aspect_track {
	display: grid;
	grid-area: track_row;
	grid-template-columns: repeat(8, 10%);
	align-items: center;
	position: relative;
	right: 4px;
}

.aspect_track_blank {
	display: grid;
	grid-area: track_blank;
	background-color: #858778;
	color: white;
}

.aspect_details_label {
	display: grid;
	grid-area: details_label;
	background-color: #858778;
	color: white;
}

.aspect_details_input {
	display: grid;
	grid-area: details_input;
	resize: none;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	text-align: left;
	text-wrap: wrap;
}

.temp_aspects {
	display: grid;
	grid-area: temp_aspects;
	max-width: 100%;
	min-width: 0;
	row-gap: 1px;
	height: min-content;
	grid-auto-rows: min-content;
	grid-template-areas: "temp_aspects_title";
}

.temp_aspects_title {
	display: grid;
	grid-area: temp_aspects_title;
}

/* MARK: Ship Sheet
This is split into 8 columns and 29 rows to get the sizings correct
*/
.ship {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #FEFEFE;
	column-gap: 4px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(29, minmax(25px, max-content));
}

.ship.active {
	display: grid;
}

.conditions_stakes {
	display: grid;
	grid-area: 1 / 3 / 4 / 7;
	grid-template-areas: "conds conds stakes";
	column-gap: 4px;
	margin-bottom: 10px;
}

.conditions_panel {
	display: grid;
	grid-area: conds;
	gap: 0px;
	grid-auto-rows: max-content;
}

.stakes_panel {
	display: grid;
	grid-area: stakes;
	gap: 0;
	grid-template-areas:
		"stake_title stake_title"
		"used total"
}

.stakes_panel input[type=number] {
	width: 98%;
	height: 100%;
	border: none;
	background-color: transparent;
	border-radius: 0%;
	box-sizing: border-box;
}

.stake_title {
	display: grid;
	grid-area: stake_title;
}

.used_section {
	display: grid;
	grid-area: used;
}

.total_section::before {
	content: "";
	position: absolute;
	border-left: 1px solid black;
	height: 35px;
	transform: rotate(20deg);
	transform-origin: 0% 0%;
}

.total_section {
	display: grid;
	grid-area: total;
}

.name_panel {
	display: grid;
	grid-area: 1 / 1 / 4 / 3;
	margin-bottom: 10px;
}

.ratings_panel {
	display: grid;
	grid-area: 4 / 1 / 12 / 3;
	margin-bottom: 10px;
}

.rating_container {
	display: grid;
	height: min-content;
	gap: 0;
	grid-template-columns: 30% 70%;
	grid-template-rows: min-content;
	justify-items: left;
	align-items: center;
	border: 1px solid #636052;
	border-top-right-radius: 50% 500%;
	border-bottom-right-radius: 50% 500%;
}

.rating_name {
	background-color: #636052;
	color: white;
	width: 100%;
}

.rating_track {
	display: grid;
	grid-template-columns: repeat(6, 18%);
	width: 100%;
}

.design_panel {
	display: grid;
	grid-area: 12 / 1 / 30 / 3;
	margin-bottom: 10px;
	grid-auto-rows: min-content;
	height: min-content;
	row-gap: 5px;
}

.fittings_panel {
	display: grid;
	grid-area: 4 / 3 / 30 / 5;
	margin-bottom: 10px;
	grid-auto-rows: min-content;
	height: min-content;
	row-gap: 5px;
}

.undercrew_panel {
	display: grid;
	grid-area: 4 / 5 / 20 / 7;
	margin-bottom: 10px;
	grid-auto-rows: min-content;
	height: min-content;
}

.reputation_panel {
	display: grid;
	grid-area: 1 / 7 / 8 / 9;
	margin-bottom: 10px;
	grid-auto-rows: min-content;
	height: min-content;
	gap: 2px;
	grid-template-areas: "reptitle";
}

.reputation_panel input[type=text] {
	width: 98%;
	height: 100%;
	border: none;
	background-color: #FEFEFE;
	border-radius: 0%;
	box-sizing: border-box;
}

.reputation_title {
	display: grid;
	grid-area: reptitle;
}

.reputation_container {
	display: grid;
	gap: 0px;
	grid-template-columns: 76% 25%;
	justify-items: center;
	align-items: center;
	border: 1px solid #636052;
	border-top-right-radius: 50% 500%;
	border-bottom-right-radius: 50% 500%;
}

.cargo_and_passengers_panel {
	display: grid;
	grid-area: 8 / 7 / 20 / 9;
	margin-bottom: 10px;
}

.notes_section {
	display: grid;
	grid-area: 20 / 5 / 30 / 9;
	margin-bottom: 10px;
}