+tab({tabName:'npc',container:'article'})#npc
  include npc/_header.pug
  include npc/_basicStats.pug
  include npc/_skills.pug
  include npc/_weapons.pug
  include npc/_abilities.pug
  include npc/_gear.pug