include pc/_active_conditions.pug
+tab({tabName:'pc',container:'article'})#pc
  include pc/_conditions.pug
  include pc/_header.pug
  include pc/_basic_stats.pug
  include pc/_combat_stats.pug
  include pc/_skills.pug
  include pc/_gear.pug
  include pc/_weapons.pug
  include pc/_archetypes.pug
  include pc/_traits.pug
  include pc/_notes.pug