+hidden({name:'whisper',value:' '})
+tab({tabName:'settings',button:{class:'pictos',content:'y'},container:'article'})#settings
  h1(data-i18n='settings')
  +select-label({
    inputObj:{name:'character type',class:'underlined',trigger:{
      triggeredFuncs:['sheetTypeDisplay']
    }},
    spanObj:{'data-i18n':'character type'},
  })
    +option({'data-i18n':'pc',value:'pc',selected:''})
    +option({'data-i18n':'npc',value:'npc'})
  +select-label({
    inputObj:{name:'whisper',class:'underlined',trigger:{
      triggeredFuncs:['sheetTypeDisplay']
    }},
    spanObj:{'data-i18n':'whisper rolls to gm'},
  })
    +option({'data-i18n':'never',value:'',selected:''})
    +option({'data-i18n':'always',value:'/w gm '})