- const character = data.character;

main.character
  section.character__main
    section.character__col
      include ../pages/character/dicetray
      include ../pages/character/header
      include ../pages/character/slams
      include ../pages/character/gear

    section.character__col
      include ../pages/character/style
      include ../pages/character/attitude
      include ../pages/character/traits

    section.character__col
      include ../pages/character/trouble
      include ../pages/character/turbo
      include ../pages/character/signature
      include ../pages/character/mods
      include ../pages/character/components

  aside.character__blades
    +blade({ name: 'diary', title: 'Diary' })
      include ../pages/common/notes
      include ../pages/common/tracks

    +blade({ name: 'downtimes', title: 'Downtime'})
      include ../pages/character/downtime

    +blade({ name: 'epilogue', title: 'Epilogue'})
      include ../pages/character/legacy
      include ../pages/character/doom
