- const crew = data.crew;

main.crew
  section.crew__main
    section.crew__col
      include ../pages/crew/header
      include ../pages/crew/fractures
    section.crew__col
      include ../pages/crew/hype
      include ../pages/crew/style
      include ../pages/crew/fame

  aside.crew__blades
    +blade({ name: 'diary', title: 'Diary' })
      include ../pages/common/notes
      include ../pages/common/tracks
    +blade({ name: 'factions', title: 'Factions' })
      input(name='attr_load_factions', type='hidden', value='0')
      button.crew__action.crew--factions(name='act_load-factions', type='action')
        span(data-i18n='load_factions') Load Factions
      include ../pages/crew/factions
    //- +blade({ name: 'multiverse', title: 'The Multiverse' })
