+blob({ name: 'tophat'})
  +block('content')
    - const globalHeader = data.global.nav;
    //- h2.tophat__title(data-i18n='slugblaster') Slugblaster
    ul.nav
      each mode in globalHeader.actions
        li
          +action(mode).button--glitch
