- const options = data.options;

main.options
  section.options__main
    section.options__col
      .option.options__override-attitude
        - const { override, selects } = options.attitude;
        label(for=override.name)
          +field(override)
          span(data-i18n=override.name)= override.label
        .option__dropdowns--horizontal
          +hidden(override.name, 0).options-hide
          each field in selects
            .option__dropdown
              +field(field)
              label(data-i18n=field.name, for=field.name)= field.label

    aside
      .a-heartfelt-word
        span(data-i18n='you_are_small') You are small.
        <br><br>
        span(data-i18n='you_are_just_a_handful_of_parameters') You are just a handful of parameters in the infinite universe generator. A few numbers a quintillion decimal places down the encyclopedia wand. A blip on the timeline, a speck of cosmic dust.
        <br><br>
        span(data-i18n='you_are_also_big') You are also big.
        <br><br>
        span(data-i18n='your_intestines_are') Your intestines are the coil-structured megacity for trillions of bacteria. Whole dimensions are born and collapse in the quantum foam inside you every second. Your dad brings you up in every conversation.
        <br><br>
        span(data-i18n='you_are_someones_world') You are someone’s world.

      .sheet-version
        - const version = data.global.sheet_version;
        +field(version)
        span.visually-hidden(data-i18n=version.name)= version.label
        +span(version)
