<!-- Data lists -->
<datalist id="ability-scores">
    <option value="@{Strength}"></option>
    <option value="@{Dexterity}"></option>
    <option value="@{Constitution}"></option>
    <option value="@{Intelligence}"></option>
    <option value="@{Wisdom}"></option>
    <option value="@{Charisma}"></option>
</datalist>
<datalist id="sub-ability-scores">
    <option value="@{Strength}"></option>
    <option value="@{Stamina}"></option>
    <option value="@{Muscle}"></option>
    <option value="@{Dexterity}"></option>
    <option value="@{Aim}"></option>
    <option value="@{Balance}"></option>
    <option value="@{Constitution}"></option>
    <option value="@{Health}"></option>
    <option value="@{Fitness}"></option>
    <option value="@{Intelligence}"></option>
    <option value="@{Reason}"></option>
    <option value="@{Knowledge}"></option>
    <option value="@{Wisdom}"></option>
    <option value="@{Intuition}"></option>
    <option value="@{Willpower}"></option>
    <option value="@{Charisma}"></option>
    <option value="@{Leadership}"></option>
    <option value="@{Appearance}"></option>
</datalist>
<datalist id="races">
    <option value="Dwarf"></option>
    <option value="Elf"></option>
    <option value="Gnome"></option>
    <option value="Half-Elf"></option>
    <option value="Halfling"></option>
    <option value="Human"></option>
</datalist>
<datalist id="class-groups">
    <option value="Warrior"></option>
    <option value="Wizard"></option>
    <option value="Priest"></option>
    <option value="Rogue"></option>
    <option value="Psion"></option>
</datalist>
<datalist id="classes">
    <option value="Fighter">Warrior</option>
    <option value="Paladin">Warrior</option>
    <option value="Ranger">Warrior</option>
    <option value="Mage">Wizard</option>
    <option value="Abjurer">Wizard</option>
    <option value="Conjurer">Wizard</option>
    <option value="Diviner">Wizard</option>
    <option value="Enchanter">Wizard</option>
    <option value="Illusionist">Wizard</option>
    <option value="Invoker">Wizard</option>
    <option value="Necromancer">Wizard</option>
    <option value="Transmuter">Wizard</option>
    <option value="Cleric">Priest</option>
    <option value="Druid">Priest</option>
    <option value="Thief">Rogue</option>
    <option value="Bard">Rogue</option>
</datalist>
<datalist id="classes-ff">
    <option value="Fighter"></option>
    <option value="Paladin"></option>
    <option value="Ranger"></option>
    <option value="Mage"></option>
    <option value="Abjurer"></option>
    <option value="Conjurer"></option>
    <option value="Diviner"></option>
    <option value="Enchanter"></option>
    <option value="Illusionist"></option>
    <option value="Invoker"></option>
    <option value="Necromancer"></option>
    <option value="Transmuter"></option>
    <option value="Cleric"></option>
    <option value="Druid"></option>
    <option value="Thief"></option>
    <option value="Bard"></option>
</datalist>
<datalist id="player-movement">
    <option value="6">Dwarf/Gnome/Halfling</option>
    <option value="12">Human/Elf/Half-elf</option>
</datalist>
<datalist id="mount-movement">
    <option value="12">Draft Horse/Pony/Mule</option>
    <option value="15">Heavy Horse</option>
    <option value="18">Medium Horse</option>
    <option value="24">Light/Wild/Riding Horse</option>
</datalist>
<datalist id="level-select">
    <option value="@{level-class1}"></option>
    <option value="@{level-class2}"></option>
    <option value="@{level-class3}"></option>
    <option value="@{level-class4}"></option>
    <option value="@{level-class5}"></option>
</datalist>
<datalist id="psionic-discipline-macro">
    <option value="{1+ceil((@{level-class1}-1)/4),6}kl1">Psionics Handbook</option>
    <option value="{1+ceil((@{level-class1}-1)/4),5}kl1">PO: Skills & Powers</option>
</datalist>
<datalist id="psionic-science-macro">
    <option value="ceil({@{level-class1},20}kl1/2) + ({[[{@{level-class1},30}kl1-20]],0}kh1*2)"></option>
</datalist>
<datalist id="psionic-devotion-macro">
    <option value="1 + ({@{level-class1},4}kl1*2) + ({[[{@{level-class1},20}kl1-4]],0}kh1) + ({[[{@{level-class1},21}kl1-20]],0}kh1*2) + ({[[{@{level-class1},23}kl1-21]],0}kh1*3) + ({[[{@{level-class1},26}kl1-23]],0}kh1*4) + ({[[{@{level-class1},29}kl1-26]],0}kh1*5) + ({[[{@{level-class1},30}kl1-29]],0}kh1*10)"></option>
</datalist>
<datalist id="psionic-defense-mode-macro">
    <option value="{ceil(@{level-class1}/2),5}kl1"></option>
</datalist>
<datalist id="psionic-psp-macro">
    <option value="({@{Wisdom}-5,0}kh1*2)+({@{Intelligence}-15,0}kh1)+({@{Constitution}-15,0}kh1)+(@{level-class1}-1)*(@{Wisdom}-5)"></option>
</datalist>
<datalist id="rogue-backstab">
    <option value="2">Level 1-4</option>
    <option value="3">Level 5-8</option>
    <option value="4">Level 9-12</option>
    <option value="5">Level 13+</option>
</datalist>
<datalist id="rogue-skill-macros">
    <option value="30+(30*@{level-class1})">Thief</option>
    <option value="5+(15*@{level-class1})">Bard</option>
</datalist>
<datalist id="rogue-armor">
    <option value="Padded Armor">Thief/Bard</option>
    <option value="Studded Leather">Thief/Bard</option>
    <option value="Elven Chain Mail">Thief/Bard</option>
    <option value="Silenced Elven Chain Mail">Thief/Bard</option>
    <option value="Ring Mail">Bard</option>
    <option value="Hide Armor">Bard</option>
    <option value="Brigandine Armor">Bard</option>
    <option value="Scale Mail">Bard</option>
    <option value="Chain Mail">Bard</option>
    <option value="Hide Armor (Thief Disguise)"></option>
    <option value="Ring Mail (Thief Disguise)"></option>
    <option value="Chain Mail (Thief Disguise)"></option>
    <option value="Brigandine (Thief Disguise)"></option>
    <option value="Scale Mail (Thief Disguise)"></option>
    <option value="Splint Mail (Disguise)"></option>
    <option value="Banded Armor (Disguise)"></option>
    <option value="Plate Mail (Disguise)"></option>
    <option value="Bronze Plate Mail (Disguise)"></option>
    <option value="Field Plate (Disguise)"></option>
    <option value="Full Plate (Disguise)"></option>
</datalist>
<datalist id="rogue-armor-ff">
    <option value="Padded Armor"></option>
    <option value="Studded Leather"></option>
    <option value="Elven Chain Mail"></option>
    <option value="Silenced Elven Chain Mail"></option>
    <option value="Ring Mail"></option>
    <option value="Hide Armor"></option>
    <option value="Brigandine Armor"></option>
    <option value="Scale Mail"></option>
    <option value="Chain Mail"></option>
    <option value="Hide Armor (Thief Disguise)"></option>
    <option value="Ring Mail (Thief Disguise)"></option>
    <option value="Chain Mail (Thief Disguise)"></option>
    <option value="Brigandine (Thief Disguise)"></option>
    <option value="Scale Mail (Thief Disguise)"></option>
    <option value="Splint Mail (Disguise)"></option>
    <option value="Banded Armor (Disguise)"></option>
    <option value="Plate Mail (Disguise)"></option>
    <option value="Bronze Plate Mail (Disguise)"></option>
    <option value="Field Plate (Disguise)"></option>
    <option value="Full Plate (Disguise)"></option>
</datalist>
<datalist id="weapprof-macros">
    <option value="(4+floor(@{level-class1}/3))">Warrior</option>
    <option value="(1+floor(@{level-class1}/6))">Wizard</option>
    <option value="(2+floor(@{level-class1}/4))">Priest</option>
    <option value="(2+floor(@{level-class1}/4))">Rogue</option>
    <option value="(2+floor(@{level-class1}/5))">Psionic</option>
</datalist>
<datalist id="weapprof-penalty">
    <option value="-2">Warrior</option>
    <option value="-5">Wizard</option>
    <option value="-3">Priest</option>
    <option value="-3">Rogue</option>
    <option value="-4">Psionic</option>
</datalist>
<datalist id="prof-macros">
    <option value="(3+floor(@{level-class1}/3)+@{intlang})">Warrior</option>
    <option value="(4+floor(@{level-class1}/3)+@{intlang})">Wizard</option>
    <option value="(4+floor(@{level-class1}/3)+@{intlang})">Priest</option>
    <option value="(3+floor(@{level-class1}/4)+@{intlang})">Rogue</option>
    <option value="(3+floor(@{level-class1}/3)+@{intlang})">Psionic</option>
</datalist>
<datalist id="base-thac0">
    <option value="20"></option>
    <option value="(21-@{level-class1})">Warrior</option>
    <option value="(21-ceil(@{level-class1}/3))">Wizard</option>
    <option value="(22-(ceil(@{level-class1}/3)*2))">Priest</option>
    <option value="(21-ceil(@{level-class1}/2))">Rogue</option>
    <option value="(21-ceil(@{level-class1}/2))">Psionic</option>
</datalist>

<datalist id="languages">
    <option value="Common">Human/Dwarf/Elf/Gnome/Half-Elf/Halfling</option>
    <option value="Dwarven">Dwarf/Gnome/Halfling</option>
    <option value="Elvish">Elf/Half-Elf/Halfling</option>
    <option value="Gnome">Dwarf/Elf/Gnome/Half-Elf/Halfling</option>
    <option value="Halfling">Elf/Gnome/Half-Elf/Halfling</option>
    <option value="Gnoll">Elf/Half-Elf</option>
    <option value="Goblin">Dwarf/Elf/Gnome/Half-Elf/Halfling</option>
    <option value="Hobgoblin">Elf/Half-Elf</option>
    <option value="Kobold">Dwarf/Gnome</option>
    <option value="Orc">Dwarf/Elf//Half-Elf/Halfling</option>
    <option value="Common Burrowing mammals">Gnome</option>
    <option value="Deep tongue (under-common)">Dwarf</option>
    <option value="Drow">Dwarf</option>
    <option value="Troll">Dwarf</option>
    <option value="Ogre">Dwarf</option>
    <option value="Druidic">Druid</option>
    <option value="Centaurs">Druid</option>
    <option value="Dryads">Druid</option>
    <option value="Fauns">Druid</option>
    <option value="Dragons">Druid</option>
    <option value="Giants">Druid</option>
    <option value="Lizard men">Druid</option>
    <option value="Lizard men">Druid</option>
    <option value="Manticores">Druid</option>
    <option value="Nixies">Druid</option>
    <option value="Pixies">Druid</option>
    <option value="Sprites">Druid</option>
    <option value="Treants">Druid</option>
</datalist>
<datalist id="languages-ff">
    <option value="Common"></option>
    <option value="Dwarven"></option>
    <option value="Elvish"></option>
    <option value="Gnome"></option>
    <option value="Halfling"></option>
    <option value="Gnoll"></option>
    <option value="Goblin"></option>
    <option value="Hobgoblin"></option>
    <option value="Kobold"></option>
    <option value="Orc"></option>
    <option value="Common Burrowing mammals"></option>
    <option value="Deep tongue (under-common)"></option>
    <option value="Drow"></option>
    <option value="Troll"></option>
    <option value="Ogre"></option>
    <option value="Druidic"></option>
    <option value="Centaurs"></option>
    <option value="Dryads"></option>
    <option value="Fauns"></option>
    <option value="Dragons"></option>
    <option value="Giants"></option>
    <option value="Lizard men"></option>
    <option value="Manticores"></option>
    <option value="Nixies"></option>
    <option value="Pixies"></option>
    <option value="Sprites"></option>
    <option value="Treants"></option>
</datalist>

<datalist id="sphere-major">
    <option value="Combat, Divination, Healing, Protection">Paladin</option>
    <option value="All, Astral, Charm, Combat, Creation, Divination, Guardian, Healing, Necromantic, Protection, Summoning, Sun">Cleric</option>
    <option value="All, Astral, Charm, Combat, Creation, Divination, Guardian, Healing, Necromantic, Protection, Summoning">Cleric (PO: Spells & Magic)</option>
    <option value="All, Animal, Elemental (Earth, Air, Fire, Water), Healing, Plant, Weather">Druid</option>
    <option value="All, Animal, Elemental (Earth, Air, Fire, Water), Healing, Plant, Sun, Weather">Druid (PO: Spells & Magic)</option>
    <option value="All"></option>
    <option value="Animal"></option>
    <option value="Astral"></option>
    <option value="Charm"></option>
    <option value="Combat"></option>
    <option value="Creation"></option>
    <option value="Divination"></option>
    <option value="Elemental (Earth, Air, Fire, Water)"></option>
    <option value="Guardian"></option>
    <option value="Healing"></option>
    <option value="Necromantic"></option>
    <option value="Plant"></option>
    <option value="Protection"></option>
    <option value="Summoning"></option>
    <option value="Sun"></option>
    <option value="Weather"></option>
    <option value="Chaos">Tome of Magic</option>
    <option value="Law">Tome of Magic</option>
    <option value="Numbers">Tome of Magic</option>
    <option value="Thought">Tome of Magic</option>
    <option value="Time">Tome of Magic</option>
    <option value="Travelers">Tome of Magic</option>
    <option value="War">Tome of Magic</option>
    <option value="Wards">Tome of Magic</option>
</datalist>
<datalist id="sphere-major-ff">
    <option value="Combat, Divination, Healing, Protection">Paladin</option>
    <option value="All, Astral, Charm, Combat, Creation, Divination, Guardian, Healing, Necromantic, Protection, Summoning, Sun">Cleric</option>
    <option value="All, Astral, Charm, Combat, Creation, Divination, Guardian, Healing, Necromantic, Protection, Summoning">Cleric (PO: Spells & Magic)</option>
    <option value="All, Animal, Elemental (Earth, Air, Fire, Water), Healing, Plant, Weather">Druid</option>
    <option value="All, Animal, Elemental (Earth, Air, Fire, Water), Healing, Plant, Sun, Weather">Druid (PO: Spells & Magic)</option>
    <option value="All"></option>
    <option value="Animal"></option>
    <option value="Astral"></option>
    <option value="Charm"></option>
    <option value="Combat"></option>
    <option value="Creation"></option>
    <option value="Divination"></option>
    <option value="Elemental (Earth, Air, Fire, Water)"></option>
    <option value="Guardian"></option>
    <option value="Healing"></option>
    <option value="Necromantic"></option>
    <option value="Plant"></option>
    <option value="Protection"></option>
    <option value="Summoning"></option>
    <option value="Sun"></option>
    <option value="Weather"></option>
    <option value="Chaos"></option>
    <option value="Law"></option>
    <option value="Numbers"></option>
    <option value="Thought"></option>
    <option value="Time"></option>
    <option value="Travelers"></option>
    <option value="War"></option>
    <option value="Wards"></option>
</datalist>

<datalist id="sphere-minor">
    <option value="Animal, Plant">Ranger</option>
    <option value="Elemental (Earth, Air, Fire, Water)">Cleric</option>
    <option value="Elemental (Earth, Water)">Cleric (PO: Spells & Magic)</option>
    <option value="Divination">Druid</option>
    <option value="All"></option>
    <option value="Animal"></option>
    <option value="Astral"></option>
    <option value="Charm"></option>
    <option value="Combat"></option>
    <option value="Creation"></option>
    <option value="Divination"></option>
    <option value="Elemental (Earth, Air, Fire, Water)"></option>
    <option value="Guardian"></option>
    <option value="Healing"></option>
    <option value="Necromantic"></option>
    <option value="Plant"></option>
    <option value="Protection"></option>
    <option value="Summoning"></option>
    <option value="Sun"></option>
    <option value="Weather"></option>
    <option value="Chaos">Tome of Magic</option>
    <option value="Law">Tome of Magic</option>
    <option value="Numbers">Tome of Magic</option>
    <option value="Thought">Tome of Magic</option>
    <option value="Time">Tome of Magic</option>
    <option value="Travelers">Tome of Magic</option>
    <option value="War">Tome of Magic</option>
    <option value="Wards">Tome of Magic</option>
</datalist>
<datalist id="sphere-minor-ff">
    <option value="Animal, Plant">Ranger</option>
    <option value="Elemental (Earth, Air, Fire, Water)">Cleric</option>
    <option value="Elemental (Earth, Water)">Cleric (PO: Spells & Magic)</option>
    <option value="Divination">Druid</option>
    <option value="All"></option>
    <option value="Animal"></option>
    <option value="Astral"></option>
    <option value="Charm"></option>
    <option value="Combat"></option>
    <option value="Creation"></option>
    <option value="Divination"></option>
    <option value="Elemental (Earth, Air, Fire, Water)"></option>
    <option value="Guardian"></option>
    <option value="Healing"></option>
    <option value="Necromantic"></option>
    <option value="Plant"></option>
    <option value="Protection"></option>
    <option value="Summoning"></option>
    <option value="Sun"></option>
    <option value="Weather"></option>
    <option value="Chaos"></option>
    <option value="Law"></option>
    <option value="Numbers"></option>
    <option value="Thought"></option>
    <option value="Time"></option>
    <option value="Travelers"></option>
    <option value="War"></option>
    <option value="Wards"></option>
</datalist>

<datalist id="spell-crit-size">
    <option value="Medium (1 hit)"></option>
    <option value="Large (1d3 hits)"></option>
    <option value="Huge (1d4 hits)"></option>
    <option value="Gargantuan (1d6+1 hits)"></option>
</datalist>

<datalist id="spell-damage-type">
    <option value="Acid"></option>
    <option value="Cold"></option>
    <option value="Constriction"></option>
    <option value="Crushing"></option>
    <option value="Electricity"></option>
    <option value="Lightning"></option>
    <option value="Fire"></option>
    <option value="Impact"></option>
    <option value="Slashing"></option>
    <option value="Vibration"></option>
    <option value="Wounding"></option>
</datalist>

<!-- Monster sheet datalists -->
<datalist id="monster-frequency">
    <option value="Very rare (4%)"></option>
    <option value="Rare (11%)"></option>
    <option value="Uncommon (20%)"></option>
    <option value="Common (65%)"></option>
</datalist>
  
<datalist id="monster-intelligence">
    <option value="0 (Nonintelligent)"></option>
    <option value="1 (Animal)"></option>
    <option value="2-4 (Semi)"></option>
    <option value="5-7 (Low)"></option>
    <option value="8-10 (Average)"></option>
    <option value="11-12 (Very)"></option>
    <option value="13-14 (High)"></option>
    <option value="15-16 (Exceptional)"></option>
    <option value="17-18 (Genius)"></option>
    <option value="19-20 (Supra-genius)"></option>
    <option value="21+ (Godlike)"></option>
</datalist>

<datalist id="monster-size">
    <option value="T">Tiny (2' tall or less)</option>
    <option value="S">Small (2+' to 4')</option>
    <option value="M">Medium (4+' to 7')</option>
    <option value="L">Large (7+' to 12')</option>
    <option value="H">Huge (12+' to 25')</option>
    <option value="G">Gargantuan (25+')</option>
</datalist>

<datalist id="monster-morale">
    <option value="2 (Unreliable)"></option>
    <option value="3 (Unreliable)"></option>
    <option value="4 (Unreliable)"></option>
    <option value="5 (Unsteady)"></option>
    <option value="6 (Unsteady)"></option>
    <option value="7 (Unsteady)"></option>
    <option value="8 (Average)"></option>
    <option value="9 (Average)"></option>
    <option value="10 (Average)"></option>
    <option value="11 (Steady)"></option>
    <option value="12 (Steady)"></option>
    <option value="13 (Elite)"></option>
    <option value="14 (Elite)"></option>
    <option value="15 (Champion)"></option>
    <option value="16 (Champion)"></option>
    <option value="17 (Fanatic)"></option>
    <option value="18 (Fanatic)"></option>
    <option value="19 (Fearless)"></option>
    <option value="20 (Fearless)"></option>
</datalist>

<datalist id="monster-level-select">
    <option value="@{hitdice}"></option>
</datalist>