<rolltemplate class="sheet-rolltemplate-2Edefault">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>{{name}}</th>
                </tr>
                {{#subtitle}}
                <tr>
                    <th>{{subtitle}}</th>
                </tr>
                {{/subtitle}}
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                {{#allprops() desc desc1 desc2 name subtitle color}}
                <tr>
                    <td class="sheet-template-default-key">{{key}}</td>
                    <td class="sheet-template-default-value">{{value}}</td>
                </tr>
                {{/allprops() desc desc1 desc2 name subtitle color}}
                {{#desc}}
                <tr>
                    <td class="sheet-template-default-desc" colspan="2">{{desc}}</td>
                </tr>
                {{/desc}}
                {{#desc1}}
                <tr>
                    <td class="sheet-template-default-desc" colspan="2">{{desc1}}</td>
                </tr>
                {{/desc1}}
                {{#desc2}}
                <tr>
                    <td class="sheet-template-default-desc" colspan="2">{{desc2}}</td>
                </tr>
                {{/desc2}}
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Eattack">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>{{title}}</th>
                </tr>
                <tr>
                    <th>{{subtitle}}</th>
                </tr>
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                <tr>
                    <td colspan="3"><span class="weapon-used">{{weapon_used}}</span></td>
                </tr>
                <tr>
                    <td><b>S/M</b></td>
                    <td class="sheet-template-attack-image sheet-template-attack-ac" rowspan="2">{{ac_hit}}</td>
                    <td><b>L</b></td>
                </tr>
                <tr>
                    <td class="sheet-template-attack-image sheet-template-attack-dmg" rowspan="2">
                        {{#^rollWasCrit() ac_hit}}
                            {{dmg_s}}
                        {{/^rollWasCrit() ac_hit}}
                        {{#rollWasCrit() ac_hit}}
                            {{#crit_s}}{{crit_s}}{{/crit_s}}
                            {{^crit_s}}{{dmg_s}}{{/crit_s}}
                        {{/rollWasCrit() ac_hit}}
                    </td>
                    <td class="sheet-template-attack-image sheet-template-attack-dmg" rowspan="2">
                        {{#^rollWasCrit() ac_hit}}
                            {{dmg_l}}
                        {{/^rollWasCrit() ac_hit}}
                        {{#rollWasCrit() ac_hit}}
                            {{#crit_l}}{{crit_l}}{{/crit_l}}
                            {{^crit_l}}{{dmg_l}}{{/crit_l}}
                        {{/rollWasCrit() ac_hit}}
                    </td>
                </tr>
                <tr>
                    <td><b>AC Hit</b></td>
                </tr>
                {{#rollWasCrit() ac_hit}}
                insert_check-result.html_(success,CRITICAL HIT!,crit)
                {{/rollWasCrit() ac_hit}}

                {{#rollWasFumble() ac_hit}}
                insert_check-result.html_(failure,FUMBLE!,fumble)
                {{/rollWasFumble() ac_hit}}
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Espell">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>{{title}}</th>
                </tr>
                <tr>
                    <th>{{splevel}} * {{school}}</th>
                </tr>
                {{#sphere}}
                <tr>
                    <th>Priest Sphere: {{sphere}}</th>
                </tr>
                {{/sphere}}
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                <tr>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Range</span><br>{{range}}</td>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Components</span><br>{{components}}</td>
                </tr>
                <tr>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Duration</span><br>{{duration}}</td>
                    <td class="sheet-spell-c1" colspan="3">
                        {{#scroll}}
                        <span class="sheet-spell-prop">Reading Time</span>
                        {{/scroll}}
                        {{^scroll}}
                        <span class="sheet-spell-prop">Casting Time</span>
                        {{/scroll}}
                        <br>
                        {{time}}
                    </td>
                </tr>
                <tr>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Area of Effect</span><br>{{aoe}}</td>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Saving Throw</span><br>{{save}}</td>
                </tr>
                {{#subtlety}}
                {{#sensory}}
                <tr>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Casting Subtlety</span><br>{{subtlety}}</td>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Sensory Signature</span><br>{{sensory}}</td>
                </tr>
                {{/sensory}}
                {{/subtlety}}
                {{#subtlety}}
                {{^sensory}}
                <tr>
                    <td class="sheet-spell-c1" colspan="6"><span class="sheet-spell-prop">Casting Subtlety</span><br>{{subtlety}}</td>
                </tr>
                {{/sensory}}
                {{/subtlety}}
                {{^subtlety}}
                {{#sensory}}
                <tr>
                    <td class="sheet-spell-c1" colspan="6"><span class="sheet-spell-prop">Sensory Signature</span><br>{{sensory}}</td>
                </tr>
                {{/sensory}}
                {{/subtlety}}
                {{#knockdown}}
                {{#crit}}
                <tr>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Knockdown</span><br>{{knockdown}}</td>
                    <td class="sheet-spell-c1" colspan="3"><span class="sheet-spell-prop">Critical Strikes</span><br>{{crit}}</td>
                </tr>
                {{/crit}}
                {{/knockdown}}
                {{#knockdown}}
                {{^crit}}
                <tr>
                    <td class="sheet-spell-c1" colspan="6"><span class="sheet-spell-prop">Knockdown</span><br>{{knockdown}}</td>
                </tr>
                {{/crit}}
                {{/knockdown}}
                {{^knockdown}}
                {{#crit}}
                <tr>
                    <td class="sheet-spell-c1" colspan="6"><span class="sheet-spell-prop">Critical Strikes</span><br>{{crit}}</td>
                </tr>
                {{/crit}}
                {{/knockdown}}
                {{#damage}}
                <tr>
                    <td colspan="6" class="sheet-spell-c1"><span class="sheet-spell-prop">Damage: </span>
                        {{damage}}
                        {{#rollGreater() d2t 0}}{{d2}}{{/rollGreater() d2t 0}}
                        {{#rollGreater() d3t 0}}{{d3}}{{/rollGreater() d3t 0}}
                        {{#rollGreater() d4t 0}}{{d4}}{{/rollGreater() d4t 0}}
                        {{#rollGreater() d5t 0}}{{d5}}{{/rollGreater() d5t 0}}
                        {{#rollGreater() d6t 0}}{{d6}}{{/rollGreater() d6t 0}}
                        {{#rollGreater() d7t 0}}{{d7}}{{/rollGreater() d7t 0}}
                        {{#rollGreater() d8t 0}}{{d8}}{{/rollGreater() d8t 0}}
                        {{#rollGreater() d9t 0}}{{d9}}{{/rollGreater() d9t 0}}
                        {{#rollGreater() d10t 0}}{{d10}}{{/rollGreater() d10t 0}}
                        {{#rollGreater() d11t 0}}{{d11}}{{/rollGreater() d11t 0}}
                        {{#rollGreater() d12t 0}}{{d12}}{{/rollGreater() d12t 0}}
                        {{damagetype}}
                    </td>
                </tr>
                {{/damage}}
                {{#healing}}
                <tr>
                    <td colspan="6" class="sheet-spell-c1"><span class="sheet-spell-prop">Healing: </span>{{healing}}</td>
                </tr>
                {{/healing}}
                {{#reference}}
                <tr>
                    <td colspan="6" class="sheet-spell-c1"><span class="sheet-spell-prop">Reference: </span>{{reference}}</td>
                </tr>
                {{/reference}}
                {{#materials}}
                <tr>
                    <td colspan="6" class="sheet-spell-c1"><span class="sheet-spell-prop">Spell Materials: </span>{{materials}}</td>
                </tr>
                {{/materials}}
                {{#rollGreater() checktarget 0}}
                <tr class="sheet-check">
                    <td colspan="2">Roll</td>
                    <td colspan="2"></td>
                    <td colspan="2">Failure Target</td>
                </tr>
                <tr class="sheet-check">
                    <td colspan="2">{{checkroll}}</td>
                    <td colspan="2">&#62;</td>
                    <td colspan="2">{{checktarget}}</td>
                </tr>
                    {{#rollTotal() checkroll checktarget}}
                    insert_check-result.html_(failure,Failed!,fail)
                    {{/rollTotal() checkroll checktarget}}

                    {{#rollLess() checkroll checktarget}}
                    insert_check-result.html_(failure,Failed!,fail)
                    {{/rollLess() checkroll checktarget}}

                    {{#rollGreater() checkroll checktarget}}
                    insert_check-result.html_(success,Success!,success)
                    {{/rollGreater() checkroll checktarget}}
                {{/rollGreater() checktarget 0}}
                {{#effects}}
                insert_rolltemplate-effects.html
                {{/effects}}
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Eprotscroll">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>{{title}}</th>
                </tr>
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                <tr>
                    <td class="sheet-spell-c1"><span class="sheet-spell-prop">Reading Time</span><br/>{{time}}</td>
                    <td class="sheet-spell-c1"><span class="sheet-spell-prop">Duration</span><br/>{{duration}}</td>
                </tr>
                {{#reference}}
                <tr>
                    <td colspan="2" class="sheet-spell-c1"><span class="sheet-spell-prop">Reference:</span> {{reference}}</td>
                </tr>
                {{/reference}}
                {{#effects}}
                <tr>
                    <td colspan="2" class="sheet-spell-c2"><span class="sheet-spell-prop">Effects:</span> {{effects}}</td>
                </tr>
                {{/effects}}
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Esave">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>Save vs. {{savevs}}</th>
                </tr>
                <tr>
                    <th>for {{character}}</th>
                </tr>
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                <tr class="sheet-check">
                    <td>Roll</td>
                    <td></td>
                    <td>Target</td>
                </tr>
                <tr class="sheet-check">
                    <td>{{saveroll}}</td>
                    <td>&ge;</td>
                    <td>{{savetarget}}</td>
                </tr>
                {{#rollTotal() saveroll savetarget}}
                insert_check-result.html_(success,Success!,success)
                {{/rollTotal() saveroll savetarget}}

                {{#rollGreater() saveroll savetarget}}
                insert_check-result.html_(success,Success!,success)
                {{/rollGreater() saveroll savetarget}}

                {{#rollLess() saveroll savetarget}}
                insert_check-result.html_(failure,Failed!,fail)
                {{/rollLess() saveroll savetarget}}
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Echeck">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>{{checkvs}}</th>
                </tr>
                <tr>
                    <th>for {{character}}</th>
                </tr>
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                <tr class="sheet-check">
                    <td>Roll</td>
                    <td></td>
                    <td>Target</td>
                </tr>
                <tr class="sheet-check">
                    <td>{{checkroll}}</td>
                    <td>&le;</td>
                    <td>{{checktarget}}</td>
                </tr>
                {{#rollTotal() checkroll checktarget}}
                insert_check-result.html_(success,Success!,success)
                {{/rollTotal() checkroll checktarget}}

                {{#rollLess() checkroll checktarget}}
                insert_check-result.html_(success,Success!,success)
                {{/rollLess() checkroll checktarget}}

                {{#rollGreater() checkroll checktarget}}
                insert_check-result.html_(failure,Failed!,fail)
                {{/rollGreater() checkroll checktarget}}
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Einversecheck">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>{{checkvs}}</th>
                </tr>
                <tr>
                    <th>for {{character}}</th>
                </tr>
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                <tr class="sheet-check">
                    <td>Roll</td>
                    <td></td>
                    <td>Target</td>
                </tr>
                <tr class="sheet-check">
                    <td>{{checkroll}}</td>
                    <td>&#62;</td>
                    <td>{{checktarget}}</td>
                </tr>
                {{#rollTotal() checkroll checktarget}}
                insert_check-result.html_(failure,Failed!,fail)
                {{/rollTotal() checkroll checktarget}}

                {{#rollLess() checkroll checktarget}}
                insert_check-result.html_(failure,Failed!,fail)
                {{/rollLess() checkroll checktarget}}

                {{#rollGreater() checkroll checktarget}}
                insert_check-result.html_(success,Success!,success)
                {{/rollGreater() checkroll checktarget}}
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Egrenademiss">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>Grenade-like miss for {{name}}</th>
                </tr>
                <tr>
                    <td>
                        {{#rollTotal() direction 1}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram-1.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/rollTotal() direction 1}}
                        {{#rollTotal() direction 2}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram-2.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/rollTotal() direction 2}}
                        {{#rollTotal() direction 3}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram-3.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/rollTotal() direction 3}}
                        {{#rollTotal() direction 4}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram-4.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/rollTotal() direction 4}}
                        {{#rollTotal() direction 5}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram-5.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/rollTotal() direction 5}}
                        {{#rollTotal() direction 6}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram-6.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/rollTotal() direction 6}}
                        {{#rollTotal() direction 7}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram-7.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/rollTotal() direction 7}}
                        {{#rollBetween() direction 8 10}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram-8-10.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/rollBetween() direction 8 10}}
                        {{#^rollBetween() direction 1 10}}
                        <img src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/scatter-diagram.png" style="width: 100%;" alt="scatter diagram"/>
                        {{/^rollBetween() direction 1 10}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                <tr>
                    <td class="sheet-grenade-c1">Direction:</td>
                    <td class="sheet-grenade-c1">{{direction}}</td>
                </tr>
                <tr>
                    <td class="sheet-grenade-c1">Distance ({{distancename}}):</td>
                    <td class="sheet-grenade-c1">{{distance}} Feet</td>
                </tr>
                <tr>
                    <td class="sheet-grenade-c1 sheet-ignore-inlineroll">Direct Hit:<br>({{aoe}} Feet Diameter)</td>
                    {{#rollTotal() computed::hit 1}}
                    <td class="sheet-template-result sheet-template-success sheet-ignore-inlineroll">Hit!<br><span class="sheet-hit-text">{{hitdmg}}</span></td>
                    {{/rollTotal() computed::hit 1}}
                    {{#rollTotal() computed::hit 0}}
                    <td class="sheet-template-result sheet-template-failure sheet-ignore-inlineroll">Miss!<br><span class="sheet-miss-text">{{hitdmg}}</span></td>
                    {{/rollTotal() computed::hit 0}}
                </tr>
                <tr>
                    <td class="sheet-grenade-c1 sheet-ignore-inlineroll">Splash Hit:<br>({{aoesplash}} Feet Diameter)</td>
                    <!-- Direct hit is true -->
                    {{#rollTotal() computed::hit 1}}
                    <td class="sheet-template-result sheet-template-info sheet-ignore-inlineroll sheet-hit-text">Info<br><span class="sheet-miss-text">{{splashdmg}}</span></td>
                    {{/rollTotal() computed::hit 1}}

                    <!-- Direct hit is false -->
                    {{#rollTotal() computed::hit 0}}
                        {{#rollTotal() computed::splash 1}}
                        <td class="sheet-template-result sheet-template-success sheet-ignore-inlineroll">Hit!<br><span class="sheet-hit-text">{{splashdmg}}</span></td>
                        {{/rollTotal() computed::splash 1}}
                        {{#rollTotal() computed::splash 0}}
                        <td class="sheet-template-result sheet-template-failure sheet-ignore-inlineroll">Miss!<br><span class="sheet-miss-text">{{splashdmg}}</span></td>
                        {{/rollTotal() computed::splash 0}}
                    {{/rollTotal() computed::hit 0}}
                </tr>
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Epocrit">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th style="width: 50%">{{name}}</th>
                    <th rowspan="2">vs</th>
                    <th style="width: 50%">{{target}}</th>
                </tr>
                <tr>
                    <th>({{size}}{{#type}}, {{type}}{{/type}})</th>
                    <th>({{targetsize}})</th>
                </tr>
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                <tr>
                    <td>{{character}} lands a <strong>{{severity}}</strong> <em>{{attack}}</em></td>
                </tr>
                {{#damage}}
                <tr>
                    <td>Dealing {{multiplier}}: {{damage}} damage</td>
                </tr>
                {{/damage}}
                {{#hits}}
                <tr>
                    <td>
                        {{hits}}
                    </td>
                </tr>
                {{/hits}}
                {{#allprops() name size type target targetsize character severity attack multiplier damage hits grazed struck injured broken crushed severed minorbleeding majorbleeding severebleeding bleedingnote color}}
                <tr>
                    <td>
                        {{key}}
                        <br>
                        <br>
                        <p>
                            {{value}}
                        </p>
                    </td>
                </tr>
                {{/allprops() name size type target targetsize character severity attack multiplier damage hits grazed struck injured broken crushed severed minorbleeding majorbleeding severebleeding bleedingnote color}}
                <tr>
                    <td>
                        {{#grazed}}
                        <p class="sheet-template-injury">
                            <strong>Grazed, Singed, Chilled, Bruised</strong>
                            <br>
                            <span><u>Magical healing:</u> Cure light wounds</span>
                            <br>
                            <span>- Any magical healing capable of 4+ (fix and hp gained)</span>
                            <br>
                            <span><u>Natural healing:</u> As if 1d6 damage</span>
                        </p>
                        {{/grazed}}
                        {{#struck}}
                        <p class="sheet-template-injury">
                            <strong>Struck, Blistered</strong>
                            <br>
                            <span><u>Magical healing:</u> Cure light wounds</span>
                            <br>
                            <span>- Any magical healing capable of 5+ (fix and hp gained)</span>
                            <br>
                            <span><u>Natural healing:</u> As if 2d6 damage</span>
                        </p>
                        {{/struck}}
                        {{#injured}}
                        <p class="sheet-template-injury">
                            <strong>Injured, Burned, Frostbitten</strong>
                            <br>
                            <span><u>Magical healing:</u> Cure serious wounds</span>
                            <br>
                            <span>- Any magical healing capable of 10+ (fix and hp gained)</span>
                            <br>
                            <span><u>Natural healing:</u> As if 10d6 damage</span>
                        </p>
                        {{/injured}}
                        {{#broken}}
                        <p class="sheet-template-injury">
                            <strong>Broken</strong>
                            <br>
                            <span><u>Magical healing:</u> Cure serious wounds (fix only)</span>
                            <br>
                            <span><u>Natural healing:</u> As if 20d6 damage</span>
                            <br>
                            <span><u>Max hp reduction:</u> Arms 25%.</span>
                            <br>
                            <span>- Ribs, legs 50%.</span>
                            <br>
                            <span>- Other 75%</span>
                        </p>
                        {{/broken}}
                        {{#crushed}}
                        <p class="sheet-template-injury">
                            <strong>Crushed, Shattered, Frozen, Destroyed</strong>
                            <br>
                            <span><u>Magical healing:</u> Cure critical wounds</span>
                            <br>
                            <span>- Any magical healing capable of 20+ (fix only)</span>
                            <br>
                            <span><u>Natural healing:</u> Never</span>
                            <br>
                            <span><u>Max hp reduction:</u> Shoulders, hips, limbs 50%.</span>
                            <br>
                            <span>- Other 75%</span>
                            <br>
                            <span><u>Note:</u> Bones (if any) are considered Broken</span>
                        </p>
                        {{/crushed}}
                        {{#frozen}}
                        <p class="sheet-template-injury">
                            <u>Note:</u> A frozen result kills the affected tissue; without access to powerful healing magic, the victim must have a frozen limb removed within Id3 days to prevent lethal infection or gangrene.
                        </p>
                        {{/frozen}}
                        {{#severed}}
                        <p class="sheet-template-injury">
                            <strong>Severed, Dissolved, Incinerated</strong>
                            <br>
                            <span><u>Magical healing:</u> Regeneration spell</span>
                            <br>
                            <span><u>Natural healing:</u> Never</span>
                            <br>
                            <span><u>Max hp reduction:</u> Partial limb 25%.</span>
                            <br>
                            <span>- Complete limb 50%</span>
                            <br>
                            <span>
                                <u>Note:</u> Cannot independently move or attack for 2d10 weeks. At the DM's discretion, if "only" a hand or foot, limited actions can be performed after 1d6 rounds of being stunned, by passing a System Shock roll creatures with more than four libs (insects or octopus-like) are slightly more resistant to this sort of trauma and may fight after one or two rounds of being stunned.
                                <br>
                                If compensated with a wooden leg or hook, the hit point loss may be reduced by one step
                            </span>
                        </p>
                        {{/severed}}
                        {{#minorbleeding}}
                        <p class="sheet-template-injury">
                            <strong>Minor Bleeding</strong>
                            <br>
                            <span><u>Damage</u> 1d2 per full turn</span>
                            <br>
                            <span><u>Stop bleeding:</u> Any magical healing</span>
                            <br>
                            <span>- Save vs Death after every bleeding damage to naturally stop</span>
                            <br>
                            <span>- Bandages from any character (including the injured), 1d6 combat rounds or 1 one-minute round</span>
                        </p>
                        {{/minorbleeding}}
                        {{#majorbleeding}}
                        <p class="sheet-template-injury">
                            <strong>Major Bleeding</strong>
                            <br>
                            <span><u>Damage</u> 1d2 per combat round</span>
                            <br>
                            <span><u>Stop bleeding:</u> Cure light wounds</span>
                            <br>
                            <span>- Any 5+ magical healing (fix and hp gained)</span>
                        </p>
                        {{/majorbleeding}}
                        {{#severebleeding}}
                        <p class="sheet-template-injury">
                            <strong>Severe Bleeding</strong>
                            <br>
                            <span><u>Damage</u> 10-60% (1d6*10%) max hp per combat round</span>
                            <br>
                            <span><u>Stop bleeding:</u> Cure critical wounds stops the bleeding</span>
                            <br>
                            <span>- Cure serious wounds or any 10+ magical healing reduces bleeding to minor</span>
                            <br>
                            <span>- Cure light wound or any 5+ magical healing reduces bleeding to major</span>
                            <br>
                            <span>- Successful Healing proficiency check -4 reduces to major</span>
                        </p>
                        {{/severebleeding}}
                        {{#bleedingnote}}
                        <p class="sheet-template-injury">
                            Bleeding from several wounds is cumulative
                            <br>
                            All bleeding "stops" and becomes 1 hp per round once character hits 0 or less hp
                        </p>
                        {{/bleedingnote}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-2Epsionic">
    <div class="sheet-template-container">
        <div class="sheet-template-head {{color}}">
            <table>
                <tr>
                    <th>{{title}}</th>
                </tr>
                {{#discipline}}
                {{#tier}}
                <tr>
                    <th>{{discipline}} * {{tier}}</th>
                </tr>
                {{/tier}}
                {{/discipline}}
            </table>
        </div>
        <div class="sheet-template-body">
            <table>
                {{#powerscoretext}}
                <tr>
                    <td colspan="6" class="sheet-spell-c1"><span class="sheet-spell-prop">Power Score:</span> {{powerscoretext}}</td>
                </tr>
                {{/powerscoretext}}
                {{#initial}}
                {{#maintenance}}
                <tr>
                    <td colspan="3" class="sheet-spell-c1"><span class="sheet-spell-prop">Initial Cost</span><br>{{initial}}</td>
                    <td colspan="3" class="sheet-spell-c1"><span class="sheet-spell-prop">Maintenance Cost</span><br>{{maintenance}}</td>
                </tr>
                {{/maintenance}}
                {{/initial}}
                {{#range}}
                {{#aoe}}
                <tr>
                    <td colspan="3" class="sheet-spell-c1"><span class="sheet-spell-prop">Range</span><br>{{range}}</td>
                    <td colspan="3" class="sheet-spell-c1"><span class="sheet-spell-prop">Area of Effect</span><br>{{aoe}}</td>
                </tr>
                {{/aoe}}
                {{/range}}
                {{#prep}}
                {{#prereq}}
                <tr>
                    <td colspan="3" class="sheet-spell-c1"><span class="sheet-spell-prop">Preparation Time</span><br>{{prep}}</td>
                    <td colspan="3" class="sheet-spell-c1"><span class="sheet-spell-prop">Prerequisites</span><br>{{prereq}}</td>
                </tr>
                {{/prereq}}
                {{/prep}}
                {{#damage}}
                <tr>
                    <td colspan="6" class="sheet-spell-c1"><span class="sheet-spell-prop">Damage: </span>
                        {{damage}}
                        {{#rollGreater() d2t 0}}{{d2}}{{/rollGreater() d2t 0}}
                        {{#rollGreater() d3t 0}}{{d3}}{{/rollGreater() d3t 0}}
                        {{#rollGreater() d4t 0}}{{d4}}{{/rollGreater() d4t 0}}
                        {{#rollGreater() d5t 0}}{{d5}}{{/rollGreater() d5t 0}}
                        {{#rollGreater() d6t 0}}{{d6}}{{/rollGreater() d6t 0}}
                        {{#rollGreater() d7t 0}}{{d7}}{{/rollGreater() d7t 0}}
                        {{#rollGreater() d8t 0}}{{d8}}{{/rollGreater() d8t 0}}
                        {{#rollGreater() d9t 0}}{{d9}}{{/rollGreater() d9t 0}}
                        {{#rollGreater() d10t 0}}{{d10}}{{/rollGreater() d10t 0}}
                        {{#rollGreater() d11t 0}}{{d11}}{{/rollGreater() d11t 0}}
                        {{#rollGreater() d12t 0}}{{d12}}{{/rollGreater() d12t 0}}
                        {{damagetype}}
                    </td>
                </tr>
                {{/damage}}
                {{#healing}}
                <tr>
                    <td colspan="6" class="sheet-spell-c1"><span class="sheet-spell-prop">Healing: </span>{{healing}}</td>
                </tr>
                {{/healing}}
                {{#reference}}
                <tr>
                    <td colspan="6" class="sheet-spell-c1"><span class="sheet-spell-prop">Reference: </span>{{reference}}</td>
                </tr>
                {{/reference}}
                <tr class="sheet-check">
                    <td colspan="2">Roll</td>
                    <td colspan="2"></td>
                    <td colspan="2">Power Score</td>
                </tr>
                <tr class="sheet-check">
                    <td colspan="2">{{powerroll}}</td>
                    <td colspan="2">&le;</td>
                    <td colspan="2">
                        {{computed::powerscore}}{{#^rollTotal() powerscore computed::powerscore}}&ast;{{/^rollTotal() powerscore computed::powerscore}}
                        {{#rollGreater() powerscoreenhanced powerscore}}
                        -
                        {{computed::powerscoreenhanced}}{{#^rollTotal() powerscoreenhanced computed::powerscoreenhanced}}&ast;{{/^rollTotal() powerscoreenhanced computed::powerscoreenhanced}}
                        {{/rollGreater() powerscoreenhanced powerscore}}
                    </td>
                </tr>
                {{#rollGreater() powerscoreenhanced powerscore}}
                    {{#rollBetween() powerroll computed::powerscore computed::powerscoreenhanced}}
                    insert_check-result.html_(success,Power Score!,powerscoreeffect)
                    {{/rollBetween() powerroll computed::powerscore computed::powerscoreenhanced}}

                    {{#rollGreater() powerroll computed::powerscoreenhanced}}
                        {{#rollLess() powerscoreenhanced 20}}
                        {{#^rollTotal() powerroll 20}}
                        {{#^rollTotal() powerroll 1}}
                        insert_check-result.html_(failure,Failed!,fail)
                        {{/^rollTotal() powerroll 1}}
                        {{/^rollTotal() powerroll 20}}
                        {{/rollLess() powerscoreenhanced 20}}

                        {{#rollGreater() powerscoreenhanced 19}}
                        insert_check-result.html_(failure,Failed!,fail)
                        {{/rollGreater() powerscoreenhanced 19}}
                    {{/rollGreater() powerroll computed::powerscoreenhanced}}

                    {{#rollLess() powerscoreenhanced 20}}
                    {{#rollTotal() powerroll 20}}
                    insert_check-result.html_(failure,20 Negative effect!,20effect)
                    {{/rollTotal() powerroll 20}}
                    {{/rollLess() powerscoreenhanced 20}}

                    {{#rollTotal() powerroll 1}}
                    {{#rollLess() powerscoreenhanced 1}}
                    insert_check-result.html_(success,Success!,success)
                    {{/rollLess() powerscoreenhanced 1}}
                    {{/rollTotal() powerroll 1}}

                    {{#rollLess() powerroll computed::powerscore}}
                    insert_check-result.html_(success,Success!,success)
                    {{/rollLess() powerroll computed::powerscore}}
                {{/rollGreater() powerscoreenhanced powerscore}}

                <!--#region Regular Powers-->
                {{#^rollGreater() powerscoreenhanced powerscore}}
                    {{#rollTotal() powerroll computed::powerscore}}
                    insert_check-result.html_(success,Power Score!,powerscoreeffect)
                    {{/rollTotal() powerroll computed::powerscore}}

                    {{#rollGreater() powerroll computed::powerscore}}
                        {{#rollLess() powerscore 20}}
                        {{#^rollTotal() powerroll 20}}
                        {{#^rollTotal() powerroll 1}}
                        insert_check-result.html_(failure,Failed!,fail)
                        {{/^rollTotal() powerroll 1}}
                        {{/^rollTotal() powerroll 20}}
                        {{/rollLess() powerscore 20}}

                        {{#rollGreater() powerscore 19}}
                        insert_check-result.html_(failure,Failed!,fail)
                        {{/rollGreater() powerscore 19}}
                    {{/rollGreater() powerroll computed::powerscore}}

                    {{#rollTotal() powerroll 20}}
                    {{#rollLess() powerscore 20}}
                    insert_check-result.html_(failure,20 Negative effect!,20effect)
                    {{/rollLess() powerscore 20}}
                    {{/rollTotal() powerroll 20}}

                    {{#rollTotal() powerroll 1}}
                    {{#^rollTotal() powerscore 1}}
                    insert_check-result.html_(success,Minimum Success!,1effect)
                    {{/^rollTotal() powerscore 1}}
                    {{/rollTotal() powerroll 1}}

                    {{#rollLess() powerroll computed::powerscore}}
                    {{#^rollTotal() powerroll 1}}
                    insert_check-result.html_(success,Success!,success)
                    {{/^rollTotal() powerroll 1}}
                    {{/rollLess() powerroll computed::powerscore}}
                {{/^rollGreater() powerscoreenhanced powerscore}}
                <!--#endregion-->
                {{#effects}}
                insert_rolltemplate-effects.html
                {{/effects}}
            </table>
        </div>
    </div>
</rolltemplate>