{{#blindness}}
<tr>
    <td colspan="6" class="sheet-spell-c1">[Blindness](~{{character}}|blindness)</td>
</tr>
{{/blindness}}
{{#deafness}}
<tr>
    <td colspan="6" class="sheet-spell-c1">[Deafness](~{{character}}|deafness)</td>
</tr>
{{/deafness}}
{{#invisibility}}
<tr>
    <td colspan="6" class="sheet-spell-c1">[Invisibility](~{{character}}|invisibility) [Detect Invisibility](~{{character}}|detect-invisibility)</td>
</tr>
{{/invisibility}}
{{#continuing-damage}}
<tr>
    <td colspan="6" class="sheet-spell-c1">[Continuing Damage](~{{character}}|continuing-damage)</td>
</tr>
{{/continuing-damage}}
{{#magical-aging}}
<tr>
    <td colspan="6" class="sheet-spell-c1">[Magical aging](~{{character}}|magical-aging)</td>
</tr>
{{/magical-aging}}
{{#charm}}
<tr>
    <td colspan="6" class="sheet-spell-c1">[Charm](~{{character}}|charm) [Breaking Charm](~{{character}}|breaking-charm)</td>
</tr>
{{/charm}}
{{#touch-attacks}}
<tr>
    <td colspan="6" class="sheet-spell-c1">[Touch Attacks](~{{character}}|touch-attacks)</td>
</tr>
{{/touch-attacks}}
{{#grenade-miss}}
<tr>
    <td colspan="6" class="sheet-spell-c1">[Grenade-like Miss](~{{character}}|grenade-miss)</td>
</tr>
{{/grenade-miss}}