.scumsheet-body
  .name-block
    .fields 
      .field-row
        label(data-i18n='name') NAME
        input(type='text', name='attr_character_name', placeholder='Kid Pomade', spellcheck='false')
      .field-row
        label(data-i18n='a') A
        input(type='text', name='attr_class', placeholder='Drifter', spellcheck='false')
      .field-row
        label(data-i18n='wanted_for') WANTED FOR
        input(type='text', name='attr_wanted_for', placeholder='Repeated fraud', spellcheck='false')
    .rewards
      label(data-i18n='rewards') REWARDS 
      textarea(name='attr_rewards')
  .abilities-block
    .ability-col
      each abil in ['grit', 'slick', 'wits', 'luck']
        .ability
          .top-label.name 
            button(class='sheet-blank-button ability-button', name=`${abil}`, data-i18n=`${abil}`, type='roll', value=`&{template:abilitycheck} {{ability=${abil}}} {{roll=[[1d20+@{${abil}}]]}}`)=abil
          .value
            input(type='number', name=`attr_${abil}`, placeholder=0)
    .portrait-col
      .portrait-inner
        img(name='attr_character_avatar')
    .condition-col
      .top-label.conditions-and-notes(data-i18n='conditions_and_notes') Conditions & Notes
      .condition-row.miserable
        .checkbox
          label(class='check-container')
            input(type='checkbox' name='attr_miserable')
            span(class='checkmark')        
        .non-checkbox
          span(data-i18n='miserable') Miserable
          | &nbsp;(
          input(type='text', name='attr_misery', spellcheck='false')
          | &nbsp;). 
          span(data-i18n='you_dont_recover_hp_from_rest') You don't recover HP from rest
          | .
      .condition-row.drunk 
        .checkbox
          label(class='check-container')
            input(type='checkbox' name='attr_drunk')
            span(class='checkmark')           
        .non-checkbox
          span(data-i18n='drunk') Drunk
          | .
          span(data-i18n='swap_your') Swap your
          input(type='text', name='attr_drunk_stat_1', spellcheck='false')
          | &nbsp;
          span(data-i18n='and') and
          input(type='text', name='attr_drunk_stat_2', spellcheck='false')
          | &nbsp;until sober.
      .notes
        textarea(name='attr_notes_1', data-i18n-placeholder='notes_and_such', placeholder="Notes and such", spellcheck='false')
      .notes
        textarea(name='attr_notes_2', data-i18n-placeholder='more_of_em', placeholder="More of 'em", spellcheck='false')

  .hp-block 
    .stat-block.hp 
      .name 
        span(data-i18n='hp') HP
      .value 
        input(type='number', name='attr_hp', placeholder=0)
    .stat-block.max-hp 
      .name 
        span(data-i18n='max_hp') MAX HP
      .value 
        input(type='number', name='attr_hp_max', placeholder=0)
    .stat-block.aces 
      .name 
        span(data-i18n='aces') aces
      .value 
        input(type='number', name='attr_aces', placeholder=0)

  .equipment-block
    .eq-col-1
      .eq-section.on-your-head
        .top-label
          span(data-i18n='on_your_head') ON YOUR HEAD
        .eq-row
          input(type='text', name='attr_head')
      .eq-section.skills
        .skills-label
          span(data-i18n='skills') SKILLS
        .eq-row
          input(type='text', name='attr_skills_1')
        .eq-row
          input(type='text', name='attr_skills_2')
        .eq-row
          input(type='text', name='attr_skills_3')
        .eq-row
          input(type='text', name='attr_skills_4')
        .eq-row
          input(type='text', name='attr_skills_5')
        .eq-row
          input(type='text', name='attr_skills_6')
    .eq-col-2
      .eq-section.on-your-belt
        .top-label
          span(data-i18n='on_your_belt') ON YOUR BELT
        .eq-row
          input(type='text', name='attr_belt_1')
        .eq-row
          input(type='text', name='attr_belt_2')
        .eq-row
          input(type='text', name='attr_belt_3')
      .eq-section.on-your-back
        .top-label
          span(data-i18n='on_your_back') ON YOUR BACK
        .eq-row
          input(type='text', name='attr_back_1')
        .eq-row
          input(type='text', name='attr_back_2')
        .eq-row
          input(type='text', name='attr_back_3')
    .eq-col-3 
      .eq-section.in-your-pockets
        .top-label
          span(data-i18n='in_your_pockets') IN YOUR POCKETS
        .eq-row
          input(type='text', name='attr_pockets_1')
        .eq-row
          input(type='text', name='attr_pockets_2')
        .eq-row
          input(type='text', name='attr_pockets_3')
        .eq-row
          input(type='text', name='attr_pockets_4')
        .eq-row
          input(type='text', name='attr_pockets_5')
        .eq-row
          input(type='text', name='attr_pockets_6')
        .eq-row
          input(type='text', name='attr_pockets_7')
        .eq-row
          input(type='text', name='attr_pockets_8')
        .eq-row
          input(type='text', name='attr_pockets_9')
        .eq-row
          input(type='text', name='attr_pockets_10')