.scumsheet-header
  .fs-logo FRONTIER SCUM
  .wanted WANTED
  .dead-or-alive
    label(class='check-container')
      input(type='radio' name='dead_or_alive', value='dead_or_alive', checked='true')
      span(class='checkmark')   
      | &nbsp;
      span(data-i18n="dead_or_alive") dead or alive
      | &nbsp;
    | / 
    label(class='check-container')
      input(type='radio', name='dead_or_alive', value='dead')
      span(class='checkmark')   
      | &nbsp;
      span(data-i18n="dead") dead
      | &nbsp;
    | /
    label(class='check-container')
      input(type='radio', name='dead_or_alive', value='alive')
      span(class='checkmark')   
      | &nbsp;
      span(data-i18n="alive") alive
      | &nbsp;
