extends pug/layout.pug 

include pug/mixins/page.pug
include pug/mixins/inputs.pug

block content
  .sheet
    .sheet__container
      .sheet__tabs
        button.sheet__tab-button(type="action" name="act_front") Vorderseite
        button.sheet__tab-button(type="action" name="act_back") Rückseite

      input.page-tabstoggle(type="hidden" name="attr_sheetTab" value="front")

      +page(1, 'front') 
        include pug/tables/personal.pug
        include pug/tables/attributes.pug
        include pug/tables/skills.pug
        include pug/tables/special-training.pug
      +page(2, 'back')
        include pug/tables/equipment.pug
        include pug/tables/connections.pug
        include pug/tables/notes.pug

  include pug/rolltemplate.pug
  script(type="text/worker")
    include pug/sheet-worker-scripts.js
  