.horsesheet-body
  .inner1 
    .inner2
      .name-block 
        .field-row.name-row 
          label(data-i18n='name') name
          input(type='text', name='attr_character_name', placeholder='Lightning Bolt')
        .field-row
          label(data-i18n='likes') likes
          input(type='text', name='attr_horse_likes', placeholder='Daily baths')
          label(data-i18n='type') type
          input(type='text', name='attr_horse_type', placeholder='Brown riding horse')
        .field-row
          label(data-i18n='notes') notes
          input(type='text', name='attr_horse_notes')
        .field-row
          label(data-i18n='vehicle') vehicle
          input(type='text', name='attr_horse_vehicle')
      .on-your-horse 
        .top-label(data-i18n='on_your_horse') on your horse
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          .on-horse-row
            input(type='text', name=`attr_on_horse_${val}`)
      .stolen-block
        .stats
          .stat-row          
            .stat-block 
              label(data-i18n='stolen') stolen
              .horseshoe
                label(class='check-container')
                  input(type='checkbox' name='attr_horse_stolen')
                  span(class='checkmark')
            .stat-block 
              label(data-i18n='hp') hp
              .horseshoe
                input(type='number', name='attr_hp', placeholder=0)
          .stat-row
            .stat-block 
              label(data-i18n='morale') morale
              .horseshoe
                input(type='number', name='attr_horse_morale', placeholder=0)
            .stat-block 
              label(data-i18n='max') max
              .horseshoe
                input(type='number', name='attr_hp_max', placeholder=0)
      .horse1 
      .horse2


