rolltemplate.sheet-rolltemplate-ironcrunch_oracles
  .sheet-roll-container
    .sheet-subheader {{header}}

    | {{#revealADangerCategory}}
    .sheet-result-row
      .sheet-oracle-dice
        span {{revealADangerCategory}}
      .sheet-oracle-table-text
        | {{#rollBetween() revealADangerCategory 1 25}}
        span Worsening of the Situation
        | {{/rollBetween() revealADangerCategory 1 25}}
        | {{#rollBetween() revealADangerCategory 26 60}}
        span Unfavorable Road
        | {{/rollBetween() revealADangerCategory 26 60}}
        | {{#rollBetween() revealADangerCategory 61 00}}
        span Hostile Character Encounter
        | {{/rollBetween() revealADangerCategory 61 00}}
    | {{/revealADangerCategory}}

    | {{#revealADangerSituation}}
    .sheet-result-row
      .sheet-oracle-dice
        span {{revealADangerSituation}}
      .sheet-oracle-table-text
        | {{#rollBetween revealADangerSituation 1 13}}
        span A portion of an edible resource got spoiled or lost. Suffer -1 supply. If your supply is 0, reroll on this table.
        | {{/rollBetween revealADangerSituation 1 13}}
        | {{#rollBetween revealADangerSituation 14 24}}
        span The travel is taking longer than expected. Suffer -1 momentum.
        | {{/rollBetween revealADangerSituation 14 24}}
        | {{#rollBetween revealADangerSituation 25 34}}
        span The trip was tough and left you tired. <em>Endure Harm</em> (1d4P harm).
        | {{/rollBetween revealADangerSituation 25 34}}
        | {{#rollBetween revealADangerSituation 35 42}}
        span The travel has drained your energies. <em>Endure Harm</em> (1d4P harm) and take the weakened (severity +1) condition.
        | {{/rollBetween revealADangerSituation 35 42}}
        | {{#rollBetween revealADangerSituation 43 50}}
        span The travel has left you stressed or mentally fatigued. <em>Endure Stress</em> (1d2 stress).
        | {{/rollBetween revealADangerSituation 43 50}}
        | {{#rollBetween revealADangerSituation 51 57}}
        span A friend or companion starts arguing for previous acts or complaining about the rough travel. Suffer -1d3 to their loyalty. If you don't have a companion, reroll on this table.
        | {{/rollBetween revealADangerSituation 51 57}}
        | {{#rollBetween revealADangerSituation 58 64}}
        span You realize you lost some valuable goods on the way. Suffer -2 wealth. If your wealth is reduced to 0, suffer -momentum to any remaining -wealth.
        | {{/rollBetween revealADangerSituation 58 64}}
        | {{#rollBetween revealADangerSituation 65 71}}
        span You realize too late that the supply container is broken and has a leak. Suffer -2 supply.
        | {{/rollBetween revealADangerSituation 65 71}}
        | {{#rollBetween revealADangerSituation 72 77}}
        span You realize you lost one of your valuable items on the way. Suffer -1 wealth. If your wealth is 0, reroll on this table.
        | {{/rollBetween revealADangerSituation 72 77}}
        | {{#rollBetween revealADangerSituation 78 83}}
        span You realize that one of the items you thought to be valuable, is actually not, or not worthy in its current state. Suffer -1 wealth and -1 momentum. If your wealth is an its minimum (0), reroll on this table.
        | {{/rollBetween revealADangerSituation 78 83}}
        | {{#rollBetween revealADangerSituation 84 89}}
        span You make a discovery that complicates one of your quests. Suffer -2 momentum.
        | {{/rollBetween revealADangerSituation 84 89}}
        | {{#rollBetween revealADangerSituation 90 94}}
        span A piece of equipment loses durability. Reduce any of your armor’s or shield’s values by 1. If you have no armor or shield item, reroll on this table.
        | {{/rollBetween revealADangerSituation 90 94}}
        | {{#rollBetween revealADangerSituation 95 97}}
        span You start suffering from muscle cramp, sprain or strain. <em>Endure Harm</em> (1d4P harm) and take the palsied (severity 1) condition.
        | {{/rollBetween revealADangerSituation 95 97}}
        | {{#rollBetween revealADangerSituation 98 99}}
        span You realize that one of your conditional companions is no longer by your side. Suffer -1 momentum. If you don't have a conditional companion, reroll on this table.
        | {{/rollBetween revealADangerSituation 98 99}}
        | {{#rollTotal revealADangerSituation 100}}
        span Roll twice more on this table. Both results occur. If they are the same result, double its effect.
        | {{/rollTotal revealADangerSituation 100}}
    | {{/revealADangerSituation}}

    | {{#revealADangerRoad}}
    .sheet-result-row
      .sheet-oracle-dice
        span {{revealADangerRoad}}
      .sheet-oracle-table-text
        | {{#rollBetween() revealADangerRoad 1 13}}
        span The terrain or the weather plays against you, hindering you. Subtract -1 to your next move. Take the hyperthermic or hypothermic condition if appropriate.
        | {{/rollBetween() revealADangerRoad 1 13}}
        | {{#rollBetween() revealADangerRoad 14 25}}
        span An environmental hazard forces you to pass through this area in a precarious manner. If you make a move to resolve this danger, subtract -1.
        | {{/rollBetween() revealADangerRoad 14 25}}
        | {{#rollBetween() revealADangerRoad 26 35}}
        span Whether it is human made or a fortuity of nature, you, or someone with you, is victim of a trap. If you make a move of resolve this danger, subtract -1.
        | {{/rollBetween() revealADangerRoad 26 35}}
        | {{#rollBetween() revealADangerRoad 36 44}}
        span You suffer some bruises on the way. <em>Endure Harm</em> (1d4 harm).
        | {{/rollBetween() revealADangerRoad 36 44}}
        | {{#rollBetween() revealADangerRoad 45 52}}
        span You consumed some resources, and this road lacks sources to replenish from. Suffer -1 supply. If you Resupply, count a strong hit as a weak hit, and a weak hit as a miss.
        | {{/rollBetween() revealADangerRoad 45 52}}
        | {{#rollBetween() revealADangerRoad 53 60}}
        span The travel has been mentally grueling. <em>Endure Stress</em> (1 stress). If you Hearten, count a strong hit as a weak hit, and a weak hit as a miss.
        | {{/rollBetween() revealADangerRoad 53 60}}
        | {{#rollBetween() revealADangerRoad 61 68}}
        span You have not reached your waypoint yet, and this stop is too precarious to rest safely. If you <em>Make Camp</em>, count a strong hit as a weak hit, and a weak hit as a miss.
        | {{/rollBetween() revealADangerRoad 61 68}}
        | {{#rollBetween() revealADangerRoad 69 75}}
        span The path is broken and there doesn't seem to be a lead to follow it. Subtract -1 next time you <em>Undertake a Journey</em> for this travel.
        | {{/rollBetween() revealADangerRoad 69 75}}
        | {{#rollBetween() revealADangerRoad 76 81}}
        span An obstacle is blocking the path you intend to follow. Subtract -1 for your next move to resolve the obstacle or suffer -2 momentum causing a delay on your travel.
        | {{/rollBetween() revealADangerRoad 76 81}}
        | {{#rollBetween() revealADangerRoad 82 86}}
        span The path has a disturbing ambience or you find the horrible fate of a victim of this place. <em>Endure Stress</em> (1d4 stress).
        | {{/rollBetween() revealADangerRoad 82 86}}
        | {{#rollBetween() revealADangerRoad 87 90}}
        span The environment undermines the path or the weather is disorienting, and you find difficult to recognize the track. Subtract -2 next time you <em>Undertake a Journey</em> for this travel.
        | {{/rollBetween() revealADangerRoad 87 90}}
        | {{#rollBetween() revealADangerRoad 91 94}}
        span Whether it was something you ate or something in the surroundings, you are now ill. <em>Endure Harm</em> (1d4P harm) and take the poisoned (severity +1) condition.
        | {{/rollBetween() revealADangerRoad 91 94}}
        | {{#rollBetween() revealADangerRoad 95 97}}
        span Whether it was something you ate or something in the surroundings, you got poisoned. Take the poisoned (severity +2) condition.
        | {{/rollBetween() revealADangerRoad 95 97}}
        | {{#rollBetween() revealADangerRoad 98 99}}
        span You realized you have been following the wrong path, and trickery leads have left you astray. Clear 1d2 progress boxes in the journey track. Next time you <em>Undertake a Journey</em>, you don’t mark progress if you score a hit.
        | {{/rollBetween() revealADangerRoad 98 99}}
        | {{#rollTotal() revealADangerRoad 100}}
        span Roll twice more on this table. Both results occur. If they are the same result, double its effect.
        | {{/rollTotal() revealADangerRoad 100}}
    | {{/revealADangerSituation}}

    | {{#revealADangerCharacter}}
    .sheet-result-row
      .sheet-oracle-dice
        span {{revealADangerCharacter}}
      .sheet-oracle-table-text
        | {{#rollBetween() revealADangerCharacter 1 13}}
        span You converge with one or multiple travelers or denizens in this area, facing off.
        | {{/rollBetween() revealADangerCharacter 1 13}}
        | {{#rollBetween() revealADangerCharacter 14 26}}
        span One or multiple unaware travelers or denizens are guarding this area, either laid in wait, patrolling or working.
        | {{/rollBetween() revealADangerCharacter 14 26}}
        | {{#rollBetween() revealADangerCharacter 27 39}}
        span You're ambushed, or attacked without warning.
        | {{/rollBetween() revealADangerCharacter 27 39}}
        | {{#rollBetween() revealADangerCharacter 40 51}}
        span Your presence has caught the attention of one or multiple travelers or denizens in the area.
        | {{/rollBetween() revealADangerCharacter 40 51}}
        | {{#rollBetween() revealADangerCharacter 52 63}}
        span Your arrival to this area has been expected.
        | {{/rollBetween() revealADangerCharacter 52 63}}
        | {{#rollBetween() revealADangerCharacter 64 75}}
        span You sense one or multiple presences lurking or stalking.
        | {{/rollBetween() revealADangerCharacter 64 75}}
        | {{#rollBetween() revealADangerCharacter 76 85}}
        span One or multiple unaware travelers or denizens are blocking or undermining the path in some way.
        | {{/rollBetween() revealADangerCharacter 76 85}}
        | {{#rollBetween() revealADangerCharacter 86 93}}
        span You find one or multiple travelers or denizens in unfavorable circumstances.
        | {{/rollBetween() revealADangerCharacter 86 93}}
        | {{#rollBetween() revealADangerCharacter 94 98}}
        span You find one or multiple travelers or denizens’ pets or underlings.
        | {{/rollBetween() revealADangerCharacter 94 98}}
        | {{#rollBetween() revealADangerCharacter 99 00}}
        span Roll twice more on this table, and use one result.
        | {{/rollBetween() revealADangerCharacter 99 00}} 
    | {{/revealADangerCharacter}}§
