/* global styles */
.charsheet {
  padding: 0 !important;
  font-size: 12px;
  line-height: 18px;
  min-width: 800px;

  div,
  span,
  label,
  textarea,
  button[type="roll"],
  h1,
  h2,
  h3 {
    box-sizing: border-box;
  }

  label,
  .label {
    $gray-50-space: normal;
    border-radius: inherit;
    color: inherit;
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: auto;
  }

  p {
    font-size: 1em;
    margin: 0 0 5px;
    line-height: inherit;
  }

  textarea {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 1px 4px;
    resize: vertical;
  }

  input[type="text"],
  input[type="number"] {
    font-size: 12px;
    height: 20px;
    padding: 1px 4px;
  }

  input[type="number"][readonly="readonly"],
  input[type="number"].no-spinners {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  select {
    margin: 0;
    font-size: 12px;
    padding: 1px 2px;
    line-height: 18px;
    height: 22px;
  }

  button[type="roll"].btn {
    display: block;
    margin: 0 auto;

    &::before {
      content: "";
    }
  }

  button[type="roll"].unstyled-button {
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
    text-align: inherit;
    text-shadow: none;

    &::before {
      content: "";
    }
  }

  button[type="roll"].invisible-button {
    position: absolute;
    z-index: 1;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }

  h1 {
    font-family: $contrail;
    padding-left: 5px;
    font-size: 1.3em;
    line-height: 22px;
    font-weight: normal;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      background-position: center;
      background-size: 100%;
      width: 22px;
      height: 22px;
    }
  }

  h2 {
    font-family: $contrail;
    padding-left: 5px;
    border: 2px solid $gray-900;
    font-size: 1.1em;
    margin: 5px 0;
    width: 175px;
    line-height: 18px;
  }

  h3 {
    font-size: 1.2em;
    font-family: $contrail;
    line-height: 1.5;
    font-weight: normal;
  }
}
