$contrail: "Contrail One", sans-serif;

/* sheet colors */
//https://tailwindcss.com/docs/customizing-colors
$blue-500: #3b82f6;
$blue-700: #1d4ed8;
$blue-900: #1e3a8a;
$gray-100: #f3f4f6;
$gray-200: #e4e4e7;
$gray-300: #d1d5db;
$gray-50: #f9fafb;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-900: #111827;
$green-500: #22c55e;
$green-950: #052e16;
$red-700: #b91c1c;
$yellow-300: #fde047;
$yellow-600: #ca8a04;
$yellow-900: #713f12;
$purple-600: #9333ea;
$purple-900: #581c87;
$purple-950: #3b0764;

/* roll template */
$arial: "Arial", sans-serif;
$times: "Times New Roman", serif;
$rt-red: #ff8080;
$rt-green: #83db53;
$rt-blue: #80b0ff;
$rt-purple: #b291ec;
$rt-gray: #bababa;

//images
$chevron: "https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/white_arrow.svg";
$dice: "https://github.com/Roll20/roll20-character-sheets/blob/master/Stars_Without_Number_Revised/Assets/dice.png";
$templateBackground: "https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/rt-top-black.png";
$templateBottom: "https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/rt-bottom.png";
$templateAttackBackground: "https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/rt-top-purple.png";
$templateSkillBackground: "https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/rt-top-blue.png";
$templateSaveSuccessBackground: "https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/rt-top-green.png";
$templateSaveFailBackground: "https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/rt-top-red.png";
$templateSWNRevisedClipPath: polygon(
  0 7px,
  7px 0,
  173px 0,
  177px 3px,
  281px 3px,
  289px 11px,
  289px 82px,
  100% 87px,
  100% calc(100% - 6px),
  calc(100% - 6px) 100%,
  22px 100%,
  0 calc(100% - 22px)
);
