input(name='attr_version' type='hidden' value='3.0')
input.monster_confirm_flag(name='attr_monster_confirm_flag' type='hidden')
input.mancer_confirm_flag(name='attr_mancer_confirm_flag' type='hidden')
input.licensedsheet(name='attr_licensedsheet' type='hidden')

.licensecontainer.compendium-drop-target.monsters(data-licensedsheet='attr_licensedsheet')
	input.npc_toggle(name='attr_npc' type='hidden' value='0')
	input.npcspellcastingflag(name='attr_npcspellcastingflag' type='hidden')
	input.toggleflag(name='attr_rtype' type='hidden' )

	//- ADVANTAGE TOGGLE
	.advantagetoggle
		include src/html/advantagetoggle.html

	//- WHISPER TOGGLE
	input.toggleflag(name='attr_wtype' type='hidden')
	.advantagetoggle.whispertoggle
		input.toggle-left(name='attr_whispertoggle' type='radio' value='' checked)
		span(data-i18n='public:-u') PUBLIC
		input.toggle-right(name='attr_whispertoggle' type='radio' value='/w gm ')
		span(data-i18n='to-gm:-u') TO
			span.togm() GM

	//- NPC
	.container.npc
		include src/html/npc.html

	//- PC
	.container.pc
		input.tab-button.core(name="attr_tab" type="radio" value="core" checked)
		span(data-i18n="core-u") CORE
		input.tab-button.bio(name="attr_tab" type="radio" value="bio")
		span(data-i18n="bio-u") BIO
		input.tab-button.spells(name="attr_tab" type="radio" value="spells")
		span(data-i18n="spells-u") SPELLS
		input.tab-button.options(name="attr_tab" type="radio" value="options")
		span(style="font-family: pictos") y

		.page.core
			include src/html/pc/core.html

		.page.bio
			include src/html/pc/bio.html

		.page.spells
			include src/html/pc/spells.html

		.page.options
			include src/html/pc/options.html

		.footer
			include src/html/pc/footer.html

	each val in ['Category', 'Name', 'data', 'Content']
		input(accept=val name=`attr_drop_${val.toLowerCase()}` type='hidden')

//- HIDDEN INPUTS
include src/html/hiddeninputs.html

.compendium_warning
	span(data-i18n="accepting-drop-u") ACCEPTING DROP FROM COMPENDIUM

//- MONSTER & MANCER CONFIRMS
include src/html/confirms.html

//- ROLL TEMPLATES
.rolltemplates
	include src/html/rolltemplate.html

//- SHEET WORKERS
script(type="text/worker")
	include src/js/sheetworkers.js
	include src/js/versioning.js
	include src/js/charactermancer/l1.js
	include src/js/charactermancer/lp.js

//- CHARACTERMANCER REPEATING SECTIONS
include src/html/charactermancer/repeatingsections.html

//- CHARACTERMANCER LEVEL 1
include src/html/charactermancer/l1.html


//- CHARACTERMANCER LEVEL UP
include src/html/charactermancer/lp.html
