
.charsheet {
    border: 2px solid Black;
	padding: 2px;
	width: 860px;
	min-width: 860px;
	min-height: 1340px;
	background-color: rgb(226, 226, 221);
	font-family: "Courier New, serif";
}
.charsheet .background1 {
}
.charsheet div.sheet-page2 {
}


/* From https://stackoverflow.com/questions/75992689/change-the-label-background-color-when-a-checkbox-is-checked */
input[type="checkbox"].colorToggle {
  display: none;
	vertical-align: top; 
	width: 90px; 
	height: 22px;
	font-variant: small-caps;	
	font-size: 16px; 
	font-weight: bold; 
	text-align: right;
	margin: 0px;
	padding: 6px 2px 0px 4px; 
	background-color: transparent; 
	border: 0px solid Red;
}

input[type="checkbox"].colorToggle:checked + label {
  	display: inline-block; 
	vertical-align: top; 
	width: 90px; 
	height: 22px;
	font-variant: small-caps;	
	font-size: 16px; 
	font-weight: bold; 
	text-align: right;
	margin: 0px;
	padding: 6px 2px 0px 4px; 
	color: rgb(14, 76, 146);
	border-bottom: 1px solid rgb(14, 76, 146);
}


.charsheet label.sheet-label {
	display: inline-block; 
	vertical-align: top; 
	width: 90px; 
	height: 22px;
	font-variant: small-caps;	
	font-size: 16px; 
	font-weight: bold; 
	text-align: right;
	margin: 0px;
	padding: 6px 2px 0px 4px; 
	background-color: transparent; 
	border: 0px solid Red;
}

.charsheet input[type="text"].sheet-text {
	display: inline-block; 
	vertical-align: top; 
	width: 180px; 
	height: 26px;
	font-variant: small-caps;	
	font-size: 22px;
	font-weight: 500;	
	font-style: italic;
	text-align: center;
	margin: 2px;	
	padding: 2px 2px 2px 2px; 
	background-color: transparent; 
	border: 0px solid Blue;
}

.charsheet input[type="text"].sheet-circle {
	display: inline-block; 
	vertical-align: top; 
	width: 54px; 
	height: 50px;
	border-radius: 50%;
	font-size: 22px;
	font-weight: 500;	
	font-style: normal;
	text-align: center;
	margin: 0px;	
	padding: 2px ; 
	background-color: rgb(226, 226, 221); 
	border: 3px solid Black;
}

.charsheet input[type="checkbox"].rounded-checkbox {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  outline: none;
  cursor: pointer;
}
.charsheet input[type="checkbox"].rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: blue;
}

.charsheet .sheet-die{
	font-family: "dicefontd6";
	font-weight: 500;
	font-size: 24px;	
	line-height: 28px;
}

.sheet-toggle[value="0"] + .sheet-cell { background-color: White;}                    /* Normal */
.sheet-toggle[value="1"] + .sheet-cell { background-color: rgba(34, 139, 34, 0.5);}   /* Horror */
.sheet-toggle[value="2"] + .sheet-cell { background-color: rgba(139, 0, 0, 0.6);}     /* Damage */
.sheet-toggle[value="3"] + .sheet-cell { background-color: rgb(160,160,160);}         /* Spent  */


.charsheet .sheet-skillName{
	display: inline-block; 
	vertical-align: top; 
	width: 90px; 
	height: 22px;
	font-variant: small-caps;	
	font-size: 16px; 
	font-weight: bold; 
	text-align: right;
	margin: 0px;
	padding: 6px 2px 0px 4px; 
	background-color: transparent; 
	border: 0px solid Red;
}
.charsheet input[type="text"]{
	display: inline-block;
	color: Black;
}

/* Buttons Styling */
.charsheet button{
	text-align: left;
	color: black;
}
.charsheet button:hover{
	background: black;
	color: #968c6a;
	text-shadow: none;
}

.charsheet button[type=action].sheet-skillName,
.charsheet button[type=roll].sheet-skillName{
	display: inline-block; 
	vertical-align: top; 
	width: 90px; 
	height: 22px;
	font-variant: small-caps;	
	font-size: 16px; 
	font-weight: bold; 
	text-align: right;
	margin: 0px;
	padding: 6px 2px 0px 4px; 
	background-color: rgb(226,226,221);
	border: 0px solid Red;
}
.charsheet button[type=roll].sheet-textButton::before,
.charsheet button[type=action].sheet-textButton::before {
    content: "" !important;
}
.charsheet button[type=roll].sheet-skillName::before,
.charsheet button[type=action].sheet-skillName::before {
	padding: 0px 0px 0px 0px;
    content: "" ;
}

.charsheet label.sheet-skillName::before {
	background-color: rgb(226,226,221)!important;
}
.charsheet label.sheet-skillName:hover {
	background-color: rgba(255,255,0,0.3)!important;
}
/*End Button Styling*/

/* TAB HANDLING */

.charsheet input[type=radio]{
	display: none;
	float: left;
}
.charsheet input[type=radio] + label{
	content: '';
	border: solid 1px black;
	background: white;
	color: black;
	font-weight: bold;
	width: auto;
	text-align: center;
	padding: 0 2px;;
	float: left;
}
.charsheet input[type=radio]:hover + label{
	background: #990000;
}
.charsheet input[type=radio]:checked + label{
	background: black;
	color: white;
}
.charsheet div.sheet-page1, .charsheet div.sheet-page2, .charsheet div.sheet-page3, .charsheet div.sheet-page4 {
	display: none;
}
.charsheet input.sheet-page1:checked ~ div.sheet-page1, .charsheet input.sheet-page2:checked ~ div.sheet-page2, input.sheet-page3:checked ~ div.sheet-page3, .charsheet input.sheet-page4:checked ~ div.sheet-page4 {
	display: block;
}

/* Check Template */
.sheet-rolltemplate-check .sheet-container {
	color: Black;
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}

.sheet-rolltemplate-check .sheet-container h1{
	color: inherit;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-check div {
    padding: 2px;
}

.sheet-rolltemplate-check span {
    color: currentColor;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.4em;
    padding-left: 5px;
    text-align: left;
}

.sheet-rolltemplate-check .sheet-subheader {
	color: currentColor;
    font-size: 1em;
    font-style: italic;
}
										   
.sheet-rolltemplate-check .sheet-arrow-right {
    border-bottom: 3px solid transparent;
    border-left: 180px solid currentColor;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-check .sheet-tcat {
    font-style: italic;
}


.sheet-rolltemplate-check .inlinerollresult  {
	background-color: LightGray !important;
    border: none;
}


.sheet-rolltemplate-check .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-check .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-check .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}
/* End Check template */