.sheet-container-fluid,
.sheet-container {
  margin-right: auto;
  margin-left: auto; }

.sheet-container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.sheet-row {
  box-sizing: border-box;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-bottom: 2px;
  padding-bottom: 2px; }
  .sheet-row.sheet-underline {
    border-bottom: 1px solid #8080801a; }

.sheet-row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.sheet-col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.sheet-col-xs,
.sheet-col-xs-1,
.sheet-col-xs-2,
.sheet-col-xs-3,
.sheet-col-xs-4,
.sheet-col-xs-5,
.sheet-col-xs-6,
.sheet-col-xs-7,
.sheet-col-xs-8,
.sheet-col-xs-9,
.sheet-col-xs-10,
.sheet-col-xs-11,
.sheet-col-xs-12,
.sheet-col-xs-offset-0,
.sheet-col-xs-offset-1,
.sheet-col-xs-offset-2,
.sheet-col-xs-offset-3,
.sheet-col-xs-offset-4,
.sheet-col-xs-offset-5,
.sheet-col-xs-offset-6,
.sheet-col-xs-offset-7,
.sheet-col-xs-offset-8,
.sheet-col-xs-offset-9,
.sheet-col-xs-offset-10,
.sheet-col-xs-offset-11,
.sheet-col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative; }
  .sheet-col-xs:not(.sheet-padless),
  .sheet-col-xs-1:not(.sheet-padless),
  .sheet-col-xs-2:not(.sheet-padless),
  .sheet-col-xs-3:not(.sheet-padless),
  .sheet-col-xs-4:not(.sheet-padless),
  .sheet-col-xs-5:not(.sheet-padless),
  .sheet-col-xs-6:not(.sheet-padless),
  .sheet-col-xs-7:not(.sheet-padless),
  .sheet-col-xs-8:not(.sheet-padless),
  .sheet-col-xs-9:not(.sheet-padless),
  .sheet-col-xs-10:not(.sheet-padless),
  .sheet-col-xs-11:not(.sheet-padless),
  .sheet-col-xs-12:not(.sheet-padless),
  .sheet-col-xs-offset-0:not(.sheet-padless),
  .sheet-col-xs-offset-1:not(.sheet-padless),
  .sheet-col-xs-offset-2:not(.sheet-padless),
  .sheet-col-xs-offset-3:not(.sheet-padless),
  .sheet-col-xs-offset-4:not(.sheet-padless),
  .sheet-col-xs-offset-5:not(.sheet-padless),
  .sheet-col-xs-offset-6:not(.sheet-padless),
  .sheet-col-xs-offset-7:not(.sheet-padless),
  .sheet-col-xs-offset-8:not(.sheet-padless),
  .sheet-col-xs-offset-9:not(.sheet-padless),
  .sheet-col-xs-offset-10:not(.sheet-padless),
  .sheet-col-xs-offset-11:not(.sheet-padless),
  .sheet-col-xs-offset-12:not(.sheet-padless) {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

.sheet-col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.sheet-col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.sheet-col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.sheet-col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.sheet-col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.sheet-col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.sheet-col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.sheet-col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.sheet-col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.sheet-col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.sheet-col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.sheet-col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.sheet-col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.sheet-col-xs-offset-0 {
  margin-left: 0; }

.sheet-col-xs-offset-1 {
  margin-left: 8.33333333%; }

.sheet-col-xs-offset-2 {
  margin-left: 16.66666667%; }

.sheet-col-xs-offset-3 {
  margin-left: 25%; }

.sheet-col-xs-offset-4 {
  margin-left: 33.33333333%; }

.sheet-col-xs-offset-5 {
  margin-left: 41.66666667%; }

.sheet-col-xs-offset-6 {
  margin-left: 50%; }

.sheet-col-xs-offset-7 {
  margin-left: 58.33333333%; }

.sheet-col-xs-offset-8 {
  margin-left: 66.66666667%; }

.sheet-col-xs-offset-9 {
  margin-left: 75%; }

.sheet-col-xs-offset-10 {
  margin-left: 83.33333333%; }

.sheet-col-xs-offset-11 {
  margin-left: 91.66666667%; }

.sheet-start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.sheet-center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.sheet-end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.sheet-top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.sheet-middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sheet-bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.sheet-around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.sheet-between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.sheet-first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.sheet-last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
