/* -----------
Sheet Tabs 
----------- */
div.sheet-tab-content { 
   display: none; 
   border-top:1px solid #ffffff;
   margin-top:-30px;
}
input.sheet-tab-character-sheet:checked ~ div.sheet-tab-character-sheet,
input.sheet-tab-stronghold-sheet:checked ~ div.sheet-tab-stronghold-sheet,
{                                 
   display: block;
}
input.sheet-tab {
   width: 162px;
   height: 30px;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   border:none;
   outline:none;
   position: relative;
   cursor: pointer;
   z-index: 1;
}
input.sheet-tab::before {
   content: attr(title);
   border:1px solid #ccc;
   border-bottom:1px solid #444;
   border-radius:4px 4px 0 0;
   padding-bottom:1px;
   sheet-text-align: center;
   display: block;
   color:#444;
   width: 160px;
   line-height: 30px;
   font-size: 16px;
   text-align:center
}
input.sheet-tab:active,
input.sheet-tab:focus {
   outline:none;
}
input.sheet-tab:hover::before {
   background:#e3e3e3;
}
input.sheet-tab:checked::before,
input.sheet-tab:checked:hover::before {
   border:1px solid #444;
   border-bottom:1px solid #fff;
   background:#fff;
}

 /* -----
 Inputs 
 ----- */
 input.sheet-textinput-skills.sheet-skill-input {
    width:96%;
}
 /* General */ 
 input[type='radio']{ 
    margin: 5px;
 } 
 input[type='text']{
    background-color:#F5F5F5;
    margin-left:5px;
    margin-top:3px;
    margin-bottom:3px;
 } 
 input[type='number']{
    max-width: 3em;
    margin-top:3px;
    margin-bottom:3px;
    font-weight:bolder;
 } 
 textarea {
    resize:vertical;
 } 
 select {
    width:100%;
    background-color:#F5F5F5;
    margin:0;
    padding:0;    
 } 
 /* Type Number */ 
 .sheet-value {
    background-color:#DCDCDC;
 } 
 .sheet-value-brighter {
    background-color:#F5F5F5;
 } 
 .sheet-value-singledigit {
    width:36px;
 } 
 .sheet-value-doubledigit {
    width:39px;
 } 
 .sheet-value-trippledigit {
    width:50px;
 }
 .sheet-value-quaddigit {
    width:60px;
 }
 /* Type Text */ 
 .sheet-textinput-name,
 .sheet-textinput-role,
 .sheet-textinput-skills,
 .sheet-textinput-conditions-talents,
 .sheet-textinput-armor,
 .sheet-textinput-gear,
 .sheet-textinput-weapons,
 .sheet-textinput-goals,
 .sheet-textinput-pcs, 
 .sheet-textinput-arktype,
 .sheet-textinput-coordinates, 
 .sheet-textinput-project, 
 .sheet-textinput-boss-name, 
 .sheet-textinput-boss-type, 
 .sheet-textinput-other-info {
 width: 96%;
} 
 /* Text Area */ 
 .sheet-text-description {
    background-color:#F5F5F5;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px; 
    width: 92%;
    height:2em;
 } 
 /* ----------------------
 Headers, labels and texts
 ------------------------*/ 
 .sheet-text-header {
    text-align: left;
    color: white;
    background-color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size:large;
    text-indent: 4px;
    height: 30px;
 } 
 .sheet-text-header-smaller {
    text-align: center;
    color: white;
    background-color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size:12px;
    text-indent: 6px;
    height: 30px;
 } 
 .sheet-text-stats {
    text-align: left;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size:15px;
    padding-left:5px;
 } 
 .sheet-text-label {
    text-align: left;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size:12px;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom: 5px;
 } 
 /* ---------
 Meta Windows
 --------- */
 .sheet-page-wrapper{
  width: 835px;
 }
 .sheet-character-wrapper{
  width: 835px;
  overflow: hidden;
  margin-left: -20px;
  margin-top: -30px;
  padding-top: 70px;
  padding-bottom: 30px;
  border: 20px solid black;
  display: inline-block;
  border-image-slice: 60 19 60 27;
  border-image-width: 60px 25px 60px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(http://imgsrv.roll20.net/?src=https://i.imgur.com/XuBOFJI.png);
 }
 .sheet-logo { 
  text-align: center;
  width: 835px;
}
 .sheet-meta1 {
  width:270px;
  float:left;
  padding-right:5px;
 } 
 .sheet-meta2 {
  width:270px;
  float:left;
  padding-right:5px; 
 } 
 .sheet-meta3 {
  width:270px;
  float:left;     
 } 
 .sheet-meta4 {
  width:560px;
  float:left;      
 } 
 .sheet-meta5 {
  width:410px;
  float:left;  
  padding-right:5px;  
 } 
 .sheet-meta6 {
  width:410px;
  float:right;      
 }
 .sheet-meta7 {
  width:835px;      
 }
 .sheet-meta8 {
  width:560px;
  float:left;
 }
 .repcontrol {
  max-width: fit-content;
} 
 /* ------------
 Character Sheet
 ------------ */ 
 .sheet-singlecell {
    width: 270px;
 } 
 .sheet-singlecell-bottompadding {
    width: 270px;
    padding-bottom:10px;
 } 
 .sheet-twocell-bottompadding {
    width: 550px;
    padding-bottom:10px;
 } 
 .sheet-splitcell-bottompadding {
    width: 410px;
    padding-bottom:10px;
 }
 .sheet-fullwidth-bottompadding {
    width: 825px;
    padding-bottom:10px;
 } 
 .sheet-name-role {
    float: left; 
    padding-bottom:10px;
 }
 .sheet-right-roll {
     float:right;
 } 
 /* --------- 
 Table Styles 
 --------- */ 
 table {
   border-collapse:collapse;
 } 
 table, th, td {
   border: 1px solid black;
 }
td {
  text-align:center;
}
table.sheet-weapons td,
table.sheet-gear td,
table.sheet-functions td,
table.sheet-hirelings td 	{
	min-width:47px;
}
.sheet-relations td:last-child {
    width: 47px;
}
 .sheet-table-onecolumn{
    width:270px;
 } 
 .sheet-table-twocolumn{
    width:550px;
 } 
 .sheet-table-threecolumn{
    width:810px;
 } 
 .sheet-table-splitcolumn{
    width:410px;
 } 
 .sheet-table-fullwidth{
    width:825px;
 } 
 .sheet-table-noleft{
    border-left:none;
 } 
 .sheet-table-noright{
    border-right:none;
 } 
 .sheet-table-noleftright{
    border-right:none;
    border-left:none;
 } 
 .sheet-table-notop{
    border-top:none;
 }