/*$$css_header$$*/
@import url('https://fonts.googleapis.com/css?family=Delius|Bilbo+Swash+Caps|Kavivanar|Fredericka+the+Great|Macondo|Uncial+Antiqua&display=swap');

/* Font Import Reference
//Signatures --- font-family: 'Bilbo Swash Caps', cursive;
//Headers --- font-family: 'Uncial Antiqua', cursive;
//Spell Titles--- font-family: 'Macondo', cursive;
//Text box --- font-family: 'Kavivanar', cursive;
*/

/* Color References
  New Border Underline: cc9966

*/

/*Reminders
   Get rid of the sheet border gradient
  https://puu.sh/FqOMO/0c073a293c.png
*/

/* prevent readonly fields from changing the cursor
 Makes for more uniform fields between reaonly updated by sheetworkers
 and auto-calc with disabled=true
*/
input[readonly] {
    cursor: default;
}

/* Layout utilities */
.sheet-flex-container-center {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.sheet-flex-container-between {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.sheet-flex-container-left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.sheet-2colgrid {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
}

div.sheet-artgrid {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(5, 165px);
    font-family: 'Macondo', cursive;
	font-variant: small-caps;
    font-weight: bold;
    color:#53332a;
}
.sheet-vcenter {
    display: flex;
    align-items: center;
}

/* Tooltips */

/* Class for container having a tooltip */
.sheet-has-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #331f1a;
}

.sheet-has-tooltip :not(.sheet-tooltip) {
    cursor: help;
}

/* Tooltip itself */
.sheet-has-tooltip .sheet-tooltip {
    visibility: hidden;
    background-color: #331f1a;
    color: #fff;
    font-family: 'Macondo';
	font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    
    position: absolute;
    z-index: 1;

    width: 150px;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
}

/* Small arrows pointing to the tooltiped text */
.sheet-has-tooltip .sheet-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #331f1a transparent transparent transparent;
  }

/* Make the tooltip visible only if the tooltiped element is hovered */
.sheet-has-tooltip:hover .sheet-tooltip {
    visibility: visible;
}
.sheet-has-tooltip .sheet-tooltip:hover {
    visibility: hidden;
}


/*----------- Repeating Blocks -------------*/
.charsheet .repcontrol_add 
{
    display: inline-block;
    background:#7F2108;
    color:white;
    text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
    box-shadow:none;
    float:left!important;
    margin-bottom:0px;
    font-size:0.9em;
    height:2.2em;
    font-family: 'Uncial Antiqua', Copperplate, 'Copperplate Gothic Light', fantasy;
}
.charsheet .repcontrol_add, .charsheet .repcontrol_edit
{
    display: inline-block;
    background:#7F2108;
    color:white;
    text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
    box-shadow:none;
    float:none!important;
    margin-bottom:5px;
    font-size:0.9em;
    height:2.2em;
    font-family: 'Uncial Antiqua', Copperplate, 'Copperplate Gothic Light', fantasy;
}
.charsheet .repcontrol_del 
{
    background:red;
    color:white;
    text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
    box-shadow:none;
    float:none!important;
    margin-bottom:5px;
    font-size:0.9em;
    height:2.2em;
}
.charsheet .repcontrol_move 
{
    display: inline-block;
    background:#08667f;
    color:white;
    text-shadow:0px 0px 2px #000,0px 0px 2px #000,0px 0px 2px #000;
    box-shadow:none;
    float:none!important;
    margin-bottom:5px;
    font-size:0.9em;
    height:1.4em;
    padding-top:3px;
    padding-bottom:3px;
}
/*----------- End of Repeating Blocks -------------*/


/*---------- Hide number scrollers-----------*/

/*-- Hide arrows on number fields --*/
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.sheet-padding {
     padding-left: 5px; 
     padding-right: 5px;
}
/* -- Update Alerts -- */
div.sheet-alert {
    border-radius:10px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: left;
    align-items: start;
    margin: 2px;
}
.sheet-alert-hidder[value="1"] + div.sheet-alert {
    display: none;
}
label.sheet-fakebutton {
    display: inline-block; 
    background: transparent;
    border-radius: 5px;
    padding: 3px;
    margin: 0px;
    width: auto;
    justify-self: right;
    border: solid 2px #000;
}
label.sheet-fakebutton input {
    display: none;
}
/* Info alerts */
div.sheet-alert-info, div.sheet-alert-info h3 {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
div.sheet-alert-info label.sheet-fakebutton {
    border-color: #31708f;
    color: #31708f;
}
div.sheet-alert-info label.sheet-fakebutton:hover {
    color: #519abe;
    border-color: #519abe;
}
/* Warning alerts */
div.sheet-alert-warning, div.sheet-alert-warning h3 {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
div.sheet-alert-warning label.sheet-fakebutton {
    border-color: #a94442;
    color: #a94442;
}
div.sheet-alert-warning label.sheet-fakebutton:hover {
    color: darkred;
    border-color: darkred;
}

/* Hide magi-only elements of the sheet */
input.sheet-toggle-magi[value="no"] ~ * .sheet-magi-only {
    display: none;
}

/* End magi-only elements */


/*=======================Tabs=======================*/

.sheet-buttonbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 0 0 0;
    background: transparent;
}
.sheet-navbuttons,
.sheet-functions {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex: 1 0 20%;
}
.sheet-navbuttons {
    text-align: left;
}
.sheet-functions {
    text-align: right;
    justify-content: flex-end;
}

div.sheet-tab-content { 
    display: none;
}

.sheet-tabblank {
    flex: 0 0 15px;
}

.sheet-tabbutton {
    font-family: 'Uncial Antiqua', cursive;
    color:white;
    text-shadow:0px 0px 0.5em black;
    text-align: center;
    font-size: 16px;
    font-weight:700;

    background: transparent;
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/metalbar.jpg');

    padding: 4px 8px 2px;
    height: 20px;
    border-radius: 5px 5px 0px 0px ;
    border:1px solid black;
}

.sheet-tabbutton:hover,
.sheet-tabstoggle[value="character"] ~ .sheet-buttonbar > .sheet-navbuttons > button.sheet-tabbutton[name="act_character"],
.sheet-tabstoggle[value="abilities"] ~ .sheet-buttonbar > .sheet-navbuttons > button.sheet-tabbutton[name="act_abilities"],
.sheet-tabstoggle[value="magic"] ~ .sheet-buttonbar > .sheet-navbuttons > button.sheet-tabbutton[name="act_magic"],
.sheet-tabstoggle[value="combat"] ~ .sheet-buttonbar > .sheet-navbuttons > button.sheet-tabbutton[name="act_combat"],
.sheet-tabstoggle[value="spells"] ~ .sheet-buttonbar > .sheet-navbuttons > button.sheet-tabbutton[name="act_spells"],
.sheet-tabstoggle[value="sheet"] ~ .sheet-buttonbar > .sheet-navbuttons > button.sheet-tabbutton[name="act_sheet"] {
    background: #dcdcdc;
    background-image:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/metalbar_dark.jpg);
    text-shadow:0px 0px 0.5em black,0px 0px 0.5em black;
}

.sheet-tabstoggle[value="character"] ~ div.sheet-tab1,
.sheet-tabstoggle[value="abilities"] ~ div.sheet-tab2,
.sheet-tabstoggle[value="magic"] ~ div.sheet-tab3,
.sheet-tabstoggle[value="combat"] ~ div.sheet-tab4,
.sheet-tabstoggle[value="spells"] ~ div.sheet-tab5,
.sheet-tabstoggle[value="sheet"] ~ div.sheet-tab6 {
    display: block;
}

div.sheet-tab-content {
	font-size: 14px;
    min-width: 835px;
    max-width: 950px;
    width: auto;
    background:white;
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg');
    box-shadow: inset 0px 0px 10px #cdab6c, inset 0px 0px 8px #544477,inset 0px 0px 4px #30233d;
    padding: 5px;
    margin-bottom:20px;
    border-radius:0px 0px 15px 15px;
    margin-right:auto;
    margin-left:auto;
}
div.sheet-top_bar {
    width: auto;
    background:white;
    box-shadow: inset 0px 0px 10px #cdab6c, inset 0px 0px 8px #544477,inset 0px 0px 4px #30233d;
    padding: 5px;
    border-radius:15px 15px 0px 0px;
    margin-right:auto;
    margin-left:auto;
}

/*=======================End of tabs=======================*/
/* Die Selection */
button.sheet-die-toggle-simple,
button.sheet-die-toggle-stress {
    display: none; /* hidden by default */
    font-family: 'Uncial Antiqua', cursive;
    color:white;
    text-shadow:0px 0px 0.5em black;
    text-align: center;

    padding: 1px 4px 2px;
    height: 20px;
    font-size: 16px;
    line-height:18px;
    font-weight:700;
    border-radius: 8px 8px 2px 2px;
	margin: 0px;
    border:2px solid black;
}
button.sheet-die-toggle-simple {
    background: #555555;
    background: -moz-linear-gradient(to right, #8f8f8f, #595959, #595959, #7d7d7d);
    background: -webkit-linear-gradient(to right, #8f8f8f, #595959, #595959, #7d7d7d);
    background: -ms-linear-gradient(to right, #8f8f8f, #595959, #595959, #7d7d7d);
    background: -o-linear-gradient(to right, #8f8f8f, #595959, #595959, #7d7d7d);
    background: linear-gradient(to right, #8f8f8f, #595959, #595959, #7d7d7d);
    background: linear-gradient(to right, #8f8f8f, #595959, #595959, #7d7d7d);
}
button.sheet-die-toggle-stress {
    background: #33bbbb;
    background: -moz-linear-gradient(to right, #ee3f2f, #8C5025, #8C5025, #daa520);
    background: -webkit-linear-gradient(to right, #ee3f2f, #8C5025, #8C5025, #daa520);
    background: -ms-linear-gradient(to right, #ee3f2f, #8C5025, #8C5025, #daa520);
    background: -o-linear-gradient(to right, #ee3f2f, #8C5025, #8C5025, #daa520);
    background: linear-gradient(to right, #ee3f2f, #8C5025, #8C5025, #daa520);
}

/* Only display the toggles button when the settings is on toggle, and only display the correct one */
input.sheet-dtype-selector[value="toggle"] + input.sheet-selected-die[value="simple"] ~ div button.sheet-die-toggle-simple {
    display: inline-block;
}
input.sheet-dtype-selector[value="toggle"] + input.sheet-selected-die[value="stress"] ~ div button.sheet-die-toggle-stress {
    display: inline-block;
}
/* Change which roll button to display based on the setting and the toggle */
button.sheet-simple-roll,
button.sheet-stress-roll {
    display: none;
}

input.sheet-dtype-selector[value="both"] ~ div.sheet-tab-content button.sheet-simple-roll,
input.sheet-dtype-selector[value="both"] ~ div.sheet-tab-content button.sheet-stress-roll,
input.sheet-dtype-selector[value="toggle"] ~ input.sheet-selected-die[value="simple"] ~ div.sheet-tab-content button.sheet-simple-roll,
input.sheet-dtype-selector[value="toggle"] ~ input.sheet-selected-die[value="stress"] ~ div.sheet-tab-content button.sheet-stress-roll,
/* special class for rolls that always have the same type and should always be displayed */
button.sheet-single-roll {
    display: block;
}

/* End Die Selection */

/* Configuration */
.sheet-config {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Macondo', cursive;
    color: #663333;
    font-size: 1.3em;
    align-items: end;
}
.sheet-config > select {
    align-self: start;
}

.sheet-documentation p, .sheet-documentation li{
    font-family: 'Macondo';
    color: #663333;
    font-size: 14px;
}
.sheet-documentation li li {
    font-size: 1em;
}
.sheet-documentation h1,
.sheet-documentation h2,
.sheet-documentation h3,
.sheet-documentation h4,
.sheet-documentation h5,
.sheet-docmentation h6 {
    margin-bottom: 5px;
    margin-top: 15px;
}
.sheet-codespan {
    font-family: 'Delius';
    padding-left: 2px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05)
}



/* End configuration */


/*----------- End of Font Face -------------*/
/*----------- Banner -------------*/
.sheet-banner { 
    background: url('http://www.atlas-games.com/images/ArM5LogoColor.jpg'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.sheet-banner-content { 
    margin: 0; 
    height: 100px; 
    width: 200px; 
}
/*----------- End of Banner -------------*/
/*----------- background -------------*/
.charsheet {
    background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/velvet.jpg');
    width:850px;
    margin: 0 auto;
}

.sheet-divider {
     background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/divider-block.jpg');
     width:600px; 
     margin:0px auto;
     height:15px; 
     display:block;
     margin-top:5px; 
	 margin-bottom:15px;
     box-shadow:0px 0px 5px 0px #f0ede4 inset;
}

/*----------- End of background -------------*/
/*----------- Text -------------*/
.sheet-table_2 th, 
.sheet-table_1 th {
	font-variant: small-caps;
	font-family: 'Macondo', cursive;
}

.sheet-heading_3 {
	font-family: 'Macondo', cursive;
}

.sheet-heading {
    font-family: 'Uncial Antiqua', cursive;
    font-weight:bold;
    font-size:1.3em;
}

.sheet-heading_1  {
    background: transparent;
    font-family: 'Bilbo Swash Caps', cursive;
	font-size: 30px;
    color:#663333;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width:200px;
}

textarea.sheet-textarea_4:hover,textarea.sheet-textarea_4:focus,
textarea.sheet-textarea_3:hover,textarea.sheet-textarea_3:focus,
textarea.sheet-textarea_2:hover,textarea.sheet-textarea_2:focus,
textarea.sheet-textarea_1:hover,textarea.sheet-textarea_1:focus,
.sheet-number_1:hover, .sheet-number_1:focus, 
.sheet-heading_2:hover, .sheet-heading_2:focus, 
.sheet-heading_3:hover, .sheet-heading_3:focus,
.sheet-heading_1:hover, .sheet-heading_1:focus {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e6dbc6, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6dbc6, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6dbc6, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6dbc6, white); /* Standard syntax */
}
.sheet-heading_2  {
    background: transparent;
    font-family: 'Macondo', cursive;
    color:#663333;
    font-size:1.2em;
    line-height:1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cc9966;
    width:160px;
}
.sheet-heading_2a  {
    background: transparent;
    font-family: 'Uncial Antiqua', cursive;
    color:#663333;
    font-size:1.2em;
    line-height:1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cc9966;
    width:100px;
}
.sheet-heading_3 {
    background: transparent;
    font-size:1em;
    font-weight:bold;
    line-height:1.2em;
    color:#53332a;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cc9966;
    width:200px;
}
.sheet-heading_4  {
    background: transparent;
    font-family: 'Macondo', cursive;
    font-size:1.1em;
    line-height:1.2em;
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cc9966;
  
    width:120px;
}
.sheet-number_1 {
    width:40px !important;
    font-family: "Macondo", fantasy;
    color:#663333;
    font-size:1.2em;
    line-height:1.2em;
    text-align:center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cc9966;
    box-shadow: none;
    background:transparent;
    }
.sheet-number_2 {
    width: 40px !important;
    font-family: 'Macondo', fantasy;
    color:#53332a;
    font-size:1.1em;
    line-height:1.2em;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cc9966;
    box-shadow: none;
    background:transparent;
    }
.sheet-number_3,
.sheet-number-xp {
    width:30px;
    font-family: 'Macondo', fantasy;
    color:#53332a;
    font-size:1.3em;
	font-weight: bold;
    line-height:1.2em;
    text-align:center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cc9966;
    box-shadow: none;
    background:transparent;
    }
.sheet-number-xp {
    width: 32px!important;
    font-size:15px;
}

/* Advancement */
.sheet-advance {
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/advancement_advance.png");
    background-size: 100% 100%;
}

/* Advancement Total */
.sheet-total {
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/advancement_total.png");
    background-size: 100% 100%;
}

/* Misc Formatting */
.sheet-minor {
    color:gray;
}

.sheet-number_3:disabled,    
.sheet-number_2:disabled,
.sheet-number_2:read-only,
.sheet-number_1:disabled {
    background: #53332a;
    border:2px solid #e6dbc6;
    color:white;
    text-align: right;
}
.sheet-counter {
    width:90px;
    font-family: Copperplate Gothic Light, 'Copperplate Gothic Light', fantasy;
    font-size:1.1em;
    line-height:1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    box-shadow: none;
    background:transparent;
    text-shadow: 0px 0px 10px white;
    color:black;
    font-weight:700;
    }

input.sheet-counter[type=number]::-webkit-inner-spin-button, 
input.sheet-counter[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*-----Subsection Header------*/
.sheet-heading_label {
    margin-left:0px;
    margin-bottom:-6px;
    padding-left: 10px;
    border: 2px solid #d49d4b;
    border-radius: 0px 15px 0px 0px;
    background:#544177;
    background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/paintbar_v2.jpg");
   /* text-shadow: 0px 0px 20px black, 0px 0px 15px black, 0px 0px 5px #cb8f33; */
    font-family: 'Uncial Antiqua', cursive;
    text-shadow: 0px 0px 30px #bea05a, 0px 0px 20px #bea05a, 0px 0px 10px white, 2px 2px 15px white, 2px 2px 10px white, 2px 2px 5px white, 2px 2px 2px white;
    color:black;
    width: fit-content;
	padding-right:30px;
}
/*----------- End of Text -------------*/
/*----------- Virtue Formatting--------*/
.sheet-Vmajor  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    color:#663333;
    font-size:1.2em;
    line-height:1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:160px;
}
.sheet-Vminor  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    color:#663333;
    font-size:1em;
    line-height:1em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:160px;
}
.sheet-Vfree  {
    background: transparent;
    font-family: "Copperplate", fantasy;
    font-style: italics;
    color:#663333;
    font-size:1em;
    line-height:1em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #53332a;
    width:160px;
}
/*----------- Tables -------------*/
.sheet-table_1 th {
    font-variant:small-caps;
    color:#53332a;
    }
.sheet-table_2 {
    font-family: 'Macondo', cursive;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:5px;
    color:#53332a;
    
    }
.sheet-table_2 th {
    text-align:left;
    color:#53332a;
    }
.sheet-table_3 {
	font-family: 'Macondo', cursive;
	font-variant: small-caps;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:5px;
    color:#53332a;
    
    }
.sheet-table_3 th {
    text-align:left;
    color:#e7e3d8;
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/combatroller_bg2.jpg");
   /* border: 2px solid #e6dbc6;*/
    border-bottom: 2px solid #53332a; border-top: 1px solid #d49d4b; 
    padding-left:5px;
    }
.sheet-table_3 tr:nth-child(even) {
    background:#e6dbc6;
}
.sheet-cellgroup {
    background:#e6dbc6;
}
.sheet-table_center td {
    text-align: center;
}


/*----------- End of Tables -------------*/
/*----------- textarea -------------*/
textarea.sheet-textarea_1 {
    width: 200px;
    resize:vertical;
    height:85px;
    border:1px dotted #d3d3d3;
    border-radius:0px 10px;
    background: #e6dbc6;
    font-family: 'Kavivanar', cursive;
	font-variant: normal;
    color:#53332a;
    }
textarea.sheet-textarea_2 {
    width: 400px;
    resize:vertical;
    height:85px;
    border:1px dotted #d3d3d3;
    border-radius:0px 10px;
    background:#e6dbc6;
    font-family: 'Kavivanar', cursive;
	font-variant: normal;
	font-size: 14px;
    color:#53332a;

    }
textarea.sheet-textarea_3 {
    width: 180px;
    resize:vertical;
    height:30px;
    border:1px dotted #d3d3d3;
    border-radius:0px 10px;
    background:#e6dbc6;
    margin-bottom:0px;
    }
textarea.sheet-textarea_4 {
    width: 390px;
    resize:vertical;
    height:100px;
    border:1px dotted #d3d3d3;
    border-radius:0px 10px;
    background: #e6dbc6;
    font-family: 'Kavivanar', cursive;
	font-variant: normal;
	font-size: 14px;
    color:#53332a;    
}
/*----------- End of textarea -------------*/
/*----------- Select -------------*/
select.sheet-select_1 {
    -webkit-appearance: none;
    padding-top:0px;
    padding-right:0px;
    appearance: none; 
    margin-bottom: 0;
    width:110px;
    font-family: 'Macondo', cursive;
	font-size: 16px;
    color:#53332a;
    font-weight:bold;
    background:none;

}

select.sheet-select_2 {
    -webkit-appearance: none;
    padding-top:0px;
    padding-right:0px;
    appearance:none;
    margin-bottom:0px;
    width:110px;
    font-family: 'Macondo', cursive;
    font-variant: small-caps;
    color: #53332a;
    font-weight: bold;
    background-color: transparent;
}

select {    
    -moz-appearance: none;
}

select *.sheet-italic {
    font-style:italic;
}
/*----------- End of Select -------------*/
/*----------- Hide Things -------------*/
.sheet-hidden {
    display: none;
}
div.sheet-hide {
    display: none;
}

input.sheet-hider:checked ~ div.sheet-hide {
    display: block;
}
/*----------- End of Hide Things -------------*/
/*----------- Checkbox -------------*/
    /* Hide actual checkbox */
    
input.sheet-checkbox_wound[type="checkbox"],
input.sheet-checkbox_3[type="checkbox"],
input.sheet-checkbox_2[type="checkbox"],
input.sheet-checkbox_1[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 20px;
    position: relative;
    top: 0px;
    left: 8px;
    margin:0px;
    cursor: pointer;
    z-index: 1;
}

    /* Fake checkbox */
input.sheet-checkbox_2[type="checkbox"] + span::before,
input.sheet-checkbox_1[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 0px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
}

    /* Fake checkbox */
input.sheet-checkbox_2[type="checkbox"] + span::before, 
input.sheet-checkbox_1[type="checkbox"] + span::before {
    font-family:"Pictos";
    content: "W";
    color:#53332a;
    width: 14px;
    height: 14px;
    font-size: 24px;

}
input.sheet-checkbox_1[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}

input.sheet-checkbox_2[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}
input.sheet-checkbox_1[type="checkbox"]:checked + span::before {
    font-family:"Pictos";
    content:"W";
    color:#6a8c55;
}
input.sheet-checkbox_2[type="checkbox"]:checked + span::before {
    content: "x";
    color:red;
    
}    /* Fake checkbox */
input.sheet-checkbox_3[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
}

    /* Fake checkbox */
input.sheet-checkbox_3[type="checkbox"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}    /* Hide actual checkbox */

input.sheet-puissant[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0px;
    left: 8px;
    margin:0px;
    cursor: pointer;
    z-index: 1;
}

    /* Fake checkbox */
input.sheet-puissant[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

    /* Fake checkbox */
input.sheet-puissant[type="checkbox"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-puissant[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}

input.sheet-checkbox_2[type="checkbox"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}
input.sheet-puissant[type="checkbox"]:checked + span::before {
    content: "✓";
    color:green;
    font-weight: bold;
}    /* Fake checkbox */
input.sheet-puissant[type="checkbox"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
}
/*--------Health Fake Checkbox-----------*/

input.sheet-checkbox_wound[type="checkbox"] + span {
    min-width: 0px;
}

input.sheet-checkbox_wound[type="checkbox"] + span::before {
    margin-right: 0px;
    position: relative;
    top: 5px;
    left: 0px;
    margin:-10px;
    content:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/unwounded.png");
    
}
input.sheet-checkbox_wound[type="checkbox"]:checked + span::before {
    content:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/wounded.png");
}   
/*----------- Dropdown ----------*/
select.sheet-dropdown {
    font-size: 1.1em;
    height: 25px;
    width: 70px;
    text-align-last: center;
    vertical-align: middle;
    background: #9f8779;
    border: 0px;
    position: relative;
    padding: 2px 10px;

    margin-bottom: 0px;
    left: 30px;
    color: white;
    font-family: "Lucida Bright", "Book Antiqua", "Candara", "Verdana";
    font-weight: bold;
    font-variant: small-caps;
    -webkit-appearance: none;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

select.sheet-dropdown:hover {
    background: #53332a;
}

/*----------- Radio -------------*/

    /* Hide actual radio */
input.sheet-selector[type="radio"],
input.sheet-radio_2[type="radio"],
input.sheet-radio_1[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0px;
    left: 8px;
    margin:0px;
    cursor: pointer;
    z-index: 1;
}

    /* Fake radio */
input.sheet-selector[type="radio"] + span::before,
input.sheet-radio_2[type="radio"] + span::before,
input.sheet-radio_1[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0px;
    margin:-8px;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-selector[type="radio"] + span::before, 
input.sheet-radio_1[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: -8px;
    margin:0px;
}

input.sheet-radio_2[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}

    /* Fake radio */
input.sheet-selector[type="radio"] + span::before,
input.sheet-radio_2[type="radio"] + span::before,
input.sheet-radio_1[type="radio"] + span::before {
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-selector[type="radio"]:checked + span::before,
input.sheet-radio_2[type="radio"]:checked + span::before,
input.sheet-radio_1[type="radio"]:checked + span::before {
    content: "x";
}
/* -----Based on the selector radio, hides options -------*/
.input.sheet-selector[type="radio"][value="minor"]:checked ~ div.sheet-options {
    font-family: "Gopperplate Gothic Light";
    font-size: 1em;
}
.input.sheet-selector[type="radio"][value="free"]:checked ~ div.sheet-options {
    font-family: "Gopperplate Gothic Light";
    font-size: 1em;
}
/*  =====       ======  ======  =====       ======  */    /* Hide actual radio */
input.sheet-puissant[type="radio"] {
    opacity: 0;
    width: 20px;
    height: 16px;
    position: relative;
    top: 0px;
    left: 8px;
    margin:0px;
    cursor: pointer;
    z-index: 1;
}

    /* Fake radio */
input.sheet-puissant[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-puissant[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: -8px;
    margin:0px;
}

input.sheet-puissant[type="radio"] + span::before {
    position: relative;
    top: 0px;
    left: 0px;
    margin:-10px;
}

    /* Fake radio */
input.sheet-puissant[type="radio"] + span::before {
    content: "";
    width: 20px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-puissant.sheet-red[type="radio"]:checked + span::before {
    content: "No";
    color:red;
}
input.sheet-puissant.sheet-green[type="radio"]:checked + span::before {
    content: "Yes";
    color:green;
}
/*----------- End of Checkbox -------------*/
/*----------- Buttons -------------*/
button.sheet-botch:before,
button.sheet-reroll:before,
button.sheet-critical:before {
    content: "" !important;
    display: none;
}

.charsheet button.sheet-reroll[type=roll], 
.charsheet button.sheet-botch[type=roll],
.charsheet button.sheet-critical[type=roll] 
{
    font-family: 'Uncial Antiqua', cursive;
    color:white;
    text-shadow:0px 0px 0.5em black;

    text-align: center;
    display: inline-block;

    padding: 1px 8px 2px;
    height: 20px;
    font-size: 16px;
    line-height:18px;
    font-weight:700;
    border-radius: 8px 8px 2px 2px;
	margin: 0px;
    
    border:2px solid black;
}


button.sheet-reroll[type=roll] {
    background: #fff;
    background: -moz-linear-gradient(to top, #356e7A, #205a66, #169E9C);
    background: -webkit-linear-gradient(to top, #356e7A, #205a66, #169E9C);
    background: -ms-linear-gradient(to top, #356e7A, #205a66, #169E9C);
    background: -o-linear-gradient(to top, #356e7A, #205a66, #169E9C);
    background: linear-gradient(to top, #356e7A, #205a66, #169E9C);
}
button.sheet-botch[type=roll] {    
    background: #fff;
    background: -moz-linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
    background: -webkit-linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
    background: -ms-linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
    background: -o-linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
    background: linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
}
button.sheet-critical[type=roll] {
    background: #fff;
    background: -moz-linear-gradient(to top, #916a08, #785807, #DAA520);
    background: -webkit-linear-gradient(to top, #916a08, #785807, #DAA520);
    background: -ms-linear-gradient(to top, #916a08, #785807, #DAA520);
    background: -o-linear-gradient(to top, #916a08, #785807, #DAA520);
    background: linear-gradient(to top, #916a08, #785807, #DAA520);
}

button.sheet-reroll:hover, button.sheet-reroll:active {
    background: #fff;
    background: -moz-linear-gradient(to top, #0e969e, #297080, #2ebaee);
    background: -webkit-linear-gradient(to top, #0e969e, #297080, #2ebaee);
    background: -ms-linear-gradient(to top, #0e969e, #297080, #2ebaee);
    background: -o-linear-gradient(to top, #0e969e, #297080, #2ebaee);
    background: linear-gradient(to top, #0e969e, #297080, #2ebaee);
}
button.sheet-botch:hover, button.sheet-botch:active {
    background: #fff;
    background: -moz-linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
    background: -webkit-linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
    background: -ms-linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
    background: -o-linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
    background: linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
}
button.sheet-critical:hover, button.sheet-critical:active {
    background: #fff;
    background: -moz-linear-gradient(to top, #daa520, #B8860B, #FFD700);
    background: -webkit-linear-gradient(to top, #daa520, #B8860B, #FFD700);
    background: -ms-linear-gradient(to top, #daa520, #B8860B, #FFD700);
    background: -o-linear-gradient(to top, #daa520, #B8860B, #FFD700);
    background: linear-gradient(to top, #daa520, #B8860B, #FFD700);
}

/* ======== button ========*/
.sheet-button button[type="roll"]:before,
.sheet-button:before  {
    content: "0"!important;
    display: none;
    border: none;
}
.sheet-button button[type="roll"],
.sheet-button {
    background-repeat: no-repeat;
    margin: 0px auto;
    font-family: 'Contrail One', Copperplate Gothic Light, 'Copperplate Gothic Light';
    font-size:1em !important;  
    color:white;
    text-shadow: 1px 1px 2px black;
    font-weight:bold;
    height:25px; 
    width: 25px; 
    padding-left:0px;
    border:none;
}

/* Set the image of simple and stress roll buttons */
.sheet-simple-roll {
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton_base.png");
    background-repeat: no-repeat;
}
.sheet-simple-roll:hover {
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton.png");
    background-repeat: no-repeat;
}
.sheet-simple-roll:active  {
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton_hvr.png");
    background-repeat: no-repeat;
}

.sheet-stress-roll {
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton_stress_base.png");
    background-repeat: no-repeat;
}
.sheet-stress-roll:hover {
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton_stress.png");
    background-repeat: no-repeat;
}
.sheet-stress-roll:active  {
    background:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rollbutton_stress_hvr.png");
    background-repeat: no-repeat;
}

/*----------- End of Buttons -------------*/

/*----------- Fatigue Levels -------------*/

/*
The replacement key is in a comment to preserve CSS syntax in the doc
The replacement contains will end handle de-commenting itself
$$fatigue_level_css$$
*/


/* ------ Sheet tab ---------------- */

div.sheet-welcome {
    font-family: 'Macondo';
	font-variant: normal;
    font-size: 14px;
    color:#53332a;
}

/* ----------------------------------- */

/*----------- Roll Template --------------*/
/* Common display elements */
.sheet-rolltemplate-all  .sheet-display-simple .inlinerollresult,
.sheet-rolltemplate-all .sheet-display-simple .inlinerollresult.fullcrit,
.sheet-rolltemplate-all .sheet-display-simple .inlinerollresult.fullfail,
.sheet-rolltemplate-all .sheet-display-simple .inlinerollresult.importantroll {
    color: #5e5e5e ! important;
    border: none;
    background:none;
}

.sheet-rolltemplate-all .sheet-display-simple-light .inlinerollresult,
.sheet-rolltemplate-all .sheet-display-simple-light .inlinerollresult.fullcrit,
.sheet-rolltemplate-all .sheet-display-simple-light .inlinerollresult.fullfail,
.sheet-rolltemplate-all .sheet-display-simple-light .inlinerollresult.importantroll {
    color: white ! important;
    border: none;
    background:none;
}

.sheet-rolltemplate-all .sheet-display-stress .inlinerollresult {
    color: #8d4f23! important;
    border: none;
    background:none;
}
.sheet-rolltemplate-all .sheet-display-stress-light .inlinerollresult {
    color: #c2a973 ! important;
    border: none;
    background:none;
}
.sheet-rolltemplate-all .sheet-display-stress .inlinerollresult.fullfail,
.sheet-rolltemplate-all .sheet-display-stress-light .inlinerollresult.fullfail {
    color: #ee3f2f ! important;
    border: none;
    background:none;
}
.sheet-rolltemplate-all .sheet-display-stress .inlinerollresult.fullcrit,
.sheet-rolltemplate-all .sheet-display-stress-light .inlinerollresult.fullcrit {
    color: #daa520 ! important;
    border: none;
    background:none;
}
.sheet-rolltemplate-all .sheet-display-default {
    color: white ! important;
    border: none;
    background: none;
}

.sheet-rolltemplate-botchbt a[href^="~"] {
    color: white;
    font-size: 14px;
    font-family: 'Uncial Antiqua', cursive;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;

    background: #fff;
    background: -moz-linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
    background: -webkit-linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
    background: -ms-linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
    background: -o-linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
    background: linear-gradient(to top, #651f1f, #651f1f, #ee3f2f);
}
.sheet-rolltemplate-botchbt a[href^="~"]:hover, .sheet-rolltemplate-botchbt a[href^="~"]:active {
    background: #fff;
    background: -moz-linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
    background: -webkit-linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
    background: -ms-linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
    background: -o-linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
    background: linear-gradient(to top, #a00e0e, #bb1a11, #ec2513);
}

.sheet-rolltemplate-critbt a[href^="~"] {
    color: white;
    font-size: 14px;
    font-family: 'Uncial Antiqua', cursive;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;

    background: #fff;
    background: -moz-linear-gradient(to top, #916a08, #785807, #DAA520);
    background: -webkit-linear-gradient(to top, #916a08, #785807, #DAA520);
    background: -ms-linear-gradient(to top, #916a08, #785807, #DAA520);
    background: -o-linear-gradient(to top, #916a08, #785807, #DAA520);
    background: linear-gradient(to top, #916a08, #785807, #DAA520);
}
.sheet-rolltemplate-critbt a[href^="~"]:hover, .sheet-rolltemplate-critbt a[href^="~"]:active {
    background: #fff;
    background: -moz-linear-gradient(to top, #daa520, #B8860B, #FFD700);
    background: -webkit-linear-gradient(to top, #daa520, #B8860B, #FFD700);
    background: -ms-linear-gradient(to top, #daa520, #B8860B, #FFD700);
    background: -o-linear-gradient(to top, #daa520, #B8860B, #FFD700);
    background: linear-gradient(to top, #daa520, #B8860B, #FFD700);
}

/*=== spell ===*/
.sheet-rolltemplate-spell table {
    width: 235px;
    border-spacing: 5px;
    background: white;
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg);
    color: #53332a;
    font-size: 14px;
    font-family: 'Uncial Antiqua', cursive;
  /*  box-shadow: -5px -5px 6px #8B0000, -5px -5px 6px black; */
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    box-shadow: 0px 25px 4px black;
}
.sheet-rolltemplate-spell::after {
    content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/spellroller_footer.png);
    position:relative;
    left:-4px;
}
.sheet-rolltemplate-spell table tr td.sheet-spellsubheader {
    background:#D3E5F5;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/horizontalbanner.png);
    background-position:bottom left;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    text-indent: 5px;
    Height:50px;
    color:white;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.sheet-rolltemplate-spell table tr .sheet-spelldescription {
	font-family: 'Kavivanar', cursive;
	font-size: 14px;
}

.sheet-rolltemplate-spell table tr .sheet-spelllabel {
	font-family: 'Macondo', cursive;
	font-size: 14px;
}

.sheet-rolltemplate-botch table {
    width: 100%;
    background: white;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 5px black;
    text-shadow: 2px 2px 5px black;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/botchbanner.jpg);
    height:82px;
    width:235px;
    font-size: 2em;
    text-align: center;
    border-radius: 30px 2px 30px 30px;
}
.sheet-rolltemplate-botch th {
    color: #bc4f3a;
    line-height: .5em;
    font-size: 1em;
    font-family: 'Macondo', cursive;
    text-shadow: 0px 0px 5px black;
    text-shadow: 2px 2px 5px black;
	text-align: right;
	padding-right: 5px;
    padding-left: 5px;
}

.sheet-rolltemplate-reroll table {
    width: 100%;
    background: white;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 5px black;
    text-shadow: 2px 2px 5px black;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/rerollbanner.jpg);
    height:82px;
    width:235px;
    font-size: 2em;
    text-align: center;
    border-radius: 30px 2px 30px 30px;
}
.sheet-rolltemplate-reroll th {
    color: #3a9cbc;
    line-height: .5em;
    font-size: 1em;
    font-family: 'Macondo', cursive;
    text-shadow: 0px 0px 5px black;
    text-shadow: 2px 2px 5px black;
	text-align: right;
	padding-right: 5px;
    padding-left: 5px;
}

.sheet-rolltemplate-critical table {
    width: 100%;
    background: white;
    color: gold;
    text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 5px black;
    text-shadow: 2px 2px 5px black;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/criticalbanner.jpg);
    height:82px;
    width:235px;
    font-size: 2em;
    text-align: center;
    border-radius: 30px 2px 30px 30px;
}
.sheet-rolltemplate-critical th {
    color: #ffd700;
    line-height: .5em;
    font-size: 1em;
    font-family: 'Macondo', cursive;
    text-shadow: 0px 0px 5px black;
    text-shadow: 2px 2px 5px black;
	text-align: right;
	padding-right: 5px;
    padding-left: 5px;
}

.sheet-rolltemplate-spell th {
    background:#B35439;
    background-image: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/spellroller_header.jpg');
    background-size: 240px;
    color:white;
    padding: 5px;
    border-bottom: 1px solid black;
    font-family:'Macondo', cursive;
    line-height: 1.6em;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.sheet-rolltemplate-spell .sheet-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-generic .inlinerollresult,
.sheet-rolltemplate-attack .inlinerollresult,
.sheet-rolltemplate-defend .inlinerollresult,
.sheet-rolltemplate-initiative .inlinerollresult,
.sheet-rolltemplate-soak .inlinerollresult,
.sheet-rolltemplate-arcane .inlinerollresult,
.sheet-rolltemplate-botch .inlinerollresult,
.sheet-rolltemplate-reroll .inlinerollresult,
.sheet-rolltemplate-critical .inlinerollresult,
.sheet-rolltemplate-ability .inlinerollresult,
.sheet-rolltemplate-spell .inlinerollresult  {

	display: inline-block;
    min-width: 1.5em;
    font-size: 1.2em;
    border: none ! important; /*Cool Gray 6 C*/
	padding:0px;
    background:none;
}

.sheet-rolltemplate-botch .inlinerollresult.fullfail {
    color:red;
}

 .sheet-rolltemplate-spell td.sheet-top_bottom {
    border-top: 1px solid #8B0000;
    border-bottom: 1px solid #8B0000;
     
 }
/*=== attack & initiative ===*/
.sheet-rolltemplate-attack table,
.sheet-rolltemplate-defend table,
.sheet-rolltemplate-initiative table,
.sheet-rolltemplate-soak table {
    width: 235px;
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/combatroller_bg2.jpg), white;
    color: #cccc99;
    font-size: 1.5em;
    font-family: 'Macondo', cursive;
	font-variant:small-caps;
    text-align:center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    box-shadow: 0px 0px 4px black;
}
.sheet-rolltemplate-attack td,
.sheet-rolltemplate-defend td,
.sheet-rolltemplate-initiative td,
.sheet-rolltemplate-soak td {
	padding: 2px;
}

.sheet-rolltemplate-defend .sheet-combatroller {
    margin-top:-4px;
}
.sheet-rolltemplate-defend table,
.sheet-rolltemplate-initiative table,
.sheet-rolltemplate-soak table {
	border-radius: 10px;
	border-bottom: 10px solid #333333;
}
.sheet-rolltemplate-attack::after {
    content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/downspikes.png);
}

.sheet-rolltemplate-defend::before {
	content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/upwardshield.png);
	margin-bottom:-3px;
}

.sheet-rolltemplate-attack th,
.sheet-rolltemplate-defend th,
.sheet-rolltemplate-initiative th,
.sheet-rolltemplate-soak th {
	font-family: 'Uncial Antiqua', cursive;
    background:#B35439;
    background: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/combatroller_header.jpg");
    background-size: 100%;
    color: white;
    padding: 2px;
    border-bottom: 1px solid black;
    line-height: 1.6em;
    font-size: 1.2em;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
	text-align:center;
}

.sheet-rolltemplate-attack .sheet-tcat,
.sheet-rolltemplate-defend .sheet-tcat,
.sheet-rolltemplate-initiative .sheet-tcat,
.sheet-rolltemplate-soak .sheet-tcat {
    font-weight: bold;
    color:white;
}

.sheet-rolltemplate-attack .sheet-inlinerollresult,
.sheet-rolltemplate-defend .sheet-inlinerollresult,
.sheet-rolltemplate-initiative .sheet-inlinerollresult,
.sheet-rolltemplate-soak .sheet-inlinerollresult {
    display: inline-block;
    font-family:'Macondo',  cursive;
    min-width: 1.5em;
    font-size: 1.2em;
    /*color:white;*/
    text-align: center;
    border: none; /*Cool Gray 6 C*/
    background:none;
}

.sheet-rolltemplate-ability table {
    background:white;
    background:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg');
    font-family: 'Macondo', cursive;
    font-size: 1em;
    line-height: 1.5em;
    color:#53332a;
    width:210px;
    box-shadow: 0px 25px 4px black;
    table-layout: fixed;
}

.sheet-rolltemplate-ability th {
    width: 210px;
    background:#D3E5F5;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/horizontalbanner.png);
    background-position:bottom left;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    text-align: left;
    text-indent: 5px;
	padding: 10px;
	padding-right: 15px;
    Height:50px;
    color: #fcd68a;
    font-family: 'Fredericka the Great', cursive;
    font-size: 24px;
    font-weight: normal;
    text-shadow: 2px 2px 2px black;
    font-style: italic;
}
.sheet-rolltemplate-ability td.sheet-banner {
    background:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/splitbanner.jpg);
    text-shadow: 2px 2px 2px black;
    color:white;
    text-align:center;
    
}

/*----.sheet-rolltemplate-ability .sheet-flex_container {
    display:flex;
    justify-content:space-around;
    vertical-align:middle;
}----*/
.sheet-rolltemplate-ability div.sheet-define {
    font-family: "Uncial Antiqua", fantasy;
    font-size: 1.5em;
    margin-left:15px;
    padding-bottom:17px;
    
}
.sheet-rolltemplate-ability div.sheet-define::first-letter {
    color:#337999;
    font-size: 200%;
    line-height: 100%;
}
.sheet-rolltemplate-ability div.sheet-flex_item {
    display:i block;
    margin:-14px;
    margin-left:30px;
}
.sheet-rolltemplate-ability div.sheet-bigresult {
    font-size: 2em;
    font-family: "Uncial Antiqua", fantasy;
    text-align:right;
    margin:5px;
    margin-right:25px;
	font-variant: bold;
}
.sheet-rolltemplate-ability td.sheet-label {
    width:50%;
    padding-left:20px;
    font-weight:bold;
}
.sheet-rolltemplate-ability::after {
    content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/basicroller_footer.png);
    position:relative;
    left:-4px;
}
.sheet-rolltemplate-ability td.sheet-result {
	font-family: 'Macondo', cursive;
    text-align:right;
    padding-right:50px;
    font-weight:bold;
}
/*---------Roll Template Generic------------*/
.sheet-rolltemplate-generic table {
  background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg');
  font-family: 'Uncial Antiqua', cursive;
  width:235px;
  font-size: 1.4em;
  line-height: 1.4em;
  color: #53332a;
  box-shadow: 0px 26px 4px black;
}
.sheet-rolltemplate-generic th {
  background-image:url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/genericheader.jpg');
  background-repeat: no-repeat;
  font-family: 'Uncial Antiqua', cursive;
  font-size:1em;
  color: white;
  text-shadow: 2px 2px 2px black,0px 0px 5px black,0px 0px 10px black,0px 0px 10px black;
  padding-bottom: 10px;
  padding-left: 20px;
  vertical-align:bottom;
  height: 125px;
  border-top: none;
}
.sheet-rolltemplate-generic .sheet-Label {
  font-weight: bold;
  padding-left: 10px;
}

.sheet-rolltemplate-generic::after {
    content:url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/basicroller_footer.png);
    position:relative;
    left:-4px;
}
/*--------Roll Template Arcane--------*/
.sheet-rolltemplate-arcane {
	background:none;
    font-family:"Book Antiqua";
    width:235px;
    font-size: 1em;
    line-height: 1em;
    color: #53332a;
}
.sheet-rolltemplate-arcane table {
	position:relative;
	top:-50px;
	width:210px;
	margin:auto;
	border-collapse:separate;
}
.sheet-rolltemplate-arcane th {
	background:#e6dbc6;
	font-size:1.4em;
	line-height:.8em;
	border: 10px solid black;
	
	-webkit-border-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/starbanner.png) 16 stretch; /* Safari 3.1-5 */
	-o-border-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/starbanner.png) 16 stretch; /* Opera 11-12.1 */
	border-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/starbanner.png) 16 stretch;
	
	border-image-outset:6px;
	border-image-width:10px;
	border-spacing:20px;
	padding:0px;
		
}
.sheet-rolltemplate-arcane td {
/*	background-image:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/subtlepaper.jpg");    */
	padding-left:10px;
	padding-right:10px;
}
.sheet-rolltemplate-arcane td.sheet-label {
    width:50%;
    font-size:12px;
    line-height:1em;
	text-align:center;
	font-weight:bold;
}
.sheet-rolltemplate-arcane td.sheet-result {
	font-family: 'Macondo', cursive;
    width:50%;
    font-size:12px;
    font-size:1em;
    line-height:1em;
    text-align:right;
    font-weight:bold;
    padding:0px;
    padding-right:50px;
    min-width:0px;
}

.sheet-rolltemplate-arcane td.sheet-textfield {
	font-style:italic;
	font-size: .8em;
}
.sheet-rolltemplate-arcane td.sheet-bigresult {
    background-color:transparent;
    padding: 0px;
    font-weight: bold;
	background-image:url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ars_Magica_5th/images/numbercircle.png");
	background-repeat:no-repeat;
	background-position:49.5%;
	text-align:center;
	position:relative;
	font-size:25px;
	color:white;
	line-height:55px;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -2px 1px #000;
}
.sheet-rolltemplate-arcane .sheet-bigresult .inlinerollresult {
    vertical-align:-5px;
}

/* --- CUSTOM - Better default rolltemplate from the forum --- */
/* https://wiki.roll20.net/Building_Character_Sheets/Roll_Templates#Jakob.27s_Better_Default_Rolltemplate */
/* CSS class name have been renamed to isolate them from the rest of the sheet */

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-custom {
    margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-custom {
    margin-left: -7px;
}

.sheet-rolltemplate-custom .sheet-crt-container {
    border: 1px solid;
    /* by default, the border is the same color as the header. You can change this here, e.g. to black */
    border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-crt-header {
    background-color: var(--header-bg-color) ! important;
    /* change text-align to center to center the header text */
    text-align: center;
    color: var(--header-text-color) ! important;
    padding: 5px;
}
.sheet-rolltemplate-custom .sheet-crt-title {
    font-size:1.1em;
}
.sheet-rolltemplate-custom .sheet-crt-subtitle {
    font-size:.9em;
}
.sheet-rolltemplate-custom .sheet-crt-container .inlinerollresult {
    background-color: var(--roll-bg-color) ! important;
    border-color: var(--roll-bg-color) ! important;
    color: var(--roll-text-color) ! important;
}
.sheet-rolltemplate-custom .sheet-crt-container a {
    background-color: var(--button-bg-color) ! important;
    color: var(--button-text-color) ! important;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-crt-container {
    /* this is the default color */
    --header-bg-color: rgba(112,32,130,1);
    --header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-crt-container .inlinerollresult {
    --roll-bg-color: #FEF68E;
    --roll-text-color: #000;
}
.sheet-rolltemplate-custom .sheet-crt-container a {
    --button-bg-color: #ce0f69;
    --button-text-color: #FFF;
}

/*
.sheet-rolltemplate-custom .sheet-crt-container.sheet-crt-color-red {
    --header-bg-color: #F00;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-green {
    --header-bg-color: #0F0;
    --header-text-color: #000;
}
*/

/*
Use python integration to support all CSS v3 colors
The replacement is in a comment and will de-comment itself

$$custom_rt_color_css$$

End of the python integration block
*/

/* transparent for inline roll and ability button */
.sheet-rolltemplate-custom .sheet-crt-container.sheet-crt-rlcolor-transparent .inlinerollresult {
    --roll-bg-color: transparent;
}
.sheet-rolltemplate-custom .sheet-crt-container.sheet-crt-btcolor-transparent a {
    --button-bg-color: transparent;
    --button-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-custom .sheet-crt-content {
    display: grid;
    background: #FFF;
    /* Header formatting - modify the column layout below */
    grid-template-columns: auto auto;
    /* Line height to match default roll template */
    line-height:1.4em;
}
.sheet-rolltemplate-custom .sheet-crt-content > div {
    padding: 5px;
}

/* Left column */
.sheet-rolltemplate-custom .sheet-crt-content .sheet-crt-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}
/* custom alignements */
.sheet-rolltemplate-custom .sheet-crt-content .sheet-crt-key.sheet-crt-lalign-left {
    text-align: left;
}
.sheet-rolltemplate-custom .sheet-crt-content .sheet-crt-key.sheet-crt-lalign-center {
    text-align: center;
}
.sheet-rolltemplate-custom .sheet-crt-content .sheet-crt-key.sheet-crt-lalign-right {
    text-align: right;
}
.sheet-rolltemplate-custom .sheet-crt-content .sheet-crt-value.sheet-crt-ralign-left {
    text-align: left;
}
.sheet-rolltemplate-custom .sheet-crt-content .sheet-crt-value.sheet-crt-ralign-center {
    text-align: center;
}
.sheet-rolltemplate-custom .sheet-crt-content .sheet-crt-value.sheet-crt-ralign-right {
    text-align: right;
}

/* Empty rule, use this if you want to change the right column 
.sheet-rolltemplate-custom .sheet-value {
}
*/

/* Make even-numbered rows grey */
.sheet-rolltemplate-custom .sheet-crt-content div:nth-of-type(4n+3),
.sheet-rolltemplate-custom .sheet-crt-content div:nth-of-type(4n) {
    background:#EEE;
}

/* Description field */
.sheet-rolltemplate-custom .sheet-crt-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}


/*----------- Roll Template --------------*/