.table
  .table__header
    .table__cell Notizen
  .table__body.grid-notes 
    .table__cell.grid-notes__cell
      .h-flex.h-flex-column.h-height-100
        .bold Hintergrund und Bemerkungen
        +textarea('notes')
