.table.grid-personal
  .table__header.grid-personal__header
    .table__cell.grid-personal__personal Persönliche Angaben
    .table__cell.grid-personal__es-header.h-text-center ES
  .table__body.grid-personal__body
    each item in personalInformation
      .table__cell.bold(class=`grid-personal__${item.name}`)
        +textInput(item.name, item.label)
