.table
  .table__header 
    .table__cell Spezialtraining
  .table__body.grid-special-training
    each cell, index in new Array(8)
      .table__cell
        +textInput(`spezialtraining-${index + 1}`)
    