.sheet-rigide {
    position: relative;
    top: -10px;
    left: 17px;
}

.sheet-body {
    font-family: arial;
    font-size: small;
    width: 800px;
    color:#3c4e72;
    background:white;
    /*background-image: linear-gradient(to right, white 20%, #C6D3E8 , white);*/
}

.sheet-health{
    display:inline-block;
    margin-left:10px;
    text-align:center;

}
.sheet-dmg-calculator{
    display: inline-block;
    position: absolute;
    top:85px;
    width: 340px;
    border-bottom: 3px solid red !important;
}

hr {
    background-color: #E82C0C;
    border: 0 none;
    color: #3c4e72;
    height: 3px;
    margin:0;
}

select {
    margin-top: 8px;
}

h4{
    margin: 0;
    display: inline-block;
}
b {
    min-width: 30px;
}

.btn, .btn.btn-default {color:#3c4e72;}
.sheet-section{
    display: inline-block;
    vertical-align: top;

}
.sheet-stats{
    width: 450px;
}
.sheet-select-dmg-dice{
    width: 50px;
}
table{
    margin-left: 20px;
    text-align: center;
}

b,
h4,
table,
select,
    /*.sheet-life>li>select,*/
.sheet-select-dmg-dice,
.sheet-select-dmg-loc,
span[name="attr_cybDesc"],
.sheet-secondary-attrs>b,
.sheet-wp-stat span {
    font-size:x-small;
}
.sheet-secondary-attrs{
    width:435px;
}
.sheet-secondary-attrs>b{
    display:inline-block !important;
    min-width:auto !important;
}
.sheet-body,
.sheet-secondary-attrs,
.sheet-secondary-attrs>b>span{
    font-size:small;
}

.sheet-select-dmg-loc{
    width: 60px;
}

span[name="attr_cybDesc"], .sheet-life span {
    color:#E82C0C;
    font-size:smaller;
}

.sheet-life,
.sheet-weapons,
.sheet-armors,
.sheet-cybs,
.sheet-net {
    display: none;
    width: 100%;
    text-align: left;
}
.sheet-life{
    margin:0;
}
.sheet-life>li {
    list-style-type: none;
}

textarea {
    display: none;
    width: 97%;
    height: 300px;
    resize: none;
    font-size: 11px;
}
.sheet-edit-life-event:checked ~ li>span {display: none;}
.sheet-edit-life-event:not(checked) ~ li>.sheet-life-events {
    display:block;
    /*pointer-events: none;*/
    border:none;
    color:#484848;
    text-align:justify;
}
.sheet-edit-life-event:checked ~ li>.sheet-life-events {
    /*pointer-events: auto;*/
    border:1px solid #E82C0C;
}

.sheet-edit-life-event,.sheet-edit-wp {
    position: relative;
}
.sheet-edit-life-event,
.sheet-edit-wp,
.sheet-edit-cyberdeck,
.sheet-edit-prog{
    float:right;
}
.sheet-life li {
    width:100%;
}


input[name="attr_meleedmg"]{
    margin-left: 10px;
}
input[name="attr_meleedmg"]:after{
    content:'J';
    font-family:'pictos';
    font-size:16px;
    background: white !important;

}
input[name="attr_meleedmg"]:checked:after{
    color:#E82C0C;
}
rolltemplate{
    border: 1px solid red;
}


.sheet-skills-attr>input[type='checkbox']:checked + b>i {
    color: #00ff00;
}

button[name="roll_body"],
button[name="roll_ref"],
button[name="roll_ma"],
button[name="roll_cool"],
button[name="roll_attr"],
button[name="roll_int"],
button[name="roll_luck"],
button[name="roll_tech"],
button[name="roll_emp"]{
    vertical-align: top; !important;
    background-color: transparent; !important;
    color:black;
    width: 45px;
    text-align: right; !important;
    /*line-height: unset; */
    margin-top:-1px;
}
.sheet-stats>.sheet-skill-button {
    width: auto;
}

.sheet-stats>.sheet-skill-button:before {
    content: '';
}
.sheet-edit-view {
    display: block;
    margin-bottom: 10px;
}

.sheet-edit-life-event:checked ~ li>input,
.sheet-edit-life-event:checked ~ li>select,
.sheet-edit-life-event:checked ~ li>textarea,
    /*Inventory */
.sheet-view-weapons:checked ~ .sheet-weapons,
.sheet-view-armors:checked ~ .sheet-armors,
.sheet-view-cyb:checked ~ .sheet-cybs,
.sheet-view-gears:checked ~ textarea[name="attr_gears"],
.sheet-view-net:checked ~ .sheet-net,
.sheet-view-life:checked ~ .sheet-life,
.sheet-view-notes:checked ~ textarea[name="attr_notes"],
    /*edit View*/
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:not(checked) + b + div>.sheet-secondary,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:checked + b + .sheet-skills-attr>.sheet-skill-select:checked + button + b,
    /*weapon*/
.sheet-edit-wp:checked ~ .sheet-wp-stat>.repcontainer>.repitem>li>input[name="attr_wp-melee"],
.sheet-edit-wp:checked ~ .sheet-wp-stat>.repcontrol,
    /*Prog*/
.sheet-edit-prog,
.sheet-edit-prog:checked ~ .repcontainer>.repitem>textarea,
.sheet-edit-prog:checked ~ .repcontrol,
.sheet-edit-prog:not(checked) ~ .repcontainer>.repitem>button{
    display: block;
}
.sheet-skills-attr>b>i,
.sheet-edit-view:not(checked) ~ .sheet-skills-attr,
.sheet-edit-view:checked ~ b,
.sheet-edit-view:checked ~ select,
.sheet-edit-view:checked ~ input,
.sheet-edit-view:not(checked) ~ div>.sheet-skill-select:checked + button,
.sheet-edit-view:not(checked) ~ .sheet-skill-select:checked + button,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:not(checked) + b + .sheet-skills-attr>input,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:not(checked) + b + .sheet-skills-attr>b,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:not(checked) + b + .sheet-skills-attr>.sheet-skill-select:checked + button + b,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit + .sheet-skills-legend,
    /*Prog*/
.sheet-edit-prog:checked ~ .repcontainer>.repitem>b,
.sheet-edit-prog:checked ~ .repcontainer>.repitem>input,
.sheet-edit-prog:checked ~ .repcontainer>.repitem>select,
    /*Weapon*/
.sheet-edit-wp:checked ~ .sheet-wp-stat>.repcontainer>.repitem>li>input,
.sheet-edit-wp:checked ~ .sheet-wp-stat>.repcontainer>.repitem>li>select,
.sheet-edit-wp:checked ~ .sheet-wp-stat>.repcontainer>.repitem>li>textarea,
    /*prog*/
.sheet-edit-prog:not(checked) ~ .repcontainer>.repitem>button>span,
    /*cyberdeck*/
.sheet-edit-cyberdeck:checked ~ div>input[type="number"],
.sheet-edit-cyberdeck:checked ~ div>input[type="text"],
.sheet-edit-cyberdeck:checked ~ div>select,
.sheet-edit-cyberdeck:not(checked) ~ div>span,
.sheet-edit-cyberdeck:checked ~ div>b,
    /*net*/
.sheet-net>.sheet-deck-bloc>b {
    display: inline-block;
    margin-top:0px;
}

.sheet-panel{
    width:100%;
}

li>input,
li>select,
.sheet-edit-view:not(checked) ~ b,
.sheet-edit-view:not(checked) ~ input,
.sheet-edit-view:not(checked) ~ select,
.sheet-edit-view:not(checked) ~ div>b,
.sheet-edit-view:not(checked) ~ div>input,
.sheet-edit-view:checked ~ button,
.sheet-edit-view:checked ~ div>button,
.sheet-edit-view:checked ~ .sheet-bio-title,
.sheet-edit-view:not(checked) ~ .sheet-skill-select:not(checked) + button,
.sheet-edit-view:checked ~ .sheet-skill-select:not(checked) + button,
.sheet-edit-view:checked ~ .sheet-skill-select:checked + button,
.sheet-edit-view:not(checked) ~ div>.sheet-skill-select:not(checked) + button,
.sheet-edit-view:checked ~ div>.sheet-skill-select:not(checked) + button,
.sheet-edit-view:checked ~ div>.sheet-skill-select:checked + button,
.sheet-edit-view:checked ~ .sheet-skills-show:not(checked) + .sheet-skills-edit,
.sheet-edit-view:checked ~ .sheet-skills-show:not(checked) + .sheet-skills-edit +  .sheet-skills-legend,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:checked + b + .sheet-skills-attr>.sheet-skill-select,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:checked + b + .sheet-skills-attr>.sheet-skill-select:not(checked) + button + b,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:checked + b + div>.sheet-secondary,
    /*weapon*/
.sheet-edit-wp:checked ~ .sheet-wp-stat>.repcontainer>.repitem>li>button,
.sheet-edit-wp:checked ~ .sheet-wp-stat>.repcontainer>.repitem>li>span,
    /*prog*/
.repeating_prog>.repcontainer>.repitem>span,
.repeating_prog>.repcontainer>.repitem>input,
.repeating_prog>.repcontainer>.repitem>select,
.repeating_prog>.repcontainer>.repitem>textarea,
    /*Cyberdeck*/
.sheet-edit-cyberdeck:checked ~ div>span,
    /*net*/
.sheet-net select,
.sheet-net input[type="number"],
.sheet-net span,
.sheet-net input[type="text"],
.sheet-net b,
.sheet-edit-prog:checked ~ .repcontainer>.repitem>button,
    /*repcontrol*/
.repcontrol{
    display: none
}





.sheet-edit-view:not(checked) ~ .sheet-skills-attr {
    width:400px;
}


.sheet-skills-attr>b{
    /*width:310px;*/
    width: 95%;
}
.sheet-skills-attr>input[type="checkbox"]{
    margin-top:-1px;
}
.sheet-secondary{
    width:100%!important;
}
.sheet-edit-view:checked ~ .sheet-skills-attr {
    display: block;
    margin:-1px 0 0 40px;
    /*width:317px;*/
    width:400px;
    border-top:1px solid #C6D3E8;
    max-height:300px;
    overflow:auto;
}



/** ----*/
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:checked + b + .sheet-skills-attr>b,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:checked + b + .sheet-skills-attr>.sheet-skill-select:checked + button + b, {
    color:#3c4e72;
}
.sheet-edit-wp:checked:after,
.sheet-edit-life-event:checked:after,
.sheet-edit-cyberdeck:checked:after,
.sheet-edit-prog:checked:after,
.sheet-skills-edit:checked:after,
.sheet-edit-view:checked:after,
.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:not(checked) + b + .sheet-skills-attr>.sheet-skill-select:checked + button + b {
    color:#E82C0C;
}

.sheet-edit-view:checked ~ .sheet-skills-show:checked + .sheet-skills-edit:checked + b + div>.sheet-secondary {
    margin:0;
    margin-top:-1px;
}
.sheet-skills-attr>b {
    margin-top:-1px;
}
.sheet-skills-attr>b>i {
    font-style : normal;
}

/*
.sheet-edit-view:checked ~ .sheet-skills-show:checked ~ .sheet-skills-edit:not(checked) ~ .sheet-skills-attr>.sheet-secondary>i {
    width:197px;
}

.sheet-edit-view:checked ~ .sheet-skills-show:checked ~ .sheet-skills-edit:not(checked) ~ .sheet-skills-attr>b>i {
    width:183px;
}
*/




.sheet-edit-view:checked ~ .sheet-skills-show:checked ~ .sheet-skills-edit:not(checked) + b + .sheet-skills-attr>.sheet-secondary>i{
    width:197px;
}
.sheet-edit-view:checked ~ .sheet-skills-show:checked ~ .sheet-skills-edit:not(checked) + b + .sheet-skills-attr>b>i{
    width:183px;

}

.sheet-edit-view:checked ~ .sheet-skills-show:checked ~ .sheet-skills-edit:checked + b + .sheet-skills-attr>.sheet-secondary>i {
    width:197px
}
.sheet-edit-view:checked ~ .sheet-skills-show:checked ~ .sheet-skills-edit:checked + b + .sheet-skills-attr>b>i {
    width:200px
}

button{
    margin-left:5px;
    text-decoration: none;
    border: none;
    font-size: x-small !important;
    background-color: transparent;
    font-weight: normal;
    cursor: pointer;
}

button:hover{
    color:red;
}
.sheet-edit-view:not(checked) ~ button:after {content: ' : '}

.sheet-skills-attr>button {padding:0;}

button[type="roll"]:before {
    content: '' !important;
}
button[type="roll"] {
    border:none;
    background: transparent;
    margin:0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    cursor: pointer;
    padding:0;
}

input[type="number"]{
    width: 40px;
    border: 1px solid #C6D3E8;
}


.sheet-skill-select{
    margin-top:5px;
}
.sheet-skill-select:after{
    content: '6';
    font-family:'pictos';
    font-size:16px;
    background: white !important;


    /*
    line-height: 1.5em!important;
    content: '' !important;
    display: inline-block !important;
    width: 14px !important;
    height: 14px !important;

    margin-left: -4px !important;;
    border: 1px solid rgb(192,192,192) !important;;
    border-radius: 0.25em !important;;
    background: rgb(224,224,224) !important;
    */
}

.sheet-skill-select:checked:after {
    content: '3';
    color:#E82C0C;

    /*
    width: 11px !important;
    height: 11px !important;
    border: 3px solid #00ff00 !important;
    background-color: #00ff00 !important;
    */
}
.sheet-edit-view{
    position:absolute;
}
.sheet-edit-view:after{
    content: 'p';
    font-family:'pictos';
    font-size:20px;
    background: white !important;
}


.sheet-skills-edit:after {
    content: ')';
    font-family:'pictos';
    font-size:18px;
    background: white !important;
}

.sheet-skills-edit:checked:after {
    content: '(';
    font-family:'pictos';
    font-size:18px;
    background: white !important;
}


.sheet-skills-show:after{
    content: '&';
    font-family:'pictos';
    font-size:16px;
    background: white !important;
}
.sheet-skills-show:checked:after{
    content: '_';
    color:#E82C0C;
}
.sheet-edit-wp:after,
.sheet-edit-life-event:after,
.sheet-edit-cyberdeck:after,
.sheet-edit-prog:after{
    content: 'y';
    font-family:'pictos';
    font-size:16px;
    background: white !important;
}

input[name="attr_armor_auto_enc"]:after,
input[name="attr_armor_macro"]:after{
    content: 'Q';
    font-family:'pictos';
    font-size:16px;
    background: white !important;
}

input[name="attr_armor_auto_enc"]:checked:after,
input[name="attr_armor_macro"]:checked:after{
    color:green;
}

.sheet-active-layer:after{
    content: '+';
    font-family:'pictos';
    font-size:16px;
    background: white !important;
}
.sheet-active-layer:checked:after{
    color:green;
}

.sheet-skills-attr input[type='checkbox']:after{
    margin-top: -5px !important;
}

.sheet-wp-stat {
    width: 280px;
}
.sheet-wp-stat>.repcontainer>.repitem>li {
    list-style: none;
}
.sheet-wp-stat>.repcontainer>.repitem>li>input,
.sheet-wp-stat>.repcontainer>.repitem>li>select{
    font-size: x-small;
    width: 50px;
}
.sheet-wp-stat>.repcontainer>.repitem>li>input[name="attr_wp-name"],
.sheet-wp-stat>.repcontainer>.repitem>li>input[name="attr_wp-desc"] {
    width: 266px;
}
.sheet-wp-stat>.repcontainer>.repitem>li>input[name="attr_cybName"]{
    width:220px;
}

.sheet-wp-stat>.repcontainer>.repitem>li>input[name="attr_wp-desc"] {
    margin:-10px 0 12px 0;
}


span[name="attr_wp-desc"]{
    display:block;
    font-style: italic;
    margin-top:-6px;
}
span[name="attr_wp-name"]::before,
span[name="attr_cybName"]::before{
    content:'- ';
    margin-left: -20px;
}
span[name="attr_cybName"]{
    font-weight:bold;
    font-size:x-small;
}

span[name="attr_cybCost"]::before{
    content:'(';
}
span[name="attr_cybCost"]::after{
    content:') :';
}


input[name="attr_wp-melee"]:before{
    margin-left: 20px;
    content: 'B.M.D';!important;
}
.sheet-armor input[type="number"]{
    width: 43px !important;
}
.sheet-armors input[type="number"], .sheet-armors input[placeholder="enc"] {
    width: 40px !important;
}

input[name="attr_armor_auto_enc"],
input[name="attr_armor_macro"] {
    margin-left:10px;margin-top:-3px;
}

textarea[name="attr_cybDesc"]{
    width:266px;
    height:60px;
}

.sheet-secondary-attrs span:before,
span[name="attr_status"]:before,
span[name="attr_rep"]:before,
span[name="attr_luck"]:before,
span[name="attr_ma_max"]:before{
    content:'[';
    color:#E82C0C;
    font-weight:bolder;
    vertical-align:text-bottom;
}
.sheet-secondary-attrs span:after,
span[name="attr_status"]:after,
span[name="attr_rep"]:after,
span[name="attr_luck_max"]:after,
span[name="attr_ma_max"]:after{
    content:']';
    color:#E82C0C;
    font-weight:bolder;
    vertical-align:text-bottom;
}
input[name="attr_view-txt"]{margin-left:2px;}
input[name="attr_view-txt"]:after,
.sheet-hs:after {
    line-height: 1.5em!important;
    content: '' !important;
    display: inline-block !important;
    width: 10px !important;
    height: 10px !important;

    border: 1px solid rgb(192,192,192) !important;;
    border-radius: 0.25em !important;;
    background: rgb(224,224,224) !important;
}
input[name="attr_view-txt"]:checked:after,
.sheet-hs:checked:after{
    background-color: #E82C0C !important;
}
.sheet-dmg-calculator{
    border-bottom:1px solid #ddd;
}
.sheet-txt-legend{
    width:46px;
    font-size:x-small;
    background:transparent!important;
    border:0 none;
    text-align:center;
    height:20px!important;
}
.sheet-skills-legend{
    margin-left:70px;
    display:none;
}

.sheet-dmg-calculator>table>tbody>tr>td>.sheet-add-dice:before{
    content: 'k' !important;
    font-family:'dicefontd10';
    font-size:16px;
    background: white !important;
}

.sheet-rolltemplate-skill,
.sheet-rolltemplate-save,
.sheet-rolltemplate-dmg,
.sheet-rolltemplate-prog {
    background-color:white;
    border:2px solid #3c4e72;
}
.sheet-rolltemplate-skill th,
.sheet-rolltemplate-save th,
.sheet-rolltemplate-dmg th,
.sheet-rolltemplate-prog th {
    background-color:#3c4e72;
    padding:2px;
    color:white;
    width:235px;
}
.sheet-rolltemplate-skill td,
.sheet-rolltemplate-save td,
.sheet-rolltemplate-dmg td,
.sheet-rolltemplate-prog td {
    padding:2px;
    text-align:justify;
}

.sheet-rolltemplate-calculDamages {
    background-color:white;
    border:1px solid #3c4e72;
}

/*TODO*/
.sheet-SNS{display:none}