input(name='attr_version' type='hidden' value='1.03')

//- CHARACTER SHEET PAGE
input.sheet_type(name='attr_sheet_type' type='hidden' value='pc')

//- CHARACTER TYPE (MUNDANE < MAGIC < RESONANCE)
input.character-type(name='attr_flag_special' type='hidden' value='mundane')

//- VARIABLES
- const imageSource = 'https://raw.githubusercontent.com/clevett/roll20-character-sheets/shadowrun4ev1/Shadowrun4thEdition/src/imgs';

include src/pug/_variables.pug

//- MIXINS
include src/pug/_mixins.pug

//- PCs
include src/pug/_pc.pug

//- NPCs
include src/pug/_npc.pug

//- FOOTER
include src/pug/_footer.pug

//- ROLL TEMPLATES
include src/pug/_rolltemplates.pug

//- HIDDEN
include src/html/hidden.html

//- SCRIPTS
script(type="text/worker")
  include src/js/attributes.js

  include src/js/Classes/PrimaryWeapon.js
  include src/js/Classes/PrimaryArmor.js

  include src/js/processingFunctions.js

  include src/js/scripts.js

  include src/js/versioning.js

  include src/js/eventhandlers.js