div.sheet-debilitiess
  h3.sheet-divide DEBILITIES
  br
  div.sheet-debilities
    div.sheet-debility-group
      div.sheet-debility-group-title
        h4 conditions
      
      div.sheet-debility
        h5 Wounded
        input(type='checkbox' class='sheet-checkbox' name='attr_debilWounded')
      
      div.sheet-debility
        h5 Shaken
        input(type='checkbox' class='sheet-checkbox' name='attr_debilShaken')
      
      div.sheet-debility
        h5 Unprepared
        input(type='checkbox' class='sheet-checkbox' name='attr_debilUnprepared')

      div.sheet-debility
        h5 Encumbered
        input(type='checkbox' class='sheet-checkbox' name='attr_debilEncumbered')

    div.sheet-debility-group
      div.sheet-debility-group-title
        h4 burdens
  
      div.sheet-debility
        h5 Cursed
        input(type='checkbox' class='sheet-checkbox' name='attr_debilCursed')

      div.sheet-debility
        h5 Tormented
        input(type='checkbox' class='sheet-checkbox' name='attr_debilTormented')

    div.sheet-debility-group
      div.sheet-debility-group-title
        h4 banes

      div.sheet-debility
        h5 Maimed
        input(input type='checkbox' class='sheet-checkbox' name='attr_debilMaimed')

      div.sheet-debility
        h5 Corrupted
        input(input type='checkbox' class='sheet-checkbox' name='attr_debilCorrupted')

    div.sheet-debility-group
      div.sheet-debility-group-title
        h4 assets

      div.sheet-debility
        h5 Oathbreaker
        input(input type='checkbox' class='sheet-checkbox' name='attr_debilOathbreaker')

      div.sheet-debility
        h5 Leech
        input(input type='checkbox' class='sheet-checkbox' name='attr_debilLeech')

      div.sheet-debility
        h5 Custom 1
        input(input type='checkbox' class='sheet-checkbox' name='attr_debilCustom1')

      div.sheet-debility
        h5 Custom 2
        input(input type='checkbox' class='sheet-checkbox' name='attr_debilCustom2')
