- var trackValues = { 5: '+5', 4: '+4', 3: '+4', 2: '+2', 1: '+1', 0: '0' }
div.sheet-character-details-bar
  div
    h2 Experience
      input(type='text' class='sheet-xp' name='attr_xp' placeholder='0')
      input(type='text' class='sheet-xp' name='attr_spent_xp' placeholder='0')
        //- TODO: Increase button 
        //- TODO: Decrease button 
  
    div.sheet-character-name
      input(type='text' class='sheet-pc-name' name='attr_character_name' placeholder='Character Name')
    div.sheet-resources
      div
        h2 Health
        img
        select(name='attr_health')
          each val, index in trackValues
            option(value=index)=val

      div
        h2 Spirit
        img
        select(name='attr_health')
          each val, index in trackValues
            option(value=index)=val

      div
        h2 Supply
        img
        select(name='attr_health')
          each val, index in trackValues
            option(value=index)=val
