.charsheet {
    font-family: "Courier";
}

.sheet-background {
    background: none;
    position: relative;
    padding: 18px 80px 80px 90px;
    width: 905px;
}

.sheet-background-image {
    width: 100%;
    z-index: -1;
}

.sheet-mortal,
.sheet-mortal1,
.sheet-mortal2,
.sheet-vampire,
.sheet-vampire1,
.sheet-vampire2,
.sheet-werewolf,
.sheet-werewolf1,
.sheet-werewolf2,
.sheet-mage,
.sheet-mage1,
.sheet-mage2,
.sheet-promethean,
.sheet-promethean1,
.sheet-promethean2,
.sheet-changeling,
.sheet-changeling1,
.sheet-changeling2,
.sheet-geist,
.sheet-geist1,
.sheet-geist2,
.sheet-changeling,
.sheet-changeling1,
.sheet-changeling2,
.sheet-mummy,
.sheet-mummy1,
.sheet-mummy2,
.sheet-demon,
.sheet-beast,
.sheet-hunter {
    display: none !important;
}

input.sheet-game-line[value="mortal"] ~ * .sheet-mortal,
input.sheet-type[value="mortal1"] ~ * .sheet-mortal1,
input.sheet-type[value="mortal2"] ~ * .sheet-mortal2,
input.sheet-game-line[value="vampire"] ~ * .sheet-vampire,
input.sheet-type[value="vampire1"] ~ * .sheet-vampire1,
input.sheet-type[value="vampire2"] ~ * .sheet-vampire2,
input.sheet-game-line[value="werewolf"] ~ * .sheet-werewolf,
input.sheet-type[value="werewolf1"] ~ * .sheet-werewolf1,
input.sheet-type[value="werewolf2"] ~ * .sheet-werewolf2,
input.sheet-game-line[value="mage"] ~ * .sheet-mage,
input.sheet-type[value="mage1"] ~ * .sheet-mage1,
input.sheet-type[value="mage2"] ~ * .sheet-mage2,
input.sheet-game-line[value="promethean"] ~ * .sheet-promethean,
input.sheet-type[value="promethean1"] ~ * .sheet-promethean1,
input.sheet-type[value="promethean2"] ~ * .sheet-promethean2,
input.sheet-game-line[value="changeling"] ~ * .sheet-changeling,
input.sheet-type[value="changeling1"] ~ * .sheet-changeling1,
input.sheet-type[value="changeling2"] ~ * .sheet-changeling2,
input.sheet-game-line[value="geist"] ~ * .sheet-geist,
input.sheet-type[value="geist1"] ~ * .sheet-geist1,
input.sheet-type[value="geist2"] ~ * .sheet-geist2,
input.sheet-game-line[value="mummy"] ~ * .sheet-mummy,
input.sheet-type[value="mummy1"] ~ * .sheet-mummy1,
input.sheet-type[value="mummy2"] ~ * .sheet-mummy2,
input.sheet-game-line[value="demon"] ~ * .sheet-demon,
input.sheet-game-line[value="beast"] ~ * .sheet-beast,
input.sheet-game-line[value="hunter"] ~ * .sheet-hunter {
    display: inline-block !important;
}

input.sheet-game-line[value="mortal"] ~ * table.sheet-mortal,
input.sheet-type[value="mortal1"] ~ * table.sheet-mortal1,
input.sheet-type[value="mortal2"] ~ * table.sheet-mortal2,
input.sheet-game-line[value="vampire"] ~ * table.sheet-vampire,
input.sheet-type[value="vampire1"] ~ * table.sheet-vampire1,
input.sheet-type[value="vampire2"] ~ * table.sheet-vampire2,
input.sheet-game-line[value="werewolf"] ~ * table.sheet-werewolf,
input.sheet-type[value="werewolf1"] ~ * table.sheet-werewolf1,
input.sheet-type[value="werewolf2"] ~ * table.sheet-werewolf2,
input.sheet-game-line[value="mage"] ~ * table.sheet-mage,
input.sheet-type[value="mage1"] ~ * table.sheet-mage1,
input.sheet-type[value="mage2"] ~ * table.sheet-mage2,
input.sheet-game-line[value="promethean"] ~ * table.sheet-promethean,
input.sheet-type[value="promethean1"] ~ * table.sheet-promethean1,
input.sheet-type[value="promethean2"] ~ * table.sheet-promethean2,
input.sheet-game-line[value="changeling"] ~ * table.sheet-changeling,
input.sheet-type[value="changeling1"] ~ * table.sheet-changeling1,
input.sheet-type[value="changeling2"] ~ * table.sheet-changeling2,
input.sheet-game-line[value="geist"] ~ * table.sheet-geist,
input.sheet-type[value="geist1"] ~ * table.sheet-geist1,
input.sheet-type[value="geist2"] ~ * table.sheet-geist2,
input.sheet-game-line[value="mummy"] ~ * table.sheet-mummy,
input.sheet-type[value="mummy1"] ~ * table.sheet-mummy1,
input.sheet-type[value="mummy2"] ~ * table.sheet-mummy2,
input.sheet-game-line[value="demon"] ~ * table.sheet-demon,
input.sheet-game-line[value="beast"] ~ * table.sheet-beast,
input.sheet-game-line[value="hunter"] ~ * table.sheet-hunter {
    display: table !important;
}

input.sheet-settingssheet:checked ~ .sheet-header,
input.sheet-settingssheet:not(:checked) ~ .sheet-settings,
input.sheet-page1-sheet:not(:checked) ~ .sheet-page1,
input.sheet-page2-sheet:not(:checked) ~ .sheet-page2,
input.sheet-page3-sheet:not(:checked) ~ .sheet-page3,
input.sheet-edition[value="1"] ~ * .sheet-2nd,
input.sheet-edition[value="2"] ~ * .sheet-1st {
    display: none !important;
}

.sheet-edition-label {
    font-weight: bold;
}

/* hide othertrait dots on changeling 2nd sheets (2e contracts don't have dots) */
input.sheet-type[value="changeling2"] ~ * td.sheet-changeling2 ~ td.sheet-normal,
/* hide morality dots on changeling 2nd sheets (2e clarity uses attr_moralhealth instead) */
input.sheet-type[value="changeling2"] ~ * tr.sheet-changeling2 ~ tr.sheet-normal {
    display: none;
}

/* hide morality dots on geist 2nd sheets (2e synergy doubles as morality) */
input.sheet-type[value="geist2"] ~ div * tbody.sheet-morality {
    display: none;
}

/* BACKGROUND IMAGE */
.sheet-background-image::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

input.sheet-sheetoptions + span.sheet-attr {
    background: white;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

input.sheet-game-line[value="mortal"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/chronicles-bg.jpg');
    background-size: 100% 100%;
    opacity: 0.2
}

input.sheet-game-line[value="vampire"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/vampire-bg.jpg');
    background-size: 100% 105%;
}

input.sheet-game-line[value="werewolf"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/werewolf-bg.png');
    background-size: 100% 100%;
}

input.sheet-game-line[value="mage"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/mage-bg.png');
    background-size: 100% 100%;
}

input.sheet-game-line[value="promethean"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/promethean-bg.png');
    background-size: 100% 100%;
}

input.sheet-game-line[value="changeling"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/changeling-bg.png');
    background-size: 100% 102%;
}

input.sheet-game-line[value="geist"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/deemlbag.png');
    background-size: 100% 100%;
}

input.sheet-game-line[value="mummy"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/mummy-bg.jpg');
    background-size: 100% 100%;
}

input.sheet-game-line[value="demon"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/demon-bg.png');
    background-size: 100% 100%;
}

input.sheet-game-line[value="beast"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/beast-bg.png');
    background-size: 100% 101%;
}

input.sheet-game-line[value="hunter"] ~ .sheet-background-image::after {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/hunter-bg.png');
    background-size: 100% 100%;
}

input.sheet-settingssheet:checked ~ .sheet-background-image::after,
input.sheet-page2-sheet:checked ~ .sheet-background-image::after,
input.sheet-page3-sheet:checked ~ .sheet-background-image::after{
    background-size: 100%;
}

/* HEADER IMAGE */
.sheet-header {
    display: flex;
    justify-content: center;
    min-height: 185px;
}

.sheet-header img.sheet-mortal,
.sheet-header img.sheet-vampire,
.sheet-header img.sheet-werewolf,
.sheet-header img.sheet-mage,
.sheet-header img.sheet-promethean,
.sheet-header img.sheet-changeling {
    height: 150px;
}

.sheet-header img.sheet-hunter {
    height: 120px;
}

.sheet-header img.sheet-geist,
.sheet-header img.sheet-demon {
    height: 200px;
}

button.sheet-toggle {
    /* Resetting user-agent styling */
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    border-style: none;

    padding: 0 4px;
    background: white;
    border-radius: 4px;
    font-weight: bold;
}

input.sheet-attr:checked + span.sheet-attr,
.sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name,
input.sheet-type[value="mortal1"] ~ * button.sheet-active-mortal1,
input.sheet-type[value="mortal2"] ~ * button.sheet-active-mortal2,
input.sheet-type[value="vampire1"] ~ * button.sheet-active-vampire1,
input.sheet-type[value="vampire2"] ~ * button.sheet-active-vampire2,
input.sheet-type[value="werewolf1"] ~ * button.sheet-active-werewolf1,
input.sheet-type[value="werewolf2"] ~ * button.sheet-active-werewolf2,
input.sheet-type[value="mage1"] ~ * button.sheet-active-mage1,
input.sheet-type[value="mage2"] ~ * button.sheet-active-mage2,
input.sheet-type[value="promethean1"] ~ * button.sheet-active-promethean1,
input.sheet-type[value="promethean2"] ~ * button.sheet-active-promethean2,
input.sheet-type[value="changeling1"] ~ * button.sheet-active-changeling1,
input.sheet-type[value="changeling2"] ~ * button.sheet-active-changeling2,
input.sheet-type[value="hunter"] ~ * button.sheet-active-hunter,
input.sheet-type[value="geist1"] ~ * button.sheet-active-geist1,
input.sheet-type[value="geist2"] ~ * button.sheet-active-geist2,
input.sheet-type[value="mummy1"] ~ * button.sheet-active-mummy1,
input.sheet-type[value="mummy2"] ~ * button.sheet-active-mummy2,
input.sheet-type[value="demon"] ~ * button.sheet-active-demon,
input.sheet-type[value="beast"] ~ * button.sheet-active-beast {
    color: #2A2D80;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
}

input.sheet-type[value="mortal1"] ~ * button.sheet-active-mortal1,
input.sheet-type[value="mortal2"] ~ * button.sheet-active-mortal2,
input.sheet-game-line[value="mortal"] + span.sheet-attr,
input.sheet-game-line[value="mortal"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="mortal"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="mortal"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #2A2D80;
}

input.sheet-type[value="vampire1"] ~ * button.sheet-active-vampire1,
input.sheet-type[value="vampire2"] ~ * button.sheet-active-vampire2,
input.sheet-game-line[value="vampire"] + span.sheet-attr,
input.sheet-game-line[value="vampire"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="vampire"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="vampire"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="vampire"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #B21800;
}

input.sheet-type[value="werewolf1"] ~ * button.sheet-active-werewolf1,
input.sheet-type[value="werewolf2"] ~ * button.sheet-active-werewolf2,
input.sheet-game-line[value="werewolf"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="werewolf"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="werewolf"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="werewolf"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #E9813E;
}

input.sheet-type[value="mage1"] ~ * button.sheet-active-mage1,
input.sheet-type[value="mage2"] ~ * button.sheet-active-mage2,
input.sheet-game-line[value="mage"] + span.sheet-attr,
input.sheet-game-line[value="mage"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="mage"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="mage"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="mage"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #0000FF;
}

input.sheet-type[value="promethean1"] ~ * button.sheet-active-promethean1,
input.sheet-type[value="promethean2"] ~ * button.sheet-active-promethean2,
input.sheet-game-line[value="promethean"] + span.sheet-attr,
input.sheet-game-line[value="promethean"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="promethean"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="promethean"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="promethean"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #660099;
}

input.sheet-type[value="changeling1"] ~ * button.sheet-active-changeling1,
input.sheet-type[value="changeling2"] ~ * button.sheet-active-changeling2,
input.sheet-game-line[value="changeling"] + span.sheet-attr,
input.sheet-game-line[value="changeling"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="changeling"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="changeling"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="changeling"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #006600;
}

input.sheet-type[value="geist1"] ~ * button.sheet-active-geist1,
input.sheet-type[value="geist2"] ~ * button.sheet-active-geist2,
input.sheet-game-line[value="geist"] + span.sheet-attr,
input.sheet-game-line[value="geist"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="geist"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="geist"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="geist"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #00CCFF;
}

input.sheet-type[value="mummy1"] ~ * button.sheet-active-mummy1,
input.sheet-type[value="mummy2"] ~ * button.sheet-active-mummy2,
input.sheet-game-line[value="mummy"] + span.sheet-attr,
input.sheet-game-line[value="mummy"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="mummy"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="mummy"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="mummy"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #996600;
}

input.sheet-type[value="demon"] ~ * button.sheet-active-demon,
input.sheet-game-line[value="demon"] + span.sheet-attr,
input.sheet-game-line[value="demon"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="demon"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="demon"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="demon"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #2A2D80;
}

input.sheet-type[value="beast"] ~ * button.sheet-active-beast,
input.sheet-game-line[value="beast"] + span.sheet-attr,
input.sheet-game-line[value="beast"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="beast"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="beast"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="beast"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #2A2D80;
}

input.sheet-type[value="hunter"] ~ * button.sheet-active-hunter,
input.sheet-game-line[value="hunter"] ~ * button.active-hunter,
input.sheet-game-line[value="hunter"] ~ input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="hunter"] ~ * input.sheet-attr:checked + span.sheet-attr,
input.sheet-game-line[value="hunter"] ~ * .sheet-potency input.sheet-attr:checked ~ span.sheet-attr,
input.sheet-game-line[value="hunter"] ~ * input.sheet-weapon:checked + span + .sheet-weaponstat.sheet-name {
    color: #2A2D80;
}

.sheet-rolltemplates {
    display: none;
}

.sheet-el_spacer {
    height: 10px;
}

.sheet-spacer {
    height: 20px;
}

.sheet-diceroller {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
}

.charsheet .sheet-diceroller table th {
    text-align: center;
    font-size: 1.3em;
}

.charsheet .sheet-diceroller table {
    border: solid 1px #000000;
}

.charsheet .sheet-diceroller table td {
    border-right: solid 1px #000000;
}

.charsheet .sheet-diceroller table .sheet-bottom {
    border-bottom: solid 1px #000000;
}

.charsheet .sheet-diceroller .sheet-rollcontainer {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/die.png') no-repeat center;
    background-size: contain;
    border-bottom: solid 1px #000000;
}

.charsheet .sheet-diceroller button:before {
    font-family: "Courier" !important;
    content: "Roll" !important;
    background: none !important;
}

.charsheet .sheet-diceroller button {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.charsheet .sheet-diceroller .sheet-rolldisplay textarea {
    resize: none;
    overflow: hidden;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    padding: 0px;
    text-align: center;
    height: 70px;
    pointer-events: none;
    width: 120px;
}

.charsheet .sheet-3colrow {
    display: inline;
    clear: none;
    width: 100%;
}

.charsheet .sheet-3colrow table {
    width: 100%;
    border-collapse: separate;
}

.charsheet .sheet-3colrow .sheet-col {
    width: calc(33% - 1px);
    margin-right: 0px;
    margin-left: 0px;
}

.charsheet input[type=text] {
    display: inline-block;
    width: 165px;
    font-family: "Courier";
    font-size: 12px;
    height: 20px;
    border: 0px;
    border-radius: 0px;
    background: none;

    -moz-box-shadow: 0px 1px 0px #000;
    -webkit-box-shadow: 0px 1px 0px #000;
    box-shadow: 0px 1px 0px #000;
}

.charsheet textarea {
    display: inline-block;
    width:100%;
    margin:1px 0px;
    resize:none;
    font-family: "Courier";
    color: #000000;
}

.charsheet table td, .charsheet table th {
    font-size: 1em;
    font-weight: bolder;
    font-family: "Courier";
    text-align: left;
    width: 0%;
    border: 0px #000000;
    padding: 2px;
    vertical-align: middle;
    color: #000000;
    margin:0px 0px;
    line-height: 1em;
}

.charsheets table td {
    white-space: nowrap;
    text-align: left;
}

.sheet-3colrow table th, .sheet-skills table th, .sheet-othertraits table th {
    font-size: 1.7em;
    font-weight: bolder;
    font-family: "Courier";
    color: #000000;
    text-decoration: overline underline;
    text-align: center;
}

.sheet-skills table {
    width: 200px;
    border-right: solid 1px black;
}

.sheet-skills td {
    line-height: 1em;
}

.sheet-subheader {
    font-size: 1.4em;
    font-weight: bolder;
    text-align: center;
}

.sheet-subsubheader {
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
}

.sheet-skills {
    float: left;

}

.sheet-otherattributes {
    float: right;
    width: 200px;
}

table.sheet-attributes .sheet-spacer:not(:nth-child(2)) {
    border-left: solid 1px black;
}

table.sheet-attributes .sheet-spacer {
    border-right: solid 1px black;
}

table.sheet-attributes td:last-child {
    border-right: solid 1px black;
}

.charsheet table.sheet-attributes tr:nth-child(2) td:not(.sheet-spacer):not(.sheet-category) {
    border-top: solid 1px black;
}

.charsheet table.sheet-attributes tr:last-child td:not(.sheet-spacer):not(.sheet-category) {
   border-bottom: solid 1px black;
}

.charsheet table.sheet-attributes td.sheet-category {
    text-align: right;
}

input.sheet-attr {
    width: 87px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    z-index: 9999;
}

span.sheet-attr {
    display: inline-block;
    font-size: 13px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin-left: -91px;
}

/* Hide actual dot/checkbox */
input[type="radio"].sheet-normal,
input.sheet-weapon,
input[type="checkbox"].sheet-normal
{
    position: absolute;
    opacity: 0.0;
    width: 15px;
    cursor: pointer;
    z-index: 10;
    margin-top: 5px;
}

input.sheet-weapon {
    margin-top: 0px;
}

/* Styles common to fake dot and checkbox */
input[type="radio"].sheet-normal + span::before,
input.sheet-weapon + span::before,
input[type="checkbox"].sheet-normal + span::before,
.sheet-permadot::before
{
    border: solid 1px #000000;
    line-height: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    -moz-box-shadow: 0 0 0px #000;
    -webkit-box-shadow: 0 0 0px #000;
    box-shadow: 0 0 0px #000;

    background: #000000;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

/* Styles unique to fake dot (checked or left of checked) */
input[type="radio"].sheet-normal + span::before,
input.sheet-weapon:checked + span::before,
.sheet-permadot::before
{
    content: "•";
    width: 10px;
    height: 10px;
    font-size: 41.9px;
    font-family: "Arial";
    text-indent: -2px;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-weapon + span::before
{
    content: "";
    width: 10px;
    height: 10px;
    font-size: 35px;
    font-family: "Arial";
    text-indent: -1px;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Styles unique to fake checkbox (unchecked) */
input[type="checkbox"].sheet-normal + span::before
{
    position:relative;
    content: "";
    opacity: 1.0;
    width: 10px;
    height: 10px;
    font-size: 12px;

    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

/* Styles unique to fake checkbox (checked) */
input[type="checkbox"].sheet-normal:checked + span::before
{
    background:
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);

    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"].sheet-normal:checked ~ input[type="radio"] + span::before
{
    content: "";
}

input.sheet-used+span::before
{
    content: "✖";
    width: 12px;
    height: 12px;
    font-size: 12px;

    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
}

input.sheet-zero:checked + span::before
{
    opacity: 0;
}

input.sheet-zero:hover + span::before
{
    opacity: 0.25;
    font-size: 12px;
    content: "✖";
    text-indent: 0.5px;
}

input.sheet-zero + span::before
{
    opacity: 0;
}

.sheet-rolltemplate-wod table,
.sheet-rolltemplate-wod-attack table,
.sheet-rolltemplate-wod-simple table,
.sheet-rolltemplate-wod-3part table,
.sheet-rolltemplate-wod-initiative table
{
    width: 189px;
    height: 100%;
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/roll.jpg) no-repeat top left;
    background-size: 189px 100%;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}

.sheet-rolltemplate-wod th,
.sheet-rolltemplate-wod-attack th,
.sheet-rolltemplate-wod-simple th,
.sheet-rolltemplate-wod-3part th,
.sheet-rolltemplate-wod-initiative th
{
    color: rgb(112, 0, 0);
    padding: 20px 20px 2px 20px;
    line-height: 1.2em;
    font-size: 1.2em;
    text-align: left;
}


.sheet-rolltemplate-wod td,
.sheet-rolltemplate-wod-attack td,
.sheet-rolltemplate-wod-simple td,
.sheet-rolltemplate-wod-3part td ,
.sheet-rolltemplate-wod-initiative td
{
    padding: 2px 20px 2px 20px;
    font-size: 1.0em;
    vertical-align: top;
}

.sheet-rolltemplate-wod .sheet-result,
.sheet-rolltemplate-wod-attack .sheet-result,
.sheet-rolltemplate-wod-simple .sheet-result,
.sheet-rolltemplate-wod-3part .sheet-result ,
.sheet-rolltemplate-wod-initiative .sheet-result
{
    font-size: 1.2em;
    text-align: center;
    color: rgb(112, 0, 0);
    padding: 2px 20px 2px 20px;
}


.sheet-rolltemplate-wod .inlinerollresult,
.sheet-rolltemplate-wod-attack .sheet-result .inlinerollresult,
.sheet-rolltemplate-wod-simple .inlinerollresult,
.sheet-rolltemplate-wod-3part .inlinerollresult,
.sheet-rolltemplate-wod-initiative .inlinerollresult
{
    background-color: transparent;
    color: #000000;
    border: none;
}

.sheet-rolltemplate-wod-attack .inlinerollresult
 {
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 1em;
    padding: 0px;
}

.sheet-rolltemplate-wod .inlinerollresult.fullcrit,
.sheet-rolltemplate-wod-attack .sheet-result .inlinerollresult.fullcrit,
.sheet-rolltemplate-wod-simple .inlinerollresult.fullcrit,
.sheet-rolltemplate-wod-3part .inlinerollresult.fullcrit,
.sheet-rolltemplate-wod-initiative .inlinerollresult.fullcrit
{
    color: #000000;
    border: none;
}

.sheet-rolltemplate-wod .inlinerollresult.fullfail,
.sheet-rolltemplate-wod-attack .sheet-result .inlinerollresult.fullfail,
.sheet-rolltemplate-wod-simple .inlinerollresult.fullfail,
.sheet-rolltemplate-wod-3part .inlinerollresult.fullfail,
.sheet-rolltemplate-wod-initiative .inlinerollresult.fullfail
{
    color: #000000;
    border: none;
}

.sheet-rolltemplate-wod .inlinerollresult.importantroll,
.sheet-rolltemplate-wod-attack .inlinerollresult.importantroll,
.sheet-rolltemplate-wod-simple .inlinerollresult.importantroll,
.sheet-rolltemplate-wod-3part .inlinerollresult.importantroll,
.sheet-rolltemplate-wod-initiative .inlinerollresult.importantroll
{
    color: #000000;
    border: none;
}

.sheet-rolltemplate-wod .sheet-specialrollflag,
.sheet-rolltemplate-wod-attack .sheet-specialrollflag,
.sheet-rolltemplate-wod-simple .sheet-specialrollflag,
.sheet-rolltemplate-wod-3part .sheet-specialrollflag ,
.sheet-rolltemplate-wod-initiative .sheet-specialrollflag
{
    color: #000000;
    height: 30px;
    text-align: right;
    vertical-align: top;
}

.sheet-variablecontainer
{
    padding: 0px;
    text-align: center;
}

/* Remove dot from all radios _after_ selected one */
.sheet-variablecontainer input[type="radio"].sheet-normal:checked ~ input[type="radio"] + span::before
{
    opacity: 0;
    display: none;
}

.sheet-variablecontainer input[type="radio"] {
    pointer-events: none;
}

.sheet-variablecontainer input[type="radio"].sheet-whitedot,
.sheet-variablecontainer input[type="radio"].sheet-bashingdot,
.sheet-variablecontainer input[type="radio"].sheet-lethaldot,
.sheet-variablecontainer input[type="radio"].sheet-aggravateddot
{
    pointer-events: auto;
}

/* -----BOXES----- */
.sheet-variablecontainer .sheet-healthboxcontainer {
    position: absolute;
}

.sheet-variablecontainer .sheet-healthboxcontainer input
{
    top: 10px;
    right: -3px;
    position: absolute;
    opacity: 0;
    width: 15px;
    cursor: pointer;
    margin-top: 5px;
    z-index: 101;
}

.sheet-variablecontainer .sheet-healthboxcontainer input + span::before
{
    top: 15px;
    right: 0px;
    position: absolute;
    content: "";
    opacity: 1.0;
    width: 10px;
    height: 10px;
    font-size: 12px;

    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;

    border: solid 1px #000000;
    line-height: 11px;
    text-align: center;
    vertical-align: middle;

    -moz-box-shadow: 0 0 0px #000;
    -webkit-box-shadow: 0 0 0px #000;
    box-shadow: 0 0 0px #000;

    background: #000000;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

.sheet-variablecontainer .sheet-healthboxcontainer input:checked + span::before
{
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

.sheet-variablecontainer .sheet-healthboxcontainer input[type="radio"].sheet-whitedot:checked + span::before
{
    content: "" !important;
}

.sheet-variablecontainer .sheet-healthboxcontainer input[type="radio"].sheet-bashingdot:checked + span::before
{
    background:
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}

.sheet-variablecontainer .sheet-healthboxcontainer input[type="radio"].sheet-lethaldot:checked + span::before
{
    background:
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}

.sheet-variablecontainer .sheet-healthboxcontainer input[type="radio"].sheet-aggravateddot:checked + span::before
{
    background:
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
        linear-gradient(to right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}

.sheet-variablecontainer .sheet-healthboxcontainer input[type="radio"].sheet-whitedot {
    z-index: 102;
}

input.sheet-whitedot:checked ~ input.sheet-bashingdot,
input.sheet-bashingdot:checked ~ input.sheet-lethaldot,
input.sheet-lethaldot:checked ~ input.sheet-aggravateddot {
    z-index: 103;
}

.sheet-variablecontainer .sheet-healthboxcontainer span {
    display: none;
}

input.sheet-whitedot:checked ~ span.sheet-whitedot,
input.sheet-bashingdot:checked ~ span.sheet-bashingdot,
input.sheet-lethaldot:checked ~ span.sheet-lethaldot,
input.sheet-aggravateddot:checked ~ span.sheet-aggravateddot {
    display: inline-block;
}

.sheet-healthcontainer {
    width: 20px;
    margin-left: -16px;
    display: inline-block;
}

/* Remove extra health boxes */
.sheet-variablecontainer input[type="radio"].sheet-normal:checked ~ .sheet-healthboxcontainer
{
    display: none;
}

.sheet-variablecontainer input[type="radio"].sheet-normal:checked + span + .sheet-healthboxcontainer
{
    display: inline-block !important;
}

.sheet-variablecontainer input[type="radio"].sheet-normal + span + .sheet-healthboxcontainer + .sheet-woundpenalties
{
    position: relative;
    display: none;
}

.sheet-variablecontainer input[type="radio"].sheet-normal:checked + span + .sheet-healthboxcontainer + .sheet-woundpenalties
{
    display: inline-block
}

.sheet-variablecontainer input[type="radio"].sheet-normal:checked + span + .sheet-healthboxcontainer + .sheet-woundpenalties > span
{
    position: absolute;
    top: 17px;
    left: -50px;
    width: 50px;
    height: 10px;
    font-size: 10px;
    text-align: right;
}

.sheet-variablecontainer .sheet-healthboxcontainer input[type="checkbox"] + span {
    display: inline-block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.sheet-derived input[type=number] {
    width: 18px;
    padding: 0px;
    background: none;
    color: black;
    font-family: "Courier";
    text-align: center;
    border: none;
    cursor: default;
    box-shadow: none;
    height: 18px;
}

.sheet-settings input[type=number] {
    width: 28px;
    padding: 2px;
    background: none;
    color: black;
    font-family: "Courier";
    text-align: center;
    border: none;
    cursor: default;
    -moz-box-shadow: 0px 1px 0px #000;
    -webkit-box-shadow: 0px 1px 0px #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-appearance:none;
    -moz-appearance:none;
    margin-bottom: 0px;
}

.sheet-derived input::-webkit-outer-spin-button,
.sheet-derived input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.sheet-rowtext {
    text-align: center;
    vertical-align: top;
}

.sheet-rowtext input[type=text] {
    padding: 0.1px;
    height: 14px;
}

.sheet-merittable {
    margin-right: 15px;
    margin-left: 15px;
}

.sheet-merittable input[type=text] {
    padding: 0.1px;
    height: 14px;
    width: 135px;
}

.sheet-weapontable input[type=text].sheet-weaponstat {
    width: 17px;
    text-align: center;
}

.sheet-weapontable input[type=text].sheet-weaponstat.sheet-name {
    width: 130px;
    text-align: left;
}

.sheet-weapontable input[type=text].sheet-weaponstat.sheet-range {
    width: 80px;
    text-align: center;
}

.sheet-weapontable input[type=text].sheet-weaponstat.sheet-mag {
    width: 30px;
    text-align: center;
}

.sheet-weapontable input[type=text].sheet-weaponstat.sheet-desc {
    width: 135px;
    text-align: left;
}

.sheet-weapontable select,
.sheet-settings select,
.sheet-page2 select,
.sheet-othertrait select{
    width: 47px;
    height: 14px;
    padding: 0px;
    background: none;
    color: black;
    font-family: "Courier";
    font-size: 12px;
    border: none;
    cursor: default;
    box-shadow: 0px 1px 0px #000;
    border-radius: 0px;
    -webkit-appearance:none;
    -moz-appearance:none;
    margin-bottom: 0px;
    line-height: 14px;
}

.sheet-settings select,
.sheet-page2 select {
    width: 80px;
}

.sheet-wpnheader td {
    text-align: center;
}

.sheet-dottable {
    text-align: center;
}

.sheet-dottable table {
    width: 100%;
}

.sheet-dottable .sheet-mortal td,
.sheet-dottable .sheet-vampire td {
    text-align: center;
}

.sheet-page2 input[type="text"].sheet-partname {
    width: 116px;
}

.sheet-page2 input[type="text"].sheet-name {
    width: 150px;
}

.sheet-page2 input[type="text"].sheet-partpool {
    width: 20px;
    padding: 1px;
    margin-left: 3px;
    background: none;
    color: black;
    font-family: "Courier";
    text-align: center;
    border: none;
    cursor: default;
    -moz-box-shadow: 0px 1px 0px #000;
    -webkit-box-shadow: 0px 1px 0px #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-appearance:none;
    -moz-appearance:none;
    margin-bottom: 0px;
}

.sheet-page2 .sheet-rollcontainer {
    background: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Chronicles%20of%20Darkness%20by%20Roll20/images/die.png') no-repeat center;
    background-size: contain;
    height: 40px;
    width: 40px;
    display: inline-block;
    float: right;
}

.sheet-customroll button:before {
    font-family: "Courier" !important;
    content: "Roll" !important;
    background: none !important;
}

.sheet-customroll button {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.charsheet .sheet-diceroller table td.sheet-initiative {
    border-bottom: solid 1px #000000;
    text-align: center;
}

.charsheet .sheet-diceroller table td.sheet-initiative button:before {
    content: "" !important;
}

.charsheet .sheet-diceroller table td.sheet-initiative button {
    color: #2A2D80;
    text-shadow: 0px 0px 10px black;
    font-weight: bold;
    height: auto;
    width: auto;
    opacity: 100;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.sheet-page2 textarea,
.sheet-page3 textarea {
    resize:vertical;
    width: calc(100% - 10px);
    margin-top: 10px;
    height: 74px;
}

.sheet-page2 .sheet-customroll {
    border: solid 1px black;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 15px;
}

.sheet-leftcolumn {
    display: inline-block;
    margin-right: 10px;
}

.sheet-rightcolumn {
    display: inline-block;
    float: right;
}

td.sheet-vitae {
    padding: 0px;
}

tr.sheet-vitae {
    height: 13px;
}

.sheet-vitae input[type=checkbox] {
    margin-top: 0px;
    width: 12px;
}

input[type=text].sheet-title {
    text-align: center;
    width: 300px;
    font-size: 1.4em;
    font-weight: bolder;
    padding: 0px;
}

.sheet-page3 {
    text-align: center;
}

.sheet-page3 .sheet-subheader {
    width: 300px;
    font-size: 1.4em;
    font-weight: bolder;
}
/* PRD-1407 */
.charsheet .repcontainer.editmode .repitem .itemcontrol {
    z-index: 100;
}
