input(type=`hidden`, name=`attr_sheet_mode`, value=`scum`)
.frontierscum
  .sheet-selector 
    select(name='attr_sheet_mode')
      option(data-i18n-title="scum_sheet", title="Scum Sheet", value='scum') &#129312;
      option(data-i18n-title="horse_sheet", title="Horse Sheet", value='horse') &#128014;
  main.scum
    include scumsheet/layout
  main.horse
    include horsesheet/layout
include rolltemplates/abilitycheck