h3 {
    background: #000000;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

h5 {
    text-align: center;
}

img {
    max-height: 100px;
    margin-left: 15%;
}

label {
    padding-top: 10px;
    text-align: left;
}
label.sheet-right {
    text-align: right;
}
label.sheet-center {
    text-align: center;
}

div.sheet-psa, input.sheet-psa {
    text-align: center;
}

.charsheet h3 {
    margin-bottom: 10px;
    background: #000000;
    color: #ffffff;
    text-align: center;
}

.charsheet input {
    display: inline-block;
}

.charsheet input.sheet-short {
    width: 3.5em;
}

.charsheet table td, .charsheet table th {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}