<!-- Weapons -->
<div id="weapons" class="sheet-section sheet-anchor-adjust-x2 sheet-creature">
    <h2><span data-i18n="weapons">Weapons</span> <button type="roll" class="sheet-link sheet-link-ico" value="/w gm https://wiki.roll20.net/Mythras_Sheet#Weapons">?</button></h2>

    <input type="hidden" name="attr_weapon_buttons" value="">

    <!-- Melee Weapons -->
    <div class="sheet-bmargin">
        <input type='hidden' class="sheet-deep-toggle" name='attr_reach_enabled' value="1">
        <div class="sheet-flex">
            <div class="sheet-th"><div class="sheet-checkbox-width"><span class="sheet-pictos sheet-help" data-i18n-title="include_in_combat_rolls">S</span></div></div>
            <div class="sheet-th"><div class="sheet-weapon-name" data-i18n="melee_weapon">Melee Weapon</div></div>
            <div class="sheet-th"><div class="sheet-button-width"></div></div>
            <div class="sheet-th"><div class="sheet-weapon-damage" data-i18n="damage">Damage</div></div>
            <div class="sheet-th"><div class="sheet-checkbox-width sheet-pictos sheet-help" data-i18n-title="damage_modifier">+</div></div>
            <div class="sheet-th"><div class="sheet-weapon-size" data-i18n="size">Size</div></div>
            <div class="sheet-th"><div class="sheet-toggle sheet-weapon-reach" data-i18n="reach">Reach</div></div>
            <div class="sheet-th sheet-grow" data-i18n="notes">Notes</div>
            <div class="sheet-th"><div class="sheet-number-width-sm sheet-help" data-i18n-title="armor_points" data-i18n="armor_points-a">AP</div></div>
            <div class="sheet-th"><div class="sheet-number-width sheet-help" data-i18n-title="hit_points" data-i18n="hit_points-a">HP</div></div>
            <div class="sheet-th sheet-major"><div class="sheet-number-width-sm" data-i18n="enc">ENC</div></div>
            <div class="sheet-th sheet-major"><div class="sheet-equipment-location" data-i18n="location">Location</div></div>
        </div>
        <fieldset class="repeating_meleeweapon">
            <div class="sheet-flex">
                <div class="sheet-td"><input type="checkbox" title="@{$ID_favored}" name="attr_favored" value="1"><span class="sheet-checkico">S</span></div>
                <div class="sheet-td sheet-hover-btn">
                    <input type="text" class="sheet-weapon-name sheet-text-left" title="@{$ID_name}" name="attr_name">
                    <button type="roll" class="sheet-hover sheet-id" title="%{$ID_id}" name="roll_id" value="/w gm {{'&{template:default} {{character=@{character_name}}} {{name=@{name}}} {{^{id}=@{id}}}'}}">i</button>
                    <input type="hidden" name="attr_id" value="unset, please change any value in this weapon" readonly>
                </div>
                <div class="sheet-td"><button type="roll" class="sheet-die sheet-d8" title="%{$ID_damage}" name="roll_btn" value="{{'@{rollval}'}}">h</button></div>
                <div class="sheet-td"><input type="text" class="sheet-weapon-damage" title="@{$ID_damage}" name="attr_damage"></div>
                <div class="sheet-td"><input type="checkbox" name="attr_damage_mod_toggle" title="@{$ID_damage_mod_toggle}" value="@{damage_mod}" checked><span class="sheet-checkico">+</span></div>
                <div class="sheet-td"><input type="text" class="sheet-weapon-size" title="@{$ID_size}" name="attr_size"></div>
                <div class="sheet-td sheet-toggle"><input type="text" class="sheet-weapon-reach" title="@{$ID_reach}" name="attr_reach"></div>
                <div class="sheet-td sheet-grow"><input type="text" class="sheet-full-width" title="@{$ID_notes}" name="attr_notes"></div>
                <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{$ID_ap}" name="attr_ap" step="1" min="0" value="0"></div>
                <div class="sheet-td">
                    <div class="sheet-number-width sheet-text-center">
                        <input type="number" class="sheet-number-width-xs" title="@{$ID_hp}" name="attr_hp" step="1" min="0" value="0">/<input type="number" class="sheet-number-width-xs" title="@{$ID_hp|max}" name="attr_hp_max" step="1" min="0" value="0">
                    </div>
                </div>
                <div class="sheet-td sheet-major"><input type="number" class="sheet-number-width-sm" title="@{$ID_enc}" name="attr_enc" step="1" min="0" value="0"></div>
                <div class="sheet-td sheet-major">
                    <select class="sheet-equipment-location sheet-text-center" title="@{$ID_location}" name="attr_location">
                        <option value="loadout" data-i18n="worn" selected>Worn</option>
                        <option value="pack" data-i18n="pack">Pack</option>
                        <option value="mount" data-i18n="transport">Transport</option>
                        <option value="camp" data-i18n="camp">Camp</option>
                        <option value="stash" data-i18n="stash">Stash</option>
                        <option value="homebase" data-i18n="homebase">Homebase</option>
                    </select>
                </div>
            </div>
            <div hidden>
                <input type="text" name="attr_rollval" value="">
                <button type="action" name="act_roll"></button>
            </div>
        </fieldset>
    </div>

    <!-- Ranged Weapons -->
    <div>
        <div class="sheet-flex">
            <div class="sheet-th"><div class="sheet-checkbox-width"><span class="sheet-pictos sheet-help" data-i18n-title="include_in_combat_rolls">S</span></div></div>
            <div class="sheet-th"><div class="sheet-weapon-name" data-i18n="ranged_weapon">Ranged Weapon</div></div>
            <div class="sheet-th"><div class="sheet-button-width"></div></div>
            <div class="sheet-th"><div class="sheet-weapon-damage" data-i18n="damage">Damage</div></div>
            <div class="sheet-th"><div class="sheet-checkbox-width sheet-pictos sheet-help" data-i18n-title="damage_modifier">+</div></div>
            <div class="sheet-th"><div class="sheet-weapon-size" data-i18n="force">Force</div></div>
            <div class="sheet-th"><div class="sheet-weapon-reach" data-i18n="range">Range</div></div>
            <div class="sheet-th"><div class="sheet-number-width-xs" data-i18n-title="impale_size" data-i18n="impale_size-a">IS</div></div>
            <div class="sheet-th"><div class="sheet-number-width sheet-help" data-i18n-title="ammunition" data-i18n="ammunition-a">Ammo</div></div>
            <div class="sheet-th"><div class="sheet-number-width" data-i18n="load">Load</div></div>
            <div class="sheet-th sheet-grow" data-i18n="notes">Notes</div>
            <div class="sheet-th"><div class="sheet-number-width-sm sheet-help" data-i18n-title="armor_points" data-i18n="armor_points-a">AP</div></div>
            <div class="sheet-th"><div class="sheet-number-width sheet-help" data-i18n-title="hit_points" data-i18n="hit_points-a">HP</div></div>
            <div class="sheet-th sheet-major"><div class="sheet-number-width-sm" data-i18n="enc">ENC</div></div>
            <div class="sheet-th sheet-major"><div class="sheet-equipment-location" data-i18n="location">Location</div></div>
        </div>
        <fieldset class="repeating_rangedweapon">
            <div class="sheet-flex">
                <div class="sheet-td"><input type="checkbox" title="@{$ID_favored}" name="attr_favored" value="1"><span class="sheet-checkico">S</span></div>
                <div class="sheet-td sheet-hover-btn">
                    <input type="text" class="sheet-weapon-name sheet-text-left" title="@{$ID_name}" name="attr_name" value="">
                    <button type="roll" class="sheet-hover sheet-id" title="%{$ID_id}" name="roll_id" value="/w gm {{'&{template:default} {{character=@{character_name}}} {{name=@{name}}} {{^{id}=@{id}}}'}}">i</button>
                    <input type="hidden" name="attr_id" value="unset, please change any value in this weapon" readonly>
                </div>
                <div class="sheet-td"><button type="roll" class="sheet-die sheet-d8" title="%{$ID_damage}" name="roll_btn" value="{{'@{rollval}'}}">h</button></div>
                <div class="sheet-td"><input type="text" class="sheet-weapon-damage" title="@{$ID_damage}" name="attr_damage" value=""></div>
                <div class="sheet-td"><input type="checkbox" name="attr_damage_mod_toggle" title="@{$ID_damage_mod_toggle}" value="@{damage_mod}"><span class="sheet-checkico">+</span></div>
                <div class="sheet-td"><input type="text" class="sheet-weapon-size" title="@{$ID_force}" name="attr_force" value=""></div>
                <div class="sheet-td"><input type="text" class="sheet-weapon-reach" title="@{$ID_range}" name="attr_range" value=""></div>
                <div class="sheet-td"><input type="text" class="sheet-number-width-xs" title="@{$ID_impale_size}" name="attr_impale_size" value=""></div>
                <div class="sheet-td">
                    <div class="sheet-number-width sheet-text-center">
                        <input type="number" class="sheet-number-width-xs" title="@{$ID_ammo}" name="attr_ammo" step="1" min="0" value="0">/<input type="number" class="sheet-number-width-xs" title="@{$ID_ammo|max}" name="attr_ammo_max" step="1" min="0" value="0">
                    </div>
                </div>
                <div class="sheet-td"><input type="text" class="sheet-number-width" title="@{$ID_load}" name="attr_load" value=""></div>
                <div class="sheet-td sheet-grow"><input type="text" class="sheet-full-width" title="@{$ID_notes}" name="attr_notes" value=""></div>
                <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{$ID_ap}" name="attr_ap" step="1" min="0" value="0"></div>
                <div class="sheet-td">
                    <div class="sheet-number-width sheet-text-center">
                        <input type="number" class="sheet-number-width-xs" title="@{$ID_hp}" name="attr_hp" step="1" min="0" value="0">/<input type="number" class="sheet-number-width-xs" title="@{$ID_hp|max}" name="attr_hp_max" step="1" min="0" value="0">
                    </div>
                </div>
                <div class="sheet-td sheet-major"><input type="number" class="sheet-number-width-sm" title="@{$ID_enc}" name="attr_enc" step="1" min="0" value="0"></div>
                <div class="sheet-td sheet-major">
                    <select class="sheet-equipment-location sheet-text-center" title="@{$ID_location}" name="attr_location">
                        <option value="loadout" data-i18n="worn" selected>Worn</option>
                        <option value="pack" data-i18n="pack">Pack</option>
                        <option value="mount" data-i18n="transport">Transport</option>
                        <option value="camp" data-i18n="camp">Camp</option>
                        <option value="stash" data-i18n="stash">Stash</option>
                        <option value="homebase" data-i18n="homebase">Homebase</option>
                    </select>
                </div>
            </div>
            <div hidden>
                <input type="text" name="attr_rollval" value="">
                <button type="action" name="act_roll"></button>
            </div>
        </fieldset>
    </div>
</div>