<!-- Background -->
<div id="character-background" class="sheet-section sheet-anchor-adjust-x2 sheet-major">
    <h2><span data-i18n="background">Background</span> <button type="roll" class="sheet-link sheet-link-ico" value="/w gm https://wiki.roll20.net/Mythras_Sheet#Background">?</button></h2>

    <div class="sheet-flex sheet-gap sheet-bmargin">
        <div class="sheet-half-width">
            <label class="sheet-left" data-i18n="organizations">Organizations</label>
            <textarea class="sheet-background-notes" title="@{cults_notes}" name="attr_cults_notes" value=""></textarea>
        </div>
        <div class="sheet-half-width">
            <label class="sheet-left" data-i18n="contacts">Contacts</label>
            <textarea class="sheet-background-notes" title="@{contacts_notes}" name="attr_contacts_notes" value=""></textarea>
        </div>
    </div>

    <div class="sheet-flex sheet-gap sheet-bmargin">
        <div class="sheet-half-width">
            <label class="sheet-left" data-i18n="community">Community</label>
            <textarea class="sheet-background-notes" title="@{community_notes}" name="attr_community_notes" value=""></textarea>
        </div>
        <div class="sheet-half-width">
            <label class="sheet-left" data-i18n="allies">Allies</label>
            <textarea class="sheet-background-notes" title="@{allies_notes}" name="attr_allies_notes" value=""></textarea>
        </div>
    </div>

    <div class="sheet-flex sheet-gap sheet-bmargin">
        <div class="sheet-half-width">
            <label class="sheet-left" data-i18n="family">Family</label>
            <textarea class="sheet-background-notes" title="@{family_notes}" name="attr_family_notes" value=""></textarea>
        </div>
        <div class="sheet-half-width">
            <label class="sheet-left" data-i18n="enemies">Enemies</label>
            <textarea class="sheet-background-notes" title="@{enemies_notes}" name="attr_enemies_notes" value=""></textarea>
        </div>
    </div>
</div>