<!-- Fatigue Details -->
<div id="fatigue-details" class="sheet-overlay">
    <div class="sheet-popup">
        <a class="close" href="#">×</a>
        <h1 data-i18n="fatigue">Fatigue</h1>

        <div class="sheet-table">
            <div class="sheet-tr">
                <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="skills">Skills</label></div>
                <div class="sheet-td">
                    <select class="sheet-full-width sheet-readonly sheet-text-right" name="attr_fatigue_skills">
                        <option value="0" data-i18n="standard" selected>Standard</option>
                        <option value="1" data-i18n="hard">Hard</option>
                        <option value="2" data-i18n="formidable">Formidable</option>
                        <option value="3" data-i18n="herculean">Herculean</option>
                        <option value="4" data-i18n="hopeless">Hopeless</option>
                        <option value="5" data-i18n="no_action_allowed">No Action Allowed</option>
                    </select>
                </div>
            </div>
            <div class="sheet-tr">
                <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="action_points">Action Points</label></div>
                <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-right" title="@{action_points_fatigue}" name="attr_action_points_fatigue" value="0" readonly></div>
            </div>
            <div class="sheet-tr">
                <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="initiative">Initiative</label></div>
                <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-right" title="@{initiative_bonus_fatigue}" name="attr_initiative_bonus_fatigue" value="0" readonly></div>
            </div>
            <div class="sheet-tr">
                <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="movement_rate">Movement Rate</label></div>
                <div class="sheet-td">
                    <select class="sheet-full-width sheet-readonly sheet-text-right" name="attr_movement_rate_fatigue">
                        <option value="+0" selected>0</option>
                        <option value="-1">-1</option>
                        <option value="-2">-2</option>
                        <option value="*.5" i18n-data="halved">Halved</option>
                        <option value="*0" i18n-data="impossible">Impossible</option>
                    </select>
                </div>
            </div>
            <div class="sheet-tr">
                <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="recovery">Recovery</label></div>
                <div class="sheet-td"><input type="text" class="sheet-full-width sheet-text-right" title="@{fatigue_recovery}" name="attr_fatigue_recovery" value="-"></div>
            </div>
        </div>

        <input type="hidden" name="attr_fatigue_max" value="9">
    </div>
</div>