<div class="sheet-character sheet-space-around sheet-gap">
    <a href="#core">Core</a>
    <a href="#skills"><span data-i18n="skills">SKills</span>/<span data-i18n="passions">Passions</span></a>
    <input type="hidden" class="sheet-abilities-control" name="attr_ability_system" value="core">
    <a href="#abilities" data-i18n="abilities">Abilities</a>
    <a class="sheet-creature" href="#weapons" data-i18n="weapons">Weapons</a>
    <a class="sheet-creature" href="#armor" data-i18n="armor">Armor</a>
    <a class="sheet-creature" href="#gear"><span data-i18n="gear">Gear</span>/<span data-i18n="wealth">Wealth</span></a>
    <a class="sheet-major" href="#character-background" data-i18n="background">Background</a></span>
    <a href="#notes" data-i18n="notes">Notes</a>
</div>