<!-- Armor -->
<div id="armor" class="sheet-section sheet-anchor-adjust-x2 sheet-creature">
    <div class="sheet-flex">
        <div class="sheet-grow"><h2><span data-i18n="armor">Armor</span> <button type="roll" class="sheet-link sheet-link-ico" value="/w gm https://wiki.roll20.net/Mythras_Sheet#Armor">?</button></h2></div>
        <div>
            <label class="sheet-left sheet-rmargin" data-i18n="worn_armor_enc">Worn Armor ENC</label>
            <select class="sheet-auto-width sheet-rmargin" name="attr_half_effective_armor_enc">
                <option value="0" selected>1/2</option>
                <option value="1">1/4</option>
            </select>
            <label class="sheet-left sheet-rmargin" data-i18n="armor_penalty">Armor Penalty</label>
            <input type="number" class="sheet-number-width-sm" title="@{armor_penalty}" name="attr_armor_penalty" value="0" readonly>
        </div>
    </div>

    <div class="sheet-table">
        <div class="sheet-tr">
            <div class="sheet-th" data-i18n="hit_location">Hit Location</div>
            <div class="sheet-th" data-i18n="type">Type</div>
            <div class="sheet-th sheet-help" data-i18n-title="armor_points" data-i18n="ap">AP</div>
            <div class="sheet-th" data-i18n="enc">ENC</div>
            <div class="sheet-th sheet-full-width" data-i18n="notes">Notes</div>
            <div class="sheet-th" data-i18n="location">Location</div>
        </div>
        <div class="sheet-tr">
            <div class="sheet-td sheet-text-center"><span name="attr_location1_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location1_armor_type}" name="attr_location1_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location1_ap}" name="attr_location1_ap" value="0">/<input type="number" class="sheet-rval" title="@{location1_ap|max}" name="attr_location1_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location1_armor_enc}" step="any" name="attr_location1_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location1_armor_notes}" name="attr_location1_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location1_armor_equipped}" name="attr_location1_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location2to7_display" value="1">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location2_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location2_armor_type}" name="attr_location2_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location2_ap}" name="attr_location2_ap" value="0">/<input type="number" class="sheet-rval" title="@{location2_ap|max}" name="attr_location2_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location2_armor_enc}" step="any" name="attr_location2_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location2_armor_notes}" name="attr_location2_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location2_armor_equipped}" name="attr_location2_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location2to7_display" value="1">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location3_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location3_armor_type}" name="attr_location3_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location3_ap}" name="attr_location3_ap" value="0">/<input type="number" class="sheet-rval" title="@{location3_ap|max}" name="attr_location3_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location3_armor_enc}" step="any" name="attr_location3_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location3_armor_notes}" name="attr_location3_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location3_armor_equipped}" name="attr_location3_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location2to7_display" value="1">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location4_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location4_armor_type}" name="attr_location4_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location4_ap}" name="attr_location4_ap" value="0">/<input type="number" class="sheet-rval" title="@{location4_ap|max}" name="attr_location4_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location4_armor_enc}" step="any" name="attr_location4_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location4_armor_notes}" name="attr_location4_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location4_armor_equipped}" name="attr_location4_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location2to7_display" value="1">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location5_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location5_armor_type}" name="attr_location5_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location5_ap}" name="attr_location5_ap" value="0">/<input type="number" class="sheet-rval" title="@{location5_ap|max}" name="attr_location5_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location5_armor_enc}" step="any" name="attr_location5_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location5_armor_notes}" name="attr_location5_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location5_armor_equipped}" name="attr_location5_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location2to7_display" value="1">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location6_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location6_armor_type}" name="attr_location6_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location6_ap}" name="attr_location6_ap" value="0">/<input type="number" class="sheet-rval" title="@{location6_ap|max}" name="attr_location6_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location6_armor_enc}" step="any" name="attr_location6_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location6_armor_notes}" name="attr_location6_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location6_armor_equipped}" name="attr_location6_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location2to7_display" value="1">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location7_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location7_armor_type}" name="attr_location7_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location7_ap}" name="attr_location7_ap" value="0">/<input type="number" class="sheet-rval" title="@{location7_ap|max}" name="attr_location7_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location7_armor_enc}" step="any" name="attr_location7_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location7_armor_notes}" name="attr_location7_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location7_armor_equipped}" name="attr_location7_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location8_display" value="0">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location8_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location8_armor_type}" name="attr_location8_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location8_ap}" name="attr_location8_ap" value="0">/<input type="number" class="sheet-rval" title="@{location8_ap|max}" name="attr_location8_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location8_armor_enc}" step="any" name="attr_location8_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location8_armor_notes}" name="attr_location8_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location8_armor_equipped}" name="attr_location8_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location9_display" value="0">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location9_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location9_armor_type}" name="attr_location9_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location9_ap}" name="attr_location9_ap" value="0">/<input type="number" class="sheet-rval" title="@{location9_ap|max}" name="attr_location9_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location9_armor_enc}" step="any" name="attr_location9_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location9_armor_notes}" name="attr_location9_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location9_armor_equipped}" name="attr_location9_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location10_display" value="0">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location10_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location10_armor_type}" name="attr_location10_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location10_ap}" name="attr_location10_ap" value="0">/<input type="number" class="sheet-rval" title="@{location10_ap|max}" name="attr_location10_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location10_armor_enc}" step="any" name="attr_location10_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location10_armor_notes}" name="attr_location10_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location10_armor_equipped}" name="attr_location10_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location11_display" value="0">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location11_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location11_armor_type}" name="attr_location11_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location11_ap}" name="attr_location11_ap" value="0">/<input type="number" class="sheet-rval" title="@{location11_ap|max}" name="attr_location11_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location11_armor_enc}" step="any" name="attr_location11_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location11_armor_notes}" name="attr_location11_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location11_armor_equipped}" name="attr_location11_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
        <input type="hidden" class="sheet-toggle" name="attr_location12_display" value="0">
        <div class="sheet-tr sheet-toggle">
            <div class="sheet-td sheet-text-center"><span name="attr_location12_name"></span></div>
            <div class="sheet-td"><input type="text" class="sheet-text-center" title="@{location12_armor_type}" name="attr_location12_armor_type" value=""></div>
            <div class="sheet-td">
                <div class="sheet-impval sheet-number-width sheet-flex">
                    <input type="number" class="sheet-lval" title="@{location12_ap}" name="attr_location12_ap" value="0">/<input type="number" class="sheet-rval" title="@{location12_ap|max}" name="attr_location12_ap_max" value="0">
                </div>
            </div>
            <div class="sheet-td"><input type="number" class="sheet-number-width-sm" title="@{location12_armor_enc}" step="any" name="attr_location12_armor_enc" min="0" value="0"></div>
            <div class="sheet-td sheet-full-width"><input type="text" class="sheet-text-center sheet-full-width" title="@{location12_armor_notes}" name="attr_location12_armor_notes" value=""></div>
            <div class="sheet-td">
                <select class="sheet-text-center sheet-auto-width" title="@{location12_armor_equipped}" name="attr_location12_armor_equipped">
                    <option value="1" data-i18n="worn" selected>Worn</option>
                    <option value="0" data-i18n="pack">Pack</option>
                    <option value="mount" data-i18n="transport">Transport</option>
                    <option value="camp" data-i18n="camp">Camp</option>
                    <option value="stash" data-i18n="stash">Stash</option>
                    <option value="homebase" data-i18n="homebase">Homebase</option>
                </select>
            </div>
        </div>
    </div>
</div>