<!-- Character Header -->
<div id="core" class="sheet-anchor-adjust-x2"></div>
<div class="sheet-flex sheet-gap sheet-detailed">
    <!-- Info Section -->
    <div class="sheet-section sheet-grow">
        <!-- Info 1st Row -->
        <div class="sheet-flex sheet-gap">
            <div class="sheet-grow">
                <input type="text" class="sheet-full-width" title="@{character_name}" name="attr_character_name">
                <label data-i18n="name">Name</label>
            </div>
            <div class="sheet-grow">
                <div class="sheet-setting-option sheet-ms sheet-os">
                    <div class="sheet-flex">
                        <input type="text" class="sheet-grow" title="@{species}" name="attr_species" value="">/<input type="number" class="sheet-number-width-sm" value="0">
                    </div>
                </div>
                <div class="sheet-setting-option sheet-default sheet-atvw sheet-cf sheet-destined sheet-fioracitta sheet-la sheet-lyonesse sheet-mi sheet-mba sheet-mb sheet-mc sheet-mr sheet-imperative sheet-perceforest sheet-thennla sheet-wu">
                    <input type="text" class="sheet-full-width" title="@{species}" name="attr_species" value="">
                </div>
                <div class="sheet-text-center">
                    <span class="sheet-bold" data-i18n="species">Species</span><span class="sheet-setting-option sheet-ms sheet-os">/<span class="sheet-bold" data-i18n="strangeness">Strangeness</span></span>
                </div>
            </div>
            <div class="sheet-grow">
                <input type="text" class="sheet-full-width" title="@{culture}" name="attr_culture" value="">
                <label data-i18n="culture">Culture</label>
            </div>
            <div class="sheet-grow">
                <input type="text" class="sheet-full-width" title="@{career}" name="attr_career" value="">
                <span class="sheet-setting-option sheet-not-cf"><label data-i18n="career">Career</label></span>
                <span class="sheet-setting-option sheet-cf"><label data-i18n="class">Class</label></span>
            </div>
            <div class="sheet-setting-option sheet-cf sheet-info-rank">
                <input type="number" class="sheet-full-width" title="@{rank}" name="attr_rank" value="0">
                <label data-i18n="rank">Rank</label>
            </div>
        </div>
        <!-- Info 2nd Row -->
        <div class="sheet-flex sheet-gap sheet-major">
            <div class="sheet-grow">
                <input type="text" class="sheet-full-width" title="@{homeland}" name="attr_homeland" value="">
                <label data-i18n="homeland">Homeland</label>
            </div>
            <div class="sheet-grow">
                <input type="text" class="sheet-full-width" title="@{social_class}" name="attr_social_class" value="">
                <label data-i18n="social_class">Name</label>
            </div>
            <div class="sheet-info-age">
                <input type="number" class="sheet-full-width" title="@{age}" name="attr_age" value="0">
                <label data-i18n="age">Age</label>
            </div>
            <div class="sheet-info-gender">
                <input type="text" class="sheet-full-width" title="@{gender}" name="attr_gender" value="">
                <label data-i18n="gender">Gender</label>
            </div>
            <div class="sheet-info-frame">
                <input type="text" class="sheet-full-width" title="@{frame}" name="attr_frame" value="">
                <label data-i18n="frame">Gender</label>
            </div>
            <div class="sheet-info-height">
                <input type="number" style="padding-right: 25px" class="sheet-full-width" title="@{height}" name="attr_height" value="178">
                <span class="sheet-input-unit" data-i18n="centimetres-a">cm</span>
                <label data-i18n="height-bugfix">Height</label>
            </div>
            <div class="sheet-info-weight">
                <input type="number" style="padding-right: 20px" class="sheet-full-width" title="@{weight}" name="attr_weight" value="88">
                <span class="sheet-input-unit" data-i18n="kilograms-a">kg</span>
                <label data-i18n="weight">Weight</label>
            </div>
            <div class="sheet-setting-option sheet-os sheet-info-the-soot">
                <input type="number" class="sheet-full-width" title="@{the_soot}" name="attr_the_soot" value="0">
                <label data-i18n="the_soot">The Soot</label>
            </div>
        </div>
    </div>

    <!-- Header 2nd Column -->
    <div class="sheet-logo sheet-major">
        <!-- Logo -->
        <div class="sheet-lightmode">
            <img class="sheet-setting-option sheet-default sheet-atvw sheet-cf sheet-destined sheet-fioracitta sheet-la sheet-lyonesse sheet-mi sheet-mba sheet-mb sheet-mc sheet-mr sheet-imperative sheet-perceforest sheet-thennla sheet-wu" src="https://i.imgur.com/EzQDmms.png" alt="Mythras">
            <img class="sheet-setting-option sheet-ms" src="https://i.imgur.com/5uPy3QU.jpg" alt="M-Space">
            <img class="sheet-setting-option sheet-os" src="https://i.imgur.com/35dOQix.jpg" alt="Odd Soot">
        </div>
        <div class="sheet-darkmode">
            <img class="sheet-setting-option sheet-default sheet-atvw sheet-cf sheet-destined sheet-fioracitta sheet-la sheet-lyonesse sheet-mi sheet-mba sheet-mb sheet-mc sheet-mr sheet-imperative sheet-perceforest sheet-thennla sheet-wu" src="https://i.imgur.com/fH3lDe1.png" alt="Mythras">
            <img class="sheet-setting-option sheet-ms" src="https://i.imgur.com/ku2pOiY.png" alt="M-Space">
            <img class="sheet-setting-option sheet-os" src="https://i.imgur.com/yYojWZO.png" alt="Odd Soot">
        </div>
        <!-- Experience Rolls -->
        <div class="sheet-flex sheet-gap">
            <label class="sheet-left" data-i18n="experience_rolls">Experience Rolls</label>
            <input type="number" class="sheet-grow" title="@{experience_rolls}" name="attr_experience_rolls" value="0">
        </div>
    </div>
</div>