<div class="sheet-character">
    {% include 'sheet_types/character/character_header.html' %}

    {% include 'sheet_types/character/character_core.html' %}

    {% include 'sheet_types/character/character_skills.html' %}

    {% include 'sheet_types/character/character_abilities.html' %}

    {% include 'sheet_types/character/character_weapons.html' %}

    {% include 'sheet_types/character/character_armor.html' %}

    {% include 'sheet_types/character/character_gear_and_wealth.html' %}

    {% include 'sheet_types/character/character_background.html' %}

    {% include 'sheet_types/character/character_notes.html' %}

    {% include 'sheet_types/character/character_popups.html' %}
</div>