<!-- Gear, ENC & Wealth -->
<div id="gear" class="sheet-flex sheet-gap sheet-anchor-adjust-x2 sheet-creature">
    <!-- Gear -->
    <div class="sheet-section sheet-half-width">
        <h2><span data-i18n="gear">Gear</span> <button type="roll" class="sheet-link sheet-link-ico" value="/w gm https://wiki.roll20.net/Mythras_Sheet#Gear">?</button></h2>

        <div class="sheet-flex">
            <div class="sheet-th sheet-grow"><span data-i18n="item">Item</span></div>
            <div class="sheet-th"><div class="sheet-button-width"></div></div>
            <div class="sheet-th"><div class="sheet-number-width" data-i18n="enc">ENC</div></div>
            <div class="sheet-th"><div class="sheet-number-width" data-i18n-title="quantity" title="Quantity">#</div></div>
            <div class="sheet-th"><div class="sheet-equipment-location" data-i18n="location">Location</div></div>
            <div class="sheet-th"><div class="sheet-checkbox-width sheet-pictos" data-i18n-title="details-tooltip">E</div></div>
        </div>
        <fieldset class="repeating_equipment">
            <div class="sheet-flex">
                <div class="sheet-td sheet-grow sheet-hover-btn">
                    <input type="text" class="sheet-full-width sheet-usrinput sheet-text-left" title="@{$ID_name}" name="attr_name" value="">
                    <button type="roll" class="sheet-hover sheet-id" title="%{$ID_id}" name="roll_id" value="/w gm {{'&{template:default} {{character=@{character_name}}} {{name=@{name}}} {{^{id}=@{id}}}'}}">i</button>
                    <input type="hidden" name="attr_id" value="unset, please change any value in this item" readonly>
                </div>
                <div class="sheet-td"><button type="roll" class="sheet-button-width sheet-die sheet-pictos" title="%{$ID_effect}" name="roll_effect" value="{{'@{roll_display}&{template:effect} {{name=@{name}}} {{character=@{character_name}}} {{traits=@{traits}}} {{description=@{description}}}'}}">e</button></div>
                <div class="sheet-td"><input type="number" class="sheet-number-width" title="@{$ID_enc}" name="attr_enc" value="0" min="0" step="any"></div>
                <div class="sheet-td"><input type="number" class="sheet-number-width" title="@{$ID_quantity}" name="attr_quantity" value="1" min="0" step="1"></div>
                <div class="sheet-td">
                    <select class="sheet-equipment-location sheet-text-center" title="@{$ID_location}" name="attr_location">
                        <option value="loadout" data-i18n="worn" selected>Worn</option>
                        <option value="pack" data-i18n="pack">Pack</option>
                        <option value="mount" data-i18n="transport">Transport</option>
                        <option value="camp" data-i18n="camp">Camp</option>
                        <option value="stash" data-i18n="stash">Stash</option>
                        <option value="homebase" data-i18n="homebase">Homebase</option>
                    </select>
                </div>
                <div class="sheet-td"><input type="checkbox" title="@{$ID_details}" name="attr_details" value="1"><span class="sheet-checkico">E</span></div>
            </div>
            <input type="hidden" class="sheet-toggle" name="attr_details" value="0">
            <div class="sheet-toggle sheet-flex sheet-gap">
                <div>
                    <div><label class="sheet-left" data-i18n="traits">Traits</label></div>
                    <textarea class="sheet-gear-note" name="attr_traits" value=""></textarea>
                </div>
                <div class="sheet-grow">
                    <div><label class="sheet-left" data-i18n="description">Description</label></div>
                    <textarea class="sheet-gear-note" name="attr_description" value=""></textarea>
                </div>
            </div>
        </fieldset>
    </div>

    <!-- Wealth & ENC -->
    <div class="sheet-half-width">
        <!-- Wealth -->
        <div class="sheet-section sheet-full-width sheet-creature">
            <h2><span data-i18n="wealth">Wealth</span> <button type="roll" class="sheet-link sheet-link-ico" value="/w gm https://wiki.roll20.net/Mythras_Sheet#Wealth">?</button></h2>

            <div class="sheet-bmargin">
                <div class="sheet-flex sheet-full-width">
                    <div class="sheet-th sheet-grow"><span data-i18n="currency">Currency</span></div>
                    <div class="sheet-th"><div class="sheet-number-width" data-i18n="value">Value</div></div>
                    <div class="sheet-th"><div class="sheet-number-width" data-i18n="enc">ENC</div></div>
                    <div class="sheet-th"><div class="sheet-number-width" data-i18n-title="quantity">#</div></div>
                    <div class="sheet-th"><div class="sheet-equipment-location" data-i18n="location">Location</div></div>
                </div>
                <fieldset class="repeating_currency">
                    <div class="sheet-flex">
                        <div class="sheet-td sheet-grow sheet-hover-btn">
                            <input type="text" class="sheet-full-width sheet-text-left" title="@{$ID_name}" name="attr_name" value="">
                            <button type="roll" class="sheet-hover sheet-id" title="%{$ID_id}" name="roll_id" value="/w gm {{'&{template:default} {{character=@{character_name}}} {{name=@{name}}} {{^{id}=@{id}}}'}}">i</button>
                            <input type="hidden" name="attr_id" value="unset, please change any value in this currency" readonly>
                        </div>
                        <div class="sheet-td"><input type="number" class="sheet-number-width" title="@{$ID_value}" name="attr_value" value="1"></div>
                        <div class="sheet-td"><input type="number" class="sheet-number-width" title="@{$ID_enc}" name="attr_enc" value="0" min="0" step=".01"></div>
                        <div class="sheet-td"><input type="number" class="sheet-number-width" title="@{$ID_quantity}" name="attr_quantity" value="1" min="0"></div>
                        <div class="sheet-td">
                            <select class="sheet-equipment-location" title="@{$ID_location}" name="attr_location">
                                <option value="loadout" data-i18n="worn" selected>Worn</option>
                                <option value="pack" data-i18n="pack">Pack</option>
                                <option value="mount" data-i18n="transport">Transport</option>
                                <option value="camp" data-i18n="camp">Camp</option>
                                <option value="stash" data-i18n="stash">Stash</option>
                                <option value="homebase" data-i18n="homebase">Homebase</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="sheet-table">
                <div class="sheet-tr">
                    <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="income">Income</label></div>
                    <div class="sheet-td sheet-full-width"><input type="text" class="sheet-full-width sheet-text-left" title="@{income}" name="attr_income" value=""></div>
                </div>
                <div class="sheet-tr">
                    <div class="sheet-td sheet-text-left"><label class="sheet-left" data-i18n="expenses">Expenses</label></div>
                    <div class="sheet-td sheet-full-width"><input type="text" class="sheet-full-width sheet-text-left" title="@{expenses}" name="attr_expenses" value=""></div>
                </div>
            </div>

            <label class="sheet-left" data-i18n="other">Other</label>
            <textarea class="sheet-wealth-notes" name="attr_wealth_other" value=""></textarea>
        </div>

        <!-- ENC -->
        <div class="sheet-section sheet-full-width sheet-creature">
            <div class="sheet-flex sheet-gap">
                <div class="sheet-grow"><h2 data-i18n="encumbrance">Encumbrance</h2></div>
                <div class="sheet-flex sheet-gap">
                    <div>
                        <label class="sheet-left shet-rmargin" data-i18n="average_species_siz">Average Species SIZ</label>
                        <input type="number" class="sheet-number-width-sm sheet-text-center" data-i18n-title="@{avg_species_siz}" name="attr_avg_species_siz" value="13">
                    </div>
                    <div><input type='checkbox' data-i18n-title="pack_equipped" name='attr_pack_equipped' value="1" checked><span class="sheet-checkico">O</span></div>
                </div>
            </div>

            <div class="sheet-table">
                <div class="sheet-tr">
                    <div class="sheet-th" data-i18n="temporary-a">Temp</div>
                    <div class="sheet-th" data-i18n="current">Current</div>
                    <div class="sheet-th" data-i18n="carrying_load">Carrying Load</div>
                    <div class="sheet-th" data-i18n="skills">Skills</div>
                    <div class="sheet-th" data-i18n="move">Move</div>
                </div>
                <div class="sheet-tr">
                    <div class="sheet-td"><input type="number" step="any" class="sheet-number-width" title="@{encumbrance_temp}" name="attr_encumbrance_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" step="any" class="sheet-number-width sheet-value" title="@{encumbrance_current}" name="attr_encumbrance_current" value="0" readonly></div>
                    <div class="sheet-td">
                        <select class="sheet-full-width sheet-readonly sheet-text-center" title="@{encumbrance_load}" name="attr_encumbrance_load">
                            <option value="0" data-i18n="normal" selected>Normal</option>
                            <option value="1" data-i18n="medium">Medium</option>
                            <option value="2" data-i18n="strenuous">Strenuous</option>
                            <option value="3" data-i18n="impossible">Impossible</option>
                        </select>
                    </div>
                    <div class="sheet-td">
                        <select class="sheet-full-width sheet-readonly sheet-text-center" title="@{encumbrance_skills}" name="attr_encumbrance_skills">
                            <option value="0" data-i18n="standard" selected>Standard</option>
                            <option value="1" data-i18n="1_grade_harder">1 grade harder</option>
                            <option value="2" data-i18n="2_grades_harder">2 grades harder</option>
                            <option value="3" data-i18n="impossible">Impossible</option>
                        </select>
                    </div>
                    <div class="sheet-td">
                        <select class="sheet-full-width sheet-readonly sheet-text-center" title="@{movement_rate_enc}" name="attr_movement_rate_enc">
                            <option value="+0" data-i18n="normal" selected>Normal</option>
                            <option value="-2">-2</option>
                            <option value="*.5" data-i18n="halved">Halved</option>
                            <option value="*0" data-i18n="impossible">Impossible</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>