/* Attribute Toggles */
input.sheet-attr-toggle:not([value="physical"]) ~ div .sheet-physical,
input.sheet-attr-toggle:not([value="physical"]) ~ div.sheet-physical,
input.sheet-attr-toggle:not([value="social"]) ~ div .sheet-social,
input.sheet-attr-toggle:not([value="social"]) ~ div.sheet-social,
input.sheet-attr-toggle:not([value="spiritual"]) ~ div .sheet-spiritual,
input.sheet-attr-toggle:not([value="spiritual"]) ~ div.sheet-spiritual,
input.sheet-attr-toggle[value="social"] ~ div.sheet-not-social,
input.sheet-attr-toggle[value="social"] ~ div .sheet-not-social {
    display: none;
}
input.sheet-attr-toggle[value="spiritual"] ~ div.sheet-not-social input.sheet-hit-locations-spirit[value="spirit"] + div.sheet-hit-locations-toggle {
    display: none;
}
input.sheet-social-conflict-toggle:not([value="1"]) ~ div .sheet-social-conflict,
input.sheet-spirits-toggle:not([value="1"]) ~ div .sheet-spirits {
    display: none;
}

/* Character Header Styles */
div.sheet-info-age{
    width: 40px;
}
div.sheet-info-gender{
    width: 70px;
}
div.sheet-info-frame{
    width: 70px;
}
div.sheet-info-weight{
    width: 60px;
}
div.sheet-info-height{
    width: 60px;
}
div.sheet-info-rank {
    width: 50px;
}
div.sheet-info-the-soot {
    width: 70px;
}

div.sheet-logo {
    display: flex;
    flex-direction: column;
    width: 175px;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* Characteristics */
div.sheet-char-label {
    background: black;
    color: lightgray;
    font-family: "Sorts Mill Goudy", serif;
    text-align: left;
}
body.sheet-darkmode div.sheet-char-label {
    background: lightgray;
    color: black;
}

/* Attributes */
div.sheet-custom-movement {
    width: 88px;
}

/* Hit Locations */
input.sheet-location-name {
    width: 145px;
}

/* SKills */
input.sheet-opaque-toggle:not([value="1"]) ~ div.sheet-opaque {
    opacity: 40% !important;
}
/* completely hide opaque-hide in compact mode */
.sheet-compact-control[value="1"] + div.sheet-wrapper input.sheet-opaque-toggle:not([value="1"]) ~ div.sheet-opaque-hide {
    display: none;
}
textarea.sheet-skill-notes {
    height: 36px;
}
button[type=roll].sheet-improve {
    font-family: "Pictos";
    right: 29px;
    top: 0;
}

/* Abilities */
.sheet-ability-option {
    display: none !important;
}
input.sheet-abilities-control[value="all"] + div .sheet-ability-option.sheet-all,
input.sheet-abilities-control[value="core"] + div .sheet-ability-option.sheet-core,
input.sheet-abilities-control[value="after_the_vampire_wars"] + div .sheet-ability-option.sheet-atvw,
input.sheet-abilities-control[value="classic_fantasy"] + div .sheet-ability-option.sheet-cf,
input.sheet-abilities-control[value="destined"] + div .sheet-ability-option.sheet-destined,
input.sheet-abilities-control[value="luther_arkwright"] + div .sheet-ability-option.sheet-la,
input.sheet-abilities-control[value="lyonesse"] + div .sheet-ability-option.sheet-lyonesse,
input.sheet-abilities-control[value="m-space"] + div .sheet-ability-option.sheet-ms,
input.sheet-abilities-control[value="mythic_babylon"] + div .sheet-ability-option.sheet-mba,
input.sheet-abilities-control[value="mythic_britain"] + div .sheet-ability-option.sheet-mb,
input.sheet-abilities-control[value="mythic_rome"] + div .sheet-ability-option.sheet-mr,
input.sheet-abilities-control[value="mythras_imperative"] + div .sheet-ability-option.sheet-imperative,
input.sheet-abilities-control[value="odd_soot"] + div .sheet-ability-option.sheet-os,
input.sheet-abilities-control[value="thennla"] + div .sheet-ability-option.sheet-thennla,
input.sheet-abilities-control[value="worlds_united"] + div .sheet-ability-option.sheet-wu {
    display: initial !important;
}

.sheet-components-options {
    overflow: auto;
    height: 90px;
}

.sheet-tradition-name {
    width: 200px;
}
input.sheet-pool-toggle[value="0"] ~ .sheet-pool-toggle-exist,
input.sheet-pool-toggle:not([value="0"]) + .sheet-pool-toggle-none {
    display: none !important;
}
textarea.sheet-tradition-notes {
    height: 36px;
}

.sheet-ability-name {
    width: 150px;
}
.sheet-ability-type {
    width: 100px;
}
textarea.sheet-ability-notes {
    height: 90px;
}

input.sheet-tenacity-toggle:not([value="1"]) ~ div .sheet-tenacity {
    display: none !important;
}

/* Equipment */
.sheet-weapon-name {
    width: 140px;
    text-align: center;
}
.sheet-weapon-damage {
    width: 64px;
    text-align: center;
}
.sheet-weapon-size {
    width: 38px;
    text-align: center;
}
.sheet-weapon-reach {
    width: 72px;
    text-align: center;
}
.sheet-equipment-location {
    width: 80px;
    text-align: center;
}
textarea.sheet-gear-note {
    height: 54px;
}
textarea.sheet-wealth-notes {
    height: 36px;
}

/* Background */
textarea.sheet-background-notes {
    width: 100%;
    height: 7.5em;
}

/* Notes */
textarea.sheet-character-notes {
    width: 100%;
    height: 30em;
}