include ./tracks.pug
div.sheet-resources
  div.sheet-resource
    label.sheet-health-reset RESET
      input(type="checkbox" class="sheet-health-reset sheet-hide" name="attr_health_reset")
    h2.sheet-resource-title HEALTH
    div.sheet-health-status-box
      input(type='text' class="sheet-resource-value" name="attr_health" value="20")
      div.sheet-health-max-box
        h3.sheet-health-max /
        h3.sheet-health-max-value
          span(class="sheet-health-max-value" name='attr_max_health')
          input(type='text' class='sheet-hide' name='attr_max_health' value='20')

  div.sheet-resource
    h2.sheet-resource-title SPIRIT & LOYALTY
    select(class="sheet-resource-value" name='attr_spirit')
      each val in trackValuesTen
        option(value=val)=`+${val}`

  div.sheet-resource
    h2.sheet-resource-title LOAD
    select(class="sheet-resource-value sheet-load-value" name='attr_load')
      each val in trackValuesTwelve
        option(value=val)=val