- var trackValuesHealth = [ 40, 30, 20, 10, 100 ]
- var trackValuesTen = [ 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0 ]
- var trackValuesTwelve = [ 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0 ]
- var trackValuesNine = [ 9, 8, 7, 6, 5, 4, 3, 2, 1, 0 ]