/*general*/
h1, h2 {
    text-align: center;
}

button[type="roll"].sheet-txt-btn:before {
    content: ' ';
}

button[type="roll"].sheet-txt-btn {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}

button[type="roll"].sheet-txt-btn:hover {
    background-color: #4d2c3155;
}

select {
    background: #ffffff88;
}

input[type=text],
input[type=number] {
    background: #ffffff88;
}

textarea {
    width: auto;
    height: auto;
    background: #ffffff88;
}

input[type=number].sheet-attr-val {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
}

/*end of general*/

/*grid block*/
.sheet-grid-container {
    display: grid;
    grid-template-columns: repeat(40, 25px);
    grid-template-rows: repeat(17, 40px) max-content 40px max-content 40px max-content;
    gap: 0px 0px;
    grid-template-areas:
    "sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header sheet-header ."
    "sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio sheet-fio ."
    "sheet-level sheet-level sheet-level sheet-level sheet-level sheet-age sheet-age sheet-age sheet-age sheet-age sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-back sheet-rank sheet-rank sheet-rank sheet-rank sheet-rank sheet-rank sheet-rank ."
    "sheet-str-btn sheet-str-btn sheet-str-btn sheet-str-btn sheet-str-btn sheet-str-btn sheet-str-val sheet-str-val sheet-str-val sheet-str-adv sheet-str-adv sheet-str-adv . sheet-hp-header sheet-hp-header sheet-hp-header sheet-hp-header sheet-hp-header sheet-hp-header sheet-hp-header sheet-hp-header . sheet-tth-header sheet-tth-header sheet-tth-header sheet-tth-header sheet-tth-header sheet-tth-header sheet-tth-header sheet-tth-header . sheet-ahc-header sheet-ahc-header sheet-ahc-header sheet-ahc-header sheet-ahc-header sheet-ahc-header sheet-ahc-header sheet-ahc-header ."
    "sheet-str-btn sheet-str-btn sheet-str-btn sheet-str-btn sheet-str-btn sheet-str-btn sheet-str-val sheet-str-val sheet-str-val sheet-str-dis sheet-str-dis sheet-str-dis . sheet-current-hp-lbl sheet-current-hp-lbl sheet-current-hp-lbl sheet-current-hp-lbl sheet-current-hp-val sheet-current-hp-val sheet-current-hp-val sheet-current-hp-val . sheet-initiative-btn sheet-initiative-btn sheet-initiative-btn sheet-initiative-btn sheet-initiative-btn sheet-initiative-btn sheet-initiative-btn sheet-initiative-btn . sheet-tln-lbl sheet-tln-lbl sheet-tln-lbl sheet-tln-lbl sheet-tal-val sheet-tal-val sheet-tal-val sheet-tal-val ."
    "sheet-dex-btn sheet-dex-btn sheet-dex-btn sheet-dex-btn sheet-dex-btn sheet-dex-btn sheet-dex-val sheet-dex-val sheet-dex-val sheet-dex-adv sheet-dex-adv sheet-dex-adv . sheet-max-hp-lbl sheet-max-hp-lbl sheet-max-hp-lbl sheet-max-hp-lbl sheet-max-hp-val sheet-max-hp-val sheet-max-hp-val sheet-max-hp-val . sheet-def-lbl sheet-def-lbl sheet-def-lbl sheet-def-lbl sheet-def-btn sheet-def-btn sheet-def-btn sheet-def-btn . sheet-mas-btn sheet-mas-btn sheet-mas-btn sheet-mas-btn sheet-mas-btn sheet-mas-btn sheet-mas-btn sheet-mas-btn ."
    "sheet-dex-btn sheet-dex-btn sheet-dex-btn sheet-dex-btn sheet-dex-btn sheet-dex-btn sheet-dex-val sheet-dex-val sheet-dex-val sheet-dex-dis sheet-dex-dis sheet-dex-dis . sheet-healing-btn sheet-healing-btn sheet-healing-btn sheet-healing-btn sheet-healing-btn sheet-healing-btn sheet-healing-btn sheet-healing-btn . sheet-ml-btn sheet-ml-btn sheet-ml-btn sheet-ml-btn sheet-man-btn sheet-man-btn sheet-man-btn sheet-man-btn . sheet-custom-btn sheet-custom-btn sheet-custom-btn sheet-custom-btn sheet-custom-btn sheet-custom-btn sheet-custom-btn sheet-custom-btn ."
    "sheet-con-btn sheet-con-btn sheet-con-btn sheet-con-btn sheet-con-btn sheet-con-btn sheet-con-val sheet-con-val sheet-con-val sheet-con-adv sheet-con-adv sheet-con-adv . sheet-lvl-hp-btn sheet-lvl-hp-btn sheet-lvl-hp-btn sheet-lvl-hp-btn sheet-lvl-hp-btn sheet-lvl-hp-btn sheet-lvl-hp-btn sheet-lvl-hp-btn . sheet-death-btn sheet-death-btn sheet-death-btn sheet-death-btn sheet-death-btn sheet-death-btn sheet-death-btn sheet-death-btn . sheet-prb-btn sheet-prb-btn sheet-prb-btn sheet-prb-btn sheet-prb-btn sheet-prb-btn sheet-prb-btn sheet-prb-btn ."
    "sheet-con-btn sheet-con-btn sheet-con-btn sheet-con-btn sheet-con-btn sheet-con-btn sheet-con-val sheet-con-val sheet-con-val sheet-con-dis sheet-con-dis sheet-con-dis . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    "sheet-int-btn sheet-int-btn sheet-int-btn sheet-int-btn sheet-int-btn sheet-int-btn sheet-int-val sheet-int-val sheet-int-val sheet-int-adv sheet-int-adv sheet-int-adv . sheet-ps-lbl sheet-ps-lbl sheet-ps-lbl sheet-ps-lbl sheet-ps-lbl sheet-ps-lbl sheet-ps-lbl sheet-ps-lbl . sheet-fear-btn sheet-fear-btn sheet-fear-btn sheet-fear-btn sheet-fear-btn sheet-fear-btn sheet-fear-btn sheet-fear-btn . sheet-ps-btn sheet-ps-btn sheet-ps-btn sheet-ps-btn sheet-ps-btn sheet-ps-btn sheet-ps-btn sheet-ps-btn ."
    "sheet-int-btn sheet-int-btn sheet-int-btn sheet-int-btn sheet-int-btn sheet-int-btn sheet-int-val sheet-int-val sheet-int-val sheet-int-dis sheet-int-dis sheet-int-dis . sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val ."
    "sheet-wis-btn sheet-wis-btn sheet-wis-btn sheet-wis-btn sheet-wis-btn sheet-wis-btn sheet-wis-val sheet-wis-val sheet-wis-val sheet-wis-adv sheet-wis-adv sheet-wis-adv . sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val sheet-ps-val ."
    "sheet-wis-btn sheet-wis-btn sheet-wis-btn sheet-wis-btn sheet-wis-btn sheet-wis-btn sheet-wis-val sheet-wis-val sheet-wis-val sheet-wis-dis sheet-wis-dis sheet-wis-dis . sheet-mut-lbl sheet-mut-lbl sheet-mut-lbl sheet-mut-lbl sheet-mut-lbl sheet-mut-lbl sheet-mut-lbl sheet-mut-lbl . sheet-mut-btn sheet-mut-btn sheet-mut-btn sheet-mut-btn sheet-mut-btn sheet-mut-btn sheet-mut-btn sheet-mut-btn . sheet-mut-mod sheet-mut-mod sheet-mut-mod sheet-mut-mod sheet-mut-mod sheet-mut-mod sheet-mut-mod sheet-mut-mod ."
    "sheet-flair-btn sheet-flair-btn sheet-flair-btn sheet-flair-btn sheet-flair-btn sheet-flair-btn sheet-flair-val sheet-flair-val sheet-flair-val sheet-flair-adv sheet-flair-adv sheet-flair-adv . sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val ."
    "sheet-flair-btn sheet-flair-btn sheet-flair-btn sheet-flair-btn sheet-flair-btn sheet-flair-btn sheet-flair-val sheet-flair-val sheet-flair-val sheet-flair-dis sheet-flair-dis sheet-flair-dis . sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val ."
    "sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn sheet-start-btn . sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val sheet-mut-val ."
    "sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header sheet-weapons-header"
    "sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block sheet-weapons-block"
    "sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header sheet-gears-header"
    "sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block sheet-gears-block"
    "sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header sheet-stuff-header"
    "sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block sheet-stuff-block";
    width: 1000px;
    background-image: url(https://raw.githubusercontent.com/Noisyflasher/roll20-character-sheets/awakening-rpg/Awakening_RPG/images/awakening_top_background.png), url(https://raw.githubusercontent.com/Noisyflasher/roll20-character-sheets/awakening-rpg/Awakening_RPG/images/awakening_bottom_background.jpg);
    background-position: center, left top;
    background-repeat: no-repeat, repeat;
    background-size: 50%, auto;
}

.sheet-level {
    grid-area: sheet-level;
}

.sheet-age {
    grid-area: sheet-age;
}

.sheet-back {
    grid-area: sheet-back;
}

.sheet-str-btn {
    grid-area: sheet-str-btn;
}

.sheet-dex-btn {
    grid-area: sheet-dex-btn;
}

.sheet-con-btn {
    grid-area: sheet-con-btn;
}

.sheet-int-btn {
    grid-area: sheet-int-btn;
}

.sheet-wis-btn {
    grid-area: sheet-wis-btn;
}

.sheet-flair-btn {
    grid-area: sheet-flair-btn;
}

.sheet-str-val {
    grid-area: sheet-str-val;
}

.sheet-dex-val {
    grid-area: sheet-dex-val;
}

.sheet-con-val {
    grid-area: sheet-con-val;
}

.sheet-int-val {
    grid-area: sheet-int-val;
}

.sheet-wis-val {
    grid-area: sheet-wis-val;
}

.sheet-flair-val {
    grid-area: sheet-flair-val;
}

.sheet-flair-dis {
    grid-area: sheet-flair-dis;
}

.sheet-mut-val {
    grid-area: sheet-mut-val;
}

.sheet-mut-lbl {
    grid-area: sheet-mut-lbl;
}

.sheet-mut-btn {
    grid-area: sheet-mut-btn;
}

.sheet-mut-mod {
    grid-area: sheet-mut-mod;
}

.sheet-ps-val {
    grid-area: sheet-ps-val;
}

.sheet-ps-lbl {
    grid-area: sheet-ps-lbl;
}

.sheet-fear-btn {
    grid-area: sheet-fear-btn;
}

.sheet-ps-btn {
    grid-area: sheet-ps-btn;
}

.sheet-lvl-hp-btn {
    grid-area: sheet-lvl-hp-btn;
}

.sheet-healing-btn {
    grid-area: sheet-healing-btn;
}

.sheet-max-hp-lbl {
    grid-area: sheet-max-hp-lbl;
}

.sheet-max-hp-val {
    grid-area: sheet-max-hp-val;
}

.sheet-current-hp-lbl {
    grid-area: sheet-current-hp-lbl;
}

.sheet-current-hp-val {
    grid-area: sheet-current-hp-val;
}

.sheet-hp-header {
    grid-area: sheet-hp-header;
}

.sheet-death-btn {
    grid-area: sheet-death-btn;
}

.sheet-ml-btn {
    grid-area: sheet-ml-btn;
}

.sheet-man-btn {
    grid-area: sheet-man-btn;
}

.sheet-def-lbl {
    grid-area: sheet-def-lbl;
}

.sheet-def-btn {
    grid-area: sheet-def-btn;
}

.sheet-initiative-btn {
    grid-area: sheet-initiative-btn;
}

.sheet-tth-header {
    grid-area: sheet-tth-header;
}

.sheet-prb-btn {
    grid-area: sheet-prb-btn;
}

.sheet-custom-btn {
    grid-area: sheet-custom-btn;
}

.sheet-mas-btn {
    grid-area: sheet-mas-btn;
}

.sheet-tln-lbl {
    grid-area: sheet-tln-lbl;
}

.sheet-tal-val {
    grid-area: sheet-tal-val;
}

.sheet-ahc-header {
    grid-area: sheet-ahc-header;
}

.sheet-flair-adv {
    grid-area: sheet-flair-adv;
}

.sheet-start-btn {
    grid-area: sheet-start-btn;
}

.sheet-wis-dis {
    grid-area: sheet-wis-dis;
}

.sheet-wis-adv {
    grid-area: sheet-wis-adv;
}

.sheet-int-dis {
    grid-area: sheet-int-dis;
}

.sheet-int-adv {
    grid-area: sheet-int-adv;
}

.sheet-con-dis {
    grid-area: sheet-con-dis;
}

.sheet-con-adv {
    grid-area: sheet-con-adv;
}

.sheet-dex-dis {
    grid-area: sheet-dex-dis;
}

.sheet-dex-adv {
    grid-area: sheet-dex-adv;
}

.sheet-str-dis {
    grid-area: sheet-str-dis;
}

.sheet-str-adv {
    grid-area: sheet-str-adv;
}

.sheet-fio {
    grid-area: sheet-fio;
}

.sheet-header {
    grid-area: sheet-header;
}

.sheet-rank {
    grid-area: sheet-rank;
}

.sheet-weapons-header {
    grid-area: sheet-weapons-header;
}

.sheet-weapons-block {
    grid-area: sheet-weapons-block;
}

.sheet-weaponlist-header {
    display: grid;
    grid-template-columns: 1fr 70px 56px 1fr;
    grid-template-rows: 1fr;
}


.sheet-gears-header {
    grid-area: sheet-gears-header;
}

.sheet-gears-block {
    grid-area: sheet-gears-block;
}

.sheet-stuff-header {
    grid-area: sheet-stuff-header;
}

.sheet-stuff-block {
    grid-area: sheet-stuff-block;
}

/*end of grid block*/
/*charsheet block*/
.sheet-input-attribute-no-roll {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.sheet-center-align {
    text-align: center;
}

.sheet-wide {
    width: 100%;
}

.sheet-input-number-no-roll {
    width: 50px;
}

.sheet-input-select {
    width: 130px;
}

.sheet-input-select-mut {
    width: 60px;
}

.sheet-attr-val {
    width: 100%;
    height: 100%;
}

/*end of charsheet block*/
/*repeating block*/
.repcontainer[data-groupname="repeating_weaponlist"] {
    width: 100%;
}

.sheet-weaponlist-header {
    display: grid;
    grid-template-columns: 1fr 70px 56px 1fr;
    grid-template-rows: 1fr;
    padding: 0 5px;
}

.sheet-weaponlist-item {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-rows: 1fr;
    padding: 0 5px;
}

.sheet-weaponlist-header-empty {
    border-bottom: 1px dotted;
}

.sheet-weaponlist-header-filled {
    border-left: 1px dotted;
    border-bottom: 1px dotted;
}

.sheet-weapondice {
    width: 25px;
    text-align: center;
}

.repcontainer[data-groupname="repeating_gearlist"] {
    width: 100%;
}

.sheet-gearlist-header {
    display: grid;
    grid-template-columns: 1fr 56px 1fr;
    grid-template-rows: 1fr;
    padding: 0 5px;
}

.sheet-gearlist-item {
    display: grid;
    grid-template-columns: 1fr 56px 1fr;
    grid-template-rows: 1fr;
    padding: 0 5px;
}

.repcontainer[data-groupname="repeating_stuff"] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, max-content);
    padding: 0 5px;
}

/* end repeating block*/
/*roll templates*/
.sheet-rolltemplate-mut,
.sheet-rolltemplate-fear,
.sheet-rolltemplate-problemorder,
.sheet-rolltemplate-massorder,
.sheet-rolltemplate-uniqorder,
.sheet-rolltemplate-talinit,
.sheet-rolltemplate-death,
.sheet-rolltemplate-rankinit,
.sheet-rolltemplate-inithp,
.sheet-rolltemplate-hplevel,
.sheet-rolltemplate-healing,
.sheet-rolltemplate-ps,
.sheet-rolltemplate-init {
    background-image: url(https://user-images.githubusercontent.com/5252033/104773193-1b4dfb00-578e-11eb-8ff6-1054233517e2.jpg);
}

.sheet-rolltemplate-atck,
.sheet-rolltemplate-defense,
.sheet-rolltemplate-customcheck {
    background-image: url(https://user-images.githubusercontent.com/5252033/104773193-1b4dfb00-578e-11eb-8ff6-1054233517e2.jpg);
    text-align: center;
}

.sheet-rolltemplate-atck .inlinerollresult.fullfail,
.sheet-rolltemplate-defense .inlinerollresult.fullfail {
    border: green 2px solid;
}

.sheet-rolltemplate-atck .inlinerollresult.fullcrit,
.sheet-rolltemplate-defense .inlinerollresult.fullcrit {
    border: red 2px solid;
}

.sheet-rolltemplate-mut .inlinerollresult,
.sheet-rolltemplate-mut .inlinerollresult.fullfail,
.sheet-rolltemplate-mut .inlinerollresult.fullcrit,
.sheet-rolltemplate-mut .inlinerollresult.importantroll,
.sheet-rolltemplate-ps .inlinerollresult,
.sheet-rolltemplate-ps .inlinerollresult.fullfail,
.sheet-rolltemplate-ps .inlinerollresult.fullcrit,
.sheet-rolltemplate-ps .inlinerollresult.importantroll,
.sheet-rolltemplate-fear .inlinerollresult,
.sheet-rolltemplate-fear .inlinerollresult.fullfail,
.sheet-rolltemplate-fear .inlinerollresult.fullcrit,
.sheet-rolltemplate-fear .inlinerollresult.importantroll,
.sheet-rolltemplate-problemorder .inlinerollresult,
.sheet-rolltemplate-problemorder .inlinerollresult.fullfail,
.sheet-rolltemplate-problemorder .inlinerollresult.fullcrit,
.sheet-rolltemplate-problemorder .inlinerollresult.importantroll,
.sheet-rolltemplate-massorder .inlinerollresult,
.sheet-rolltemplate-massorder .inlinerollresult.fullfail,
.sheet-rolltemplate-massorder .inlinerollresult.fullcrit,
.sheet-rolltemplate-massorder .inlinerollresult.importantroll,
.sheet-rolltemplate-uniqorder .inlinerollresult,
.sheet-rolltemplate-uniqorder .inlinerollresult.fullfail,
.sheet-rolltemplate-uniqorder .inlinerollresult.fullcrit,
.sheet-rolltemplate-uniqorder .inlinerollresult.importantroll,
.sheet-rolltemplate-talinit .inlinerollresult,
.sheet-rolltemplate-talinit .inlinerollresult.fullfail,
.sheet-rolltemplate-talinit .inlinerollresult.fullcrit,
.sheet-rolltemplate-talinit .inlinerollresult.importantroll,
.sheet-rolltemplate-death .inlinerollresult,
.sheet-rolltemplate-death .inlinerollresult.fullfail,
.sheet-rolltemplate-death .inlinerollresult.fullcrit,
.sheet-rolltemplate-death .inlinerollresult.importantroll,
.sheet-rolltemplate-rankinit .inlinerollresult,
.sheet-rolltemplate-rankinit .inlinerollresult.fullfail,
.sheet-rolltemplate-rankinit .inlinerollresult.fullcrit,
.sheet-rolltemplate-rankinit .inlinerollresult.importantroll,
.sheet-rolltemplate-inithp .inlinerollresult,
.sheet-rolltemplate-inithp .inlinerollresult.fullfail,
.sheet-rolltemplate-inithp .inlinerollresult.fullcrit,
.sheet-rolltemplate-inithp .inlinerollresult.importantroll,
.sheet-rolltemplate-hplevel .inlinerollresult,
.sheet-rolltemplate-hplevel .inlinerollresult.fullfail,
.sheet-rolltemplate-hplevel .inlinerollresult.fullcrit,
.sheet-rolltemplate-hplevel .inlinerollresult.importantroll,
.sheet-rolltemplate-healing .inlinerollresult,
.sheet-rolltemplate-healing .inlinerollresult.fullfail,
.sheet-rolltemplate-healing .inlinerollresult.fullcrit,
.sheet-rolltemplate-healing .inlinerollresult.importantroll,
.sheet-rolltemplate-init .inlinerollresult,
.sheet-rolltemplate-init .inlinerollresult.fullfail,
.sheet-rolltemplate-init .inlinerollresult.fullcrit,
.sheet-rolltemplate-init .inlinerollresult.importantroll,
.sheet-rolltemplate-customcheck .inlinerollresult,
.sheet-rolltemplate-customcheck .inlinerollresult.fullfail,
.sheet-rolltemplate-customcheck .inlinerollresult.fullcrit,
.sheet-rolltemplate-customcheck .inlinerollresult.importantroll {
    background-color: transparent;
    border: none;
    color: black;
}

/*end of roll templates*/