.charsheet{
    width: 1000px;
}
.sheet-main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, max-content);
    background-image: url(https://user-images.githubusercontent.com/5252033/104818786-34fd4a00-5843-11eb-900c-6c25f2ee9cf9.png), url(https://user-images.githubusercontent.com/5252033/104773193-1b4dfb00-578e-11eb-8ff6-1054233517e2.jpg);
    background-position: center, left top;
    background-repeat: no-repeat, repeat;
    background-size: 50%, auto;
    width: 1000px;
}
.sheet-attr-line {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.sheet-attrs-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.sheet-grid-hp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content max-content;
    gap: 0px 0px;
    grid-template-areas:
    "hp-header hp-header hp-header hp-header hp-header"
    "current-hp max-hp healing hp-level-up init-hp";
}

.sheet-hp-header { grid-area: hp-header; }

.sheet-current-hp { grid-area: current-hp; }

.sheet-max-hp { grid-area: max-hp; }

.sheet-healing { grid-area: healing; }

.sheet-hp-level-up { grid-area: hp-level-up; }

.sheet-init-hp { grid-area: init-hp; }


.sheet-bio-line {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
}
.sheet-input-attribute-no-roll {
    display: grid;
    grid-template-columns: auto auto;
}
.sheet-input-number-no-roll {
    width: 100px;
}
.sheet-input-text-no-roll {
    width: 300px;
}

.sheet-input-attribute {
    display: grid;
    grid-template-columns: max-content auto max-content max-content max-content max-content;
    grid-template-rows: 1fr;
    width: 100%;
}
.sheet-weaponlist-item {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-rows: 1fr;
}
.sheet-gearlist-item {
    display: grid;
    grid-template-columns: 1fr 56px 1fr;
    grid-template-rows: 1fr;
}
.sheet-weaponlist-header {
    display: grid;
    grid-template-columns: 1fr 70px 56px 1fr;
    grid-template-rows: 1fr;
}
.sheet-weaponlist-header-filled {
    border-left: 1px dotted;
    border-bottom: 1px dotted;
}
.sheet-weaponlist-header-empty {
    border-bottom: 1px dotted;
}
.sheet-attr-input {
    width: 100%;
}
hr {
    border: 1px dotted;
}
h1,h2 {
    text-align: center;
}
.sheet-weapontype{
    width: 70px;
}

.sheet-rolltemplate-atc,
.sheet-rolltemplate-rankinit,
.sheet-rolltemplate-inithp,
.sheet-rolltemplate-hplevel,
.sheet-rolltemplate-healing,
.sheet-rolltemplate-init {
    background-image:url(https://user-images.githubusercontent.com/5252033/104773193-1b4dfb00-578e-11eb-8ff6-1054233517e2.jpg);
}
.sheet-rolltemplate-customcheck {
    background-image:url(https://user-images.githubusercontent.com/5252033/104773193-1b4dfb00-578e-11eb-8ff6-1054233517e2.jpg);
    text-align: center;
}
.sheet-rolltemplate-customcheck span.sheet-rollfail {
    color:#990000;
}
.sheet-rolltemplate-customcheck span.sheet-rollsuccess {
    color:#009900;
}


.sheet-rolltemplate-rankinit .inlinerollresult,
.sheet-rolltemplate-rankinit .inlinerollresult.fullfail,
.sheet-rolltemplate-rankinit .inlinerollresult.fullcrit,
.sheet-rolltemplate-rankinit .inlinerollresult.importantroll,
.sheet-rolltemplate-inithp .inlinerollresult,
.sheet-rolltemplate-inithp .inlinerollresult.fullfail,
.sheet-rolltemplate-inithp .inlinerollresult.fullcrit,
.sheet-rolltemplate-inithp .inlinerollresult.importantroll,
.sheet-rolltemplate-hplevel .inlinerollresult,
.sheet-rolltemplate-hplevel .inlinerollresult.fullfail,
.sheet-rolltemplate-hplevel .inlinerollresult.fullcrit,
.sheet-rolltemplate-hplevel .inlinerollresult.importantroll,
.sheet-rolltemplate-healing .inlinerollresult,
.sheet-rolltemplate-healing .inlinerollresult.fullfail,
.sheet-rolltemplate-healing .inlinerollresult.fullcrit,
.sheet-rolltemplate-healing .inlinerollresult.importantroll,
.sheet-rolltemplate-init .inlinerollresult,
.sheet-rolltemplate-init .inlinerollresult.fullfail,
.sheet-rolltemplate-init .inlinerollresult.fullcrit,
.sheet-rolltemplate-init .inlinerollresult.importantroll,
.sheet-rolltemplate-customcheck .inlinerollresult,
.sheet-rolltemplate-customcheck .inlinerollresult.fullfail,
.sheet-rolltemplate-customcheck .inlinerollresult.fullcrit,
.sheet-rolltemplate-customcheck .inlinerollresult.importantroll {
    background-color: transparent;
    border: none;
    color:black;
}

.repcontainer[data-groupname="repeating_weaponlist"] {
    width: 100%;
}
.repcontainer[data-groupname="repeating_gearlist"] {
    width: 100%;
}
.repcontainer[data-groupname="repeating_stuff"] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, max-content);
}
.sheet-weaponname {
    width:100%;
}
.sheet-weaponattrs{
    width:100%;
}
.sheet-gear{
    width:100%;
}
.sheet-weapondice {
    width: 25px;
    text-align: center;
}