mixin customAssets
  input.sheet-asset-custom.sheet-hide(type='checkbox' name='attr_assetcustom')
  .sheet-asset-custom.sheet-showhide
    input.sheet-asset-builder(type='radio' name='attr_custom-asset-page' value='1' checked='')
    span.sheet-custom-asset-page Builder
    input.sheet-asset-view(type='radio' name='attr_custom-asset-page' value='2')
    span.sheet-custom-asset-page View
    .sheet-asset-builder.sheet-hide
      .sheet-builder-titles
        | Titles
        br
        select.sheet-sub-dropdown.sheet-builder-dropdown(name='attr_builder-titles')
          option(value='0' selected='') None
          option(value='1') 1 Input
          option(value='2') 2 Inputs
          option(value='3') 3 Inputs
      .sheet-builder-ability-1
        | Ability One
        br
        select.sheet-sub-dropdown(name='attr_builder-ability-1')
          option(value='' selected='' disabled='') Select
          option(value='text') Text Box
          option(value='text-input') Text Box with Input
        textarea.sheet-build-text(name='attr_builder-ability-1-text-area')
      .sheet-builder-ability-2
        | Ability Two
        br
        select.sheet-sub-dropdown(name='attr_builder-ability-2')
          option(value='' selected='' disabled='') Select
          option(value='text') Text Box
          option(value='text-input') Text Box with Input
        textarea.sheet-build-text(name='attr_builder-ability-2-text-area')
      .sheet-builder-ability-3
        | Ability Three
        br
        select.sheet-sub-dropdown(name='attr_builder-ability-3')
          option(value='' selected='' disabled='') Select
          option(value='text') Text Box
          option(value='text-input') Text Box with Input
        textarea.sheet-build-text(name='attr_builder-ability-3-text-area')
      .sheet-builder-tracks
        | Tracks
        br
        select.sheet-sub-dropdown(name='attr_track-dropdown')
          option(value='0' selected='') None
          option(value='1') 0 to 1
          option(value='2') 0 to 2
          option(value='3') 0 to 3
          option(value='4') 0 to 4
          option(value='5') 0 to 5
          option(value='6') 0 to 6
    .sheet-asset-view.sheet-hide
      .sheet-flex-wrapper
        .sheet-flex-container
          input.sheet-builder-titles-0.sheet-hide(type='checkbox' name='attr_builder-titles-0')
          input.sheet-builder-titles-1.sheet-hide(type='checkbox' name='attr_builder-titles-1')
          .sheet-builder-titles-1.sheet-hide
            input.sheet-border-bottom.sheet-no-border.sheet-view-title-width(type='text' name='attr_builder-titles-1-1' value='')
          input.sheet-builder-titles-2.sheet-hide(type='checkbox' name='attr_builder-titles-2')
          .sheet-builder-titles-2.sheet-hide
            input.sheet-border-bottom.sheet-no-border.sheet-view-title-width(type='text' name='attr_builder-titles-2-1' value='')
            input.sheet-border-bottom.sheet-no-border.sheet-view-title-width(type='text' name='attr_builder-titles-2-2' value='')
          input.sheet-builder-titles-3.sheet-hide(type='checkbox' name='attr_builder-titles-3')
          .sheet-builder-titles-3.sheet-hide
            input.sheet-border-bottom.sheet-no-border.sheet-view-title-width(type='text' name='attr_builder-titles-3-1' value='')
            input.sheet-border-bottom.sheet-no-border.sheet-view-title-width(type='text' name='attr_builder-titles-3-2' value='')
            input.sheet-border-bottom.sheet-no-border.sheet-view-title-width(type='text' name='attr_builder-titles-3-3' value='')
        .sheet-flex-container
          input.sheet-builder-ability-1-text.sheet-hide(type='checkbox' name='attr_builder-ability-1-text')
          .sheet-builder-ability-1-text.sheet-hide
            input.sheet-custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-1')
            .sheet-asset-ability
              textarea.sheet-no-border.sheet-ability-text(name='attr_builder-ability-1-text-area' readonly='')
          input.sheet-builder-ability-1-text-input.sheet-hide(type='checkbox' name='attr_builder-ability-1-text-input')
          .sheet-builder-ability-1-text-input.sheet-hide
            input.sheet-custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-1')
            .sheet-asset-ability
              textarea.sheet-no-border.sheet-ability-text(name='attr_builder-ability-1-text-area' readonly='')
              input.sheet-border-bottom.sheet-no-border(type='text' name='attr_builder-ability-1-custom-text-input' value='')
        .sheet-flex-container
          input.sheet-builder-ability-2-text.sheet-hide(type='checkbox' name='attr_builder-ability-2-text')
          .sheet-builder-ability-2-text.sheet-hide
            input.sheet-custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-2')
            .sheet-asset-ability
              textarea.sheet-no-border.sheet-ability-text(name='attr_builder-ability-2-text-area' readonly='')
          input.sheet-builder-ability-2-text-input.sheet-hide(type='checkbox' name='attr_builder-ability-2-text-input')
          .sheet-builder-ability-2-text-input.sheet-hide
            input.sheet-custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-2')
            .sheet-asset-ability
              textarea.sheet-no-border.sheet-ability-text(name='attr_builder-ability-2-text-area' readonly='')
              input.sheet-border-bottom.sheet-no-border(type='text' name='attr_builder-ability-2-custom-text-input' value='')
        .sheet-flex-container
          input.sheet-builder-ability-3-text.sheet-hide(type='checkbox' name='attr_builder-ability-3-text')
          input.sheet-builder-ability-3-text-input.sheet-hide(type='checkbox' name='attr_builder-ability-3-text-input')
          .sheet-builder-ability-3-text.sheet-hide
            .sheet-flex-container
              input.sheet-custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-3')
              .sheet-asset-ability
                textarea.sheet-no-border.sheet-ability-text(name='attr_builder-ability-3-text-area' readonly='')
          .sheet-builder-ability-3-text-input.sheet-hide
            input.sheet-custom-asset-ability(type='checkbox' name='attr_assetcheckbox_builder-ability-3')
            .sheet-asset-ability
              textarea.sheet-no-border.sheet-ability-text(name='attr_builder-ability-3-text-area' readonly='')
              input.sheet-border-bottom.sheet-no-border(type='text' name='attr_builder-ability-3-custom-text-input' value='')
      .sheet-flex-wrapper
        .sheet-flex-container
          input.sheet-track-dropdown-0.sheet-hide(type='checkbox' name='attr_track-dropdown-0')
          input.sheet-track-dropdown-1.sheet-hide(type='checkbox' name='attr_track-dropdown-1')
          .sheet-track-dropdown-1.sheet-hide
            .sheet-asset-track-wrapper.sheet-custom-track
              .sheet-asset-track-box
                .sheet-asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track' value='0')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track' value='1')
          input.sheet-track-dropdown-2.sheet-hide(type='checkbox' name='attr_track-dropdown-2')
          .sheet-track-dropdown-2.sheet-hide
            .sheet-asset-track-wrapper.sheet-custom-track
              .sheet-asset-track-box
                .sheet-asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track' value='0')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track' value='1')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track' value='2')
          input.sheet-track-dropdown-3.sheet-hide(type='checkbox' name='attr_track-dropdown-3')
          .sheet-track-dropdown-3.sheet-hide
            .sheet-asset-track-wrapper.sheet-custom-track
              .sheet-asset-track-box
                .sheet-asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track' value='0')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track' value='1')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track' value='2')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 3
                input(type='radio' name='attr_custom-asset-track' value='3')
          input.sheet-track-dropdown-4.sheet-hide(type='checkbox' name='attr_track-dropdown-4')
          .sheet-track-dropdown-4.sheet-hide
            .sheet-asset-track-wrapper.sheet-custom-track
              .sheet-asset-track-box
                .sheet-asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track' value='0')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track' value='1')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track' value='2')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 3
                input(type='radio' name='attr_custom-asset-track' value='3')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 4
                input(type='radio' name='attr_custom-asset-track' value='4')
          input.sheet-track-dropdown-5.sheet-hide(type='checkbox' name='attr_track-dropdown-5')
          .sheet-track-dropdown-5.sheet-hide
            .sheet-asset-track-wrapper.sheet-custom-track
              .sheet-asset-track-box
                .sheet-asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track' value='0')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track' value='1')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track' value='2')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 3
                input(type='radio' name='attr_custom-asset-track' value='3')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 4
                input(type='radio' name='attr_custom-asset-track' value='4')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 5
                input(type='radio' name='attr_custom-asset-track' value='5')
          input.sheet-track-dropdown-6.sheet-hide(type='checkbox' name='attr_track-dropdown-6')
          .sheet-track-dropdown-6.sheet-hide
            .sheet-asset-track-wrapper.sheet-custom-track
              .sheet-asset-track-box
                .sheet-asset-track-box-display 0
                input(type='radio' name='attr_custom-asset-track' value='0')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 1
                input(type='radio' name='attr_custom-asset-track' value='1')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 2
                input(type='radio' name='attr_custom-asset-track' value='2')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 3
                input(type='radio' name='attr_custom-asset-track' value='3')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 4
                input(type='radio' name='attr_custom-asset-track' value='4')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 5
                input(type='radio' name='attr_custom-asset-track' value='5')
              .sheet-asset-track-box
                .sheet-asset-track-box-display + 6
                input(type='radio' name='attr_custom-asset-track' value='6')
