.charsheet label {
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    color: #333;
    font: inherit
}

/* radios and checks from blades, replace with nwod official below
.charsheet label input[type=checkbox],
.charsheet label input[type=radio] {
    position: absolute
}

.charsheet input[type=checkbox],
.charsheet input[type=radio] {
    opacity: 0;
    z-index: 1;
    -moz-appearance: none;
    position: relative
}
*/

.charsheet input[type=checkbox]+span,
.charsheet input[type=radio]+span {
    cursor: pointer;
    display: inline-block;
    transition: all .2s, opacity 0s;
    width: 0;
}

.sheet-hider[value="0"]+li,
.sheet-hider[value="0"]+div,
.sheet-hider[value="0"]+label {
    display: none
}

.sheet-settings-checkbox {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-family: pictos
}

.sheet-settings-checkbox input+span {
    opacity: .3
}

.sheet-settings-checkbox input:checked+span {
    opacity: 1
}

.sheet-settings {
    position: absolute;
    right: 0;
    width: 415px;
    border: 1px solid #000;
    background: #fff;
    z-index: 100;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap
}

.sheet-settings>div {
    min-width: 50%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 2px;
    font-size: 10px;
    min-height: 24px;
    line-height: 17px;
    border-bottom: 1px solid #d8d8d8
}

.sheet-flex-container {
    display: flex;
}

.sheet-flex-container > input[type=text] {
    flex-grow: 1;
}

.sheet-input-label {
    line-height: 2;
    margin-right: .4em;
}

.sheet-header{
    font-size: x-large;
    text-align: center;
}

.sheet-line{
    border-bottom: 1px solid black;
    flex-grow: 1;
    height: 1em;
}

/* radios/boxes from nwod official */

/* Hide actual dot/checkbox */
input[type="radio"].sheet-normal,
input.sheet-weapon,
input[type="checkbox"].sheet-normal,
.sheet-settings-checkbox input
{
    position: relative;
    opacity: 0.0;
    width: 15px;
    cursor: pointer;
    z-index: 10;
    margin-top: 5px;
}

/* Styles common to fake dot and checkbox */
input[type="radio"].sheet-normal + span::before,
input[type="checkbox"].sheet-normal + span::before,
.sheet-permadot::before
{
    border: solid 1px #000000;
    line-height: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 0px #000;
    -webkit-box-shadow: 0 0 0px #000;
    box-shadow: 0 0 0px #000;
    
    background: #000000;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);

    position: relative;
    left: -13px;
}

/* Styles unique to fake dot (checked or left of checked) */
input[type="radio"].sheet-normal + span::before,
.sheet-permadot::before
{
    content: "•";
    width: 10px;
    height: 10px;
    font-size: 41.9px;
    font-family: "Arial";
    text-indent: -2px;
    font-weight: normal;
    
    -webkit-font-smoothing: antialiased;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Styles unique to fake checkbox (unchecked) */
input[type="checkbox"].sheet-normal + span::before
{
    position:relative;
    content: "";
    opacity: 1.0;
    width: 10px;
    height: 10px;
    font-size: 12px;
    
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

/* Styles unique to fake checkbox (checked) */
input[type="checkbox"].sheet-normal:checked + span::before
{
    background: 
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"].sheet-normal:checked ~ input[type="radio"] + span::before
{    
    content: "";
}

input.sheet-used+span::before
{
    content: "✖";
    width: 12px;
    height: 12px;
    font-size: 12px;
    
    -moz-border-radius: 0%;
    -webkit-border-radius: 0%;
    border-radius: 0%;
}

input.sheet-zero:checked + span::before
{
    opacity: 0;
}

input.sheet-zero:hover + span::before
{
    opacity: 0.25;
    font-size: 12px;
    content: "✖";
    text-indent: 0.5px;
}

input.sheet-zero + span::before
{
    opacity: 0;
}

/* end boxes/radios */

table.sheet-attribute-table {
    table-layout: fixed;
    text-align: center;
    width:100%;
}

td, th {
    padding: 0 1em 0 1em;
}

td:first-child, th:first-child {
    padding: 0 1em 0 0;
}

td:last-child, th:last-child {
    padding: 0 0 0 1em;
}

table.sheet-attribute-table td>div {
    display: flex;
}

table.sheet-attribute-table th:first-child {
    text-align: right;
}

table.sheet-attribute-table th {
    text-align: center;
}

.sheet-row > .sheet-col {
    width: 100%;
}