mixin delveTable
  .sheet-move-table.sheet-move-delve-table
    .sheet-move-delve-row-header
      .sheet-move-delve-column-stat-header-1 Edge
      .sheet-move-delve-column-stat-header-2 Shadow
      .sheet-move-delve-column-stat-header-3 Wits
      .sheet-move-delve-column-header Weak Hit Result 
    .sheet-oracle-row
      .sheet-move-delve-stat-column-1 1-45
      .sheet-move-delve-stat-column-2 1-30
      .sheet-move-delve-stat-column-3 1-40
      .sheet-move-delve-column Mark progress and <em>Reveal a Danger.</em>
    .sheet-oracle-row
      .sheet-move-delve-stat-column-1 46-65
      .sheet-move-delve-stat-column-2 31-65
      .sheet-move-delve-stat-column-3 41-55
      .sheet-move-delve-column Mark progress.
    .sheet-oracle-row 
      .sheet-move-delve-stat-column-1 66-75
      .sheet-move-delve-stat-column-2 66-90
      .sheet-move-delve-stat-column-3 56-80
      .sheet-move-delve-column Choose one: Mark progress or <em>Find an Opportunity.</em>
    .sheet-oracle-row 
      .sheet-move-delve-stat-column-1 76-80
      .sheet-move-delve-stat-column-2 91-99
      .sheet-move-delve-stat-column-3 81-99
      .sheet-move-delve-column Take both: Mark progress and <em>Find an Opportunity.</em>
    .sheet-oracle-row 
      .sheet-move-delve-stat-column-1 81-100
      .sheet-move-delve-stat-column-2 100
      .sheet-move-delve-stat-column-3 100
      .sheet-move-delve-column Mark progress twice and <em>Reveal a Danger.</em>