<div class="shaped-row">
  <div class="col-16 center pad-r-sm">
    <button type="roll" name="roll_strength_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Ability Check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{strength_check_mod}]]}} @{roll_setting}@{d20_mod} + @{strength_check_mod}]]}} @{attacher_strength_check}" tabindex="-1">
      <div class="heading uppercase center">
        {{'ABILITIES.strength.SHORT_NAME' | translate}}
      </div>
      <div class="presentation mar-t-sm">
        <span name="attr_strength" class="center"></span>
        (<span name="attr_strength_mod_with_sign" class="center"></span>)
      </div>
    </button>
    <input type="hidden" name="attr_strength_mod">
    <div class="shaped-row center edit no-wrap">
      <div>
        <input type="number" name="attr_strength" class="no-border no-spin" accept="STR">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_strength_bonus" class="edit no-spin no-border" value="0" step="1">
      </div>
      <div>
        (<span name="attr_strength_mod_with_sign" class="center"></span>)
      </div>
    </div>

    <div class="edit shaped-row no-wrap vert-center small-label">
      <span>{{'CHECK' | translate}}</span>
      <div>+</div>
      <div>
        <input type="number" name="attr_strength_check_bonus" class="no-spin no-border" value="0" step="1">
      </div>
      <div>=</div>
      <span class="mar-l-sm" name="attr_strength_check_mod"></span>
    </div>
  </div>
  <div class="col-16 center pad-l-sm pad-r-sm">
    <button type="roll" name="roll_dexterity_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{dexterity_check_mod}]]}} @{roll_setting}@{d20_mod} + @{dexterity_check_mod}]]}} @{attacher_dexterity_check}" tabindex="-1">
      <div class="heading uppercase center">
        {{'ABILITIES.dexterity.SHORT_NAME' | translate}}
      </div>
      <div class="presentation mar-t-sm">
        <span name="attr_dexterity" class="center"></span>
        (<span name="attr_dexterity_mod_with_sign" class="center"></span>)
      </div>
    </button>
    <input type="hidden" name="attr_dexterity_mod">
    <div class="shaped-row center edit no-wrap">
      <div>
        <input type="number" name="attr_dexterity" class="no-border no-spin" accept="DEX">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_dexterity_bonus" class="edit no-spin no-border" value="0" step="1">
      </div>
      <div>
        (<span name="attr_dexterity_mod_with_sign" class="center"></span>)
      </div>
    </div>

    <div class="edit shaped-row no-wrap vert-center small-label">
      <span>{{'CHECK' | translate}}</span>
      <div>+</div>
      <div>
        <input type="number" name="attr_dexterity_check_bonus" class="no-spin no-border" value="0" step="1">
      </div>
      <div>=</div>
      <span class="mar-l-sm" name="attr_dexterity_check_mod"></span>
    </div>
  </div>
  <div class="col-16 center pad-l-sm pad-r-sm">
    <button type="roll" name="roll_constitution_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{constitution_check_mod}]]}} @{roll_setting}@{d20_mod} + @{constitution_check_mod}]]}} @{attacher_constitution_check}" tabindex="-1">
      <div class="heading uppercase center">
        {{'ABILITIES.constitution.SHORT_NAME' | translate}}
      </div>
      <div class="presentation mar-t-sm">
        <span name="attr_constitution" class="center"></span>
        (<span name="attr_constitution_mod_with_sign" class="center"></span>)
      </div>
    </button>
    <input type="hidden" name="attr_constitution_mod">
    <div class="shaped-row center edit no-wrap">
      <div>
        <input type="number" name="attr_constitution" class="no-border no-spin" accept="CON">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_constitution_bonus" class="edit no-spin no-border" value="0" step="1">
      </div>
      <div>
        (<span name="attr_constitution_mod_with_sign" class="center"></span>)
      </div>
    </div>

    <div class="edit shaped-row no-wrap vert-center small-label">
      <span>{{'CHECK' | translate}}</span>
      <div>+</div>
      <div>
        <input type="number" name="attr_constitution_check_bonus" class="no-spin no-border" value="0" step="1">
      </div>
      <div>=</div>
      <span class="mar-l-sm" name="attr_constitution_check_mod"></span>
    </div>
  </div>
  <div class="col-16 center pad-l-sm pad-r-sm">
    <button type="roll" name="roll_intelligence_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{intelligence_check_mod}]]}} @{roll_setting}@{d20_mod} + @{intelligence_check_mod}]]}} @{attacher_intelligence_check}" tabindex="-1">
      <div class="heading uppercase center">
        {{'ABILITIES.intelligence.SHORT_NAME' | translate}}
      </div>
      <div class="presentation mar-t-sm">
        <span name="attr_intelligence" class="center"></span>
        (<span name="attr_intelligence_mod_with_sign" class="center"></span>)
      </div>
    </button>
    <input type="hidden" name="attr_intelligence_mod">
    <div class="shaped-row center edit no-wrap">
      <div>
        <input type="number" name="attr_intelligence" class="no-border no-spin" accept="INT">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_intelligence_bonus" class="edit no-spin no-border" value="0" step="1">
      </div>
      <div>
        (<span name="attr_intelligence_mod_with_sign" class="center"></span>)
      </div>
    </div>

    <div class="edit shaped-row no-wrap vert-center small-label">
      <span>{{'CHECK' | translate}}</span>
      <div>+</div>
      <div>
        <input type="number" name="attr_intelligence_check_bonus" class="no-spin no-border" value="0" step="1">
      </div>
      <div>=</div>
      <span class="mar-l-sm" name="attr_intelligence_check_mod"></span>
    </div>
  </div>
  <div class="col-16 center pad-l-sm pad-r-sm">
    <button type="roll" name="roll_wisdom_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{wisdom_check_mod}]]}} @{roll_setting}@{d20_mod} + @{wisdom_check_mod}]]}} @{attacher_wisdom_check}" tabindex="-1">
      <div class="heading uppercase center">
        {{'ABILITIES.wisdom.SHORT_NAME' | translate}}
      </div>
      <div class="presentation mar-t-sm">
        <span name="attr_wisdom" class="center"></span>
        (<span name="attr_wisdom_mod_with_sign" class="center"></span>)
      </div>
    </button>
    <input type="hidden" name="attr_wisdom_mod">
    <div class="shaped-row center edit no-wrap">
      <div>
        <input type="number" name="attr_wisdom" class="no-border no-spin" accept="WIS">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_wisdom_bonus" class="edit no-spin no-border" value="0" step="1">
      </div>
      <div>
        (<span name="attr_wisdom_mod_with_sign" class="center"></span>)
      </div>
    </div>

    <div class="edit shaped-row no-wrap vert-center small-label">
      <span>{{'CHECK' | translate}}</span>
      <div>+</div>
      <div>
        <input type="number" name="attr_wisdom_check_bonus" class="no-spin no-border" value="0" step="1">
      </div>
      <div>=</div>
      <span class="mar-l-sm" name="attr_wisdom_check_mod"></span>
    </div>
  </div>
  <div class="col-16 center pad-l-sm">
    <button type="roll" name="roll_charisma_check" value="@{output_option} &{template:5e-shaped} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Ability check}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{charisma_check_mod}]]}} @{roll_setting}@{d20_mod} + @{charisma_check_mod}]]}} @{attacher_charisma_check}" tabindex="-1">
      <div class="heading uppercase center">
        {{'ABILITIES.charisma.SHORT_NAME' | translate}}
      </div>
      <div class="presentation mar-t-sm">
        <span name="attr_charisma" class="center"></span>
        (<span name="attr_charisma_mod_with_sign" class="center"></span>)
      </div>
    </button>
    <input type="hidden" name="attr_charisma_mod">
    <div class="shaped-row center edit no-wrap">
      <div>
        <input type="number" name="attr_charisma" class="no-border no-spin" accept="CHA">
      </div>
      <div>+</div>
      <div>
        <input type="number" name="attr_charisma_bonus" class="edit no-spin no-border" value="0" step="1">
      </div>
      <div>
        (<span name="attr_charisma_mod_with_sign" class="center"></span>)
      </div>
    </div>

    <div class="edit shaped-row no-wrap vert-center small-label">
      <span>{{'CHECK' | translate}}</span>
      <div>+</div>
      <div>
        <input type="number" name="attr_charisma_check_bonus" class="no-spin no-border" value="0" step="1">
      </div>
      <div>=</div>
      <span class="mar-l-sm" name="attr_charisma_check_mod"></span>
    </div>
  </div>
</div>