<div class="mar-b-md">
  <button type="roll" name="roll_action" class="presentation"
          value="@{output_option}   &{template:5e-shaped}   {{character_name=@{character_name}}}   @{show_character_name}   {{title=@{name}}}   {{action=1}}   {{reach=@{reach}}}   {{range=@{range}}}   {{recharge=@{recharge}}}   {{targetName=@{attacks_vs_target_name}}}   @{roll_toggle}   @{saving_throw_toggle}   @{damage_toggle}   @{second_damage_toggle}   @{extras_toggle}   @{attacher_attack}   @{hide_gm_info}">
      <span class="bold italic">
        <span name="attr_name"></span><span name="attr_recharge_display"></span>.
      </span>
    <span name="attr_freetext" class="pre-line"></span>
  </button>
  <div class="edit">
    <div class="shaped-row">
      <div class="col-40 center">
        <input type="text" name="attr_name" class="action-name italic" placeholder="Bite">
      </div>
      <div class="col-17 center pad-l-sm pad-r-sm">
        <span class="en">
          <select name="attr_type">
            <option value="Melee Weapon">Melee</option>
            <option value="Ranged Weapon">Ranged</option>
            <option value="Other">Other</option>
          </select>
        </span>
        <span class="de">
          <select name="attr_type">
            <option value="Melee Weapon">Nahkampf</option>
            <option value="Ranged Weapon">Reichweite</option>
            <option value="Other">Andere</option>
          </select>
        </span>
        <span class="fr">
          <select name="attr_type">
            <option value="Melee Weapon">Mêlée</option>
            <option value="Ranged Weapon">Tir</option>
            <option value="Other">Autre</option>
          </select>
        </span>
        <span class="ru">
          <select name="attr_type">
            <option value="Melee Weapon">Melee</option>
            <option value="Ranged Weapon">Ranged</option>
            <option value="Other">Other</option>
          </select>
        </span>

        <div class="small-label">{{'TYPE' | translate}}</div>
      </div>
      <div class="col-10 center pad-l-sm pad-r-sm">
        <input type="text" name="attr_reach" class="center">

        <div class="small-label">{{'REACH' | translate}}</div>
      </div>

      <div class="col-18 center pad-l-sm pad-r-sm">
        <input type="text" name="attr_range" class="center">

        <div class="small-label">{{'RANGE' | translate}}</div>
      </div>

      <div class="col-15 center pad-l-sm">
        <input type="text" name="attr_recharge" class="center">

        <div class="small-label">{{'RECHARGE' | translate}}</div>
      </div>
    </div>

    //= include ../actionComponents/attack.html
    //= include ../actionComponents/savingThrow.html
    //= include ../actionComponents/damage.html
    //= include ../actionComponents/damageSecondary.html
    //= include ../actionComponents/extras.html
  </div>
</div>