//= include savingThrows.html
//= include skills.html
//= include resistancesVulnerabilities.html
<div class="shaped-row vert-center">
  <input type="hidden" name="attr_senses_exist" class="item-toggle">
  <button type="roll" name="roll_senses" class="item-to-toggle" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Senses}} {{text_top=@{senses}}}">
    <span class="heading">{{'SENSES' | translate}}</span>
    <span name="attr_senses" class="presentation"></span>
  </button>
  <div class="col-80 pad-l-sm edit">
    <input type="text" name="attr_senses" class="no-border" accept="Senses">
  </div>
</div>
<div class="shaped-row vert-center">
  <input type="hidden" name="attr_languages_exist" class="item-toggle">
  <button type="roll" name="roll_languages" class="item-to-toggle" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Languages}} {{text_top=@{languages}}}">
    <span class="heading">{{'LANGUAGES' | translate}}</span>
    <span name="attr_languages" class="presentation"></span>
  </button>
  <div class="col-80 pad-l-sm edit">
    <input type="text" name="attr_languages" class="no-border" accept="Languages">
  </div>
</div>
<div class="shaped-row vert-center">
  <button type="roll" name="roll_challenge" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Challenge}} {{text_top=@{challenge}}} {{text_center=@{xp_readable} XP}}" tabindex="-1">
    <span class="heading">{{'CHALLENGE' | translate}}</span>
    <span class="presentation">
      <span name="attr_challenge"></span>
      (<span name="attr_xp_readable"></span> XP)
    </span>
  </button>
  <input type="hidden" name="attr_xp">
  <input type="hidden" name="attr_xp_readable">
  <div class="col-05 edit pad-l-sm">
    <input type="text" name="attr_challenge" class="no-border no-spin" accept="Challenge Rating">
  </div>
</div>
<div>
  <button type="roll" name="roll_pb" value="@{output_option} &{template:5e-shaped} {{character_name=@{character_name}}} @{show_character_name} {{title=Proficiency Bonus}} {{text_top=[[@{pb}]]}}" tabindex="-1">
    <span class="heading">{{'PROFICIENCY_BONUS' | translate}}</span>
    <span name="attr_PB"></span>
  </button>
</div>