<input type="hidden" name="attr_legendaryactions_exist" class="item-toggle">
<div class="item-to-toggle">
  <h3>Legendary Actions</h3>
  <div class="mar-b-md">
    The <span name="attr_character_name"></span> can take
    <span name="attr_legendary_action_amount" class="presentation"></span>
    <div class="col-2-em inline-block details"><input type="number" name="attr_legendary_action_amount" class="no-border no-spin"></div>
    &nbsp;legendary actions, choosing from the options below. Only one legendary option can be used at a time and only at the end of another creature's turn. The <span name="attr_character_name"></span> regains spent legendary actions at the start of its turn.
  </div>
  <fieldset class="repeating_legendaryaction">
    //= include actionContents.html
  </fieldset>
</div>