<div class="section-npc">
  <div class="bar"></div>
  <div class="npc-content-wrap">
    <div class="compendium-drop-target">
      <input type="hidden" name="attr_content_srd" accept="Content">
      <input type="hidden" name="attr_spells_srd" accept="Spell Book">

      <div class="shaped-row">
        <div class="col-50 pad-r-md">
          <div>
            <span name="attr_character_name" class="creature-name presentation"></span>
            <input type="text" name="attr_character_name" class="edit creature-name no-border" accept="Name" placeholder="Dragon">
          </div>
          //= include sizeTypeAlignment.html
          <div class="divider"></div>
          <div class="top-stats">
            //= include acHpSpeed.html
            <div class="divider"></div>
            //= include abilities.html
            <div class="divider"></div>
            //= include details.html
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-50 pad-l-md">
          //= include ../traits/traits.html
          //= include actions.html
          //= include reactions.html
          //= include legendaryActions.html
          //= include lairActions.html
          //= include regionalEffects.html
        </div>
      </div>
      <input type="hidden" name="attr_character_name">
    </div>
  </div>
  <div class="bar"></div>
</div>
