<div class="section-npc">
  <div class="bar"></div>
  <div class="npc-content-wrap">
    <div class="compendium-drop-target">
      <input type="hidden" name="attr_content_srd" accept="Content">
      <input type="hidden" name="attr_spells_srd" accept="Spell Book">
      <input type="checkbox" name="attr_edit_mode" class="toggle-edit-mode hidden">

      <div class="shaped-row">
        <div class="col-50 pad-r-md">
          <div class="shaped-row">
            <div class="col-94">
              <span name="attr_character_name" class="creature-name presentation"></span>
              <input type="text" name="attr_character_name" class="edit creature-name no-border" accept="Name" placeholder="Dragon">
            </div>
            <div class="col-06">
              <input type="checkbox" name="attr_edit_mode" class="toggle-edit-mode"><span class="toggle-edit-mode pictos">p</span>
            </div>
          </div>
          //= include sizeTypeAlignment.html
          <div class="divider"></div>
          <div class="top-stats">
            //= include acHpSpeed.html
            <div class="divider"></div>
            //= include abilities.html
            <div class="divider"></div>
            //= include details.html
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-50 pad-l-md">
          //= include traits.html
          //= include actions.html
          //= include reactions.html
          //= include legendaryActions.html
          //= include lairActions.html
        </div>
      </div>
      <input type="hidden" name="attr_character_name">
    </div>
  </div>
  <div class="bar"></div>
</div>
