<input type="hidden" name="attr_saving_throws_srd" accept="Saving Throws">

<div class="saving-throws shaped-row flex-end">
  <span class="heading">{{'SAVING_THROWS' | translate}}</span>
  <span class="pad-l-sm"></span>
  <span class="edit">
    <input type="checkbox" name="attr_strength_save_prof" value="@{PB}">
  </span>
  <div class="col-1-3-em edit">
    <input type="number" name="attr_strength_save_bonus" class="no-spin small-label" value="0" step="1">
  </div>
  <button type="roll" name="roll_strength_saving_throw" value="@{output_option} &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Strength}} {{subheader=Saving Throw}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{strength_saving_throw_mod}]]}} @{roll_setting}@{d20_mod} + @{strength_saving_throw_mod}]]}} @{attacher_strength_saving_throw}" tabindex="-1">
    <span>{{'ABILITIES.strength.SHORT_NAME' | translate}}</span>
    <span name="attr_strength_saving_throw_mod_with_sign" class="inline-block center"></span>
  </button>
  <span class="pad-r-sm">,</span>
  <span class="edit border-left pad-l-sm">
    <input type="checkbox" name="attr_dexterity_save_prof" value="@{PB}">
  </span>
  <div class="col-1-3-em edit">
    <input type="number" name="attr_dexterity_save_bonus" class="no-spin small-label" value="0" step="1">
  </div>
  <button type="roll" name="roll_dexterity_saving_throw" value="@{output_option} &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Dexterity}} {{subheader=Saving Throw}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{dexterity_saving_throw_mod}]]}} @{roll_setting}@{d20_mod} + @{dexterity_saving_throw_mod}]]}} @{attacher_dexterity_saving_throw}" tabindex="-1">
    <span>{{'ABILITIES.dexterity.SHORT_NAME' | translate}}</span>
    <span name="attr_dexterity_saving_throw_mod_with_sign" class="inline-block center"></span>
  </button>
  <span class="pad-r-sm">,</span>
  <span class="edit border-left pad-l-sm">
    <input type="checkbox" name="attr_constitution_save_prof" value="@{PB}">
  </span>
  <div class="col-1-3-em edit">
    <input type="number" name="attr_constitution_save_bonus" class="no-spin small-label" value="0" step="1">
  </div>
  <button type="roll" name="roll_constitution_saving_throw" value="@{output_option} &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Constitution}} {{subheader=Saving Throw}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{constitution_saving_throw_mod}]]}} @{roll_setting}@{d20_mod} + @{constitution_saving_throw_mod}]]}} @{attacher_constitution_saving_throw}" tabindex="-1">
    <span>{{'ABILITIES.constitution.SHORT_NAME' | translate}}</span>
    <span name="attr_constitution_saving_throw_mod_with_sign" class="inline-block center"></span>
  </button>
  <span class="pad-r-sm">,</span>
  <span class="edit border-left pad-l-sm">
    <input type="checkbox" name="attr_intelligence_save_prof" value="@{PB}">
  </span>
  <div class="col-1-3-em edit">
    <input type="number" name="attr_intelligence_save_bonus" class="no-spin small-label" value="0" step="1">
  </div>
  <button type="roll" name="roll_intelligence_saving_throw" value="@{output_option} &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Intelligence}} {{subheader=Saving Throw}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{intelligence_saving_throw_mod}]]}} @{roll_setting}@{d20_mod} + @{intelligence_saving_throw_mod}]]}} @{attacher_intelligence_saving_throw}" tabindex="-1">
    <span>{{'ABILITIES.intelligence.SHORT_NAME' | translate}}</span>
    <span name="attr_intelligence_saving_throw_mod_with_sign" class="inline-block center"></span>
  </button>
  <span class="pad-r-sm">,</span>
  <span class="edit border-left pad-l-sm">
    <input type="checkbox" name="attr_wisdom_save_prof" value="@{PB}">
  </span>
  <div class="col-1-3-em edit">
    <input type="number" name="attr_wisdom_save_bonus" class="no-spin small-label" value="0" step="1">
  </div>
  <button type="roll" name="roll_wisdom_saving_throw" value="@{output_option} &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Wisdom}} {{subheader=Saving Throw}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{wisdom_saving_throw_mod}]]}} @{roll_setting}@{d20_mod} + @{wisdom_saving_throw_mod}]]}} @{attacher_wisdom_saving_throw}" tabindex="-1">
    <span>{{'ABILITIES.wisdom.SHORT_NAME' | translate}}</span>
    <span name="attr_wisdom_saving_throw_mod_with_sign" class="inline-block center"></span>
  </button>
  <span class="pad-r-sm">,</span>
  <span class="edit border-left pad-l-sm">
    <input type="checkbox" name="attr_charisma_save_prof" value="@{PB}">
  </span>
  <div class="col-1-3-em edit">
    <input type="number" name="attr_charisma_save_bonus" class="no-spin small-label" value="0" step="1">
  </div>
  <button type="roll" name="roll_charisma_saving_throw" value="@{output_option} &{template:5e-shaped} {{saving_throw=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=Charisma}} {{subheader=Saving Throw}} @{roll_info} {{roll1=[[@{preroll}d20@{postroll}@{d20_mod} + @{charisma_saving_throw_mod}]]}} @{roll_setting}@{d20_mod} + @{charisma_saving_throw_mod}]]}} @{attacher_charisma_saving_throw}" tabindex="-1">
    <span>{{'ABILITIES.charisma.SHORT_NAME' | translate}}</span>
    <span name="attr_charisma_saving_throw_mod_with_sign" class="inline-block center"></span>
  </button>
</div>