<div class="shaped-row edit">
  <div class="col-20 pad-r-sm">
    <span class="en">
      <select name="attr_size" class="italic no-border" accept="Size">
        <option value="Tiny">Tiny</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large" selected>Large</option>
        <option value="Huge">Huge</option>
        <option value="Gargantuan">Gargantuan</option>
      </select>
    </span>
    <span class="de">
      <select name="attr_size" class="italic no-border">
        <option value="Tiny">Sehr klein</option>
        <option value="Small">Klein</option>
        <option value="Medium">Mittel</option>
        <option value="Large" selected>Groß</option>
        <option value="Huge">Enorm</option>
        <option value="Gargantuan">Gewaltig</option>
      </select>
    </span>
    <span class="fr">
      <select name="attr_size" class="italic no-border">
        <option value="Tiny">Très Petite</option>
        <option value="Small">Petite</option>
        <option value="Medium">Moyenne</option>
        <option value="Large" selected>Grande</option>
        <option value="Huge">Très Grande</option>
        <option value="Gargantuan">Gigantesque</option>
      </select>
    </span>
    <span class="ru">
      <select name="attr_size" class="italic no-border">
        <option value="Tiny">Tiny</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large" selected>Large</option>
        <option value="Huge">Huge</option>
        <option value="Gargantuan">Gargantuan</option>
      </select>
    </span>
  </div>
  <div class="col-30 pad-l-sm pad-r-sm">
    <input type="text" name="attr_type" class="italic no-border" placeholder="dragon" accept="Type">
  </div>
  <div class="col-23 pad-l-sm">
    <input type="text" name="attr_alignment" class="italic no-border" placeholder="lawful evil" accept="Alignment">
  </div>
</div>
<span class="italic presentation">
  <span name="attr_size"></span>
  <span name="attr_type"></span>,
  <span name="attr_alignment"></span>
</span>
