-
  data.hub.header = {
    headers: {
      hubsheet: { name: "hub_data_sheet", label: "Hub Data Sheet" },
      ownerinfo: { name: "owner_information", label: "Section 0. Owner Information" },
    },
    fields: {
      owner: { name: "owner_signature", label: "Owner Name", placeholder: "Gene Starwind", type: "text", blockName: "header" },
    }
  }
