-
  data.hub.cargo = {
    fields: {
      cargotitle: { name: "cargo_title", label: "Title", placeholder: "Title", type: "text", blockName: "cargo" },
      cargocount: { name: "cargo_count", label: "Qty.", placeholder: "0", type: "number", blockName: "cargo" },
      cargobody: { name: "cargo_body", label: "Description", placeholder: "Description", type: "textarea", blockName: "cargo" },
    },
  };
