-
  const frameIntegrityArray = Array.from(Array(11).keys(), (frame) => {
    const percent  = `${frame * 10}%`;
    const label = [0, 5, 10].includes(frame) ? `${percent}` : ``;
    const title = `${percent} Frame Integrity`;
    return { name: "frame_integrity", label: label, value: frame * 10, title: title, type: "radio", blockName: "frame-integrity" };
  });

  const powerSourceArray = [
    { name: "power_source", label: "Slow", value: "slow", type: "radio", blockName: "power-source" },
    { name: "power_source", label: "Fast", value: "fast", type: "radio", blockName: "power-source" },
    { name: "power_source", label: "Unknown", value: "unknown", type: "radio", blockName: "power-source" },
  ];

  data.hub.hubdata = {
    fields: {
      defrating: { name: "defense_rating", label: "Defense Rating", placeholder: "0", type: "number", blockName: "hubdata" },
      hubcondition: { name: "condition", label: "Condition", placeholder: "0", type: "number", blockName: "hubdata" },
      hubcondition_max: { name: "condition_max", label: "Max", placeholder: "0", type: "number", blockName: "hubdata" },
      fuel: { name: "fuel", label: "Fuel", placeholder: "0", type: "number", blockName: "hubdata" },
      fuel_max: { name: "fuel_max", label: "Max", placeholder: "0", type: "number", blockName: "hubdata" },
      outputpower: { name: "output_power", label: "Output Power", type: "number", blockName: "hubdata" },
      powersource: { name: "power_source", label: "Power Source", options: powerSourceArray, type: "radio", blockName: "hubdata" },
      totalpower: { name: "total_power_cost", label: "The power cost sum should not exceed the output power.", placeholder: "0", type: "number", blockName: "hubdata" },
      overheated: { name: "overheated", label: "Overheated", type: "hidden", blockName: "hubdata" },
    },
    subtitles: {
      overheatedmsg: { name: "overheated_warning", label: "Power cost > power output = overheated" },
    },
    frameintegrity: {
      name: "frame_integrity",
      label: "Frame Integrity",
      type: "hidden",
      blockName: "frame-integrity",
      fields: {
        frames: frameIntegrityArray
      },
    },
    integrityevents: {
      conditionzero: { name: "condition_zero", label: "Condition 0" },
      distastertable: { name: "distaster_table", label: "Roll on the spacecraft disasters table" },
      allcalm: { name: "all_calm", label: "When all is calm, recover 1D6×10% frame integrity. A calm night restores to 100%." },
    },
    modules: {
      name: "modules",
      label: "Modules",
      fields: {
        modname: { name: "module_name", label: "module", placeholder: "Panic Room", type: "text", blockName: "modules" },
        modcost: { name: "module_power_cost", label: "Power Cost", value: "0", placeholder: "0", type: "number", blockName: "modules" },
      },
    },
  }
