-
  data.hub.information = {
    subtitles: {
    },
    fields: {
      hubName: { name: "character_name", label: "Nickname", placeholder: "Outlaw Star", placeholderKey: "character_name_hub", type: "text", blockName: "hubinfo" },
      hubType: { name: "hub_type", label: "Hub Type", placeholder: "Spacecraft", type: "text", blockName: "hubinfo" },
      hubBackground: { name: "background", label: "Background", placeholder: "Once lost for 31 years in a black hole", placeholderKey: "background_hub", type: "textarea", blockName: "hubinfo" },
      appearance: { name: "appearance", label: "Appearance", placeholder: "Red and blue paint job", type: "textarea", blockName: "hubinfo" },
      quirks: {
        name: "quirks",
        label: "Quirks",
        fields: [
          { name: "quirk_name", label: "Quirk", placeholder: "The light is always eerily dimmed.", type: "text", blockName: "hubinfo" },
        ]
      },
    }
  }
