-
  data.hub.navigation = {
    fields: [
      { name: 'nav', label: 'Section 1. Specific Information', value: 'hubinfo', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Section 2. Hub Data', value: 'hubdata', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Section 3. Layout', value: 'hublayout', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Section 4. Cargo', value: 'hubcargo', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Section 5. Notes', value: 'hubnotes', type: "radio", blockName: "nav" },
      { name: 'nav', label: 'Config', value: 'config', type: "radio", blockName: "nav" },
    ]
  }
