rolltemplate.sheet-rolltemplate-dis
  .sheet-template-container
    +tags(["name"])
      .sheet-template-character-name {{ name }}
    .sheet-template-header
      .sheet-template-header__text
        span {{ header }}
      .sheet-template-header__roll {{ roll }}

    .sheet-template-result
      +rollFunction(["rollLess() roll 12"])
        .sheet-template-result--fail
          span(data-i18n="failure") Failure

      +rollFunction(["^rollLess() roll 12"])
        .sheet-template-result--success
          span(data-i18n="success") Success

    +tags(["damage"])
      .sheet-template-damage
        span.sheet-template-damage__roll {{ damage }}
        span.sheet-template-damage__text(data-i18n="damage") Damage
