.sheet-page5.sheet-tabcontainer.sheet-hidden
  // LEVEL REQUIREMENTS & BENEFITS
  #levels.sheet-section.sheet-levels
    .sheet-header
      span Level Requirements and Benefits
    .sheet-levels-section
      .sheet-row
        .sheet-level-number
          span.sheet-bold.sheet-font-small Level
        .sheet-level-f
          span.sheet-bold.sheet-font-small F
        .sheet-level-p
          span.sheet-bold.sheet-font-small P
        .sheet-level-benefits
          span.sheet-bold.sheet-font-small Level Benefits
      .sheet-row.sheet-level-row.sheet-shaded.sheet-1
        .sheet-level-number
          span.sheet-bold.sheet-font-small 1
        .sheet-level-f
          span.sheet-bold.sheet-font-small 0
        .sheet-level-p
          span.sheet-bold.sheet-font-small 0
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level1_benefits")
          span.sheet-play.sheet-handwritten +1D to Resources in your home town, 
          span.sheet-play.sheet-handwritten(name="attr_level1_benefits")
      .sheet-row.sheet-level-row.sheet-2
        .sheet-level-number
          span.sheet-bold.sheet-font-small 2
        .sheet-level-f
          span.sheet-bold.sheet-font-small 3
        .sheet-level-p
          span.sheet-bold.sheet-font-small 3
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level2_benefits")
          span.sheet-play.sheet-handwritten(name="attr_level2_benefits")
      .sheet-row.sheet-level-row.sheet-shaded.sheet-3
        .sheet-level-number
          span.sheet-bold.sheet-font-small 3
        .sheet-level-f
          span.sheet-bold.sheet-font-small 7
        .sheet-level-p
          span.sheet-bold.sheet-font-small 6
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level3_benefits")
          span.sheet-play.sheet-handwritten +1D to Circles in your home town,
          span.sheet-play.sheet-handwritten(name="attr_level3_benefits")
      .sheet-row.sheet-level-row.sheet-4
        .sheet-level-number
          span.sheet-bold.sheet-font-small 4
        .sheet-level-f
          span.sheet-bold.sheet-font-small 14
        .sheet-level-p
          span.sheet-bold.sheet-font-small 12
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level4_benefits")
          span.sheet-play.sheet-handwritten(name="attr_level4_benefits")
      .sheet-row.sheet-level-row.sheet-shaded.sheet-5
        .sheet-level-number
          span.sheet-bold.sheet-font-small 5
        .sheet-level-f
          span.sheet-bold.sheet-font-small 22
        .sheet-level-p
          span.sheet-bold.sheet-font-small 20
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level5_benefits")
          span.sheet-play.sheet-handwritten(name="attr_level5_benefits")
      .sheet-row.sheet-level-row.sheet-6
        .sheet-level-number
          span.sheet-bold.sheet-font-small 6
        .sheet-level-f
          span.sheet-bold.sheet-font-small 31
        .sheet-level-p
          span.sheet-bold.sheet-font-small 30
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level6_benefits")
          span.sheet-play.sheet-handwritten(name="attr_level6_benefits")
      .sheet-row.sheet-level-row.sheet-shaded.sheet-7
        .sheet-level-number
          span.sheet-bold.sheet-font-small 7
        .sheet-level-f
          span.sheet-bold.sheet-font-small 41
        .sheet-level-p
          span.sheet-bold.sheet-font-small 42
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level7_benefits")
          span.sheet-play.sheet-handwritten(name="attr_level7_benefits")
      .sheet-row.sheet-level-row.sheet-8
        .sheet-level-number
          span.sheet-bold.sheet-font-small 8
        .sheet-level-f
          span.sheet-bold.sheet-font-small 52
        .sheet-level-p
          span.sheet-bold.sheet-font-small 56
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level8_benefits")
          span.sheet-play.sheet-handwritten(name="attr_level8_benefits")
      .sheet-row.sheet-level-row.sheet-shaded.sheet-9
        .sheet-level-number
          span.sheet-bold.sheet-font-small 9
        .sheet-level-f
          span.sheet-bold.sheet-font-small 64
        .sheet-level-p
          span.sheet-bold.sheet-font-small 72
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level9_benefits")
          span.sheet-play.sheet-handwritten(name="attr_level9_benefits")
      .sheet-row.sheet-level-row.sheet-10
        .sheet-level-number
          span.sheet-bold.sheet-font-small 10
        .sheet-level-f
          span.sheet-bold.sheet-font-small 78
        .sheet-level-p
          span.sheet-bold.sheet-font-small 98
        .sheet-level-benefits
          textarea.sheet-edit(name="attr_level10_benefits")
          span.sheet-play.sheet-handwritten(name="attr_level10_benefits")
