// LEVEL REQUIREMENTS & BENEFITS
- 
  const levels = [
    {"level": 1, "fate": 0, "persona": 0},
    {"level": 2, "fate": 3, "persona": 3},
    {"level": 3, "fate": 7, "persona": 6},
    {"level": 4, "fate": 14, "persona": 12},
    {"level": 5, "fate": 22, "persona": 20},
    {"level": 6, "fate": 31, "persona": 30},
    {"level": 7, "fate": 41, "persona": 42},
    {"level": 8, "fate": 52, "persona": 56},
    {"level": 9, "fate": 64, "persona": 72},
    {"level": 10, "fate": 78, "persona": 98}
  ];

.sheet-levels-tab
  .sheet-section-header Level Requirements & Benefits
  .sheet-levels-section
    .sheet-table-header
      .sheet-level-number Level
      .sheet-level-f F
      .sheet-level-p P
      .sheet-level-benefits Level Benefits
    each l in levels
      // TODO This should be .sheet-table-row, need to refactor styles to do so
      .sheet-row
        .sheet-level-number #{l.level}
        .sheet-level-f #{l.fate}
        .sheet-level-p #{l.persona}
        .sheet-level-benefits
          .sheet-level-container
            textarea.sheet-edit(name="attr_level" + l.level + "_benefits", placeholder="Add level " + l.level + " benefits...")
            if l.level === 1
              span.sheet-play.sheet-handwritten +1D to Resources in your home town. 
            if l.level === 3
              span.sheet-play.sheet-handwritten +1D to Circles in your home town.  
            span.sheet-play.sheet-handwritten(name="attr_level" + l.level + "_benefits")
