@mixin font-1 {
  font-family: $font_family_1;
  letter-spacing: -1px;
}

@mixin grey-border {
  border-bottom: 1px solid $grey;
}

.ui-dialog .tab-content .charsheet {
  .sheet-section-header {
    @include font-1;

    color: $blue;
    font-size: 20px;
    font-weight: 700;
    font-variant: small-caps;
    letter-spacing: -2px;
    text-shadow: 0 0 2px #bac6e0, 0 0 2px #bac6e0;
    background-image: linear-gradient(to right, rgba(216, 216, 216, 0.6), rgba(238, 222, 222, 0));
    border-radius: 25px;
    padding-left: 8px;
    margin: 10px 0 5px;
  }

  .sheet-header-2 {
    @include font-1;
    @include grey-border;

    font-size: 16px;
    color: $grey;
    font-family: $font_family_1;
    letter-spacing: -1px;
    padding-left: 8px;
    height: 25px;
  }

  .sheet-table-header {
    @include font-1;
    @extend .sheet-table-row;

    font-size: 12px;
    font-weight: bold;
  }

  .sheet-table-row {
    @include grey-border;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    padding: 4px 0;
  }


  .sheet-handwritten {
    font-family: $font_family_2;
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: $blue;
    letter-spacing: normal;
    word-wrap: break-word;
  }

  .sheet-edit {
    resize: vertical;
    border: none;
  }

  .sheet-checkbox {
    transform: scale(1.2);
  }
}