@import 'variables.scss';

/* Condition Checkbox Styling */
.sheet-conditions {
  .sheet-body {
    .sheet-condition {
      position: relative;
    }
    
    .sheet-leftside {
      height: 19px;
      display: inline-block;
      width: 70%;
    }

    .sheet-rightside {
      height: 19px;
      display: inline-block;
      width: 27%;
      position: relative;

      .sheet-complex_roll {
        top: 7px;
      }

      .sheet-simple_roll {
        vertical-align: bottom;
      }
    }

    .sheet-right {
      text-align: right;

      .sheet-complex_roll,
      .sheet-complex_roll + span {
        width: 60px;
      }
    }
  }
}

input[type="checkbox"].sheet-underlined,
input[type="radio"].sheet-underlined {
  position: absolute;
  opacity: 0;
  width: 30px;
  cursor: pointer;
  z-index: 10;

  &:checked + span::before {
    content: "x";
    position: absolute;
    top: -4px;
    left: 11px;
  }
}

.sheet-hidden.sheet-condition-display {
  display: none;
}

input.sheet-condition-flag[value="1"] + .sheet-condition-display {
  display: block;
}

.sheet-warning {
  background-color: $background_yellow;
  border: 1px solid rgba(165, 165, 165, 0.8);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;

  .sheet-skills {
    .sheet-row {
      height: 18px;
    }

    input.sheet-afraid-flag.sheet-condition-flag[value="1"] ~ .sheet-column-skills {
      input.sheet-beginner_luck_flag[value="0"] {
        ~ button,
        ~ input,
        ~ input + span {
          cursor: not-allowed;
          pointer-events: none;
          color: $grey;
        }
      }
    }

    input.sheet-sick-flag.sheet-condition-flag[value="1"] ~ .sheet-column-skills {
      input[type="radio"],
      input[type="radio"] + span {
        cursor: not-allowed;
        pointer-events: none;
        color: $grey;

        &::before {
          background: radial-gradient($grey, $grey);
          border: 1px solid $grey;
        }
      }
    }
  }
}