@import 'variables.scss';
@import 'common.scss';

.ui-dialog .tab-content .charsheet {
  .sheet-relics .repitem:nth-child(2n) {
    background-color: $background_grey;
  }

  .repcontainer {
    margin-bottom: 4px;
  }
}

// Relics
// ------
.ui-dialog .tab-content .charsheet .sheet-relics {
  padding-bottom: 8px;

  .sheet-section-body,
  .sheet-row {
    display: flex;
    gap: 4px;
  }

  .sheet-row {
    border-bottom: 1px solid $grey;
  }

  .sheet-relic-list {
    flex: 1.5;
  }

  .sheet-relic-name {
    flex: 1;
  }

  .sheet-relic-inventory {
    flex: 0.5;
  }

  .sheet-relic-invocation {
    flex: 1.75;
  }

  .sheet-relic-notes {
    flex: 1;
    min-height: 20px;
    height: auto;
  }

  .sheet-urdr-burden-section {
    flex: 0 0 160px;
  }

  .sheet-urdr-boxes,
  .sheet-burden-boxes {
    display: flex;
    gap: 8px;
    padding: 8px;
    flex-wrap: wrap;
  }

  .sheet-edit {
    height: 20px;
    width: 100%;
  }

  .sheet-play {
    font-size: 14px;
  }

  .sheet-handwritten {
    margin-left: 4px;
  }
}

// Magic
// ------

.ui-dialog .tab-content .charsheet .sheet-spells {
  .sheet-spells-title {
    display: flex;
  }

  .sheet-section-header {
    flex: 1;
    height: 29px;
  }

  .sheet-section-body,
  .sheet-row {
    display: flex;
    gap: 4px;
    height: auto;
    min-height: 20px;
  }

  .sheet-memory-palace {
    padding: 8px;
    width: 150px;
  }

  .sheet-spells-section {
    width: calc(100% - 166px);
  }

  .sheet-memory-palace-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .sheet-header-2 {
    margin-bottom: 4px;
  }

  .sheet-spell {

    &-ob,
    &-known,
    &-book,
    &-mem,
    &-cast,
    &-scroll,
    &-supplies {
      text-align: center;
    }

    &-name {
      flex: 4;
    }

    &-ob,
    &-known,
    &-book,
    &-mem,
    &-cast,
    &-scroll,
    &-supplies {
      flex: 1;
    }
  }

  .sheet-row {
    .sheet-spell-ob,
    .sheet-spell-book,
    .sheet-spell-cast,
    .sheet-spell-supplies {
      background-color: $background_grey;
    }

    .sheet-spell-name,
    .sheet-spell-ob,
    .sheet-spell-effect {
      font-size: 14px;

      .sheet-edit {
        width: 100%;
      }
    }

    .sheet-spell-ob {
      .sheet-edit {
        text-align: center;
      }
    }

    .sheet-spell-effect {
      width: 100%;
      min-height: 20px;
      height: auto;
    }
  }
}

// Boxes
// ------

.ui-dialog .tab-content .charsheet .sheet-magic-box {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: $grey;
  order: 1;
  z-index: 1;
  border: 1px solid black;

  &.sheet-magic-box-zero {
    order: 0;
    background-color: white !important;
    border: none;  
    padding-left: 2px;

    font-size: 24px;
    font-weight: normal;
    font-family: $font_family_2;
    position: relative;
    top: 3px;
    text-align: center;
    cursor: pointer;
  }

  &:has(input:checked) {
    z-index: 0;
  }

  &:has(input:checked)~.sheet-magic-box {
    order: 3;
    background-color: transparent;
  }

  input {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
  }
}
