@import './variables.scss';
@import './common.scss';

.ui-dialog .tab-content .charsheet .sheet-relationships-tab {
  [class$="-display"] {
    @extend .sheet-handwritten;
  }

  .sheet-relationship-name-header,
  .sheet-relationship-name-input,
  .sheet-relationship-name-display {
    width: 0;
    min-width: 150px;
    flex-grow: 2;
  }

  .sheet-relationship-location-header,
  .sheet-relationship-location-input,
  .sheet-relationship-location-display {
    width: 0;
    min-width: 150px;
    flex-grow: 2;
  }

  .sheet-relationship-status-header,
  .sheet-relationship-status-input,
  .sheet-relationship-status-display {
    width: 0;
    min-width: 100px;
    flex-grow: 1;
  }

  .sheet-relationship-notes-header,
  .sheet-relationship-notes-input,
  .sheet-relationship-notes-display {
    width: 0;
    min-width: 300px;
    flex-grow: 8;
  }

  .sheet-relationship-notes-input {
    height: 34px;
  }
}