@import 'variables.scss';

/* Tab Styling */
input[type="radio"].sheet-tab {
    opacity: 0;
    position: absolute;
    z-index: 2;
    height: 20px;
}

input[type="radio"].sheet-tab+span {
    position: absolute;
    border: 2px solid rgba(165, 165, 165, 0.8);
    border-radius: 5px 5px 0px 0px;
    background-color: $background_white;
    color: $dark_grey;
    text-align: center;
    font-weight: bold;
}

input[type="radio"].sheet-tab:checked+span {
    color: $white;
    background-color: $blue;
}

@for $i from 1 through 6 {
    input[type="radio"].sheet-tab.sheet-page#{$i}:checked~.sheet-page#{$i} {
        display: block;
    }
}

// TODO Fix the way the tabs are absolutely positioned
input[type="radio"].sheet-tab.sheet-page1,
input[type="radio"].sheet-tab.sheet-page1+span {
    top: -20px;
    left: 0px;
    width: 95px;
}

input[type="radio"].sheet-tab.sheet-page2,
input[type="radio"].sheet-tab.sheet-page2+span {
    top: -20px;
    left: 99px;
    width: 50px;
}

input[type="radio"].sheet-tab.sheet-page3,
input[type="radio"].sheet-tab.sheet-page3+span {
    top: -20px;
    left: 153px;
    width: 60px;
}

input[type="radio"].sheet-tab.sheet-page4,
input[type="radio"].sheet-tab.sheet-page4+span {
    top: -20px;
    left: 217px;
    width: 90px;
}

input[type="radio"].sheet-tab.sheet-page5,
input[type="radio"].sheet-tab.sheet-page5+span {
    top: -20px;
    left: 311px;
    width: 50px;
}

input[type="radio"].sheet-tab.sheet-page6,
input[type="radio"].sheet-tab.sheet-page6+span {
    top: -20px;
    left: 365px;
    width: 65px;
}

input[type="radio"].sheet-tab.sheet-editing,
input[type="radio"].sheet-tab.sheet-editing+span {
    top: -20px;
    right: 79px;
    width: 75px;
}

input[type="radio"].sheet-tab.sheet-playing,
input[type="radio"].sheet-tab.sheet-playing+span {
    top: -20px;
    right: 0px;
    width: 75px;
}

.sheet-tabcontainer {
    width: 1075px;
}