//-
  Generates a repeating fieldset for bonds.
  Expands when clicking the DETAILS label.

  @mixin
  @outputs repeating html fieldset

  @memberof components/bonds

mixin bonds()
  .bond-component
    fieldset.repeating_bonds
      .bond-container
        p.bond-title NAME:
        input.border-bottom.bond-name(type='text' name='attr_bond-name' placeholder='Name')
        label.btn.details-btn
          input.hide.btn-input(type='checkbox' name='attr_details_button')
          .btn-content DETAILS
        
        input.hide.show-bond-info(type='checkbox' name='attr_details')
        .show-bond-info.showhide
          .full-width
            p.bond-title LOCATION:
            input.bond-location.border-bottom(type='text' name='attr_bond-location' placeholder='Location')
          .full-width
            p.bond-title DESCRIPTORS:
            input.bond-descriptors.border-bottom(type='text' name='attr_bond-descriptors' placeholder='Descriptors')
          .full-width
            textarea.bond-notes(name='attr_bond-notes')