include ../fields.pug

mixin skill(skillName, abilityName, fillInTheBlank)
  -
    var skillNameCap = skillName.charAt(0).toUpperCase() + skillName.slice(1);
    var abilityNameCap = abilityName.charAt(0).toUpperCase() + abilityName.slice(1);
    var attrName = skillName.replace(/( |\(|\))/g, '_').replace(/\*/g, '') + (fillInTheBlank || '');

  .skill(style='width: 8.5in;')
    .inlineBlock(style='text-align: center; width: 0.6in;'): +input('checkbox', attrName + '_trained')
    .inlineBlock(style='width: 1.75in;')
      | #{skillNameCap}
      if(fillInTheBlank)
        +labelledUnderlined('')(style='width: 1in;'): +input('text', attrName + '_subskill')
    .inlineBlock(style='width: 0.75in;')
      +labelledUnderlined(''): +readOnlyBox(attrName + '_total')
      .mathOperator =
    .inlineBlock(style='width: 0.75in;')
      +labelledUnderlined(abilityNameCap + ' mod'): +readOnlyBox(abilityName + '_mod')
      .mathOperator +
    .inlineBlock(style='width: 0.75in;')
      +labelledUnderlined('')(style='width: 0.5in;'): +input('number', attrName + '_ranks')
      .mathOperator +
    .inlineBlock(style='width: 0.75in;')
      +labelledUnderlined('')(style='width: 0.5in;'): +input('number', attrName + '_misc')
      .mathOperator +
    +labelledUnderlined('')(style='width: 2.5in;'): +input('text', attrName + '_notes')

.skillsTab
  .skillsHead
    label.inlineBlock(style='width: 0.6in;') Trained?
    label.inlineBlock(style='width: 1.75in;')
    label.inlineBlock(style='width: 0.75in;') Total
    label.inlineBlock(style='width: 0.75in;')
    label.inlineBlock(style='width: 0.75in;') Ranks
    label.inlineBlock(style='width: 0.75in;') Misc
    label.inlineBlock(style='width: 2in;') Notes
  .skillsBody
    +skill('acrobatics', 'dex')
    +skill('appraise', 'int')
    +skill('bluff', 'cha')
    +skill('climb', 'str')
    +skill('craft', 'int', 1)
    +skill('craft', 'int', 2)
    +skill('craft', 'int', 3)
    +skill('craft', 'int', 4)
    +skill('craft', 'int', 5)
    +skill('diplomacy', 'cha')
    +skill('disable device*', 'dex')
    +skill('disguise', 'cha')
    +skill('escape artist', 'dex')
    +skill('fly', 'dex')
    +skill('handle animal*', 'cha')
    +skill('heal', 'wis')
    +skill('intimidate', 'cha')
    +skill('knowledge(arcana)*', 'int')
    +skill('knowledge(dungeoneering)*', 'int')
    +skill('knowledge(engineering)*', 'int')
    +skill('knowledge(geography)*', 'int')
    +skill('knowledge(history)*', 'int')
    +skill('knowledge(local)*', 'int')
    +skill('knowledge(nature)*', 'int')
    +skill('knowledge(nobility)*', 'int')
    +skill('knowledge(planes)*', 'int')
    +skill('knowledge(religion)*', 'int')
    +skill('linguistics*', 'int')
    +skill('perception', 'wis')
    +skill('perform', 'cha', 1)
    +skill('perform', 'cha', 2)
    +skill('perform', 'cha', 3)
    +skill('perform', 'cha', 4)
    +skill('perform', 'cha', 5)
    +skill('profession*', 'cha', 1)
    +skill('profession*', 'cha', 2)
    +skill('profession*', 'cha', 3)
    +skill('profession*', 'cha', 4)
    +skill('profession*', 'cha', 5)
    +skill('ride', 'dex')
    +skill('sense motive', 'wis')
    +skill('sleight of hand*', 'dex')
    +skill('spellcraft*', 'int')
    +skill('stealth', 'dex')
    +skill('survival', 'wis')
    +skill('swim', 'str')
    +skill('use magic device*', 'cha')
  span(style='font-size: 0.8em;') * Trained only
