div.sheet-grid {
  display: inline-grid;
  grid-column-gap: 1%;
  grid-row-gap: 0.5%;
}

%gridRowCol {
  display: inline-grid;
  overflow: hidden;
  grid-auto-rows: min-content;
  grid-column-gap: 1%;
}