div.sheet-header {
	margin-top: 2%;
	border-top: 2px solid $primary;
	border-bottom: 2px solid $primary;
	text-align: center;
	background: $light; /* Old browsers */
	background: -moz-linear-gradient(top,  $light 0%, $secondary 50%, $light 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  $light 0%,$secondary 50%,$light 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  $light 0%,$secondary 50%,$light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$light',GradientType=0 ); /* IE6-9 */
}