//- Core Ironsworn Sheet
include ../../../Ironsworn/src/components/nav/nav-bar
include ../../../Ironsworn/src/components/resources/resources
include ../../../Ironsworn/src/pages/common/vows
include ../../../Ironsworn/src/pages/common/progress
include ../../../Ironsworn/src/pages/common/sites
include ../../../Ironsworn/src/pages/character/summary
include ../../../Ironsworn/src/pages/character/oracles
include ../../../Ironsworn/src/pages/character/settings

//- Supplement Sheet
include ./bonds
include ./moves
include ./assets

- var type = 'character'

.header
  +resources(type)

//- Nav Bar
+navBar(type)

//- Pages
+summaryPage
+vowsPage(type)
+bondsPage(type)
+assetsPage
+movesPage
+progressPage(type)
+oraclesPage
+sitesPage(type)
+settingsPage

//- Footer
include ../../../Ironsworn/src/components/momentum/momentum
