div.sheet-Dictator,
div.sheet-Fool,
div.sheet-Emotion-Knight,
div.sheet-Neo,
div.sheet-Godbinder,
div.sheet-Master,
div.sheet-MasterPC,
div.sheet-NPC,
div.sheet-Fallen
{
    display: none;
}

input[type="radio"][value="1"]:checked ~ div.sheet-Dictator,
input[type="radio"][value="2"]:checked ~ div.sheet-Fool,
input[type="radio"][value="3"]:checked ~ div.sheet-Emotion-Knight,
input[type="radio"][value="4"]:checked ~ div.sheet-Neo,
input[type="radio"][value="5"]:checked ~ div.sheet-Godbinder,
input[type="radio"][value="6"]:checked ~ div.sheet-Master,
input[type="radio"][value="7"]:checked ~ div.sheet-MasterPC,
input[type="radio"][value="8"]:checked ~ div.sheet-NPC,
input[type="radio"][value="9"]:checked ~ div.sheet-Fallen
{
    display: block;
}

.vent-button,
.gifts-button,
.gods-button,
.rules-button,
.cheats-button,
input[type="radio"][value="6"]:checked ~ div button.advancement-button,
input[type="radio"][value="8"]:checked ~ div button.advancement-button,
input[type="radio"][value="9"]:checked ~ div button.advancement-button
{
	display: none;
}

input[type="radio"][value="3"]:checked ~ div button.vent-button,
input[type="radio"][value="4"]:checked ~ div button.gifts-button,
input[type="radio"][value="5"]:checked ~ div button.gods-button,
input[type="radio"][value="7"]:checked ~ div button.rules-button,
input[type="radio"][value="7"]:checked ~ div button.cheats-button
{
	display: inline-block;
}

/*Configure the tab buttons*/
.sheet-basic,
.sheet-advancement,
.sheet-vent,
.sheet-gifts,
.sheet-gods,
.sheet-rules,
.sheet-cheats {
    display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="basic"] ~ div > div.sheet-basic,
.sheet-tabstoggle[value="advancement"] ~ div > div.sheet-advancement,
.sheet-tabstoggle[value="vent"] ~ div > div.sheet-vent,
.sheet-tabstoggle[value="gifts"] ~ div > div.sheet-gifts,
.sheet-tabstoggle[value="gods"] ~ div > div.sheet-gods,
.sheet-tabstoggle[value="rules"] ~ div > div.sheet-rules,
.sheet-tabstoggle[value="cheats"] ~ div > div.sheet-cheats {
    display: block;
}


.sheet-move_radio{
	display:inline-block!important;
}	

/*grid formatting*/
.page1-grid
{
	display: grid;
	grid-template: 7% 15% 13% 1fr 1fr/20% 1fr;
}

.page1-grid-fool
{
	display: grid;
	grid-template: 5% 10% 13% 1fr 1fr/20% 1fr;
}

.page1-grid-knight
{
	display: grid;
	grid-template: 5% 12% 13% 1fr 1fr/20% 1fr;
}

.page1-grid-neo
{
	display: grid;
	grid-template: 5% 12% 13% 1fr 1fr/20% 1fr;
}

.page1-grid-godbinder
{
	display: grid;
	grid-template: 7% 15% 15% 1fr 1fr/20% 1fr;
}

.page1-grid-master
{
	display: grid;
	grid-template: 8% 15% 18% 1fr 1fr/20% 1fr;
}

.page1-header1
{
	grid-column: 1/span 1;
	grid-row: 1/span 1;
}

.header-die-image > img
{
	float: right;
}

.page1-header2
{
	grid-column: 2/span 1;
	grid-row: 1/span 1;
	display: grid;
	grid-template: 1fr/75% 1fr
}

.page1-stats
{
	grid-column: 2/span 1;
	grid-row: 2/span 1;
}

.stat-row2
{
	display: grid;
	grid-template: 1fr/repeat(4, 2fr 1fr);
	align: center;
}

.page1-equip
{
	grid-column: 2/span 1;
	grid-row: 3/span 1;
}

.page1-simple
{
	grid-column: 2/span 1;
	grid-row: 3/span 3;
}

.page1-knight
{
	grid-column: 2/span 1;
	grid-row: 3/span 3;
	display: grid;
	grid-template: 1fr/43% 57%;
}

.paragon-picture
{
	grid-column: 1/span 1;
	grid-row: 2/span 1;
	height: 100%;
	width: 100%;
}

.page1-sidebar
{
	grid-column: 1/span 1;
	grid-row: 3/span 2;
}

.core-mechanic
{
	grid-column: 1/span 1;
	grid-row: 5/span 1;
	width: 100%;
}

.page1-other
{
	grid-column: 2/span 1;
	grid-row: 4/span 2;
}

.page3-NeoUpgrades
{
	font-size:11px;
	padding-left:10px;
}

.emotions
{
	display: grid;
	grid-template: 37% repeat(5, 1fr) 37%/36% repeat(5, 1fr) 37%;
	align-items: center;
}

.emotion-wheel
{
	grid-column: 1/span 7;
	grid-row: 1/span 7;
	width: 100%;
	height: 100%;
}

.page2-grid
{
	display: grid;
	grid-template: 30% 1fr/1fr 1fr;
}

.page2-col1
{
	grid-column: 1/span 1;
	grid-row: 1/span 2;
}

.page2-col2
{
	grid-column: 2/span 1;
	grid-row: 2/span 1;
}

.advancement-grid
{
	display: grid;
	grid-template: repeat(12, 1fr)/15% 7% 6% 14% 5% 5% 6% 4% 5% 16% 2% 15%;
	grid-column: 2/span 1;
	grid-row: 1/span 1;
	align-items: center;
}

.advancement-image
{
	grid-column: 2/span 10;
	grid-row: 1/span 12;
	height: 100%;
	width: 100%;
}

input[type="radio"] 
{
    display: none;
}

/* TEXT FORMATTING */

h1 {
    font-size: 120%;
    font-family: "Tahoma";
    color: black;
    
}

.page1-sidebar > i > p
{
	text-indent: 10px;
}

.black-header
{
	background: #000000;
	color: #FFFFFF!important;
}

.grey-right-text
{
	color: #808080;
	text-align: right;
}

.grey-text
{
	color: #808080;
}

.grey-background
{
	background: #dcdcdc;
}

.god-level
{
	font-size: 40px;
	font-weight: bold;
}

.god-table tr, .cheat-table tr
{
	border-top: 1pt solid black;
}

textarea
{
	height: 50px !important;
}

/* HR line */

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 4px solid #000;
    margin: 1em 0;
    padding: 0;
}

/* Button Formatting */

button.stat-button:before{
  content: ' '!important;
}

button.stat-button
{
	border-style: none;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}

button.stat-button:hover{
    background-color: #d9d9d9;
    border-radius: 10px;
}

/* ROLL TEMPLATE */

.sheet-rolltemplate-die table, .sheet-rolltemplate-fool table {
  border: 0px solid black;
  width: 100%;
}

.sheet-rolltemplate-die td, .sheet-rolltemplate-fool td {
  padding: 5px;
  font-family: "Cardo";
}

.sheet-rolltemplate-die .inlinerollresult {
  color: white;
  font-size: 20px;
}

.sheet-rolltemplate-die .sheet-result {
  width: 95px;
}