include ../../components/assets/assets

mixin assetsPage
  div.page-container
    input(type='radio' name='attr_character_page' class='assets hide' value='5')
    div.assets.showhide
      h3.divide &emsp;ASSETS&emsp;
      +assets