include ../../components/bonds/track
include ../../components/bonds/bonds

div.page-container
  input(type='radio' name='attr_character_page' class='bonds hide' value='3')
  div.bonds.showhide
    h3.divide &emsp;BONDS&emsp;
    +bondsTrack
    +bonds