include ../../components/conditions/conditions

div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-conditions sheet-hide' value='6')
  div.sheet-conditions.sheet-showhide
    h3.sheet-divide &emsp;CONDITIONS&emsp;
    +conditionList({character: true})
    //- Hidden Logic
    input.sheet-hide(type='text' name="attr_encumbered_enabled" value='0')