include ../../components/nav/nav-bar
include ../../components/resources/resources
include ../common/vows
include ../common/bonds
include ../common/progress
include ../common/sites
include ./moves
include ./assets
include ./summary
include ./oracles
include ./settings

- var type = 'character'

//- Header
div.header
  +resources(type)

//- Nav Bar
+navBar(type)

//- Pages
+summaryPage
+vowsPage(type)
+bondsPage(type)
+assetsPage
+movesPage
+progressPage(type)
+oraclesPage
+sitesPage(type)
+settingsPage

//- Footer
include ../../components/momentum/momentum