include ../../components/nav/nav-bar
include ../../components/resources/resources
include ../common/bonds
include ../common/progress
include ../common/sites
include ../common/settings
include ./moves
include ./assets
include ./summary
include ./oracles

- var type = 'character'

.header
  +resources(type)

//- Nav Bar
+navBar(type)

//- Pages
+summaryPage
+bondsPage(type)
+assetsPage
+movesPage
+progressPage(type)
+oraclesPage
+sitesPage(type)
+settingsPage(type)

//- Footer
include ../../components/momentum/momentum