//- Header
include ../../components/header/character

//- Nav Bar
include ../../components/nav/character

//- Pages
include ./summary
include ./vows
include ./bonds
include ./assets
include ./moves
include ./progress
include ./oracles
include ./sites

//- Footer
include ../../components/momentum/momentum