include ../../components/settings/menu

mixin settingsPage
  div.page-container
    input(type='radio' name='attr_character_page' class='settings hide' value='9')
    div.settings.showhide
      h3.divide &emsp;settings&emsp;
      +settings