include ../../components/debilities/debilities

mixin summaryPage
  div.page-container
    input(type='radio' name='attr_character_page' class='summary hide' value='1' checked)
    div.summary.showhide
      include ../../components/stats/character
      include ../../components/misses/track
      h3.divide &emsp;DEBILITIES&emsp;
      +debilityList({character: true})
      include ../../components/notes/notes