include ../../components/conditions/conditions

div.page-container
  input(type='radio' name='attr_character_page' class='summary hide' value='1' checked)
  div.summary.showhide
    include ../../components/stats/character
    include ../../components/misses/track
    h3.divide &emsp;CONDITIONS&emsp;
    +conditionList({character: true})
    include ../../components/notes/notes