include ../../components/conditions/conditions

div.sheet-page-container
  input(type='radio' name='attr_character_page' class='sheet-summary sheet-hide' value='1' checked)
  div.sheet-summary.sheet-showhide
    include ../../components/stats/character
    include ../../components/misses/track
    h3.sheet-divide &emsp;CONDITIONS&emsp;
    +conditionList({character: true})
    include ../../components/notes/notes