include ../../components/debilities/debilities
include ../../components/vows/vow-container

mixin summaryPage
  div.page-container
    input(type='radio' name='attr_character_page' class='summary hide' value='1' checked)
    div.summary.showhide
      include ../../components/stats/character
      include ../../components/misses/track
      h3.divide &emsp;VOWS&emsp;
      div.vows
        if sheetType == 'shared'
          fieldset.repeating_vow
            +repeatingVow()
        else
          each vow in legacyVows
            +vowLegacy(vow)
          fieldset.repeating_vow
            +repeatingVow()
      h3.divide &emsp;DEBILITIES&emsp;
      +debilityList({character: true})
      include ../../components/notes/notes