- var legacyVows = [ 1, 2, 3, 4, 5 ]
include ../../components/vows/vow-container

div.page-container
  input(type='radio' name='attr_character_page' class='vows hide' value='2')
  div.vows.showhide
    h3.divide &emsp;VOWS&emsp;
    div.vows
      each vow in legacyVows
        +vowLegacy(vow)
      fieldset.repeating_vow
        +repeatingVow()