.bio-body
  .appearance
    span.appearance__label(data-i18n="Appearance") Appearance
    .appearance__row
      .appearance__title(data-i18n="Build")
      input.appearance__input(name="attr_build", type="text")
    .appearance__row
      .appearance__title(data-i18n="Eyes")
      input.appearance__input(name="attr_eyes", type="text")
    .appearance__row
      .appearance__title(data-i18n="Hair")
      input.appearance__input(name="attr_hair", type="text")
    .appearance__row
      .appearance__title(data-i18n="Skin")
      input.appearance__input(name="attr_skin", type="text")
  +PersonalityTrait("Misdeeds")
  +PersonalityTrait("Allies & Organizations")
  +PersonalityTrait("Backstory")
  +PersonalityTrait("Backpack")
  +PersonalityTrait("Notes")
