.core-body
  .core-col
    .shields
      .ac
        input.ac__value(name="attr_ac", title="@{ac}", type="number")
        .ac__label(data-i18n="AC") AC
      .speed
        input.speed__value(name="attr_speed", title="@{speed}", type="number")
        .speed__label(data-i18n="Speed") Speed

    .inspprof.inspprof--initiative
      .inspprof__value
        span(name="attr_initiative_bonus", title="@{initiative_bonus}")

      .inspprof__label
        button.inspprof__button(
          type="roll",
          name="roll_initiative",
          value="@{wtype}&{template:simple} {{rname=^{init-u}}} {{mod=@{initiative_bonus}}} {{r1=[[@{initiative_style}+@{initiative_bonus}@{pbd_safe}[INIT] &{tracker}]]}} {{normal=1}} @{charname_output}",
          data-i18n="Initiative"
        ) initative

    each personalityTrait in globalAttributesByCategory.personalityTraits
      +PersonalityTrait(personalityTrait)

    .bounty
      .bounty__image
      .bounty__bounty
        .bounty__label(data-i18n="Bounty")
        input(name="attr_bounty", type="number")

  .core-col.core-col--middle
    include ../panels/Vitals

    .trackers
      include ../panels/Exhaustion
      include ../panels/Knock

    .deathsaves
      include ../panels/DeathSaves

    include ../panels/Equipment

    include ../panels/AttacksSpellcasting

  .core-col.core-col__split
    .abilityscores
      each abilityScore in globalAttributesByCategory.abilities
        +AbilityScore(abilityScore)

    .skillwrap
      +InsProf('Proficiency Bonus')
        span(name="attr_pb", title="@{pb}")

      .savingthrows
        each save in globalAttributesByCategory.abilities
          +SavingThrow(save)

      +InsProf('Inspiration')
        input(type="checkbox", name="attr_inspiration")
        span

      .skills
        div(data-i18n-list="skills-list")
          each skill in globalAttributesByCategory.skills
            +Skill(skill.name, skill.ability)

      +InsProf("Passive Perception")
        span(name="attr_passive_wisdom")

    .coins
      include ../panels/Coins
