input.spellicon_flag(type="hidden", name="attr_spellicon_flag", value!="all")
.spells-body
  .spells
    .spells__features
      include ../panels/Features
      include ../panels/Moves
    .spells__stats
      include ../panels/SpellStats
    .spells__section
      +SpellSection(0, true)
      +SpellSection(1)
    .spells__section
      +SpellSection(2)
      +SpellSection(3)
