- 
  var efforts = [
    { 
      name: 'ADVENTURE MOVES (♣)',
      moves: [
        'FACE DANGER',
        'SECURE AN ADVANTAGE',
        'GATHER INFORMATION',
        'UNDERTAKE A JOURNEY'
      ]
    },
    { 
      name: 'COMBAT MOVES  (♠)',
      moves: [
        'ENTER THE FRAY',
        'STRIKE',
        'CLASH',
        'BATTLE'
      ]
    },
    { 
      name: 'RECOVERY MOVES  (♥)',
      moves: [
        'HEAL',
        'HEARTEN',
        'PATCH EQUIPMENT',
        'RESUPPLY',
        'MAKE CAMP'
      ]
    },
    { 
      name: 'QUEST AND ASSET MOVES (♦)',
      moves: [
        'SWEAR AN IRON VOW',
        'ASSET MOVES'
      ]
    },
    { 
      name: 'DELVE MOVES (♣)',
      moves: [
        'DELVE THE DEPTHS',
        'CHECK YOUR GEAR',
        'ESCAPE THE DEPTHS'
      ]
    },
    { 
      name: 'SUFFER MOVES (♠)',
      moves: [
        'ENDURE HARM',
        'ENDURE STRESS',
        'FACE DEATH',
        'FACE DESOLATION'
      ]
    },
    { 
      name: 'RELATIONSHIP MOVES (♥)',
      moves: [
        'COMPEL',
        'SOJOURN',
        'DRAW THE CIRCLE',
        'FORGE A BOND',
        'TEST YOUR BOND'
      ]
    },
    { 
      name: 'COMPANION MOVES (♥)',
      moves: [
        'ORDER CONDITIONAL COMPANION',
        'STRENGHTEN LOYALTY',
        'TAKE CONDITIONAL COMPANION',
        'TEST THEIR LOYALTY'
      ]
    }
  ]