
<div class="sheet-stats">
  <div class="sheet-stat">
    <button type="roll" title="Roll +Edge" name="rollEdge" value="&amp;{template:Ironcrunch} {{header=@{character_name}}} {{name=Roll +edge}} {{action=[[1d6+@{edge}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}}  {{modifiers=[[@{#{}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{edge}]]}} {{fake_roll=[[0-(@{momentum})]]}} {{momentum_cancel=[[(@{edge}+(?{Modifier|0}))-(@{momentum})]]}}"></button>
    <h3 class="sheet-stats-title">EDGE</h3>
    <input class="sheet-stats-input" type="text" name="attr_edge" placeholder="grace" value=""/>
  </div>
  <div class="sheet-stat">
    <button type="roll" title="Roll +Heart" name="rollHeart" value="&amp;{template:Ironcrunch} {{header=@{character_name}}} {{name=Roll +heart}} {{action=[[1d6+@{heart}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}}  {{modifiers=[[@{#{}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{heart}]]}} {{fake_roll=[[0-(@{momentum})]]}} {{momentum_cancel=[[(@{heart}+(?{Modifier|0}))-(@{momentum})]]}}"></button>
    <h3 class="sheet-stats-title">HEART</h3>
    <input class="sheet-stats-input" type="text" name="attr_heart" placeholder="soul" value=""/>
  </div>
  <div class="sheet-stat">
    <button type="roll" title="Roll +Iron" name="rollIron" value="&amp;{template:Ironcrunch} {{header=@{character_name}}} {{name=Roll +iron}} {{action=[[1d6+@{iron}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}}  {{modifiers=[[@{#{}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{iron}]]}} {{fake_roll=[[0-(@{momentum})]]}} {{momentum_cancel=[[(@{iron}+(?{Modifier|0}))-(@{momentum})]]}}"></button>
    <h3 class="sheet-stats-title">IRON</h3>
    <input class="sheet-stats-input" type="text" name="attr_iron" placeholder="body" value=""/>
  </div>
  <div class="sheet-stat">
    <button type="roll" title="Roll +Shadow" name="rollShadow" value="&amp;{template:Ironcrunch} {{header=@{character_name}}} {{name=Roll +shadow}} {{action=[[1d6+@{shadow}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}}  {{modifiers=[[@{#{}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{shadow}]]}} {{fake_roll=[[0-(@{momentum})]]}} {{momentum_cancel=[[(@{shadow}+(?{Modifier|0}))-(@{momentum})]]}}"></button>
    <h3 class="sheet-stats-title">SHADOW</h3>
    <input class="sheet-stats-input" type="text" name="attr_shadow" placeholder="guile" value=""/>
  </div>
  <div class="sheet-stat">
    <button type="roll" title="Roll +Wits" name="rollWits" value="&amp;{template:Ironcrunch} {{header=@{character_name}}} {{name=Roll +wits}} {{action=[[1d6+@{wits}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}}  {{modifiers=[[@{#{}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{wits}]]}} {{fake_roll=[[0-(@{momentum})]]}} {{momentum_cancel=[[(@{wits}+(?{Modifier|0}))-(@{momentum})]]}}"></button>
    <h3 class="sheet-stats-title">WITS</h3>
    <input class="sheet-stats-input" type="text" name="attr_wits" placeholder="mind" value=""/>
  </div>
</div>