
.sheet-columns {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.sheet-columns > * {
  flex: 1;
}

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}

button[type=roll].sheet-text-button::before { content: '';
   
}

.sheet-main{
   background-color: white; 
}

/* Cabeçalho*/ 

.sheet-table-carac {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    width:900%;
}

.sheet-pj-atributos{
    position:relative;
    top:-20px;
    left:0px;
    
}

.sheet-label{
    font-family: 'Georgia', serif;
    font-size: 10px;
}

.sheet-label-barra{
      font-family: 'Georgia', serif;
    font-size: 20px;
}

.sheet-label-nome-atrib{
    position:relative;
    top:25px;
    left:135px;
    font-style: italic;
    font-size: 8px;
}

.sheet-input{
    width: 100px;
    font-family: 'Georgia', serif;
    font-size: 10px;
    border: 1px solid;
    border-left:1px;
    border-right:1px;
    border-top:1px;
    background-color: none;
    text-align:center;
}

.sheet-label-nome{
    position:relative;
    top:25px;
    left:135px;
    font-style: italic;
    font-size: 8px;
}
.sheet-input-nome{
    position:relative;
    top: -27px;
    left: 0px;
    width: 300px;
   
}

.sheet-label-jogador{
    position:relative;
    top:25px;
    left:125px;
    font-style: italic;
    font-size: 8px;
}
.sheet-input-jogador{
    position:relative;
    top: -27px;
    left: 0px;
    width: 300px;
   
}

.sheet-label-idade{
    position:relative;
    top:10px;
    left:137px;
    font-style: italic;
    font-size: 8px;
}
.sheet-input-idade{
    position:relative;
    top: -42px;
    left: 0px;
    width: 300px;
   
}
.sheet-label-nivel{
    position:relative;
    top:10px;
    left:137px;
    font-style: italic;
    font-size: 8px;
}
.sheet-input-nivel{
    position:relative;
    top: -42px;
    left: 0px;
    width: 300px;
   
}

.sheet-label-profissao{
    position:relative;
    top:0px;
    left:125px;
    font-style: italic;
    font-size: 8px;
}
.sheet-input-profissao{
    position:relative;
    top: -55px;
    left: 0px;
    width: 300px;
}

.sheet-label-xp{
    position:relative;
    top:0px;
    left:125px;
    font-style: italic;
    font-size: 8px;
}
.sheet-input-xp{
    position:relative;
    top: -55px;
    left: 0px;
    width: 300px;
}

.sheet-label-religiao{
    position:relative;
    top:-10px;
    left:130px;
    font-style: italic;
    font-size: 8px;
}
.sheet-input-religiao{
    position:relative;
    top: -65px;
    left: 0px;
    width: 300px;
}

.sheet-label-nascimento{
    position:relative;
    top:-10px;
    left:100px;
    font-style: italic;
    font-size: 8px;
}
.sheet-input-nascimento{
    position:relative;
    top: -65px;
    left: 0px;
    width: 300px;
}

.sheet-image-logo{
    position:relative;
    top: 10px;
    left: 0px;
    width: 300px;
}

/* Atributos */


.sheet-table-name {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    width:520%;
}

.sheet-text-button {
    font-size:100%;
    background:black;
    border:0px;
    color:white;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: right;
}

.sheet-table-valor{
    position:relative;
    top:0px;
    left:75px;
    font-style: italic;
    font-size: 12px;
}

.sheet-table-mod{
    position:relative;
    top:0px;
    left:138px;
    font-style: italic;
    font-size: 12px;
}

.sheet-table-teste{
    position:relative;
    top:0px;
    left:200px;
    font-style: italic;
    font-size: 12px;
}

input[type="number"]{
    border: 1px solid;
    border-left:1px;
    border-right:1px;
    border-top:1px;
    background-color: none;
    text-align:center;
}


.sheet-table-val-con{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
   
}
.sheet-table-mod-con{
    position:relative;
    top:-26px;
    left:105px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}
.sheet-table-teste-con{
    position:relative;
    top:-26px;
    left:153px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}  

.sheet-table-val-for{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
}
.sheet-table-mod-for{
    position:relative;
    top:-26px;
    left:105px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}
.sheet-table-teste-for{
    position:relative;
    top:-26px;
    left:153px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}  

.sheet-table-val-ref{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
}
.sheet-table-mod-ref{
    position:relative;
    top:-26px;
    left:105px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}
.sheet-table-teste-ref{
    position:relative;
    top:-26px;
    left:153px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
} 

.sheet-table-val-agi{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
}
.sheet-table-mod-mob{
    position:relative;
    top:-26px;
    left:105px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}
.sheet-table-teste-mob{
    position:relative;
    top:-26px;
    left:153px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}  

.sheet-table-val-int{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
}
.sheet-table-mod-int{
    position:relative;
    top:-26px;
    left:105px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}
.sheet-table-teste-int{
    position:relative;
    top:-26px;
    left:153px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}  

.sheet-table-val-von{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
}
.sheet-table-mod-von{
    position:relative;
    top:-26px;
    left:105px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}
.sheet-table-teste-von{
    position:relative;
    top:-26px;
    left:153px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}  

.sheet-table-val-per{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
}
.sheet-table-mod-per{
    position:relative;
    top:-26px;
    left:105px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}
.sheet-table-teste-per{
    position:relative;
    top:-26px;
    left:153px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}  

.sheet-table-val-car{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
}
.sheet-table-mod-car{
    position:relative;
    top:-26px;
    left:105px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}
.sheet-table-teste-car{
    position:relative;
    top:-26px;
    left:153px;
    font-style: bold;
    font-size: 12px;
    text-align:center;
}  

.sheet-table-total-atrib{
    position:relative;
    top:-26px;
    left:66px;
    font-style: italic;
    font-size: 12px;
    text-align:center;
}

.sheet-pj-pericias{
    position:relative;
    top:-497px;
    left:300px;    
    
}

.sheet-table-pericias {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    width:1094%;
}

.sheet-rolltemplate-mutação-iniciativa{
    width: 100%;
    padding: 2px;
    background-color:white;
    border: 1px solid;
    border-left:1px;
    border-right:1px;
    border-radius:5px;
}

.sheet-rolltemplate-mutação-iniciativa th {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-iniciativa .sheet-roll1 {
    color: black;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-iniciativa .sheet-roll2 {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.6em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-atributo{
    width: 100%;
    padding: 2px;
    background-color:white;
    border: 1px solid;
    border-left:1px;
    border-right:1px;
    border-radius:5px;
}

.sheet-rolltemplate-mutação-atributo th {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-atributo .sheet-roll1 {
    color: black;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-atributo .sheet-roll2 {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.6em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-dano{
    width: 100%;
    padding: 2px;
    background-color:white;
    border: 1px solid;
    border-left:1px;
    border-right:1px;
    border-radius:5px;
}

.sheet-rolltemplate-mutação-dano th {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-dano .sheet-roll1 {
    color: black;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-dano .sheet-roll2 {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.6em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-ataque{
    width: 100%;
    padding: 2px;
    background-color:white;
    border: 1px solid;
    border-left:1px;
    border-right:1px;
    border-radius:5px;
}

.sheet-rolltemplate-mutação-ataque th {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-ataque .sheet-roll1 {
    color: black;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-ataque .sheet-roll2 {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.6em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-defesa{
    width: 100%;
    padding: 2px;
    background-color:white;
    border: 1px solid;
    border-left:1px;
    border-right:1px;
    border-radius:5px;
}

.sheet-rolltemplate-mutação-defesa th {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-defesa .sheet-roll1 {
    color: black;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}

.sheet-rolltemplate-mutação-defesa .sheet-roll2 {
    color: grey;
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 0.6em;
    text-align: center;
    font-family: 'Georgia', serif; serif;
    font-style: italic;
}