.sheet-block-a,
.sheet-block-switch:checked ~ .sheet-block-b {
    display: block;
}

.sheet-block-b,
.sheet-block-switch:checked ~ .sheet-block-a {
    display: none;
}

.sheet-talents-container input[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    cursor: pointer;
    z-index: 1;
}

.sheet-talents-container input[type="checkbox"] + span::before {
    font-family: Pictos, serif;
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "+";
    width: 14px;
    height: 14px;
    font-size: 12px;
}

.sheet-talents-container input[type="checkbox"]:checked + span::before {
    content: "-";
    font-family: Pictos, serif;
}

.sheet-header {
    font-size: 18px;
    text-align: center;
}

.sheet-header-minor {
    font-size: 15px;
}

.sheet-line {
    width: 100%;
    height: 2px;
    background: black;
}

.sheet-info {
    width: 500px;
    display: grid;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px [col] 100px;
}

.sheet-img-name {
    width: 300px;
}

.sheet-img-name div {
    display: flex;
    flex-direction: column;
}

.sheet-img-name div span {
    align-self: center;
}

.sheet-img-name div input {
    width: 100%;
}

.sheet-info div {
    display: flex;
    flex-direction: column;
}

.sheet-info div input {
    width: 100%;
}

button[type="roll"].sheet-text-button::before {
    content: "";
}

button[type="roll"].sheet-text-button {
    background-color: transparent;
    border: none;
    /*line-height: 12px;*/
    background-image: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: bold;
    text-align: left;
}

button[type="roll"].sheet-text-big {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.sheet-section-attributes-and-skills {
    display: flex;
}

.sheet-attributes {
    font-size: 30px;
    width: 100%;
}

.sheet-attributes-container {
    width: 100%;
    margin-right: 10px;
}

.sheet-attributes div {
    display: flex;
    height: 40px;
}

.sheet-attributes input[type="number"] {
    font-size: 30px;
    width: 1.75em;
    border: 0;
    margin: 0 20px 0 10px;
}

.sheet-combat-ability-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sheet-combat-ability-entry input {
    text-align: center;
}

.sheet-combat-ability-entry div {
    display: flex;
}

.sheet-talents-container {
    display: grid;
    grid-template-columns: [col] auto [col] 0 [col] 30px [col] 40px;
    grid-auto-flow: dense;
}

.sheet-talents-block {
    grid-column: col 1;
}

.sheet-talents-check {
    grid-column: col 2;
}

.sheet-talents-check2 {
    grid-column: col 3;
}
.sheet-talents-button {
    grid-column: col 4;
}

.sheet-talents-container div {
    max-width: 330px;
}

.sheet-talents-container input[type="text"] {
    width: 330px
}

.sheet-talents-container button {
    font-family: 'Pictos', serif;
    height: 22px;
    border: none;
    background: none;
    padding: 0;
}

.sheet-talents-container button[type="roll"]::before {
    content: "";
}
.sheet-talents-container textarea {
    height: 60px;
    width: 380px;
}

.sheet-talents {
    flex: 1;
    margin-right: 10px;
}

.sheet-currency {
    display: flex;
    justify-content: space-around;
}

.sheet-currency div {
    display: flex;
    flex-direction: column;
}

.sheet-natural-awareness {
    text-align: right;
}

.sheet-section-abilities {
    display: flex;
}

.sheet-section-abilities > div {
    margin-right: 10px;
    flex-grow: 1;
}

.sheet-section-wounds {
    display: flex;
}

.sheet-section-talents-wounds {
    display: flex;
}

.sheet-wounds-tracker {
    display: flex;
    text-align: center;
}

.sheet-wounds-tracker *{
    width: 90px;
}

.sheet-wounds-counter {
    width: 170px;
    margin-right: 10px;
}

.sheet-wounds-counter div {
    margin-bottom: 5px;
}

.sheet-death-saves {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.sheet-death-saves div {
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: space-between;
}

.sheet-wound-selection {
    width: 80px;
}

.sheet-death-test-checkbox {
    margin-left: 30px;
}

.sheet-archetype {
    grid-column: col / span 3;
}

.sheet-species {
    grid-column: col 4 / span 2;
}

.sheet-age {
    grid-column: col / span 1;
}

.sheet-eyes {
    grid-column: col 2 / span 1;
}

.sheet-hair {
    grid-column: col 3 / span 1;
}

.sheet-height {
    grid-column: col 4 / span 1;
}

.sheet-weight {
    grid-column: col 5 / span 1;
}

.sheet-dist-features {
    grid-column: col / span 4;
}

.sheet-xp {
    grid-column: col 5/ span 1;
}

.sheet-section-character {
    display: flex;
    flex-direction: row;
}

.sheet-skills {
    display: grid;
    grid-template-columns: 170px 70px 70px;
}

.sheet-desc {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.sheet-desc button[type="roll"].sheet-text-button {
    font-size: 13px;
}

.sheet-attribute-select {
    width: 60px;
    margin-left: auto;
}

.sheet-skills-list {
    display: flex;
}

.sheet-combat-mel-acc-def {
    display: grid;
    grid-template-columns: 100px 20px 20px 20px;
}

.sheet-combat-abilities {
    display: flex;
}

.sheet-combat-misc button[type="roll"] {
    text-align: center;
    font-size: 13px;
}

.sheet-combat-misc {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto;
}

.sheet-combat-misc-bonus {
    display: grid;
    grid-template-columns: auto auto auto;
}

.sheet-section-gear {
    display: flex;
}

.sheet-section-gear > div {
    margin-right: 10px;
}

.sheet-gear {
    width: 210px;
}

.sheet-weapons {
    display: grid;
    grid-template-columns: 250px 40px 70px 70px 70px auto;
}

.sheet-weapon-focus .sheet-cover {
    width: 70px;
    height: 40px;
    background: transparent;
    position: absolute;
    z-index: 2;
    display: block;
}

.sheet-spells {
    display: grid;
    grid-template-columns: 210px 55px 75px 100px 75px 100px auto
}

.sheet-spells input {
    height: 28px;
}

.sheet-spells button[type="roll"] {
    height: 22px;
}

.sheet-colon-separator {
    text-align: center;
}

.sheet-colon-separator-left {
    margin-left: auto;
}

input[type=number]:disabled {
    -moz-appearance: textfield;
}

.sheet-no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sheet-no-spin {
    -moz-appearance: textfield;
}

input[type="number"].sheet-small-digit {
    width: 2em;
}

.sheet-spells-target {
    width: 100px;
}

.sheet-spells-range {
    width: 75px;
}

.sheet-spells-duration {
    width: 100px;
}

.sheet-spells-modifier {
    width: 3em;
}

.sheet-miracles {
    display: grid;
    grid-template-columns: 210px 55px 75px 100px 75px 100px auto
}

.sheet-miracles input {
    height: 28px;
}

.sheet-miracles button[type="roll"] {
    height: 22px;
}


.sheet-miracle-target {
    width: 100px;
}

.sheet-miracle-range {
    width: 75px;
}

.sheet-miracle-cost {
    width: 75px;
}

.sheet-miracle-duration {
    width: 100px;
}

.sheet-equipment {
    display: grid;
    grid-template-columns: 75px auto;
}

.sheet-fluff-info {
    height: 60px;
}

.sheet-miracle-effect {
    width: 210px;
    height: 40px;
}

.sheet-spells-effect {
    width: 210px;
    height: 40px;
}

.sheet-text-area {
    padding: 0;
}