.options {
  $this: '.options';
  position: relative;
  grid-template-columns: 1fr auto;
  grid-auto-rows: minmax(2rem, auto);
  gap: $grid-gutter;

  &__main {
    display: grid;
    gap: $grid-gutter;
    grid-template-columns: 1fr auto;
    // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__col {
    flex: 1;

    display: grid;
    gap: $grid-gutter-row 0;
    grid-template-rows: auto, 1fr;
  }

  .option {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--panel-background);
    gap: $grid-gutter-row 0;
    padding: $p-lg;

    &__dropdowns {
      display: flex;
      gap: $grid-gutter;
      &--horizontal {
        @extend .option__dropdowns;
        flex-direction: row;
      }
    }

    &__dropdown {
      width: 10em;
    }

    .options-hide[value='0'] {
      ~ .option__dropdown {
        display: none !important;
      }
    }
  }

  .a-heartfelt-word {
    width: 250px;
    padding: $p-lg;
    border-radius: 0px;

    text-align: start;
    background-color: $blue-dark;
    color: $white;
    font-weight: 700;
  }

  .sheet-version {
    color: $white;
    text-align: end;

    > span[name] {
      // opacity: 0.5;
      font-family: $font-handwritten;
      &::before {
        content: 'v';
      }
    }
  }
}
