.sheet-npc-text,
.sheet-player-text,
.sheet-pc,
.sheet-npc 
{
    display: none;
}

.sheet-npc-toggle[value="0"] ~ .sheet-wrapper .sheet-row .sheet-col .sheet-player-npc-button span.sheet-player-text,
.sheet-npc-toggle[value="0"] ~ .sheet-pc,
.sheet-npc-toggle[value="1"] ~ .sheet-wrapper .sheet-row .sheet-col .sheet-player-npc-button span.sheet-npc-text,
.sheet-npc-toggle[value="1"] ~ .sheet-npc
{
    display: block;
}

.sheet-player-npc-button {
  width:50px;
  height:20px;
  text-align: center;
  border-radius: 12px;
  background: white;
  border: 1px solid #ccc;
  float:right;
  margin-right:10px;
}

.sheet-npc-toggle[value="1"] ~ .sheet-wrapper .sheet-row .sheet-col .sheet-player-npc-button {
  background:#af2626;
  color:white;
}

.sheet-left-align-button-div {
  width:calc(100% - 64px);
  margin-bottom:15px;
}

div.sheet-tab-content { display: none; }

input.sheet-tab-advantages-disadvantages:checked ~ div.sheet-tab-advantages-disadvantages,
input.sheet-tab-skills:checked ~ div.sheet-tab-skills,
input.sheet-tab-school:checked ~ div.sheet-tab-school,
input.sheet-tab-techniques:checked ~ div.sheet-tab-techniques,
input.sheet-tab-equipment:checked ~ div.sheet-tab-equipment,
input.sheet-tab-20-qs:checked ~ div.sheet-tab-20-qs {
  display: block;
}

input.sheet-tab
{
  width: calc((100% - 231px) / 5);
  height: 20px;
  position: relative;
  left: 6px;
  margin: -1.5px -0.5px -2.5px -0.5px;
  cursor: pointer;
  z-index: 1;
  line-height: 20px;
}

input.sheet-tab::before {
  content: attr(title);
  text-align: center;
  display: inline-block;
  background: #bbb;
  width: 100%;
  height: 20px;
  font-size: 13px;
  color:black;
}

input.sheet-tab-advantages-disadvantages::before {
    width: 205px;
    margin-left: 0.5px;
} 

input.sheet-tab-advantages-disadvantages {
  margin-right: -0.5px;
}

input.sheet-tab:checked::before {
  background: #fff;
  border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child)::before {
  border-left: none;
}

input.sheet-tab-20-qs::before {
  border-right: none;
}

input.sheet-tab-input:checked::before {
  background: #dcdcdc;
  background: -moz-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  background: -webkit-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  background: -ms-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  background: -o-linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  background: linear-gradient(to top, #fcecec, #f8c8c8, #fcecec);
  border-bottom-color: #fcecec;
}

div.sheet-tab-content
{
  border: 1px solid #b7b7b7;
  border-top-color: #000;
  margin: 2px 0 0 5px;
  padding: 5px;
}

div.sheet-tab-input
{
  background-color: #fcecec;
}

/* character sheet styles */
.charsheet {
  background-color: white;
}

.charsheet .sheet-bio-info-col {
  width: 230px;
}

.charsheet .sheet-bio-info-col .sheet-row {
    height: 38px;
}

.charsheet .sheet-bio-info-col .sheet-row {
  width: 230px;
  height: 38px;
  position: relative;
  left: 6px;
  margin: -1.5px;
  margin-bottom: 1px;
  cursor: pointer;
  z-index: 1;
}

.charsheet .sheet-bio-info-col .sheet-row .sheet-bio-label {
    font-size: 9px;
    margin-bottom: 5px;
    height: 38px;
    padding: 3px;
    width: 225px;
}

.sheet-family-bio-select,
.sheet-clan-bio-select {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid black;
  border-radius: 0px;
  font-size: 11px;
  margin: 3px 0 0 0;
  height: 22px;
}

.sheet-family-bio-select {
  width: 100%;
  padding: 0px;
}

.charsheet .sheet-bio-info-col .sheet-row .sheet-left-label {
  float:left;
}

.charsheet .sheet-bio-info-col .sheet-row .sheet-right-label,
.charsheet .sheet-bio-info-col .sheet-row .sheet-left-label {
    margin-bottom: -5px;
    height: 38px;
}

.charsheet .sheet-bio-info-col .sheet-row .sheet-bio-label input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;    
    border-radius: 0px;
    display: inline-block;
    padding: 3px;
    padding-top:6px;
    padding-bottom: 0px;
}

.charsheet .sheet-bio-info-col .sheet-row .sheet-bio-padding-label {
  padding: 3px 0 3px 0;
}

.sheet-wrapper .sheet-bio-info-col .sheet-row .sheet-bio-label > span
{
    margin-left: 3px;
}

.sheet-wrapper .sheet-hgs-col 
{
  padding-left: 10px;
  width: 60px;
}

.sheet-no-arrows::-webkit-inner-spin-button, 
.sheet-no-arrows::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sheet-text-center-aligned {
  text-align: center;
}


.sheet-hgs-label input[type=number]
{
    height: 42px;
    width: 42px;
    font-size: 20px;
    padding-top: 6px;
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/L5R%205th%20Edition%20Unofficial/images/circle-l5r.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
    border: none;
    color: black;
}

.sheet-wrapper .sheet-additional-info-col 
{
    border: none;
    display: inline-block;
    width: calc(100% - 310px);
}

/* Five image containers */
.sheet-col-images {
    float: left;
    width: calc((100% - 50px)/5);
    padding: 5px;
}
  
  /* Clear floats after image containers */
  .sheet-row::after {
    content: "";
    clear: both;
    display: table;
}

.sheet-wrapper .sheet-additional-info-col .sheet-element-images-row {
    height:130px;
    position: relative;
    top:-8px;
}

.sheet-wrapper .sheet-additional-info-col .sheet-row .sheet-col-images img {
    display:inline-block;
    max-width: 96px;
}

.sheet-wrapper .sheet-additional-info-col .sheet-row .sheet-col-images {
    padding: 0 5px 0 5px;
    height: 130px;
    top: -20px;
    text-align: center;
}

.sheet-wrapper .sheet-additional-info-col .sheet-row .sheet-col-images .sheet-element-label {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-size:22px;
}

.sheet-wrapper .sheet-additional-info-col .sheet-row .sheet-col-images input[type=number] {
    height: 42px;
    width: 42px;
    font-size: 20px;
    padding-top: 6px;
    text-align: center;
    background: transparent;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/L5R%205th%20Edition%20Unofficial/images/circle-l5r-filled.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px;
    border: none;
    color: black;
    position: relative;
    top: -30px;
}

.sheet-wrapper .sheet-additional-info-col .sheet-col .sheet-row .sheet-point-label {
    height: 43px;
    margin:0px;
    padding-right:5px;
}

.sheet-wrapper .sheet-additional-info-col .sheet-col .sheet-row .sheet-void-label {
    height: 30px;
    text-align: center;
}

.sheet-wrapper .sheet-additional-info-col .sheet-col .sheet-row .sheet-point-label input[type=number],
.sheet-wrapper .sheet-additional-info-col .sheet-col .sheet-row .sheet-col input[type=number] {
    width:43px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    color:black;
}

.sheet-wrapper .sheet-additional-info-col .sheet-col .sheet-row .sheet-col {
    width:43px;
    height: 35px;
    font-size: 20px;
    text-align: center;
}

.sheet-wrapper .sheet-additional-info-col .sheet-col .sheet-row .sheet-col > span {
    font-size: 9px;
    position:relative;
    top:-10px;
}

.itemcontrol {
  z-index: 1;
}


/* Start Advantages and Disadvantages */
.sheet-wrapper .sheet-row .sheet-col-textarea {
    width:49%;
}

.sheet-wrapper .sheet-row .sheet-col-textarea-full {
    width:98%;
}

.sheet-wrapper .sheet-row .sheet-col-textarea .sheet-row-textarea {
    margin:0 10px 0 10px;
}

.sheet-wrapper .sheet-row .sheet-col-textarea .sheet-row-textarea textarea {
    resize: vertical;
    height: 100px;
}

.sheet-wrapper .sheet-row .sheet-col-textarea .sheet-row-textarea-personality textarea {
    height: 200px;
}

.sheet-wrapper .sheet-row .sheet-col-textarea .sheet-row label {
    margin: 0 0 0 12px;
}

.sheet-wrapper .sheet-row .sheet-col-textarea-full .sheet-row label {
    margin: 0;
    text-align: center;
}
/* Ended Advantages and Disadvantages */

/* Start Skills */
.sheet-col-stance {
  float: left;
  width: calc((100% - 50px)/5);
  padding: 5px;
}

.sheet-row::after {
  content: "";
  clear: both;
  display: table;
}

.sheet-wrapper .sheet-stances-row {
  margin: 7px 0 7px 0;
}

.sheet-wrapper .sheet-stances-row label {
  text-align: center;
  margin-bottom: 0px;
}

.sheet-wrapper .sheet-stances-row label .sheet-stances-header {
  font-size: 22px;
}

.sheet-wrapper .sheet-stances-row label .sheet-stances-text {
  font-size: 10px;
  position:relative;
  top:-2px;
}

.sheet-wrapper .sheet-stances-row .sheet-col-stance {
  padding: 3px;
}

.sheet-wrapper .sheet-stances-row .sheet-col-stance img {
  width: 22%;
  float: left;
}

.sheet-wrapper .sheet-stances-row .sheet-col-stance::after {
  content: "";
  clear: both;
  display: table;
}

.sheet-wrapper .sheet-stances-row .sheet-col-stance .sheet-col-stance-label {
  margin-left: 25%;
  width: 77%;
}

.sheet-wrapper .sheet-stances-row .sheet-col-stance .sheet-col-stance-label .sheet-stance-header-label {
  width:fit-content;
  font-size: 12px;
  padding: 0px;
  text-align: left;
  background:none;
  color:inherit;
  border:none; 
  font-weight: bold;
}

.sheet-wrapper .sheet-stances-row .sheet-col-stance .sheet-col-stance-label .sheet-stance-header-label::before { 
  content: ''; 
}

.sheet-wrapper .sheet-stances-row .sheet-col-stance .sheet-col-stance-label .sheet-stance-header-label:hover { 
  color:red;
}

.sheet-wrapper .sheet-stances-row .sheet-col-stance .sheet-col-stance-label .sheet-stance-header-text {
  font-size: 10px;
  padding: 0px;
  text-align: left;
  line-height: 1;
}

.sheet-skill-select-ring {
  margin: 0 0 3px 0;
  width: calc(100% - 6px);
}

.sheet-skills-row .sheet-skills-col {
  width: 49%;
}

.sheet-skills-row .sheet-skills-col .sheet-skill-row h3 {
  text-align: center;
  padding-right: 30%;
}

.sheet-skill-table {  
  border-collapse: collapse; 
  border-spacing: 0; 
  width:100%; 
}

.sheet-skill-div-header {
  font-weight: bold;
}

.sheet-skill-div-field-name {
  width: 42%;
}

.sheet-skill-div-field-name > span {
  line-height: 25px;
  white-space: nowrap;
}

.sheet-skill-div-field-select {
  vertical-align: top;
  width: 23%;
}

.sheet-skill-div-field-input {
  vertical-align: top;
  width: 10%;
  margin: 0px 1px 1px 1px;
  text-align:center;
}

.sheet-skill-div-field-input input[type=number] {
  width: 100%;
  text-align:center;
}

.sheet-skill-div-field-roll {
  vertical-align: top;
  position: relative;
  width: 25px;
}

.sheet-skill-div-field-roll button[type=roll] {
  margin: 0px;
}

.sheet-skills-div-header-name {
  width: 43%;
}

.sheet-skills-div-header-appoarch {
  width: 22%;
}

.sheet-skills-div-header-bonus {
  width:10%;
}

.sheet-skills-div-header-rank {
  width:11%;
}

.sheet-skill-group-col {
  width: calc(79% - 4px);
}

.sheet-skills-row .sheet-skills-col .sheet-skill-row .sheet-skill-table,
.sheet-skills-row .sheet-skills-col .sheet-skill-row .sheet-col-repeating {
  width: 100%;
}

.sheet-skills-row .sheet-skills-col .sheet-skill-row::after {
  content: "";
  clear: both;
  display: table;
}

.sheet-skills-row .sheet-skills-col .sheet-skill-row .sheet-col-approaches {
  margin-top: 20px;
  width: 21%;
}

.sheet-skills-row .sheet-skills-col .sheet-skill-row .sheet-col-approaches .sheet-row .sheet-approach-label {
  padding: 0px;
  margin-bottom: 3px;
}

.sheet-skills-row .sheet-skills-col .sheet-skill-row .sheet-col-approaches .sheet-row .sheet-approach-label span {
  font-size: 10px;
  margin-left: 3px;
}

.sheet-skills-row .sheet-skills-col .sheet-skill-row .sheet-col-approaches .sheet-row .sheet-approach-label img {
  display:inline-block;
  max-width: 23px;
}

.sheet-extra-div {
  display:inline-block;
  padding: 0 10px 0 10px;
}

.sheet-extra-skill-button,
.sheet-extra-ring-button {
  width: 32px;
  height: 32px;
  background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/L5R%205th%20Edition%20Unofficial/images/die_symbol_explosive_success.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color:white;
  background-size: 30px;
  border: 0.5px solid black;
  border-radius:5px;
  color: transparent;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  color: black;
  width: 128px;
  background-position-x: left;
  background-position: 4px;
  padding-bottom: 3px !important;
}

.sheet-extra-skill-button::before,
.sheet-extra-ring-button::before {
  color:transparent;
  font-size:0px;
}

.sheet-extra-skill-button > span,
.sheet-extra-ring-button > span {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0 0 25px;
}

.sheet-extra-skill-button {
  background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/L5R%205th%20Edition%20Unofficial/images/d12-8.png);
}

.sheet-extra-ring-button {
  background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/L5R%205th%20Edition%20Unofficial/images/d6-4.png);
}

.sheet-extra-skill-button:hover,
.sheet-extra-ring-button:hover {
  background-color:#f1eded;
}

/* four image containers */
.sheet-col-symbol {
  float: left;
  width: calc((100% - 100px)/4);
  padding: 5px 10px 5px 10px;
  text-align: center;
}

/* Clear floats after image containers */
.sheet-row::after {
  content: "";
  clear: both;
  display: table;
}

.sheet-col-symbol img {
  width: 50%;
}

.sheet-col-symbol label {
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 14px;
}

/* Ended Skills */

/* Start School */

div.sheet-tab-school
{
  border: 1px solid #b7b7b7;
  border-top-color: #000;
  margin: 2px 0 0 5px;
  padding: 5px;
}

.sheet-wrapper .sheet-row .sheet-col .sheet-xp-col 
{
  width: 75px;
}

.sheet-wrapper .sheet-row .sheet-col .sheet-xp-col .sheet-xp-label
{
    text-align: center;
}

.sheet-wrapper .sheet-row .sheet-col .sheet-xp-col .sheet-xp-label input[type=number]
{
    height: 58px;
    width: 58px;
    font-size: 20px;
    padding-top: 6px;
    margin: 5px 0 5px 0;
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/L5R%205th%20Edition%20Unofficial/images/circle-l5r.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 58px;
    border: none;
    color: black;
}

.sheet-school-xp-table {
  width: 100%;
  font-size:0px;
}

.sheet-school-textarea-square {
  margin: 2px 2px 0 2px;
  width: calc(100% - 16px);
  height: 40px;
  resize: vertical;
}

.sheet-simple-gray-border {
  border: 0.5px solid #b7b7b7;
}

.sheet-no-right-border {
  border-right: 0px;
}

.sheet-no-top-border {
  border-top: 0px;
}

.sheet-school-xp-table > div {
  text-align: center;
  width:32%;
  font-size:12px;
  vertical-align: top;
}
.sheet-school-xp-table > div > div {
  height:20px;
  line-height: 20px;
  vertical-align: middle;
}

.sheet-school-div-header {
  background-color: #b7b7b7;
  font-weight: bold;
  color: black;
}

.sheet-wrapper .sheet-row .sheet-school-ranks-col {
  width: 31%;
  margin: 0 5px 0 5px;
}    

.sheet-wrapper .sheet-row .sheet-school-more-width {
  width: 48%;
}


.sheet-wrapper .sheet-row .sheet-school-ranks-col .sheet-school-repeating-table {
  margin-top: 0px;
  width: calc(100% + 1px);
}


.sheet-school-rank-table {
  margin-top: 10px;
  width: 100%;
  font-size: 0px;
}    

.sheet-div-rank-field-name,
.sheet-div-rank-field-spent {
  vertical-align: top;
  height:24.5px;
}

.sheet-div-rank-field-name {
  width:calc(100% - 52px);
}

.sheet-div-rank-field-spent {
  width:50px;
}

.sheet-div-rank-field-spent > input,
.sheet-div-rank-field-name > input {
  width:100%;
  border:none;
  margin-left:1px;
  height: 24px;
  border-radius:0px;
}

.sheet-div-rank-field-spent > input[type=number],
.sheet-div-rank-field-name > input[type=number] {
  width:96%;
  border:none;
  margin-left:1px;
  height: 24px;
  border-radius:0px;
  text-align:center;
}

.sheet-school-rank-div-header {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.sheet-div-sub-header-small,
.sheet-div-sub-header {
  color: black;
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  padding-top: 5px;
}

.sheet-div-school-gray {
  background-color: #b7b7b7;
}

.sheet-div-school-exp-text > span,
.sheet-div-sub-header > span {
  padding-left: 5px;
  white-space: nowrap;
}

.sheet-div-sub-header-small {
  font-size: 10px;
  width: 50px;
  text-align: center;
}

.sheet-div-school-exp-text {
  height: 24.5px;
  font-size: 10px;
  line-height: 25px;
  text-align: left;
}

.sheet-div-mastery-ability {
  width: 100%;
}

.sheet-div-mastery-ability-box .sheet-mastery-ability-box {
  resize: none;
  width: calc(100% - 2px);
  height: 99%;
  padding: 0px;
  margin-bottom: 0px;
  border: none;
  text-indent: 4px;
  margin-left: 1px;
}

.sheet-div-mastery-ability-box {
  height: 250px;
}

.sheet-div-ea {
  width:calc(70% - 3px);
} 

.sheet-div-ea-small {
  width:15%;
}

.sheet-div-title-mastery-ability {
  width: 100%;
}


.sheet-div-title-mastery-ability-box .sheet-title-mastery-ability-box {
  width: calc(100% - 2px);
  height: 120px;
  padding: 0px;
  margin-left: 1px;
  margin-bottom: 1px;
  border: none;
  resize: vertical;
  text-indent: 4px;
}

.sheet-div-title-mastery-ability-box {
  padding-top: 1px;
  width:calc(100% - 2px);
}

/* End School */

/* Start Techniques 
  color: black;*/

  .sheet-technique-types {
    text-align: center;
    margin-bottom:3px;
  }
  
  .sheet-technique-type {
    padding:4px 0px 2px 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    height:12px;
    cursor: pointer;
  }

  .sheet-technique-checkbox {
    font-size: 11px;
    line-height: 11px;
  }

  .sheet-technique-checkbox-span {
    text-align: center;
    border: 1px solid #b7b7b7;
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 2px 3px 2px 3px;
    background: white;
    font-style:italic;
    color: #615f5f;
  }
  
  .sheet-technique-checkbox:checked + span {
    background-color:#b7b7b7;
    color:black;
    font-style:normal;
  }
  
  .sheet-technique-type input[type=checkbox] {
    display: none;
  }
  
  
.sheet-techniques-col {
  width: 47%;
  margin: 0 5px 0 5px;
}    

.sheet-techniques-sub-header,
.sheet-techniques-header {
  font-size: 20px;
  font-weight: bold;
  white-space:nowrap;
  color: black;
}

.sheet-techniques-sub-header {
  font-size: 16px;
}

.sheet-techniques-input-fields {
  border: 0px solid #b7b7b7;
  border-bottom-width: 1px;
  border-radius: 0px;
}

.sheet-techniques-box {
  width: 99%;
  height: 70px;
  padding: 0px;
  margin-bottom: 0px;
  resize: vertical;
  text-indent: 4px;
}

.sheet-techniques-box-activation {
  width: calc(100% - 4px);
  padding-top: 2px;
  height: 40px;
}

.sheet-techniques-table {
  padding: 1px 4px 0px 4px;
  border: 0.5px solid #b7b7b7;
  margin-top: 5px;
}

.sheet-technique-roll-button {
  width: calc(100% - 16px);
  height: 20px;
}

.sheet-technique-roll-button::before {
  font-size: 0px;
}

.sheet-print-technique {
  font-size: 12px;
  line-height: 20px;
}

/* End Techniques */


/* Start Equipment */

.sheet-div-equipment-gray {
  background-color: #b7b7b7;
}

.sheet-weapon-armor-equipment-header {
  font-size: 22px;
  font-weight: bold;
  color: black;
  white-space:nowrap;
}

.sheet-wrapper .sheet-row .sheet-equipment-col {
  width: 47.4%;
  margin: 0 5px 0 5px;
}    

.sheet-equipment-table {
  margin-top: 10px;
  width: 100%;
}

.sheet-equipment-repeating-table {
  margin-top: 0px;
  width: calc(100% - 2px);
  color:black;
  margin-left: 1px;
}

.sheet-weapon-armor-row .repcontainer {
  margin-bottom: 5px;
}

.sheet-div-equipment-field  {
  font-size: 10px;
  border: none;
  width: 100%;
  height: 100%;
  line-height:25px;
  color: black;
  background-color: #b7b7b7;
}

.sheet-div-equipment-field-input {
  width:100%; 
  border-radius: 0px; 
  border-right: 0px;
} 

.sheet-equipment-box {
  width: calc(100% - 40px);
  height: 200px;
  padding: 4px;
  padding-top: 2px;
  margin-left: 6px;
  margin-bottom: 0px;
  resize: vertical;
  text-indent: 4px;
}

.sheet-equipment-weapon-armor {
  text-align:center;
  height:27px; 
  font-size:0px;
}

.sheet-equipment-weapon-roll {
  font-size: 14px;
  height: 20px;
  width: 16px;
  position: relative;
  top: -2px;
}

.sheet-approach-field-select {
  vertical-align: top;
  padding: 0 0 1px 0;
  margin-right: 3px;
}

.sheet-equipment-name-field {
  width: calc(39% - 110px); 
}

.sheet-div-equipment-approach-name > span {
  margin-right: 6px;
}

.sheet-approach-field-select > select {
  padding: 1px;
  border-radius: 0px;
  width: 68px;
}

.sheet-approach-field-select > select > option {
  padding: 0px;
}

.sheet-equipment-wealth {
  width: calc(100% - 2px);
}

.sheet-equipment-wealth-div {
  width: calc(33% - 4px);
  margin-top: 6px;
}

.sheet-equipment-wealth-div > span {
  width: calc(100% - 2px);
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
}

.sheet-equipment-wealth-div .sheet-wealth-footnote {
  font-size: 10px;
  font-style: italic;
}

.sheet-div-armor-field {
  width: calc((100% - 143px) / 2);
}

/* End Equipment */

/* Start Twenty Questions */

.sheet-20-qs-header {
  font-size: 22px;
  font-weight: bold;
  color: black;
  white-space:nowrap;
}

.sheet-20-qs-gray {
  background-color: #b7b7b7;
}

.sheet-20-qs-top-bar {
  width: 100%;
  height: 18px;
  line-height: 18px;
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.sheet-20-qs-top-bar > span {
  padding-left: 10px;
}

.sheet-20-qs-left-span,
.sheet-20-qs-number {
  font-weight:bold;
  width: 18px;
  vertical-align: top;
}

.sheet-20-qs-container-with-hgs {
  width: calc(90% - 26px);
}

.sheet-20-qs-container {
  width: calc(100% - 22px);
}

.sheet-20-qs-question {
  margin-top: 5px;
}

.sheet-20-qs-question-text {
  color:black;
}

.sheet-full-width input[type=number],
.sheet-full-width {
  width: 100%;
}

.sheet-20-qs-semi-full {
  width: 87%;
  margin-left: 10px;
}

.sheet-half-width-margin {
  width: calc(50% - 2px);
}

.sheet-20-qs-semi-half {
  width: calc(45% - 2px);
}

.sheet-20-qs-very-large {
  width: calc(70% - 2px);
}

.sheet-20-qs-large {
  width:calc(60% - 8px);
}

.sheet-20-qs-small {
  width:calc(40% - 8px);
}

.sheet-20-qs-very-small {
  width: calc(25% - 2px);
}

.sheet-20-qs-tiny {
  width: 10%
}

.sheet-20-qs-thin-square,
.sheet-20-qs-square {
  border:2px solid #b7b7b7;
  text-align: center;
  margin-bottom: 2px;
}

.sheet-20-qs-thin-square {
  border-width: 1px;
  margin-bottom: 1px;
}

.sheet-20-qs-square > span {
  font-weight: bold;
}

.sheet-20-qs-select-skill,
.sheet-20-qs-select-ring {
  margin: 3px;
  width: calc(100% - 6px);
}

.sheet-20-qs-middle-line {
  width:calc(100% - 50px);
  margin: 10px 0 10px 25px;
  border-bottom: 2px solid #b7b7b7;
}

.sheet-20-qs-starting-wealth {
  border-bottom: 2px solid black;
  margin-bottom: 5px;
  height: 33px;
}

.sheet-20-qs-starting-wealth > span {
  width: calc(50% - 3px);
  margin-left: 5px;
}

.sheet-20-qs-starting-wealth > input {
  position: relative;
  top: -8px;
  width: calc(50% - 3px);
}

.sheet-20-qs-left-span {
  text-align: left;
  padding-left: 4px;
}

.sheet-20-qs-textarea-square {
  margin: 2px 2px 0 2px;
  width: calc(100% - 16px);
  height: 100px;
  resize: vertical;
}

.sheet-20-qs-input-fields {
  margin: 10px 0 0 0;
  width: calc(100% - 40px);
}

.sheet-20-qs-textarea {
  margin: 10px 0 0 0;
  width: calc(100% - 30px);
  height: 100px;
  resize: vertical;
}

.sheet-20-qs-or-field {
  font-size: 16px;
  font-weight: bold;
  width: 24px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  margin: 5px;
}

.sheet-20-qs-number-fields input[type=number] {
  width: 60px;
  height: 60px;    
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
}

.sheet-20-qs-number-label input[type=number] {
  height: 50px;
  width: 50px;
  background-size: 50px;
}

.sheet-20-qs-generate-button-text {
  text-align: center;
  font-weight: bold;
}

.sheet-20-qs-roll {
  width: calc(100% - 40px);
  margin: 0 20px 0 20px;
}

.sheet-20-qs-roll-button {
  width: calc(100% - 16px);
  height: 20px;
} 

.sheet-20-qs-roll-button::before {
  font-size: 0px;
} 

.sheet-print-20-qs-generate {
  font-size: 12px;
  line-height: 20px;
}

.sheet-print-20-qs-generate-relative-pos {
  width: 100%; 
  height: 0px;
}

.sheet-print-20-qs-generate-relative-pos > span{
  position: relative;
  top:-26px;
  pointer-events:none;
}

.sheet-20-qs-roll-button-question {
  width: 80px;
}

.sheet-show-on-trigger {
    display: none;
    text-align: center;
}

input.sheet-are-you-sure-trigger {
  width:150px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid #777;
  border-radius: 3px;
  background-color: rgb(224, 221, 221);
  vertical-align: middle;
}

.sheet-are-you-sure-trigger:checked ~ div.sheet-show-on-trigger {
  display: block;
}

.sheet-20-qs-small-field-box input[type=text] {
  width: calc(100% - 12px); 
  margin: 4px;
}

/* End Twenty Questions */

/* Start NPC */

.sheet-npc-input-field {
  width: calc((100% - 30px) / 5);
}

.sheet-npc-input-field div  {
  width:calc(100% - 36px);
  text-align: center;
}

.sheet-npc-input-field div label {
  width:100%;
  padding:0px;
  margin:0px;
  height:30px;
}

.sheet-npc-input-field div label input[type=number] {
  width:40px;
  float:right;
  height:27px;
  border-bottom: 0px;
  border-top: 0px;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 2px;
}

.sheet-npc-input-field div label > span {
  line-height: 30px;
  height:30px;
  margin-left:7px;
}

.sheet-npc-input-field .sheet-npc-skill-roll {
  width: 18px;
}

.sheet-npc-input-field .sheet-npc-skill-roll button[type=roll] {
  width:100%;
  height:19px;
  margin-top:3px;
}

.sheet-select-demeanor {
  margin: 0 0 3px 0;
  width: calc(100% - 6px);
}

.sheet-npc-bonus-ring-field {
  width: calc((100% - 30px) / 5);
}

.sheet-npc-bonus-ring-field label,
.sheet-npc-bonus-ring-field label > span,
.sheet-npc-bonus-ring-field div  {
  width:calc(100% - 2px);
}

.sheet-npc-bonus-ring-field label > span {
  width:40px;
}
.sheet-npc-bonus-ring-field label  {
  text-align: center;
  margin-top: 2px;
  display:block;
}

.sheet-npc-bonus-ring-field div label input[type=number] {
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 2px 10px 2px 10px;
  font-size: 16px;
}

.sheet-select-demeanor:invalid + .sheet-demeanor-boxes { 
  display: block; 
}

.sheet-select-demeanor:valid + .sheet-demeanor-boxes { 
  display: none; 
}

.sheet-npc-desc-dice-demea {
  width: calc((100% - 150px) / 2);
}

/* End NPC */

/* Stat Roll Template */

.sheet-rolltemplate-l5r5th h3.sheet-sub-title,
.sheet-rolltemplate-l5r5th h2.sheet-caption {
  color: black;
  text-align: center;
  background-color: #f4f3f1;
  border: 2px solid #bc7b75;
  border-top-width: 0px;
  border-bottom-width: 0px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
}

.sheet-rolltemplate-l5r5th h2.sheet-description-title {
  font-size: 14px;
  line-height: 22px;
  color:black;
}

.sheet-rolltemplate-l5r5th .sheet-stance-description-background {
  height:100px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.sheet-rolltemplate-l5r5th h3.sheet-sub-title {
    font-size: 0.8em;
    font-weight: normal;
    margin-top: -10px;
    line-height: 25px;
}

.sheet-rolltemplate-l5r5th .sheet-top-roll-bar {
  width:calc(100% - 8px); 
  margin: 0 4px 0 4px;
}

.sheet-rolltemplate-l5r5th h4 {
	text-align: center;
	margin-bottom: 5px;
}

.sheet-rolltemplate-l5r5th div.sheet-result {
    background-color: #f4f3f1;
    display: block;
    padding: 5px;
    border: solid 2px #bc7b75;
    text-align: center;
    margin-bottom: 5px;
    margin: 0 4px 0 4px;
    border-top-width: 0px;
}

.sheet-rolltemplate-l5r5th .sheet-template-line {
  border-bottom-color: #bc7b75;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0 20px 10px 20px;
}

.sheet-rolltemplate-l5r5th .sheet-dieRoll1,
.sheet-rolltemplate-l5r5th .sheet-dieRoll2 {
	display: inline-block;
	width: 25%;
    padding: 5px;
    text-align: center;
    font-family: "dicefontd6";
    font-size: 3em;
    z-index: 0;
}

.sheet-rolltemplate-l5r5th .sheet-dieRoll1,
.sheet-rolltemplate-l5r5th .sheet-dieRoll3 {
	border-right: 1px solid black;
}

.sheet-rolltemplate-l5r5th .sheet-dieRoll2,
.sheet-rolltemplate-l5r5th .sheet-dieRoll4 {
	border-left: 1px solid black;
	margin-left: -5px;
}

.sheet-rolltemplate-l5r5th div.sheet-col-dieRolls {
  display:inline-block;
  margin-bottom: 3px;
}

.sheet-rolltemplate-l5r5th .sheet-keep-amount-dice > span {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid black;
  font-family: sans-serif;
  font-weight: bold;
}

.sheet-rolltemplate-l5r5th .sheet-div-keep-amount-dice {
  margin-bottom: 8px;
}

.sheet-rolltemplate-l5r5th .sheet-keep-amount-dice > span {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.sheet-rolltemplate-l5r5th .sheet-template-type,
.sheet-rolltemplate-l5r5th .sheet-template-damage,
.sheet-rolltemplate-l5r5th .sheet-template-deadliness,
.sheet-rolltemplate-l5r5th .sheet-template-range,
.sheet-rolltemplate-l5r5th .sheet-template-grips,
.sheet-rolltemplate-l5r5th .sheet-template-qualities,
.sheet-rolltemplate-l5r5th .sheet-template-check,
.sheet-rolltemplate-l5r5th .sheet-template-effects,
.sheet-rolltemplate-l5r5th .sheet-template-opportunities {
  text-align: left;
}

.sheet-rolltemplate-l5r5th  .sheet-bold-text,
.sheet-bold-text {
  font-weight: bold;
}
