

	/***** PC AND NPC *****/
	@each $characterType in $characterTypes {
		.sheet-#{$characterType} { @extend %display-none; }
	}

	input[name='attr_sheet_type']:not([value='pc']) ~ .sheet-npc,
	input[name='attr_sheet_type'][value='pc'] ~ .sheet-pc  {  
		@extend %display-inline-block;  
	}

	/***** TABS *****/
	@each $tab in $tabs {
		.sheet-options_toggle[value='#{$tab}'] ~ .sheet-#{$tab} { 
      @extend %display-inline-block;
    }

    .sheet-options_toggle:not([value='#{$tab}']) ~ .sheet-#{$tab} { 
      @extend %display-none; 
    }
	}

	/***** SWITCH BETWEEN DIFFERENT TABS *****/ 
	.sheet-skills-active,
	.sheet-skills-know,
	.sheet-skills-lang {
		@extend %display-none;
	}

	.sheet-tab-switch[value='active'] ~ .sheet-skills-active,
	.sheet-tab-switch[value='knowledge'] ~ .sheet-skills-know,
	.sheet-tab-switch[value='language'] ~ .sheet-skills-lang {
		@extend %display-inline;
	}
	
	@each $magicTab in $magicTabs {
		.sheet-magic-#{$magicTab} { @extend %display-none; }
		.sheet-magic-toggle[value='#{$magicTab}'] ~ .sheet-magic-#{$magicTab} { @extend %display-inline; }
	}

	@each $qualityTab in $qualityTabs {
		.sheet-#{$qualityTab} { @extend %display-none; }
		.sheet-tab-switch[value='#{$qualityTab}'] ~ .sheet-#{$qualityTab} { @extend %display-inline; }
	}

	@each $matrixTab in $matrixTypes {
		.sheet-#{$matrixTab} { @extend %display-none; }
		.sheet-matrix-toggle[value='#{$matrixTab}'] ~ .sheet-#{$matrixTab} { @extend %display-inline; }
	}

	/***** SETTINGS *****/				
	.sheet-settings { 
    @extend %display-none; 
  }

	input[name='attr_stats_toggle'][value='settings'] ~ .sheet-attribute .sheet-settings,
	input[name='attr_stats_toggle'][value='settings'] ~ .sheet-body .sheet-column .sheet-settings,
	input[name='attr_stats_toggle'][value='settings'] ~ .sheet-body .sheet-textrow .sheet-settings {
		@extend %display-inline-block; 
	}

		/*** TOGGLE ***/
		input.sheet-settings-toggle:checked ~ div.sheet-display,
	    input.sheet-settings-toggle:checked ~ .sheet-attr-col .sheet-attr-und div.sheet-display,
	    input.sheet-settings-toggle ~ .sheet-attr-lim div.sheet-settings,
	    input.sheet-settings-toggle:checked ~ .sheet-attr-lim div.sheet-display,
	    input.sheet-settings-toggle[value='settings'] ~ div.sheet-display,
	    input.sheet-settings-toggle[value='display'] ~ div.sheet-settings,
	    input.sheet-settings-toggle[value='display'] ~ div.sheet-settings-grid  {
	    	@extend %display-none; 
	    }

	.sheet-display,
	input.sheet-settings-toggle:checked ~ div.sheet-settings,
	input.sheet-settings-toggle:checked ~ .sheet-attr-col .sheet-attr-und div.sheet-settings,
	input.sheet-settings-toggle:checked ~ .sheet-attr-lim div.sheet-settings {
		background: none;
		display   : inherit;
		font-size : 1em;
		text-align: left;
		width     : 100%;
	}

	/* NEW REPEATING CONTAINER WAY TO SHOW & HIDE SETTINGS */
	/* SLOWLY ELIMINATE ALL TRACES OF SETTINGS-TOGGLE WITH THIS WAY OF DOING THINGS */
	input.sheet-settings-flag:checked ~ div.sheet-settings {
   display   : inherit; 
 }

	/* OLD WAY TO SHOW & HIDE THINGS */
    input.sheet-settings-toggle[value='display'] ~ .sheet-settings { @extend %display-none;  }
    input.sheet-settings-toggle[value='settings'] ~ .sheet-settings { @extend %display-inline-block;  }

	@each $specialAttribute in $specialCharacters {
		//-PCs
		.sheet-hide-#{$specialAttribute} { @extend %display-none;  }
		.sheet-character-type[value='#{$specialAttribute}'] ~ .sheet-pc .sheet-pc-row .sheet-attr-col .sheet-hide-#{$specialAttribute} { 
			@extend %display-inline-block; 
		}

		//NPC
		input[name='attr_flag_special'][value='#{$specialAttribute}'] ~ .sheet-npc .sheet-hide-#{$specialAttribute} { 
			@extend %display-inline-block; 
		}
	}

	/***** PC WEAPONS *****/
	div.sheet-weapon-range,
	div.sheet-weapon-melee {
		@extend %display-none;
	}

	input.sheet-tab-switch[value='range'] ~ .sheet-weapon-range,
	input.sheet-tab-switch[value='melee'] ~ .sheet-weapon-melee  {
		@extend %display-inline-block; 
	}


	/***** NPC TYPES *****/
	@each $npcType in $npcTypes {
		.sheet-#{$npcType}  { @extend %display-none; }

		input[name='attr_sheet_type'][value='#{$npcType}'] ~ .sheet-npc .sheet-attribute.sheet-#{$npcType} { 
			@extend %display-inline-grid; 
		}

		input[name='attr_sheet_type'][value='#{$npcType}'] ~ .sheet-npc .sheet-rows.sheet-#{$npcType},
		input[name='attr_sheet_type'][value='#{$npcType}'] ~ .sheet-npc .sheet-textrow.sheet-#{$npcType} { 
			@extend %display-inline-block; 
		}
	}

	input[name='attr_sheet_type'][value='host'] ~ .sheet-npc .sheet-column:nth-of-type(2),
	input[name='attr_sheet_type'][value='sprite'] ~ .sheet-npc .sheet-column:nth-of-type(1n+2)  { 
		@extend %display-none;
	}

	/* SHOW AND HIDE MAGIC AND RESONANCE SPECIFIC ATTRIBUTES BASED ON RADIO TOGGLE */
	input[name='attr_flag_special'][value='mundane'] ~ div.sheet-npc .sheet-hide-magic,
	input[name='attr_flag_special'][value='mundane'] ~ div.sheet-npc .sheet-hide-resonance,
	input[name='attr_flag_special'][value='mundane'] ~ div.sheet-npc .sheet-grunt.sheet-hide-magic,
	input[name='attr_flag_special'][value='mundane'] ~ div.sheet-npc .sheet-grunt.sheet-hide-resonance,
	input[name='attr_flag_special'][value='resonance'] ~ div.sheet-npc .sheet-hide-magic,
	input[name='attr_flag_special'][value='resonance'] ~ div.sheet-npc .sheet-grunt.sheet-hide-magic,
	input[name='attr_flag_special'][value='magic'] ~ div.sheet-npc .sheet-hide-resonance,
	input[name='attr_flag_special'][value='magic'] ~ div.sheet-npc .sheet-grunt.sheet-hide-resonance,
	input[name='attr_stats_toggle']:not([value='settings']) ~ div.sheet-attribute .sheet-settings.sheet-hide-magic,
	input[name='attr_stats_toggle']:not([value='settings']) ~ div.sheet-attribute .sheet-settings.sheet-hide-resonance,
	input[name='attr_stats_toggle']:not([value='settings']) ~ div.sheet-body .sheet-settings.sheet-hide-magic,
	input[name='attr_stats_toggle']:not([value='settings']) ~ div.sheet-body .sheet-settings.sheet-hide-resonance {
		@extend %display-none;
	}

	//- HIDE TEXT ROWS WHEN THE TEXTAREA IS EMPTY
	input[name='attr_stats_toggle']:not([value='settings']) ~ div.sheet-body input[type='hidden'][value=''] + div.sheet-textrow {
		@extend %display-none;
	}


	input[name='attr_stats_toggle']:not([value='settings']) ~ div.sheet-body input[type='hidden'][value=''] + div.sheet-rows.sheet-grunt {
		@extend %display-none;
	}

	//- HIDE PAIN TOLLERANCE FOR NPCS
	input[name='attr_stats_toggle']:not([value='settings']) ~ div.sheet-body div.sheet-grunt.sheet-pain-tolerance {
		display: none;
	}

	//- HIDE SPECIALIZATION BUTTONS IF THERE IS NO SPECIALIZATION
	input[name='attr_specialization'][value=''] ~ button[name*='specialization'],
	input[name='attr_specialization'][value=' '] ~ button[name*='specialization'],
	input[name='attr_specialization'][value=''] ~ div.sheet-row-long div.sheet-buttons button[name*='specialization'],
	input[name='attr_specialization'][value=' '] ~ div.sheet-row-long div.sheet-buttons button[name*='specialization']  {
		@extend %display-none;
	}

	//- NPC WEAPONS HIDE REACH OR RECOIL/AMMO BASED ON THE SELECTED RANGE
	input[name='attr_weapon_range'][value='range'] ~ div.sheet-settings h2[data-i18n='reach'],
	input[name='attr_weapon_range'][value='range'] ~ div.sheet-settings label[data-i18n-title='reach'] {
		@extend %display-none;
	}

	input[name='attr_weapon_range'][value='melee'] ~ div.sheet-settings h2[data-i18n='modes'],
	input[name='attr_weapon_range'][value='melee'] ~ div.sheet-settings h2[data-i18n='recoil'],
	input[name='attr_weapon_range'][value='melee'] ~ div.sheet-settings h2[data-i18n='ammo'],
	input[name='attr_weapon_range'][value='melee'] ~ div.sheet-settings label[data-i18n-title='modes'],
	input[name='attr_weapon_range'][value='melee'] ~ div.sheet-settings label[data-i18n-title='recoil'],
	input[name='attr_weapon_range'][value='melee'] ~ div.sheet-settings label[data-i18n-title='ammo'],
	input[name='attr_weapon_range'][value='melee'] ~ div.sheet-settings span  {
		@extend %display-none;
	}

	//- NPC SPELLS HIDE COMBAT INFO IF NOT A COMBAT SPELL
	input[name='attr_category']:not([value='Combat']) ~ h2[data-i18n='combat'],
	input[name='attr_category']:not([value='Combat']) ~ h2[data-i18n='dam'],
	input[name='attr_category']:not([value='Combat']) ~ select[name='attr_combat_type'],
	input[name='attr_category']:not([value='Combat']) ~ label[data-i18n-title='dam']  {
		@extend %display-none;
	}


	//- SHOW AND HIDE MATRIX DEVICE
	input[name='attr_flag_matrix'][value='matrix'] ~ div.sheet-matrix {
		@extend %display-inline-block;
	}

	input[name='attr_flag_matrix']:not([value='matrix']) ~ div.sheet-matrix {
		@extend %display-none;
	}

	%highlight-button {
		background-color: $red;
		box-shadow:  $box-shadow-red; 
	}