	div.sheet-mancer-box {
		border: 2px solid #610b0d;
		background-color: #e7e6e5;
		margin: 1% 2%;
		padding: 1% 2%;
	}

	div.sheet-mancer-box input[type='radio'],
	div.sheet-mancer-box input[type='checkbox'] {
		opacity: 1;
		height: 1.5em;
		width: 1.5em;
	}

	div.sheet-mancer-box input[type='text'] {
		background-color: white;
		border: 1px solid #333;
		width: 100%;
	}

	div.sheet-mancer-box label {
		display: inline-block;
	}

	div.sheet-mancer-box div.sheet-pick-builder label {
		margin: 2% 2% 1% 0%;
		width: 15%;
	}

	div.sheet-mancer-box label {
		display: inline-block;
		margin: 2% 2%;
	}

	div.sheet-mancer-box h1 {
		text-decoration: underline;
	}

	div.sheet-mancer-box label > h4 {
		display: inline;
	}

	div.sheet-mancer-box textarea {
		overflow: scroll;
		min-height: 5em;
		width: 100%;
	}

	div.sheet-mancer-box hr {
		margin-top: 3%;
		margin-bottom: 3%;
	}
	
	div.sheet-mancer-box button,
	div.sheet-bottombar button {
		border-radius   : 2px;
		font-weight     : bolder;
		height          : 2em;
		padding         : 5px;
		text-transform  : capitalize;
		background-color: #333;
		box-shadow      : inset 0px 0px 3px 1px $grayshadow;
		color           : $white
	}

	div.sheet-mancer-box button:not(disabled):hover,
	div.sheet-mancer-box button:not(disabled):focus,
	button[name='act_import_launch']:hover,
	button[name='act_import_launch']:focus {
		text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px #e31715;
		text-transform  : capitalize;
		border: 0.1em dotted white;
	}

	div.sheet-mancer-box button[type='action'],
	div.sheet-mancer-box button[type='finish'] {
		font-size: 1.5em;
		width           : 20%;
	}

	div.sheet-mancer-box button[type='finish']:disabled {
		color: rgba(255, 255, 255, 0.2);
		cursor: not-allowed;
	}

	div.sheet-mancer-box button[type='cancel'] {
		margin-top: 3%;
		float: right;
		font-size: 1em;
	}
	
	div.sheet-mancer-box .sheet-feedback {
		color: #000e3b;
	}

	div.sheet-mancer-box .sheet-warning {
		color: #610b0d;
	}

	div.sheet-mancer-box .sheet-results,
	div.sheet-mancer-box .sheet-error {
		border: 1px solid #333;
		box-shadow: inset 0px 0px 3px 1px $grayshadow;
		height: 30em;
		margin-top: 2%;
		overflow: scroll;
		padding: 1%;
	}

	div.sheet-mancer-box .sheet-results {
		border: 1px solid #000e3b;
		margin-right: 3%;
		background: rgba(136, 221, 4, 0.1);
	}

	div.sheet-mancer-box .sheet-error {
		border: 1px solid #610b0d;
		background: rgba(204, 7, 1, 0.11);
	}

	div.sheet-result-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	div.sheet-result-grid h4:nth-of-type(1) {
		grid-column: 1 / 1;
		grid-row: 1 / 1;
	}

	div.sheet-result-grid h4:nth-of-type(2) {
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}

	div.sheet-results {
		grid-column: 1 / 1;
		grid-row: 2 / 2;
	}

	div.sheet-ignored {
		grid-column: 2 / 2;
		grid-row: 2 / 2;
	}

	div.sheet-hidden,
	div.sheet-hidden-skills {
		display: none;
	}

	h4.sheet-hidden-header {
		display: inline;
	}

	input[name='comp_hidden']:checked + div.sheet-hidden,
	input[name='comp_hidden']:checked + div.sheet-hidden-skills {
		display: block;
	}

	div.sheet-hidden label {
		display: inline-block;
		width: 30%;
		margin: 1% 1%;
	}

	div.sheet-hidden div {
		display: inline-block;
		font-weight: bold;
		margin-right: 2%;
		width: 40%
	}