.repcontrol {
	display       : inline-block;
	vertical-align: top;
	min-height    : 27px;

.btn {
    background : none;
    border     : medium none;
    box-shadow : none;
    color      : transparent !important;
    display    : inline-block;
    font-size: 15px;
    margin-left: 10px;
    outline    : 0;
    padding    : 0px;
    text-shadow: none;
    width      : 25px;
  }
}

 .repcontrol .repcontrol_edit:after,
 .repcontrol .repcontrol_add:after  {
	background-color: none;
	color: $white;
	@extend .sheet-pictos;
	font-size: 16px;
	height: 12px;
	padding: 2px 4px 2px 4px;
	visibility: visible;
	width: 12px;
}

.repcontrol .repcontrol_edit:after {content: '(';}
.repcontrol .repcontrol_add:after {content: '&';}
.editmode ~ .repcontrol .repcontrol_edit:after {content: ')';}

.repcontrol .repcontrol_edit:after,
.repcontrol .repcontrol_add:after {
	color   : $blacker;
	position: relative;}

	.sheet-npc .repcontrol .repcontrol_edit:after,
	.sheet-npc .repcontrol .repcontrol_add:after {
		color: $white;}

	.repcontrol .repcontrol_edit:hover:after,
	.repcontrol .repcontrol_add:hover:after {
		color           : $gold;
		background-color: none;}

.itemcontrol {z-index: 10;}

.itemcontrol .repcontrol_del,
.itemcontrol .repcontrol_move {
	font-size : 10px;
	height    : 18px;
	margin-top: 3px;
	padding   : 0px;
	width     : 18px;}

.itemcontrol .repcontrol_del {
	background-color: $red;
	@extend .sheet-pictos;
}

.repitem:nth-of-type(odd) {
	background-color: #9a9a9a40;
}