
<fieldset class="repeating_bonds">
  <div class="sheet-bond-container">
    <p class="sheet-bond-title">Name:</p>
    <input class="sheet-border-bottom sheet-bond-name" type="text" name="attr_bond-name" placeholder="Name"/>
    <input class="sheet-show-bond-info" type="checkbox" name="attr_bond-show" placeholder="Name"/><span class="sheet-show-bond-info">Details</span>
    <div class="sheet-show-bond-info sheet-hide">
      <div class="sheet-full-width">
        <p class="sheet-bond-title">Location</p>
        <input class="sheet-bond-location sheet-border-bottom" type="text" name="attr_bond-location" placeholder="Location"/>
      </div>
      <div class="sheet-full-width">
        <p class="sheet-bond-title">Descriptors</p>
        <input class="sheet-bond-descriptors sheet-border-bottom" type="text" name="attr_bond-descriptors" placeholder="Descriptors"/>
      </div>
      <div class="sheet-full-width">
        <p class="sheet-bond-title sheet-bond-notes-title" style="border-radius: 0.3em 0.3em 0em 0em">Notes</p>
        <textarea class="sheet-bond-notes" name="attr_bond-notes"></textarea>
      </div>
    </div>
  </div>
</fieldset>