.charsheet {
  padding: 0 !important; // Override Roll20!
}

button[type=roll] {
  text-shadow: none;
  padding: 0 !important; // Override Roll20!
  margin: 0 !important; // Override Roll20!

  &::before {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    box-shadow: none;
  }
}

.repcontrol {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 2;
  display: flex;
}

.repcontrol button.btn {
  position: relative;
  color: transparent !important; // Override Roll20!
  font-size: 0 !important; // Remove Roll20 button caption!
  height: 16px !important; // Override Roll20!
  width: 16px !important; // Override Roll20!

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    box-shadow: none;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-text-gray;
    font-family: Pictos !important;
    font-size: 12px !important;
    line-height: 1;
    height: 100%;
    width: 100%;
  }

  &:hover::after {
    color: $c-text-light;
  }

  &:active::after {
    color: black;
  }

  &.repcontrol_add {
    order: 1;

    &::after {
      content: '&';
    }
  }

  &.repcontrol_edit {
    order: 2;

    &::after {
      content: '_';
      float: none;
    }
  }
}

.repcontainer.editmode {
  + .repcontrol {
    button.repcontrol_edit::after {
      content: '3';
    }
  }

  .itemcontrol {
    z-index: 10;
    display: flex !important; // Override Roll20!
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5) !important; // Override Roll20!
    border-radius: 2px;
    margin: 0 2px;
    width: calc(100% - 4px) !important;
    max-height: 20px;

    a.repcontrol_move {
      order: 1;
      font-size: 18px;
      border-radius: 2px 0 0 2px;
      padding: 0 2px 0 0;
    }

    button.repcontrol_del {
      order: 2;
      float: none !important; // Override Roll20! (lol, float...)
      font-family: Pictos !important;
      font-size: 12px !important; // Override Roll20!
      border-radius: 0 2px 2px 0;
      padding: 0 0 0 4px;
    }

    a.repcontrol_move,
    button.repcontrol_del {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $c-white;
      text-shadow: none;
      color: $c-text;
      line-height: 1;
      border: 0;
      height: 100%;
      width: 20px;
      max-height: 20px;
      box-shadow: none;

      &:hover {
        color: black !important;
      }

      &:active {
        color: black !important;
        box-shadow: none;
        background: $c-white;
      }
    }
  }

  div.repitem:hover .itemcontrol {
    background-color: rgba(255, 255, 255, 0.7) !important; // Override Roll20!
  }
}
