textarea {
    width: 95%;
    height: 100%;
  }
  
  h2, h3 {
      font-family: "Contrail One";
  }
  
  label, button {
      font-family: "Contrail One";
      font-weight: normal;
  }
  
  select, input {
      width: 98%;
      border: none;
      margin-bottom: 5px;
      font-family: "Patrick Hand";
      font-size: 1.23em;
  }
  
  label {
      margin-bottom: 0px;
  }
  
  .sheet-main {
      padding: 10px;
      background-image: url("https://raw.githubusercontent.com/DrAltay/roll20-character-sheets/insmv-3eme-ed/INS-MV_3E/dust_scratches.png");
      background-repeat: repeat;
  }
  
  .sheet-hidden {
      display: none;
  }
  
  .sheet-section {
      padding: 5px;
      border-style: solid;
  }
  
  .sheet-flex-col {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
  .sheet-flex-2col {
      display: flex;
      flex-flow: row wrap;
  }
  
  .sheet-flex-2col > * {
      flex: 1 1;
  }
  
  .sheet-flex-col > * {
      flex: 1 1;
  }
  
  .sheet-attributes label {
      display: inline-block;
      text-align: center;
  }
  .sheet-center {
      text-align: center;
  }
  .sheet-center * {
      text-align: center;
  }
  
  .sheet-skill > * {
      flex: auto 4 1;
  }
  
  .sheet-pp {
      flex-grow: 2;
  }
  
  .sheet-power > * {
      flex: auto;
  }
  
  .sheet-powers-group textarea {
      height: 1.3em;
  }

  .sheet-powers-group {
    border: 1px inset rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 0% 0% 5% 5%;
  }

  .sheet-powers h2 {
background-color: #c20114;
background-image: linear-gradient(147deg, #c20114 0%, #e8c547 74%);
      color: #f0f0f0;
      padding: 5px 5px 0px 10px;
      border-radius: 0% 100% 0% 0%;
  }

  .sheet-powers input.pp-cost {
      text-align: right;
      padding-right: 5px;
  }

  .sheet-inventory-group {
    border: 1px inset rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 0% 0% 5% 5%;
  }

  .sheet-inventory h2 {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #50595a 74%);
      color: #f0f0f0;
      padding: 5px 5px 0px 10px;
      border-radius: 0% 100% 0% 0%;
  }

  .sheet-skills h2 {
background-color: #63a91f;
background-image: linear-gradient(314deg, #63a91f 0%, #1a512e 74%);
      color: #f0f0f0;
      padding: 5px 5px 0px 10px;
      border-radius: 0% 100% 0% 0%;
  }

  .sheet-skills-group {
    border: 1px inset rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 0% 0% 5% 5%;
  }

  .sheet-skills .sheet-flex-col {
      flex-wrap: nowrap;
  }
  
  .sheet-attributes-group {
    border: 1px inset rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 0% 0% 5% 5%;
  }

  .sheet-attributes h2 {
background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
      color: #f0f0f0;
      padding: 5px 5px 0px 10px;
      border-radius: 0% 100% 0% 0%;
  }

  .sheet-attributes-group > * {
      flex-basis: 4%;
      text-align: center;
  }
  
  .sheet-attributes input {
      width: 80% !important;
      text-align: center;
      font-size: 3em;
      border-radius: 35%;
      margin: 0;
      border: 1px solid rgba(0,0,0,0.0);
      padding-left: 15px;
  }

  .sheet-attributes .sheet-pp_divider {
      font-size: 2em;
  }
  
  .sheet-pp input {
      width: 40% !important;
      padding-left: 0px;
  }
  
  .sheet-flex-center {
    align-items: center;
    justify-content: center;
  }
  
  .sheet-power label {
      font-weight: normal;
      font-size: 1.0em;
      margin-bottom: 0px;
  }
  
  .sheet-power button {
      flex-shrink: 1;
  }
  
  .sheet-half {
     flex-grow: 1;
     flex-shrink: 0;
     flex-basis: 50%;
  }
  
  .sheet-large {
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 70%;
  }
  
  .sheet-shrinkable {
      flex-shrink: 1;
      flex-grow: 0;
  }
  
  .sheet-small-separator {
      flex-shrink: 1;
      flex-basis: 1%;
  }
  
  input.sheet-description {
      width: 100%;
  }
  
  .sheet-weapons {
      flex-basis: 25%;
  }
  
  .sheet-weapon label {
      display: inline;
      font-weight: normal;
  }
  
  .sheet-headings > * {
      text-align: left;
      font-weight: bold;
      padding: 4px;
  }
  
  .sheet-weapons button[type=roll], .sheet-powers button[type=roll], .sheet-powers button[type=action], .sheet-skills button[type=roll] {
      padding: 2px 3px;
      font-size: 1.2em;
      height: 1.2em;
      margin: -0.0em 3px 0px 3px;
  }
  
  .sheet-weapons input[type=number] {
      text-align: center;
      width: 100%;
    }
  
  .sheet-powers button[type=action] {
      margin-top: -0.1em;
  }
  
  /* ------------- Roll Template ----------------------*/
  
  .sheet-rolltemplate-insmv .sheet-container {
      background-color: #ffffff;
      border: 1px solid;
      padding: 2px;
      width: 189px;
  }
  
  .sheet-rolltemplate-insmv .sheet-container h1 {
      color: rgb(126, 45, 64);
      font-size: 1.2em;
      font-variant: small-caps;
      line-height: 20px;
  }
  
  .sheet-rolltemplate-insmv div {
      padding: 2px;
  };
   
  .sheet-rolltemplate-insmv span {
      color: rgb(126, 45, 64);
      font-family: "Times New Roman", Times, serif;
      font-size: 1.2em;
      font-variant: small-caps;
      line-height: 1.6em;
      padding-left: 5px;
      text-align: left;
  }
   
  .sheet-rolltemplate-insmv .sheet-subheader {
      color: #000;
      font-size: 1em;
      font-style: italic;
  }
   
  .sheet-rolltemplate-insmv .sheet-arrow-right {
      border-bottom: 2px solid transparent;
      border-left: 180px solid rgb(126, 45, 64);
      border-top: 2px solid transparent;
  }
   
  .sheet-rolltemplate-insmv .sheet-tcat {
      font-style: italic;
  }
   
  .sheet-rolltemplate-insmv .inlinerollresult  {
      background-color: #ffffff;
      border: none;
  }
   
  .sheet-rolltemplate-insmv .inlinerollresult.fullcrit {
      color: #3FB315;
      border: none;
  }
   
  .sheet-rolltemplate-insmv .inlinerollresult.fullfail {
      color: #B31515;
      border: none;
  }
   
  .sheet-rolltemplate-insmv .inlinerollresult.importandivoll {
      color: #4A57ED;
      border: none;
  }
  
  /* ------------- Critiques 111 et 666 ------------- */
  .sheet-rolltemplate-insmv .sheet-crit-angel {
      text-align: center;
      font-size: 1.5em;
      text-shadow: 0.1em 0.1em 0.2em #333;
  }
  
  .sheet-rolltemplate-insmv .sheet-crit-angel::before{
      content: "✝   ";
      font-size: 1em;
      color: #e1ac71;
      text-shadow: -1px -1px 0 #795202, 1px -1px 0 #795202, -1px 1px 0 #795202, 1px 1px 0 #795202;
  }
  
  .sheet-rolltemplate-insmv .sheet-crit-angel::after{
      content: "   ✝";
      font-size: 1em;
      color: #e1ac71;
      text-shadow: -1px -1px 0 #795202, 1px -1px 0 #795202, -1px 1px 0 #795202, 1px 1px 0 #795202;
  }
  
  .sheet-rolltemplate-insmv .sheet-crit-demon {
      text-align: center;
      color: #b50a0a;
      font-size: 1.9em;
      text-shadow: 0.025em 0.025em 0.15em #db2929;
      font-family: "Shadows Into Light";
      font-weight: bold;
  }
  
  .sheet-rolltemplate-insmv .sheet-crit-demon::before{
      content: "⛧   ";
      color: #a01818;
      font-size: 1em;
      text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  }
  
  .sheet-rolltemplate-insmv .sheet-crit-demon::after{
      content: "   ⛧";
      color: #a01818;
      font-size: 1em;
      text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  }
