body {
    min-width: 840px;
    max-width: 840px;
    position: absolute;
}

.charsheet {
    background-image: url("https://github.com/iamrpgdm/roll20-character-sheets/blob/master/ICRPG%202.0/CharSheet.jpg?raw=true");
    background-repeat: no-repeat;
    background-color: white;
    width: 840px;
    height: 1087px;
    position: absolute;
}

.sheet-text {
    line-height:20px;
    font-size:1.5em;
    text-size:1.5em;
    color:blue;
}

.sheet-text-center {
    line-height:20px;
    font-size:1.5em;
    text-size:1.5em;
    text-align:center;
    color:blue;
}

.sheet-attr-container input[type=number],
.sheet-effort-container input[type=number] {
    position: absolute;
    width: 40px;
    height: 20px;
}

.sheet-attr-container input[type=number] {
    margin-left: 160px;
}

.sheet-effort-container input[type=number] {
    margin-left: 380px;
}

.sheet-attr-container button[type=roll],
.sheet-effort-container button[type=roll]
{
    background-color: transparent;
    color: black;
    border: none;
    font-size: 9px;
    line-height: 12px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-weight: bold;
}

.sheet-attr-container button[type=roll]::before,
.sheet-effort-container button[type=roll]::before
{
    content: "" !important;
}

.sheet-attr-container button[type=roll], 
.sheet-effort-container button[type=roll]
{
    overflow: hidden;
}

button[type=roll]:hover,
button[type=roll]:hover *
{
    color: #EC2127;
}

button[type=roll] * {
    pointer-events: none;
}

}