.charsheet {
  font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
  color: black;
  /* the first 4 fonts in this list are published under Open or GPL licenses */
  /* the others are default operating system fallbacks */
}

textarea {
  font-family: "Roboto", "Open Sans", "Source Sans Pro", "San Francisco", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

.sheet-smallcaps {
  font-variant: small-caps;
}

.sheet-container {
    position: relative;
    display: block;
    width: 740px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    border: none;
    /* removed background scroll image at the request of BWHQ */
}

.sheet-background {
    width: 100%;
    height: 100%;
    display: inline-block;
    align: center;
}

.sheet-logo {
  background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Burning%20Wheel/img/burning_wheel.png);
  background-size: 5.25%;
  z-index: 1;
  position: absolute;
  background-repeat: no-repeat;
}

button.sheet-tab-button {
  font-weight: bold;
  font-size: 1em;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 2px;
  color: black;
}

button.sheet-tab-button:hover {
  background-color: gray;
  border: 1px solid dimgray;
  border-radius: 2px;
  color: white;
}

button.sheet-tab-button:active {
  background-color: black;
  border: 1px solid dimgray;
  border-radius: 2px;
  color: white;
}

/*updated tab buttons to use a sheetworker script instead of pure HTML & CSS*/
.sheet-tab1,
.sheet-tab2,
.sheet-tab3,
.sheet-tab4,
.sheet-tab5,
.sheet-tab6,
.sheet-tab0 {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="tab1"] ~ div.sheet-tab1,
.sheet-tabstoggle[value="tab2"] ~ div.sheet-tab2,
.sheet-tabstoggle[value="tab3"] ~ div.sheet-tab3,
.sheet-tabstoggle[value="tab4"] ~ div.sheet-tab4,
.sheet-tabstoggle[value="tab5"] ~ div.sheet-tab5,
.sheet-tabstoggle[value="tab6"] ~ div.sheet-tab6,
.sheet-tabstoggle[value="tab0"] ~ div.sheet-tab0 {
	display: block;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

input[type=checkbox]:checked {
        background:
        linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
}

h1 {
  text-align: center;
}

h3 {
  display: inline-block;
}

input[type=text],
input[type=number] {
    display: inline-block;
    margin-right: 5px;
    box-shadow: none;
    border: none;
    font-size: 1.1em;
    border-bottom: 1px solid black;
    -moz-appearance:textfield;
    font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

.sheet-italic {
    font-style: italic;
}

.sheet-bold {
    font-weight: bold;
}

.sheet-normal {
    font-weight: normal !important;
}

.sheet-big {
    font-size: 1.2em;
}

.sheet-small {
    font-size: 0.8em;
}

.sheet-right {
    text-align: right !important;
}

.sheet-left {
  text-align: left !important;
}

.sheet-center {
    text-align: center !important;
}

.sheet-top {
    vertical-align: top !important;
}

.sheet-mid {
    vertical-align: middle !important;
}

.sheet-bot {
    vertical-align: bottom !important;
}

table.sheet-page1 {
    width: 100%;
}

.sheet-page1 td.sheet-left {
    width: 90px;
}

.sheet-page1 td.sheet-right {
    width: calc(100% - 90px);
}

input[type=checkbox].sheet-fpd {
    margin-right: 5px;
}

.sheet-page1 textarea,
textarea.sheet-page1,
.sheet-skills textarea {
    resize: vertical;
    height: 35px;
    box-shadow: none;
    border: none;
}

input.sheet-skill-group {
  background: transparent;
  width: 99.5%;
  height: 90%;
  vertical-align: top;
  text-align: center;
  padding-bottom: 4px; padding-top: 2px;
  padding-left: 50px; padding-right: 50px;
  font-size: 1.6em;
  font-weight: bold;
  font-style: italic;
  border: none;
}

input[type=checkbox].sheet-group-switch {
  position: absolute;
  left: 740px;
  top: 5px;
  border: none;
  height: 20px;
  width: 20px;
  color: gray;
  font-size: 1.5em;
}

input[type=checkbox].sheet-group-switch:hover:before {
    content: "⌘";
}

input[type=checkbox].sheet-group-switch:checked {
    /* color: transparent; */
    background: transparent;
    /* removes X from the default checkbox */
}

.sheet-group-skill,
.sheet-group-switch:checked ~ .sheet-group-title {
  display: block;
}

.sheet-group-title,
.sheet-group-switch:checked ~ .sheet-group-skill {
  display: none;
}

.sheet-page3 textarea,
textarea.sheet-page3 {
  resize: vertical;
  height: 75px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
}

.sheet-page1 .sheet-trait {
    width: calc(100% - 20px);
}
.sheet-page1 input[type=text].sheet-trait {
    border-bottom: 1px solid black;
    height: 30px;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}
.sheet-page1 textarea.sheet-trait {
    border-bottom: 1px solid black;
    height: 20px;
    vertical-align: top;
}

.sheet-dashbox {
  border: 1px dashed black;
}

div.sheet-box {
  border: 1px solid black;
  border-radius: 0px;
  background-color: transparent;
  display: inline-block;
  z-index: 1;
}

input.sheet-box,
table.sheet-weapons input[type=text].sheet-box,
select.sheet-box,
.skills select.sheet-box {
    width: 20px;
    height: 20px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: transparent;
    z-index: 1;
}

input.sheet-range {
  width:30px !important;
}

select.sheet-box,
.charsheet .sheet-skills select.sheet-box,
.charsheet .sheet-weapons select.sheet-box {
    width: 2.1em;
    height: 1.3em;
    margin: 1%;
    border: 1px solid black;
    box-shadow: none;
    text-align: center;
    vertical-align: middle;
    color: black;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 18px;
    font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: transparent;
    z-index: 1;
}

td.underline::after {
  border-bottom: 1px solid black !important;
}

input.sheet-underline,
span.sheet-underline,
input[type=number].sheet-underline,
table.sheet-weapons input[type=text].sheet-underline {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-bottom: 1px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
    color: black;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance:textfield;
    font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

input.sheet-autocalc {
  width: 22px !important;
}
input.sheet-woundpenalty {
  width: 75px !important;
}
input.sheet-woundpenalty,
input.sheet-autocalc {
  padding: 0px;
  background: none;
  cursor: not-allowed;
  border: none;
  background-color: transparent;
  border-radius: 0px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
  color: dimgray;
  position: relative;
  bottom: 2px !important;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance:textfield;
  font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

input.sheet-skillname {
  padding-left: 5px;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  text-align: left;
  font-weight: bold;
  color: black;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance:textfield;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

textarea.sheet-box {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  overflow: auto;
  height: 50px;
  padding: 2px;
  resize: vertical;
  z-index: 1;
}

textarea.sheet-health {
  box-sizing: border-box;
  border: 1px solid black;
  overflow: auto;
  width: 100px;
  height: 50px;
  padding: 2px;
  resize: vertical;
  -webkit-appearance: none;
  -moz-appearance:textfield;
  appearance: none;
}

textarea.sheet-trsk {
  overflow: auto;
  width: 160px;
  height: 50px;
  padding: 2px;
  resize: vertical;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
  -webkit-appearance: none;
  -moz-appearance:textfield;
  appearance: none;
}

td.sheet-woundpenalty {
    display: normal;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance:textfield;
}

.sheet-coordinate {
  cursor: pointer !important;
}

input.sheet-long,
table.sheet-weapons input[type=text].sheet-long {
    width: 75px;
    font-size: 1em;
    text-align: left;
    color: black;
}

div.sheet-testwidth {
    width: 100%;
}

input.sheet-full {
    width: 100% !important;
}

input.sheet-halfpen {
    width: 42% !important;
}

input.sheet-bubble,
input[type=text].sheet-bubble,
input[type=number].sheet-bubble {
    color: dimgray;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    z-index: 10;
    font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

input.sheet-smallbubble,
input[type=text].sheet-smallbubble,
input[type=number].sheet-smallbubble {
    color: dimgray;
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    z-index: 10;
    font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

.sheet-statname {
    font-weight: bold;
    font-size: 1.3em;
    vertical-align: bottom;
    font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
    color: black;
}

input.sheet-statname {
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
    vertical-align: bottom;
    font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
    color: black;
    border:none;
    background-color: transparent;
    position: relative;
    right: 5px;
    bottom: 2px;
}

input.sheet-emotionname {
  font-weight: bold;
  font-size: 1em;
  vertical-align: bottom;
  font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
  color: black;
  border: none;
  position: relative;
  width:150px !important;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;

}

input[type="radio"].sheet-normal {
    position: absolute;
    opacity: 0.0;
    width: 15px;
    cursor: pointer;
    z-index: 10;
    margin-top: 5px;
}

div.sheet-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

div.sheet-row {
  display: table-row;
  vertical-align: bottom;
  width: 100%;
}

div.sheet-col {
  display: table-col;
}

div.sheet-2col {
  display: inline;
  width: 45%;
}

div.sheet-3col {
  display: inline;
  width: 30%;
}

div.sheet-4col {
  display: table-col;
  width: 24%;
}

div.sheet-stat-width {
  width: 21% !important;
}

div.sheet-attribute-width {
  width: 20.25% !important;
}

.sheet-npcalign {
  font-size: 1.2em;
  position: relative;
  top: 2px;
}

div.sheet-spell {
  border: 1px solid black;
}
div.sheet-npc {
  border: 3px double black;
}
div.sheet-npcrow1 {
  height: 46px;
}
div.sheet-npcrow2 {
  height: 32px;
}
div.sheet-npcrow5 {
  height: 95px;
  padding-left:3px;
  padding-right:3px;
}
div.sheet-npcrow6 {
  height: 40px;
}
div.sheet-npcrow7 {
  height: 55px;
}
.sheet-underline {
  border-bottom: 1px solid black !important;
}
.sheet-rightline {
  border-right: 1px solid black !important;
}
.sheet-leftline {
  border-left: 1px solid black !important;
}
.sheet-outline {
  border: 1px solid black !important;
}

input.sheet-fakeh1 {
  width:100%;
  font-size:2.3em;
  color:black;
  font-weight: bold;
  text-align: center;
  border: none !important;
  font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

input[type="radio"] {
  opacity: 0;
}

input[type="radio"].sheet-family + span::before {
  border: solid 1px #000000;
  line-height: 11px;
  text-align: middle;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 12px;

  -moz-box-shadow: 0 0 0px #000;
  -webkit-box-shadow: 0 0 0px #000;
  box-shadow: none;

  content: "•";
  font-size: 1px;
  background: transparent;
  background-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -50;
}

input[type="radio"].sheet-family:checked + span::before {
  content: "";
  background: transparent;
  background-color: #454545;
}


input[type="radio"].sheet-normal + span::before {
    border: solid 1px #000000;
    line-height: 11px;
    text-align: middle;
    display: inline-block;
    vertical-align: middle;

    -moz-box-shadow: 0 0 0px #000;
    -webkit-box-shadow: 0 0 0px #000;
    box-shadow: 0 0 0px #000;

    content: "•";
    font-size: 1px;
    background: transparent;
    background-color: #454545;
    width: 10px;
    height: 10px;

    -webkit-font-smoothing: antialiased;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"].sheet-normal:checked ~ input[type="radio"] + span::before {
    content: "";
    background: transparent;
    background-color: none;
}

input.sheet-zero:checked + span::before {
    opacity: 0;
}

input.sheet-zero:hover + span::before {
    opacity: 0.25;
    font-size: 12px;
    content: "✘";
    text-indent: 0.5px;
    background: none;
    background-color: none;
    border-color: transparent;
}

input.sheet-zero + span::before {
    opacity: 0;
}

.sheet-relative {
  position:relative;
}

.sheet-spacer {
    height: 20px;
}

.sheet-spacer-half {
    height: 10px;
}

.sheet-spacer-quarter {
    height: 5px;
}

.sheet-skill-spacer {
    height: 5px;
    background-color: inherit;
}

select.sheet-stat-selection {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance:none;
  width:85px;
  background: transparent;
  border-top: none; border-right: none; border-left: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
  box-shadow: none;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  cursor: pointer !important;
  z-index: 10;
}

table.sheet-page2,
div.sheet-skills {
    vertical-align: top;
    display: inline-block;
    width: calc(33% - 10px);
    margin-left: 10px;
}
/* Natha */
input[type="checkbox"].sheet-showhide{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: -20px;
    opacity: 0;
}
input[type="checkbox"].sheet-showhide + span{
    display: inline-block;
    width: 20px;
    height: 20px;
}
input[type="checkbox"].sheet-showhide + span:before{
    font-size: 1.6em;
    content:"▼";
}
input[type="checkbox"].sheet-showhide:checked + span:before{
    content:"▲";
}
div.sheet-showhide{
    display: none;
}
input[type="checkbox"].sheet-showhide:checked + span ~ div.sheet-showhide{
    display: block;
}
input.sheet-stockage{
    display: none;
    width: 100px;
}
select.sheet-age.sheet-stockage{
    display: none;
    width: 100px;
}
input.sheet-stockage:checked + select.sheet-age.sheet-stockage{
    display: inline-block;
    width: 100px;
}
.sheet-top{
    vertical-align: top;
}
.sheet-nowrap{
    white-space: nowrap;
}
div.sheet-theskills{
    display: block !important;
    text-align: left;
}
textarea.sheet-smalltext{
    height: 20px;
}
div.sheet-theskills .repcontainer .repitem {
    float: left !important;
}
div.sheet-theskills .repcontrol{
    display: block !important;
}
div.sheet-apracticelog{
    display: block;
    margin-bottom: 2px;
    white-space: nowrap;
}
div.sheet-askill{
    display: inline-block;
}

.repcontainer[data-groupname=repeating_practicelogs] .repitem:nth-child(even),
.repcontainer[data-groupname=repeating_learned] .repitem:nth-child(odd),
.repcontainer[data-groupname=repeating_skill] .repitem:nth-child(even) {
    background-color: #E8E8E8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.repcontainer[data-groupname=repeating_practicelogs] .repitem:nth-child(odd),
.repcontainer[data-groupname=repeating_learned] .repitem:nth-child(even),
.repcontainer[data-groupname=repeating_skill] .repitem:nth-child(odd) {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.sheet-alearned{
    display: inline-block;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}
/* End Natha */
.sheet-stride {
    font-weight: bold;
    font-size: 1.1em;
}

.sheet-page2 th {
    text-align: center;
    font-size: 2em;
}

.sheet-skills select {
    width: 75px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
    font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.sheet-desc {
    padding-left: 10px;
    padding-right: 10px;
}

table.sheet-page3 {
    width: 100%;
    font-weight: bold;
}

table.sheet-page3 td {
    border: 1px solid black;
    text-align: center;
}

input[type="text"]:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  background: transparent;
}

table.sheet-page3 select,
table.sheet-weapons select,
table.sheet-page2 select.sheet-underline,
.charsheet .sheet-skills select.sheet-underline {
    width: 20px;
    height: 22px;
    margin: 0px;
    padding: 0px;
    border: none;
    box-shadow: none;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

table.sheet-page2 select.sheet-underline,
.charsheet .sheet-skills select.sheet-underline {
    border-bottom: 1px solid black;
    width: 25px;
}

table.sheet-weapons select {
    width: 65px;
    text-align: center;
    color: black;
}

table.sheet-page3 input[type=radio] {
    height: 10px;
}

table.sheet-page3 textarea {
    background: none;
    box-shadow: none;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-left: -5px;
    text-align: center;
}

table.sheet-weapons {
    text-align: center;
    font-weight: bold;
    color: black;
    display: inline-block;
    vertical-align: top;
}

table.sheet-weapons input[type=text] {
    background: none;
    box-shadow: none;
    border: none;
    width: 20px;
    height: 20px;
}

table.sheet-weapons th {
    border-bottom: 1px solid black;
    vertical-align: bottom;
    text-align: center;
}

table.sheet-weapons td {
    padding: 2px;
}

table.sheet-weapons td.sheet-header {
    font-size: 2em;
    text-align: center;
}

button[type=roll].sheet-roll{
    border: none;
    box-shadow: none;
    background: none;
    background-color: inherit;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    height: 22px;
    width: 22px;
}

button[type=roll].sheet-roll::before {
   font-family: "dicefontd6";
   content: "f";
   font-size: 1.7em;
}

button[type=roll].sheet-roll:hover {
   text-transform: uppercase;
}

button[type=roll].sheet-quote{
    border: none;
    box-shadow: none;
    background: none;
    background-color: inherit;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    height: 22px;
    width: 22px;
    position: relative;
    top: 5px;
}

button[type=roll].sheet-quote::before {
   font-family: "Pictos Custom";
   content: "y";
   font-size: 1.6em;
}

button[type=roll].sheet-quote:hover {
   color: gray;
}

.sheet-opencontinaer {
    position: relative;
    display: inline-block;
    bottom: 20px; right: 15px;
}

input[type=radio].sheet-openended {
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 20px;
    width: 20px;
}

input[type=radio].sheet-openended + span {
    position: absolute;
}

input[type=radio].sheet-openended ~ span::before {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: none;
    content: "✧";
    font-size: 1.6em;
    height: 20px;
    width: 20px;
    color: gray;
}

input[type=radio].sheet-openended:hover + span::before {
    /* content: "✧"; */
    color: black;
}

input[type=radio].sheet-openended.sheet-checked:checked ~ span::before {
    content: "✦";
    color: black;
}

input[type=radio].sheet-openended.sheet-checked {
    z-index: 100;
}

input[type=radio].sheet-openended.sheet-unchecked {
    z-index: 101;
}

input[type=radio].sheet-openended.sheet-unchecked:checked ~ input[type=radio].sheet-openended.sheet-checked {
    z-index: 102;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

.sheet-learned2 {
    display: none;
}

.sheet-learned:checked + .sheet-learned2 {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance:none;
  width:85px;
  background: transparent;
  border-top: none; border-right: none; border-left: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
  box-shadow: none;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  cursor: pointer !important;
}

.sheet-lifepath {
    display: inline-block;
    vertical-align: top;
}

.sheet-lifepath td {
    border: 1px solid black;
}

td.sheet-noborder {
    border: none !important;
}

.sheet-lifepath input {
    background: none;
    border: none;
}

.sheet-lifepath input[type=number] {
    text-align: center;
    width: 25px;
    -moz-appearance:textfield;
    font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
}

.sheet-lifepath select.sheet-age {
    background: none;
    width: 130px;
    box-shadow: none;
    border: none;
    height: 18px;
    margin: 0px;
    padding: 0px;
}

.sheet-lifepath select.sheet-skills {
    background: none;
    width: 95px;
    box-shadow: none;
    border: none;
    height: 18px;
    margin: 0px;
}

.sheet-lifepath input[type=checkbox] {
    box-shadow: none;
    border: 1px solid black;
}

.sheet-lifepath .sheet-skillname {
    width: 150px;
}

.sheet-lifepath .sheet-description {
    text-align: justify;
    text-wrap: normal;
    padding: 5px;
}

.sheet-lifepath.attributes {
    vertical-align: top;
}

.sheet-lifepath.attribute {
    width: 80px;
}

.sheet-lifepath .sheet-center {
    text-align: center;
}

textarea, select, .uneditable-input {
    margin-bottom: 0px;
}

/* MODIFY ROLL20 BUILT-IN BUTTONS FOR REPEATING SEGMENTS */

/* Copied and edited from user Vince: https://app.roll20.net/forum/post/882997/css-wizardry/?pageforid=2849556#post-2849556 */
/* Overlay the +Add button with content text. */
[data-groupname=repeating_class-ability] > button.btn.repcontrol_add:after {
  content: "Add Another Class Ability for CPP";
  background-color: rgba(30, 20, 20, 0.3);
  z-index: 9999 !important;
}

/* Overlay the Modify/Done button.  Overlying text is static */
[data-groupname=repeating_class-ability] > button.btn.repcontrol_edit:after {
  content: "Adjust Class Abilities for CPP";
  background-color: rgba(30, 20, 20, 0.3);
  z-index: 9999 !important;
}

.charsheet .repcontainer .repitem .itemcontrol .repcontrol_move,
.charsheet .repcontainer .repitem .itemcontrol .repcontrol_del {
  float: left !important;
  z-index: 99999 !important;
}

/* this sets the formatting for all repcontrol buttons */
.charsheet .repcontrol_add,
.charsheet .repcontrol_edit {
  display: block;
  height: 1.2em;
  background-color: #E8E8E8;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  font-family: "Crimson Pro", "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 9999;
}

/* ROLL TEMPLATE CSS */

.sheet-rolltempalte-bwfate,
.sheet-rolltempalte-bwquote,
.sheet-rolltempalte-bw {
    color: black;
}

.sheet-rolltemplate-bwfate .sheet-background,
.sheet-rolltemplate-bwquote .sheet-background,
.sheet-rolltemplate-bw .sheet-background {
    width: 90%;
    height: 100%;
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Burning%20Wheel/img/texture.jpg) top left;
    background-size: 200px 100%;
    background-repeat: repeat;
    font-family: "PT Serif", "Nimbus Roman No9 L Regular", "Liberation Serif", "Times New Roman", "Mac OS Roman", Times, "Roman", serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-spacing: 0;
    border: 1px solid black;
}

.sheet-rolltemplate-bwfate .sheet-header,
.sheet-rolltemplate-bwquote .sheet-header,
.sheet-rolltemplate-bw .sheet-header {
    padding-top: 8px;
    font-size: 2em;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.sheet-rolltemplate-bwfate .sheet-black,
.sheet-rolltemplate-bwquote .sheet-black,
.sheet-rolltemplate-bw .sheet-black {
    background-color: black;
    color: white;
}

.sheet-rolltemplate-bwfate .sheet-gray,
.sheet-rolltemplate-bwquote .sheet-gray,
.sheet-rolltemplate-bw .sheet-gray {
    background-color: gray;
    color: black;
}

.sheet-rolltemplate-bwfate .sheet-white,
.sheet-rolltemplate-bwquote .sheet-white,
.sheet-rolltemplate-bw .sheet-white {
    background-color: white;
    color: black;
}

.sheet-rolltemplate-bwfate .sheet-column,
.sheet-rolltemplate-bwquote .sheet-column,
.sheet-rolltemplate-bw .sheet-column {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 1%);
    min-height: 20px;
}

.sheet-rolltemplate-bwfate .sheet-left,
.sheet-rolltemplate-bwquote .sheet-left,
.sheet-rolltemplate-bw .sheet-left {
    text-align: left;
}

.sheet-rolltemplate-bwfate .sheet-right,
.sheet-rolltemplate-bwquote .sheet-right,
.sheet-rolltemplate-bw .sheet-right {
    text-align: right;
}

.sheet-rolltemplate-bwfate .sheet-center,
.sheet-rolltemplate-bwquote .sheet-center,
.sheet-rolltemplate-bw .sheet-center {
    text-align: center;
}

.sheet-rolltemplate-bwfate .sheet-attr,
.sheet-rolltemplate-bwquote .sheet-attr,
.sheet-rolltemplate-bw .sheet-attr {
    display: inline-block;
    width: 70%;
}

.sheet-rolltemplate-bwquote .sheet-title {
    display: inline-block;
    width: 35%;
    text-align: right;
    vertical-align: top;
    margin-left: 3px;
    font-weight: bold !important;
}

.sheet-rolltemplate-bwquote .sheet-slot {
    display: inline-block;
    width: 60%;
    text-align: center;
    vertical-align: top;
    font-weight: normal !important;
}

.sheet-rolltemplate-bwfate .sheet-italic,
.sheet-rolltemplate-bwquote .sheet-italic,
.sheet-rolltemplate-bw .sheet-italic {
    font-style: italic;
}

.sheet-rolltemplate-bwfate .sheet-num,
.sheet-rolltemplate-bwquote .sheet-num,
.sheet-rolltemplate-bw .sheet-num {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.sheet-rolltemplate-bwfate .sheet-padleft,
.sheet-rolltemplate-bwquote .sheet-padleft,
.sheet-rolltemplate-bw .sheet-padleft {
    padding-left: 3%;
}

.sheet-rolltemplate-bwfate .sheet-padright,
.sheet-rolltemplate-bwquote .sheet-padright,
.sheet-rolltemplate-bw .sheet-padright {
    padding-right: 3%;
}

.sheet-rolltemplate-bwfate .sheet-difficulty,
.sheet-rolltemplate-bwquote .sheet-difficulty,
.sheet-rolltemplate-bw .sheet-difficulty {
    border-bottom: 1px solid black;
    color: black;
}

.sheet-rolltemplate-bwfate .sheet-challenging,
.sheet-rolltemplate-bwquote .sheet-challenging,
.sheet-rolltemplate-bw .sheet-challenging {
    background-color: #888888;
}

.sheet-rolltemplate-bwfate .sheet-difficult,
.sheet-rolltemplate-bwquote .sheet-difficult,
.sheet-rolltemplate-bw .sheet-difficult {
    background-color: #b8b8b8;
}

.sheet-rolltemplate-bwfate .sheet-routine,
.sheet-rolltemplate-bwquote .sheet-routine,
.sheet-rolltemplate-bw .sheet-routine {
    background-color: #e0e0e0;
}

.sheet-rolltemplate-bwfate .sheet-results,
.sheet-rolltemplate-bw .sheet-results {
    display: inline-block;
    text-align: center;
    width: 30%;
}

.sheet-rolltemplate-bwfate .sheet-vs,
.sheet-rolltemplate-bwquote .sheet-vs,
.sheet-rolltemplate-bw .sheet-vs {
    display: inline-block;
    text-align: center;
    width: 10%;
}

.sheet-rolltemplate-bwfate .sheet-result,
.sheet-rolltemplate-bwquote .sheet-result,
.sheet-rolltemplate-bw .sheet-result {
    font-size: 2em;
}

.sheet-rolltemplate-bwfate .sheet-tall {
    height: 3em;
}

.sheet-rolltemplate-bwquote .sheet-results {
  display: inline-block;
  text-align: justify;
  text-indent: 10px;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 10px;
}
.sheet-rolltemplate-bwquote .sheet-result {
    font-size: 1em;
    font-weight: normal;
    font-family: "Roboto", "Open Sans", "Source Sans Pro", "San Francisco", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

.sheet-rolltemplate-bwfate .inlinerollresult,
.sheet-rolltemplate-bwquote .inlinerollresult,
.sheet-rolltemplate-bw .inlinerollresult,
.sheet-rolltemplate-bwfate .inlinerollresult.fullcrit,
.sheet-rolltemplate-bwquote .inlinerollresult.fullcrit,
.sheet-rolltemplate-bw .inlinerollresult.fullcrit,
.sheet-rolltemplate-bwfate .inlinerollresult.fullfail,
.sheet-rolltemplate-bwquote .inlinerollresult.fullfail,
.sheet-rolltemplate-bw .inlinerollresult.fullfail,
.sheet-rolltemplate-bwfate .inlinerollresult.importantroll,
.sheet-rolltemplate-bwquote .inlinerollresult.importantroll,
.sheet-rolltemplate-bw .inlinerollresult.importantroll {
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 1em;
    padding: 0px;
}

.sheet-rolltemplate-bwfate .sheet-resultcontainer,
.sheet-rolltemplate-bwquote .sheet-resultcontainer,
.sheet-rolltemplate-bw .sheet-resultcontainer {
    border-top: 1px solid black;
}

.sheet-rolltemplate-bwfate .sheet-red,
.sheet-rolltemplate-bwquote .sheet-red,
.sheet-rolltemplate-bw .sheet-red {
    background-color: rgb(255, 102, 94);
}

.sheet-rolltemplate-bwfate .sheet-yellow,
.sheet-rolltemplate-bwquote .sheet-yellow,
.sheet-rolltemplate-bw .sheet-yellow {
    background-color: rgb(255, 213, 0)
}

.sheet-rolltemplate-bwquote .sheet-white {
    background-color: white;
}

.sheet-rolltemplate-bwfate .sheet-green,
.sheet-rolltemplate-bwquote .sheet-green,
.sheet-rolltemplate-bw .sheet-green {
    background-color: rgb(112, 224, 163);
}

.sheet-rolltemplate-bwfate .sheet-openended,
.sheet-rolltemplate-bwquote .sheet-openended,
.sheet-rolltemplate-bw .sheet-openended {
    color: rgb(255, 213, 0) !important;
}
