/* flexbox*/
.charsheet .sheet-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sheet-container select{
    margin-bottom: 0;
}

.sheet-rolltemplate-main .sheet-colu,
.sheet-rolltemplate-main .sheet-line,
.charsheet .sheet-line,
.charsheet .sheet-colu {
    display: flex;
    gap: 0.2rem;
    flex-direction: row;
}

.sheet-rolltemplate-main .sheet-colu,
.charsheet .sheet-colu {
    flex-direction: column;
}

.sheet-text-left {
    text-align: left !important;
}

.sheet-rolltemplate-main .sheet-text-center,
.sheet-text-center {
    text-align: center !important;
}

.sheet-rolltemplate-main .sheet-text-right,
.sheet-text-right {
    text-align: right !important;
}

.sheet-align-start {
    align-items: flex-start;
}

.sheet-rolltemplate-main .sheet-align-center,
.sheet-align-center {
    align-items: center;
}

.sheet-align-end {
    align-items: flex-end;
}

.sheet-rolltemplate-main .sheet-justify-center,
.sheet-justify-center {
    justify-content: center;
}

.sheet-justify-start {
    justify-content: flex-start;
}

.sheet-justify-end {
    justify-content: flex-end;
}

.sheet-rolltemplate-main .sheet-bold,
.sheet-bold{
    font-weight: bold !important;
}
.sheet-gap05{
    gap: 0.5em !important;
}

.sheet-rolltemplate-main .sheet-w1,
.sheet-w1 {
    width: 8.3% !important;
}

.sheet-rolltemplate-main .sheet-w2,
.sheet-w2 {
    width: 16.6% !important;
}

.sheet-rolltemplate-main .sheet-w3,
.sheet-w3 {
    width: 25% !important;
}

.sheet-rolltemplate-main .sheet-w4,
.sheet-w4 {
    width: 33.3% !important;
}

.sheet-rolltemplate-main .sheet-w5,
.sheet-w5 {
    width: 41.6% !important;
}

.sheet-rolltemplate-main .sheet-w6,
.sheet-w6 {
    width: 50% !important;
}

.sheet-rolltemplate-main .sheet-w7,
.sheet-w7 {
    width: 58.3% !important;
}

.sheet-rolltemplate-main .sheet-w8,
.sheet-w8 {
    width: 66.6% !important;
}

.sheet-rolltemplate-main .sheet-w9,
.sheet-w9 {
    width: 75% !important;
}

.sheet-rolltemplate-main .sheet-w10,
.sheet-w10 {
    width: 83.3% !important;
}

.sheet-rolltemplate-main .sheet-w11,
.sheet-w11 {
    width: 99.6% !important;
}

.sheet-rolltemplate-main .sheet-w12,
.sheet-w12 {
    width: 100% !important;
}

.sheet-wa {
    flex-grow: 1;
}

/*Générique */
.sheet-invisible {
    opacity: 0 !important;
}

.sheet-rolltemplate-main .sheet-h4,
.sheet-h4 {
    width: 100%;
    text-align: center;
}

.sheet-rolltemplate-main .sheet-label,
.sheet-container label.sheet-label{
    padding-right:0;
}

.sheet-rolltemplate-main .sheet-label,
.sheet-button-label,
.sheet-container .sheet-button-label[type=roll],
.sheet-skill-label,
.sheet-label-secondary,
.sheet-label,
.sheet-input,
.sheet-input:hover,
.sheet-input:focus,
.sheet-visible-input,
.sheet-input:read-only {
    font-size: 1em;
    background: none;
    border: none;
    width: 100%;
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.sheet-container .sheet-button-label[type=roll]{
    padding: 0;
}
.sheet-container .sheet-button-label:hover{
    color:darkred;
}
.sheet-textarea {
    width: 94%;
    background-color: white;
    resize: vertical;
    height: 2.5em;
}

.sheet-input[type=number],
.sheet-visible-input[type=number] {
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

.sheet-input[type=number]::-webkit-inner-spin-button,
.sheet-visible-input[type=number]::-webkit-inner-spin-button,
.sheet-input[type=number]::-webkit-outer-spin-button,
.sheet-visible-input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sheet-rolltemplate-main .sheet-border-bottom,
.sheet-border-bottom,
.sheet-visible-input {
    border-bottom: 1px solid #d3d3d3;
}

.sheet-visible-input:focus {
    border-bottom: 1px solid lightsteelblue;
}

.sheet-rolltemplate-main .sheet-label,
.sheet-attq-label,
.sheet-skill-label,
.sheet-label-secondary,
.sheet-label {
    font-weight: normal;
    font-size: 1em;
}

.sheet-label-secondary {
    color: #a0a0a0;
}

.sheet-button-roll {
    font-family: 'dicefontd20';
    border: none;
    background: none;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.4em !important;
    font-weight: 150 !important;
}

.sheet-picto {
    font-family: 'Pictos';
}

.sheet-container .sheet-button-label[type=roll],
.sheet-container .sheet-button-roll[type=roll],
.sheet-container .sheet-picto[type=roll] {
    box-shadow: none;
}

.sheet-button-label[type=roll]:before,
.sheet-button-roll[type=roll]:before,
.sheet-picto[type=roll]:before {
    content: "" !important;
}

/* OPTIONS FLAGS */
.sheet-options-flag ~ .sheet-options-display {
    display: flex !important;
}

.sheet-options-flag ~ .sheet-options-options {
    gap: 0.25em;
    display: none !important;
}

.sheet-options-flag:checked ~ .sheet-options-options {
    display: flex !important;
}

.sheet-options-flag:checked ~ .sheet-options-display {
    display: none !important;
}

.sheet-options-flag,
.sheet-options-flag + span {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 18px !important;
    height: 18px !important;
}

.sheet-options-flag + span {
    white-space: nowrap;
    font-size: 20px;
    font-family: pictos;
    color: #A0A0A0;
    cursor: pointer;
    margin-top: 0px;
    display: none;
}

.sheet-options-flag {
    opacity: 0;
    z-index: 10;
}

.sheet-line:hover > .sheet-options-flag + span,
.sheet-line:hover > .sheet-options-flag,
.sheet-attq:hover > .sheet-options-flag + span,
.sheet-attq:hover > .sheet-options-flag,
.sheet-skill:hover > .sheet-options-flag + span,
.sheet-skill:hover > .sheet-options-flag {
    display: block;
}
/* CONTAINER */
.sheet-container{
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}
/*HEADER */
.sheet-header{
    background: url("https://app.roll20.net/images/dndstyling/CharScroll.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 850px;
    height: 140px;
}
.sheet-header .sheet-name{
    padding-top: 4.5em;
}
.sheet-header .sheet-name .sheet-visible-input{
    font-weight: bold;
    font-size: 1.5em;
}
.sheet-header .sheet-name .sheet-label{
    padding-top: 1.1em;
    padding-left: 2em;
}
.sheet-header .sheet-charbox{
    background-image: url("https://app.roll20.net/images/dndstyling/CharBox.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    padding-top: 3.65em;
    padding-left: 1em;
    gap:0;
}
.sheet-header .sheet-charbox .sheet-visible-input,
.sheet-header .sheet-charbox .sheet-input {
    padding-top: 0.05em;
    padding-bottom: 0em;
}
.sheet-header .sheet-charbox .sheet-label{
    font-size: 0.75em;
}
.sheet-header .sheet-charbox .sheet-line{
    gap: 0.5em;
}
.sheet-header .sheet-charend{
    background-image: url("https://app.roll20.net/images/dndstyling/ScrollRight.svg");
    background-repeat: no-repeat;
    background-position: -0.5em 65%;
    background-size: auto 45%;
}
/* ATTRIBUTS */

.sheet-attributes {
    background: url("https://i.imgur.com/PjEV3rj.png");
    width: 75px !important;
    min-width: 75px !important;
    margin: 0 !important;
    gap: 1rem;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sheet-attribute {
    background: url("https://app.roll20.net/images/dndstyling/ability-STR.svg");
    margin: 0 !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    align-items: center;
}

.sheet-attribute:first-child {
    margin-top: 4rem !important;
}

.sheet-attribute:last-child {
    margin-bottom: 4rem !important;
}

.sheet-container .sheet-attribute .sheet-button-label {
    font-weight: bold;
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
}

.sheet-attribute .sheet-input {
    width: 30%;
    text-align: center;
}

.sheet-attribute .sheet-input:read-only {
    width: 50%;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

/* MASTERIES */

.sheet-container .sheet-masteries {
    margin: 0;
    margin-top: 0.5em;
    padding: 0.8em;
}

/* Attaques */
.sheet-attaques{
    margin: 0 !important;
    margin-top: 1em !important;
    padding: 0.75em;
}
.sheet-attq {
    margin: 0 !important;
    padding-bottom: 0.2em;
}
.sheet-container .sheet-attq .sheet-button-label{
    padding: 0.2em;
}
.sheet-attq ~ .sheet-attq{
    margin-top: 0.75em !important;
}

/* SKILLS */

.sheet-skills {
    margin: 0 !important;
    margin-top: 2rem !important;
    padding: 1rem;
}

.sheet-attq-label,
.sheet-skill-label {
    text-align: right;
}

.sheet-skill .sheet-button-roll {
    margin-right: 9px !important;
}

/* JDS */

.sheet-saves {
    /*background: url("https://i.imgur.com/wWuS9EM.png");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    */
    margin: 0 !important;
    //margin-top: 4rem !important;
    padding: 0.75em;
}

.sheet-saves .sheet-button-label {
    text-align: left;
}

.sheet-saves .sheet-label,
.sheet-saves .sheet-input {
    text-align: center;

}

/* ARMORS */
.sheet-armor{
    position: relative;
    margin-bottom: 0.6em;
}

.sheet-armor:hover > .sheet-options-flag + span,
.sheet-armor:hover > .sheet-options-flag{
    display: block;
}
/* TRAITS */

.sheet-traits {
    margin: 0;
    padding: 0.8em;
}

.sheet-traits{
    margin-bottom: 0.6em;
}

.sheet-trait ~ .sheet-trait{
    margin-top: 0.5em;
}
.sheet-trait:hover > .sheet-options-flag + span,
.sheet-trait:hover > .sheet-options-flag{
    display: block;
}

/* HP */

.sheet-HP {
    padding: 0.5em;
    margin-top: 0.25em;
}

.sheet-HP > .sheet-input {
    width: 100% !important;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1em;
}
/* Inventory */
.sheet-inventory-list{
    margin: 0;
    margin-top: 0.5em;
    padding: 0.8em;
}

.sheet-inventory{
    margin-bottom: 0.6em;
}

.sheet-inventory:hover > .sheet-options-flag + span,
.sheet-inventory:hover > .sheet-options-flag{
    display: block;
}
/*AC & stat*/

.sheet-stat,
.sheet-AC {
    background: url("https://app.roll20.net/images/dndstyling/AC.svg");
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
}

.sheet-stats {
    gap: 1em;
}

.sheet-stat {
    margin-top: 0.75em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    background: url("https://app.roll20.net/images/dndstyling/vital-box.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.sheet-stat .sheet-input,
.sheet-AC .sheet-input {
    width: 50%;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;

}

.sheet-stat .sheet-label,
.sheet-AC .sheet-label {
    display: flex;
    font-weight: bold;
    height: 2.5em;
    margin: 0;
    margin-top: 0.5em;
    padding: 0 !important;
    text-align: center;
    width: 100%;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    align-items: center;
    justify-content: center;
}

.sheet-stat .sheet-label {
    margin-top: 1em;
    height: 1.25em;
}
/*Config */
.sheet-config,
.sheet-rolltemplate-main .sheet-template{
    padding: 0.75em;
}
/*Bio*/
.sheet-journal,
.sheet-journal > .sheet-colu{
    gap: 1.25em;
}
.sheet-bio{
    padding-left: 0.75em;
    padding-top: 0.75em;
}
.sheet-journal .sheet-bio textarea{
    width: 95%
}
/*SPELLS*/
.sheet-spells{
    gap: 2em;
}
.sheet-spell-group ~ .sheet-spell-group{
    margin-top: 1.5em;
}
.sheet-spell-header{
    background: url("https://app.roll20.net/images/dndstyling/SpellLevel.svg");
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;
    justify-content: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 0.35em;
    padding-right: 0.35em;
}
.sheet-spell-header .sheet-input,
.sheet-spell-header .sheet-label{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.sheet-spell-header .sheet-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-spells-list{
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.sheet-spell:hover > .sheet-options-flag + span,
.sheet-spell:hover > .sheet-options-flag{
    display: block;
}
/**/
.sheet-container .sheet-gray-line[type=roll],
.sheet-container .sheet-gray-line{
    background-color: #DCDDDE !important;
    border-top-left-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}
/* NPC */
.sheet-container .sheet-npc {
    gap: 0.75em;
}
.sheet-container .sheet-npc-colu{
    margin: 0;
    margin-top: 0.5em;
    padding: 0.8em;
}

.sheet-container .sheet-npc-skills .repcontainer{
    display: flex;
    flex-wrap: wrap;
}
    /* TABS */
/* configure the tab buttons */

.charsheet .sheet-character,
.charsheet .sheet-npc,
.charsheet .sheet-journal,
.charsheet .sheet-spells,
.charsheet .sheet-configuration {
    display: none;
}

/* style the active button */

.charsheet .sheet-tabstoggle[value="character"] ~ div .sheet-button0 {
    outline: 2px solid red;
}

.charsheet .sheet-tabstoggle[value="journal"] ~ div .sheet-button1 {
    outline: 2px solid red;
}

.charsheet .sheet-tabstoggle[value="spells"] ~ div .sheet-button2 {
    outline: 2px solid red;
}

.charsheet .sheet-tabstoggle[value="configuration"] ~ div .sheet-button3 {
    outline: 2px solid red;
}

/* show the selected tab */

.charsheet .sheet-tabstoggle[value="character"] ~ .sheet-charactertoogle[value="pc"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="character"] ~ .sheet-charactertoogle[value="npc"] ~ div.sheet-npc,
.charsheet .sheet-tabstoggle[value="journal"] ~ div.sheet-journal,
.charsheet .sheet-tabstoggle[value="spells"] ~ div.sheet-spells,
.charsheet .sheet-tabstoggle[value="configuration"] ~ div.sheet-configuration {
    display: inherit;
}


/* Cadre*/

.sheet-rolltemplate-main .sheet-h4,
.sheet-rolltemplate-main .sheet-line{
    background-color: white;
}

.sheet-rolltemplate-main .sheet-cadre,
.sheet-cadre {
    background: url("https://i.imgur.com/Wp1ZHsl.png") top right no-repeat, /* top right*/ url("https://i.imgur.com/GCE7492.png") bottom right no-repeat, /* bottom right*/ url("https://i.imgur.com/zqrW9L8.png") top left no-repeat, /* top left*/ url("https://i.imgur.com/CAVKz5Y.png") bottom left no-repeat, /* bottom left*/ url("https://i.imgur.com/VCIW1Ao.png") top center no-repeat, /* top*/ url("https://i.imgur.com/GXtBZxt.png") bottom center no-repeat, /* bottom ?*/ url("https://i.imgur.com/Iu3ddwS.png") center left no-repeat, /* left */ url("https://i.imgur.com/9rsKecI.png") center right no-repeat, /* right */ url("https://i.imgur.com/7Drs5h2.png") center center no-repeat /* center */;
    background-size: 14px 25px,
    14px 25px,
    14px 25px,
    14px 25px,
    calc(100% - 27px) 14px,
    calc(100% - 27px) 14px,
    14px calc(100% - 49px),
    14px calc(100% - 49px),
    calc(100% - 27px) calc(100% - 49px);
    min-height: 50px;
}

/*.sheet-cadre { !* Ne marche pas bien *!
    border: solid #d3d3d3;
    border-width: 5px; !*25px 14px 25px 14px;*!
    border-image: url("https://i.imgur.com/m8DwZfX.png") 25 14 25 14 / auto / 13px 7px 13px 7px stretch stretch; !*TOP RIGHT BOTTOM LEFT *!
}*/
/*.sheet-cadre-b {
    border: solid #d3d3d3;
    border-width: 14px 14px 25px 14px;
    border-image: url("https://i.imgur.com/DpOiTej.png") 14 14 25 14 stretch stretch; !*TOP RIGHT BOTTOM LEFT *!
}*/
/*
    BL-b : https://i.imgur.com/2C2P0f0.png
    BR-b : https://i.imgur.com/sTiZduk.png
 */

.sheet-cadre-b {
    background: url("https://i.imgur.com/KSU5hCM.png") top right no-repeat, /* top right*/ url("https://i.imgur.com/GCE7492.png") bottom right no-repeat, /* bottom right*/ url("https://i.imgur.com/0ubwe8d.png") top left no-repeat, /* top left*/ url("https://i.imgur.com/CAVKz5Y.png") bottom left no-repeat, /* bottom left*/ url("https://i.imgur.com/VCIW1Ao.png") top center no-repeat, /* top*/ url("https://i.imgur.com/GXtBZxt.png") bottom center no-repeat, /* bottom ?*/ url("https://i.imgur.com/Iu3ddwS.png") center left no-repeat, /* left */ url("https://i.imgur.com/9rsKecI.png") center right no-repeat, /* right */ url("https://i.imgur.com/7Drs5h2.png") center center no-repeat /* center */;
    background-size: 14px 14px,
    14px 25px,
    14px 14px,
    14px 25px,
    calc(100% - 27px) 14px,
    calc(100% - 27px) 14px,
    14px calc(100% - 27px),
    14px calc(100% - 27px),
    calc(100% - 27px) calc(100% - 27px);
    min-height: 50px;
}

.sheet-cadre-ct {
    background: url("https://i.imgur.com/KSU5hCM.png") top right no-repeat, /* top right*/ url("https://i.imgur.com/zSXbhRq.png") bottom right no-repeat, /* bottom right*/ url("https://i.imgur.com/0ubwe8d.png") top left no-repeat, /* top left*/ url("https://i.imgur.com/SFTtJwz.png") bottom left no-repeat, /* bottom left*/ url("https://i.imgur.com/VCIW1Ao.png") top center no-repeat, /* top*/ url("https://i.imgur.com/GXtBZxt.png") bottom center no-repeat, /* bottom ?*/ url("https://i.imgur.com/Iu3ddwS.png") center left no-repeat, /* left */ url("https://i.imgur.com/9rsKecI.png") center right no-repeat, /* right */ url("https://i.imgur.com/7Drs5h2.png") center center no-repeat /* center */;
    background-size: 14px 14px,
    18px 14px,
    14px 14px,
    18px 14px,
    calc(100% - 27px) 14px,
    calc(100% - 27px) 14px,
    14px calc(100% - 27px),
    14px calc(100% - 27px),
    calc(100% - 27px) calc(100% - 27px);
    min-height: 50px;
}

.sheet-cadre-cb {
    background: url("https://i.imgur.com/H1k4xVd.png") top right no-repeat, /* top right*/ url("https://i.imgur.com/sTiZduk.png") bottom right no-repeat, /* bottom right*/ url("https://i.imgur.com/twewlIr.png") top left no-repeat, /* top left*/ url("https://i.imgur.com/2C2P0f0.png") bottom left no-repeat, /* bottom left*/ url("https://i.imgur.com/VCIW1Ao.png") top center no-repeat, /* top*/ url("https://i.imgur.com/GXtBZxt.png") bottom center no-repeat, /* bottom ?*/ url("https://i.imgur.com/Iu3ddwS.png") center left no-repeat, /* left */ url("https://i.imgur.com/9rsKecI.png") center right no-repeat, /* right */ url("https://i.imgur.com/7Drs5h2.png") center center no-repeat /* center */;
    background-size: 18px 14px,
    14px 14px,
    18px 14px,
    14px 14px,
    calc(100% - 27px) 14px,
    calc(100% - 27px) 14px,
    14px calc(100% - 27px),
    14px calc(100% - 27px),
    calc(100% - 27px) calc(100% - 27px);
    min-height: 50px;
}

.sheet-gray-bg-b {
    background: url("https://i.imgur.com/PsSvf4x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    min-height: 50px;
    padding: 0.75em;
}
