.ui-dialog .tab-content .charsheet .main {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: normal;
    position: relative;
    text-align: left;
}

.ui-dialog .tab-content .charsheet .two-column-grid {
    column-gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.ui-dialog .tab-content .charsheet .two-column-grid .col {
    margin-block: 2px;
    margin-inline: auto;
    width: 100%;
}

.ui-dialog .tab-content .charsheet .eight-column-grid {
    column-gap: 1em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
}

.ui-dialog .tab-content .charsheet .eight-column-grid .col {
    margin-block: 2px;
    margin-inline: auto;
    width: 100%;
}


.ui-dialog .tab-content .charsheet .ten-column-grid {
    column-gap: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
}

.ui-dialog .tab-content .charsheet .ten-column-grid .col {
    margin-block: 2px;
    margin-inline: auto;
    width: 100%;
}

.ui-dialog .tab-content .charsheet .three-column-fit {
    column-gap: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
}

.ui-dialog .tab-content .charsheet .three-column-fit .col {
    margin-block: 2px;
    margin-inline: auto;
    width: 100%;
}

.ui-dialog .tab-content .charsheet .span-2 {
    grid-column: span 3;
}

.ui-dialog .tab-content .charsheet .logo-text {
    color: red;
    float: left;
    font-family: Stencil Std, fantasy;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    top: -1em;
    transform: rotate(-45deg);
}

.ui-dialog .tab-content .charsheet .logo-text-first-line {
    text-align: center;
}

.ui-dialog .tab-content .charsheet .logo-text-second-line {
    padding-top: 10px;
    text-align: center;
}

.ui-dialog .tab-content .charsheet .page-title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2em;
    text-align: center;
}

.ui-dialog .tab-content .charsheet .section-title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5em;
}

.ui-dialog .tab-content .charsheet label {
    font-size: 1em;
}

.ui-dialog .tab-content .charsheet input[disabled],
.ui-dialog .tab-content .charsheet input[readonly],
 .ui-dialog .tab-content .charsheet .readonly {
    background-color: #99999959;
    color: #777;
    pointer-events: none;
    cursor: default;
}

.ui-dialog .tab-content .charsheet input.tab {
    border: 5px #888888;
    cursor: pointer;
    height: 20px;
    left: 6px;
    margin: 10px -1.5px;
    position: relative;
    width: 132px;
    z-index: 1;
}

.ui-dialog .tab-content .charsheet input.tab::before {
    background: #dddddd;
    border: 2px solid #888888;
    color: #aa0000;
    content: attr(title);
    display: inline-block;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 16px;
    height: 20px;
    text-align: center;
    width: 150px;
}

.ui-dialog .tab-content .charsheet input.tab:checked::before {
    background: #aa0000;
    border: 2px solid #888888;
    color: white;
}

.ui-dialog .tab-content .charsheet .tab-content {
    display: none;
}

.ui-dialog .tab-content .charsheet input.tab1:checked ~ div.tab1,
.ui-dialog .tab-content .charsheet input.tab2:checked ~ div.tab2,
.ui-dialog .tab-content .charsheet input.tab3:checked ~ div.tab3,
.ui-dialog .tab-content .charsheet input.tab4:checked ~ div.tab4,
.ui-dialog .tab-content .charsheet input.tab5:checked ~ div.tab5,
.ui-dialog .tab-content .charsheet input.tab6:checked ~ div.tab6 {
    display: block;
}

.ui-dialog .tab-content .charsheet .instruction {
    font-size: 0.8em;
    font-style: italic;
    padding-bottom: 10px;
}

.ui-dialog .tab-content .charsheet .personal-traits-left-column {
    width: 45em;
}

.ui-dialog .tab-content .charsheet .trait-box {
    width: 3em;
}

.ui-dialog .tab-content .charsheet .weapons-grid {
    display: grid;
    grid-template-columns: minmax(12em, 3fr) minmax(9em, 1.5fr) 5em 2.5em 6em 3em 3em 3em 3em 3em;
    column-gap: 2px;
}

.ui-dialog .tab-content .charsheet .weapons-grid > * {
    display: block;
    font-weight: bold;
    justify-items: center;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

.ui-dialog .tab-content .charsheet .weapon-range-modifier-column {
    grid-column: span 4;
    margin-bottom: -1.5em;
}

.ui-dialog .tab-content .charsheet .general-column-header {
    font-weight: bold;
    text-align: center;
    width: 50%;
}

.ui-dialog .tab-content .charsheet .general-column {
    width: 50%;
}

.ui-dialog .tab-content .charsheet .equipment-carried-column {
    width: 100%;
}

.ui-dialog .tab-content .charsheet .full-width-element {
    width: 100%;
}

.ui-dialog .tab-content .charsheet .tab4 .aok-grid {
    display: grid;
    grid-template-columns: 19em 10em;
    width: min-content;
}

.ui-dialog .tab-content .charsheet .area-of-knowledge-value-column-header {
    font-weight: bold;
}

.ui-dialog .tab-content .charsheet .height-column {
    width: 4em;
}

.ui-dialog .tab-content .charsheet .weight-column {
    width: 4em;
}

.ui-dialog .tab-content .charsheet .sex-column {
    width: 2em;
}

.ui-dialog .tab-content .charsheet .age-column {
    width: 3em;
}

.ui-dialog .tab-content .charsheet .right-aligned {
    text-align: right;
}

.ui-dialog .tab-content .charsheet .top-padding {
    padding-top: 15px;
}

.ui-dialog .tab-content .charsheet .title-top-padding {
    padding-top: .75em;
}

.ui-dialog .tab-content .charsheet .name-field {
    width: 25em;
}

.ui-dialog .tab-content .charsheet .handedness-field {
    width: 5em;
}

.ui-dialog .tab-content .charsheet .language-fluency-column {
    margin-left: -10em;
    width: 5em;
}

.ui-dialog .tab-content .charsheet .language-fluency-field {
    width: 5em;
}

.ui-dialog .tab-content .charsheet .languages-known-column {
    width: 25em;
}

.ui-dialog .tab-content .charsheet .languages-known-field {
    width: 15em;
}

.ui-dialog .tab-content .charsheet .text-area {
    width: 100%;
}