-
	const attributes = ["strength", "dexterity", "constitution", "intelligence", "wisdom", "charisma"];
	const attributesAbbr = ['str', 'dex', 'con', 'int', 'wis', 'cha'];
	const customSkills = {
		culture_alien: "Culture/Alien/",
		culture_one: "Culture/",
		culture_two: "Culture/",
		culture_three: "Culture/",
		profession: "Profession/"
	};
	const skills = {
		revised: ["administer", "connect", "exert", "fix", "heal", "know", "lead",
			"notice", "perform", "pilot", "program", "punch", "shoot", "sneak", "stab",
			"survive", "talk", "trade", "work"],
		cwn: ["administer", "connect", "drive", "exert", "fix", "heal", "know", "lead",
			"notice", "perform", "program", "punch", "shoot", "sneak", "stab",
			"survive", "talk", "trade", "work"],
		psionic: ["biopsionics", "metapsionics", "precognition", "telekinesis", "telepathy", "teleportation"],
		magic: ["cast", "summon"],
		spaceMagic: ["magic"],
		wwn: ["administer", "connect", "convince", "craft", "exert", "heal", "know", "lead", "magic", "notice", "perform", "pray", "punch", "ride", "sail", "shoot", "sneak", "stab", "survive", "trade", "work"],
		combatRevised: ["exert", "punch", "shoot", "stab"],
		combatSkills: ["exert", "punch", "shoot", "stab", "magic"] ,
	};
	const core = {
		swnInfo: ["species_gender", "faction", "homeworld"],
		wwnInfo: ["homeland", "occupation", "race_species"]
	}
	const armor = {
		cwn: [ "armor_ranged_ac","armor_melee_ac", "armor_damage_soak", "armor_trauma_target_mod"],
		types:  ["PRIMITIVE", "STREET", "COMBAT", "POWERED", "SHIELD", "ARTIFACT"],
		wwnTypes: ["LIGHT", "MEDIUM", "HEAVY", "SHIELD"],
		cwnTypes: ["CIVILIAN", "SUIT", "ACCESSORY"],
		status: ["READIED", "STOWED"]
	}
	const saves = ["physical", "mental", "evasion", "luck"]
	const subSystems = [ "cyberdeck", "cyberware", "graced", "invoker","legate", "magic", "magical_arts", "psionics", "space_magic"]
	const swnLogo = "https://raw.githubusercontent.com/clevett/roll20-character-sheets/withnumbers-1.0/Without%20Numbers/Assets/swn_black.png"
	const cwnLogo = "https://raw.githubusercontent.com/clevett/roll20-character-sheets/withnumbers-1.0/Without%20Numbers/Assets/cwn.png"
	const wwnLogo = "https://raw.githubusercontent.com/clevett/roll20-character-sheets/withnumbers-1.0/Without%20Numbers/Assets/wwn.png"