-
	const attributes = ["strength", "dexterity", "constitution", "intelligence", "wisdom", "charisma"];
	const customSkills = {
		culture_alien: "Culture/Alien/",
		culture_one: "Culture/",
		culture_two: "Culture/",
		culture_three: "Culture/",
		profession: "Profession/"
	};
	const skills = {
		revised: ["administer", "connect", "exert", "fix", "heal", "know", "lead",
			"notice", "perform", "pilot", "program", "punch", "shoot", "sneak", "stab",
			"survive", "talk", "trade", "work"],
		cwn: ["administer", "connect", "drive", "exert", "fix", "heal", "know", "lead",
			"notice", "perform", "program", "punch", "shoot", "sneak", "stab",
			"survive", "talk", "trade", "work"],
		psionic: ["biopsionics", "metapsionics", "precognition", "telekinesis", "telepathy", "teleportation"],
		magic: ["know_magic", "use_magic", "sunblade"],
		wwn: ["administer", "connect", "convince", "craft", "exert", "heal", "know", "lead", "magic", "notice", "perform", "pray", "punch", "ride", "sail", "shoot", "sneak", "stab", "survive", "trade", "work"],
		combatRevised: ["exert", "punch", "shoot", "stab"],
		combatSkills: ["exert", "punch", "shoot", "stab", "magic"] ,
	};
	const core = {
		swnInfo: ["species_gender", "faction", "homeworld"],
		wwnInfo: ["homeland", "occupation", "race_species"]
	}
	const saves = ["physical", "mental", "evasion", "luck"]
	const armorTypes = ["PRIMITIVE", "STREET", "COMBAT", "POWERED", "SHIELD", "ARTIFACT"]
	const armorStatus = ["READIED", "STOWED"]
	const subSystems = ["space_magic", "magic", "psionics"]
	const swnLogo = "https://raw.githubusercontent.com/roll20/roll20-character-sheets/master/Stars_Without_Number_Revised/Assets/logo.png"