//- Header
.header.flex-center
	img.logo.swn(src=swnLogo, alt="Stars Without Number")
	img.logo.wwn(src=wwnLogo, alt="Worlds Without Number")
	img.logo.cwn(src=cwnLogo, alt="Cities Without Number")

	label.npc-chooser
		input(type="checkbox", name="attr_npc", value="1")
		span.pc-label(data-i18n="PC")
		span.npc-label(data-i18n="NPC")
	label.edit-button
		input(type="checkbox", name="attr_edit_mode", value="1", checked)
		span p
	label.settings-gear
		input(type="checkbox", name="attr_show_settings", value="1")
		span y

