//- Settings
input(type="hidden", name="attr_show_settings" value="0").hider
.settings.thirdsgrid
	div
		h2(data-i18n="SYSTEM_OPTIONS")
		p
			label
				span(data-i18n="ADD_LUCK_SAVE").colon-after
				input(type="checkbox", name="attr_luck_save", value="1" checked)
			span(data-i18n="ADD_LUCK_SAVE_DESC")
		p
			label
				span(data-i18n="SYSTEM_LIST").colon-after
				select(name="attr_system")
					option(value="revised", data-i18n="REVISED_EDITION", selected)
					option(value="wwn", data-i18n="WORLDS_WITHOUT_NUMBER")
					option(value="cwn", data-i18n="CITIES_WITHOUT_NUMBER")
					option(value="neither", data-i18n="NEITHER")
			span(data-i18n="SYSTEM_LIST_DESC")
		p
			label
				span(data-i18n="ADD_EXTRA_SKILLS").colon-after
				input(type="checkbox", name="attr_homebrew_extra_skills", value="1")
			span(data-i18n="ADD_EXTRA_SKILLS_DESC")
		h2 API
		p
			label
				span.colon
					span(data-i18n="USE_AMMO_AUTOMATICALLY")
					span.api API
				input(type="checkbox", name="attr_setting_use_ammo", value="1")
			span(data-i18n="REQUIRES_CHATSETATTR")
	div
		h2(data-i18n="CHARACTER_OPTIONS")
		div
			label
				span(data-i18n="HEROIC_CHARACTERS").colon-after
				input(type="checkbox", name="attr_setting_heroic_enable", value="1")
			span(data-i18n="HEROIC_CHARACTERS_DESC")
			input(type="hidden", name="attr_setting_heroic_enable", value="0").hider
			label
				span(data-i18n="DEFY_DOOM_DIE_SIZE")
				input(type="number", name="attr_doom_size", value="6")
		div
			span(data-i18n="SUBSYSTEMS").colon-after
			.grid.grid-flow-col.subsystems
				each val in subSystems
					label
						input(type="checkbox", name=`attr_subsystem_${val}`, value=val).mr
						span(data-i18n=val.toUpperCase()).ellipsis
			span(data-i18n="SUBSYSTEMS_DESC")
		div
			label
				span(data-i18n="XP_SCHEME").colon-after
				select(name="attr_setting_xp_scheme")
					option(value="fast", data-i18n="XP_FAST", selected)
					option(value="slow", data-i18n="XP_SLOW")
					option(value="money", data-i18n="MONEY")
			span(data-i18n="XP_SCHEME_DESC")
		div
			label
				span(data-i18n="AI_CHARACTER").colon-after AI Character
				input(type="checkbox", name="attr_setting_ai_enable", value="ai")
			span(data-i18n="AI_CHARACTER_DESC") Play as an AI, with mechanical Shells and advanced Processing and Routines. Rules for this are in the Deluxe Edition.
		div
			label
				span(data-i18n="TRANSHUMAN_CHARACTERS").colon-after Transhuman Characters
				input(type="checkbox", name="attr_setting_transhuman_enable", value="transhuman")
			span(data-i18n="TRANSHUMAN_CHARACTERS_DESC") Run a Transhuman campaign with body-swapping. Rules for this are in the Deluxe edition.
	div
		h2(data-i18n="GENERAL SETTINGS")
		p
			label
				span(data-i18n="FOCI_LOCATION").colon-after
				select(name="attr_setting_foci_location")
					option(value="left", data-i18n="LEFT_COLUMN")
					option(value="right", data-i18n="RIGHT_COLUMN")
			span(data-i18n="FOCI_LOCATION_DESC")
		p
			label
				span(data-i18n="UNTRAINED_SKILLS_IN_QUICK_MACRO").colon-after
				input(type="checkbox", name="attr_setting_show_untrained_skills", value="1", checked)
		p
			label
				span(data-i18n="QUERY_FOR_MODIFIERS").colon-after
				input(type="checkbox", name="attr_setting_modifier_query", value="1", checked)
			span(data-i18n="QUERY_FOR_MODIFIERS_DESC")
		p
			label
				span(data-i18n="SKILL_ATTRIBUTE_CHOICE").colon-after
				select(name="attr_setting_skill_query")
					option(value="hover", data-i18n="CHOOSE_ON_HOVER", selected)
					option(value="query", data-i18n="QUERY")
					option(value="hide", data-i18n="EDIT_MODE_ONLY")
		p
			label
				span(data-i18n="FINE_NPC_WHISPERING").colon-after
				input(type="checkbox", name="attr_setting_individual_hidden", value="1", checked)
			span(data-i18n="FINE_NPC_WHISPERING_DESC")
