//- Choose Character/Ship
.tabs.flex
	label.flex.swn
		input(type="radio", name="attr_tab", value="ship")
		span(data-i18n="VEHICLE")
	label.flex.cwn
		input(type="radio", name="attr_tab", value="vehicle")
		span(data-i18n="VEHICLE")
	label.flex.wwn
		input(type="radio", name="attr_tab", value="mount")
		span(data-i18n="MOUNT")
	label.flex.swn.cwn
		input(type="radio", name="attr_tab", value="drones")
		span(data-i18n="DRONES")
	label.flex.pc-tab
		input(type="radio", name="attr_tab", value="character", checked)
		span(data-i18n="CHARACTER")
	label.flex.npc-tab
		input(type="radio", name="attr_tab", value="npc")
		span(data-i18n="NPC")
