.section.vehicle
    fieldset.repeating_vehicles 
        .corebox.stats.grid.gap-1
            .grid.grid-flow-col.name-row 
                +text-input("vehicle_name", "NAME").important.cols-4 
                .text-input.focusinfo.cols-3 
                    input(type="text", name="attr_vehicle_model") 
                    .label(data-i18n="MODEL") 
            .grid.grid-flow-col
                each val in ["speed", "armor", "trauma_target", "AC", "HP", "crew", "power", "mass", "size", "hard_points"]
                    if val == "HP"
                        +text-input-duo(`vehicle_${val}`, `vehicle_${val}_max`, val, "0").center
                    else if val === "size"
                        +text-input(`vehicle_${val}`, val)(type="text", value="").center
                    else
                        +text-input(`vehicle_${val}`, val)(type="number", value="0").center
            textarea(name="attr_vehicle_description", data-i18n="DESCRIPTION")