.roll-templates {
    display: none;
}

.sheet-rolltemplate-main .sheet-cadre {
    background-color: white;;
    border: 0.2rem solid black;
    padding: 0.75rem;
    border-radius: 25% 25% 25% 25% / 1rem 1rem 1rem 1rem;
    min-height: 50px;
}

.sheet-rolltemplate-main .sheet-h4 {
    width: 100%;
    text-align: center;
}

.sheet-rolltemplate-main .sheet-w12 {
    width: 100%;
}

.sheet-rolltemplate-main .sheet-label {

}

.sheet-rolltemplate-main .sheet-text-center {
    text-align: center;
}

.sheet-rolltemplate-main .sheet-line {
    display: flex;
    flex-direction: row;
}

.sheet-rolltemplate-main .sheet-border-bottom {
    border-bottom: 0.1rem solid black;
}

.sheet-rolltemplate-main .sheet-align-center {
    align-items: center;
}

.sheet-rolltemplate-main .sheet-bold {
    font-weight: bold;
}

.sheet-rolltemplate-main .sheet-w4 {
    width: calc(4 * 100% / 12);
}

.sheet-rolltemplate-main .sheet-text-right {
    text-align: right;
}

.sheet-rolltemplate-main .sheet-w8 {
    width: calc(8 * 100% / 12)
}

.sheet-rolltemplate-main .sheet-colu {
    display: flex;
    flex-direction: column;

}

.sheet-rolltemplate-main .sheet-justify-center {
    justify-content: center;
}

.sheet-rolltemplate-main .sheet-roll {
    display:block;
}
.sheet-rolltemplate-main .inlinerollresult{
    display: block;
    padding: 0.5rem 0.2rem 0;
    margin-top: 0.2rem;
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
    border:none;
}
.sheet-rolltemplate-main .inlinerollresult.fullcrit{
    font-weight: bolder;
    color:#3fb315;
    border:none;
}
.sheet-rolltemplate-main .inlinerollresult.fullfail{
    font-weight: bolder;
    color:#b31515;
    border:none;
}
.sheet-rolltemplate-main .inlinerollresult.importantroll{
    font-weight: bolder;
    color:#4a57ed;
    border:none;
}