$duration: .2s;
$deepRed: #591209;
$deepGreen: #51624B;
$gray: #A19A91;
$borderRadius: 4px;

@mixin no-highlight() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin tab-toggle($tab, $width, $padding) {
	@if $padding == 'padding' {
		$width: $width + 4;
	} @else if $padding == 'halfPadding' {
		$width: $width + 2;
	}

	input.sheet-toggle-#{$tab},
	span.sheet-toggle-#{$tab} {
		width: $width;
	}
	span.sheet-toggle-#{$tab} {
		margin-left: -$width;
	}
}

@mixin slide-toggle($name, $width, $height, $leftColor, $rightColor, $smallSides, $vertical) {
	$multiplier: 2;
	@if $smallSides {
		$multiplier: 4;
	}
	input.sheet-slide-input-#{$name},
	label.sheet-slide-toggle-#{$name} {
		width: $width * $multiplier;
		height: $height;
	}
	label.sheet-slide-toggle-#{$name} {
		@if $vertical {
			margin-top: -$height;
		} @else {
			margin-left: -$width * $multiplier;
		}
		line-height: $height;
		.sheet-slide-cover {
			@if $smallSides {
				width: $width * 3;
			} @else {
				width: $width;
			}
			height: $height;
			$volumeColor: darken($leftColor, 10);
			box-shadow: 0 0.12em 0.01em rgba($volumeColor, 1),
			0 0.12em 0.3em rgba($volumeColor, 0.6),
			0 0.12em 2em rgba(0, 0, 0, 0.3),
			-0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
		}
	}
	input[type='checkbox'].sheet-slide-input-#{$name} + label.sheet-slide-toggle-#{$name} {
		.sheet-slide-cover {
			background-color: $leftColor;
			text-shadow: 0 0.05em 0 darken($leftColor, 05);
			@if $smallSides {
				margin-right: $width;
			}
		}
		span[class^="sheet-slide-toggle-"] {
			@if $smallSides {
				width: 25%;
			} @else {
				width: 50%;
			}
			color: $leftColor;
		}
	}
	span.sheet-slide-toggle-#{$name}-left {
		@if $smallSides {
			font-size: 11px;
		}
	}
	span.sheet-slide-toggle-#{$name}-right {
		@if $smallSides {
			margin-left: 50%;
			font-weight: bold;
			font-size: 10px;
		}
	}
	input[type='checkbox'].sheet-slide-input-#{$name}:checked + label.sheet-slide-toggle-#{$name} {
		.sheet-slide-cover {
			background-color: $rightColor;
			@if $smallSides {
				margin-right: 0;
			} @else {
				margin-right: $width;
			}
			border-bottom: 0.03em solid lighten($rightColor, 10);
			text-shadow: 0 0.05em 0 darken($rightColor, 10);
			$volumeColor: darken($rightColor, 10);
			box-shadow: 0 0.12em 0.01em rgba($volumeColor, 1),
			0 0.12em 0.3em rgba($volumeColor, 0.6),
			0 0.12em 2em rgba(0, 0, 0, 0.3),
			0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
		}
		span[class^="sheet-slide-toggle-"] {
			color: $rightColor;
		}
	}
}

*, .sheet-rolltemplate-5eDefault * {
	box-sizing: border-box;
	line-height: 100%;
}

input, select, textarea,
[class*="sheet-col"] {
	font-size: 12px;
}

button {
	&[type=roll] {
		font-size: 12px !important;
		padding-top: 1px !important;
		padding-bottom: 1px !important;
		background-color: #2C608C;
		border-radius: $borderRadius;
		border: 1px solid;
		border-color: #265379;
		color: white;
		background-image: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);

		& span {
			padding-left: 2px;
		}

		&::before,
		& span {
			vertical-align: middle;
		}
	}

	&.repcontrol_add,
	&.repcontrol_edit,
	&.repcontrol_del {
		font-size: 12px;
		padding: 3px 3px;
	}
}

ul, ol {
	margin: 0 0 0 15px;
}

h4 {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	padding: 1px;
	margin-bottom: 2px;
}

select {
	font-size: 90%;
	padding-right: 0;
	&.sheet-select-no-arrow {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

input[type=number],
input[type=text],
select,
textarea,
.sheet-bottom-line-only {
	width: 100% !important;
	margin-bottom: 0 !important;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;

	box-shadow: none;

	padding: 1px;
}

input[type=number]:focus,
input[type=text]:focus,
select:focus {
	outline: none;
}

input[type=number] {
	text-align: center;
}

input[disabled],
input.sheet-pseudo-disabled,
input[type=number].sheet-no-spin {
	-moz-appearance: textfield;
}

input[disabled],
input.sheet-pseudo-disabled {
	background-color: #F0FFF4;
	cursor: not-allowed;
}

input[type=number].sheet-no-spin::-webkit-outer-spin-button,
input[type=number].sheet-no-spin::-webkit-inner-spin-button,
input[disabled]::-webkit-inner-spin-button,
input[disabled]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.sheet-float-right {
	float: right;
}

$sizes: (
	sm: 2,
	md: 5,
	lg: 10,
	xl: 15,
	xxl: 20
);
$sides: (
	t: 'top',
	r: 'right',
	b: 'bottom',
	l: 'left'
);
$padMar: (
	pad: 'padding',
	mar: 'margin'
);
@each $side, $sideValue in $sides {
	@each $size, $sizeValue in $sizes {
		@each $type, $typeValue in $padMar {
			.sheet-#{$type}-#{$side}-#{$size} {
				#{$typeValue}-#{$sideValue}: #{$sizeValue}px;
			}
		}

		@if ($side == l) or ($side == r) and ($size == xxl) {
			.sheet-rolltemplate-5eDefault .sheet-pad-#{$side}-#{$size} {
				padding-#{$sideValue}: #{$sizeValue}px !important;
			}
		}
	}
}

.sheet-hidden {
	display: none !important;
}

.sheet-mar-t-t {
	margin-top: 1px;
}

.sheet-mar-t-nine {
	margin-top: 9px;
}

.sheet-mar-b-smd {
	margin-bottom: 4px;
}

.sheet-rolltemplate-5eDefault .sheet-smaller-letter-spacing {
	letter-spacing: -.04em !important;
}

.sheet-wrapper {
	min-width: 834px;
}

.charsheet {
	padding: 2px 3px !important;
	background: rgb(237, 237, 237) url("http://i.imgur.com/RggDtsN.png");
}

.sheet-slide-input-pc {
	&:checked ~ div .sheet-pc,
	&:checked ~ .sheet-pc,
	&:not(:checked) ~ div .sheet-npc,
	&:not(:checked) ~ .sheet-npc {
		display: none;
	}
}

.sheet-small-note {
	text-align: center;
	font-size: 10px;
}

.sheet-wrap-box {
	border: 1px solid black;
	background-color: white;
	border-radius: $borderRadius;
	padding: 1px;
}

.sheet-tooltip-position-wrapper,
.sheet-rolltemplate-5eDefault .sheet-tooltip-position-wrapper {
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 99;
}

.sheet-tooltip,
.sheet-rolltemplate-5eDefault .sheet-tooltip {
	position: relative;
}

.sheet-tooltip-toggle-text,
.sheet-rolltemplate-5eDefault .sheet-tooltip-toggle-text {
	border-radius: 50%;
	font-size: 77%;
	height: 10px;
	width: 10px;
	background-color: black;
	color: white;
	padding: 1px 2px;
	font-weight: bold;
}

[class*="sheet-tooltip-content"],
.sheet-rolltemplate-5eDefault [class*="sheet-tooltip-content"] {
	z-index: 99;
	position: absolute;
	color: #FFFFFF;
	background-color: #000000;
	padding: 4px;
	visibility: hidden;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	opacity: 0.9;
	width: 260px;
	margin-top: -15px;
	text-align: left;
	&::after {
		content: "";
		position: absolute;
		top: 9px;
		margin-top: -8px;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}
}

.sheet-tooltip-small,
.sheet-rolltemplate-5eDefault .sheet-tooltip-small {
	width: 80px;
}

.sheet-tooltip-content-left,
.sheet-rolltemplate-5eDefault .sheet-tooltip-content-left {
	right: 100%;
	margin-right: 12px;
	border-top-left-radius: 4px;
}

.sheet-tooltip-content-right,
.sheet-rolltemplate-5eDefault .sheet-tooltip-content-right {
	left: 100%;
	margin-left: 12px;
	border-top-right-radius: 4px;
}

.sheet-tooltip-content-left::after,
.sheet-rolltemplate-5eDefault .sheet-tooltip-content-left::after {
	right: -8px;
	border-left: 8px solid #000000;
}

.sheet-tooltip-content-right::after,
.sheet-rolltemplate-5eDefault .sheet-tooltip-content-right::after {
	left: -8px;
	border-right: 8px solid #000000;
}

.sheet-tooltip:hover [class*="sheet-tooltip-content"],
.sheet-tooltip:focus [class*="sheet-tooltip-content"],
.sheet-rolltemplate-5eDefault .sheet-tooltip:hover [class*="sheet-tooltip-content"],
.sheet-rolltemplate-5eDefault .sheet-tooltip:focus [class*="sheet-tooltip-content"] {
	visibility: visible;
	z-index: 999;
}

.sheet-dnd-image-wrapper {
	margin-bottom: 1px;
	img {
		display: block;
		max-height: 37px;
	}
}

.sheet-character-name {
	input[type=text] {
		border-top-left-radius: 5px !important;
		border-bottom-left-radius: 5px !important;
		border: 1px solid black;
		border-right-width: 0;
		font-size: 22px;
		font-weight: bold;
		padding: 0 2px;
	}
	.sheet-wrap-box-label {
		font-weight: bold;
		margin-top: 1px;
	}
}

.sheet-last-updated {
	font-size: 85%;
	vertical-align: top;
	font-style: italic;
	font-weight: bold;
	margin: 0;
}

.sheet-header-info {
	input[type=text],
	input[type=number] {
		padding: 2px 1px 0;
	}
	.sheet-passive-skill {
		font-size: 12px;
	}
	.sheet-wrap-box-label {
		font-weight: bold;
	}
}

.sheet-speed,
.sheet-sense {
	input {
		font-weight: bold;
	}
}

.sheet-ability-score-wrapper {
	position: relative;
	height: 62px;
	margin-bottom: 12px;

	& .sheet-ability-score {
		position: absolute;
		margin-right: auto;
		margin-left: auto;
		left: 0;
		right: 0;
		bottom: -10px;
		padding: 5px;
		border: 1px solid black;
		border-radius: 50%;
		width: 40px !important;
		font-size: 11px;
		background-color: white;
	}
}

.sheet-ability-name {
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 5px;
}

.sheet-ability-modifier {
	font-weight: bold;
	font-size: 17px;
}

.sheet-spell-slots-points input[type=number] {
	font-size: 10px;
	padding: 0;
	background-color: transparent;
}

.sheet-quick-attacks,
.sheet-quick-class-resources,
.sheet-quick-class-actions {
	input,
	select {
		font-size: 80%;
	}
	input {
		padding: 2px 1px;
	}
	select {
		height: 16px;
		padding: 0;
	}
}

.sheet-section-core,
.sheet-quick-attacks {
	button {
		padding: 1px 3px;
		&.repcontrol_add,
		&.repcontrol_edit,
		&.repcontrol_del {
			margin-top: 1px;
			font-size: 10px;
		}
	}
	button[type=roll] {
		margin-left: 0;
		margin-right: 0;
	}
}

.sheet-save-check {
	input[type=checkbox] {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		margin-left: -1px;
	}
}

.sheet-save-check,
.sheet-death-save {
	button[type=roll] {
		&::before {
			display: none;
		}
		span {
			padding-left: 0;
		}
	}
}

.sheet-hit-dice {
	button[type=roll] span {
		font-size: 11px;
	}
}

input[class^="sheet-toggle-hd-"],
span[class^="sheet-toggle-hd-"] {
	height: 11px;
}

span[class^="sheet-toggle-hd-"] {
	font-size: 9px;
}

.sheet-inline {
	display: inline;
}

.sheet-inline-block {
	display: inline-block;
}

.sheet-block {
	display: block;
}

.sheet-relative,
.sheet-rolltemplate-5eDefault .sheet-relative {
	position: relative;
}

.sheet-absolute {
	position: absolute;
	top: 0;
}

.sheet-skill-select-wrapper select,
.sheet-skills .sheet-passive-skill {
	height: 17px;
}

input[disabled].sheet-passive-skill {
	background-color: #E7F9FF;
}

.sheet-ability-save-check-name,
.sheet-skill-name,
.sheet-skills-attribute-selector-wrapper {
	font-size: 11px !important;
}

.sheet-passive-skill {
	font-size: 10px;
	padding: 0;
}

.sheet-skills {
	select {
		padding: 0;
		font-size: 9px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&.sheet-skills-attribute-selector {
			height: 11px;
			width: 25px !important;
			border-bottom: 0;
			color: #909090;
			position: relative;
			z-index: 2;
			background: transparent;
		}
	}
}

.sheet-skills-attribute-selector-wrapper {
	display: inline-block;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		color: #909090;
		top: 0;
	}
	&::before {
		content: "(";
	}
	&::after {
		content: ")";
		right: 1px;
	}
}

.sheet-shield {
	position: relative;
	z-index: 10;
	width: 52px;
	height: 55px;
	padding-top: 7px;
	padding-right: 2px;
	margin-left: auto;
	margin-right: auto;

	&::before {
		position: absolute;
		z-index: -1;
		top: 3px;
		left: -1px;
		line-height: 51px;
		content: "b";
		font-family: "Pictos Three";
		font-size: 72px;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	input[type=number] {
		width: 89% !important;
		padding: 1px;
	}

	.sheet-wrap-box-title {
		margin-top: 1px;
	}

	&:hover .sheet-shield-note {
		display: block;
	}
}

.sheet-shield-note {
	display: none;
	position: absolute;
	top: -3px;
	left: 0;
	& input[type=text] {
		font-size: 67%;
		width: 85% !important;
		height: 12px;
		line-height: 60%;
		padding: 0;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

.sheet-bold,
.sheet-save-total,
.sheet-check-total,
.sheet-skill-total {
	font-weight: bold;
}

.sheet-shield input[type=number],
.sheet-initiative input[type=number],
.sheet-heart input[type=number].sheet-heart-hp-current,
.sheet-heart input[type=number].sheet-heart-hp-max {
	font-weight: bold;
	font-size: 14px;
}

.sheet-wrap-box-label,
.sheet-wrap-box-title {
	text-transform: uppercase;
}

.sheet-wrap-box-title {
	font-weight: bold;
}

.sheet-wrap-box-label {
	font-size: 80%;
}

.sheet-wrap-box-title {
	font-size: 9px;
	margin: 3px 0 1px 0;
}

.sheet-heart {
	position: relative;
	z-index: 4;
	width: 115px;
	height: 93px;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;

	&::after {
		position: absolute;
		z-index: -1;
		top: 30px;
		left: 0;
		content: "k";
		font-family: "Pictos";
		font-size: 128px;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	input[type=number] {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		padding: 1px;
		background-color: transparent;
	}
}

.sheet-initiative {
	position: relative;
	z-index: 5;
	button[type=roll] {
		width: 100%;
	}
}

[class^="sheet-checkbox-label"] {
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 0;
	padding-right: 0;
	font-weight: normal;
}

.sheet-checkbox-label-sm {
	font-size: 9px;

	& input[type=checkbox] {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		height: 10px;
		margin-top: -1px;
	}
}

.sheet-checkbox-label-md {
	font-size: 85%;

	& input[type=checkbox] {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		margin-top: -1px;
	}
}

.sheet-checkbox-label {
	display: inline-block;
	font-size: 100%;

	[type="checkbox"] {
		display: none;
		+ span {
			display: inline-block;
			padding: 1px;
			text-align: center;
			font-weight: bold;
		}
	}
}

.sheet-proficiency-bonus input[type=number],
.sheet-inspiration .sheet-checkbox-label span,
.sheet-exhaustion input[type=number] {
	border: 1px solid black;
	border-radius: 50%;
	position: absolute;
	top: -3px;
	left: -3px;
	width: 20px !important;
	height: 20px;
}

.sheet-inspiration {
	.sheet-checkbox-label {
		[type="checkbox"] {
			+ span {
				background-color: #8C6075;
				color: white;
				padding: 2px;
				font-size: 14px;

				&::before {
					content: "-";
				}
			}
			&:checked {
				+ span {
					background-color: #879A6A;
					padding: 3px;

					&::before {
						content: "+";
					}
				}
			}
		}
	}
	.sheet-small-input {
		font-size: 10px;
		padding: 0;
	}
}

.sheet-death-save {
	button[type=roll] {
		height: 21px;
	}

	$death-save-circle-size: 14px;
	.sheet-checkbox-label {
		height: $death-save-circle-size;
		width: $death-save-circle-size;
		margin: 0 2px;
		position: relative;
		z-index: 5;

		[type="checkbox"] {
			+ span {
				border: 1px solid black;
				background-color: white;
				height: $death-save-circle-size;
				width: $death-save-circle-size;
				border-radius: 50%;
			}
		}
	}
	[type="radio"] {
		opacity: 0;
		position: relative;
		z-index: 9999;
		margin: 1px;

		&,
		& + span {
			height: $death-save-circle-size;
			width: $death-save-circle-size;
		}

		+ span {
			display: inline-block;
			position: relative;
			z-index: 5;
			margin-left: -$death-save-circle-size;
			vertical-align: middle;
			border: 1px solid black;
			border-radius: 50%;
		}

		&:first-of-type {
			&,
			+ span {
				position: absolute;
				top: 3px;
				left: -10px;
			}
			+ span {
				background-color: #FFFFFF;
				border: none;
				margin-left: 0;
				color: #980000;
				font-size: 15px;
			}
			&:checked {
				+ span {
					opacity: 0;
				}
			}
		}
		&:checked {
			~ input[type="radio"] + span {
				background-color: white;
			}
		}
	}
}

.sheet-death-succeed {
	[type="radio"] {
		+ span {
			background-color: #879A6A;
		}
	}
}

.sheet-death-fail {
	[type="radio"] {
		+ span {
			background-color: #8C6075;
		}
	}
}

.sheet-death-save-hr {
	width: 100%;
	top: 2px;
}

.sheet-resistances-immunities {
	textarea {
		width: 100%;
		height: 22px;
		font-size: 90%;
		padding: 0 2px;
	}
	.sheet-small-label {
		margin-bottom: 3px;
	}
}

.sheet-npc-traits textarea {
	font-size: 11px;
}

.sheet-rolltemplate-5eDefault {
	.withoutavatars & {
		margin-left: -4px;
	}
	margin-left: -34px;
	margin-right: -4px;

	.sheet-rt-card {
		margin-right: 10px;
		background-color: #FFFFFF;
		font-size: 11px;

		border-radius: $borderRadius;

		border: black 1px solid;
		padding: 4px 0 2px;

		box-sizing: border-box;
	}

	.sheet-rt-header {
		text-align: center;
		position: relative;
		color: #FFFFFF;
		margin: 0 -10px 4px -10px;
		padding: 4px;
		background-color: #5C5C5C;
		background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);

		.inlinerollresult {
			background: transparent;
			border: none;
			padding: 0;
			font-weight: normal;
			font-size: 100%;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			border-style: solid;
			border-color: transparent;
			bottom: -10px;
		}

		&::before {
			border-width: 0 10px 10px 0;
			border-right-color: #222222;
			left: 0;
		}
		&::after {
			border-width: 0 0 10px 10px;
			border-left-color: #222222;
			right: 0;
		}

		&.sheet-attack,
		&.sheet-weapon,
		&.sheet-action {
			background-color: #2C5D28;

			&::before {
				border-right-color: #375035;
			}
			&::after {
				border-left-color: #375035;
			}
		}

		&.sheet-spell {
			background-color: #45285D;
			&::before {
				border-right-color: #443550;
			}
			&::after {
				border-left-color: #443550;
			}
		}

		&.sheet-ability {
			background-color: #28595D;
			&::before {
				border-right-color: #354E50;
			}
			&::after {
				border-left-color: #354E50;
			}
		}

		&.sheet-save {
			background-color: #5D2828;
			&::before {
				border-right-color: #503535;
			}
			&::after {
				border-left-color: #503535;
			}
		}

		&.sheet-deathsave {
			background-color: #240F0F;
			&::before {
				border-right-color: #1F1414;
			}
			&::after {
				border-left-color: #1F1414;
			}
		}
	}

	.inlinerollresult {
		padding: 0 3px 0 2px;
		border-radius: $borderRadius;
		font-size: 105%;
		line-height: 130%;
	}

	.sheet-rt-title {
		font-size: 150%;
	}

	.sheet-rt-subheader {
		line-height: 120%;
	}

	.sheet-shaped-row:nth-child(even) {
		background-color: #E9EDEE;
	}

	.sheet-rt-key {
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 110%;

		padding-right: 4px;

		-moz-text-decoration-color: #D64541;
		text-decoration-color: #D64541;

		max-width: 120px;
	}

	.sheet-rt-value {
		line-height: 110%;
	}

	.sheet-rt-content .sheet-shaped-row:not(:first-child) {
		margin-top: 2px;
	}

	.sheet-shaped-row {
		padding: 2px;
	}

	.sheet-rt-emote {
		margin: 0 3px 2px;
		font-style: italic;
		font-size: 11px;
		font-family: Arial;
		text-align: center;

		border: green 1px dashed;
		border-radius: $borderRadius;

		padding: 0px 4px;
	}
}

div[class^="repcontrol"] {
	margin-bottom: 5px;
}

div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
	display: inline-block !important;
	visibility: hidden;
}

input[class^="sheet-toggle-"],
span[class^="sheet-toggle-"] {
	vertical-align: top;
}

input[class^="sheet-toggle-"] {
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

span[class^="sheet-toggle-"] {
	background-color: $gray;
	display: inline-block;
	position: relative;
	color: white;
	cursor: pointer;
	text-align: center;
	border-radius: $borderRadius;
	padding: 1px;
	font-size: 10px;
}

div[class*="sheet-toggle-"] {
	/*display: none;*/
}

@include tab-toggle('page-core', 32px, 'padding');
@include tab-toggle('page-weapons', 57px, 'padding');
@include tab-toggle('page-actions', 96px, 'padding');
@include tab-toggle('page-spells', 39px, 'padding');
@include tab-toggle('page-class', 37px, 'padding');
@include tab-toggle('page-armor', 41px, 'padding');
@include tab-toggle('page-inventory', 58px, 'padding');
@include tab-toggle('page-background', 74px, 'padding');
@include tab-toggle('page-settings', 15px, 'padding');
@include tab-toggle('page-98', 53px, 'padding');
@include tab-toggle('page-99', 53px, 'padding');

@include tab-toggle('traits', 32px, 'padding');
@include tab-toggle('regional-effects', 91px, 'padding');
@include tab-toggle('lair-actions', 66px, 'padding');
@include tab-toggle('legendary-actions', 104px, 'padding');
@include tab-toggle('reactions', 57px, 'padding');
@include tab-toggle('multiattack', 60px, 'padding');
@include tab-toggle('actions', 42px, 'padding');
@include tab-toggle('melee-weapons', 36 + 8px, 'padding');
@include tab-toggle('ranged-weapons', 46 + 8px, 'padding');
@include tab-toggle('quick-weapons', 33 + 8px, 'padding');

$toggle-inventory-width: 24.3%;
@include tab-toggle('inventory-1', $toggle-inventory-width, 'noPadding');
@include tab-toggle('inventory-2', $toggle-inventory-width, 'noPadding');
@include tab-toggle('inventory-3', $toggle-inventory-width, 'noPadding');
@include tab-toggle('inventory-99', $toggle-inventory-width, 'noPadding');

$tab-class-width: 155px;
@include tab-toggle('class-action-page-1', $tab-class-width, 'noPadding');
@include tab-toggle('class-action-page-2', $tab-class-width, 'noPadding');
@include tab-toggle('class-action-page-99', $tab-class-width, 'noPadding');

$tab-hd-single-digit-width: 14px;
$tab-hd-double-digit-width: 20px;
@include tab-toggle('hd-d4', $tab-hd-single-digit-width, 'halfPadding');
@include tab-toggle('hd-d6', $tab-hd-single-digit-width, 'halfPadding');
@include tab-toggle('hd-d8', $tab-hd-single-digit-width, 'halfPadding');
@include tab-toggle('hd-d10', $tab-hd-double-digit-width, 'halfPadding');
@include tab-toggle('hd-d12', $tab-hd-double-digit-width, 'halfPadding');
@include tab-toggle('hd-d20', $tab-hd-double-digit-width, 'halfPadding');

$tab-spell-page-width: 8.6%;
@include tab-toggle('spells-page-0', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-1', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-2', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-3', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-4', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-5', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-6', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-7', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-8', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-9', $tab-spell-page-width, 'noPadding');
@include tab-toggle('spells-page-99', $tab-spell-page-width, 'noPadding');

@include tab-toggle('emote', 32px, 'padding');
@include tab-toggle('attack', 31px, 'padding');
@include tab-toggle('reach', 32px, 'padding');
@include tab-toggle('range', 33px, 'padding');
@include tab-toggle('target', 32px, 'padding');
@include tab-toggle('ammo', 31px, 'padding');
@include tab-toggle('ammo-auto', 24px, 'padding');
@include tab-toggle('damage', 23px, 'padding');
@include tab-toggle('sv-damage', 23px, 'padding');
@include tab-toggle('alt-damage', 14px, 'padding');
@include tab-toggle('second-damage', 52px, 'padding');
@include tab-toggle('sv-second-damage', 52px, 'padding');
@include tab-toggle('crit', 17px, 'padding');
@include tab-toggle('crit-bonus', 32px, 'padding');
@include tab-toggle('bonus', 32px, 'padding');
@include tab-toggle('bonuses', 43px, 'padding');
@include tab-toggle('spells-filter-condensed', 56px, 'padding');
@include tab-toggle('spells-filter-prepared', 44px, 'padding');
@include tab-toggle('spells-prep-con-rit-prepared', 44px, 'padding');
@include tab-toggle('spells-filter-ritual', 24px, 'padding');
@include tab-toggle('spells-prep-con-rit-ritual', 24px, 'padding');
@include tab-toggle('spells-filter-concentration', 65px, 'padding');
@include tab-toggle('spells-prep-con-rit-concentration', 65px, 'padding');
@include tab-toggle('spells-filter-verbal', 9px, 'padding');
@include tab-toggle('spells-filter-somatic', 9px, 'padding');
@include tab-toggle('spells-filter-material', 10px, 'padding');
@include tab-toggle('spell-vsm-v', 9px, 'padding');
@include tab-toggle('spell-vsm-s', 9px, 'padding');
@include tab-toggle('spell-vsm-m', 10px, 'padding');
@include tab-toggle('spells-filter-casting-time-any', 19px, 'padding');
@include tab-toggle('spells-filter-casting-time-reaction', 39px, 'padding');
@include tab-toggle('spells-filter-casting-time-bonus', 31px, 'padding');
@include tab-toggle('spells-filter-casting-time-action', 30px, 'padding');
@include tab-toggle('spells-filter-casting-time-minute', 27px, 'padding');
@include tab-toggle('spells-filter-casting-time-longer', 31px, 'padding');
@include tab-toggle('casting-time-reaction', 39px, 'padding');
@include tab-toggle('casting-time-bonus', 31px, 'padding');
@include tab-toggle('casting-time-action', 30px, 'padding');
@include tab-toggle('casting-time-minute', 27px, 'padding');
@include tab-toggle('casting-time-longer', 31px, 'padding');
@include tab-toggle('description', 53px, 'padding');
@include tab-toggle('spell-higherlvl', 48px, 'padding');
@include tab-toggle('spell-higherlvl-query', 79px, 'padding');
@include tab-toggle('spell-output-higherlvl-query', 34px, 'padding');
@include tab-toggle('save', 26px, 'padding');
@include tab-toggle('heal', 23px, 'padding');
@include tab-toggle('effects', 34px, 'padding');
@include tab-toggle('spell-source', 35px, 'padding');
@include tab-toggle('spell-from', 25px, 'padding');
@include tab-toggle('recharge', 47px, 'padding');
@include tab-toggle('spell-display-options', 74px, 'padding');
@include tab-toggle('spell-dashboard', 53px, 'padding');
@include tab-toggle('spell-slots', 25px, 'padding');
@include tab-toggle('spell-sorcery-points', 41px, 'padding');
@include tab-toggle('spell-warlock-slots', 38px, 'padding');
@include tab-toggle('spell-filters', 29px, 'padding');
@include tab-toggle('spell-action-type', 57px, 'padding');

span.sheet-toggle-spells-filter-casting-time-any,
span.sheet-toggle-casting-time-reaction {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

span.sheet-toggle-spells-filter-casting-time-reaction,
span.sheet-toggle-spells-filter-casting-time-bonus,
span.sheet-toggle-spells-filter-casting-time-action,
span.sheet-toggle-spells-filter-casting-time-minute,
span.sheet-toggle-casting-time-bonus,
span.sheet-toggle-casting-time-action,
span.sheet-toggle-casting-time-minute {
	border-radius: 0;
}

span.sheet-toggle-spells-filter-casting-time-longer,
span.sheet-toggle-casting-time-longer {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.sheet-casting-time-longer {
	position: absolute;
	top: 14px;
	left: -102px;
	width: 100px;
	input {
		height: 14px;
	}
}

@include tab-toggle('jack-of-all-trades', 78px, 'padding');

input[value=English]:not(:checked) ~ span .sheet-en,
input[value=German]:not(:checked) ~ span .sheet-de,
input[value=French]:not(:checked) ~ span .sheet-fr,
input[value=Russian]:not(:checked) ~ span .sheet-ru,
input[value=Spanish]:not(:checked) ~ span .sheet-es,
input[value=English]:not(:checked) ~ div .sheet-en,
input[value=German]:not(:checked) ~ div .sheet-de,
input[value=French]:not(:checked) ~ div .sheet-fr,
input[value=Russian]:not(:checked) ~ div .sheet-ru,
input[value=Spanish]:not(:checked) ~ div .sheet-es {
	display: none;
}

input.sheet-toggle-language,
span.sheet-toggle-language {
	width: 16px;
	height: 11px;
}

input.sheet-toggle-language:checked + span.sheet-toggle-language {
	opacity: 1;
}

span.sheet-toggle-language {
	margin-left: 2px;
	margin-right: -16px;
	opacity: 0.4;
	background-repeat: no-repeat;

	&.sheet-en {
		background: url("http://i.imgur.com/TniJIqt.png");
	}
	&.sheet-de {
		background: url("http://i.imgur.com/xUhfiqu.png");
	}
	&.sheet-fr {
		background: url("http://i.imgur.com/94SeipS.png");
	}
	&.sheet-ru {
		background: url("http://i.imgur.com/9XCOBJX.png");
	}
	&.sheet-es {
		background: url("http://i.imgur.com/UcndHqG.png");
	}

}

/* Main Sheet Tabs */
[class^="sheet-section-"] {
	display: none !important;
}

input.sheet-toggle-page-core:checked ~ div.sheet-section-core,
input.sheet-toggle-page-background:checked ~ div.sheet-section-background,
input.sheet-toggle-page-class:checked ~ div.sheet-section-class,
input.sheet-toggle-page-weapons:checked ~ div.sheet-section-weapons,
input.sheet-toggle-page-actions:checked ~ div.sheet-section-actions,
input.sheet-toggle-page-spells:checked ~ div.sheet-section-spells,
input.sheet-toggle-page-armor:checked ~ div.sheet-section-armor,
input.sheet-toggle-page-inventory:checked ~ div.sheet-section-inventory,
input.sheet-toggle-page-settings:checked ~ div.sheet-section-settings,
input.sheet-toggle-page-98:checked ~ div[class^="sheet-section-"]:not(.sheet-pc),
input.sheet-toggle-page-99:checked ~ div[class^="sheet-section-"]:not(.sheet-npc) {
	display: block !important;
}

input[class^="sheet-toggle-page-"],
span[class^="sheet-toggle-page-"] {
	height: 16px;
	margin-top: 2px;
	margin-bottom: 2px;
}

span[class^="sheet-toggle-page-"] {
	background-color: #416696;
	font-size: 12px;
	padding: 2px;
	font-weight: bold;
}

input[class^="sheet-toggle-page-"]:checked + span[class^="sheet-toggle-page-"] {
	background-color: #101D30 !important;
}

/* END Main sheet tabs */

.sheet-section-class select,
.sheet-section-weapons select,
.sheet-section-armor select,
.sheet-section-spells select,
.sheet-section-weapons .sheet-checkbox-row-height {
	height: 17px;
}

/* Spell Page Settings */
div[class^="sheet-toggle-spells-page-"] {
	display: none;
}

input.sheet-toggle-spells-page-0:checked ~ div.sheet-toggle-spells-page-0,
input.sheet-toggle-spells-page-1:checked ~ div.sheet-toggle-spells-page-1,
input.sheet-toggle-spells-page-2:checked ~ div.sheet-toggle-spells-page-2,
input.sheet-toggle-spells-page-3:checked ~ div.sheet-toggle-spells-page-3,
input.sheet-toggle-spells-page-4:checked ~ div.sheet-toggle-spells-page-4,
input.sheet-toggle-spells-page-5:checked ~ div.sheet-toggle-spells-page-5,
input.sheet-toggle-spells-page-6:checked ~ div.sheet-toggle-spells-page-6,
input.sheet-toggle-spells-page-7:checked ~ div.sheet-toggle-spells-page-7,
input.sheet-toggle-spells-page-8:checked ~ div.sheet-toggle-spells-page-8,
input.sheet-toggle-spells-page-9:checked ~ div.sheet-toggle-spells-page-9 {
	display: block;
}

input.sheet-toggle-spells-page-99:checked ~ div[class^="sheet-toggle-spells-page-"] {
	display: block;
}

span[class^="sheet-toggle-spells-page-"],
span[class^="sheet-toggle-inventory-"],
span[class^="sheet-toggle-class-action-"] {
	background-color: #8E4644;
}

/*
.sheet-section-actions div[class^="sheet-toggle-"],
.sheet-section-weapons div[class^="sheet-toggle-"] {
	display: none;
}
*/

.sheet-spell-table {
	input {
		padding: 0;
	}
}

.sheet-spell-header {
	background-color: #C7D1BF;
	vertical-align: bottom;
	border-radius: 12px;
	margin-bottom: 3px;
}

.sheet-classaction-output-options {
	border: black 1px dashed;
	border-radius: $borderRadius;
}

.sheet-npc-row {
	border: 1px solid #000000;
	border-radius: $borderRadius;
	margin-left: 1px;
	margin-bottom: 5px;
	background-color: #EEEEEE;
}

.sheet-section-weapons hr,
.sheet-section-actions hr {
	height: 5px;
}

.sheet-section-spells .sheet-wrap-box,
.sheet-section-class .sheet-wrap-box,
.sheet-section-actions .sheet-wrap-box,
.sheet-section-weapons .sheet-wrap-box {
	padding: 3px;
	background-color: rgb(245, 245, 245);
	box-shadow: 0 0 5px #676767;
}

.sheet-action-button-group,
.sheet-spell-button-group {
	position: absolute;
	top: 2px;
	right: 2px;
	button[type=roll] {
		margin: 0 0 0 3px;
	}
}

.sheet-section-actions .sheet-wrap-box select {
	height: 17px;
}

.sheet-section-actions textarea {
	font-size: 85%;
}

.sheet-section-spells .sheet-wrap-box textarea,
.sheet-section-actions .sheet-wrap-box textarea {
	font-size: 10px;
}

$toggleHeight: 12px;

input[class^='sheet-slide-input-'] {
	cursor: pointer;
	position: relative;
	vertical-align: top;
	display: inline-block;
	margin: 0;
	z-index: 99;
	opacity: 0;
}

label[class^='sheet-slide-toggle-'] {
	vertical-align: top;
	font-size: 10px;
	font-weight: normal;
	display: inline-block;
	position: relative;
	padding: 0;
	text-align: left;
	box-sizing: border-box;
	perspective: 300px;
	@include no-highlight();
	margin-bottom: 0;
	border-radius: 2px;
	$brickColor: white;
	background-color: $brickColor;
	border: 1px solid darken($brickColor, 15);
	border-bottom-color: darken($brickColor, 10);
	box-shadow: inset 0 0.1em 0.03em rgba(0, 0, 0, 0.2),
	inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3),
	0 0 2em rgba($brickColor, 0.6);

	.sheet-slide-cover {
		position: absolute;
		right: 0;
		top: 0;
		background-color: #F5F5F5;
		display: inline-block;
		text-align: center;
		color: #FFFFFF;
		transition: all $duration ease-in-out;
		box-shadow: 0.1em 0 0.2em rgba(0, 0, 0, 0.3);
		margin-right: -1px;
		margin-top: -1px;
		transition-duration: $duration/1.5;
		transition-timing-function: cubic-bezier(0.52, -0.41, 0.55, 1.46);
	}
	span[class^='sheet-slide-toggle-'] {
		display: inline-block;
		text-align: center;
		transition: all $duration ease-in-out;
	}
}

@include slide-toggle('pc', 40px, $toggleHeight, $deepGreen, $deepRed, false, false);
@include slide-toggle('spell-slots-points', 68px, $toggleHeight, #000000, #545454, false, true);
@include slide-toggle('custom-skills', 23px, $toggleHeight, $gray, $deepGreen, true, false);

input.sheet-toggle-hidden-info:checked ~ div.sheet-toggle-hidden-info {
	display: block;
}

.sheet-slide-input-spell-slots-points {
	&:checked {
		~ .sheet-spell-slots,
		~ div .sheet-spell-slots {
			display: none;
		}
	}
	&:not(:checked) {
		~ .sheet-spell-points,
		~ div .sheet-spell-points {
			display: none;
		}
	}
}

/* Action specific stuff */
input.sheet-toggle-traits:not(:checked) ~ div.sheet-toggle-traits,
input.sheet-toggle-regional-effects:not(:checked) ~ div.sheet-toggle-regional-effects,
input.sheet-toggle-lair-actions:not(:checked) ~ div.sheet-toggle-lair-actions,
input.sheet-toggle-legendary-actions:not(:checked) ~ div.sheet-toggle-legendary-actions,
input.sheet-toggle-reactions:not(:checked) ~ div.sheet-toggle-reactions,
input.sheet-toggle-multiattack:not(:checked) ~ div.sheet-toggle-multiattack,
input.sheet-toggle-actions:not(:checked) ~ div.sheet-toggle-actions,
input.sheet-toggle-melee-weapons:not(:checked) ~ div.sheet-toggle-melee-weapons,
input.sheet-toggle-ranged-weapons:not(:checked) ~ div.sheet-toggle-ranged-weapons,
input.sheet-toggle-quick-weapons:not(:checked) ~ div.sheet-toggle-quick-weapons,
input.sheet-toggle-emote:not(:checked) ~ div.sheet-toggle-emote,
input.sheet-toggle-attack:not(:checked) ~ div div.sheet-toggle-attack,
input.sheet-toggle-reach:not(:checked) ~ div div.sheet-toggle-reach,
input.sheet-toggle-range:not(:checked) ~ div div.sheet-toggle-range,
input.sheet-toggle-range:not(:checked) ~ .sheet-toggle-ammo,
input.sheet-toggle-range:not(:checked) ~ .sheet-toggle-ammo-auto,
input.sheet-toggle-ammo:not(:checked) ~ div div.sheet-toggle-ammo,
input.sheet-toggle-ammo:not(:checked) ~ .sheet-toggle-ammo-auto,
input.sheet-toggle-target:not(:checked) ~ div div.sheet-toggle-target,
input.sheet-toggle-damage:not(:checked) ~ div div.sheet-toggle-damage,
input.sheet-toggle-damage:not(:checked) ~ .sheet-toggle-alt-damage,
input.sheet-toggle-damage:not(:checked) ~ .sheet-toggle-second-damage,
input.sheet-toggle-damage:not(:checked) ~ .sheet-toggle-crit,
input.sheet-toggle-alt-damage:not(:checked) ~ div div.sheet-toggle-alt-damage,
input.sheet-toggle-second-damage:not(:checked) ~ div div.sheet-toggle-second-damage,
input.sheet-toggle-crit:not(:checked) ~ div div.sheet-toggle-crit,
input.sheet-toggle-crit-bonus:not(:checked) ~ div div.sheet-toggle-crit-bonus,
input.sheet-toggle-bonuses:not(:checked) ~ div div.sheet-toggle-bonuses,
input.sheet-toggle-effects:not(:checked) ~ div.sheet-toggle-effects,
	/* Spell specific stuff */
input.sheet-toggle-spells-filter-condensed:checked ~ div .sheet-spells-toggle-spell-details,
input.sheet-toggle-spells-filter-prepared:checked ~ div input.sheet-toggle-spells-prep-con-rit-prepared:not(:checked) ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-ritual:checked ~ div input.sheet-toggle-spells-prep-con-rit-ritual:not(:checked) ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-concentration:not(:checked) ~ div input.sheet-toggle-spells-prep-con-rit-concentration:checked ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-verbal:not(:checked) ~ div input.sheet-toggle-spell-vsm-v:checked ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-somatic:not(:checked) ~ div input.sheet-toggle-spell-vsm-s:checked ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-material:not(:checked) ~ div input.sheet-toggle-spell-vsm-m:checked ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-casting-time-reaction:checked ~ div input.sheet-toggle-casting-time-reaction:not(:checked) ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-casting-time-bonus:checked ~ div input.sheet-toggle-casting-time-bonus:not(:checked) ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-casting-time-action:checked ~ div input.sheet-toggle-casting-time-action:not(:checked) ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-casting-time-minute:checked ~ div input.sheet-toggle-casting-time-minute:not(:checked) ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spells-filter-casting-time-longer:checked ~ div input.sheet-toggle-casting-time-longer:not(:checked) ~ .sheet-spells-toggle-spell,
input.sheet-toggle-spell-vsm-m:not(:checked) ~ div div.sheet-toggle-spell-vsm-m,
input.sheet-toggle-casting-time-longer:not(:checked) ~ div div.sheet-toggle-casting-time-longer,
input.sheet-toggle-description:not(:checked) ~ div div.sheet-toggle-description,
input.sheet-toggle-spell-higherlvl:not(:checked) ~ div div.sheet-toggle-spell-higherlvl,
input.sheet-toggle-spell-higherlvl-query:not(:checked) ~ div div.sheet-toggle-spell-higherlvl-query,
input.sheet-toggle-spell-higherlvl-query:not(:checked) ~ .sheet-toggle-spell-output-higherlvl-query,
input.sheet-toggle-save:not(:checked) ~ div.sheet-toggle-save,
input.sheet-toggle-save:not(:checked) ~ .sheet-toggle-sv-damage,
input.sheet-toggle-save:not(:checked) ~ .sheet-toggle-sv-second-damage,
input.sheet-toggle-sv-damage:not(:checked) ~ div div.sheet-toggle-sv-damage,
input.sheet-toggle-sv-second-damage:not(:checked) ~ div div.sheet-toggle-sv-second-damage,
input.sheet-toggle-heal:not(:checked) ~ div.sheet-toggle-heal,
input.sheet-toggle-recharge:not(:checked) ~ div div.sheet-toggle-recharge,
input.sheet-toggle-spell-from:not(:checked) ~ div div.sheet-toggle-spell-from,
input.sheet-toggle-spell-source:not(:checked) ~ div div.sheet-toggle-spell-source,
input.sheet-slide-input-custom-skills:not(:checked) ~ div.sheet-slide-toggle-custom-skills,
	/* misc stuff */
input.sheet-toggle-hd-d4:not(:checked) ~ div.sheet-toggle-hd-d4,
input.sheet-toggle-hd-d6:not(:checked) ~ div.sheet-toggle-hd-d6,
input.sheet-toggle-hd-d8:not(:checked) ~ div.sheet-toggle-hd-d8,
input.sheet-toggle-hd-d10:not(:checked) ~ div.sheet-toggle-hd-d10,
input.sheet-toggle-hd-d12:not(:checked) ~ div.sheet-toggle-hd-d12,
input.sheet-toggle-hd-d20:not(:checked) ~ div.sheet-toggle-hd-d20,
	/* Class Action */
input[class^="sheet-classactionshowoptions"]:not(:checked) ~ div.sheet-classaction-output-options,
        /* Spell display options */
input.sheet-toggle-spell-display-options:not(:checked) ~ .sheet-spell-display-option,
input.sheet-toggle-spell-dashboard:not(:checked) ~ .sheet-spell-dashboard,
input.sheet-toggle-spell-dashboard:not(:checked) ~ .sheet-toggle-warlock-slots,
input.sheet-toggle-spell-dashboard:not(:checked) ~ .sheet-toggle-sorcery-points,
input.sheet-toggle-spell-dashboard:not(:checked) ~ .sheet-toggle-spell-slots,
input.sheet-toggle-spell-slots:not(:checked) ~ div div.sheet-spell-slots-points,
input.sheet-toggle-spell-sorcery-points:not(:checked) ~ div div.sheet-spell-sorcery-points,
input.sheet-toggle-spell-warlock-slots:not(:checked) ~ div div.sheet-spell-warlock-slots,
input.sheet-toggle-spell-filters:not(:checked) ~ [class^=sheet-toggle-spells-filter],
input.sheet-toggle-spell-filters:not(:checked) ~ span.sheet-spells-filter,
input.sheet-toggle-spell-action-type:not(:checked) ~ div div.sheet-wrap-box > input[class^=sheet-toggle]:not(:checked),
input.sheet-toggle-spell-action-type:not(:checked) ~ div div.sheet-wrap-box > input[class^=sheet-toggle]:not(:checked) + span {
	display: none;
}

input.sheet-toggle-spell-action-type:not(:checked) ~ div div.sheet-wrap-box > input[class^=sheet-toggle]:checked + span {
	border-radius: $borderRadius;
}

.sheet-section-spells {
	.repcontrol_del {
		position: relative;
		z-index: 100;
	}
}

.sheet-spells-filter {
	font-size: 11px;
	display: inline-block;
}

input[class^="sheet-toggle-spells-filter"],
span[class^="sheet-toggle-spells-filter"],
input[class^="sheet-toggle-spells-prep-con-rit"],
span[class^="sheet-toggle-spells-prep-con-rit"] {
	height: 12px;
}

.sheet-spell-name {
	color: $deepRed;
}

.sheet-spell-name,
.sheet-action-name,
.sheet-weapon-name {
	font-size: 17px;
	padding: 0 !important;
	border: 0;
	background-color: transparent;
	font-weight: bold;
	font-family: "Times New Roman";
}

input[class^="sheet-toggle"]:checked + span[class^="sheet-toggle"] {
	background-color: $deepGreen;
}

input[class^="sheet-toggle-spells"]:checked + span[class^="sheet-toggle-spells"],
input[class^="sheet-toggle-inventory-"]:checked + span[class^="sheet-toggle-inventory-"],
input[class^="sheet-toggle-class-action-"]:checked + span[class^="sheet-toggle-class-action-"] {
	background-color: $deepRed;
}

span[class^="sheet-toggle-spells-filter"],
span[class^="sheet-toggle-spells-prep-con-rit"] {
	font-size: 10px;
}

div[class^="sheet-inventory-page"] {
	display: none;
}

input.sheet-toggle-inventory-1:checked ~ div.sheet-inventory-page-1,
input.sheet-toggle-inventory-2:checked ~ div.sheet-inventory-page-2,
input.sheet-toggle-inventory-3:checked ~ div.sheet-inventory-page-3,
input.sheet-toggle-inventory-99:checked ~ div[class^="sheet-inventory-page-"] {
	display: block;
}

div[class^="sheet-toggle-class-action-"] {
	display: none;
}

.sheet-toggle-class-action-page-1:checked ~ div.sheet-toggle-class-action-page-1,
.sheet-toggle-class-action-page-2:checked ~ div.sheet-toggle-class-action-page-2,
.sheet-toggle-class-action-page-99:checked ~ div[class^="sheet-toggle-class-action-page-"] {
	display: block;
}

.sheet-class-action-zebra {
	.sheet-shaped-row:nth-child(even) {
		background-color: #D5E3E7;
	}
}

input,
span {
	&.sheet-toggle-melee-weapons,
	&.sheet-toggle-ranged-weapons,
	&.sheet-toggle-quick-weapons,
	&[class^="sheet-toggle-inventory-"],
	&[class^="sheet-toggle-class-action-"],
	&[class^="sheet-toggle-spells-page-"],
	&.sheet-toggle-traits,
	&.sheet-toggle-regional-effects,
	&.sheet-toggle-lair-actions,
	&.sheet-toggle-legendary-actions,
	&.sheet-toggle-reactions,
	&.sheet-toggle-multiattack,
	&.sheet-toggle-actions {
		height: 14px;
		margin-top: 2px;
		margin-bottom: 2px;
	}
}

span {
	&.sheet-toggle-melee-weapons,
	&.sheet-toggle-ranged-weapons,
	&.sheet-toggle-quick-weapons,
	&[class^="sheet-toggle-inventory-"],
	&[class^="sheet-toggle-class-action-"],
	&[class^="sheet-toggle-spells-page-"],
	&.sheet-toggle-traits,
	&.sheet-toggle-regional-effects,
	&.sheet-toggle-lair-actions,
	&.sheet-toggle-legendary-actions,
	&.sheet-toggle-reactions,
	&.sheet-toggle-multiattack,
	&.sheet-toggle-actions {
		font-size: 12px;
	}
}

.sheet-spell-slots,
.sheet-spell-points {
	margin-top: -10px;
}

.sheet-spell-slots-points {
	.sheet-shaped-row:nth-child(even) {
		background-color: #EFF8FA;
	}
}

.sheet-no-background {
	background-color: transparent !important;
}

.sheet-spell-row-number,
.sheet-inventory-row-number {
	text-align: center;
	font-weight: bold;
}

.sheet-small-label,
.sheet-rolltemplate-5eDefault .sheet-small-label {
	font-size: 10px !important;
}

.sheet-small-label {
	input[type=text],
	input[type=number],
	select {
		height: 12px;
		padding: 0;
		font-size: 8px;
	}
}

.sheet-small-label,
.sheet-custom-class-hd {
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

[class*="sheet-pictos"],
.sheet-rolltemplate-5eDefault [class*="sheet-pictos"] {
	font-size: 14px;
}

.sheet-pictos,
.sheet-rolltemplate-5eDefault .sheet-pictos {
	font-family: "Pictos";
}

.sheet-pictos-custom,
.sheet-rolltemplate-5eDefault .sheet-pictos-custom {
	font-family: "Pictos Custom";
}

.sheet-pictos-three,
.sheet-rolltemplate-5eDefault .sheet-pictos-three {
	font-family: "Pictos Three";
}

.sheet-rolltemplate-5eDefault .sheet-concentration-icon {
	font-size: 18px;
}

.sheet-rolltemplate-5eDefault .sheet-ritual-icon {
	font-size: 20px;
}

.sheet-border-right,
.sheet-rolltemplate-5eDefault .sheet-border-right {
	border-right: 1px solid #000000;
}

.sheet-border-left,
.sheet-rolltemplate-5eDefault .sheet-border-left {
	border-left: 1px solid #000000;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 5px 0;
}

span.sheet-spacer {
	display: block;
	margin-top: 5px;
}

.sheet-vert-top,
.sheet-rolltemplate-5eDefault .sheet-vert-top {
	vertical-align: top !important;
}

.sheet-vert-middle,
.sheet-rolltemplate-5eDefault .sheet-vert-middle {
	vertical-align: middle !important;
}

.sheet-vert-bottom,
.sheet-rolltemplate-5eDefault .sheet-vert-bottom {
	vertical-align: bottom !important;
}

.sheet-center,
.sheet-rolltemplate-5eDefault .sheet-center {
	text-align: center;
}

.sheet-right {
	text-align: right;
}

textarea {
	height: 150px;
	resize: both;
}

.sheet-fluid-textarea {
	height: 100%;
}

.sheet-xs-textarea {
	height: 17px;
}

.sheet-small-textarea {
	height: 50px;
}

.sheet-medium-textarea {
	height: 100px;
}

.sheet-large-textarea {
	height: 300px;
}

.sheet-textarea-resize {
	resize: vertical;
}

.sheet-important-text,
.sheet-rolltemplate-5eDefault .sheet-important-text {
	color: #FF0000;
}

.sheet-sub-header {
	background-color: #CECECE;
	font-weight: bold;
}

.sheet-footer {
	background-color: rgba(250, 202, 78, 0.2);
}

/* DO NOT EDIT BELOW THIS LINE OR RISK BREAKING FORMATTING */
.sheet-shaped-row,
.sheet-rolltemplate-5eDefault .sheet-shaped-row {
	letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
	text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

[class^="sheet-col"],
.sheet-rolltemplate-5eDefault [class^="sheet-col"] {
	display: inline-block;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.sheet-col-1-3,
.sheet-rolltemplate-5eDefault .sheet-col-1-3 {
	width: 33.33333%;
}

.sheet-col-2-3,
.sheet-rolltemplate-5eDefault .sheet-col-2-3 {
	width: 66.66667%;
}

.sheet-col-1-6,
.sheet-rolltemplate-5eDefault .sheet-col-1-6 {
	width: 16.66667%;
}

.sheet-col-1-8 {
	width: 12.5%;
}

@for $i from 01 through 100 {
	$widthName: $i;
	@if $i < 10 {
		$widthName: 0 + '' + $i;
	}
	.sheet-col-#{$widthName},
	.sheet-rolltemplate-5eDefault .sheet-col-#{$widthName} {
		width: round(percentage($i/100));
	}
}

.sheet-offset-5 {
	margin-left: 5%;
}

.sheet-offset-10 {
	margin-left: 10%;
}

.sheet-offset-15 {
	margin-left: 15%;
}

.sheet-offset-18 {
	margin-left: 18%;
}

.sheet-offset-20 {
	margin-left: 20%;
}

.sheet-offset-24 {
	margin-left: 24%;
}

.sheet-offset-30 {
	margin-left: 30%;
}

.sheet-gm-info-block,
.sheet-gm-info-inline-block,
.sheet-rolltemplate-5eDefault .sheet-gm-info-block,
.sheet-rolltemplate-5eDefault .sheet-gm-info-inline-block {
	background-color: #F2F5D3 !important;
	display: none;
}
