/*@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98');*/
        table td,
        table th {
            padding: 0
        }
        
        .charsheet .sheet-c7 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 179.2pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c10 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #d9d9d9;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 575.2pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c12 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #efefef;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 89.2pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c43 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 483pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c56 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 24pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c46 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 81pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c39 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 483pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c65 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 26.2pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c38 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 196.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c68 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 179.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c29 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 575.2pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c16 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 576pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c26 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 199.5pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c44 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 91.5pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c45 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 88.5pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c55 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 270.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c32 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 165pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c15 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 196.5pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c49 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 64pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c64 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 154.5pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c22 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 286.5pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c58 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 154.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c3 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 207pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c28 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 64pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c50 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 117pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c42 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 93pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c30 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #ffffff;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 18pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c48 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 82.3pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c41 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 280.5pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c62 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 179.2pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c23 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 90pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c69 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 24pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c35 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 277.5pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c72 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 483pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c27 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 82.3pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c67 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 276.8pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c11 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: middle;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 64pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c52 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 98.2pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c63 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 64pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c59 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 89.2pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c61 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 0pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 26.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c6 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 483pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c53 {
            border-right-style: solid;
            padding: 2pt 2pt 2pt 2pt;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: top;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 165pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c4 {
            border-right-style: solid;
            border-bottom-color: #d9d9d9;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #d9d9d9;
            vertical-align: middle;
            border-right-color: #d9d9d9;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 82.3pt;
            border-top-color: #d9d9d9;
            border-bottom-style: solid
        }
        
        .charsheet .sheet-c17 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 12pt
        }
        
        .charsheet .sheet-c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal
        }
        
        .charsheet .sheet-c20 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.2;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .charsheet .sheet-c70 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.38;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .charsheet .sheet-c57 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .charsheet .sheet-c8 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.2;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .charsheet .sheet-c13 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.44;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .charsheet .sheet-c9 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }
        
        .charsheet .sheet-c19 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }
        
        .charsheet .sheet-c0 {
            background-color: #efefef;
            font-size: 11pt;
            font-family: "Calibri";
            font-weight: 700
        }
        
        .charsheet .sheet-c2 {
            background-color: #d9d9d9;
            font-size: 11pt;
            font-family: "Calibri";
            font-weight: 700
        }
        
        .charsheet .sheet-c36 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-style: italic
        }
        
        .charsheet .sheet-c31 {
            font-weight: 400;
            font-size: 24pt;
            font-family: "Times New Roman"
        }
        
        .charsheet .sheet-c25 {
            font-weight: 700;
            font-size: 10pt;
            font-family: "Calibri"
        }
        
        .charsheet .sheet-c60 {
            font-size: 11pt;
            font-family: "Calibri";
            font-weight: 700
        }
        
        .charsheet .sheet-c14 {
            font-weight: 400;
            font-size: 11pt;
            font-family: "Calibri"
        }
        
        .charsheet .sheet-c18 {
            font-weight: 700;
            font-size: 12pt;
            font-family: "Times New Roman"
        }
        
        .charsheet .sheet-c66 {
            font-weight: 400;
            font-size: 24pt;
            font-family: "Calibri"
        }
        
        .charsheet .sheet-c33 {
            margin-left: 21pt;
            padding-left: 0pt
        }
        
        .charsheet .sheet-c51 {
            padding: 0;
            margin: 0
        }
        
        .charsheet .sheet-c34 {
            margin-left: 17pt;
            text-indent: -13pt
        }
        
        .charsheet .sheet-c40 {
            margin-left: 17pt;
            text-indent: -15pt
        }
        
        .charsheet .sheet-c71 {
            max-width: 576pt;
            padding: 18pt 18pt 18pt 18pt
        }
        
        .charsheet .sheet-c47 {
            margin-left: 20pt;
            padding-left: 0pt
        }
        
        .charsheet .sheet-c21 {
            background-color: #d9d9d9
        }
        
        .charsheet .sheet-c24 {
            background-color: #efefef
        }
        
        .charsheet .sheet-c37 {
            background-color: #ffffff
        }
        
        .charsheet .sheet-c5 {
            height: 0pt
        }
        
        .charsheet .sheet-c54 {
            height: 23pt
        }
        
        .sheet-title {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 16pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .sheet-subtitle {
            padding-top: 0pt;
            color: #000000;
            font-size: 12pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }
		
		.charsheet button[type=roll].sheet-d6-dice::before {	/*new die changes die roller to d6*/
			font-family: 'dicefontd6',arial;
			content: 'F ';
			color: red;
		}
        
		.charsheet .sheet-header-container {
			position: relative;
			text-align: center;
			color: white;
			font-size: 400%;
			text-shadow:-2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
		}
		.charsheet .sheet-header-upper-centered {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.charsheet .sheet-header-lower-centered {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
		}	
				
		/* Hide actual radio */
		input[type="radio"]
		{
			opacity: 0;
			width: 16px;
			height: 16px;
			position: relative;
			top: 5px;
			left: 6px;
			margin: -10px;
			cursor: pointer;
			z-index: 1;
		}

		/* Fake radio */
		input[type="radio"] + span::before
		{
			margin-right: 4px;
			border: solid 1px #a8a8a8;
			line-height: 14px;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			
			-moz-box-shadow: 0 0 2px #ccc;
			-webkit-box-shadow: 0 0 2px #ccc;
			box-shadow: 0 0 2px #ccc;
			
			background: #f6f6f6;
			background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
			background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
			background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
			background: -o-radial-gradient(#f6f6f6, #dfdfdf);
			background: radial-gradient(#f6f6f6, #dfdfdf);
			
			content: '\2764';
			width: 12px;
			height: 12px;
			font-size: 24px;
			
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}

		/* Remove dot from all radios _after_ selected one */
		input[type="radio"]:checked ~ input[type="radio"] + span::before
		{    
			content: "";
		}
		
		
        li {
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman"
        }
        
        h1 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 16pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h2 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h3 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 3pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 13pt;
            padding-bottom: 3pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h6 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 3pt;
            font-family: "Times New Roman";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }