rolltemplate.sheet-rolltemplate-tispace
    .sheet-tispace-container
        | {{#name}}
        h1 {{name}} 
        | {{/name}}
        .sheet-tispace-body
            | {{#character_name}}
            h2 {{character_name}} 
            | {{/character_name}}
            | {{#roll}}
            .sheet-tispace-roll-result
                | Result: {{roll}}
            | {{/roll}}