include mixins.pug

.tis-wrapper
    .tis-name
        h1.tis-name__label(data-i18n="Name") Name
        input.tis-name__input(name=`attr_character_name`, type="text")
    .tis-body
        .tis-body__leftcol
            .tis-body__character
                .tis-characteristics__general
                    each characteristic in ["Age","Species","Species Drawback","Trope","Fatal Flaw"]
                        - const attr = characteristic.toLowerCase().replace(/ /g, "_");
                        +characteristic-display(characteristic, attr)
                    .tis-characteristic--textarea(class=`tis-characteristic--description`)
                        .tis-characteristic__label--description(data-i18n="Description") Description
                        textarea.tis-characteristic__textarea(name=`attr_description`)
            .tis-body__improvements
                h2(data-i18n="Improvements") Improvements
                .tis-improvementrow--header 
                    strong.tis-improvementrow__label(data-i18n="Name") Strength Name
                    strong.tis-improvementrow__label(data-i18n="Description") Description
                fieldset(class="repeating_improvements")
                    .tis-improvementrow
                        .tis-improvementrow__input
                            input(name="attr_improvement_name", type="text")
                        .tis-improvementrow__divider
                        .tis-improvementrow__input
                            input(name="attr_improvement_description", type="text")
            .tis-body__records
                h2(data-i18n="Records") Records
                .tis-records
                    textarea.tis-records__textarea(name="attr_")

        .tis-body__rightcol
            .tis-body__stats
                h2(data-i18n="Stats") Stats   
                each stat in ["Flight", "Fight", "Brawn", "Brains", "Grit", "Charm"]
                    - const attr = stat.toLowerCase().replace(/ /g, "_");
                    +stat-display(stat, attr)
            .tis-body__hex--first 
                h2(data-i18n="Adversity Tokens") Adversity Tokens
                label.tis-adversity
                    input.tis-adversity__input(name=`attr_adversity`, type="number", value="3")
            .tis-body__hex
                h2(data-i18n="Improvement Points") Improvement Points
                label.tis-improvement
                    input.tis-improvement__input(name=`attr_improvement`, type="number", value="3")
            .tis-body__shiproles
                    h2.tis-textblock__label(data-i18n="Ship Roles") Ship Roles
                    textarea.tis-textblock__textarea(name=`attr_ship_roles`)
            .tis-body__backpack
                    h2.tis-textblock__label(data-i18n="Space Backpack") Space Backpack
                    textarea.tis-textblock__textarea(name=`attr_space_backpack`)
                    
include rolltemplates.pug