<div class="sheet-shaped-row">
  <div class="sheet-col-09 sheet-vert-middle sheet-skill-select-wrapper">
    <span class="sheet-en">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Unproficient</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Proficient</option>
        <option value="@{exp}">++ &#160;&#160; Expertise</option>
      </select>
    </span>
    <span class="sheet-de">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Fehlt Tüchtig</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Tüchtig</option>
        <option value="@{exp}">++ &#160;&#160; Sachverstand</option>
      </select>
    </span>
    <span class="sheet-fr">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Non Maîtrisée</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Maîtrise</option>
        <option value="@{exp}">++ &#160;&#160; Expertise</option>
      </select>
    </span>
	  <span class="sheet-ru">
      <select name="attr_{{name}}_prof_exp">
        <option value="@{jack_of_all_trades}">&#8212; &#160;&#160; Нет владеет</option>
        <option value="@{PB}">&#160;+ &#160;&#160; Владение</option>
        <option value="@{exp}">++ &#160;&#160; Эксперт</option>
      </select>
    </span>
  </div>
  <div class="sheet-col-12 sheet-vert-middle">
    <input class="sheet-no-spin sheet-skill-total" type="number" name="attr_{{name}}" value="@{{{name}}_prof_exp}[proficiency] + @{{{name}}_attribute}[attribute] + @{{{name}}_bonus}[bonus] + (@{global_check_bonus})[global]" disabled="disabled">
  </div>
  <div class="sheet-col-07">
    <input class="sheet-passive-skill sheet-center sheet-no-spin" type="number" name="attr_passive_{{name}}" value="@{passive_base} + @{{{name}}} + @{{{name}}_passive_bonus}" disabled="disabled">
  </div>
  <div class="sheet-col-63 sheet-vert-middle sheet-pad-l-sm sheet-relative">
    <div class="sheet-tooltip sheet-inline">
      <span class="sheet-skill-name">
        <span class="sheet-en">{{friendly_name}}</span>
        <span class="sheet-de">{{friendly_name_de}}</span>
        <span class="sheet-fr">{{friendly_name_fr}}</span>
		    <span class="sheet-ru">{{friendly_name_ru}}</span>
      </span>

      <div class="sheet-tooltip-content-right sheet-small-label">
        <div class="sheet-en">{{description}}</div>
        <div class="sheet-de">{{description_de}}</div>
        <div class="sheet-fr">{{description_fr}}</div>
        <div class="sheet-ru">{{description_ru}}</div>
      </div>
    </div>
    <div class="sheet-skills-attribute-selector-wrapper">
      <span class="sheet-en">
        <select name="attr_{{name}}_attribute" class="sheet-skills-attribute-selector">
          <option value="@{strength_mod}" {{str_selected}}>Str</option>
          <option value="@{dexterity_mod}" {{dex_selected}}>Dex</option>
          <option value="@{constitution_mod}" {{con_selected}}>Con</option>
          <option value="@{intelligence_mod}" {{int_selected}}>Int</option>
          <option value="@{wisdom_mod}" {{wis_selected}}>Wis</option>
          <option value="@{charisma_mod}" {{cha_selected}}>Cha</option>
        </select>
      </span>
      <span class="sheet-de">
        <select name="attr_{{name}}_attribute" class="sheet-skills-attribute-selector">
          <option value="@{strength_mod}" {{str_selected}}>Stä</option>
          <option value="@{dexterity_mod}" {{dex_selected}}>Ges</option>
          <option value="@{constitution_mod}" {{con_selected}}>Kon</option>
          <option value="@{intelligence_mod}" {{int_selected}}>Int</option>
          <option value="@{wisdom_mod}" {{wis_selected}}>Wei</option>
          <option value="@{charisma_mod}" {{cha_selected}}>Cha</option>
        </select>
      </span>
      <span class="sheet-fr">
        <select name="attr_{{name}}_attribute" class="sheet-skills-attribute-selector">
          <option value="@{strength_mod}" {{str_selected}}>For</option>
          <option value="@{dexterity_mod}" {{dex_selected}}>Dex</option>
          <option value="@{constitution_mod}" {{con_selected}}>Con</option>
          <option value="@{intelligence_mod}" {{int_selected}}>Int</option>
          <option value="@{wisdom_mod}" {{wis_selected}}>Sag</option>
          <option value="@{charisma_mod}" {{cha_selected}}>Cha</option>
        </select>
      </span>
	    <span class="sheet-ru">
        <select name="attr_{{name}}_attribute" class="sheet-skills-attribute-selector">
          <option value="@{strength_mod}" {{str_selected}}>Сил</option>
          <option value="@{dexterity_mod}" {{dex_selected}}>Лов</option>
          <option value="@{constitution_mod}" {{con_selected}}>Тел</option>
          <option value="@{intelligence_mod}" {{int_selected}}>Инт</option>
          <option value="@{wisdom_mod}" {{wis_selected}}>Муд</option>
          <option value="@{charisma_mod}" {{cha_selected}}>Хар</option>
        </select>
      </span>
    </div>
  </div>
  <div class="sheet-col-09">
    <button type="roll" name="roll_{{name_cap}}_Check" value="@{output_option} &{template:5eDefault} {{ability=1}} {{character_name=@{character_name}}} @{show_character_name} {{title={{friendly_name}} ({{attribute}})}} {{subheader=Ability Check}} {{rollname=Result}} {{roll=[[d20@{d20_mod} + @{{{name}}}]]}} {{rolladv=[[d20@{d20_mod} + @{{{name}}}]]}} @{classaction{{name}}}"></button>
  </div>
</div>
