/* Set the min-width so that when the window is resized the look will stay consistant */

@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

.charsheet {
  background-color: #ddd;
  min-width: 800px;
  max-width: 930px;
  font-size: 1em;
  font-family: 'Slabo+27px';
}

.sheet-belief-section {
  margin-top: 1em;
  text-align: center;
}

.sheet-belief-text {
  height: 2em;
}

.sheet-trait-section {
  margin-top: 1em;
}

.sheet-trait-notes {
  height: 5em;
}

.sheet-stat-section {
  margin-top: 1em;
  text-align: center;
}

.sheet-associated-moves {
  display: inline-block;
  width: 20%;
  margin-left: 25px;
  margin-right: 25px;
}

.sheet-lifepath-move {
  font-style: italic;
}

.sheet-point-section {
  margin-top: 1em;
}

.sheet-checkbox {
  margin: 0;
  padding: 0;
  width: auto !important;
}

.sheet-margin-checkbox {
  margin: 0 5px 0 0;
  padding: 0;
  width: auto !important;
}

.sheet-highlighted-checkbox {
  outline: 2px solid #15121294;
  outline-offset: -2px;
  margin: 0;
  padding: 0;
  width: auto !important;
}

.sheet-highlighted-checkbox:checked {
  outline: 10px solid rgb(100, 8, 100);
  outline-offset: -10px;
}

.sheet-solid-line {
  border: 1px solid #5555551f;
  height: 0px;
  margin-top: 10px;
}

/* Override normal col behavior in these special cases */
.sheet-trait-meter-col {
  width: 43% !important;
  margin: 0 !important;
}

.sheet-vs-column {
  width: 7% !important;
  margin: 0 10px 0 10px !important;
  padding: 0 !important;
  text-align: center;
}

/* Universal styling applied to all elements of these types */

h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  text-align: center;
}

label {
    font-weight: lighter;
}

input {
  display: inline-block;
}

input:checked {
  outline: 10px solid rgb(0, 0, 0);
  outline-offset: -10px;
}

textarea {
  resize: vertical;
  height: 3em;
}

hr {
  height: 1em;
  margin: 0;
}

/* Targeted classes */

.sheet-character-section label {
  display: inline-block;
  width: 27%;
}

.sheet-witchcraft-section label {
  display: inline-block;
  width: 24%;
}

.sheet-belief-section label {
  font-weight: 100;
  width: 15%;
  display: inline-block;
}

.sheet-belief-section input {
  width: 80%;
  display: inline-block;
}

.sheet-trait-section h3,h4 {
  text-align: center;
}

.sheet-trait-section input {
  width: 100%;
}

.sheet-stat-section label {
  width: 10%;
  display: inline-block;
}

.sheet-stat-section input {
  width: 7% !important;
}

.sheet-roll-buttons button {
  width: 12%
}

.sheet-opposite-of-blight label {
  width: 17%;
}