include ../components/component
include ../components/nav/nav
include ../components/input/input
include ../components/header/header
include ./acts/acts
include ./encounter_report/encounter_report

h2(data-i18n='crossed_fates')=locals['crossed_fates']
div.crossed-fates
  div.header
    +header

    //- nav bar
    +nav_bar

+acts_page
+encounter_report_page
