* {box-sizing: border-box;}


/*-------------BASIC FLEX SETUP-------------*/

.sheet-flex-row-wrapper
{
    align-content:flex-start;
    display:flex;
    flex-flow: row wrap;
}

.sheet-flex-column-wrapper
{
    display:flex;
    flex-flow: column;
}

.sheet-tab-flex-item
{
    display:flex;
    margin:5px;
    padding:3px;
    flex-flow: row wrap;
}
.sheet-tab-flex-item-column
{
    display:flex;
    margin:5px;
    padding:3px;
    flex-flow: column;
}

.sheet-flex-element
{
    display:flex;
    flex-direction:row;
    height:25px
}

.sheet-flex-element-reverse
{
    flex-basis:auto;
    display:flex;
    flex-direction:row-reverse;
    height:25px;
}

/*-------------END FLEX SETUP-------------*/

/*-------------UTILITY CLASSES-------------*/

.sheet-multi-input > .sheet-flex-element
{
    margin-top:3px;
    margin-bottom:3px;
}

.sheet-mini-input > .sheet-flex-element
{
    margin-top:3px;
}


.sheet-nested
{
    padding:0px;
    margin-left:0px;
    margin-right:0px;
}

.sheet-nomarg
{
    margin:0;
}

.sheet-nopad
{
    padding:0;
}

.sheet-notop
{
    margin-top:0px;
    margin-bottom:0px;
}

.sheet-just-between
{
    justify-content:space-between;
}

.sheet-just-around
{
    justify-content:space-around;
}

.sheet-just-center
{
    justify-content:center;
}

.sheet-align-start
{
    align-content:flex-start;
}

.sheet-just-end-self
{
    margin-left:auto;
}

.sheet-align-centered
{
    align-items:center;
}

.sheet-border
{
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.sheet-4m-top
{
    margin-top:4px;
}

.sheet-3m-sides
{
    margin-left:3px;
    margin-right:3px;
}

.sheet-2x
{
    flex-grow:2;
}

.sheet-1x
{
    flex-grow:1;
}

.sheet-end
{
    justify-content:flex-end;
}

.auto
{
    width:auto;
}


/*-------------END UTILITY CLASSES-------------*/

/*-------------SELECTOR-SPECIFIC CLASSES-------------*/

/*-------------Button-------------*/
button[type=roll].sheet-grit-roll::before{
    content: ''; 
}
button[type=roll].sheet-weapon-roll::before{
    content: ''; 
}

button[type=roll].sheet-pilotweapon-roll::before{
    content: ''; 
}

button[type=roll].sheet-hase-roll::before{
    content: ''; 
}

button[type=roll].sheet-core-struct-roll::before{
    content: ''; 
}

button[type=roll].sheet-sys-roll::before{
    content: ''; 
}


button.sheet-grit-roll{
    box-shadow:none;
    border:none;
    position:relative;
    bottom:3px;
    right:3px;
    background:none;
    font-weight:bold;
}

button.sheet-sys-roll{
    box-shadow:none;
    width:120px;
    border:none;
    text-align:left;
    position:relative;
    right:3px;
    background:none;
    font-weight:bold;
}

button.sheet-hase-roll{
    box-shadow:none;
    width:120px;
    border:none;
    text-align:left;
    position:relative;
    bottom:3px;
    right:3px;
    background:none;
    font-weight:bold;
}


button.sheet-core-struct-roll{
    position:absolute;
    width:55px;
    height:40px;
    background:none;
    font-weight:bold;
    z-index:10000;
}

button.sheet-weapon-roll{
    box-shadow:none;
    text-align:left;
    border:none;
    position:relative;
    width:116px;
    right:2px;
    background:none;
    font-weight:bold;
}

button.sheet-pilotweapon-roll{
    box-shadow:none;
    border:none;
    position:relative;
    bottom:2px;
    right:9px;
    width:180px;
    background:none;
    font-weight:bold;
}

button.sheet-grit-roll:hover,button.sheet-sys-roll:hover, button.sheet-weapon-roll:hover, .sheet-weapon-counter:hover, button.sheet-pilotweapon-roll:hover{
    color:#ff3838;
}

button.sheet-grit-roll:active,button.sheet-sys-roll:hover, button.sheet-weapon-roll:active, button.sheet-weapon-roll:active label.sheet-weapon-counter, button.sheet-pilotweapon-roll:active
{
    color:#ad2222;
}
/*-------------Label-------------*/
label
{
    padding:0px;
    margin: 3px;
    vertical-align:center;
}

label.sheet-autocalc-rolls
{
    position:relative;
    font-size:12px;
    right:5px;
}

label.sheet-LANCER
{
    margin-left:0px;
    margin-top:25px;
    font-size:55px;
    font-weight:bold;
}

label.sheet-mid
{
    font-size:14px;
    font-weight:bold;
}
/*-------------Input-------------*/

input
{
    padding-top:5px;
}

input.sheet-flex
{
    flex-basis:auto;
    display:flex;
    flex-grow:3;
}

input[type="number"].sheet-1digit
{
    text-align:center;
    width:35px;
}

input[type="number"].sheet-2digit
{
    text-align:center;
    width:40px;
}

input.sheet-compressed
{
    height:20px;
}

input.sheet-short
{
    text-align:center;
    width:25px;
}

input.sheet-mid
{
    width:100px;
}

input.sheet-long
{
    width:145px;
}

input.sheet-license
{
	width: 25px;
    height: 30px;
	opacity:0;
	z-index:9999;
}

input.sheet-structure, input.sheet-corestress{
	margin-right:10px;
	width: 55px;
    height: 40px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin-top:0px;
}

input.sheet-overcharge
{
	width: 35px;
    height: 40px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin-top:0px;
}

input.sheet-corepower
{
    width:22px;
    height:22px;
    left:30px;
    position:relative;
    opacity:0;
}

/*-------------Span-------------*/

span.sheet-haseinfo
{
    font-size:9px;
}

span.sheet-overcharge
{
	text-align: center;
    display: inline-block;
	font-size: 13px;	
	background: #c7c3b0;
	color: black;
	font-weight: bold;
	width: 35px;
    height: 40px;
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	left:30px;
	margin-left:-35px;
	border: 2px solid black;
	border-left:none;
	margin-top:0px;
}


span.sheet-structure, span.sheet-corestress{
	text-align: center;
    display: inline-block;
	font-size: 13px;	
	background: #c7c3b0;
	color: black;
	font-weight: bold;
	width: 55px;
    height: 40px;
    cursor: pointer;	
	vertical-align: middle;
	margin-left:-65px;
	border: 2px solid black;
	border-left:none;
	position:relative;
	left:60px;
	margin-top:0px;
}

span.sheet-pskill-fancy
{
    display:inline-block;
    width:34px;
    margin:0px;
    border-radius:0px;
    text-align:center;
    font-size:9px;
    font-weight:bold;
    margin-left:-35px;
    background-color:#fff;
}

span.sheet-license
{
    cursor:pointer;
    display: inline-block;
    line-height:30px;
	text-align: center;
	font-size: 13px;	
	font-weight: bold;
	background: #c7c3b0;
	color: black;
	width: 20px;
    height: 30px;
	border: 2px solid black;
	border-left:none;
	margin-left:-25px;
	margin-top:0px;
	margin-bottom:0px;
    position:relative;
    left:22px;
    
}

span.sheet-frame-autocalcs
{
    display:inline-block;
    color: solid black;
    background:white;
    text-align:center;
    width:45px;
    height:25px;
    margin:0;
    font-size:17px;
    font-weight:bold;
    border: 2px solid black;
    border-radius:5px;
}

span.sheet-corepower
{
    display:inline-block;
    color: solid black;
    text-align:center;
    width:22px;
    line-height:16px;
    padding-top:0px;
    height:22px;
    font-size:14px;
    font-weight:bold;
    background: #a1ff9e;
    border: 2px solid black;
    border-radius:5px;
}

/*-------------Textarea-------------*/
textarea
{
    resize:none;
    height:inherit;
    width:100%;
}


/*-------------END SELECTOR CLASSES-------------*/

/*-------------REPEATING FIELD SETUP-------------*/

.repcontrol[data-groupname="repeating_pilotarmor"] > .btn {
    position:relative;
    bottom:15px;
    margin:0;
}

.repcontainer[data-groupname="repeating_pilotweapons"] > .repitem {
    display:inline-block;
}

.repcontainer[data-groupname="repeating_weapons"] > .repitem {
    display:inline-block;
}

.repcontainer[data-groupname="repeating_talents"] > .repitem {
    display: inline-block;
}

.sheet-pilotarmor-counter-div {
    counter-reset:sheet-rep-pilot-armor 1;
}

.sheet-pilotarmor-counter::before {
    counter-increment: sheet-rep-pilot-armor;
    content:'PILOT ARMOR ' counter(sheet-rep-pilot-armor);
}

.sheet-pilotwep-counter-div {
    counter-reset:sheet-rep-pilot-wep 2;
}

.sheet-pilotwep-counter::before {
    counter-increment: sheet-rep-pilot-wep;
    content:'PILOT WEAPON ' counter(sheet-rep-pilot-wep);
}

.sheet-weapon-counter-div {
    counter-reset:sheet-rep-wep 2;
}

.sheet-weapon-counter{
    cursor:pointer;
}

.sheet-weapon-counter::before {
    counter-increment: sheet-rep-wep;
    content:'WEAPON ' counter(sheet-rep-wep);
}

.sheet-system-counter-div {
    counter-reset:sheet-rep-sys 1;
}

.sheet-system-counter::before {
    counter-increment: sheet-rep-sys;
    content:'SYSTEM ' counter(sheet-rep-sys);
}

/*-------------END REPEATING FIELD SETUP-------------*/

/*-------------TAB SETUP-------------*/
/*this hides the contents of each tab by default*/
.charsheet div[class^="sheet-section"] { 	
	display: none;
}

/*this shows the tab content when the appropriate input field is selected*/
.charsheet input.sheet-tab1:checked ~ div.sheet-section-pilot,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-talents,
.charsheet input.sheet-tab3:checked ~ div.sheet-section-frame
{
	display: block;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] { 	
	display: block;
}

/*this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else*/
.charsheet input.sheet-tab {
    width: 100px;
    height: 50px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.charsheet input.sheet-acc-tab {
    left:15px;
    width: 100px;
    height: 50px;
    cursor: pointer;	
	position: relative;
	opacity:0;
	z-index: 9999;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet span.sheet-tab {
	text-align: center;
    display: inline-block;
	font-size: 13px;	
	background: #c7c3b0;
	color: black;
	font-weight: bold;
	border-radius: 4px;
	width: 100px;
    height: 40px;
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -101px;/*originally 91px*/
}

.charsheet span.sheet-acc-tab {
    left:15px;
	text-align: center;
    display: inline-block;
	font-size: 13px;	
	background: #c7c3b0;
	color: black;
	font-weight: bold;
	border-radius: 4px;
	width: 100px;
    height: 40px;
    cursor: pointer;	
	position: relative;
	vertical-align: middle;
	margin-left: -101px;/*originally 91px*/
}

/*license button color setup*/
input.sheet-license3:checked+span.sheet-license3,
input.sheet-license3:checked+span.sheet-license3 + input.sheet-license2+span.sheet-license2,
input.sheet-license3:checked+span.sheet-license3 + input.sheet-license2+span.sheet-license2 + input.sheet-license1+span.sheet-license1,
input.sheet-license2:checked+span.sheet-license2,
input.sheet-license2:checked+span.sheet-license2 + input.sheet-license1+span.sheet-license1,
input.sheet-license1:checked+span.sheet-license1
{
    background:#ff4242;
}


/*this modifies the span color once the radio button is selected so you know which tab is selected*/
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6,
.charsheet input.sheet-tab7:checked + span.sheet-tab7,
.charsheet input.sheet-tab8:checked + span.sheet-tab8,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 
{
    background: #2c424e;
    color: #bfc4c6;
	border-radius: 4px;
}

/*acc button color setup*/
input.sheet-acc-tab1:checked + span.sheet-acc-tab1,
input.sheet-acc-tab2:checked + span.sheet-acc-tab2,
input.sheet-acc-tab3:checked + span.sheet-acc-tab3
{
    background: #ff9d87;
	border-radius: 4px;
}

/*core stress/structure/overcharge color setup*/

input.sheet-structure1:checked + span.sheet-structure1,
input.sheet-corestress1:checked + span.sheet-corestress1,
input.sheet-overcharge0:checked + span.sheet-overcharge0
{
    background: #a1ff9e;
}

input.sheet-structure2:checked + span.sheet-structure2,
input.sheet-structure2:checked + span.sheet-structure2 + input.sheet-structure1 + span.sheet-structure1,
input.sheet-corestress2:checked + span.sheet-corestress2,
input.sheet-corestress2:checked + span.sheet-corestress2 + input.sheet-corestress1 + span.sheet-corestress1,
input.sheet-overcharge1:checked + span.sheet-overcharge1 + input.sheet-overcharge0 + span.sheet-overcharge0,
input.sheet-overcharge1:checked + span.sheet-overcharge1
{
    background: #fff04c;
}

input.sheet-structure3:checked + span.sheet-structure3,
input.sheet-structure3:checked + span.sheet-structure3 + input.sheet-structure2 + span.sheet-structure2 + input.sheet-structure1 + span.sheet-structure1,
input.sheet-structure3:checked + span.sheet-structure3 + input.sheet-structure2 + span.sheet-structure2,
input.sheet-corestress3:checked + span.sheet-corestress3,
input.sheet-corestress3:checked + span.sheet-corestress3 + input.sheet-corestress2 + span.sheet-corestress2 + input.sheet-corestress1 + span.sheet-corestress1,
input.sheet-corestress3:checked + span.sheet-corestress3 + input.sheet-corestress2 + span.sheet-corestress2,
input.sheet-overcharge2:checked + span.sheet-overcharge2,
input.sheet-overcharge2:checked + span.sheet-overcharge2 + input.sheet-overcharge1 + span.sheet-overcharge1,
input.sheet-overcharge2:checked + span.sheet-overcharge2 + input.sheet-overcharge1 + span.sheet-overcharge1 + input.sheet-overcharge0 + span.sheet-overcharge0
{
    background: #f79c00;
}

input.sheet-structure4:checked + span.sheet-structure4,
input.sheet-structure4:checked + span.sheet-structure4 + input.sheet-structure3 + span.sheet-structure3,
input.sheet-structure4:checked + span.sheet-structure4 + input.sheet-structure3 + span.sheet-structure3 + input.sheet-structure2 + span.sheet-structure2 + input.sheet-structure1 + span.sheet-structure1,
input.sheet-structure4:checked + span.sheet-structure4 + input.sheet-structure3 + span.sheet-structure3 + input.sheet-structure2 + span.sheet-structure2,
input.sheet-corestress4:checked + span.sheet-corestress4,
input.sheet-corestress4:checked + span.sheet-corestress4 + input.sheet-corestress3 + span.sheet-corestress3,
input.sheet-corestress4:checked + span.sheet-corestress4 + input.sheet-corestress3 + span.sheet-corestress3 + input.sheet-corestress2 + span.sheet-corestress2 + input.sheet-corestress1 + span.sheet-corestress1,
input.sheet-corestress4:checked + span.sheet-corestress4 + input.sheet-corestress3 + span.sheet-corestress3 + input.sheet-corestress2 + span.sheet-corestress2,
input.sheet-overcharge3:checked + span.sheet-overcharge3 +input.sheet-overcharge2 + span.sheet-overcharge2 + input.sheet-overcharge1 + span.sheet-overcharge1 + input.sheet-overcharge0 + span.sheet-overcharge0,
input.sheet-overcharge3:checked + span.sheet-overcharge3 + input.sheet-overcharge2 + span.sheet-overcharge2 + input.sheet-overcharge1 + span.sheet-overcharge1,
input.sheet-overcharge3:checked + span.sheet-overcharge3 + input.sheet-overcharge2 + span.sheet-overcharge2,
input.sheet-overcharge3:checked + span.sheet-overcharge3 
{
    background: #f76200;
}

input.sheet-structurecrit:checked + span.sheet-structurecrit,
input.sheet-structurecrit:checked + span.sheet-structurecrit + input.sheet-structure4 + span.sheet-structure4 + input.sheet-structure3 + span.sheet-structure3,
input.sheet-structurecrit:checked + span.sheet-structurecrit + input.sheet-structure4 + span.sheet-structure4 + input.sheet-structure3 + span.sheet-structure3 + input.sheet-structure2 + span.sheet-structure2 + input.sheet-structure1 + span.sheet-structure1,
input.sheet-structurecrit:checked + span.sheet-structurecrit + input.sheet-structure4 + span.sheet-structure4 + input.sheet-structure3 + span.sheet-structure3 + input.sheet-structure2 + span.sheet-structure2,
input.sheet-structurecrit:checked + span.sheet-structurecrit + input.sheet-structure4 + span.sheet-structure4,
input.sheet-corestressbreach:checked + span.sheet-corestressbreach,
input.sheet-corestressbreach:checked + span.sheet-corestressbreach + input.sheet-corestress4 + span.sheet-corestress4 + input.sheet-corestress3 + span.sheet-corestress3,
input.sheet-corestressbreach:checked + span.sheet-corestressbreach + input.sheet-corestress4 + span.sheet-corestress4 + input.sheet-corestress3 + span.sheet-corestress3 + input.sheet-corestress2 + span.sheet-corestress2 + input.sheet-corestress1 + span.sheet-corestress1,
input.sheet-corestressbreach:checked + span.sheet-corestressbreach + input.sheet-corestress4 + span.sheet-corestress4 + input.sheet-corestress3 + span.sheet-corestress3 + input.sheet-corestress2 + span.sheet-corestress2,
input.sheet-corestressbreach:checked + span.sheet-corestressbreach + input.sheet-corestress4 + span.sheet-corestress4,
input.sheet-overcharge4:checked + span.sheet-overcharge4,
input.sheet-overcharge4:checked + span.sheet-overcharge4+input.sheet-overcharge3 + span.sheet-overcharge3 +input.sheet-overcharge2 + span.sheet-overcharge2 + input.sheet-overcharge1 + span.sheet-overcharge1 + input.sheet-overcharge0 + span.sheet-overcharge0,
input.sheet-overcharge4:checked + span.sheet-overcharge4 + input.sheet-overcharge3 + span.sheet-overcharge3 + input.sheet-overcharge2 + span.sheet-overcharge2 + input.sheet-overcharge1 + span.sheet-overcharge1,
input.sheet-overcharge4:checked + span.sheet-overcharge4 + input.sheet-overcharge3 + span.sheet-overcharge3 + input.sheet-overcharge2 + span.sheet-overcharge2,
input.sheet-overcharge4:checked + span.sheet-overcharge4 + input.sheet-overcharge3 + span.sheet-overcharge3,
input.sheet-corepower:checked + span.sheet-corepower
{
    background: #ce0606;
}

input.sheet-corepower:checked + span.sheet-corepower:after
{
    content:"⌾";
}

input.sheet-corepower:not(:checked) + span.sheet-corepower:after
{
content:"⍟";
}