.sheet-charsheet {
    min-width: 850px;
}
.sheet-divTable {
	display: table;
	width: 100%;
	background-color: #FFFFFF;
}
.sheet-divTableRow {
	display: table-row;
	border: 1px solid #999999;	
}
.sheet-divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.sheet-divTableCell, .sheet-divTableHead {
	display: table-cell;
	padding: 3px 10px;
	text-align: center;
	vertical-align: top;
}
.sheet-divTableCell3 {
	display: table-cell;
	padding: 3px 10px;
	width: 33%;
	text-align: center;
	vertical-align: top;
}
.sheet-divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.sheet-divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.sheet-divTableBody {
	display: table-row-group;
}
.sheet-attribute_mod {
	font-size: x-large;
	width: 80px;
	height: 120px;
	text-align: center;
}
.sheet-attribute_score {
	width:30px;
	height: 30px;
	position: relative;
	text-align: center;
}
.sheet-contain {
	border: 1px solid black;
	padding: 10px;
}
.sheet-allt {
	text-align: left;
}
.sheet-hpmax {
	position: relative;
	bottom: 20px;
	float: left;
}
.sheet-hitdie {
	float: left;
	position: relative;
	bottom: -10px;
	right: 75px;
}
.sheet-hp {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: x-large;
}
.sheet-hpbox {
	width: 100%;
    height: 20px;
}
.sheet-spacer {
	height: 3px;
}
.sheet-smallft { font-size: small; }
.sheet-w5 { width: 5%; }
.sheet-w10 { width: 10%; }
.sheet-w15 { width: 15%; }
.sheet-w20 { width: 20%; }
.sheet-w25 { width: 25%; }
.sheet-w30 { width: 30%; }
.sheet-w33 { width: 33%; display: inline-block; }
.sheet-w35 { width: 35%; }
.sheet-w40 { width: 40%; }
.sheet-w45 { width: 45%; }
.sheet-w50 { width: 50%; }
.sheet-w60 { width: 60%; }
.sheet-w80 { width: 80%; }
.sheet-w85 { width: 85%; }
.sheet-w90 { width: 90%; }
.sheet-w95 { width: 95%; }
.sheet-w100 { width: 100%; }

.sheet-w15p { width: 10px; }
.sheet-w25p { width: 25px; }
.sheet-w50p { width: 50px; }
.sheet-w75p { width: 75px; }
td { text-align: center; }
.sheet-logo { height: 50px; }
.sheet-equiplabel {
	text-align: center; 
	width: 85%;
}
.sheet-weightlabel {
	text-align: center; 
	width: 15%;
}
.sheet-cntrtxt {
	width: 100%;
	text-align: center;
}
.sheet-flright {
    float: right;
}
.sheet-inpcntr {
    text-align: center;
}
.sheet-numboxsm {
    width: 5px;
    height: 5px;
}
.sheet-rollerlink {
    background:none;
     border:none; 
     padding:0;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}
.sheet-skilllink {
    font-size 10pt;
    vertical-align: text-bottom;

}

.sheet-rollerlink2 {
    background:none;
     border:none; 
     padding:0;
     padding-top: 5px;
     vertical-align: bottom;

}
.sheet-scoresp {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #f0f0f5;
    background-color: #f0f0f5;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 12px;
}
.sheet-attmodlg {
    display: inline-block;
    height: 50px;
    width: 65px;
    border: 1px solid #f0f0f5;
    background-color: #f0f0f5;
    padding-top: 15px;
    text-align: center;
    vertical-align: bottom;
    font-size: 50px;
    font-weight: 500;
    position: relative;
     
}
td {
    text-align: left;
    
}
div {
    border-bottom: 1px dotted gray;
}


div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4 { display: block; }

input.sheet-tab {
    width: 0px;
    height: 0px;

    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before {
    content: attr(title);
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    background: #fff;
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    width: 150px;
    height: 20px;
    font-size: 18px;

}

input.sheet-tab:checked + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }

.tabdiv {
    width: 150px;
    height: 20px;
}

span.sheet-tab {
    width: 150px;
    height: 20px;
    border: 2px solid gray;
    
}
.tablabel {
      position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}


div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}