/*-----background-----*/

.charsheet {
    box-shadow: inset 0px 0px 30px rgba(216,218,300, 1.8),inset 0px 0px 30px rgba(216,218,300, 1.8);
    background: white;
}

 /*==== forms image ====*/
 .sheet-banner { 
    background: url('http://www.ding-irl.com/images/Five%20stages%20of%20Werewolf.jpg'); 
    background-size: 820px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
/*-----text-----*/
input[type="text"] {
    box-shadow:none;
    border-top: none;
    border-left: none;
    border-right: none;
    width:100%;
    }
input[type="number"] {
    box-shadow:none;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align:center;
}
h5 {
    text-shadow: 0px 0px 10px rgba(216,218,300, 1.8);
    color:black;
}

th {
    text-shadow: 0px 0px 10px rgba(216,218,300, 1.8);
    color:black;
}

h4 {
    text-shadow: 0px 0px 10px rgba(216,218,300, 1.8);
    color:black;
}

h2 {
    text-shadow: 0px 0px 20px rgba(216,218,300, 1.8);
    color:black;
}

{
    text-shadow: 0px 0px 10px rgba(216,218,300, 1.8);
    color:black;
}

.sheet-form-text {
    color: black;
    text-shadow: 0px 0px 1px rgba(216,218,300, 1.8);
    font-weight:bold;
}

.sheet-center {
    text-align: center
}

.sheet-left {
    text-align: left
}

.sheet-right {
    text-align: right
}

.sheet-row {
    display: inline-block;
}

.sheet-ess {
    border-bottom: 1px dotted #B28F00;
    display: inline-block;
    background:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-style: italic;
    text-align:center;
    text-shadow: 0px 0px 10px black;
    color:#8F7872;
}

.sheet-small {
    display: inline-block;
    font-style: italic;
    font-size: 0.8em;
    
}
.sheet-interlock[type="text"] {
    box-shadow:none;
    border-top: none;
    border-left: none;
    border-right: none;
    width:220px;
    border-radius:15px;
    border-top: 8px solid #000;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
    border-bottom: none;
    text-align:center;
    box-shadow: 0px 0px 10px rgba(216,218,300, 1.8), inset 0px 0px 10px rgba(216,218,300, 1.8);
    }
 .sheet-interlock[type="number"] {
    box-shadow:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius:15px;
    border-top: 8px solid #000;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
    border-bottom: none;
    text-align:center;
    box-shadow: 0px 0px 10px rgba(216,218,300, 1.8), inset 0px 0px 10px rgba(216,218,300, 1.8);
    }  
.sheet-embed[type="text"] {
    box-shadow:none;
    border-top: none;
    border-left: none;
    border-right: none;
    width:220px;
    border-radius:15px;
    border-bottom: 8px solid #000;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    border-top: none;
    text-align:center;
    box-shadow: 0px 0px 10px rgba(216,218,300, 1.8), inset 0px 0px 10px rgba(216,218,300, 1.8);
}

.sheet-skill_select {
    border: 0; 
    font-family: cursive;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin-bottom:0;
   font-variant: small-caps;
   
}
    /*----removing spinner on numbers----*/
input.sheet-ess::-webkit-outer-spin-button ,
input.sheet-ess::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*-----textarea-----*/

textarea.sheet-cipher,
textarea.sheet-textarea  {
    height: 50px;
    font-family: Copperplate, 'Copperplate Gothic Light';
}

textarea.sheet-longtextarea {
    height: 100px;
    font-family: Copperplate, 'Copperplate Gothic Light';
}
textarea.sheet-longtextarea,
textarea.sheet-textarea {
    border-radius:15px;
    resize:vertical;
}

textarea.sheet-longtextarea:focus,
textarea.sheet-textarea:focus {
    border: 1px solid transparent;
    box-shadow: inset 0px 0px 8px rgba(216,218,300, 1.8);
    }
    
textarea.sheet-cipher {
    width:220px;
}
textarea.sheet-cipher::-webkit-input-placeholder {
    text-align: right;
    vertical-align:bottom;
    }
textarea.sheet-cipher:focus {
    border: 1px solid transparent;
    box-shadow: inset 0px 0px 8px #b85233;
    }
/*-----
input[type="text"] {
    background:none;
    border:none:
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
-----*/
/*-----tabs-----*/

input.sheet-tab1:not(:checked) ~ .sheet-tab1,
input.sheet-tab2:not(:checked) ~ .sheet-tab2,
input.sheet-tab3:not(:checked) ~ .sheet-tab3,
input.sheet-tab4:not(:checked) ~ .sheet-tab4,
input.sheet-tab5:not(:checked) ~ .sheet-tab5,
input.sheet-tab6:not(:checked) ~ .sheet-tab6 {
    display: none;
}

input.sheet-tab {
    width: calc(20% - 4px);
    max-width: 150px;
    height: 20px;
    
    outline: none !important;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab1 {
    margin-left: 1px;
}

input.sheet-tab::before {
    content: attr(title);
    display: inline-block;

    background: #fff;
    border: solid 1px #a8a8a8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    
    width: 100%;
    height: 20px;
}

input.sheet-tab:checked::before {
    border-bottom-color: white;
}

.sheet-tab-br {
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 5px;
    margin-top: 1px;
}

input.sheet-arrow {
    float: left;
}

div.sheet-body {
    display: none;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}

/*-----radio boxes-----*/

/* -----Hide actual radio----- */
input.sheet-normal[type="radio"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake radio----- */
input.sheet-normal[type="radio"] + span::before
{
    margin-right: 2px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    -moz-box-shadow: 0 0 10px  rgba(216,218,300, 1.8);
    -webkit-box-shadow: 0 0 10px  rgba(216,218,300, 1.8);
    box-shadow: 0 0 10px  rgba(216,218,300, 1.8);
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    color:black;
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 3em;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-normal[type="radio"]:checked ~ input.sheet-normal[type="radio"] + span::before
{    
    content: "";
}

/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}

input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}

input.sheet-zero[type="radio"] + span::before
{
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
}

/* -----Health boxes----- */
div.sheet-healthbox {
    width: 20px;
    height: 20px;
    position: relative;
}

input.sheet-healthbox {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    left:-5px;
}

span.sheet-healthbox {
    margin:  0 0 0 0;
    display: none;
}

input.sheet-blackdot { 
    z-index: 2; 
}

input.sheet-blackdot:checked + input.sheet-whitedot,
input.sheet-whitedot:checked + input.sheet-bashingdot,
input.sheet-bashingdot:checked + input.sheet-lethaldot,
input.sheet-lethaldot:checked + input.sheet-aggravateddot { 
    z-index: 3; 
}

input.sheet-blackdot:checked ~ span.sheet-blackdot,
input.sheet-whitedot:checked ~ span.sheet-whitedot,
input.sheet-bashingdot:checked ~ span.sheet-bashingdot, 
input.sheet-lethaldot:checked ~ span.sheet-lethaldot,
input.sheet-aggravateddot:checked ~ span.sheet-aggravateddot { 
    display: inline-block; 
}

.sheet-blackdot {
    width: 20px;
    height: 20px;
    background: black;
    border-radius:8px;
}

.sheet-whitedot {
    width: 20px;
    height: 20px;
    background: white;
    border-radius:8px;
    box-shadow: inset 0px 0px 3px, inset 0px 0px 3px, inset 0px 0px 3px;
}

.sheet-bashingdot {
    width: 20px;
    height: 20px;
    background: url ("http://freeiconbox.com/icon/256/39548.png") no-repeat 0 0;
    background-size: 100%;
}

.sheet-lethaldot {
    width: 20px;
    height: 20px;
}
.sheet-lethaldot:after {
    content: "X";
    color: blue;
    font-weight:bold;
    font-size:20px;
    padding-left:4px;
}

.sheet-aggravateddot {
    width: 20px;
    height: 20px;
}
.sheet-aggravateddot:after {
    content:"#";
    font-size:20px;
    color:red;
    text-align:center;
    padding-left:4px;

    
}


/*--------------Big Checkbox--------------*/

/* ----Hide actual Big Checkbox---- */
input.sheet-bigcheck[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake Big Checkbox---- */
input.sheet-bigcheck[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px  rgba(216,218,300, 1.8);
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-bigcheck[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0 0 20px  rgba(216,218,300, 1.8);
    -webkit-box-shadow: 0 0 20px  rgba(216,218,300, 1.8);
    box-shadow: 0 0 20px  rgba(216,218,300, 1.8);
}
input.sheet-bigcheck[type="checkbox"]:checked + span::before
{
    color: red;
    content: "✓";
}

/*--------------Round checkbox--------------*/

/* ----Hide actual roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px 20px 20px 20px;

    -moz-box-shadow: 0 0 20px  rgba(216,218,300, 1.8);
    -webkit-box-shadow: 0 0 20px  rgba(216,218,300, 1.8);
    box-shadow: 0 0 20px  rgba(216,218,300, 1.8);
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    -moz-border-radius:  20px 20px 20px 20px;
    -webkit-border-radius:  20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

input.sheet-roundcheck[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
input.sheet-roundcheck[type="checkbox"]:checked + span::before
{
    color: black;
    font-size: 3em;
    content: "•";
}

/*--------------Round ragecheck--------------*/

/* ----Hide actual ragecheck checkbox---- */
input.sheet-ragecheck[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake ragecheck checkbox---- */
input.sheet-ragecheck[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px 20px 20px 20px;

    -moz-box-shadow: 0 0 20px rgba(216,218,300, 1.8);
    -webkit-box-shadow: 0 0 20px rgba(216,218,300, 1.8);
    box-shadow: 0 0 20px rgba(216,218,300, 1.8);
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    -moz-border-radius:  20px 20px 20px 20px;
    -webkit-border-radius:  20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

input.sheet-ragecheck[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
input.sheet-ragecheck[type="checkbox"]:checked + span::before
{
    color: #A00000;
    font-size: 3em;
    content: "•";
}

/*-------Tables--------*/
table.sheet-devotions {
    border: 1px solid black;
    background: #1C1C1C;
}

table.sheet-weapon, th.sheet-weapon, td.sheet-weapon {
    border: 1px solid black;
    background:white;
}

th.sheet-armor, td.sheet-armor {
    border: 0px solid black;
    background:none;
}

.sheet-grid {
   margin-left:auto;
   margin-right:auto;
}

table.sheet-forms {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border-spacing: 20px;
}

table.sheet-forms input[type="number"] {
   text-align:center;
}

table.sheet-forms th {
    text-shadow: 0px 0px 10px #380000;
    color: white;
}

table.sheet-forms h5 {
    text-shadow: 0px 0px 5px black;
    color: white;
}
/*-----sheet-arrow-----*/
input.sheet-arrow  {
    float: left;
}

div.sheet-body {
    display: none;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}

/* ----Hide actual sheet-arrow checkbox---- */

input.sheet-arrow[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake sheet-arrow checkbox----- */

input.sheet-arrow[type="checkbox"] + span::before
{
    color:black;
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
    text-shadow: 0px 0px 10px rgba(216,218,300, 1.8),  0px 0px 10px rgba(216,218,300, 1.8),  0px 0px 10px rgba(216,218,300, 1.8),  0px 0px 10px rgba(216,218,300, 1.8);
}
input.sheet-arrow[type="checkbox"]:checked + span::before
{
    color:black;
    content: "▼";
}

/*-----sheet-offset-----*/
input.sheet-offset  {
    float:left;
    position:absolute;
}

div.sheet-essencebody {
    display: none;
    position:relative;
    left:-9px;
}

input.sheet-offset:checked ~ div.sheet-essencebody {
    display: block;
}

.repeating_essence fieldset:first-child {
    position:relative;
    left:0px;
}


/* ----Hide actual offset checkbox---- */

input.sheet-offset[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake sheet-arrow checkbox----- */

input.sheet-offset[type="checkbox"] + span::before
{
    color:black;
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
    text-shadow: 0px 0px 10px rgba(216,218,300, 1.8),  0px 0px 10px rgba(216,218,300, 1.8),  0px 0px 10px rgba(216,218,300, 1.8),  0px 0px 10px rgba(216,218,300, 1.8);

}
input.sheet-offset[type="checkbox"]:checked + span::before
{
    content: "▼";
}

 /*-------sheet select---------*/

.sheet-select {
    margin-bottom: 0
}

/*========Tooltip for forms ========*/

/*==== Tooltip bottom====*/

.sheet-tooltips-bottom {
  position: relative;
  display: inline;
}

.sheet-tooltips-bottom span {
  position: absolute;
  width:200px;
  color: #B28F00;
  background: #000000;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}

.sheet-tooltips-bottom span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; 
  height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

:hover.sheet-tooltips-bottom span {
  visibility: visible;
  opacity: 0.8;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

/*==== Tooltip left====*/
.sheet-tooltips-left {
  position: relative;
  display: inline;
}

.sheet-tooltips-left span {
  position: absolute;
  width:200px;
  color: #B28F00;
  background: #000000;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  
  right: 100%;      /*===differnt from bootom===*/
  top: 50%;         /*===differnt from bootom===*/
  margin-top: -15px;
  margin-right: 15px;
}
.sheet-tooltips-left span:after {
  content: '';
  position: absolute;
  top: 50%;         /*===differnt from bootom===*/
  left: 100%;       /*===differnt from bootom===*/
  margin-top: -8px;
  width: 0; 
  height: 0;
  border-left: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

:hover.sheet-tooltips-left span {
  visibility: visible;
  opacity: 0.8;
  right: 100%;      /*===differnt from bootom===*/
  top: 50%;         /*===differnt from bootom===*/
  margin-top: -15px;
  margin-right: 15px;
  z-index: 999;
}

/*==== Toops tip right====*/
.sheet-tooltips-right {
  position: relative;
  display: inline;
}

.sheet-tooltips-right span {
  position: absolute;
  width:200px;
  color: #B28F00;
  background: #000000;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}

.sheet-tooltips-right span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; 
  height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

:hover.sheet-tooltips-right span {
  visibility: visible;
  opacity: 0.8;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}
/*========End of Tooltip for forms ========*/
button[type=roll].sheet-btn:before { 
    background-image: none;
    content: "";
}

button[type=roll].sheet-btn {
    background: transparent;
    padding-bottom:10px;
    border-radius:15px;
    border-top: 7px solid #000;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
    border-bottom: 1px solid #000;
    text-align:center;
    box-shadow: 0px 0px 10px rgba(216,218,300, 1.8), inset 0px 0px 10px rgba(216,218,300, 1.8);
    height:28px;
    width:28px;
    padding:none;
}

button[type=roll].sheet-btn:hover {
    border-top: 7px solid rgba(216,218,300, 1.8);
    border-left: 4px solid rgba(216,218,300, 1.8);
    border-right: 4px solid rgba(216,218,300, 1.8);
    border-bottom: 1px solid rgba(216,218,300, 1.8);
    background: #000;
    box-shadow: 0px 0px 10px #000, inset 0px 0px 10px #000;  
}

button[type=roll].sheet-btn:active {
    border-top: 7px solid  #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom: 1px solid #fff;
    background: rgba(216,218,300, 1.8);
    box-shadow: 0px 0px 10px #000, inset 0px 0px 10px rgba(216,218,300, 1.8);  
}

.sheet-rolltemplate-spell td {
    padding: 5px;
}

        /*=== Roll Templates ===*/
        /*=== Interlock ===*/
.sheet-rolltemplate-Interlock table {
    width: 100%;
    border: 1px solid;
    color: black;
    font-size: 1em;
    font-family: Copperplate, 'Copperplate Gothic Light';
    box-shadow: inset 0px 0px 30px rgba(216,218,300, 1.8),inset 0px 0px 30px rgba(216,218,300, 1.8);
    background: white;
}

.sheet-rolltemplate-Interlock th {
    color: black;
    padding: 2px;
    line-height: 1.6em;
	font-size: 1.2em;
    box-shadow: inset 0px 0px 30px rgba(216,218,300, 1.8),inset 0px 0px 30px rgba(216,218,300, 1.8);
    font-weight: normal;
}

.sheet-rolltemplate-Interlock td {
    padding: 5px;
}

.sheet-rolltemplate-Interlock td.sheet-detail {
    box-shadow: inset 0 20px 20px -20px rgba(216,218,300, 1.8),inset 0px 0px -20px rgba(216,218,300, 1.8);
}
