include legacy/topbar.pug


.flexrow.top_bar.header
    +legacy_header().flexrow.header__main
    .flexcol.header__controls
        +modalButton({name: "settings"})
            span.material-icons settings
        +modalButton({name: "help"})
            span.material-icons help
        +modalButton({name: "history"})
            span.material-icons history
        span.material-icons forum
