include k-scaffold/_kpug.pug
//- Object used to store the whole system, must be defined first
//- To clarify difference between sheet code and pug code, we use the
//- arm5.pug namespace for code that runs during sheet generation, and
//- arm5.sheet namespace for code that runs during sheet loading in the VTT
- const arm5 = {pug: {}};

include helpers/helpers.pug
include elements/elements.pug

- arm5.pug.updater.version = "2.0";

//- We are now ready to create the sheet
include updates/updates.pug
include legacy/alerts.pug

+alert({name: "test-info"})
    | This is a test alert with level info

+alert({name: "test-warning", level: "warning"})
    | This is a test alert with level warning



include header.pug

//- include tabs/tabs.pug

+modalWindow({name: "settings"})
    span dummmy content

include legacy/_legacy.pug

<!-- Sheet Worker Scripts -->
+kscript
    | 
    | // k-scaffold fix ?
    | const persistentTabs = [];
    //- object used to store the whole system, must be defined first
    //- To clarify difference between sheet code and pug code, we use the
    //- arm5.pug namespace for code that runs during sheet generation, and
    //- arm5.sheet namespace for code that runs during sheet loading in the VTT
    |
    | // Top-level object for the sheetworkers
    | const arm5 = {sheet: {}};
    |
    //- Load all the sheet workers from helpers
    +sheetworker_helpers
    //- Legacy sheetworkers
    | // Legacy sheetworkers
    | 
    include legacy/legacy.js
    | 
    | 
    +sheetworker_updates
    |
    | // Finalize our sheetworker setup
    | 
    +post_sheetworker_helpers
    |
