.sheet-character-sheet { display: none; }

.sheet-isPC:checked ~ .sheet-pc,
.sheet-isNPC:checked ~ .sheet-npc
{
    display: block;
}

.charsheet {
    background: url("http://i.imgur.com/nFUrjpc.jpg");
    background-size: cover;
}


button[type=roll] {
    padding: 2px 4px 2px !important;
    font-size: 10px;
    font-family: "dicefontd6";
    background-color: #e2ded9;
    font-weight: bold;
    text-shadow: 1px 1px #D0D0D0;
    color: #000000;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #D0D0D0;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
button[type=roll].sheet-blank-roll-button::before { content: "";}




input {
    background: transparent;
    font-size: 1.2em;
    border: 0;

}
input[type=number] {
    background: #e3deda;
    border: 1px solid #837b72;
    min-width: 2em;
    max-width: 3em;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
}
input[type=text] {
    width: 97%;
    border-bottom: 1px dotted#a29090;
    margin: 2px;
}
input[type=checkbox] {
    transform: scale(1.6);
}

table {
    border: 2px solid #71685e;
    margin: 5px;
    padding: 0px;
    border-collapse: collapse;
}

.sheet-ti {
    border: 0px none;
    margin: 0 auto;
    padding: 0px;
}

td {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    margin: 0;
    padding: 2px 6px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.4em;
    font-weight: normal;
}

h1, h2, h3, h6 {
    color: #fff;
}

h4, h5 {
    color: #000;
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}
h3 {
    font-size: 15px;
}
h5 {
    font-size: 11px;
}


h6 {
    line-height: 1.4em;
    margin: 0;
}
td h6 {
    text-align: right;
    margin-right: 1em;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}
.repitem table,
fieldset table {
    margin: 0;
    border: 0;
    width: 100%;
}

.sheet-flex {
    display: flex;
    line-height: 2em;
    flex-wrap: nowrap;
    margin: 0;
    padding: 6px;
}

.sheet-flex input {
    flex: 1 1 auto;
}

.sheet-header {
    color: #fff;
    text-align: center;
}
.sheet-header h6 {
    line-height: 70px;
}
.sheet-header p {
    margin: 0;
}

.sheet-value {
    text-align: right;
    min-width: 100px;
}

.sheet-table-thin {
    width: 270px;
}


.sheet-table-wide {
    width: 550px;
}

.sheet-table-widest {
    width: 830px;
}

.sheet-table-invis {
}

.sheet-table-invis2 {
    line-height: 1.4em;
}


.sheet-table-light {
    background-color: #e2ded9;
}


.sheet-table-medium {
    
    background-color: #a19a92;
    line-height: 1.4em;
}

.sheet-table-dark {
    background-image:url(http://i.imgur.com/koiK6Gt.gif); background-repeat:repeat;; 
}

.sheet-table-graphic {
    background-image:url(http://i.imgur.com/VwDtJsZ.gif); background-repeat:repeat;; 
}

.sheet-table-graphic2 {
    background-image:url(http://i.imgur.com/isQuJQU.gif); background-repeat:repeat;; 
}

.sheet-table-graphic3 {
    background-image:url(http://i.imgur.com/821jkLt.gif); background-repeat:repeat;; 
}


.sheet-ba {
    border: 1px solid #62584d;
}

.sheet-bb {
    border-bottom: 1px solid #62584d;
}

.sheet-bl {
    border-left: 1px solid #62584d;

}


.cb-small {
    color: #e3deda;
}

.sheet-weapons {
    border: 0px none;
    margin: 0 auto;
    padding: 0px;
}

.sheet-weapons td:nth-child(2),
.sheet-weapons td:nth-child(3),
.sheet-weapons td:nth-child(4),
.sheet-weapons td:nth-child(5) {
    width: 65px;
}
.sheet-weapons td:nth-child(6) {
    width: 80px;
}
.sheet-weapons td:nth-child(7) {
    width: 200px;
}
.sheet-weapons td:nth-child(8) {
    width: 120px;
}

.sheet-weapons h6,
.sheet-ship-weapons h6 {
    text-align: left;
}

.sheet-ship-weapons {
    border: 0px none;
    margin: 0 auto;
    padding: 0px;
}

.sheet-ship-weapons td:nth-child(2),
.sheet-ship-weapons td:nth-child(3),
.sheet-ship-weapons td:nth-child(4),
.sheet-ship-weapons td:nth-child(5) {
    width: 65px;
}
.sheet-ship-weapons td:nth-child(6) {
    width: 200px;
}

/* Weapon rolls ------------------------------------------------------------- */
.sheet-weapon-roller span,
.sheet-weapon-roller input {
    display: inline-block;
    width: auto;
}
.sheet-weapon-roller input {
    display: inline-block;
    width: 1.4em !important;
    border: 0;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
.sheet-weapon-calc {
    width: 2em;
}
.sheet-weapon-roller select {
    width: 135px;
    margin: 0;
}
.sheet-weapon-roller .sheet-calc {
    border: 1px solid #837b72;
    border-radius: 5px;
    padding: 0 4px;
    line-height: 24px;
}

/* Roll template ------------------------------------------------------------ */
.sheet-rolltemplate-coriolis table,
.sheet-rolltemplate-coriolis-combat table {
    width: 100%;
	color: black;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    border: 2px solid #71685e;
}

.sheet-rolltemplate-coriolis th,
.sheet-rolltemplate-coriolis-combat th {
	background-image:url(http://i.imgur.com/koiK6Gt.gif); background-repeat:repeat;; 
	color: #ffffff;
	padding: 2px;
	border-bottom: 1px solid black;
	line-height: 1.6em;
	font-size: 1.2em;
}

.sheet-rolltemplate-coriolis .sheet-roll,
.sheet-rolltemplate-coriolis-combat .sheet-roll {
    color: #232924;
}

.sheet-rolltemplate-coriolis td,
.sheet-rolltemplate-coriolis-combat td {
	padding: 5px;
	border-bottom: 1px solid #62584d;
}

.sheet-rolltemplate-coriolis tr:nth-child(odd),
.sheet-rolltemplate-coriolis-combat tr:nth-child(odd) {
	background-color: #a19a92;
}

.sheet-rolltemplate-coriolis tr:nth-child(even),
.sheet-rolltemplate-coriolis-combat tr:nth-child(even) {
	background-color: #e2ded9;
}

.sheet-rolltemplate-coriolis .inlinerollresult,
.sheet-rolltemplate-coriolis-combat .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 0 !important;
}

.sheet-rolltemplate-coriolis .sheet-great-success td,
.sheet-rolltemplate-coriolis-combat .sheet-great-success td {
    background-image:url(http://i.imgur.com/FrT6MFK.gif); background-repeat:repeat;  !important;
    color: #fff;
}

.sheet-rolltemplate-coriolis .sheet-fail td,
.sheet-rolltemplate-coriolis-combat .sheet-fail td {
	background-image:url(http://i.imgur.com/SV2TxsE.gif); background-repeat:repeat; 
    color: #fff;
}

.sheet-rolltemplate-coriolis .sheet-success td,
.sheet-rolltemplate-coriolis-combat .sheet-success td {
    background-image:url(http://i.imgur.com/fUEgsvI.gif); background-repeat:repeat;; 
    color: #fff;
}
