.charsheet {
	min-width: 1500px;
}

img {
	width: 200px;
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sheet-inline {
    display:inline;
}

div.sheet-col{
    margin-right: 30px;
    margin-bottom: 30px;
}