.charsheet {
  background-image: url(https://d3clqjduf2gvxg.cloudfront.net/images/background.png); /*preview background*/
  background-repeat: repeat;
  min-width: 950px;
}

.sheet-columns {
  display: flex;
  justify-content: space-between;
}
.sheet-columns > * {
  flex: 1;
}

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}

.sheet-rolltemplate-Attribut table {
 width:100%;
 background-color:white;
 border:1px solid rgba(102, 0, 204,1)
}
.sheet-rolltemplate-Attribut caption {
 background-color:rgba(102, 0, 204,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Attribut td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Attribut td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Attribut tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Fertigkeiten table {
 width:100%;
 background-color:white;
 border:1px solid rgba(51, 204, 51,1)
}
.sheet-rolltemplate-Fertigkeiten caption {
 background-color:rgba(51, 204, 51,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Fertigkeiten td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Fertigkeiten td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Fertigkeiten tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Attacke table {
 width:100%;
 background-color:white;
 border:1px solid rgba(204, 51, 0,1)
}
.sheet-rolltemplate-Attacke caption {
 background-color:rgba(204, 51, 0,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Attacke td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Attacke td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Attacke tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Verteidigung table {
 width:100%;
 background-color:white;
 border:1px solid rgba(102, 153, 255,1)
}
.sheet-rolltemplate-Verteidigung caption {
 background-color:rgba(102, 153, 255,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Verteidigung td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Verteidigung td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Verteidigung tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Fernkampf table {
 width:100%;
 background-color:white;
 border:1px solid rgba(255, 153, 51,1)
}
.sheet-rolltemplate-Fernkampf caption {
 background-color:rgba(255, 153, 51,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Fernkampf td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Fernkampf td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Fernkampf tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Schaden table {
 width:100%;
 background-color:white;
 border:1px solid rgba(153, 0, 0,1)
}
.sheet-rolltemplate-Schaden caption {
 background-color:rgba(153, 0, 0,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Schaden td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Schaden td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Schaden tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Magie table {
 width:100%;
 background-color:white;
 border:1px solid rgba(51, 204, 204,1)
}
.sheet-rolltemplate-Magie caption {
 background-color:rgba(51, 204, 204,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Magie td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Magie td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Magie tr:nth-child(even) {
 background-color:#eee
}