
/*Configure the tab buttons*/
.charsheet .sheet-attributes,
.charsheet .sheet-skills,
.charsheet .sheet-combat,
.charsheet .sheet-magic,
.charsheet .sheet-inventory,
.charsheet .sheet-notes {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.charsheet .sheet-tabstoggle[value="combat"] ~ div.sheet-combat,
.charsheet .sheet-tabstoggle[value="magic"] ~ div.sheet-magic,
.charsheet .sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory,
.charsheet .sheet-tabstoggle[value="notes"] ~ div.sheet-notes {
    display: block;
}

.charsheet div.sheet-wrapper-2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.charsheet div.sheet-wrapper-attributes {
  display: grid;
  grid-template-columns: 130px 40px 40px 60px 60px 200px 40px;
  
}



.charsheet {
  content: '';
  background-image: url("http://www.akcni-figurky.cz/themes/petra/img/pozadi.jpg");
  background-repeat: repeat;
  min-width: 900px;
}

.charsheet .sheet-columns {
  display: flex;
  justify-content: space-between;
}
.charsheet .sheet-columns > * {
  flex: 1;
}

.charsheet .sheet-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*----------------------------------------------- Input ------------------------------------------------*/

button[type=roll].sheet-log::before {
	content: '';	
}}

.charsheet input[type="text"], 
.charsheet input[type="number"] {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 1px 0px;
}

.charsheetinput [type="text"]:disabled,
.charsheetinput [type="text"]:read-only {
	background-color: lightgray;
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 1px 0px;
}

.charsheet input[type="number"]:disabled,
.charsheet input[type="number"]:read-only {
	background-color: lightgray;
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 1px 0px;
	width:3em;
	-webkit-appearance: none; 
	-moz-appearance: textfield;
}

.charsheet input[type="text"], select {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 1px 0px;
}

.charsheet textarea {
	width: 95%;
	max-width: 95%;
	min-width: 95%;
	resize: vertical;
	overflow-y: auto;
	min-height: 15em;
	border: 1px solid black;
}


input.sheet-boolean-roll-gm:not([value='1']) ~ button.sheet-roll-gm { 
	display: none; 
}
input.sheet-boolean-roll-gm:not([value='0']) ~ button.sheet-roll-player     { 
	display: none; 
}

input.sheet-boolean-attribute-show:not([value='1']) ~ div.sheet-attributeselector { 
	display: none; 
}

input.sheet-boolean-talents-show:not([value='1']) ~ div.sheet-talents { 
	display: none; 
}

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}

.sheet-rolltemplate-Attribut table {
 width:100%;
 background-color:white;
 border:1px solid rgba(102, 0, 204,1)
}
.sheet-rolltemplate-Attribut caption {
 background-color:rgba(102, 0, 204,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Attribut td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Attribut td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Attribut tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Fertigkeiten table {
 width:100%;
 background-color:white;
 border:1px solid rgba(51, 204, 51,1)
}
.sheet-rolltemplate-Fertigkeiten caption {
 background-color:rgba(51, 204, 51,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Fertigkeiten td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Fertigkeiten td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Fertigkeiten tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Attacke table {
 width:100%;
 background-color:white;
 border:1px solid rgba(204, 51, 0,1)
}
.sheet-rolltemplate-Attacke caption {
 background-color:rgba(204, 51, 0,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Attacke td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Attacke td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Attacke tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Verteidigung table {
 width:100%;
 background-color:white;
 border:1px solid rgba(102, 153, 255,1)
}
.sheet-rolltemplate-Verteidigung caption {
 background-color:rgba(102, 153, 255,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Verteidigung td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Verteidigung td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Verteidigung tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Fernkampf table {
 width:100%;
 background-color:white;
 border:1px solid rgba(255, 153, 51,1)
}
.sheet-rolltemplate-Fernkampf caption {
 background-color:rgba(255, 153, 51,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Fernkampf td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Fernkampf td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Fernkampf tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Schaden table {
 width:100%;
 background-color:white;
 border:1px solid rgba(153, 0, 0,1)
}
.sheet-rolltemplate-Schaden caption {
 background-color:rgba(153, 0, 0,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Schaden td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Schaden td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Schaden tr:nth-child(even) {
 background-color:#eee
}

.sheet-rolltemplate-Magie table {
 width:100%;
 background-color:white;
 border:1px solid rgba(51, 204, 204,1)
}
.sheet-rolltemplate-Magie caption {
 background-color:rgba(51, 204, 204,1);
 color:white;
 font-family:"Helvetica Neue",Helvetica,sans-serif;
 font-weight:300;
 font-size:1.1em;
 padding:5px
}
.sheet-rolltemplate-Magie td {
 padding:5px;
 line-height:1.4em;
 vertical-align:top
}
.sheet-rolltemplate-Magie td:first-child {
 font-weight:bold;
 text-align:right;
 min-width:50px;
 padding-right:10px
}
.sheet-rolltemplate-Magie tr:nth-child(even) {
 background-color:#eee
}