.charsheet label {
    display: inline-block;
    width: 65px;
    text-align: center;
    font-size: 12px;
    font-weight: ;
    font-family: "Times New Roman";
    text-shadow: 0px 0px 0px #ff0000;
    vertical-align: middle;
}
.charsheet .sheet-3colrowCust .sheet-col {
    width: calc(33% - 4px);
    margin-right: 5px;
}
.charsheet .sheet-4colrowCust .sheet-col {
    width: calc(22% - 4px);
    margin-right: 5px;
}

.charsheet input[type=text] {
    display: inline-block;
    width: 165px;
    box-shadow: -2px -2px 1px 0px #056da1 inset;
    background-color : #F3E2A9;
}
.charsheet input[type=number] {
    display: inline-block;
    box-shadow: -2px -2px 1px 0px #056da1 inset;
    background-color : #F3E2A9;
}

.charsheet input[type=checkbox] {
    display: inline-block;
    box-shadow: -1px -1px 1px 0px #056da1 inset;
    background-color : #F3E2A9;
}

.charsheet select {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #056da1 inset;
    background-color : #F3E2A9;
}

.charsheet textarea {
    display: inline-block;
    box-shadow: -2px -2px 1px 0px #056da1 inset;
    background-color : #F3E2A9;
}

.charsheet button {
    display: inline-block;
    box-shadow: 0px 0px 5px 1px #0066ff inset;
}

.sheet-col strong.sheet-dee {
	font-size: 1em;
	font-weight: bold;
	padding-right: 1px;
}

.charsheet input.sheet-short {
	width: 35px;
}

.charsheet {
    background-image: url("");
    background-color: #ffffff;
    background-attachment: fixed;
    font-family: "Times New Roman";
}


.charsheet table td, .charsheet table th {
    font-size: 12px;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
    width: 0%;
    border: 0px solid black;
    padding: 0px;
    vertical-align: middle;
    color: #000000;
    text-shadow: 0px 0px 10px #ffffff;
}

select.sheet-dtype {
    width: 60px;
    vertical-align: top;
}

.charsheet textarea {
    resize: none;
}

.charsheet hr.sheet-one {
    height: 30px;
    border-style: solid;
    border-color: #056da1;
    border-width: 2px 2px 0 0;
    border-radius: 20px;
}
.charsheet hr.sheet-one:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: #056da1;
    border-width: 0 0 2px 2px;
    border-radius: 20px;
}

.charsheet hr.sheet-two {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(5,109,161,1.75), rgba(0,0,0,0)); 
}

.charsheet hr.sheet-three {
    height: 30px;
    border-style: solid;
    border-color: #056da1;
    border-width: 2px 0px 0px 2px;
    border-radius: 30px;
}
.charsheet hr.sheet-three:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: #056da1;
    border-width: 0px 2px 2px 0px;
    border-radius: 30px;
}
