button[type=roll]:before {
    content: "" !important;
}

textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[disabled=true] {
    background-color:lightgray !important;
    font-weight: bold;
    color: black;
}

button[type=roll]{
    font-size: 1em !important;
    font-weight: bold;
    line-height: normal;
    margin: 0px !important;
}

.sheet-5colrow {
    display: block;
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
}

/*.sheet-5colrow .sheet-col {
    width: calc(20% - 20px);
    margin-right: 30px;
}*/

button.sheet-table-button,
button.sheet-table-button table,
button.sheet-table-button table tbody,
button.sheet-table-button table tbody tr,
button.sheet-table-button table tbody tr td span{
    width: 100%;
}

button.sheet-table-button {
    background: #747474;
}

button.sheet-table-button table {
    border-collapse: separate;
    border-spacing: 3px;
}

button.sheet-table-button table tbody tr td {
    background-color: mintcream;
}

button.sheet-table-button table tbody tr td.sheet-table-button-cell-timing {
    background-color: #ECE0F8;
}

button.sheet-table-button table tbody tr td span[name="attr_arms_name"]::before,
button.sheet-table-button table tbody tr td span[name="attr_etc_name"]::before,
button.sheet-table-button table tbody tr td span[name="attr_ability_name"]::before,
button.sheet-table-button table tbody tr td span[name="attr_items_name"]::before,
button.sheet-table-button table tbody tr td span[name="attr_blessings_name"]::before {
    content: "《";
}

button.sheet-table-button table tbody tr td span[name="attr_arms_name"]::after,
button.sheet-table-button table tbody tr td span[name="attr_etc_name"]::after,
button.sheet-table-button table tbody tr td span[name="attr_ability_name"]::after,
button.sheet-table-button table tbody tr td span[name="attr_items_name"]::after,
button.sheet-table-button table tbody tr td span[name="attr_blessings_name"]::after {
    content: "》";
}

label > input[type=checkbox] {
    display: none;
    width: 0;
}

label > input[type=checkbox]:checked ~ span {
    border : 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
}

div[class*="sheet-section"],
div[class*="sheet-options"] {   
    display: none;
}

div.repcontrol {
    margin-bottom: 15px;
}

input[name="attr_display"] {
    display: none;
}

.sheet-oneline {
    display: inline-block;
}
.sheet-column {
    display : inline-block;
}
.sheet-column > button,
.sheet-column > input {
    width: 120px;
}

label.sheet-tab-button {
    display: inline;
    padding-right: 0px;
    margin-right: 5px;
}

label.sheet-tab-button span span {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input.sheet-tab-button {
    /*width: 70px;*/
    /*height: 20px;*/
    cursor: pointer;    
    position: relative;
    opacity: 0;
    z-index: 9999;
}

span.sheet-tab-button {
    text-align: center;
    display: inline-block;   
    font-size: 15px;
    background-color: rgba(125,114,69,0.2);
    color: gray;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px !important;
    border-width: 0px;
    min-width: 70px;
    /*height: 20px;*/
    cursor: pointer;    
    position: relative;
    margin-bottom: 2px;
}

label.sheet-tab-button input.sheet-tab-button:checked ~ span.sheet-tab-button {
    background-color: gray;    
    color: white;
}

input.sheet-tab-section-pilot:checked ~ div.sheet-section-pilot,
input.sheet-tab-section-pilot:checked ~ div.sheet-section-shared,
input.sheet-tab-section-social:checked ~ div.sheet-section-social,
input.sheet-tab-section-mecha:checked ~ div.sheet-section-mecha,
input.sheet-tab-section-mecha:checked ~ div.sheet-section-shared,
input.sheet-tab-section-mecha-0:checked ~ div.sheet-section-mecha-0,
input.sheet-tab-section-mecha-1:checked ~ div.sheet-section-mecha-1,
input.sheet-tab-section-mecha-2:checked ~ div.sheet-section-mecha-2,
input.sheet-tab-section-mecha-3:checked ~ div.sheet-section-mecha-3,
input.sheet-tab-section-mecha-4:checked ~ div.sheet-section-mecha-4,
input.sheet-tab-section-mecha-5:checked ~ div.sheet-section-mecha-5,
input.sheet-tab-section-mecha-6:checked ~ div.sheet-section-mecha-6,
input.sheet-tab-section-mecha-7:checked ~ div.sheet-section-mecha-7,
input.sheet-tab-section-mecha-8:checked ~ div.sheet-section-mecha-8,
input.sheet-tab-section-mecha-9:checked ~ div.sheet-section-mecha-9,
input.sheet-options-flag:checked ~ div.sheet-options {
    display: block !important;
}

input.sheet-tab-section-pilot:checked ~ div div div.sheet-section-pilot,
input.sheet-tab-section-pilot:checked ~ div div div.sheet-section-shared,
input.sheet-tab-section-social:checked ~ div div div.sheet-section-social,
input.sheet-tab-section-mecha:checked ~ div div div.sheet-section-mecha,
input.sheet-tab-section-mecha:checked ~ div div div.sheet-section-shared,
input.sheet-tab-section-mecha-0:checked ~ div div div.sheet-section-mecha-0,
input.sheet-tab-section-mecha-1:checked ~ div div div.sheet-section-mecha-1,
input.sheet-tab-section-mecha-2:checked ~ div div div.sheet-section-mecha-2,
input.sheet-tab-section-mecha-3:checked ~ div div div.sheet-section-mecha-3,
input.sheet-tab-section-mecha-4:checked ~ div div div.sheet-section-mecha-4,
input.sheet-tab-section-mecha-5:checked ~ div div div.sheet-section-mecha-5,
input.sheet-tab-section-mecha-6:checked ~ div div div.sheet-section-mecha-6,
input.sheet-tab-section-mecha-7:checked ~ div div div.sheet-section-mecha-7,
input.sheet-tab-section-mecha-8:checked ~ div div div.sheet-section-mecha-8,
input.sheet-tab-section-mecha-9:checked ~ div div div.sheet-section-mecha-9,
input.sheet-options-flag:checked ~ div div div.sheet-options {
    display: block !important;
}

input[type="text"], input[type="number"] {
    background:transparent;
    font-weight: bold;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px 1px 3px 1px;
}

input.sheet-small-input {
    min-width: 50px;
}

table span {
    font-weight: bold;
    display:inline-block;
    white-space:nowrap;
    margin: 5px;
}

table.sheet-character-table {
    border-collapse: separate;
    border-spacing: 10px 0px;
}

table.sheet-character-table input,
table.sheet-character-table button,
table.sheet-character-table textarea {
    /*width: 180px !important;*/
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

table.sheet-level-table {
    border-collapse: separate;
    border-spacing: 10px 0px;
}

table.sheet-level-table input[type="text"],
table.sheet-level-table button,
table.sheet-level-table textarea {
    width: 180px !important;
    overflow: hidden;
    /*width: 100%;*/
    /*max-width: 100%;*/
}

table.sheet-ability-score-table {
    border-collapse: separate;
    border-spacing: 10px;
}

table.sheet-ability-score-table td {
    max-width: 100% !important;
    vertical-align:top;
}

table.sheet-ability-score-table input,
table.sheet-ability-score-table button,
table.sheet-ability-score-table textarea {
    width: 42px !important;
    overflow: hidden;
    /*width: 100%;*/
    /*max-width: 100%;*/
}

table.sheet-battle-ability-score-table {
    border-collapse: separate;
    border-spacing: 10px;
}

table.sheet-battle-ability-score-table td {
    max-width: 100% !important;
    vertical-align: top;
}

table.sheet-battle-ability-score-table input,
table.sheet-battle-ability-score-table button,
table.sheet-battle-ability-score-table textarea {
    width: 42px !important;
    overflow: hidden;
    /*width: 100%;*/
    /*max-width: 100%;*/
}

table.sheet-hit-points-table {
    margin-bottom: 22px;
}

table.sheet-hit-points-table tr.sheet-max {
    background-color: lightgray;
}

table.sheet-move-table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: auto !important;
}

table.sheet-move-table td {
    max-width: 100% !important;
}

table.sheet-move-table input,
table.sheet-move-table textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-defense-table th,
table.sheet-defense-table td {
    /*width: 60px;*/
    text-align: center;
}

table.sheet-special-stats-table label {
    text-align: center;
}

table.sheet-equipped-table td {
    width: 150px;
    max-width: 100% !important;
}
table.sheet-equipped-table {
    border-collapse: separate;
    border-spacing: 2px 0px;
}

table.sheet-equipped-table select {
    margin-bottom: 0px !important;
}

table.sheet-equipped-table input,
table.sheet-equipped-table textarea {
    width: 150px;
    max-width: 100%;
}


table.sheet-arms-table td {
    max-width: 100% !important;
}

table.sheet-arms-table input,
table.sheet-arms-table textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-arms-table-display td {
    max-width: 100% !important;
}

table.sheet-arms-table-display input,
table.sheet-arms-table-display textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-ability-table td {
    max-width: 100% !important;
}

table.sheet-ability-table input,
table.sheet-ability-table textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-ability-table-display td {
    max-width: 100% !important;
}

table.sheet-ability-table-display input,
table.sheet-ability-table-display textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-etc-table td {
    max-width: 100% !important;
}

table.sheet-etc-table input,
table.sheet-etc-table textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-etc-table-display td {
    max-width: 100% !important;
}

table.sheet-etc-table-display input,
table.sheet-etc-table-display textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-items-table td {
    max-width: 100% !important;
}

table.sheet-items-table input,
table.sheet-items-table textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-items-table-display td {
    max-width: 100% !important;
}

table.sheet-items-table-display input,
table.sheet-items-table-display textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-blessings-table td {
    max-width: 100% !important;
}

table.sheet-blessings-table input[type="text"],
table.sheet-blessings-table textarea {
    width: 100%;
    max-width: 100%;
}

table.sheet-blessings-table-display td {
    max-width: 100% !important;
}

table.sheet-blessings-table-display input[type="text"],
table.sheet-blessings-table-display textarea {
    width: 100%;
    max-width: 100%;
}

/* generic template */
.sheet-rolltemplate-metalric_generic table {
    width:100%;
    background-color:white;
    border:2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-metalric_generic .sheet-header {
    background-color:#000;
    margin: 2px 25px 2px 25px;
    border: 1px solid #000;
    color:white;
    font-family:"Helvetica Neue",Helvetica,sans-serif;
    font-size:1em;
    font-weight:bold;
    text-align: center;
}

.sheet-rolltemplate-metalric_generic .sheet-header a{
    color:white;
    text-decoration: underline;
}

.sheet-rolltemplate-metalric_generic td {
    padding:5px;line-height:1.4em;
    vertical-align:top;
    text-align:right
}
.sheet-rolltemplate-metalric_generic tr:nth-child(odd) {
    background-color:#D3D3D3;
}

.sheet-rolltemplate-metalric_generic td:nth-child(odd) {
    text-align:left;
    font-weight:bold
}

.sheet-rolltemplate-metalric_generic .inlinerollresult  {
    color: white;
    background-color: black;
    border-color:black;
}

.sheet-rolltemplate-metalric_generic .inlinerollresult.fullcrit {
    color: white;
    background-color: #3FB315
}

.sheet-rolltemplate-metalric_generic .inlinerollresult.fullfail {
    color: white;
    background-color: #B31515
}

.sheet-rolltemplate-metalric_generic .inlinerollresult.importantroll {
    color: white;
    background-color: #4A57ED;
}

/* abillity template */
.sheet-rolltemplate-metalric_abillity table {
    width:100%;
    background-color:white;
    border:2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow:2px 2px 5px #000;
    overflow: hidden;
}

.sheet-rolltemplate-metalric_abillity .sheet-header {
    background-color:#000;
    margin: 2px 25px 2px 25px;
    border: 1px solid #000;
    padding-bottom: 2px;
    color:white;
    font-family:"Helvetica Neue",Helvetica,sans-serif;
    font-size:1em;
    font-weight:bold;
    text-align: center;
}

.sheet-rolltemplate-metalric_abillity .sheet-header-small {
    background-color:#000;
    margin: 2px 2px 2px 2px;
    border: 1px solid #000;
    padding-top: 2px;
    color:white;
    font-family:"Helvetica Neue",Helvetica,sans-serif;
    font-size:0.8em;
    font-weight:bold;
    text-align: center;
}

.sheet-rolltemplate-metalric_abillity .sheet-header a{
    color:white;
    text-decoration: underline;
}

.sheet-rolltemplate-metalric_abillity td {
    padding:5px;line-height:1.4em;
    vertical-align:top;
    text-align:justify;
}

.sheet-rolltemplate-metalric_abillity tr:nth-child(even) {
    background-color:#EAEAEA;
}

.sheet-rolltemplate-metalric_abillity .inlinerollresult  {
    color: white;
    background-color: black;
    border-color:black;
}

.sheet-rolltemplate-metalric_abillity .inlinerollresult.fullcrit {
    color: white;
    background-color: #3FB315
}

.sheet-rolltemplate-metalric_abillity .inlinerollresult.fullfail {
    color: white;
    background-color: #B31515
}

.sheet-rolltemplate-metalric_abillity .inlinerollresult.importantroll {
    color: white;
    background-color: #4A57ED;
}

input[name="attr_items_number"], input[name="attr_blessings_use"] {
    margin-left : 10px;
}