.sheet-anatomy-tab
  .sheet-anatomy-columns
    .sheet-column-left
      include who_you_are.pug
      include what_you_fight_for.pug
      include traits.pug
      
    .sheet-column-center
      include fate.pug
      include conditions.pug
      include checks.pug

    .sheet-column-right
      include abilities.pug
      include skills.pug
      include wises.pug
