.sheet-checks
  .sheet-sub-header Earning Checks
  .sheet-checks-content <strong>1</strong>: -1D to your ind. or versus test
  .sheet-checks-content <strong>2</strong>: +2D to opponent's versus test
  .sheet-checks-content <strong>2</strong>: Break versus test tie in opponent's favor

  .sheet-sub-header Spending Checks
  .sheet-checks-content <strong>1</strong>: One test or conflict during camp phase
  .sheet-checks-content <strong>1</strong>: Recover when entering town

  .sheet-footer www.TorchbearerRPG.com