include fate_mixins.pug

.sheet-fate
  .sheet-logo
  .sheet-fate-section
    .sheet-sub-header Fate
    +fate()
    .sheet-fate-details Spend one point to reroll all 6s as new dice, use a wise or learn from help.
  .sheet-persona-section
    .sheet-sub-header Persona
    +persona()
    .sheet-fate-details Spend one point to add 1D, tap nature, or use a wise. You may spend up to three points to add up to 3D per roll.
