- 
  var skillsList = [
    {name: "Alchemist", attribute: "alchemist", root: "W"},
    {name: "Arcanist", attribute: "arcanist", root: "W"},
    {name: "Armorer", attribute: "armorer", root: "H"},
    {name: "Cartographer", attribute: "cartographer", root: "W"},
    {name: "Commander", attribute: "commander", root: "W"},
    {name: "Cook", attribute: "cook", root: "W"},
    {name: "Criminal", attribute: "criminal", root: "H"},
    {name: "Dungeoneer", attribute: "dungeoneer", root: "H"},
    {name: "Fighter", attribute: "fighter", root: "H"},
    {name: "Haggler", attribute: "haggler", root: "W"},
    {name: "Healer", attribute: "healer", root: "W"},
    {name: "Hunter", attribute: "hunter", root: "H"},
    {name: "Laborer", attribute: "laborer", root: "H"},
    {name: "Lore Master", attribute: "lore_master", root: "W"},
    {name: "Manipulator", attribute: "manipulator", root: "W"},
    {name: "Mentor", attribute: "mentor", root: "W"},
    {name: "Orator", attribute: "orator", root: "W"},
    {name: "Pathfinder", attribute: "pathfinder", root: "H"},
    {name: "Peasant", attribute: "peasant", root: "H"},
    {name: "Persuader", attribute: "persuader", root: "W"},
    {name: "Rider", attribute: "rider", root: "H"},
    {name: "Ritualist", attribute: "ritualist", root: "W"},
    {name: "Sapper", attribute: "sapper", root: "H"},
    {name: "Scavenger", attribute: "scavenger", root: "H"},
    {name: "Scholar", attribute: "scholar", root: "W"},
    {name: "Scout", attribute: "scout", root: "W"},
    {name: "Survivalist", attribute: "survivalist", root: "H"},
    {name: "Theologian", attribute: "theologian", root: "W"}
  ];
