.sheet-skills
  .sheet-section-header Skills

  .sheet-skills-section
    .sheet-skills-column
      .sheet-table-header
        .sheet-skill-name Skill
        .sheet-rating Rating
        .sheet-advancement Advancement
        .sheet-bl-root BL

      .sheet-table-body
        .sheet-table-row
          +skill("Alchemist", "alchemist", "W")
        .sheet-table-row
          +skill("Arcanist", "arcanist", "W")
        .sheet-table-row
          +skill("Armorer", "armorer", "H")
        .sheet-table-row
          +skill("Cartographer", "cartographer", "W")
        .sheet-table-row
          +skill("Commander", "commander", "W")
        .sheet-table-row
          +skill("Cook", "cook", "W")
        .sheet-table-row
          +skill("Criminal", "criminal", "H")
        .sheet-table-row
          +skill("Dungeoneer", "dungeoneer", "H")
        .sheet-table-row
          +skill("Fighter", "fighter", "H")
        .sheet-table-row
          +skill("Haggler", "haggler", "W")
        .sheet-table-row
          +skill("Healer", "healer", "W")
        .sheet-table-row
          +skill("Hunter", "hunter", "H")
        .sheet-table-row
          +skill("Laborer", "laborer", "H")
        .sheet-table-row
          +skill("Lore Master", "lore_master", "W")
        .sheet-table-row
          +skill("Manipulator", "manipulator", "W")
        .sheet-table-row
          +skill("Mentor", "mentor", "W")
        .sheet-table-row
          +skill("Orator", "orator", "W")

    .sheet-skills-column
      .sheet-table-header
        .sheet-skill-name Skill
        .sheet-rating Rating
        .sheet-advancement Advancement
        .sheet-bl-root BL

      .sheet-table-body
        .sheet-table-row
          +skill("Pathfinder", "pathfinder", "H")
        .sheet-table-row
          +skill("Peasant", "peasant", "H")
        .sheet-table-row
          +skill("Persuader", "persuader", "W")
        .sheet-table-row
          +skill("Rider", "rider", "H")
        .sheet-table-row
          +skill("Ritualist", "ritualist", "W")
        .sheet-table-row
          +skill("Sapper", "sapper", "H")
        .sheet-table-row
          +skill("Scavenger", "scavenger", "H")
        .sheet-table-row
          +skill("Scholar", "scholar", "W")
        .sheet-table-row
          +skill("Scout", "scout", "W")
        .sheet-table-row
          +skill("Survivalist", "survivalist", "H")
        .sheet-table-row
          +skill("Theologian", "theologian", "W")
        each i in [1, 2, 3, 4, 5]
          .sheet-table-row
            +customSkill(i)
  
  .sheet-skills-footer
    .sheet-footer-left
      .sheet-footer-pass <strong>P</strong>= Pass; successful tests
      .sheet-footer-fail <strong>F</strong>= Fail; failed tests
    .sheet-footer-right <strong>Advancement requires</strong>: Passed tests equal to the skill rank and failed tests equal to one less than the rank. <strong>Learning a new skill requires</strong>: tests equal to untaxed Nature rank.
