include anatomy_mixins 
include traits_mixin

.sheet-traits
  .sheet-section-header Traits
  .sheet-section-body
    .sheet-table-header
      .sheet-trait-name-header Trait name
      .sheet-trait-level-header Trait level
      .sheet-trait-uses-and-checks
        .sheet-trait-uses-header Beneficial uses
        .sheet-trait-check-header Checks
    +traits()

  .sheet-footer © 2020 Luke Crane, Thor Olavsrud.