<div class="sheet-shaped-row sheet-sub-header">
  <div class="sheet-col-39 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Melee</span>
    <span class="sheet-de">Nahkampf</span>
    <span class="sheet-fr">Mêlée</span>
    <span class="sheet-ru">Рукопашн</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Hit</span>
    <span class="sheet-de">Tref.</span>
    <span class="sheet-fr">Atq</span>
    <span class="sheet-ru">Атака</span>
  </div>
  <div class="sheet-col-12 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Dmg</span>
    <span class="sheet-de">Scha.</span>
    <span class="sheet-fr">Dmg</span>
    <span class="sheet-ru">Урон</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span>+</span>
  </div>
  <div class="sheet-col-10 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Reach</span>
    <span class="sheet-de">Reichw.</span>
    <span class="sheet-fr">Allonge</span>
    <span class="sheet-ru">Длина</span>
  </div>
</div>
<!-- inject:quickMelee:html -->
<!-- endinject -->
