<div class="sheet-shaped-row">
  <div class="sheet-col-39 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_ranged_{{num}}_name">
  </div>
  <div class="sheet-col-07 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled sheet-no-spin" type="number" name="attr_repeating_weapons_ranged_{{num}}_to_hit" value="@{repeating_weapons_ranged_{{num}}_proficient} + @{repeating_weapons_ranged_{{num}}_attack_stat} + (@{repeating_weapons_ranged_{{num}}_attack_bonus} * @{repeating_weapons_ranged_{{num}}_toggle_bonuses})" disabled="disabled">
  </div>
  <div class="sheet-col-12 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_ranged_{{num}}_dmg" value="0">
  </div>
  <div class="sheet-col-07 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_dmg_total" value="@{repeating_weapons_ranged_{{num}}_dmg_stat} + (@{repeating_weapons_ranged_{{num}}_dmg_bonus} * @{repeating_weapons_ranged_{{num}}_toggle_bonuses})" disabled="disabled">
  </div>
  <div class="sheet-col-15 sheet-vert-middle sheet-pad-r-sm">
    <input class="sheet-center sheet-pseudo-disabled" type="text" name="attr_repeating_weapons_ranged_{{num}}_range">
  </div>
  <div class="sheet-col-13 sheet-vert-middle">
    <input class="sheet-center" type="number" name="attr_repeating_weapons_ranged_{{num}}_ammo" min="0" value="1">
  </div>
  <div class="sheet-col-07 sheet-vert-middle">
    <button type="roll" name="roll_repeating_weapons_ranged_{{num}}_weapon"
            value="@{output_option} &{template:5eDefault} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_ranged_{{num}}_name}}} {{action=1}} {{action_type=Ranged}} @{classactionrangedweapon} @{repeating_weapons_ranged_{{num}}_toggle_emote} @{repeating_weapons_ranged_{{num}}_toggle_attack} @{repeating_weapons_ranged_{{num}}_toggle_crit} @{repeating_weapons_ranged_{{num}}_toggle_range} @{repeating_weapons_ranged_{{num}}_toggle_ammo} @{repeating_weapons_ranged_{{num}}_toggle_damage} @{repeating_weapons_ranged_{{num}}_toggle_alt_damage} @{repeating_weapons_ranged_{{num}}_toggle_second_damage}">
  </div>
</div>
