<div class="sheet-shaped-row sheet-sub-header">
  <div class="sheet-col-39 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Ranged</span>
    <span class="sheet-de">Fernkampf</span>
    <span class="sheet-fr">Tir</span>
    <span class="sheet-ru">Дистанц</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Hit</span>
    <span class="sheet-de">Tref.</span>
    <span class="sheet-fr">Atq</span>
    <span class="sheet-ru">Атака</span>
  </div>
  <div class="sheet-col-12 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Dmg</span>
    <span class="sheet-de">Scha.</span>
    <span class="sheet-fr">Dmg</span>
    <span class="sheet-ru">Урон</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span>+</span>
  </div>
  <div class="sheet-col-15 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Range</span>
    <span class="sheet-de">Reichw.</span>
    <span class="sheet-fr">Portée</span>
    <span class="sheet-ru">Дальность</span>
  </div>
  <div class="sheet-col-15 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Ammo</span>
    <span class="sheet-de">Mun.</span>
    <span class="sheet-fr">Mun</span>
    <span class="sheet-ru">Боепр</span>
  </div>
</div>
<!-- inject:quickRanged:html -->
<!-- endinject -->
