input.legendary_flag(type="hidden" name="attr_npc_legendary_actions" value="0")
.npc_legactions
  hr.npc__rule--thin
  span.npc__section-header(data-i18n="leg-actions") Legendary Actions
  .npc_description
    span(name="attr_npc_legendary_actions_desc")
  fieldset.repeating_npcaction-l
    .legaction
      +toggleButton('edit', 'npc__toggle', true)
      .legaction__options.toggle__options.options
        .options__row
          span(data-i18n="name:-u") NAME:
          input(type="text" name="attr_name")
        .options__row
          input(type="checkbox" name="attr_attack_flag" value!="on")
          span(data-i18n="attack-u") ATTACK
        input.flag__toggle--attack(type="hidden" name="attr_attack_flag" value!="0")
        .options__row.flag__display--attack
          span(data-i18n="type:-u") TYPE:
          select(name="attr_attack_type")
            option(value!="Melee" data-i18n="melee") Melee
            option(value!="Ranged" data-i18n="ranged") Ranged
          span( data-i18n="range-reach:-u") RANGE/REACH:
          input(type="text" name="attr_attack_range" placeholder="5 ft." data-i18n-placeholder="range-reach-place")
        .options__row.flag__display--attack
          span(data-i18n="to-hit:-u") TO HIT:
          input(type="text" name="attr_attack_tohit" value!="0" placeholder="5")
          span( data-i18n="target:-u") TARGET:
          input(type="text" name="attr_attack_target" placeholder="One target" data-i18n-placeholder="to-hit-place")
        input(type="hidden" name="attr_damage_flag")
        .options__row.flag__display--attack
          span(data-i18n="on-hit:-u") ON HIT:
          input(type="text" name="attr_attack_damage" placeholder="1d10")
          input(type="text" name="attr_attack_damagetype" placeholder="slashing" data-i18n-placeholder="on-hit-place")
          input(type="hidden" name="attr_attack_crit")
        .options__row.flag__display--attack
          span(data-i18n="on-hit2:-u") ON HIT 2:
          input(type="text" name="attr_attack_damage2" placeholder="2d6+5")
          input(type="text" name="attr_attack_damagetype2" placeholder="fire" data-i18n-placeholder="on-hit-2-place")
          input(type="hidden" name="attr_attack_crit2")
        .options__row.flag__display--attack
          span(data-i18n="desc:-u") DESCRIPTION:
          select(name="attr_show_desc")
            option(value!="@{description}" data-i18n="show") Show
            option(value!=" " data-i18n="hide") Hide
        .options__row
          textarea(name="attr_description")
      .legaction__display.toggle__display
        button.legaction__name.pick(type="roll" name="roll_npc_action" value!="@{rollbase}")
          span(name="attr_name")
        input.flag__toggle--attack(type="hidden" name="attr_attack_flag")
        .npc__row.flag__display--attack
          span(name="attr_attack_type")
          span  Weapon Attack:
          span(name="attr_attack_tohitrange")
        .npc__row.flag__display--attack
          span( data-i18n="hit:") Hit:
          span(name="attr_attack_onhit")
        span.legaction__description(name="attr_description")
      input(type="hidden" name="attr_rollbase")
      button(type="roll" name="roll_npc_dmg" value!="@{wtype}&{template:npcdmg} @{damage_flag} {{dmg1=[[@{attack_damage}+0]]}} {{dmg1type=@{attack_damagetype}}} {{dmg2=[[@{attack_damage2}+0]]}} {{dmg2type=@{attack_damagetype2}}}")
      button(type="roll" name="roll_npc_crit" value!="@{wtype}&{template:npcdmg} @{damage_flag} {{crit=1}} {{dmg1=[[@{attack_damage}+0]]}} {{dmg1type=@{attack_damagetype}}} {{dmg2=[[@{attack_damage2}+0]]}} {{dmg2type=@{attack_damagetype2}}} {{crit1=[[@{attack_crit}+0]]}} {{crit2=[[@{attack_crit2}+0]]}}")