input.reaction_flag(type="hidden" name="attr_npcreactionsflag")
.npc__reactions
  hr.npc__rule--thin
  span.npc__section-header(data-i18n="reactions") Reactions
  fieldset.repeating_npcreaction
    .reaction
      +toggleButton('edit', 'npc__toggle', true)
      .reaction__options.toggle__options.options
        .options__row
          span(data-i18n="name:-u") NAME:
          input(type="text" name="attr_name" placeholder="Parry." data-i18n-placeholder="npc-repeating-name-place")
        .options__row
          textarea(name="attr_description" placeholder="The creature adds 2 to its AC against..." data-i18n-placeholder="npc-repeating-desc-place")
      .reaction__display.toggle__display
        .reaction__row
          button.reaction__name(type="roll" name="npc_roll_output" value="@{wtype}&{template:traits} @{charname_output} {{name=@{name}}} {{description=@{description}}}")
            span(name="attr_name")
        span.reaction__description(name="attr_description")