input.npc__flag--options(type="hidden" name="attr_npc_options-flag" value="on")
input.npc_ui_flags(type="hidden" name="attr_ui_flags" value="")
.options.npc__options
  .options__row--title
    span(data-i18n="npc-options-u") NPC OPTIONS
  .options__row
    span(data-i18n="name-u") NAME
    input(type="text" name="attr_npc_name")
  .options__row
    span(data-i18n="npc-type-u") NPC TYPE
    input(type="text" name="attr_npc_type" placeholder="Medium fiend, any evil alignment" data-i18n-placeholder="npc-type-place")
  .options__row
    span(data-i18n="armor-class-u") ARMOR CLASS
    input(type="text" name="attr_npc_ac" placeholder="10")
    span(data-i18n="type-u") TYPE
    input(type="text" name="attr_npc_actype" placeholder="scale mail" data-i18n-placeholder="npc-armor-place" value!="")
  .options__row
    span(data-i18n="hit-points-u") HIT POINTS
    input(type="text" name="attr_hp_max" placeholder="82")
    span(data-i18n="formula-u") FORMULA
    input(type="text" name="attr_npc_hpformula" placeholder="11d8 + 33")
  .options__row
    span(data-i18n="speed-u") SPEED
    input(type="text" name="attr_npc_speed" placeholder="30 ft., fly 60ft." data-i18n-placeholder="npc-speed-place")
  .spacer
  .options__row--title
    span(data-i18n="attributes-u") ATTRIBUTES
  .options__row
    each attr in ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma']
      +npcAttribute(attr)
  .spacer
  .options__row--title
    span(data-i18n="saves-u") SAVES
  .options__row
    each attr in ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma']
      +npcSave(attr)
  .spacer
  .options__row--title
    span(data-i18n="skills-u") SKILLS
  .options__row.skills-list(data-i18n-list="skills-list")
    .col
      each skill in ['acrobatics:dexterity', 'animal handling:wisdom', 'arcana:intelligence', 'athletics:strength', 'deception:charisma', 'history:intelligence']
        +npcSkill(skill)
    .col(data-i18n-list-sublist="")
      each skill in ['insight:wisdom', 'intimidation:charisma', 'investigation:intelligence', 'medicine:wisdom', 'nature:intelligence', 'perception:wisdom']
        +npcSkill(skill)
    .col(data-i18n-list-sublist="")
      each skill in ['performance:charisma', 'persuasion:charisma', 'religion:intelligence', 'sleight_of_hand:dexterity', 'stealth:dexterity', 'survival:wisdom']
        +npcSkill(skill)
  .options__row.options__row--noborder
    span(data-i18n="damage-vuln-u") DAMAGE VULNERABILITIES
    input(type="text" name="attr_npc_vulnerabilities" placeholder="fire" data-i18n-placeholder="npc-dmg-vuln-place")
  .options__row.options__row--noborder
    span(data-i18n="damage-res-u") DAMAGE RESISTANCES
    input(type="text" name="attr_npc_resistances" placeholder="cold" data-i18n-placeholder="npc-dmg-res-place")
  .options__row.options__row--noborder
    span(data-i18n="damage-imm-u") DAMAGE IMMUNITIES
    input(type="text" name="attr_npc_immunities" placeholder="lighting, thunder" data-i18n-placeholder="npc-dmg-imm-place")
  .options__row.options__row--noborder
    span(data-i18n="cond-imm-u") CONDITION IMMUNITIES
    input(type="text" name="attr_npc_condition_immunities" placeholder="charmed" data-i18n-placeholder="npc-cond-imm-place")
  .options__row
    span(data-i18n="senses-u") SENSES
    input(type="text" name="attr_npc_senses" placeholder="darkvision 120ft., passive Perception 16" data-i18n-placeholder="npc-senses-place")
  .options__row
    span(data-i18n="langs-u") LANGUAGES
    input(type="text" name="attr_npc_languages" placeholder="Abyssal, Common, Infernal" value!="—" data-i18n-placeholder="npc-langs-place")
  .options__row
    span(data-i18n="challenge-u") CHALLENGE
    input(type="text" name="attr_npc_challenge" placeholder="1")
    span(data-i18n="xp-u") XP
    input(type="text" name="attr_npc_xp" placeholder="250")
  .options__row
    span(data-i18n="token_size-u") TOKEN SIZE
    input(name="attr_token_size" value!="1" placeholder="1")
  input.npc__flag--spellcasting(type="hidden" name="attr_npcspellcastingflag" value!="1")
  .options__row
    input.options__flex--1(type="checkbox" name="attr_npcspellcastingflag" value!="1")
    span.options__flex--9(data-i18n="spellcast-npc-u") SPELLCASTING NPC
      span(data-i18n="spell-ability-u") SPELLCASTING ABILITY
      select(name="attr_spellcasting_ability")
        option(value!="0*" data-i18n="none-u") NONE
        option(value!="@{strength_mod}+" data-i18n="strength-u") STRENGTH
        option(value!="@{dexterity_mod}+" data-i18n="dexterity-u") DEXTERITY
        option(value!="@{constitution_mod}+" data-i18n="constitution-u") CONSTITUTION
        option(value!="@{intelligence_mod}+" data-i18n="intelligence-u") INTELLIGENCE
        option(value!="@{wisdom_mod}+" data-i18n="wisdom-u") WISDOM
        option(value!="@{charisma_mod}+" data-i18n="charisma-u") CHARISMA
  .options__row.npc__hidden--spellcasting    
    span(data-i18n="glob-atk-mod:-u") GLOBAL MAGIC ATTACK MODIFIER:
    input(type="text" name="attr_globalmagicmod" placeholder="0" value!="0")
    span(data-i18n="magic-caster-lvl:-u") MAGIC CASTER LEVEL:
    input(type="text" name="attr_caster_level")
    span(data-i18n="spell_dc_mod:-u") SPELL SAVE DC MOD:
    input(type="text" name="attr_spell_dc_mod" placeholder="0" value!="0")
  .options__row
    input.options__flex--1(type="checkbox" name="attr_npcbonusactionsflag" value!="1")
    span.options__flex--4(data-i18n="has-bonusaction-u") HAS BONUS ACTIONS
    input.options__flex--1(type="checkbox" name="attr_npcreactionsflag" value!="1")
    span.options__flex--4(data-i18n="has-reaction-u") HAS REACTIONS
  .options__row
    span(data-i18n="leg-actions:-u") LEGENDARY ACTIONS:
    input(type="text" name="attr_npc_legendary_actions" value!="0" placeholder="0")
  .options__row
    input(type="checkbox" name="attr_npc_mythic_actions" value!="1")
    span(data-i18n="myt-actions:-u") MYTHIC ACTIONS:
    textarea.mythic-rules(name="attr_npc_mythic_actions_desc" placeholder="Mythic Action Rules. This creature can use the options below...")
  .options__row--title
    span(data-i18n="gen-opts-u") GENERAL OPTIONS
  .options__row.options__row--center
    input.options__flex--1(type="checkbox" name="attr_npc" value!="1")
    span.options__flex--1(data-i18n="npc-u") NPC
  .options__row
    span(data-i18n="roll-queries:-u") ROLL QUERIES:
    select(name="attr_rtype")
      option(value!="{{always=1}} {{r2=[[@{d20}" data-i18n="always-adv") Always Roll Advantage
      option(value!="@{advantagetoggle}" data-i18n="adv-toggle") Advantage Toggle
      option(value!="@{queryadvantage}" data-i18n="query-adv") Query Advantage
      option(value!="{{normal=1}} {{r2=[[0d20" data-i18n="never-adv") Never Roll Advantage
    span(data-i18n="whisp-rolls-gm:-u") WHISPER ROLLS TO GM:
    select(name="attr_wtype")
      option(value!="" data-i18n="never-whisper-roll") Never Whisper Rolls
      option(value!="@{whispertoggle}" data-i18n="toggle-roll-whisper") Whisper Toggle
      option(value!="?{Whisper?|Public Roll,|Whisper Roll,/w gm }" data-i18n="query-whisper-roll") Query Whisper
      option(value!="/w gm " data-i18n="always-whisper-roll") Always Whisper Rolls
  .options__row
    span(data-i18n="auto-dmg-roll:-u") AUTO DAMAGE ROLL:
    select.dtype(name="attr_dtype")
      option(value!="pick" data-i18n="never-dmg") Don&apos;t Auto Roll Damage
      option(value!="full" data-i18n="always-dmg") Auto Roll Damage &amp; Crit
    span(data-i18n="npc-name-in-rolls:-u") NPC NAME IN ROLLS:
    select(name="attr_npc_name_flag")
      option(value!="{{name=@{npc_name}}}" data-i18n="show") Show
      option(value!="0" data-i18n="hide") Hide
  .options__row.options__row--center
    input.options__flex--1(type="checkbox" name="attr_init_tiebreaker" value!="@{dexterity}/100")
    span.options__flex--4(data-i18n="add-dex-tiebreaker-u") ADD DEX TIEBREAKER TO INITIATIVE