.display.npc__statblock
  .npc__settings
    input.npc__flag--options(type="checkbox" name="attr_npc_options-flag" checked="checked")
    span y
  .npc__row.options__title
    button(type="roll" name="roll_npc_init" value!="@{wtype}&{template:npc} @{npc_name_flag} {{rname=^{init}}} {{mod=[[[[@{initiative_bonus}]][DEX]]]}} {{r1=[[@{d20}+[[@{initiative_bonus}]][DEX] &{tracker}]]}} {{normal=1}} {{type=Initiative}}")
      span.npc__title(name="attr_npc_name")
  .npc__row
    span.npc__subtitle(name="attr_npc_type")
  hr.npc__rule--thin
  .npc__row
    span.npc__label(data-i18n="ac") Armor Class
    span(name="attr_npc_ac")
    input.npc__flag--actype(type="hidden" name="attr_npc_actype" value!="")
    span.npc__ac-type(name="attr_npc_actype")
  .npc__row
    span.npc__label(data-i18n="hp") Hit Points
    span(name="attr_hp_max")
    button(type="roll" name="roll_npc_hpformula" value!="@{wtype}&{template:npc} {{type=Hit Points}} {{normal=1}} @{npc_name_flag} {{rname=^{hp}}} {{mod=@{npc_hpformula}}} {{r1=[[@{npc_hpformula}]]}} charname=@{character_name}")
      span.npc__hitpoints-formula(name="attr_npc_hpformula")
  .npc__row
    span.npc__label(data-i18n="speed") Speed
    span(name="attr_npc_speed")
  hr.npc__rule--thick-top
  .npc__row.npc__row--space-between
    each attr in ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma']
      +npcAttributeRoll(attr)
  hr.npc__rule--thick-bottom
  input.npc__flag--next(type="hidden" name="attr_npc_saving_flag" value!="")
  .npc__row
    span.npc__label(data-i18n="saving-throw") Saving Throws
    each attr in ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma']
      +npcSaveRoll(attr)
  input.npc__flag--next(type="hidden" name="attr_npc_skills_flag" value!="")
  .npc__row.skills.skills-list(data-i18n-list="skills-list")
    span.npc__label(data-i18n="skills") Skills
    each skill in ['acrobatics', 'animal handling', 'arcana', 'athletics', 'deception', 'history', 'insight', 'intimidation', 'investigation', 'medicine', 'nature', 'perception', 'performance', 'persuasion', 'religion', 'sleight_of_hand', 'stealth', 'survival']
      +npcSkillRoll(skill)
  input.npc__flag--next(type="hidden" name="attr_npc_vulnerabilities")
  .npc__row.npc__hidden.vulnerabilities
    span.npc__label(data-i18n="dmg-vuln") Damage Vulnerabilities
    span(name="attr_npc_vulnerabilities")
  input.npc__flag--next(type="hidden" name="attr_npc_resistances")
  .npc__row.npc__hidden.resistances
    span.npc__label(data-i18n="dmg-res") Damage Resistances
    span(name="attr_npc_resistances")
  input.npc__flag--next(type="hidden" name="attr_npc_immunities")
  .npc__row.npc__hidden.immunities
    span.npc__label(data-i18n="dmg-imm") Damage Immunities
    span(name="attr_npc_immunities")
  input.npc__flag--next(type="hidden" name="attr_npc_condition_immunities")
  .npc__row.npc__hidden.condition_immunities
    span.npc__label(data-i18n="cond-imm") Condition Immunities
    span(name="attr_npc_condition_immunities")
  .npc__row.senses
    span.npc__label(data-i18n="senses") Senses
    span(name="attr_npc_senses")
  .npc__row.languages
    span.npc__label(data-i18n="langs") Languages
    span.languages(name="attr_npc_languages" value!="—")
  .npc__row
    span.npc__label(data-i18n="challenge") Challenge
    span(name="attr_npc_challenge")
    span.npc__challenge--brackets(name="attr_npc_xp")
  hr.npc__rule--thin