.npc__traits
  fieldset.repeating_npctrait
    .trait
      +toggleButton('edit_trait', 'npc__toggle', true)
      .trait__options.options.toggle__options
        .options__row
          span(data-i18n="name:-u") NAME:
          input(type="text" name="attr_name" placeholder="False Appearance." data-i18n-placeholder="npc-trait-name-place")
        .options__row
          textarea(name="attr_description" placeholder="If the dragon fails..." data-i18n-placeholder="npc-trait-desc-place")
      .trait__display.toggle__display
        button.trait__name.btn.ui-draggable(type="roll" name="roll_npc_roll_output" value="@{wtype}&{template:traits} @{charname_output} {{name=@{name}}} {{description=@{description}}}")
          span(name="attr_name")
        span.trait__description(name="attr_description")