.charsheet .sheet-maindiv,
.charsheet .sheet-player {
	background-color: white;
}

.charsheet .sheet-monster {
	background-image: url('http://www.geeksville.us/roll20/notebook.jpg');
	min-height: 200px;
	height: 1050px;
	max-height:1050px;
	padding-top: 50px;
	padding-left: 180px;
	font-size: 1.5em;
}
.charsheet .sheet-contentBlock {
    border: 2px solid black;
	border-radius: 15px;
	display: block;
	margin: 0px;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.charsheet h1 {
	text-align: center;
	font-size: 72px;
	margin: 20px;
	margin-bottom: 35px;
}

.charsheet h2.sheet-monstersubheader,
.charsheet h3.sheet-monstersubsubheader {
	text-align: center;
	font-size: 2.5em;
	margin: 10px;
	font-family: "Patrick Hand", sans-serif;
}

.charsheet h3.sheet-monstersubsubheader {
	font-size: 1em;
}

.charsheet h1.sheet-monsterheader {
	font-family: "Patrick Hand", sans-serif;
}

.charsheet h3 {
	width: 100%;
	text-align: center;
}

.charsheet textarea.sheet-subjective {
	width: 98%; 
	border: none; 
	background-color: white;
	height: 30px;
	max-width: 98%;
	font-weight: normal;
	font-size: .90em;
}

.charsheet textarea.sheet-monstertext {
	width: 95%;
	max-width: 95%;
	height: 50px;
	max-height: 50px;
	background-color: transparent; 
	margin-top: 5px;
	font-family: "Shadows Into Light", sans-serif;
	font-size: 1em;
	resize: vertical;
}

.charsheet .sheet-relationships {
	display: inline-block;
	margin: 2px;
	padding: 0px;
	font-size: .75em;
	width: 120px;
}

.charsheet .sheet-ranking,
.charsheet .sheet-skills {
	display: inline-block;
	margin: 2px;
	padding: 0px;
	text-align: center;
	width: 25px;
	font-weight: bold;
}

.charsheet .sheet-skills {
	font-weight: normal;
	/*text-align: left;*/
}

.charsheet input[type=text].sheet-standard {
	border: none;
	border-bottom: solid 1px;
	color: black;
	font-weight: normal;
	font-size: .9em;
}

.charsheet input[type=text].sheet-monstertinput {
	border: none;
	background-color: transparent;
	color: black;
	font-weight: normal;
	font-size: .9em;
	font-family: "Shadows Into Light", sans-serif;
}

.charsheet span.sheet-label,
.charsheet span.sheet-mlabel {
	font-size: 1em;
	font-weight: bold;
	margin-right: 3px;
}

.charsheet span.sheet-mlabel {
	font-family: "Patrick Hand", cursive;
}

.charsheet input[type="checkbox"]
{
    opacity: 0;
    width: 14px;
    height: 14px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input[type="checkbox"].sheet-ex + span::before,
input[type="checkbox"].sheet-circle + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    /*display: inline-block;*/
    display: none;
    vertical-align: middle;
    
    content: " ";
    width: 14px;
    height: 14px;
}

input[type="checkbox"].sheet-ex + span::before{
	display: inline-block;
}

input[type="checkbox"].sheet-ex:checked + span::before
{
    content: url('http://www.geeksville.us/roll20/hand_drawn_x_small.png');
    margin-top: -9px;
}

.charsheet input[type="checkbox"].sheet-circle {
    opacity: 0;
    width: 25px;
    height: 20px;
    position: relative;
    /*top: 5px;
    left: 6px;*/
    margin-left: -35px;
    margin-top: -23px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 3;
}

input[type="checkbox"].sheet-circle:checked + span::before
{
	display: inline-block;
    content: url('http://www.geeksville.us/roll20/circles_tiny.png');
    margin-top: -10px!important; 
    margin-left: -25px!important;
    margin-right: 11px;
}

.charsheet input.sheet-weirdinput {
	width: 20px;
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin-left: -8px;
}

.charsheet span.sheet-weirdskill {
	display: inline-block;
	font-size: .7em;
	color: gray;
	margin: 0px;
	padding: 0px;
	margin-left: -10px;
}

.charsheet .sheet-weirdinput:checked + span.sheet-weirdskill {
	color: black;
	/*font-weight: bold;*/
}

.charsheet textarea.sheet-weirddeets {
	display: none;
	width: 95%;
	max-width: 95%;
	height: 40px;
}

.charsheet .sheet-weirdinput:checked ~ textarea.sheet-weirddeets {
	display: block;
}

/*----------- Character Sheet Type setup --------------*/

.charsheet div.sheet-player, 
.charsheet div.sheet-monster {     
	display: none;
    /*float: left;*/
}

.charsheet input.sheet-is-monster:checked ~ div.sheet-monster,
.charsheet input.sheet-is-monster:not(:checked )~ div.sheet-player
{
	display: block;
	overflow: auto;
}

.charsheet input.sheet-is-monster {
    margin-left: 10px;
    /*width: 20%;*/
    width: 50px;
    /*height: 16px;*/
    height: 90px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
	margin-top: -100px;
}

.charsheet span.sheet-is-monster-tab::before {
    /*content: "Switch to Monster";*/
    content: url('http://www.geeksville.us/roll20/monstersmiley.png');
}

.charsheet span.sheet-is-monster-tab::after {
    /*content: "Switch to Monster";*/
    content: "monster";
}

.charsheet span.sheet-is-monster-tab {
    text-align: center;
    display: inline-block;    
    /*width: 20%;
    height: 16px;*/
    width: 50px;
    height: 60px;
    font-size: 9px;
	
	/*background: silver;
	color: black; */
	font-weight: bold;
	/*border-radius: 4px;*/
	margin-left: -40px;
}

.charsheet input.sheet-is-monster:checked + span.sheet-is-monster-tab {
    /*background: #93537c; */
    /*background: black;    
    color: white;*/
	border-radius: 4px;
}

.charsheet input.sheet-is-monster:checked + span.sheet-is-monster-tab::before {
	/*content: "Switch to Character"*/
	content: url('http://www.geeksville.us/roll20/smiley.png');
}

.charsheet input.sheet-is-monster:checked + span.sheet-is-monster-tab::after {
	/*content: "Switch to Character"*/
	content: "character";
}

/*----------- Character Sheet Type setup End -------------*/
/*----------- Roll Template setup Start -------------*/
.sheet-rolltemplate-ors h2.sheet-caption,
.sheet-rolltemplate-ors h3.sheet-caption,
.sheet-rolltemplate-ore h2.sheet-caption,
.sheet-rolltemplate-ore h3.sheet-caption {
	text-align: center;
    color: white; 
    background-color: black;
	border-radius: 15px;
	font-size: 1.125em;
	font-weight: bold;
	margin: 5px;
	margin-bottom: 0px;
}

.sheet-rolltemplate-ors h3.sheet-caption,
.sheet-rolltemplate-ore h3.sheet-caption {
	color: black;
	border: 1px solid gray; 
	background-color: silver;
	margin-bottom: 0px;
}

.sheet-rolltemplate-ors div.sheet-results,
.sheet-rolltemplate-ore div.sheet-results {
	display: block;
    padding: 5px;
    border-radius: 15px;
    border: solid 1px black;
    text-align: center;
    margin-bottom: 5px;
    background-color: white;
}

.sheet-rolltemplate-ors div.sheet-groupNum,
.sheet-rolltemplate-ore div.sheet-groupNum {
	display: inline-block;
	width: 30%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.sheet-rolltemplate-ors div.sheet-grouping,
.sheet-rolltemplate-ore div.sheet-grouping {
	display: inline-block;
	width: 68%;
	text-align: center;
	font-family: "dicefontd10";
	font-size: 2.5em;
}

.sheet-rolltemplate-ors .inlinerollresult,
.sheet-rolltemplate-ore .inlinerollresult {
	background-color: transparent;
	border: none;
	color: black;
}

.sheet-rolltemplate-ors .sheet-trueRoll .inlinerollresult,
.sheet-rolltemplate-ore .sheet-trueRoll .inlinerollresult {
    background-color: transparent;
    color: transparent;
    border: none;
}

.sheet-rolltemplate-ors .sheet-trueRoll .inlinerollresult.fullcrit,
.sheet-rolltemplate-ore .sheet-trueRoll .inlinerollresult.fullcrit {
	color: transparent;
    border: none;
}

.sheet-rolltemplate-ors .sheet-trueRoll .inlinerollresult.fullfail,
.sheet-rolltemplate-ore .sheet-trueRoll .inlinerollresult.fullfail {
    color: transparent;
    border: none;
}
 
.sheet-rolltemplate-ors .sheet-trueRoll .inlinerollresult.importantroll,
.sheet-rolltemplate-ore .sheet-trueRoll .inlinerollresult.importantroll {
	color: transparent;
    border: none;
}
/*----------- Roll Template setup End --------------*/