@font-face {
    font-family: 'GNUTypewriter';
        src: url('http://openfontlibrary.org/assets/fonts/gnutypewriter/8a7cb57723df9125503083ed59e7a11c/e47a6e209a23b19c08d3d6e6a6db50d7/GNUTypewriterStandard.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GNUTypewriter';
        src: url('http://openfontlibrary.org/assets/fonts/gnutypewriter/8a7cb57723df9125503083ed59e7a11c/718af758a8ac10cf79fcc33420aacc3e/GNUTypewriterStandard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
    margin: 0;
    padding: 0;
}

h4.sheet-section-head {
    background-color: red;
/*    border: 1px solid black;*/
    height: 36px;
    font-size: 140%;
    color: white;
/*    margin-top: 10px;*/
/*    vertical-align: center;*/
    line-height: 36px;
    text-align: center;
/*    font-family: 'GNUTypewriter';*/
    font-weight: bold;
    font-style: normal;
}

h4.sheet-section-slogan {
    background-color: white;
/*    border: 1px solid black;*/
    height: 36px;
    font-size: 140%;
    color: DarkGoldenRod;
/*    margin-top: 10px;*/
/*    vertical-align: center;*/
/*    line-height: 36px;*/
    text-align: center;
    font-family: 'GNUTypewriter';
    font-weight: normal;
    font-style: normal;
}

div.sheet-section {
    border: 1px solid gray;
    padding: 1%;
    margin: 0 0 1% 0;
}

div.sheet-sectiop {
    border: 0px solid gray;
    padding: 1%;
    margin: 0 0 1% 0;
}

table td.sheet-attr {
    width: 13.33%;
    height: 40px;
}

table td.sheet-attr-label {
    height: 40px;
    font-size: 120%; 
    text-align: left;
}

input[type="text"].sheet-attr-input {
    width: 40px; 
    height: 40px; 
    font-size: 120%; 
    text-align: center;
}

input[type="text"].sheet-spell-input {
    background-color: red;
    border: 0px solid red;
    height: 30px;
    font-size: 100%;
    color: white;
/*    margin-top: 10px;*/
/*    vertical-align: center;*/
    line-height: 30px;
    text-align: center;
/*    font-family: 'GNUTypewriter';*/
    font-weight: bold;
    font-style: normal;   
}

input[type="number"].sheet-rs-output {
    width: 20px; 
    height: 15px; 
    line-height: 1px;
    font-size: 50%; 
    text-align: center;
}


table td.sheet-attr-roll {
    height: 40px;
    text-align: center;
}
/* Button Hintergrund*/
button[type_"roll"] {
    background-color:red; 
}

input.sheet-secondary-attr-input {
    width: 100%;
    text-align: center;
}

input[type="number"].sheet-secondary-attr-input {
    width: 100%;
    text-align: center;
}

input.sheet-tertiary-attr-input {
    height: 48px;
    font-size: 200%;
    font-weight: bold;
    font-style: normal;
    width: 100%;
    text-align: center;
}

input[type="number"].sheet-tertiary-attr-input {
    height: 48px;
    font-size: 200%;
    font-weight: bold;
    font-style: normal;
    width: 100%;
    text-align: center;
}

input.sheet-quartiary-attr-input {
    height: 40px;
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
    width: 100%;
    text-align: center;
}

input[type="number"].sheet-quartiary-attr-input {
    height: 40px;
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
    width: 100%;
    text-align: center;
}

table td.sheet-skill-label {
    width: 100%;
}

input[type="text"].sheet-skill-input {
    width: 30px;
    text-align: center;
}

input[type="number"].sheet-skill-input {
    width: 30px;
    text-align: center;
}

select.sheet-skill-input {
    width: 50px;
    text-align: center;
}

texarea.sheet-backstory-box {
    height: 75px;
}

/* For Tabs*/
.sheet-desc-show:not(:checked)~.sheet-desc,
.sheet-macro-text-show:not(:checked)~.sheet-macro-text,
.sheet-sect-show:not(:checked)~.sheet-sect {
    display:none;
}



/*  für repeated Buttons */
.sheet-table {
    display:table;
    width:100%;
}

.sheet-small-label {
    font-size: 85%!important;
    font-style: italic;
    font-weight: bold;
}

.sheet-table-name {
    display:table-caption;
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:black;
    width:100%;
}

.sheet-table-header {
    display:table-cell;
    text-align:center;
    font-style: italic;
    font-weight:bold;
    vertical-align:bottom;
    background-color:lightgray;
}

.sheet-table-data {
    display:table-cell;
    vertical-align:middle;
}

.sheet-center {
    text-align:center;
}

.sheet-left {
    text-align:left;
}

.sheet-right {
    text-align:right;
}

.sheet-table-row {
    display:table-row;
    vertical-align:bottom;
    width:100%;    
}

.sheet-table-row-name {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    color:white;
    background-color:black;
    font-weight:bold;
}

.sheet-label {
    font-weight:bold;
    text-align:center;
}

input[type="text"], input[type="number"] {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 2px 0px;
}

input[type="text"]:disabled, input[type="number"]:disabled {
    background-color: ghostwhite;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 0px 0px;
}

input[type="text"], select {
    width:100%;
    margin:0;
}

/* hier Ende f- repeated Buttons*/


div[class^="sheet-sections"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}

div[class^="sheet-sectioh"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}

div[class^="sheet-npc"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}

div[class^="sheet-feats"] {     
    visibility: hidden;
    opacity: 0;
    max-height:0;
    overflow: hidden;
}

input.sheet-tab99:checked ~ div[class^="sheet-sections"] {     
	max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: auto;
}

input.sheet-tab {
    width: 78px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	opacity: 0;
	z-index: 9999;
}

input.sheet-tab-npc {
    width: 20px;
    height: 20px;
    cursor: pointer;    
	position: relative;
	opacity: 0;
	z-index: 9999;
}

input.sheet-tab-feats {
    width: 78px;
    height: 20px;
    cursor: pointer;    
    position: relative;
	opacity: 0;
	z-index: 9999;
}

span.sheet-tab {
	text-align: center;
    display: inline-block;   
	font-size: 12px;	
	background: red; 
	color: white;
	font-weight: bold;

	width: 78px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	margin-left: -75px;
}

span.sheet-tab-npc {
    text-align: center;
    display: inline-block;   
	font-size: 10px;	
	background: white; 
	color: white;
	font-weight: bold;

	width: 20px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	margin-left: -5px;
}

span.sheet-tab-feats {
    text-align: center;
    display: inline-block;   
    font-size: 10px;	
	background: red; 
	color: red;
	font-weight: bold;

	width: 78px;
    height: 20px;
    cursor: pointer;	
	position: relative;
	margin-left: -75px;
}

input.sheet-tab::before {
    content: attr(title);
    text-align: center;
    display: inline-block;    
    width: 100%;
    height: 100%;

    background: red; 
	color: white;
	font-weight: bold;
}

input.sheet-tab:checked::before {
    background:white;    
    color:black;
}

input.sheet-tab1:checked ~ div.sheet-sections-core,
input.sheet-tab10:checked ~ div.sheet-sections-class,
input.sheet-tab4:checked ~ div.sheet-sections-defenses,
input.sheet-tab3:checked ~ div.sheet-sections-attacks,
input.sheet-tab2:checked ~ div.sheet-sections-skills,
input.sheet-tab8:checked ~ div.sheet-sectioh-feats,
input.sheet-tab6:checked ~ div.sheet-sections-inventory,
input.sheet-tab5:checked ~ div.sheet-sections-spells,
input.sheet-tab7:checked ~ div.sheet-sections-details,
input.sheet-tab9:checked ~ div.sheet-sectioh-npc {
    max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: hidden;
}

input.sheet-tab1:checked + span.sheet-tab1,
input.sheet-tab2:checked + span.sheet-tab2,
input.sheet-tab3:checked + span.sheet-tab3,
input.sheet-tab4:checked + span.sheet-tab4,
input.sheet-tab5:checked + span.sheet-tab5,
input.sheet-tab6:checked + span.sheet-tab6,
input.sheet-tab7:checked + span.sheet-tab7,
input.sheet-tab8:checked + span.sheet-tab8,
input.sheet-tab9:checked + span.sheet-tab9,
input.sheet-tab99:checked + span.sheet-tab99,
input.sheet-tab10:checked + span.sheet-tab10 {
    background: white;    
    color: black;
}

.sheet-text-button {
    font-size:100%;
    color:white;
	background-color:black;
	border:0px;
}

button,
button:hover,
button:active
{
    background-image: none;
}

input[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    content: "[show]";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
input[type="checkbox"]:checked + span::before
{
    content: "[hide]";
}

hr {
    border-color:black;
}

textarea {
    box-sizing:border-box;
}
