.sheet-proficiencies-weapons
  display flex
  flex-flow wrap

.sheet-proficiency
  width 50%
  margin-top 1em

.sheet-option-list
  text-align justify
  margin-left 2em

.sheet-proficiency-text
  font-size 14px
  margin-left 0.6em
  font-family: 'Crimson Text', Verdana, arial, sans-serif
