.sheet-proficiencies-weapons
  display flex
  flex-flow wrap

.sheet-proficiency
  width 50%
  margin-top 1em

.sheet-option-list
  text-align justify
  margin-left 2em

.sheet-proficiency-text
  font-size 14px
  margin-left 0.6em
  std-font('Crimson Text')
  font-weight 600
