- var weapons = [ 'axes', 'polearms', 'swords', 'thrown weapons', 'whips & chains', 'blunt weapons', 'projectile weapons', 'stabbing weapons', 'unarmed' ]
- 
  var options = [ 
    'when you <em>strike</em>, <em>clash</em>, or <em>battle</em>, add +1.',
    'when you <em>inflict harm</em>, add +1.',
    'when you <em>inflict harm</em>, you may reroll.'
  ]

div.sheet-proficiencies-weapons
  each weapon in weapons
    div.sheet-proficiency
      h3.sheet-proficiency-title=weapon
        each option, index in options
          div.sheet-option-list
            input(type='checkbox' name=`attr_${weapon}_proficiency_${index}`)
            span.sheet-proficiency-text!=option