input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
    margin: 0;
    padding: 0;
}

/* Tweak repeating section buttons so they have a bottom margin and dont overflow when in edit mode. */
div[class^="repcontrol"] {
  margin-bottom: 5px;
}
div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
  display: inline-block!important;
  visibility: hidden;
}


.charsheet {
	background-image: url("http://www.geeksville.us/roll20/lankhmar-bg-1.jpg");
}

h4.sheet-section-head {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}

div.sheet-section {
    border: 1px solid black;
    padding: 1%;
    margin: 0 0 1% 0;
}

table td.sheet-attr {
    width: 13.33%;
    height: 58px;
}

table td.sheet-attr-label {
    height: 58px;
    font-size: 120%;
    text-align: center;
}

input[type="text"].sheet-attr-input {
    width: 54px;
    height: 58px;
    font-size: 200%;
    text-align: center;
}

table td.sheet-attr-roll {
    height: 58px;
    text-align: center;
}

input.sheet-secondary-attr-input {
    width: 100%;
    text-align: center;
}

input[type="number"].sheet-secondary-attr-input {
    width: 100%;
    text-align: center;
}

table td.sheet-skill-label {
    width: 100%;
}

input[type="text"].sheet-skill-input {
    width: 30px;
    text-align: center;
}

input[type="number"].sheet-skill-input {
    width: 30px;
    text-align: center;
}

td.sheet-otherskill-reminder {
    font-size: 85%;
}

texarea.sheet-backstory-box {
    height: 75px;
}


/* Roll Templates */
.sheet-rolltemplate-coc table {
    width: 100%;
    border: 1px solid black;
    color: black;
    background: #FFFFFF;
}
.sheet-rolltemplate-coc caption {
    text-align: center;
    background: black;
    color: white;
    font-weight: bold;
    padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}
.sheet-rolltemplate-coc td {
  padding: 2px;
  border-bottom: 1px solid black;
}
.sheet-rolltemplate-coc td.sheet-template_label {
    font-weight: bold;
}
.sheet-rolltemplate-coc td.sheet-template_value {
    text-align: center;
}
.sheet-rolltemplate-coc .inlinerollresult  {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
    background: #BEBEBE;
}
.sheet-rolltemplate-coc .inlinerollresult.fullcrit {
  border: 2px solid black;
    background: #BEBEBE;
}
.sheet-rolltemplate-coc .inlinerollresult.fullfail {
  border: 2px solid black;
    background: #BEBEBE;
}
.sheet-rolltemplate-coc .inlinerollresult.importantroll {
  border: 2px solid black;
    background: #BEBEBE;
}

.sheet-rolltemplate-coc-attack table {
    width: 100%;
    border: 1px solid black;
    color: black;
    background: #FFFFFF;
}
.sheet-rolltemplate-coc-attack caption {
    text-align: center;
    background: black;
    color: white;
    font-weight: bold;
    padding: 2px;
  border: 1px solid black;
  line-height: 1.6em;
}
.sheet-rolltemplate-coc-attack td {
  padding: 2px;
  border-bottom: 1px solid black;
}
.sheet-rolltemplate-coc-attack td.sheet-template_label {
    font-weight: bold;
}
.sheet-rolltemplate-coc-attack td.sheet-template_value {
    text-align: center;
}
.sheet-rolltemplate-coc-attack .inlinerollresult  {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  border: 2px solid black;
    background: #BEBEBE;
}
.sheet-rolltemplate-coc-attack .inlinerollresult.fullcrit {
  border: 2px solid black;
    background: #BEBEBE;
}
.sheet-rolltemplate-coc-attack .inlinerollresult.fullfail {
  border: 2px solid black;
    background: #BEBEBE;
}
.sheet-rolltemplate-coc-attack .inlinerollresult.importantroll {
  border: 2px solid black;
    background: #BEBEBE;
}
