/*-----background-----*/

.charsheet {
    background-image: url("https://images4.alphacoders.com/969/thumb-1920-96964.jpg");
    background-size: 150%;
}

.sheet-clear {
    background:none;
}
/*-----tabs-----*/

input.sheet-tab1:not(:checked) ~ .sheet-tab1,
input.sheet-tab2:not(:checked) ~ .sheet-tab2,
input.sheet-tab3:not(:checked) ~ .sheet-tab3,
input.sheet-tab4:not(:checked) ~ .sheet-tab4,
input.sheet-tab5:not(:checked) ~ .sheet-tab5,
input.sheet-tab6:not(:checked) ~ .sheet-tab6 {
    display: none;
}

input.sheet-tab {
    width: calc(20% - 4px);
    max-width: 150px;
    height: 20px;
    
    outline: none !important;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab1 {
    margin-left: 1px;
}

input.sheet-tab::before {
    content: attr(title);
    display: inline-block;
    color: #89E799;

    background: #114C12;
    border: solid 1px #89E799;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    
    width: 100%;
    height: 20px;
}

input.sheet-tab:checked::before {
    color: #114C12;

    background: #89E799;
}

.sheet-tab-br {
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 5px;
    margin-top: 1px;
}

    /*-----Sheet Arrow-----*/
input.sheet-arrow {
    float: left;
}

div.sheet-body {
    display: none;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}

/* ----Hide actual sheet-arrow checkbox---- */

input.sheet-arrow[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/*-----Fake sheet-arrow checkbox-----*/

input.sheet-arrow[type="checkbox"] + span::before
{
    color:white;
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
}
input.sheet-arrow[type="checkbox"]:checked + span::before
{
    color:white;
    content: "▼";
}

    /*-----sheet select-----*/

.sheet-select {
    margin-bottom: 0
    color: #89E799;
    font-weight: bold;
    font-size:0.8em;
    text-align: center;
    background: #89E799;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
    width: 120px;
    margin: 5px;
}
    /*-----text-----*/

h5 {
    color: #89E799;
    font-weight: bold;
}

th {
    text-shadow: 0px 0px 10px black;
    color:black;
}

h4 {
    color: #89E799;
    font-weight: bold;
    text-align: center;
    background: #114C12;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
    margin: 5px;
}

h3 {
    color: #89E799;
    font-weight: bold;
    text-align: center;
    background: #114C12;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
    margin: 5px;
}

h2 {
    text-shadow: 0px 0px 20px black;
    color:black;
}

{
    text-shadow: 0px 0px 10px black;
    color:black;
}

.sheet-center {
    text-align: center
}

.sheet-left {
    text-align: left
}

.sheet-right {
    text-align: right
}

.sheet-thin {
    font-weight: none;
    font-size: 0.6em
}

/*-----textarea-----*/

table.sheet-center {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    
    color: #89E799;
    font-weight: bold;
    text-align: center;
    background: #114C12;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
}

table.sheet-center td, th {
    padding: 5px;
}


/*--------------Big Checkbox--------------*/

/* ----Hide actual sheet-arrow checkbox---- */
input.sheet-bigcheck[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake sheet-arrow checkbox---- */
input.sheet-bigcheck[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #89E799;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #114C12;
    background: -moz-radial-gradient(#114C12, #89E799);
    background: -webkit-radial-gradient(#114C12, #89E799);
    background: -ms-radial-gradient(#114C12, #89E799);
    background: -o-radial-gradient(#114C12, #89E799);
    background: radial-gradient(#114C12, #89E799);
}

input.sheet-bigcheck[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input.sheet-bigcheck[type="checkbox"]:checked + span::before
{
    color: red;
    content: "X";
}

/*-----Hidden-----*/
.sheet-hidden {
    display:block;
}

/*--------------Round checkbox--------------*/

/* ----Hide actual roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* ----Fake roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"] + span::before
{
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px 20px 20px 20px;

    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    -moz-border-radius:  20px 20px 20px 20px;
    -webkit-border-radius:  20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

input.sheet-roundcheck[type="checkbox"] + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
input.sheet-roundcheck[type="checkbox"]:checked + span::before
{
    color: red;
    font-size: 1em;
    content: "✓";
}

.sheet-text_left {
    color: #89E799;
    font-weight: bold;
    text-align: right;
    background: #114C12;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
    width: 120px;
    margin: 5px;
}

.sheet-text_center {
    color: #89E799;
    font-weight: bold;
    text-align: center;
    background: #114C12;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
    width: 120px;
    margin: 5px;
}

.sheet-text_right {
    color: #114C12;
    font-weight: bold;
    text-align: left;
    background: #89E799;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
}

textarea {
    height: 30px;
    color: #114C12;
    font-weight: bold;
    text-align: left;
    background: #89E799;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
    width: 120px;
    margin: 5px;
}

.sheet-number {
    height: 30px;
    color: #114C12;
    font-weight: bold;
    text-align: center;
    background: #89E799;
    border: 1px solid #89E799; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px #114C12;
}
/*----Sheet Skill Button----*/

.sheet-skill_button {
  background: #ff000d;
  background-image: -webkit-linear-gradient(top, #89E799, #114C12);
  background-image: -moz-linear-gradient(top, #89E799, #114C12);
  background-image: -ms-linear-gradient(top, #89E799, #114C12);
  background-image: -o-linear-gradient(top, #89E799, #114C12);
  background-image: linear-gradient(to bottom, #89E799, #114C12);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  color: #00FF00;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}

.sheet-skill_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #114C12, #89E799);
  background-image: -moz-linear-gradient(top, #114C12, #89E799);
  background-image: -ms-linear-gradient(top, #114C12, #89E799);
  background-image: -o-linear-gradient(top, #114C12, #89E799);
  background-image: linear-gradient(to bottom, #114C12, #89E799);
  text-decoration: none;
}

/*----removing spinner on numbers----*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}
