/*-----background-----*/

.charsheet {
    background-image: url("https://i.pinimg.com/originals/58/c0/0e/58c00e59a0d5c4d155635b4971adec05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sheet-clear {
    background: none;
}

/*-----tabs-----*/

input.sheet-tab1:not(:checked) ~ .sheet-tab1,
input.sheet-tab2:not(:checked) ~ .sheet-tab2,
input.sheet-tab3:not(:checked) ~ .sheet-tab3,
input.sheet-tab4:not(:checked) ~ .sheet-tab4,
input.sheet-tab5:not(:checked) ~ .sheet-tab5,
input.sheet-tab6:not(:checked) ~ .sheet-tab6 {
    display: none;
}

input.sheet-tab {
    width: calc(16% - 4px);
    max-width: 160px;
    height: 24px;
    outline: none !important;
    position: relative;
    cursor: pointer;
    z-index: 1;
    margin-right: 1px;
}

input.sheet-tab1 {
    margin-left: 1px;
}

input.sheet-tab::before {
    content: attr(title);
    display: inline-block;
    color: #89E799;
    background: #114C12;
    border: solid 1px #89E799;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 24px;
}

input.sheet-tab:checked::before {
    color: #114C12;
    background: #89E799;
}

.sheet-tab-br {
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 5px;
    margin-top: 1px;
}

/*-----Sheet Arrow-----*/

input.sheet-arrow {
    float: left;
}

div.sheet-body {
    display: none;
}

input.sheet-arrow:checked ~ div.sheet-body {
    display: block;
}

/* ----Hide actual sheet-arrow checkbox---- */

input.sheet-arrow[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/*-----Fake sheet-arrow checkbox-----*/

input.sheet-arrow[type="checkbox"] + span::before {
    color: white;
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    content: "►";
    width: 14px;
    height: 14px;
    font-size: 12px;
}

input.sheet-arrow[type="checkbox"]:checked + span::before {
    color: white;
    content: "▼";
}

/*-----sheet select-----*/

.sheet-select {
    color: #114C12;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    background: #89E799;
    border: 1px solid #89E799;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #114C12;
    width: 120px;
    margin: 5px;
}

/*-----text-----*/

h5 {
    color: #89E799;
    font-weight: bold;
}

th {
    text-shadow: 0px 0px 10px black;
    color: black;
}

h4, h3 {
    color: #89E799;
    font-weight: bold;
    text-align: center;
    background: #114C12;
    border: 1px solid #89E799;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #114C12;
    margin: 5px;
}

h2 {
    text-shadow: 0px 0px 20px black;
    color: black;
}

.sheet-center {
    text-align: center;
}

.sheet-left {
    text-align: left;
}

.sheet-right {
    text-align: right;
}

.sheet-thin {
    font-weight: normal;
    font-size: 0.6em;
}

/*-----tables & textarea-----*/

table.sheet-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #89E799;
    font-weight: bold;
    background: #114C12;
    border: 1px solid #89E799;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #114C12;
}

table.sheet-center td, th {
    padding: 5px;
}

textarea {
    height: 4.5em;
    overflow: auto;
    resize: vertical;
    font-family: inherit;
    font-size: 0.9em;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #89E799;
    background-color: #1e3820;
    color: #89E799;
}


/*--------------Big Checkbox--------------*/

input.sheet-bigcheck[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-bigcheck[type="checkbox"] + span::before {
    content: "";
    margin-right: 4px;
    border: solid 1px #89E799;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #ccc;
    background: radial-gradient(#114C12, #89E799);
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 3px;
}

input.sheet-bigcheck[type="checkbox"]:checked + span::before {
    color: red;
    content: "X";
}

/*-----Hidden Utility-----*/

.sheet-hidden {
    display: block;
}

/*--------------Round checkbox--------------*/

input.sheet-roundcheck[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-roundcheck[type="checkbox"] + span::before {
    content: "";
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ccc;
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

input.sheet-roundcheck[type="checkbox"]:checked + span::before {
    color: red;
    font-size: 1em;
    content: "✓";
}

/*-----Text Alignment Blocks-----*/

.sheet-text_left {
    color: #89E799;
    font-weight: bold;
    text-align: right;
    background: #114C12;
    border: 1px solid #89E799;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #114C12;
    width: min(100%, 120px);
    margin: 5px;
}

.sheet-text_center {
    color: #89E799;
    font-weight: bold;
    text-align: center;
    background: #114C12;
    border: 1px solid #89E799;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #114C12;
    width: min(100%, 120px);
    margin: 5px;
}

.sheet-text_right {
    color: #114C12;
    font-weight: bold;
    text-align: left;
    background: #89E799;
    border: 1px solid #89E799;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #114C12;
}

/*-----Input & Textarea Styling Consistency-----*/

.sheet-number {
    height: 30px;
    color: #114C12;
    font-weight: bold;
    text-align: center;
    background: #89E799;
    border: 1px solid #89E799;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #114C12;
}

/*-----Skill Button-----*/

.sheet-skill_button {
    background: linear-gradient(to bottom, #89E799, #114C12);
    border-radius: 40px;
    color: #00FF00;
    font-size: 20px;
    padding: 10px 5px;
    text-decoration: none;
}

.sheet-skill_button:hover {
    background: linear-gradient(to bottom, #114C12, #89E799);
    text-decoration: none;
}

/*----Remove number spinner in Webkit browsers----*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
