section#add-abilities.add-abilities.long-2
  h1(data-i18n='additional abilities')
  +fieldset({name:'add-abilities'})
    .grid__3col.no-gap
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +div({class:'flex-box color-receiver center', style:'height:39px!important;'})
        span(style='width:39px!important; height:39px!important;').center
          +button({name:'use', class:'roll-d20 center col',
            value:"&{template:icon} {{name=@{name}}} {{character_name=@{class} Ability}} {{summary=@{info-b}}} {{info=@{info-a} &#11047;  @{info-c}}} {{effect=@{effects}}}"
          })
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'ability'})
      .color-selector
        +hidden({name:'class', class:'color-control', value:'inactive'})
        +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
          +option({value:'unique', 'data-i18n':'unique'})
          +option({value:'heavy', 'data-i18n':'heavy'})
          +option({value:'skirmisher', 'data-i18n':'skirmisher'})
          +option({value:'leader', 'data-i18n':'leader'})
          +option({value:'artillery', 'data-i18n':'artillery'})
          +option({value:'mob', 'data-i18n':'mob', selected:true})
    .grid___3col.half-gap.center
      +text({name:'info-a', class:'ability-info underlined capitalize right'})
      +text({name:'info-b', class:'ability-info underlined capitalize center', placeholder:'&#11047;'})
      +text({name:'info-c', class:'ability-info underlined capitalize left'})
    +textarea({name:'effects', class:'small textarea-5', 'data-i18n-placeholder':'ability effects'})
