section#add-abilities.add-abilities.long-2
  h1(data-i18n='additional abilities')
  +fieldset({name:'add-abilities'})
    .grid__3col.no-gap
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +div({class:'flex-box color-receiver center', style:'height:39px!important;'})
        span(style='width:39px!important; height:39px!important;').center
          +button({name:'quote', class:'quote center', type:'roll', trigger:{listenerFunc:'initiateRoll'}})
      +hidden({name:'class', class:'color-control', value:'inactive'})
      +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'ability'})
      .color-selector
        +hidden({name:'class', class:'color-control', value:'inactive'})
        +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
          +option({value:'general', 'data-i18n':'general'})
          +option({value:'stalwart', 'data-i18n':'stalwart'})
          +option({value:'vagabond', 'data-i18n':'vagabond'})
          +option({value:'mendicant', 'data-i18n':'mendicant'})
          +option({value:'wright', 'data-i18n':'wright'})
          +option({value:'inactive', 'data-i18n':'inactive', selected:true})
    .grid___3col.half-gap.center
      +text({name:'info-a', class:'ability-info underlined capitalize right'})
      +text({name:'info-b', class:'ability-info underlined capitalize center', placeholder:'&#11047;'})
      +text({name:'info-c', class:'ability-info underlined capitalize left'})
    +textarea({name:'effects', class:'small textarea-5', 'data-i18n-placeholder':'ability effects'})
