-
  const stats1 = [
    'hp', 
    'hp_max', 
    'def',
    'vit'
  ];
-
  const stats2 = [
    'spd',
    'dash',
    'dmg',
    'fray'
  ];
- 

section#npcs.npcs.span-all.top-margin
  h1(data-i18n='foes_allies')
  .repcol.npc
    +fieldset({name:'npc'})
      .grid__3col.no-gap
        +hidden({name:'class', class:'color-control', value:'mob'})
        +select({name:'chapter', class:'serif color-receiver center job-h1-receiver'})
          option(value="0")|—
          option(value="1")|Ⅰ
          option(value="2")|Ⅱ
          option(value="3")|Ⅲ
          option(value="4")|Ⅳ
        +hidden({name:'class', class:'color-control', value:'mob'})
        +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'npc_summon_foe'})
        .color-selector
          +hidden({name:'class', class:'color-control', value:'mob'})
          +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
            +option({value:'unique', 'data-i18n':'unique'})
            +option({value:'heavy', 'data-i18n':'heavy'})
            +option({value:'skirmisher', 'data-i18n':'skirmisher'})
            +option({value:'leader', 'data-i18n':'leader'})
            +option({value:'artillery', 'data-i18n':'artillery'})
            +option({value:'mob', 'data-i18n':'mob', selected:true})
      .character-details.boxed.well-padded
        +div({class:'grid__2col half-gap span-1', style:'position:relative; top:-8px;'})
          section#stats.npc.half-gap
            each name in stats1
              +input-label({
                  label:`${name}`,
                  inputObj:{name, class:'info-label underlined', type:'number', style:'min-width:80px;'}, 
                  spanObj:{role:'heading', 'aria-level':5, class:'smallcaps'},
                  divObj:{style:'width:50%;'}
                })
          section#stats.npc.half-gap
            each name in stats2
              if name === 'dmg'
                .chapter-select
                  +label({class:'input-label', style:'height:26px;'})
                    +span({class:'smallcaps input-label__text', 'data-i18n':`${name}`, role:'heading', 'aria-level':5})
                    +select({name:'damage', class:'input-label__input underlined chapter-select damage-die'})
                      +option({value:'2'})|d2
                      +option({value:'4', selected:true})|d4
                      +option({value:'6'})|d6
                      +option({value:'8'})|d8
                      +option({value:'10'})|d10
                      +option({value:'12'})|d12
              else
                +input-label({
                  label:`${name}`,
                  inputObj:{name, class:'info-label underlined', type:'number', style:'min-width:80px;', value:'1'}, 
                  spanObj:{role:'heading', 'aria-level':5, class:'smallcaps'},
                  divObj:{style:'width:50%;'}
                })
      +textarea({name:'description', class:'serif emph textarea-3', 'data-i18n-placeholder':'creature description or powers', spellcheck:'false'})
      .grid___3col.half-gap.center
        +text({name:'info-a', class:'ability-info underlined capitalize right'})
        +text({name:'info-b', class:'ability-info underlined capitalize center', placeholder:'&#11047;'})
        +text({name:'info-c', class:'ability-info underlined capitalize left'})
      +textarea({name:'abilities', class:'textarea-4', 'data-i18n-placeholder':'ability text'})
      .grid__4col.half-gap
          .grid__2col
            p(class="capitalize mono bold relative", 'data-i18n'="whisper", style="left: 15px; bottom: -5px;")
            +checkbox({name:'whisper', class:'checkbox whisper orange tick', value:'/w gm'})
          +button({name:'quote', class:'relative smallcaps die', style:'bottom:3px;', type:'roll', role:'heading', 'aria-level':4,'data-i18n':'quote',
            value:'@{whisper} &{template:icon} {{name=@{name}}} {{character_name=@{class} (Ch. @{chapter})}} {{description=@{description}}} {{summary=@{info-b}}} {{info=@{info-a} &#11047;  @{info-c}}} {{effect=@{abilities}}} {{talent=@{additional}}}'
          })
          +button({name:'save', class:'relative smallcaps die', style:'bottom:3px;', type:'roll', role:'heading', 'aria-level':4,'data-i18n':'save',
            value:'@{whisper} &{template:icon} {{name=@{name}}} {{character_name=@{class} (Ch. @{chapter})}} {{roll_name=Save}} {{roll=[[1d20@{boons}]]}} {{target=@{save_target}}}'
          })
          +button({name:'attack', class:'relative smallcaps die', style:'bottom:3px;', type:'roll', role:'heading', 'aria-level':4,'data-i18n':'attack',
            value:'@{whisper} &{template:icon} {{name=@{name}}} {{character_name=@{class} (Ch. @{chapter})}} {{roll_name=Attack}} {{roll=[[1d20@{boons}]]}} {{range=[[?{Range|1}]]}} {{damage=[[?{Light / Heavy|Light,1d@{damage}+@{fray}|Heavy,@{ratio_heavy}d@{damage}+@{fray}}]]}} {{bonus_damage=[[0]]}} {{crit_damage=[[1d@{damage}]]}} {{miss_damage=[[@{fray}]]}}'
          })
      +collapse
      .grid__2col.half-gap.notes.expanded
        .flex-box.boxed.well-padded.center.span-2
          +textarea({name:'additional', class:'textarea-4', 'data-i18n-placeholder':'additional notes or abilities'})
        .grid__2col.center
          +number({name:'number', class:'h3-style-input underlined'})
          p(class='colon')
        +text({name:'resource', class:'h3-style-input underlined short-text', style:'min-width:40px;'})