div.sheet-ironsworn-mode ${require('../../components/character-details/details.html')}
div.sheet-ironsworn-mode ${require('../../components/character-details/stats.html')}
div.sheet-ironsworn-mode ${require('../../components/character-details/debilities.html')}
div.sheet-ironsworn-mode ${require('../../components/character-details/momentum.html')}