div.sheet-ironsworn-mode ${require('../../components/character-details/details.html')}
div.sheet-ironsworn-mode ${require('../../components/nav/ironsworn-pages.html')}
div.sheet-ironsworn-mode ${require('../../components/character-details/momentum.html')}