input(type="radio" name="attr_mode" class="sheet-hidden-flex sheet-ironsworn-index")
div.sheet-ironsworn-index.sheet-hidden-flex
  //- Header
  div.sheet-ironsworn-mode <%= require('html-loader!../../components/character-details/details.html') %>

  //- Left Bar
  div.sheet-ironsworn-mode <%= require('html-loader!../../components/nav/ironsworn-pages.html') %>

  //- Pages
  div.sheet-ironsworn-mode <%= require('html-loader!./assets.html') %>
  div.sheet-ironsworn-mode <%= require('html-loader!./bonds.html') %>
  div.sheet-ironsworn-mode <%= require('html-loader!./moves.html') %>
  div.sheet-ironsworn-mode <%= require('html-loader!./oracles.html') %>
  div.sheet-ironsworn-mode <%= require('html-loader!./progress.html') %>
  div.sheet-ironsworn-mode <%= require('html-loader!./summary.html') %>
  div.sheet-ironsworn-mode <%= require('html-loader!./vows.html') %>

  //- Right Bar
  div.sheet-ironsworn-mode <%= require('html-loader!../../components/nav/ironsworn-bar.html') %>

  //- Footer
  div.sheet-ironsworn-mode <%= require('html-loader!../../components/character-details/momentum.html') %>