//- Header
div.sheet-delve-mode ${require('../../components/character-details/details.html')}

//- Nav Bars
div.sheet-delve-mode ${require('../../components/nav/delve-pages.html')}
div.sheet-delve-mode ${require('../../components/nav/delve-bar.html')}

//- Pages
div.sheet-delve-mode

//- Momentum Footer
div.sheet-delve-mode ${require('../../components/character-details/momentum.html')}
