mixin bondsAssets
  input.asset-bonds.hide(type='checkbox' name='attr_assetbonds')
  .asset-bonds.showhide
    select.sub-dropdown(name='attr_assetdropdownbonds')
      option(value='' disabled='' selected='') Select
      option(value='secret') A Secret
      option(value='promise') A Promise
      option(value='favor') A Favor

    input.secret.hide(type='checkbox' name='attr_assetbondsdivsecret')
    .secret.hide
      .asset-description
        .asset-write-in
          | Entrusted by:
          input.border-bottom.no-border(type='text' name='attr_asset_name' value='')
        .asset-description-text Someone has told you a secret.
        .asset-description-text What is it?
      .flex-wrapper
        textarea.border-bottom.no-border(type='text' name='attr_asset_text' value='')
        .asset-description-text <strong>Reveal the secret:</strong> When you <em>Compel</em> or <em>Gather Information</em> and reveal this information or use it as leverage, add +1. Then take -1 to the Primary Link with whom entrusted the secret to you. 
    
    input.promise.hide(type='checkbox' name='attr_assetbondsdivpromise')
    .promise.hide
      .asset-description
        .asset-write-in
          | To:
          input.border-bottom.no-border(type='text' name='attr_asset_name' value='')
        .asset-description-text You agreed to uphold some value.
        .asset-description-text What is it?
      .flex-wrapper
        textarea.border-bottom.no-border(type='text' name='attr_asset_text' value='')
        .asset-description-text.sheet-asset-margin Take +1 bond reset with whom the promise is shared with, as long as you retain this asset.
        .asset-description-text If the promise is broken. Lose this asset and <em>Test Your Relationship</em>, with whom the promise was made to.
    
    input.favor.hide(type='checkbox' name='attr_assetbondsdivfavor')
    .favor.hide
      .asset-description
        .asset-write-in
          | From:
          input.border-bottom.no-border(type='text' name='attr_asset_name' value='')
      .flex-wrapper
        .asset-description-text.sheet-asset-margin This asset can be traded in to give you +1 Add to any roll, where the person linked to it is aiding you.
        .asset-description-text On a <strong>miss</strong> the person is also exposed the negative outcome. Envison how (or <em>Ask the Oracle</em> if unsure), take -1 to their Primary Link and sufffer -1 spirit.
            