-
    var quetesEso = [
        "Arcadia",
        "Arcane XXI",
        "Arche d'Alliance",
        "Atalante Fugitive",
        "Champs Polemoka",
        "Cité des Vertiges",
        "Exode Sidéral",
        "Hyperborée",
        "Jérusalem Céleste",
        "Le Sentier d'Or",
        "Porte Noire",
        "Quête du Graal",
        "Rex Mundi",
        "Table d'Émeraude",
        "Toison d'Or",
        "Trésor des Templiers",
    ]

-
    var savoirsEso = [
        "666",
        "Akasha",
        "Ar-Kaim",
        "Arcanes Majeurs",
        "Architectonique",
        "Bohémiens",
        "Champs Magiques",
        "Cousins",
        "Drakaon",
        "Effets-Dragons",
        "Histoire Invisible",
        "Kaim",
        "Lune Noire",
        "Mystères",
        "Nephilim",
        "Orichalque",
        "Révélation",
        "Rose+Croix",
        "Sciences Occultes",
        "Selenim",
        "Synarchie",
        "Templiers"
    ]