@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.character-sheet {
    font-family: 'Cinzel', serif;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.7);
    width: 900px;
    border: 2px solid #ff8c00;
    position: relative;
    color: #fff;
    margin: 0 auto;
}

.character-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-with-text-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.input-with-text-below input {
    width: 200px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.input-with-text-below span {
    color: #ff8c00;
    font-size: 18px;
    font-weight: bold;
}

.xp-container {
    display: flex;
    align-items: center;
    color: #ff8c00;
}

.xp-container label {
    margin-right: 5px;
}

.xp-container input {
    width: 50px;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 16px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

h2 {
    margin-top: 0;
    color: #ff8c00;
    font-size: 24px;
    text-align: center;
}

textarea, input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.attribute-split {
    display: flex;
    align-items: center;
}

.attribute-split input {
    width: 50px;
    margin: 0;
}

.attribute-split span {
    margin: 0 5px;
    font-size: 18px;
    font-weight: bold;
    color: #ff8c00;
}

button {
    width: calc(100% - 20px);
    padding: 15px;
    background-color: #000;
    color: #ff8c00;
    border: 2px solid #ff8c00;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}

button:hover {
    background-color: #333;
}

.attribute {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-title-attribute {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #ff8c00;
    border: 2px solid #ff8c00;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.fake-mod {
    width: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

label {
    color: #ff8c00;
    font-size: 18px;
    font-weight: bold;
}

input[type="number"] {
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
