-
  data.character.dicetray = {
    hidden: [],
    actions: [
      { name: 'roll-character', label: 'Roll!', type: 'action', blockName: 'dicetray' },
      { name: 'roll-character-trick', label: 'Do a Trick!', type: 'action', blockName: 'dicetray' },
    ],
    fields: [
      {
        name: 'dicetray_boosts',
        label: 'Boost',
        type: 'number',
        min: 0,
        span: 6,
        blockName: 'dicetray',
      },
      {
        name: 'dicetray_kicks',
        label: 'Kick',
        type: 'number',
        min: 0,
        span: 6,
        blockName: 'dicetray',
      },
      {
        name: 'dicetray_dare',
        label: 'Dare',
        options: [
          { name: 'choose_dare', text: 'choose dare...', selected: true },
          { name: 'plus_1d6', text: '+1d6' },
          { name: 'plus_kick', text: '1 kick' },
          { name: 'clear_trouble', text: 'clear 1 trouble' },
        ],
        type: 'select',
        blockName: 'dicetray',
      },
    ],
  };
