-
  const downtimeBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{downtime}}}',
    '{{^{downtime_name}=@{downtime_name}}}',
    '{{^{downtime_cost}=@{downtime_cost}}}',
    '{{^{downtime_description}=@{downtime_description}}}',
    '{{^{downtime_result}=@{downtime_result}}}',
  ].join(' ');

  data.character.downtime = {
    sections: [
      { name: 'trait-beats', title: 'Trait Beats' },
      { name: 'personality-arc', title: 'Personality Arc' },
      { name: 'family-arc', title: 'Family Arc' },
      { name: 'angst-arc', title: 'Angst Arc' },
      { name: 'crew-beats', title: 'Crew Beats' },
      { name: 'other-beats', title: 'Other Beats' },
    ],
    beats: {
      'trait-beats': [
        { name: "just_vibin", label: "Just Vibin' (2 style)", type: 'checkbox', blockName: 'beats beats--chill' },
        { name: "grinding", label: "Grinding' (2 style)", type: 'checkbox', blockName: 'beats beats--grit' },
        { name: "swagger", label: "Swagger (2 style)", type: 'checkbox', blockName: 'beats beats--guts' },
        { name: "devotion", label: "Devotion (2 style)", type: 'checkbox', blockName: 'beats beats--heart' },
        { name: "research", label: "Research (2 style)", type: 'checkbox', blockName: 'beats beats--smarts' },
        { name: "custom_trait_beat", label: "Custom Trait Beat", placeholder: "Custom Trait Beat", type: 'text', blockName: 'beats beats--custom' },
        { name: "origin_story", label: "Origin Story (3 style)", title: "A flashback that shows a defining moment from your past. +1 trait.", type: 'checkbox', blockName: 'beats' },
        { name: "sharpened", label: "Sharpened (4 style)", title: "A teammate inspires you or shows you something about yourself. +1 trait.", type: 'checkbox', blockName: 'beats' },
      ],
      'personality-arc': [
        { name: "caught_in_a_plot", label: "Caught in a Plot (2 style)", type: 'checkbox', blockName: 'beats beats--chill' },
        { name: "serendipity", label: "Serendipity (1 style)", type: 'checkbox', blockName: 'beats beats--chill' },
        { name: "in_too_deep", label: "In Too Deep (4 trouble)", type: 'checkbox', blockName: 'beats beats--chill' },
        { name: "somehow_works_out", label: "Somehow Works Out (3 style)", type: 'checkbox', blockName: 'beats beats--chill' },
        { name: "a_goal", label: "A Goal (1 style)", type: 'checkbox', blockName: 'beats beats--grit' },
        { name: "setbacks", label: "Setbacks (2 style)", type: 'checkbox', blockName: 'beats beats--grit' },
        { name: "quitting", label: "Quitting (4 trouble)", type: 'checkbox', blockName: 'beats beats--grit' },
        { name: "perseverance", label: "Perseverance (3 style)", type: 'checkbox', blockName: 'beats beats--grit' },
        { name: "spotlight", label: "Spotlight (3 style)", type: 'checkbox', blockName: 'beats beats--guts' },
        { name: "star_power", label: "Star Power (2 style)", type: 'checkbox', blockName: 'beats beats--guts' },
        { name: "going_solo", label: "Going Solo (4 trouble)", type: 'checkbox', blockName: 'beats beats--guts' },
        { name: "the_i_in_team", label: "The I in Team (1 style)", type: 'checkbox', blockName: 'beats beats--guts' },
        { name: "dalliance", label: "Dalliance (2 style)", type: 'checkbox', blockName: 'beats beats--heart' },
        { name: "catching_feelings", label: "Catching Feelings (1 style)", type: 'checkbox', blockName: 'beats beats--heart' },
        { name: "us_or_them", label: "Us or Them (4 trouble)", type: 'checkbox', blockName: 'beats beats--heart' },
        { name: "love_conquers_all", label: "Love Conquers All (3 style)", type: 'checkbox', blockName: 'beats beats--heart' },
        { name: "inspiration", label: "Inspiration (1 style)", type: 'checkbox', blockName: 'beats beats--smarts' },
        { name: "results", label: "Results (2 style)", type: 'checkbox', blockName: 'beats beats--smarts' },
        { name: "unintended_consequences", label: "Unintended Consequences (4 trouble)", type: 'checkbox', blockName: 'beats beats--smarts' },
        { name: "full_realization", label: "Full Realization (3 style)", type: 'checkbox', blockName: 'beats beats--smarts' },
        { name: "custom_personality_arc_1", placeholder: "Custom Personality Arc", type: 'text', blockName: 'beats beats--custom' },
        { name: "custom_personality_arc_2", placeholder: "Custom Personality Arc", type: 'text', blockName: 'beats beats--custom' },
        { name: "custom_personality_arc_3", placeholder: "Custom Personality Arc", type: 'text', blockName: 'beats beats--custom' },
        { name: "custom_personality_arc_4", placeholder: "Custom Personality Arc", type: 'text', blockName: 'beats beats--custom' },
      ],
      'family-arc': [
        { name: "trouble_at_home", label: "Trouble at Home (2 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "final_warning", label: "Final Warning (3 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "last_straw", label: "Last Straw (4 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "redemption", label: "Redemption (4 style)", type: 'checkbox', blockName: 'beats' },
      ],
      'angst-arc': [
        { name: "angst", label: "Angst (2 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "struggling", label: "Struggling (3 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "darkness", label: "Darkness (4 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "catharsis", label: "Catharsis (4 style)", type: 'checkbox', blockName: 'beats' },
      ],
      'crew-beats': [
        { name: "opportunity", label: "Opportunity (2 style)", type: 'checkbox', blockName: 'beats' },
        { name: "challenge", label: "Challenge (5 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "fight", label: "Fight (5 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "make_up", label: "Make Up (5 style)", type: 'checkbox', blockName: 'beats' },
      ],
      'other-beats': [
        { name: "being_good", label: "Being Good (1 style)", type: 'checkbox', blockName: 'beats' },
        { name: "you_earned_it", label: "You Earned It (5 style)", type: 'checkbox', blockName: 'beats' },
        { name: "take_an_l", label: "Take an L (5 trouble)", type: 'checkbox', blockName: 'beats' },
        { name: "in_the_lab", label: "In the Lab (1 style)", type: 'checkbox', blockName: 'beats' },
        { name: "portal_discovery", label: "Portal Discovery (2 style)", type: 'checkbox', blockName: 'beats' },
      ],
    },
    broadcast: downtimeBroadcast,
    repeating: [
      { name: 'downtime_check', label: 'Check', placeholder: 'Check', type: 'checkbox', span: 1, blockName: 'downtime' },
      { name: 'downtime_name', label: 'Name', placeholder: 'Name', type: 'text', span: 11, blockName: 'downtime' },
      { name: 'downtime_cost', label: 'Cost', placeholder: 'Cost', type: 'text', blockName: 'downtime' },
      { name: 'downtime_description', label: 'Description', placeholder: 'Description', type: 'textarea', blockName: 'downtime', },
      { name: 'downtime_result', label: 'Result', placeholder: 'Result', type: 'text', blockName: 'downtime', },
    ],
  }
