-
  const gearBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{gear}}}',
    '{{^{gear_name}=@{gear_name}}}',
    '{{^{gear_cost}=@{gear_cost}}}',
    '{{^{gear_description}=@{gear_description}}}',
  ].join(' ');

  data.character.gear = {
    phone: {
      name: 'your_phone',
      label: 'Your Phone',
      placeholder: 'touch-screen, stylus, keypad, scrollwheel, etc.',
      type: 'text',
      blockName: 'gear',
    },
    board: {
      name: 'your_board',
      label: 'Your Board',
      placeholder: 'street deck with hologram griptape',
      type: 'text',
      blockName: 'gear',
    },
    raygun: {
      name: 'your_raygun',
      label: 'Your Raygun',
      placeholder: 'circuit-bent photon pistol',
      type: 'text',
      blockName: 'gear',
    },
    hidden: [{ name: 'gear_autogen', type: 'hidden', blockName: 'gear' }],
    broadcast: gearBroadcast,
    repeating: [
      { name: 'gear_check', label: 'Select Gear', type: 'checkbox', span: 1, blockName: 'gear' },
      {
        name: 'gear_name',
        label: 'Gear',
        placeholder: 'grappling hook',
        type: 'text',
        span: 11,
        blockName: 'gear',
      },
      { name: 'gear_cost', label: 'Cost', placeholder: '1 coil', type: 'text', blockName: 'gear' },
      {
        name: 'gear_description',
        label: 'Description',
        placeholder:
          'A pistol-sized launcher that fires an anti-negafriction dart which sticks firmly to most surfaces until switched off. The dart is attached to a hundred feet of lightweight carbon-fibre cable, which can be retracted via the launcher’s micro-winch.',
        type: 'textarea',
        blockName: 'gear',
      },
    ],
  };
