-
  const modsBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{mods}}}',
    '{{^{mod_name}=@{mod_name}}}',
    '{{^{mod_cost}=@{mod_cost}}}',
    '{{^{mod_description}=@{mod_description}}}',
  ].join(' ');

  data.signature = {
    signatures: [
      "gravity_blaster",
      "hardlight_board",
      "hyperoptic_visor",
      "kinetic_deck",
      "negafriction_sword",
      "photonic_jacket",
      "powered_armour",
      "reality_cannon",
      "riftninja_sneakers",
      "robotic_companion",
      "skipmode_runners",
      "voidwear_backpack",
    ],
    hidden: ["signature"],
    signature: {
      name: "signature",
      dynamic: true,
      blockName: "signatures",
    },
    custom: {
      name: "signature_custom",
      label: "Custom signature",
      placeholder: "Custom signature",
      type: "text",
      blockName: "signatures",
    },
    fields: [
      {
        name: "signature",
        label: "signature",
        placeholder: "Signature",
        options: [
          { name: "select_signature", text: "Pick Your Signature" },
          { name: "gravity_blaster", text: "Gravity Blaster" },
          { name: "hardlight_board", text: "Hardlight Board" },
          { name: "hyperoptic_visor", text: "Hyperoptic Visor" },
          { name: "kinetic_deck", text: "Kinetic Deck" },
          { name: "negafriction_sword", text: "Negafriction Sword" },
          { name: "photonic_jacket", text: "Photonic Jacket" },
          { name: "powered_armour", text: "Powered Armour" },
          { name: "reality_cannon", text: "Reality Cannon" },
          { name: "riftninja_sneakers", text: "Riftninja Sneakers" },
          { name: "robotic_companion", text: "Robotic Companion" },
          { name: "skipmode_runners", text: "Skipmode Runners" },
          { name: "voidwear_backpack", text: "Voidwear Backpack" },
          { name: "custom", text: "Custom" },
        ],
        type: "select",
        blockName: "header",
      },
      {
        name: "signature_description",
        label: "Description",
        placeholder:
          "Negafriction is just what it sounds like: complete nonsense.",
        type: "textarea",
        blockName: "signatures",
      },
      {
        name: "signature_function",
        label: "Function",
        placeholder:
          "Roll to slice, dice, chop, and stab things (or nonlethally smack them with the kinetically-charged sheath).",
        type: "textarea",
        blockName: "signatures",
      },
      {
        name: "signature_look",
        label: "Look",
        placeholder: "hardlight katana",
        type: "text",
        blockName: "signatures",
      },
    ],
    turbo: {
      fields: [
        {
          name: "turbo_boost",
          label: "Turbo Boost",
          type: "hidden",
          blockName: "turbo",
        },
        {
          name: "turbo_kick",
          label: "Turbo Kick",
          type: "hidden",
          blockName: "turbo",
        },
      ],
    },
    mods: {
      hidden: [{ name: "mod_autogen", type: "hidden", blockName: "mod" }],
      fields: [
        {
          name: "turbo_boost",
          label: "Add +1 boost",
          type: "checkbox",
          blockName: "mods",
        },
        {
          name: "turbo_kick",
          label: "Add +1 kick",
          type: "checkbox",
          blockName: "mods",
        },
      ],
      broadcast: modsBroadcast,
      repeating: [
        {
          name: "mod_check",
          label: "Select mod",
          type: "checkbox",
          span: 1,
          blockName: "mods",
        },
        {
          name: "mod_name",
          label: "mod",
          placeholder: "Slip Rattle",
          type: "text",
          span: 11,
          blockName: "mods",
        },
        {
          name: "mod_cost",
          label: "Cost",
          placeholder: "1 coil, 1 disc",
          type: "text",
          blockName: "mods",
        },
        {
          name: "mod_description",
          label: "Description",
          placeholder:
            "Roll to teleport in-universe by slicing spacetime. If you can’t see your destination, potential problems are worse.",
          type: "textarea",
          blockName: "mods",
        },
      ],
    },
    components: [
      {
        name: "lenses",
        label: "Lenses",
        type: "radio",
        blockName: "components",
      },
      {
        name: "coils",
        label: "Coils",
        type: "radio",
        blockName: "components",
      },
      {
        name: "discs",
        label: "Discs",
        type: "radio",
        blockName: "components",
      },
      {
        name: "gems",
        label: "Gems",
        type: "radio",
        blockName: "components"
      },
    ],
  };
