-
  const slamsBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{slams}}}',
    '{{^{slam_1}=@{slam_1}}}',
    '{{^{slam_2}=@{slam_2}}}',
    '{{^{slam_3}=@{slam_3}}}',
  ].join(' ');

  data.character.slams = {
    broadcast: slamsBroadcast,
    fields: [
      {
        name: 'slam_1',
        label: 'Super Slam',
        placeholder: 'super bruised ribs',
        type: 'text',
        blockName: 'slams',
      },
      {
        name: 'slam_2',
        label: 'Slam 1',
        placeholder: 'frustrated',
        type: 'text',
        blockName: 'slams',
      },
      { name: 'slam_3', label: 'Slam 2', placeholder: 'slimed', type: 'text', blockName: 'slams' },
    ],
  };
