-
  const traitsBroadcast = [
    '&{template:slugcast}',
    '{{character=@{character_name}}}',
    '{{title=^{traits}}}',
    '{{^{trait_name}=@{trait_name}}}',
    '{{^{trait_description}=@{trait_description}}}',
  ].join(' ');

  data.character.traits = {
    hidden: [{ name: 'trait_autogen', type: 'hidden', blockName: 'traits' }],
    broadcast: traitsBroadcast,
    repeating: [
      {
        name: 'trait_check',
        label: 'Select trait',
        type: 'checkbox',
        span: 1,
        blockName: 'traits',
      },
      {
        name: 'trait_name',
        label: 'trait',
        placeholder: 'Patient',
        type: 'text',
        span: 11,
        blockName: 'traits',
      },
      {
        name: 'trait_description',
        label: 'Description',
        placeholder:
          'When you reveal how you’ve been waiting to act, get +1d6 or +1 kick on your action.',
        type: 'textarea',
        blockName: 'traits',
      },
    ],
  };
