<div class="table-row">
    <div class="table-cell-skill-name"><span class="red" data-i18n="empty">&nbsp;</span></div>
    <div class="table-cell"><span class="red" data-i18n="basis">Basis</span></div>
    <div class="table-cell"><span class="red" data-i18n="mod">Mod</span></div>
    <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
    <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
    <div class="table-cell-skill-name"><span class="red" data-i18n="rolls">Würfe</span></div>
</div>