<select class="first last" name="attr_<%= attr %>" value="" >
                                    <option value="" selected></option>
                                    <option value="allmod" data-i18n="allmod"></option>
                                    <option value="body_statusmodifier" data-i18n="body">body</option>
                                    <option value="agility_statusmodifier" data-i18n="agility">agility</option>
                                    <option value="reaction_statusmodifier" data-i18n="reaction">reaction</option>
                                    <option value="strength_statusmodifier" data-i18n="strength">strength</option>
                                    <option value="willpower_statusmodifier" data-i18n="willpower">willpower</option>
                                    <option value="logic_statusmodifier" data-i18n="logic">logic</option>
                                    <option value="intuition_statusmodifier" data-i18n="intuition">intuition</option>
                                    <option value="charisma_statusmodifier" data-i18n="charisma">charisma</option>
                                    <option value="edge_statusmodifier" data-i18n="edge">edge</option>
                                    <option value="composure_statusmodifier" data-i18n="composure">composure</option>
                                    <option value="soak_statusmodifier" data-i18n="soak">soak</option>
                                    <option value="soakstun_statusmodifier" data-i18n="soakstun">soak</option>
                                    <option value="phys_monitor_shift" data-i18n="phys_monitor_shift"></option>
                                    <option value="stun_monitor_shift" data-i18n="stun_monitor_shift"></option>
                                    <option value="wounds_mod" data-i18n="wounds">wounds</option>
                                    <option value="defence_statusmodifier" data-i18n="defense_rating"></option>
                                    <option value="sustain_mod2" data-i18n="sustain"></option>
                                    <option value="judgeintent_statusmodifier" data-i18n="judgeintent">judgeintent</option>
                                    <option value="memory_statusmodifier" data-i18n="memory">memory</option>
                                    <option value="liftcarry_statusmodifier" data-i18n="liftcarry">liftcarry</option>
                                    <option value="ini_statusmodifier" data-i18n="ini">ini</option>
                                    <option value="inidice_statusmodifier" data-i18n="inidice">inidice</option>
                                    <option value="iniphys_statusmodifier" data-i18n="iniphys">iniphys</option>
                                    <option value="inidicematrix_statusmodifier" data-i18n="inidicematrix">inidicematrix</option>
                                    <option value="inimatrix_statusmodifier" data-i18n="inimatrix">inimatrix</option>
                                    <option value="iniastral_statusmodifier" data-i18n="iniastral">iniastral</option>
                                    <option value="skill_astral_statusmodifier" data-i18n="skill_astral">skill_astral</option>
                                    <option value="skill_athletics_statusmodifier" data-i18n="skill_athletics">skill_athletics</option>
                                    <option value="skill_biotech_statusmodifier" data-i18n="skill_biotech">skill_biotech</option>
                                    <option value="skill_cracking_statusmodifier" data-i18n="skill_cracking">skill_cracking</option>
                                    <option value="skill_influence_statusmodifier" data-i18n="skill_influence">skill_influence</option>
                                    <option value="skill_electronics_statusmodifier" data-i18n="skill_electronics">skill_electronics</option>
                                    <option value="skill_firearms_statusmodifier" data-i18n="skill_firearms">skill_firearms</option>
                                    <option value="skill_stealth_statusmodifier" data-i18n="skill_stealth">skill_stealth</option>
                                    <option value="skill_engineering_statusmodifier" data-i18n="skill_engineering">skill_engineering</option>
                                    <option value="skill_melee_statusmodifier" data-i18n="skill_melee">skill_melee</option>
                                    <option value="skill_outdoors_statusmodifier" data-i18n="skill_outdoors">skill_outdoors</option>
                                    <option value="skill_piloting_statusmodifier" data-i18n="skill_piloting">skill_piloting</option>
                                    <option value="skill_con_statusmodifier" data-i18n="skill_con">skill_con</option>
                                    <option value="skill_perception_statusmodifier" data-i18n="skill_perception">skill_perception</option>
                                    <option value="skill_conjuring_statusmodifier" data-i18n="skill_conjuring">skill_conjuring</option>
                                    <option value="skill_sorcery_statusmodifier" data-i18n="skill_sorcery">skill_sorcery</option>
                                    <option value="skill_enchanting_statusmodifier" data-i18n="skill_enchanting">skill_enchanting</option>
                                    <option value="skill_task_statusmodifier" data-i18n="skill_task">skill_task</option>
                                </select>