<div class='chardata'>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_personaldata" type="checkbox" value="1" checked />
            <h4> <span data-i18n="personaldata">PERSÖNLICHE DATEN</span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_personaldata" type="checkbox" value="1" checked />
    <div class="togglesection">
         <div class="table-row">
            <div class="table-cell-half">
                <div class="table-row">
                    <div class="table-cell-one-fifth pd--right"><span class="red" data-i18n="display_streetname">Straßenname</span></div>
                    <div class="table-cell-one-forth"><input class="adeptpowername first last" type="text" name="attr_character_name" value="" placeholder=""> </div>
                </div>   
                <div class="table-row">
                    <div class="table-cell-one-fifth pd--right"><span class="red" data-i18n="display_metatype">Metatyp</span></div>
                    <div class="table-cell-one-forth"><input class="adeptpowername first last" type="text" name="attr_metatyp" value="" placeholder=""> </div>
                </div>     
                <div class="table-row">
                    <div class="table-cell-one-fifth pd--right"><span class="red" data-i18n="display_gender">Geschlecht</span></div>
                    <div class="table-cell-one-forth"><input class="adeptpowername first last" type="text" name="attr_gender" value="" placeholder=""> </div>
                </div>     
                <div class="table-row">
                    <div class="table-cell-one-fifth pd--right"><span class="red" data-i18n="display_age">Alter</span></div>
                    <div class="table-cell-one-forth"><input class="smallinput first last" type="text" name="attr_age" value="" placeholder=""> </div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-fifth pd--right"><span class="red" data-i18n="display_heat">Fandungsstufe</span></div>
                    <div class="table-cell-one-forth"><input class="smallinput first last" type="text" name="attr_heat" value="" placeholder=""> </div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-fifth pd--right"><span class="red" data-i18n="display_Karma">karma</span></div>
                    <div class="table-cell-one-forth"><input class="smallinput first last" type="text" name="attr_karma" value="" placeholder=""> </div>
                </div> 
         
               <div class="table-row">
                    <div class="table-cell-one-fifth pd--right"><span class="red" data-i18n="cash">NewYen</span></div>
                    <div class="table-cell-one-forth"><input class="adeptpowername first" type="text" name="attr_cash" value="" placeholder=""> </div>
                    <div class="table-cell-one-fifth pd--right">
                        <select class="smallinput last" name="attr_cash_type" value="vorteil" >
                            <option value="euro" data-i18n="euro" selected></option>
                            <option value="newyen" data-i18n="newyen"></option>
                            </select>
                    </div>
                </div> 
            </div>
            <div class="table-cell-half">
                <div class="table-row">
                    <div class="table-cell-one-third pd--right"><span class="red" data-i18n="display_name">Name</span></div>
                    <div class="table-cell-one-forth"><input class="adeptpowername first last" type="text" name="attr_name" value="" placeholder=""> </div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-third pd--right"><span class="red" data-i18n="display_magictype">Magie/resonanz</span></div>
                    <div class="table-cell-one-forth"><input class="adeptpowername first last" type="text" name="attr_magictype" value="" placeholder=""> </div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-third pd--right"><span class="red" data-i18n="display_sizeweight">Größe/Gewicht</span></div>
                    <div class="table-cell-one-forth">
                        <input class="smallinput first"  type="text" name="attr_size" value="" placeholder=""><span data-i18n="display_sizeunit"></span>
                        <input class="smallinput  pd--left last" type="text" name="attr_weigth" value="" placeholder=""><span data-i18n="display_weigthunit"></span> </div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-third pd--right"><span class="red" data-i18n="display_essenz">essenz</span></div>
                    <div class="table-cell-skill-forth"><input class="smallinput first last" type="number" name="attr_essenz" value="6"  step="any" placeholder=""> 
                        <button class="iconbutton70 postbutton" type="roll" name="roll_essenz" value="@{gm_toggle} &{template:post}{{category=^{display_essenz}}}{{name=@{essenz}}}{{description=^{schwellenwert}: [[(5-floor(@{essenz}))d1]]}}">
                            <span class="red" title="" data-i18n="showinchat">showinchat</span>
                        </button>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-fifth"><span class="red" data-i18n="display_reputation">Ruf</span></div>
                    <div class="table-cell-one-forth"><input class="smallinput first last" type="text" name="attr_reputation" value="" placeholder=""> </div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-fifth"><span class="red" data-i18n="display_Karmatotal">karma gesammt</span></div>
                    <div class="table-cell-one-forth"><input class="smallinput first last" type="text" name="attr_karmatotal" value="" placeholder=""> </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_hidesins" type="checkbox" value="1"/>
            <h4> <span data-i18n="display_sins">Sins</span></h4>
        </label>
    </div>
   
    <input class="toggle-hide" name="attr_hidesins" type="checkbox" value="1"/>
    <div class="togglesection">
        <div class="table-row"> 
            <div class="table-row"> 

             <div class="table-cell-adept-name"><span class="red" data-i18n="name">Name</span>  </div>
              <div class="table-cell">  <span class="red" data-i18n="skill_level">Stufe</span></div>
            </div>
         <fieldset class="repeating_sins">
            <div class="table-row">
                <div class="table-cell-adept-name"><input class="adeptpowername first" type="text" name="attr_sin_name" value="" /> </div>   
                <div class="table-cell"> <input class="smallinput last" type="number" name="attr_sin_level" value=""/></div>
                <div class="table-cell"><input class="toggle-hide-not eye" name="attr_sin_hidefulltext" data-i18n-title="showdescription" type="checkbox" value="1"/></div>
                <div class="table-cell-skill-rolls">
                    <button class="iconbutton" type="roll" name="roll_sin" value="@{gm_toggle} &{template:roll}{{mainattribute=^{display_sins}}}{{secondattribute=@{sin_name}(@{sin_level})}}{{dicepool=[[@{sin_level}+@{sin_level}+@{allmod}+@{mod_roll}@{wilddiemod}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{sin_level}+@{sin_level}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{description=@{sin_desc}}}">
                    <span class="red" title="" data-i18n="roll">roll</span>
                </button> </div> 
            </div>
            <input class="toggle-hide" name="attr_sin_hidefulltext" type="checkbox" value="1"/>
            <div class ="togglesection">
                <div class="table-row">
                    <textarea  class="fulltextbox" type="text" name="attr_sin_desc" value="" data-i18n-placeholder="sindescplaceholder" placeholder="^{sindescplaceholder}"></textarea>
                </div>
            </div>
        </fieldset>
    </div>
    </div>

    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_perks_hide" type="checkbox" value="1"/>
            <h4> <span data-i18n="vorteilenachteile">Vorteile/Nachteile</span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_perks_hide" type="checkbox" value="1"/>
    <div class="togglesection flex-table">
        

            <div class="flexcontainer"> 
                <div class="flex--half"></div>
                <div class="flex--2"><span class="red" data-i18n="name"></span>  </div>
                <div class="flex-center pd--left">  <span class="red" data-i18n="type"></span></div>
                <div class="flex-center"> <span class="red" data-i18n="active"></span></div>  
                          
                <div class="flex-center"></div>   
                <div class="flex--2"></div>              
            </div>

            <fieldset class="repeating_perks">
                <input class="toggle-hide" name="attr_perks_hidefulltext" type="checkbox" value="1"/>
                <div class="flex-table collapseble">
                    <div class="flexcontainer">
                        <div class="flex--half">
                            <label class="collapse">
                                <input class="toggle-hide" name="attr_perks_hidefulltext" type="checkbox" value="1"/>
                                <h4 class="invert" data-i18n-title="expandcollapse"><span ></span></h4>
                            </label>
                        </div>
                        <div class="flex--2"><input class="adeptpowername first" type="text" name="attr_perks_name" value="" /> </div>   
                        <div class="flex-center pd--left"> <select class="attributedropdown last" name="attr_perks_type" value="vorteil" >
                            <option value="vorteil" data-i18n="vorteil" selected>vorteil</option>
                            <option value="nachteil" data-i18n="nachteil">nachteil</option>
                            </select>
                        </div>
                        <div class="flex-center">
                            <input  type="checkbox" data-i18n-title="active" name="attr_active" value="1">
                        </div>
                        <div class="flex-center"><button class="iconbutton postbutton" type="roll" name="roll_adeptpower" value="@{gm_toggle} &{template:post}{{category=^{vorteilenachteile}}}{{name=@{perks_name}}}{{description=^{@{perks_type}}\n\n@{perks_desc}}}">
                            <span class="red" title="" data-i18n="showinchat">showinchat</span>
                        </button> </div> 
                        <div class="flex--2"></div>
                    </div>
                    <div class="flexcontainer">
                            <div >
                                <span class="red" data-i18n="bonus"></span><span class="red">&nbsp;1</span>
                            </div>
                            <div class="flexcontainer pd--left pd--right">
                                <%- include('bonusoptions.ejs',{attr:"attribute"}); %>
                            </div>
                            <div class="flex-center">
                                <input class="smallinput first last" type="number" name="attr_bonus">
                            </div>
                            <div >
                                <span class="red" data-i18n="bonus"></span><span class="red">&nbsp;2</span>
                            </div>
                            <div class="flexcontainer pd--left pd--right">
                                <%- include('bonusoptions.ejs',{attr:"attribute2"}); %>
                            </div>
                            <div class="flex-center">
                                <input class="smallinput first last" type="number" name="attr_bonus2">
                            </div>
                            
                    </div>
                    <div class="flexcontainer">
                        <textarea  class="fulltextbox" type="text" name="attr_perks_desc" value=""></textarea>
                    </div>
                </div>
            </fieldset>
        
    </div>
   

</div>