<div class="flex-table">
    <div class="flexcontainer">
            <div class="flex-center flex--2">
                <span class="red" data-i18n="mod_magic">Magiebonus allgemein</span>
             </div>
            
            <div class="flex-center flex--2">
               
                <span class="red" data-i18n="mod_spells">Zauberbonus allgemein</span>
            </div>
            <div class=""">
                <span class="red" data-i18n="conjuring_specific">spezifische Boni</span>
             </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_combat">Kampf</span>
               
            </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_health">Heilung</span>
               
            </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_illusion">Illusion</span>
                
            </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_manipulation">Manipulation</span>
               
            </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_detection">Wahrnehmung</span>
            
            </div>
    </div>
     <div class="flexcontainer">
        <div class="flex-center flex--2">
            <input class="smallinput first last" type="number" name="attr_mod_magic" value="0" placeholder="0" title="@{mod_spells}">
        </div>
        <div class="flex-center flex--2">
            <input class="smallinput first last" type="number" name="attr_mod_spells" value="0" placeholder="0" title="@{mod_spells}">
        </div>
        <div class="flex-center">
          
        </div>
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_combat_bonus" value="0" placeholder="0" title="@{spell_combat_bonus}">
        </div>
        
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_health_bonus" value="0" placeholder="0" title="@{spell_health_bonus}">
        </div>
        
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_illusion_bonus" value="0" placeholder="0" title="@{spell_illusion_bonus}">
        </div>
       
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_manipulation_bonus" value="0" placeholder="0" title="@{spell_manipulation_bonus}">
        </div>
        
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_detection_bonus" value="0" placeholder="0" title="@{spell_detection_bonus}">
        </div>
    </div>
  </div>

<fieldset class="repeating_granates">
    <input class="toggle-hide" name="attr_collapse_spelldetails" type="checkbox" value="1"/>
    <div class="flex-table collapseble">
        <div class="flexcontainer">
            <div class="flex--half">
                <label class="collapse">
                    <input class="toggle-hide" name="attr_collapse_spelldetails" type="checkbox" value="1"/>
                    <h4 class="invert" data-i18n-title="expandcollapse"><span ></span></h4>
                </label>
            </div>
            <div class="flex--4">
                
                <input class="spellname first last" type="text" name="attr_name" value="" />
            </div>
            <div class="flex--2">
                <span class="cyberberry-normal pd--right" data-i18n="type">Typ</span>
            </div>
            <div class="flex-center">
                <select class=" whitebackground first last" name="attr_type"  title="spells_type">
                    <option value="explosive_explosive" data-i18n="explosive_explosive" selected></option>
                    <option value="explosive_gas" data-i18n="explosive_gas"></option>
                    <option value="explosive_spray" data-i18n="explosive_spray"></option>
                </select>
            </div>
            <div class="flex--2">
                <span class="cyberberry-normal pd--right" data-i18n="range">Typ</span>
            </div>
            <div class="flex-center">
                <select class=" whitebackground first last" name="attr_distance">
                    <option value="-4" data-i18n="range_vclose_throw" selected></option>
                    <option value="-2" data-i18n="range_close_throw"></option>
                    <option value="0" data-i18n="range_medium_throw"></option>
                    <option value="2" data-i18n="range_long_throw"></option>
                    <option value="4" data-i18n="range_vlong_throw"></option>
                    <option value="-2" data-i18n="range_vclose_fired"></option>
                    <option value="0" data-i18n="range_close_fired"></option>
                    <option value="2" data-i18n="range_medium_fired"></option>
                    <option value="4" data-i18n="range_long_fired"></option>
                    <option value="6" data-i18n="range_vlong_fired"></option>
                    
                </select>
            </div>
            
            <div class="">
                <span class="cyberberry-normal" data-i18n="nb_hits"></span>
            </div>
            <div class="flex-center">
                <input class="smallinput first last" type="number" name="attr_hits" value="0" >
            </div>
                
           
            <div class="">
                <button class="iconbutton50" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_explosive}}}{{specialisation=^{@{type}}}}{{weaponname=@{name}}}{{radiustype=@{type}}}{{radius=[[@{radius}]]}}{{deviation=[[{2d6-@{hits}+@{distance},0d6}kh1]]}}{{deviationoriantation=[[1d12]]}}{{damage=[[@{dmgpoint}]]}}{{damagetype=^{@{rwtype}}}}{{damagevclose=[[@{dmgvclose}]]}}{{damageclose=[[@{dmgclose}]]}}">
                    <span class="red" data-i18n="attackroll">sehr nah</span>
                </button>
            </div>
           
        </div>
    
        <div class="flexcontainer">
            <div class="flex--half">

            </div>
            <div class="flex--2">
                <span class="cyberberry-normal pd--right" data-i18n="radius"></span>
            </div>
            <div class="flex-center">
                <input class="smallinput first last" type="number" name="attr_radius" value="10" >
            </div>
        
            <div class="flex--2">
                <span class="cyberberry-normal" data-i18n="damage"></span>
            </div>
            <div class="flex-center flex-2">
                <input class="smallinput first " type="number" name="attr_dmgpoint" data-i18n-title="range_point" value="0" >
                <input class="smallinput " type="number" name="attr_dmgvclose"  data-i18n-title="range_vclose"value="0" >
                <input class="smallinput " type="number" name="attr_dmgclose" data-i18n-title="range_close" value="0" >
                <select class="last" name="attr_rwtype">
                    <option value="phys" data-i18n="phys_short_shifted">körperlich</option>
                    <option value="stun" data-i18n="stun_short_shifted">geistig</option>
                    <option value="shock" data-i18n="shock_short_shifted">geistig(e)</option>
                    <option value="unown" data-i18n="unown_shifted">andere</option>
                </select>
            </div>
            <div class="flex-center flex--4"></div>
        </div>
      
            <div class="flexcontainer">
                <div class="flex--half"></div>
                <div class="flex--13">
                <textarea class="spellrules first last" type="text" name="attr_spells_rules" data-i18n-placeholder="description" value="" ></textarea>
                </div>
                <div class="flex--1"></div>
            </div>
            
      
    </div>
  
</fieldset>