<div class='config'>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_configTabs_hide" type="checkbox" value="1" />
            <h4><span data-i18n="configtabs">armor</span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_configTabs_hide" type="checkbox" value="1"  />
    <div class="togglesection">
        <br>
        <span class="cyberberry" data-i18n="hide_edge">Edge Ausblenden</span>
        <input class="toggle-hide-not" name="attr_hide_edge" type="checkbox" value="1"/><br>
        <span class="cyberberry" data-i18n="hide_actionmonitor">Anpassung der Schadensmonitore</span>
        <input class="toggle-hide-not" name="attr_hide_actionmonitor" type="checkbox" value="1"/><br>
        <br>
        <h4><span class="cyberberry" data-i18n="hide_magictab">Magie einblenden</span></h4>
        <input class="toggle-hide-not" name="attr_hide_Magictab" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <span class="cyberberry" data-i18n="please_choose_relevant_magic_section">Bitte wähle relevante Bereiche aus:</span><br>
            <span class="cyberberry" >
                <input class="toggle-hide-not" name="attr_magic_skill_hide" type="checkbox" value="1" checked/> <span data-i18n="section_magic_skills_title">Magische Fertigkeiten</span>
                <input class="toggle-hide-not" name="attr_adept_power_hide" type="checkbox" value="1" checked/> <span data-i18n="section_magic_adept_powers_title">Adeptenkräfte</span>
                <input class="toggle-hide-not" name="attr_conjuring_hide" type="checkbox" value="1" checked/> <span data-i18n="section_magic_conjuration_title">Beschwören</span>
                <input class="toggle-hide-not" name="attr_spell_hide" type="checkbox" value="1" checked/> <span data-i18n="section_magic_spells_title">Zauber</span>
                <input class="toggle-hide-not" name="attr_rituals_hide" type="checkbox" value="1" checked/> <span data-i18n="section_magic_rituals_title">Rituale</span>
                <input class="toggle-hide-not" name="attr_alchemy_hide" type="checkbox" value="1" checked/> <span data-i18n="section_magic_alchemy_title">Alchemie</span>
                <input class="toggle-hide-not" name="attr_craft_focus_hide" type="checkbox" value="1" checked/> <span data-i18n="section_magic_focus_creation_title">Fokusbau</span>
                <input class="toggle-hide-not" name="attr_meta_magic_hide" type="checkbox" value="1" checked/> <span data-i18n="section_magic_meta_magic_title">Metamagi</span>
            </span>
        </div>
        <br>
        <h4><span class="cyberberry" data-i18n="hide_matrixtab">Matrix einblenden</span></h4>
        <input class="toggle-hide-not" name="attr_hide_matrixtab" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <span class="cyberberry" data-i18n="please_choose_relevant_magic_section">Bitte wähle relevante Bereiche aus:</span><br>
            <span class="cyberberry" >
                <input class="toggle-hide-not" name="attr_matrix_section_hide_ini" type="checkbox" value="1" checked/> <span data-i18n="combat_information"></span>
                <input class="toggle-hide-not" name="attr_matrix_section_hide_deck" type="checkbox" value="1" checked/> <span data-i18n="matrixdeck"></span>
                <input class="toggle-hide-not" name="attr_matrix_section_hide_skills" type="checkbox" value="1" checked/> <span data-i18n="matrixskills"></span>
                <input class="toggle-hide-not" name="attr_matrix_section_actions_hide" type="checkbox" value="1" checked/> <span data-i18n="matrixactions"></span>
                <input class="toggle-hide-not" name="attr_matrix_section_hide_programms" type="checkbox" value="1" checked/> <span data-i18n="matrixprograms"></span>
                <input class="toggle-hide-not" name="attr_matrix_section_hide_komplexforms" type="checkbox" value="1" checked/> <span data-i18n="komplexform"></span>
                <input class="toggle-hide-not" name="attr_matrix_section_hide_sprites" type="checkbox" value="1" checked/> <span data-i18n="matrixsprites"></span>
                
            </span>
        </div>
        <br>
        <h4><span class="cyberberry" data-i18n="hide_riggingtab">rigger einblenden</span></h4>
        <input class="toggle-hide-not" name="attr_hide_riggingtab" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <span class="cyberberry" data-i18n="please_choose_relevant_magic_section">Bitte wähle relevante Bereiche aus:</span><br>
            <span class="cyberberry" >
                <input class="toggle-hide-not" name="attr_rigging_section_hide_ini" type="checkbox" value="1" checked/> <span data-i18n="combat_information"></span>
                <input class="toggle-hide-not" name="attr_rigging_section_hide_deck" type="checkbox" value="1" checked/> <span data-i18n="rigging_console"></span>
                <input class="toggle-hide-not" name="attr_rigging_section_hide_skills" type="checkbox" value="1" checked/> <span data-i18n="riggign_skills"></span>
                <input class="toggle-hide-not" name="attr_rigging_section_hide_actions" type="checkbox" value="1" checked/> <span data-i18n="vehicles"></span>

                
            </span>
        </div>
        <h4><span class="cyberberry" data-i18n="hide_customrolls">beutzerproben einblenden</span></h4>
        <input class="toggle-hide-not" name="attr_hide_customrolls" type="checkbox" value="1" unchecked/>
        <br>
        <br>
    </div>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_configdamagemonitor_hide" type="checkbox" value="1" />
            <h4><span data-i18n="configdamagemonitor">Anpassung der Schadensmonitore</span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_configdamagemonitor_hide" type="checkbox" value="1"  />
    <div class="togglesection">
        <span class="cyberberry" data-i18n="customization_monitors">Anpassung der Schadensmonitore</span><br>
        <input class="smallinput first last" type="number" name="attr_phys_monitor_shift" value="0" placeholder="0" title="@{phys_monitor_shift}" min="-6" />
        <span class="cyberberry" data-i18n="monitor_modifier_phys">Modifikator körperlicher Monitor</span>
        <input class="smallinput first last" type="number" name="attr_stun_monitor_shift" value="0" placeholder="0" title="@{stun_monitor_shift}" min="-6" />
        <span class="cyberberry" data-i18n="monitor_modifier_stun">Modifikator geistiger Monitor</span><br>
        <span class="cyberberry" data-i18n="optionlarulearmor1"></span><br>
        <span class="cyberberry" data-i18n="optionlarulearmor2"></span>
        <input type="checkbox" name="attr_optionalarmorrule" value="1"/>
        <br>

    </div>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_configgenericrolls_hide" type="checkbox" value="1" />
            <h4><span data-i18n="configgenericrolls">armor</span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_configgenericrolls_hide" type="checkbox" value="1"  />
    <div class="togglesection">

       
        <br>

        <span class="cyberberry" data-i18n="customization_explanation">Hier steht der Text zur Erklärung der Headerwürfe</span><br>
        <h4><span data-i18n="attack_dice_pool">Angriffswurf</span></h4><br>
        <span class="cyberberry" data-i18n="weapon_name">Waffenname</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="weaponname" type="text" name="attr_personal_mainweapon" value="Ares Predator VI" />
        <span class="cyberberry" data-i18n="weapon_attackrating">Angriffswert</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="smallinput" type="number" name="attr_personal_attackrating" value="2" placeholder="2" title="@{personal_attackrating}" min="1"/>
        <div class="tinyspacer">&nbsp;</div>
        <span class="cyberberry" data-i18n="weapon_damage">Schadenswert</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="smallinput" type="number" name="attr_personal_damagecode" value="2" placeholder="2" title="@{personal_damagecode}" min="1"/>
        <div class="tinyspacer">&nbsp;</div>
        <span class="cyberberry" data-i18n="weapon_dicepool">Würfelpool</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="smallinput" type="number" name="attr_personal_attack_dicepool" value="2" placeholder="2" title="@{personal_attack_dicepool}" min="1"/>
        <br/>
        <h4><span data-i18n="defense_pool_title">Verteidigungswurf</span></h4><br>
        <span class="cyberberry" data-i18n="defense_rating">Verteidigungswert</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="smallinput" type="number" name="attr_personal_defenserating" value="2" placeholder="2" title="@{defenserating}" min="0"/>
        <div class="tinyspacer">&nbsp;</div>
        <span class="cyberberry" data-i18n="defense_pool">Verteidigungspool</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="smallinput" type="number" name="attr_personal_defensepool" value="2" placeholder="2" title="@{defensepool}" min="0"/>
        <div class="tinyspacer">&nbsp;</div><br>

        <h4><span data-i18n="soak_title">Schadenswiderstand</span></h4><br>
        <span class="cyberberry" data-i18n="defense_autosoak">Autoerfolge beim Soak</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="smallinput" type="number" name="attr_personal_autosoak" value="0" placeholder="0" title="@{autosoak}" min="0"/>
        <div class="tinyspacer">&nbsp;</div>
        <span class="cyberberry" data-i18n="defense_soakpool">Schadenswiderstandspool</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="smallinput" type="number" name="attr_personal_soakpool" value="2" placeholder="2" title="@{soakpool}" min="0"/>
        <div class="tinyspacer">&nbsp;</div><br>

        <h4><span data-i18n="skill_pool_title">Fertigkeitswurf</span></h4><br>
        <span class="cyberberry" data-i18n="skillroll">Fertigkeitswurf</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="weaponname" type="text" name="attr_personal_skilldesc" value="Ares Predator VI" />
        <div class="tinyspacer">&nbsp;</div>
        <span class="cyberberry" data-i18n="defense_soakpool">Schadenswiderstandspool</span>
        <div class="tinyspacer">&nbsp;</div>
        <input class="smallinput" type="number" name="attr_personal_dicepool" value="2" placeholder="2" title="@{dicepool}" min="0"/>
        <div class="tinyspacer">&nbsp;</div>
        <!--<label class="switch" data-i18n-title="gm_whisper" title="GM-Roll y/n">
            <input name="attr_gm_toggle" type="checkbox" value"/w gm"/>
            <span class="slider">&nbsp;</span>
        </label><br>-->
    </div>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_configreset_hide" type="checkbox" value="1" />
            <h4><span data-i18n="configreset">Werte Zurücksetzen</span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_configreset_hide" type="checkbox" value="1"  />
    <div class="togglesection">
        <button type="action" name="act_reset_skill_values">
            <span data-i18n="reset_skills">Fertigkeiten zurücksetzen</span>
        </button>
        <button type="action" name="act_reset_magic_values">
            <span data-i18n="reset_mskills"></span>
        </button>
        <br>
    </div>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_jsonimport_hide" type="checkbox" value="1" checked/>
            <h4><span data-i18n="jsonimport"></span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_jsonimport_hide" type="checkbox" value="1"  checked/>
    <div class="togglesection">
        <br>
        <span data-i18n="jsonimporthelp"></span>
    <br>    
    <textarea  class="fulltextbox" type="text" name="attr_json" value=""></textarea>
    <button class="mediumbutton" type="action" name="act_jsonimport" data-i18n="jsonimportstart">
        import
    </button><span name="attr_jsonerg"></span>
</div>




</div>