<div class='contacts'>
    <div class="sectionheaderstatic">
        <h4 data-i18n="contacts">contacts</h4>
    </div>
    <div class="innertable mr--left">
        <div class="table-row"> 
            <div class="table-cell-one-sixth pd--right"><span class="red"data-i18n="name">Name</span>  </div>
            <div class="table-cell-one-sixth pd--right"><span class="red"data-i18n="contacs_function">Funktion</span>  </div>
            <div class="table-cell-middleinput">  <span class="red"data-i18n="contact_influence_short">Einfluss</span></div>
            <div class="table-cell-middleinput">  <span class="red"data-i18n="contacs_loyalty">loyalität</span></div>
            <div class="table-cell-middleinput">  <span class="red"data-i18n="mod">Modifikator</span></div>
            <div class="table-cell pd--left">  <span class="red" data-i18n="showdescription_short" data-i18n-title="showdescription">Beschreibung anz.</span></div>
            <div class="table-cell">  <span class="red" data-i18n="roll">Würfeln</span></div>
            <div class="table-cell-rolls"> </div>
        </div>
    </div>
    <fieldset class="repeating_contacts">
        <div class="innertable pd--left">
            <div class="table-row">
            <div class="table-cell-one-sixth pd--right"><input class="komplexformname" type="text" name="attr_con_name" value="" /> </div>   
            <div class="table-cell-one-sixth pd--right"><input class="komplexformname" type="text" name="attr_con_type" value="" /> </div>   
            <div class="table-cell">    <input class="middleinput first" type="number" name="attr_con_influence" value="0" /> </div>  
            <div class="table-cell">    <input class="middleinput" type="number" name="attr_con_loyalty" value="0" /> </div>  
            <div class="table-cell-middleinput">    <input class="middleinput last" type="number" name="attr_con_mod" value="0" /> </div>  
            <div class="table-cell pd--left"><input class="toggle-hide-not eye" data-i18n-title="showdescription" name="attr_con_hide" type="checkbox" value="1"/> </div>
            <div class="table-cell">
                <button class="iconbutton btn ui-draggable" type="roll" name="roll_conroll" value="@{gm_toggle} &{template:roll}{{mainattribute=^{display_charisma}}}{{secondattribute=^{skill_influence}}}{{expertise=^{contacts} }}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_influence_total}+@{con_loyalty}+@{con_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{connection=[[(@{con_influence}+@{con_influence})d6cs>5sd>5]]}}">
                
                </button>
            </div>
            <div class="table-cell-rolls"> </div>
        </div>
        </div>
        <input class="toggle-hide" name="attr_con_hide" type="checkbox" value="1"/>
            <div class ="togglesection  pd--left pd--right">
                <div class="table-row">
                    <div class="table-cell-half">
                        <textarea  class="fulltextbox" type="text" name="attr_con_desc" value=""></textarea>
                    </div>
                    <div class="table-cell-half"></div>
                </div>
            </div>
        
    </fieldset>

</div>