<div class="copyright">
    <br>
    <h4><span data-i18n="character_sheet_author">Shadowrun 6 Charakterbogen by Avalia/Valanor</span></h4>
    <br>
    <span data-i18n="character_sheet_author_contact"></span>
    <br>
    <h6>Version 0.6</h6>
    <br>
    <h6>Please do not alter this character sheet without talking to me, thanks.</h6>
    <br>
    <div data-i18n="copyrightfooter">
        The Topps Company, Inc. has sole ownership of the names, logo, artwork, marks, photographs, sounds, audio, video and/or any proprietary material used in connection with the game Shadowrun. The Topps Company, Inc. has granted permission to use such names, logos, artwork, marks and/or any proprietary materials for promotional and informational purposes on its website but does not endorse, and is not affiliated with any official capacity whatsoever.
    </div>
</div>