<div class="customrolls">
    <div class="sectionheaderstatic">
                <h4 data-i18n="customrolls">customrolls</h4>
    </div>
    <button class="rightalign" type="action" name="act_addgenericrolls">
        <span data-i18n="addgenericrolls">Fertigkeiten ohne Punkte ausblenden</span>
    </button>
    <div class="innertable">
        <div class="table-row"> 
            <div class="table-cell-adept-name pd--right"><span class="red "data-i18n="name">Name</span>  </div>
            <div class="table-cell-middleinput"><span class="red"data-i18n="pool">Pool</span>  </div>
            <div class="table-cell-middleinput">  <span class="red"data-i18n="mod">Modifikator</span></div>
            <div class="table-cell pd--left">  <span class="red" data-i18n="showdescription_short" data-i18n-title="showdescription">Beschreibung anz.</span></div>
            <div class="table-cell">  <span class="red" data-i18n="roll">Würfeln</span></div>
            <div class="table-cell-rolls"> </div>
        </div>
    </div>
    <fieldset class="repeating_customrolls">
        <div class="innertable">
            <div class="table-row">
                <div class="table-cell-adept-name pd--right"><input class="adeptpowername" type="text" name="attr_name" value="" /> </div>   
                <div class="table-cell">    <input class="middleinput first" type="number" name="attr_pool" value="0" /> </div>  
                <div class="table-cell">    <input class="middleinput last" type="number" name="attr_mod" value="0" /> </div> 
                <div class="table-cell pd--left"><input class="toggle-hide-not" data-i18n-title="showdescription" name="attr_con_hide" type="checkbox" value="1" checked/> </div>
                <div class="table-cell">
                    <input class="toggle-hide"  type="checkbox" name="attr_cr_tracker" value="&{tracker}"/>
                    <button class="iconbutton btn ui-draggable" type="roll" name="roll_customroll" value="@{gm_toggle} &{template:roll}{{mainattribute=@{cr_titel}}}{{secondattribute=@{cr_titelsec}}}{{expertise=@{cr_specialisation}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{pool}+@{mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{pool}+@{mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{description=@{cr_description}}}{{warning=@{cr_warning}}}{{damage=@{cr_damage}}}{{defenserating=@{cr_defenserating}}}{{attackrating=@{cr_attackrating}}}{{weaponname=@{cr_weaponnname}}}{{soaksuccess=@{defense_autosoak}}}">
                    </button>
                    <input class="hidden toggle-hide-invert"  type="checkbox" name="attr_cr_tracker" value="&{tracker}"/>
                    <button class="iconbutton inibutton btn ui-draggable" type="roll" name="roll_customroll" value="@{gm_toggle} &{template:roll}{{mainattribute=@{cr_titel}}}{{secondattribute=@{cr_titelsec}}}{{expertise=@{cr_specialisation}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{pool}+@{mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{pool}+@{mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{description=@{cr_description}}}{{warning=@{cr_warning}}}{{damage=@{cr_damage}}}{{defenserating=@{cr_defenserating}}}{{attackrating=@{cr_attackrating}}}{{weaponname=@{cr_weaponnname}}}{{soaksuccess=@{defense_autosoak}}}">
                    </button>
                </div>
                <div class="table-cell-rolls"> </div>
               
            </div>
        </div>
        <input class="toggle-hide" name="attr_con_hide" type="checkbox" value="1" checked/>
            <div class ="togglesection innertable">
                <div class="table-row">
                    <div class="table-cell-one-forth">
                        <span data-i18n="cr_titel"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_titel" />
                    </div>
                    <div class="table-cell-one-forth pd--left">
                        <span data-i18n="cr_titelsec"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_titelsec" />
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-forth">
                        <span data-i18n="cr_specialisation"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_specialisation" /></div>
                </div>
                <div class="table-row">
                    <div class="table-cell-one-forth">
                        <span data-i18n="cr_weaponnname"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_weaponnname" />
                    </div>
                    <div class="table-cell-one-forth pd--left">
                        <span data-i18n="cr_attackrating"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_attackrating" />
                    </div>
                </div>
                <div class="table-row">
                   
                    <div class="table-cell-one-forth">
                        <span data-i18n="cr_damage"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_damage" />
                    </div>
                    <div class="table-cell-one-forth pd--left">
                        <span data-i18n="cr_defenserating"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_defenserating" />
                    </div>
                </div>
                <div class="table-row">
                   
                    <div class="table-cell-one-forth">
                        <span data-i18n="defense_autosoak"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_defense_autosoak" />
                    </div>
                   
                    <div class="table-cell-one-forth  pd--left">
                        <span data-i18n="cr_rollbonus"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="number" name="attr_cr_rollbonus" value ="0"/>
                    </div>
                   
                </div>
                <div class="table-row">
                   
                    <div class="table-cell-one-forth">
                        <br>
                        <span data-i18n="cr_tracker"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <br>
                        <input class="middleinput"  type="checkbox" name="attr_cr_tracker" value="&{tracker}"/>
                    </div>
                   
                   
                   
                </div>
                <div class="table-row">
                   
                    <div class="table-cell-one-forth">
                        <span data-i18n="cr_description"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_description" />
                    </div>
                    <div class="table-cell-one-forth pd--left">
                        <span data-i18n="cr_warning"></span>
                    </div>
                    <div class="table-cell-one-forth">
                        <input class="middleinput"  type="text" name="attr_cr_warning" />
                    </div>
                </div>
                
            </div>
    </fieldset>
</div>