<div class='gear'>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_armor_hide" type="checkbox" value="1" checked/>
            <h4><span data-i18n="armor">armor</span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_armor_hide" type="checkbox" value="1" checked />
    <div class="togglesection">
        <div class="flex-table repeating-header">
            <div class="flexcontainer"> 
                <div class="flex--half"></div>
                <div class="flex--4"><span class="red" data-i18n="name">Name</span>  </div>
                <div class="flex-center flex--2">  <span class="red" data-i18n="armor">Panz.</span>/  
                    <span class="red" data-i18n="sozialbonus">Sozial</span>
                </div>
                <div class="flex-center"> <span class="red" data-i18n="armor_selected">armor_selected</span></div>   
                <div class="flex-center flex--2"></div> 
              

            </div>
        </div>

        <fieldset class="repeating_armor">
            <input class="toggle-hide" name="attr_armor_hidefulltext" type="checkbox" value="1" checked/>
            <div class="flex-table collapseble">
                <div class="flexcontainer">
                    <div class="flex--half">
                        <label class="collapse">
                        <input class="toggle-hide" name="attr_armor_hidefulltext" type="checkbox" value="1" checked/>
                        <h4 class="invert" data-i18n-title="expandcollapse"><span ></span></h4>
                        </label>
                    </div>
                    <div class="flex--4"><input class="adeptpowername" type="text" name="attr_armor_name" value="" /> </div>   
                    <div class="flex-center flex--2">
                        <input class="first" type="number" name="attr_armor_prot" value="1" placeholder="0"/>
                        <input class="last" type="number" name="attr_armor_sozial" value="0" /> 
                    </div> 
                    <div class="flex-centerl pd--left"><input class="toggle-hide-not" name="attr_armor_selected" type="checkbox" data-i18n-title="armor_selected" value="1"/></div>
                    <div class="flex-center flex--2"><button class="iconbutton70 postbutton" type="roll" name="roll_adeptpower" value="@{gm_toggle} &{template:post}{{category=^{armor}}}{{name=@{armor_name}}}{{description=Panzerung: [[@{armor_prot}]]\nSozial: [[@{armor_sozial}]]\n\n@{armor_desc}}}">
                        <span class="red" title="" data-i18n="showinchat">showinchat</span>
                    </button> 
                    </div>
                   
                     
                </div>
                <div class="flexcontainer">
                    <div class="flex--2"></div>
                   
                   
                    <div class="flex--9">
                         <textarea class="first last"  type="text" name="attr_armor_desc" data-i18n-placeholder="description" value=""></textarea>
                        </div>
                    <div class="flex--2"></div>
                   
                </div>
            </div>
        </fieldset>
        <div class="table-row">
            <div class="table-cell-adept-name"><span class="red" data-i18n="total">Gesamt</span> </div>   
            <div class="table-cell-middleinput"><input class="middleinput first" type="number" name="attr_armor_total_prot" value="0" placeholder="0" readonly/></div>
            <div class="table-cell-middleinput"><input class="middleinput last" type="number" name="attr_armor_total_sozial" value="0" readonly/> </div> 
            <div class="table-cell pd--left"></div>
            <div class="table-cell pd--left"></div>
            <div class="table-cell"></div>
            <div class="table-cell-rolls"></div>
             
        </div>
    </div>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_cyberware_hide" type="checkbox" value="1" checked/>
            <h4><span data-i18n="cyberware">cyberware</span></h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_cyberware_hide" type="checkbox" value="1" checked />
    <div class="togglesection">
        <div class="flex-table repeating-header">
            <div class="flexcontainer"> 
                <div class="flex--half"></div>
                <div class="flex--4"><span class="red" data-i18n="name">Name</span>  </div>
                <div class="flex-center">  <span class="red" data-i18n="level">Stufe</span></div>
                <div class="flex-center">  <span class="red" data-i18n="display_essenz">Essenz</span></div>
                <div class="flex-center flex--2">  <span class="red" data-i18n="quality">Qualität</span></div>
                <div class="flex-center"> <span class="red" data-i18n="active"></span></div>
                <div class="flex-center flex--2"></div>
                
            </div>
        </div>
        <fieldset class="repeating_cyberware">
            <input class="toggle-hide" name="attr_cyberware_hidefulltext" type="checkbox" value="1" checked/>
            <div class="flex-table collapseble">
                <div class="flexcontainer">
                    <div class="flex--half">
                        <label class="collapse" data-i18n-title="extend">
                        <input class="toggle-hide" name="attr_cyberware_hidefulltext" type="checkbox" value="1" checked/>
                        <h4 class="invert" data-i18n-title="expandcollapse"><span ></span></h4>
                        </label>
                    </div>
                    <div class="flexcontainer flex--4">
                        
                        <input class="first last" type="text" name="attr_cyberware_name" value="" /> 
                    </div>   
                    <div class="flex-center"><input class="smallinput first" type="number" name="attr_cyberware_level" value="1" placeholder="0"/></div>
                    <div class="flex-center"><input class="smallinput last" type="text" name="attr_cyberware_ess" value=""  step="any"/> </div> 
                    <div class="flex-center flex--2"><input class="input-mediumshort first last" type="text" name="attr_cyberware_quality" value="" /> </div>  
                    <div class="flex-center">
                        <input  type="checkbox" name="attr_active" data-i18n-title="active" value="1">
                    </div>
                    
                    
                    <div class="flex-center flex--2"><button class="iconbutton70 postbutton" type="roll" name="roll_cyberware" value="@{gm_toggle} &{template:post}{{category=^{cyberware}}}{{name=@{cyberware_name}}}{{description=@{cyberware_desc}}}">
                        <span class="red" title="" data-i18n="showinchat">showinchat</span>
                    </button> 
                    </div>
                </div>
                <div class="flexcontainer">
                    <div class="flex--half"></div>
                    <div class="flexcontainer flex--4">
                        <div class="flex-center">
                             <span class="red" data-i18n="bonus"></span><span class="red">&nbsp;1</span>
                        </div>
                        <div class="flexcontainer flex--4 ">
                            <%- include('bonusoptions.ejs',{attr:"attribute"}); %>
                        </div>
                       
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_bonus">
                    </div>
                    <div >
                        <span class="red" data-i18n="bonus"></span><span class="red">&nbsp;2</span>
                    </div>
                    <div class="flexcontainer flex--2 pd--left pd--right">
                        <%- include('bonusoptions.ejs',{attr:"attribute2"}); %>
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_bonus2">
                    </div>
                    <div class="flex--2"></div>
                       
                </div>
                
                <div class="flexcontainer">
                    <div class="flex--2"></div>
                   <div class="flex--7">
                         <textarea class="first last"  type="text" name="attr_cyberware_desc" data-i18n-placeholder="description" value=""></textarea>
                        </div>
                    <div class="flex--2"></div>
                 
                    
                </div>
            </div>
        </fieldset>
    </div>
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_gear_hide" type="checkbox" value="1"  checked />
            <h4><span data-i18n="gear">gear</span></h4>
        </label>
    </div>
   
    <input class="toggle-hide" name="attr_gear_hide" type="checkbox" value="1" checked />
    <div class="togglesection">
        <div class="flex-table repeating-header" >
            <div class="flexcontainer pd--left"> 
                <div class="flex--half"><span class="red" ></span>  </div>
                <div class="flex--4"><span class="red" data-i18n="name">Name</span>  </div>
                <div class="flex-center">  <span class="red" data-i18n="count">Anzahl</span></div>
                <div class="flex-center flex--2">  <span class="red" data-i18n="reffernce">Referenz</span></div>
                <div class="flex-center flex--2">  <span class="red" data-i18n="where">Wo</span></div>
               
                <div class="flex-center" data-i18n="active"></div>
                <div class="flex-center  flex--2"></div>
                
            </div>
        </div>
        <fieldset class="repeating_gear">
            <input class="toggle-hide" name="attr_gear_hidefulltext" type="checkbox" value="1" checked/>
            <div class="flex-table collapseble">
                <div class="flexcontainer">
                    <div class="flex--half">
                        <label class="collapse">
                            <input class="toggle-hide" name="attr_gear_hidefulltext" type="checkbox" value="1" checked/>
                            <h4 class="invert" data-i18n-title="expandcollapse"><span ></span></h4>
                        </label>
                    </div>
                    <div class="flexcontainer flex--4">
                        <input class="first last" type="text" name="attr_gear_name" value="" /> </div>   
                    <div class="flex-center"><input class="smallinput first last" type="number" name="attr_gear_count" value="1" placeholder="0"/></div>
                    <div class="flex-center flex--2"><input class="input-mediumshort first last" type="text" name="attr_gear_ref" value="" /> </div> 
                    <div class="flex-center flex--2"><input class="input-mediumshort first last" type="text" name="attr_gear_where" value="" /> </div>  
                   
                    <div class="flex-center" >
                        <input  type="checkbox" name="attr_active" value="1" data-i18n-title="active">
                    </div>
                    <div class="flex-center flex--2"><button class="iconbutton70 postbutton" type="roll" name="roll_adeptpower" value="@{gm_toggle} &{template:post}{{category=^{gear}}}{{name=@{gear_name}}}{{description=@{gear_desc}}}">
                        <span class="red" title="" data-i18n="showinchat">showinchat</span>
                    </button> 
                    </div> 
                    
                    
                </div>
                <div class="flexcontainer">
                    <div class="flex--half"><span class="red" ></span>  </div>
                    <div class="flexcontainer flex--4">
                        <div class="flex-center">
                            <span class="red" data-i18n="bonus"></span><span class="red">&nbsp;1</span>
                        </div>
                        <div class="flex-center flex--2">
                            <%- include('bonusoptions.ejs',{attr:"attribute"}); %>
                        </div>
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_bonus">
                    </div>
                    <div class="flexcontainer flex--4">
                        <div  class="flex-center flex--2">
                            <span class="red" data-i18n="bonus"></span><span class="red">&nbsp;2</span>
                        </div>
                        <div class="flex-center flex--2">
                            <%- include('bonusoptions.ejs',{attr:"attribute2"}); %>
                        </div>
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_bonus2">
                    </div>
                   
                   
                    <div class="flex-center  flex--2"></div>
                </div>
                <div class="flexcontainer">
                    <div class="flex--2"></div>
                   
                   
                    <div class="flex--9">
                         <textarea class="first last"  type="text" name="attr_gear_desc" data-i18n-placeholder="description" value=""></textarea>
                        </div>
                    <div class="flex--2"></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>