                        <select class="first last center" name="attr_<%= attr %>" value="">
                            <option value="" selected></option>
                            <option value="con_fire" data-i18n="con_fire">Feuer</option>
                            <option value="con_water" data-i18n="con_water">Wasser</option>
                            <option value="con_earth" data-i18n="con_earth">Erde</option>
                            <option value="con_air" data-i18n="con_air">Luft</option>
                            <option value="con_man" data-i18n="con_man">Mensch</option>
                            <option value="con_beast" data-i18n="con_beast">Tier</option>
                            <option value="con_task" data-i18n="con_task">Helfer</option>
                            <option value="con_guardian" data-i18n="con_guardian"></option>
                            <option value="con_plant" data-i18n="con_plant"></option>
                            <option value="con_blood" data-i18n="con_blood"></option>
                            <option value="banishing_fire" data-i18n="banishing_fire">Feuer</option>
                            <option value="banishing_water" data-i18n="banishing_water">Wasser</option>
                            <option value="banishing_earth" data-i18n="banishing_earth">Erde</option>
                            <option value="banishing_air" data-i18n="banishing_air">Luft</option>
                            <option value="banishing_man" data-i18n="banishing_man">Mensch</option>
                            <option value="banishing_beast" data-i18n="banishing_beast">Tier</option>
                            <option value="banishing_task" data-i18n="banishing_task">Helfer</option>
                            <option value="banishing_guardian" data-i18n="banishing_guardian"></option>
                            <option value="banishing_plant" data-i18n="banishing_plant"></option>
                            <option value="banishing_blood" data-i18n="banishing_blood"></option>
                        </select>