<div class="innertable">
                
    <fieldset class="repeating_alchemie">
        <div class="innertable">
        
        
            <div class="table-row">
                <div class="table-cell-one-fifth">
                    <input class="spellname" type="text" name="attr_alchemie_name" value="" />
                </div>
                <div class="table-cell">
                    <span class="cyberberry-normal" data-i18n="section_magic_spells_title"></span>
                   
                </div>
                <div class="table-cell">
                   
                    <input class="spellname right" type="text" name="attr_alchemie_cat" value=""  >
                </div>
                <div class="table-cell-one-fifth">
                    <span class="cyberberry-normal" data-i18n="level">level</span>
                    <input class="smallinput right first last" type="number" name="attr_alchemie_level" value="2" placeholder="0" min="0" >
                </div>
               <div class="table-cell">
                   <input class="toggle-hide-not" name="attr_togglealchemiedetails" type="checkbox" value="1" data-i18n-title="showdescription"/>
                </div>
                
                <div class="table-cell-one-fifth">
                    <button class="iconbutton postbutton" type="roll" name="roll_cast_alchemie" value="@{gm_toggle} &{template:roll}{{mainattribute=^{act_alchemie}}}{{specialisation=@{alchemie_name}}}{{description=@{ritual_desc}}}">
                        <span class="red" data-i18n="showinchat"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="innertable">
            <input class="toggle-hide" name="attr_togglealchemiedetails" type="checkbox" value="1"/>
            <div class ="togglesection">
                <div class="table-row">
                    <textarea  class="fulltextbox" type="text" name="attr_ritual_desc" value=""></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</div>