<div class="flex-table">
    <div class="flexcontainer">
            <div class="flex-center flex--2">
                <span class="red" data-i18n="mod_magic">Magiebonus allgemein</span>
             </div>
            
            <div class="flex-center flex--2">
               
                <span class="red" data-i18n="mod_spells">Zauberbonus allgemein</span>
            </div>
            <div class=""">
                <span class="red" data-i18n="conjuring_specific">spezifische Boni</span>
             </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_combat">Kampf</span>
               
            </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_health">Heilung</span>
               
            </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_illusion">Illusion</span>
                
            </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_manipulation">Manipulation</span>
               
            </div>
            <div class="flex-center">
                <span class="cyberberry-normal" data-i18n="spell_bonus_detection">Wahrnehmung</span>
            
            </div>
    </div>
     <div class="flexcontainer">
        <div class="flex-center flex--2">
            <input class="smallinput first last" type="number" name="attr_mod_magic" value="0" placeholder="0" title="@{mod_spells}">
        </div>
        <div class="flex-center flex--2">
            <input class="smallinput first last" type="number" name="attr_mod_spells" value="0" placeholder="0" title="@{mod_spells}">
        </div>
        <div class="flex-center">
          
        </div>
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_combat_bonus" value="0" placeholder="0" title="@{spell_combat_bonus}">
        </div>
        
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_health_bonus" value="0" placeholder="0" title="@{spell_health_bonus}">
        </div>
        
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_illusion_bonus" value="0" placeholder="0" title="@{spell_illusion_bonus}">
        </div>
       
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_manipulation_bonus" value="0" placeholder="0" title="@{spell_manipulation_bonus}">
        </div>
        
        <div class="flex-center">
            <input class="smallinput right first last" type="number" name="attr_spell_detection_bonus" value="0" placeholder="0" title="@{spell_detection_bonus}">
        </div>
    </div>
  </div>
<span class="cyberberry-normal" data-i18n="filter">Suche</span><input class="spellname first last" type="text" name="attr_spell_filter" value="" />
<fieldset class="repeating_spells">
    <input class="toggle-hide-invert" style="display: none;" name="attr_spells_colapse" type="checkbox" value="1"/>
    <div class="togglesection">
        <input class="toggle-hide" name="attr_collapse_spelldetails" type="checkbox" value="1"/>
        <div class="spellbox collapseble">
            <div class="flex-table">
                <div class="flexcontainer">
                    <div class="flex--half">
                        <label class="collapse">
                            <input class="toggle-hide" name="attr_collapse_spelldetails" type="checkbox" value="1"/>
                            <h4 class="invert" data-i18n-title="expandcollapse"><span ></span></h4>
                        </label>
                    </div>
                    <div class="flex--4">
                        
                        <input class="spellname first last" type="text" name="attr_spell_name" value="" />
                    </div>
                    <div class="flex--2">
                        <span class="cyberberry-normal pd--right" data-i18n="spelldrain">Entzug</span>
                    </div>
                    <div class="flex-center">
                        
                        <input class="smallinput first last" type="number" name="attr_spell_drain_base" value="2" placeholder="2" min="2" title="@{spell_drain_base}">
                    </div>
                    <div class="flex--2">
                        <span class="cyberberry-normal pd--right" data-i18n="spelldrainampup">Hochdrehen</span>
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_spelldrainampup" value="0" placeholder="0" min="0" title="@{spelldrainampup}">
                        <input class="smallinput" type="hidden" name="attr_spelldamage" value="0" placeholder="0" min="0" title="@{spelldamage}">
                    </div>
                    <div class="flex--2">
                        <span class="cyberberry-normal pd--right" data-i18n="spell_drain_area">Fläche vergrößern</span>
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_spell_drain_area" value="0" placeholder="0" min="0" title="@{spell_drain_area}">
                    </div>
                    <div class="">
                        <span class="cyberberry-normal" data-i18n="pool"></span>
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_spellpool" value="@{sorcery_bonus}+@{skill_sorcery_total}" disabled>
                    </div>
                       

                    <div class="">
                        <button class="iconbutton" type="roll" name="roll_cast_spell" value="@{gm_toggle} &{template:roll}{{mainattribute=^{act_spellcasting}}}{{spiritheadline=@{spell_name}}}{{category=^{@{spellscategory}}}}{{range=^{@{spellsrange}}}}{{type=^{@{spellstype}}}}{{duration=^{@{spellsduration}}}}{{spelldamage=[[@{spelldamage}]]}}{{draincode=[[@{spell_drain_base}+2*@{spelldrainampup}+@{spell_drain_area}]]}}{{drain=[[(@{drain_total})d6@{exploding_dice}cs>5>5sd]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_sorcery_total}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod}+@{sorcery_bonus})"}); %>{{resist=^{@{spellsresist}}}}{{description=@{spells_rules}}}">
                        
                        </button>
                    </div>
                    <input class="toggle-hide" type="checkbox" name="attr_spellsduration" value="spells_duration_s">
                    <div class="togglesection">
                        <input class="smallinput first last" type="number" name="attr_spellaktive" data-i18n-title="active" value="0">
                    </div>
                </div>
            
                <div class="flexcontainer">
                    <div class="flex--half">

                    </div>
                    <div class="flex--4 pd--left">
                        <span class="cyberberry-nopadding" data-i18n="spell_category">Kategorie</span>
                    </div>
                    <div class="flex--3">
                    
                        
                            <select class=" whitebackground first last" name="attr_spellscategory" value="health" title="spells_type">
                                <option value="spells_health" data-i18n="spells_health" selected>Heilung</option>
                                <option value="spells_combat_direct" data-i18n="spells_combat_direct">Kampf</option>
                                <option value="spells_combat_indirect" data-i18n="spells_combat_indirect">Kampf</option>
                                <option value="spells_illusion" data-i18n="spells_illusion">Illusion</option>
                                <option value="spells_manipulation" data-i18n="spells_manipulation" >Manipulation</option>
                                <option value="spells_detection" data-i18n="spells_detection">Wahrnehmung</option>
                            </select>
                            <input class="smallinput hidden" type="number" name="attr_sorcery_bonus" value="0" placeholder="0" title="@{sorcery_bonus}" readonly>
                    
                    </div>
                
                    <div class="flex--2">
                        <span class="cyberberry-normal" data-i18n="spell_range">Reichweite</span>
                    </div>
                    <div class="flex-center">
                        <select class="center whitebackground first last" name="attr_spellsrange" value="touch" title="spells_range" dir="rtl">
                            <option value="spells_range_b" data-i18n="spells_range_b" selected>B</option>
                            <option value="spells_range_bf" data-i18n="spells_range_bf">BF</option>
                            <option value="spells_range_bff" data-i18n="spells_range_bff">BF (F)</option>
                        </select>
                    </div>
                    <div class="flex--2">
                        <span class="cyberberry-normal" data-i18n="spell_type">Art</span>
                    </div>
                    <div class="flex-center">
                        <select class="center whitebackground first last" name="attr_spellstype" value="mana" title="spells_type">
                            <option value="spells_type_m" data-i18n="spells_type_m" selected>M</option>
                            <option value="spells_type_p" data-i18n="spells_type_p">P</option>
                        </select>
                    </div>
                    <div class="">
                        <span class="cyberberry-normal" data-i18n="spell_duration">Dauer</span>
                    </div>
                    <div class="flex-center">
                        <select class="center whitebackground first last" name="attr_spellsduration" value="instant" title="spells_duration">
                            <option value="spells_duration_i" data-i18n="spells_duration_i" selected>S</option>
                            <option value="spells_duration_s" data-i18n="spells_duration_s">A</option>
                            <option value="spells_duration_l" data-i18n="spells_duration_l">ZB</option>
                            <option value="spells_duration_p" data-i18n="spells_duration_p">P</option>
                        </select>
                    </div>
                    <div class=""></div>
                </div>
                <div class="flexcontainer">
                    <div class="flex--half">

                    </div>
                    <div class="flex--4">
                        <!--<div class="smallspacertwenty">&nbsp;</div>-->
                        <span class="cyberberry-normal" data-i18n="spells_resist_choose">auswählen</span>
                    </div>
                    <div></div>
                    <div class="flex--3">
                        <select class="spellresistdropdown whitebackground first last" name="attr_spellsresist" value="choose" title="spells_resist">
                            <option value="spells_resist_choose" selected></option>
                            <option value="spells_resist_threshold" data-i18n="spells_resist_threshold">Schwellenwert</option>
                            <option value="spells_resist_bodstr" data-i18n="spells_resist_bodstr">KON + STÄ</option>
                            <option value="spells_resist_bodwil" data-i18n="spells_resist_bodwil">KON + WIL</option>
                            <option value="spells_resist_doubleforce" data-i18n="spells_resist_doubleforce">Kraftstufe×2</option>
                            <option value="spells_resist_objectresistance" data-i18n="spells_resist_objectresistance">Objektwiderstand</option>
                            <option value="spells_resist_perc" data-i18n="spells_resist_perc">INT + Wahrnehmung</option>
                            <option value="spells_resist_reaint" data-i18n="spells_resist_reaint">REA + INT</option>
                            <option value="spells_resist_reawil" data-i18n="spells_resist_reawil">REA + WIL</option>
                            <option value="spells_resist_wilint" data-i18n="spells_resist_wilint">WIL + INT</option>
                            <option value="spells_resist_willog" data-i18n="spells_resist_willog">WIL + LOG</option>
                        </select>
                    </div>
                    <div class="flex--7">
                        <input class="toggle-hide" name="attr_toggle_rule_spells" type="checkbox" value="1"/>
                        <div class="magictoggle-on">
                            <button class="iconbutton70" type="action" name="act_unlockrules">
                                <span class="cyberberry-normal" data-i18n="show_rules">Eingabemodus</span>
                            </button>
                        </div>
                        <div class="magictoggle-off">
                            <button class="iconbutton70" type="action" name="act_lockrules">
                                <span class="cyberberry-normal" data-i18n="hide_rules">Fertig</span>
                            </button>
                        </div>
                    </div>
                    <div class="flex--4">

                </div>
            </div>
            <input class="toggle-hide" name="attr_toggle_rule_spells" type="checkbox" value="1"/>
            <div class="togglesection flex-table">
                <div class="flexcontainer">
                    <div class="flex--half"></div>
                    <div class="flex--13">
                    <textarea class="spellrules first last" type="text" name="attr_spells_rules" data-i18n-placeholder="spells_rules" value="" ></textarea>
                    </div>
                    <div class="flex--1"></div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</fieldset>