<div class="flex-table  repeating-header90">
    <div class="flexcontainer pd--left">
        <div class="flex--4"><span class="red" data-i18n="name">Name der Adeptenkraft</span></div>
        <div class="flex-center flex--2"><span class="red" data-i18n="level">Stufe</span></div>
        <div class="flex-center flex--4"><span class="red" data-i18n="adept_longdesc">Langbeschreibung</span></div>
        <div class="flex-center"><span class="red" data-i18n="adept_showchat">Im Chat anzeigen</span></div>
    </div>
</div>
            <fieldset class="repeating_metamagic">
                <div class="flex-table"><div class="flexcontainer">
                    <div class="flex--4">
                        <input class="adeptpowername first last" type="text" name="attr_name" value="" />
                    </div>
                    <div class="flex-center flex--2">
                        <input class="smallinput first last " type="number" name="attr_level" value="0" placeholder="0" title="@{adept_power_level}" min="0" />
                        
                    </div>
                    <div class="flex-center flex--4">
                        <input class="toggle-hide" name="attr_toggle_rule" type="checkbox" value="1" checked/>
                        <div class="magictoggle-on">
                            <input class="toggle-hide-not eye" name="attr_toggle_rule" type="checkbox" value="1" checked/>
                        </div>
                        <div class="magictoggle-off">
                            <input class="first last" type="text" name="attr_rules" value="Regeltext" />
                            <input class="toggle-hide-not eye" name="attr_toggle_rule" type="checkbox" value="1" checked/>
                         </div>
                        
                    </div>
                    <div class="flex-center">
                        <button class="iconbutton postbutton" type="roll" name="roll_adeptpower" value="@{gm_toggle} &{template:post}{{category=^{meta}}}{{name=@{name}}}{{description=@{rules}}}">
                           
                        </button>
                    </div>
                </div></div>
            </fieldset>