<div class="flex-table  repeating-header90">
    <div class="flexcontainer pd--left">
        <div class="flex--half"></div>
        <div class="flex--4"><span class="red" data-i18n="adept_name">Name der Adeptenkraft</span></div>
        <div class="flex-center flex--2"><span class="red" data-i18n="adept_level">Stufe</span>/<span class="red" data-i18n="adept_pp">Kosten</span></div>
        <div class="flex-center flex--2"><span class="red" data-i18n="active">Langbeschreibung</span></div>
        <div class="flex-center"><span class="red" data-i18n="adept_showchat">Im Chat anzeigen</span></div>
    </div>
</div>
            <fieldset class="repeating_adeptpowers">
                <input class="toggle-hide" name="attr_hidefulltext" type="checkbox" value="1" checked/>
                <div class="flex-table collapseble">    

                    <div class="flexcontainer">
                        <div class="flex--half">
                            <label class="collapse">
                            <input class="toggle-hide" name="attr_hidefulltext" type="checkbox" value="1" checked/>
                            <h4 class="invert" data-i18n-title="expandcollapse"><span ></span></h4>
                            </label>
                        </div>
                        <div class="flex--4">
                            <input class="adeptpowername first last" type="text" name="attr_adept_power_name" value="" />
                        </div>
                        <div class="flex-center flex--2">
                            <input class="smallinput first" type="number" name="attr_adept_power_level" value="0" placeholder="0" title="@{adept_power_level}" min="0" />
                            <input class="smallinput last" type="number" name="attr_adept_power_cost" value="0" placeholder="0" step="0.25" title="@{adept_power_cost}" min="0" />
                        </div>
                      
                        <div class="flex-center flex--2">
                            <input  type="checkbox" name="attr_active" data-i18n-title="active" value="1">
                        </div>
                        <div class="flex-center">
                            <button class="iconbutton postbutton" type="roll" name="roll_adeptpower" value="@{gm_toggle} &{template:post}{{category=^{adeptpower}}}{{name=@{adept_power_name}}}{{description=@{adept_power_rules}}}">
                            
                            </button>
                        </div>
                </div>
                <div class="flexcontainer">
                    <div class="flex--half"></div>
                    <div class="flexcontainer flex--4">
                        <div class="flex-center">
                             <span class="red" data-i18n="bonus"></span><span class="red">&nbsp;1</span>
                        </div>
                        <div class="flexcontainer flex--4 ">
                            <%- include('bonusoptions.ejs',{attr:"attribute"}); %>
                        </div>
                       
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_bonus">
                    </div>
                    <div class="flex-center"></div>
                    <div >
                        <span class="red" data-i18n="bonus"></span><span class="red">&nbsp;2</span>
                    </div>
                    <div class="flexcontainer flex--2 pd--left pd--right">
                        <%- include('bonusoptions.ejs',{attr:"attribute2"}); %>
                    </div>
                    <div class="flex-center">
                        <input class="smallinput first last" type="number" name="attr_bonus2">
                    </div>
                    <div class="flex--2"></div>
                       
                </div>
                <div class="flexcontainer">
                    <div class="flex--half"></div>
                    <div class="flex-center flex--10">
                        <textarea class="first last" type="text" name="attr_adept_power_rules" data-i18n-title="description" data-i18n-placeholder="description" ></textarea>
                    </div>
                    <div class="flex--2"></div>
                </div>
            </div>
            </fieldset>