<fieldset class="repeating_rituals">
    <div class="innertable">
    
    
        <div class="table-row">
            <div class="table-cell-one-fifth">
                <input class="spellname" type="text" name="attr_ritual_name" value="" />
            </div>
            <div class="table-cell">
                <span class="cyberberry-normal" data-i18n="spell_category"></span>
               
            </div>
            <div class="table-cell">
               
                <input class="spellname right" type="text" name="attr_ritual_cat" value=""  >
            </div>
            <div class="table-cell-one-fifth">
                <span class="cyberberry-normal" data-i18n="schwellenwert">Schwellenwert</span>
                <input class="smallinput right first last" type="number" name="attr_threshold" value="2" placeholder="0" min="0" >
            </div>
           <div class="table-cell">
               <input class="toggle-hide-not" name="attr_toggleritualdetails" type="checkbox" value="1" data-i18n-title="showdescription"/>
            </div>
            
            <div class="table-cell-one-fifth">
                <button class="iconbutton" type="roll" name="roll_cast_ritual" value="@{gm_toggle} &{template:roll}{{mainattribute=^{act_ritual}}}{{specialisation=@{ritual_name}}}{{drain=[[(@{drain_total})d6@{exploding_dice}cs>5>5sd]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{threshold=@{threshold}}}<%- include('dicetemplate.ejs', {pool: "(@{skill_sorcery_total}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{description=@{ritual_desc}}}">
                    
                </button>
            </div>
        </div>
    </div>
    <div class="innertable">
        <input class="toggle-hide" name="attr_toggleritualdetails" type="checkbox" value="1"/>
        <div class ="togglesection">
            <div class="table-row">
                <textarea  class="fulltextbox" type="text" name="attr_ritual_desc" value=""></textarea>
            </div>
        </div>
    </div>
</fieldset>