<div class="flex-table repeating-header">
    <div class="flexcontainer pd--left">
        <div class="flex--half"></div>
        <div class="flex--3">
            <span class="cyberberry-normal" data-i18n="spell_category"></span>
        </div>
        <div class="flex--half"></div>
        <div class="flex--2">
            <span class="cyberberry-normal" data-i18n="name"></span>
        </div>
        <div class="flex-center">
            <span class="cyberberry-normal" data-i18n="level"></span>
        </div>
        <div class="flex-center">
            <div class="flex-center"> <span class="red" data-i18n="active"></span></div>
        </div>
        <div class="flex--2"></div>
    </div>
</div>


<fieldset class="repeating_focus">
    <input class="toggle-hide" name="attr_collapse_details" type="checkbox" value="1"/>
    <div class="spellbox flex-table collapseble">
        <div class="flexcontainer">
            
            <div class="flex--half">
                <label class="collapse">
                    <input class="toggle-hide" name="attr_collapse_details" type="checkbox" value="1"/>
                    <h4 class="invert" data-i18n-title="expandcollapse"><span ></span></h4>
                </label>
            </div>
           
            <div class="flex--3">
                <select class="first last center" name="attr_attribute" value="">
                    <option value="" selected></option>
                    <option value="con_fire_bonus" data-i18n="con_fire">Feuer</option>
                    <option value="con_water_bonus" data-i18n="con_water">Wasser</option>
                    <option value="con_earth_bonus" data-i18n="con_earth">Erde</option>
                    <option value="con_air_bonus" data-i18n="con_air">Luft</option>
                    <option value="con_man_bonus" data-i18n="con_man">Mensch</option>
                    <option value="con_beast_bonus" data-i18n="con_beast">Tier</option>
                    <option value="con_task_bonus" data-i18n="con_task">Helfer</option>
                    <option value="con_guardian_bonus" data-i18n="con_guardian"></option>
                    <option value="con_plant_bonus" data-i18n="con_plant"></option>
                    <option value="con_blood_bonus" data-i18n="con_blood"></option>
                    <option value="banishing_fire_bonus" data-i18n="banishing_fire">Feuer</option>
                    <option value="banishing_water_bonus" data-i18n="banishing_water">Wasser</option>
                    <option value="banishing_earth_bonus" data-i18n="banishing_earth">Erde</option>
                    <option value="banishing_air_bonus" data-i18n="banishing_air">Luft</option>
                    <option value="banishing_man_bonus" data-i18n="banishing_man">Mensch</option>
                    <option value="banishing_beast_bonus" data-i18n="banishing_beast">Tier</option>
                    <option value="banishing_task_bonus" data-i18n="banishing_task">Helfer</option>
                    <option value="banishing_guardian_bonus" data-i18n="banishing_guardian"></option>
                    <option value="banishing_plant_bonus" data-i18n="banishing_plant"></option>
                    <option value="banishing_blood_bonus" data-i18n="banishing_blood"></option>
                    <option value="mod_magic" data-i18n="foki_power">Kraftfokus</option>
                    <option value="mod_metaform" data-i18n="foki_metamagic_form">Metamagiefoki Form</option>
                    <option value="foki_metamagic_mask" data-i18n="foki_metamagic_mask">Metamagiefoki Maskierung</option>
                    <option value="foki_metamagic_signature" data-i18n="foki_metamagic_signature">Metamagiefoki Signatur</option>
                    <option value="drain_mod2" data-i18n="foki_metamagic_concentration">Metamagiefoki Zentrierungsfokus</option>
                    <option value="foki_qi" data-i18n="foki_qi">Qi-Foki</option>
                    <option value="foki_entchantment" data-i18n="foki_entchantment">Verzauberung</option>
                    <option value="foki_disentchantment" data-i18n="foki_disentchantment">Entzauberung</option>
                    <option value="foki_weapon" data-i18n="foki_weapon">Waffenfokus</option>
                    <option value="foki_spell_conterspell" data-i18n="foki_spell_conterspell">Zaberfokus Antimagie</option>
                    <option value="foki_spell_rituals" data-i18n="foki_spell_rituals">Zaberfokus Ritualzauberei</option>
                    <option value="foki_spell_container" data-i18n="foki_spell_container">Zaberfokus Zauberspeicher</option>
                    <option value="spell_combat_bonus2" data-i18n="foki_spell_combat">Zaberfokus Zauberspruchfokus Kampf</option>
                    <option value="spell_health_bonus2" data-i18n="foki_spell_health">Zaberfokus Heilung</option>
                    <option value="spell_illusion_bonus2" data-i18n="foki_spell_illusion">Zaberfokus Illusion</option>
                    <option value="spell_manipulation_bonus2" data-i18n="foki_spell_manipulation">Zaberfokus Manipulation</option>
                    <option value="spell_detection_bonus2" data-i18n="foki_spell_detection">Zaberfokus Wahrnehmung</option>
                  
                </select>
            </div>
            <div class="flex--half"></div>
            <div class="flex--2">
                <input class="spellname" type="text" name="attr_focus_name" value="" />
            </div>
            <div class="flex-center">
                
                <input class="smallinput right first last" type="number" name="attr_bonus" value="2" placeholder="0" min="0" >
            </div>
            <div class="flex-center">
                <input  type="checkbox" name="attr_active" data-i18n-title="active" value="1">
            </div>
            <div class="flex--2">
                <button class="iconbutton postbutton" type="roll" name="roll_cast_focus" value="@{gm_toggle} &{template:roll}{{mainattribute=^{act_focus}}}{{specialisation=@{focus_name}}}{{description=@{ritual_desc}}}">
                    <span class="red" data-i18n="showinchat"></span>
                </button>
            </div>
        </div>        
        <div class="flexcontainer">
            <div class="flex--half"><span>&nbsp;</span></div>

            <div class="flex--8">
                <textarea  class="frist last" type="text" name="attr_ritual_desc" value=""></textarea>
            </div>
            <div class="flex--2"><span>&nbsp;</span></div>
            <div class="flex--half"><span>&nbsp;</span></div>
        </div>
    </div>
</fieldset>