<div class='notes'>
    <div class="sectionheaderstatic">
    <h4 data-i18n="notes">notes</h4>
</div>
    
    <fieldset class="repeating_notes">
        <div class="innertable">
            <div class="table-row">
                <div class="table-cell-adept-name"><input class="adeptpowername" type="text" name="attr_note_name" value="" /> </div>   
                <div class="table-cell"><input class="toggle-hide-not" name="attr_note_hidefulltext" type="checkbox" value="1"/></div>
            </div>

            <input class="toggle-hide" name="attr_note_hidefulltext" type="checkbox" value="1"/>
            <div class ="togglesection">
                <div class="table-row">
                    <textarea  class="fulltextbox" type="text" name="attr_note_desc" value=""></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</div>