<rolltemplate class="sheet-rolltemplate-post">
    <div class="sheet-template-container">
    	<div class="sheet-template-header">
    	    {{#category}}{{category}}{{/category}}
    	</div>
    	<div class="sheet-template-row">
    	    <div class="sheet-sub-headline">
    	        {{#name}}{{name}}{{/name}}
    	    </div>
    	</div>
	    <div class="sheet-template-row">
	        {{#description}}{{description}}{{/description}}
	    </div>
    </div>
</rolltemplate>
<rolltemplate class="sheet-rolltemplate-roll">
    <div class="sheet-template-container">
    	<div class="sheet-template-header">
    	    {{#mainattribute}}{{mainattribute}}{{/mainattribute}}
    	    {{#secondattribute}}+ {{secondattribute}}{{/secondattribute}}
    	    {{#specialisation}} [{{specialisation}}]{{/specialisation}}
    	    {{#expertise}}<br> [{{expertise}}]{{/expertise}}
    	</div>
    	{{#spiritheadline}}
    	    <div class="sheet-template-row">
        	    <div class="sheet-sub-headline">
        	        {{spiritheadline}}
        	    </div>
        	    {{#force}}
    	            <div class="sheet-small-black-text">
        	            (Kraftstufe {{force}})
        	        </div>
        	    {{/force}}
                {{#category}}
    	            <div class="sheet-small-black-text">
        	            ({{category}}{{#range}}, {{range}}{{/range}}{{#type}}, {{type}}{{/type}}{{#duration}}, {{duration}}{{/duration}})
        	        </div>
        	    {{/category}}
        	</div>
    	{{/spiritheadline}}
    	{{#weaponname}}
        	<div class="sheet-template-row">
        	    <div class="sheet-sub-headline">
        	        {{weaponname}}
        	    </div>
        	    {{#firemode}}
        	        {{#range}}
        	        <br>
        	        <div class="sheet-small-black-text">
        	            ({{range}}, {{firemode}})
        	        </div>
        	        {{/range}}
        	    {{/firemode}}
        	</div>
    	{{/weaponname}}
	    {{#wilddice}}
	    <div class="sheet-template-flatrow">
    	    <div class="sheet-small-black-text">
    	        (<span class="cyberberry" data-i18n="wilddie">Schicksalswürfel (W6) </span> = {{wilddice}})
    	    </div>
    	</div>
	    {{/wilddice}}
        {{#attackrating}}
    	    <div class="sheet-template-row">
                {{attackrating}} <span data-i18n="attack_value">Angriffswert</span>
    	    </div>
    	{{/attackrating}}
    	{{#defenserating}}
    	    <div class="sheet-template-row">
                {{defenserating}} <span data-i18n="defense_rating">Verteidigungswert</span>
    	    </div>
        {{/defenserating}}
    	{{#dicepool}}
    	    <div class="sheet-template-row">
                {{dicepool}} <span data-i18n="dicepool">Pool</span>
    	    </div>
        {{/dicepool}}
        
    	{{#soaksuccess}}
    	    <div class="sheet-template-row">
                {{soaksuccess}} <span data-i18n="defense_autosoak">Autoerfolge</span>
    	    </div>
    	{{/soaksuccess}}
		{{#radius}}
    	    <div class="sheet-template-row">
                {{radius}} <span data-i18n="radius"></span>
    	    </div>
        {{/radius}}

		{{#deviation}}
    	    <div class="sheet-template-row">
                {{deviation}}  
				{{#deviationoriantation}}
				{{#rollTotal() deviationoriantation 1}}		<span class="sheet-rolltemplate-diviation1" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 1}}
				{{#rollTotal() deviationoriantation 2}}		<span class="sheet-rolltemplate-diviation2" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 2}}
				{{#rollTotal() deviationoriantation 3}}		<span class="sheet-rolltemplate-diviation3" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 3}}
				{{#rollTotal() deviationoriantation 4}}		<span class="sheet-rolltemplate-diviation4" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 4}}
				{{#rollTotal() deviationoriantation 5}}		<span class="sheet-rolltemplate-diviation5" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 5}}
				{{#rollTotal() deviationoriantation 6}}		<span class="sheet-rolltemplate-diviation6" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 6}}
				{{#rollTotal() deviationoriantation 7}}		<span class="sheet-rolltemplate-diviation7" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 7}}
				{{#rollTotal() deviationoriantation 8}}		<span class="sheet-rolltemplate-diviation8" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 8}}
				{{#rollTotal() deviationoriantation 9}}		<span class="sheet-rolltemplate-diviation9" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 9}}
				{{#rollTotal() deviationoriantation 10}}	<span class="sheet-rolltemplate-diviation10" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 10}}
				{{#rollTotal() deviationoriantation 11}}	<span class="sheet-rolltemplate-diviation11" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 11}}
				{{#rollTotal() deviationoriantation 12}}	<span class="sheet-rolltemplate-diviation12" data-i18n="deviation"></span> {{/rollTotal() deviationoriantation 12}}
				{{/deviationoriantation}}
				
    	    </div>
        {{/deviation}}



    	{{#damage}}
    	    <div class="sheet-template-row">
                {{damage}} <span data-i18n="damage_value">Schaden</span> {{#damagetype}}({{damagetype}}){{/damagetype}}
    	    </div>
        {{/damage}}
    	
    	{{#damagevclose}}{{#rollGreater() damagevclose 0}}
    	    <div class="sheet-template-row">
                {{damagevclose}} <span data-i18n="damage_value">Schaden</span>   <span data-i18n="range_vclose">sehr nah</span> {{#damagetype}}({{damagetype}}){{/damagetype}}
    	    </div>
			{{/rollGreater() damagevclose 0}}{{/damagevclose}}
    	{{#damageclose}}{{#rollGreater() damageclose 0}}
    	    <div class="sheet-template-row">
                {{damageclose}} <span data-i18n="damage_value">Schaden</span> <span data-i18n="range_close">nah</span> {{#damagetype}}({{damagetype}}){{/damagetype}}
    	    </div>
			{{/rollGreater() damageclose 0}}{{/damageclose}}
        
        {{#handling}}
        <div class="sheet-template-row">
            {{handling}}<span data-i18n="vehicles_handling">Handling</span>
        </div>
        {{/handling}}
        {{#wilddieprop}}
         {{#rollGreater() wilddieprop 0}}
            <div class="sheet-template-row">
                {{wilddieprop}}  <span class="cyberberry" data-i18n="wilddie">Schicksalswürfel (W6) </span>
            </div>
         {{/rollGreater() wilddieprop 0}}
        {{#rollBetween() wilddieprop 2 4}}
            <div class="sheet-template-row">
                {{#dice}}{{dice}} <span data-i18n="nb_hits">Erfolge</span> {{/dice}} {{#actingperson}}{{actingperson}}{{/actingperson}}
    	    </div>
            {{/rollBetween() wilddieprop 2 4}}
            {{#rollTotal() wilddieprop 1}}
            <div class="sheet-template-row">
                {{#dice1}}{{dice1}} <span data-i18n="nb_hits">Erfolge</span> {{/dice1}} {{#actingperson}}{{actingperson}}{{/actingperson}}
				
    	    </div>
           
            {{/rollTotal() wilddieprop 1}}
            {{#rollBetween() wilddieprop 5 6}}
            <div class="sheet-template-row">
			
				{{#dice6}}{{dice6}} <span data-i18n="nb_hits">Erfolge</span> {{/dice6}} {{#actingperson}}{{actingperson}}{{/actingperson}}

    	    </div>
            {{/rollBetween() wilddieprop 5 6}}
            {{#rollTotal() wilddieprop 0}}
            <div class="sheet-template-row">
                {{#dice}}{{dice}}<span data-i18n="nb_hits">Erfolge</span> {{/dice}} {{#actingperson}}{{actingperson}}{{/actingperson}}

    	    </div>
            {{/rollTotal() wilddieprop 0}}
        {{/wilddieprop}}
       
        {{^wilddieprop}}
    	<div class="sheet-template-row">
            {{#dice}}{{dice}} <span data-i18n="nb_hits">Erfolge</span> {{/dice}} {{#actingperson}}{{actingperson}}{{/actingperson}}
    	</div>
        {{/wilddieprop}}

    	{{#rollGreater() spelldamage 0}}
    	    <div class="sheet-template-row">
                {{spelldamage}} <span data-i18n="damage_base">Grundschaden</span>
    	    </div>
    	{{/rollGreater() spelldamage 0}}
    	{{#spirit}}
    	    <div class="sheet-template-row">
                {{spirit}} <span data-i18n="nb_hits_spirit">Erfolge (Geist)</span>
    	    </div>
    	{{/spirit}}
    	{{#connection}}
    	    <div class="sheet-template-row">
                {{connection}} <span data-i18n="nb_hits_conncetion">Erfolge (Connetion)</span>
    	    </div>
    	{{/connection}}
    	{{#sprite}}
    	    <div class="sheet-template-row">
                {{sprite}} <span data-i18n="nb_hits_sprite">Erfolge (Geist)</span>
    	    </div>
    	{{/sprite}}
    	{{#draincode}}
    	    <div class="sheet-template-row">
                {{draincode}} <span data-i18n="spell_drain_code">Entzugscode</span>
    	    </div>
        {{/draincode}}
        {{#schwund}}
    	    <div class="sheet-template-row">
                {{schwund}} <span data-i18n="schwund">Schwund</span>
    	    </div>
        {{/schwund}}
        {{#schwunddrain}}
    	    <div class="sheet-template-row">
                {{schwunddrain}} <span data-i18n="schwunddrain">Schwund</span>
    	    </div>
    	{{/schwunddrain}}
    	{{#drain}}
    	    <div class="sheet-template-row">
                {{drain}} <span data-i18n="nb_hits_drain">Erfolge (Entzug)</span>
    	    </div>
    	{{/drain}}
    	{{#resist}}
        	<div class="sheet-template-row">
                <span data-i18n="spell_resist">Probe</span> {{resist}}
    	    </div>
        {{/resist}}
        
        {{#speed}}
    		<div class="sheet-template-row">
	            {{speed}}<span data-i18n="vehicles_speed">Erfolge (Entzug)</span>
	        </div>
        {{/speed}}
        {{#velocity}}
        <div class="sheet-template-row">
            {{velocity}}<span data-i18n="vehicles_velocity">velocity</span>
        </div>
        {{/velocity}}
        {{#distance}}
        <div class="sheet-template-row">
            {{distance}}<span data-i18n="vehicles_distance">zurückgelegt</span>
        </div>
        {{/distance}}
    	{{#description}}
    		<div class="sheet-template-row">
	            {{description}}
	        </div>
        {{/description}}
    	{{#warning}}
    		<div class="sheet-template-row rolltemplate-warning">
	            {{warning}}
	        </div>
        {{/warning}}
    </div>
</rolltemplate>
<rolltemplate class="sheet-rolltemplate-initiative">
    <div class="sheet-template-container">
    	<div class="sheet-template-header">
	        {{#mainattribute}}{{mainattribute}}{{/mainattribute}}: {{#dice}}{{dice}}{{/dice}}
    	</div>
    </div>
</rolltemplate>