<div class="sectionheader">
    <label>
        <input class="toggle-hide" name="attr_states" type="checkbox" value="1" checked />
        <h4> <span data-i18n="state">status</span></h4>
    </label>
</div>
<input class="toggle-hide" name="attr_states" type="checkbox" value="1" checked />
<div class="togglesection">
    <div class="flex-table">
        <div class="flexcontainer">
            <div class="flex--2">
                <span class="red " data-i18n="name"></span>
            </div>
            <div class="flex-center pd--right pd--left">
                <span class="red" data-i18n="modifierfor"></span>
            </div>
            <div class="flex-center">
                <span class="red" data-i18n="mod"></span>
            </div>
            <div class="flex-center pd--right pd--left">
                <span class="red" data-i18n="modifierfor"></span>
            </div>
            <div class="flex-center">
                <span class="red" data-i18n="mod"></span>
            </div>
            <div class="flex-center">
                <span class="red" data-i18n="active"></span>
            </div>
        </div>
    </div>
    <fieldset class="repeating_states">
        <div class="flex-table">
            <div class="flexcontainer">
                <div >
                    <input class="middleinput first last flex--2" type="text" name="attr_name">
                </div>
                <div class="flexcontainer pd--left pd--right">
                    <%- include('bonusoptions.ejs',{attr:"attribute"}); %>
                </div>
                <div class="flex-center">
                    <input class="smallinput first last" type="number" name="attr_bonus">
                </div>
               
                <div class="flexcontainer pd--left pd--right">
                    <%- include('bonusoptions.ejs',{attr:"attribute2"}); %>
                </div>
                <div class="flex-center">
                    <input class="smallinput first last" type="number" name="attr_bonus2">
                </div>
                <div class="flex-center">
                    <input  type="checkbox" name="attr_active" value="1">
                </div>
            </div>
        </div>
    </fieldset>

</div>