/*/ Styles for 2ESheet rolltemplates /*/
.sheet-rolltemplate-darkmode .inlinerollresult {
  color: rgb(255, 171, 0);
}

.sheet-rolltemplate-2Edefault,
.sheet-rolltemplate-2Eattack,
.sheet-rolltemplate-2Espell,
.sheet-rolltemplate-2Eprotscroll,
.sheet-rolltemplate-2Echeck,
.sheet-rolltemplate-2Einversecheck,
.sheet-rolltemplate-2Egrenademiss,
.sheet-rolltemplate-2Epocrit,
.sheet-rolltemplate-2Esave,
.sheet-rolltemplate-2Epsionic {
  //#region Styles common to all 2E Templates
  .sheet-ignore-inlineroll .inlinerollresult {
    background-color: inherit;
    border: none;
    color: #000000;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
  }

  div.sheet-template-container {
    border: none;
    text-align: left;
  }

  table {
    width: 100%;
  }

  //#endregion

  //#region Styles common to all 2E Template Headers
  th {
    font-size: 12pt;
    font-weight: bold;
    font-family: "verdana", "tahoma", "ariel", sans-serif;
    text-align: center;
    color: white;
    border: none;
    padding: 2px;
    margin: 0;
    background-color: transparent;
  }

  tr:nth-child(n+2) th {
    font-size: 8pt;
    font-weight: normal;
    font-style: italic;
    padding: 1px;
    vertical-align: top;
  }

  div.sheet-template-head {
    border: 1px solid #000000;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 5px 3px 3px;
    margin-bottom: 0;

    &.sheet-red {
      background: #a01616;
    }

    &.sheet-yellow {
      background: #cdcd00;
    }

    &.sheet-blue {
      background: #06aedc;
    }

    &.sheet-dark-blue {
      background: #1f2354;
    }

    &.sheet-green {
      background: #093a01;
    }

    &.sheet-orange {
      background: #e67e22;
    }

    &.sheet-gray {
      background: #7f8c8d;
    }

    &.sheet-brown {
      background: #935116;
    }

    &.sheet-purple {
      background: #bb07d8;
    }

    &.sheet-dark-purple {
      background: #512E5F;
    }
  }

  //#endregion

  //#region Styles common to all 2E Template Bodies
  .sheet-template-body {
    border: 1px solid black;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #727272;
    padding: 4px;
    margin-top: -1px;

    table {
      border: 1px solid black;
    }

    tr:nth-child(even) {
      background-color: #e0e0e0;
    }

    tr:nth-child(odd) {
      background-color: #f4f4f4;
    }

    td {
      border: 1px solid black;
      color: #000000;
      font-family: "verdana", sans-serif;
      margin: 0;
      padding: 4px;
    }
  }

  //endregion
}

/*#region Styles for the 2Edefault Template /*/
.sheet-rolltemplate-2Edefault {
  .sheet-template-head {
    background: #093a01;
  }

  td {
    &.sheet-template-default-key {
      border-right: none;
      font-size: 9pt;
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
    }

    &.sheet-template-default-value {
      border-left: none;
      font-size: 10pt;
      text-align: center;
    }

    &.sheet-template-default-desc {
      font-size: 9pt;
      text-align: left;
    }
  }
}

/*#endregion*/

/*#region Styles for the 2Eattack Template /*/
.sheet-rolltemplate-2Eattack {
  .sheet-template-head {
    background: #a01616;
  }

  .sheet-template-body td {
    border: 0;
  }

  td {
    width: 33%;
    padding: 5px;
    text-align: center;
    background-color: #f4f4f4;

    &.sheet-template-attack-image {
      background-repeat: no-repeat;
      background-size: 50px 50px;
      background-position: center;
      height: 50px;
      text-align: center;
      border-bottom: none;

      .inlinerollresult {
        display: inline-block;
        font-size: 12pt;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        color: black;
        border: none;
        background-color: transparent;

        &.fullcrit {
          color: #093a01;
        }

        &.fullfail {
          color: #a01616;
        }

        &.importantroll {
          color: #000000;
        }
      }
    }

    &.sheet-template-attack-ac {
      background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/ac.png");
    }

    &.sheet-template-attack-dmg {
      background-image: url("https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ADnD_2E_Revised/img/rolltemplate/dmg.png");
    }
  }

  span {
    font-size: 10pt;

    &.sheet-weapon-used {
      font-style: italic;
      color: black;
    }

    &.sheet-attack-crit,
    &.sheet-attack-fumble {
      font-weight: normal;
      padding: 2px;
    }
  }
}

/*#endregion*/

/*#region Styles for the 2Espell & 2Eprotscroll Template /*/
.sheet-rolltemplate-2Espell,
.sheet-rolltemplate-2Epsionic,
.sheet-rolltemplate-2Eprotscroll {
  .sheet-template-head {
    background: #1f2354;
  }

  td.sheet-spell-c1 {
    font-size: 10pt;
    text-align: center;
    width: 50%;
  }

  td.sheet-spell-c2 {
    font-size: 9pt;
    text-align: justify;
  }

  span.sheet-spell-prop {
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
  }
}
/*#endregion*/

/*#region Styles for the 2Esave, 2Echeck, and 2Einversecheck Template /*/
.sheet-rolltemplate-2Esave {
  .sheet-template-head {
    background: #e67e22;
  }
}

.sheet-rolltemplate-2Echeck,
.sheet-rolltemplate-2Einversecheck {
  .sheet-template-head {
    background: #512E5F;
  }
}

/*#endregion*/

/*#region Styles for the 2Egrenade Template /*/
.sheet-rolltemplate-2Egrenademiss {
  .sheet-template-head {
    background: #B7A64E;
  }

  td.sheet-grenade-c1 {
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
  }

  .sheet-hit-text {
    font-size: 10pt;
  }

  .sheet-miss-text {
    font-size: 8pt;
  }
}
/*#endregion*/

/*#region Styles for the 2Epocrit Template*/
.sheet-rolltemplate-2Epocrit {
  .sheet-template-head {
    background: #a01616;
  }

  .sheet-template-body td {
    font-size: 10pt;
  }

  p,
  p .inlinerollresult {
    font-size: 10pt;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .sheet-template-injury {
    font-size: 9pt;
    font-style: italic;
  }

  .sheet-template-injury span {
    display: inline-block;
    margin-left: 8px;
    text-indent: -8px;
  }
}
/*#endregion*/

/*#region Roll checks Template*/
.sheet-rolltemplate-2Espell,
.sheet-rolltemplate-2Esave,
.sheet-rolltemplate-2Echeck,
.sheet-rolltemplate-2Einversecheck,
.sheet-rolltemplate-2Egrenademiss,
.sheet-rolltemplate-2Epsionic {
  tr.sheet-check {
    border: none;

    td {
      font-size: 10pt;
      font-weight: bold;
      text-align: center;
      border: none;
    }

    td:nth-child(odd) {
      width: 50%;
    }

    td:nth-child(even) {
      width: 1%;
    }
  }
}
/*#endregion*/

/*#region Success, Failure, Info sections*/
.sheet-rolltemplate-2Eattack,
.sheet-rolltemplate-2Espell,
.sheet-rolltemplate-2Esave,
.sheet-rolltemplate-2Echeck,
.sheet-rolltemplate-2Einversecheck,
.sheet-rolltemplate-2Epsionic,
.sheet-rolltemplate-2Egrenademiss {
  .sheet-template-body .sheet-template-result {
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #ffffff;

    .inlinerollresult {
      background-color: transparent;
      border: none;
    }

    span.sheet-template-result-description {
      font-size: 10pt;
      font-weight: normal;
      padding: 2px;
    }
  }

  .sheet-template-success {
    background-color: #093a01;
  }

  .sheet-template-failure {
    background-color: #a01616;
  }

  .sheet-template-info {
    background-color: #001BB5;
  }
}
/*#endregion*/

/*#region Styles for Optional table for Spells, Psionics, Protscrolls, and Proficiencies*/
.sheet-rolltemplate-2Espell,
.sheet-rolltemplate-2Epsionic {
  .sheet-template-body {
    .sheet-spell-table {
      border: none;

      tr {
        background-color: transparent;
      }
    }
  }

  .sheet-spell-table {
    td {
      text-align: left;
      vertical-align: top;
      min-width: 40px;
      border: none;
      margin: 0;
      padding: 0;
    }

    td.sheet-spell-fixed,
    &.sheet-spell-fixed td,
    &.sheet-spell-fixed1 td:nth-child(1),
    &.sheet-spell-fixed2 td:nth-child(2),
    &.sheet-spell-fixed3 td:nth-child(3),
    &.sheet-spell-fixed4 td:nth-child(4),
    &.sheet-spell-fixed5 td:nth-child(5) {
      white-space: nowrap;
    }

    td.sheet-spell-min,
    &.sheet-spell-min td,
    &.sheet-spell-min1 td:nth-child(1),
    &.sheet-spell-min2 td:nth-child(2),
    &.sheet-spell-min3 td:nth-child(3),
    &.sheet-spell-min4 td:nth-child(4),
    &.sheet-spell-min5 td:nth-child(5) {
      width: 1px;
      min-width: 20px;
    }

    td.sheet-spell-center,
    &.sheet-spell-center td,
    &.sheet-spell-center1 td:nth-child(1),
    &.sheet-spell-center2 td:nth-child(2),
    &.sheet-spell-center3 td:nth-child(3),
    &.sheet-spell-center4 td:nth-child(4),
    &.sheet-spell-center5 td:nth-child(5) {
      text-align: center;
    }

    td.sheet-spell-justify,
    &.sheet-spell-justify td,
    &.sheet-spell-justify1 td:nth-child(1),
    &.sheet-spell-justify2 td:nth-child(2),
    &.sheet-spell-justify3 td:nth-child(3),
    &.sheet-spell-justify4 td:nth-child(4),
    &.sheet-spell-justify5 td:nth-child(5) {
      text-align: justify;
    }

    td.sheet-spell-left,
    &.sheet-spell-left td,
    &.sheet-spell-left1 td:nth-child(1),
    &.sheet-spell-left2 td:nth-child(2),
    &.sheet-spell-left3 td:nth-child(3),
    &.sheet-spell-left4 td:nth-child(4),
    &.sheet-spell-left5 td:nth-child(5) {
      text-align: left;
    }

    td.sheet-spell-right,
    &.sheet-spell-right td,
    &.sheet-spell-right1 td:nth-child(1),
    &.sheet-spell-right2 td:nth-child(2),
    &.sheet-spell-right3 td:nth-child(3),
    &.sheet-spell-right4 td:nth-child(4),
    &.sheet-spell-right5 td:nth-child(5) {
      text-align: right;
    }

    td.sheet-spell-bottom,
    &.sheet-spell-bottom td,
    &.sheet-spell-bottom1 td:nth-child(1),
    &.sheet-spell-bottom2 td:nth-child(2),
    &.sheet-spell-bottom3 td:nth-child(3),
    &.sheet-spell-bottom4 td:nth-child(4),
    &.sheet-spell-bottom5 td:nth-child(5) {
      vertical-align: bottom;
    }

    &.sheet-spell-gray-pair3 tr:nth-child(6n+1),
    &.sheet-spell-gray-pair3 tr:nth-child(6n+2),
    &.sheet-spell-gray-pair3 tr:nth-child(6n+3) {
      background-color: rgb(0, 0, 0, 10%);
    }
  }
}
/*#endregion*/