.nav-child
  borderCommon()
  width 100%
  text-align-last center
  margin 0.1em
  label
    margin 0
    padding 0
    cursor pointer
    color #4c4d4f !important
    &:hover
      background #ccc
      transition 0.5s ease

.page-button-back
  padding 0.1em 0em 0.1em 0em
  font-weight 600

.page-button
  &:checked
    & ~ div
      &.page-button-back
        background #4c4d4f
        color #fff
        transition 0.5s ease

.summary
  margin-top 1em

.nav-row
  display flex

label.page-label
  text-align center

div.optional-nav-sites
  width 0
  margin 0
  border 0
  transition 0.5s ease

input.optional-nav-sites:checked ~ div.optional-nav-sites
  show-hide(0.3s)
  width 100%
  borderCommon()
  margin auto
