section.page#page-personnage
    div.col.col-2
        +textLabelled('nom', 'Nom', 'name')
        +textLabelled('age', 'Âge')
        +textLabelled('sex', 'Sexe')
    div.col.col-2
        +numberLabelled('pex', 'Points d’exp.', 'pex', 0).pex
        +profile('profile-1')
        +profile('profile-2')
    div#arcanes
        +blessedArcana('arcane1')
        +blessedArcana('arcane2')
    div#looking
        .col2
            h3.blue Description
            +textareaInput('description')
        .col2
            h3.blue Habillement
            +textareaInput('clothing')