.charsheet section#page-personnage
    flex-direction: row
    flex-wrap: wrap
    align-content: flex-start
    & .pex > input[type=number]
        text-align: left
        padding-left: 4px

    &> #arcanes
        padding-top: 12px
        width: 100%
        align-content: space-between
    &> #looking
        padding-top: 8px
        width: 100%
        align-content: space-between
        flex-direction: row
        &> .col2
            flex-wrap: wrap
            width: 50%
        & textarea,
        & h3
            width: 100%
        & textarea
            @include textareaLined(24px, 22px)
            font-family: 'Shadows Into Light'
            font-style: italic
            font-size: 16px