.sheet-centered {
    font-family: system-ui;
    font-size: small;
}

h3 {
    margin: 0;
    font-size: medium;
    font-family: system-ui;
}

i {
    margin-top: -10px;
    float: right;
    font-size: medium;
    color: blueviolet;
}

ul {
    margin-top: 0;
}

li::before {

}
.sheet-trademarks li:first-child {
    list-style-type: none;
    border-bottom: 2px solid black;
    margin-left: -40px;
    background-color: blueviolet;
}

.sheet-trademarks li:first-child input{
    font-weight: bolder;
    background-color: transparent;
    color: white;
}

li {
    list-style-type: "[+] ";
}

.sheet-traumas li, .flaws li {
    list-style-type: "[-] ";
}

div.sheet-centered      { width: 600px; }
div.sheet-columns       { width: 680px;  margin: 0 auto;}

.sheet-column_left, .sheet-column_right {
    width: 300px;
    float: left;
    margin: 10px;
    /*  border: 1px solid red;*/
}
.sheet-center {
    text-align: center;
}
.sheet-border {
    border : 2px solid indigo;
    margin-bottom: 3px;
    margin-top: 0;
}


.sheet-stunts {
    background-color: indigo;
    color: white;
}

.sheet-stunts span {
    display: inline-block;
    margin-left: 10px;
}

.sheet-stunts span h3 {
    color: white;
}

.sheet-stunts span input[type="number"] {
    width: 70px;
    height: 40px;
    text-align: center;
    border: 1px solid indigo;
    color: indigo;
    font-size:2em;
}

input[type="checkbox"] {
    margin: 1px;
    background: palevioletred;
}


.sheet-conditions div span {
    width: 30%;
    display: inline-block;
}

.sheet-conditions div.sheet-free span {
    width: 100%;
}


.sheet-conditions input[type="text"] {
    width: 91%;
}

input[type="text"] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #b3d4fc;
    width: 95%;
    margin: 2px;
    color: indigo;
}
textarea {
    width: 293px;
    color: indigo;

}
.sheet-gears_h3 {
    margin-bottom: -8px;
}
.sheet-gears {
    height: 200px;
    resize: none;
}
.sheet-nickname {
    background-color: blueviolet;
}
.sheet-nickname input{
    background-color: blueviolet;
    color: white;
    font-size: large;
}
.sheet-nickname input::placeholder{
    color: white;
}

.sheet-description{
    height:160px;
    resize: none;
}

.sheet-image h2 {
    color: yellow;
    text-align: center;
    -webkit-text-stroke: 1px indigo;
    font-size: 2em;
}

.sheet-image h1 {
    color: indigo;
    font-size: 4em;
    text-align: center;
}

.sheet-edit {
    visibility: hidden;
}
.sheet-edit:after {
    content: "Edit";
    visibility: visible;
    color: palevioletred;
}

.sheet-edit:checked:after {
    color: indigo;
    font-weight: bold;
}
.sheet-edit:not(checked) + .sheet-columns input[type="text"],
.sheet-edit:not(checked) + .sheet-columns textarea {
    pointer-events: none;
}
.sheet-edit:checked + .sheet-columns input[type="text"],
.sheet-edit:checked + .sheet-columns textarea {
    pointer-events: auto;
}

button {
    position: absolute;
    border: 2px solid indigo;
    background-color: #b3d4fc;
    color: indigo;
    left: 290px;
    top: 96px;
    width: 40px;
    height: 40px;
}

.sheet-rolltemplate-roll div.sheet-template-container {
    background-color: #FFF !important;
    border: 2px solid #000 !important;
    border-right: 4px solid #000 !important;
    border-bottom: 4px solid #000 !important;
    border-radius: 3px 3px 3px 3px;
}

.sheet-rolltemplate-roll div.sheet-template-container div.sheet-results {
    background-color: #fff !important;
}

.sheet-rolltemplate-roll div.sheet-template-container div.sheet-results h4 {
    background-color: #fff !important;
    padding: 3px;
}

.sheet-rolltemplate-roll div.sheet-template-container h3 {
    background-color: #8824a9 !important;
    color: #fff;
}
