section#jobclass.job
  +hidden({name:'class', class:'color-control', value:'general'})
  +input({name:'job', class:'h1-style-input color-receiver', 'data-i18n-placeholder':'job', readonly: true})
  h3(data-i18n='flavor text')
section#jobclass.class
  +hidden({name:'class', class:'color-control', value:'general'})
  +input({name:'class', class:'h1-style-input color-receiver', 'data-i18n-placeholder':'class', readonly: true})
  h3(data-i18n='special mechanics')