section#jobclass.job
  +hidden({name:'class', class:'color-control', value:'general'})
  +input({name:'job', class:'h1-style-input color-receiver', 'data-i18n-placeholder':'job', readonly: true})
  +textarea({name:'job flavor text', class:'serif emph textarea-5', 'data-i18n-placeholder':'primary job flavor text', spellcheck:'false'})
  h3(data-i18n='secondary jobs')
  //- repcol makes the contents of the repcontainer flow automatically to save on vertical space
  .repcol
    +fieldset({name:'jobs'})
      .grid__2col.no-gap
        +hidden({name:'class', class:'color-control', value:'inactive'})
        +text({name:'name', class:'h3-style-input color-receiver center job-h1-receiver', 'data-i18n-placeholder':'job'})
        .color-selector
          +hidden({name:'class', class:'color-control', value:'inactive'})
          +select({name:'class', class:'color-selector color-receiver', style:'height:39px; width:100%;'})
            +option({value:'general', 'data-i18n':'general'})
            +option({value:'stalwart', 'data-i18n':'stalwart'})
            +option({value:'vagabond', 'data-i18n':'vagabond'})
            +option({value:'mendicant', 'data-i18n':'mendicant'})
            +option({value:'wright', 'data-i18n':'wright'})
            +option({value:'inactive', 'data-i18n':'inactive', selected:true})
      +textarea({name:'gambit', class:'textarea-3', 'data-i18n-placeholder':'job gambit desc'})
section#jobclass.class
  +hidden({name:'class', class:'color-control', value:'general'})
  +input({name:'class', class:'h1-style-input color-receiver', 'data-i18n-placeholder':'class', readonly: true})
  +textarea({name:'class notes', class:'textarea-5', 'data-i18n-placeholder':'class notes desc'})
  +input-label({label:'special mechanic',
    inputObj:{name:'special mechanic', class:'underlined h3-style-input', type:'text'},
    spanObj:{role:'heading', 'aria-level':3, class:'normal'}
  })
  +textarea({name:'special mechanic desc', class:'textarea-4', 'data-i18n-placeholder':'special mechanic desc'})
  .hide-note
    h5('data-i18n'='class resource')
    +checkbox({class:'collapse', value:'1', name:'collapse-ambition'})
    .notes.expanded.repcol.fit50
      +fieldset({name:'class-resource'})
        .wealth.grid__3col.boxed.well-padded.center
          +number({name:'number', class:'h3-style-input', placeholder:'0'})
          p(class='colon')
          +text({name:'name', class:'wealth uppercase', 'data-i18n-placeholder':'resource'})