- var trackValues = { 5: '+5', 4: '+4', 3: '+4', 2: '+2', 1: '+1', 0: '0' }
div.sheet-resources
  div
    h2 Health
    img
    select(name='attr_health')
      each val, index in trackValues
        option(value=index)=val

  div
    h2 Spirit
    img
    select(name='attr_spirit')
      each val, index in trackValues
        option(value=index)=val

  div
    h2 Supply
    img
    select(name='attr_supply')
      each val, index in trackValues
        option(value=index)=val