.matrix-switches
  input(type='hidden' name='attr_hot_sim' value='0')
  .matrix-mode
    h3(data-i18n='mode')
    .sheet-switch-3
      label(data-i18n-title='augmented reality switch' title='augmented reality switch')
        input(name='attr_matrix_mode_toggle' type='radio' value='ar' checked)
        span.text-uppercase(data-i18n='ar')
      label(data-i18n-title='virtual reality cold switch' title='virtual reality cold switch')
        input(name='attr_matrix_mode_toggle' type='radio' value='cold')
        span.text-uppercase(data-i18n='vr (cold)')
      label(data-i18n-title='virtual reality hot switch' title='virtual reality hot switch')
        input(name='attr_matrix_mode_toggle' type='radio' value='hot')
        span.text-uppercase(data-i18n='vr (hot)')
  .running-silent
    h3(data-i18n='running silent')
    label.switch(data-i18n-title='running silent switch' title='running silent switch')
        input.whisper-toggle(name='attr_running_silent' type='checkbox' value='2')
        span.slider