/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	min-width: 800px;
}

/* Universal styling applied to all elements of these types */

h2 {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: left;
}

label {
	display: inline-block;
	vertical-align: top;
	width: 31%;
	min-width: 50px;
}

input {
	display: inline-block;
	width: 350px;
	border: solid 1px;
}

img {
	max-height: 100px;
	align: center;
}

button {
	border: solid 1px;
}

/* Targetted styling that only effects elements with these classes */

img.sheet-icon {
	max-height: 20px;
	align: center;
}

div.sheet-colfull {
	vertical-align: top;
	text-align: center;
    	width: 99%;
}

div.sheet-colwide {
	display: inline-block;
	vertical-align: top;
    	width: 75%;
	margin-right: 10px;
}

div.sheet-colnarrow {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

div.sheet-colcheckfield {
	display: inline-block;
	vertical-align: center;
	width: 70%;
}

div.sheet-colleft {
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

div.sheet-colallegiances {
	display: inline-block;
	vertical-align: top;
	width: 52%;
}

div.sheet-colfavors {
	display: inline-block;
	vertical-align: top;
	width: 47%;
}

div.sheet-colthresholds {
	display: inline-block;
	vertical-align: top;
	width: 99%;
}

div.sheet-colhealth1 {
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

div.sheet-colhealth2 {
	display: inline-block;
	vertical-align: top;
	width: 22%;
}

div.sheet-colhealth3 {
	display: inline-block;
	vertical-align: top;
	width: 27%;
}

div.sheet-colhealth4 {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

label.sheet-section1 {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 175px;
}

label.sheet-section2 {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 175px;
}

label.sheet-3col {
	display: inline-block;
	vertical-align: top;
	width: 99%;
}

label.sheet-3colred {
	display: inline-block;
	vertical-align: top;
	width: 99%;
	color: red;
}

label.sheet-3colorange {
	display: inline-block;
	vertical-align: top;
	width: 99%;
	color: orange;
}

label.sheet-3colgreen {
	display: inline-block;
	vertical-align: top;
	width: 99%;
	color: green;
}

label.sheet-hitthresh {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 15%;
}

label.sheet-hits {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 10%;
}

label.sheet-health {
	display: inline-block;
	vertical-align: middle;
	width: 5%;
}

label.sheet-abilitiessection {
	display: inline-block;
	vertical-align: middle;
	width: 47%;
	font-size: 18px;
	margin-bottom: 0px;
	margin-top: 5px;
}

label.sheet-abilities {
	display: inline-block;
	vertical-align: middle;
	width: 44%;
	font-size: 13px;
	margin-bottom: 0px;
	margin-top: 5px;
}

label.sheet-lifestyle {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 70px;
	margin-bottom: 0px;
}

label.sheet-wealth1 {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 100px;
	margin-bottom: 0px;
}

label.sheet-wealth2 {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 120px;
	margin-bottom: 0px;
}

label.sheet-number-red {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	color: red;
}

label.sheet-number-yellow {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	color: orange;
}

label.sheet-number-green {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	color: green;
}

input.sheet-section1 {
	width: 420px;
}

input.sheet-section1withcheck {
	width: 560px;
}

input.sheet-medium {
	width: 370px;
}

input.sheet-wealth {
	width: 20px;
}

input.sheet-short {
	width: 17%;
}

input.sheet-health {
	width: 5%;
}

input.sheet-check {
	width: 20px;
}

input.sheet-healthcheck {
	vertical-align: middle;
	width: 20px;
}

input.sheet-radio {
	vertical-align: middle;
	text-align: right;
	width: 20px;
}

textarea.sheet-txtarea1 {
	height: 100px;
	width: 410px;
	resize: none;
	border: solid 1px;
}

textarea.sheet-txtarea2 {
	height: 100px;
	width: 99%;
	resize: none;
	border: solid 1px;
}

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: left;
}

.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}

.sheet-stats input {
	margin-right: 8%;
	width: 17%;
}