.header
  .name-container
    img(src='https://app.roll20.net/images/dndstyling/srd5_360.png' style='padding-bottom: 5px;' alt='SRD5 by Roll20')
    input(type='text' name='attr_character_name' style='width: 100%;')
    span.label(data-i18n='char-name-u') CHARACTER NAME
  input.options-flag(type='checkbox' name='attr_options-class-selection' checked='checked')
  span y
  .header-info.options
    .row(style='border-top: 2px dashed gold;')
      span(data-i18n='class:-u') CLASS:
      input.flag(type='hidden' name='attr_custom_class')
      select.hiding.class(name='attr_class')
        option(value='' data-i18n='choose') Choose
        option(value='Artificer' data-i18n='artificer') Artificer
        option(value='Barbarian' data-i18n='barbarian') Barbarian
        option(value='Bard' data-i18n='bard') Bard
        option(value='Cleric' data-i18n='cleric') Cleric
        option(value='Druid' data-i18n='druid') Druid
        option(value='Fighter' data-i18n='fighter') Fighter
        option(value='Monk' data-i18n='monk') Monk
        option(value='Paladin' data-i18n='paladin') Paladin
        option(value='Ranger' data-i18n='ranger') Ranger
        option(value='Rogue' data-i18n='rogue') Rogue
        option(value='Sorcerer' data-i18n='sorcerer') Sorcerer
        option(value='Warlock' data-i18n='warlock') Warlock
        option(value='Wizard' data-i18n='wizard') Wizard
      input.showing(type='text' name='attr_cust_classname' style='width: 90px;')
      span(data-i18n='subclass:-u') SUBCLASS:
      input(type='text' name='attr_subclass')
      span(data-i18n='lvl:-u') LEVEL:
      input.class-level(type='number' style='width: 40px' name='attr_base_level' value='1')
    .row
      span(data-i18n='race:-u') RACE:
      input(type='text' name='attr_race')
      span(data-i18n='subrace:-u') SUBRACE:
      input(type='text' name='attr_subrace')
  .header-info.display
    .top
      .hlabel-container
        input.class-display.no_events(type='text' name='attr_class_display')
        span.label(data-i18n='class-level-u') CLASS &amp; LEVEL
      .hlabel-container
        input(type='text' name='attr_background' style='width: 182px;')
        span.label(data-i18n='background-u') BACKGROUND
    .bottom
      .hlabel-container
        input.no_events(type='text' name='attr_race_display')
        span.label(data-i18n='race-u') RACE
      .hlabel-container
        input(type='text' name='attr_alignment')
        span.label(data-i18n='alignment-u') ALIGNMENT
      .hlabel-container(style='position: relative;')
        input(type='hidden' name='attr_invalidXP')
        input(type='text' name='attr_experience')
        span.label(data-i18n='exp-pts-u') EXPERIENCE POINTS
        input.showleveler(type='hidden' name='attr_showleveler' value='0')
        button.levelerbutton(type='action' name='act_launch_lvl+mancer' style='padding: 0px; position: absolute; top: -10px; right: 0px;' title='Charactermancer Level Up')
          img(src='https://s3.amazonaws.com/files.d20.io/images/175804938/qmVmtNHONHhHcd9cxCxm7w/med.png?1604618286' style='height: 18px; width: 18px; max-width: inherit;' alt='Wand & Hammer logo of Charactermancer')
        .invalidXP
          span.icon !
          span.message(data-i18n='invalidxp') Enter a number for Level Up reminder