.header
  .alignment
    input.alignment__value(name="attr_alignment", type="text")
    .alignment__label(data-i18n="Alignment") Alignment
  .playername
    input.playername__value(name="attr_playername", type="text")
    .playername__label(data-i18n="Player Name") Player Name
  .logo
  .classlevel
    .class
      input.class__value(type="text", name="attr_class", title="@{class}")
      .class__label(data-i18n="Class") Class
    .level
      input.level__value(type="text", name="attr_level", title="@{level}")
      .level__label(data-i18n="Level") Level
  .background
    input.background__value(name="attr_background", type="text")
    .background__label(data-i18n="Background") Background
  .name
    input.name__value(name="attr_character_name", type="text")
    .name__label(data-i18n="Character Name") Character Name
  .race
    input.race__value(name="attr_race", type="text")
    .race__label(data-i18n="Race") Race
