@font-face {
    font-family: 'Lalezar';
    src: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Fonts/Lalezar-Regular.ttf');
}

@font-face {
    font-family: 'Trocchi';
    src: url('https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Fonts/Trocchi-Regular.ttf');
}

/* Defaults  */
.ui-dialog .charsheet {
    padding: 0;
}

.character-sheet .row {
    display: flex;
    max-width: 100%;
    margin: 0;
}

.col-12 {
    width: 100%;
    padding: 0 10px;
}

.col-10 {
    width: 83%;
    padding: 0 10px;
}

.col-9 {
    width: 75%;
    padding: 0 10px;
}

.col-8 {
    width: 66%;
    padding: 0 10px;
}

.col-7 {
    width: 58%;
    padding: 0 10px;
}

.col-6 {
    width: 50%;
    padding: 0 10px;
}

.col-5 {
    width: 41%;
    padding: 0 10px;
}

.col-4 {
    width: 33%;
    padding: 0 10px;
}

.col-3 {
    width: 25%;
    padding: 0 10px;
}

.col-2 {
    width: 17%;
    padding: 0 10px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.character-sheet input,
.character-sheet select {
    font-family: 'Trocchi', serif;
    background: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid #231f20;
    display: inline-block;
    font-size: 16px;
    color: #000;
    line-height: 22px;
    height: 28px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 0;
}

.character-sheet input.transparent {
    background: transparent;
    line-height: 16px;
    height: auto;
    padding: 5px 5px 0;
}

.character-sheet input:focus {
    border: 1px solid #231f20;
    outline: none;
}

.charactersheet {
    padding: 0;
}

.character-sheet textarea {
    background-attachment: local;
    background-color: #Fff;
    background-image:
        linear-gradient(to right, white 5px, transparent 5px),
        linear-gradient(to left, white 5px, transparent 5px),
        repeating-linear-gradient(white, white 35px, #3e5f76 35px, #3e5f76 36px, white 36px);
    line-height: 36px;
    font-size: 16px;
    padding: 5px;
    border: 3px solid #3e5f76;
    width: calc(100% - 15px);
    box-shadow: 4px 4px 0px 0px #00000057;
    height: 179px;
    resize: vertical;
    margin: 0;
}

.charsheet .character-sheet button[type="roll"],
.charsheet .character-sheet button[type="action"] {
    border: 0;
    font-family: 'Lalezar';
    background: transparent;
    padding: 0 8px;
    text-transform: uppercase;
    color: #231f20;
    cursor: pointer;
    transition: .3s all ease;
    margin-right: 5px;
    text-shadow: none;
    border-radius: 4px;
}

.charsheet .character-sheet button[type="roll"]:hover,
.charsheet .character-sheet button[type="action"]:hover {
    background: #231f20;
    color: #fff;
}

.charsheet .character-sheet button[type="roll"]::before,
.charsheet .character-sheet button[type="action"]::before {
    color: #893fc8;
    font-size: 20px;
    margin-right: 5px;
    font-family: "dicefontd20";
    content: "t";
}

.charsheet .character-sheet input[type="checkbox"] {
    width: auto;
}

.charsheet .character-sheet input.circle-input {
    width: 20px;
    padding: 0 9px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #231f20;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 2px;
}

.charsheet .character-sheet input.circle-input:checked {
    background-color: #231f20;
}

/* Custom modules */
.character-sheet {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/sheet-bg.webp);
    background-size: cover;
    background-position: top center;
    padding: 10px 30px;
    padding-bottom: 30px;
    color: #231f20;
    font-family: 'Lalezar', sans-serif;
    border: 1px solid #231f20;
    min-width: 1050px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.character-sheet .secret-roll {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    color: #231f20;
    display: flex;
    align-items: center;
    margin: 3px 0;
    padding-left: 13px;
    width: auto;
    line-height: 25px;
}

.character-sheet .secret-roll input {
    margin-right: 8px;
}

.character-details {
    padding: 40px 40px 30px;
}

.character-details label {
    font-size: 20px;
    margin: 0;
    width: auto;
    margin-right: 3px;
    white-space: nowrap;
    vertical-align: bottom;
    line-height: 16px;
    text-transform: uppercase;
}

.charsheet .title-label {
    font-size: 30px;
    text-transform: uppercase;
}

.charsheet .subtitle-label {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 10px;
}

.charsheet .center {
    text-align: center;
}

.character-details input {
    margin: 0 5px;
    width: 100%;
}

.character-details .flex {
    margin-bottom: 15px;
    align-items: flex-end;
}

.character-details .center-inputs {
    align-items: baseline;
}

.character-details .center-inputs input {
    text-align: center;
}

.character-details .center-inputs p {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Lalezar';
    font-size: 15px;
}

.character-details .input-with-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charsheet .character-sheet .coin-flip-button[type="roll"] {
    font-size: 22px;
    height: 38px;
    line-height: 36px;
}

.charsheet .character-sheet .coin-flip-button[type="roll"]::before {
    vertical-align: text-bottom;
}

.attribute-box {
    text-align: right;
    margin-bottom: 5px;
}

.attribute-label {
    padding-right: 56px;
    margin-left: -40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.attribute-label::before {
    content: "";
    background: linear-gradient(90deg, rgb(35 31 32 / 75%) 0%, rgb(51 51 51 / 59%) 60%, rgba(0, 181, 255, 0) 100%);
    display: block;
    height: 24px;
    width: 100%;
}

.attribute-label button {
    font-size: 25px;
    height: 32px;
    line-height: 30px;
}

.skill-box {
    text-align: right;
}

.skill-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.skill-label button {
    font-size: 18px;
    height: 32px;
    line-height: 26px;
}

.skill-label button::before {
    vertical-align: text-top;
}

.luck-box {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.luck-box-inner {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.luck-box-inner .title-label {
    position: absolute;
    bottom: 100%;
    left: 0;
}

.luck-box .circle-input {
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.luck-box .circle-input:checked~.circle-input {
    background-color: #231f20;
}

.luck-input-box {
    background: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/luck-ring.png) no-repeat center;
    background-size: cover;
    padding: 50px;
    margin-left: -26px;
}

.charsheet .luck-input-box input.luck-input {
    width: 56px;
    height: 56px;
    text-align: center;
    border-radius: 100%;
    border: 3px solid #6d3d16;
    font-size: 30px;
    padding-bottom: 6px;
    background: rgb(255 255 255 / 85%);
}

.feel-box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.feel-box>span {
    display: block;
    text-transform: uppercase;
    width: 22%;
    text-align: center;
    color: #6c6c6c;
}

.charsheet .character-sheet .feel-input {
    width: 39%;
}

.feel-input label {
    position: relative;
}

.character-sheet .feel-input .diamond-checkbox {
    width: 100%;
}

.character-sheet .feel-input .diamond-checkbox>span {
    display: flex;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    font-weight: 400;
    position: relative;
}

.character-sheet .feel-input .diamond-checkbox i {
    position: absolute;
    right: 25px;
    font-style: normal;
}

.character-sheet .feel-input .diamond-checkbox>span::before {
    position: absolute;
    right: 0;
    width: 20px;
    height: 22px;
}

.character-sheet .feel-input .diamond-checkbox>span::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 13px 24px 0 3px;
    background: #231f20;
}

.character-sheet .feel-input .diamond-checkbox>span.without-line::after {
    display: none;
}
.character-sheet .feel-input .diamond-checkbox>span.without-line input {
    width: 75%;
	margin: 0;
	background: transparent;
	border: 1px solid transparent;
	border-bottom: 1px solid #231f20;
    padding: 2px 0;
	font-size: 16px;
	text-transform: uppercase;
    font-family: 'Lalezar', sans-serif;
    color: #333;
}

.expertise-box {
    margin-bottom: 60px;
}

.backpack-box {
    padding-right: 40px;
}

/* Roll Template */
.sheet-rolltemplate-brokencompass .sheet-template-wrap,
.sheet-rolltemplate-coin-flip .sheet-template-wrap {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/roll-bg.jpg?v=2);
    background-position: top center;
    background-size: cover;
    border: 2px solid #000;
    margin: 0;
    margin-bottom: 15px;
}

.sheet-rolltemplate-brokencompass .sheet-template-header,
.sheet-rolltemplate-coin-flip .sheet-template-header {
    width: 100%;
    padding: 7px 5px;
    color: #fff;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 60%, rgba(0, 181, 255, 0) 100%);
    font-family: 'Lalezar';
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.sheet-rolltemplate-brokencompass .sheet-template-header a,
.sheet-rolltemplate-coin-flip .sheet-template-header a {
    color: #fff;
}

.sheet-rolltemplate-brokencompass .sheet-template-subtitle,
.sheet-rolltemplate-coin-flip .sheet-template-subtitle {
    color: #231f20;
    font-size: 20px;
	padding: 5px 0;
	padding-bottom: 6px;
	line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trocchi', sans-serif;
    font-weight: bold;
    background: rgb(255 255 255 / 70%);
}

.sheet-rolltemplate-brokencompass .sheet-template-subtitle.sheet-green,
.sheet-rolltemplate-coin-flip .sheet-template-subtitle.sheet-green {
    color: green;
}

.sheet-rolltemplate-coin-flip .sheet-template-subtitle.sheet-red {
    color: red;
}

.sheet-rolltemplate-coin-flip .sheet-template-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.sheet-rolltemplate-coin-flip .sheet-template-center img {
    max-width: 150px;
    margin: auto;
}

.sheet-rolltemplate-brokencompass .sheet-template-grid {
    text-align: center;
    padding: 0 5px;
    padding-bottom: 8px;
}

.sheet-rolltemplate-brokencompass .sheet-template-grid-item-box {
    background: rgb(255 255 255 / 60%);
    padding: 0 8px;
}

.sheet-rolltemplate-brokencompass .sheet-template-grid-item {
    display: inline-block;
    vertical-align: middle;
}

.sheet-rolltemplate-brokencompass .sheet-template-grid-item-flex {
    display: flex;
    align-items: center;
    background: rgb(255 255 255 / 60%);
}

.sheet-rolltemplate-brokencompass .sheet-template-roll-between {
    height: 30px;
    width: 30px;
    background-color: rgb(255 255 255 / 50%);
    border: 1px solid #000;
    border-radius: 5px;
    background-size: cover;
    box-shadow: 4px 4px 0px 0px rgb(0 0 0 / 60%);
    margin: 3px 0;
    overflow: hidden;
    display: inline-block;
}

.sheet-rolltemplate-brokencompass .sheet-template-roll-between>span,
.sheet-rolltemplate-brokencompass .sheet-template-roll-success>span {
    width: 100%;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    line-height: 32px;
    background: transparent;
    font-family: 'Lalezar';
    font-size: 22px;
    /* color: #3e5f76; */
    color: #333;
}

.sheet-rolltemplate-brokencompass .sheet-template-roll-success>span {
    display: block;
}

.sheet-rolltemplate-brokencompass .sheet-template-roll-between>span.fullcrit,
.sheet-rolltemplate-brokencompass .sheet-template-roll-between>span.fullfail {
    border: 0;
}

.sheet-rolltemplate-brokencompass .sheet-template-label {
    font-size: 16px;
    padding: 0 5px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #231f20;
    margin: 0;
}

.sheet-rolltemplate-brokencompass .sheet-template-label span {
    background: none;
    border: 0;
    padding: 0;
    display: inline;
    font-size: 14px;
    margin: 0;
}

.sheet-rolltemplate-brokencompass .sheet-template-small-label {
    padding: 6px;
    color: #231f20;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.sheet-rolltemplate-brokencompass .sheet-template-small-label.sheet-red {
    color: red;
}

.sheet-rolltemplate-brokencompass span.inlinerollresult.fullcrit {
    border: 0;
    counter-increment: hit;
}

.sheet-rolltemplate-brokencompass span.inlinerollresult.fullfail {
    border: 0;
}

.sheet-rolltemplate-brokencompass .sheet-template-dice-stats {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255 255 255 / 60%);
}

.sheet-rolltemplate-brokencompass .sheet-template-dice-stats>div {
    padding: 6px;
    color: #231f20;
    text-align: center;
    font-size: 13px;
}

.sheet-rolltemplate-brokencompass .sheet-template-dice-stats span,
.sheet-rolltemplate-brokencompass .sheet-template-clear-result span {
    display: inline;
    border: 0;
    background: transparent;
    padding: 0;
    font-weight: bold;
}

.sheet-rolltemplate-brokencompass .sheet-template-dice-stats span:first-child:after {
    content: ":";
}

.sheet-rolltemplate-brokencompass .sheet-template-dice-actions {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255 255 255 / 60%);
    padding-top: 5px;
}

.sheet-rolltemplate-brokencompass .sheet-template-dice-actions>div {
    flex: 1;
}

.sheet-rolltemplate-brokencompass .sheet-template-dice-actions>div:last-child {
    border-left: 1px solid transparent;
}

.sheet-rolltemplate-brokencompass .sheet-template-button a {
    background: #231f20;
    border: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 5px 10px;
}

/* Repeating sections */

.repcontrol {
    display: flex;
    margin-top: 3px;
}

.repcontrol .repcontrol_edit {
    margin-left: auto;
    order: 1;
}

.repcontrol button {
    background: #fff;
    color: #3e5f76;
    border-radius: 0;
    border-color: #3e5f76;
    transition: all 0.2s;
    font-family: pictos;
    font-size: 0;
    font-weight: bold;
    line-height: 8px;
    padding: 6px 4px 1px;
}

.repcontrol button:hover {
    color: green;
    border-color: green;
    background: #ddd;
}

.repcontrol button.repcontrol_edit::after {
    content: "(";
}

.repcontrol button.repcontrol_add::after {
    content: "&";
}

.repcontrol button.repcontrol_edit::after,
.repcontrol button.repcontrol_add::after {
    font-size: 20px;
}

.repcontainer.editmode+.repcontrol button.repcontrol_edit::after {
    content: ")";
}

.itemcontrol {
    z-index: 20;
}

.fieldset-labels {
    display: flex;
    flex-wrap: nowrap;
}

.fieldset-labels .mini-title {
    justify-content: flex-start;
    margin-right: 6px;
    height: 14px;
}

.repitem {
    display: flex;
    align-items: flex-start;
}

.gear-rep-list .repitem {
    align-items: center;
}

.repitem input,
.repitem select {
    width: 100%;
    margin-bottom: 7px;
    padding: 5px 10px;
    border: 1px solid #231f20;
}

.repitem .gear-input {
    padding: 8px 10px;
    margin-right: -2px;
    z-index: 1;
}

.character-sheet .repitem textarea {
    height: 76px;
}

.repitem input[type="checkbox"] {
    width: auto;
    transform: scale(1.5);
    flex: unset;
    margin-right: 10px;
    margin-top: 10px;
}

.rep-box-vertical .repitem {
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.rep-box-vertical .repitem label {
    margin-bottom: 0;
}

.rep-box-vertical .repitem input {
    margin-bottom: 0;
    border-radius: 0;
}

.rep-box-vertical .repitem textarea {
    height: 78px;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
}

.mag-max-clips {
    margin-top: -28px;
    text-align: center;
}

/* Icons */
.diamond-checkboxes {
    display: flex;
    flex-direction: row-reverse;
}

.character-sheet .diamond-checkbox {
    cursor: pointer;
    margin: 0;
    width: 21px;
    padding-right: 1px;
}

.character-sheet .diamond-checkbox .diamond-down,
.character-sheet .diamond-checkbox .diamond-up {
    height: 28px;
    width: 20px;
}

.diamond-down::before,
.diamond-up::before {
    content: "";
    display: inline-block;
    height: 28px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.diamond-checkboxes input.diamond-input, .feel-box input.diamond-input {
    display: none;
}

.diamond-checkbox > .diamond-down::before {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/diamond-white-down.svg);
}

input.diamond-input:checked + .diamond-checkbox > .diamond-down::before {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/diamond-black-down.svg);
}

.diamond-checkbox > .diamond-up::before {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/diamond-white-up.svg);
}

input.diamond-input:checked + .diamond-checkbox > .diamond-up::before {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/diamond-black-up.svg);
}

input.diamond-input:checked ~ .diamond-checkbox > .diamond-down::before  {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/diamond-black-down.svg);
}

input.diamond-input:checked ~ .diamond-checkbox > .diamond-up::before {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/diamond-black-up.svg);
}

.diamond-checkbox .diamond-input:checked + .diamond-down::before {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/diamond-black-down.svg);
}

.diamond-checkbox .diamond-input:checked + .diamond-up::before {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Broken%20Compass/Images/diamond-black-up.svg);
}
