<div class="sheet-shaped-row">
  <div class="sheet-col-25 sheet-skill-name">
    <span class="sheet-en">{{friendly_name}}</span>
    <span class="sheet-de">{{friendly_name_de}}</span>
    <span class="sheet-fr">{{friendly_name_fr}}</span>
    <span class="sheet-ru">{{friendly_name_ru}}</span>
  </div>
  <div class="sheet-col-25">
    <input class="sheet-no-spin" type="number" name="attr_{{name}}_bonus" value="0" step="1">
  </div>
  <div class="sheet-col-25">
    <input class="sheet-no-spin" type="number" name="attr_{{name}}_passive_bonus" value="0" step="1">
  </div>
</div>
