/* GLOBAL SETTINGS
    =============================  */
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .charsheet {
        min-width: 850px;
        max-width: 950px;

        button {
            &:before {
                display: none;
            }

            &:focus > h3,
            &:hover > h3,
            &:active > h3 {
                color: $accent1;
                text-shadow: 1px 1px 2px $maincolor, 0 0 25px $accent2, 0 0 5px $accent1;
            }

            &[type='roll'],
            &[type='action'] {
                background: $palecolor;
                border: {
                    bottom             : 0.01em solid #666;
                    bottom-right-radius: 0.01em;
                    color              : hsl(0, 0%, 70%);
                    radius             : 0.25em;
                    right              : 0.02em solid hsl(0, 0%, 20%);
                    style              : outset;
                }
                margin: 0.2em !important;
                padding: 0.1em !important;
            }

            &[type='action'] {
                background: $lightgray;

                &:focus, &:hover, &:active {
                    background-color: $gray;
                    color: $accent1;
                }
            }

             &[type='roll'] {
                background: $palecolor;

                &:focus, &:hover, &:active {
                    background-color: $accent3;
                    color: $accent1;
                }
            }
        }

        div {
            background: transparent;
            width: 100%;
        }

        fieldset {
            background: transparent;
        }

        h1 {
            text-transform: uppercase;
        }

        h2 {
            font-size: 0.8em;
            line-height: 2em;
            text-transform: uppercase;
            &.sheet-label {
                @include button-like();
                text-align: center;
                margin-left: 3%;
            }
        }

        h3 {
            font-size: 0.8em;
            line-height: 2em;
            text-transform: capitalize;
        }

        input {
            &[type='text'],
            &[type='number'] {
                background   : transparent;
                border       : none;
                border-radius: 0em;
                color        : $maincolor;
                height       : 2.1em;
                text-align   : center;

                &:placeholder-shown {
                    background: $accent2;
                }
            }
        }

        label {
            margin-bottom: 0px;
            padding-right: 0px;
        }

        span {
            word-break: break-word;
        }

        textarea {
            background    : transparent;
            color         : $maincolor;
            font-size     : 1em;
            font-weight   : normal;
            height        : 50px;
            margin        : 0.5%;
            margin-bottom : 2%;
            min-height    : 8em;
            overflow      : scroll;
            overflow-wrap : break-word;
            padding       : 2px;
            resize        : vertical;
            text-align    : left;
            vertical-align: top;
            white-space   : pre-line;
            width         : 99%;

            &:placeholder-shown {
                background: $accent2;
            }
        }
    }