// MIXINS
//  =============================
   
    @mixin back-color($color){
        background-color: $color;
    }

    @mixin grid-area($rstart, $cstart, $rend, $cend) {
        grid-area: #{$rstart} / #{$cstart} / #{$rend} / #{$cend};
    }

    @mixin text-trans($transform){
        text-transform: $transform;
    }

    @mixin text-align($align){
        text-align: $align;
    }

    @mixin button-like() {
        font-size     : 1.1em;
        font-weight   : bold;
        text-transform: capitalize;
    }



