   div.sheet-pc {
        grid-column-gap: 0.2em;
        grid-row-gap: 0.2em;
        grid-template-columns: 1fr 1fr;

        h1 {
            color: $accent1;
            font-size: 1em;
            text-align: center;
            transform: rotate(180deg);
        }

        input {
            &[type='text'],
            &[type='number'] {
                width: 100%;
            }
        }

        div.sheet-section-header {
           @include back-color($maincolor);
           @include grid-area(1, 1, 1, 1);
           text-orientation: sideways;
           writing-mode: vertical-lr;
        }

        div.sheet-vert-line,
        div.sheet-horz-line {
            @include back-color($maincolor);
        }

        div.sheet-horz-line {
            height: 2px;
        }

        span {
            &.sheet-para:before {
                content: '('
            }

            &.sheet-para:after {
                content: ')'
            }
        }


        /* PERSONAL DATA
        ----------------------------- */
        div.sheet-personal-data {
            grid-column: 1 / 3;

            @import '_section_personal_data';

            input[type='text'] { text-align: left; } 
        }

        /* STATISTICAL DATA
        ----------------------------- */
        div.sheet-statistical-data {
            @include grid-area(2, 1, 2, 1);

            button[type='roll'],
            div.sheet-derived-attr {
                font-size: 1em;

                span { font-size: 0.8em; }
            }

            h3 {
                display: inline;
                margin-right: 2%;
                text-transform: capitalize;
            }

            //STATISTICS
            div.sheet-section-stats {
                grid-template-columns: 9em 0.155em 2fr 0.155em 1fr 0.155em 14em;

                button[type='roll'] { text-align: left;  }
                div.sheet-horz-line { grid-column: 1 / 8; }

                span {
                    &.sheet-center {  
                        background-color: $lightgray;
                        padding-top: 25%; 
                    }
                }
            }

            //DERIVED ATTRIBUTES
            div.sheet-section-derived {
                div.sheet-section {
                    grid-template-columns: 12em 0.155em 1fr 0.155em 1fr;
					button[type='roll'] { text-align: left;  }
					div.sheet-horz-line{
						grid-column: 1/6;
					}
                }

                input[name='attr_sanity_points_max'] {
                   padding-left: 4%;
                }

                span {
                    padding: 4%;

                    &.sheet-center {
                        background-color: $lightgray;
                    }
                }
            }

            //PHYSICAL DESCRIPTION
            div.sheet-section-physical {
                h2 {grid-row: 1 / 1}
                textarea {
                    grid-row: 2 / 2;
                    min-height: 5em;
                }
            }
        }

        /* PSYCHOLOGICAL DATA
        ----------------------------- */
        div.sheet-pyschological-data {
            @include grid-area(2, 2, 2, 2);
            grid-template-rows: min-content;

            textarea {
                min-height: 11.5em;
            }
            
            div.sheet-section-bonds {
                input[type='text'] {
                    text-align: center;
                }

                div.sheet-max-height {
                    max-height: 1.8em;
                }

                div.sheet-section {
                    grid-template-columns: 25em 0.155em 1fr;
                }

                div.sheet-repeating-container {
                    margin-bottom: 2%;
                    min-height: 14.5em;

                    .repcontrol {
                        .repcontrol_add {
                            right: -84%;
                        }
                    }
                }
            }

            div.sheet-incidents-body {
                grid-template-columns: 6em 2em 2em 2em 4em 6em 2em 2em 2em 4em;
                padding-top: 1%;

                h3 { text-transform: capitalize; }
            }
        }

        /* APPLICABLE SKILL SET
        ----------------------------- */
        div.sheet-applicable-skill-sets {
            grid-column: 1 / 3;

            div.sheet-section-body {
                grid-template-columns: 1fr 1fr 1fr;

                @for $i from 1 through 3 {
                    div.sheet-section-skill-col:nth-of-type(#{$i})  {
                        grid-column: #{$i} / #{$i};
                    }
                }

                div.sheet-section-skill-col {
                    grid-template-columns: 2em 15em 0.155em 2fr;

                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        border-right: 0.15em solid $maincolor;
                    }

                    div.sheet-horz-line { grid-column: 1 / 5;  }

                    button {
                        display: inline;
                        text-align: left; 

                        h3 {
                            display: inline;
                            margin-right: 5%;
                            padding-left: 2%;
                        }

                        &.sheet-dicefontd10[type="roll"] { text-align: center; }
                    }

                    input {
                        &[type='number'] { height: 100%; }

                        &[type='checkbox'] {
                            margin-left: 10%;
                            margin-top: 50%;
                        }
                    }

                    span {
                        font-size: 0.8em;
                        text-align: center;
                    }

                    label.sheet-custom-label { grid-column: 1 / 5; }

                    textarea {
                        margin-bottom: 0em;
                        margin-left: 1%;
                        min-height: 2em;
                        width: 98%;
                    }

                    div.sheet-repeating-container {
                        grid-column: 1 / 5;
                        min-height: 285px;
                        input[type='checkbox'] { margin-top: 20%;  }

                        .repcontrol {
                            .repcontrol_add {
                                right: -75%;
                            }
                        }

                        div.sheet-section-repeating {
                            grid-template-columns: 1fr 12.5em 2.5em 0.155em 2fr;
                        }
                    }
                }

                div.sheet-section-directions { grid-column: 1 / 4; }
            }
        }
    
        /* INJURIES
        ----------------------------- */
        div.sheet-injuries {
            grid-column: 1 / 3;

            h1 { grid-row: 1; }
            label { display: inline; }

            div.border-bottom { grid-row: 2; }
        }


        /* EQUIPMENT
        ----------------------------- */
        div.sheet-equipment {
            grid-column: 1 / 3;

            div.sheet-section-weapons {
                grid-template-columns: 15em 0.155em 1fr 0.155em 2fr 0.155em 2fr 0.155em 3fr 0.155em 2fr 0.155em 2fr 0.155em 1fr 0.155em 2em;
            }

            h2 {
                &:nth-of-type(1) { margin-left: 2%; }
                &:nth-of-type(1n+2) { text-align: center; }
            }

            div.sheet-repeating-container {
                .repcontrol {
                    .repcontrol_add {
                        right: -93%;
                    }
                }

                input[name="attr_weapons"] {
                    text-align: left;
                }
            }
        }


        /* REMARKS
        ----------------------------- */
        div.sheet-remarks {
            grid-column: 1 / 3;

            div.sheet-section-body {
                grid-template-columns: 1fr 0.155em 1fr;

                textarea {
                    min-height: 83%;
                    margin-bottom: 2%;
                }

                div.sheet-section-19 {
                    grid-template-columns: 1fr 0.155em 1fr;

                    input[type='text'][name='attr_special_training'] {
                        text-align: left;
                    }

                    input[type='text'][name='attr_skill_or_stat_used'] {
                        text-align: center;
                    }
                }

                div.sheet-repeating-container {
                    .repcontrol {
                        .repcontrol_add {
                            right: -83%;
                        }
                    }
                }
            }

            div.sheet-section-directions {
                grid-column: 1 / 4;
            }
        }


        /* AUTHORIZING OFFICER
        ----------------------------- */
        div.sheet-authorizing-officer {
            grid-column: 1 / 3;
            grid-template-columns: 1fr 0.155em 1fr;

            h2 { grid-row: 1; }
            label { grid-row: 2; }
        }

        /* BOTTOM DECORATION
        ----------------------------- */
        div.sheet-section-bottom-decor {
            grid-column: 1 / 3;
            grid-template-columns: 3em 1fr 20em 3fr 5em;
            margin-top: 2%;

            span {
                text-transform: uppercase;

                &:nth-of-type(odd) { 
                    color: $maincolor;
                    font-size: 1.5em;
                    font-weight: bolder;
                }

                &:nth-of-type(even) {
                    color: $gray;
                    opacity: 0.8;
                    text-align: center;
                }
            }
        }
    }   
	/* PLAYS THE ROLE OF a non breaking space at the beginning of the line to circumvent pug removal*/
	div.sheet-nbsp{
		text-indent: 0.5em;
	}