/* ROLL TEMPLATE
============================= */

    .sheet-rolltemplate-rolls,.sheet-rolltemplate-damage,.sheet-rolltemplate-lethality,.sheet-rolltemplate-lethality_critical,.sheet-rolltemplate-sanloss,.sheet-rolltemplate-luck  {

        /* ROLL TEMPLATE STYLE
        ----------------------------- */
        div.sheet-template-container {
            border: 2px solid $maincolor;
            border-radius: 0.3em;
            box-shadow: inset 0px 0px 3px 1px $maincolor;
            text-align: center;

            /* DICE ROLL STYLES
            ----------------------------- */
            .inlinerollresult.fullfail,
            .inlinerollresult.fullcrit,
            .inlinerollresult.importantroll {
                border: none;
            }

            .inlinerollresult.fullfail, .inlinerollresult.fullcrit {
                color: $maincolor;
            }

            .inlinerollresult {
                background-color: transparent;
                border: none;
                font-weight: unset; //reset defaults
                font-size: unset; //reset defaults
                padding: unset; //reset defaults
            }


            div.sheet-template-header {
                background-color: $maincolor;
                border-bottom: 2px solid $gray   ;
                padding: 2%;
                text-transform: capitalize;

                h1, h2 {
                    display: inline;
                    line-height: 1.2em;
                }

                h1 {
                    color: $accent1;
                    font-variant: small-caps;
                    font-size: 1.6em;
                }

                h2 {
                    color: $lightgray;
                    font-size: 1.15em;
                }
            }

            div.sheet-template-body {
                div.sheet-template-row {
                    background-color: $accent1;
                    padding: 3%;

                    &:nth-child(2n+0) { background-color: $accent2; }

                    a[href^="~"] {
                        background-color: $palecolor !important;
                        font-weight: bold !important;
                        color: $maincolor;
                        font-size: 0.8em;
                        border: {
                            bottom             : 0.01em solid #666;
                            bottom-right-radius: 0.01em;
                            color              : hsl(0, 0%, 70%);
                            radius             : 0.25em;
                            right              : 0.02em solid hsl(0, 0%, 20%);
                            style              : outset;
                        }
                    }

                    span {
                        &.sheet-inlinerollresult  {
                            color: $maincolor;
                            font-size: 1.5em;
                            font-weight: bold;
                            cursor: help;
                            padding: 0 3px 0 3px;
                        }

                        &.sheet-percent,
                        &.sheet-template-desc {
                            color: $maincolor;
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }
	

    .sheet-rolltemplate-stats {

        /* ROLL TEMPLATE STYLE
        ----------------------------- */
        div.sheet-template-container {
            border: 2px solid $maincolor;
            border-radius: 0.3em;
            box-shadow: inset 0px 0px 3px 1px $maincolor;
            text-align: center;

            /* DICE ROLL STYLES
            ----------------------------- */
            .inlinerollresult.fullfail,
            .inlinerollresult.fullcrit,
            .inlinerollresult.importantroll {
                border: none;
            }

            .inlinerollresult.fullfail, .inlinerollresult.fullcrit {
                color: $maincolor;
            }

            .inlinerollresult {
                background-color: transparent;
                border: none;
                font-weight: unset; //reset defaults
                font-size: unset; //reset defaults
                padding: unset; //reset defaults
            }


            div.sheet-template-header {
                background-color: $maincolor;
                border-bottom: 2px solid $gray   ;
                padding: 2%;
                text-transform: capitalize;

                h1, h2 {
                    display: inline;
                    line-height: 1.2em;
                }

                h1 {
                    color: $accent1;
                    font-variant: small-caps;
                    font-size: 1.6em;
                }

                h2 {
                    color: $lightgray;
                    font-size: 1.15em;
                }
            }

            div.sheet-template-body {
                div.sheet-template-row {
                    background-color: $accent1;
                    padding: 3%;

                    &:nth-child(2n+0) { background-color: $accent2; }

                    a[href^="~"] {
                        background-color: $palecolor !important;
                        font-weight: bold !important;
                        color: $maincolor;
                        font-size: 0.8em;
                        border: {
                            bottom             : 0.01em solid #666;
                            bottom-right-radius: 0.01em;
                            color              : hsl(0, 0%, 70%);
                            radius             : 0.25em;
                            right              : 0.02em solid hsl(0, 0%, 20%);
                            style              : outset;
                        }
                    }

                    span {
                        &.sheet-inlinerollresult  {
                            color: $maincolor;
                            font-size: 1.5em;
                            font-weight: bold;
                            cursor: help;
                            padding: 0 3px 0 3px;
                        }

                        &.sheet-percent,
                        &.sheet-template-desc {
                            color: $maincolor;
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }