.sheet-red {
	background-color: #801421;
	color: white;
	font-size: 0.75em;
}

.sheet-pink {
	background-color: #eee2e2;
	color: black;
	font-size: 0.75em;
	padding-right: 5px;
}

.charsheet input.sheet-name {
	font-family: "Shadows Into Light", cursive;
	font-size: 2em;
	font-weight: bold;
}

.charsheet img {
	position: relative;
	z-index: 9999;
}

.charsheet h4 {
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	font-family: arial, sans-serif;
}

.charsheet textarea {
	border: none;
	background-color: white;
	color: black;
	width: 98%;
}

.charsheet input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

.charsheet input[type="number"]::-webkit-outer-spin-button,
.charsheet input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-webkit-appearance: textfield;
}

.charsheet div.sheet-names {
	display: inline-block;
}

.charsheet .sheet-name {
	width: 225px;
	height: 50px;
	background-color: white;
	color: black;
}

.charsheet .sheet-defense,
.charsheet .sheet-health,
.charsheet .sheet-endurance {
	width: 25% !important;
	color: #801421;
	margin: 0px;
	text-align: center;
	font-size: 0.5em;
	box-sizing: border-box;
}

.charsheet .sheet-tv {
	width: 17%;
	margin: 0px;
	text-align: center;
	font-size: 0.5em;
	margin-left: 10px;
	box-sizing: border-box;
}

.charsheet .sheet-defense input[type="number"].sheet-combatnum,
.charsheet .sheet-health input[type="number"].sheet-combatnum,
.charsheet .sheet-endurance input[type="number"].sheet-combatnum {
	width: 100%;
	height: 70px;
}

.charsheet .sheet-tv input[type="number"].sheet-combatnum {
	width: 100%;
	height: 70px;
	background-color: #801421;
	color: white;
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
	display: block;
	background: #801421;
	color: white;
	box-shadow: none;
	/*font-size:1.5em;*/
}

.charsheet input.sheet-mod {
	width: 35px;
	font-size: 1.5em;
	font-weight: normal;
}

.charsheet input.sheet-ability {
	width: 277px;
	font-size: 1.5em;
	font-weight: normal;
	margin-left: 5px;
}

.charsheet input.sheet-mod,
.charsheet input.sheet-ability {
	background-color: white;
	color: black;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 0.25em #eee2e2 dotted;
}

button[type="roll"].sheet-templatebutton,
button[type="roll"].sheet-initiativebutton,
button[type="roll"].sheet-GM-button {
	background-color: #801421;
	color: white;
	border: none;
	background-image: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 3px;
	margin-right: 3px;
}

button[type="roll"].sheet-initiativebutton::before {
	content: "";
}

button[type="roll"].sheet-GM-button::before {
	background-image: none;
	/*background-color: #f2f5d3;*/
	/*background-color: white;*/
	font-size: 13px;
	font-family: sans-serif;
	content: "/w";
}

.charsheet .sheet-mod:nth-child(1),
.charsheet .sheet-ability:nth-child(1) {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.charsheet .sheet-mod:last-child,
.charsheet .sheet-ability:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.charsheet .sheet-notes {
	background-color: white;
	color: #801421;
	font-size: 1.5em;
	font-weight: bold;
	padding: 5px;
}

.charsheet .sheet-combatstatsmain {
	width: 398px;
	margin-top: 3px;
	background-color: white;
	border: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.charsheet .sheet-combattext {
	width: 100%;
	color: black;
	border: none;
	height: 67px;
	padding: 0px;
	font-size: 0.75em;
}

.charsheet input[type="number"].sheet-combatnum {
	border: none;
	font-size: 2em;
	color: black;
	font-weight: bold;
	width: 100%;
	height: 70px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.charsheet .sheet-combatstat {
	display: inline-block;
	position: relative;
	background-color: white;
	color: #801421;
	border: 1px solid #801421;
	border-top: none;
	border-left: none;
	padding: 5px;
	margin: 0px;
	font-size: 0.5em;
	font-weight: normal;
	text-align: center;
	vertical-align: top;
}

.charsheet .sheet-rotate {
	display: inline-block;
	/* Safari */
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	padding: 10px;
	/*border: 1px solid black; */
	color: white;
	font-size: 2em;
	width: 475px;
	height: 40px;
	text-align: left;
	vertical-align: bottom;
	position: relative;

	margin-left: -225px;
	margin-top: 195px;
}

/*----------- Tabs Setup -------------*/

.charsheet div[class^="sheet-section"] {
	display: none;
}

.charsheet input.sheet-tab1:checked ~ div.sheet-section-core,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-misc {
	display: block;
}

/*
.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] {
	display: block;
}*/

.charsheet input.sheet-tab {
	/*width: 100px;*/
	width: 75px;
	height: 20px;
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.charsheet span.sheet-tab {
	text-align: center;
	display: inline-block;
	font-size: 1em;
	background: #eee2e2;
	color: black;
	font-weight: bold;
	border-radius: 4px;

	width: 75px; /*originally 87px*/
	height: 20px; /*originally 20px*/
	cursor: pointer;
	position: relative;
	vertical-align: middle;
	margin-left: -79px; /*originally 91px*/
}

.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2 {
	background: #801421; /*originally ab8b57*/
	color: white; /*originally white*/
	border-radius: 4px;
}

/*----------- End Tab Setup -----------*/

/*----------- Release Notes Stuff -----------*/

.charsheet div.sheet-releasenotes {
	display: inline-block;
}

.charsheet input.sheet-releasenotes:checked ~ div.sheet-releasenotes {
	display: inline-block;
}

.charsheet input.sheet-releasenotes:not(:checked) ~ div.sheet-releasenotes {
	display: none;
}

.charsheet input.sheet-Dismiss:checked + div.sheet-CSRelease {
	display: none;
}

.charsheet input.sheet-releasenotes,
.charsheet input.sheet-Dismiss {
	cursor: pointer;
	position: relative;
	opacity: 0;
	z-index: 9999;
}

.charsheet span.sheet-releasenotes,
.charsheet span.sheet-Dismiss {
	margin-left: -13px;
}

.charsheet span.sheet-releasenotes::before {
	content: "▼";
}

.charsheet span.sheet-Dismiss::before {
	content: "❎";
}

.charsheet
	input.sheet-releasenotes:not(:checked)
	+ span.sheet-releasenotes::before {
	content: "►";
}

/*----------- End Release Notes Stuff -----------*/

/*----------- Roll Template ------------------------*/

/* New Roll Template */

/*.sheet-rolltemplate-ova h2.sheet-caption {
	width: 90%;
	max-width: 200px;
	text-align: center; 
    color: white; 
    background-color: #801421;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: "Shadows Into Light";
	font-size: 1.125em;
	font-weight: bold;
	margin: 0px;
}*/

/*.sheet-rolltemplate-ova div.sheet-rtcard {
	width: 90%;
    padding: 5px;
    border-radius: 15px;
    border: solid 1px #801421;
}*/

.sheet-rolltemplate-ova table {
	width: 95%;
	font-family: Helvetica, sans-serif;
	border-spacing: 0;
	background-color: white;
	border: solid 1px #801421;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.sheet-rolltemplate-ova td,
.sheet-rolltemplate-ova th,
.sheet-rolltemplate-ova tr {
	padding: 3px;
}

.sheet-rolltemplate-ova caption {
	font-size: 1.5em;
	font-family: "Shadows Into Light";
	background-color: #801421;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	margin-bottom: 0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.sheet-rolltemplate-ova th {
	height: 1em;
	font-size: 1em;
	border-collapse: collapse;
}

.sheet-rolltemplate-ova td {
	/*width: 75%;*/
	height: 0.75em;
	vertical-align: top;
	font-family: Helvetica, sans-serif;
	font-size: 0.875em;
}

.sheet-rolltemplate-ova tr:nth-child(even) {
	background-color: #eee2e2;
}

.sheet-rolltemplate-ova td.sheet-roll {
	width: 25%;
	text-align: right;
}

.sheet-rolltemplate-ova td.sheet-rresults {
	font-size: 0.95em;
	height: 0.95em;
}

.sheet-rolltemplate-ova td.sheet-fakeroll {
	text-align: right;
}

.sheet-rolltemplate-ova .sheet-rtcard .sheet-fakeroll .inlinerollresult {
	/*padding-right: 0px;*/
	text-align: right;
	color: #4d4d4d;
	font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	margin-right: -3px;
}

.sheet-rolltemplate-ova .inlinerollresult {
	background-color: transparent;
	color: #000000;
	border: none;
}

.sheet-rolltemplate-ova .inlinerollresult.fullcrit {
	color: #3fb315;
	border: none;
}

.sheet-rolltemplate-ova .inlinerollresult.fullfail {
	color: maroon;
	border: none;
}

.sheet-rolltemplate-ova .inlinerollresult.importantroll {
	color: #3fb315;
	border: none;
}

/*----------- End Roll Template --------------------*/
