/***** CORE  *****/
div.sheet-core {
  div.sheet-armor-buttons {
    display    : inline-block;
    font-size: 1.5em;
    line-height: 20px;
    margin-left: 1%;
    width      : 33%;

    button {
      &[type='roll'] { margin-right: -5px; }
      &[name='roll_defense'] { 
        background-color: $gray;
        color: $white;
      }
    }

    span { 
      font-size: 1em; 
    }
  }

  button[name="act_primary_ammo"]:hover > img {
    filter: brightness(0) invert(1);
  }

  /***** QUALITIES *****/
  div.sheet-quality-box {
    div.sheet-htab input[type='radio'] {
      margin-right: -100px;
      width       : 100px;
    }

    div.sheet-header:nth-of-type(2) .sheet-htab input[type='radio'] {
      margin-right: -150px;
      width       : 150px;
    }

    div.sheet-quality {
      $qualityGrid: 1fr 3em 1.5em 1em 1em;

      h2:nth-of-type(2) { text-align: center; } 

      div.sheet-headers {
        display: grid;
        grid-template-columns: $qualityGrid;
        @extend %gridGap;
      }

      div.repitem {
        grid-template-columns: $qualityGrid;
        @include repeatingInformation(6, false);

        div.sheet-settings { 
          grid-column: 1 / 6;
          grid-template-columns: $qualityGrid;
        }
      }
    }

    div.sheet-martial {
      $martialGrid: 2fr 1fr 1.5em 1em 1em;

      h2:nth-of-type(2) { text-align: center; } 

      div.sheet-headers {
        display: grid;
        grid-template-columns: $martialGrid;
        @extend %gridGap;
      }

      div.repitem {
        grid-template-columns: $martialGrid;
        @include repeatingInformation(6, false);

        div.sheet-settings { 
          grid-column: 1 / 6;
          grid-template-columns: $martialGrid;
        }
      }
    }
  }
}

