/***** MAGIC *****/
div.sheet-magic {
  $magicGrid: 30% 1.5fr 1.5fr 2fr 2em 1em 1em;

  input.sheet-magic-toggle[value='rituals'] ~ .sheet-headers h2:nth-of-type(1n+2) {
    @extend %display-none;
  }

  h2:nth-of-type(1n+2) { text-align: center; }
  h3 { color: $blacker; }

  div.sheet-headers {
    display: grid;
    @extend %gridGap;
    grid-template-columns:$magicGrid;

    h3:nth-of-type(1n+2) { text-align: center; }
  } 

  /***** SPELLS & PREPARTATIONS *****/
  div.sheet-spellsForumlas {
    div.repitem {
      grid-template-columns: $magicGrid;

      @include repeatingInformation(8, false);

      input[name='attr_damage'],
      input[name='attr_dicepool_modifier'] {
        width: 3.5em;
      }

      select[name='attr_category'] { grid-row: 2; }

      div.sheet-row { grid-column: 1 / 6; }

      div.sheet-settings { 
        grid-column: 1 / 8;
        grid-template-columns: $magicGrid;
      }
    }
  }

  /***** RITUALS *****/
  div.sheet-magic-rituals {
    $ritualsGrid: 1fr 1em 1em;

    @include repeatingInformation(4, false);

    div.repitem {
      grid-template-columns: $ritualsGrid;

      label {
        &[data-i18n-title='name'] { grid-column: 1 / 4; }
      }

      div.sheet-row { grid-column: 1 / 4; }
    }

    div.sheet-settings {
      grid-template-columns: $ritualsGrid;
      grid-column: 1 / 4;
    }
  }

  div.sheet-magic-preps, div.sheet-magic-spells {
    textarea { width: 93%; }
  }

  /***** PREPARATIONS *****/
  div.sheet-magic-preps {
    /* READIED PREPARATIONS */
    div.sheet-prepared-preparations {
      $preparationsGrid: 40% 1fr 1fr 2fr 1em 1em;

      div.sheet-headers {
        grid-template-columns:$preparationsGrid ;
      } 

      div.repitem {
        grid-template-columns: $preparationsGrid ;

        @include repeatingInformation(7, false);

        div.sheet-settings { 
          grid-column: 1 / 7;
          grid-template-columns: $preparationsGrid;

          select { grid-column: 4 / 7; }

          textarea { width: 100%; }
        }
      }
    }
  }

  /***** ADEPT POWERS *****/
  div.sheet-powers {
    $powersGrid: 1fr 3em 1em 1em;;

    div.sheet-headers {
      grid-template-columns:$powersGrid;
    } 

    div.repitem {
      grid-template-columns: $powersGrid;
      @include repeatingInformation(5, true);

      div.sheet-settings { 
        grid-column: 1 / 5;
        grid-template-columns: $powersGrid;
      }
    }
  }
}