/*** MATRIX ****/
div.sheet-matrix {
  button[type='roll'] {
    font-size: 0.9em;
  }

  h3 { 
    color: $blacker; 
  }

  /* Needs to be refactored into Grid */
  div.sheet-device-attr {
    display: inline;
    transition: transform .2s;

    span {
      position: relative;
    }

    input[type='radio']:hover + span {
      transform: $button-scale-medium;
    }
  }

  div.sheet-programs {
    $programGrid: 1.5em 1fr 1.5em 1em 1em;

    div.repitem {
      grid-template-columns: $programGrid;
      @extend %borderBottom;
      @include repeatingInformation(6, false);

      input.sheet-indicator {
        grid-area: 1 / 1 / 1 / 1;

        & + span {
          grid-area: 1 / 1 / 1 / 1;
        }
      }
    }

    div.sheet-settings { 
      grid-column: 1 / 5;

      input[type='text'] {
        grid-column: 1 / 4;
        text-align: left; 
      }

      label {
        grid-column: 1 / 4;
      }
    }
  }

  div.sheet-complex-forms {
    $complexFormsGrid: 30% 1fr 1fr 4em 1em 1em;

    div.sheet-headers {
      display: grid;
      @extend %gridGap;
      grid-template-columns: $complexFormsGrid;

      h2:nth-of-type(1n+2) { text-align: center; }
    } 

    div.repitem {
      grid-template-columns: $complexFormsGrid;

      @include repeatingInformation(7, false);

      div.sheet-row {
        grid-column: 1 / 7;
      }

      div.sheet-settings { 
        grid-column: 1 / 7;
        grid-template-columns: $complexFormsGrid;

      }
    }
  }
}