rolltemplate(class="sheet-rolltemplate-abilitycard")
    div(class="sheet-rtcard")
        | {{#type}}
        p(class="sheet-card-type")
            | {{type}}
        | {{/type}}               
        | {{#name}}
        h3
            | {{name}}
            | {{#comp}}
            | [ ](https://roll20.net/compendium/hexxen/{{comp}})
            | {{/comp}}
        | {{/name}}
        img( class="footer" src="https://ulisses-digital.de/R20/hexxen/images/Rabenbanner2.png")
        | {{#desc}}
        p
            | {{desc}}
        | {{/desc}}