-
  const data = {
    assets: {
      folder: "https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/ARC/assets/",
      add: "add.svg",
      book: "book.svg",
      close: "close.svg",
      delete: "delete.svg",
      download: "download.svg",
      drag: "drag.svg",
      edit: "edit.svg",
      export: "export.svg",
      help: "help.svg",
      lock: "lock.svg",
      move: "move.svg",
      save: "save.svg",
      settings: "settings.svg",
      unlock: "unlock.svg",
      bg_check_success: "bg_check_success.png",
      bg_check_tie: "bg_check_tie.png",
      bg_check_fail: "bg_check_fail.png",
      bg_long_rest: "bg_long_rest.png",
      bg_short_rest: "bg_short_rest.png",
      tab_long_rest: "tab_long_rest.png",
      tab_short_rest: "tab_short_rest.png",
      tab_skill_check: "tab_skill_check.png",
      text_careful: "text_careful.svg",
      text_concerted: "text_concerted.svg",
      text_creative: "text_creative.svg",
    },
    settings: {
      sheet_type: [
        {
          value: "character",
          data_i18n: "character_mode",
          selected: true
        },
        {
          value: "npc",
          data_i18n: "npc_mode"
        }
      ],
      tooltips: [
        {
          value: "1",
          data_i18n: "tooltip_show",
          selected: true
        },
        {
          value: "0",
          data_i18n: "tooltip_hide"
        }
      ]
    },
    glossary: [
      "advantage",
      "attack",
      "complexity",
      "conflict",
      "consequence",
      "damage",
      "difficulty_modifier",
      "doom",
      "doomsday_clock",
      "focus",
      "group_skill_check",
      "initiative_category",
      "learning_spells_and_techniques",
      "moment",
      "movement_in_conflict",
      "omen",
      "opportunity",
      "rest",
      "ritual",
      "skill_check",
      "spells_and_techniques",
      "spells_and_techniques_in_conflict",
      "stand_ground",
      "threshold_number",
      "turn"
    ],
    approaches: [ "creative", "careful", "concerted" ],
    skills: {
      knowledge: [ "academic", "culture", "observe", "tactics" ],
      social: [ "charisma", "guile", "impose", "insight" ],
      physical: [ "acrobatics", "coordination", "physique", "weaponry" ],
      practical: [ "artistry", "survival", "tinker", "trade" ],
      prowess: [ "arcana", "focus" ],
    },
    inventory: {
      types: [ "supplies_and_sundries", "oddities_and_valuables", "damage_and_defense", "spells_and_techniques" ],
      inputs: {
        universal: [
          {
            sort: 1,
            name: "name",
            type: "text",
            list: "datalist__inventory",
            data_i18n_placeholder: "name_placeholder",
          },
          {
            sort: 2,
            name: "type",
            type: "select",
            options: [
              { data_i18n: "select_placeholder", value: "none", selected: true },
              { value: "supplies_and_sundries" },
              { value: "oddities_and_valuables" },
              { value: "damage_and_defense" },
              { value: "spells_and_techniques" },
            ]
          },
          {
            sort: 3,
            name: "quantity",
            type: "number",
            placeholder: "0",
            min: 0,
          }
        ],
        supplies_and_sundries: [
          {
            sort: 4,
            label: "description",
            name: "description",
            type: "text",
            data_i18n_placeholder: "description_placeholder",
          }
        ],
        oddities_and_valuables: [
          {
            sort: 4,
            label: "description",
            name: "description",
            type: "text",
            data_i18n_placeholder: "description_placeholder",
          }
        ],
        damage_and_defense: [
          {
            sort: 4,
            label: "boon",
            name: "first_boon",
            type: "textarea",
            data_i18n_placeholder: "boon_placeholder",
          },
          {
            sort: 5,
            label: "boon",
            name: "second_boon",
            type: "textarea",
            data_i18n_placeholder: "boon_placeholder",
          },
          {
            sort: 6,
            label: "description",
            name: "description",
            type: "text",
            data_i18n_placeholder: "description_placeholder",
          },
        ],
        spells_and_techniques: [
          {
            sort: 4,
            label: "complexity",
            name: "complexity",
            type: "radios",
            class: "complexity",
            max: 4,
          },
          {
            sort: 5,
            label: "base_effect",
            name: "base_effect",
            type: "textarea",
            //- data_i18n_placeholder: "base_effect_placeholder",
          },
          {
            sort: 6,
            label: "enhanced",
            name: "enhanced",
            type: "textarea",
            //- data_i18n_placeholder: "enhanced_placeholder",
          },
          {
            sort: 7,
            label: "ritual",
            name: "ritual",
            type: "textarea",
            //- data_i18n_placeholder: "ritual_placeholder",
          },
         ],
      },
      items: [
        "combat_scowling_face",
        "combat_pitchfork",
        "combat_memories_of_hardship",
        "combat_iron_briefs",
        "combat_booming_voice",
        "combat_well_rounded_education",
        "combat_darts",
        "combat_dagger",
        "combat_self_esteem",
        "combat_studden_leather_armor",
        "combat_devastating_vocabulary",
        "combat_critical_thinking",
        "combat_sturdy_sword",
        "combat_crossbow",
        "combat_plate_armor",
        "combat_love_letter",
        "combat_cunning_wit",
        "combat_flaming_sword",
        "supplies_rations",
        "supplies_artisans_tools",
        "supplies_crowbar_and_lantern",
        "supplies_rope_and_carpet",
        "supplies_bedroll",
        "supplies_backpack",
        "supplies_thieves_tools",
        "supplies_fine_clothes",
        "supplies_traps",
        "supplies_tent",
        "supplies_fishing_pole",
        "supplies_live_hen",
        "supplies_board_games",
        "supplies_alchemists_tools",
        "supplies_encyclopeida",
        "supplies_spyglass",
        "supplies_coded_letters",
        "supplies_horse",
        "oddities_seashell_horn",
        "oddities_dead_donkey",
        "oddities_ancient_ring",
        "oddities_songbird",
        "oddities_human_teeth",
        "oddities_hat",
        "oddities_monkey_head",
        "oddities_heavy_crown",
        "oddities_giant_serpent_scales",
        "oddities_silk_dress",
        "oddities_tyrant_pants",
        "oddities_shadow_mirror",
        "oddities_darkvision_glasses",
        "oddities_divine_blood",
        "oddities_seeds",
        "oddities_potion_brawn",
        "oddities_troll_flesh",
        "oddities_telepathic_yak",
        "spells_trinket",
        "spells_trick_of_the_light",
        "spells_soundshift",
        "spells_lifebringer",
        "spells_whisper",
        "spells_bind_weapon",
        "spells_unmask_the_self",
        "spells_secret_door",
        "spells_burn_the_past",
        "spells_master_of_elements",
        "spells_little_escapologist",
        "spells_pierce_the_veil",
        "spells_manic_hands",
        "spells_shadowbind",
        "spells_compel",
        "spells_windstep",
        "spells_blackout",
        "spells_spirit_pact",
        "spells_from_dust_to_dust",
        "spells_true_miracle",
        "techniques_only_ones_who_know",
        "techniques_uncanny_alarm",
        "techniques_weave_through_water",
        "techniques_memory_seed",
        "techniques_flowmotion",
        "techniques_saving_grace",
        "techniques_inspiration",
        "techniques_bind_magic",
        "techniques_stonewall",
        "techniques_heart_piercer",
        "techniques_deadly_focus",
        "techniques_redo",
        "techniques_turn_the_tide",
        "techniques_dispel",
        "techniques_interdiction",
        "techniques_fluorescent_transcendence",
        "techniques_netherwave",
        "techniques_become_one",
        "techniques_defy_the_fates",
        "techniques_doompause",
      ]
    }
  }
