include ../fields.pug

mixin specialAbility()
  .specialAbility
    .head
      .name.inlineBlock: +input('text', 'name')
      +labelledBoxH('Uses').uses: +fraction('uses')
    .description: +textarea('description')(placeholder='Description')

.specialFeatsTab
  .inlineBlock(style='float: left; width: 45%;')
    h2 Racial Abilities
    +repeating('race_abilities')
      +specialAbility()

    h2 Class Abilities
    +repeating('class_abilities')
      +specialAbility()

    h2 Other Abilities
    +repeating('other_abilities')
      +specialAbility()

  .inlineBlock(style='float: right; width: 45%;')
    h2 Feats
    h2 Traits
