include ../fields.pug

mixin feat()
  .card.feat
    .head
      +labelledBoxH('Lv').level: +select('level')
        option 1
        option 3
        option 5
        option 7
        option 9
        option 11
        option 13
        option 15
        option 17
        option 19
        option bonus
      .name: +input('text', 'name')(placeholder='Feat name')
    .body: .description: +textarea('description')(placeholder='Description')

mixin specialAbility()
  .card.specialAbility
    .head
      .name: +input('text', 'name')(placeholder='Ability name')
      +labelledBoxH('Uses').uses: +fraction('uses')
    .body: .description: +textarea('description')(placeholder='Description')

mixin trait()
  .card.trait
    .head
      .name: +input('text', 'name')(placeholder='Trait name')
    .body: .description: +textarea('description')(placeholder='Description')

.specialFeatsTab
  .inlineBlock(style='float: left; width: 45%;')
    h2 Racial Abilities
    +repeating('race_abilities')
      +specialAbility()

    h2 Class Abilities
    +repeating('class_abilities')
      +specialAbility()

    h2 Other Abilities
    +repeating('other_abilities')
      +specialAbility()

  .inlineBlock(style='float: right; width: 45%;')
    h2 Feats
    +repeating('feats')
      +feat()

    h2 Traits
    +repeating('traits')
      +trait()
