- 
  var 
    act_inputs = {
      zero: [
        {
          is_together: true,
          prompt: 'conflict',
          subtitles: [ 'conflict_subtitle' ],
          placeholder: 'conflict_placeholder',
          random_table: 'conflict',
        },
        {
          is_together: true,
          prompt: 'origin',
          subtitles: [ 'origin_subtitle' ],
        },
        {
          is_together: false,
          prompt: 'side_stands_for',
          placeholder: 'what_is_at_stake',
        },
        {
          is_together: false,
          prompt: 'conflict_fought_by',
          subtitles: [ 'conflict_fought_by_subtitle' ],
          random_table: 'fought_by',
        },
        {
          is_together: false,
          prompt: 'side',
        },
      ],
      one: [
        {
          is_together: false,
          prompt: 'name',
        },
        {
          is_together: false,
          prompt: 'pronouns',
        },
        {
          is_together: false,
          prompt: 'introduction',
          random_table: 'introduced_to_conflict',
        },
        {
          is_together: false,
          prompt: 'chosen_by_fate',
          random_table: 'chosen_because',
        },
        {
          is_together: false,
          prompt: 'stand_for',
          subtitles: [ 'risk_to_lose' ],
          placeholder: 'stand_for_placeholder',
        },
        {
          is_together: false,
          prompt: 'background',
          subtitles: [ 'background_subtitle' ],
          placeholder: 'background_placeholder',
        }
      ],
      two: [
        {
          is_together: true,
          prompt: 'first_battle',
          subtitles: [ 'first_battle_subtitle' ],
        },
        {
          is_together: false,
          prompt: 'looks',
          subtitles: [ 'looks_subtitle' ],
          placeholder: 'looks_placeholder',
        },
        {
          is_together: true,
          prompt: 'circumstances',
          subtitles: [ 'circumstances_subtitle' ],
        }
      ],
      three: [
        {
          is_together: false,
          prompt: 'taken_from_you',
          subtitles: [ 'taken_from_you_subtitle' ],
          placeholder: 'taken_from_you_placeholder',
        },
        {
          is_together: false,
          prompt: 'why_stop_them',
          subtitles: [ 'why_stop_them_subtitle' ],
          placeholder: 'why_stop_them_placeholder',
        },
        {
          is_together: false,
          prompt: 'rival_reputation',
          subtitles: [ 'rival_reputation_subtitle_one', 'rival_reputation_subtitle_two' ],
          placeholder: 'rival_reputation_placeholder',
        }
      ],
      final: [
        { prompt: 'act_final_instruction_one' },
        { prompt: 'act_final_instruction_two' },
      ],
    }
