
-
  var navigation = [
      {
        pages: [
          { id: '0', text: 'acts' },
          { id: '1', text: 'encounter_report_sheet' }
        ]
      }
    ]

-
  var act_names = [ 'zero', 'one', 'two', 'three', 'final' ]

-
  var act_tab = [ 'nav_zero', 'nav_one', 'nav_two', 'nav_three', 'nav_final' ]
