
- 
  var
    random_tables = {
      conflict: {
        name: 'conflict',
        roll_id: 'conflict',
        dice: 'd6',
        columns: '2',
        rows: rt_conflict
      },
      fought_by: {
        name: 'fought_by',
        roll_id: 'fought_by',
        dice: 'd6',
        columns: '2',
        rows: rt_fought_by
      },
      introduced_to_conflict: {
        name: 'introduced_to_conflict',
        roll_id: 'introduced_to_conflict',
        dice: 'd6',
        columns: '2',
        rows: rt_introduced_to_conflict
      },
      chosen_because: {
        name: 'chosen_because',
        roll_id: 'chosen_because',
        dice: 'd6',
        columns: '2',
        rows: rt_chosen_because
      },
      battle_context: {
        name: 'battle_context',
        roll_id: 'battle_context',
        dice: 'd6',
        columns: '2',
        rows: rt_battle_context
      },
    }

- 
  var 
    rt_conflict = [
      'war_for_resources', 
      'opposing_politics', 
      'the_defense_of_honor',
      'survival_of_the_fittest',
      'race_for_progress',
      'a_long_forgotten_secret'
    ]

- 
  var 
    rt_fought_by = [
      'mechas',
      'armies',
      'spaceships',
      'magic',
      'ancient_weapons',
      'modern',
      'weapons',
      'direct_confrontation',
      'subterfuge',
      'economic_threats',
      'resource_depletion',
      'espionage'
    ]

- 
  var 
    rt_introduced_to_conflict = [
      'its_all_i_ever_knew',
      'it_took_everything_from_me',
      'it’s_what_i_was_made_for',
      'i_heard_the_call_of_duty',
      'i_was_chosen',
      'i_was_caught_by_coincidences'
    ]

- 
  var 
    rt_chosen_because = [
      'its_all_i_ever_knew',
      'it_took_everything_from_me',
      'it’s_what_i_was_made_for',
      'i_heard_the_call_of_duty',
      'i_was_chosen',
      'i_was_caught_by_coincidences'
    ]

- 
  var
      rt_battle_context = [
        'headquarter_invasion',
        'open_skirmish',
        'pursuit_of_defeated_foes',
        'springing_a_trap',
        'point_defense',
        'objective_retrieval'
      ]
