
//sheet version
input(type="hidden" name="attr_version" value="1.2.0")
input(type="hidden" name="attr_dice" value="2d10cf0cs0")
input(type="hidden" name="attr_none" value="0")

- var skillsgodsend = ["Athletics", "Evade", "Fighting", "Influence", "Intuition", "Investigation", "Movement", "Perform", "Piloting", "Ranged Fighting", "Resistance", "Scholar", "Stealth", "Technical", "Thievery"];

datalist#skillsgodsend
   each item in skillsgodsend
         option(value=`${item}`)
