
//sheet version
input(type="hidden" name="attr_version" value="1.0.0")


input(type="hidden" name="attr_" value="0")


datalist#list
  each item in ["human", "elf", "dwarf", "halfling"]
        option(value=`${item}`)
