
//sheet version
input(type="hidden" name="attr_version" value="1.0.0")

input(type="hidden" name="attr_none" value="0")

//- - var = ["lore", "crafting", "dwarf", "halfling"];

//- datalist#skillsgodsend
//-   each item in 
//-         option(value=`${item}`)
