
//sheet version
input(type="hidden" name="attr_version" value="1.3.0")
input(type="hidden" name="attr_dice" value="2d10cf0cs0")
input(type="hidden" name="attr_none" value="0")

- var archetypesgodsend = ["Adventurer", "Anarchist","Avenger", "Bravo", "Icon", "Outsider", "Protector", "Rogue", "Scholar", "Warrior", "Crony", "Megalomaniac", "Nihilist"];
- var speciesgodsend = ["Angelos", "Atlantean", "Black October", "Chimerans", "Elohim", "U.S.E.R. Agent"];
- var skillsgodsend = ["Athletics", "Evade", "Fighting", "Influence", "Intuition", "Investigation", "Movement", "Perform", "Piloting", "Ranged Fighting", "Resistance", "Scholar", "Stealth", "Technical", "Thievery"];

datalist#archetypesgodsend
   each item in archetypesgodsend
         option(value=`${item}`)

datalist#speciesgodsend
   each item in speciesgodsend
         option(value=`${item}`)

datalist#skillsgodsend
   each item in skillsgodsend
         option(value=`${item}`)

