//- Mixins
mixin attrsrolls(name)
  div.rowflex.nowrap
    button(name=`roll_${name}` value!=`@{whisper}&{template:rolls} {{title=${name} }} {{subtitle=@{character_name} }}  {{roll= [[@{dice}[dice]+@{${name}}[${name}] @{modquery}]]}}` type="roll")= name
    input(name=`attr_${name}` type="number" title=`@{${name}}` value="")

mixin attrselect
  select(name="attr_attribute")
    each name in attrsall
      option.cap(value=`[[@{${name}}]]`)= name
