rolltemplate.sheet-rolltemplate-rolls
  .sheet-container(class='sheet-color-{{color}}')
    .sheet-header
      | {{#title}}
      .sheet-title {{title}}
      | {{/title}}
      |       {{#name}}
      .sheet-name {{name}}
      | {{/name}}
      |       {{#subtitle}}
      .sheet-subtitle {{subtitle}}
      | {{/subtitle}}
    .sheet-content
      | {{#allprops() title subtitle name desc color}}
      .sheet-key {{key}}
      .sheet-value {{value}}
      |       {{/allprops() title subtitle name desc color}}
      |       {{#roll}}
      .sheet-key {{key}}
      .sheet-value {{value}}
      |       {{/roll}}
      |       {{#rollLess() roll 0}}
      .sheet-fail Critical Fumble!
      |       {{/rollLess() roll 0}}
      |       {{#rollBetween() roll 1 5}}
      .sheet-fail Failure
      |       {{/rollBetween() roll 1 5}}
      |       {{#rollBetween() roll 6 10}}
      .sheet-crit Partial Success
      |       {{/rollBetween() roll 6 10}}
      |       {{#rollBetween() roll 11 19}}
      .sheet-crit Success
      |       {{/rollBetween() roll 11 19}}
      |       {{#rollGreater() roll 19}}
      .sheet-crit Critical Success!
      |       {{/rollGreater() roll 19}}
      |       {{#desc}}
      .sheet-desc {{desc}}
      | {{/desc}}