//- PUG variables/lists
- var pages = ["character", "notes", "settings"];
- var attrs1 = ["con", "dex", "spd", "str", "cr"];
- var attrs2 = ["cha", "int", "per", "wil", "mr"];
- var attrsall = ["con", "dex", "spd", "str", "cr", "cha", "int", "per", "wil", "mr", "none"];
- var points = ["body", "mind", "hero"];
- var disadv = ["personal", "internal", "external"];
- var notes = ["archetype", "species_notes", "weapons", "powers", "equipment", "notes"];
- var notes1 = ["archetype", "species_notes","equipment" ];