.repcontainer[data-groupname=repeating_superb] .repitem,
.repcontainer[data-groupname=repeating_great] .repitem,
.repcontainer[data-groupname=repeating_good] .repitem,
.repcontainer[data-groupname=repeating_fair] .repitem,
.repcontainer[data-groupname=repeating_average] .repitem,
.repcontainer[data-groupname=repeating_locations] .repitem,
.repcontainer[data-groupname=repeating_faces] .repitem {
    display: inline-block;
}

.repcontainer[data-groupname=repeating_superb] .repitem input[type=text],
.repcontainer[data-groupname=repeating_great] .repitem input[type=text],
.repcontainer[data-groupname=repeating_good] .repitem input[type=text],
.repcontainer[data-groupname=repeating_fair] .repitem input[type=text],
.repcontainer[data-groupname=repeating_average] .repitem input[type=text] {
    margin-bottom: 5px;
}

.repcontainer[data-groupname=repeating_superb] .repitem:last-child .sheet-skill-delimiter,
.repcontainer[data-groupname=repeating_great] .repitem:last-child .sheet-skill-delimiter,
.repcontainer[data-groupname=repeating_good] .repitem:last-child .sheet-skill-delimiter,
.repcontainer[data-groupname=repeating_fair] .repitem:last-child .sheet-skill-delimiter,
.repcontainer[data-groupname=repeating_average] .repitem:last-child .sheet-skill-delimiter {
    opacity: 0;
}

.repcontainer[data-groupname=repeating_superb] .repitem:not(first-child) .sheet-skill-delimiter,
.repcontainer[data-groupname=repeating_great] .repitem:not(first-child) .sheet-skill-delimiter,
.repcontainer[data-groupname=repeating_good] .repitem:not(first-child) .sheet-skill-delimiter,
.repcontainer[data-groupname=repeating_fair] .repitem:not(first-child) .sheet-skill-delimiter,
.repcontainer[data-groupname=repeating_average] .repitem:not(first-child) .sheet-skill-delimiter {
    margin-right: 5px;
}

.repcontainer[data-groupname=repeating_powers] .repitem { margin-bottom: 5px; }

.repcontrol { margin-bottom: 5px; }

.repcontainer.editmode[data-groupname=repeating_powers] + .repcontrol { text-align: right; }
.repcontainer.editmode[data-groupname=repeating_powers] + .repcontrol .repcontrol_edit { float: none; }

.repcontainer.editmode[data-groupname=repeating_locations] .repitem .sheet-section,
.repcontainer.editmode[data-groupname=repeating_faces] .repitem .sheet-section { z-index: -1; }

.charsheet {
    font-size: 12pt;
    line-height: 1em;
    background: white;
}
