<div class="sheet-wrap-box sheet-relative sheet-mar-b-md sheet-pad-r-lg sheet-pad-l-lg">
  <div class="sheet-shaped-row">
    <div class="sheet-col-25 sheet-center sheet-vert-middle sheet-pad-r-sm">
      <input class="sheet-action-name sheet-center" type="text" placeholder="name" name="attr_classactionname{{num}}">
    </div>
    <div class="sheet-col-08 sheet-center sheet-pad-r-sm">
      <input type="number" name="attr_classactionresource{{num}}">

      <div class="sheet-small-label">
        <span class="sheet-en">Current</span>
        <span class="sheet-de">Current</span>
        <span class="sheet-fr">Actuel</span>
        <span class="sheet-ru">Текущее</span>
      </div>
    </div>
    <div class="sheet-col-08 sheet-center sheet-pad-r-sm">
      <input type="number" name="attr_classactionresource{{num}}_max">

      <div class="sheet-small-label">
        <span class="sheet-en">Max</span>
        <span class="sheet-de">Max</span>
        <span class="sheet-fr">Max</span>
        <span class="sheet-ru">Max</span>
      </div>
    </div>
    <div class="sheet-col-16 sheet-center sheet-pad-r-sm">
      <span class="sheet-en">
        <select name="attr_classactionrecharge{{num}}">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Short Rest</option>
          <option value="Long rest">Long Rest</option>
          <option value="Other">Other</option>
        </select>
      </span>
      <span class="sheet-de">
        <select name="attr_classactionrecharge{{num}}">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Short Rest</option>
          <option value="Long rest">Long Rest</option>
          <option value="Other">Other</option>
        </select>
      </span>
      <span class="sheet-fr">
        <select name="attr_classactionrecharge{{num}}">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Repos Court</option>
          <option value="Long rest">Repos Long</option>
          <option value="Other">Autre</option>
        </select>
      </span>
	    <span class="sheet-ru">
        <select name="attr_classactionrecharge{{num}}">
          <option value="None">&#8212;</option>
          <option value="Short Rest">Краткий отдых</option>
          <option value="Long rest">Прод.отдых</option>
          <option value="Other">Другое</option>
        </select>
      </span>

      <div class="sheet-small-label">Recharge</div>
    </div>
    <div class="sheet-col-16 sheet-center">
      <span class="sheet-en">
        <select name="attr_classactionsource{{num}}">
          <option value="Not set" selected>&#8212;</option>
          <option value="Barbarian">Barbarian</option>
          <option value="Bard">Bard</option>
          <option value="Cleric">Cleric</option>
          <option value="Druid">Druid</option>
          <option value="Fighter">Fighter</option>
          <option value="Monk">Monk</option>
          <option value="Paladin">Paladin</option>
          <option value="Ranger">Ranger</option>
          <option value="Rogue">Rogue</option>
          <option value="Sorcerer">Sorcerer</option>
          <option value="Warlock">Warlock</option>
          <option value="Wizard">Wizard</option>
          <option value="Feat">Feat</option>
          <option value="Other">Other</option>
        </select>
      </span>
      <span class="sheet-de">
        <select name="attr_classactionsource{{num}}">
          <option value="Not set" selected>&#8212;</option>
          <option value="Barbarian">Barbarian</option>
          <option value="Bard">Barde</option>
          <option value="Cleric">Kleriker</option>
          <option value="Druid">Druide</option>
          <option value="Fighter">Fighter</option>
          <option value="Monk">Monk</option>
          <option value="Paladin">Paladin</option>
          <option value="Ranger">Waldläufer</option>
          <option value="Rogue">Rogue</option>
          <option value="Sorcerer">Hexenmeister</option>
          <option value="Warlock">Hexer</option>
          <option value="Wizard">Zauberer</option>
          <option value="Feat">Feat</option>
          <option value="Other">Andere</option>
        </select>
      </span>
      <span class="sheet-fr">
        <select name="attr_classactionsource{{num}}">
          <option value="Not set" selected>&#8212;</option>
          <option value="Barbarian">Barbare</option>
          <option value="Bard">Barde</option>
          <option value="Cleric">Clerc</option>
          <option value="Druid">Druide</option>
          <option value="Fighter">Guerrier</option>
          <option value="Monk">Moine</option>
          <option value="Paladin">Paladin</option>
          <option value="Ranger">Rôdeur</option>
          <option value="Rogue">Roublard</option>
          <option value="Sorcerer">Ensorceleur</option>
          <option value="Warlock">Sorcier</option>
          <option value="Wizard">Magicien</option>
          <option value="Feat">Don</option>
          <option value="Other">Autre</option>
        </select>
      </span>
	    <span class="sheet-ru">
        <select name="attr_classactionsource{{num}}">
          <option value="Not set" selected>&#8212;</option>
          <option value="Barbarian">Варвар</option>
          <option value="Bard">Бард</option>
          <option value="Cleric">Жрец</option>
          <option value="Druid">Друид</option>
          <option value="Fighter">Воин</option>
          <option value="Monk">Монах</option>
          <option value="Paladin">Паладин</option>
          <option value="Ranger">Следопыт</option>
          <option value="Rogue">Плут</option>
          <option value="Sorcerer">Чародей</option>
          <option value="Warlock">Колдун</option>
          <option value="Wizard">Волшебник</option>
          <option value="Feat">Черта</option>
          <option value="Other">Другое</option>
        </select>
      </span>

      <div class="sheet-small-label">
        <span class="sheet-en">Gained from?</span>
        <span class="sheet-de">Gained from?</span>
        <span class="sheet-fr">Action de classe?</span>
        <span class="sheet-ru">Получено от?</span>
      </div>
    </div>
    <div class="sheet-action-button-group sheet-right">
      <div class="sheet-shaped-row">
        <div class="sheet-col sheet-center sheet-vert-middle">
          <button type="roll" name="roll_classaction{{num}}" value="@{output_option} &{template:5eDefault} {{classaction={{num}}}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{classactionname{{num}}}}} {{subheader=Class Action {{num}}}} {{freetext=@{classactionoutput{{num}}}}}">
            <span class="sheet-en">Use</span>
            <span class="sheet-de">Use</span>
            <span class="sheet-fr">Jet</span>
            <span class="sheet-ru">Use</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet-center sheet-mar-t-md">
    <textarea class="sheet-small-textarea" name="attr_classactionoutput{{num}}"></textarea>

    <div class="sheet-small-label">
      <span class="sheet-en">Output</span>
      <span class="sheet-de">Output</span>
      <span class="sheet-fr">Effets</span>
      <span class="sheet-ru">Результат</span>
    </div>
  </div>
  <span class="sheet-small-note sheet-pad-r-lg">
    <span class="sheet-en">Show output options?</span>
    <span class="sheet-de">Show output options?</span>
    <span class="sheet-fr">Montrer les options de sortie?</span>
	  <span class="sheet-ru">Показать результат?</span>
  </span><input type="checkbox" name="attr_classactionshowoptions{{num}}" class="sheet-classactionshowoptions{{num}}" value="1">

  <div class="sheet-classaction-output-options sheet-pad-b-md sheet-mar-b-md">
    <span class="sheet-pad-l-lg sheet-pad-r-lg sheet-small-note">
      <span class="sheet-en">Check the appropriate option(s) below to have the output automatically be included in the roll type specified</span>
      <span class="sheet-de">Check the appropriate option(s) below to have the output automatically be included in the roll type specified</span>
      <span class="sheet-fr">Cocher les options appropriées pour avoir les effets être automatiquement inclus dans le(s) type(s) de jet(s) spécifié(s)</span>
	    <span class="sheet-ru">Выберите подходящую вам опцию из списка ниже. Выбранная опция будет автоматически рассчитываться при бросках.</span>
    </span>

    <div class="sheet-shaped-row sheet-sub-header sheet-small-label sheet-center">
      <div class="sheet-col-20">
        <span class="sheet-en">Saving Throws</span>
        <span class="sheet-de">Saving Throws</span>
        <span class="sheet-fr">Jets de Sauvegarde</span>
        <span class="sheet-ru">Спасброски</span>
      </div>
      <div class="sheet-col-20">
        <span class="sheet-en">Ability Checks</span>
        <span class="sheet-de">Ability Checks</span>
        <span class="sheet-fr">Jets de Caractéristique</span>
        <span class="sheet-ru">Проверки характеристик</span>
      </div>
      <div class="sheet-col-40">
        <span class="sheet-en">Core Skills</span>
        <span class="sheet-de">Core Skills</span>
        <span class="sheet-fr">Jets de Compétences</span>
        <span class="sheet-ru">Основные Навыки</span>
      </div>
      <div class="sheet-col-20">
        <span class="sheet-en">Weapons/Spell/Misc</span>
        <span class="sheet-de">Weapons/Spell/Misc</span>
        <span class="sheet-fr">Armes/Sorts/Autre</span>
        <span class="sheet-ru">Оружие/Магия/Проч</span>
      </div>
    </div>
    <div class="sheet-shaped-row">
      <input type="hidden" name="attr_class_action_output_var_{{num}}" value="{{@{classactionname{{num}}}=@{classactionoutput{{num}}}}}">

      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Strength Save</span>
              <span class="sheet-de">Strength Save</span>
              <span class="sheet-fr">Sauvegarde de Force</span>
              <span class="sheet-ru">Спасбросок Силы</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionstrengthsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Dexterity Save</span>
              <span class="sheet-de">Dexterity Save</span>
              <span class="sheet-fr">Sauvegarde de Dextérité</span>
              <span class="sheet-ru">Спасбросок Ловкости</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondexteritysave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Constitution Save</span>
              <span class="sheet-de">Constitution Save</span>
              <span class="sheet-fr">Sauvegarde de Constitution</span>
              <span class="sheet-ru">Спасбросок Телосложения</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionconstitutionsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Intelligence Save</span>
              <span class="sheet-de">Intelligence Save</span>
              <span class="sheet-fr">Sauvegarde d'Intelligence</span>
              <span class="sheet-ru">Спасбросок Интеллекта</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionintelligencesave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Wisdom Save</span>
              <span class="sheet-de">Wisdom Save</span>
              <span class="sheet-fr">Sauvegarde de Sagesse</span>
              <span class="sheet-ru">Спасбросок Мудрости</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionwisdomsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Charisma Save</span>
              <span class="sheet-de">Charisma Save</span>
              <span class="sheet-fr">Sauvegarde de Charisme</span>
              <span class="sheet-ru">Спасбросок Харизмы</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncharismasave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Death Save</span>
              <span class="sheet-de">Death Save</span>
              <span class="sheet-fr">Jets contre la Mort</span>
              <span class="sheet-ru">Спасбросок от смерти</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondeathsave{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Strength Check</span>
              <span class="sheet-de">Strength Check</span>
              <span class="sheet-fr">Jets de Force</span>
              <span class="sheet-ru">Спасбросок Силы</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledstr{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Dexterity Check</span>
              <span class="sheet-de">Dexterity Check</span>
              <span class="sheet-fr">Jets de Dextérité</span>
              <span class="sheet-ru">Проверка Ловкости</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilleddex{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Constitution Check</span>
              <span class="sheet-de">Constitution Check</span>
              <span class="sheet-fr">Jets de Constitution</span>
              <span class="sheet-ru">Проверка Телосложения</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledcon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Intelligence Check</span>
              <span class="sheet-de">Intelligence Check</span>
              <span class="sheet-fr">Jets d'Intelligence</span>
              <span class="sheet-ru">Проверка Интеллекта</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledint{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Wisdom Check</span>
              <span class="sheet-de">Wisdom Check</span>
              <span class="sheet-fr">Jets de Sagesse</span>
              <span class="sheet-ru">Проверка Мудрости</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledwis{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Charisma Check</span>
              <span class="sheet-de">Charisma Check</span>
              <span class="sheet-fr">Jets de Charisme</span>
              <span class="sheet-ru">Проверка Харизмы</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionunskilledcha{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Acrobatics</span>
              <span class="sheet-de">Akrobatik</span>
              <span class="sheet-fr">Acrobaties</span>
              <span class="sheet-ru">Акробатика</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionacrobatics{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Animal Handling</span>
              <span class="sheet-de">Tierumgang</span>
              <span class="sheet-fr">Dressage</span></div>
            <span class="sheet-ru">Уход за животными</span>

            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionanimalhandling{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Arcana</span>
              <span class="sheet-de">Arkana</span>
              <span class="sheet-fr">Arcanes</span>
              <span class="sheet-ru">Знание Магии</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionarcana{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Athletics</span>
              <span class="sheet-de">Athletik</span>
              <span class="sheet-fr">Athlétisme</span>
              <span class="sheet-ru">Атлетика</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionathletics{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Deception</span>
              <span class="sheet-de">Täuschung</span>
              <span class="sheet-fr">Tromperie</span>
              <span class="sheet-ru">Обман</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactiondeception{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">History</span>
              <span class="sheet-de">Geschichte</span>
              <span class="sheet-fr">Histoire</span>
              <span class="sheet-ru">История</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionhistory{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Insight</span>
              <span class="sheet-de">Einsicht</span>
              <span class="sheet-fr">Intuition</span>
              <span class="sheet-ru">Проницательность</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninsight{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Intimidation</span>
              <span class="sheet-de">Einschüchter</span>
              <span class="sheet-fr">Intimidation</span>
              <span class="sheet-ru">Запугивание</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionintimidation{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Investigation</span>
              <span class="sheet-de">Investigation</span>
              <span class="sheet-fr">Investigation</span>
              <span class="sheet-ru">Анализ</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninvestigation{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Medicine</span>
              <span class="sheet-de">Medizin</span>
              <span class="sheet-fr">Médecine</span>
              <span class="sheet-ru">Медицина</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionmedicine{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Nature</span>
              <span class="sheet-de">Naturkunde</span>
              <span class="sheet-fr">Nature</span>
              <span class="sheet-ru">Природа</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionnature{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Perception</span>
              <span class="sheet-de">Entdecken</span>
              <span class="sheet-fr">Perception</span>
              <span class="sheet-ru">Внимательность</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionperception{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Performance</span>
              <span class="sheet-de">Auftreten</span>
              <span class="sheet-fr">Représentation</span>
              <span class="sheet-ru">Выступление</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionperformance{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Persuasion</span>
              <span class="sheet-de">Überreden</span>
              <span class="sheet-fr">Persuasion</span>
              <span class="sheet-ru">Убеждение</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionpersuasion{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Religion</span>
              <span class="sheet-de">Religions Wiss..</span>
              <span class="sheet-fr">Religion</span>
              <span class="sheet-ru">Религия</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionreligion{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Sleight of Hand</span>
              <span class="sheet-de">Fingerfertigkeit</span>
              <span class="sheet-fr">Escamotage</span>
              <span class="sheet-ru">Ловкость рук</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionsleightofhand{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Stealth</span>
              <span class="sheet-de">Tarnung</span>
              <span class="sheet-fr">Discrétion</span>
              <span class="sheet-ru">Скрытность</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionstealth{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Survival</span>
              <span class="sheet-de">Überlebenskun</span>
              <span class="sheet-fr">Survie</span>
              <span class="sheet-ru">Выживание</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionsurvival{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Custom 1</span>
              <span class="sheet-de">Custom 1</span>
              <span class="sheet-fr">Custom 1</span>
              <span class="sheet-ru">Особый 1</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom1skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Custom 2</span>
              <span class="sheet-de">Custom 2</span>
              <span class="sheet-fr">Custom 2</span>
              <span class="sheet-ru">Особый 2</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom2skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Custom 3</span>
              <span class="sheet-de">Custom 3</span>
              <span class="sheet-fr">Custom 3</span>
              <span class="sheet-ru">Особый 3</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom3skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Custom 4</span>
              <span class="sheet-de">Custom 4</span>
              <span class="sheet-fr">Custom 4</span>
              <span class="sheet-ru">Особый 4</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioncustom4skill{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
      <div class="sheet-col-20 sheet-pad-l-lg">
        <div class="sheet-class-action-zebra">
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Initiative</span>
              <span class="sheet-de">Initiative</span>
              <span class="sheet-fr">Initiative</span>
              <span class="sheet-ru">Инициатива</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactioninitiative{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Hit Dice</span>
              <span class="sheet-de">Treffer Punkte</span>
              <span class="sheet-fr">Points de Vie</span>
              <span class="sheet-ru">Кость хитов</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionhitdice{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Melee Weapons</span>
              <span class="sheet-de">Nahkampf Angriffe</span>
              <span class="sheet-fr">Armes de Mêlée</span>
              <span class="sheet-ru">Рукопашное оружие</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionmeleeweapon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Ranged Weapons</span>
              <span class="sheet-de">Fermkampf Angriffe</span>
              <span class="sheet-fr">Armes à Distance</span>
              <span class="sheet-ru">Дистанционное оружие</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionrangedweapon{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Spell Info</span>
              <span class="sheet-de">Spell Info</span>
              <span class="sheet-fr">Info de Sort</span>
              <span class="sheet-ru">Инфо Заклинаний</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionspellinfo{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
          <div class="sheet-shaped-row sheet-mar-r-md">
            <div class="sheet-col-90">
              <span class="sheet-en">Spell Cast</span>
              <span class="sheet-de">Spell Cast</span>
              <span class="sheet-fr">Lancement de Sort</span>
              <span class="sheet-ru">Применение Заклинаний</span>
            </div>
            <div class="sheet-col-10"><input type="checkbox" name="attr_classactionspellcast{{num}}" value="@{class_action_output_var_{{num}}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
