<div class="sheet-shaped-row">
  <div class="sheet-col-46 sheet-vert-middle sheet-pad-r-sm">
    <input type="text" name="attr_classactionname{{num}}">
  </div>
  <div class="sheet-col-13 sheet-center sheet-pad-r-sm">
    <span class="sheet-en">
      <select name="attr_classactionrecharge{{num}}" class="sheet-select-no-arrow">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Short Rest</option>
        <option value="Long rest">Long Rest</option>
        <option value="Other">Other</option>
      </select>
    </span>
    <span class="sheet-de">
      <select name="attr_classactionrecharge{{num}}" class="sheet-select-no-arrow">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Short Rest</option>
        <option value="Long rest">Long Rest</option>
        <option value="Other">Other</option>
      </select>
    </span>
    <span class="sheet-fr">
      <select name="attr_classactionrecharge{{num}}" class="sheet-select-no-arrow">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Repos Court</option>
        <option value="Long rest">Repos Long</option>
        <option value="Other">Autre</option>
      </select>
    </span>
	  <span class="sheet-ru">
      <select name="attr_classactionrecharge{{num}}" class="sheet-select-no-arrow">
        <option value="None">&#8212;</option>
        <option value="Short Rest">Краткий отдых</option>
        <option value="Long rest">Прод.отдых</option>
        <option value="Other">Другое</option>
      </select>
    </span>
  </div>
  <div class="sheet-col-12 sheet-center sheet-pad-r-sm">
    <input type="number" class="sheet-no-spin" name="attr_classactionresource{{num}}">
  </div>
  <div class="sheet-col-03 sheet-center sheet-vert-bottom">&#47;</div>
  <div class="sheet-col-12 sheet-center">
    <input type="number" class="sheet-no-spin" name="attr_classactionresource{{num}}_max">
  </div>
  <div class="sheet-col-14 sheet-center">
    <button type="roll" name="roll_classaction{{num}}" value="@{output_option} &{template:5eDefault} {{classaction={{num}}}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{classactionname{{num}}}}} {{subheader=Class Action {{num}}}} {{freetext=@{classactionoutput{{num}}}}}"></button>
  </div>
</div>
